[2021-08-27 15:24] tejadasari985 opened #22188 "[Blocks Fixture] Migrate to built-in <Cache> API and regression test"
This is task list issue.
"Blocks" fixture app which made by built-in API, 'react-fetch', Server Component combination that useful to play new features v18 later.

But current one is broken because importing removed older Cache API module.
And difficult to notice that regression because there are no tests.

So I planning these task for Blocks working fine again and write regression tests.

 [Blocks

[2021-08-27 15:27] tejadasari985 opened #22189 "React 18"
If You Having Any Issues Please Contact Me I will help You
code will submit on 1 day

[2021-08-27 15:28] tejadasari985 opened #22190 "Bug:"

[2021-08-27 15:28] #22190 closed, assigned to nobody

[2021-08-27 17:14] #22188 closed, assigned to nobody

[2021-08-27 17:17] #22189 closed, assigned to nobody

[2021-08-27 17:33] #22187 closed, assigned to nobody

[2021-08-27 17:36] tejadasari985 opened #22192 "Duplicate of https://github.com/facebook/react/issues/22152"
Duplicate of https://github.com/facebook/react/issues/22152

_Originally posted by @eps1lon in https://github.com/facebook/react/issues/22188#issuecomment-907351596_

[2021-08-27 17:38] #22192 closed, assigned to nobody

[2021-08-27 18:17] tejadasari985 opened #22194 "Bug: React Command Prompt npm is not working"
React version 6.14.3

## Steps To Reproduce

1.npx create-react-app react-project
2.cd my react-project
3.npm start

## The current behavior
Extension reports: npm ERR! code EUNSUPPORTEDPROTOCOL
2.npm ERR! Unsupported URL Type "link:": link:./scripts/eslint-rules

## The expected behavior
React Project To be Executed http://localhost:4200/
labels : [bug]

[2021-08-27 19:33] daihuaye opened #22195 "A11y related Bug: onKeyPress doesn't trigger on element (tabindex="0") when narrator is on"
React version: 17.0.2
System: Window 10

## Steps To Reproduce

1. Turn on Narrator app (Native app in Window)
2. go to the link https://q799n.csb.app/
3. use tab navigate to the Div element
4. Press any keys

Link to code example:
https://codesandbox.io/s/loving-frost-q799n?file=/src/App.js

[code]

## The current behavior
The count value doesn't change

## The expected behavior
The count value w

[2021-08-27 23:02] Ntrigued commented on #21049
I can take a look at this.

As a first step, I wasn't 100% clear what changes @benoitgrelard intended to change the example he provided into one without the bug, so I created a slightly more clear to me fork: https://codesandbox.io/s/react-mouseenter-bug-forked-40cfd?file=/src/App.js

[2021-08-28 03:48] wgxh-cli commented on #22186
Oh thanks!

[2021-08-28 04:27] gaurav5430 commented on #13770
are there any other benefits of using refs over query selector (or others) ?
For example, refs may be aware of the react virtual dom or the react component lifecycle because they work inside react, whille query selector would not? does this matter?

[2021-08-28 06:28] Subhojit-Dey1234 commented on #22152
Can anyone help? I am new to an open source projects. How can I start?

[2021-08-28 07:24] iamshubhambhola commented on #22194
try to run command `npm i` then again run `npm start`.
Also make sure that node is installed on your device.

[2021-08-28 07:50] eps1lon commented on #22186
@joealden Already explained how this is expected behavior really well.

I would add that context doesn't behave different in regards to updates as props. If you would pass `{ counter: 1}` as a prop and would mutate the value of the object, React would also not update the component.

[2021-08-28 07:50] #22186 closed

[2021-08-28 07:57] eps1lon commented on #22194
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific questio

[2021-08-28 07:57] #22194 closed

[2021-08-28 08:01] tejadasari985 commented on #22194
Node installed and while executing the project and there is a bug on related project and we have to find out that bug

[2021-08-28 15:26] skolodyazhnyy commented on #14738
I stumbled on a problem similar to one described in this issue. So, just to add a use-case for dependencies in `useState`.

I'm using react-router to render different pages in my application. I have a route similar to `/pages/:page_id`. Each page is rendered using same tree of components, but for different `page_id`, a different `Page` object is passed around. On the page I have a form with a cont

[2021-08-28 15:54] ChocolateLoverRaj commented on #10231
@gaearon It's been four years... it there any planned date for batching everything by default?

[2021-08-28 20:34] mmilet02 commented on #13991
Hi. I need help with my project, I am relatively new to React JS so sorry for tha lack of knowledge :). So I have small project, folder structure is:

rootFolder
  | node_mdules
  | public
  | src
  | package.json

So I found out that when I added this onSubmit function in AddTask.js file I get error:

Error: Invalid hook call. Hooks can only be called inside of the body of a function component. T

[2021-08-28 20:38] TimNZ commented on #13991
You are calling the component function AddTask from within the onSubmit handler inside AddTask.
This is definitely not what you are intending.

[2021-08-28 21:14] mmilet02 commented on #13991
Wow, @TimNZ  thank you a lot :D I was losing my mind for two day because of typo :(

[2021-08-28 21:14] mmilet02 commented on #13991
Wow, @TimNZ thank you a lot :D I was losing my mind for two day because of typo :(

[2021-08-29 00:20] eyelidlessness commented on #20031
Apologies for wandering into a 10 month stale discussion with questions about motivations for long-stable functionality.

### My own motivation, for context

I’m working on an ESM loader for Node to automatically transpile with ESBuild. This is something that seems like it would be trivial, and in fact there are a couple implementations already out there. Both are fairly incomplete in a variety of

[2021-08-29 03:02] markerikson commented on #20031
@eyelidlessness semi-serious question: are you actually familiar with what `key` actually does in React?

- https://reactjs.org/docs/lists-and-keys.html#keys
- https://blog.isquaredsoftware.com/2020/05/blogged-answers-a-mostly-complete-guide-to-react-rendering-behavior/#keys-and-reconciliation

React does not pass `key` through to a component as an actual prop.  In fact, I've seen users assume the

[2021-08-29 03:03] markerikson commented on #13770
@gaurav5430 yes, that's exactly the point.

React will always update a ref with the correct DOM node for the element you put the `ref` on, right after it's done rendering.

[2021-08-29 05:11] WHK102 opened #22204 "Bug: Unsupported window.navigator.clipboard"
React version: 17.0.2
Browser: Mozilla Firefox 91.0.2
O.S: GNU/Linux, Ubuntu 20.04 LTS
Node: v14.17.5

## Steps To Reproduce

Write component with:

[code]

## The current behavior

`window.navigator` is resolved fine but `window.navigator.clipboard` is undefined, but from navigator developer console is already defined:

[code]

## The expected behavior

When call `window.navigator.clipboard` retu

[2021-08-29 08:00] ryota-murakami commented on #22152
Thank you for forks who has interest about this issue.
Actually, the "Good to First Issue" label is attached by @bvaughn however this [Blocks Fixture] part original author  is @gaearon.

Therefore we have to wait to take up bellow first PR review,

- https://github.com/facebook/react/pull/22151

And confirm Dan to how about my regression test plan with Cypress.
So waiting is only option now until

[2021-08-29 11:19] aidanwardman opened #22206 "React Port always in use"
It doesn't seem to matter what port I use, react always thinks it's in use, how can I get around this? It's causing trouble for having a static port for mapping.

? Something is already running on port 12345.
Would you like to run the app on another port instead? › (Y/n)

Running on:
- CentOS 8

[2021-08-29 14:15] windmaomao commented on #15156
I wonder why the option 3 is not the build-in option for React.

The reason why i say that is, the Root is always bailed out in the single dispatch case. But when the Provider is used, no one is taking care of the path between the Provider to the consumer any more. So if Root can be bailed out always, why not the first children of the Provider. I would relate the Root to the Provider, as in single

[2021-08-29 17:21] bvaughn commented on #22206
Doesn't sound like you're talking about React here. React doesn't have anything to do with ports. Are you thinking about create-react-app? If so, that's a different repository with different maintainers:
https://github.com/facebook/create-react-app/issues/

Though realistically you should probably post something like this on Stack Overflow:
[https://stackoverflow.com/questions/tagged/react](https:

[2021-08-29 17:21] #22206 closed

[2021-08-29 17:22] bvaughn commented on #22204
This doesn't sound like something that has anything to do with React, but you haven't provided enough info for someone to be about to know.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can also be helpful if they help provide context on how to repro the bug.

[2021-08-29 17:44] afshin-hoseini commented on #22204
@WHK102 Apparently on Safari the access to `clipboard` object has been banned because of security issues.

On which browsers have you tested?

[2021-08-29 20:51] bvaughn commented on #22204
Seems like you can learn more about this here:
https://stackoverflow.com/questions/51805395/navigator-clipboard-is-undefined

I'm going to close this issue as it seems highly unlikely it has anything to do with React.

[2021-08-29 20:51] #22204 closed

[2021-08-30 03:28] WHK102 commented on #22204
Yes, you are right, when developing the application it runs on localhost: 3000 and is considered an untrusted source, so the browser cannot access the clipboard object.

[2021-08-30 05:59] zdu-strong opened #22209 "Suggestion: React 18 (PureComponent)"
Hello, I am a programmer.
When I use PureComponent, it is very efficient. But React does not provide a setState method that can modify immutable data structures.
Therefore, the immer library is used in the setState method to implement the modification of immutable data.
You can consider absorbing immer, and then provide an easy-to-use setState method.

![image](https://user-images.githubuserconten

[2021-08-30 09:20] scarqin commented on #22127
test

[2021-08-30 10:50] aniruddhapw commented on #22152
I would like to contribute

[2021-08-30 11:20] Archies13Singh commented on #16416
Can I take these issue?

[2021-08-30 13:20] polRk commented on #20205
Another example:

[code]

[2021-08-30 14:32] bvaughn commented on #22209
This looks like a substantial change being proposed. :smile: Changes like this should go through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

The RFC process is a great opportunity to get more eyeballs on your proposal before it becomes a part of a released version of React. Quite often, even proposals that seem "obvious" can be significantly improved once a wider group of interest

[2021-08-30 14:32] #22209 closed

[2021-08-30 15:35] VilleMiekkoja opened #22212 "Bug: input onChange not triggered when input value is changed through ref current stepDown/Up functions"
Input with type number does not trigger onChange if native stepper functions are called through react ref current like this:

`inputRef.current.stepDown();`

If you press the step functions of a fully native (no react) number input, then the onChange will get called. But somehow it will not get called if they are called through react refs.

React version: 16.13.1

## Steps To Reproduce

1.  git cl

[2021-08-30 17:24] burhanbvk opened #22214 "Bug:"
When you make a nested ReactDOMServer.renderToString call (i.e. call ReactDOMServer.renderToString from within a component rendered using ReactDOMServer.renderToString), you can not use any hooks after the second call. Custom hooks work, but React hooks throw a invalid hook call error.
Not sure if this is an acceptable use case for ReactDOMServer, this is how a current project is setup, I am just

[2021-08-30 19:36] bvaughn commented on #22214
IMO bug reports without titles are less likely to be looked at. You might want to update it.

[2021-08-30 19:38] burhanbvk commented on #22214
Thanks!

[2021-08-30 19:39] bvaughn commented on #21974
IMO this is not a bug. It's an intentional decision, since `<StrictMode>` wrapper components are only one way to opt an app into strict behavior.

We have another task to track making it clear which subtrees are strict or not (82) as well as one for allowing devs to temporarily override strict behavior for an app/tree (#21367).

I'm going to close this task because I think it suggests work like #2

[2021-08-30 19:39] #21974 closed

[2021-08-30 20:20] OfirD1 commented on #13991
@mpeyper Didn't work for me. For some reason, it just deletes the symlink to `<other_package>` from `./node_modules`, and doesn't make a symlink to `react` in `./node_modules'.

[2021-08-30 22:14] JadeClay opened #22216 "React 18 Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of `App`."
Im trying to make an Sticky Application, and for that I coded two components. One is the container, that render every sticky component inside it, and the second uses the data that is given to it from a JSON.

[code]
This snippet works just fine, because I tried of instead of rendering an Stickynote, to just render a paragraph element with each object and its properties of the array. But the error

[2021-08-31 04:24] saiyerniakhil commented on #22034
I couldn't reproduce this issue anymore from the past few days, can anyone confirm?

[2021-08-31 05:39] shanhan01 commented on #22216
if () {} else { } 外面再包裹个 { }

  render(){
     {
 if(this.state.show){
        return(
          <div className="StickyNotes">
            <p>{this.props.data.id} - {this.props.data.description} - {this.props.data.title}</p>

            <div className="Actions">
              <button className="Delete" onClick={() => this.setState({show: false})}>
                  <Icon>delete</Icon>

[2021-08-31 06:16] eps1lon commented on #22216
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-31 06:17] NoelCov commented on #22216
Hey there, pretty sure is because the paragraph tag is expecting a string and although your JSON object's values are strings, you are basically passing this to the paragraph tag: `<p>"hello" - "etc" - "etc"</p>` so of course it will NOT work.

**What you need to do is the following:**

`<p> ``{this.props.data.id} - {this.props.data.description} - {this.props.data.title}`` </p>`

**The backticks (

[2021-08-31 06:42] Harshvardhan1999 commented on #22152
I would love to contribute

[2021-08-31 07:06] foolish-boy commented on #13991
My React-dom is 16.14.0 and has no copy react, and my code is using class component but import an component writing by hooks? I don't know why got this error! any one help~

[2021-08-31 07:17] aditianshu commented on #22115
Hey @bvaughn
I've read up on this issue and seems like a recurring problem with Webpack. Some people have solved it in by removing the plugin "dynamic-import-webpack" from Babel and the magic comments work after that.

[2021-08-31 07:24] perqa commented on #21636
Just reproduced in Chrome using standalone react-devtools simultaneously with the browser extension. Even though the steps to reproduce might not be the same as the original reporter, as well as being misuse of the extension, I hope they might giva a clue to the root cause.

`Uncaught Error: Cannot add node "1" because a node with that id is already in the Store.`

**Prerequisites:**

1. Installed

[2021-08-31 07:58] nallalayaswanth opened #22219 "Bug: React Command Prompt npm is Not Working"
React version: 17.0.2
Node Version : v16

## Steps To Reproduce

1.npx create-react-app react-project
2.cd my react-project
3.npm start

## The current behavior
1.Extension reports: npm ERR! code EUNSUPPORTEDPROTOCOL

Note: While Executing a project Npm Error is coming and there is a bug on that npm command prompt

## The expected behavior
1.React Project To be Executed http://localhost:4200/
labe

[2021-08-31 08:08] eps1lon commented on #22219
Sorry to hear you're having trouble.

This repository is only for problems related to the React library. For Create React App please [file an issue in facebook/create-react-app](https://github.com/facebook/create-react-app/issues/new/choose).

[2021-08-31 08:08] #22219 closed

[2021-08-31 09:53] AviVahl opened #22220 "react-devtools-inline@4.17.0 weighs over 400MB (!!!)"
@bvaughn I think it was published by you. I see paths such as `/Users/bvaughn/Documents/git/react.devtools` in the bundle's comments.

v4.16.0 weighs under 8MB.
v4.17.0 weighs over 400MB and contains many dev-time bundles with source maps.

See https://www.npmjs.com/package/react-devtools-inline ("Unpacked Size: 426MB")
Or install locally to reproduce.

[2021-08-31 10:40] FlashStar09 commented on #22152
I want to contribute here!

[2021-08-31 10:46] FlashStar09 commented on #22216
I would like to contribute here!

[2021-08-31 12:15] JadeClay commented on #22216
That worked for me, thank you very much!

[2021-08-31 12:15] #22216 closed

[2021-08-31 12:51] Shyam268 opened #22222 "React 17 npm run build does not copy the assets folder to dist"
the react configuration
    "@types/node": "^12.20.19",
    "@types/react": "^17.0.16",
    "@types/react-dom": "^17.0.9",

i have added config.json file in asset folder under src
when i run  **`npm run build`** it does not copy the config.json file to dist folder.
i wanted to change the different configuration settings for different environment (test,stag,prod ...)
can you help me how to achieve

[2021-08-31 14:40] bvaughn commented on #22220
This is likely related to the named hooks feature, which imports `@babel/parser`. I thought this code only made its way into the browser extensions, but apparently it leaked.

We're looking to clean this up, regardless. Thanks for the info though. We'll be sure to look at the inline package as well.

[2021-08-31 15:01] MetaMmodern commented on #16474
Hello @bvaughn , sorry for writing into closed issue but what should I change in my React code for this to work? Cause I've done the thing you showed in gif(video) but it didn't work, no names appeared. I'm using webpack 5 with typescipt and babel.

[2021-08-31 15:02] bvaughn commented on #16474
@MetaMmodern Share a repro?

[2021-08-31 15:04] MetaMmodern commented on #16474
I can share screenshots:
Here is the code:
![image](https://user-images.githubusercontent.com/42899786/131527238-6c52fae9-480d-4e2e-81b9-739ed9291e8b.png)

And what I see in react tools:
![image](https://user-images.githubusercontent.com/42899786/131527336-1efbbcac-104a-448d-8790-e68619af1d9e.png)

Do I need to share my weback config?

[2021-08-31 15:04] MetaMmodern commented on #16474
@bvaughn I can share screenshots:
Here is the code:
![image](https://user-images.githubusercontent.com/42899786/131527238-6c52fae9-480d-4e2e-81b9-739ed9291e8b.png)

And what I see in react tools:
![image](https://user-images.githubusercontent.com/42899786/131527336-1efbbcac-104a-448d-8790-e68619af1d9e.png)

Do I need to share my weback config?

[2021-08-31 15:06] MetaMmodern commented on #16474
@bvaughn
I can share screenshots:
Here is the code:
![image](https://user-images.githubusercontent.com/42899786/131527693-f6f32615-6c9e-46f1-8f03-f5814c2e501f.png)

And what I see in react tools:
![image](https://user-images.githubusercontent.com/42899786/131527336-1efbbcac-104a-448d-8790-e68619af1d9e.png)

Do I need to share my weback config?

[2021-08-31 15:07] bvaughn commented on #16474
Need a full repro that I can run. Screenshots don't help.

[2021-08-31 15:09] MetaMmodern commented on #16474
Ok, that will take some time to create, I'll ping you here in a couple of days or on weekend then)

[2021-08-31 15:13] bvaughn commented on #16474
Actually, there is a thing that _could_ be relevant here: If your Webpack is using one of the cheap eval map variants, we don't support that b'c we can't load the underlying source code. (The source URL given is something like `webpack-internal://...` which isn't a real protocol.

We could only access this if we used internal browser APIs via the "debugger" permission, but that permission is not s

[2021-08-31 15:33] NoelCov commented on #22216
I'm glad it did. :)

[2021-08-31 15:50] inoyakaigor commented on #16474
@bvaughn

`devtools: 'eval'` also?

[2021-08-31 15:56] MetaMmodern commented on #16474
Well, for devtoool I use `inline-source-map`. Is that okay or you can suggest anything better?

[2021-08-31 16:02] MetaMmodern commented on #16474
Just tried `eval`, it gives `hooks parse failed` error.

[2021-08-31 16:42] bvaughn commented on #16474
Yes, anything with "eval" doesn't work.

If you're using inline, it should work. Le'ts get a repro :)

[2021-08-31 21:28] bvaughn commented on #22222
This is the React repo. It sounds like you're reporting an issue with create-react-app. Please report it in the create-react-app repository:
https://github.com/facebook/create-react-app/issues/

That repo is maintained by a different team of people.

Also, please search to see if the issue has already been opened before posting a new one.

[2021-08-31 21:28] #22222 closed

[2021-08-31 22:12] Link631 opened #22224 "React Hooks and loops"
Hi everybody,

given is an implementation of a list with inline editing, where each fieldType is implemented as a hook.

The hook exposes {

render: ...
validate: ()
property
}

Now we want to reuse this field for a List implementation. The list implements paging.

Now the problem:
The list items count can be different on the next page which will result in different amount of hook calls which is n

[2021-09-01 00:02] afreen23 commented on #21755
I hit this today in firefox.
Something like `Cannot remove node "6809" because no matching node was found in the Store.`

[2021-09-01 09:46] Bhaskar301101 opened #22225 "A11y_CDE - Mission Control and APIs_Measure Failure Investigation-Measure Drilldown_Screen Reader: Narrator is just reading as Group for Add dimension drop down."
Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.

Environment Details:
OS: Windows 20H2 1903(OS Build 19042.508)​
Microsoft Edge Dev Version 93.0.926.0 (Official build) dev (64-bit)
URL:  https://mission-control-ci.azurewebsites.net/​
​
Repro Steps:​​
1) Hit the URL : https://mission-control-ci.azurewebsites.net/​
2) Login with

[2021-09-01 10:05] Bhaskar301101 opened #22226 "A11y_MissionControlAndAPIs_ExperimentationGroup_GroupDetails_HighContrast: Keyboard focus is not visible in the list items of the "Select" combo edit boxes in high contrast when navigating using down arrow key"
Bug discussion:
"Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier."
Environment Details:
Application Name: Mission Control and APIs
#URL: https://mission-control-ci.azurewebsites.net/
Windows Version: Win10
Chrome version: Version 87.0.4280.88

Prerequisite:
Enable high contrast black mode
Repro Steps:
Navigate to https://mission

[2021-09-01 10:12] Bhaskar301101 opened #22227 "A11y_CDE - Mission Control and APIs_ Driver Shiprom Search_Screen Reader: Narrator is not announcing about the selected item in the 'Field' combo box"
Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier

Environment Details:
URL:  https://mission-control-ci.azurewebsites.net/
OS: Windows 10
Version: 21H1 (OS Build 19043.1052)
Browser: Version 93.0.916.1 (Edge Dev)

Note: Same issue is observed in "Released  Driver Search"

Repro Steps:​​
1) Turn on screen reader
2)  Hit the applic

[2021-09-01 10:17] Bhaskar301101 opened #22228 "A11y_CDE - Mission Control and APIs_Revision_High Contrast: Keyboard focus is not visible on list items in High Contrast Black and White modes."
Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier.

Environment Details:
URL:  https://mission-control-ci.azurewebsites.net/​
OS Details:
Microsoft windows 10 enterprise ​and 11
Version: 10.0.18362 Build 18362.356

Browser Details:​
Version 90.0.818.66 (Official build) (64-bit)
NOTE: Issue is observed through out the application w

[2021-09-01 11:01] yvesh opened #22229 "Bug: Custom CSS Property with url() causing issues"
React version: 17.0.2

## Steps To Reproduce

1. Use a Custom CSS property with the style attribute and an URL in the value, for example: `style={{'--bgi': 'url(https://example.com/test.jpg)'}}`
2. Compare the result with `style={{'backgroundImage': 'url(https://example.com/test.img)'}}`

[Live example](https://codesandbox.io/s/hopeful-haibt-vwl15?file=/src/App.js)

#### Output of the custom CSS p

[2021-09-01 11:56] eps1lon commented on #22225
This repository is not affiliated with https://mission-control-ci.azurewebsites.net/%E2%80%8B

[2021-09-01 11:56] #22225 closed

[2021-09-01 11:56] eps1lon commented on #22228
This repository is not affiliated with https://mission-control-ci.azurewebsites.net/%E2%80%8B

[2021-09-01 11:56] #22228 closed

[2021-09-01 11:56] eps1lon commented on #22227
This repository is not affiliated with https://mission-control-ci.azurewebsites.net/%E2%80%8B

[2021-09-01 11:56] #22227 closed

[2021-09-01 11:56] eps1lon commented on #22226
This repository is not affiliated with https://mission-control-ci.azurewebsites.net/%E2%80%8B

[2021-09-01 11:56] #22226 closed

[2021-09-01 12:49] looweb commented on #17800
Ok, but, what if I need to change the title for every page? I'm still stuck. I'm using [react-meta-tags](https://www.npmjs.com/package/react-meta-tags) and it doesn't work when I paste my link on social networks.

[2021-09-01 13:12] garykhong commented on #17997
Hi Brian,

I was able to get discord.com to load the react developer tools by setting the correct nonce on the injectGlobalHook.js script variable on line 8.

Is the ideal solution still to hash this script variable and to 'Add the hash to DevTools setting UI'?

[2021-09-01 18:58] bvaughn commented on #22220
This will be fixed by #22232

[2021-09-01 20:08] AviVahl commented on #22220
Thanks! I'll wait for the release :+1:

[2021-09-01 20:12] bvaughn commented on #22220
It's being published today, see #22234 😄

[2021-09-01 20:12] #22220 closed

[2021-09-01 20:25] bvaughn commented on #22224
If you want a varying number of hooks, you can create a varying number of function components (each with the hooks you need) rather than creating the hooks in the outer loop.

The reasons for this are mentioned [in the docs](https://reactjs.org/docs/hooks-rules.html#explanation) if you're curious.

[2021-09-01 21:40] Link631 commented on #22224
Thats exaclty what I am doing.

I manage to get this error with this simple component, which gets created depending on loaded number of rows:
when I remove the line with the state, the error is gone on loading next page. When i simply enter the use state command, react throws the error again.

export const TextField = (
  props: IFieldProps<TextFieldDescription, string | undefined>
): JSX.Element

[2021-09-01 21:52] bvaughn commented on #22224
You'll need to provide a more complete code example for us to be able to help.

[2021-09-02 04:54] irinakk commented on #22224
How you render your react component, it looks like you might be calling it as a function like `TextFiled()` rather than `<TextField />`

[2021-09-02 05:10] irinakk commented on #22212
What you are doing is like doing `textInput.current.value = 'a'`, which will change the ui but not trigger onChange. Instead of using stepDown, I think the more proper fix would be to directly calling `props.onChange` and to reset min or max.

[2021-09-02 05:33] Link631 commented on #22224
Jesus... I think you got me....

well, I have following structure:

export class TextFieldDescription extends FieldDescription<
  TextFieldDescription,
  string

  createField = (
    props: IFieldProps<TextFieldDescription, string | undefined>
  ): JSX.Element => {
    const [test, setTest] = useState<string>("");

    return <>test</>;
  };
}

which is later on being called like this:

const con

[2021-09-02 06:04] irinakk commented on #22224
Without changing application code, you can simply wrap the content of createField into a new component and return it from createField. like:
[code]
You can achieve this in many ways, just bear in mind DO NOT call components as functions.
And maybe next time you can choose stackoverflow to ask questions like this :)

[2021-09-02 08:44] Link631 commented on #22224
Thank you very much. That was the error. I dont know why I did not see that it was a direct function call.

And yes, I will ask questions like this on stack overflow next time... :)

Thanks for the help.

Regards.

[2021-09-02 08:44] #22224 closed

[2021-09-02 10:04] AviVahl commented on #22220
v4.18.0 verified as fixed from my end. Thank you for addressing this.

[2021-09-02 10:11] AChaoZJU commented on #21851
As it is an issue G6, close the issue.

[2021-09-02 10:11] #21851 closed

[2021-09-02 16:06] chunmu opened #22236 "Bug:"
React version: 17.0.3

## Steps To Reproduce

 i found a mistake i think, i will show this by a picture

## picture

![8678330A-0306-4E17-AEFF-BFF77E2659B4](https://user-images.githubusercontent.com/14954689/131878466-ad680084-7cf7-46f8-a582-ee7af271bb29.png)

## The current behavior

[code]

## The expected behavior

ReactFiberHostConfig has export member with ```noTimeout & supportsHydration```

[2021-09-02 17:16] Tosheen opened #22238 "Bug: useEffect not triggering on [deps] change"
I stumbled upon this issue which I believe is React bug, even though I found it using React Query. Minimal project is created to demonstrate the problem. In _card-status.js_ I registered useEffect which is watching for certain changes and it just displays the message whenever [deps] change. The problem is that one state change gets swallowed by useEffect. It can be seen if you click on a button an

[2021-09-02 17:32] jacty commented on #22236
this is correct, I guess. Since what you see is before-bundle-version, after compile and bundle based on configuration, there they will be.

[2021-09-02 19:21] bvaughn commented on #22236
The host config file is overridden by host-specific renderers, which define these exports.

For example, React DOM:
https://github.com/facebook/react/blob/1314299c7f70914d61d8e1cef56767f112110674/packages/react-dom/src/client/ReactDOMHostConfig.js#L394
https://github.com/facebook/react/blob/1314299c7f70914d61d8e1cef56767f112110674/packages/react-dom/src/client/ReactDOMHostConfig.js#L682

The `Reac

[2021-09-02 19:21] #22236 closed

[2021-09-02 19:30] bvaughn commented on #22238
Can you narrow this repro down further to rule out React Query?

[2021-09-02 19:58] Tosheen commented on #22238
Yeah, without react query I can not reproduce it. I guess I knocked on wrong door.
Anyhow, thank you!

[2021-09-02 19:58] #22238 closed

[2021-09-02 21:07] TomerHeber commented on #16592
This is how I worked around it (created a new component):
(A bit more verbose because I'm using typescript).

[code]

[2021-09-02 21:31] kevinashworth commented on #22034
I used to see this multiple times per day, but I haven't see a blank tree since the latest update.

[2021-09-03 01:52] chunmu commented on #22236
thx very much

[2021-09-03 12:38] windmaomao commented on #20881
Yeah i'll vote up with the table view, one of the thing good about Table is that we can sort on the column. The time each component spent is currently displayed, maybe the number of times it's used for this render is also useful one.

Right now the most info i can get is the color which indicates if it renders or bails out. But i sometimes wish it can tell me more, ex. excessive renders. And also

[2021-09-03 12:41] HomeskulTest opened #22241 "[DevTools Bug] Could not inspect element with id "219". Error thrown:Cached data for element "219" not found"
### Website or app

employer-test.apna.co

### Repro steps

The error occurred at InspectedElementContextController (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:37563:3)
    at Suspense
    at ErrorBoundary_ErrorBoundary (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:36097:5)
    at div
    at InspectedElementErrorBoundaryWrapper (chrome-extension://fmkadm

[2021-09-03 13:31] Chaoste commented on #15379
Code to prepare for tests and clean up afterwards should always go to `before(async () => {})`, `beforeEach(async () => {})`, `after(async () => {})`, `afterEach(async () => {})`.

Example:
[code]

[2021-09-03 15:25] bvaughn commented on #22241
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can al

[2021-09-03 16:08] jacobp100 opened #22242 "React 18 Fallback not showing with useTransition after delay exceeds timeoutMs"
I've tried the latest version of React 18 (as of today), and made a very simple test bed for the new APIs.

I've got the full gist [here](https://gist.github.com/jacobp100/08f154a7b5eace8c4c2535ae4d351a51) - but for brevity, I've only copied the important bits below

[code]

From my understanding, if I click the `Load WITH Transition` button, I should see `(Pending...)` in the button for a second,

[2021-09-03 16:47] pawan43563 commented on #22152
I would love to contribute

[2021-09-03 17:43] facundoperezh commented on #22241
I'm experiencing the same issue
`The error occurred at InspectedElementContextController (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:37477:3)
    at Suspense
    at ErrorBoundary_ErrorBoundary (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:35891:5)
    at div
    at InspectedElementErrorBoundaryWrapper (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/

[2021-09-03 17:43] AhmeeedMostafa opened #22243 "Is there any action/license should be taken/granted for conducting a React conference"
Hello there,
I'm thinking of conducting a conference related to React in my country such as the conferences listed in the following page in react docs: https://reactjs.org/community/conferences.html

Is there any license I should receive from React's side or it is totally free to do that with no permissions/license?

[2021-09-04 04:11] akashshyamdev opened #22244 "Bug: React does not recognize the `allowTransparency` prop on a DOM element."
I'm using an iframe:
[code]

The console shows:

[code]

React version: ^17.0.2

Link to code example:
The entire code for this is here https://github.com/akashshyamdev/portfolio-latest/blob/master/src/containers/Home/Hero.tsx

## The current behavior
![Screenshot 2021-09-04 at 09 39 00](https://user-images.githubusercontent.com/56759828/132081920-41191ee9-3158-4f47-918b-804109d7902c.png)

## The

[2021-09-04 05:55] Ashuto7h opened #22245 "Bug:"
React version: 17.0.2

## Steps To Reproduce
- use cra and antd: 4.16.11

[code]

## The current behavior
When i use memo for creating the TableHeader component, it compiles perfectly using npm start, but gives error on browser : `TypeError : titile is not a function`
this error occurs at some path similar to node_modules/rt-table/em/table.js

if i remove the memo, then it works fine.

I am not ab

[2021-09-04 05:57] SaNsK11 commented on #19666
@gaearon I'd like to contribute. Since I am a beginner could you provide some insight as in how to go about it?

[2021-09-04 06:15] cyntler commented on #22245
@Ashuto7h what happens when you change `const TableHeader = memo` to `const TableHeader = useMemo`? I mean change memo for components to useMemo hook for the elements inside component.

[2021-09-04 11:35] yash431garg commented on #22152
I can help you in that would love to contribute

[2021-09-04 13:22] hariombalhara commented on #22244
@akashshyamdev See if this helps https://github.com/remarkablemark/html-react-parser/issues/165

[2021-09-04 17:10] MichaelDeBoey opened #22246 "[eslint-plugin-react-hooks] Support ESLint 8.x"
ESLint has released the first beta versions of v8 🎉
https://eslint.org/blog/2021/08/eslint-v8.0.0-beta.0-released
https://eslint.org/blog/2021/08/eslint-v8.0.0-beta.1-released

It would be awesome to have official ESLint 8 support. 👊
I'm happy to help where I can of course 🙂

[2021-09-04 19:17] Devfront-end opened #22247 "Missing components and profiler in React extension"
Hello,

I have trouble installing React extension. Components and profiler are missing.

I've checked everywhere, many times unsuccessfully.

Can anyone help ?

Jules
![Capture d’écran 2021-09-04 à 21 14 43](https://user-images.githubusercontent.com/84040216/132105600-70f2e91a-4779-4161-b03a-af56bc1a6f5e.png)
![Capture d’écran 2021-09-04 à 21 13 58](https://user-images.githubusercontent.com/84

[2021-09-04 19:57] Lis27ha commented on #22152
I would love to contribute as well

[2021-09-04 21:02] Ambrish-Tiwari commented on #22241
Hello,
I am facing the same issue.
The error occurred at InspectedElementContextController (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:37563:3)
    at Suspense
    at ErrorBoundary_ErrorBoundary (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:36097:5)
    at div
    at InspectedElementErrorBoundaryWrapper (chrome-extension://fmkadmapgofadopljbjfkapdkoienih

[2021-09-05 08:17] skmohammadi commented on #18026
Not working

[2021-09-05 09:10] eps1lon commented on #22244
`allowTransparency` is an IE-only attribute which was removed in IE 9. You probalby want to set the background transparent with some CSS.

If you know what you're doing, you can use `<iframe allowtransparency />`

For more context, see https://github.com/facebook/react/pull/10823.

[2021-09-05 09:10] #22244 closed

[2021-09-05 09:12] eps1lon commented on #22245
This is an issue with `antd` which is not released from this repository.

It seems to me `title` only accepts a function not an actual component: https://ant.design/components/table/#API. If there is still something unclear, please use the proper support channels of Antd.

[2021-09-05 09:12] #22245 closed

[2021-09-05 12:52] gianpaj opened #22250 "[DevTools] Support providing the number of components above selected or "depth""
### Website or app

n/s

### Repro steps

While implementing Appium e2e tests we found this limitation
https://github.com/appium/appium/issues/14825

I'm trying to figure out how to solve this and understand if my changes are reducing the number

### How often does this bug happen?

Sometimes

### DevTools package (automated)

_No response_

### DevTools version (automated)

_No response_

### Err

[2021-09-05 12:52] #22250 closed

[2021-09-05 13:24] abereghici commented on #22229
@yvesh CSS custom properties are added using `style.setProperty` and this method serialize the URLs (https://drafts.csswg.org/cssom/#serialize-a-url) .

The urls should be wrapped in double quotes, to skip the serialization:

`node.style.setProperty('--foo', 'url("http://example.com/test.jpg")')`

For CSS properties like `backgroundImage` the url is wrapped automatically in double quotes:

`node.s

[2021-09-05 14:16] LukasBombach commented on #13097
@gaearon will calling `hydrate` multiple times run multiple reconcilers concurrently? I am wondering, if that is the case, that optimizations to reduce browser repaints are lost to some extend.

[2021-09-05 14:25] LukasBombach commented on #13097
Because I just wanted to be really smart and only partially hydrate my page with a single render root and portals instead of using multiple render roots and now I am rendering a button inside a button instead of hydrating it XD

https://github.com/LukasBombach/next-hyper-performance

[2021-09-05 23:37] KurtGokhan commented on #15176
I am going to mention one use-case that cannot be solved by any of the workarounds listed here. It happens when you want to use the same ref callback for multiple elements.

As a simple example, let's say I want to write a ref that adds all elements to an array, and remove them from the array when they are removed from DOM. I should be able to simply write:

[code]

I don't know if other people wo

[2021-09-06 04:55] Salmatron commented on #19150
+1 for `onChangeNative`, Redux goes ballistic when you dispatch actions on each key stroke 😟

[2021-09-06 09:03] mike-lischke opened #22251 "Bug: React webpack hot dev client reports linter error, which I configured to be ok"
In a project I get this warning for a "fall-through" situation, which I configured to be ok in my `.eslintrc.json` file.

React version: 17.0.2

## The current behavior

I have set the handling of the fall-through case by adding this to my `.eslintrc.json` file:

[code]

In one of my source files I have used this construct:

[code]

which does not produce a message when the code is transpiled to J

[2021-09-06 14:16] alucardu opened #22252 "Bug: Warning: Cannot update a component (`MovieOverview`) while rendering a different component"
I have a `login` component:

[code]

When a user logs in (or out) I do a `useQuery` to return some data and put that data in the reactive variable `moviesVar`.

Then in my `MovieOverview` component I have a line:

`const movies: IMovie[] = useReactiveVar(moviesVar);`

This sets the data stored in the reactive movie var on my movies array. The code works and the application runs as expected. But on

[2021-09-06 14:18] myrddral commented on #22241
This happened with me when I was (probably foolishly) pass down props to a toast component directly into a state, like below:
const [show, setShow] = useState(props.show);

[2021-09-06 16:19] gaearon commented on #22252
The warning is correct.

This line in `useReactiveValue` calls a function:

https://github.com/apollographql/apollo-client/blob/7cc0c6c15f1302ceaf7a894a1eb1205514d8afb4/src/react/hooks/useReactiveVar.ts#L5

That function does a bunch of things:

https://github.com/apollographql/apollo-client/blob/7cc0c6c15f1302ceaf7a894a1eb1205514d8afb4/src/cache/inmemory/reactiveVars.ts#L57-L72

That includes mut

[2021-09-06 16:19] #22252 closed

[2021-09-06 17:50] rnarcos commented on #16121
@gaearon, what about when you have a list of dynamically added refs (say an array of refs for a component's child). How could one create callback refs like is described [here](https://reactjs.org/docs/hooks-faq.html#how-can-i-measure-a-dom-node)?

What my approach looks like now (won't trigger useEffect's deps array):
[code]

[2021-09-06 19:10] gaearon commented on #21035
The reason is that they're often misspelled so on the whole it's beneficial to warn for unknown ones. I'll merge the PR.

[2021-09-06 19:13] gaearon commented on #21035
Fixed by https://github.com/facebook/react/pull/22142. Will appear in 18.

[2021-09-06 19:13] #21035 closed

[2021-09-06 19:17] #22246 closed

[2021-09-06 19:29] gaearon commented on #19217
I don't think we want to do this.

The problem is, eventually you might want to add some dependency to that callback. Then it's confusing if that starts showing up as an error everywhere that callback was used (rather than in a single place). It really doesn't hurt to include it, so you might as well include it from the beginning.

[2021-09-06 19:29] #19217 closed

[2021-09-06 19:30] gaearon opened #22254 "Bug: Rules of Hooks should not allow passing a Hook as a function argument"
See failing test in https://github.com/facebook/react/pull/22044.

Even if the PR gets stale, we should implement this check because currently it lets you circumvent the rule.

[2021-09-06 20:18] gaearon commented on #21932
When you say "fail", what do you mean? Does the Promise get rejected, or not? If the Promise gets rejected, I'd expect the closest error boundary to get triggered (instead of nothing happening forever). If the Promise doesn't get rejected, that seems to be the root of the problem to be fixed (on the bundler level or elsewhere). What am I missing?

[2021-09-06 20:21] gaearon commented on #21910
Closed by https://github.com/facebook/react/pull/21918.

[2021-09-06 20:21] #21910 closed

[2021-09-06 20:38] gaearon commented on #21767
We can probably close this now.

[2021-09-06 20:38] #21767 closed

[2021-09-06 20:41] gaearon commented on #22242
Yeah, we removed `timeoutMs`: https://github.com/facebook/react/pull/19703.

Haven't had a chance to update the docs because the update would need to be quite extensive, and we plan to remove those docs in favor of some new documentation before a stable release anyway.

Hope this helps!

[2021-09-06 20:41] #22242 closed

[2021-09-06 20:43] gaearon commented on #22214
Do you want to send a fix? We're probably not restoring the "current dispatcher" somewhere.

[2021-09-06 20:45] gaearon commented on #22149
I see no code accessing `hasShadowRoot` inside React. What points to React being the culprit?

[2021-09-06 20:53] bvaughn commented on #22247
You need to visit a website that's running react for the extension to show up. Try [reactjs.org](https://www.reactjs.org).

[2021-09-06 20:57] bvaughn commented on #22241
Please see my above comment (https://github.com/facebook/react/issues/22241#issuecomment-912620445) saying that we need someone to share a way for us to reproduce this bug. Unfortunately stack traces or +1 comments don't help much.

[2021-09-06 22:05] jacobp100 commented on #22242
Thanks for taking the time to reply and find the relevant PR! Was really helpful to see the thoughts behind it too.

Is it still the case that you’re no longer immediately looking to solve the issue of loading spinners existing for a few milliseconds when loading new data?

I suppose you could implement a similar effect user-land with a hook that takes a function that loads a resource, catches the

[2021-09-06 22:21] byronluk commented on #22254
Can I pick this up?

[2021-09-06 22:34] gaearon commented on #13838
Do I understand correctly that the issue is primarily due to the content scrapers that don’t consider encoded characters? So the React output is technically correct but some scrapers are too naïve? Or is there a reason why React behavior is technically incorrect?

[2021-09-06 22:43] gaearon commented on #22242
Yes. Broadly speaking, we could still introduce some heuristics deferring or throttling the spinners, but for now we’re not focusing on that problem. In the long term, we’d like to use animated transitions to avoid “flashes”, with Exit Animations allowing the fallback to leave gracefully instead of suddenly. https://github.com/reactjs/rfcs/pull/154#issuecomment-904121947

I wouldn’t suggest someth

[2021-09-06 22:45] gaearon commented on #22254
There’s already PR started with failing tests in https://github.com/facebook/react/pull/22044 so let’s let its author respond first?

[2021-09-06 22:50] ihmpavel commented on #13838
Yes and no. For example `https://resoc.io/setup` will fail showing you an image if you provide encoded characters (that means this service is unusable for React users). Same behavior is for `Next.JS`.

Inspired by https://github.com/vercel/next.js/issues/2006#issuecomment-900696618
`<meta property="og:image" content='/api/share?one=1&two=2' />` will become `<meta property="og:image" content='/api/

[2021-09-06 22:55] byronluk commented on #22254
Of course

[2021-09-06 23:11] gaearon commented on #13838
"No" to which part?

I understand that _particular services_ may not work. What I'm asking is — technically would you agree that the problem is on _their_ end, or is the problem unambiguously on _our_ end? I don't mean to turn this into "not our problem, bye" kind of argument, but I think we need to get clarity on the ideal situation before we can move forward with any plan here. So is React produ

[2021-09-07 04:06] otakustay commented on #22254
This rule should allow passing hooks to hooks like `useWrappedState(useRecoilState))` which can ensure non-conditional call to hooks

[2021-09-07 06:39] gaearon commented on #22254
Note the difference between `foo(useX)` (not ok) and `foo(useX())` (ok).

[2021-09-07 06:55] QJerryxjh opened #22257 "Console log shows the wrong destination file"
in my browser console, log info go wrong, it should show real console.log file and correct line info, but now it always show "react_devtools_backend.js: 4049", link to source code show warning:
 "Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.
* Move data fetching code or side effects to component

[2021-09-07 07:00] gaearon commented on #22257
Can you try clicking the arrow to the left of the message? It should expand the full stack which gives you precise location of every frame including the one you’re looking for.

Also please show the screenshot of your DevTools settings.

[2021-09-07 07:03] QJerryxjh commented on #22257
@

[2021-09-07 07:05] QJerryxjh commented on #22257
@gaearon sry, it looks like i have a wrong devtools setting,thank you for you help

[2021-09-07 07:37] OttlikG commented on #17176
Why does the documentation say to avoid React.memo for preventing renders?

https://reactjs.org/docs/react-api.html#reactmemo
"This method only exists as a performance optimization. Do not rely on it to “prevent” a render, as this can lead to bugs."

[2021-09-07 12:41] burhanbvk commented on #22214
That was my initial suspicion as well but it doesn't seem to be case. It is the `resetHooksState` being called and setting the `currentlyRenderingComponent` to null, triggering this error. I am still figuring out the exact lifecycle of the `renderToString` function, but I should be able to come up with a fix.

[2021-09-07 13:38] bvaughn commented on #22247
Generally when this is reported, the cause is that someone is not viewing a website built with React. I'm going to close this issue now with the assumption that the same is true.

If not, please respond with the following information and we can re-open the issue:
* Which browser (and version) are you using?
* Which operating system (and version) are you using?
* Which website(s) are you viewing th

[2021-09-07 13:38] #22247 closed

[2021-09-07 14:01] depoulo commented on #13838
In my view it's just naïve scrapers, some if which are run by Facebook, see https://github.com/facebook/react/issues/6873#issuecomment-403089412

[2021-09-07 14:46] Fighteros opened #22259 "Bug: when i run react locally the on network ip address is not correct"
React version:
^17.0.2
## Steps To Reproduce

when i run react npm start (this worked correctly before updating node) after the latest update, the on network ip address ignore the wireless connection and always puts the Ethernet card ip address

Link to code example:

## The current behavior

when i run react npm start (this worked correctly before updating node) after the latest update, the on ne

[2021-09-07 15:00] burhanbvk commented on #22214
I can provide a fix, but I couldn't create a test case for it. I couldn't replicate the issue on the test environment, it didn't cause an exception there.

The fix involves using a `renderingComponentStack` array to store `currentlyRenderingComponent` variables at each nested call.

[2021-09-07 15:36] ericreids opened #22261 "Does React contains facebook tracking/survellience codes?"
**I fear if that survellience and tracking is also being done by facebook through react js?**

This is my biggest concern when using react in  making annonymous application in tor that doesnt track its users.

Please don't take it as exaggeration. I don't hate facebook but i just hate the amount of tracking and survellience that is being done by Facebook.

Please answer me   @gaearon  @bvaughn  @a

[2021-09-07 15:38] gaearon commented on #22261
React is fully open source, you’re welcome to inspect it if you’d like. It makes no network calls and contains no tracking code. Keep in mind that you can always open the Network tab and audit the calls from your application.

[2021-09-07 15:38] #22261 closed

[2021-09-07 16:08] dangolbeeker opened #22264 "Please opensource Rsys library"
Please open source the Rsys library I was so  excited to see learn about it on Facebook engineering in December.
Thanks

Reference: https://engineering.fb.com/2020/12/21/video-engineering/rsys/

[2021-09-07 17:00] bvaughn commented on #22264
This library has nothing to do with React, and the React team does not have any impact on the decision of other Facebook teams to open source projects.

[2021-09-07 17:00] #22264 closed

[2021-09-07 19:11] burhanbvk commented on #22214
I can fix this by directly modifying the built `\react-dom\cjs\react-dom-server.browser.development.js` file, but can't add these changes to the repo. I have modified the `packages\react-dom\src\server\ReactPartialRenderer.js` and the `packages\react-dom\src\server\ReactPartialRendererHooks.js` files to add these changes, and then did a `yarn build`, but these changes didn't show up in the built f

[2021-09-07 19:14] gaearon commented on #22214
Where are you looking for the build output?

[2021-09-07 19:16] burhanbvk commented on #22214
`build\node_modules\react-dom\` folder

[2021-09-07 22:28] #21972 closed

[2021-09-08 07:04] mattywong commented on #22257
Hey @gaearon, we seem to also be getting this issue on regular console logs (sourcemaps mapping to react_devtools_backend.js:4049). When the react devtools extension is disabled, sourcemaps show correctly. Webpack devtool is set to 'eval-source-map'. This seems to have happened quite recently as I don't recall seeing this before. Let me know if you need me to provide any other info.

Left: incogni

[2021-09-08 07:15] scarqin opened #22268 "React 18 test"

[2021-09-08 07:16] #22268 closed

[2021-09-08 07:16] scarqin commented on #22268
sry，mis open

[2021-09-08 07:31] ifthenelse opened #22269 "[DevTools Bug] Could not inspect element with id "28". Error thrown:Cached data for element "28" not found"
### Website or app

website URL (localhost)

### Repro steps

Clicked the "Reload Devtools" button to turn devtools in light mode.
Devtools were already in light mode.

### How often does this bug happen?

Only once

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.18.0-f58bbcf9a

### Error message (automated)

Could not inspect element with id "28".

[2021-09-08 07:31] #22269 closed

[2021-09-08 08:04] gaearon commented on #22257
Not sure if anything changed here but reopening just in case.

[2021-09-08 08:57] keul commented on #22257
I can confirm: it seems that every `console.something` is captured by the extension.

![Schermata 2021-09-08 alle 10 53 14](https://user-images.githubusercontent.com/284924/132479185-7b2e6268-381b-48ca-bc92-60d7a3436edc.png)

[2021-09-08 10:57] tarzan114 commented on #22152
Hi i'd love to contribute as well

[2021-09-08 11:30] KurtGokhan commented on #15176
@gaearon I will try writing one.

[2021-09-08 12:08] gcvs commented on #16968
It's a shame, I wanted to step through the render method in the javascript debugger to reason about why certain things are / are not happening in my component.  It's very inconvenient to refresh the page, and go through the many steps necessary to recreate the conditions, just to have one shot at stepping through with a debugger.  One render is also wasted just to add the breakpoint, I can't even

[2021-09-08 13:18] ngocbnu213 commented on #20065
I'm using native HTML input I also faced to this problem.
`react`: `^17.0.1`
`react-dom`: `^17.0.1`

[2021-09-08 13:27] mahanthi-arun-kumar opened #22270 "When I console.log(), the Chrome console gives the log but instead of showing the file and line number"
When I console.log(), the Chrome console gives the log but instead of showing the file and line number it just says react_devtools_backend.js:4049. How do I get the console to show the file and line number when I console.log()?

[2021-09-08 13:42] bvaughn commented on #22257
Chiming in here to confirm that this reported behavior is intentional (although I understand the confusion or annoyance).

As of the [version 18 release](https://github.com/facebook/react/blob/main/packages/react-devtools/CHANGELOG.md#4180-september-1-2021), DevTools _always overrides the native console_ to either dim or suppress `StrictMode` double logging. (Before it only did it if you enabled a

[2021-09-08 13:42] bk973 commented on #22270
Hello @mahanthi-arun-kumar is there some code that you can show???

[2021-09-08 13:48] bvaughn commented on #16968
@gcvs You might already be aware, but if not– check out [conditional breakpoints](https://developers.google.com/web/updates/2015/07/set-a-breakpoint-based-on-a-certain-condition). They're a great help with what you're describing.

[2021-09-08 13:56] gaearon commented on #22270
Duplicate of https://github.com/facebook/react/issues/22257.

[2021-09-08 13:56] #22270 closed

[2021-09-08 14:25] mattywong commented on #22257
Perhaps a setting could be added to devtools to opt in to this new behaviour (or opt out)? Atleast till theres a way to fix both? Tbh i had no idea of the double logging issue or maybe had just never noticed it, and I would assume others would be in the same boat. The source map line change however is definitely noticeable and arguably a much more annoying issue (imo)

[2021-09-08 14:26] gaearon commented on #22257
Yes, we understand why the issue is annoying and will look into some way to resolve it.

[2021-09-08 14:45] jzombie commented on #22257
This is awesome.  I browsed the issue list, looking just for this, saw it as the first issue, subscribed to it while ago, and now saw the latest reply from @gaearon.

[2021-09-08 15:04] yamarco opened #22272 "Feature Request - useEffect - Provide boolean values on whether dependency has changed."
Couldn't find this feature request already (though it sounds like you probably definitely got it) but it would be really great if dependencies could be forwarded in the useEffect function props and converted to a boolean declaring whether the dependency has changed (aka caused a re-render) or not.

For example:

[code]

I can imagine that this could result in some performance decrease but we could

[2021-09-08 15:09] emindotbdk opened #22273 "Optional callback when updating state in functional components."
Hello everyone,

I have encountered some issues in fulfilling my needs with the `setState` function in functional components.

The method to update state in classic react components has the following syntax:
`setState(updater, [callback])`
The optional callback function is executed after the state has been updated asynchronously.

This option is not included in functional components. The alternati

[2021-09-08 15:17] PABourdais commented on #13991
Using this command from [react-native documentation](https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react) in order to link react versions from my app and my local lib did the job 👍

[2021-09-08 17:12] juanpreciado commented on #15344
Following up on @gaearon last suggestion, a potential workaround for synchronous actions would be to wrap the `dispatch` in a function that returns the result of the reducer, in that way we could obtain the next state immediately after dispatching

[code]

[2021-09-08 17:34] allengordon011 commented on #22257
I've found a workaround using `console.info` instead of `console.log`. I hope that's helpful

[2021-09-08 18:25] jzombie commented on #22257
For what it's worth, I've found that doing things like this, allows you to override the console with a prefixer while retaining the original stack trace.  Not sure if that could be of any relevant help here, but I'm using it in a project for a custom logger, because I found that most logging overrides screw the stack trace.

console.log = Function.prototype.bind.call(
  console.log,
  console,
  "

[2021-09-08 18:51] bvaughn opened #22274 "DevTools: Profiling tool improvements umbrella"
I met with @lahmatiy this afternoon to chat about his project [react-render-tracker](https://github.com/lahmatiy/react-render-tracker). Here are a few pain points mentioned during the meeting:
* Not clear when a component/tree is unmounted/remounted.
* DevTools typically displays data for a component in current update (e.g. the latest) but doesn't represent changes over time.
* It isn't always cle

[2021-09-08 19:09] bvaughn commented on #22257
@jzombie That's a nice tip, but I don't think that offers a way for us to do anything more than inject a static parameter, does it? (I don't think it offers a way to run code, like we're doing in this case.)

[2021-09-08 19:19] jzombie commented on #22257
@bvaughn I've only used it to inject a static parameter, but perhaps it could run some code with a bit of fiddling.

[2021-09-08 19:20] jzombie commented on #22257
i.e. maybe if you used some sort of object property getter to render the string, and ran the code inside the getter... ?

[2021-09-08 19:33] eps1lon commented on #22274
What would be the take-away knowing the before and after value? I feel like (strong emphasis on "feel") that most of the unintended updates are due to a value being updated that only changed due to referential equality e.g. functions and objects. And it's unlikely that a prop changed from a primitive to a complex value. So I suspect that knowing what prop changed is usually enough to recognize tha

[2021-09-08 19:33] bvaughn commented on #22257
If you have any example code/idea you could share, we'd be happy to take a look. 😁

I think a getter would be evaluated at the time you define the `call` binding, rather than at the time you called the console method...but maybe you have an idea? :)

[2021-09-08 19:37] jzombie commented on #22257
I tried a couple of different approaches because I was really hoping it would work, and couldn't get beyond the initial value.

I'd love to pursue this, this afternoon, but my job would probably not be happy about it, because it's completely unrelated to what I'm supposed to be working on.

[2021-09-08 21:36] KurtGokhan commented on #15176
I created the RFC. Let's keep discussing this there.

[2021-09-08 22:49] bvaughn commented on #22274
Not sure, but it seems to be a commonly requested feature. (Maybe @lahmatiy can weigh in here?)

TBH I think a _type_ change seems pretty unlikely, so I'd be hesitant to add code to track that.

When I wrote the issue, I was thinking more about the use case of wrapping a part of the tree (which causes a deep unmount and remount) but you're right that inline functions are another common cause. Idea

[2021-09-09 00:01] Shikamaru1995 commented on #13991
Any insight on why there are multiple react instances? I've set react and react-dom as peerdependencies in the imported library but still need to set alias to avoid this error.

[2021-09-09 03:26] markerikson commented on #22274
fwiw, this is exactly what the Redux DevTools do.  You can see:

- the Redux action object that caused the state to be updated in the first place
- the _diff_ of the old state vs new state
- the _current_ state after the dispatch was complete

All of those have value depending on what you're trying to do.

Related to this, I would love to know what the _initial_ cause was of a React render in the

[2021-09-09 04:39] vain0x commented on #21459
Today I have encountered another issue(*), which was also caused by Firefox's feature. I now believe `auto-complete=off` is definitely necessary. I close this issue because React doesn't need to fix for this issue.

(*): I opened and reloaded a SSR'ed page on Firefox, `disabled` attribute on textarea is discarded and React warned (``Prop `disabled` did not match. Server: "null" Client: "true"``).

[2021-09-09 04:39] #21459 closed

[2021-09-09 08:42] tasoskakour commented on #22273
Hello @emindotbdk!

Please could you write an example with a Class Component using the callback of `setState` that can't be rewritten by using `useState` and `useEffect` hook in a functional component?

Wouldn't the code below act the way you desire replicating a "callback"/"effect" of setState?

Also, IMHO if `setVar` is called but doesn't actually change `var` (e.g passing the same variable) the

[2021-09-09 08:47] tasoskakour commented on #22272
That would be a really cool feature indeed.

Personally as a workaround for now, I use the [usePrevious](https://usehooks.com/usePrevious/) hook or just split the `useEffects` to single dependencies.

[2021-09-09 09:16] emindotbdk commented on #22273
Hi @tasoskakour,

for context: The app I'm building has a qr-code scanner which is used to scan a qr-code containing an id. The UI should then display a card-like component with a loading indicator until the required data of the scanned entity-id has been loaded asynchronously.

I, therefore, have an array containing all the objects of the scanned elements I want to display. Those elements are ren

[2021-09-09 09:17] wenzi0github commented on #22194
is npm version lower? try upper npm version.

or,

use `yarn install`,

https://github.com/facebook/react/issues/13824

[2021-09-09 10:37] vkurchatkin commented on #22272
If you want to do something only if one dependency changes, you can just use a separate `useEffect`:

[code]

[2021-09-09 10:42] vkurchatkin commented on #22273
The thing is, even if `setState` had a callback, it wouldn't change anything:

[code]

[2021-09-09 10:53] yvesh commented on #22229
@abereghici Thanks for the explanation. Makes sense and probably can't be done automatically for custom properties :cry:

[2021-09-09 10:53] #22229 closed

[2021-09-09 10:56] yamarco commented on #22272
@vkurchatkin I failed to mention that i need access to the latest state of both of them. Obviously if i did not need `firstDep` in the `useEffect` i could just remove it. I will update my comment to reflect this. tx for noticing it.

[2021-09-09 11:05] tasoskakour commented on #22273
I kinda got what you are trying to achieve. Would it make sense to have a `useEffect` listen on the `productionCardList.length`?

Also if you want this to fire only onUpdate and not on mount you can use the useRef hook as shown below.

[code]

[2021-09-09 11:48] imajeet5 commented on #17912
Thanks

[2021-09-09 11:54] vkurchatkin commented on #22272
@yamarco you can access latest state like this, just don't add it to dependencies

[2021-09-09 11:59] yamarco commented on #22272
There are two problems with that.

1. Linter will complain
2. I will not have access to the latest value of that variable, in this example i want to make sure i always have access to the latest value of firstDep but i don't want to trigger a side effect if it changes. The side effect should only trigger when secondDep has changed.

[2021-09-09 12:04] vkurchatkin commented on #22272
1. Well, yes. You can suppress it, if you know what you are doing
2. That is not possible. The only way to always have access to the lates value is to trigger effect

[2021-09-09 12:40] yamarco commented on #22272
I guess in someways you could say that this is either a possible duplicate or an extension to  #22132

[2021-09-09 12:48] emindotbdk commented on #22273
Thank you @vkurchatkin and especially @tasoskakour . You two helped me a lot. It seems that I have to change my solution to this problem and not force a callback for setState functions. Sorry for this issue! :)

[2021-09-09 12:48] #22273 closed

[2021-09-09 13:33] bvaughn commented on #22274
FWIW, this is something that's partly available in the Profiler UI already:
![Screen Shot 2021-09-09 at 9 32 26 AM](https://user-images.githubusercontent.com/29597/132695326-5f358f7f-f7b1-4f2a-84a2-e2fccea655e0.png)

The bit that's missing is drilling into _exactly what_ changed (if it's a hooks change):
![Screen Shot 2021-09-09 at 9 33 09 AM](https://user-images.githubusercontent.com/29597/132695

[2021-09-09 14:54] bvaughn commented on #22257
As a temporary workaround for folks affected by this, you might try adding the `react_devtools_backend.js` script to the browser's "ignore list":
![image](https://user-images.githubusercontent.com/29597/132709425-0ae04aa3-3176-437a-8d99-bfb0b30537c9.png)

[2021-09-09 14:55] vzaidman commented on #22257
In Chrome, a workaround would be adding the script that overrides the console to the "ignore list" (right-click on the script in dev-tools and add to ignore list).

It has some drawbacks, because "ignore list" does a little more than just that, but it works nicely for me for now.

[2021-09-09 17:16] samundra commented on #20204
Has there been any update on it? I am also facing the similar issue.

**Plugin versions**

[code]

**Reproduction steps:**

- start typing `React.useEffect(` as soon as I hit that `(` opening brace the error is shown.

**Stack trace taken from Eslint Output from vscode**

[code]

[2021-09-09 17:35] gaearon commented on #22270
Here's a temporary workaround: https://github.com/facebook/react/issues/22257#issuecomment-916174962

[2021-09-09 18:58] just-boris commented on #20204
Please 👏 release 👏 the 👏 plugin 👏 already 👏

@gaearon

[2021-09-09 20:26] lahmatiy commented on #22274
Thanks @bvaughn for the great notes and spotlight some topics to discuss!

React render tracker (RRT) covers both cases. For example:

[code]

Here is the video how RRT handle it (note that RRT shows component's tree as owner-based hierarchy by default, that's why Wrapper and Content on the same level in the beginning):

https://user-images.githubusercontent.com/270491/132755097-9cf2eaba-ccff-45ba

[2021-09-09 23:12] jakepante21 opened #22284 "How to replace "react devtools backend.js:4049" with the actual file origin of console log"
So I'm trying to debug my code using `console.log()`, originally, besides the console log it shows where the log is from (like the file name and line where the console log appears). Then suddenly it stopped showing the file name, instead it just shows "react devtools backend.js:4049", and it's not very helpful. Thank you.

Here's a sample screenshot:

![devtools](https://user-images.githubusercont

[2021-09-09 23:52] bvaughn commented on #22274
Just to clarify, this is showing changes for only the subtree _rendered by the currently selected component_? (The ["owners tree"](https://github.com/facebook/react/blob/main/packages/react-devtools/CHANGELOG.md?rgh-link-date=2021-09-08T18%3A51%3A28Z#owners-tree) to use React DevTools terminology.)

[2021-09-09 23:53] #22284 closed

[2021-09-09 23:56] AhmeeedMostafa commented on #22272
@yamarco  you already could access the latest value of both and trigger the useEffect on the dependency changing,
[code]

In the above code, it will be triggered in 2 cases, once component mounts for first time and if `secondDep` is changed only, and once the function is triggered the latest value of `firstDep` will be used

[2021-09-09 23:57] jakepante21 commented on #22284
Found a same discussion here #22257

[2021-09-10 00:02] AhmeeedMostafa commented on #22243
@bvaughn should I mention/email someone (the responsible such things) to get the proper answer?

[2021-09-10 00:21] lahmatiy commented on #22274
@bvaughn RRT component's tree showing the entire tree for a render root. Plans to add it is possible to limit what to show, like React Devtools owner tree but additionally to see entire component's subtree or subtree with selected types of components. In a real app there are a lot of components, most of them are not significant for an understanding what's going on. The simplest solution is to prov

[2021-09-10 02:49] jedwards1211 opened #22286 "Feature Idea: React.useConditional(key, () => { ... }) for conditional and dynamic hooks"
I use `@apollo/react-hooks`' `useQuery` a lot, and recently I've had some cases where I needed to call `useQuery` for each item in an array.

In most idiomatic use cases, each item would map to a separate element UI, so I could have a custom component that performs a single `useQuery` and renders that list item.

But I have a use case where I'm fetching data for a dynamic list of historical data c

[2021-09-10 03:30] jedwards1211 commented on #22286
Here's an example of how there's a desire for dynamic hooks and one workaround: https://unsplash.com/blog/calling-react-hooks-conditionally-dynamically-using-render-props/

Below is my userland workaround for dynamic hooks.  Here are its drawbacks compared to what a builtin `React.useConditional` would theoretically be able to provide:

* You need to declare `const [conditionals, useConditional] =

[2021-09-10 03:46] iwfan opened #22287 "Bug: The onChange synthesis event is not propagation when the child node is added through dangerouslySetInnerHTML"
The onChange synthesis event is not propagation when the child node is added through dangerouslySetInnerHTML.

React version: v17.0.2

Link to code example:

https://codesandbox.io/s/restless-rain-otyzx?file=/src/App.js

## Steps To Reproduce

1. click the radio input element
2. see logging in console

## The current behavior
1. ✅  onClick event is propagation
2. ❌ onChange event is not propagatio

[2021-09-10 06:44] Dimuthu-10 commented on #13991
`
import { useState } from 'react';
import "./Searchbar.css"
import SearchIcon from '@material-ui/icons/Search';
import MicIcon from '@material-ui/icons/Mic';
import { Button } from '@material-ui/core';
import { useHistory } from "react-router-dom";

function Searchbar() {
    const history = useHistory();
    const[input, setInput] = useState('');

    const search = (e) =>{
        e.preventDefa

[2021-09-10 13:42] bvaughn commented on #22274
I see. I asked because (in my opinion) there is no way such a UI/UX scales for an app larger than a trivial TODO application.

[2021-09-10 15:57] delashum opened #22289 "Bug: Component that throws promise caught by suspense isn't unmounted & remounted correctly."
When a component underneath a `<Suspense/>` throws a promise there is some strange behavior with how it unmount and mounts. I would expect that immediately when the fallback component is rendered all components underneath the suspense would be unmounted. It seems like the unmount isn't actually happening until the promise resolves and the component is rendered again (see timing in the example). In

[2021-09-10 21:18] wavesoft opened #22293 "Bug: Maximum call stack size exceeded (React Devtools)"
I encountered the same issue as #20640 but using `react-devtools` as a stand-alone app instead of from the the browser.

The bottom line is that the profiler becomes unresponsive after any interaction with a heavily loaded react page.

React version:

* React: 17.0.2
* ReactDOM: 17.0.2
* React Devtools: 4.18.0

## Steps To Reproduce

1. Attach a react-devtools stand-alone (`yarn run react-devtools

[2021-09-11 02:10] anushaNemilidinne commented on #22152
Hello! This will be my first contribution to open source projects. Can I contribute?

[2021-09-11 14:53] millikr2 commented on #21636
@rdcavanha I'm using Chrome and got the same error. It went away when I changed one of my classNames, I'm guessing one of my extensions was using the same className.

[2021-09-12 05:17] francoMG commented on #22272
What do you think about this?

[code]

It's hard to think of solving this problem without `useRef`, but I think it looks a bit cleaner this way.
I'll keep watching 👁️ if something new comes up.

[2021-09-12 06:58] cyntler commented on #22287
@iwfan You added onChange event listener (`onChange={handleSyntheticChangeEvent}`) to the `<div>` element.
Read more about `change` event: https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event.

I don't think it works for divs.

[2021-09-12 13:19] bryanian01 commented on #21002
yes i tried too this one
https://codesandbox.io/s/html-react-parser-forked-hrqm1?file=/src/index.tsx
the scripts tags not work properly but when i put in html everything is smooth

[2021-09-12 13:21] bryanian01 commented on #20446
i had issue not working properly
https://codesandbox.io/s/html-react-parser-forked-hrqm1?file=/src/index.tsx

[2021-09-12 15:57] contactjavas commented on #20923
Talking about WordPress development, WordPress/Gutenberg also includes `react` & `react-dom` globally (at least when editing using Gutenberg and inside customizer).

We can stick to use the `classic` runtime. But yea, I think it would be awesome if there's UMD distribution of `jsx-runtime`.

[2021-09-12 16:11] contactjavas commented on #20066
WordPress/Gutenberg includes `react` and `react-dom` globally (at least when editing using Gutenberg or in customizer).

For now, I'm sticking to the classic runtime for WordPress development.
Maybe there will be a umd dist for `jsx-runtime` in the future 😀 .

Also a problem when using Parcel v2. Aliasing to `"react"` made the `react/jsx-runtime` unresolved. But turning to `"react$"` made the alia

[2021-09-12 19:17] vkurchatkin commented on #22272
@francoMG it does exactly the same as

[code]

[2021-09-12 23:36] aress31 commented on #14603
Any update on that, totally agree with @dailytabs I don't want to rely on a third party library for this.

[2021-09-13 01:41] iwfan commented on #22287
Hi @cyntler, I know that change event are triggered for `<input>`, `<select>`, and `<textarea>`,  but the change event can be propagated through bubbles.

[code]

As you can see, if I add a change event on react element, the change event can no longer bubble.

[code]
But if I add the change event through native javascript way(addEventListener), the change event can bubble normally.

And why does t

[2021-09-13 02:27] otakustay commented on #22289
They are not "unmounted", they are "suspended", in case of "suspended", they are hidden from fiber tree but not cleaned up, and can be reconnected to fiber with its state keep alive.

I believe in React 18's concurrent mode a clean-up of all `useEffect` will be fired, but states, memos and refs are still kept alive.

[2021-09-13 02:44] delashum commented on #22289
I agree that's what appears to happen, I guess I'm arguing whether that should happen. Intuitively I would expect the components to fully unmount and remount.

That, or there should should be consistency. The scenario you described it is un-mounting according to `useEffect` and only suspending according to `useState`.

The reason I stumbled on this was because I have a library with a bug that's ca

[2021-09-13 06:10] swathisainadh opened #22300 "Bug: react-dom Portal does not load on re-render with functional component"
React version: 16.8.5

## Steps To Reproduce

1. On initial load, "Portal" loads up a "Modal" as child element when the code is extracted to a functional component
2. On state change, it does not re-render. But does work if the code is inline instead of a functional component

Link to code example:
Works --> successMessage ? <NewModal title={' '} buttons={[{text: 'Close', onClick: goToLicences}]}>

[2021-09-13 07:08] jacty commented on #22289
![image](https://user-images.githubusercontent.com/4190959/133037858-de19ae4f-d226-4ca2-a11b-3a904a8a229f.png)

In your code, 'unmount' is in useEffect as a clean-up function which will only run after the component get cleaned up. And the argument passed useState will be used only once in the initial render.
Not very sure what you want to do with the 'unmount' state.

for this part, check if you a

[2021-09-13 08:13] eps1lon commented on #22300
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-09-13 11:23] Biki-das opened #22301 "found an empty rule set"
this is the file path - packages/react-devtools-shared/src/devtools/views/Settings/SettingsShared.css

going here i found a empty rule set called selector which had nothing inside it and it is not a good practice to keep empty ruleset .

here is the PR link for the same - https://github.com/facebook/react/pull/22298

hope to get a feedback soon!

[2021-09-13 11:49] yamarco commented on #22272
Maybe i need to give a more concise example. Let's use a custom hook (or context) which always "re-renders" when anything inside that context or hook changes.

[code]

[2021-09-13 12:39] hwillson commented on #22252
@alucardu @gaearon I don't think Apollo is bending the rules here. I don't believe `useReactiveVar` is doing anything that contradicts the rules of React. It is a tool, and tools can be misused. The real issue is:

[code]

This means you're triggering a synchronous update during rendering, which is a user land issue.

[2021-09-13 16:32] A-m-a-n-R-a-g-h opened #22304 "React 18"
npm WARN deprecated flatten@1.0.3: flatten is deprecated in favor of utility frameworks such as lodash.
npm WARN deprecated @hapi/bourne@1.3.2: This version has been deprecated and is no longer supported or maintained
npm WARN deprecated @hapi/topo@3.1.6: This version has been deprecated and is no longer supported or maintained
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/u

[2021-09-13 17:05] gaearon commented on #22304
You are confusing React and something else (for example, Create React App). In either case, you don't need to do anything and can ignore these warnings.

[2021-09-13 17:05] #22304 closed

[2021-09-13 17:07] gaearon commented on #22252
Ah I misread the condition. The initial path goes through the else branch which doesn't mutate.

[2021-09-13 17:35] rattrayalex opened #22305 "[react-hooks/exhaustive-deps] option request: ignoreFunctions or ignoreMethods"
### What I would like:

[code]
results in:
[code]

### Why:

I typically do not want to re-execute an effect just because a function I call inside the effect changes its identity. Same with an object which is only used to call a method.

I noticed this with react-router's `history.push()` – I want to navigate based on other things, not whether react-router has decided that the `history` object or

[2021-09-13 17:36] rattrayalex commented on #16265
In https://github.com/facebook/react/issues/22305 I suggest an option to `ignoreFunctions` with `exhaustive-deps`; would such an option help this use-case?

[2021-09-13 18:06] noahehall commented on #21636
getting the same error

![image](https://user-images.githubusercontent.com/10324554/133134106-938f10b4-f5ea-49a2-b712-6130b18d3993.png)

[reproducable commit](https://github.com/noahehall/nodeproto/tree/6aace3eed2d316e19506488a55094ee9db005480)

steps to reproduce

- pulldown branch (see link above)
-  `$ cd packages/tests`
- `$ pnpm install`
- `$ pnpm start:react`

open firefox developer edition

[2021-09-13 18:24] laurent22 commented on #16265
@rattrayalex, not really. I wouldn't want to ignore functions because their identify might be important, in particular for callback (using useCallback). However, I would definitely want to ignore the  `this` issue because I don't use this at all in my code.

[2021-09-13 19:14] delashum commented on #22289
Yes, that's probably a viable workaround, and what I will likely do for the time being (calling setState every render under a conditional).

The reason I filed this issue is because I think that `mount` and `init state` should be called together and on the same cycle. Meaning if I look at the lifecycle of a component in all situations the number of times that `mount` and `init state` get called in

[2021-09-13 19:56] gaearon commented on #13206
Wrote some updates on what we're working on and the state of different pieces. It's about React 18 overall but some parts there relate to Suspense: https://github.com/reactwg/react-18/discussions/98#discussioncomment-1318753

[2021-09-13 20:20] sikanhe commented on #22272
@yamarco Just do
[code]

[2021-09-13 21:32] francoMG commented on #22272
@yamarco In my case I prefer not to compare if a value has changed. You could end up doing spaghetti coding in my opinion.

In your example, if you want to run `console.log (name, data)` only when the `name` has changed, I would adapt it to something like this:

[code]

[2021-09-13 22:34] amiut commented on #1169
If the problem still exists , maybe overlaying a position absolute `a` tag that wraps your element and adding the click event to this `a` tag will help.

[2021-09-13 22:55] knyzorg commented on #15281
Hi @abetss,

Your probably already found a satisfactory solution, but here is another: https://gist.github.com/knyzorg/a4395fcc4e8d53d5be4dff4ef5228379

It's more intricate, but it comes with unit tests.

[2021-09-14 01:13] justingrant opened #22309 "Bug: missing `else` statement in ReactDOMServerFormatConfig.js"
I found this bug while working on an unrelated PR #22064. Looks like there's a missing `else`, because the `value` set in line 978 is always overwritten in line 980.  Given that `children.toString()` and `children[0].toString()` will return the same string for one-element arrays, I assume the best (for perf and bundle size) fix would be to remove the assignment inside the `if` block.

https://gith

[2021-09-14 04:15] GeoMarkou commented on #16265
An `ignoreThis` option would be very useful I think. Although at this point I've gotten used to writing `props.someFunc.call(undefined)`.

[2021-09-14 05:53] yamarco commented on #22272
@francoMG yes this is quite a nice alternative solution with useRef, it nevertheless has a lot of "unnecessary" boiler plate. hence my feature request. If we were to get info about what changed then we can achieve the same with

[code]

[2021-09-14 06:14] akgupta0777 commented on #22309
@justingrant It is using an invariant in the if check. Invariant is an error handling guard which lets you use assertions in your code.
so invariant requires two arguments first one is the condition and second is error message to be thrown after condition gets violated.

In above case, As soon as length of children is more than 1 then it throws an error saying '<textarea> can only have at most one

[2021-09-14 07:40] akgupta0777 commented on #22115
I think this is fixed already and no longer needed.

[2021-09-14 08:24] justingrant commented on #22309
I was actually thinking about the 1-element-in-array case.  I'd assumed that coercing an `Array`  to a string would yield something like `'[object Array]'`.  But just now I learned that Array overrides toString and its implementation is equivalent to `.join()`!  After 20 years of using JS, every time I think I've learned enough, I'm reminded that there are still surprises lurking.

So there's stil

[2021-09-14 09:06] akgupta0777 commented on #22309
Seriously JavaScript sometimes screw minds really well. Even today I also got to know that concatenation of an array with string results in a string with all array elements joined separated by ",".
Well yes in that case it is unnecessary to use line 978.

I will love to contribute on this issue and fix this bug.

[2021-09-14 11:56] seiyab commented on #20755
related issue: https://github.com/facebook/react/issues/22305

[2021-09-14 12:17] PatrickHollweck commented on #11538
This article might be of interest for anyone facing this issue: https://www.30secondsofcode.org/articles/s/breaking-react

[2021-09-14 13:07] bvaughn commented on #22115
Why do you think that?

[2021-09-14 13:19] akgupta0777 commented on #22115
Because I build the src for devtools extension and there are already names for bundles dynamically according to [name].js in build directory.

Maybe I am understanding the issue wrong.do You want to rename chunks file according to bundle name ? In issue title it says better bundle names.

Maybe I am confused.

Another thing about webpack chunk names that I know is they are named after chunkIDs gen

[2021-09-14 13:22] bvaughn commented on #22115
[code]

The `6.chunk` and `7.chunk` files are what this issue is referring to. The `45105038a85b36076aef.worker.js` and `f40dbc4e6418466df4e5.worker.js` files aren't good either.

[2021-09-14 13:24] akgupta0777 commented on #22115
Can I try this issue ?

[2021-09-14 13:27] akgupta0777 commented on #22115
Its 2 weeks now, I will wait a little more.

[2021-09-14 13:51] bvaughn commented on #21636
@noahehall The install step fails for me:
[code]
I don't know what `jsync` is but I tried installing it via the instructions [here](https://metacpan.org/pod/JSYNC) and I still get the error.

Looks like the error is coming from `packages/tools/jsync`

[2021-09-14 13:58] bvaughn commented on #22301
I appreciate this issue 🙇🏼 but I don't think this change is necessary. Thank you!

[2021-09-14 13:58] #22301 closed

[2021-09-14 13:59] bvaughn commented on #22293
@wavesoft Can you share a repro case with me please?

[2021-09-14 14:02] vkurchatkin commented on #22272
@yamarco you can achieve exactly the same with this

[code]

[2021-09-14 14:06] Biki-das commented on #22301
thanks for the feedback @bvaughn!

[2021-09-14 14:07] bvaughn commented on #22293
That is interesting! I don't think this is true for the native spread operator. For example, this runs okay for me in Chrome:
[code]

I'm pretty sure this has to do with the code that's generated in the build (for backwards compat):
[code]

This throws as you describe:
[code]

[2021-09-14 14:08] bvaughn commented on #22301
No problem! 😄

[2021-09-14 14:26] noahehall commented on #21636
@bvaughn sorry about that - jsync is internal to the repo (/root/packages/tools/jsync)

give me a second to do a fresh clone and determine exactly what needs to be done to run the app

[2021-09-14 15:08] bvaughn opened #22311 "DevTools: Backend console settings reportedly not synced to RN backend"
@feedthejim reported that disabling the "Break on Warning" feature does not update the backend settings (in memory, without a reload) for React Native:
![Screen Shot 2021-09-14 at 11 07 04 AM](https://user-images.githubusercontent.com/29597/133283506-88094c34-7251-461e-af3b-67f83e9804fd.png)

[2021-09-14 15:22] Jafson commented on #19015
@aiyudeleng , do you know how to fix this issue? I got the same issue, thanks

[2021-09-14 16:34] michenly opened #22314 "[React 18] Optimized React Server Components's webpack bundling"
In a chat between Facebook and Shopify about React Server Component, @sebmarkbage had mentioned the need to improve React Server Component's bundling strategy in webpack.

We expect that the server will need to be built too, as a separate graph since best perf is gained when you prebuild the server anyway.
So it might be that the best API is building the server first and then using the data from t

[2021-09-14 17:24] main-- opened #22315 "Bug: Native Component Stacks break with inheritance-based HOCs"
As of #18561 component stacks are generated from native stack frames. This is problematic with HOCs that inherit from the input component in order to change its behavior. The somewhat popular @risingstack/react-easy-state package is one example of such a component. While it does assign a `displayName`, the new Native Component Stacks appear to ignore this. Instead, components wrapped in `view()` (

[2021-09-14 17:40] bvaughn opened #22316 "Enable new console override behavior for React Native"
@feedthejim has landed a change in Metro to sync DevTools preferences to React Native synchronously as part of the initial React Native payload (in DEV only). Metro gets these preferences from the DevTools frontend by listening to the (already existing/deployed) sync message sent from the DevTools frontend to backend, so no changes are required on the DevTools side.

That being said, we do need to

[2021-09-14 17:43] bvaughn commented on #22316
This one's all you, @lunaruan!

[2021-09-14 17:54] bvaughn commented on #22311
Passing off to @lunaruan who's already looking into console changes and recently modified this code.

[2021-09-14 18:25] bvaughn commented on #22315
Just to be clear, ignoring the `displayName` attribute is (I'm pretty sure) an intentional part of the "native component stacks" - which are supposed to exactly mimic the format of native stacks (`Error().stack`) which also don't respect `displayName`. The major benefits of this approach are:
1. Doesn't require/rely on shipping `displayName` in production builds.
2. Component stacks can be process

[2021-09-14 20:07] main-- commented on #22315
Thank you for the fast response!

I think you're spot on that this is about *render prop* vs *React element*. Sorry, I confused the terminology.

So it looks like moving away from render props could be a workaround for now. I'm not sure if this is actually possible for react-easy-state though, but I can try.

One unfortunate aspect about this issue is that the [docs](https://reactjs.org/docs/react

[2021-09-14 20:13] bvaughn commented on #22315
Can you share a _reduced_ repro that shows this behavior specifically?

Looking at the code, it _seems_ like the `displayName` attribute should actually be respected (at least in DEV builds):
https://github.com/facebook/react/blob/50263d3273b6fc983acc5b0fd52e670399b248b1/packages/shared/ReactComponentStackFrame.js#L260-L262

[2021-09-14 21:35] jstejada opened #22319 "[DevTools Bug]: Hook names fail to parse if source JS is defined in an htm file with inline script tags"
### Website or app

Test the fixtures on the standalone app: ./fixtures/devtools/standalone/index.html

### Repro steps

1. Run standalone app
2. Open fixtures file in safari: ./fixtures/devtools/standalone/index.html
3. Try getting hook names, observe that parsing source files fails

### How often does this bug happen?

Every time

### DevTools package (automated)

_No response_

### DevTools ver

[2021-09-14 21:58] noahehall commented on #21636
@bvaughn  hah!

Upraded node to 16.9.1 and recieved the same error as you.

the the real issue was a preinstall script inside jsync/package.json (ment to automatically sync root pkgjsons to child pkjsons)

This has been fixed and you should be able to follow the steps and reproduce without issue

[2021-09-14 22:03] justingrant commented on #18610
I'm seeing the same failures on my Mac, so I'd suggest re-opening this. Versions:
* `node -v` v16.5.0
* `yarn -v` 1.22.4
* MacOS: Big Sur 11.5.2 (20G95)
* React is running latest main branch just rebased a few days ago

LMK how I can help repro this and/or diagnose the root cause. It's actually a somewhat annoying issue when working on PRs because tests never run green.

[2021-09-14 22:06] prodikos commented on #22293
Actually I think this depends on the function. Indeed your array example works as expected, but try this:
[code]

For me it fails natively on chrome 😉

Unfortunately my project structure is pretty complex to identify just one possible code path that is causing that issue. My best guess is that it's happening when I am replacing (un-mounting and re-mounting) a couple of thousand of child elements a

[2021-09-14 22:16] wavesoft commented on #22293
Actually I think this depends on the function. Indeed your array example works as expected, but try this:
[code]

For me it fails natively on chrome 😉

_EDIT: I just realised you are doing a spread operator on an array. This is trivially translated into a `concat` call and the stack is not used. However if you try to use the spread operation in a function call, all the function arguments must be f

[2021-09-14 23:51] MainAdc95 commented on #15187
me too :/

![Screenshot from 2021-09-15 03-48-59](https://user-images.githubusercontent.com/72463475/133348553-88b5f74f-25e5-4ba4-8f2d-776252b123c7.png)

[2021-09-14 23:59] ColonelThirtyTwo commented on #14856
This happens to me on Firefox now as well.

What a dumb gotcha. And the justification is just as dumb: "We don't need to fix the framework cuz you can use the escape hatch in the framework to make it work right!" Then why am I bothering with your framework?

[2021-09-15 08:04] akgupta0777 commented on #22115
@aditianshu still working on it ?. Can I try this.

[2021-09-15 09:20] varaprasadh2 commented on #21755
it's happening for me as well,  nothing wrong with my code, but getting this quite often.
![Screenshot from 2021-09-15 14-49-34](https://user-images.githubusercontent.com/90190222/133406863-fd362b3d-2341-4479-b6fb-67bf5b408d42.png)

[2021-09-15 09:22] pke commented on #2055
but why Dan? This issue shows the history of the problem. Creating a new one just fragments issue for no reason (except that this one here is old).

[2021-09-15 10:36] aditianshu commented on #22115
Hey @akgupta0777,
Although I've researched a bit on this issue and tried to come up with a solution, I have some interviews and OAs so I would be take more time in picking it up and closing it. You can go ahead and try it out..
@bvaughn please assign it to him as there would be a delay with me

[2021-09-15 10:43] akgupta0777 commented on #22115
@aditianshu Thanks for replying. I got filled with enthusiasm to solve this issue. By the way, Good luck for your interviews and OAs.

[2021-09-15 13:31] bvaughn commented on #21755
Hey folks 👋🏼  Leaving "me too" comments aren't very helpful. What we need is a way to reproduce this bug on our end so we can (a) see what's causing it and (b) implement and confirm a fix.

**If you can share a way to reliably reproduce this with us please do**.

[2021-09-15 13:35] bvaughn commented on #22293
Nice follow up information! Thanks!

Fair enough. I think we can proceed without a repro in this case.

[2021-09-15 13:46] main-- commented on #22315
Here you go: https://codesandbox.io/s/naughty-austin-jk28f?file=/src/App.tsx

It's basically the renderprop example you linked above, but instead of react-error-boundary I'm using a custom ErrorBoundary component (based on example code from somewhere in the docs).

We still have the two components `BadGuy` and `WrappedBadGuy`, the latter of which is wrapped in the dummy `view()` HOC from your exam

[2021-09-15 13:51] bvaughn commented on #22315
Ah, sorry. _To be clear_ that is the expected behavior for the `ReactiveComp` because `WrappedBadGuy` _is not being called as a React element_ but rather as a _regular function_ (so React doesn't know anything about it / can't access / can't see it to read the `displayName` prop).

[2021-09-15 14:01] bvaughn commented on #22319
I think the title of this issue might be misleading. (I might be wrong but) I don't think the cause is an inline `<script type="text/javascript">` tag but rather the fact that our demo uses `<script type="text/babel">` which has non-standard JS syntax (JSX) that requires a special plug-in to parse.

We _could_ look into how much weight this additional plug-in would add to the bundle, but initially

[2021-09-15 14:03] main-- commented on #22315
I think there is a miscommunication here. `WrappedBadGuy` is in fact called as a React element below:

[code]

What's being passed as a render prop is the inner function `_WrappedBadGuy` (perhaps I should have picked a different name to make the difference clearer). But the `displayName` is being assigned directly to the element, and not the inner function:

[code]

[2021-09-15 14:18] bvaughn commented on #22315
Ah, you are correct. I missed this line:
[code]

I don't think I see how the `view()` wrapper is relevant to this repro then :smile: Seems like what you're really reporting is that a component like this:
[code]
Will show up as `BadGuy` in a component stack rather than `BadGuyDisplayName`. Is that right?

[code]

[2021-09-15 14:26] main-- commented on #22315
Somehow it never occurred to me to test this behavior without some kind of HOC, but I think it really is that simple! :smile:

[2021-09-15 14:32] bvaughn commented on #22315
Okay! Glad we're on the same page. :)

I'm on-call for DevTools this week so I don't really have the bandwidth to dig in any further, I think we have enough info now for this to be discussed/decided.

[2021-09-15 15:02] gaearon commented on #22315
You can `Object.defineProperty` instead for `name`. This works: https://codesandbox.io/s/tender-easley-vck0q?file=/src/App.tsx

[code]

[2021-09-15 15:02] bvaughn opened #22323 "Rollup build script --unsafe-partial flag is broken"
The following example command sequence will fail:
[code]
The above sequence _should_ work but instead fails with one of the two errors below:

This leaves the repo in a broken state (tests won't run, DevTools test shell will crash, etc).

These errors are thrown because this function prematurely resolves:
https://github.com/facebook/react/blob/67222f044c582a1a10f3b9d15d9daf67d5dc5c4f/scripts/rollu

[2021-09-15 15:03] bvaughn commented on #22315
Oh that's a nice point, Dan. I had forgotten about that.

[2021-09-15 15:25] main-- commented on #22315
Using `Object.defineProperty` changes the name used in the error message, but not in the component stack trace: https://codesandbox.io/s/jolly-sea-s7tl4

![image](https://user-images.githubusercontent.com/754850/133462447-b4afe369-b18d-4ca4-9fc4-d8c32bfdd9bf.png)

[2021-09-15 15:27] bvaughn commented on #22315
That's not the behavior I see:
![Screen Shot 2021-09-15 at 11 26 49 AM](https://user-images.githubusercontent.com/29597/133462803-af088081-d2f0-49c7-b1b5-c4b06592e40a.png)

[2021-09-15 15:56] main-- commented on #22315
Interesting! I can confirm that it works on Chromium (`93.0.4577.63 Arch Linux`) but breaks on Firefox (`91.0.2 Arch Linux`), where my screenshot was taken.

[2021-09-15 16:03] main-- commented on #22315
Firefox (left) vs Chromium (right)

![image](https://user-images.githubusercontent.com/754850/133468463-2accf3a4-ccbb-412c-8186-f5e7732032f6.png)

Seems like overriding Function.name using Object.defineProperty changes the name shown in native stack traces on Chromium but not on Firefox.

[2021-09-15 17:31] Biki-das commented on #22323
would like to work on this . can you assign me @bvaughn

[2021-09-15 17:32] #22323 closed

[2021-09-15 17:51] #22115 closed

[2021-09-15 18:29] Biki-das opened #22326 "Test fail while running yarn test"
While running yarn test getting these failing tests-

![react - Visual Studio Code 15-09-2021 11 58 40 PM](https://user-images.githubusercontent.com/72331432/133489177-86d60906-2281-4260-a1a5-1731bb87b321.png)

[2021-09-15 18:38] rickhanlonii commented on #22326
Tests pass for me - can you send the commands you're running?

[2021-09-15 18:40] rickhanlonii commented on #15016
@coder054 the check was also added to `useMemo`, are you sure your React version is up to date?

[2021-09-15 18:42] Jeve-Stobs commented on #22326
What node version are you running? I also have issues on v16.9.1.

[2021-09-15 18:52] rickhanlonii commented on #18610
@justingrant thanks, confirmed. Here's the failure:

<img width="1319" alt="Screen Shot 2021-09-15 at 2 50 35 PM" src="https://user-images.githubusercontent.com/2440089/133492331-8cbcd6c8-f589-468d-bf69-d73de5416dea.png">

Looks like the component stack is broken? But might be specific to prop-types. cc @bvaughn for interest

[2021-09-15 18:54] rickhanlonii commented on #22326
Passes for me on Node v16.8.1

<img width="1319" alt="Screen Shot 2021-09-15 at 2 54 30 PM" src="https://user-images.githubusercontent.com/2440089/133492701-454f7259-273b-41f6-9d8e-55ac8cb5fde9.png">

[2021-09-15 19:02] Jeve-Stobs commented on #22326
Downgrading to node v16.8.0 fixed it for me.

[2021-09-15 19:03] bvaughn commented on #21636
@noahehall Am I checking the `update-wtf` branch for the repro now? HEAD of that branch still fails for me:
[code]

[2021-09-15 19:05] rickhanlonii commented on #22309
Was added [here](https://github.com/facebook/react/commit/b9e4c10e99940ceaff77e1f6f4cb0c747e91acff), and does look like a mistake.

[2021-09-15 19:07] rickhanlonii commented on #22326
What's the exact test command you're running?

[2021-09-15 19:14] th3fallen opened #22327 "[DevTools Bug]: hook resolution throws fetch failure"
### Website or app

n/a

### Repro steps

have a webpack project that uses a domain mapped to your local IP such as (appx.whenidev.net) in my case that's served with https
try to resolve hook names
check console and observe the million errors

https://p181.p1.n0.cdn.getcloudapp.com/items/4gulW8Wo/3bba0881-ee74-4478-8cb8-68370b878855.jpg?v=ab371b6e8fca2cee905d1b9f828ac0d8 shows my console

### How

[2021-09-15 19:14] #22327 closed

[2021-09-15 19:15] th3fallen opened #22328 "[DevTools Bug]: Hook parsing fails with fetch error"
### Website or app

https://p181.p1.n0.cdn.getcloudapp.com/items/4gulW8Wo/3bba0881-ee74-4478-8cb8-68370b878855.jpg?v=ab371b6e8fca2cee905d1b9f828ac0d8

### Repro steps

have a webpack project that uses a domain mapped to your local IP such as (appx.whenidev.net) in my case that's served with https
try to resolve hook names
check console and observe the million errors

https://p181.p1.n0.cdn.getclou

[2021-09-15 19:41] sebmarkbage commented on #22309
Yea, feel free to fix it to an else. Either solution works and might deopt differently but given that this whole branch warns anyway it doesn't matter.

[2021-09-15 19:52] jstejada commented on #22319
@bvaughn so i tested this by making the index.html file only contain a regular `"text/javascript"` script tag, without jsx or anything:

![image](https://user-images.githubusercontent.com/1271509/133500028-8ed0f262-1ad5-4b6b-bb95-d373b20ea697.png)

and our call to `babel.parse()` still fails for parse the file, I presume because `parse()` expects the input to be JS , but we are passing html, so it

[2021-09-15 19:56] bvaughn commented on #22319
The "HTML" you're referring to above is also JSX :)

[code]

[2021-09-15 20:10] jstejada commented on #22319
we discussed offline and there was confusion about what I was referring to in this issue. I updated the summary to try to clarify the problem

[2021-09-15 20:11] noahehall commented on #21636
the branch extract-nodeproto-utica

[2021-09-15 20:12] noahehall commented on #21636
there's a pkjson script that copies the flowconfig , you should comment it

[2021-09-15 20:21] burhanbvk commented on #22214
My first clone of repo had some issues, I started over with a fresh clone. And it appears that this issue is now fixed in the main branch. Is there a schedule for the next release (v 17.0.3 or 17.1.0)=

[2021-09-15 21:30] bvaughn commented on #21636
There is no `extract-nodeproto-utica` branch. Please double check your repro and get back to me, @noahehall. Maybe you forgot to push?

[2021-09-15 21:32] bvaughn commented on #21636
[code]

[2021-09-15 23:37] noahehall commented on #21636
@bvaughn you need to update your node version to 16.5 > greater

[2021-09-16 01:18] chaiyilin commented on #3738
can we keep this open unless it is decided not to fix?

[2021-09-16 02:54] akgupta0777 commented on #22328
Please provide a reproduce repo or a codesandbox for further investigation on the issue

[2021-09-16 04:15] Pranav127 commented on #22111
bug issuse

[2021-09-16 04:55] GrantGryczan opened #22331 "Bug: Incorrect escaping inside `style` tags"
In general, only backslashes escape things in CSS, while HTML entities are only treated by CSS as plain text.

Despite this, `ReactDOMServer.renderToString` escapes HTML special characters (e.g. `&`, `<`, `>`, `"`, `'`) into HTML entities (e.g. `&amp;`, `&lt`, etc.) that are inside a `style` element, even if it makes the stylesheet invalid or transforms it to be different from what is intended in

[2021-09-16 05:12] Biki-das commented on #22326
closing this as i forgot to pull and update the file , sorry!

[2021-09-16 05:12] #22326 closed

[2021-09-16 05:45] drager opened #22333 "Error: "Cannot read property 'length' of undefined""
Describe what you were doing when the bug occurred:
1. Just trying to profile an React Native app

![Screenshot_2021-09-16_07-44-35](https://user-images.githubusercontent.com/1957563/133556382-73ddabab-f985-4fd2-9d60-1a1438d8bd8b.png)

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.10.1-

[2021-09-16 06:00] JuraJuki commented on #22257
Any updates on this issue?

[2021-09-16 10:06] JounQin commented on #4210
Using `onMouseDown` to replace `onClick` seems working to me.

[2021-09-16 10:36] aliveli186 opened #22335 "Bug: Warning: Cannot update a component (`Parent`) while rendering a different component (`Child`)"
I'm receiving that error when the page is being rendered without even clicking the link to trigger the state change.
Here is the simplified code:

[code]

[2021-09-16 10:46] eps1lon commented on #22335
`<a onClick={setItemId(1)} />` this means that you will call `setItemId` when rendering which triggers the warning. You probably want to write

[code]

[2021-09-16 10:46] #22335 closed

[2021-09-16 10:48] aliveli186 commented on #22335
Yes, I was just going to write wrapping it inside a function solved the issue.

[2021-09-16 12:00] th3fallen commented on #22328
I'm not sure I can setting as it depends on a particular webpack dev server setup

[2021-09-16 12:30] HarshShinebathroom opened #22336 "app:lintVitalReleaseBug issue"
[code]

**Screen-shot**

<img width="654" alt="Local_issue_jcenter" src="https://user-images.githubusercontent.com/90843653/133613659-70ee0e0a-ceac-430f-8ede-b93b78063c67.PNG">

_React Native version:_

**"react-native": "0.63.2"**
## Steps To Reproduce

1.gradlew assembleRelease  (on local machine, windows system)

[2021-09-16 13:41] jzombie commented on #22257
@bvaughn   I experimented a little and this is the closest I could get to make something work, where each call to console.log would call alert() with a new index, while retaining the original stack trace.

Maybe it could be useful, or maybe not.

![console override](https://user-images.githubusercontent.com/1139657/133622639-89990c1b-598e-48c6-a757-5e678fe195ba.png)

`<script>
  // Original consol

[2021-09-16 14:01] jzombie commented on #22257
One more example showing the console log itself changing per call.

![console runner 2](https://user-images.githubusercontent.com/1139657/133625887-6f78329f-5b96-4046-986c-b0cdd3406335.png)

[code]

[2021-09-16 14:12] gaearon commented on #22257
@JuraJuki If there were updates on this issue, they would be… on this issue. Please refrain from comments like this — they create notification noise for other people and don’t bring the conversation forward.

There’s ongoing work on this. When it’s done we’ll close the issue.

[2021-09-16 14:44] acdlite opened #22338 "Fix error recovery mechanism"
- Suspending should take precedence over errors
- Errors during hydration should force a client render
- Consider implications for useOpaqueIdentifier

[2021-09-16 16:07] EricRabil commented on #22257
Another option to work around this without disabling the backend is to `Object.freeze(console)` - this is not a long-term fix but does let you keep the other parts of the backend.

[2021-09-16 16:49] akgupta0777 commented on #22328
We need a repo for reproducing and for further investigation.
You can make a test repo with Webpack dev server setup and a normal example for this issue would be very helpful.

Don't forget to include Webpack.config.js

[2021-09-16 18:39] jkalberer commented on #15315
While @Yolantele's solution works when you only have a single peer dependency, you would need to do this for every peer dependency to make this work.

[code]
Config for webpack
[code]
Config for gatsby
[code]

[2021-09-16 19:17] jstejada opened #22339 "RFC: Parsing hook names should display better error messages"
## Proposal

When attempting to extract hook names for an inspected element, if source maps aren't available or they fail to load for some reason, the UI doesn't show any indication of that happening, and instead silently "succeeds", but without showing any actual hook names.

When this happens, we should probably handle it differently:

- If we can detect that the source code wasn't actually tran

[2021-09-16 19:43] HectorLS opened #22340 "Bug: broken app when namespaced tags in JSX"
React version:  ```"react": "^17.0.1"```

## Steps To Reproduce
Trying to generate a sitemap.xml.jsx  got broken the moment i try to use namespaced tags

Link to code example:  https://codesandbox.io/s/sitemap-wrong-ovyez?file=/src/sitemap.xml.jsx

## The current behavior
Error message, app broken:

`Namespace tags are not supported by default. React's JSX doesn't support namespace tags. You can s

[2021-09-16 22:54] bvaughn commented on #22328
DevTools cannot currently load Webpack's "eval" source maps because their locations begin with "webpack-internal://". (There's no API that can _fetch_ a resource at such a URL b'c that protocol doesn't exist.)

Open for ideas or suggestions here.

[2021-09-16 22:55] bvaughn commented on #22333
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can al

[2021-09-16 22:55] th3fallen commented on #22328
What source map would you recommend for dev mode with fast refresh?

[2021-09-16 22:57] bvaughn commented on #22328
Maybe "cheap-source-map"

[2021-09-17 00:19] GrantGryczan commented on #22331
Though I'm not sure what should happen if you were to place the string `</style>`. It may be best to resolve this as a `wontfix` due to security concerns (especially because of the likelihood of an mXSS vulnerability that could be caused by fixing this).

[2021-09-17 02:11] samcf commented on #19695
I wonder if my issue is related. I'm reordering a list of elements, each of which have a static and unique identity. These elements are positioned with `transform: translate(0px, ${index * height}px` and `transition: transform 1s ease-in-out`.

When re-ordered, elements successfully animate "up" but skip their transition when moving "down" the list. As far as I can see, the elements are not re-mou

[2021-09-17 02:14] th3fallen commented on #22328
I'll give it a try thanks

[2021-09-17 02:14] #22328 closed

[2021-09-17 03:20] yaoweiprc commented on #22328
same problem!

[2021-09-17 08:23] LeiZeng commented on #14137
I have identified the root cause probably, while trying to use @react-three/fiber, and I don't think it's a version compatible issue.

**Tltr**: react-reconciler will drive itself into endless error loop when `NODE_ENV=development` and use `production` bundle of `React`. Especially the loop is a `do{}while(true)` synchronous loop, which make the application blocked.

The error is caused at: https:

[2021-09-17 08:27] yedhukrishnagirish commented on #13991
function  App (){
  const counter = useSelector(state => state.counter);
  const log = useSelector(state => state.log);
  return (
    <div className="App">
     Hello world {counter} {log}
    </div>
  );
}

I'm also facing same issue, what is wrong in it?

[2021-09-17 08:55] amorphousDj opened #22343 "Bug: Wrong warning: unmountComponentAtNode(): The node you're attempting to unmount was rendered by another copy of React."
React version: 17.0.2

## Steps To Reproduce

1. click show button
2. click close button

Link to code example:
https://codesandbox.io/s/nodewarning-9fu7n

## The current behavior
The console will print “Warning: unmountComponentAtNode(): The node you're attempting to unmount was rendered by another copy of React.”
![image](https://user-images.githubusercontent.com/31609229/133753965-7e3c198a-2b75

[2021-09-17 12:10] #22336 closed

[2021-09-17 13:35] bvaughn commented on #22339
My understanding of what happens/should happen (although maybe we are missing some edge cases) is this:

1. If a source file or source map fails to load, the Suspense cache should resolve a `RejectedRecord` and return `null` - which should cause an error tooltip to be displayed:
![Screen Shot 2021-09-17 at 9 31 25 AM](https://user-images.githubusercontent.com/29597/133790819-5cf3ef09-4a47-4414-b4d

[2021-09-17 13:41] piecyk commented on #17624
Looks like there is a memory leak in DevTools, was noticed in https://github.com/tannerlinsley/react-virtual/issues/196

Created small demo, it can be observer while scrolling a list, memory increase because of detached fiber and dom elements

https://github.com/piecyk/react-devtools-memory-leak-17092021

It happens also in production build, noticed that elements aren't removed from `fiberToIDMap`

[2021-09-17 13:41] bvaughn commented on #21636
There's still no `extract-nodeproto-utica` branch, @noahehall.

I'm running out of steam on this repro case. Can you please  double check that you've pushed the branch you think you've pushed, and tell me exactly which branch/revision to checkout and which commands I need to run in order to repro this?

[2021-09-17 13:43] bvaughn commented on #17624
Thanks for sharing a repro, @piecyk. I'll take a look.

[2021-09-17 13:52] djmisterjon opened #22344 "[DevTools Bug]: Emoji seem supported but produce strange symbole"
### Website or app

????

### Repro steps

Emoji seem supported but produce strange symbole

![image](https://user-images.githubusercontent.com/24865815/133793744-55a55582-90ad-425f-8a40-4c061a3c1d80.png)

Very low priority maybe because it affect nothing .

### How often does this bug happen?

Every time

### DevTools package (automated)

_No response_

### DevTools version (automated)

_No respo

[2021-09-17 13:52] #22344 closed

[2021-09-17 13:52] #22293 closed

[2021-09-17 13:57] noahehall commented on #21636
extract-nodeproto-utils

[2021-09-17 14:32] bvaughn commented on #17624
It does look like DevTools isn't recording unmounts for list-item Fibers in this repro, which causes it to retain them after they've been unmounted.

I thinks a _React bug_ though. (React is supposed to explicitly notify DevTools of unmounts and it doesn't seem to be.)

I wonder what it is about `react-virtual` that triggers this behavior that doesn't repro with a library like `react-window`.

[2021-09-17 14:33] bvaughn commented on #17624
Another interesting thing I'm seeing is that _sometimes list items do get unmounted_, but not often. I wonder what's different about the cases that do vs the ones that don't.

[2021-09-17 15:05] piecyk commented on #17624
Also as side note, i would expect to see similar behaviour in react-window, as in windowing nature there is lot of mounting/unmounting, only difference to react-virtual is, that it's hook based and react-window on classes.

[2021-09-17 15:40] th3fallen commented on #22328
FWIW cheap source map also does not work, gives no error in console though so I guess that's a plus

[2021-09-17 15:43] bvaughn commented on #22328
"cheap-source-map" is supported. We're using it in our local test app ([react-devtools-shell](https://github.com/facebook/react/blob/main/packages/react-devtools-shell)). Maybe something else is going on in your project. Want to share a repro?

[2021-09-17 15:54] th3fallen commented on #22328
Sadly I can't it's my company's private gitlab instance, but I'll try to create a reproduction. I bet it's something with us using stage 0 stuff

[2021-09-17 16:27] lunaruan commented on #22311
It's also not syncing to the `react-devtools-inline` either. Taking a look!

[2021-09-17 16:36] cjativa commented on #12447
Question on this maybe @jquense or @gaearon can answer; is `ReactDOM.createPortal(...)` synchronous?

It doesn't accept a callback function, and when I check the container element (via debugging), the provided React node has not been added into the container.

Is there anyway I can listen for when the node has been placed into the container? Code below

![image](https://user-images.githubuserconte

[2021-09-17 16:53] #17624 closed

[2021-09-17 16:53] bvaughn commented on #17624
This fix will go out with the next DevTools release.

[2021-09-17 17:17] piecyk commented on #17624
Thanks @bvaughn 👍

[2021-09-17 19:06] owenallenaz commented on #15344
@juanpreciado I believe this is a flawed approach to this problem. You are using the `state` value that is in your render. If the state was to update between when your component renders and when that dispatch is called, you'll find the current `state` mismatches the state you see. For example, you can see this issue if you just add another call to `dispatch` before your current `dispatch`. That fi

[2021-09-17 19:52] owenallenaz commented on #15344
The following is my attempt at solving this problem. I utilize an `EventEmitter` and a `WeakMap` that keys off the action object. When a reducer is complete it emits the action object. This doesn't guarantee that the UI has updated. But it does guarantee that the `dispatch()` has completed and the related reducer has run that action, which is the key sticking point for my issues. You can use the `

[2021-09-17 20:42] thusinh1969 commented on #2055
It is annoying really ! It is simply stop accepting click for whatever reason ! Is that because Apple want everyone on app ?

Steve

[2021-09-17 21:44] aliwasif177 opened #22349 "Bug: I was contributing to selenium ide and I got problem with input. If I complete input from autocomplete suggestions. State update did'nt reflect. Morever it throws exception " expected keyboard error but got mouse event'"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-09-17 22:25] bvaughn commented on #22349
This isn't an actionable bug report. Please actually fill in the information the bug template asks for , especially **Steps to reproduce** the bug.

[2021-09-18 01:40] sowrovsarkar63 commented on #22333
I'm recommending bvaughn  comment

[2021-09-18 03:31] gionchat opened #22351 "Bug: Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万 Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营"
Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万
Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营

[2021-09-18 07:09] akgupta0777 commented on #22351
@gionchat
请不要通过发布这样的问题来浪费辛勤工作的开发人员的时间。谢谢

[2021-09-18 07:45] eps1lon commented on #22351
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific questio

[2021-09-18 07:45] #22351 closed

[2021-09-18 11:18] Hyperion101010 commented on #22339
Hi, I am a young FS developer.  I would like to work on this issue.

[2021-09-18 14:51] bvaughn commented on #22333
I literally commented above saying that this bug needs more information.

[2021-09-18 17:12] Noah670 commented on #22343
Have you tried updating React?

[2021-09-18 17:16] Drogzang opened #22353 "components not displaying in react developer tools"

[2021-09-18 18:01] nikitabhardwaj commented on #22241
I got the same issue for the first time!
Code Sandbox link: https://codesandbox.io/s/changing-complex-state-practice-forked-w006j?file=/src/components/App.jsx
This is the error I am getting:
Uncaught Error: Could not inspect element with id "2". Error thrown: Cached data for element "2" not found
Dismiss
The error occurred at InspectedElementContextController (chrome-extension://fmkadmapgofadopljb

[2021-09-18 19:05] jannunen commented on #16211
You just saved my day (after 10 hours of fiddling).

[2021-09-18 19:45] appsplash99 commented on #22353
Pleas provide with more details on the issue.

[2021-09-19 08:52] eps1lon commented on #19117
Thanks for the feedback.

The rules of hooks are only enforced for

-- https://reactjs.org/docs/hooks-faq.html#what-exactly-do-the-lint-rules-enforce

So you should name your function to get the rule to work. This also helps debugging since your inner component wouldn't have a display name otherwise.

[code]

Duplicate of https://github.com/facebook/react/issues/20408, https://github.com/facebook/

[2021-09-19 08:52] #19117 closed

[2021-09-19 08:56] eps1lon commented on #18818
Can still reproduce in latest DevTools and React version. @bvaughn Am I misunderstanding what the "rendered at" in the side-panel is supposed to say?

[2021-09-19 12:55] #22353 closed

[2021-09-19 12:55] bvaughn commented on #22353
This bug has no details and isn't actionable so I'm closing it.

[2021-09-19 13:01] bvaughn commented on #18818
The "rendered at" time in this label is not specific to the component. It's describing _the commit that the component rendered as part of_. If you have suggestions for changing the label, I'm open to hearing them.

I think we _could_ use the Fiber's `actualStartTime` flag to read the time when the specific Fiber was worked on, if that would be _helpful_, but we'd have to eager traverse the Fiber t

[2021-09-19 15:09] eps1lon commented on #18818
When you mean "label" you refer to the side-panel?

What I don't understand is why we do display different information in the tooltip. I would just expect the same timings displayed in the tooltip to appear in the side-panel. Because it's a bit unintuitive that the side-panel would first show a timing `alpha` with the heading "commit information" and also display that exact same timing `alpha` wit

[2021-09-19 15:44] twsl commented on #14035
This bug is still present

[2021-09-20 07:50] m-nathani opened #22360 "Bug: Permission denied to access property "correspondingUseElement""
React version: 16.14.0

## Steps To Reproduce
open cra in firefox

Link to code example:
Crashed in non-app: ../node_modules/react-dom/cjs/react-dom.production.min.js in nc
../../src/helpers.ts in r at line 87:17

Firefox
version | 92.0

Mac OS X
Version | 10.12

[2021-09-20 08:35] eps1lon opened #22361 "React 18: hydration mismatch when an external store is updated in an effect"
React version: https://github.com/facebook/react/pull/22347

## Steps To Reproduce

1. Read store (using `useSyncExternalStore`) inside a Suspense boundary where no component suspended
2. Read store (using `useSyncExternalStore`) outside of any Suspense boundary
3. Update store outside of any Suspense boundary in an effect (`useEffect`)

[code]

Link to code example: https://codesandbox.io/s/react

[2021-09-20 08:35] prokorpio commented on #7142
Hi, I have also encountered this problem with react hooks. Thanks to @JordanHoffman's idea to alternate using a typical-animation and the reverse-reverse of it, I was able to make it work. :) This saved me from days of being stuck on this problem. Thank you!

However my use case is a bit different to that of Jordan, so I'm sharing my implementation here just in case anyone has the same use case as

[2021-09-20 11:07] cyntler commented on #18610
@justingrant @rickhanlonii
Yes, in the newest versions of Node I also have the same error.
When I ran `nvm use` to use Node's v12.17.0 specified in the .nvmrc file, the tests passed.

[2021-09-20 15:07] acdlite commented on #22361
This is the purpose of the `getServerSnapshot` argument. It looks like you're passing the same `getServerSnapshot` as you are the regular `getSnapshot`. From your CodeSandbox:

[code]

Instead, the third argument should return the value used by the server:

[code]

(Btw there's no performance advantage to these being memoized since they return immutable values.)

How you implement SERVER_STATE wil

[2021-09-20 15:10] acdlite commented on #22361
To explain how React uses this argument, it will call `getServerSnapshot` instead of `getSnapshot` both on the server _and_ during hydration on the client. This way you can tell React exactly what value was used to render on the server and avoid mismatches.

If something does change on the client, React will apply the change after hydration has completed.

[2021-09-20 15:16] bvaughn commented on #21636
Still seeing the error above:
[code]

And there's no webserver running on localhost:8080 after running `pnpm start:react`.

[2021-09-20 15:33] cjativa opened #22366 "Bug: ReactDOM.createPortal does not reflect the new state of the container element, and no way of being notified (like via callback) of changes"
React version: 17.0.2

## Steps To Reproduce

1. Create a element node XYZ using `document.createElement` to act as the container
2. Render a React component element into it with `ReactDOM.createPortal`
3. Check the children of element node XYZ immediately after using `ReactDOM.createPortal`

Link to code example:
https://codesandbox.io/s/fervent-orla-2egh7?file=/src/App.js

## The current behavio

[2021-09-20 15:38] eps1lon commented on #22361
Because the store is actually the same on client and server as far as I can tell. But I don't know if any component in the tree might update the store (in a concurrent compliant way).

Could you explain why my example works perfectly fine if I don't use Suspense? The server rendered and client rendered markup is the same with and without Suspense in my example. It just fails to hydrate once wrappe

[2021-09-20 15:46] eps1lon commented on #22361
I think I get it now. Even though I know that the server store and initial client store are the same, I don't know if the client store is still unchanged once a particular reader is getting hydrated. So I need to make sure I read from the initial copy.

For my minimal example that's basically.

[code]

https://codesandbox.io/s/react-18-updating-store-in-an-effect-during-mount-causes-hydration-mism

[2021-09-20 16:13] acdlite commented on #22361
It's because React breaks up the hydration using the Suspense boundaries. So with the Suspense boundary, the effect hydrates and fires before the inner tree, causing a mismatch. Without the boundary, everything hydrates and commits in the same batch.

[2021-09-20 16:16] acdlite commented on #22361
Yeah we could consider that though maybe documenting it is good enough.

[2021-09-20 16:32] eps1lon commented on #22361
Alright, thanks for clarifying 👍🏻  Closing since this an author error not library error.

[2021-09-20 16:32] #22361 closed

[2021-09-20 17:31] bvaughn opened #22370 "DevTools: Test named hooks behavior with React Native"
Follow up to #22320

Seems like we tested standalone named hooks support for Safari but not React Native. We should confirm this works in RN as well. (We should probably also update the DevTools backend in RN.)

[2021-09-20 17:38] cyntler commented on #22366
You use case is working fine when we render what `ReactDOM.createPortal(<SomeNewNode />, widgetNode)` returns.
Check it: https://codesandbox.io/s/epic-ride-yl7sp?file=/src/App.js

[2021-09-20 17:55] Biki-das commented on #22370
a bit off topic @bvaughn  can you help me on a issue , what the best way to keep in sync with the main react repo , i follow the upstream method and it works fine , all tests etc run fine in local machine and PR also gets pushed easily but circle ci build always fails sometime its linc or sandbox anything you want to suggest

[2021-09-20 18:28] cjativa commented on #22366
@cyntler thanks for that, and you're right, it works when we render what `createPortal` returns.

But for my use-case, which I haven't gone into specifics here, I don't think I can just render what `createPortal` ends up returning since my scenario is a bit more programmatic.

![image](https://user-images.githubusercontent.com/41299115/134054443-a0a4cd46-b86f-4a4d-8df9-ac7b280162c6.png)

At a high

[2021-09-20 19:56] Max0nyshchenko commented on #22131
I'd like to take this one, is it free @ishmum123 ? But I see no exported types ReactFiberHostConfig, is it how it should be ? any help?

[2021-09-20 20:29] ctsstc commented on #15620
I just spent far too long to find out that it wasn't the `<li>` tag that was throwing the error, which already had unique `key` values, it was actually the parent `ul` tag that needed the key 🤦

[2021-09-21 00:10] lunaruan commented on #22311
I tested this an it seemed like all the settings were updating without an update for me. Does Jimmy have any more repro steps for this bug?

[2021-09-21 05:47] ivanhofer commented on #21654
I have a similar issue. I created a PR that should fix the crash: https://github.com/facebook/react/pull/22380

To reproduce:
 - clone https://github.com/ivanhofer/typesafe-i18n
 - `cd` into `examples/react`
 - install dependencies `npm i`
 - run application: `npm run dev`
 - open the `Components`-Tab in `React Dev Tools`
 - click on the `Child` component

you should see following error:
![image](

[2021-09-21 05:48] Rahul7171 commented on #9999
is anyone Working on this issue Can i?

[2021-09-21 07:42] akgupta0777 commented on #22343
I need more info
What does **another copy of react** mean ?

[2021-09-21 09:39] thany commented on #14856
@gaearon Please reopen, since a proper fixes has not yet been provided. As long as this issue is closed, it might get overlooked or assumed to be solved by contributors.

[2021-09-21 13:16] khg0712 commented on #13651
@gaearon I think this issue is same with [this issue](https://github.com/facebook/react/issues/9402). please close this issue.

[2021-09-21 15:27] rickhanlonii commented on #22131
Thanks but micro-optimizations without context like this are often [misleading](https://mrale.ph/blog/2014/12/24/array-length-caching.html). Happy to revisit if you can show that this function is the bottleneck in this code — which so far doesn't seem very likely.

[2021-09-21 15:27] #22131 closed

[2021-09-21 15:29] rickhanlonii commented on #22360
@m-nathani thanks for reporting. Unfortunately, there's nothing actionable for us here. If you can provide a codesandbox that we can reproduce in, I'm happy to re-open and take a look.

[2021-09-21 16:41] eps1lon commented on #22343
I think the problem is that `ReactDOM.render` handles the `container` but then your `Dialog` manually inserts element into this `container` via `appendChild`.  I don't think that's generally supported.

And once you call `ReactDOM.unmountComponentAtNode(container)` React tries to unmount something that was  was rendered via `ReactDOM.createPortal`. So it may just be a misleading warning since it's

[2021-09-21 17:07] jstejada commented on #22370
verified that hook names works against RN after the changes in #22320

![image](https://user-images.githubusercontent.com/1271509/134215882-7d1613fe-31fb-4077-9adf-d76b87aeb17e.png)

[2021-09-21 17:07] #22370 closed

[2021-09-21 17:25] eps1lon commented on #22343
To further elaborate: The same warning appears with

[code]

I don't think it's worth it to explain every single possible scenario if almost all issues are caused by a different copy of React.

[2021-09-21 19:49] forivall commented on #15259
You can set `function.name` via the following, and it shows up in devtools and stack traces:
[code]
(some environments dont make "name" configurable, so that's why the try/catch is necessary)

[2021-09-21 20:21] KilledMufasa commented on #16547
If you just want a 'clean' browser install (without previously placed cookies, storage etc.) and if you are using Private Windows to accomplish this (and not for testing the Private Windows specifically), Containers might be a handy workaround for debugging purposes.

You can make temporary containers with a single button-press using this plugin: https://addons.mozilla.org/en-US/firefox/addon/temp

[2021-09-22 07:16] jquintozamora commented on #14257
I configured this in webpack 5 and it's working for me:
[code]

[2021-09-22 10:10] irinakk commented on #22366
Without "returning" from render, what you are manipulating are still ReactElements / Portals in memory, so you cant read it from dom yet. So either render it, or try to implement `replaceRangeWithMark` based on ReactElement if possible (and render it).

[2021-09-22 10:55] main-- commented on #22315
Just to be clear, `displayName` is broken (at least for me) in all browsers. The problem looks like this: Native Component Stacks appear to just ignore `displayName` right now. Instead, it always prints the native function name. Using the `Object.defineProperty` [hack](https://github.com/facebook/react/issues/22315#issuecomment-920101130), it is possible to override the native function name in som

[2021-09-22 18:07] c-i-a-n-i commented on #18018
Bump - Still experiencing the issue exactly as described by @PerfectionVR. It also repros here on the MDN site itself: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/reset
To repro, just type in anything in the text box, undo redo a couple of times, then hit reset, focus on the text box again and hit undo, followed by a couple of redos. You will get the bug described.

[2021-09-22 18:24] cjativa commented on #22366
This makes sense, but then it's a very roundabout way to perform actions once the element-to-render is rendered, since you'll have to do it in the `useEffect` of that component when mounted.

Whereas `ReactDOM.render(...)` can accept a callback to do such tasks.

This can be closed, since the current workaround is to render the portals and doing the actions in a `useEffect`. A callback would be mo

[2021-09-22 19:49] murffious commented on #15006
It fascinates me that this is an ongoing issue since 2019 with such an excellent dev community with react. (i luv react and thanks team for all the work  you do, fyi)

There are TONS of bog posts about about how to solve for this. Here is one I thought was well done: https://www.debuggr.io/react-update-unmounted-component/
Another one with similar thoughts kinda harder to read but some good ideas

[2021-09-22 20:43] murffious commented on #15006
Given that the latest release was 17.0.2 (March 22, 2021) and this warning was removed on Aug 18 https://github.com/facebook/react/pull/22114 -- this issue is not going to be an issue someday based on that eh

[2021-09-22 23:01] stephencweiss opened #22402 "Bug: Fast Refresh Breaks - unclear why"
React version: 17.0.2

## Steps To Reproduce

1. https://github.com/parcel-bundler/parcel/discussions/6974

Link to code example: Have not been able to reproduce reliably.

## The current behavior
When I have a custom hook, Parcel seems to choke on Fast Refresh

## The expected behavior
Custom hooks work fine.

## Additional details

[code]
**note**: My solution was to update the start script to i

[2021-09-23 02:04] mrchantey commented on #14603
According to the [React code splitting docs](https://reactjs.org/docs/code-splitting.html#named-exports):

[2021-09-23 02:53] amorphousDj commented on #18945
@bvaughn Can I take a look at it as my first issue?

[2021-09-23 07:54] Mayank-MP05 commented on #21755
I too faced the Same Bug while working with react-dev-tools but when I clicked reinstalled dev tools its temporarily vanished

[2021-09-23 09:39] VincentLebrun opened #22406 "React 18 context"
Hi why context documentation are still explained as class items and no functionnal component ?
 in the future that will be removed or something like that?
 Thank for answer have good day

[2021-09-23 12:29] bvaughn commented on #18945
If you'd like to, please do.

[2021-09-23 14:19] fr33z3 commented on #12014
Any news or workaround for that?

[2021-09-23 16:13] gaearon commented on #22406
We are rewriting the docs with Hooks first but it will take more time. With Hooks, `useContext` is how you use it.

[2021-09-23 16:13] #22406 closed

[2021-09-23 16:15] gaearon commented on #22402
I don't see a reason to believe this is related to React, since the error is in Parcel. It's up to Parcel to guarantee the globals are defined at an appropriate time.

[2021-09-23 16:15] #22402 closed

[2021-09-23 16:48] stephencweiss commented on #22402
@gaearon - Totally valid response! I wanted to share as much for visibility as anything.

Appreciate you!

[2021-09-24 00:06] CapsLockTeam opened #22408 "Bug: useState Hook has different behaviour than class state when it is an object"
React version: 17.0.2

**The current behavior:**
Very buggy. Sometimes it rerenders the checkbox and is displayed correctly, other times it just stays with original value.

**The expected behavior:**
That the object in the state updates correctly to true/false based on the checkbox state. It works like that in class components.

**Steps To Reproduce:**
1. Set an object with some key as a state obj

[2021-09-24 00:41] markerikson commented on #22408
Just based on that snippet, you are _mutating_ `oldObject`, and then returning it.  That will _always_ break. `useState` and `useReducer` require _immutable_ updates - you always have to make a _copy_ of the original data, modify it, and return that copy:

- https://reactjs.org/docs/hooks-reference.html#bailing-out-of-a-state-update
- https://daveceddia.com/react-redux-immutability-guide/
- https:

[2021-09-24 01:12] shubhanshu2000 commented on #14454
why when i use styled components in react js it shows this error:-   Invalid hook call. Hooks can only be called inside of the body of a function component. error

[2021-09-24 03:50] haoyinag opened #22411 "Bug: How can I use react.lazy in "config.output.libraryTarget = 'umd'""
React version: "^16.14.0"

## Steps To Reproduce

1. create app with "create-react-app"
2. install "react-app-rewired"
3. set webpack config like
[code]
4. package.json
[code]
5. route
[code]
6. run "yarn micro"
7. the error messages
[code]

[2021-09-24 04:35] Hyperion101010 commented on #22309
Picking this up

[2021-09-24 06:17] justingrant commented on #22309
Cool. I'd suggest removing the first assignment instead of adding an else. Save a few bytes of bundle size.

Sent from my mobile device.
________________________________
From: Shivam Balikondwar ***@***.***>
Sent: Thursday, September 23, 2021 9:36:02 PM
To: facebook/react ***@***.***>
Cc: Justin Grant ***@***.***>; Mention ***@***.***>
Subject: Re: [facebook/react] Bug: missing `else` statement in

[2021-09-24 06:41] zhangqiwei666 opened #22412 "13"
13131

[2021-09-24 06:42] #22412 closed

[2021-09-24 10:11] Enteleform opened #22413 "Bug: Components inside typescript namespaces cause ReferenceError"
Forwarded from https://github.com/vitejs/vite/issues/3900 by @not-rusty based on the recommendation of @sodatea, which stated that this should be considered as a bug in the `react-refresh` package.
&nbsp;

----

### Describe the bug
Apparently components inside namespaces is not supported. I don't exactly know if the error comes from esbuild or something, but it would nice.

The bug is that is not

[2021-09-24 11:03] piotrpawlik opened #22414 "Unavoidable eslintreact-hooks/exhaustive-deps warning after restoring scroll position from session storage"
My implementation for restoring scroll position after route change goes like this:
[code]
I had to omit `storedScroll` from dependencies of first `useEffect` since I do want "restoring" to be triggered only when route changes.

I went through entire https://reactjs.org/docs/hooks-faq.html#is-it-safe-to-omit-functions-from-the-list-of-dependencies section and got encourage by docs to create this is

[2021-09-24 11:50] CapsLockTeam commented on #22408
Of course, in my code I use the spread syntax to return a new object.

Reason why I opened this is because it works with class components.

Also, it works in useState hook with all other inputs I've tested like text, password, select and so on where the state object is an object reference which contains a key with the value of a reference to a string.

[2021-09-24 12:18] amensum commented on #22309
Check https://github.com/facebook/react/pull/22409 pls

[2021-09-24 13:53] markerikson commented on #22408
That is exactly my point. **There is a known _intentional_ difference in behavior between `useState/useReducer` and class component `this.setState`**.  The hooks _require_ immutable updates. `this.setState` does not.  This is not a bug, it's an intentional evolution in React's design.

[2021-09-24 17:27] CapsLockTeam commented on #22408
Oh, I was not aware of this, only started recently using React for a project and all I know is through the docs.

Thank you for the clarification @markerikson !

[2021-09-24 17:27] #22408 closed

[2021-09-24 20:15] djmisterjon opened #22422 "[DevTools Bug]: Emoji as visual helper produce strange symbole"
### Website or app

https://codesandbox.io/s/react-playground-forked-j4niq

### Repro steps

Emoji seem supported but produce strange symbole

![image](https://user-images.githubusercontent.com/24865815/133793744-55a55582-90ad-425f-8a40-4c061a3c1d80.png)

To test emoji on Window Os, use `[win]+[.]` 🟩

### How often does this bug happen?

Every time

### DevTools package (automated)

_No response_

[2021-09-24 20:43] bvaughn commented on #22422
This is interesting!

DevTools sends component names as encoded characters, [because the components tree is just a typed numeric array](https://github.com/facebook/react/blob/main/packages/react-devtools/OVERVIEW.md#serializing-the-tree) for performance reasons.

So a component name gets encoded like so:
[code]

I think "🟩" is a [multi-byte character](https://docs.microsoft.com/en-us/cpp/atl-mfc-s

[2021-09-24 20:57] bvaughn commented on #22422
Yes, this does work:
<img width="721" alt="Screen Shot 2021-09-24 at 4 56 24 PM" src="https://user-images.githubusercontent.com/29597/134738813-1f8b9929-4df2-4497-b80b-7039b8a64210.png">

Not sure what the performance impact is though.

[2021-09-24 21:00] djmisterjon commented on #22422
Is performance in a development environment are so important?, are we talking about `micro optimization`  for this specific case ??
Am also not familiar with this, but i let you take decision :)

[2021-09-24 21:01] bvaughn commented on #22422
Yes. This code is a hot path and very performance sensitive. I don't expect this would be a deal breaker though. :)

[2021-09-24 21:02] djmisterjon commented on #22422
ok, i can live with that, it's not that big issue for me. :) feel free to close if you think is there not more solution.

[2021-09-25 06:48] CodeChangingMe commented on #19838
Me too. I'm dying to know why.

[2021-09-25 06:50] CodeChangingMe commented on #19838
I ran a lot of tests. The findings may not only be related to react production build, but may also be related to Webpack.

[2021-09-25 11:33] CodeChangingMe commented on #19838
Hello.I'm glad I found the result I wanted. But I don't know if your situation is similar to mine.I hope this helps you.

I'm using react-loadable here because it's a promise, so all the internal ones can't be caught by window.onerror. So the production environment is not caught is normal behavior, development environment can be caught because the execution is not the same production environment.

[2021-09-25 13:51] bvaughn commented on #22422
Based on a few benchmarks, the `TextEncoder`/`TextDecoder` approach _is slower_ (~85% slower), but it's unclear how much of an overall impact this will have on actual DevTools performance (as we don't encode long strings often).

* https://jsbench.me/boktzulhew/1
* https://jsben.ch/5tnt1

We could also break the benchmarks down further to compare how much the slowness is from _encoding_ vs _decodi

[2021-09-25 14:09] artem-malko opened #22427 "React 18 and headers changing during streaming"
Hi! My question is about React 18 and SSR with pipeToNodeWritable.

We have a great demo from @gaearon https://codesandbox.io/s/9hfqt with all new features with SSR. So, let's imagine, I want to set up cookie on the server side. In our example we need to have an isomorphic cookie implementation. On the client side we will use document.cookie and on the server side we will write our cookie to the s

[2021-09-25 15:07] vkurchatkin commented on #22427
Well, you can't do that. When you are streaming, headers are already sent

[2021-09-26 00:21] djmisterjon commented on #22422
ho ! 85% is really big!
it would be a shame to add such a load for so little.

A other suggest can be maybe add a options?

 if people have good machine they can check this ! and bad machine, unchek ?
![image](https://user-images.githubusercontent.com/24865815/134788985-8ddc9d2e-5d6b-49c8-9975-386eb89c23ac.png)

[2021-09-26 09:08] Wen-Ge opened #22430 "antd V3升级V4，启动后报错"
×
TypeError: Object(...) is not a function
./node_modules/@ant-design/icons/es/components/Context.js
D:/SourceCode/id-track-frontend/node_modules/@ant-design/icons/es/components/Context.js:2
  1 | import { createContext } from 'react';

  3 | export default IconContext;
  4 |
  5 |
View compiled
__webpack_require__
D:/SourceCode/id-track-frontend/webpack/bootstrap 42c230ef9f100b29add9:707
  704 |

[2021-09-26 10:42] irinakk commented on #22413
To add more details, namespace is transformed into this piece of code:
[code]
Thee error occurs in vite's development mode since the application code is imported via `<script type="module">`, which creates strict mode.

[2021-09-26 11:21] Hyperion101010 commented on #22309
Check this @justingrant. I don't know why codesandbox fails is there any way I can get circle-ci report? Here https://github.com/facebook/react/pull/22431

[2021-09-26 13:26] amorphousDj opened #22432 "The source code of v16.14.0 is inconsistent with the release package."
I downloaded and compiled the source code of v16.14.0. It is found that the compiled code is inconsistent with the code of the release package. Some bugs [#18539](https://github.com/facebook/react/pull/18539) that were only fixed in version 17.0.0 have been fixed in my compiled code. Of course, it has not been fixed in the v16.14.0 release package. I checked the merge record of these repair codes,

[2021-09-26 15:45] andriusf commented on #21980
Encountered the same issue today with React 17.0.2. I was also using Webpack but forgot to remove the JS bundle file from index.html while debugging.

With the bundle duplication present, events such as onClick, onBlur weren't working. As soon as I removed the bundle script tag from index.html (effectively removing JS bundle duplication) all the event handlers started to work again.

Not sure if t

[2021-09-26 17:24] ksoze84 opened #22434 "FEATURE REQUEST: Object hook handler"
Object based hook.

alternative to useReducer.
Maintain a unique instance of the handler class on memory. Heavy functions are not instantiated in every render. Bring back object oriented advantages

like in https://github.com/ksoze84/useStateHandler but better and more integrated to core.

## Example

ModalCert.tsx:
[code]

CertHandler.ts
[code]
NewModalCert.tsx:
[code]

[2021-09-26 19:28] pirelenito commented on #21878
Hi! We've found an alternative solution that no longer requires this API change.

[2021-09-26 19:28] #21878 closed

[2021-09-26 19:47] justingrant commented on #22309
Probably a transient build issue. I made a suggestion over at #22431, and if you commit a change then CI should rebuild and hopefully it will work this time.

[2021-09-26 21:06] amensum commented on #22309
@justingrant
I added the suggested comment to the code #22409

[2021-09-26 21:26] bvaughn commented on #22430
This bug should be filed in the @ant-design repo.

[2021-09-26 21:26] #22430 closed

[2021-09-26 21:28] bvaughn commented on #22432
How did you determine which source revision to download?

According to the [build info metadata](https://unpkg.com/browse/react@16.14.0/build-info.json), that release was prepared from da834083c.

[2021-09-27 01:24] amorphousDj commented on #22432
I downloaded the source code from release log.

[2021-09-27 01:35] noahehall commented on #21636
@bvaughn your patience is emmy-award winning.

I was able to resolve this issue internally (thus for other users facing this issue, its likely a configuration problem)

so what exactly was the issue? shit if i know... but the [develop branch](https://github.com/noahehall/nodeproto/tree/develop) works both:

- running react@alpha + reactdevtools directly
- running react@alpha + reactdevtools behind

[2021-09-27 02:48] MaxmaxmaximusAWS opened #22436 "React 18 lets React.memo save displayName?"
Now

[code]

Need

[code]

[2021-09-27 04:57] Hyperion101010 commented on #22309
I added comments to the changes and re-uploaded them. Let's see how it rebuilds @justingrant

[2021-09-27 09:11] iansedano opened #22439 "(continued) Warning when input elements don't reference onChange - does React like event bubbling?"
Continuation of the following issue:

[**Inaccurate warning when value props is set without onChange.**
](https://github.com/facebook/react/issues/1118)

Where a clear example in a new issue was [requested](https://github.com/facebook/react/issues/1118#issuecomment-333411651).

Since it has gathered some popular comments since then, here is a new issue.

It is fully appreciated that this may be an

[2021-09-27 09:49] amensum commented on #22309
@Hyperion101010

What's wrong with my PR? Why did you make a similar PR with identical code? If there is something wrong with my PR, I can make changes.

[2021-09-27 09:53] artem-malko commented on #22427
Ok(

[2021-09-27 09:53] #22427 closed

[2021-09-27 12:32] yekver commented on #21224
Anyone, please help me to investigate this ;)

[2021-09-27 13:51] bvaughn commented on #22422
No worries. Good news is that I've found an alternate approach that's actually _slightly faster_ (based on benchmarking at least) so we'll move forward with it.

[2021-09-27 13:59] bvaughn commented on #22432
That's interesting. According to our build script metadata, [16.3.1](https://unpkg.com/react@16.13.1/build-info.json) and [16.14.0](https://unpkg.com/react@16.14.0/build-info.json) were both built and release from the same source.

My guess is that someone (@gaearon? @acdlite?) did a manual release of 16.14.0 on top of 16.13.1. Looking at [the change log](https://github.com/facebook/react/blob/mai

[2021-09-27 14:56] bvaughn commented on #21636
Thank you for the update, @noahehall 👍🏼 I'm glad you were able to get the issue resolved on your end.

We'll keep this issue open for others in case more repros pop up in the future 😄

[2021-09-27 15:29] mooSylla commented on #20682
[code]
Same here Firefox is loading the fallback as well as the webp, does't happen on Chrome.

[2021-09-27 15:40] bvaughn commented on #22434
This looks like a substantial change being proposed. :smile: Changes like this should go through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

The RFC process is a great opportunity to get more eyeballs on your proposal before it becomes a part of a released version of React. Quite often, even proposals that seem "obvious" can be significantly improved once a wider group of interest

[2021-09-27 17:19] bvaughn commented on #22432
The [tags page](https://github.com/facebook/react/tags) shows 16.14.0 as 4337c1c, but then it also shows that for 15.7.0 which was also manually released for the new JSX transform.

I think the issue here is likely just that we did a one-off release to add support for the new JSX transform to older 15 and 16 stable releases (rather than using our normal release script/process).

I'm going to close

[2021-09-27 17:19] #22432 closed

[2021-09-27 17:20] bvaughn commented on #22434
I'm going to close this issue.

I'm not entirely clear on what the proposal/request is here, but any request like this would need to go through the RFC process regardless.

[2021-09-27 17:34] #22422 closed

[2021-09-27 17:42] bvaughn commented on #22436
`fn.displayName` is a [non-standard property](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/displayName). I believe you're mistaking it for `fn.name`:

[code]

[2021-09-27 17:42] #22436 closed

[2021-09-27 17:59] bvaughn commented on #22413
cc @gaearon To confirm if this is a known/expected limitation.

[2021-09-27 17:59] ksoze84 commented on #22434
Thanks Brian!, I will take a look to this RFC process.

[2021-09-27 18:01] bvaughn commented on #22434
Thanks!

One thing to keep in mind about the RFC process: We read/review them all, but not necessarily quickly. (We're a small team and the community is very large, so it's hard to keep up.)

Dan recently provided an update into how we manage the RFCs:
https://github.com/reactjs/rfcs/issues/182#issuecomment-900430306

[2021-09-27 18:16] josephsavona opened #22441 "Bug:"
I forked and cloned the repo this morning (at c88fb49d37fd01024e0a254a37b7810d107bdd1d), ran `yarn` and `yarn test`, and several tests failed.

React version: main (c88fb49d37fd01024e0a254a37b7810d107bdd1d)

## Steps To Reproduce

1. Clone repo
2. `yarn` and `yarn test`

I was on the latest NodeJS version (16.10.0). Note that tests pass for me when switching to the 14.x LTS release of Node.

## Th

[2021-09-27 18:41] Hyperion101010 commented on #22309
This issue hasn't been assigned to anyone so I think anyone is free to open PR for it @amensum

[2021-09-27 18:44] sebmarkbage commented on #22441
At least a couple of these are just that V8 changed format of the error message for undefined values.

We know that stopping to respect displayName will mess with our component stack traces.

Some of the ART ones seems to be that displayName doesn't show up in stacks (at least create-react-class).

But this seems like it should fail too: https://github.com/facebook/react/blob/main/packages/react-r

[2021-09-27 20:29] MaxmaxmaximusAWS commented on #22436
no i not,

i use React.memo and i brake names in DevTools  -- its React Team issue, no?

[2021-09-27 20:32] MaxmaxmaximusAWS commented on #22436
@bvaughn everything you said is wrong, you should better feel people's thoughts

[2021-09-27 20:47] drcmda commented on #14983
I didn't catch the comment before, only now where i am going through some cleanup phase. Yes i have kept the hack, i am exchanging stateNodes

[code]

it seems to work fine and allows me to have a clean jsx notation. although it would be nice if `getPublicInstance` would not be stale.

[2021-09-27 21:08] bvaughn commented on #22436
Hey buddy. There's no reason to get so aggressive on a GitHub issue.

You are mistaken about `displayName` being an automatic property of Functions. That's [`Function.name`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name).

If you "need" the behavior you described, _assign the value_ [like the docs show](https://reactjs.org/docs/higher-order-componen

[2021-09-27 21:27] bvaughn commented on #22441
Our `devEngines` block should really not include 15 or 16, so long as 14 is the latest that works.
https://github.com/facebook/react/blob/8131de13e29ba626dfd311c2b4e9bb42fa4d5d6c/package.json#L102-L104

[2021-09-27 21:36] drcmda commented on #14983
@gaearon thinking about this some more, is there any reason why getPublicInstance is only called once? if it would be called every time the ref is requested that would 100% solve the issue. 😊

[2021-09-27 22:47] markerikson commented on #21878
@pirelenito purely out of curiosity, what was the alternate solution? Might be worth documenting in case anyone else runs into a similar situation.

[2021-09-28 09:10] amorphousDj commented on #22432
Thanks for your reply. I'm sure [da83408](https://github.com/facebook/react/commit/da834083cccb6ef942f701c6b6cecc78213196a8) is the source code of v16.14.0. I compiled the source code without setting RELEASE_CHANNEL. After I set it equal to stable, they became consistent.

[2021-09-28 09:21] virajtk commented on #21636
I got the same issue, then I relaized I have the same extention dulicated, I used Edge and I installed both React Dev Tool extensions for both chrom and edge. After I disabled / remove the Chrome extention ( because I used Edge browser ). The issue was gone.

[2021-09-28 11:37] guncha commented on #22257
Sean posted a workaround for the issue on SO for those that do not care for this "feature".

https://stackoverflow.com/a/69153985/357978

![image](https://user-images.githubusercontent.com/679632/135079408-dbd542d6-4490-429c-8a6b-cdbd819d74ab.png)

[2021-09-28 12:20] bvaughn commented on #21636
Thank you for the extra information @virajtk

[2021-09-28 12:40] nandhamurali commented on #20235
Following changes that worked for me, I modified the module Jsk-runtime import statement and restarted the server.

Before : `import { jsxs, jsx, Fragment } from 'react/jsx-runtime';`
After : `import { jsxs, jsx, Fragment } from 'react/jsx-runtime.js';`

[2021-09-28 12:53] MaxmaxmaximusAWS commented on #22436
@bvaughn I am a TC39 member and have been studying Javascript for over 16 years. React.memo not saving `displayName`. What does Function.prototype.name have to do with it? Buddy

[2021-09-28 13:04] bvaughn commented on #22436
Whatever you say.

Regardless, you did not do a good job explaining yourself in your original post. The "bug" you reported was this:
[code]

No where in that "bug" do you assign a value to `User.displayName`, so it is expected to be `undefined`.

Looking at your more recent example:
[code]

The value returned by `React.memo` is not a function. It's an object with a `type` and `compare` property (w

[2021-09-28 13:14] bvaughn commented on #21654
@ivanhofer I would appreciate if you could make a reduced repro that didn't import other frameworks (like this i18n framework). Seems like the core of this problem is `Proxy` related, but I'm having to dig through unfamiliar (TypeScript) code trying to narrow down why it's still throwing in #22380.

[2021-09-28 14:05] pandumalik commented on #16858
@bvaughn thank you so much, you're life saver

[2021-09-28 18:02] rowanD72 commented on #22195
You never called setCount. Calling setCount will change the count state.

[2021-09-28 18:52] ivanhofer commented on #21654
@bvaughn thanks for your help!
I simplified the example a bit and marked the key-part. Just replace the file `src/i18n/i18n-react.tsx` with following content:

[code]

and then run `npm run start`

When you look at the console output you can see all access-attempts to the proxy being logged:

![image](https://user-images.githubusercontent.com/21335119/135147445-6fb9c852-8a03-43e9-b5e1-2348815c2eb3

[2021-09-28 20:36] crodriguez-plitzi opened #22454 "[Proposal] useState Get Callback"
Hi React Community, reading the features related to useState and batching, im finding problems where the state is not updated or when i have memoised a method using `useCallback`

i would like to suggest about add a method to get the state in useState, an example for this approach can be this

[code]

an implementation could looks like this
[code]
using useRef we can be able to get the instance of

[2021-09-28 21:21] bvaughn commented on #21654
I'm seeing a different error from the repro you shared above:

The error I was seeing on the PR was:

[2021-09-28 21:41] MaxmaxmaximusAWS commented on #22436
Ok, Buddy.

[2021-09-28 22:17] sambaran69 opened #22456 "[DevTools Bug]: Installing react-devtools is giving a certificate error"
### Website or app

react-devtools installation

### Repro steps

`yarn global add react-devtools`

or

`npm install -g react-devtools`

gives the following error:

RequestError: self signed certificate in certificate chain
    at ClientRequest.<anonymous> (/Users/sambaran/.config/yarn/global/node_modules/got/source/request-as-event-emitter.js:178:14)
    at Object.onceWrapper (node:events:485:26)

[2021-09-29 01:39] rowanD72 commented on #22195
Change setCount to setCount(count +1);

[2021-09-29 03:32] RebaekSoparkKitchen commented on #3926
Hi, I face the same issue when I want to do some operation in handleChange function, and my solution is just use composition event to handle it.

If it works for you, extract it to hooks and we use reuse it easily.
[code]

[2021-09-29 04:56] ivanhofer commented on #21654
But you see all the accesses to the Proxy from React Dev Tools?
Forget the error for now. If we can tell React Dev Tools to not access the Proxy, the error should be gone.

[2021-09-29 06:26] akgupta0777 commented on #22456
Installing fine on my machine. Maybe you have to look through your NPM configuration files. OR make sure you have enabled firewall options in windows OS.

[2021-09-29 07:23] krmao commented on #3926
also this code [https://zhuanlan.zhihu.com/p/415365117](https://zhuanlan.zhihu.com/p/415365117)

[2021-09-29 07:54] jishnumk opened #22458 "Bug: Moderate severity vulnerabilities while running create react-app"
While running npx create-react-app my-app, I am getting 10  moderate severity vulnerabilities. Not able to fix even after running npm audit fix or npm audit fix --force. When I run npm audit fix --force i get more 44 vulnerabilities (25 low, 5 moderate, 14 high), then again if I run same command to fix I get 10 moderate severity vulnerabilities. This keeps on going in cycles each time I run comman

[2021-09-29 08:43] jamesknelson opened #22459 "Bug: setState updater called but not rendered, in Safari, in concurrent mode"
React version: 18.0.0-alpha-9175f4d15-20210928

## Steps To Reproduce

Minimal reproduction in [this codesandbox](https://codesandbox.io/s/black-moon-ymw10?file=/src/index.js).

This issue only appears in Safari, including mobile Safari. It works fine in Chrome and Firefox.

In order to reproduce, you'll need to:

0. Render the app with `createRoot` in the latest 18.0 alpha
1. Within an element's

[2021-09-29 09:22] eps1lon commented on #22459
Confirmed with Safari 14.1.2.

Works with a production build though: https://csb-y2mb5-bjp2gai2h-eps1lon.vercel.app/

I would also open this against the tippy.js repository since they are more likely to know if they're doing something funky.

[2021-09-29 09:54] conradreuter commented on #16873
For the more real-world cases I can think of, I believe ESLint could attempt to check the import source instead of just the name. I.e. the following should be doable:
[code]

For this to work, the configuration of the ESLint plugin would contain both the filename and the export name.

If that turns out to be doable, then the following should be doable as well, given an appropriate configuration:
[

[2021-09-29 09:54] jamesknelson commented on #22459
I've done a little more playing with this and it turns out it's not postMessage that's triggering the issue, but adding an iframe in the ref.

Here's another demo with an <iframe src="localhost"> added within the ref function: https://codesandbox.io/s/sharp-fermat-zvmoi?file=/src/index.js

[2021-09-29 11:02] grncdr commented on #16873
@conradreuter that doesn't actually help with the criticisms from @kravets-levko being discussed. Which were:

and

The first criticism is valid: the ergonomics of external configuration _is_ inferior annotations on the **definition** of a hook. The reasons that annotations aren't going to work have (and had already) been covered multiple times in this thread. That's what I was referring to when I

[2021-09-29 11:37] jzombie commented on #22257
I find it really ironic that the very same people who created this amazing library, and then also make the underlying functionality which drive hooks, can't wrap the browser console and not lose the stack trace.

Perhaps, just don't wrap the console at all, or find a library that does it and use it instead?

[2021-09-29 12:41] gioragutt commented on #14092
Using the callback-based `setState` solves your problem.

[code]

[2021-09-29 13:14] bvaughn commented on #21654
It's not as simple as that. 😄

When an element is inspected, DevTools must serialize its props/state/hooks (using `postMessage`) to send values from the "backend" (running in the page with your app) to the "frontend" (DevTools extension UI). (These are in separate memory spaces, so we can't just share the value directly.)

As a side note, it also needs to avoid deeply cloning objects because that

[2021-09-29 13:40] #22458 closed

[2021-09-29 13:44] bvaughn commented on #22456
I don't think this has anything to do with React DevTools. Seems like maybe an NPM proxy issue?

https://github.com/npm/npm/issues/7519#issuecomment-97522305

[2021-09-29 13:47] bvaughn commented on #22454
Looks like a duplicate of #21931 so I'm going to close this and suggest you add a comment to that.

[2021-09-29 13:47] #22454 closed

[2021-09-29 14:12] Kewri opened #22460 "work"

[2021-09-29 14:24] #22460 closed

[2021-09-29 14:24] bvaughn commented on #21931
@Ayc0 was right. Changes like this should go through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

The RFC process is a great opportunity to get more eyeballs on your proposal before it becomes a part of a released version of React. Quite often, even proposals that seem "obvious" can be significantly improved once a wider group of interested people have a chance to weigh in.

The RF

[2021-09-29 16:26] scottdickerson opened #22462 "[eslint]: useEffect eslint rule not provided to warn/error on missing dependency array"
We had a very nasty bug where we accidentally forgot a dependency array argument in our useEffect so it fires every render.
(just a typo)

I find it strange that useMemo has a rule to warn on this:
[code]

but there's no configurable rule on the useEffect side.  Isn't it probably true that 99% of the time you don't want to fire useEffect on every render?

Here's a repro scenario (two useEffect fir

[2021-09-29 16:47] jishnumk commented on #22458
Okay sorry.. I will check over there.. Thank you

[2021-09-29 17:00] bvaughn commented on #22462
Running an effect without any dependencies is a valid use case that we intentionally support.

Using a memoization method (`useMemo` or something else) without dependencies _is not_ a valid use case.

[2021-09-29 17:03] #22462 closed

[2021-09-29 17:03] bvaughn commented on #22456
I'm going to close this issue since I don't think this error is being caused by react-devtools.

[2021-09-29 17:03] #22456 closed

[2021-09-29 17:16] scottdickerson commented on #22462
There are also many valid cases to run useEffect with a limited list of dependencies but the eslint rule gives a configurable warning there.

[2021-09-29 17:18] scottdickerson commented on #22462
Does anyone out there have a custom eslint rule to enforce this?

[2021-09-29 17:19] bvaughn commented on #22462
What do you mean by "limited list? Do you mean only specifying _some_ of the dependencies?

Yeah, I've heard other people make that argument. I think you can shoot yourself in the foot by leaving out dependencies, but I also understand where you're coming from. To me, that seems like a pretty different discussion from the one you reported here though.

Don't know. I don't keep up with 3rd part ESL

[2021-09-29 20:09] #21782 closed

[2021-09-29 23:44] jamesknelson commented on #22459
I've played with this a little more and managed to reproduce the issue with any dependencies other than React: https://codesandbox.io/s/black-moon-ymw10?file=/src/index.js

The trigger seems to be appending an iframe to an element within its ref function. Rendering a div does not cause the issue, and rendering a <iframe /> element using React (instead of manually appending with `appendChild`) also

[2021-09-30 01:59] crodriguez-plitzi commented on #21931
@bvaughn quite similar to this https://github.com/reactjs/rfcs/pull/201 just that he called useStateRef

[2021-09-30 02:30] SleepDevil commented on #22241
Hi, I'm facing the same problem.Here is a minimal code example： [codesandbox](https://codesandbox.io/s/old-waterfall-qn67y?file=/src/App.js)
In this case, I want to change everyone of my array state from an empty object to an object with loading: false;I change them in my changeArray method but it doesn't work.So I go to the react dev tools to see the state inside.At first, it looks normal.But whe

[2021-09-30 06:35] jviall opened #22470 "Bug: Submit events from a button inside a portal don't bubble up to a form in its React DOM Ancestry."
From the docs of [React Portal](https://reactjs.org/docs/portals.html#event-bubbling-through-portals)

However this doesn't seem to be the case with `<form>`s when using a `<button type='submit'>` that is inside a `Portal`.
Clicking a submit button that is inside a portal-ed modal which is contained by the `form` does not trigger the form's `onSubmit` event. The only way to get it to do so, is to

[2021-09-30 06:35] akgupta0777 commented on #22441
so should we need to improve test support for v16 or it's good to stick to the LTS version.

[2021-09-30 06:48] jviall commented on #22470
I've found this bug from 2018 was opened, seemingly with the opposite problem around the same situation, but it was never investigated further as the behavior they experienced is documented as expected: https://github.com/facebook/react/issues/14456.

[2021-09-30 07:26] akgupta0777 commented on #22470
@jviall I think the Dialog Component in material-ui gets destroyed immediately after submitting and hence won't trigger the event-bubbling in form.

[2021-09-30 07:31] eps1lon commented on #22470
The `Dialog` content is portaled to another part of the DOM and therefore not part of the `<form />` element. This is intended platform behavior.

Either you want to disable the portal or trigger form submission by other means.

Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions

[2021-09-30 10:38] fritx commented on #16919
Why not?

[2021-09-30 10:47] elyobo commented on #16919
Why not what?

[2021-09-30 12:24] phil-r opened #22471 "Bug: adding `loading="lazy"` to images causes memory leak"
Adding `<img loading="lazy"/>` that never gets into view and then deleting it causes memory leaks

React version: 17.0.2 (and 18)

## Steps To Reproduce

1. Visit https://531j3.csb.app/ in Chrome (or https://e4h4zi.csb.app/ for react 18 version)
2. Open dev tools with performance monitor(enable DOM Nodes and JS event listener tracking) and memory tab

	  <details>
	  <summary>Dev tools screenshot<

[2021-09-30 12:29] bvaughn commented on #21931
Agreed. It looks similar. Let's actually close this issue and roll it into that RFC.

[2021-09-30 12:29] #21931 closed

[2021-09-30 12:40] bvaughn commented on #22441
Seems like it would be nice if we could feature detect and support both. (Have not thought about how this would be done.)

[2021-09-30 12:53] ivosabev commented on #15187
+1 with SVG icon exported from React component and rendered in NextJS

[2021-09-30 13:01] bvaughn commented on #22241
@SleepDevil Thank you for sharing these steps! I am able to repro it indeed.

I believe what's happening is this:
* [DevTools has two main pieces](https://github.com/facebook/react/blob/main/packages/react-devtools/OVERVIEW.md#overview):
  * The **frontend** is the extension you see (Components and Profiler)
  * The **backend** is runs in the same context as React itself (in the browser page)
* [I

[2021-09-30 14:02] #22257 closed

[2021-09-30 14:04] bvaughn commented on #22257
The solution described above:
https://github.com/facebook/react/issues/22257#issuecomment-915250655

Was released yesterday with DevTools version 4.19.0:
https://github.com/facebook/react/blob/main/packages/react-devtools/CHANGELOG.md#4190-september-29-2021

[2021-09-30 14:15] SleepDevil commented on #22241
@bvaughn  I'm glad it can help you.By the way, can you help me solve my problem in the codesandbox?The problem is: I try to set my array state one by one after one second, from an empty  object to an object with a `loading` key and `false` value.But my code just set the first one.And I can fix this by use the `useArray` like this:
[code]
But I don't know why I can't operate on the `newArray` I dee

[2021-09-30 14:16] bvaughn commented on #22241
I think it's best to keep discussion on this issue focused on the DevTools bug being reported.

[2021-09-30 14:20] SleepDevil commented on #22241
Ok,I have also raised my problem on [stackoverflow](https://stackoverflow.com/questions/69359265/react-render-state-not-the-real-state), I will be grateful if you can help me solve this problem.

[2021-09-30 14:55] lukaqadaraia opened #22474 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-09-30 15:00] bvaughn commented on #22474
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-09-30 15:27] jviall commented on #22470
@eps1lon

This directly contradicts what the documentation of Portals describes. Also, if it is intended that the event shouldn't bubble up to the form outside of the portal, then it shouldn't do so when the second form element is added within the portal. This is contradictory behavior.

[2021-09-30 15:29] jviall commented on #22470
I can validate that this isn't the issue because including the second form element like so
[code]
makes bubbling occur as I expect, and the outer form is submitted.

[2021-09-30 16:48] #22241 closed

[2021-09-30 17:02] bvaughn commented on #22441
I will take a pass at this.

[2021-09-30 17:56] alexburner commented on #14110
For anyone discovering this `useContext()` issue more recently (like me, today) here's an update on the current state of affairs AFAICT

**Problem**
- `useContext()` is currently only recommended for values that don't change very often ("very low read overhead, at the cost of more expensive updates" — [comment here](https://github.com/facebook/react/issues/14110#issuecomment-458556208))
- The two

[2021-09-30 18:16] bvaughn commented on #22441
Here we go: #22477

[2021-09-30 18:58] bvaughn commented on #22315
PR #22477 _may_ fix the issue being reported (without requiring the `defineProperty` hack).

[2021-09-30 22:00] markerikson commented on #22470
@eps1lon fwiw, I specifically suggested asking over here when the question came up in Reactiflux, because A) it's a pretty tricky aspect of behavior to begin with, and B) there seems to be some difference between what the docs say should happen and how it's actually behaving.

[2021-10-01 04:35] akgupta0777 commented on #22470
Thanks @jviall for responding. I will look into and investigate this issue.

[2021-10-01 08:31] eps1lon commented on #22470
We're talking about different things. I specificially said "not associated" i.e. the `<button />` is not the submitter of the form. You are talking about event bubbling which does work through Portals. There's just no submit event to be fired. Clicking a submit button does not fire a submit event but rather submits it's associated form. This is an important distinction.

I think nesting forms (eve

[2021-10-01 10:40] MedvedenkoMykola commented on #11565
bump bump

[2021-10-01 11:11] guncha commented on #22257
If you agree that this is an issue when it happens all of the time, why would you change it so that it only happens some of the time?

[2021-10-01 12:41] bvaughn commented on #21783
Work on this (#22030) has been released now so I'm going to close this issue. Thank you all for the feedback and discussion ❤️

[2021-10-01 12:41] #21783 closed

[2021-10-01 12:41] bvaughn commented on #22257
@guncha Your comment is missing some important context:
1. There is no way to tap into the console API and add information without triggering this observable effect. It's unfortunate but no browser API exists for this.
2. `StrictMode` double console logging has long been controversial (see #21783). Overriding the console to dim or hide the second logged message (#22030) is the best compromise we'v

[2021-10-01 13:05] bvaughn commented on #21654
This sounds like a reasonable approach.

That's right. I don't think it's generally desirable that we limit the values displayed to being only properties found directly on the object. That being said, maybe we could do something like this as a fallback.

[code]

[2021-10-01 13:24] santhosh-reddy03 opened #22479 "[DevTools Bug] Could not inspect element with id "15". Error thrown:Cached data for element "15" not found"
### Website or app

https://github.com/santhosh-reddy03/react_practice

### Repro steps

$cd repo
and then start the server using npm start

in browser(mozilla firefox)
when i try to add the user and age, and trying to debug the output in ListUsers component, I m facing this error
![Screenshot from 2021-10-01 18-52-36](https://user-images.githubusercontent.com/53914022/135627139-ca7132b6-f39d-4330

[2021-10-01 13:29] bvaughn commented on #22479
I believe this issue was fixed yesterday by #22472 and we just need to publish a release (today).

[2021-10-01 13:29] #22479 closed

[2021-10-01 13:52] ivanhofer commented on #21654
@bvaughn not so sure if detecting a proxy by the content of the error-message is a good solution.
 - the wording could change
 - different browsers may have different wording
 - I recently saw a localized DevTool environment, so maybe also the error-messages are not english

Is there another way to check if we access an object?
Maybe use something like:
[code]

[2021-10-01 13:55] bvaughn commented on #21654
I don't think that approach makes sense. If it's already an array, we wouldn't need to convert it. The purpose of calling `Array.from` is to simplify handling different types of iterables.

That being said, I think even if we solve the iteration issue (which the error message check _does_, even if not in a very robust way) I think we'll still have other issues.

[2021-10-01 14:11] ivanhofer commented on #21654
Ah, sorry, I didn't check the context of that array example.
This code is here to display a graphical representation of an object somewhere inside the React Dev Tools?

I think a better solution would be to change this https://github.com/facebook/react/blob/033efe7312cdf73118922b279d9b1ae29a2f693d/packages/react-devtools-shared/src/utils.js#L597 to

[code]
and add a new 'proxy' case inside the `fo

[2021-10-01 14:36] markerikson commented on #21783
@bvaughn will any of those changes be backported to 17.x, or will it be 18.x only?

[2021-10-01 14:39] bvaughn commented on #21783
Good question!

I will add it to the next team sync to discuss.

[2021-10-01 14:41] bvaughn commented on #21654
Yeah, that seems like a reasonable approach, although I think we could probably have false positives there. Maybe not super important.

[2021-10-01 15:50] bvaughn commented on #22479
This release will be published as 4.19.1

[2021-10-01 16:10] Poojan-20 commented on #13578
can you mention in which file we have to add this part of code

[2021-10-01 17:02] Ndaahlb opened #22482 "ERROR TypeError: undefined is not an object (evaluating '_useContext.register') / react native"
I am getting the ERROR TypeError: undefined is not an object (evaluating `_useContext.register`). I have it imported and everything set up properly (I think?). please see below

here is the file that having problem

[code]

### `AuthProvider.js`
[code]

**Edited** by @bvaughn for formatting.

[2021-10-01 17:25] bvaughn commented on #22482
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can al

[2021-10-01 17:28] bvaughn commented on #22482
Looks like this question was already asked on Stack Overflow:
https://stackoverflow.com/questions/69093789/undefined-is-not-an-object-evaluating-usecontext-register

And feedback was also given there that there was not enough of a repro to answer.

[2021-10-01 17:42] bvaughn commented on #11565
Folks: Please stop bumping this issue, or we will lock it. The core team is aware of it.

[2021-10-01 18:55] djmisterjon opened #22485 "Bug: Lint React Hook "useState" cannot be called in a class component"
React version:

## Steps To Reproduce
Englobe code in a static class make rule bug !
Actually rule detect React in class, but it not true !
[code]

![image](https://user-images.githubusercontent.com/24865815/135672118-097b4751-e6bd-4922-96ed-6b6193609c2c.png)

[code]
Link to code example: https://codesandbox.io/s/currying-https-9v064?file=/src/App.js

## The current behavior
Rule think we use hook

[2021-10-01 20:41] bvaughn opened #22486 "Detect and warn if multiple copies of React DevTools are installed"
If you have more than one copy of React DevTools installed and enabled (e.g. the version in the Chrome store and a locally built version) they can interfere with each other.

DevTools should detect this case and warn by showing a dialog in the DevTools UI and/or by logging to the console.

Note that we _should not warn_ if a related tool like Fast Refresh is present, only another copy of DevTools.

[2021-10-01 20:52] bvaughn commented on #22486
@jstejada This is all yours!

[2021-10-01 20:59] bvaughn commented on #22485
This seems like a pretty edge case thing to do. Why not just declare the property outside of the class?

Rather than...
[code]
Why not...
[code]

[2021-10-01 21:39] sedghi commented on #16622
@bvaughn I'm just wondering about your opinion on this after two years, is this feature on the roadmap by any chance?

[2021-10-01 22:08] djmisterjon commented on #22485
hum , it's will be a bit complicated to ask why or explained why.
A bit like asking or debate on why you prefer star screws rather than rectangle or triangles 🙄
I will avoid describing a book here, especially since my English is not developed enough to express my deep thoughts
but in summary for the example you give

losing mono collapse aggregation in vscode (domain like)
![image](https://user-im

[2021-10-02 00:44] gaearon commented on #22485
The message is not a lie — while this sort of works, it's not a supported pattern, and you may end up with strange behavior if you mix function with class-like paradigms (where it's encouraged to read from fields, etc). We do not recommend it, though we can't really stop you.

[2021-10-02 00:44] #22485 closed

[2021-10-02 10:54] nishantatgit opened #22487 "Bug: React Component is getting rendered twice if it has error"
React Component is getting rendered twice if it has error

React version: 17.0.2

## Steps To Reproduce

1. Navigate to https://codesandbox.io/s/long-night-kn9zj?file=/src/App.js
2. Click on increase counter button 6 times. Clicking each time will increase the count value by 1. When the count is greater than 5 component will throw error.
3. Check the console for log. count 6 is being printed twice

[2021-10-02 11:58] Voloda56 commented on #22152
Я тоже хочу внесты внесок?

[2021-10-02 13:53] pranawwe opened #22488 "[DevTools Bug] Could not inspect element with id "2". Error thrown:Cached data for element "2" not found"
### Website or app

https://public-deploy3.test-eu.tankionline.com/browser-public/index.html?config-template=https://c{server}.public-deploy3.test-eu.tankionline.com/config.xml&resources=../resources&balancer=https://balancer.public-deploy3.test-eu.tankionline.com/balancer

### Repro steps

attempting to change the line of the code which locks the store in an online game, this usually works but th

[2021-10-02 14:26] bvaughn commented on #16622
No change in thoughts about this issue since my last comment. (It's not on any roadmap.)

[2021-10-02 17:24] macbury commented on #21636
Same problem here :(

[2021-10-02 19:20] shayantabrizi opened #22490 "Bug: OpenLayer events problem with React 17"
I want to put react components as overlays on top of OpenLayers maps. The events on the components seem to be problematic after upgrade to React 17.0.2 (from 16.14.0). For a reproduction see [this](https://codesandbox.io/s/react-openlayers-jwghd?file=/index.js). By clicking, on the red div an alert is displayed on React 16.14.0. But, after upgrading React to 17.0.2, the alert is not displayed anym

[2021-10-03 01:36] todd-elvers commented on #22413
I have also encountered this error using Vite & react-refresh on a TypeScript react app that has react components nested under namespaces

[2021-10-03 05:05] linbuxiao commented on #20393
This is an upper level issue. `powerShell` changes the comma to a space when it is parsed (this is also clearly visible in your demo). This can be avoided by using other terminals such as `Git Bash`.

[2021-10-03 10:46] abdurahmanshiine opened #22492 "Bug: useParams() hook initiates an error: TypeError: useContext(...) is undefined"
Hi,

  I'm trying to use the useParams() hook to retrieve a parameter, but I'm getting this error:

  `TypeError: useContext(...) is undefined`

  and the error is actually thrown by the hooks file:

[code]

  My App.js file looks like this:

[code]

The routes.js file looks like this:

[code]

  and my UsersDetails component file looks like this:

[code]

I'm using:

`NodeJS 14.17.0`

and:
[code]

[2021-10-03 10:51] eps1lon commented on #22492
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific questio

[2021-10-03 10:51] #22492 closed

[2021-10-03 10:52] gmoniava opened #22493 "Storing value in ref using useEffect"
This is not react bug (it is more about react docs) but I tried all those channels recommended to get help without result, so I have no choice but to post it here.

I opened this issue in react docs repository but no response. Here is the link:
https://github.com/reactjs/reactjs.org/issues/3915

There is also related highly voted question on Stack overflow:
https://stackoverflow.com/questions/6199

[2021-10-03 14:54] bvaughn commented on #22493
React docs issues should be filed in the [website GitHub repo](https://github.com/reactjs/reactjs.org/). Not getting a fast response there doesn't mean you should open issues in other repositories 😄  It just means we're busy and have a difficult time keeping up with issues.

@gaearon and @rachelnabors are working on a newer version of the docs now that will hopefully address a lot of the confusion

[2021-10-03 14:54] #22493 closed

[2021-10-03 14:59] gmoniava commented on #22493
@bvaughn I had opened it exactly on web site github repo, and didn't receive answer for 13 days. Check the link I shared :)

[2021-10-03 15:02] bvaughn commented on #22487
This is intentional behavior on React's part. If a component throws while rendering, React will try it once more (in case the error was a transient issue). If it works the second time, React will resume rendering where it left off. If it throws again, React will fallback to the nearest [error boundary](https://reactjs.org/docs/error-boundaries.html#gatsby-focus-wrapper).

Because rendering should

[2021-10-03 15:02] #22487 closed

[2021-10-03 15:06] bvaughn commented on #22493
I saw the link you shared, and I know that not getting a response to an issue is frustrating.

It's still not a good idea to open duplicate issues in other repositories, which is why I closed this one.

[2021-10-03 15:06] bvaughn commented on #22493
I saw the link you shared, and I know that not getting a response to an issue is frustrating.

It's still not a good idea to open duplicate issues in other repositories, which is why I closed this one.

[2021-10-03 15:10] gmoniava commented on #22493
@bvaughn I see but like I said I had no other choice. I linked to popular Stack overflow question to show I am not the only one confused.

[2021-10-03 19:57] lbfalvy commented on #18229
@steinybot the length of the dependency array can change and this can be detected, but that would only allow us to flatten one variable length collection into the dependency array, otherwise, eg. if we spread two arrays into a single dependency array, the arrays may change in a way that the resulting dependency array remains the same. Prepending the length of each variable length collection is a c

[2021-10-03 20:20] ExtraGG commented on #13991
I had import React from '**R**eact';

instead of

import React from 'react';

[2021-10-04 00:42] warejohn opened #22498 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-10-04 00:42] warejohn opened #22499 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-10-04 07:46] #22498 closed

[2021-10-04 07:46] #22499 closed

[2021-10-04 16:26] bvaughn commented on #21654
@ivanhofer I don't think the above code works, because it would hit false positives for HTML collectins or regular expressions. The only way I know of to check this would be to use the non-standard `__proto__` property (which seems like not a great idea).

[2021-10-04 17:52] bvaughn commented on #21783
@markerikson The team thinks it's not worth the effort of doing a bugfix release for this alone. If something else comes up that warrants a release, we can add this onto it.

[2021-10-04 17:56] jstejada commented on #22486
@bvaughn cool! i'll be working on this today + next steps

[2021-10-04 17:56] markerikson commented on #21783
@bvaughn Thanks for the update. I _personally_ would disagree with that, given that the logging changes would be beneficial to all React devs _now_, and especially since React 18 is nowhere close to being final yet.  But I can understand not wanting to spin up a release _just_ for these changes, and I know y'all are plenty busy atm.

(would it be bad if I start quietly cheering for something else

[2021-10-04 18:52] lortiz-daitan commented on #4210
In my case, I had to make some components appear/disapear based on a state controlled by the `onBlur`. So, the `onClick` of the other was not working because the scroll was being changed after the `onBlur`, when the new elements were added at the DOM.

The `onMouseDown` worked partially for me. The click worked, but the `onBlur` stopped being called.

My solution was to keep the `onClick` and add

[2021-10-04 19:43] uwussimo opened #22503 "RIP Facebook"
thank you all for your services...

[2021-10-04 19:50] uwussimo commented on #22503
F

[2021-10-04 20:02] racconozaur commented on #22503
F

[2021-10-04 20:09] rubybb commented on #22503
F

[2021-10-04 20:22] rouisdev commented on #22503
[code]
[code]

[code]
[code]

[2021-10-04 20:27] eps1lon commented on #22503
They'll figure it out. However, the React core team can do nothing more than cheer on their co-workers.

[2021-10-04 20:27] #22503 closed

[2021-10-05 01:11] DevStar234 commented on #16426
[asd](url)

[2021-10-05 04:48] QiuZhiFeng97 opened #22504 "mouseEnterEvent can not trigger in outer dom"
When we mouseenter into the dom in the demo, we can not see 'mouse enter' in console.
React version:
17.0.1
## Steps To Reproduce
1. click the link and open the demo
2. mouse enter into blue space, and see logs in console.

Link to code example:
https://codepen.io/qiuzhifeng97/pen/LYLKROg?editors=1111

## The current behavior
Only 'mouse enter2', 'mouse over' nad 'mouse over2' in console.

## The

[2021-10-05 04:50] QiuZhiFeng97 opened #22505 "mouseEnterEvent can not trigger in outer dom"
When we mouseenter into the dom in the demo, we can not see 'mouse enter' in console.
React version:
17.0.1
## Steps To Reproduce
1. click the link and open the demo
2. mouse enter into blue space, and see logs in console.

Link to code example:
https://codepen.io/qiuzhifeng97/pen/LYLKROg?editors=1111

## The current behavior
Only 'mouse enter2', 'mouse over' nad 'mouse over2' in console.

## The

[2021-10-05 04:50] ivanhofer commented on #21654
@bvaughn in other words: we are not able to find a solution to the problem?
So also HTML collections and regular expressions throw an error in the same line as a Proxy?

But looking at the `getDataType` function you have already a way to detect these two types. So I don't see why the code mentioned above should not work.
It could indeed create false positives, but at least it will not throw an err

[2021-10-05 05:02] QiuZhiFeng97 commented on #22505
I tried to debug this problem. And found that React uses mouseout to trigger 'mouseenter' event. If we use JSX to write all DOM in one render function without one more time ReactDOM.rener(<Test />), 'mouseenter' event will trigger as expected. The reason is the mouseout event target is html DOM, and toElement is node with id 'test'. Due to one more time React.render(<Test />, document.querySelecto

[2021-10-05 05:18] alexreardon opened #22506 "`useEffect` can be synchronous?"
Hi legends,

My mental model of `useEffect` is that schedules an asynchronous task to be executed after rendering

This view seems to be shared amongst a number of popular writings on the topic:

- https://kentcdodds.com/blog/useeffect-vs-uselayouteffect/ by @kentcdodds
- https://blog.logrocket.com/guide-to-react-useeffect-hook/ by @doppelmutzi
- A few others I found on Google too

I have recently

[2021-10-05 07:28] alexreardon commented on #22506
Me, last week:

![5ovbxm](https://user-images.githubusercontent.com/2182637/135978949-a31c8f64-14d4-4cc9-800a-d2b024048481.jpg)

[2021-10-05 07:38] eps1lon commented on #22504
Duplicate of https://github.com/facebook/react/issues/22505

[2021-10-05 07:38] #22504 closed

[2021-10-05 09:12] just-boris commented on #22506
I think, it is related to that story: https://github.com/facebook/react/issues/21400

[2021-10-05 10:06] alexreardon commented on #22506
#21400 looks related. However, in both of the cases I found, there is no `useLayoutEffect`

[2021-10-05 10:09] purushothaman-source commented on #4210
@lortiz-daitan same issue I faced recently in my case also there is appear/ disappear element s the onMouseDown will solve this issue ...this is event order `onMouseDown -> onMouseUp -> onBlur -> onClick` ...if you put event.preventDefault() inside onMouseDown function then onBlur won't fire ...

https://codepen.io/mudassir0909/pen/eIHqB

And also you have to be careful ,when using onMouseDown ,be

[2021-10-05 11:50] vansh12345341 opened #22508 "Bug: Two react version in my react code"
As it showed the hook error i went through the documentation and found that my react project have two react version as it printed false on the console. I installed many dependencies such as ant design redux toolkit axios chart.js react-redux html-react-parser react-chartjs

so someone please instruct me how to delete or resolve this problem of two versions os react in my project

React version:  1