[2017-10-10 09:28] blling commented on #11170
The documentation and source code for reactjs.org lives in a different repository: https://github.com/reactjs/reactjs.org

Please open a new issue in that repository if it is a real issue. Thanks!

[2017-10-10 10:32] #11170 closed

[2017-10-10 10:35] gaearon commented on #11171
No, React does not currently use rAF at all. Although in the future we plan to use it to [polyfill requestIdleCallback](https://github.com/facebook/react/blob/3019210df2b486416ed94d7b9becffaf254e81c4/src/renderers/shared/ReactDOMFrameScheduling.js#L69-L153).

Sounds good, but don’t forget not to schedule another frame if you’ve already scheduled one.

[2017-10-10 10:54] #10013 closed

[2017-10-10 11:10] gaearon commented on #11169
Instead of reading `canUseDOM`, can you put it into `state`? Initially it would be `false` to match the server. But in `componentDidMount` you can `setState({canUseDOM: true})`. This will trigger a re-render *after* hydration so it shouldn’t produce a warning.

[2017-10-10 11:12] gaearon commented on #11150
Which object? We don't freeze instances so it must be something else that you're updating that's frozen. We only freeze React elements and their props, but those aren't the ones you need to mutate.

Still not sure I understand. But an instance is just any object you provide. You're free to do anything you like with it, including mutating it, adding or removing properties, using nested objects, etc

[2017-10-10 11:12] #11150 closed

[2017-10-10 11:54] gaearon commented on #10020
I’m a bit worried that if we add this, it will turn into a cargo cult. People will be adding `renderTypes` “just in case” because they can, not because they understand the initial use case. It is a bit awkward that the API is about decorating the child components, but the actual use case is about validating parent-child relationship. This is not obvious from looking at the API.

[2017-10-10 13:04] curwen commented on #6731
Has there been a regression in 16.0.0? I'm getting this issue in IE11 Windows 10.

[2017-10-10 13:11] gaearon commented on #6731
Please file a new issue with details. Old issues have a lot of outdated info and are hard to track.

[2017-10-10 13:22] gaearon commented on #11161
Fixed by https://github.com/facebook/react/pull/11167.

[2017-10-10 13:22] #11161 closed

[2017-10-10 13:34] curwen opened #11172 "React 16 does not render text area placeholder initially in IE11 Win10"
**Bug**

**What is the current behavior?**

IE11 Windows 10 text area placeholder not rendering initially.
[https://jsfiddle.net/fztx6vqp/](https://jsfiddle.net/fztx6vqp/)

**What is the expected behavior?**

Placeholder should be visible on initial render.

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

16.0.0, IE11, W

[2017-10-10 14:03] StommePoes commented on #9549
Just to answer this question here since it was asked here:
"Please correct me if I'm wrong, but ARIA attributes are also a valid alternative to an actual HTML <table>. Is this incorrect?"
Technically valid but discouraged.

Since ARIA came out, some "rules of ARIA" have appeared to accompany ARIA use. The first rule of ARIA is, if there's native HTML that can carry the necessary semantics, use it

[2017-10-10 15:23] gaearon commented on #11172
We’ll need somebody else confirming that this reproduces in 16 and doesn’t reproduce in 15.6.1.

[2017-10-10 15:33] gaearon opened #11175 "Flow-ify ReactPartialRenderer.js"
It doesn’t have a `@flow` annotation. We should start Flow-ifying it to avoid bugs like https://github.com/facebook/react/pull/11173.

@iamdustan Wanna take it?

[2017-10-10 15:54] #11010 closed

[2017-10-10 15:59] aweary commented on #11172
I verified that the provided example using 16 does not render in IE11 on Windows 10, but it does render using [this example with 15.6.2](https://jsfiddle.net/88ao6nsh/).

[2017-10-10 16:00] gaearon commented on #11172
Any idea what’s going on?

[2017-10-10 16:02] gaearon commented on #11172
Here's all matches of `placeholder` logic I can find in 15:

https://github.com/facebook/react/blob/571a9208d5133e8737f565fe60b762d201f0d37c/src/renderers/dom/client/wrappers/ReactDOMTextarea.js#L170

https://github.com/facebook/react/blob/571a9208d5133e8737f565fe60b762d201f0d37c/src/renderers/dom/shared/ReactDOMComponent.js#L830-L839 (probably this one?)

[2017-10-10 16:06] gaearon commented on #11172
@aweary You’ll take this?

[2017-10-10 16:07] aweary commented on #11172
@gaearon it looks like the same issue, focusing and blurring causes the placeholder to show again, which is the same behavior I saw the first time. Looking into it now.

[2017-10-10 16:08] bvaughn commented on #9549
This seems like an important point. Admittedly it's one I'm not very familiar with.

By chance, do you have any references that show what support (percentages) is like? I'm curious to learn more.

On the other hand, this isn't a convincing argument to me. I can easily imagine scenarios where it's more work to use ARIA (eg like the button one you mentioned) and ones where it's less work to use ARIA

[2017-10-10 16:12] gaearon commented on #11172
Can you check if https://github.com/facebook/react/pull/11177 fixes it?

[2017-10-10 16:15] aweary commented on #11172
@gaearon I was just stepping through it and found that same call site 😄  I verified that is the reason the `textContent` is being set, let me build locally and verify the fix.

[2017-10-10 16:46] iamdustan commented on #11175
I’ll see if I can sneak some time in on this over the next day. 👍

[2017-10-10 16:50] #11172 closed

[2017-10-10 17:58] frastlin commented on #9549
I will do an accessible version in a little bit, but is the look for a tutorial worth the massive complexity Aria brings to a project?
I know so many companies (big companies) who try and get away with using Aria, but one small problem and the whole table becomes unusable and if you are not using a screen reader, you would never know.
If one wishes to use aria it is imperative a screen reader user

[2017-10-10 18:05] frastlin commented on #9549
BTW, the title should change and say the tutorial example is not accessible. The docs at:
https://reactjs.org/docs/hello-world.html
are beautiful. I have never read such amazing documentation for a Framework before. I don't even know why you need the tutorial if you have those Docs LOL.

[2017-10-10 18:06] bvaughn commented on #9549
Hey @frastlin, let's continue this chat over on the new issue 😄

reactjs/reactjs.org/issues/78

This one's closed since the docs have been moved to a new repo.

[2017-10-10 18:08] mstijak commented on #8626
It's gone.

[2017-10-10 18:08] #8626 closed

[2017-10-10 18:34] #10772 closed

[2017-10-10 18:35] #10993 closed

[2017-10-10 18:50] pgruenbacher commented on #11023
what about x3dom elements?
x3dom will use a lot of custom elements to generate webgl scenes.
https://doc.x3dom.org/author/Geometry3D/BinaryGeometry.html

[2017-10-10 18:54] gaearon commented on #11023
Please file a new issue with an example. We could add more special cases.

[2017-10-10 19:14] tizmagik commented on #11169
Ah, of course! That's what I get for not following my own advice about avoiding `canUseDOM`. Thanks @gaearon 🙏  Working now with this PR: https://github.com/tizmagik/react-head/pull/9

[2017-10-10 19:14] #11169 closed

[2017-10-10 19:25] pgruenbacher opened #11184 "React16 not compatible with x3dom"
** This is both bug / feature
https://www.x3dom.org/

I used to be able to use x3dom with React. It was great.

** React ^15 I was able to use the **is** property to generate custom elements and custom attributes that could be picked up by x3dom i.e. <shape is render="true"/>

Now with React16 i get many warning messages for all of the custom x3dom tag elements. Likewise it seems that certain attr

[2017-10-10 19:31] pgruenbacher commented on #11184
![screenshot from 2017-10-10 15 30 19](https://user-images.githubusercontent.com/3332598/31406590-fb762b6a-adcf-11e7-996b-97a366cf51c1.png)
![screenshot from 2017-10-10 15 29 54](https://user-images.githubusercontent.com/3332598/31406591-fb85442e-adcf-11e7-8982-bb5ca7ca20a2.png)

Examples images of how size="0.6" is not output by React

[2017-10-10 19:48] michaelBenin commented on #11160
What about hyphenated attributes? Is httpEquiv and http-equiv treated the same?

[2017-10-10 19:57] iammerrick opened #11185 "Update Performance Optimization Documentation to Reflect React 16"
**Do you want to request a *feature* or report a *bug*?**
Bug (Out of date documentation)

**What is the current behavior?**
The [current React documentation](https://reactjs.org/docs/optimizing-performance.html#profiling-components-with-the-chrome-performance-tab) talks about a flag `?react_perf`, however, since React 16 it appears this behavior is the new default in development builds. (And with

[2017-10-10 20:38] iammerrick commented on #11185
I also noticed that "duration" for marks are a consistent "0". Is it expected that duration between steps is computed by subtracting `startTime` ? of React related marks?

[2017-10-10 21:20] nikgraf commented on #10733
Just created a PR here https://github.com/reactjs/reactjs.org/pull/126

[2017-10-10 21:33] timurtu commented on #1739
@harut55555 idk it may just be me but this seems like a lot of code to do a get request and a post request

[2017-10-10 23:58] wchargin commented on #10993
Thanks very much @gaearon!

[2017-10-11 01:23] pgruenbacher commented on #11023
https://github.com/facebook/react/issues/11184

[2017-10-11 04:31] shinrinyoku commented on #11106
@aj-anuragjain I hope you don't mind me chiming in with another case in which this change of ordering caused some of my own existing code to not function as expected anymore.

I have an application where I maintain an array that acts like a stack in the application state. I expect parent components to push data onto it before their children do. I'm using `componentWillMount` to do so. For example,

[2017-10-11 04:33] Sieabah commented on #3877
For those now getting the error with:

`window.__REACT_DEVTOOLS_GLOBAL_HOOK__ = {}`

now need to put this instead.

    window.__REACT_DEVTOOLS_GLOBAL_HOOK__ = {
        supportsFiber: true,
        inject: function() {},
        onCommitFiberRoot: function() {},
        onCommitFiberUnmount: function() {},
    };

[2017-10-11 04:56] ljharb commented on #10020
That's a fair criticism; this is just the solution that made sense to me. If there's another way to meet the use case that would be more obvious/intuitive, I'm all for it!

[2017-10-11 05:22] redonkulus opened #11189 "Need a hook for hydration mismatch"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
In React 16, the `data-react-checksum` attribute was removed from the server rendered markup. In previous versions, we used this attribute to beacon checksum mismatches to our log servers to be notified of production issues. With the attribute removed, we have no mechanism to determine if a checksu

[2017-10-11 07:02] syranide commented on #11189
Isn't intercepting and logging warnings (and errors) enough?

[2017-10-11 08:08] zjxpcyc opened #11190 "How to use TestRenderer?"
**Do you want to request a *feature* or report a *bug*?**
I don't know

**What is the current behavior?**
My codes as below:
[code]

[code]

package.json
[code]

and console show:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/,

[2017-10-11 08:15] gaearon commented on #11190
There's no `toTree` in 15. It is new method in 16.

Unrelated, but you also don't need jsdom for the test renderer.

[2017-10-11 08:15] #11190 closed

[2017-10-11 08:16] zjxpcyc commented on #11190
ps:
I printed testRenderer , and got ReactTestInstance, why ?

[code]

[2017-10-11 08:17] gaearon commented on #11190
The documentation is for React 16.

[2017-10-11 08:18] misterfresh commented on #10021
For now I can make it work by  manually re exporting the named exports in a separate file, then bundling that file with Rollup.

![alt text](https://i.imgur.com/2x7DpYz.gif "Pre loading JS modules with HTTP2 push")

[2017-10-11 08:22] gaearon commented on #10021
I want to make it clear you're not going to get awesome benefits by "tree shaking" React. Most of the code is in the internals that is always used. You might at most shave off one or two kB, and only if your code *never* uses `React.Children`.

So this is not a high priority optimization for us for that reason.

[2017-10-11 08:23] gaearon commented on #11185
Could you please file this in https://github.com/reactjs/reactjs.org?

We don't track doc issues in the main repo anymore.

[2017-10-11 08:23] #11185 closed

[2017-10-11 08:24] zjxpcyc commented on #11190
Where's 15 ?

[2017-10-11 08:28] gaearon commented on #11190
Test renderer was new in 15 and wasn't properly documented at all. But it's basically the same except it doesn't have `toTree`, `root` or any `find` methods. In other words it didn't support traversal and only had `toJSON`.

[2017-10-11 09:04] anushreesubramani commented on #11140
I found 2 versions of the "Can only update a mounted or mounting component" warning:
First is from **ReactFiberScheduler.js** (which is imported by ReactFiberReconciler.js)

The second one is from **ReactNoopUpdateQueue.js**  (which is imported by ReactBaseClasses.js)

@gaearon Just have a few doubts:
1. Is this repetition intentional? Do they serve different purposes, if so what are they?
2. I ha

[2017-10-11 09:33] mmellado opened #11191 "onMouseEnter lost when hovering over children"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When a `onMouseEnter` event is triggered on an element, the event is lost when the mouse comes over a child rendered based on this event. This didn't happen in React 15, where hovering over the newly created child would persist the event.

**If the current behavior is a bug, please provide the steps to

[2017-10-11 09:34] gaearon commented on #11140
The one in `ReactBaseClasses` is likely to almost never happen. It only happens if somebody creates an instance of a React component manually, e.g. `new MyComponent(props)`, and then tries to call `setState`.

Let’s dedupe both I think. This means that in the very unlikely case both fire, there will be at most two warnings rather than one. But that’s okay.

[2017-10-11 09:43] gaearon commented on #11191
This the same as #10906 and #11152, and was fixed in https://github.com/facebook/react/pull/11164.
We’ll release a fix soon.

[2017-10-11 09:43] #11191 closed

[2017-10-11 09:50] gaearon commented on #11132
I fixed in 4a26b90cfa4a4f2b70dfa704b9706bb1c5fa26b4. Still broken for 16 alphas but they’re pretty borked anyway. Might need to blacklist them somehow.

[2017-10-11 09:50] #11132 closed

[2017-10-11 11:46] RuiMRodrigues commented on #9551
You had this problem ? sharp.node is in that folder... makes no sente

![teste](https://user-images.githubusercontent.com/6662292/31438919-1ff64fee-ae82-11e7-8cd5-5cb4344108eb.png)

[2017-10-11 11:51] gaearon commented on #3066
I believe React will warn you about this, since `autoFocus` is the intended spelling. (And that one is handled specially.)

We‘re probably planning to pass the normal `autoFocus={true}` version through. Track this in https://github.com/facebook/react/issues/11159.

[2017-10-11 12:26] wzup commented on #4915
@zpao Is that all you can say against this issue (as a person with a badge `owner` oth repo)? Then downvote.
Don't you have a solution, best React practice, for this issue yet? How is it possible?

[2017-10-11 13:08] gaearon commented on #4915
@wzup

There’s no need to be combative about it. What @zpao is saying is that **there is nothing on React side that needs to be fixed because React is not the one assigning names to your functions.**

In production, it is **expected** that you will see minified names. That’s the whole point of minifying. It removes unnecessary code (and mangles identifiers).

In development, you should not be usin

[2017-10-11 13:14] Diokuz commented on #2517
Is there any solution right now?

[2017-10-11 13:15] StommePoes commented on #9549
@bvaughn "The choice of which is better from a development and maintenance perspective should be case-by-case."
Yes. Though I haven't seen a fake-table-aria'd-up that was not more code than just a table, but with all things, YMMV.

Yes, and this is almost always about form controls, since browsers tend to disallow styling and the OS takes a big hand in styling. This is why we'll get an aria'd-up-t

[2017-10-11 13:52] gaearon commented on #11159
I chatted with @trueadm about this and I think this sounds like a plausible way forward:

#### React 16

* Emit it in SSR HTML.
* Ensure we don’t call JS polyfill for hydrated elements.
* Keep blacklisting it on the client-created elements and use JS polyfill for those.

#### React 17

* Remove JS polyfill completely.
* Warn if there is more than one `autoFocus` element added during a commit (sinc

[2017-10-11 13:57] syranide commented on #11159
Browsers, at least not long ago, are inconsistent in how they interpret the autoFocus attribute as well. I know that e.g. FF would only honor it on pageload and totally ignore any that were dynamically inserted. But I haven't surveyed it in a long time now.

Still, I think the approach is correct.

[2017-10-11 14:15] gaearon commented on #11159
After some basic investigation it looks like most modern browsers except Safari don’t respect `autoFocus` after page load at all. It probably made sense for HTML documents, but in apps I would expect `autoFocus` to be respected for dynamically inserted elements since they’re basically “page transitions” as much as the first page load in SPAs.

So we should probably keep the polyfill.

[2017-10-11 14:33] misterfresh commented on #10021
For me, the main benefit of having an ES module option for React is to be able to use native modules during development, to avoid rebundling on every change to the code.

[2017-10-11 14:39] Andarist commented on #10021
Also with es modules in place webpack could scope hoist react, at the moment it simply bails out on react because it treats it as commonjs.

[2017-10-11 14:49] jankalfus commented on #8452
@bvaughn The methods get called after the changes have been flushed to the DOM, but that's irrelevant. The problem is that they get called before the first browser painting happens, not after.

To give you an example, when you have an element with `overflow` set to `scroll`, the `clientWidth/clientHeight` property will report incorrect values in `componentDidMount`. However, correct values get rep

[2017-10-11 14:50] gaearon commented on #11159
It gets weirder.

Chrome respects dynamically added elements with `autoFocus` if there hasn’t been one before. Even creating an input with `autoFocus`, adding it to the document, and removing it in the next tick is enough to disable autofocusing of any elements added in the future in Chrome.

Firefox just doesn’t care about any dynamically added elements with `autoFocus` at all.

And Safari always

[2017-10-11 14:52] davesnx opened #11196 "Add warnings on adding functions and components on State."
**Do you want to request a *feature* or report a *bug*?**
"Feature"

Hey!

I wanted to add a type check on the state on development, in order to educate.
I saw a couple of times, some codebase that saves Functions or even Components into the state.

I was checking the codebase (for the first time :blush:) and I saw that you check on the `setState` method:

[code]

You allow functions to be part of

[2017-10-11 15:12] bvaughn commented on #9549
Again, let's continue this chat over on the new issue: reactjs/reactjs.org/issues/78

[2017-10-11 15:33] bvaughn commented on #8452
Can you point me at a repro that shows this behavior, by chance?

[2017-10-11 16:00] cjolif commented on #7905
Coming back on this "old" one. The entire purpose of unit testing is to test just an isolated component. Obviously as soon as the component depends on a context, it can't be purely isolated. But still having to setup my own wrapping component, may it just be here to set the context, is a bit counter-intuitive to me in the context of unit testing. I guess it would really be nice if react-test-rende

[2017-10-11 16:03] jankalfus commented on #8452
Sorry, looks like a was hasty. `setTimeout/requestAnimationFrame` did not solve the problem for me.

In my particular case, I've nailed it down to padding causing the problem. For some reason, the 'clientWidth' that's received in cDM is smaller by the total padding amount of the surrounding component (maybe it gets painted first without the padding?). But it is accurate if obtain a bit later.

I'l

[2017-10-11 16:09] bvaughn commented on #8452
is this being caused by a `box-sizing` style by chance? (Something that may be inherited from a parent style that may be changed?)

Okay. Thanks.

[2017-10-11 17:02] flarnie commented on #5785
I'd like to look into this because it could affect Draft.js. Will post more when I get time.

[2017-10-11 17:07] jankalfus commented on #8452
Nevermind, my issue was caused by something else. Sorry.

[2017-10-11 17:13] bvaughn commented on #4302
I realize I'm replying to a comment that's over a year old, but... 😄

I just did a quick test (below) and Dan's hack-around _does_ still seem to work so far as I can see, although I realize it's far from ideal. For example:

[code]

The above test will result in the following warnings:
[code]

[2017-10-11 17:13] bvaughn commented on #8452
It happens. 😄

[2017-10-11 17:36] redonkulus commented on #11189
@syranide like monkey patching console.error and looking for checksum errors? Ideally there would be a properly supported API from React.

One idea could be in the callback from the `React.hydrate` call? I b

[2017-10-11 17:55] gaearon commented on #11196
It is supported to put functions into React state. There is nothing wrong with this pattern (although it’s not used very often). For example, when doing dynamic loading of code, it is common to store the component in React state.

The check you’re looking at is not relevant to that. It is relevant to `setState(fn)` API which lets you set state *based on previous state*:

[code]

It doesn’t cause f

[2017-10-11 17:55] #11196 closed

[2017-10-11 17:57] #11065 closed

[2017-10-11 18:05] gaearon commented on #11159
Fixed in https://github.com/facebook/react/pull/11192.

[2017-10-11 18:05] #11159 closed

[2017-10-11 18:05] gaearon commented on #3066
Fixed in https://github.com/facebook/react/pull/11192.

[2017-10-11 18:05] #3066 closed

[2017-10-11 18:26] sebmarkbage commented on #11184
There is a general recommendation from w3c not to add custom tags without a dash in them. The dash is the way to define a custom element. The idea is that otherwise there is no safe way for browsers to add new tags to the spec. In fact, some might already be broken because of x3dom.

I'd raise an issue with x3dom asking why they're not following this recommendation. (Likely because it existed befo

[2017-10-11 18:34] sebmarkbage commented on #11189
Diffing of attributes and innerHTML no longer happens in the production build so we have no way of issuing this for all possible mismatches. Even for text content we run normalization stuff only in DEV to know whether it actually was a mismatch or not. In theory we could issue some hook for particular mismatches that we actually currently track in production like tag mismatches but it would be ver

[2017-10-11 19:23] pgruenbacher commented on #11184
I see so <fontStyle/> so would need to be something like <x3-fontStyle customAttr="0.3"/> at which point React will not raise warnings for having camelCased attributes or for having a custom element. That seems reasonable. I wasn't clear to me when reading https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html.

[2017-10-11 19:29] eddiemonge opened #11197 "React-Test-Renderer@16 breaks trying to use internal property"
Using version 16.0.0, I get a `TypeError: Cannot read property 'ReactCurrentOwner' of undefined`

Sample test case https://github.com/eddiemonge/snapshots-broken but really its just:

[code]

[code]

Error thrown is:
[code]

Offending code is
[code]

Seems like maybe from this change? https://github.com/facebook/react/pull/9366

[2017-10-11 20:44] pgruenbacher commented on #11184
I resolved the issue by changing all custom elements from `<customElement is customAttr="0.3"/>` to `<custoElement is="x3d" customAttr="0.3"/>`. I had accidentally thought **is** attribute was deprecated. No need for the dash convention.

[2017-10-11 20:44] #11184 closed

[2017-10-11 21:16] redonkulus commented on #11189
Thanks for the response @sebmarkbage.

In React 15 today, we do not get the diff in production (as you know), we just know that a mismatch occurred so that we can then run our local dev build to investigate it further. The main concern is just losing the ability to know an error occurred. I'm less concerned with getting the diff in production.

I can try monkey patching, I just don't know if that

[2017-10-11 21:21] bvaughn commented on #10620
I will be happy to do this.

[2017-10-11 21:26] bvaughn opened #11198 "Automated release script"
Create a command line tool to automate the release steps outlined in #10620

[2017-10-11 22:42] jaredp opened #11199 "Docs for older versions of React are unavailable"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Documentation for older versions of React have been deleted.  The React documentation website only shows documentation for the current version of React.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or s

[2017-10-11 23:22] nhunzaker commented on #11132
No problem. I added a little work around in #11200. It seemed about as good as a blacklist.

[2017-10-11 23:27] blling commented on #11199
The documentation and source code for reactjs.org lives in a different repository: https://github.com/reactjs/reactjs.org

Please open a new issue in that repository. Thanks!

[2017-10-11 23:32] jaredp commented on #11199
Awesome, thanks!

[2017-10-11 23:32] #11199 closed

[2017-10-11 23:53] lingyan commented on #11189
Is it possible to attach a data attribute (e.g. data-react-mismatch or some better name) on the altered dom node (only the root one would be enough), so that application code can check for reporting purpose?

[2017-10-12 00:42] ikzjfr0 opened #11201 "React error decoder page broken"
For example, following decode page is broken:
`https://reactjs.org/docs/error-decoder.html?invariant=22`
and this
`https://reactjs.org/docs/error-decoder.html?invariant=109&args%5B%5D=Foo` which is described in https://reactjs.org/blog/2016/07/11/introducing-reacts-error-code-system.html

[2017-10-12 01:02] blling commented on #11201
The documentation and source code for reactjs.org lives in a different repository: https://github.com/reactjs/reactjs.org

Please open a new issue in that repository. Thanks!

[2017-10-12 02:28] nhunzaker commented on #8395
I'm on this. I almost have a fix here:
https://github.com/facebook/react/compare/master...nhunzaker:firefox-validation

I'm just investigating an unhelpful error in IE10 when I set `node.type`. I'll pick that up tomorrow.

[2017-10-12 02:35] nhunzaker commented on #8395
Huh. Got it. You have to use `setAttribute('type', 'x')` instead of `node.type = 'x'`.

This is out for review in: https://github.com/facebook/react/pull/11202

[2017-10-12 07:46] anuprai11 opened #11203 "React component passed as children to some component down nullifies effect of PureComponent"
I don't know if this would come under feature request or a bug or if this is just expected and things should be handled differently in shouldComponentUpdate.

Current behaviour : If A is a component which renders B and passes C as children to B. Now if A re-renders for some state change of which no part is passed to B or C so basically nothing changes in the subtree of B. B still always re-renders

[2017-10-12 10:00] ptomasroos commented on #11065
Would it be possible to get a updated next on npm for the react 16 regressions that been fixed?

[2017-10-12 10:48] gaearon commented on #11201
What does "broken" mean? If you don't see the page at all please disable Fair Adblocker. It's known to cause issues with the new website. We'll be fixing that soon.

In any case please file issues in the website repository instead.

[2017-10-12 10:48] #11201 closed

[2017-10-12 10:48] gaearon commented on #11201
(I verified the page displays correctly so it's probably an ad blocker breaking it)

[2017-10-12 10:49] gaearon commented on #11199
(And I believe there is already an issue about this there.)

[2017-10-12 10:58] gaearon commented on #11197
This code alone doesn’t reproduce. Jest says:

[code]

😉

[2017-10-12 11:01] gaearon commented on #11197
I modified the code to:

[code]

It ran fine for me:

<img width="428" alt="screen shot 2017-10-12 at 12 00 02 pm" src="https://user-images.githubusercontent.com/810438/31492906-e595fbd8-af44-11e7-97e5-f3a41353b51d.png">

My guess is something is wrong with your environment, and you don’t actually have `react@16` there. Maybe you have a bad `package-lock.json` or something like this.

Make sure yo

[2017-10-12 11:01] #11197 closed

[2017-10-12 11:05] gaearon commented on #11203
Closing as a duplicate of https://github.com/facebook/react/issues/7412.
(Yes, this is expected.)

[2017-10-12 11:05] #11203 closed

[2017-10-12 14:32] gaearon opened #11207 "Investigate the nested update overflow caused by coalescing"
We had an internal issue (T22633912) which manifested itself as an infinite nested update loop triggering our invariant.

@trueadm investigated that it was introduced in https://github.com/facebook/react/pull/10426 and then fixed in https://github.com/facebook/react/pull/11187. We don’t, however, have any failing tests related to that.

Even though we removed that coalescing implementation, I feel

[2017-10-12 14:33] gaearon commented on #11207
cc @acdlite @sebmarkbage

[2017-10-12 14:53] iamdustan commented on #11065
@ptomasroos 16.1 will be releaed in the not-too-distant future.

[2017-10-12 15:17] eddiemonge commented on #11197
I did provide a reproducing example in the repo. I did a fresh clone of it, changed the test file to the code you had, ran npm install, and then npm test and still got the same thing.

here's a log of it https://gist.github.com/eddiemonge/879043c56c3f1d5a26f34ba94ef9d616

I don't generate package.lock files by default so its not that. You can see the versions that got installed.

@gaearon please r

[2017-10-12 15:31] iamdustan commented on #11197
@eddiemonge what verisons of `node` and `npm` are you using? I also tried to repro with both yarn and npm and was unable to trigger that error, but only see the output @gaearon noted.

[2017-10-12 15:34] misterblblbl commented on #7280
Still able to reproduce the issue in IE11 with React 15.2.0 and React 15.6.1:
https://jsfiddle.net/dbmu8yps/6/

[2017-10-12 15:46] eddiemonge commented on #11197
Hmm ok then I'll troubleshoot more on my side

[2017-10-12 19:49] AntiFish03 commented on #3726
@JonDum Agreed and I also use them for things like `<author itemProp="reviewAuthor">` that Search Engines like (since most of them now load and run JS).  But with React 16 I am getting
[code]
And yes it does make me question my sanity...

[2017-10-12 22:26] Kengros opened #11209 "vs push"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-10-12 22:26] #11209 closed

[2017-10-12 22:55] bigblind commented on #11163
I'd love to create a PR for this.

[2017-10-12 23:35] redonkulus commented on #11189
@sebmarkbage ping

[2017-10-12 23:46] sebmarkbage commented on #11189
Sorry, what I'm saying is that with the new strategy React doesn't even know if something did mismatch or not because we don't actively patch up everything. Not everything is compared.

For React 16, there's not a lot of that use it in production yet. You're an early adopter. :) I think most don't handle it in production and just rely on this showing up at some point during development. A lot of t

[2017-10-13 01:45] ianstormtaylor opened #11211 "Use the native `beforeinput` event if it's supported"
**Do you want to request a *feature* or report a *bug*?**

Improvement.

**What is the current behavior?**

Right now, the synthetic `onBeforeInput` event is being created based on two other events:

- `textInput` when possible—which is in Webkit.
- `keypress` as a fallback.

But these days in Chrome and Safari the spec'd `beforeinput` event is available and actually fires. And when it does, it in

[2017-10-13 06:06] ptomasroos commented on #11065
Thanks for the feedback @iamdustan

[2017-10-13 06:25] rytisbac commented on #9242
Same problem here... Created component with react and want to include it to other sites - similar as iframe.  The only way it can work is to retarget events. But I think it realy hurts performace

[2017-10-13 09:15] Bart-Holland opened #11214 "React-addons-test-utils needs older version of react-dom ?"
I installed the latest react-addons-test-utils (latest in npm) and also the latest version of react-dom (also npm). As react-dom is a dependency you would expect that this would do the trick.
However npm sends out warnings:

[code]

Do I really need an older version of react-dom be able to use the test-utils or is it ok to use the latest react-dom version?

I am using:
- react@^3.7.2
- react-dom@^

[2017-10-13 09:57] benjycui commented on #10826
Actually, we cannot, we are maintaining a common UI component [rc-dialog](https://github.com/react-component/dialog). We cannot prohibit other developers unmount our dialog, this is why it is a problem to us(And we know that it may not be a problem to others).

[2017-10-13 10:57] syranide commented on #11163
https://github.com/facebook/react/pull/9146#issuecomment-319629271

[2017-10-13 11:30] anushreesubramani commented on #11140
There were totally ~120 warnings in the React codebase. I checked them all and came up with a list of ~20 warnings which were not deduped. I have fixed the ones which I felt will be duplicated during re-render(as per your suggestion) and have given the PR. I still have a list of other warnings which I am unsure if they need deduplication or not. I can share the list if you wish to take a look at i

[2017-10-13 15:05] VictorQueiroz opened #11218 "Is there a way to input before rendering checking strategy in ReactDOM?"
I'm not sure if that's the appropriate way to ask this but I'd like to have your opinion. I notice that I have the use of `PureComponent` very often in code, but I'm wondering if there is a way in which you build all pure function components and then apply the logic of shallow comparison before rendering while rendering component using ReactDOM.

Is there a reason not to have something like this?

[2017-10-13 17:27] chenfanggm commented on #10831
when this fix will get released?

[2017-10-13 17:52] sebmarkbage opened #11220 "Add Flow Coverage to Renderer Fixture, or use a maintained renderer for tests"
The renderer package contains a fixture that has to be updated every time we change APIs. However it is not covered by Flow nor by full test coverage so it is very tedious to make sure you get it exactly right.

I messed it up in https://github.com/facebook/react/pull/11213

Making changes to the API also means updating a lot of renderers at this point. It would be nice if the fixture could be bui

[2017-10-13 18:09] iamdustan commented on #11220
I was wanting to try to generate a `react-reconciler/index.js.flow` file in the distribution as well so that:

* consumers can get flow typechecking of userland renderers
* run `flow` in the fixture file during release. If it fails we know there was a breaking API change.

[2017-10-13 18:22] acdlite commented on #11220
👍

[2017-10-13 20:36] iamdustan commented on #11220
I could look into this, too. The caveat is that it has to be a renderer with no internal dependencies (which `noop` has).

[2017-10-13 21:35] shawninder opened #11221 "Code snippet in docs unexpectedly throws"
## Bug Report
The docs present an example code snippet which crashes the js process. See https://reactjs.org/docs/refs-and-the-dom.html#adding-a-ref-to-a-dom-element

In particular, notice the highlighted parts of the code snippet and the first sentence under the snipppet, which reads "React will call the ref callback with the DOM element when the component mounts, and call it with null when it un

[2017-10-13 21:38] pirate opened #11222 "react-warning-keys thrown for components not returned in an iterator"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[code]
[code]

**Steps to reproduce**
See https://github.com/pirate/react-keys-warning

**What is the expected behavior?**
No key warning.

**Which versions of React?**
Affects: v16.0.0  (Chrome v62, macOS 10.12)
No warnings in React v15

**Solutions:**
 - Fix the key warning
  or
 - Edit the docs to e

[2017-10-13 21:48] aweary commented on #11222
Hey @pirate, I'm not seeing the key warning when running the example you provided here: https://jsfiddle.net/yfkuL9ky/

Are you by chance returning this as a fragment using an array? Like:

[code]

If so you need to add a key to the root `span`. If not, please provide a full example reproducing the warning that we can investigate. Thanks!

[2017-10-13 21:53] pirate commented on #11222
Nope, not returning in an array.  Working on providing a full example with create-react-app, give me ~30min.

[2017-10-13 21:55] WardenUnleashed commented on #11207
Any progress or update on this bug? I've been running into it while using "React WayPoint" but have been having trouble replicating it reliably.

[2017-10-14 00:17] iamdustan commented on #11207
@WardenUnleashed are you sure it was this issue? The PR that introduced this issue has not been released in any public releases.

[2017-10-14 00:28] NeekSandhu opened #11224 "Async componentWillReceiveProps to allow state update"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
An (almost) immediate re-render is due after `componentWillReceiveProps` is called, unless `shouldComponentUpdate` says otherwise.

**What is the expected behavior?**
If new props in `componentWillReceiveProps` cause an async call that's soon going to update the state anyway, won't it be cool if Re

[2017-10-14 00:34] pirate commented on #11222
Here it is, this repo is the minimum amount of code required to reproduce this: https://github.com/pirate/react-keys-warning

Just open test.html to see the error.  The error dissapears when `babel-plugin-transform-react-inline-elements` is removed, so I suspect the issue lies in the babel plugin code.  If you want, I'll close this issue and reopen it there: https://github.com/babel/babel/issues?q

[2017-10-14 00:41] NeekSandhu commented on #11224
More than happy to send a PR if this gets a green light.

[2017-10-14 01:32] WardenUnleashed commented on #11207
If this has anything to do with #11113 or a "Maximum update depth exceeded .." error, than I think it might.

To give a brief summary of the physical symptoms I see when encountering my problem, my component essentially tries to setState when it enters or leaves the viewport, when the onLeave event fires, it will completely freeze up the entire browser and become unresponsive, starting to utilize

[2017-10-14 01:35] NaveenDK commented on #11197
Im getting the same error  -'    TypeError: Cannot read property 'ReactCurrentOwner' of undefined' if I just add 'import renderer from 'react-test-renderer'  on a test file my dependencies are as follows:

{
  "name": "testapp",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "react": "^15.6.2",
    "react-dom": "^15.5.4",
    "react-tap-event-plugin": "^2.0.1",
    "react-test-re

[2017-10-14 02:08] TAGraves commented on #11214
The test utils for 16 are included in React DOM. You can import them like so:`import ReactTestUtils from 'react-dom/test-utils';`

[2017-10-14 02:17] NaveenDK commented on #11197
Hey @eddiemonge  I changed the version of react and react-test-renderer to 15.4.0 and did npm install...it did work!

[2017-10-14 03:14] acdlite commented on #11207
The internal bug was fixed by https://github.com/facebook/react/pull/11212.

@WardenUnleashed Infinite loop bugs could be caused by multiple things. Could you open a separate issue with more details, and ideally an isolated repro case?

[2017-10-14 03:14] #11207 closed

[2017-10-14 05:11] turnerhayes commented on #1118
I have the same sort of issue, where I'm handling value changes in onKeyDown. I can fix it by adding a no-op onChange handler, as mentioned above, but that seems absurd just to work around this (inaccurate) warning. I'm not sure how an uncontrolled component would really work in this case, either; I mean, I guess I could add a handler using vanilla JS on the ref element, but that sounds very dange

[2017-10-14 15:03] sw-yx commented on #10103
for anyone else watching we made this into a `warning` instead as requested by Dan. also added a test

[2017-10-14 15:28] kpdecker commented on #10474
One more datapoint here: Our env utilizing Sentry loaded via CDN ended up masking all errors passed to error boundaries as cross origin errors due to the way that Sentry hooks into most async APIs. We don't normally run in our dev mode with global error handling connected for obvious reasons, but this led to a lot of confusion and concern while debugging and figuring out the scope of the problem.

[2017-10-14 20:17] smashercosmo opened #11228 "Issue with dangerouslySetInnerHTML and markup rehydration"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When trying to rehydrate markup in IE11 'Argument is not optional' error is thrown. It happens only if component has dangerouslySetInnerHTML prop.

**Example**
https://jsfiddle.net/oy9awLtq/

**What is the expected behavior?**
No error should be thrown

**Which versions of React, and which browser / OS

[2017-10-14 20:24] nhunzaker commented on #11228
Confirmed. The offending code:

[code]

This is a duplicate of https://github.com/facebook/react/issues/10865, and was fixed in https://github.com/facebook/react/pull/10921.

In any case, thank you for filing and providing a reproduction case!

[2017-10-14 20:24] #11228 closed

[2017-10-14 20:27] smashercosmo commented on #11228
Awesome. Thx.

[2017-10-15 00:13] landvibe commented on #11097
[This PR](https://github.com/facebook/react/pull/11227) fixed #7630

[2017-10-15 02:59] patrick-mcdougle commented on #11102
I tried doing a text search for "reactFiberChild" and I can't seem to find it. Would love to make a first contribution by making warnings more clear. Can anyone point me in the right direction?

Here's the full text from the article to save others time from finding it:

[2017-10-15 06:00] sultan99 commented on #10441
The problem `A cross-origin error was thrown. React doesn't have access to the actual error object in development.` comes with react v16 in development mode as soon as I switch it to the production mode it works fine.

No one of these helped:
 - 'Access-Control-Allow-Origin': '*'
 - <script crossorigin="anonymous" ...
 - devtool: 'cheap-module-source-map'

[2017-10-15 07:20] webmobiles opened #11229 "ReactiveFormsModule like angular4 in react"
I'm struggling with forms in react, redux-form library is the only library that can arrive to do what reactive forms in angular4 can do, but have a lot of bugs , and have no all what angular4 reactive form has:

https://angular.io/guide/reactive-forms
`import { ReactiveFormsModule } from '@angular/forms'`

I can control field state  in nice way,

![angular4-control-state-transitions-anim](https://

[2017-10-15 18:10] aweary commented on #11222
Thanks for clarifying @pirate, you shouldn't be using the inline-elements transform in development. You should only be using applying this to your production build. Check out https://github.com/facebook/react/issues/10352 for more information. Thanks!

[2017-10-15 18:10] #11222 closed

[2017-10-16 06:51] chenshuai2144 commented on #11229
You can look at this
[ant_form](http://ant.design/components/form/#components-form-demo-dynamic-rule)

[2017-10-16 07:21] nicofrand opened #11231 "keyup event not fired on Firefox for Android"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

The keyup event is not fired. When using vanilla JS, there is no issue (https://codepen.io/anon/pen/LzggQW).

**STR:**

1. On an Android smartphone, ensure both autocompletion and autocorrect are enabled
0. Open https://codepen.io/anon/pen/xXyaLe in Firefox for Android (it works on desktop and wit

[2017-10-16 08:52] zouning commented on #10776
@jquense our app might be a little bit complex. It will take me some time to do that. I will have a try.

[2017-10-16 09:08] webmobiles commented on #11229
@chenshuai2144 thanks, looks nice the design form,  but it's not clear the copyright
http://ant.design/docs/spec/copywriting

[2017-10-16 09:27] dknc opened #11233 "Request to release react 15.6.2 which based on MIT License"
You has updated React license from the BSD + patent License to MIT license, could you release it as 15.6.2? thank you

[2017-10-16 09:51] blling commented on #11233
It has done.

[2017-10-16 11:54] nhunzaker commented on #11233
Yep! Take a look at the 15.6.2 blog post:
https://reactjs.org/blog/2017/09/25/react-v15.6.2.html

[2017-10-16 12:46] reevolt opened #11234 "React props are not available when arguments are set in html tag"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

The props passed to the dom element is not available in react via _this.props.attribute_

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/,

[2017-10-16 12:55] #11234 closed

[2017-10-16 14:39] Ethan-Arrowood commented on #11221
I'd be happy to update the docs. You (or I) should open an issue on https://github.com/reactjs/reactjs.org instead.

[2017-10-16 15:10] d4rky-pl opened #11236 "Shallow test renderer calls shouldComponentUpdate on forceUpdate"
There is no extra guard or clause in `enqueueForceUpdate` when calling `render` which means the `render` always calls `shouldComponentUpdate` which can block even forced re-render during tests.

This for example [breaks shallow rendering in Enzyme when using MobX and observables](https://github.com/airbnb/enzyme/issues/1267).

Minimal test case:

[code]

[2017-10-16 15:24] teerapat2539 opened #11237 "test"
test

[2017-10-16 15:24] #11237 closed

[2017-10-16 15:39] slim-hmidi opened #11238 "How to combine theme.breakpoints on React?"
I need some configuration on my app to be resposnive. For example I used a component SearchIcon from material-ui and I want to adjust it on the screen:

[code]

But this does not take into consideration to make margin 14% when ````min-width=576px ````and ````max-width=768px```` and also for the second option.

I'm using React v15.6.2 and Google Chrome browser

[2017-10-16 16:00] volkanunsal opened #11240 ""Cannot create property for a non-extensible object"."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

An error is thrown in IE 11. The error message states "Cannot create property for a non-extensible object". It originates from the following location:

File "webpack:///./node_modules/react-dom/lib/PooledClass.js" line 98

**What is the expected behavior?**

No errors.

**Which versions of React, and

[2017-10-16 17:06] eddiemonge commented on #11197
I had an older version of React/test installed globally somehow. removing those, forcing a cache clean, and then reinstalling locally fixed the problem. so i think something was trying to use the global version

[2017-10-16 20:03] gaearon commented on #11221
Yes, please file the website issues in that repo.

[2017-10-16 20:03] #11221 closed

[2017-10-16 20:05] #11214 closed

[2017-10-16 20:07] gaearon commented on #11065
We’ll release it within a week or two. The work on these problems is done so there’s no need to keep the issue open. I’ll lock because comments here won’t help get the release out faster. We need to test it more at Facebook first.

[2017-10-16 20:08] gaearon commented on #10831
When 16.1 is released. Which will happen within a week or two.

[2017-10-16 20:10] gaearon commented on #11229
This is a bug tracker for React. Please use community resources for library discussion.
https://reactjs.org/community/support.html

[2017-10-16 20:10] #11229 closed

[2017-10-16 20:14] gaearon commented on #11238
Hi! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2017-10-16 20:14] #11238 closed

[2017-10-16 22:01] #11198 closed

[2017-10-17 00:06] lindslev commented on #11099
+1 to pushing out a long overdue fix for this issue

[2017-10-17 01:32] chenshuai2144 commented on #11229
@webmobiles   You can refer to him.He is too big to introduce or increase the size of js.
antd is a library containing redux-form.
this is [license ](https://github.com/ant-design/ant-design/blob/master/LICENSE)

[2017-10-17 04:56] jquense commented on #11099
Gonna close this out since there is no bug. We can talk about supporting selectedIndex in a specific feature request issue but at the moment I don't see a super compelling reason to add it. It's  easy enough to work around with defaultValue and it's not clear how an additional controllable prop would interact with the existing ones. In terms of parity with html, I think that's a fair point however

[2017-10-17 04:56] #11099 closed

[2017-10-17 06:11] robdodson commented on #9242
Does React use event delegation to listen for clicks on React components? If so I imagine the shadow boundary would get in the way of that... Just want to make sure I understand the problem :)

[2017-10-17 06:54] StoneCypher commented on #11099
@jquense - i will renew my request to be told how to contribute to the docs, which give in my opinion a strong signal to do this wrongly

[2017-10-17 09:26] oscar-b commented on #1159
Chrome for iOS (make sure you test with autofill from Chrome, and not the suggestions from the iOS keyboard) only emits `change` when autofilling values. Mobile Safari on the other hand emits `focus`, `keydown`, `input`, `keyup`, `change` and `blur`, as does Chrome and Safari on Mac.

React doesn't use `change` event for regular `<input />` which seems to be the root cause of this issue: https://g

[2017-10-17 10:14] skingston91 opened #11248 "React 16 Server Side Rendering client/server mismatched Html differences"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Migrating to React 16 helped us discover a bug in our code for only Safari/IOS devices where the sort functionality would cause the result to return in a different order compared to node's server response or chrome/firefox. The rendered component is a component with an A tag wrapping an optional image

[2017-10-17 11:03] gaearon commented on #11248
Please see the discussion in https://github.com/facebook/react/issues/10591.
This behavior is expected.

We documented it as a breaking change now: https://github.com/reactjs/reactjs.org/pull/116.
Although we should do it more prominently in the future.

[2017-10-17 11:03] #11248 closed

[2017-10-17 11:05] gaearon commented on #11240
This is not enough information, unfortunately, but I don’t think React is doing anything wrong. I encourage you to investigate this on Webpack side.

It is also likely not a problem with React 16 which doesn’t have that file in the first place.

[2017-10-17 11:05] #11240 closed

[2017-10-17 11:09] skingston91 commented on #11248
@gaearon thanks for the information!

[2017-10-17 12:31] gaearon commented on #11248
No worries! It is a bit confusing, I agree.

[2017-10-17 14:38] develerltd opened #11253 "Uncaught TypeError: this.updater.enqueueCallback is not a function"
*BUG*

Stack Trace:

[code]

[code]

[code]

[2017-10-17 15:02] #11253 closed

[2017-10-17 16:20] snajo commented on #7249
Is there any investigation on this topic? It`s really annoying that we have still problems with custom  components  :/

[2017-10-17 17:05] gaearon commented on #7249
We are not working on this but it makes sense to change the behavior to a more useful one in React 17.

However it will require somebody to do the actual research into different options, weigh their pros and cons, and come up with a comprehensive proposal for the changes they want to see.

Would you like to start working on this?

[2017-10-17 17:17] robdodson commented on #7249
I'm happy to help if I can. I'm not much of a React expert, but I think I have a pretty good idea of how things should work on the custom element side.

I was wondering if there's been any thought toward supporting the same model that Preact uses? If it would help I could put together a doc that outlines their approach?

[2017-10-17 17:20] iansu commented on #7249
I'd be happy to help implement the changes in React once a plan has been formulated.

[2017-10-17 17:46] gaearon commented on #7249
Yes, a doc with the proposal would help. The only concern I know about Preact model is that adding a new property to the base class in the platform would become a breaking change for React/Preact users.

[2017-10-17 18:00] robdodson commented on #7249
@gaearon ok I can put together a doc and ping this thread for review when it's ready

[2017-10-17 18:14] snajo commented on #7249
sounds good! @robdodson thx for the doc idea.

[2017-10-17 18:21] gaearon commented on #11218
I don’t understand what is being asked, sorry.

If you benchmarked interactions in your app and you have evidence that `PureComponent` makes it faster, then use it on those places. Otherwise, don’t.

I’m sorry if this isn’t helpful, but I’m not sure what else you are looking for. Maybe if you can clarify with an example I could give a better answer.

[2017-10-17 18:21] #11218 closed

[2017-10-17 18:22] gaearon opened #11254 "react-art on npm is missing the /lib/ folder"
It seems like those were intended to be public APIs (https://github.com/facebook/react/pull/10629) but they’re not published on npm because `lib` folder is not in the `"files"` whitelist.

[2017-10-17 18:49] pravdomil commented on #5677
what about first step to get some optimization on StatelessComponents? with empty props check?
[code]

[2017-10-17 18:51] shawninder commented on #11221
This ended up as a new issue in another repo: https://github.com/reactjs/reactjs.org/issues/173

[2017-10-17 18:53] gaearon opened #11257 "Apply "files" npm whitelist at build time"
We should make our build step apply the same logic as npm does with whitelisting `"files"` field. This way issues like https://github.com/facebook/react/issues/11254 would get caught early.

[2017-10-17 18:59] apravink commented on #11257
Hi I'd like to work on this. Im a beginner and I would appreciate any pointers on where to start

[2017-10-17 19:31] oliviertassinari commented on #7769
@syranide The `event.target` workaround works great. For everybody else, you might need `event.currentTarget`, [be aware of the difference](https://stackoverflow.com/questions/5921413/difference-between-e-target-and-e-currenttarget), and pick the one that fit your needs.

[2017-10-17 19:58] gaearon commented on #11257
If you run `yarn build` in the repo root, it should start the build process.
The relevant part is [probably here](https://github.com/facebook/react/blob/0e5767824f4c1122e94de61b0392a6942df642ab/scripts/rollup/packaging.js#L184-L192).

You will see that `build/packages/` gets populated with content of npm packages.

I want to make sure that we respect `"files"` entry in `package.json` of each packa

[2017-10-17 20:40] jharris4 opened #11258 "ref set to null on every render"
**Do you want to request a *feature* or report a *bug*?**

Possible bug

**What is the current behavior?**

ref callbacks are always passed `null` once before subsequently being passed the reference

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net

[2017-10-17 21:36] gaearon commented on #11258
It is expected.
Please see https://github.com/facebook/react/issues/9328.

Also: https://reactjs.org/docs/refs-and-the-dom.html#caveats

<img width="773" alt="screen shot 2017-10-17 at 10 36 09 pm" src="https://user-images.githubusercontent.com/810438/31690764-98084542-b38b-11e7-9918-1cc06b1f01e4.png">

[2017-10-17 21:36] #11258 closed

[2017-10-17 23:15] jharris4 commented on #11258
Ahh! Thanks @gaearon , I figured this must have been somewhat by design.

It makes sense too. It's similar to how PureComponent works with inline functions.

I assumed this was specific to React 16 since this issue only manifested itself in `react-bootstrap` after the upgrade.

Thanks for the link to the previous issue and the caveats. Super helpful!

[2017-10-17 23:57] bgnx opened #11263 "New way to bind event handler function"
Currently there is no way to use event handlers in functional components without performance degradation e.g - unnecessary function recreations through .bind or arrow functions
[code]
In this case on each render a new handler will be created, and also react will need to perform some bookkeeping - remove previous handler from dom element and add new handler (ok, with event delegation system react w

[2017-10-18 02:08] apravink commented on #11257
Thanks for that!. That was really helpful!

The solution I am thinking involves parsing the package.json file for each of the packages and comparing the files/directories that are copied over to this parsed array.

Am I on the right track?

[2017-10-18 09:42] gaearon commented on #11257
Sounds about right.

[2017-10-18 10:39] jeditobe commented on #10849
Just a fresh example of confusion

https://twitter.com/jnsdrtlf/status/920369019412209664

[2017-10-18 11:05] rosskhanas opened #11265 "No way to set SVG transform-origin attribute?"
There is no `transformOrigin` in a list of supported SVG attributes actually, but it is(`transform-origin`) supported in DOM.

**Current behavior?**

Attribute `transformOrigin` is ignored and a warning is shown in a console that the property is not not supported.

https://jsfiddle.net/4L9sksjx/

It is possible to set `transform-origin` but there is another error that the attribute is not valid of

[2017-10-18 12:21] gaearon commented on #11265
I don’t see another error. Setting just `transform-origin` works for me (in Chrome):

[code]

https://jsfiddle.net/m8d8uwon/

However, it doesn’t seem like `transform-origin` is a valid SVG attribute in the first place. I can’t find it in the specification: https://svgwg.org/svg2-draft/attindex.html. It isn’t in MDN either: https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute.

This probably

[2017-10-18 12:59] #8497 closed

[2017-10-18 13:54] #11236 closed

[2017-10-18 14:29] zdila opened #11268 "ReactDOM.hydrate falsely warns about text content mismatch"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

[code]

Hydration of `<Test />` to serverside rendered `<Test />` produces following warning:

[code]

**What is the expected behavior?**

No warning.

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

* react@16.0.0
* react

[2017-10-18 14:44] gaearon commented on #11268
This was fixed in master. Duplicate of https://github.com/facebook/react/issues/10598.

[2017-10-18 14:44] #11268 closed

[2017-10-18 15:01] zakbutcher commented on #11197
@eddiemonge Thank you for discovering this.  I had a similar issue and removing the global react package allowed my tests to run.  For reference, here's the issue I saw:

![image](https://user-images.githubusercontent.com/13371541/31725958-9f9392b8-b3f3-11e7-84b1-186d0bcddf6a.png)

[2017-10-18 16:01] tyler-reitz commented on #11197
@NaveenDK I ran into the same issue as you:

`react-test-renderer`'s latest dist-tag is version 16.0.0 but requires a peer-dependency of `react@^16.0.0-beta.5`.

![screen shot 2017-10-18 at 8 47 54 am](https://user-images.githubusercontent.com/8248045/31728463-3d5978c2-b3e1-11e7-970e-8d49e28d0a55.png)

I was on `react@^15.6.2` and kept running into the `ReactCurrentOwner` issue, but it looks like

[2017-10-18 16:33] skingston91 commented on #11248
React 16 is now back into production for us and performance has greatly improved, thanks for the great work on it!

[2017-10-18 17:37] variousauthors commented on #9559
I'm new to this and might not know what I'm talking about, but...

[code]

Suppose that the `Weather` component has some state which is set internally using `setState`, and which changes on a timer (maybe it re-queries the weather for the given date periodically). What would be the actual behaviour?

My expectation is:
 - Widget's render method is only called when `this.props.date` changes, when f

[2017-10-18 18:16] gaearon commented on #11248
Glad to hear that!

[2017-10-18 18:17] gaearon commented on #11197
The peer dependency was wrong—please disregard it and install `16.0.0`.

[2017-10-18 18:40] jjjjw commented on #10441
I ran into this problem when using webpack, code splitting, and webpack dev server (similar to a CDN setup).

In my setup the initial bundle is loaded with a script tag, and other bundles are then loaded via JSONp by webpack. With the `crossorigin` attribute added to the script tag for the initial bundle errors can be handled, but only if they are thrown by code in the initial bundle.

To handle e

[2017-10-18 19:43] ben-burlingham commented on #10320
Just for the record, I had this error from an Enzyme 3.0 adapter using a React 16 adapter, when my React version was 15.  Changing adapters solved the issue.

[2017-10-18 20:45] vchyzhevskyi opened #11271 "dangerouslySetInnerHTML not working in IE"
Hello,

Today I have spotted the bug(?) in IE10/IE11: while setting the inner HTML on any element (`<p>`, `<div>`, `<span>`) using `dangerouslySetInnerHTML` property the browser will raise an error `Argument not optional`.

I use this with SSR, but the actual HTML received from the server is good, so probably there's a problem with `ReactDOM.hydrate` func.

Some code:

[code]

where `label` is som

[2017-10-18 20:59] nhunzaker commented on #11271
Hey! This was fixed in https://github.com/facebook/react/pull/10921 and is a known issue. A fix should be out in the next release.

However thank you for the great write up!

[2017-10-18 20:59] #11271 closed

[2017-10-18 22:35] tysonwilliams opened #11274 "Redirect https://reactjs.org/docs/ to first doc page"
**Do you want to request a *feature* or report a *bug*?**
Bug/broken link in "Thinking in React" section of docs, line 182

**What is the current behavior?**
Broken link. Sends user to "Page Not Found".

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle

[2017-10-18 22:37] gaearon commented on #11274
Edited the title for potential actionable issue.

[2017-10-18 22:37] gaearon commented on #11274
Oh wait, that's wrong repo.

[2017-10-18 22:37] #11274 closed

[2017-10-18 22:38] gaearon commented on #11274
Filed https://github.com/reactjs/reactjs.org/issues/180.

[2017-10-18 22:45] abcd-ca commented on #6698
I tried using Flow in React 15 with create-react-app and flow type errors didn't show up in the create-react-app console, nor did they place nice with standard eslint so I had to abandon it. If we can that last bit of integration working for Flow, it'd be very nice to use.

[2017-10-18 23:23] gaearon opened #11275 "Yarn Workspaces Follow-up"
## Should Do Soon

- [x] Having a package called `react-native` is weird.

  Maybe we can just rename it to `react-native-renderer` to clarify the difference.

- [x] Better strategy for shared code?

  Currently we just pile code into `shared` without particular structure, and then import directly through Haste. This is the same as we do in master though, so it’s at least no worse. We might want t

[2017-10-19 03:44] liukefu2050 opened #11277 "The latest version of react deleted content, such as'prop-types', can be provided to allow users to decide whether to delete or contain these contents"
For example, when react releases a new version, it may require two new versions, one containing deleted content, and the other not included

https://github.com/facebook/prop-types/issues/128
https://github.com/facebook/react-native/issues/16442

[2017-10-19 03:55] ljharb commented on #11277
The separate `prop-types` package is the way that React has chosen to do this; React.PropTypes was deprecated in v15.5, I think, and `prop-types` works back to 0.13.

[2017-10-19 04:08] bdwain opened #11278 "React Test Renderer's Peer dependency keeps getting bumped"
I noticed that react-test-renderer's peer dependency for React gets bumped with every version update (or at least that's what happens in version 15.  v16 is still 16.0.0). Is this required? Could the peer dependency for version 16 not stay at ^16.0.0 even after the versions of each package get bumped to say 16.1?

I ask because this makes it hard for libraries to pull in react-test-renderer so tha

[2017-10-19 04:28] liukefu2050 commented on #11277
It's better to have a very good version of compatibility, and it includes newest functionality. I know, maybe it's not easy.Let the user decide which one to use.

[2017-10-19 04:39] liukefu2050 commented on #11277
Because any dependency has not been updated, I have to use the old version of react, and of course, react-native can't use the latest version. It's very painful

[2017-10-19 06:56] milesj commented on #11277
You can run a codemod to convert the old pattern to the new one: https://github.com/reactjs/react-codemod/blob/master/transforms/React-PropTypes-to-prop-types.js

[2017-10-19 10:09] gaearon commented on #11277
Please run the codemod to convert your code. I hope the links above help.

[2017-10-19 10:09] #11277 closed

[2017-10-19 10:12] gaearon commented on #11278
cc @bvaughn

I would say I'd be fine with leaving it at `^16.0.0` until we *actually* do something that would require a bump. There are just two modules (AFAIK) that we access around public API now so maybe it’s not that hard to keep better compatibility from now on.

[2017-10-19 11:34] AnderssonChristian commented on #7094
@gaearon Question about the snippet you posted above: Is it really necessary to manually remove the event listener? If the listener is attached to the Node directly, won't it be removed automatically along with the Node itself upon Unmount?

I know this is very anti-pattern, but this got me curious... wouldn't the below snippet suffice?

[code]

[2017-10-19 14:03] gaearon opened #11280 "React Test Utils shouldn't bundle a copy of the reconciler"
The way it's currently set up is incorrect.
It's not downright broken but can blow up in our faces later.

Specifically it currently uses `ReactFiberTreeReflection` which brings in a copy of some parts of the reconciler. Such as `ReactInstanceMap`.

However it also depends on `ReactDOM` which has its own `ReactInstanceMap`. So, for example, `ReactFiberTreeReflection.isMounted()` would not give acc

[2017-10-19 14:10] tavurth commented on #6788
Found this from Google.

In my case it was because I was importing `A.js` from `B.js`, and `B.js` from `A.js`.

[2017-10-19 14:18] gaearon commented on #11280
OK, I get it now. `ReactInstanceMap` works because it's not a real Map and keeps things on the object itself 😭 . So that's why it sill works even though `TestUtils` directly uses `ReactInstanceMap`.

[2017-10-19 14:52] gaearon commented on #11280
Worked around by https://github.com/facebook/react/pull/11281.

[2017-10-19 14:52] #11280 closed

[2017-10-19 15:28] dakom commented on #11150
@gaearon - sorry for the delay!

I took a closer look at it - and I get the error only in dev mode, in production mode it's fine

Specifically, given `commitUpdate(instance, ...)` in the reconciler, if I attempt to modify `instance.foo.bar` I get the error. This does not happen if modifying `instance.foo` (i.e. if `foo` itself is a scalar)

[2017-10-19 15:30] dakom commented on #11073
I also forgot about this since now I'm focused on actually _using_ the renderer ;) but if you're still interested, here's your ping :)

[2017-10-19 15:32] gaearon opened #11283 "Jest watching mode seems to unexpectedly cache sources"
Probably some configuration issue after transitioning to Workspaces but I have to restart the watcher for it to see my changes sometimes.

[2017-10-19 15:42] bvaughn commented on #11278
Thanks for bringing this to our attention, @bdwain.

I agree with @gaearon that it's _probably_ okay to leave the peer dependency at `^16.0.0` unless we have made changes that require bumping it.

I worry this may cause a problem in the future though, since our tests and our release process don't step through past versions of peer deps to verify they still work (eg we test the latest test renderer

[2017-10-19 16:18] bdwain commented on #11278
I see. Does react test renderer rely on private apis from React? Because if it's only public api's then a non-major bump should be fine right?

[2017-10-19 16:29] gaearon commented on #11278
All renderers require on a few private APIs from the `react` package but their scope is very limited. If we add Flow types for those I think we can try to safely keep them compatible.

[2017-10-19 16:40] bvaughn opened #11285 "React release script follow-up"
- [x] Verify that it's safe to run `yarn build` only once (including extracting errors); see [this comment thread](https://github.com/facebook/react/pull/11260#discussion_r145565726) for more context. (PR #11291)
- [x] Decide on a mechanism to relax peer dependency constraints; see #11278 for more context. (PR #11292)

[2017-10-19 16:52] bdwain commented on #11278
Sweet! Thanks!

[2017-10-19 16:52] bvaughn commented on #10441
Hey @jjjjw. Thanks for the additional info!

Any chance you could point me to a minimal repro/setup of the setup you're describing? I'd like to better understand it so that I can update the cross-origin-errors page in the React docs.

[2017-10-19 18:17] Asllani opened #11287 "Add me!"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-10-19 18:19] sebmarkbage opened #11289 "Make invalid prop type warnings more specific if they are falsy"
This is a common pattern:

[code]

However if condition is `false`, `0` or `""` then this correctly warns.

You should have used `condition ? ... : undefined` instead.

We could suggest that more specifically in the warning.

The longer term alternative is to use the [proposed](https://github.com/tc39-transfer/proposal-nullish-coalescing) more concise `??` operator.

[2017-10-19 18:35] #11287 closed

[2017-10-19 19:13] jjjjw commented on #10441
@bvaughn

Sure, here is a simple demo project: https://github.com/jjjjw/crossorigin-webpack-demo

Worth noting that the case is when webpack dev server is used on a different port/domain than the web server.

Additionally, here is a first go at a doc addition: https://github.com/reactjs/reactjs.org/pull/187

[2017-10-19 19:23] gaearon commented on #11150
React doesn't limit anything you do with your instances. What error are you getting? Message, stack, etc. Can you provide a reproducing example?

[2017-10-19 20:10] clemmy opened #11290 "Branch on tag before doing type checking"
Follow up for https://github.com/facebook/react/pull/10783/files/ab1a58ec0675b34d6eb15854c4b573f2abebe489#r145577198

By checking for tags before we do type comparison branches, we can ensure we don't have possible bugs from this, as well as optimize type hints by having monomorphic functions.

[2017-10-19 20:24] NicBonetto commented on #11289
I would like to take this issue on :) Just need a little direction as to where to start.

[2017-10-19 20:33] dakom commented on #11150
Hmmm I thought maybe if I rebuild the react-reconciler package and install it that might be a fix... but now I'm getting `Noop reconciler is disabled` o_O

[2017-10-19 20:35] dakom commented on #11150
Ah... seems I'm working against an old version and the API changed ;)

[2017-10-19 20:46] gaearon commented on #11150
Yeah. Put your stuff into `mutation` object.

[2017-10-19 20:47] gaearon commented on #11150
Or, rather, some of it. Flow types in ReactFiberReconciler should help :-)

[2017-10-19 20:52] dakom commented on #11150
got it working again and can see the error... not sure what's most helpful - to create a new repo with a minimal setup or give you some debug info?

Object.isFrozen(instance.props) is true in dev mode, false in production mode

(props just happens to be the name of some object on the instance)

[2017-10-19 20:59] dakom commented on #11150
Ahhh... my mistake... I was just assigning the props that came into the createInstance directly, without copying it into a new empty object. Of course those props were frozen - as they should be :)

[2017-10-19 21:00] gaearon commented on #11289
Run the code above. See the emitted warning. Find it by message in the source. Then you can tweak the message to be more helpful. Does this help?

[2017-10-19 21:01] dakom commented on #11150
For the sake of clarity in case anyone else hits this issue - everything @gaearon said above is correct, React does _not_ freeze anything on the instance itself, rather it freezes the copy of props that are passed to the instance (or at least it does so in dev mode). This makes perfect sense because from that perspective, props are by definition immutable. That doesn't prevent you from making your

[2017-10-19 21:01] gaearon commented on #11150
Ah. That makes sense. Haven't thought about it. Yes, you shouldn't want to modify those.

[2017-10-19 21:03] StephanieYHe commented on #10181
We're experiencing this problem too, and it's affecting users on Firefox 54, 55 and 56. No repro as well but just wanted to note that this issue continues!

[2017-10-19 21:08] NicBonetto commented on #11289
Yes, thank you!

[2017-10-19 21:11] dakom commented on #11150
btw you're totally right, I don't need to keep them around (yet at least, hehe), The only reason I had it was to compare old to new which I can just do in prepareUpdate or commitUpdate :)

On that note - I'm using prepareUpdate+payload instead of just prepareUpdate (with {}) and commitUpdate... are there some guidelines as to which approach is better?

[2017-10-19 21:22] Sweater-Baron commented on #2956
I know this issue is old and closed, but I got here while googling how to do this, and thought I'd leave a note for posterity, since I found an easy way:

You can use React.Children.map to approximate filter if you just return nothing when the condition is false, and return the child when the condition is true:

[code]

[2017-10-19 21:50] gaearon commented on #11150
If you don't need to update in some case then you can optimize by skipping the signal.

[2017-10-19 21:51] MilllerTime commented on #6436
@bobvanderlinden Adding `touch-action: none` to your canvas style should work for you, it really shines for that use case. The [other possible values](https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action) are also worth knowing.

However as @piotr-cz pointed out, `touch-action` doesn't universally solve this passive events issue as a whole. I'm also running into the same issue of preventi

[2017-10-19 23:20] thymikee commented on #11283
Looks similar to this https://github.com/facebook/jest/issues/3705.

[2017-10-19 23:23] salehhamadeh opened #11293 "React spread operator is still in the official documentation"
Bug in documentation

**What is the current behavior?**
React's spread operator was removed in React 16, but it is still in the documentation https://reactjs.org/docs/jsx-in-depth.html#spread-attributes

**What is the expected behavior?**
A word of caution should be included that this does not include React 16+. Maybe also add other ways of spreading props.

**Which versions of React, and which br

[2017-10-20 00:08] gaearon commented on #11293
Spread operator is a language feature, it was not (and could not) be removed in React 16.

What are your referring to?

[2017-10-20 00:11] gaearon commented on #11283
I don't think I moved any files though.

[2017-10-20 00:11] gaearon commented on #11283
(When I bumped into this)

[2017-10-20 02:32] aweary commented on #11293
@salehhamadeh you may be thinking of `React.__spread` which was removed in https://github.com/facebook/react/pull/8942. As @gaearon pointed out, the spread operator is an [entirely different thing](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_operator). I hope that clears things up.

[2017-10-20 02:32] #11293 closed

[2017-10-20 05:47] yu-tian113 commented on #11257
Sorry, didn't mean to hijack the issue from @apravink, was just playing with a possible fix and pushed to my repo :).
Happy to discuss.

[2017-10-20 08:14] dakom commented on #11150
Am I correct in thinking that prepareUpdate might be a good place to deal with async props as well?

For example, let's say there's a component that loads some data from the net and then, only once that data is loaded, does something useful with it in render(). The way I'd solve this with React  would usually be to give that component local state and then `setState()` on load. Even if this is wrap

[2017-10-20 09:17] NeekSandhu commented on #10109
This is really a big trouble. I tried to get around it by attaching `onMouseEnter` to `li` tag wrapping the disabled `button`. Exhibited same behavior nonetheless 😞

[2017-10-20 10:13] gaearon commented on #11150
I don't recommend implementing things like this in a custom renderer (nor do I expect it to work well). Custom renderers are meant strictly for deciding how to *render things to platform primitives*, not for data loading and other concerns that are typically solved on application level. Renderers are too low level for that because they're completely unaware of components.

[2017-10-20 10:30] ngryman commented on #10713
The current implementation makes perfect sense conceptually and I understand the motivations behind this. But I wonder if the real world usage is coherent with the concept? 🤔

I'm pretty sure that most people use portals as *placeholders* and not *living containers*. They implicitly think that it will behave like `React.render`.

`ReactDOM.unstable_renderSubtreeIntoContainer` had this behavior bac

[2017-10-20 12:31] Alenkart commented on #11289
Hi, I am beginner too.

I think the warning is located in the line 5724 in the react-dom.development.js  file, correct me if I'm wrong.

[code]

[2017-10-20 14:45] NicBonetto commented on #11289
That specific file is in your local node_modules directory when you install react-dom via npm or yarn.

[2017-10-20 14:49] gaearon opened #11299 "Express more tests via public API"
This is a great contribution opportunity.
We need to rewrite more unit tests in terms of public API.

This means that they can only import npm entry points like `react`, `react-dom`, `react-dom/test-utils`, `react-test-renderer`, etc, but not internal modules like `SyntheticEvent` or `ReactDOMComponentTree`. The “bad” requires are already marked with a TODO in tests so you won’t miss them.

To hel

[2017-10-20 14:49] gaearon commented on #9955
Let's track rewriting tests via public API in https://github.com/facebook/react/issues/11299.

[2017-10-20 14:54] jeremenichelli commented on #11299
I can take a look at this over the weekend and see if I can tackle it in the short term.

[2017-10-20 14:56] gaearon commented on #11299
Great, thanks! If you pick any particular test, please comment with the filename in the thread so that someone else doesn’t start working on the same test.

[2017-10-20 14:56] silvestrijonathan commented on #11299
I am definitely very interested in contributing to this. I will look through this weekend and find an opportunity to refactor!

[2017-10-20 14:57] SadPandaBear commented on #11299
I am interested as well 👍

[2017-10-20 15:01] gaearon commented on #11299
I published a list of tests in the first post. Just let me know which ones you’d like to take and I’ll assign them to you.

[2017-10-20 15:02] SadPandaBear commented on #11299
`ReactDOMInput-test` is fine to me :)

[2017-10-20 15:14] gaearon commented on #11299
@SadPandaBear You got it!

[2017-10-20 15:14] reznord commented on #11299
I can take a look at `ReactErrorUtils-test`. 😄

[2017-10-20 15:14] silvestrijonathan commented on #11299
I will take a look at `setInnerHTML-test.js`

[2017-10-20 15:15] king0120 commented on #11299
I'll do `getEventCharCode-test.js`. 😀

[2017-10-20 15:17] mjw56 commented on #11299
I can work on `getEventKey-test.js`.

[2017-10-20 15:18] jeremenichelli commented on #11299
I can take `escapeTextContentForBrowser-test.js`.

[2017-10-20 15:25] Ethan-Arrowood commented on #11299
I'd like to give `ChangeEventPlugin-test.js` a shot :)

[2017-10-20 15:30] dleitee commented on #11299
I can take `SyntheticEvent-test.js`

[2017-10-20 15:30] accordeiro commented on #11299
I'd like to work on `EnterLeaveEventPlugin-test.js`

[2017-10-20 15:32] enapupe commented on #11299
I'd like to work on `ReactDOMEventListener-test.js`

[2017-10-20 15:33] danilowoz commented on #11299
I would like to give `BeforeInputEventPlugin-test.js`

[2017-10-20 15:34] aarboleda1 commented on #11299
I'd like to take SyntheticKeyboardEvent-test.js. Thanks 👍

[2017-10-20 15:35] email2vimalraj commented on #11299
Let me take `inputValueTracking-test.js`

[2017-10-20 15:36] morajabi commented on #11299
Lemme take `inputValueTracking-test.js`

[2017-10-20 15:36] douglasgimli commented on #11299
I'd like to work on `SyntheticWheelEvent-test.js`

[2017-10-20 15:37] morajabi commented on #11299
Let me take `SyntheticKeyboardEvent-test.js`

[2017-10-20 15:37] tranotheron commented on #11299
Can I take: ReactBrowserEventEmitter-test.js ?

[2017-10-20 15:37] morajabi commented on #11299
I'm taking `SelectEventPlugin-test.js`

[2017-10-20 15:38] GordyD commented on #11299
I'd like to work on ReactDOMComponentTree-test.js

[2017-10-20 15:42] gdevincenzi commented on #11299
I'd like to work on ReactTreeTraversal-test.js

[2017-10-20 15:42] jstejada commented on #11299
hi! 👋 I'd like to work on `ReactCoroutine-test.js`

[2017-10-20 15:43] smaniotto commented on #11299
I can take `SyntheticClipboardEvent-test.js`

[2017-10-20 15:43] douglasklein2 commented on #11299
I'd like to work on `validateDOMNesting-test.js`

[2017-10-20 15:46] aqumus commented on #11299
I could take EventPluginRegistry-test.js

[2017-10-20 15:48] AudyOdi commented on #11299
I'd like to try on `ReactDOMComponent-test.js`

[2017-10-20 15:49] andrevargas commented on #11299
Hello! I'd like to try on `quoteAttributeValueForBrowser-test.js`! :muscle:

[2017-10-20 15:53] #11278 closed

[2017-10-20 15:55] minerado commented on #11299
Hello! I'd like to try on `ReactDOMServerIntegration-test.js` !

[2017-10-20 15:56] #11285 closed

[2017-10-20 16:02] burnsbeaver commented on #11299
I'll do fallbackCompisitionState

[2017-10-20 16:02] dphurley commented on #11299
I'll take `ReactIncrementalPerf-test.js`

[2017-10-20 16:03] burnsbeaver commented on #11299
I'll do getNodeForCharacterOffset-test.js

[2017-10-20 16:03] gaearon commented on #11299
@burnsbeaver Which one is it, `FallbackCompisitionState-test` or `getNodeForCharacterOffset-test`? We'd like to start with one test per person.

[2017-10-20 16:04] burnsbeaver commented on #11299
getNodeForCharacter please. I deleted the other comment, sorry for the confusion!

[2017-10-20 16:15] gaearon commented on #11299
We still have `FallbackCompositionState-test.js` and `ReactFiberHostContext-test.js` free!

[2017-10-20 16:15] dms1lva commented on #11299
I'll take FallbackCompisitionState!

[2017-10-20 16:16] adsonpleal commented on #11299
I can try the ReactFiberHostContext-test.js

[2017-10-20 16:19] gaearon commented on #11299
Update: all tests are taken now. Subscribe to this issue! They might free up in the future if somebody doesn’t have the time to finish the work. We’ll comment if some test becomes available to try again.

[2017-10-20 16:22] gaearon commented on #11299
To all people who took the tests—thank you! I want to reiterate the solution is not always clear, and in some cases it might not even be possible to reasonably test the behavior without some changes to the React source itself. If you ever feel stuck, comment here, and we’ll try to figure out a plan.

[2017-10-20 16:23] gaearon commented on #11289
Yes. If you search the source code, though, you’ll find it here:

https://github.com/facebook/react/blob/master/packages/react-dom/src/shared/ReactDOMUnknownPropertyHook.js

[2017-10-20 16:33] gaearon commented on #11299
@adsonpleal Sorry to disappoint you—I just checked, and unfortunately we accidentally already fixed `ReactFiberHostContext-test`. I didn’t realize this at first, but that TODO is outdated. This is the only test I can see that is already fixed.

[2017-10-20 16:35] NicBonetto commented on #11289
#11300

[2017-10-20 17:24] salehhamadeh commented on #11293
I figured out what is happening. My code used JSXTransformer, which compiled the spread attribute to `React.__spread`. Thanks for helping me figure it out.

[2017-10-20 17:53] pomber commented on #10877
I published a [small Fiber-like reconciler](https://engineering.hexacta.com/didact-fiber-incremental-reconciliation-b2fe028dcaec) yesterday, maybe it helps someone to extract the core idea.

[2017-10-20 18:36] SadPandaBear commented on #11299
@gaearon Wow, refactoring `ReactDOMInput-test` is gonna take me some time but I hope I finish everything this weekend.

**I have a small doubt:**
Is it ok to repace all that behavior from the function `setUntrackedValue` which uses `inputValueTracking` to something like `ReactTestUtils.Simulate.?` ?

By the way you can check my commit [here](https://github.com/SadPandaBear/react/commit/5ec6f4e9a12

[2017-10-20 18:39] gaearon commented on #11299
For `inputValueTracking` @jquense should have the most context on how to do it best. But as long as you get it working, we can review and see if the approach works or not.

[2017-10-20 18:57] gaearon commented on #10877
I’ll close this issue because we track documentation in https://github.com/reactjs/reactjs.org now.
Feel free to re-file it there! cc @keyanzhang who also asked about this.

[2017-10-20 18:57] #10877 closed

[2017-10-20 19:19] robdodson commented on #7249
I think I've got most of the doc drafted. I'm reaching out to a couple people for feedback on the draft and should be to share next week :)

[2017-10-20 19:37] gaearon commented on #7249
Sweet, thanks!

[2017-10-20 20:01] gaearon commented on #11293
Oh I see. Yeah, JSXTransformer might have broken since then. But also note that it has been unsupported for about two years now. And you should not be using it in production (if you did)—instead, please compile JSX with Babel ahead of time.

[2017-10-20 21:34] jacobcarpenter opened #11306 "Add `code` property to `SyntheticKeyboardEvent`"
**Do you want to request a *feature* or report a *bug*?**

Improvement

**What is the current behavior?**

[`SyntheticKeyboardEvent`](https://github.com/facebook/react/blob/e779c39dfeb41ae8f6611dc4f9830d1b1ac64f9b/packages/react-dom/src/events/SyntheticKeyboardEvent.js) does not currently support the `code` property.

`code` ([MDN](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/cod

[2017-10-21 04:04] sebmarkbage commented on #7249
I'm getting increasingly skeptical of the properties model.

1) It's infeasible to only use properties in the current ecosystem it seems. So the other alternative is to feature test for a property and if it's not the there use the attribute. This basically prevents the DOM from adding any new properties on at least Node/Element/HTMLGenericElement. Possibly even more if sub-classing is enabled. Sin

[2017-10-21 12:54] leoselig opened #11310 "Example links in react-reconciler README are broken"
Reporting this since it says _"If these links break please file an issue and we’ll fix them. They intentionally link to the latest versions since the API is still evolving."_ and knowing the place of the most up-to-date examples would help me a lot.
The issue template does not really fit here but I'm trying to follow it anyway.

-------------

**Do you want to request a *feature* or report a *bug*

[2017-10-21 13:06] gaearon commented on #11310
The other ones are called just ReactDOM and ReactART. Please submit a PR.

[2017-10-21 14:13] #11310 closed

[2017-10-21 17:45] mcjazzyfunky opened #11313 "Adding support for component factories in "createElement" etc."
Problem:
Let's assume you are implementing a component suite providing some dozen superfancy ready-to-use components for React users.
However, you do not know whether the users of your library are preferring JSX or normal JavaScript.
In the non-JSX case, most users surely want to write:

[code]
instead of

[code]
So far, for non-JSX users, providing a component as a component factory seems to be t

[2017-10-21 17:55] thundernet8 opened #11314 "SSR result render in browser incorrectly"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

dangerouslySetInnerHTML render html string to real document well, if under a server side render environment, the return rendered html was right, but browser side will render and sanitize all html tags of content between `<pre><code>` and `</code></pre>`

for example, we have a html string:
[code]
we u

[2017-10-21 18:03] mjw56 commented on #11299
Just a heads up to anyone else, I had an older version of yarn installed (0.22) and was trying to run the tests locally and everything was breaking. Upgrading yarn to latest (1.2.1) fixed the issue and tests are running fine now.

[2017-10-21 18:59] gaearon commented on #11314
Can you provide a complete example? Since it tests server rendering, your example should also use server rendering.

[2017-10-21 19:01] rgbkrk opened #11315 "Remove warnings for Unsupported Style Properties"
Now that the safelist and blocklist are basically no more, React 16 seemingly allows you to write:

[code]

which renders the style properly, with warnings:

![screen shot 2017-10-21 at 11 58 53 am](https://user-images.githubusercontent.com/836375/31855029-43ebb93e-b657-11e7-9cc3-4b9295172727.png)

Perhaps we could remove the warnings? When writing pure React I'll use the `camelCased` names -- the

[2017-10-21 19:13] aweary commented on #11315
Hey @rgbkrk, even though the blacklist behavior is more lenient React still warns when using the non-canonical names for attributes it recognizes. For example, you _can_ use `class` instead of `className`, but you'll still get a warning because `className` is the canonical name of the attribute.

What you're seeing here is consistent with that; the camel-cased names are still canonical names for t

[2017-10-21 19:33] Ethan-Arrowood commented on #11299
@sadpandabear I have the same module in my test file so I'm going to check out your implementation soon

[2017-10-21 20:48] silvestrijonathan commented on #11299
@gaearon For the `setInnerHTML` tests, they feel like they are dependent upon the existence of `setInnerHTML` for the test suite to make sense.

I can write some tests to replace the existing functions, but then the test suite if more along the lines of setting inner html, vs. anything specific to `setInnerHTML`. Sound okay?

[2017-10-22 00:05] gaearon commented on #11299
@silvestrijonathan I think what those tests really are trying to verify is that `dangerouslySetInnerHTML` works as expected in React. So if you modify those tests to use ReactDOM and render the same content with `dangerouslySetInnerHTML`, that should be enough. It's fine to rename the test to `dangerouslySetInnerHTML-test` if you feel that would be more appropriate.

[2017-10-22 00:10] gaearon commented on #11315
I agree with @aweary’s answer. This behavior for style properties is indeed not new in 16.

We are trying to encourage consistency so that third party components don’t feel obligated to support all kinds of patterns at the same time. This is better for the ecosystem because people don’t have to argue about conventions. We feel that `camelCase` works best because at some point you’re doing to wrap

[2017-10-22 00:10] #11315 closed

[2017-10-22 00:24] gaearon commented on #11313
`React.createFactory` is not deprecated, but I think you’re not using it correctly.

We intentionally don’t want people to wrap components in factories *at definition time* (as you did) because it is unnecessary. This, and the set of problems we were solving, was described during the 0.12 release: https://gist.github.com/sebmarkbage/d7bce729f38730399d28.

You can, however, wrap things in factories

[2017-10-22 01:01] rgbkrk commented on #11315
This is perfect, thanks for the response. I'll guide people using the python bindings towards using the proper `camelCase` and let the `kabob-case` accidentally work by passing it through.

[2017-10-22 04:43] dakom opened #11319 "Strict ordering of commitUpdate()?"
How exactly is the order of `commitUpdate()` calls related to the structure of the tree? (_note: for this question I am only asking about `commitUpdate`, not `prepareUpdate`_)

For example, in the following:

- 1
  - 1_A
    - 1_A_a
    - 1_A_b
  - 1_B
    - 1_B_a
    - 1_B_b
- 2
  - 2_A
    - 2_A_a
    - 2_A_b
  - 2_B
    - 2_B_a
    - 2_B_b

There's several ways it could be rendered, if there is

[2017-10-22 07:42] thundernet8 commented on #11314
@gaearon
Hi, I found the point which result in this issue, if I import `draftjs-to-html` package or any module file who import this package, it will cause this even though it not be called. Sorry about this, and pls close this issue. Thanks.

[2017-10-22 08:55] DanielRuf opened #11321 "JSX alternative for namespaced tags/XML"
We are currently working with a template engine which uses namespaced XML tags but JSX does not support XML and namespaced tags.

Is there an actively maintained alternative or can someone point me to the right place for my question?

[2017-10-22 09:56] mcjazzyfunky commented on #11313
Thank you very much, Dan, for the information you gave.
I'm perfectly fine with mostly everything that is written there, but:

#### First:
If you have a component factory "factory" and accessing "factory.type" is allowed to retrieve the React custom component class then (of course) everything you can do with the React custom component class can also be done with "factory" (by using "factory.type")

[2017-10-22 10:00] Kroniac commented on #4418
React render only one element. You need enclose all the elements(if more than one) in a single tag. Like in case:
//opening div element
<div>
                   <div className="screen-width header__image"></div>
                  <div className="screen-width header__tint"></div>
                 <div className="page-width header__content">
                    <ul className="navigation header__cont

[2017-10-22 11:06] #11314 closed

[2017-10-22 11:07] gaearon commented on #11315
Is there a specific reason you don't want to make a helper for them to camelCase things?

[2017-10-22 12:09] IamManchanda opened #11322 "HTML5 Templates apart from JSX for Non Programmatic situations"
Just before I have my view, please take a look at these 2 examples

Hello World React => [App.jsx](https://git.io/vdNQb)
Hello World Vue => [App.vue](https://git.io/vdNQN)

Identical? Isn't it?
Yes these are two different **paradigm** but hey they are expressing same things and both are doing it in the same way by taking benefits of the Virtual DOM

My Feature Request is that,
Just like Vue suppor

[2017-10-22 12:21] IamManchanda commented on #11322
Moreover [separation of concerns](https://vuejs.org/v2/guide/single-file-components.html#What-About-Separation-of-Concerns) has been a big issue with JSX. Moreover, these days people have been going ahead and moving their [CSS within JSX](https://codeburst.io/css-in-js-is-like-replacing-a-broken-screwdriver-with-your-favorite-hammer-c9765c9ee43b) too which according to me is not good.

My Question

[2017-10-22 12:38] IamManchanda opened #11324 "[CLI] Webpack Templates through CLI for consistency in boilerplate and learning ease!"
Just like https://github.com/vuejs-templates/

[2017-10-22 12:46] blling commented on #11324
Do you mean [create-react-app](https://github.com/facebookincubator/create-react-app) ?

[2017-10-22 13:07] gaearon commented on #11324
Not sure what the issue is about, but you can indeed use Create React App which is officially supported.

[2017-10-22 13:07] #11324 closed

[2017-10-22 13:38] IamManchanda commented on #11324
I mean built-in webpack specific template(s)

This kind of a thing (Hope you are understanding?)
https://github.com/vuejs-templates/webpack/blob/develop/template/package.json
https://github.com/vuejs-templates/webpack/tree/develop/template/build

Some React examples:
https://scotch.io/tutorials/setup-a-react-environment-using-webpack-and-babel
https://github.com/StephenGrider/ReduxSimpleStarter

-

[2017-10-22 14:10] IamManchanda commented on #11322
I think that some kind of abstraction that behind the scenes converts

1. `<template>` to JSX render() function
2. `<style scoped>` to [Styled Components](http://cssinjs.org/styled-jss) on top of JSS

[2017-10-22 14:52] gaearon commented on #11324
CRA uses webpack under the hood. If you `eject` you'll get a typical webpack boilerplate, if that's what you want.

Does this make sense?

[2017-10-22 15:20] IamManchanda commented on #11324
@gaearon Nice just checked .... thankyou
Actually coming from Vue learning React so didn't knew about it!

That said, there is no such mention in the docs for same?
That need to change for sure. Does that make sense?

[2017-10-22 17:17] flaviolivolsi commented on #11306
I created the PR #11325 for this.

[2017-10-22 18:42] Pajn opened #11326 "Release a tool for statistical perf analysis (a replacement for ReactPerf)"
**Do you want to request a *feature* or report a *bug*?**
A feature

**What is the current behavior?**
N/A

**What is the expected behavior?**
It's great that React 16 integrates with the timeline in browsers dev tools and that is very helpful in cases where you are trying to fix the performance of a specific thing. However I do miss the perf tool from previous versions and could not find any issu

[2017-10-22 19:10] aweary commented on #11321
Hey @DanielRuf, the JSX specification technically does allow for namespaced tags. You can see there is a `JSXNamespacedName` identifier in the [JSX specification](https://github.com/facebook/jsx). The reason it doesn't work is because [the Babel plugin throws for `JSXNamespacedName`](https://github.com/babel/babel/blob/830c527bb7873b29f671a3568b21b4a6af98ceda/packages/babel-helper-builder-react-js

[2017-10-22 19:10] #11321 closed

[2017-10-22 19:12] aweary commented on #11321
[Here's an example using ASTExplorer](https://astexplorer.net/#/gist/233d07f305ee5d5de3759279a9e2c372/7db668d6702ca1a7c9ccfbfd7748145e1a754246) that shows that namespaced tags _are_ parsed by Babel.

[2017-10-22 19:17] DanielRuf commented on #11321
Hm, so there is no usable solution so far? Careless seems unmaintained and I did not find other solutions.

[2017-10-22 19:27] rgbkrk commented on #11315
I'm fine with making a helper, I was curious if it was ok to just leave it and let them pass it through. In our [mini-spec we state they need to use `camelCase`](https://github.com/nteract/vdom/blob/master/docs/spec.md#coding-style-and-syntax) and we link back to the React docs and blog.

[2017-10-22 20:46] enapupe commented on #11299
After a couple hours playing with my test file I have a strong suggestion for newcomers (like me): start your tests with a clean env (file).
I was editing the existing file and it mocked some internal functions so a few `ReactTestUtils` functions were broken!!  It took me awhile to realize why things weren't working as intended..

[2017-10-22 21:26] VladBlow opened #11328 "Get React to full Flow coverage"
After our dialog with @gaeron in [#11323](https://github.com/facebook/react/pull/11323) I want to update typings for all package React, but I think I need help by community.

[2017-10-22 21:27] VladBlow commented on #11328
- [ ]

[2017-10-22 21:38] VladBlow commented on #11328
I think I can start with small fixes in PR [#11329](https://github.com/facebook/react/pull/11329).

This is my first experience of contributed in React and I want to understand structure and approaches in development.

cc @gaearon

[2017-10-22 21:42] VladBlow commented on #11328
Maybe we can compose task list for files/function which need typings?

[2017-10-22 22:16] sebmarkbage opened #11330 "Consider Publishing External requestIdleCallback Polyfill"
We require a high fidelity requestIdleCallback polyfill and pretty much all of them out there are not. We can always fallback to our internal fallback but that still means that others have to ship their own, which isn't cooperating with ours. (Even at FB we have two.)

Our built-in one is not yet implementing the `timeout` option but since we want to start using it, we probably should.

This can b

[2017-10-22 23:02] sebmarkbage commented on #11299
@gaearon I think we need to clarify that `ReactTestUtils`, including simulating events, should be considered a private API. That indirectly reaches into internal APIs so it doesn't let us properly test how it would work otherwise. E.g. it'll hamper our ability to test compiled packages without exposing those hooks and it won't let us test a new non-synthetic event system.

[2017-10-22 23:21] sebmarkbage commented on #11319
Yes. This is a pretty important guarantee.

Example 1 is closest but we do siblings first->last instead of last->first, I think.

The correct order should be:

[1_A_a] [1_A_b] [1_A] [1_B_a] [1_B_b] [1_B] [1] [2_A_a] [etc.]

However, the best authoritative answer is to just test it yourself and see what happens since these things change in subtle ways sometimes. :)

[2017-10-22 23:21] #11319 closed

[2017-10-23 00:03] gaearon commented on #11328
We have a script called `facts-tracker` that counts the number of files with Flow coverage and pushes it to the `facts` branch. Perhaps you could modify it to list those files instead? Then we could make a dashboard that reads them from GitHub API and shows a list of remaining files. Kinda like we did with isfiberreadyyet.com.

[2017-10-23 03:59] zeegeek commented on #6809
I face that the onDoubleClick event doesn't work in IOS device it works well in android but in Iphone it doesn't work, I have also added cursor:'pointer' but still no luck. What could be the issue here

[2017-10-23 04:14] Ethan-Arrowood commented on #11299
@jquense @gaearon my file heavily relies on the inputValueTracking script. How should I adjust the file to no longer use this?

[2017-10-23 06:17] john1jan opened #11334 "componentDidCatch is not getting called when there is an error in promise"
As per the new react 16 release [doc](https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html)  it says

"**React 16 prints all errors that occurred during rendering to the console in development, even if the application accidentally swallows them.**"

I have a Parent component and a Child component. I have triggered an error in **then** block of promise. But it will call catch method

[2017-10-23 08:32] VladBlow commented on #11328
I think I can watch tonight

[2017-10-23 08:52] amertak commented on #10441
I am experiencing the same issue. Webpack is running on different domain than the whole application. It is being wired together using the nginx.
The only way to see the error for me is to start chrome with --disable-web-security flag
I actually have no idea if its even possible to fix it.

[2017-10-23 09:09] u007 opened #11335 "iframe content getting initial document differs from actual result"
**Do you want to request a *feature* or report a *bug*?**
bug / not sure if its react / browser
**What is the current behavior?**
i made a static iframe that display a url, and then run some script on the iframe from parent window.

it works fine for second / after refresh of entire page.
but for every 1st time load
[code]
but body innerhtml differs from
[code]

the innerhtml supposed is the corre

[2017-10-23 09:47] SamyPesse opened #11336 "Hydration breaks the HTML (class)"
We've updated an application to React 16, this app is using [`react-responsive`](https://github.com/contra/react-responsive).

Since we've updated to React 16, we have bugs related to invalid HTML being outputted by React hydration.

Our server generates an HTML for the desktop, but if the client has a mobile, the rendering mismatch. Previously it was causing a full re-render by `ReactDOM.render`,

[2017-10-23 10:34] gaearon commented on #11336
This is not a correct understanding. With React 16 **it is not supported** to render different things on secret and the client for performance reasons. You need to fix the cases where markup differs.

React 16 *does* patch up in some cases (such as text content) but it will not attempt to patch up attributes. Text content is an exception here because it is often different from the server due to, f

[2017-10-23 10:34] #11336 closed

[2017-10-23 10:38] gaearon commented on #11336
Note that if you're okay with an extra re-render and really need to render something different on the client, you can use this approach: https://github.com/facebook/react/issues/8017#issuecomment-256351955. Render what's on the server first and then `setState` in components that need to show something different. Hope this helps!

[2017-10-23 10:49] gaearon commented on #11315
This is a misunderstanding. Just because we pass those attributes through doesn't mean they are guaranteed work correctly. When you use the wrong casing, React will just pass it through and not apply any special behavior it might have for an attribute (or property). So the behavior can be visibly different with less cross-browser normalization.

[2017-10-23 12:40] SamyPesse commented on #11336
Thanks 🍻  the new behaviour of React 16 makes sense!

I was confused by the [documentation](https://reactjs.org/docs/react-dom.html#hydrate):

I guess it'll be fixed by https://github.com/reactjs/reactjs.org/issues/25 :)

Maybe the warning in the console can be improved, currently it logs something like `Warning: Expected server HTML to contain a matching <svg> in <div>.`, it could be an error log

[2017-10-23 12:59] gaearon commented on #11336
We'll track better docs in https://github.com/reactjs/reactjs.org/issues/25 and better warnings in https://github.com/facebook/react/issues/10085.

[2017-10-23 13:14] gaearon commented on #11336
https://github.com/reactjs/reactjs.org/pull/200

[2017-10-23 13:15] gaearon commented on #11335
Why do you think this is a bug in React? Have you tried doing the same with vanilla DOM APIs?

[2017-10-23 13:20] gaearon commented on #11334
As it says:

What you're showing is an error in a Promise callback. You happened to fire the thing that called it from `componentDidMount`, but the error doesn't technically happen *inside* `componentDidMount` so error boundaries won't catch it.

Error boundaries are a mechanism to prevent React from getting into an inconsistent state when **it doesn't know what to render due to an error**. This i

[2017-10-23 13:20] #11334 closed

[2017-10-23 13:24] gaearon commented on #11326
For exclusive and inclusive tables it might make sense to build something on top of Performance Observer API exposed by the browsers. This uses the high precision timings that we emit via our integration with User Timing API.

In fact @wwwillchen already created a proof of concept a while ago: https://github.com/facebook/react-devtools/issues/801. It would be great if someone could take it, polish

[2017-10-23 14:09] Tom910 commented on #11330
I wrote the implementation of the launch of the async actions in the browser, which is based on the requestAnimationFrame. Has support for priorities and frames break for 16ms. May be useful =) https://github.com/Tom910/frame-scheduling

[2017-10-23 14:25] jstejada commented on #11299
@dphurley, I noticed you're working on `ReactIncrementalPerf-test`. I was also working on a test suite that used `ReactCoroutine`, so I wanted to give you a heads up about this PR: #11338.
I'm not sure if you've already submitted a PR, but if you haven't, then it might be a good idea to base it off of #11338 (if it's accepted).

[2017-10-23 15:34] silvestrijonathan commented on #11299
@gaearon Thanks for your advice. I thought about utilizing `React-DOM` with `dangerouslySetInnerHTML` for the tests, so I will go about it that way!

[2017-10-23 15:35] Maniae opened #11342 "Support onEnd SVG event"
Hi,
I'm trying to use the \<animateTransform\> Element in a React project. But I'm not able to use the "onend" attribute:

Is there a workaround for this ?

[2017-10-23 15:54] gaearon commented on #11342
The support for custom attributes doesn’t include events. Event still have to be whitelisted in React.

I’m not sure if we can or should implement this event in React, but you can try to work around it by using DOM APIs:

[code]

Does this help?

[2017-10-23 15:56] fytriht commented on #10240
@gaearon Could you elaborate on it? Why is it prefer to use `PureComponent` if the tree is deep and what's the benifits of using functoinal component instead of `PureComponent`? Thanks!

[2017-10-23 15:57] aweary commented on #11342
It looks like [`SVGAnimationElement.onend`](https://developer.mozilla.org/en-US/docs/Web/API/SVGAnimationElement/onend) is part of the SVG Animations Level 2 specification, which is currently only an Editor's Draft. This means it's not currently part of the official W3C specification process yet. Browser support is also unclear.

I think whitelisted events should either be part of an official spec

[2017-10-23 15:59] gaearon commented on #11342
Fair.

[2017-10-23 15:59] #11342 closed

[2017-10-23 16:25] sebmarkbage commented on #10923
As a work around you can set dangerouslySetInnerHTML to something else on the client. Like blank content or a space. We won't try to manipulate the tree of a dangerouslySetInnerHTML node on the client. Even if it is wrong. That will still trigger a warning but 16.1 will have a way to suppress it.

[2017-10-23 16:42] staylor commented on #10923
@sebmarkbage hacky as it may be, we will definitely try it, thanks!

[2017-10-23 18:18] #11254 closed

[2017-10-23 18:39] dakom commented on #11319
@sebmarkbage just a heads up, from a super quick rough test the order you described is exactly right :)

Is there a specific name for this I can lookup when searching?

[2017-10-23 21:01] effulgentsia commented on #7249
According to https://html.spec.whatwg.org/multipage/custom-elements.html#custom-elements-core-concepts, customized built-in elements should not add new attribute names other than `data-*` ones. Does this cover the sub-classing concern, or is there some other form of sub-classing that we're concerned about?

This does seem like a potential problem though. Also, at any moment in time, there may be b

[2017-10-23 21:47] effulgentsia commented on #7249
I agree that it wouldn't be idiomatic if it were specified in the JSX via any sort of subdivision of props into sub-objects. (e.g., this.props.attributes, this.props.properties, etc.).

But what about providing an API for application code to inform `ReactDOM` about the semantics of the custom element? E.g.,
`ReactDOM.defineCustomElementPropertyConfig(elementName, propertyConfig)`
where `propertyCo

[2017-10-23 22:07] worawit15379 commented on #7249
Koy85747@gmail.com

[2017-10-23 22:12] VladBlow commented on #11328
I looked, but it seems I could not figure out what I need to change.
Maybe can someone help me? I would really like to understand.

[2017-10-23 23:33] ssyrell commented on #8379
I ran into this when adding `babel-polyfill` to our react-redux app that was made using the asp.net core 2 template. This template splits up your webpack config into two separate configuration files (`webpack.config.js` and `webpack.config.vendor.js`). You need to modify the `vendor` array in `webpack.config.vendor.js` and put `babel-polyfill` at the top in order to get this to work.

I also had t

[2017-10-23 23:46] jdrzejb opened #11344 "Unexpected rerenders while in production enviroment"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
React is making unexpected rerenders when used along `react-router-dom` and `react-css-modules`. This happens only while in production enviroment.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

https://github.com/jdr

[2017-10-24 03:36] worawit15379 opened #11345 "https://github.com/facebook/react/issues/#11299#off"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-10-24 05:28] robdodson opened #11347 "RFC: Plan for custom element attributes/properties in React 17"
This is meant to address #7249. The doc outlines the pros and cons of various approaches React could use to handle attributes and properties on custom elements.

- [Background](#background)
- [Proposals](#proposals)
  * [Option 1: Only set properties](#option-1--only-set-properties)
    + [Pros](#pros)
      - [Easy to understand/implement](#easy-to-understand-implement)
      - [Avoids conflict w

[2017-10-24 05:33] robdodson commented on #11347
Apologies for the long read, but I wanted to make sure I was thoroughly exploring each option. I don't want to bias things too much with my own opinion, but if I were in a position to choose, I think I'd go with option 3.

Option 3 is backwards compatible, declarative, and explicit. There’s no need to maintain a fallback heuristic, and other libraries already provide similar sigils/modifiers.

[2017-10-24 07:59] worawit15379 commented on #11347
ดาวน์โหลด Outlook for Android<https://aka.ms/ghei36>

จาก: Rob Dodson
ส่งแล้ว: วันอังคาร 24 ตุลาคม 12:35
ชื่อเรื่อง: Re: [facebook/react] RFC: Plan for custom element attributes/properties in React 17 (#11347)
ถึง: facebook/react
สำเนาถึง: Subscribed

Apologies for the long read, but I wanted to make sure I was thoroughly exploring each option. I don't want to bias things too much with my own opin

[2017-10-24 08:29] #11345 closed

[2017-10-24 08:30] gaearon commented on #11328
What have you tried?

[2017-10-24 09:03] VladBlow commented on #11328
I don't understand what I should do in this file.

[2017-10-24 11:01] u007 commented on #11335
hi sorry, i think i might have confused with the body content

[2017-10-24 11:01] #11335 closed

[2017-10-24 11:13] gaearon commented on #11328
We have a script here:

https://github.com/facebook/react/blob/f6c60dcbcd11c756e16b1f0e50c18ca4dc2e3953/scripts/circleci/track_stats.sh#L7

It greps for how many files with `@flow` we have and calls a script that writes that to the `facts` branch:

https://github.com/facebook/react/blob/facts/flow-files.txt

I'm proposing that maybe we change it to keep a list of files with Flow instead. What do y

[2017-10-24 12:25] VladBlow commented on #11328
Instead of number of files it output the list of files? I understand correctly?

[2017-10-24 12:35] gaearon opened #11348 "Invariants that don't have error codes yet are missing in production builds"
See my comment in https://github.com/facebook/react/pull/11291#issuecomment-338974574.
I verified https://github.com/facebook/react/pull/11291 introduced this regression.

[2017-10-24 13:09] gaearon commented on #11328
That's what I thought we could do, yes.

[2017-10-24 13:41] jeremenichelli commented on #11347
I'm between option 2 and option 3, I think that React has handled behavior and API changes very well in the past. Introducting warnings and links to docs might serve well to help developers understand what's happening under the hood.

Option 3 looks attractive because of its declarative nature, while reading JSX code new coming developers will know immediately what React will do when rendering the

[2017-10-24 14:10] gaearon commented on #11344
Any way you can isolate it further without third party dependencies?

[2017-10-24 14:54] gaearon commented on #11348
I think I have a fix in https://github.com/facebook/react/pull/11350.

[2017-10-24 15:15] DaveVanRijn commented on #11344
We also experience this bug, but in development mode. We render some HTML in an array with unique keys on each array entry. Removing the keys and rendering everything with a div around it (so remove the whole array) seems to fix it, which might suggest there is something wrong with the way react works with the keys.

[2017-10-24 15:36] cjorasch commented on #11347
### Comments on option 2

Do consumers of a custom element need to understand this distinction?  Or is that only important to the author of the custom element?  It seems like the author of the element will need to handle attributes for anything used in HTML (since that is the only way data gets passed from HTML usage) and properties if they want to support complex values or property get/set from D

[2017-10-24 15:44] robdodson commented on #7249
I posted an RFC to discuss the pros and cons of a few different options over at https://github.com/facebook/react/issues/11347

[2017-10-24 15:54] gaearon commented on #11344
This is unfortunately very vague and won’t help diagnose the problem.

[2017-10-24 16:04] robdodson commented on #11347
I doubt it's actually a huge issue because, as you pointed out, the element author should define an attribute and property for the underlying value and accept data from both. I would also add that they should keep the attribute and property in sync (so setting one sets the other).

I agree but I'm not sure if this is something React needs to try to work around in their library. It feels like a pro

[2017-10-24 16:11] #11348 closed

[2017-10-24 16:47] wKovacs64 opened #11353 "Error boundary stack traces show components as Unknown in IE11"
**Do you want to request a *feature* or report a *bug*?**

Bug? Unless I missed something required for IE11 support.

**What is the current behavior?**

Error boundary component stack traces show `Unknown` for every component name in IE11:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or sim

[2017-10-24 17:15] jeremenichelli commented on #11347
That's not something React should worry as Rob said in my opinion, it's the custom element author's responsability to inform the user how the element works.

And it's actually the way that we need to do it today, for example think about the `<video>` element, let's say you need to mute it or change the current time inside a component.

`muted` works as a boolean attribute

``jsx
render() {
  retur

[2017-10-24 17:43] effulgentsia commented on #11347
If we were designing this from scratch, without needing to consider backwards compatibility, I think option 1 would be the most idiomatic per React’s ["JavaScript-centric API to the DOM"](https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html#why-are-we-changing-this).

With regard to server-side rendering, could that problem be solved by providing an API for application code to infor

[2017-10-24 17:53] cjorasch commented on #11347
Maybe I don't understand the upgrade process.  Elements would typically have properties defined as getters/setters in the class prototype.  Checking `propName in element` would return true because of the existence of the getter/setter even if the property value was still undefined.  During upgrade do property values get set on some temporary instance and then later get copied to the actual instanc

[2017-10-24 17:55] effulgentsia commented on #11347
Upgrading is the process by which the custom element receives its class. Prior to that, it's not an instance of that class, so the property getters/setters aren't available.

[2017-10-24 18:16] robdodson commented on #11347
@jeremenichelli

just checked and it also has a corresponding property though it doesn't seem to be documented on MDN :P

Yeah occasionally you'll encounter properties-only APIs on modern HTML elements. `currentTime` updates at a high frequency so it wouldn't make sense to reflect it to an HTML attribute.

Yep there's unfortunately no one-size-fits-all attributes/properties rule. But I think gener

[2017-10-24 18:27] jeremenichelli commented on #11347
@robdodson yeap, I knew about the muted property too 😄 I just used these two to prove that already _in the wild_ there isn't a one-size-fits-all rule as you mentioned.

We will have to rely on documentation on both native and custom elements, so it's something I wouldn't mind for this decision.

While writing the last code snippet I kinda liked the property binding though 💟

[2017-10-24 18:28] robdodson commented on #11347
@effulgentsia

I think this is already the case today though. Since the major custom element libraries (polymer, skate, possibly others?) automatically create backing properties for all exposed attributes, developers could just use the sigil for every property on a custom element. It would probably be a rare occurrence for them to need to switch to using an attribute.

@cjorasch

RE: upgrade. As @

[2017-10-24 18:41] lzcabrera opened #11354 "<svg> with linearGradient produces server side rendering warning"
This is a report for a bug of a server side rendering warning when using svgs in React 16

**What is the current behavior?**
We get the following warning when using an svg tag with a linearGradient attribute in one of our components:

`Warning: Expected server HTML to contain a matching <linearGradient> in <defs>.`

Since this is a server side warning, we have reproduced the warning on this repo w

[2017-10-24 18:52] gaearon commented on #11354
Thanks for the report! This was fixed in https://github.com/facebook/react/pull/11174 but not released yet. Watch out for the next release!

[2017-10-24 18:52] #11354 closed

[2017-10-24 19:05] effulgentsia commented on #11347
If developers started doing that, then how would that differentiate using a property because you "can" from using a property because you "must"? And isn't that a differentiation that's needed for server-side rendering?

[2017-10-24 19:44] robdodson commented on #11347
Sorry, maybe I phrased that wrong. I meant that developers would likely use the sigil because it would give the most consistent result. You can use it to pass primitive data or rich data like objects and arrays and it'll always work. I think working with properties at runtime is generally preferred to working with attributes since attributes tend to be used more for initial configuration.

It migh

[2017-10-24 20:15] DaveVanRijn commented on #11344
I understand it is not possible to reproduce with my description, the hard thing is that it only happens at one specific location in our code. We use a lot of array constructions in our code which all work fine, but suddenly this one location started to break everything.

A standard CRA application also doesn't show any errors while using keys. I'll try to see if I can find/make a reproducing case

[2017-10-24 20:42] gaearon commented on #11344
Any chance you're using some Babel plugins? Like "inline elements" transform. Try disabling them if you are.

[2017-10-24 21:45] effulgentsia commented on #11347
I don't think that would work if the reason for the sigil is that it's a property that doesn't exist as an attribute, such as video's [currentTime](#issuecomment-339064822).

I think this differentiation is important, because there's entirely different reasons for choosing to use an attribute or property as an optimization (e.g., SSR preferring attributes vs. client-side rendering preferring prope

[2017-10-25 00:22] effulgentsia commented on #11347
Sorry for the excessive comments, but I thought of another benefit to my proposal above that I'd like to share:

Those `ReactDOM.defineCustomElementProp()` calls could be provided in a JS file maintained by the custom element author (in the same repository as where the custom element is maintained/distributed). It wouldn't be needed for custom elements with a strict 1:1 correspondence of property/

[2017-10-25 01:42] EzioKissshot commented on #10739
broken in v16 too Orz

[2017-10-25 04:51] awreccan commented on #6410
Hi folks 🙂  any progress on this?

Similar to what @jquense mentioned, in IE10/11, `blurEvent.relatedTarget` is `null`. (Microsoft is tracking - and not fixing this so far! - [here](https://connect.microsoft.com/IE/feedback/details/814285/focus-and-blur-events-should-have-relatedtarget) and [here](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/101237/).) `focusOutEvent.relate

[2017-10-25 07:38] LeeCheneler commented on #11347
Option 3 would be my preferred but that's a huge breaking change... What about the inverse? Attributes have a prefix not props?

[2017-10-25 08:36] Zaynex opened #11357 "[Bug?] onMouseEvent doesn't exsit in canvas"
I want to report a bug.
[code]

When I use onMouseMove event in canvas, I can't get the MouseEvent, But just get Proxy
![image](https://user-images.githubusercontent.com/13745971/31988510-f4ea0540-b9a1-11e7-947e-d9a1b7454a3f.png)

So I have to use addEventListener get the MouseEvent
![image](https://user-images.githubusercontent.com/13745971/31988639-5e25d7f0-b9a2-11e7-9bed-0949e10b066d.png)

Here

[2017-10-25 10:26] drcmda commented on #11347
Sigils in React, i don't know how i feel about it. JSX should be regarded as universal, not overly reliant or dependent on browser specifics, especially not on troublesome implementations that force developers to distinguish between data attributes passed through.

As a react developer, if i ever have to rely on a web component, i'd be glad if the semantics are hidden away from React and JSX as we

[2017-10-25 11:13] Crischr opened #11358 "'npm' is not recognized as an internal or external command"
**Do you want to request a *feature* or report a *bug*?**
It's not a bug, but a installation issue because it's my first time to use React.

**What is the current behavior?**
When I create an app refered to the guide, 'npm' is not recognized as an internal or external. I added node to Enviornment Variables (user variables and system variables)
![image](https://user-images.githubusercontent.com/125

[2017-10-25 12:08] gaearon commented on #11358
Can you run "npm" in your terminal?

[2017-10-25 12:17] gaearon commented on #6336
👋
https://github.com/facebook/react/pull/11303

[2017-10-25 12:17] #6336 closed

[2017-10-25 13:40] gaearon commented on #11357
The proxy you get in development *is* the mouse event. It's a proxy so that we can warn you about accessing fields in an unsupported way, but technically it's the event object you need. All the same fields should work on it.

[2017-10-25 13:40] #11357 closed

[2017-10-25 15:33] robdodson commented on #11347
@LeeCheneler

Why would it be a breaking change? The current behavior of attributes being the default would remain. The sigil would be opt-in and developers would use it to replace the spots in their code where they currently use a `ref` to pass a data to a custom element as a JS property.

@drcmda

Can you clarify what you meant by this?

[2017-10-25 15:55] robdodson commented on #11347
FYI for anyone following the discussion, I've updated the RFC with a 5th option suggested by members of the React team.

[2017-10-25 16:34] drcmda commented on #11347
@robdodson

I was referring to this:

Cons
It may be a breaking change

[2017-10-25 17:01] gaearon commented on #11347
Option 5 seems safest for us. It lets us add the feature without having to make a decision about “implicit” API right now since the ecosystem is still in the “figuring it out” phase. We can always revisit it in a few years.

My impression is that custom element users in React will eventually want to wrap some custom elements into React components anyway for app-specific behavior/customizations. It

[2017-10-25 17:40] effulgentsia commented on #11347
Building from [my earlier comment](#issuecomment-339142476), how about:

[code]

The logic would then be, for each React prop on an XFoo instance:

1. If the `eventName` for that prop is not null, register it as an event handler that invokes the prop value (assumed to be a function).
2. Else if rendering client-side and `propertyName` is not null, set the element property to the prop value.
3. Els

[2017-10-25 17:54] effulgentsia commented on #11347
Alternatively, maybe it makes sense to keep events in a separate namespace, in which case, remove everything having to do with `eventName` from the last comment, and instead let events be registered as:

[code]

[2017-10-25 18:12] robdodson commented on #11347
@gaearon @effulgentsia what do y'all think of a combination of option 1 and option 5?

Option 1 would make it easier for the casual user of a custom element to pass rich data. I'm imagining the scenario where I'm building an app and I just want to use a couple of custom elements. I already know how they work and I'm not so invested that I want to write a config for them.

Option 5 would be for fol

[2017-10-25 18:13] gaearon opened #11363 "Fix coverage reporting"
For some reason coverall says it's 0% on master, pointing to this commit: https://github.com/facebook/react/commit/96ed55ff800631b32618c65867f30f7fa6b30ed5.

This makes no sense to me. Probably a bug either in our reporting or on their side.

For now I removed the badge in README.

[2017-10-25 18:14] robdodson commented on #11347
For SSR of option 1 the heuristic could be always use an attribute if rendering on the server. A camelCase property gets converted to a dash-case attribute. That seems to be a pretty common pattern across web component libraries.

[2017-10-25 18:32] effulgentsia commented on #11347
I like the idea of an option1 + option5 combination a lot. Meaning that for most custom elements:

[code]

would work as expected: prop1 set as a property client-side and as a (dash-cased) attribute server-side.

And people could switch to option5 for anything for which the above doesn't suit them.

It would be a breaking change though from the way React 16 works. For anyone who experiences that b

[2017-10-25 18:37] gaearon commented on #11358
I'll close because it's definitely an issue with your setup, and not with CRA itself. If it can't run `npm` in your shell then there's a problem with how PATH is configured on your system. We are not Node experts and can't help you with this, but you should be able to use Node and npm support forums to resolve this.

[2017-10-25 18:37] #11358 closed

[2017-10-25 19:14] LeeCheneler commented on #11347
Ah, this is what I get for reading this quickly on the train @robdodson 🤦‍♂️ ... Not really a fan of option 3 now 🤔  I read it as an all in on props being prefixed, hence my hesitation.

Option 5 seems reasonable and straightforward.

I like where @effulgentsia is heading. Is there a reason it couldn't be:
[code]
Or is supporting multiple types on a single prop valuable?

I'd be hesitant with this

[2017-10-25 20:22] effulgentsia commented on #11347
@LeeCheneler:

Quoting from the issue summary's Option 1 pros:

So that's the reason why assigning both propertyName and attributeName is sensible: because it reflects what is actually the case for elements that follow best practice. And by making React aware of that, it allows React to decide which to use based on situation: such as using properties for client-side rendering and attributes for se

[2017-10-25 21:33] effulgentsia commented on #11347
Here's a thought for a less verbose version of [my earlier suggestion](#issuecomment-339411386):

[code]

And per the code comment above, I strongly urge not requiring every reflected property to be defined, but rather default anything that isn't defined as automatically being a reflected property whose attribute name is the dash-cased version.

[2017-10-25 22:12] LeeCheneler commented on #11347
Makes sense @effulgentsia 👍

I like your second example but is it not open to combinatorial explosion if more types gets added, ala events + whatever might make sense?
[code]
Although I suppose you wouldn't want to mix an event with a prop or attribute anyway 🤔  Attribute &  prop are probably the only things you'd want to mimic.

[2017-10-25 23:26] treshugart commented on #11347
I think there is an opportunity here for both the React and Web Component community to align on a best practice. React having an opinion here will go a long way in custom element authors being guided in the right direction due to its widespread adoption and weight that its opinions carry.

Although I've authored an implementation of option 4, I'm *always* caught up by having to separate attributes

[2017-10-26 03:25] john1jan commented on #11334
Thanks, @gaearon for explaining. But the doc is little confusing. It would be great if you can give an example of how an application can accidentally swallow an error.

In the https://jsfiddle.net/t37cutyk/, I dont think the child component is swallowing the error.

[2017-10-26 04:00] hjylewis commented on #5465
I agree with @benmmurphy that @istarkov's solution is effectively the same as using `isMounted()` since it doesn't solve the garbage collection problem.

@benmmurphy's solution is closer but nulls out the wrong variables so the promise handlers are not dereferenced.

The key is passing a function up through the closure that deferences the handlers:

[code]

Further explanation about why this solut

[2017-10-26 09:46] gaearon commented on #11334
I am referring to this block:

[code]

If you leave the `catch()` clause empty and not log the error (effectively swallowing it), React will still report it as unhandled to the browser, and pass it to the error boundary. Even though you "caught" it. This is intentionally because people have been accidentally swallowing errors like this for years, and we got a few dozens different issues about this

[2017-10-26 11:13] artin-phares opened #11366 "Add a way to opt out of User Timing API calls"
**Do you want to request a *feature* or report a *bug*?**

bug or v16 feature (dont know)

**What is the current behavior?**

When building in dev environment, performance timeline measures appear by default,
ie. without `?react_perf` query string as in v15 described [here](https://reactjs.org/docs/optimizing-performance.html#profiling-components-with-the-chrome-performance-tab)

`react@16.0.0`

i

[2017-10-26 11:18] gaearon commented on #11366
Yes, it’s intentional (docs haven't been updated yet).
Ideally I wish the browser vendors offered a way to group and filter them. (cc @samccone)

We don’t have a way to opt out yet, but I’m open to adding it. What is your proposed way to do it?

[2017-10-26 11:26] artin-phares commented on #11366
I guess it would be the best option.

Didn't like query string way very much. Nor some global var looks good.

Maybe something like this?
[code]

[2017-10-26 12:17] theREALdebater commented on #1940
In a React v16 component, I defined componentWillReceiveProps inside which I always called setState (on an object with several members, including other objects). This seems to have caused a runaway loop of re-renders, because when I added code to make the call to setState conditional the loop was no longer observed. I thought calling setState in componentWillReceiveProps (and also componentWillMou

[2017-10-26 12:25] TimvdLippe commented on #11347
This would tie the custom element implementation to library-specific implementation (in this case React). In my opinion that is too high of a burden on custom elements authors. Moreover, for authors that do not use React, convincing them to ship the definition gets into politics discussions that no one wants.

Defining the invocation of such an API by the user of a custom element with only the pro

[2017-10-26 13:37] kreba opened #11369 "React should recognize the `valueAsDate` property on DOM elements"
The `valueAsDate` property on the ES6 definition of `HTMLInputElement` is not yet recognized by React. It should be, though.

The `valueAsDate` property relieves the pain of having to deal with both browsers that support HTML5 date inputs and those who don't; the former require the `value` property to be of the form `"YYYY-MM-DD"` and the latter require a nicely formatted date (e.g. `"MM/DD/YYYY"`

[2017-10-26 13:47] robberfree opened #11370 "Can not get the right e.nativeEvent.currentTarget when use html5 drag api"
1. my component looks like:
[code]
2. when drag some element that set draggable="true" on the component, i will get console message as below:
<img width="1377" alt="2017-10-26 21 40 59" src="https://user-images.githubusercontent.com/15938895/32056190-9c112d76-ba29-11e7-8c32-c1031ac555c5.png">
3. i do not add listener of DND operation to doc/body.i tried to find what's the problem.
please help have

[2017-10-26 14:14] gaearon commented on #11370
This is intentional. React listens to events at the document level for better performance.

[2017-10-26 14:14] #11370 closed

[2017-10-26 15:14] gaearon opened #11373 "React.Children support for portals"
I don't think they're currently checked against. We should probably treat them same as elements.

[2017-10-26 15:56] QuantumInformation commented on #2239
What is the preferred way to do it today?

[2017-10-26 16:59] #11175 closed

[2017-10-26 17:37] maecapozzi commented on #9038
@Hendeca, it looks like your PR has been approved.

[2017-10-26 17:40] MatteoVH commented on #11373
Looking into taking this issue as a first source-code-touching PR, but I'm not sure if it's too much to take at once. If someone who knows what they're doing wants to takeover, please let me know so I can look for something else to work on 😄

[2017-10-26 17:47] ccorcos opened #11377 "Separate renderToString and renderToNodeStream"
Currently, its not possible to run renderToString on the client because ReactDOMServer imports the Node.js fs package. It would be nice if we could still support renderToString on the client.

[2017-10-26 17:53] ianstormtaylor commented on #11211
Any word from any maintainers about this? Just curious what the opinion is. Thanks!

[2017-10-26 17:59] ccorcos commented on #11377
Just discovered server.browser.js!

[2017-10-26 17:59] #11377 closed

[2017-10-26 19:28] artin-phares commented on #11366
FYI, I've started [discussion](https://groups.google.com/forum/#!topic/google-chrome-developer-tools/vQgmqUEQME0/discussion) on timeline filtering feature for chrome

[2017-10-26 20:17] gaearon commented on #11373
See my comment in https://github.com/facebook/react/pull/11378#issuecomment-339788246. Curious if this is a breaking change.

[2017-10-26 20:20] gaearon commented on #11299
We’ve got first merged PR!

Take a look at it: https://github.com/facebook/react/pull/11309

If you're working on anything related to events, I suggest you to read both the discussions in https://github.com/facebook/react/pull/11309 and reviews in:

https://github.com/facebook/react/pull/11316
https://github.com/facebook/react/pull/11317
https://github.com/facebook/react/pull/11327
https://github.

[2017-10-26 20:32] sophiebits commented on #11347
Even if a library author does not use React, I am arguing it is a better UX for the client of those web components to define the property configuration once and then use it.

The first time you use a web component that needs a property, it is just as hard as adding a sigil (more verbose, but also more explicit) but then it is easier for subsequent uses because you don't need to think about it for

[2017-10-26 21:12] gaearon commented on #11377
When you import `react-dom/server` in a client app your bundler should automatically use `react-dom/server.browser` instead. Because of a field in our `package.json`. I remember verifying this worked with webpack and browserify. Did you bump into some case where this doesn't happen?

[2017-10-26 22:46] tobiasandersen opened #11379 "onDrop breaks onSelect event"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After an `onDrop` event has fired inside an "editable" element (input, textarea, contentEditable), the `onSelect` event on that element will no longer fire when changing selection using the keyboard.

As you can see in this gif below, the onSelect event gets called each time I move the cursor around (u

[2017-10-26 22:59] robdodson commented on #11347
@treshugart without getting too deep into bikeshedding, do you think you could show how you'd expect the "escape hatch" to work? Pseudo code is fine. Just so we're all on the same page.

[2017-10-26 23:14] robdodson commented on #11347
Sorry @sophiebits just now seeing your reply. I'd like to respond to a few of the points after reading through it a few more times but wanted to quickly respond to this one:

Any component built with Polymer or Skate will expose everything via properties. There might be a few rare outliers (maybe setting an attribute just for styling or something) but otherwise I think things are always backed by

[2017-10-26 23:35] sophiebits commented on #11347
Maybe then the best approach is to do properties always on the client side and then support an Option 5–style configuration map of primitive property names to attribute names for people who want to support SSR in their apps.

[2017-10-26 23:47] gaearon commented on #1940
@theREALdebater This doesn't sound related to this issue, and no, `setState` in `componentWillReceiveProps` shouldn't trigger extra re-renders. Can you please file a new issue about this, with an example reproducing it?

[2017-10-26 23:51] gaearon opened #11381 "Show a better warning when accidentally returning from constructor"
Based on a conversation with @vjeux:

We can fix this to show a different message if `type` has `.prototype.isReactComponent` but `constructor()` gave us something without a `render` method.

[2017-10-27 00:17] M-ZubairAhmed commented on #11381
hi I would like to work on it. Could you please point me to specific direction. I would really appreciate it.

[2017-10-27 00:33] gaearon commented on #11381
I think the relevant code is in ReactFiberClassComponent. I would suggest adding a test first (e.g. try to reproduce the existing warning), then try to make changes for a better warning. Does this help?

[2017-10-27 01:02] effulgentsia commented on #11347
@sophiebits: I think that's a great idea, except to the extent that it's a breaking change for people who've written their React apps using attribute names. For example:

[code]

But what about a rule for "do properties" if the propname doesn't have dashes and "do attributes" if it does?

@robdodson: are you aware of any custom element frameworks or practices out there where people would have diff

[2017-10-27 02:51] robberfree commented on #11370
Thank you very much.i miss this point.

[2017-10-27 02:52] treshugart commented on #11347
@effulgentsia I can only speak for Skate, but we only recommend using the attribute API if writing HTML, which can also be classified as server rendering. If you're doing anything via JS, you should be setting props. Our `props` API automatically does a one-way sync / deserialisation from attributes, and derives the attribute name by dash-casing the property name (camelCase becomes camel-case, etc

[2017-10-27 03:31] aaesis commented on #5071
@mnpenner

hi can you look into my code?

`{ isEmpty(myOrder.data.orders) && myOrder.isFetching
                ? <tr className="no-border-bottom">
                    <td colSpan="7" className="text-center no-border-bottom">
                      <div className="loader-exchange">Loading</div>
                    </td>
                  </tr>
                : isEmpty(myOrder.data.orders)

[2017-10-27 03:41] lightbringer1991 opened #11382 "Chain dependency causes warnings with create-react-class"
**Do you want to request a *feature* or report a *bug*?**
Potential bug

**What is the current behavior?**
Render react app produces warning in development mode:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React

[2017-10-27 03:48] silvestrijonathan commented on #11299
Great convos to reference-thanks!

Work got a little busy, but I think I'll be able to get a PR opened up this weekend for my tests.

[2017-10-27 05:14] robdodson commented on #11347
@sophiebits

I think this may be unavoidable given the way attributes work in the platform. If you SSR a custom element, and therefore must write to an attribute, you also run the risk that the platform will ship a similarly named attribute in the future. As @treshugart [mentioned before](https://github.com/facebook/react/issues/11347#issuecomment-339504323), I don't think it's something React (or

[2017-10-27 05:22] robdodson commented on #11347
btw, thank you all for continuing to participate in the discussion, I know it's gotten quite long ❤️

[2017-10-27 06:37] grapewheel opened #11384 "Please simplify the component event binding"
request a *feature*

[code]
Can it be more simple? like this...

[code]

[2017-10-27 08:23] parrker commented on #11384
Why don't you use the arrow function? In your case, it will look like this and do exactly what you are asking:

[code]

[2017-10-27 09:45] gaearon commented on #11384
The proposed way is to do the same thing TypeScript does:

[code]

I don’t know what you mean by “strange and not humanly” but this is already consistent with what other languages do, and also similar to how arrow functions work in JavaScript.

This syntax is currently a stage 3 proposal which means it has a decent chance of becoming a part of JavaScript.

There is a Babel plugin for it, and it is

[2017-10-27 09:45] #11384 closed

[2017-10-27 10:04] gaearon commented on #11382
This is a duplicate of https://github.com/facebook/react/issues/9999. We'd be happy to take a fix for it.

[2017-10-27 10:04] #11382 closed

[2017-10-27 10:10] honeylady commented on #11384
On Fri, Oct 27, 2017 at 4:18 PM Dan Abramov <notifications@github.com>
wrote:

--
iOS11.0.2

[2017-10-27 14:08] gaearon commented on #11347
Not sure I understand the last example in https://github.com/facebook/react/issues/11347#issuecomment-339858314 but it’s highly unlikely we’d provide a global overridable hook like this.

[2017-10-27 15:36] kib357 opened #11387 "createPortal: support option to stop propagation of events in React tree"
**Do you want to request a *feature* or report a *bug*?**
Feature, but also a bug cause new API breaks old `unstable_rendersubtreeintocontainer`

**What is the current behavior?**
We cannot stop all events propagation from portal to its React tree ancestors. Our layers mechanism with modals/popovers completely broken. For example, we have a dropdown button. When we click on it, click opens popover

[2017-10-27 15:47] kib357 commented on #11387
Also, propagation of mouseOver/Leave looks completely unexpected.
![image](https://user-images.githubusercontent.com/347668/32112901-43f72342-bb47-11e7-8f2f-0e1b2e7e1646.png)

[2017-10-27 16:26] gaearon commented on #11387
Can you move portal outside of the button?

e.g.

[code]

Then it won't bubble through the button.

[2017-10-27 17:58] developit commented on #11347
@gaearon I think Trey was just showing the net change as a monkey-patch, presumably it'd be written into the ReactDOM implementation itself.

[2017-10-27 18:00] lukeapage commented on #10826
This is a problem for us too.
The only work-around I can think of is to cache the dom and restore it after unmount and hope it doesn't flicker, which is pretty horrible.

[2017-10-27 18:47] effulgentsia commented on #11347
Based on the recent comments, what do you all think of this proposal?

1. For BC, don't change anything about how lowercase custom elements work in React. In other words, JSX like `<x-foo ... />` would continue to work the same way in React 17 as in 16. Or, if _minor_ bug fixes are wanted for it, open a separate issue to discuss those.

2. Add a config-less API to create a React component with bet

[2017-10-27 21:33] treshugart commented on #11347
@developit @gaearon it could be either. If a "mapping" was necessary, I think a hook is more sustainable. However, that was also intended to show the net change if it were to be implemented in ReactDOM's core, as Jason pointed out.

[2017-10-27 23:48] jaytrovare commented on #10826
Having the same issue, and the only solution i've found is to not use createPortal :(

[2017-10-27 23:52] jquense commented on #10826
Hey y'all. I don't think the old behavior was actually supported, even if it sort of worked most of the time. The subtree component may have stayed rendered but it would be in an orphaned state, and likely to break if any update occurred on it, because the assumption was that the subtree is always actually parented. I've personally run into bugs where I've had the parent component unmount and then

[2017-10-28 00:41] kib357 commented on #11387
It was my first thought, but!) Imagine, that we have mouseEnter handler in such component container:

![image](https://user-images.githubusercontent.com/347668/32129253-ced34e14-bb8d-11e7-82f1-f9f857fa50e6.png)

With `unstable_rendersubtreeintocontainer` i need nothing to do with events in `ButtonWithPopover` component – mouseEnter simply works when mouse really enters `div` and button DOM element

[2017-10-28 01:27] robdodson commented on #11347
Personally I'd prefer to be able to use my `<x-foo>` element, as is, and easily pass it properties without first needing to wrap it.

If possible I'd rather go with @sohpiebits' [suggestion](https://github.com/facebook/react/issues/11347#issuecomment-339830484) of option 1 (client-side properties) and 5 (config for SSR). I'm still holding out hope that maybe folks will reconsider option2 (maybe op

[2017-10-28 10:15] parisk commented on #8249
Seems like I am bringing something back from the dead 😅.

@gaearon any idea how can I disable class transforming in Babel, when I am using only the `react` preset?

### `.babelrc`

[code]

Thanks for your time.

[2017-10-28 11:35] lukeapage commented on #10826
The best work-around I can think of is to do a `ReactDOM.render` in a asap to escape the react lifecycle stack trace.. then you have control over when the element is unmounted. we'll also need some magic to copy the context through, but I can't think of any other disadvantages?

How would the api for this look like? Would this be too inflexible?

[code]

[2017-10-28 12:43] gaearon commented on #8249
If you only use the React preset Babel won't transform classes. Unless there's some other Babel config (in parent directories or e.g. webpack options).

[2017-10-28 13:54] cristidrg opened #11392 "Calling setState inside a requestAnimationFrame loop causes a leak"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If a component implements a `requestAnimationFrame` loop and calls `setState` inside it, it will endlessly create listeners on the page as shown in the picture below:
   https://i.imgur.com/6MN5JQc.png   (Chrome Developer Tools)

While I understand that React 16 uses rAF for its reconciliation algorith

[2017-10-28 14:09] gaearon commented on #11392
React 16 doesn't use rAF. (At least not 16.0.0)

[2017-10-28 15:59] gaearon commented on #3877
The easiest way to completely disable this is to do something like

[code]

in your webpack config. This will disable both the warning and the DevTools integration.

If you don't use webpack, there are equivalents: `envify` in Browserify and `replace` plugin for Rollup. All of them can do simple string replacement like this. If you don't use a bundler at all, and consume React from a single file,

[2017-10-28 15:59] #3877 closed

[2017-10-28 18:32] JamesTheHacker opened #11393 "[Feature] Assign multiple JSX attributes with the same value"
I would like to propose a feature. I'm going to keep this real simple. Often times I do this ...

[code]

But I'd like to do this ...

[code]

This is similar to multiple variable assignment in JavaScript: `let a=b=c=1`

Good idea? Bad idea?

[2017-10-28 18:47] gaearon commented on #11393
You can do this:

[code]

That solves it quite nicely, is explicit, and doesn’t require changes to JSX.

[2017-10-28 18:47] #11393 closed

[2017-10-28 19:31] deanbrophy commented on #11381
Hey, @M-ZubairAhmed, I thought this was a good starting bug and went ahead with the fix as an exercise for myself. If you don't ultimately take this bug, let me know so I can create a pull request.

[2017-10-28 19:49] gaearon commented on #11381
@M-ZubairAhmed Have you been able to look at it yet?

[2017-10-28 21:38] velociwabbit opened #11394 "Occams software"
I am a reasonably familiar React coder that was looking for a simple template for a image oriented app.  I downloaded and reviewed/hacked/played with many of the examples in this section.  While most are useful I did notice something that I felt was worth mentioning.

Perhaps I am alone but I find that many files are  confusing when trying to figure out how code works.  Perhaps it is the hangover

[2017-10-28 21:52] gaearon commented on #11394
Did you look at examples sprinkled throughout https://reactjs.org (the Docs section)? They're all fairly small. Even though technically they're hosted and not "files".

[2017-10-28 22:36] velociwabbit commented on #11394
Yes I have viewed these before and they are fine for beginners and some of the code is useful to grab but unless i am missing something there are only four of five of them.  I have built several material.ui apps with redux and redux forms  and have written my own distilled subset of these which I use for many components.  MUI, however  is not react native compatible and there does not appear to be

[2017-10-28 22:53] gaearon commented on #11394
Have you tried to use Create React App? It handles all the build dependencies for you so you don't need to think about configuring or setting them up.

[2017-10-28 23:50] xjlim commented on #11363
@gaearon This is fixed with #11372

[2017-10-28 23:56] M-ZubairAhmed commented on #11381
@deanbrophy yes even I have started working on it but since I am a beginner is taking time for me to complete. But I think it's not wise for me to hold it up, you are welcome to continue.
@gaearon I will keep looking out the space for more issues in future

[2017-10-29 00:17] deanbrophy commented on #11381
@M-ZubairAhmed Thanks! The next "good first issue" is yours.

[2017-10-29 00:24] #11363 closed

[2017-10-29 00:24] gaearon commented on #11363
Yep. Thanks for reminding.

[2017-10-29 00:48] velociwabbit commented on #11394
Yes I have both used it and deconstructed it to understand exactly what it does. It is a great piece of software.   It was not a good fit for my last app but it was a great start.

For my last app I used koa as a server and was doing telemetry for 1k sensors or more so the app was three facing... Web for viewing 3d and 2d data, Sensors for telemetry acquisition  and  database for both admin and ar

[2017-10-29 01:02] velociwabbit commented on #11394
I was just thinking that as much as I thought create-react-app is a great piece of software it is also a good example of the problem.  For a newbie it is hard to figure out exactly where the entry point into one's software exists because it is hidden in a node-module directory that is not part of the user's code.

I would bet that if c-r-a made it more explicit about how it instantiates itself by

[2017-10-29 03:47] Kovensky commented on #11353
IE11 does not support `Function#name`, so all your functions (and thus components) are unnamed unless you either set `displayName` or polyfill it with a getter in `Function.prototype`. `core-js` provides such a polyfill.

[2017-10-29 04:34] wKovacs64 commented on #11353
Ah, sure enough - polyfilling did the trick. Thanks @Kovensky! 👍

I wonder if this should be added to the [JavaScript Environment Requirements](https://github.com/reactjs/reactjs.org/blob/master/content/docs/reference-javascript-environment-requirements.md) section of the docs with the other polyfills? Or the [Error Boundaries](https://github.com/reactjs/reactjs.org/blob/master/content/docs/error-

[2017-10-29 13:00] gaearon commented on #11353
Please file a new issue in https://github.com/reactjs/reactjs.org/ about documenting. Thanks!

[2017-10-29 13:00] #11353 closed

[2017-10-29 13:10] gaearon commented on #11394
Another way to look at it is to think about compiled languages. Do you need to understand how C compiler works to write C? Would you expect that complete source code of the C compiler is explicitly written into every C project? No, you just call it as a command line utility. That's abstraction. If you think of CRA the same way it starts to make more sense, I think.

[2017-10-29 15:05] adityos2003 commented on #11146
hi, sory my post is bad, but i have ask in there no respon, because the source take from orb react with folder demo, do you help me ?

[2017-10-29 15:25] cristidrg commented on #11392
Good to know !

However it still seems like in 16.0.0 it creates listeners on the page when calling setState from a rAF loop, while in the prior versions it didn't. The chrome profiler does not let me see where are these listeners  attached unfortunately.

I have tried testing on other browsers also, but they don't list the total number of listeners on the page.

[2017-10-29 16:04] jaredtmartin commented on #6991
I agree this should be documented.  I'm creating an array of elements with React.createElement and wasn't sure how to specify a key.  If it wasn't for this question, I wouldn't have an answer. This should be in the documentation.

Also, what *would* happen fi we did pass both children prop and also children as the third argument? Which would take priority? What would the result be? Would it throw

[2017-10-29 16:48] mjomble commented on #10384
Is there currently a way to prevent dispatching the error event twice in a case as simple as this?

[code]

Because the error is thrown in a click handler rather than `render()`, error boundaries don't seem to help.

PS. Not sure if this belongs here or a on different issue or if I should open a new one.

[2017-10-29 16:56] gaearon commented on #10384
Does an approach like https://github.com/facebook/react/issues/10474#issuecomment-322909303 help?

[2017-10-29 17:03] mjomble commented on #10384
Probably. Something like this works as well:

[code]

But I considered that a temporary hack, hoping that a more elegant solution is (or will be) available :)

[2017-10-29 17:10] gaearon commented on #11392
If I run it long enough I do see them getting GC’d eventually:

<img width="690" alt="screen shot 2017-10-29 at 17 05 06" src="https://user-images.githubusercontent.com/810438/32146196-7cdb924e-bccb-11e7-98be-ce1e920fc81a.png">

You can also see it doesn’t happen in production mode at all:

https://jsfiddle.net/toqmgh30/

<img width="692" alt="screen shot 2017-10-29 at 17 07 24" src="https://user-

[2017-10-29 17:12] gaearon commented on #10384
Why is this important for you? The duplication only happens in development mode. And presumably error logging etc should only happen in production.

[2017-10-29 17:18] mjomble commented on #10384
Ah, good point, I forgot that this wouldn't be an issue in production mode.

In that case it's just more of a minor annoyance.
My app displays errors caught in the global handler, so while developing the error display feature, they always show up twice, unless I hack the duplicates away.

[2017-10-29 19:43] velociwabbit commented on #11394
To be sure... Just to be clear I am a big believer in React so please do
not take this as a denigration but instead a profound desire to help
improve it.

The C language issue is a great example because (as it turns out)  I have
been struggling today to use  some of the gl-react repositories and keep
running into problems like "winsock3.h missing".

Obviously this is not a react issue but it is il

[2017-10-30 02:23] email2vimalraj commented on #11299
I'm yet to look into the test that I've picked up. Got busy with other things. I'll try raising a PR in another couple of days, can I buy some time?

[2017-10-30 02:31] john1jan commented on #11334
Thanks again @gaearon. I have removed catch block as you said. And even I have removed error boundary from Parent component. Even though the child components **throws** that error without swallowing it and does not render. So when the whole component is not rendered there is a possibility that developer will notice this at the time of development or testing.

Just correct me if I am wrong. I think

[2017-10-30 03:25] kentcdodds opened #11396 "A function that is also an iterable is treated inconsistently"
**Do you want to request a *feature* or report a *bug*?**
*bug* (I think)

**What is the current behavior?**
Here's a [codesandbox](https://codesandbox.io/s/0ml3roomr0). Or just plop this in an `index.html`:

[code]

**What is the expected behavior?**

I expect that things will render the same regardless of whether they're an only child or a member of an array of children.

**Which versions of Rea

[2017-10-30 04:32] davidnguyen179 commented on #11197
Make sure react-test-renderer version is the same with react version

[2017-10-30 06:22] donysukardi opened #11397 "Mismatch node type when hydrating SVG from SSR"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

Getting the following error while trying to hydrate SSR content.
`Expected server HTML to contain a matching <linearGradient> in <defs>.`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or simi

[2017-10-30 08:14] fwchen commented on #4676
丢不丢人？

[2017-10-30 08:25] giorgim opened #11398 "Elements and Components"
In this code:

[code]

is `MyCustomReactComponentClass` a react element or react component?

I am asking because here: https://discuss.reactjs.org/t/does-render-create-new-instance-of-component-each-time/7400, I was told on each render the same instance of `MyCustomReactComponentClass` is used. If that is the case, and: (1) `MyCustomReactComponentClass` is react element and (2) given that accordin

[2017-10-30 08:36] amannn commented on #11398
In your case `MyCustomReactComponentClass` is a component, whereas `<MyCustomReactComponentClass  />` is an element. When an element of a stateful component gets rendered, an instance is created for it. This instance will be preserved across renders, whereas new elements are created for every render.

Here's a good blog post about this that goes into more detail: https://reactjs.org/blog/2015/12/1

[2017-10-30 09:01] amannn commented on #11398
The element is never mutable. E.g. consider this code:

[code]

This will throw with `Uncaught TypeError: Cannot assign to read only property 'children' of object '#<Object>'`.

Note that this is the same for user defined custom components (stateful or not).

On the other hand the properties of an instance will be mutated over time (by React – not the user).

[2017-10-30 09:12] giorgim commented on #11398
[code]

Would above example not classify as mutating **the same instance** of `MyCustomReactComponentClass` on each second, by passing different someProp to it?

[2017-10-30 10:03] Sazid-Kazi opened #11399 "What should I do or follow If I want to go with microservice architecture for building a large scale website where I am planning to use Laravel, react js and MySQL initially? Beside this, which type of rendering will be best for me (CSR or SSR) and how to implement all the things prooperly?"

[2017-10-30 10:44] amannn commented on #11398
Well yes, the properties of the _instance_ are mutated (by React). There's no mutation of an _element_ however, there's rather a new one created on every render.

The terminology is a bit tricky here, the linked article from above maybe helps a bit.

[2017-10-30 11:06] giorgim commented on #11398
@amannn Yeah I think it is terminology thing, will give more thought about it later.

[2017-10-30 11:18] blling commented on #11398
No render, no new instances.

[2017-10-30 11:18] gaearon commented on #11399
This is a very broad question and it’s not clear how to answer this. (And we are not the best people to do so.)

You can’t directly use React from Laravel on the server because you can’t run JS from PHP code. There are some projects attempting to mitigate that but I can’t speak to their stability. You could also have two server layers (PHP and Node) but this seems more complex. I googled "laravel

[2017-10-30 11:18] #11399 closed

[2017-10-30 11:24] gaearon commented on #11398
No. This is exactly why it is immutable. You *create a new element* every time. React remembers the old one internally, so if the type and key match (they do in this case), it mutates the old *instance* to have props from the new *element*.

Same in more detail: https://reactjs.org/docs/reconciliation.html

[2017-10-30 11:24] #11398 closed

[2017-10-30 11:26] gaearon commented on #11398
Related:

https://reactjs.org/blog/2015/12/18/react-components-elements-and-instances.html

https://reactjs.org/docs/rendering-elements.html#react-only-updates-whats-necessary

[2017-10-30 11:43] blling commented on #11398
Should i ask why it called `reconciliation`?

[2017-10-30 14:17] gaearon commented on #11398
It "reconciles" what the component say should be on the screen with what's actually on the screen.

[2017-10-30 14:27] cristidrg commented on #11392
Thanks for the clarification!

I'll close this issue.

[2017-10-30 14:27] #11392 closed

[2017-10-30 15:12] jeremenichelli commented on #11347
My main concern with Option 5 is creating a lot of boilerplate to allow interoperability, breaking the DX, it would be a shame for all the React core team and contributors to spend a lot of time in changes that won't have the desired impact.

I really loved how the React team handled the last changes in the repo, like _PropTypes_, it would be good to think of a plan involving more than just one sw

[2017-10-30 15:13] gaearon commented on #11334
I’m not sure what you’re asking. Yes, it is expected that if an error is thrown during rendering, the tree is unmounted *unless you created an error boundary*.

“Swallowing” an error means using a `catch` block and then ignoring the `error` object. This makes it impossible for developers to figure out what went wrong. What I’m saying is that React now protects against this by printing the error to

[2017-10-30 15:29] gaearon commented on #11397
This is a duplicate of https://github.com/facebook/react/issues/10772 and has been fixed on master. Thanks for report!

[2017-10-30 15:29] #11397 closed

[2017-10-30 15:30] gaearon commented on #6991
For any documentation changes please file an issue in https://github.com/reactjs/reactjs.org.

[2017-10-30 16:01] trueadm opened #11401 "WIP RFC: Improvements to the "ref" system"
This is a formal discussion to talk about the future of refs within React and how we can improve upon them.

## Current Behavior

Currently, there are two ways of doing refs in React, string refs and callback refs.

### String refs

String refs can be applied to "composite" components that are class components (i.e. `<MyComponent />`) and "host" components (i.e. `<span />`).

An example of how thi

[2017-10-30 17:06] kib357 commented on #11401
Unfortunately, your solution isn't resolving problem of receiving component instance in parent component. For example, you have a component from other library/developer, and it hasn't any props for refs. You will need to do a PR, and it will be merged in a week, month, or never. So, it will break many of existing apps using refs without any other way to achieve this functionality.

[2017-10-30 17:16] jquense commented on #11401
I mentioned this a bunch on the eslint thread about deprecating findDOMNode with @taion but using props to pass refs for DOM node access is untenable for libraries that may not own either their parents or children. This approach only works if everyone agrees on the same prop names. Imagine if every library specified their own name for css classes, nothing would interop well because you'd need to h

[2017-10-30 17:48] robdodson commented on #11347
I was actually thinking that doing the opposite would be a better series of steps. Option 1 or 2 because it's less of a dramatic change. And measuring how that goes and what the SSR story starts to look like for web components. Then following up with option 5 because it adds a new API and a notion of proxy/wrapper components.

[2017-10-30 18:39] trueadm commented on #11401
There are alternative approaches to getting the root DOM node of a class component (for where you need it in special cases) via a wrapper component:

[code]

There are other ways to do this without using `findDOMNode` too.

[2017-10-30 19:08] taion commented on #11401
Strongly agreed with https://github.com/facebook/react/issues/11401#issuecomment-340517249. The CSS class name example is on point.

These alternatives _only_ work if there's some promulgated canonical name, like `nodeRef` or `domRef` or `elementRef` or something. Otherwise interop just becomes miserable and every library ends up inventing its own convention.

I do agree that always returning the

[2017-10-30 19:09] taion commented on #11401
I guess the `ref` system doesn't need to support that out-of-the-box. A parent could always pass down a callback that the child calls with `this` at render time.

So it'd be neat on web for `ref` to only pass up the host node.

Is that useful/meaningful in e.g. a React Native context though?

[2017-10-30 19:42] trueadm commented on #11401
@taion Thinking about this, I'm not sure the naming is as big a problem. Looking at different codebases, the contract for passing though ref via explicit props seems more declarative in my opinion. Rather than a generic `nodeRef` or `domRef`, by specifying what type of node you want the ref for, say `headerRef` or `buttonRef`, it actually lends to being more descriptive. This is even more prevalen

[2017-10-30 20:05] taion commented on #11401
@trueadm That works if you have a single level of nesting. If you have multiple levels of nesting, it sort of breaks down. If I want my `<Button>` to work like a `<button>` or `<a>` for purposes of being able to receive a `nodeRef` or something such that I can generically attach a popover or tooltip to it, then a single `nodeRef` prop would be best – especially if _also_ works for DOM components.

[2017-10-30 20:18] trueadm commented on #11401
@taion By using a generic name like `nodeRef` you'd expect the callback to only return a single ref. This will likely become confusing because we've added fragments to React 16, so in theory there could be many refs. This might be something that `react-call-return` could better tackle in the future, but for now I still feel it's better to be explicit.

[2017-10-30 20:24] taion commented on #11401
I think in that case, you would just throw when attempting to attach `nodeRef` to something with fragments. It's not entirely ideal. Do you have a better suggestion for how to deal with this case? An example of where this comes up is something like:

[code]

[code]

Suppose `<TooltipTrigger>` needs to find the DOM node of the thing it's wrapping to do the position calculations for figuring out whe

[2017-10-30 20:38] trueadm commented on #11401
@taion In the case you have above, I'd wrap the child component in a `<div>` and use the calculations based off that. If that's not possible (you can't put an additional `<div>` in) then something like `react-call-return` is probably the better route or you could adapt my alternative wrapper component above using `ReactDOM.findDOMNode`.

I really expect fragments to become the de-facto in the futu

[2017-10-30 20:53] taion commented on #11401
It's not generally acceptable to add extra wrapping markup for this sort of utility component – and these components really do come up quite a lot. As a generic utility component, we can't e.g. assume that the user's component can just be wrapped with something that's `display: block`, without breaking their markup.

And while it may indeed be the case that most components will return fragments, i

[2017-10-30 21:07] trueadm commented on #11401
@taion In the case you expect a single component, then there's nothing stopping `<TooltipTrigger>` from using `findDOMNode` to get the DOM node. My proposal isn't suggesting we deprecate that API, not until we have a suitable replacement for escape hatches.

If you want to avoid `findDOMNode` and have something that can work with fragments, you could use a marker DOM node with a fragment. If you w

[2017-10-30 21:07] taion commented on #11401
Your example per https://github.com/facebook/react/issues/11401#issuecomment-340543801 breaks down conceptually in the presence of fragment returns as well. And, I mean, that's fine – for my purposes here, I don't need a generic way to get a handle to or a DOM node for an arbitrary React element that may well be a fragment.

I see this pattern on the Facebook page, I think. It looks a little bit l

[2017-10-30 21:08] trueadm commented on #11401
@taion My example above was for legacy third-party components, as an escape hatch. I covered this my reply just now actually (funnily enough!).

[2017-10-30 21:12] taion commented on #11401
Actually, is `ref` just going to become a normal prop on composite elements? In which case it'd serve the same role as "`rootRef`" in my hypothetical above – as in a composite component can choose to just forward it along if it wishes to expose a root node that way.

In which case, great, this is my preferred solution. Though I'm not sure how you'd handle that deprecation in such a way that doesn'

[2017-10-30 21:15] taion commented on #11401
As a motivating example, consider a component like:

[code]

This is a pretty natural way to write a component. If `ref` becomes just another prop in this case, then a parent doing `<Button ref={(c) => { this.button = c; }}>` gets exactly what it wants!

[2017-10-30 21:15] trueadm commented on #11401
@taion Maybe we should deprecate `ref` entirely and use an alternative API to prevent confusion in that case – as ideally, in React 17, the equivalent of `ref` would just be a normal prop.

[2017-10-30 21:22] taion commented on #11401
Sure – so rename it to something like `hostRef`? Then on e.g. `<span>`, this would get invoked with the host node; on everything else, it'd be just another prop?

I think that's something like what I was getting at earlier. I think it would be great – it ends up at what we were asking for in the ESLint discussion on `findDOMNode`, and for our purposes would replace `findDOMNode`.

[2017-10-30 21:29] taion commented on #11401
^ that would be super sweet BTW. It'd be _exactly_ what we wanted. ✨

[2017-10-30 21:34] trueadm commented on #11401
I've updated the original post slightly but I'm a bit tired, so let me know if there's anything I've missed. I used your example too :)

[2017-10-30 22:42] taion commented on #11401
Looks great! Two small notes:

- For "Other Considerations?", I think this handles the proposed `viewRef` case as well – RN composite components could just implement their own semantics for `hostRef`
- I'd note that `hostRef` replaces `findDOMNode` for most (all? at least "all of our") remaining use cases for `findDOMNode`

[2017-10-31 02:35] apravink commented on #11257
@yu-tian113 Haven't had a chance to work on this so if you have a working solution, please go ahead :)

[2017-10-31 03:57] yakiler opened #11403 "In some cases will lose some components"
**Do you want to request a *feature* or report a *bug*?**
I just have a problem do not understand
**What is the current behavior?**
Behind react in the div, there are some components that are not loaded
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.

[2017-10-31 04:05] yu-tian113 commented on #11257
Thanks for informing @apravink, I'll pick it up then. Please feel free to share any ideas or suggestions.

[2017-10-31 04:26] g3r4n commented on #11403
Try to do it like that :
`<body><div id="successDiv"></div><div id="reactDiv"></div><div id="notLoadedDiv"></div></body>`

[2017-10-31 06:27] yakiler commented on #11403
@g3r4n  Thankyou , I solved the problem. It is not brought by react,Is my babel version with Bug

[2017-10-31 06:28] johnnyreilly commented on #10879
Just bumped on this myself; would be awesome if this was supported!

[2017-10-31 06:29] #11403 closed

[2017-10-31 07:11] clemmy commented on #11403
@yakiler If you don't mind, can you share what the problem was with Babel and how you fixed it? :)

[2017-10-31 07:56] yanawaro commented on #11231
I encountered this bug too, looks like it triggers on all except [a-z].

[2017-10-31 08:15] nicofrand commented on #11231
Yup : the autocompletion/autocorrect is only triggered on alphanumeric chars.

[2017-10-31 08:34] yakiler commented on #11403
@clemmy  ok! In my html use ' <script src="https://cdn.bootcss.com/babel-standalone/7.0.0-beta.2/babel.min.js"></script>' to convert jsx , This library can not correctly parse my jsx in html. Into the official library perfect solution

[2017-10-31 09:26] nitish24p commented on #10879
Yup same issue here too..

[2017-10-31 09:32] gaearon commented on #10879
You can express support by pressing 👍 to the issue. Please don't add "me too" comments if you don't have any particular context to share—they aren't helpful, and are spamming notifications.

[2017-10-31 09:39] nitish24p commented on #10879
@gaearon i'm not using prettify package as mentioned above, but still get the same issue.
Code below
[code]

`Client side index.js`
[code]

Can this be happening due to the white spaces in the template string literal above?

[2017-10-31 09:45] gaearon commented on #10879
Please provide a *complete* (runnable) minimal example reproducing this, as well as a screenshot of the exact warning you get.

[2017-10-31 09:48] nitish24p commented on #10879
Ok i solved it.. Sorry for the alarm

in the static markup template literal
i Changed
[code]
to
[code]
Eliminated the whitespace in the rendering node.. And this error / warning went. Peace.

[2017-10-31 10:19] vankop opened #11405 "FocusIn/FocusOut for relatedTarget in IE"
Currently (react <=16.0.0) there is no support for `FocusIn/FocusOut` events. But the problem is that in IE  <= 11 blur event has no relatedTarget, so it will be great to support such events.

So, the question is will be such support in later versions?
This problem was mentioned in https://github.com/facebook/react/issues/3751, but there is no answer.

[2017-10-31 10:32] syranide commented on #10879
@sebmarkbage You cannot realistically determine this from just looking at the HTML. Put a `white-space: pre` on the document-level and all white-space will affect rendering. Involving CSS-rules seems fragile.

I'm entirely certain there are no prettifiers that account for this. So really, serving prettified generated HTML is "unsafe" and there is no guarantee that it will not affect rendering.

[2017-10-31 11:24] XaveScor opened #11406 "[Proposal] Promise as setState first arg"
We have a recommend way to use setState: use a function instead of object.
[code]
But we have an async functions. And we cannot push him inside setState.
Can you add an `(State, Props) => Promise` arg?
Now, we write this:
[code]
instead of
[code]

[2017-10-31 11:48] gaearon commented on #9038
Fixed in https://github.com/facebook/react/pull/11141.

[2017-10-31 11:48] #9038 closed

[2017-10-31 11:49] gaearon commented on #11114
See https://github.com/facebook/react/pull/11117#pullrequestreview-67824192.

[2017-10-31 11:49] #11114 closed

[2017-10-31 11:50] pie6k commented on #11406
I'd require `this.state` to be promise, right? What about using things like `const { userData } = this.state` in render?

[2017-10-31 11:54] jquense commented on #11405
It's not likely there will be support unfortunately, Microsoft isn't gonna fix it for ie11 and there is really no way to effectively work around it in the event system (I have tried!).

The best way I've found to handle this, depending on your use case, is to listen for both blur and focus in a container with a set timeout and coordinate between the two events

[2017-10-31 11:55] kroobeet opened #11407 "Errors. Guys, help me, pls"
[code]

I want to set yarn, but the terminal shows this error after entering the command
`npm install yarn`
package.json
[code]

HELP PLS!!

[2017-10-31 11:58] Sazid-Kazi opened #11408 "Web Development"
If I use laravel, react js and mysql for building a site like yelp or tripadvisor then will it be a good option or not? Which rendering (CSR or SSR) approach will be good for the website? Initially, I want to stay in monolithic architecture and 1 year later i will go for microservice architecture, so which method should i follow to make this shifting easier (mono to micro)? Moreover, my target is

[2017-10-31 12:01] jquense commented on #11407
Hey there, it looks like you have an issue with your build or environment setup. We want to keep the issue tracker is for bugs and feature requests in React. I would suggest trying one of the many support resources for help: https://reactjs.org/community/support.html

[2017-10-31 12:01] #11407 closed

[2017-10-31 12:03] gaearon commented on #10103
Fixed in https://github.com/facebook/react/pull/11168.

[2017-10-31 12:03] #10103 closed

[2017-10-31 12:09] gaearon commented on #11408
You already asked this in https://github.com/facebook/react/issues/11399.
Please don't create duplicate issues.

This is a bug tracker for React, not a discussion board.
Please refer to my previous answer for more appropriate places to ask questions.

Cheers!

[2017-10-31 12:09] #11408 closed

[2017-10-31 12:10] gaearon commented on #11403
Note you shouldn't be using `<script>` version of Babel for real websites. It's only meant for quick prototyping. It is extremely slow.

[2017-10-31 12:19] idhard opened #11409 "Why are Error Boundaries not triggered for event handlers?"
**Do you want to request a *feature* or report a *bug*?**
feature , question ?

**What is the current behavior?**
componentDidCatch is not triggered when the error occurred  on event handlers in react components

**What is the expected behavior?**
to be honest , without reading the full documentation about error boundaries , my first attempt to test error boundaries was to trigger an error in an e

[2017-10-31 12:28] blling commented on #11409
Error boundaries aren't supposed to catch errors in event handlers. Only in render and lifecycles.

[2017-10-31 12:36] vankop commented on #11405
@jquense You are totaly correct. Also there is fix using focusin/focusout out of react lifecycle. For example, using `addEventListener`/`removeEventListener` in `componentDidMount`/`componentWillUnmount`.

However, you will stuck with testing using common react test tools, react can't simulate unsupported events

[2017-10-31 12:36] gaearon commented on #11409
It's in the documentation:

https://reactjs.org/docs/error-boundaries.html#how-about-event-handlers

[2017-10-31 12:38] gaearon commented on #11406
This might *seem* good but it's a can of worms.

What if the Promise is rejected? What if you call `setState` twice and have two Promises, and they arrive in a different order? Should the last one win? What if you want newer value of `someProperty` but older value of `anotherProperty`?

`setState` is intentionally assuming you already *know* what you want to set it to. If you need to wait for a Pr

[2017-10-31 12:38] #11406 closed

[2017-10-31 12:44] idhard commented on #11409
yeah i have followed the documentation , however i'm not convinced of the reasons to not catch the errors on event handlers , i also know you can catch the error by try/catch blocks but this would mean develop a new way to handle and display errors on the component instead of using only error boundaries  , i also read that React doesn't need to know about errors on event handlers but for the devel

[2017-10-31 13:03] gaearon commented on #11289
Fixed by https://github.com/facebook/react/pull/11308.

[2017-10-31 13:03] #11289 closed

[2017-10-31 13:41] gaearon commented on #10384
Tagging as wontfix.
The behavior is intentional as explained in https://github.com/facebook/react/issues/10384#issuecomment-334142138.

[2017-10-31 13:41] #10384 closed

[2017-10-31 13:42] gaearon commented on #11409
OK, let's keep it open for the discussion.

I don't think there was any specific reason other than that we couldn't agree on the behavior, and whether this is beneficial or not. @acdlite might remember it better.

[2017-10-31 13:54] gaearon commented on #11396
We could move it out, but we should make sure that:

* We still should [throw](https://github.com/facebook/react/blob/2c0a8fb99e945315c9dce7a15c85775d51f5755d/packages/react-reconciler/src/ReactChildFiber.js#L588) if something has `typeof object` but is neither of supported object types
* We still should [*not*](https://github.com/facebook/react/blob/2c0a8fb99e945315c9dce7a15c85775d51f5755d/packag

[2017-10-31 13:56] gaearon commented on #11299
Sounds fine, sure!

[2017-10-31 14:13] idhard commented on #11409
great , i think the main benefit is to have a uniform way to handle errors across all components using error boundaries, otherwise it encourage you to develop two ways to handle exceptions or extend the current behavior of EB to support it. Besides adopters of this new feature may be  tempted to trigger the errors on event handlers (my case :D) waiting to have the same behavior or perhaps i'm the

[2017-10-31 15:07] liushuai512 opened #11411 "ReactDom 书写格式修改"
默认情况下，**React DOM**将转义嵌入在JSX中的任何值，然后再渲染它们。因此，它确保您永远不会注入任何未明确写入应用程序的内容。在呈现之前，所有内容都将转换为字符串。这有助于防止XSS（跨站点脚本）攻击。

加粗的是需要改错的：ReactDOM中间不应该有空格

[2017-10-31 15:13] liushuai512 opened #11412 "JSX 代表 Objects"
错误：JSX表示对象

修改：Babel 转译器会把 JSX转换成一个名为`React.createElement()`的方法调用

[2017-10-31 15:18] MJCD commented on #11411
如果您需要帮助，您将需要翻译。

https://translate.google.com

- Michael

2017-10-31 23:08 GMT+08:00 刘帅 <notifications@github.com>:

[2017-10-31 15:25] bvaughn commented on #11411
I believe @liushuai512 is just suggesting that we have a space in between "React" and "DOM" that shouldn't be there (eg "React DOM" -> "ReactDOM").

I'm not sure where this is referring to though.

[2017-10-31 15:26] bvaughn commented on #11411
It seems like this text may have been copied from here: https://maotr.github.io/2017/07/08/react/%E4%BB%8B%E7%BB%8DJSX/

[2017-10-31 15:27] bvaughn commented on #11412
I believe this issue is also referring to the following blog post:
https://maotr.github.io/2017/07/08/react/%E4%BB%8B%E7%BB%8DJSX/

Is this true, @liushuai512? If so, I think you might want to notify the author instead.

[2017-10-31 15:41] bvaughn commented on #11412
感谢您报告问题。 很抱歉，但我们无法帮助。 你提到的这个帖子是由别人写的。 请通知该人。

[2017-10-31 15:41] #11412 closed

[2017-10-31 15:41] bvaughn commented on #11411
感谢您报告问题。 很抱歉，但我们无法帮助。 你提到的这个帖子是由别人写的。 请通知该人。

[2017-10-31 15:41] #11411 closed

[2017-10-31 15:45] monkindey commented on #11411
@bvaughn You are patient. Thanks. I think you got that what @liushuai512 mean

@liushuai512 This is not React issue, you can contact with the author using email

[2017-10-31 16:04] liushuai512 opened #11413 "书写格式错误"
`
JSX Prevents Injection Attacks

By default, **React DOM** escapes any values embedded in JSX before rendering them. Thus it ensures that you can never inject anything that's not explicitly written in your application. Everything is converted to a string before being rendered. This helps prevent XSS (cross-site -scripting) attacks.`

错误：加粗的名字出现错误，应该改为

[2017-10-31 16:21] mrasoahaingo opened #11414 "Server-side rendering and async routing"
Hi!

When I render a synchronous route on server-side and then the client side hydrate the dom, I get a warning because client side asynchronous route doesn't find the component.

![image](https://user-images.githubusercontent.com/12088397/32235451-cf34fbee-be5f-11e7-8112-15a7ee01982b.png)

In other hand react fiber reconciliation tries to remove this non hydratable node. So the page makes a blank

[2017-10-31 17:32] ccorcos commented on #11377
Interesting. I didnt know that. Perhaps [oy](https://github.com/revivek/oy) is importing something else that's causing this issue. (I'm trying to render email previews on the client).

[2017-10-31 17:34] IndifferentDisdain commented on #5013
So... why is this a thing? `null` is a perfectly acceptable initial value. For example, when creating a new object (initialized w/ default values from the server then passed to the component as props) in a form that requires address, Address Line 2 is often optional. I'm perfectly aware that it's `null`, and I may or may not add a value to it when completing the form.

I do the suggested workaroun

[2017-10-31 18:00] M-ZubairAhmed commented on #11413
so what is your question here ?

[2017-10-31 18:30] acdlite commented on #11409
A few reasons we've decided against this for now:

- Event handlers can be passed down multiple levels. If they throw, we don't know component the error originated from: the DOM node that triggered the event, or the component that owns the handler itself. For the latter case, it's not even clear how we'd know which component that is.
- Even if we could reliably figure out which component originate

[2017-10-31 19:11] idhard commented on #11409
thanks for the explanation  @acdlite , here my humble thoughts

what is the difference when we pass props down the sub-tree of our components ?  i guess it may also happen an exception inside the sub-tree of the component, in that case you can keep a reference to the DOM which trigger the exception ?

wouldn't be the same case for async side effects on render lifecycle methods , like in componentD

[2017-10-31 19:13] kgaregin opened #11415 "componentDidCatch not fired as expected"
hello guys! I try to build custom blog app and [here is the branch](https://github.com/kgaregin/huckleberry-ogre/tree/feature-react-ui-error-handler) with below mentioned issue.

## **The issue:**

can't bring to live my ErrorBoundary though, doing everything like it is described in react 16 docs... Debugging shows that componentDidCatch is never called on errors (not synthetic new Error, nor real

[2017-10-31 19:15] gaearon commented on #11409
When a React component throws during rendering we know which component it is because React *called* this component. Components don't call each other's `render` methods so we can be sure it's the last component we called.

For event handlers, a `LikeButton` can pass an `onClick` handler down to `Button` and down to a `<button>`. Which one should we consider the source one, and how could we possibly

[2017-10-31 19:21] effulgentsia commented on #11347
The main problem with option 1 is that it's a pretty large BC break. The main problem with option 2 is that it has a race condition depending on when the element is done upgrading. I'm not sure that either of those is truly acceptable for a project that's as widely used as React is.

Given the availability of option 5, I wonder if we can instead make much safer, but still useful, improvements to n

[2017-10-31 20:16] adrifmonte commented on #9037
In my case, I had some different providers, and their order were incorrect, hence those errors were raised.
If you're facing this error, try reordering your nested providers in a kind of dependency concise order.

[2017-10-31 20:17] HeisSpiter commented on #10849
Dear all,

I do not believe that keeping that issue open for ages will bring anything new to the discussion. I think @HBelusca summed up everything previously. Both projects have their personality and identity through their name and their logo. It would make no sense to rename nor to change the logo of the two projects.

@gaearon already made a huge step in the direction of disambiguation and I am

[2017-10-31 20:17] gaearon commented on #11415
Please create a *minimal* reproducing example. We get new issues every day. If we had to spend an hour trying to reproduce every issue, we wouldn't have any time left for development. :-)

Here's a good guide to doing just this:

https://stackoverflow.com/help/mcve

[2017-10-31 20:20] giorgim commented on #11398
@gaearon So when one write say` <CustomComp/>` inside render, there are two things happenning: (1) instance of class `CustomComp `is created and (2) its render method is called, is that right? (I had impression this article said: https://tylermcginnis.com/react-elements-vs-react-components/, there was no instance creation involved).

[2017-10-31 20:20] gaearon commented on #11415
(To clarify, the published demo is helpful. I didn't notice the link at the top at first. But we would still appreciate if you could extract the part that doesn't work and show it in a simpler environment, without router / libs / TypeScript / etc)

[2017-10-31 20:22] gaearon commented on #10849
Thanks, Pierre!

I will close this issue but if you feel like there's something else we could do to help reduce the confusion, let us know.

❤️

[2017-10-31 20:22] #10849 closed

[2017-10-31 20:36] gaearon commented on #5013
I think the first post is a bit misleading.

There's no problem with null as a value. The problem is React treats this as a flag to make an input uncontrolled. That turned out to be confusing.

So we added a warning to discourage existing users from passing null. This lets us safely change the behavior for future version to treat null as an empty string. We haven't done this yet but that's the pla

[2017-10-31 20:36] kgaregin commented on #11415
Thanks for fast response! Will try to do some additional research then, gradually removing libs and ts. Maybe some of them cause problem.

[2017-10-31 20:38] gaearon commented on #11415
You can also try in the opposite direction, starting with a fiddle and adding two or three minimal components there.

[2017-10-31 20:50] MatteoVH opened #11416 "React.Children support for Call and Return types"
Include React `Call`s and `Return`s (as defined in [this sub-repo](https://github.com/facebook/react/tree/master/packages/react-call-return)) in the children enumerated over by `React.Children`. Should be similar to the `Portal` support added in #11378. This issue is a follow up to #11373 and was [suggested by @gaearon](https://github.com/facebook/react/pull/11378#issuecomment-340789791).

[2017-10-31 20:51] MatteoVH commented on #11416
I'd like to take this. Should be able to have a PR up tonight. 🙂

[2017-10-31 20:58] IndifferentDisdain commented on #5013
@gaearon will do, thx.

[2017-10-31 21:03] mrasoahaingo commented on #11414
![image](https://user-images.githubusercontent.com/12088397/32248737-e733daf4-be86-11e7-88c4-1a7ee2dcae8c.png)

According to this screenshot, the generated node from server side rendering will be remove. This node (div.home-page) is a dynamic component of the current route

[2017-10-31 21:10] IndifferentDisdain opened #11417 "Treat value={null} as empty string"
Per @gaearon's request, I'm opening up a new issue based on https://github.com/facebook/react/issues/5013#issuecomment-340898727.

Currently, if you create an input like `<input value={null} onChange={this.handleChange} />`, the null value is a flag for React to treat this as an uncontrolled input, and a console warning is generated. However, this is often a valid condition. For example, when crea

[2017-10-31 21:13] #11405 closed

[2017-10-31 21:42] gaearon commented on #11417
@sophiebits Is this interpretation correct? Was there any reason we didn't do this in 16?

[2017-10-31 22:33] maxschmeling commented on #4784
The `is` attribute doesn't seem to solve this in React 16. Is there any other workaround?

[2017-10-31 22:50] maxschmeling opened #11419 "Capture attribute only supports boolean values"
This is a follow-up to #4784.

The `capture` attribute on `input` elements is currently supported, but it is configured as a `HAS_BOOLEAN_VALUE` attribute: https://github.com/facebook/react/blob/1eed302d346bfb8f5db8d88b0e7096d8999d3548/packages/react-dom/src/shared/HTMLDOMPropertyConfig.js#L33

This causes
[code]
to render as
[code]

The `capture` attribute supports strings though: https://www.w3.

[2017-11-01 01:13] sophiebits commented on #11417
I don't remember. I don't think it's obvious which is better: I could imagine a case where you expect `value={null} defaultValue="foo"` renders an input with an (uncontrolled) value of foo. Treating null as controlled empty string would be surprising then. Also, all of our host/DOM components treat null and undefined identically right now, I believe. Don't know if we want to deviate from that.

[2017-11-01 01:21] IndifferentDisdain commented on #11417
Not to scope creep this thread, but wouldn't you generally use value for controlled inputs and defaultValue for uncontrolled? I guess I don't see why someone would use both attributes on the same element.