[2021-03-03 17:29] #20925 closed

[2021-03-03 17:34] serdgio999 commented on #20925
Thanks

[2021-03-03 17:49] hackersintu opened #20926 "."

[2021-03-03 17:57] hosseini44444 commented on #20924
Thank you so much for answering my question!

The source of my confusion was articles that said react may postpone state updates due to heavy workload and that you shouldn't rely on the state value outside of setState callback.
After a lot of research and according to[ this answer](https://stackoverflow.com/questions/48563650/does-react-keep-the-order-for-state-updates/48610973#48610973), now I kn

[2021-03-03 18:08] #20926 closed

[2021-03-03 18:13] gaearon commented on #20924
@hosseini44444 Can you describe what your `onIncrement` function is doing in more detail? It's a bit hard to answer in abstract. A _complete_ example of what you're trying to do would help a lot. Preferably, grounded in a real use case.

[2021-03-03 18:19] bvaughn commented on #20924
This can be true if you're trying to accumulate state/values over multiple updates.

In the scenario you posted above though, it seemed like you wanted to trigger some side effect (`onIncrement`) _in response to an event_ (a user clicking a button). In that case, I think the appropriate time to trigger that side effect _is when the user performs the action_ and the value at that time- whatever the

[2021-03-03 18:22] nol13 commented on #20752
https://github.com/facebook/react/pull/20477

Looks like this PR would do it?

Would usePrevious need to return the ref instead of ref.current, since current will be changed on the render after every update? Seems wrong to ignore a value that actually is changing just as a matter of principle.

[2021-03-03 18:43] hosseini44444 commented on #20924
@gaearon

This is the code which I'm using in a slider component:
[code]
The component has a lot of event handlers and one of them is `onNextClick` which accepts a callback that will be executed only after the user clicks the next button and I need to pass the `currentIndex` and `nextIndex` values to the `onNextClick` callback so he/she can benefit form these. there are a lot of events that may ha

[2021-03-03 19:02] bvaughn commented on #20924
Libraries I've worked on (like `react-window`) have similar callback props (like `onScroll`) that often set state. For this reason, I think, calling this type of prop from an event handler is _better_ than calling from an effect (the only other "valid" option). Calling from a state updater function is kind of like calling from a render method. It's a side effect that can definitely cause problems

[2021-03-03 19:11] hosseini44444 commented on #20924
Consider a scenario in which the user has clicked a thumb that will change the currentIndex to the thumb's index but due to heavy workload react has decided to postpone the render and in the meanwhile, the user clicks the next button, the action of clicking the thumb will invoke the render phase then React may decide to postpone it or decide not to commit it due to another user interaction like cl

[2021-03-03 19:48] bvaughn commented on #20924
I think regardless of when React performs the update (soon vs deferring it) when the _action_ was performed, ie when the user clicked, the count/index that was shown on the screen was the one that was closed over by the event handler that's getting called in your example code above. So it seems best to call the `onIncrement` callback or whatever _at the time of the event/action_.

As Dan said abov

[2021-03-03 20:12] gaearon commented on #20924
I think one crucial nuance we're overlooking here is React will not actually do any of that. In particular, React _does_ offer a guarantee that you will not get a render of the "next click" before the "previous click" has been flushed. This has already been a guarantee with Concurrent Mode, but we're making it even a stronger one — click events (and similar "intentional" user event like keyboard i

[2021-03-03 21:07] gaearon commented on #20752
I understand the problem and sympathize with it, but the canonical solution that scales is that you simply include that as a dependency. Since it's static and never changes, there is no issue including. On the other hand, if you later _do_ return something conditionally, like `cond ? ref1 : ref2`, then it _will_ trigger a re-render instead of silently using a stale value. So this works precisely a

[2021-03-03 21:07] #20752 closed

[2021-03-03 21:43] gaearon commented on #20917
This is likely https://github.com/facebook/react/issues/20141.

[2021-03-03 22:09] benrhere commented on #20917
Hi @bvaughn , I re-confirmed that I can still repro this bug when I pull down the zip and run the steps. I also switched to guest mode in chrome to disable extensions and still get the error. Perhaps it's related to platform? I'm running Windows 10 20H2 OS build 19402.844. Are you able to test on Windows?

Also, if it's helpful, here's the stack trace associated with the error in the console:

  |

[2021-03-03 22:11] benrhere commented on #20917
Hi @gaearon , I had the same thought and originally posted a comment on that issue, but the author of that issue suggested I create a new issue. I downloaded his testcase and it doesn't seem like he is performing the steps that I am in this repro. For what it's worth, I have found that in a different app, I can still reproduce this when I _don't_ set the CSS as outlined here, and in those cases I

[2021-03-03 22:12] bvaughn commented on #20917
No. I don't have a Windows machine to test with.

I think Dan's right and this is probably the same as #20141. I'm going to mark this issue as a duplicate. 😄  GitHub will preserve the comment links between them though!

[2021-03-03 22:12] #20917 closed

[2021-03-03 22:51] kevin99j opened #20927 "Error: "Cannot read property 'concat' of undefined""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.10.1-f160547f47

Call stack: at updateTree (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:19702:53)
    at getCommitTree (chrome-extension://fmkadmapgofadopljb

[2021-03-04 01:54] renatoalencar commented on #20907
useReducer is good cases where you need the previous state to create the next, which is the example you used. And your example won't work if you call increment or decrement from the same render.

The way the documentation describes the use of useReducer is probably meant to be familiar to React developers, because it uses the same idiom as Redux.

And your right about being possible to write it sh

[2021-03-04 04:17] markerikson commented on #20907
There are many reasons to write your logic as a reducer instead of a `useState` hook:

- Complex calculations are easier
- You can pull the logic out and test it separately
- You can update multiple fields in the reducer's state in one operation, which can be a benefit in scenarios where you only want one re-render instead of multiple individual renders from setting multiple individual states

The

[2021-03-04 08:03] mroutadi commented on #20927
#18256
I think here is your answer

[2021-03-04 09:21] andynoster commented on #20927
.

[2021-03-04 10:02] OdenigboGodfrey commented on #13944
super(props, context) is deprecated now also :sigh

[2021-03-04 10:34] zxflslzyx opened #20929 "TS: dataIndex in the Compoent Table's columnstype could deduce the correct type ,but not?"

[2021-03-04 10:38] eps1lon commented on #20929
Could you clarify what you're referring to? It [doesn't seem like the code you posted is part of this repository](https://github.com/facebook/react/search?q=DataIndex).

[2021-03-04 10:40] eps1lon commented on #20907
Having the discussion is totally valid. But this issue tracker is not the right place for it.

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific questions.

stackoverflow.com/questions/tagged/react

Talk to other

[2021-03-04 10:40] #20907 closed

[2021-03-04 10:44] #20929 closed

[2021-03-04 10:45] zxflslzyx commented on #20929
Sorry, maybe I had a mistake

[2021-03-04 11:37] fxdave commented on #20907
Ok, so useReducer is useful. Could we make it better?
For e.g:
[code]

[2021-03-04 11:44] hosseini44444 commented on #20924
Thanks so much.
Batching event callbacks using a microtask is a smart move.
It really needs to be included in the docs, not everybody knows about how React works internally.

[2021-03-04 11:45] #20924 closed

[2021-03-04 14:32] bvaughn commented on #20927
I'm sorry you experienced this bug! 🙇

Looks like this problem was already reported though (#20830) so I'm going to mark this issue as a duplicate and close it. If you have additional context that might help us repro this problem, please leave a comment on the other issue!

Thank you~

[2021-03-04 14:32] #20927 closed

[2021-03-04 16:38] c0ncentus opened #20930 "[Reactjs][GeckoDriver] O_CREAT", _c.fs is undefined in ./node_modules/tmp/lib/tmp.js"
https://github.com/SeleniumHQ/selenium/issues/9225 , still have issue ? Something better for alternative ? I just want fetch html ( and fetch is not super easiest solution (cors or not cors .... thats the question .... ) what I want to do)

React version: 17.0.1

## Steps To Reproduce

see selenium documentation for geckodriver install.
fellow this link https://github.com/SeleniumHQ/selenium/issue

[2021-03-04 17:20] markerikson commented on #20907
Nothing needs to be built into `useReducer` to do that.  In fact, you can do exactly that kind of logic with something like [Redux Toolkit's `createSlice` API](https://redux-toolkit.js.org/api/createSlice), which generates action creators for you based on the case reducers you've defined.  Since reducers are _just_ plain functions, you can use RTK and `createSlice` to generate reducers that are on

[2021-03-05 00:01] gaearon commented on #20930
This has no relation to React.

[2021-03-05 00:01] #20930 closed

[2021-03-05 00:04] gaearon opened #20932 "Bug: SuspenseList crash"
https://codesandbox.io/s/nostalgic-frost-53gys?file=/src/App.js

[code]

[2021-03-05 01:50] yisar opened #20934 "What's the difference between Suspense and Promise.all"
I'm sorry I have to raise this question. I'd like to know about suspend and Promise.all What's the biggest difference.

as far as I am concerned, Promise.all It's also concurrent, and they're similar in this respect.

[2021-03-05 03:30] Arithmetics commented on #15069
bump. so many logs i want gone

[2021-03-05 04:52] GauravKatariya opened #20935 "Uncaught Invariant Violation: Hooks can only be called inside the body of a function component"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-03-05 05:52] intellild commented on #20661
I checked the output of production build and closure compiler did a great job.

I tried the array method and it works fine although the implementation is not correct. Will this get merged ? I will finish it if it would get merged

[2021-03-05 05:55] markerikson commented on #20661
@intellild my guess is probably not, given that Andrew is already working on https://github.com/facebook/react/pull/20646 and https://github.com/facebook/react/pull/20890 .

[2021-03-05 07:59] intellild commented on #20661
@markerikson Thanks. I read the PR and it seems they are not conflicting

[2021-03-05 08:01] c0ncentus commented on #20930
the error come frome because of react ,
i test this algo without React and it's work,
so it has relation with React !

maybe that no concern React's logic and you cannot care this issue but can you tell me what package is concern ? Who will able to fix this issue ? : / no man's land ?

[2021-03-05 08:33] eps1lon commented on #20935
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new/), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-03-05 10:01] duronfire opened #20937 "Bug: non-submit buttons inner form invoke submit"
React version: v17.0.1

Link to code example:

https://codesandbox.io/s/zen-yalow-1khmu?file=/src/index.js

## The current behavior
if you click test button, submit will be invoked.

## The expected behavior
submit should be only invoked, when submit button is clicked.

[2021-03-05 10:15] joshuaellis commented on #20716
🙃 🆘

[2021-03-05 10:40] eps1lon commented on #20937
Thanks for the reproduction.

The default `type` of a [`<button />`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button) is `submit`. So `<button />` and `<button type="submit" />` are equivalent.

To prevent this confusion in the future you can use `eslint` with the [`eslint-plugin-react`](https://github.com/yannickcr/eslint-plugin-react) plugin which has the [`react/button-has-type

[2021-03-05 10:46] duronfire commented on #20937
Thanks very much for your explaination and your advise!

[2021-03-05 10:58] milobluebell commented on #20932
i think it's because , you had thrown a promise object in `read` function,

[code]

 it interrupt your ideal rendering.  and the error thrown by React in browser means that there isn't an fiberRoot could be founded

[2021-03-05 12:15] #20937 closed

[2021-03-05 14:25] dutzi opened #20938 "Bug: Inconsistent behavior between development and production builds"
I was trying to implement `useOn`, a hook lets you write the following code:

[code]

My approach worked in production, but not in development. I discovered some pretty unexpected behavior by React.

When running `useOn` in development, it seemed like the resize event listener isn't being removed when the ResizeComponent gets unmounted (turned out it was actually being added twice).

So I added a

[2021-03-05 14:46] bvaughn commented on #20938
tl;dr The behavior you're pointing out in DEV is intentional. Check out the [React docs on "strict mode"](https://reactjs.org/docs/strict-mode.html) for more background on _why_ React does this.

The `useOn` hook looks like it breaks the rules of React. Calling `.who` during render in your example is a side effect (e.g. it adds event listeners). [Side effects during render will cause problems.](ht

[2021-03-05 14:46] #20938 closed

[2021-03-05 15:13] dutzi commented on #20938
Thanks for detailed response! I was guessing it would be some documented behavior I missed :)

[2021-03-05 17:23] markerikson commented on #20661
Hmm. Well, if it doesn't conflict there might be a chance, but that'd really be an @acdlite kind of question.

[2021-03-05 19:51] cbaker opened #20941 "Error: "Cannot read property 'concat' of undefined""
Describe what you were doing when the bug occurred:
1. pressed record
2. did action in my react app
3. stopped recording

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.10.1-f160547f47

Call stack: at updateTree (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:19702:53)

[2021-03-05 21:54] dutzi commented on #20938
@bvaughn, I've made some changes to the hook, I've moved the event listening code inside a `useEffect` that's triggered by a hook that forces a re-render ([`useRerender`](https://github.com/dutzi/use-on/blob/master/src/use-on.ts#L11-L19)). That hook is triggered by calling `who`, `when` or `what`.

That got me a step forward, I was now able to add the listener on mount, and remove it on unmount, _

[2021-03-06 07:41] eps1lon opened #20946 "Bug: error in effect cleanup function no longer catchable"
React version: 17.0.1
TL;DR: Fixed with `skipUnmountedBoundaries = true`

## Steps To Reproduce

1. Throw in an effect cleanup
2. Try to catch it when wrapped in `act()`

Link to code example:
[React 16](https://codesandbox.io/s/react-16-throw-in-effect-destory-kdeij)
[React 17](https://codesandbox.io/s/react-17-throw-in-effect-destory-forked-5n864)

I also tested it locally and jest and couldn't

[2021-03-07 00:48] dharkness commented on #20205
While a simple regex would work for some custom hooks, there are many that return arrays and objects that could also benefit from this.
[code]
If the config allows any form of data, each hook could specify stable values with an array: numbers for element indices or strings for object properties. Not sure what you'd assign to hooks like `useRefWrapper()` that return a single value. An empty array?

[2021-03-07 01:11] bvaughn commented on #20941
I'm sorry you experienced this bug! 🙇

Looks like this problem was already reported though (#20830) so I'm going to mark this issue as a duplicate and close it. If you have additional context that might help us repro this problem, please leave a comment on the other issue!

Thank you~

[2021-03-07 01:11] #20941 closed

[2021-03-07 02:12] cbaker commented on #20830
When I got this bug I was trying to run the profiler while plotting an immense amount of points in a library called "recharts".

[2021-03-07 04:27] WOLFIEEEE opened #20947 "Bug: slow rendering"
Trying to update charts in realtime I am having maximum of 200 point per second .I will add a link to code below , for 1 minute the chart is working fine but after that is start lagging the data lag between sensor and react just keep increasing , I check the server code there are no issues with my server code.

React version:17.0.1

## Steps To Reproduce

1. As it contain server code and needs a a

[2021-03-07 09:32] eps1lon commented on #20946
Added some tests to `ReactTestUtilsAct` and realized this already covered by

[2021-03-07 10:53] SHARUNJOSEPH opened #20949 "Bug: MongooseError: The `uri` parameter to `openUri()` must be a string, got "undefined". Make sure the first parameter to `mongoose.connect()` or `mongoose.createConnection()` is a string."
app,js
`// ess = require('express');
const express = require('express');
const app = express();
// const bodyParser = require('body-Parser');
var bodyParser = require('body-parser')
const morgan = require('morgan');
const mongoose = require('mongoose');
const cors = require('cors');
require('dotenv/config');

app.use(cors());
app.options('*', cors())
app.use(express.json());

//middleware
app.use(

[2021-03-07 16:47] bvaughn commented on #20949
This error seems unrelated to React. Seems like you're missing `process.env.CONNECTION_STRING`

Going to close this issue since this is the React repo

[2021-03-07 16:47] #20949 closed

[2021-03-07 16:48] bvaughn commented on #20947
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://codesandbox.io/s/new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem. Screenshots or videos can also be helpful if they help provide context on how to repro the bug.

Here are some tips for providing a minimal example: https://

[2021-03-07 17:20] #20932 closed

[2021-03-07 19:20] adrian-kriegel opened #20950 "Bug: Events not working in React 17"
React version: 17

## Steps To Reproduce

1. clone https://github.com/adrian-kriegel/react-17-event-issue
2. npm i
3. npm run react16 && npm run dev
4. visit localhost:8080 and enter a text (there should be an alert)
5. npm run react17 && npm run dev
6. visit localhost:8080 and enter a text (there is no alert)

Link to code example: https://github.com/adrian-kriegel/react-17-event-issue

## The cu

[2021-03-08 08:17] bushblade opened #20951 "Bug: React Dev tools keys not showing last letter in FF"
The FireFox dev tools crop off the last letter of the keys in state/props as you can see here.
![Screenshot_2021-03-08_08-13-36](https://user-images.githubusercontent.com/21976188/110293584-a907d300-7fe6-11eb-89dc-eb709ab31fdd.png)
This doesn't happen in the Chrome extension
![Screenshot_2021-03-08_08-14-18](https://user-images.githubusercontent.com/21976188/110293623-b91fb280-7fe6-11eb-90ee-b9cbe

[2021-03-08 11:36] SohanChotia commented on #16362
@OnkelTem How do you disable strict mode in a RN app, I m new to it and it is caugin multiple ajax calls in components.
Please help

[2021-03-08 12:29] hagiosofori commented on #20261
also been experiencing this issue for a few days now. It's gotten to the point where there's a bug I'm struggling to figure out without the devtools, so I'm resorting to thsi

[2021-03-08 14:52] bvaughn commented on #20261
Yes. Undock DevTools from the main window so that it's a separate window, then pop out a second DevTools for it.

https://user-images.githubusercontent.com/29597/110337494-fa6a8f00-7ff3-11eb-9cad-a468a17f9670.mp4

[2021-03-08 15:30] mrtnrst commented on #20951
I can pick this up later today if no one is on it yet! 🎉

[2021-03-08 22:51] vinodcg2 commented on #18705
I was also having same issue, I removed the addon and add again fixed for me.

For removing and adding path : https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi/related?hl=en

[](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi/related?hl=en)

[2021-03-09 01:35] mrtnrst commented on #20951
@bushblade I'm having a tricky time trying to repro this issue. Could you let me know what version of Firefox/React DevTools you're seeing this on?

Here is what I'm seeing on my laptop from the latest:
https://user-images.githubusercontent.com/1743953/110404934-c4f28f80-804d-11eb-9d01-59f21aa0a13a.mp4

[2021-03-09 01:35] D3M0NWOLFS opened #20956 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-03-09 01:46] #20956 closed

[2021-03-09 11:59] OnkelTem commented on #16362
@SohanChotia

Just don't enable it. It's usually enabled in the `index.ts` by surrounding your topmost component (`<App>`) with `<React.StrictMode>` tags.

https://reactjs.org/docs/strict-mode.html

[2021-03-09 16:37] tulsidaskhatri commented on #19419
`mouseenter` event is not triggered on a native button when it is disabled. Here is an example:

https://jsfiddle.net/x9ofu5e1/7/

This example includes `click` and `mouseout` events as well.

mouseenter is working as per expectation in react as well, it is not triggered when button is disabled.

[2021-03-09 16:47] tulsidaskhatri opened #20966 "Bug: React test triggers mouseout event for disabled button"
React version: 16.14.0

## Steps To Reproduce

1. Create a test file in a react project, and paste the following code.
2. Run the test
3. The test for onMouseLeave event fails.

[code]

## The current behavior
<img width="664" alt="Screenshot 2021-03-09 at 21 45 13" src="https://user-images.githubusercontent.com/2574511/110506309-c9d44380-8120-11eb-9164-ce2ae7316889.png">

## The expected behavior

[2021-03-09 17:22] nibblesnbits commented on #16477
Is there any movement on this?  I would give an arm and a leg for a solution to this; even an inelegant one.

[2021-03-09 18:15] helena-charles commented on #11565
bump

[2021-03-09 19:56] bvaughn commented on #20947
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-03-09 19:56] #20947 closed

[2021-03-09 22:43] Slmii commented on #13991
I am also having an issue with this. I have a components lib project and a nextjs project. I wanna use the lib inside the nextjs project. I am also using `material-ui` in the lib.

What I'm doing is:
1. `npm link` inside the lib project
2. `npm link <lib_name>` inside the nextjs project

[code]
If I add `react` and `react-dom` as `devDependencies` in the lib's `package.json`, I get the `Error: Inv

[2021-03-09 23:35] adamayres commented on #19637
**A name for your pattern (come up with something unique so we can refer to it later)**

"unwanted-container-events-on-nested-portal"

**A brief description of the UI (but a screenshot is worth a thousand words)**

![react-portal-event-bubbling-issue](https://user-images.githubusercontent.com/207585/110552156-a80c9980-80eb-11eb-8e36-19110a741ce3.gif)

This issue came up when using the `Nav` and `M

[2021-03-10 03:38] potasium56 opened #20969 "Bug: Create-react-app error using bash and tried powershell and more"
I decided to try and learn react and was following the instructions listed here https://reactjs.org/docs/create-a-new-react-app.html. So I made a folder opened it in vscode, went into my bash terminal and ran the below code as instructed.

npx create-react-app my-app // But i used demo

once completed then cd'ed into my demo folder
cd my-app

and then typed npm start and this is where I get this b

[2021-03-10 05:38] Fi1osof commented on #15176
@k15a thanks a lot!
It's works for me. I lost a lot of time to use useEffect, but it's hard to catch unmount event. fer function helps. Thanks!

[2021-03-10 07:08] subhero24 opened #20971 "Bug: Calling setstate in a callback ref causes node to be set to null"
I have a very small example sandbox here: https://codesandbox.io/s/long-sunset-ofr4b?file=/src/App.js

This example uses a callback ref to get the value of the dom node.
When using setState inside the callback ref function, the callback ref is called twice more, once with null and once with the actual dom node again. As if the child remounted.

React version: 17.0.1

## Steps To Reproduce

Uncomme

[2021-03-10 08:00] eps1lon commented on #20971
Thanks for the report.

Ref callbacks are called every time:
1. the instance changes
2. the ref callback changes

You're observing the second case.

It's not clear what your real-world use-case is. For your example you can fix this by memoizing the `callbackRef`:

[code]

Does this clarify the observed behavior?

[2021-03-10 08:09] eps1lon commented on #20969
Thanks for the report.

You want to report this to https://github.com/facebook/create-react-app/issues instead since the current repository is only concerned with React libraries not create-react-app.

Be sure to include more information about your environment e.g. `node -v`, `npm -v` and `npx -v`.

[2021-03-10 08:11] subhero24 commented on #20971
I did not know it was called again when the ref callback changed. That explains it. Thanks for your reply!

[2021-03-10 08:11] #20971 closed

[2021-03-10 13:29] #20969 closed

[2021-03-10 13:30] Toub commented on #20331
What is your eslint version and config?

I don't reproduce this bug, except if I explicitly add the hook to my config:

[code]

[2021-03-10 15:12] waynebloss commented on #20829
Will this be back-ported to React 16? I have projects that can't upgrade yet because they rely on packages that aren't fully compatible with React 17 yet (e.g. Material-UI).

[2021-03-10 15:37] csr632 opened #20972 "Bug: calling setState during render should eliminate the state initialization of current render"
If I call `setState` during render, I expect **the influence of current render to be completely cleaned up**.
But in reality, React doesn't destroy the "state initialization" in the first render and re-initialize those states. It keeps the "state initialization" of the first render.

[code]

But with current React, the final result of s2 is 1.

React version: 17.0.1

## Steps To Reproduce

Link to

[2021-03-10 15:58] csr632 commented on #20972
Hmm, if "the influence of first render should completely cleaned up", does "other setState" counted as "influence"? Should the be discarded too?

[code]

[2021-03-11 00:15] markerikson commented on #20972
I think this is a misunderstanding of how React rendering behavior works.

Setting state while rendering doesn't eliminate the fact that the first render happened.  All it does is queue an additional render pass with the new state to be updated.  So, no, there's "influence of a current render cleanup" that's going to happen, and this is definitely not a bug - this is normal and intended behavior.

[2021-03-11 04:09] gaearon commented on #20972
I think I see the point you’re making, but overall calling `setState` *during* render is a rather exotic pattern meant to address a sine use case — deriving state from a *change* in props. For example, driving `scrollDirection` from a difference in last two values of an `offsetY` prop. Note the emphasis on “change”. I don’t really know what you’re aiming to do by setting state during the *initial*

[2021-03-11 04:09] #20972 closed

[2021-03-11 05:04] sfishel-splunk opened #20977 "Provide a way to propagate tracing context to async tasks"
Disclaimer: sorry for the overloaded terminology, the "context" I'm referring to here is tracing context (e.g. from OpenTelemetry), not React context.

My team is working on adding OpenTelemetry tracing to a React application. We have a working strategy for propagating the tracing context to hooks that don't do any asynchronous work, illustrated [here](https://gist.github.com/sfishel-splunk/178079

[2021-03-11 07:47] eps1lon commented on #20969
You have to do that.

I was asking about the versions. This information should be readily available not only visible in a short time frame in a video.

[2021-03-11 11:09] kokushkin opened #20981 "Bug: Error message prints "Warning: ..." instead of "Error: ...""
React version:

## Steps To Reproduce

1. Go at https://codesandbox.io/s/warning-issue-formik-v2-tutorial-start-forked-lwtxx?file=/src/index.js and type something in the Tool ID field. This reproduces one of these errors-warnings..
2. Take a look in the console and you will see an Error but.. a Warning, or Error (in fact it's considered to be an error)... , which is simply confusing.
![image](http

[2021-03-11 12:22] Alb-C commented on #4811
I don't see why you wouldn't have PropTypes when also using TypeScript. Those PropTypes will validate at runtime while TypeScript will just do it when compiling. For me, they seem to do very different things.

I know this was closed years ago, but I still find this a really useful request. I think I'd be useful to give it a second thought at this whole idea.

[2021-03-11 13:06] vincent38wargnier commented on #15865
Did anyone find a way to call a function inside a useEffect with empty array callback without adding bullshit code?

React has the power to make easy things impossible. I love it.

[2021-03-11 13:51] gaearon commented on #17276
https://github.com/facebook/react/pull/20976

[2021-03-11 15:31] #20806 closed

[2021-03-11 15:32] bvaughn commented on #20806
Thanks Chris! 👍🏼

[2021-03-11 15:57] roippi commented on #20806
Thanks Chris et al!  I'll follow up with a new issue if I find an alternative for sync xhr.

[2021-03-11 17:08] cqh963852 opened #20982 "Bug: useMemo exec twice in StrictMode,But console.log only exec once,console.debug exec twice"
React version:17.0.1

## Steps To Reproduce

1. Wrap app in StrictMode
2. Do a function in useMemo

Link to code example:

https://codesandbox.io/s/vigilant-tree-igscd

## The current behavior
The console.log in setSlot only exec once.
![image](https://user-images.githubusercontent.com/17702287/110825827-6a686600-82cf-11eb-976e-6e09de5bd615.png)

## The expected behavior
Exec the console.log twice

[2021-03-11 19:05] bvaughn commented on #20982
Related to #20367 and #20835 ([this comment](https://github.com/facebook/react/issues/20835#issuecomment-781393974))

tl;dr Executing code twice in DEV is one of the things `StrictMode` does to [detect side effects](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects). React temporarily overrides console APIs like log before the second invocation to avoid double spamming th

[2021-03-11 19:05] #20982 closed

[2021-03-11 19:39] hectorcoronado commented on #20431
Hi #bvaughn , I may not be able to start till next week, but I'd like to give it a shot if you're cool with it

[2021-03-11 19:40] bvaughn commented on #20431
Sounds great @hectorcoronado. Keep me posted.

[2021-03-11 22:10] jordyvandomselaar commented on #20097
Is there a downside to adding the `setActiveTab` to your dependencies? Because it's a custom hook, React doesn't know if `setActiveTab` changes or not, thus requiring it in the dependency array.

It's the same when you pass `dispatch` from `useReducer` as a prop to a different component; even though it never changes, you have to pass it because at that moment React cannot know if it changes or not

[2021-03-11 22:24] jordyvandomselaar commented on #20966
I'd like to take this issue as an opportunity for my first PR on React.

[2021-03-11 23:24] jordyvandomselaar commented on #20966
![image](https://user-images.githubusercontent.com/12712484/110868661-473ab800-82c9-11eb-8190-529fc8b0253a.png)
Gotcha ;)

[2021-03-12 00:15] jordyvandomselaar commented on #20966
@tulsidaskhatri thanks for the clear issue with tests for the cases you were talking about! Made opening a PR a lot easier =)

[2021-03-12 05:49] realJustinLee opened #20988 "Bug: React appends element twice when using `document.doby.appendChild()`"
React appends element twice when using `document.doby.appendChild()`

React version: 17.0.1

## Steps To Reproduce

1. Create a sample app with nix with the following code:
[code]
2. Add a child element to the document with  `document.doby.appendChild()` like demonstrated in the code example below.
3. Now save and run the app with code:
[code]
4. Now you gonna see 2 divs  called `Hello` with a 'He

[2021-03-12 08:33] eps1lon commented on #20988
Thanks for the report.

You're calling `document.body.appendChild(link);` in the constructor of a class component. The constructor must not have any side-effects. Rendering in StrictMode will cause React to call the constructor twice to detect these side-effects. More information about StrictMode behavior can be found in https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects.

[2021-03-12 08:33] #20988 closed

[2021-03-12 10:01] mungojam opened #20989 "Error: "getCommitTree(): Unable to reconstruct tree for root "1" and commit 7""
Describe what you were doing when the bug occurred:
1. Record a profile
2. Click on one of the stack frames
3. The error came up

I'll struggle to reproduce as the first time I did a profile against the same site this didn't happen and the code is not publishable

---------------------------------------------
Please do not remove the text below this line
-------------------------------------------

[2021-03-12 17:36] jordyvandomselaar commented on #20830
@cbaker would you be able to create a small example that triggers this bug? It's easier to find out what's wrong and check if a fix works if we have a small example of what's going on =)

[2021-03-12 17:42] jordyvandomselaar commented on #20700
@wildfrontend Could you add a small code example including the `useDispatch` hook that is failing? That way it's easier to check if something works or not and it makes it easier to identify what is going on =)

[2021-03-12 17:47] jordyvandomselaar commented on #20483
@tseveenganbold does it work on a playground when opening that playground in Chrome?

[2021-03-12 17:48] cbaker commented on #20830
@jordyvandomselaar Sure, is a github repo with reproducible code acceptable? I feel like my example wouldn't particularly run well in codesandbox.

[2021-03-12 17:51] jordyvandomselaar commented on #20222
Hi @sweetliquid would you mind explaining why you'd need this? Even if you could, it's probably not a good idea to mess with the internals =)

Maybe  I can suggest an alternative.

[2021-03-12 17:51] Dremora opened #20990 "Bug: performing input.select() in IE11 throws a React error"
The example below is extracted from the app with a spreadsheet-like UI, where cells become editable upon focus (can be achieved either by tabbing into the cells or clicking). The text in such cell immediately becomes selected.

The bug occurs only in IE11, as the user navigates from one such cell to another by clicking.
Likely related to https://github.com/facebook/react/pull/19664.

React version

[2021-03-12 18:07] jordyvandomselaar commented on #20160
Hi,

I've made a sandbox with your code: https://codesandbox.io/s/thirsty-beaver-5qp86?file=/src/App.js

By spreading deps into an array eslint understands that it's an array. Make sure to memoize it though because else you'll keep creating new arrays.

As for `effect`, one of the rule of hooks is that any variable you access inside a hook should be added to the dependency array. This make sure Re

[2021-03-12 18:11] jordyvandomselaar commented on #20111
Hi,

Wouldn't you be able to access `state` directly? Components have `this.state` and  `useState` always returns an array where the first item is the actual state and the second item is the setter.

[2021-03-12 18:12] jordyvandomselaar commented on #20111
Could you make a small codesandbox with what you're trying to do? That makes it easier to see what you mean and propose a fix =)

I'm almost certain `useEffect` or `componentDidUpdate` might solve your usecase but I'm not sure.

[2021-03-12 18:15] jordyvandomselaar commented on #20830
@cbaker That should be fine =)

[2021-03-12 19:37] Gentlee commented on #14099
I got **problem** with **invalidated callback** when try to call it **after some state mutation**.

Very simplified example:

[code]

Here `navigateToNextPage` uses old state in its closure and leads to a wrong screen.

I had to create `useNextUpdateCallback` hook to make it work on the next render:

[code]

**Implementation:**

[code]

**Problems:**

- Navigation happens not immediately, this fee

[2021-03-12 21:31] jasongornall opened #20991 "Bug: setState behaves sync when inside a promise callback and async when not."
[code]

React version:
React 16.12.0
React-Dom 16.12.0

## Steps To Reproduce

1. Toggle between 2 functions in componentDidMount and observe changes to state and observe console

Link to code example:
https://codesandbox.io/s/badjokes-forked-3o08z?file=/src/index.js SetState

## The current behavior
setState is sync inside a promise callback

## The expected behavior
setState should always by asy

[2021-03-12 21:45] jasongornall commented on #20991
I recognize https://reactjs.org/docs/react-component.html#setstate This states that it **does not always immediately update the component** but when does it decide to do that and why? I'm worried this can lead to accidental bugs if this is non deterministic. Is there a way to force this to always be async for development purposes so people don't accidentally rely on this being sync?

[2021-03-12 22:06] jordyvandomselaar commented on #20991
Hi,

Are you loading all polyfills: https://create-react-app.dev/docs/supported-browsers-features/?

[2021-03-12 22:08] jasongornall commented on #20991
no but I'm running this on latest chrome.

[2021-03-12 22:13] jasongornall commented on #20991
I found a tweet that suggests the right answer: https://twitter.com/dan_abramov/status/959507572951797761
Is this still the case?

[2021-03-12 22:17] jordyvandomselaar commented on #20991
I'm so sorry, my first reply is on the wrong issue 😅

[2021-03-12 22:18] jordyvandomselaar commented on #20991
I'm not sure if it is still the case to be honest. I've since moved on to hooks which are a lot less weird to me =)

[2021-03-12 22:20] jordyvandomselaar commented on #20991
In any case, I strongly suggest not to depend on it being synchronous. Because `setState()` is more of a request than an order, React decides when it can safely update the state best. This is usually near to instant but could take a little bit longer if React thinks that's a good idea.

[2021-03-12 22:24] jordyvandomselaar commented on #20903
Hi,

There's plenty of tools that can help with Mocking including Jest and Sinon. Is there a specific case those tools don't handle yet? Even if React had a provider that allows you to mock components, you'd still need one of those tools to actually write your tests.

If you have a specific case that doesn't work as intended yet, I'd be happy to take a look!

[2021-03-12 22:49] jordyvandomselaar commented on #20950
Can confirm that manually adding event listeners does work, not sure what's going on but it sure is weird.

[2021-03-12 23:04] jordyvandomselaar commented on #20950
It does work in this sandbox: https://codesandbox.io/s/broken-snow-9v7y7?file=/package.json:166-186

Currently trying to find what part of your setup might be causing this

[2021-03-12 23:17] jordyvandomselaar commented on #20950
I've even pasted your code into the codesandbox and that does work. I can't seem to find why but it seems to be a problem with this setup specifically.

[2021-03-13 02:03] markerikson commented on #20991
This is entirely standard and intentional behavior. Currently, React only batches state updates that happen within its own event handlers. Logic in a promise callback is outside that event handler tick and thus outside the batching wrapper, so it's processed synchronously

https://blog.isquaredsoftware.com/2020/05/blogged-answers-a-mostly-complete-guide-to-react-rendering-behavior/#render-batching

[2021-03-13 08:13] eps1lon commented on #20991
Closing since this is expected behavior.

https://github.com/facebook/react/issues/20991#issuecomment-797789432 and are great answers https://github.com/facebook/react/issues/20991#issuecomment-797847609.

[2021-03-13 08:13] #20991 closed

[2021-03-13 08:29] eps1lon commented on #20990
Codesandbox: https://codesandbox.io/s/serene-kapitsa-mw16s
Deploy for IE 11 testing: https://csb-mw16s.netlify.app/

Invariant is https://reactjs.org/docs/error-decoder.html?invariant=327

Console log when replaying:
[code]
The UI does not crash i.e. unmount.

[2021-03-13 10:21] lstkz commented on #20111
Here is a similar discussion https://github.com/facebook/react/issues/15337
You can create your own version of `useState` (which is simple to implement):

[code]

It would be good to have it in the standard API because there are valid use cases for it.
For example: when you use `setInterval` you can't have access the latest state. Invalidating the callback can be problematic.

[2021-03-13 11:03] 832bb9 commented on #20111
Yeah, this is similar to what I am doing now, but instead of extending `useState` I am using `useStableCallback` hook which implements class-like-components semantics (have stable identity but returns latest render scope). The question is if it is valid to use current react API for this case without any additional work.

[2021-03-13 11:10] 832bb9 commented on #20111
Please check description. I need accept current state in async handler in a while after calling it. Handlers scope has access only to render scope before calling, so if state would be changed until I check my handler can’t accept latest state. It can be resolved via refs (this is what I am doing now), but if I can accept it without working with them it would be better.

[2021-03-13 14:27] stephenh commented on #20903
Hi @jordyvandomselaar , thanks for the reply! My main ask is to have React provide a stubbing solution that doesn't depend on hacking Node's `require`.

In our codebases, even running a single test is starting to slow down (~200-400ms per test method), and profiling shows a non-trivial amount of time is spent inside of Jest's module `require` abstraction/mocking layer.

Granted, we do just have a

[2021-03-13 14:40] adrian-kriegel commented on #20950
@jordyvandomselaar thank you for looking into this. I suspect that it may have to do with @babel/plugin-transform-react-jsx and not react itself as the jsx-transform has been changed in React 17

[2021-03-13 17:18] bvaughn commented on #20989
I'm sorry you experienced this bug! 🙇

Looks like this problem was already reported though (#19602) so I'm going to mark this issue as a duplicate and close it. If you have additional context that might help us repro this problem, please leave a comment on the other issue!

(I understand that it's difficult to repro this issue, but if you _are_ able to figure out a repro it would be _hugely helpfu

[2021-03-13 17:18] #20989 closed

[2021-03-13 18:15] hecerinc opened #20997 "Bug: Can't build react-devtools-extensions"
I've just cloned the repo, ran `yarn`, and then `yarn build-for-devtools` as explained in the [README](https://github.com/facebook/react/blob/master/packages/react-devtools-extensions/README.md) but when trying to run `yarn build:firefox:dev` it can't find the packages I just built.

![image](https://user-images.githubusercontent.com/7988472/111039185-9d028380-83e1-11eb-8b45-8e459ec5eaa5.png)

I t

[2021-03-13 18:52] jordyvandomselaar commented on #20950
Maybe you could give this a try: https://www.npmjs.com/package/babel-preset-react-app

it's the one codesandbox uses through the react-scripts package!

If you don't know it yet, I can also greatly recommend https://github.com/facebook/create-react-app, it makes setting up new projects a breeze and takes care of weird stuff like this =)

[2021-03-13 19:01] jordyvandomselaar commented on #20903
No problem =), thanks for taking the time to explain what issues you're running in to!

I personally don't think there's a much better solution than require hijacking to be honest 😅 A solution I'm used to from backend development is dependency injection so you can swap out dependencies but injecting all components would be worse than the 400ms hit per test 😅

I'll admit that I haven't look at how

[2021-03-13 19:17] jordyvandomselaar commented on #20111
@832bb9 Is it possible to do the async work first and then after that access the state instead of sending state to the async method, doing some work and then accessing the state?

[2021-03-13 20:43] jasongornall commented on #20991
These explanations are great, and thankyou for the links!! Would it be possible to get this officially documented?

[2021-03-13 20:50] markerikson commented on #20991
FWIW, the React team is currently working on a complete rewrite of the docs:

https://github.com/reactjs/reactjs.org/issues/3308

Not sure what specifically will be in there, but I'm hopeful that some of the behavior like this will be covered.

[2021-03-13 21:27] MadsHornbeck opened #20999 "Bug: preventDefault on `onTouchMove` is not preventing scrolling on iOS"
Adding a `onTouchMove` handler that calls `preventDefault` is expected to stop scrolling on iOS but doesn't.
If the same is done by manually adding the event using a ref and `addEventListener` has the expected behavior of not scrolling the page.

React version: 17.0.1
iOS safari version: 14.4

## Steps To Reproduce

1. Add an `onTouchMove` event handler to a div.
2. Call the the `event.preventDefa

[2021-03-13 22:09] Dawnthorn commented on #19034
I wonder if it would make more sense to move the effect callbacks async check into a separate rule like `react-hooks/async-use-effect`? In this case we want to check the dependencies, but we don't want the async check. If they were separate rules we could configure them separately.

[2021-03-13 23:50] webuniverseio commented on #10879
If you run into this issue because you use `express-react-views` with `beautify` option, you can use [directives](https://www.npmjs.com/package/js-beautify#user-content-directives) for those parts that you plan to hydrate.

[2021-03-14 00:48] Xdev200 opened #21000 "Bug: Anchors tags are not working in chromium browser"
https://reactjs.org/docs/hooks-reference.html
Anchor Tags are not working in the above link in the chromium-browser.
But, It only works when we open the developer tool.

![react org anchor tag issue](https://user-images.githubusercontent.com/65798140/111053768-a8f74f80-848c-11eb-89a2-c7927e569051.gif)

## Steps To Reproduce

1. open the link - https://reactjs.org/docs/hooks-reference.html

[2021-03-14 01:09] alundiak commented on #16295
@my-illusion @brunitob I did have my reducer function OUT of main functional component, and neither regular `function` nor `const` approach helped to avoid double executing reducer function (switch for action.type entered twice, but console.log() was always single).

In my code, I do have a few actions, and one does `Math.random()` and I put code INSIDE of `switch` `case` clause. And as a solution

[2021-03-14 01:22] stephenh commented on #20903
After thinking about it, I think the `jsxImportSource` could solve this.

Basically instead of the default React/JSX runtime, I could make a `mocked-components/jsx-runtime` that, at least for JSX calls, would mean all `<Foo ...>` would get piped into a `_jsx(Foo, ...)` method that I control, and could do something like "if component === Foo, use MockFoo" within that `_jsx`.

That's not _exactly_ w

[2021-03-14 01:22] #20903 closed

[2021-03-14 14:07] eps1lon commented on #20999
Thanks for the report.

`onTouchMove` is passive by default i.e. `cancelable` is `false`. This is intended behavior to follow Chrome's interventation with scroll/touch events on the `document`.

For more context, check out https://github.com/facebook/react/issues/19651

[2021-03-14 14:07] #20999 closed

[2021-03-14 14:16] fast-reflexes opened #21002 "Bug: Unsupported HTML entities"
Many of the HTML entities presented at https://dev.w3.org/html5/html-author/charref are not supported by React, why is this?

## Steps To Reproduce

Check https://codesandbox.io/s/react-unsupported-html-entities-yr9rj

## The current behavior

React recognizes some entities as string literals which may cause problems when the browser in question in fact supports the entity but React tricks the bro

[2021-03-14 19:23] mvskiren commented on #21002
It seems React Dom has backlisted some HTML entities due to XSS attacks. Even I came across this issue and read the documents and by using dom parser I can achieve those unsupported ones, you can have a look I have used dom parser and it outputs unsupported entities.
[](https://codesandbox.io/s/react-unsupported-html-entities-forked-q3t9t?file=/src/App.js:0-2305)

https://medium.com/@Jam3/how-to-p

[2021-03-14 20:11] bvaughn commented on #21000
Hm. This doesn't repro for me, but...worth someone looking into. 😄

That being said, please file this on the docs repo: https://github.com/reactjs/reactjs.org

[2021-03-14 20:11] #21000 closed

[2021-03-14 20:13] bvaughn commented on #20997
Does it work if you download the latest React build rather than building it locally? The README also [shows how to do that](https://github.com/facebook/react/blob/master/packages/react-devtools-extensions/README.md#download-from-ci).

I don't have a Windows machine so this isn't something I'll be likely to troubleshoot. If you'd like to dig in and submit a PR though, happy to review.

[2021-03-14 20:33] hecerinc commented on #20997
No, actually trying to fetch the build fails with a different error:
![image](https://user-images.githubusercontent.com/7988472/111083248-cdbde800-84c9-11eb-99d0-4ff42061ce1a.png)

I understand. I'll try to take a look at it more in depth if I get the time later today.

Thanks

[2021-03-14 21:28] nicholaschiang opened #21003 "Bug: Can't use TypeScript generics with React.memo"
React version: 17.0.1

## Steps To Reproduce

1. Clone [this repro](https://github.com/nicholaschiang/react-memo-types):
[code]
2. Install dependencies:
[code]
3. Start the development server:
[code]
4. See error:
[code]

Link to code example: https://github.com/nicholaschiang/react-memo-types/blob/master/src/App.tsx#L28

[code]

## The current behavior

The [current React types](https://npmjs.com

[2021-03-15 02:52] bvaughn commented on #21003
The React team does not maintain TypeScript type definitions. Those are maintained here: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react

I suggest filing an issue in the DefinitelyTyped repo 👍🏼

[2021-03-15 02:52] #21003 closed

[2021-03-15 03:43] jackyef commented on #20901
Possibly related #20074

[2021-03-15 07:50] satish-rajnale commented on #20997
Can't you just go on chrome and add extension provided there..?

[2021-03-15 10:03] codeslon opened #21006 "Bug: e.stopPropagation() not working with OnMouseOut."
notice! it seems that if I change to onMouseLeave it's working fine.
<div onMouseEnter={(e)=>{
    setIsHide(false)
    {!isHide && <div className="tooltip" onMouseOut={(e)=>{
                e.stopPropagation();
                setIsHide(true);
     }}>
        <div style={{padding:"17px", background:"blue"}}>&nbsp;</div>
        something
     </div>}}
</div>

[2021-03-15 11:40] seedy commented on #20331
My eslint version depends on CRA. It seems that latest package updates solved the issue. Sorry for not closing earlier.

[2021-03-15 11:40] #20331 closed

[2021-03-15 12:20] devolab opened #21007 "Bug: firebase and service-workers.js caching"
Hi,

I have caching issue when using Firebase Hosting and React service-workers.js.
I know this problem has been previously reported here: https://github.com/facebook/create-react-app/issues/2440 , but we are in 2021 and the solution suggested is not working.

The solution is to modify the firebase.json file with this snippet:
[code]

This is my firebase.json file:
[code]

React version: "react":

[2021-03-15 13:44] bvaughn commented on #21007
The correct place to report this issue, as mentioned in the description of this bug report, is  https://github.com/facebook/create-react-app/

Please file this issue there. This repo is for React itself, not create-react-app.

[2021-03-15 13:44] #21007 closed

[2021-03-15 13:46] #20997 closed

[2021-03-15 14:55] devolab commented on #21007
@bvaughn thank you.
New issue, if anyone is interested, is here: https://github.com/facebook/create-react-app/issues/10686

[2021-03-15 22:07] FSM1 commented on #16501
Also getting this error rendering 2 complex SVG's on the page. Any advice in resolving would be appreciated.

[2021-03-15 23:30] gaearon commented on #16501
To be clear, the error is coming from React DevTools. While it's unfortunate and would be nice to fix, you can always disable the extension if it's interfering with your work.

[2021-03-16 08:54] adrian-kriegel commented on #20950
Thanks, unfortunately, using babel-preset-react-app does not solve the problem. I know about CRA but I'd like to work with as little dependencies as I actually require.

[2021-03-16 10:11] eggachecat commented on #20453
hello any possible alternative for this use case?
I am currently using react to build a chrome extension popup page as a large frontend project and it is extremely useful to get the devtool works!

[2021-03-16 12:13] aakanshaMobiux opened #21017 "Error: "value is undefined""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.10.1-f160547f47

Component stack: AutoSizeInput_AutoSizeInput@moz-extension://6771c444-a697-4d61-8335-78ea7432464f/build/main.js:29827:19
Field@moz-extension://6771c444-a697-4d61-

[2021-03-16 12:14] #21017 closed

[2021-03-16 13:35] jordyvandomselaar commented on #20950
Maybe you could try if `babel-preset-react-app` works though, that way you don't need the entire CRA tooling.

[2021-03-16 13:45] dexiouz commented on #17930
Were you able to solve this because I am currently having same issue

[2021-03-16 14:19] gaearon commented on #20950
OK so this is a pretty interesting case.

You accidentally **run your application code twice**. This is because your `<script>` tag is in the HTML, but the webpack plugin you're using *also* adds the same `<script>` tag automatically:

[code]

You end up with two bundled copies of React, both of which try to manage the same exact DOM node. This is not supported and leads to weird issues like this.

[2021-03-16 14:19] #20950 closed

[2021-03-16 14:24] danielo515 commented on #17855
This is a very annoying problem. Is there any way that I con "clear" it? many times it gets stuck when I switch between react developer tools and the elements tab

[2021-03-16 15:09] FSM1 commented on #16501
@gaearon absolutely understood. Got around this by rendering the SVG as an `<img src={SVG}/> instead of a React component

[2021-03-16 19:08] xialvjun opened #21019 "Bug: Empty deps useEffect be called on re-render in HMR"
Empty dependencies useEffect should be called only one time.

React version: v17.0.1
react-refresh: v0.9.0

## Steps To Reproduce

Link to code example:

https://codesandbox.io/s/headless-bash-0fhis?file=/src/App.js

## The current behavior
Re-render in HMR cause empty deps useEffect rerun.

## The expected behavior
Empty deps useEffect should run only one time, and not rerun on re-render in HMR.

[2021-03-16 22:17] gaearon commented on #21019
This is not a bug, it's intentional behavior and the only way this feature could work.

When we update the code, we need to "clean up" the effects that hold onto past values (e.g. passed functions), and "setup" the new ones with updated values. Otherwise, the values used by your effect would be stale and "disagree" with value used in your rendering, which makes Fast Refresh much less useful and hu

[2021-03-16 22:17] #21019 closed

[2021-03-16 23:57] priyanshuSharma-WebDev commented on #20990
Hey! @Dremora, Is this bug still reproduce, If yes I want to work on this issue can you assign it to me?

[2021-03-17 00:01] Dremora commented on #20990
Hey @priyanshuSharma-WebDev, the bug is still there, to the best of my knowledge. Feel free to pick it up, but I don't have permissions to assign anyone to this issue. This is likely reserved to React contributors.

[2021-03-17 02:23] Fcscanf opened #21022 "Bug: The @babel plugin-proposal-class-properties plug-in configuration is not in effect"
React version:

## Steps To Reproduce

I used the ```yarn eject``` command to open the automatic configuration of Webpack. So, uh... JS is configured with the Babel plugin@babel  plugin-proposal-class-properties, but it has no effect, it should be handled by the Filter method, and then I’m on package.json file . The plug-in is configured with a JSON file and is not yet in effect

Link to code exam

[2021-03-17 03:01] xialvjun commented on #21019
But we have declared that the effect depend on no other things.

In your words, I try to think: state is just as a mechanical spring, and effect is as a force.

But does it really meets our needs? Is it really the word `effect`'s meaning?

In current status, it seems every effect needs clean up. But didn't we treat effect as a tool to communicate with external system? How can we undo effect if the

[2021-03-17 03:47] gaearon commented on #21019
Technically effect always depends on the *code of the function* itself. Normally it can’t change. But Fast Refresh presents a situation in which conceptually the code itself “changes”. So it’s like an implicit dependency.

Usually in that case the solution is “reinstatiating” that system. For example if it only exposes a destroy method, then you need to make sure that the effect itself creates it.

[2021-03-17 03:48] gaearon commented on #21019
If you have a concrete case as a sandbox I can look in more detail.

[2021-03-17 04:44] xialvjun commented on #21019
Well, I think I get it.

HMR is the special case in which the effect code may change.
To keep the effect sync with the code, `react-refresh` will rerun the empty deps effect.
In normal js running, the effect code will not change, it's static, so everything is ok.

Thanks for your explanation.

[2021-03-17 05:37] #21022 closed

[2021-03-17 07:29] fast-reflexes commented on #21002
@mvskiren Yeah I noticed `setDangerouslyInnerHtml` can be used and thanks for showing that `DOMParser` can be used as well.

This is typically not a problem when using React on its own since there are multiple alternatives for most entities but when using React with other libraries, some very confusing results may occur if one does not know all of this. Do you have a source on the backlisting of e

[2021-03-17 09:29] alex-buys-github commented on #19430
This seems to work: https://github.com/MarshallOfSound/electron-devtools-installer/issues/157#issuecomment-704792363

[2021-03-17 18:22] bvaughn opened #21023 "react-devtools-inline package currently broken by react@experimental dependency"

[2021-03-17 22:16] jedwards1211 commented on #3005
"what you render is what you get" is the fundamental expectation you get used to when working with React, so it's a catastrophe when it doesn't work out that way...

[2021-03-17 22:18] cl8n opened #21025 "Bug: HTMLSelectElement.value doesn't update to defaultValue on form reset"
For uncontrolled inputs, [docs here](https://github.com/facebook/react/blob/master/fixtures/dom/src/components/fixtures/text-inputs/README.md#form-reset-events) say that `reset()`ing a form should change all inputs' `value`s to `defaultValue`. This doesn't seem to be working for `HTMLSelectElement`.

React version: 17.0.1

## Steps To Reproduce

1. Set a `defaultValue` on \<select\> to some variab

[2021-03-18 00:32] bvaughn opened #21026 "Bug: DevTools built-in hook number badges are broken for "light" theme"
I mostly use the "dark" theme which these badges looked good in. The "light" theme is broken though. No contrast.

[2021-03-18 03:01] yhor1e commented on #19778
My situation is the same as this issue.

I think it's occurred by [Fragments](https://reactjs.org/docs/fragments.html).

I changed

like below and "highlight updates when components render" seems to work fine.

https://codesandbox.io/s/xenodochial-tharp-eq669

L56-71
[code]

[2021-03-18 05:32] tsdexter opened #21030 "Bug: context value is not updated with useContext hook but it is with a Consumer component"
React version: 17.0.1

## Steps To Reproduce

1. create context
2. wrap app in `Context.Provider` with a value from a `useState` hook
3. get the context value with `useContext` hook
4. get the context value with a `Context.Consumer`
5. update the value from the `useState` hook that is passed into the `Context.Provider` `value` prop
6. The `useContext` value is not updated whereas the `Context.Cons

[2021-03-18 06:11] tsdexter commented on #14759
@pitops I created a new issue here: #21030

[2021-03-18 09:06] eps1lon commented on #21030
Thanks for the reproduction.

The `useContext` usage is not inside the Provider. I've unwrapped the code to illustrate what React is "seeing":

[code]

The `useContext` hook needs to be called "inside" the provider tree:
[code]

Does this clear things up?

[2021-03-18 11:47] ablamunits opened #21031 "Bug: Creating a portal within a shadow root breaks event handlers"
With React 16 there seem to be issues related to using a portal within the shadow dom. Possibly this is related to issues with event delagations that are [solved]("react-dom": "^17.0.1") with React 17.

I have a part of my app rendered within a shadow dom. In there, I conditionally render some input using `createPortal` elsewhere in the dom. When the input field is rendered using a portal, the eve

[2021-03-18 13:47] boxofrox commented on #3236
I'm not a developer on the React team, so I ultimately decide nothing here, and I'm not sure if this remark is meant to be petulant or not.

The short answer is, "It's a compromise".  The long answer requires knowing the reasons the React team decided to drop `replaceState`, of which this was asked for from the React team, and never provided by the React team.  I provided one technical reason abov

[2021-03-18 13:55] syranide commented on #3236
@TanaseHagi @boxofrox AFAIK, the reason can be summarized as; state should have a predefined structure and not be any random object/properties. So if your component can have a+b+c as properties in state, then these should always be present (whether they are undefined/null is irrelevant as long as they are present).

I would expect the reason for this to be two-fold; best practice and performance.

[2021-03-18 14:24] tsdexter commented on #21030
🙄 I knew it was something simple...don't code past midnight, I suppose. I've fixed it in the repro here: https://codesandbox.io/s/lucid-tdd-cz6pn?file=/src/App.js in case others come across this

[2021-03-18 14:24] #21030 closed

[2021-03-18 16:33] mtiberi commented on #20829
My workaround is to put a script in the index.html file:

<script>
   if (!crossOriginIsolated)
     SharedArrayBuffer = ArrayBuffer
</script>

[2021-03-18 21:14] etomanon opened #21033 "Bug: invokeGuardedCallbackDev called too many times in dev mode"
React version: 17.0.1

## Steps To Reproduce

1. Create table with virtualized rendering
2. Dev mode: Watch frames per second go to 1 for more than 1438ms in dev mode due to invokeGuardedCallbackDev calls when the scroll triggers rendering of new rows
3. Prod mode: Frames per second go to 7 for 139ms

### Dev mode performance:
![image](https://user-images.githubusercontent.com/17390813/111695753-b

[2021-03-19 00:56] bvaughn commented on #21033
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://codesandbox.io/s/new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem. Screenshots or videos can also be helpful if they help provide context on how to repro the bug.

Here are some tips for providing a minimal example: https://

[2021-03-19 00:57] bvaughn commented on #21033
To clarify:

This isn't a repro. Please attach runnable code. :smile:

[2021-03-19 01:25] gianjohansen commented on #13097
bump

[2021-03-19 13:52] #21026 closed

[2021-03-19 15:23] nordfjord opened #21035 "Bug: aria-description is a valid ARIA property"
React version: 16.x

## Steps To Reproduce

1. `render(<div aria-description="Description" />)`

Link to code example:
[flems link](https://flems.io/#0=N4IgZglgNgpgziAXAbVAOwIYFsZJAOgAsAXLKEAGhAGMB7NYmBvAHgBMIA3AAgjYF4AOiAwAHUcIB8gtN24yWAeg6dJlEHBixqxCPQSIQARkQAmEAF8K6bLkP4AVgip0GTYngBKMDDoAiAPIAsvgATkxsMKEAFOxc3BihEBgAtJFw1EmiuvRCIH7wmRDZemjC3IqSFAniAJTqdFii0FF4AEYYbVqW1iCYOHj41HDONPSMzIaWALpUUBB

[2021-03-19 15:41] sureshjangid opened #21036 "React App Show me this Error"
![Screenshot (234)](https://user-images.githubusercontent.com/75411144/111806067-9bf8b700-88f7-11eb-8c82-cf96ba48aea4.png)
![Screenshot (233)](https://user-images.githubusercontent.com/75411144/111806017-90a58b80-88f7-11eb-8931-6ac4c0da7221.png)
![Screenshot (235)](https://user-images.githubusercontent.com/75411144/111806390-ed08ab00-88f7-11eb-81bf-69536ba1df64.png)

[2021-03-19 15:42] sureshjangid commented on #21036
![Uploading Screenshot (235).png…]()

[2021-03-19 15:58] vicasas commented on #20829
Why is this closed?

[2021-03-19 16:01] MichielDeMey commented on #20829
Because the fix has been merged to master. https://github.com/facebook/react/pull/20831

[2021-03-19 16:42] bvaughn commented on #21036
Screenshots of code (files) aren't really a repro. Please share actual runnable code.

[2021-03-19 17:14] vkurchatkin commented on #21036
There shouldn't be a newline after `return`, `(` should be on the same line

[2021-03-19 19:12] jjenzz commented on #20770
@behnammodi Yes, I am aware that delaying things will make it work, these are all things I tried when debugging it but I shouldn't have to do that. It works perfectly fine in other browsers.

[2021-03-20 03:08] sureshjangid commented on #21036
Thank You So much, sir, For your Response. Now the code is working.

[2021-03-20 03:20] #21036 closed

[2021-03-20 06:15] rmkanda opened #21042 "Bug: Scheduler - SharedArrayBuffer deprected"
React version: 17.0.1

## Steps To Reproduce

1. Use latest react and check chrome console

## Issue

[Deprecation] SharedArrayBuffer will require cross-origin isolation as of M91, around May 2021. See https://developer.chrome.com/blog/enabling-shared-array-buffer/ for more details.

[code]

[2021-03-20 10:09] AlexandreBourdeaudhui commented on #21042
Same as https://github.com/facebook/react/issues/20829 ? 🧐

[2021-03-20 10:36] eps1lon commented on #21035
I guess the question is what React considers a "valid" aria prop:
1. a specific version (range) of Aria
1. a version with a [particular state](https://www.w3.org/2004/02/Process-20040205/tr.html#:~:text=A%20Working%20Draft%20is%20a,public%2C%20and%20other%20technical%20organizations.&text=A%20Candidate%20Recommendation%20is%20a,the%20Working%20Group's%20technical%20requirements.) (WR,CR,PR,REC)
1.

[2021-03-20 13:27] gaearon commented on #21042
Yes, this is a duplicate.

[2021-03-20 13:27] #21042 closed

[2021-03-20 13:31] gaearon commented on #20829
We don’t generally backport anything except critical security fixes. My understanding is that the only problem here is a warning. Not that something would actually break. Do you have evidence to the contrary?

[2021-03-20 17:10] benjamingr opened #21043 "Feature request: Consider supporting AbortSignal/AbortController for cleanup"
Hey, I've recently worked on adding support for `AbortController/AbortSignal` in a bunch of Node.js APIs and some DOM ones and I think it would be really cool if React added support to the web platform's cancellation standard primitive.

Basically the ask is:

[code]

Or with events:
[code]

I can bring in more examples. It's also possible to keep the API compatible with the existing API or create

[2021-03-20 17:18] rsgilbert commented on #11369
Whats the status on this issue?

[2021-03-20 21:01] archithadge commented on #13991
Thanks @apieceofbart It worked from me.

[2021-03-21 08:32] benjamingr commented on #21043
(I am also happy to contribute code for this - though I seriously doubt that's the blocker)

[2021-03-21 09:45] DaniAkash opened #21045 "Bug: Internal state not resetting if a component replaces itself in the DOM Tree"
React version: 17.0.1

## Steps To Reproduce

1. I have a Tab implementation where two tabs have a dropdown (using react select / downshift - issue appears on both).
2. If I have two dropdown components replace each other on switching tabs, the internal state is not getting reset for the components. The dropdown of the second tab has the value selected by dropdown in the first tab!
3. To workaroun

[2021-03-21 10:52] singhdeepanshu opened #21046 "Error: "Commit tree already contains fiber 1. This is a bug in React DevTools.""
I was just recording through the profiler in react-dev-tools. I started the recording and stopped it.
I clicked on the arrow, select next commit and after 4-5 simultaneous clicks and got this issue.
The image is attached below for your reference.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools vers

[2021-03-21 14:13] vkurchatkin commented on #21045
How would react know that it is a different tab?

[code]

This code is just the same as writing `<AsyncSelector />`

[2021-03-21 15:21] bvaughn commented on #21046
I'm sorry you experienced this bug! 🙇

Looks like this problem was already reported though (#18859) so I'm going to mark this issue as a duplicate and close it. If you have additional context that might help us repro this problem, please leave a comment on the other issue!

Thank you~

[2021-03-21 15:21] #21046 closed

[2021-03-21 15:23] bobsmits commented on #20863
I noticed the same thing on react-native. I am able to update view position with a call to the native side in use effect before the changes are drawn to the screen.

[2021-03-21 15:24] bvaughn commented on #21045
The solution for this is to use a different `key`, e.g.
[code]
Otherwise these two components are exactly the same to React :smile:

[2021-03-21 15:24] #21045 closed

[2021-03-21 17:06] DaniAkash commented on #21045
@bvaughn thanks for the solution. I have implemented a simple use case here. We ran into a much bigger issue when we were using components that had the same Tree structure in different tabs. Would be nice if this is documented in the key section 👍🏽

[2021-03-21 17:38] Schneider95 commented on #13991
I have the same issue here, and tried everything I can.

This returns true.
[code]

Those commands return this.
[code]

And I use a functionnal component, not a class component :
[code]

[2021-03-21 19:21] Slapbox opened #21047 "Bug: React Refresh throws error, only on macOS"
React Refresh throws error, only on macOS. I originally reported that on the React-Refresh-Webpack-Plugin, but @pmmmwh noticed the error actually seems to be coming from React Refresh itself. https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/333

**React version:** 17.0.1

**Environment:** macOS 10.13.x - Electron@11.3.x - Webpack@5.x

## Steps To Reproduce

1. Configure React-Refresh

[2021-03-21 19:25] Slapbox commented on #21047
The code in question on line 461 of `./node_modules/react-refresh/cjs/react-refresh-runtime.development.js` is:

[code]

[2021-03-21 19:59] vkurchatkin commented on #21043
It seems like something that can be trivially implemented as a separate package.

[2021-03-21 20:53] n0wak commented on #17593
@mukkurum but the spec literally says a TR can be a child of TABLE

<img width="948" alt="Screen Shot 2021-03-21 at 16 52 28" src="https://user-images.githubusercontent.com/754821/111920518-d3857180-8a65-11eb-9825-194051083fd3.png">

<img width="965" alt="Screen Shot 2021-03-21 at 16 51 02" src="https://user-images.githubusercontent.com/754821/111920490-adf86800-8a65-11eb-8f90-d9fffc55a5a8.png">

[2021-03-22 05:28] Qwertie- commented on #16474
@andrewchen5678

In my hooks I just do

[code]

This way they show up in the dev tools with names. Then when you want to update you can do

[code]

[2021-03-22 09:08] benjamingr commented on #21043
@vkurchatkin it's always possible to wrap all the React hooks in whatever wrapper we want I think? AbortSignal is the web-platform standard way to do cancellation - doing a "reverse wrapper" back to the standard way seems very backwards to me.

This is less about "this makes code easier for me personally to write" and more "this makes React behave like the web platform and Node in this regard".

[2021-03-22 09:10] kambleaa007 opened #21048 "Bug: react hooks gets executed two times"
as i clicked on button only once,
![image](https://user-images.githubusercontent.com/19818679/111965030-48ff4980-8b1b-11eb-9a7e-dec919d105eb.png)
call stack
![image](https://user-images.githubusercontent.com/19818679/111965088-59afbf80-8b1b-11eb-913d-b18ec839d252.png)
 after continue, it gets called again without clicking on button

gets called again
![image](https://user-images.githubusercontent.

[2021-03-22 09:41] eps1lon commented on #21048
Could you point to the particular hook that gets called twice?

Though I suspect this is expected behavior considering [your app is rendered in StrictMode](https://github.com/kambleaa007/TrainingReactJS/blob/0a5ccd1fe9590467adf1d8f0477fa5fc636cd897/src/index.js#L8-L10).

`React.StrictMode` executes certain functions twice in development to [detect problematic side-effects](https://reactjs.org/docs

[2021-03-22 09:44] kambleaa007 commented on #21048
how do i overcome this problem? is there any special technique will do that?

[2021-03-22 09:48] eps1lon commented on #21048
`useReducer` is one of the methods that must be side-effect free. But it's hard to give general advise where to move side-effects. That is usually specific to a particular type of problem.

I suggest checking out https://reactjs.org/community/support.html and choosing one of the support platforms of your preference. The react issue tracker is not the right place since these type of questions stay

[2021-03-22 09:48] #21048 closed

[2021-03-22 10:07] agektmr commented on #20829
Starting Chrome 91, `'SharedArrayBuffer' in window` will return `false` on environments without cross-origin isolation. This shouldn't be a breaking change for React as far as I can tell.

FWIW, you can emulate how it will behave in Chrome by launching it with a command line flag `--enable-features=RestrictSharedArrayBuffer`. Here's instructions: https://www.chromium.org/developers/how-tos/run-chr

[2021-03-22 11:25] benoitgrelard opened #21049 "Bug: `onMouseEnter` triggered twice on target when there's space around it, and ReactDOM.createPortal is used to render something else"
React version: 17

## Steps To Reproduce

1. Hover the button
2. Note the double log produced

Link to code example: https://codesandbox.io/s/react-mouseenter-bug-uyswr?file=/src/App.js

## The current behavior

The `onMouseEnter` is triggered twice.

## The expected behavior

The `onMouseEnter` should be triggered only once.

---

A few more notes:
- I've tested on React 16.14 and it seems that b

[2021-03-22 11:46] BenjaminCharpentier commented on #21025
This doesn't seem like a bug to me, reset() simply revert the inputs value to the current DefaultValue, which is set only on the mounting phase

As you can see here : https://codesandbox.io/s/crimson-frost-ztcwi?file=/src/App.js
If I add a key associated with defaultValue which force the component to remount, the value is set correctly.

[2021-03-22 14:58] yuhongda commented on #20417
Hi, can you talk more about the customized esbuild solution?

[2021-03-22 15:26] berkbaski opened #21050 "Bug: setValue hooks not working!"
Firstly, so easy! I was execute the setMyLocation function with values.
Secondly, i was write a console.log and then value still null.

ABSOLUTELY I didn't understand.

React version: 16.13.1

## Steps To Reproduce

![Screen Shot 2021-03-22 at 18 13 31](https://user-images.githubusercontent.com/25839586/112014654-27fb2080-8b3c-11eb-9ef8-66c2f8b0e89b.png)
![Screen Shot 2021-03-22 at 18 13 18](https

[2021-03-22 15:30] berkbaski commented on #21050
it's still not working when given static value.

![Screen Shot 2021-03-22 at 18 29 31](https://user-images.githubusercontent.com/25839586/112015235-afe12a80-8b3c-11eb-9193-a626671294fb.png)
![Screen Shot 2021-03-22 at 18 29 36](https://user-images.githubusercontent.com/25839586/112015231-aeaffd80-8b3c-11eb-888e-ec18044e992b.png)

[2021-03-22 16:01] fdaciuk commented on #21050
@berkbaski put the `console.log` after the hook definition to see the updated value of the state:

[code]

[2021-03-22 16:03] AmeerAsif777 commented on #20981
Actually, it should be a warning. Why are you saying it should be an error?

[2021-03-22 16:27] Lagicrus commented on #16474
Got a screenshot to show this in action?

[2021-03-22 16:41] AmeerAsif777 commented on #21050
@berkbaski hey, everything you are doing to set up the new value to myLocation is correct, but the problem is, beginning when getCurrentLocation is called, it will memoizing all state variable's current value, which is `myLocation = null`. After that, you are set up a new value to myLocation by calling setMylocation, but getCurrentLocation function doesn't know the latest value of myLocation. It k

[2021-03-22 16:50] bvaughn commented on #21050
The code you linked to does not follow the [rules of hooks](https://reactjs.org/docs/hooks-rules.html), specifically the effect hook is missing dependencies. The documentation says:

The way you've written your code:
[code]

This tells React only to your effect when the component initially mounts. That means that `getCurrentLocation` will only be called once, with the initial value of `myLocation`

[2021-03-22 16:52] bvaughn commented on #20564
It's been a couple of months and the discussion seems to have dead ended without any additional examples or use cases, so I'm going to close this issue.

[2021-03-22 16:52] #20564 closed

[2021-03-22 16:52] bvaughn commented on #21033
Closing for now due to lack of repro information.

[2021-03-22 16:52] #21033 closed

[2021-03-22 17:03] AmeerAsif777 commented on #21050
@bvaughn Agreed, there is a logic flaw, but  @berkbaski is expecting while consoling `latitude` and `longitude`, some numeric values are showing. Even though he set up these values  (latitude and longitude) to `myLocation`, it's showing `null`. That was his question.

[2021-03-22 17:06] bvaughn commented on #21050
[code]

[2021-03-22 17:10] AmeerAsif777 commented on #21050
@bvaughn I already commented before, hope that is also correct
https://github.com/facebook/react/issues/21050#issuecomment-804217322

[2021-03-22 17:13] bvaughn commented on #21050
The comment you linked to above did not explicitly mention that React will not synchronously update component state, which seems to be (I think) the assumption in the code above.

Anyway, this doesn't seem like a React issue so I'm going to close it. Folks can keep the discussion going here though. 😄

[2021-03-22 17:13] #21050 closed

[2021-03-22 17:19] bvaughn commented on #21047
If `hook.renderers` is undefined, this suggests that something else might be defining the global `__REACT_DEVTOOLS_GLOBAL_HOOK__` object, which is something that only React DevTools and Fast Refresh should be doing. That hook should always be defined with a `renderer` property:

https://github.com/facebook/react/blob/dcdf8de7e1489fda5cee70acbd1310ee1bb0d312/packages/react-devtools-shared/src/hook.

[2021-03-22 20:00] gaearon commented on #21047
Are you using very old React DevTools? https://github.com/facebook/react/issues/19072#issuecomment-639884030

[2021-03-22 21:41] nadeeravista opened #21053 "Bug: This may not be a bug: eslint(react-hooks/exhaustive-deps) complaining doest make sense."
This is related to react-hook Eslint. Kindly note following code is an example code.
I just need to listen to `gross` and set the `net` value using `setValue`. The Eslint forcing me to add both `getValue` and `setValue`.

In the aspect of clean code, if we force, isn't this linter makes the code more confusing. it's about clarity. When I look at the function, I want to easily understand when it sh

[2021-03-22 21:47] bvaughn commented on #21053
The lint rule is getting tripped up because you've defined `gross` in out the outer scope and the inner scope. This might be something you want to avoid since it can be confusing.

As for `getValue` and `setValue`, you are calling both from within your effect so you need to specify both as dependencies. Otherwise if one changes and the other does not, your effect may behave in a way you do not exp

[2021-03-22 21:48] gaearon commented on #21053
The linter is doing the right thing here.

If any of the functions you use close over some state or props from some parent component (which they likely do), your code will be buggy if you don't include them as dependencies because it will only reference the initial state/props. Read https://github.com/facebook/react/issues/14920 for some concrete examples and fixes.

On a broader note, I don't rec

[2021-03-22 21:48] #21053 closed

[2021-03-22 21:50] gaearon commented on #21053
Another signal that you're doing something non-idiomatic is that you have `register(...)` calls during render which are likely side-effects or mutations.

[2021-03-22 22:02] gaearon commented on #20829
React 17.0.2 was released with removed dependency on `SharedArrayBuffer` so this should be resolved.

[2021-03-22 22:02] gaearon commented on #20829
We don't plan to backport this since there is no real breaking change for us.

[2021-03-22 22:03] gaearon commented on #21042
React 17.0.2 was released with removed dependency on `SharedArrayBuffer` so this should be resolved.

[2021-03-22 23:01] sam0x17 commented on #2047
Anyone know how to do this outside of react?

[2021-03-22 23:15] zenstok opened #21055 "Bug: Lazy loading a component throws Unchaught undefined"
React version: 17.0.2

## Steps To Reproduce

1. Upgrade from React 16 to React 17 (react and react-dom both to 17.0.2)
2. Do not touch the source code besides upgrading react versions

## The current behavior

Receiving `Unchaught undefined` when trying to render a lazy-loaded component inside `<Suspense />`

## The expected behavior

The code works as it was on version 16.

[2021-03-22 23:26] kokushkin commented on #20981
Hi! Because in the browser it has an error log level (red color), meaning it was printed with console.error (not with console.warn). So, as it has been chosen to be an error (as you can see from the code base) therefore it seems like a good idea to stick with this and don't print "warning" in the error which leads to the inconsistent experience for everybody who looks in the browser's console.

We

[2021-03-23 00:53] kabirivan commented on #16696
Update Node js with the following lines:

brew update
brew upgrade node

[2021-03-23 01:17] gaearon commented on #21055
We can't guess without a repro. My guess is something was buggy in your code but the bug was accidentally being suppressed, and now it's more visible. I can't say more without having some code to run.

[2021-03-23 01:18] gaearon commented on #21055
This looks similar, where the user mistake is forgetting to actually return an import.
https://github.com/facebook/react/issues/18768

[2021-03-23 01:42] nadeeravista commented on #21053
Yes, correct It does not cause any issue by adding(`setValue`, `getValue`), and also it seems not adding also not giving any error.   If that the case why adding something which is neutral to the code and makes the code lengthy or confusing. Moreover, If I don't wanna worry about any changes that happened in the other hierarchy/associations/world (setValue or getValue).

In another language aspect

[2021-03-23 01:51] nadeeravista commented on #21053
As I mention kindly note the above example is just a sample code to raise my concern.

Yes in a very abstract perspective `functions` or `data/state` inside `useEffect` which is declared outside  `useEffect` scope can change. So it makes sense Linter asking to add to the dependency array in general.

But If I know exactly what's going on in my  `useEffect` and what change I need to observe. Do I s

[2021-03-23 01:53] nadeeravista commented on #21053
Seems it still not correct for me. Kindly correct me. Justify me what serious damages can have due to not adding `setValue, getValue ` in the above EXAMPLE ASPECT only. I agree there can be situations its safe to add all the dpendancies. but clarify in the above example context.

[2021-03-23 03:55] cl8n commented on #21025
I don't think that's correct. other form inputs do have the behavior I expected---for sake of example I have a \<select\> side-by-side with an \<input\> here: https://codesandbox.io/s/new-sky-www6t?file=/src/App.js

I'll be using your method as a workaround for now though, thank you

[2021-03-23 05:14] Qwertie- commented on #16474
@Lagicrus

Looks like this in the dev tools

![Screenshot from 2021-03-23 15-43-37](https://user-images.githubusercontent.com/6601505/112096644-9ac4d400-8bee-11eb-9fb0-70a31878573d.png)

[2021-03-23 05:21] jankoboz commented on #13991
I am using Learn and noticed one of my packages using a different version of React and React-Dom. So i set them all as
[code]

Cleaned npm cache with  `npm cache clean --force`

Reinstalled all the packages and no error.

[2021-03-23 07:30] berkbaski commented on #21050
@bvaughn hey! ty for helps but still i don't understand... okay, i updated the [gist](https://gist.github.com/berkbaski/95c935a530876aba9e7573f4ee57652c#file-page2-js) and my codes. so, i removed from useEffect and i put to top level. but myLocation value still showing null. i think i don't understand. someone would give more detail?

Also my personal comment is "strange"... I think i can get real

[2021-03-23 07:31] AoDev commented on #20417
@rizkyramadhan I dont use snowpack, nor do I know what it is. We have a "normal" setup with [react-refresh-webpack-plugin](https://github.com/pmmmwh/react-refresh-webpack-plugin) without any sort of abstraction like CRA.

React Hot Loader V3 was the last version that worked properly for our mobx / react apps and we'd stayed on it if it were not for incompatibilities coming with new React versions.

[2021-03-23 07:59] AmeerAsif777 commented on #21050
I reckon you are not getting a proper picture of this issue. If so, this is my discord id dirtyAmeer007#3039, or emailId ameer.asif777@gmail.com, you can contact me. I will try to explain it clearly.  @berkbaski

[2021-03-23 08:03] berkbaski commented on #21050
Thanks @AmeerAsif777 but i don't understand what i did wrong. I just want set to value and then next line i want get the value. my request is like this. i don't understand why this is so complex ...

[2021-03-23 08:06] AmeerAsif777 commented on #21050
I understood your req and explained here https://github.com/facebook/react/issues/21050#issuecomment-804217322 @berkbaski

[2021-03-23 08:10] berkbaski commented on #21050
Okay, i see @AmeerAsif777 thank you. I want send an email to you :)

[2021-03-23 09:58] benoitgrelard commented on #21049
A few more things:

It seems perhaps Fragment has a role here too. If you update the previous sandbox and replace the fragment with a `div` the bug is gone.

However, I think there are other considerations too.
For example, this doesn't have the bug:

[code]

but this does

[code]

[2021-03-23 10:51] jneuendorf opened #21057 "Bug: useState with class as initial state throws an error"
Using a JavaScript class as initial state in `useState` throws an error. This is because `mountState` check if the initial state is a function by `typeof initialState === 'function'` and classes are technically functions. However since ES6+, I feel like most developers don't consider classes functions because of the less prototype-inheritance feel since ES6 and the `class` keyword.

React version:

[2021-03-23 11:21] bushblade commented on #20951
Any update on this?

[2021-03-23 11:40] benoitgrelard commented on #21049
Perhaps related to this? #19571

[2021-03-23 12:15] RohovDmytro commented on #16980
The issue happens to me, still.

[2021-03-23 13:17] bvaughn commented on #16980
That's because (as mentioned a couple of comments above yours) the fix in #17267 was never reviewed or landed.

[2021-03-23 13:29] bvaughn commented on #21057
This is because `useState` supports two formats:
1. Eagerly initialize the value (e.g. `useState('value')`)
2. [Lazily initialize the value](https://reactjs.org/docs/hooks-reference.html#lazy-initial-state) with a function (e.g. `useState(() => 'value')`)

React decides which one you've done using the `typeof` operator.

In JavaScript, the `typeof` a class is `"function"` so React thinks you're us

[2021-03-23 17:02] IlyaHalsky opened #21058 "Bug: Cursor jumps to the end of input after value refresh"
I've ran into this issue when was trying to implement date input, in which you can adjust date by using arrow up and arrow down keys. When cursor is on month I need to add or subtract one by pressing up and down keys. When cursor is on day, same thing with days. Listed below code should work in theory, but doesn't behave as expected.

React version: 17.0.0

## Steps To Reproduce
1. Create controll

[2021-03-23 17:22] rizkyramadhan commented on #20417
Basically I build my own bundler, first I tested [simple esbuild solution using react](https://esbuild.github.io/getting-started/#your-first-bundle), and modify the esbuild parameters with various esbuild plugins for my needs, and setup chokidar to watch my src folders for changes. When source changes, I broadcast the changes using [esm-hmr protocol](https://github.com/snowpackjs/esm-hmr), current

[2021-03-23 17:30] japalo commented on #13991
For those of you who, like myself, have struggled a day or two with hooks for lerna (with yarn workspaces), and don't want to eject; use @craco like suggested above. What ended up being a fix for me was https://dev.to/kildareflare/how-to-modify-config-of-create-react-app-without-ejecting-5cbn

Easy fix:
1. install i your package: `yarn add @craco/craco`
2. Change your scripts in your *package.json

[2021-03-23 17:33] bennettdams opened #21059 "Bug: Nondeterministic first render"
It is possible that this is not a bug, but rather expected - I couldn't find any material on the internet for this particular use case though.

React version: v17.0.1

*TL;DR   React sometimes renders a loading state and sometimes not, without changes in the UI. Maybe this has something to do with [batched updates][1], where the initial state and the next state are batched?*

## Steps To Reproduce

[2021-03-23 19:54] jneuendorf commented on #21057
@bvaughn Thanks for the quick reply. I agree that this is technically not a bug. I think, I mainly stumbled upon this, because I didn't know about the 2nd signature of `useState` that you mentioned.

My main concern was that future React developers probably started learning JavaScript with ES6 or newer and thus not being that aware of the fact that classes are just syntactic sugar.

One of these n

[2021-03-23 19:59] gaearon commented on #21057
Let's see if this comes up again. This is the first time someone reported being confused by this, so my impression is it's not very common to put class instances in state in the first place (e.g. typically you'd hold them in refs instead since you probably don't want to read from a mutable class instance during rendering, so there's no point in holding it in state in the first place).

If it keeps

[2021-03-23 19:59] #21057 closed

[2021-03-23 20:31] vkurchatkin commented on #21058
That's just normal browser behaviour. You need to restore cursor position manually

[2021-03-23 20:54] gaearon commented on #21059
I would not expect this to be related to batched updates, since generally effects execute _after_ paint. Although I think there might be some cases where we flush them more eagerly than necessary. I would appreciate if someone could look at:

- Whether this happens in 16.x versions or is new to 17.x
- What is the actual sequencing here (e.g. check whether we get into `commitRoot` with the initial

[2021-03-23 21:02] gaearon commented on #21059
Re: idiomatic way to do it. I think currently what you're doing is probably the best we have so far. (But like you said, I think it's worth investigating why just doing it in `useEffect` is not enough.)

In a future version of React using Concurrent Mode, we'll likely have a more idiomatic solution for this. See https://github.com/facebook/react/pull/19936. I made a sandbox showing that solution [

[2021-03-23 21:37] gaearon commented on #17185
Does anyone have a realistic use case that I can test this with? I'm finding it a bit difficult to work with examples in this thread. For example, most sandboxes here have been stretched to do a 100ms pause *per item* (x80), which in Strict Mode (double render) would give us 80*100*2 = **16 seconds** to calculate the entire slow tree. This is hardly representative of a real use case that we can ha

[2021-03-23 21:53] gaearon commented on #17185
Here's another version with a console log for clarity. This one uses 50 items with 10ms delay (x2 because Strict Mode) = ~ 1 second per list render.

I think this behavior makes sense.

https://codesandbox.io/s/usedeferredvalue-issue-iteration-forked-ec63h?file=/src/MySlowList.js

https://user-images.githubusercontent.com/810438/112223433-d62cc600-8c21-11eb-8963-d80924360e59.mov

You can see that

[2021-03-23 22:20] gaearon commented on #17185
I think this is fixed. If I missed something, please lmk and I'll reopen again.

[2021-03-23 22:20] #17185 closed

[2021-03-24 02:44] cameron-martin commented on #20738
What happens if you try rendering into a document fragment? Seems that would solve your problem if it were to work.

[2021-03-24 03:45] kimbaudi opened #21064 "Bug: `display: none` on react component with linearGradient svg also affects svgs outside component"
I have a svg react component with linearGradient that I render in my Header component and my main component. When I set `display: none` style to the Header component, I expect the svg in the Header component to be hidden and the svg in the main component to be visible. When I use svg without linearGradient, I get the expected behavior of svg hidden in Header and visible in main component. However,

[2021-03-24 03:46] gaearon commented on #17479
I think we can close this now.

Server Components address this by separating parts that can be executed ahead of time (whether during build or on the server) from parts that are state-driven and need to be on the client. While they require some manual judgement on which component lives in which world we think that is good because you have precise guarantees about what gets shipped to the client. A

[2021-03-24 03:46] #17479 closed

[2021-03-24 04:05] gaearon commented on #18594
I’ve added a label to revisit so that stale bot stops trying to close this.

[2021-03-24 04:24] kimbaudi commented on #21064
I think I have an idea why I am getting this issue. It is probably because using linearGradient in svgs require `id` so rendering multiple svgs using linearGradient will render multiple elements with the same id. I'll need to see if passing unique id as prop to the svgs w/ linearGradient solves the issue before I can safely close this.

[2021-03-24 04:29] gaearon commented on #13206
It’ll soon be a year after https://github.com/facebook/react/issues/13206#issuecomment-614082019 so I want to provide a small update.

There’s an initial version of this but we haven’t tested it widely yet. We’ll focus on this more after the initial React 18 release candidate is out.

This is done and fixed a dozen of bugs.

The important part here is done. There’s a related fix for pending indica

[2021-03-24 04:51] gaearon commented on #1739
Here’s the other part that does the actual streaming SSR (work in progress, not done yet). In this world Server Components is where you do data fetching, and then the new HTML renderer turns that stream into an HTML stream that can progressively render as soon as we have some content — even before all data has loaded.

https://github.com/facebook/react/pull/20970

[2021-03-24 04:52] gaearon commented on #7518
https://github.com/facebook/react/pull/20970

[2021-03-24 04:53] gaearon commented on #3793
There’s new work in this area in https://github.com/facebook/react/pull/20970.

[2021-03-24 04:54] gaearon commented on #3009
There’s also new work in this area that related to waiting for IO. https://github.com/facebook/react/pull/20970

[2021-03-24 05:11] gaearon commented on #17413
`SuspenseList` doesn't have this problem with Server Components because they begin preloading as early as possible. I think that's the resolution here. We'll document that `lazy` is not really recommended to use here — and in fact, in general it's not a great solution because it leads to waterfalls. Such as starting to load code too late.

[2021-03-24 05:11] #17413 closed

[2021-03-24 05:27] Bnaya commented on #17185
As far as I can see, It's now working as I would expect.
I will try to stress that, but I have good feeling
Thank you!

[2021-03-24 08:31] eps1lon commented on #21064
I would also suggest trying this with just HTML+CSS and see if this behaves the same. Comparing HTML and React would also help maintainers identify the issue.

[2021-03-24 08:40] IlyaHalsky commented on #21058
I've tried doing so using
[code]
Where inputElement is reference to the input. On key press I call setSelection and it works, sort of.
The problem is visualy cursor jumps to the end and then sets into correct place.

[2021-03-24 08:47] IlyaHalsky commented on #21058
Here is a gif of what's happening, with 30 frps, you can't always see it :(
![cursor](https://user-images.githubusercontent.com/7192543/112280833-16c22900-8c8e-11eb-80e9-cc9461a871f7.gif)

[2021-03-24 08:57] eps1lon commented on #21057
I recall similar issues with putting function components into state which is even harder to detect. Maybe static analysis + types might do the trick:
1. Assume only inline function expressions are intended for functional updates i.e. `setState(() => {})`
2. Reject every other callable passed

Note that the TypeScript types will already show you that the type of the state is not what you expect it

[2021-03-24 10:02] Andarist commented on #21064
@kimbaudi this is exactly the case here - IDs need to be unique: https://codesandbox.io/s/vigorous-lake-c4yvt?file=/src/index.js:3041-3055

[2021-03-24 10:07] Andarist commented on #13206
Just to confirm - is this the one about cleaning up effects in hidden trees and refiring them when the content gets shown again? Is there a specific plan for how you will roll out this? I suppose this will come behind a flag at first but what's next? Is there a plan to just enable this in React 18?

[2021-03-24 10:44] ravikrishnudu opened #21066 "asdf"

[2021-03-24 10:44] ravikrishnudu opened #21067 "asdf"

[2021-03-24 10:44] ravikrishnudu opened #21068 "asdf"

[2021-03-24 10:44] ravikrishnudu opened #21069 "asdf"

[2021-03-24 10:44] ravikrishnudu opened #21070 "asdf"

[2021-03-24 10:54] #21069 closed

[2021-03-24 10:54] #21068 closed

[2021-03-24 10:54] #21070 closed

[2021-03-24 10:54] #21067 closed

[2021-03-24 10:54] #21066 closed

[2021-03-24 12:20] vkurchatkin commented on #21058
It's hard to tell without seeing how you use this hook, but generally you need to use `useLayoutEffect`  to avoid such issues

[2021-03-24 12:47] bvaughn commented on #13206
@Andarist Yes. I plan to post a PR with an initial implementation of this (for Suspense and layout effects only) today.

We will provide guidance in the form of documentation and coding examples in the coming weeks. We began rolling out these new effects semantics internally within Facebook to test the concept several weeks ago.

[2021-03-24 12:50] IlyaHalsky commented on #21058
@vkurchatkin Indeed, I've tried it and it helps. Thank you very much!

[2021-03-24 12:50] #21058 closed

[2021-03-24 13:04] berkbaski commented on #21050
I solved this problem. I wrote a override function for setMyLocation. Because different function can get latest values from state.

[code]

the conversation continued on this [gist](https://gist.github.com/berkbaski/3bfb54a765579ce7a5328b11daa44102)

<hr>

thanks for helps @AmeerAsif777 😄

[2021-03-24 13:35] ShravanSunder opened #21071 "Bug:"
React version: 17.x; yarn package latest

[code]

## Steps To Reproduce

1. I've created the following hook shown below with react and observable-hooks
2. I'm using the hook in a react component

Link to code example:
[code]

## The current behavior
- currently its crashing with a message that says

`Uncaught Error: Should have a queue. This is likely a bug in React. Please file an issue.`
[code]

[2021-03-24 13:48] ShravanSunder commented on #21071
was caused by using a hook within a hook.  closing due to user error

[2021-03-24 13:48] #21071 closed

[2021-03-24 13:57] gaearon commented on #21057
Tbh this just feels like some better addressed by a linter.

Or maybe we could warn if the constructor name starts with a capital letter?

[2021-03-24 13:58] gaearon commented on #21057
I’d like to see a PR that warns if setState or useState is passed a function whose first letter is capital. That’s enough of a hint to find the common cases.

[2021-03-24 14:36] kimbaudi commented on #21064
@Andarist thank you for the confirmation. My issue is not related to react, but actually related to svgs containing `id`s as is the case with the PythonIcon svg using linearGradient. One thing I noticed from your codesandbox is that the Python svg icon loses the linearGradient and just shows as black:

![c](https://user-images.githubusercontent.com/1864092/112327383-9e9a3a00-8c72-11eb-9584-d8aff84

[2021-03-24 14:36] #21064 closed

[2021-03-24 15:15] Andarist commented on #21064
I've copy-pasted your code to create a plain HTML demo and I've forgotten to replace `stopColor` with `stop-color` in it. It works just OK when I fix it: https://codesandbox.io/s/exciting-thompson-qgwj3?file=/src/index.js:3045-3059 .

So don't be afraid of using `linearGradient`! :wink:

[2021-03-24 15:17] kimbaudi commented on #21064
So I found a solution where I am still able to use svg react components containing `id`s (linearGradient, radialGradient). Basically, I append a randomly generated string to each id. Now hiding the python icon in Header component doesn't hide the python icon in the main component:

![d](https://user-images.githubusercontent.com/1864092/112334885-03589300-8c79-11eb-93dd-ea5a12a5316f.png)

So here i

[2021-03-24 15:20] kimbaudi commented on #21064
@Andarist - thank you so much. I just realized that I can still use linearGradient & radialGradient in my svg react components. I've made the change on my minimal repo: https://github.com/kimbaudi/react-svg-lineargradient-issue

[2021-03-24 15:46] ccorcos commented on #20738
@cameron-martin that doesn't work because its rendering into the document fragment, not modifying the root node.

[2021-03-24 15:50] kentcdodds commented on #17413
Not if my suggested `preload` function were built-in 😉 But sure, server components kinda change the game here entirely anyway.

[2021-03-24 15:52] gaearon commented on #17413
I don't know that `preload` is needed here if you can `import(...)` the thing directly when needed to kick it off. Isn't that the same?

[2021-03-24 15:58] gaearon commented on #21006
There are hardly any details here. I don't think this is actionable.

[2021-03-24 15:58] #21006 closed

[2021-03-24 16:02] gaearon commented on #20934
Promise.all is a mechanism to produce a single Promise out of multiple Promises, with the aggregate Promise resolving when all of the inner Promises resolve.

Suspense is a mechanism that lets a component declare that it's not yet ready to render. It combines a Promise (which signals that it's ready for a retry) and a cache (to ensure that retrying succeeds).

I'm not sure a direct comparison make

[2021-03-24 16:02] #20934 closed

[2021-03-24 16:03] kentcdodds commented on #17413
Sure, you could totally do that if you want. But depending on the situation you may not know the path to the component you've got. Maybe it was passed to you via props. I have a situation like this is code I'm running now :)

[2021-03-24 16:06] gaearon commented on #17203
There's no suspense config anymore.

[2021-03-24 16:06] #17203 closed

[2021-03-24 16:12] gaearon commented on #20417
Have you looked into why?

[2021-03-24 16:15] Andarist commented on #13206
@bvaughn Great, gonna be looking forward to this PR and discussion/documentation 👍

[2021-03-24 16:16] gaearon commented on #20417
I think you want to look at these tests:

https://github.com/facebook/react/blob/7b84dbd1697609d4df5931422c9591fe62022cb9/packages/react-refresh/src/__tests__/ReactFreshBabelPlugin-test.js#L209-L222

Add something like the example in your repro. What does it get transformed to? Why doesn't it get the same treatment like `memo`?

The relevant logic is somewhere around here, probably:

https://githu

[2021-03-24 16:43] gaearon commented on #20411
`event.currentTarget` changes while the event traverses the tree so it's not expected to stay pointing at some value.

[2021-03-24 16:43] #20411 closed

[2021-03-24 16:44] #20238 closed

[2021-03-24 16:45] #20204 closed

[2021-03-24 16:46] gaearon commented on #20131
I'm going to close because we haven't gotten a reduced reproducing cases that doesn't include third party libraries, as we requested.

[2021-03-24 16:46] #20131 closed

[2021-03-24 16:48] gaearon commented on #20099
We're probably going to recommend not using that package altogether. It doesn't work great if you consider different environments (e.g. Server Components). Given that it's not recommended, we won't make it a part of the core package.

[2021-03-24 16:48] #20099 closed

[2021-03-24 16:52] gaearon commented on #19910
We don't really add helpers like this. JavaScript already has tools to share functionality, like functions. That's the solution.

[2021-03-24 16:52] #19910 closed

[2021-03-24 16:53] yassine opened #21075 "Feature Suggestion: Pass React Hook factory dependencies as arguments to the factory"
Currently, there is no way for accessing the array dependencies of a given React Hook in an optimal way (Function.bind can help but yet it is not optimal). Passing the array of dependencies to the hook factories such as in useMemo, useCallback, useLayoutEffect can be handy at many sides:

- Putting the factory outside the body of the component (performance improvement by limiting functions that ne

[2021-03-24 16:54] gaearon commented on #21047
Going to close assuming that's the case.

[2021-03-24 16:54] #21047 closed

[2021-03-24 16:56] gaearon commented on #21075
It's intentional that Hooks don't work like this, and instead nudge you towards writing things in the render scope. So that it's always easy to capture more props/state if needed without changing a bunch of signatures. Or people microoptimizing by trying to move the closures out. I understand why you're trying to do this, but it's contrary to the design so it's not something we'd like to do. It's

[2021-03-24 16:56] #21075 closed

[2021-03-24 17:02] Zveroboev commented on #21055
I have same problem with React v17.0.2. With React 16 work fine.

[2021-03-24 17:06] gaearon commented on #21055
We can't help without a reproducing case.

[2021-03-24 17:06] Zveroboev commented on #21055
[code]

[2021-03-24 17:08] gaearon commented on #21055
I mean a project we can run. Can you extract a minimal case into a repo? Or a sandbox.

[2021-03-24 17:12] yassine commented on #21075
It wasn't really about micro-optimizing, that was actually a positive side effect :)
When I'm personally reviewing code it's far easier for me to catch what the factory needs, I would just have to look at its arguments. And by the way, currently whenever needs, while not changing signatures you still have to change a bunch of array of dependencies (If you allow me to re-phrase you).
I respect your

[2021-03-24 17:14] Zveroboev commented on #21055
I cat't reproduce this on clear minimal case. It work fine. But, when I install this component in a other project with different react versions in deps (react 17 from my component and react 16 from other components, project use react 17), I catch this error. Downgrade project and component to React v16 can fix this error.

Sorry for my English.

[2021-03-24 17:21] gaearon commented on #5053
This is basically what `useEffect` is.

[2021-03-24 17:21] #5053 closed

[2021-03-24 17:23] gaearon commented on #4153
I think we can close this. Overall we don't recommend either shallow rendering or deep introspection anymore. Instead, we recommend end-to-endy tests that assert on the observable DOM tree. Eg. React Testing Library. But there's still some use case here that would be addressed by the Test Selectors ongoing work.

[2021-03-24 17:23] #4153 closed

[2021-03-24 17:24] gaearon commented on #6190
We did this in 17.

[2021-03-24 17:24] #6190 closed

[2021-03-24 17:26] gaearon commented on #6627
We have a Profiling build now.

[2021-03-24 17:26] #6627 closed

[2021-03-24 17:27] #7287 closed

[2021-03-24 17:28] gaearon commented on #7415
What's a class?

[2021-03-24 17:28] #7415 closed

[2021-03-24 17:31] gaearon commented on #7552
I don't think we should support this.

The purpose of props is to be explicit about which data gets passed down. If you want to make it more implicit and "secret" between two components, you can use Context. Patterns that rely on `cloneElement` are in general last resort and not recommended because you can't put a component in the middle — they break composition. So it seems like every time you wa

[2021-03-24 17:31] #7552 closed

[2021-03-24 17:31] #7942 closed

[2021-03-24 17:33] gaearon commented on #8968
Seems like we just went with what Chrome did. And if you want to work around, you can use refs and `addEventListener` yourself.

[2021-03-24 17:33] #8968 closed

[2021-03-24 17:34] #9075 closed

[2021-03-24 17:38] cameron-martin commented on #20738
Yes, nevermind that would not solve your problem under closer inspection.

[2021-03-24 17:39] gaearon commented on #9154
We've recently introduced our research on [Server Components](https://reactjs.org/server-components). Server Components let you avoid sending JS code for things that are mostly static.

Server Components still need to encode the render output in the payload for hydration so it doesn't by itself solve the duplication. However, we do plan to add some deduplication when you use Server Components so t

[2021-03-24 17:39] #9154 closed

[2021-03-24 17:40] gaearon commented on #9189
Seems like this is done in https://github.com/facebook/react/pull/20463?

[2021-03-24 17:40] #9189 closed

[2021-03-24 17:42] #9378 closed

[2021-03-24 17:45] gaearon commented on #10049
`createRoot()` has no render callbacks so I guess we're just not going to fix it in the old API.

[2021-03-24 17:45] #10049 closed

[2021-03-24 17:46] gaearon commented on #11330
We're not using requestIdleCallback anymore.

[2021-03-24 17:46] #11330 closed

[2021-03-24 17:48] gaearon commented on #11689
We did that.

[2021-03-24 17:48] #11689 closed

[2021-03-24 17:49] #11805 closed

[2021-03-24 17:49] gaearon commented on #11866
What's a render prop?

[2021-03-24 17:49] #11866 closed

[2021-03-24 17:51] #12209 closed

[2021-03-24 17:52] gaearon commented on #13224
We don't have pooled events now.

[2021-03-24 17:52] #13224 closed

[2021-03-24 17:53] #10589 closed

[2021-03-24 17:59] gaearon commented on #13796
`createBatch` is no more.

[2021-03-24 17:59] #13796 closed

[2021-03-24 18:02] gaearon commented on #14452
We removed User Timings.

[2021-03-24 18:02] #14452 closed

[2021-03-24 18:02] #14669 closed

[2021-03-24 18:13] gaearon commented on #14535
I can't reproduce this anymore. Did iOS change something?

[2021-03-24 18:18] gaearon commented on #14856
Let me summarize the issue:

- Chrome changed the event to be passive by default.
- React does not let you customize passive-ness of built-in events, so they became passive too.
- We won't change the default since Chrome's change is better for web overall.

Therefore, there are two solutions. Either React adds some way to control passive-ness of events (tracked in https://github.com/facebook/react

[2021-03-24 18:18] #14856 closed

[2021-03-24 18:22] gaearon commented on #14994
React does not offer a strong guarantee about when it invokes render functions. Render functions are assumed to be pure and there should be absolutely no difference for correctness regardless of how many times they're called. If calling it an extra time causes a bug, it's a problem with the code that needs to be fixed.

From the performance point of view, the cost of re-running a single function i

[2021-03-24 18:22] #14994 closed

[2021-03-24 18:23] gaearon commented on #15012
We're planning to remove this attribute altogether. It only exists for hydration via `ReactDOM.render` to work. But that already warns that you should be using `ReactDOM.hydrate` instead. So I don't think we'll fix it.

[2021-03-24 18:23] #15012 closed

[2021-03-24 18:31] gaearon commented on #15293
The longer-term idiomatic solution to this problem is Suspense, so it would not rely on any of those things. I know it's not very satisfying since it's not something you can use today, but I just want to make it clear why it's somewhat awkward with all of these approaches. Neither of them natively matches the React paradigm very well.

[2021-03-24 18:36] gaearon commented on #16848
Closing since there's no repro

[2021-03-24 18:36] #16848 closed

[2021-03-24 18:38] gaearon commented on #17153
Happy to take a PR if it's an easy fix but probably not going to be a priority.

[2021-03-24 18:38] #17153 closed

[2021-03-24 18:41] gaearon commented on #17180
We don't plan to couple these things to Concurrent Mode specifically. The concern is understood though.

[2021-03-24 18:41] #17180 closed

[2021-03-24 18:42] gaearon commented on #17258
Seems like this has no relation to React so I'm closing.

[2021-03-24 18:42] #17258 closed

[2021-03-24 18:46] gaearon commented on #17527
The warning is gone.

[2021-03-24 18:46] #17527 closed

[2021-03-24 18:55] toschlog opened #21078 "Bug: Incorrect error message"
I'm getting this error message:

  React Hook "useStyles" is called conditionally. React Hooks must be called in the exact same order in every component render

However, I'm pretty darn sure that I'm not actually calling useStyles conditionally.  Also, the error messages come and go if I comment out unrelated code.

React version: 17.0.1

## Steps To Reproduce

1. Attempt to run my app

Unfortunat

[2021-03-24 18:55] gaearon commented on #18290
There hasn't been a reproducing example. The "bump" comments are not helpful when this is what was requested.

[2021-03-24 18:55] #18290 closed

[2021-03-24 18:56] Slapbox commented on #21047
Thanks @bvaughn and @gaearon, that was indeed the issue.

I have no idea where the extension folder was - I couldn't find it anywhere in our `Application Support/Electron` folder - but deleting the whole folder worked fine.

[2021-03-24 18:57] gaearon commented on #21078
This is a lint error message, so you don't need to send the whole file. You just need to send the component in which this happens.

[2021-03-24 18:59] gaearon commented on #18652
This is actually one of the first things we tried back in 2014 or so. It wasn't very good in practice. Turns out, the communication overhead is making it not worth it, at least in our experience for the general case.

[2021-03-24 18:59] #18652 closed

[2021-03-24 19:00] #18758 closed

[2021-03-24 19:02] #19645 closed

[2021-03-24 19:03] #19649 closed

[2021-03-24 19:05] gaearon commented on #19781
`__DEV__` is not a super popular convention. Different tooling does it differently. I just recommend disabling the rule per line for concrete cases where you know what you're doing.

[2021-03-24 19:05] #19781 closed

[2021-03-24 19:07] gaearon commented on #19823
You can always emit events with browser `node.dispatchEvent` API but we strongly recommend against something like this in React. Be explicit and call your function when you want something to happen.

[2021-03-24 19:07] #19823 closed

[2021-03-24 19:07] rtremblet-fr commented on #17355
I has this issue and the problem was related to an ajax call with jquery made in componentDidMount with async parameter to false, the réponse of tha call updated the state, this causes some issues with latest react release to synchronise the state I assume. setting async to true solved the issue

[2021-03-24 19:09] mooflu commented on #17355
See codesandbox above - run in firefox.

[2021-03-24 19:11] toschlog commented on #21078
Ok.  Can I submit a source file privately?

I'm able to make the error go away by adding a lot of eslint-disable-next-line comments, so that's good.

[2021-03-24 19:12] gaearon commented on #20097
The solution is to pass it. There is no problem doing it if it's a stable reference.

[2021-03-24 19:12] #20097 closed

[2021-03-24 19:16] gaearon commented on #20177
DEV build is the default because it contains warnings. People who need it the most (non-experts) are the ones that _wouldn't know_ to enable it if it was opt-in. That's why it's default.

Re: bundling speed, it sounds like we're discussing subsecond differences. Nothing prevents you from using an incremental bundler that should in principle be able to avoid whatever the cost is being spent here go

[2021-03-24 19:16] #20177 closed

[2021-03-24 19:19] gaearon commented on #20003
We intentionally _don't_ do this because in many cases it's completely legit. In cases where it's not, you're welcome to implement this in userland. E.g. you can make some context `null` so that it crashes when unavailable. You can also, instead of exposing `YourContext`, expose a Hook like `useYourContext`. Inside that Hook, check if `useContext(YourContext)` gave you the default value (which you

[2021-03-24 19:19] #20003 closed

[2021-03-24 19:21] #20472 closed

[2021-03-24 19:22] gaearon commented on #20490
This is better solved in a linter.

[2021-03-24 19:22] #20490 closed

[2021-03-24 19:23] gaearon commented on #20662
Seems like there's nothing else we can do here.

[2021-03-24 19:23] #20662 closed

[2021-03-24 19:23] #20673 closed

[2021-03-24 19:24] gaearon commented on #20690
In either case, this is something you should probably report to Safari instead.

[2021-03-24 19:24] #20690 closed

[2021-03-24 19:31] gaearon commented on #17355
Oh nice. Thanks.

[2021-03-24 19:33] gaearon commented on #17355
All right, so the consistent repro is:

1. Open https://codesandbox.io/s/should-not-already-be-working-bl72j?file=/src/index.js in Firefox
2. Observe the error message

There is some kind of timing assumption that gets broken by the `alert()` being a blocking cool. I don't know where the problem is. Does anyone want to dive in the source and figure it out?

[2021-03-24 19:35] gaearon commented on #21078
You can remove all code around until you have a minimal example.
https://stackoverflow.com/help/minimal-reproducible-example

[2021-03-24 19:36] #20818 closed

[2021-03-24 19:36] #20811 closed

[2021-03-24 19:37] #20935 closed

[2021-03-24 19:40] gaearon commented on #21055
You probably shouldn't have two Reacts with different versions in one project. This can lead to confusing outcomes unless you're doing it in a very particular way.

Your component should not include React with it at all. Instead, it should use React from the application in which it's running.

[2021-03-24 19:40] #21055 closed

[2021-03-24 19:57] #16376 closed

[2021-03-24 19:58] toschlog commented on #21078
Not really.  I tried to do this, but I found that making completely unrelated changes made the error come and go.

For example, here are the last few lines of my file:

![image](https://user-images.githubusercontent.com/25090868/112375219-69fda100-8cb9-11eb-84e1-51c771225b5f.png)

This file gets a pile of hook errors.  However, if I uncomment-out the code at line 3654, the errors go away.  So I'm

[2021-03-24 20:05] gaearon commented on #21078
You can send me the file at my username @fb.com if you’d prefer. But if it’s so strange then it might just be an ESLint bug.

[2021-03-24 20:08] toschlog commented on #21078
File sent.

It does sound like it could be a lint error.

[2021-03-24 21:13] gsouf commented on #9378
@gaearon because error boundary class that we create here manipulates an outside variable during a render process, it does not follow any standard and it's hard to understand what's going on, especially if it's given to an unexperienced react developer. Even for me, reading again  after 6 months later, I  took some time to understand what is going on there.

[2021-03-24 21:18] gaearon commented on #9378
What I'm saying is, I don't feel like I understand why the code is structured this way at all. Why does `renderSomethingSomewhere` needs to return a Promise? What do you do with rejections?

Imagine your component throws a second _after_ it mounts, in response to some `setState`. Even if there was some convenient API for listening to errors in `ReactDOM.render`, it wouldn’t catch that, so your Pro

[2021-03-24 21:20] gaearon commented on #9378
In other words, my point is that the whole premise of an API like `renderSomethingSomewhere` that needs to reject on errors seems mistaken to me.

[2021-03-24 21:36] gsouf commented on #9378
@gaearon I needed to render various components in an isolated way. If one of the component fails to render, I need to fail the whole process.

an over simplified example of what I needed to do, if we suppose that ReactDOM.render is synchronous and throws an exception when it fails:

[code]

[2021-03-24 21:48] gsouf commented on #9378
@gaearon In my use case it's just simple components that have no state, they only take props and display something depending on the props. We do a screenshot of the component and we move to the next one.

It's not a typical react app workflow you would say, and I'm aware of that, but we have other constraints that makes it to be the simplest solution

[2021-03-24 22:25] gaearon commented on #9378
Can you describe the use case in just a bit more detail? There might be some more idiomatic solution.

[2021-03-24 23:25] Macil commented on #13838
@equinusocio Anything reading the meta tags from the HTML should handle decoding the HTML encoded characters. It's a bug with anything consuming the HTML if it doesn't decode the `&amp;`s correctly. If you're trying to test your work and want to read HTML-decoded value, then in dev tools element inspector, pick the meta tag element, and in the console run `$0.content`.

[2021-03-25 01:40] yume-chan commented on #14856
Incorrect, `scroll` event is only `passive` on root elements

https://developers.google.com/web/updates/2019/02/scrolling-intervention

Unrelated. We are using React to create non-root elements, so `scroll` event **MUST** continue to be non-passive by default to conform Web standards.

Native event listeners works, so React should also work.

[2021-03-25 01:53] gaearon commented on #14856
Thank you, I'm aware of that.

At the time the change was introduced, React _was_ subscribing on the `document`. So at the time Chrome made that change, it _did_ change the behavior for React applications globally. The impact of the change was globally improved scrolling performance on the web. Even though React has switched to using event listeners at the mount point (which is, for most React app

[2021-03-25 02:15] yume-chan commented on #14856
Chrome team has numbers to support them, and they didn't change non-root elements. Do you have any data to show that most React users that are using `wheel` events don't want to call `preventDefault` in it? At least everyone in this thread (and everyone +1) were surprised when it doesn't work like native DOM.

So changing it back to non-passive won't break anything. It's a good chance to make the

[2021-03-25 03:25] gaearon commented on #14856
It will undo the spirit of Chrome's performance-motivated change for the websites using React. Since a lot of React websites are full-screen apps that mount close to the root, I would expect the same performance drop that the change was originally meant to solve. I agree that Chrome's change was disruptive, but at least it has achieved its purpose. It seems backwards to undo that performance impro

[2021-03-25 03:27] gaearon commented on #14856
As for discoverability, all three top results for "chrome wheel events preventdefault" are relevant so I don't expect that closing the issue has any impact on this.

[2021-03-25 06:17] virtuous-code opened #21091 "Bug: The invalid value warning was showed when adding functions to object prototype"
While adding a function to Object.prototype in React project anywhere, react while showing the Warning: Invalid value for prop \`xxx\` on tag. And an uncaught TypeError.

React version: 17.0.2

## Steps To Reproduce

1. Create a react project with create-react-app
2. Put the following code anywhere in the project: `Object.prototype.test = function () {}`
<img width="876" alt="图片" src="https://user

[2021-03-25 07:52] pke commented on #19781
Thanks Dan. What do you mean by different tooling does it differently?
React sets this global variable. So in the react context the behavior of it is clear. It's also clear that it cannot change during runtime. So hook rules should ignore it.
But I'm fine with disabling the rule

[2021-03-25 08:38] FrankFang commented on #20090
it's confusing. Is there an option to disable it?

[2021-03-25 09:53] DimitarTB opened #21092 "Feature Request: Localized CSS files"
I have often ran into issues of my CSS applying in places it should be. Now I don't do it as often but when I started out I usually used generic class names like container, wrapper and so on. I would write different CSS for each class name in different CSS files and so there would be a conflict. Today I ran into a similar issue when using an open source component. It had a class name called contai

[2021-03-25 10:17] kotliluk opened #21094 "Bug: Radio/Checkbox inputs not triggered when setting state in listener on a parent element"
Hello

I wanted to highlight a div after clicking on it (and hide the highlight after clicking anywhere else). So in componentDidMount, I added two event listeners (on the div and on the window object).
The problem is kind of wild: when I use setState in a listener added in componentDidMount, radio buttons are not triggered.
When the listener does not use setState or uses setTimeout(() => this.set

[2021-03-25 10:52] gsouf commented on #9378
@gaearon I appreciate your help, but I think it's out of the scope of this ticket and as you mentioned anything else can fail after the component has initialy rendered. So we are not expecting a change on the react api here.
The solution we have atm works well for us and are not willing to change it for now

[2021-03-25 12:37] gaearon commented on #9378
Sure, sounds good. I’m just saying there might be something that’s simpler that neither of us thought of yet. For example maybe you don’t need many render calls and instead could have a single tree with a single error boundary at the top, but with multiple Portals to different DOM containers below it. Then the error boundary would catch errors from all of them even if they’re in different parts of

[2021-03-25 12:42] gaearon commented on #19781
React doesn’t set a global variable like this. It’s used in React internally but it’s set by a build script. User code won’t have access to it. Usually people do stuff like `process.env.NODE_ENV` checks (which are also substituted by build).

[2021-03-25 13:01] jsoneaday opened #21095 "Bug: TypeError: Object is not a function or its return value is not iterable (0.0.0-experimental-7b84dbd16)"
I am playing around with concurrent mode and get this error when calling useTransition. Has this function been removed or renamed?

React version: 0.0.0-experimental-7b84dbd16

## Steps To Reproduce

1. Use unstable_createRoot in index.js to enable concurrent mode
2. import useTransition from react in App.js
2. Try and call useTransition like this
const [startTransition, isPending] = useTransition

[2021-03-25 13:09] rajeevrocker7 commented on #5737
@phatNfqAsia @ervikashkumar We can use this as a custom constructor hook for one time things

/* useConstructor: to setup things before initial render, means This callBack only happens ONCE and it happens BEFORE the initial render. */

Custom Hook:

`export const useConstructor = (callBack = () => { }) => {
    const hasBeenCalled = useRef(false);
    if (hasBeenCalled.current) { return; }
    cal

[2021-03-25 13:14] eps1lon commented on #21095
It was [renamed to `unstable_useTransition`](https://github.com/facebook/react/pull/18825). [`timeoutMS` was also removed](https://github.com/facebook/react/pull/19703).

[2021-03-25 13:25] mrtnrst commented on #20951
Hey @bushblade! I'm in the middle of moving so work and life got away from me. I'll have time this weekend to open a PR. Sorry for the disappearing act on this one.

[2021-03-25 13:38] Muirik opened #21096 "Bug: Getting value to populate to render block without triggering warning"
In my React app I need to retrieve some dates from my data that's coming in from the backend to set the starting and ending dates for a date filter in a class-based component. If I do this within my render, it works:

[code]

The `getStartDate()` looks like this:

[code]

However, what I really want to do is set the date based on the results of my data coming in from the server when the component

[2021-03-25 13:57] bvaughn commented on #21092
Are you aware of [CSS modules](https://github.com/css-modules/css-modules)? Sounds to me like what you're describing, and [they can be used with create-react-app](https://create-react-app.dev/docs/adding-a-css-modules-stylesheet/) and other app frameworks.

[2021-03-25 14:01] #21092 closed

[2021-03-25 14:07] gaearon commented on #21096
The canonical way to initialize state in a class component is in the constructor. Why don't you do this instead?

[2021-03-25 14:07] tinkoh opened #21097 "Bug: react-scripts fails to update CSS after error state"
React version: 17.0.2

1. Create new React App with create-react-app command
2. Create components (i.e. a simple <div></div> with some height/width)
3. Style component in CSS and with each save app will reload on browser to display changes
4. Create an error state in the CSS (i.e. delete a semicolon after a parameter) and save. Fix it and save. App should reload, but CSS changes no longer update o

[2021-03-25 14:07] bvaughn commented on #21095
I don't have one

The idea is that you'd create one using something like Code Sandbox :)

Without a repro I can't be positive, but it seems like @eps1lon has answered this question though, so I'm going to close this issue for now.

[2021-03-25 14:07] #21095 closed

[2021-03-25 14:20] jsoneaday commented on #21095
@eps1lon thank you. But now I get an error that App suspended while rendering, but no fallback UI was specified. As you can see I do have a fallback set and this is my only call to Suspend.

![image](https://user-images.githubusercontent.com/1474935/112488102-a67ddb00-8d53-11eb-9470-0d86aeecf5b7.png)

[2021-03-25 14:22] bvaughn commented on #16477
PR #20998 is related to this issue, though the approach we're trying is very clunky and probably wouldn't make sense to release more widely.

[2021-03-25 14:22] gaearon commented on #21095
`<Suspense>` needs to be *above* the component that Suspended. In your example, `App` Suspended, so you want to place `<Suspense>` above it. Alternatively, you can move the `setMessage` call into `Child`.

[2021-03-25 15:03] mattgperry opened #21098 "Bug: aspectRatio not being applied via style"
React version: 16.14.0, 17.0.2

## Steps To Reproduce

1. Apply aspectRatio via `style` - no aspectRatio applied
2. Add via className - aspectRatio applied

Needs Chrome 79 or above:
Link to code example: https://codesandbox.io/s/react-bug-not-applying-aspect-ratio-via-style-w2pqh?file=/src/App.js

## The current behavior

No aspectRatio rule applied:
https://codesandbox.io/s/react-bug-not-applyin

[2021-03-25 15:09] ErikAho commented on #20905
Hey, I'm gonna pick this up and try to get a PR through to tidy this :)

This would be my first issue in this repo. I've given the contribution guidelines a read through, and so will do my best to follow all the CoC and best practices in there.

[2021-03-25 15:16] adyz commented on #21098
Yes, I have the same issue with another style property
Basically I want to add   `font-feature-settings: "tnum"` or `fontFeatureSettings` and it gets removed.

https://codesandbox.io/s/custom-css-why-no-work-66ve2

[2021-03-25 15:37] sebmarkbage commented on #21098
Try passing a string instead of number. React special cases numbers (to add the "px" suffix) and only doesn't for certain known attributes. So new ones sometimes need to be added to the list.

[2021-03-25 15:41] Muirik commented on #21096
Yes, I can take a look at doing it that way.

[2021-03-25 15:47] Pomax commented on #9154
It'd be fantastic if there was still a path to "develop using React, but _generate_ vanilla html + browser-model-obeying js" but it's a hard problem, and not enough people are demanding a path towards having an excellent dev experience with "webby" deployment.

At this point I've moved my own site off of React, with a dev experience that's primarily markdown, and a build system that basically preg

[2021-03-25 15:55] sebmarkbage commented on #21098
@adyz Your issue is unrelated. Would you mind opening a separate issue for that thread?

[2021-03-25 15:58] gaearon commented on #9154
I think there is a bit of a misunderstanding here. Server Components don't really require a _server_, you can run them at the build time. They're just a way to not ship code to the client.

[2021-03-25 16:02] gaearon commented on #9154
In other words, what I'm saying is that we're working on a first-class way to express something as React components without having to run all of them on the client. Instead, only stateful/effectful components would need to be in the JS bundle.

This mechanism would be compatible both with a server environment (where you run non-client parts on demand) and with a ahead-of-time build environment (wh

[2021-03-25 16:06] #21096 closed

[2021-03-25 16:17] mattgperry commented on #21098
Thanks @sebmarkbage

[2021-03-25 16:20] bvaughn commented on #20905
This issue is all yours @ErikAho! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2021-03-25 16:24] jsoneaday commented on #21095
Thank you Dan. Really appreciate it.

[2021-03-25 16:25] gaearon commented on #21098
https://github.com/facebook/react/pull/21100

[2021-03-25 16:27] gaearon commented on #21095
No problem. Appreciate you playing with experimental stuff! Sorry the docs are rough/outdated. We're focused on polishing this and getting it into a releasable stage and then we'll have better docs.

[2021-03-25 16:27] gaearon commented on #21095
Btw, https://github.com/reactjs/server-components-demo is the latest thinking on how the pieces fit together. So feel free to check that out too. It has a few uses of `useTransition`.

[2021-03-25 16:36] jsoneaday commented on #21095
I totally understand. I should have done my own investigation before I submitted. I love React and am eagerly waiting for concurrent mode.

[2021-03-25 16:46] gaearon commented on #20417
There seems to be a misunderstanding in this thread.

First, the original issue reported in https://github.com/facebook/react/issues/20417#issue-760661008 no longer reproduces on CodeSandbox. I think that this was a bug in how CodeSandbox implemented Fast Refresh, which they fixed in https://github.com/codesandbox/codesandbox-client/pull/5442. So it was fixed in February.

This is confirmed by htt

[2021-03-25 16:56] Pomax commented on #9154
Ah, looking forward to reading the docs on that mechanism.

[2021-03-25 17:01] #21098 closed

[2021-03-25 17:07] gaearon commented on #9154
There's still some difference from what you're looking for because we can't entirely avoid some duplication. I.e. we don't load the _code_ for the components, but we do need to embed their _rendered tree_ as JSON into the HTML at the end. It wouldn't block the initial HTML render but it'd be needed for hydration. It's basically like a pre-rendered React tree. Without this, it wouldn't be possible

[2021-03-25 17:08] gaearon commented on #21095
No worries at all, it's a bit hard to find the info now. Feel free to ask any follow-up questons here!

[2021-03-25 17:33] baopham commented on #16469
Hi @bvaughn, I can give this a try!

[2021-03-25 17:35] bvaughn commented on #16469
This issue is all yours, @baopham! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2021-03-25 17:43] gaearon commented on #20417
After trying more, I can repro this now. So my conclusion seems incorrect. I'll take a closer look at this...

[2021-03-25 18:01] gaearon commented on #20417
Yayyy I can repro this in CRA. This is a good sign the problem is on our side.

[2021-03-25 20:02] ErikAho commented on #20905
Hey! Raised a PR for this.

Couldn't find any unit tests that covered the `dehydrate` function here, and I started to write a few, but thought that it was probably out of scope of this PR. Can definitely create some tests for this function if needed though!

[2021-03-25 23:38] gaearon commented on #20417
Hmm. So the problem here seems to be is that the `observer` thing doesn't actually *render* the component passed to it. It calls it *as a function*. So even though React knows that inner component needs to be remounted, the inner component is _nowhere in the tree_. Cause it's called as a function instead of rendered as a component.

[2021-03-25 23:40] gaearon commented on #20417
This is a pretty exotic and unidiomatic pattern tbh. But it makes sense that MobX does it since it needs to know what has been read.

[2021-03-25 23:42] subhero24 commented on #14535
I also can not reproduce this issue anymore. Guess an iOS update fixed it. Thanks for looking into it!

[2021-03-25 23:42] #14535 closed

[2021-03-26 00:34] gaearon commented on #20417
Let me describe the problem a bit clearer. Fast Refresh works by tagging functions with "signatures".

[code]

These two versions of `Foo` would get different "signatures", so we'd know to remount them.

These signatures are specified through calls to a special function.

[code]

The tricky part is what happens when it's a HOC. Because the part getting signed is the inner one.

[code]

This would

[2021-03-26 01:06] gaearon commented on #20417
So I have a fix for this but I really don't like it. https://github.com/facebook/react/pull/21104

We'll probably fix MobX and break something else. I'll need to think more about this. This is pretty frustrating because MobX has significant usage but the pattern is using is very exotic and it feels bad to make concessions because of it.

[2021-03-26 01:22] garrettmaring commented on #21098
Should `aspectRatio` be unit-less?

https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio
https://web.dev/aspect-ratio/

It seems like it should be a string (which it was) and I am seeing the property work as expected with `style={{ aspectRatio: '1 / 2' }}` for example.

[2021-03-26 02:26] gaearon commented on #21098
@mattgperry how soon do you need this? Are you blocked?

[2021-03-26 03:00] AoDev commented on #20417
React Hot Loader v3 (not v4) worked fine for us despite reading here and there that react-refresh is more reliable.

I also understand react-refresh is expecting a "correct" way to use React.

A possibility could be to leave react-refresh "pure" and have a new package based on RHL v3 that would work. But we moved to react-refresh because it seemed that RHL v3 would not be compatible with future ve

[2021-03-26 03:17] gaearon commented on #20417
I get the frustration. I hope you can believe me as someone who spent significant time on this problem that the current approach really is the most stable one and handles many cases that RHL v3 would not be able to. However, here concretely are running into a very particular case we never intended to support. We can probably figure out some fix here but it would be ideal if MobX fixed it on their

[2021-03-26 03:40] AoDev commented on #20417
Oh yes, I believe you. We have noted that mobx and React have different paths. For us React components look more like simple templates when using Mobx. That being said, your work during all these years has made our developer life so much better that a simple "thank you" will never be enough to show our appreciation. Thank you for everything : )

[2021-03-26 04:49] gaearon commented on #20417
Can you give this version a spin?

[react-refresh.zip](https://github.com/facebook/react/files/6209445/react-refresh.zip)

[2021-03-26 04:49] acdlite opened #21111 "flushSync should change priority of commit phase updates to sync, even though it can't flush them immediately"
flushSync early returns if it detects it's in the commit (or render) phase, since it can't synchronously flush when React is already working.

However, it should still change the priority of updates scheduled by the callback to be synchronous.

This mostly already works because the commit phase itself has a sync event priority context, but the passive effect phase doesn't.

Need more tests for thi

[2021-03-26 06:00] taichiyi commented on #21094
This is the minimum implementation of the bug.
<https://codesandbox.io/s/s0w9b>

But I think it may not be a bug, it may be react design behavior.

[2021-03-26 06:40] yuhongda commented on #20417
Just give it a try, but it's just like before :(

"react": "^17.0.1",
"mobx": "^6.1.5",
"mobx-react-lite": "^3.2.0",
"snowpack": "^3.0.13",
"@snowpack/plugin-react-refresh": "^2.3.8", (replaced the react-refresh package)

[2021-03-26 07:10] mattgperry commented on #21098
@gaearon no, no rush at all! Just something I stumbled upon.

[2021-03-26 07:11] kotliluk commented on #21094
I see, as long as changing onChnage to onClick fixes the behavior, it is not an important issue. It just confuses and is hard to debug.

[2021-03-26 08:03] limekiln commented on #20863
Any updates regarding this issue? I am currently working around this by having a timeout so that changes can be drawn to the screen, but that is no really satisfying solution for obvious reasons.

[2021-03-26 08:17] eps1lon commented on #21094
This does sound like a bug to me.

Summary: Scheduling an update in a click capture handler not managed by React prevents change events in a checkbox.

[2021-03-26 13:18] gaearon commented on #20417
Do you have a minimal repro? I used the one in the beginning of this thread and it works for me locally. But it’s using a reduced case instead of actual MobX.

[2021-03-26 13:45] gaearon commented on #21094
New or old bug?

[2021-03-26 14:14] eps1lon commented on #21094
old bug.
React 16: https://codesandbox.io/s/react-16-checkbox-click-prevented-by-dom-capture-listener-ty36e
React 17: https://codesandbox.io/s/react-17-checkbox-click-prevented-by-dom-capture-listener-lkfvo?file=/src/index.js

[2021-03-26 14:29] AoDev commented on #20417
I have tried the version you shared. It didn't fix the issue.

I am using [mmmwh/react-refresh-webpack-plugin](https://github.com/pmmmwh/react-refresh-webpack-plugin).

I just replaced  react-refresh in my node_modules.
Here is the repo I am testing it with: https://github.com/AoDev/bard-app.

(It's a boilerplate I use for my projects.)

[code]

My test consists of updating the SignIn form (first

[2021-03-26 14:46] yuhongda commented on #20417
sure thing. please check it. [https://github.com/yuhongda/repro-react-issues-20417](url)

[2021-03-26 15:12] zenstok commented on #21055
I found the cause for this. You need to restart the development server and then it will work.

[2021-03-26 15:34] gaearon commented on #20417
To be clear, _this_ issue was about an error being thrown ("rendered too many Hooks"). That's what my fix is supposed to help with. Are you describing a different problem?

[2021-03-26 15:35] gaearon commented on #20417
What are the reproducing steps?

[2021-03-26 15:44] AoDev commented on #20417
I am coming from a serie of issues reported by various mobx users who don't see any update.

I don't know the underlying cause and thought this one was related as it was pointed to me [here](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/301).

It is possible that the issue described here is not the cause but I thought it was.

[2021-03-26 15:45] gaearon commented on #20417
Ah I see. That's probably a separate issue. Although there might be related underlying causes. But I haven't looked at that one yet.

[2021-03-26 16:19] yuhongda commented on #20417
Please follow the steps:

1. install & run it
`
yarn
yarn dev
`
2. and then snowpack will open a browser tab automatically, just like below:
![image](https://user-images.githubusercontent.com/259410/112661245-47be7b80-8e91-11eb-9780-7eda45b2f643.png)

3. find `./src/components/Home/index.tsx`, edit & save
![image](https://user-images.githubusercontent.com/259410/112661775-d8955700-8e91-11eb-8ddc-c

[2021-03-26 16:39] yuhongda commented on #20417
I just think maybe we have the same problem.

[2021-03-26 16:45] gaearon commented on #20417
Pushed another commit to the fix. It solves the crash in https://github.com/mobxjs/mobx/issues/2668#issue-757517589 (my original fix wasn't enough). It doesn't solve the issue in the other comments though. I don't think these are the same issues so I'll keep looking.

[react-refresh.zip](https://github.com/facebook/react/files/6213160/react-refresh.zip)

[2021-03-26 17:17] gaearon commented on #20417
Regarding @AoDev's issue. It's MobX idioms strike again, unfortunately.

You have a component like this:

[code]

This component is fine. Here is how it's used:

[code]

What is `withVM`? It's a MobX helper that again **does not render your component, instead calling it directly**.

This again breaks the expectations of React that things that look like components, and are exported as component, ar

[2021-03-26 17:17] yuhongda commented on #20417
This one you shared is also not work :(

[2021-03-26 17:21] gaearon commented on #20417
@yuhongda I can't run your example because it uses an npm mirror. If I remove the mirror I get the error that `"https://registry.yarnpkg.com/@scf%2freact-templates` is not found.

[2021-03-26 17:28] yuhongda commented on #20417
I just update it. Please try it again.

[2021-03-26 17:32] gaearon commented on #20417
@yuhongda Now getting this.

<img width="1055" alt="Screenshot 2021-03-26 at 17 32 32" src="https://user-images.githubusercontent.com/810438/112670793-47a28980-8e59-11eb-8165-c7c295b3d9ad.png">

[2021-03-26 17:34] gaearon commented on #20417
And then if I remove the router store altogether, I get this. Something is pretty broken in this setup.

<img width="1011" alt="Screenshot 2021-03-26 at 17 34 14" src="https://user-images.githubusercontent.com/810438/112670985-87697100-8e59-11eb-87bc-d2b9bc598962.png">

[2021-03-26 17:36] yuhongda commented on #20417
please check if the snowpack version == 3.0.13

[2021-03-26 17:37] gaearon commented on #20417
OK that runs yea.

[2021-03-26 17:39] yuhongda commented on #20417
great!

[2021-03-26 17:50] #20905 closed

[2021-03-26 17:52] gaearon commented on #20417
@yuhongda The issue you're experiencing is a problem with your bundler or some transformation. The code of `node_modules/react-refresh/cjs/react-refresh-runtime.development.js` has these lines:

[code]

But the code I see in the browser is:

[code]

This is why my fix does not work for you.

[2021-03-26 18:06] gaearon commented on #20417
To sum up:

- The original problem in this issue would be solved by https://github.com/facebook/react/pull/21104 (if we proceed).
- The problem @AoDev is seeing is an issue of exporting a component but later *calling* it from another file. The fix is to either change MobX to stop relying on unidiomatic patterns (unlikely) or to move `withVM` call into the same file as the component definition.
- T

[2021-03-26 18:26] yuhongda commented on #20417
I remove all the Babel plugins, the problem is still there. Maybe it’s problem about snowpack, and I’ll try it later.

[2021-03-26 18:27] gaearon commented on #20417
Clarification: I misunderstood @AoDev's repro case thinking that `useVM` is a MobX API. Instead, it appears to be a custom utility. Regardless, my recommendation here is to always create observers around the components you use explicitly, in the same file. So instead of exporting `SignIn` and later wrapping it in `useVM` that calls `observer` in another file, make `SignIn` itself export an `observ

[2021-03-26 18:29] AoDev commented on #20417
The code for withVM can be seen here: [withVM](https://github.com/AoDev/bard-instruments/blob/master/src/mobx/withVM.tsx)

It is a helper I've used for years now, just changed a bit when React switched to hooks. It was created as a reusable solution based on one convention, which is that there is a RootStore available in context.

The point of doing it this way is the following:
- complete separat

[2021-03-26 18:38] gaearon commented on #20417
I get the motivation for why you'd want to structure it this way, but there is some tension here between the way React works, and the way MobX tries to make it work. Unfortunately, the issue is right at the middle of that tension.

React does not work reactively based on mutation. Like you noted, we have different paths. There's a number of things MobX can do to try to hide it away but we need to

[2021-03-26 18:54] AoDev commented on #20417
Thanks for the feedback, I'll see if I can come up with a solution that can get the best of both worlds. To be honest I've been checking interesting projects like [mobx-jsx](https://github.com/ryansolid/mobx-jsx) but it's more an experiment than anything. It was already hard to get companies to use Mobx a couple of years ago, now asking them to not use React would be mission impossible ; )

[2021-03-26 18:57] mweststrate commented on #20417
@AoDev `observer` should always be applied straight at the component definition; this makes potential refactoring issues like the shown by @gaearon more explicit and easier to detect and it prevents potential mismatches between behavior of something that is called potentially wrapped and unwrapped in e.g. a unit test, or very tricky to spot, a recursive component call. But most importantly it make

[2021-03-26 19:01] AoDev commented on #20417
I guess I have a misunderstanding of how observer works.

Isn't  `export default observer(MyComponent)` the same as
[code]
Because that's what the utility does.

Note that this utility is mostly used for big app sections, like a root feature if you will, the other components are just plain observers.

[2021-03-26 19:06] mweststrate commented on #20417
Correct it's not the same, since 1) RHL works on a per file basis and 2) references to MyComponent might refer to the unwrapped component (for example in the `MyComponent` file itself, its tests, etc)

[2021-03-26 19:13] AoDev commented on #20417
Thank you both for your time. I've got my mobx-react recipes since `mobservable`. I probably missed something along the way. I'll move the observer decoration out and test.  : )

[2021-03-26 19:15] gaearon commented on #20417
I was always curious... what does “M” stand for? Michel? :-)

[2021-03-26 19:19] mweststrate commented on #20417
It was a bad word play: a mob of observables; MOBservable 😅. Since it is
so fine grained in its observation, there would be gazillion observables
more than when using e.g rxjs.

On Fri, 26 Mar 2021, 19:15 Dan Abramov, ***@***.***> wrote:

[2021-03-26 23:41] nanxiaobei opened #21114 "setState(another setState call inside) after promise be called twice?"
React version: 17.0.2

## Steps To Reproduce

When after promise(async), setState(another setState inside) runs twice.

Without promise(not async), setState(another setState inside) runs once.

## Link to code example:

https://codesandbox.io/s/setstate-issue-v1fpv

![Kyzvh.png](https://s3.jpg.cm/2021/03/27/Kyzvh.png)

## The current behavior

`setB` run once.

## The expected behavior

`setB` run

[2021-03-27 02:09] yuhongda commented on #20417
@gaearon Eventually I find out where the problem happen. It's because `@snowpack/plugin-react-refresh` use `replace()` to insert react-refresh code, so the `$$` will be also replace by `$`. So that's the reason. I have commit pull request to fix it:
[https://github.com/snowpackjs/snowpack/pull/3015](https://github.com/snowpackjs/snowpack/pull/3015)

Also. I need to update react-refresh version in

[2021-03-27 03:02] nicktify commented on #21114
Hello! if you write the useState inside function this way, without an arrow function, the problem disappears..

[code]

[2021-03-27 09:10] eps1lon commented on #21114
Thanks for the reproduction.

This is intentional behavior of `React.StrictMode` (see `index.js`). `StrictMode` will call functional updates (i.e. `setState(() => {})` twice to detect side-effects. The actual state change will only be applied once though.

For more information check out https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects. Does this clear things up for you?

[2021-03-27 10:24] rais660 opened #21115 "Error: "value is undefined""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.10.1-f160547f47

Component stack: AutoSizeInput_AutoSizeInput@moz-extension://65865dd8-b79d-432e-893e-c14607a468af/build/main.js:29827:19
Field@moz-extension://65865dd8-b79d-432e-

[2021-03-27 10:46] nanxiaobei commented on #21114
Hi, in the [codesandbox demo](https://codesandbox.io/s/setstate-issue-v1fpv), when click the "+1" button, `a` updates from `0` to `2`, I think the sate change just applied twice.

[2021-03-27 10:48] nanxiaobei commented on #21114
Tested in the demo, just runs twice also. 😑

[2021-03-27 10:54] eps1lon commented on #21114
Sorry about the confusion.

[code]

You probably want to put `A` and `B` into the same state and switch to `useReducer`.

[2021-03-27 11:00] nanxiaobei commented on #21114
OK, I see.

Thank you very much for your patient explanation.

[2021-03-27 11:00] #21114 closed

[2021-03-27 12:37] matthieujabbour opened #21116 "Bug: `React.useState(new ...())` generates a new instance at each render"
I don't think this is the expected behaviour, but I let you confirm that.

React version: 17.0.2

## Steps To Reproduce

1. Declare a very simple component and use `React.useState` hook along with a new class instance declaration

Link to code example: https://codesandbox.io/s/weathered-sea-6r40u

## The current behavior

The class constructor is called at each render, which generates a new instan

[2021-03-27 13:11] sebastianfast commented on #15379
I am using [XState](https://xstate.js.org/) and found that wrapping the per-path-tests within `await act()` get rids of the warning:

[code]

[2021-03-27 13:16] harisraharjo opened #21117 "Error: "Commit tree does not contain fiber 681. This is a bug in React DevTools.""
Describe what you were doing when the bug occurred:
1. I was trying tab navigation along with reselect library, one selector for each tab.
2. When I switch between tabs, it triggers state changes and I tried to see how expensive the rendering with react devtools
3. It crash when I click the highest bar

---------------------------------------------
Please do not remove the text below this line
---

[2021-03-27 14:37] bvaughn opened #21118 "Bump DevTools Chrome and Firefox versions"
We currently build DevTools to target Chrome 49 and Firefox 54. These are super old browser versions and they did not have full ES6 support, so the generated build is more bloated than it needs to be.

DevTools uses most modern language features. Off the top of my head, the following features are used (basically everything but async and generator functions):
| Feature | Chrome support | Firefox su

[2021-03-27 14:41] bvaughn commented on #21117
I'm sorry you experienced this bug! 🙇

Looks like this problem was already reported though (#20431) so I'm going to mark this issue as a duplicate and close it. If you have additional context that might help us repro this problem, please leave a comment on the other issue!

Thank you~

[2021-03-27 14:41] #21117 closed

[2021-03-27 14:49] bvaughn commented on #21116
[code]

This code creates a new instance of `Test` before `useState` is even called. React can't prevent that. It's how JavaScript works

Put another way, this is what the above code is telling a browser to do:
1. Create a new instance of `Test`
2. Pass that value to `useState`
3. Assign the return value of `useState` to `test` and `setTest` variables.

To be clear, React will only keep the _first

[2021-03-27 14:49] #21116 closed

[2021-03-27 14:49] #21115 closed

[2021-03-27 14:49] bvaughn commented on #21115
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-03-27 16:40] matthieujabbour commented on #21116
It actually makes totally sense indeed! So sorry for this false alarm, and thanks for your quick reply.

[2021-03-27 17:36] Ratstail91 commented on #21043
This is exactly what I need right now (what I actually need is some way to figure out why my component is rendering twice...)

[2021-03-27 17:43] bengry commented on #21043
https://www.npmjs.com/package/@welldone-software/why-did-you-render

[2021-03-27 20:17] brunoandradebr commented on #6807
For those facing the same problem with functional components, just change useEffect to useLayoutEffect and you gona love ^^

[2021-03-27 20:41] mrtnrst commented on #20951
Following up @bushblade. I'm running the latest Ubuntu build and I'm seeing the correct formatting. Do you have a deployed site that I can test with? Or is this happening everywhere for you? Not entirely sure what I'm missing here between our two laptops. My only thinking that might point to an issue is the `KeyValue.css` and the mix of flex containers, feels like a stretch though.

This is from t

[2021-03-27 21:03] bushblade commented on #20951
Thanks for following this up.
It's everywhere for as long as I can remember using FF
Here is the ReactJS home page for me..
![Screenshot_2021-03-27_20-47-12](https://user-images.githubusercontent.com/21976188/112734464-d38de180-8f3d-11eb-996d-8d15ad4cd8ff.png)
I see the issue on my main machine (Ryzen 5 desktop) and on my laptop (Thinkpad x260) Both running Manjaro XFCE.
I did try Arco Linux in a

[2021-03-28 00:40] ktfth commented on #21094
Can i help solve that? Maybe with a mentor to be more nice process.

[2021-03-28 02:51] szhsin opened #21119 "Bug: state updates in ResizeObserver callback are not batched, causing multiple re-rendering of component"
React version: 17.0.2
Browser: recent versions of Chrome/Safari/Firefox

## Steps To Reproduce

1. Write multiple state updates in `ResizeObserver` callback.
2. Cause observer target to change size.

Link to code example: https://codesandbox.io/s/resizeobserver-not-batch-state-update-6rb6y

## The current behavior
Each state update in `ResizeObserver` callback leads to an individual re-rendering o

[2021-03-28 03:26] Kais3rP commented on #20863
Time Slice addresses this maybe ?

[2021-03-28 04:04] bgirard commented on #20863
This isn't true AIUI. If you change the state during any unrelated `useLayoutEffect` then previous `useEffect` will be flush synchronously before synchronously reconciling the modified state. Stick a `console.trace()` in your effect and what the stack. If you see a stack like this:
[code]

You can read this bottom up as: React caught the event, is doing a sync render, and then it flushes the passi

[2021-03-28 05:29] Bnaya commented on #20417
Sorry I'm late for the party, we are in a holiday:)
If im not mistaken, that issue can break any renderprop useage?
Is there a way to mark component as "always remount"?

[2021-03-28 12:08] Ignalion opened #21120 "Bug: exhaustive-deps tells me to add state to deps but it shouldn't be the case"
I have Add/Edit form with dynamic fields for it. So, I have two parts of the form: shape (fields itself) and data to populate those fields initially (in edit case). Thus, I propagate shape to initialState of form and update data in useEffect if needed.

However I have to copy the state in useEffect because otherwise setState won't trigger re-render sometimes. But exhaustive-deps linter rule tells

[2021-03-28 12:22] gaearon commented on #20417
It don’t see how it would break render prop usage. I’d need a more specific example to explain why it doesn’t.

[2021-03-28 12:27] gaearon commented on #21120
Something’s wrong with the approach here. It is very rare that setState directly in useEffect is the right solution to anything. (The only legit reason I can think of to do it is to exclude some parts from server rendering).

I suggest to restructure the code so that you don’t rely on effect at all. Generally, you should either:

* Derive data during render, or
* Set all state you need during an e

[2021-03-28 12:34] Ignalion commented on #21120
Well, partially I agree. Of course it's simplified example, in real case editData comes from Redux, not from component props. So that I think justifies the need of useEffect, because data simply isn't accessible on first render. I think I could try get rid of setting state in useEffect anyway, it just complicates the already complicated solution hardly :)

Anyway, I think it's just weird that rule

[2021-03-28 14:08] gaearon commented on #13206
I should probably expand a bit more on this.

We don't have large "unknown unknowns" anymore. So the remaining work is mostly about preparing the ecosystem for migration. You might have noticed that we pay attention to incremental migration on the React team. So we want to get this right. Incremental migration, including finding the right tradeoff, writing migration guides, and working with the ec

[2021-03-28 14:25] gaearon commented on #13206
By the way. If someone discovers this thread from some Twitter argument, I want to be explicit that we've made a decision to not participate in those. These arguments are draining, don't lead to anything productive, tend to pop up on weekends, are ruining our work-life balance, tend to be ill-informed, don't afford nuance or context, and are largely a waste of time for all parties involved. We've

[2021-03-28 14:33] bvaughn commented on #21119
React automatically batches state updates inside of even handlers registered via React to avoid unnecessary intermediate update work. React can do this because it calls the event handler (your code). This allows it to wait to process the updates until your code has finished running and there are no more pending updates.

The example you provided is using a `ResizeObserver` which is more akin to `w

[2021-03-28 14:33] #21119 closed

[2021-03-28 17:11] fabiano-debugador opened #21121 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-03-28 17:12] fabiano-debugador commented on #21121
kkk

[2021-03-28 17:12] #21121 closed

[2021-03-28 23:27] Kais3rP commented on #20863
Could you check this example: https://stackblitz.com/edit/react-3jsceq ?

It doesn't look to block the paint to me, since the button gets greyed out after the first click, it keeps getting the click events  though . What's the explanation of this behavior ?

[2021-03-28 23:50] #21111 closed

[2021-03-29 01:08] OndeVai commented on #14073
Has this been fixed? I'm seeing the same issue now with React 17.0.1

[2021-03-29 02:01] bvaughn commented on #21120
The lint rule suggests you include any variables referenced from inside of the effect as dependencies. Because `formData` is referenced, the lint rule includes it.

If you're just looking to remove the dependency, you could use the functional update form of set state, e.g.:
[code]

But I agree with Dan that this overall pattern looks fishy. Unless something is _mutating_ the `editData` prop betwee

[2021-03-29 03:02] gaearon commented on #14073
That one was fixed, so you're seeing something different. File a bug with a minimal repro case.

[2021-03-29 06:13] bgirard commented on #20863
In this case this works as expected right? Your event handler triggers a render, which has a passive effect and nothing special causes that effect to run before the paint. This work as you intent it.

Now if you have something else in your application that causes the effect to flush before the paint then suddenly it doesn't work as you expected. Like this: https://stackblitz.com/edit/react-8zxitw

[2021-03-29 06:44] TomJerryTheHandsome opened #21125 "Question: is there any way to retrieve React Devtool performance data?"
Hi guys, I want to get react devtool performance/profiler results, probably a JSON data and send to our local server, I read through the react-devtools-core but unfortunately do to get any clue how to do this ?

[2021-03-29 06:50] pervezalam777 commented on #20863
This is an alternative to setTimeout you can use 'requestAnimationFrame'

`export const LoadingWrapper = ({ callback, children }) => {
  useEffect(() => {
    if (typeof callback === "function") {
      window.requestAnimationFrame(() => {
        window.requestAnimationFrame(() => {
          callback();
        });
      });
    }
  }, [callback]);

  return <React.Fragment> {children} </React.F

[2021-03-29 06:57] bgirard commented on #20863
If you're in an event handler, the first `requestAnimationFrame` is still blocking the frame for that event handler, the second one will run after the fact in some situation, but it's certainly not a guarantee or a robust solution.

[2021-03-29 08:06] limekiln commented on #20863
I thought so too, but if I am not mistaken here this is still experimental, is it not?

Then I find the documentation quite misleading, since it is state:

So this does not mean the updates should be visible within the browser? Also, in the given example, there is neither a `useLayoutEffect` nor any other unrelated state updates, so I do not understand what whould introduce this behaviour there.

[2021-03-29 08:16] bushblade commented on #20951
I can only replicate the issue on a real hardware installation, it does not happen in a VM.

[2021-03-29 09:24] eps1lon commented on #21125
You have two options:

1. Save the profile (5th icon (downarrow) in the toolbar)
![screenshot of the react devtools profiler tab toolbar. The fifth action is hovered which is named "Save Profile"](https://user-images.githubusercontent.com/12292047/112816023-39cf4d00-9081-11eb-8686-81cf97ad0376.png)

1. Use [`React.Profiler`](https://reactjs.org/docs/profiler.html#gatsby-focus-wrapper) to construct

[2021-03-29 13:47] bvaughn commented on #21125
@eps1lon's answer is correct so I'm going to close this question :)

[2021-03-29 13:47] #21125 closed

[2021-03-29 13:51] bvaughn commented on #21120
I think this issue can be closed now but we can keep talking on it if the answers above are unclear :)

[2021-03-29 13:51] #21120 closed

[2021-03-29 14:07] Sylvenas opened #21126 "The number of console.log calls in setState is incorrect"
Hello, I'm confused about how useState and setState work, for a simple example:
[code]
You can use this prepared code example:[https://codesandbox.io/s/goofy-sea-6evwt?file=/src/App.js](https://codesandbox.io/s/goofy-sea-6evwt?file=/src/App.js)

React StrictMode:
- On the first click，`local log` and `global log` print once each.
- On the second click, `local log` prints once, but `global log` prin

[2021-03-29 18:12] ktfth commented on #21094
I have tested the behavior and worked with that solution:

https://github.com/ktfth/react/blob/b2fd44dccb87f03bc9030c08e820d7b66f5a9618/packages/react-dom/src/__tests__/ReactDOMInput-test.js#L53

[2021-03-29 18:24] bvaughn opened #21128 "Remove DevTools dependency on host node internalInstanceKey"
React uses a pseudo-randomly-generated `internalInstanceKey` key field is used to store a reference on a host node (e.g. `HTMLDivElement`) to the Fiber that created it:
https://github.com/facebook/react/blob/634cc52e6174b506dee79d908f50ce1ee19f4fbf/packages/react-dom/src/client/ReactDOMComponentTree.js#L56-L61

This pointer in turn is used by a few things:
* Event propagation: Will not be necessar

[2021-03-29 18:24] ktfth commented on #21094
https://codesandbox.io/s/thirsty-goldstine-q87sk?file=/src/App.js

[2021-03-29 18:35] kotliluk commented on #21094
I think your solution is not for the bug we are discussing - the key part of the bug is adding a listener on any element and setting state in it. The bug does not occur without this situation.

[2021-03-29 18:51] ktfth commented on #21094
@kotliluk it's my bad, i'm looking to a solution for that, thank you for your answer

[2021-03-29 18:54] ktfth commented on #21094
@kotliluk Did you see the example who i have created, they have a click on that and worked. You see?

[2021-03-29 19:35] ktfth commented on #21094
@eps1lon You can guide me to solve that problem?

[2021-03-29 20:47] adamrneary commented on #14257
Thanks @JerryGreen!

For future explorers, the above solution didn't happen to work in my case. Not sure if it had to do with the use of NextJS, but that is possible!

A slight tweak worked, though: making the package link to my project's `react` and `react-dom`.

If you are in the same situation, perhaps try:
[code]

This did the trick for us!

[2021-03-29 21:42] carystanley commented on #20829
Chrome gives the following warning:

[code]

Seems like SharedArrayBuffer will not work after May 2021 without cross-origin isolation

I'm sure for some setting up cross-origin isolation may be a hurdle, and I know for those that are on React 16, upgrading to React 17 can also be a hurdle. The fix made seems pretty simple: https://github.com/facebook/react/pull/20831 basically falling back to `Arr

[2021-03-29 21:43] markerikson commented on #21119
Also see my longer description of how batching works at https://blog.isquaredsoftware.com/2020/05/blogged-answers-a-mostly-complete-guide-to-react-rendering-behavior/#render-batching-and-timing .

[2021-03-29 22:20] chengsieuly opened #21131 "Bug: clientHeight is reported as 0 when conditionally rendered"
A component gets rendered conditionally based on an async call. The rendered component renders its value from the response of the async call. When it gets rendered, the `clientHeight` that gets reported is `0`.

React version: 17.0.2

## Steps To Reproduce

1. Load the sandbox

https://codesandbox.io/s/interesting-bug-resolving-around-ref-bkc6k?file=/src/App.js

2. Take a note at the console logge

[2021-03-29 22:41] dfabulich commented on #13206
In the Server Components FAQ, <https://github.com/reactjs/rfcs/blob/2b3ab544f46f74b9035d7768c143dc2efbacedb6/text/0000-server-components.md#why-not-use-asyncawait> the React team said that they would prioritize an RFC for Suspense in early 2021, documenting why Suspense-compatible data-fetching APIs have to `throw` Promise objects in order to suspend, instead of using standard `async`/`await` patt

[2021-03-29 22:56] Andarist commented on #13206
Given this design has already years and they had to discuss this extensively between each other and with other people inside and outside of Facebook I find such a statement rather ill-placed. Do you really believe that a team of those engineers can't explain their choices? You/we/whoever don't have to agree on any particular choice taken but to state that the choice is so bad that it can't even be

[2021-03-29 22:58] vicasas commented on #20829
@gaearon For later versions that Fox will not be available?

[2021-03-30 01:32] ktfth commented on #11734
I can work on that task? What is needed to finish that task?

[2021-03-30 01:47] Sylvenas commented on #21126
@a-c-sreedhar-reddy thank you, this is a problem not a bug, this issus can be closed.

[2021-03-30 02:12] gaearon commented on #13206
A brief answer is that we needed a pattern that can work both on the server and the client without writing code differently — so that it works e.g. in Shared Components. Async/await inside components gets pretty bad on the client for multiple reasons, including (1) unnecessary waterfall of ticks in the most common — already resolved — case, (2) it does not solve caching so you have to add a cachin

[2021-03-30 02:19] gaearon commented on #20829
You mean for earlier ones? No, but also nothing would break. You can ignore the message.

[2021-03-30 02:31] dfabulich commented on #13206
I certainly agree that this thread isn't the place to hash out the Suspense RFC and `async`/`await` issues, but I would like to constructively request that publishing and discussing the Suspense RFC be a priority.

This issue is about releasing Suspense, and the major prerequisites for releasing Suspense. Discussing Suspense with the public in an RFC, making sure you're actually shipping the right

[2021-03-30 02:38] bvaughn commented on #21131
What you're observing is that legacy React processes both of these state updates independently when called from an async callback. First it processes the flag update (without any content/response) and then the response. Reversing the order of the variables avoids the temporarily "invalid" state. There are a couple of ways you could deal with this:

### 1 Combine the two pieces of state using a [re

[2021-03-30 02:38] #21131 closed

[2021-03-30 02:51] #21126 closed

[2021-03-30 05:20] taichiyi commented on #21126
Related PRs:

[Double-render function components with Hooks in DEV in StrictMode](https://github.com/facebook/react/pull/14654)

[Disable console.logs in the second render pass of DEV mode double render](https://github.com/facebook/react/pull/18547)

[2021-03-30 07:11] binhpv commented on #12989
@gaearon
I tested several iOS simulator and found out that from iOS 13 and higher, the click event bubbling issue is not an issue anymore. This test was done following test cases in https://www.quirksmode.org/blog/archives/2010/09/click_event_del.html

Maybe we could be more pragmatic and add the check only for iOS 12 and lower. This will of course cause some issues, but only for very small amount

[2021-03-30 07:14] yisar opened #21137 "Another Fiber structure without return pointer."
https://twitter.com/acdlite/status/1369894466308497411

This is a tweet from @acdlite , which I think is worth thinking about and recording

The current react fiber linked list structure does limit the implementation of few algorithms, such as the right to left diff algorithm based on the longest incremental subsequence.

Is there a new structure that doesn't need a return pointer? What should it

[2021-03-30 07:16] yisar commented on #21137
cc @sebmarkbage @gaearon @richardjrossiii

[2021-03-30 09:04] gaearon commented on #12989
Do we have a good way to detect iOS <= 13? I was just thinking about getting rid of this too a few days ago.

[2021-03-30 09:29] gaearon commented on #13206
I think it’s fair to say that having used this mechanism for the last two years heavily in production, we feel rather confident about it and understand its tradeoffs well. This doesn’t mean feedback won’t be welcome, but we need to be practical with sequencing how we spend our time. The exact API isn’t central to the paradigm, but the constraints that led us to it are, and any alternative solution

[2021-03-30 10:04] xiaody opened #21138 "Root component's ref is not set if it is rendered in another react app's useEffect"
React version: 17.0.2

## Steps To Reproduce

1. In useEffect, render another app with ref into a new DOM node.
[code]

Link to code example: https://stackblitz.com/edit/react-useeffect-ref-null?file=index.tsx

## The current behavior
ref is not set if rendered in another root's useEffect.

## The expected behavior
ref is set synchronously no matter where it is rendered.

[2021-03-30 11:28] szhsin commented on #21119
Thanks @bvaughn @markerikson for the explanation, looking forward to the release of Concurrent Mode.

[2021-03-30 12:17] gaearon opened #21139 "[Fast Refresh] Don’t Scan the Tree"
We had a conversation with @sebmarkbage about https://github.com/facebook/react/issues/20417. He had a different implementation idea that should resolve such issues. I probably won't do this now but I want to write it down for future reference.

Currently, after we gather a list of types that need to be updated in the tree, we scan the tree and tag Fibers to be updated. This happens [here](https:/

[2021-03-30 15:08] #20417 closed

[2021-03-30 15:21] gaearon commented on #20417
`react-refresh@0.10.0` is out with the fix. I'll file an issue against the webpack plugin to update it, but feel free to upgrade it manually to try it in your project.

[2021-03-30 15:33] mrtnrst commented on #20951
I don't have a linux build handy, I would have to run through a partition. My immediate guess is the flexbox is failing for some reason that is on the `Item` type, which corresponds to the key.

Could you try testing a VM of Manjaro? I'm wondering if it's the distro itself.

[2021-03-30 16:57] eldh commented on #20417
Fixes the problem for us, when used together with https://github.com/snowpackjs/snowpack/pull/3015. Thanks so much for fixing, Dan!

[2021-03-30 17:21] pradeepc84 opened #21140 "Error: "Commit tree does not contain fiber 74. This is a bug in React DevTools.""
Describe what you were doing when the bug occurred:
1. I am trying to record using profiler on my react app
2. when , I stop recording .This bug appears
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.10.1-f160547f47

Call stack: at updateTree (chrome-extension://fmkadmapgofadopljbjfk

[2021-03-30 17:50] mr-shahAbbas commented on #14979
I've also had such a problem and finally I found that the main reason of this problem is using hooks in wrong place, you need to use your hook in parent component and not the child one. For example, you have a todo list and todo component, you have to use it in todo list and not in todo.

[2021-03-30 18:29] bvaughn commented on #21140
I'm sorry you experienced this bug! 🙇

Looks like this problem was already reported though (#20431) so I'm going to mark this issue as a duplicate and close it. If you have additional context that might help us repro this problem, please leave a comment on the other issue!

Thank you~

[2021-03-30 18:29] #21140 closed

[2021-03-30 18:33] bvaughn commented on #21138
React does not work on two roots at once. Within your effect, React is still in progress of working on a single root (`Test`). Once that's done, it synchronously renders the second root (`App`).

This is working as designed. :)

[2021-03-30 19:51] ktfth commented on #19371
@MoSattler can i help you with that task?

[2021-03-30 19:52] bvaughn commented on #19371
This task is still up for grabs, if you're interested, @ktfth

[2021-03-30 19:56] ktfth commented on #19371
@bvaughn I'm totally interested on that task, can you update me with the needs to complete them?

[2021-03-30 20:13] mvdobrinin commented on #20141
Reproduced on react 16.13.1.

[2021-03-30 20:24] ktfth commented on #19371
I'm gonna work to get all information needed. Thank you

[2021-03-30 21:23] ktfth commented on #19371
@bvaughn I have some question after investigate the process mentioned on #19371 (comment), the test need to be runned just on legacy code and for each version of react?

[2021-03-31 00:47] bvaughn commented on #19371
I don't know what you mean by "just legacy code"

Ideally probably at least each minor version of React

[2021-03-31 01:06] OndeVai commented on #14073
Actually, in my case, I have a Suspense (call it SuspenseA) nested several levels below another Suspense (call it SuspenseB). For  SuspenseB, SuspenseA renders its fallback UI only if I do not provide a fallback for SuspenseB. In my case I did not want any fallback UI for B at all. So, I ended up providing a null fallback and everything worked as desired.

Is what I just described by design? If no

[2021-03-31 02:29] shivam2093 commented on #16225
Please help me I have an error shown unndefined is not an object( '_useContext.user')

[2021-03-31 02:29] shivam2093 commented on #16225
I have used perfect import files but I use useContext in App.js file would be fine?

[2021-03-31 02:36] abhijit-hota commented on #21057
Hello, @gaearon and @eps1lon ! 👋

If that PR being talked about isn't being worked upon, I can work on it. I suppose I have to work [here](https://github1s.com/facebook/react/blob/HEAD/packages/eslint-plugin-react-hooks/src/RulesOfHooks.js)? Any pointers will be helpful.

[2021-03-31 02:52] abhijit-hota commented on #20981
@kokushkin From the [contribution guide](https://reactjs.org/docs/codebase-overview.html#warnings-and-invariants)

[2021-03-31 05:54] kokushkin commented on #20981
Not entirely true.
In fact the React codebase uses both console.error and console.warn functions.
`// In DEV, calls to console.warn and console.error get replaced
// by calls to these methods by a Babel plugin.
//
// In PROD (or in packages without access to React internals),
// they are left as they are instead.

export function warn(format, ...args) {
  if (__DEV__) {
    printWarning('warn', fo

[2021-03-31 07:38] AndrewIsBest69 opened #21148 "Bug: Components don't re-render after changing state"
https://github.com/facebook/react/issues/19181 is pretty much my issue, but I did not find any useful information there. I tried to fix it by assigning the prevState to another variable and then editing the new one, but it did not work

React version: 17.0.2

## Steps To Reproduce
Use this code:

[code]

Link to code example:

https://codesandbox.io/s/stoic-mahavira-gp5wf?fontsize=14&hidenavigatio

[2021-03-31 11:31] vkatatab commented on #21148
You are not creating a new object, when you do `object = prevMenus` they are still the same
You could try to deep cloning your object with (or something like it):
`object = JSON.parse(JSON.stringify(prevMenus))`

[2021-03-31 11:47] eps1lon commented on #21148
The answer of @vkatatab is correct. Closing since the described behavior is expected.

[2021-03-31 11:47] #21148 closed

[2021-03-31 12:31] gaearon commented on #14073
Hmm. I'm not sure I understand what the expected and the actual behavior was.

[2021-03-31 13:01] bvaughn commented on #21138
Going to go ahead and close this issue. Feel free to ask follow up questions if you have any!

[2021-03-31 13:01] #21138 closed

[2021-03-31 13:15] MaxBittker commented on #20139
This manifested in a slightly different way for me -

In my application, I had this structure inside my "CardList" component"):
[code]

My card components were each rendering, and the profiler told me their reason was "**hooks changed**". (very confusing)

After removing the wrapping ForwardRefElement, the cards were still re-rendering, but the reason changed to "**parent rendered**" (more helpful

[2021-03-31 13:44] gaearon commented on #20920
Why are you doing this? Generally you should synchronously update state in the `onChange` event handler. If you don’t, there will be other issues, like losing caret position.

[2021-03-31 14:07] jmikrut commented on #19637
Hi all,

I've just run into this thread and have a use case that I think might provide some value.

Use Case:
## Nested Forms

In Payload CMS, we have many cases where we use Portals to appropriately adhere to HTML spec regarding how forms _**cannot**_ be nested within one another. To meet this requirement, we portal out "nested" forms into modal windows within a separate area of the DOM.

#### Th

[2021-03-31 14:08] JeremyGrieshop commented on #13991
Hard to tell from the screenshot, but your hook may be wrong.  Make sure useContext is called near the top of the hook, before any conditional code.

[2021-03-31 14:18] gaearon commented on #19400
Can't reproduce this in latest `experimental` so I think the fix is out.

[2021-03-31 14:20] gaearon commented on #19385
The latest `experimental` release has the fix.

Also, Blocking Mode was deleted altogether so that part is solved too.

[2021-03-31 14:36] OndeVai commented on #14073
@gaearon - The expected behavior (for me, at least) was to not show the fallback from SuspenseA, since the direct child components of SuspenseA were already loaded.

So (psuedoish React code):

[code]

In my case, showing SuspenseA's fallback when AysncComponentB was loaded was unexpected. I assumed that since AysncComponentA already loaded there would be no more fallback showing at that level.

(

[2021-03-31 14:51] gaearon commented on #14073
I think the issue here is that `Suspense` without a `fallback` or with `fallback={undefined}` currently gets ignored completely. And you seem to have expected that it acts as a `null` fallback.

We'll need to revisit the behavior (maybe it should always warn and tell you to specify it). But the idea definitely isn't that `fallback={null}` is a good default. It's not because it's "unintentional" —

[2021-03-31 15:03] OndeVai commented on #14073
@gaearon  - Thanks for the quick reply.

I would expect SuspenseB to behave like SuspenseA for its child components. So, if I don't provide a fallback, don't show one. IMO, React can't really make too many assumptions on what the best practices for loading states are for individual projects ;)

[2021-03-31 15:10] gaearon commented on #14073
If that's the behavior you want, you can always pass `fallback={null}`. I am simply saying that there is no "default" fallback, you should always specify one. The fact that not passing it accidentally works seems like an unintentional omission on our side.

[2021-03-31 16:09] BrinsterAman opened #21151 "State not getting updated properly while using useReducer with Context API"
Due to proprietary code issue, can't share the code but will explain the issue elaborately. I have two functions, **function 1** and **function 2** . Inside **function 1**, I am updating my state twice by calling dispatch with two different action.type each time. After updating my state, I want to call **function 2** (from **function 1**), and read state's value. But my state is not getting update

[2021-03-31 16:19] ktfth commented on #19371
The legacy test code showed by you on comment, did you remember?

[2021-03-31 16:44] ktfth commented on #19371
@bvaughn Maybe is not clear what is need to do on that task, can elaborate more about the case is need to cover with the setup?

[2021-03-31 17:09] bvaughn commented on #19371
Was referring to my comment above: https://github.com/facebook/react/issues/19371#issuecomment-700003694

[2021-03-31 17:28] bvaughn commented on #21151
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://codesandbox.io/s/new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem. Screenshots or videos can also be helpful if they help provide context on how to repro the bug.

Here are some tips for providing a minimal example: https://

[2021-03-31 17:31] bvaughn commented on #19371
I don't have a lot of time to go into much detail here, but the idea is that we currently run automated DevTools tests against two flavors of React:
1. The latest (head of master branch)
2. The latest release of React 15 (legacy tests)

Ideally we would _also_ run against every minor release of 16. There are a couple of challenges here:
1. How to install and run the tests against each release
2. H

[2021-03-31 17:34] iDVB commented on #14927
@gaearon Regarding the [tweak to the docs](https://github.com/facebook/react/issues/14927#issuecomment-474479615) you made. I've been reading up a fair bit on the useLayoutEffect warning and SSR conversation.  I think I fully understand the "what's happening" but still completely confused as to the why have a warning for **only useLayoutEffect**

From those docs...

Why then are we providing a war

[2021-03-31 18:05] gaearon commented on #20074
The team has taken a closer look at this now that the related refactors are landing.

We can't fix it in a general case without relying on some heuristic. Making all effects synchronous would be bad. Making all of them asynchronous also doesn't work because sometimes we need to flush earlier. The need to flush earlier relates to handling discrete events (like click) that need to be able to observe

[2021-03-31 18:05] #20074 closed

[2021-03-31 18:08] ktfth commented on #19371
@bvaughn Great this clarify the work, thank you

[2021-03-31 20:32] OndeVai commented on #14073
It might be nice to just call out the behavior in the React official docs.

[2021-03-31 20:41] #20173 closed

[2021-03-31 20:43] ktfth commented on #19371
I have made some tests here to create a case on CI there is the result (first change)[https://github.com/ktfth/react/blob/e5b5ffe9efe66c095f830601ab6e28529ecf8e1e/.circleci/config.yml#L310] (second change)[https://github.com/ktfth/react/blob/e5b5ffe9efe66c095f830601ab6e28529ecf8e1e/.circleci/config.yml#L523] and the (pipeline)[https://app.circleci.com/pipelines/github/ktfth/react?branch=chore%2Fse

[2021-03-31 20:45] ktfth commented on #19371
I'm gonna update here to you @bvaughn can review my changes and get the job done

[2021-03-31 20:47] bvaughn commented on #19371
Okay. Keep me posted when your PR is ready for a look 👍🏼

[2021-03-31 21:09] ktfth commented on #19371
Now i need to reproduce the same tests of legacy for other versions like 16 for every minor?

[2021-03-31 21:28] ktfth commented on #19371
Sorry about a lot of questions, but you have some example to give on that part?

[2021-03-31 22:20] gaearon commented on #14073
Yeah. The undefined fallback thing seems like it's accidental so we'll revisit that.

[2021-03-31 23:39] lifeiscontent commented on #20696
@gaearon any idea who I should ping to get some eyes on this?

[2021-04-01 00:59] bvaughn commented on #19371
No, sorry.

[2021-04-01 01:01] bvaughn commented on #20696
No one needs to be pinged. We review GitHub issues as we have bandwidth.

[2021-04-01 01:39] exaucae opened #21158 "Bug: react-test-renderer: Cannot read property 'removeEventListener' of null on snapshot"
I havethis stack trace while taking a snap of a custom file reader:. The componet is working well execpt in this snapshot that involves react-test-render. It throws this error:

`  console.error
    Error: Uncaught [TypeError: Cannot read property 'removeEventListener' of null]`

Here is my stack

jest@26.6.0
react-router@6.0.0-beta.0
react-router-dom@6.0.0-beta.0
react@17.0.1
typescript@4.2.3

##

[2021-04-01 02:10] lifeiscontent commented on #20696
@bvaughn Sure, do you have an idea where I might look to investigate something like this? It would be my first time contributing to that code so it'd be greatly helpful if someone could point me in the general direction of where I might look.

[2021-04-01 06:47] tarun7singh commented on #20854
@adityavm Can you give more infromation about reproducing this issue.
I tried it on a Macbook with firefox browser.
It is working as expected.

https://user-images.githubusercontent.com/12068093/113254065-bd887400-92e3-11eb-979d-a3060b818d90.mov

[2021-04-01 08:35] BrinsterAman commented on #21151
Can you please check this sandbox link for your reference, [Sandbox](https://codesandbox.io/s/crazy-lamport-0ghrk?file=/src/Home.js). But this is just a sample to demonstrate what we are trying in our original code flow. Just look for the **console.log** value. As far as my understanding goes, **console.log** value should have been **State show -> true** but it is printing **NOT true**.

[2021-04-01 08:49] tomasyaya commented on #21151
Why don't you execute checkComputation() on a separate useEffect with the corresponding value in the dependency array?

[2021-04-01 08:57] noahkrause commented on #21078
I am also having this issue with a big source file. Messy, but gets the point across. Removing this code fires linting errors stating that I am conditionally calling all of the hooks used in my component.

![image](https://user-images.githubusercontent.com/25876649/113269501-82b41b00-92a6-11eb-87bb-564cfbca7230.png)

[2021-04-01 09:17] pankaj247software opened #21159 "Bug: getting console error for live grid randomly"
while working with live grid using react js, giving console error randomly and in that, log mentions,  issue might be at react js file and issue
so could you please help that what is meaning of that or how to fix that

**console error shows as follow,

Invariant Violation: Expected subtree parent to be a mounted class component. This error is likely caused by a bug in React. Please file an issue.*

[2021-04-01 10:11] BrinsterAman commented on #21151
As mentioned, this is just a sample representation of how we are calling functions and dispatch. According to our requirement, we need to dispatch before calling the other function, for here the checkShowValue() function. Please can you tell me why the state is not getting properly updated??

[2021-04-01 10:31] OliverRadini commented on #11827
Is this still known to be a problem? The fiddle mentioned in the original issue seems to work correctly now. I tried specifically setting the React version in the fiddle to 16.2.0 but it still works.

[2021-04-01 12:18] rdwoodring opened #21160 "Exposing possibleStandardNames as a module proposal"
I'm curious if there'd be any interest in exposing [possibleStandardNames.js](https://github.com/facebook/react/blob/a423a01223785a8bc4dcd55f2a0288200b033eee/packages/react-dom/src/shared/possibleStandardNames.js) as an importable entity for users of React. It wouldn't have to be this mapping object specifically; just a utility or some way to be able to reliably and programmatically map `accesskey

[2021-04-01 12:27] tomasyaya commented on #21151
I think React tries to batch updates together if possible for performance.

Your code runs synchronously so checkShowValue will be executed before the update is reflected.

For instance, this shows the console log you wish.

[code]

That's why maybe you could change the approach like

`React.useEffect(() => { checkComputation() }, [show])`

or something like that

[2021-04-01 12:29] gaearon commented on #21160
I’d say your best bet is to copy it into your project. It doesn’t change much, only when we add some new property (which is very rare). I’m not sure that for a WYSIWYG, you’d even want to have all attributes though. An allowlist for every tag would make more sense to me.

[2021-04-01 12:35] rdwoodring commented on #21160
Yeah, that's the approach I've got set up for now, along with hardcoded reference to the expected React version and a check/warning against `React.version` in case the expected version is different than the imported version.

The WYSIWYG library has very solid filtering capabilities and we've got a pretty strict/slim allowlist of attributes as content is entered already; I was just trying to be ro

[2021-04-01 12:50] BrinsterAman commented on #21151
I updated my codesandbox code, with your proposed solution of using async and await but it still, prints **NOT true**. Can you please once verify on the same link. Also, as per our requirement, we just want **doComputation()** function to be called once in a lifecycle, so by providing anything in the dependency array will trigger it again and again, as state value is changing many places in our or

[2021-04-01 13:17] mokimo commented on #20696
@lifeiscontent a start would be reading this https://reactjs.org/docs/how-to-contribute.html

Then you can read through the `readme's` of the `react-devtools` to get an idea of to start and debug the dev tools locally.

Haven't submitted anything myself, but that's how I'd start.

[2021-04-01 13:29] tomasyaya commented on #21151
[code]

[2021-04-01 13:36] tomasyaya commented on #21151
Also, you can try using this approach which seems to be less prone to unwanted behavior.
[code]

[2021-04-01 13:54] bvaughn commented on #21151
React does batch updates from an effect together, yes.

I think there's another misunderstanding here thought related to [how closures work in JavaScript](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Closures).

I copied this code from the sandbox above and added some inline comments:
[code]

I'm going to close this issue because it's not a React bug. We can keep chatting on it though!

[2021-04-01 13:54] #21151 closed

[2021-04-01 13:56] gaearon commented on #21160
I don't think it's worth keeping open. We've gotten a few requests like this over the years but the use cases are pretty niche and this doesn't really justify increasing the surface area.

[2021-04-01 13:59] rdwoodring commented on #21160
Sounds good. Thanks for the advice on a path forward. Closing.

[2021-04-01 13:59] #21160 closed