[2018-01-10 23:17] nhunzaker commented on #11998
We now have a test to confirm that this works as intended on master. This should land in the next release of React.

[2018-01-10 23:17] #11998 closed

[2018-01-10 23:25] awreese commented on #10474
Hmmm... I totally agree with @mweststrate.  I wasted about half a day researching why, after adding error boundaries to our app and through live testing seeing the errors get caught/handled, the fallback element wasn't being rendered and instead the error propagated further and the app crashed.  This isn't the expected behavior based on the error boundary description.  Perhaps it should be mention

[2018-01-10 23:26] iansu commented on #11826
I've looked into this issue and found some information. It seems that the React blur event isn't getting dispatched because the event emitter is disabled when Chrome's native blur event is triggered.

In the ReactDOM `prepareForCommit` method the `ReactBrowserEventEmitter` is disabled and then in the `resetAfterCommit` method it's enabled again. Chrome's native blur event seems to be triggered in

[2018-01-10 23:43] s-daoud opened #12003 "Getting minification warnings even with DefinePlugin and UglifyJSPlugin"
Hello! I've scoured through other issues and can't figure out why the warning is still around because it feels like I've done everything. Here's the setup:

Build scripts
[code]

`base.config.js`:
[code]

`production.config.js`:
[code]

Using React v15.4.2 and Webpack v1.14.0. I'm not sure what I'm missing -- DefinePlugin and UglifyJsPlugin seem to be declared properly, and the `NODE_ENV` is set t

[2018-01-10 23:52] gaearon commented on #12003
You might find this way to diagnose it helpful: https://github.com/facebook/react-devtools/issues/692

[2018-01-11 00:15] s-daoud commented on #12003
That's helpful, thanks! It does look like React's being rendered twice, and there's a copy in development and one in production. I'll look into it!

[2018-01-11 00:42] gaearon commented on #12003
Might help to try `npm ls react` and `npm ls react-dom` in case you accidentally duplicate it. Could also be some bad webpack config (e.g. accidentally including it twice through some clever aliasing or bad bundle splitting config).

[2018-01-11 01:46] jossmac commented on #10649
I ran into a similar issue when updating some code to 16, hopefully this helps someone in the future:

[code]
`ReactChildFiber.coerceRef` won't interpret `false` the way it used to. Easy to work around but confusing at first.

[2018-01-11 01:52] s-daoud commented on #12003
Haha yeah there's three copies of each in there. This is a great starting point to pull those duplicates out; thanks for your help!

[2018-01-11 03:15] cdleon commented on #11940
Thank you for making React and keeping it MIT, it completely changed the way I work on frontend, loving it!!

[2018-01-11 04:13] brandonrninefive commented on #5739
After some digging, I believe that I've isolated the issue to the following for loop:

https://github.com/facebook/react/blob/6c1fba539adbc3088c425a4d832bb8c4132e7b31/packages/shared/ReactTreeTraversal.js#L143

Since the loop is from the end of the array to the beginning, it causes the onMouseEnter events to fire in the reverse order than expected. I'm not sure if this was intentional or not. Sinc

[2018-01-11 04:32] aweary commented on #11984
Can we verify if this happens with a similar setup without React? If it's OS-specific it's most likely a browser bug.

[2018-01-11 04:58] brandonrninefive commented on #11984
Just ran a vanilla JS test through JSFiddle using the same OS/Chrome configuration, and I achieved the same results: http://jsfiddle.net/xfFMk/591/. Looks like this is an upstream issue with Chrome, as @aweary suggested.

[2018-01-11 06:23] onggunhao commented on #11940
Thank you so much!

[2018-01-11 08:19] mhelvens commented on #6653
I'm just adding my voice to the issue. At some point, it would be nice if React could support this use-case.

[2018-01-11 10:02] jacobp100 commented on #11387
Does this need to be tied to portals? Rather than sandboxing portals, what if there was just a (for example) `<React.Sandbox>...</React.Sandbox>`?

[2018-01-11 14:04] alexfromapex opened #12007 "AngularJS Injector Equivalent"
**What is the current behavior?**

No documented way to easily manipulate components/state/props from a third-party perspective.

**What is the expected behavior?**

The expected behavior is to have a mechanism similar to the [AngularJS injector](https://docs.angularjs.org/api/ng/function/angular.injector) that allows additional compilation after bootstrapping.  All versions of React, to my knowle

[2018-01-11 14:14] TrySound commented on #12007
@alexfromapex From my mind angular injector is a pain which I tried to get rid and never use again. Show and example where injector behaves better than es modules.

[2018-01-11 14:31] gaearon commented on #12007
This is a bit hard discuss without a specific use case. We won’t add something that lets you arbitrarily break the encapsulation of components.

However something similar can be achieved through:

* Aliasing modules with your bundler (e.g. webpack `alias` option) so you can override a specific module with a fork. You could move “overridable” data and/or components to such files.
* Context, which i

[2018-01-11 14:31] #12007 closed

[2018-01-11 14:49] alexfromapex commented on #12007
@TrySound @gaearon I've added some use additional use cases.  I've explored many avenues for this, including the aliases for modules, but the problem is that always requires the back-end team modifying their deployment instead of the front-end simply hooking into and manipulating the output of the deployment.

[2018-01-11 15:38] gaearon commented on #12007
How would you solve this problem for generic JavaScript code? e.g. you can't "modify" functions in other libraries. Why are components any different from functions in this respect?

[2018-01-11 16:58] craigkovatch commented on #11387
Even that seems needlessly complex to me. Why not simply add an optional boolean flag to createPortal allowing the bubbling behavior to be blocked?

[2018-01-11 17:34] blacktrident commented on #11396
Hey I am new to Opensource ,Can i be of some help?

[2018-01-11 17:57] gaearon commented on #11396
Sure. It's probably not the easiest issue, but if you'd like to give it a try, please go ahead!

[2018-01-11 18:33] mhuusko5 commented on #11488
@whosesmile any way to get this to work with '.selectedIndex' instead of '.value'?

[2018-01-11 23:50] gaearon opened #12009 "Some events are missing on master for SimulateNative"
See my comment in https://github.com/facebook/react/pull/11912#discussion_r161108162. It's not really documented but people might rely on this. Need to fix.

[2018-01-12 01:12] aweary commented on #11984
@brandonrninefive thanks for following up with a Chromium bug report! I'll close this since it's not an issue with React.

[2018-01-12 01:12] #11984 closed

[2018-01-12 01:50] nhunzaker commented on #12009
Fixed in https://github.com/facebook/react/pull/12010

[2018-01-12 02:03] nhunzaker commented on #12009
Fixed through the merger of #12010

[2018-01-12 02:03] #12009 closed

[2018-01-12 04:21] nurtureJamesTan commented on #3279
what if we use this in conjunction with shouldComponentUpdate?
where by we do not wish to update component state or rerender,
but we need this.props to be using latest props

[2018-01-12 08:46] wbern opened #12011 ""Cannot create property for a non-extensible object" for SyntheticEvent in IE 11"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

An error is thrown in IE 11. The error message states "Cannot create property for a non-extensible object". It originates from the following location:

File "react/packages/events/SyntheticEvent.js"

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a mi

[2018-01-12 09:01] wbern commented on #12011
I've found the underlying issue, it's the proxy-polyfill that react-dom attempts to use that fails, located here: https://github.com/GoogleChrome/proxy-polyfill/issues/37

[2018-01-12 10:23] radubrehar opened #12012 "React.Children.toArray and React.cloneElement do not work with portal elements"
**Do you want to request a *feature* or report a *bug*?**

BUG or undefined behaviour

**What is the current behavior?**

Doing
[code]

fails with:
[code]

Namely, the following complete snippet fails:

[code]

while the following one, which wraps the portal in another element works just fine

[code]
**What is the expected behavior?**
I am aware that `createPortal` is a new feature, but in the bes

[2018-01-12 14:55] themre opened #12013 "Value in input not updated/cleared with undefined value"
I'm trying to clear my values of inputs with undefined values. I setup a demo page: https://codesandbox.io/s/n3v42mj50

Basically if I set in render
`const {txt1, txt2, txt3 = ''} = this.state.txts` the button clears input 3, but not if I don't put default value for txt3. I was searching through issues but didn't find similar issue. The use case is, that I have huge form and I have some predefined

[2018-01-12 15:52] jquense commented on #12013
The value isn't cleared on the input because you haven;'t cleared it in state. your reset only resets txt1 and txt2, txt3 is left as it is so nothing is cleared

[2018-01-12 15:52] #12013 closed

[2018-01-12 15:53] jquense commented on #12013
https://codesandbox.io/s/vqv487yw4y is an updated example

[2018-01-12 18:13] aweary commented on #12011
@wbern just to clarify, React will only use `Proxy` in the development build. Are you developing with IE11, or seeing this in production? If it's in production, you might accidentally be running the dev build in production.

We could try to add a heuristic for detecting bad `Proxy` polyfills, but typically most people develop using a browser that already supports `Proxy`, so I don't think it's a h

[2018-01-12 20:57] wbern commented on #12011
In this case we want to be able to run tests locally with the development build. And indeed you are right, it's the dev build.

proxy polyfill seems to be a function which is why it can't be assigned properties. Not sure why, but I guess that is something that could be checked, whether it's a function or not?

Thanks for the reply!

[2018-01-13 04:15] dominikwilkowski opened #12014 "Have Fragments support dangerouslySetInnerHTML"
The addition of the `Fragment` in 16.2.0 is fantastic and helps keep our HTML semantic and clean. Unfortunately there is still no way to inject HTML without a wrapping tag.

[code]

which will render:

[code]

It would be mostly helpful for rendering HTML from jsx on the back end rather than in the SPA context. To me `Fragment` seems to be the ideal candidate to support `dangerouslySetInnerHTML` s

[2018-01-13 10:31] catamphetamine commented on #1159
I confirm that this solution works for Chrome for autofilling phone numbers via `autoComplete="tel"`

[2018-01-13 10:32] catamphetamine commented on #1159
I confirm that this solution works for Chrome for autofilling phone numbers via `autoComplete="tel"`
https://github.com/catamphetamine/react-phone-number-input/issues/101#issuecomment-357424374

[2018-01-13 12:45] Havunen opened #12015 "Bug: Wrong render output when children has textNode"
There seems to be bug in React, when child node has textNode it does not render correct output.

Steps to reproduce (JSFiddle):
https://jsfiddle.net/vs6cbqdb/

Expected output is:
Hello 12
Hello 21
Hello 12
But React rendered:
Hello 21
Hello 12
Hello 21

rendered output is not matching console log, however when textNode is removed its working as expected. See this fiddle: https://jsfiddle.net/4yk0

[2018-01-13 17:20] SoundBot opened #12016 "Custom HTML tags"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
After upgrading to React 16 I'm getting a lot of warnings about custom html tags:
`Warning: The tag <company> is unrecognized in this browser. If you meant to render a React component, start its name with an uppercase letter.`
**What is the expected behavior?**
Warnings should not appear
**Which version

[2018-01-13 17:47] gaearon commented on #12016
HTML doesn’t have a notion of “custom tags” like this. If you rely on it, your app can break in the future if browsers add a tag with the same name.

You could potentially use custom elements (a supported browser feature): https://reactjs.org/docs/web-components.html. Those have to have a dash in their name, to ensure the tag isn’t later reclaimed by the browser.

I hope this helps!

[2018-01-13 17:47] #12016 closed

[2018-01-13 23:22] sarbull commented on #11940
Thank you for creating react and making it MIT. cc: @jordwalke

[2018-01-14 07:57] Ai01 commented on #9286
@GravityMsc does babel fix this problem?

[2018-01-14 08:22] avinashdvv commented on #11827
**Help**
while i am tried to replicate this issue on my local mission with fixtures, i am getting an error like this
```TypeError: Failed to construct 'HTMLElement': Please use the 'new' operator, this DOM object constructor cannot be called as a function.```

code
[code]

[2018-01-14 10:09] gaearon commented on #12011
It's not because it's a function. It's because they (intentionally) call `Object.seal()`.

I think the conclusion here is that React expects a real Proxy but the polyfill implements a limited subset that's incompatible with how React uses it. There are two possible solutions I can see:

* You can stop using this polyfill together with React (they won't work together)
* We could change our logic to

[2018-01-14 12:01] hitesh1157 commented on #8515
This actually does not work
`    handleFileUpload = (event) => {
        let rABS = typeof FileReader !== 'undefined' && FileReader.prototype && FileReader.prototype.readAsBinaryString;

        let f = event.target.files[0];

        let reader = new FileReader();

        reader.onload = (e) => {
            console.log(f);
            let data = e.target.result;
            let wb, arr;

[2018-01-14 12:05] nanomosfet commented on #12015
I think this is normal. An array is a mutable object in JavaScript. So each time you create a `Hello` component the `data` array gets reversed.

[2018-01-14 12:10] Havunen commented on #12015
@nanomosfet Yes that is expected. See console.log or use debugger for incorrect behavior.  The array data does not match rendered output in the first fiddle: https://jsfiddle.net/vs6cbqdb/
but it does match in the second (same code, except text node) https://jsfiddle.net/4yk06xgp/

[2018-01-14 12:18] nanomosfet commented on #12015
@Havunen Oh okay I see what you are talking about. The extra text makes it render differently.

[2018-01-14 12:20] hitesh1157 commented on #8515
This actually doesn't work. @aweary Please check [https://jsfiddle.net/hitesh1157/nohtwp1z/2/](https://jsfiddle.net/hitesh1157/nohtwp1z/)

[2018-01-14 16:42] xiaoxiaojing opened #12018 "Each time a parent component is updated, the `props` passed to the child component will be different???？"
version: v16.2.0

In the [ReactFiberClassComponent.js](https://github.com/facebook/react/blob/v16.2.0/packages/react-reconciler/src/ReactFiberClassComponent.js). Have a piece of code. I think it‘s logic is to judge if the `newProps` and `oldProps` is not the same, `componentWillReceiveProps`  will be called.
[code]
So I did a test, [https://jsfiddle.net/Luktwrdm/72/](https://jsfiddle.net/Luktwrdm/

[2018-01-14 16:50] wbern commented on #12011
That looks exactly to be the way to solve it.

Ok my case, it turned out that I did not want a proxy polyfill that is sealed and for that I need to turn to the babel polyfill which is a little out of shape. But I still think, considering proxy polyfill has a lot more people using it, that you are verifying this.

Thanks so much!

[2018-01-14 18:39] #12011 closed

[2018-01-14 20:24] gaearon commented on #12018
Yes. (Otherwise you wouldn't be able to compare new and old ones.)

[2018-01-14 20:24] #12018 closed

[2018-01-14 20:25] gaearon commented on #12018
The compare a specific prop:

[code]

[2018-01-14 22:29] haraldrudell commented on #11005
I noticed React went to Node.js 8 in order to avoid transpiling the build scripts (one of the actions I suggested to Facebook instead of regretting the use of Node-6 code for 18 months)

I have been doing Node.js 8 transpilation for 4 months for command-line utilities, and what I want to point out to Facebook is that when transpiling from **ES.Next** to **Node 8**, it practically looks like the so

[2018-01-15 07:59] jonnyasmar commented on #12014
Second this!

Achieving this currently requires third-party support via libs like https://github.com/remarkablemark/html-react-parser which somewhat undermines the simplicity of Fragments.

[2018-01-15 08:50] somon commented on #2778
545465454 454654644

[2018-01-15 10:46] rbeer commented on #3163
+1 for adding null, at least as its own prop-type, so one can do:

[code]
`null` is also from my understanding not equal to undefined. Reasoning has been stated. `null` tells you that there eventually will be an Object, in place of that `null`.
Let's take the simple usecase of determining whether to show some "Login" Button. You might have a simple `user` object in your state or store. If `user` i

[2018-01-15 12:09] jakearchibald commented on #11171
Following on from a [conversation on twitter](https://twitter.com/jaffathecake/status/952861127528124417). Rough story so far:

Me:

@gaearon:

Me:

@gaearon:

Me:

@gaearon

It's true that you can do this sort of stuff yourself, but not totally easy to manage across components. Some examples:

If you have a component updating on an interval (like the `Clock`), but it also runs a decorative animat

[2018-01-15 12:13] gaearon commented on #11171
Reopening for discussion

[2018-01-15 12:18] gaearon commented on #11171
Today is a US holiday but I asked @acdlite to bring me up to date on his thinking about this. We actually had a rAF schedule priority earlier in the async implementation but later cut it. I don’t fully remember what happened there and will reply after I learn more about it. If I forget please ping me, there’s a lot of stuff going on and I can accidentally miss it in an old issue.

[2018-01-15 12:31] zhujun24 commented on #4244
@MadLittleMods if some `child` has his own `ref` attribute, and some others `child` without this attribute,
[code]
`item-${child.props.key}` can override child own `ref` ? or how to get child own `ref` ?

[2018-01-15 12:48] elachys opened #12021 "Add referrerPolicy to iframe for react 16"
Property 'referrerPolicy' does not exist on type 'DetailedHTMLProps<IframeHTMLAttributes<HTMLIFrameElement>, HTMLIFrameElement>'.

see https://developer.mozilla.org/en-US/docs/Web/API/HTMLIFrameElement/referrerPolicy

react@16.2.0
react-dom@16.2.0

[2018-01-15 12:49] gaearon commented on #12014
It doesn't seem quite right to me to put something like this on `Fragment` itself since it’s not DOM-specific (e.g. it works on React Native).

I think that essentially you’re asking for a “standalone” `dangerouslySetInnerHTML`. That sounds a bit like https://github.com/facebook/react/issues/9483. Maybe something like this would make more sense to me than the current API:

[code]

(Also inspired b

[2018-01-15 12:50] gaearon commented on #12021
The error you're quoting comes from TypeScript, not React.

[2018-01-15 12:50] #12021 closed

[2018-01-15 13:26] jonnyasmar commented on #12014
@gaearon Hmm, there's part of me that likes that syntax, but part of me that feels like it's not a comprehensive solution. The purposes behind the repetitive `dangerouslySetInnerHTML={{__html: HTML}}` procedure is actually to serve as a reminder that this is a dangerous/hacky thing to do:

From the docs:

I feel like adding this to `Fragment` maintains the notion that this is "dangerous" & "hacky"

[2018-01-15 13:56] jakearchibald commented on #11171
@gaearon suggested that controlled inputs could be the issue. Eg:

1. User types in text input.
1. Task is queued to fire the 'update' event, in which:
    1. The component's state is updated to reflect new input.

Given that the browser *may* render between tasks, it's possible that `render()` will happen before the task executes, meaning the old state is reapplied to the text input.

But, unless

[2018-01-15 14:50] jquense commented on #11171
I can't speak for scheduling but i a am fairly familiar with the limitations around input value setting. The main one with updates over an async boundary is that cursor position will reset if the update isn't synchronous, since react is forcibly keeping the value to the `prop` value (vs the typed value) an input's value is "reset" to the synced value on each update until/unless the user updates th

[2018-01-15 14:54] Lazarencjusz opened #12022 "It is not possible to set optional property to PureComponent using TypeScript"
**Bug**
**What is the current behavior?**
I am creating an interface with optional key and trying to set it as a type for `PureComponent` props. Also I am using `connect` from `react-redux`
More datails: [StackOverflow](https://stackoverflow.com/questions/48262637/optional-default-prop-for-purecomponent-in-typescript?noredirect=1)

**What is the expected behavior?**
Possibility to set somehow opti

[2018-01-15 15:20] YellowKirby commented on #11827
@avinashdvv  AFAIK that issue is happening because of the way babel typically transpiles ES6 classes. https://github.com/babel/babel/issues/4480

You might need to add a plugin like https://github.com/WebReflection/babel-plugin-transform-builtin-classes in order for it to work correctly.

[2018-01-15 16:02] jakearchibald commented on #11171
@jquense I'm having trouble recreating that. What am I missing? https://static-misc.glitch.me/input-test.html

[2018-01-15 16:47] syranide commented on #11171
@gaearon I'm working on a totally separate non-React project where I've been trialing using `requestAnimationFrame` for the same purpose. But I've found out that Edge seems to schedule the callback very poorly and there's a very noticeable delay (dragging stuff with cursor) vs not using `requestAnimationFrame`.

I don't think I've figured it all out yet, but one part of the problem is that the cal

[2018-01-15 16:52] jakearchibald commented on #11171
@syranide I think Safari has the same scheduling bug. I'll file one for edge too.

WebKit bug: https://bugs.webkit.org/show_bug.cgi?id=177484
Edge bug: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15469349/

[2018-01-15 16:58] syranide commented on #11171
@jakearchibald Nice! I don't think the description for the Edge-issue is entirely correct though, but I'm not sure either. Scheduling after vsync should be correct, it's just that all other events should be emitted before it, but Edge seems to emit events as they come rather than only at the beginning of a frame. Which means that your click-event is received a few milliseconds after the animation

[2018-01-15 17:01] gaearon commented on #12014
@jonnyasmar Please refer to discussion in https://github.com/facebook/react/issues/2134#issuecomment-67687628 about this, I intentionally kept `dangerous` in the object property name because that's the part that's supposed to be "tainted" rather than the prop name.

[2018-01-15 17:02] jakearchibald commented on #11171
@syranide `requestAnimationFrame` callbacks should be called within the render steps (which are vsync'd), but before style calculation and paint.

https://html.spec.whatwg.org/multipage/webappapis.html#event-loop-processing-model - rAF callbacks are in step 7.10, style calculation happens as part of 7.11, paint happens as part of 7.12.

[2018-01-15 17:12] syranide commented on #11171
@jakearchibald Ah, I guess we're saying the same thing in the end. Ultimately it seems the current event model of emitting events as they come in Edge is incompatible with the spec for `requestAnimationFrame`, they could fix it without changing the event model but then they would incur a 1-frame delay for everything. But IIRC correctly Edge already plays badly with `requestAnimationFrame` and caps

[2018-01-15 18:34] dakom commented on #11171
Sorry if I'm a bit out of the loop - but is there a problem doing something like (pseudo-ish code):

[code]

i.e. store the simple values on move, and do the heavy lifting only on rAF? Is there something in React itself that prohibits this solution on the app side (e.g. maybe setState will miss the window)?

[2018-01-15 21:11] gaearon commented on #11171
Copy-pasting @acdlite’s response to me over messenger:

[2018-01-15 21:12] gaearon commented on #11171
(I think I have enough context now to answer more questions so keep them rolling)

[2018-01-15 22:21] sebmarkbage commented on #11171
Mouse moves are fairly unique in that it is almost always safe to drop an event (at least if you also drop the corresponding mouse over/out). You can’t tell if one was dropped.

Most events are intentional and require permanent effects such as two clicks happening the same event loop. You need the result of the first to happen before the second one.

Since these events can happen multiple times in

[2018-01-15 23:11] borm commented on #11843
Thank

[2018-01-16 01:54] nanomosfet commented on #12015
What would the use case of this be?

From the react docs, [link to reference in docs](https://reactjs.org/docs/components-and-props.html#props-are-read-only) it says that props are only supposed to be read only.

I'm guessing a child of a component is considered a prop because you are accessing it from `this.props`.  Therefore, I think it's a good idea to rethink your approach of handling that `da

[2018-01-16 02:27] gaearon commented on #12015
From the docs page you linked:

You are mutating a prop by calling `reverse()` on it so your `render` is not a pure function. In this case the behavior can be anything because React doesn’t make guarantees around when it calls `render` (and thus when your mutations would happen).

If you just want to reverse the child order, you can copy them first by using `Children.toArray()` like in this fiddle

[2018-01-16 02:27] #12015 closed

[2018-01-16 09:47] jakearchibald commented on #11171
@gaearon

Hmm, not quite. I'm not talking about debouncing event handling, just the render steps. The idea is that you'd call `setState` as frequently as you want, but the resulting render steps would be debounced by `requestAnimationFrame`, as there's no point rendering more frequently than the display is capable of displaying.

Debouncing events might also be useful, and it's something browsers

[2018-01-16 10:02] jakearchibald commented on #11171
I've tried to create a reduction of an input that sets state on `'input'` and updates on `requestAnimationFrame`. I'm not seeing anything go missing, but maybe there's a particular browser?

https://event-loop-tests.glitch.me/raf-debouncing-input.html

[2018-01-16 10:19] dakom commented on #11171
@jakearchibald

A possible (albeit unlikely) scenario to consider might be tracing a path with the mouse. If we imagine that the entire motion took place between frames, a debounce would only have the final position rather than the whole path since setState wouldn't inherently accumulate the updates (and if it _did_ accumulate - then it would be wasteful in most other scenarios).

I'm not saying t

[2018-01-16 10:39] jakearchibald commented on #11171
@dakom

I think this is unrelated. Chrome/Firefox already debounce `'mousemove'` to the render steps. Chrome exposes the full series of events using [`getCoalescedEvents`](https://w3c.github.io/pointerevents/extension.html#dom-pointerevent-getcoalescedevents) for the cases where you need the full detail. This is better than the task-based model Edge/Safari uses, as Chrome can still deliver the ful

[2018-01-16 11:57] gaearon commented on #11171
I think you meant the same thing. Andrew was being too concise, but by “default for non-input events” he means “the prirotity under which setStates that originate inside non-input events will be flushed”.

[2018-01-16 12:29] gaearon commented on #11171
I don’t think that’s what Sebastian is saying. I think what he’s saying is that it’s important for the result of every click event to *flush* before the next click event. Consider a button that sets `disabled={this.state.hasSent}` and `onClick={this.state.hasSent ? null : this.sendMoney}`. If `sendMoney` sets `hasSent` to `true`, the product developer expectation is that `onClick` will *not* fire

[2018-01-16 14:07] jakearchibald commented on #11171
@gaearon

Ahhhhh yes, that makes total sense.

Yeah, given the above, this model makes sense, as does the rest of your summary.

I guess it'll also break things if anyone's already using rAF to debounce, as they'll be throttled to rIC instead. I guess this would break the clock demo too, as the timing is important.

There's still the case of nested components with animations, but maybe the answer

[2018-01-16 14:18] jquense commented on #11171
The interesting thing to me is that (at least in v15) this exact situation _does_ happen. I mention it because as a react developer my expectation is already that I can't trust React to flush state changes fast enough to prevent double clicks

[2018-01-16 14:19] wmertens opened #12026 "Should Children.* treat React.Fragment as an array?"
When traversing children with `Children.forEach`, it treats Fragments as stand-alone elements instead of traversing their children.

I was under the impression that they were a convenience equivalent to arrays? Should they not be traversed as such?

[2018-01-16 14:36] nmain commented on #12026
Related #11859

[2018-01-16 14:52] gaearon commented on #12026
Yep. Please see https://github.com/facebook/react/issues/11859#issuecomment-355656427. Thanks!

[2018-01-16 14:52] #12026 closed

[2018-01-16 14:55] gaearon commented on #11171
If that happens, it sounds like a bug to me, rather than an intentional decision. I haven't seen that but if you can reproduce please file an issue and we'll look.

[2018-01-16 15:00] gaearon commented on #11171
I can imagine that React 15 could have some sort of issues with multiple roots and edge cases like `renderSubtreeIntoContainer`. React 16 solves that by completely forbidding re-entrance in the algorithm (and adding portals). So if there was a bug, I'd assume it's solved.

[2018-01-16 15:10] gaearon commented on #12022
We're not the ones maintaining the TypeScript definitions for React, so we can't help with this. Sorry!

[2018-01-16 15:10] #12022 closed

[2018-01-16 15:27] Cryrivers commented on #11171
Not sure if it will involve event handling or not, but requestAnimationFrame callback has different permission that other macro tasks. For example, you can’t window.open.

[2018-01-16 15:43] jakearchibald commented on #11171
@Cryrivers that won't be affected. The event handlers aren't being deferred.

[2018-01-16 15:56] RByers commented on #11171
I haven't read the whole thread, so apologies if I miss something.  Replying to:

By "update event" I assume you mean "[change](https://developer.mozilla.org/en-US/docs/Web/Events/change)", right?  And by "rAF" to happen, you mean the rAF callback is invoked?
  If so, then yes I believe it is possible as follows:
- Main thread could be busy processing some task
- Input and rAF tasks to arrive and

[2018-01-16 16:09] jakearchibald commented on #11171
@RByers My bad, I mean "input", or "keydown" rather than "change". I couldn't recreate the issue here https://event-loop-tests.glitch.me/raf-debouncing-input.html, but that doesn't mean it isn't possible.

[2018-01-16 21:57] RandScullard commented on #9809
Any update on this? It's been nearly eight months and this is still an issue. I was able to work around it with a solution similar to the one suggested by @OZhurbenko, but it would be really nice to see this fixed.

[2018-01-17 00:18] jonnyasmar commented on #12014
@gaearon After combing through your issue, I'm still not entirely convinced this is the best approach.

**Partially due to scenarios like the following:**

Let's say we have two developers, **Dev A** & **Dev B**. They both work on the same project. **Dev A** is a senior dev who is very well acquainted with XSS vulnerabilities. **Dev B** is a junior dev who knows what XSS vulnerabilities are, but i

[2018-01-17 03:57] peonmodel opened #12031 "onPaste event firing on wrong target"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
pasting this string "12/11/2013" into either of the 2 input fields, one of type date and the other text
[code]
result from console:
[code]
when pasting into either input, the event.target is the input[type=text]

**What is the expected behavior?**
event target should be input type date when pasting int

[2018-01-17 04:33] NE-SmallTown commented on #11171
@gaearon

Could we use `setTimeout` to simulate the work which `flushSync` do, i.e.

[code]

It will output:

[code]

[2018-01-17 05:10] darol100 commented on #11963
This is done and merge. Shall we close this issue?

[2018-01-17 05:32] nadeem36212 commented on #8390
can u please tell me what was actual issue, i m having same warnings when i call onReachEnd method flatlist

[2018-01-17 05:37] anil26 commented on #11963
i think the fix will and will work fine. I thought of fixing it like this
`"scripts": {
    "start": "react-scripts start",
    "build": "react-scripts build",
    "prestart": "npm run copyreact && npm run copyreactdom",
    "copyreactdom": "cp ../../build/dist/react.development.js public/",
    "copyreact": "cp ../../build/dist/react-dom.development.js public/"
  }`

[2018-01-17 08:49] vldvel commented on #12031
It's not a bug. Just try reload page and select input date first and then paste your string - it won't work, cause you can't do that in chrome. But if you choose input type text first and paste it works fine.
So problem here is that you still passing string in type text and not in type date. And get same output each time.

[2018-01-17 09:11] TanninOne opened #12033 "Refs Must Have Owner Warning"
** Reporting a bug

The problem I'm having is in the interplay of several packages but I feel that the only package actually doing something wrong here is react.

Versions:
- react 16.2.0 (also happened with 15.something)
- node.js 7.9 (electron 1.7.10)
- windows 10

** Current behavior

I get the error message from here https://reactjs.org/warnings/refs-must-have-owner.html although none of the t

[2018-01-17 10:34] dispix commented on #1387
My question after reading this thread is: should destructuring props (i.e. `const { users } = this.props` at the beginning of the render method) be considered bad practice ? From what I read `const { users } = this.props` has no absolute guarantee to be the same as `this.props.users`, but there is a **lot** of example that uses this as a way to make the code more readable so I'm kinda lost on what

[2018-01-17 11:41] #11963 closed

[2018-01-17 14:14] ivan-kleshnin commented on #1387
@dispix `const {users} = this.props` is always the same as `this.props.users`.

[2018-01-17 14:19] gaearon commented on #11171
No because:

* It's not going to be synchronous because you always have to wait for the timeout (whereas `flushSync` needs to be)
* In future versions we plan to make `setState` in a timeout async by default

[2018-01-17 14:41] dakom commented on #11171
By default for right now - is the path from `setState` to `componentDidUpdate` synchronous (even if only sometimes)?

Specifically - if I have some code in `cDU` that must execute in a different stack than where `setState` was triggered, must I push it off manually? (e.g. via setTimeout)

[2018-01-17 14:47] dylan-shao commented on #5047
Hi @gaearon, I saw in the 'SplitPane ' example of https://facebook.github.io/react/docs/composition-vs-inheritance.html,
the stateless component 'SplitPane' wraps other component like the <Chat />. But usually the <Chat /> component is stateful, so it ends with a stateless component wrap a stateful component, is it a good practice?(I mean, I have been told stateless component should not have state

[2018-01-17 14:58] gaearon commented on #11171
It depends on where you call `setState`.

* In React 16, if you call `setState` inside a React event handler, it is flushed when React exits the browser event handler. So it's not synchronous but happens in the same top-level stack.

* In React 16, if you call `setState` outside a React event handler, it is flushed immediately.

[2018-01-17 18:41] mnpenner opened #12034 "componentDidUpdate fires before ref is set in React 16"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`componentDidUpdate` fires before `setRef`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JS

[2018-01-17 19:07] mnpenner commented on #12034
It should perhaps be noted that this can be fixed with a portal:

[code]

But the above was [working in React 15.6](https://codesandbox.io/s/31w058q2xq), so it seems like a regression/backwards-compatibility bug.

[2018-01-17 20:36] gaearon commented on #12034
Major versions don’t have to be backwards-compatible (that’s why they’re majors 😉). I haven’t looked into your example in detail but my hunch is this is a known intentional limitation that comes up with nested `ReactDOM.render()` calls but solves many other issues. Our recommendation is to use portals for this.

[2018-01-17 21:10] MoOx commented on #11916
The PR has been merged upstream \o/

[2018-01-17 21:49] Bartekus commented on #3280
You should not extend class Components at all @vincnetas, and instead you should wrap the original Button in a HoC and then overload the existing `componentDidMount()` by defining your own version of it.

[More Info](https://egghead.io/lessons/react-react-fundamentals-higher-order-components-replaces-mixins)

[2018-01-17 21:55] seanyang414 commented on #3599
Just use `props` instead of `this.props`. Since `this` doesn't exist yet.

[2018-01-17 21:58] mnpenner commented on #12034
@gaearon Right, but you said yourself,

I assume you're referring to [this post](https://reactjs.org/blog/2017/09/26/react-v16.0.html#breaking-changes).

Perhaps I'm mistaken, and one of those bullet points covers this scenario, but otherwise I don't see it listed.

I encountered this problem when upgrading my project from 15.6 to 16. We didn't have any warnings so I assumed it was safe to do so.

[2018-01-17 22:06] cool88 opened #12035 "Bug? createPortal element's children don't print correct clientHeight properties etc"
**Do you want to request a *feature* or report a *bug*?**
could be a bug!

**What is the current behavior?**
The children div inside an element that is created by using createPortal does not show correct clientHeight or scrollHeight properties. It shows 0 for scrollHeight as is console-logged in the demo below.

**If the current behavior is a bug, please provide the steps to reproduce and if possi

[2018-01-17 22:10] gaearon commented on #12034
I agree this wasn’t called out specifically. I still don’t know if it’s a bug or not. (I didn’t have time to look into this issue yet and probably won’t have for a while.)

The point I was thinking about is:

It doesn’t match your description, but I think it might have the same root cause. The internal description of this change could be “React is no longer re-entrant, so it’s not possible to begi

[2018-01-18 08:02] zheeeng opened #12038 "Add React.isFragment api for verifying Fragment"
**Do you want to request a *feature* or report a *bug*?**

I want to request a feature.

**What is the current behavior?**

We have no API to verify a ReactNode is a React 16 Fragment. Though now we can use `React.isValidElement(instance) && typeof instance.type === 'symbol'` to distinguish it. It's verbose and seems uncertianly right.

**What is the expected behavior?**

Add api:

[code]
Verifies

[2018-01-18 13:02] zengjialuo opened #12039 "can React support feature like keep-alive in Vue?"
i found this issue: https://github.com/facebook/react/issues/4770,  and @sophiebits said that React never reuses an instance after it's been unmounted.

does it means that React will never support feature like keep-alive in Vue? or there is other way to maintain component's state?

[2018-01-18 13:03] gaearon commented on #12039
Can you describe what this feature is for someone who doesn’t know Vue, and how you imagine it working in React?

[2018-01-18 13:30] zengjialuo commented on #12039
As Vue's API said:

basic usage:
[code]

so, with \<keep-alive\>, when user switch between pages,  these pages will not be refreshed and their status will be preserved.

 It will give users a great experience in some scenarios like news webapp.

[2018-01-18 14:09] dispix commented on #1387
My bad, I assumed [this comment](https://github.com/facebook/react/issues/1387#issuecomment-41931037) was also applicable to props. Although, is it a bad practice to write `const { users } = this.state` ?

[2018-01-18 14:23] RichieAHB commented on #7769
The issue here seems to be that `Ref` effects are called after `Update` effects below.

https://github.com/facebook/react/blob/13c5e2b53112c1cd77dd52e028a4bb33dc492d1b/packages/react-reconciler/src/ReactFiberScheduler.js#L312-L342

I'm assuming this is to ensure that anything with a `ref` is guaranteed to be mounted, which seems to make sense. In the off-chance that this *isn't* a guarantee that R

[2018-01-18 15:08] RRMoelker opened #12041 "Suppress message: "Download the React DevTools for ...""
**feature/bug**

**What is the current behavior?**
React library logs either "*Download the React DevTools for a better development experience: https://fb.me/react-devtools*" or logs "*Warning: The installed version of React DevTools is too old and will not work with the current version of React. Please update React DevTools. https://fb.me/react-devtools*" if previous "fix" is employed.

**reprodu

[2018-01-18 15:18] bigfish commented on #2568
I tried that, but the props passed to constructor are immutable.. and passing another object with merged props triggers warning about not passing same props to super().

[2018-01-18 15:27] gaearon commented on #12041
You can star [this issue](https://bugs.chromium.org/p/chromium/issues/detail?id=778443&can=2&start=0&num=100&q=&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=) and ask the Chrome team to fix it. There's nothing we can do unfortunately, it's caused by a Chrome regression.

You can see from the source code that [the condition should

[2018-01-18 16:47] RRMoelker commented on #12041
Wow, quick response. I'll try to get a reproducible project up tomorrow.

[2018-01-18 17:01] gaearon commented on #12041
Thanks!

[2018-01-18 17:05] ivan-kleshnin commented on #1387
@dispix I write `let {x, y, z} = foo` all the time because it doesn't take a new line to add a new variable.
Saying that - all your questions are about JS and doesn't really belong here.

[2018-01-18 17:17] danielvegaceja opened #12042 "Strange Warning. PropType is marked as required in the format `propName.isRequired`."
I have a component with the following proptypes:

[code]

Initially, i set `media` prop as required, but then changed to non-required. Still, the console show a warning:

`Warning: Failed prop type: The prop "media.isRequired" is marked as required in "Component", but its value is "undefined".`

What I see, is in the prop name that is identifying the "required" option, is adding *.isRequired*. Do

[2018-01-18 17:22] gaearon commented on #12042
I don't think `shape` takes a PropTypes function. Did you mean to just use `PropTypes.object`?

What ends up happening in your case is that `PropTypes.any` itself has a property called `PropTypes.any.isRequired`, and by passing it to `shape` you're basically forcing props to have a shape of `{isRequired: ...}`. 😉

[2018-01-18 17:22] #12042 closed

[2018-01-18 17:25] gaearon opened #12043 "Highlight production bundles in bold in the Danger integration comment"
We added integration with Danger in https://github.com/facebook/react/pull/11865.
It shows a bundle size difference on PRs, like this: https://github.com/facebook/react/pull/12028#issuecomment-358717464.

We should change the output so that production bundles are bold in the results. I think we can also remove the red triangle on increase from the development bundles because they're not as importa

[2018-01-18 17:27] danielvegaceja commented on #12042
I use `shape` because of the "forbidden" propTypes.

Thanks a lot, I didn't remember that *.any* behavior.

[2018-01-18 17:29] gaearon commented on #12042
I don't understand what you mean. I think you might be misunderstanding how PropTypes work.

Again, `shape()` doesn't take another propType as an argument. It takes an object.

Wrong:

[code]

Right:

[code]

or

[code]

[2018-01-18 17:30] gaearon commented on #12042
Also it's not clear what you mean by "forbidden propTypes". If you show a full example of the problem you're having with them maybe I can help.

[2018-01-18 18:05] clairecliu commented on #12043
i would like to give this a try

[2018-01-18 18:28] gaearon commented on #12043
You got it!

[2018-01-18 20:15] cool88 commented on #12035
My bad!

I needed to read this part more carefully in the comments

    // The portal element is inserted in the DOM tree after
    // the Modal's children are mounted, meaning that children
    // will be mounted on a detached DOM node. If a child
    // component requires to be attached to the DOM tree
    // immediately when mounted, for example to measure a
    // DOM node, or uses 'autoFocus'

[2018-01-18 20:15] #12035 closed

[2018-01-18 20:44] bvaughn opened #12044 "Coalesce warnings for deprecated lifecycle hooks"
Coalesce warnings for deprecated lifecycle hooks and print single message after reconciliation (rather than one per component-type).

Relates to PR #12028 and [this comment](https://github.com/facebook/react/pull/12028#discussion_r162420575).

[2018-01-18 20:49] drew0530 opened #12045 "'npm' is not recognized as an internal or external command, operable program or batch file."
Current Behavior:

[code]

I have tried everything under the sun, including uninstalling and reinstalling node, npm, and the create-react-app package, switching to a different version, and every variation of how to add npm to my PATH I could find on the internet. I dont usually have issues with npm, and I use it for several other projects, and it seems to work fine, I cannot figure out why it's on

[2018-01-18 20:52] bvaughn opened #12046 "Update debugRenderPhaseSideEffects behavior"
Follow up item for PR #12028

- [x] **Phase 1**: #12057

Within the context of an async tree, we should double-invoke the following methods:
* `constructor`
* `render`
* `static getDerivedStateFromProps`
* `setState` updater functions

The current implementation of `debugRenderPhaseSideEffects` is to also double-invoke several additional methods (eg will-mount, will-update, sCU, etc). This behavio

[2018-01-18 20:55] philraj commented on #6436
@romulof @lencioni @el-moalo-loco https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners
Wheel listeners should still be passive even if scroll listeners don't have to be.

[2018-01-18 20:56] bvaughn opened #12047 "Write blog post about new async UNSAFE_ and static lifecycles"
Follow up item for PR #12028

This blog post should correspond with the 16.3 release. Its primary purpose is to let people know how to prepare for subsequent 16.4 release.

For **application developers**, this post should explain how to run the codemod to rename the deprecated methods (reactjs/react-codemod/pull/195) as well as general strategies for how to use the new lifecycle(s) instead.

For *

[2018-01-18 20:58] bvaughn opened #12048 "Write blog post showing recommended, async-safe coding patterns"
Follow up item for PR #12028. Relates to reactjs/rfcs/pull/6.

Show examples of how to accomplish common tasks in an async-friendly way, using the new component API.

Also show examples that illustrate pitfalls (eg `setTimeout` calls to `setState`).

[2018-01-18 20:59] gaearon commented on #12045
Filing this in https://github.com/facebookincubator/create-react-app/ would probably be more appropriate as this will get lost in this repo.

I don’t have an obvious fix in mind but maybe you could try installing Yarn and see if that works instead?

Another thing worth trying is this: https://github.com/facebookincubator/create-react-app/issues/3326#issuecomment-340501321

[2018-01-18 21:06] drew0530 commented on #12045
I'm assuming you mean to run these lines here:

[code]

[2018-01-18 21:22] drew0530 commented on #12045
Also I opened an issue in the create-react-app thread: [https://github.com/facebookincubator/create-react-app/issues/3861](url)

[2018-01-18 21:52] gaearon commented on #12045
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/3861.

[2018-01-18 21:52] #12045 closed

[2018-01-19 04:20] sebmarkbage opened #12051 "Event Handlers on Fragments"
The use case is when an abstraction wants to listen to some event bubbling up and intercept the event somehow.

[code]

Perhaps there is some state and context involved too.

This works fine today as long as you can wrap it in a `<div />`. However, you can't necessarily always do that. I hear that some of this will be relaxed but conceptually I think the constraints will remain in many environment

[2018-01-19 11:56] gaearon commented on #12041
Ah okay. For the reference, we always recommend matching versions of all React packages.

[2018-01-19 12:33] kmughal opened #12052 "A simple react page is not working on iE11"
I have created a HelloWorld app using

React , Typescript it outputs correctly on Chrome , FireFox etc but when I view the same app on IE11 nothing appears and upon checking the devTool on IE it is also blank so I don't really know why it is not working.

Below is the code:

import "babel-polyfill";
import * as ES6Promise from "es6-promise";

ES6Promise.polyfill();
import * as React from "react";

[2018-01-19 12:39] kmughal commented on #12052
Issue with IE Javascript settings so I will close this issue now.

[2018-01-19 12:39] #12052 closed

[2018-01-19 18:07] gaearon commented on #12043
Fixed in https://github.com/facebook/react/pull/12054.

[2018-01-19 18:07] #12043 closed

[2018-01-19 21:24] sophiebits commented on #12051
We'd need something like `display: contents` in order to actually insert a DOM node. It's not clear that this is really feasible without the synthetic event system AFAICT.

[2018-01-19 21:31] sebmarkbage commented on #12051
I believe there are plans to allow for more of these forms in browsers, and even if the normal DOM node solution doesn't work, a plausible future addition would be to have first class fragment nodes. @trueadm has been really passionate about this. So I think there's at least a plausible future where this capability just works natively.

However, even without that, it doesn't have to use the full s

[2018-01-19 22:30] jmschlmrs opened #12055 "s"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2018-01-19 22:30] #12055 closed

[2018-01-19 22:33] wbinnssmith opened #12056 "`onChange` prop is never invoked for `<input type="date" />`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`onChange` is never invoked for an `<input type="date" />`

cc @belak @jquense

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other tha

[2018-01-19 22:40] wbinnssmith commented on #12056
Looks like Chrome won't trigger a change event until a valid date is entered and the above case does reproduce when a valid date is completely entered. Closing!

[2018-01-19 22:40] #12056 closed

[2018-01-19 22:47] gaearon commented on #3659
Note you might be getting this because the browser doesn't emit any events for invalid dates: https://github.com/facebook/react/issues/12056#issuecomment-359109709

[2018-01-20 00:32] billyjanitsch opened #12058 "__source makes component stack less useful"
**Do you want to request a *feature* or report a *bug*?**

Somewhere in between.

**What is the current behavior?**

When I enable `babel-plugin-transform-react-jsx-source` to automatically add a `__source` prop to every component in development, the component stack displayed for certain React warnings changes from displaying the (inferred) name of the rendering component to displaying the filenam

[2018-01-20 00:34] gaearon commented on #12058
There is a PR that improves this: https://github.com/facebook/react/pull/11523.

I'm not sure we'll want to take that particular approach. However maybe we can just add a special case for `index.js` specifically? I'd feel safer merging that.

[2018-01-20 00:35] gaearon commented on #12058
i.e. I am proposing that if the filename is `index.js`, we also include the closest directory name. Seems like this would be sufficient for most practical purposes.

[2018-01-20 00:55] billyjanitsch commented on #12058
Sorry for missing #11523! I searched for issues rather than PRs.

What do you think of the approach of removing the common head in #11523? I like that even better that either option I proposed.

Happy to rebase that PR either way.

[2018-01-20 00:58] gaearon commented on #12058
I’m not sure really. I’m worried this might make the warnings way too long on projects with a lot of folder nesting.

I would prefer that we do the smaller fix first and then maybe look at it again.

[2018-01-20 01:00] billyjanitsch commented on #12058
Ok, I will submit a PR for the smaller fix. Thanks for the discussion!

Incidentally, while looking into whether I should enable `babel-plugin-transform-react-jsx-self`, I couldn't find _any_ uses of `__self` in the codebase. Maybe it was only used pre-Fiber? Am I mistaken?

[2018-01-20 09:35] sompylasar commented on #10085
@gaearon Hi, I'd like to take a stab at this. "Not the easiest task" sounds great; at least I'll poke around and learn the React internals hands-on.

Do you have any particular preference or thoughts on the desired UX and implementation?

Here's mine:

## Dump a text diff via `console` like https://github.com/facebook/react/pull/10737

Pros:
- Text is easy to copy and share (post to a chat or tick

[2018-01-20 10:16] t4deu commented on #11602
Hi, the issue seems to be unassigned, can I take this one, I would love to help!!!

[2018-01-20 12:58] jorrit commented on #11602
There is some progress by me in #11911, as far as I am concerned you're welcome to fork it and continue in a PR of your own. I hope you get it working properly!

[2018-01-20 13:11] gaearon commented on #12058
It’s not used yet. The plan was to use it to see where callback ref owner would be different from a string ref owner. That would be useful if we deprecated string refs. We have a different plan for that now though.

[2018-01-20 13:42] NE-SmallTown commented on #11985
How about:

1. Call `scrollToTop` in cWM or constrcutor (before you need run something like `if (isClient) {...}`)

2. For scroll, listen the scroll event, do `scrollToTop` before user see your component (give 100px or more offset)

[2018-01-20 15:44] NE-SmallTown commented on #11953
I think try to start with https://github.com/facebook/jsx/issues/65 maybe greate

[2018-01-20 16:08] sciamannikoo opened #12061 "onChange event of a checkbox not firing in some circumstances"
I'm not sure if that's a but or (more likely) just a lack of knowledge.

The fact I started fiddling with React only a couple of weeks ago might be a hint.

Anyway, the code below is meant to display a checkbox.

[code]

Even if probably not relevant, for clarity, data is read and written through some REST calls and the code is [mostly based on this](https://redux.js.org/docs/advanced/AsyncActions

[2018-01-20 17:17] adrianimboden opened #12062 "Problem when input type changes from email to text"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When an input field changes from "email" to "text", an exception TypeError will be thrown from setSelection.
![Screenshot](https://raw.githubusercontent.com/adrianimboden/react-bug-reproduction/master/screenshot.png)

**Reproduction**
See here: https://github.com/adrianimboden/react-bug-reproduction

*

[2018-01-20 18:12] benbraou commented on #11949
A pull request has been submitted #12023
# Summary
Currently, when the build fails, there is no way to know what happened other than going through the logs in CircleCI.

The goal of this PR is to output JUnit XML metadata for every build step. This allows CircleCI summary page to display exactly which step has failed.

# What this PR does:
1.  Handle Jest JUnit reports generation
   **jest-junit**

[2018-01-20 20:27] t4deu commented on #11602
Great! I will do it, thanks

[2018-01-20 20:50] smithaitufe commented on #2608
I know this is an old issue. I am also having an issue rendering list of countries. It is very slow, although my case is react native. How can I increase the speed?
[code]

[2018-01-20 21:05] sportnak commented on #9999
I'll try looking into this one. I'll update if I'm unable to make any progress. Thanks!

[2018-01-20 21:40] bb commented on #11128
Yet another way to work around this: https://gist.github.com/bb/a6c9cdbdbe253f3a77c5212c827dc3b1

[2018-01-21 00:11] sompylasar commented on #10085
@gaearon While working on this I discovered that `hydrate` does not warn on props mismatch when the server-side prop is missing and the browser-side prop is set to `null` explicitly. Is this expected behavior?

[code]
[code]

[2018-01-21 01:28] sompylasar commented on #10085
Started by adding the existing component stack trace which already adds some value to the warnings if the components are named properly: https://github.com/facebook/react/pull/12063

What do y'all think?

[2018-01-21 05:27] jamesknelson commented on #11985
@NE-SmallTown I've ended up doing something pretty similar 👍

My thought is that `componentWillHydrate` would make this cleaner, as it would eliminate the need to pass `isClient` (or similar) into the component via props.

[2018-01-21 05:40] NE-SmallTown commented on #12038
Is there already some progress on this? If, no  maybe I can take this

[2018-01-21 09:07] sportnak commented on #9999
I've opened a PR for this. `react-with-addons.[min].js` will warn if `isReactClassApproved` is null. `create-react-class` only sets this in development mode, but I *think* it should be set in both. So I removed the check. Running the test suite shows everything passing as before, so it still warns when it should. But I was uncertain on how to add a production script to a dev build.

Here's the tes

[2018-01-21 13:20] riwu opened #12066 "Rendering via JSX vs function call"
From https://medium.com/missive-app/45-faster-react-functional-components-now-3509a668e69f, rendering via `{Component(props)}` is significantly faster than `<Component {...props} />`.

Is there any plans in the near future (within the next few months perhaps) to optimise functional components so that we do not have to perform this optimisation (avoiding JSX for non-html elements)?

[2018-01-21 13:26] gaearon commented on #12066
We're looking at optimizations like this in the context of [Prepack](https://github.com/facebook/prepack) but there's nothing that's going to be immediately useable in the next couple of months. Within a year or two we might have something.

Note that unless you're creating thousands of elements, the performance difference won't be noticeable. Also unless your components are very flat and simple,

[2018-01-21 13:26] #12066 closed

[2018-01-21 15:58] daelmaak opened #12067 "React test utils don't reset form inputs upon simulated reset button click"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In one of my components, I have a form with few inputs and reset button. In my tests I find that button, simulate a click on it but none of the inputs are reset.

**Reproduction**
See here https://jsfiddle.net/2854yewm/
Component above shows how it should be, but the test shows the expected behaviour d

[2018-01-21 23:39] dominikwilkowski commented on #12014
For those who are finding this issue and struggling to find a solution, see below what we do until react has a way to inject HTML without wrappers:

[code]

[2018-01-22 00:42] clemmy commented on #12051
Perhaps I'm missing something, but doesn't inserting an element called `<fragment />` into the DOM mean that we're still adding a wrapper element?

[2018-01-22 01:51] zxydaisy commented on #11565
i have the same problem @gaearon

[2018-01-22 08:20] hpugongying opened #12070 "react@16.0.0 bug"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
after upgrade react@16.0.0，
safari Browser console print bug
1.TypeError: undefined is not an object (evaluating 'Ja.ReactCurrentOwner')
2.TypeError: Map constructor does not accept arguments

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal d

[2018-01-22 10:42] kairiruutel commented on #11565
I have same problem with snapshot tests for components which use `ReactDOM.createPortal`. I am using latest version of `react-test-renderer`, are there any updates related to the error (`TypeError: parentInstance.children.indexOf is not a function`) ?

[2018-01-22 13:57] g3n1us commented on #12061
You would need to have a value on the input to start with. Basically, the first click applies a value, and then forward there is a value to change.

[2018-01-22 14:02] gaearon commented on #12070
You're probably mixing different versions of `react` and `react-dom`. They must be the same one (use 16.2.0 as the most recent one).

If you read [16.0 blog post](https://reactjs.org/blog/2017/09/26/react-v16.0.html) (which you should always do when upgrading), it mentions the new [JavaScript environment requirements](https://reactjs.org/blog/2017/09/26/react-v16.0.html#javascript-environment-requ

[2018-01-22 14:02] #12070 closed

[2018-01-22 14:05] gaearon commented on #12051
Yes. The post doesn't say it's necessary, just that it's technically possible without a synthetic event system.

[2018-01-22 14:42] sciamannikoo commented on #12061
But I do have a value. The checkbox is checked when l oading the page, because the value comes from the DB (actually, a store which uses REST API to get and update the data).

As I fear I wasn't clear enough (or maybe I misunderstood your comment), I've uploaded [here](https://drive.google.com/file/d/1mzgqnP90ZKN8wi3sVi4qOju70rGVTQlM/view?usp=sharing) a screencast of the issue.

[2018-01-22 14:49] g3n1us commented on #12061
Sorry, I wasn't clear enough. This doesn't have anything to do with React, the DOM node does not have a value property. Try adding `value="1"` to the element.

[2018-01-22 15:06] sciamannikoo commented on #12061
This is also something I tried before posting this (and which seems I forgot to mention).

As soon as I set the value attribute, the checkbox always displays as unchecked: no matter what's the original value in the DB.

I've tried with:
- `value="1"`
- `value="true"` (I know, it's silly)
- `value={true}`
- `value={1}`
- `value={value}` (which is the value of the checkbox read from the props)

All

[2018-01-22 15:10] nhunzaker commented on #12062
Dang. Just a gut triage, I think this is happening because React is trying to restore selection before the input actually changes types. For what ever reason, email and number inputs do not support the text selection API. There's an order of operations here that is out of sync.

Great catch!

[2018-01-22 15:25] trueadm commented on #12051
I'm not too sure about this idea when it comes to the web. I personally feel fragments should not have any events and users should stick to using elements for when they need events.

I always envisaged (and originally proposed a spec for a native DOM fragment) they were special nodes that had no layout/styling properties – meaning they couldn't have events attached to them. For example, how can mo

[2018-01-22 16:23] Mansourawy commented on #5042
elem.addEventListener('scroll', this.fireOnScroll , true);

[2018-01-22 16:57] Aarbel opened #12071 "Question : is React Fiber using GPU ?"
Hi React Team !

Here in Clovis.pro (React 15.4) we want to enhance React performances on quite old phones and tablets. Sometimes multi-component updates could slow down the phone and make the UX uncomfy (that's normal, basic javascript uses the CPU and old hardware have low CPU).

To enhance React performances did you made and update in React Fiber to directly allow the javascript to be run by th

[2018-01-22 17:26] Levirclark commented on #11678
I'm also experiencing this when I double click disabled radio inputs.

[2018-01-22 17:45] martintasevski opened #12072 "All controlled <textarea/> fields re-render on any setState() call even though their data has not changed."
**Do you want to request a *feature* or report a *bug*?**
Reporting a bug.

**What is the current behavior?**
Basically I have many controlled `<textarea/>` fields in the app that I am currently developing and I normally only want them to re-render when their values have changed through their onChange event, but they re-render every time setState() gets called anywhere within the component or any

[2018-01-22 17:53] gaearon commented on #12072
Do you want to look into why this happens?

[2018-01-22 17:55] sebmarkbage opened #12073 "Fabric Todos"
For my own notes here are some spill-overs from the Fabric renderer commit.

- [ ] Update currentProps for updates in the commit phase. Needs a host effect to be marked and we need a hook to do host updates in the persistent mode.
- [x] Actually use currentProps when extracting events in the component tree.
- [ ] Resuming will need to be able to not reuse host nodes used by another thread.
- [ ] S

[2018-01-22 18:05] martintasevski commented on #12072
I'd love to help, but I'm not sure if I would be able to locate the bug in the source code myself. I'm guessing it has something to do with React's diffing algorithm when updating a component, although I could be wrong.

[2018-01-22 19:15] HuiguangChu commented on #12072
try to set key for each input and textarea

[2018-01-22 19:24] SadPandaBear commented on #11935
Hey, I'm working on this just to see which tests you'd have to enhace too.

So far:

[code]

Well, i realised that all of these tests are considering only "null" keys.
Should we proceed this way or test for `undefined`  (and eventually other values) too?

Perhaps I'll open a PR later and you guys can give me your thoughts.

[2018-01-22 19:25] HuiguangChu commented on #11678
I think you can check the element you click is the disabled or not. if it  is the current target  and set the event .stopPropagation(); to prevent bubble

[2018-01-22 19:39] luisaccedo opened #12074 "expose component methods"
**Do you want to request a *feature* or report a *bug*?**

request a feature

**What is the current behavior?**

methods of components cannot be exposed

**What is the expected behavior?**

I would like to be able to expose methods of a component so it can be used from a container component, it can be done through an attribute similar to 'ref', like for example 'expose'

For example, imagine a hav

[2018-01-22 19:42] gaearon commented on #12074
In React your example above is typically implemented by [lifting state up](https://reactjs.org/docs/lifting-state-up.html), not refs.

Can you provide a more specific example that is hard to implement by lifting state up?

[2018-01-22 19:53] TrySound commented on #12074
@luisaccedo you contradict to yourself

but then

what is your request?

[2018-01-22 20:13] aweary commented on #12051
I would assume that event listeners on fragments should only listen to events dispatched by children, either in the capture or bubble phase, so there would be no concept of an event being dispatched on a fragment directly.

[2018-01-22 20:30] trueadm commented on #12051
@aweary What if I had nested fragments within fragments or portals within fragments? How would `onResize` work or `onBlur` work with fragments too? I'm generally curious as to how these can be solved in the synthetic event space as it could help create a native fragment polyfil for my implementation idea I had.

[2018-01-22 20:44] f0urfingeredfish commented on #11538
This error also occurs if you use https://localizejs.com for translation. I'm assuming since they manipulate the DOM and React can't reconcile the changes. This took forever to track down and I'm putting it here in case anyone else is trying use localizejs and React16.  The issue is with localizejs.

[2018-01-22 21:20] robdodson commented on #11347
I want to respond to some of the above points, but fear that this thread is already _incredibly_ long. So, sorry for making it longer :P

This isn't entirely true. There is nothing in the platform to enforce that a custom element expose an attributes interface. You could just as easily create one that only accepts JS properties. So it's not a "guaranteed way to pass data". The lack of enforcement

[2018-01-22 21:33] aweary commented on #12051
@trueadm I haven't given this idea a lot of thought, but conceptually fragment events could just be synthetic "aggregates" which let you signal to the synthetic event system that you want to listen to some set of events on the children of the fragments. So if you had a fragment listening for `blur` events it would attach listeners to the appropriate elements rendered in that subtree (maybe by usin

[2018-01-22 21:54] aweary commented on #12072
It looks like this is due to [`updateWrapper` in `ReactDOMTextArea`](https://github.com/facebook/react/blame/master/packages/react-dom/src/client/ReactDOMFiberTextarea.js#L142-L144). It's setting `node.defaultValue` because `props.defaultValue` does not exist, and that's triggering the update. By the same token, it will also [set `node.defaultValue` if `props.defaultValue` is defined](https://gith

[2018-01-23 02:57] stephenkingsley commented on #11911
I think function `insertBefore` has something strange.
[code]
That is correct , if I use `parentInstance.childNodes[0]` instead of `beforeChild`. Like this:
[code]

[2018-01-23 03:15] g3n1us commented on #12061
Here is a related discussion that should help you out:
https://github.com/twisty/formsy-react-components/issues/66
It looks like I was sort of correct in the part about a "falsey" value being set on a checkbox.

BTW, I don't feel like this is a bug, but instead an area of React where behavior could be normalized a little better.
Good luck, and cheers!

[2018-01-23 07:06] pravi opened #12076 "update rollup-plugin-node-resolve to 3.0.0"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Just update rollup-plugin-node-resolve to 3.0.0

[code]
**What is the expected behavior?**

We'd like to use rollup-plugin-node-resolve 3.0 in debian. We are packaging react as a dependency of gitlab 9.5 (so apt-get install gitlab works to setup a gitlab server). pr that removed this option https

[2018-01-23 07:20] zhangchao828 commented on #11940
谢谢react团队，让我的工作效率大大提高

[2018-01-23 07:26] trusktr commented on #11347
React is coercing values to a string before passing into `setAttribute`:

https://github.com/facebook/react/blob/4d6540893809cbecb5d7490a77ec7ad32e2aeeb3/packages/react-dom/src/client/DOMPropertyOperations.js#L136

and

https://github.com/facebook/react/blob/4d6540893809cbecb5d7490a77ec7ad32e2aeeb3/packages/react-dom/src/client/DOMPropertyOperations.js#L166

I basically agree with all you said.

W

[2018-01-23 07:50] sciamannikoo commented on #12061
@g3n1us thanks: that helped!

`<input type="checkbox" checked={!!value} onChange={this.onChange}/>` seems to do the trick.

Quite unintuitive, but at least it works.

[2018-01-23 07:50] #12061 closed

[2018-01-23 08:36] adeelibr commented on #9286
Any updates?

[2018-01-23 09:56] slavabilaz opened #12077 "Image srcSet bug"
Hi,
I have some problems with img tag srcSet inside some small components:
[code]
These errors are in console(tested in chrome and opera):
[code]
Dependencies:
[code]

Need some help with this, thank you.

[2018-01-23 11:35] luisaccedo commented on #12074
thank you @gaearon,

I understand the advantages of lifting the state up, and I've already done it that way.

Probably I'm wrong but I'll try to explain the use-case for a exposed method, maybe it makes sense:

I have a reusable carousel component, that has a lot of methods to control pagination, animations, responsiveness... Basically, it receives an array of items and some config options and tak

[2018-01-23 11:43] gaearon commented on #12076
I don’t understand what you are trying to do. React’s build dependencies should not affect React users in any way.

[2018-01-23 11:57] M-Dahab commented on #6410
As I see, this issue is still open, can anyone update us on the progress, please?

[2018-01-23 12:01] DJTB commented on #8683
@zuimeiaj this approach instantly closes the IME composition box and completely blocks all input using Google (Japanese) IME (on Ubuntu 16.04 / Chrome 63).

@eyesofkids is completely right in saying "I found there are 3 different results (events fired sequence) at least." (in different browsers). There's definitely inconsistency between browser implementations as to when and how many times they fi

[2018-01-23 12:47] wingyiu commented on #12039
+1

keep the component in cache when route to next component,
instead of recreating a new one, reuse the cached component, avoid refetching the data via network.

[2018-01-23 13:31] stephenkingsley commented on #11911
@gaearon would you please code review?

[2018-01-23 13:56] #12077 closed

[2018-01-23 14:11] gaearon commented on #12039
In React this is usually solved in one of the two ways:

* Keep data cached separately from the component. For example, you can lift state up to an ancestor that doesn't get mounted, or put it in a sideways cache like Redux. We're also working on a first-class API support for this.

* Don't unmount the views you want to “keep alive”, just hide them with `style={{ display: 'none' }}`.

[2018-01-23 14:54] pravi commented on #12076
@gaearon we are building react from source (from github tarballs). Every package in debian main should be built from its source using tools available in debian. We like to keep only one version of a library/tool in debian and we already have a newer version of rollup-plugin-node-resolve (as an extreme measure we can include multiple versions, but we try to avoid it).

[2018-01-23 15:05] LINKIWI commented on #12074
Can you elaborate on this? If you assign a ref to a component, you'll get an instance of that component, which exposes its class methods. You should, for example, be able to do `whateverRefNameYouSet.rotateWheels(50)`.

Generally speaking, you'll have much fewer headaches if you rearchitect your componnts to receive inputs declaratively as props from parent components, and calculate derived proper

[2018-01-23 15:28] Download commented on #11553
Just wanted to let you guys know that sometimes you can get this Violation even when there are no scripts present on the page at all. It is suspected it is caused by Add-ons...

See: https://stackoverflow.com/questions/46717866/violation-added-non-passive-event-listener-when-no-javascript-present

[2018-01-23 15:56] gaearon commented on #12076
That doesn't sound very sustainable to me. Even if we fix this outdated dependency, eventually we're bound to have more. In npm world, dependencies are meant to be per-package and isolated.

In any case, we're happy to take a PR updating this particular dep. But we won't be working ourselves on this in the near future. The removal of `skip` version was the reason we stayed on the earlier version.

[2018-01-23 16:10] SadPandaBear commented on #11935
@gaearon does React set the key to `null` whenever the value for the prop isn't valid (eg `undefined`)?

[2018-01-23 16:10] tgrundmanis opened #12079 "Automatically fix JavaScript errors on pull requests"
I run Stickler-CI which is a service aimed at improving code quality by simplifying code review by automating code feedback in pull requests.

We just launched auto-fixing for JavaScript through pull request commits. As a JavaScript open source project, our service will save you time and brain power by automatically fixing style errors.

If you are interested in trying out our product, we can subm

[2018-01-23 16:21] pravi commented on #12076
@gaeron I agree it is indeed a lot of work. In many cases we send pr upstream to keep the dependencies in sync. But we think the effort is worth to give a language-agnostic uniform interface to managing all applications in the system (just apt for every software). It actually bridging two diverging cultures.

I have been able to build it by just commenting out the skip option, though it prints a l

[2018-01-23 16:56] nywooz commented on #11087
From https://reactjs.org/docs/typechecking-with-proptypes.html
React.PropTypes has moved into a different package since React v15.5. Please use the prop-types library instead.

import PropTypes from 'prop-types';

[2018-01-23 18:07] robdodson commented on #11347
I see. Since most folks don't define a custom `toString()` it defaults to `[object Object]`.

[2018-01-23 18:27] trusktr commented on #11347
Just like if I do

[code]

the result is

[code]

Obviously as a web developers we should be aware what happens when we pass a non-strings into element attributes. For example I'm aware that I can pass non-strings into A-Frame elements, and I should be free to do that without a library blocking it.

[2018-01-23 18:31] sebmarkbage commented on #11347
This is unnecessary snarky. You'll note in this thread that we do care about this but that there are many different options and visions for where to take the custom element design. It's certainly not obvious what should be done.

[2018-01-23 18:48] muhammadInam commented on #11423
hey @Ephem, are you still working on the fix? If not, then I would like to give it a go. Let me know, thanks

[2018-01-23 18:51] luisaccedo commented on #12074
agree, but maybe sometimes being able to expose some methods might be useful...

[2018-01-23 18:55] joelbarbosa commented on #12072
@martintasevski  I think the PR #12080  will resolve the problem.
Thanks, @aweary  for the tip +1:

[2018-01-23 18:55] TrySound commented on #12074
@luisaccedo So what's wrong with instance ref? With future private class fields you will even be able to hide some methods.

[2018-01-23 19:04] trusktr commented on #11347
@sebmarkbage Sorry about that, I didn't mean to be snarky at all, and I think React is a nice lib. I should've thought about my words more carefully there (especially because not everyone has the same religion).

What I meant is, React is very popular, so React has the potential to sway people to do things in a certain way that may not work in other places (f.e. it could tell people to rely on ins

[2018-01-23 20:35] Ephem commented on #11423
Hey @muhammadInam! Since I am unsure if the direction of the fix I suggested is good I'm waiting for feedback before doing a PR, maybe @gaearon who's been active in the thread could chip in? (Only my last post is relevant in regards to a fix, rest is just background and context around how we use noscript and a bit wall-of-texty, sorry..)

Basically I think my questions are:
* Is `shouldSetTextCont

[2018-01-23 23:51] adrianhelvik opened #12085 "Feature request: middleware"
This is an incomplete draft for a feature I think could be
really cool. It can replace higher order components
and context in a way I think is more in the component
spirit of React.

I do not know if this feature is feasible or desirable for
React, especially as it would lead to a bigger API surface.
The proposal is written as if it was documentation to
give a feel for how it would be to use it.

[2018-01-23 23:58] gaearon commented on #12085
Note that we're actively working on fixing context so that we can embrace it as a supported API. :-)
https://github.com/reactjs/rfcs/pull/2
https://github.com/facebook/react/pull/11818

[2018-01-24 05:38] dwjft opened #12086 "Remove Component.childContextTypes / Component.contextTypes and PropTypes requirements for Context"
Since there is currently undergoing work (https://github.com/facebook/react/pull/11818) on the Context API, I feel like this may be a good time to bring this up.

----

In my projects, the design decision to not use `PropTypes` in our internal components was made early on, under the assumption that if we were to use `PropTypes`, we may as well go the whole way and use `flow` or `TypeScript` as wel

[2018-01-24 05:48] TrySound commented on #12086
@dwjft New context API won't require prop-types.

[2018-01-24 06:04] zengjialuo commented on #12039
- The first way:  this way can make things done, but, sometimes it's too heavy. E.g., we use sate to record whether a component is exposed or not. It's suitable to use state, and seems be strange to lift these state up or store them with Redux.
- The second way: the problem is that just hide the element is not enough, some event listeners should be removed.

@gaearon Could you please explain some

[2018-01-24 06:59] bjrmatos commented on #12039
you can also intercept the change (prop/state change) that leads to `visible` -> `display: none` and do your event listeners clean up easily, and when going from `display: none` to `visible` attach the listeners again. you are effectively making the component inactive by doing `display: none`, any other use case for keeping an instance alive?

[2018-01-24 07:24] adrianhelvik commented on #12074
class Container extends React.Component {
  setChild(child) {
    // do something...
  }

  render() {
    return (
      <Child expose={this.setChild} />
    )
  }
}

class Child extends React.Component {
  componentDidMount() {
    if (this.props.expose)
      this.props.expose(this)
  }

  // ...
}

[2018-01-24 07:27] adrianhelvik commented on #12074
class Container extends  React.Component {
      setChild(child) {
        // do something...
      }

      render() {
        return (
          <Child expose={this.expose} />
        )
      }
    }

    class Child extends React.Component {
      componentDidMount() {
        if (this.props.expose)
          this.props.expose(this)
      }

      // ...
    }

You can even store instances on t

[2018-01-24 12:05] lcapriotti opened #12087 "Question: react app embedded as div in a container -> setState refreshes the container?"
We have observed a peculiar behavior and we are unsure whether this is by design or an issue with the specific environment:

basically we have a React app rendering in a div included in a web container, and if we trigger a component local state change by calling setState then the whole of the web component page is refreshed, thus loading the React app from scratch (loosing the app state then).

We

[2018-01-24 13:55] t4deu commented on #11602
Hello, I just sent a PR with the fix.

Apparently, it is caused by a regression introduced during the integration of Fiber.

The `renderDOM` method from `ReactPartialRenderer` was overwriting the children nodes from options, when setting the "selected" option, resulting in the bug.

As can be [seen here](https://github.com/facebook/react/blob/v15.6.2/src/renderers/dom/client/wrappers/ReactDOMOptio

[2018-01-24 14:01] jorrit commented on #11602
Thanks! Are my faling testcases from #11623 (I accidently referenced #11911 twice above when I actually meant #11623) working with your PR?

[2018-01-24 14:05] zengjialuo commented on #12039
@bjrmatos ， your suggestion is practical.  There are ways to work around. But i think they are not so perfect or clean.  since when you write a component, you should concern both the React life-cycle and something like page life-cycle. Doesn't it?

[2018-01-24 14:37] bjrmatos commented on #12039
my suggestion is not a work around, it is the react way of doing things.. reacting to state/props changes and do something is the whole react model. i would say it is clean because it is the way how things should be done with react.

to me what you are describing is just a react component life-cycle concern, a component is a component no matter if it is a whole page or not and you need to use the

[2018-01-24 14:41] gaearon commented on #12039
We’ll post it soon at https://github.com/reactjs/rfcs. Stay tuned for PRs there.

[2018-01-24 14:58] nhunzaker commented on #12062
Circling back! Thanks for providing a possible fix!

1. I want to make sure that checking the type is sufficient. Should we instead compare the value of selectionStart? For example:

[code]

2. From there, it would be awesome to make [a DOM test fixture](https://github.com/facebook/react/tree/master/fixtures/dom)

Is that something you'd like to take on?

[2018-01-24 15:00] gaearon commented on #12086
You can see from the RFC that it doesn’t use PropTypes.

https://github.com/reactjs/rfcs/pull/2

[2018-01-24 15:00] #12086 closed

[2018-01-24 16:11] martintasevski commented on #12072
Any ETA on when this change will be pushed to master and released?

[2018-01-24 16:17] meghaaila commented on #7142
For my case I have a dropdown and when the element in the dropdown changes, the animation has to pop up in a dom element.
I have a boolean state variable that basically decides which class to set. If the variable is true I set the class, otherwise it's empty.

this.state = {
     animationClass: true
}

In the onClick event of the dropdown:
setTimeout(() => {
	this.setState({selectValue :val , ani

[2018-01-24 16:47] t4deu commented on #11602
Yes, but I needed to update the tests, the `clientRenderOnServerString` conditional is the same as serverRender and streamRender, so there was no need of an extra block.
The `ReactDOMServerIntegrationForms-test` seemed to be a better place, since it's where the tests for inputs, textareas and selects are, also updated the clientCleanRender test because only returns one text node.

Besides that als

[2018-01-24 16:54] gaearon commented on #11527
So here’s a few thoughts. This is not a complete response by any means, but maybe this is still more helpful than saying nothing.

First, I think we agree that delaying *reconciliation* in order to batch updates is beneficial. That is, we agree that `setState()` re-rendering synchronously would be inefficient in many cases, and it is better to batch updates if we know we’ll likely get several ones

[2018-01-24 17:16] gaearon commented on #122
Wrote some thoughts about why React works this way: https://github.com/facebook/react/issues/11527#issuecomment-360199710

[2018-01-24 17:19] gaearon commented on #9439
Wrote some thoughts about why React works this way here: https://github.com/facebook/react/issues/11527#issuecomment-360199710

[2018-01-24 17:19] gaearon commented on #3918
Wrote some thoughts about why React works this way here: https://github.com/facebook/react/issues/11527#issuecomment-360199710

[2018-01-24 17:50] Kaybarax commented on #11527
Wonderful in depth explanation to the decisions behind the architecture of React. Thanks.

[2018-01-24 19:34] jorrit commented on #11602
Thanks a lot!

[2018-01-24 23:11] #12046 closed

[2018-01-24 23:20] bvaughn opened #12089 "Debug render-phase side effects in strict-mode for DEV"
Relates to PR #12083

Currently we double-invoke component `constructor`, `render`, `static getDerivedStateFromProps` and `setState` reducer functions if the `debugRenderPhaseSideEffects` feature flag is on. We should also do this if we're inside of a `StrictMode` subtree.

However, it is likely that the new `StrictMode` element will be present in production apps, so I believe it is important that

[2018-01-25 01:20] dudko commented on #11334
@gaearon, your fiddle does not define `state` of child component and crashes before fetch is resolved. Fixed [example](https://jsfiddle.net/t37cutyk/10/) makes your explanation more obvious. Anyway, thanks a lot for it!

[2018-01-25 02:08] pod4g commented on #11527
mark

[2018-01-25 02:30] xJkit commented on #11527
Thank you, Dan.

[2018-01-25 03:19] AndrewMorsillo commented on #10441
I'm still getting this as well no matter my webpack settings.

[2018-01-25 04:55] caleblogan commented on #5739
This seems to be the intended function according to the docs: https://reactjs.org/docs/events.html#mouse-events.

The event bubbles up to closest ancestor (not inclusive) then back down to the the entering node. I don't know enough about the code base to have an opinion on whether it should be changed though.

[2018-01-25 05:13] bvaughn commented on #12089
Will pick this up after PR #12084 lands.

[2018-01-25 05:43] #12044 closed

[2018-01-25 06:43] ruoru opened #12090 "use setState in componentWillReceiveProps"
if i use `setState` in `componentWillReceiveProps`
[code]
the question1 is in doWhatever this.props is `new props` or `old props`?
the question2 is when does the `nextProps` become `this.props`?

[2018-01-25 07:03] solkimicreb commented on #11527
I ❤️ this issue. Awesome question and awesome answer. I always thought that this was a bad design decision, now I have to rethink 😄

[2018-01-25 07:12] stephenkingsley commented on #12090
This question I think a ask in [stackoverflow.com](stackoverflow.com) is more helpful in here.

And in React, `state` and `props` are two concepts. Normally after your setState, the props is not changed.

[2018-01-25 07:32] TrySound commented on #12090
@ruoru React has minimal API. If you have something passed then it cannot be taken from component instance. So in `componentWillReceiveProps(nextProps)` `this.props` is prev props, in `componentDidUpdate(prevProps)` this.props is new props

[2018-01-25 07:34] wxyyxc1992 commented on #11527
Thank you, Dan.

[2018-01-25 07:40] ruoru commented on #12090
@stephenkingsley  @TrySound  Thank you very much for your reply, but these `React documents` had what you have said.

[2018-01-25 07:45] decadef20 commented on #11527
mark

[2018-01-25 09:38] PM5544 opened #12091 "Native ecmascript module for React and ReactDOM"
**Do you want to request a *feature* or report a *bug*?**
This probably is a feature request since the root of this is considering the build tooling and questions on how to proceed with my efforts.

**What is the current behavior?**
No native ecmascript module output and the current build tools don't easily allow adding a  native ecmascript module build target.

While investigating a workflow usin

[2018-01-25 09:43] Dajust commented on #11527
I call it asyncAwesome setState :smile:

[2018-01-25 09:46] TrySound commented on #12091
@PM5544 Seems like a duplicate of https://github.com/facebook/react/issues/11503

[2018-01-25 09:58] PM5544 commented on #12091
This somehow did not turn up in my former searches, so thanks for pointing this out.
While it has overlap, the point of the linked issue is different in nature I believe. It misses the build target without transpiling or has much less focus on it. And that is the biggest reason for the incompatibilities between the current build process and the one in my POC.

I'm curious what you think of this.

[2018-01-25 10:13] TrySound commented on #12091
Do you have size differences between bundles and benchmark about performance? AFAIK there's not big deal using untranspiled version. Not sure about now, but before there was performance regressions with es6 code in browsers, but es5 is fast.

Adding esm version makes sense for browsers and bundlers, it was discussed in linked thread. But providing also untranspiled version without significant bene

[2018-01-25 10:56] PM5544 commented on #12091
I haven't compared the transpiled and untranspiled versions before but checking the react versions on disk yields 57.796 (for the UMD unminified version) vs 56.265 bytes (for the unminified untranspiled one in my POC) a difference of only 1531 bytes.
This highly unscientific comparison focussing only on file size does not really favour any of the two.
What the actual effects are on parsing and suc

[2018-01-25 11:04] TrySound commented on #12091
https://github.com/facebook/react/issues/10164#issuecomment-334201399

[2018-01-25 11:35] gaearon commented on #12091
Closing as overlapping with https://github.com/facebook/react/issues/10021.

[2018-01-25 11:35] #12091 closed

[2018-01-25 11:41] PM5544 commented on #12091
Ah that one also has a lot of overlap, but still it does not completely cover this issue I believe. It misses the ESM native export and import functionality which support for has greatly improved since than.
Do the combined issues you linked to mean that I should give up my efforts to get a native ecmascript module build target a reality or is there another point you're trying to make?

[2018-01-25 11:44] TrySound commented on #12091
@PM5544
"Add a "module" entry in package.json" means "ESM native export and import functionality"

[2018-01-25 11:44] gaearon commented on #12091
We try not to have issues covering the same problem. https://github.com/facebook/react/issues/10021 is precisely about ESM. But that’s impossible until we fix https://github.com/facebook/react/issues/10164. Both issues already exist; I don’t see a value in having yet another one open 🙂

[2018-01-25 12:19] gaearon commented on #2517
@acdlite just landed a PR with the new context API: https://github.com/facebook/react/pull/11818.

I think we can consider this closed. The new API doesn't have this problem. The old API can't be fixed, and we'll deprecate it at some point after major libraries upgrade to the new API.

The new API will be available and documented in one of the next minor React 16.x releases.

[2018-01-25 12:19] #2517 closed

[2018-01-25 12:24] gaearon commented on #12090
The `setState` callback fires when the updates have been flushed to the DOM, so new props are current at that point.

You'll get new props there.

After React re-renders the component.

[2018-01-25 12:24] #12090 closed

[2018-01-25 14:04] stephenkingsley commented on #11881
When backspace, will fire topKeyDown, topInput, topKeyUp three event. I think the problem is the `topInput` event.

[2018-01-25 14:54] craigkovatch commented on #11387
@gaearon this is a pretty unfortunate situation for a certain slice of us -- could you or someone dear to you have a look at this? :)

[2018-01-25 15:04] jquense commented on #11387
I'd add that my current thinking is that both use cases should be supported. There are really use cases where you need context to flow from the current parent to the subtree but to not have that subtree act as a logical child in terms of the DOM. Complex modals are the best example, you just almost never want the events from a form in a modal window to propagate up to the trigger button, but almos

[2018-01-25 15:06] jquense commented on #11387
i would add tho in terms of API i don't think `createPortal` should do both, the modal case really wants to just use `ReactDOM.render` (old skool) because it's pretty close to a distinct tree _except_ that context propagation is often needed

[2018-01-25 16:18] bvaughn commented on #12089
This has a trickier impact on some of our tests than I would have assumed. For example, [`ReactIncrementalUpdates-test`](https://github.com/facebook/react/blob/6dabfca5774b9b2ceaa1faf8ad225e6dac016c31/packages/react-reconciler/src/__tests__/ReactIncrementalUpdates-test.js#L126-L179).

[2018-01-25 17:01] marcellomontemagno opened #12093 "Error event fired twice when in development mode"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Error event fired twice when in development mode.

In the example you can see that '>>>>>>error' is logged twice while I only expect to see it once.

Note: this issue doesn't happen with the production version of react

**If the current behavior is a bug, please provide the steps to reproduce and if

[2018-01-25 17:08] bvaughn commented on #12089
I think I'm going to need to disable this for tests, at least by default. Some of our tests are just too hard to follow otherwise.

[2018-01-25 17:17] nicowilliams commented on #11527
I tend to think that everything should be implemented async first, and if you find a need for a sync operation, well, wrap the async operation with a wait for completion.  It's much easier to make sync code out of async code (all you need is a wrapper) than the reverse (which basically requires a complete rewrite, unless you reach for threading, which is not at all light-weight).

[2018-01-25 17:44] bvaughn commented on #12089
I think the right thing to do for this feature is also to disable it for production mode.

[2018-01-25 18:10] zengjialuo commented on #12039
@bjrmatos the keypoint is how the PageComponent notice its descendant component to remove event listeners except for all component has a visible prop？

[2018-01-25 18:52] vivekmodi23 opened #12095 "i am trying to run create-react-app command"
F:\reactjs\project-1>create-react-app hello-world

Creating a new React app in F:\reactjs\project-1\hello-world.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts...

npm ERR! Unexpected end of JSON input while parsing near '...dir-recursive":"^0.1.'

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\HP\AppData\Roamin

[2018-01-25 18:53] gaearon commented on #12095
This seems like an issue with your network, as JSON is corrupted. Perhaps you're behind a proxy, or have a bad connection. Unfortunately there's nothing we could do—please try from another network.

[2018-01-25 18:53] #12095 closed

[2018-01-25 18:59] vivekmodi23 commented on #12095
currently network is working properly can there be any other issue, other then this

[2018-01-25 19:04] gaearon commented on #12095
No, the message says that the network response is invalid.

Maybe you can try your luck with Yarn (https://yarnpkg.com/en/).

[2018-01-25 19:11] dallashuggins opened #12096 "TypeError: Cannot read property 'state' of undefined with create-react-class"
I am currently attempting to create a button which is red with the text "Yes" that when you click on it the button changes to a green color with the text "Confirm?" before the final stage in which an action takes place. Where I am currently at is defining `buttonColor` as a state which changes on the click of the button; the initial color should be `#FD8F83` and the final color after the click sho

[2018-01-25 19:19] gaearon commented on #12096
Please provide the full code.

[2018-01-25 19:26] waynebloss commented on #8938
The workarounds listed so far didn't work for me. The following worked perfectly though on `iOS 11.2.2`, no ref needed -

[code]

[2018-01-25 19:36] ha404 opened #12097 "Can't use React.Fragment"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
broken in runtime

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.ne

[2018-01-25 19:40] dallashuggins commented on #12096
Hi @gaearon - here it is:

[code]

[2018-01-25 19:48] mweststrate commented on #11527
@gaearon thanks for the extensive explanation! It has been nagging me for a long time ("there must be a good reason, but nobody can tell which one"). But now it makes total sense and I see how this is a really conscious decision :). Thanks a lot for the extensive answer, really appreciate it!

I think this is quite true indeed, in MobX props are typically used as just component configuration, and

[2018-01-25 19:48] #11527 closed

[2018-01-25 19:51] DCtheTall commented on #12096
@dallashuggins replace

`this.props.customers.map(function(customer, index) {`

with

`this.props.customers.map((customer, index) => {`

and that should fix it. The `function` keyword switches the context of `this` to be whatever object the function is bound to, in this case it's undefined. Arrow functions were added to JavaScript because of this behavior.

[2018-01-25 19:52] gaearon commented on #12096
The problem is:

[code]

In JS `this` does not get preserved this way.

If you want to keep `this` value from the render method you can use an arrow function:

[code]

Hope this helps!

[2018-01-25 19:52] #12096 closed

[2018-01-25 19:53] gaearon commented on #12096
Oh, and the above answer is also right (I missed that). Use arrows in both cases.

[2018-01-25 19:54] TrySound commented on #12097
@ha404 Check your node_modules and make sure you have react 16.2

[2018-01-25 19:55] dallashuggins commented on #12096
That worked! Thank you both so much!

[2018-01-25 19:57] chrischrischris commented on #7712
https://github.com/auniverseaway/react-dom-components may do what you are looking for.

[2018-01-25 20:07] gaearon commented on #12097
Maybe you have an older `react-dom`? Both need to be 16.2.0+.

[2018-01-25 20:36] adidahiya commented on #8262
I have a similar need for passing down arbitrary context without validation, but I can't use `unstable_renderSubtreeIntoContainer` because I need to mix React subtrees which use different major versions of React (I'm trying to incrementally migrate projects from React 15 to 16). Are there any other ways to do this @gaearon?

[2018-01-25 20:43] gaearon commented on #8262
I’m not quite sure what you’re asking so it’s hard to answer. You could wrap the whole child tree into a component that provides every context property that might be consumed by the tree below. Would that help? I don’t know, you know your constraints better than I do 🙂

[2018-01-25 20:45] giles-v commented on #10085
One closely related problem I have is the vagueness of simply listing the `nodeName` for large and complex views. In other words, the warning

[code]
... is too vague to debug.

[Here is a concept branch](https://github.com/facebook/react/compare/master...giles-v:feature/clearer-rehydration-node-identifiers) which converts this to:
[code]

I would love feedback on whether this is useful before I b

[2018-01-25 20:48] Geczy commented on #5375
@gaearon just wanted to thank you for that tip, extremely helpful. saved me a boat load of time

[2018-01-25 20:49] ha404 commented on #12097
Both are at `^16.2.0` :(

[2018-01-25 20:50] gaearon commented on #12097
Can you reproduce this in a fiddle? If not there might be some kind of local cache on your system that’s messing this up. Please provide a reproducing project.

[2018-01-25 20:55] ha404 commented on #12097
Let me try to reproduce it somewhere. Here's another clue when I use the `<></>` syntax:
<img width="648" alt="screen shot 2018-01-25 at 12 54 09 pm" src="https://user-images.githubusercontent.com/567126/35411800-f4d1ccee-01ce-11e8-8706-dab846d7241c.png">

[2018-01-25 20:59] ha404 commented on #12097
@gaearon https://codesandbox.io/s/0pvzqryz2l. It just seems to not like this fragments syntax.

[2018-01-25 21:01] gaearon commented on #12097
As mentioned in the blog post, the *syntax* support is not expected to come fast to all tools.

[2018-01-25 21:02] gaearon commented on #7712
Technically React 16 *can* attach to non-React-generated markup although this is pretty fragile.

[2018-01-25 21:02] ha404 commented on #12097
Understandable, I just can't understand why I'm getting similar errors. Is there anything else I need other than `react` and `react-dom` on `16.2.0`?

[2018-01-25 21:04] adidahiya commented on #8262
Sorry for the lack of detail -- in short, I'm building a plugin framework which provides some utility React components for plugin hosts as well as plugin implementors. I'm trying to build a generic component which plumbs arbitrary context through a React tree "boundary" (where trees on different sides of the boundary can be on different major versions of React).

Yeah, this does work, but ideally

[2018-01-25 21:07] joshacheson commented on #5517
For what it's worth to anyone who reads this, it's my understanding that [React Call Return](https://github.com/facebook/react/tree/master/packages/react-call-return) is the (not yet ready) feature designed at least partially to address this problem.

[2018-01-25 22:11] ha404 commented on #12097
@gaearon it looks related to this https://github.com/facebook/react/issues/11759

[2018-01-25 22:13] gaearon commented on #12097
@ha404 No, that one is IE11-specific.

No. How did you verify that you have them? Can you post the content of `node_modules/react/package.json` and `node_modules/react-dom/package.json` please?

[2018-01-25 22:19] ha404 commented on #12097
@gaearon that was the second thing I tried looking at haha, here ya go:

`node_modules/react-dom/package.json`:
[code]

`node_modules/react/package.json`:
[code]

[2018-01-25 22:30] #12089 closed

[2018-01-25 23:39] gaearon commented on #12097
OK, my best guess is you accidentally have two React's in the bundle, one being an older version.

Try running `npm ls react` or inspect your Sources in Chrome DevTools and look how many files called `react.development.js` show up.

I don't think we can help further here—if it doesn't reproduce on a new project, it's definitely an issue with how your project is set up. You either have two Reacts o

[2018-01-25 23:39] #12097 closed

[2018-01-26 00:01] sompylasar commented on #10085
@giles-v Oh this looks nice! I'd love to merge this with my component stack PR https://github.com/facebook/react/pull/12063 somehow keeping both of us as contributors.

[2018-01-26 04:45] romulof opened #12099 "Extend className manipulation"
Currently we're doing string manipulation outside React (Starring [_classnames_](https://github.com/JedWatson/classnames)) and it works perfectly, but after a while writing code, it feels a little verbose:
[code]

The prop `className` is a plain string because it's directly mapped to DOM _Element_ property.

Let's not create a polymorphic Frankenstein here. Keep it as close to pure JS/DOM as possi

[2018-01-26 05:32] sag1v commented on #11527
@gaearon Thanks for the detailed and great explanation.
Though there is still something missing here which i think i understand but want to be sure.

When the event is registered "Outside React", that means maybe through `addEventListener` on a ref for example. Then there are no batching taking place.
Consider this code:
[code]
When we will click on the button "React Event", we will see in the con

[2018-01-26 06:15] mweststrate commented on #11527
@sag1v although a bit related, it is probably clearer to open a new issue for new questions. Just use #11527 somewhere in the description to link it to this one.

[2018-01-26 06:17] Kaybarax commented on #11527
@sag1v @gaearon had given me a very terse reply here https://twitter.com/dan_abramov/status/949992957180104704 . I think his take on this would also answer me more concretely.

[2018-01-26 06:28] sag1v commented on #11527
@mweststrate I thought of opening a new issue but then i realized that this is directly related to your question "why is `setState` asynchronous?".
As this discussion is about the decisions made on making `setState` "async", well i thought to add in when and why making it "sync".
I don't mind opening a new issue if i didn't convince you that my post is related to this issue :wink:

[2018-01-26 06:31] sag1v commented on #11527
@Kaybarax That becuase your question was "When is it sync" and not **Why is it sync?**.
As i mentioned in my post, i **think** i know the why, but i want to be sure and get the Official answer hehe. :smile:

[2018-01-26 09:42] aulisius commented on #12093
I think it has something to do with [invokeGuardedCallback](https://github.com/facebook/react/blob/master/packages/shared/invokeGuardedCallback.js#L34). in _DEV_ mode. They dispatch a fake event to preserver dev-tool behaviour. This comment block would give a better idea

[code]

This is more like the intended behavior and not a bug.

[2018-01-26 10:15] franciscop opened #12101 "Access Component from child's instance?"
I am creating a [small, generic state management](https://github.com/franciscop/state) based on the `Proxy()` object. Now I am writing a React helper, but I've found an issue: to create the HOC I need access to `Component` from React. Looking at the [source code for Component](https://github.com/facebook/react/blob/master/packages/react/src/ReactBaseClasses.js) it doesn't seem like it can/should b

[2018-01-26 10:29] franciscop commented on #12101
Asking this gave me an idea on where to look for, and I found an alternative way of accessing the `Constructor` from the `Passed` **if** the `Passed` is not a pure function:

[code]

This has the risk of needing this exact structure, which won't happen with pure components/functions. Any idea? :smile:

[2018-01-26 10:45] SachaG opened #12102 "setState callback is never called and component state doesn't update (production only)"
Using React 16.2.0, I'm running into a very strange behavior when things work fine locally, but in production (using Meteor) `setState` stops working.

Here's what I've noticed:

- `setState`'s callback is never called.
- The DOM doesn't reflect any changes.
- The Devtools don't reflect the changes.
- Calling `this.forceUpdate()` after `setState` doesn't do anything.

On the other hand:

- `$r.sta

[2018-01-26 11:03] franciscop commented on #12101
Exactly same situation, that would not work with pure functions :(

Three really hacky ways so far, a clean, future-proof one to go! :rofl:

[2018-01-26 11:05] TimoSolo commented on #1881
@singular1ty94 - Also trying to override SemanticUI - it may be semantic, but it's not great css :(

[2018-01-26 11:21] marcellomontemagno commented on #12093
Hey @aulisius thanks for your reply :)

I understand the intention of preserving the expected "Pause on exceptions" behaviour of the dev tools, I doubt the react developers expect an user defined error event listener to be invoked twice with the same instance of the error though.

I'm not even sure `invokeGuardedCallback` is the culprit here (the user callbacks are executed in a next message of th

[2018-01-26 11:57] gaearon commented on #11527
Sort of. Although this is not exactly related to the question about updating `this.state`.

What you’re asking is in which cases does React enable batching. React *currently* batches updates inside *event handlers managed by React* because React “sits” at the top call stack frame and knows when all React event handlers have run. At that point it flushes the update.

If the event handler isn’t set

[2018-01-26 12:58] franciscop commented on #12101
Oh, about posible solutions I think a great one would be lodash's style:

[code]

Since this way tree shaking coule be applied.

[2018-01-26 13:25] lcapriotti commented on #12087
issue solved by calling preventDefaults() within the onclick function. closing.

[2018-01-26 13:25] #12087 closed

[2018-01-26 13:31] TrySound commented on #12101
@franciscop There's nothing you can treeshake in react. If you use one thing, you use it all. Also treeshaking is about handling imports in one entry point, so it's opposed to file splitting.

[2018-01-26 15:30] giles-v commented on #10085
@sompylasar thanks! glad it makes sense.

We could add it to your PR, but my initial inclination is that since they don't depend on each other it would be neater to keep PRs as atomic as possible. Let me clean it up anyway, and then I can open as a PR either to master or to your branch.

[2018-01-26 16:19] justinr1234 commented on #12102
@SachaG Can you show example code?

[2018-01-26 16:41] sompylasar commented on #10085
@giles-v I noticed you changed the warnings that I missed (there are two sets of similar functions at the top and bottom of the ReactDOMFiberComponent file). It would be great if you found when do these warnings appear. I only found when the top ones are called, and added tests for these. I'd like to add the component stack and the tests for the bottom ones, too.

[2018-01-26 16:58] hassanzadeh opened #12104 "can't edit the wiki"
Hello,
I can't edit the wiki to add my website to the list there, is editing disabled?

[2018-01-26 17:00] giles-v commented on #10085
@sompylasar awesome - check. I'll probably try to highlight how these are called via test too; then we can merge our work.

[2018-01-26 20:17] adidahiya commented on #8262
^ follow up to that

This doesn't actually work since `processChildContext` doesn't work in React 16. It seems like React 16 doesn't know how to handle contexts constructed in React 15, so I am unable to mix trees while preserving context.

[2018-01-27 03:20] dsteinbach commented on #8379
This just started happening to me again in the last week in IE11 (ive resolved this same bug in the past using the above suggestions).

[code]

[2018-01-27 04:20] antzshrek commented on #11527
Awesome!

[2018-01-27 12:14] gaearon commented on #8262
In your example, the top level component providing context would have to be a React 16 component too. Context value is just an object. It doesn’t have a React version associated with it. But for sure mixing React versions in one tree won’t work.

[2018-01-27 15:28] SagiMedina commented on #11527
That question & answer should be documented somewhere more reachable. Thank you guys enlightening us.

[2018-01-27 15:52] ambar opened #12106 "react-test-renderer: toTree() does not yet know how to handle nodes with tag=10"
**Do you want to request a *feature* or report a *bug*?**

bug.

**What is the current behavior?**

[code]

https://codesandbox.io/s/olky92m01y

**What is the expected behavior?**

returns a tree.

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

16.2.0

[2018-01-27 15:56] gaearon commented on #12106
This does look like a bug (or rather missing functionality).
Would you like to send a PR?

[2018-01-27 19:04] maciej-ka commented on #12106
I would give it a try.

[2018-01-27 23:03] aweary commented on #12106
Thanks @maciej-ka!

[2018-01-27 23:03] #12106 closed

[2018-01-28 01:20] govindrai commented on #9834
@mjackson I do see your point. I'm trying to understand if I'm in the same boat here. I am using [Formik](https://github.com/jaredpalmer/formik) (a react form library that I am sure you've heard of) into my project. The thing that is very bothersome is that I have to pass onblur, onchange, and onfocus props that are passed down to me from the `Formik` parent component to each input in my form. Not

[2018-01-28 13:04] gaearon commented on #12104
I don't think so, can you post a screenshot/

[2018-01-28 13:06] gaearon commented on #12079
Thanks, we enforce styling via Prettier so we don't really need a linter bot.

[2018-01-28 13:06] #12079 closed

[2018-01-28 13:07] gaearon commented on #12071
Yeah, we don't do anything like that. React 16 also runs in compatibility mode so don't expect drastic changes there. Keep an eye on our blog for announcement related to async React (which is still not related to GPUs though).

[2018-01-28 13:07] #12071 closed

[2018-01-28 13:14] gaearon commented on #12033
I understand your frustration but there's just no way React can coordinate between two different React instances without introducing globals into the environment (which is also bad). String refs require such coordination (which is one of the reasons we encourage people to avoid them). Using two Reacts in the same tree is just not supported for this reason.

If you use webpack, [this plugin](https:

[2018-01-28 13:14] #12033 closed

[2018-01-28 13:15] gaearon commented on #12031
Closing per above comment (I haven't checked). If you're sure it's a React bug please prepare *runnable* examples (e.g. fiddles) with and without React that demonstrate this issue is specific to React.

[2018-01-28 13:15] #12031 closed

[2018-01-28 13:17] gaearon commented on #12067
I agree `Simulate` API is confusing. It doesn't actually simulate a *browser event*, it just simulates a *React event*. So any built-in browser behaviors won't happen automatically.

To achieve what you want, you should be able to simulate a *browser event* using browser APIs such as `node.dispatchEvent()`. Like this:

[code]

[2018-01-28 13:19] #12067 closed

[2018-01-28 13:20] gaearon commented on #12102
It's not obvious to me why this would happen. I think we'll need a minimal reproducing case.

[2018-01-28 13:24] gaearon commented on #12101
Even if you try to read `Component` from `react` "dynamically" like you attempted with `require` in practice the bundler still finds it statically during the build time. So this doesn't really make a lot of sense.

I think what you want is a *separate entry point* in *your* library for React users.

[code]

Inside of it, you can freely import React because people who use that entry point are clear

[2018-01-28 13:24] #12101 closed

[2018-01-28 13:28] gaearon commented on #12099
There was some past movement on this in https://github.com/facebook/react/pull/1198 but it hasn't reached consensus. Since this is an API change and it's been discussed many times in the past but has been shot down for different reasons, perhaps it would be better if you could create an RFC for it: https://github.com/reactjs/rfcs. Thanks!

[2018-01-28 13:28] #12099 closed

[2018-01-28 13:30] gaearon commented on #12093
I think this is a duplicate of https://github.com/facebook/react/issues/10474.

[2018-01-28 13:30] #12093 closed

[2018-01-28 13:40] franciscop commented on #12101
Hi Dan, thanks for the tip! I will look into bundling just `react`, I have actually never seen the size of react vs react-dom.

If that doesn't work I will probably go with the dynamic import, I did something similar already [with `translate` and got good results](https://github.com/franciscop/translate/blob/master/src/index.js#L63).

The bundler (at least rollup) *does not* find these types of re

[2018-01-28 13:49] gaearon commented on #12074
Typically in React you solve this by providing a declarative API in props instead. For example instead of `goToPage()` method you would implement a `currentPage` numeric prop. This way it can be controlled with state by any component higher up the tree.

[2018-01-28 13:49] #12074 closed

[2018-01-28 13:51] gaearon commented on #12101
I think that's a mistake. You should not be bundling it in any case.

You should leave it as en `external` (the exact option depends on the bundler you use). This will leave it as a `require` *in the compiled bundle* so the user doesn't get two copies of React.

[2018-01-28 14:36] xou816 opened #12108 "Input not accounted for by form"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

Inputs rendered by React (controlled or uncontrolled) are not accounted for when submitting forms.

For instance:
[code]
will produce the following form data : `foo1=bar1&foo2=bar2`.

Whereas
[code]
with this component
[code]
will produce `foo1=bar1`.

I can't get a fully working example on CodeSa

[2018-01-28 16:08] TanninOne commented on #12033
Using a global is bad but it's infinitely better than this because it's not relying on behaviour that is even **documented to not work like this**! The require cache doesn't guarantee each module is a singleton and that's a fact.

It doesn't really matter how many modules do this, you don't define Spectre as not-a-bug just because many processors have the same problem.
And no, _I_ don't knowingly

[2018-01-28 21:24] samvel451811 opened #12110 "router of React"
hi.

I'm using packages like react-router and react-router-dom.

**# Does react has default router ?**
**# Is npm packages like react-router and react-router-dom is part of react ?**

[2018-01-28 21:41] benbraou commented on #11996
@gaearon can I work on this issue?
This will be my first contribution to the source code (previous one was about tooling).
I have already crafted something that works locally (+ a very simple test).
I would like to go through the contribution docs first and polish everything (I will have for sure time next weekend but I will try to work on it in the middle of the week)

[2018-01-28 21:58] chrisdieckhaus commented on #11019
Does this issue still need to be taken care of? If so, I'll take a stab at it.

[2018-01-28 22:14] chrisdieckhaus commented on #11609
Does this issue still need fixing?

[2018-01-28 22:21] nhunzaker commented on #11609
To my knowledge, yes.

[2018-01-28 23:26] franciscop commented on #12101
You are totally right, I will try that! 😊

[2018-01-29 01:01] SachaG commented on #12102
To be honest I think it'll be easier to eventually just rewrite that component myself entirely. It's a 1000-lines of code component so there's just too much in there that can go wrong and I think isolating the problem to create a reproduction would probably take me even longer than rewriting it from scratch. So I'll close this for now.

[2018-01-29 01:01] #12102 closed

[2018-01-29 01:40] singular1ty94 commented on #1881
@TimoSolo An alternative solution to that method, which I've used lately, is to use [styled-components](styled-components.com) to wrap Semantic UI's elements and then apply custom styling, eg:

[code]

This way your JSX still looks relatively neat but you get the opportunity to apply actual CSS classes onto the Semantic elements rather than using additional elements or embedded CSS like my origina

[2018-01-29 07:35] PM5544 commented on #12091
@TrySound @gaearon thanks for clearing that up, I'll monitor and try to participate in the other issues.

[2018-01-29 09:43] xkr47 commented on #5878
As an interesting side note, HTML 5.2 supports <style> blocks in most elements inside <body> and thus one could perhaps use <style nonce="..."> to create local styles instead of inline styles..

[2018-01-29 09:45] xkr47 commented on #5878
But maybe, for server-side rendering, the server could scan the generated html for style attributes and automatically add sha256 hashes for the attribute values in the CSP header in the response?

[2018-01-29 10:08] M-ZubairAhmed commented on #12110
- No react doest not have a default/inbuilt router vuejs.
- they are part of react-router not react

[2018-01-29 10:23] gaearon commented on #12110
They’re not part of React, however they’re very good packages, and we know and talk to their authors to coordinate changes that might affect them.

[2018-01-29 10:23] #12110 closed

[2018-01-29 10:40] gaearon commented on #12033
I’m sorry. I can feel you’re very frustrated by this issue. I am too. You’re welcome to propose a solution. I’m not trying to shift the blame; I’m just saying that we have some global state and I’m not aware of the “right” way to store it rather than on a module.

I think that if we solve this by declaring a global variable we’ll just run into other issues. For example some environments might now

[2018-01-29 13:25] pronebird opened #12111 "Document the use of setState in componentWillUnmount"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Excerpt from documentation:

https://reactjs.org/docs/react-component.html

The docs don't mention if `setState` can be used in `componentWillUnmount`.

Consider the following example where the `state.showGreeting` is undone by timer over time. But since the timer has to be invalidated in `compon

[2018-01-29 14:03] gaearon commented on #12111
No, it's not supported or useful. (Happy to take a PR documenting that)

I'm not sure what you're trying to achieve. If the component is being unmounted, there's no need to "reset" the state. A component can't be "resurrected" so if it gets unmounted, its state is irrelevant to the rest of the program.

[2018-01-29 14:14] pronebird commented on #12111
@gaearon aha makes sense. I had an impression that if I hold onto an instance of React component I can actually mount it conditionally. So I thought of didMount and willUnmount as when view appeared or about to disappear. I never did this actually but always assumed that somebody can thus to be a good citizen supported the clean up. Thanks for clarification.

[2018-01-29 14:30] foisonocean opened #12112 "Error when I save the component ref to state"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Error when I save the component ref to state

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JS

[2018-01-29 14:36] gaearon commented on #12112
I'm getting an error trying to open your link. Can you please post on a service that doesn't have limitations (e.g. CodePen, not CodePan).

[2018-01-29 14:37] gaearon commented on #12112
Have you read this part?
https://reactjs.org/docs/refs-and-the-dom.html#caveats

[2018-01-29 14:38] sassanh opened #12113 "Automatically assigning keys"
**Do you want to request a *feature* or report a *bug*?**
I want to request a feature.

**What is the current behavior?**
Currently developer should manually assign a key to each element in an array even if he knows the elements in the array nor their order will not change.
[code]

**What is the expected behavior?**
[code]
Or simply
[code]
Or
[code]
Or
[code]
I prefer fourth methods as second meth

[2018-01-29 14:43] gaearon commented on #12113
Fragment syntax (to be supported in Babel 7) lets you do exactly that.
https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#jsx-fragment-syntax

If you need this now, you can do something like `React.createElement(React.Fragment, null, ...children)` which is equivalent (spreading at the end is essential to avoid the warning).

[2018-01-29 14:43] #12113 closed

[2018-01-29 14:44] gaearon commented on #12111
I see. Is there anywhere in the docs we could've made this clearer?

[2018-01-29 15:10] pronebird commented on #12111
No I think it makes sense now and "Reconciliation" guide explains the principle very well. RTFM is the key :) Not sure there has to be a mention about `setState` in `willUnmount` since there is no need to clean up the instance that's about to be dropped.

[2018-01-29 15:10] #12111 closed

[2018-01-29 16:12] gaearon commented on #12111
Maybe we could add a notice in `componentWillUnmount` doc that once a component is unmounted, it can never be re-mounted.

[2018-01-29 16:28] ndugger commented on #6541
I am experiencing this issue as well with `embed` tags when trying to listen to whether or not a PDF has loaded, or has at least started loading.

[2018-01-29 17:30] alhaag commented on #7318
I have the same problem.
I changed the content tag to slot but it did not work.

[2018-01-29 17:32] foisonocean commented on #12112
@gaearon Sorry I didn't notice that in the doc.

[2018-01-29 17:32] #12112 closed

[2018-01-29 18:59] aweary commented on #6541
So the reason that we don't dispatch is because the `load` event is being dispatched by the browser synchronously when the [`iframe` is appended to it's parent](https://github.com/facebook/react/blob/master/packages/react-dom/src/client/ReactDOM.js#L757). Since this happens during the commit phase the event is ignored since [we disable the synthetic event system while committing](https://github.co

[2018-01-29 19:14] aweary commented on #12108
Hey @xou816, thanks for the report.

I tried reproducing the issue, but wasn't able to. I made [this JSFiddle](https://jsfiddle.net/juvd18b2/) which renders a single input inside a regular old HTML form. When the form is submitted, the (failed) network request contains the values from both the HTML input and the React input.

We'll need to be able to reproduce the issue consistently in order to di

[2018-01-29 19:21] aweary commented on #12038
There is https://github.com/facebook/react/pull/11279, which implements `isFragment` along with a number of related introspection utilities.

[2018-01-29 19:23] aweary commented on #12003
Since we've determined this isn't an issue with React, I'm going to go ahead and close this :)

[2018-01-29 19:23] #12003 closed

[2018-01-29 19:26] xou816 commented on #12108
Thanks for taking the time to look into this! I'll make sure to provide a JSFiddle next time.
I will be investigating this further on my end and will keep you updated.

[2018-01-29 19:40] adrianhelvik commented on #12085
Totally understand that!

[2018-01-29 20:11] adrianhelvik commented on #12062
I think this would fix it. I do not know how to test it though.

    export function hasSelectionCapabilities(elem) {
      const nodeName = elem && elem.nodeName && elem.nodeName.toLowerCase();
      return (
        nodeName
        && elem.getAttribute('type') !== 'email'
        && elem.getAttribute('type') !== 'number'
        && ((nodeName === 'input' && elem.type === 'text') ||
          no

[2018-01-29 23:38] ghassanmas commented on #10849
I found this issue when I was trying to figure out why ReactJS has the atom logo, then I got it, since chemical substance reacts with each other "chemical reaction" as a result the arrangement of electrons is changed around the atoms. so the name and the logo of React really fits the concept behind the library of ReactJS.

[2018-01-30 00:02] gaearon commented on #10849
I'll lock this since we have resolved the matter. Thanks to everybody who participated.

[2018-01-30 00:11] blling commented on #11573
Is 15.6.2 still support IE8?

[2018-01-30 00:12] gaearon commented on #11573
No.

[2018-01-30 00:18] blling commented on #11573
Is there any ways to make 15.6.2 support ie8:)

[2018-01-30 00:27] gaearon commented on #11573
We dropped IE8 support [two years ago](https://reactjs.org/blog/2016/01/12/discontinuing-ie8-support.html). You can fork 15.x and try to get it to a state that works with IE8 (it may not need many changes) but we won't be supporting that officially.

[2018-01-30 01:21] leonascimento commented on #12062
Ping @adrianimboden https://github.com/adrianimboden/react/commit/db923b8c3c1cb23ad9fb150c160ce56f39dd3cae#diff-a654f37b01573fc8006b426d56ad53ceR30

[2018-01-30 02:20] NE-SmallTown commented on #12038
@aweary Ye, but looks like seb's abstraction is excessive and dan doesn't approve it? But if you want to merge that later or you just want to tell @zheeeng can copy and use that in their projects, I will be fine to close #12092 :)

[2018-01-30 05:03] decadef20 commented on #11527
Learned a lot . Thanks

[2018-01-30 07:07] xou816 commented on #12108
It turns out this happens when the HTML markup is invalid, e.g. [here](https://jsfiddle.net/tfzwd0fm/).
I am not sure this can be considered a bug, but it definitely can be be confusing if you fail to realize your markup is invalid!
Thanks again!

[2018-01-30 08:28] luc-tuyishime opened #12119 "I have an error after deployed my react website, I am using react 16.2.0 and this is the error:"
![erreur1](https://user-images.githubusercontent.com/19607550/35555569-3bda9c38-05a8-11e8-80d6-80bf66ff2c51.png)

visit http://facebook.github.io/react/docs/error-decoder.html?invariant=44 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.

[2018-01-30 09:14] txiaocao opened #12120 "How to know onError resons?"
[code]

[2018-01-30 09:37] TanninOne commented on #12033
Well, I'm an old-school c/c++ developer, we were taught globals were bad, whether you call them global or wrap them in a Singleton in an attempt to hide the fact it's a global doesn't really matter.

So intuitively (I haven't looked into the react code) my solution would be: have no global data at all, not in modules, not in the global state but instead pass some kind of "react context object" alo

[2018-01-30 10:55] gaearon commented on #12119
The error message includes a link (you copied it here). Please visit it. It includes the full message.

[2018-01-30 10:55] #12119 closed

[2018-01-30 11:30] adrianimboden commented on #12062
Sorry, I was a little bit busy. I don't know when I can free some time to implement a proper fix with tests.
If someone wants to pick up on the matter, I would not be disappointed.

[2018-01-30 12:43] cruisecoders opened #12121 "Add Seo support in reactJS without using SSR"
Hi Team,

Currently, I was working on SEO in my ReactJS application.So How was thinking how to add different meta tags to each route? I figured out using it with SSR but converting all applications to use SSR for SEO support is not a good option.

TIA

[2018-01-30 13:36] gaearon commented on #12121
Hi! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-01-30 13:36] #12121 closed

[2018-01-30 13:44] gaearon commented on #12033
The problem with the existing string ref API (which is the one you’d like to see “fixed”) is that it already *doesn’t* have such an object. The API contract is that `<div ref="something" />` magically “remembers” that it should get attached to the currently rendered component, and this is not possible unless we keep track of that currently rendered component. We fully agree that this is a bad desi

[2018-01-30 14:39] SamKhachatryan opened #12122 "Concating react with other resources"
Hi.

I want to use many libraries and frameworks in my project.

Can I concat React with other framework like angular, vue, ember...?

[2018-01-30 15:20] luisaccedo commented on #12074
as far as I know the instance ref doesn't allow you  to access component instance methods... is that possible?

[2018-01-30 15:24] gaearon commented on #12074
Instance ref lets you access instance methods (this is what it’s for).
Still, the right way to implement this in React in most cases is to provide a declarative API as mentioned above.

[2018-01-30 19:26] aapoalas commented on #3965
Has there been any progress on talks about reparenting?

I can throw in my two cents from a couple of use case examples.

1. We have a declarative UI application built built using Backbone but with an ongoing attempt at converting into React. In the application we have a splittable container of dynamically loaded sub items. This container can be further split to contain more items. So we have a de

[2018-01-31 02:14] aweary commented on #12122
Hey @SamKhachatryan,

With a little mindfulness and planning React can integrate with almost any other view library, including the ones you've listed. Please see the [Integrating with Other Libraries](https://reactjs.org/docs/integrating-with-other-libraries.html#integrating-with-other-view-libraries) page in the docs for more information.

Thanks!

[2018-01-31 02:14] #12122 closed

[2018-01-31 02:25] aweary commented on #12108
Thanks for following up @xou816! I agree that that's confusing behavior. It seems like the field data is only missing if the `input` element was dynamically added to the DOM; adding a second `input` element after the HTML markup still works.

Unfortunately, React can't do anything about validating that the container it's rendered in is inside valid markup, so I'll close this out. Thanks again!

[2018-01-31 02:25] #12108 closed

[2018-01-31 02:33] intellild opened #12124 "Unexpected DOM elements in list rendering with duplicate keys"
**Do you want to request a *feature* or report a *bug*?**
Reporting a bug.
**What is the current behavior?**
Unexpected DOM elements in list rendering
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to

[2018-01-31 03:57] aweary commented on #12124
Thanks for the report @intellild. If you check the console, you'll see the warning message you get mentions this as a possibility (emphasis mine):

Using duplicate keys is not supported and can result in the behavior you're seeing. In React 15 elements with non-unique keys were omitted, but that doesn't mean that the behavior is supported, or expected to remain consistent across versions. You'll d

[2018-01-31 03:57] #12124 closed

[2018-01-31 04:05] intellild commented on #12124
@aweary
have you tried the fiddle? switch tabs cause wild elements

[2018-01-31 04:13] aweary commented on #12124
yes, I looked at your fiddle. The behavior you're seeing is because the children are being duplicated, which causes issues with how React reconciles children. Using non-unique keys is unsupported and will continue to result in inconsistent and unexpected behavior as React continues to change.

Please make sure to follow the advice of the warning and ensure your keys are always unique so you don't

[2018-01-31 08:12] Comup-X opened #12125 "How to fix Only secure origins are allowed with nginx?"
I don't want to use https.
thanks!

[2018-01-31 09:11] danwad commented on #11759
@gaearon Any update on when we are expecting this fix to land on npm?

[2018-01-31 09:16] XaveScor commented on #11759
@danwad C'mon build own react package until 16.3 release. It's several lines in your webpack config.

[2018-01-31 09:25] Pau1fitz commented on #11940
thanks!

[2018-01-31 09:49] TanninOne commented on #12033
See, for this part I just don't know about react internas. It is my understanding that on setting a string-ref react accesses the ReactCurrentOwner global and that since this global is a module variable, if the module generating the div is different from the code that set ReactCurrentOwner, the one in the generating module is null/undefined at the time.
But why we can't opt to have the ReactCurren

[2018-01-31 10:44] gaearon commented on #12033
You don't necessarily need to. This follows directly from the React public API. I'll show an example below.

So what's stopping you from changing code like this "ReactCurrentOwner.current" to "(context.ReactCurrentOwner || global.ReactCurrentOwner || ReactCurrentOwner).current?

The reason we don't have a similar problem with context is because *the parent-child relationship is enough to establish

[2018-01-31 11:13] gaearon commented on #11759
We plan a release within a week or so.

[2018-01-31 11:15] gaearon commented on #12125
If you use Create React App and see this message, it's only related to service workers. You can either ignore it or [opt out of caching](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#opting-out-of-caching).

[2018-01-31 11:15] #12125 closed

[2018-01-31 17:20] lucasconstantino commented on #9851
I've just read an article which seems to disagree with the conclusions on this issue. Do you guys mind to give an opinion on that? Here it goes:

https://medium.com/@charpeni/arrow-functions-in-class-properties-might-not-be-as-great-as-we-think-3b3551c440b1

[2018-01-31 18:31] ljharb commented on #9851
A best practice, imo, is to never use an arrow function in a class property; it harms testability and limits what the engine can optimize.

[2018-01-31 18:38] SamKhachatryan opened #12128 "data-reactId property"
Hi.

I have many projects written with reactjs in one of this project the data-reactid property is existing. In others isn’t existing. But what is this ?

[2018-01-31 18:41] TrySound commented on #12128
@SamKhachatryan It's version of the projest
https://github.com/facebook/react/blob/master/package.json#L3

[2018-01-31 18:54] spirosikmd commented on #12062
I can pick this up! Would that be ok @adrianimboden?

[2018-01-31 18:56] gaearon commented on #12128
It was removed from client-side render in React 15 and from server-side render in React 16.

[2018-01-31 18:56] #12128 closed

[2018-01-31 19:02] ThomasRooney commented on #4213
I ended up writing the below to solve my problem. This will arbitrarily proxy methods not defined on this class to the wrapped element. I feel dirty but it works. This is inside a HOC that wraps a native element like 'input'.

    elementRef = (node) => {
      this.childNode = node;
      const oldProto = this.__proto__;
      this.__proto__ = new Proxy({}, {
        get(object, key, value) {

[2018-01-31 19:32] SamKhachatryan opened #12129 "What is Server Side Rendering"
OK.  What is Server Side Rendering ?

[2018-01-31 19:46] jquense commented on #12129
Hey there, welcome! We try to keep the React issue tracker focused on feature and bug reports. For general questions and support try the various support avenues https://reactjs.org/community/support.html

[2018-01-31 19:46] #12129 closed

[2018-01-31 21:34] jonathantneal commented on #6410
Here is an example of how I would use `onFocusIn` to toggle a user experience:

https://codepen.io/jonneal/pen/JpdmBm/

^ In this example, I’ve used the `focusin` and `focusout` events to trigger a classname change on a parent element. The parent contains two visible controls. We can focus on either control to trigger `focusin` and reveal additional siblings. With these additional elements reveale

[2018-01-31 22:29] spirosikmd commented on #12062
@leonascimento regarding the tests, any idea where could they be located? If there aren't any tests for `ReactInputSelection` then maybe creating `react/packages/react-dom/src/client/__tests__/ReactInputSelection-test.js` is an option to explicitly test `hasSelectionCapabilities` function?

Otherwise, if we want to test this on a more integration level, should we extend `react/packages/react-dom/s

[2018-02-01 06:22] janbiedermann opened #12130 "How to update State in a batch with react 16 from outside the render cycle?"
App has many state changes coming in from external sources. calling setState() for each **from outside the render cycle** hurts performance a lot, as each setState starts a new render cycle:

[code]

What i would like to do is something like:
[code]

How can i achieve this with react 16?

[2018-02-01 10:40] gaearon commented on #12130
`ReactDOM.unstable_batchedUpdates()` is what you’re looking for.

[2018-02-01 10:40] #12130 closed

[2018-02-01 10:59] Nasir13 commented on #12062
Hiii me nasir... Anyone needs help

nasir
On Jan 24, 2018 8:30 PM, "Nathan Hunzaker" <notifications@github.com> wrote:

[2018-02-01 11:07] voodoo-child opened #12131 "Meta's charset is rendered as camel case"
When I use react-dom's renderToString the meta property charset is rendered with camel case like this:
`<meta charSet="UTF-8"/>`
insted of
`<meta charset="UTF-8"/>`

I'm using react  and react-dom of version 16.2.0

[2018-02-01 11:39] realmika opened #12132 "Characters in String objects are rendered as separate elements"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Characters in String objects (created with "new" keyword) are rendered as separate elements. For English this is not visible for the user, but for Farsi the letters become disconnected (for them it looks like "t h i s")

**If the current behavior is a bug, please provide the steps to reproduce and if p

[2018-02-01 12:22] xkr47 commented on #5878
Yes! Scanning the server-side rendered html and adding sha256 for all `<script>`, `<style>` and 'style="..."` things worked perfectly! No need for `'unsafe-inline'` or `'nonce'` stuff. I will try to publish a npm module with my code. Will post about it here.

[2018-02-01 12:58] gaearon commented on #12132
Don’t use `new String`. It’s [unnecessary](https://stackoverflow.com/a/5750721/458193).

React has no special support for string objects created with `new`. They’re not considered string primitives in JS. Checking for this rare case in hot rendering code paths would be wasteful. We also can’t reliably detect `String` objects coming from another iframe anyway.

The reason this shows up at all is be

[2018-02-01 12:58] #12132 closed

[2018-02-01 13:01] spirosikmd commented on #12062
Hi @Nasir13! I am currently working on this issue. I mention it so we don't end up doing duplicate work!

[2018-02-01 13:15] nhunzaker commented on #12062
Awesome. @spirosikmd thanks for picking this up!

[2018-02-01 16:32] realmika commented on #12132
String objects [can be useful](https://stackoverflow.com/a/39113022/575796). String natives do not convey important information about the text they contain, such as if is written from right to left.

I agree checking specifically for String objects would be wasteful (and unreliable) as they are like any other object.

Is there some mechanism in which I can inform React how to render this object? P

[2018-02-01 16:45] Sundarcj opened #12133 "What is synthetic Event System?"
Hi ,
Am new to react .So I dont know about synthetic event ,Can anyone help me to explore this topic??

[2018-02-01 17:16] jquense commented on #12133
Hi there, we try and keep the React issuer tracker focused on bug reports and feature requests. For learning about react i'd suggest reading through the documentation, specifically the section on Synthetic events: https://reactjs.org/docs/events.html#overview and if you need more info check out the support section of different avenues: https://reactjs.org/community/support.html

thanks!

[2018-02-01 17:16] #12133 closed

[2018-02-01 18:07] saitonakamura commented on #7142
I've found a solution using two dirty things, one is calling `void element.offsetWidth` to trigger a reflow [from css tricks](https://css-tricks.com/restart-css-animation/#article-header-id-0) and other one is using `findDOMNode`
https://codepen.io/saitonakamura/pen/bLVLoN?editors=0110

[2018-02-01 18:08] gaearon commented on #12132
It's a pretty big change so I think it'll need to be an RFC first: https://github.com/reactjs/rfcs

[2018-02-01 20:34] jamesreggio opened #12136 "Children.only is inconsistent with Children.count"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

[code]

Repro in CodeSandbox here: https://codesandbox.io/s/1vonwo4807

**What is the expected behavior?**

It's excepted that `React.Children.only` return the one and only element of the array (and not throw).

**Which versions of React, and which browser / OS are affected by this issue? Did this wo

[2018-02-01 21:36] aweary commented on #12131
Hey @voodoo-child. This is currently expected behavior. See https://github.com/facebook/react/issues/10863 and https://github.com/facebook/react/issues/11492#issuecomment-342953964 for some context on this decision.

I hope that helps, thanks!

[2018-02-01 21:36] #12131 closed

[2018-02-01 21:42] aweary commented on #12132
As far as rendering goes, those advantages listed aren't really relevant. Whether the `String` objects have properties or can be inherited from doesn't matter to React, since the expected behavior in any case would be to just treat them as string literals.

If you're representing some textual data with `String` instances for some of those listed reasons, I would recommend just coercing them to act

[2018-02-01 23:28] t4deu commented on #11734
Ping @highskillzz, do you still on this issue?

If not, I will take it, ok @gaearon :wink:

[2018-02-02 02:02] treshugart commented on #11347
I've added a [comment](https://github.com/reactjs/rfcs/pull/15/files#r165541797) to the RFC PR for this. I think it's worth discussing as it covers what's being proposed as well as a simpler model for reliably inferring a custom element and its properties. It turns it back into a hybrid approach, but offers a zero-config way of integrating for most use cases.

[2018-02-02 03:49] sphuff opened #12137 "Can modify parent component's state through child component's props"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
It is possible to modify the state of a parent component through child props if the prop is an array or object. This seems to be a byproduct of the fact that javascript passes arrays/objects into functions by reference instead of by value.

**If the current behavior is a bug, please provide the steps t

[2018-02-02 04:50] Farcek opened #12138 "not working context ??"
[code]

why context not workin ?

result :

[code]

[2018-02-02 05:50] highskillzz commented on #11734
Sure

[2018-02-02 07:02] arundhaj commented on #5040
Just for info, it can also be solved as below,

[code]

[2018-02-02 07:05] milesj commented on #12138
A few things:

1) The parent that's defining the context does not have a `this.context`, so that will not work.

2) The child has to be rendered within the parent, *not* the parent being rendered in it. Example:

[code]

[2018-02-02 07:21] Farcek commented on #12138
ok. thx.  it is working

[2018-02-02 07:22] #12138 closed

[2018-02-02 07:22] txiaocao commented on #12120
I write onError in Video Element...but the event.target.error is null???
Why this is so different from the native DOM

[2018-02-02 09:20] meowtec commented on #12137
This is not a bug
`props are immutable` does not means `values of props are immutable`.

[2018-02-02 09:37] meowtec commented on #12136
If the `children` has only one, it would be `ReactElement`, not `ReactElement[]`.

[2018-02-02 10:42] TanninOne commented on #12033
Yes, I know the API would need to be changed, the question is just if it could be changed in a way that stays backwards-compatible with existing code, but obviously I can't say what other unwanted effects possible solutions would have.

I understand why the _existing_ context object can't be used to transport the ReactCurrentOwner but not what the problem is with (optionally) storing it in global.

[2018-02-02 10:50] weskor opened #12139 "Question: call a method of a react component instance"
I'm a bit new to react. If you have any advice or pointers on my current implementation, i'm always open for advice.

**Question**
So i extended the react component class to create a new component.
[code]

To render the component i'm using the following code:
[code]
I'm doing it like this because an element could be on different places on the page. We are currently in a transition of moving all te

[2018-02-02 11:05] timneutkens commented on #11902
@gaearon looks like it's fixed in master, tried building and got this:

[code]

To reproduce the issue on the currently released version:

[code]

So I guess both this one and PR #11966 can be closed 👌

[2018-02-02 11:21] gaearon commented on #12033
The problem with storing it in a global is that two different React apps on a single page (that might not even be written by the same team, e.g. two third-party widgets) will start “stealing” refs from each other because they’d use the same global.

[2018-02-02 11:25] gaearon commented on #12137
Doing a deep clone is very slow and defies any performance optimizations in components below because they can no longer compare values by reference. See “optimizing performance” in docs for details on why this is important.

Ultimately there’s nothing React can do to guarantee you won’t mutate props by accident. You can recursively freeze the objects you’re working with if you’d like stronger guar

[2018-02-02 11:25] #12137 closed

[2018-02-02 11:38] TanninOne commented on #12033
That's one reason it'd have to be optional.

[2018-02-02 11:39] gaearon commented on #12139
You can use refs:

[code]

Technically you can also use the return value of `ReactDOM.render` to get an instance. But it comes with pitfalls. It’s a legacy API, and it assumes rendering is always synchronous. But we’re moving to a model where it’s not. We already have a case where you won’t get a value synchronously: if you start rendering a top-level component while you’re in a lifecycle method o

[2018-02-02 11:39] #12139 closed

[2018-02-02 11:43] gaearon commented on #12033
How does “optional” work in this case? Who decides on the option? If it’s third-party plugins, then they might not know the option exists. If it’s the app, then it might not have access to React instances inside the third-party plugins. Finally, the plugins may be written in a way that only works with the global (just like you asked for in this issue), so even if the app could “opt them out” of us

[2018-02-02 15:24] Merri opened #12140 "Safari 11 errors when using Fragment upon hydrating"
**Do you want to request a *feature* or report a *bug*?**
This is a bug.

**What is the current behavior?**
Safari 11 (both Mac OS X and iOS) throws error 130:

[code]

I have not been able to make a reduced test case but I'm reporting this in hope that someone else also has this issue and is able to figure out what is the root cause.

Currently the best I have figured out is that when in **produc

[2018-02-02 15:29] gaearon commented on #12140
My best guess is you have multiple Reacts in the bundle. One of them is an older version that doesn’t support Fragments.

Having multiple versions of React (or even multiple copies of one React version) is not supported and will lead to weird issues like this.

[2018-02-02 15:31] gaearon commented on #12140
Why is that? Production errors include link that gives you the exact message you would have seen in development.

[2018-02-02 15:57] Merri commented on #12140
You can probably throw that one on simple frustration after dealing with several random seeming issues around Fragments for two work days.

We don't have any React in our main bundle, our current code loads React and some other deps async before booting the main bundle, which does not include React at all. So at least there are no multiple copies of React.

However we now did notice that for whate

[2018-02-02 15:57] #12140 closed

[2018-02-02 16:03] spirosikmd commented on #12136
@meowtec is right. If you modify your CodeSandbox example from `[<div>Didn't throw</div>]` to `<div>Didn't throw</div>` it will work as expected. The inconsistency I see that is confusing, in this case, is that `count` works in both cases. And this is by design. Check the docs for [React.Children.only](https://reactjs.org/docs/react-api.html#reactchildrenonly) for more information.

[2018-02-02 17:16] HeroProtagonist commented on #11902
@gaearon and @timneutkens I just was looking at this last night (after a hiatus) and saw that it was essentially fixed. I updated my PR to match the error in `ReactFiber.js` and put a test for it. In case that is desired.

[2018-02-02 20:35] jamesreggio commented on #12136
Thanks for chiming in.

I'm well aware of how to work around this limitation, but I'm questioning why the limitation exists.

As stated in the [docs for `React.Children`](https://reactjs.org/docs/react-api.html#reactchildren):

We're supposed to treat `children` as opaque because the same element hierarchy can take on several representations.

For example, the following element hierarchies are the

[2018-02-02 20:48] IanVS commented on #10441
@herodrigues were you able to get valid errors in your chrome extension in dev?  I have a chrome extension as well and am seeing the same cross-origin errors.

[2018-02-02 20:57] spirosikmd commented on #12120
Hi @txiaocao! Wouldn't something like the following work?

[code]

The `error` object seems to be available in the `target`, you can try it out https://codesandbox.io/s/4xkz8ypz29

[2018-02-02 22:54] frehner opened #12141 "React16 dev memory leak on render with event listeners"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Using React16 dev, it appears around 8 event listeners are added every time a component is rerendered. They occasionally get garbage collected, but if you're listening to events that happen a lot (scroll, fast typing, etc) it can slow down and kill the tab you're using.

**If the current behavior is

[2018-02-02 23:02] aweary commented on #12141
Hey @frehner, thanks for the report. I wasn't able to reproduce the memory leak using the JSFiddle you provided; running Chrome 64.0.3282.119 in Incognito Mode I see the listener count remain mostly constant

<img width="871" alt="screen shot 2018-02-02 at 3 00 17 pm" src="https://user-images.githubusercontent.com/6886061/35758642-ef3d3604-0829-11e8-918f-bd4a7e8198c1.png">

Did you make sure to ru

[2018-02-02 23:08] frehner commented on #12141
@aweary just tried it in incognito (and made sure that all extensions were disabled in incognito), and I get the same thing. Were you typing very fast into the box when you did the recording?

Chrome v63.0.3239.132
MacOS 10.13.2 (17C205)
Mac 15-inch, 2017

[2018-02-02 23:10] aweary commented on #12141
I was typing as fast as I could for probably 10-20 seconds. Could you try updating to Chrome v64 and reproducing again?

[2018-02-02 23:14] frehner commented on #12141
Updated to 64.0.3282.140, same issue.

Had a coworker try it on his machine and he reproduced it as well.

[2018-02-02 23:19] gaearon commented on #12141
I don't believe it has to do with events. It has to do with *renders*. Because fake events are created every time we call into user code in DEV [here](https://github.com/facebook/react/blob/885a291141330eb74e8a98316e286a9ad093f22c/packages/shared/invokeGuardedCallback.js#L89). I don't know, can we reuse the same instance somehow?

[2018-02-02 23:21] frehner commented on #12141
Ah yeah, renders does appear to be what actually causes it, I was just focusing on how event listeners were being added. I'll update the title to reflect that.

And @aweary I just noticed that your screenshot actually DOES have the listeners being added -- notice the giant cliff on the left side before it appears they get garbage collected or something.

[2018-02-02 23:22] gaearon commented on #12141
To be clear they *are* going to get GC'd. But yes, it would be nice to reduce DEV pressure on GC if we can.

[2018-02-02 23:26] TheMcMurder commented on #12141
I was able to reproduce it on both Chrome 63/64

The below screenshot is chrome 64. I'm seeing multiple event listeners being created.
![screen shot 2018-02-02 at 4 17 35 pm](https://user-images.githubusercontent.com/3059715/35759166-2df71346-0835-11e8-916b-7a3c3a8bf249.png)

@frehner If I understand correctly this is only happening in Dev mode, so this issue won't affect you in production: https:

[2018-02-02 23:30] aweary commented on #12141
@frehner I don't think that's what it's showing in my case, there's no significant climb in listeners/memory (you can see the numbers at the top stay ~mostly constant) but if others can reproduce then 🤷

[2018-02-02 23:31] gaearon commented on #12141
@aweary Are you triggering re-renders?

[2018-02-02 23:33] frehner commented on #12141
Are you zoomed out all the way in the timeline?
![screen shot 2018-02-02 at 4 31 47 pm](https://user-images.githubusercontent.com/3054066/35759402-a4c4708a-0836-11e8-8097-b8e7de288af9.png)
In this picture of the timeline, I'm zoomed in automatically to the last part. But if you scroll in this area, you can zoom in/out and possibly you're just zoomed into that one area?

[2018-02-02 23:40] aweary commented on #12141
@frehner yupp, I'm zoomed all the way out. There's a few jumps in memory usage, but not the steep climb that you're seeing.

@gaearon I'm just smashing keys inside the text input, which is triggering renders. Can you reproduce it too?

[Here's a profile I ran in incognito](https://www.dropbox.com/s/9qbf2olj66cfx18/Profile-20180202T153718?dl=0). Listeners stay between 181-185, and memory only moves

[2018-02-03 06:18] pmidalwan opened #12142 "Upload files in a ftp server location using reactjs"
Hi...

Please let me know if anyone knows how to upload files in ftp server using reactjs.

[2018-02-03 11:10] mikeandersun opened #12143 "Using a react app without rendering a html piece."
I come from Angularjs 1.6.x . What is i need is that using a react app without rendering a html piece like
`ReactDOM.render(**null**, document.querySelector(".container"));`

this is my `.container` that contain some html tags that want to use my react app model and logic in it:

[code]

FYI I can achieve this scenario with `Vuejs`.

My question is can I achieve this scenario with `React` ?

[2018-02-03 14:46] gaearon commented on #12142
Hi! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-02-03 14:46] #12142 closed

[2018-02-03 14:48] gaearon commented on #12143
No. React is not a templating library, and "reviving" templates like this is not supported.

[2018-02-03 14:48] #12143 closed

[2018-02-03 17:17] bvaughn opened #12144 "Change lifecycle deprecation warnings to low-pri"
Any warnings driven off of `warnAboutDeprecatedLifecycles` should use `shared/lowPriorityWarning` rather than `fbjs/lib/warning` to avoid thrashing automated tests.

[2018-02-03 19:28] istarkov opened #12145 "process.CI check looks like a typo"
`if (process.CI)` check looks like a typo, here
https://github.com/facebook/react/blob/master/scripts/tasks/eslint.js#L13

May be I'm wrong but I haven't found what `process.CI` is.
If CI is https://circleci.com/docs/2.0/env-vars/#circleci-environment-variable-descriptions it should be checked as `process.env.CI`

[2018-02-03 20:51] allanlaal commented on #2608
@smithaitufe https://github.com/bvaughn/react-virtualized will recycle rows not in view, when scrolling a massive list - this will lessen DOM size and result in faster UI speeds

[2018-02-03 22:35] gaearon commented on #12145
Seems right. Want to send a fix?

[2018-02-03 22:50] istarkov commented on #12145
Done

[2018-02-04 01:56] #12145 closed

[2018-02-04 02:42] zzxoto commented on #6249
You can supply the "bound" callback method instead so that the javascript does not inefficiently recreate the callback method and call it on every render.

[2018-02-04 03:14] bvaughn opened #12147 "CI broken"
Looks like commit 8a995f7 broke our CI. Not sure why. The release script passed all 4 test variants (dev+prod and bundle dev+prod). At first I was unable to reproduce the broken behavior, but after doing a fresh install (`rm -rf node_modules && yarn install`) I'm able.

I'm not sure yet what is causing this. Perhaps it has something to do with Yarn workspace and prerelease versions?

[2018-02-04 05:13] moe091 commented on #7769
Nobody else has picked up this issue? I'd love to give it a try if not

[2018-02-04 07:46] RichieAHB commented on #7769
I had a look at this but I feel like it would mean a relatively big change and could probably do with a bit of feedback from @gaearon before pushing on.

[2018-02-04 08:07] moe091 commented on #11097
I'm working on [#7769](https://github.com/facebook/react/issues/7769l), will tackle others when done

[2018-02-04 10:31] zGrav commented on #12142
@pmidalwan https://github.com/mscdex/node-ftp ;)

[2018-02-04 13:14] moe091 commented on #7769
Yeah good point, it looks like this would require changing the order in which different effects are applied to elements when they are created/updated, and changing that would obviously have a lot of side-effects.

[2018-02-04 13:52] moe091 commented on #11396
Are you still working on this blacktrident? If not I may give it a go

[2018-02-04 15:11] pmidalwan commented on #12142
Thanks Grave. I tried it but getting below error. Actually I am new to ReactJs. Please check on below :
ERROR in ./App.jsx
Module not found: Error: Can't resolve 'fs' in 'C:\Users\pmidalwan\Desktop\react
app'
 @ ./App.jsx 47:15-28
 @ ./main.js
 @ multi (webpack)-dev-server/client?http://localhost:8080 webpack/hot/dev-serve
r ./main.js

[2018-02-04 15:43] bvaughn commented on #12147
I believe this is because of a dependency mismatch. Packages like `react-dom` specify a dependency on `react` version "^16.0.0" (which the pre-release does not match). For most users, this will just mean an NPM version warning, but it seems that it causes bigger problems for Yarn workspaces.

I'll update the release script to adjust the dependency version range to handle this case. Hopefully that

[2018-02-04 15:51] luc-tuyishime commented on #12119
Great and thanks i solved it

[2018-02-04 16:25] bvaughn commented on #12147
The problem actually seems to be called by `react-noop-renderer` dependency on `react-reconciler` version "*" (which will not include a prerelease version).

[2018-02-04 16:54] #12147 closed

[2018-02-04 18:29] RichieAHB commented on #7769
Exactly, unless I’ve misunderstood something. If you can find another way
I’d be interested to hear!

On Sun, 4 Feb 2018 at 13:16, Portfolio-rails <notifications@github.com>
wrote:

[2018-02-04 18:59] pshrmn opened #12150 "ContextConsumer and ContextProvider in react-test-renderer"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

`invariant()` is called because `react-test-renderer` does not know about the the `ContextConsumer` and `ContextProvider` component types.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if w

[2018-02-04 20:50] jasonmerecki commented on #7142
I had a similar problem, my use case was a stock quote, and I needed to animate a cell to flash the background red or green depending on the direction of the change in the quote price. My solution is all css animation, resulting in only one change to the DOM (or to the component state) to reflect the updated price and apply the right classname for the background animation.

https://codepen.io/jmer

[2018-02-04 22:57] acdlite opened #12152 "Umbrella: 16.3 and 16.4 releases"
## 16.3

- [x] New context API
  - [x] Add context API to test renderer https://github.com/facebook/react/issues/12150
  - [ ] Add context API to shallow renderer (if it even makes sense?)
  - [x] Mark private fields as private https://github.com/facebook/react/issues/12203
  - [x] Context consumer/provider should bailout if props did not change https://github.com/facebook/react/issues/12218
- [x]

[2018-02-05 00:05] pshrmn commented on #12152
Does it make sense to have shallow rendering with the new context API? I see a couple of issues with that.

1. A `<Consumer>` has to be rendered inside of a `<Provider>`. Can this be simulated through options the way that the old context is?
2. Unless I'm mistaken, the `children` function passed to a `<Consumer>` won't actually be called during a shallow render, which means you can't test its outp

[2018-02-05 00:08] gaearon commented on #12152
Yeah, it's not clear to me if this makes sense or not either.

[2018-02-05 00:39] WhoAteDaCake commented on #12152
I am out of the loop, why is componentWillMount bad?

[2018-02-05 00:51] gaearon commented on #12152
Please wait for the blog post. It'll explain everything. :-)

[2018-02-05 01:08] AlicanC commented on #12152
Is it too late to ask for `s/getDerivedStateFromProps/deriveStateFromProps/`?

[2018-02-05 01:15] gaearon commented on #12152
Yeah. 😛 Please follow the RFCs to discuss early: https://github.com/reactjs/rfcs

We also intentionally added `get*` there because this API is rarely needed (so you shouldn't type it often) and it should be obvious you can't `setState` in it.

[2018-02-05 01:16] sw-yx commented on #11593
He's almost done with it afaik. look at his PR

[2018-02-05 05:00] ajhyndman opened #12153 "react-test-renderer: Asynchronous rendering guarantees?"
**Do you want to request a *feature* or report a *bug*?**

I think this is just a question.

As I understand it, React's newer *Fiber* architecture introduces an asynchronous rendering pipeline, which allows for better prioritisation of work.  I'm also aware that in version 16, React is still expected to render synchronously.

Looking forward though, when using `react-test-renderer` (especially th

[2018-02-05 09:03] gaearon commented on #12153
Test renderer is expected to always behave synchronously (similar to ReactDOM in compatibility mode, which is on in React 16). Going forward I also expect this to stay true. We’ll need a reproducing case if something is wrong.

[2018-02-05 10:40] gaearon commented on #12076
I'm going to close as we won't be specifically working on this. But happy to take a PR.

[2018-02-05 10:40] #12076 closed

[2018-02-05 10:43] txiaocao commented on #12120
@spirosikmd
Thank you for your reply, I do this at the moment, but when the video is just loaded, this `event.target.error` is sometimes is null. And this way is different from the original onError.

[2018-02-05 10:59] FredyC opened #12155 "Typescript definition for SFC returning fragment/string"
**Do you want to request a *feature* or report a *bug*?**

Most likely a **bug**

**What is the current behavior?**

https://codesandbox.io/s/r555ro878p

If you open that sandbox and wait for a compiler to catch up, you see that `TextReturningComponent` has an error. It is expecting `ReactElement<any> | null` to be returned.

[code]

**What is the expected behavior?**

Based on the [blog post](htt

[2018-02-05 11:05] FredyC commented on #12155
I've just noticed that returning fragment works just fine (could be a current workaround)

[code]

Looking closely at this, the fragment return type is `JSX.Element` which is declared as `interface Element extends React.ReactElement<any> { }` and that's correct. However, a string is just a string.

[2018-02-05 11:22] TrySound commented on #12155
@FredyC Ask https://github.com/DefinitelyTyped/DefinitelyTyped. This repo is not responsible for typescript definitions.

[2018-02-05 11:30] FredyC commented on #12155
I see. I thought there is some kind of approval for React typings coming from here. Nevermind then.

[2018-02-05 11:30] #12155 closed

[2018-02-05 12:53] kvolkovich-sc commented on #12152
Guys, these breaking changes are looks like a waste of thousands man/hours for big projects.

Which real benefits of these changes? I hope you know what you're doing.

[2018-02-05 12:57] gaearon commented on #12152
There are no breaking changes here. React has always respected semver, and never introduced breaking API changes in minor versions. What are you referring to?

[2018-02-05 13:06] gaearon commented on #12155
A functional component can return:

* a string
* a number
* a React element
* an array
* null

[2018-02-05 13:07] gaearon commented on #12155
Returning a boolean (at least false) probably also works but that’s useless.

[2018-02-05 13:13] TrySound commented on #12155
@gaearon Useful for conditional rendering. I don't like ternaries with jsx.
[code]

[2018-02-05 13:27] kvolkovich-sc commented on #12152
@gaearon, we are waiting for a blog post that will "explain everything. :-)" and reassure us. 😌

[2018-02-05 13:27] blling commented on #12152
@kvolkovich-sc
There must be sacrifices for progress

[2018-02-05 13:36] gaearon commented on #12152
@kvolkovich-sc The blog post comes out together with the release. You can see the checklist for things to do before the release right above in this thread. I don't see the sense in adding to the pressure here.

[2018-02-05 13:36] gaearon commented on #12152
Locking this so we can focus on getting the release out together with the blog post.

[2018-02-05 13:39] gaearon commented on #12155
Yes, but I'm referring to the return value of the function. I don't think this is very useful at the root level because you can always `return null`.

[2018-02-05 13:44] FredyC commented on #12155
@gaearon Thanks for the confirmation.

PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/23422 (in case someone wants to chime in).

[2018-02-05 13:47] gaearon commented on #12155
Also, note that there are currently no differences between what an SFC can return, and what a class component can return in `render`. They have full feature parity.

[2018-02-05 15:11] jquense commented on #12152
We should include the Enzyme folks in the shallow context discussion, since that will almost certainly  affect the public API of `shallow`, I'm not sure if it can be worked around without support in the renderer tho.

[2018-02-05 15:11] sw-yx commented on #11893
hmm. isn't this as simple as just including `this.props` when you send to your bug tracker?

[2018-02-05 15:16] sw-yx commented on #11409
is this still active? I would be interested in using this functionality.

[2018-02-05 15:17] gaearon commented on #12152
Makes sense. Want to reach out to them?

[2018-02-05 15:59] aweary commented on #12152
Enzyme currently provides an API for setting legacy context when shallow rendering. Its reasonable to add a way to mock the `Provider` as well. I might expect the shallow renderer to act as if the `Consumer` components didn't exist. So the tree would render at the same depth it would render if there were no context providers, since there's no real reason to assert on `Consumer`s directly

[2018-02-05 17:09] #11902 closed

[2018-02-05 18:17] fbartho commented on #11098
This is also interesting for react-native customers, and I'm not sure if `event.preventDefault` / `invokeGuardedCallbackDev` apply in that situation.

[2018-02-05 18:21] sebmarkbage commented on #11896
Reasons to stop syncing: https://www.reddit.com/r/analytics/comments/7ukw4n/mixpanel_js_library_has_been_harvesting_passwords/

[2018-02-05 18:51] moe091 commented on #11396
What is the exact intended functionality for this fix?

going off of kentcdodds example in his original post, the <Working> function returns an array of two children, a string("this is not working") and a div, with that div having a function(renderableFunction) as a child.

Should the <NotWorking> function return a single div, which has two children - a string "This works:" and the renderableFunct

[2018-02-05 19:30] nhunzaker commented on #11896
Oof. Should we send out a minor release that removes syncing of password inputs?

[2018-02-05 19:36] RyanMitchellWilson opened #12157 "Getting started docs are terrible"
I just came back to react after about a year or so of not using it and now the getting started docs are pretty much not helpful in the slightest. All the docs are now is just links to other websites without any instructions on how to get a react project running. I remember a year ago back in react 15 the docs had a step by step walkthrough for how to set up and get a project running from scratch a

[2018-02-05 19:38] aweary commented on #11896
This is something that's been brought up before as a concern, and it's a good argument in favor of removing attribute syncing (added to the list).

It's potentially dangerous behavior, but I believe it's still expected behavior regardless. I'm not sure it's worth releasing a breaking change in a minor release. If anything, it's a good incentive to upgrade to the next major release that removes att

[2018-02-05 20:06] marionebl commented on #9242
Is there interest in a fix based on the suggestions by @nilshartmann? I'd be happy to contribute the required changes and new tests if required.

[2018-02-05 20:09] milesj commented on #12157
It's primarily because they want you to adopt [create-react-app](https://github.com/facebook/create-react-app) (you shouldn't need to do all the grunt work yourself). That being said, there's also this doc: https://reactjs.org/docs/add-react-to-an-existing-app.html

[2018-02-05 20:23] bvaughn opened #12158 "Add string-ref warning to strict mode subtrees"

[2018-02-05 20:36] gaearon commented on #12157
Here is a page with three commands that are enough to set up your app:
https://reactjs.org/docs/add-react-to-a-new-app.html

What specifically is it lacking?

[2018-02-05 21:05] RyanMitchellWilson commented on #12157
I tried that method, but there were no babel files included nothing in the package.json, no config files, but when I look in the node_modules after it installed there was a ton of stuff in there that wasn't in the package.json. I don't know what that create-react-app thing does but it did not set up the project as expected. If something is in the node_modules in needs to be inside the package.json

[2018-02-05 21:12] jquense commented on #12157
It seems like getting started with React is less of the problem for you than getting started with the JS/node ecosystem, and npm. I appreciate that that's complex and not intuitive but it's also hard to know where to draw a line for a library like React. Should the react docs include instructions for using each tool in the PL stack as well? That's definately helpful for folks in your situation how

[2018-02-05 21:13] jquense commented on #12157
(i'm not trying to fight about it, just talking about hte various conflicting and cross cutting challenges that face documentation for something like REact)

[2018-02-05 21:13] gaearon commented on #12157
The way npm works, it installs both direct dependencies and transitive dependencies.

Your project depends on `react`, `react-dom`, `react-scripts`. The `react-scripts` package depends on Babel, webpack, etc. That’s where the modules are coming from.

You can run `npm ls` in the created project to see the logical dependency tree. This will tell you how it is organized.

You can also run `npm run e

[2018-02-05 21:18] gaearon commented on #12157
It would be really helpful if you could post a screenshot of your terminal at the point where you got stuck right after creating the project. Maybe something is broken, and we talk past each other because we don’t see the same things on the screen. Thank you!

[2018-02-05 21:22] gaearon commented on #12157
Isn’t this exactly pretty much this section provides?

https://reactjs.org/docs/try-react.html#minimal-html-template

Would you change something about it?

[2018-02-05 21:39] #12144 closed

[2018-02-05 21:44] RyanMitchellWilson commented on #12157
I'm fairly familiar with js/node and npm, I've been working with React-Native for over a year now. Compare the getting started docs between react and react-native right now, react native is exactly the kind of instructions I'm talking about. https://facebook.github.io/react-native/docs/getting-started.html Go to this page and select `Building Project with Native Code`, it is literally one page tha

[2018-02-05 21:58] gaearon commented on #12157
I am referring to the section that offers you to download an HTML file. Is that helpful? This would get you running in a second. It’s not a production-ready setup but it gives you a quick start with Babel and no extra tooling.

I understand you’re asking about a full guide. The one we had actually was woefully incomplete (for example the crucial difference between development and production versio

[2018-02-05 21:58] #12157 closed

[2018-02-05 22:09] RyanMitchellWilson commented on #12157
Ok I get that you want to help people who don't want to deal with a bunch of steps to set it up but isn't that what the whole create-react-app thing does? Shouldn't the other way be explained in more depth for the people who still do want to use the step by step version? How hard would it to add under the babel and webpack sections just a quick few line explanation on how to install it? Like under

[2018-02-05 22:38] cramaechi commented on #11596
Hi Everyone,

I am a new contributor to React. I would be more than happy to handle this issue!

I have already submitted the CLA.

[2018-02-05 22:51] doronbrikman opened #12160 "react16 unstable_renderSubtreeIntoContainer execution order"
**What is the current behavior?**
From react16 `unstable_renderSubtreeIntoContainer` execution order has been changed.

I know it's an old API and `createPortal` has replaced it and I'm starting to switch to it in my codebase. But I'm still depends on some libraries that use the old API.

So, just for the matter of knowing what has change:
https://codesandbox.io/s/6yx2p61nzz

I wrote in the link t

[2018-02-05 22:58] gaearon commented on #12157
I understand, that’s valuable feedback. I’m happy to review a PR to the docs that does that. If nobody else does it, I’ll probably look into myself after webpack 4 is out because it makes many of these steps more straightforward. Another thing to consider is that people who want to configure everything manually often have wildly different setups (e.g. different backends, different development setu

[2018-02-05 23:00] gaearon commented on #12157
Again, you *can* do that with a single command. I understand you’re looking for something different, and I see where your frustration is coming from. I hope we can address this in the future. But I don’t think it’s entirely fair to say you can’t get a project running without leaving the website. In fact, I see many more people able to get projects running than from the old instructions. Of course

[2018-02-05 23:02] gaearon commented on #12160
Indeed, this is intentional. I know it is frustrating if you depend on that specific API but doing this has allowed us to solve many nasty issues that the old API used to suffer from. My recommendation is to switch to portals.

[2018-02-05 23:02] #12160 closed

[2018-02-05 23:22] strayiker commented on #11973
Maybe it will be less attractive for use, because it's another dependency? In this case, it's not so obvious what will be preferable for use. That makes sense?

[2018-02-05 23:36] ajhyndman commented on #12153
Thanks for the quick response!

Now that I'm confident in the intended behaviour, I'll close this until I can reproduce more reliably.

[2018-02-05 23:36] #12153 closed

[2018-02-06 03:48] richardzcode commented on #12136
@jamesreggio sounds reasonable to me. Either `React.Children.only` takes array, or `Fragment` not return array in this case. Either way solves confusion I think.

[2018-02-06 05:32] TrySound commented on #11973
@strayiker use [rfc](https://github.com/reactjs/rfcs/pull/17) for comments

[2018-02-06 08:12] saitonakamura commented on #7142
@jasonmerecki there is a problem with your code. Because if we want to show the animation again, for example in case of two consecutive raises, it won't work

[2018-02-06 14:10] trueadm commented on #11973
As mentioned, please use the [RFC](https://github.com/reactjs/rfcs/pull/17) discussion thread instead of this issue.

[2018-02-06 14:12] dalhorinek commented on #11409
As there is a need usually to bind handler to this, we have this function that handles the problem with ErrorBoundaries in handlers

[code]

and inside a component we have this

[code]

I'm not the author of this solution, I found it here https://jaketrent.com/post/react-error-boundaries-event-handlers/ and also the throw in setState is mentioned in a comment there.

[2018-02-06 14:21] TanninOne commented on #12033
It would have to be the main application obviously. And the implementation shouldn't be too hard, the application creates some storage space in global for react, if that space is there, react uses it, if not, it uses its module variable.
I don't see how this has something to do with third-party plugins, for the time being I'm concerned with reacts own use of a module global that I can't prevent.

[2018-02-06 15:19] gaearon commented on #12033
There isn’t always just one “main application” on the page.

A website may use React but also use widgets from third-party websites it has no control over (for example, theoretically, Twitter and Facebook).

If those widgets embed React in them today, they don’t “collide” between themselves because they don’t write and read from shared globals. With your proposal, collisions would be possible and,

[2018-02-06 15:43] #12158 closed

[2018-02-06 17:06] justduy opened #12165 "Why can't we use both prevstate (function) + callback as parameters in setState()?"

[2018-02-06 18:11] cramaechi commented on #11596
I have opened a pull request.

[2018-02-06 18:22] aradnom commented on #7093
Ran into this with Optimizely rewriting a headline element on a specific page at a very bad time.  Imagine you could potentially run into this with any similar services that are rewriting content on the page after load.

[2018-02-06 19:56] mitarth commented on #9681
There is a different project/module for react present inside the main express application. I am saying this because there is a different package.json present in this. We can call it a react client. In this react client we make change in the configuration i.e. package.json to configure it to use a proxy so that it can render the express APIs on the same server since express and react are running on

[2018-02-06 20:03] wmertens commented on #1739
Using `@graphql` from Apollo makes data loading super simple, and the React-Router v4 component-based API makes for simple composable routing. Both are orthogonal to application state in Redux.

In order to do single-pass streaming rendering which waits for data fetches, it should be possible for `render()` to return a promise (on the client you just do as now, only on the server you return a prom

[2018-02-06 21:01] aweary commented on #12165
@justduy can you please explain what your asking and why?

[2018-02-06 21:40] jasonmerecki commented on #7142
aha! Thanks @saitonakamura. I actually need to fix that for my own needs too.

I'm not happy with my solution but at least it's working. Basically I duplicate all of the css and then flip out like "flashRed1" and "flashRed2". Since they are different classes, then the browser will apply the new class and the new animation.

https://gist.github.com/jasonmerecki/984b5d132077e7a370567c130c1922d9
http

[2018-02-07 00:44] gaearon commented on #12165
You can use both arguments.

[2018-02-07 00:44] #12165 closed

[2018-02-07 02:15] shanimal opened #12169 "Prop to pass data to event handlers"
This is a feature request

My suggestion is to add a known prop that gets passed through to all handlers as the second parameter. This would eliminate the need for closures, inline binding, inline arrow functions, proxyEvent.target.dataset, etc.
[code]

Currently if we need to pass `data` through an event handler there are several ways...

Create a class method that returns a closure:
[code]

use

[2018-02-07 05:17] davidjb commented on #10474
I'm writing a set of components and part of this are common `ErrorBoundary` objects that I'd like to render to visually demonstrate what happens how an error is handled.  At present, I see the same behaviour as @awreese in that demo exceptions are caught, the fallback is getting rendered but the re-thrown exception covers up the app.

This lead to my initial impression that I _wasn't_ catching the

[2018-02-07 08:17] gaearon opened #12171 "Remove use of Proxy for events in development"
I think maybe we should revert https://github.com/facebook/react/pull/5947.

People already think `proxyEvent` is some kind of an API: https://github.com/facebook/react/issues/12169.

It's also annoying to view in the debugger because none of the properties show up.

Instead, we could seal the event object or something like that.

[2018-02-07 08:54] spirosikmd commented on #12120
Hi @txiaocao! Thank you for the info. Can you maybe create a reproducible example, e.g. in [codesandbox](https://codesandbox.io)? An example that throws an error after the video is loaded? That would help a lot!

[2018-02-07 09:40] saenglert opened #12172 "onChange behaviour on radio buttons in 15.6.2"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
When assigning the onChange listener on a radio button group (or its form) the event only fires once per radio button

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code a

[2018-02-07 09:59] jevakallio commented on #11940
Thank you! You have improved my life and the lives of everyone on my team.

[2018-02-07 12:09] nickbar86 opened #12174 "<input> Form causes React to crash"
File a new Bug.
When adding an input form element in a Component, React crashes. This is caused in Mozilla Firefox Browsers version: 20.0.1 for React version:16.0.0 and higher.
[code]

[2018-02-07 12:53] callumlocke opened #12175 "Flow cannot find react-dom's hydrate function"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Flow can't find react-dom's `hydrate` function.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to yo

[2018-02-07 13:30] gaearon commented on #12175
Flow contains built-in React typings so it should be fixed there.

[2018-02-07 13:30] #12175 closed

[2018-02-07 17:20] webketje opened #12176 "Is there a way to directly use a function like `camelCasedStyleProps => cssString` from React?"
#### Case (nb: somewhat related to #11706)
I'm tasked with integrating a WYSIWYG which uses an `<iframe>` which is ofc. React-agnostic. We want to use the same `theme` object in the iframe as we use for style props on the website for consistency. The properties in the theme object are, as per React convention, camelcased (e.g. paddingTop). However the CSS that needs to be put in this iframe needs

[2018-02-07 17:28] jquense commented on #12176
No there isn't anyway to access this, sicne it's an internal API, there are plenty libraries on npm tho that you can grab to handle this which aren't particularlly big on size. personally I use https://github.com/react-bootstrap/dom-helpers

[2018-02-07 17:28] #12176 closed

[2018-02-07 18:16] webketje commented on #12176
@jquense thx for the pointer!

[2018-02-07 18:30] aweary commented on #12174
Firefox 20.0.1 was released almost 5 years ago, is there a specific reason you're running such an old version? The [caniuse usage statistics](https://caniuse.com/usage-table) puts 20.0.1 at approximately 0% of total usage, which means there's no significant group of people still using that version.

Can you please try to update to a newer version and try again? It's possible there's a bug or incom

[2018-02-07 18:47] rhagigi opened #12177 "Removing a ref callback works differently on HostComponents vs ClassComponents"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If you remove the ref from a mounted HostComponent on an update, it calls the original ref with null. If you remove the ref from a mounted ClassComponent on an update, it does *not* call the original ref with null.

https://codesandbox.io/s/q8k7776pz9 Note that it doesn't call ref1 (passed to FooInne

[2018-02-07 19:55] necolas commented on #1881
I've bumped into this problem too. React Native for Web currently relies on `!important` for certain flex styles due to browser inconsistencies in how browsers treat `flex:n`. Applying `!important` is fine when transforming styles to CSS via `StyleSheet.create`, but breaks when using inline styles due to this limitation in React DOM.

A possible fix would be to change [`setValueForStyles`](https:/

[2018-02-07 20:13] #12177 closed

[2018-02-07 22:12] vsiao commented on #11538
`Failed to execute 'removeChild' on 'Node'` can be caused by various chrome extensions that replace text on a page. For example, one of our users reported that the "[3CX Click to Call](https://chrome.google.com/webstore/detail/3cx-click-to-call/ingddacbmngapennhhfhnpjnaklakach)" extension was also causing this crash.

@gaearon can you provide any guidance about if and when React could be patched t

[2018-02-07 22:17] #12174 closed

[2018-02-07 22:45] kschmidtdev commented on #10064
@aweary according to https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html#changes-in-detail there isn't support for custom DOM elements (amp-carousel) with custom attributes (slide). I've tried the `createElement` call in react server-side rendering with no success. Can you confirm?

[2018-02-07 23:10] aweary commented on #10064
hey @kschmidtdev, you are correct. The server renderer still [restricts attributes using `isAttributeNameSafe`](https://github.com/facebook/react/blob/4c3470eef832d64e03d18c19a70f2501f9becbfd/packages/react-dom/src/server/DOMMarkupOperations.js#L79). I don't remember why I thought this had changed in React 16, but neither https://github.com/facebook/react/pull/7311 nor it's successor https://githu

[2018-02-07 23:33] SavePointSam commented on #3907
It's actually on the event. Not the target. The following follows the correct pattern to descern the difference between a click event and a return event on a button.

[code]

[2018-02-08 02:42] iam-strings opened #12180 "Request for Filipino Translation"
Hi,

I would like to contribute on this project thru translation. I would like to translate the necessary files to Filipino.

Hoping for your response.

Thanks..

[2018-02-08 02:55] txiaocao commented on #12120
The problem is not reappearing. It may be the problem of my code.

[2018-02-08 02:58] aweary commented on #12180
Hey @iam-strings, it looks like someone else opened a similar issue in the website's repo (https://github.com/reactjs/reactjs.org/issues/597), which is the right place for this. Please see [my comment in that issue](https://github.com/reactjs/reactjs.org/issues/597#issuecomment-363986953). Thanks!

[2018-02-08 02:58] #12180 closed

[2018-02-08 04:10] koba04 commented on #12171
`Object.seal` can seal the event object but in a non strict environment, adding extra properties doesn't warn anything, just ignoring it.
It makes debugging so hard.

(In strict mode, we can get an error something like this.)

It's a trade off :)

[2018-02-08 06:34] vgeyi opened #12182 "unexpected ContextConsumer or ContextProvider behavior"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When use two or more contexts that created by `createContext`,in the child-tree of cxt2.Provider,i use cxt1.Provider to set a new context of cxt1,i expect only the child consumer got the new cxt1,but the result is that the cxt2.Provider's next sibling's child-tree got an unexpected cxt2.Provider's new

[2018-02-08 07:00] nickbar86 commented on #12174
We are a maritime company that manages a fleet of hundreds of vessels. That means upgrading is not an option. Furthermore a lot of legacy applications run on board, thus we need to be compatible all the time. This is the primary reason we chose React as development framework.

[2018-02-08 08:21] sangle7 commented on #12172
same, finding this bug is related to react-dom. Since the git repository was removed, how to contribute to react-dom ( v15.6.2 ) ?

[2018-02-08 09:22] iOiurson opened #12183 "Ref callbacks are not called at componentDidUpdate"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

[Refs documentation](https://reactjs.org/docs/refs-and-the-dom.html) states:

However, it seems that no ref callback is called at all when update occurs.

Closest things similar are https://github.com/facebook/react/issues/12034, https://github.com/facebook/react/issues/9328, https://github.com/faceb

[2018-02-08 09:36] wzup opened #12184 "to access refs, we recommend the callback pattern instead... How?"
What do you mean by that? Here https://reactjs.org/docs/refs-and-the-dom.html#legacy-api-string-refs

What callback pattern do you mean? How do you mean to use it with refs?

[2018-02-08 09:49] hrachmkr commented on #12184
instead of ref = "someRef" use ref = {ref => (this.someRef = ref)

[2018-02-08 09:58] TrySound commented on #12183
@iOiurson It's not called every time before didUpdate. You already got element, you don't need it to be assigned again. Docs mean different lifetime between component and ref on its child. For example if you will add or remove component with ref prop from react dom after didMount or before willUnmount then ref callback will be called before didUpdate

[2018-02-08 10:00] wzup commented on #12184
I do so. But the issue is that it is not saved in `this.refs`. The value is saved in `this.{value}`
Is this correct behavior?

If I do so:
[code]
I get:
[code]
but
[code]

[2018-02-08 10:09] TrySound commented on #12184
@wzup You explicitly set `this.node`, why do you expect anything is `this.refs`? `this.refs` is string refs only behavior. Don't rely on it. Use callbacks. Also there will be new ref api soon.

[2018-02-08 12:38] thysultan opened #12185 "Update shouldComponentUpdate docs with advice about closures"
**Do you want to request a *feature* or report a *bug*?**

Possible bug depending on my understanding of the new context feature.

**What is the current behavior?**

The presence of an `<Indirection>` component with `shouldComponentUpdate:false` is blocking updates to context consumers below it after the first click of "Toggle Top Data": [https://codesandbox.io/s/v87rp187r7](https://codesandbox.io

[2018-02-08 13:14] gaearon commented on #12184
The one described everywhere else on this page.

Yes because this is where you set it. The point of callback refs is that *they are completely in your control*. They don’t magically appear on some React-controlled field.

Hope this helps!

[2018-02-08 13:14] #12184 closed

[2018-02-08 13:18] #12183 closed

[2018-02-08 13:19] gaearon commented on #12183
Maybe we should change docs to say “Refs are guaranteed to be up-to-date before componentDidMount or componentDidUpdate fires.” Feel free to send a PR.

[2018-02-08 13:21] TrySound commented on #12185
@thysultan That's the case of `shouldComponentUpdate`. React just don't react on changing props. The case of new context api is not relating to shouldComponentUpdate of component which renders consumer itself like here
[code]

[2018-02-08 13:41] luisaccedo commented on #12074
thank you very much!

[2018-02-08 13:43] TrySound commented on #12185
@thysultan It's not a bug. Indirection component is not rendered when any prop is changed. Consider `children` as any prop.

[2018-02-08 13:48] gaearon commented on #12171
I think it's safe to assume most React users run in strict mode by now.

[2018-02-08 13:51] gaearon commented on #12182
Can you create a minimal test case that fails, similar to the ones we have in `ReactNewContext-test.internal.js`?

[2018-02-08 13:53] thysultan commented on #12185
I'm not sure i understand you, `<Indirection>` is updated when you click "Toggle Top Data" the first time but stops updating on future events. The test details that the new context API should be able to propagate updates through any* number of nested components that could have otherwise prevented the update with `shouldComponentUpdate:false` in the alternate/older context API.