[2019-01-04 15:21] JNaeemGitonga commented on #14484
@ctur can tell you didn't read the question.

[2019-01-04 16:00] Flaneder opened #14530 "v16.6.0 or higher Context API not working when child is used in component that provides the context"
I'm using the new context API of react (v16.6.0 or higher) by declaring the `public static contextType` inside the component that consumes the context.
This is working fine as long as the component that declares the `Provider` does not directly use a component that consumes the context in it's `render()` method.

**Example:**

**ParentWithContext**

This is the component that creates and provides

[2019-01-04 17:48] malerba118 commented on #14526
Would love to see a sentence or two to back these downvotes

[2019-01-04 18:59] TrySound commented on #14526
This way does not let to compose a few hooks into one and suffers from names isolation. The big point of hooks is reusability.
https://github.com/reactjs/rfcs/pull/68

[2019-01-04 19:09] malerba118 commented on #14526
Literally just showed hook composition with the WindowResizeHook...

[2019-01-04 19:15] TrySound commented on #14526
Ah, I see. Well this way will make static optimisation harder. Simply minifier is not able to mangle object fields. And I don't think performance will be significantly improved with this.

[2019-01-04 19:16] TrySound commented on #14526
Again classes are harder to process with compiler. This is one of the point of hooks.

[2019-01-04 19:16] emanol commented on #14529
From the React team's perspective, I'd argue that class components are considered more of a barrier to React's adoption than functional components because class components tend to be messier than functional components and require an understanding of how `this` works in javascript.

Hooks are explicitly designed to work **only** inside of functional components (or inside of other hooks). If class c

[2019-01-04 19:47] malerba118 commented on #14526
@TrySound Thanks for the explanation, i was not aware of this motivation for hooks

[2019-01-04 19:54] dotku commented on #12097
I think we should deprecated React.Fragment maybe, since it might be slow (by smart detecting parent and child and render the proper tags).

btw, it doesn't support

<thead><tr>

eg.

[code]

would rendered as

[code]

[2019-01-04 20:53] VincentLanglet commented on #14529
As OO developers, we are, in our team, more familiar with class component than functional component. When we started our project we found [this article](https://medium.freecodecamp.org/7-reasons-to-outlaw-reacts-functional-components-ff5b5ae09b7c) and followed the advice.
But I'll re-discuss this with the team with your explanation.

[2019-01-05 00:37] Malldoror commented on #14523
You want to write your onChange listeners like this when you're passing an event
`onChange={e => this.handleChange(e)}`
Try it now :)
https://codesandbox.io/s/pjz09n6kr7

[2019-01-05 00:39] Malldoror commented on #14523
What @heyimalex  said and also you want to write your onChange listeners like this when you're passing an event
onChange={e => this.handleChange(e)}
Try it now :)
https://codesandbox.io/s/pjz09n6kr7

[2019-01-05 00:55] 1attice opened #14531 "Per-component runtime feature flags (re: 16.7.0 and hooks)"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

When I did `npm-check-updates -u` I got randomly kicked to react 16.7.0 from 16.7.0-alpha.2. Hooks stopped working.

The release notes mention that these features are behind a feature flag, but did not demonstrate how to set this flag, or link to a demonstration, indicating how this feature flag

[2019-01-05 05:30] joshi-mehul commented on #14491
@LIUeng close the issue, please.

[2019-01-05 06:05] #14491 closed

[2019-01-05 06:10] 1013arleen commented on #14515
C is loose slack...guess not.;)

[2019-01-05 06:52] aweary commented on #14515
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2019-01-05 06:52] #14515 closed

[2019-01-05 07:16] aweary commented on #14531
Hooks are still going to be published in a stable release at some point. The fact that 16.7.0 was published without Hooks does not imply that the React team is changing course at all. Please see [this blog post](https://reactjs.org/blog/2018/12/19/react-v-16-7.html) for details on this release and why this was released with Hooks.

If you'd like to keep using Hooks, please continue doing so! You j

[2019-01-05 07:16] #14531 closed

[2019-01-05 07:33] aweary commented on #14519
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2019-01-05 07:33] #14519 closed

[2019-01-05 07:35] aweary commented on #14520
We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2019-01-05 07:35] #14520 closed

[2019-01-05 07:36] aweary commented on #14518
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2019-01-05 07:36] #14518 closed

[2019-01-05 08:35] rabbitooops opened #14532 "Suggestion: Support consuming multiple Contexts in Class.contextType"
[code]

[2019-01-05 08:44] rabbitooops commented on #14532
One more thing.
[code]

[2019-01-05 08:46] emanol commented on #14529
I think your position is built off of a bad assumption. A hook should never have to be rewritten as a class component. The React team has already figured out how to support most class features with hooks and is closing in on the remaining few items. Even if that wasn't the case, you could always nest a class component inside of a functional component to leverage class features. For example,

[code

[2019-01-05 08:56] mofengfs opened #14533 "serve -s how to specify the port number"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2019-01-05 09:03] rabbitooops commented on #14110
[code]

[2019-01-05 09:26] rabbitooops opened #14534 "Suggestion: useProvider for replacing context.Provider"
[code]
is equivalent to
[code]

[2019-01-05 09:38] TrySound commented on #14533
@mofengfs Wrong project.

[2019-01-05 09:56] nvlled commented on #13108
If the component needs to be initially hidden, the css rule `visibility: hidden` can be used instead, so that the components get computed even if it's not visible.

[2019-01-05 12:09] lubber-de commented on #1881
We managed to remove lots of !important from the SUI components in V2.7.x recently :slightly_smiling_face:
https://fomantic-ui.com/introduction/new.html

[2019-01-05 15:43] EdmundsEcho commented on #14484
FYI - using `16.7.0-alpha.2` _should_ work as an entry into the `package.json`.  However, in my experience, only when I changed the entry to `next` (per the advice above), did the error go away.

Note, I also deleted my `yarn.lock` and `node_modules` for good measure.

[2019-01-05 19:05] malerba118 commented on #14526
Closing this as it’s clearly a bust. Hooks are powerful no doubt, but the interface is awkward at best.

[2019-01-05 19:05] #14526 closed

[2019-01-05 21:56] subhero24 opened #14535 "Concurrent mode iOS hover behaviour"
I hope this is the place to submit issues regarding concurrent mode.
I don't know if this is a bug or intended behaviour, but I have a situation where the my react app behaves differently depending on the use of concurrent mode.

Here is a link to a codesandbox demo: https://codesandbox.io/s/5xl0vnx11p

The behaviour on mobile Safari on iOS (12.1.2) is different whether using ReactDOM.render vs Re

[2019-01-05 22:14] oliviertassinari opened #14536 "React.Suspense provide a lifecycle so components can handle the `display:none` removal"
**Do you want to request a *feature* or report a *bug*?**

It's a feature.

**What is the current behavior?**

React.Suspense mounts its children with a `display: none` style if a promise is thrown. Once the thrown promise is resolved, React removes the `display: none` style.

**What is the expected behavior?**

The children components have no easy way to know when the `display: none` style is rem

[2019-01-05 22:33] jonnyasmar commented on #14099
@Bazzer588 Are you using React.memo on your functional component? What do your attempts using hooks/functional look like? Your problem may or may not be related to this issue; it's hard to tell without seeing your code.

[2019-01-05 23:16] cchamberlain commented on #14481
Yep, can confirm that this breaks existing dependencies on hooks due to semver range taking the non alpha. Doing a `yarn add react@next` (without `-E`) adds `^16.7.0-alpha.2` to dependencies, which ends up resolving to `16.7.0` now. Simply publishing the same exact thing that's in `16.7.0-alpha.2` under a `16.8.0-alpha.0` version would save a lot of headaches. Could follow up with a patch for the

[2019-01-06 02:43] jchook commented on #11488
Browser extensions expect to be able to influence form values.

[2019-01-06 07:48] yousefelgoharyx opened #14537 "Suggestion: make version of react only with hooks to reduce bundle size"
I think that should be a version of react without component stuff to reduce bundle size and another version with component and hooks
Is that would make a big effect of the bundle size or they are just some KBs ?

[2019-01-06 10:08] Flaneder commented on #14530
That's something I would've never thought of..

[2019-01-06 10:08] #14530 closed

[2019-01-06 16:28] davegomez opened #14538 "Test reference inside useEffect using react-test-renderer"
I'm trying to render a component with react-test-renderer that is trying to get the `parentElement.offsetWidth` inside the `useEffect` hook.

The ref is attached to a SVG element and is trying to get the width of the parent node, that's why I need to use the reference to get the element after render.

The code is something like this:

[code]

When I run the test I'm getting an error message saying

[2019-01-06 17:16] aweary commented on #14533
If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2019-01-06 17:16] #14533 closed

[2019-01-06 19:04] Bazzer588 commented on #14099
Here's the full code - just drop a `<TestForm/>` or a `<HookTestForm/>` somewhere on a page

Using a React.Component, only the field being editted does a full render

[code]

Using Hooks, all the child elements are re-rendered every time - presumably as onChangeField changes every time the state data changes. Is there some way I can implement onChangeField so it behaves like the above example?

[c

[2019-01-06 19:59] lflpowell commented on #14480
I thought hooks weren't meant to be called inside loops like this?

[2019-01-06 20:03] muqg commented on #14099
@Bazzer588 I think its due to the object value kept in state under the variable name of `data`. I don't know why but objects in state always invalidate memoization and  thus your callback `onChangeField` is a new on on each render thus breaking the memoization of the components you're passing it to.

I've had a similar issue like you and noticed this as being its cause. I have no idea why the obje

[2019-01-06 20:16] Bazzer588 commented on #14099
Yes my problem is that the in first example (using React.Component) I can create a _onChangeField_ callback which is bound to _this_, and never changes during renders

Using the new hook methods I can't seem to replicate the way the existing functionality works,

On the project I'm working on we often do this to have a hierachy of components and state:

[code]
So it passes props down the tree (ie

[2019-01-06 20:35] jonnyasmar commented on #14099
@Bazzer588 The data var your passing to the second parameter of useCallback is going to invalidate every time. useCallback doesn't do a deep comparison. You need to pass in a flat array for it to properly memoize.

[2019-01-06 20:56] Bazzer588 commented on #14099
Yes I've tried similar with _useReducer_ and passing _dispatch_ down to the child components - this does seem to work as you get the same _dispatch_ method so it doesn't force a re-render

If there's no way to make callback functions work as they did before I guess that's the way we'll have to go

[2019-01-06 21:16] sebmarkbage commented on #14099
@Bazzer588 The general recommendation is to `useReducer`.

That said, your particular example can be solved like this but it is pretty unusual to not depend on any props so this doesn't always work:

[code]

[2019-01-06 21:39] Bazzer588 commented on #14099
Thanks @sebmarkbage - didn't realise you could pass a function to changeData
(As in `const [data, changeData] = useState({});` )
However now I'm worried - in what case would this _doesn't always work_ ?

[2019-01-06 23:39] mattfysh opened #14539 "reactTestInstance.toJSON() serializer"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

`ReactTestInstance` objects cannot currently be serialized to JSON, which prevents them from being used with Jest's `toMatchSnapshot` when wanting to capture a partial tree snapshot

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pr

[2019-01-07 01:39] mattfysh commented on #14539
For more context, this helps us to create smaller, more targeted VS avoid large, unwieldy and difficult to maintain snapshots. Some relevant thoughts from @kentcdodds https://blog.kentcdodds.com/effective-snapshot-testing-e0d1a2c28eca

[2019-01-07 02:37] ignatiusreza commented on #14110
@sebmarkbage this might be what you've hinted in with being a "naive" solution.. but, just to put it on the table..

we already have a solution for rendering into multiple physical dom roots while still keeping a single virtual root using portal.. so, I wonder if the multiple roots problem can be solved by react automatically render a single shared root whose sole responsibility is to hold the sta

[2019-01-07 02:40] sebmarkbage commented on #14110
@ignatiusreza That works for some cases but it only works with one React renderer/version at a time and don't play nicely with non-react code. Additionally, it also doesn't let you coordinate the updates to individual roots with other content on the page - like the createBatch API in createRoot lets you do.

[2019-01-07 02:58] LIUeng commented on #14491
sorry, already closed.

[2019-01-07 04:02] theKashey opened #14540 "Nested portals should be discoverable"
This is more about a bridge between actual DOM Tree and React Tree.

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
You can _portal_ a part of your rendering tree to another place in Dom Tree, and React would handle events, including events on Capture Phase like there were no portals - events could dive through all the _react_ parents, and bubb

[2019-01-07 08:46] ignatiusreza commented on #14110
@sebmarkbage thanks for the insight! if you don't mind, I still have some clarification I want to ask :bowing_man:

sorry, i'm not sure why it doesn't play nicely with non-react code.. do you mind to elaborate a little?

doesn't it means that portal also suffer from the same issue, which we potentially need to fix?

[2019-01-07 12:47] jamiewinder commented on #14490
I created this custom hook to help with this limitation, someone might find it useful:
[code]

[2019-01-07 14:01] davegomez commented on #14538
Fixed using `createNodeMock`.

[code]

[2019-01-07 14:01] #14538 closed

[2019-01-07 21:01] kalzoo opened #14541 ""Maximum update depth exceeded" with single, simple functional component"
X-post from https://stackoverflow.com/questions/54081088/react-webpack-and-tampermonkey-cannot-set-property-event-of-object-which, since this seems to be centered in React.

**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

Receiving "maximum update depth exceeded" while rendering a single functional component without any lifecycle methods.

**If

[2019-01-07 21:15] kalzoo commented on #14541
As it often goes... a kind stranger pointed out a workaround (`window = unsafeWindow`) for this issue shortly after I posted, so the component now renders. However, I'd like to leave this open regarding the infinite loop performed by ReactDOM, since that seems unexpected to me. Please let me know what you think.

[2019-01-08 03:18] sampathsris opened #14542 "`useReducer` does not honor reducer function's default state value"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Please see the CodeSandBox here: https://codesandbox.io/s/v8y72ky0o5

Consider the following reducer:

[code]

Suppose we are trying to use the reducer in a component like so:

[code]

When rendered,  `count` is `undefined`.

**What is the expected behavior?**

One would expect `count` to be equal to

[2019-01-08 07:51] liyuanqiu opened #14543 "Add `get` function to `useState`"
**Do you want to request a *feature* or report a *bug*?**
- feature

**What is the current behavior?**
Code from [Introducing Hooks](https://reactjs.org/docs/hooks-intro.html):
[code]
[code]
I don't think it is good to create a fixed function many times, so I try to modify the code:
[code]
But obviously the callback in `useCallback` couldn't get the latest `count` because I pass in an empty inputs

[2019-01-08 09:48] Saranchenkov commented on #14543
@liyuanqiu you can use updater function in setCount

`  const handleClick = useCallback(() => setCount(prevCount => prevCount + 1), []);`

`useState` API reference  [https://reactjs.org/docs/hooks-reference.html#usestate](url)

[2019-01-08 10:08] locknono opened #14544 "`yarn flow` stuck at merging on Window10"
**Do you want to request a *feature* or report a *bug*?**
a bug

**What is the current behavior?**
See #14519 first.

And i tested on a Linux machine,same node version,same yarn version,same npm version,and same operation.
On Linux,`yarn flow` works well.
I tested on another Window10 machine,also fail.

So i think this is a **bug** related to flow,win10 and react source code,not my own problem.

[2019-01-08 10:48] eriklofblad commented on #11768
I'm still having this problem with Edge 44.17763.1.0 and react-dom 16.7.0. It works fine in IE11.

[2019-01-08 10:50] liyuanqiu commented on #14543
Thank you very much, it's all my fault haven't read the document carefully.

[2019-01-08 11:10] proworkdev opened #14545 "can't find variable : __PROFILE__"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2019-01-08 11:11] #14545 closed

[2019-01-08 14:04] rabbitooops commented on #14110
@sebmarkbage  Why not try `Proxy` to optimize performance? seems it can work well.
[code]
`themeContext`'s value is wraped by `Proxy`, so we can know `color` and `size` is `get` in this component, we can use `shallowEqual` to optimize by default.
[code]
If `color` and `size` were not changed, React could skip render this component.

[2019-01-08 14:32] rabbitooops commented on #14110
Even more, we can use `Proxy` to do some amazing things.
[code]

[2019-01-08 14:35] rabbitooops commented on #14110
@sebmarkbage
Even more, we can use `Proxy` to do some amazing things.
[code]
It can work with `shallowEqual`.

[2019-01-08 14:45] ucozlab commented on #3280
I've used a workaround solution (do not consider it as a best practice)
`
class Button extends Component {
  _componentDidMount() {
    // Some logic to setup listeners etc...
  }
}

class LightButton extends Button {
  componentDidMount() {
     this._componentDidMount();
     // Additional logic to add even more listeners
  }
}
`

[2019-01-08 14:47] rabbitooops commented on #14110
@gaearon @sebmarkbage
Work with Context:
[code]
then, `context.value` will be replaced with new `Proxy` as array was changed such as `array.push(1)` every time.
It is very friendly for `shallowEqual`.

Follow this rule, we can always use `shallowEqual` for optimizing performance without writing custom `shouldUpdate`.

[2019-01-08 14:48] rodoabad commented on #14114
I love GitHub issues/prs. I can easily track the problem, what caused it, and how to fix it! I was looking for a fix and @sophiebits had one! Thank you!

[2019-01-08 15:37] mohamadswaidan opened #14547 "are 2 files in phpstorm"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2019-01-08 15:44] kingdaro commented on #14110
Proxies can't be reliably polyfilled to work on IE9.

[2019-01-08 15:46] juniusfree commented on #14091
+1

[2019-01-08 16:45] leerob commented on #9255
I needed something like this for a `Button` component that I was writing. It accepts icons as children, but I didn't want to make consumers explicitly provide a `label` prop. Here's the solution I used:

[code]

[2019-01-08 18:23] vtereshyn commented on #14511
Yes, it is expected `getDerivedStateFromProps` work.

[2019-01-08 19:10] dannyphillips commented on #14481
Any updates on this? Is there a plan to release a new alpha with Hooks support?

[2019-01-08 21:58] #14547 closed

[2019-01-08 22:06] xobotyi opened #14549 "Unable to catch Error emitted in componentDidMount"
**Do you want to request a *feature* or report a *bug*?**
Bug report.

**What is the current behavior?**
Error boundary handles `Error` emitted in `componentDidMount` and somewhy **rethrows** it.

[code]

https://jsfiddle.net/xobotyi/96eqo8zp/

**What is the expected behavior?**
It should not rethrow the error.

**Which versions of React, and which browser / OS are affected by this issue? Did this

[2019-01-08 22:30] Razzwan commented on #14494
The same, when updated from 16.3.1 to 16.7.0 version

[2019-01-08 23:29] cdbean opened #14551 "Cursor jumps with controlled input with email type"
**Do you want to request a *feature* or report a *bug*?**
a bug

**What is the current behavior?**

With an email input (`<input type="email" />`), the cursor jumps when there is space. Try the demo https://codesandbox.io/s/y7y93p2zx?moduleview=1.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much f

[2019-01-08 23:33] cdbean commented on #14551
Seems it is a known issue https://twitter.com/kentcdodds/status/1082705003955933184. I'll probably close this

[2019-01-08 23:33] #14551 closed

[2019-01-09 01:12] scottjason commented on #3163
Bumping this thread for the same exact use case as @MrToph .

Also, @jharris4 is absolutely correct in that `undefined` and `null` should not be treated equally- it creates a constraint on what we can do with Proptypes.

[2019-01-09 01:25] jharris4 opened #14552 "ignore this issue, posted to wrong repo :-)"
It would be good to notify people making issues and PRs to this package that it is now considered legacy and no longer actively maintained so they can stop wasting their time (unless new maintainers step up and are giving publish rights of course)

For context, this is from @sebmarkbage at Facebook regarding this package:

[code]

(From this twitter thread: https://mobile.twitter.com/sebmarkbage/s

[2019-01-09 01:28] #14552 closed, assigned to nobody

[2019-01-09 03:59] open-source-explorer commented on #14043
@gaearon @bisubus @sophiebits I'm a noob here. Can you guide me?

[2019-01-09 09:08] pitops commented on #14474
I tried to use the following in package.json but do not work.

[code]

What worked is the following
[code]

[2019-01-09 10:24] oleksii-pylypenko opened #14554 "Dispatching a CustomEvent on an anchor tag has no effect"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Dispatching a *CustomEvent* on an anchor tag (`<a>`) has no effect.

[code]

Link to jsfiddle: (https://jsfiddle.net/violentPuree/7yf4t1uk/26/)

**Please note:** For some reason when the jsfiddle page initially loads the custom event listener is triggered (This does not happen when the application is r

[2019-01-09 12:17] escaton commented on #14543
You could probably do something like this
[code]

[2019-01-09 12:41] liyuanqiu commented on #14543
Thank you @escaton , `useRef` really can solve this problem.

And the official document thinks this is `convoluted` but `bearable`:

But I think it is more like a workaround, couldn't be a paradigm.

One component may have many states. Using three kinds of hooks and five lines of code(or using a custom hook to replace `useState`) to define an internal state will be a disaster.

[2019-01-09 12:42] escaton commented on #14501
@haraldrudell don't forget that second argument is already used for `ref` when component is wrapped with `forwardRef`

[2019-01-09 13:08] ignatiusreza commented on #14543
I really like the suggestion for having pair of getter and setter returned from `useState`.. which would make it easier to keep things fresh.. if it doesn't end up in the official implementation, I think it can be implemented in user land using custom hook like:

[code]
?

[2019-01-09 13:09] aralroca commented on #14501
IMO **memo** approach is enough understandable.

However I understand that maybe as a function wrapper is not 100% elegant solution... Especially if you have more "wrappers" like connect:

[code]

Nevertheless, @haraldrudell I don't understand at all your proposal... For example, if you want to implement something like this:

[code]

How do you propose to do it?

[2019-01-09 13:49] escaton commented on #14543
@liyuanqiu
I see such options:
- use ref for holding the whole callback rather then single state
- create custom `useStateWithRef()` hook which could decorate the original `useState` and mirror value to `ref.current`
- reimplement timer logic so it would be able to resume after state changing
[code]

@ignatiusreza there is the problem with your solution:
[code]
on the first render in would be "0 -

[2019-01-09 14:22] aralroca commented on #14501
BTW; for me, if I will propose to do it like:

[code]

or

[code]

[2019-01-09 16:55] gaearon commented on #14474
`16.7.0-alpha.2` should work — are you sure you didn't accidentally put `^` before it?

[2019-01-09 18:08] carlosrberto commented on #14542
@sampathsris the default state value will be returned when an invalid action is dispatched.
The initial state for `useReducer` hook should be passed as a second argument to `useReducer`:
[code]
I understand your point. When using Redux, in the moment when the store is created Redux dispatch an initialization action and all reducers return the default state.

Maybe something like this could be impl

[2019-01-09 21:00] gaearon commented on #14481
`16.8.0-alpha.0` should be out. Don't forget to update *both* `react` and `react-dom`.

[2019-01-09 21:00] #14481 closed

[2019-01-09 23:18] Kovensky commented on #14481
Do react-is and react-test-tenderer also need matching versions?

[2019-01-09 23:39] ckknight commented on #14542
`useReducer(reducer, undefined, { type: 'INIT' })` will work as you expect. It will execute the reducer initially, once, with a `{ type: 'INIT' }` action, thus falling through to the default case. Because `initialState` is provided as `undefined`, it will appropriately default to `5` as specified in the reducer.

[2019-01-09 23:39] Kovensky commented on #14512
That is how the legacy key event API works, anything written while the IME is active will have keyCode = 229.

You have to use the input events (onChange in React terms), and also check if their isComposing property is true. I don't think React's synthetic event has all the relevant properties so you probably need to work with the nativeEvent.

[2019-01-09 23:47] Kovensky commented on #14490
It happens to work in this case because your function is generic and so T is "like {}", but you need to use a Symbol for sentinels to create a `unique symbol` type. Using an empty object's type as an input makes it nearly the same as `any` but without `null | undefined`.

[2019-01-10 00:08] apostolos opened #14558 "A new react-cache alpha release is required for compatibility with react@16.8.0-alpha.1"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`react-cache@2.0.0-alpha.1` does not work with `react@16.8.0-alpha.0` or `react@16.8.0-alpha.1` because of a recent change in React internals (separation of current dispatcher from current owner).

**What is the expected behavior?**
It looks like the necessary changes to react-cache have already been m

[2019-01-10 01:55] gaearon commented on #14481
Generally every update needs matching versions.

[2019-01-10 07:05] btraljic commented on #14543
I think this is an elegant solution: https://codesandbox.io/s/m1y7vl0vp

[code]

[2019-01-10 07:06] liyuanqiu commented on #14543
@escaton Maybe only the second option is effective.

---

Do you mean https://codesandbox.io/s/jj40lz07l3 ?
[code]
Not working too.

It's not the timer's problem. When you use event dispatcher, WebSocket, ajax, promise, same problem. I think no one dares to reimplement them just for adopting React Hooks API.

[2019-01-10 07:38] btraljic commented on #14543
Is it ok now :)
`useEffect(() => countRef.current = count);`

[2019-01-10 07:49] liyuanqiu commented on #14543
Absolutely 🙂

[2019-01-10 07:50] escaton commented on #14543
@btraljic not really :)
now you have actual value in reference and can use it in next effects, but if once you decide to use it in markup, you would see lag between `state` and `ref`. Look at example in my answer to @ignatiusreza

[2019-01-10 07:59] btraljic commented on #14543
@escaton Ok, but we are living in an asynchronous world. Aren't we? :)

[2019-01-10 08:10] pitops commented on #14474
Dan yes you are right. I might have accidentally put a `^` before it.

[2019-01-10 08:43] kdela commented on #14317
@tuoxiansp Could you explain how did you resolve this issue with lerna?

[2019-01-10 09:16] strayiker commented on #14317
@kdela You can put your packages into monorepo and configure [yarn workspaces](https://yarnpkg.com/lang/en/docs/workspaces/) for it. Then all you dependencies from all you workspaces (packages) will be installed into single `node_modules` folder. Including `react`. That leave you with only one instance of `react` and problem is gone.

[2019-01-10 10:13] escaton commented on #14543
Speaking about accessing state in `setInterval` — i came up with another idea.
It can be treated as two separate side effects: one is timer tick, another is `xhr`.
So it could be
[code]
Pros: easy to understand what happens, no refs
Cons: wasteful rerenders on `tick` updates

[2019-01-10 10:26] przeor opened #14561 "available free pre-paid gift cards for learning React 1-on-1 with experts"
FYI:
I have available $20 pre-paid gift cards that you can use for learning React/Node and Javascript 1-on-1 with experts on the Experty learning platform. Just leave the comment and I will send it to you - via using contact details on your profiles - FOR FREE.

This will help you improve your react skills.

[2019-01-10 10:47] philipp-spiess commented on #14561
Hey there! We use the issue tracker for bug reports and feature requests.

[2019-01-10 10:47] #14561 closed

[2019-01-10 11:06] TrySound commented on #14543
I usually use this way with reducer
[code]

[2019-01-10 11:26] rdsedmundo opened #14562 "Why NPM releases are not mapped to the repository under Releases section?"
Firstly, I'm sorry if opening an issue here it's the wrong place to ask that, but since it's very attached to the repository itself I raised it here as a "meta-issue".

I'd like to know if there's a special reason why NPM releases aren't making it to the [Releases section](https://github.com/facebook/react/releases) of the repository here. I'm mainly talking about the latest `alpha` versions that

[2019-01-10 12:05] tazsingh opened #14563 "Question: Hooks + Suspense Interactions. Hooks unstable if suspended."
**Do you want to request a *feature* or report a *bug*?**
Question about the interaction when using Hooks + Suspense. *I am aware that these are not finalized yet. Please close if this has already been considered.

**What is the current behavior?**
I tweeted about this:
1. https://twitter.com/tazsingh/status/1083314900586373120
2. https://twitter.com/tazsingh/status/1083329402308562944

In essence

[2019-01-10 12:09] gaearon commented on #14563
What is your expected and actual output?

It’s not exactly clear to me what you’re trying to do and what the problem is.

(In general, suspending aborts render and it shouldn’t matter for Hooks because they’ll run next time again.)

[2019-01-10 12:18] Jokcy commented on #14543
if we can use reft to hold state, when not just use an global object?

[code]
So `obj` may hold multi state for one component.

[2019-01-10 12:18] jamiewinder commented on #14490
Sorry, I'm not following. It would work for null, undefined, or any value as far as I can see.

I use an empty object as the sentinel as it makes it unique and distinct for the ===  check which sets the ref to the real initial value on the first invocation. It'd work it the sentinel were a symbol too, but I don't think it makes a difference one way or the other?

[2019-01-10 12:31] escaton commented on #14543
Doing so, you can't use more than one `Comp` on the page, but it could be fixed
[code]
Although it's almost same as `useRef` i strongly discourage you to use it. It is both non idiomatic and confuses other contributors.

[2019-01-10 12:37] pronebird opened #14564 "React.Children.count returns invalid number of children"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or C

[2019-01-10 12:37] liyuanqiu commented on #14543
Everybody here tells many solutions, but really like a sentence: "[Life, Uh, Finds a Way.](https://knowyourmeme.com/memes/life-uh-finds-a-way)"
Just a joke, no offense :)

Look back, my requirement is so easy, just want to repeatedly send a state to server. But with React Hooks API, it became strange and complex.

Let's see how to program in old class style:

https://codesandbox.io/s/40p9qqr009

[

[2019-01-10 12:39] tazsingh commented on #14563
Perhaps this contrived example illustrates my question a bit better? https://codesandbox.io/s/x36o43mw
You'll note that `computeExpensive` is called `n+1` times with Suspense but once without it.

I understand what you're saying regarding aborting the render and it makes complete sense.
The nature of my question revolves around more complex components where anything can suspend and invoke the Comp

[2019-01-10 12:50] escaton commented on #14543
Sure, it looks familiar.
The only difference with hooks here is that component's `state` is explicitly bounded to instance and so could be accessed with `this` anywhere.
To achieve the same in functional component it needs to break the rule and to bound state to ref right in the component body without `useEffect` wrapping.
Let's wait for @gaearon asnwer.

[2019-01-10 13:13] gaearon commented on #14563
I’m on mobile now but let’s see if this clarifies things. Note I might be wrong so check this against your observations.

If component suspends during mount, I think we don’t preserve its state on retry. We attempt to mount from scratch again instead. So it’s expected memo or state aren’t preserved. Suspense is intended to be used with caches *outside* a component rather than backed by local state

[2019-01-10 14:35] carlosrberto commented on #14542
@sampathsris I opened a [pull request](https://github.com/facebook/react/pull/14566) with a proposal to make this works.

[2019-01-10 14:40] gaearon commented on #14562
"Releases" generally contain stable releases. We don't want to give extra visibility to alpha releases and to make it seem like we encourage their usage. (Remember, they're likely to have bugs!)

We also generally don't write changelogs for alpha releases. If you want something that's ready to be used and trusted, and don't have time to dig through PRs and commits, please only use stable releases.

[2019-01-10 14:40] #14562 closed

[2019-01-10 15:10] rdsedmundo commented on #14562
It never was a matter of not having time to look on PRs and commits, I went on the repository exactly looking for some reference after finding the NPM release there.

I've seen this being used already in many other repositories, namely Vue, Angular, and Boostrap, for instance. Github even has a "Pre-Release" badge that can be used for those alpha/beta releases.

IMO, there's no difference on risky

[2019-01-10 16:03] waynebloss commented on #1259
@markerikson I don't know who gathered statistics on the preferred approach, but my preferred approach is to use the `data-` attributes rather than doing extra work away from the call-site to memoize a simple event handler.

The [React docs on this subject](https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html#should-i-keep-data-in-custom-attributes) give _zero_ reasoning for their o

[2019-01-10 17:30] acdlite commented on #14563
Yeah, when a component Suspends, we don't preserve any of its intermediate state (on either mount or update). We throw it out, and try again once the promise resolves. As Dan mentions, we have some planned optimizations that will allow us to reuse partially completed work ("resuming"), but even then, we would only memoize partial work at the component level, not at the Hook level. (Theoretically w

[2019-01-10 17:33] acdlite commented on #14563
Yeah, when a component Suspends, we don't preserve any of its intermediate state (on either mount or update). We throw it out, and try again once the promise resolves. As Dan mentions, we have some planned optimizations that will allow us to reuse partially completed work ("resuming"), but even then, we would only memoize partial work at the component level, not at the Hook level. (Theoretically w

[2019-01-10 19:32] ShizukuIchi opened #14568 "Overriding updater in React class doesn't have any effect or error"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Overriding `updater` in React class doesn't have any effect or error.

**What is the expected behavior?**
Maybe there should be a reserved words list in React docs to prevent anyone from doing this accidentally.
Or add warnings for overriding these words.
[code]

[2019-01-10 20:08] threepointone commented on #14039
Broadly, this is about warning when we have mismatched versions of react and react-dom installed, yes? This particular error happens right now because we have peerDependencies set with `"react": "^16.0.0"`. This should be flagged by npm when installing, imo we should update peerDependencies to `"react": "^16.8.0"` (or whatever version) when we release hooks.

(we could verify versions in runtime t

[2019-01-10 20:38] pedrodurek commented on #3386
Approach using typescript:
[code]

Example of use:
[code]

[2019-01-11 07:43] skipjack commented on #5677
For anyone who's still stumbling on this, `React.memo` was released recently which is an easy built-in way to create a pure, stateless component:

https://reactjs.org/docs/react-api.html#reactmemo

[2019-01-11 13:36] Saibamen commented on #11553
Reported to Google via https://support.google.com/chrome/answer/95315?co=GENIE.Platform%3DDesktop&hl=en

[2019-01-11 14:12] tazsingh commented on #14563
Amazing. Thanks for your assistance @acdlite & @gaearon! Much appreciated.

Since it sounds like this is working as designed and is therefore not an issue, I'm going to go ahead and close this.

I'd like to discuss this behaviour further and shall take that discussion to the RFC 👍

P.S. Grabbing you both a drink the next time I see you 😉 Really enjoying playing with these new features!

[2019-01-11 14:12] #14563 closed

[2019-01-11 14:19] cparreno7 opened #14570 "Js chunks are not requested on demand on IE11 with the latest react version 16.7.0"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Issue loading the js chunk files on IE11 (only). With the latest version of react 16.7.0 our app (which uses Suspense and Lazy) doesn't load all the needed js chunks. You need to navigate around the app to request other js chunks and eventually the app is fully loaded.

**If the current behavior is a b

[2019-01-11 14:41] threepointone commented on #14039
discussed with dan a bit more, the peer dependency wouldn't fix it, since this actually lives on react which doesn't have a peer dep, sigh. I'll send a PR with a better error message.

[2019-01-11 15:36] gaearon commented on #14570
We'll need a reproducing case to help with this. Ideally it would be great if you could reduce this to something that doesn't involve chunks. React doesn't do anything special with chunks — it triggers the Promise factory you pass, and waits for that Promise to resolve. So if there is a problem, it should be reproducible even with fake Promises that don't actually represent any loading states.

[2019-01-11 15:44] bitriddler commented on #6622
Same here, our current system wants to inject 3rd party element which is done on the server but react cleans it when loaded, an example as @gaearon requested

Client
[code]

Server
[code]

This is obviously a very bad hack that some of us had to do when integrating react into a legacy system, but as @reywright mentioned maybe react can introduce a `shouldComponentMount()` that we can enable on the

[2019-01-11 16:23] dmccown1500 commented on #11013
@alex-saunders any progress on this? Happy to try to take over if you would like

[2019-01-11 16:33] rabbitooops commented on #14110
[code]
[code]

[2019-01-11 16:38] agustind commented on #2239
You can use the spread operator

style={{...styles.base, ...styles.extra}}

[2019-01-11 16:40] kopax opened #14573 "[Bug] React context break if Context.Consumer is replaced with webpack.resolve.alias"
I need help to understand why Webpack `resolve.alias` and React 16 `context` have issue to work together.

I want to use [react-admin](https://github.com/marmelab/react-admin/tree/v2.6.0/) with a different internationalization engine.

Using `resolve.alias`, I want to plug my `TranslationProvider` that use **react-intl** instead of **polyglot** without forking nor editing their source.

This compo

[2019-01-11 16:51] kopax commented on #14573
[code]

I have joined the Context in the same project also using alias and it repair the thing. I conclude that react context and contextConsumer  can't be in different package.

[2019-01-11 16:58] kopax commented on #14573
Reopening just to get the explanation

[2019-01-11 17:09] alex-saunders commented on #11013
Hey @dmccown1500 , I opened a PR to fix this issue: https://github.com/facebook/react/pull/13516 but it's been stagnating for a little while, not sure what's going on with it.

[2019-01-11 17:19] ValentinH commented on #14365
@bvaughn I've tried again to update from 16.4.1 to 16.7.0 and I still have some leaks / high memory issues. 😱

Here's a capture of my task manager:
![react-leak](https://user-images.githubusercontent.com/2678610/51049064-15384900-15cd-11e9-8cca-8e14f3fddafb.gif)

We have several apps in my company and only one faces this issue... How could I try a development version of the devtools to investigate

[2019-01-11 18:04] #14573 closed

[2019-01-11 18:07] bvaughn commented on #14365
This issue was about fibers being slow for property lookup– so apps were _slower_, but I don't think it necessarily had any impact on memory usage. (So I think what you're reporting is probably unrelated?)

If you can share your source code, you might want to file a new issue with some info:
* Instructions for how to checkout and run your app
* Which version(s) or React are impacted
* Which browse

[2019-01-11 18:43] ValentinH commented on #14365
I managed to isolate the component that is responsible for the issue. It uses `setInterval()` and creates new `Date()` at each interval so it doesn't smell good.

I'll try to setup a reproduction example 🙂

[2019-01-11 20:19] mrchief commented on #5677
Better than memo, what you're looking for is React [hooks](https://reactjs.org/docs/hooks-intro.html)

[2019-01-11 21:18] ValentinH opened #14574 "React Devtools perf issue with 16.7.0"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When using a component that creates new Date objects inside an interval while having the Devtools extension open, the performance are really slow.

With React 16.4.1, I don't have the same issue so it might be related to the Profiler tab (even if it also happen when being on the Elements tab).

**Repro

[2019-01-11 21:19] ValentinH commented on #14365
Issue created: 14574

[2019-01-12 00:21] kevinwolfcr opened #14575 "Cannot ready property 'readContext' of undefined"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
`react-cache` is not working with Suspense.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to

[2019-01-12 02:40] chenesan opened #14577 "Question: How to know if the loading status of Suspense resolved"
**Do you want to request a *feature* or report a *bug*?**

Question

**What is the current behavior?**

I'm trying to implement supports of `React.lazy` and `React.Suspense` in enzyme (airbnb/enzyme#1975). I'd like to have something like `waitUntilLazyLoaded` so we can write such test:

[code]

Inside the `mount` implementation we call the `ReactDOM.render` to render it and get the root fiber node

[2019-01-12 03:19] kdepp opened #14578 "`alert`, `confirm`, `prompt` in handler become non-blocking after switching tab/window"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In Chrome, `alert`, `confirm`, `prompt` used in event handler is not blocking the following operations if you switch to another tab and switch back.

Firefox and Safari works fine for me

* `alert` box is still shown, but following operations are executed
* `prompt` box is closed automatically,  return

[2019-01-12 05:50] pgangwani opened #14579 "Hydration breaks when accessing props in constructor which doesnt exist"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
A descedent component which tried to access props.somepropA (undeclared prop) in constructor broke hydration and because of  other un-mounted component didnt remove from DOM and things started breaking on load. In my case i was getting infinite loader which is not mounted.

**What is the expected behav

[2019-01-12 05:53] aweary commented on #14578
@kdepp have to confirmed that this only happens when using React? I'm betting that you'd see the same behavior in a version that just used the DOM APIs directly.

[2019-01-12 05:59] aweary commented on #14568
Hey @ShizukuIchi! This [has been brought up before](https://github.com/facebook/react/issues/9164) and [a fix was submitted](https://github.com/facebook/react/pull/9236) but ultimately we decided that [it wasn't worth the cost](https://github.com/facebook/react/pull/9236#issuecomment-355578216). It's a pretty uncommon edge case, and with Hooks it's likely that it will be even less common, so it's

[2019-01-12 05:59] #14568 closed

[2019-01-12 06:00] aweary commented on #14579
@pgangwani can you please provide an example reproducing the problem? There were [helpful links](https://codesandbox.io/s/new) for that in the section of the issue template you deleted.

[2019-01-12 06:46] kdepp commented on #14578
Thanks @aweary .  You're right.   https://jsfiddle.net/9vbhzufx/  without react has the same problem.

Looks like it's a change on Chrome made in 2017. https://developers.google.com/web/updates/2017/03/dialogs-policy

Closing this one

[2019-01-12 06:46] #14578 closed

[2019-01-12 10:49] drcmda opened #14580 "[Hooks] useImperativeMethods should expose its content"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

[code]

Users can use the api from outside by forwarding a ref, but it is sealed inside and cannot be re-used

**What is the expected behavior?**

[code]

Now we can re-use our code and even treat it like a public api that can be used outside or inside (like public class methods in reacts class c

[2019-01-12 11:07] philipp-spiess commented on #9809
@mseddon My fix is not practical to be applied at the framework level. There are a number of arguments why Chrome made some events passive by default and why we don't want to revert that decision. You can read up on that here: https://github.com/facebook/react/issues/6436

The recommended approach is to only add non-passive events if you're certain that you will need to call `event.preventDefault(

[2019-01-12 17:46] ajpocus opened #14581 "Set function returned by useState executes functions passed to it"
**Do you want to request a *feature* or report a *bug*?**

It might be a bug, or it might just be behavior I didn't expect.

**What is the current behavior?**

The current behavior is that the set function returned by `useState` appears to execute functions passed to it. I've replicated this behavior in the CodeSandbox link below -- check the console logs to see the behavior I'm describing.

**If

[2019-01-12 18:45] stevematdavies commented on #12334
Nope, this is still an issue, it drives me crazy, we still haven't simplified controlled inputs by v16!

[2019-01-12 19:48] markerikson commented on #14581
Per the [Hooks API reference on `useState`](https://reactjs.org/docs/hooks-reference.html#functional-updates), passing a function to the `useState` setter is equivalent to [the "functional updater form" of a component's `setState()` method](https://reactjs.org/docs/react-component.html#setstate).  React will call that function with the existing state value and allow the function to return the stat

[2019-01-12 20:04] ajpocus commented on #14581
Gotcha, sorry I missed that. I'll close this then. Thank you for pointing that out!

[2019-01-12 20:04] #14581 closed

[2019-01-12 23:04] aralroca opened #14582 "[Hooks] Invariant Violation - Using a library that have hooks"
_Versions:_
* **react**: 16.8.0-alpha-0
* **react-dom**: 16.8.0-alpha-0
* **react-form-uncontrolled**: 0.3.1

### Problem ###

I wrote a simple Form library with just one hook (react-form-uncontrolled). However, **using this library** is displaying this error:

Codesandbox: https://codesandbox.io/s/znx2r55lkp

Although the error says that it can only be called inside the body of a function compone

[2019-01-13 18:14] kopax commented on #13864
Hi, I am having an issue:

      A React component suspended while rendering, but no fallback UI was specified.

[code]

We use this with react-router and we expect to keep our main page by not using the `fallback` props. Unfortunatly, the flow makes the first route unmounted.

I know this is very common scenario, does anybody have a recommendation to share for doing this?

Thanks in advance,

[2019-01-13 18:15] aralroca commented on #14582
Solved after fix the dependencies of the library `react-form-uncontrolled`. The problem was that **react** and **react-dom** was added as `dependencies` instead of `peerDependencies`.

After fixing it, now is working well... No idea why happening exactly. Perhaps a problem of duplicated react libraries...

* Fixed after **react-form-uncontrolled** `v0.3.2`:
    * https://codesandbox.io/s/lrx20vw06

[2019-01-13 18:15] #14582 closed

[2019-01-13 21:43] Kazimirkas opened #14583 "16.8.0-alpha.0 (and 16.7) IE11 Suspense doesn't stop rendering fallback after Lazy resolves"
**Do you want to request a *feature* or report a *bug*?**

report a bug

**What is the current behavior?**

When using Suspense, I see React.Suspense fallback layout instead of loaded component in IE 11 (IE network panel shows, that bundle was loaded)

I can not reproduce this bug in 16.7.0-alpha.2! there is everything ok.

**If the current behavior is a bug, please provide the steps to reproduce

[2019-01-14 03:12] xp44mm opened #14584 "suggest key prop can be passed to components"
i don't make understand that Keys serve as a hint to React but they don’t get passed to your components.
this feature in https://reactjs.org/docs/lists-and-keys.html need pass the key two times. this action is not friendly to users. has any difficulty to implement this feature or is there another reason?
[code]

[2019-01-14 06:45] moonformeli opened #14586 "Context is assigned to `undefined` when it's declared in JSX"
**Do you want to request a *feature* or report a *bug*?**
bug
Related issue: [#14418](https://github.com/facebook/react/issues/14418)

**What is the current behavior?**
```context``` variable is set to ```undefined``` in the codes below, when it's used in JSX.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get

[2019-01-14 08:09] threepointone commented on #14586
Why is that preferred? What is the exact bug you faced? could you reproduce the bug in codesandbox?

[2019-01-14 08:30] ahuglajbclajep commented on #955
Probably the smallest complete example:
[code]

[2019-01-14 08:32] Kazimirkas commented on #14583
the problem was with requirements for additional polyfills in newer version

[2019-01-14 08:33] moonformeli commented on #14586
@threepointone
I found this from React's official document.

...
This is not React-specific behavior; it is a part of how functions work in JavaScript.

My bad :)
By the way, thank you for commenting.
I'll close this issue

[2019-01-14 08:33] #14586 closed

[2019-01-14 11:22] domshlak opened #14587 "ReactDOM - global event handler for a specific event type isn't removed once all the components with such event type handler are no longer mount"
When a component with an event handler of a specific type (e.g. onClick) is mount, react dom adds a global event listener for this type.
The problem is that once all such components are no longer mount, the global event listener isn't removed.

The biggest problem that I see here is with the `onMouseMove` and `onTouchMove` event handlers.
For example, let's say that at some point there were mount

[2019-01-14 14:19] oliviertassinari commented on #13838
I have found this related issue: #6873. Digging into the implementation, the behavior comes from
https://github.com/facebook/react/blob/0005d1e3f54b79fe4707fbccc44b89e0fb4ce565/packages/react-dom/src/server/DOMMarkupOperations.js#L61
⬇️
https://github.com/facebook/react/blob/b87aabdfe1b7461e7331abb3601d9e6bb27544bc/packages/react-dom/src/server/quoteAttributeValueForBrowser.js#L17
⬇️
https://githu

[2019-01-14 14:58] oliviertassinari commented on #13838
For anyone looking for a workaround:
[code]

[2019-01-14 15:22] gaearon commented on #14583
Hmm which ones? I wouldn't expect that.

[2019-01-14 15:23] gaearon commented on #14583
Could be the same as https://github.com/facebook/react/issues/14570. A reproducing example would be very helpful; that's unexpected.

[2019-01-14 16:05] threepointone commented on #14583
@Kazimirkas can you try running this codesandbox and see if it runs on IE11? https://codesandbox.io/s/oo3rn9z8wq if not on codesandbox, try to run it locally. thanks!

[2019-01-14 16:06] threepointone commented on #14570
@cparreno7 can you try running this codesandbox and see if it runs on IE11? https://codesandbox.io/s/oo3rn9z8wq if not on codesandbox, try to run it locally. thanks!

[2019-01-14 16:17] MasterJames opened #14589 "More on: react-scripts: not found"
I've got more to report on this problem with react-scripts not found error.
Here is the error running 'npm start'

[code]

If one runs 'npx react-scripts start' it forces a rebuild of the entire 1980 packages?!!
But it does eventually run.

The setup issue is that the Ubuntu VM is running on an NFS Mount from Win8

First problem is all the bin files can't build, but if you build initially on VM's

[2019-01-14 16:19] aweary commented on #14583
I tested this in IE11 with [a small example using Suspense](http://bored-eye.surge.sh/) as well as [ @threepointone's example](http://thin-skate.surge.sh/) and both appear to work correctly.

@Kazimirkas are you possibly using a `WeakSet` polyfill? Which Promise polyfill are you using?

[2019-01-14 16:21] aweary commented on #14589
Hey there! We use the issue tracker for bug reports and feature requests for React itself. `react-scripts` is not part of React, it's part of [create-react-app](https://github.com/facebook/create-react-app).

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2019-01-14 16:21] #14589 closed

[2019-01-14 16:23] MasterJames commented on #14589
Oh okay thanks for the info. Re-submitted.
https://github.com/facebook/create-react-app/issues/6197

[2019-01-14 16:34] aweary commented on #14587
Hey @domshlak! This has been brought up before, see https://github.com/facebook/react/issues/7128. It was decided that a better solution to this would be attaching listeners at the root DOM node of the application, rather than at the document. That task is being tracked in https://github.com/facebook/react/issues/2043.

Thanks!

[2019-01-14 16:34] #14587 closed

[2019-01-14 17:44] markerikson commented on #14584
`key` and `ref` are kind of like "reserved pseudo-props".  They don't ever actually get passed to a component - they're an instruction to React for how it should handle working with that component.

[2019-01-14 18:00] domshlak commented on #14587
Hi @aweary,
attaching events on the root DOM node of the application won't solve this problem.
Doing that will just move the obsolete listener from the document to the application root.
The problem wasn't correctly identified in Issue #7128, since the listeners shouldn't be cleaned up after unmounting all roots, but to be cleaned up once the rendered components tree doesn't contain components with

[2019-01-14 18:22] aweary commented on #14587
Yeah, it's a slightly different issue but the answer is essentially the same. This only really becomes a problem if you're creating and destroying a bunch of React roots all the time.

If we were to remove unused event listeners, we'd have to re-add them when a component needs them again.The cost of doing this, along with the bookkeeping required to track which listeners are needed, is likely high

[2019-01-14 18:37] danielhusar commented on #11387
+1 to this. We are using `React.createPortal` to render inside the iframe, (for both styles and events isolation) and not be able to prevent events to bubble out of the box is a bummer.

[2019-01-14 18:59] domshlak commented on #14587
On the contrary, if the event listener will be attached on the application root as planned, it will become a problem only when you **will not** create and destroy a react root.
If a single root is there, then any attached event listener to it will remain there forever...

When you use react router for instance, the root remains the same, but sub views are replaced as a result of some sort of navig

[2019-01-14 20:15] Kazimirkas commented on #14583
@gaearon @threepointone. IE11  didn't throw any exceptions. So, that I don't know yet, what exactly polyfill do I need. I solved my problem with polyfill.io. I'm using only the core-js promise polyfill for 16.7.0-alpha.2 and it works.
Im using browserstack for IE11. Unfortunately WeakSet polyfill (as @aweary recommended) dint't helped.

This is the case without bug React 16.7.0-alpha.2
https://cod

[2019-01-14 20:21] Kazimirkas commented on #14583
<img width="1439" alt="screen shot 2019-01-14 at 9 52 58 pm" src="https://user-images.githubusercontent.com/15028496/51138781-b122b880-184a-11e9-8e33-4d9b2d703dc5.png">

[2019-01-14 20:43] Kazimirkas commented on #14583
@gaearon @threepointone  I found the problem after reading https://github.com/facebook/react/commit/4a1072194fcef2da1aae2510886c274736017fbd
You need to import
import "core-js/es6/set";
import "core-js/es6/weak-set";
This is the working version for React 16.7

https://codesandbox.io/s/6mx088vvk

[2019-01-14 20:48] aweary commented on #14583
@Kazimirkas to clarify, I wasn’t suggesting that you use a `WeakSet` polyfill, I was just asking if you were already using one. Just in case it might have been a bad implementation that was causing problems.

If you only include the `Set` polyfill does it work as expected?

[2019-01-14 20:50] Kazimirkas commented on #14583
You're right, I just removed WeakSet and it also works.

[2019-01-14 20:58] Kazimirkas commented on #14583
@aweary Thank you for the hint with Sets!

[2019-01-14 21:08] pfgray commented on #14110
I think there's two approaches that have been mentioned to this problem:

---------------
1. A general purpose hook that throws to stop rendering.
[code]

Pros: _easy to understand, works for any hook, can make decisions based on values from many hooks_
Cons: _Can't "prevent" a render from starting, i.e. must start rendering to see if we should proceed_

------
2. Adding semantics to each hook whe

[2019-01-14 21:19] gaearon commented on #14583
Ah okay, in that case it's expected. React 16 requires *both* `Map` and `Set`.

This is in the documentation:
https://reactjs.org/docs/javascript-environment-requirements.html

And in React 16 release notes:
https://reactjs.org/blog/2017/09/26/react-v16.0.html#javascript-environment-requirements

That it worked before without `Set` is a happy accident.

Hope it helps!

[2019-01-14 21:21] gaearon commented on #14570
Note React 16 requires *both* `Map` and `Set`.

This is in the documentation:
https://reactjs.org/docs/javascript-environment-requirements.html

And in React 16 release notes:
https://reactjs.org/blog/2017/09/26/react-v16.0.html#javascript-environment-requirements

Judging by https://github.com/facebook/react/issues/14583, you might bump into this issue if you don't have a `Set` polyfill. If it's

[2019-01-14 21:21] #14570 closed

[2019-01-14 21:48] Kazimirkas commented on #14583
@aweary And how about the Promise ? :) https://github.com/facebook/react/issues/14583

[2019-01-15 00:04] gaearon commented on #14583
Ahh. @aweary Can you send a PR that just replaces it with an `add()` right after creation? I think we didn't want to rely on this.

[2019-01-15 00:05] gaearon commented on #14583
@Kazimirkas If you use `lazy` you need Promise by definition — it depends on you using dynamic `import` which gives you a Promise.

[2019-01-15 00:38] markerikson commented on #14110
@acdlite : Perhaps I misread that PR when I first glanced at it, because it didn't seem like it dealt with context at all.  Were context-related changes added later, or did I just miss something the first time?

If it really does handle `useContext` in some way, what actual capabilities does it add?

Updating `useReducer()` is obvious, because you're adding the ability to bail out of the previous

[2019-01-15 00:53] acdlite commented on #14110
Should have been clearer: it accounts for context changes before deciding to bail out. It doesn't add a new way to bail out of context. We have some ideas there but we haven't made a final decision yet.

[2019-01-15 00:56] markerikson commented on #14110
In other words, "if I return the previous state from my reducer, but there's also a context change, it will complete the update".  Got it.

Definitely looking forward to whatever you come up with on the `useContext` side.  Happy to give feedback when you've got something to discuss.

[2019-01-15 01:00] #14583 closed

[2019-01-15 03:06] sampathsris opened #14595 "Question: How should libraries export custom hooks?"
I've just hooked into React Hooks and done some experiments. I'm having some doubts about React's advice on [Building My Own Hooks](https://reactjs.org/docs/hooks-custom.html).

Documentations tells me that,

So the idea I get is that, if I were to write an NPM package exporting a custom hook, I have to export a function and add React as a dependency to my package. Let's take a couple of examples:

[2019-01-15 11:39] ivansky commented on #14584
It looks right cause you use it for two absolutely different reasons as already said above.
So you have to pass it twice to use `id` inside component.

[2019-01-15 11:51] oleksii-pylypenko commented on #14554
After all this was caused by a Popup Blocker chrome extension.

[2019-01-15 11:51] #14554 closed

[2019-01-15 13:38] cparreno7 commented on #14570
Hi @gaearon and @threepointone, thanks a lot for your help, I didn't have a chance to look a this yesterday and I couldn't provide the requested reproducing case. I will straight away next time!

After reading #14583, I could verify that my issue was the same. The React.Suspense fallback rendered instead of the requested component in IE 11. This was also due to the missing polyfills required by Re

[2019-01-15 15:18] threepointone commented on #14039
the latest version (16.8.0-alpha.0) of react doesn't throw this error anymore (though it does throw an invariant `Hooks can only be called inside the body of a function component.` which isn't that much better).

[2019-01-15 18:04] gx761 opened #14598 "What’s the difference between fiber reconciler sync mode and the old react 15 stack reconciler? Why does performance boosts so much?"
Since performance of react 16 boosts so much and thanks to those aweosome talks on YouTube explained fiber so detailed, I hardly figured out even the latest version of react 16 is still in sync mode, no features like time slicing are turned on by default.

Then I wondered why the perfmance is pretty good compared with react 15 even though?

Trying to get some info on google, but it seems like no o

[2019-01-16 01:39] Kovensky commented on #14595
The way I see it, it's not separation of concerns. You are specifically foisting all the concerns that belong to how your hook operates into the users of your hook instead, making it significantly easier to accidentally misuse them.

Personally, I try to stick as close as possible to the patterns exposed by `useEffect`, `useContext` and `useReducer` (or `useState` which is just `useReducer` with a

[2019-01-16 02:01] gnestor opened #14603 "Allow for named imports in React.lazy"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Currently, React.lazy only accepts an anonymous function that returns a dynamic import object. `readLazyComponentType` then [pulls the default export off of that import object](https://github.com/facebook/react/blob/f777d196e0943b3975c762e15e35b319a9b85902/packages/react-reconciler/src/ReactFiber

[2019-01-16 03:04] zhoulujun opened #14605 "Can't resolve 'react-dom/lib/ReactTestUtils' in react-addons-test-utils,react 16"
Module not found: Error: Can't resolve 'react-dom/lib/ReactTestUtils' in '/www/wepack4-react-project-template/node_modules/react-addons-test-utils'

i think this must update react-addons-test-utils,but it new.
i don't know how to resolve

[2019-01-16 03:10] GiancarlosIO commented on #13983
Oh well, now I know what "No supported" mean. It throws a error in server side 🤔
I think ReactDomServer just ignore the suspense component.

[2019-01-16 03:38] davidhariri commented on #6544
I'm having this issue as well.

[2019-01-16 03:42] zhoulujun commented on #9986
https://www.zhoulujun.cn/html/tools/webpack/2016_0217_6459.html
  "react": "^16.7.0",
    "react-addons-test-utils": "^15.6.2",
    "react-dom": "^16.7.0",
react-dom 16 根本就没有lib/ReactTestUtils 这玩意儿。
于是修改，react-addons-test-utils index 文件,坑还是未填好
//module.exports = require('react-dom/lib/ReactTestUtils');
module.exports = require('react-dom/test-utils');
最好还是降级到15.x ，期待官方修复！

[2019-01-16 03:42] zhoulujun commented on #8314
https://www.zhoulujun.cn/html/tools/webpack/2016_0217_6459.html
  "react": "^16.7.0",
    "react-addons-test-utils": "^15.6.2",
    "react-dom": "^16.7.0",
react-dom 16 根本就没有lib/ReactTestUtils 这玩意儿。
于是修改，react-addons-test-utils index 文件,坑还是未填好
//module.exports = require('react-dom/lib/ReactTestUtils');
module.exports = require('react-dom/test-utils');
最好还是降级到15.x ，期待官方修复！

[2019-01-16 03:53] gx761 commented on #14598
On second thought, i guess i made a mistake on the performance part. It seems like only performance of  server side rendering gets noticeably improved.

However, I'm still wondering how the suboptimal way is implemented. According to Lin Clark's presentation on Fiber, the new reconciliation process includes two phases(reconcile and commit), updates of nodes are collected in the first phase then co

[2019-01-16 06:22] hg-pyun opened #14606 "Where did the name React come from?"
Hello! React is really cool. I've been wondering, where does React naming come from? Is it from Reactive Programming?

It would be nice if you could tell me about the origins.
Thank you very much.

[2019-01-16 08:17] tiyunchen commented on #12121
https://github.com/nfl/react-helmet

[2019-01-16 08:18] tiyunchen commented on #8609
https://github.com/nfl/react-helmet

[2019-01-16 10:37] adamzerella commented on #14606
As pointed out by @gaearon in [this talk](https://youtu.be/dpw9EHDh2bM?t=3455) the name React has an interpretation of chemical reactions, with the atomic logo, atoms participate in chemical reactions. I think the idea general idea though, is that it's up to your own interpretation.

[2019-01-16 10:50] chenesan opened #14607 "Bug: in shallow renderer `this.state` in `shouldComponentUpdate` will be updated by `getDeriveStateFromProps`"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**

In `react-test-renderer/shallow`, the shallow renderer will set instance state in `getDerviedStateFromProps` so the `this.state` and `nextState` will be the same in `shouldComponentUpdate`, which is different with the behavior of real rendering.

**If the current behavior is a bug, please provide the s

[2019-01-16 12:02] bilalma commented on #14341
I'm also facing this issue.
these kind of errors are changing my plan to further work on React-native

[2019-01-16 16:49] gaearon commented on #14603
Thanks but it's an intentional design decision to not currently allow named imports. We may reconsider it later. You can find the relevant discussion in https://github.com/reactjs/rfcs/pull/64.

[2019-01-16 16:49] #14603 closed

[2019-01-16 17:35] jimniels commented on #12014
Came here from a Google search and didn't see my particular use case noted, so allow me to explain:

I'm trying to use React/JSX for server-side templating of a static site. I have a bunch of react components that get populated with an initial set of props and then the server renders them and writes them out as pages of my site. The problem is, in addition to HTML pages, I also have some files tha

[2019-01-16 21:35] jamiewinder commented on #14490
Late realisation: doesn't useMemo (with an empty array as the second parameter) do exactly this?

[2019-01-16 22:46] gaearon commented on #14490
`useMemo` with `[]` is **not** recommended for this use case. In the future we will likely have use cases where we drop `useMemo` values — to free memory or to reduce how much we retain with e.g. virtual scrolling for hidden items. You shouldn't **rely** on `useMemo` retaining a value.

We talked more about this and settled on this pattern as the recommendation for expensive objects:

[code]

Note

[2019-01-16 22:46] #14490 closed

[2019-01-16 23:22] gaearon commented on #14072
Regarding lazily initializing `useRef`, our recommendation is here: https://github.com/facebook/react/issues/14490#issuecomment-454973512.

[2019-01-16 23:22] #14072 closed

[2019-01-17 00:02] gaearon commented on #14072
https://reactjs.org/docs/hooks-faq.html#how-to-create-expensive-objects-lazily

[2019-01-17 00:02] gaearon commented on #14490
https://reactjs.org/docs/hooks-faq.html#how-to-create-expensive-objects-lazily

[2019-01-17 01:02] tomeady commented on #1881
I was running into this issue because I was using 2.6, so lucky I saw this

[2019-01-17 01:36] tr0yspradling commented on #14341
Welcome to the new age of framework centric development. Loads of dependencies & packages to worry about when troubleshooting.

[2019-01-17 02:42] dfee opened #14610 "Typescript forwardRef displayName"
Apparently the render method on `forwardRef` contains a `displayName` property as can be observed here: https://github.com/facebook/react/blob/769b1f270e1251d9dbdce0fcbd9e92e502d059b8/packages/shared/getComponentName.js#L28

However, the Typescript types instead place the `displayName` on the root object, (`NamedExoticComponent`)[https://github.com/DefinitelyTyped/DefinitelyTyped/blob/33f6179e0f25

[2019-01-17 02:53] Kovensky commented on #14610
This is because it _is_ possible to set a `displayName` in the `React.forwardRef` itself.

I consulted the (then-current) React DevTools source code when declaring where `displayName` is allowed to be defined.

[2019-01-17 02:57] aweary commented on #14610
The TypeScript definitions are maintained by the community, not the core team. I recommend bringing up any issues at https://github.com/DefinitelyTyped/DefinitelyTyped, which is the source of truth for these type definitions AFAIK. Thanks!

[2019-01-17 02:57] #14610 closed

[2019-01-17 03:54] owcc opened #14611 "Support Touch/Pointer Event on shape in react-art ?"
**Do you want to request a *feature* or report a *bug*?**
  *feature*
**What is the expected behavior?**
  Support Support or Touch Event on shape

I'm working on a project which is create by react & react-art, I need to run it on mobile device so touch or pointer event should be support, is it possible to support it?

[2019-01-17 04:02] naijab opened #14612 "Fabric create new canvas component instead of adding Object into the canvas"
For detail:

https://stackoverflow.com/questions/54227761/fabric-create-new-canvas-component-instead-of-adding-object-into-the-canvas

[2019-01-17 08:58] mir3z commented on #12897
Not strictly related but what happens if I throw error inside `componentDidCatch`? Will it propagate to `window.onerror` in production?

[2019-01-17 09:09] 498628255 commented on #14575
If you just want to run the program in the development env, you can modify the code in 'react-cache/cjs/react-cache.development.js' by yourself:
old:
`
var currentOwner = React.__SECRET_INTERNALS_DO_NOT_USE_OR_YOU_WILL_BE_FIRED.ReactCurrentOwner;

function readContext(Context, observedBits) {
  var dispatcher = currentOwner.currentDispatcher;
  if (dispatcher === null) {
    throw new Error('react

[2019-01-17 15:57] hbroer commented on #13525
Let the IE die! Don't support absolutely outdated browsers. There is no reason, even for restrictive companies, not to switch to an up to date browser. You will see that IE11 in your stats until you and the web stops supporting it.

[2019-01-17 16:31] j-f1 commented on #13525
@hbroer Legacy software?

[2019-01-17 16:55] jsdw commented on #14480
They aren't supposed to as a general rule to avoid bugs, but as long as all of the same hooks are called in the same order each time, it'll work as expected.

[2019-01-17 17:33] ngyikp commented on #14606
This blog post talks about the name too: https://reactjs.org/blog/2016/09/28/our-first-50000-stars.html#fbolt-is-born

[2019-01-17 18:21] ljharb commented on #13525
@hbroer nobody stays on an older browser because their sites still work, they do it because they either have no choice, or don’t know how to update. Breaking a site for these users is exceedingly hostile and leaves them not with an updated browser, but with nothing.

[2019-01-17 18:39] jdfm commented on #14374
I was going to post this on https://github.com/facebook/react/issues/2816, but I noticed this open issue, so, here it goes...

What if we use a structure like:

[code]

In my head, `ListItems` can satisfy a number of these properties:
- it can change between builds of the application (codebase changes over time)
- it may use dynamic contents to be created the first time, but it's never mutated dyn

[2019-01-17 20:32] raiskila opened #14614 "Define validity period of setters returned by useState"
Hi,

When using `useEffect()`, `useMemo()` or `useCallback()`, we can use the 2nd argument to avoid rerunning the effect or updating the value unnecessarily if the values it depends on haven't changed.

Should I include setters returned from `useState()` in the 2nd argument of these hooks? E.g.

[code]

I'm wondering what the exact validity guarantees are around the setters returned by `useState()

[2019-01-17 20:57] loubacking commented on #14606
@adamzerella I was thinking to use the same video to respond it 😄

[2019-01-17 21:21] dakom commented on #14595
I actually came to the Issues to file something else, but this caught my eye since I was just thinking about it earlier today. In fact I'm just going to copy-paste what I wrote [elsewhere](https://github.com/WebReflection/neverland/issues/10#issuecomment-455161900)

I like the idea of "choose your framework" but I think that should be abstracted at a higher level...

In other words, it should be d

[2019-01-17 21:22] dakom commented on #14595
Basically, "higher order dependencies" (is that a term?)

[2019-01-17 21:25] dakom opened #14616 "memo vs. useMemo"
I'm a little confused about the relationship between `memo()` (the core API function) and `useMemo()` (the hook).

Specifically, can `memo()` be implemented in terms of `useMemo()` ?

I tried this but it doesn't work, it just keeps re-rendering:

[code]

[2019-01-17 21:31] gaearon commented on #14595
This is an old discussion and is unrelated to Hooks per se. You can apply the same to components — “why do they need to depend on React?” And then ask people to pass React to a wrapper function.

In practice it makes for an annoying API and doesn’t buy much. You’re still relying on semantics chosen by React — whether for components or Hooks. That’s what importing from `react` package is meant to e

[2019-01-17 21:31] #14595 closed

[2019-01-17 21:31] dakom commented on #14616
Also, the [react docs](https://reactjs.org/docs/react-api.html#reactmemo) state:

Can someone please clarify what sort of bugs and how to avoid them? Thanks!

[2019-01-17 21:37] gaearon commented on #14616
`props` itself is a new object on every render. `memo()` does shallow comparison by default. You can think of it as `useMemo` with a list of all your props like `[props.foo, props.bar, props.foobar]` except you don't need to type them all manually.

This is about `shouldComponentUpdate` but the issue is similar: https://github.com/reactjs/reactjs.org/issues/1149. Basically — if your component brea

[2019-01-17 21:56] dakom commented on #14595
It's sad to hear previous discussions got heated :\ I assume you don't mean fiery with the passion of helping eachother out and lifting everyone up. Sucks when it gets to the point of making something fun and exciting into an emotional drain. Been there and it's not at all where I want to take this topic.

Do you mind explaining how "module aliasing" works or pointing out a good article? I tried g

[2019-01-17 22:17] dakom commented on #14616
Yup, this seems to work. Thanks!

[code]

I have a test case here fwiw: https://codepen.io/dakom/pen/xmNepg

Feel free to close the issue :)

[2019-01-17 22:21] dakom commented on #14616
(by "work" I mean for a simple case, not as exhaustive of course)

[2019-01-17 22:24] gaearon commented on #14616
Yeah — the problem with that is it'll break if order or key changes or if you add or remove keys.

[2019-01-17 22:24] #14616 closed

[2019-01-17 22:59] dakom commented on #14595
Thanks for the link to Preact's docs on aliasing! Looks very straightforward and I was not aware of that possibility. I should have realized a path is a path and aliasing package names will work just as well. Excellent!

So it sounds like it's safe as can be for hook-composition-library authors to build against React now, and plan at some point to depend on and alias the react-hooks alone once all

[2019-01-18 01:00] gaearon commented on #14606
Note I'm not saying this is where it came from — just my first associations with it. Need to find how Tom came up with the name. :P

[2019-01-18 02:31] #14607 closed

[2019-01-18 02:37] Jessidhia opened #14619 "Inefficient `aria-current` attribute set when the argument is `false`"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Rendering an HTML element with `aria-disabled={false}` produces an HTML element with `aria-disabled="false"`, but that is a _truthy_ `aria-disabled` value.

https://codesandbox.io/s/71jq2zoyoj

**What is the expected behavior?**

When `aria-disabled={false}` is given, the attribute should be either o

[2019-01-18 02:40] gaearon commented on #14614
Yes — so it doesn't matter in practice.

We may offer a lint rule that may ask you to include them for consistency but they're going to stay the same between renders.

[2019-01-18 02:40] #14614 closed

[2019-01-18 02:41] gaearon commented on #14605
`react-addons-test-utils` doesn't work in React 16.
Please make sure that you read migration instructions when you update React.

https://reactjs.org/blog/2017/04/07/react-v15.5.0.html#react-test-utils

[2019-01-18 02:41] #14605 closed

[2019-01-18 02:47] gaearon commented on #14584
It actually used to work the way you describe, but we intentionally separated them and made them invisible to components. The rationale is what @jamiewinder described — making them visible in components led to bugs caused by particular assumptions about usage.

For example you may start with 1:1 mapping between key and ID:

[code]

 but then might want to show comments with the same ID in one arra

[2019-01-18 02:47] #14584 closed

[2019-01-18 02:51] gaearon commented on #14580
Why not this if you need it?

[code]

I don't think what you're asking for would work because the object creation is delayed until the commit phase. If you don't want to delay it, you might as well create one yourself early. But since you *might* want to delay it — that's what the API lets you do.

[2019-01-18 02:51] #14580 closed

[2019-01-18 02:53] mishra1947 commented on #11027
same issue is coming with  onMouseDown event.
Warning: Expected `onMouseDown` listener to be a function, instead got a value of `boolean` type.
onMouseDown={(e)=>this.setSwipedIndex(e, index)}

[2019-01-18 02:55] gaearon commented on #14577
The existing introspection is already flaky and is painful to maintain. I don't think extending that to guess Suspense state from Fibers is something we'd want to support even as a temporary measure. We need to seriously rethink the testing strategy going forward.

[2019-01-18 02:58] gaearon commented on #14542
I think `useReducer(reducer, undefined, { type: 'INIT' })` is what we suggest so that strong typing can work.

[2019-01-18 03:01] gaearon commented on #14534
Providers intentionally don't work this way because the notion of tree structure actually has a meaning (unlike Hooks). Your proposals makes it more difficult to move code between components because any Hook could contain a `useProvider` call inside, invisibly affecting everything below.

[2019-01-18 03:01] #14534 closed

[2019-01-18 03:03] gaearon commented on #14508
I think what you're saying is "React should make it easier to trace where the context value is coming from". Like a stack or something. That would clue you in earlier.

[2019-01-18 03:04] gaearon commented on #14502
Do you mind creating a failing test for this please?

[2019-01-18 03:05] gaearon commented on #14494
It should tell you which component is doing that. That component has a bug which needs to be fixed.

Please provide a reproducing example if you can't fix the bug on your own. Thanks!

[2019-01-18 03:06] gaearon commented on #14480
This is not something we intend to support. You can split a single item in its own component and then it'll "just work".

[2019-01-18 03:06] #14480 closed

[2019-01-18 03:08] gaearon commented on #14478
It seems like if some code is unreachable then it doesn't matter because technically it won't violate rules of Hooks. They'll never be broken in practice.

[2019-01-18 03:08] #14478 closed

[2019-01-18 03:08] gaearon commented on #14475
Happy to take a fix.

[2019-01-18 03:09] gaearon commented on #14457
We don't plan to change this. Thanks for suggestion.

[2019-01-18 03:09] #14457 closed

[2019-01-18 03:09] rabbitooops opened #14620 "How will react solve nested contexts?"
I have lots of contexts and I have got to write in this way, so ugly! It hinders my work now. Such design makes it almost unusable.
[code]
[code]

[2019-01-18 03:10] gaearon commented on #14452
Hard to say more without a repro case.

[2019-01-18 03:10] #14441 closed

[2019-01-18 03:11] gaearon commented on #14436
We've seen too many false positives so we decided not to lint inside classes. This will immediately fail with a clear runtime error anyway so it's probably not worth it.

[2019-01-18 03:11] #14436 closed

[2019-01-18 03:12] #14431 closed

[2019-01-18 03:13] gaearon commented on #14439
I wouldn't recommend mocking the dispatcher for testing Hooks. Instead I'd recommend putting a Hook into an actual one-line component in your test, and using React to render it. Then you know you're actually testing how your Hook will work, and won't get tripped by implementing wrong semantics.

[2019-01-18 03:13] #14439 closed

[2019-01-18 03:13] gaearon commented on #14413
Yes, this is a known limitation / design choice.

[2019-01-18 03:13] #14413 closed

[2019-01-18 03:14] gaearon commented on #14404
We'll need a full reproducing project with exact instructions to reproduce. Thanks.

[2019-01-18 03:21] gaearon commented on #14404
Seems like it doesn't work with a definition like this:

[code]

or like this:

[code]

but works with a named function:

[code]

We strongly encourage you to give name to your components (so that they show up in DevTools and warnings properly). But we should probably fix this.

[2019-01-18 03:22] mitchellhamilton commented on #14502
Done in #14621

[2019-01-18 03:30] stevenbuccini commented on #14502
Hey, I'd like to pick this up issue if it's not claimed yet.

[2019-01-18 03:31] gaearon commented on #14354
I think the request here is the same as https://github.com/facebook/react/issues/14050.

[2019-01-18 03:31] #14354 closed

[2019-01-18 03:32] #14185 closed

[2019-01-18 03:33] exogen commented on #13586
Shouldn't this be kept open (or is there another issue tracking this?) even if nobody has any implementation ideas yet? It's totally reasonable to expect `<option><React.Fragment>Foo</React.Fragment></option>` to work, considering the developer knows that the output HTML would in fact be valid.

[2019-01-18 03:33] gaearon commented on #14091
Fixed by https://github.com/facebook/react/pull/14567

[2019-01-18 03:33] #14091 closed

[2019-01-18 03:34] #14075 closed

[2019-01-18 03:38] gaearon commented on #14019
We added a warning for this.

[2019-01-18 03:38] #14019 closed

[2019-01-18 03:58] chenesan commented on #14577
After some discussion in airbnb/enzyme#1917 I think we will not rush to build an api for waiting lazy component loading. But this is still worth to do.
For now I could think of some ways to make it testable:

1. have an handler api on Suspense like `onLoad` when something (or all of them) get loaded successfully / failed.

2. have a way to preload(or wrap/mock) `React.lazy` or the returned lazy co

[2019-01-18 04:14] Penspinner commented on #14620
The upcoming Hooks API provide a different way to consume contexts.

https://reactjs.org/docs/hooks-reference.html#usecontext

[2019-01-18 04:17] rabbitooops commented on #14620
Thank you. But what about provider?

[2019-01-18 04:42] Jessidhia commented on #14580
Your snippet creates a new object every time, useImperativeHandle follows the rules of useMemo.

[2019-01-18 05:02] milesj commented on #14620
I'll be honest. If you're encountering this kind of implementation, then your architecture design seems poor and you probably shouldn't be using React context.

[2019-01-18 05:10] rabbitooops commented on #14620
Nope, I'm designing a new store container.  It needs to work with context in react.
https://github.com/rabbitooops/rako

[2019-01-18 05:17] milesj commented on #14620
What does that library have to do with 5 layers deep of providers/consumers?

[2019-01-18 05:19] rabbitooops commented on #14620
Because it supports inject multiple store to react instead of single store solution like Redux.

[2019-01-18 06:11] rabbitooops commented on #14620
So context API is only friendly to single store solution like redux.

[2019-01-18 06:46] DurgaPammi opened #14622 "I got it working using `15.3.2` so something must have changed in `15.4.0` to make brunch fail."
hi,

i got the same issue like this

can you please anyone knows about this???

react version : 16.4.0
react-dom: 16.4.0
react-addons-perf:  15.4.2

im getting the error like ::::
Module not found: Can't resolve 'react-dom/lib/ReactPerf' in 'C:\Users\Project\node_modules\react-addons-perf'

[2019-01-18 07:43] zaynv opened #14624 "Why can actual reducer not take initial state instead of passing second arg to useReducer"
**Do you want to request a *feature* or report a *bug*?**

I don't know if this is intentional design or if its a bug. Someone in Reactiflux asked about this so i was curios

**What is the current behavior?**

Reducer passed to `useReducer` cant take initial state. Instead, you need to pass second arg

**If the current behavior is a bug, please provide the steps to reproduce and if possible a mini

[2019-01-18 09:30] gaearon commented on #14580
You can `useMemo` directly if that bothers you. But don't forget that every time you write `<div />` you also create a new object. I don't see people being as worried about doing that.

[2019-01-18 09:32] gaearon commented on #14502
Sure.

[2019-01-18 09:34] DurgaPammi commented on #14622
u mean do i need to install react version :16.5 and react-dom :16.5

[2019-01-18 09:50] rabbitooops commented on #14620
Imagine there are three stores theme, user and counter.
[code]

[2019-01-18 10:08] gaearon commented on #14620
What would your ideal syntax be?

[2019-01-18 10:11] rabbitooops commented on #14620
Use context.write, support consuming multiple contexts without nesting.

[2019-01-18 10:23] gaearon commented on #14622
You always need to have matching versions of all React packages so yes.

[2019-01-18 10:24] gaearon commented on #13586
As a feature request, sure. Please file a new issue or search if one exists?

[2019-01-18 10:40] gaearon commented on #14620
Consuming multiple contexts without nesting is already supported.

Context.write has an RFC open for it. We don't know if it'll get through because it raises some very complicated questions. But while the RFC is open I'm not sure what's actionable in this issue. Do you have something to add beyond what's already in the RFC motivation?

[2019-01-18 10:44] gaearon commented on #14577
The whole notion of "waiting" for Suspense in tests is suspicious to me. Your components are available synchronously so why wait (unless you specifically test the placeholder)?

If the issue is with React not giving you a mechanism maybe https://github.com/facebook/react/pull/14626 can fix it.

[2019-01-18 11:02] dogloves opened #14627 "Chinese Document Website Error Reporting Affects Use"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2019-01-18 11:54] aluminick commented on #14317
I fixed this error by installing react-dom with same version as react

[2019-01-18 12:15] rabbitooops commented on #14620
I wanna ask a question. Why doesn't react support consuming multiple contexts in class? Seems hooks API has lots of issues to be solved and is very unstable right now.😨🧐😥🤕

[2019-01-18 13:34] chenesan commented on #14577
Or, is it possible to reset the dynamic loading function into lazy compoment so we can make it load with the synchronous code in test env?

[2019-01-18 14:45] chenesan commented on #14170
Hi @gaearon , sorry for pinging here. In airbnb/enzyme#1975 we are also stuck with that the shallow renderer doesn't support rendering Suspense.
I'm not sure what should the expected result of shallow render `Suspense` be (Should the fallback / React.lazy mechanism works here? Or we can have some options in `ShallowRender` to handle this?). But I think there are some use cases that people will wan

[2019-01-18 14:56] lorenzomigliorero opened #14629 "useImperativeHandle should warn when second arg isn't a function"
I've noticed a strange bug with the react redux `forwardRef` opt-in.
If i use it with a connected class component, everything is ok:
[code]
If i use it with a connected functional component that use `forwardRef` with `useImperativeHandle`, i obtain a strange error: `create is not a function` in `commitHookEffectList` `react-dom` method.

[code]

I create a codepen to reproduce the issue: https://c

[2019-01-18 15:08] rabbitooops commented on #14620
I am going to implement a `StoreProviders` which can nest multiple contexts automatically.
[code]
Thanks for your answer Dan! :)

[2019-01-18 15:18] Jessidhia commented on #14170
I suspect that until Buzz (or was it Fizz?) is ready, you'll have to do with just rendering the fallback. The current server renderer is synchronous.

[2019-01-18 15:23] dorianrod opened #14630 "componentDidMount inside a class causing a memory leak"
Hi,

I have a very weird memory leak that seems to be related to componentDidMount declaration. Memory is not freed after unmounting component.

### Used code
Version: react 16.7
Mode: developper or production (same behaviour)

Here is the code I use to hide or display a list of items
[code]

### Steps to reproduce

CASE 1
Use google chrome and display the performance monitor to study JS Heap size

[2019-01-18 15:34] TrySound commented on #14620
@rabbitooops https://github.com/reactjs/rfcs/issues/101

[2019-01-18 15:37] zhujinxuan commented on #14620
@rabbitooops How about using a single store and Symbol as keys to mimic multi-layers of store?

[code]

Or in a imperfect way in javascript:

[code]

[2019-01-18 15:51] rabbitooops commented on #14620
@TrySound Different: `App.useProvider`

[2019-01-18 15:56] rabbitooops commented on #14620
@zhujinxuan I am sorry, I can't get you.

[2019-01-18 16:17] hamlim commented on #14629
I believe the issue here is that `useImperativeHandle` expects the second argument to be a function that returns the reference:

[code]

See: https://reactjs.org/docs/hooks-reference.html#useimperativehandle for more information about the API of the hook.

Maybe the error thrown could be more clear?

[2019-01-18 16:47] YosbelSardinas-minted commented on #14620
@zhujinxuan You can use [Unstated](https://github.com/jamiebuilds/unstated), example:
[code]

[2019-01-18 18:40] lorenzomigliorero commented on #14629
You're right, `useImperativeHandle` accept a function as first argument.
A warning on wrong type argument could be a good idea.

[2019-01-18 19:01] gaearon commented on #14620
We're preparing it for a release within a week or two — not sure why you inferred that. They'll be ready soon although if you want to be safe, please wait until a stable release.

Calling Hooks in a loop (as you do in `forEach`) is generally not allowed. It's easy to cause issues this way.

Both `useProvider` and `useShouldComponentUpdate` are problematic as Hooks (which is why React doesn't have

[2019-01-18 19:01] #14620 closed

[2019-01-18 19:54] YosbelSardinas-minted commented on #14620
@gaearon OT: There is any plan to add something like `useRender` or something to have more control of rendering? eg:

[code]
The second arg has the same role of `useEffect` hook.

[2019-01-18 20:22] gaearon commented on #14620
`useMemo` is your friend.

See second snippet in https://reactjs.org/docs/hooks-faq.html#how-to-memoize-calculations.

[2019-01-18 20:48] Aberman12 commented on #14629
Ill take this issue on

[2019-01-18 21:14] gaearon commented on #14629
Sire

[2019-01-18 21:20] #14627 closed

[2019-01-18 21:22] gaearon commented on #14630
React currently retains the previous version of an unmounted tree until next time it updates. If you flip back and forth between showing and hiding the same tree, that doesn't give it a chance to be cleaned up. See https://github.com/facebook/react/issues/12420#issuecomment-377984529.

[2019-01-18 23:07] nhunzaker commented on #14619
Hey! I'm a bit confused about the relationship between `aria-current` and `aria-disabled`. Is this a bug with `aria-current`, `aria-disabled`, or when they are used together?

Just for my understanding. Why? Is it because it assigns an attribute unnecessarily?

[2019-01-18 23:17] nhunzaker commented on #14612
Hey @naijab! This issue board is focused on issues directly related to React. We aren't familiar with the Fabric API, and aren't equipped to help debug.

You might be able to find someone familiar with Fabric on the Reactiflux discord chat or on other community resources. Check out a list of them here:

https://reactjs.org/community/support.html

[2019-01-18 23:17] #14612 closed

[2019-01-18 23:31] nhunzaker commented on #14512
@Jessidhia what relevant properties would we need to add?

[2019-01-18 23:35] nhunzaker commented on #14505
I think @jquense is spot on here. Using `shouldComponentUpdate` to block a component update is the best approach. React can not know if the `render` function is dependent on new props.

Thanks everyone for weighing in!

[2019-01-18 23:35] #14505 closed

[2019-01-18 23:39] nhunzaker commented on #14496
I believe @mmarkelov is correct. You'll receive this error if you try to render an object:

https://codesandbox.io/s/zr0pw478rl

It's possible that data you were displaying in a component was changed into an object and is now invalid to render.

Thanks everyone for weighing in, and happy debugging!

[2019-01-18 23:39] #14496 closed

[2019-01-18 23:42] nhunzaker commented on #14483
Interesting! @japgolly is there anyway you could produce an example that reproduces this issue using https://codesandbox.io/s/new?

[2019-01-18 23:43] nhunzaker commented on #14465
Gross. @gaearon do you know if this is intentional?

[2019-01-18 23:45] nhunzaker commented on #14443
I think this is a neat idea and would be easy to add. Filing this as a good first issue.

[2019-01-18 23:48] nhunzaker commented on #14371
I think that's the right call too. Closing this out. If it turns out, after confirming on `react-fullpage`, that there is a bug in React, feel free to refile or open this issue.

[2019-01-18 23:48] #14371 closed

[2019-01-18 23:58] aweary commented on #14443
We were just discussing this in https://github.com/facebook/react/pull/14572

[2019-01-19 00:06] charBap commented on #14549
Can I take this?

[2019-01-19 00:08] charBap commented on #14442
Can I take this?

[2019-01-19 01:52] vp2177 opened #14635 "UMD build doesn't work via import in the browser (TypeError: Cannot set property 'React' of undefined)"
When `import`ing the UMD build (both production and development) in the browser – that is, from a `<script type="module">` – an error is thrown: `TypeError: Cannot set property 'React' of undefined`.

The relevant code:

[code]

Throws on line 15 as `global` ≣ `this` is `undefined` in a module context.
Is this as simple to fix as passing `this || self` on line 16, or is there a catch?

**Do you wa

[2019-01-19 03:40] chenesan commented on #14170
Shallow render is different with server renderer I think. I'm just wondering how we can support Suspense in shallow renderer.

[2019-01-19 06:58] BooMiny opened #14637 "求求你们别更新了，学不动了～～～～（＞＿＜）～～～～"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2019-01-19 07:43] xobotyi commented on #14549
@charBap what do you mean? >_>

[2019-01-19 07:45] yanglin5689446 commented on #14549
in first render, `<MyComponent />` being rendered and mounted, causes `componentDidMount` to raise a new error, which then be caught by `componentDidCatch` of `<ErrorBoundary />`.
`componentDidCatch` then calls `setState` to change the state of `<ErrorBoundary />`, which triggers re-render (state change), so `<MyComponent />` gets re-rendered, too, thus triggers `componentDidMount` to throw a new

[2019-01-19 08:37] #14637 closed

[2019-01-19 10:53] oskarv commented on #14404
Great catch!
I was only looking at the config not the actual code.

[2019-01-19 13:16] stevenbuccini commented on #14502
Potentially relevant PRs:  #12985, #14182.

In this case, when we add a new Provider, the provided value is being stored on a new Thread ID as described in #14182.  This wouldn't be a problem, except it's clearly not being cleaned up correctly when the rendering is interrupted by an error.

This is my first time diving into the React internals, so I'm hoping people can point me a couple of things

[2019-01-19 15:48] rabbitooops commented on #14620
@gaearon  May I ask a question, is it necessary to be so strict for hook?

There is a difference between `useProvider` and `App.useProvider`.
`App.useProvider` and `App.useShouldComponentUpdate` can only be used when users write them on the top level or pass `App` to specific hooks on purpose, it's easy to know if it has potential effect because such hooks always need to get `App` parameter.

Norm

[2019-01-19 16:11] gaearon commented on #14442
Sure.

[2019-01-19 16:42] loryman commented on #12548
@mmarkelov is there any updates on this? I'd like to help if you want

[2019-01-19 18:02] mmarkelov commented on #12548
@loryman I just got some tests fails - it was a big challenge. Of cause you can help. It will be nice. You can check my actual [branch](https://github.com/mmarkelov/react/tree/Babel_7) also I can add you as  collaborator.

[2019-01-19 20:56] pronebird commented on #14564
That’s exsctly the bug I am reporting that toArray and count act different

[2019-01-19 21:19] gaearon commented on #14635
It's not expected that UMD imports would work with `import` — you want ESM builds (which we don't offer yet).

[2019-01-20 00:05] interactivellama commented on #12016
@gaearon On a related note, is there a problem with undefined custom elements tag names in JSX? That is, a hyphen in the tag name but an undefined definition/no JS class.

Do custom elements require definition in JSX/React? There's no requirement for it in the W3C spec: https://w3c.github.io/webcomponents/spec/custom/#upgrading-elements-after-their-creation

Example code: https://jsfiddle.net/inte

[2019-01-20 01:05] carlosrberto commented on #14542
What do you think about #14566 @gaearon ?
Any chance of these changes be introduced ?

[2019-01-20 01:12] gaearon commented on #14542
Did you see my comment above?

[2019-01-20 01:16] ckknight commented on #14542
I don’t like the idea of an untyped action being dispatched implicitly without the ability to prevent that.

[2019-01-20 02:06] carlosrberto commented on #14542
Yes I see! And I understand that this is the recommended way.

I just still think that an initialization action could be dispatched automatically, like in Redux when we create a store.

But I understand if this is not the desired behavior for this hook.

[2019-01-20 02:12] carlosrberto commented on #14542
Could be changed to a typed action (`{ type: 'INIT' }`)

[2019-01-20 03:48] chenesan commented on #14577
Ah, I found out that to test lazy synchronously we can just handle it with mock utility in jest or sinon, no need to have `resetLoader`.

[code]

Still thanks for discussion :)

[2019-01-20 03:48] #14577 closed

[2019-01-20 12:46] dorianrod commented on #14630
Thank you for your answer. If i understand well, it's an optimisation in case of showing/hiding elements.

What happens if the child is never flipped back? For instance, you can have two tabs A and B.
First you display A, then you display B and go back to A. When you display B, you display a heavy tree, and when you hide B, you replace the heavy content of tab B with a light placeholder.
So if i f

[2019-01-20 13:58] gaearon commented on #14577
Node doesn't have `import()` so you already use *something* to run in Node. Maybe some Babel plugin. I'm suggesting to use a different plugin that would transform it into a sync thenable.

[2019-01-20 14:55] karmiy opened #14640 "v16.7 Docs 'useImperativeHandle'?"
HOOKS(PREVIEW)
Hooks API Reference：
why call useImperativeHandle?is not useImperativeMethods?

[2019-01-20 15:20] jamesvsshark commented on #14091
Thanks for the fix! When will this be released into alpha? Sorry for the noob question.

[2019-01-20 16:41] Aliin commented on #14443
As far as I could tell - I have been trying around a bit on a branch on my fork - the simplest way is just to compare the versions in a warning that relies, for example, on the version string passed as attribute of the `React` object in the `React.js` file.

`ReactDOM` does not have something like that, at least at first glance, so I'd like to add a version attribute there, too.

And right now the

[2019-01-20 20:30] gaearon commented on #14640
It was renamed in the latest alpha (`alpha.1`)

[2019-01-20 20:30] #14640 closed

[2019-01-20 20:37] thisismydesign opened #14641 ""Invariant Violation: Unable to find node on an unmounted component" on `react-test-renderer`'s `renderer.create` when react package versions don't match"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

[code]

There're many people complaining about this issue in many different contexts. It seems to be coming from `findDOMNode`. The discussions are very vague and varied, e.g.
- https://stackoverflow.com/questions/52734483/reactdom-render-unable-to-find-node-on-an-unmounted-component-after-react-upgr

[2019-01-20 22:16] hyzhak commented on #14254
@threepointone is there any updates about this issue?

[2019-01-21 03:37] teleginzhenya commented on #14443
@Aliin probably in order to make code cleaner, since React version used in different packages.
@aweary in which cases warning should be thrown? Diff even in path, or minor version?

[2019-01-21 12:15] gaearon commented on #14629
Yeah, it was renamed.

[2019-01-21 12:17] vaclav-zeman opened #14642 "Refs don't get attached to a component inside Suspense"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When you want to attach `ref` to a component that is lazy loaded and is rendered inside `<Suspense>`, the `ref` is just always null.

I've tried both `React.createRef` and normal `ref={console.log}` callback but it's just never called.

**If the current behavior is a bug, please provide the steps to re

[2019-01-21 12:42] gaearon commented on #14642
Here's a fixed version: https://codesandbox.io/s/10kr7835vj

There's a few things going on here:

* `fallback` should be an element, not a function. (This wasn't important, just thought I should note.)
* You gave ref to a function component. That wouldn't work without `forwardRef` in it. (I guess there was no warning because of laziness. I'll look into making it warn in that case too.)
* `console.

[2019-01-21 12:42] #14642 closed

[2019-01-21 13:42] vaclav-zeman commented on #14642
Ah, I see. I wasn't aware of `forwardRef` till now. Thanks a lot! :)

[2019-01-21 13:52] AhmedElywa commented on #14629
yes it work good after rename it where i can get changes between alpha version ?

[2019-01-21 14:55] loryman commented on #12548
Thank you! I cloned your branch and i've started working on it. I can open a PR to your repo with all the changes

[2019-01-21 16:01] joselcvarela commented on #14532
:+1:

[2019-01-21 16:11] gaearon commented on #14629
Commit log. We don't write changelogs for alphas.

[2019-01-21 16:56] gaearon commented on #14629
@Aberman12 I'm taking this in https://github.com/facebook/react/pull/14647 since we want to get Hooks out sooner.

[2019-01-21 16:56] cchawn commented on #6544
Plus one – running into this issue as well
react 16.6.3

[2019-01-21 17:16] thisismydesign commented on #14641
@gaearon

The usage in the issue comes from the seemingly widely used `jest-styled-components` package's most basic example: https://github.com/styled-components/jest-styled-components#usage

I'm not sure how would I use `ReactDOM.findDOMNode`. Can you give me an example? Tried the following:

[code]

[2019-01-21 17:41] aweary commented on #14443
Based on the conversation in https://github.com/facebook/react/pull/14572 it's not clear that this is actually something we want to do. We'll need some input from @gaearon and/or the other core team members.

[2019-01-21 17:45] MikuZZZ commented on #6544
Same problem here.
React 16.4.1

[2019-01-21 18:01] thisismydesign commented on #14641
So I should take this to them I suppose. Thanks. For the record, as mentioned in the issue, it works with the right combination of dependencies.

[2019-01-21 19:44] #14629 closed

[2019-01-21 19:49] Aberman12 commented on #14629
alright np

[2019-01-21 20:08] lzszone commented on #14512
@Jessidhia You're right, I don't know the difference when `keydown` event between `input` element and normal DOM element.

@nhunzaker It's my problem, the synthetic event works fine.

Thank you guys.

[2019-01-21 20:33] mjhoffm2 commented on #14443
Based on what @gaearon said in that issue

The ideal scenario is that React works fine with react-dom as long as the major version matches.  In that scenario, we wouldn't need warnings when there is a mismatch in the minor/patch numbers.  However, in my original issue, this is unfortunately not the case and there can be silent breaking changes between minor versions.  I don't think it is realistic

[2019-01-21 20:34] claygiffin commented on #6544
Also running into this same issue, very frustrating.
React 16.7.0

[2019-01-22 03:41] lffg opened #14655 "[Hooks API] Content of the portal being removed when the props change"
Hello,

After playing around with the new React Hooks API, I think that I found a new bug:

## What is the current behavior?

While using the version with hooks (`16.8.0-alpha`), when a `prop` of a component that uses a _react portal_ is changed, the portal content simply disappears, as can be seen in the following example:

**https://codesandbox.io/s/rjy02x0l0m**

_(Click on the `++` button to te

[2019-01-22 07:13] gx761 commented on #14598
After researching into the sourcecode, I found the old stack reconciler also batched the processing of dom changes. So there won't be much difference between react 15 and react 16 sync mode in terms of dom processing.
Code of react 16 is not easy to understand, but it is quite instructive to learn from it.

[2019-01-22 07:13] #14598 closed

[2019-01-22 11:00] tanohzana opened #14656 "Props shortcut in HTML/JSX writting"
## Do you want to request a *feature* or report a *bug*?
Hello, I would like to requets a feature that has to do with the way the HTML part of the JSX is written.

## What is the current behavior?
Today, to pass a prop that has the same name as the variable that carries the information, here is the behavior:

`<Forum subjects={subjects} />`

## What is the expected behavior?
I (but not solely I, I

[2019-01-22 11:39] muqg commented on #14656
JSX also treats attributes with no value as booleans like:
[code]
Is the same as:
[code]
Maybe surrounding the attribute name with braces would be a good way to differentiate the behaviour and allow what you are asking for to work without conflicts:
[code]
To be a syntatic sugar for:
[code]

[2019-01-22 11:57] hamlim commented on #14655
This seems to be expected behavior. When the Dialog component is re-rendered it re-creates the `el` mount element. However `useEffect` was only called on the first render because of the second argument which is an empty array. So we never attach the `el` element to the dialog root element, so its not visibly within the document.

To fix this you could use a `useRef` hook to store the `el` mount el

[2019-01-22 12:03] tanohzana commented on #14656
Definitely, that'd be great !

[2019-01-22 12:10] lffg commented on #14655
Thanks for the clarification. 😄

[2019-01-22 12:10] #14655 closed

[2019-01-22 12:56] joladubu commented on #12214
Thanks @abdulkhaliquem9  U saved my ass

[2019-01-22 15:38] DAB0mB opened #14658 "`useCallback()` & `useMemo()` automatically with a Babel Plug-in"
**Do you want to request a *feature* or report a *bug*?**

Feature request.

**What is the current behavior?**

We need to `useCallback()` and `useMemo()` which seems redundant and can cost us in performance if not used right, which is likely to happen.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed

[2019-01-22 17:03] jamesseanwright commented on #14091
@jamesvsshark [Within a couple of weeks](https://github.com/facebook/react/pull/14567#issuecomment-456125384), it would seem!

[2019-01-22 17:58] kafein commented on #14658
What about @babel/preset-react ? Thus react native also take advantage of this plugin.

[2019-01-22 19:19] slavafomin opened #14659 "Deleted"
Deleted

[2019-01-22 20:38] lisandrolan opened #14660 "get the error Cannot read property 'props' of undefined in getDerivedStateFromProps"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
Im getting the error "Cannot read property 'props' of undefined" in method getDerivedStateFromProps

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have d

[2019-01-23 01:56] LoongFei opened #14662 "com.facebook.react.bridge.ReadableNativeMap cannot be cast to java.lang.String"
react:16.6.3
react-native: 0.57.8

[2019-01-23 02:56] hg-pyun commented on #14347
Do you have a roadmap(or abstract date) for when we're use it? :D

[2019-01-23 03:26] ablikim915 opened #14663 "React website bug！！！"
When i learned react at react website ，found this problem .

![image](https://user-images.githubusercontent.com/15664144/51581214-14bf7c80-1f02-11e9-9c9d-783c9017c837.png)

The interaction in this area has failed. unable to open.

url: https://react.docschina.org/docs/thinking-in-react.html

[2019-01-23 08:03] jinrichardJIN commented on #14663
I have the some of this bug

[2019-01-23 08:13] CoolRice commented on #14663
@ablikim915 , you are so funny!
you should report the issue to docschina, the site(https://react.docschina.org/) you looked is built by them.

[2019-01-23 08:16] Mhmdrza commented on #14663
This is NOT react website. React website domain is reactjs.org

[2019-01-23 08:30] dmitriid commented on #13525
I see here a person with blanket ad hominem attacks.

No, it shouldn't.

If you took one seconds and looked into browserlist defaults, you'd be surprised. Instead, you resort to ad hominem attacks and school cafeteria-level insults.

[2019-01-23 08:33] desmap opened #14664 "react-router can't pass Hooks"
This is actually an issue of react-router https://github.com/ReactTraining/react-router/issues/6555 but since it's the major routing lib I want to make you aware that there are issues when you want to pass custom hooks via props through your component tree.

Since routing (with react-router) is a regular use case and React Hooks is an easy/elegant way to manage state through the app they should wo

[2019-01-23 08:39] yanglin5689446 opened #14665 "Introduce github issue managing tools"
There are many open issues that haven't been referenced or replied for months (even for years),

and it seems that some of these issues have already been resolved but nobody close them.

Maybe introducing some managing tools like [probot](https://github.com/probot/probot) to automatically close these stale issues will be a good idea?

[2019-01-23 08:53] hbroer commented on #13525
![browsers](https://user-images.githubusercontent.com/14164004/51594241-40d40100-1ef4-11e9-9f7d-d30bb56d4cd4.png)

If u want support old crap add poly fills. No reason not to code for the future and the present. Supporting old tech makes web apps more fat and slower than needed.

P.s. i see a person who cant read sarcasm and don't care about smilies ^^

[2019-01-23 09:03] dmitriid commented on #13525
@hbroer You're showing that IE11 is the present, so we are expected to be coding for that.

And, once again. See the *default* value at https://browserl.ist.

Yeah, no. This is a common tactic employed by trolls and playground bullies. "What?! I didn't insult you! It was just a joke!".

[2019-01-23 09:03] ljharb commented on #13525
0.20% of people on the planet, even filtered by "those who use the internet", is 6.4 million people. Percentages are utterly irrelevant. Code for humans; the past and the future, and your bundle size, doesn't matter.

[2019-01-23 09:13] rovansteen commented on #13525
If you want to code for humans bundle size, just like browser compatibility, certainly matters. Users not only expects things to work, it should be fast to load as well.

[2019-01-23 11:41] vnoitkumar opened #14667 "Need to Render 1 Lakh+ list at a time"
**Need to Render 1 Lakh+ list at a time**

**When we render all the list at a time the browser is getting lagged**

We are trying to render a chart with 1 Lakh+ item in an array, where all the items in the array should display in the chart.

Is there is any best way to do it in React

[2019-01-23 11:53] hbroer commented on #13525
Now in 2019 i will use for new projects css grid (which has only experimental support on IE11), and will transpile to ES6 and i don't want deliver polyfills for that outdated Browser. IE11 Users simply get a message: Update your browser or use an alternative.

There are people out there who don't want use java script. You care about them? You don't see that guys in  the stats. And i am not in stat

[2019-01-23 12:04] manigandham commented on #13525
**Compatibility is cleared listed under "trade-offs" in the original post so perfect support for old browsers is already a secondary focus.**

They will require more polyfills and integration if you need to support them but that would be *your choice* to do so. You can also create multiple bundles for different browser targets and deliver the smallest possible JS for each visitor so it won't affec

[2019-01-23 12:54] gaearon commented on #14664
We’ll need a concrete example. It’s not very clear what you mean.

[2019-01-23 13:16] Zaynex opened #14668 "Will dangerouslySetInnerHTML generate more html element ?"
**Do you want to request a *feature* or report a *bug*?**
Hi, React Team. Thanks for your awesome work. I have a problem when using
`dangerouslySetInnerHTML`

**What is the current behavior?**

My example code like this:
[code]

But I got unexpected html that looks like
![image](https://user-images.githubusercontent.com/13745971/51608727-3a28a680-1f53-11e9-9c6a-1b9161b63d67.png)
![image](https://u

[2019-01-23 13:50] gaearon commented on #14663
Sorry, we can't help with a third-party documentation fork. We plan to work on localizing our website soon.

[2019-01-23 13:50] desmap commented on #14664
Ok, example is there and hope it's now clearer : https://codesandbox.io/s/o4wxn5y8k5

[2019-01-23 13:50] #14663 closed, assigned to nobody

[2019-01-23 14:04] gaearon commented on #14664
The code looks fine to me.

[2019-01-23 14:14] markpradhan commented on #14667
Please don't use region specific amounts 😅.
I don't think many people know 1 Lakh is Hindi for 100k.

You can use: [React Virtualized](https://github.com/bvaughn/react-virtualized)
[Tutorial on medium.](https://blog.logrocket.com/rendering-large-lists-with-react-virtualized-82741907a6b3)

[2019-01-23 14:22] gaearon commented on #14347
No specific date, you'll have to use an `ErrorBoundary` class for now.

(Also, we don't think `useError` is the right design for this.)

[2019-01-23 14:22] threepointone commented on #14667
I can't imagine which UI would need to render 1 lakh items at a go. If you do need to render a long list, consider an option like react-virtualized (suggested above), or [react-window](https://github.com/bvaughn/react-window) which is simpler, but appealing for a lot of usecases. You could also consider pagination for your view.

Closing.

[2019-01-23 14:22] #14667 closed

[2019-01-23 14:27] threepointone commented on #14668
Can you isolate this behaviour to a small test case on codesandbox? Are you saying `node.topic` doesn't contain the `br`, but react adds it? I'd recommend logging that value to be sure.

[2019-01-23 14:32] threepointone commented on #14575
Did you delete your codesandbox repro? Please add it so I can have a look. also, can you try with the newer alpha? (16.8.0-alpha.1)

[2019-01-23 14:39] gaearon commented on #14535
I think maybe this check doesn't pass because `_reactRootContainer` field is only used by `ReactDOM.render`:

https://github.com/facebook/react/blob/db695c4d3265d34ead9467b8297e8237bccf2ad6/packages/react-dom/src/client/ReactDOMHostConfig.js#L381-L388

[2019-01-23 14:43] threepointone commented on #14512
I hope the issue's resolved for you @lzszone? closing this, please reopen if not. thanks!

[2019-01-23 14:43] #14512 closed

[2019-01-23 14:58] desmap commented on #14664
Found the bug in my local version, my bad, still thanks for your quick response, closing this issue and btw Hooks and all your guys work is amazing 👍

[2019-01-23 14:58] #14664 closed

[2019-01-23 14:59] gaearon commented on #14575
(This is expected to not work until we release an update to `react-cache` that users the new dispatcher field)

[2019-01-23 15:01] gaearon commented on #14665
We do routine cleanups every few weeks. If we don't close something it's usually because the issue is still vaguely on our radar — even if it has no immediate solution. I don't think we need to lock or auto-close them.

[2019-01-23 15:02] gaearon commented on #14662
Please file in https://github.com/facebook/react-native. Thanks.

[2019-01-23 15:02] #14662 closed

[2019-01-23 15:29] gaearon opened #14669 "Write a test for discrete events in Concurrent Mode"
See this review comment:

https://github.com/facebook/react/pull/14415#pullrequestreview-183478210

[2019-01-23 15:50] debel commented on #14347
Thanks Dan,

Could you point us to some discussion about why `useError` would not be the right design?
(guessing it's because it forces the user to handle the error through a conditional)

[2019-01-23 16:09] gaearon commented on #14347
For the same reason `<Provider>` or `memo()` are not Hooks. They have an explicit meaning in the tree structure (i.e. their position in the tree affects for how errors/bailouts/context propagate up or down). You don't want a random third-party Hook to be able to "hide" `useError()` somewhere in it without seeing it in the tree structure.

[2019-01-23 16:18] debel commented on #14347
Ah, totally makes sense. So, might we except a solution similar to forward refs? e.g. `const MyErrorHandler = React.errorBoundary((props, error) => {...})`

[2019-01-23 16:26] gaearon commented on #14347
Possibly although we also had other thoughts related to unifying this API with multipass rendering (previously known as call/return experiment).

[2019-01-23 17:09] gaearon opened #14674 "Original error message is swallowed in an edge case with render phase updates"
"Cannot set property 'memoizedState' of null"

<img width="639" alt="screen shot 2019-01-23 at 5 09 40 pm" src="https://user-images.githubusercontent.com/810438/51623925-b27e7000-1f31-11e9-857a-67343d99d91b.png">

[code]

[2019-01-23 17:23] klymenkoo commented on #14674
I'd like to work on this issue if you don't mind.

[2019-01-23 19:06] gaearon commented on #14674
I won't promise we won't fix it sooner — but if you can find the cause, it would be appreciated

[2019-01-23 19:17] threepointone commented on #14659
As you wish :P

[2019-01-23 19:17] #14659 closed

[2019-01-23 19:47] gaearon commented on #14674
I found a fix but thanks for the offer.

[2019-01-23 20:10] kaitlynbrown commented on #5632
+1 for this. It would be really nice to have warnings show up in the *warnings* tab in dev tools and not the errors tab.

[2019-01-23 21:49] bvaughn commented on #12695
Context providers and consumers [support a custom display in React DevTools](https://github.com/facebook/react-devtools/blob/38fe9782f82fbcb4f6137e5b920147d35ebe1992/backend/attachRendererFiber.js#L362-L387) like so:

[code]

[2019-01-23 21:49] #12695 closed

[2019-01-24 00:12] aweary commented on #14665
Seems we have consensus 🙂

[2019-01-24 00:12] #14665 closed

[2019-01-24 00:19] aweary commented on #14656
JSX isn't part of React itself and is used by other libraries as well. There is an [official specification](http://facebook.github.io/jsx/) and [repo](https://github.com/facebook/jsx) for JSX. I recommend you refer to those resources, as there is [already an open issue for this](https://github.com/facebook/jsx/issues/23). Thanks!

[2019-01-24 00:19] #14656 closed

[2019-01-24 01:03] aweary commented on #14660
It sounds like you're trying to access `this.props` inside `getDerivedStateFromProps`, which won't work since its a static class method. See [the API documentation](https://reactjs.org/docs/react-component.html#static-getderivedstatefromprops) for more information.

We also use the issue tracker for bug reports and feature requests. If you have a usage or support question, please check our communi

[2019-01-24 01:03] #14660 closed

[2019-01-24 01:42] ablikim915 commented on #14663
@gaearon
Thank you for your reminder, I have found a solution.

[2019-01-24 01:45] Zaynex commented on #14668
It's my fault.
When I press enter， I forgot to use preventDefault.So  the  `<div>` render string with the `br`.
Thanks,I will close it.

[2019-01-24 01:45] #14668 closed

[2019-01-24 06:47] BoomManPro opened #14685 "I do plug-in development in React , I have any problem"
i only have javascript or jquery,i want crack react;
if react code a input

<input type="text" onChange={this.handelChange.bind(this)} defaultValue={this.state.inpValu}/>

how i get through  javascript or jquery to  fill input value , and input.state.value to change

[2019-01-24 08:27] FlankMiao opened #14686 "Question about hooks and render"
**question**

**I read the hooks docs, and I try the example:**
![1](https://user-images.githubusercontent.com/19262116/51664816-46654000-1ff5-11e9-9714-a23a2ad09132.PNG)

![2](https://user-images.githubusercontent.com/19262116/51664838-52510200-1ff5-11e9-98c3-43b28fc8c6ea.PNG)

I find that the [count] changes using the hooks but the "render" didn,t show in the console.
When I click the test butto

[2019-01-24 10:39] Yurickh commented on #14362
I've opened a PR with a possible solution on top of the awesome work @LosYear did. Thanks!

[2019-01-24 11:07] stonemonkey opened #14687 "How to test async componentDidMount()"
**Do you want to request a *feature* or report a *bug*?**

Question.

**What is the current behavior?**

I'm trying to test a statefull component (Applications) that has async componentDidMount();

[code]
I tried to provide a callback (done()) to the test and use setImmediate(() => { done(); }, but I still get the error. If I don't call setImmediate() but use the callback variant of the test, I ge

[2019-01-24 12:14] OZZlE commented on #10713
I expected 1 or 3 but it seems that right now it's more of #2

[2019-01-24 13:31] hg-pyun commented on #14686
Because `<Example />` is child component. The render is occurred only changing num state.

[2019-01-24 13:38] stonemonkey commented on #14687
I'm not directly calling componentDidMount() in the test, I expect it to be called by the react test renderer when I call create(...).

The Applications component looks like this:
[code]

[2019-01-24 13:57] hg-pyun commented on #14687
How about this? you can async test using `wrapFunc`.
[code]

[2019-01-24 14:48] fabiosantoscode commented on #14529
I think it would be great if class components had hooks. It would be easier to change between class and function components, and would be a step in the direction of deprecating setState :)

[2019-01-24 15:33] loubacking commented on #14686
You should pass a props to the child component to change the value, but what you meant about "without rendering using hooks"?

For example:
[code]

Using this example you can use the `<button>test<button />` to call a function.

[2019-01-24 16:21] leemun1 opened #14693 "onChange event breaking garbage collection?"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Garbage collection seems to "break" when an `onChange` event is fired.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React.

[2019-01-24 17:07] probablyup commented on #14693
Are you using `event.persist()` by any chance in your onChange handler? That will increase object allocation.

[2019-01-24 17:21] leemun1 commented on #14693
@probablyup I tried both `e.persist()`, `e.propagation()`, but to no avail.

[2019-01-24 18:00] spoontstr commented on #6544
same

[2019-01-24 18:22] sofianeOuafir commented on #14504
update in .circleci/config.yml

[code]

fixed it for me!

[2019-01-24 18:42] epicfaace opened #14694 "Chrome Autofill overwrites values on controlled components"
**Do you want to request a *feature* or report a *bug*?**
Report a bug. Initially reported in https://github.com/mozilla-services/react-jsonschema-form/issues/1153

**What is the current behavior?**
Autofill overwrites existing values in fields when those fields are controlled components in React.

See https://jsfiddle.net/epicfaace/9p17e2qx/21/ -- to test this, add a "Saved Address" in the Chrome

[2019-01-24 19:30] mydiemho opened #14695 "ErrorBoundary does not re-render app when place below react-router"
**Do you want to request a *feature* or report a *bug*?**
a **bug**

**What is the current behavior?**
If I wrapper `Router` around `ErrorBoundary`, my app doesn't re-render until manual force refresh.  If I move `ErrorBoundary` to be above `Router` then it's fine.  Why does it behave this way?

App doesn't re-render until force refresh
[code]

WORKS FINE
[code]

**If the current behavior is a bug

[2019-01-24 19:31] leemun1 commented on #14693
Ok, so oddly enough, I tried the `react-input-range` package to replace the native JSX input element, and this behaviour is now gone. GC still continues to work in a "zigzag" pattern even after triggering the `onChange` events on the input. I do not know how the package dispatches events behind the scenes, but i suspect that there is something up with the native event system that may potentially c

[2019-01-24 19:50] WillSquire opened #14697 "Spread reusable hook in component"
Not sure if this is a bug or a feature, but whilst toying with reusable hooks I tried to condense this:
[code]

Into this:
[code]

But it didn't work. Assume the hook must be within the statement block?

Running 16.7.0-alpha.2

[2019-01-24 20:36] tomasdev commented on #10389
Indeed, ended up doing dangerouslySetHTML because React doesn't accept muted.

[2019-01-24 20:41] #14697 closed

[2019-01-24 20:46] WillSquire commented on #14697
Scratch that, works fine.

[2019-01-25 01:10] epicfaace commented on #14694
^^ That's right. Here's a working example using the onChange suggestion: https://jsfiddle.net/epicfaace/9p17e2qx/29/

[2019-01-25 01:14] FlankMiao commented on #14686
@hg-pyun
So because the <Example/> is a stateless component, the "render" doesn,t show in the console?

[2019-01-25 01:20] FlankMiao commented on #14686
@loubacking
I mean when I click the hooks Example click button, the "render" doesn,t show in the console, but the count does changes.looks like it doesn,t render.  When I click the test button which has state, the "render" show in the console.

[2019-01-25 06:44] ignatiusreza commented on #14687
Here's how we handle async `componentDidMount` in our project..

we have a spec helper called `defer` which looks like

[code]

and then let's say that the component to be tested are something like:

[code]

in test, we'll use the helper function like:

[code]

[2019-01-25 11:45] hamlim commented on #14686
This doesn't seem related to hooks at all, using your example, if the `Example` component were a class with local state and it updated it too would not trigger a re-render of the parent it is in.

Here is a sandbox showcasing that: https://codesandbox.io/s/38nr087y85

[2019-01-25 12:07] stonemonkey commented on #14687
Thanks.

[2019-01-25 12:07] #14687 closed

[2019-01-25 13:50] lisandrolan commented on #14660
You are correct,
I was using this method to dispatch a redux action creator.
Where should i put that code?
Im waiting to the user to be logged and then Im calling the API to get his data.

[2019-01-25 14:53] gaearon commented on #14695
We can't help without a reproducing sample of code.

[2019-01-25 14:54] gaearon commented on #14369
Using `useLayoutEffect` to avoid a warning is always a wrong fix.

[2019-01-25 14:55] gaearon commented on #14369
@swissmanu Post your code (ideally as a runnable CodeSandbox), we can try to help.

[2019-01-25 15:44] manospasj opened #14699 "Event handler in addEventListener doesn't have access to the latest state"
I'm using react 16.8.0-alpha.1 with hooks and typescript and noticed this strange behavior. If I attach an event listener to the document or other element using the addEventListener method, the event handler method doesn't have access to the latest state variables.

I have created a [codepen](https://codepen.io/anon/pen/RvroJW) to reproduce the issue. The problem is that inside the handleScroll me

[2019-01-25 17:03] k1r0s commented on #6796
Hi from the future,

Im struggling to run this on React 15.6.2

But it does not work

thx in advance

[code]

[2019-01-25 17:06] #14362 closed

[2019-01-25 17:37] gaearon commented on #14699
If you use a local variable or function in `useEffect`, you *must* specify it in dependencies array — or leave the array out completely.

[code]

The simple fix is to just remove the array. Remember that `useEffect` doesn't block paint and `addEventListener` is very fast. It's no big deal to re-execute it once in a while. Another way to fix your particular example is to move `handleScroll` inside

[2019-01-25 17:37] #14699 closed

[2019-01-25 18:01] k1r0s commented on #6796
Im able to make this work on 16.5.2 btw

https://codesandbox.io/s/j746jm6qmv

[2019-01-25 19:37] ericx2x opened #14700 "Calling a function within a function"
Anyone know a better way to create call a function within a function? Below I have datagrabber but react doesn't like this way of calling and gives me an error.

[code]

[2019-01-25 19:47] aweary commented on #14700
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

With that said, that example isn't valid JavaScript. You're trying to define and use `dataGrabber` as if it were a class method, but your component is just a function so that doesn't work. You shoul

[2019-01-25 19:47] #14700 closed

[2019-01-26 07:29] rabbitooops opened #14702 "An idea about Context"
@gaearon
Redesigned Context API:

Examples:

[code]

[code]

[2019-01-26 08:51] morningtzh opened #14703 "Reate.Lazy loaded an unexpect url when using sub-route"
Hello! I have a problem that Reate.Lazy loaded an unexpect url.

I have used React.lazy success when I have only main route(Using React-Router v4).

After I move the lazy into sub-route, I can't get the file.

This is the using of lazy
[code]

And this is the using of router  ( match.url = console) :
[code]

On runtime, the lazy will get split file under main route,

[code]

**console** is the mai

[2019-01-26 12:10] bilalma opened #14704 "createDrawerNavigator doesn't show anything in react-navigation V3 react-native"
import {createSwitchNavigator, createAppContainer,
  createDrawerNavigator, createBottomTabNavigator}
        from 'react-navigation';

class App extends Component {
  static navigationOptions = {
    drawerLabel: 'Home',
    // drawerIcon: ({ tintColor }) => (
    //   <Image
    //     source={require('./chats-icon.png')}
    //     style={[styles.icon, {tintColor: tintColor}]}
    //   />
    /

[2019-01-26 14:13] overlookmotel opened #14705 "Context leaks to later renders when render stream destroyed early"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

If a stream created with `.renderToNodeStream()` is destroyed before the render completes, memory can be retained unnecessarily by Contexts which were active at the time.

It's not a memory leak per se as memory use is not unbounded. There's a limit on number of threads in use and context slots are

[2019-01-26 14:31] alekangelov opened #14707 "ReactCurrentDispatcher undefined"
I literally just installed react and this happened

managed to fix it by just adding
`const ReactCurrentDispatcher = {};` in renderRoot() in react-dom.development.js
![image-of-error](https://i.imgur.com/tuv3urv.png)
my config

`  "postfetch": "^0.0.2",
    "react": "16.8.0-alpha.1",
    "react-dom": "16.8.0-alpha.1",
    "react-router-dom": "4.4.0-beta.6",
    "react-scripts": "2.1.3",
    "react

[2019-01-26 17:58] overlookmotel commented on #14705
PR to fix: https://github.com/facebook/react/pull/14706

[2019-01-26 18:01] aweary commented on #14704
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2019-01-26 18:01] #14704 closed

[2019-01-26 20:05] doasync commented on #14099
@gaearon, is this issue going to be solved before hooks release?

[2019-01-26 20:39] leonardodino opened #14708 "hooks: useContext with useState not updating"
**Do you want to request a *feature* or report a *bug*?**

seems it's a **bug**. 😕

**What is the current behavior?**

Nested context provider and `useContext` hooks seems to be conflicting, updates get discarded.

**What is the expected behavior?**

When connecting to a context, it should update whenever it's `value` changes.

**Which versions of React, and which browser / OS are affected by this

[2019-01-26 21:07] gaearon commented on #14099
Workarounds above (especially relying more on `useReducer`) seem sufficient for most cases. There are cases when they’re not, but we’ll likely revisit this again in a few months.

[2019-01-27 00:05] Bazzer588 commented on #14099
It's very, very different behaviour

With a ES6 class I can pass _onChange={this.handleChange}_ to the child component and it does not redraw every time (because it sends the same _handleChange_ method every time)

It's frustrating that _dispatch_ works independent of state (I mean the _dispatch_ method does not change even if the underlying state does) but useCallback does not (if your callback n

[2019-01-27 00:07] markerikson commented on #14702
I don't think anyone outside the React team really grasps all the nuances around context, roots, and related behavior.  I'll be honest and say that in addition, suggestions like "rewrite everything to use a Proxy" and "drop the existing APIs" really aren't helpful.

Besides, the behavior of having an inner Provider shadow the value from the outer provider is a desired aspect of context usage as fa

[2019-01-27 00:31] aralroca commented on #14702
'useProvider' is explained in this great article by Dan, why is not a good idea:

https://overreacted.io/why-isnt-x-a-hook/

[2019-01-27 02:32] overlookmotel commented on #14705
Actually, I've noticed that this bug can also cause one render's context to leak into another later render. This is likely to be more common and more serious than the original effect outlined above.

Steps to reproduce:

* Render 1 uses `.renderToNodeStream()`, it gets `threadID` 1
* Render 1 renders `<MyContext.Provider value={'XXX'}>`
* Render 1 stream is destroyed before `</MyContext.Provider>`

[2019-01-27 02:44] overlookmotel commented on #14705
Issue also affects `.renderToString()` if an error is thrown during the render, leading it being prematurely destroyed, leaving some contexts open.

Many would say that you should terminate the Node process on an unexpected error, but I imagine a lot of people catch it and send status 500 to the client.

[2019-01-27 05:13] #14702 closed

[2019-01-27 06:20] ddsol opened #14709 "Support Proxy as child"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Objects are not valid as a React child

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFi

[2019-01-27 15:00] gaearon commented on #14702
@rabbitooops Can you describe the specific *problem* you're trying to solve?

If all you want is to avoid a nesting of several `<Provider>`s when you have multiple, you can write your own function that wraps them in a loop:

[code]

I'm not saying this is a good API but I hope this helps with whatever you're trying to do!

[2019-01-27 19:49] pspEgg commented on #14708
I skimmed the issue, but you did violate a hooks rule by using a hook within a regular function `const Provider = ({children}) => {`.

this page explains more of the rule and why: https://reactjs.org/docs/hooks-rules.html

[2019-01-27 20:10] gaearon commented on #14708
It looks to me like your `useContext` calls are in the same component as a `Provider`. In that sense they're reading context *above* the Provider (the default one).

Provider's value only influences context for components *inside* of it.

By the way, if you didn't try to cheat the Hooks rules with code like `[A, B].map(useContext)` you might have noticed this sooner ;-)

[2019-01-27 20:33] koenbok commented on #14002
Here is a working version of @asci version too: https://codesandbox.io/s/ojrq78r87q

This is the last thing holding us back from upgrading [Framer](http://framer.com) to 16.8 cc @gaearon

Also, hi @jashkenas, always nice to run into you, even if it's a bug :-)

[2019-01-27 20:36] leonardodino commented on #14708
hey Dan! thanks for the quick response (: just fixed it for me.

btw: `useContext` (via `useStorage`) is inside `App`, which _is_ inside of `Provider` in the `ReactDOM.render` function. (maybe I made the example too short to see this nesting).

---
**solution**:

I just solved it by modifying that quirky `.map` line: I missed the `observedBits` parameter, that ended up being passed on  I've read a

[2019-01-27 20:36] #14708 closed

[2019-01-27 20:47] leonardodino commented on #14708
I know it's quite a stretch, and you guys definitely don't want more people like me,
getting tangled in their own rule-breaking-behaviour. :stuck_out_tongue_winking_eye:

but how is:

[code]

that much different from:

[code]

Don't get me wrong, I think the `Rule of Hooks` is an awesome thing, that clears up for everyone coming to this _hooks_ thing. It really helped me, and showed it's simplicit

[2019-01-27 22:19] gaearon commented on #14708
Aaah you're right I misread your example. Yeah `observedBits` is the issue here. Seems like a pitfall, but then we also don't recommend to ever call `useContext` dynamically so..

[2019-01-27 22:40] Valerika commented on #11336
@gaearon `this.state.isClient` only partially works for me.
I use hydrate. I have a language change component. I use this.state.isClient for it because I need to change images.
This component is used in the header and in the footer. In the header, it works perfectly, but in the footer, it does not change the links href.
Do not tell me, please, what could be the matter?
Thanks

[2019-01-28 00:49] colourful-land opened #14712 "React works in XSLT in Chrome/Safari but errs "Unexpected token" in Firefox"
This minimum react page works in Chrome and Firefox. Let's call it `reference.html`

    <!DOCTYPE html>
    <html>
    <head>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    </head

[2019-01-28 01:16] FlankMiao commented on #14686
@hamlim thanks for your showcase. :)

[2019-01-28 01:16] #14686 closed

[2019-01-28 06:53] morningtzh commented on #14703
Think you. I'll find issue in webpack.

[2019-01-28 08:10] madou opened #14713 "useLayoutEffect gets the initial state from useState instead of the current state when its input list never changes when an async method is fired"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

When using `useLayoutEffect` (having it fire only once during mount, and once during unmount), setting state outside of it and then having an async method run inside of it, results in it not being able to `useState` as expected. Instead of getting the latest value - it always gets the initi

[2019-01-28 08:44] madou commented on #14713
Okay so using setState with the callback function it works as expected - cool! https://codesandbox.io/s/9yop1z283p

Makes sense - same pattern applies for class components as well.

I'm going to try and pin down the other problem I'm having where it's just not using the latest value. I'll report back soon.

[2019-01-28 10:10] ManuSevenval commented on #14712
Your output after the generation contains self-closing `<script>` tags.

There are several methods how to prevent xslt from generating self-closing tags ( just search stackoverflow for the best fitting one for your needs).

An simple workaround would be (note the `xsl:comment` within the `script` tags):

[code]

[2019-01-28 11:37] Valerika opened #14714 "Hydration breaks in URL link component"
Hi, guys! `this.state.isClient` only partially works for me.
I use hydrate. I have a language change component. I use this.state.isClient for it because I need to change images.
This component is used in the header and in the footer. In the header, it works perfectly, but in the footer, it does not change the links href.
Do not tell me, please, what could be the matter?
Thanks

[2019-01-28 13:48] threepointone commented on #14714
could you use codesandbox to isolate this issue? https://codesandbox.io/s/new

If this isn't about a bug/feature request for react, and just a usage question, might I recommend stack overflow/other community forums? you'll get better help and answers there.

[2019-01-28 13:57] threepointone commented on #14685
you don't have to crack react, it's free to use for everyone.

the documentation on [events](https://reactjs.org/docs/handling-events.html) and [forms](https://reactjs.org/docs/forms.html) are pretty great, but I suggest you start with the basic tutorial https://reactjs.org/tutorial/tutorial.html to first get comfortable with react.

for further help , there are plenty of community resources and f

[2019-01-28 13:57] #14685 closed

[2019-01-28 14:11] jMoulis opened #14715 "React Lazy import from export default"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2019-01-28 14:12] #14715 closed

[2019-01-28 14:20] cgcote commented on #14293
@gaearon we've managed to narrow the scope of the problem.
It happens when the code is build with devtools: eval-source-map or eval. it's working with source-map.

+ Edge is also affected

[2019-01-28 14:31] Valerika commented on #14714
thanks

[2019-01-28 14:31] #14714 closed

[2019-01-28 14:49] threepointone commented on #14713
- this is as expected, when it first renders, the first function captures the value of number, and because the dependencies array never changes, it'll always use that value. as you noticed, the callback  version of `setNumber` fixes that
- is there a specific reason you need to mutate the dom directly? you could instead write the value to another useState(), and use that as a prop to the div.
- it

[2019-01-28 15:52] nhunzaker commented on #14712
@ManuSevenval thanks for the suggestion (this is totally out of my expertise)!

@colourful-land This looks like an issue specific to XSLT, not React itself. Feel free to follow up if feel there is a change required on our end.

[2019-01-28 15:52] #14712 closed

[2019-01-28 16:21] nhunzaker commented on #14694
Very interesting! This is a design issue synchronizing the value attribute/property on inputs that I wasn't aware of before:

**If the value attribute is the same as the value property, Chrome assumes the input is "untouched", and will replace the contents during an autofill action**

I wonder if this is true in other browsers.

I feel like we must have a bug tracking autofill issues, but I am not

[2019-01-28 16:48] jacobrask commented on #11488
The reason we need native change events is that we have a modal form with a change listener, if a change event has bubbled up to the form we consider the modal dirty. If the modal is dirty we show a confirm dialog when closing the modal, otherwise not.

[2019-01-28 17:21] Dashue commented on #3386
@rmtngh could you provide a sample of how you achieved the markup enrichment through createportal? We're looking to do the same.

[2019-01-28 18:51] ifeanyidavid opened #14716 "Expected a string (for built-in components) or a class/function (for composite components) but got: object"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

I am unable to use an external module I installed and I did exactly what was instructed in the documentation. It works when i run it in codesandbox but it doesn't run in my own dev environment.

Here's my code:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possi

[2019-01-28 20:17] madou commented on #14713
thanks for replying @threepointone

honestly mutating the dom isn't the main point - please don't look at it much :) - if we talk about use cases ignoring setInterval and mutating the dom, I want to:

1. initialize a data provider in a hook once when the component mounts
2. cleanup/re-initialize a data provider if some props change
3. cleanup the data provider when component unmounts
4. access the

[2019-01-28 20:58] gaearon commented on #14713
If you need to access latest state at arbitrary times and don’t want to resubscribe when it changes, the simplest fix might be to commit latest state to a mutable ref:

https://reactjs.org/docs/hooks-faq.html#how-to-read-an-often-changing-value-from-usecallback

Another option is to have a layer on top of your connection code that makes resubscriptions cheap. Such as by deferring destroying the co

[2019-01-28 21:00] gaearon commented on #14713
I think they also mentioned to not use it unless you actually have problems. :-) It makes your app slower. Just like cDM/cDU which block paint.

[2019-01-28 22:17] threepointone commented on #14716
may I recommend you post your question at https://github.com/storybooks/react-treebeard/issues instead? Unless you can isolate it to a code sample with just react.

[2019-01-28 22:44] #14713 closed

[2019-01-28 22:45] madou commented on #14713
thanks both - have some good ideas to think about. also need to remember hooks aren't magical and closure rules apply.. 😄

[2019-01-28 22:54] sophiebits commented on #13381
We try to treat undefined the same as absent basically everywhere in React. Perhaps we should change the code that warns `React does not recognize the unknownProp prop on a DOM element` instead so that it is fine to leave an undefined in.

[2019-01-29 01:09] colourful-land commented on #14712
I hope closed issues are easily Google-searchable because this knowledge is too specific. I bet a developer who hits this problem will be completely lost without this answer being indexed by Google.

[2019-01-29 05:50] kartik2014 commented on #12355
Hi @gaearon

I have implemented something similar, but when I click the browser close button in the new window , "componentWillUnmount" is not being invoked which is why state is not changing even when I close the portal using the browser close button. Is there any solution to this problem?

[2019-01-29 06:31] ifeanyidavid commented on #14716
Thank you. I will do just that.

[2019-01-29 07:09] haribhai commented on #12355
thats because of ES6 I think.

[2019-01-29 08:07] donaldpipowitch commented on #10474
Sadly this doesn't play nice with other tools like Cypress which fully stops on uncaught errors which confused us a lot initially when tests run fine in production, but not locally.

[2019-01-29 09:10] thomschke commented on #14110
Hooks are enabled -> facebook/react#14679

@acdlite: Is there a final decision?

[2019-01-29 11:39] champeleon commented on #1881
So still no easy solution to this problem? I'm unable to change a Semantic UI element's color dynamically without access to !important.

[2019-01-29 12:15] pronebird commented on #13782
@aweary while the comment you've mentioned is a solution, there is still a problem with it.

When using TypeScript the `RefObject.current` is considered `readonly` for the consumer, which makes sense, however it makes it impossible to mutate it.

Folks make their own homegrown `mergeRefs` and basically break the type-safety in order to make it work. If the library had a sanctioned way of doing thi

[2019-01-29 12:19] derekdreery commented on #12495
Can I ask how the following example would work with functional/hooks.

[code]

I need a way to run the function once for *each* instance of a component, but only before the first render. It's kinda near the boundary between a pure function and a function with side effects. I need the ID before I render, or else I will have to render the component twice.

If it were more of a side effect (e.g. it t

[2019-01-29 12:23] TrySound commented on #12495
@derekdreery Like this
[code]

[2019-01-29 13:26] AlmeroSteyn opened #14718 "Unable to use useContext hook inline in Context.Provider"
**Do you want to request a *feature* or report a *bug*?**

Not sure if it is a bug or a feature yet. This relates to Hooks.

It could also be that this is all expected behaviour and one of the workarounds mentioned is required.

**What is the current behavior?**

I have a hook that depends on the `useContext` hook. Using it as follows works perfectly:

[code]

What if I want to use the `getContext

[2019-01-29 13:49] ckhicks commented on #1881
Yeah, extending something just to fix one property doesn't seem like a scalable solution, given that you will have to adjust it to match the lib on every update. Uncool.

[2019-01-29 14:03] gaearon commented on #14718
It's not expected to work. Providers affect what's *inside* of them. This post is somewhat related to this: https://overreacted.io/why-isnt-x-a-hook/

Your proposal doesn't have a well-defined behavior. What if you render two Providers with different values inside a fragment? Which one will "win" in the parent component? The answer is neither should. Providers have a tree structure for a reason: t

[2019-01-29 14:13] gaearon commented on #12495
https://reactjs.org/docs/hooks-faq.html#is-there-something-like-instance-variables

[2019-01-29 14:18] gaearon commented on #14110
@pfgray Btw — if you're curious about why `useShouldComponentUpdate()` wouldn't work, I wrote about it here: https://overreacted.io/why-isnt-x-a-hook/

----

In https://github.com/facebook/react/pull/14569, we've added an automatic bailout for `useState` / `useReducer` if the produced value is referentially the same. We think this is enough to unblock the initial release.

We can revisit context b

[2019-01-29 14:18] #14110 closed

[2019-01-29 14:33] AlmeroSteyn commented on #14718
Oh forgot to mention the reason I would like to not force users to extract things as components as writing forms inline can sometimes be quite a normal usecase. If I want all the accessibility and validation goodness but I am creating a form with two custom built fields, for example.

In that case it would add the complexity of needlessly fragmenting my component.

[2019-01-29 14:42] slorber commented on #14110
Hi,

That's a good first step, but what I understand is that we won't yet be able to write a Redux connect hook that is performant and works fine with async mode right? Or anything that would require only injecting a subset of context into a component

[2019-01-29 15:30] RIP21 commented on #14110
@slorber I think so. Same for `final-form-hooks`, `formik-hooks` (if there is such) and all kinds of other hooks that are UI related.
For things like `react-apollo` that focus only fetching data shouldn't be much of an issue, cause in return DX will be way better to be "fine" with minor performance degradation, that is, hopefully, temporary for now. Cause having `useRedux`, `useMyAmazingContext` a

[2019-01-29 15:34] gaearon commented on #14110
We need to agree on what "works" means here. Subscriptions *work* in Concurrent Mode (we even provide a [helper](https://github.com/facebook/react/tree/master/packages/create-subscription) for them and you can write a similar Hook). Relay does something similar. Subscriptions are not *ideal* because they fall back into synchronous mode in many cases. But they do work.

But on the other hand, Redux

[2019-01-29 15:39] gaearon commented on #14702
Because many contexts can have valid "default" values as fallbacks. Such as a React Router link that never displays as active outside of a router (e.g. in tests). This also ensures type safety.

The whole point of context is that it's scoped to a subtree and overridable. For example, to implement a feature that lets you preview how another people sees your profile while being logged in as you.

If

[2019-01-29 16:09] gaearon commented on #14718
Extracting form body as a component sounds reasonable. Think of your form as a "provider" by itself.

If you absolutely need it, the form itself could provide `getInputProps` and other things it puts as Hooks as a render prop.

[code]

You can detect if it's a function and either pass or not pass it.

[2019-01-29 16:09] #14718 closed

[2019-01-29 16:32] nhunzaker commented on #14712
Yep! It'll be here for the next debugger :)

[2019-01-29 16:32] AlmeroSteyn commented on #14718
@gaearon Thank you for taking the time. Much appreciated!!

Helps a lot to illustrate where the lines are drawn between the “old” and the new :)

[2019-01-29 16:50] gaearon commented on #8541
I sent an email to you folks, hope you receive it!

[2019-01-29 17:08] gaearon commented on #14718
FWIW this is no different than classes. Context works there the same way.

[2019-01-29 18:02] nhunzaker commented on #9446
Circling back to this, we have two outstanding PRs to resolve this: https://github.com/facebook/react/pull/10666, https://github.com/facebook/react/pull/9490 however, I'm still not sure that this is viable. There are still false warning cases. Working from [@aweary's direction](https://github.com/facebook/react/issues/9446#issuecomment-296494855):

When I updated https://github.com/facebook/react/

[2019-01-29 18:26] hanm13 opened #14719 "onChange event does not happen on input type number when typing :"
- Bug Report
- Problem: Writing specific letter on input type number does not emit the onChange event.

- Reproduce : Create input type number element and listener for onChange event, than console log in the listener and when you type: e + - .
it will not emit the event.

What should happen: Typing the letters should emit the event because the input got change event..

I have this problem in the l

[2019-01-29 19:25] heyimalex commented on #14719
[It looks like browsers don't agree on how to handle this.](https://bugzilla.mozilla.org/show_bug.cgi?id=1398528). I made a codesandbox [here](https://codesandbox.io/s/23z46vwkwy) to see how the native change event compares to onChange bound with react.

[2019-01-29 19:36] davegomez opened #14721 "Hooks error on React library compiled with Rollup.js"
Disclaimer: I'm not sure if this is an specific bug from React's Hooks or it is something I'm missing in my Rollup.js configuration but I've been trying a lot of different things and always end up in the same error.

`Hooks can only be called inside the body of a function component.`

I'm building a React Component library using the alpha version of React and Hooks, and using Rollup.js v1.1.2 as a

[2019-01-29 20:48] jkatherman commented on #13798
This is a tricky problem… it is usually caused by click handlers.  JAWS (and NVDA) announce "clickable" when an element or one of its ancestors has a click event handler.

For example, "clickable" is announced each time a JAWS user presses down arrow to read the p lines in the following div:

`         <div onclick="">
            <p>The quick brown fox</p>
            <p>jumps over the lazy dog.<

[2019-01-29 20:56] gaearon commented on #14721
You probably have two Reacts.

[2019-01-29 21:19] gaearon commented on #14721
Specifically I think you’re mistakenly bundling React itself *into* your library. It should be an external instead.

[2019-01-29 21:19] #14721 closed

[2019-01-29 22:01] davegomez commented on #14721
I don't think this is the case @gaearon so I would like to provide a little bit more context to see if might be something else.

I have React, React DOM, and Styled Components as peer dependencies of my library:

[code]

Besides having React as a `peerDependency` I have to install it as a `devDependency` otherwise I'm getting this error (but I think this is a different issue):

[code]

The interna

[2019-01-29 22:07] dantman commented on #14110
Is there an explanation anywhere we can read detailing why context doesn't handle often-updating values well right now? From the outside user perspective it looks like the current context system works perfectly fine for often-updating values; the only problem is the one recently introduced by hooks. And the documentation page on hooks doesn't even say anything discouraging use of context for often

[2019-01-29 22:21] markerikson commented on #14110
@dantman : yeah, unfortunately we're having to reconsider that move at this point.

In general, it seems that the current context implementation is not suited for values that are updated frequently (or has a _subset_ of data that is updated frequently) and that need to be read by many components.  Per Sebastian's comments, I guess it works better if you've got frequently-updated data in one contex

[2019-01-29 22:35] Aliin commented on #14443
I thought about it a bit, a warning would be really nice, but it does not seem like an optimal solution in any way. If there is a minor version mismatch that won't be fixed for some reason and does not cause problems, the warning can be annoying.
Since the warning cannot fix the past version conflicts anyway, for the future this might just be a motivation instead to work even more on stability. It

[2019-01-29 22:41] dantman commented on #14110
Ok, for Redux I guess this'll just have to be an architectural change there, separate contexts/storage for slow/fast data. Possibly a rethinking of redux where you can have a slow global store and multiple fast stores that are local to a part of the app. Or perhaps a change to redux where instead of using `combineReducers` to combine multiple sets of data into one store, each of those data sets ge

[2019-01-29 22:46] markerikson commented on #14110
We're still trying out what we're going to do on the React-Redux side, but splitting up stores is not at all what we're thinking right now.

[2019-01-29 23:31] pspeter3 opened #14722 "React 16.8 Hook Type Definitions"
**Do you want to request a *feature* or report a *bug*?** Feature

**What is the current behavior?** The type definitions in DefinitelyTyped support hooks but may be out of date https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30057

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if

[2019-01-29 23:35] gaearon commented on #14722
Do they already have useDebugValue?

[2019-01-29 23:40] pspeter3 commented on #14722
No, these are the implemented types https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L764-L910

[code]

[2019-01-29 23:40] milesj commented on #14722
@pspeter3 The React team doesn't manage the types. It's best to report it on DefinitelyTyped.

[2019-01-29 23:42] pspeter3 commented on #14722
@milesj agreed. Commenting here at the request of @gaearon (https://twitter.com/dan_abramov/status/1090390902869278721). I will submit a PR to DefinitelyTyped for the correct types after ensuring the final API is correct.

[2019-01-29 23:48] gaearon commented on #14110
When I say “fast” I mean “many times a second with hundreds of components to update”. This is not exact but in a ballpark.

There is no inherent reason other than we’re not willing to pay the cost of *subscribing* a component per every context read.

The way context works today is we actually traverse the tree for context consumers on update. We don’t “remember” the exact list like Redux normally

[2019-01-29 23:53] gaearon commented on #14722
Last attempt was here https://github.com/DefinitelyTyped/DefinitelyTyped/pull/32144#issuecomment-455099471

Looks like it slipped.

There’s also upcoming useReducer change that I’ll comment later about tomorrow.

[2019-01-30 00:03] gaearon commented on #14721
I can’t guess what’s wrong in your particular setup but I’ve described the issue: you’ll see it when you have two Reacts in the resulting bundle. Check the bundle contents. I can’t help you with setting up Rollup, what its errors mean, or how Node resolutions works — just the React part which is definitely related to that.

Npm link is known for causing this because webpack would “see” React both

[2019-01-30 00:05] gaearon commented on #14110
Thanks for spotting this. I guess that’s a too generic recommendation. In many cases context is what they should use, but I agree it could be more nuanced. I’ll fix it.

[2019-01-30 00:14] dantman commented on #14110
Ok, so "fast-context" would be a version of context that keeps a memory of what is using the context and avoids propagating context down parts of the tree where nothing uses the context, speeding up frequent writes at the cost of memory.

This seems to be 99% internals and 1% API surface. i.e. The API would probably just be bikeshedding between `React.createFastContext(...)`, `React.createContext(

[2019-01-30 00:51] gaearon commented on #14110
Is this a hypothetical scenario or *are* you running into a perf problem there? A realistic runnable example would be more immediately useful than an RFC with a proposed solution.

[2019-01-30 01:09] dantman commented on #14110
I've been fine in past projects. I had project where form data was stored in top level "field values" context (the entire page was a form in that case) and it would've been impossible to put it anywhere else. Without optimization the form input was definitely very slow with all the unrelated form fields re-rendering. We were fine because with classes+render-props it's possible to memoize things an

[2019-01-30 01:15] gaearon commented on #14722
Reducer API change: https://github.com/facebook/react/pull/14723

[2019-01-30 01:18] dantman commented on #14110
Ok, yes it's not "impossible". But at that point using useContext is not really any different or any better than using `.Consumer` or a HOC. I can try it out if I get to that point, but I have a strong feeling that a real-world attempt at that technique is going to end up much uglier than just using HOCs/render-props. Especially compared to how nice an optimized useContext would look.

[2019-01-30 01:41] akalajzi commented on #14110
As someone who has hit this point with `useContext`, it becomes a pointless hook, and as @dantman mentions, simply using .Consumer (or HOC) makes more sense then useContext -> another component to memo. So currently in a project, we've been using useContext on all small-ish parts, and had to resort to HOCs where we had to prevent unnecessary updates.
Its doable, of course, as there's always that f

[2019-01-30 01:58] jcrben commented on #11387
Looks like this is the 12th most-thumbed up issue in React's backlog. At least the docs are open about it https://reactjs.org/docs/portals.html#event-bubbling-through-portals - altho they don't mention the downsides or workarounds and instead note:

The docs should at least explain that this can cause problems and suggest workarounds. In my case, it's a pretty straightforward use case, using https

[2019-01-30 02:15] craigkovatch commented on #11387
There's also a maintenance nightmare here -- as new events get added to the DOM, any portals "sealed" with the above-discussed technique will "leak" those new events until maintainers can go add them to the blacklist.

There's a major design issue here that needs to be addressed. An ability to opt-in or opt-out of cross-Portal bubbling still seems the best API option to me. Not sure about implemen

[2019-01-30 02:37] gaearon commented on #14110
This discussion will be more productive if we have an actual code example we can discuss.

That said this discussion is also going in circles. I’m not sure it’s helpful to keep reiterating the same points.

This is a “nice to have” request but it ties into many other questions around context. We won’t likely address it in isolation but we can revisit it in about half a year and see where we are.

[2019-01-30 02:55] headfire94 commented on #14261
What can I do in this case? Ignore error until update? @TrySound

[2019-01-30 07:34] AlmeroSteyn commented on #14718
@gaearon Thanks! Do you think this is worthwhile elaborating on in the docs? The `useContext` hook does not have much documentation yet. If so I would be more than happy to give it a bash.

[2019-01-30 07:43] Jessidhia commented on #14110
From some experiments I've done this week on actual benchmarkable code, it doesn't seem that providing a "shouldUpdate" callback to useContext / context.Consumer does it any good.

Granted, I emulated it by going around the context API and using a Set to store subscriptions instead. But currently, as long as updates have to be sequentially consistent, the cost with or without a "shouldUpdate" chec

[2019-01-30 08:04] dantman commented on #14110
This sounds like you are effectively testing memoizing once (memoizing the result) and memoizing twice (SCU/React.memo style memoization of useContext then memoizing the result). Which of course generally won't improve performance much, unless there are special cases where the component does semi-expensive computation outside of the memoization and the context is frequently updated in ways that SC

[2019-01-30 09:17] buildbreakdo opened #14725 "ReactDOM renderToString adds empty HTML comments"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
ReactDOM.renderToString adds an empty HTML comment.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to

[2019-01-30 10:43] richsilv opened #14726 "Allow the same DOM node to use both a callback and a RefObject in its ref prop"
**Do you want to request a *feature* or report a *bug*?** Feature

**What is the current behavior?**

The `ref` attribute passed to a DOM node can be either a callback or a `RefObject`, but not both. Sometimes, that's exactly what's required: for example, a library like [react-pose](https://popmotion.io/pose/api/posed/#posed-usage-create-a-posed-component-existing-components) demands ref forwardin

[2019-01-30 10:46] tomitrescak opened #14727 "Unexpected "Hooks can only be called inside the body of a function component.""
**Do you want to request a *feature* or report a *bug*?**

Not sure

**What is the current behavior?**

Similar to #14317

I am receiving "Unexpected "Hooks can only be called inside the body of a function component." while using locally linked packages with **pnpm**. Any advice on how to solve this?

Weird thing is that both node_modules/react point to the same symbolically linked directory.

[co

[2019-01-30 11:51] pavilion commented on #9851
Hi @gaearon ! Here at [DIGISEQ](https://www.digiseq.co.uk/) we have an ongoing debate about what should we actually use, either binding methods to the class prototype or using arrow functions.

We are having this debate because we have this circumstances:
- Almost all of our components/containers are written using arrow functions.
- We have just started now testing them, using [Enzyme](https://git

[2019-01-30 14:06] SujataSwamy commented on #14341
I am facing similar issue

react 16.3.1
react-native 0.58.3

Unable to resolve module `scheduler` from `D:\sujata\final react\reactnative\node_modules\react-native\Libraries\Renderer\oss\ReactNativeRenderer-prod.js`: Module `scheduler` does not exist in the Haste module map

The below steps were printed on console.

This might be related to https://github.com/facebook/react-native/issues/4968
To r

[2019-01-30 14:16] gaearon commented on #14727
For one reason or another, your bundler includes the React package twice. You’ll need to figure out how that happens — we can’t help you with that.

With linking, one common solution is to *link back* from library’s React to application’s React. But I can’t say how pnpm works and whether this would help you.

[2019-01-30 14:16] #14727 closed

[2019-01-30 14:20] gaearon commented on #14725
This is by design and helps React hydrate those text nodes correctly.

[2019-01-30 14:20] #14725 closed

[2019-01-30 14:38] BogdanZavu opened #14728 "react packages listed as dependencies can't be debugged properly"
**Do you want to request a feature or report a bug?** Bug

**What is the current behavior?**
React packages listed as dependencies can be debugged only in transpiled code and not JSX.

**What is the expected behavior?**
You can see and debug JSX files from other react packages listed as dependencies.
I would expect webpack.config.js to configured properly in the default react app even before is ej

[2019-01-30 17:14] rubendmatos1985 commented on #14195
Hi i tried a different approach a little bit less complicate but it works for me with a tetris game i am making.

[code]

[2019-01-30 17:15] rubendmatos1985 commented on #14195
Hi i tried a different approach a little bit less complicate but it works for me with a tetris game i am making.

// HERE IT'S THE LOOP AND YOU CAN PASS IT DISPATCH FOR DIFFERENT ACTIONS
 const useAnimationFrame = (dispatch, setStopId)=>{
    const loop = t1 => t2=>{
      if( t2 - t1 > 450){
        dispatch({ type: 'ADD_STEP' })
        setStopId(()=>  window.requestAnimationFrame( loop(t2)))

[2019-01-30 17:45] sanbornhilland opened #14730 "this is undefined in getDerivedStateFromProps"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`this` is undefined in `getDerivedStateFromProps`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to yo

[2019-01-30 18:00] TrySound commented on #14730
@sanbornhilland This is expected. https://github.com/facebook/react/issues/12612#issuecomment-381332338

[2019-01-30 18:12] milesj commented on #14730
Outside of what @TrySound has linked, this is how JS works. Static methods *do not* have access to a class instance's `this`, and IMO, it never should.

[2019-01-30 18:17] sanbornhilland commented on #14730
It's not even `null` though, which would indicate that it was intentionally set. It's `undefined` which looks like a bug to me.

I understand wanting to avoid unnecessary confusion in the `React` api but this misses the mark IMO. To me this is unexpected behaviour and at some point it seems reasonable to encourage developers to learn how `this` works instead of being overly protective.

[2019-01-30 18:20] jquense commented on #14730
this is intended, and yes it does differ from how static methods, work _if_ you call them with the class to the left of the dot `Foo.bar()`. For the reasons noted in the other issue The react team has opted to avoid ambiguity and always make sure it's undefined

[2019-01-30 18:20] #14730 closed

[2019-01-30 18:21] milesj commented on #14730
@sanbornhilland That's how JS works.

<img width="367" alt="screen shot 2019-01-30 at 10 20 43 am" src="https://user-images.githubusercontent.com/143744/52003193-bbfb6100-2478-11e9-82ed-14e38527faab.png">

[2019-01-30 18:22] milesj commented on #14730
You can see their usage here: https://github.com/facebook/react/blob/a129259ad6a61790fe1912a87cb45018d942f90c/packages/react-reconciler/src/ReactFiberClassComponent.js#L789

They are simply calling it as a reference. No bind/call/apply, etc. This is standard JS classes.

[2019-01-30 18:43] gregoryjjb opened #14731 "useState inside a context provider not properly read when called from timeout"
**Do you want to request a *feature* or report a *bug*?**

Looks like a **bug**.

**What is the current behavior?**

I have a simple context set up to manage a global store. When implementing this context as a functional component with the useState hook, calls to my setStore function from inside a timeout are seeing old versions of the store and updating it incorrectly.

Possibly a duplicate of #1

[2019-01-30 20:21] jacek213 commented on #13432
would be nice to make it possible somehow, there can be plenty of whitespace in an app of above average size.

[2019-01-30 20:51] gbezyuk commented on #8541
@gaearon received and responded.

[2019-01-30 21:00] milesj commented on #14730
@sanbornhilland Correct, I was assuming you wanted the instance, not the constructor. Definitely clears up the confusion.

[2019-01-30 22:03] mgreer opened #14732 "Memory leak on React > 16.2.5"
**Do you want to request a *feature* or report a *bug*?**
Possible bug, or unexpected change in internal behavior

**What is the current behavior?**
We are seeing a substantial memory leak in our codebase in versions of React > 16.5.2. Bisecting the issue, it seemed to appear at commit 7bee9fbdd49aa5b9365a94b0ddf6db04bc1bf51c.

**If the current behavior is a bug, please provide the steps to reprod

[2019-01-31 01:12] Jessidhia commented on #14722
The latter I implemented directly into the types since the first time around, as it felt like a misuse to be allowed to return anything else.

It also had the side-effect of banning `Promise` return values, which was a source of much consternation by people until you finally added the runtime warning that I could point to as the source of truth 😇

Q: should the _destructor_ function also be restri

[2019-01-31 01:18] gaearon commented on #14722
Yeah I think it’s reasonable to restrict it too.

[2019-01-31 03:51] ZeJ0hn opened #14734 "create-react-app with --typescript doesn't work"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
When I create a new project using ```npx create-react-app project-geo-semantic-react --typescript```, the generate app in a Javascript App and not a Typescript App.
For example, the package.json doesn't contains typescript dependencies :
[code]

**What is the expected behavior?**
Using --types

[2019-01-31 05:03] Dergash commented on #14732
We've encountered similiar issue on 16.6.3.
Allocation instrumentation on timeline shows that our application allocates a lot of FiberNode objects:
![allocation](https://user-images.githubusercontent.com/13132449/52031256-334ef480-254e-11e9-95b7-f5a88e3a3c60.png)
And timeline shows that they are never collected, heap grows up without GC firing when we expecting it:
![react-16 6 3](https://user-ima

[2019-01-31 05:46] markerikson commented on #14734
This is the React repo.  You should file CRA issues in the CRA repo, at https://github.com/facebook/create-react-app .

[2019-01-31 06:43] mgreer commented on #14732
Sadly no, that had been our hope but leak persists.

[2019-01-31 07:04] proluk commented on #14732
Could you try making a production build of your application and test if the memory leak still exists? We had similar problem but we fixed that by upgrading **react-dom and react** lib to 16.7

[2019-01-31 09:13] phucvo0709 opened #14736 "How to prevent first load in ssr?"
I'm having a problem, my local code works fine, but on the server it has a first load error but I don't know where the error comes from, I need help how to prevent pre-loading!

[2019-01-31 09:33] #14736 closed

[2019-01-31 10:58] yoyo837 opened #14737 "React.cloneElement loses focus"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
[code]
`<body>` got focus

**What is the expected behavior?**

The React.node being copied don't lose focus

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

React v16.7/Chrome 72/MacOS Mojave

[2019-01-31 12:22] AlmeroSteyn commented on #14718
@gaearon Awesome. PR in https://github.com/reactjs/reactjs.org/pull/1610. I kept it short 👍

[2019-01-31 12:31] olee commented on #14110
Isn't the general case just that we need a useContext that allows us to select just a part of the context and only update, if that returned part was changed?
This was already proposed above like here: https://github.com/facebook/react/issues/14110#issuecomment-439750865
However after it was said that the second argument is already used for observed_bits, it was somehow not discussed much any more

[2019-01-31 13:34] jonrimmer opened #14738 "Dependency-based reinitialization of useState"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Consider I want to have a dynamically calculated list of options, and a piece of state that represents the currently selected option. I can achieve this using hooks as follows:

[code]

However, a problem occurs if either `dep1` or `dep2` changes. The list of options changes, which means `choice`

[2019-01-31 14:36] marco-gagliardi opened #14740 "Still a "NotFoundError: Failed to execute 'removeChild' on 'Node'""
I smashed again the error "NotFoundError: Failed to execute 'removeChild' on 'Node'" too.

After reading tons of threads about it I realized it's a pretty common error, however I couldn't figure out how all the provided solutions could apply to my case: I neither do DOM mutations by hand nor swallow exceptions.

I think I can reduce the relevant parts of the code as follows:

**SearchDomains.js**

[2019-01-31 15:54] ZeJ0hn commented on #14734
Move the request to https://github.com/facebook/create-react-app

[2019-01-31 15:54] #14734 closed

[2019-01-31 16:35] joehany commented on #11488
@whosesmile you're a king.. thank you.

[2019-01-31 20:09] ziyoshams commented on #14341
Try upgrading your react `npm i react@latest`.

[2019-01-31 20:33] bslugger opened #14741 "Can't load graphiql client due to redirect header not including CORS policy"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
currently, can't load graphiql (interactive query interface) on my react application. when trying to fetch react-dom.production.min.js (from https://unpkg.com/react-dom@16/umd/react-dom.production.min.js), a 302 is returned, and the new redirect request does not include `access-control-allow-origin` in

[2019-01-31 20:45] bslugger commented on #14741
Seems more likely an issue with unpkg.com, than with react-dom. Closing this request.

[2019-01-31 20:45] #14741 closed

[2019-01-31 21:25] kevinwainczak opened #14742 "Suspense Fallback Doesn't Appear in DOM"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I would like to be able to programmatically set focus to an element inside the fallback of a Suspense component. I'm able to verify that componentDidMount fires with my current setup but I never get focus on the desired element nor does the screen reader I test with announce the "Loading..." text. I be

[2019-01-31 22:01] MountainDrew commented on #14742
With an `onFocus` added to your `h1`, like so `onFocus={_ => console.log('focused')}`, it does ouput correctly. Maybe this is an issue with the screenreader needing the element to be present for longer on screen. Have you tried making this element present for longer?

[2019-02-01 02:09] ericvicenti commented on #11334
if you're using hooks, I think the following should work nicely with error boundaries:

[code]

Of course this is boilerplatey, so you'd probably want this behavior packaged in something like `useAsyncResult(asyncCallback, inputs)`, which would be used like this:

[code]

PS. I haven't tested this yet, but I'm off to do that now

[2019-02-01 10:40] markzero commented on #13108
I'm having exact same problem and element is ordinary img element without any negative display or visibility rules. Component is plain, no re-rendering (componentDidUpdate is not called, only componentDidMount). I want to set sibling's height to be the same when component mounts. But yeah, it's zero.

[2019-02-01 10:53] yoyo837 commented on #14737
Parent container `key` instability causes rerender

[2019-02-01 10:53] #14737 closed

[2019-02-01 12:37] IanKemp opened #14743 "React.createElement mangles array passed as props"
**Do you want to request a *feature* or report a *bug*?**

Bug. I think. Maybe.

**What is the current behavior?**

https://jsfiddle.net/oyn139b4/2/

An array passed as props gets transformed into an object, meaning that attempting to call array methods on the props in the component fails. This behaviour, and why it happens/is necessary, is not documented anywhere.

There was a warning added to th

[2019-02-01 15:06] p-somers commented on #13742
Was this fixed? I'm still seeing this in React 16.7.22

[2019-02-01 15:37] Kamahl19 commented on #11538
@gaearon not sure if you are watching the chromium issue, but there is a really interesting response regarding this https://bugs.chromium.org/p/chromium/issues/detail?id=872770#c9 . What are your thoughts?

[2019-02-01 16:32] webViking opened #14745 "oks"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2019-02-01 18:16] Aberman12 commented on #14442
Is this issue still being worked on? If not id be glad to take it on!

[2019-02-01 23:07] mgol commented on #13204
FWIW, Microsoft has announced stopping all official support for IE<11 in January 2020, even on Windows Server & Embedded where it's been supported way longer than in consumer versions of Windows:
https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Bringing-Internet-Explorer-11-to-Windows-Server-2012-and-Windows/ba-p/325297

[2019-02-02 04:00] navono commented on #13742
It's need to be update the `react-reconciler` and then change the user code, not in `react-reconciler`.

[2019-02-03 00:52] yousefelgoharyx opened #14749 "adding if directive"
if you added if directive to any element for showing the element or not that would be better than making a js expression in my opinion

**regular way**
[code]
**my way** ( i edited the react file btw and it worked )
[code]
**mmm**
i hope you talk that into consideration
i mean less than 1kb will not make difference :"D

**React code**
[code]

[2019-02-03 01:51] markerikson commented on #14749
This has been suggested numerous times, and always been turned down.  React assumes you will use normal JS for flow control, not any sort of "directive"-type attributes.  There are various third-party libraries that supply components like `<If>`, but I feel safe in saying this will not be something that's built into React.

[2019-02-03 02:57] stuartkeith opened #14750 "Simultaneous key events in effect handled out of order"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

I have an app that's registering event listeners for `window`'s key events (via `useEffect`). Those event listeners are triggering state updates (via `useState`). I think I have found a bug where simultaneous key events occurring in the same frame (whether down or up) will be handled out of

[2019-02-03 08:36] dmytro-lymarenko commented on #14749
No, please no, we do not need ditectives! I like React as it allows me to write vanilla js which is very flexible!

[2019-02-03 08:50] yousefelgoharyx commented on #14749
Yeah I think third-party libs are the solution but for me writing js expression in return is limited I know I can write js before return but sometimes I feel that's just extra and not clean code

[2019-02-03 09:59] gaearon commented on #14750
I haven’t looked in detail yet but could it be because effects (unlike change pointers to React events, for example) are deferred until after paint? So they close over the stale value.

I kind of think that for discrete events where previous state matters you should always use the updater form or go straight to useReducer.

For example two setKeys calls in the same tick wouldn’t work either becaus

[2019-02-03 10:48] gaearon commented on #14624
I think the author meant they’d prefer that `useReducer()` *also* respected Redux idiom of setting initial state inside the reducer.

Afaik the main reason it doesn’t is type safety — otherwise you have to treat undefined as always a valid state value.

However we’ve also changed the signature of useReducer in master. Docs not updated yet. Redux signature would work if you did `useReducer(reducer,

[2019-02-03 15:15] Gelio commented on #14304
I have created a TSLint rule similar to `eslint-plugin-react-hooks`:

https://github.com/Gelio/tslint-react-hooks

It detects many misuses of React Hooks, such as using them inside loops, if statements, ternary and binary conditional expressions, class components and functions that themselves are not hooks or components. Check it out 😄

Be aware, that due to differences between TSLint and ESLint w

[2019-02-03 17:55] Aberman12 commented on #14442
Is this issue still being worked on @charBap? If not id be glad to take it on! @gaearon

[2019-02-03 18:00] Timbo2000aa commented on #14442
Yes

Den søn. 3. feb. 2019, 18:57 skrev Alex Berman <notifications@github.com:

[2019-02-03 22:34] tijwelch commented on #14285
@gaearon It seems the reported issue of calling dispatch() from useEffect() cleanup function and not seeing "bar" logged to the console (because the reducer function was not evaluated on an unmounted component) is no longer the case on master. The same example logs "foo", "bar", "baz" to the console on master.

DispatchAction now eagerly calls the reducer here https://github.com/facebook/react/blo

[2019-02-04 05:00] threepointone commented on #14749
As mentioned, this has come up various times before, and goes against React's "just javascript" paradigm. A problem with proposals like this, is that it doesn't prevent evaluation of expressions passed to children. So for example you'd write code like this -
[code]
js would try to run `name.toLowerCase()` even if `name` was `null`, throwing an error in the process.

You could then suggest wrapping

[2019-02-04 05:00] #14749 closed

[2019-02-04 05:05] threepointone commented on #14728
Did you mean to post this issue at https://github.com/facebook/create-react-app/issues?

[2019-02-04 05:06] threepointone commented on #14716
closing this issue.

[2019-02-04 05:06] #14716 closed

[2019-02-04 08:50] azizhk commented on #11369
Hi all, just wanted to share my feedback why this feature is required.

1. On Mobile Devices creating a Date Input Dropdown / Modal is hard. It bloats up the bundle if you want to cover all screen sizes / combinations. Almost all mobile devices have their own Native Date Input control best optimized for the screen size.
2. But there are no standards on how to format the date input so every browser

[2019-02-04 09:04] escaton commented on #14543
I guess this is it https://overreacted.io/making-setinterval-declarative-with-react-hooks/
:)

[2019-02-04 10:06] darkowic commented on #6653
I am also confused about it. I understand that a component fully knows about its properties when its parent renders it. And at that time props should be validate.

Here is the example: https://codesandbox.io/s/1qv24zwzm3. I inject `selected` property to every child component. That is why child component has `selected` property as required.

What do you think? @gaearon does the validation has to be

[2019-02-04 11:18] sjalgeo commented on #14114
@gaearon any ideas when this fix might make it into a release?

[2019-02-04 11:18] sjalgeo commented on #14114
PS: We love the work you do for us all!

[2019-02-04 11:33] joaovieira commented on #11538
I can't like that comment enough and I'm impatiently waiting for the outcome.

I myself bumped into this after getting multiple Sentry errors. After reproducing it myself I realized this actually causes the browser to completely crash - horrible for accessibility. As mentioned, relying on engineers remembering the _workaround_ or killing app performance for everyone are not long-term solutions for

[2019-02-04 11:37] cvlmtg opened #14753 "react 16: componentDidMount order with children"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

with nested components, `componentDidMount` is called first for parent and then for its children.

**What is the expected behavior?**

the parent's `componentDidMount` should be called after children's are mounted, otherwise it's impossible to e.g. calculate the parent node's height because it's stil

[2019-02-04 13:04] 71 opened #14754 "The contextmenu event is propagated downwards (instead of upwards)."
This is a **bug**.

**What is the current behavior?**
As seen [here](https://codesandbox.io/s/m5qoq1q0rj), right-clicking on a `div` fires the `contextmenu` event downwards (starting at the root, and then propagating to its children) instead of upwards (starting at the target, and propagating to its parents).

For instance,

[code]

renders two squares. Clicking on the smaller one will alert "Chil

[2019-02-04 15:04] gaurav5430 opened #14755 "When debugging onKeyDown , the onChange event does not fire, but fires when not debugging"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
when the input text has onKeyDown listener as well as onChange listener, the onChange listener isn't called when debugging if there is a breakpoint on switch(event.key) in onKeyDown (tested in chrome console, chrome version v71). It works well otherwise (if the breakpoint is at some other line , or no

[2019-02-04 15:59] gaurav5430 commented on #14755
more info:

works fine if i change onKeyDown to onKeyPress

[2019-02-04 16:14] gaurav5430 commented on #14755
ohk, i am inclined to say that it is more due to how onKeyDown behaves and not due to a React bug, still trying to pinpoint it though.

When debugging
both onKeyPress and onChange work if i change it to onKeyPress.
If i change it to onKeyUp , then onChange works but onKeyUp doesn't
if i change it to onKeyDown, then onKeyDown works but onChange doesn't.

Looks like when i move to debugging panel, t

[2019-02-04 16:52] gaurav5430 commented on #14755
I don't think it is related to blurring.

it doesn't work if i put a `debugger` statement in onKeyDown.
Does it have something to do with how onChange works in react?
why does it work differently for onKeyPress vs onKeyDown?

[2019-02-04 17:10] gaurav5430 commented on #14755
Log of events:

with no debugger:
key down
key press
text change
key up

with debugger in onKeyDown:
key down

with debugger in onKeyPress:
key down
key press
text change

with debugger in onChange:
key down
key press
text change

with debugger in onKeyUp:
key down
key press
text change
key up

[2019-02-04 17:16] gaurav5430 commented on #14755
seems to work as expected in firefox v64.0.2