[2016-10-25 18:57] piecyk commented on #7740
Hi, at start just want to say great work with `createNodeMock`to @Aweary :clap:

When testing some components i stumbled on some fishy behavior, basic everything works when on first render we have components rendered that has refs callbacks, but when on update we add new components with ref callbacks we got an error
`TypeError: optionscreateNodeMock is not a function`

dummy example
[code]

imho i

[2016-10-25 19:12] gaearon commented on #7740
Let's reopen so we don't lose track of this.

[2016-10-25 19:19] Aweary commented on #7740
@piecyk thanks for the details report, I'll look into this today and see what can be done 👍

[2016-10-25 19:25] sarbbottam commented on #7852
FYI

`xlink:href` [is deprecated](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/xlink:href) and one should use `href`. However, the issue exist with `href` too.

I have updated the bug report.

[2016-10-25 22:30] goatslacker commented on #7927
Here's another example that uses a pubsub event-emitter which simulates what a test would look like if it was hooked up to something like flux:

[code]

[2016-10-25 23:24] notahat commented on #2763
I think `componentDidMount` runs bottom-up, but `componentWillMount` runs top-down.

So execution order goes:

1. `parent.componentWillMount`
2. `child.componentWillMount`
3. `child.componentDidMount`
4. `parent.componentDidMount`

I'm not sure if that helps.

[2016-10-26 00:51] kevart opened #8100 "Redirection in docs lead to wrong page"
Search in Google for "react event listener remove".

Click on:

[code]

Opens this page: https://facebook.github.io/react/docs/react-component.html
which doesn't include any info about event listeners.

This happens for other search results too. It's pretty annoying to not be able to find references in the public docs quickly.

[2016-10-26 03:31] mrdulin commented on #8087
@gaearon I use like this:

[code]

[2016-10-26 04:03] eqyiel commented on #7998
I ended up using a test like this and applying different styles conditionally:

[code]

Closing because I don't think it's in the interest of the React team to sort out Safari bugs.

[2016-10-26 08:39] jochenberger commented on #7551
Still failing with React 15.3.2 (as well as 15.4.0-rc.2) and Closure Compiler v20161024.

[2016-10-26 08:41] gaearon commented on #7551
Since nobody worked on it, the issue did not advance. If you'd like to contribute please feel free to.

[2016-10-26 08:45] gaearon commented on #8087
My comment above is still valid, you need to add all the missing props

[2016-10-26 09:01] Shastel commented on #7551
@gaearon now i'm working on removing GCC anotations and plan to create pr tomottow or day after

[2016-10-26 09:17] jochenberger commented on #7551
thanks @Shastel

[2016-10-26 09:31] gaearon commented on #7551
Thanks!

[2016-10-26 13:31] gaearon commented on #8100
Docs were replaced a week ago, and they're not quite complete yet. I understand it's annoying, but the previous docs were very unfocused and included too many "tips".

@lacker What's the best place for this content now?

[2016-10-26 13:32] gaearon commented on #8092
I don't know how to change what `fb.me` links point to.
@spicyj Can you help me with this?

We should make it point to https://facebook.github.io/react/docs/lists-and-keys.html#keys.

[2016-10-26 13:33] pjuke commented on #8017
Another option may be to have an off-screen `<div>` rendering the ad from the server-state at load time and push the rendered html into your store.

Then at the components `componentDidMount` you simply grab the html from store and set it using [https://facebook.github.io/react/docs/dom-elements.html#dangerouslysetinnerhtml](url)

[2016-10-26 13:34] gaearon commented on #8091
If you have an error like this, you likely have an earlier error which got React into an inconsistent state. If you use Promises, you might be [catching those errors by mistake](https://github.com/facebook/react/issues/7617#issuecomment-247710003), and so they never appear in the console.

If you think this is a React bug, please provide a fiddle reproducing the issue.

[2016-10-26 13:45] gaearon commented on #8017
Use state for this:

[code]

Generally we don't recommend `setState()` in `componentDidMount()` because it causes an extra re-rendering, but in your case this sounds exactly like what you need.

[2016-10-26 13:45] #8017 closed

[2016-10-26 14:08] arackaf commented on #1881
I said to myself, "it's not even a question if React will support this; of course they will."  Turns out that's not the case.

My use case is like others: I'm trying to get my component to play along nicely with some third party stuff.

I really hope this gets added.

[2016-10-26 14:35] hanssaurer commented on #8092
When working in the chrome debugger and not attaching a unique key to iterated children the attached warning appears. The link https://fb.me/react-warning-keys is redirected subsequently. You can reproduce this by typing it in the address field of your browser. I don't know who redirects it and where to find the redirection table.

![bildschirmfoto 2016-10-26 um 16 21 24](https://cloud.githubuserc

[2016-10-26 14:50] brandonaaskov opened #8108 "Reusable Components Page Redirects Improperly"
The old page for Reusable Components (that went into great detail about the various PropTypes that can be used), now redirects to the wrong page:

**Original Page**
https://facebook.github.io/react/docs/reusable-components.html

**Now Redirects To**
https://facebook.github.io/react/docs/components-and-props.html

If, like me, you're looking for _something_ for now, you can see the original page fr

[2016-10-26 16:13] gaearon commented on #8108
Hi, thanks for feedback. The old "Reusable Components" page contained too many topics, and unfortunately we can't set up redirects for hash portion of the URL.

If you go to the [new docs website](https://facebook.github.io/react/) and use "Search" like this:

<img width="647" alt="screen shot 2016-10-26 at 17 12 01" src="https://cloud.githubusercontent.com/assets/810438/19734411/5436cf50-9b9f-11e

[2016-10-26 16:13] #8108 closed

[2016-10-26 16:15] gaearon commented on #8092
Yes, I understand this, it's a valid issue and we need to fix it.
My comment was pointed towards @spicyj who knows how `fb.me` redirects are set up.

[2016-10-26 16:31] davidnormo opened #8111 "Children components cannot always be a blackbox to their parent."
Perhaps this is already solved but I've had trouble finding a solution I'm happy with. Our scenario is as follows:

[code]

So component A doesn't know anything about being disabled or not. Component B, the owner, decides to disable component A by wrapping it in component Disable. Easy enough so far. We like this pattern, it means we can disable any component we like.

However we started getting i

[2016-10-26 16:39] gaearon commented on #8111
The tidiest solution is to have each component that is interested in supporting being disabled to accept a `disabled` prop. It could then choose to use a special `className`, or an inline style, or anything else, to get the relevant styles.

As an escape hatch your components may expose `className` prop but this breaks encapsulation and often leads to issues later on in the project.

I hope this h

[2016-10-26 16:39] #8111 closed

[2016-10-26 16:55] davidnormo commented on #8111
Thanks @gaearon, I'll continue the discussion on SO

[2016-10-26 18:10] lacker commented on #8063
@ericnakagawa is going to work with @thejameskyle to see if the Yarn solution will work for React.

[2016-10-26 18:28] lacker commented on #8100
Hmm, that tip seemed like it hardly had any content to me. See: https://github.com/ivanzotov/react/blob/55da8bb6d23dbc999f575943ceba280f3d30be60/docs/tips/11-dom-event-listeners.md

Basically the only content it has is, when you want to use DOM event listeners, call `window.addEventListener` in `componentDidMount` and `window.removeEventListener` in `componentWillUnmount`. That's why I just redire

[2016-10-26 18:32] robdodson commented on #7901
@sebmarkbage those are good points. If you have a moment can you take a look at the sample code I posted and let me know if it seems inline with what you're thinking?

[2016-10-26 18:40] rthor commented on #3173
Is this still something the team is interested in? Is anyone using `createClass` at this point?

[2016-10-26 18:44] sebmarkbage commented on #7901
@robdodson Yes, that looks very good to me.

[2016-10-26 18:47] sebmarkbage commented on #7901
If the only problem is boilerplate, I think that is solvable. Initially in user space in terms of libraries that make it easy to create best-practice custom elements. Later a standard helper can be batteries included.

[2016-10-26 19:30] robdodson commented on #7901
Yeah that sounds good to me 👍  @treshugart @staltz what do you guys think?

[2016-10-26 20:48] roastlechon commented on #8017
Ill prepare a sample repo to illustrate situation

[2016-10-26 20:49] treshugart commented on #7901
Looks awesome! I'll reiterate that github.com/web components/react-integration currently solves this stuff in userland. That might be a good spot to start collaborating on some of the boilerplate.

[2016-10-26 21:07] spicyj commented on #3173
We're not making changes to createClass any more.

[2016-10-26 21:07] #3173 closed

[2016-10-26 21:44] pemrouz commented on #7901
From experience of [using vanilla Web Components in a React-like architecture](https://github.com/websdk/vanilla#vanilla), a few humble suggestions:

* Don't spray props directly onto the element, do something like `Object.assign(element.props, props)` instead. This makes it alot easier to debug (`$0.props`), works better with the immutable paradigm (`element.props === props`), time travel, avoids

[2016-10-26 21:52] richsoni opened #8116 "HTML5 datepicker not updating after type change"
When toggling an input's type between 'date' to 'datetime-local', there are strict formatting rules (at least in Chrome).

Here is a breaking example: http://jsbin.com/weyenof/edit?html,js,output

Changing React to version 15.1.0 in the example fixes the bug.

[2016-10-26 22:30] kevart commented on #8100
Thanks guys! I'll keep checking.

[2016-10-26 22:30] #8100 closed

[2016-10-26 23:17] rauschma commented on #7293
You may want to use the FAQ to allay basic fears of people who are not lawyers. For example (similar to @Cat-sushi’s questions):

* What are the consequences of a “termination of the additional patent grant”?
* Am I not allowed to use React, anymore, then?

[2016-10-26 23:43] suchipi commented on #7424
This issue has been closed, but the original test case still produces the warning for me (using jsfiddle via https://jsfiddle.net/reactjs/69z2wepo/)

[2016-10-27 00:02] gaearon commented on #7293
The FAQ only says the things that are certain without a legal precedent. Ultimately interpreting the license is always up to the court, and it is not something we can claim with certainty.

It took us quite a while to work with our legal team to get this FAQ published. Please believe me that it contains all the clarifications that we can legally and technically provide. Thanks!

[2016-10-27 00:03] gaearon commented on #7293
(Fat finger, didn't meant to reopen.)

[2016-10-27 00:05] gaearon commented on #7424
The issue gets closed when the bug is fixed in master.

By looking at the issue history, you will see that it got closed by #7455. If you open that PR and look at it milestone, it says "15.4.0".

This means that when 15.4.0 is out as a stable version, the issue will be fixed. In the meantime you can already use `15.4.0-rc.4`.

[2016-10-27 00:23] rubyruy commented on #7552
I'd like to argue in favor of @zemlanin's use case. The very purpose of `Symbol` is to be a private property identifier that cannot collide with another - it feels like a much more appropriate solution to this sort of problem compared to `randomKey`.

I think the more useful simplifying guideline would be "react prop keys are just like object prop keys" (rather than just "keys are strings"). For t

[2016-10-27 01:14] jfrazzano commented on #7901
I hate to chime in on a thread like this but feel I owe it to justin as a deminimus for all his hard work and patience just with me.

As someone building a shard templating engine,designed to approximate functional groups, the unbelievable --excuse my French --bitch it is to json manage data in looped layered attributed that can only pass data strings --makes even the vaguest concept of sacrificin

[2016-10-27 01:15] jfrazzano commented on #7901
At a minimum you are gonna burn your wheel and kill your cpu in a complex app

[2016-10-27 02:57] suchipi commented on #7424
Ah, I missed the "in #7455"; sorry. Thanks for the clarification.

[2016-10-27 04:40] haobaozhong opened #8119 "React Docs: Conditional Rendering"

[2016-10-27 04:51] #8119 closed

[2016-10-27 06:45] roastlechon commented on #8017
Recently opened up a discussion with Kevin Lacker, and tried to reproduce our application on a smaller example repo, and was not able to reproduce the ads wipeout issue.

https://github.com/roastlechon/react-component-wipeout-example

My theory is that one of our libraries that we are using is causing a rerender, which causes the warning message for

```React attempted to reuse markup in a contain

[2016-10-27 07:01] benwiley4000 commented on #6436
@joshjg React handlers are passed "synthetic events," which are sort of like native events, but different.

I'm not super familiar with the implementation details, but I know that `preventDefault` works *as long as the handlers you're preventing are also React synthetic event handlers*. That's been my experience, anyway.

With `stopPropagation` you're more likely to be out of luck (e.g. you have a

[2016-10-27 09:29] gaearon commented on #7424
No worries! Hopefully we'll get it out within a week or two but RC should be perfectly usable.

[2016-10-27 09:31] #7927 closed

[2016-10-27 10:17] Cat-sushi commented on #7293
Basically this is not a court matter.
Only after users behave against the intention of the language, then facebook might want to ask the court to judge the effect of the binding force of the underlying lows.

On the other hand, the language is newly defined by facebook itself.
At the same time, the language might be changed at any point by the free intention of facebook.
You know, in general, lice

[2016-10-27 10:28] LibreJS opened #8123 "Make React compatible with LibreJS"
Easy guide on how to do it: https://www.gnu.org/software/librejs/manual/librejs.html#Setting-Your-JavaScript-Free

This should take no more than a few minutes.

Thank you.

[2016-10-27 12:32] gaearon commented on #7293
@Cat-sushi

I was replying to @rauschma’s comment above. We can’t possibly answer the questions he asked for the reasons I explained above.

The patent grant is intentional, as some large companies didn’t want to use React without an explicit patent grant. The defensive clause is also intentional, as Facebook needs to protect itself against companies that buy patent portfolios and then sue Faceboo

[2016-10-27 12:58] gaearon commented on #7932
This already works in Fiber (#6170). We will not backport it to the existing reconciler.
Fiber is [not ready yet](http://isfiberreadyyet.com/) but we hope to ship it next year.

[2016-10-27 12:58] #7932 closed

[2016-10-27 12:59] gaearon commented on #7905
I'm going to close since technically you can already pass context (via usual means, that is, with a wrapping component), and the error you see appears to be related to module resolution rather than to React.

[2016-10-27 12:59] #7905 closed

[2016-10-27 13:02] gaearon commented on #7902
`invokeGuardedCallback` has four arguments. I can't find any callsites that call it with all four arguments. Let's just remove the `b` argument and the issue should be resolved.

[2016-10-27 13:03] gaearon commented on #7850
I'll close as there are no plans to take extra steps to support custom renderers for stack reconciler while we're changing everything in Fiber. Fiber will have a first-class custom renderer support.

[2016-10-27 13:03] #7850 closed

[2016-10-27 13:06] gaearon commented on #7827
This looks like a bug to me. I'm not sure it's high priority since we're concentrating on Fiber now (#6170) but it would be great if you could turn this into a failing test case.

[2016-10-27 13:07] gaearon commented on #7845
This is now mentioned in the documentation. I agree it's not ideal but adding a warning would defeat the purpose of allowing `className`.

[2016-10-27 13:07] #7845 closed

[2016-10-27 13:08] gaearon commented on #7848
Would you like to submit a PR to the doc page?

[2016-10-27 13:12] gaearon commented on #7805
I will close this since you didn't provide a JSFiddle while the issue template explicitly asked you to. Thank you for your time!

[2016-10-27 13:12] #7805 closed

[2016-10-27 13:13] gaearon commented on #7623
#7777 has since been merged, so closing. Thanks!

[2016-10-27 13:13] #7623 closed

[2016-10-27 13:15] gaearon commented on #7484
Can you please turn this into a failing test case in `ReactPerf-test`?

[2016-10-27 13:21] #7317 closed

[2016-10-27 13:24] gaearon commented on #7212
We likely won't do this.

If property initializers get into the language, you'd just `state = ...` as a property rather than use constructor so there is no problem.

As for `componentWillMount` we don't think it's very useful anyway when you have a constructor.

We will likely revisit all lifecycles after shipping Fiber (#7678) and we'll keep this in mind when designing the new ones.

[2016-10-27 13:24] #7212 closed

[2016-10-27 13:29] gaearon commented on #6737
This seems like an unsupported pattern: you are trying to render something into a container that already contains another component whose lifecycles are currently being executed.

If you want `B` to appear, include `<B />` from `A`'s render output.

[2016-10-27 13:29] #6737 closed

[2016-10-27 13:32] gaearon commented on #6062
We do have the line numbers for this now if you enable [this transform](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-react-jsx-source) in development. It's already included by default with Create React App.

[2016-10-27 13:32] #6062 closed

[2016-10-27 13:34] gaearon commented on #7224
We are unlikely to support something like this in the close future so your best bet is to maintain a fork of `warning` system. We do something similar at Facebook: the `warning` module is forked.

We'll be happy to revisit this in a year or so but right now this issue is not a priority for us.

[2016-10-27 13:34] #7224 closed

[2016-10-27 13:35] gaearon commented on #681
[Create React App](https://github.com/facebookincubator/create-react-app) sort does that.

[2016-10-27 13:35] #681 closed

[2016-10-27 13:40] gaearon opened #8125 "Transferring TransitionGroup Maintenance"
We haven't been good at maintaining [ReactTransitionGroup](https://facebook.github.io/react/docs/animation.html) as we don't use it much at Facebook.

As a result it's stagnating: the bugs don't get fixed, new features don't get added, APIs don't acknowledge changes in React (e.g. fake lifecycle hooks that can't work on functional components), nobody has the time to review PRs to it, and it's like

[2016-10-27 13:43] gaearon commented on #955
Closing as there is no bug, and alternatives have been proposed.

[2016-10-27 13:43] #955 closed

[2016-10-27 13:46] #1448 closed

[2016-10-27 13:48] gaearon commented on #1592
Closing because very old and doesn't seem important (and doesn't even seem to be a bug).

[2016-10-27 13:48] #1592 closed

[2016-10-27 13:49] gaearon commented on #1625
Closing because it's very old.

[2016-10-27 13:49] #1625 closed

[2016-10-27 13:50] gaearon commented on #1851
We won't make changes to `createClass` anymore.

[2016-10-27 13:50] #1851 closed

[2016-10-27 13:51] developit commented on #8125
I don't use it either, but I wanted to drop a link to a refactored standalone version I put together here because it'd make a pretty compelling starting point for anyone looking to maintain a standalone version of ReactTransitionGroup:
https://github.com/developit/preact-transition-group

It's obviously for Preact, but forking it to work with React again would basically just be changing the import

[2016-10-27 13:52] fjckls commented on #8125
So what do you use at Facebook? React Motion? Does that mean that the end is in sight for < ReactTransitionGroup> and we should start refactoring our code in favor of react motion?

[2016-10-27 13:53] gaearon commented on #2029
Seems like this is resolved.

[2016-10-27 13:53] #2029 closed

[2016-10-27 13:53] gaearon commented on #2045
Fixed by #2065.

[2016-10-27 13:53] #2045 closed

[2016-10-27 13:54] gaearon commented on #2061
`TapEventPlugin` is not officially supported so I'm closing this.

[2016-10-27 13:54] #2061 closed

[2016-10-27 13:56] gaearon commented on #2073
I'm closing as outdated, if there is more to discuss let's do it in #7678.

[2016-10-27 13:56] #2073 closed

[2016-10-27 13:58] gaearon commented on #2095
I think this is supported in new ReactPerf.

[2016-10-27 13:58] #2095 closed

[2016-10-27 13:59] gaearon commented on #2104
Closing since this is not actionable for us.

[2016-10-27 13:59] #2104 closed

[2016-10-27 14:01] gaearon commented on #2127
FYI, the rewrite we're working on (#6170) already supports fragments. You can track our progress in #7925 and on http://isfiberreadyyet.com.

[2016-10-27 14:02] gaearon commented on #2059
Closing as this doesn't seem actionable for us.

[2016-10-27 14:02] #2059 closed

[2016-10-27 14:03] gaearon commented on #2074
We might consider this in the future. Let's continue the discussion in #7678.

[2016-10-27 14:03] #2074 closed

[2016-10-27 14:04] gaearon commented on #2143
Closing as non-actionable in this repo.

[2016-10-27 14:04] #2143 closed

[2016-10-27 14:06] gaearon commented on #2174
[Coroutines](https://github.com/facebook/react/blob/e1b140225a5881d831e3ac7e9128106a27039fec/src/renderers/shared/fiber/__tests__/ReactCoroutine-test.js) in Fiber (#6170) should make it possible to implement flexible layout primitives without breaking encapsulation. We won't go with the proposal in this issue. Thanks!

[2016-10-27 14:06] #2174 closed

[2016-10-27 14:09] gaearon commented on #8125
The Facebook product itself doesn't have many insertion/deletion animations so we don't use anything much.

No, why? Even if we completely stop releasing new versions it won't be any worse than it is now: effectively it's already been abandoned for a year or so. You can keep using it, or fork it yourself if you want to improve it. In fact this is what the issue is about.

[2016-10-27 14:10] gaearon commented on #2245
Fiber.

[2016-10-27 14:10] #2245 closed

[2016-10-27 14:10] sbussard commented on #3725
@romulof it looks like you're trying to reference an instance variable from a static method. You can't do that because there's no way to tell which `this` you're talking about. By definition, static things always live outside of the context of an instance.

[2016-10-27 14:12] gaearon commented on #2576
Closing as very outdated.

[2016-10-27 14:12] #2576 closed

[2016-10-27 14:14] gaearon commented on #2278
Closing as it's unlikely we'll be working on this.

[2016-10-27 14:14] #2278 closed

[2016-10-27 14:14] gaearon commented on #2273
Probably not relevant now that we use `createElement` on the client.

[2016-10-27 14:14] #2273 closed

[2016-10-27 14:15] sbussard commented on #3725
@romulof That's common with all object oriented languages. The fat arrow syntax for defining functions binds to the context it's defined in. Maybe you could try using

[code]

[2016-10-27 14:15] fjckls commented on #8125
For us animation itself is not a problem we're using great [GSAP](https://greensock.com/gsap) tweening engine. The problem comes when we have to animate out component on removal. React motion almost solves this problem - there is only one issue with React Motion- there is no `onRest` callback for TransitionMotion....
Anyhow there will never be 100% perfect solution out of the box... so will have t

[2016-10-27 14:15] gaearon commented on #2331
We don't support IE8 anymore.

[2016-10-27 14:15] #2331 closed

[2016-10-27 14:17] gaearon commented on #2332
Not supporting IE8 anymore.

[2016-10-27 14:17] #2332 closed

[2016-10-27 14:18] romulof commented on #3725
@sbussard: Exactly.

My question is about `defaultProps` being implemented as a static object.
Maybe allowing it to be a function, to be called by constructor.

[2016-10-27 14:21] gaearon commented on #2294
Specifying an object is now not supported. Please use explicit keys.

[2016-10-27 14:21] #2294 closed

[2016-10-27 14:22] gaearon commented on #2346
Closing as very old.

[2016-10-27 14:22] #2346 closed

[2016-10-27 14:25] gaearon commented on #2515
It's still weird but documented now. We can track changes to JSX in its own repo.

[2016-10-27 14:25] #2515 closed

[2016-10-27 14:26] gaearon commented on #2598
Closing as we won't be doing this.

[2016-10-27 14:26] #2598 closed

[2016-10-27 14:27] gaearon commented on #2660
`mockComponent` is neither maintained and not recommended. Please either use shallow rendering instead, or mock components with Jest which gives you an ability to pass anything.

[2016-10-27 14:27] #2660 closed

[2016-10-27 14:28] gaearon commented on #2696
We won't be changing how mixins work, and we don't recommend using them in new code.

[2016-10-27 14:28] #2696 closed

[2016-10-27 14:30] gaearon commented on #2742
This has been fixed since.

[2016-10-27 14:30] #2742 closed

[2016-10-27 14:31] gaearon commented on #2750
Looks fixed.

[2016-10-27 14:31] #2750 closed

[2016-10-27 14:31] RReverser commented on #2143
@gaearon Ha, thanks for bringing up some old memories!

[2016-10-27 14:32] gaearon commented on #2746
When you use web components with React, you can pass any attributes.

[2016-10-27 14:32] #2746 closed

[2016-10-27 14:32] gaearon commented on #2815
We don't support IE8 anymore.

[2016-10-27 14:32] #2815 closed

[2016-10-27 14:33] #2863 closed

[2016-10-27 14:33] gaearon commented on #2883
Closing as we won't be changing `createClass`.

[2016-10-27 14:33] #2883 closed

[2016-10-27 14:34] gaearon commented on #2887
This has since been implemented, and [this Babel plugin](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-react-jsx-source) will give you full stacktrace for the unknown prop warning. It is enabled by default in Create React App.

[2016-10-27 14:34] #2887 closed

[2016-10-27 14:35] gaearon commented on #3335
Closing as it doesn't appear actionable for us.

[2016-10-27 14:35] #3335 closed

[2016-10-27 14:36] gaearon commented on #3244
Closing as the tree is considered an implementation detail.

[2016-10-27 14:36] #3244 closed

[2016-10-27 14:38] gaearon commented on #2869
Closing as we don't use JSDoc in new code anyway.

[2016-10-27 14:38] #2869 closed

[2016-10-27 14:38] gaearon commented on #3787
Fixed in #7456.

[2016-10-27 14:38] #3787 closed

[2016-10-27 14:40] gaearon commented on #3726
We do have this information now in `ReactDOMComponent`. Retagging.

[2016-10-27 14:41] gaearon commented on #3677
All class components now must extend `React.Component`.

[2016-10-27 14:41] #3677 closed

[2016-10-27 14:41] gaearon commented on #3624
`transferPropsTo` and `cloneWithProps` have been removed.

[2016-10-27 14:41] #3624 closed

[2016-10-27 14:42] gaearon commented on #3389
AFAIK we already support starting/stopping outside of top level now.

[2016-10-27 14:42] #3389 closed

[2016-10-27 14:43] gaearon commented on #3698
We added error codes in 15.3.x so you can inspect full errors in production.

[2016-10-27 14:43] #3698 closed

[2016-10-27 14:44] gaearon commented on #3886
We won't be changing `createClass` semantics.

[2016-10-27 14:44] #3886 closed

[2016-10-27 14:45] #3927 closed

[2016-10-27 14:46] gaearon commented on #4286
Closing as this is not yet officially supported. When it is, we'll document the API.

[2016-10-27 14:46] #4286 closed

[2016-10-27 14:47] gaearon commented on #4272
Closing as no longer relevant.

[2016-10-27 14:47] #4272 closed

[2016-10-27 14:48] gaearon commented on #4173
Closing as not a common issue, and caused by wrong usage. If it comes up often, feel free to send a PR that adds better warnings.

[2016-10-27 14:48] #4173 closed

[2016-10-27 14:49] gaearon commented on #4523
We're changing all internals and this will no longer be relevant after a while.

[2016-10-27 14:49] #4523 closed

[2016-10-27 14:50] gaearon commented on #5047
We won't be doing this.
I also wrote about alternatives to inheritance:
https://facebook.github.io/react/docs/composition-vs-inheritance.html

[2016-10-27 14:50] #5047 closed

[2016-10-27 14:51] gaearon commented on #5039
We should just kill factories. #6169

[2016-10-27 14:51] #5039 closed

[2016-10-27 14:52] gaearon commented on #4933
I'm closing since this is not a bug, but a different (and now documented) behavior for web components.
Use `class` for them.

[2016-10-27 14:52] #4933 closed

[2016-10-27 14:53] gaearon commented on #4847
Closing as I'm not aware of a compelling reason to allow it. If you see a good reason please send a PR and let's discuss this.

[2016-10-27 14:53] #4847 closed

[2016-10-27 14:54] gaearon commented on #5413
Closing as we won't be changing this.

[2016-10-27 14:54] #5413 closed

[2016-10-27 14:55] gaearon commented on #5271
Closing as docs use ES6 now.

[2016-10-27 14:55] #5271 closed

[2016-10-27 14:56] gaearon commented on #5149
Closing as very old.

[2016-10-27 14:56] #5149 closed

[2016-10-27 14:57] gaearon commented on #5312
We won't be changing how `update()` works.
Please consider filing these in https://github.com/kolodny/immutability-helper instead.

[2016-10-27 14:57] #5312 closed

[2016-10-27 15:00] gaearon commented on #5618
Closing as either works.

[2016-10-27 15:00] #5618 closed

[2016-10-27 15:01] gaearon commented on #6194
This was fixed in #6362.

[2016-10-27 15:01] #6194 closed

[2016-10-27 15:02] gaearon commented on #6093
This looks like an issue with incorrect build setup rather than something we can fix here.
In future we will separate addons completely and it won't be an issue.

[2016-10-27 15:02] #6093 closed

[2016-10-27 15:06] rickbeerendonk commented on #8116
It runs fine if I run it locally in React 15.3.2 and 15.3.0.
In jsbin I do indeed see the effect, but when I open the console I can see warnings that the value is not being set in the correct format. I don't see those errors locally.

[2016-10-27 15:09] gaearon commented on #7113
Closing because it seems like React got into an inconsistent state due to the user error above.
Still not very good but at least it's possible to fix in apps.

[2016-10-27 15:09] #7113 closed

[2016-10-27 15:11] gaearon commented on #7353
FWIW this is already implemented in Fiber (#6170).
We won't be bringing this to the old reconciler.

[2016-10-27 15:12] gaearon commented on #7575
We likely won't be doing this because we are focusing on Fiber, and it doesn't even have those methods. Thanks for the suggestion though!

[2016-10-27 15:12] #7575 closed

[2016-10-27 15:14] gaearon commented on #3725
It is intentionally outside the class so that an optimizing compiler could inline it at the call site.

[2016-10-27 15:15] gaearon commented on #8100
Maybe "refs in the DOM" would be a good place?

[2016-10-27 15:17] richsoni commented on #8116
I just experienced the same.  I am going to do some more experimentation to see if I can figure out why its not working in the jsbin (and also in my actual code).

[2016-10-27 15:23] iDams commented on #7848
Sure

[2016-10-27 15:25] jquense commented on #8125
me and @taion might be interested, I've copy and pasted and forked this component so many times . It'd be nice to make direct improvements

[2016-10-27 15:29] gaearon commented on #8125
@jquense This would be amazing, you've made some great work maintaining React libraries.

[2016-10-27 15:31] Cat-sushi commented on #7293
@gaearon
Have you really read my comments?
Yes, it's unproductive.
But I think nobody in facebook have not answered questions of me and others.
Very unfortunately, the only message I have got from facebook is that facebook can't clarify any more with some incomprehensible reasons.
I would contact James Pearce if my colleague, by any chance, want to use React in some our significant products.

[2016-10-27 16:04] lacker commented on #8100
I thought about that, but this doesn't even use refs, it's using global stuff on `window`, so I got stumped.

[2016-10-27 16:13] gaearon commented on #8100
It fits into the "and the DOM" part.

[2016-10-27 16:35] sebmarkbage commented on #4933
This might be related to #7901. If we make a breaking change to switch to properties then this would become className.

[2016-10-27 17:10] jquense commented on #8125
ok 👍  we are are glad to take over maintenance.

My initial thought is to move it to https://github.com/react-bootstrap/react-overlays since it pairs nicely with the Transition component there, one for single components this for lists. We can also keep it a separate repo if necessary, but I think if folks only want that component requiring it individually from the suite shouldn't cause to much fri

[2016-10-27 18:22] gaearon commented on #8092
It's fixed now. The old redirect is cached in my browser but I can verify it opens the right URL in an incognito tab.

[2016-10-27 18:22] #8092 closed

[2016-10-27 18:22] gaearon commented on #8092
Thanks for bringing this to our attention!

[2016-10-27 18:26] gaearon commented on #8125
Would you like to do it under `reactjs` org? My concern with `react-bootstrap` org is people will think it's going to require Bootstrap, or something like this.

[2016-10-27 18:44] taion commented on #8125
Tangential, but we would prefer to move react-overlays under reactjs – potentially replacing react-modal: https://github.com/reactjs/react-modal/issues/156.

[2016-10-27 19:05] jquense commented on #8125
under reactjs is 👍  It might make sense to pull Transition out of react-overlays into an anaimation specific package since it doesn't have to do specifically with overlays :p

[2016-10-27 19:58] staltz commented on #7901
@robdodson Yeah that's aligned with what I think as well.

I'd also choose the same.

What's the action points with this issue? I'm willing to do something but unsure what, and confused whether @robdodson or @sebmarkbage have intentions to act on this.

[2016-10-27 20:12] sebmarkbage commented on #7901
To clarify my conclusion: If @robdodson shows that the proposed "best-practice" above is a feasible direction for the Web Components ecosystem including event listeners as properties.

Then React will switch to simply transferring props to the element properties, `Object.assign(customElement.props, reactElement.props)` in the next major release.

The next actionable item there would be that someon

[2016-10-27 20:17] robdodson commented on #7901
@staltz I've been discussing it with some of the platform engineers on Chrome. They raised some issues around how the native on* properties work with builtins and I think it'd be worthwhile to discuss those. I'm working on a follow up that details the points they covered.

[2016-10-27 22:03] robdodson commented on #7901
- As the checkbox example showed, it's relatively simple (if a bit verbose) for a CE author to wire up event handler properties

- However, it turns out that it's currently impossible for a CE author to implement event handler *attributes* that match the behavior of platform built-ins. Those attribute handlers are created by V8 in ways that are not exposed to plain JavaScript.

This raises the con

[2016-10-28 00:04] rickbeerendonk commented on #7990
We are talking about react-dom.min.js, not react.min.js.

The gulp script (bfd1531eca38e4e25a9517a00d5be1283bda6696) extracting the error-codes is not part of the build, so it had to be run separately.

Doing what @gaearon said will actually make the minified version 19 bytes larger when I change the lines in ReactMount.js.

There are currently more error-codes not part to codes.json, so we should

[2016-10-28 01:14] sohibul commented on #1549
I have similar issue with this.

I can type `...1...111` in `<input type="number" />`

But if I has defaultValue `<input type="number" defaultValue={10} />`, i cannot type `.` (dot) first time. I tried type `1` then `.`, it failed then cursor go to the front (before `1`). Then I can type `.`, so I have `.1`. But still I cannot type multiple `.` (dot), the field will be empty.

[2016-10-28 01:50] kolodny commented on #1798
FWIW, I discovered a clean way to do this as follows:

[code]

http://codepen.io/anon/pen/LRoLXZ?editors=0010

[2016-10-28 02:36] yaycmyk commented on #1798
@kolodny I wouldn't really call that clean. Making a HOC would be a better approach. You're hijacking refs to make a side effect.

[2016-10-28 03:03] mcmar commented on #4008
Hi there. It looks like the resolution here is incorrect. This bug is still present in React 15.3.2. I think we should re-open this issue since this is still a problem.

[2016-10-28 03:47] Plortinus commented on #6779
@gaearon
When a component has a `value` prop and at the same time a `defaultValue`(or `defaultChecked`) prop, it would be regard as an uncontrolled component.

I think this should be **explicitly** declared with the [examples](https://facebook.github.io/react/docs/forms.html#uncontrolled-radio-button) in the [Form docs](https://facebook.github.io/react/docs/forms.html) , for example write a **Note

[2016-10-28 05:14] donaldpipowitch commented on #2029
@gaearon I wouldn't say it is solved, if you mean the unofficial typings in DefinitelyTyped with that. IMHO these are a workaround. For example it is very hard to control typings for prereleases of React with DefinitelyTyped.

[2016-10-28 09:09] calbertts commented on #7093
Having a similar problem here.
I'm loading a Twitter button and it mutates the DOM throwing the error.

How can we deal with this kind of issues or third party libraries?

[2016-10-28 09:26] gaearon commented on #2029
What is actionable for the team here?

[2016-10-28 09:39] donaldpipowitch commented on #2029
I guess we need a statement if the team is interested in including Typescript definitions or not and if they would accept definitions inside a PR what the requirements are.

[2016-10-28 12:16] gaearon commented on #8125
What would be our next steps? Do you need any help with the forking?

[2016-10-28 14:48] rickbeerendonk commented on #7990
Cleaning up the code table will bring down the size of react.min.js and react-dom.min.js. However, numbers in the code table should not contain gaps and renumbering causes tests (that depend on those numbers) to fail. I'll fix those too.

[2016-10-28 15:05] keyanzhang commented on #7990
@rickbeerendonk it's been fixed in #7999 but improvements are welcome.

[2016-10-28 15:12] rickbeerendonk commented on #7990
@keyanzhang I'll have a look.

[2016-10-28 15:31] rickbeerendonk commented on #7990
Conclusion:
- There are 7 invariants with a second argument ending with ".%s", meaning there is text in the 3rd argument and the minified files. Changing the code to turn those into resources (if possible) _increases_ the size of the minified files.
- `codes.json` is missing error messages (fixed in #7999)
- `codes.json` container old error messages. Cleaning will remove 126 bytes from react.min.j

[2016-10-28 15:55] keyanzhang commented on #7990
Thanks for your contribution! However, `codes.json` should not be manually edited. This file is designed to be append-only to ensure backward compatibility, which means an existing code in the file will never be changed/removed. The README file added in #7999 contains more information about the system.

However, it's interesting that you mentioned removing old messages from `codes.json` actually d

[2016-10-28 16:09] rickbeerendonk commented on #7990
@keyanzhang The backwards compatibility is a bit hidden in the docs. It's due to having a central system for all error messages for old past versions?

[2016-10-28 16:21] keyanzhang commented on #7990
@rickbeerendonk Yeah, exactly. It should not affect the build size though...

[2016-10-28 16:22] yuanalexwu commented on #2020
@zpao, @elgerlambert  u guys are awsome, I was strugglling with this for a long time untill I find this issue.

[2016-10-28 16:51] rickbeerendonk commented on #7990
@keyanzhang Hmmm... it might be due to missing messages only, so that's fixed.

[2016-10-28 19:34] MadebyAe commented on #2477
@jimfb That post is so confusing... What about DraftJS? drops the same Warning.

[2016-10-28 19:34] amieres opened #8132 "SetState does not handle well nested SetState calls"
This could be a bug (or a nice to have feature) :
SetState does not handle well nested SetState calls

The successive calls are put in the _pendingStateQueue but not resolved, because the queue reference is cleared too soon.
My suggestion would be to change function **_processPendingState** like this:

[code]

[2016-10-28 19:52] stevewillard commented on #8080
Out of curiosity, why will they throw errors in 16.0?

[2016-10-28 20:50] gaearon commented on #8080
Yes (but only in production).

[2016-10-28 20:51] gaearon commented on #8080
Because we will eliminate all that code in production. It doesn't seem to make sense to ship real code for PropTypes validators if it's normally never used in prod. Therefore we'll replace them all with an empty function. To make this behavior clear we'll make it throw so people don't rely on them for validating e.g. user input.

[2016-10-28 21:08] gaearon commented on #8132
Can you please show the code you're having issues with?

[2016-10-28 21:15] Shastel opened #8134 "React does not support node 7.x for development"
**What is the current behavior?**
```AssertionError: Current node version is not supported for development, expected                                                                                                                                   "7.0.0" to satisfy "4.x || 5.x || 6.x".```

**Steps to reproduce**
1. Install node 7.x
2. Clone [React repo](https://github.com/facebook/react)
3. run ``

[2016-10-29 02:30] amieres commented on #8132
Unfortunately I'm coding in F# transpiled into javascript which makes it almost unreadable.

I'm dealing with messages that change the state and some times the calls are recursive and they usually initiate from a change of state.
Something like this:

[code]

Because the call to showMessage happens within the first call to setState, it does not get added to the current _pendingStateQueue because t

[2016-10-29 07:05] wenpengfei opened #8140 "Uncaught Error"
`Uncaught Error: Attempted to update component`Connect(Connect(Connect(Connect(getContext(withHandlers(MemberPrepaidView))))))`that has already been unmounted (or failed to mount)`

Any idea why am I getting this?

[2016-10-29 07:15] milesj commented on #8132
Anyway you can change your F# code to trigger the message in the `setState` callback like so?

[code]

[2016-10-29 07:30] wangzhen10 opened #8141 "Hot Module Replacement has problem working with dropbox"
I'm submitting a bug report

React version： **15.0.1**

Webpack version: 1.13.3

Current behaviour:
Hot Module Replacement does not work when my project is in my dropbox named "dropbox(person)". But after I change the name to "dropbox" without"()". It does work.

I spend 2 days to figure out this problem. I just want to share this with others. So they do not need to waste time on this.

[2016-10-29 09:05] amieres commented on #8132
Thanks for the suggestion Miles.
That would not work for me.
The code I posted is just a small sample.
There are more calls happening as the controls communicate among them.
That would trigger multiple renders each time.

The other problem is that the code would get separated.
I am using what is called the elm architecture: https://guide.elm-lang.org/architecture/
which lines up very well with Rea

[2016-10-29 10:23] gaearon commented on #8141
Thanks for the report! You should however file this with Webpack because React is just a user interface library and has no relation to hot module replacement. Cheers!

[2016-10-29 10:23] #8141 closed

[2016-10-29 10:24] gaearon commented on #8134
Thanks for the fix.

[2016-10-29 10:24] #8134 closed

[2016-10-29 11:15] sodik82 commented on #1587
@gaearon is there any guide that explains how to use Flow instead of proptypes especially how to check/catch unknown prop types (as per this issue). thanks.

[2016-10-29 12:08] gaearon commented on #8140
No, we would need a minimal example reproducing the problem to help troubleshoot it.

[2016-10-29 12:12] gaearon commented on #8132
First of all, this is not correct usage:

[code]

State should be treated as immutable, and you must never assign to it. Instead return the update:

[code]

Since you're not using previous state, you might as well pass an object right away:

[code]

Secondly, calling `setState()` from inside an updater function is not supported. (Maybe we should throw in this case?

The updater function is suppose

[2016-10-29 12:30] AlicanC commented on #1587
Install flow-bin and initialize the config:
[code]

Use it:
[code]

You can use Nuclide to see errors in Atom:
[code]

[2016-10-29 13:00] JeremyWuuuuu opened #8144 "componentDidMount wouldn't not rerendering the component"
Look , I got this problem, it shows on my console. which is
`
app.js:1 Uncaught TypeError: Cannot read property 'getHostNode' of null
`
and I don't know wtf is this Error, and another serious problem is here ,
here is my code :

[code]

and here is my log

[code]

and that's it , I know this code may not look very good , but this problem is killing me , I try to  debug it but I just can't

[2016-10-29 13:17] amieres commented on #8132
Dan,
Thanks for your help.

"First of all, this is not correct usage:`"

You are right. I meant to use return not assign, my mistake.
I was paraphrasing from code in F# and got it wrong.
It should read something like this:

[code]
"Secondly, calling setState() from inside an updater function is not supported. (Maybe we should throw in this case?"

I imagined that could be the case, that is why I d

[2016-10-29 13:25] brigand commented on #8144
It looks like getData never calls the callback. Also, please see [Where To Get Support](https://facebook.github.io/react/community/support.html).

[2016-10-29 15:59] gaearon commented on #8144
We won't be able to help you if you don't include a fiddle reproducing the issue, like the issue template you chose to delete asks you to.

[2016-10-29 16:41] madhug commented on #8060
Is anyone working on `Manipulating Children` #6942 or can I take it?

[2016-10-29 16:42] madhug commented on #6942
is someone working on this or can i take a stab at it?

[2016-10-29 16:46] gaearon commented on #6942
@madhug Definitely, you can take it! I imagine this as a single guide that combines how you'd use cloneElement and React.Children helpers.

[2016-10-29 17:24] madhug commented on #6942
Cool thanks! I'll start working on it this weekend!

[2016-10-29 17:55] gaearon commented on #8060
@madhug Assigned to you, thanks!

[2016-10-30 02:47] pemrouz commented on #7901
+1 for `domEvents` example, but would prefer just `events`.

[2016-10-30 03:36] john-osullivan commented on #5631
I know it's been a while since this was closed, but I'm running into this null owner issue and it's breaking my application.  Already verified that there aren't two Reacts loaded via:
- Checking `npm ls` output
- Checking Chrome sources as per @gaearon 's [blog post](https://medium.com/@dan_abramov/two-weird-tricks-that-fix-react-7cf9bbdef375#.98njwp8j1)
- Modifying React in one of my components a

[2016-10-30 10:35] staltz commented on #7901
Yes, I agree with everything Rob said. Could still bikeshed on the name for `domEvents`, but before that we need to know what @sebmarkbage thinks about that.

[2016-10-30 11:21] jamesknelson commented on #8060
@gaearon I've started putting the routing guide together, but the HTML5 History API is a little less nice than I had imagined.

First, browser's don't emit the `popstate` event when `pushState` is called. This means `<Link>` components will need some way of notifying the `<App>` component of any changes -- e.g. context or a shared global. Second, Safari doesn't emit `popstate` on page load, while

[2016-10-30 11:23] gaearon commented on #5631
Please file an issue with a minimal example that reproduces it.

[2016-10-30 14:37] donnieflorence commented on #7925
Things that I hope would also be appended to this list of features/bugs:

1. Fixing context
2. Making stateless functional components more performant
3. Learning from inferno to provide [stateless function components some lifecycle hooks](https://github.com/trueadm/inferno#using-hooks)
4. Maybe revising/improving reacts legacy build step
5. Try to cut down react size in the major rewrite

[2016-10-30 15:47] rchaser53 opened #8154 "path attribute is removed in animateMotion tag"
**Do you want to request a _feature_ or report a _bug_?**
 bug

**What is the current behavior?**
React remove path in animateMotion tag and outputs a warning ''Warning: Unknown prop `path` on <animateMotion> tag. Remove this prop from the element."

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or s

[2016-10-30 18:24] spicyj commented on #7925
@donnieflorence This is a list of things we need to do to get parity with the existing implementation. After we finish these we might look at adding new features.

[2016-10-30 19:27] nhunzaker commented on #8011
I've updated the title. I ended up going with an alternative approach to fix Chrome's input issues for #7359, but I'd love to keep talking about this.

[2016-10-31 08:01] wenpengfei commented on #8140
@gaearon  thanks for your reply. it seems works.....

[2016-10-31 08:01] #8140 closed

[2016-10-31 10:38] oelmekki opened #8161 "htmlFor and api considerations"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Discussion**

Hi guys,

I've been using react daily since april 2015, and I still do the same mistake on a regular basis: using `for` instead of `htmlFor` on `<label>`s. "Oh, yeah, that again".

This makes me wonder: why can't we use `for` as a property in first place? I suppose it's related to the fact that `for` is a javascrip

[2016-10-31 11:12] treshugart commented on #7901
+1 for just `events`

I am curious, though, as to how React will decide how it should set props on an element, as opposed to attributes. This could be troublesome for custom elements needing some things set as attributes, such as `aria-`.

[2016-10-31 12:58] gaearon commented on #8060
OK, using `history` seems reasonable with a note that it hides browser inconsistencies.

[2016-10-31 13:53] gaearon commented on #7770
@thisbejim Would you be interested in fixing this?

[2016-10-31 13:58] gaearon commented on #6170
Related:

* How is Fiber codebase different? https://github.com/facebook/react/issues/7942
* What is left to do in Fiber? https://github.com/facebook/react/issues/7925
* Is Fiber ready yet? http://isfiberreadyyet.com

[2016-10-31 14:08] Aweary commented on #7770
@gaearon I do have some work done towards this, just didn't have a chance to finish it last week.

[2016-10-31 14:53] rattrayalex commented on #6170
Exciting to see the progress! Awesome to have a chart of tests passing.

While unofficial, this may also be helpful to interested passerby curious what Fiber is:
https://github.com/acdlite/react-fiber-architecture

[2016-10-31 15:12] julen commented on #8035
_(Sorry if this has been discussed elsewhere — I haven't been able to find any references to it though)._

I agree there was no narrative here, although at the same time many of these provided really good advice on anti-patterns and things to avoid. At least they have been very valuable to me on the way to learning React.

Now as I browse/search through the new docs, I am missing these and I am no

[2016-10-31 16:12] davecarlson commented on #8161
I'd like to see some consistency on this point actually. In my mind, anything that should end up being a properties of a node (eg: class="" rel="" for="" etc... ) should have a consistent naming convention when creating components.

With that in mind, something like:
[code]

would make more sense than the current hap-hazard approach to different ones to avoid clashing with javascript keywords

[2016-10-31 16:23] Aweary commented on #8161
The attribute notes correspond to the property names used in JavaScript to access these values. https://jsfiddle.net/po7mtLhw/

So they are consistent and were not haphazardly chosen. While JSX makes it feel like you're dealing with the DOM directly React is still managing these elements in JavaScript so it makes more sense to be consistent with property names rather than HTML attribute names.

[2016-10-31 16:28] davecarlson commented on #8161
@Aweary , totally understand (Y). I was more referring to javascript's poor choice of prop names, rather than anything react specific.

I guess this is more of a question about how JSX should 'feel'. Should there be an additional level of abstraction, to make it more developer friendly ? (not saying there *should*, just throwing some thoughts out there :) )

[2016-10-31 16:31] oelmekki commented on #8161
@Aweary thanks, I did not realize `htmlFor` was the name for the actual DOM api.

I get the implementation now, and it's indeed coherent. But don't you think it's still a problem that it's not what users could expect? I'm pretty sure I'm far from the only one thinking in term of html when I write jsx for react-dom :)

[2016-10-31 16:36] Aweary commented on #8161
I totally agree that it can be confusing, no doubt about that. I do think the current warnings you get in dev are mostly sufficient, and it's a lesson you only need to learn once.

I just don't think that, at this point, it would be a change worth making. It would be a pretty huge breaking change (especially `className`) to change these attributes. You **could** support both, but that's even more

[2016-10-31 16:44] oelmekki commented on #8161
Yeah, I was thinking about the dual attribute solution, so that people more at ease with thinking in DOM and those who prefer thinking as html both have a painless experience.

I'm sorry, I'm an example of the fact that "learning it once" is not enough :) (maybe it'll change now that I realize it's about DOM api attribute names).

Do you mind if I leave this issue open, so that we may see if it's

[2016-10-31 18:12] eddyerburgh commented on #961
@jjt I had a quick look at #1005. It looks like giving setting an attribute as true. Works for disabled, controls and other values. It doesn't work with the autoplay attribute. https://jsfiddle.net/69z2wepo/61355/

[2016-10-31 18:20] Aweary commented on #8091
Closing due to lack of details and no response.

[2016-10-31 18:20] #8091 closed

[2016-10-31 19:00] markspolakovs commented on #6170
Of course there's already a domain for that.

[2016-11-01 03:00] zjjott commented on #6895
I have this error when I use ref method in batch Component update like this:
[code]

I fixed it when scrollIntoView then no longer raise Exception,so maybe this error in the issue is cause by error during render

[2016-11-01 03:31] sebmarkbage opened #8168 "onChange in IE11 <input type="range" />"
Verify if it works or not.

https://github.com/mapbox/react-range

Mentioned recently here: https://github.com/facebook/react/issues/554#issuecomment-255402320

[2016-11-01 04:38] thisbejim commented on #7770
@gaearon @Aweary As much as I'd love to help out I think it is very likely that this issue is way over my head. Will take a look at what Aweary is doing though to try and gain a better understanding of the problem.

[2016-11-01 10:57] nhunzaker commented on #8168
Looks like no:

https://jsfiddle.net/69z2wepo/61407/

![change](https://cloud.githubusercontent.com/assets/590904/19887721/8312e2fe-a000-11e6-91a7-f79f193c9a1b.gif)

[2016-11-01 15:51] DrewWarrenTIY commented on #4433
Confusing typo, unless I'm mistaken in your original post @gajus --
instead of <div htmlFor='bar'> we should be able to have <div foo='bar'>.

I believe the ending div tag of that sentence should say <div for='bar'>.

If I'm wrong, sorry for the distraction!

[2016-11-01 15:55] DrewWarrenTIY commented on #4433
I believe there is a typo in your example @gajus . In the second bullet point of your original post you say "instead of htmlFor=bar we should be able to use foo=bar."    Should that say for=bar?

If I'm wrong, sorry for the distraction! It was confusing to me until I realized, though.

[2016-11-01 17:32] maxcold opened #8174 "onChange is not triggered for autocomplete in Chrome on iOS"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
In Chrom 54 on iOS onChange is not triggered on inputs after choosing an option from autocomplete suggestion

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/react

[2016-11-01 17:37] sebmarkbage commented on #3010
`play()` `stop()` etc. can also become controllable. Just because they don't have a standard declarative API doesn't mean we can't make one up.

I think the action here is to create completely controllable implementations of `audio` and `video` and see what the surface area is. If it is way too big, we probably wouldn't want to bundle it by default. If it is small and perhaps can have some logic u

[2016-11-01 17:40] gaearon commented on #3010
I remember having a declarative wrapper around audio. One problem I didn't expect was that prop changes wouldn't get reflected on iOS in some cases. Turned out, iOS ignores `play()` calls outside of click/touch event handlers. Something to keep in mind.

[2016-11-01 22:33] laumair commented on #8060
Is anyone working on  `AJAX (just show how to use fetch() in lifecycles, mention cancellation issues)`. I'd like to take this on. I might have a few questions though before getting started.

[2016-11-01 23:50] rthor commented on #8060
Yeah, been working on it (#8098). Just awaiting final review. Any news on getting it merged @gaearon ? :p

[2016-11-02 02:08] xpe opened #8177 "Tutorial: please clarify use of spread properties"
This part of the tutorial is confusing:

[code]

It does not appear to match up with either:

* JSX's spread operator
* the JS Spread operator: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_operator

The closest match I can find is here: https://github.com/sebmarkbage/ecmascript-rest-spread/blob/master/Spread.md

[2016-11-02 05:08] laumair commented on #8060
@rthor Ah, okay.
Is there any other stuff that's left from the checklist?

[2016-11-02 06:32] cmswalker opened #8178 "Search is broken on the docs page"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
the search input for the docs page @ https://facebook.github.io/react/docs/hello-world.html does nothing. Seems to not be firing a click handler for the search icon/magnifying glass.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem

[2016-11-02 10:57] rthor commented on #8177
This is a part of the [Object Rest/Spread Properties](https://github.com/sebmarkbage/ecmascript-rest-spread) proposal for ECMAScript that is not yet finalized; currently at stage 3. In the example given, the operator copies the key/value pairs from `player` onto a new object; then overrides the `score` value. The cloning process can be rewritten to use the [`Object.assign`](https://developer.mozil

[2016-11-02 12:10] francescorivola opened #8180 "Invalid Version: 3001.0001.0000-dev-harmony-fb when installing React 0.14.7"
I have got the following error installing React 0.14.7.

`15861 error Windows_NT 10.0.14393
15862 error argv "C:\\Program Files (x86)\\nodejs\\node.exe" "C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
15863 error node v5.9.0
15864 error npm  v3.7.3
15865 error Invalid Version: 3001.0001.0000-dev-harmony-fb
15866 error If you need help, you may report this error at:

[2016-11-02 12:17] francescorivola commented on #8180
Sorry, it finally looks like an issue with our internal npm repository. Using directly the official npm registry I am able to install fine React 0.14.7 or 0.14.8.

[2016-11-02 12:17] #8180 closed

[2016-11-02 12:56] phun-ky commented on #7355
Why is this closed? No fix is given, no workaround is given, no response to validate a closed state. This is still an issue.

[2016-11-02 13:03] gaearon opened #8181 "[Fiber] Error handling"
Filing this as a todo list for myself.

- [x] #8210 After more scheduling tests are in place, add tests for uncaught errors in different roots
- [x] #8193 Remove recursion
- [ ] #8227 Choose and implement some sensible behavior for fataled roots (eg `visiblity: hidden`)
- [ ] #8212 Look at `batchedUpdates` (https://github.com/facebook/react/pull/8127#discussion_r86080646, https://github.com/facebo

[2016-11-02 13:03] stream7 commented on #7355
@phun-ky it's closed because it's not a React bug. It's an IE bug.

The fix is this:

[code]

See http://stackoverflow.com/questions/30653533/ie-11-crashes-when-using-dynamic-svg-elements

[2016-11-02 13:14] phun-ky commented on #7355
@stream7 thanks for the quick reply :)

[2016-11-02 14:09] swlilike commented on #6802
I have the same error. and solved it!

when I create a class **Table** named MFTbale, and used it in other page.like this:
[code]

some time I need hide MFTable. so. I guess, React remove it, but got a misttake.
I changed it
[code]

well done.

[2016-11-02 14:48] FezVrasta opened #8182 "Warn when an invalid CSS property+value is stripped out by React"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
React strips invalid CSS properties but doesn't throw any warning.

**What is the expected behavior?**
React should strip invalid CSS properties (for example: `color: rgb(255,255,255,1)`) and throw a warning to let the developer know that something is wrong with the passed values.

**Which versions

[2016-11-02 16:20] syranide commented on #8182
React doesn't strip invalid values, the browser ignores invalid values for styles. It would also be rather counter-productive to throw a warning because a lot of code relies on gracefully degrading when the properties aren't supported by the browser, i.e. `border-radius`. It's infeasible for React to understand the full HTML5 specification (regardless of browser support) and actually validate valu

[2016-11-02 17:12] FezVrasta commented on #8182
I don't think I get it, if I do:

[code]

React will render:

[code]

If, instead, I create an HTML element manually and I define such properties, I get:

[code]

[2016-11-02 17:17] FezVrasta commented on #8182
Sorry, I got it. Using `innerHTML` you can define any property, but with `element.style.propName` the invalid ones are automatically stripped out.

Thanks for the clarification.

[2016-11-02 17:17] #8182 closed

[2016-11-02 17:23] StoneCypher commented on #4433
@DrewWarrenTIY - the standard placeholders for things in code are, in order, "[foo, bar, baz, quux, corge, grault, flarp](https://en.wikipedia.org/wiki/Metasyntactic_variable)."

[2016-11-02 17:47] cvoege opened #8184 "PureComponent does not respond to context changes"
**Do you want to request a *feature* or report a *bug*?**
This is a bug.

**What is the current behavior?**

If you extend from PureComponent, and the context of the component changes but not the props, a re-render will not be triggered.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (temp

[2016-11-02 17:56] DrewWarrenTIY commented on #4433
@StoneCypher - Feel free to correct me if I am wrong, but in his example in the first post of this conversation, @gajus gives us two examples of how this plugin is used to simplify writing our JSX code.

Instead of having to type 'className' in our code, with this plug-in we can simply type 'class'
Instead of having to type 'htmlFor' in our code, with this plug-in we can simply type 'for'

However

[2016-11-02 17:57] gaearon commented on #8184
While this would solve the case with immediate parent, as soon as you put one `PureComponent` into another it would break anyway: https://github.com/facebook/react/issues/2517.

For now, please don't rely on context updates. They're broken, and it's a known issue.

See:

https://medium.com/@mweststrate/how-to-safely-use-react-context-b7e343eff076
https://facebook.github.io/react/docs/context.html#

[2016-11-02 18:05] jamescharlesworth commented on #961
In react, it appears the 'checked' attribute on checkbox input fields do not set the actual html checked attribute, just the javascript checked property on the element. This causes issues with css selectors depending on the checked selector.

Take this [example](https://jsfiddle.net/L6odkduo/). The css selector does not see the first element as checked.

When I create a checkbox in react the `chec

[2016-11-02 18:07] cvoege commented on #8184
Good point. Would it be wise to simply start referring to context as an antipattern? It's definitely overused in a lot of libraries (for example react-router)

[2016-11-02 18:10] gajus commented on #4433
That was a typo.

For the record, I'd like to withdraw this proposal. I have been working with React now for couple of years. There is hardly ever a use case for this in practise.

[2016-11-02 18:12] DrewWarrenTIY commented on #4433
Thank you @gajus
I'm in a coding bootcamp and just learning the basics of React. This was helpful for me so I'm glad I found this article. Even if it's deprecated now it helped me in my beginner exercises. :)

I appreciate your response!

[2016-11-02 18:38] brillout commented on #8060
I maintain [brillout/awesome-react-components](https://github.com/brillout/awesome-react-components) / [devarchy.com/react-components](http://devarchy.com/react-components), are you interested in adding something like that to the doc?

[2016-11-02 19:27] gaearon commented on #8184
It's a useful feature and projects that treat if as a static thing that doesn't change work well. React Router also uses it correctly in latest versions as far as I know.

It's not an "antipattern", it's just an experimental API that has known issues. Some libraries need it, but their authors should be familiar with its problems.

[2016-11-02 21:10] #8184 closed

[2016-11-03 00:20] RobertKielty commented on #8178
I tested this just now and it appears to work for me. I searched for "Events" and "JSX" For both search terms a drop-down appeared with relevant documentation suggestions.

Suggested doc pages could be selected via up and down keys; pressing enter navigates to the pages. Clicking on a suggested also navigates to the page.

You are correct in saying that clicking on the Magnifying Glass does not do

[2016-11-03 00:43] beckiechoi commented on #8125
Hey guys, not sure if it's too late to mention this, but at Squarespace we have our own version of transition group which uses very similar approach, but is not a fork of ReactTransitionGroup. We're planning on open sourcing the library (we will have to go through appropriate compliance to open source it). It's already something we use pretty heavily on our platform, so all the bugs that were foun

[2016-11-03 01:24] jquense commented on #8125
I think there is probably room for both :)

from my end helping folding would great. Im not sure the best way to split the code out or of there is a feasible solution to keeping the current git history

[2016-11-03 08:20] laumair commented on #8060
@gaearon Is there any item from the checklist that isn't occupied atm?

[2016-11-03 12:47] gaearon commented on #8125
I wouldn't worry about keeping the history.

[2016-11-03 14:17] gaearon commented on #8178
This is what I see when I type:

<img width="635" alt="screen shot 2016-11-03 at 14 16 53" src="https://cloud.githubusercontent.com/assets/810438/19969366/3258f14c-a1d0-11e6-959e-be2f8ac88b75.png">

Magnifying glass doesn't do anything. Maybe we could hide it when you're searching to make it clearer but it doesn't seem very important to me.

[2016-11-03 14:45] cmswalker commented on #8178
Interesting. So the reason why this was so confusing is that nothing was being populated in the dropdowns, seems like there was a small window where algolia's search wasn't firing on keydown, I checked the console and there were no errors either. The magnifying glass only seems important when there are no dropdowns, its really not the focus here.

Looks good now! Thanks

[2016-11-03 14:45] #8178 closed

[2016-11-03 15:02] gaearon commented on #8178
Ah cool. Maybe some kind of a network or server issue. Glad it's resolved.

[2016-11-03 16:37] fkrauthan commented on #1739
I also think it would be very important to be able to load data within components and have some sort of lazy render method. Maybe to make both sides happy create a new method called asyncRenderToString and add a new "lifecycle" event called `asyncOnLoad` or something like that. This will only be called if you call a asyncRender method. In terms of code duplication between server and client side th

[2016-11-03 16:59] yamat124 commented on #1739
This has been solved its called stream check out react stream.

On Thursday, November 3, 2016, Florian Krauthan <notifications@github.com>
wrote:

[2016-11-03 17:05] fkrauthan commented on #1739
@yamat124 if I search for react stream I only find this project: https://github.com/aickin/react-dom-stream

At least based on the documentation there is no way to have a lifecycle event for preloading data which delays the next render call for subchilds until the Promise is resolved. Or are you talking about something else?

[2016-11-03 21:28] xhallix opened #8197 "React Component sending wrong content type on multipart form"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Form multipart sending `Content-Type:application/x-www-form-urlencoded`
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**
[code]
Submit the form

[2016-11-03 21:32] xhallix commented on #8197
okay seems like the root cause is not to write `encType` in camelcase. this took me hours to figure it out 👎

[2016-11-03 21:32] #8197 closed

[2016-11-03 21:59] Aweary commented on #8197
@xhallix for future reference, you should get a warning in the console when using the wrong casing for an attribute.

[code]

[2016-11-03 22:48] mrscobbler commented on #8060
Created a pull request for a glossary of terms:
https://github.com/facebook/react/pull/8199
Would love some feedback on it.

[2016-11-03 23:55] anaibol commented on #1739
What about https://github.com/makeomatic/redux-connect?

[2016-11-04 00:00] fkrauthan commented on #1739
Again that are all very hacky ways. It requires routing to be independent of the component tree. And the "Main" component the route includes has to know all the data that needs to be loaded (Works 99% of the time but not always). Both would be obsolete if react has a delayed component render.

[2016-11-04 00:15] HeberLZ commented on #1739
I agree, this is probably the thing i hate the most right now about react. Hate when people try to defend the framework from not having this feature by saying that it can be done manually, of course it can, like everything related to software development, but that doesn't mean that it should. The fact that there are tons of modules out there taking care if this precise thing should make a point by

[2016-11-04 01:56] dhyey35 commented on #8060
Can I take ReactPerf should include a basic usage example, not just reference (#6174) or is anybody already on it ?

[2016-11-04 01:57] dhyey35 commented on #8060
@laumair I think Animation with React Motion and last two ( snapshot and publishing ) are yet to be taken as no comments on them.

[2016-11-04 02:29] ericclemmons commented on #4433
Interestingly enough, https://github.com/insin/babel-plugin-react-html-attrs continues to be one of the first installs when we convert a project to React.

Apparently adding `.eslintrc` is more divisive ;)

[2016-11-04 03:42] mqliutie commented on #2608
When I use Ipod render time only one second.But when I use Android it takes seven seconds.

Android configuration is :

RAM : 2GB

CPU frequency : 2.0GHz
GPU : Imagination PowerVR G6200

 Can I enhance the user experience?

 Virtualized lists  or MobX can solve it?

[2016-11-04 05:08] xhallix commented on #8197
Hm I did not get a Warnung here, that would have saved me :)

[2016-11-04 09:08] gre commented on #7740
I was using the RC release for this great createNodeMock feature, but also falled into this `options.createNodeMock is not a function` error. which only seem to happen in some cases?

[2016-11-04 09:20] gre commented on #7740
simple example to repro this. tested on `react@15.4.0-rc.4`

[code]

will produce

[code]

[2016-11-04 12:05] sedubois commented on #1739
[Next.js](https://github.com/zeit/next.js) has an `async getInitialProps` to do server-side rendering, unfortunately just still [need](https://github.com/zeit/next.js/issues/192) to call child's `getInitialProps` from the parents all the way back to the root. The Apollo GraphQL client also allows to traverse all the tree to gather the data requirements server-side then sending everything back. Exa

[2016-11-04 12:22] sedubois commented on #1739
BTW `componentWill/DidMount` are already async, does that help?

https://twitter.com/Vjeux/status/772202716479139840

[2016-11-04 13:38] treshugart commented on #5052
The way you've worded it, It feels like you're trying to stir up the pot.
Be it as it may, it may be worth revising as it's quite old. I'd be
interested in iterating on it if anyone has any input. It's not worth
arguing over.

On Fri., 4 Nov. 2016, 21:33 Adam Thomas, <notifications@github.com> wrote:

[2016-11-04 14:01] treshugart commented on #5052
No worries and I'm overly defensive about when it comes to the two
communities. I've seen - and unfortunately participated in - several
divisive and subjective conversations both privately and publicly, and it's
never resulted in a positive outcome other than when both parties have
dropped bias and worked toward a common goal.

I'm very interested to discuss etc.

On Sat., 5 Nov. 2016, 00:51 Adam

[2016-11-04 15:48] yuda1124 opened #8203 "ReactCSSTransitionGroup is not work"
I want to fade in animation. my code is

[code]
but there are no changes...
anyone help?

[2016-11-04 16:24] gaearon commented on #8203
Please provide a full project or a fiddle reproducing the problem. Thanks!

[2016-11-04 16:35] beckiechoi commented on #8125
Sounds good. I'll keep you all updated.

[2016-11-04 17:20] yuda1124 commented on #8203
umm.. I change my code simply..
[code]
it is just my first view of my project.
and my package.json is

{
  "name": "react-tutorial",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "webpack-dev-server --hot --host 0.0.0.0",
    "test": "eslint src/**"
  },
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "babel-core": "^6.16.0",
    "babel

[2016-11-04 20:30] DannyLeiton commented on #1745
@rricard: How did you do it man?

[2016-11-04 20:52] lifehackett opened #8205 "React.cloneElement that gives precedence to the Child Component props"
**Do you want to request a *feature* or report a *bug*?**
Feature

I would like a version of `React.cloneElement` that gives precedence to the props already on the component being cloned that were PASSED in but ignoring the ones that were provided by default.

Order of precedence
1) Props provided to the Child component
2) Props provided to the parent used to override the child component ones
3) D

[2016-11-04 21:14] asagalSP commented on #3738
@zpao Is there a reason why `undefined` doesn't work for this purpose? I figured it would be nice to have that, since you wouldn't have to return anything at all (`undefined` implied):

[code]

Would save 1 line of code! :)

[2016-11-04 21:25] olalonde commented on #1739
@sedubois does React wait for the promise to resolve before rendering? Otherwise, doesn't really help!

[2016-11-04 22:45] snakajima opened #8209 "Documentation: Sample is still using string refs"
Sample code "Step 5: Add Inverse Data Flow" in Quick Start/Thinking in React is still using old string refs.

[code]

I think it's better (easier to understand) to use a new syntax.

[code]

[2016-11-05 03:42] jquense commented on #8125
@gaearon works for me, if you want to add me to the organization I can move the code or I can bug @taion to do it :P

[2016-11-05 04:43] dphaener opened #8211 "Number Input with defaultValue does not accept decimal input"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
When using a number input that has a defaultValue, you cannot enter a decimal value. When attempting to type a decimal, the cursor is moved to the beginning of the input. This behavior is *not* observed when there is no defaultValue given.

**If the current behavior is a bug, please provide th

[2016-11-05 04:48] LadyYoung957 commented on #8211
Lmao y'all never get in boyy

On Nov 5, 2016 12:45 AM, "Darin Haener" <notifications@github.com> wrote:

[2016-11-05 09:37] rricard commented on #1745
@DannyLeiton: Just get a breakpoint where you want to start the popup. Then, observe the stack: if the stack goes back to your original click, then you should fill a bug report because this is not normal! However, in my case (and probably in your case) my stack was stopping at the return of an async action (graphql query with apollo in my case). What I finally did is find a way to prefetch the que

[2016-11-05 09:38] rricard commented on #1745
In a more concise manner: avoid networks (or other async) calls between the click event and the popup creation!

[2016-11-05 13:17] nhunzaker commented on #8211
Hey! I fixed this with https://github.com/facebook/react/pull/7750. However it looks like it hasn't made its way to a release yet.

[2016-11-05 15:16] Aweary commented on #7770
@thisbejim just in case you missed it, we ended up concluding that supporting `findDOMNode` with the test renderer wasn't a good idea, see [here](https://github.com/facebook/react/pull/8164#issuecomment-258249676)

[2016-11-05 15:18] Aweary commented on #8211
#7750 is not included in the 15.4.0 release as far as I can tell. At this point it might be too late to include it since the RCs have been out for a while, and #7750 is a change that we'd likely want tested in RCs before releasing.

[2016-11-05 15:20] nhunzaker commented on #8211
Totally understandable. Please let me know if I can help in any way.

[2016-11-05 15:21] Aweary commented on #8209
@snakajima good catch! /cc @lacker can the CodePen be updated?

[2016-11-05 15:23] Aweary commented on #8211
I think @gaearon is managing releases now? Not sure with all the recent roster changes 😄

Going to close this out as well, since it's essentially a duplicate of https://github.com/facebook/react/issues/7253 and a fix is already merged into master.

[2016-11-05 15:23] #8211 closed

[2016-11-05 16:34] #7784 closed

[2016-11-05 16:47] #6731 closed

[2016-11-06 06:11] samit4me commented on #4199
@hurrtz Currently experiencing this same silent errors and I suspect it might be our webpack config too. Do you by any chance have your the before and after webpack config files? Or care to share what changed in webpack?

[2016-11-06 12:19] laumair commented on #8060
I think I can take publishing

[2016-11-06 13:45] VINTproYKT opened #8217 "ReferenceError: this is not defined / after calling ReactDOM.render"
This is kinda a bug. And I can't use React this way for now. :frowning_man:

Using NW.js 0.18.3 for my \*-end. On backend it uses Node.js. So I have installed `react` and `react-dom` from npm.

Running application with `harmony` tag to include all features of ECMAScript 6 (class definition, for example).

[code]

`index.html` is pointing `index.js` script:

[code]

It loads `mainWindowController.j

[2016-11-06 14:24] VINTproYKT commented on #8217
Oh, this must be a bug in NW.js or just separation of contexts.

[2016-11-06 14:46] VINTproYKT commented on #8217
Tested in Chrome v54.

[code]

`index.js`:

[code]

Same error.

[2016-11-06 18:16] bgnorlov commented on #8125
@gaearon, I think if react add ability to return promise in componentWillUnmount hook for delay unmount stuff and then there is no need to use ReactCSSTransitionGroup which uses internal react api anyway

[2016-11-06 21:59] ruslansavenok commented on #7386
doesn't work in `16.0.2`.

Any workarounds before it will be fixed?

[code]

[code]

[2016-11-06 23:18] cpojer commented on #7386
This will be resolved in React 15.4.

[2016-11-07 05:53] thisbejim commented on #7770
Thanks for the update @Aweary, much appreciated.

[2016-11-07 08:36] radubrehar commented on #1259
@syranide @gaearon I think React needs to make `dataSet` work as expected. There are use-cases for this, even if the vast majority of people is not using this a lot.

For example, we're implementing a very powerful tooltip for React. When the user hovers over a tooltip-able element, we display a tooltip with some content - it would be useful for the tooltip to know the React element/component that

[2016-11-07 08:44] syranide commented on #1259
@radubrehar Why not implement the tooltip in React instead? Also, you cannot store objects in `dataset`. Using `ref` you can do what you're trying to do here, attaching data to the DOM nodes (even a reference to the React component) that you can use however you want.., I wouldn't recommend it but that's certainly possible.

[2016-11-07 09:03] radubrehar commented on #1259
@syranide thanks for the quick update. I'll try to briefly explain our scenario:

We want to implement a tooltip that users can just render somewhere in their react component tree and forget about it.

[code]
So we want the tooltip to be displayed only for HTMLElements that match the `"[data-tooltip]"` selector - so all those elements share the same tooltip.
There are two rendering strategies:
 -

[2016-11-07 09:22] radubrehar commented on #1259
I think this will be possible when/if custom attributes land in React

[2016-11-07 09:53] sedubois commented on #1739
@olalonde it seems so? https://github.com/sedubois/react-async-poc/blob/1d41b6f77e789c4e0e9623ba1c54f5ed8d6b9912/src/App.js
[code]
<img width="740" alt="screen shot 2016-11-07 at 11 49 16" src="https://cloud.githubusercontent.com/assets/4217871/20053303/9dc325d4-a4e0-11e6-9f8a-161024a873ab.png">

[2016-11-07 10:34] polytypic commented on #1739
@sedubois Note that, in your example, `componentWillMount`

[code]

returns `undefined` and the screenshots show that React doesn't wait (it couldn't) for the promise, because it renders the `Loading...` text.

[2016-11-07 10:54] dantman commented on #1739
@sedubois @polytypic It'll also cause all errors thrown within the function to be silently ignored, since the Promise isn't handled at all.

[2016-11-07 11:28] sedubois commented on #1739
@polytypic @dantman yes you need to try-catch the error, I updated the example: https://github.com/sedubois/react-async-poc/blob/master/src/App.js (using loading/error signature similar to what Apollo does)

[code]
And render:
[code]
<div align="center"><img width="300" alt="screen shot 2016-11-07 at 13 25 46" src="https://cloud.githubusercontent.com/assets/4217871/20056290/0978b85e-a4ee-11e6-8fc4

[2016-11-07 11:30] jddxf commented on #8021
I encountered the same problem. If you look into the code in **gulp/tasks/eslint.js**, you'll find the following code:
[code]
which spawns a new process using the command "node node_modules\\.bin\eslint.cmd .". The command tries to interpret a batch file using node. However node can interpret js files only. That's why there's a SyntaxError.
A change like this should work as expected:
[code]

[2016-11-07 12:05] dantman commented on #1739
@sedubois When you `async` a function it implicitly returns a promise, any `throw` in the function implicitly turns into a rejection of that promise instead of a throw up the stack. This means that `componentWillMount` is now returning a promise to its caller.

React does not do anything with the return value so your function is now returning a Promise expecting that someone is doing to do somethi

[2016-11-07 12:36] polytypic commented on #1739
@sedubois Actually, an async method does always seem to return a promise in JavaScript. I was confused thinking about issues with async-await in C#. *Apologies for the noise!*

Nevertheless, the screenshots clearly show that React does not wait for the promise to be resolved.  It calls `render` immediately after calling `componentWillMount` and renders the `Loading...` text.  Then it calls `render

[2016-11-07 12:39] sedubois commented on #1739
@dantman @polytypic thanks 👍 Yes, for sure changes are needed inside React to wait for the response and handle errors properly. Maybe adding some `await` here and there in its code could do it 😄

[2016-11-07 12:47] cecilemuller commented on #1739
Personally, given I'm using a Web Worker to store application data and emit props, long story short I just wait until it sends a message with the expected requirements (such as a specific property being true) to render, that way even if the first message is a "loading" state, it doesn't use that for the static html. So far that worked fine for me :)

[2016-11-07 12:54] dantman commented on #1739
@sedubois It would have to be a different stack of methods; or a breaking change. React's current render methods are sync, so we'd need a different server render method that returns a promise.

[2016-11-07 13:02] sedubois commented on #1739
@dantman I don't want to give any opinion here as these waters are too deep for me (my initial aim was just to point out Vjeux's async componentWillMount hack...), but hmm, can't React look at the type of object returned by the lifecycle methods and if it's a promise, handle it async and otherwise handle it sync (like currently, i.e in a backwards-compatible manner)?

[2016-11-07 13:25] aaron-axisa commented on #7770
I am encountering some issues with my react project using 15.4.0-rc.4 when trying to setup jest and enzyme. (More details here: [stackOverflow Question](http://stackoverflow.com/questions/40466134/setting-up-jest-and-enzyme-to-test-react-15-cannot-find-module-react-lib-reactte) )

[2016-11-07 13:35] LadyYoung957 opened #8220 "YOUNGLYFE"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-11-07 15:26] #8220 closed

[2016-11-07 17:52] shalanah commented on #5626
+1

[2016-11-07 17:59] #8217 closed

[2016-11-07 19:18] acdlite opened #8222 "[Fiber] Should Fiber have a root field?"
### Problem

When a component calls `setState`, we must update the `pendingWorkPriority` on its fiber and on all its ancestor fibers up to the root. When we get to the root, we ensure that the root is scheduled:

[code]

If `setState` is called multiple times consecutively, we walk the path each time. And if a callback is passed to `setState`, that requires an additional walk.

Because the priorit

[2016-11-07 19:20] acdlite commented on #8222
Another option: since it's only needed for class components, we could add a root field to the class instead.

[2016-11-07 19:22] sebmarkbage commented on #8222
Intuitively it feels to me that the problem is with the scheduling of the root and not the fiber.

[2016-11-07 19:24] sebmarkbage commented on #8222
If we need to do extra work for the purpose of satisfying the scheduling problems during an error scenario, we've done the wrong tradeoff IMO. Error handling is a bonus.

[2016-11-07 19:24] acdlite commented on #8222
Do you mean this part?

[2016-11-07 19:24] sebmarkbage commented on #8222
yea

[2016-11-07 19:25] acdlite commented on #8222
I agree with your trade-off analysis, not sure how to solve it though.

[2016-11-07 19:27] sebmarkbage commented on #8222
Can you help me understand what happens here conceptually? If all work has been invalidated, should we clear the priority flag in the entire tree to get it to a consistent state?

[2016-11-07 19:30] acdlite commented on #8222
@gaearon can probably explain it better. If there's an uncaught error, we need to avoid doing any pending work on that tree until there's another update.

That seems like a viable option

[2016-11-07 19:32] acdlite commented on #8222
What if there are pending updates on the queue and we clear the priority flag? Should they be dropped completely?

[2016-11-07 19:35] sebmarkbage commented on #8222
I don't know. I don't understand the case quite. However, currently we seem to be breaking one invariant of the model: If there are priority levels pending, then the root is scheduled.

I need to understand why they should be allowed to diverge.

[2016-11-07 19:39] acdlite commented on #8222
They diverge in master for now mostly as a hack. I think you're totally right, though. That's an important invariant.

I think clearing the entire tree would also fix the issue Dan found in https://github.com/facebook/react/pull/8212.

Re: my previous question, dropping updates because of an uncaught error makes sense to me conceptually, I think.

[2016-11-07 20:07] spicyj commented on #8168
#554. I think this is fixed in master maybe?

[2016-11-07 22:25] Gozala commented on #140
Problem with a `ref` based solution is that `ref` is called after element is already in the document tree, unfortunately sometimes you need to set attributes before element is in the document tree or behavior is going to be different.

[2016-11-07 23:49] aza commented on #6544
@zpao ohai, and also it seems that Mobile Safari in iOS10 uses the video's muted attribute to determine if the video can autoplay: https://webkit.org/blog/6784/new-video-policies-for-ios; having `video.muted == true` isn't enough.

[2016-11-08 00:08] mhuggins commented on #6232
I'm hitting the same issue as @mnpenner.

[2016-11-08 00:18] mhuggins commented on #6232
I ended up working around this by wrapping the `unmountComponentAtNode` code with `_.defer` (same as `setTimeout(..., 0)`).

[2016-11-08 07:15] samit4me commented on #4199
Turn out it was a Promise eating the error. In the flux store triggered by a parent.

[2016-11-08 12:07] Lenne231 commented on #1739
I like what @fkrauthan proposed. A lifecycle method `load` which can return a promise or `undefined` and an additional async `renderToStringAsync` function. But `load` should always be called, on the client and on the server. If we use `render` or `renderToString` the returned promise is ignored to match the behavior we have today. If we use `renderToStringAsync` and `load` returns a promise, the

[2016-11-08 16:03] aaron-axisa commented on #7770
I have however found an issue with the library chai-enzyme

It requires react/lib/ReactTestUtils (which now moved)

+-- chai-enzyme@0.6.0
| +-- html@1.0.0
| | `-- concat-stream@1.5.2
| |   +-- readable-stream@2.0.6
| |   `-- typedarray@0.0.6
| +-- react@^0.14.8 || ^15.0.1
| `-- react-element-to-jsx-string@5.0.0
|   +-- collapse-white-space@1.0.2
|   +-- is-plain-object@2.0.1
|   | `-- isobject@1.0

[2016-11-08 17:07] fkrauthan commented on #1739
@sedubois I don't think getInitialProps is the correct place. First of all people that are using ES6 they don't have/use that method. Second of all you don't wanna work on the initalProps (that are just the defaults) you wanna work ontop of the merge of initalProps + passed in props. Therefor my suggestion of a new lifecycle event that gets dispatched before `componentWillMount`. I think @Lenne231

[2016-11-08 17:26] sedubois commented on #1739
@fkrauthan maybe you refer to `getInitialState`? I'm aware of that method, here I was talking of a new one, `getInitialProps` (the name used in Next.js).

As for your second point, yes it might be better to have the new lifecycle method before `componentWillMount` rather than before `constructor`. I guess it is not that way in Next because they do not have the luxury to tweak the React lifecycle a

[2016-11-08 17:31] fkrauthan commented on #1739
@sedubois Even that one. I use for example the es7 feature and define `static props = {};` In my class body. That makes the code way nicer to read in my opinion and I am sure more and more people are going to switch to that as soon as es7 is official released.

[2016-11-08 18:56] jdalton commented on #7269
I can't repro this on the insider preview of Edge 15.

[2016-11-08 18:56] acdlite commented on #8222
Closing in favor of #8227

[2016-11-08 18:56] #8222 closed

[2016-11-08 19:03] acdlite opened #8238 "[Fiber] Handle errors in callbacks"
During the commit phase (when updates are flushed to the DOM), errors that are thrown inside `componentDidMount` and `componentDidUpdate` are trapped so they can be handled later, after the tree has been committed.

An error thrown in a `setState` callback should be trapped and handled the same way.

Here's the relevant section of code: https://github.com/facebook/react/blob/master/src/renderers/s

[2016-11-08 19:05] acdlite commented on #8238
If anyone wants to claim this, please comment here so everyone knows.

[2016-11-08 19:06] peterp commented on #8238
I wouldn't mind giving it a go, but please don't let that stop anyone else from trying either?

[2016-11-08 19:08] acdlite commented on #8238
@peterp Sure! Just don't want people to work really hard on a PR only to find at the end that someone else has already submitted a fix. Please comment here if/when you're willing to commit to finishing a PR :)

[2016-11-08 19:19] borisyankov commented on #8238
I'll have a look at it either. Not afraid to work really hard on it and someone else doing it instead (also  known as learning awesome stuff :) )

[2016-11-08 19:43] gaearon commented on #8177
This is because the tutorial was adapter from Facebook's internal tutorial, and we have this feature enabled by default. This needs to be fixed in the docs.

@rthor Would you like to submit a doc PR fixing this?

[2016-11-08 19:45] gaearon commented on #8035
@julen All valuable tips were integrated into the relevant content. There aren't many "antipatterns" in React despite what some people say. If something is "bad" we try to disallow it on the API level.

[2016-11-08 19:52] gaearon commented on #5626
If you’re interested in this, could you please send a PR? Yes I think `ReactDOMComponent.js` is the right place for this.

[2016-11-08 20:00] gaearon commented on #1739
Note: class properties are not an "ES7" feature because ES7 has already been finalized and the only new language feature there is exponentiation operator. What you're referring to is stage 2 [class properties proposal](https://github.com/tc39/proposal-class-public-fields). It's not part of the language yet and might change or get dropped.

[2016-11-08 20:00] gaearon commented on #7770
Please file it with that library.

[2016-11-08 20:01] rthor commented on #8177
Sure, I'll write it up later this week.

[2016-11-08 20:27] gaearon commented on #7770
Reminder to whoever releases this: [error code process](https://github.com/facebook/react/pull/7999#issuecomment-256663344).

[2016-11-08 20:37] gaearon commented on #8125
@bgnorlov

Sure, but this is tangential to this thread. You can discuss deferred unmounting in #6003.

This is not the case as far as I know.

[2016-11-08 20:54] gaearon commented on #8021
@jddxf Would you like to send a PR if you have a working fix?

[2016-11-08 21:03] gaearon commented on #7925
## How to Help

1. [Watch an intro to Fiber](https://www.youtube.com/watch?v=aV1271hd9ew)
2. Read about it [here](https://github.com/acdlite/react-fiber-architecture) and [here](https://github.com/facebook/react/issues/7942)
3. Clone React repo
4. Change `useFiber` in `ReactDOMFeatureFlags.js` to `true`
5. Run `npm test`
6. Pick a failing test and try to fix it
7. When you've fixed some tests, fli

[2016-11-08 21:05] renarsvilnis commented on #8203
Just noticed @yuda1124 , you have forgotten to provide a key for the  `<h1>` element.

[2016-11-08 21:14] mikedklein commented on #8203
@yuda1124 even without the key your code seems to work http://codepen.io/mikedklein/pen/yVYBNr

[2016-11-08 22:19] khovansky-al commented on #8203
Well, here's a working example of animating dynamically added elements based on @mikedklein's pen: http://codepen.io/alx-khovansky/pen/zovYZP
It just loops over what you had in state.items.
So, like @renarsvilnis said, "key" prop is essential here, without it it will not work.
Also, we don't know what you were trying to achieve, but if you don't need to animate element removal I suggest you just u

[2016-11-08 22:41] moaazsidat commented on #8238
Would love to take a look :)

[2016-11-08 22:44] mikedklein commented on #8203
@khovansky-al good point in demoing why the key is necessary I was just trying to get it at why it was failing for @yuda1124

[2016-11-09 00:03] tannerlinsley commented on #7925
@gaearon, I'm noticing a lot of errors like ` TypeError: ReactDOM.findDOMNode is not a function`, which is coming from `require('ReactDOM')`.  Are these imports referring to installed modules in `node_modules`? Do we need to do any `npm link`-ing?

[2016-11-09 00:52] jdalton commented on #4672
Chrome and Edge 15 (insider preview) seem to both log `MouseUp` and `Change`.

[2016-11-09 04:14] jddxf commented on #8021
@gaearon Sure. I'll fix the same problem in gulp flow task too.

[2016-11-09 08:13] tychota commented on #8238
I can take a look too. Not sure I will ve able to do something but it may helps me to undestand anyway.

[2016-11-09 08:42] tailsu commented on #6998
The root cause in all cases appears to be that an exception has occurred in a component method, e.g. in `render()` but the exception was swallowed higher up. Because the exception is swallowed, you cannot see it in the console and identify the root cause. All you see is follow-up errors in React code that is already operating on inconsistent state.

Consider this innocuous example, which you can i

[2016-11-09 09:00] ivansglazunov commented on #2461
@Aldredcz It's really great work, thanks!

[2016-11-09 13:19] w-site commented on #7671
@sebmarkbage So for example if I use React.createClass and use componentWillMount to fetch same data and call setState() inside then better will be use getInitialState and do same inside getInitialState ?

[2016-11-09 15:23] bruno12mota commented on #1739
I don't see the need for async functions in react for fetching data, instead I'd be happy with a virtual renderer that would renderToString on demand. So you could set actions and the virtual tree would update accordingly before rendering to string. This I think would be ideal to achieve a good SSR in react. Leaves to the developer how and where to fetch the data.

I've mentioned before but a good

[2016-11-09 15:51] nbotalov opened #8245 "render() doesn't called inside HOC component with passing children"
Hi, I'm writing custom DataTable component and want to add support for rich cells. Example of desirable usage:
[code]
<Column ../> is used to pass props only, during DataTable rendering it's replaced with header cells and body cells.
To make rich cells working trying to save all children of Column and during rendering of cell inject actual rowData to them.

[code]

HOC:
[code]

Cell rendering
[cod

[2016-11-09 16:10] christchron opened #8246 "Component Model"
React is one of JavaScript libraries that use component-based software engineering approach. In the CBSE, there are some component models such as EJB model, COM model, .NET model, etc. I want to know which component model did React use? Or React is using different kind of component model? I'm doing some research about React behaviour based on its component-based Software Engineering. So, i want to

[2016-11-09 16:33] gaearon commented on #8246
React has a component model that has no relation to EJB/COM/.NET. "Components" in React sense are stateful pieces of the UI, not arbitrary packages like those systems.

React component model is influenced by functional programming. You can learn more about it by reading [React docs](https://facebook.github.io/react/docs/hello-world.html).

I’m closing because this issue isn’t actionable for us, an

[2016-11-09 16:33] #8246 closed

[2016-11-09 17:30] fkrauthan commented on #1739
@bruno12mota I see your point but again just the amount of libraries that try to simulate that (and with your solution there still will be thousands of libraries) is to me a sign that maybe that should be a core feature rather then something you have to build on top. Your solution would still require way more render calls (virtual but still render calls) to get the output.

[2016-11-09 18:10] bruno12mota commented on #1739
@fkrauthan yes but virtual renders are far more performant than having to make two renders to string, which is the main issue here in my opinion (performance in SSR) it's the weak part of React. There has been a few experiments to improve react's `renderToString` but there's no real advance on this matter by the react team (not criticizing here, they do an amazing job).

[2016-11-09 19:18] sundbry commented on #1739
I agree with @bruno12mota, having also deliberated on this issue for a while now, that is the simplest approach. It leaves the freedom to the developer to determine when their render should "flush".

[2016-11-09 19:26] fkrauthan commented on #1739
It makes everything a lot more complicated.

1.) From a code point of view (I looked thru the code and making the render async should be way easier then creating a renderer that just uses VDom and then can be dumped at one point)
2.) Now you have to reconsider unmount events too. And it makes the custom code way more complicated then needed. E.g. loading data might result in rendering a new compon

[2016-11-09 20:19] burtonsamograd-adsk opened #8249 "Using a WebComponent/customElement with React"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
[code]
Using the <OrionNotification/> component causes the following error:

ReactDOMComponent.js:512 Uncaught TypeError: Failed to construct 'HTMLElement': Please use the 'new' operator, this DOM object constructor cannot be called as a function.(…)

Pasting the customElement definition into the cons

[2016-11-09 20:29] gre commented on #7740
do you guys plan to fix this for 15.4.0 ? This bug makes `createNodeMock` very unreliable when you write more advanced tests..

[2016-11-09 20:42] Aweary commented on #7740
I unfortunately haven't had a lot of time to work on React lately, I can try to make an effort tonight after work to fix it.

[2016-11-09 21:02] khankuan commented on #7148
Hi, I'm trying to use snapshot + shallow:
[code]
It works pretty cool :D

[2016-11-09 21:17] polyakoff commented on #2231
Would be really nice to have overlapping styles working.
I have an HOC footer I would like to pass elements to and place them according to my needs inside. I wrote the following code with react-bootstrap:

[code]
And got `className` applied, while `margin` not. Would be convinient from my point to have both working.

[2016-11-09 23:03] lacker commented on #8209
This seems like a good idea. In general when we update the codepen we just fork and switch the link to a new one, so anyone can submit a new codepen, and just submit a PR that's linking to the new one. @snakajima @Aweary are either of you interested in fixing this?

[2016-11-09 23:05] burtonsamograd-adsk commented on #8249
I followed the examples pointed to from this page:

https://facebook.github.io/react/docs/web-components.html

Does anyone know if this page is up to date or accurate?

[2016-11-09 23:44] Johnius commented on #7835
Eventually I figured out what was the problem. I had two components: `Container` and `Input`. In first one I had a prop called `lastTimeInputHasBeenFocused` set to a `new Date()`. That prop was passed to a children element `Input`. Inside `Input` I have compared previous and next version of prop in lifecycle method `componentWillReceiveProps` and if it changed I called `this.refs.input.focus()`. T

[2016-11-10 00:09] olalonde commented on #1739
[I'm with](https://github.com/facebook/react/issues/1739#issuecomment-187328724) @bruno12mota. A VDom is arguably a more "low level" solution but would probably be easier for React developers to implement, wouldn't have backward compatibility issues and could allow the community to experiment with different higher level solutions.

For example, one higher level solution could be to have a "higher

[2016-11-10 00:55] jdalton commented on #7328
This is caused by this commit https://github.com/facebook/react/commit/4338c8db4b03cb1ba5f2e229b1baa5a848fe65ab#diff-5a2abece6f8c2495d8242daa40245434L156
which changed:
[code]
to
[code]

[2016-11-10 00:59] jdalton commented on #7328
\cc @jimfb.

[2016-11-10 01:48] thysultan commented on #8080
You could also create PropTypes on demand, for example

[code]

[2016-11-10 02:21] Kovensky commented on #8080
That would defeat the point by including even more code, rather than making the production bundle smaller.

[2016-11-10 08:33] khankuan opened #8253 "Awkward output on shallow rendering snapshots of components from node_modules"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Experiencing awkward output from shallow rendering snapshots for components imported via node_modules.
[code]

**What is the expected behavior?**
Extra closing tag should contain only component name.

[2016-11-10 09:02] nbotalov commented on #8245
Founded workaround for my case: use React.cloneElement instead of HOC. It works ok if no complicated logic, but only prop injecting needed.
[code]
instead of
[code]

[2016-11-10 09:34] snakajima commented on #8209
Just sent a pull request #8254 @lacker @Aweary

[2016-11-10 13:03] lucas-aragno opened #8255 "[Documentation] Examples on PureComponent Vs Component"
In here https://facebook.github.io/react/docs/react-api.html#react.purecomponent I think it would be nice to have some examples comparing PureComponent against Component

[2016-11-10 14:01] gaearon commented on #8253
This is not an issue with React. It's an issue with Jest, and, specifically, [pretty-format](https://github.com/thejameskyle/pretty-format).

It is fixed now: https://github.com/facebook/jest/issues/2037, https://github.com/thejameskyle/pretty-format/pull/46. Please make sure you're using the latest version of Jest.

[2016-11-10 14:01] #8253 closed

[2016-11-10 14:09] gaearon commented on #8249
This is not an issue with React. It appears that the problem is with how Babel transpiles `super()`.

Have you tried not using ES6 classes for this, just like the example you linked to does?

For example, notice no `extends` or `super` here:

[code]

I’m closing because it is not actionable for React team. You might want to report this to Babel.

[2016-11-10 14:09] #8249 closed

[2016-11-10 14:19] joshunger commented on #6472
React: 15.3.2
Browsers:  Google Chrome 56.0.2913.3 and FireFox 52.0a1 (2016-11-02) (64-bit)

[code]

![image](https://cloud.githubusercontent.com/assets/2301847/20180023/dfa9f086-a715-11e6-94c1-4b1103d61fed.png)

@gaearon @jimfb repros on my machine for the next hour if you want me to debug into it let me know specific breakpoints

[2016-11-10 14:53] Kovensky commented on #8249
Babel's class transform does not support extending native types: https://babeljs.io/docs/usage/caveats/#classes

[2016-11-10 16:03] khankuan commented on #8253
Nice thanks!

[2016-11-10 16:03] gaearon commented on #7803
Fixed in #8018.

[2016-11-10 16:03] #7803 closed

[2016-11-10 17:14] burtonsamograd-adsk commented on #8249
I was also following the examples from https://developers.google.com/web/fundamentals/getting-started/primers/customelements.  This was where I was using the syntax for extending the native types; maybe I need a newer version of babel?

[2016-11-10 17:27] piecyk commented on #7740
I will try to have another look on that...
if some is starting with it, most simple test that we want to resolve is below
( add it at end of suit ReactTestRenderer )

[code]

[2016-11-10 17:44] gaearon commented on #8249
@burtonsamograd-adsk

As @Kovensky wrote just above, Babel class transform just **doesn't support** extending built-ins such as `HTMLElement`. You should either disable class transform (and thus give up older browsers) or use `Object.create()` as shown above.

[2016-11-10 19:19] sophiebits opened #8260 "Make sure that jest tests fail if an error is thrown within a jsdom event handler"
In a few situations in our unit tests, we use .dispatchEvent on a jsdom DOM node in order to use the jsdom event system:

https://github.com/facebook/react/blob/e612826650ff68e73bff4d71db01fea8147ee1fd/src/renderers/dom/shared/wrappers/__tests__/ReactDOMInput-test.js#L127

But it appears that if the event handler throws (ex: change the onChange handler in that test to throw), then the error is sil

[2016-11-10 19:24] moodysalem opened #8262 "Need way to receive and pass down all context (regardless of contextTypes/childContextTypes)"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
A component can only access via this.context anything defined in childContextTypes of the parent and contextTypes of the child

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: http

[2016-11-10 19:49] gaearon commented on #8262
You want `unstable_renderSubtreeIntoContainer`:

[code]

It's not a stable API but we'll keep it until we can offer a better way to do this.

[2016-11-10 19:49] #8262 closed

[2016-11-10 20:11] moodysalem commented on #8262
@gaearon That worked for me, thank you

What's the reason contextTypes are treated differently from propTypes in this regard?

If portal is no longer receiving context, does React still know it has to re-render when context changes?

[2016-11-10 20:41] iansu commented on #2272
Hi, I'd like to take a look at this.

[2016-11-10 20:41] gaearon commented on #8262
Yes, but in general relying on context updates is not recommended because there are significant problems (https://github.com/facebook/react/issues/2517) with the current implementation.

They were an ad-hoc API that wasn't really thought out. That's why context is called "experimental" and the documentation recommends *not* to use it unless you really know why you're doing it.

[2016-11-10 20:59] caridy commented on #7901
I'm very supportive of this effort, a property makes sense to accomodate the react's model,  but before we go that route, there are other things we should define:

1. what is the different between `events.click` prop in a WC and the `click` listener on a button element?
1. what is the payload of the event when calling `events.click` callback?

My main concern is the shape of the event object, and

[2016-11-10 21:09] dantman commented on #7901
Let me put in a -1 for `events` and a neutral support for `domEvents`.

`events` is too generic, we're co-opting a property name that'll apply to every custom element created by anyone with no cooperation with react. A name as generic as `events` could easily be used by say, a `<event-calendar>` web component to accept a list of calendar events to display.

[2016-11-10 21:34] treshugart commented on #7901
This is exactly why we're discussing using a specific syntax (i.e. a `$` prefix) for events and attributes in Skate. Though this would be specific to Skate's virtual DOM, it allows the consumer to choose exactly what to do and prevents clashes.

One thing React could do, would be to just `Object.assign()` like originally proposed. Web components could then expose properties to add / remove event l

[2016-11-10 21:56] apsoto opened #8264 "adler32 function returns incorrect checksum on Opera Presto browser"
I've discovered what seems like a platform bug in the Opera Browser (Presto Engine) which is causing server side rendered components to always be re-rendered because the client's checksum does not match the server rendered checksum.

More than 3 addition assignment expressions in a single statement results in an incorrect checksum when the adler32 function is called.

Here is a test case that can

[2016-11-10 21:57] apsoto commented on #8264
Any suggestions on how to apply a monkey patch or similar work around in my app would be greatly appreciated.  Forking and building my own npm package seems like a PITA.

[2016-11-10 22:18] dantman commented on #7901
I don't like this either. Using `on{lowercase}` properties forces all web components from all frameworks to implement extra code dictated by React in order for their users to be able to use simple event syntax in React; instead of React just having a declarative syntax to interact with the standardized dom events API.

If we want to completely avoid any possibility of property name collision, all

[2016-11-10 23:09] moodysalem commented on #8262
I've read the thread you linked a bit

This might be a little naive, so I'm not posting it on the main thread for that issue, but wouldn't having access to all the context regardless of contextTypes and childContextTypes resolve the issue of a middle component blocking render of a bottom component due to not knowing about context used by the children?

That way the onus is on the person who define

[2016-11-10 23:23] alexf101 commented on #7244
By plugin I meant a reusable third-party mixin.

I get that context is an unstable API, but pretending it doesn't exist just leads to bugs.

As for our use cases, we use context for UI theming and as a side-channel for communicating between reusable parent components and children passed in as parameters. e.g. if Toggle is a reusable component, the interface might look like this:

<Toggle>
  <Toggl

[2016-11-11 00:14] justinfagnani commented on #7901
@treshugart I think putting the burden of writing event handler properties on the custom elements author is the wrong approach. 1) it's extra code that won't always be implemented. 2) it's basically impossible to emulate what the platform does and 3) only using properties doesn't support bubbling or capturing event handlers (Unless you add the property to `HTMLElement.prototype`, which would be ve

[2016-11-11 00:25] treshugart commented on #7901
@dantman that's a good point. I like the symbol suggestion.

@justinfagnani I agree it's extra code and that's what I dislike about it. As for 2, that's a given; I don't think any method could emulate that. For 3, setting `events` (or via symbol) via react, or using a custom syntax wouldn't do this either, right? My reason for proposing that was that it's very much inline with the original proposa

[2016-11-11 00:32] papiro commented on #7293
Basically, if Facebook steals your idea and you sue them for it, you better hope your ideas weren't built with their technologies.

[2016-11-11 01:01] gaearon commented on #7293
Just to be clear, this has nothing to do with ideas. It is about **software patents**. If you never went and don't plan to [go through this process](http://wikihow.com/Patent-Software) none of these considerations are relevant to your business. If you however choose to use software patents offensively, be prepared that others do the same in return.

[2016-11-11 08:13] Dema opened #8267 "Add debug info for error "TypeError: Cannot read property 'getHostNode' of null""
**Do you want to request a *feature* or report a *bug*?**
*feature*
**What is the current behavior?**
When there is an undefined component somewhere deep in the hierarchy React throws this message:

TypeError: Cannot read property 'getHostNode' of null
    at Object.getHostNode (webpack:///./~/react/lib/ReactReconciler.js?:64:28)

**What is the expected behavior?**

Please add debugging informatio

[2016-11-11 09:32] syranide commented on #8264
@apsoto I'm curious what you mean when you say that "React can work around the bug by splitting this line in the adler32 function into multiple statements:", can you show me the code you used? Because I see two potential culprits here; one is that Opera may be using 32bit floats instead of 64bit doubles for numbers... incorrectly converting that function would allow the result to fit within 32bit

[2016-11-11 10:54] giuseppeg commented on #6895
fwiw I got this error when I tried to override `PureComponent.shouldComponentUpdate` like so:

[code]

Probably this is not optimal but it should be allowed and working right?
Would appreciate any help/hint.

cc @spicyj

[2016-11-11 11:13] reznord commented on #3726
@spicyj @gaearon I would like to take up this bug and fix it.

[2016-11-11 12:48] samsch opened #8268 "Add #reactjs irc note to support page."
**Do you want to request a *feature* or report a *bug*?**
Docs change

I think there used to be a pointer to the freenode #reactjs channel in the [support page](https://facebook.github.io/react/community/support.html), but now only Reactiflux is linked. Could the note be added back in? The channel still has 500+ users in it most hours of the day, with several of us who frequently answer questions,

[2016-11-11 14:18] nikhilgoud commented on #6472
React:15.3.0 , webpack:1.13.1
I am fairly new to react, working on a common dialog modal, where request(ajax) response needs to be displayed,
Created a component dialog-modal(used bootstrap modal)
![image](https://cloud.githubusercontent.com/assets/21196948/20217675/eef23dbe-a846-11e6-828b-30afec0fbabc.png)

![image](https://cloud.githubusercontent.com/assets/21196948/20217484/21e349ee-a846-11e6-9

[2016-11-11 14:30] gaearon commented on #8267
What does

mean?

Can you please provide an example code?

[2016-11-11 14:31] gaearon commented on #3726
@reznord Cool, please give it a try!

[2016-11-11 14:35] #7740 closed

[2016-11-11 14:36] gaearon commented on #7740
Thanks a lot for providing repro cases and to @Aweary for fixing this in #8261.

[2016-11-11 16:42] lacker commented on #8268
Seems like a fine idea to me. Want to send a pull request? Just tag me in it.

[2016-11-11 17:08] apsoto commented on #8264
WRT multiple statements, here's a diff what I've tried locally and it works:

[code]

WRT to monkey patching, I've been able to vendor React in my app and use a webpack alias, but having build issues on Heroku.

Can you expand on your comments re: monkey patching?

Thanks

[2016-11-11 18:47] AreiosIO commented on #2803
Ran into same issue. Like @cody said, adding `value` to disabled option fixed it. It's worth clarifying that somewhere, as behavior seems to differ from non-disabled options. But I'm also a React/JSX newbie. Thank you both. 👍

[2016-11-11 19:02] hanvyj commented on #7293
Not just software patents but any patents your business has, to do with anything. And yes, if you are happy someone using your IP don't go through the process of patenting. If you have, its probably for a good reason.

Patents exist for a reason though, other than to troll. The terms penalise defensive use just as much as "offensive" use of patents.

The problem is it isn't just to protect against

[2016-11-11 19:04] trusktr commented on #2127
The mere fact that `<table>` element can not render certain elements is reason enough to add this feature in order to be compatible with web APIs.

The following would be nice:

[code]

But that throws an error.

[2016-11-11 20:13] adeelzaman commented on #7293
Just want to clarify between the two conflicting posts above. Does it only encompass software patents, or also cover hardware patents and all other types of patents?

For example, if you are a robotics company that owns some several hardware patents, and you decided to use React to code your billing web app dashboard. If Facebook infringes on your robotics patents, do you have to rewrite your bill

[2016-11-11 21:02] syranide commented on #7293
@adeelzaman Not a lawyer, but patents settlements exists too. If Facebook infringes on one of your robotics patents it's unlikely that they would just throw their arms up in the air and give up, they would work out an agreement with you. Same goes the other way, it's give and take. Also, let's not forget that React is super simple at the core, it's not technologically revolutionary. There are plen

[2016-11-11 21:21] #8268 closed

[2016-11-11 21:24] adeelzaman commented on #7293
@syranide Thanks for the explanation. I agree with a lot of your sentiments in the post.

[2016-11-11 22:06] gaearon commented on #2127
@trusktr

As noted in the very first post in this thread:

😉

[2016-11-12 01:02] redwoodfavorite commented on #7135
We have the same thing going on where we are converting to React from Backbone and have some nested contexts.

I noticed the issue when adding onMouseEnter handlers to `rect` elements.  The `onMouseEnter` event is triggered twice when "entering" the element from the react context.

https://jsfiddle.net/gss39gg6/

(Notice onMouseEnter fires correctly fires once when entering the pink rectangle from

[2016-11-12 05:23] trusktr commented on #2127
Gosh dang it, I gotta stop doing that.

[2016-11-12 09:09] jzlxiaohei commented on #6420
render to stream and `mountComponentAsync`  is very important for cache in server.  otherwise , i have to cache component in memory.

[2016-11-12 20:51] #8238 closed

[2016-11-13 00:30] yormi opened #8275 "Future of refs"
Hi there !

I'm writting here because I use 'refs' to pilot my tests and I would love to be able to uniformise my tests. Right now, with this PR https://github.com/airbnb/enzyme/pull/672#issuecomment-259870776, I can achieve that pretty well with string refs.

Since string refs are considered legacy, and since there still seems to be problems with refs (https://github.com/facebook/react/issues/323

[2016-11-13 01:06] gaearon commented on #8275
Does `renderer.getMountedInstance()` help? It should give you the instance rather than the element.

[2016-11-13 01:11] franciscofsales commented on #8260
I tried playing around with this by catching the error event jsdom dispatches on window and it was kind of going fine but then I had conflicts with tests in here:

[https://github.com/facebook/react/blob/master/src/renderers/shared/stack/reconciler/__tests__/ReactErrorBoundaries-test.js#L256
](https://github.com/facebook/react/blob/master/src/renderers/shared/stack/reconciler/__tests__/ReactErrorB

[2016-11-13 04:25] yormi commented on #8275
@gaearon That was exactly what I needed. Thanks !

Ok now, let's say I have:
[code]

[2016-11-13 08:55] renderf0x commented on #8260
Got this working using the onerror suggestion above; Added #8278 as a PR.

[2016-11-13 09:14] franciscofsales commented on #8260
@renderf0x that is exactly what I had done, apart from naming and comment. Not sure how to not trigger that issue.

[2016-11-13 09:30] franciscofsales commented on #8260
Got it. Added #8279. Thanks

[2016-11-13 09:33] renderf0x commented on #8260
@franciscofsales ah indeed. rad. we'd have to have FB confirm, but this probably just never was an issue because it wasn't being listened for (hence this issue). good stuff.

[2016-11-13 09:38] franciscofsales commented on #8260
@renderf0x yeah, I think so. I got the answer from your commit actually. I was spying on `error` turns out it's `onerror`. Thanks.

[2016-11-13 14:36] renarsvilnis opened #8280 "Feature: ReactCSSTransitionGroup delays"
Hi, I want to make a feature request for adding a way to delay enter/appear/leave for `ReactCSSTransitionGroup` component.

I propose adding new props to `ReactCSSTransitionGroup`:
- **transitionEnterDelay** Delay in `ms` after which element begins `enter` transition. *Defaults to 0.*
- **transitionAppearDelay** Delay in `ms` after which element begins `appear` transition. *Defaults to 0.*
- **tra

[2016-11-13 22:37] ThomsCass commented on #1549
+1

[2016-11-14 02:42] Keats commented on #7295
Same here (React 15.3.2), except it worked on Linux but not on Mac (haven't tried Windows).

Code was:
[code]
Switching to the following works:
[code]

[2016-11-14 09:44] fritx opened #8286 "[Feature Request] Add Error-shaped propType option?"
**Do you want to request a *feature* or report a *bug*?**

I request a feature.

**What is the current behavior?**

Currently, there is no Error-shaped propType option.
https://facebook.github.io/react/docs/typechecking-with-proptypes.html

**My minimal use case**

[code]

[2016-11-14 10:04] carlosbaraza commented on #6420
@aickin @goatslacker @spicyj @sebmarkbage @lencioni do you have an update on this?

It is a feature we are very interested on, and we would like to move it forward. Is there anything we can do to help with the feature?

[2016-11-14 10:14] fritx commented on #8286
I've changed to use `onError` prop to pass error bottom-up, instead of top-down,
and won't need this feature any more.  :joy:

[2016-11-14 10:14] #8286 closed

[2016-11-14 10:15] gaearon commented on #8286
Please use PropTypes.instanceOf(Error).

[2016-11-14 12:24] gaearon commented on #6420
We are currently working on Fiber which is a [complete reimplementation of React core](https://www.youtube.com/watch?v=aV1271hd9ew).
This means it doesn't seem to make sense to spend effort in trying to shoehorn streaming into the existing reconciler, as it will be replaced.

Fiber should make it easier to create a separate streaming server renderer that would be focused on performance. This won't

[2016-11-14 12:53] bboysathish commented on #8025
+1 happening for me also, Can you someone confirm without updating chrome on prod version of react 0.14.8 will run smooth.

[2016-11-14 15:52] ragebiswas opened #8288 "Immutable HTML elements and react"
Hi everyone! This is my first report here, please bear with me if I don't make much sense :-)

I am facing an issue with interoperability with web-components. I have to work with a proprietary library where the dom nodes (of the custom web-component element) are frozen (i.e. not extensible), and I get this error in console:

`ReactDOMComponentTree.js: Uncaught TypeError: Can't add property __react

[2016-11-14 16:56] iamdustan commented on #5974
This has been handled by the packaging of the reconcilers.

[2016-11-14 16:56] #5974 closed

[2016-11-14 17:30] peteychuk commented on #2642
PR #8282 related to this issue.

[2016-11-14 17:32] sebmarkbage opened #8289 "Expose renderSubtreeIntoContainer to React Native"
We never built this for React Native but there are use cases for layers in React Native too.

Basically we need to port https://github.com/facebook/react/blob/ef99e7e096cb661de0e72f93a442fbfeaaa07b1c/src/renderers/dom/stack/client/ReactMount.js#L434-L543 to ReactNativeMount.

[2016-11-14 21:10] yormi commented on #8275
Ok another question guys ! Is it necessary to shallow render without owner and context ? If yes, a quick explaination would be nice :)

https://github.com/facebook/react/blob/master/src/test/ReactShallowRenderer.js#L61
https://github.com/facebook/react/blob/master/src/test/ReactShallowRenderer.js#L67

I don't get why and it would solve the problem I'm facing right now with the string refs. They cu

[2016-11-14 22:11] yormi commented on #8275
Nevermind that. Answer here: https://github.com/facebook/react/blob/master/src/test/__tests__/ReactTestUtils-test.js#L44

With an owner we can't assert the result with JSX

[2016-11-15 00:00] Aweary commented on #8288
I think it's generally a valid assumption that DOM nodes are both mutable and extensible, and React is certainly not alone when it comes to doing so. That said, extending nodes should be done with careful consideration and only when necessary. In this case, `internalInstanceKey` is used to associate DOM nodes with their internal instances. As far as I know this is required if we want to be able to

[2016-11-15 01:37] brigand commented on #8288
It could fall back to using a Map if it's non-extensible, but that's more complexity and code. The performance cost would be negligible in the case where zero non-extensible dom elements exist.

[2016-11-15 01:46] jdalton commented on #7655
I'm trying to create a small repro (without react) and having a hard time. Has anyone boiled this issue down to vanilla JS on jsbin or anything?

[2016-11-15 02:38] jdalton commented on #7655
I created a simple vanilla JS repro [here](https://jsbin.com/bekinel/).
The code is:
[code]

Swapping it to:
[code]
avoids the issue.

[2016-11-15 10:25] Dema commented on #8267
I'm not able to reproduce this error in clean app created with create-react-app, so I'll try to explain what I've found.

I have an app that uses react-router v3 and requires login. I placed logic that shows a login popup in App component's render method like this:
[code]
I'm navigating to the page that has method
[code]
property someUndefinedField is undefined accidentially

After I click on "Log

[2016-11-15 16:07] reznord commented on #3726
@gaearon tests are failing when I try running **npm run test**. Can you tell me where I am going wrong?

log: https://gist.github.com/reznord/5dba51c3449e03c98176b166e4ae68f7

[2016-11-15 21:50] DGizmo commented on #7551
Hey guys what's the current status?

[2016-11-16 00:53] donnieflorence opened #8294 "React Distribution"
React is an amazing library, literally changed the way I get to develop applications at my job and made a more pleasant experience day to day. However I absolutely hate how so many legacy things affect react. The way react is built is terrible and from issues I've seen it seems to be some "legacy build system" monstrosity that could never be fixed because of internal Facebook reliance on these thi

[2016-11-16 01:14] vifird opened #8295 "Is there a way to judge if an instance of a component is a child of another?"
Hello, our team are writing a framework of React' system, and now we are facing a problem: To judge if an instance of a component is a child of another( It may in deep layer of the parent instance ). We think there should be a function to resolve these problems, but we cound not find it out.
We need your help.
Thanks a lot.

[2016-11-16 02:01] gaearon commented on #8294
Can you please back up the claim that React size is large compared to Angular? I'm curious about these stats (not saying it's not true, just the first time I heard this). Are you comparing minified size of production version? Before or after gzip?

We are well aware of React being larger of libraries like Preact. They are also different in feature sets (for example React supports fully controlled

[2016-11-16 02:01] #8294 closed

[2016-11-16 03:09] hedgerh commented on #8065
I'm going to take a look at this.  I also noticed that the Handling Events doc could use some formatting to make it easier to read.  Things like headers indicating each topic that is discussed.

[2016-11-16 04:56] yaycmyk commented on #8295
I usually just do that type of comparison by tagging things with IDs and using the DOM `.contains()` API. A little inelegant, but I'm not aware of non-test tooling for the use case.

[2016-11-16 06:02] hedgerh commented on #8060
I have some thoughts regarding the "community resources section" document.

I think we should compile resources that newcomers aren't going to already come across after a couple of random Google searches.  Rather than "Getting Started With React" tutorials, or React video courses, I'd like to point people to communities like Reactiflux and #reactjs on IRC, which have been invaluable to me.

I'd li

[2016-11-16 07:15] liuhong1happy opened #8296 "[Firefox]`e.stopPropagation()` is invalid"
I want to report a *bug*。

my code as follow:

[code]

When I drag & drop a docx file to `textarea`,Firefox browser trigger the default behavior.

![default](https://cloud.githubusercontent.com/assets/3853174/20338011/719ef6fa-ac0f-11e6-80fa-8a13261ee6cd.png)

Who can help me?

[2016-11-16 07:52] Dema commented on #8267
Just noticed, that the same thing happens if there is any error in render method

[2016-11-16 07:54] hedgerh commented on #8065
By the way, @Frazer, as an alternative to the extra param approach, you could use the `name` attribute if you're trying to identify the clicked element:

[code]

[2016-11-16 08:18] hedgerh commented on #8065
Hey @lacker, I was taking a look at this issue, and had some suggestions for revisions of the "Event Handling" documentation.  I just submitted a PR https://github.com/facebook/react/pull/8297 with some of them, but wanted to discuss the section about binding and ES6 class syntax with you.

Perhaps we could turn this issue into a general "Event Handling" changes issue?

Regarding the binding/ES6 c

[2016-11-16 10:39] gaearon commented on #8267
@Dema Are you confident you don't have a Promise swallowing the original error? Like a catch() block that doesn't just handle network request but also a setState() call. This is the most common mistake with how people use Promises in React. The original error gets swallowed, and now React is an inconsistent state which is why next errors are cryptic.

[2016-11-16 10:45] Dema commented on #8267
Yeah, this is actually could be the case. Because it fails with the same error even if I make a mistake in render function... I'll try to investigate it further, thank you very much!

[2016-11-16 11:30] misterfresh commented on #5497
Is there a browser plugin to support jsx syntax natively?

This would be useful for development to be able to skip transpiling after every change in the code.

At the moment I'm using this : http://jamesknelson.com/learn-raw-react-no-jsx-flux-es6-webpack/
and this : https://shinglyu.github.io/web/2016/04/06/minimal_react.html

[2016-11-16 11:53] satya164 commented on #5497
@misterfresh Try https://github.com/satya164/quik

[2016-11-16 13:31] gaearon commented on #7371
Refs work with test renderer in master, and you can even mock them to return something else instead of null:

[code]

[code]

There are no plans to support `findDOMNode()` in test renderer because it should be agnostic of React DOM and there is no way to implement it in a way that won't break in the future.

[2016-11-16 13:31] #7371 closed

[2016-11-16 14:00] tomocchino opened #8300 "npm access request: tomocchino"
In order to publish React to npm I need access to the following repositories:
- [react-addons-create-fragment](https://npm.im/react-addons-create-fragment)
- [react-addons-css-transition-group](https://npm.im/react-addons-css-transition-group)
- [react-addons-linked-state-mixin](https://npm.im/react-addons-linked-state-mixin)
- [react-addons-perf](https://npm.im/react-addons-perf)
- [react-addons-

[2016-11-16 14:02] tomocchino commented on #8300
Thanks @zpao!

[2016-11-16 14:02] #8300 closed

[2016-11-16 14:05] Dema commented on #8267
Yep. You are absolutely right! It is exactly the scenario you described. Most likely it is an error in redux-form package I'm using for forms. I've added a bug report. https://github.com/erikras/redux-form/issues/2068#issuecomment-260953100

[2016-11-16 14:15] Kepro commented on #8296
try to use https://github.com/okonet/react-dropzone

[2016-11-16 14:59] spicyj commented on #7770
cc @Aweary, @bgnorlov, @chenglou, @gaearon, @goatslacker, @hkal, @jedwards1211, @jessebeach, @keyanzhang, @mnpenner, @nhunzaker, @sebmarkbage – your changes are now shipped in React 15.4!

https://facebook.github.io/react/blog/2016/11/16/react-v15.4.0.html

[2016-11-16 14:59] #7770 closed

[2016-11-16 15:03] gaearon commented on #7386
This was fixed in React 15.4.0 which is [out today](https://facebook.github.io/react/blog/2016/11/16/react-v15.4.0.html).

[2016-11-16 15:05] gaearon commented on #7601
The issue with `injectEnvironment` was fixed in React 15.4.0 which is [out today](https://facebook.github.io/react/blog/2016/11/16/react-v15.4.0.html).
If you were mocking `ReactDefaultInjection` (which is unsupported) please remove those changes, and it will work.

[2016-11-16 15:10] capaj commented on #7617
@gaearon

I though setState was asycnhronous? How could it work like that?

[2016-11-16 15:12] cmhdave commented on #8168
I do not believe [#544](https://github.com/facebook/react/issues/554) resolves this issue if the code was supposed to be released with 15.4.0 as I can confirm this is still a problem in 15.4.0.

[2016-11-16 15:22] spicyj commented on #8168
No, it's a breaking change in some cases so it is waiting for 16.0.

[2016-11-16 15:29] jochenberger opened #8301 "react-dom 15.4.0 does not work in AMD enviroment"
If I try to load react-dom with RequireJS, I get an error: "Mismatched anonymous define()".
Looking at the react-dom from the 15.4.0 distribution (https://cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react-dom.js), I notice that there seem to be two UMD wrappers at the top.
This is probably related to the change in the packaging structure (#7164 and #7168).

[2016-11-16 15:30] gaearon commented on #7617
It will likely be almost-always async in the future but there are cases when it can't be (e.g. inside an input event handler).

[2016-11-16 15:38] albertolive opened #8302 "Problems updating to React 15.4.0"
I'm getting this error with in all my files:

    Module not found: Error: Cannot resolve module 'react/lib/ReactMount' in...
I'm using the latest version of react: 15.4.0.

webpack: 1.12.11

Any help?

[2016-11-16 15:44] gaearon commented on #8302
Hi, thanks for the report.

You need to find the library that imports `react/lib/ReactMount` and file an issue with it.
This was never officially supported, as noted in the [release notes](https://facebook.github.io/react/blog/2016/11/16/react-v15.4.0.html#separating-react-and-react-dom):

We warned about this change [a month ago](https://github.com/facebook/react/issues/7770#issuecomment-25389983

[2016-11-16 15:44] #8302 closed

[2016-11-16 15:46] gaearon commented on #8295
Could you explain your use case in more detail?

[2016-11-16 15:51] ipip2005 commented on #7136
@satya164
Seems this error only shows in prod bundle, but omitted in debug bundle. In our code we check-in the change which touch the public refs, but with no errors. After it deployed (which uses React.min.js) it shows this error.
Any clues?

[2016-11-16 15:55] zpao commented on #8301
I'm having trouble getting this to reproduce like you say, however I am having an issue. Here's my minimal setup: https://gist.github.com/zpao/6bb8c4c08d5502d3e4d6923ae244fa9f

Can you help clarify your case so we can investigate better?

[2016-11-16 16:03] gaearon commented on #7136
Please provide an example reproducing this.

[2016-11-16 16:17] zpao commented on #8161
For a long time and in some browsers with considerable marketshare when React launched, it wouldn't have allowed the JSX transform to work consistently.

`<label for="foo" />` would get transformed to (at the time) `React.DOM.foo(null, {for: "foo"})`. Specifically the use of `for` as a key like that was not valid and would throw an error. Same for `class`. Now you could write that as {'for': ...}`

[2016-11-16 16:17] #8161 closed

[2016-11-16 16:17] gre commented on #7740
It works great! thanks you guys for fixing this.

[2016-11-16 16:44] vifird commented on #8295
@yaycmyk Yeah, we finally find a way that may probably effect, it's the `_owner` property , we are trying on it.

[2016-11-16 16:49] gaearon commented on #8295
Please don't rely on `_owner`, it's an implementation detail and might change behavior in future releases. Generally anything with underscores that isn't documented in public API docs isn't a public API ;-)

[2016-11-16 16:56] vifird commented on #8295
@gaearon Hello. We defined a component (instance of React.Component), and it's used merging with other components or HTML tag.  Such as(named `Group`):
`
<div>
  <Group key={1} name="group1">
    <div>
      <Group key={1}/>
      <div>
          <Group key={1} name="group2"/>
      </div>
    </div>
  </Group>
  <Group key={2}>
    <Department/>
  </Group>
</div>
class Department extends React.Co

[2016-11-16 16:58] TCMiranda opened #8303 "15.4 minor wasn't supposed to break so much stuff, was it?"
![screenshot from 2016-11-16 14-38-06](https://cloud.githubusercontent.com/assets/10077439/20356782/c1bf72de-ac0c-11e6-84c1-e49ad17e721d.png)

Some packages broke due to missing stuffs on `react/lib/...`
Seems like it shouldn't happen, even my build process broke suddenly due to react 15.4 update (react packages set to ^15.3.2)

Thanks!

[2016-11-16 17:00] vifird commented on #8295
@gaearon Yeah, thanks for your reply, but we couldn't find out another way to resolve these problems.

[2016-11-16 17:16] gaearon commented on #8303
Hi, thanks for the report.

If you rely on packages that rely on undocumented or private APIs, consider keeping React version pinned. It is never safe to rely on internal APIs and we never supported this officially. We can't consider private APIs as part of semver because there is no way to tell if any particular change in the internals would break a library reaching into them. This is just an uns

[2016-11-16 17:16] #8303 closed

[2016-11-16 17:18] spicyj commented on #8303
Same with the authors of draft-js-export-html (not a Facebook-owned module).

[2016-11-16 17:27] hunthunthunt opened #8305 "ReactTestUtils.Simulate no longer works as expected in v15.4.0"
Firstly, congrats on the release :)

With the  v15.4.0 update, a couple of our projects tests are failing given the changes to `ReactTestUtils.Simulate` as discussed here:
https://github.com/facebook/react/pull/7642#issuecomment-244516991

The work-around was to use `ReactTestUtils.SimulateNative` - however it's still not entirely clear what the difference between `Simulate` and `SimulateNative` a

[2016-11-16 17:42] gaearon commented on #8305
cc @spicyj

[2016-11-16 17:56] jhicken opened #8307 "Negitive consequences of the licence"
I have take this down I will re-post after some more chatter internally.

[2016-11-16 18:03] gaearon commented on #8307
I think this part is incorrect. The patent grant specifically mentions it doesn't terminate if Facebook sues for patents first:

https://code.facebook.com/pages/850928938376556

[2016-11-16 18:12] #8307 closed

[2016-11-16 18:15] RoccoC opened #8308 "onClick firing for disabled buttons in v15.4.0"
With the latest 15.4.0 ReactJS release, `onClick` is now firing for disabled `button` elements which have child HTML elements:

https://jsfiddle.net/rcataldo/69z2wepo/62589/

In the previous ReactJS version, the onClick handler would not be called.

Note that onClick _is not called_ if I remove the `<span>` from the button.

[2016-11-16 18:16] lacker commented on #8060
@hedgerh That sounds good overall - although I think we should only really remove stuff that we believe is lower quality than a random Google search and therefore we do not recommend, rather than removing stuff that we theorize newcomers will come across while Googling. It's still helpful to say "we believe this is the best few video courses out there".

[2016-11-16 18:18] hhope1271 commented on #8302
@gaearon From what I can tell, that require is coming from `react-hot-loader` v1.3.0, which is the latest non-beta release according to: https://github.com/gaearon/react-hot-loader/releases.

[code]

[2016-11-16 18:19] gaearon commented on #8308
cc @spicyj @

[2016-11-16 18:21] gaearon commented on #8302
React Hot Loader 1.x has been unsupported for about a year by now. Please use 3.x which should work without reaching into internal modules.

[2016-11-16 18:29] lacker commented on #8065
I think adding more content to the event-handling doc to account for common cases would be useful. It's not a very long document right now, just 140 lines, so structurally I don't think it's time to split it up into multiple documents. I wish it did not have to go so deep into binding, but I don't think you can really handle events using best practices without learning everything in that document,

[2016-11-16 18:31] hhope1271 commented on #8302
Hey @gaearon , fair enough. Thanks! Might be off-topic, but will there be an official stable release of 3.x in the near future? To be fair I did miss the documentation where it mentioned the requirement to use 3.x, but it still feels a bit unintuitive to be forced to use a pre-release/beta version.

[2016-11-16 18:56] spicyj commented on #8289
I don't think we currently have a way to make a new container short of making a new root view in native land (which starts a new tree automatically).

[2016-11-16 19:03] gaearon commented on #8302
Please reach out to project maintainers about this. I can't say because I'm not actively involved right now.

[2016-11-16 19:06] Spudbuckets commented on #8301
Here is a fiddle demonstrating the broken module in ReactDOM.

https://jsfiddle.net/w5xjbgcy/1/

Just change the path to 15.3.0 and ReactDOM will work.

[2016-11-16 19:09] tuchk4 opened #8310 "Feature request - PropType.*.name"
## Feature request: Fill name attribute or add static toString() method for all PropTypes.

For example:

[code]

It maybe useful when debugging.
In my case - I need to equal components prop types and throw exception if there are same props. So if generate names for prop types - they could be compared.

### Current behaviour
Only primitive types could be compared (string, bool, number).
Complex ty

[2016-11-16 19:10] tuchk4 commented on #8310
If it is OK I can make PR

[2016-11-16 19:27] betalb commented on #8301
@zpao If you change app.js to this:

[code]

You will get exactly the same behaviour, as was described

[2016-11-16 19:28] gaearon commented on #8310
Can you please explain why you're testing presence of PropTypes? How is this helping you? Some examples from product code would be helpful.

[2016-11-16 19:47] lacker commented on #8255
Do you think the examples in https://facebook.github.io/react/docs/optimizing-performance.html are good enough? If so perhaps we could just link over there from the reference docs.

[2016-11-16 19:53] nhunzaker commented on #8308
Is the target element the `span` or `button`? I can take a deeper look later tonight, but my first hunch is that we need to look at the way `SimpleEventPlugin` filters out disabled elements.

`SimpleEventPlugin` and bails out if the target element is disabled, but I don't know that we account for cases where the target element lives inside of a disabled element.

[code]

So if the target is the `s

[2016-11-16 20:03] RoccoC commented on #8308
The target is the `button` element:

[code]

The same but without the `span` works as expected and does not dispatch the event on the `button`:

[code]

[2016-11-16 20:06] nhunzaker commented on #8308
@RoccoC :+1: React manipulates the `target` field as it bubbles events up the component tree. I wonder if we can performantly crawl up the tree to see if an element is disabled.

[2016-11-16 20:32] Frazer commented on #8065
Thanks for the suggestion @hedgerh .

Back to my original question:

[code]

If I wanted to handle the event in openSlideShow, it isn't clear how.  Perhaps:
[code]
It's not clear where to put the event parameter.

[2016-11-16 20:40] RoccoC commented on #8308
I see the function `shouldPreventMouseEvent` in `SimpleEventPlugin` which seems to handle whether a mouse event should be prevented based on component instance's tag and `disabled` prop, but the SimpleEventPlugin's `extractEvents` function is passing the event target (in this case the `span`) to `shouldPreventMouseEvent`, not the actual dispatch target to which the listener is assigned (e.g. the `

[2016-11-16 20:54] hedgerh commented on #8065
I'm on mobile so I can't do code blocks but

If you used this.openSlideshow.bind(this, 'due') as your handler, the
second param would be the event.

I prefer to do this with my handler, which dan mentioned:

onClick={(e) => { this.openSlideshow(e, 'due') } and make e the first param
of the method

On Wed, Nov 16, 2016 at 3:33 PM Frazer Kirkman <notifications@github.com>
wrote:

[2016-11-16 21:01] alansouzati opened #8312 "v15.4.0: ReactTestRenderer and ReactMount gone"
After updating to react 15.4.0 I'm facing issues with missing ReactTestRenderer and ReactMount.

I tried to look into the release notes, but I could not see anything regarding ReactTestRenderer being gone. I'm not calling `ReactMount` directly, I'm using `ReactDOM.render`.

Any ideas? If I don't change anything in my code and rollback to 15.3.2 everything works fine.

[2016-11-16 21:02] RoccoC commented on #8312
What version of `react-hot-loader` are you using (if at all)? I know v1.x called ReactMount directly, and updating to v ^3.0.0-beta fixed that issue for me.

[2016-11-16 21:09] alansouzati commented on #8312
Thanks @RoccoC I'm using v1.x. Let me test it out with v 3. 👍

[2016-11-16 21:12] vvo opened #8314 "react-addons-test-utils 15.4.0 now depends on react-dom instead of react"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
react-addons-test-utils 15.4.0 has a peer dependency on `react-dom` and uses it, 15.3.0 had a peer dependency on `react`.

In 15.3.0, react-addons-test-utils/index.js:
[code]

In 15.4.0, react-addons-test-utils/index.js:
[code]

If your code contains:

[code]

It will fail given your current d

[2016-11-16 21:26] yormi commented on #8275
Took me a bit more time than expected...

Follow-up here:
https://github.com/facebook/react/pull/8311

[2016-11-16 21:26] #8275 closed

[2016-11-16 21:44] laughnan commented on #8314
seeing this as well.

[2016-11-16 21:59] hedgerh commented on #8065
@Frazer, hey I'm home on my computer.  Let me know if that answered your question, bc I'm not 100% sure I did.

[2016-11-16 22:21] Aweary commented on #8308
@RoccoC `event` isn't defined until after that switch statement, when the constructor is determined and an instance is pulled from the pool. [`accumulateDirectionalDispatches`](https://github.com/facebook/react/blob/e3131c1d55d6695c2f0966379535f88b813f912b/src/renderers/shared/shared/event/EventPropagators.js#L41-L54) then eventually populates `event._dispatchInstances`.

[`traverseTwoPhase`](http

[2016-11-16 22:25] arendjr opened #8316 "React DOM Server shouldn't contain a separate copy of the reconciler"
**Do you want to request a *feature* or report a *bug*?**

I don't know if it's technically a bug, but to me it's certainly a regression because it inflates the size of the react-dom-server package when used on the client.

**What is the current behavior?**

Might be best to just quote the release announcement for React 15.4:

**What is the expected behavior?**

Just like React 15.3 and below, onl

[2016-11-16 22:32] Aweary commented on #8308
@RoccoC one issue there is `_dispatchInstances` and `_dispatchListeners` can be arrays, and there may be cases where some listeners should be dispatched and some shouldn't. So we'd have to introduce more logic to `shouldPreventMouseEvent` and make it polymorphic as a result, which isn't ideal.

I think it would be better if we could prevent the listener from being registered with the event in the

[2016-11-16 22:38] tomcardoso opened #8318 "getRootIDs is not defined in ReactComponentTreeHook.js"
Just started running into this bug today, everything was going smoothly before then. I just updated to 15.4.0 and started running into this.

When I do `import React from 'react';`, this error gets thrown on the page when I try to use ReactDOM to render something to the DOM. Here's my code:

[code]

I'm using React 15.4.0 and ReactDom 15.4.0, and bundling everything with Rollup and Buble.

Here's

[2016-11-16 22:40] Frazer commented on #8065
@hedgerh yes, that answered perfectly.  I guess I think both of these examples should be in the documentation.

[2016-11-16 22:44] hedgerh commented on #8060
@lacker - good point.  i'm totally cool with that as long as it doesn't become a link dump.

[2016-11-16 22:55] hedgerh commented on #8065
@Frazer, yeah I'll add them.  I'm curious, what do you think about using the `name` attribute on the element instead of using an extra param to identify which button was clicked?

[code]

[2016-11-16 22:57] lacker commented on #8065
To me these seem like handy tricks rather than a necessary thing to learn. For example if you only had the knowledge in the docs, you could just make a shim function like

    openSlideshow(what) {
      ...
    }

    openDueSlideshow() {
      this.openSlideshow('due');
    }

    openAllSlideshow() {
      this.openSlideshow('all');
    }

    // Then later in render:

    <button onClick={this

[2016-11-16 23:17] hedgerh commented on #8065
@lacker - Consider if, instead of having 2 static buttons, the buttons are created dynamically.

I think it's worth documenting in the `Event Handling` section.  I've had to use this technique in the past, and I can think of a few use cases that require identifying which child was clicked/changed.

[2016-11-16 23:26] lacker commented on #8065
Ehhhhhh OK I guess that's fair. Does `bind` have any advantage over arrow functions here? I can't think of any and if it's all the same then I would rather nudge people away from bind.

[2016-11-16 23:31] hedgerh commented on #8065
I can't think of any, either. I think that's the way to go.

On Wed, Nov 16, 2016 at 6:27 PM Kevin Lacker <notifications@github.com>
wrote:

[2016-11-16 23:57] gaearon commented on #8318
Can you reproduce this without Rollup?

[2016-11-17 00:02] gaearon commented on #8316
If those templates are known statically or on the server you could turn them to HTML there.

If not, you could render DOM into an empty element and then read its inner HTML.

[2016-11-17 00:08] mgnrsb commented on #6895
I got this error when trying to access `e.target.value` from an event that bubbles up from an input element into a custom element. By the time I want to consume it, the event has already been reset to null.

`const GeneralInput = ({ name, onChange }) => ( <input name={ name } onChange={ onChange } /> )`

[code]

I solved it by calling `e.persist()` on the input element itself:
`const GeneralInput

[2016-11-17 00:22] gaearon commented on #6895
@mgnrsb and everyone else:

If you only saw this error but didn't see the original error (for example in @mgrnsb's case it would be something like "Cannot read target property of null") then you still have a problem, and some part of your code swallows exceptions.

The most common way to get this problem is when you use Promises and have a catch() block after you're attempting to update the UI. If

[2016-11-17 00:26] tomcardoso commented on #8318
Not easily — I'm not sure I know of any code playgrounds that do ES6-style module imports… Any ideas?

FWIW, this (obviously) works: https://jsfiddle.net/yvoy2g3x/

It's very possible that this is some side-effect of ES6-style module bundling. I tried replacing Buble with Babel, same problem.

[2016-11-17 00:37] rwblackburn opened #8320 "isInjected for propTypes"
I would like to propose a small addition to the propTypes.

I and a few others have encountered issues when using Redux connect to inject information from a store. See:
https://github.com/yannickcr/eslint-plugin-react/issues/553

I was wandering if maybe adding an ".isInjected" to PropType would make sense? It could work similar to ".isRequired" where it can be chained to any to any datatype. Howe

[2016-11-17 00:43] nhunzaker commented on #8308
@Aweary aye. Happy to dig into this unless someone has already taken it. Here's a test case:

https://github.com/nhunzaker/react/compare/master...nhunzaker:disabled-button-children

[2016-11-17 00:46] gaearon commented on #8320
We don't currently plan to make changes to PropTypes but you are welcome to create your own package implementing something like this.

Personally I would suggest defining common propTypes separately from "injected" ones. Then use both:

[code]

I hope it helps!

[2016-11-17 00:46] #8320 closed

[2016-11-17 00:48] yavorsky opened #8321 "Delete all examples except "fiber" & "basic-jsx""
Many people to understand something new are reading docs/articles, but good practice is to explore examples in parallel.

Current examples' issues:
 - Depends on Babel 5.8.
 - `<script type="text/babel">` - deprecated.
 - `setInterval(render, 50)` - to wait dom.
 - Outdated libraries (like webcomponentsjs 0.7).
 - Generally, you must 'parse' in mind the whole `html` file to understand how small Co

[2016-11-17 00:52] gaearon commented on #8318
Might be a Rollup bug then?

[2016-11-17 01:11] gaearon commented on #8312
ReactTestRenderer is not gone. It's on npm as `react-test-renderer` package. Importing it from `react/lib` is not officially supported, that was just an implementation detail.

ReactMount has moved but it's internal module. It will be removed eventually. Don't rely on tools relying on internal modules. RHL 1.x has not been maintained or supported for a long time by now.

[2016-11-17 01:11] #8312 closed

[2016-11-17 01:59] rhalff opened #8324 "ReactTestRenderer: Invariant Violation: getNodeFromInstance: Invalid argument."
I'm following the example at https://facebook.github.io/jest/docs/tutorial-react.html#content in order to use snapshots with jest.

I run into a bug within `react-test-renderer`, it seems to fail whenever findDOMNode is used on a component instance.

Minimal code to replicate the bug:
[code]

The Error:
[code]

React versions:
 * react: 15.4.0
 * react-dom: 15.4.0
 * react-test-renderer: 15.4.0

[2016-11-17 02:12] rhalff commented on #8324
Nevermind, just found it's not supported: https://github.com/facebook/react/issues/7371

[2016-11-17 02:12] #8324 closed

[2016-11-17 02:20] santosh07401 opened #8325 "Reactjs page and android webview communication"
**Do you want to request a *feature* or report a *bug*?**
 no

**What is the current behavior?**
I didnt find a good way to communicate  from android webview to reactjs page.
The problem im facing is i have a landing page(written in reactjs and loaded in webview) with the backbutton. i want to close webview activity on click of that backbutton.

**Which versions of React, and which browser / OS ar

[2016-11-17 02:26] davidgilbertson opened #8326 "False positive with "Warning: You are manually calling a React.PropTypes validation function""
OS: macOs 10.12.1
Node: 6.6.0
NPM: 3.10.3
React: 15.1.0

I am getting the warning
[code]

I've inherited a codebase with an interesting setup that uses an npm package (and therefore a different react instance) to render the DOM (details below). [This comment](https://github.com/facebook/react/pull/7132#issuecomment-230585137) makes me wonder if that could be the cause of the issue? The package is

[2016-11-17 02:37] alansouzati commented on #8312
Thanks for clarifying. I got the `react/lib/react-test-renderer` from the Jest documentation. I just checked and the documentation is up to date now.

I will make sure to update it in my code as well.

[2016-11-17 02:39] bounty2darescue commented on #8264
@apsoto @syranide ran into this on Opera.  This is definitely a browser bug.  For more than 3 clauses, every clause is calculated properly but the second clause is always returning the old rather than the new value.  @apsoto to check, try adding more clauses:

[code]

If you change the other increments but set the second one to zero, you will see the value agrees with what you get in other engines

[2016-11-17 02:51] lucas-aragno commented on #8255
Yes! I wanted to show PureComponents to a co-worker and he found that hard to understand bc they weren't examples on that page and  I sent him that same link so I think it would be nice to have a link there from the pure component page

[2016-11-17 03:29] jasondonnette commented on #8316
I have a different use-case where I am using renderToString to save SVG's client-side.

But I suppose using inner HTML of the dom element would be sufficient as well.

[2016-11-17 09:18] jochenberger commented on #8301
@zpao I think the different behavior comes from different requirejs setups. I get the error in a Java library that integrates React with the Apache Tapestry framework (https://github.com/eddyson-de/tapestry-react).
My specific problem seems to be the anonymous define in the inner wrapper. If I change that to `define('react-dom', [], f)`, the error goes away.
The other problem (`ReactDOM` being `un

[2016-11-17 09:48] nghuuphuoc commented on #6232
@mhuggins Your work around helped me too.

[2016-11-17 09:49] jbt commented on #8318
I'm seeing this too with rollup, I believe it's a rollup bug trimming too much code from the output - I opened https://github.com/rollup/rollup/issues/1113 over there for the same issue

[2016-11-17 09:58] syranide commented on #8264
@bounty2darescue Thanks for the debugging. Interesting bug.

The reason it's done this way to begin with is for performance reasons, that specific path is really really hot. I'm not sure how much we really care still as it will probably phased out in the future.

So we have the possibility to feature test and provide a workaround implementation just for the broken browsers. Or we can go with a gen

[2016-11-17 10:25] gaearon commented on #8326
Using different versions of react to define and render components in the same project is not supported. We can't really help here because they are just not compatible.

[2016-11-17 10:25] #8326 closed

[2016-11-17 10:41] joe-sky commented on #8301
Today, I encountered an error while using the `SystemJS` loader to load react-dom v15.4.0. I don't know if it is the same as the error in this issue:
[code]
The specific error message is `Uncaught (in promise) Error: (SystemJS) require is not a function`.

[2016-11-17 11:30] matm commented on #8314
Seriously, that's a breaking change that can take CI systems down.

Is it documented somewhere?

[2016-11-17 11:50] flaviusone commented on #8314
It did. 💀

[2016-11-17 12:03] vvo commented on #8314
I think we have all various experiences with this bug, let's keep it constructive and see if we can do something about it so that we focus on positive not negative comments.

[2016-11-17 12:58] gaearon commented on #8314
That's indeed frustrating but this ship has sailed now. Sorry we screwed it up.

We released 15.4.0 RC a month ago and publicly asked for feedback:

* https://github.com/facebook/react/issues/7770#issuecomment-253899837
* https://twitter.com/sebmarkbage/status/794600168016384001
* https://twitter.com/dan_abramov/status/787014238405533696

Unfortunately nobody reported this issue even as it was dis

[2016-11-17 12:58] #8314 closed

[2016-11-17 13:30] nhunzaker commented on #8308
Following @Aweary's thoughts, I first looked into avoiding the subscription all together. However, it turns out, there are some additional things to figure out there.

When React updates a component, it adds/removes event listeners based on whether or not they have changed. This is problematic for disabling events. Changing the `disabled` prop is a separate operation from attaching/removing listen

[2016-11-17 13:31] unel commented on #4533
@spicyj

But... why?.. And why is this not reflected in the documentation? :'(

[2016-11-17 13:38] nhunzaker commented on #8308
I sent out this PR for discussion:
https://github.com/facebook/react/pull/8329

[2016-11-17 13:52] gaearon commented on #4533
@unel

Because the function instance is different on every render. React doesn't know it's the same function "conceptually". Maybe you were passing `callback1` and now pass `callback2`. So it needs to reset the ref for `callback1` (since it might never get called again) and then set the ref for `callback2` (since it's the new one).

This could be added to the documentation but I'm not sure why it

[2016-11-17 13:55] gaearon commented on #8324
Yea sorry, refs can work but `findDOMNode()` can't (we tried).

[2016-11-17 14:16] unel commented on #4533
I think it's a very important clarification, because in most cases callback1 and callback2 "conceptually" - same and don't expects this behaviour on each render ("Why is my callback called with null, when this component not unmounted?")

And the second reason - the number of calls. 2 calls for whole child component lifecycle obviously less than 2+2*render calls count... For "heavy" handlers it's m

[2016-11-17 14:49] bencripps opened #8330 "v15.4.0 hard dependency on React-hot-loader > v.1.3.0"
We have tried to uprev our version of React with every major release, since they very often help us with perf or core issues that we should be addressing, so we updated to 15.4.0 yesterday.

However, it seems as though there is a breaking change in 15.4.0 when it comes to our development process. Although our apps build successfully, they break when we try to dev using our webpack/hot-reloading pr

[2016-11-17 15:09] pixili commented on #8301
I seem to have exact same issue.

When I upgrade to newest version ReactDOM was undefined.
When switch back every thing works fine. Without changing a line in my source code.

Currently I changed back, but of course that not the best solution long term solution.

[2016-11-17 15:16] bounty2darescue commented on #8264
@syranide the last one should be

[code]

The original SheetJS version doesn't suffer from this.  [Their Sauce Labs browser test badge](https://github.com/sheetJS/js-adler32#badges) shows Opera 12 is part of the test suite.  Looking at the original code, they decided not to unroll this part and I have to assume it's because of this bug.

[2016-11-17 15:42] syranide commented on #8264
@bounty2darescue Is it because of nesting? Because above you said 2nd clause and that's also what it shows in the test... but that may be some quirk of the bug.

I'm pretty sure they just didn't because they pretty much can't due to UTF16 handling. Our version is significantly faster than theirs and was heavily optimized simply because it became apparent that it was contributing significant runnin

[2016-11-17 16:21] bounty2darescue commented on #8264
@syranide Splitting up my first comment into lines would help clarify:

[code]

If you think the best approach is to unroll and do 4 steps at once, the "fix" is to effectively noop the second block:

[code]

I'm not sure whether using the dummy step is faster or slower than using 2 increment steps.

Are you sure it isn't because the mask was removed?  Sheetjs picks the low byte of each character c

[2016-11-17 16:21] gaearon commented on #8330
Please refer to this thread: https://github.com/gaearon/react-hot-loader/issues/417.
The 1.x branch has been unmaintained for many months so 3.x beta is more "stable" than it already.

[2016-11-17 16:21] #8330 closed

[2016-11-17 16:23] gaearon commented on #4533
I'm not sure what you mean. Ref calls should be very cheap because they typically just set a reference.

Please feel free to send a doc PR!

[2016-11-17 16:32] gaearon commented on #8321
I think the vast majority of the content in `examples` folder it either useless or outdated.
I'd replace it completely with something more useful but I don't have time to work on this.
Assigning to @lacker to figure this out.

[2016-11-17 17:10] syranide commented on #8264
@bounty2darescue Good point about `(a += 0, 0)`.

I'm positive that it's faster, but I'm not sure how much it matters, I did it that way because it benchmarked as being the fastest.

All of that matters obviously, but 99% of the time is spent in that specific loop, so every little bit has a big impact.

I benchmarked every possible combination back then. I did try lower values too to intentionally

[2016-11-17 17:32] unel commented on #4533
@gaearon

https://github.com/facebook/react/pull/8333/files =)

[2016-11-17 17:59] Frazer commented on #8065
showing how to pass parameters to a function is essential to my way of thinking about functions.

Is it true that {(e) => {someFunc(e,x)} }  creates a copy of someFunc each time?  and .bind does not? Is that one advantage of .bind?

[2016-11-17 18:14] apsoto commented on #8264
I have easy access to Opera 12 on Mac Desktop and on an embedded device if you need me to check anything.  Otherwise, I assume it's in good hands.

[2016-11-17 18:56] StokeMasterJack opened #8336 "nbsp renders differently in production"
I am using `{'\u00a0'}` in my render method like so:

[code]

It renders as expected in dev mode. But in production it renders with a strange A. See attacked images.

This is Dev Mode:
![070](https://cloud.githubusercontent.com/assets/123349/20403075/35063226-acb4-11e6-96f6-8f484ffaad1c.png)

This is Prod Mode (notice the strange A):
![071](https://cloud.githubusercontent.com/assets/123349/2040307

[2016-11-17 18:57] hedgerh commented on #8065
Hmm, I think it may actually be the opposite.  The bind function executes on every render, returning your new `someFunc` with your `this` context bound and the first param applied.  The arrow function isn't evaluated until the button is clicked, so I don't think there is any issue there.  Can someone correct me if im wrong?

[2016-11-17 19:47] StokeMasterJack commented on #8336
I have narrowed the problem down a bit. When I build with this option set:

`devtool: 'eval-source-map',                          //dev-mode`

it renders fine. But when I render instead with this:

`devtool: 'cheap-module-source-map',         //prod-mode`

it adds the extra funky A character.

Does this mean this is a web pack bug? I have to say it's sometimes hard to determine where React ends an

[2016-11-17 19:51] Aweary commented on #8336
Can you reproduce the issue without React? If changing `devtool` is what causes the issue then it's likely a Webpack issue, but you can always verify by creating a small bundle with plain JavaScript files and see if occurs there as well.

[2016-11-17 19:52] lacker commented on #8065
Both the bind and the arrow-function ways for binding a parameter in create a new function every time. The repetitive shim function does not. Basically any call to `bind` and every use of `=>` creates a new function - the only way around that while still binding `this` to the callback is calling `bind` in the constructor.

Thinking about it more, there is not a crisp, clear pattern of "what is the

[2016-11-17 19:56] lawlmart commented on #6544
+1 for needing this attribute for iOS 10

[2016-11-17 20:12] lawlmart commented on #6544
I'd argue this needs to be reopened. This breaks iOS10 autoplay support.

[2016-11-17 21:48] hedgerh commented on #8065
Hmm, but don't we cover a few different approaches for dealing with the binding issues when using ES6 classes?

[2016-11-17 21:54] lacker commented on #8065
Yeah, it's definitely a grey area. I feel like it's not really clarifying to add more examples of ways to bind in more-complex scenarios, though - at some point you just need to tell people, you need to learn what binding is to build more complicated things. I think we're at that point - if you're going past the few scenarios in the docs, you should just read up on binding and think for yourself.

[2016-11-17 22:12] hedgerh commented on #8065
Honestly, I'd be on board with just mentioning the arrow approach and calling it a day.  We aren't necessarily saying that's the better way to do it, and if someone knows they can partially apply an extra param with the `bind` approach already, they shouldn't really be thrown through a loop by this.

We could even say:

"if you need to pass an extra parameter to your event handler, one way you can

[2016-11-17 22:16] renarsvilnis commented on #8280
I made an [`<DelayMount />`](https://gist.github.com/renarsvilnis/bb083fa50c64221c49f43169076cdf31) component allows to  delay mounting and "unmounting".

[2016-11-17 22:29] artursgirons opened #8338 "Unable to find element with ID 'undefined'"
React@15.4.0 (on 15.3.2 all is well)
This invariant "Unable to find element with ID 'undefined'" error happens when specific (yet not special in any kind) component update is triggered from `callback` in `ReactDOM.render(<element>, <domElement>, <callback>)`. Using MobX for state management. and latest 2nd Webpack.
This I guess doesn't qualify as proper issue report, as I could localize issue to s

[2016-11-17 22:41] Aweary commented on #8338
@artursgirons can you share a test case reproducing the issue?

[2016-11-17 23:22] artursgirons commented on #8338
@Aweary, on a tight schedule.. But if no one else will experience this nor have some reproducible-sharable bits, I'll try to.. For time being I've moved back to v15.3.2.

[2016-11-17 23:30] StokeMasterJack commented on #8336
Looks like someone reported the same issue for webpack:
https://github.com/webpack/compression-webpack-plugin/issues/20

[2016-11-17 23:52] viz commented on #6895
I'm seeing this too. Seems to be related to redux-form and or it's interaction with react.

Current versions are: redux-form v6.2.0, react v15.4.0

Seems like this problem started occurring after upgrading to redux-form 6.x.

![developer_tools_-_http___localhost_3000_](https://cloud.githubusercontent.com/assets/12402/20412782/e9752a32-ad7c-11e6-9436-d13352d38bf5.png)

[2016-11-17 23:52] mmdonaldson commented on #8255
Is it discouraged to use Pure Component? Because I also agree that the documentation is a little scattered on it

[2016-11-18 00:00] jdalton commented on #7328
@lPadier I've opened a PR at #8266.

[2016-11-18 00:11] pgoldrbx commented on #6798
Adding a note in this thread for the workaround above from @poscar
This workaround requires an update as of the `15.4.0` release. after the formal `react-dom` split.
[code]

[2016-11-18 00:42] rubyruy opened #8340 "Error message / stack trace for `Invariant Violation: Element type is invalid` is still useless most of the time - possible solution enclosed."
Using React v15.3.2 and `ReactServer.renderToString` but I'm reasonably sure the behaviour is the same with `ReactDOM` (and I've not seen anything in the release notes of 15.4 regarding improved error messages from render).

The problem is of course that the source of the stack-trace is simply the originating `render` or `renderToString` call. In certain occasions the error messages includes the n

[2016-11-18 00:42] zpao commented on #6544
and

These conflicting statements lead me to believe we can (and probably should) continue using the property. We might just need to ensure that `muted` is set before `autoplay`.

* * *

Can somebody having an issue share the code they're having an issue with (hi @aza!) - I can't repro the problem but I could be looking at the wrong thing. Here's what I have:

[code]

This is rendering the video a

[2016-11-18 00:47] robdodson commented on #7901
@treshugart

Good question. It may be the case that some attributes still require a special case. Either using special syntax in React to set the attribute, or React could set it using some kind of heuristic ("any property beginning with aria* gets set as an attribute instead). For what it's worth, there's an effort underway to allow you to [set accessibility properties in JavaScript](https://gith

[2016-11-18 07:06] junibrosas commented on #8314
Im now experiencing while integrating Mocha + Typescript. :(

[2016-11-18 08:32] GiedriusGrabauskas commented on #8301
@joe-sky, same here.
[code]

And not only for me:
http://stackoverflow.com/questions/40640690/loading-react-15-4-with-system-js-fails-with-require-is-not-defined-error

[2016-11-18 10:15] gaearon commented on #8314
All you need to do is to add the dependency on `react-dom`. Unless you have some new information about this issue I think further “me too” comments won’t be helpful. Again, sorry about this!

[2016-11-18 10:24] gaearon commented on #8340
Does this help? https://github.com/facebook/react/pull/7859

[2016-11-18 10:26] gaearon commented on #6895
I'm afraid additional comments on this thread won't be helpful without examples reproducing this issue.

[2016-11-18 10:27] gaearon commented on #8338
We would definitely need a reproducing example to investigate.

[2016-11-18 10:28] arendjr commented on #8316
I guess I'll update Selectivity to also render into an out-of-DOM `<div>` then and use its `innerHTML`...

[2016-11-18 10:34] chaintng commented on #8314
A work around to make CI work,
make sure that your app contains follow dependencies all in the same version
- react-addons-test-utils
- react
- react-dom

[2016-11-18 11:13] gaearon commented on #8316
For what it's worth even if this isn't technically the case now, we are thinking about separating DOM renderer from server renderer anyway in the future.

[2016-11-18 11:19] arendjr commented on #8316
So you're saying we shouldn't rely on DOM Server to be able to share code with React DOM anyway, right?

I will close this issue then, as I agree it seems using DOM Server on the client is a dead end anyway. At least Selectivity is patched now to no longer rely on it :)

[2016-11-18 11:19] #8316 closed

[2016-11-18 12:16] gaearon commented on #8316
Yea, this is about right. Separating them is useful both for speeding up server rendering (so that it skips the unnecessary client-only code paths) and for making client rendering code thinner.

[2016-11-18 12:51] joemckie opened #8342 "Error: Cannot find module 'react/lib/ReactPerf'"
Bug report:

**What is the current behavior?**

Importing `react-addons-perf` throws the following error:

[code]

I checked, and the file doesn't exist in the `lib` directory.

**What is the expected behavior?**

It shouldn't throw an error.

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

The latest version I was using

[2016-11-18 12:54] goto-bus-stop commented on #8342
Did you update react-addons-perf to 15.4.0 as well? ReactPerf was moved from `react/lib/ReactPerf` to `react-dom/lib/ReactPerf` in 15.4.0.

[2016-11-18 12:58] joemckie commented on #8342
Weird. It's actually on an old version, but `yarn outdated` isn't showing it as needing a bump. I'll try that now!

[2016-11-18 12:59] Snipzwolf commented on #8301
![image](https://cloud.githubusercontent.com/assets/10433161/20430812/6b820dfe-ad8e-11e6-8367-796f2d6401f7.png)

It looks like the define and require are the wrong way round, possibly you don't even need the require as it can just return the result of f() in the define callback as even if you swap them around you would never get the ReactDOM object when you require it in other scripts.

[2016-11-18 13:02] gaearon commented on #8342
Please keep both version in sync, that's what's causing the issue.

[2016-11-18 13:02] #8342 closed

[2016-11-18 13:03] joemckie commented on #8342
Thanks guys - just in case anyone else comes across this issue, it's because `react-native-mock` is specifically demanding `15.1.0` right now.

I've [raised an issue](https://github.com/RealOrangeOne/react-native-mock/issues/111) over in their repo.

[2016-11-18 14:02] 0xBADCA7 commented on #6479
This issue was happening to me when running `uglify-js` with `--compress`  and/or `--mangle` params.

[2016-11-18 14:07] Khaledgarbaya commented on #8060
Hi There I can take the Animation part, if it is not taken already

[2016-11-18 14:19] jochenberger commented on #8301
Ah, I couldn't get it to work yesterday because the gist is broken. It should read `		      React.createElement('h1', {}, 'hello from react'),` instead of `React.createElement('h1', 'hello from react'),`
I can make it work by applying this to `react-dom.js`:
[code]

[2016-11-18 14:27] gaearon commented on #8301
Can you try submitting a fix?

[2016-11-18 14:33] jochenberger commented on #8301
No, because I don't want to sign the CLA.

[2016-11-18 14:44] gaearon commented on #8301
While this is unrelated to the issue, is there any particular reason you don't want to sign it? From my reading CLA basically says that you actually wrote that code, and that you give us the copyright and patent rights over your contribution, which is necessary for us to safely it include it in an open source project. Is there anything controversial about this?

[2016-11-18 14:47] gaearon commented on #8342
I'd recommend using Jest for testing React Native instead. That's what we use at FB, and we maintain it.

[2016-11-18 15:30] squon66 opened #8343 "Issue #5929 still happening on IE 10. React.cloneElement handles `undefined` props differently to React.createElement"
I know this issue has been addressed previously but it still seems to be happening on IE 10 browsers.  When I use cloneElement, all the defaultProps values come up as 'undefined' if not explicitly sent in as a prop

[2016-11-18 15:30] tomocchino opened #8344 "Turn 'strict' ESLint rule back on"
When upgrading ESLint to the latest version I had to turn off the 'strict' rule because it conflicts with

[code]
combined with `import type` Flow statements. Opening this issue to track turning 'strict' back on, either with a change to ESLint, a new custom rule for use strict, or some other means.

[2016-11-18 15:31] tomocchino commented on #8344
cc @zpao @zertosh

[2016-11-18 15:46] pixeldrew commented on #8301
Can confirm this fixes my issue.

[2016-11-18 15:51] david-mark commented on #3037
The root of this issue is fixed in this pull request:

https://github.com/facebook/react/pull/8341

Suggested workarounds are just dodging the real problem.

[2016-11-18 16:07] zertosh commented on #8344
These are legit options that can be passed to `babel-eslint` through `eslint`'s config:

[code]

Babylon will parse the `import type`, and the `Program`'s `body` will have `sourceType: 'script'`. Unfortunately, `escope` craps out because:

`ImportDeclaration should appear when the mode is ES6 and in the module context.`

But this is def a bug. That assert should ignore types. If `escope` worked, y

[2016-11-18 16:37] VanCoding commented on #1739
I think the best way would be to not change any functions we currently have. Which means not making getInitialState, componentWillMount, or renderToString behave differently.

Instead, we should add new functions to solve the problem discussed here. Just like there are functions that only get called on the client, there could be functions that only get called on the server.

I think we could add a

[2016-11-18 16:45] zpao commented on #8301
We can't easily reverse the order of require & define with the more internal one, that's the one generated as a part of browserifying. We might have to write our own umd wrapper piece instead. I'll try a few things out - need to make sure this continues working with webpack globals as well…

[2016-11-18 16:49] pixeldrew commented on #8301
Is this UMD output created via babel?

[2016-11-18 16:49] zpao commented on #8325
I don't think there's anything specific to React here and it's a general usage question. I would encourage you to determine how to make this work with any button you had in JS and then see if that works in React.

[2016-11-18 16:49] #8325 closed

[2016-11-18 16:52] zpao commented on #8336
Looks like this isn't a React issue, so closing out. Feel free to reopen if I'm wrong.

[2016-11-18 16:52] #8336 closed

[2016-11-18 16:54] zpao commented on #8301
Nope. The internal UMD there is being created by browserify. The outer one is [hand-rolled](https://github.com/facebook/react/blob/57f0cf376f7251222fbe97b639104e60d51cb962/grunt/config/browserify.js#L65-L109).

[2016-11-18 16:58] pixeldrew commented on #8301
Ouch, I see the problem...

[2016-11-18 17:05] StokeMasterJack commented on #8336
Yes. I agree. Though I never quite solved it (on the webpack side). The bottom line is that webpack was spitting out something different in dev mode then it was in prod mode. I ended up fixing the issue by adding charset=”utf-8" to my script tag:

[code]

Also, wrote a [blog post](https://medium.com/@daveford/webpack-character-encoding-5c654e5cb037#.47we7xm45) about it.

[2016-11-18 17:44] martin-svk commented on #7253
What is the current state of this issue?

[2016-11-18 19:51] brotzky commented on #6895
@viz We're using redux-form v6.2.0 and react v15.4.0 with no issues at the moment.

I would go over and try to identify the exact source of the issue. Try removing components until you narrow it down. Then I'd advise checking all the variables you're using in that component and making sure you're not passing around `undefined` anywhere.

Or as @gaearon mentioned, provide an easy to follow example

[2016-11-18 19:57] vizath commented on #140
Note that since 15.4, `ReactInjection` is not part of React anymore, but of ReactDOM

[code]

[2016-11-18 21:24] KevinNorth opened #8352 "ReactDOM: TypeError: console.debug is not a function"
I am experiencing the following bug using React 15.4.0 and React-DOM 15.4.0.

When I run my team's test suite, which uses Mocha 2.5.3, the following exception is thrown and Mocha crashes without running the tests:

[code]

Looking at the stack trace, the error is coming from `react-dom/lib/ReactDOM.js` on line 73. This is the code at and surrounding that line:

[code]

This code calls `console.deb

[2016-11-19 00:10] nhunzaker commented on #7253
I have an outstanding PR here:
https://github.com/facebook/react/pull/7359

Looks like it's now in conflict with master. I'll address those conflicts.

[2016-11-19 00:40] jarrydfillmore commented on #8352
Would also like to know the answer..

[2016-11-19 04:54] wikiwong opened #8354 "Undocumented alteration of `onClick` arguments"
After upgrading from 15.3.2 to React/ReactDOM 15.4.0 , I noticed that the `onClick` synthetic event (and possibly others) is receiving arguments differently.

In 15.3.2, the `onClick` event (without any custom arguments being passed) receives 3 arguments

0 - `Proxy`
1 - `undefined`
2 - `Event`
(observed in the console of this jsfiddle:  https://jsfiddle.net/u7b6zhfm/1/)

In 15.4.0, the `onClick`

[2016-11-19 16:19] rthor commented on #8177
Seems to have been resolved in #8273.

[2016-11-19 16:23] joh1234 commented on #8301
Update README
https://goo.gl/JBljdR

[2016-11-19 16:23] joh1234 commented on #8308
Update README
https://goo.gl/JBljdR

[2016-11-19 16:23] joh1234 commented on #8264
Update README
https://goo.gl/JBljdR

[2016-11-19 16:23] joh1234 commented on #8260
Update README
https://goo.gl/JBljdR

[2016-11-19 16:23] joh1234 commented on #8203
Update README
https://goo.gl/JBljdR

[2016-11-19 16:24] joh1234 commented on #3398
Update README
https://goo.gl/JBljdR

[2016-11-19 16:24] joh1234 commented on #2517
Update README
https://goo.gl/JBljdR

[2016-11-19 16:24] joh1234 commented on #2127
Update README
https://goo.gl/JBljdR

[2016-11-19 16:24] joh1234 commented on #140
Update README
https://goo.gl/JBljdR

[2016-11-19 16:24] joh1234 commented on #1739
Update README
https://goo.gl/JBljdR

[2016-11-19 16:24] joh1234 commented on #2533
https://goo.gl/JBljdR

[2016-11-19 16:24] joh1234 commented on #3009
Update README
https://goo.gl/JBljdR

[2016-11-19 16:30] bounty2darescue commented on #8264
Did a bunch of issues just get attacked by @joh1234 ? Probably worth removing the message or pinging @github

[2016-11-19 17:19] Primajin commented on #2127
Do *NOT* Click this Link goes to adfly

[2016-11-19 17:33] mufumbo commented on #6420
thanks a lot for the update @gaearon

we had to migrate to markojs because react isn't feasible for isomorphic, but will definitely check Fiber out when it comes out.

[2016-11-19 22:20] wlingke opened #8357 "React unable to fully removing select in mobile browsers"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Please refer to this fiddle: https://jsfiddle.net/qyc3e774/

The goal is that when the select does an "onChange" event, the select is removed. However an unexpected thing occurs in mobile (tested in latest iOS on latest mobile chrome and safari).

When you select a value, the select is replaced by a

[2016-11-19 23:04] yaycmyk commented on #8357
It works fine for me in latest iOS Safari.

[2016-11-19 23:06] wlingke commented on #8357
@yaycmyk did you select a value and then tap the button on a phone? It should bring back up the native browser's selector.

[2016-11-19 23:08] wlingke commented on #8357
@yaycmyk I ended up just figuring it out. It is because when the select is removed from the DOM, `focus` is still on it. Therefore when you tap on a button, it brings back up the menu.

Does it make sense to blur selects when they are removed from the DOM?

[2016-11-19 23:14] yaycmyk commented on #8357
@wlingke I'm not seeing that behavior. What I do see is when I tap one of the options, the select is switched with the button but the selection popover remains. I can tap back to the original option, but nothing happens. Looks more like a WebKit bug than something React should be concerned with, IMO.

[2016-11-19 23:18] wlingke commented on #8357
@yaycmyk Yea that is one manifestation of the behavior. It seems like its because the component still has focus. If you blur it in the `onChange` this removes the problem.

I am not sure if this is a webkit bug... it kind of feels like React should be cleaning this up by blurring the component if it is removing it from the dom?

[2016-11-19 23:24] yaycmyk commented on #8357
I don't believe it still has focus. See this: https://jsfiddle.net/qyc3e774/2/

It's a WebKit bug.

[2016-11-19 23:33] wlingke commented on #8357
Hmm..  look at this: https://jsfiddle.net/p96p1ng4/6/

It has focus directly after the render,

[2016-11-19 23:40] yaycmyk commented on #8357
The DOM replacement hasn't happened yet in your code. See this example: https://jsfiddle.net/p96p1ng4/7/

render() is where the VDOM is generated, there's no guarantee the replacement has actually happened yet. That's why it's important to use the React lifecycle methods to test at the appropriate times.

[2016-11-19 23:50] wlingke commented on #8357
Fair enough. Can't argue with that.

The only thing I know that solves the unexpected behavior is to "blur" the select before it unmounts.
https://jsfiddle.net/p96p1ng4/8/ blurs it before unmount and has no unexpected behaviors
https://jsfiddle.net/p96p1ng4/9/ does nothing before unmount and has unexpected behaviors

That is why I think something related to the focus of the element is causing issu

[2016-11-20 03:47] markbrocato opened #8358 "Overriding/extending ReactHostComponent.createInternalComponent"
It would be nice to be able to override or extend ReactHostComponent.createInternalComponent to expand the set of elements that can be rendered beyond html.  In extjs-reactor we are doing this by patching the createInternalComponent function so that any tag that starts with a specified prefix (the default is x-) creates an Ext JS Component: https://github.com/sencha/extjs-reactor/blob/master/packa

[2016-11-20 11:38] fckt commented on #3398
observable props have a no sense in the long run

[2016-11-20 11:44] gaearon commented on #8358
We are working on reimplementation of React (you can search for "Fiber" in issues), so this particular internal API will definitely be removed, and project using it will break.

Instead Fiber will eventually provide an official way to create custom renderers. Projects like `react-art` will use that API instead of the current one. So you could use a custom renderer then.

Is there any particular re

[2016-11-20 12:36] screendriver opened #8359 "ref callback argument is null"
**Do you want to request a *feature* or report a *bug*?**

A bug 🐛

**What is the current behavior?**

The ref callback gets called with `null` as argument instead of an instance of the component. This **only** occurs when you write the component name starting with an uppercase character (PascalCase). If you write the component starting with a lowercase character (camelCase) everything works as ex

[2016-11-20 13:01] gaearon commented on #8359
The `lowerbaseButton` example doesn't use your component. Please read the [relevant documentation](https://facebook.github.io/react/docs/jsx-in-depth.html#user-defined-components-must-be-capitalized). Your components should always start with an upper case letter if you use JSX.

The `Button` example also works correctly. From [the ref docs](https://facebook.github.io/react/docs/refs-and-the-dom.ht

[2016-11-20 13:01] #8359 closed

[2016-11-20 13:02] gaearon commented on #8359
We should warn about this by the way. You can track #7272 and #7267 for this.

[2016-11-20 15:24] kasperpeulen opened #8360 "(Breaking) Feature Request: Make JSX even more like JS"
I think it is time to make JSX even more like JS and less like HTML. Consider the following JSX:

[code]

What about writing it like this:

[code]

My main subjective reason is that it just looks more right to me. A more objective reason would be that you could introduce javascript comment syntax:

[code]

Similar things could be done for jsx attributes. Instead of:
[code]

I would like it as:

[c

[2016-11-20 15:30] markbrocato commented on #8358
Thank you for reviewing this, Dan.  Great news that there will be an official way to create custom renderers!

It would be nice to be able to extend or augment the built in html renderer rather than reimplementing rendering from scratch.  React-art requires a specific root element as the context for rendering art element.  I'd prefer to be able to render Ext JS and html components interchangeably,

[2016-11-20 15:42] kasperpeulen commented on #8360
Nevermind, should probably be in facebook/jsx.

[2016-11-20 15:42] #8360 closed

[2016-11-20 15:48] screendriver commented on #8359
Hi Dan,

thank you for the quick response. I know that my components should start with an upper case and I read the docs before I opened this issue. My example should only illustrate the issue that `ref` in my callback was null.

I believe I misunderstood something there. I know that I can't use this syntax **in** stateless components like it's written in the example in the [ref docs](https://face

[2016-11-20 15:54] kasperpeulen commented on #8360
Moved to:
https://github.com/facebook/jsx/issues/68

[2016-11-20 16:01] gaearon commented on #8359
What example are you referring to? I think ref docs actually show an example of using it **in** stateless components which is supported:

  // textInput must be declared here so the ref callback can refer to it
  let textInput = null;

  function handleClick() {
    textInput.focus();
  }

  return (
    <div>
      <input
        type="text"
        ref={(input) => { textInput = input; }} />

[2016-11-20 16:08] gaearon commented on #8358
Yes that would be a better solution in longer term I think.
These internals break every few versions so you really shouldn’t rely on them.

[2016-11-20 17:18] testerez opened #8362 "Fail to update DOM style attribute"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
style attribute is not updated correctly when we set `padding` and `paddingTop` at the same time and then re-render with only `padding`. Same issue with `border`. I suppose that it would be the same with `margin` (not tested)

Example: http://codepen.io/testerez/pen/pNRQjW?editors=0010

**What is the ex

[2016-11-20 17:31] SystemParadox commented on #1739
@VanCoding has the same idea I have been thinking about for a while. I was wondering if initialize could also be called automatically in componentDidMount on the client?

[2016-11-20 17:33] gaearon commented on #8358
Going to close as it's not actionable for us right now, and seems like you have a way forward.

[2016-11-20 17:33] #8358 closed

[2016-11-20 19:26] qagiux commented on #7253
Gonna do the first half of this in  https://goo.gl/JBljdR

[2016-11-20 19:29] STRML commented on #7253
Spam again... Seen a lot of this lately

On Nov 20, 2016 1:27 PM, "qagiux" <notifications@github.com> wrote:

[2016-11-20 19:30] jquense commented on #8125
starting at: https://github.com/reactjs/react-transition-group

[2016-11-20 19:40] taion commented on #8125
can someone with access add @jquense to the @reactjs org?

[2016-11-20 19:47] gaearon commented on #8125
I added @taion, @jquense and @beckiechoi to a new "react addons" team that has admin access to https://github.com/reactjs/react-transition-group.

[2016-11-20 20:07] Aweary commented on #7902
I believe we can close this now thanks to https://github.com/facebook/react/pull/7610

[2016-11-20 20:07] #7902 closed

[2016-11-20 20:14] Aweary commented on #8354
Thanks for the issue @wikiwong! You can read about what that those additional arguments are/where in this issue: https://github.com/facebook/react/issues/7902

Basically, an additional argument that ended up being `undefined` was being bound to the event handler, and that was fixed. You should really just ignore any argument coming after `Proxy` (which is the `SyntheticEvent`).

The way I pass add

[2016-11-20 20:14] #8354 closed

[2016-11-20 20:19] gaearon commented on #8354
Why is there even a second argument?

[2016-11-20 20:24] Aweary commented on #8354
@gaearon because we actually dispatch the event [here](https://github.com/facebook/react/blob/master/src/renderers/shared/utils/ReactErrorUtils.js#L76-L81) using a fake node and a fake event type (`react-{type}`) with our bound event handler.

So that second argument ends up being the fake event.

[2016-11-20 20:26] gaearon commented on #8354
Can we make a closure there that omits that argument? Then number of arguments should match in dev and prod.

[2016-11-20 20:27] Aweary commented on #8354
It would mean an extra function call for every event dispatch in `dev` but yeah, we can do it

[2016-11-20 20:29] gaearon commented on #8354
Shouldn't be costly as browser events don't come at enormous speeds. Wanna make a PR?

[2016-11-20 20:57] Aweary commented on #8354
PR opened at https://github.com/facebook/react/pull/8363

[2016-11-20 23:22] markbrocato commented on #8358
@gaearon Do you have an estimate of when the fiber-based reimplementation of react will be released and what the version number will be?  What's the best way for me to track your progress?

Thank you for your help.  Switching to a higher order component turned out to be a fairly simple change with little impact on my existing code.

[2016-11-20 23:24] gaearon commented on #8358
You can track the progress in #7925. I hope React 17 will use Fiber, we'll also likely provide it as opt-in in a few months.

[2016-11-21 02:29] linmic commented on #8362
This issue has been reported several times, and currently there's no perfect solution for it. The [latest discussion](https://github.com/facebook/react/issues/6348).

[2016-11-21 02:33] testerez commented on #8362
Ok, thanks for the reply.

[2016-11-21 03:30] domino14 commented on #1881
Plz add

[2016-11-21 04:27] Aweary commented on #8362
Thanks @linmic! Closing as a duplicate of https://github.com/facebook/react/issues/6348, try and direct any future discussion there 👍