[2017-05-20 21:41] joecritch opened #9728 "[Docs] Visual re-align"
Hi folks.

I'm having a shot at a visual re-align for the React docs.

**Goals**

- Create a conservative re-align, that isn't controversial; but still opens up opportunity for future expansion and features (heading towards more of a design system)
- Avoid major architectural changes, which are best handled as separate PR's in the future

**Inspiration**

- GraphQL.org
- Other gridded sites :)

**

[2017-05-20 21:43] joecritch commented on #9728
The screenshots look a little fuzzy for some reason. Here's the mockups as PDFs.

[docs-home.pdf](https://github.com/facebook/react/files/1016527/docs-home.pdf)
[docs.pdf](https://github.com/facebook/react/files/1016528/docs.pdf)

[2017-05-20 23:38] gaearon commented on #9728
cc @lacker Would you be interested in this?

[2017-05-21 04:08] jordanpapaleo commented on #9703
@gaearon I'd be happy to update the docs, tutorials, and examples here but I am not sure what the desired outcome is.  Do you want the object setState replaced with the function everywhere?

[2017-05-21 04:29] jordanpapaleo commented on #9703
Update

- [x] Tutorial.md PR#9731
- [ ] State and Lifecylces

[2017-05-21 05:16] jordanpapaleo commented on #9703
I was searching through and finding them then putting in PRs for each find.  This is getting tedious.  My last per for this will cover the rest of the docs

[2017-05-21 05:33] jordanpapaleo commented on #9703
I think I got them all. :)

[2017-05-21 09:03] aweary commented on #9703
Thanks for doing that @jordanpapaleo! It might be better for the git history if it was all done in a single PR, what do you think @gaearon?

[2017-05-21 09:21] laumair commented on #9718
@GregS2 I am not sure if passing children as  `<SomeComponent children="foo" />` is  documented or not, but this is totally equivalent to ` <SomeComponent>foo</SomeComponent>`.

[2017-05-21 09:52] EwanValentine opened #9739 "[Question] question regarding best practice"
Apologies for the none-standard git issue, but I wasn't quite sure where else to ask.

I'm working with another developer on a React project, using ES6. So I was just wondering, is there anything wrong or bad practice about using fat arrow functions hoisted, and parameters hoisted to a component class, which aren't set within the constructor? So for example...

[code]

My colleagues approach...

[

[2017-05-21 11:01] freddi301 commented on #9703
Hi @gaearon,
I can't imagine precisely the outcome but the goal here is to reveal intent.
`this.setState({ ... })` does not communicate that this method is async, and can lead to subtle bugs for devs who do not read carefully the docs.
Meanwhile `this.setState(oldState => ({ updating 'new state' }))` screams: "This method is async".
As functional programming spread in many javascripter's heart a m

[2017-05-21 11:52] alexandernanberg commented on #6472
I hade the exact same issue, the problem for me was that I included the javascript files multiple times as @johndugan pointed out. Would it be possible for React to throw a warning if it senses that it's included multiple times?

[2017-05-21 11:53] rizoom commented on #9739
The possibility to use the property initializer syntax is mentioned in the official documentation : https://facebook.github.io/react/docs/handling-events.html
I guess it is not a bad practice otherwise it would have been pointed out. There is just a warning about the fact that it is experimental syntax, so in the end it is up to you to decide to use the dedicated babel plugin and enable this featu

[2017-05-21 15:19] jordanpapaleo commented on #9703
I had no idea it would be so many when I started. Nor did I know that I would get them all done last night.  But at least they are small easy to approve prs ;)

Sent from my smallest computer

On May 21, 2017, at 2:04 AM, Brandon Dail <notifications@github.com> wrote:

Thanks for doing that @jordanpapaleo! It might be better for the git history if it was all done in a single PR, what do you think

[2017-05-21 15:23] jordanpapaleo commented on #9703
In a fiber presentation I heard that the non functional approach may be going away?  Having all examples in function format would be good in that case.  But I defer to gearon

[2017-05-21 18:19] laumair commented on #9739
@EwanValentine On a side note, you don't need to pass in `props` in constructor and when calling the base class unless you don't need the props inside the constructor.

So,
[code]
should do fine as well.

[2017-05-21 18:26] sutkh commented on #9242
I'm having the same problem, is there a workaround for this currently?

[2017-05-21 19:28] #9601 closed

[2017-05-21 19:44] cbengtson85 commented on #8513
@gaearon  @petarslavnic This may be a little off topic but I didn't want to start a new thread on this...how do I view the wasted time with the Chrome performance tools?

[2017-05-21 21:16] EwanValentine commented on #9739
Thanks folks! This is really helpful :)

[2017-05-22 03:06] chrisblossom commented on #4293
I created an input wrapper to solve this race condition. If anyone has any suggestions on how to fix any of the [known issues](https://github.com/chrisblossom/react-safe-universal-inputs#known-issues) please open a ticket/PR. https://github.com/chrisblossom/react-safe-universal-inputs

[2017-05-22 03:06] chrisblossom commented on #2585
I created an input wrapper to solve this race condition. If anyone has any suggestions on how to fix any of the [known issues](https://github.com/chrisblossom/react-safe-universal-inputs#known-issues) please open a ticket/PR. https://github.com/chrisblossom/react-safe-universal-inputs

[2017-05-22 04:45] dzuncoi opened #9743 "Android app hangs in production mode"
Hi all,

Currently, my Android app (production) hangs in specific screen, I cannot touch any button, even the hardware Back button, but it works correctly in debug mode. So can anyone spot out some possible problems? My source is quite large so I don't post the code here.

I've tried to show an alert when it hangs:
- Enter error screen -> hangs -> after timeout 5s, show an alert -> I'm still able

[2017-05-22 05:03] #9743 closed

[2017-05-22 05:33] TrejGun commented on #9630
@aweary thanks for yo answer

you basically say I have to change order of helpers
thanks, that helps

[2017-05-22 06:34] laumair commented on #9718
@gaearon @aweary Do you think this should be added as an alternative for passing in `children`? If yes, I would be happy to work on a PR.

[2017-05-22 07:00] AnderssonChristian commented on #9718
@laumair I hope you don't mind my opinion on the matter; I'm the one who answered that question on SO.

While I definitely think this is worth documenting, I believe it's important to clarify whether or not people should be encouraged to use that approach, and if yes, under what circumstances. For example, I personally cannot see any logical reason why one would ever use `<SomeComponent children="

[2017-05-22 07:28] laumair commented on #9718
@AnderssonChristian Not at all. Please feel free to submit a pull request for this. :+1:

My take on this drops down to a matter of personal preference. While most of the time, I prefer using `<Component><Foo /></Component` but there are times all I have to pass is a string as a child so I end up using the other version.

[2017-05-22 09:05] afercia commented on #858
5.4.1. Reordering and Accessibility
https://www.w3.org/TR/css-flexbox-1/#order-accessibility

[2017-05-22 09:31] OctopusGunner opened #9744 "Can react-proxy be served with a restrictive CSP policy from server without throwing error in Firefox??"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

Firefox throws error when running a react application and using a csp header with script-src set to 'self'. In my case the error looks like this:

(I set the 'self' keyword on script-src which in this error message is translated to localhost:8000)

The error message in FF links to the following r

[2017-05-22 10:02] rolele opened #9745 "ReactDOMServer.renderToStaticMarkup will trigger componentWillMount on server-side. Is it a bug? How can I avoid that?"
react@15.5.4
react-dom@15.5.4
react-router@4.1.1

calling ReactDOMServer.renderToStaticMarkup(...) on server-side will trigger componentWillMount of one of my component (but not all).
This strange behavior does not happen on some other components.

This is how I do server rendering using the recommended way from react-router: https://github.com/rolele/universal-react-redux-boilerplate/blob/master/

[2017-05-22 11:17] rolele commented on #9745
I found my mistake: Blog has the function `componentDidMount`which is not call during server rendering while BlogArticle had the function `componentWillMount`which is called.
I will have to change the hook function from WillMount to DidMount.
Cheers

[2017-05-22 11:17] #9745 closed

[2017-05-22 11:27] gaearon commented on #9744
`react-proxy` is not part of React, please file this with https://github.com/gaearon/react-proxy instead.
You are probably using it indirectly through React Hot Loader.

[2017-05-22 11:27] #9744 closed

[2017-05-22 13:39] lfirek opened #9746 "[Question] Listen all user events (SyntheticEvents)"
Hello :smile:

My question is about react synthetic events and how listen all this events in parent component.

I want track my user activity so i want handle all mouse events, wheel events etc.
It's possible to listen this event and if yes how I can do that?

Yes, I can listen window or document events but i can't localize what component make this event.

Or maybe it's possible to localize compon

[2017-05-22 16:51] pedrottimark opened #9747 "Convert elements to test objects for toMatchObject in Jest"
**Do you want to request a *feature* or report a *bug*?**

Request your guidance to add a **feature** for testing, especially with Jest and Enzyme

**What is the current behavior?**

To get the benefit of **descriptive JSX** you must pay a cost of irrelevant details in some **snapshot tests**, which cause unnecessary updates, and risk incorrect decisions.

**What is the proposed behavior?**

**Goa

[2017-05-22 20:22] phtn commented on #2239
`<div style={ Object.assign( {}, boxStyle, bigBoxStyle, {background: "navy"} ) }>`

this  should merge declared **styles** as well as specific in-line style like **background**.
`background`  in **boxStyle** will be overwritten in this order of `Object`  assignment.

[2017-05-22 20:35] arsduo commented on #9594
Ran into the same issue today. Support for this (and/or a standardized way to specify unknown props as HTML attributes as described in #7311 etc.) would be awesome.

[2017-05-22 23:08] nhunzaker commented on #9594
@arsduo I'll reference this issue in the description of my PR so that we can be sure to circle back to this issue when it merges.

[2017-05-22 23:32] arsduo commented on #9594
Thank you very much!

On May 22, 2017 18:10, "Nathan Hunzaker" <notifications@github.com> wrote:

[2017-05-23 00:05] AugustoAleGon commented on #6998
I have the same error in my code. I want to render a new component that I already imported an it is not render. [(https://github.com/alimek/react-native-tooltip-menu)] this is the component that I am trying to use.

[2017-05-23 06:20] mondwan opened #9749 "[BUG] create-react-class does not work in AMD environment"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

Unable to require such module. This bug seems similar to #8301. `React` uses without proper `require` calls .

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https:

[2017-05-23 06:50] mondwan commented on #9749
Although below solution is not tried at the exactly same environment as jsfiddle posted, just leave it as a reference.

I can fix the error by adding `require('react')` at `create-react-class.js` as following diff

[code]

[2017-05-23 08:42] elijahsmith opened #9750 "create-react-class cannot be compiled with latest Google Closure Compiler"
When trying to compile create-react-class 15.3.1 with the latest Closure Compiler, the compiler complains:
[code]
This is related to https://github.com/facebook/react/issues/7551.  The create-react-class npm package needs to be republished with the React 15.5.4 code.

This ticket is spun off of https://github.com/facebook/react/issues/7551#issuecomment-294633325.

[2017-05-23 11:04] OctopusGunner commented on #9744
Thanx @gaearon

[2017-05-23 12:50] GabrielDelepine commented on #3163
According to the [CHANGELOG](https://github.com/facebook/react/blob/master/CHANGELOG.md#1540-november-16-2016), since `15.4.0` it's suppose to be possible

[2017-05-23 13:17] jochenberger commented on #9749
#9689

[2017-05-23 13:27] mondwan commented on #9749
Ahhh, continue at #9689 then.

Close.

2017年5月23日 21:18，"jochenberger" <notifications@github.com>寫道：

#9689 <https://github.com/facebook/react/issues/9689>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/facebook/react/issues/9749#issuecomment-303394411>, or mute
the thread
<https://github.com/notifications/unsubscribe-

[2017-05-23 15:18] discountry commented on #9692
Take a look at [react docs in Chinese](https://discountry.github.io/react/).

We've been working on progress.

[2017-05-23 16:05] lorenzos commented on #9728
+1 as long as the right sidebar follows page scrolling :smile: [This technique](http://jsfiddle.net/ryanmaxwell/25QaE/) can be useful if the sidebar is quite tall (like the one currently online).

[2017-05-23 16:11] shukerullah commented on #9492
any updated on this issue?

[2017-05-23 18:14] joshclowater commented on #2461
Why the :-1:s for @DanielSundberg? His implementation is the only one I can get to work with component classes.

[2017-05-23 19:04] tconroy commented on #6544
Has anyone gotten autoplay video to work on Android with React?

Seems to work on iOS 10 with playsInline + autoPlay but cannot get it to work on Android.

[2017-05-23 19:11] flarnie commented on #9398
Regarding downgrading 'deprecation' warnings in add-on packages:
- [In the prop-types package the warning is for a syntax that will throw](https://github.com/facebook/prop-types/blob/f2cf8751c7da8edc41ce3b2b33485083532f74dd/factoryWithTypeCheckers.js#L177) so I prefer we not downgrade it.
- [react-transition-group](https://github.com/reactjs/react-transition-group) doesn't have deprecation warning

[2017-05-23 20:30] lrojas94 opened #9755 "ReactLink still using React.PropTypes."
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
React is using React.PropTypes even though it states it's going to be deprecated.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**
https://github.com

[2017-05-23 23:23] gdborton commented on #9698
Seeing another issue with React logging warning messages in our tests...
[code]

[2017-05-23 23:43] flarnie commented on #9398
It looks like we never added "moved" warnings for any of the `React.addons.<something>` utilities. Since all of these were either moved or deprecated, I'm adding messages for them in this release. Hopefully that is what you meant @gaearon

[2017-05-23 23:49] langpavel commented on #3038
Hi!

At first, I'm aware about @gaearon's `react-deep-force-update` but it seems it doesn't work on production build.

What I'm trying to solve is live retranslation of my page including re-executing router on `feature/react-intl` branch of `react-starter-kit`

What I'm worrying about is when I use @tgriesser's trick I can loose internal state of components (controlled or uncontrolled inputs...)
I

[2017-05-24 01:40] flarnie commented on #9755
Thanks for reporting this @lrojas94!

We might want to do a release of that add-on via npm. I can look into that.

[2017-05-24 07:30] #9749 closed

[2017-05-24 08:06] mondwan commented on #9689
May I know how files in `addon/create-react-class/` be generated?

Even I have edited `addons/create-react-class/create-react-class.js`, I cannot get the `.min.js` one by running `npm run build` etc.

So, how can I get such minified file? Or, which source file I should edited instead?

[2017-05-24 09:11] DouglasLivingstone commented on #2461
I've not voted on it myself, but I wouldn't use it since it changes which method all the derived classes need to override to render, so special-case knowledge about how error handling in the base class works propagates to affect all React components. The current workaround I'm using is to wrap the render method in the base class in the constructor by calling `trapRenderExceptions`, which is very h

[2017-05-24 09:13] wmertens commented on #3038
Pavel, you can use react-deep-force-update in production, just don't do it
very often. Switching languages is what I use it for too. Give it a child
reference and it will force-update the tree while retaining state, much
better than force-re-rendering the whole tree.

It's magical, exactly what changing an attribute of the context object
should do by default in React.

On Wed, May 24, 2017, 2:07 A

[2017-05-24 09:49] paaljoachim opened #9760 "It seems the legal stuff is making things difficult"
Hi

Please make the legal language easier to understand and more user friendly so that anyone can use it without having to worry.

https://discuss.reactjs.org/t/legal-department-did-not-allow-use-of-react/3309/6

[2017-05-24 10:18] gaearon commented on #9760
The issues in the repository are read by developers by you, not by lawyers.
We use them for feature requests and bug reports.

Please feel free to contact @lacker for any questions about the license, but for now https://code.facebook.com/license-faq is as much clarification as we could provide.

[2017-05-24 10:18] #9760 closed

[2017-05-24 10:20] gaearon commented on #9689
It was generated by hand as a one-off because we didn’t think we’d make any changes to it. It’s silly but it is what it is. If you send a PR against non-minified version, I can minify it by hand again.

[2017-05-24 10:26] paaljoachim commented on #9760
Thanks Dan.
I apologize for my pollution.

@lacker

Do please readjust the legal language used in react to make it easier for users to use react without worrying about legal trouble. Thanks.

[2017-05-24 10:34] gaearon commented on #9398
Any removed APIs would throw too so I don’t think this makes it different. Additionally most occurrences of this warning are false positives caused by mismatching version of React. I don’t think I’ve ever seen code relying on that pattern in practice. So I’d prefer we make it quieter.

Hmm, I'm sorry I was unclear. This is not what I meant.
When I was talking about deprecating `TransitionGroup` I

[2017-05-24 10:35] mondwan commented on #9689
Pull request sent. I have tried this one in my requirejs amd environment. I
haven't found any problems. Please check.

2017年5月24日 18:22，"Dan Abramov" <notifications@github.com>寫道：

[2017-05-24 10:35] jiyinyiyong commented on #9692
There was a Chinese translation before on http://reactjs.cn/ , before React updated and the docs outdated. After that it is no longer maintained.

Related discussion here http://react-china.org/t/react-js/398/ People need it badly!

![image](https://cloud.githubusercontent.com/assets/449224/26399424/7536ac6a-40af-11e7-9be2-d4df87428aee.png)

[2017-05-24 10:36] gaearon commented on #9689
Is this only a problem for `create-react-class`, or for every addon?

[2017-05-24 10:37] gaearon commented on #9398
We should also ideally get some version of https://github.com/facebook/react/pull/9761 in. As it stands, `create-react-class` is completely botched in AMD environments.

[2017-05-24 10:47] mondwan commented on #9689
During the progress of upgrading from 15.4.4 to 15.5.4, this is the only
problematic module I have encountered.

2017年5月24日 18:37，"Dan Abramov" <notifications@github.com>寫道：

[2017-05-24 10:49] atul88 opened #9762 "facing issue in load local images in react js"
I have posted issue over here please check  - https://stackoverflow.com/questions/44154939/load-local-images-in-react-js

[2017-05-24 10:51] hyy1115 commented on #9692
Do you need such a Chinese document?：[https://discountry.github.io/react/](https://discountry.github.io/react/)

[2017-05-24 12:50] gaearon commented on #9762
I replied in https://stackoverflow.com/a/44158919/458193.
Please read the user guide 😉 .

[2017-05-24 12:50] #9762 closed

[2017-05-24 13:14] flarnie commented on #9398
- "Any removed APIs would throw too so I don’t think this makes it different." That's true. I had thought for some reason that it would throw in 15.5.* but that doesn't make sense. So we:
 - downgrade [the warning in `prop-types`](https://github.com/facebook/prop-types/blob/f2cf8751c7da8edc41ce3b2b33485083532f74dd/factoryWithTypeCheckers.js#L177)
 - add deprecation warnings in `react-addons-transi

[2017-05-24 13:15] bvaughn opened #9763 "Improve React and ReactNative sync scripts"
Follow-up work from PR #9626.

### Sync React to www changes

- [ ] The current process of syncing React to Facebook www involves running a script from within the www repo. It would be nice to relocate that script to the React repo, since it's coupled with the React build process and shims anyway. At this point we could better share code (eg the auto-generated change log) between the React Native

[2017-05-24 14:55] bvaughn commented on #9763
cc @gaearon for thoughts about this approach regarding www
cc @yungsters for thoughts regarding fbsource

[2017-05-24 14:59] yungsters commented on #9763
This sounds like a great idea. Feel free to replace the `js1` command.

[2017-05-24 16:01] flarnie opened #9765 "Set 'React' as dependency in AMD builds of addons"
Right now 'React' is undefined in some of our addons which may depend on it:
- [create-class](https://github.com/facebook/react/blob/15-stable/addons/create-react-class/create-react-class.js#L764) (documented in https://github.com/facebook/react/issues/9689)
 - [create-fragment](https://github.com/facebook/react/blob/15-stable/addons/react-addons-create-fragment/react-addons-create-fragment.js#L11

[2017-05-24 17:56] infacq commented on #2753
fastClick cannot get along with `onClick` event. I have to switch to `react-tap-event-plugin`

[2017-05-24 17:59] flarnie commented on #6169
I think we will be able to close this when we release 15.6. 🎈

[2017-05-24 18:52] sarbull opened #9767 "Example from documentation not working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Example from the documentation not working on MacOS in Chrome

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Go to https://facebook.github.io/react/docs/thinking-in-react.html#step-2-build-a-static-version-in-react, try to fil

[2017-05-24 19:31] klaasman commented on #9767
It's a tutorial with step 2 being a static version.
Scroll further to step 5 to see an actual working example:
https://facebook.github.io/react/docs/thinking-in-react.html#step-5-add-inverse-data-flow

[2017-05-24 20:09] bkilrain opened #9769 "Paste Event Handler not invoked when focus is applied to element programmatically"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Clicking on an element to set focus allows the onPaste handler to be invoked as expected. When you apply focus to an element using the [HTMLElement.focus](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/focus) method, the onPaste handler is not invoked.

**If the current behavior is a bug,

[2017-05-24 21:49] artyomtrityak commented on #5465
Will isMounted function be removed in 16.0 ?

[2017-05-24 23:34] gaearon commented on #9767
Yep, this seems expected. If you have ideas about changing wording to be clearer please send a pull request and we will take a look!

[2017-05-24 23:34] #9767 closed

[2017-05-25 04:32] tswaters commented on #1118
This will also raise this warning... when a checkboxes (or any input really) does not control its own checked/value attribute.... you might have any arbitrary element that controls it.

[code]

While I can see this being valuable for newbies - these edge cases just add noise to the logs in other cases.... that said, it would be neigh impossible to come up with a propType for this that was accurate

[2017-05-25 07:23] syranide commented on #1118
@tswaters In your case the checkbox should be disabled or readOnly.

[2017-05-25 08:28] fgseneres opened #9773 "How to make Date Scheduler by week with Previous and Next button in html table"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affected by t

[2017-05-25 08:30] #9773 closed

[2017-05-25 08:33] fgseneres opened #9774 "[Question] How to make Table Date Scheduler with Previous and Next Button in React"
![screen shot 2017-05-25 at 4 33 50 pm](https://cloud.githubusercontent.com/assets/27617963/26442664/0b7fc356-4168-11e7-8a1a-adf54da88893.png)

[2017-05-25 09:42] VALIKCOOL commented on #9698
Having the same issue. My test log is full of this warnings

[2017-05-25 15:11] gaearon commented on #9698
It is hard to fix this without a reproducing project.

[2017-05-25 20:21] bkilrain commented on #6231
Hey all - I'm running into the same problem. @fowerling5555 , did you come up with a workaround for this or did you just use contentEditable?

[2017-05-25 21:37] mbrookes commented on #7211
The fix has now been backported into 15.6: https://github.com/facebook/react/pull/8575#issuecomment-302889646

[2017-05-25 22:01] gdborton commented on #9698
For sure... we're seeing it happen in only ~1% of test runs on 4,400+ test files with no apparent pattern. I'll try to recreate as best I can, but I'm not sure I'll be able to come up with a consistent failure.

[2017-05-25 22:04] VALIKCOOL commented on #9698
I will create reproducing project tomorrow. In my case it giving this error for every test I have in my project

[2017-05-25 22:09] gaearon commented on #9698
This doesn't look good:

[code]

Having two Reacts causes all sorts of issues. Can you please ensure you only have one copy, and try again?

[2017-05-25 23:49] ljharb commented on #9698
Thanks - we'll dedupe those properly and see if it helps :-)

[2017-05-26 00:41] eightfeet commented on #9774
I think you need momentjs ，https://momentjs.com

[2017-05-26 01:12] fgseneres commented on #9774
Thank you @eightfeet I will try

[2017-05-26 01:38] aweary commented on #9774
Hey @fgseneres! We try to use this issue tracker for bug reports and feature requests only. If you have a usage or support question, we recommend checking out one of the great community-driven platforms like [Reactiflux](https://www.reactiflux.com/), [discuss.reactjs.org](https://discuss.reactjs.org/), or StackOverflow.

[2017-05-26 01:38] #9774 closed

[2017-05-26 07:58] gsklee opened #9782 ""Orphaned" doc page"
https://facebook.github.io/react/docs/perf.html

Just found out this page which is not being linked to from anywhere else of the online docs as far as I can tell. Is this an old page needs to be removed or a new page that somehow weren't added properly?

[2017-05-26 08:21] likerRr opened #9783 "Synthetic eventPhase doesn't reflect the synthetic phase"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Both `onClick` and `onClickCapture` called on bubbling phase.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**

Demo shows that event phase in `onCli

[2017-05-26 09:37] gaearon commented on #9782
We intentionally hid it as this addon won't make it into React 16. Might've been wise to do it later maybe.

[2017-05-26 14:12] xaviervia commented on #9103
Is it reasonable to build renderers using the ReactFiberReconciler from alpha.3? It’s fine if it’s unstable, just wondering if there is a final decision on whether the reconciler will be supported as a public API at some point.

[2017-05-26 14:14] gaearon commented on #9103
It will be supported as public API, we just haven't decided how to expose it. It's okay to use an old exposed version in the meantime.

[2017-05-26 14:31] FateRiddle opened #9787 "Two things I don't like about React."
**Do you want to request a *feature* or report a *bug*?**
feature

1. css. I love react, but can't help notice vue components does this one thing better. writing css the way css looks, same syntax, and more importantly having access to all css properties. It looks elegant and simple,
just
[code]
 and you create module css. Why can't react have such feature? Every solution I knows has invented its

[2017-05-26 14:47] romulof commented on #5719
I'm experiencing this issue with React 15.5.4 while using React-Modal.

[2017-05-26 14:49] gaearon commented on #5719
If you're experiencing an issue please create an example reproducing it. Then we can diagnose it. Thanks!

[2017-05-26 14:51] gaearon commented on #9787
I'm not sure what you mean. React works fine with regular CSS. Write CSS in a file, and it will work in your component. Are you having any issues with this?

[2017-05-26 15:42] romulof commented on #5719
Sorry, I forgot to attach the example link.

But forget it, the bug was caused by `async-reactor` incorrect error handling putting React in a erroneous state.

[2017-05-26 15:51] josalmi opened #9789 "Chrome scroll position not preserved"
**Do you want to request a *feature* or report a *bug*?**

Bug possibly in React or Google Chrome

**What is the current behavior?**

Scroll position is not preserved when children of an element list change order. Bug seems to apply only when React keys of the child elements are unchanged.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of

[2017-05-26 15:55] FateRiddle commented on #9787
Yes, but facebook sells hard the 'modular css' concept and is somewhat against (or at least think it is not best practice) writing css in one file. That's why we have so many solutions for css in js. My point is none of them looks as natural as what vue does.

[2017-05-26 16:00] gaearon commented on #9787
What “modular CSS” concept are you referring to? Facebook makes no references to CSS in the React docs.

If you mean [Create React App](https://github.com/facebookincubator/create-react-app), we allow importing CSS files from JS there, but it’s not a “CSS in JS” solution. It’s just a way to split a single CSS files into many files associated with components. However, those files are pure CSS: ther

[2017-05-26 16:08] FateRiddle commented on #9787
`<div style={{marginTop:10}}>`
Is this not recommended any more?
And correct me if wrong, if you write css for each component, you seem to have to:
[code]

[2017-05-26 16:15] TrySound commented on #9787
css-modules is just an option you import regular css
[code]
There's [styled-jsx](https://github.com/zeit/styled-jsx) if you like to write css in markup

Inline styles are used in the same way as always for dynamic.

[2017-05-26 16:19] gaearon commented on #9787
@FateRiddle

It was never “recommended”. It’s just a way to add dynamic styles that are calculated from JavaScript (e.g. if a style depends on a prop you can’t know for sure). Some people use it in more places (or even instead of class names) but it’s entirely subjective. Most React users just write `<div className='MyDiv' />` and then style `.MyDiv` in CSS.

No, this has nothing to do with React

[2017-05-26 16:20] bjrmatos commented on #9787
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md#protips

[2017-05-26 16:24] gaearon commented on #9787
I hope the above discussion helps! In general I recommend sticking to examples in official documentation (https://facebook.github.io/react/) and then using Create React App (https://github.com/facebookincubator/create-react-app) which we curate. People use React in different ways so we can’t really say who’s doing what and why. React itself is pretty flexible so indeed you can use normal CSS (whic

[2017-05-26 16:24] #9787 closed

[2017-05-26 16:27] gaearon commented on #9789
How did you isolate this to be a bug in React? If you do the same manipulations with just DOM methods, do you not have the same issue?

[2017-05-26 16:38] syranide commented on #9789
I can't reproduce this on Windows.

[2017-05-26 16:41] aweary commented on #9789
I'm unable to reproduce this on OSX 10.12.2 (16C67) running Chrome 58.0.3029.110 (64-bit)

[2017-05-26 17:44] josalmi commented on #9789
Sorry! Seems to be issue with Chrome as I was able to reproduce the bug using dom manipulations manually. For those who are interested: https://jsfiddle.net/6hbhgxjt/

![GIF](https://cloud.githubusercontent.com/assets/5629299/26506024/b50ae874-4253-11e7-9c27-2e5bf750d252.gif)

[2017-05-26 17:44] #9789 closed

[2017-05-26 18:45] dounan opened #9791 "React.Children.isValidChildren similar to React.isValidElement"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
No `isValidChildren` method available

**What is the expected behavior?**
Returns true if passed in the 'opaque' children object

[2017-05-27 16:42] flarnie commented on #9782
I don't know if we have a clear precedent about where to put docs for deprecated or moved features. How about this -
1. While there are warnings about a feature in the current version of React, add a note to the docs but leave them accessible in the main navigation.
2. Once they are fully moved/removed in the current released version of React, we "orphan" the doc pages, eventually moving them to g

[2017-05-27 17:05] gaearon commented on #9782
Yea. At this point I'm not sure if it's worth bringing them back but I guess we can. They're still searchable from Google.

[2017-05-27 18:54] sukeshthakare opened #9794 "Conditional Rendering not working in React Native"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affected by t

[2017-05-27 19:16] gaearon commented on #9794
This does not include any content relevant to the problem. Please include a code sample and a description of what you expect, and what actually happens.

[2017-05-27 19:16] #9794 closed

[2017-05-27 19:56] c0debreaker commented on #554
I encountered this issue today on my Windows phone. It does not call the method I specified in onChange. When is the fix going to be applied?

[2017-05-28 00:01] rw3iss commented on #2787
Seems I was able to get around the isMounted/setState inconsistencies by just declaring a private variable 'isMounted' outside of the class, and setting it from componentWillMount() and componentWillUnmount(), ie:

[code]

Seems to work as intended. If anyone knows why this might not be ideal, I'm all ears.

[2017-05-28 01:08] gaearon commented on #2787
This discussion is a little old but I think we have a reasonable conclusion here.

**If you can, we recommend that you use APIs that provide cancellation.**

For example, [axios lets you create a `CancelToken` for all requests and then `cancel()` them](https://github.com/mzabriskie/axios#cancellation) when the component unmounts:

[code]

I don’t agree cancellation is necessarily tedious—if it is,

[2017-05-28 01:08] #2787 closed

[2017-05-28 01:16] gaearon commented on #2787
Regarding the case in https://github.com/facebook/react/issues/2787#issuecomment-183426861, it seems like reordering `setState` call and `this.props.onKeyPressed` would solve the issue.

[2017-05-28 10:03] akoserwal commented on #8060
Hi @gaearon: is there anything remaining, which I can pick up?

[2017-05-28 11:31] kidkkr commented on #9783
I have tested your demo,
os: OS X 10.12.5
at Safari 10.1.1(12603.2.4)
at Chrome 58.0.3029.110 (64-bit)
at Firefox 53.0.3 (64-bit)
also have same result.

[2017-05-28 15:16] aweary commented on #9769
Hey @bkilrain! Thanks for the report. This appears to be how Chrome behaves, though I'm not sure if it's a Chrome bug or not. Here's a [JSFiddle reproducing the issue without React](https://jsfiddle.net/9jkr9o3v/), which shows that it's not an issue with React itself.

I was able to reproduce this behavior in Chrome 58.0.3029.110 and Safari 10.0.2, but it works fine (with or without React) in Fire

[2017-05-28 15:19] aweary commented on #9769
Since it's not clear whether this is _expected_ based on any spec, and the behavior is inconsistent between major browsers, I don't think this is something that can or will be addressed in React itself.

I recommend maybe [referring to the Chrome bug tracker](http://dev.chromium.org/for-testers/bug-reporting-guidelines), where there may already be an issue for this (couldn't find one though) or yo

[2017-05-28 15:19] #9769 closed

[2017-05-28 15:20] aweary commented on #9791
What types of invalid children are you looking to test for? Have you tried using `React.Children.Only`?

[2017-05-28 17:04] syranide commented on #9791
@aweary I think he wants to validate whether the value is a child or not. But there is no such thing. Anything is a valid child/children, but only certain values can be rendered (e.g. by ReactDOM).

@dounan What do you want this for?

[2017-05-28 17:38] marcogreselin opened #9799 "Different behaviour on different devices"
This is my first react app I must admit, however: the app works perfectly fine on chrome but when I access it from safari or safari mobile it's a bit lazy.

There is a function (link [here](https://github.com/marcogreselin/portfolio/blob/master/src/components/LongWork.js#L6)) that returns an array of content rendered in that same component based on props from the father's state and it should get c

[2017-05-28 18:14] dounan commented on #9791
Yep. Sorry I should I have been more clear in the initial issue.

Agreed, but React wants us to treat the `children` prop as a blackbox, and not assume any data structures. From the React doc: 'React.Children provides utilities for dealing with the this.props.children opaque data structure.'

I'm writing a library that provides some validation logic on props / state, but would like to skip the val

[2017-05-28 18:21] borm opened #9800 "componentWillReceiveProps bug?"
Subj, [jsbin example](http://jsbin.com/xodokayuvi/1/edit?js,console)

[code]

[2017-05-28 18:39] #9799 closed

[2017-05-28 19:27] syranide commented on #9791
`children` is not actually an opaque structure today. It should be treated as such so that you don't try to parse it but instead use the `React.Children` helpers. I'm speculating here, an opaque children structure may be introduced in the future, however I assume even then it's just that `children` MAY be an opaque structure but all values will still be valid children. The opaque children structur

[2017-05-28 21:07] goto-bus-stop commented on #9800
`.push` mutates the array. React doesn't automatically clone props, so `this.props.data` and `props.data` will refer to the same array inside the `componentWillReceiveProps` method.

[code]

To make it work like you expect, make sure you create a new array:

[code]

[2017-05-28 21:29] borm commented on #9800
Oh, thank, i will try it now

[2017-05-28 21:32] borm commented on #9800
You very help me, i am noob, thank you so match)

[2017-05-28 21:32] #9800 closed

[2017-05-28 23:56] dounan commented on #9791
Is that true? I think objects are invalid children (React 15.5.4)
![image](https://cloud.githubusercontent.com/assets/1095431/26532972/de599fa0-43c4-11e7-8455-7a17d7e1c407.png)

Right, currently 'children' could be any arbitrary data structure or primitive. However, as devs we're not supposed to care, and we need to treat it as a black box value. I think the suggested name of `isValidChildren` mig

[2017-05-29 01:01] idibidiart opened #9801 "Non-Sensical Code in Official React Blog post: How to submit a PR for the official React blog?"
Hey guys,

A while back I came across this post on the official React blog that contained a code example that made no sense and did not implement the intent expressed in the blog post, which is to cancel a Promise in ComponentWillMount so setState is only invoked while component is mounted. I ignored it back then, but I just remembered again after I saw a tweet today about the same topic from @gae

[2017-05-29 04:00] idibidiart commented on #2787
@gaearon

Can you contextualize this part of your comment for me, please?

"Your application is using network less efficiently"

Cancelling a Promisified HTTP request which ultimately calls xhr.abort simply unregisters the callback on the client side. It does not close the socket in the browser since many requests or tabs could be using it at once (AFAIK sockets are expensive so they are likely to

[2017-05-29 07:24] syranide commented on #9791
Yeah, but partly because they used to be treated as `Maps`, which was a bad idea so they deprecated it. It's not unthinkable that objects will be tostringed in the future or something similar. It's also important to note that objects are still valid children and can be used with components that handle children manually. So depending on the target of children, any value can be a valid child. Just l

[2017-05-29 09:17] phaptq opened #9802 "array.map() has not render in v15.5.4"
My code:

![screenshot_3](https://cloud.githubusercontent.com/assets/19235110/26543857/bf6fb2c6-4489-11e7-88af-2c4fb88ae4e3.png)

and screen + console
![screenshot_4](https://cloud.githubusercontent.com/assets/19235110/26544000/56f80cd8-448a-11e7-8cde-e7ac3259ff95.png)

show for me that problem. Please.
Thanks!

[2017-05-29 09:25] ematipico commented on #9802
You have to place a return inside your `map` function

[2017-05-29 09:27] phaptq commented on #9802
Thanks @ematipico

[2017-05-29 10:04] SimonCheung1989 opened #9803 "React.Children.map(children, (child, index) => but got child.type.name is undefined on IE browser"
as title, i want to get child element's tag name,

[code]
**Success in Chrome browser**

![image](https://cloud.githubusercontent.com/assets/12840387/26545546/91d55f64-4498-11e7-8dfd-ebd4f383b0c0.png)

**Failed in IE browser**

![image](https://cloud.githubusercontent.com/assets/12840387/26545680/1c07cd48-4499-11e7-9a5e-ffe19013e6fa.png)

[2017-05-29 10:04] SimonCheung1989 commented on #9803
**Success in Chrome browser**
![image](https://cloud.githubusercontent.com/assets/12840387/26545718/4bf94ce8-4499-11e7-8aaa-b0ab1242fa58.png)

[2017-05-29 10:05] SimonCheung1989 commented on #9803
**Failed in IE browser**
![image](https://cloud.githubusercontent.com/assets/12840387/26545730/5f7a5794-4499-11e7-8ca5-67d6bb37e118.png)

[2017-05-29 10:07] gaearon commented on #2787
That's fair, I didn't know `abort()` doesn't close the socket! Thanks for correcting.

[2017-05-29 10:08] gaearon commented on #9802
This is what the warning in the console says too. :wink:
I recommend reading those warnings as they often point out mistakes.

[2017-05-29 10:08] #9802 closed

[2017-05-29 10:10] barravi opened #9804 "React won't work behind proxy with basic authentication"
Hello

I have a react application running in our local intranet.
All our apps run behind a web proxy with a Basic Authentication, user/password checked against our AD server.

When accessing my react app directly, or via unauthenticated proxy, everything works fine.

When I access the app with the proxy authentication enabled, I manage to fetch the very first page, but every other request performe

[2017-05-29 10:11] gaearon commented on #9801
All posts are in the docs folder, you can send PRs against them. It would help if you clarified which part of the code doesn't make sense to you.

[2017-05-29 10:13] gaearon commented on #9804
This doesn't sound like a React issue (React isn't concerned with network requests), and more like a question about single page apps. I encourage you to ask if on StackOverflow since we use the issue tracker for bugs and features in React, and try to keep it focused.

[2017-05-29 10:13] #9804 closed

[2017-05-29 10:50] jonrimmer opened #9805 "React ignores CSS grid properties in style attribute"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Using [CSS grid properties](https://developer.mozilla.org/en-US/docs/Web/CSS/grid) in an element's style attribute does not work. React ignores them.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or si

[2017-05-29 11:51] nhunzaker commented on #9803
Hey @SimonCheung1989 It's possible that this is failing because `this.type` references the constructor function for the component. `function.name` isn't supported in IE, only Edge+:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name

So, taking this example:

https://jsfiddle.net/84v837e9/

<img width="474" alt="screen shot 2017-05-29 at 7 47 23 am" src

[2017-05-29 12:13] gaearon commented on #9805
This was fixed in https://github.com/facebook/react/pull/9185 and will be a part of 15.6.

[2017-05-29 12:13] #9805 closed

[2017-05-29 12:47] Nopzen commented on #9594
Ran into this issue aswell, would be amazing to have this!

[2017-05-29 14:17] aweary commented on #9791
So the question here isn't really how to verify valid children, but how to validate that a value can be returned from `render` with react-dom. For example, you can pass a function as a child to a component that uses it as a render callback, but you can't return a function from `render`.

I think it's reasonable to defer this validation to React since it can provide much better error messages in mo

[2017-05-29 14:23] aweary commented on #9803
Sounds like that's the problem. If you control the components that are being rendered as children you can get around this by using a static property like `displayName` instead of relying on the environment to provide the name for you.

[code]

Then you can check for `child.type.displayName` instead!

Since this is just an aspect of the environment that React can't really control, I'm going to clos

[2017-05-29 14:23] #9803 closed

[2017-05-29 14:39] NE-SmallTown opened #9807 "[Fiber]ref(instance) cause error"
**Do you want to request a *feature* or report a *bug*?**
I am not sure,maybe a bug.

**What is the current behavior?**
[code]

And when I debugger,I find below:

![Imgur](http://i.imgur.com/VMCfXAb.jpg)

![Imgur](http://i.imgur.com/QyT4Hsx.jpg)

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

I use react-16.0.0-alpha.12

[2017-05-29 14:50] aweary commented on #9807
@NE-SmallTown can you please provide an example reproducing your issue? It's difficult to debug without knowing what the source code is 😃 You can use [this JSFiddle](https://jsfiddle.net/wg43ch12/) which is running the latest alpha release.

[2017-05-29 14:57] cassln opened #9808 "Problem with unstable_renderSubtreeIntoContainer and refs"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
I use the usual technique of portals with unstable_renderSubtreeIntoContainer. Also I need to control portal children with `refs` (using legacy syntax I know).

The problem is `unstable_renderSubtreeIntoContainer` is async and can be called after `componentDidUpdate`. When refs are used in `c

[2017-05-29 14:59] NE-SmallTown commented on #9807
I will try,but that's a little tough,give a some times,thanks.

[2017-05-29 15:03] gaearon commented on #9807
I've seen this happen when you have duplicate `react` package. For example if you symlink to React build folder so you pull in both a stable and an unstable version by mistake. Delete your local `react` in `node_modules` and try again, assuming you are building from master. Also run `npm ls react` to check for duplicates.

[2017-05-29 15:12] NE-SmallTown commented on #9807
@gaearon Thanks.

But I am a little confused.You say "delete your local react in node_modules and try again",but if I delete,I think my project won't work.If I am wrong,please let me know.

And the result of `npm ls react` is

[code]

[2017-05-29 15:19] aweary commented on #9747
Thanks for the proposal @pedrottimark! The test renderer recently got a new API, `toTree`, which provides an easily traversable tree structure describing the rendered elements. See https://github.com/facebook/react/pull/8931

Could this be implemented in user-land using this API? Looking at your draft it seems like it might be pretty straightforward.

[2017-05-29 15:30] gaearon commented on #9807
If you install it back, what does npm ls react say?

[2017-05-29 15:32] aweary commented on #9801
I can clarify what problems I think @idibidiart is pointing out:

* `makeCancelable` uses `const` so it's not hoisted, so it throws an error since its used at the top of the file.
* The example uses a promise that doesn't resolve, so `cancelablePromise.promise.then` is never called. If you do use resolve then you get some cancellation behavior where the `then` chained on the wrapped promise isn't

[2017-05-29 15:34] gaearon commented on #9801
Happy to take a PR changing this to a working approach. (I think this was just copy pasted from comments and I don't know if the person who merged it have tested it.)

[2017-05-29 15:40] c0debreaker commented on #3096
Glad I saw this thread. My app is on React 15.5.4. I'm encountering it too on my Windows phone. User-agent is `Mozilla/5.0 (Windows Phone 8.1;ARM;Trident/7.0;Touch;rv:11.0; IEMobile/11.0;NOKIA;Lumia 920) like Gecko`

[2017-05-29 15:52] aweary commented on #9801
It's worth noting that even with bluebird, cancellation does not mean that the original Promise callback does not execute. If you have a `setTimeout()` or other code that produces side-effects cancellation will not prevent that.

It will only control whether `then` is called. We could continue using the same example if we moved the `setState` into the `then` callback, instead of doing it in the Pr

[2017-05-29 17:01] ahlusar1989 commented on #9746
@lfirek If you are looking for an excellent resource and source for understanding how to implement Synthetic Events, here are some potential resources:

- https://github.com/oliviertassinari/react-event-listener

- https://facebook.github.io/react/docs/events.html

A perhaps archaic, and trivial example for handling touch events using ES6, would be as follows: https://codesandbox.io/s/2rVrZkRj

[2017-05-29 17:12] benwiley4000 opened #9809 "touchstart preventDefault() does not prevent click event."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Calling `e.preventDefault()` on a synthetic `onTouchStart` event fails to prevent the `click` event. I also tried `e.nativeEvent.preventDefault()`, but this didn't make any difference.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the probl

[2017-05-29 17:34] idibidiart commented on #9801
@aweary @gaearon

The hoisting aside (I had just copied/pasted the code fron the blog post while on the plane yesterday without paying any attention), the other point @aweary stated are the obvious things that do not make sense relative to how ES6 Promise spec.

The very premise that you can cancel an ES6 promise is invalid relative to the ES6 Promise spec and not possible without some AST manipul

[2017-05-29 17:36] idibidiart commented on #9801
I fixed the comment to say "Cancel the .then" :)

[2017-05-29 17:40] idibidiart commented on #9801
@gaearon please make sure when you do take a PR that the language is informative and not misleading. There is nothing like "cancel the promise" It just does not exist in ES land.

[2017-05-29 17:44] idibidiart commented on #9801
Also, for the purpose of that blog post, I believe the setState should be in the cancellable .then not in the originalPromise which I assume is some XHR call or other async call that returns a promise. This way, the blog post would actually make sense in that it would demonstrate how to avoid setting state when a promisified xhr or other promisified async call is bound to succeed but the component

[2017-05-29 17:49] gaearon commented on #9801
@idibidiart

Thanks for explaining. I am well aware that promises are not really cancelable and that the language is somewhat misleading. There is no need to repeat this in every comment, we agree with your point 😉 .

If you feel very strongly about it you are welcome to submit a PR that does a better job at explaining this snippet (or even replace this snippet with another snippet that would make

[2017-05-29 18:00] idibidiart commented on #9801
It's a huge pain point in ES spec discussions that we still have not arrived at consensus for cancellable promise. It is a huge issue with Promise spec, so I can scream it from the roof top because it is that painful. Cancellable Promise would simplify so much concurrent code, and make things fun again...

Anyway, reason it came up besides your tweet reminding me of it is I encountered it with the

[2017-05-29 20:04] aweary commented on #9801
Feel free to submit a PR, it's all yours! We can close this once the change has landed 👍

[2017-05-29 20:16] EnoahNetzach commented on #9809
Just for completeness, it works as expected on Firefox 53.0.2 on Android 6.0.1, while on chromium based browsers I still get the issue.

[2017-05-29 20:59] aweary commented on #9207
@gaearon it looks like the last release for `react-addons-test-utils` was 15.5.1, making it out of sync with the other React packages. Is that intentional?

[2017-05-29 21:39] DFurnes commented on #9682
My understanding is that the diff algorithm and reconciliation are two different things:

The diff algorithm figures out which nodes in the tree have changed. Then reconciliation only occurs for the parts of the tree that we know have changed from the diff, and is the process React uses to update the "real" DOM elements for the component with the fewest amount of mutations.

[2017-05-29 22:41] benwiley4000 commented on #9809
@EnoahNetzach I became curious after your comment so I tested again...

What I'm finding that is peculiar now is that in Chrome for Mac (58.0.3029.110) emulating touch, the second example solves the issue... but in Firefox for Mac (53.0.3) emulating touch, neither example works as desired!

For the record, the [Touch Events spec](https://w3c.github.io/touch-events/#h-note5) is clear about what *sh

[2017-05-29 22:50] gaearon commented on #9207
All addons were out of sync (each one was released a few times independently with fixes). It’s a coincidence that most lined up. We don’t plan to keep releasing them so yes, latest versions are likely going to stay latest.

[2017-05-30 01:40] NE-SmallTown commented on #9807
@gaearon

After I delete react and react-dom,the `npm ls react` says:

[code]

And after re-install:

[code]

[2017-05-30 07:27] #9682 closed

[2017-05-30 07:36] EnoahNetzach commented on #9809
Adding to the list, in safari on iOS 10.3 (simulated) works as expected..

[2017-05-30 10:28] LikeYakult opened #9810 "Returns the undefined question under this.props.form.getFieldsValue ()"
### 1. Version：
antd , 2.10.2
### 2. Environment：
Chrome 58 , window 10
### 3.What did you do?
Use this.props.form.getFieldsValue () to take the value in the form
### 4.The code is as follows:
[code]
### 5.The result you expect is:
Use this.props.form.getFieldsValue () to take the value in the form
### 6.The actual result is:
![qq 20170530182002](https://cloud.githubusercontent.com/assets/22496926

[2017-05-30 11:03] nhunzaker commented on #9809
Hmm. Bummer. Thanks everyone for digging into this. We should do the following:

1. Produce a test case that does not use React.
2. Produce a test case for our [DOM fixture manual test suite](https://github.com/facebook/react/tree/master/fixtures/dom)

Additionally, I have a PR out that attaches touch listeners local to an element. I am curious if this might have an unexpected side-effect of fixin

[2017-05-30 11:38] gaearon commented on #9807
Eh, that’s annoying. npm doesn't print ls if there are unsatisfied peer dependencies 😞

Basically what I’m saying is you have two Reacts somewhere. I’m pretty sure about it. I suggest you to check your Sources pane in browser console looking for React—you should see more than two different directories with it. Delete the extra one and it’ll be good.

If you’re sure it’s a React bug please provide

[2017-05-30 11:38] #9807 closed

[2017-05-30 11:43] benwiley4000 commented on #9809
@nhunzaker: thanks! Based on the findings so far I suspect that PR might solve the issue (except for Firefox for Mac [not mobile] where it appears to persist regardless).. Would there be an easy way to test it with my code?

[2017-05-30 11:49] nhunzaker commented on #9809
I have a custom build up for that branch, you could pull in React and ReactDOM from:

**React:**
https://nh-dom-fixtures-scroll.surge.sh/react.development.js

**ReactDOM:**
https://nh-dom-fixtures-scroll.surge.sh/react-dom.development.js

I've forked and updated your gist with those scripts here:
http://jsfiddle.net/69z2wepo/79803/

Though I won't be able to dig into testing it myself until later

[2017-05-30 11:56] benwiley4000 commented on #9809
@nhunzaker thank you.

I tested just now (using Chrome for Android and Chrome with emulated touch for Mac). Unfortunately the behavior seems to be the same.

[2017-05-30 12:36] maxviewup commented on #226
A good way to animate a removal is delaying it. for instance, when you call the delete function, it updates the state, saying the element x will be removed. then, it sets a timeout or make a AJAX request. Meanwhile, the component will recive the signal and will animate itself.

Another way is never remove the element. it will be always there, but the visible state will be changed. Material-UI uses

[2017-05-30 12:45] ummahusla commented on #9810
I assume you copy and pasted incorrectly `lass Demo extends Component{`. Moreover, I guess this issue related more to the `react-form`?

[2017-05-30 13:23] renet commented on #2568
Sorry for the late reply, hope this is accepted here.

@aug-riedinger I agree with you on the 2nd behavior. Using shape as a PropType, I'd assume that a deep merge for this very prop is expected. But I can also imagine cases, where a deep merge is explicitly not wanted (for example, if you have two props depending on each other - I already came across that case).

Maybe a solution would be an addi

[2017-05-30 14:24] igreulich commented on #9693
I understand your headache, I have run into it as well, but the [Lifecycle](https://facebook.github.io/react/docs/react-component.html) is [well](https://facebook.github.io/react/docs/react-component.html#componentwillupdate) documented.

And since Redux operates on state, well.., I guess I am not sure why more NEEDS to be done.

[2017-05-30 14:53] just-boris commented on #9611
@gaearon is there any general recommendation about `import * as React from 'react';` pattern?

This pattern is very common among Typescript developers and a lot of them will get the warning.

[2017-05-30 14:54] gaearon commented on #9611
It sounds reasonable to me. The PropTypes thing is unfortunate—I'm not sure if there's any way to prevent that?

[2017-05-30 15:23] just-boris commented on #9611
As I see, the only way is specifying all imports explicitly, like `import {Component, createElement} from 'react'`.

I wish it should be mentioned somewhere in the migration guide, that `import * as React` is not recommended way to import module. By the way in JS with Babel it shows warning too.

[2017-05-30 15:30] jedwards1211 commented on #9693
The lifecycle is well documented from the perspective of one component, but what happens when a lifecycle method triggers and ancestor update is a big question in my mind.  I've seen it work in most cases only to blow up in a few situations, and I don't really know why.

[2017-05-30 15:47] igreulich commented on #9693
I am not really sure we agree on what the issue is.

I would argue that state changes in the lifecycle methods is always bad. I would also think that any state changes would run through the redux store, so the change has already happened before the lifecycle methods are invoked, or caused them to invoke.

Ultimately it seems to me, granted with little information, that you should have an additiona

[2017-05-30 16:08] pedrottimark commented on #9747
@aweary Thank you for link to PR for the `toTree` method, so I can follow that effort.

Because this proposed use of `toMatchObject` has an expected value of test objects converted from **unrendered** elements, I don’t think I can call the `toTree` method.

As you say, `relevantTestObject` can stay in user-land, because it depends only on React element.

The reason to support in `react-test-render

[2017-05-30 16:22] dounan commented on #9791
That makes sense.

This is probably the approach that I will take :)

Thanks @aweary and @syranide for the info and advice 👍

[2017-05-30 16:22] #9791 closed

[2017-05-30 18:09] lfirek commented on #9746
@ahlusar1989 It's not solution for my problem.

I want handle ALL events from childs..childs

[2017-05-30 18:22] idibidiart commented on #9801
Great. Done. @aweary please feel free to review

[2017-05-30 19:49] brianboyko commented on #3236
I have a use case for ReplaceState.

On my company's app, we are creating "custom forms" - that is, the component takes a order definition from a JSON request and creates various forms of different types. All of them create a value in the state to store the keys on changes.

So far so good.

The problem is that we're using ReactRouter with /customOrder/:orderNumber -- and the component is tied int

[2017-05-30 20:36] coluccini commented on #9810
This is not directly related to React. Try asking in the corresponding repo:

https://github.com/ant-design/ant-design

[2017-05-30 20:50] bvaughn opened #9817 "Fix function arity issues"
Flow 0.46+ supports [verifying the number of arguments passed to a function](https://flow.org/blog/2017/05/07/Strict-Function-Call-Arity/).

Enabling this feature (`experimental.strict_call_arity=true`) and updating to Flow ^0.46.0 in master results in 40 arity errors.

- [x] PR #9816 reduces this to 28 errors.
- [ ] Fix remaining errors

[2017-05-30 20:52] iamdustan commented on #9817
Want me to rebase #9815 later?

[2017-05-30 22:53] bvaughn commented on #9817
Oh hey! Didn't see that PR yet.

PR #9816 resolves a few of the issues but not all of them. Happy to help track down the others.

[2017-05-30 23:07] Stupidism opened #9818 "Optimize defaultProps with propTypes"
**Do you want to request a *feature* or report a *bug*?**
feature,
PropTypes.string('default string');
**What is the current behavior?**
Two statics representing the same thing is kind of Trivial.
[code]
Sometimes people write useless code with this design. And you can't tell what is the author wanted.
[code]
**What is the expected behavior?**
Make defaultProps work with propTypes. One static othe

[2017-05-30 23:44] nhunzaker commented on #9398
https://github.com/facebook/react/pull/9806 should be safe to cherry-pick. @flarnie would you like me to do that?

[2017-05-31 05:13] cdlewis commented on #9818
Proptypes are being moved to a separate package in React 16. Perhaps you should file your issue there: https://github.com/facebook/prop-types.

[2017-05-31 05:32] Stupidism commented on #9818
goto prop-types repo: https://github.com/facebook/prop-types/issues/67

[2017-05-31 05:32] #9818 closed

[2017-05-31 07:04] syranide commented on #3236
@brianboyko Sounds like you should store the form state as an object in state instead. I.e. `this.setState({formState: {fields}});`.

[2017-05-31 07:08] sourabhChourasiya opened #9820 ""componentDidMount" not being triggered on initial render."
Below is the code in which i am facing the issue with all the life cycle method.
I am using electrode JS as a framework to make it render server side .

i am facing a random behaviour with the life cycle methods, some time it triggered some time not.

class BannersList extends React.Component {
  constructor(props) {
    super(props);
    this.createTable = this.createTable.bind(this);
    this.on

[2017-05-31 07:36] neytema opened #9821 "Children forEach filters functions"
**React v15.5.4**

Unexpected behaviour of `React.Children.forEach` – silently filters functions.

**Current behavior:**

[code]

**Expected behavior:**

Children.forEach should throw *Invariant* error then *function* type child is met.

or

Children.forEach shouldn't filter *function* type children.

[2017-05-31 09:08] zdila commented on #2787
[redux-logic](https://github.com/jeffbski/redux-logic) has a nice cancellation mechanism.

[2017-05-31 09:26] LikeYakult commented on #9810
@ummahusla I also think to react-form question will be better, but it shut my question, how can I do, I am also very helpless ...

[2017-05-31 09:26] LikeYakult commented on #9810
@coluccini Thank you, I take a closer look

[2017-05-31 10:21] steve-taylor commented on #1387
Haven't tested this, but it might work:

Higher order component:

[code]

or component base class:

[code]

I'm not really a fan of deep inheritence hierarchies. This just demonstrates that you can fairly easily get around this feature not (yet) existing in React. You could just as easily wrap and delegate, although it would be a bit more verbose and less performant.

I'm all for React changing to

[2017-05-31 10:51] nitish24p commented on #9820
Can you format the code a bit better so that its comprehensible
[code]

[2017-05-31 11:12] syranide commented on #1387
@steve-taylor https://github.com/facebook/react/issues/1387#issuecomment-191280035

[2017-05-31 11:55] steve-taylor commented on #1387
@syranide `render` shouldn't have any side effects. As long as you don't break the rules, you're safe. In terms of event handler callbacks, they will be recreated each render cycle, so their reference to `props`, `state`, and `context` should always be current. If you have an inline handler that does something like `setTimeout` or a web service call with an inline callback (which will be executed

[2017-05-31 12:14] hyzhak commented on #7371
Is there any idea how to overcome this bug? I have few third party components (like https://github.com/ericgio/react-bootstrap-typeahead/) which uses `ReactDOM.findDOMNode` how could use jest snapshots with them?

[2017-05-31 12:51] ahlusar1989 commented on #9746
Thank you for further clarifying your question @lfirek. What I hear you saying is 1) you would like a child component to bubble up its events to its parent component or 2) you would just use `event.target`, correct?

[2017-05-31 13:03] ahlusar1989 commented on #9821
🤔 @neytema I am not able to reproduce this. What browser are you using?

[2017-05-31 13:04] ahlusar1989 commented on #9820
+1 @nitish24p

[2017-05-31 14:28] ummahusla commented on #9810
@LikeYakult Try https://stackoverflow.com/

[2017-05-31 14:46] jmzo commented on #7553
I am experiencing this same bug. In hopes to help you reproduce... the steps I take are:

- open firefox
- using <input type='file' />, upload a file
- refresh page

Upon refresh I see...
<img width="1239" alt="screen shot 2017-05-31 at 7 43 22 am" src="https://cloud.githubusercontent.com/assets/4431979/26637694/07a4da8e-45d5-11e7-9c5e-24dd7455b99f.png">

Which links to...
<img width="637" alt="sc

[2017-05-31 14:52] ua9msn commented on #9689
AMD is broken again?
In the react-dom.min.js (ReactDOM v15.5.4)`require("react")`  makes impossible to use it with require.js

[code]

It rise up `Uncaught Error: Script error for "react", needed by: ReactDOM`
But if  replace
 `React    : '../vendor/react/react.min',` to     `react    : '../vendor/react/react.min',`
It cause `Script error for "React", needed by: ../dist/my-component`

Normally, in

[2017-05-31 14:56] gaearon commented on #9689
This doesn’t sound like a related issue to me. Can you file a new issue with a project reproducing it?

[2017-05-31 15:01] flarnie commented on #9398
Did that yesterday before I saw your comment @nhunzaker - thanks!

[2017-05-31 15:33] mondwan commented on #9689
@gaearon , it sounds like this issue will not be resolved until 15.6 released?

[2017-05-31 15:37] gaearon commented on #9689
Yes, we plan to fix it in 15.6.

[2017-05-31 16:03] jmzo commented on #7553
I would add that @zdila s fix of using `autoComplete="off"` on the `<input type="file"/>` definitely fixed my issue, although you might still consider this a bug.

[2017-05-31 16:33] ua9msn commented on #9689
Oh, you know about it and even have plans. Perfect!
So I will not create a new issue in this case.

[2017-05-31 16:38] gaearon commented on #9689
@ua9msn I was referring to the issue in this thread (which doesn't sound related to what you described). Please file a new issue about the problem you experienced with a minimal reproducing example.

[2017-05-31 16:45] aweary commented on #9810
Hey @LikeYakult! We try to use this issue tracker for bug reports and feature requests only. If you have a usage or support question, we recommend checking out one of the great community-driven platforms like [Reactiflux](https://www.reactiflux.com/), [discuss.reactjs.org](https://discuss.reactjs.org/), or StackOverflow, as mentioned above.

[2017-05-31 16:45] #9810 closed

[2017-05-31 17:03] AjayU commented on #8579
Getting this error in IE. The build application works fine in mozilla and chrome. Moreover, the standalone express server app runs fine too in IE but the built js file using webpack and babel fails to navigate when used inside of a jsp file

[2017-05-31 17:09] AjayU opened #9822 "Unable to get property 'getHostNode' of undefined or null reference when built react application is accessed in IE"
Getting this error in IE. Moreover, the react application works fine in IE when used as standalone webpack dev server but the built js file using webpack and babel fails to navigate when used inside of a jsp file inside our application.

The build application works fine in mozilla and chrome. I have read other replies for this topic which talks about the promise raising an unhandled exception. But

[2017-05-31 17:42] hammer65 commented on #631
This is happening to me with JSDOM as well and in my case our team project standards aren't going to accommodate leaving these errors in the console when tests are run. How can I suppress or stub this out. It's not just obnoxious it is preventing me from getting my work merged in our project.

[2017-05-31 17:46] gaearon commented on #9822
You could be catching errors somewhere else. There have been many reports of this issue and they *always* are caused by this so far. Please provide a reproducing project if you think this is a bug in React. Thanks!

[2017-05-31 18:01] LikeYakult commented on #9810
@ummahusla Thank you

[2017-05-31 18:02] LikeYakult commented on #9810
@aweary OK, Thank you

[2017-05-31 18:22] AjayU commented on #9822
I am using redux provider component containing IntlProvider of react-intl, which contains the MuiThemeProvider followed by react-router to start the app.

When I debug the code the home page render call works fine till the return statement(home page contains only a single render method with a empty div return) but it fails after that with this error when I am navigating to the other page using rea

[2017-05-31 21:16] frankalbenesius commented on #9821
Hey @neytema, I did [some experimenting](https://codepen.io/alberknocker/pen/Emqdgj) and it appears that all React.Chilrden utilities filter down to just components children.

It's not totally clear from the [React.Children docs](https://facebook.github.io/react/docs/react-api.html#react.children) if that's the intended behavior, but I think it might be. But I'm no React expert so I'm not sure.

I

[2017-05-31 23:45] neytema commented on #9821
@ahlusar1989 nodejs v6.10.3

@frankalbenesius I am concerned about inconsistency..

If you'd pass an *object* type child `React.Children.forEach` will throw 'Objects are not valid as a React child' error. Functions are not valid React child also. As far as I know.

**Object example:**

[code]

And you can't simply use children as array because it is not always an array or not a flat one.

[2017-06-01 00:01] geoffsimons commented on #6733
The clip-path attribute is not recognized by React. If you use clipPath as the attribute name, it works.

[code]

[2017-06-01 07:42] bochen2014 commented on #654
@syranide  thanks for sharing that! i didn't know it before

[2017-06-01 09:21] benweizhu opened #9826 "Does keys for children really improve performance?"
Originally I try to use React Perf tool to prove this theory, So I write code to do an experiment.

https://github.com/benweizhu/react-redux-you-should-know/tree/master/unique-keys-for-children

But then I found out the opposite the result.

![image](https://cloud.githubusercontent.com/assets/5471228/26673026/ffb94f7a-46ed-11e7-9003-78eb6824a218.png)

Can someone explain why or correct me if I am

[2017-06-01 09:38] benweizhu commented on #9826
Acutually, when I add more, it appears to be right.

![image](https://cloud.githubusercontent.com/assets/5471228/26673917/24c2b27c-46f1-11e7-936e-440d5da66dfb.png)

[2017-06-01 09:38] #9826 closed

[2017-06-01 10:16] gaearon commented on #9826
Keys ensure that when you reorder items, React treats it as a reorder rather than update of each item in the list. This is important not only for reordering, but also for correctness. Because otherwise you might end up with nested state staying "at the same place" while the parents conceptually "moved". Like if you have a reorderable list with input fields inside.

[2017-06-01 11:03] FezVrasta commented on #6411
I'm trying this but the CSS Custom prop doesn't get applied?

https://codepen.io/FezVrasta/pen/LLPpGe

[2017-06-01 11:04] #6733 closed

[2017-06-01 11:17] TrySound commented on #6411
It wasn't released yet

[2017-06-01 11:21] pixelass commented on #6411
15.5.4 (April 11, 2017)

The PR was merged on Apri,l 20

https://github.com/facebook/react/releases

[2017-06-01 12:32] jquense commented on #6410
I'll jump back here since I dealt with this once again :P Thanks @felipeochoa for the table.

In my experience I almost never want either of the native focus events (tho react should offer them), instead I want focus events that **do not bubble** and are **encapsulated** (as termed above)

I'd suspect tho at this point that may be unlikely as it would require a new polyfill

[2017-06-01 12:48] jquense commented on #6410
O i'd add that you can't actually adapt the mouseEnterLeave logic for this, since IE11 doesn't have a `relatedElement` set on the focus/blur events :(

[2017-06-01 15:43] grovesNL commented on #3738
With more codebases moving to TypeScript and Flow, I think returning `undefined` would be very useful here. I try to avoid using `null` anymore, except when libraries force its usage.

[2017-06-01 19:14] eugene1g commented on #9193
@acdlite This is the only problem with Fiber in our app so far (but... a major one...)

I have a simple test case to crash the browser. With Chrome, you probably should open the "Task Manager" so you can kill the tab after testing :D
<img width="672" alt="screen shot 2017-06-01 at 3 13 37 pm" src="https://cloud.githubusercontent.com/assets/147496/26696567/fdb5af4a-46dc-11e7-9eff-0af656640dbb.png">

[2017-06-01 19:24] acdlite commented on #9193
@eugene1g Thanks for the test case. We're aware of the issue and will fix before 16 stable goes out :)

[2017-06-01 19:28] elijahsmith commented on #9750
we are blocked on this issue (our build system relies on the Closure Compiler, and some of our dependencies use create-react-class).  Is there anything I can do to help this process forward?

[2017-06-01 19:29] elijahsmith commented on #7551
we are blocked on this issue (our build system relies on the Closure Compiler, and some of our dependencies use create-react-class). Is there anything I can do to help this process forward?

[2017-06-01 19:43] andjd opened #9829 "Credit card entry form validation asks user to match "requested format" but there is no example of what that format is."
New feature, useability improvement
when entering an invalid credit card info form validation asks user to match "requested format".

desired behavior:
credit card field placeholder has example of proper format, or message has more useful warning (e.g. `15 or 16 numbers, no hyphens or spaces`)

seen on Chrome

[2017-06-01 19:45] #9829 closed

[2017-06-01 20:07] flarnie opened #9830 "First 15.6RC bug - CRA throws `Can't resolve 'create-react-class/factory'` with 15.6.0-rc.1"
Looks like something about the 'create-react-class' removal was not correctly cherry-picked into 15.6.

Steps to reproduce:
1. create a new CRA project
2. update the version of React in `package.json` to `15.6.0-rc.1`
3. run `yarn build`

You'll get this error:
[code]

[2017-06-01 20:42] genepaul opened #9831 "Possible false positive on getDefaultProps warning with create-react-class in production environment"
**Do you want to request a *feature* or report a *bug*?**
Potential bug

**What is the current behavior?**
A dependency I am using is using `create-react-class` to get past the deprecation warning, but they have still defined `getDefaultProps` in their class definition. I am still getting the following warning from that:
[code]
**If the current behavior is a bug, please provide the steps to reprod

[2017-06-01 20:48] sebmarkbage opened #9832 "Error when `__source` is provided to production build"
Currently if the `__source` transform is enabled together with the production build there are no indicators of a poorly performant configuration. https://facebook.github.io/react/ even has it.

We already check for the [existence of a `__source` field](https://github.com/facebook/react/blob/master/src/isomorphic/classic/element/ReactElement.js#L203). So we can just reuse the same check to issue so

[2017-06-01 21:35] mjackson opened #9834 "Add React.Children.find"
I think a `React.Children.find` method would be really useful in situations where you need to iterate over your children and find just one that satisfies a particular condition. I'm running into this situation more and more often in my React code. A few examples:

- In [React Router](https://reacttraining.com/react-router), the `<Switch>` component [iterates over its children](https://github.com/R

[2017-06-01 21:39] markerikson commented on #9834
Would calling `React.Children.toArray(children).find(....)` be too much overhead?

[2017-06-01 21:40] mjackson commented on #9834
@markerikson `toArray` is semantically different to a `find` operation because it adds keys.

[2017-06-01 21:41] markerikson commented on #9834
*looks at docs*.... ah, yes, so it does :)   Interesting, hadn't noted that before.

Sure, this seems like a useful addition.

[2017-06-01 21:49] FezVrasta commented on #9834
Why do you need to find the selected element? Should you already know which one is selected thanks to an "onChange" callback?

You know the data that is being used to render the children, it seems wrong to read back from the tree.

[2017-06-01 22:15] mjackson commented on #9834
@FezVrasta no onChange events have fired on the initial render

[2017-06-01 22:27] sebmarkbage opened #9836 "RFC: Should we be resilient to node.normalize()?"
__Debate:__ Should we support the node.normalize() case? https://github.com/facebook/react/blob/b1b4a2fb252f26fe10d29ba60d85ff89a85ff3ec/src/renderers/dom/shared/__tests__/ReactDOMTextComponent-test.js#L77-L173

__Summary:__ We mostly supported this in Stack because we inserted comment nodes between everything. This was important when we used innerHTML to generate the HTML on the client to preserv

[2017-06-01 23:46] jharris4 commented on #9834
I've run into the need to search for both single/plural children. So maybe `React.Children.filter` would make sense to complement `React.Children.find` ?

Basically, the use case was that a consumer of a library I was building was adamant that they wanted to be able to use a Navigation component like this:

[code]

My initial implementation was to build the Navigation to just take the parts as pro

[2017-06-02 03:00] benwiley4000 commented on #9809
@nhunzaker here is the non-React comparison case you asked for. https://jsfiddle.net/a2k4whf0/2/

[2017-06-02 05:29] huy-nguyen commented on #9501
I've seen a similar problem too @santiagopuentep and I want to find out the reason. I noticed that elements only get CSS transition if they move "forward" (i.e. to smaller index number) wrt their siblings in the DOM order. There's also no lifecycle hooks called. @gaearon What do you need to troubleshoot?

[2017-06-02 06:16] paranoidjk commented on #2020
I think this problem should be listed at doc https://facebook.github.io/react/docs/dom-elements.html#style

[2017-06-02 07:22] thejase commented on #6411
@FezVrasta I forked your pen to 15.5.4: https://codepen.io/thejase/pen/owvQNe

I'm still not seeing the style being applied to the div
![image](https://cloud.githubusercontent.com/assets/787276/26715166/75dca824-4729-11e7-8d5a-46b8468cd9d9.png)

[2017-06-02 07:39] pixelass commented on #6411
@thejase See my comment. 15.5.4 was released 0n April 11th. The merge was done 9 days later.

[2017-06-02 07:41] thejase commented on #6411
@pixelass Ah, now I understand.  Sorry, wasn't thinking straight.

[2017-06-02 07:52] syranide commented on #9501
@huy-nguyen This is an artifact of how React handles reordering, but it's not really a React bug I would say. Reordering has to happen one way or another, it's just that React always handles reordering in the same direction. So in the end this is simply browsers being quirky, you should be able to avoid this by reordering via FlexBox instead.

Related #870

[2017-06-02 08:06] sebmarkbage commented on #9834
@mjackson You probably __do__ want to add the expanded key like `toArray` does.

Imagine we use your `<Select />` example like this:

[code]

Now let's make the label have a CSS animation that fades in when it's created. That way it is stateful but you can choose any other way to make it stateful.

The animation won't play when we switch between items because they all have the same key.

A variant

[2017-06-02 11:22] misantronic commented on #3163
Actually, it's the opposite in 15.4.0: `Required PropTypes now fail with specific messages for null and undefined.`

I am also facing this issue.
@Noitidart 's workaround is not working for me. It throws an error saying:
`Failed prop type: The prop `value` is marked as required in `Select`, but its value is `null`.`

I find it really useful to require a property but also allow null values.

[2017-06-02 13:23] kevinluvian commented on #5968
@jimfb there's a repro here https://github.com/erikras/redux-form/issues/321
could you please take a look?

[2017-06-02 18:58] genepaul commented on #9831
Finally tracked this down. It appears that this is the offending line: https://github.com/facebook/react/blob/v15.5.4/addons/create-react-class/factory.js#L691

As I understand this code, it is saying "getDefaultProps is OK if this component was created by `createReactClass`, but not in production."

This seems counter to what might be intended. If the environment is production, we don't want the

[2017-06-02 19:10] genepaul commented on #9831
I would also note that this is in conjunction with using webpack and setting `process.env.NODE_ENV` to `production`

[2017-06-02 21:00] sebmarkbage commented on #9834
I think that touches on the expectation one might have of React children. Is `Switch` using JSX simply as a syntax sugar but not borrowing any of the semantics of React? Should it be semantically equivalent to something like:

[code]

The *sometimes* part is what bothers me. There's no intuition right now and you basically just have to test it to see what happens because different components might

[2017-06-03 06:18] tekacs commented on #7671
Carrying on from @mstijak and @jamespedid I'd again emphasise that whilst you may discourage 'deep inheritance' (according to @sebmarkbage), it's pretty useful/important to be able to run something *after all construction* but *before mounting*, in the sense that (this is TypeScript):

[code]

Note that `BaseComponent` can't perform the initialization that it does inside of its constructor, as tha

[2017-06-03 07:25] syranide commented on #9834
Can I just add that handling routes with React/JSX seems like a bad idea? Perhaps it looks nice, but the concept doesn't seem sound. Regular JS would be a much better for fit it and would allow you to define the exact semantics you want. Or am I being crazy?

[2017-06-03 11:16] ahlusar1989 commented on #9821
@neytema I understand. Referencing the above example, you would need to pass a string type or React component(created by `React.createElement`) or array type of React elements; type checking is the only means for preventing the above error, if I am not mistaken.

[2017-06-03 18:14] jedwards1211 commented on #7671
@tekacs why are you putting any component's props into an RxJS observable?  What code actually reads `selected$` and why does it have to do so via an RxJS observable, rather than just making `componentWillMount` and `componentWillReceiveProps` call `processSelected(this.props[this.props.key])`?

[2017-06-04 01:44] genepaul commented on #9831
Turns out, my organization is using a wonky build process. We have some items webpacked and others not. So we were running React in development mode but webpacking our dependencies in Production mode. This caued a mismatch between the dependencies' way of doing things and what React expected. User error.

[2017-06-04 01:44] #9831 closed

[2017-06-04 06:50] kastentx opened #9844 "Error in 'Using Immutable Data Structures' section of Docs"
**Do you want to request a *feature* or report a *bug*?**
- Report a bug.

**What is the current behavior?**
- In the Optimizing Performance section of the docs, there is a sub-section called Using Immutable Data Structures. At the end there is a sentence _"In this case, since a new reference is returned when mutating x, we can safely assume that x **has changed**."_

The sentence should read, if

[2017-06-04 07:39] LemonPi commented on #9635
I also encountered the same issue, originally posted in as issue facebookincubator/create-react-app#2460 in the CRA repo.

### Description

According to [the docs](https://facebook.github.io/react/warnings/refs-must-have-owner.html) `ref`s should only be assigned inside a component's `render()` method. I didn't know this and created a composed component inside the constructor, assigning its `ref`

[2017-06-04 18:24] chadoh commented on #7181
For an explanation of why disabling Cloudflare's HTML minification is necessary, see [this StackOverflow answer](https://stackoverflow.com/a/44357173/249801)

[2017-06-04 18:29] chadoh commented on #7093
For me, this error was caused by Cloudflare's HTML minification. [Problem documentation](https://stackoverflow.com/q/44356843/249801) and [problem solution](https://stackoverflow.com/a/44357173/249801).

[2017-06-05 01:35] DanielRamosAcosta commented on #6411
So we have to wait until the next release right?

[2017-06-05 01:37] spicyj commented on #6411
This is in 15.6.0-rc.1 and will be in 15.6 final.

[2017-06-05 01:38] DanielRamosAcosta commented on #6411
Thanks @spicyj!

[2017-06-05 03:51] ankitacroit09 opened #9848 "Browser compatibility issue in Jquery 3.2.1 version"
report a bug or need to confirm

**What is the current behavior?**
I am getting the following error in console when I am using the jquery 3.2.1 min .js

at line
var I=C.fn.remove;D=C.browser.mozilla&&(parseFloat(C.browser.version)<1.9);
Uncaught TypeError: Cannot read property 'remove' of undefined

[2017-06-05 11:39] DanielRamosAcosta commented on #6411
I'm trying to use the variables in a boolean way to change some things in CSS:

[code]

The ideal way would be to set `style={{'--open': this.state.open}}`... But my workaround doesn't work either: `style={{'--open': this.state.open * 1}}`. This sets open to 1px or 0px, instead to 1 or 0.

I manage to do it with:
[code]

Is there a way to disable units in from inline styles?

[2017-06-05 11:53] FezVrasta commented on #6411
I think you can pass them as string

[2017-06-05 12:03] DanielRamosAcosta commented on #6411
@FezVrasta doesn't work, but I get the warning:

So I think I will have to wait 😋

[2017-06-05 12:23] NeonPaul commented on #5867
@n8mellis Unfortunately [`findDOMNode` will throw](https://facebook.github.io/react/docs/react-dom.html#finddomnode) if called during or before the first client-side render.

[2017-06-05 15:03] rocky-jaiswal commented on #9848
Can you provide more details (version of react etc.), I cannot see an error if I create something with react, react-dom and jquery like here - https://codepen.io/anon/pen/WObZYJ

[2017-06-05 15:05] lei-clearsky commented on #9739
In terms of performance, is there any difference between using arrow functions and bind manually when using es6 classes? Using arrow functions the methods are not on the class prototype, it will be on the class instance only. Using bind will attached the methods to class prototype. It sounds bind manually will have better performance, does that mean we should consider using bind instead of arrow f

[2017-06-05 15:12] rocky-jaiswal commented on #9712
This is working for me - https://codepen.io/anon/pen/LLEzwN?editors=1010

[2017-06-05 15:20] lei-clearsky opened #9851 "[Question] Use arrow functions or bind manually in es6 classes? Any performance difference?"
In terms of performance, is there any difference between using arrow functions and bind manually when using es6 classes? Using arrow functions the methods are not on the class prototype, it will be on the class instance only. Using bind will attach the methods to class prototype. It sounds like bind manually will have better performance, does that mean we should consider using bind instead of arro

[2017-06-05 15:38] gaearon commented on #9851
Hi!

These two ways of writing it are equivalent. (The second one is compiled to the first one.)

In your example, you still attach the function to the instance:

So they’re essentially the same.

At Facebook, we use the second way (“class properties”) but be aware this is still experimental, and not part of ES6. If you only want to stick with stable syntax, then you could bind them manually.

I h

[2017-06-05 15:38] #9851 closed

[2017-06-05 16:04] aweary commented on #9851
As far as runtime behavior goes they are identical, but doing the later (binding a method in the constructor) means you're defining the method on the class prototype _and_ the instance.

Doing the former will only define the method as an instance property, avoiding the duplication. But as mentioned, it's experimental so YMMV. Check out [this example in the Babel REPL](http://babeljs.io/repl/#?babi

[2017-06-05 16:06] lei-clearsky commented on #9851
Thanks @gaearon this is very helpful!

This question was coming from when testing component methods, as I can find the method on class prototype if I use `this.methodA = this.methodA.bind(this)`, but can't the method on prototype if I use `methodA = () => { ... }`. See this issue on enzyme: https://github.com/airbnb/enzyme/issues/365

[2017-06-05 16:08] lei-clearsky commented on #9851
@aweary thanks! this helps a lot as we are in the process of converting `React.createClass` to es6 classes.

[2017-06-05 16:09] gaearon commented on #9851
@lei-clearsky

Also check out the automatic class transform:

[code]

We used it to convert thousands of components.

It's documented here: https://github.com/reactjs/react-codemod#explanation-of-the-new-es2015-class-transform-with-property-initializers

[2017-06-05 19:44] aweary commented on #9739
For future reference, we try to use this issue tracker for bug reports and feature requests only. If you have a usage or support question, we recommend checking out one of the great community-driven platforms like [Reactiflux](https://www.reactiflux.com/), [discuss.reactjs.org](https://discuss.reactjs.org/), or StackOverflow!

[2017-06-05 19:44] #9739 closed

[2017-06-05 20:01] joecritch commented on #9728
@gaearon Just checking in on this. How do you think we should we move foward? (cc @lacker too :-)

[2017-06-05 20:03] bvaughn commented on #9728
This looks slick! I'd love to lend a hand with this if you need one.

[2017-06-05 20:15] sebmarkbage commented on #9836
The resolution is that we'll ship a version to see how badly this breaks and under which conditions to get more data.

[2017-06-05 21:51] aweary commented on #9718
I think we should avoid recommending or mentioning this in the docs. Representing children as a "hidden" is an implementation detail. For example, if you use React without JSX there is still a specific API for representing children

[code]

If we document this API we are encouraging users to utilize it, which means we'd be unable to change how children are represented internally without disrupting

[2017-06-05 21:51] #9718 closed

[2017-06-05 22:03] aweary commented on #9820
@sourabhChourasiya there is too much code here for us to reasonably help you. If lifecycle methods aren't being called, your application may be silently failing (check for errors being swallowed).

If you can provide a reduced test case ([here's a template to start with](https://jsfiddle.net/84v837e9/) demonstrating an issue with React, that would be great.

But it sounds like this is a usage/supp

[2017-06-05 22:03] #9820 closed

[2017-06-05 22:15] aweary commented on #9848
Hey @ankitacroit09! As mentioned, please provide an example reproducing the issue you're having ([here's a template you can start with](https://jsfiddle.net/84v837e9/)). We don't explicitly support compatibility with other libraries like jQuery, but I don't think there's anything React does that would prevent interop.

It sounds like maybe you're having trouble getting them to work together. We tr

[2017-06-05 22:34] Thargarius opened #9855 "ReactPlayer autoplay muted video on mobile"
I can't manage to autoplay video on mobile browser, I dont have any audio and there is my code :
[code]

When I inspect my page I only see this :
`<video src="https://atmost.fr/assets/video/yosemite720.webm" preload="auto" loop autoplay style="width: 100%; height: 100%; display: block;"></video>`

[2017-06-05 22:43] bvaughn commented on #9855
Your code specifies `muted` attribute true
[code]

[2017-06-05 22:47] aweary commented on #9855
@Thargarius what is `ReactPlayer`? Can you share the source for that component? It looks like you've muted the video using the `muted` prop, is that the problem? Please provide an example reproducing your issue. You can use https://jsfiddle.net/84v837e9/ as a starting point.

[2017-06-05 22:48] bvaughn commented on #9855
Hi @Thargarius,

I can't tell from this description if this is an issue with your application code, the third party library `ReactPlayer` is in, or React. Maybe you can provide a reduced test case ([here's a template to start with](https://jsfiddle.net/84v837e9/)) that narrows things down to React?

If React renders the HTML snippet you provided above, that looks correct.

[2017-06-05 22:52] aweary commented on #9561
#9584 is merged now, issue can be closed 👍

[2017-06-05 22:52] #9561 closed

[2017-06-05 22:53] aweary commented on #9590
Since there's been no response @zhuyinjing I'm going to close this out. I assume it was a usage issue that you've figured out. If you are still having a problem and believe it's an issue with React, please respond with an example reproducing your issue. You can use https://jsfiddle.net/84v837e9/ as a template.

[2017-06-05 22:53] #9590 closed

[2017-06-05 22:55] aweary commented on #9541
I agree as well. `onChange` encompasses more than just mouse events, and includes normalizations for browser consistency. I think it's best to leave the warning in this situation.

Thanks for taking the time to submit this issue though @rauschma!

[2017-06-05 22:55] #9541 closed

[2017-06-05 23:13] Thargarius commented on #9855
Oh I just realized I published my issue in the wrong repo, sorry for inconvenience.

[2017-06-05 23:13] #9855 closed

[2017-06-06 01:08] GregS2 commented on #9718
Thanks. I'll submit an errata suggestion for the book in question. (bad coding practice)

[2017-06-06 03:36] jedwards1211 commented on #7671
@tekacs **Yo dawg**, I heard you like reactive programming
...so I put your `props` into an RxJS stream so that you could get reactive updates while you get reactive updates
:wink:

[2017-06-06 04:19] mjackson commented on #9834
Yes, `<Switch>` uses `<Route>` as syntax sugar, but standalone `<Route>`s are also able to render themselves, so they're not purely syntax sugar as they were in previous versions of the router.

This is a bit off topic, but the reason we decided to re-use `<Route>` components inside `<Switch>` was to make it easier on people upgrading from previous versions or refactoring. Imagine you have a few r

[2017-06-06 05:33] ashokkumarsand commented on #9632
@aweary There are many third party apis, but they didn't full filled standard. If we have like something  style tags which is like polymer which fulfilled communities need. mostly all things are hack based not like a standard.

[2017-06-06 07:54] tekacs commented on #7671
@jedwards1211 That's just to build a `render$` observable from many other observables combined with `props$`, rather than having to handle the latter specially.

[code]

[2017-06-06 08:04] bochen2014 commented on #7776
flow  module.name_maper: https://github.com/facebook/flow/issues/-2092

[2017-06-06 09:52] discountry opened #9860 "We have fully translated the latest version of react docs into Chinese."
You can see the Chinese docs here: [react docs in Chinese](https://discountry.github.io/react/)

Translated from the `v15.5.4` docs.

We've directly modified the original markdown files, so it's hard to pull request and merge the official docs.

Is there any plans to add i18n feature to the jekyll doc website?

[2017-06-06 10:11] NE-SmallTown commented on #9860
Thanks.But I notice that the `CONTRIBUTING` and `REFERENCE` sections are not be translated,I think they are very important to help developers to understand React.

[2017-06-06 10:30] discountry commented on #9860
@NE-SmallTown Thanks for reminding me. We'll continue our translation work and keep up with coming React v16 updates.

[2017-06-06 10:30] gaearon commented on #9860
Awesome! Please keep track of https://github.com/facebook/react/issues/8063.
We plan to use a tool for translation, just like Jest did.

[2017-06-06 10:30] #9860 closed

[2017-06-06 10:35] discountry commented on #9860
@gaearon OK. We'll keep track of that.

[2017-06-06 10:37] gaearon commented on #8063
@ericnakagawa @hramos Is there anything we can do on our side to start the process? I don’t want to lose valuable effort like https://discountry.github.io/react/ which will get out of sync soon.

[2017-06-06 15:12] jedwards1211 commented on #7671
@tekacs as in, you're passing in some data as props and some from observables that take the place Redux, etc. would?

[2017-06-06 15:48] hramos commented on #8063
@gaearon ping Eric directly, he's been leading the localization effort for other sites

[2017-06-06 16:17] #9830 closed

[2017-06-06 16:20] bvaughn commented on #9632
FWIW I've found React + [css-modules](https://github.com/css-modules/css-modules) pretty nice to work with for application code. Can be tricky if you have a mix of dynamic values (eg themes, or props-driven-styles) but otherwise I think the modules approach is pretty nice.

[2017-06-06 16:42] rubyruy opened #9862 "Will ReactFiberReconciler become a public API for implementing 3rd party renderers?"
We are investigating using React for drawing custom native UIs (that fall outside the scope of react-native and react-windows-native). `ReactFiberReconciler` seems like the most sensible place to start (assuming fibers start getting used in mainline relatively soon, which seems reasonably likely), and it certainly seems to be very easy to get a proof of concept up and running using it, at least so

[2017-06-06 16:47] bvaughn commented on #9862
Hi @rubyruy,

The team hasn't yet decided on how best to expose `ReactFiberReconciler` and any accompanying build tooling we create to support custom renderers. It's on our roadmap though.

For the time being, I think your best bet would probably be to fork this repo.

[2017-06-06 16:58] gaearon commented on #9862
Closing as duplicate of https://github.com/facebook/react/issues/9103, let's discuss there.

[2017-06-06 16:58] #9862 closed

[2017-06-06 17:12] gaearon opened #9864 "Investigate why CI got broken on master but PR passed"
See this PR: https://github.com/facebook/react/pull/9550.

It passed CI on PR, but when merged to master, it had a test failure (which I later fixed in https://github.com/facebook/react/pull/9854).

I wonder if we're missing some check in PRs.

[2017-06-06 17:22] matthew-rister opened #9865 "Component Lifecycle Error Handling"
Greetings React team,

Let me start off by saying that I am a big fan of the work your team is doing and keep up the good work. With that said, one of the major disadvantages of React is that it sort of throws up when an exception is thrown in one of the lifecycle methods (i.e. null or undefined reference). Although this is ultimately up to the developer to ensure proper error handling, I was wond

[2017-06-06 17:31] sebmarkbage opened #9866 "Add More Cases to Server Rendering Fixture"
Server rendering has a lot of quirks that are easy to break. We have a fixture set up for it in [/fixtures/ssr](https://github.com/facebook/react/tree/master/fixtures/ssr).

This could be expanded to have more stuff in it. A few things we should have in the fixture and test for:

- `<input />`, `<select />`, `<option />` and `<textarea />` controlled and uncontrolled. All types of inputs, includin

[2017-06-06 17:38] bvaughn commented on #9865
Hi @matthew-rister,

Version 15 introduced a new experimental error boundary feature (basically a try/catch for the component tree). That feature has been improved significantly for the upcoming version 16 (currently available as an alpha if you're interested in trying it).

If an error occurs in render or a component lifecycle method, React looks up the tree for the nearest ancestor (component) t

[2017-06-06 17:38] #9865 closed

[2017-06-06 17:41] sebmarkbage commented on #7671
There's a use case that I find compelling. E.g. you want to trigger an async data request now because you know you'll need it soon but first you'll want to render your child content. Kind of like the link `prefetch` in browser. However, you don't necessarily need a handle on and instance to do that.

It might be enough to have a static method without access to `this` nor `state`.

`static componen

[2017-06-06 17:44] ljharb commented on #7671
Without access to state, how would you store the result of the async request?

[2017-06-06 17:51] sebmarkbage commented on #7671
You would rely on an external system to keep its cache around. Like Relay or some Flux store. So when you request it again, it's available. Just like when you `<link rel="prefetch" />` something you don't get a direct handle on the resource. A separate request gets the data.

Note that this use case is not meant to be used as a canonical data loading model. That can have an async API that builds o

[2017-06-06 18:29] flarnie opened #9868 "Remove streaming renderer from fb builds"
We shouldn't get `html/shared/react/ReactDOMServerStream-prod.js` and `html/shared/react/ReactDOMServerStream-dev.js` in the fb builds. Correct me if this is wrong.

[2017-06-06 18:30] jedwards1211 commented on #7671
@tekacs In any case, I think there are any number of ways you could avoid deepening the class hierarchy and still accomplish what you want to do.  For example:
[code]

[2017-06-06 18:54] gaearon commented on #9868
For now we shouldn't (since I don't think anybody checked those bundles for extra/bloated code which I believe they have).

But in close future we'll need to fix them and then just replace the old DOMServerRenderer with them (and completely remove the old bundles from build process).

[2017-06-06 19:51] matthew-rister commented on #9865
Thanks @bvaughn,

It's great to see that there is already work going on in this space and kudos for writing entertaining test cases :)

Matt

[2017-06-06 20:02] HoraceShmorace commented on #7027
I'm still seeing this issue in 15.5.4. If I type "TEST" into an input, `onKeyDown`, `onKeyUp`, and `onKeyPress` show `event.target.value` as "TES". `onChange` sees it as "TEST".

[2017-06-06 20:39] flarnie commented on #9868
Good point. We should just make sure to do something to fix them in the next two weeks, so we don't have to manually exclude them when running a sync.

[2017-06-06 20:48] aickin commented on #9866
Sorry for a noob question, but is there something written down about how the fixtures differ from the unit test suite? Am I right in my impression that fixtures are not run in CI and are more meant to be looked at by humans?

[2017-06-06 21:03] aweary commented on #9866
@aickin this is correct, assuming the SSR fixtures are setup like the DOM ones.

[2017-06-06 21:24] gaearon commented on #9868
Yea, either way works. Disabling them for now should be as easy as removing `FB_DEV` and `FB_PROD` from `types` of corresponding bundles.

[2017-06-06 21:26] gaearon commented on #9866
Yep. They're for things that are hard to catch in automated way (e.g. things that don't replicate in jsdom). We could've added Selenium for this but having manual fixtures to bisect against so far seems like less hassle than dealing with flaky integration tests.

[2017-06-06 21:36] bvaughn commented on #9763
Closing in favor of an internal diff 😄

[2017-06-06 21:36] #9763 closed

[2017-06-06 22:31] bhgames commented on #8579
Same here @AjayU

[2017-06-07 00:23] gaearon commented on #9865
I would add that those tests are pretty old and describe the feature as it's supported in 15 (only a few cases work).

The support in React 16 is much more comprehensive and is described in these tests:

https://github.com/facebook/react/blob/master/src/renderers/__tests__/ReactErrorBoundaries-test.js

[2017-06-07 00:39] dominikwilkowski commented on #1035
This is definitely something needed for server side rendering. For right now we have to inject it after we call `renderToStaticMarkup`. An official way would be much better.

[2017-06-07 03:28] mfoonirlee commented on #9783
I think that syntethic event just trigger bubbling phase instead of capturing phase causing of react use bubbling event to simulate capturing event, they would use the unified type event to trigger event that user registered in event array

[2017-06-07 03:56] wdhorton opened #9876 "Order of linting and prettier in contributing docs"
**Do you want to request a *feature* or report a *bug*?**
This is more of a documentation discussion

**What is the current behavior?**
Currently, the contributing guide lists the lint step before running prettier. For example, `.github/PULL_REQUEST_TEMPLATE.md` says:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via

[2017-06-07 05:07] bvaughn commented on #9865
Whoops. Thanks Dan. I didn't mean to link to the version of the test in 15-stable.

[2017-06-07 05:59] ambar opened #9877 "unstable_handleError: Cannot read property 'listeners' of null"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**

https://jsfiddle.net/ambarli/une20v6v/1/

**What is the expected behavior?**

renders error text.

[2017-06-07 06:36] likerRr commented on #9783
I just can't understand, if I'm the only who use capturing phase? Or I'm the only who does it wrong? :smile: Strange, that such issue exists.

[2017-06-07 06:58] ThomasJuster opened #9878 "Add an export of html props in react package since React is already using them for validation"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
The react package does not provide a list of acceptable props for html node (div, span, etc.)
Sometimes, other packages pass on other props, like react-redux passing `dispatch` when no `mapDispatchToProps` is provided. This (below) will pop an error saying there's an unknown prop `dispatch` on a `d

[2017-06-07 08:01] MissXueBB opened #9879 "Seeking Help: A brief survey of handover process in Github"
Sorry for interrupting you and we are so sorry to raise questions that are not relevant to development here.

We have e-mailed questionnaires to @petehunt: pete@instagram.com, @zpao: paul@oshannessy.com, @acdlite:acdlite@me.com, @sebmarkbage:sema@fb.com. You can also reply us through email if you are interested in our research questions. Below is the content of our survey.

We're research students

[2017-06-07 08:32] danzawadzki opened #9880 "Rendering array of JSX components"
I have to build something between tree and table. I have folder, subfolders and elements. There is one folder, which keeps inside all subfolders. Informations rendering correctly, but react is ignoring part of my code.

    const Folder = (props) => {
        return (
            <tr key={props.id}>
                <td className='w1_20'><input type='checkbox'/></td>
                <td className='

[2017-06-07 09:46] #9880 closed

[2017-06-07 10:29] trueadm commented on #9864
This puzzling me. I don't understand how the test failed for us now when on the CI run, it ran the test and showed it as passing:

![screen shot 2017-06-07 at 11 24 16](https://user-images.githubusercontent.com/1519870/26874035-f33ef940-4b73-11e7-8727-c01580e8ae70.png)

Although, my best guess is that it's related to the CI change we made to the Jest task runner not turning an exit:

https://githu

[2017-06-07 11:17] gaearon commented on #9864
Thanks for investigating!
To clarify: the issue is that the PR's merge base did not include the fix from https://github.com/facebook/react/pull/9663.

We might have some more PRs like this, so need to be mindful (and ideally rebase old PRs before merging).

[2017-06-07 11:17] #9864 closed

[2017-06-07 11:59] mdoelker commented on #8938
Hitting clear will revert to the `defaultValue` prop (representing the HTML attribute value) which works as expected for uncontrolled inputs. For controlled inputs, React will update both `value` and `defaultValue` props  on every change, so that both have the same value. Hitting Clear will then have no noticeable effect. Setting the `defaultValue` prop to the empty string manually after each chan

[2017-06-07 12:29] bhgames commented on #8579
@AjayU I discovered it was because I was using for(let key of something) { } loops in my code. Apparently this isn't polyfilled properly. Replacing them with .map({})'s worked. Had nothing to do with react-router - it was just that was firing the render call that caused the error to happen.

[2017-06-07 12:30] drcmda commented on #9787
@FateRiddle

react-csjs does just that

[code]

You have the same flexibity, for instance you can run postcss transforms over it at compile time.

CSS is problematic overall and React shouldn't make a pick unless it brings us forward. Vue did it, and it inhibits all innovation, which is why it's at the sidelines while React has brought forward awesome stuff like glamor, styled-components, and so o

[2017-06-07 13:04] tekacs commented on #7671
@jedwards1211 Yup `props$` + several other state streams, which include observable GraphQL queries (via Apollo), a state store and others (such as `Subject`s passed down to children to propagate back up, rather than the messier pattern of passing `onSomething` functions).

What you suggest in your last post certainly works (I've certainly thought of it), only I'm using abstract classes to make it

[2017-06-07 13:14] joecritch commented on #9728
@bvaughn Glad you're into it! I'd love your help dude. Safe for me to get started, then we'll sync? Any thoughts on writing it with new markup?

[2017-06-07 14:00] jquense commented on #8529
jeez this is annoying.

@nhunzaker @sebmarkbage @aweary Should we "fix" this in an event plugin or simply add the new event? I'm guessing that middle button clicks are explicitly specced so this doesn't count as breaking, but jeez

[2017-06-07 15:16] bvaughn commented on #9728
@joecritch I don't have the final say on what happens to the docs site but I've been interested in improving it for a while now too. I'll chat about it with Tom in the next day or so and get some more context.

[2017-06-07 16:53] joecritch commented on #9728
@bvaughn Cheers Brian 👍

[2017-06-07 17:06] brendoncrawford opened #9884 "Input type="number", when initial value is `"0"` or `0`, and value changes to empty string "", value does not update"
Example of bug here:
https://jsfiddle.net/69z2wepo/80380/

My best guess is that maybe React is doing some truthiness checking which thinks that 0 is the same as "", so it is not updating the value of the component.

[2017-06-07 17:34] aaronshaf opened #9885 "viewBox of inline SVG sometimes rendered as viewbox"
React.js doesn't seem to be consistently rendering `viewBox` as camel-cased `viewBox`; it instead of rendered as `viewbox`.

Sample code:

https://gist.github.com/aaronshaf/d161800bee8e6244111a1e06c8f1dc84#file-color-button-js-L51

It works in Chrome, but not in Firefox or IE11.

Any ideas?

Version: 15.5.4

[2017-06-07 17:46] aweary commented on #9884
Thanks for the report @brendoncrawford!

I believe this will be resolved by https://github.com/facebook/react/pull/9714

[2017-06-07 17:55] aweary commented on #9885
@aaronshaf thanks for the report. We [map to the camel-cased `"viewBox"`](https://github.com/facebook/react/blob/b1b4a2fb252f26fe10d29ba60d85ff89a85ff3ec/src/renderers/dom/shared/SVGDOMPropertyConfig.js#L247) in all cases. Can you share a small example reproducing your issue? I [created a small example](https://jsfiddle.net/r1hxxtmz/) and see it rendered as `viewBox` in Chrome and Firefox.

The is

[2017-06-07 17:58] aweary commented on #9878
Thanks for taking the time to write up the request @ThomasJuster! Future versions of React will not warn about unknown props on DOM elements. We advise that you avoid spreading props onto DOM nodes in general unless you can guarantee they contain only valid HTML attributes. The warning was put into place to ease the transition, as React will eventually just let all attributes pass through.

Since

[2017-06-07 17:58] #9878 closed

[2017-06-07 18:00] aweary commented on #9878
As an example, you can use spread to _avoid_ passing down invalid props/attributes

[code]

[2017-06-07 18:26] Assitan commented on #9844
Hello, I'm working on it (first contribution).

[2017-06-07 18:40] aweary commented on #9844
Hey @Assitan! Just a heads up, there's already an open PR for this fix: https://github.com/facebook/react/pull/9845

[2017-06-07 19:02] Assitan commented on #9844
Ok :)

[2017-06-07 20:03] leocabeza commented on #8063
Hi. Just writing here to let anyone know I can help with spanish translations. I'll be watching this issue.

[2017-06-07 21:01] gaearon commented on #8063
Thanks! There‘s ongoing work to begin accepting translations in the coming weeks.

[2017-06-07 21:09] QuantumHive opened #9888 "Number.isNaN() in IE11"
`Number.isNaN()` is [not supported](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isNaN#Browser_compatibility) in Internet Explorer 11.

In a code sample from the [Lifting State Up](https://github.com/facebook/react/blob/master/docs/docs/lifting-state-up.md) documentation, `Number.isNaN()` is used. Specifically in the [Writing Conversion Functions](https:/

[2017-06-08 01:48] tufik2 opened #9890 "Lost setNativeProp and others methods when I create personal Component with Child nodes"
Hi there, I am creating a custom Component
[code]
Inside MyComponent I loop over all Childs refs with the next code:
[code]
But when I try to use setNativeProp in `<Text>` inside my component. SetNativeProp is undefined

I am using the next code to reach the child inside of any method.

`this.refs.tab0.children[0],`

Another way I tried was putting up refs to each text but, I lost the refs also.

[2017-06-08 02:06] aaronshaf commented on #2011
I am adding the event listener manually and using:

[code]

[2017-06-08 02:13] nanda248 commented on #3667
import ReactDOM from 'react-dom';
...
componentDidMount(){
	  $(document).ready(function() {
	    $('select').material_select();
	  });
	  $(ReactDOM.findDOMNode(this.refs.testSelect)).on('change',this.handleSelectChange.bind(this));
	}

	handleSelectChange(event) {
		event.preventDefault();
		var test = event.target.value;
     	        this.setState({value: test});
   }

render(){
...
<div class

[2017-06-08 05:42] BnayaZil commented on #5465
Suggestion for small improvement with @istarkov code:
[code]
It's just that the new promise is redundant.

[2017-06-08 07:53] ahmed32ali opened #9892 "JavaScript Responsible of rendering html issue"
I have a question Related to binding html in JavaScript and making JavaScript responsible of creating the dom that's hiding this resources from the browser , it's all blocked in JavaScript which lead to opting html out of optimization which the browser do like background parsing of html in a separate thread so when you bind html in JavaScript you just bind with your own code am I Understand react

[2017-06-08 09:13] sullenor opened #9893 "Do not trigger the change event for the same radio value"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Selecting of the same value for the `input[type=radio]` twice in a row results in triggering of change event twice for the same value.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template

[2017-06-08 09:13] alshain opened #9894 "Cursor jumps to end on controlled component"
**Do you want to request a *feature* or report a *bug*?**
Bug as per https://github.com/facebook/react/issues/6445#issuecomment-281864796

**What is the current behavior?**
When typing inside a controlled input component, the cursor will jump to the end if the value is modified in `handleChange()`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2017-06-08 13:07] gaearon commented on #9893
cc @nhunzaker @aweary

[2017-06-08 13:12] gaearon commented on #9894
If you modify the input text (such as the case with `toUpperCase()` transform), I think this is expected.

There is no way React can guess that your particular transform preserves the number of characters. From React’s point of view, the text was completely replaced after typing, so it puts cursor at the end. You can get around it by manually managing DOM selection using a ref. This is explained i

[2017-06-08 13:12] #9894 closed

[2017-06-08 13:17] gaearon commented on #9888
`isNaN` has [confusing behavior](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/isNaN#Description) and I’d rather avoid using it in docs.

We use ES2015 in the documentation, and indeed some runtime methods may not be available in older browsers like IE11. I feel like we’re willing to live with it for examples, as most people use modern browsers when learning. It’s j

[2017-06-08 13:17] #9888 closed

[2017-06-08 13:29] samsch commented on #6949
I seem to have found another instance of this warning. It's triggered by a null reference inside a react-toolbox Dialog (similar to react-portal) child method. I built a test-case. It's not as minimal as I would like, but I wasn't able to recreate the bug in a couple hours in jsfiddle without react-toolbox.

[Test case](https://github.com/samsch/test-ref-perf-bug)

[2017-06-08 13:57] gaearon commented on #6949
At this point it’s unlikely we’ll spend time fixing it, as we’re working on a rewrite that doesn’t include this addon. That said if you find an easy fix please send a PR.

[2017-06-08 14:16] aweary commented on #9893
Thanks for the report @sullenor. It looks like this [works as expected with React 16](https://jsfiddle.net/qndky7tL/). We'll look into this and see if we can include a fix in the 15.6 release.

[2017-06-08 15:20] bvaughn commented on #9892
Hi @ahmed32ali,

We try to keep GitHub issues focused on either bug reports or discussion around requirements for new features. This is more of a question than an actionable issue so I'm going to close it.

I suggest re-posting this question in one of the great community-driven platforms like [Reactiflux](https://www.reactiflux.com/), [discuss.reactjs.org](https://discuss.reactjs.org/), or StackOv

[2017-06-08 15:20] #9892 closed

[2017-06-08 17:28] gaearon commented on #9890
If you believe this is a bug in React please create an example reproducing it.

[2017-06-08 17:43] erku123 opened #9898 "EventHandler on React Component without implementing it from the component side"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
To add event handler to components outer layer, it has to be implemented from inside the component as well, like: `return <div onClick={this.props.clickHandler}></div>`  without that can't add event handlers from parent. While something like this should work in my opinion: `<SomeComponent onClick={

[2017-06-08 18:18] bvaughn commented on #9898
The behavior you've described could be convenient in some cases (like the one you mention) but I don't think it's a good generic solution.

Firstly it would require React renderers (like DOM) to maintain an explicit whitelist of event handlers and treat them differently than all other component props. In general, whitelists are something we're moving away from (eg DOM attributes) as they bloat the

[2017-06-08 18:18] #9898 closed

[2017-06-08 18:25] bvaughn commented on #9890
I assume the `{element}` in question is an instance of your `MyCompoent`? And you're expecting refs to those instances (of `MyComponent`) to define `setNativeProps`?

Components you create in your own app (by extending `React.Components`) don't automatically inherit methods like `setNativeProp`. That method (and others like it) are only available on the default components exported by React Native

[2017-06-08 18:31] aaronshaf commented on #9885
Looks like it was interference from the https://github.com/webcomponents/custom-elements polyfill.

[2017-06-08 18:31] #9885 closed

[2017-06-08 22:49] flarnie opened #9900 "Get fixtures working on 15.* branch"
There are multiple errors thrown when trying to build the fixtures on the `15-stable` and `15.6-dev` branches. I need the fixtures working in order to do some manual testing of add-on fixes.

[2017-06-08 22:50] greglittlefield-wf opened #9901 "Mouseleave events fire unexpectedly when mousing into descendant node with a different React root"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When mousing into a descendant DOM node that has a different React root, the mouseLeave event on the parent React DOM component is fired unexpectedly.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or sim

[2017-06-09 01:21] pingan1927 commented on #9712
your example is not same with mine. the key is .98 can't be formated to 0.98. Because as number they are equal.

[2017-06-09 04:51] benpptung opened #9904 "Is it possible to delay the propTypes isRequired validation before constructor() got called?"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
When element is wrapped like following:
[code]

In Child,
[code]
Will receive waring:
[code]
I understand this is an expected behavior, however, the warning is really annoying.

**What is the expected behavior?**
Delay the propTypes validation till `willMount` or `rendered` or `didMount` to avoid u

[2017-06-09 10:31] HarishBalagoni commented on #2764
use componentWillMount(){ this.setState({key:this.props.defaultvalue});}
then render with <
defaultValue={this.key}>

[2017-06-09 18:45] santiagopuentep commented on #2621
Also, mouseEnter event never triggers.

[2017-06-09 19:59] Kikobeats commented on #5042
@sbenda can you paste your code with `true`? thanks!

[2017-06-09 20:05] bvaughn commented on #2621
I don't think React should implement the behavior described in this issue. It's not React-specific. Certain browsers (eg Chrome, Safari) don't dispatch a _mouseover_ or _mouseenter_ event in the case you've described (even using vanilla JS) until the mouse moves again. I don't think React should try to iron over this behavior.

I'm going to close this issue for now. We can always reopen it if othe

[2017-06-09 20:05] #2621 closed

[2017-06-09 20:07] #9900 closed

[2017-06-09 23:18] balloob opened #9913 "react-addons-update 15.5.2 uses Object.assign"
**Do you want to request a *feature* or report a *bug*?**
Undocumented breaking change for IE11

**What is the current behavior?**
Starting `react-addons-update` v15.5 the package has been changed from depending on an internal file from the `react` package (`react/lib/update.js`) to actually include the full implementation.

While the internal implementation depended on the `object-assign` polyfil

[2017-06-09 23:29] gaearon commented on #9913
This is a bug an unintentional. cc @flarnie

[2017-06-09 23:31] gaearon commented on #9913
It happened because we have a Babel transform turning it into `require('object-assign')` calls. But we didn't transpile addons when we extracted them. We should fix this in 15.6.

[2017-06-10 10:28] vadiminc opened #9915 "[Urgent] Doesn't support the latest builds of React-Native and React"
it's not possible to use with latest 2 builds of react-native and react. it's related that react-native works already with 16.0.0-alpha.xx builds. But react-dom doesn't support it and the app is crashes.

[2017-06-10 12:44] gaearon commented on #9915
React Native depends on an `alpha` version of `react` package because it has a faster release cycle. Please use whatever version of `react` that React Native tells you to.

There *exists* a related `react-dom` version but it’s not ready for public consumption yet.

I’m not sure what the issue is, so I’ll close. It seems intentional to me. If you have problems please describe them in more detail (e

[2017-06-10 12:44] #9915 closed

[2017-06-10 17:09] gaearon commented on #9904
No, it’s not possible.
Please see https://github.com/facebook/react/issues/6653 for the past discussion.

[2017-06-10 17:09] #9904 closed

[2017-06-10 17:26] flarnie commented on #9765
I'm going to work on this, hopefully will get it resolved in time for the 15.6 release.

[2017-06-10 19:07] szimek commented on #8788
@gaearon Is it really enough to set `NODE_ENV=production` to ensure that `react` and `react-dom/server` don't load and execute unnecessary code in production? Is it mentioned anywhere in the docs?

I'm using Webpack 2.6.1 and I'm trying to use minified versions of `react` and `react-dom/server` (both 15.5.4) using the following config:
[code]
but I'm getting exactly the same error, i.e. `Cannot re

[2017-06-11 08:11] nippur72 commented on #7328
is there any workaround for this issue?

[2017-06-11 19:18] benwiley4000 opened #9922 "Non-shouldComponentUpdate for state AND prop updates."
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

The only render-independent lifecycle hook that is called for both state and prop updates is `shouldComponentUpdate`.

**What is the expected behavior?**

There are certain cases where it currently makes sense to run some code whenever state or props update, even if a render won't happen. E.g. a

[2017-06-11 22:29] aweary commented on #9848
Closing since there has been no response.

[2017-06-11 22:29] #9848 closed

[2017-06-12 07:26] mdogadailo commented on #5626
`<image />` load and error events were fixes here #9042

[2017-06-12 07:29] zabojad commented on #5626
@mdogadailo that doesn't seem to have affected `<svg />` load and error events...

[2017-06-12 07:32] mdogadailo commented on #5626
@zabojad yes, but this ticket about `<image />` tag, not about `<svg />` element like here #9607

[2017-06-12 08:33] lemonleon opened #9925 "If ReactCSSTransitionGroup children has text, IE(IE10, edge) will be a false effect"
**Do you want to request a *feature* or report a *bug*?**
I think may be a bug？ Or is it IE problem？I'm not sure.
**What is the current behavior?**
When ReactCSSTransitionGroup children has text(any text)， IE(IE10, edge) will be a false effect；

like this：
[code]

And if no text in there, it will be ok

**Which versions of React, and which browser / OS are affected by this issue? Did this work in

[2017-06-12 10:56] gaearon commented on #9925
Thanks for report, but we no longer maintain TransitionGroup in this repository.
Please report to https://github.com/reactjs/react-transition-group instead.
Cheers!

[2017-06-12 10:56] #9925 closed

[2017-06-12 13:11] rosenfeld opened #9926 "Inconsistencies among the documentation"
Hi, I'm trying to figure out whether adopting React would be a safe or risky choice. It's very important to me to being able to draw the boundaries, i.e., to be able to define which node elements should be managed by React and which ones should not. It's pretty important that I should be able to integrate well with non-react components. So, I was trying to understand what guarantees I get when usi

[2017-06-12 13:12] RUPOJS commented on #9866
Is this already done ? I want to take this up. Please let me know if I can take this. Also, it would be great if you can point me to the right direction for starting this one. TIA.

[2017-06-12 14:41] julienfouilhe opened #9927 "Javascript heap out of memory with 0.45.1"

[2017-06-12 14:43] #9927 closed

[2017-06-12 15:02] rickyH commented on #9594
We also have this issue.

[2017-06-12 15:17] rickyH commented on #9594
https://github.com/facebook/react/blob/b1768b5a48d1f82e4ef4150e0036c5f846d3758a/src/renderers/dom/shared/HTMLDOMPropertyConfig.js

[2017-06-12 17:35] iamtekeste opened #9930 "Stateless React components with controlled input"
I have asked this question on Stackoverflow but did not get any response, so I am trying my luck here.

Currently to make controlled inputs work inside Stateless React components I am wrapping the stateless component inside a Sate full component.

For example,

[code]
What I would like to know is a couple of things.

Is this a good pattern?
If not how can I achieve my goal i.e to have controlled i

[2017-06-12 18:12] byronmwong commented on #2461
We've used the `BatchingStrategy` API as a way to wrap `try/catch`es around React code. It catches errors in `render()`s (initial and updates) and catches errors in your event handlers/callbacks. It doesn't require any monkey-patching and doesn't require you to wrap or modify any of your existing components.

**HOWEVER**, the `BatchingStrategy` API is going to be deprecated, so this strategy won't

[2017-06-12 18:46] gaearon commented on #7551
Merged https://github.com/facebook/react/issues/9933, will be out soon.

[2017-06-12 18:47] gaearon commented on #9410
Seems like that works!

[2017-06-12 18:47] #9410 closed

[2017-06-12 18:50] gaearon commented on #9755
We fixed this in https://github.com/facebook/react/pull/9766. Will be out in next release.

[2017-06-12 18:50] #9755 closed

[2017-06-12 19:22] #9627 closed

[2017-06-12 20:21] gaearon commented on #9750
This is fixed in https://github.com/facebook/react/pull/9933 and will be out with next release.

[2017-06-12 20:21] #9750 closed

[2017-06-12 22:43] chicoxyzzy commented on #6436
FYI Edge 16 [will ship Passive Event Listeners](https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/desktop/16215/?compareWith=15063). It's the [last of major browsers that doesn't support them yet](https://caniuse.com/#feat=passive-event-listener).

[2017-06-13 00:32] nhunzaker commented on #9594
Ah I might have misdiagnosed this. @rickyH is right, it looks like we just need to add these to a whitelist. I'll throw together a PR and get something up for testing.

[2017-06-13 00:49] nhunzaker commented on #9594
Done in https://github.com/facebook/react/pull/9940. I've also put up a jsfiddle if anyone doesn't mind taking a gander to make sure I haven't missed something:

https://jsfiddle.net/84v837e9/88/

[2017-06-13 00:56] nhunzaker commented on #9712
@aweary Just housekeeping. Do we close out issues before a release with the fix has shipped or wait?

[2017-06-13 00:59] aweary commented on #9712
@nhunzaker typically I close the issue once the has been merged into master 👍

[2017-06-13 01:13] nhunzaker commented on #9594
Merged the addition. I've also sent out a pull request to ship it in the next minor release:
https://github.com/facebook/react/pull/9941

[2017-06-13 02:20] nhunzaker commented on #9712
Awesome, thanks! @pingan1927 This should land in the next minor release of React: `15.6.0`

[2017-06-13 02:20] #9712 closed

[2017-06-13 02:21] luchillo17 commented on #8788
@szimek I'm having the exact same error, except in React-Native and no `react-dom`, any idea where to look?

![image](https://user-images.githubusercontent.com/9698639/27063070-16be2cd4-4fb5-11e7-9203-0b8747fdeb36.png)

[2017-06-13 08:06] uragecz commented on #6174
Is there any way how to print measurement to DOM, for example like a simple text into <div></div> ??

[2017-06-13 08:35] gaearon commented on #8788
@luchillo17 You seem to be mixing incompatible versions of `react` and `react-native`.

[2017-06-13 11:12] gaearon commented on #9913
Closing since this was fixed in https://github.com/facebook/react/pull/9932.

[2017-06-13 11:12] #9913 closed

[2017-06-13 11:13] gaearon commented on #9877
Works for me with `react@next` and `react-dom@next` (both pointing to latest alpha).
https://jsfiddle.net/xa7kg3nt/

[2017-06-13 11:13] #9877 closed

[2017-06-13 11:13] #9868 closed

[2017-06-13 11:14] gaearon commented on #9876
Happy to take PR fixing it.

[2017-06-13 11:15] gaearon commented on #9866
I don't think this is taken—please feel free to work on it.

The first post describes where the code lives and what should be done. If you have more specific questions as you work on this, please post in this thread, and we'll try to answer!

[2017-06-13 11:17] gaearon commented on #9822
We'll need a reproducible example to proceed with this.
I'll close for now since this is impossible to investigate, but if you create one I can reopen.
Thanks!

[2017-06-13 11:17] #9822 closed

[2017-06-13 11:23] gaearon commented on #9808
It's a bit hard for me to figure out what's going on there, but in any case we're going to eventually drop `unstable_renderSubtreeIntoContainer` in favor of a first-class portal API.

You can see a working example using `unstable_createPortal` here: https://jsfiddle.net/r442t0mk/. (It requires React 16 which is in alpha now.)

I'll close because it's unlikely we'll change `unstable_renderSubtreeIn

[2017-06-13 11:23] #9808 closed

[2017-06-13 11:28] oliviertassinari commented on #9808
Thanks for the following up. We will try to refactor the portal implementation (using `unstable_createPortal`) of Material-UI to solve that regression introduced by the fiber reconciliation algo.

[2017-06-13 11:33] gaearon commented on #9808
I don't think there is any regression there, is there? It seems like the example in this issue is with 15.4.x. So Fiber does not change the behavior there.

[2017-06-13 11:41] oliviertassinari commented on #9808
I'm not sure it's a regression either, it could be an edge case making it work with 15.4.x but not with the pre-release version. Still, we have noticed a breaking-change on the Material-UI project. We have that open issue for more reference #7025. Will dig more into it.

[2017-06-13 12:28] gaearon commented on #9808
I’m still confused. Are you saying there is a React version where https://jsfiddle.net/cassln/cusus029/2/ ever worked? Or are you saying there is a different similar issue?

[2017-06-13 12:38] robertistok commented on #9930
This section is for issues with the React framework, not for tips and best practices. You should join to https://www.reactiflux.com, there is a huge React community where you can chat about issues like this.

But to answer your post, this is a good pattern for having controlled inputs. Unfortunately you can't make a controlled input only with a stateless component in other way.

[2017-06-13 14:35] aweary commented on #9922
Hey @benwiley4000, thanks for taking the time to write out your suggestion. We have [an umbrella issue for new lifecycle method ideas](https://github.com/facebook/react/issues/7678). Could you post your proposal there instead?

Thanks!

[2017-06-13 14:35] #9922 closed

[2017-06-13 14:37] aweary commented on #9930
As @robertistok mentioned, we try to use this issue tracker for bug reports and feature requests only. If you have a usage or support question, we recommend checking out one of the great community-driven platforms like [Reactiflux](https://www.reactiflux.com/), [discuss.reactjs.org](https://discuss.reactjs.org/), or StackOverflow.

[2017-06-13 14:37] #9930 closed

[2017-06-13 15:47] MarkSMT opened #9944 "Refs not working properly in componentDidMount"
**Do you want to request a *feature* or report a *bug*?**
Bug or user failure

**What is the current behavior?**
this.input.click() only happens when one child component is rendered, it fails on the first one

**If the current behavior is a bug, please provide the steps to reproduce...** https://www.webpackbin.com/bins/-KmX1MtJi0LSB43lN3k1

**What is the expected behavior?**
the first component sh

[2017-06-13 16:06] benwiley4000 commented on #7678
On @aweary's suggestion I'm moving this idea here:

### `componentWillReceiveState`
Only called for state updates. Should be called *after* `componentWillReceiveProps` (which may have updated the `nextState`), and *before* `shouldComponentUpdate`. No `setState` allowed.

Why? There are certain cases where it currently makes sense to run some code whenever state updates, even if a render won't happ

[2017-06-13 16:24] luchillo17 commented on #8788
Oh i didn't think that'd be a thing, is there an official compatibility chart?

[2017-06-13 16:39] flarnie opened #9947 "Fix `systemjs.html` fixture on `15.*` branch"
**Do you want to request a *feature* or report a *bug*?**
This is some kind of bug, either in React or in the `systemjs.html` fixture.

**What is the current behavior?**
When you open `fixtures/systemjs.html` there is an error in the console and React does not load:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via h

[2017-06-13 16:40] gaearon commented on #8788
React Native always supports only one version of `react` package. You can find out which one it is by checking `node_modules/react-native/package.json` and looking for `react` peer dependency there. You should already get a warning if you use the wrong one.

[2017-06-13 16:45] gaearon commented on #9947
I think the issue is that you [need to use the local server](https://github.com/facebook/react/tree/master/fixtures/packaging#how-to-run)—`file://` doesn't work because of some XHR cross domain stuff.

[2017-06-13 16:46] ryanhomer opened #9948 "How safe is React Native with React 16 Alpha?"
I am currently on React Native **0.42.3**. Since then 0.43, 0.44, 0.45 have been released as stable and 0.46 is around the corner. RN 0.42.3 uses React **15.4.2**. March saw the release of RN 0.43 which started using the React 16.0.0-alpha series and completely skipped version 15.5. This has prevented me from updating React Native as I've been waiting for a official "stable" release of React 16.

[2017-06-13 16:49] ryanhomer commented on #9948
Sorry, should have posted this on React Native side.

[2017-06-13 16:49] #9948 closed

[2017-06-13 16:50] ryanhomer commented on #9948
https://github.com/facebook/react-native/issues/14496

[2017-06-13 16:53] gaearon commented on #9948
See reply in https://github.com/facebook/react-native/issues/14496#issuecomment-308179958.

[2017-06-13 17:12] flarnie commented on #9947
Thanks @gaearon - that is the one fixture that requires running the local server. Looks like all fixtures are good to go after all. :)

[2017-06-13 17:12] #9947 closed

[2017-06-13 18:31] flarnie commented on #7211
Closing this - should be fixed in `15.6.` which we just released.

[2017-06-13 18:31] #7211 closed

[2017-06-13 18:32] flarnie commented on #6614
This should be fixed in v15.6.0, which was just released today. Please reopen or open a new issue referencing this one if it still is an issue.

[2017-06-13 18:32] #6614 closed

[2017-06-13 18:32] flarnie commented on #6822
This should be fixed in v15.6.0, which we released today.

[2017-06-13 18:32] #6822 closed

[2017-06-13 22:19] gaearon commented on #9689
This should be fixed with `create-react-class@15.6.0-rc.0`. Please verify (I plan to publish the final `15.6.0` version of it tomorrow).

[2017-06-13 22:19] #9689 closed

[2017-06-13 22:20] #9765 closed

[2017-06-13 22:21] gaearon commented on #9749
This should be fixed with `create-react-class@15.6.0-rc.0`. Please verify (I plan to publish the final `15.6.0` version of it tomorrow).

[2017-06-13 22:46] gaearon commented on #9627
This should be fixed with `create-react-class@15.6.0-rc.0`. Can you please verify?

[2017-06-13 22:46] gaearon commented on #9913
This should be fixed with `react-addons-update@15.6.0-rc.0`. Can you please verify?

[2017-06-13 22:56] gaearon commented on #7551
This should be fixed in `create-react-class@15.6.0-rc.0`. Please verify, it will become `15.6.0` tomorrow.

[2017-06-13 23:04] mridgway commented on #9627
I don't see that version published yet.

[2017-06-13 23:05] gaearon commented on #9627
It's not set to `latest` (still an RC) but it exists:

https://unpkg.com/create-react-class@15.6.0-rc.0/

[2017-06-13 23:10] mridgway commented on #9627
Ah indeed. It's probably our internal registry being slow. I'll try it out soon.

[2017-06-13 23:27] mridgway commented on #9627
Confirmed working correctly in `create-react-class@15.6.0-rc.0`.

[2017-06-13 23:40] santiagopuentep commented on #9501
@gaearon I was finally able to create a vanilla JS version and the problem persists, so it's not React.

Changing the positioning of the DOM nodes resets the transition of the ones that were moved (at least with `DOMNode.append()`).

Here is a JSFiddle with the vanilla version:
https://jsfiddle.net/santiagopuentep/zndmx89z/

Thanks for the help anyway!

[2017-06-13 23:40] #9501 closed

[2017-06-13 23:41] gaearon commented on #9627
Great. Thanks for sending the fix!

[2017-06-14 00:04] gaearon opened #9955 "Run some unit tests on compiled bundles"
A lot of our tests are now using only public APIs, and with https://github.com/facebook/react/pull/9954 this number is growing.

Soon we'll delete the Stack reconciler code, and with it we can remove some feature flags (partly responsible for non-public API calls) as well as Stack-specific tests.

We'll still have some tests that operate directly on files, but we should be in a position when we ca

[2017-06-14 00:04] gaearon commented on #9955
cc @iamdustan in case you're interested

[2017-06-14 00:57] luchillo17 commented on #8788
@gaearon I've looked at that package.json file and the version is `0.44.3`, the peer dependency is `16.0.0-alpha.6` and the react version i have installed is `16.0.0-alpha.6`.

![image](https://user-images.githubusercontent.com/9698639/27110900-204f4c2a-5072-11e7-949f-63ece78468d3.png)

At this point i'm considering starting a new project and moving my source folder.

[2017-06-14 01:46] flarnie commented on #9913
Inspecting the 'unpkg' seems to confirm this is fixed:
The `15.5.2` (latest) version of `react-addons-update` has `Object.assign` in two places: https://unpkg.com/react-addons-update@15.5.2/react-addons-update.js

The `15.6.0-rc.0` version of `react-addons-update` has the polyfill inline, and no other references to it: https://unpkg.com/react-addons-update@15.6.0-rc.0/react-addons-update.js

I hav

[2017-06-14 01:58] flarnie commented on #9913
I didn't find a quick way to test loading this module - let me know how? So I can do that tomorrow if that would be helpful. Was trying to load it in a JS fiddle from unpkg but didn't get it right.

[2017-06-14 03:26] luchillo17 commented on #8788
I've been testing more, this is my output in a component with just `React-Native`'s `Text` component:
![image](https://user-images.githubusercontent.com/9698639/27114123-f16e420c-5086-11e7-9367-aaf979772b8d.png)
And this is with `Native-Base`'s `Text` component:
![image](https://user-images.githubusercontent.com/9698639/27114144-1ad0c9da-5087-11e7-857c-4984ae93f0d4.png)
Please don't tell me `Nativ

[2017-06-14 03:57] ambar commented on #9877
`@next` breaks server rendering: https://jsfiddle.net/ambarli/xa7kg3nt/1/

[2017-06-14 04:12] craftzdog commented on #8280
Why not use `transition-delay`?

[2017-06-14 05:29] aweary commented on #8280
We are no longer maintaining the transition group add-ons, please check out https://github.com/reactjs/react-transition-group instead. Thanks!

[2017-06-14 05:29] #8280 closed

[2017-06-14 06:31] jochenberger commented on #7551
Now, GCC complains about trailing commas in object literals:
[code]
The error positions seem to be wrong though.

[2017-06-14 08:21] rikuayanokozy commented on #3965
https://github.com/facebook/react-native/issues/14508
Re-parent is important for react-native.

[2017-06-14 08:37] sanniassin commented on #9944
@MarkSMT In your example you set the same state in both onClick handlers, so state actually changes only on first click. That's why componentDidMount executed only once.
[code]

[2017-06-14 08:44] elijahsmith commented on #9750
this change is not in 15.6.0 nor the latest build of the create-react-class npm package

https://github.com/facebook/react/blob/v15.6.0/addons/create-react-class/factory.js#L163

do we need to wait for 15.6.1?

[2017-06-14 09:05] MarkSMT commented on #9944
I updated the code, but that's actually not the issue.
The file upload dialog should show when the site loads..

Component 'one' gets loaded when the site gets loaded, but the dialog box doen't appear.
That's the bug i am referring to..

[2017-06-14 09:34] gaearon commented on #7551
If we fix those trailing commas, are there any more issues? It's a bit frustrating we don't have the whole list of issues and have to fix them one by one.

[2017-06-14 09:35] gaearon commented on #9750
See my comment in https://github.com/facebook/react/issues/7551#issuecomment-308272011.

It is in the 15.6.0 RC of addons (it will be released separately today).

[2017-06-14 09:36] gaearon commented on #8280
(To be clear, the linked repo is a drop-in replacement as of version 1, which will be maintained in foreseeable future.)

[2017-06-14 09:37] gaearon commented on #9877
It's expected, if it fully worked it wouldn't have been an alpha :-). You are describing a new feature. The name itself says it's not stable yet.

[2017-06-14 09:37] gaearon commented on #9877
That said I don't think we currently support error boundaries in server renderer at all. Might be worth raising a separate issue.

[2017-06-14 09:39] gaearon commented on #8788
Please provide a project reproducing the problem. People generally use RN without such issues so you need to give more details to help you.

[2017-06-14 09:41] Shastel commented on #7551
@gaearon is React 15 supports ie8 and bellow?

[2017-06-14 09:49] sanniassin commented on #9944
I guess it's due security restrictions in browsers and not related to React. You can call ```fileInput.click()``` only inside handler of actual click.

https://stackoverflow.com/questions/25886480/trigger-click-on-input-file

Vanilla js demo: https://www.webpackbin.com/bins/-Km_gSgZ8ecpt38Y4uU2

[2017-06-14 11:03] gaearon commented on #7551
No.

[2017-06-14 11:29] #9944 closed

[2017-06-14 11:29] badtant opened #9956 "onClick and onChange doesn't fire on radio buttons on iOS"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
onClick and onChange doesn't fire on radio buttons on iOS
TypeError: undefined is not an object (evaluating 'descriptor.get.call')

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: http

[2017-06-14 11:29] gaearon commented on #9890
I’ll close as I think @bvaughn addressed the question. If you still have issues please create an example reproducing the problem. Thanks!

[2017-06-14 11:29] #9890 closed

[2017-06-14 11:45] Shastel commented on #7551
@gaearon so, we can ignore GCC warn about ie8

[2017-06-14 11:48] gaearon commented on #7551
Ah, I see. Regardless, this was easy to fix, so I added the fix for 15.6.0 final (which I'll cut soon).

[2017-06-14 12:13] jochenberger commented on #7551
It's not a warning, it's an error. The behavior depends on the language level that is set for GCC.
@gaearon I'll try the new build now.

[2017-06-14 12:14] gaearon commented on #7551
Sorry, I haven't published the version without trailing commas yet. Doing some final testing.

[2017-06-14 12:19] jochenberger commented on #7551
You can always check the results using http://closure-compiler.appspot.com/home#code or https://developers.google.com/closure/compiler/docs/api-tutorial1

[2017-06-14 12:38] luchillo17 commented on #8788
Can i tell `react-native-cli` to use npm instead of yarn?, i think most people don't use yarn right?

[2017-06-14 12:46] gaearon commented on #8788
Sorry, you'd need to ask this in `react-native` repository. I don't know.

[2017-06-14 12:49] luchillo17 commented on #8788
So i guess providing you with a repo would mean nothing since it's a `React-Native` app?

[2017-06-14 12:49] gaearon commented on #8788
I can take a look at it to see if anything is wrong on the `react` side of things but I can't answer questions like

because `react-native-cli` is not part of this repo.

[2017-06-14 12:51] gaearon commented on #7551
`create-react-class@15.6.0` is out with fixes.

[2017-06-14 13:03] jochenberger commented on #7551
Works fine AFAICT, thanks!

[2017-06-14 13:05] gaearon commented on #7551
Thanks for reporting all the issues! Sorry we haven't been acting very fast. The good news is we revamped how addons are built, so it's very unlikely we'll have more issues there, and if you find something, we'll be able to fix them much faster now.

[2017-06-14 13:05] gaearon commented on #9956
cc @aweary @nhunzaker

[2017-06-14 13:08] gaearon commented on #9956
also cc @jquense, this code was added in https://github.com/facebook/react/pull/8575.

[2017-06-14 13:13] luchillo17 commented on #8788
Also i'm using typescript, maybe that's part of the issue?

[2017-06-14 13:17] gaearon commented on #8788
I don't know. As for your report,

This doesn't sound right. You can see `ReactGlobalSharedState.js` in your stack trace. This file doesn't exist in `react-native@0.44.3` ([try searching](https://github.com/facebook/react-native/tree/v0.44.3)). So if you see it in the redbox, you are *not* running 0.44.

That file was added in `react-native@0.45`. But `0.45` [also bumped minimal required `react` v

[2017-06-14 14:21] morten-olsen opened #9959 "BUG: version 15.6 is not working on iOS 9.3 and below (inputValueTracking.js)"
It appears that version 15.6 does not work on older iOS devices (iOS 9.2 and 9.3 tested to be affected)

The root cause appears to be that `Object.getOwnPropertyDescriptor` is broken on these versions (it simply return `undefined`)
This method is used inside `src/renderers/dom/shared/inputValueTracking.js`, which causes React to break on `ReactDOM.render` causing nothing to be rendered

**Error me

[2017-06-14 14:24] gaearon commented on #9959
Thanks! This is already reported in https://github.com/facebook/react/issues/9956.

[2017-06-14 14:24] #9959 closed

[2017-06-14 14:29] jquense commented on #9956
o my there should have been a fix in with this...perhaps it only got into master? let me find it

[2017-06-14 14:31] jquense commented on #9956
arg, the problem with so much time between these, I forgot that this was also added to master: https://github.com/facebook/react/pull/6648/files

[2017-06-14 14:31] luchillo17 commented on #8788
Ok i've updated deps, now dependencies are like this:
![image](https://user-images.githubusercontent.com/9698639/27137708-32fe77de-50e4-11e7-9c4f-9bf45093ccb1.png)

And error has changed to:
![image](https://user-images.githubusercontent.com/9698639/27137745-4b060e00-50e4-11e7-8bfc-d2c57d4630cb.png)

[2017-06-14 14:34] gaearon commented on #9956
Thanks! Do you remember if there was anything else, or we can cut 15.6.1 with this?

[2017-06-14 14:36] jquense commented on #9956
Should be it, at least in terms of changes i've made. I didn't hear about any other issues so I don't think there was anything else added...

[2017-06-14 14:37] gaearon commented on #8788
Please provide minimal code reproducing the problem. It's likely the problem is exactly what the error message says. In future versions we'll provide more details there.

[2017-06-14 14:43] flarnie commented on #9956
I'll cherry-pick it and cut 15.6.1 now. Thanks @jquense and @gaearon ~

[2017-06-14 14:56] krazik opened #9961 "undefined is not an object (evaluating 'u.get.call') since 15.6.0"
Since updating to 15.6.0 I've started having an uncaught exception `undefined is not an object (evaluating 'u.get.call')`  I've pinned version back to `^15.5.0` and problem has gone away

Per Rollbar problem seems me mostly ios safari (9.x?), but sometimes osx safari too.  We've been unable to repo ourselves, but users are clearly experiencing it.

User agents:
[code]

Stacktraces:
[code]
[code]

[2017-06-14 15:00] gaearon commented on #9961
This was just reported two times 😉
The fix will be out soon.

https://github.com/facebook/react/issues/9956

[2017-06-14 15:00] #9961 closed

[2017-06-14 15:01] luchillo17 commented on #8788
I'll try making it from zero because the current error message says `Maximum call stack size exceeded` (which makes me think i have an infinite loop somewhere).

The error above shows after activating `Debug JS Remotely`.

[2017-06-14 15:19] sebmarkbage opened #9962 "String Refs Without An Owner Should Fail Gracefully"
Occurs in Fiber with multiple instances of the React package (which can't share current owner).

[2017-06-14 15:54] TrySound opened #9963 "Do not add units to css custom properties"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

[code]
becomes
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**

https://codepen.io/TrySound/pen/MojVOp

**What is the expected behavior?**

[2017-06-14 15:58] gaearon commented on #9963
Would you like to send a fix? We still have some time before cutting 15.6.1.

[2017-06-14 16:01] TrySound commented on #9963
Sure.

[2017-06-14 17:21] gaearon commented on #9963
We're looking to cut it at most tomorrow so please let us know if you can't finish it today, and we'll look into it.

[2017-06-14 17:33] flarnie commented on #9956
Just an update - we're waiting to cut 15.6.1 until a fix is in for https://github.com/facebook/react/issues/9963. Will release it either way within a day.

[2017-06-14 17:43] mr47 commented on #9693
@igreulich i agree with you, if you making something on `componentWillUpdate` (like dispatching actions) you missing the point.

[2017-06-14 18:18] jedwards1211 commented on #9693
@igreulich I know it seems like my question is Redux-specific but there are any number of ways you can trigger ancestor updates from `componentWillUpdate` that don't involve Redux.  For example:
* `push`ing a new location with `react-router`
* publishing a state change to some state framework besides Redux

Are you saying even in `componentDidMount`, `componentDidUpdate`, etc., it would be better

[2017-06-14 18:23] jedwards1211 commented on #9693
@igreulich

I understand that sounds ideal, for instance have a reducer or middleware that gets the location change from `react-router-redux` that causes the component to mount or update.  But this is simply impossible for libraries like `redux-form` to do because they have to work independently of whatever routing framework you use or whatever causes a form component to mount.  They have to be ab

[2017-06-14 18:26] gaearon commented on #9963
Thanks!

[2017-06-14 18:38] mr47 commented on #9693
@jedwards1211 it's hard to believe but did you try to use internal component state with `setState` like a function, a heard that in some causes it can help. But if you want use something other than `redux` try `react-jsonschema-form` it's a not so fashion but works great with `redux`.

[2017-06-14 19:07] jedwards1211 commented on #9693
Guys, everything I'm saying about redux, redux-form, react-router, etc. Is just an *example*.  Here's what I'm trying to say:
Any code running in `componentWillUpdate` that causes an ancestor to update will probably cause errors later on.  So *if* React can *immediately* error out when the ancestor update is triggered, rather than blowing up *later* with confusing error messages, then it will help

[2017-06-14 19:35] abusada opened #9967 "Error: addComponentAsRefTo(...)"
started getting this error right after upgrading to 15.6.0:

[2017-06-14 21:17] gaearon commented on #9967
I’m sorry for asking—but just in case, can you confirm that you’ve read the message? For example, it says you might have two copies of React. Have you run `npm ls react` and verified this is not the case?

[2017-06-14 23:34] mackersD opened #9970 "*bug* style undefined in setValueForStyles"
It appears that it is possible to have the style property on node undefined in the setValueForStyles method in CSSPropertyOperations.js (using v15.5.4)

https://github.com/facebook/react/blob/v15.5.4/src/renderers/dom/shared/CSSPropertyOperations.js#L220

It is unknown how it was able to get into this state, but here is the stack trace:

TypeError: style is undefined
  at style(~/react-dom/lib/CSS

[2017-06-14 23:36] mackersD commented on #9970
This occured on Firefox Version: 52.0 and Windows 7

[2017-06-14 23:43] gaearon commented on #9970
Can you provide a reproducing case?

[2017-06-15 00:02] juangl opened #9972 "Expose ShouldComponentUpdate from PureComponent"
It'd be nice to have the following API:

[code]

[2017-06-15 00:09] gaearon commented on #9972
We provide `react-addons-shallow-compare` which you can use for this.

[code]

I don't think we will be adding embrace inheritance like this in the API, as this is not consistent with any other React methods.

We might also interpret `PureComponent`s in some special way in the future, and allowing to override `shouldComponentUpdate` clashes with this, and we might support a form of “purity” annota

[2017-06-15 00:09] #9972 closed

[2017-06-15 00:11] gaearon commented on #9963
Should be fixed in 15.6.1. Please verify.

[2017-06-15 00:11] #9963 closed

[2017-06-15 00:11] gaearon commented on #9956
Should be fixed in 15.6.1. Please verify.

[2017-06-15 00:11] #9956 closed

[2017-06-15 00:11] gaearon commented on #9959
Should be fixed in 15.6.1. Please verify.

[2017-06-15 00:11] gaearon commented on #9961
Should be fixed in 15.6.1. Please verify.

[2017-06-15 01:24] balloob commented on #9913
Yes, this has been fixed. Thanks!

[2017-06-15 01:31] dcramer opened #9974 "Error: addComponentAsRefTo(...) (ES6 class)"
This is React 15.3.2.

This is a bit complicated to report as I dont have a super isolated use case, our application is extremely complex, I can't confirm on the latest of React, and I can't 100% confirm it's React's fault. So if any of thats unacceptable feel free to close.

Here's the general layout of things:

- https://github.com/getsentry/sentry exports a bunch of JavaScript (including React)

[2017-06-15 07:13] rickgaurav commented on #2471
I am having the same issue but in my case error is not shown in any browser. My app use both backbone and React. Errors inside Backbone views are properly logged on console while the ones in React components are not. Any ideas?

[2017-06-15 07:42] abusada commented on #9967
Yes, that was indeed the issue, i deleted `node_modules` and ran `yarn install` again, it fixed the issue!

[2017-06-15 07:42] #9967 closed

[2017-06-15 07:46] abusada commented on #9974
Related [#9967](https://github.com/facebook/react/issues/9967)

Bower does a good job of deduplicating dependencies, but NPM does not. If you aren't doing anything (fancy) with refs, there is a good chance that the problem is not with your refs, but rather an issue with having multiple copies of React loaded into your project. Sometimes, when you pull in a third-party module via npm, you will get

[2017-06-15 09:18] fedeoo opened #9975 "same modules in react and react-dom"
**Do you want to request a *feature* or report a *bug*?**
No
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affected by

[2017-06-15 09:29] mr47 commented on #9693
@jedwards1211 ok, i get it, but in `react` docs there is direct message that says

If you are `redux` guy you should understand that update state (internal, external) is bad idea. Trying to fix that thing

I think transactions in react and later on new reconciler `fiber` can't handle so simple that situation.

So i think **deal with it** 🚀

[2017-06-15 10:04] gaearon commented on #9975
This is currently intentional (although with time there'll be less of them).

[2017-06-15 10:04] #9975 closed

[2017-06-15 10:11] gaearon commented on #9974
It is extremely unlikely this is a bug in React. You either have two Reacts, or you create an element with a string `ref` outside `render` method. I don't think there is a third option. There is no other reason this error would occur.

I understand it's hard to isolate, but we'd need at least a project we can inspect to look at the issue. But I'm really confident it's one of those two issues.

To

[2017-06-15 10:11] gaearon commented on #9974
I don't think we can help more without a repro project, but hope this helps!

[2017-06-15 10:11] #9974 closed

[2017-06-15 10:12] gaearon commented on #9913
Thanks for reporting!

[2017-06-15 11:07] bleshik commented on #8379
For those who has the error, but nothing above worked: I've had same exact error, but the cause was completely different. There was code where react components were shared between iframes, but components to have different $$typeof value in different iframes, which caused the error. Although this worked with other browsers, IE11 had the error.

[2017-06-15 15:35] klavs commented on #9893
If you extend the given example with 4 radio elements ([see here](http://jsfiddle.net/69z2wepo/80960/)), `onChange` fires only once per radio. In other words, the `onChange` event is not fired if a _value_ for a _name_ changes.

Might as well rename `onChange` to `onFirstTimeChecked` ([screen grab](https://gyazo.com/8ae7ba1ec3fb3c0ddd417e26b78d4846)) so it is clear when the callback is fired.

But

[2017-06-15 16:39] jackysatpal commented on #9446
Hello,

I like to solve this issue and I'm  beginner to React.
If there is any slack channel or IRC channel then I would be happy to join it.

[2017-06-15 19:38] grese opened #9979 "*bug* fontFamily wraps font names in nested double-quotes (Chrome only)"
**Bug**

**Current Behavior**
When the fontFamily declaration is used in React, any multi-word fonts are wrapped in double-quotes in Chrome ONLY.  Nested double quotes are not valid in HTML attributes, so React shouldn't be creating the style attribute this way.

**Steps to Reproduce**
1. Open this React Fiddle in Chrome https://jsfiddle.net/grese/69z2wepo/80972/
2. Inspect the text that was rende

[2017-06-15 20:59] sebmarkbage opened #9980 "Ensure the npm command `weigh` results in the expected result"
Just creating this issue to track this thread https://twitter.com/_developit/status/875098596328255488

Currently some tools don't properly DCE the npm bundle branching. We'll need to combine the dev and prod bundle into one file.

[2017-06-15 22:05] gaearon commented on #9980
Do we need one file specifically or would https://github.com/facebook/react/pull/9969 help?

[2017-06-15 22:09] gaearon commented on #9979
This is just a quirk of how Chrome displays values set from JavaScript. React does not actually generate a `style` string attribute—it sets the DOM `style` properties.

You can verify with this fiddle:

https://jsfiddle.net/g1euqx5b/

It uses DOM APIs without quotes, but Chrome displays the same result.

[2017-06-15 22:09] #9979 closed

[2017-06-15 22:11] sebmarkbage commented on #9980
I guess it's not critical but you'd still pay for the extra module overhead for 3 modules instead of 1.

[2017-06-15 22:13] sebmarkbage commented on #9980
6 instead of 2 I guess. Since it's two packages. That overhead probably isn't significant in bundles but it'll add unnecessary numbers to a comparison result like this tool.

[2017-06-15 22:32] UglyTroLL opened #9981 "No compatible version found: create-react-class@'>=15.6.0 <16.0.0"
Is this only my env or the package on npm is actually missing?

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
[code]
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**

**What is the expected behavio

[2017-06-15 22:58] UglyTroLL commented on #9981
It works now on my end

[2017-06-15 22:58] #9981 closed

[2017-06-15 23:03] mackersD commented on #9970
I unfortunately will have difficulty providing a reproducing case, as I don't have an indication of which of our react components were involved in this update. The stack trace is pretty much what I have from our production error reporting system.

Could it potentially be related to certain types of DOM nodes not having style attributes?

[2017-06-15 23:28] bbnnt commented on #9956
not sure if the issue is related, but having this error on safari desktop (version 9.1.1); both with react 15.6.0 and 15.6.1

[2017-06-16 00:46] gaearon commented on #9981
This probably means your custom npm registry hasn't been updated yet.

[2017-06-16 00:47] gaearon commented on #9970
It's a bit hard for me to imagine that. If you can reproduce it locally you can set a breakpoint and try to capture some data as you work your way up the call stack.

[2017-06-16 00:48] gaearon commented on #9956
Please provide a minimal example (e.g. on jsfiddle) that consistently reproduces the issue with 15.6.1 and Safari 9.1.1.

[2017-06-16 01:27] cyberhck commented on #9095
@gaearon sorry for bothering you again, I just wanted to ask a follow up on this issue.
I understand why was the confusion when I created this issue.

I created a new repo and tried to reproduce what I did earlier,
on this [line](https://github.com/cyberhck/javascript-props-demo/blob/master/src/App.jsx#L5), I'm calling super without the props,
and on this [line](https://github.com/cyberhck/javascr

[2017-06-16 01:43] riverleo commented on #2642
[code]

it works to me.

[2017-06-16 02:34] grese commented on #9979
@gaearon - Looks like the fiddle you posted was the same content that I had in my fiddle above.  If I understand you correctly though, this is what you meant:

https://jsfiddle.net/grese/qhw0mxtt/

[2017-06-16 04:35] peacechen commented on #2642
@riverleo That's interesting.  I understood that async/await works on Promise objects (it's syntactic sugar for `Promise .then()`).  Can you confirm that it's actually waiting for the setState to complete before executing your code?

That pattern works for the simple case, but there are many times where I have a function that calls setState within, and I want to wait for that function to complete

[2017-06-16 06:21] tnrich opened #9984 "setValueForProperty @ DOMPropertyOperations.js:142 throwing untraceable/unpausable error"
Hey there,

I am getting the following error many time over in my console:

[code]

I've tried setting "pause on exceptions to true", but it doesn't seem to pause on the error. The actual error message itself is very unhelpful for debugging what the underlying issue is because I have many places in my component where I am rendering an svg path:
`Error: <path> attribute d: Expected number, "…A 111

[2017-06-16 06:27] riverleo commented on #2642
The code below is the contents of the final build of the babel.
[code]
And this is my `.babelrc` setting.
[code]

[2017-06-16 06:33] milesj commented on #2642
@riverleo `await` wraps the expression in `Promise.resolve`. This is not correct, as the promise is not resolving once the state has updated.

[2017-06-16 08:36] badtant commented on #9956
@gaearon my reported bug is confirmed fixed

[2017-06-16 09:06] brahamshakti opened #9986 "What should be the proper compatibale version of react, react-addons-test-utils, react-dom."
I tried various package version but I am still getting error when I run `npm test`:

    console.error node_modules/fbjs/lib/warning.js:45
        Warning: Failed propType: Calling PropTypes validators directly is not supported by the `prop-types` package. Use `PropTypes.checkPropTypes()` to call them. Read more at http://fb.me/use-check-prop-types`

What is causing the issue, my `package.json` fi

[2017-06-16 09:13] joshjung commented on #2763
Need to add to this here. We are using a framework that relies on bubbling events to communicate from children to parents.

Unfortunately, since a child's `componentDidMount` gets called before a parent's, you cannot dispatch a bubbling event at that point and expect a parent to catch it.

So even if we cannot change `componentDidMount` in the lifecycle, it would be nice to have a lifecycle method

[2017-06-16 09:44] gaearon commented on #9984
Can you provide a project reproducing this?

[2017-06-16 09:46] gaearon commented on #9986
It is not supported to mix `0.14` and `15` packages. Please ensure they're all on the same version.
If you make all of them `^15.6.1` it should work.

If you have more issues please provide a project reproducing them.

[2017-06-16 09:49] gaearon commented on #9095
As I mentioned above:

While you're *inside* the constructor, `this.props` only works if you pass `props` to `super`. After the constructor finishes running, React will assign `this.props` manually itself, just in case you forgot to do it.

[2017-06-16 10:39] brahamshakti commented on #9986
I tried changing the version to

      "react-addons-test-utils": "^15.6.0"
    },
    "dependencies": {
      "react": "^15.6.1",
      "react-dom": "^15.6.1",
      "react-redux": "^4.4.5",
      "react-router-dom": "^4.0.0-beta.8",
    }
And As I have written previously I am getting this error:

    Cannot find module 'react-dom/lib/ReactTestUtils' from 'index.js

No I can not share my project

[2017-06-16 11:39] trueadm commented on #9980
I'm not sure combining files is the right approach here at all. Combining modules in a single file will definitely impact the startup performance of using React on NPM as a Node module.

I feel `weigh` should move way from using Browserify if it wants to get more accurate results (i.e. use webpack).

[2017-06-16 12:00] ThisIsMissEm opened #9988 "Regression: onChange doesn't fire with defaultChecked and radio inputs"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In React 15.6.1, this behaviour is changed; In 15.5.4, it fires the change event reliably.

15.6.1 - https://codesandbox.io/embed/VPA42ZnRo
15.5.4 - https://codesandbox.io/embed/JZ0mnE5oy

You'll need to have the console open to get the debugger statement.

In 15.6.1, the first change fires, but all su

[2017-06-16 12:07] avivshafir commented on #9893
Same as @klavs mentioned above, uncontrolled radio inputs in my project just stopped working as was expected, they stopped calling the onChange function if a radio button was checked before.

[2017-06-16 13:11] gaearon commented on #9988
cc @jquense

[2017-06-16 13:36] peacechen commented on #2642
@riverleo ,  I agree with @milesj , the generated code shows that it's not properly waiting for setState to complete.  You app just happens to finish setState quickly in that case, but will not for all cases.
Line 7 of the generated code is the key:
[code]

The correct way would be
[code]
(the code around that would be different, for example `resolve` would need to be present from a created Promis

[2017-06-16 13:37] gaearon commented on #9986
If you can't share your project, please share a minimal example reproducing this.
You can create a new project with the same `package.json`, add one test to it, and verify you still have this issue.

[2017-06-16 13:41] gaearon commented on #9893
@avivshafir

This aprticular issue was filed *before* 15.6 release so I don't think what you're describing is related to it.
Can you confirm your bug is the same as https://github.com/facebook/react/issues/9988?

[2017-06-16 13:47] jquense commented on #9988
I'm not sure..this is a weird kinda case, The problem seems to be that if you don't control the the group the onChange event doesn't fire (but the value is correct). cc @insin as well since he also noticed this.

[2017-06-16 13:55] jquense commented on #9988
Ah fairly certain I know what's happening. The `checked` value is tracked for each individual input, but when another radio is checked, there is no update to the last checked value so it remains `true` when you click back to it aect thinks it was already checked and so doesn't update it...I think this needs a simple call in `updateCousins` in ReactDOMInput

[2017-06-16 13:58] jquense commented on #9988
addendum this only happens with uncontrolled groups because the `updateCousins` method triggers an update on the component instance but since there is no value state changing (from the perspective of the instance) nothing changes.

I wish uncontrolled inputs didn't exist ;)

[2017-06-16 14:34] gaearon commented on #9979
Oops, I must have forgotten to hit save 😄

[2017-06-16 14:56] avivshafir commented on #9893
@gaearon yes i think this particular issue is not related indeed.
I am almost certain the #9988 is the same bug
I have the example here:
https://codesandbox.io/s/nZqp8xv2R
sorry the confusion

[2017-06-16 15:32] klavs commented on #9893
Thanks to @avivshafir and comments in #9988 I managed to understand that my reported issue is only affecting uncontrolled radio inputs.

Here is a working example of controlled radios working as expected: http://jsfiddle.net/69z2wepo/81050/

[2017-06-16 17:32] tnrich commented on #9984
Here ya go:
https://github.com/tnrich/wierd-react-error

[2017-06-16 18:23] aweary commented on #9984
The issue is because [you're passing an invalid value to the `d` attribute](https://github.com/tnrich/wierd-react-error/blob/master/src/App.js#L13), specifically the `NaN`. If you remove the `NaN` you'll see the error goes away.

It is confusing why it's not pausing on this exception though, and I [can't reproduce outside of React](https://jsfiddle.net/6vucod3p/) which is strange. I must be missin

[2017-06-16 18:31] dcramer commented on #9974
@gaearon

To confirm whether its a different React (given theres no easy identity that I'm aware of), here's what I did:

(this is the only location where we mount the application)

[code]

And in the above component I am describing, I add this:

[code]

Both of them output the exact same value:

[code]
This to me implies they MUST be using the same copy of React (and we can't find any other copy)

[2017-06-16 18:37] tnrich commented on #9984
Hey @aweary , yup, the issue in my mind is not that I'm hitting an error - that makes perfect sense if I'm passing NaN as a value to the path's d attribute - but that I'm not able to pause on that exception or get any type of stack trace leading me back to which element is causing the issue.

[2017-06-16 19:26] gaearon commented on #9974
I'm not sure about the test you used. The import part is to verify that **the copy of React that ReactDOM sees** matches the one you use in the app. So you'd need to put logs into ReactDOM source code itself.

[2017-06-16 19:27] gaearon commented on #9974
If you want to get very particular, the module we're looking at is `ReactCurrentOwner`. You need to match that `ReactCurrentOwner` that React module reads from is the same `ReactCurrentOwner` that ReactDOM writes to.

[2017-06-16 19:33] dcramer commented on #9974
We'll dig some more and update with any details. Pretty sure we only have one React, but it's very possible webpack is causing some problems here, and our usage of it is very abnormal.

[2017-06-16 20:07] milesj commented on #9986
Replace `react-addons-test-utils` with `react-test-renderer` and `react-dom/test-utils`.

[2017-06-16 20:15] borela opened #9991 "Set initial state to undefined"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Initial state is null.

**What is the expected behavior?**
Initial state is undefined. We can manually set the state to undefined in the class, but it would make sense to be out of the box as it would allow destructuring without errors.

**Version:**
React 15.6.1
React-Dom 15.6.1

Sorry if this has

[2017-06-16 21:39] gaearon commented on #9986
Did you run `npm install` after changing versions? I'm pretty sure you have some different version of `react-dom`.

The file you say is missing is definitely there:

https://unpkg.com/react-dom@15.6.0/lib/ReactTestUtils.js

So something is wrong with either the versions that really got installed, or with your bundler configuration.

I'll close because there's nothing more we can do. If you provide

[2017-06-16 21:39] #9986 closed

[2017-06-16 21:48] gaearon commented on #2642
Wrote more thoughts on why I think we won't be supporting this in https://github.com/facebook/react/pull/9989#issuecomment-309141521.

It is not very plausible that we'll change this anytime soon for these reasons so I'll close the issue.

We do, however, plan to look into providing better component APIs for components and state next year. So we'll consider this feedback as part of our future work

[2017-06-16 21:48] #2642 closed

[2017-06-17 03:35] cyberhck commented on #9095
okay, understood. thanks.

[2017-06-17 08:16] wmertens commented on #3038
Note that I have a PR open on react-deep-force-update to only update
components that subscribe to a certain context element, but it's
languishing.

This would be the ideal out-of-the-box behavior for me. This allow choosing
between event listeners and force-update-subscribers to pass updates down
the tree.

On Wed, 24 May 2017, 11:13 AM Wout Mertens, <wout.mertens@gmail.com> wrote:

[2017-06-17 10:05] gaearon commented on #9926
I don't understand this part. When documentation says "re-render" it refers to calling the render method and reconciling the changes, not unmounting and mounting components. React never unmounts components unless key or type changes.

While we can't guarantee that React won't be calling render in more cases, we can pretty much guarantee that:

1. If component key and type doesn't change, React won

[2017-06-17 10:16] gaearon commented on #9926
(Also, if you have specific concerns please create examples and we'll be happy to discuss them. The problem with issues like this is they often get philosophical and people start talking past each other about completely different things. So I want to make sure we are discussing the same cases.)

[2017-06-17 10:23] gaearon commented on #3038
We'll likely get back to this. There's another issue about `forceDeepUpdate` where it is tracked.

[2017-06-17 11:25] WebReflection commented on #6901
[code]

As mentioned by @sminutoli who knows the pattern passes `this` and who doesn't use what's been used 'till today.

The trade off is a slightly slower dispatch VS extremely improved memory consumption where thousand components won't need _O(instances * boundMethods)_ extra references.

This can be benchmarked too. I've create a simple test here:
https://gist.github.com/WebReflection/5aaca727

[2017-06-17 11:32] rosenfeld commented on #9926
Yes, I definitely agree, I see where the confusion is coming from. Take a look at this snippet from the documentation and try to think like someone new to React would take it:

When I read this I didn't understand it was talking about calling the `render()` method of the component because rendering usually means taking the virtual tree and transforming it to the DOM representation, while rerenderi

[2017-06-17 11:32] #9926 closed

[2017-06-17 11:55] gaearon commented on #9926
Sure, a PR would be great! I'm sorry it was confusing. "Rendering" is a bit overloaded term.

The challenge is to phrase it in a way that would both be understandable for beginners and provided enough information to more advanced users.

[2017-06-17 12:29] rosenfeld commented on #9926
I just suggested some changes to that part.

[2017-06-17 12:30] rosenfeld commented on #9926
I've also updated that article to reflect my misunderstanding, sorry for the confusion.

[2017-06-17 16:21] richburdon opened #9995 "Error info removes app"
Feature: it's really hard to track down runtime errors. E.g.

`warning.js?b25d:36 Warning: Stateless function components cannot be given refs (See ref "wrappedInstance" in StatelessComponent created by Apollo(Component)). Attempts to access this ref will fail.`

None of my code is in the stacktrace (swallowed by React)

[2017-06-17 16:55] sminutoli commented on #6901
This is was a I was talking about, OOP creativity!

[2017-06-17 20:02] luchillo17 commented on #8788
@gaearon I've started a new one, still no business logic, only adding typescript, now it shows `Maximum call stack size exceeded` from start until i activate `Debug JS Remotely` from menu, this one i can publish to Github, do you want to take a look?

[2017-06-18 01:21] locomotif commented on #6472
I am having the same issue around the `<img src=".." />` tag on a SPA.
@gaearon I have created a minimal project to reproduce the issue.

Thanks!

**Required File structure**
[code]
**app.jsx**
[code]
**webpack.conf.js**
[code]
**.babelrc**
[code]
**package.json**
[code]
**index.ejs**
[code]

[2017-06-18 03:01] locomotif commented on #6472
Also, I confirmed @doctyper findings that `rootNode.parentNode` is `null`.  I did a similar workaround in *react-dom/lib/ReactEventListner.js*, function *findParent()*.  I added the following, just so that I can bypass the error:

[code]

I am just beginning to learn react, so I am not sure exactly what is happening and why there is a detached node looking for a parent.

[2017-06-18 03:08] locomotif commented on #6472
Also, I confirmed @doctyper findings that rootNode.parentNode is null. I did a similar workaround in react-dom/lib/ReactEventListner.js, function findParent(). I added the following, just so that I can bypass the error:

  if (container) {
      return ReactDOMComponentTree.getClosestInstanceFromNode(container);
  } else {
      return null;
  }
I am just beginning to learn react, so I am not sure

[2017-06-18 12:27] zhaoyao91 opened #9996 "How to detect empty selection on <input type=“file”/>"
I have a component which uses `<input type="file" value="" onChange={(e) => callback(e.target.files}/>` to get user selected files. But if user cancels the file selection popup, the callback will never be called since there is no change. This is nonsense, since the expected action is callback gets called with null or empty array.

But how to implement this? I didn't find any related event to liste

[2017-06-18 16:22] seriouslyfluffy commented on #9996
you can store the callback call in a variable example `let isCalled = false` than in your callback set it to `true`,
and check it then do what need to do. Maybe it is bad practice but as an option...

[2017-06-18 17:03] MadaraUchiha commented on #9988
Managed to reproduce this in a simpler test case, defaultChecked is not needed.

[code]

Changing between the radio buttons back and forth will only log 1 or 2 once. @linkgoron

See Fiddle for example: https://jsfiddle.net/aaqfzzjg/

[2017-06-18 17:13] zhaoyao91 commented on #9996
@seriouslyfluffy not quite clear about your solution. for a robust lib, user should always be notified whether the process succeeded or failed. for example, the window.confirm function will return null if user click cancel. if we make a async version of confirm, the callback should always be called.

[2017-06-18 17:39] seriouslyfluffy commented on #9996
@zhaoyao91  how about this one http://jsfiddle.net/Shiboe/yuK3r/6/

[2017-06-18 18:43] passapol-e commented on #9996
try this
[code]

[2017-06-18 19:13] vritant24 opened #9997 "createReactClassIntegration-test fails"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
on running npm test on master branch, createReactClassIntegration-test fails

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/84v837e9/).**
I just installed the re

[2017-06-19 02:19] zhaoyao91 commented on #9996
@seriouslyfluffy genius! you can put your solution to the os question: https://stackoverflow.com/questions/44614924/how-to-detect-empty-selection-on-input-type-file-in-react
I will adopt it.

[2017-06-19 02:29] zhaoyao91 commented on #9996
@seriouslyfluffy hi, one more question, if i trigger the callback on body's focus event, how to get the files user selected? by my test, the focus event is triggered before input's change event

[2017-06-19 03:02] cdaringe commented on #6472
I haven't pin-pointed it, but i'm with @locomotif--for me the single change that either creates or eliminates the failure is the `src` attribute on the image tag.

it's not a minimum viable example, but it is _rather small_--almost === CRA barebones. if one:

- [clones this snapshot](https://github.com/dino-dna/truth.lol/tree/ccdc21b3a901f176e0cf8af205a7a35ebc4d58c1/packages/ui)
- runs `yarn && ya

[2017-06-19 03:19] cdaringe commented on #6472
it appears that `rootNode` isn't guaranteed to be mounted on the DOM after calling `getNodeFromInstance` from within `findParent`.

consequently, sniffing for `rootNode`'s `.parentNode` yields `null`.

<img width="837" alt="screen shot 2017-06-18 at 8 15 24 pm" src="https://user-images.githubusercontent.com/1003261/27268205-f972c092-5462-11e7-9e7d-187f4a947433.png">

missing from above, `rootNode.

[2017-06-19 03:41] mondwan commented on #9689
Cool. It works. Thanks.

[2017-06-19 03:48] smorin commented on #7902
@stevemorin

[2017-06-19 03:48] smorin commented on #7902
@smorin

[2017-06-19 03:50] smorin commented on #8354
@smorin

[2017-06-19 04:24] smorin commented on #7902
@aweary or anyone else on this thread.

I am trying to understand what arguments are "officially" supported part of the eventhandler class back specification according to "React".  It seems that three arguments are being passed.

1. SyntheticEvent
1. object (think it's the node of the onClick handler
1. undefined (not sure what this third object is supposed to be.

Looking at the [documentation](h

[2017-06-19 05:50] mondwan opened #9999 "Question on react's warning getDefaultProps"
As migrating from 15.4 to 15.5, I am rewrite original react components with `create-react-class`.

However, there is a warning.

[code]

 As I am really transferring from a **classic** `React.createClass` definition, I would like to ask is this warning appropriate? Or, this is a depreciation sames as the level of migrating to `create-react-class`?

Ooops, I get ticket #9999  :D

[2017-06-19 05:59] alexandernanberg commented on #6472
@locomotif You are having the same problem that I was dealing with. Just remove the <script> tag in your index.ejs file and it should work as expected. The issue is that you are including your script files 2 times. You could also set HtmlWebpackPlugin to not automatically include your assets if you want to do that in your template.

[2017-06-19 06:16] seriouslyfluffy commented on #9996
@zhaoyao91 in example what i showed, you can access to files via `godzilla.files` it is array FilesList

[2017-06-19 07:05] Pravandan opened #10001 "Clear the entire call stack of the browser when a certain function gets executed"
I want to clear my entire call stack of the browser when a certain function gets executed in my react js code.

[2017-06-19 07:21] vTrip commented on #8579
this issue occurs for me specifically when using `setState`

[2017-06-19 10:03] TEsTsLA opened #10002 "React is so dung and Vue is so beautify."
I use React.js some of time.But the framework design is look like designed by a three-years child.
This is very shit and fuck every developer.But Vue that maked by a Chinexe is save me from hell.
Vue is fresh and freedom air for me.This is so freedom and sweet.
I am not pointer at someone deliberately.My meaning is everyOne is designed except  me

[2017-06-19 10:08] vritant24 commented on #10002
Is this a troll?

[2017-06-19 10:14] nihgwu commented on #10002
Polish your English first before judging the others, don't be a droll

[2017-06-19 10:16] ryerh commented on #10002
Do not waste your time adding comments here, close this plz...

[2017-06-19 10:33] hughgr commented on #10002
火钳刘明

[2017-06-19 10:41] zires commented on #10002
Shame on you.

[2017-06-19 10:45] blade254353074 commented on #10002
He is trolling. :trollface:

[2017-06-19 10:59] nhunzaker commented on #10002
If there are any actionable suggestions you have for improving the React API, we are open to hearing then. As it stands, this issue is destructive.

Happy you found success with Vue. Best of luck!

[2017-06-19 10:59] #10002 closed

[2017-06-19 11:28] Gekkio opened #10003 "React 15.6 input value tracking is incompatible with zombie.js"
React 15.6 backports some input value handling fixes, but the new input value tracking doesn't work in [zombie.js](https://github.com/assaf/zombie). The problem is that React wraps the `.value` property, and zombie.js assigns to that property in some functions (e.g. `browser.fill(selector, value)`) and this confuses the value tracking because it loses track of the value before the change.

It's de

[2017-06-19 11:57] aweary commented on #10003
@Gekkio thanks for taking the time to file this issue! When you have a controlled input React assumes that the _only_ source of truth for the input value is the `value` prop. That is essentially what "controlled" means, controlled by React and that prop.

Settings the `value` property of the node on a controlled component will put the input into an inconsistent state in React, so it's not recommen

[2017-06-19 11:57] #10003 closed

[2017-06-19 12:07] Gekkio commented on #10003
Thanks for the quick response! I'll open a bug in zombie.js, and we might consider a workaround in our test code if zombie.js doesn't change their current approach.

[2017-06-19 12:59] kannans commented on #6788
I had the same Issue,  in the actions, all the function should have `export`.  example
`export function blah(){..}` then it does not show the error.

[2017-06-19 13:25] DickyT commented on #10002
丢人 丢人 丢人. Shame on u.

[2017-06-19 13:28] yuyu1987 commented on #10002
`Do not take it seriously`

[2017-06-19 13:41] gaearon commented on #10002
Thanks for feedback!
If you have specific suggestions on what we can learn from Vue, we’d love to hear them.

But this thread is not very constructive so I’ll lock it.

[2017-06-19 13:43] gaearon commented on #9997
It probably fails because you run `npm install` rather than `yarn` so you get the latest version (which included a bugfix). We need to cherrypick 07fe7ad6d78b55982c83ddc89a93a70fe0ffa579 and 76b916bf328a793ac41778ba6515921db0d2c91d to master I think.

[2017-06-19 13:47] gaearon commented on #8579
Please read this comment https://github.com/facebook/react/issues/8579#issuecomment-267312367.
When you see this issue without a descriptive error before it, your code is swallowing errors.

[2017-06-19 13:50] gaearon commented on #10001
This doesn't seem like a question related to React.
Please ask this JavaScript question on StackOverflow.
Thanks!

[2017-06-19 13:50] #10001 closed

[2017-06-19 13:59] aweary commented on #9999
@mondwan can you share an example reproducing the issue? I'm not seeing the warning when using the latest `create-react-class` version, or the last 15.5 release. [Example](https://jsfiddle.net/sch60ss0/). You can use [this JSFiddle](https://jsfiddle.net/84v837e9/) as a starting point for reproducing.

[2017-06-19 14:08] aweary commented on #9995
Hey, @richburdon! Thanks for your input, we agree that the warning itself wasn't as descriptive as it could be. Note that it is just a warning, so there is no actual stack trace available (it's just a `console.error` call), but thankfully React 16 does implement better error reporting! It will even include the render stack.

[Here's an example](https://jsfiddle.net/oL9q399e/) that logs this warnin

[2017-06-19 14:08] #9995 closed

[2017-06-19 14:41] gaearon commented on #9995
(Note we don't recommend using React 16 at the time.)

[2017-06-19 14:44] gaearon commented on #9995
Also, React 15 also provides this information:

**The fact that `StatelessComponent` and `Component` appear in the trace instead of real component names means that your build is probably misconfigured.**

If you could share a minimal project reproducing this I could take a look at why this is happening.

[2017-06-19 14:46] gaearon commented on #9995
Here is an example using React 15 (current version) that includes component names in the warning:
https://jsfiddle.net/d1eLnzsm/

[2017-06-19 14:53] iamstarkov commented on #9605
@gaearon that will be good. i bet it will be hard for a lot of people to look at stack traces just to investigate which components were not upgraded to use `prop-types`

[2017-06-19 15:12] jason-cramfighter opened #10005 "Minified Version of React's CDN Throws Errors, but Unminified CDN Works Fine"
Using React's official CDNs, minified version throws Uncaught TypeError, but unminified (dev version) does not.

**CDNs used:**

 - https://unpkg.com/react@15.6.1/dist/react.js

 - https://unpkg.com/react@15.6.1/dist/react.min.js

**My Code:**

        <script src="https://unpkg.com/react@15.6.1/dist/react.min.js"></script>
        <script src="https://unpkg.com/react-dom@15.6.1/dist/react-dom.min

[2017-06-19 15:14] aweary commented on #9996
File inputs don't expose cancellation events. If there was already a selection made, it will call `onChange` if the file selector is opened again and canceled (what @passapol-e's solution addresses).

Also, for future reference: we try to use this issue tracker for bug reports and feature requests only. If you have a usage or support question, we recommend checking out one of the great community-d

[2017-06-19 15:31] aweary commented on #9984
@tnrich I'm wondering if this is a browser bug, I'm assuming you're using Chrome? Firefox doesn't seem to throw an error for invalid `d` values.

I discovered that it [throws the error even without JavaScript](https://jsfiddle.net/tmmt4u3o/). This might mean that Chrome is throwing this error in a way that isn't compatible with the provided debugging tools. Even [`window.onerror` isn't invoked](ht

[2017-06-19 15:37] aweary commented on #10005
@jason-cramfighter can you please provide an example reproducing your issue? You can use [this JSFiddle as a template](https://jsfiddle.net/84v837e9/). It's hard to help if we don't have enough information, such as what `FormControl` is. There also appear to be errors in your provided examples, as `SearchField` not actually returning `FormControl` from the render method.

I tried to take your exam

[2017-06-19 16:56] locomotif commented on #6472
@alexandernanberg That makes absolute sense! thanks, that did the trick!  I had just recently added the `html-webpack-plugin`, and it didn't occur to me to remove that line of code.  I had noticed that my console message was appearing twice, and briefly assumed that something was being loaded twice; but then I disregarded it and thought it had to do with the hot loader.  Not until I added the imag

[2017-06-19 19:26] jason-cramfighter commented on #10005
Hey @aweary, thanks for the fast response! Apologies for not having enough information. I created a fiddle using your template, and I removed the reference to FormControl to avoid confusion.

The issue still appears if you switch between minified and non-minified. The good part is is the issue seems to be a line of code that I had mistakenly forgotten to remove (line 25). I never noticed it, becau

[2017-06-19 20:01] luchillo17 commented on #8788
@gaearon I've put my base project here:
https://github.com/luchillo17/react-native-error-repo
Can you see if it works for you?

[2017-06-19 20:25] gaearon commented on #8788
If it's not related to the issue you originally described, please create a new issue with your project in React Native repo. Thanks!