[2020-04-24 07:15] vkurchatkin commented on #18725
This is inevitable: when you run your code asynchronously, React has no way of knowing that more synchronous setters could be executed after the current one, so it has to trigger render for each. You can either batch by making a single state object, like you did, or use `unstable_batchedUpdates`:

[code]

[2020-04-24 09:53] acutmore commented on #14994
For me it's not performance but infinite renders. It would be handy if I didn't have to worry about checking the current state before resetting it to something.

[code]

Can fix here without issue, but in a more complex component, with custom hooks passing state around, this is slightly harder to achieve.

[2020-04-24 10:00] dshung1997 commented on #4908
This helped a lot. It's like changing from "stroke-width" to "strokeWidth"

[2020-04-24 10:18] eps1lon commented on #14994
@acutmore That's a really good example why this is an issue. If we'd fix your particular issue, React wouldn't need to bailout since the usercode is already responsible for that.

I guess for now we need to advise to check if the state wouldn't change when implementing the "get-derived-state-from-props"-pattern.

[2020-04-24 10:38] laverdet commented on #14994
@acutmore Calling setState directly from a component render function is a footgun and should probably be an explicit error because sometimes it works and sometimes it doesn't. Your state change needs to be extracted to an effect hook.

[code]

[2020-04-24 10:48] acutmore commented on #14994
@laverdet absolutely that would avoid the too many re-render errors. Though now the child effects are potentially being run twice.

https://codesandbox.io/s/busy-burnell-by65v?file=/src/App.js

[2020-04-24 11:04] karlhorky commented on #18702
@bvaughn ok, I may have some time on the weekend to work on this.

Something similar to the image below (from https://github.com/facebook/react-devtools/pull/328) be ok for you?

<img src="https://cloud.githubusercontent.com/assets/159328/14929071/8708ddb4-0e10-11e6-893e-8894357c5a87.png" />

[2020-04-24 12:41] gaearon commented on #18702
Looks good

[2020-04-24 13:27] MeisterTea opened #18726 "Bug:"
There seems to be a memory leak when running jest tests

![](https://i.imgur.com/NAgFU1n.png)

React version: 16.13.1

## Steps To Reproduce

* Pull repo: https://github.com/MeisterTea/react-memory-leak
* `yarn` or `npm install`
* `yarn test:w1`

I am getting a heap size larger than one gigabyte on a production code repository

[2020-04-24 13:42] eps1lon commented on #18726
Could try it without `@testing-library/react` but a custom beforeEach/afterEach cleanup? If it still leaks try without `jest`?

Since we only render a static component I doubt that this is react leaking but rather `@testing-library/react` or `jest`. Maybe that's expected that jest retains some "things" from passed tests.

Component under test:
[code]

[2020-04-24 14:36] eps1lon commented on #18726
Did some digging and this is definitely a leak caused by `@testing-library/react`. Could you open an issue in that repo please: https://github.com/testing-library/react-testing-library/issues/new/choose

[2020-04-24 15:21] bvaughn commented on #18702
Sure, something like that :smile:

[2020-04-24 15:58] bvaughn commented on #18726
Thanks for the added context, @eps1lon!

Going to close this issue for now.

[2020-04-24 15:58] #18726 closed

[2020-04-24 16:10] bvaughn commented on #18724
Generally speaking, the answer would be no. The dependencies array exists to avoid stale values in the callback function you pass to `useEffect`. (You can find stale dependencies and the problems they cause mentioned on other issues, like [this one](https://github.com/facebook/react/issues/18065#issuecomment-590152262), as well as [in the docs](https://reactjs.org/docs/hooks-faq.html#why-am-i-seei

[2020-04-24 16:10] #18724 closed

[2020-04-24 16:15] bvaughn commented on #18725
This is a question of how/when React batches updates. Updates are batched in certain contexts- like an event handler- but your above example is triggering those updates after a delay, so React doesn't know you want to batch them.

@vkurchatkin is right. Your options are to use the `batchedUpdates` API to tell React, explicitly, that you want it to combine those two updates. Or just use a single st

[2020-04-24 16:15] #18725 closed

[2020-04-24 16:51] alex-cory commented on #18724
@bvaughn I'm currently building [use-http](https://github.com/ava/use-http). This is a pretty decent sized breaking change, but if you are advising me to change this, I will.

[2020-04-24 17:02] bvaughn commented on #18724
@alex-cory I don't know much about `use-http` so I don't mean to make a sweeping statement about it, but in general- I think the mutation pattern your example showed looks problematic. (In ways like we're discussing now, for example.) I would advise using React state instead :smile

[2020-04-24 17:51] quicksnap commented on #16873
I think it would be great to have this. Anyone know how to get feedback from a maintainer to see if we can move forward with this?

[2020-04-24 18:21] yairEO commented on #11488
I must find a fix to trigger `change` event for my vanilla component, which has a React Wrapper for it:

https://github.com/yairEO/tagify

When using the component through the React wrapper, a developer would write code like this:

[code]

Then then wrapper is creating an `input` element and an instance of the vanilla Tagify is instantiated and applied on the created `input` element.

The `onChang

[2020-04-24 18:39] cnfreitax opened #18727 "Image cannot find module"
I'm try import imagem whit 'import logo from '../../assets/logo.svg', but, I get 'cannot find module'. I'm sure the path is correct

[2020-04-24 19:11] TrySound commented on #18727
Wrong repo https://github.com/facebook/create-react-app

[2020-04-24 19:21] ruifortes commented on #17446
I don't understand what problem arise from "early return".

Nevertheless I think it's an elegant soluction to at least have the option to enable it.
It simply solves "shouldComponentUpdate" and redux/context "selectors"

I think it might also allow more concise code in cases where state changes might be incrementaly applied before final output update.
I don't exactly know what I'm talking about he

[2020-04-24 19:51] Mangatt opened #18728 "Bug: DevTools hihlights false positives"
DevTools version: 4.6.0

## Steps To Reproduce

1. Create wrapping component without dom node
2. Create memoized component with multiple nodes
3. Turn on "Highlight updates when components render" in React DevTools
4. Trigger re-render on wrapping component

In profiler is everything recorded correctly, even when there are updates highlighted in page. When is wrapping fragment changed to dom eleme

[2020-04-24 21:36] laverdet commented on #14994
Sure but now we're back to an issue of efficiency instead of an issue of correctness.

[2020-04-24 22:21] sebmarkbage commented on #18661
@dubzzz In your example I see `A / Loading B / Loading C`.

That's because we are not allowed to turn A back into "Loading A" because:
_"Never hide already shown content until it explicitly resuspends, to avoid content disappearing."_

We're not allowed to show "B" because:
_"A row is not allowed to show partial content until the whole row is done."_.
The row in this case is the whole list because

[2020-04-24 23:25] Eddie-CooRo commented on #18705
Ok. it seems to be working fine after restarting my system :joy: thank god I have a screenshot to prove that the issue existed at some point in time :joy:
I'm going to close this issue for now and reopen a new one if I found any new data about it (I'll try checking out some previous commits tomorrow) :(
but at least now we know that this issue can probably be fixed by restarting the OS :)

[2020-04-24 23:25] #18705 closed

[2020-04-24 23:43] ayayalar opened #18731 "Bug: React Context API is not working from custom NPM library"
I have total of three npm packages:
1) Custom Hook: custom hook wraps useContext
2) Provider: uses custom hook to Provide Context
3) Consumer: uses custom hook to Retrieve Context

If I have these components in a single app, everything works as expected. However, if I separate them to their own npm packages, the state is no longer retrievable by the consumer.

React version: 16.13.1

## Steps To R

[2020-04-25 00:05] bvaughn commented on #18705
Ah, well that's interesting 🤔

Glad restarting stuff fixed it for you!

[2020-04-25 03:15] cnfreitax commented on #18727
thanks

[2020-04-25 07:18] Lukavyi commented on #18701
I get it, but I don't have a way to reproduce it.
The bug just randomly happened once during profiling when I've opened first frame and that's it :)

[2020-04-25 09:22] dubzzz commented on #18661
@sebmarkbage Thanks a lot for this very detailed explanation. I get a better idea of how updates are supposed to be working.

**Maybe one last question: Do these rules only apply on updates? (not first render)**

Indeed, they seem not to apply on first render. See the following example not behaving the same way?

In this second example I directly render: (with A, B already resolved BUT C still pen

[2020-04-25 09:46] vkurchatkin commented on #18731
If you can't reproduce it using a single a file, it is a problem with your build configuration, not React

[2020-04-25 10:08] icyJoseph opened #18734 "Bug: Prints only once: [Warning: Can't perform a React state update on an unmounted component.]"
It is known that one should clean up either on effect hooks or life cycles, to prevent calls to `setState` on unmounted components. This report is **not about the reasoning for the warning**.

There's a very helpful warning when this happens, however, **_the warning prints only once_** for a given component. **Is this by design though?**

React version: 16.13.1
I've tried downgrading to 16.10.0 an

[2020-04-25 14:53] AvraamMavridis opened #18735 "Bug: Invariant Violation: Should have a queue when mocking same function differently in tests"
React version: 16.9.0

## Steps To Reproduce

1. Mock the same function that is used by a hook in two different tests

Link to code example:

I have 2 tests,

It looks like:

[code]

If I write one (`fit`) of either tests it passes, if I let it run both it throws `Invariant Violation: Should have a queue. This is likely a bug in React. Please file an issue.` The function API.put function is used b

[2020-04-25 15:02] Sharcoux commented on #14050
@threepointone could you explain how we are supposed to handle useEffect with async act? I didn't succeed...

[2020-04-25 15:37] Pedroxam commented on #3386
Someone tell me how can replace `react-router-link` in string?

**Example:**

[code]

[2020-04-25 16:01] neupaneanish opened #18736 "Bug: Installation error on npx create-react-app my-app"
node version : 12.16.2
npm version: 6.14.4
os: Windows 10

while creating new app with this cl npx create-react-app my-app gives this error

PS D:\> npx create-react-app my-app
npx: installed 99 in 16.418s
Must use import to load ES Module: C:\Users\Nexus\AppData\Roaming\npm-cache\_npx\16380\node_modules\create-react-app\node_modules\is-promise\index.js
require() of ES modules is not supported.
re

[2020-04-25 16:02] sebmarkbage commented on #18661
Yea that one is kind of surprising to me too.

Regardless I came across a case where we might want to change the rules like I mentioned above.

If you have a row that you want to consistently show in its loading state while popping in additional items one by one before it, then you need an inner list with tail=collapsed/hidden and an outer one which is not collapsed. But we force the last item not

[2020-04-25 16:22] atgillette commented on #18736
I'm experiencing the same issue.

[2020-04-25 16:34] bvaughn commented on #18701
Fair enough.

Sorry for the inconvenience. Hopefully someone will figure out a way to reproduce it eventually and we'll get it fixed. 😅

Hope DevTools are working out well for you otherwise!

[2020-04-25 16:39] Sharcoux commented on #14050
@threepointone I am trying to understand how async act fixes it. Here is an example of component I want to test. It should listen to size changes of the screen:

[code]

To test it, I mock the Dimensions object (in React Native):

[code]

Now I am trying to test the following:

- The resizeListener is correctly added on mount
- The resizeListener is correctly removed on unmount
- The new screen si

[2020-04-25 16:45] Jordan-Hall commented on #18736
The issue here is with is-promise a core package on alot of frameworks pushed out a dodgy update in last hour
https://github.com/then/is-promise/pull/15 is the PR to fix apparently and here the bug to tack https://github.com/then/is-promise/issues/12

[2020-04-25 16:55] Jordan-Hall commented on #18736
@neupaneanish this is confirmed but 3rd party

[2020-04-25 16:55] ayayalar commented on #18731
Yes, I thought that might be a problem. However, the build configuration is quite simple. There is nothing special about it. Can you elaborate how did you come to your conclusion?

[2020-04-25 17:48] Arleyrock7 commented on #18736
I have the same issue! Could someone solve it?

[2020-04-25 17:59] Jordan-Hall commented on #18736
@Arleyrock7 this was 3rd party code but the issue is now resolve

[2020-04-25 18:05] atgillette commented on #18736
It's working for me now.  Thx.

[2020-04-25 18:10] neupaneanish commented on #18736
yes its third party error and it solved

[2020-04-25 18:10] #18736 closed

[2020-04-25 18:26] vkurchatkin commented on #18731
React works the same regardless of whether you have a single file or not, whether you use a bundler or not. If you have a problem with context you need to ensure that provider and consumer really use the same Context object. It is most likely that they are not

[2020-04-25 18:37] ayayalar commented on #18731
I am definitely on the same page. However, when I debug I see the context is only getting created once. That tells me, they must point to the same object.

[2020-04-25 18:49] vkurchatkin commented on #18731
If there actually is a bug in React, it shouldn't be a problem to make a single file reproduction. After all, that what bundlers do: they build a single JS file. Build your bundle, remove all the webpack cruft, and you'll have it.

[2020-04-25 19:15] victormier commented on #13991
This also applies for people having trouble with redux or redux toolkit and electron-webpack. I have the following config:
[code]
see https://github.com/electron-userland/electron-webpack/issues/349

[2020-04-25 20:07] ayayalar commented on #18731
OK, figured it out. It was an issue in webpack configuration. I will share the resolution steps here, so if anyone runs into this kind of a problem, they know what the issue is.

Here is a simple webpack configuration that I am using for both the consumer and the provider.

[code]

and the `package.json` snippet

[code]

Notice, the @ayayalar/context-hook` as a peer dependency. My assumption here

[2020-04-25 20:07] #18731 closed

[2020-04-26 01:43] flexhard69 commented on #17885
Bind

[2020-04-26 02:50] MARIOMARUI opened #18740 "Bug: 一个问题，不懂，麻烦解释一下，谢谢"
return (
    <div>
      Hello
      {document.title = `You click ${count} times`}
      <button onClick={() => { setCount(count + 1) }}>Add</button>
    </div>
  )
}
为什么这种方式能够修改title  也能在页面中显示You click 0 times 呢

[2020-04-26 04:01] MinJieLiu commented on #18740
有图让你理解
![image](https://user-images.githubusercontent.com/6167727/80297449-9d883080-87b5-11ea-9f53-8d0b4e62c288.png)

[2020-04-26 08:08] subhero24 opened #18741 "useEffect with Suspense transitions"
I have a question regarding the expected behaviour of effects in combination with transitions.
When a state transition is wrapped with a useTransition and, before the transition completes, there is some user interaction causing a new state transition (which sets the same state to another value). React executes the effect of both renders, even though the first render did not ever render to screen,

[2020-04-26 09:52] simkessy commented on #14476
Yea this is quite annoying. I settled on using object-hash package seems to work alright

[2020-04-26 10:00] tomi-li commented on #18740
1. if you have any problems that you don't understand. please ask at the right place like StackOverflow.
2. ENGLISH Please. do not pollute issues section in Chinese, it's VERY unprofessional.
@MARIOMARUI

[2020-04-26 10:30] finom opened #18743 "Feature request: a function for conditional rendering"
Sorry, I didn't find any issue template for feature requests, but I hope it's fine.

The problem I'm trying to solve is to nicely develop components which usually require usage of ternary expressions.

[code]

It looks not nice and I have to use a third-party solution to achieve that. For example https://github.com/khmelevskii/babel-plugin-jsx-base-component which allows to turn the code above int

[2020-04-26 11:58] amandhaka opened #18744 "Bug: I am not able to change the css 'height' property dynamically."
I am trying to change the height of elements whenever an event occur. But that's not working with the following code. The code `${newHeight}px` is not working.
[code]

arrayBars here stores the array of elements referenced by 'array-bar'.

[2020-04-26 12:22] #10879 closed

[2020-04-26 12:23] naisergic commented on #12454
@dantman
@gaearon
could you guys help me in understanding the 2 examples I have created with ReactDom.createPortal, In one input text is maintaining focus and with other focus gets lost.

 https://codesandbox.io/s/portal-maintaining-focus-kzufj
https://codesandbox.io/s/portal-loosing-focus-965m6

I have not done anything extra to maintain the focus, just use the portal like
ReactDom.createPortal(c

[2020-04-26 12:43] dantman commented on #12454
Take a look at this modification to your second example.
https://codesandbox.io/s/portal-loosing-focus-b9b0k

Your ModalContainer component function is defined inside of your Portal component. So every time Portal renders a new ModalContainer function is created. Because the component is different this results in the previous component and your input being completely unmounnted and a new tree with

[2020-04-26 13:01] naisergic commented on #12454
@dantman ,
Thanks for explaining :-) , but one question I have used the same approach in example 1 which maintains the focus, in that also I have defined the function inside the Portal component

[2020-04-26 14:24] sreetamdas commented on #18744
@amandhaka if you're attempting to use [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) when you're doing `barOneStyle.height='${newHeight}px'`, you need to use the ``` (backtick) character; you're trying to use a `'` (single quote) character at the moment.

[2020-04-26 14:38] VitaminCtea opened #18747 "Using the tsconfig file to configure the alias does not take effect"
The project was generated using the create-react-app scaffolding, and the paths option was removed when I used the tsconfig.json file to configure the path alias! Then I tried to use the extends property in the tsconfig.json file to connect to the external path configuration file, but it didn't work either! Using the customize-cra plug-in in conjunction with the above configuration file does not t

[2020-04-26 15:05] koba04 commented on #18747
@VitaminCtea This is not an issue of React itself, so you should issue this to https://github.com/facebook/create-react-app

[2020-04-26 15:06] VitaminCtea commented on #18747
@koba04 ok, thank you!

[2020-04-26 15:15] prav2508 opened #18748 "useEffect hook not working in production due to minified react-dom.production.min.js"
TypeError: Cannot read property 'map' of undefined
    at S (insights.js:265)
    at qa (react-dom.production.min.js:153)
    at Lo (react-dom.production.min.js:175)
    at ml (react-dom.production.min.js:263)
    at us (react-dom.production.min.js:246)
    at ls (react-dom.production.min.js:246)
    at Jl (react-dom.production.min.js:239)
    at react-dom.production.min.js:123
    at t.unstable_r

[2020-04-26 15:18] koba04 commented on #18748
@prav2508 Could you create a reproduce case on the online playgrounds?
https://reactjs.org/docs/getting-started.html#online-playgrounds

[2020-04-26 15:26] fabiospampinato commented on #18229
I don't understand the reasons behind this technical limitation, it feels weird to me that perhaps the simplest, cleanest, possible use of `useMemo` isn't supported out of the box:

[code]

[2020-04-26 15:35] piyush97 commented on #14838
@MoeMamdouh Thanks!

[2020-04-26 15:59] JoseExposito opened #18749 "useEffect is never invoked in suspended component"
I'm trying to Fetch-On-Render (inside a `useEffect` hook) some data that depends on my component's props.

My component tree is wrapped in a `Suspense` component and the component that fetches data is a couple of levels down the tree.

Because the `useEffect` hook is in a suspended component it never gets invoked.

I'm not sure is this is the expected behaviour or a bug.

## React version:

Experi

[2020-04-26 16:11] vkurchatkin commented on #18749
This is expected. `useEffect` is triggered after a component is rendered and committed. If it is suspended, it's not going to happen

[2020-04-26 16:16] gaearon commented on #18749
With fetch-on-render, you have to have the *read itself* kick off the fetch. (Which is why fetch-on-render isn’t great, generally speaking — for example, it leads to waterfalls with nested components.)

Indeed, if a component's rendering suspends, any effects of that render are discarded. Effects only run for successful renders that haven't been suspended.

[2020-04-26 16:16] #18749 closed

[2020-04-26 16:23] JoseExposito commented on #18749
Thank you very much for your quick answers @vkramskikh and @gaearon and for the technical explanation.

I'll have to move my fetching logic to the top level component or figure out a way to access React Router props to render-as-I-fetch.

[2020-04-26 21:17] gaearon commented on #18749
There are no good ergonomic solutions for render-as-you-fetch without either manually hoisting data fetching logic upwards (annoying) or letting a compiler do it (like Relay does). We're working on something in that vein but it's very early so we don't have anything to share yet.

[2020-04-26 22:25] dantman commented on #12454
@naisergic In the first example the function is not a component, you use it and pass it's return value to the portal. It works exactly the same as if the function didn't exist.

i.e. The first example works as if you wrote this instead:
https://codesandbox.io/s/portal-maintaining-focus-mk2gt

[2020-04-27 04:24] azizhk commented on #17355
Getting this error in React Native as well.
react: "16.11.0"
react-native: "0.62.2"

Based on my understanding of this [reddit comment](https://www.reddit.com/r/reactjs/comments/fi39sm/thissetstate_in_componentdidmount_is_this_not/fknienc/).

I think if user land code throws an error in componentDidMount, React does not reset state and next time render occurs, this Error "Should not already be wor

[2020-04-27 04:33] charlie0077 commented on #14476
Does object-hash works for object with key in different order?

[2020-04-27 06:17] FgoPan commented on #18426
@eps1lon I found the same question as yours.
I had test several versions of React. But it is not still work well.When I delete the `<React.StrictMode>`.It's OK.
[https://codesandbox.io/s/silly-breeze-7pu4i?file=/src/index.js](url)

[2020-04-27 07:40] agrawalaayushi commented on #3365
But, this solution is not favorable to [Tree Shaking](https://developer.mozilla.org/en-US/docs/Glossary/Tree_shaking)

[2020-04-27 07:42] agrawalaayushi commented on #3365
@afilp, this solution is not favorable to [Tree Shaking](https://developer.mozilla.org/en-US/docs/Glossary/Tree_shaking)

[2020-04-27 07:56] mohit-llp opened #18751 "How re-trigger a dialog model that opened on a clicked event?"
![image](https://user-images.githubusercontent.com/44094302/80347917-9d0d9980-888a-11ea-8c98-9b92fd72805e.png)

[2020-04-27 10:36] kof commented on #18128
I did more triaging, this broke in react-dom package in particular.
- Using react@16.13.1  with react-dom@16.9.0-alpha.0 - shows the expected behavior
- Using react@16.13.1 with 16.9.0-rc.0 - shows the broken behavior

[2020-04-27 11:26] adamziel opened #18752 "Bug: <iframe /> onLoad is not getting triggered after moving the DOM Node in Chrome"
When an `<iframe />` DOM Node is moved to a different place in the tree, Chrome triggers a reload. That reload does not notify event handlers registered via `onLoad=`. In other words:

* If there is an event handler registered via `onLoad={myCallback}`, it **will not** be fired.
* If there is an event handler registered via `iframe.addEventListener("load", myCallback, false)`, it **will** be fired

[2020-04-27 11:32] raunofreiberg opened #18753 "Bug: onMouseLeave does not trigger on disabled button"
Derived from https://github.com/facebook/react/issues/4251#issuecomment-591644826

<hr />

React version: 16.13.1

## Steps To Reproduce

1. Hover over the disabled button
2. See tooltip appear
3. Hover away from the disabled button
4. Tooltip does not disappear

Link to code example: https://codesandbox.io/s/gracious-galileo-qymqw?file=/src/App.js

## The current behavior

`onMouseLeave` is not t

[2020-04-27 11:35] adamziel commented on #18752
Potentially related? https://github.com/facebook/react/blob/4e3545fd6fc62842d7dbf772923214474f59871a/packages/react-dom/src/events/ReactDOMEventListener.js#L318

[2020-04-27 12:03] eps1lon commented on #18752
Can only reproduce this in the actual codesandbox browser preview in firefox 75. It's working fine on the standalone page (https://k1ypg.csb.app/) or in chrome 81 regardless of the view.

[2020-04-27 12:07] adamziel commented on #18752
The firefox part is interesting - I wasn't able to reproduce it there. I just tried on the standalone page and managed to reproduce it there:

![2020-04-27 14-05-12 2020-04-27 14_05_41](https://user-images.githubusercontent.com/205419/80370372-486d1d00-8890-11ea-99bb-61effe476eb8.gif)

It only happens with the down arrow since it makes React move the actual DOM Node. Up arrow will move the previou

[2020-04-27 12:20] eps1lon commented on #18752
Looks like macOS?

Here are my results on Ubuntu 18.04:

Chrome Version 81.0.4044.122 (Official Build) (64-bit):
![iframe-google-preview](https://user-images.githubusercontent.com/12292047/80371165-c0881280-8891-11ea-944e-f34334dd939a.gif)
![iframe-google-page](https://user-images.githubusercontent.com/12292047/80371172-c3830300-8891-11ea-950b-16f21d1cdb3c.gif)

Firefox 75.0 (64-bit):
![iframe-ff-

[2020-04-27 13:06] adamziel commented on #18752
Yes it is!

Nice! So interesting how we're seeing all these OS/Browser inconsistencies here - I did not expect that. I wonder if these iframes are being reloaded in somehow different way/order on different OSes? Also, let me just link to iframe reload issues in case there is something relevant in comments:

* https://bugs.webkit.org/show_bug.cgi?id=13574
* https://bugzilla.mozilla.org/show_bug.cgi

[2020-04-27 13:18] facufrast commented on #18753
If you put the button inside a div, event works fine! But I don't know the reason:

[code]

[2020-04-27 15:01] Jucian0 opened #18754 "Error: "Commit tree does not contain fiber 3204. This is a bug in React DevTools.""
When I try to navigate in commits React Dev Tools Profiler I get this error:
"Commit tree does not contain fiber 8562."
![Screen Shot 2020-04-27 at 12 00 23](https://user-images.githubusercontent.com/8399579/80387189-bad50180-887e-11ea-860a-3821b2d9603c.png)

DevTools version: 4.6.0-6cceaeb67

Component stack: in ec
    in div
    in div
    in div
    in So
    in Unknown
    in n
    in Unknown

[2020-04-27 15:51] JoshClose commented on #14398
Bump.

[2020-04-27 16:27] thomassuckow commented on #7552
One issue I am having is the Context API doesn't seem to have a way to know the order of components. So that leads to using a parent child set of components where the parent has to tell the child its index via cloning children.

[2020-04-27 16:57] ZYinMD commented on #18368
I have a guess: in the synthetic event, the keyword `document` is used somewhere, and it always refers to the original document, not the externalWindow.document

[2020-04-27 17:12] hardikshahgit commented on #17196
That was really helpful man, took a long for me to figure out.

[2020-04-27 19:41] bomkee opened #18757 "chrome"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-04-27 19:42] #18757 closed

[2020-04-27 20:15] simkessy commented on #14476
it will likely generate a new hash

[2020-04-27 21:05] bvaughn opened #18758 "Jest: Cannot assign to read only property '...' of object '...'"
Right now in the React repo this test...
[code]
...fails with the following meaningless error message:

<img width="628" alt="Screen Shot 2020-04-27 at 2 04 19 PM" src="https://user-images.githubusercontent.com/29597/80420721-12c83400-8890-11ea-919f-e1b10b6fc561.png">

Apparently @trueadm mentions that this broke sometime recently because of a change we made. (I don't have details.) Its a pretty c

[2020-04-28 01:36] sbannigan commented on #17258
I've run into this issue before with angular as well. It's also reproducible with plain javascript. As far as I know, it was a webkit bug that was introduced in iOS 13, then resolved in 13.2. As of iOS 13.4 it seems to be an issue again, I'm not sure why. This [codepen](https://codepen.io/juliogcampos/pen/BzdjwY) is an easy way to see the issue.

![2019-09-03 14 44 55](https://user-images.githubus

[2020-04-28 06:12] timweightman commented on #15344
The team that I work with prefer to minimise external dependencies, so we don't use redux, etc.

We're using `useReducer` and wrote a dead-simple wrapper around it that hides the weirdness of `useEffect` and the render / commit phases.

It's effectively a drop-in replacement for `useReducer`

https://codesandbox.io/s/new-frost-ll1y9 - shows an async incrementer, with cancellation.

Dead simple dat

[2020-04-28 07:05] Sharcoux opened #18761 "Bug: using useState without changing the state generate a useless rerender"
When using useState in a component, this component will rerender twice, whereas nor the state nor the props did change.

React version: 16.13.1

## Steps To Reproduce

1. Create a dummy functionnal component
2. Create a state with useState

Link to code example: [codesandbox](https://codesandbox.io/s/unnecessary-rerender-when-using-usestate-q82l5?file=/src/index.js)

[code]

## The current behavio

[2020-04-28 08:43] pravi opened #18762 "Bug: generated files in source tree for react-window node module"
react-devetools-shared module has a coy of react-window node module ->
https://github.com/facebook/react/tree/master/packages/react-devtools-shared/src/node_modules/react-window

Can this be added to devDependencies in package.json instead? Or if that is not possible, can it be replaced with its source from github repo and built as part of the build process?

React version:

16.13.1

## Steps To R

[2020-04-28 08:52] pravi commented on #18762
Build is passing if dist directory (packages/react-devtools-shared/src/node_modules/react-window/dist) is dropped.

[2020-04-28 09:44] meghanar121 opened #18764 "Bug: npm run build error"
**i am not able run build command, it shows compileerror in css selector undefined**

PS C:\Users\megha\OneDrive\Desktop\Weather\weatherapp> npm run build

Creating an optimized production build...
Failed to compile.

Cannot read property 'length' of undefined
CompileError: Begins at CSS selector undefined

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! weatherapp@0.1.0 build: `react-scripts b

[2020-04-28 12:09] graouts commented on #17258
@sbannigan If you encounter a bug in WebKit, especially with a simple test, please file a bug at bugs.webkit.org. Thanks.

[2020-04-28 13:05] Lexicality commented on #14398
I would appreciate input from the React team on whether or not class components are deprecated

[2020-04-28 13:54] liximomo opened #18767 "React hydrate mismatch with Suspense component"
It appears you will have a mismatch warning when hydrating in conjunction with a client-side `<Suspense>` component which has a fallback element.

![image](https://user-images.githubusercontent.com/9816225/80495490-90786680-899a-11ea-8070-479435e91f2a.png)

CodeSandbox: https://codesandbox.io/s/zealous-burnell-i79nm?file=/src/index.js

React Version:
react@16.13.1
react-dom@16.13.1

[2020-04-28 15:13] mischnic opened #18768 "Bug: `React.lazy` throws undefined instead of an `Error` object"
React version: 16.13.1

## Steps To Reproduce

[code]

Link to code example: https://codesandbox.io/s/elegant-fermi-bxwtb

Might be related to https://github.com/facebook/react/issues/15019, https://github.com/facebook/react/pull/15222

## Context

I know that this is incorrect code, but `lazy(() => {import(...)})` is a rather easy typo to make.
The main reason why I'm bringing this is up is that

[2020-04-28 15:42] Falci commented on #11503
Ok, already in the future. Is it in the near future now?

[2020-04-28 15:45] rositskyy commented on #18761
Same problem. When removing React.StrictMode it solves the problem

[2020-04-28 16:32] fabiospampinato opened #18769 "Bug: rules-of-hooks should support hooks inside top-level IIFEs"
React version: **v16.13.1**
eslint-plugin-react-hooks version: **v3.0.0**

## Steps To Reproduce

1. Write something like this:

[code]

2. Run the `rules-of-hooks` linter rules on it.

## The current behavior

Those linter rules will complain that the `useState` hook is being called inside a callback.

## The expected behavior

Those linter rules should be a little smarter and ignore this kind of

[2020-04-28 18:07] eps1lon commented on #18767
I guess hydrate() should warn if it encounters features that aren't supported for server-side rendering.

If you pass the same component to `renderToString` react-dom will throw `ReactDOMServer does not yet support Suspense.`. The docs for `hydrate()` specifically mention that it can only hydrate containers

not just arbitrary HTML even if the resulting markup is the same.

[2020-04-28 18:14] bvaughn commented on #18702
Sebastian shared an interesting insight about this:

The change being proposed here could reinforce this, since the workflow is to first select a component and then look at *its* key (rather than the other way around- looking at a key to see which Component is in its slot).

Seems like the design of this, if we do choose to add "key" to the right panel somewhere, should reinforce the right mental

[2020-04-28 20:27] vkurchatkin commented on #18769
This pattern seems rather pointless. Why would you do that?

[2020-04-28 20:55] fabiospampinato commented on #18769
@vkramskikh Correctness-wise I don't think it matters why I do it, and I'd argue one should strive for correctness.

In my specific case I did that because I was wrapping all props and state in refs to be passed to an object that could mutate them, that object could also mutate the value returned by `useState`, in order not to have the component render the previous thing rather than the new one, b

[2020-04-28 21:23] vkurchatkin commented on #18769
Linter rules are based on conventions. It is not possible to support every possible case, so only patterns that are popular are supported.

It is safe indeed. So is calling a custom hook not `use`-something, or calling hooks in a loop, if it always has the same number of iterations. None of this is supported.

[2020-04-28 21:32] fabiospampinato commented on #18769
Sure, I'm not asking to get every possible use case supported though.

Those cases you mention aren't statically analyzable usually, I don't have much experience manipulating the AST but detecting a wrapper IIFE like in my example code above would probably be easy. Whether it's worth adding to the rules or not it's not for me to decide, I would appreciate though if the rules were a bit more correc

[2020-04-28 22:17] Paol-imi commented on #3965
React-reverse-portal looks very cool.

Personally, I don't particularly like the portals approach. So I developed a package to handle reparenting in my App, and I published it under the name of [**react-reparenting**]().

The concept is really simple. Once you've set it up, you can just re-render the components.

<div align="center">
<img width="65%" src="https://paol-imi.github.io/react-reparenti

[2020-04-28 23:21] bvaughn commented on #18764
Please report this bug in the Create React App repo:
https://github.com/facebook/create-react-app

This is the React repo. Different teams maintain each of these projects.

You'll probably also need to include more information than what you listed above in order for someone to be able to help you though. That doesn't look like enough info for anyone to reproduce the error. :smile:

[2020-04-28 23:21] #18764 closed

[2020-04-28 23:23] bvaughn commented on #18762
It is an intentional fork with a couple of small concurrent mode specific tweaks added. Eventually I will port those changes to the main react-window (probably). For now the fork is intentional though.

[2020-04-28 23:28] bvaughn commented on #18762
Now I'm second guessing myself if the forked changes were already upstreamed. I can't remember...

I'll reopen this for now, but I don't think this is a priority issue for me to look into 😅 so it's probably going to sit for a while.

[2020-04-29 01:49] benatkin commented on #3163
IMHO this is correct behavior but it ought to be documented.

[2020-04-29 02:51] beilo opened #18775 "Bug: list component when key exists, there will be cache item component"
React version:

[code]

## Steps To Reproduce

The premise is as follows:
I use 'mobx' as state control.
I have 2 states, ` mydata = [] `,  `serData = [{XXX}]`, serData.length = 20.
I have a `mode; / / local or dispatch` is used to control the display of `mydata or serdata`

1. Show `mydata`. The page is blank at this time
2. Switch `mode = dispatch`, display`serData`, select the first `item data`

[2020-04-29 02:56] beilo commented on #18775
1. init
![image](https://user-images.githubusercontent.com/19225489/80556918-c30c7880-8a07-11ea-830f-db7c0e804b74.png)
2. show serData
![image](https://user-images.githubusercontent.com/19225489/80556944-da4b6600-8a07-11ea-951a-454de0c95d8b.png)
3. check serData in wqre111 return myData
![image](https://user-images.githubusercontent.com/19225489/80556982-fb13bb80-8a07-11ea-918e-c00074778ef5.png)

[2020-04-29 07:26] Aarbel commented on #17258
@graouts the bug can also come from the way javascript handles the touch events. That's why HammerJs exist. Does React has to handle that ? For basic Clicks i think yes, as more and more projects are cross platforms.
Far harder to make the apple team fix it with their 20st century bug tracker (webkit bugzilla).

[2020-04-29 07:33] danielo515 commented on #13586
So any valid workaround that doesn't involves changing your entire component tree? Many people is using context inside options to provide localisation etc.

[2020-04-29 08:18] nyz123 commented on #18761
When removing useState and useEffect it solves the problem,too.

[2020-04-29 08:29] graouts commented on #17258
@Aarbel A member of the Apple team here! Hardest to fix bugs that aren't filed :)

[2020-04-29 09:26] Sharcoux commented on #18761
Removing the component solves the problem too xD

[2020-04-29 09:27] Aarbel commented on #17258
@graouts sorry to be pushy, you should really internally convince Apple to leave webkit. I'm serious. And also allow Chromium webview in native iOS apps. I really don't understand why webkit is still maintained. Looks like a big waste of money with 0 strategic impact for Apple (it was strategic at the beginning, but now the "tech browser game" doesn't bring more retention for the business). So if

[2020-04-29 09:36] nyz123 commented on #18761
haha~,  you make me laugh...

[2020-04-29 09:42] rovansteen commented on #18761
Source: https://github.com/facebook/react/issues/15074#issuecomment-471197572

[2020-04-29 09:51] karlhorky commented on #18702
Hm, interesting idea... teaching this mental model via the design may not be practical from a design or user expectations perspective though. Making the interface more confusing will not teach people anything, it will just make Devtools harder to use.

Putting the `key` "above" the component somehow would be pretty confusing, if a user clicked on the component. The user would expect to see the com

[2020-04-29 09:52] Sharcoux commented on #18761
Ok, my bad then. I didn't know at all about this feature. Should strict mode log a message in develpment to warn about this or anything? I think it is hard for devs to discover about the source of what they may experience in the current state of things.

[2020-04-29 11:01] laclance opened #18777 "Bug: Stop browser hanging on Maximum update depth exceeded"
React version: 16.13.1
OS: Windows 10
Browser: Google chrome 81.0.4044.122

Whenever I incorrectly use useEffect hook and get the Maximum update depth exceeded error the chrome tab hangs and I have to force close using task manager and reopen chrome again in order to close the tab. This makes debugging the cause very time consuming and annoying, is there a way to avoid this? like for example stop

[2020-04-29 12:38] graouts commented on #17258
I won't debate the merits of Bugzilla, your point is taken though. However, it's harder still to track issues if they are not filed in the WebKit bug reporter in the first place.

[2020-04-29 13:09] graouts commented on #17258
Based on the information shared by @sbannigan, I filed webkit.org/b/211179.

[2020-04-29 14:31] balazs31 commented on #18705
I'm having exactly the same issue. Unfortunately restarting the system does not fix it. Using Chrome for Developers on MacOS Catalina.

[2020-04-29 15:21] florentdestremau commented on #11538
Very glad to find this thread. I fixed the few critical screens that we affected by "simply" nesting my content more aggressively, in particular content with ternary or shorthand display conditions.
Here is an extract of the pull request we made:

![image](https://user-images.githubusercontent.com/2852204/80613515-ae4ad780-8a3d-11ea-990f-5193651b7d42.png)

[2020-04-29 16:33] Eddie-CooRo commented on #18761
@Sharcoux I think Sebastian already worked on this part: [PR](https://github.com/facebook/react/pull/18547).
But as a general rule, React doesn't promise anything about when and how many times it calls our function. So it might call the render function multiple times even outside of the StrictMode.

[2020-04-29 17:03] bergkvist commented on #5943
A potential use case for this would be
## Cascading onContextMenu prop

Usually, a custom context menu is something you want to be global on your site - but you want children to be able to overwrite the context menu to create a more specialized one.

This can't really be solved using the context api, since you have to manually hook into the context API from within the children. If you don't have d

[2020-04-29 17:05] vamcs opened #18779 "Bug: Radio buttons do not get checked with an array of inputs"
React version: 16.13.0

## Steps To Reproduce

1. Example below illustrates the problem.
2. The component `Radio` has an array of objects that are mapped into `<input>`s which can't be selected. The version without the array in `HelloWorld.jsx` works as expected.

Link to code example: https://glitch.com/~react-input-radio-bug (click on `Remix` below the rendered example to see the code) (if a lin

[2020-04-29 17:16] prav2508 commented on #18748
issue is fixed, i had difference in react dom and react..
thanks :)

[2020-04-29 17:16] #18748 closed

[2020-04-29 17:22] rexthefex opened #18780 "Saving an unrendered functional component to state throws "Error: Should have a queue" or "Rendered more hooks than during the previous render.""
React version: 16.13.1

## Steps To Reproduce

1. Create a component with hooks. Let's call it `Component` for brevity.
2. Save it to the state on the main functional component without creating it: `setState(Component)`.
Note that it is not `setState(<Component />)`
3. App crashes with either "Error: Should have a queue." or "Rendered more hooks than during the previous render.", depending on the

[2020-04-29 17:31] gaearon commented on #18780
If you put a function into state, you need to add `() =>` both in `useState` and `setState` calls because otherwise React thinks you're using a lazy state initializer. This is an unfortunate consequence of function overloading.

Your code example is empty but I assume you need something like

[code]

[2020-04-29 17:31] #18780 closed

[2020-04-29 17:53] iraqwarvet31 commented on #16843
Can you please provide the link for the fix? Still experiencing this issue.

[2020-04-29 18:35] kolodny commented on #14620
I took a crack at this as well. This seems to work fine:

[code]

Usage is:

[code]

I also published this helper as an npm library [`react-compose-wrappers`](https://github.com/kolodny/react-compose-wrappers)

[2020-04-29 19:02] TodorTotev commented on #18779
Hello. The problem is not with React. Your current method returns "on"
![Screenshot 2020-04-29 at 21 49 36](https://user-images.githubusercontent.com/51530311/80635436-8de24380-8a64-11ea-9800-bf293e5e6636.png)

You are passing a method from the main component which you are overriding after that with another method.

Solution to your problem would be, to pass a method from the "HelloWorld" componen

[2020-04-29 19:03] muhammadwafa commented on #3386
I have almost the same question in `react-native`, I appreciate if anyone can help me

[my question](https://stackoverflow.com/questions/61500042/how-to-parse-string-into-react-native-component)

[2020-04-29 20:45] andreyvolokitin commented on #16121
Using this pattern, how to know if ref is getting detached? (similar to the behaviour of the function returned from `useEffect` callback). We can check if `node !== null`, but it only checks node existence, and it exists before detach as well as after attach. The guide notes that *"the callback ref will be called only when the component mounts and unmounts"*, but how to distinguish between mount a

[2020-04-29 20:54] vamcs commented on #18779
Hi, thanks for taking a look. True, I completely missed setting the value prop for the input, that's why this example doesn't work. By the way, `preventDefault` prevents it from working too. We have some problem with a similar radio button in our codebase and I thought I had managed to reproduce it externally. I'll double-check tomorrow and close this issue if I still can't reproduce it.

[2020-04-30 00:58] sebmarkbage opened #18786 "Error: "Cannot read property 'duration' of undefined""
Describe what you were doing when the bug occurred:

Profiled the new FB. Scrolled down to tail loads.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.6.0-a2fb84beb

Call stack: at chrome-extension://dnjnjgbfilfphmojnmhliehogmojhclc/build/main.js:40:345591
    at Array.map (<anonymous>)

[2020-04-30 01:47] bl00mber commented on #16492
How to access this UI, is it still exists? Profiler does not seem to have it.

![Screenshot from 2020-04-30](https://user-images.githubusercontent.com/16987322/80663721-3bc61000-8aae-11ea-873d-2cd94dfb3040.png)

[2020-04-30 03:21] #18715 closed

[2020-04-30 03:53] craigkovatch commented on #9142
I'm encountering this issue in Chrome 81 + React 16.8.6 -- a focusable `<span>` element is being re-created (as opposed to re-rendered; bug in other code that I don't own), which causes it to lose focus. The Grid that contains it doesn't receive a React `blur` event when this happens, causing the grid focus management state to get inconsistent. Has anyone figured out any workarounds for this? Mayb

[2020-04-30 04:06] vamcs commented on #18779
I found the problem in my application. Two groups of radio inputs were being rendered with the same name `language` application wide and they conflict, affecting which input was being marked as checked. This forced the user to click twice to make an input being shown as clicked. Also, I've updated the linked example with a way to reproduce it for documentation. To solve that the inputs need to be

[2020-04-30 04:06] #18779 closed

[2020-04-30 06:25] drager commented on #18026
Would be great if the displayName become something like: `Memo(ComponentName)`. At the moment memoized components will be displayed as `_c2`, `_c3`, etc in Chrome devtools when profiling which is somewhat cumbersome.

![image](https://user-images.githubusercontent.com/1957563/80678942-2f48b400-8abc-11ea-88e4-1b6ee0095bb2.png)

[2020-04-30 07:02] maximmasterr commented on #17531
Dear @mduclehcm
can you explain please your context?
what is pushPromiseToWait?
can you share full code here?

[2020-04-30 07:09] suru195 opened #18787 "not able to get react tab at the inspect option"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-04-30 09:38] huoyingjianshen commented on #5030
use code follow:

getStyle = () => {
    var style = {
                background: "url(xxxxxxxxxx") no-repeat center",
                backgroundSize: "100% 100%"
            }
    return style;
}

......
<div style={getStyle}></div>

[2020-04-30 10:59] ackvf opened #18788 "React developers tools extension icon"
Can you change the boxed logo for a transparent icon? It would look better in the Extension bar

left React Developer Tools, right react-detector
![image](https://user-images.githubusercontent.com/2313018/80702975-34205e80-8ae2-11ea-87e5-5308b54e5bb6.png)

[2020-04-30 11:58] AvraamMavridis commented on #15691
I have the same issue with react testing library, the only difference is that the test pass locally while fails on CI.

[2020-04-30 12:44] phillx commented on #18743
@finom As a developer, I would prefer to use :
[code]
Why?
- I see this as the introduction of unnecessary abstraction used for the cases which are easy to solve with native support of the JS/JSX.
- If you feel like your code is unreadable or hard to maintain, make sure you utilize tools like `prettier` and `eslint`
- If you have huge conditional blocks rendered, consider refactoring - there is a

[2020-04-30 13:38] leminhson2398 commented on #18751
Hey!
I don't understand your issue, could you please describe it more details ?
Since asking question here may be slow to get response, you should ask as clearly as possible.
Thank you!

[2020-04-30 15:38] mohit-llp commented on #18751
I Fixed it.
thanks

[2020-04-30 15:38] #18751 closed

[2020-04-30 15:50] cliffhall commented on #16138
Great that stalebot can close this if the developers simply ignore it long enough. Kudos, React Team!

[2020-04-30 16:16] jzworkman opened #18790 "Memory Leak - React DOM keeps references to stale child components when using the Container/Pure component pattern"
**Do you want to request a feature or report a bug?**
Report a bug.

**What is the current behavior?**
ReactDOM keeps references to previous states/props/children when component gets updated. All in all consuming three times as much memory as it really needed.

We are seeing this as a significant issue when using Redux and container components. When our container componet(that is connected to redu

[2020-04-30 16:17] jzworkman commented on #16138
New issue opened here: https://github.com/facebook/react/issues/18790

Which has the main content of the original post, plus the description I added in the comments of this issue

[2020-04-30 17:34] idoros opened #18791 "Bug: render multiple portals to same element additive behavior"
For every use of `ReactDOM.createPortal()` in a unique VDOM position the content is rendered adding to the portal element without clearing it.

React version: 16.12.0

## Steps To Reproduce

1. create a dom element to render a portal into
2. use `ReactDOM.createPortal` more then once from different positions (or component instances) to render to the same element
3. result: each instance adds its c

[2020-04-30 18:36] cliffhall commented on #18790
I’m seeing similar issue but using Hooks / useState and functional components. We have an infinite scroll and a buffer window. After the buffer is full, old components are removed and new ones added, with the size of the buffer being all that should exist in memory at any one time. But memory just keeps rising. There are no setTimer or event listeners or other in app or global objects keeping refe

[2020-04-30 18:37] candreslobor opened #18793 "Bug: Unable to run command npm start"
## Steps To Reproduce

1.run `npx create-react-app`
2.cd `project-folder`
3.npm start

## The current behavior
`Starting the development server...

events.js:292
      throw er; // Unhandled 'error' event
      ^

Error: ENOSPC: System limit for number of file watchers reached, watch '/home/candres/Documents/Programacion/Cursos/MERN/frontend/public/logo512.png'
    at FSWatcher.<computed> (interna

[2020-04-30 19:28] IPetrik commented on #15074
If I'm understanding the documentation correctly, the purpose of this is to bring the developer's attention to lifestate function that are non-idempotent, because these might cause problems when concurrent mode is rolled out. So, I'm assuming just ignoring double renders that cause double sideeffects in StrictMode is not a good idea for future proofing.

What then, is best practice for functions t

[2020-04-30 20:36] esseswann commented on #5943
@bergkvist
4 years of working with React since I created this issue and now I more cautious about such requests :)
But if you want a thought experiment on this concept - cloning the elements by some code-walker which replaces the props might achieve the desired results

[2020-04-30 21:05] Elvis339 commented on #18793
Here's something that may help: https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers

[2020-04-30 23:34] DonHaul opened #18795 "Bug: Fetch API not working correctly when using ReadableStream"
While building a react app, where the front-end must constantly receive streaming data, I noticed that each stream chunk, is only technically received, after the whole stream data is transmitted, although I can chrome network tab that is being received in several chunks. This issue occurs during development, but after building the app for production it no longer occurs.

React version: 16.13.1

##

[2020-05-01 00:57] raxod502 commented on #16592
@aweary If the ability to use `javascript:void(0)` is being removed then React should ship an alternative way to create links that act like buttons. [A brief glance at StackOverflow](https://stackoverflow.com/a/1368286/3538165) shows that there is no reasonable alternative to `javascript:void(0)`. What about just whitelisting this specific string? That would solve this usability problem while not

[2020-05-01 08:56] omwalhekar commented on #14963
I am still getting the same error, I've tried cleaning cache and runnning the command again still i get the same error, please help me out

[2020-05-01 08:56] omwalhekar commented on #14963
I am still getting the same error, I've tried cleaning cache and running the command again still I get the same error, please help me out

[2020-05-01 09:15] Mr-DRP commented on #14963
I havent subscribed however i am continuously getting email.

On Fri, May 1, 2020 at 2:48 PM Omkar Walhekar <notifications@github.com>
wrote:

[2020-05-01 11:29] vkurchatkin commented on #18795
This has nothing to do with React

[2020-05-01 12:02] DonHaul commented on #18795
@vkurchatkin Why do you say that?

[2020-05-01 12:41] shiftyp opened #18798 "Error: "Cannot read property 'duration' of undefined""
Describe what you were doing when the bug occurred:
1. Add interaction tracing with unstable_trace
2. Record a profile, navigate to Profiler > Profiled Interactions
3. Error appears when scrolling view or immediately

![Kapture 2020-05-01 at 8 37 44](https://user-images.githubusercontent.com/131928/80805899-3688c400-8b87-11ea-88ca-3a7ae7de3589.gif)
---------------------------------------------
Ple

[2020-05-01 12:52] gaearon commented on #18795
Can you help me figure out why you think React is related to this problem? Have you tried removing React from the equation?

[2020-05-01 13:49] vkurchatkin commented on #18795
The problematic code is within `useEffect`. React just runs it and doesn't affect in any other way. You don't even call any React-related code (such as `setState`) from there. Then again, React doesn't have any network-related code at all.

If you post this question to Stackoverflow, you'd surely get the help you need.

[2020-05-01 14:29] DonHaul commented on #18795
After some further testings, it seems it is related to the fact that the client and the flask servers where on the same host, and not related to react at all, thank you all

[2020-05-01 14:29] #18795 closed

[2020-05-01 15:36] zys commented on #15620
Having the same problem. Any suggestions?

[2020-05-01 15:55] chiragswadia commented on #18798
Looks like duplicate of https://github.com/facebook/react/issues/18786 🤔

[2020-05-01 16:04] gaearon commented on #18208
This should've gone out in 3.0.0

[2020-05-01 16:04] #18208 closed

[2020-05-01 16:32] shiftyp commented on #18798
Here is a deployed repro case: https://react-example1.s3.amazonaws.com/index.html

Steps:

1. Load above URL
2. Open React Profiler
3. Start recording
1. Hit the "Fetch" button a few times
4. Stop Recording
5. navigate to the Profiled Interactions tab
6. Scroll down to the bottom of the list. The error should occur as you approach the bottom of the view

You can find the code for the case here: ht

[2020-05-01 17:59] adil-waqar commented on #3163
Any best way to handle this? I want this prop required BUT it's null before I get it back from the API.

[2020-05-01 18:28] candreslobor commented on #18793
yeah it works, thanks a lot dude

[2020-05-01 18:28] #18793 closed

[2020-05-01 18:30] finom commented on #18743
@philix I think that ternary expressions and && operators look inappropriately ugly in JSX. Good code isn't only made of smooth architectural decisions bit also of nice-looking code.

[2020-05-01 18:52] vamshi9666 commented on #15156
I made an hoc almost very similar to connect() in redux
[code]

Implementation :
[code]

[2020-05-01 19:45] giorgi-m commented on #16728
[Here ](https://codesandbox.io/s/react-hooks-counter-demo-c7xxk?file=/src/index.js) if you click button, you can see always child cleanup is logged first, then parent cleanup. Did I misunderstand above comment? Was this supposed to happen? @rogierschouten you also claimed first parent cleanup was called right, unlike the sandbox example in my link?

[2020-05-01 22:06] #18787 closed

[2020-05-01 22:07] bvaughn commented on #18787
This issue doesn't have any of the required info, so I'm closing it. If you'd like to fill in the missing info we can reopen it!

[2020-05-01 22:09] bvaughn commented on #18788
The icon's contrast is important. Light blue on dark gray looks good, so your screenshot looks good. But if the operating system (or browser) weren't in dark mode, it would be light blue on light gray, which would not look good.

This icon needs to look good across Chrome+Firefox+Edge on Windows and Mac, with both light and dark modes enabled. So I think keeping the background color as part of the

[2020-05-01 22:09] #18788 closed

[2020-05-01 22:09] bvaughn commented on #18786
Possible duplicate of #18798.

[2020-05-01 22:10] bvaughn commented on #18798
Thanks for the repro case, @shiftyp!

[2020-05-01 22:11] bvaughn commented on #18754
Can you reproduce this behavior?

If so, can you please share the repro steps with us?

[2020-05-01 22:40] sebmarkbage commented on #18768
I did some refactoring for lazy in master. Looking at one of the more recent builds, this looks like it's fixed: https://codesandbox.io/s/infallible-shaw-o3iv4?file=/src/App.js

[2020-05-02 04:53] nickretallack commented on #15792
@Dergash are you saying @audiolion is correct?  Because he's not.  Try running eslint on his solution and you'll get this:

[code]

Just because you put `if (!isUserId || !isHovering) return null;` inside a hook doesn't make it not an early return.  The number of hooks that get called will differ if values change such that the early return happens or does not.  That's what this thread is all about

[2020-05-02 05:00] nickretallack commented on #15792
Here's an example of the solution I'm proposing for working around this.

Original component that breaks the rule:
[code]
New code that works around the lint rule:
[code]
I often have to create tiny wrapper components like this for other reasons, anyway, such as exploiting the `key` property to cause re-renders.

[2020-05-02 05:47] liesislukas commented on #18099
they already did that, installing update atm.

WebStorm 2020.1.1
Build #WS-201.7223.93, built on April 30, 2020
Runtime version: 11.0.6+8-b765.40 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.6

[2020-05-02 06:52] #17564 closed

[2020-05-02 09:05] Dergash commented on #15792
@nickretallack

You are right about putting early return inside the hook not being valid, and overall I'm inclined to agree that putting hooks before any early return is a correct way.

Though there is some background on why I've answered the way I've answered initially an d I'd like to share it.
Check this code example: https://codesandbox.io/s/fancy-star-g95r2
This is a pattern that I observe in

[2020-05-02 10:18] gugol2 commented on #3163
@davidje13 I encounter a little problem with this approach. Coverage testing has 1/4 case that is never covered.

Let's say I have a component Login that only has one prop 'name' that can be null or a string required:
[code]
So its proptypes are:

[code]
When I test this component I really only have 2 scenarios, null OR a required string.
[code]
But coverage tells me my test has only 75% coverage.

[2020-05-02 10:21] davidje13 commented on #3163
It sounds like your missing test case is the one where it fails the prop check? i.e. if you pass a number or undefined or something else it shouldn't have.

[2020-05-02 10:54] femiveys commented on #15620
I have added keys to all my children and I still get this error.
I think this is a bug

[2020-05-02 10:57] femiveys commented on #15620
I found the solution here:
https://github.com/ant-design/ant-design/issues/7623#issuecomment-403331875

Every record (your rows) also need a "key"

[2020-05-02 17:13] rohanvachheta opened #18804 "Error: "Could not find commit data for root "957" and commit 2""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.6.0-6cceaeb67

Call stack: at n.value (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:173658)
    at p (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/b

[2020-05-02 18:33] OliverJAsh commented on #14476
I'm a bit surprised by the fact that React is inconsistent here, because `React.memo` does have this. Why is this functionality provided there when the hooks do not have it?

[2020-05-02 19:17] Paol-imi commented on #13044
I built a library to manage reparenting with a different approach, which is not based on portals. You can check it out on Github: [**React-reparenting**](https://github.com/Paol-imi/react-reparenting).

There are some examples on codesandobox:
 - [**Quick start**](https://codesandbox.io/s/react-reparenting-reparentable-rvfi4) example.
 - [**Drag and drop**](https://codesandbox.io/s/react-reparenti

[2020-05-02 19:52] #17590 closed

[2020-05-03 01:28] Amine-H commented on #18786
I can work on this issue.

[2020-05-03 05:08] macmaster commented on #18761
Cool, thanks for sharing. I learned something new:

https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects

[2020-05-03 08:20] dylancom commented on #13044
@Paol-imi I just tested it with React Native and get the following error: `Unhandled JS Exception: ReferenceError: Can't find variable: Element`.

[2020-05-03 09:23] Paol-imi commented on #13044
When reparenting, the package also tries to send the nodes you are working with (e.g. \<div>).
The default configuration in the package allows you to work with ReactDOM. In your case the warning occurs because no DOM element has been found (since they do not exist in React Native).

You can provide a [**configuration**](https://paol-imi.github.io/react-reparenting/docs/renderer) that works for Rea

[2020-05-03 09:28] Paol-imi commented on #13044
If you have problems with the implementation, you can file an issue on [**Github**](https://github.com/Paol-imi/react-reparenting/issues).

[2020-05-03 10:24] zys commented on #15620
I believe that worked. I removed the `React.Fragment` and passed the "key" to the "TableRow".

Thanks

[2020-05-03 13:01] javascripter commented on #18743
The suggested function won't work. Consider the following:
[code]
is fine because  `a.value` will not be evaluated unless `a` evaluates to `true`. However,
[code]
will fail because a is null and a.value is evaluated regardless of whether condition is met.

Even if it's implemented as a babel macro/plugin, it breaks the expectation that arguments in function calls are always evaluated before they'r

[2020-05-03 13:26] eps1lon commented on #18594
@aweary Seems like your approach only works for `.render`. It throws during hydration (using `.hydrate` with

-- https://codesandbox.io/s/serverless-tdd-7ltt5

[2020-05-03 17:22] nickmccurdy commented on #17208
Bumping, I think this would improve the DX of React extension development

[2020-05-03 21:00] alflennik commented on #13991
My issue was that I wrote

[code]

Instead of:

[code]

Sometimes it's the dumb things.

[2020-05-04 02:22] 49-22 commented on #18804
It would be better if you provide more details on the question.

[2020-05-04 12:14] pimterry commented on #16087
@albertxing I think I'm seeing the same memory leak issue as you here. I have DOM input nodes being held by Chrome seemingly indefinitely after they're unmounted, and those are retaining huge amounts of memory via memoizedProps etc. It's causing me some big problems. Did you make any progress on this?

[2020-05-04 13:15] gaearon commented on #18790
I'm a bit confused about the example. You're saying the problem is with using Redux and "pure" components, but then the example uses neither. Can you clarify what you mean by that?

[2020-05-04 13:16] tms1337 opened #18812 "Bug: Multiple `useState()` calls to `set` override each other"
When I call two methods to set state, only one ends up getting called. I know this could be fixed by using `useReducer`, but shouldn't this work as well.

React version:

[code]

## Steps To Reproduce

I create a simple custom hook as below. Since on click calls `heperA()` **and** `setB(5)` I would expect the end result to be `{a: "predefined", b: 5}`. But instead what I get is `{a: 3, b: 5}`

[co

[2020-05-04 13:28] jzworkman commented on #18790
@gaearon   Sorry this post had two separate examples, the code example posted was from the Original post(that was closed for being stale despite still being an issue).  The Redux example is from my personal experience with the same type of memory leak(that has a work around).
IE Redux state passed to a pure unconnected child component from a parent leaks that memory on redux state update/re-render

[2020-05-04 13:36] illuminist commented on #18812
Common react setState pitfall where `state` in the second action still is the original `state`.

how it should be done:
[code]

[2020-05-04 13:40] tms1337 commented on #18812
Thanks @illuminist. Didn't even know for this option, is there any docs for it?

[2020-05-04 13:43] gaearon commented on #17581
Interesting find. Let's keep this open for now.

[2020-05-04 13:43] gaearon commented on #17581
Is this Chrome only? What about FF? Safari?

[2020-05-04 13:46] illuminist commented on #18812
Yes it is. https://reactjs.org/docs/hooks-reference.html#functional-updates

[2020-05-04 13:46] gaearon commented on #17581
I'll ping someone from Chrome. I think ideally we'd fix this upstream instead of hacking around it in React.

[2020-05-04 13:49] gaearon commented on #18790
This is really strongly worded! :D

Yes, it's not ideal, but in some cases we _do_ keep a previous tree in memory — until the next time the component updates. So I'd only say it's a leak if it keeps growing *regardless* of parent component updates. These tradeoffs could change though (see #16087 for details).

[2020-05-04 13:50] tms1337 commented on #18812
Thanks, closing

[2020-05-04 13:50] #18812 closed

[2020-05-04 13:51] gaearon commented on #18790
@cliffhall Your description isn't very helpful without a code sample. What you're describing _does_ sound like a leak but we can't guess what it is unless you reduce it.

[2020-05-04 13:53] cliffhall commented on #18790
I realize that, and soon I will attempt to do that. Just saying this behavior isn’t limited to redux and class based components.

Sent from my iPhone

[2020-05-04 13:55] jzworkman commented on #18790
Yea this is the key part we were seeing, that when getting updates to the parent through Redux(we were getting real time updates of a large accounting report via SignalR that would update the parent).  This would result in 10+ abandoned trees in the stack, and they were not cleared by forcing a garbage collection cycle.

When I instead hooked the child display components directly up to redux inste

[2020-05-04 14:06] gaearon commented on #18790
The original code example doesn't repro for me with 16.3.1: https://codesandbox.io/s/dark-silence-ypgum?file=/src/index.js

So we'll need an actual repro case to look into this.

[2020-05-04 14:20] gugol2 commented on #3163
No, it is not that.

Passing undefined does not expand the coverage.
And I can't pass a number anyway, it is not an allowed value.

I am not able to cover that case.

[2020-05-04 15:51] finom commented on #18743
@javascripter that's a very good point!

[2020-05-04 15:51] #18743 closed

[2020-05-04 17:37] acharb opened #18817 "Bug: Weird behavior when using react hooks inside of a React.StrictMode wrapper"
React version:
16.13

## Steps To Reproduce

1. setting state from the useRender hook immediately followed by a state sending function from useState, causes the useRender function to be called twice.

- this happens under the following occasion only (that I've noticed)
1.  if we bail out of rendering in our useRender render function
2. in a React.StrictMode wrapper

(if either of those two are not

[2020-05-04 17:58] eps1lon opened #18818 "Bug: devtools profiler flamegraph "rendered at" tooltip equal for all entries"
React version: 16.13.1
devtools version: 4.6.0 (3/26/2020). Created from revision 6cceaeb67 on 3/26/2020.

## Steps To Reproduce

1. Record profiling session
2. Goto flamegraph
3. Hover over individual bars

Link to code example: https://codesandbox.io/s/cocky-rain-uuoi8?file=/src/index.js

## The current behavior

"rendered at" uses the value from the root component

![Screenshot from 2020-05-04

[2020-05-04 18:08] eps1lon commented on #18817
Your reducer isn't pure which leads to the double increment due to React's [StrictMode](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects).

You'd want something like

[code]

[2020-05-04 18:15] albertxing commented on #17581
I tested this in both Firefox and Safari, and both seem to leak the arraybuffers. I'm not familiar with either of their memory debugging tools though, and I don't have a debug symbols build for them, so I'm not sure what the leak is internally (whether it's the undo stack or something else).

[2020-05-04 18:19] albertxing commented on #16087
@pimterry Sorry, I haven't made any concrete progress. This PR was just opened though, which looks promising: https://github.com/facebook/react/pull/18814

[2020-05-04 20:08] coolkev opened #18819 "Bug: eslint-plugin-react-hooks cannot use optional chaining in deps"
React version: 16.3.1
eslint-plugin-react-hooks version: 4.0.0

## Steps To Reproduce
Use ?. in dependency to any of the react hooks.
[code]

Link to code example:
I was unable to reproduce the behavior in codesandbox, it must be transforming the code or stripping out the ? before linting. It happens in VS Code.

## The current behavior
eslint errors occur:
React Hook React.useEffect has a missing

[2020-05-04 20:43] jonathantneal opened #18821 "Bug: ARIA Attribute Reflection"
React version: 16.13.1

## Steps To Reproduce

1. Implement the [gov.uk "breadcrumbs" component](https://design-system.service.gov.uk/components/breadcrumbs/) in React.
2. Use the [ARIA 1.2](https://www.w3.org/TR/wai-aria-1.2/#idl-interface) `ariaCurrent` property, as available in Edge 81, Chrome 81, and Safari 13.
3. See warning:
[code]

Link to code example: [https://codesandbox.io/s/bold-glitte

[2020-05-04 21:00] blydiet commented on #18819
Hey one, Idea is inside of x you can make it look more like this
const x = Date.now() % 2 === 0 ? { test: true } : { test: undefined };
that should get the result you want I think.

Also,  if you're on  Firefox and you did not set privacy.reduceTimerPrecision  you will not get the right reduced time precision for the date.now() the numbers will be a little random

check out the docs https://develo

[2020-05-04 21:13] coolkev commented on #18819
The example code was just to show a simple way to reproduce the problem of the hook reporting incorrectly. The data used in my dependency checks is actually from redux store and will contain undefined objects. I use the useEffect hook to handle fetching the data if it is not present, and it can happen at multiple levels.

For example:
[code]

Obviously, this can be solved by extracting customerId

[2020-05-04 21:30] idmadj commented on #18026
The expectation that regular named functions should be used along with memo is less than ideal. Regular functions are not equivalent to arrow functions and a lot of us use arrow functions exclusively because they are more concise, more expressive and discourage the use of `this`. People shouldn't need to switch to regular functions only to be able to have the component names displayed in dev-tools

[2020-05-04 21:36] TrySound commented on #18821
All is correct. Aria attributes should use only kebab case.
https://reactjs.org/docs/accessibility.html#wai-aria

[2020-05-04 21:55] jonathantneal commented on #18821
Hey, @TrySound! First — off topic — I’m always happy to catch you on GitHub. I hope you’re doing awesome. Okay, back on topic:

Check out some of the links in my PR. In ARIA 1.2, there are now these "reflection" _properties_, which are _not_ attributes in plain HTML. These properties _are_ in camelCase and are supported in the production releases of Edge, Chrome, and Safari. _(Of course, it’s kind

[2020-05-04 22:27] aweary commented on #18821
@jonathantneal can you clarify what you're hoping to change in React here? By the [definition of reflection](https://html.spec.whatwg.org/multipage/common-dom-interfaces.html#reflecting-content-attributes-in-idl-attributes) the `ariaCurrent` property is automatically set by the user agent when the `aria-current` attribute is set. You can see this [in the example that you provided](https://codesand

[2020-05-04 22:34] idmadj commented on #18026
#18495 will fix this.

[2020-05-04 22:36] eps1lon commented on #18821
In general having aria attributes as kebabCase would help ergonomics regarding destructuring. Now that these are standardized and implemented there's a better justification for using them this way.

Without actually being able to `<section ariaLabelledBy={headingRef} />` so that you don't have to deal with ids I think this change makes the way React handles attributes even more confusing.

Disallo

[2020-05-04 22:50] sophiebits opened #18822 "Add devtools "Inspect React component" to right-click menu"
Noticed today that Vue's devtools have an awesome "Inspect Vue component" option when right-clicking on a webpage (added in https://github.com/vuejs/vue-devtools/pull/479).

The React devtools should have the same feature! It would be useful when debugging for sure.

[2020-05-04 23:05] #18817 closed

[2020-05-04 23:34] dai-shi opened #18823 "useMutableSource: allow getSnapshot to return a function"
Ref: https://github.com/reactjs/rfcs/pull/147#issuecomment-623740218

React version: 0.0.0-experimental-e5d06e34b

## Steps To Reproduce

1. createMutableSource that contains functions
2. getSnapshot returns one of the functions

Link to code example:

https://codesandbox.io/s/jovial-dew-1eg4t?file=/src/App.js

## The current behavior

If getSnapshot returns a function, it will run the function in

[2020-05-04 23:42] jonathantneal commented on #18821
@aweary, your link to the reflection definition is spot on to my issue. I’m pretty thankful for that, because it shows me that you know this or you’ve looked into this. Thank you. Thank you.

The spirit of my request is best summarized in this project’s documentation:

Below the attribution on that page, you’ll see a list of DOM attributes supported by React. I’m hoping React will not warn when us

[2020-05-05 00:50] aweary commented on #18821
I don't think we want to support both `aria-controls` and `ariaControls`. It's confusing for users when there's more than one correct way to do things. React uses `aria-*` mostly for historical reasons, and there are good arguments in favor of changing React so that it uses the camel case variants. The big downside is that this would be breaking change. I think it's something the core team wants t

[2020-05-05 01:53] acharb commented on #18817
@eps1lon thanks for the reply!

I was testing out "bailing out of a dispatch", as given in the React docs here:
https://reactjs.org/docs/hooks-reference.html#bailing-out-of-a-dispatch

Where you return the same value so that the children don't render.

Is "bailing out" not recommended then? Or in what scenario is it recommended and safe to do so.

[2020-05-05 03:09] WaSheep opened #18824 "Error: "Could not find commit data for root "98" and commit 8""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.6.0-6cceaeb67

Call stack: at n.value (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:173658)
    at p (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/b

[2020-05-05 04:16] rhysburnie commented on #18698
Hi,

Im happy for this to be closed, we were getting weird behaviour which wasn't resolved, however given that there was a new version of devtools coming it may not even be an issue.
Last week we also updraded to rn 0.62.x and have started using Flipper where we aren't experiencing those issues

Cheers

[2020-05-05 08:23] fridaystreet commented on #18705
same here, and since the recent chrome update debugging in inspect is completely screwed. Suspecting latest chrome update has broken things

[2020-05-05 08:28] Eddie-CooRo commented on #18705
@fridaystreet Yeah it happened to me again too. But I haven't re-opened this issues since I wasn't able to find a way to reproduce it so far :(
Every time I come across the issue and try to find the root cause of the problem, after the first reload the extension starts working correctly again.

[2020-05-05 08:50] adrianhelvik opened #18826 "Bug [eslint hooks plugin]: Allow conditional hooks based on static constants"
This scenario should not trigger a warning as it follows the rules of hooks.

[code]

In general, constant values defined at the top level are immutable and should not trigger this warning. Same thing with process.env.*.

[2020-05-05 10:26] mogelbrod commented on #11387
It looks like pinging them on GitHub doesn't work 😞
Perhaps somebody with an active Twitter account could tweet about this, tagging one of the contributors?

[2020-05-05 13:33] egonm12 opened #18828 "Bug [ESLint Hooks Plugin]: When using a `typeof` type guard it requires the value as a dependency"
**Version:** eslint-plugin-react-hooks@1.7.0

## Steps To Reproduce

1. Create a component with local state
2. Create a useEffect with a variable inside, that points to the `typeof` of the state variable

Link to code example:

https://codesandbox.io/s/nervous-williamson-2i99l?file=/src/App.tsx:210-261

## The current behavior
`react-exhaustive-deps` complains that the state variable should be inc

[2020-05-05 13:57] gaearon commented on #18828
Wanna send a fix? Seems TS specific.

[2020-05-05 14:26] egonm12 commented on #18828
Gonna look into it, will keep you posted

[2020-05-05 15:15] fhourdin commented on #9498
If you do this, you need to pass also your hook like :

[code]

[2020-05-05 16:07] bvaughn commented on #18698
Okay :smile: Thanks for the update. Let me know by commenting here if you start seeing it again and we can look.

[2020-05-05 16:07] #18698 closed

[2020-05-05 16:42] misaeldossantos opened #18829 "Feature suggestion: possibility to intercept passage of props for the components, in order to transform them"
this sounds interesting: possibility to intercept a component's props, transforming them.
Thus, it would be possible to implement directives as in vue and angular:

example:
[code]

I think why not? The react could be made more flexible. Interceptor functions could be placed via context API. We could implement transformations of props. In react native, it would be possible to place classes, transf

[2020-05-05 18:01] RickeyWard opened #18831 "Error: "Commit tree does not contain fiber 256. This is a bug in React DevTools.""
Describe what you were doing when the bug occurred:
1. Profiling a slow component
In a component that rendered 5000 pre tags with single lines of text in them, that has an unrelated controlled text box is the same component that was typed into while profiling. App hung a while and, when it rendered again the error was in the profiler.

---------------------------------------------
Please do not re

[2020-05-05 18:40] ced-b commented on #17927
I seem to be running into the same issue.

[2020-05-05 19:26] ced-b commented on #17927
This is somewhat speculation, but what seems to happen in the DOM is that the `value` attribute of the `input` gets set with every key stroke. So when the form is submitted the "system supplied" value and the user input are the same and the browser does not store it for further autocompletion.

[2020-05-05 21:07] kilianc opened #18833 "Bug: [ESLint Hooks Plugin] false positive with useCallback and not inline function body"
I just received `eslint-plugin-react-hooks@4.0` through dependabot, and I am a little confused by the error and the explanation in this PR https://github.com/facebook/react/pull/18435. I might be wrong but I don't think I should be getting a lint warning/error.

[code]

My my `selector` function changes every time, and adding it to the `dependencies` list defeats the whole purpose of useCallback i

[2020-05-05 21:35] gaearon commented on #18833
The purpose of the linter is to verify that you don't have stale closures. If you pass invisible `selector` and `dependencies` we can't verify that. You can add an ignore there if you're convinced the deps are correct, but the warning itself is right — it says something may be unsafe. E.g. in your example, nothing will actually verify that `useSelector` *receives* correct deps.

[2020-05-05 21:35] #18833 closed

[2020-05-05 22:18] jillesme opened #18834 "Bug: different between {"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2020-05-05 22:23] essential-randomness commented on #13991
I solved it by adding the following to my webpack configuration:

[code]

I initially thought it was a problem with npm link, did all that was suggested, and even switched to yarn. Eventually figured something else was going on when publishing to npm gave the same error when importing in another project.

[2020-05-05 22:28] bvaughn opened #18835 "useMutableSource: Release version snapshots once hydration is finished"
Follow up for #18183 and PR #18771.

Decide when to clear `mutableSourceEagerHydrationData`. We don't currently have a way to detect when all outstanding hydration work is finished. (It may never finish.) This means that in use cases where the version is the entire sore (e.g. an immutable store without a version "number") we would retain a reference to that store, preventing it from being GCed.

[2020-05-05 22:33] kilianc commented on #18833
@gaearon if I understand your feedback correctly this is not about the function being passsed to `useCallback` but to the deps array.

[code]

This yields the same error. Do you mind elaborating?

[2020-05-05 22:40] gaearon commented on #18833
Hmm. I don’t understand your question.

Maybe we can do this backwards. What do you expect the linter to help you with?

[2020-05-06 00:14] kilianc commented on #18833
I don't understand why the linter is complaining about the function `selector` not being part of the dependencies array. Your first feedback [here](https://github.com/facebook/react/issues/18833#issuecomment-624319206) just mentions the inability to check the dependencies because they are not a literal but a variable / function argument. I get that. But the warning is about `selector` not being a

[2020-05-06 00:20] gaearon commented on #18833
Consider this situation.

[code]

In your opinion, should this warn or not?

[2020-05-06 01:19] kilianc commented on #18833
no, I don't think so

[code]

what am I missing?

[2020-05-06 04:56] hengkx commented on #16699
Is there a better solution？

[2020-05-06 05:37] Siddharth77 commented on #14769
My sincere THANKS to @ernestohegi for guiding with his solution and I did bit refactoring of the same and the thing which has resolved error for me is as below :
`/* eslint-disable react/prop-types */
import React from 'react';
import ReactDOM from 'react-dom';
import { act } from 'react-dom/test-utils';
import { createMount } from '@material-ui/core/test-utils';
import xComponent from './xCompone

[2020-05-06 07:01] #17958 closed

[2020-05-06 07:05] sumitsj opened #18839 "Inhancement: Dispatch (returned by useReducer) shuould also be available as third parameter in reducer function."
React version: @latest

**I am using Context API to manage state of my application, and stuck at below problem.**

## The current behavior
Currently, reducer function takes just **state** and **action** as parameter. I can dispatch actions from components only, due the behavior of hooks (as you know). But what if I there is some dependent action (**Y**) on action (**X**) which needs to be called a

[2020-05-06 08:10] gazdagergo commented on #15209
If the state is being represented as an object, the function can be set directly though:
[code]
and

[code]

[2020-05-06 09:03] albseb511 commented on #18839
dispatch function generally accepts the action, and invokes the reducer to update the state.

what does it solve? reducers should be kept separate from dispatchers.

dispatcher(action) -> reducer -> update UI

this is an architecture decision I guess.

[2020-05-06 09:14] albseb511 commented on #18834
this looks like its invalid.
provide details.

[2020-05-06 09:15] albseb511 commented on #18834
the issue seems to be empty? did you make this by accident?

[2020-05-06 12:50] mpeyper opened #18841 "Bug: Error in useEffect is caught in ErrorBoundary, but still logs uncaught error to console in tests"
React version: 16.13.1

## Steps To Reproduce

1. Create a component with a useEffect hook
2. Render the component in an error boundary using `react-test-renderer`
3. Throw an error synchronously in the effect callback (i.e. not in a promise callback)
4. Observe the error in the console

Link to code example: https://github.com/mpeyper/error-boundary-error-repro

## The current behavior

Given the

[2020-05-06 13:05] #18744 closed

[2020-05-06 13:50] kilianc commented on #18833
To be more precise, I understand how

[code]

could trigger a warning considering the inability to statically analyze `onPressChange` and the relation with `isPressed`.

What I am referring to here, given this example:

[code]

* why am I a getting a warning at all
* why is the warning telling me to add the function itself to the dependencies?

The warning is telling me there is a fix I need to ap

[2020-05-06 13:54] fourstacks opened #18842 "Bug: Previous and next props in memo equality function are the same"
I have built a config-driven form builder package for the Shopify Polaris UI library.  I'm using `memo` to prevent unnecessary updates.  This memo call uses an equality check method which checks (among other things) if a `fields` prop has changed.  If it has, the whole component should re-render.  The fields prop is an array of objects and I've been using the lodash `isEqual` utility method for de

[2020-05-06 14:14] kylechartio opened #18843 ""Pause on caught exceptions" enabled always breaks on this line"
In Chrome, when I am using the current stable version of react devtools extenison (4.6.0 (3/26/2020)), if I have "Pause on caught exceptions" enabled, I always hit this breakpoint:

https://github.com/facebook/react/blob/c2d1561c60507189b43ae96c6b89580874367e36/packages/react-devtools-shared/src/hook.js#L185

`ReferenceError: i is not defined
    at Object.inject (<anonymous>:1:1116)
    at inject

[2020-05-06 14:22] vkurchatkin commented on #18842
That's because you mutate your field objects in `getComputedFormFields`. ` getComputedFormFields` always return a new array, but it always contains original objects.

[2020-05-06 15:41] AndyOGo commented on #5700
Trying to set `dropEffect` via `nativeEvent` attribute doesn't work either 🤔

https://reactjs.org/docs/events.html#overview

[2020-05-06 16:08] fourstacks commented on #18842
Ahh, ok!  So basically I need to return a deep clone of `field` in `getComputedFields` in order for react to detect the change?  Seems to work in the fork of the sandbox I created:

https://codesandbox.io/s/memo-props-demo-k1ph5

Thanks very much indeed for the advice @vkurchatkin  - not sure I'd have ever hit upon that myself.

[2020-05-06 16:08] #18842 closed

[2020-05-06 16:31] joeljeske opened #18844 "Bug: Render after suspense is thrown away leaving DOM unmatched with state"
React version: 16.12.0

## Steps To Reproduce

 A component that suspends as a result of a context update is never rendered to DOM after suspension is finished.

Link to code example:

https://codesandbox.io/s/react-suspense-context-bug-rklls?file=/package.json:163-170

## The current behavior

If a component suspends as a result of a context update, the component's render is called after suspensi

[2020-05-06 17:50] Grewer opened #18846 "Bug: StrictMode makes Component render repeatedly?"
React version:
react: 16.13.1
react-dom: 16.13.1
## Steps To Reproduce

1. Observe the value printed in the console

Link to code example:
https://codesandbox.io/s/react-test-usestate-xvuxs?file=/src/App.js

## The current behavior
### normal conditions:
[code]

**console print:**
[code]
### Situation 1 : use StrictMode

[code]
**console print:**
[code]
### Situation 2 : use StrictMode and useStat

[2020-05-06 17:53] Grewer commented on #18846
i found same issue, so close it

[2020-05-06 17:53] #18846 closed

[2020-05-06 19:43] everdimension opened #18848 "Bug: useLayoutEffect callback called twice when a dom node is in a dependency array"
React version: v16.3.1

## Steps To Reproduce

1. add `useLayoutEffect`
2. add dom node to the deps array
3. invoke setState inside useLayoutEffect callback

Link to code example:
https://codepen.io/everdimension/pen/rNOpZGK

## The current behavior
`useLayoutEffect` callback gets called a second time, although the values in the deps array have not changed

## The expected behavior
`useLayoutEffec

[2020-05-06 20:18] vkurchatkin commented on #18848
You are not supposed to use `ref.current` as a dependency, since changing it doesn't result in a rerender.

There is no bug in React. `ref.current` is `undefined` initially, then your effect is triggered, `setState` is called, which results in a rerender. `ref.current` is not `undefined` anymore, so the effect is triggered gain.

[2020-05-06 20:22] jeppe-smith commented on #18848
Looks like `useLayoutEffect` callback gets called twice is because `ref.current` is not attached to the `DOM` on the first callback and then it is on the second resulting in the reference to not have equality.

[2020-05-06 20:22] everdimension commented on #18848
@vkurchatkin

Actually, it is defined, AFAU that's the point of useLayoutEffect: by the time it's run, the dom had already been commited. I added an `if` with an early return to my example to demonstrate that.

I thought that was what official react hooks linter recommended?
If that's the wrong way, then what's the proper way to update effect if the dom node changes or gets destroyed?

[2020-05-06 20:31] vkurchatkin commented on #18848
It is defined when `useLayoutEffect` is executed, but during first render `undefined` is what you pass inside of dependencies array.

The proper way is to store dom node inside of state:

[code]

[2020-05-06 20:34] everdimension commented on #18848
whoa...

Ok, I'll need some time for this to sink in... :)

[2020-05-06 20:48] bvaughn commented on #18848
@vkurchatkin's explanation is correct.

I'm not sure I agree with this bit though! Refs can be callbacks functions too. So you could also rewrite your code like so:
[code]

Going to close this issue since it's not a bug :smile:

[2020-05-06 20:48] #18848 closed

[2020-05-06 20:59] bvaughn commented on #18843
Yeah, I can see why this would be a little annoying. This same hook is being used in a couple of different contexts, and in the browser one- we expect things to be a little busted, as the inline comment above mentions:
https://github.com/facebook/react/blob/c2d1561c60507189b43ae96c6b89580874367e36/packages/react-devtools-shared/src/hook.js#L177-L185

I guess ideally, we'd just strip this code bloc

[2020-05-06 21:38] vkurchatkin commented on #18842
Not deep clone, shallow is enough.

[2020-05-06 21:40] bvaughn commented on #18798
@shiftyp Did you forget to commit something?

Checking out the `experimental-tracing` branch and running `yarn install && yarn start` throws:

[2020-05-06 21:53] vkurchatkin commented on #18848
@bvaughn

If you have to clean up when your DOM node changes, you have two options. First is to use effects, which means that you HAVE to put the node in state:

[code]

The second is to do it manually:

[code]

While you can certainly use the second option, and even wrap it in some sort of hook, I would rather just go with the first one.

[2020-05-06 23:18] steveadams commented on #17928
Hi @bvaughn, I took a look at @M-Izadmehr 's work on this and thought I'd offer to get it over the finish line. They haven't been active on GitHub for a while, so if you'd like assistance I'd be happy to fork and resolve the remaining conflicts and get it delivered. Apologies if that's bad etiquette!

I'm looking for ways to get my feet wet and start contributing here 🙂

[2020-05-06 23:21] bvaughn commented on #18848
The example shown didn't involve any cleanup, just a read-on-mount. Using state seemed like overkill. :smile:

[2020-05-06 23:23] bvaughn commented on #17928
Feel free to create an updated PR if you'd like, @steveadams.

[2020-05-06 23:41] steveadams commented on #17928
Will do @bvaughn . Thanks for the speedy response!

[2020-05-07 00:32] Sicria commented on #17238
This appears to still be an issue, I know it's marked as `stale` but is there any more info on this? @CodeWitchBella did you figure out what causes this?

[2020-05-07 03:38] matt-tingen opened #18853 "Bug: Devtools conceal lack of setImmediate polyfill"
React version: N/A; sample app uses 16.13.1
Devtools version: 6cceaeb67 on FF and Chrome

## Steps To Reproduce

Generally speaking:
1. Call `setImmediate` in a react app without a polyfill after react devtools have initialized.

To demonstrate in the sample app:
1. Open sample app with browser devtools closed.
2. Click button and observe that `setImmediate` is not defined initially or after mount

[2020-05-07 05:04] koba04 commented on #18747
@VitaminCtea Could you close this issue?

[2020-05-07 07:28] VitaminCtea commented on #18747
@koba04 Yes! Thanks for reminding

[2020-05-07 09:07] huozhi opened #18856 "Provide a prop on `<Suspense>` to let children mount/unmount instead of changing style"
## Feature Request

Currently react render children of Suspense with inline style `display: none !important`, [referenced PR](https://github.com/facebook/react/pull/15861/files). would like to have a prop like `mount` or sth else to remount the children when suspended state changed.

## Example

[code]

[code]
the above code will only render fallback component

[code]
instead of

[code]

[2020-05-07 09:24] threepointone commented on #18856
Could you explain your specific usecase/issue that makes you desire this behaviour?

[2020-05-07 09:36] huozhi commented on #18856
@threepointone I came across this behavior when I was doing snapshot for suspense rendering results with jest. I need to filter out the hidden children and find the actual rendered fallback element to detect if it's suspended.

[2020-05-07 09:37] threepointone commented on #18839
Reducers should be pure, you'll probably have bugs if and when the reducer is called multiple times, and not how you expect. You shouldn't call dispatch from inside the reducer. You should put side effects into useEffect, running them based on state. This could get cumbersome, so consider an abstraction like this instead https://gist.github.com/sophiebits/145c47544430c82abd617c9cdebefee8 Read the

[2020-05-07 09:54] sontuphan commented on #2047
This guy is awesome.

[2020-05-07 09:56] DoubleU23 commented on #15227
imho this rules should only mark react's implemented hooks as invalid in classes

__as the rule states:__
"React Hook "useViewarApi" cannot be called in a class component. React Hooks must be called in a React function component __or a custom React Hook function__."
so it is allowed to use custom hook functions in classes? (at least it works)

???

[2020-05-07 10:04] threepointone commented on #18856
iirc, the dom elements might be holding state, so it's actually important that they stay in the dom.

It's also a little odd to do visibility checks with snapshots. Consider that some other code, even user code, might have hidden a parent element. Then your test would pass even though it doesn't 'work' as expected. As an immediate workaround, I'd recommend making a helper, something like `isVisibl

[2020-05-07 10:16] threepointone commented on #18829
Directives were made for templated systems because you couldn't write regular javascript in them. React instead lets you use regular js idioms for functionality like this.
[code]
But if you do want 'directives', there's nothing stopping you from making a component that accepts conditions too. The point here is that jsx is *more* expressive than vue/angular style templates.

[2020-05-07 10:19] DoubleU23 opened #18857 "[eslint-plugin-react-hooks] just mark react's implemented hooks as invalid in classes"
## The current behavior
`react-hooks/rules-of-hooks` marks custom hooks to be invalid in classes

## The expected behavior
imho this rules should only mark react's implemented hooks as invalid in classes

__as the rule states:__
"React Hook "useTranslation" cannot be called in a class component.
React Hooks must be called in a React function component __or a custom React Hook function__."

__so it

[2020-05-07 10:24] eps1lon commented on #18856
Sounds like a duplicate of #14536

This is a known quirk with `ReactDOM.render` (i.e. legacy mode) that will be fixed in blocking (createBlockingRoot) and concurrent mode (createRoot). In the experimental modes react wont trees in an inconsistent state.

-- https://github.com/facebook/react/issues/14536#issuecomment-487670591

[2020-05-07 10:27] threepointone commented on #18856
^ He's right, but that would require you to migrate to concurrent mode, which isn't really a recommended option at the moment.

[2020-05-07 10:38] eps1lon commented on #18856
Yeah. To make this more clear: If this is a duplicate of #14536 then this can't be fixed in stable react 16 as per comment from Dan in https://github.com/facebook/react/issues/14536#issuecomment-487670591.

[2020-05-07 11:23] vkurchatkin opened #18858 "[eslint-plugin-react-hooks] async functions should be allowed for custom effects"
Consider the following code:

[code]

Eslint give the following error:

[code]

There are 2 problems with that:

1. The error is provided by `react-hooks/exhaustive-deps`, but this has nothing to do with deps or exhaustiveness. I can't disable this warning without disable actually checking for exhaustive deps.
2. In general the error is bogus. Statement "Effect callbacks are synchronous to prevent

[2020-05-07 11:42] threepointone commented on #18858
https://github.com/facebook/react/blob/master/packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js#L104 is where the check happens.

iiuc, this is to allow passing back a cleanup/cancel function, which is much harder with your abstraction. I hope you've considered those ramifications and have your own workarounds.

I dunno whether the team will change the regex, would be interested to hear fro

[2020-05-07 11:44] huozhi commented on #18856
Thanks for clarification  @eps1lon 👍. @threepointone work around on testing side make sense, thanks for the help.
close this issue as duplicate.

[2020-05-07 11:44] #18856 closed

[2020-05-07 11:50] everdimension commented on #18848
@bvaughn Thanks, I understand now why there is a second rerender which I didn't expect.

But I don't think I see a solution yet.

The idea is to create a reusable hook which _doesn't_ create a ref object, but accepts a ref.

I read that it's a better practice to create refs outside of reusable hooks. In that case, you can reuse hooks with different logic involving one dom element. Something like t

[2020-05-07 11:56] sumitsj commented on #18839
Yes got it. Thanks @threepointone @albseb511

[2020-05-07 11:56] #18839 closed

[2020-05-07 11:59] vkurchatkin commented on #18848
There is no feasible way to detect when such a ref changes. But IMO this is fine. When a hook accepts a DOM ref it is a clear signal to the user, that this ref should not change until the component is unmounted and they should structure their code accordingly.

[2020-05-07 12:07] bl00mber commented on #17928
@bvaughn I've sent an updated [PR](https://github.com/facebook/react/pull/18745)

[2020-05-07 13:49] phoenisx opened #18859 "Error: "Commit tree already contains fiber "19587". This is a bug in React DevTools.""
### Describe what you were doing when the bug occurred:
1. I did profiling on a list, that gets updated on each pagination api call.
2. Once the profiling was done, I moved around in the Profiler to view the Flamegraph
3. Moving to second capture, the Profiler crashed.

**DevTools version**: 4.6.0-6cceaeb67

[code]

[2020-05-07 14:39] mycarrysun commented on #18758
I'm having this as well. For me it is happening at this line:
[code]

[2020-05-07 14:41] douglasjunior commented on #16873
Suggestion: Follow the same idea as the "camelcase" rule and add "allow" option.

https://github.com/eslint/eslint/pull/10783

[2020-05-07 19:12] Mr-Wallet commented on #11547
I concur with the above. The documentation for [SyntheticEvent](https://reactjs.org/docs/events.html) states:

Not having `stopImmediatePropagation` on it violates the promise that the interface is the same.

[2020-05-07 19:20] vkurchatkin commented on #18858
Just wanted to offer my perspective. I consider it plain wrong to place restrictions like this on my hooks and if this is intended behaviour,  my only option is to drop `exhaustive-deps` completely

[2020-05-07 19:25] ryan-gray commented on #17488
I'm trying this solution out, thanks!
It looks like
`          retry(fn, interval, retriesLeft - 1).then(resolve, reject);`
should be...
`          retry(fn, retriesLeft - 1, interval).then(resolve, reject);`
though.

[2020-05-07 19:59] threepointone commented on #18858
You could also rename your hook. An Effect has a specific shape and meaning in React, so maybe co-opting it might not be the right move.

[2020-05-07 20:21] vkurchatkin commented on #18858
Technically, I could, I've thought of that. But `useAsyncEffect` is the obvious name for what it does. I don't want to choose objectively worse name because of a linter rule.

[2020-05-07 20:49] learis commented on #7142
With react hooks I encountered this problem. I attempt to restart an animation after each update. In useEffect I add the CSS animation. In the return portion of useEffect, I remove it so that it can be re-added the next update. But this doesn't retrigger the animation.

So then I tried alternating between two different CSS classes that do the same thing like what @jasonmerecki suggested. But it st

[2020-05-07 22:35] bvaughn commented on #18859
What does this mean?

Can you repro this bug? And if so, could you share steps for repro with us?

[2020-05-07 22:36] bvaughn commented on #18853
DevTools does not do this. It's a Webpack polyfill :frown:

Funny timing for you to file this, as it was just fixed earlier today: #18860

Fix will roll out with the next week.

[2020-05-07 22:36] #18853 closed

[2020-05-07 23:35] #18834 closed

[2020-05-07 23:35] bvaughn commented on #18831
Are you able to repro this? If so, can you share a repro case with us?

[2020-05-07 23:36] bvaughn commented on #18754
Closing due to lack of a response. Maybe we'll get repro information from the duplicate #18831

[2020-05-07 23:36] #18754 closed

[2020-05-07 23:40] bvaughn commented on #18829
This looks like a substantial change being proposed. :smile: Changes like this should go through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

The RFC process is a great opportunity to get more eyeballs on your proposal before it becomes a part of a released version of React. Quite often, even proposals that seem "obvious" can be significantly improved once a wider group of interest

[2020-05-07 23:40] #18829 closed

[2020-05-07 23:41] bvaughn commented on #18824
This looks like a duplicate of #18010 so I'm going to close it.

It's possible that PR #18862 fixes this issue, but that remains to be seen. If you can reproduce this issue, we would greatly appreciate if you left a comment with repro instructions so we could test that PR and see!

[2020-05-07 23:41] #18824 closed

[2020-05-07 23:41] bvaughn commented on #18804
This looks like a duplicate of #18010 so I'm going to close it.

It's possible that PR #18862 fixes this issue, but that remains to be seen. If you can reproduce this issue, we would greatly appreciate if you left a comment with repro instructions so we could test that PR and see!

[2020-05-07 23:41] #18804 closed

[2020-05-08 00:05] bvaughn commented on #18798
Disregard. The remote repro was sufficient.

Thanks for sharing it!

[2020-05-08 00:07] #18798 closed

[2020-05-08 02:52] raghav0622 opened #18866 "Bug: Typeerror: ReactDOM.createRoot(container) is not a function"
ReactDOM.createRoot is not a function

React & ReactDOM version:^0.0.0-experimental-33c3af284

## Steps To Reproduce

1. npx create-react-app my-app --template typescript
2. cd my-app && yarn upgrade react@experimental react-dom@experimental
3. refrence types in react-app-env.d.ts
  `/// <reference types="react-scripts" />
  /// <reference types="react/experimental" />
  /// <reference types="reac

[2020-05-08 03:12] nihgwu commented on #18866
I think it's related to the recent change to prefix `createRoot` with unstable https://github.com/facebook/react/blob/master/packages/react-dom/index.experimental.js#L22

[2020-05-08 06:52] Satzyakiz commented on #18843
I would like to work on it as my first issue.

[2020-05-08 08:05] Shub1427 commented on #18859
Sorry for not providing enough details, but even I don't have enough details. This error just popped up when I was profiling my app in React Devtools.

I was profiling a normal (`ul`) list, and it broke when I clicked next button on DevTools, to see the recorded profile.

<img width="1149" alt="Screenshot 2020-05-08 at 11 12 50 AM" src="https://user-images.githubusercontent.com/11786283/81384160-e

[2020-05-08 11:27] nermand commented on #15074
I know this one is closed, but I don't want to open a new ticket just for this.
What am I doing wrong here:
https://codesandbox.io/s/double-event-cb6hg

The first click will be triggered once, but subsequent clicks will add duplicate items.
My real app renders twice and dispatch is triggered twice on every click, this is just a contrived example.

[2020-05-08 12:07] Ishtmeet-Singh opened #18867 "Bug (MS Edge): Expected identifier, string or number (White screen)"
We're working on a very large web application, and it has been running fine on Chrome, Mozilla and Safari. We tested it on Edge today, and it showed a blank screen. Not sure what caused it.

The screenshot of the error -
![image](https://user-images.githubusercontent.com/30657558/81403879-f9599e80-9151-11ea-8ebf-b50e84b8350c.png)

The line it's referencing main.chunk.js (5212,11)-
![image](https:/

[2020-05-08 12:14] krnlde commented on #18705
Same here in Chromium Edge 84.0.508.0 on Windows 10.
It randomly disconnects when the BrowserSync reloads the page. I will then have to close and reopen the browser.

[2020-05-08 12:19] Eddie-CooRo commented on #18705
I was using the unstable channel of the chrome on Linux when I reported the issue. I'm suspicious that maybe that's the root cause of the issue because I also had some other issues and bugs on the Spotify and codesandbox websites that have got fixed since I changed to the stable channel.
@balazs31 I'm seeing that you are using Chrome for Developers and @fridaystreet has said something about the la

[2020-05-08 13:07] vkurchatkin commented on #18867
What makes you think it is cause by React, not by some other part of your app?

[2020-05-08 15:10] bvaughn commented on #18843
This issue is all yours! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2020-05-08 15:11] bvaughn commented on #18859
Okay. Thanks for clarifying.

[2020-05-08 15:26] Satzyakiz commented on #18843
Can you guide me how to proceed ?

[2020-05-08 15:55] bvaughn commented on #18843
Just my comment above: https://github.com/facebook/react/issues/18843#issuecomment-624888219

[2020-05-08 16:01] Satzyakiz commented on #18843
Right, someone else can pick it up.

[2020-05-08 16:02] bvaughn commented on #18843
Ok. No problem.

[2020-05-08 18:19] #16492 closed

[2020-05-08 18:44] jeremy-deutsch commented on #18183
How would the `registerMutableSourceForHydration` API in #18771 work with libraries that create mutable sources during render (ex. [this](https://codesandbox.io/s/react-redux-usemutablesource-eyxoe) or [this](https://codesandbox.io/s/blissful-babbage-24uu3))?

(posting here so as not to clutter the PR)

[2020-05-08 18:49] bvaughn commented on #18183
This API wouldn't support a create-during-render pattern. You'd need to create the source at the module level. Otherwise a mutation might happen between the time when root hydration starts and when a particular component that reads from the source is hydrated.

I don't see an alternative to this though, without e.g. tightening constraints on "version" to be serializable.

[2020-05-08 20:50] bvaughn commented on #18866
I don't think you shared an actual repro, @raghav0622. The GitHub repo you linked to uses `ReactDOM.render`.

@nihgwu is right though that we recently added an "unstable_" prefix to several unreleased APIs, including `createRoot`. You'd need to use `ReactDOM.unstable_createRoot` for now :smile:

[2020-05-08 20:50] #18866 closed

[2020-05-08 20:51] bvaughn commented on #18867
I don't think this is an issue with React, @Ishtmeet-Singh. In fact, the line you point to is application code (`...curr.data()`).

[2020-05-08 20:51] bvaughn commented on #18867
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://codesandbox.io/s/new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem. Screenshots or videos can also be helpful if they help provide context on how to repro the bug.

Here are some tips for providing a minimal example: https://

[2020-05-08 21:42] Yolantele commented on #15315
a webpack solution was to add a resolutions inside the app that is using the 'to be npm module'
inside webpack.config.js, add alias to react - so it uses that one react instance :
[code]

[2020-05-08 23:21] dwoznicki opened #18870 "Bug: ReactDOM.hydrate style prop mismatch with document rendered in JSDOM"
In my project, I'm using [prerender-loader](https://github.com/GoogleChromeLabs/prerender-loader) to create static HTML pages from my React app, and then `ReactDOM.hydrate`ing on the client. When a component has the `style` prop, I get the following warning.

![image](https://user-images.githubusercontent.com/13933454/81454505-61ec4f80-9141-11ea-83c6-0bdeb852bb4c.png)

prerender-loader uses [jsdom

[2020-05-09 00:44] SchnWalter opened #18871 "The pacote dependency should be re-evaluated"
The React repository depends on [pacote](https://www.npmjs.com/package/pacote), a JavaScript Package Handler that has ~2M weekly downloads and only 8 peoples watching the [project on GitHub](https://github.com/npm/pacote), now there are 9.

This looks like a recipe for a left-pad scale disaster. I would like to to invite some of the React contributors to start watching this project and maybe evalu

[2020-05-09 02:26] Ishtmeet-Singh commented on #18867
Hi, thank you for your response.

It's a private repo, but my issue was related to this [stackoverflow question](https://stackoverflow.com/questions/53631949/why-ie-11-display-blank-page-rendering-react-app)

It's running fine on the production build. But not on the development build.
If you look at the code it's referencing to, that code is referenced at a file which renders when the route is `/d

[2020-05-09 03:48] japgolly opened #18873 "Deprecate SyntheticKeyboardEvent.{charCode,keyCode,which}"
The following `KeyboardEvent` properties have been officially deprecated:

* https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/charCode
* https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode
* https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/which

React should probably mark these as deprecated too, and issue warnings in development mode.

[2020-05-09 06:25] bvaughn commented on #18867
Hm, given what you've mentioned above (the line the error is on is not a line of React source code, I don't believe this is a React bug. Given that we can't see a repro case, I'm thinking there's not much we can do to help. You'll probably have better luck with Stack Overflow.

[2020-05-09 07:04] BryceHQ opened #18874 "Bug: function component is unmount and mount with old state when hmr"
Please see https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/85
I am not sure the bug is react-refresh or react-refresh-webpack-plugin ?
Thanks for your help.

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2020-05-09 08:40] Wellusioner opened #18875 "Bug: infinite loop request inside useEffect despite using dispatch in it :("
I am making a simple tracking app. I am using redux and redux saga with React. The problem is that dispatching action inside useEffect cause an infinite loop request. I have seen many solutions and articles through the Internet. But None of them could solve my problem.

![image](https://user-images.githubusercontent.com/48888501/81468675-6fb1db80-91fa-11ea-9f79-eddf2a3303d9.png)

I have the same l

[2020-05-09 09:46] Ishtmeet-Singh commented on #18867
@bvaughn No worries. Thanks for the help, I appreciate it. Going to close this issue, and will comment later if I somehow get this fixed.

[2020-05-09 09:46] #18867 closed

[2020-05-09 11:19] #18875 closed

[2020-05-09 12:37] #17956 closed

[2020-05-09 12:52] AviVahl opened #18876 "eslint-plugin-react-hooks peerDependency warning with eslint@7.0.0"
## The current behavior

eslint@7.0.0 [has been released](https://github.com/eslint/eslint/releases/tag/v7.0.0) yesterday. `eslint-plugin-react-hooks` gets a peerDependency warning:
[code]

## The expected behavior

Ensure compatibility with the newly released major and add to `peerDependencies`.

[2020-05-09 12:57] ahsan7786 opened #18877 "Error: "Commit tree already contains fiber 10819. This is a bug in React DevTools.""
Describe what you were doing when the bug occurred:
simple running profiler and popout this error

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.6.0-6cceaeb67

Call stack: at j (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:162221)
    at N (chrome-extension://fmk

[2020-05-09 12:59] AviVahl commented on #18876
Oh I just realized `eslint-plugin-react` is coming from another repo: https://github.com/yannickcr/eslint-plugin-react

Will open an issue there as well and EDIT this one.

[2020-05-09 14:18] karlhorky commented on #18702
@bvaughn any news? Maybe we can merge as it is and re-think async afterwards?

[2020-05-09 14:29] jaredkhan commented on #15074
Hey @nermand

(I think) the trouble you're seeing is because `state.items.push` in your reducer modifies the array in place. This means you're **trying to modify a piece of React state outside of the setter** for that state.

The use of `.push` can be replaced with a use of `.concat`. [Sandbox with the fix](https://codesandbox.io/s/double-event-pjrvh?file=/src/App.js)

Notice that `reducer(state,

[2020-05-09 14:53] nermand commented on #15074
Cheers @jaredkhan, that explains it.
We just need to keep treating every piece of state immutable and everything should be fine.
Thanks!

[2020-05-09 15:25] SharlSherif commented on #11488
You have no idea how long I have been searching for this. THANK YOU.

[2020-05-09 16:20] markerikson commented on #18871
What does the number of people "watching" the repo have to do with anything?

Searching the repo, the only place `pacote` is used is for a single script called `downloadReactIsForPrettyFormat.js`, which is [called in the `postInstall` script when you clone and install this repo](https://github.com/facebook/react/blob/d2ef120089b46a92702cedfd06139f92ce2ca1bf/package.json#L108).  So, it has nothing

[2020-05-09 16:26] gaearon commented on #18871
Yeah, this seems like a misunderstanding.

[2020-05-09 16:26] #18871 closed

[2020-05-09 19:12] SchnWalter commented on #18871
What I wanted to say is that a key piece of the NPM infrastructure, on which React has a direct and an indirect dependency, should have more eyes on it. I won't hurt if some React contributors will start to follow the changes in pacote. It's better to be safe than sorry.

[2020-05-09 19:14] irohitb commented on #18874
@BryceHQ You forgot to add steps to reproduce and link to code example in the current issue. though it's if someone follows the link you posted in the question

[2020-05-09 19:17] irohitb commented on #18877
Looks Similar to this issue: https://github.com/facebook/react/issues/18859

[2020-05-09 19:30] etienne-martin opened #18879 "Improve the invalid hydration warning"
**_Do you want to request a feature or report a bug?_**

feature / improvement

**_What is the current behavior?_**

Debugging hydration problems can be quite challenging because of the lack of information provided in the error message.

Common invalid hydration warning:

[code]

As you can see the warning is quite vague and is not really helpful at pinpointing where the issue might come from othe

[2020-05-09 19:35] ChrisDobby commented on #18822
I'd like to have a go at this if its OK?

[2020-05-09 19:38] gaearon commented on #18874
Replied here: https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/85#issuecomment-626188070.

[2020-05-09 19:38] #18874 closed

[2020-05-09 20:26] maxrothman commented on #17649
I haven't had time to look into this recently, but it is still an issue.

[2020-05-09 21:36] roheat commented on #17736
@bvaughn the PR hasn't encorporated the requested changes (been over 30 days). Can I raise another updated PR for this issue?

[2020-05-09 21:53] franjorub commented on #18705
Same issue here with mozilla firefox 76.0 windows 10, stop working in incognito mode

[2020-05-09 21:55] franjorub commented on #18705
Same issue here with mozilla firefox 76.0 windows 10, stop working in incognito mode
the extension read that I'm in a development site
![imagen](https://user-images.githubusercontent.com/24401350/81485817-312e1800-921e-11ea-8132-3c672fc5717f.png)
but displays this in the developer tools
![imagen](https://user-images.githubusercontent.com/24401350/81485822-3a1ee980-921e-11ea-8a3f-663b9cc86d87.png)

[2020-05-09 22:22] reanimatter commented on #16295
Even though React.StrictMode helps to address some issues, to me, one of the main downfalls using it in development is the app logs that get messed up due to multiple render calls. It took some time until I eventually landed on this thread and found that there is nothing wrong with my app. I think there should be at least some warning in a console that observable behavior might be ok.

[2020-05-09 22:44] gaearon commented on #17736
Sure.

[2020-05-10 09:24] Attrash-Islam opened #18882 "Bug: react-hooks/exhaustive-deps lint rule not working as expected"
This issue is related to the `react-hooks/exhaustive-deps` not detecting a reasonable case of warnings regarding missing dependencies.

![image](https://user-images.githubusercontent.com/7091543/81495325-3049c480-92b8-11ea-8d3f-cb2133b5c78c.png)

The App contains two Children (One is the "increment" button where clicking on it will increment the value and the other child have an alert button to sh

[2020-05-10 11:32] vkurchatkin commented on #18882
The warning is correct: useAlert is a custom hook and context is an external value, so it is not a valid dependency

[2020-05-10 11:33] Attrash-Islam commented on #18882
@vkurchatkin  But how do you explain that the code sample proves the opposite?

[2020-05-10 12:12] vkurchatkin commented on #18882
It doesn't really prove anything. Your code happens to work, but ESLint analyses code in isolation.

[2020-05-10 12:18] vkurchatkin commented on #18882
Here is a simple example:

This is fine, obviously:
[code]

But this is not:

[code]

Although at runtime they both do the same thing.

[2020-05-10 12:33] Attrash-Islam commented on #18882
@vkurchatkin So why not extending the deps to consider other values? The `context` in my example can change and update. You can think of it as redux store based on Context.

[2020-05-10 15:14] threepointone commented on #10085
I don't think this should have been closed, because one of the goals was to show all warnings that happen on a pass, instead of just the first one that occurs.

If there's interest in this, I'll be happy to be the one who removes the `didWarnInvalidHydration` flag that enforces this once-only constraint, and fix the ~260 tests that fail on removing it.

[2020-05-10 15:35] #17961 closed

[2020-05-10 15:53] vkurchatkin commented on #18882
Because there is no good way to know, whether a value is "reactive" other than using conventions.
Current conventions are (simplified):
  - A reactive value is a Component property, an argument of a hook or a local variable inside a hook or component;
  - A component is a function with capitalised name
 -  A hook is a function that starts with `use`

mapState is neither a hook nor a component, hen

[2020-05-10 16:31] Attrash-Islam commented on #18882
Thanks! That was helpful.. Can I do any trick in naming to make it work? Names doesn't really matter to me if it works! 🙏🏻

[2020-05-10 17:00] mikeaustin commented on #15156
Doesn’t it come down to declaratively subscribing or not subscribing to context? Conditionally wrapping a component in another that uses useContext().

The main requirement is that the inner component can’t have state, since it will effectively be a different instance because of the branching. Or, maybe you can pre-render the component then use cloneElement to update the props.

[2020-05-10 17:37] Telokis opened #18883 "Feature proposal(eslint-react-hooks): Recursive dependencies scanning for exhaustive-deps"
## Context

After reading https://github.com/facebook/react/issues/14920 (not 100% of it, I admit), I decided to refactor my codebase in order to be more resilient against potential mistakes.
During this conversion, I converted a ton of callbacks to `useCallback` and made extensive use of the array dependencies for `useCallback` and `useEffect` everywhere.
However, I often stumbled upon the follow

[2020-05-10 17:47] sktguha commented on #10468
@nhunzaker @hassan-alam I would like to pick the Restored form state part and work on it. So can you tell me how to proceed in this case ?

[2020-05-10 18:08] sktguha commented on #18843
I would like to work on it , @bvaughn . So the build infra changes have to be made in this repository only I hope ? And you mentioned that good first issue is misleading, does that mean it is too hard for a newcomer to pick it up ?

[2020-05-10 18:55] vkurchatkin commented on #18882
If you just want to trick eslint, use `eslint-disable-next-line` directive. But you are really just not using hooks correctly

[2020-05-10 20:01] Attrash-Islam commented on #18882
This is exactly what I can but won't be willing to do 😢

[2020-05-10 22:39] ghostlandr commented on #16295
Does it make sense to add a link to the [strict mode docs](https://reactjs.org/docs/strict-mode.html) by the `<React.StrictMode>` tags in the index.js file generated by create-react-app? Or is that unnecessary noise? Or does no one look at that file anyway and it wouldn't really do anything?

[2020-05-11 04:21] memsenpai opened #18884 "Bug:[Jest Timer Mocks] act is diff with react-dom/utils make act warning on async act"
When i use
`import { act } from 'react-test-rerender';`
![image](https://user-images.githubusercontent.com/10399540/81523754-04424800-9379-11ea-99a0-419def556061.png)

When i replace it with
`import { act } from 'react-dom/test-utils';`

this warning is gone :v:

React version:
react-test-renderer: 16.13.1
react-dom: 16.13.1
jest: 26.0.0
Code example:

[code]

[2020-05-11 06:02] b4h0-c4t commented on #18768
I'll take on this.

[2020-05-11 07:45] Attrash-Islam commented on #18882
Thanks a lot @vkurchatkin , Really appreciate the help 🙏
I changed it as so and it's working now:

![image](https://user-images.githubusercontent.com/7091543/81536623-9005a580-9374-11ea-80c9-5083d910932a.png)

[2020-05-11 07:45] #18882 closed

[2020-05-11 08:15] orestis opened #18885 "Bug: useMutableSource inside a suspending component doesn't install the subscription"
React version: 0.0.0-experimental-33c3af284

## Description

When using useMutableSource, you have to be careful where your Suspense boundaries are.

[code]

In this case, the Suspense boundary is outside of this component. This means that if the component suspends at initial render, it doesn't properly mount, and apparently the subscription isn't ever installed. It seems like it's going to make r

[2020-05-11 08:53] talolard commented on #14811
Same here

[2020-05-11 09:22] rdl12 commented on #17355
I has this issue and the problem was related toan ajax call with jquery made in componentDidMount with async parameter to false, this causes some issues with latest react release to synchronise the state I assume. setting async to true solved the issue

[2020-05-11 09:48] turutosiya commented on #3926
Any update on this?

[2020-05-11 11:24] surgeboris opened #18887 "Bug: unexpected warning on custom hook call-site"
With `eslint-plugin-react-hooks@4.0.0` I observe an unexpected warning (with a weird behaviour) on custom hook call-site.

## Steps To Reproduce

1. yarn create react-app hooks-bug
2. cd hooks-bug
3. npm run eject
4. npm i eslint-plugin-react-hooks@4.0.0
5. place code from the examples below into `App.js`
6. run `npx eslint src/App.js`
7. check output for warnings mentioned below

Code example:

[

[2020-05-11 12:19] leethree opened #18888 "[eslint-plugin-react-hooks] false positive with useFocusEffect"
Upgraded `eslint-plugin-react-hooks` to 4.0.0, it's showing errors on React-Navigation's `useFocusEffect` hook.

[code]
(example copied from [`React-Navigation` documentation](https://reactnavigation.org/docs/use-focus-effect/))

## The current behavior

Lint error:

[code]

## The expected behavior

The rules shouldn't check the function because it's not a React `useEffect` hook.

[2020-05-11 14:47] gaearon commented on #18888
Sigh. People have been asking for the opposite, so we added this for every function ending with `Effect`.

[2020-05-11 15:06] vkurchatkin commented on #18888
Admittedly,  `useFocusEffect` is weird. It could easily work exactly like `useEffect` instead of requiring `useCallback`. Also you could probably just use `useIsFocused` + `useEffect` to avoid this issue

[2020-05-11 15:09] vkurchatkin commented on #18882
Well, this looks like a normal hook to me, except for the part where you alias `alert` as `userAlert`. `useAlert` implies that it is a hook, which it isn't.

[2020-05-11 15:15] Attrash-Islam commented on #18882
Yeah.. Done that by mistake and removed it! You're awesome man, Thanks a lot! ❤️  @vkurchatkin

[2020-05-11 16:10] bvaughn commented on #18843
Yes.

What makes something a "good first issue" depends a lot on a person's background. This repo has a broad range of code, so the label just isn't granular enough. I think "needs help" might be a better label, and then a secondary label e.g. "infra", "ui", etc. could be nice but anyway.

[2020-05-11 16:11] bvaughn commented on #18843
It's all yours @sktguha. Please feel free to assign your PR to me for review. Let me know if you change your mind and I'll return it to the pool for someone else to claim.

[2020-05-11 16:15] bvaughn commented on #17649
Hm. This issue is still the only report I can think of it being a problem so I don't think there's a lot of chance of it resolving on its own for these two specific sites, unfortunately, unless someone is able to provide more info.

[2020-05-11 16:19] bvaughn commented on #18702
Sorry for the delay. If there were updates, they would be on the issue or PR 🙂

I haven't thought of a UI treatment for this that I'm happy with yet (although admittedly it also hasn't been my top priority the past few days).

I don't think this is a critical bug fix that we need to land now and find a better solution later. It's a UI tweak, so we can take our time to get it right. I'll try to loo

[2020-05-11 16:21] bl00mber commented on #18843
@bvaughn non-members cannot assign anyone for review :smiley:

[2020-05-11 16:22] bvaughn commented on #18843
By "assign" I just meant "comment my name" ...

[2020-05-11 17:02] karlhorky commented on #18702
Ok, thanks for the update.

[2020-05-11 17:34] leethree commented on #18888
😢 I completely understand it. But it's difficult to ask all library authors to follow the same rules. Maybe adding an option would help.

[2020-05-11 20:17] #18702 closed

[2020-05-11 23:31] bvaughn commented on #18877
Sorry for the inconvenient!

This looks like a duplicate of #18859 though. If you're able to provide more info on how to repro- that would be great! Otherwise the duplicate issue doesn't add a lot of value, so I'm going to close it.

[2020-05-11 23:31] #18877 closed

[2020-05-12 01:13] aaj commented on #15865
Pretty much this. Here I am giving hooks a try and I'm greeted with this warning which makes no sense and isn't covered in any of the official docs. Really makes you wonder if hooks are ready for serious work when a basic use case like "please just run this effect only once" gives this much trouble.

[2020-05-12 02:38] charlex commented on #16416
I believe this is happening to me using NextJS as well. I'm not sure exactly why the PR hasn't been merged. Not complaining, but just letting maintainers know this appears to be impacting a usecase like mine.

[2020-05-12 05:42] mikeaustin commented on #15523
While resetting a component using a new key is usually “good enough”, that approach can’t be used for example when dragging an SVG around and updating text fields. I do like the idea of uncontrolled on focus, and controlled on unfocused that I saw in another post.

[2020-05-12 07:03] ohtryy opened #18892 "I lost my account"
Can i solve my forgot password?

[2020-05-12 07:03] #18892 closed

[2020-05-12 07:40] deminsy opened #18893 "react dev tools"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-05-12 07:55] ohtryy opened #18894 "i lost my account"
can i get my lost account?

[2020-05-12 08:00] Jack-Works opened #18895 "Bug: Horrifying performance in React experimental"
React version: 0.0.0-experimental-33c3af284

Tested: 0.0.0-experimental-e5d06e34b is okay, 0.0.0-experimental-33c3af284 is broken

## Steps To Reproduce

1. It's in a complicated application so not sure how to reproduce
2. If the React team has an interest in it, I will try to provide it.

React-experimental took 14 seconds to handle a button click

![image](https://user-images.githubusercontent.c

[2020-05-12 08:23] denissanthiago commented on #15006
https://www.debuggr.io/react-update-unmounted-component/

[2020-05-12 09:11] karlhorky commented on #18702
Nice, cool solution for all of the constraints in  https://github.com/facebook/react/pull/18737#issuecomment-626856712.

Thanks for your effort and attention seeing this through! 💯🚀

[2020-05-12 09:17] leethree commented on #18888
Sounds reasonable to me.

Would be great if this could be added to documentation. I would file an issue to `react-navigation` asking them to change the hook name 😄

[2020-05-12 10:26] TomPradat commented on #15006
@gaearon @bvaughn Any thoughs on this ?

[2020-05-12 11:28] flo-wolf commented on #14962
Is this still a problem on Chromiums end of things?

[2020-05-12 11:36] gaearon commented on #18895
Sounds odd. A repro would be helpful.

Have you looked at where the time is being spent percent-wise?

[2020-05-12 11:37] #18894 closed

[2020-05-12 12:12] andrewkikot commented on #12202
@japgolly did you find any workarounds for this..?

[2020-05-12 12:36] Jemt commented on #14962
Most likely. Use my JSFiddle above and give it a try in your browser, and you will see :-)

[2020-05-12 12:53] japgolly commented on #12202
Hi @andrewkikot. Nah I didn't but to be fair I didn't try either. I'm the author and maintainer of scalajs-react which enables people to write React code in the Scala language and compile it to JS. Said library's unit tests breaking is the only reason I came across this issue; it didn't have any functional impact for me so I just modified the unit tests and moved on. Sorry that's not much help.

[2020-05-12 13:20] andrewkikot commented on #12202
@japgolly, that's ok, thanks for replying anyway :)

[2020-05-12 13:20] Jack-Works commented on #18895
I can reproduce it in our product but our product is very complicated. I'll try to repro it but I can't guarantee it.

[2020-05-12 14:54] VitaminCtea opened #18896 "The DOM element that ref refers to is missing"
I used useRef in the function component to refer to an audio element. When I clicked the content of the song, I sent some actions to Redux. Then the console reported an error and could not call the play and other methods of audio element. When I tried the ref callback to get audio element, according to the official document, the ref will be cleared every time it is updated, so this method still do

[2020-05-12 15:17] Jack-Works commented on #18895
Run the command `yarn webpack-dev-server -o index.js` with the following files. This includes a third party dependency `@material-ui/core` and our hacky code to run React and JSS in the ShadowDOM. But it works in `0.0.0-experimental-e5d06e34b` and not in `0.0.0-experimental-33c3af284` so I'm curious why.

`index.html`
[code]

`package.json`
[code]

`src/index.js`
[code]

[2020-05-12 15:18] gaearon commented on #18895
If you remove the shadow DOM stuff, is there still a problem?

[2020-05-12 15:19] Jack-Works commented on #18895
No. But ShadowDOM is very, very important in our produce

[2020-05-12 15:23] gaearon commented on #18895
It seems like to further narrow it down you'll want to see how the behavior of this hack differs between versions of React. I can try to find time to look at it later but since this is very unconventional you'll probably have better luck narrowing it down.

[2020-05-12 15:52] eps1lon commented on #18895
Something is exponentially escalating. When profiling in development the first click creates 16 commits, the second 64 and the third one 256. Not related to the `Chip` component but as soon as I replace the `Dialog` from Material-UI with a `div` it no longer degrades.

[2020-05-12 15:57] #18893 closed

[2020-05-12 16:01] #18876 closed

[2020-05-12 16:25] eps1lon commented on #18895
Repro with just React: https://codesandbox.io/s/distracted-shamir-7bx54

Clicking the button causes the click handler to run multiple times. Each click doubles the number of times the click handler runs.

As far as I can tell this is either an issue with `ReactDOM.createPortal` or that custom proxy over `portalShadowRoot`. The getter of that proxy returns `return document.body[property];` at the e

[2020-05-12 16:33] dondmcg commented on #16592
@aweary I agree with raxod502 I have a specific problem where I am using an API for authentication. If I change the element from a anchor to a button the API no longer works because the js that is not exposed to me is still looking for an a tag. I will be forced to put inline js for prevent default and change the href to a hash tag which I do not think is a good solution.

[2020-05-12 16:37] gaearon commented on #16592
See my reply in https://github.com/facebook/react/issues/16382#issuecomment-607252694.

[2020-05-12 16:39] Jack-Works commented on #18895
Thanks @eps1lon I will try your fix tomorrow. But does it possible to improve the usage of ShadowRoot so I don't need those dirty hack?

[2020-05-12 16:42] eps1lon commented on #18895
I've never used react with the shadow DOM so I can't help you with that.

[2020-05-12 16:48] VitaminCtea commented on #18896
@knyzorg Sorry, since the url obtained by the Audio tag is asynchronous and USES Redux, you may not be able to provide a small example. You can take a look at this GIF, which is an incorrect GIF: https://github.com/VitaminCtea/reactBugImage/blob/master/reactReportImage.gif
As a rule, the DOM element pointed to by useRef should not be lost in the whole life cycle, and it will be destroyed when unin

[2020-05-12 16:56] flo-wolf commented on #14962
Actually this was a problem on my end. I console.logged the response, which caused Chrome to fire the warning.

[2020-05-12 16:59] Jack-Works commented on #18895
I feel the inconvenience from every aspect of the React ecosystem when using Shadow Dom.

React doesn't support it (event propagation bug)

JSS doesn't support it (can't inject style into shadow root)

MUI dialog doesn't support it well (it is using findDOMNode which doesn't support Shadow Dom)

I need to hack everything and I really hope to see the changes happen.😅

[2020-05-12 17:07] bvaughn commented on #18885
This does not look like a problem with `useMutableSource` to me, but a Suspense bug in your demo app.

The `Suspicious` component suspends during the mount render, so it does not get committed to the DOM. Instead, its fallback UI gets committed. This means that **no side effects- including subscribing to sources- will be run** for that component. This is expected behavior.

However, those side eff

[2020-05-12 17:07] #18885 closed

[2020-05-12 17:41] bvaughn commented on #18896
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2020-05-12 17:41] #18896 closed

[2020-05-12 17:42] bvaughn commented on #18896
I should add that a screenshot of your console and a partial code example probably isn't going to be sufficient for someone to diagnose this issue. You'll probably want to provide a more complete code example- ideally a Code Sandbox that someone can run and see the problem for themselves.

[2020-05-12 17:44] bvaughn commented on #18887
Related to #18888, arguably a duplicate

[2020-05-12 17:57] orestis commented on #18885
Thanks for taking the time to look into this. I know *why* this is working the way it works. I'm raising this issue to ask if this is expected behaviour (it seems so) and to clarify that this is a limitation that falls out the way Suspense and effects interact.

Imagine that the suspending value wasn't indefinite (as shown in the demo) but something that took too long (say 10 seconds). During thos

[2020-05-12 18:00] bvaughn commented on #18885
Sorry. It was not clear to me that you knew of the bug in the Sandbox you linked to.

I agree the scenario you describe would be a limitation.

[2020-05-12 18:02] surgeboris commented on #18887
I'd say #18888 is a duplicate of this issue, since it was created later (but the time difference is so small that it's certainly possible that we were authoring our issues simultaneously).

Anyways, #18888 got more attention, so I'm closing this one.

[2020-05-12 18:02] #18887 closed

[2020-05-12 18:04] orestis commented on #18885
This may well be a documentation issue (which is expected at this point since Suspense-for-data-fetching is new and experimental, and Suspense-for-code-splitting is expected to resolve quite quickly).

I'm not an expert in the React lifecycles, but if this wasn't React I'd say that the lifecycle I would expect for useMutableSource would be constructor/deconstructor instead of mount/unmount. I'm no

[2020-05-12 18:12] surgeboris commented on #18888
It is very nice indeed that you're implementing features people were asking for, but it's really worth to describe those features [in the changelog](https://github.com/facebook/react/blob/master/packages/eslint-plugin-react-hooks/CHANGELOG.md) at least (because not everyone is aware what others were asking for).

[2020-05-12 18:17] gaearon commented on #18888
@surgeboris When I added this changelog, I took twenty minutes to go through all the past PRs, remember the context behind them, and reconstruct it. I'm sorry that I missed one of them.

[2020-05-12 18:19] gaearon commented on #18888
Fixed changelog: https://github.com/facebook/react/commit/14e554b3103cc009c86f48ed927f2552649600a6.

I think we'll need to ask `react-navigation` to offer an alternative naming for this one to avoid breaking the convention. I'm sorry I didn't catch this earlier. The upside is that people seeing the `Effect` naming might be a bit confused anyway and try to pass the deps, so this is probably a net p

[2020-05-12 18:19] #18888 closed

[2020-05-12 18:22] eps1lon commented on #18895
Only if your child components are class components and don't forward their `ref` to their outermost DOM node.

[2020-05-12 22:22] tayan-serna commented on #14811
I did a little validation to avoid the crash.
[code]

In this way, my app is not crashing.

[2020-05-12 22:39] bvaughn commented on #18884
`react-dom` and `react-test-renderer` are different renderers. That's why the error message mentions that they have different `act()`s.

Which renderer are you using in your tests?

[2020-05-12 22:47] #18010 closed

[2020-05-12 23:53] esprehn commented on #18390
Having the inconsistency between SSR and CSR fixed would be great. It causes subtle breakage of pages when they add SSR.

[2020-05-13 01:01] getreworked commented on #16477
+1, this would be a real game changer for the Profiler

[2020-05-13 01:42] Hypnosphi opened #18901 "React.memo: consider keeping old prop reference when props don't change"
React version: 16.12.0

## Steps To Reproduce

1. Open https://codesandbox.io/s/cranky-germain-zc2cm?file=/src/App.js
2. Open console
3. Click "Update parent", then "Update child"

## The current behavior
Additional "UPDATE PROPS" is logged

## The expected behavior
No additional "UPDATE PROPS" is logged

From [docs](https://reactjs.org/docs/react-api.html#reactmemo):

  the same result as passing

[2020-05-13 01:48] Hypnosphi commented on #18901
The simplest workaround is to apply `React.memo` twice:
https://codesandbox.io/s/nervous-night-h5rpg?file=/src/App.js

[code]

[2020-05-13 02:20] Jack-Works commented on #18895
![image](https://user-images.githubusercontent.com/5390719/81763701-6a0e0b80-9502-11ea-97fd-30fc79f3e93e.png)

(Code in @material-ui/core, TrapFocus)

Hmm, another example. IIRC, when rendering in the ShadowDOM, `doc.activeElement` will be the root element of ShadowDOM.

[code]

When focusing on the `input`, the active element will be the `div` therefore it is buggy in the ShadowDOM and I have to

[2020-05-13 02:50] Jack-Works commented on #18895
This doesn't work in our product (React complaining when `findDOMNode`) but with a little change, it works now.

[code]

But I'm still wondering the reason behind the performance fall

[2020-05-13 02:50] Jack-Works commented on #18895
thanks @eps1lon

[2020-05-13 03:33] tlenoir commented on #10879
Hi there, sometimes this warning appear when you close your component like this : `<MyCustomComponent />`. So just rewrite like `<MyCustomComponent></MyCustomComponent>`. Hope i've helped you guy ! :+1:

[2020-05-13 03:50] Bluefitdev commented on #18208
Hey Guys, weirdly i'm still having this error right now

[code]

That's my eslintrc, just installed the hooks plugin today

version: `"eslint-plugin-react-hooks": "^4.0.1",`

Anything I should be aware of?

[2020-05-13 03:59] #17877 closed

[2020-05-13 03:59] #17969 closed

[2020-05-13 07:00] surgeboris opened #18902 "[eslint-plugin-react-hooks] Bug: warning on `useWithoutEffectSuffix`"
With `eslint-plugin-react-hooks@4.0.1` I observe an unexpected warning
on `useWithoutEffectSuffix` hook call.

## Steps To Reproduce

1. yarn create react-app hooks-bug
2. cd hooks-bug
3. npm run eject
4. npm i eslint-plugin-react-hooks@4.0.1
5. place code from the examples below into `src/App.js`
6. run `npx eslint src/App.js`
7. check output for warnings mentioned below

Code example:

[code]

n

[2020-05-13 07:22] memsenpai commented on #18884
@bvaughn i try with `create` from react-test-rerender and `render` from @testing-library/react
same issue.
must use `act` from react-dom/test-utils for resolve

[2020-05-13 09:18] Sibasish19 commented on #15306
Any updates on this issue?

[2020-05-13 09:38] adaschevici commented on #18831
@bvaughn
hi, I received a similar error while working with a very large list that is slow to render
Repo is here: https://github.com/adaschevici/goodreads-v2/tree/05-continuous-integration

Setup:
`npm run bootstrap`

Run app:
`npm run start:app`

1) Navigate to Login
2) Start Profiling
3) Navigate to Dashboard
4) Stop profiling

When its done gathering the results it errors out.

Stacktrace i got

[2020-05-13 10:39] benftwc opened #18903 "Error: "Commit tree does not contain fiber 97. This is a bug in React DevTools.""
Describe what you were doing when the bug occurred:
1. Open the Profiler after playing a while with some React Application
2. Try to reach some snap with the player
3. This happens

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.6.0-6cceaeb67

Call stack: at j (chrome-extension://fmkadma

[2020-05-13 11:12] ricardobrandao commented on #17581
I've tried to reproduce this memory leak using hooks [without success](https://codesandbox.io/s/react-issues-17581-memory-leak-by-the-browser-retain-wprfd).

macOS: Catalina 10.15.4
Chrome: Version 81.0.4044.138
React: Version 16.12.0

[2020-05-13 12:12] EnetoJara opened #18905 "Bug: onSubmit doesn't contains an event param"
I was reading your documentation https://reactjs.org/docs/forms.html#controlled-components
and I tried this example
[code]
but I was getting a `cannot read property preventDefault of undefined.
I almost go nuts, but then I open your codepen and I got this
![image](https://user-images.githubusercontent.com/24560394/81811046-a2552000-94e9-11ea-8857-0c3e05ba6806.png)

![image](https://user-images.git

[2020-05-13 12:29] timramone commented on #10826
You usually want to prevent a portal parent from unmounting in a case, when you have some kind of a dropdown component, which should open a modal on click inside. Because it's a dropdown, it hides on click inside, and that triggers a modal to unmount too. We've fixed this problem by rendering hidden content of a dropdown with a `display: none` style. Maybe it'll help somebody.

[2020-05-13 13:30] gaearon commented on #18902
Would you like to submit a failing test case and/or a fix? You can search for `ExhaustiveDeps-test.js` in the codebase. That would be very helpful!

[2020-05-13 14:17] raxod502 commented on #16592
When I posted my original comment, I was under the mistaken impression that you could not work around the problem by setting `href="#"` and adding `event.preventDefault()` to the `onClick` handler. (I must have tested incorrectly.)

Could this be prominently documented? Finding out about it deep in the issue tracker is a very bad user experience.

[2020-05-13 14:22] AdrianoRuberto opened #18906 "Bug: IE11 with Suspense doesn't support direct child with inline display: flex style"
If the direct children of `<React.Suspense />` have an inline `display: flex` style, when `Suspense` will be resolved it will NOT remove `display: none !important`, thus there will be a blank page.

This bug is only on the last version of IE11 and only with inline style of `display: flex`.

React version: 16.13.1

## Steps To Reproduce

1. Add <React.Suspense />
2. Add a direct child with an inlin

[2020-05-13 14:59] jtrost opened #18908 "Show better warning when <React.Fragment> is missing a key"
React version: 16.9.0

## Steps To Reproduce

1. Take an array of data, and render each item inside of `<React.Fragment></React.Fragment>`
2. Load the page to and see the topmost line in the backtrace: `in Fragment (at App.js:6)`

Link to code example: https://codesandbox.io/s/icy-rgb-wyuyk?file=/src/App.js

## The current behavior
The warning says that a `<Fragment>` tag needs a key, but `<React.

[2020-05-13 15:03] gaearon commented on #18906
Any hunch as to why IE behavior is different?

[2020-05-13 15:47] bvaughn commented on #18884
`react-testing-library` uses `react-dom` so it makes sense that you would need to use the `act` from `react-dom`.

[2020-05-13 15:57] #18902 closed

[2020-05-13 15:58] gaearon commented on #18902
Appreciate you did the work! I was feeling a bit tired today and this was really nice.

[2020-05-13 16:20] bvaughn commented on #18831
@adaschevici Thanks for sharing repro instructions!

I'm a little confused about how to run it though. There's no `bootstrap` or `start:app` commands in the repo you linked me to. (None of the packages define scripts by that name.)

[2020-05-13 16:45] denisglindep commented on #18905
What browser do you use? I can't reproduce it with browser, and your `codepen` works fine; @EnetoJara

[2020-05-13 16:58] ulagapandi2upms opened #18910 "React developer tool doesn't show in Chromium based Edge in Windows"
I've using chromium-based Microsoft edge. This react developer tool doesn't show in profiler page.
I can't find react developer tool in my browser

[2020-05-13 17:02] albertxing commented on #17581
@ricardobrandao I'm not exactly sure why there's a difference between the class vs. hooks implementation, but in your hooks implementation it looks like the input node is removed before a value is assigned to it — because the inputs never receive a value they aren't retained in the undo stack.

I've forked your implementation and set the key to `num / 2`, so the input is removed on every second ke

[2020-05-13 17:04] adaschevici commented on #18831
@bvaughn the error you are seeing is most likely caused by the fact that the git module for the jungle-jim is not automatically cloned.
`git clone --recurse-submodules` should fix that

[2020-05-13 17:13] EnetoJara commented on #18905
chrome:
![image](https://user-images.githubusercontent.com/24560394/81843176-d98bf700-9512-11ea-83fa-92084ad63081.png)

firefox:
![image](https://user-images.githubusercontent.com/24560394/81843234-edcff400-9512-11ea-9b50-b7fabe5fe71d.png)

SO:
![image](https://user-images.githubusercontent.com/24560394/81843312-0e984980-9513-11ea-8ab1-6d13fa00b5dd.png)

React
![image](https://user-images.githubus

[2020-05-13 17:15] EnetoJara commented on #18905
CODE:

[2020-05-13 17:27] EnetoJara commented on #18905
sorry wrong codepen https://codepen.io/gaearon/pen/VmmPgp?editors=0010

![image](https://user-images.githubusercontent.com/24560394/81844650-03461d80-9515-11ea-8420-20f5801095e9.png)

Aparently it only happens when you console.log it, due to the fact that console.log is async, but then were the closure at ?

[2020-05-13 17:57] bvaughn commented on #18831
Ah, I think my `git` client was not new enough to support the `--recurse-submodules` flag. Had to update it.

[2020-05-13 17:58] bvaughn commented on #18831
That being said, once the app started, I see another error (in the browser this time):

Module not found: Can't resolve '@goodreads-v2/component-library' in '/Users/bvaughn/Downloads/goodreads-v2/packages/goodreads/src'

Again, any chance you could just deploy this app somewhere I could look at it already running? 😅

[2020-05-13 18:21] adaschevici commented on #18831
ugh. Yeah, not sure if i can deploy it it needs the mocked API and some extra config i'm not able to do fast enough.
I'll see what i can do and update. Thanks!

[2020-05-13 18:22] bvaughn commented on #18831
No problem. Keep me posted! I'm happy to try something else on the local checkout if you have additional suggestions for resolving the latest compilation error too. Getting a repro of this would be very helpful.

[2020-05-13 18:25] Moizasif opened #18911 "React Dev tools Not Working For My project"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-05-13 19:53] adaschevici commented on #18831
oh, right so you also need to run
`npm run build:components`
then `npm run start:app`
Overlooked that, my bad

[2020-05-13 22:24] m-adilshaikh commented on #15006
It's so stupid such BS exists out of the box, I'll leave a compilation for not-a-lot-of-time-at-hand-but-dont-wana-pollute-code-with-bs-boilerplate-either-people.

- most will say including the manual, don't `useLayoutEffect`, but go right ahead, better than this nonsense
-  write your own useEffect

[2020-05-13 22:48] m-adilshaikh commented on #15006
@TomPradat What's harmful is the lack of alignment with `useEffect`. The docs haven't been updated since adaptation phase, so they still say it's a cool replacement of lifecycle methods. It's tricky understanding what's under the hood just like flux was when it first came out, but you should get right to it instead of circling around the warning.

[2020-05-14 01:04] irohitb commented on #18903
Possible duplicate of https://github.com/facebook/react/issues/18859

[2020-05-14 01:10] irohitb commented on #18859
@bvaughn If no-one is working on this, I would like to assign myself to investigate and fix the issue (since multiple people have referenced it). Also, If you assign me, Can you please also help me with where to look?

[2020-05-14 01:25] robertwt7 opened #18915 "Bug: using useCallback and useEffect at the same time messed my ref"
Hey Guys,

I created a [SignaturePad](https://github.com/agilgur5/react-signature-canvas) for my application that will pass the value later on to Formik. What I'm trying to do is to get the data from canvas and save it to my state using ref. `toData()` function returns array of points from the signature canvas.
`handleClear` is to clear the canvas.

Related libraries in the project:
[code]

I'm st

[2020-05-14 01:38] sophiebits commented on #18915
You may want to review the useRef docs again. To store data in a ref across renders, you should assign to the .current property (i.e. `sigPad.current = ...` not `sigPad = ...`). You likely want just `ref={sigPad}` on SignatureCanvas which does essentially the same thing. Then read from sigPad.current to get the actual value (in your effect and clear handler).

[2020-05-14 01:38] #18915 closed

[2020-05-14 01:50] Bluefitdev commented on #18915
Ah understood, thanks!

[2020-05-14 01:57] Cryptonex7 opened #18916 "Multiple ReactDOM.render() calls - Site Mirroring."
## I am trying to twin my app on the same screen as follows:
![image](https://user-images.githubusercontent.com/34197902/81883554-21625b00-95b3-11ea-8345-fb15ae4e14d3.png)

## I want to achieve this using a separate ReactDOM like so:
![image](https://user-images.githubusercontent.com/34197902/81883631-5c648e80-95b3-11ea-9765-8b5880a5de44.png)

**But since they are 2 independent virtual DOMs, I am

[2020-05-14 02:14] liubin915249126 commented on #6006
this resolve my problem

[2020-05-14 04:02] seanpoulter commented on #17649
How we considered ripping out as much of the React project as possible to end up with a minimal reproducible example? Slowly make the problem simpler and you may end up with an answer or something you can share. 🤞

[2020-05-14 04:02] seanpoulter commented on #17649
How we considered ripping out as much of the React project as possible to end up with a minimal reproducible example? Slowly make the problem simpler and you may end up with an answer or something you can share. 🤞

[2020-05-14 04:29] tjmehta commented on #11163
Just wrap the video element with a custom video component:

[code]

[2020-05-14 05:48] anton-thushara commented on #4210
i experienced the same issue and found a workaround.

onBlur={() => setTimeout(onBlur, 500)}

override the onBlur and delay it a bit. basically delay what ever should happen after onBlur by about 500ms.

[2020-05-14 06:28] AdrianoRuberto commented on #18906
No, but with an older version (I tried with version 11.0.9600), it work like a charm.

It's not the first time that IE11 make me frown.

Maybe the inline style doesn't work the same with IE11 than the others browsers ?

[2020-05-14 07:21] TomPradat commented on #15006
I'm not circling around the warning, I'm trying to understand if there is an idiomatic way to handle this that i would have missed.

I don't want to overly complicate my apps for edge cases that will rarely happen. Though I'm interested what ppl think about those edge cases. What's more I'm not sure that "wanting to update a context after a POST request" is such a rare use case.

I'll take a look

[2020-05-14 07:32] andyyxw opened #18922 "Bug: eslint(react-hooks/exhaustive-deps) detection error"
React version: 16.8.6

## Steps To Reproduce

1. I used a `current` prop of a variable(not a `ref`) in `useMemo`

Link to code example:
![F46EFE66DEC68D03AE3EA7F9A8758D40](https://user-images.githubusercontent.com/41931722/81905690-a3747300-95f7-11ea-9fea-d9d11221b75e.jpg)
![51C1374CBF1B25FD8C0099E28A689D95](https://user-images.githubusercontent.com/41931722/81905707-a8d1bd80-95f7-11ea-9f9c-3d2e44

[2020-05-14 08:33] JoshWhite opened #18923 "Error: "Commit tree does not contain fiber 3661. This is a bug in React DevTools.""
Describe what you were doing when the bug occurred:
1. Using Profiler tab
2. Clicked on a commit
3. It threw this error

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.6.0-6cceaeb67

Call stack: at j (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:162825)
    at N (

[2020-05-14 08:34] JoshWhite commented on #18923
If it's relevant, this console error is also present before using the profiler:
[code]

[2020-05-14 09:00] denisglindep commented on #18905
@EnetoJara You've added the same codepen :-)
I found that you try to log execution of `e.preventDefault()` but this function returns nothing, and that is the reason why you have `undefined` in the console.
You can do the same inside a chrome-devtools-console:
* just type `console.log('test');` and you would see, that `log` method responds with `undefined` also.
So, I think this question isn't conn

[2020-05-14 10:55] dmitrysteblyuk commented on #18790
That would be me, sorry!
I can confirm that the original repro doesn't work anymore.
Please check out this new one [react-memory-leak-repro.zip](https://github.com/facebook/react/files/4627725/react-memory-leak-repro.zip)
(basically the bug is, after clearing the list EVERY removed item props is still in memory).

[2020-05-14 10:58] dmitrysteblyuk commented on #18790
That would be me, sorry!
I can confirm that the original repro doesn't work anymore.
Please check out this new one [react-memory-leak-repro.zip](https://github.com/facebook/react/files/4627795/react-memory-leak-repro.zip)
(basically the bug is, after clearing the list EVERY removed item props is still in memory).

[2020-05-14 13:10] kalyan-k opened #18924 "Error: "Could not find node with id "4557" in commit tree""
Describe what you were doing when the bug occurred:
1. Started profiling the application
2. Tried to stop it after couple of navigation and actions on spa, but failed to stop.
3. Finally clicking multiple times on Stop has stopped profiling, and got his issue in graph option

---------------------------------------------
Please do not remove the text below this line
-------------------------------

[2020-05-14 13:56] mjangir commented on #5188
This is what I did. All you have to do is link the `react` and `react-dom` in your component to that of parent project's node_modules folder.

Go to your component project and remove the `react` and `react-dom` then do

[code]

[2020-05-14 15:57] bvaughn commented on #18859
@irohitb If you'd like to dig into this, we'd be happy to have the help. I don't really have the bandwidth to guide you on it though.

Some places you'd want to look at for starters:
* [`Store`](https://github.com/facebook/react/blob/master/packages/react-devtools-shared/src/devtools/store.js)
* [`ProfilerStore`](https://github.com/facebook/react/blob/master/packages/react-devtools-shared/src/devt

[2020-05-14 17:21] smokinjoe commented on #17520
I'm on React 16.8.x and have the exact same situation of a service call occurring in my component that's not triggered by any sort of action other than mounting the component.

Wrapping all my `mount` calls in my test doesn't do anything - and I've noticed that `act` is completely synchronous.

Do I seriously have to convert this component into a class component to get rid of these warnings? It se

[2020-05-14 17:30] slorber commented on #16956
Hey, looking at the newly open-sourced Recoil, it seems it's using a pattern a bit similar to the "getter" pattern: `useRecoilCallback` which permit to get access to current state.

![image](https://user-images.githubusercontent.com/749374/81965970-16daac80-9619-11ea-9b4b-44c130413d16.png)

So maybe the following will make sense?

[code]

[2020-05-14 19:31] AviVahl opened #18926 "Bug: eslint(react-hooks/exhaustive-deps) wrong deps with optional chained function calls"
React version: 16.13.1

## Steps To Reproduce

Every time optional chaining is used with a function call, the function itself is detected by the rule.
[code]

## The current behavior
v4.0.1 and above of `eslint-plugin-react-hooks` tells me to change the dep to `someContext.users?.filter`.

## The expected behavior
Allow me to keep using `someContext.users`. I can imagine scenarios where I would wa

[2020-05-14 20:46] OliverJAsh commented on #14476
I wanted to share a problem I run into very frequently, which I believe would be solved if React supported custom equality functions for `useMemo`, `useCallback` and `useEffect`. /cc @gaearon

### Problem

Take the example of deriving arrays:

Full example: https://stackblitz.com/edit/react-use-memo-result-yj2wxr?file=index.tsx

[code]

Image that `fruits` is memoized correctly. It is an array tha

[2020-05-14 21:20] jcestibariz commented on #18758
Same here, for me in:

[code]

[2020-05-14 22:00] justjake commented on #11387
Adding my +1 for this issue. At Notion, we currently use a custom portal implementation that predates `React.createPortal`, and we manually forward our context providers to the new tree. I tried to adopt `React.createPortal` but was blocked by the unexpected bubbling behavior:

@sebmarkbage's suggestion to move the `<Portal>` outside of the `<MenuItem>` component to become a sibling only solves th

[2020-05-15 04:31] lazeebee commented on #16954
@gaearon Can you explain further why react can't implement that the state and refs of the suspended component aren't thrown away?

[2020-05-15 05:53] hgeldenhuys commented on #14811
I'm also started getting this, but in the strangest place. At first I thought it was in react-sortablejs, since it does DOM manipulation, but in React 16.12.0 it worked, and gave this error in 16.13.1.

Turns out I was doing something wrong with useSelector in Redux. I basically returned a copy of my redux state, so the selector subscription was changed every time a rerender was triggered.  Wasn't

[2020-05-15 07:11] Jack-Works commented on #18040
Bump

[2020-05-15 10:46] mysticaltech opened #18929 "Bug: State of hooks not refreshing automatically in React DevTools"
I am using useContext and useReducer. When I inspect the ContextProvider in DevTools I see the state correctly. But when it changes via a reducer, it is not automatically refreshed in the DevTools, I must select another node and come back to the ContextProvider for it to show the correctly updated value.

So the state is really refreshed, it's just the DevTools that is not picking it up automatica

[2020-05-15 11:10] cbdeveloper opened #18930 "Bug: eslint-react-hooks asking (exhaustive-deps) asking for the full object instead of the property that is being used on useEffect"
React version:

[code]

## Steps To Reproduce

This code:

[code]

Link to code example:

https://codesandbox.io/s/solitary-currying-htsp3

## The current behavior

This very same code is asking for different variables in the dependency array:

On CodeSandbox, it's asking for `location.pathname`, which is correct and is the intended behavior of my `useEffect`.

![image](https://user-images.githubu

[2020-05-15 11:15] grncdr commented on #16873
@douglasjunior could you provide an example of what you mean? I didn’t understand what you wanted to demonstrate with the PR you linked.

[2020-05-15 12:40] licg9999 commented on #15187
![image](https://user-images.githubusercontent.com/8203034/82051228-119a6200-96ec-11ea-830d-73e93e77a014.png)
Hi? Is this issue resolved? I can still replay this problem on react 16.12.0 😳

[2020-05-15 13:20] mysticaltech commented on #18929
Turns out it was the useReducer hook causing this, working with useState instead solved the issue. This hook does not seem very stable to me! So for complex projects, redux remains is a must.

[2020-05-15 13:30] dgreene1 commented on #2402
Would Preact and React have the same issue described here?

I’m asking because I’m using single-spa for a platform play at a large company of distributed teams.

[2020-05-15 13:58] DavidHenri008 commented on #18930
I also have this behavior since upgrading to "eslint-plugin-react-hooks": "4.0.2", from version 4.0.0.

In my case:
[code]
Produce the following warning message:
[code]

[2020-05-15 13:59] DavidHenri008 commented on #18926
I also have this behavior since upgrading to "eslint-plugin-react-hooks": "4.0.2", from version 4.0.0.

In my case:
[code]
Produce the following warning message:
[code]

[2020-05-15 14:34] robertknight commented on #2402
It sounds to me like there are two separate issues here:

1. Can you have two different copies of the library loaded and in use anywhere on a page in separate components that don't interact with each other?
2. Can you have components from two different bundles, each with their own copy of the library, interact with each other (eg. the `render` function from one library receiving an element created

[2020-05-15 16:57] bvaughn commented on #18831
Cool. Thanks @adaschevici. I can run the app locally now.

How frequently can you reproduce it? Every other time? One in ten times? (I haven't seen it yet so I'm just wondering if I'm doing something wrong.)

[2020-05-15 16:59] 7kms commented on #18740
it is jsx syntax. expressions will be executed.  so your title changed.

[2020-05-15 17:00] JenniferFuBook opened #18932 "Bug: Event Capture may not work"
In React document, it is stated that to register an event handler for the capture phase, append Capture to the event name. It works in normal case. But if the event's bubbling is stopped inside an iframe, the parent component will not be able to capture the event.

React version: 16.13.1

## Steps To Reproduce

1. Create an iframe that preventDefault after catch a click event.
2. From the parent c

[2020-05-15 17:06] adaschevici commented on #18831
I haven't seen it since the first time i tried profiling the app.

After that i did a hard refresh with clearing cache in chrome and have not seen it since.
I profiled the page about ~20 times after that

What i did when i __did__ see it:
1) navigate to login
2) start profiling
3) go back to dashboard
4) stop profiling (took a while)

Actual: the error previously mentioned

[2020-05-15 17:09] 7kms commented on #18753
has been resolved by `onPointerEnter` and `onPointerLeave`?

[2020-05-15 17:25] 7kms commented on #18704
It is't discrepancy. React captured the inputchange event, then fire the `onChange` callback, then render the dom.
After render, you checkbox is always checked because you set it a true value.
`addEventListener` is registered after the dom is rendered, the callback is always behind the `onChange` on. So the value is always true in the `addEventListener` callback.

[2020-05-15 17:27] RickeyWard commented on #18831
I was unable to reproduce it since I posted the issue.

[2020-05-15 17:37] bvaughn commented on #18831
This sounds...unexpected. Makes me think something else was going on. Especially for such a small app, stop profiling should seem to be nearly instant.

Can you share a repro case with us, Rickey?

[2020-05-15 17:37] #16467 closed

[2020-05-15 21:09] benftwc commented on #18903
Yep, seems duplicate

[2020-05-16 03:58] karansinghgit commented on #4331
It may not come under best practices, but will I face any issues in the future if I use `class` and not `className`?

[2020-05-16 04:25] cgarrovillo commented on #6796
I'd also like to point out that the dispatch event workaround means no input "validation" on the form fields, meaning elements with the **required** tag
`<input type="file" required />`
are not checked.

[2020-05-16 06:33] sophiebits opened #18934 "DevTools profiler: Error: "Cannot read property 'concat' of undefined""
Describe what you were doing when the bug occurred:
1. Loaded page.
2. Fast Refreshed.
3. Started profiler.
4. Stopped profiler. Crash.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.6.0-6cceaeb67

Call stack: at j (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:16

[2020-05-16 06:51] sophiebits opened #18935 "DevTools: Uncaught error doesn't go away on page refresh"
1. Wait for devtools to hit an error (eg: #18934).
2. Reload the page.

Expected: Devtools reinitializes cleanly.
Actual: Error is still there. Need to hide devtools, reload _again_, then show devtools to get it to behave.

DevTools version: 4.6.0-6cceaeb67

[2020-05-16 07:02] acagastya opened #18936 "Make mandatory to pass initial state in React.useState"
Right now, it is possible to use hooks in order to set state for functional components as follows:
[code]
There is no parameter passed to `useState` above.  If it is blank, React assumes it is `undefined`.  I think it would be an improvement to make it compulsory to pass a parameter to `useState`.  If it is supposed to be undefined, one should pass `undefined`.  Or at least, there should be a warn

[2020-05-16 07:11] cgarrovillo commented on #6796
Update:
It is possible to use the **requestSubmit()** method on the form element to trigger field validation + submission. More info here: https://stackoverflow.com/questions/61831661/reactjs-submit-form-onchange?noredirect=1#comment109366001_61831661

[2020-05-16 07:29] sophiebits opened #18937 "Bug: eslint exhaustive-deps doesn't recognize JSXIdentifier as used"
[code]

says that `Report` is an unnecessary dependency. It's not.

This is because eslint scope `.references` does not include JSX. I _suspect_ if you pull in

https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-uses-vars.js

to your app's config then this won't happen. But maybe we should do something in the Hooks plugin itself too (since the others aren't officially recom

[2020-05-16 07:40] jacogr commented on #18930
We have the same as @DavidHenri008 - at this point, unsure if this is intended, so actually swapped the missing deps over to warnings and ignoring them for the time being :(

It actually is quite problematic in places, for instance have something like this -

[code]

It expect me to add `all?.accountId.eq` to the deps array, however that makes other linting rules complain since `.eq` is a function

[2020-05-16 09:53] TodorTotev commented on #18936
I don't think mandatory would be proper. Warning feels like okay though.

[2020-05-16 09:56] acagastya commented on #18936
@TodorTotev if it is not explicitly stated, it is taken as `undefined`.  Developers can manually set `undefined`.  But it would be a breaking change.  Other than that, I don't see a reason why that should be a problem -- But I welcome the opportunity to learn why you think otherwise.

But at the very least, warnings will be helpful.

[2020-05-16 10:00] TodorTotev commented on #18936
@acagastya I believe that the "beauty" of React is that its possible to do things in your own way, so "obliging" people to do something, at least from my perspective wouldn't be comfortable.

However, I am absolutely on your side about warnings, because when you are using something new and you are learning, warnings are really helpful telling you "this is the right way" or "that's how it should be

[2020-05-16 10:19] #17325 closed

[2020-05-16 12:25] fantasticsoul opened #18938 "Feature proposal: let class component setState second param callback always give the latest state"
## Context
I know setState first param can be a updater
[code]
but why not the second callback param can not supply the latest state in its param list.
[code]

[Link to code example](https://codesandbox.io/s/winter-monad-9wbu8?file=/src/App.js:51-410):

[code]

## The current behavior
the newState is undefined

## The expected behavior
the newState is the latest state

[2020-05-16 16:34] ljharb commented on #13954
bump

[2020-05-16 21:41] tettoffensive commented on #15097
@jottenlips Do you have a template repo you can share with me? I'm having trouble with my lerna monorepo with packages for react-native, react-native-web, and a shared components. The shared compoents throw this error with I use `useState`. I've tried your suggestion of `--hoist`, but that command fails for me: see https://github.com/lerna/lerna/issues/2583

[2020-05-16 21:44] tettoffensive commented on #13991
Has anyone here solved this recently with a lerna monorepo? I've tried a few of the suggestions with no luck.

[2020-05-17 05:18] sophiebits commented on #18938
React tends to not add more than one way to do something if the existing way is already clear and works well. I would say that this.state is quite straightforward and mirrors how you would always access state in a class component (so it’s one less thing to learn). One other minor issue I see with your proposal is that it would make the two arguments easier to confuse as both would take state then.

[2020-05-17 05:18] #18938 closed

[2020-05-17 06:13] nickretallack commented on #15792
@Dergash no that will still crash you in development mode when you switch between the early exit version and the non-early-exit version of the component, regardless of how many hooks you have in it.

TBH I don't see any way around this other than the wrapper component strategy.  It's a necessity because that's how react organizes hooks: by component.  I'm not terribly concerned about this adding o

[2020-05-17 06:43] zzdjk6 commented on #15792
Apart from spreading and duplicating null checks in hooks, I think we could use `render props` as a workaround.

For example, imagine that we want to do something like this (which is not valid):

[code]

We could create some `DataGuard` components:

[code]

And then we should be able to compose them like this:

[code]

[2020-05-17 08:51] gunjan45 commented on #17634
![git](https://user-images.githubusercontent.com/65484663/82139924-5d165280-9849-11ea-95fd-11c89ecf4c70.PNG)

while creating a new react project only node modules folder is getting created ..Rest of the folder are missing.
Even after running this command npx create-react-app my-app its not working

[2020-05-17 11:41] JasonWoof opened #18940 "Feature Request: <input type="textarea" .../>"
I'm delighted that you made it so `<textarea>` can take `value=` and `defaultValue=...` but what I really want is `<input type="textarea">`.

That would make this use case more fun:

    <input type={field.type} ...

No explanation necessary if you decide not to implement this. I've already made a wrapper class to solve my problem at hand.

[2020-05-17 12:26] wereHamster opened #18941 "Bug: SyntaxError when trying to import named exports from "react""
React version: 16.13.1

## Steps To Reproduce

[code]

The import declaration is taken straight from the hooks documentation (https://reactjs.org/docs/hooks-intro.html), hence why I expected it to work.

Save as bug.mjs, run with `node bug.mjs` (node v13 or later).

## The current behavior

[code]

## The expected behavior

No Syntax Error.

[2020-05-17 16:06] Maskedman99 commented on #16140
Deno 1.0 is released, would love to see it improve react

[2020-05-17 20:24] sorenhoyer commented on #579
@jonmiles this works for both mouse click and touch

[code]

Just be sure to put `e.nativeEvent.stopImmediatePropagation();` in your click handler.

[2020-05-17 21:10] markbmullins commented on #16501
Just wanted to report the same issue using version 4.6.0.

[code]

[2020-05-17 22:45] souki1990 commented on #18934
I have tried to reproduce several times but no profiler crashing so far on my side

[2020-05-18 01:57] ljharb commented on #15207
bump

[2020-05-18 03:00] xgqfrms commented on #5737
# a live demo

https://33qrr.csb.app/

https://codesandbox.io/s/react-parent-child-lifecycle-order-33qrr

[2020-05-18 03:06] irohitb commented on #18941
I am not sure about `.mjs` file but I don't think that's how you run a react app.

[2020-05-18 03:08] irohitb commented on #18936
Ahh. use typescript?

[2020-05-18 06:45] LXSMNSYC opened #18943 "Bug: useState's setState may change your state to 'undefined'"
I was updating my library which mostly revolves around the use of hooks.

This line: https://github.com/LXSMNSYC/react-scoped-model/blob/1c41a667aed66dedf8b8da2164a00eda0ccb0b3e/src/index.tsx#L183

[code]

even though redundant according to the Hooks API:

However, replacing the line with

[code]

results into the state having an `undefined` value.

Tests with the first line:
<img width="847" alt=

[2020-05-18 06:54] hosseinmd commented on #17351
I think we can manage that in promise fetch function
I think this can do it

[code]
and use that like this
[code]

[2020-05-18 07:45] vkurchatkin commented on #18943
It seems that your state is a function. In that case, `setState(state)` won't work as expected

[2020-05-18 08:38] Pushpendra92 opened #18944 "Error: Uncaught Invariant Violation: Minified React error #200 occurring intermittently"
I have added some additional functionality in my application and for that, I had to change the routing logic for the pages; the JSON structure for routing response is also changed because of the new requirements.

Now when the page loads up I get minified React error 200 but this error does not come on each page load, if I refresh my page a couple of times then my page shows up and all my function

[2020-05-18 08:44] Pushpendra92 commented on #18944
![image](https://user-images.githubusercontent.com/58908788/82192688-f0b35600-9911-11ea-9ddc-4566cf672321.png)

[2020-05-18 08:56] tonix-tuft commented on #17351
@hosseinmd Haven't tried it yet, but I don't think your code achieves the same behaviour.

You are starting the timeout concurrently as soon as you create the `Promise` responsible for fetching the data, whereas in my example the timeout gets created only as soon as the Suspense fallback UI is rendered, it won't be even be created if the promise resolves before the `timeoutMs ` of `useTransition`

[2020-05-18 09:19] kunukn commented on #18916
I can give some answers. From my point of view :)

<br/>

My approach would be store the state externally. Instead of using `useState` we could use a store. All DOM updates must be driven from update in the store.
`UI interaction -> update store -> update all ReactDOM instances.`

But what is the purpose to have multiple ReactDOM instances and then link them?
There is also `ReactDOM.createPortal`

[2020-05-18 09:35] dmail opened #18945 "DevTools: Improve browser extension iframe support"
When react is inside an iframe, chrome extension for react devtools fails to detect react.

This is because the extension sets `__REACT_DEVTOOLS_GLOBAL_HOOK__` only on the top level window. Apparently it's possible to have `__REACT_DEVTOOLS_GLOBAL_HOOK__` on iframes too by adding `all_frames: true` in extension [manifest.json](https://github.com/facebook/react/blob/c390ab3643612dc08ca4bebadc5b0377

[2020-05-18 09:45] kunukn commented on #18940
I think React follow the HTML spec. regarding the input types.
https://html.spec.whatwg.org/multipage/input.html#attr-input-type

There is no such thing as `<input type="textarea"`

[2020-05-18 10:35] kunukn commented on #18941
It seems ES modules are expected.

React is officially not shipped as ES modules yet.
https://github.com/facebook/react/issues/11503

You could try this.

[code]

Or you could try these React installs
https://github.com/facebook/react/issues/11503#issuecomment-595263605

[2020-05-18 10:40] bbenezech opened #18946 "Double-render in development could be opt-in"
Today React double-renders with `StrictMode` and `ConcurrentMode` to help developers detect impure renderings.

It helps with class-heavy codebases, but with function/hooks codebases, the use-case looks unclear to me.

- it adds noise to logging.
- it bites developers that look for a hook stability issue in their codebases before they find the relevant documentation (happened to me, and from SO/Is

[2020-05-18 10:52] hosseinmd commented on #17351
Yes, you are right.
This code avoid hidden fallback until 1500 ms

[2020-05-18 11:14] kunukn commented on #18910
I can find it here. I used Edge version 81.

![image](https://user-images.githubusercontent.com/3199603/82207020-7bdc1e00-9909-11ea-8a6d-2c07007e1cfe.png)

[2020-05-18 11:24] MHA15 opened #18947 "Bug: parent will mount earlier than its suspending child"
React version: 16.3.1

## Steps To Reproduce

1. use data fetching with suspense in latest release version (not concurrent mode)
2. render a simple wrapper around SuspendingComponent as child of SuspenseBoundary

[Link to code example](https://codesandbox.io/embed/react-suspense-before-concurrent-9854s?fontsize=14&hidenavigation=1&theme=dark)

## The current behavior
parent (wrapper around Suspend

[2020-05-18 13:12] gaearon commented on #18946
We've actually silenced the second render logs on master by overriding console.log. But this is obviously controversial. I do wonder if you're right and we should just do this for class lifecycles. Although then it will be harder to fix issues that occur due to a render side effect.

[2020-05-18 15:19] Thefolle commented on #13445
I had the symmetrical problem. I've replaced my previous import:
const ButtonGroup = require('react-bootstrap/ButtonGroup');
with:
const ButtonGroup = require('react-bootstrap/ButtonGroup').default;

Now I can use ButtonGroup as a component.

[2020-05-18 15:43] MarvelSQ opened #18949 "Bug: nested setState inside setTimeout/Promise triggered multiple times"
**setState** inside **another setState** which called in setTimeout/Promise will recalc multiple times

React version: 16.13.1

## Steps To Reproduce

[code]
## The current behavior
log
[code]

## The expected behavior
log
[code]

## Question
**is this a bug or should i avoid update state inside other setState?**

[2020-05-18 16:38] wtanna commented on #18930
We are have the same issues, both the original poster and the optional chaining when upgrading to version 4 of the eslint-plugin-react-hooks package. We are holding off until we can take a closer look. Here is an example of the warning being thrown:

[code]

it's saying there is a missing dependency for `response?.data`. If we however change it up to:

[code]

it works fine, but that would be a su

[2020-05-18 17:39] jtl385 commented on #18949
![](http://localhost:8090/github/images/mini-trello-icon.png) [test](http://loopback.planatee.com:3000/c/twbddXeX/42-test)

[2020-05-18 18:13] #17928 closed

[2020-05-18 18:41] #18943 closed

[2020-05-18 19:15] sophiebits commented on #18947
I believe this is intended behavior for legacy (non-concurrent) mode, in order to preserve the invariant that if a render function completes successfully, then effects will run as well – the parent component is immediately hidden afterwards. In concurrent mode you'd see that the parent never completes mounting, which will be the future behavior, and it will be encouraged for anyone using data fetc

[2020-05-18 19:15] #18947 closed

[2020-05-18 20:35] bvaughn commented on #18945
The frame limitation is mentioned in the docs, FWIW:
https://github.com/facebook/react/tree/master/packages/react-devtools

It's not a bug, just a known limitation. We currently suggest using the standalone version (as linked above) or (if you also control the iframe) passing the hook through from the parent:
https://github.com/facebook/react/blob/d897c35ecfb7471b55e41933fd4d993b98dbf600/fixtures/

[2020-05-18 20:37] bvaughn commented on #18944
Did you look at the error message that you're being linked to?

https://reactjs.org/docs/error-decoder.html/?invariant=200

Seems like the answer is that you're trying to render into something other than a DOM element.

[2020-05-18 20:37] bvaughn commented on #18944
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2020-05-18 20:37] #18944 closed

[2020-05-18 20:41] bvaughn commented on #18935
DevTools persists profiling data between page reloads, because it can be annoying for it to disappear if e.g. HMR causes the page to reload while you were looking at a trace. In the case of, #18934, it sounds like something about your profiling data is corrupt. (Don't know what since I don't know how to repro the issue.)

[2020-05-18 20:41] bvaughn commented on #18934
4.6.0-6cceaeb67 was built back in March. I've added a few Profiler bug fixes recently that might potentially address this. If you can repro the issue (#18934) would you be willing to try it with an updated build (from master)?

https://github.com/facebook/react/tree/master/packages/react-devtools-extensions#build-steps

[2020-05-18 20:44] bvaughn commented on #18929
This does not sound like the right conclusion. :smile:

I'm not sure I understand what's going on in the video you linked, but it looks like you're *editing* the value of the reducer's state and then just waiting to see if your edit gets erased? Local edits are expected to stay around unless you explicitly cancel them (e.g. Escape key).

Can you point me at a Code Sandbox that reproduces this prob

[2020-05-18 20:46] #18911 closed

[2020-05-18 20:47] bvaughn commented on #18910
First, make sure you've installed the Edge build of the extension:
https://microsoftedge.microsoft.com/addons/detail/gpphkfbcpidddadnkolkpfckpihlkkil

Then visit any website that uses React (like [www.reactjs.org](https://reactjs.org/)) and tow extension tabs should be available in your DevTools: "⚛️ Components" and "⚛️ Profiler".

[2020-05-18 20:47] #18910 closed

[2020-05-18 20:49] bvaughn commented on #18903
Going to close this as a duplicate of #18831

[2020-05-18 20:49] #18903 closed

[2020-05-18 20:51] bvaughn commented on #18923
@JoshWhite Can you reproduce this behavior? If so, would you be willing to try a newer build of DevTools to see if you can still reproduce with it? I've fixed several bugs in the Profiler recently (not yet released).

Here's a build from master:
[ReactDevTools.zip](https://github.com/facebook/react/files/4646618/ReactDevTools.zip)

I'm going to close this issue as a duplicate of #18831 but it woul

[2020-05-18 20:51] #18923 closed

[2020-05-18 20:51] dmail commented on #18945
Thank you very much for your answer and rewording the issue title, it's more accurate.

In my case the iframe runs in an other domain so window.parent would not be accessible.

I am ready to try to implement it. I'll take a look tomorrow. If you have any more info to share that would greatly help me when I'll start working on it.

Thanks again, I will keep you informed and I hope I will be able to

[2020-05-18 20:53] bvaughn commented on #18924
Can you share any sort of repro case with us?

[2020-05-18 20:54] bvaughn commented on #18945
Great! Keep me posted on your progress :smile:

Here's instructions to get you started:
https://github.com/facebook/react/tree/master/packages/react-devtools-extensions#build-steps

[2020-05-18 21:05] Pushpendra92 commented on #18944
After breaking my head for almost two days I found out the root cause. Based on suggestion I recieved on another platform for this question, I switched to non-minified dev environment. There were several issues. Though still not sure why the code was breaking intermittently. Thanks though.

[2020-05-18 21:06] sophiebits commented on #18935
I'm specifically talking about the case where the devtools break due to an uncaught error. A working "Reload" on that error page would also be OK.

[2020-05-18 21:28] bvaughn commented on #18935
Sure, understood. I was just pointing out that DevTools (the extension) stays around in some form between page loads. The React app itself actually unmounts and remounts:
https://github.com/facebook/react/blob/23309eb386777ee229cfb6f9b70fcb7c7123388b/packages/react-devtools-extensions/src/main.js#L350-L362

...but with saved profiling data:
https://github.com/facebook/react/blob/23309eb386777ee229

[2020-05-18 21:28] bvaughn commented on #18944
Glad you got it sorted out.

[2020-05-18 22:03] Hypnosphi commented on #18930
Looks like it's somehow related to optional chaining

[2020-05-19 00:01] bl00mber commented on #17883
@tommedema are you sure this event exist? Can you send a link to ECMA specification?

[2020-05-19 00:29] necolas commented on #17883
It's the same as the mouse event equivalents, they don't bubble and don't have a capture phase: https://reactjs.org/docs/events.html#mouse-events. You should use `onPointerOver/Out` instead.

[2020-05-19 00:29] #17883 closed

[2020-05-19 05:14] charlie0077 commented on #16477
+1 on this one. this would be huge!

I started missing the old days of using redux connector, it was easier to debug performance issues, compared to use hooks.

[2020-05-19 05:51] dimaryaz commented on #17355
This happens to me if I set a breakpoint in `componentDidMount`, either by clicking the line number in Firefox's debugger or by calling `debugger` in the code.

[2020-05-19 06:33] dimaryaz commented on #17355
Ok, at least in my case, this looks like a... thread-safety issue? Firefox has no problem running JavaScript event handlers while stopped at a breakpoint, causing all kinds of bizarre behavior. I must've missed the memo that JavaScript is no longer single-threaded.

[2020-05-19 06:37] GeoMarkou commented on #18930
I've found a similar issue that's been affecting our codebase. When you assign an object's property using mutation it also asks you to pass in the entire props object needlessly.

[code]

[code]

[2020-05-19 08:25] dmail commented on #18945
I have opened a draft pull request.
For now I have only tested to add all_frames: true on chrome extension manifest.json and it looks like it's working -> react is being detected inside a sandboxed iframe 🎉 .

[2020-05-19 09:14] dmail commented on #18945
Working on edge 🎉

About firefox however I have some trouble. I have changed nothing yet concerning firefox and after doing

1. yarn build:firefox
2. yarn run test:firefox

In the firefox browser that is launched the extension does not detect react on `reactjs.org`.

![firefoxko](https://user-images.githubusercontent.com/443639/82307985-6fb39780-99c1-11ea-9e0c-f9e3e07969ea.png)

In Firefox console

[2020-05-19 10:23] ford04 commented on #14463
@syntaxbliss `React.memo` will skip re-rendering the component for same props and instead take the previous memoized ReactElement "snapshot". It's like React does not call the `MyComponent` function again for re-render, but take its last result.

Perhaps a bit more clear statement is: the resulting ReactElement/JSX element, to which your inner `someFunction` function contributed something, is memo

[2020-05-19 10:27] shanudjn commented on #18753
Hi everyone! I am new to open source .If this issue isn't closed, I would like to work on this?

[2020-05-19 11:10] illuminist commented on #18916
Use redux to store app state. As long as redux store Provider is using the same redux store instance  it will be same state on both DOM tree.

[2020-05-19 11:57] raunofreiberg commented on #18753
Pointer Events seem to resolve this issue, so I'll be using those going forward. This issue is more related to how browsers handle mouse events, so I'll be closing this.

[2020-05-19 11:57] #18753 closed

[2020-05-19 12:40] dmail commented on #18945
About firefox I got workarounds depending what happens:

(a) Firefox addon is shown but fails to detect react
-> refresh the page
-> works normally

(b) Firefox addon does not even show up
-> go to Firefox settings
-> disable react devtools addon and enable it right away
-> go back to `reactjs.org`
-> works normally

As I said this happens already on `master` branch without any change on my side.

[2020-05-19 13:00] smhatre59 commented on #12516
I tried using `getDerivedStateFromProps` for the first time today. Replaced `componentWillReceiveProps` in all places. Even the log value for
`console.log(this.componentWillReceiveProps)` returns undefined.
Still getting the same warning. Reverting back to `componentWillReceiveProps` until a proper and easy solution comes for this problem.
I cannot simply update redux and other libraries currently

[2020-05-19 13:15] dmail commented on #18945
I'm putting pull request in ready for review.

[2020-05-19 13:42] lynxtaa commented on #18926
I have similar problem

[code]

Error: `React Hook useMemo has a missing dependency: 'formValues.nodeIds'. Either include it or remove the dependency array  react-hooks/exhaustive-deps`. Autofix rewrites it as:

[code]

It will throw in runtime because `formValues` may be undefined

[2020-05-19 15:00] xgqfrms commented on #7632
# why react component render twice, I'm so confused

![image](https://user-images.githubusercontent.com/7291672/82342623-6a3b6900-9a24-11ea-9939-dcdb3ca191f7.png)

https://codesandbox.io/s/react-parent-child-lifecycle-order-33qrr?file=/src/components/parent.js

[2020-05-19 15:04] bvaughn commented on #16477
+1 comments aren't hat helpful folks. They just add noise to the issue :smile:

We know the feature would be useful. It's kind of blocked on #16474 which doesn't have an obvious solution.

[2020-05-19 15:10] CopyJosh commented on #17378
About every other month or so, I find myself making an MR to correct the console warnings caused by someone using "ariaLabel" instead of "aria-label"  🤷‍♂️

[2020-05-19 16:37] Cryptonex7 commented on #18916
Absolutely thats an option and theoriticaly, it should work like a charm.

But since it is a very simple application, I was trying to avoid a redux setup - which is exactly why i have put this issue on React's repository because it involves an internal feature enquiry of React itself.

[2020-05-19 17:32] brendangibson commented on #18930
Me too!

[code]

gives

`  89:6  warning  React Hook useEffect has a missing dependency: 'data?.accounts?.forEach'. Either include it or remove the dependency array  react-hooks/exhaustive-deps`

after updating eslint-plugin-react-hooks to 4.0.2

[2020-05-19 18:14] bvaughn commented on #18935
@sophiebits If this happens again, I wonder if you'd be able to snag the `profilingData` data by setting a breakpoint or something and sending it my way so I can reproduce the particular problem.

[2020-05-19 18:14] bvaughn commented on #18934
By the way, I released an update yesterday (4.7.0) to the Chrome/Firefox/Edge stores.