[2017-11-01 01:54] liushuai512 commented on #11413
err:By default, **# React DOM** escapes any values embedded in JSX before rendering them. Thus it ensures that you can never inject anything that’s not explicitly written in your application. Everything is converted to a string before being rendered. This helps prevent XSS (cross-site-scripting) attacks.
（错误："中间多一个空格"）

revamp：By default, **# ReactDOM** escapes any values embedded in JSX before re

[2017-11-01 02:30] treshugart commented on #11347
@effulgentsia I like where your thoughts are going. Bikeshedding the names a bit, it might be useful to align their naming: `domProps` / `domEvents`, or something.

WRT option 2, it's at least backward compatible and solves most use-cases, but I'm coming around to the alternatives.

I think SSR can be handled by the custom elements themselves so long as React could respect attributes the component

[2017-11-01 04:23] thomasdavis commented on #10441
I'm also having no luck, using `crossorigin` attr, CORS enabled and using `cheap-module-source-maps`

[2017-11-01 04:28] robdodson commented on #11347
@effulgentsia I also like where you're heading. @sophiebits, @gaearon do
y'all have thoughts on this direction?

On Tue, Oct 31, 2017, 7:33 PM Trey Shugart <notifications@github.com> wrote:

[2017-11-01 09:37] idhard commented on #11409
i guess you may be able to do some kind of tracking on the synthetic events implementation of React, I'm talking without much of the knowledge , then for me the source one would be the <button> that call the handle function passed through props  and would bubble up the error. The componentDidCatch would be triggered at the level where the handle function has been created , probably  LikeButton. To

[2017-11-01 10:48] gaearon commented on #11409
I don't see how you could do such tracking.

[2017-11-01 11:00] buoyantair commented on #11413
Well :O?

[2017-11-01 11:13] idhard commented on #11409
certainly me neither , i have a weak concept of React internals , but if you agree that having an unified way to handle exceptions for event handlers is worth  the effort i could look deeper into it with your guidance.

I would start looking somewhere here : https://github.com/facebook/react/blob/master/packages/react-dom/src/events/ReactDOMEventListener.js#L180
however i understand that  Error Bo

[2017-11-01 11:21] gaearon commented on #11409
I know the React codebase well. The issue isn't that I don't know where to start, it's that I don't see how implementing this *could be possible* in the first place without significantly changing React API. As long as event handlers are just functions, there is no way for us to tell which component they are defined in.

[2017-11-01 13:51] stephen-last opened #11423 "Ignore <noscript> content on the client and don't warn about mismatches"
React 16.0.0 with SSR & [lazysizes](https://github.com/aFarkas/lazysizes) 4.0.1.

Trying to use the ["the noscript pattern"](https://github.com/aFarkas/lazysizes#the-noscript-pattern) to lazy load images with [lazysizes](https://github.com/aFarkas/lazysizes) but I'm seeing this:

Image component render method:

[code]

Does React have an issue with `noscript` tags..?

[2017-11-01 14:04] paulirwin commented on #11417
Allowing `value={foo}` where foo is null without warning may not be a very strong argument in the case of `<input type="text" value={foo} />`, but it does make more sense with input type `number` where using empty string to represent a missing number value feels counter-intuitive: `<input type="number" value={typeof foo === "number" ? foo : ""} />`

(Aside: it would also be nice to be able to bind

[2017-11-01 14:16] unutoiul opened #11425 "class styles inside javasript styles"
Hi,

If I have
[code]

how I can insert a style inside another class style like:

[code]

[2017-11-01 14:33] jquense commented on #11425
Hey there, this question doesn't seem like it's React specific, since react has no builtin system for doing inline styles aside from what is provided by html. In otherwords you can use the `style` prop to add an inline style to the html element or `className` to add a css class. In the style cause there is no nesting or processing of the style, its assigned directly to the element you add the prop

[2017-11-01 14:33] #11425 closed

[2017-11-01 14:48] idhard commented on #11409
ok then , really appreciate your time, this ticket #10474 and looking at the source code helped me to understand a bit more the underlying of it .

[2017-11-01 14:48] #11409 closed

[2017-11-01 15:07] bvaughn commented on #10441
Can you share a repro, @thomasdavis?

[2017-11-01 15:11] jquense commented on #10441
FYI I don't think i reopening this intentionally 😳

[2017-11-01 15:34] bvaughn commented on #10441
No worries. If people are still seeing it, it's probably okay to re-open it. 😄

[2017-11-01 16:00] Imundy commented on #11423
I *think* that warning should be a result of the client failing to match the server side rendered content when it tries to hydrate HTML.

[2017-11-01 16:08] stephen-last commented on #11423
Ok... I've tried removing `lazysizes` and just adding a simple `<noscript>` via a wrapper component:

[code]

[code]

Now I get:

So the server has encoded HTML, the client doesn't.

Why would that be..?

[2017-11-01 16:11] goodmorninggoaway commented on #11106
@aj-anuragjain @shinrinyoku Have either of you found a clean refactoring to work around this issue?

[2017-11-01 16:24] gaearon commented on #11423
This is a bug in 16.0.0: https://github.com/facebook/react/issues/11103. It was fixed in master via https://github.com/facebook/react/pull/11119 and will be released in the next update.

[2017-11-01 16:24] aaronschubert0 commented on #9970
@gaearon @aweary This is happening for me when running tests. I can reproduce it, so hopefully you will be able to also.

Repro steps:
- React & ReactDOM 16.0.0
- Use Jest for testing with the react-native preset `--preset='react-native'`
- Use Enzyme's mount function

Calling mount with the jest react-native preset present will make the style property undefined, without it, it will *not* be undef

[2017-11-01 16:29] stephen-last commented on #11423
@gaearon Thanks for the update, and fix... I'll ignore the warning for now.

Any idea when you're likely to release the next update..?

[2017-11-01 16:31] effulgentsia commented on #11347
I like those. I'm also brainstorming on if there's a way to make them even more idiomatic to React by replacing the concept of "dom" with the concept of "ref". So in other words: `refProps` / `refEvents`, since they're about attaching props and event listeners to the "ref".

And then I thought, what if instead of introducing new special names inside of `this.props`, we simply overload the existing

[2017-11-01 17:53] gaearon commented on #11423
This or next week. But I've said this a few times in the past...

[2017-11-01 18:47] sw-yx commented on #9866
interested. will take a look at this this weekend.

[2017-11-01 18:50] wood1986 commented on #11381
Maybe it is not related. Basically all the components that we are writing in Class style must deal with the state. Why cannot we enforce returning an initial state in Class style instead of doing `this.state = {}`

[2017-11-01 19:24] gaearon commented on #11381
Because returning something from a constructor already has a (different) meaning in JavaScript.

If you're just looking for a terse syntax, use class properties and don't define a constructor at all.

[2017-11-01 19:55] clemmy commented on #9866
@sw-yx Awesome! Can you also look into adding some fixtures for fragments as well? You can enable them by changing this [flag](https://github.com/facebook/react/blob/master/packages/shared/ReactFeatureFlags.js#L31) to true  and see the tests for its usage [here](https://github.com/facebook/react/blob/master/packages/react-reconciler/src/__tests__/ReactFragment-test.js).

[2017-11-01 21:02] gaearon commented on #11381
Fixed in https://github.com/facebook/react/pull/11395.

[2017-11-01 21:02] #11381 closed

[2017-11-01 21:26] sw-yx commented on #9866
ok. the reason im not immediately jumping at this is i dont actually have much experience with SSR (or fragments for that matter). nextjs has spoiled me lol. so this is a nice way to force myself to learn it i guess.

[2017-11-01 22:35] clemmy commented on #9866
@sw-yx Thanks for taking on this task. Please feel free to ask if you need anything.

[2017-11-02 00:39] gaearon commented on #9970
Please file a new issue with a runnable project reproducing this. That said I don't understand why you're using RN preset for ReactDOM and whether that's intended to be supported by Enzyme or not.

[2017-11-02 04:47] felansu commented on #11415
All states working except componentDidCatch:

[code]

Package:
[code]

[2017-11-02 08:24] jovanliuc commented on #11114
That's cool

[2017-11-02 08:31] jovanliuc opened #11428 "Raising issue Warning: React depends on requestAnimationFrame. Make sure that you load a polyfill in older browsers. http://fb.me/react-polyfills"
I want to know how suppress this warning in IE < edge( such as IE 9, IE10, IE11 ), like below:
![2017-11-02_162715](https://user-images.githubusercontent.com/8048836/32316488-5e8656ee-bfeb-11e7-81e4-9e123836cd81.png)

could some guys help me, thanks so much.

[2017-11-02 09:28] aaronschubert0 commented on #9970
@gaearon Sure will do. The reason is that we want to use one test command to test both our ReactDOM and RN components using jest in the same project.

[2017-11-02 10:10] IamManchanda commented on #11324
@gaearon Knock Knock!

That need to change for sure.**

[2017-11-02 10:47] gaearon commented on #11428
[code]

Then as your first import in entry point, before React:

[code]

[2017-11-02 10:47] #11428 closed

[2017-11-02 11:27] mrasoahaingo commented on #11414
How can I tell the reconciler to not remove this node, because it will be hydrated by the dynamic imported corresponding component?

[2017-11-02 12:34] Plash-jindal opened #11429 "React web app is not working on IE 10"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Web app is displaying black screen on load.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfidd

[2017-11-02 12:37] mAiNiNfEcTiOn commented on #11429
@Plash-jindal this was already fixed on this PR: https://github.com/facebook/react/pull/11421

But it is waiting release.

It only affects react.dom.development ... if you use react.dom.production should work :)

[2017-11-02 12:41] mrasoahaingo commented on #11414
Some code snippets for more explanations

**Routes definition**
[code]

**The Bundles.js used on server side**
[code]

**The AsyncBundles.js used on client side**
[code]

Thanks to the **NormalModuleReplacementPlugin** webpack plugin I'm able to switch from Bundles.js and AsyncBundles.js for server and client rendering

[code]

**HomePage.js component renders a simple div**
[code]

**The main Wrap

[2017-11-02 12:47] mrasoahaingo commented on #11414
That is fiber warning on client side: Did not expect server HTML to contain **div.home-page** in **div.app__wrapper** :(

[2017-11-02 12:57] Plash-jindal commented on #11429
But it is working in IE 11.
It’s just the older versions where it’s not working.

[2017-11-02 13:06] mAiNiNfEcTiOn commented on #11429
@Plash-jindal must be on your IE 11, on mine your JS Fiddle doesn't work: https://ibb.co/ioMYfw

[2017-11-02 13:22] mAiNiNfEcTiOn commented on #11429
Maybe a better link would be: https://codesandbox.io/s/r5zo33o9m

[2017-11-02 13:27] idhard commented on #11415
@felansu componenetDidCatch will trigger only on lifecycle methods and render , in your example you try to throw the exception inside an event handler "makeError" , here is the documentation: https://reactjs.org/docs/error-boundaries.html#how-about-event-handlers.
I had the same issue and in order to understand the internal i opened this  #11409 it may help you too.

[2017-11-02 13:40] Plash-jindal commented on #11429
Well, after running the demo app in production mode, it ran on the IE 10.
Now I have to just check it with my project as I am using Java as the backend and react as frontend. Moreover, webpack is used for the deployment, so I will test accordingly in production mode for the IE 10 browser.

Thank you.

[2017-11-02 13:45] mAiNiNfEcTiOn commented on #11429
👍

[2017-11-02 14:32] yongzhi-chen commented on #11413
What @liushuai512 was saying is that in the quoted message (probably it is coming from docs), there should not be a space between React and DOM. So React Dom should be changed ReactDom

[2017-11-02 14:59] gaearon commented on #11413
This doesn't really matter. We use "ReactDOM" when we talk about the entry point in code, but "React DOM" is the colloquial name for the renderer (just like "React Native").

Also please file issues about documentation in https://github.com/reactjs/reactjs.org.

Thanks!

[2017-11-02 14:59] #11413 closed

[2017-11-02 15:13] jozefpetro commented on #10441
Same problem here, tried both crossOriginLoading: 'anonymous' and devtool set to 'cheap-module-eval-source-map'

[2017-11-02 15:47] nick commented on #10441
I had to do these 3 things together:

Add this to webpack config:

    devServer: {
        headers: {
            'Access-Control-Allow-Origin': '*'
        }
    }

use `cheap-module-source-map`

Add `crossorigin` to my script tag:

    <script crossorigin src="http://localhost:8080/public/bundle.js"></script>

[2017-11-02 17:31] felansu commented on #11415
@idhard https://codepen.io/felansu/pen/bYEBGd?editors=0010

[2017-11-02 19:01] idhard commented on #11415
what is wrong with the fiddle? , there the componenetDidCatch is triggered because the error happened in the render function not in an event handler.

[2017-11-02 20:34] gaearon commented on #10021
There's not much you'll gain from scope hoisting React, except for maybe a 1 KB of Children helpers.

[2017-11-02 20:34] gaearon commented on #9103
I think we can close this since `react-reconciler` will ship with React 16.1.

[2017-11-02 20:34] #9103 closed

[2017-11-02 20:38] gaearon commented on #6655
It seems like we're actually in a good place now.
(Thanks @bvaughn)

[2017-11-02 20:38] #6655 closed

[2017-11-02 21:33] felansu commented on #11415
@idhard Yes, now is working.
https://github.com/felansu/personal/blob/master/src/App.js

[2017-11-02 21:45] gaearon commented on #9542
`pureExternalModules` solves this.

[2017-11-02 21:45] #9542 closed

[2017-11-02 21:45] gaearon commented on #11283
Haven't seen this anymore. Maybe I messed something up.

[2017-11-02 21:45] #11283 closed

[2017-11-02 21:48] gaearon commented on #10880
Filed as https://github.com/reactjs/reactjs.org/issues/238.

[2017-11-02 21:48] #10880 closed

[2017-11-02 21:49] #9482 closed

[2017-11-02 22:57] bvaughn opened #11435 "Release script follow-up items"
Today I used the [new release script](https://github.com/facebook/react/tree/master/scripts/release) for the first time to publish `16.1.0-beta`. Here are a couple of things I noticed that I want to follow-up on:

### PR #11434
- [x] Auto-install (or update) release script Yarn deps before running

### PR #11437
- [x] `publish` script should `git tag -a ${version}`. I manually tagged the `16.1.0-b

[2017-11-02 23:21] mparker11 opened #11436 "React complains about onChange for input type="submit""
I'm confused about this error:
`Failed form propType: You provided a `value` prop to a form field without an `onChange` handler.`

It makes sense that it would complain about inputs of other types but it seems like a bug to show up for a submit button. W3's docs states that `value` is valid to show text for a submit input, and the docs for React clearly show examples with forms and submit buttons

[2017-11-02 23:26] #11436 closed

[2017-11-02 23:27] mparker11 commented on #11436
Please ignore this. There was a very silly error on my part that caused that warning to show.

[2017-11-03 00:29] blling commented on #11435
Not `16.1.0-beta.1`,`16.1.0-beta.2`,`...` ?

[2017-11-03 00:49] gaearon commented on #10909
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:50] gaearon commented on #11065
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:50] gaearon commented on #10906
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:50] gaearon commented on #11152
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:50] gaearon commented on #11152
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:50] gaearon commented on #11191
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:51] gaearon commented on #10831
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:51] gaearon commented on #10865
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:51] gaearon commented on #11228
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:51] gaearon commented on #11271
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:51] gaearon commented on #11429
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:52] gaearon commented on #10987
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:52] gaearon commented on #10772
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:52] gaearon commented on #11397
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:52] gaearon commented on #10013
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:52] gaearon commented on #11103
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:53] gaearon commented on #11423
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:53] gaearon commented on #11010
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:53] gaearon commented on #11172
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:53] gaearon commented on #11017
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:54] gaearon commented on #11023
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:54] gaearon commented on #10598
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:54] gaearon commented on #11268
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:54] gaearon commented on #11161
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 00:54] gaearon commented on #11236
React `16.1.0-beta` has been released. Please update `react`, `react-dom`, and `react-test-renderer` (if you use it) to this version and let us know if it solved the issue! We’d appreciate if you could test before Monday when we plan to get `16.1.0` out.

[2017-11-03 01:59] robdodson commented on #11347
I really like this approach :)

[2017-11-03 02:37] wublack commented on #9540
it`s like same quastion ,when execute command **npm run build** .
![image](https://user-images.githubusercontent.com/10573644/32358666-f058d0e6-c082-11e7-8b20-20c2df26cff7.png)

[2017-11-03 03:28] bvaughn commented on #11435
I don't think it really matters. `16.1.0-beta` is less than `16.1.0-beta.1` (or `16.1.0-beta.1` for that matter) so if we need to release another beta we can still use the `.1` suffix.

[2017-11-03 03:37] krasnoperov commented on #10772
In my case `Warning: Expected server HTML to contain a matching <feMorphology> in <filter>.` has gone!

[2017-11-03 05:10] mqklin commented on #10181
Same problem came in BugSnug to our production site.
Don't have an idea how to reproduce this.
http://jmp.sh/swp1iRO
![image](https://user-images.githubusercontent.com/9456433/32361189-44ae5d90-c07f-11e7-86c9-52b7b06a38fc.png)

[2017-11-03 06:16] shivawu commented on #6336
So this is removed in React with https://github.com/facebook/react/pull/11303/, right? Are we going to do the same thing with react native? Currently it's impossible to require things like `StyleSheet` from react-native for this exact reason, in my understanding

[2017-11-03 07:40] ptomasroos opened #11438 "16.1.0-beta still yields error on SSR rehydration feOffset in filter"
Bug. Since the 16 Regressions issues was closed I could not comment on this

[code]
@gaearon

**What is the current behavior?**

Navigate to a SSR page, get a rehydration error when outputting SVG
[code]

**What is the expected behavior?**

No warnings :)

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

All version of Re

[2017-11-03 07:43] ptomasroos commented on #11438
My bad.
That's whats happening when you only upgrade react, and not react-dom!
All issues with text nodes + svg' errors are working as expected.

[2017-11-03 07:43] #11438 closed

[2017-11-03 07:53] ark9606 commented on #11299
I had same problem

[2017-11-03 08:04] d4rky-pl commented on #11236
@gaearon Hey, it seems that I actually botched this fix - the shouldComponentUpdate() is no longer called but the component is still not rerendered properly (check was done in wrong `if` clause). I've sent another PR that resolves this, please check #11439.

Apologies for extra noise!

[2017-11-03 08:18] dbismut commented on #11152
Hey @gaearon this works now :) Thanks!

[2017-11-03 08:21] Plash-jindal commented on #10294
I have update the react and react-dom packages but after I run the project using webpack-dev-server, I get this error,
ERROR in Entry module not found: Error: Cannot resolve module 'react/lib/ReactComponentBrowserEnvironment'

[2017-11-03 09:16] stephen-last commented on #11423
@gaearon Testing now...

With `16.1.0-beta` installed for both `react` and `react-dom` the `NoScript` functional component mentioned previsously now works, that is, I no longer see this:

However, and this maybe a separate thing, I still seem to have an issue using `<noscript>` directly.  If I use:

[code]

I see this:

With the HTML looking like this, where the `noscript` does seem to have a matc

[2017-11-03 09:26] guillaumesoldera commented on #11017
With 16.1.0-beta, render into document fragment works for me! Thanks!

[2017-11-03 10:22] damianobarbati commented on #6424
mega +1 for this one, the problem is perfectly explained by @gaearon:
[code]

[2017-11-03 10:28] gaearon commented on #11423
Can you please provide a reproducing project?

[2017-11-03 10:30] gaearon commented on #10294
Search for that string in `node_modules`. Some library is using an internal React module. As mentioned in release notes in this issue, this has never been supported and will no longer work.

I am locking this issue because RC has been released a long time ago, and is no longer relevant. If you have a problem please file a new issue.

[2017-11-03 10:34] gaearon commented on #11438
Awesome, thanks for confirming!

[2017-11-03 10:36] gaearon commented on #6336
I don't know about React Native or about the problem you're describing. It might be better to ask in some RN community forum.

[2017-11-03 10:38] gaearon commented on #10181
Let's keep this open for now. But we can't do anything without a repro case.

[2017-11-03 11:33] obedparla commented on #1126
Microdata!

[2017-11-03 11:51] jovanliuc commented on #11428
okay, I'm appreciated that, thanks so much to you...    ^-^

[2017-11-03 11:53] jovanliuc commented on #11428
okay, I'm appreciated that, thanks so much to you... ^-^ @gaearon

[2017-11-03 13:24] kgaregin commented on #11415
Few months ago i decided that it would be great idea to copy react.js and react-dom.js from node modules into dist folder so they'll be near index.html without ugly paths, safe and warm. Epic plan, except they didn't update since then :rofl: God i feel so stupid. [Minimal example works](https://github.com/kgaregin/errorBoundary-issue-reproduction), going to try update on source code.

Thanks for y

[2017-11-03 13:26] #11415 closed

[2017-11-03 13:26] stephen-last commented on #11423
@gaearon Ok... I'm a github rookie, but how is this..?

https://github.com/stephen-last/react-16-noscript

It's a basic app using SSR with a `<noscript>` tag.

The only difference I can see between the server generated HTML and that shown in the DevTools, is that the `img` tag is closed with `/>` in the page source, but DevTools shows `>`. I guess that could just be how DevTools shows it though.

[2017-11-03 14:22] gaearon opened #11441 "Remove support for cloneElement(getMountedInstance()) in shallow renderer"
There was a test added as part of shallow renderer rewrite (#9426) in https://github.com/facebook/react/pull/9426/commits/fc1c6f913cb74a2cb1ce1cfe6ba91b431786c4ac that I don’t understand.

It tests that you can take an *instance*, call `cloneElement` on it, and pass the result to the shallow renderer. If we are doing this internally this seems like a misunderstanding of how the API should work, an

[2017-11-03 14:45] gaearon commented on #11441
https://github.com/facebook/react/pull/11442

[2017-11-03 15:14] gaearon commented on #11414
This pattern has never worked correctly. In React 15 it would still blow away your server rendered markup and replace it on the client.

The solution is to render the same thing both on the client and the server side (just like before). If you're using Promises on the client side, you need to wait for them to resolve before doing hydration. This is not an easy problem, but it's outside of scope of

[2017-11-03 15:14] #11414 closed

[2017-11-03 15:15] gaearon commented on #11394
I'll close because this doesn't seem directly actionable, although I appreciate the discussion. If you have specific ideas about what we could improve in specific projects, please file follow-up issues in those projects:

* React docs: https://github.com/reactjs/reactjs.org
* Create React App: https://github.com/facebookincubator/create-react-app/

[2017-11-03 15:15] #11394 closed

[2017-11-03 15:17] gaearon commented on #11140
This was fixed.

[2017-11-03 15:17] #11140 closed

[2017-11-03 15:17] gaearon commented on #11086
Fixed in https://github.com/facebook/react/pull/11120

[2017-11-03 15:17] #11086 closed

[2017-11-03 15:24] gaearon commented on #11136
Was fixed inside CRA.

[2017-11-03 15:24] #11136 closed

[2017-11-03 15:27] OriR commented on #10013
We haven't updated to React `16.0.0` yet, so we probably won't be able to do this by Monday.
In any case, we've found a workaround for our use case by having a conditional `classname` - we're not re-assigning `dangerouslySetInnerHtml` anymore.

[2017-11-03 15:34] velociwabbit commented on #11394
Thankyou for listening and if once again i  am all in on helping to create this three.js like example repository if someone who is more steeped in the react/native ecosystem would contact me.

[2017-11-03 15:37] gaearon commented on #10950
`updateContainer` accepts callback in arguments. You can see it being used in ReactDOM. Hope this helps!

[2017-11-03 15:37] #10950 closed

[2017-11-03 15:38] #10904 closed

[2017-11-03 15:39] gaearon commented on #10904
Not sure what you meant by this—`prepareUpdate` *does* fire during reconciliation. We compute updates during reconciliation but don’t commit them yet. This makes it possible to split reconciliation across frames. Then we commit the whole tree at once when it is ready.

[2017-11-03 15:43] gaearon commented on #10478
I removed them. Don’t think we ever publicly advertised using either of these tags except for `next`.

[2017-11-03 15:43] #10478 closed

[2017-11-03 15:44] gaearon commented on #11060
Reconciler doesn't currently use animation frames at all.

[2017-11-03 15:44] #11060 closed

[2017-11-03 15:46] #10790 closed

[2017-11-03 15:46] Haroenv commented on #10478
cool!

[2017-11-03 16:13] gaearon commented on #11423
OK, I understand why this happens now. But it’s not clear to me what’s the best fix.

As a workaround you can do this:

[code]

I verified it works and doesn’t warn.

The reason you see the mismatch is because the browser is parsing the `noscript` content as text, but React attempts to hydrate it as a real tree. Maybe React shouldn’t attempt to hydrate anything in `noscript`.

[2017-11-03 16:16] gaearon commented on #1252
I believe React 16 doesn’t crash on this anymore, even though it produces a false positive warning.
We’ll track the warning in https://github.com/facebook/react/issues/11423.

[2017-11-03 16:16] #1252 closed

[2017-11-03 16:16] gaearon commented on #11423
This seems like an earlier manifestation of this issue: https://github.com/facebook/react/issues/1252. Seems like in past version it was just completely broken instead of warning, but now it produces a false positive warning.

[2017-11-03 16:16] #11441 closed

[2017-11-03 16:19] gaearon commented on #1126
React 16 supports arbitrary string attributes now.

[2017-11-03 16:24] Sherryer commented on #10906
It works great, thank you!

[2017-11-03 16:24] mrasoahaingo commented on #11414
Thanks! I am looking at another one https://github.com/ctrlplusb/react-async-component

[2017-11-03 16:31] gaearon commented on #11423
Spoke briefly with @sebmarkbage.

It's not clear how this should work.

We are currently generating elements on the client with `createElement`. But `noscript` content is not meant to be an element; it's text content.

One possible solution is to treat `noscript` like `textarea` and only support text content in it. That would be consistent with how browser treats it, but would disallow the pattern

[2017-11-03 16:45] stephen-last commented on #11423
@gaearon Thanks for your time investigating this, and for the workaround suggestion.

For now I'll keep a global component in my app for these tags:

[code]

So I can use `<NoScript>` rather than `<noscript>`.

It makes sense to me to treat it as the browser does, like you suggest.

[2017-11-03 16:50] gaearon commented on #11423
After more discussion we settled on warning if `<noscript>` contains a child that isn’t a string since it’s not really supported.

[2017-11-03 16:58] sebmarkbage commented on #11423
@stephen-last I might be better to use `<noscript>{staticMarkup}</noscript>`. That way we have the opportunity to escape it if needed. Less dangerous.

[2017-11-03 17:10] sebmarkbage commented on #11423
I guess in browsers where scripts are disabled this wouldn't be parsed as text content. So it's legit to put elements in there.

The issue is what happens on the client. Maybe client rendering should just ignore the content completely (and ignore hydration errors)?

I don't quite fully understand the use cases where the content is used during a script enabled render. Are there such use cases?

[2017-11-03 17:11] vchyzhevskyi commented on #11271
@gaearon Hi Dan, everything is working now, thank you! <3

[2017-11-03 18:17] gaearon opened #11443 "Ensure linted bundles exist"
I added validation of built bundles in https://github.com/facebook/react/pull/11432.

However I actually messed it up, and ESLint wasn't running on any files because of invalid arguments. I fixed that here: https://github.com/facebook/react/commit/61d35ce1f3f9c0706ed3630a2650d578497ae8c2#diff-edcddc0e0143d5a5a93d0951fd599794

We should fail the build if the glob patterns it's searching for don't e

[2017-11-03 18:32] gaearon commented on #9540
I verified `yarn build` works on Windows with Node 8 so I’ll close this.
https://github.com/facebook/react/issues/9500 still needs a solution so keeping it open.

I don't care strongly about `linc` but if somebody can get it working cross platform that would be great.

[2017-11-03 18:32] #9540 closed

[2017-11-03 18:32] gaearon commented on #9500
See comment in https://github.com/facebook/react/pull/9523#issuecomment-297492838 for proposed solution.

[2017-11-03 18:33] gaearon opened #11444 "Fix `yarn linc` command on Windows"
It currently fails on Windows because it depends on grep:

https://github.com/facebook/react/blob/61d35ce1f3f9c0706ed3630a2650d578497ae8c2/package.json#L101

We should find a way to make it do the same in a cross platform way (e.g. from a Node script).

[2017-11-03 18:38] gaearon commented on #9482
Done it.

[2017-11-03 19:06] xjlim commented on #11444
I'd like to work on this.

[2017-11-03 19:18] gaearon commented on #11299
Another PR merged! https://github.com/facebook/react/pull/11316

[2017-11-03 20:20] bvaughn commented on #11435
Closed via #11434 and #11437

[2017-11-03 20:20] #11435 closed

[2017-11-03 21:14] gaearon commented on #11444
https://github.com/facebook/react/pull/11446#issuecomment-341828958

[2017-11-03 21:42] gaearon commented on #11444
@xjlim Can you please help checking whether this works? https://github.com/facebook/react/pull/11446#issuecomment-341829465

[2017-11-03 21:54] clemmy commented on #11379
Thanks for the report! I can't seem to reproduce it in my browser - Chrome Version 62.0.3202.75 (Official Build) (64-bit). Does it happen to you in Firefox as well?

[2017-11-03 23:48] aaronjensen commented on #3877
@gaearon as of react 16, your suggestion replaces the info message with a warning: https://github.com/facebook/react/blob/45c1ff348e1c7d03567f5bba6cb32cffa9222972/packages/react-reconciler/src/ReactFiberDevToolsHook.js#L40-L51

[2017-11-04 00:09] gaearon commented on #3877
Oh, I see. Somehow missed that. Let's address this with https://github.com/facebook/react/pull/11448.

[2017-11-04 00:21] gaearon commented on #3877
Okay, now that https://github.com/facebook/react/pull/11448 is merged, 16.1.0 will include the fix that lets you specify:

[code]

(or equivalent), and the warning will be silenced.

[2017-11-04 00:29] gaearon commented on #3877
Going to lock this so the answer above doesn't get lost.
If you still have this issue after upgrading to 16.1.0 (to be released in a few days) please file a new issue.

[2017-11-04 01:49] misoguy commented on #11443
Can I work on this if no one else is on it yet? 😄

[2017-11-04 02:08] gaearon opened #11450 "Investigate DCE regression"
Seems like we started bundling persistent reconciler in DOM bundles. Maybe this negated some effect from ES modules (even though they were a net win). Need to look into why this happened.

[2017-11-04 02:28] sw-yx commented on #9866
ok, I will take this on. Sebastian specified a lot of things here, I will implement incrementally and hopefully do this with some supervision in case I go too off track.

we surprisingly dont have a section in the reactjs docs dedicated to SSR. in fact just searching "server side" doesnt provide useful results, you need to search "hydrate" in order to find it. that's probably a good issue to raise

[2017-11-04 03:18] sw-yx commented on #9866
I am proceeding extremely cautiously here. I'm thinking eventually what this will look like is a very long page with all the bullet points @sebmarkbage laid out in the first half of his spec. I was originally thinking to split it up into tabs but then that might confound our SSR testing.

So what I want to confirm here is if I have a good understanding of what you guys envision controlled/uncontro

[2017-11-04 04:35] misoguy commented on #11443
I opened a PR regarding this issue. It would be nice if you could take a look @gaearon 😄

[2017-11-04 05:22] sw-yx commented on #11097
would love to listen in on this chat and how you discuss things!

[2017-11-04 09:42] tkssharma commented on #6472
one possible solution is you just need to make sure if you have multiple instances loaded in you index.html of react. I was getting it because i have added webpack bundle twice while running it using webpack-dev-server with htmlwebpack plugin.

now fixed !! :)

[2017-11-04 12:20] gaearon commented on #11450
Fixed in https://github.com/facebook/react/pull/11453

[2017-11-04 12:57] #11443 closed

[2017-11-04 13:02] gaearon commented on #11443
Thank you so much!

[2017-11-04 13:14] gaearon opened #11454 "Improve formatting of errors when building React"
Currently when the build fails (e.g. due to a missing named export), the message is pretty ugly:

<img width="1033" alt="screen shot 2017-11-04 at 13 12 31" src="https://user-images.githubusercontent.com/810438/32405680-d618d2e6-c161-11e7-9b91-e0241c7c3eed.png">

It would be nice to display the relevant line inline with syntax highlighting, sort of like Babel does it. Maybe Babel's `babel-code-fra

[2017-11-04 13:19] misoguy commented on #11454
I'd like to work on this 😄

[2017-11-04 17:12] gaearon commented on #11299
One more down. https://github.com/facebook/react/pull/11317

[2017-11-04 18:09] #11444 closed

[2017-11-04 18:10] gaearon commented on #9500
@xjlim Wanna do this one too? Needs the same approach.

[2017-11-04 20:10] xjlim commented on #9500
@gaearon sure, I will give it a try.

[2017-11-04 20:51] sghall commented on #10703
Maybe because I am interested in animation, I tended to focus on what fiber would make possible for those use cases.  Seems it has shifted over time and probably for good reason, but it would be interesting to hear more about it.

Everyone likely knows [this post](https://github.com/acdlite/react-fiber-architecture) by @acdlite that talked at a high-level what fiber was all about.  From the sectio

[2017-11-04 21:44] monfera commented on #10703
@sghall I agree with your conclusion

though I'd rephrase it as

1. generally there is no reliable way to do 60fps JS animation (as it depends on browser DOM speed, scenegraph size etc etc)
2. React hasn't been optimized for animation, and it inherently introduces overhead that's fine for general UX use but eats significantly into the `rAF` cycle time budget if you have a nontrivial scenegraph, ie

[2017-11-04 22:44] gaearon commented on #11299
Wrote a small analysis about how I approached one of the tests. https://github.com/facebook/react/pull/11385#issuecomment-341934588

[2017-11-04 23:24] kuropyatnik commented on #11450
Just a simple random comment. How can i create a comment here through REST API?

[2017-11-05 00:16] gaearon commented on #11450
No idea. Please don't use our issues for unrelated questions. Thanks.

[2017-11-05 00:59] sw-yx commented on #11299
as far as i can tell they are all taken, please post here if any free up and i'll watch

[2017-11-05 03:32] prashantvv opened #11459 "Need to implement n level expandable listview in react native"
I've a basic query in react native. I've a side menu with n level expandable options (categories->subcategories->...) & I've to make it in react native. I've already research a lot but I'm unable to find any significant solution for this thing. Any help will be appreciated as I am new to react native and only have basic knowledge in it. May be, by creating dynamic components it can be done but if

[2017-11-05 06:33] clemmy commented on #11459
Thanks for posting @prashantvv. There are a lot of awesome resources you can find on React Native you can find in the Awesome React Native [repo](https://github.com/jondot/awesome-react-native), including tutorials and components that may suit your need. If you can't find anything there, feel free to post a question on [Stack Overflow](https://stackoverflow.com/questions/tagged/react-native).

I'm

[2017-11-05 06:33] #11459 closed

[2017-11-05 07:19] loconluis commented on #10441
I am using ```cheap-module-source-map```, but the error is thrown twice. Does anyone know what it could be?

[2017-11-05 07:37] prashantvv commented on #11459
Thanks, the stackoverflow reference is below for future ref:
https://stackoverflow.com/questions/47110269/need-to-implement-n-level-expandable-listview-in-react-native

[2017-11-05 10:07] bvaughn commented on #10441
What makes you say the error is thrown twice?

Are you referring to what Dan describes in facebook/react/issues/10384, by chance?

[2017-11-05 12:01] gaearon opened #11460 "Check .length before accessing characters"
See comment here: https://github.com/facebook/react/pull/11457#discussion_r148954193.

Although it seems very unlikely that someone would pass a one-character prop, the price (at least in versions of V8 in Chrome right now) is reported to be about 10x.

So we should check `.length` first and then do the comparison.

**Please comment if you want to take this issue.**
**If somebody already commented

[2017-11-05 12:03] gaearon opened #11461 "[RN] Don't receive events on unknown tags"
Flow uncovered this:

https://github.com/facebook/react/blob/92b7b172cce9958b846844f0b46fd7bbd8c5140d/packages/react-native-renderer/src/ReactNativeEventEmitter.js#L174-L175

Need to verify if we can just return early and not process the events in this case.

[2017-11-05 12:56] xjlim commented on #11460
@gaeron I'd like to work on this.

[2017-11-05 13:27] xjlim commented on #11460
@gaearon Just curious, is this documented somewhere?

[2017-11-05 13:45] aaronromeo commented on #11197
I ran into a similar issue with a dependency conflict. Jest installed version `16.0.0` of `react-test-render` while I had `react` at `15.6.2`. I was able to resolve this by bumping down the version of `react-test-render`.

[2017-11-05 14:46] #11460 closed

[2017-11-05 16:17] mmellado commented on #11191
Tested with React `16.1.0-beta`. Seems to be fixed for all my reproducible use-cases :)

[2017-11-05 21:06] #9500 closed

[2017-11-06 01:01] laverdet commented on #10598
Everything looks good on my end, thanks!

[2017-11-06 03:22] robberfree opened #11464 "When use React.cloneElement original element key changed?"
when i  use React.cloneElemen to clone a element.
i found that the key was changed, add '.$' to the original key.
when i read the doc about cloneElemnt, it said

do i miss some thing?
1. my code:
[code]
2. console message
[code]
3. capture of react-dom structure
![2017-11-06 11 20 16](https://user-images.githubusercontent.com/15938895/32423956-8dfdf7f0-c2e4-11e7-98ba-544643224ac6.png)

thanks.

[2017-11-06 07:01] avilev32 opened #11468 "*"
I

[2017-11-06 08:36] TejasQ commented on #11468
So much spam. :(

[2017-11-06 08:59] stephen-last commented on #11423
@sebmarkbage When I use `<noscript>{staticMarkup}</noscript>` I get:

Using `<noscript dangerouslySetInnerHTML={{ __html: staticMarkup }} />` produces no warnings with `16.1.0-beta`.

On the general `<noscript>` issue, after thinking about it over the weekend, I agree with @sebmarkbage. On the server React should allow any valid HTML or text. On the client React should ignore the contents complete

[2017-11-06 10:17] #11468 closed

[2017-11-06 11:54] Plash-jindal commented on #11429
@gaearon Hi, I have tested it using this versions but the application still not running on IE 10.
It is giving me the same error.

[2017-11-06 12:17] gaearon commented on #11429
Can you please give more details? What line is it referring to?

[2017-11-06 12:20] Plash-jindal commented on #11429
Its in the file bundle.js, line 17271, character 2.

[2017-11-06 12:24] gaearon commented on #11429
That doesn't tell us much given that we don't have your bundle :-)

Please prepare an isolated project that only contains React and reproduces the issue.

[2017-11-06 12:26] Plash-jindal commented on #11429
Well, I just created a basic application using create-react-app, and then I tried to run it after updating the react and react-dom modules on IE 10.
It is giving the error while following these steps.

**Note:** It is the basic startup application which is generated by using create-react-app.

[2017-11-06 12:38] Plash-jindal commented on #11429
Yes, I did that.
But one thing, when I update react-dom, it tell me the warning saying:

**UNMET PEER DEPENDENCY react@16.1.0-beta
└── react-dom@16.1.0-beta

npm WARN react-dom@16.1.0-beta requires a peer of react@^16.0.0 but none was installed.**

[2017-11-06 13:13] gaearon commented on #11464
This is necessary to correctly handle nested arrays. Elements at different nesting levels will receive different prefixes. This way even if you have same keys inside different nested arrays, mapping over them will still produce a valid flat array with equivalent behavior.

[2017-11-06 13:13] #11464 closed

[2017-11-06 13:27] gaearon commented on #11429
I just created a new app, installed `react` and `react-dom` with `16.1.0-beta` version, and opened IE in IE10 mode. I see these errors:

[code]

I followed instructions in https://reactjs.org/docs/javascript-environment-requirements.html and that gave me a working app.

So we'll need more information about how you reproduced this. Maybe you can publish the project you created?

[2017-11-06 14:15] gaearon commented on #11450
Fixed https://github.com/facebook/react/pull/11453.

[2017-11-06 14:15] #11450 closed

[2017-11-06 14:46] Plash-jindal commented on #11429
Sure, I will publish the project and you can check that.

[2017-11-06 15:06] Plash-jindal commented on #11429
https://jsfiddle.net/plash2908/sv6L2u3r/#&togetherjs=zE28dwAaU9

[2017-11-06 15:06] Plash-jindal commented on #11429
Please collaborate.

[2017-11-06 15:06] ma-spring opened #11470 "How to get json data from server without using JS? Maybe need a restclient to test the server’s API, WisdomTool REST Client can do this. https://github.com/wisdomtool/rest-client"
[WisdomTool REST Client](https://github.com/wisdomtool/rest-client) supports automated testing RESTful API and automatically generating RESTful API documentation.

If do not use JS, this tool may help you to test API automatically.

[2017-11-06 15:19] gaearon commented on #11429
I updated your fiddle. Does this work in IE10? https://jsfiddle.net/3scsxLtz/1/

[2017-11-06 15:19] Plash-jindal commented on #11429
[my-app 2.zip](https://github.com/facebook/react/files/1446713/my-app.2.zip)

[2017-11-06 15:20] mAiNiNfEcTiOn commented on #11429
I've updated my codesandbox: https://codesandbox.io/s/p2rkzl6xwq

Uses the _beta_ version and works fine on IE 11 (proof below)... Testing now with IE 10...

<img width="961" alt="screen shot 2017-11-06 at 16 18 50" src="https://user-images.githubusercontent.com/1002056/32448070-396d25d8-c30e-11e7-99a7-c4461f917f41.png">

[2017-11-06 15:21] Plash-jindal commented on #11429
@gaearon No, it doesn't work in IE 10.

[2017-11-06 15:24] mAiNiNfEcTiOn commented on #11429
Well... lol for codesandbox which doesn't run on IE 10 😄

@gaearon I ran your jsfiddle and it has this problem:

<img width="961" alt="screen shot 2017-11-06 at 16 23 12" src="https://user-images.githubusercontent.com/1002056/32448319-e664b54e-c30e-11e7-87d2-1d392ae82caa.png">

[2017-11-06 15:25] Plash-jindal commented on #11429
@gaearon  @mAiNiNfEcTiOn  please check this, https://codesandbox.io/embed/811v7yxyjj

It is not working on IE 10.

[2017-11-06 15:26] mAiNiNfEcTiOn commented on #11429
@Plash-jindal for me the whole codesandbox.io doesn't work on IE 10 😉

[2017-11-06 15:30] mAiNiNfEcTiOn commented on #11429
@gaearon it seems that this line https://github.com/facebook/react/blob/master/packages/react/src/ReactElementValidator.js#L63 Is the problem.

[2017-11-06 15:31] Plash-jindal commented on #11429
@mAiNiNfEcTiOn  Please try to install my project which I uploaded it here as a zip file and do the npm install and try to run it on IE 10.

[2017-11-06 15:31] gaearon commented on #11429
As I wrote [above](https://github.com/facebook/react/issues/11429#issuecomment-342148046), **React requires Map and Set polyfills.** 😉

Please follow these instructions to include them:
https://reactjs.org/docs/javascript-environment-requirements.html

[2017-11-06 15:32] mAiNiNfEcTiOn commented on #11429
@gaearon then, will do it on your fiddle too to check and confirm. 👍

[2017-11-06 15:32] Plash-jindal commented on #11429
@gaearon I tried that, it did not work either.

[2017-11-06 15:34] gaearon commented on #11429
I'll be looking at your zip in a sec.

[2017-11-06 15:34] Plash-jindal commented on #11429
Sure, thanks. @gaearon

[2017-11-06 15:38] mAiNiNfEcTiOn commented on #11429
I used `polyfill.io` with its `default-3.6` configuration which polyfills Map and Set, doesn't seem to work. Maybe _jsfiddle_ doesn't support IE10 too? (GIving an error in the `_display` frame 🙄 )

<img width="961" alt="screen shot 2017-11-06 at 16 36 28" src="https://user-images.githubusercontent.com/1002056/32449005-bcc6883c-c310-11e7-913c-333ddbc9da09.png">

[2017-11-06 15:40] gaearon commented on #11429
Yes, I've verified JSFiddle itself is broken so we shouldn't test in it.

[2017-11-06 15:43] mAiNiNfEcTiOn commented on #11429
@Plash-jindal I tested your stuff on IE 10... works:

<img width="961" alt="screen shot 2017-11-06 at 16 42 50" src="https://user-images.githubusercontent.com/1002056/32449347-98fbd5a0-c311-11e7-9330-d9fd9ca57c64.png">

[2017-11-06 15:46] gaearon commented on #11429
I have verified the zipped project works on a real IE10 instance (via BrowserStack).

![img_0224](https://user-images.githubusercontent.com/810438/32449528-b2fbaa0a-c309-11e7-9908-1dcee8b3a6e2.JPG)

[2017-11-06 15:48] Plash-jindal commented on #11429
Are you sure that you are not running this on production environment?

[2017-11-06 15:50] mAiNiNfEcTiOn commented on #11429
@Plash-jindal i unzipped, did `npm i` and did `npm start`. As you can see I accessed http://localhost:3000 ... worked just fine.

[2017-11-06 15:51] Plash-jindal commented on #11429
![screen shot 2017-11-06 at 16 29 24](https://user-images.githubusercontent.com/16471729/32449729-a9e8b648-c312-11e7-83b4-2bb996f3eca0.png)

I get this error on IE 10 when I try to run it.

[2017-11-06 15:55] mAiNiNfEcTiOn commented on #11429
@Plash-jindal Look at the _Modo de explorador_ ... is set to IE8.

[2017-11-06 16:02] Plash-jindal commented on #11429
@mAiNiNfEcTiOn Yes, its working fine now. My mistake, I was running it with Explorer mode as IE 8. 👍

[2017-11-06 17:12] mgmn commented on #6452
@DylanPiercey - Were you able to solve this issue. if yes can you share some pointers.. I am facing the similar issue on upgrading react from  0.14x to 15 ..

invariant.js:42 Uncaught Error: You're trying to render a component to the document using server rendering but the checksum was invalid. This usually means you rendered a different component type or props on the client from the one on the se

[2017-11-06 21:57] pmacmillan commented on #10871
@mbryla this is reproducible without React; see [this jsfiddle](https://jsfiddle.net/pmacmillan/6z57phjt/).

I came across a [similar issue in react-datepicker](https://github.com/Hacker0x01/react-datepicker/issues/1077) (IMO) and was able to [create a workaround](https://gist.github.com/pmacmillan/5e78836821ac22031567382dadd4a72e) that fixes my issue in a very narrow case, but in a way that I am

[2017-11-06 22:05] ark9606 commented on #11396
ва

[2017-11-06 23:38] kurokoda opened #11474 "pions"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-11-06 23:43] #11474 closed

[2017-11-07 00:00] Zephir77167 commented on #9866
Hey @sw-yx, do you need any help on this? I could do some bullet points if you want

[2017-11-07 01:22] robcmills commented on #10181
We started seeing this same error in production on October 2nd:

<img width="326" alt="screen shot 2017-11-06 at 5 12 51 pm" src="https://user-images.githubusercontent.com/4131746/32472166-17cb2f08-c316-11e7-9636-6f328c46ea0c.png">

Our stack trace points to an event listener on the window for unhandled rejections:

[code]

Which pretty much confirms what others have pointed out as the cause.

The

[2017-11-07 04:00] sw-yx commented on #9866
@Zephir77167 yes I would like help. basically i was waiting for someone to help confirm that i am on the right track. #11451 was supposed to address @sebmarkbage's first bullet point:

if this is what we want, i can proceed to complete out the rest of the first bullet point:

Since this fixture page will have a lot of examples, I'm also wondering if I should put these items into tabs so that they

[2017-11-07 05:04] code-spring opened #11475 "How does react work with WisdomTool REST Client?"
[WisdomTool REST Client ](https://github.com/wisdomtool/rest-client)supports automated testing RESTful API and automatically generating RESTful API documentation.

Maybe it can work with react?

[2017-11-07 06:52] tageecc opened #11476 "assignment for jsx in double circulation"
**Do you want to request a *feature* or report a *bug*?**
bug，maybe~

**What is the current behavior?**
- the code is :
[code]
- and the result print on the page is:

![image](https://user-images.githubusercontent.com/8930882/32480507-268f362e-c3ca-11e7-8d43-e9d130efd3e9.png)

**What is the expected behavior?**
it's very strange, `i` should not start with 0?

**Which versions of React, and which b

[2017-11-07 09:04] mbryla commented on #10871
@pmacmillan - what Safari version did you test it on? You might be right that this is Safari related issue, especially because I have recently upgraded to Version 11.0.1 (12604.3.5.1.1) and both your and mine fiddles seem to behave correctly (without spurious events). Can you please try to upgrade and verify? If so this ticket can be closed...

[2017-11-07 10:42] monkindey opened #11478 "let `yarn build` warn if local yarn version not support workspaces"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

I got the error below when my local yarn version was v0.21.

[code]

I think maybe should upgrade my yarn because the `react` module land at package folder.

And I upgrade yarn, and try to exec the `yarn` command, then `yarn build`, and it work.

~~**If the current behavior is a bug, please provi

[2017-11-07 11:02] gaearon commented on #11478
Sounds good, wanna do it? I think 1.2.1 is the minimal version we want to support.

[2017-11-07 11:27] monkindey commented on #11478
yes, I am glad to do it. Any warning phrases recommended ?

[2017-11-07 11:29] gaearon commented on #11478
Don't care strongly, send a PR and we can discuss. Worth checking if we already have a similar thing for unsupported Node versions. Then wording should be similar.

[2017-11-07 11:59] monkindey commented on #11478
😀 All right. But in case of node version, maybe we can use the [engines](https://docs.npmjs.com/files/package.json#engines) field in `package.json` ?

[2017-11-07 13:26] anthonyhastings commented on #631
@vmakhaev / @hammer65 - I am now seeing this error after upgrading my version of Enzyme to `3.1.0`. Did you find a way to suppress these warnings for JSDOM?

[2017-11-07 13:43] pmacmillan commented on #10871
Hmm.. I feel like I'm insane because testing now at home on my personal laptop (home) and, yes, it works correctly... (Safari Version 11.0 (11604.1.38.1.7)

[2017-11-07 14:02] pmacmillan commented on #10871
So it is reproducible in 10.1 (which is currently 20% of my audience -- and me at work, apparently)...  Sigh....

[2017-11-07 14:15] pmacmillan commented on #10871
I cannot right now confirm on my work laptop (although I know I upgraded to safari 11 beta because of *this* issue), but I am 90% confident that this is a safari 10 issue.

[2017-11-07 14:24] gaearon commented on #11478
Maybe we already do? I don't remember.

[2017-11-07 14:27] gaearon commented on #11476
This fills the top-level array with two references *to the same Array object*:

[code]

So in the second iteration of the loop, you override the values set during the first iteration.

[2017-11-07 14:27] #11476 closed

[2017-11-07 14:32] jquense commented on #11478
yarn 1.0.0+ will respect and warn for `engines` at the app level which is great, the catch of course is that if you are on an older version of yarn you won't get the warning b/c it was added in v1 :P

[2017-11-07 14:43] monkindey commented on #11478
hi, @gaearon . Why I committed and will run `npm run version-check && node scripts/rollup/build.js` automatically? Is it some hooks for that or I miss something?

[2017-11-07 14:52] monkindey commented on #11478
@jquense Thanks for your reminding, The yarn [engines](https://yarnpkg.com/lang/en/docs/package-json/#toc-engines) is awesome, which can specify yarn version.

And do we also need to check node version when executing `yarn build` command?

[2017-11-07 15:06] gaearon opened #11481 "Release script follow-up"
- [X] #11482: Add a timeout before querying npm right after publish
- [X] #11482: Conditionally log some post publish steps
- [X] #11482: Maybe print ready-to-paste `yarn add ...` instructions for CRA prerelease testing
- [ ] #11504: Publish all packages that aren't `private` and remove the whitelist in config
- [ ] #11504: Add "v" prefix for release tags
- [ ] #11504: Nit: seconds => minutes for

[2017-11-07 15:23] gaearon commented on #631
If you're having problems please file a new issue.
Nobody actively reads old issues, and requests for help here will get lost.

[2017-11-07 15:31] Hotell commented on #11017
I am more than happy to confirm that with 16.1.0-beta everything works! thanks a lot @gaearon much appreciated. Cheers

[2017-11-07 18:06] mxmul commented on #9480
Hi all! Sorry to bump an old issue, but isn't the example above only unsafe if you don't have typechecking of your props?

We're using both snapshot tests and Flow types for testing our components, and it seems like changes to defaultProps in a shallow snapshot are purely noise. If the Button component in your example above was defined like so:

[code]
Then the Menu component would just fail to ty

[2017-11-07 23:02] vchyzhevskyi opened #11485 "Text next to Element is not render on page in React v16"
Hello there,

Today I spotted a bug which causes the text next to element is not render on page in react `v16.1.0-beta`.

[code]

I'm not sure if this is a designed behaviour, but it was working perfectly in React v15.

Let me know if you need any information.

[2017-11-07 23:12] aweary commented on #11485
@vchyzhevskyi can you please provide an example reproducing your issue, along with some more details about it? I [can't reproduce the issue with the latest beta](https://jsfiddle.net/Aweary/rr3p2htz/).

[2017-11-07 23:23] vchyzhevskyi commented on #11485
@aweary Hi Brandon, I forgot to mention - I use server-side rendering. Client-side rendering in your example seems to works fine.

Server returns HTML without that text: `<h4><span>Quick</span></h4>`, so I guess the problem is on server side.

Please let me know if you can't reproduce the issue - I will setup blank repo with code to show this if that will be necessary.

[2017-11-07 23:30] aweary commented on #11485
@vchyzhevskyi thanks for clarifying. [Here's a version of that JSFiddle using `ReactDOMServer.renderToString`](https://jsfiddle.net/Aweary/41juzvrh/), which also doesn't reproduce the issue.

👍  feel free to ping me when you have a consistent reproduction.

[2017-11-08 00:01] gaearon commented on #11485
We'll need that reproducing case pretty soon if we want to fix this before the release.

[2017-11-08 00:34] vchyzhevskyi commented on #11485
@aweary @gaearon I'm so sorry, this was an issue in my abstraction layers. The upgrade from v15 to v16 was in same time when I applied fix that produces this strange behaviour - so I decided that this is an error in React.

Please close this issue, as there's no bug - my bad. Thank you for your time.

[2017-11-08 00:34] #11485 closed

[2017-11-08 00:35] herodrigues commented on #10441
Same happening here using `cheap-module-source-map`, using webpack and an ErrorBoundary component.
It only happens when I don't set NODE_ENV to production, which does not make any sense since I want to run in development mode.

[2017-11-08 01:38] monkindey commented on #11478
I found what happen, when I committed with message

``let `yarn build` warn if local yarn version not support workspaces``

and will execute the yarn build command, it's interesting.

But it's ok when I remove the backtick **`**.

[2017-11-08 02:15] amackintosh commented on #11100
I am encountering this now. Here is a component you can use to test:

[code]

I believe a decent solution is to leave the default option `enabled` (not disabled), and then check if the value of that field is 0 as part of your form validation.

I do this in React Native. I am noticing now, the value is a string `"0"` in React, but I am pretty sure it is a number in React Native because I recall my

[2017-11-08 05:55] gkitarp opened #11488 "Trigger simulated input value change for React 16 (after react-dom 15.6.0 updated)?"
I'm trying to trigger the input/change event on a React form outside react using pure JS or jQuery. With react-dom 15.6.0 you were able to use simulated flag on the event object for the event to pass through

[code]
Note I cannot use React even though the form trying to trigger on is based on React, have to pure JS or jQuery to trigger the input value change event.

So the original suggestion from

[2017-11-08 08:09] gaearon commented on #11488
I'm not sure if that `simulated` flag was even intentionally supported. I think it was used as a private marker and never intended to be public API. So you relied on implementation details that changed. (Granted, @jquense suggested that, but I still don't think this was a public API.)

Can you provide a full isolated example of what you're trying to do? Maybe this answer could be helpful: https://

[2017-11-08 08:59] tobiasandersen commented on #11379
Hm that's weird, I can reproduce it 100% of the times in both Chrome Version 62.0.3202.89 (Official Build) (64-bit) and in Firefox 56.0.2 (64-bit).

If you click anywhere after the drop, everything will go back to normal (see https://github.com/facebook/react/pull/11380). So in order to reproduce you must first drop the text, and then move the cursor around using the arrow keys (without clicking a

[2017-11-08 09:22] yonisetiawan opened #11490 "Default Browser on Android 4.0.x Not Working (Blank) to Access Web Build From React"
I have a problem, me build web with React and i tried to access with default browser on android.
on android 4.0.x not working (blank)
and on android 4.1 above is wokring

we write with es 6 and compile es 5, but it not working, if i test in android default browser 4.0.x not working (blank)

default browser on android 4.0.x not support with es 5, right ?

can someone help me ?

[2017-11-08 09:34] gaearon commented on #11490
React supports browsers that implement ES5.

React also depends on Map, Set, and requestAnimationFrame. This is described here:

https://reactjs.org/docs/javascript-environment-requirements.html

Please make sure you polyfill them on older browsers.

There are hundreds of different browsers and we can't give advice about specific ones.

I hope the above helps, but if you can verify that Android 4.

[2017-11-08 09:34] #11490 closed

[2017-11-08 10:06] gkitarp commented on #11488
Thanks for the response!
So the full isolated simple example is as follows:
Using React 15.6.1 input:
[https://codepen.io/gkitarp/pen/LObxVd](https://codepen.io/gkitarp/pen/LObxVd)
Using React 16.0.0 input:
[https://codepen.io/gkitarp/pen/pdNRKP](https://codepen.io/gkitarp/pen/pdNRKP)
As per the example, when you click on the submit button on React 16 the value has not been changed, but on React 1

[2017-11-08 10:32] stephenkingsley opened #11491 "npm run build has an error"
This is a bug! My nodejs is v7.0.0. Followed these steps:
1. git clone
2. npm install
3. run `npm run build`

the script has an error:
[code]

I think this is strange...

[2017-11-08 10:36] stephenkingsley commented on #11491
I think the problem maybe is rollup@0.41.6

[2017-11-08 10:54] monkindey commented on #11491
You can use `yarn` and run `yarn build`, and yarn version should support `workspaces` feature.

[2017-11-08 11:44] leMaik commented on #10370
@aweary So this issue is a duplicate of… itself? :sweat_smile:

[2017-11-08 11:49] gaearon commented on #11491
Yes, we don't support using npm for development anymore. Please run `yarn` and `yarn build`.

[2017-11-08 11:53] gaearon commented on #11488
Can you expand on *why* you need this? It is not exactly clear what your constraints are.

[2017-11-08 11:57] oliviertassinari commented on #10370
@aweary The issue can be reproduced in the v0.16.0 version: https://jsfiddle.net/d4a52zdk/. The issue can't be a duplicate of itself. You might want to reopen it.

[2017-11-08 12:37] gkitarp commented on #11488
It is to interact with a React website's form from a proprietary web browser which has to use the external form. The browser has limited access to external scripts. It is just one of those legacy systems that has to interact with a modern SPA web page to trigger a form submission. The legacy system which supports JS and jQuery may be deprecated. But really just need to figure out how to trigger th

[2017-11-08 12:50] dakom commented on #10950
Yes- that does help, thanks!

Followup question - if I'm continually calling `updateContainer` on each frame - does the following approach make sense (based off [ReactDOM](https://github.com/facebook/react/blob/master/packages/react-dom/src/client/ReactDOM.js#L743)) ?

**First call**
1. createContainer (and store a reference)
2. call `updateContainer` via `unbatchedUpdates` callback

**Subsequent

[2017-11-08 13:13] gaearon commented on #10950
Sounds reasonable to me although I don't fully understand why you need to call it yourself. If expect that you let components call `setState` (and that causes the updates).

[2017-11-08 13:14] gaearon commented on #11488
Can you just call `setState` on the component instance that renders the input to have it take a different value?

[2017-11-08 13:22] gkitarp commented on #11488
Yep I could, but how can do that using the console or outside the React scope? for example in this codepen: [https://codepen.io/gkitarp/pen/pdNRKP](https://codepen.io/gkitarp/pen/pdNRKP)

[2017-11-08 13:30] dakom commented on #10950
Cool :)

So I'm doing something a bit off the beaten path... when I've finished it to the extent of a demo is there a good place to bring it up for discussion?

On one foot - I have two React renderers: DOM and Custom/WebGL. All State is processed in a Worker thread such that the flow is basically like:

Input -> Worker -> State -> Elements (sent on frame tick) -> React -> Output

(Output _probabl

[2017-11-08 13:38] stephenkingsley commented on #11491
Yes! Thank you very much! And this is my fault!

[2017-11-08 13:38] #11491 closed

[2017-11-08 14:53] pmacmillan commented on #10871
Reproduces in Version 11.0.1 (12604.3.5). About to apply an update.

[2017-11-08 15:01] gaearon commented on #10950
Interesting. If you get it working I'd love to take a look.

[2017-11-08 15:02] gaearon commented on #11488
You can put the reference to your component onto the input, for example.

[2017-11-08 15:14] jquense commented on #11488
yeah not intended as a public API, its wasn't even intended to make it into v16, it was a workaround to prevent a breaking change in v15 minor bump. We should have a better story for this perhaps, but "correct" way to work around this is outlined here: https://github.com/cypress-io/cypress/issues/536#issuecomment-311694226

There _should_ be vanishingly few use-cases though where you need to get u

[2017-11-08 15:25] pmacmillan commented on #10871
For me, it's the "Force Click" option available in newer macbooks and external trackpads.

![screen shot 2017-11-08 at 10 22 22 am](https://user-images.githubusercontent.com/3280199/32557031-03c97a1e-c46f-11e7-928e-a9b3f7cf60cd.png)

Disabling the "Look up & data detectors" causes the issue to go away.

[2017-11-08 20:06] larsnystrom opened #11492 "DOM attribute dateTime isn't lowercased when rendered to string"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The DOM property `dateTime` isn't converted to its lowercase attribute counterpart `datetime` for the `<time>` element when the element is rendered with `ReactDOMServer.renderToString()`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pr

[2017-11-08 20:44] evan-scott-zocdoc opened #11494 "Add [data-reactroot] back for ReactDOM.render"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
in React v16, `[data-reactroot]` is only added when using `ReactDOMServer.renderToString()`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/

[2017-11-08 20:46] gaearon commented on #11492
This is a duplicate of https://github.com/facebook/react/issues/10863.

We’re hesitant about this. **HTML is case-insensitive** so technically our behavior is correct even if a little surprising. There's absolutely nothing wrong with emitting attributes with any casing, even `DaTeTiMe` would be perfectly understood by browsers, and the difference would be completely unobservable for the client-sid

[2017-11-08 20:46] #11492 closed

[2017-11-08 21:05] gaearon commented on #11494
`[data-reactroot]` has always been an implementation detail, and I don’t think we plan to emit extra attributes to aid developer tools that try to detect React on the page. The officially supported [React DevTools](https://github.com/facebook/react-devtools) extension can detect React, and that’s what we recommend to use for this purpose.

If you really want to, you can try looking for nodes with

[2017-11-08 21:05] #11494 closed

[2017-11-08 23:11] OZhurbenko commented on #9809
It would be great if this was fixed at some point.
I was very confused about this behavior, especially after I saw Chromium [response](https://bugs.chromium.org/p/chromium/issues/detail?id=119216) saying that everything works as expected, but it clearly didn't.

Thanks, that worked for me.

[2017-11-09 00:35] bdwain opened #11496 "SetState callback called before component state is updated in React Shallow Renderer"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
When I call setState with a callback in a test using react shallow renderer (via enzyme), the callback gets called and `this.state` is still the old state.

EDIT: This seems limited to componentWillMount

**If the current behavior is a bug, please provide the steps to reproduce and if possible

[2017-11-09 01:01] lindslev opened #11497 "React 16 upgrade still looking for react.js even though it doesn't exist anymore"
**Do you want to request a *feature* or report a *bug*?** 🐛

**What is the current behavior?**
Upgrading to React 16 means node_modules/react/react.js no longer exists. However, when watching/bundling files with webpack, webpack sometimes trips and errors out trying to locate node_modules/react/react.js. It may very well be a webpack issue and not a React issue but hoping someone here can help me

[2017-11-09 03:56] riwu opened #11498 "Props set through default parameter not added to component props property"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
https://codesandbox.io/s/y23613p8jz
`Example` is able to render `b` with default value of `a`, but its `props` property does not contain `b` if not explicitly set.

Is this intended?

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of Rea

[2017-11-09 06:29] robertknight commented on #7986
I can confirm the issue is resolved in React 16 in the context of the original app. Thank-you for the great work on this release 👍

[2017-11-09 06:54] chaituckr commented on #6472
This issue is also occurs when we dont import the child/third party components and use them in the current component. So, make sure you imported all the components that are being used in current component.

[2017-11-09 08:50] slim-hmidi commented on #10384
@gaearon I got this error twice, one from the component file containing the error and the second error from `react-dom.development.js`. How to swallow the error to be shown once and what is the error boundary to add because I didn't understand well what you mention:

What's the solution here to avoid the error to be metioned twice?

![cross_origin](https://user-images.githubusercontent.com/3192586

[2017-11-09 09:40] SmoooZ commented on #6541
+1

[2017-11-09 09:52] slim-hmidi opened #11499 "Uncaught error thrown twice ?"
I have the same problem mention on this issue: [Unhandled error is displayed twice](https://github.com/facebook/react/issues/10384).
The error was :
![cross_origin](https://user-images.githubusercontent.com/31925861/32598947-55103198-c53b-11e7-8230-87cba756fc0f.png)

Based on the @gaearon comment and [#10474](https://github.com/facebook/react/issues/10474)

I understand that is thrown by the brows

[2017-11-09 10:00] jeenamanuel opened #11500 "React renders differently on server and client"
Warning: React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have lost many of the benefits of server rendering. Instead, figure out why the markup being generated is different on

[2017-11-09 10:37] gaearon commented on #11500
Hi! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2017-11-09 10:37] #11500 closed

[2017-11-09 10:40] gaearon commented on #11499
You should see a link to the error boundaries documentation next to the error. (Not directly in it, but most likely below.)

The link leads here: https://reactjs.org/docs/error-boundaries.html

That said I think the errors in event handlers would still be displayed twice. This is a little unfortunate but shouldn't prevent you from fixing them 🙂

[2017-11-09 10:40] #11499 closed

[2017-11-09 10:43] gaearon commented on #11497
There is no reason webpack would look there unless:

* you are directly importing this file somewhere
* some other library is directly importing this file
* you have it somewhere in your configuration
* you use some disk caching solution, and your disk cache is corrupted or stale

Please bring it up with webpack and provide a reproducing project for them it you experience this consistently.

[2017-11-09 10:43] #11497 closed

[2017-11-09 10:54] gaearon commented on #11497
Also it probably wouldn't hurt to do the good old "delete node_modules and run npm install" dance. :-)

[2017-11-09 11:00] gaearon commented on #11496
Thanks for the report.

Note that using setState callback in componentWillMount doesn't make a lot of sense to me. You should just use conponentDidMount instead it you can.

[2017-11-09 11:22] bochen2014 commented on #7776
style-guidist
updatewebpack: https://github.com/styleguidist/react-styleguidist/issues/-110#issue-144363116

[2017-11-09 11:23] slim-hmidi commented on #11499
@gaearon I'm trying to understand how the error will be thrown once if it is detected and in this case does it thrown only by react or by the browser. If we consider this error was shown once, does this thrown by `react-dom.development.js` or by the browser?

[2017-11-09 11:46] bdwain commented on #11496
I agree. I generally never use componentWillMount. The one reason I can see to use componentWillMount is because it lets you share logic that calls setState with other parts of the component. I was just upgrading my project to react 16 and noticed some places where it was used that had this issue. While they all could be implemented a different way, I feel like it's not incorrect and makes sense t

[2017-11-09 11:51] bvaughn commented on #10441
Are you also referring to what Dan describes in facebook/react#10384, by chance?

[2017-11-09 12:31] gaearon commented on #11496
Yeah that's fair!

Wanna take a stab at adding a failing test and fixing it?

[2017-11-09 12:54] malikgenius commented on #9249
Great ... took me 4 hours to find out and fixed in a second after landed here ...

[2017-11-09 13:43] AnderssonChristian commented on #11498
I don't work for facebook, but I'll go ahead and answer this for you since I know the answer.

Yes, this is very much intended. I think you are confusing `b` with `props.b` and how the destructuring assignment works.

Your `Example` component is rendering your local variables `a`and `b`, not `props.a` and `props.b`. Since you are destructuring your props you get new variables!

From the [MDN](http

[2017-11-09 14:22] gaearon commented on #11498
Right. Compiled, your code looks like:

[code]

So `props` don't have `b` but a local `b` variable is filled with the value of `a`. It is not possible for React to know that your component is written this way, so it can’t possibly fill in the props when you create the `<Example />` element.

[2017-11-09 14:22] #11498 closed

[2017-11-09 14:22] herodrigues commented on #10441
@bvaughn yeah, I've read the whole discussion in your previous comment and the answer is 'kind of'.

So, basically I shouldn't set NODE_ENV to development in my React app, because component errors should be thrown only production, right?

[2017-11-09 14:30] bvaughn commented on #10441
You shouldn't set `NODE_ENV` to "development" for your production app because this will result in your app [getting the slower, development build of react](https://unpkg.com/react-dom@16.0.0/index.js). The development build of React includes many helpful warnings. While useful in development, they make React larger and slower so you don't want to use them in production.

Errors can occur in develo

[2017-11-09 14:47] bvaughn commented on #9480
Many projects don't use Flow 😄

[2017-11-09 14:51] gaearon commented on #11496
I think what needs to be done is that instead of calling the `callback` in `enqueue*` methods immediately we should store it on a field, and then call it when we have finished mounting or updating.

[2017-11-09 14:55] bvaughn commented on #11481
😆

[2017-11-09 14:57] sjy commented on #11496
I am interested in this issue, I will take time and try to make a PR .

[2017-11-09 15:04] bdwain commented on #11496
Yea I can take a look. I may not have time to finish it today though. Not sure if it’s important to finish before 16.1. Since it’s not too hard to use the constructor or componentdidmount instead I feel like it’s not a huge deal though, especially if a patch release can be done before 16.2. I already changed the spots in my project that were breaking and it was pretty easy.

[2017-11-09 15:34] gaearon commented on #11496
We've already cut 16.1. Seems okay since it probably was broken in 16.0 too.

[2017-11-09 15:40] DylanPiercey commented on #6452
@mgmn ultimately we made 100% sure that the server rendered output was the same (this was tricky for some dates for unknown users). There was also setup a way to catch the error and discard the dom if needed.

Sorry if that doesn’t help any. This issue is also pretty old so perhaps it was fixed in react 16.

[2017-11-09 15:41] herodrigues commented on #10441
I want to see those helpful warnings and I didn't set `NODE_ENV` to 'development' in production mode.
However, my app only works **if** I set to `NODE_ENV` to 'production' in my webpack configuration like this:

[code]

If I don't use that, I see that cross-origin error.

Anyway, thanks for the explanation.
I'll read those discussions a bit more, because maybe I'm misunderstading some concepts.

[2017-11-09 15:46] askoretskiy opened #11502 "Iterators are not supported inside Component.render"
**What is the current behavior?**

When you provide a list of React components -- its works. When you provide an iterator of React components -- it does not work.

This works:

[code]
Doesn't work:

[code]

Unfortunately, I couldn't make it run on JSFiddle, maybe it has no support of iterators.

**What is the expected behavior?**

It should render exactly the same version as list-based one:

* 1
*

[2017-11-09 15:50] lindslev commented on #11497
haha yeah @gaearon i purged node_modules a startling number of times. didn't expect the react team to have much of an explanation for this, just figured i'd post an issue in case anyone else happened to run into the same thing. will circle back with any findings. thanks dan!

[2017-11-09 15:53] gaearon commented on #11502
Did it work in 15?

[2017-11-09 15:56] askoretskiy commented on #11502
No

[2017-11-09 15:56] gaearon opened #11503 "Formalize top-level ES exports"
Currently we only ship CommonJS versions of all packages. However we might want to ship them as ESM in the future (https://github.com/facebook/react/issues/10021).

We can't quite easily do this because we haven't really decided on what top-level ES exports would look like from each package. For example, does `react` have a bunch of named exports, but also a default export called `React`? Should w

[2017-11-09 15:58] gaearon commented on #10021
Why can't you use the regular UMD build in this case? It would also avoid rebundling.

[2017-11-09 15:58] gaearon commented on #10021
This is blocked on deciding what we actually want to export from each package, and in which form: https://github.com/facebook/react/issues/11503
Feel free to comment with proposals there.

[2017-11-09 16:04] gaearon commented on #11497
Yeah, sorry you're running into this. If you can create an isolated example that consistently reproduces this I can try to look into it.

[2017-11-09 16:15] selbekk commented on #9249
@malikgenius - haha I feel you. This is one of those things that you spend a ton of time figuring out the first time, and then you know how to fix it forever.

A note though - React provides some really good error messages, so it helps to read them thoroughly.

[2017-11-09 16:29] #11481 closed

[2017-11-09 16:30] gaearon commented on #9249
I guess we could amend and add something like "or you might have mistaken default and named imports".

[2017-11-09 16:44] forWorkAtML commented on #10987
apologies  just seeing this message now.
Yes. The issue is resolved with the beta, rc & 16.1

[2017-11-09 16:47] selbekk commented on #9249
On it @gaearon :)

[2017-11-09 16:50] mcjazzyfunky commented on #11502
Maybe this fiddles may only work in modern browsers:

Please compare the result of

React 15.6.2 (working fine):
https://jsfiddle.net/8hm69uyo/

with the result of React 16 (not working properly):
https://jsfiddle.net/0vgf7tvs/

[2017-11-09 16:54] herodrigues commented on #10441
Thanks @bvaughn.Z

[2017-11-09 17:05] bvaughn commented on #10441
If I'm understanding this correctly, I don't know why this would be. Maybe related to another dependency your project has? Either way, sounds like a separate issue from the component stack stuff 😄 Maybe file it separately, with more details?

[2017-11-09 17:15] herodrigues commented on #10441
@bvaughn that's what I'm looking for. My app is inside a Chrome extension, which is an odd environment for React.

If it's something related to React and Chrome extensions and not an specific issue with my project, I'll create a separate issue with maybe a tutorial on how to solve it.

Thanks!

[2017-11-09 17:30] Andarist commented on #11503
Imho `import *` is a way to go, Im not opposed to having a default export too, but it shouldnt be used to reexport other stuff like in this example:
[code]

[2017-11-09 17:32] bvaughn commented on #10441
Sounds similar to [`react-devtools`](https://github.com/facebook/react-devtools) 😄

[2017-11-09 17:37] ideal-life-generator commented on #10879
I my case I just replace `<div id="app" />` to `<div id="app"></div>`.

[2017-11-09 17:51] gaearon commented on #11503
Is there a technical reason why? (Aside from having two ways to do the same thing.)

My impression is that people who would import `*` (and not use the default) wouldn't have problems tree shaking since default would stay unused. But maybe I overestimate Rollup etc.

[2017-11-09 17:58] gaearon commented on #11502
Can you look into why this is not working?

[2017-11-09 18:17] Zephir77167 commented on #9866
I was thinking about a tab system with a query parameter to define the initial tab, however I don't think it is possible to access the URL from the server with the current setup. Maybe we should stack them on a single page, or make one page per bullet point?

Once @sebmarkbage will have validated this is going the right way, I will begin with the second bullet point!

[2017-11-09 18:53] accordeiro commented on #11496
Hi, @gaearon and @bdwain –

I was taking a look at this issue earlier and I might have come up with a test to reproduce this bug and a patch to fix it.

As this is assigned @bdwain I didn’t want to step in his shoes and send a PR, but I’m happy to push the code so you guys can take a look and maybe get some insights – is this ok?

[2017-11-09 18:58] bdwain commented on #11496
Not a problem. I haven’t had a chance to do anything yet. Lets just go with yours.

[2017-11-09 19:13] accordeiro commented on #11496
Thanks @bdwain – just sent a PR :)

[2017-11-09 19:56] Andarist commented on #11503
That questions can be probably best answered by @lukastaegert. Ain't sure if something has changed since https://github.com/facebook/react/issues/10021#issuecomment-335128611

Also Rollup is not the only tree shaker out there, and while webpack's tree-shaking algorithm is worse than the one in rollup, it's usage is probably way higher than rollup's (both tools do excellent jobs ofc, I don't want t

[2017-11-09 20:32] herodrigues commented on #10441
@bvaughn, my project is buggy.
I just did a working example of a minimal Chrome extension setup using React and error boundaries.

![ezgif com-crop](https://user-images.githubusercontent.com/1832537/32628181-c89f1542-c573-11e7-981e-812fab9ff859.gif)

[2017-11-09 21:12] jquense commented on #11503
is tree-shaking going to _do_ anything in React's case, given that everything is preprocessed into a single flat bundle? I wonder what the primary import style is for React, personally i tend to treat it like a default export e.g. `React.Component`, `React.Children` but occasionally do the named thing with `cloneElement`

[2017-11-09 21:14] keithhalterman commented on #9546
Seeing this same error from users with IE 11
@KalpanaAr did you find anything to help solve this?

[code]

[2017-11-09 21:36] roippi commented on #6436
Unfortunately the presence of any non-passive listener can cause significant jank, even if there are no userland handlers actually hooked up to it.  Chrome will tell you about it at `verbose` log levels: `[Violation] Handling of 'wheel' input event was delayed for 194 ms due to main thread being busy. Consider marking event handler as 'passive' to make the page more responsive.`  (this is the top-

[2017-11-09 22:25] nickgcattaneo commented on #11417
I face this issue often when building controlled input's who rely on a record from state slice (such as an Immutable.Record via redux). I skip using something like defaultValue, because as my input changes, I dispatch various actions to update the record (which other components listen to, etc for various selections, calcs, etc) and ultimately the controlled value is 100% dependent on the value pro

[2017-11-09 22:53] iamdustan opened #11508 "Unnecessary re-rendering under bailed-out components when a legacy context provider and a deep child are updated in the same batch"
This issue is going to start off mostly theoretical as I’m still working to make a minimal repro case.

We have a scenario where one component is having `shouldComponentUpdate()` return false to bail out, but a child component is still having its `render` method called.

Avoiding many details this is roughly what we have:

[code]

While this case does work as expected it seems to be in the directi

[2017-11-10 02:34] mxmul commented on #9480
Lol, fair enough. I just think there's value (for some projects at least, depending on their stack) in being able to exclude unspecified defaultProps from a shallow snapshot.

Maybe my use-case is uncommon enough to warrant a custom enzyme adapter though ¯\\\_(ツ)\_/¯

[2017-11-10 05:24] lukastaegert commented on #11503
As @gaearon already stated elsewhere, size improvements in case of react are expected to be minimal. Nevertheless, there ARE advantages:
* React.Children might probably be removed in some cases (so I heard 😉)
* React itself can be hoisted into the top scope by module bundlers that support this. This could again remove quite a few bytes and might also grant an oh-so-slight performance improvement.

[2017-11-10 06:01] Sovanndarared1987 opened #11509 "Red01"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-11-10 07:58] #11509 closed

[2017-11-10 08:02] gaearon commented on #11508
You're leaving me in suspense 😀

[2017-11-10 08:08] gaearon opened #11510 "Warn when component has PropTypes rather than propTypes"
See https://github.com/reactjs/reactjs.org/issues/268#issuecomment-343402728.

Feels like an easy mistake to make, and easy for us to detect.

[2017-11-10 08:13] M-ZubairAhmed commented on #11510
hey can I take this ?

[2017-11-10 08:27] Vvtu opened #11511 "Textarea falls with an error in React16. It works fine in React15."

[2017-11-10 08:37] Vvtu commented on #11511
Sorry. Please delete this issue. It is my mistake.

[2017-11-10 09:00] blling commented on #11510
@M-ZubairAhmed  Just do it.

[2017-11-10 09:03] M-ZubairAhmed commented on #11510
could you please guide me to where to start with this issue? thank you

[2017-11-10 09:10] gaearon commented on #11510
Search the code for where we read `.propTypes` and add the check there.

[2017-11-10 09:11] #11511 closed

[2017-11-10 09:20] pygy commented on #5465
None of these solutions cancel Promises, which can be cancelled without any extension by absorbing a forever-pending promise.

[code]

[live here](https://flems.io/#0=N4IgZglgNgpgziAXAbVAOwIYFsZJAOgAsAXLKEAGhAGMB7NYmBvEAXwvW10QICsEqdBk2J4wAVzTViEegAIsGANYwAwhikwoGAEawAFAAcATrSwQ4MAJRzgAHTRy5sYnIzSIANxhyAvHOJjcRgAbgcnYxhicWNHe0cnOWoNai19G2B3GW8-OTAMKEt2cMSTMwsYRDky80t8YkImfRLEuU8C4L8APjcPHIB+No6fKr

[2017-11-10 09:24] M-ZubairAhmed commented on #11510
got it.

[2017-11-10 09:56] Tom910 commented on #11336
@gaearon  same problem. Maybe there is an opportunity to say to the react that it rerender this block?

Otherwise we will have to roll back to 15 react

[2017-11-10 10:34] gaearon commented on #11336
As it says in the documentation:

Hope this helps.

[2017-11-10 10:35] nitish24p commented on #11128
@gaearon Is the above case also expected, if on my client render i have a button click which does a `setState` and changes some value that were different in the original SSR, and the UI doesn't update?

[2017-11-10 11:06] gaearon commented on #11128
It's a bit hard to say without a minimal repro case.

[2017-11-10 11:26] rico345100 opened #11514 "Bunch of cannot find module errors from react-dom"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I didn't used any version specific features, but after react16, my react module failed to transpile with these errors:

[code]

You can reproduce this by learn this example with React 16(currently used react 15, so you have to upgrade): https://github.com/rico345100/react-multimedia-capture-example

**

[2017-11-10 11:40] gaearon commented on #11514
My guess is you updated only `react-dom` but not `react`.

Please update both packages and then restart the development server.

[2017-11-10 11:40] #11514 closed

[2017-11-10 12:59] rico345100 commented on #11514
No, I updated both. Also I just reinstall both(also removed from package.json), still get same version of react-dom@15.6.2.
If you are correct, why react didn't updated package version of react-dom?

[2017-11-10 12:59] hjylewis commented on #5465
@pygy Thanks for the reply!

Unfortunately, your solution still doesn't allow for Garbage Collection. You've essentially just rewritten @istarkov's solution which uses a conditional.

You can test this easily by dropping this implementation into [trashable](https://github.com/hjylewis/trashable) and running the tests (the garbage collection test fails).

Your implementation also fails to properly

[2017-11-10 13:43] gaearon commented on #11514
You can try creating a new project and running `npm install --save react react-dom`. You should get the 16 version for both. If you don't, you might be behind an outdated npm proxy.

I don't know why you can't update them in your project. But the 16 version of both packages *is* on npm (and has been for months) so please bring it up with npm if you keep running into issues.

I don't understand wha

[2017-11-10 15:24] piotr-cz commented on #1159
Change event is emitted in Chrome v62 when you wrap inputs by a `<form />` element.

[2017-11-10 15:43] gaearon opened #11516 "Unify linc and lint build tasks"
Currently these two tasks don't share any code:

* lint all (https://github.com/facebook/react/blob/master/scripts/tasks/eslint.js)
* lint changed (https://github.com/facebook/react/blob/master/scripts/tasks/linc.js)

We should make them share the code (using Node API like `linc` currently does) and move that shared code to `scripts/eslint`.

[2017-11-10 15:45] mcjazzyfunky commented on #11502
Okay I checked that in detail:
Result: *In my opinion this is not a bug!*

First: It's not a "React15 vs React16" thing but more like a "react.development" vs "react.production" thing.
Unfortunatelly, in those two JSFiddle examples above I've used the "production" modules for the React15 example and the "dev" modules for the React16 example.

If you use the React production modules, the example al

[2017-11-10 15:51] gaearon commented on #11502
Oh. I get it now. This is pretty subtle 😞

[2017-11-10 15:52] #11502 closed

[2017-11-10 16:43] gaearon commented on #11299
I merged two more PRs that deal specifically with `SyntheticEvent`s. If you took any related tests, please check them out and try to match in style and approach: https://github.com/facebook/react/pull/11365 and https://github.com/facebook/react/issues/11299

[2017-11-10 17:26] sjy commented on #11516
I am interested in this beginner-friendly  issue. I will make a pr asap;

[2017-11-10 18:10] sjy commented on #11516
Please review the PR https://github.com/facebook/react/pull/11518

[2017-11-10 19:33] kotAPI commented on #11510
is this done?

[2017-11-10 19:38] gaearon commented on #11510
It's taken by @M-ZubairAhmed.

[2017-11-10 19:51] gaearon opened #11519 "Consider including directory name into the stack trace for some files"
See https://twitter.com/deadcoder0904/status/929050109425229824

Maybe if the file is called `index.js` (pretty common with some directory structures) we should include the directory name into the short component stack trace.

[2017-11-10 19:52] gaearon commented on #11519
Not sure how well that would work but I'd love to see an example. You'll need to change `describeComponentFrame()` if I recall correctly.

[2017-11-10 20:11] xjlim commented on #11519
@gaearon I'd like to work on this.

[2017-11-10 20:34] gaearon commented on #11519
Sounds good, it's yours!

[2017-11-10 21:01] gusdaud opened #11520 "Are React v16 props frozen or sealed ?"
I've being trying to update my application to React 16 but I'm getting this error message in Chrome:
[code]

My pseudo code is currently like this:
[code]

I've noticed that the error happens only the second time render is run.

Also if I test in the debugger `Object.isFrozen(this.props)` inside the render method I'm getting `true` as return.

Which means that `this.props.theme.font` is frozen by

[2017-11-10 21:27] vamshi2000 commented on #11520
Can you please look in to this Syntax
fontFamily: '"Helvetica Neue"     ---> i see one extra ' .

[2017-11-10 21:35] travi commented on #11520
i finally tracked down my issue of trying to upgrade from v16.0.0 to v16.1.0 to a similar issue. in my case, i have a unit test that is trying to stub `renderToStaticMarkup` on `react-dom/server` using [sinon](http://sinonjs.org/), but i see that the export from `react-dom/cjs/react-dom-server.node.development` is frozen as :

[code]

is this frozen intentionally? if so, is there a suggested work

[2017-11-10 21:49] gusdaud commented on #11520
@vamshi2000 this is a typo while I was writing the pseudo code but the actual syntax is correct.

@travi I took a while to figure too and the deal is that it spreads! even strings are copied as reference and frozen so it prevents future modifications in the destination object.

Overall, inspite it may give performance gains I think freezing takes more than it adds.

React team, what’s your thought

[2017-11-10 22:01] travi commented on #11520
it appears to not be frozen in [the source](https://github.com/facebook/react/blob/13c491a8282cb102c40d4ed74738ebebe7901a5f/packages/react-dom/src/server/ReactDOMServerNode.js#L17-L22), so i assume that it gets added by the transpilation?

[2017-11-10 22:21] patsissons opened #11522 "Cannot disable form submission using onSubmit handler"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
it is not currently possible to prevent form submission using the `onSubmit` handler

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
sample code at https://codesandbox.io/s/jpx80rj6vy

**What is the expected behavior?**
`form`

[2017-11-10 22:28] gaearon commented on #11520
I don't necessarily think the issue described by OP and the issue in https://github.com/facebook/react/issues/11520#issuecomment-343593640 are related.

Could each of you please create a minimal example reproducing it?

https://github.com/facebook/react/issues/11520#issuecomment-343593640 is definitely caused by Rollup transpilation. We can fix it by changing the server bundle entry points like `R

[2017-11-10 23:26] travi commented on #11520
thanks for the quick response. i can try to get a repro together tonight and see if i follow your suggestion well enough to put a quick PR together too. i'm pretty sure i follow, but will look a little deeper once i have a little more time to confirm.

since you think these are unrelated to each other, would you rather i create a separate issue to simplify tracking each one?

[2017-11-10 23:57] gaearon commented on #11520
Yes please.

[2017-11-11 01:57] rico345100 commented on #11514
@gaearon Thanks, I didn't know that react-dom also released new version because every time reinstall react-dom from npm gives me 15.6.2. I installed 16.1.0 manually and now it works.

[2017-11-11 04:00] travi opened #11526 "Transpilation in v16.1.0 freezes the react-dom/server interface"
As initially reported in https://github.com/facebook/react/issues/11520#issuecomment-343593640, attempting to upgrade from v16.0 to v16.1 caused a test that was previously working to fail. The test was using [sinon](http://sinonjs.org/) to stub `renderToStaticMarkup` on `react-dom/server` and v16.1 results in the following error:

[code]

the export from `react-dom/cjs/react-dom-server.node.develo

[2017-11-11 04:01] travi commented on #11520
i split out https://github.com/facebook/react/issues/11526

[2017-11-11 04:55] travi commented on #11526
a reproduction is available at https://github.com/travi/react-dom-frozen

[2017-11-11 08:59] mweststrate opened #11527 "RFClarification: why is `setState` asynchronous?"
For quite a while I've tried to understood why `setState` is asynchronous. And failing to find an answer to it in the past, I came to the conclusion that it was for historical reasons and probably hard to change now. However @gaearon indicated there is a clear reason, so I am curious to find out :)

Anyway, here are the reasons I often hear, but I think they can't be everything as they are too eas

[2017-11-11 09:44] bonusrk commented on #11522
Doesn't `e.preventDefault(`) make this job?
[code]

[2017-11-11 10:45] Kaybarax commented on #11527
We're all waiting @gaearon .

[2017-11-11 10:49] mweststrate commented on #11527
@Kaybarax Hey, it's weekend ;-)

[2017-11-11 10:52] Kaybarax commented on #11527
@mweststrate Oh! my bad. Cool.

[2017-11-11 12:11] gaearon commented on #11526
Here is how to fix it: https://github.com/facebook/react/issues/11520#issuecomment-343604002

Happy to take a PR for this.

[2017-11-11 14:07] monkindey opened #11529 "Add function name for breakpoint tracing"
**Do you want to request a *feature* or report a *bug*?**

Maybe Feature

**What is the current behavior?**

I am interesting in what happen in React Fiber, and try to use breakpoint to trace React render function. I found the call stack has `(anonymous)` function name, it was made by [below](https://github.com/facebook/react/blob/v16.1.0/packages/react-dom/src/client/ReactDOM.js#L746-L748)

[code

[2017-11-11 14:09] gaearon commented on #11529
Happy to take a PR for this but I don't think it's too important. All important functions are named. I can't come up with a non convoluted name for this callback though so I'd just leave it like this.

[2017-11-11 14:09] #11529 closed

[2017-11-11 14:17] monkindey commented on #11529
Thanks for quick reply. BTW, Any plan about [Implementation note](https://reactjs.org/docs/implementation-notes.html) for Fiber 😃. The stack one is awesome, It would great if React team elaborate the Fiber.

[2017-11-11 14:55] travi commented on #11526
I hope to put a PR together for this sometime today/tonight. I just ran out of time last night

[2017-11-11 15:09] DominikSerafin commented on #10441
Same issue here.

Webpack+React always throws `Error: A cross-origin error was thrown. React doesn't have access to the actual error object in development.`.

Tried `devtool: 'cheap-module-source-map'`

Tried
[code]

Tried

[code]

Tried crossorigin script tag

Nothing works

[2017-11-11 17:51] rnemec commented on #9513
Is there a place we can vote for this?

[2017-11-11 17:52] gusdaud commented on #11520
I couldn't reproduce the issue on a fiddle that I've created: https://jsfiddle.net/wro6hcrd/
so mine may have being caused by something else. I'll investigate it further.

Thanks so far,

[2017-11-11 17:52] #11520 closed

[2017-11-11 19:23] aqumus commented on #11299
@gaearon For `EventPluginRegistry-test.js`, could you redirect me to some similar sample tests(which uses public API) or guide me to how exactly I could rewrite existing test interms of public API
I had gone through the code and rougly understood that it registers the plugin module and maintains the pluginOrder array but I am not sure how could I test this functionality with the use of public API.

[2017-11-11 20:43] baharev opened #11530 "Not touched, and not clicked component gets a ghost mousedown event"
The deployed (minimal, trimmed down) app is at:

http://www.baharev.info/sandbox/eventbug/

and the entire source code is at:

https://github.com/baharev/eventbug

Clicking or touching either square should make the clicked / touched square disappear, but only that square. Everything works as intended on my desktop machine both in Chrome and in Firefox. It also shows the correct behavior in Safari

[2017-11-12 01:48] milesj commented on #11527
I'm gonna go out on a limb here and say it's because of batching multiple `setState`s in the same tick.

[2017-11-12 11:12] cvlmtg opened #11532 "inline style with decimal numbers"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

If the style prop is passed a decimal number, react converts the dot in a comma, resulting in an invalid css value. I suspect this might be due to my locale being different from english, but the behavior should be the same irregardless of the user's locale (and the conversion is correct if I use `Str

[2017-11-12 11:50] gaearon commented on #11520
I think what's happening is that you're passing `styles.container` as a `style` to some DOM element.

[code]

In this case of course it is **not** allowed to mutate it later:

[code]

You are not allowed to mutate objects you pass as styles to React because then the style will be different between re-renders. This is very hard to debug and was a common source of bugs before we started freezing sty

[2017-11-12 11:55] gaearon commented on #11520
Note that the above comment is about freezing *style objects* (new in 16 but mutating has been deprecated earlier). It is not about freezing *props*.

Props have been frozen since React 0.14 (two years ago). Freezing doesn't work recursively. Only the `this.props` objects get frozen, not the objects you put *in* props (again, with the exception of the objects that end up as styles). This is **not*

[2017-11-12 12:01] gaearon commented on #11527
I'm going on vacation next week but I'll probably go on Tuesday so I'll try to reply on Monday.

[2017-11-12 12:43] aqumus commented on #11299
@gaearon For `EventPluginRegistry-test.js`, how should we rewrite test using public API, I see that we are injecting default plugins in ReactDom.js -> ReactDOMClientInjection.js
{
  SimpleEventPlugin,
  EnterLeaveEventPlugin,
  ChangeEventPlugin,
  SelectEventPlugin,
  BeforeInputEventPlugin,
}

So how exactly we could inject our test-mocked plugin and test the `EventPluginRegistry` functionality

[2017-11-12 13:56] gaearon commented on #9513
We don't design APIs based on a number of votes 😉 That would not produce a very good design.

We're very well aware of this feature request. But it needs to be considered as part of a larger component API redesign. We will likely start thinking about this again in 2018. We'll share our ideas when we think we have something that might be a viable direction.

[2017-11-12 13:58] gaearon commented on #11529
Eventually. :-)
Unless somebody else writes that up before us.

[2017-11-12 13:59] gaearon commented on #11532
Nice find. Definitely seems like a bug.

[2017-11-12 13:59] gaearon commented on #11532
Did this work in React 15.x?

[2017-11-12 14:14] sjy commented on #11532
I'd like to make a pr for this bug.

[2017-11-12 14:29] #11419 closed

[2017-11-12 16:27] gaearon commented on #11530
Have you tried to write similar code without React to determine if this is reproducible with just DOM APIs?

[2017-11-12 16:30] baharev commented on #11530
No, sorry, I haven't. I am a beginner, just learning these things in my free time.

[2017-11-12 16:52] cvlmtg commented on #11532
@gaearon not sure about react 15.x, I should do a test. I found it on an app I've started developing recently, so it used react 16.x from day one.

@sjy

[code]

[2017-11-12 17:10] cvlmtg commented on #11532
@gaearon I've modified my previous fiddle to include react 15.6.x instead of react 16.x

https://jsfiddle.net/ab4zx24r/4/

it seems the bug is still there (plus the deprecation message about passing a value as a string)

[2017-11-12 21:51] imakatman commented on #1159
theres an onInput event handler that will grab the value of an input field if it changes.

[2017-11-12 22:00] RusinovAnton opened #11537 "Getting warning about unique "key" prop despite it being added correctly."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
As reported in https://github.com/RusinovAnton/react-select3/issues/3, when using my library with React v16 there is error:
[code]

**Demo**
https://codesandbox.io/s/4jnxzxwkp9
Steps to reproduce:
- Go to demo on codesandbox
- Try to choose some option
- See console - there is an error :(

[here](https

[2017-11-13 03:54] fritz-c opened #11538 "Make React resilient to DOM mutations from Google Translate"
**Do you want to request a *feature* or report a *bug*?**

Bug, though there's a decent chance it's a Chrome/Google Translate one

**What is the current behavior?**

When using Google Translate on a page using React 16, a certain code pattern produces a Javascript error (`Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`) when the rendered content chan

[2017-11-13 04:50] clemmy commented on #11538
Thanks for the report - I can also reproduce this bug.

[2017-11-13 05:08] clemmy commented on #11537
Do you think you can isolate the bug a bit more? For example, output the contents of `optionsList ` at this [line](https://github.com/RusinovAnton/react-select3/blob/f01c9ef14d1029f90b2bc4f2686bfb4f9e41c1af/src/components/SelectOptionsList.js#L42).

[2017-11-13 06:57] Ogglas opened #11539 "input type=checkbox not rendered correctly if nested in html a-tag"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I have a peculiar problem with using a html `a`-tag with `input type=checkbox`  from React. The thing is that if I click directly on the checkbox and not the `a`-tag the checkbox will not re-render correctly but my state has updated.

Example: Given the code below I render the component and click dir

[2017-11-13 07:00] #11488 closed

[2017-11-13 10:04] dkaus1 commented on #10958
Can you please tell me the solution to this issue ? I am getting the same error while running the app on IE 10 while it running perfectly fine with IE 11 and above. React version 16 we are using in our application. Prompt response will be really appreciated.

[2017-11-13 10:43] giorgim opened #11540 "Why I don't get keys warning in this case?"
Below example generates three buttons based on state (which can change).
Why I don't get warning that I should use keys?

[code]

PS. If I uncomment the lines with `map` function I do get that warning though. Why I don't get this warning in first case? (how does it know without keys  that two buttons -3 and 4 - which are going to be rendered after setTimeout are now different - from 1 and 2 -?)

[2017-11-13 10:56] gaearon commented on #11540
Because you put elements in specific "holes" in a statically known JSX structure. React knows these divs can't possibly reorder (think about it—how would you sort them without changing the code?). Therefore it is safe to implicitly key them by their index.

[2017-11-13 10:56] #11540 closed

[2017-11-13 10:59] gaearon commented on #10958
When you update a major version, we encourage you to read the release notes. Otherwise you won't know which other things have broken. :-)

The release notes for 16 point out the new baseline which we are targeting. We also have a dedicated page that mentions it:

https://reactjs.org/docs/javascript-environment-requirements.html

Hope it helps!

[2017-11-13 10:59] giorgim commented on #11540
@gaearon I think I got you, so in this case react still attached the keys though implicitly?

[2017-11-13 11:02] gaearon commented on #11540
Kind of. Whether React really attaches the key or not is an implementation detail, but it behaves as if they keys were set to the child indexes in this case. Again, this is only safe because it knows they can never reorder.

[2017-11-13 11:04] gaearon commented on #11538
Could be related? https://github.com/facebook/react/issues/9836

[2017-11-13 11:06] giorgim commented on #11540
@gaearon I think I got it now will come back to it later though. For some reasons I could not answer this myself even after having read the docs

[2017-11-13 11:07] dkaus1 commented on #10958
Thanks Dan, But I have already included babel-polyfill  version 6.26.0  to my react code.  Still the issue persists.

[2017-11-13 11:09] gaearon commented on #10958
You probably included it after ReactDOM loads rather than before. It should go before any other code in your app entry point.

[2017-11-13 11:25] gaearon commented on #11540
The docs don't really mention it, but then it's also a bit of an obscure corner. People don't often ask about this.

[2017-11-13 11:49] giorgim commented on #11540
@gaearon Yeah but I don't like to take things for granted, rather understand how it really works.

[2017-11-13 13:08] theREALdebater commented on #2816
This issue needs to be re-opened and taken seriously. I think it is a _major_ deficiency in React! There are cases where the elements of an array _cannot_ sensibly be assessed for re-rendering individually. This occurs when a change of props or state is more likely to cause elements of the array to be inserted, omitted, or re-ordered (instead of just being changed in place). In these cases, it is

[2017-11-13 13:11] nhunzaker commented on #11539
This appears to be browser native behavior:
https://codepen.io/nhunzaker/pen/WXONQK

I'm not sure there's anything React can do here. Additionally, I'm curious about using an anchor tag in this way. What if you used a label?

[code]

This prevents the need to prevent the default action for the anchor tag. Using a label ensures that clicking "show map" will activate the checkbox. It also helps out

[2017-11-13 13:29] gaearon commented on #2816
I’m not sure I understand what you’re saying.
An example would be helpful.

This is exactly the case where specifying keys is important. Keys let React figure out what was inserted/moved/deleted instead of trying to update everything in place.

[2017-11-13 13:30] gaearon commented on #11540
You can always ask here. 😉
For more technically minded users we’re always happy to provide insight into how things really work.

[2017-11-13 13:52] #11526 closed

[2017-11-13 13:54] gaearon commented on #11526
So, I'm not super happy with this solution, but it seems easier to do this now and maybe break this in 17.

Longer term I would encourage you to use mocking solutions that don't require monkeypatching public APIs, if possible. This would break when Node ships ES modules and React offers an ES module version anyway.

[2017-11-13 13:56] gaearon commented on #11539
Yeah, it doesn’t seem like React is doing anything wrong here.

[2017-11-13 13:56] #11539 closed

[2017-11-13 14:07] gaearon commented on #11537
You are using [these two transforms](https://github.com/RusinovAnton/react-select3/blob/f01c9ef14d1029f90b2bc4f2686bfb4f9e41c1af/rollup.config.js#L48-L49) in a development build of your library.

They are **not** suitable for development, and may produce false positive warnings. Babel documents this, but not consistently: https://github.com/babel/babel/issues/6813.

Please remove them from the dev

[2017-11-13 14:07] #11537 closed

[2017-11-13 14:09] gaearon commented on #11522
The answer above is correct. React does not support returning `false` from event handlers for this purpose. Please be explicit about what you're trying to do (stop propagation, prevent default, or both).

[2017-11-13 14:09] #11522 closed

[2017-11-13 15:33] travi commented on #11526
Thats a very valid point, but I really appreciate the understanding to keep this working for the time being.

As a testing advocate, this is what caught my eye about the static nature of es module imports early on and I'm really surprised that I haven't seen more concern about it from the js testing community (likely because tools like babel have insulated things enough that it hasn't been forced

[2017-11-13 15:41] rnemec commented on #9513
Thanks, Dan. Sorry for letting my impatience seep through 😄

[2017-11-13 15:58] gaearon opened #11544 "Ignore system directories in the build script"
Just noticed that running `./scripts/release/build.js -v 16.1.1` gives me:

[code]

We should ignore system directories there.

[2017-11-13 16:01] gaearon commented on #11526
In case of React, people commonly use Jest which implements its own module system and can `jest.mock()` anything. I guess that more or less helps with this problem.

[2017-11-13 16:08] HardikModha commented on #11544
Hi..Can I pick this?

[2017-11-13 16:08] skiritsis commented on #11544
Hey, I'd like to take a look and submit a PR for this issue.

[2017-11-13 16:10] gdevincenzi commented on #11299
I fear I'm way over my head on `ReactTreeTraversal-test.js`
If anyone else wants to give it a shot, feel free to do so.

[2017-11-13 16:12] bonusrk commented on #11530
I can try to handle it, if nobody do it before.

[2017-11-13 16:20] gaearon commented on #11526
The fix should be out in 16.1.1.

[2017-11-13 16:21] gaearon commented on #11419
Should be out in 16.1.1.

[2017-11-13 16:26] travi commented on #11526
interesting. i have not tried `jest` since the days when it was really slow since i've been pretty happy with the combination of `mocha`, `chai`, `jsdom`, `enzyme`, and `sinon`, but i have not found a solution in that mix for handling truly static imports yet.

i've been holding off on `jest` for the time being until i found a feature that truly set it apart. managing its own module system to keep

[2017-11-13 16:27] gaearon commented on #11299
@aqumus

`EventPluginRegistry` is tricky. I guess the first step would be to figure out where it is actually being used. You're right that the tap event plugin is the only one we *sort of* still commit to supporting. Conveniently we have it right in the repo. So maybe we can add a test that it specifically works?

It is also likely that RN uses `EventPluginRegistry`. Do we have any tests verifying

[2017-11-13 16:29] gaearon commented on #11299
Also, I'm going to be away this week, but please don't let this stop you from continuing on this. Hope to get a few more submitted PRs merged next week.

[2017-11-13 17:07] gaearon commented on #11544
@HardikModha was first :-).

[2017-11-13 17:07] gaearon commented on #11516
Fixed in https://github.com/facebook/react/pull/11518.

[2017-11-13 17:07] #11516 closed

[2017-11-13 17:12] gaearon commented on #11530
@bonusrk

If you'd like to help please try to create a reproducing case without React. Then we can see if it's React causing the issue or not.

[2017-11-13 17:15] sw-yx commented on #9866
Tagging @clemmy - do you think @Zephir77167 and I have the right understanding of how to flesh out this fixture?

main things we want to confirm:

1. Is what i laid out in my PR and gif useful for the fixture?
2. Sebastian specified a -lot- of things to have, should we do a tab system to avoid having a super long page, or would that be a bad idea because we are trying to do SSR?

thanks

[2017-11-13 17:22] gaearon commented on #11503
This is also an interesting case: https://github.com/facebook/react/issues/11526. While monkeypatching for testing is a bit shady, we'll want to be conscious about breaking this (or having a workaround for it).

[2017-11-13 17:22] maxschmeling commented on #11419
I have confirmed that updating `react-dom` to 16.1.1 fixes the issue in my project. 👍

[2017-11-13 17:25] baharev commented on #11530
@gaearon I already asked the same question at StackOverflow. Someone has tried to reproduce the bug with jQuery only, although all attempts have failed so far.

https://jsfiddle.net/3efsgd8z/3/

However, I am not sure whether the two approaches are comparable; failing to reproduce this bug with jQuery only does not mean the bug is not in Chrome.

[2017-11-13 17:29] HardikModha commented on #11544
Thanks, @gaearon. This will be my first Open Source Contribution.  So, Can you suggest me where should I start? Do I need to make the change in `utils.js` and exclude the system files before doing `JSON.parse`?

[2017-11-13 17:29] sw-yx commented on #11299
i can take `ReactTreeTraversal-test.js` - its an unfamiliar API but seems like a good opp to learn it. advice welcome @gdevincenzi

[2017-11-13 17:34] dkaus1 commented on #10958
It worked !! Thanks for prompt response .

[2017-11-13 18:08] gaearon commented on #11530
We should try to repro with vanilla DOM API.

[2017-11-13 18:16] bonusrk commented on #11530
So here it is:
https://github.com/bonusrk/nonReact-test

Thats what i've found:
As we know, ontouchstart invokes before `click` and `mousedown` events.

As i investigated `mousedown` invokes very fast after `ontouchstar`t, and this second event invokes on current mouse position, so if we move mouse pretty fast from the block, the second block will not be deleted.

If we just touch first block, we

[2017-11-13 18:17] HardikModha commented on #11544
@gaearon I've pushed a commit to fix the issue. Thank you for giving me the opportunity. This is my first ( 🎉 ) little Open Source Contribution.

[2017-11-13 18:20] gaearon commented on #11530
Seems like it's not a React bug then?

[2017-11-13 18:21] gaearon commented on #11544
Thanks for sending the fix!

[2017-11-13 18:21] #11544 closed

[2017-11-13 18:24] gaearon commented on #9866
I'm going on vacation so can't review but I'll ask somebody to follow up.

[2017-11-13 18:24] bonusrk commented on #11530
Yes sir, i can say even more-it is chrome specific problem, i think.

[2017-11-13 18:54] RusinovAnton commented on #11537
Thanks, Dan Abramov.

[2017-11-13 19:21] baharev commented on #11530
This vanilla JS solution behaves differently in Safari (on iPhone) than the React solution: Both squares disappear in Safari with this JS implementation whereas the React solution works the way I wanted it to work. Strange.

[2017-11-13 19:30] bonusrk commented on #11530
It is well known safari event flow-you need to use both `prevenDefault` and `stopPropagation` to make safari make thing in your way. And it ia also seems to be browser-specific problem.

[2017-11-13 20:01] baharev commented on #11530
@bonusrk I am sorry, I am completely lost at this point. Why is this line:

https://github.com/bonusrk/nonReact-test/blob/7675c19a97bd9cc6d8d8b7dcefef0d9f2c99f42b/script.js#L30

 in comment?

In my React code I do call `e.preventDefault()` on touch start. And if I move that line out of comments in your code, then the bug disappears too. Sorry, I am afraid I do not understand something here: As I s

[2017-11-13 20:19] visualfanatic commented on #11423
@gaearon the `<noscript>` spec doesn't say anything about supporting string only, could you explain a little bit more why are you going in the string-only direction?

[2017-11-13 20:21] bonusrk commented on #11530
I've commented it to let this bug happens, to show   that bug appears in vanilla js. And yes, if uncomment lines bug will disappear.

[2017-11-13 20:22] gaearon commented on #11423
I think we should just do this:

[2017-11-13 20:51] evan-scott-zocdoc opened #11547 "stopImmediatePropagation is not available for synthetic events"
In order to call this method, you'd have to access it via `event.nativeEvent.stopImmediatePropagation()`: https://developer.mozilla.org/en-US/docs/Web/API/Event/stopImmediatePropagation

It'd be awesome if this was supported on `event` itself. I did see a [prior issue](https://github.com/facebook/react/issues/1734) for this, but it was for a use case that sIP wasn't required for.

For a specific u

[2017-11-13 21:03] jquense commented on #11547
I think sIP method on the Synthetic even would just prozy to `event.nativeEvent.stopImmediatePropagation` since there isn't anything in the Synthetic event system that would change or need to be implemented, given that components only ever have one handler per event anyway. I wouldn't be opposed to adding it as a convenience but I do think it hides the fact that sIP isn't supported over all React'

[2017-11-13 21:21] baharev commented on #11530
I agree that the vanilla JS code indeed demonstrates a bug. The green square must not receive the events of the blue square, but it does. This is a bug in Chrome.

What still confuses me is that in my React code I do call `e.preventDefault()` on touch start, so the mouse down event should not fire. In the vanilla JS code it indeed stops the bug, but in React it does not. Why?

[2017-11-13 21:47] oxlay commented on #11532
I tried but could not reproduce this on macOS 10.12.6, with Chrome 62 and Safari 11.0.1, even after changing the locales to those you suggested @cvlmtg. Could this be a High Sierra-related bug?

[2017-11-13 21:54] gaearon commented on #11532
Regardless, worth checking how we serialize string values, and then google if locale can affect those methods. :-)

[2017-11-13 22:29] clemmy commented on #11423
I'll take this one

[2017-11-13 22:33] evan-scott-zocdoc commented on #11547
![screen shot 2017-11-13 at 5 33 11 pm](https://user-images.githubusercontent.com/25586630/32752857-be51302a-c898-11e7-8e7e-6819239f4849.png)

[2017-11-13 22:55] JamesTheHacker commented on #11409
There is a way to do it, but it's not pretty: https://jaketrent.com/post/react-error-boundaries-event-handlers/

[2017-11-14 00:14] theREALdebater commented on #2816
My apologies, I think I didn't explain it very well. Supposing my SPA is an ELIZA-like program (a trivial psychologist simulation). There are two areas on the page: one is a text box that allows the user to enter a message; the second is a paragraph containing ELIZA's reply. The reply is a sequence of words forming a plain English sentence, but some of the words are to be in bold. I want to declar

[2017-11-14 00:22] clemmy commented on #11379
@tobiasandersen Got it. Looks like a legitimate problem - I'll look into it.

[2017-11-14 00:39] aweary commented on #2816
@theREALdebater React doesn't require you to key text nodes, so you only need to add keys to the `span` elements in that example. If the array of elements is totally static you can just set the key to a random value or use a simple counter.

Alternatively, there is an API that will automatically key an array of elements. [`React.Children.toArray`](https://reactjs.org/docs/react-api.html#reactchild

[2017-11-14 01:42] aweary opened #11549 "Add validation to the React.Children helpers"
Currently helpers like `React.Children.toArray` will not validate the passed elements, so things like missing keys go unnoticed.

See the discussion in https://twitter.com/sebmarkbage/status/930239051092803585 (I deleted the original tweet) for more context

[2017-11-14 02:30] nhunzaker commented on #9866
Took a pass in #11451. As for your questions:

1. I think this is great. As a comparison, we have a standard format for fixtures in the [DOM test fixtures](https://github.com/facebook/react/tree/master/fixtures/dom). (example [here](http://react-dom-test-fixtures.surge.sh/)), but I don't think that should necessarily prescribe the approach you take.
2. Using state to manage the tabs would circumve

[2017-11-14 05:33] bonusrk commented on #11530
No problems, man. I'll try to investigate this part in React-based code only, not just emulate it in vanila part.

[2017-11-14 06:41] nafisahmedkhan9 opened #11551 "Can not rendered UI with react and react-dom 16.1.1"
This is my code:

[code]

Error is on browser:
[code]

[2017-11-14 06:44] nafisahmedkhan9 commented on #11551
In ReactDOM.render((
       <Router history={hashHistory}>
        <Route exact path='/' component={Layout}>
            <Route exact path='/featured' component={Featured}/>
            <Route exact path='/archives/:id' name='archives' component={Archives}/>
            <Route exact path='/settings' name='settings' component={Settings}/>
            </Route>
    </Router>
),document.getElementById

[2017-11-14 06:45] nafisahmedkhan9 commented on #11551
i have used this code in reactDom.render

<Router history={hashHistory}>
        <Route exact path='/' component={Layout}>
            <Route exact path='/featured' component={Featured}/>
            <Route exact path='/archives/:id' name='archives' component={Archives}/>
            <Route exact path='/settings' name='settings' component={Settings}/>
            </Route>
    </Router>

[2017-11-14 08:26] InvincibleJun opened #11552 "how to not render some root tag?"
like：
{ mistake &&
    （<div>
           test
           <span>2</span>
           <span>1</span>
        </div>
      ）
}
I do not want to render div tag,how to do ？

[2017-11-14 08:55] TryingToImprove commented on #11552
You can make it an array instead - just remember to specify key's

[code]

[2017-11-14 09:18] InvincibleJun commented on #11552
thanks . ahhh

[2017-11-14 09:24] jimuyouyou commented on #7093
In our case(React 15.3.0), this is caused by invalid html markup, such as '<a>hello</a></div></table>', which has incorrect ending as '</div></table>'. We use https://www.npmjs.com/package/react-render-html to replace dangerouslySetInnerHTML as a work around, and it works fine.

[2017-11-14 09:28] cvlmtg commented on #11532
@oxlay could it be related to the OS language rather than the browser config? as soon as I have some spare time I'll try to set the browser config to just plain english and see if I still have the same bug.

[2017-11-14 10:09] gaearon commented on #11551
Your code is probably reading `React.PropTypes` somewhere. They have moved to a separate package.

https://reactjs.org/blog/2017/04/07/react-v15.5.0.html#migrating-from-reactproptypes

[2017-11-14 10:09] #11551 closed

[2017-11-14 10:35] askoretskiy commented on #11502
Thanks, guys. I was using `Map.values` method that returns iterator instead of list.

Should results of this discussion be part of an official React documentation? Or I should fill another issue for this? It would be helpful to see the difference between DEV and PRODUCTION modes, see if iterators are supported and how to work-around for DEV.

[2017-11-14 10:35] jimyaghi opened #11553 "Non-Passive event warnings when any <select> component is clicked"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
The following console warning is emitted every time a `<select>` input is clicked:

`[Violation] Added non-passive event listener to a scroll-blocking 'mousewheel' event. Consider marking event handler as 'passive' to make the page more responsive. See https://www.chromestatus.com/feature/57455437959

[2017-11-14 10:37] gaearon commented on #11502
Is it possible for us to warn if you pass the wrong thing, somehow? I agree it's confusing. On the other hand, it's good that it ends up being broken in development mode because at least in this case you notice. It would've been worse if it worked in development but broke in production.

We could document it but I don't see a good place. If you have ideas please raise it on the docs repository.

[2017-11-14 11:01] askoretskiy commented on #11502
@mcjazzyfunky Could you please provide the source code of this `Seq` class? I try to develop it myself (with "filter", "map", "reduce" etc.) but it seems not that easy )

[2017-11-14 11:39] bonusrk commented on #11530
Well, i represented everything i could here:
https://github.com/bonusrk/nonReact-test . (vanilla code placed to /public)

[code]
As we can see, MouseEvent captures event preventions, but ToucheEvent doesnt, even i tried both event types prevention- on synthetic event and native.event

[code]

@gaearon btw, it seems to me that this issue have some relations with [11547](https://github.com/facebook/

[2017-11-14 11:45] askoretskiy commented on #11502
Example of this Seq implementation:

[code]
Result:

[code]

[2017-11-14 14:06] johnunclesam opened #11554 "Is there something like emberobserver.com?"
Is there something like https://www.emberobserver.com for React world?

[2017-11-14 14:24] bonusrk commented on #11554
Maybe this one can help:
https://github.com/facebook/react/wiki/Complementary-Tools

[2017-11-14 15:13] mkascel commented on #11106
The use case where I'm running into is hooking into `componentWillUnmount` of one component to fire a cleanup action/set a flag to reset a part of the Redux state tree before showing another component that is also connected to that state.  The [official docs](https://reactjs.org/docs/react-component.html#componentwillunmount) explicitly recommend use of this hook as cleanup (leaving aside the fact

[2017-11-14 15:38] mcjazzyfunky commented on #11502
@askoretskiy: I really like your Seq implementation.
If you also like to see some other implementations (as you have asked):

- Have a look at the Seq class in Facebook's "Immutable" library:
http://facebook.github.io/immutable-js/docs/#/Seq
Unfortunatelly (AFAIK) it does not have something like "Seq.from(function * ()  {....})" yet.
But it's not a big deal to add that - maybe a you could open a f

[2017-11-14 15:56] trueadm commented on #11553
@jimyaghi Hi, I've just tried out the Codepen on Chrome 62 and I don't see this issue in the console. I've tied on both Windows and Mac and neither show for me.

[2017-11-14 16:19] sjy commented on #11532
I have go through the related code,  [CSSPropertyOperations](https://github.com/facebook/react/blob/HEAD/packages/react-dom/src/shared/CSSPropertyOperations.js), it seems the problem has nothing to do with react-dom or react itself.
Besides, I found a interesting issue of Electron reporting the similar issue caused by specific version of Chromiums ; [Decimals numbers in styles are formatted incorr

[2017-11-14 16:49] skiritsis commented on #11553
@trueadm Make sure to check the "Default levels -> verbose" in your Console.
I believe this is related with https://github.com/facebook/react/issues/6436.

[2017-11-14 16:59] trueadm commented on #11553
@skiritsis I'm not sure how I missed that option. Thanks! I'm not sure there's a simple fix for this unless we employ some of the ideas from https://github.com/facebook/react/issues/6436.

[2017-11-14 17:28] oxlay commented on #11532
I reviewed the relevant code as well and couldn't find any part that may be problematic.

However I finally managed to reproduce the bug by launching Chrome from the CLI (thanks @sjy for the findings, that led me in the right direction). From my tests, it looks like that the bug is not related to the OS language setting but rather to the LANG environment variable :

- When `LANG` is set to `en_US.

[2017-11-14 17:32] askoretskiy commented on #11502
@mcjazzyfunky Thanks, I may extend my implementation with some new tricks ))

Yes, one could write really lean code if he opts in to use ES2015.

[2017-11-14 18:10] jimyaghi commented on #11553
You guys are absolutely right. It looks like there's discussion around this already. Sorry!

[2017-11-14 18:30] theREALdebater commented on #2816
I very much appreciate the responses. I like the idea of the `AtomicText` component, and I'll probably use this technique.

I would suggest, however, that it doesn't resolve the fundamental issue, that sometimes there is a component for which it is inappropriate for React to be checking individually on the need to update the (real) DOM for each of its sub-components. Instead, it makes more sense t

[2017-11-14 18:37] syranide commented on #2816
If you key the outer component and update the key on every change, then you would get this behavior.

[2017-11-14 18:51] clemmy commented on #2816
@aweary I thought it was a [bug](https://github.com/facebook/react/issues/11549) that the elements passed in aren't validated? Maybe I'm misunderstanding something.

[2017-11-14 19:02] aweary commented on #2816
@clemmy yes we discussed this after I made that comment and came to the conclusion that the behavior of `React.Children.toArray` skipping key validation is a bug, so @theREALdebater I don't recommend using that approach anymore.

Keying the parent component to force reconciliation as @syranide seems like the simplest solution to what you want in general @theREALdebater. For the array/key issue I w

[2017-11-14 19:11] clemmy commented on #2816
Ah, got it 🙂

You'd be able to do something like:

[code]

but I don't think that solves the problem of wanting to use an array without keying.

[2017-11-14 19:51] davidrenne opened #11556 "overflowX "none""
Hi there, I just spent a half hour realizing that I was passing the string of "none" to an overflowX and there was no warnings or logs in my JSX for a style I was passing invalid.  It simply removed it from my inline styles with no warnings or errors.

I would like to send a pull request to react to help with this and add logging for developers who accidentally pass an invalid string to warn them

[2017-11-14 20:36] ivancsicsmarkus commented on #11554
maybe:

https://github.com/search?o=desc&q=react&s=stars&type=Repositories&utf8=%E2%9C%93

[2017-11-14 20:40] sw-yx commented on #11554
meh, both of the above are tangential. try https://js.coach/react . also @ahfarmer has created this <https://www.javascriptstuff.com/> but its early stage

[2017-11-14 20:51] cvlmtg commented on #11532
@sjy

my chrome is 62.0.3202.89, so it's already at the latest version

@oxlay

<img width="149" alt="schermata 2017-11-14 alle 21 35 26" src="https://user-images.githubusercontent.com/6401008/32803437-c37689a6-c983-11e7-808f-7a5a3c1a0fd9.png">

yes, LANG is set to 'it_IT', but I do not launch chrome from the cli, I run it from the finder like any other app.

Anyway, just out of curiosity, is the

[2017-11-14 22:32] acdlite commented on #11330
I think @clemmy will work on this. Will need to update polyfill to support multiple callbacks.

[2017-11-15 00:50] nhunzaker opened #11559 "React 15.6.2 tag"
It looks like the React 15.6.2 tag never got pushed to Github. Should we just cut a new tag? The biggest annoyance for me is that the release is missing in the dropdown for our DOM test fixtures:

<img width="318" alt="screen shot 2017-11-14 at 7 50 10 pm" src="https://user-images.githubusercontent.com/590904/32812843-1ca7307a-c975-11e7-921a-824180977a3a.png">

I can just append to the URL. No hug

[2017-11-15 00:54] nhunzaker opened #11560 "Clicking radios fires a change event unconditionally in older browsers"
This may be a change we agreed to that I missed, but the "Radio input clicks" test fixtures fails in:

Safari 7.1, 8, 9
iOS Safari 8.4
Chrome 42

The test fixture is here:
http://react-dom-test-fixtures.surge.sh/input-change-events

Do we care about this? If not, we should figure out a way to document this.

[2017-11-15 00:54] nhunzaker commented on #11560
cc @jquense @aweary, but no rush :)

[2017-11-15 01:43] gaearon commented on #11559
Feel free to push a tag :-)

[2017-11-15 03:26] shinrinyoku commented on #11106
@goodmorninggoaway for the particular use case I mentioned, my current workaround is to simply replace the entire stack on each `componentWillMount`, instead of pushing and popping individual items on/off it. This means there's no more explicit cleanup/teardown going on, just replacement of state.

It works for me because the order of `componentWillMount` calls is deterministic, but there's a lot

[2017-11-15 06:26] johnnyreilly commented on #10591
I've just stumbled on this.  In my own case, my app essentially just renders tons of anchor tags.

However, post `hydrate` I'm left with the case where a links inner text may have updated, but the `href` etc has not.  So whilst the server sends this:

[code]

Post-`hydrate` we have this:

[code]

For users this is obviously deeply confusing!  It feels like this kind of failed reconciliation is a r

[2017-11-15 09:26] vvlong2008 opened #11562 "After the introduction of external pages by dangerouslySetInnerHTML, JS fails"
After the introduction of external pages by dangerouslySetInnerHTML, JS fails

[2017-11-15 09:54] M-ZubairAhmed commented on #11562
Hi could you please provide with more detail and ability to reproduce this error

[2017-11-15 11:24] gaearon commented on #10591
React does not introduce any differences *on its own*, whether in text content, anchor tags, or anywhere else.

But if *your components* return different things on client and server, React won't attempt to fix the difference.

You are *expected* to return the same thing on the client and the server. Otherwise it's a bug in your app. React warns you about mismatches in development, and you should f

[2017-11-15 12:00] gaearon commented on #11106
I'll close this because it works as intended.

In general we recommend against any side effects in `componentWillMount`, as documented in its API reference. It is likely that there will be more issues with side effects in it in the future.

[2017-11-15 12:00] #11106 closed

[2017-11-15 12:08] gaearon commented on #11106
Regarding `componentWillUnmont`.

The docs are talking about clean up on the *component level*. For example listeners added by a component.

What you're talking about is cleaning up *global* state. This is inherently messy and can get very complicated. You're welcome to file an issue or PR in the docs repo to clarify it.

I've written such code myself before but always regretted it. This is brittl

[2017-11-15 13:16] nhunzaker commented on #11559
Done: https://github.com/facebook/react/releases/tag/v15.6.2 :-)

[2017-11-15 13:16] #11559 closed

[2017-11-15 15:45] udivankin commented on #10181
Same here with both Firefox v56 and v57.

![screen shot 2017-11-15 at 17 36 17](https://user-images.githubusercontent.com/1522846/32845153-b7b0365e-ca2c-11e7-9c4b-2099cc29880a.png)

Seems that Mozilla does split testing for some new security feature.

[2017-11-15 19:40] alansouzati opened #11565 "React-test-renderer: support for portal"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

This test

[code]

fails with

This test passes if I wrap createPortal in a container.

[code]

**What is the expected behavior?**

The code without the parent container works fine in the browser. So it seems that I'm adding the `div` parent just for the test to pass. I believe `react-test-r

[2017-11-15 21:13] mk0x9 commented on #8529
B-bump. It would be really nice to have auxclick in react...

[2017-11-15 21:24] acdlite opened #11566 "[Umbrella] New algorithm for resuming interrupted work"
*Resuming* is the ability to re-use fibers after they are interrupted by a higher-priority update. Take the following scenario: A component is updated at a normal, async priority. Before the update is finished processing, a higher-priority update is scheduled (let's say it's synchronous, though it could also be a higher-priority async update). The sync update *interrupts* the async update, leaving

[2017-11-15 23:00] sebmarkbage commented on #8529
@jquense This came up with regard to active/passive events too. If an intervention came as a result of something that isn't common in the React ecosystem, then we can probably "fix" it. However, this seems like something that would be relevant to us. So we should probably follow along and add another event?

[2017-11-15 23:00] Mikeysax opened #11567 "HTML entities with renderToNodeStream and renderToStaticNodeStream causing mismatch with hydrate."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When the server is started with an HTML entity anywhere within a component's JSX, it causes a mismatch to occur when using hydrate.

[code]

**What is the expected behavior?**

I don't expect there to be a mismatch. This only occurs with renderToNodeStream and renderToStaticNodeStream and doesn't occ

[2017-11-15 23:10] adaniliuk opened #11568 "React 16.1.1 does not recognize the `allowTransparency` prop on a DOM element."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

React 16.1.1 does not recognize the `allowTransparency` prop on a DOM element. Though React 16.0.0 recognizes it.

Open the below links and check the sandbox console. React 16.1.1 version has the warning displayed.

https://codesandbox.io/s/j45jr5mjmy - React 16.1.1 version with the above warning disp

[2017-11-15 23:10] gaearon commented on #11567
Mind creating a small project demonstrating it?

[2017-11-15 23:15] adaniliuk commented on #11568
It seems like it was removed intentionally? https://github.com/facebook/react/commit/4472442708e2648a8f3352a9f1daaa9031002a83

[2017-11-15 23:17] gaearon commented on #11568
Yes, please see its commit message for details.

[2017-11-15 23:17] #11568 closed

[2017-11-16 00:26] Mikeysax commented on #11567
@gaearon  Created a new SSR React app: https://github.com/Mikeysax/testNodeStream

Seems like any HTML entities cause a match error.

[2017-11-16 02:05] cliener commented on #10871
I'm able to recreate the bug in Safari Tech Preview 44 (Safari 11.1, WebKit 13605.1.13.2 - released today) and Safari 11.0.1 (13604.3.5). Disabling `Look up & data detectors` also prevents the problem.

[2017-11-16 03:37] pmacmillan commented on #10871
@cliener ; I didn't create the fiddle with touch in mind at all (I would add listeners for the touch* events), and I lack a force-touch capable device to evaluate it ;P.

[2017-11-16 06:19] cliener commented on #10871
I wrote "touch"… meant "tap" which triggers the same blur/focus chain.

[2017-11-16 07:13] Ogglas commented on #11539
Thanks for replies. I noticed the behavior when I used React-Bootstrap. I will have to solve it some other way. https://github.com/react-bootstrap/react-bootstrap/issues/2876

[2017-11-16 08:41] cliener commented on #10871
With further testing, it seems this particular problem is unique to Safari/Mac. I can't reproduce the event chain on iOS even after constructing a [mobile-friendly version of the test.](https://codepen.io/cliener/pen/ooGpwW?editors=1010)

[2017-11-16 09:39] WhynoChinese commented on #10831
@gaearon I still have this problem, react and react-dom is 16.1.1

[2017-11-16 10:21] Army-U commented on #10831
+1

[2017-11-16 12:07] pronebird opened #11569 "Cannot read property '__reactInternalInstance$liajyozl96m' of null"
Super unhelpful error from React, can this be improved? i.e hierarchy trace any kind of pointer

[code]

[2017-11-16 12:29] HardikModha commented on #11569
You should wrap your top-most component using `ErrorBoundary`. Using `ErrorBoundary` will remove such cryptic errors. It will print the beautiful error message in your browser console which you can easily debug. You can read more about error-boundaries on official react website.
https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html.

[2017-11-16 12:35] pronebird commented on #11569
Oh thanks, I didn't realize there was such a thing already!

[2017-11-16 12:35] #11569 closed

[2017-11-16 13:18] gaearon commented on #10831
I'm afraid you are not reading the thread.

Please re-read my reply in https://github.com/facebook/react/issues/10831#issuecomment-332824850.

Again, **the warning itself is correct and should be fixed in your code**. This issue is just about "null" instead of component stack in the message. That has been fixed.

[2017-11-16 13:19] gaearon commented on #10831
If you experience issues or believe there is a false positive in the warning please file a new issue with an example.

[2017-11-16 13:25] gaearon commented on #11569
This specific cryptic error is either a bug in React 15 or a consequence of a real error in your app that your app swallowed in a catch block. In either case upgrading to React 16 should solve the issue. :-)

[2017-11-16 13:40] gaearon opened #11570 "Reword "unknown property" warning to be less obnoxious"
I thought before it might cause knee jerk reactions, and it does in practice: https://twitter.com/freeformflo/status/928454078903894016

I think we should change the phrasing to a more neutral one. Potentially explaining *why* we prefer camel case.

[2017-11-16 14:00] 25564 commented on #11570
What about something simple along the lines of "Warning: Please use camel case property names. Did you mean tabIndex".

[2017-11-16 14:05] skiritsis commented on #11570
I could take this.

[2017-11-16 14:08] #10739 closed

[2017-11-16 14:38] iamdustan commented on #11567
The issue is an encoding issue. You need either of the following:

* in `head`: `<meta charSet="utf8" />`
* http header: `Content-Type: text/html; charset=utf-8`

<img width="1054" alt="screen shot 2017-11-16 at 9 36 57 am" src="https://user-images.githubusercontent.com/227879/32896699-bc2a4a64-cab1-11e7-9cf1-9cbc8ca3bc59.png">

[2017-11-16 14:55] #11567 closed

[2017-11-16 15:22] Mikeysax commented on #11567
@iamdustan That works; I think I accidentally deleted it at some point.

Firefox displays the error in the screenshot and Chrome doesn't even come close.

[2017-11-16 16:16] acroyear commented on #11233
I'm aware this has technically been done.

However, my company is being VERY particular about the contents of the release package. We're finding that BSD+Patents code is still included in several of the packages even as they're supposed to be MIT. E.g., in react/dist/react.js the BSD+P license header is still above methods like makeEmptyFunction and emptyObject.  Similar cases exist in other depen

[2017-11-16 16:44] MehdiAlouafi commented on #9591
I was having this error because I was missing an import statement and I corrected it by importing the missing component

[2017-11-16 17:20] aweary commented on #11560
Are those browser versions supported? cc @sophiebits. If so, we should probably fix it but otherwise, we can ignore it 😄

[2017-11-16 17:24] travi commented on #11098
i've been running into similar issues in mocha where error behavior under test is being hidden by this warning.

my issue was made somewhat worse because of the fact that i override `console.error` and `console.warn` in my tests to ensure that react warnings cause test failures. this caused those errors to be caught by this error boundary log even earlier in some cases. removing these overrides al

[2017-11-16 17:30] aweary commented on #11233
@acroyear those methods are coming from [fbjs](https://github.com/facebook/fbjs/tree/master/packages/fbjs) which was also relicensed as MIT. It looks like the version that 15.6.2 depends on is [is BSD licensed](https://unpkg.com/fbjs@0.8.9/package.json) while the [latest release](https://unpkg.com/fbjs@0.8.16/package.json) is MIT.

I don't know how licensing changes work well to know if this is a

[2017-11-16 17:36] thomasyimgit commented on #11570
If nobody is working on that, I could take this.

[2017-11-16 17:55] pronebird commented on #11569
@gaearon this is true, it's React 15 still and there was an error in my code, but since the message was cryptic it was hard to understand where it comes from. Thanks for all suggestions!

[2017-11-16 18:05] gaearon commented on #11569
If you enable "break on all exceptions" in Chrome debugger it should stop at the original error in your code. This can let you trace where the error actually happens *and* which catch block accidentally swallows it.

[2017-11-16 18:07] gaearon commented on #11233
I guess we have updated fbjs later than released 15.6.2? In that case let's cut 15.6.3 with it.

[2017-11-16 18:15] acroyear commented on #11233
The fbjs reference in the npm distros is 0.8.9 or 0.8.12 depending on the npm package (react, create-react-class, and prop-types).

There are npm modules made by 3rd parties for "invariant" and "warning" (taking just those methods out of fbjs or react), which we're still going to have to find a way to override and replace, but that isn't the fault of Facebook that others created those dependencies

[2017-11-16 18:42] nhunzaker opened #11573 "Preparing 15.6.3"
This is just a running list. It is not comprehensive, but a few things have come through that I don't want to lose track of:

- [ ] Cherrypick https://github.com/facebook/react/pull/11028 to `15-dev` (@jquense)
- [ ] `fbjs` License update (https://github.com/facebook/react/issues/11233)
- [ ] Changelog
- [ ] Tag
- [ ] Release
- [ ] Release blog post
- [ ] Test the living _heck_ out of it.

[2017-11-16 18:47] johnunclesam opened #11574 "React and react-router. If I create a component it calls render(). If not a component it is good without render(). It's crazy"
Here is the link to [Sandbox][1]

I have simple code like this:

**Sidebar.js**:

    import React, { Component } from "react";
    import { BrowserRouter as Router, Route, NavLink } from "react-router-dom";

    import Menu from "./Menu";

    class SidebarExample extends Component {
      render() {
        console.log("Sidebar - render()", new Date());
        return (
          <Router>

[2017-11-16 19:04] phc5 commented on #11574
Hi @johnunclesam, if I'm not mistaken that is the expected behavior. Uncommenting `<Menu />` inside the render method of `Sidebar.js` will render whatever is returned in the render method of `<Menu />`. See [Composing Components](https://reactjs.org/docs/components-and-props.html/#composing-components) in the React docs.

[2017-11-16 19:09] jquense commented on #11573
we don't seem to have a 15-dev 😳

[2017-11-16 19:11] nhunzaker commented on #11573
Huh, for the 15.6.2 release, I worked from 15.6-dev (https://github.com/facebook/react/pull/10430). I think we should cut a new 15.6-dev to work from. Once it's ready we can merge it into stable.

[2017-11-16 19:13] jquense commented on #11573
i can do that

[2017-11-16 19:15] johnunclesam commented on #11574
Thanks @phc5. I don't find anything related to this "issue" there. but I know it's my fault. Wher I fall? What I miss? Why React have to re-render any time if the same code is in a simply component?

[2017-11-16 19:35] phc5 commented on #11574
You could perhaps do something like this since it looks like the JSX in `Sidebar.js` is duplicate of `Menu.js`:
**Sidebar.js**
[code]

[2017-11-16 20:16] raphasilvac commented on #5785
Hello @flarnie,
I think it would be nice for Draft.js

I think there is a problem on Draft.js,
the selectionState is only updated after "mouseup",
if you keep mouse pressed and paste or write some word you will see that the word or some part of it goes to a wrong place ("previous selectionState").

This is reproducible on Draft.js home/demo page and on facebook status field.

I think it is not a g

[2017-11-16 20:24] skiritsis commented on #11570
@thomasyimgit Working on it at the moment.

[2017-11-16 20:51] OZhurbenko commented on #9809
Hmm.. actually "normal DOM API" solution didn't work.
Apparently it didn't fix it for mobile Firefox, there's probably a bug there. Nothing can prevent Firefox from triggering mousedown-mousemove-mouseup events following touchstart 😕

Had to work around that and add a flag to the touchStart handler:

[code]

And a simple return from mouseDown handler:

[code]

In this case it doesn't matter how yo

[2017-11-16 22:33] brandonaaskov opened #11577 "Controlled inputs don't work in Safari"
I originally thought this issue was just around using `<input type='number' />` but upon digging further it appeared that Safari just plain doesn't like controlled inputs: whatever you type, will appear in that input.

You can see this in action here: http://jsbin.com/voyigef/edit?html,js,output

Now, I will say that we worked around this for the time being by leveraging `onKeyPress` instead of `o

[2017-11-16 23:37] jquense commented on #11100
@amackintosh your example seems to work fine if you use defaultValue: https://jsfiddle.net/Luktwrdm/39/ It's not selected by default because the html spec says that the first non-disabled item should be the "default" item when nothing is marked as selected. see https://github.com/facebook/react/pull/10456 for more info

Gonna close this out. Disabled options can be be selected via the normal React

[2017-11-16 23:37] #11100 closed

[2017-11-17 00:26] gaearon commented on #11567
Is there any way we could detect it and show a better warning ourselves?

[2017-11-17 00:42] ahfarmer commented on #11554
Yep I built javascriptstuff.com a couple weeks ago. A few people said it is useful but still need a lot of feedback. There are 4 React-specific lists: components, example apps, starter projects, and tutorials. Those are the things I see people looking for the most.

@johnunclesam does that help at all? What have you been looking for?

[2017-11-17 01:55] gaearon commented on #11574
We use issue tracker for React bugs and feature requests. This looks like a question. Please use a more appropriate venue for support requests: https://reactjs.org/community/support.html. Thanks!

[2017-11-17 01:55] #11574 closed

[2017-11-17 04:47] vsiao opened #11582 "Elements with the same key are not deduplicated"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Elements with the same key are not deduplicated, which in itself is not unreasonable, I guess, since having duplicate keys is undefined behavior. However, on subsequent rerenders the duplicate elements remain in the render tree with no way to remove them.

**If the current behavior is a bug, please pro

[2017-11-17 06:33] bootrino commented on #1881
Folks, this is how I do important:

[code]

[2017-11-17 09:14] StalkAlex commented on #10441
Experiencing same problem in Chrome, but there is no such error in Firefox.

[2017-11-17 10:55] gaearon commented on #11582
This is intentional. As you said, the behavior is pretty much undefined in this case. Always key elements. (React warns you if you don't.)

[2017-11-17 10:55] #11582 closed

[2017-11-17 10:56] gaearon commented on #11582
(We did this for performance reasons. It makes the "correct" case slower to always check for duplicates and track them.)

[2017-11-17 12:11] dzek69 opened #11583 "IE 11 console error stopping the render. `Unable to set property `nextEffect` of undefined or null reference`"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Page can't be rehydrated (but it's probably not a rehydration issue, the same happens when I use `render` on empty div instead). Console error:
[code]
(`childToDelete` seems to be equal `undefined` when I set breakpoint)
Point in source: https://github.com/facebook/react/blob/4a924a206783df5d2e06755caa

[2017-11-17 12:14] gaearon commented on #11583
Please provide a reproducing project.

[2017-11-17 12:16] gaearon commented on #11583
Which Map/Set polyfill are you using? We've seen this problem with a bad polyfill before. https://github.com/facebook/react/issues/10656#issuecomment-328514056

[2017-11-17 12:31] dzek69 commented on #11583
Polyfill.io

I can't pass you the whole project. If I will be able to isolate the issue in minimal code then I will surely provide it. Still working on it.

[2017-11-17 12:34] dzek69 commented on #11583
I'll try with another polyfill and give you a feedback

[2017-11-17 12:47] timjacobi commented on #11577
I can reproduce this here http://jsbin.com/qiwapogive/1/edit?js,console,output
Safari version 11.0.1

[2017-11-17 13:03] jquense commented on #11577
see https://github.com/facebook/react/issues/11142#issuecomment-334899692

[2017-11-17 13:04] #11577 closed

[2017-11-17 13:29] johnunclesam commented on #11554
@ahfarmer yes. But for example I can't find something like "redux-orm". Why?

[2017-11-17 14:27] KingPengZero opened #11584 "Part of huawei's mobile phone has a flashback in the render page, but other android phones and ios phones have no problem. How do you solve this problem?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-11-17 14:36] gaearon commented on #11583
3.22 of polyfill.io is expected to have fixed this.
https://github.com/Financial-Times/polyfill-service/issues/1299

So I don't think there's anything wrong with React although I don't know why the fix didn't help for you. Maybe you're getting an old version somehow?

[2017-11-17 14:57] ClemDelp commented on #8308
@gaearon It looks like the bug is back since react@16.0.0

[2017-11-17 15:54] brandonaaskov commented on #11577
@jquense this is _not_ the same as that issue. This doesn't just affect number inputs, but _all_ inputs in Safari. I've simplified [the jsbin example](http://jsbin.com/voyigef/edit?js,output) to illustrate this. Please re-open this issue if you agree.

[2017-11-17 15:57] jquense commented on #11577
that bin is still using number inputs?

[2017-11-17 16:06] dzek69 commented on #11583
Yeah, updating polyfill service did the job.

So you're right, that's not React bug.

Thank you for your help, I wasn't able to find the linked issue via search bar or Google. I hope having error in the issue title will be enough for others to find it if needed.

[2017-11-17 16:06] #11583 closed

[2017-11-17 16:13] jquense commented on #11577
Sorry I am having trouble getting any of the fiddle sites to run under Safari but what is your expected behavior for none-number controlled inputs? The behavior seen for the number ones is, at least, covered by #11142

[2017-11-17 16:13] brandonaaskov commented on #11577
@jquense jsbin's caching is a little aggressive, but here's the snapshot to the exact changes: http://jsbin.com/voyigef/6/edit?js,output

(At the moment, I'm getting intermittent 504s from JSBin; ymmv)

[2017-11-17 16:20] jquense commented on #11577
I'm still seeing a bin a number input. Can you post the code here and the behavior you are seeing vs what you expect

[2017-11-17 16:23] nhunzaker opened #11585 "Move MouseWheel event type detection to BrowserEventConstants"
I think we can move the [`wheel` event support check in BrowserEventEmitter](https://github.com/facebook/react/blob/master/packages/react-dom/src/events/ReactBrowserEventEmitter.js#L126-L135) into [BrowserEventConstants](https://github.com/facebook/react/blob/master/packages/react-dom/src/events/BrowserEventConstants.js)

That runs the check once, which is nice for wheel and scroll events, which e

[2017-11-17 16:24] nhunzaker commented on #11585
Marked this as a good first issue. The event system can be a beast. I'd be happy to walk through it with an interested contributor.

[2017-11-17 16:27] sophiebits commented on #8308
If you have a case where this doesn't work properly, please open a new issue.

[2017-11-17 16:29] ahfarmer commented on #11554
@johnunclesam my site isn't exhaustive. I just made a few lists that I think are the most important.

I do plan on making a 'flux' list though, and I'll add redux-orm to it. Were you searching for flux tools? I'm assuming you weren't actually searching for "redux-orm" because if you already knew about redux-orm, you wouldn't need to search for it.

[2017-11-17 16:29] pramodsvidyarthi commented on #10879
same issue

[2017-11-17 16:30] brandonaaskov commented on #11577
@jquense I stand corrected - what I thought I was seeing in jsbin wasn't accurate or what I expected, again probably due to some strange caching. This is _definitely_ covered by #11142. My apologies for the red herring confusion!

[2017-11-17 16:31] cristidrg commented on #11585
Hello @nhunzaker I'd like to work on this issue.

Any other files you suggest looking at other than the two that you have linked?

[2017-11-17 16:51] j-f1 opened #11586 "Add a <ReactDOM.Portal /> element"
**Do you want to request a *feature* or report a *bug*?**

I’d like to request a feature.

**What is the current behavior?**

To create a portal, you currently have to use a function:

[code]

**What is the expected behavior?**

[code]

[2017-11-17 17:26] nitish24p commented on #10879
@pramodsvidyarthi eliminate all possible whitespace.. also if you're using react 16.. you must be using the hydrate fn.

[2017-11-17 18:04] ClemDelp opened #11588 "onClick firing for disabled buttons in v16"
Hello the React Team! I found a little event firing bug

When I click on an Icon element inside a disabled button, the onClick on the div element is triggered

[code]

[2017-11-17 18:48] ahfarmer commented on #11554
I went ahead and made a 'state managers'/flux list.
https://www.javascriptstuff.com/state-managers/

While making that list, I realized there are a ton of redux-specific utilities. redux-saga, redux-thunk and reselect to name a few. Maybe next weekend I'll make a redux list.

[2017-11-17 18:51] ConradIrwin commented on #10474
We are also having a problem with `invokeGuardedCallback`.

It's necessary when dealing with browser focus to know *where is the focus going to be at the end of this tick*. You can assume in most cases that it'll be the same place it currently is (document.activeElement), but during a blur event it'll be on the relatedTarget, and during click events on an iframe, it will be the iframe even though

[2017-11-17 20:16] nhunzaker commented on #11585
Totally! If you were curious:

The main consumer of `ReactBrowserEventEmitter` is [`ReactDOMFiberComponent`](https://github.com/facebook/react/blob/master/packages/react-dom/src/client/ReactDOMFiberComponent.js). It asks ReactBrowserEventEmitter to listen to events.

Most events are delegated to the document for the related DOM element. So ReactDOMFiberComponent uses [an internal function that fin

[2017-11-18 00:16] jamiekowalski opened #11589 "Inline-playing <video> element in iOS 11 does not fire click events when rendered with React"
**Do you want to request a *feature* or report a *bug*?**

Bug report

**What is the current behavior?**

If a `<video>` rendered by React is autoplaying inline in iOS 11, it does not fire click events when tapped, even if click handlers are added using native DOM `addEventListener`.

If the same example is created without React, the `<video>` does fire click events when it is autoplaying inline.

[2017-11-18 05:56] rstims commented on #11588
I may be missing something, but i feel like this is expected behavior and can easily be fixed by tweaking your code.

[2017-11-18 09:07] pramodsvidyarthi commented on #10879
@nitish24p  I am using the hydrate fn on the client side and i don't have any lint issue as such for whitespace.

[2017-11-18 12:56] gespiton commented on #11508
I am having the same problem: children get updated while container's shouldComponentUpdate return false. Didn't happened in version15.

[2017-11-18 14:21] gaearon commented on #11508
@gespiton Unfortunately this is not helpful without a reproducing example.

[2017-11-18 14:39] clemtrek opened #11592 "Code Coverage"
I found that React does not have a very good coverage. Working on this could really make an impact

[2017-11-18 16:36] gespiton commented on #11508
@gaearon  here is [code repo](https://codesandbox.io/s/04yp4qww0p), it might seem over complicated. the point is, every time I type, all the children re-rendered(the log says it). **you have to open main.css then toggle porject view to see the complete page** it would be very nice of you to help me with this

[2017-11-18 18:42] sw-yx commented on #1881
+1 for blink tag 😂

[2017-11-18 19:23] gaearon commented on #11508
This code looks very odd:

[code]

Why are you doing this?

[2017-11-18 19:24] gaearon opened #11593 "Warn if this.state is set to this.props referentially"
See this example: https://github.com/facebook/react/issues/11508#issuecomment-345464797.

I think it probably reflects a misunderstanding of how props and state work, and we should detect and warn if we see this.

[2017-11-18 19:28] gaearon commented on #11592
Not sure what coverage you're referring to (unit tests? Flow?)
This issue sounds pretty vague so I'll close, but you're always welcome to improve it.

[2017-11-18 19:28] #11592 closed

[2017-11-18 19:29] gaearon commented on #11584
We don't know. It's not clear why you consider this a bug in React. If this is a general question please ask it on StackOverflow. If you're sure it's specific to React please provide a minimal reproducing case and instructions and we can take a look.

[2017-11-18 19:29] #11584 closed

[2017-11-18 19:30] gaearon commented on #11565
Do you want to dig into why this happens?

[2017-11-18 19:30] sw-yx commented on #11593
Happy to take!

[2017-11-18 19:32] gaearon commented on #11556
I don't think what you're describing has anything to do with JSX (the syntax). It is about the browser behavior of silently dropping invalid style values. It has been proposed before, and it's not clear how to do this in a sensible way. You can read the past discussion in https://github.com/facebook/react/issues/8182.

[2017-11-18 19:32] #11556 closed

[2017-11-18 19:32] gaearon commented on #11562
Closing as it's not clear what the problem is, and there are no details.

[2017-11-18 19:32] #11562 closed

[2017-11-18 19:36] gaearon commented on #11588
Does this happen with regular DOM listeners?

[2017-11-18 19:36] gaearon commented on #11593
Sounds good.

[2017-11-18 19:49] davidrenne commented on #8182
I guess the main difference with browsers is when you use a css class, Chrome may show and cross it out on the inspector but styles it just drops the entire style attribute that is invalid.  I think maybe the Dom should show the raw style applied in chrome but merely show it struck through like classes do so people know they made a mistake and it isn't the react or jsx library.  Maybe if someone w

[2017-11-18 20:21] rstims commented on #11588
@gaearon looks like it

https://jsfiddle.net/b4wycvwf/1/

and then if the onclick is attached to the disabled button the event isn't triggered.

https://jsfiddle.net/b4wycvwf/2/

[2017-11-18 22:12] sw-yx commented on #9866
#11451 is updated with the new proposed structure for all the elements. we could try to reach consensus on format and merge the big picture structure, and then split out the work into a bunch of smaller issues and PRs to make this work.

1.  i stole the DOM test format wholesale, i think we have some calls to make on whether to cut down extraneous tests as it gets a little messy but the format is

[2017-11-19 03:39] gespiton commented on #11508
oh.... I've some misunderstanding with props and state, I'll change them later, but is this the problem? maybe I should make a simplified repo?

[2017-11-19 14:07] gaearon commented on #11585
https://github.com/facebook/react/pull/11594

[2017-11-19 14:21] gaearon commented on #11299
Congratulations to @gordyd for finishing a rather complex one: https://github.com/facebook/react/pull/11383.

This is a good example of how different the code can look before and after while testing essentially the same things. And how you can figure out *what* the code is supposed to be doing by searching for references, looking at git history, and commenting out different lines.

[2017-11-19 14:23] #11454 closed

[2017-11-19 15:44] #7630 closed

[2017-11-19 15:45] nhunzaker commented on #7630
Fixed by https://github.com/facebook/react/pull/11227

[2017-11-19 17:20] gaearon commented on #11508
Yes, further simplifying would be great!

[2017-11-19 17:46] raphamorim opened #11595 "[Question] Automatize tests on Windows environment && Circle CI 2.0"
Hi everyone,

I was wondering if it makes sense, implement the React Tests for windows environment. Even if it's to test only the build task (https://github.com/facebook/react/issues/9540, https://github.com/facebook/react/issues/9500) or only run for master branch. I was thinking of using the [appveyor](https://ci.appveyor.com/).

My other question is about migrate to Circle CI 2.0 configuration.

[2017-11-19 19:00] gaearon commented on #11588
Sounds like expected behavior then.

[2017-11-19 19:52] clemmy commented on #11379
Hey @tobiasandersen, wondering if you could still reproduce this. The JSFiddle points to 16.1.1 now, and I can't seem to reproduce it anymore there.

[2017-11-19 20:08] tobiasandersen commented on #11379
Just tried it in that fiddle again, and it's still an issue for me on Chrome Version 62.0.3202.94 (Official Build) (64-bit) and on Firefox 57.0 (64-bit). I wonder what I'm doing differently since I can reproduce it 100% of the times.

[2017-11-19 21:44] veekas commented on #11593
I'm a new contributor, but working with @sw-yx on this.

I'm currently trying to figure out how to catch if the user is trying to set `this.state = props`. Do you have any tips?

I currently am looking at putting the warning in `ReactFiberClassComponent.js`. Something like the following:

[code]

[Here are the changes I've made so far](https://github.com/veekas/react/commit/1952d3b99d82854cbc8ea8e

[2017-11-20 00:32] rstims commented on #11588
FWIW, checked on Firefox, Chrome, and Safari.  The onclick only triggers on Chrome and Safari.  Didn't check IE.

[2017-11-20 01:55] sjy commented on #11586
I would like to make a pr for it, it may take sone time to invesitigate and do some test l.

[2017-11-20 02:59] sw-yx commented on #11586
well first of all... do we want it? it definitely looks cleaner but are there any cons?

[2017-11-20 03:06] sw-yx commented on #11593
in discussing with veekas, i wasn't sure how to do this one either. there are two questions here.

1. how to test if `this.state` is being set to `React.Component.props`
2. -where- to test it

my best guess is to stick the test inside of the `componentWillMount` lifecycle method execution as that is the earliest place we can check `this.state`.

[2017-11-20 09:27] jorrit opened #11596 "Add warning when hydrating output from renderToStaticMarkup"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I accidently generated my SSR output using `renderToStaticMarkup` instead of `renderToString`, which I then hydrated using `hydrate`. This  led to a warning, caused by collapsed text nodes. `renderToString` would have added HTML comments between them.

The warning I got was:
Warning: Text content d

[2017-11-20 09:34] ClemDelp commented on #11588
Thanks guys, Yep i though it was a React problem like on https://github.com/facebook/react/issues/8308

But it's a normal html DOM behavior... I share a simple solution to fix this on my project:

[code]

[2017-11-20 11:18] thysultan commented on #11588
I don't think it is expected behavior [https://jsfiddle.net/b4wycvwf/1/](https://jsfiddle.net/b4wycvwf/1/).

The fiddle shown(using DOM events) does not trigger when you click on the icon within the disabled button, this being different from @ClemDelp 's observed behavior.

[2017-11-20 11:53] andydavies92 commented on #11111
@gaearon: I'm currently blocked on upgrading our application to React 16 due to the lack of a UMD build of TestUtils. Shall I compile one and submit a PR?

[2017-11-20 11:57] frenzzy opened #11597 "componentDidMount fired when DOM is not mounted for portal tree components"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

For all components inside [react portal](https://reactjs.org/docs/portals.html) componentDidMount fired when DOM is not mounted yet.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template f

[2017-11-20 12:32] gaearon commented on #11597
I don't think there is a bug in React.

In React, child's `componentDidMount` always fires before parents. This ensures the parent is ready and contains all children by the time it mounts (e.g. in case it needs to measure itself).

In your example `App` is *inside* of `Portal`. Therefore `App.componentDidMount` runs before `Portal.componentDidMount`. This is expected.

You are not seeing a number

[2017-11-20 12:32] #11597 closed

[2017-11-20 12:33] gaearon commented on #11111
Can you describe your use case in more detail? Why do you need a UMD build of something intended only for testing?

[2017-11-20 12:41] nhunzaker commented on #11585
Fixed by #11594. Thanks @cristidrg!

[2017-11-20 12:41] #11585 closed

[2017-11-20 12:43] markboyall commented on #11111
Our application is non-trivially large, and module systems that involve transpiling our JS are unworkably slow. We have no choice but to use UMD if we don't want to wait multiple minutes every time we make any script change in development.

[2017-11-20 12:44] andydavies92 commented on #11111
What @markboyall said :+1:

[2017-11-20 12:44] gaearon commented on #11111
OK that sounds reasonable. Happy to take a PR.

[2017-11-20 12:53] gaearon commented on #11586
I do agree it reads a bit better. I think we mostly intended `createPortal` to be an experimental API at first but then it turned out to be more necessary than we thought, and we changed it to be "stable" at last minute. So we haven't quite fixed the ergonomics.

However there is a bigger issue of portals not being feature-complete. Ideally we want to add support for server rendering in some way (

[2017-11-20 12:58] gaearon commented on #11593
Can't you check `instance.state === instance.props`? I don't understand what `parent` is or how it is relevant.

Not sure what you mean. The original direction by @veekas makes sense to me. Test it in *React itself* (not some component's methods) right after the instance is created. In fact you can find where React calls the constructor in this file, and check right after it.

[2017-11-20 13:04] nhunzaker opened #11598 "Investigate need to feature check cancel and close events."
The [ReactBrowserEventEmitter checks for browser support of the `cancel` and `close` events.](https://github.com/facebook/react/blob/master/packages/react-dom/src/events/ReactBrowserEventEmitter.js#L136-L138) before attaching those listeners.

I'm curious why this is necessary. Did we need it for IE8?

I'd like to:

- [ ] Determine if there are ramifications to removing these checks
- [ ] Add comm

[2017-11-20 13:05] nhunzaker commented on #11598
Assigning this to me as a part of https://github.com/facebook/react/pull/11550, but I'd greatly appreciate any insight.

[2017-11-20 15:11] rstims commented on #11588
@thysultan are you by any chance checking on Firefox?  Because if you check that same fiddle on Chrome or Safari you will see the event being triggered.  So although it may not be correct, it's not a React issue.

[2017-11-20 15:24] thysultan commented on #11588
@rstims I observed it on Chrome 62.0.3202.94.

[2017-11-20 15:32] wojtekmaj commented on #11423
@clemmy, how it is going with this issue?

[2017-11-20 15:36] jquense commented on #11588
Browsers are notoriously inconsistent on this. Generally disabled elements emit no events, but they "probably" should only prevent the event on the direct target, I _think_ the spec is a bit unclear on it, or maybe its just legacy behavior. In any case I am pretty dang certain this is a browser difference not a React bug (could be wrong). I am seeing the click on the icon fire on Chrome 62.0.3202.

[2017-11-20 15:42] thysultan commented on #11588
With all extensions disabled(just in case, b/c inline events) this is what i get on all the browsers i have.

Chrome 62 does not emit.
Firefox 57 does not emit.
Chrome Canary 64 does emit.
Safari 10.1 does emit.
Safari Technical Preview 11.0 does emit.

[2017-11-20 15:48] jquense commented on #11588
i definitely getting the alert popping up for Chrome so i'm not sure where the difference in observed behavior is in https://jsfiddle.net/b4wycvwf/1/

[2017-11-20 16:04] thysultan commented on #11588
Replacing "click" with "mousedown" works on all – Firefox, Chrome and Safari. However "mouseup" like "click" also doesn't emit on Firefox as well.

So on my machine Chrome and Firefox have different behavior on "click" from Safari.
Firefox has different behavior on "mouseup".

Not sure what could be causing the difference between me, @jquense and @rstims 's Chrome observations. Tried  using`addEve

[2017-11-20 16:16] clemmy commented on #11423
Hey @wojtekmaj This is on my backlog for now - if you want to work on it, feel free to and I'll un-assign myself. :)

[2017-11-20 16:27] jquense commented on #11588
in either case tho, I don't see much evidence that this is React related. It seems to be solely differences in how browsers treat disabled elements and mouse events yeah?

[2017-11-20 16:35] andydavies92 commented on #11111
@gaearon: done (https://github.com/facebook/react/pull/11599) :+1:

[2017-11-20 16:38] 505aaron commented on #11565
@gaearon I would be interested in taking a look if @alansouzati is okay with that.

[2017-11-20 16:44] cjpete opened #11600 "Dispatching an 'input' event against an element does not trigger onChange handler"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Triggering a native DOM 'input' event, does not trigger the onChange handler in React DOM versions 15.6 and above.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https:/

[2017-11-20 17:08] advzr commented on #6622
This feature is needed to render non-react code. For example we need to render some 3rd party js code. Now we do something like this

[code]

On the [documents page](https://reactjs.org/docs/react-component.html#shouldcomponentupdate) we can read the following:

If this happens, then the code above will be broken for sure.

[2017-11-20 17:14] Mikeysax commented on #11567
@gaearon I'm not sure because I'm not super intimate with the library.

I guess React could detect document encoding on the initial mount and throw an error or log a message if it's not specified in the initial document?

Maybe React could possibly add it to the document as a default if it isn't specified?

[2017-11-20 17:41] #11111 closed

[2017-11-20 18:53] ghost opened #11601 "can't access discuss react"
I know this is not related to react directly but didn't know where to turn to.
Am I the only one who can't access/login to discuss.reactjs.org? (for quite some time already)
I get error:
_This page isn’t working. discuss.reactjs.org is currently unable to handle this request. HTTP ERROR 500_
and sometimes when I retry this error:
_Sorry, there was an error authorizing your account. Perhaps you did

[2017-11-20 18:54] gaearon commented on #11601
Seems to be working for me. Are you behind a proxy?

[2017-11-20 18:56] gaearon commented on #11600
cc @jquense I keep forgetting—what's the recommendation for this case?

[2017-11-20 19:14] thysultan commented on #11588
Yes that is more likely. If @ClemDelp also observed the same differences(in Firefox) with the example in the original post, then that is probably the case.

[2017-11-20 19:26] acroyear commented on #11573
#11233 was the issue that was re-opened.

[2017-11-20 19:41] jquense commented on #11600
I don't know what the proper recommended way to do it is, but we do it this way in tests: https://jsfiddle.net/5jgd6zn6/2/

We should probably expose a helper maybe for this...depends on the use case tho i guess. I think generally when trying to get "underneath" react's event system the answer may just be "Here be Dragons"?

[2017-11-20 19:51] gaearon commented on #11299
We have not received a PR yet from the following users:

@email2vimalraj
@andrevargas
@tranotheron
@minerado
@sw-yx
@king0120
@aarboleda1
@danilowoz
@dms1lva
@morajabi
@dphurley
@reznord
@aqumus

Could you please confirm if you started work on this? I have more people who want to help in the queue, so if you don’t have the time, it would be great to give others an opportunity to work on this.

[2017-11-20 19:58] gaearon commented on #11299
@andrevargas Just noticed your discussion in https://github.com/facebook/react/pull/11331. I guess it makes sense to keep those changes unified there.

[2017-11-20 19:59] timjacobi commented on #11299
Please add me to that queue @gaearon

[2017-11-20 20:01] gaearon commented on #11600
I think having to do this:

[code]

is not too bad.

[2017-11-20 20:09] gaearon commented on #11600
I think we can count this as “documented”. (One of first google answers for "trigger input change event react").

https://stackoverflow.com/questions/23892547/what-is-the-best-way-to-trigger-onchange-event-in-react-js/46012210#46012210

So I'll close this.

[2017-11-20 20:09] #11600 closed

[2017-11-20 20:20] andrevargas commented on #11299
@gaearon Yes, you're right. Just to confirm, @jeremenichelli is working on `quoteAttributeValueForBrowser-test.js` in #11331, and I'm aware of this. I think you can update this thread with his username and PR's link.

[2017-11-20 20:26] felicianotech commented on #11595
Hey, I'm a Developer Evangelist from CircleCI.

I took a look at the current 1.0 config and it doesn't look too complicated. Shouldn't be too difficult to switch over to CircleCI 2.0 but ping me if any help is needed.

Unless you create a completely custom Docker image, a good start might be our [Docker Ruby Images](https://hub.docker.com/r/circleci/ruby/) which have a variant that include NodeJS.

[2017-11-20 20:31] gaearon commented on #11595
I'd be up for using AppVeyor but in my experience it can be pretty slow. Maybe it's fine if we only run it on master. (And if something fails, we'd know and investigate it post factum)

[2017-11-20 20:38] kwnccc commented on #11299
Please also add me to the queue @gaearon

[2017-11-20 20:41] raphamorim commented on #11595
Thanks for the hint.

Sure.

Ok, leave it me. I'll send a PR.

[2017-11-20 20:53] giorgim commented on #11601
@gaearon no I don't think so, no.
First problem occurs as soon as I click log in button. I get the first error I described in my initial question :confused: (If I recall correctly I had similar issue from a different pc too, but I'd have to double check that.).

[2017-11-20 21:02] jorrit opened #11602 "Children of option tags flattened when select has value"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When the following is rendered to string using ReactDOM:

[code]

I get

[code]

When hydrating the above code, I get this warning:

  Warning: Text content did not match. Server: "a (b)" Client: "a ("

Fiddle: https://jsfiddle.net/z1q0azjL/1/

**What is the expected behavior?**

I should get:

[code]

[2017-11-20 21:02] gaearon commented on #11601
Can you provide *exact* instructions to reproduce with screenshots?

[2017-11-20 21:04] gaearon commented on #11602
Would you mind contributing a (failing) test to `ReactDOMServerIntegration-test` that verifies this case?

[2017-11-20 21:10] jorrit commented on #11602
Sure, hopefully tomorrow (CET)!

[2017-11-20 21:18] giorgim commented on #11601
@gaearon

Well this is step 1, when I enter site:
[scrn](https://imgur.com/kNx6727)

This is step 2, when I click "Login" button:
[scrn](https://imgur.com/hMTN8If)

Step 3: Now if in the dialog which was generated in step 2, I click the "RELOAD" button, I get this:
[scrn](https://imgur.com/SLQLgqY)

[2017-11-20 22:06] gaearon commented on #11416
Fixed by https://github.com/facebook/react/pull/11422.

[2017-11-20 22:06] #11416 closed

[2017-11-20 22:37] dphurley commented on #11299
@gaearon I have started working on it. Planning on either posting my findings or a PR sometime this week.

[2017-11-20 22:46] aarboleda1 commented on #11299
@gaearon I have begun working on SyntheticKeyboardEvent.js. Planning to have a PR up this weekend.

[2017-11-21 00:29] vamsiampolu opened #11606 "Issue with input[type=number] rendering decimal points"
**Do you want to request a *feature* or report a *bug*?**

I would like to report a bug.

**What is the current behavior?**

When I use the `<input type=number />`, there is an issue with it displaying one additional decimal point. I noticed that the initial value in state is `1.2`, when I type in a `.` at the end of the input `1.2.` is displayed while the value in state still remains `1.2`.  When

[2017-11-21 01:24] alansouzati commented on #11565
sure. I'm ok if you want to investigate that @505aaron.
Let me know if you need help.

[2017-11-21 07:57] skiritsis commented on #11606
I cannot reproduce this with either React 15.x or React 16.x.

[2017-11-21 09:22] cjpete commented on #11600
Thanks @gaearon @jquense.

I've updated the fiddles with my working solution:

React v15.5: https://jsfiddle.net/6s0tbdab/4/
React v16^: https://jsfiddle.net/hpp0wLkv/2/

Also added some more detail to stack overflow: https://stackoverflow.com/questions/23892547/what-is-the-best-way-to-trigger-onchange-event-in-react-js/47409362#47409362

[2017-11-21 09:36] skiritsis commented on #11299
@gaearon I could also take up any of the tests in case the people that were originally assigned don't have the time required to work on them.

[2017-11-21 09:51] morajabi commented on #11299
@gaearon Sorry for the long delay, I'm making a WIP PR now.

[2017-11-21 11:11] TryingToImprove commented on #11606
I can reproduce this with the webpackbin

[2017-11-21 11:58] reznord commented on #11299
@gaearon Sorry for the long delay 😅. I will be working on this today and will ping you if I have some doubts regarding that.

[2017-11-21 12:37] timjacobi commented on #11299
@morajabi one potential way to tackle this
* Look at `SelectEventPlugin` and understand which functionality is provides to the user
* Write code that makes use of that functionality
* Disable loading `SelectEventPlugin` (comment it out) and see what breaks
* The code you've written is now the first version of your test so you can put it in a test case
* Enable loading `SelectEventPlugin` again and

[2017-11-21 13:04] skiritsis commented on #11606
@TryingToImprove This seems to be related with webpackbin. If you put the following line:
`console.log(e.target.value);` in the "onChange" method, you will notice the value is always an empty string. If you try the same example on the jsfiddle react template it seems to work ok.

[2017-11-21 13:10] AyWa commented on #11601
I am not sure it helps, but can you go to https://github.com/settings/applications then revoke `discuss.reactjs.org` and try again to login ?

[2017-11-21 13:32] InvincibleJun opened #11608 "how to change props in the child component?"
For example, I want to change the prop that my parent component passes by clicking the button. But do not want to be controlled by the incident explicitly. Because I want to make this component more independent, callers do not need too many parameters to achieve two-way communication between parent and child components.

// parent
[code]
// child
[code]

How to do?  Good people.

[2017-11-21 13:37] gaearon commented on #11608
We use the issue tracker for bugs and feature requests. Please refer to the appropriate support resources for asking questions: https://reactjs.org/community/support.html

Thanks!

[2017-11-21 13:37] #11608 closed

[2017-11-21 13:45] nstraub commented on #10515
@gaearon while investigating for my PR I found [this](https://bugs.chromium.org/p/chromium/issues/detail?id=79407).
Apparently, it doesn't fail on macs, only windows and linux (when not running firefox)

[2017-11-21 13:48] ClemDelp commented on #11588
I confirm that it's not a React issue but really how browsers treat disabled element. I only have the problem on chrome & safari

[2017-11-21 13:55] giorgim commented on #11601
@AyWa no it didn't help

[2017-11-21 14:12] gaearon commented on #6217
I just closed https://github.com/facebook/react/pull/6218 because it got stale again. If it is still relevant please submit a new PR (e.g. based on that one) and provide instructions to test the new behavior.

[2017-11-21 14:18] gaearon commented on #2043
As far as I can tell https://github.com/facebook/react/pull/8117 was the latest attempt to do this. It has requested changes (that weren't addressed). So if somebody wants to pick this up they'll probably want to read the discussion there.

[2017-11-21 14:24] nhunzaker opened #11609 "Undo operation on text input throws exception in IE9"
**Do you want to request a *feature* or report a *bug*?**

This is a bug report. It looks like IE9 is unmounting text nodes when undoing text input operations. If the display value of the input is rendered in another component, it raises an exception because IE9 does not allow changes to `nodeValue` on unmounted text nodes.

I think that's the issue, anyway. It is documented here:

https://connect

[2017-11-21 14:25] #11588 closed

[2017-11-21 14:35] nhunzaker commented on #11606
Hey @vamsiampolu! Thanks for the report!

This was a long standing issue with number inputs in Chrome that was fixed by a handful of PRs. All of that work shipped with 15.6.x and 16.x.

Ultimately, there is only so much we can do with number inputs. Invalid numbers report as an empty string and tampering with input validation could cause unexpected behavior. However we think our current solution r

[2017-11-21 14:35] #11606 closed

[2017-11-21 15:20] gaearon opened #11610 "Unfork GCC"
We're currently using a fork of GCC because its [JS version](https://github.com/google/closure-compiler-js) is not updated yet to the GCC version that includes https://github.com/google/closure-compiler/pull/2707. See https://github.com/google/closure-compiler-js/pull/83#issuecomment-344099311.

When there is a new release of the JS version that includes that PR, we should remove [this fork](https

[2017-11-21 17:07] kentcdodds commented on #11396
I've got some time today so I'll start working on fixing this. Thanks @gaearon!

[2017-11-21 18:31] aqumus commented on #11299
@gaearon apology for delay
based on your suggestion, I did tried commenting few parts of `EventPluginRegistry.js` and found alot of test cases failing (`SyntheticWheelEvent`, `ReactDOMComponentTree`, `SyntheticClipboardEvent`, ` SyntheticWheelEvent`, `inputValueTracking`, `SimpleEventPlugin`, `ChangeEventPlugin`, `ReactDOMComponentTree` etc),
I guess mainly because `ReactBrowserEventEmitter.js` us

[2017-11-21 18:55] corohsnk opened #11613 "Request in IE9"
Hello guys, how can I make request in IE9?, actually I make request with axios, but in IE 9 dont work =/, response returns with Network Error and using Fetch response returns with Access Denied.

React 16.0

With Axios

[code]

with Fetch

[code]

[2017-11-21 18:59] jquense commented on #11613
Hey there, your question doesn't seem related to React, but to making requests in JS generally. I'd try some of the general support avenues some of which are documented here: https://reactjs.org/community/support.html We like to keep the issue tracker for feature and bug reports in React. Thanks!

[2017-11-21 18:59] #11613 closed

[2017-11-21 20:34] tkrotoff commented on #7905
@gaearon

Can you provide an example?

[2017-11-21 20:40] gaearon opened #11615 "yarn linc shouldn't fail because of file-has-not-changed warning"
Just saw this after modifying ESLint config and running `yarn linc`:

[code]

We should not treat this particular warning as an error.