[2017-11-21 20:48] HeroProtagonist commented on #11615
Hey! I would be interested in taking a stab at this one

[2017-11-22 00:28] nhunzaker commented on #11097
https://github.com/facebook/react/pull/11534 fixes #7328 (IE 11 and Edge no longer prompt to remember password on controlled form)

[2017-11-22 02:31] gaearon opened #11618 "Investigate uncovered differences between development and production"
Follow up from https://github.com/facebook/react/pull/11616.

Here's one I found. These two invariants:

https://github.com/facebook/react/blob/7e7127387ba64f57299eaff8656542cea6fb3a2d/packages/react-reconciler/src/ReactFiberClassComponent.js#L330-L343

are in a function that's behind a DEV block:

https://github.com/facebook/react/blob/7e7127387ba64f57299eaff8656542cea6fb3a2d/packages/react-recon

[2017-11-22 02:46] gaearon opened #11619 "Include component stack in invariants"
IIRC we didn't include it because it was DEV-only. But it's not anymore.
Maybe let's start including it?

Errors are often more prominent than warnings, and it would be great to have this info in both.

[2017-11-22 04:31] MEDIOCAL commented on #11527
function enqueueUpdate(component) {
  ensureInjected();

  // Various parts of our code (such as ReactCompositeComponent's
  // _renderValidatedComponent) assume that calls to render aren't nested;
  // verify that that's the case. (This is called by each top-level update
  // function, like setState, forceUpdate, etc.; creation and
  // destruction of top-level components is guarded in ReactMount

[2017-11-22 05:37] ark9606 commented on #11601
### issue

[2017-11-22 07:01] ajhyndman opened #11621 "createPortal child ref callbacks are called AFTER componentDidMount"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When using the new ReactDOM `createPortal` API, adding a ref callback to the portal subtree is not fired until *after* `componentDidMount` in the current component.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsf

[2017-11-22 10:04] iDuuck commented on #10212
I don't know why I am the only one, but this is still happening for me. Getting this with Version v16.1.1.

[2017-11-22 10:20] Strate commented on #11027
Just fall into this issue after upgrade to react 16. It is very common for me to do `onClick={this.props.disabled || this.props.onClick}`, or similar things. Also it is match with exist behaviour of jsx: `<div>{this.props.visible && <span />}</div>`. I'd like to have this feature too.

[2017-11-22 10:57] danilowoz commented on #11299
Sorry @gaearon I tried to do, but now I don't free time to finish it
So if anyone else wants to get my issues, feel free :)

[2017-11-22 11:15] xastor commented on #9242
The react-shadow-dom-retarget-events module works, but has a few problems of its own.  If I'm correct, it picks on the native events on the shadow dom element, and then directly calls the react component event handlers (onClick, etc.. ) using those native events, instead of synthetic events.  I think that because of this, stopPropagation() does not work.

It would be nice to see the React team pic

[2017-11-22 11:32] gaearon commented on #11618
Here’s another difference: in development, putting a string ref on a functional component throws with:

but in production gives you:

[2017-11-22 11:32] clementallen opened #11624 "renderToStaticMarkup incorrectly renders async attribute"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behaviour?**
The async tag is rendered with a value of empty quotes like so: `<script async="" src={url}></script>`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem:**
http://jsfiddle.net/twceacmz/
*Note:* The fiddle adds the async tag to a di

[2017-11-22 11:38] skiritsis commented on #11299
@danilowoz @gaearon If you do not mind I could take BeforeInputEventPlugin-test.js.

[2017-11-22 11:52] gaearon commented on #11624
Does this *break* the code? Boolean attributes can be emitted with `=""` per spec as far as I know.

[2017-11-22 12:06] kkdatkiran commented on #961
@wnr
I followed this way.

let disabled = isReadonly ? {'disabled' : 'disabled'} : {};
<input {...disabled} />

[2017-11-22 12:38] clementallen commented on #11624
@gaearon no it doesn't appear to break the code, but surely both methods should behave the same when outputting boolean attributes?  Feel free to close if unnecessary.

[2017-11-22 13:22] gaearon opened #11626 "Add some sugar to simplify test assertions"
I made tests a bit too verbose in https://github.com/facebook/react/pull/11616.
Might be a good time to revisit how we write them now.

There's a few separate issues:

* Asserting on warning messages is too verbose. Need a DEV block, call `spyOnDev`, normalize stack, etc. Ideally I wish there was a higher level helper that lets us "push" expected warning assertions and validate them as they happen

[2017-11-22 13:24] gaearon commented on #11624
AFAIK `async=""` is a valid way to write it so I'll close this. If you feel strongly about this though feel free to send a PR that removes empty quotes for such cases (booleans only I think).

[2017-11-22 13:24] #11624 closed

[2017-11-22 13:30] gaearon commented on #961
You *should not* write CSS selectors like `[checked]`. This is just a wrong way to approach the problem. Browser doesn't guarantee that attributes stay synced with properties.

In your example, instead of

[code]

you should use `:checked` pseudoclass:

[code]

Then it works with expected when toggled through JS (including React).

[2017-11-22 13:38] shaedrich commented on #690
[code]

is a nice approach, but it would be even more if JSX could support something like this natively as it is used in Ruby:

[code]

in templates:

[code]

so in JSX it could look like this:
[code]

[2017-11-22 15:18] morajabi commented on #11299
@timjacobi What is the replacement for `ReactDOMComponentTree.getInstanceFromNode`?

[2017-11-22 15:44] LukasBombach opened #11628 "Question: What is your workflow to release a new version"
Hello,

if I am totally out of place asking this here I am sorry, please close this issue. I work at a German newspaper and we are publishing some smaller npm packages publically as open source and some for our own purposes privately.

Currently, we are not quite sure of our workflow and we want to learn from the best (YOU 🎉 ). We are wondering how you manage to publish new releases of React. I se

[2017-11-22 15:50] gaearon commented on #11628
That’s pretty much what we do. :-) You can view the source for both [build](https://github.com/facebook/react/blob/master/scripts/release/build.js) and [publish](https://github.com/facebook/react/blob/master/scripts/release/publish.js) scripts.

[2017-11-22 15:50] #11628 closed

[2017-11-22 15:51] gaearon commented on #690
See https://github.com/facebook/jsx/pull/98 and https://github.com/facebook/jsx/pull/99.
I’ll lock this issue because it is more about JSX than React. Hopefully the above links are helpful.

[2017-11-22 15:59] gaearon commented on #11626
Here's one proposal:

[code]

for the most common `console.error` case. If pattern is a string, it expects a single warning. If it is an array, it expects multiple warnings. All patterns are normalized so it's easy to match the component stack traces.

The nice thing about it is it clearly scopes *which* code is supposed to warn. The downside of this is that it's harder to assert on things that *b

[2017-11-22 17:11] gaearon commented on #10212
File a new issue with a reproducing case please.

[2017-11-22 17:11] gaearon commented on #10212
It's hard to keep track of problems in closed issues so I'll lock this one.

[2017-11-22 17:26] ericclemmons commented on #10955
Somewhat related, but you can see similar errors when using something like http://barecss.com/ with custom tags:

[code]

Users experiencing this legitimately are likely in the minority, I'm sure.

[2017-11-22 17:39] LukasBombach commented on #11628
Thanks man!

[2017-11-22 18:10] gaearon commented on #11618
https://github.com/facebook/react/pull/11630

[2017-11-22 18:17] gaearon commented on #10955
The site says it explicitly:

This is not great because it prevents standards from actually introducing such elements in the future (since they may break existing websites). I don’t think we’ll be going out of our way to support this.

[2017-11-22 18:57] timjacobi commented on #11299
@morajabi I'm not sure you're tackling this at the right level. Could you open a WIP PR with what you have so far? I don't want to pollute this thread too much.

[2017-11-22 18:58] #11618 closed

[2017-11-22 20:23] gaearon commented on #11626
Another thing to consider. We currently globally mock `ReactFiberErrorLogger` because it is too noisy. We could remove that global mock but then every test that throws inside React call stack would also log a warning (which it does for consumers in open source). Maybe we could solve this with an extra matcher. Or make it configurable somehow.

[2017-11-22 20:49] gaearon commented on #11098
Can you clarify what you mean by this?

When you see this warning but your test *doesn't* fail, it means your code is throwing somewhere but then this error gets caught and never reaches your test's stack frame.

[2017-11-22 21:49] ericclemmons commented on #10955
Oh, I completely understand the implications.  I just wanted to add that note that, again, likely a minority of people may see that's not directly related to SVG.

It's a warning, after all. (for those that find this since it's ranked #1 in Google for this warning)

[2017-11-23 01:27] ajhyndman commented on #11621
Ahh, this one is user error.  I had a typo in my reduced test case, and I was misunderstanding the composition in the scenario I thought I ran into this at first.

`createPortal` is awesome so far!  I'll close this.

[2017-11-23 01:27] #11621 closed

[2017-11-23 02:42] gaearon commented on #9955
Sent a PR: https://github.com/facebook/react/pull/11633

[2017-11-23 06:42] FateRiddle opened #11640 "Can React have a 'watcher'? It is bad practice `setState` inside `componentDidUpdate()`, what are the alternatives?"
**Do you want to request a *feature* or report a *bug*?**
feature.

[code]

Say 5,4,1,7 ... passed into `<Display />`, I want the component to display:
5, haha, 4, haha, 1, haha, 7 ,haha, ... (and I want haha to show just in a flash)

[code]
But setState inside componentDidUpdate is bad practice, right? So what should I do?
And can we have a 'watch' method like in Vue.js?

[2017-11-23 09:00] gedy opened #11642 "The radio box and check box are disabled and checked ，the DOM structure lacks checked attributes"
**report a *bug***

**The radio box and check box are disabled and checked ，the DOM structure lacks checked attributes**

jsx：
&lt;input type='radio' checked disabled /&gt;

The browser structure after rendering：
&lt;input type="radio" disabled="" value="on" /&gt;

Our css is:
input[checked] { color: blue }

Result:
“checked” is missing，CSS failure

[2017-11-23 10:32] Tom-Bonnike commented on #11538
We can also reproduce this bug on our own app. Thanks for the report.

[2017-11-23 11:28] rlesniak opened #11643 "Flowtype and class inherit"
I have a problem with react 16 and its Flowtype typings.

Lets assume that I have

[code]

My question is, how to pass additional Props to Bar component?

[2017-11-23 11:36] gaearon commented on #11643
Please report this to http://github.com/facebook/flow.
We’re not maintaining those bindings ourselves.

That said we’re *not* recommending to use inheritance with React components.
https://reactjs.org/docs/composition-vs-inheritance.html

[2017-11-23 11:36] #11643 closed

[2017-11-23 11:53] jamiewinder commented on #11640
I wouldn't be using the React lifecycle at all for this (nor relying on the period of time between lifecycle methods to flash up text). It's entirely a problem of state - "what should I show, for how long, and what is next?"

Example (in ES2017 for brevity):

[code]
(This isn't a flawless solution - it doesn't support changing props, handling dismount, etc.)

[2017-11-23 12:47] jquense commented on #11642
Yes changing props on react elements doesn't change the html output of those elements. React, like most frameworks that manipulate the DOM changes the DOM _property_ not the attribute, this means your css attribute selector won't work, since it's not changing. Luckily tho you can change your css to use the `:checked` pseudo selector instead

[2017-11-23 12:47] #11642 closed

[2017-11-23 13:43] International opened #11645 "React roadmap document?"
**Do you want to request a *feature* or report a *bug*?**
A feature

**What is the current behavior?**
I think many people would be interested in a document that would show the future/long term plans for React, and features that are planned.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar**

[2017-11-23 14:26] EdonGashi commented on #10441
Getting same behavior as two previous comments in chrome.

[2017-11-23 14:46] gaearon opened #11646 "`yarn linc` should also lint untracked files"
Too often I would run `yarn linc`, it would say lint passed for changed files, and then I'd realize I have not *added* a file yet so it doesn't see the file.

We should make `yarn linc` include untracked files. Note that if a file is *ignored* in git that's a different matter. But if it *shows up as untracked* it's extremely likely I want to lint it.

[2017-11-23 15:15] esturcke commented on #11565
I've been running into problems testing portals in a CRA project with `react-test-renderer` as well, but with a different failure. I tried the reproduction case above, but wasn't sure how @alansouzati defined `this.dropContainer`. I tried:

[code]

The error I'm getting is

[code]

Is this a separate issue or am I doing something wrong?

[2017-11-23 15:43] accordeiro commented on #11646
Hi! Can I help with this one? :)

[2017-11-23 16:24] gaearon commented on #11646
Sure!

[2017-11-23 17:16] accordeiro commented on #11646
Cool – I'll work on this and send a PR until this weekend.

[2017-11-23 17:53] gaearon commented on #9955
Fixed by https://github.com/facebook/react/pull/11633.

[2017-11-23 17:53] #9955 closed

[2017-11-23 18:15] Rich-Harris commented on #11503
Came here via [this Twitter conversation](https://twitter.com/dan_abramov/status/933754555124322305). For me, there's a clear correct answer to this question: React and ReactDOM should **only** export named exports. They're not objects that contain state, or that other libraries can mutate or attach properties to (#11526 notwithstanding) — the only reason they exist is as a place to 'put' `Compone

[2017-11-23 18:20] gaearon commented on #11503
People have really come to like

[code]

so convincing them to give it up might be difficult.

I guess this is not too bad, even if a bit odd:

[code]

To clarify, we need `React` to be in scope (in this case, as a namespace) because JSX transpiles to `React.createElement()`. We could break JSX and say it depends on global `jsx()` function instead. Then imports would look like:

[code]

which is m

[2017-11-23 18:47] Rich-Harris commented on #11503
Confession: I always found it slightly odd that you have to explicitly import `React` in order to use JSX, even though you're not actually using that identifier anywhere. Perhaps in future, transpilers could insert `import * as React from 'react'` (configurable for the sake of Preact etc) on encountering JSX, if it doesn't already exist? That way you'd only need to do this...

[code]

...and the n

[2017-11-23 18:49] gaearon commented on #11503
In a distant future, maybe. For now we need to make sure transpilers work with other module systems (CommonJS or globals). Making this configurable is also a hurdle, and further splits the community.

[2017-11-23 18:58] morajabi commented on #11299
@timjacobi I can't when I haven't committed anything new. I'm sorry I'm pretty busy these days if someone can take `SelectEventPlugin-test`.

[2017-11-23 20:07] Andarist commented on #11503
What @Rich-Harris suggested (inserting a specific import when jsx is used) is easily done by transpilers plugin. The community would have to upgrade their `babel-plugin-transform-react-jsx` and that's it. And of course even existing setups would still work if only one adds `import * as React from 'react';` to the file.

Of course we need to consider other module systems, but it doesn't seem like a

[2017-11-23 20:25] gaearon commented on #11503
I don’t know, what is your specific suggestion as to how to handle it? Would what the default be for Babel JSX plugin?

[2017-11-23 20:32] jamiewinder commented on #11503
What people? Come forth so that I may mock thee.

[2017-11-23 21:02] gaearon commented on #11503
I did that a lot 🙂 Pretty sure I've seen this in other places too.

[2017-11-23 22:01] Andarist commented on #11503
Default is at the moment [`React.createElement`](`https://github.com/babel/babel/tree/6d820a27578254603ad6d6623277f31d5410a37c/packages/babel-plugin-transform-react-jsx#pragma`) and it would pretty much stay the same. The only problem is that it assumes a global now (or already available in the scope).

I think as es modules are basically the standard way (although not yet adopted by all) of doing

[2017-11-24 00:50] gaearon commented on #11299
It seems like we no longer need `ReactDOMServerIntegration-test` (cc @minerado) as I have covered it together with other changes.

[2017-11-24 01:03] gaearon commented on #11299
@aqumus Based on your analysis I'll remove `EventPluginRegistry-test.js` from this list. I think we'll keep this as a unit test of those particular internals, but it's good to know actual logic is covered by other tests.

[2017-11-24 01:18] gaearon commented on #11299
@king0120 I'll reassign `getEventCharCode-test` to @aarboleda1 because he's working on a very related test in https://github.com/facebook/react/pull/11631, and it might be easier to do them together.

[2017-11-24 03:32] cliener commented on #10871
Webkit bug: https://bugs.webkit.org/show_bug.cgi?id=179990

[2017-11-24 03:35] Kunoky opened #11649 "When I was in the onClick`s callback, simulating clicking on other elements triggers an additional callback"
Here's the link ：https://codepen.io/afc163/pen/JOvzZy?editors=0011
`
class NormalLoginForm extends React.Component {
  handleSubmit = (e) => {
    e.preventDefault();
    console.log('click button');
    //模拟点击
     document.getElementById('div').click();
  }
  render() {
    return (
      <div>
        < button onClick={this.handleSubmit} >
          Log in
        </ button >
        <div id='d

[2017-11-24 07:06] skiritsis commented on #11299
@timjacobi @gaearon I could take a look at SelectEventPlugin-test.js as well.

[2017-11-24 10:42] JulianSuringa commented on #9956
Confirm fix safari 9.1.3 for react version 5.6.1 and react-dom 15.6.1.

[2017-11-24 10:47] TrySound opened #11650 "forceUpdate recalls all ref callbacks"
**Do you want to request a *feature* or report a *bug*?**

Bug, maybe

**What is the current behavior?**

On calling forceUpdate ref callbacks called again. So, doing forceUpdate in ref callback makes infinite loop.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: htt

[2017-11-24 12:17] gaearon commented on #11650
The fact that refs are called on any updates is expected if you pass an arrow function. I explained why here: https://github.com/facebook/react/issues/9328#issuecomment-298438237. It is also mentioned in the ref documentation.

The infinite loop itself sounds somewhat expected to me too. You can use ref callbacks for setting fields or setting/clearing native event subscriptions. But unconditionall

[2017-11-24 12:26] TrySound commented on #11650
@gaearon Got it. Thanks. With function reference it works fine.)
The problem is reacting on dom element existing for react-virtualized WindowScroller
forceUpdate called by https://github.com/andreypopp/react-derivable on atom changes

[2017-11-24 12:26] #11650 closed

[2017-11-24 12:37] gaearon commented on #11650
I don't think I understand the problem from this description. But if your ref callback does anything other than setting a field, it's probably the wrong place to do that.

[2017-11-24 12:40] jvitoroc commented on #11649
Line 6, you are calling
`document.getElementById('div').click();`

[2017-11-24 12:42] gaearon commented on #11649
One click is caused by the actual click.
The other click is caused by your `click()` call.

[2017-11-24 12:42] #11649 closed

[2017-11-24 18:09] giorgim commented on #11527
@mweststrate just 2 cents: that is very valid question.
I am sure we all agree it would be much easier to reason about the state if setState was synchronous.
Whatever where reasons to make setState asynchronous I am not sure react team well compared that to the drawbacks that would introduce, e.g. the difficulty to reason about the state now and the confusion that brings to developers.

[2017-11-24 18:49] Ethan-Arrowood commented on #11619
I handled a similar issue https://github.com/facebook/react/pull/11208 before. Could I try this one? I'll try to find what these 'invariants' are.

[2017-11-24 18:52] Ethan-Arrowood commented on #11619
<img width="488" alt="screen shot 2017-11-24 at 1 52 34 pm" src="https://user-images.githubusercontent.com/16144158/33221598-c11daac0-d11e-11e7-8260-40c17c016f14.png">
Sections of code like this?

[2017-11-24 18:58] Ethan-Arrowood commented on #11619
https://github.com/facebook/react/blob/7d27851bf4aa8129276614b62edf9ade4aaa4cbd/packages/react-dom/src/client/ReactDOM.js#L657-L710

Using the code from my previous issue:
[code]

Would I also want to add the `getCurrentFiberStackAddendum() || ''` to the warnings on lines 691 & 699?

[2017-11-24 19:00] gaearon commented on #11619
This is top level rendering so component stack wouldn't be useful there (you're not *inside* a component). I was thinking about these:

https://github.com/facebook/react/blob/7d27851bf4aa8129276614b62edf9ade4aaa4cbd/packages/react-reconciler/src/ReactChildFiber.js#L162-L164

https://github.com/facebook/react/blob/7d27851bf4aa8129276614b62edf9ade4aaa4cbd/packages/react-reconciler/src/ReactFiber.js#

[2017-11-24 19:12] Ethan-Arrowood commented on #11619
Okay sweet. I'm down to implement the component stack in each of these. What other files should I implement this change in? Is there an easy way to determine which are *inside a component*?

[2017-11-24 19:26] gaearon commented on #11619
Look at what the message says. Look at examples of this invariant in tests. See if it's something that happens inside a component or not.

[2017-11-24 19:31] Ethan-Arrowood commented on #11619
Gotcha. I noticed some invariants already have the component stack on the \_\_DEV\_\_ addendum (Lines 157 and 168):
https://github.com/facebook/react/blob/7d27851bf4aa8129276614b62edf9ade4aaa4cbd/packages/react-reconciler/src/ReactChildFiber.js#L153-L171

Should I remove it from the \_\_DEV\_\_ and put it directly on the invariant:
[code]

[2017-11-24 19:37] giorgim opened #11651 "Question from react reconciliation"
With the goal to better understand react reconciliation I created this example

[code]
You can see after three seconds `showWarning `is set to true. **So I was believing that after three seconds I would get a new instance of `<Stateful>` component (because it lives in a different div than the one rendered already)**  - hence I would see the output of `Stateful `component starting from 0 again, but

[2017-11-24 20:18] gaearon commented on #11619
That sounds reasonable.

[2017-11-24 20:21] #11651 closed

[2017-11-24 20:29] Ethan-Arrowood commented on #11619
@gaearon when you get a chance review my changes in the mentioned PR

[2017-11-24 20:32] giorgim commented on #11651
@gaearon hm Yeah and in both cases here it seems Stateful has same **key**.

I think I was somehow confused by this example: https://github.com/facebook/react/issues/11540, but that is a different situation that I look at it now, right? In this latter example react will key all 4 buttons (**regardless of the fact whether all 4 of the buttons are being rendered or not**) using keys for example "1",

[2017-11-24 20:36] gaearon commented on #11651
Yes, this sounds about right.

[2017-11-24 20:41] giorgim commented on #11651
@gaearon dan but isn't react using information from lines in this example https://github.com/facebook/react/issues/11540 when keying all 4 buttons using keys "1","2","3","4"? (even though only 2 of them can be visible at a time).

Why isn't it doing same in this case? and say assigning key "1" to first occurence of `Stateful `in code, and key "2" to second occurence of `Stateful `in code?

it seem

[2017-11-24 20:48] giorgim commented on #11651
@gaearon What I mean is for example here: http://codepad.org/wFu05TmJ, indeed after 3 seconds it draws buttons "3" and "4" on screen. Is that case different from the case presented in the question of this thread? (why in former it rendered a different button instance and in the latter it used same instance of Stateful component)

[2017-11-24 21:01] giorgim commented on #11651
@gaearon dan can you please confirm my conclusion in above comment? (last two lines).

[2017-11-24 21:17] gaearon commented on #554
This has been released in 15.6.x.

[2017-11-24 22:11] gaearon commented on #11651
Yes, this sounds right. I think you'll find it easier to understand if you compile JSX in Babel REPL:

https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=Q&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=react&prettier=false&targets=&version=6.26.0

This will show you how JSX is just `createElement` calls. In your example with `1`, `2`, `3`, and `4`, the

[2017-11-24 22:44] giorgim commented on #11651
@gaearon I discovered another interesting thing.
Did you know below:

 render() {
    return (<div>
    {this.state.test==1 ? <Stateful/> : <Stateful/>}
    </div>);
  }

if value of `test `changes, it still uses same instance of `<Stateful/>` component? So it didn't key them like it keyed buttons in this case: https://github.com/facebook/react/issues/11540

[2017-11-25 00:14] sw-yx commented on #11651
using the babel transpiler site dan pointed out above:

[code]

transpiles to

[code]

whereas

[code]

transpiles to

[code]

to React, this is a different structure.

[2017-11-25 01:42] gaearon commented on #11651
Consider every argument after the second one to `createElement` a "hole". Every hole gets an
implicit index.

The same hole gets filled with `<Stateful />` in both cases:

[code]

Two different holes get filled either with `<Stateful />` or with `null`:

[code]

[2017-11-25 01:54] gaearon commented on #11299
@email2vimalraj FYI, I rewrote `inputValueTracking-test`.

[2017-11-25 02:56] gaearon opened #11656 "Deprecate TestUtils.SimulateNative"
I'm not sure if it was ever intended to be a part of public API.

It's not documented, and its naming is misleading because it actually doesn't simulate a native event (oops!). It only simulates what React would do if it *received* that native event. It does that in a way that's very tightly coupled to the event system internals which is unfortunate. It is much better if we can educate people how

[2017-11-25 02:56] gaearon commented on #11656
cc @ljharb not sure if you folks use it?

[2017-11-25 03:07] gaearon commented on #11299
These tests don't currently have an owner:

- [ ] `ReactBrowserEventEmitter-test.js` (5/5)
- [ ] `BeforeInputEventPlugin-test.js` + `FallbackCompositionState-test.js` (5/5)
- [ ] `ReactTreeTraversal-test.js` (4/5)
- [ ] `getNodeForCharacterOffset-test.js` (3/5)
- [ ] `SelectEventPlugin-test` (2/5)

I sorted them by my perception of their difficulty.

We have a queue with @timjacobi @kwnccc @skirit

[2017-11-25 03:17] gaearon opened #11657 "Investigate CI failure (possible race condition)"
It looks like this:

[code]

https://circleci.com/gh/facebook/react/7816?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

It happened two times on random commits, and I don't see a pattern. Probably caused by me changing how tasks are distributed between parallel nodes in https://github.com/facebook/react/pull/11633. I don't understand why `upload_build.sh` would

[2017-11-25 03:24] gaearon commented on #11299
@skiritsis Since you were interested I'll reassign `SelectEventPlugin-test` to you.

[2017-11-25 06:02] Kunoky commented on #11649
我通过 ‘click()’ 点击的是‘div’，而不是button；
可却触发了button的回调
I click 'div' through 'click ()', not button;
But it triggers the callback of button

[2017-11-25 08:17] madeinfree commented on #11299
I'd like to work on ReactBrowerEventEmitter-test.js 💪

[2017-11-25 09:24] giorgim commented on #11651
@gaearon I see now

[2017-11-25 09:27] email2vimalraj commented on #11299
@gaearon: Thanks for that, sorry for not responding on time. Got busy with other work. I'll look into how you rewrote for my understanding.

[2017-11-25 09:42] timjacobi commented on #11299
I can take a look at `ReactTreeTraversal-test.internal.js`

[2017-11-25 09:58] varun1101 commented on #11657
Hey! I would like to have a go on this one. I'm a beginner and I would appreciate any pointers on where to start.

[2017-11-25 10:13] giorgim commented on #11651
@gaearon I see now. though having this stuff explained in docs would not have hurt though. I understand some of this stuff goes beyond the basics, but they are needed to know anyway.

[2017-11-25 10:28] xy-ty commented on #6593
same here when I use dragula.js + react 16 + meteor 1.6 any one can help me

[2017-11-25 12:46] gaearon commented on #6593
As already noted above, this is not a problem with React. It is not supported to have third party libraries remove nodes that are already managed by React. If you need to have a third party library modify the DOM, *add that DOM node to a leaf never changing React node yourself* in a lifecycle hook, and then you can do anything with it. This guide dives into more detail: https://reactjs.org/docs/in

[2017-11-25 12:50] gaearon commented on #11299
@madeinfree Let's give a few days to @kwnccc to reply first since he's already in the queue. If he's not interested, I'll assign it to you later.

[2017-11-25 13:11] madeinfree commented on #11299
@gaearon OK! got it, thank you ~

[2017-11-25 13:24] gaearon commented on #11651
You can always send doc PRs :-) https://github.com/reactjs/reactjs.org

But again, the balance is very hard. We have to cater to the broadest audience possible. From my experience of replying in issues for a few years, 95% of people aren't ready to learn about these details when they're just learning React. The 5% like you could indeed benefit from a better explanation.

If you have an idea of how

[2017-11-25 13:25] gaearon commented on #11657
I think this one would require some experience with CircleCI. I don't have any pointers as to where to start: I don't understand why it's failing myself. So it's not a very beginner-friendly issue (I marked the difficulty as medium for that reason).

[2017-11-25 13:28] ljharb commented on #11656
I don't see any usage of it in all of our enzyme code; *however*, we haven't yet written an `enzyme-adapter-react-native`, so we might need it there for the `.simulate()` method.

However, I've grown to think the "simulate" event API in enzyme is actually a huge footgun and discourage its use anyways, so it's fine to deprecate by me :-)

[2017-11-25 13:38] nhunzaker commented on #11656
Agreed! Simulate Native generates a fake event (not even a DOM event) that has always been confusing to me working on event system internals. It would be great to get rid of it.

[2017-11-25 14:22] curgery commented on #6174
react-addons-perf working on react version 16(.1)? Stackflow's documentation is stating otherwise.....
RLG

[2017-11-25 15:00] giorgim commented on #11651
@gaearon ok, I understand.

[2017-11-25 15:39] koba04 commented on #6174
@curgery

* https://reactjs.org/docs/perf.html
* https://reactjs.org/docs/optimizing-performance.html#profiling-components-with-the-chrome-performance-tab

[2017-11-25 15:57] gaearon opened #11659 "Move ReactFiberTreeReflection to react-reconciler/reflection"
We should:

* Move `ReactFiberTreeReflection` to be exported from `react-reconciler/reflection` entry point (similar to how `react-dom/test-utils` entry point is set up).
* Create a flat bundle for it (similar to how `react-dom/test-utils` is set up in `bundles.js`).
* Change code that imports `ReactFiberTreeReflection` directly to do it through `react-reconciler/reflection` instead.
* Make `react

[2017-11-25 16:08] gaearon opened #11660 "Add bundle linting and tests to the release script"
On CI, we currently lint bundles:

https://github.com/facebook/react/blob/d1cb28c86b966cb33c373b532abe62dfe563d00e/scripts/circleci/build.sh#L11-L12

and then run both development and production bundle tests:

https://github.com/facebook/react/blob/d1cb28c86b966cb33c373b532abe62dfe563d00e/scripts/circleci/test_entry_point.sh#L24-L25

We should add the first step (linting bundles) into a `package.j

[2017-11-25 16:20] theGABS opened #11661 "What I should do if another dependency use React.PropTypes"
I use "react": "16.0.0-beta.5".

Some another package use React.PropTypes - I cannot update another package. What should I Do?

I search some polyfill. I try to write my own, but it doesn't work.
[code]

[2017-11-25 16:25] watadarkstar commented on #11660
I can take this :)

[2017-11-25 16:26] gaearon commented on #11661
As a temporary escape hatch you can create `patchReact.js` with

[code]

and then put

[code]

as the very first import in your app before **any** other imports. Then it will work.

But really, you should file an issue with the package that still uses `React.PropTypes` or fork it. There is an [automated conversion script](https://github.com/reactjs/react-codemod#react-proptypes-to-prop-types) you

[2017-11-25 16:26] #11661 closed

[2017-11-25 16:26] GordyD commented on #11299
@gaearon I'll take a look at combining `BeforeInputEventPlugin` + `FallbackCompositionState` if there are no other takers.

[2017-11-25 16:38] gaearon commented on #11660
Sounds good!

[2017-11-25 16:39] gaearon commented on #11657
Another example: https://circleci.com/gh/facebook/react/7827?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2017-11-25 16:41] gaearon commented on #11299
Sounds good, thanks @GordyD!

[2017-11-25 16:42] gaearon commented on #11299
By the way, here's a few more event tests that got converted, to give you an idea of what this code usually ends up being like: https://github.com/facebook/react/pull/11631 https://github.com/facebook/react/pull/11525

[2017-11-25 17:03] rivenhk commented on #11659
can i work on this one? I may need some time to study it first~

[2017-11-25 17:07] theGABS commented on #11661
I don`t sure.
But looks like it doesn`t work.

I got:
undefined is not an object
evaluating _react2.PropTypes.object

[2017-11-25 17:07] gaearon commented on #11659
Sure, but please don't disappear and keep us updated. :-)

[2017-11-25 17:10] rivenhk commented on #11659
no problem! will keep you posted!

[2017-11-25 17:14] HardikModha commented on #11659
Add me in a queue. :)

[2017-11-25 18:15] ctxhou commented on #11657
@gaearon I want to work on this. After doing some research on circleci document, I didn't find the document said about parallel test and deployment sequence. I'm curious about how circleci deal with parallel test and deployment sequence. I think there are two situations:

1. After all parallel test finishes, run deployment sequence. If this is true, I think it won't cause current test error.
2. Ea

[2017-11-25 18:26] gaearon commented on #11657
Only node 2 does a full build. So I don't understand how deployment on other nodes could work at all.

[2017-11-25 18:27] gaearon commented on #11657
Or do nodes share the file system?

[2017-11-25 18:59] ctxhou commented on #11657
I think nodes share the file system. Otherwise, it should fail every time.

It will be easier to debug if we can add more log, like current build time and [artifacts](https://circleci.com/docs/1.0/build-artifacts/).

[2017-11-25 19:04] gaearon commented on #11657
Would it make sense to change the upload script to only run on the second node?

[2017-11-25 19:18] gaearon commented on #11661
This is not enough information to help you, sorry. We can't guess what went wrong without a full reproducing example.

Also, this is a bug tracker. Please refer to community resources for support: https://reactjs.org/community/support.html

[2017-11-25 23:22] timjacobi opened #11663 "eventPhase property of onClickCapture events has wrong value"
**Do you want to request a *feature* or report a *bug*?**
I assume this is a bug.
**What is the current behavior?**
When I register an `onClickCapture` event handler, click on the element and then inspect the event the `eventPhase` property is set to `3` which is equivalent to `Event.BUBBLING_PHASE`.

I'm currently rewriting the `ReactTreeTraversal` tests to use the public API, that's how I found

[2017-11-26 03:12] aweary commented on #11663
This is a known issue, see https://github.com/facebook/react/issues/9783. I've got an open PR that fixes this at #10722 that I just need to polish up.

[2017-11-26 04:19] ctxhou commented on #11657
Yep, I think so, because in the document I can't ensure whether deployment stage is triggered after all parallel test finished.

[2017-11-26 05:20] sw-yx commented on #9866
pinging @nhunzaker when you have a sec to take a look again! thanks!

[2017-11-26 10:24] timjacobi commented on #11663
Thanks and sorry for the dupe. I did some searching but didn’t find the old issue.

[2017-11-26 13:33] gaearon commented on #11657
Can we just put the deployment command right into the test command? Is there any benefit to separating them?

[2017-11-26 14:04] accordeiro commented on #11646
Just sent a PR – please let me know if this is what you were looking for :)

[2017-11-26 15:07] ctxhou commented on #11657
I think it's also workable, but may lead a misunderstand meaning. Cause we put build process to test stage.
Or we can try to use [compile](https://circleci.com/docs/1.0/configuration/#compile) stage. Run `'./scripts/circleci/build.sh'` at compile stage, so we can promise `test` and `deployment` stages have needed file.

[2017-11-26 16:47] #11660 closed

[2017-11-26 17:06] #11663 closed

[2017-11-26 17:08] gaearon commented on #11657
The interesting part is our regular tests don't need compilation. If "compile" stage has to run before any other stages then we'll wait unnecessarily. I'd prefer to have a single script that does everything than to buy into CircleCI specific terminology unless it buys us something real good (e.g. parallelism was very useful). Maybe can try this: https://github.com/facebook/react/compare/master...g

[2017-11-26 17:22] ctxhou commented on #11657
OK, I understand your consideration.
I think this fix will work. Just tell me if anything can help.

[2017-11-26 18:03] #11657 closed

[2017-11-26 22:50] gaearon opened #11667 "RFC: Drop isAttributeSafe() check in React 17"
We currently validate DOM attributes on the client and ignore the ones with invalid names:

https://github.com/facebook/react/blob/0c164bb4851e78e5f789dd8619f17ffcfee0221f/packages/react-dom/src/client/DOMPropertyOperations.js#L202-L204

This check used to be important for safety when we did `innerHTML` rendering on the client side, but it's not anymore. If we just let it call `setAttribute`, the

[2017-11-27 07:15] Ethan-Arrowood commented on #11667
@gaearon I can take this one if you don't mind

[2017-11-27 08:48] rivenhk commented on #11659
@gaearon I think i am on the right track. Currently, the build process is using rollup to bundle the imports into a single js file. Instead of bundling together, we want it to be a dependency and load it using require after the bundling process.

I notice that ReactFiberTreeReflection is also used in packages like react-dom, react-native-renderer, etc, does that mean i need to add the dependency i

[2017-11-27 09:23] bonusrk commented on #11530
Well, i can say, that it seems, that new Chrome touch handling (which they made for performance improve), makes `touchstart` fires after delay and makes it uncontrollable inside `Synthetic event`.
Native `addEventListener` looks like walk-around, even it is not react-way as i think.

[2017-11-27 09:25] love-fay commented on #11649
@Kunoky I find you are Chinese and I talk about it with you in Chinese.
你没有理解虚拟dom的意思，react内部事件仅仅对最外层的容器进行了绑定，并不是绑定到你这个button上，所以e.preventDefault();也就没有用了，尽量避免虚拟事件和真实事件混用。

[2017-11-27 10:14] baharev commented on #11530
I think there are two things to be done.

(1) The vanilla JavaScript code that you prepared shows a bug in Chrome. This bug won't be fixed unless somebody submits a bug report. Should I do it?

(2) In the meantime, a workaround is needed. Could you expand on your idea (with code) how to "solve" this issue, please?

[2017-11-27 11:37] the-spyke commented on #11111
Any workarounds for using `.renderIntoDocument()` in tools like `CodePen` with `react@16`?

[2017-11-27 12:06] bonusrk commented on #11530
@baharev updated example repo  with walk-around:
[repo](https://github.com/bonusrk/nonReact-test)
Pretty ugly way, but here it is (i wrote again the very basic code):
So we add very native event listeners, like we can do with events, like `resize`. It will be added to native event on `componentDidMount` and will be killed on `componentWillUnmount`
[code]

[2017-11-27 12:15] baharev commented on #11530
Great, thanks! An ugly but working solution is still better than a beautiful but not working one.

My other question was: Who should submit a bug report to Chrome?

[2017-11-27 12:17] bonusrk commented on #11530
@baharev Does it work for you?

[2017-11-27 12:25] baharev commented on #11530
@bonusrk  I haven't tried it yet, and I cannot try it on Windows (I am on Linux). I might be able to try it on Linux later this week.

Once again: Who should submit a bug report to Chrome?

[2017-11-27 12:29] bonusrk commented on #11530
Well, i think, that you as a glorious explorer of this bug have all rights to create it and get all honor you deserved =)

[2017-11-27 12:36] baharev commented on #11530
@bonusrk  OK, I will do the bug report later this week, and I will let you know whether your suggested workaround works on Linux and on Android. I cannot test Windows, sorry.

Many thanks for your help!

[2017-11-27 12:40] bonusrk commented on #11530
@baharev i'll try on Window this evening and let you know. But there is no platform-specific handling in my solution, so i am 99% sure it will work everywhere.

[2017-11-27 12:45] gaearon commented on #11111
All `renderIntoDocument` does is create a div and call `ReactDOM.render` into it.

[code]

Just use it directly.

[2017-11-27 12:46] gaearon commented on #11667
It's just a proposal. Not actionable yet. I'd like a consensus from the team first, and then we'd need to wait with this until the next major (not soon).

[2017-11-27 12:57] gaearon commented on #11659
Yes, but *only* for `react-noop-renderer`.

I think our build process should automatically treat something as an external for CommonJS builds if it's in `dependencies`. I think just adding `"react-reconciler": "*"` to `react-noop-renderer` might be enough. It's fine to use wildcard because this is a private package.

[2017-11-27 15:04] gaearon commented on #11111
In general I recommend simulating real DOM events instead of using `Simulate` API.
For example, if the node is in a document (that's important!):

[code]

But again, as per feedback in this issue, we'll add a UMD build for TestUtils in later versions again.

[2017-11-27 15:05] iamdustan commented on #11508
I’m going to close this. We’re 90% certain we’ve tracked down the issue to [`react-broadcast`](https://github.com/ReactTraining/react-broadcast/).

There still appears to be a subtle difference between React 15 and 16 with React Broadcast’s sCU skipping, but I have been utterly unable to make a minimal repro and it’s only appeared in one very small edge case of our products so 🤷‍♂️

[2017-11-27 15:12] Ethan-Arrowood commented on #11667
Ohh okay well I'm happy to take this when its time 👍

[2017-11-27 15:14] the-spyke commented on #11111
Didn't saw this recommendation in React Docs. Thank you.

[2017-11-27 15:18] gaearon commented on #11111
Yep, we'll need to document this. I'll file an issue for the doc repo.

[2017-11-27 15:22] gaearon commented on #11111
Filed https://github.com/reactjs/reactjs.org/issues/352.

[2017-11-27 16:28] adam-26 opened #11670 "Add hooks to ReactDOMServer to support caching"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
react-dom SSR performance could be improved using server-side cache, but currently the
ReactPartialRenderer is currently not accessible from the `react-dom` package.

**Desired behavior**
On the **server** only, it would be nice if _plugins_ could be used to improve render performance. Currently th

[2017-11-27 16:59] jaydeepresources commented on #4548
react is the most stupid thing i have ever seen

[2017-11-27 17:16] rivenhk commented on #11659
![image](https://user-images.githubusercontent.com/5195810/33279234-da9e5a96-d3d8-11e7-85c4-050499160369.png)

@gaearon, the ReactFiberInstrumentation cannot be found when trying to run yarn test-build because it does not exists as a flat bundle. Should i also convert this into another flat bundle?

[2017-11-27 17:33] MrBra1nwash opened #11671 "Constructor(props) and super(props) VS constructor() and super()"
I know that this question was asked many times, but it is still doesn’t clear. Many people just said:

[one more example of the answer](https://discuss.reactjs.org/t/should-we-include-the-props-parameter-to-class-constructors-when-declaring-components-using-es6-classes/2781/7)
Oficial doc says:

But if we do not pass props to `constructor`, we will still have `this.props` everywhere except `constr

[2017-11-27 17:55] gaearon commented on #11671
Yes, React sets `this.props` anyway after the constructor runs. Still, it is confusing to have `this.props` work in some places and not others. Especially if both constructor and other methods call some shared method that reads `this.props`. So, to avoid any potential confusion, we recommend always calling `super(props)`.

`createElement()` has no relation to this question. It creates an *element*

[2017-11-27 17:55] #11671 closed

[2017-11-27 18:00] gaearon commented on #11659
I forgot about that one. Let's just remove that import for now? It's only used by a debugging tool that I haven't updated for months anyway. We'll figure out how to fix it later.

[2017-11-27 18:02] gaearon commented on #11670
I don't think we intend to support any sort of extensible plugin architecture. But we might support a limited set of hooks necessary e.g. for caching. Can you propose a specific API for those?

[2017-11-27 19:48] MrBra1nwash commented on #11671
Thank you for your answer. Now it is clear

[2017-11-27 21:29] aweary opened #11674 "Resetting a form containing a focused controlled number input puts it out of step with state"
Here's a fixture demonstrating the issue (first test case): http://react-number-input-form-reset-bug.surge.sh/number-inputs

If you have a controlled number input within a form containing a reset button, hitting Enter can trigger that reset event. This causes the focused input to be reset to the `defaultValue`, which won't be in sync with the tracked value because we do that work on blur for numbe

[2017-11-27 22:50] baharev commented on #11530
@bonusrk I can now confirm that your suggested workaround works on Linux (Firefox, Chrome), on iPhone (Safari), and on my Android tablet (Chrome). I think I can get away with this workaround, thanks!

[2017-11-27 23:30] gaearon commented on #11646
Fixed in https://github.com/facebook/react/pull/11665.

[2017-11-27 23:30] #11646 closed

[2017-11-27 23:43] baharev commented on #11530
@bonusrk I submitted the bug report to the chromium project:

https://bugs.chromium.org/p/chromium/issues/detail?id=788933

I greatly appreciate your help!

[2017-11-27 23:55] Blasz opened #11678 "Disabled button click event propagates in IE11"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Clicking a disabled button in IE11 fires a mouse event that bubbles and is caught by parent click event listeners.
The event is swallowed/not fired in all other major browsers.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via h

[2017-11-28 00:00] jquense commented on #11678
would you mind also comparing the behavior against a none react version> It's helpful to figure out if it's a browser idiosyncrasy or a bug in React

[2017-11-28 00:17] Blasz commented on #11678
@jquense It seems like this is a browser inconsistency with IE11 and not a bug in react: https://jsfiddle.net/fcbw43u6/4/

[2017-11-28 01:51] aweary commented on #11678
We could potentially get around this by checking if the target is disabled before letting the event dispatch continue in [`SimpleEventPlugin`](https://github.com/facebook/react/blob/master/packages/react-dom/src/events/SimpleEventPlugin.js#L202-L207).

[2017-11-28 03:19] rivenhk commented on #11659
@gaearon  same as ReactFiber, ReactFiberUpdateQueue in ReactNoop. Should i make a flat bundle for them to fix those direct imports?

[2017-11-28 03:49] cliener commented on #10871
I've put together a fix though I'm unsure if it should live inside React or as a separate library. Assuming the latter, it's now available for implementation: https://github.com/cliener/input-fixer

[2017-11-28 06:48] shaikshavalis opened #11679 "Click event is not propagating from elements created in a loop with Unique keys"
React Version: 15.3.2

`const items = ["success", "2h ago"];
        var outputElements = [];
        items.map((item, index) => {
            outputElements.push(<div key={this._getUniqueKey()}}> item </div>);
        })`

The above code generates react dom like the below
[code]

If we click on the above elements the event is not propagating . While debugging I found that the issue here is with k

[2017-11-28 10:27] Diokuz opened #11680 "Where react storages its flow types?"
Hi there)

Im trying to understand how flow resolves this:

[code]

There is nothing called `ComponentType` in `node_modules/react/` directory.

Where `ComponentType` is defined?

[2017-11-28 11:12] txiaocao opened #11681 "Warning: Button(...): When calling super() in `Button`, make sure to pass up the same props that your component's constructor was passed."
version 16.1.1
I use typescript write react.. Using object oriented, inheriting package components.

What should I write to solve this type of problem, now the TS editor has passed the type check, but React does not pass it

Panel.tsx
[code]
[code]

Old way, I used the following way, but TSC will be wrong, if complex inheritance, but react will not
[code]

[2017-11-28 11:27] txiaocao commented on #11680
typescript?

[code]

[2017-11-28 11:42] TrySound commented on #11680
@Diokuz React is kept inside flow repo https://github.com/facebook/flow/blob/master/lib/react.js

[2017-11-28 12:11] bonusrk commented on #11530
@baharev  You are always welcome.

[2017-11-28 12:35] nhunzaker commented on #11667
This sounds fine to me. Especially if we keep [the validation on SSR](https://github.com/facebook/react/blob/master/packages/react-dom/src/server/DOMMarkupOperations.js#L20-L43), which is the only edge case I can think of so far.

[2017-11-28 12:37] nhunzaker commented on #11667
We need to verify if `componentDidCatch` triggers on a bad attribute.

[2017-11-28 12:54] gaearon commented on #11667
That's pretty important to leave :-) It's why it was added.

[2017-11-28 12:55] gaearon commented on #11680
Yes, it's currently built into Flow. Might change in the future but for now this is how it is.

[2017-11-28 12:55] #11680 closed

[2017-11-28 13:02] jquense commented on #11667
I didn't realize we removed the innerHtml building, neat :)

[2017-11-28 13:09] gaearon commented on #11681
Note that using inheritance for overloading what a component renders to is **not recommended**. Instead, use composition. It covers this use case just fine: https://reactjs.org/docs/composition-vs-inheritance.html#specialization.

Apart from that, the reason you get a warning is because of this line:

[code]

You should never try to initialize props to an overt yourself. Instead use the props that

[2017-11-28 13:09] #11681 closed

[2017-11-28 13:10] gaearon commented on #11667
Oh yeah @sophiebits did this as part of 15.

[2017-11-28 13:13] gaearon commented on #11659
These are *type imports*, not real imports. They won't affect the tests or the build.

[2017-11-28 13:54] #11615 closed

[2017-11-28 14:10] kiurchv commented on #10389
@aweary Any progress on this?

[2017-11-28 14:33] rivenhk commented on #11659
gotcha, those are for flows.

[2017-11-28 14:50] Akurganow opened #11682 "Warning the tag <blockqoute> is unrecognized in this browser"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In Chrome 62 js console i see this warning
[code]
But tag is supported by this browser

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, tem

[2017-11-28 14:56] mijamo commented on #11682
Isn't that just a typo because you wrote `blockqoute` instead of `blockquote`?

[2017-11-28 15:01] Akurganow commented on #11682
Oh, sorry! Thanks

[2017-11-28 15:01] #11682 closed

[2017-11-28 15:08] clemmy commented on #11496
Closed in https://github.com/facebook/react/pull/11507.

[2017-11-28 15:08] #11496 closed

[2017-11-28 16:13] afilp opened #11685 "Javascript Exception: invalid host"
Using:

    "react": "^16.1.1",
    "react-native": "^0.50.4",

When releasing the app for Android, we get this error upon launching it (the app does not even appear and crashes):

![screenshot_2017-11-28-18-09-15-846_com miui bugreport](https://user-images.githubusercontent.com/7850073/33330457-96f799da-d467-11e7-87e1-7d9a78c2bf5f.png)

We believe that this may be related to `React` and the Javas

[2017-11-28 16:32] gaearon commented on #11685
Please file this in the React Native repository. Thanks!

https://github.com/facebook/react-native

[2017-11-28 16:32] #11685 closed

[2017-11-28 16:37] afilp commented on #11685
@gaearon Thanks, but is this really a React Native issue? The crash happens on the React library and seems to be something with the execution of the JavaScript.

[2017-11-28 16:56] gaearon commented on #11220
https://github.com/facebook/react/pull/11683 solves this by running bundle tests (which I added) against the real reconciler bundles. (This means ReactNoop CommonJS build is now using the reconciler package.)

[2017-11-28 16:57] #11220 closed

[2017-11-28 16:58] gaearon commented on #11679
Please provide a complete example. It's not clear how you diagnosed the problem is with React.

[2017-11-28 17:25] gaearon commented on #11685
There is no native code in this repository at all. I know it says `com.facebook.react` but I assure you this code doesn't exist here.

[2017-11-28 17:26] gaearon commented on #11685
In particular, there is no code in React that deals with betwork.

[2017-11-28 17:36] gaearon commented on #11659
Fixed in https://github.com/facebook/react/pull/11683.
Thanks @rivenhk!

[2017-11-28 17:36] #11659 closed

[2017-11-28 18:49] ashok-sc commented on #11197
Why isn't this documented anywhere? Shouldn't it be documented on the `react-test-renderer` npm page?

[2017-11-28 18:52] gaearon commented on #11098
I see two separate issues here:

* "The above error occurred" message is not helpful in a test environment because we're not showing the actual thrown. We're hoping the browser will show it, but jsdom isn't a browser. Maybe there's some sort of feature detection we could do to determine whether to show the full message?

* Some people might want to disable error reporting in tests altogether. I th

[2017-11-28 18:56] gaearon commented on #11083
With https://github.com/facebook/react/pull/11636, there is an escape hatch for this.
Something like:

[code]

That should be out in 16.2.

[2017-11-28 18:56] gaearon commented on #10474
Can you open a separate issue with more details about this particular use case?

[2017-11-28 19:12] gaearon commented on #11197
It is documented in a form of peer dependency. If you install `react-test-renderer` with a wrong version of `react`, your package manager will warn you that it's not supported.

As of React 16, they don't have to be exact. `react-test-renderer@16.x` should work with any version of `react` that also has 16 as a major.

You're welcome to submit a PR to the documentation. It's here: http://github.com

[2017-11-28 19:21] spacejamtda opened #11686 "Sluggish scrolling when rendering table with large dataset in React"
So I'm creating an application with real-time streaming data in a table using react (v16.1.1). The number of rows shown at a time can be rather large (400+ rows) and when those situations occur, the scrolling behavior on browsers (desktop & mobile) really takes a hit and staggers when attempting to browse the content. Has anybody experienced this kind of scrolling behavior when rendering large dat

[2017-11-28 19:24] gaearon commented on #11686
Have you checked out these resources?

https://reactjs.org/docs/optimizing-performance.html
https://bvaughn.github.io/react-virtualized

[2017-11-28 20:33] ConradIrwin opened #11687 "react-dom: Ability to access window.event in development"
Imported from https://github.com/facebook/react/issues/10474#issuecomment-345331144 at request of @gaearon

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**

In development mode React uses `invokeGuardedCallback` to be able to catch errors without interrupting the normal "break on uncaught exceptions" feature of devtools.

In the current implementati

[2017-11-28 20:36] elyobo opened #11688 "react-dom 16.1.1 production builds use `new Set`, not supported on IE9/10"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Production builds include "new Set", which is not supported on IE 9 or IE 10, but the [supported browsers](https://reactjs.org/docs/react-dom.html#browser-support) are reported as IE9 onwards.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of

[2017-11-28 20:36] gaearon commented on #11687
Can we just store `window.event` and immediately set it back when we're inside our event?

[2017-11-28 20:38] gaearon commented on #11688
It's the docs that need updating.

React supports IE9+ but *with polyfills*: https://reactjs.org/docs/javascript-environment-requirements.html

I'll file an issue with the docs.

[2017-11-28 20:38] #11688 closed

[2017-11-28 20:39] gaearon commented on #11688
Filed https://github.com/reactjs/reactjs.org/issues/361.

[2017-11-28 20:40] elyobo commented on #11688
OK, thanks for clearing that up so quickly.

[2017-11-28 20:41] ConradIrwin commented on #11687
I think that would work — want me to send a pull request?

Sent via Superhuman ( https://sprh.mn/?vip=conrad.irwin@gmail.com )

On Tue, Nov 28, 2017 at 12:39 PM, Dan Abramov < notifications@github.com > wrote:

[2017-11-28 20:49] gaearon opened #11689 "Remove support for TapEventPlugin"
Some libraries relied on it so we kept it in 16, but it's impossible to support it forever given that we want to make changes to the event system. We should deprecate [the injection it relies on](https://github.com/zilverline/react-tap-event-plugin/blob/f7ed5c560011590d24e07480686b234b2f3ea1f5/src/injectTapEventPlugin.js#L23) and remove it in React 17. The migration path is to turn it into a userl

[2017-11-28 20:59] gaearon commented on #436
I started a new thread to discuss how we can move the ecosystem to stop depending on `react-tap-event-plugin`. It *willI* break for good eventually. As @sophiebits suggested, it sounds reasonable if folks who depend on it create a userland `<Tapable>` component instead, and others can depend on it. Let’s discuss this effort in https://github.com/facebook/react/issues/11689.

[2017-11-28 20:59] spacejamtda commented on #11686
Hey @gaearon, yeah I checked out those resources. React-Virtualized unfortunately doesn't meet my front-end needs/use-cases so I went with my own custom table component. I coupled my table solution with react-lazyload (https://github.com/jasonslyvia/react-lazyload) to get a similar react-virtualized effect but it still doesn't seem to efficiently render.

[2017-11-28 21:30] gaearon commented on #11688
Wanna send a PR to fix the docs?

[2017-11-28 21:30] gaearon commented on #11687
Yeah if you'd like.

[2017-11-28 21:30] gaearon commented on #11686
Can you provide a reduced test case that shows the problem?

[2017-11-28 21:36] amoshg opened #11692 "ReactDOMServer.renderToStaticMarkup gets stuck while trying to render Portals"
Calling `ReactDOMServer.renderToStaticMarkup(elementWithPortal);` gets stuck in a loop while trying to do a static render.

Current behavior:
The behavior can be seen here: https://codepen.io/anon/pen/BmqWOM  by un-commenting line 58 (warning: this will make your tab freeze)

Expected behavior:
It should return with results or throw some kind of error if the input is not valid

[2017-11-28 21:43] elyobo commented on #11688
Seems only fair, I'll open one :)

[2017-11-28 22:17] gaearon commented on #2127
We just released support for a new `React.Fragment` export and the associated `<>` syntax:
https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html

[2017-11-28 22:45] rafrex commented on #11689
What about using the React Interactive component? It has events for tap (without delay), long press, two finger tap, etc, and a `touchActive` state for styling touch interactions.
https://github.com/rafrex/react-interactive

[2017-11-28 22:56] gaearon commented on #11689
I think people would probably be looking for a very targeted API compatible replacement that is more or less exact port in terms of features. This component seems to serve a broader use case.

[2017-11-28 23:07] ConradIrwin commented on #11687
It's here: https://github.com/facebook/react/pull/11696

[2017-11-28 23:21] gaearon commented on #3538
https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html

Starting with React 16.2, you can do this now:

[code]

or, when the tools catch up with new syntax support,

[code]

[2017-11-28 23:21] #3538 closed

[2017-11-28 23:24] gaearon commented on #8920
We support the above now ^^
https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html

[code]

It will take a while for tools to support `<>` so you can use `<React.Fragment>` explicitly in the meantime.

[code]

I hope React is less "stupid" now! 😄

[2017-11-28 23:25] gaearon commented on #2816
Supported now:
https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html

[2017-11-28 23:44] gaearon commented on #8830
More recent issue https://github.com/facebook/react/issues/11566

[2017-11-28 23:52] aweary commented on #2816
To clarify, `React.Fragment` will still require you to key elements if you are using a dynamic array instead of defining them statically.

[2017-11-28 23:59] gaearon commented on #2816
Oh yeah sorry I didn't make it clear. I was referring specifically to this comment: https://github.com/facebook/react/issues/2816#issuecomment-344365259.

[2017-11-29 00:29] HeroProtagonist commented on #11102
@patrick-mcdougle I would be interested in taking a look at this issue. Wanted to make sure we are not duplicating the effort.

[2017-11-29 00:32] gaearon commented on #11102
Pretty sure you're not since @patrick-mcdougle wrote over a month ago. Go ahead please!

[2017-11-29 01:24] stryju commented on #9657
@sebmarkbage

IMO losing access to `e.target` would be a regression - I'd like to keep having access to the element and it's props, which can be useful (access selection range, `data-*` props etc)

[2017-11-29 02:17] txiaocao commented on #11681
first, thanks for your help...I am in favor of extracting it into a separate JavaScript module.
But there are some scenes that still need to be inherited

For example, the state of a number of common objects needs to be given to its child object bits. For example, props.className/props.style props.width/props.height and so on. Most of these appearances need to be specified externally, and the repe

[2017-11-29 07:28] whosesmile commented on #11488
After some research react code, I got a hack method for react 16, It's just a HACK:

`/**
 * Input 带关闭
 */
import React, { Component } from 'react';
import classnames from 'classnames';

export default class Input extends Component {

  clear = (e) => {
    let input = this.input;
    let lastValue = input.value;
    input.value = '';
    input.focus();

    let event = this.createEvent('input', {

[2017-11-29 09:57] k8w opened #11700 "componentWillReceiveProps shouldn't be triggered when children update during window.onhashchange"
**Problem**
`componentWillReceiveProps` shouldn't be triggered when children update during `window.onhashchange`

**React Version**
16.2.0

**Browser**
Chrome/62.0.3202.89

**Code with reproduction**
https://codepen.io/k8w/pen/ooaQjr

**Reproduction steps**
1. Open https://codepen.io/k8w/pen/ooaQjr
1. Click any link
1. `Layout.componentWillReceiveProps` would be triggered. (`Props received` appear

[2017-11-29 09:59] k8w commented on #11700
The same problem if children update during `window.onscroll`

[2017-11-29 10:12] mikkelwf commented on #11409
I was really looking forward to componentDidCatch, but after my first test of this behaviour here i must admit i'm rather disappointed.
Since event handling is such a big part of the app's interface, it's really irritating that there is no way of handling this globally.
I primarily see componentDidCatch as a way to present the user with a (workable explanation) to what happened. At least providing

[2017-11-29 10:14] #11700 closed

[2017-11-29 10:20] timjacobi commented on #11299
@gaearon I'm happy to take `ReactBrowserEventEmitter-test.js` as well if no one else wants it.

[2017-11-29 12:45] gaearon commented on #11409
This discussion is not helpful if people keep adding comments like "please add this" and don't reply to the actual questions about how it should work. Here's a set of problems: https://github.com/facebook/react/issues/11409#issuecomment-340859253. If you want to participate in discussion please don't ignore them, and suggest solutions for them.

[2017-11-29 12:48] gaearon commented on #11299
@madeinfree

Are you still interested in `ReactBrowerEventEmitter`? If so, please take it and keep us updated!

[2017-11-29 13:06] madeinfree commented on #11299
@gaearon OK! I would like to take it.

[2017-11-29 13:38] romanlex opened #11701 "ReactDOM.createPortal support Fragment?"
Hello. Maybe it's possible add support Fragment for .createPortal method?
Example this code add wrapper for buttons
[code]

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**
16.2

[2017-11-29 13:41] gaearon commented on #11701
I don't understand this report. Is this a bug report, a feature request, or both combined?

Is using `<Fragment>` inside `ReactDOM.createPortal` not working for you? Can you create an isolated example?

Or is this a feature request about not having to create a *target* node? Then it's not clear how React could guess where to insert the items.

[2017-11-29 13:52] theREALdebater commented on #2816
I think the release of v16.2 with fragments is excellent, and I am pretty sure I will be making use of them, but they don't quite resolve this issue: there is still no way to prevent React's warning on elements in an array (or iterator) that do not have a key; there is still no way to indicate to React that the nodes in an array (or a component's sub-tree) can be assumed to all change together (an

[2017-11-29 14:04] gaearon commented on #11692
Want to dig into why this happens? I'd expect an error there.

[2017-11-29 14:06] gaearon commented on #2816
I think it's reasonable for your use case to do this:

It's uncommon enough that I don't think we'll be directly supporting it. Especially since it's doable in userland.

[2017-11-29 14:11] gaearon commented on #11299
You got it.

Anybody want to take the remaining `getNodeForCharacterOffset-test`?

[2017-11-29 14:32] romanlex commented on #11701
@gaearon This example https://codesandbox.io/s/j3qry8r38y
I see what createPortal receive as second argument the domNode. Why this domNode cannot be new Fragment?

PS Close this. I understand what it's impossible.

[2017-11-29 14:34] gaearon commented on #11595
This is done now. Thanks for your help!

[2017-11-29 14:34] #11595 closed

[2017-11-29 14:40] gaearon opened #11703 "Investigate why Flow fails on Windows"
I couldn't enable it on Windows CI: https://ci.appveyor.com/project/Facebook/react/build/1.0.10

I also remember seeing this locally on a Windows machine. Need to investigate why `yarn flow` fails on Windows but works on macOS.

[code]

[2017-11-29 14:48] gaearon commented on #11701
In React, there is a distinction between *React* elements and *DOM* elements.

Typically, your app is composed of React elements. However, they need to render into some *DOM element*. Typically you render your React `<App />` into some DOM container, e.g. `document.getElementById('root')`.

Portals let you render a *React* element subtree into a different *DOM* element. For example, you can render

[2017-11-29 14:48] #11701 closed

[2017-11-29 15:17] bsutt123 commented on #11570
Is this issue resolved/taken? Facebook told me to wait for 2 weeks of inactivity before asking, but if I'm being honest it seems like the rewording is good.

If the rewording isn't sufficient, can you elaborate a bit on why so I can further refine it?

[2017-11-29 15:33] stephen-last opened #11705 "Server rendering a tag attribute with no value"
**Do you want to request a *feature* or report a *bug*?**
Bug?

**What is the current behavior?**

When I server render this: `<script src='https://www.googletagmanager.com/gtag/js?id=XXX' async />`

The HTML has `async=""` instead of just `async`.

Using React 16.1.1 and node 8.9.1.

Is there a way to render `<script src='...' async />` rather than `<script src='...' async="" />`..?

Not sure if

[2017-11-29 15:40] gaearon commented on #11705
React output is correct. By HTML spec, for boolean attributes, not specifying an attribute is the same as specifying it with `=''` value.

https://stackoverflow.com/a/4139805/458193

[2017-11-29 15:40] #11705 closed

[2017-11-29 15:46] accordeiro commented on #11299
I can help with this one :)

[2017-11-29 15:46] aweary commented on #11705
How difficult would it be to just use the canonical name without a value? They're both semantically identical, but maybe we could save people a few bytes :)

[2017-11-29 15:50] lifeiscontent opened #11706 "How does react map props to dom internally?"
Hi, I'm working on a library that proxy's SVG elements so you can mutate the SVG Element when it has loaded.

I noticed that when I added an `onClick` prop to my Mutate component it didn't map properly as in javascript the proper syntax is `onclick`.

I'm wondering how ReactDOM does this internally so I can have a consistent API with my library.

any support on this topic is greatly appreciated, t

[2017-11-29 15:51] stephen-last commented on #11705
@gaearon Thanks for that...

I think you mean not specifying an attribute **value** is the same as specifying it with `=''`.

@aweary At the moment, using both `async` and `async='async'` result in `async=""`, which is fine so long as browsers follow the spec and treat it as true.

[2017-11-29 16:06] gaearon commented on #11705
Happy to review a PR.

[2017-11-29 16:12] dphurley commented on #11299
@gaearon Haven't found the time to dive into `ReactIncrementalPerf-test.js` like I thought I would. Apologies for hanging on to it for so long but it's up for grabs if anyone wants it!

[2017-11-29 16:18] gaearon commented on #11299
@accordeiro You got it!

[2017-11-29 16:45] kwnccc commented on #11299
@gaearon really sorry, didn't get notified. If there are still some tests to take care of please let me know. I hope there has been left something easy to start with.

[2017-11-29 16:57] raphamorim commented on #11703
I'll see it 👍

[2017-11-29 17:55] gaearon commented on #11299
@kwnccc Wanna look into `ReactIncrementalPerf-test.js`?

[2017-11-29 18:05] lifeiscontent commented on #11706
@gaearon yeah, I understand that JSX uses camelCase, but what code in the react library does the mapping of the camelCase props to dom elements? If you look at the code I've pointed to, its working with real dom nodes, but if there is a way where I can use react instead of the dom, that'd be even better but I'm currently not sure how I could possibly do that.

[2017-11-29 18:08] amoshg commented on #11692
It seems to enter this while loop `while (out.length < bytes) {...}` inside `ReactDOMServerRenderer.prototype.read` and the stack keeps building up elements indefinitely causing an infinite loop. Not familiar with the render loop but could it be caused by a circular reference somewhere?

Is it not possible for it return the markup? What kind of error would you expect?

[2017-11-29 18:20] scabbiaza commented on #1118
Uncontrolled components limit you to the basic HTML form elements. As soon as you need to implement slider / picker on top of DIV and custom markup  – you need to make it controlled.

In my case I really want to "break out" of React's model (I use CycleJS-like architecture with declarative stream-based events) and I'd really wish to disable this warning.

[2017-11-29 18:55] aweary commented on #11692
It looks like it's because `React.isValidElement` returns false for Portals, so [`resolve` in `ReactPartialRenderer`](https://github.com/facebook/react/blob/cafe352c1a6ab8591b6e42e1e788d48115b0a814/packages/react-dom/src/server/ReactPartialRenderer.js#L355) keeps returning the same Portal element, which [keeps getting pushed into the stack](https://github.com/facebook/react/blob/cafe352c1a6ab8591b

[2017-11-29 18:56] gaearon commented on #11692
I think we want to throw when `isValidElement` is false. We fail for objects, don't we?

[2017-11-29 18:56] gaearon commented on #11692
Oh. We used to fail in `toArray()`. But now it actually accepts portals. I guess we need an explicit check somewhere.

[2017-11-29 18:58] gaearon commented on #11706
There is a mapping between DOM events and names but it's kind of scattered around the library right now, and there's no easy snippet to cut and paste.

[2017-11-29 18:59] sophiebits commented on #1118
@scabbiaza I don't believe this is true. Can you clarify what you mean?

[2017-11-29 19:07] aweary commented on #11692
So is the expected behavior that we throw an error when trying to render a Portal using `ReactDOMServer`?

[2017-11-29 19:20] gaearon commented on #11692
Yes. You can't render them anyway because they throw on a missing DOM node. And you can't have a DOM node on the server. So you're supposed to skip them in the server code.

[2017-11-29 19:24] abiduzz420 commented on #11299
Can I look into `ReactIncrementalPerf-test.js` ? Or if needed I can help @kwnccc out in writing test for it

[2017-11-29 20:11] gaearon commented on #11692
I have a fix in https://github.com/facebook/react/pull/11709.

[2017-11-29 21:09] abiduzz420 commented on #11299
If I have clearly understood the issue in `ReactIncrementalPerf-test.js`, it means I need to switch from ReactPortal.createPortal(...) to ReactDOM.createPortal(...) ? @gaearon

[2017-11-29 21:25] kwnccc commented on #11299
@gaearon I'd really like to try `ReactIncrementalPerf-test.js`. Since @abiduzz420 has started checking it out we could even team up if needed.

[2017-11-29 21:40] abiduzz420 commented on #11299
Yeah sure @kwnccc  I'm happy to work with you. You were in queue before me, so all yours!

[2017-11-29 21:45] #11692 closed

[2017-11-29 21:47] gaearon commented on #11692
Okay. We'll fix the hanging loop in the next release (which might take a couple of weeks). It's not common anyway since to reproduce it you'd need to server render on the client.

But still, this use case is currently unsupported, and you'd need to pass data down your components to *not* render the portal in this case. I would also say it's not super great to use SSR renderer on the client because

[2017-11-29 21:55] abiduzz420 commented on #11299
@kwnccc I'm getting Flow error when I run `yarn flow`.

[2017-11-29 21:57] chicoxyzzy opened #11710 "Do not evaluate -0 prop to 0 or use SameValueZero comparison in shallowEqual to prevent double render"
**Do you want to request a *feature* or report a *bug*?**
Feature / Bug (not sure)

**What is the current behavior?**
For now [`shallowEqual` function](https://github.com/facebook/fbjs/blob/master/packages/fbjs/src/core/shallowEqual.js#L18-L32) uses [_SameValue_](https://tc39.github.io/ecma262/#sec-samevalue) comparison (aka [`Object.is`](https://tc39.github.io/ecma262/#sec-object.is)) but `-0` is

[2017-11-29 21:57] amoshg commented on #11692
Thanks! The way we came across this issue was during our unit testing.... we use Enzyme's render method to generate static snapshots of our components and compare them with previous snapshots. The tests are ran in the browser using Karma.... Enzyme's render calls `renderToStaticMarkup` under the hood.

[2017-11-29 22:09] gaearon commented on #11692
Oh I see. Thanks for explaining the context.

[2017-11-29 22:12] gaearon commented on #11299
@abiduzz420 The flow issue is a known problem on Windows. It's unrelated (but we'll need to figure out why it happens). See https://github.com/facebook/react/issues/11703.

@kwnccc As for `ReactIncrementalPerf-test`, yes this will require some thought. I think maybe at this point it's best to temporarily move `ReactPortal` to `shared`. Then have `ReactNoop` provide its own `createPortal()` method

[2017-11-29 22:19] gaearon commented on #11299
One more down! https://github.com/facebook/react/issues/11299

[2017-11-29 22:41] chicoxyzzy commented on #11710
I just updated example in first post to use `PureComponent` (was mistakenly set to `Component` on some of previous updates)

[2017-11-30 00:56] ibrahima commented on #5916
Hmm, I realize this issue is old, but it actually seems to me like it does work like the first example in the original post. Did something change? I found this issue because I was trying to figure out whether you can use `isRequired` inside PropTypes.shape and because of this I thought that you can't, but the behavior I'm seeing right now is that if I do something like the first example, only the

[2017-11-30 02:44] madeinfree commented on #11299
Hi, @gaearon
I have a question from ReactBrowerEventEmitter-test 😣, is the `events/EventPluginHub` kind of public API ? when I want to test `onClick` is store correct in instance, if I didn't use `EventPluginHub.getListener(inst, eventName);` and change it like
[code]
is this the correct thought ? thank you ~~

ref: https://github.com/facebook/react/blob/master/packages/react-dom/src/__tests__/Rea

[2017-11-30 03:08] sdsmall commented on #11013
I'm going to tackle this

[2017-11-30 05:41] OEvgeny commented on #1360
@gaearon Cool, but you code tries to change state after component unmounted 😄

[2017-11-30 05:56] OEvgeny commented on #1360
Found a good solution for that:
[code]

[2017-11-30 08:05] romanlex commented on #11701
@gaearon Hello. I solved this problem. I use  as ```this.el = document.createDocumentFragment()``` to .createPortal method with Fragment as parentNode. Your last sentence made me think about this thought

[2017-11-30 08:07] mikkelwf commented on #11409
@gaearon if you're referring to my comment, i'm simply an end user of react, that does not have the technical insight into the inner workings of React to participate, nor do i have any solutions to the issue.
I'm simply stating that the current solution in not 100% usable. For me personally it would be great to have some kind of UI catch-all that could be triggered whenever these event errors happ

[2017-11-30 09:26] ivan-kleshnin commented on #1118
Uncontrolled component has it's input state controlled by browser. It's stored in DOM.
`div` (as slider, e.g) doesn't have DOM state so it's "state" should be managed externally.

You can't make an "uncontrolled div" because browser applies no default behavior to divs.
However you can emulate any UI element with div by making it controlled. It won't be *controlled* in exactly the same sense as `in

[2017-11-30 09:28] silvenon commented on #5916
I also remember this working like I wanted when I tried it later on. But I also know I would have tested this before opening the issue… meh, if it works, it works. 😄

[2017-11-30 09:41] jt4000 opened #11712 "Usage of React JS"
Hello,

*I'm new in react js and I got some questions.

1. Is react JS only fitable for static webpage only or is also fitable for dynamic webpage without using the F5 button?

2. Is it commen to combine react JS with another library for instance jQuery?

3. What context is react JS is recommended use? YOu also have different tools for instance jQuery, Angular JS, Bootstrap etc.

Thank you!

[2017-11-30 10:09] lifeiscontent commented on #11706
@gaearon can you point me to a few of the files these are defined in?

[2017-11-30 11:06] gaearon commented on #11706
Here's some events that get their first letter capitalized with `on` added in front:

https://github.com/facebook/react/blob/c78db58a61e0ed5d5ba9a4b1449146137a532c27/packages/react-dom/src/events/SimpleEventPlugin.js#L55-L119

There's more you can find if you search for `top*` in the code. Some are here: https://github.com/facebook/react/blob/master/packages/react-dom/src/events/BrowserEventConsta

[2017-11-30 11:14] gaearon commented on #11409
I am not asking you to have knowledge of internals. In https://github.com/facebook/react/issues/11409#issuecomment-340859253 we're saying that *we don't see a plausible way to do it in JavaScript at all* without fundamentally changing the API or introducing more confusion. This statement has nothing to do with how React *works* but with technical constraints of what we can do with JavaScript, and

[2017-11-30 11:15] abiduzz420 commented on #11299
@gaearon I have moved ReactPortal to shared directory, and all the tests pass. Need a bit of assistance in implementing my own method `createPortal()` for `ReactNoop`. Taking inspiration from how `createPortal()` is written in `ReactDOM` I shall return `ReactPortal.createPortal(children,container,null,key)`.
Parameters to `createPortal()` would be `children: ReactNodeList, container: Container, ke

[2017-11-30 11:18] gaearon commented on #11712
React is primarily meant for dynamic apps, although there are solutions like [Gatsby](https://www.gatsbyjs.org/) that make it a good way to create static apps too.

It's common to use React with other libraries. However since it takes care of updating the DOM, jQuery typically becomes less useful in React projects. Here's a guide about integration with other libraries: https://reactjs.org/docs/int

[2017-11-30 11:18] #11712 closed

[2017-11-30 11:19] gaearon commented on #11701
Nice! That should work yeah. But keep in mind React `<Fragment>` is *not* the same as `createDocumentFragment()` (in fact React `<Fragment>` doesn't use DOM at all, which is why it works in React Native etc).

[2017-11-30 12:13] gaearon commented on #9321
I think we've done everything planned here. GCC advanced is still not there but we have a separate issue tracking it. No plans to share build process with other renderers for now.

[2017-11-30 12:13] #9321 closed

[2017-11-30 12:29] blling commented on #9321
What is GCC?

[2017-11-30 12:32] gaearon commented on #9321
Google Closure Compiler

[2017-11-30 13:53] nhunzaker commented on #11079
I've started to work with [NightwatchJS](http://nightwatchjs.org/api/#commands) and [BrowserStack Automate](https://www.browserstack.com). It is very easy to run a test against all of the browsers we cover.

This flow would involve:

1. Automated deployment to an integration URL whenever a pull request is sent out
2. A hook to expose that URL to a pull request
3. Run the automated tests against th

[2017-11-30 14:01] jquense commented on #11079
@nhunzaker that's awesome I was just thinking today i wanted to make some time to work on this. maybe can chat a bit on discord (or whatever)? I fairly recently hooked up selenium and e2e tests for a work app and have some thoughts and experiences that might be useful here, about which stack to use and browserstack vs saucelabs

[2017-11-30 14:23] businessnumbertwo opened #11718 "TypeError: Attempted to assign to readonly property (node._store)"
Folks,

I have a the following fairly standard component:

[code]

My code raises the following React error, The error is reported to be located in a React module. Here's the output. (Fails in both Chrome and Safari - I haven't tried other browsers):

[code]

I have a located a piece of code that appears to cause the issues, but unclear why.  I use the Alert component in two places. Firstly a comp

[2017-11-30 14:25] makhnatkin opened #11719 "How to use two versions of the React (0.14 && 16) at the same time?"
I want to request a ***feature*** or ask ***question***?

I was faced with the dilemma of using two versions of React at the same time. This problem occurs when writing a large project-container (on the React 16), which within themselves can download the app-widgets (previously written that using an older version of React).

Can I without changing old projects to put them to respond with the old v

[2017-11-30 14:33] gaearon commented on #11719
This sounds like a question about your module bundler than about React.
I encourage you to use community support resources for that, as this is a bug tracker.

https://reactjs.org/community/support.html

In general it's not recommended to use two versions of React in one project.

[2017-11-30 14:33] #11719 closed

[2017-11-30 14:35] gaearon commented on #11718
I don't see anything obvious.
There may be a bug in React but we'll need a reproducing case to look into it.

(Completely unrelated: calling `scrollTo` in `mapStateToProps` is a bad idea. This method shouldn't have side effects, as it's executed many times whenever necessary.)

[2017-11-30 14:38] anushreesubramani commented on #11299
@gaearon My code is still a wip. But I wanted to double check if I am on the right track. It would really help me if you could take a quick look at my code and clarify few doubts:
1. Is the approach I have taken correct?
2. I assume the tests need to cover all the tags and scenarios that are tested in the existing
 tests in order to maintain test coverage. I am not sure if there is a way to genera

[2017-11-30 14:39] gaearon commented on #11299
@abiduzz420 Yes this sounds right

[2017-11-30 14:57] the-spyke commented on #10441
Updated dependencies today and started to get this issue in tests. Not sure what is `just as fast`, but in my project `eval` is 2-3 times faster in rebuilds by `webpack-dev-server` watch.

[2017-11-30 15:19] gaearon commented on #11299
@anushreesubramani

In general, yes, but we'll want to avoid duplication there. Ideally it should turn from a series of

[code]

to a series of

[code]

where `expectInvalidNestingWarning` is a custom function that generates the component and then asserts that rendering it produces a warning.

Yes, I'm thinking something like:

[code]

We go through the array, take the last item, and wrap the curr

[2017-11-30 16:10] 505aaron commented on #11565
Hello @esturcke, I encountered the same issue. I hit the same error as you. I also tried using a mock ref as documented https://reactjs.org/docs/test-renderer.html#ideas.

Test renderer obviously needs to remain separate from react-dom. I think mocking createPortal or extending the test renderer to make it easier to mock createPortal similar to ref mocking.

Sorry for the delay, I was on vacation.

[2017-11-30 17:11] gaearon commented on #11299
Can you send a PR please? It's easier to discuss in a review.

[2017-11-30 17:21] myitcv commented on #11527
@mweststrate interestingly I asked the same question here: https://discuss.reactjs.org/t/historic-reasons-behind-setstate-not-being-immediately-visible/8487

[2017-11-30 18:33] businessnumbertwo commented on #11718
OK - I've not yet got an isolated code fragment to pass over. But my only testing suggests it is something to do with passing the button component through the central redux state.

Regarding your other observation - am not sure where I'd place my scrollTo call. Its not in the mapStateToProps, but inside the function which is wrapped by the connect() HoC.

[2017-11-30 19:34] samhunta commented on #11224
This would be great. Any updates on this?

[2017-11-30 19:53] brucewpaul opened #11726 "client/server mismatch for text inside of an a/button causes the the a/button to focus on page load"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If there is a client/server mismatch for text inside of an a or button element, it causes it to be automatically focused on page load.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template f

[2017-11-30 19:55] brucewpaul commented on #11726
('m not sure how to add a demo of a client/server mismatch on jsfiddle)

[2017-11-30 20:21] gaearon commented on #11726
Maybe you can create a small project locally and share it?

[2017-11-30 20:28] gaearon commented on #11224
If there were updates, they would be on this issue 😉

We'll be looking at revisiting the component API next year. We’ll look at different feature requests, and also think about our own experience with the existing API. I very much doubt we’ll implement any specific suggestion as described in an issue like this, but we’ll make sure to consider these use cases.

[2017-11-30 20:44] brucewpaul commented on #11726
@gaearon https://github.com/brucewpaul/react-test-project

[2017-11-30 20:50] brucewpaul commented on #11726
![react-test-project](https://user-images.githubusercontent.com/17549440/33454203-fe147bea-d5cc-11e7-8b3b-940d2efff3d6.gif)

[2017-11-30 21:25] aweary commented on #11726
For reference, you can use the [UMD build of `react-dom/server`](https://unpkg.com/react-dom@latest/umd/react-dom-server.browser.development.js) and then manually inject the markup

[Here's an example of that](https://jsfiddle.net/c6tds2u8/) using reproducing your issue.

[2017-11-30 22:39] lifeiscontent commented on #11706
@gaearon thanks for the help, quick question. how do you inline code like that in GitHub? or where are the docs that describe that functionality?

[2017-12-01 00:18] gaearon commented on #11706
Just paste a link to specific lines and it'll be inlined. You can take a link to specific lines by clicking on the start line in the file source view. (and shift+clicking to choose the end line)

[2017-12-01 01:01] gaearon opened #11734 "value|defaultValue={Symbol|Function} should be ignored, not stringified"
Regression in master from https://github.com/facebook/react/pull/11534.
Found it thanks to the attribute fixture snapshots.

[2017-12-01 01:09] nhunzaker opened #11735 "Do we still need to stringify attributes before assigning them?"
React manually stringifies all attributes before assigning them:

https://github.com/facebook/react/blob/master/packages/react-dom/src/client/DOMPropertyOperations.js#L169-L179

This appears to be for IE8/9. However it's possible that this is an IE8 only behavior. See IE9:

<img width="1104" alt="screen shot 2017-11-30 at 8 02 51 pm" src="https://user-images.githubusercontent.com/590904/33463221-2

[2017-12-01 01:24] nhunzaker commented on #11734
Just for clarity: This is the correct behavior for Symbols:

<img width="1280" alt="screen shot 2017-11-30 at 8 22 43 pm" src="https://user-images.githubusercontent.com/590904/33463568-4507dc38-d60c-11e7-9d18-2342376bc7b0.png">

With my change, `value` and `defaultValue` never pass through the property sanitation layer.  React tries to stringify symbols, which throws an error, and functions get tu

[2017-12-01 03:10] krabbypattified opened #11738 "React complains when I use `super(arguments)` on constructor"
The code below gives me the following warning:

[code]

This shouldn't happen. The `arguments` variable should be acceptable in a call to the `super` constructor.

[code]

[2017-12-01 03:16] gaearon commented on #11738
That's not how JS works. `arguments` is a special array-like object, but you pass it as a single argument.

You probably mean this instead:

[code]

[2017-12-01 03:16] #11738 closed

[2017-12-01 09:01] syranide commented on #11735
I wouldn't trust compatibility mode too much, maybe old FF has this problem too (if we still support it)?

[2017-12-01 09:17] makhnatkin commented on #11719
@gaearon Yes, I agree that this is not a bug, thanks for the redirect, I will ask my question there. And I agree that using two versions of React - a dubious decision, but I need it, otherwise the project-container will be forced to always work with the old version of React.

[2017-12-01 09:51] samrat41 commented on #7094
hi @gaearon , I could not find the event delegation explanation which you referred in above post in latest react documentation.  [docs](https://reactjs.org/docs/state-and-lifecycle.html). Any change in that approach?  If not, could you direct me to the link where I can find that info.

[2017-12-01 15:15] stevematdavies opened #11743 "Elements rendering with import before usage"
React 16 is attempting to render as soon as it is imported, regardless of whether its used in the component it is being imported to. There is zero information about this, and is highly worrysome, and has stopped our production.

[code]

[2017-12-01 15:25] jquense commented on #11743
Hi there, sorry it's not clear what the issue or error is. Can you put together a working example using https://codesandbox.io/ maybe, it should emulate your env a bit closer than jsfiddle

[2017-12-01 15:30] stevematdavies commented on #11743
Sorry, the post was made for StackExchange, my mistake for having too many tabs open. However, i found the issue, a basic mistake on my part!

[2017-12-01 15:33] #11743 closed

[2017-12-01 17:25] 505aaron commented on #11565
@esturcke @alansouzati Here is a gist that has a sample mock and snapshot test:
https://gist.github.com/505aaron/d5efc2ecc622306cbcc6d3e9c1d7ee9f

@gaearon probably has a better idea/plan for supporting createPortal in react-test-renderer.

[2017-12-01 19:19] DominikSerafin commented on #10441
Same thing for me as for @the-spyke, eval is much faster than other alternatives in my project(s).

React should work correctly with it, and not suggest workarounds (which do not even work).

Hoping it will get fixed...

[2017-12-01 19:40] gaearon commented on #11734
Now that I looked at this again, *the update codepath was already broken*. This just made the initial code path match it. So this is actually an improvement. We should still get https://github.com/facebook/react/pull/11741 to completion to have consistent *sane* behavior, but IMO this is not as urgent as I thought at first.

[2017-12-01 20:40] aweary commented on #11718
@businessnumbertwo can you try putting a breakpoint before the `node._store.validated = true` line and inspect what `node` is when the error occurs? It sounds like something is being rendered as a child that shouldn't be.

[2017-12-01 21:03] gaearon opened #11748 "Investigate forEach() iterations showing up in init time profiling"
Not sure if this is real, but Chrome profiler highlights a few places where we have `forEach` on init time as hot paths taking ~30ms.

<img width="530" alt="screen shot 2017-12-01 at 21 02 48" src="https://user-images.githubusercontent.com/810438/33503308-1e530ba6-d6db-11e7-95fa-45c7af34e79d.png">
<img width="408" alt="screen shot 2017-12-01 at 21 02 55" src="https://user-images.githubusercontent.

[2017-12-01 21:05] nhunzaker commented on #11748
I wonder what the gzipped difference would be if we just inlined these.

[2017-12-01 21:48] adam-26 commented on #11670
Here's a first draft of a react SSR cache hooks API.

##### API design goals:

1. SSR caching is performed at the `frame` level (of the ReactPartialRenderer), where each frame represents a react element
   * only complete/closed frames can be cached (this greatly simplifies the SSR cache API)

2. SSR caching is performed by a `CacheStrategy` implementation
   * cache strategies are passed as `opti

[2017-12-02 00:19] Negan1911 commented on #9834
On my case, that is a View that renders tabs, we already ask for the childrens to have a key (since it's going to match with the header), but doing `React.Children.toArray(children).find(....) `  results in the `key` value changed, so having a `.find()` method would be really useful

[2017-12-02 02:00] michaelstokes commented on #11277
Thanks @gaearon I ran

`jscodeshift -t react-codemod/transforms/React-PropTypes-to-prop-types.js <path>` on my project and it resolved the issue.

[2017-12-02 07:22] NE-SmallTown commented on #11670
I am not sure I understand what you mean, could you describe this more detailed? Thanks!

[2017-12-02 13:10] kwnccc commented on #11299
@abiduzz420 You seem to have done a great job, sorry but I didn't have the time to start working on that before today! Really glad you were able to complete the test! 👏👏

[2017-12-02 13:53] adam-26 commented on #11670
@NE-SmallTown, here it is in more detail. Just to be clear, the **template** is an example of a **cache strategy** implementation - it's not part of the cache hooks API, it is simply an example of what's possible using the cache hooks API.

Using the header/avatar example, we convert this:
[code]
To a cached template using a  **cache strategy** implementation that supports `Template`s.
Here is wha

[2017-12-02 21:09] ianstormtaylor commented on #5785
@flarnie any word on this? We'd love this for Slate.js as well!

[2017-12-02 22:01] caub commented on #499
so React still doesn't support `<div onPointerDown={console.log}>foo</div>`

that's quite annoying

[2017-12-03 00:28] patrick-mcdougle commented on #11102
@HeroProtagonist @gaearon I still am willing to work on it, but I needed some guidance because I didn't see "reactFiberChild" anywhere in the codebase and I was seeking guidance on where to start looking.

[2017-12-03 04:00] HeroProtagonist commented on #11102
@patrick-mcdougle I am trying to reproduce this issue. It is possible that since the article was written it has been fixed.

[2017-12-03 07:36] NE-SmallTown commented on #11670
@adam-26 Thanks for your clarification!

IMO, from your code comments:

https://github.com/adam-26/react/blob/ssr-hooks/fixtures/ssrPlugins/src/components/TemplateApp.js#L17-L19

This is what I think about, does it means this plugin just apply to stateless/functional component? I mean for the complex/huge logic component(i.e. include many methods/events or hocs), we can't use the cache plugin and

[2017-12-03 10:02] kzc commented on #11503
Thanks to @alexlamsl `uglify-es` has eliminated the `export default` penalty in common scenarios:

[code]
[code]
[code]
[code]
[code]
[code]

[2017-12-03 10:11] xxjinwei opened #11753 "inline style 'currentColor' not support"
`{borderColor: 'currentColor'}` complied to `{borderColor: 'currentcolor'}`

[2017-12-03 10:15] #11753 closed

[2017-12-03 10:20] xxjinwei commented on #11753
my wrong...
please delete it

[2017-12-03 11:04] Andarist commented on #11503
wow, that's great new 👏 is `uglify-es` considered to be stable now? I recall you mentioning few months back that it isn't there quite yet, but I can remember that incorrectly, so ain't sure.

Anyway - that's all and nice in a rollup world, but considering that `React` is bundled mostly in apps and those use mostly `webpack` which does not do scope hoisting by default, I'd still say that exporting

[2017-12-03 14:53] zhiqiang21 opened #11755 "how to make state Independent"
i have a component ,
[code]

i use it in other component  like this

[code]

i use `InputTest` in `componentName`  twice . how can i make every `InputTest`  state is Independent

[2017-12-03 15:00] gaearon commented on #11755
We use the bug tracker for bugs, not support questions.
Please use the appropriate support resources: https://reactjs.org/community/support.html

This documentation page might be helpful:
https://reactjs.org/docs/lifting-state-up.html

I recommend fully going through each example there.

----

Your code doesn't look right to me. A component should either *control its own state* or *let the parent

[2017-12-03 15:00] #11755 closed

[2017-12-03 16:55] kzc commented on #11503
As stable as anything else in the JS ecosystem. Over 500K downloads per week.

Anyway, it's an option. Webpack defaults are not ideal anyway - you have to use `ModuleConcatenationPlugin` as you know.

[2017-12-03 21:49] adam-26 commented on #11670
@NE-SmallTown, in response to your question

It's easier to use the plugin with stateless/functional components, but the cache plugin **can** be used with complex components. However any side-effects need to be managed. For example, if the component creates/populates any application state (such as redux store data) then that application state would also need to be cached for future renders.

Yes,

[2017-12-03 23:48] GordyD commented on #11299
@gaearon quick update: I've begun refactoring/combining BeforeInputEventPlugin + FallbackCompositionState. I've got a good handle on how to test the implementation through the public API. I'm now working through creating test cases to exercise the different code paths dependent upon the different execution environments/browser engines. I expect to have a first PR up towards the end of this week.

[2017-12-04 02:26] zhiqiang21 commented on #11755
thanks!

[2017-12-04 04:59] jakearchibald commented on #8838
`createContextualFragment` will run scripts http://jsbin.com/pajubuz/edit?js,output.

I don't know how many people want this, but React could add `dangerouslySetHtmlContent` which used `createContextualFragment` rather than `innerHTML`.

[2017-12-04 07:25] lukastaegert commented on #11503
Adding a few cents here:
* I totally agree with @Rich-Harris that semantically, named exports are the right choice
* I really do not like either `import React from 'react'` or `import * as React from 'react'` just to be able to use JSX syntax. In my eyes, this design is clearly violating the Interface Segregation Principle in that it forces users to import all of React just to be able to use the `

[2017-12-04 07:48] lifeiscontent opened #11758 "Testing React 16.2.0"
Hi, I'm using Jest and I'm trying to write a test for JSXFragments

is there something new I need in order for JSXFragments to be testable?

I'm currently getting this issue `You gave us a visitor for the node type JSXFragment but it's not a valid type` this error seems to be coming from babel

[2017-12-04 08:56] XaveScor opened #11759 ""React.createElement: type is invalid" warning in IE11 when using React.Fragment"
https://codesandbox.io/embed/j30o67kpxy
React shows warning in console if I use React.Fragment
[code]

[2017-12-04 11:17] Andarist commented on #11503
Personally I do not see much gain in migrating to `jsx` helper as the default IMHO for the babel plugin should be importing it from the `react` package, so the name of the actual helper doesn't really matter - the rest is just matter of having it configurable.

[2017-12-04 13:11] gaearon commented on #11758
As mentioned in https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#support-for-fragment-syntax, different projects will support the syntax as the time goes. At the very least you'll want to wait for Babel 7 to come out of beta (or use the Jest version which supports it—I think the latest beta does).

I'll close since this question is not about React. Please ask individual proj

[2017-12-04 13:11] #11758 closed

[2017-12-04 13:19] gaearon commented on #11759
Yeah, this is a false positive warning. It only appears if you use a `Symbol` polyfill.

I think it happens because we validate types here:

https://github.com/facebook/react/blob/8ce53671eddc8e96a51d87c9b1ad8cd0532ff9d5/packages/react/src/ReactElementValidator.js#L273-L277

`React.Fragment` is a symbol. However, if `Symbol` is polyfilled, then its `typeof` won't be `'symbol'`—it will be just `'ob

[2017-12-04 13:30] nhunzaker commented on #8395
This was fixed with https://github.com/facebook/react/pull/11746

[2017-12-04 13:41] iamdustan commented on #11748
If there is a GC pause that happens to trigger while that function is running Chrome counts that time against it.

[2017-12-04 13:43] AyWa commented on #11759
I would like to work on it, if it is possible :)

[2017-12-04 13:48] gaearon commented on #11759
Sure, it's yours.

[2017-12-04 14:10] gaearon commented on #11299
Nice, thanks for the update!

[2017-12-04 14:49] gaearon commented on #11102
It's referring to `ReactChildFiber` file which is not a string but just a filename. The article author meant that there was an error in that file.

To reproduce, I would try to render something with `ref={undefined}` and check what message I would get.

[2017-12-04 14:51] gaearon opened #11761 "Fix the misleading error message in production"
See this test case:

https://github.com/facebook/react/blob/323efbc33c27a602a4aab8519f58feba1e0a216c/packages/react-dom/src/__tests__/ReactStatelessComponent-test.js#L142-L157

Pretty sure the different message in production wasn't intentional, but is a consequence of `ReactCurrentOwner.current` not being set in production for functional components.

We need to see if it's possible to emit the sam

[2017-12-04 15:07] extwiii commented on #11761
What about this;
'Warning: Stateless function components cannot be given refs.Attempts to access this ref will fail.\n\nCheck the render method '.

Similar to it('should warn when given a string ref' test spec.

[2017-12-04 15:22] gaearon commented on #11761
I don't see a problem with that one. Do you?

[2017-12-04 15:38] skiritsis commented on #11761
I wouldn't mind checking this if @extwiii does not want to.

[2017-12-04 16:01] gaearon commented on #11761
@skiritsis You got it!

[2017-12-04 16:15] accordeiro commented on #11299
@gaearon quick update on my end: I've already started working on rewriting the tests for `getNodeForCharacterOffset-test` and should be able to push a PR until Thursday – is this ok?

[2017-12-04 16:20] gaearon commented on #11299
Sounds good

[2017-12-04 16:24] somonek commented on #11263
how about something like this?

inside your render method
[code]
and a bound method in your class (with @autobind or in the constructor)
[code]

[2017-12-04 16:41] gaearon opened #11763 "Figure out a better fix for memory leak"
See https://github.com/facebook/react/pull/11644. Filing this as a follow up.

[2017-12-04 21:05] kgorgi opened #11768 "Error Rendering Inputs in Separate Window using Portals"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
I am using React's Portals to render react elements in a completely separate (popup) window. When I attempt to render an `<input />` in the popout window, the following error occurs and React fails to render (the window turns white):

```'enumerable' attribute on the property descriptor cannot be set

[2017-12-04 22:39] AaronGillBraun opened #11772 "Pressing tab in text input moves the input - Bug?"
**Do you want to request a *feature* or report a *bug*?**
Report a bug
**What is the current behavior?**
Pressing tab inside of a text input physically moves the input on the page
**Demo**
![bug](https://user-images.githubusercontent.com/15055317/33579955-74a4c22a-d919-11e7-9d9e-29bcd9d45677.gif)

**What is the expected behavior?**
It should either do nothing, or switch inputs
**Which versions of

[2017-12-05 00:38] M-ZubairAhmed commented on #11772
can you also please post a quick demo on jsfiddle or something?

[2017-12-05 00:56] AaronGillBraun commented on #11772
The problem is I don't face this issue with other text inputs on react, and that means it's hard to reproduce.

[2017-12-05 01:23] nhunzaker commented on #11772
@AaronGillBraun It's hard to figure out a next step without the ability to reproduce your issue. If you are able to provide some more context, it would help greatly.

Did you record your example within an existing application, or an isolated example?

[2017-12-05 01:55] AaronGillBraun commented on #11772
I am unable to reproduce this issue anywhere by my application and thus am closing it. This obviously is not a React issue. (still for the life of me can not figure this one out)

[2017-12-05 01:55] #11772 closed

[2017-12-05 01:56] nhunzaker commented on #11772
No worries. Best of luck!

[2017-12-05 02:11] steida opened #11773 "smarter autoFocus"
I believe autoFocus should be improved for the better DX. Browser-native autoFocus is nice and all but does not work when a component is updated. Sure, that's fine. But it's pretty common to need focus after a component has been updated. Yep, declaratively. How? Immutable data ftw. At least, it works for me.

I use this wrapper component https://github.com/este/este/blob/master/components/AutoFocu

[2017-12-05 03:02] gwing33 opened #11774 "Chrome Extensions that mutate the DOM, NotFoundError"
**Do you want to request a *feature* or report a *bug*?**
Bug, but maybe this is a question...

**What is the current behavior?**
In chrome (and I'm sure other browsers), chrome extensions can mutate your DOM willy-nilly.  In turn, when React goes to update the node, we get a critical error (NotFoundError), if you don't have an Error boundary in place, your whole app blows up.

**How to reproduce*

[2017-12-05 03:09] jboelen commented on #2979
I had to make a slight change to @xahon's solution to get past the warning. Here's a small utility I wrote that can generate this for you:

[code]

[2017-12-05 06:25] xxblakefailxx commented on #11510
@gaearon Should this be closed now?

[2017-12-05 11:25] #11510 closed

[2017-12-05 12:42] aaronplanell opened #11775 "Testing asynchronous setState of React"
Hello!!!

I'd read this article of Dave Ceddia: [Snapshot Testing React Components with Jest](https://semaphoreci.com/community/tutorials/snapshot-testing-react-components-with-jest). It's very useful but, I've got a big doubt about how Jest works (and I'm not the only one) and I don't understand how Jest can manage the asynchronous process when `setState` is called.

For instance, in the example

[2017-12-05 12:56] jquense commented on #11775
`setState` is not asynchronous in the way we usually mean in JavaScript. That is is to say that calls don't actually happen on another tick of the event loop, so from the outside of a react tree everything looks synchronous. What I mean by that is that setState calls may be batched together, so each call enqueues some update, but the update isn't processed until its that components "turn". Now tha

[2017-12-05 13:35] aaronplanell commented on #11775
Thanks a lot @jquense for your quicks answer! If I have understood properly, that means that this example will work with React 15 but it maybe will fail with React 16. Isn't it?

[2017-12-05 13:55] gaearon commented on #11257
Fixed by https://github.com/facebook/react/pull/11750.

[2017-12-05 13:55] #11257 closed

[2017-12-05 14:01] gaearon commented on #11775
React 16 uses synchronous rendering by default so no, it won't fail.

There are also (AFAIK) no plans to enable async rendering in tests. It is an optimization for real rendering, and I don't think it would be valuable in a testing context.

[2017-12-05 14:01] #11775 closed

[2017-12-05 14:03] gaearon commented on #11774
Maybe there's some particular kinds of mutations we could be more resilient to. But in general, React doesn't support something else modifying its DOM nodes.

[2017-12-05 14:03] gaearon commented on #11774
Could you look into which kind of mutations Google Voice extension is performing?

[2017-12-05 15:53] caltv opened #11777 "Access React Object from within page JS?"
I have a ReactVr object which I am rendering with the code below. After React is initialised I am periodically receiving server updates which I want to pass into React as props, how can I do this? Can props in the React object be set from my "normal" JS?

[code]

 Server updates are coming via a Websockets connection, but from within React the messages are not being received, only in the "normal"

[2017-12-05 16:24] shabaz-ejaz commented on #7655
Is there a fix for this with Redux Form? I am not using my own select component so I can't add the code that @tappleby mentioned in #245675946

My field looks like this:

                                    <Field
                                        name={`${protein}.title`}
                                        id={`${protein}.title`}
                                        component="selec

[2017-12-05 17:45] gaearon commented on #7655
Please report problems with Redux Form to their repository.

[2017-12-05 19:02] gwing33 commented on #11774
Google voice was just the easiest example and beyond this example, assume it could be any type of mutation.

I'm not sure what types of mutations you're looking for, but in this case it seems to just wrap text in a span tag and then replaces the target node's HTML with it's updated version.

For example:
[code]

Actually, going through this did help me to realize that I don't need I don't need to

[2017-12-05 19:02] #11774 closed

[2017-12-05 19:37] Tom910 commented on #1739
Any changes? Released 16 react and most of solutions do not work

[2017-12-05 20:44] timurtu commented on #1739
I think the current approach is use redux with tooling like redux observable or redux thunk

[2017-12-05 22:14] MMeent opened #11781 "Component unmounts directly after mount"
Some of my wrapper components get into the state 'mounted=false' directly after mounting. The componentWillUnmount doesn't fire and the components are still mounted into the DOM, but state changes fired in that component's context (e.g. in onClick listeners) result in errors and no unmounting. I cannot reproduce this issue on jsfiddle, possibly due to differences in environment. I currently don't

[2017-12-06 00:33] hampusohlsson commented on #11409
I think I found a decent workaround - posting here if anyone is interested. If you are using `async/await`, It is pretty easy to implement a boundary component that captures failures in both callbacks and rejected promises.

The idea is to recursively loop through all children, check their props and wrap any functions in a  `try/catch` closure. It only works because the nature of async await and i

[2017-12-06 03:42] HeroProtagonist commented on #11102
@gaearon I got some time to look further into this. I believe that setting `ref={undefined}` will not make the ref `undefined` because of [this](https://github.com/facebook/react/blob/master/packages/react/src/ReactElement.js#L24) check in `React.createElement`.

However, if one makes an object that matches a react element and then does not set the ref property it will cause the error `Expected re

[2017-12-06 05:52] Tom910 commented on #1739
My case of use
<App>
    <Page>
        <AsyncModule hre="different.com/Button.react.js" /> downloaded from external url on server or client
    </Page>
</App>

 The problem is that I do not know before rendering the App what kind of components I will have

[2017-12-06 09:43] blling opened #11783 "RFC: Remove vars follow up"
Most of the `var` has been removed after the PR #11780(thanks @raphamorim again) merged, so we could lint against developers use `var` again, but this is a bit tricky because some files have to use `var`. we should have a way to override lint configuration for a subset of the files, so we should discuss the solutions here.

[2017-12-06 09:57] MMeent commented on #11781
updated description to reflect some findings + added environment

[2017-12-06 11:12] blling opened #11784 "Refactor packages/shared/ReactDOMFrameScheduling.js"
I found the code format is not good in packages/shared/ReactDOMFrameScheduling.js and the js IDE is always give some warn as follows, i think should refactor it.
![image](https://user-images.githubusercontent.com/26540808/33658864-26f1821a-dab9-11e7-90ec-84979bb7b9c2.png)

[2017-12-06 11:47] dreamyguy opened #11785 "Input attribute 'readonly' triggers a warning, which prevents the attr to be passed to component"
I just came across a warning while attempting to pass the attribute `readonly` to an input (which is rendered within a 3rd party component, https://github.com/gpbl/react-day-picker/).

`readonly` is a [valid input attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input).

I'm not sure where this error is coming from, but I'm assuming it's in **React** as the error seems pretty g

[2017-12-06 11:56] dreamyguy commented on #11785
Hm.. my bad. The attribute should be passed as:

`readOnly: true`

...and not:

`readonly: 'readonly'`

[2017-12-06 11:56] #11785 closed

[2017-12-06 12:33] gaearon commented on #11784
Please file an issue with the IDE. The code is fine :-)

[2017-12-06 12:33] #11784 closed

[2017-12-06 12:36] gaearon commented on #11783
For Prettier, we have separate configurations for files that should be ES5 and ES6. We need to extract these paths to a shared config, and then split the ESLint task into two runs, one of them would assume the code is ES5 and another, ES6.

[2017-12-06 13:35] davscro commented on #11783
hi @gaearon
could we write custom eslint preprocessor and for "var" files (~40) override ```
'no-var'```
 rule?

[2017-12-06 14:55] blling commented on #11784
@gaearon the other js file is no error or warn but this one, i think the main problem is that most of the js code is not encapsulated in the method but all of them are placed in a js file. I will ignore the error and warn in the IDE.

[2017-12-06 15:15] gaearon commented on #11783
Here's [how we separate configs for Prettier](https://github.com/facebook/react/blob/5bd2321ae3dd7d68ac02dee3c3f271e9d0ee8784/scripts/prettier/index.js#L29-L57). Since we now [call ESLint through its Node API too](https://github.com/facebook/react/blob/5bd2321ae3dd7d68ac02dee3c3f271e9d0ee8784/scripts/eslint/index.js#L15), I imagine we would use a similar strategy there. Divide it into two calls, a

[2017-12-06 15:23] #11726 closed

[2017-12-06 15:26] gaearon commented on #11781
Can you create a standalone example in jsbin or jsfiddle please?

[2017-12-06 15:31] gaearon commented on #11777
Please use triple backticks for formatting blocks of code (see my edit to your message).

It's not clear to me what you're asking. React doesn't have anything to do with sockets so there's no way React can prevent your messages from getting received.

It's not clear what `ReactVr.init` is. It's definitely not an API provided by React itself. So I suggest you to ask its maintainers this question. I

[2017-12-06 15:31] #11777 closed

[2017-12-06 15:31] Tom910 commented on #1739
When? I have dynamic pages and the component may or may not be

[2017-12-06 15:32] gaearon commented on #11785
React differs from HTML in that it uses `camelCase` for built-in attributes. Most DOM APIs also do that by the way—people just rarely use them directly, and forget about that :-)

https://reactjs.org/docs/dom-elements.html

[2017-12-06 15:35] gaearon commented on #11409
Not recommended. In larger apps or perf-sensitive code, this is indeed going to be slow.

[2017-12-06 15:38] gaearon commented on #11774
This might be related to https://github.com/facebook/react/issues/9836. (I'm not sure.)

If more users express concern over this and point out specific mutations they'd like us to be more resilient to, we can take a look.

[2017-12-06 15:39] gaearon commented on #11768
Tagging as needing investigation.

[2017-12-06 16:16] ctxhou commented on #11783
Hi @gaearon, I want to work on this.
Can you give me some instructions? Like what kind of file we will permit to use `var`?

[2017-12-06 16:21] timurtu commented on #1739
Sounds like you want conditional rendering https://reactjs.org/docs/conditional-rendering.html

[2017-12-06 16:22] el-moalo-loco commented on #6436
@romulof @lencioni @radubrehar Are you aware of the fact that the passive flag is not meant for usage on scroll event listeners? It should be used on events like `touchmove` etc. to not interfere with the browser's scrolling performance. Your examples are highly confusing to me.

Source: https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener#Improving_scrolling_performance_w

[2017-12-06 16:32] paulbjensen commented on #11321
I too have stumbled into this issue. We've got an internal project to generate Powerpoint decks with code. Powerpoint files (pptx) are just zip files containing some folders, XML files and any embedded assets. We wanted to use React as a way to generate the XML files, but we can't as there isn't support for XML.

[2017-12-06 16:34] lencioni commented on #6436
Yes, I am aware of this now. I was misinformed when I wrote my earlier
comments. Thanks for clarifying!

On Wed, Dec 6, 2017, 8:25 AM Martin Hofmann <notifications@github.com>
wrote:

[2017-12-06 16:40] DanielRuf commented on #11321
@paulbjensen the next Babel version (7) should support namespaced tags. See https://github.com/babel/babel/issues/6535

[2017-12-06 16:48] M-ZubairAhmed commented on #11768
Hey Dan, can I help in investigation?

[2017-12-06 17:26] ctxhou commented on #11783
Ok thanks, it helps!

[2017-12-06 19:42] gaearon commented on #11768
Sure :-) Try to reproduce and see what and where causes it.

[2017-12-06 19:56] congwenma commented on #1836
Added a pr for this feature
https://github.com/facebook/prop-types/pull/146

[2017-12-06 20:52] nubunto commented on #11423
if no one is working with this, I would certainly like to take it

[2017-12-06 22:21] juanca opened #11788 "Synthetic Event breaks in IE11"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

`SyntheticEvent.js` breaks in IE11.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9

[2017-12-06 22:24] juanca commented on #11788
I think the rest of the code uses a package:

[code]

Should I just submit a quick PR?

[2017-12-06 22:26] juanca commented on #11788
Oh, it seems that other files will only use `Object.assign` for dev environments.

https://github.com/facebook/react/blob/3c977dea6b96f6a9bb39f09886848da870748441/packages/react/src/React.js#L57-L58

[2017-12-06 22:27] jquense commented on #11788
the Object.assign is transpiled already. you can see in the package code: https://unpkg.com/react-dom@16.2.0/cjs/react-dom.development.js no Object.assign. If you have a specific issue it'd be helpful to know what error you'r getting and a way to reproduce it

[2017-12-06 22:30] juanca commented on #11788
Oh, interesting.

I'm getting:

[code]

This is in a fairly complex part of the application so I'll see if I can come up with minimal repro steps.

[2017-12-06 22:33] juanca commented on #11788
Just found a hint that it's actually another library -- `./node_modules/react-tap-event-pluging/src/SyntheticEvent.js`. 🤦‍♂️

Closing this.

[2017-12-06 22:33] #11788 closed

[2017-12-06 23:05] ju1ius commented on #11369
Thanks @kreba for pointing this out !
For reference, [the relevant part of the spec](https://www.w3.org/TR/html5/forms.html#dom-input-valueasdate). Seems like both `valueAsDate` and `valueAsNumber` [should be supported](https://www.w3.org/TR/html5/forms.html#concept-input-apply) on `input[type=date|time|datetime-local]`.

[2017-12-06 23:27] blling commented on #11784
@gaearon  which IDE you are using for daily work? ^_^

[2017-12-07 00:03] gaearon commented on #11784
Sublime

[2017-12-07 00:21] magicmark opened #11789 "hydrating a component with `dangerouslySetInnerHTML` and `toString` causes a warning, and the component to not render"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When hydrating a pre-rendered component that uses `dangerouslySetInnerHTML`, + an object with a `toString` method, we get a warning such as:

[code]

The component will also appear blank.

This is noteworthy since:
- The markup returned by `render` appears to be correct, meaning:
  - The markup that

[2017-12-07 01:41] tappleby commented on #7655
The IE specific issue has been resolved in Edge 16299 as well - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8794503/#comment-3

[2017-12-07 06:05] misscs commented on #6798
This works for amp attributes that take values, but many attributes don't, and cannot to correctly pass amp validation.

Example: HTML element needs `amp` attribute: `<html amp>`. React 16 strips the attribute unless a string is passed. `<html amp="true">` is not AMP valid.

@gaearon Should I open raise this in a new issue?

[2017-12-07 08:13] syranide commented on #6798
@misscs `<html amp="">` should work though (`<html amp={true}>` should work too IIRC). AFAIK unless it's been changed React never renders attributes as valueless (for XML-compatibility), but valueless and empty string should be the same unless amp is unreasonably strict in its validation.

[2017-12-07 08:21] ljharb commented on #6798
I believe `<html amp="amp">` is the unabbreviated form that's valid in HTML?

[2017-12-07 08:31] giorgim opened #11793 "Further understanding reconciliation"
One tutorial mentioned that here

[code]

that instance of `<StatefulComponent/> `will be maintained between re renders. I understand this.

However let's consider transition from `showWarning= false` and then to `showWarning=true.`
This means when `showWarning` became `true`, React checks that previously first child of div was `<StatefulComponent/>`, now it is `<Warning/> `- so why doesn't it unm

[2017-12-07 09:48] blling commented on #11783
@ctxhou i think this should be done as fast as you can, oterwise `vars` will be add again.

[2017-12-07 10:46] ctxhou commented on #11783
There is one thing I want to discuss.
Currently, these is prettier es6 files pattern:
[code]

But for eslint, the es6 lint pattern should be `all js files without es5 files`?
So it means that the shared es6 pattern will not be the same with prettier and eslint config.
Is it correct?

[2017-12-07 11:38] gaearon commented on #11783
I don’t understand why it would be different. Those are ES6 files. The ES5 files are listed separately below.

[2017-12-07 11:44] gaearon commented on #11793
If there are no keys, React assigns implicit keys equal to the indices. Does this answer your question?

The code you want to look at is `reconcileChildrenArray` in this file: https://github.com/facebook/react/blob/master/packages/react-reconciler/src/ReactChildFiber.js

[2017-12-07 12:05] giorgim commented on #11793
@gaearon In my second code snippet when going from showWarning=false to true, why does it compare `<StatefulComponent/> `with `<Warning/>` ? because they have same keys ?

[2017-12-07 12:09] gaearon commented on #11793
Yes (by default keys become indices, so both have a key of `0`).

[2017-12-07 12:10] gaearon commented on #11793
In practice, if people want to preserve state, the usually write it like this:

[code]

In that case the state would be preserved, but you wouldn't have to explicitly specify keys.

[2017-12-07 12:12] gaearon commented on #6798
Yes, both `amp=""` and `amp="amp"` should work.

Oops, we actually did change this in https://github.com/facebook/react/pull/11708 (cc @aweary), but haven't released yet. Was that important for some use case? It was not clear to me.

[2017-12-07 12:17] syranide commented on #6798
@gaearon Someone complained about XML-compatibility way back and "you" changed it to never render valueless attributes. With the new renderer I guess it's less of an issue since it should only affect SSR.

[2017-12-07 12:17] giorgim commented on #11793
@gaearon and in the first case in similar situation, react first makes a query like hey is there a child which has key "a"? and since answer is postivie, leaves `<StatefulComponent/>`? and that is why it avoids comparing `<StatefulComponent/> `with `<Warning/>`?

[2017-12-07 12:18] gaearon commented on #11793
Yes.

[2017-12-07 12:19] syranide commented on #6798
@gaearon https://github.com/facebook/react/pull/2842

[2017-12-07 12:20] giorgim commented on #11793
@gaearon Or I think it is more hey `<Warning/>` has key "1" but in old children there is no item with such key, so create `<Warning/>`. With` <StatefulComponent/> `hey it has key "a" but hey also in old children there is item with key "a" so modify it. I think this is more correct than what I wrote previously.

[2017-12-07 12:22] gaearon commented on #11793
In your first example, the keys are:

[code]

In your second example:

[code]

In my example:

[code]

[2017-12-07 12:23] gaearon commented on #11793
I think this table would make more sense if we used key as the... key.

[2017-12-07 12:25] gaearon commented on #11793
Your first example:

[code]

Your second example:

[code]

My example:

[code]

[2017-12-07 12:28] giorgim commented on #11793
@gaearon I think I grasped your table just you are using case when going from showWarning=true, to false. Initially I was referring to case when we go from showWarning=false, to showWarning=true. So in that case it would be
[code]

[2017-12-07 12:28] gaearon commented on #6798
Oh okay. Thanks for digging. I guess I'd prefer to drop the support for this if it's not popular, but that's definitely a breaking change and we can't do it now.

[2017-12-07 12:33] giorgim commented on #11793
@gaearon Can you confirm my table above?

[2017-12-07 12:34] gaearon commented on #11793
I think this looks almost right, but it actually exposes an issue with how I wrote the table originally. It is much clearer what's going on if you use key as the row instead.

[2017-12-07 12:39] gaearon commented on #11793
Here's a full version.

### Your first example

[code]

#### `this.state.showWarning`: `false` -> `true`

[code]

#### `this.state.showWarning`: `true` -> `false`

[code]

### Your second example

[code]

#### `this.state.showWarning`: `false` -> `true`

[code]

#### `this.state.showWarning`: `true` -> `false`

[code]

### My example

[code]

#### `this.state.showWarning`: `false` -> `true`

[code

[2017-12-07 12:57] giorgim commented on #11793
@gaearon I think I got my table correctly! I can't see different w.r.t to your latest post.
But thanks for your input and help!.

[2017-12-07 12:59] #11793 closed

[2017-12-07 13:19] ctxhou commented on #11783
Sorry, I misunderstand the pattern.
Here I create a pr to fix this issue: https://github.com/facebook/react/pull/11794

[2017-12-07 13:31] romulof commented on #6436
@el-moalo-loco, I'm pretty sure that I read some documentation on Google Developers site about using passive listeners for scroll events to improve performance. I must have misread or something changed along the way. Anyway, thanks a lot for the clarification!

[2017-12-07 15:29] nubunto commented on #11789
I would really like to take this! I'm going to take a look more deeply in a few hours/tomorrow. If anyone care to point me to anything, that would be great. Should be my first contribution!

[2017-12-07 16:43] max-mykhailenko commented on #1739
I think that it's routing problem, react should only render page, not manage and request render data

[2017-12-07 16:52] arackaf opened #11795 "Select warning fires repeatedly"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

See fiddle https://jsfiddle.net/j2nzg31L/1/

The warning related to the select fires repeatedly.  @gaearon tells me it should dedupe, and that this is a bug.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.n

[2017-12-07 16:56] gaearon commented on #11795
We should deduplicate this warning (like we do with many other warnings).

[2017-12-07 17:31] watadarkstar commented on #11795
@gaearon Hi Dan, I can take this. I imagine its similar to: https://github.com/facebook/react/pull/11113

[2017-12-07 17:33] gaearon commented on #11795
Yep. Sounds good!

[2017-12-07 18:51] gaearon commented on #11299
One more down! https://github.com/facebook/react/pull/11742

@reznord We haven't heard from you yet—did you start anything? If you're too busy maybe it's better to give someone else a chance to try.

[2017-12-07 19:58] baharev commented on #11530
It turns out it is not a bug in Chrome:

"If the contents of the document have changed during processing of the touch events, then the user agent may dispatch the mouse events to a different target than the touch events."

https://bugs.chromium.org/p/chromium/issues/detail?id=788933#c6

https://w3c.github.io/touch-events/#mouse-events

Although, I personally find this behavior very confusing, but

[2017-12-07 22:05] gaearon opened #11799 "Consider removing XML compatibility from SSR or hiding it behind an option"
See https://github.com/facebook/react/pull/11708#issuecomment-349953542.
Not sure if it's important but seems suboptimal to send extra markup if most people don't need XML.

[2017-12-07 22:11] MartijnHols commented on #11538
I "fixed" my app for users running into this by disabling Chrome's translation using this method (until the underlying issue is fixed): https://stackoverflow.com/a/12238414/684353

[2017-12-08 01:09] gaearon opened #11805 "Run benchmark trials in random order"
Our current benchmark script runs all trials in a specific order.
You can try it by running:

[code]

(Note: it takes a looong time to finish.)

I think running all trials in a deterministic order like we do now may actually introduce issues. Such as if some other process starts grabbing CPU in the middle of the trials, a specific set of trials (e.g. "HN" benchmark on "base" repo)  will be affecte

[2017-12-08 01:23] gaearon opened #11806 "Remove selectionStart polyfill?"
Looking at this code:

https://github.com/facebook/react/blob/bee4baf1fd8d018a020cd72de1635839d7dc2bb1/packages/react-dom/src/client/ReactInputSelection.js#L91-L100

When would `selectionStart` not exist? According to http://help.dottoro.com/ljtfkhio.php, only in IE8. (It might be wrong though.)

It would be nice to check, and remove the relevant code if it's supported everywhere else.

[2017-12-08 01:23] gaearon commented on #11806
Tagging as good first issue—the outcome is a report on which browsers support the feature.

[2017-12-08 02:00] jquense commented on #11806
I am fairly sure it's ie8 only for inputs/text areas. We just removed the equivalent code in a bunch of libraries with no (observable) issues so far. I'd imagine tho the story is different contenteditable? Maybe the draftjs folks have some insight?

[2017-12-08 02:10] gaearon commented on #11806
Tagging @flarnie

[2017-12-08 02:11] gaearon commented on #11806
(I haven’t thought about CE but you might be right!)

[2017-12-08 02:20] djeeg opened #11807 "False positive warning about style mismatch when hydrating server markup in IE11"
**Do you want to request a *feature* or report a *bug*?**
Bug? (not a biggy - not sure if IE11 is support for development)

**What is the current behavior?**

IE11 seems to always throw a warning for hydration failures
eg

Note: there is a space between the colon and none from Server, Client has no space

**If the current behavior is a bug, please provide the steps to reproduce and if possible a m

[2017-12-08 04:40] sw-yx commented on #9866
hey folks just bumping this - not sure if i should just leave it be or something. guidance appreciated! i know this isnt the highest priorrity.

[2017-12-08 06:36] gwing33 commented on #11062
I have run into this as well. I don't believe this is related to react. I found several bugs on [bugzilla](https://bugzilla.mozilla.org/buglist.cgi?quicksearch=blur) (not sure if they maintain it?), but they are all like 6 months to 4 years old.

Currently, adding the `onFocus` handler fixes this issue, though it seems like extra overhead.

[2017-12-08 07:36] SimenB opened #11808 "react-test-renderer does not include `key` on fragments"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
From the docs (https://reactjs.org/docs/fragments.html#keyed-fragments):
[code]

If I do this:
[code]

The result is:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 1

[2017-12-08 07:49] lipp commented on #11347
What about using the `observedAttributes` method to figure out when to use attributes and when to use props?
Maybe also events could be "announced" this way by adhering to the `**on**foo` convention for events.

[code]
... just an idea ...

[2017-12-08 08:11] gaearon commented on #11808
Want to send a PR with a fix?

[2017-12-08 08:19] SimenB commented on #11808
Sure, if you've got a pointer as to how it should look. Where would the key bey?

[2017-12-08 08:31] johnnysprinkles opened #11809 "Feature request: Global state at the render/hydrate level"
This is a feature request. It relates to https://discuss.reactjs.org/t/suggestion-for-global-context/9035

This has been a pain point for me, and I'm sure we can do better. The issue: How to have some state available to all components without passing everything down on props through the component tree.

I'm speaking about global state. So why not use context? I have a couple of issue with it.

1.

[2017-12-08 08:52] johnnysprinkles commented on #11809
I should add... one thing that has occurred to me is, just use a global variable like:

    // For each response...
    globalState = {...};
    let html = ReactDOMServer.renderToString(element);
    globalState = null;

Where the elements can just read the global variable "globalState". This does seem hacky though, and pretty sure it won't work with streaming responses.

[2017-12-08 08:55] gaearon commented on #11808
Maybe ReactTestRenderer.js. My gut feeling is there’s a switch there, and the Fragment case doesn’t specify keys.

[2017-12-08 09:05] SimenB commented on #11808
I meant in the output of `toJSON`. Currently the fragment is not there at all, `children` is just an array

[2017-12-08 09:49] syranide commented on #11799
Perhaps there's far too much overlap, but the logical solution otherwise should be to separate ReadDOM into ReactHTMLDOM and ReactXHTMLDOM/ReactXMLDOM right? Considering XHTML is considered dead at this point IIRC, perhaps it wouldn't be so bad as it's unlikely that someone would ever try to use both at the same time, so the overlap is irrelevant as long as it's shared.

[2017-12-08 10:10] gaearon commented on #11799
This only concerns the SSR implementation, doesn’t it? In that case passing an option seems easier than creating another one from scratch. I don’t think we’d want a separate top level namespace since the use case is so uncommon.

[2017-12-08 10:36] baharev commented on #11530
The suggested workaround is feasible though a bit problematic in the real application. The difficulty is that I had to use `document.getElementById(uuid)` to make sure that I am adding (or removing) the event listener to the right component. It is feasible but painful, and the generated HTML code is ugly due to the UUIDs.

So where is the bug after all if it is not a bug in Chrome? If `e.preventDe

[2017-12-08 10:51] gaearon commented on #11807
Can you share a complete example I could quickly run?

[2017-12-08 10:51] gaearon commented on #11789
@nubunto Good luck!

[2017-12-08 10:52] gaearon commented on #11686
I'll close because there isn't enough information here to help.

[2017-12-08 10:52] #11686 closed

[2017-12-08 10:57] gaearon commented on #11718
I'll close as we need more info to investigate, but no additional info was provided.

React defines `validated` property like this:

[code]

As you can see it's `writable`.

I don't know how it ends up being readonly, but it has something to do with your environment or application code. I don't see a bug in React here, so we'd need a reproducing case to look further.

[2017-12-08 10:57] #11718 closed

[2017-12-08 11:03] businessnumbertwo commented on #11718
Dan,

I’ve been a bit snowed getting some release together. In the interim I found a work-around. But I will come back and try and recreate soon. If I find more info I will send it through.

Thank you for your time!

Phil

[2017-12-08 11:09] gaearon commented on #11718
Thanks! I'd suggest to look closely at the polyfills you're using. Maybe there's something that messes with `Object.defineProperty`.

[2017-12-08 14:43] mannanali413 commented on #11805
@gaearon i can pick this up. :)

[2017-12-08 15:26] janat08 opened #11810 "Virtual DOM replacement with template literals as in hyperHTML"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
Usage of virtual DOM that prevents console errors, and direct DOM manipulation, meanwhile it is slower than suggested/example api which makes it obsolete altogether (and in real world terms too).

**What is the expected behavior?** Ability to use libraries that expect to manipulate DOM as in styl

[2017-12-08 15:38] gaearon commented on #11805
Sounds great!

[2017-12-08 15:47] gaearon commented on #11810
It’s hard to understand what you’re proposing.

The ability to create React [elements](https://reactjs.org/docs/rendering-elements.html) (which you’re probably calling “virtual DOM”) and pass them around is a fundamental design decision in React. UI is a first-class value (just like a function or an object is), so you can do anything with it. While we may explore advanced compilation techniques th

[2017-12-08 15:47] #11810 closed

[2017-12-08 16:18] chicoxyzzy commented on #11710
IMO there's also should be **bug** label. Current behavior is not expected in either case.

[2017-12-08 19:04] Miklet commented on #11806
I also checked at [caniuse](https://caniuse.com/#search=selectionStart). Seems support starts from IE9.

[2017-12-08 19:21] djeeg commented on #11807
Here you go https://github.com/djeeg/demo-ie11hydrate

[2017-12-08 19:45] jsdf opened #11812 "Enable synchronously toggling experimental addUserTimingListener"
Currently ReactInternals.addUserTimingListener enables logging to the User Timing API inside a `setTimeout`.
However, for the use case of building a profiling tool where instrumentation is turned off most
of the time to avoid overhead, then randomly turned on for a period to take a sample, it would be ideal to be able to enable this logging synchronously (eg. turn it on at the start of a callstack

[2017-12-08 19:48] gaearon commented on #11812
I think it could re-enter from `requestAnimationFrame`, `requestIdleCallback`, or `setTimeout`. (Depends on how we implement the polyfill.)

[2017-12-08 20:35] janat08 commented on #11810
*as in hyperhtml, hyperhtml being the view library that replaces virtual DOM. Virtual DOM in vue may cause error stack trace to consist of nothing remotely related to user generated code.

[2017-12-08 20:47] xxblakefailxx commented on #11806
[MDN ](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/setSelectionRange) also reports IE9 and up support.

[2017-12-08 20:52] gaearon commented on #11810
Sorry, I don’t think this discussion is going to be productive. I would suggest to learn how to profile apps in Chrome, and we can discuss specific performance issues with React (this is not a Vue repository) if you can show specific examples where it is being slow. TodoMVC was never meant to be a benchmark, as stated multiple times by its authors.

[2017-12-08 20:55] travi commented on #11098
Sorry for the delayed response on this.

I stub `console.error` and `console.warn` so that any React warnings need to be fixed in order for our test suite to pass.

[code]

with those stubs in place, if a warning is triggered, it is elevated to an error. that error then gets picked up by the error boundary suggestion, hiding the actual warning. for example:

...
...
Consider adding an error bounda

[2017-12-08 21:01] janat08 commented on #11810
What I mean by virtual DOM preventing console errors is that they're useless (in my experience with vue). Point I was making about virtual DOM being slower than non-virtual DOM implementation (hyperHTML) is that at this point it only detracts with bad errors and making it difficult to use them libraries that want nothing more than to manipulate DOM.

[2017-12-08 21:59] gaearon commented on #11810
I haven’t worked with Vue so I can’t speak to its error reporting abilities, but it’s definitely something we care about in React:

https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html#component-stack-traces

If you find unhelpful errors coming from React we’d love to take a look and fix them.

React *can* work with libraries that manipulate the DOM if you abide by some rules. You c

[2017-12-08 22:01] gaearon commented on #11098
Yes, this is the first issue I described in https://github.com/facebook/react/issues/11098#issuecomment-347625796. I agree we need to fix it but it’s not obvious to me how. The browser shows errors that are thrown like this but jsdom doesn’t. Why? Should we file an issue with jsdom?

[2017-12-09 00:19] flarnie commented on #11806
The comment `// Content editable or old IE textarea. ` is a concern because we rely on `contenteditable` in Draft.js. Let me look into it a bit.

[2017-12-09 00:57] flarnie commented on #11806
This example shows that unlike other inputs or a textarea, 'selectionStart' is not available on a contenteditable div. So let's keep this polyfill, and also add a test for this somewhere. I would love to have a Draft.js fixture, but maybe just a contenteditable fixture or test.
https://codepen.io/anon/pen/ZagBrx?editors=1111
I was just playing with that in latest Firefox.
![screen shot 2017-12-08

[2017-12-09 01:02] flarnie commented on #11806
For anyone interested in more info:
Only `input` and `textarea` are defined as having the text field selection API.
https://www.w3.org/TR/2008/WD-html5-20080610/editing.html#textFieldSelection

In Draft we rely on the similar but different Selection interface -
https://www.w3.org/TR/2008/WD-html5-20080610/editing.html#selection1
which we wrap in an immutable record -
https://github.com/facebook/dr

[2017-12-09 03:37] coolmanfam opened #11816 "Devan Criego"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-12-09 03:42] #11816 closed

[2017-12-09 04:34] maurocolella opened #11817 "MouseDown / MouseUp abandoned in Chrome 55+"
See:
https://developers.google.com/web/updates/2016/10/pointer-events

MouseDown, MouseUp, possibly others... do not do anything in Chrome 55+

Is it possible to shim pointervents in somehow?

[2017-12-09 09:29] xxblakefailxx commented on #11806
@flarnie  Would this test suffice? Mainly checking selection start is working where we expect and showing that it doesn't work in the ce case? That way when it's supported we are aware and can remove the backwards support? Or did you have something else in mind?

[2017-12-09 09:47] please-hate-me opened #11820 "development env check is not friendly to other bundler-tools(except webpack)"
I don't like use `Webpack`, lots of coders don't use `Webpack` in China. We have a more ease-to-use tool called [fis3](http://fis.baidu.com/fis3/api/index.html).
The problem is that `fis` parse the file-dependencies by checking keywords like `require()`,`require.async()` . But right now react added codes like these
 `if ('development' === 'production') {
    module.exports = require('node_modules/

[2017-12-09 09:54] gaearon commented on #11820
Saying it’s specific to webpack is not fair.

This is perfectly valid CommonJS. **It works on Node, and in webpack, Browserify, Rollup, Metro, Brunch, Parcel, and any other major bundler.** All of them can do dead code elimination with Uglify too, so if it’s not something fis supports, I encourage you to file an issue with them.

You can find the instructions for supported bundles here: https://re

[2017-12-09 09:54] #11820 closed

[2017-12-09 09:57] gaearon commented on #11820
Also note that you can always use a precompiled build from the CDN if you have issues with a bundler.

https://reactjs.org/docs/installation.html#using-a-cdn

[2017-12-09 10:01] please-hate-me commented on #11820
Thanks, I will make a touch with the fis team.

[2017-12-09 10:07] gaearon commented on #11820
If we can help in any way (e.g. by explaining more how it works) please let me know and I’d be happy to chat. I see they have a plugin system. Typically having an Uglify plugin that runs on modules before the bundler interprets `require`s is the solution.

[2017-12-09 10:12] gaearon commented on #2517
As we know from this thread the existing solution is pretty fundamentally broken.
We can’t fix the current API without making all apps slower (which we’d like to avoid :-).

Therefore we propose a new API that handles the same use cases but doesn’t have those design flaws. The plan is for APIs to exist side by side, and later to phase out the old API when people have migrated.

Check out the discu

[2017-12-09 13:45] flarnie commented on #11806
@xxblakefailxx Glad to see a test for this - I should have been more clear that I recommend keeping this polyfill in place, and so the test would verify that it *does* work for contenteditable. If we reverse the expectation of the last test in the suite you wrote then it looks good to me.

To remove this polyfill would be a breaking change, because that would remove our support for selection in `c

[2017-12-09 15:00] idhard commented on #11409
@gareon , do you think this issue could go to https://github.com/reactjs/rfcs ?  i could elaborate it more taking in account the comments below and different proposals , i think @hampusohlsson  solution , beside the drawbacks , is what we would like to see supported by React. thanks

[2017-12-09 17:07] gaearon commented on #11409
Yep, that’s a good way to do it.

[2017-12-09 17:24] jmeas commented on #1387
In the first comment, this snippet is suggested as a use case for this API:

[code]

I’m not sure that this would work if the idea here is that this would be internal React code. Developers should still be able to use `this.props` inside render rather than the `props` argument, right?

I don’t think it’s a good idea to assume that the first argument to `render` is how the developer is accessing `p

[2017-12-09 17:29] gaearon commented on #1387
This snippet was meant as an example of the app code. It’s three years old though and I don’t think it reflects our thinking :-)

[2017-12-09 17:45] jmeas commented on #1387
Thanks for the clarification @gaearon :v:

[2017-12-09 17:56] watadarkstar commented on #11795
@gaearon

Hi Dan, I wanted to check with you that I am on the right track before I try writing any code.

So here is the warning:

https://github.com/facebook/react/blob/d9869a45616884512220e162d1d3589f48a26fb0/packages/react-dom/src/client/ReactDOMFiberOption.js#L36-L45

I'm not sure if I should be writing a test in:

- [react-dom/src/__tests__/ReactDOMSelect-test.js](https://github.com/facebook/

[2017-12-09 18:36] gaearon commented on #11795
I don't think it matters which file you write it in.

To verify if there are any existing tests, you can just comment out the warning and run `npm test`. If nothing fails, well, yeah, then we didn't have tests for it.

[2017-12-09 20:34] r3wt commented on #5926
so fucking gay

[2017-12-09 20:34] r3wt commented on #5926
fucking idiots

[2017-12-09 21:00] nhunzaker commented on #5926
Sorry you feel this way, but this sort of behavior is unacceptable. Locking this thread.

[2017-12-10 02:06] #11795 closed

[2017-12-10 02:06] gaearon commented on #11795
Thanks!

[2017-12-10 02:49] arackaf commented on #11795
Wow that was incredibly fast - great work ❤️

[2017-12-10 05:34] nitin42 commented on #11326
Hey! Can I work on this? I could take a look at **@wwwillchen**'s work and then turn it into a usable rpm module.

[2017-12-10 12:02] gaearon commented on #11326
Totes!

[2017-12-10 16:28] watadarkstar commented on #11795
@arackaf No problem, couldn't have done it without Dan's super fast support (I swear he is not human answering all our tweets and github comments instantly) 😜

[2017-12-10 16:51] blling commented on #11795
OMG, Dan has no weekend!

[2017-12-10 17:14] gaearon commented on #11795
It’s really cold outside and I’m too bored :-) I’ll go do something else now.

[2017-12-10 19:13] watadarkstar commented on #11795
Lol no Dan don't leave us! 😰

[2017-12-10 22:16] petrhanak opened #11824 "Anchor text content mismatch causes unwanted focus and page scroll"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When server-side-rendered text content of anchor does not match, the anchor is focused causing page to scroll in all browsers.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

Issue isolated here (ssr necessary)
https://githu

[2017-12-11 03:25] #11759 closed

[2017-12-11 03:26] gaearon commented on #11759
@AyWa We didn't get a PR, so the submitter has fixed the issue.

[2017-12-11 04:12] sophiebits commented on #11806
I know contenteditable inputs don't work properly without this. Maybe there is something we can do in user space (such as in draft itself) but it can't just be removed.

[2017-12-11 04:32] xxblakefailxx commented on #11806
@sophiebits Do you know of a way we can manual test that shows the contenteditables not working without the polyfill?

[2017-12-11 05:31] AyWa commented on #11759
@gaearon Yeah I saw yesterday that the PR was already made. Sadly I planed to work on it this week.
Anyway I hope I can find a `good first issue` soon ;)

[2017-12-11 07:15] petrhanak commented on #11824
@koba04 👍 closing then

[2017-12-11 07:15] #11824 closed

[2017-12-11 12:17] Kovensky commented on #11808
`React.Fragment` is completely transparent to the render tree; while the reconciler will use it, the resulting tree essentially has no fragments at all (they're all flattened, like arrays).

Maybe it could be helpful to have them stay in tree for the test renderer result, but that would probably require some "fun" changes inside fiber 🤔

[2017-12-11 13:20] gaearon commented on #11808
Do we include keys for the regular nodes? My intuition is it seems unnecessary. Keys are a hint to the reconciler about how the content *changes* over time. However snapshots are static.

[2017-12-11 13:20] nbob opened #11826 "React does not call onBlur callback"
**Do you want to request a *feature* or report a *bug*?**
**Bug**

**What is the current behavior?**
When input control becomes disabled, React does not call onBlur callback

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal https://jsfiddle.net/c22pez5z/

**What is the expected behavior?**
1. Focus on input element
2. Press Enter button (it makes

[2017-12-11 13:39] AyWa commented on #11826
I think the bug is on chrome. (I tried on 62.0.3202.94. 64bits)
On firefox and safari I couldn't reproduce it.

[2017-12-11 13:48] maxviewup commented on #11532
same issue here.

[2017-12-11 15:59] gaearon commented on #11783
Fixed in https://github.com/facebook/react/pull/11794.

[2017-12-11 15:59] #11783 closed

[2017-12-11 16:08] YellowKirby opened #11827 "Cursor jumps when backspacing in a number input (with ShadowDOM)"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Number inputs with decimal values in Chrome ShadowDOM do not maintain cursor position as user backspaces in the input field.

Super low-quality gif (sorry):
<img src="https://thumbs.gfycat.com/TautIncredibleEkaltadeta-size_restricted.gif"/>

This issue appears to be similar to the problem here: https:/

[2017-12-11 16:14] nhunzaker commented on #11827
Oooh boy :). I wonder if this is happening because this line here:

https://github.com/facebook/react/blob/master/packages/react-dom/src/client/ReactDOMFiberInput.js#L310

[code]

We only assign the value _attribute_ on a number input if it isn't the currently focused element. This i to keep it as similar to other inputs as possible. I wonder if the input is _never_ the active element in the case

[2017-12-11 16:18] gaearon commented on #11610
Next blocker: https://github.com/google/closure-compiler/issues/2448#issuecomment-350772850

[2017-12-11 16:32] YellowKirby commented on #11827
Yeah, that `activeElement` line seemed a little suspect to me, but I haven't done much digging into the React codebase.

https://developers.google.com/web/fundamentals/web-components/shadowdom#focus has a simple function that will walk the shadowDOM in the case where `activeElement` does have a shadow root:

[code]

[2017-12-11 17:47] bvaughn commented on #7671
This is now an RFC reactjs/rfcs/pull/8 😄

[2017-12-11 17:47] bvaughn commented on #7678
`componentDidServerRender` now has an RFC reactjs/rfcs/pull/8 😄

[2017-12-11 19:28] mnpenner commented on #7029
This is still the top hit on Google and neither of those tickets seem to address the original question.

How can we create custom synthetic events?

e.g. I want to replace an `<input>` element with a custom `<Input>` component without changing the API of `onChange`. How would I create a synthetic change event object with the same structure?

[2017-12-12 01:01] nhunzaker commented on #11058
Gah, Sorry! I'm just getting to this doing some testing for another PR and I stumbled upon this via Google 😵.

I can't get IE or Edge to load the SVG image event, _period_ using the following test:
https://codepen.io/nhunzaker/pen/babXLO

I can't find a solution researching (googling) online either, other than the recommendation you've suggested to use a `new Image()` proxy.

I'd be comfortable cl

[2017-12-12 01:09] jquense commented on #11058
yeah I think the cost of the workaround is too much. I'm comfortable with this being a "won't fix" if ya'll are

[2017-12-12 01:11] nhunzaker commented on #11058
I'm okay with that.

[2017-12-12 01:11] #11058 closed

[2017-12-12 01:15] SahidHernandez commented on #11058
Indeed @nhunzaker `Image` class was the workaround

[2017-12-12 06:37] NMinhNguyen commented on #11503
This is probably slightly tangential to the main discussion, but I'm curious how well ES modules work with conditionally checking `process.env.NODE_ENV` to export dev/prod bundles? For example,

https://github.com/facebook/react/blob/d9c1dbd61772f8f8ab0cdf389e70463d704c480b/packages/react/npm/index.js#L3-L7

I may be missing something obvious here, but I'm struggling to see how to translate this p

[2017-12-12 08:17] milesj commented on #11503
@NMinhNguyen Conditional exports aren't possible with ES modules.

[2017-12-12 09:34] Andarist commented on #11503
`process.env.NODE_ENV` checks can be at more granular (code) level though, ready to be replaced by the bundler with appropriate values.

[2017-12-12 11:40] svagi commented on #11606
@nhunzaker Correct me if I'm wrong, but it means we are unable to control the state when invalid input is entered?

Example: https://codesandbox.io/s/yw13k4wn19 Try to enter `0,` it's not triggering `onChange` event.

[2017-12-12 14:06] NMinhNguyen commented on #11503
@Andarist @milesj Thanks for confirming my suspicion :)

From the React 16 [blog post](https://reactjs.org/blog/2017/09/26/react-v16.0.html#better-server-side-rendering) I thought that the `process.env.NODE_ENV` checks were pulled out to the very top on purpose (as opposed to them being more granular, which is what they are in the source, if I'm not mistaken), to help performance in Node.js?

Like

[2017-12-12 14:06] jake-daniels opened #11836 "React preserves duplicates of DOM node on re-render."
Hi guys. I'm getting really weird behavior in my latest project. I assume it's a bug in React.
I want to override default browser context menu. I subscribed for `contextmenu` and `click` events in `componentDidMount`. On right click (context menu) I want to show my custom div. On left click, this div should hide. In event listeners I do:

[code]
and in `render` there's:
[code]
I assume everybody c

[2017-12-12 14:17] gaearon commented on #11836
Can you create a minimal example without TypeScript please? Preferably as a jsfiddle.

[2017-12-12 14:18] Andarist commented on #11503
This for sure is a drawback, because there is no standard way at the moment for doing this. OTOH it's just a matter of tooling, it is possible (and it's rather easy) to compile this in build steps of your application even today. Ofc it would be easier if package could expose dev/prod builds and the resolver would just know which one to pick, but maybe that's just a matter of pushing this idea to t

[2017-12-12 14:47] jake-daniels commented on #11836
Actually, I have already tried to isolate the case, but I failed. In fresh-new react app with `index.js` file only, it works fine. It must be something deeper and not so obvious.

[2017-12-12 18:59] sophiebits commented on #11806
Not sure but I think if you comment out this code and try to use any Draft editor then you will probably see the problem. If it's not obvious when typing directly then try cutting/pasting and more complex cursor movements.

[2017-12-12 20:31] robdodson commented on #11347
Friendly ping on this. @gaearon @sophiebits do y'all have any thoughts on @effulgentsia's latest proposal? Just curious if it's in the ballpark or a non-starter.

[2017-12-12 20:51] gaearon commented on #11347
We just opened an RFC process. Could we ask that it be submitted as an RFC?
github.com/reactjs/rfcs

[2017-12-12 21:54] sophiebits commented on #11347
I would rather not add `domProperties` and `eventListeners` "props" (or the equivalent within a ref={{}} object) because it makes using custom elements very unnatural and unlike all other React components. If the component user is going to need to acutely know the difference between properties and attributes, etc, then I would rather do it as a ReactDOM.createCustomElementType-style solution. Then

[2017-12-12 22:14] robdodson commented on #11347
@sophiebits OK, I could attempt to write up an RFC for something like that. What do you think about the idea you floated back [on October 26](https://github.com/facebook/react/issues/11347#issuecomment-339830484) of going properties first on the client side and also allowing folks to write ReactDOM.createCustomElementType for SSR and/or if they want really fine grained control over how the client

[2017-12-12 23:25] treshugart commented on #11347
At least with the `createCustomElementType` style, libraries can easily map their APIs into that. I.e., our skatejs/renderer-react could easily take the `props` and configure the custom element for React. This sort of leaves vanilla folks high and dry without an abstraction or performing a bit of work, though. I like Rob's suggestion of a safe default, while allowing fine-grained control. Is that

[2017-12-13 00:02] nitish24p opened #11838 "Hydration warning with code splitting and server side rendering"
**Do you want to request a *feature* or report a *bug*?**
Bug maybe?

**What is the current behavior?**
When Server side rendering is enabled on the server side along with code splitting on the client side the app throws a warning
[code]
When code splitting is disabled the warning goes away.

**What is the expected behavior?**
An error message should not be shown

**In my serverMarkUp.js**
[code]

[2017-12-13 00:17] gaearon commented on #11838
Can you please provide a minimal example without React Router or HOCs? Neither should be essential to the problem you have. It’s hard to tell what’s going on when there are multiple indirections.

[2017-12-13 00:37] nitish24p commented on #11838
Can i make a small repo for this.. with the above case will that work?

[2017-12-13 01:29] borm commented on #9214
and how about this?
[code]

[2017-12-13 01:56] sophiebits commented on #11347
@robdodson I think I'm on board with it. Can't promise no other concerns will come up but I think it feels like a good balance.

[2017-12-13 02:00] sosout opened #11839 "Which is better to use three definitions of variables in React ES6? Why?"
[code]
which is the best way to use the three defined methods?
The arr does not need to be rendered, just make a temporary cache comparison new data use！

Thanks！

[2017-12-13 02:42] koutron commented on #11809
hey @johnnysprinkles have you looked into Redux?  it can be connected into React and provides a 'store' of variables that are accessible to components of your choosing.

[2017-12-13 03:19] likethemammal commented on #1831
Jest throws an `Unexpected token` error with JSX comments atm. Something to consider

[2017-12-13 06:48] zhiqiang21 opened #11841 "Map is not defined"
when i use reactv16.2  in my project.  on some mobile it error

**Map is not defined**

[code]

[2017-12-13 07:02] TrySound commented on #11841
@zhiqiang21 Which exactly mobile?

[2017-12-13 07:12] zhiqiang21 commented on #11841
mobile information:
SamSung   Galaxy Note5   SM-N9200

i use browser information is

UC browser v10.9.10.788

[2017-12-13 07:16] TrySound commented on #11841
@zhiqiang21 https://reactjs.org/docs/react-dom.html#browser-support

[2017-12-13 07:17] sw-yx commented on #11839
hi, all can do what you need, it just depends on what you want to do in the end. in particular your method Two stores the array in state so setting that state will trigger a rerender, whereas the other two methods you gave will involve mutating the array without rerendering the component.

This is more of a question of opinion/code style and so is not a suitable issue to raise in this github repo.

[2017-12-13 07:23] sw-yx commented on #11809
pretty sure he's looked into redux. one common thread that this has is with the new context RFC: <https://github.com/reactjs/rfcs/pull/2>

[2017-12-13 07:29] zhiqiang21 commented on #11841
thanks .

[2017-12-13 07:29] #11841 closed

[2017-12-13 08:23] prakharrke opened #11842 "Is it possible to declare a class variable in component class?"
Is it possible to declare a class variable in a Component class?
For example,

[code]

I used to declare such variables earlier while using client-side rendering using webpack-dev-server. But recently I moved to server-side rendering using express and webpack-middleware. Now I can not declare such class variables.
Where am I going wrong?

[2017-12-13 08:25] fivepointseven commented on #11842
You need [babel-plugin-transform-class-properties](https://www.npmjs.com/package/babel-plugin-transform-class-properties) to do this. You probably have it in your client side setup.

[2017-12-13 09:32] QuantumInformation commented on #1360
What about if the input is connected to a redux action and its value to the store. Is this a good solution:

https://medium.com/@justintulk/debouncing-reacts-controlled-textareas-w-redux-lodash-4383084ca090

[2017-12-13 09:35] milad1367 commented on #2642
I use this code but get this error:
**ExceptionsManager.js:65 Cannot read property 'then' of undefined**
[code]

[2017-12-13 12:55] borm opened #11843 "[Question] Need help with react@16.0 new lifecycle"
hi all,
after i have update to react@16.0 and read this https://twitter.com/dan_abramov/status/843822280132190208
and this
https://github.com/facebook/react/issues/9214#issuecomment-287763538

i have create fiddle with example on CodeSandbox
https://codesandbox.io/s/0xryn12myn
i don`t understand why in not worked with hot reload when component inside hoc
when component is updated we have error

`

[2017-12-13 13:23] gaearon commented on #11843
This is a lot of code to get through.

Is this a bug report? A support question? If this is a support question please use the appropriate resources: https://reactjs.org/community/support.html

If this is a bug report please create a *minimal* example: no external dependencies, no extra components, no hot reloading, just enough to reproduce the issue.

[2017-12-13 13:34] borm commented on #11843
i not sure it bug or not, but on my last example all worked fine
i have simplify my code how can maximum, it real implementation from my npm module
i can try create repo on git hub with all examples for you better understanding

[2017-12-13 13:38] ConAntonakos commented on #2642
@milad1367 As far as I know, `this.setState` does not return a promise, so you can't chain a `.then` unless you Promisify it. You're better off using the second argument, or callback function.

[code]

[2017-12-13 13:47] milad1367 commented on #2642
tnx.i following these instructions.

[2017-12-13 15:34] falzate81 opened #11844 "redirect to home after login react - redux"
I'm new working with react v4 and I try to redirect to another page, something like a home page after the user authenticate in but I'm getting problems with nested routes, I've tried [this solution](https://stackoverflow.com/questions/42095600/nested-routes-in-react-router-v4) and [this other one](https://reacttraining.com/react-router/web/example/basic) in documentation but doesn't work the way t

[2017-12-13 17:05] mrchief opened #11845 "Incorrect error for <wbr> tag"
**Do you want to request a *feature* or report a *bug*?**

 *bug*

**What is the current behavior?**

It currently gives out `Expected corresponding JSX closing tag for <wbr>` error for this tag.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Lu

[2017-12-13 17:39] jchitel opened #11846 "React 16's new error handling functionality seems to be doing more harm than good"
I wasn't sure where to report this, but this is a problem I'm having with a new feature.

I just finished upgrading my team to React 16. Overall, I think the upgrade is great. We are using fragments and the relaxed constraints on what you can return from render(), and I'm overall very happy with it.

My only issue is with error boundaries. The feature seems to be well-intended, and does help out q

[2017-12-13 17:49] mrchief commented on #11845
Ok, so rewriting the tag as `wbr />` in JSX emits the correct `<wbr>` tag in HTML. I think React has smarts for `wbr`, `br` etc. tags? If so, then this is a non-issue. Feel free to close it if there is nothing further to add/discuss here.

[2017-12-13 17:55] mrchief commented on #11839
Agree with @sw-yx. My 2 cents:

Option 1: Doesn't allow mutation. Go with this if you want to enforce this.

Option 2: Allows mutation, triggers re-rendering on mutation.

Option 3: Allows mutation, no re-rendering on mutation.

For **_your specific use_** case, Option 1 is the best choice.

[2017-12-13 18:01] aweary commented on #11845
JSX [has it's own specification](https://facebook.github.io/jsx/) which diverges from the HTML/XML specs. With JSX you need to provide a closing tag or use a self-closing tag.

👍

[2017-12-13 18:01] #11845 closed

[2017-12-13 18:23] gaearon commented on #11846
I believe the blog post about error boundaries mentions our experience with leaving UI in a broken state. Yes, sometimes it is okay, but unfortunately there are cases where leaving it in place is *really* bad (sending message to a wrong person, displaying the wrong price etc). The thinking behind error boundaries was informed by these cases (that were not very common but were severe when discovere

[2017-12-13 18:25] mrchief commented on #11845
Found the smarts: https://github.com/facebook/react/blob/master/packages/react-dom/src/shared/omittedCloseTags.js :+1:

If only I could do some research upfront... :smile:

[2017-12-13 18:30] gaearon commented on #11846
Also, it’s worth keeping in mind that boundaries are just React components. You can get creative with them. For example if keeping the UI in place is important, you can add a “Retry” button to the boundary that would reset the error state (and make it attempt to render its children again). If the error was transient (e.g. related to state that got reset), the user will see the component again. Oth

[2017-12-13 19:28] nhunzaker commented on #11606
@svagi It's triggering a change event for me. I've only tested in FF and Chrome however.

[2017-12-13 19:29] borm commented on #11843
@gaearon, GH repo
https://github.com/borm/react-mount

Please uncomment this
https://github.com/borm/react-mount/blob/master/src/components/App.js#L35

and try set any changes, you will see error

but this hack https://github.com/borm/react-mount/blob/master/src/components/Connect/goodConnect.js#L14 fixed this error

[2017-12-13 20:44] svagi commented on #11606
@nhunzaker Chrome 63
![input](https://user-images.githubusercontent.com/1558135/33961515-a826d87c-e04e-11e7-9b05-903e94234e5d.gif)

[2017-12-13 20:46] jchitel commented on #11846
That's actually an interesting idea. I'll have to start thinking a little more outside the box for these.

My primary reasoning for the suggestion was that while we fine-tune exactly where we need error boundaries and what they should do, we are leaving a bad user experience because errors are no longer silent. This is why I was suggesting that the "fallback UI" concept be more of an "opt-in" feat

[2017-12-13 21:00] gaearon commented on #11846
Arguably UI that doesn’t update or does the wrong thing is also a bad user experience, just a less obviously visible one. We did the gradual migration by running the code with the new engine for a subset of users, and gradually ramping up the fraction, but that’s much harder to pull off with the final releases (since 15 and 16 have other differences). I’m sorry I can’t give you a better suggestion

[2017-12-13 21:04] jchitel commented on #11846
Sounds good! Well we have some context and additional suggestions for how to proceed, so I'll close this.

[2017-12-13 21:24] dryganets opened #11847 "Lifecycle method to build initial state for classes"
**Feature request**
We need to have a way to build the initial state of ReactComponent in case of usage of classes.

**What is the current behavior?**
Warning in case this.state modified in willComponentMount.

Access to partially constructed object in case of somewhat complex state building logic in the constructor.

For example, if we have a hierarchy of classes with the _buildState method calle

[2017-12-13 21:44] gaearon commented on #11847
If you need to set the state, the supported way to do this is to assign `this.state` in constructor:

[code]

As mentioned in our documentation we [don't](https://reactjs.org/docs/composition-vs-inheritance.html) encourage using inheritance in React components precisely because of these annoying cascade issues when things depend on each other in weird ways.

However, it is not clear to me what you

[2017-12-13 22:18] deregtd commented on #11847
(one of the ReSub creators here)

We have an automated subscription system that makes developers not need to understand multiple state changes, manual subscriptions, componentWillReceiveProps, etc.  You just have a single _buildState function that builds initial state and any updated state. Think of it as react-style render() function for building your state.  As such, we need to build an initial

[2017-12-13 22:19] deregtd commented on #11847
To be more clear, components use a ComponentBase class that they inherit from, which handles all this intermediate buildState handling.  So the component has to call super() in its constructor, even when it has private variables it needs to initialize.

[2017-12-13 22:23] gaearon commented on #11847
Can you give me a tiny example of inheriting and base classes? Even maybe a grossly simplified version of `ComponentBase`. I'm still struggling to understand the problem because we don't really use inheritance chains in React. It's also not clear if you're talking purely from a TS perspective, or if the problem exists in React as well.

[2017-12-13 22:28] gaearon commented on #11847
From React's perspective, `this.state` is like a C# `readonly` field: assignable in constructor, but not anywhere else. Of course we can't enforce it in JS but that's the design intention. I hope you can consider it reasonable. If React was written in C#, and you built ReSub on top of that, how would you design its `buildState` API?

[2017-12-13 22:43] dryganets commented on #11847
Well, simple lifecycle method to build initial state would enable classes usage.

I think the React will only benefit from this.

[2017-12-13 22:43] deregtd commented on #11847
The ComponentBase itself is fairly simple:
https://github.com/Microsoft/ReSub/blob/master/src/ComponentBase.ts

Fundamentally, it has a pretty empty constructor, and then in componentWillMount, it just has this.state = this._buildState().

The problem is that you can actually change state (and props for that matter) down the line.  So treating it as readonly in the constructor is awkward.  Is ther

[2017-12-13 22:49] deregtd commented on #11847
Example code that's an issue:
[code]

In this example, if you switch to putting "this.state = this._buildState()" in the constructor, state will be set to: { someVar: undefined }.  This is obviously a stupid and contrived version, but we had dozens of bugs based around issues like this until we moved the initial _buildState call from the constructor into the componentWillMount function long ago.

[2017-12-13 23:59] nhunzaker commented on #11606
Is it possible that this is a typo, and you mean `0,`? I'm unable to type commas into the number input in both OSX and Windows Chrome 63.

But in short, **you're correct In Chrome, we can't control invalid values on number inputs because Chrome reports an empty string no matter what**.. The input reports `""` regardless of if the number is `"..."` or `"....."`. If you need to this level of control

[2017-12-14 00:01] nhunzaker commented on #11606
It's also possible I just displayed some American ignorance of using commas as decimal places :). I apologize :(.

[2017-12-14 00:35] clemmy commented on #11839
As @sw-yx and @mrchief pointed out, option 1 is the best choice for your use case, and issues not related to the React library itself should go into the appropriate channels.

[2017-12-14 00:35] #11839 closed

[2017-12-14 01:58] AyWa commented on #11844
I think you are talking about react router which is not inside the `react` repository.
you can post your issue there https://github.com/ReactTraining/react-router/tree/master/packages/react-router
or I guess in stack overflow will be better.

[2017-12-14 04:19] prakharrke commented on #9681
I am trying to wrap my head around this new concept. A few things that I find difficult to understand are:
When we say server side and client side with React, does it mean that a separate React project is deployed on the server and a separate one on client? Because in development environment, all my files, both Express files and React files reside in the same project. Correct me if I am perceiving

[2017-12-14 04:50] #11844 closed

[2017-12-14 05:52] AdoniRakesh5420 opened #11850 "React-form-with-constraints: Unable to find node on an unmounted component"
I'm using react-form-with-constraints for my form validation (version 0.2.3) and my createCompany file extends this. On form submit click i'm calling super.handleSubmit() for validation but it throws below error:

    Uncaught Error: Unable to find node on an unmounted component.
    at invariant (commons.chunk.js.f2d6763b.js:214)
    at Object.findDOMNode (bundle.f2d6763b.js:96653)
    at CreateC

[2017-12-14 06:09] AyWa commented on #11850
Hi,

This is not a problem with `react` but the library you are using. If the package is using a react version higher than yours then you have to migrate to the version they are using or, using a previous version of this package.

From what I see https://github.com/tkrotoff/react-form-with-constraints/blob/v0.6.0/package.json
on version `0.6` they were using `"react": "^15.6.2",` so you should try

[2017-12-14 06:46] phallguy opened #11851 "autofocus attr not included in button element when rendered"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

`autoFocus` prop on `<button />` component is not rendered to the DOM. According to MDN autofocus is a valid attr for the button element.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button

**If the current behavior is a bug, please provide the steps to reproduce and if possible a mini

[2017-12-14 09:16] AdoniRakesh5420 commented on #11850
@AyWa i tried changing the version but it didn't help.

[2017-12-14 09:24] RaedsLab opened #11852 "Listeners "leak" and increasing nodes after unmountComponentAtNode"
**Do you want to request a *feature* or report a *bug*?**
Possible bug

**What is the current behavior?**

When I render a very simple React app using ```ReactDOM.render``` then ```ReactDOM.unmountComponentAtNode``` several times I get the following chart with what looks like an increasing number of listeners and nodes in my application.

![react_empty](https://user-images.githubusercontent.com/14

[2017-12-14 10:27] gaearon commented on #11852
Are you testing with the production version?

[2017-12-14 10:30] gaearon commented on #11850
This is a support request. We use the issue tracker for issues in React itself so I’ll have to close this. Please refer to the appropriate community resources for support: https://reactjs.org/community/support.html

I believe the error message says exactly what the problem is: you can’t call `findDOMNode()` on an unmounted component. If you believe it’s not unmounted, and React error is a bug in R

[2017-12-14 10:30] #11850 closed

[2017-12-14 10:32] gaearon commented on #11851
This is intentional because it works very differently in different browsers. So instead of actually setting a DOM attribute, we polyfill its behavior in JavaScript.

[2017-12-14 10:32] #11851 closed

[2017-12-14 10:47] RaedsLab commented on #11852
@gaearon  Thank you for the quick response.

The first screenshot is using DEV version. The fiddle is using the provided template.

I tried with ``yarn build`` and now it looks much smoother. Thank you.
![react_build](https://user-images.githubusercontent.com/1442690/33988375-7f8f4234-e0c4-11e7-8624-1ca2d363aa46.PNG)

Do you know what is causing this ?

[2017-12-14 10:47] #11852 closed

[2017-12-14 13:35] shardy315 commented on #9249
Hey @selbekk

In my App.js , I have the following code :

[code]

This is very similar to https://facebook.github.io/react-native/docs/tutorial.html and I don't see what I am not sure what I am exporting/importing incorrectly .

Thank you :)

[2017-12-14 14:34] evmar commented on #11092
I work in this space (spent a lot of time fighting with Closure Compiler over the last few years) so if you have any questions feel free to ask.

One big piece to be aware of: there are two main ways for property renaming to work in advanced mode, controlled by the "use_types_for_optimization" flag.  When it's on, it relies on correct type annotations to know what to rename, which I think is maybe

[2017-12-14 15:02] gaearon commented on #11092
This makes sense. Would you be interested to send a PR to try converting the “react” package to the advanved mode with an externs file? It’s a small package so easy to experiment with. I tried flipping the advanced mode on it before but there were some compile errors and I didn’t proceed.

[2017-12-14 15:12] yossijacob commented on #11565
so @esturcke ,what did you do ?

[2017-12-14 15:12] alisherdavronov opened #11853 "window.opera = null problem"
I want to report a bug.

When there is a var named opera with value null in window before loading react then react app crashes.

Steps to reproduce:
1) Create a new app using create-react-app my-app
2) cd my-app && yarn start
3) Add one line (<script>window.opera=null</script>) just before closing body tag into file public/index.html
4) The app crashes here.

Couldn't reproduce on jsfiddle.net. I

[2017-12-14 15:22] selbekk commented on #9249
Can’t see anything wrong with that code tbh.

[2017-12-14 15:33] gaearon commented on #9249
I’ll lock this issue because any similar problems are not related to the particular problem this issue is describing.
Please file a new issue if you experience a problem, along with a reproducing project.

[2017-12-14 15:47] esturcke commented on #11565
Hi @yossijacob. I've sort of been pushing off trying to deal with it and moved on to working on other things in the hopes that @gaearon and others might point out what I'm doing wrong or add support to `react-test-renderer`.

[2017-12-14 16:08] pronebird opened #11855 "Bug in scryRenderedComponentsWithType"
`scryRenderedComponentsWithType` spits the following:

test case:

[code]

[2017-12-14 16:14] EliecerC commented on #3386
I needed something like this for mentions matching some pattern so it can wrap multiple values and did some changes to the @richardwestenra solution. Maybe it will be useful for someone.

[code]

[2017-12-14 16:24] fpw23 commented on #6424
I think I found a hacky way to do this by abusing the ref prop.  When the ref prop is passed a function it calls this function passing you a ref to the dom element on mount and passing you null on unmount.  By hijacking this function I was able to build a wrapper component that renders its children in a div and then an extra span/div element immediately after the children.   The extra span/div has

[2017-12-14 16:28] shardy315 opened #11856 "Not able to build a basic file"
Hi All,

The error I get is :

https://image.ibb.co/b8EK4m/Screen_Shot_2017_12_14_at_16_27_33.png

My App.js is like this. Not sure what I am doing wrong here. Would be grateful for any pointers. Thank you :)

[code]

[2017-12-14 17:16] phallguy commented on #11851
Oh wasn't aware of the cross browser behavior. What polly fill would you recommend to support native autofocus on buttons?

[2017-12-14 17:30] gaearon commented on #11851
We already include the polyfill. When you give `autoFocus` to React, it calls `focus()` on initial mount.

I'm not really sure I understand your example. Two things can't be focused at the same time. React focuses the input in your example, but if you remove the input, it will focus the button, just like I'd expect.

[2017-12-14 17:31] gaearon commented on #11855
This doesn't tell us much (what is `Accordion`?)

Please provide a full reproducing projcet.

[2017-12-14 17:33] gaearon commented on #11856
Can you please upload a sample project demonstrating this? It's not obvious which versions of which packages you're using etc.

I would also suggest filing this in https://github.com/facebook/react-native instead. We don't provide support for RN in this repository.

[2017-12-14 17:37] shardy315 commented on #11856
Thank you @gaearon . Should I delete this thread and open a new one in the above link ?

[2017-12-14 17:46] gaearon commented on #11856
That would probably be best. But if you don't receive a response please feel free to ping me here and I'll try to help. In any case I'll need a reproducing project to look into it.

[2017-12-14 17:46] #11856 closed

[2017-12-14 17:47] shardy315 commented on #11856
Thank you.

[2017-12-14 17:52] phallguy commented on #11851
Ahh I see. The example was to demonstrate the presence of the autofocus attr itself on the rendered DOM element. In the real world example that started my research, I was rendering a button  element into a dialog and it was not focusing when it was rendered. However using an input element instead in the same dialog would become focused.

I'm trying to make sure that I can have a button in a dialog

[2017-12-14 17:53] gaearon commented on #11851
React just calls `focus()`. The browsers are inconsistent about focusing with `autoFocus`; I'd be very surprised if their implementation is somehow better for a11y. Happy to be proven wrong though.

[2017-12-14 17:54] gaearon commented on #11851
See https://github.com/facebook/react/issues/11159#issuecomment-335824907 and https://github.com/facebook/react/issues/11159#issuecomment-335836758 from my last investigation into this.

[2017-12-14 18:26] banga commented on #11092
Here's a possible resource for extern files for react if it helps (h/t @mihaip for finding it): https://github.com/cljsjs/packages/tree/master/react/resources/cljsjs

[2017-12-14 19:04] dryganets commented on #11847
@rigdern, pointed me to the existing lifecycle method getInitialState. Though for some reason it doesn't work for typescript/es classes (it is not called and there is a warning to use it with createClass only).

I think It would be ideal if this method will be called to set this.state after class is correctly instantiated. You could remove the recommendation to don't use classes in this case from

[2017-12-14 19:15] albertotorresfoltyn commented on #3659
Closed, but still NOT working

[2017-12-14 19:49] OverseePublic opened #11857 "BUG? Cannot read property 'isReactComponent' of undefined"
Can't seem to find the root cause of this random failure in emzyme + jest test.

Any helps would be very appreciated.

[2017-12-14 19:52] modosc opened #11858 "add support for nomodule attribute on the script tag"
**Do you want to request a *feature* or report a *bug*?**

feature: add support for the [nomodule](https://hospodarets.com/native-ecmascript-modules-nomodule) attribute to the script tag.

**What is the current behavior?**

with `<script nomodule src="foo.js" />` i get:
[code]
and the attribute is removed.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a

[2017-12-14 20:17] gaearon commented on #11299
Ping @reznord

[2017-12-14 20:32] klimashkin opened #11859 "Consider making <> pure unwrapped fragment"
**Feature request**

Currently if we pass Fragment with children to any custom component, this component gets that fragment as a child
[code]

That means in all components where children is being altered (cloned) we need to check first that each item is a fragment first, and if it is - take its children instead of itself.

This was a little unexpected, because after reading the documentation the i

[2017-12-14 20:54] gaearon commented on #11857
Please provide a reproducing project.

[2017-12-14 21:04] gaearon commented on #11092
Nice! This issue would still very much benefit from someone motivated to try it. Now that we have bundle tests, it’s a great time to play with it.

[2017-12-14 22:08] banga commented on #11092
I'd love to take a stab at it in a couple of days if that's ok?

[2017-12-15 00:51] gaearon commented on #11092
Sounds good!

[2017-12-15 01:41] gaearon commented on #11847
React provides a method called `setState()` for changing it down the line. Mutating the object was not intentionally supported.

[2017-12-15 01:42] gaearon commented on #11847
Not quite sure what you mean. `componentWillMount` has some other issues and we might start pointing people to use other methods in the future, but for now calling `setState` in it should be equivalent to setting state in the constructor. Can you provide an example where it behaves differently?

[2017-12-15 02:13] dryganets commented on #11847
It doesn't work for us that well because we have plenty of places in our codebase where we need that initial state in componentWillMount.

If we use setState instead of assigning it directly this.state is not defined in the componentWillMount of derived classes.

It is possible to fix it by assigning to some nextState class field, but it is a quite confusing pattern.

[2017-12-15 09:27] pronebird commented on #11855
`Accordion` is any kind of component that inherits from `React.Component`.

[2017-12-15 09:47] malstoun commented on #11565
We've encountered the same problem with `parentInstance.children.indexOf is not a function` error.

I dig a little and found, that `parentInstance.children` in case of portal is an instance of HTMLCollection, but test-renderer expects Instance type or TextInstance type in appendChild method.

I can work on this, but I need a little guidance @gaearon

[2017-12-15 10:27] amannn commented on #11859
I've stumbled across exactly the same issue.

For this to work I now need a render function like this:

[code]

I'm not sure if that `children.type === Fragment` check is safe. I was also expecting that a fragment is resolved by using `Children.map` and friends, so I wouldn't have to do this check.

[2017-12-15 10:35] amannn commented on #11859
As far as I understand, this part should be patched to also consider fragments for this to work: https://github.com/facebook/react/blob/cc52e06b490e0dc2482b345aa5d0d65fae931095/packages/react/src/ReactChildren.js#L149-L160

If that's the case, can I submit a PR?

[2017-12-15 12:26] Termit1975 opened #11862 "ShallowRenderer not considering contextTypes when rendering children"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
ShallowRenderer not considering contextTypes.

**Note: I was not able to easily include react-test-renderer in a fiddle so I include a unit test.

[code]

**What is the expected behavior?**
I would expect that when rendering Component1 with ShallowRenderer, render method would check Component1.contextT

[2017-12-15 13:09] gaearon commented on #11859
My understanding is this was an intentional decision. Paging @acdlite

[2017-12-15 13:15] finom opened #11863 "React doesn't re-render DOM after manual DOM tree and key prop changes"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

In the real world I used https://github.com/RubaXa/Sortable to sort array items. When I d'n'd an item I send a new sorting state to a server. It's OK when the server responds  with the same data I've sent but if the server rejects sorting and sends me the data I had in the beginning, array items d

[2017-12-15 15:19] hdpinto commented on #4457
I'm still experiencing this issue on 15.5.4 on radio inputs. What version was this fixed on?

[2017-12-15 15:23] hdpinto commented on #11678
This seems to have been a problem in the past ([#4457](https://github.com/facebook/react/issues/4457)), and was apparently fixed. I'm still experiencing this on radio inputs though, but with a double-click.

[2017-12-15 18:04] MagnumDopus commented on #2642
I have a question regarding setState and why I end up using the callback function often.

My understanding is that setState is asyncronous.  In my product we do a lot of async ajax calls.  While the call is happening I setState({isFetching: true});  This value is used to determine if the user sees a spinner or fetched data.  When the request is complete and the data is parsed, the value is changed

[2017-12-15 21:59] doasync opened #11864 "ES6 generator as a component: react-dom.development.js bug"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

react-dom.development.js behavior is different from the behavior of react-dom.production.min.js

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

Here is an example: https://codepen.io/doasync/pen/RxWoJQ?editors=1010 (doesn't w

[2017-12-15 23:06] gaearon commented on #11864
I believe this is not a bug, it's just a somewhat confusing intentional behavior.
See here for an explanation: https://github.com/facebook/react/issues/11502.

[2017-12-15 23:17] gaearon commented on #2642
We're not adding *this* next year (as I said above). I said that we'll consider this feedback as we think about next APIs, not that we'll make `setState` return a Promise.

In my experience, it’s the opposite pattern that becomes a maintenance burden. Somebody adds a `setState` callback in one place because that’s where the state gets set. Then somebody else calls `setState` in another place but d

[2017-12-15 23:18] arjunmehta commented on #8938
I'm still encountering this. Tapping on `clear` does not clear the field, nor restore it to its `defaultValue`.

[2017-12-15 23:22] gaearon commented on #11862
Yeah, this looks like a minor bug. Happy to accept a fix for it but this probably won't be a priority as we're working on the new context API anyway: https://github.com/reactjs/rfcs/pull/2.

[2017-12-15 23:26] gaearon commented on #11863
React does not support other code messing with the DOM nodes that it manages. Checking for all possible things that external code can do would kill the performance.

There are some exceptions to this rule: some operations are intentionally safe. They are described in more details here: https://reactjs.org/docs/integrating-with-other-libraries.html. The general guideline is that if you want to chan

[2017-12-15 23:26] #11863 closed

[2017-12-15 23:45] gaearon commented on #11852
I don't think it's a leak even in DEV. If you wait for GC it should get collected.

[2017-12-16 02:02] sebmarkbage opened #11866 "Improve accidental `void` return in render props?"
We know that it is easy to accidentally forget to return from functions or arrow functions. That's why we don't allow returning `undefined` from render functions. (I think we do in the children position but that's harder to disallow.)

[code]

[code]

or

[code]

It can be difficult to detect an undefined return but the error/warning will also come from the implementation of `Foo`.

I wonder if we

[2017-12-16 09:01] johnnysprinkles commented on #11809
Yeah, adding Redux has the same issue... someone already using Redux though, sure you could put global state in there.

I'll reformulate this as an RFC in the new style of feature requests.