[2022-04-04 20:46] joshribakoff-sm commented on #21668
To clarify, typing in my search's input works, but it's similar to a MUI autocomplete https://mui.com/components/autocomplete/ and rendering the suggestions / results is blocked.

We'll need to not only remove the transition from our search, but also remove suspense completely, otherwise we get a flicker without the transition.

Please let me know if I can help out with testing any unreleased fixe

[2022-04-04 23:20] scyron6 commented on #24157
I will work on this.

[2022-04-05 01:56] gaearon commented on #24221
fixed by https://github.com/facebook/react/pull/24274

[2022-04-05 01:56] #24221 closed

[2022-04-05 02:19] #24243 closed

[2022-04-05 08:15] vorawoot418 opened #24278 "Please see https://github.com/facebook/react/issues/8267."
Please see https://github.com/facebook/react/issues/8267.
This usually means React is an inconsistent state caused by an *earlier* error in your code.
If you don't see this error it might be because you have a `catch` block silently swallowing it.

Related explanations: https://github.com/facebook/react/issues/7617#issuecomment-247710003, https://github.com/facebook/react/issues/4199#issuecomment-

[2022-04-05 09:41] vnylbscr commented on #5878
<script> alert('devam') </script>

[2022-04-05 09:43] MattOfficial commented on #24208
Thanks. This helped.

[2022-04-05 12:50] #24278 closed

[2022-04-05 13:03] SanderRonde opened #24279 "Bug: [eslint-plugin-exhaustive-deps] hook wrongly marked as conditional (at exact number of conditionals in FC)"
When using an exact number of conditionals before and after a react hook, the `React Hook "hook_name" is called conditionally. React Hooks must be called in the exact same order in every component render` rule is wrongly flagged as being violated. This is a really weird bug and it's kind of hard to explain. Just take a look at the code and watch as ESLint flags the hook as somehow being conditiona

[2022-04-05 14:21] Eameija opened #24280 "Bug: componentWillUnmount is called twice"
React version: 18.0.0

## Steps To Reproduce

`componentWillUnmount` is called twice upon toggling the rendered component. Even when **StrictMode** is disabled

Link to code example: https://codesandbox.io/s/componentwillunmount-called-twice-hrpzy5?file=/src/App.js

## The current behavior

After upgrading to react 18 we've seen some different behavior in a conditionally rendered, lazy class compo

[2022-04-05 15:18] gaearon commented on #24280
Woah.

[2022-04-05 15:25] gaearon commented on #21668
Checked with the team. All transitions get "entangled" in the current implementation. There is a planned project to solve this, but there are more urgent things to do post-release so we expect to get back to it not earlier than H2 of this year. Obviously, it will become more pressing as concurrent features start getting adoption.

[2022-04-05 16:25] nathan-jahn commented on #18705
Having the same issue, using Firefox Developer Edition. An example website that produces this issue is https://www.airbnb.com Firefox Dev Edition does not detect React while Chrome does.

[2022-04-05 16:27] joshribakoff-sm commented on #21668
Thanks for confirming, it would be good to document these semantics sooner than H2. Let me know if I can help with contributing anything here like a PR or helping with docs. Your feedback has been very helpful in vindicating our approach to use just on our charts, since they are the one slow thing we have [from a network and CPU perspective]. I think another workaround if we really wanted an escap

[2022-04-05 16:38] lunaruan commented on #24267
Hey @jakejarvis and @Sam-Apostel! Thanks so much for reporting this issue. I see that you are using DevTools v4.24.0 and v4.23.0 respectively. I tried reproducing with our most recent DevTools version (with several bug fixes related to the store) in v4.24.3. We've already released this version to NPM and we're publishing it to Chrome/Firefox today. I tried reproducing the issue with the most recen

[2022-04-05 18:07] devshorts commented on #19034
Any traction on this? This is pretty annoying

[2022-04-05 20:05] scyron6 commented on #24279
I will work on this.

[2022-04-05 22:35] gaearon commented on #24279
Sure, thanks.

[2022-04-05 23:28] dijonkitchen commented on #3964
Looks like there is an official answer now:

https://reactjs.org/docs/dom-elements.html#onchange

[2022-04-06 01:52] #24262 closed

[2022-04-06 02:28] mnpenner commented on #3964
@dijonkitchen I don't think that's new. See https://github.com/facebook/react/issues/3964#issuecomment-219575696

[2022-04-06 05:48] awefeng commented on #24255
maybe I should take a good look at the update docs，thank you bro

[2022-04-06 05:49] awefeng commented on #24255
thank you bro

[2022-04-06 06:17] fengsx commented on #22869
@wangjia0525 大陆可以使用  staticfile.org 或者其他公共 cdn 提供商

[2022-04-06 07:23] tjx666 opened #24283 "[DevTools Bug]: Suppress log message: Download the React DevTools for a better development experience"
React version: 18.0.0

## Steps To Reproduce

1. open a remote debug chrome devtools window
2. the message will show

Link to code example:

## The current behavior

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/41773861/161918579-8c7458a0-5568-4f3b-a1ad-cdb5da5cde87.png">

## The expected behavior

No this message. Chrome extension can't be used in remote debug wind

[2022-04-06 07:26] tjx666 commented on #24283
Set __REACT_DEVTOOLS_GLOBAL_HOOK__ environment is not a good idea because https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/475

[2022-04-06 09:39] Sam-Apostel commented on #24267
thanks for looking into this @lunaruan
I can confirm that `react-devtools@4.24.3` fixed this issue.

In the process of updating my `react-devtools` npm installation on macos I kept getting the `2.23.0` version.
I had to manually remove the `react-devtools` folder at `usr/local/lib/node_modules/react-devtools`.

[2022-04-06 09:39] #24267 closed

[2022-04-06 12:06] Kramb commented on #24280
I believe that this is a similar problem that I am having with the useEffect hook.
I am providing a sample on StackBlitz to illustrate my problem. I apologize if this is not the appropriate place to put this and I will open a new Issue if it is necessary.

[useEffect Multiple Calls](https://stackblitz.com/edit/react-cdbyqk)

[2022-04-06 12:19] gaearon commented on #24280
@Kramb, no, the duplicate *matching* useEffect setup+cleanup calls are expected in 18 when Strict Mode is on.
See https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-strict-mode

This issue is about an unrelated bug where `componentWillUnmount` does not "match" `componentDidMount` when used inside of `<Suspense>`.

[2022-04-06 12:30] Kramb commented on #24280
@gaearon Okay, I see now. I appreciate the clarification. I've been running in circles with this one and I think I jumped at the first thing that resembled my issue.

[2022-04-06 12:36] jakejarvis commented on #24267
Fixed for me as well! Just had to press update from the Chrome extensions page to force it. Thanks so much @lunaruan!!

[2022-04-06 15:48] bvaughn commented on #24283
Right. `__REACT_DEVTOOLS_GLOBAL_HOOK__` is a global variable (because of how the extension works) but it should be thought of as React internals and should not be overridden.

React DOM logs a suggestion to install React DevTools on environments where DevTools isn't installed, which it identifies by checking to see if `__REACT_DEVTOOLS_GLOBAL_HOOK__` has been defined. In the "remote" environment y

[2022-04-06 16:38] gaearon commented on #24283
I did suggest overriding it in the past as a workaround for this log: https://github.com/facebook/react/pull/11448. I'm not particularly fond of that approach, but wanted to share as an explanation for why people are trying that pattern.

[2022-04-06 20:37] sunderls commented on #24246
I think this is out of the scope of React
React could lint what argument each API is called with , like the callback and deps in `useState(callback, deps)`,
but it cannot lint how `useState` is called.

[2022-04-06 20:48] bvaughn commented on #24283
@gaearon Maybe worth editing that old message to remove the recommendation (or clarify that it _technically works_ but we don't _recommend_ it) if it's causing confusion?

Overriding the hook feels kind of sketchy to me as it could easily cause runtime errors that get misattributed to React or DevTools. (This has happened before, although I don't remember the issue numbers.)

[2022-04-06 20:51] gaearon commented on #24283
If we remove the suggestion, it feels like we should also reopen that issue since it was a very popular request, and now it has no solution... I wonder if there's some stopgap solution that we can expect to work indefinitely.

If we're saying that this is no longer (tacitly) supported, we should also remove this code:

https://github.com/facebook/react/blob/ece5295e5af992d30256f26ca428abdad514f862

[2022-04-07 00:06] mikedidomizio commented on #24246
The idea would be to report the namespace as such:

https://user-images.githubusercontent.com/5728044/162094087-b80918de-0a5f-4a95-90d9-aa934b7d75cf.mov

Then update each reference by removing `React.` and updating the `react` import with what it now requires.  So far I believe it's possible to do, whether it's something people would like is another story.  There may be more complex usages that I'

[2022-04-07 02:36] bvaughn commented on #24283
I think that specifying some other global boolean (that DevTools and React both could read and respect) feels less fragile than encouraging people to override the hook. In general, I'm wary of any code that overrides the hook.

[2022-04-07 03:11] azizur commented on #22518
Looks like a fix is available in https://github.com/gregberge/svgr/issues/558#issuecomment-1063557878

[2022-04-07 04:08] joshribakoff commented on #21668
One other use case we want to call out is consider that we start a transition to fetch data and render our chart, and it takes a long time due to the network. Now while that transition is pending (due to network) the user resizes their browser and the resize event triggers the chart to update with new state (new width and height), but with stale data. Ideally we think these transitions are also de

[2022-04-07 09:10] shmoon2917 commented on #20210
I have same problem. did you find a solution?

[2022-04-07 11:39] Wang-zhechao opened #24292 "Bug: You are importing createRoot from "react-dom" which is not supported. You should instead import it from "react-dom/client"."
React version:
18.0.0
## Steps To Reproduce

1. all code in html
2.run html code

Link to code example:

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>createRoot</title>
    </head>

    <body>
        <div id="app"></div>

        <script type="text/javascript" src="../js/react.development.js"></script>
        <script type="text/javascript" src

[2022-04-07 12:29] panta82 commented on #14490
Is this still the recommended approach?

I am getting bugs with react-refresh hot updates, when I'm using lazy ref init with a `useEffect()` that clears the data.

Eg.

[code]

During hot reload, `editorRef.current.destroy()` gets called but there is no another render after, so editor doesn't get reinitialized.

[2022-04-07 12:45] gaearon commented on #24292
You can ignore this warning in `<script>` tag bundles. We've merged a fix for it but haven't released it yet.

[2022-04-07 12:45] #24292 closed

[2022-04-07 12:47] gaearon commented on #20210
You likely have code like

[code]

and `SomethingElse` is not a function. `React.lazy` only accepts functions.

[2022-04-07 12:50] gaearon commented on #24232
Ongoing work in https://github.com/facebook/react/pull/24291.

[2022-04-07 12:52] gaearon commented on #21668
I know it's a tough ask but minimal sandboxes are always very helpful for these types of issues.

[2022-04-07 12:52] gaearon commented on #24283
👍

[2022-04-07 16:14] gaearon commented on #24203
I have a fix in https://github.com/facebook/react/pull/24295.

[2022-04-07 17:06] muflona11 opened #24297 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-07 17:07] #24297 closed

[2022-04-07 18:21] akamfoad opened #24300 "Bug: `react-hooks/exhaustive-deps` function calls on object inside hooks will require object as dependency instead of the function"
React built-in hooks like `useMemo`, `useEffect` and others as well, will complain about function calls on an object when the object itself is not included as dependency or when the function/property accessed is included in the dependency array, and I think it's a false positive.

I've searched in the issues and only one found #21624 similar to, but not quite the issue I wanted to report, if you t

[2022-04-07 18:26] gaearon commented on #24300
Are you saying something mutates `foo.baz`? Reading mutable fields during rendering (as when specifying dependencies) is not supported, and so the lint rule assumes you don't do that. It's very hard to predict the behavior in this case because the result depends on subtle timing and _when exactly_ (before or after mutation) a render happens.

The rule assumes any expression you put in the dependen

[2022-04-07 19:12] #24160 closed

[2022-04-07 19:18] akamfoad commented on #24300
OK I think now I can better reason about the problem, just like reading a mutable during rendering isn't supported, when specifying a mutable dependency as well the app might not work properly or predictably as it does when the assumptions regarding immutability is met.

Thanks for your reply @gaearon.

[2022-04-07 19:18] #24300 closed

[2022-04-07 20:49] billyjanitsch opened #24302 "Console dimming on second StrictMode render forces string cast"
React version: 18.0.0 (congrats on the release ☺️)

## Steps To Reproduce

1. During rendering of a component, log something that doesn't naturally cast to a string (e.g., `console.log(new Set())`).
2. Wrap the tree in `StrictMode`.
3. Observe the console.

Link to code example: https://codesandbox.io/s/magical-roman-wyeud7?file=/src/App.js

Note that the console dimming isn't applied to the inlin

[2022-04-07 21:05] gaearon commented on #24302
I don’t see why that wouldn’t be possible. I might be missing something but my guess is that it’s a simple mistake somewhere. Do you want to have a look?

[2022-04-07 21:32] panta82 commented on #14490
Thanks @gaearon. I have indeed moved ref initialization into `useEffect`, and that has solved my problem.

In general, the solution with useEffect isn't 100% ideal because you don't have the ref instance available during the initial render. However, I was able to work around that in my use case.

For curiosity's sake, here's a sandbox with the repro of what I think was happening: https://codesandb

[2022-04-07 21:34] sophiebits commented on #22656
Still relevant (just verified in 18.0.0 stable) – this and #18101 are both interesting IMO.

[2022-04-07 21:38] billyjanitsch commented on #24302
The dimming works by using the browser's console styling API (see the "Styling console output" section of [this page](https://developer.mozilla.org/en-US/docs/Web/API/console)) which only lets you apply colors to strings because it's done via directive, e.g.:

[code]

So the React implementation has to cast to a string:

https://github.com/facebook/react/blob/f56dfe950b206651913bf0b836c10592c39335

[2022-04-07 21:44] gaearon commented on #24302
Yes. I think that would be fine.

[2022-04-07 21:55] gaearon commented on #14490
That’s right. But that’s on purpose.

Renders in React are supposed to be discardable. For example, with Suspense, if a newly mounting part of the tree suspends, React 18 will throw it away and add a placeholder instead. That tree never had a chance to mount so we don’t fire its cleanup. So if your instance _requires_ to be destroyed you would have a memory leak.

Delaying its creation to effect a

[2022-04-07 22:17] panta82 commented on #14490
@gaearon Understood. Thank you.

[2022-04-07 23:20] billyjanitsch commented on #24302
I think this is doable, it just gets a bit tricky because the console API has a mixed interface that supports both string substitutions and multiple arguments. So you need to interact with other directives. For example:

[code]

Happy to try a PR. Are you confident enough in this behavior that I should get started, or do you want to discuss with anyone first?

I do have one question about the exis

[2022-04-07 23:26] gaearon commented on #24302
I was thinking in the realm of changing

https://github.com/facebook/react/blob/f56dfe950b206651913bf0b836c10592c393357d/packages/react-devtools-shared/src/hook.js#L293-L294

to something like

[code]

[2022-04-07 23:27] gaearon commented on #24302
Oh I see, you'd need to check all of them... I think as a first approximation it's ok to opt out if any of them are non-strings. But what you're suggesting is preferable to that. Yeah I think you can stake a stab at this.

[2022-04-07 23:30] billyjanitsch commented on #24302
Yeah I think it's not so bad as long as it's ok for me to squash the existing substitution re-implementation. Something like:

1. Chunk the args into groups that capture directives and values.<br>e.g., `['A %s', 'B', 1, 'C']` => `[['A %s', 'B'], [1], ['C']]`.
2. For each group, check whether the first arg is a string. If so, prefix it with `'%c'` and insert dimming after it.<br>e.g., `['A %s', 'B'

[2022-04-07 23:31] billyjanitsch commented on #24302
Seems like it would be nice to get rid of the substitution code anyway because it's a bit buggy and probably hard to get perfectly right. e.g., `console.log('%o', [])` normally prints `[]` but when the console is patched by React rn it prints `%o `.

[2022-04-08 00:18] billyjanitsch commented on #24302
Ah sorry I misunderstood the console API: you can only specify directives in the first argument. I understand the current React implementation better now.

That means the approach we discussed won't work (because of cases like `console.log('A', [], 'B')`) but I'll try another idea.

[2022-04-08 00:37] gurkerl83 opened #24304 "Bug: React 18 types broken since the type release a view hours ago"
### Edit: If you have issues but you did NOT upgrade to 18, or if you upgraded but get confusing errors from dependencies, the problem is likely that some library (incorrectly) specifies `@types/react` as a dependency with version `*` rather than an optional peer dependency. Find which library it is and file an issue for it. See https://github.com/facebook/react/issues/24304#issuecomment-109456589

[2022-04-08 00:41] gurkerl83 commented on #24304
@eps1lon I saw you merged the following PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56210 . Can you please provide feedback on the matter with PropsWithChildren from above please?

[2022-04-08 00:47] gaearon commented on #24304
Can we move this issue discussion to the DefinitelyTyped repository? That's where the React typings are maintained, and you'll probably see more people who are directly involved and can provide their thoughts on them.

[2022-04-08 00:53] gaearon commented on #24304
If I understand correctly, the issue you're referring to is https://solverfox.dev/writing/no-implicit-children/. It's not strictly related to React 18 per se, but it's a breaking change the maintainers of React typings have meant to do for a few years. I don't want to speak for them — but there'll probably never be a “good time” to do it, and as it stands the types were wrong. So at some point the

[2022-04-08 01:02] gurkerl83 commented on #24304
@gaearon I will try the code-mod and provide feedback.

Totally agree with this!

For others who may not be familiar with the definitely-typed repo, it would be great to get some orientation here.

[2022-04-08 02:46] savager opened #24305 "Bug: Module '"react"' has no exported member 'useTransition'."
![image](https://user-images.githubusercontent.com/1455337/162352774-45639eeb-e968-4016-828d-77c7f5e483c1.png)

React version: 18.0.0 also happened in 18.0.0rc3

## Steps To Reproduce

1. No changes were made and build failed. Tried upgrading from 18.0.0-rc3 to 18.0.0

[2022-04-08 02:54] gaearon commented on #24305
Try updating `@types/react` to 18.0.0.

[2022-04-08 02:55] savager commented on #24305
Well, that's embarassing.

[2022-04-08 02:56] #24305 closed

[2022-04-08 02:56] savager commented on #24305
Silly late night mistake.

[2022-04-08 03:13] gaearon commented on #24305
No problem! (they were just published a few hours ago)

[2022-04-08 03:21] billyjanitsch commented on #24302
Put up a WIP https://github.com/facebook/react/pull/24306 with a basic working implementation. Needs tests, callsite updates, etc. Not sure when I'll have time to continue so if anyone's eager and wants to take it over from there, feel free.

[2022-04-08 05:59] channyeintun opened #24307 "Support for selectionchange event for HTML input element and HTML textarea element"
# Feature Request

"selectionchange" event for document is natively supported across all browsers. But,for HTML input element and HTML textarea element, it is only supported on Firefox. Therefore, it would be very helpful if those events are provided as sythetic events.

[Check in caniuse](https://caniuse.com/?search=selectionchange)

It would be implemented like

[code]

[2022-04-08 06:06] eps1lon commented on #24304
All the type-related breaking changes are explained in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56210. Specifically implicit children have a lengthy explainer https://solverfox.dev/writing/no-implicit-children/.

For migration of your own codebase you might want to take a look at https://github.com/eps1lon/types-react-codemod.

That doesn't help with library types though. For errors

[2022-04-08 06:55] zcw1994 opened #24309 "Bug: react升级成react18，但是types/react-route里没有限制 types/react的版本，导致类型兼容错误"
目前项目的版本 react的版本是17.x,  定义的types/react: "@types/react": "^17.0.20" "@types/react-dom": "^17.0.9",
    "@types/react-router-dom": "^5.1.8",

但是@type/react-router-dom 定义的
![image](https://user-images.githubusercontent.com/46340607/162380831-fe5f088a-965d-445e-8909-3c661aaa31eb.png)

导致他会去下载最新的 @types/react@18.0.0，导致目前项目的react组件类型错误

期望@type/react-router-dom 与 @types/react-dom 一样
![image](https://use

[2022-04-08 06:56] zcw1994 commented on #24309
类型错误导致项目编译失败

[2022-04-08 07:56] ajereos-circadence commented on #24304
quick and dirty, install `npm-force-resolutions` and add resolution for all of `@types/react`

on scripts,
[code]

on resolutions
[code]

[2022-04-08 10:52] cheton commented on #11972
This issue is related to https://github.com/facebook/react/issues/11972

See https://github.com/chakra-ui/chakra-ui/blob/next/packages/tooltip/src/use-tooltip.ts

[code]

[2022-04-08 11:55] arunavabasu-03 commented on #24203
Great !! 👍

[2022-04-08 12:07] amir-hamdani opened #24312 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-08 12:42] #24312 closed

[2022-04-08 12:51] gaearon commented on #24309
Any issues with `@types` should be reported in the https://github.com/DefinitelyTyped/DefinitelyTyped/ repo, where they're maintained. Or, in your example, `react-router` repo.

[2022-04-08 12:51] #24309 closed

[2022-04-08 12:53] gaearon commented on #24307
I think we support `onSelect` which under the hood uses `onselectionchange`. Does it do what you want?

[2022-04-08 14:12] cha0s commented on #22794
Is this still being discussed elsewhere?

When using electron, this causes a ginormous amount of log spam.

[2022-04-08 15:08] gaearon commented on #22794
What log spam are you seeing?

[2022-04-08 15:35] bvaughn commented on #24302
I think the rough logic flow for this could be something like?

1. Is the first param a string? If so, does it contain the substring "%s"? If so, we should bail.
2. If the first param is not a string, we should replace it with a string that has a "%c" for every subsequent param.
3. If the first param is a string, we should prepare "%s" and append "%c" for every subsequent param.

[2022-04-08 15:47] billyjanitsch commented on #24302
@bvaughn I've done something similar in https://github.com/facebook/react/pull/24306, not sure if you had a chance to look at that. I'm a bit confused by your proposal, though. If I'm understanding you correctly:

Do you mean something like: `['A %s', 'B']`? If so, I don't understand why we'd bail in this case. We can transform this to `['%cA %s', 'color: grey', 'B']`.

Can you clarify how you're

[2022-04-08 15:55] bvaughn commented on #24302
Ooops. Haven't looked at the PR yet, sorry, but just realized I accidentally swapped my "%c" and "%s" args above.

[2022-04-08 15:57] bvaughn commented on #24302
[code]

[code]

[2022-04-08 16:03] gaearon commented on #24302
Seems like an accidental close? The bug is there.

[2022-04-08 16:22] zjfresh commented on #24103
Exactlly it's the problem of Rollup and already fix it two years ago. See https://github.com/facebook/react/pull/24124#issuecomment-1093057602

[2022-04-08 17:08] bvaughn commented on #24302
😱 TIL about `%o` – yes, that makes good sense to use that flag instead then.

[2022-04-08 17:25] dstaver commented on #24304
I totally understand that breaking changes are needed sometimes.

I only want to suggest that the next time you add a deprecation warning with a `/**@deprecated*/` jsdoc tag in an intermediate release before releasing the breaking changes.

I would have stopped using this syntax a long time ago if my editor started warning me this was deprecated syntax.

[2022-04-08 17:38] cha0s commented on #22794
Sure, here's about a half-second worth:

[code]

It's reflecting the:

[code]

being echoed in the electron devtools console. Luckily the devtools console consolidates the warnings and just prefixes it with the number.

I can mitigate the issue by turning off `verbose` logs, but the real solution is actually addressing the problem, IMO (I hate suppressing warnings).

[2022-04-08 17:46] gaearon commented on #22794
I think there is a misunderstanding.

This issue is about support for marking events as **not passive** because they *are* passive by default.

The warning you're showing is the exact opposite. Can you please show which callsite the warning highlights? I have a suspicion that it's either not React, or it's some older version.

[2022-04-08 17:53] gaearon commented on #24304
Can you clarify which syntax you're referring to?

[2022-04-08 18:39] gaearon commented on #22794
No problem!

[2022-04-08 19:25] dstaver commented on #24304
Specifically `children` being a prop on `React.FC`. I just checked, and in our codebase that type is used in 258 places. I haven't yet checked how many of them assume children exist. It's probably easy to fix, it was just an unexpected obstacle to testing out the new React version.

I also noticed a few dependencies breaking, React Helmet (recent version) and theme-ui (older version) among others.

[2022-04-08 19:29] gaearon commented on #24304
I see. I'm not sure `/**@deprecated*/` would work there — wouldn't it flag the *usage* of `children` by passing them? Whereas the thing we'd want to flag is the other way around — it not being declared explicitly.

[2022-04-08 19:36] channyeintun commented on #24307
It works fine when I change the selection using keys (pressing shift and left/right arrow) but it does not work properly when I change the selection using mouse or touchpad by dragging.

"selectionchange" should be triggered every character the selection is changed which means not only on mouse pressed and mouse released.

I showed the demo: https://channyeintun.github.io/

You can see the differe

[2022-04-08 19:40] eps1lon commented on #24304
That might have worked: https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQNwCwAUIzAJ5hZwAKxYqA6sBgALACJYwlXMhhYAJgGEhwADazKAOwA83CLwB8cALxce6AGRwA3ozi24AegQIbdxHAACs8ZOly4AWi5lHFQOL1xlZEo4AANcJVUNGLgsAA8wZWBcQWUWOAh1OGEOHV4itiwAOhc7BHsauHiVNSx1AH4ALkwqGErsPBgAOQgvegYAX0ZGYHUZKAI8EtMrBqbE1s7ugb6e4dHGSaYGVnYt-ABGAHYAMQBXdXxgAvkSSHVWmG1l40txg2N+vhKncHjAnuoXuACh8vrp+

[2022-04-08 20:32] dstaver commented on #24304
I agree that the typing for this seems tricky. The missing deprecation message is unfortunate and seems to be a weakness of Typescript. It happens when you destructure children in the arguments. If you use it in the function body it does show up:

[code]

The user experience of getting deprecation warning in advance of things changing is nice though - if possible to achieve. After a recent minor M

[2022-04-08 21:18] ysulyma commented on #24095
Just encountered this. This causes a major compatibility headache between React 17 and React 18.

[2022-04-08 21:48] gaearon commented on #24095
I'll add this to our list of topics to discuss. Many libraries are cutting majors for 18+ though since there are often other changes for compatibility that might depend on new APIs.

[2022-04-08 21:49] gaearon commented on #24095
Is there any situation in which this change would be breaking?

[2022-04-08 23:11] caiorrsdeg commented on #24304
if you use yarn, just use the resolutions, no need for npm-force-resolutions

[2022-04-09 00:57] EngNelson commented on #11734
Hello, I am Nelson, I am new here and I want to work on the first issue but I need someone to guide me.

[2022-04-09 02:06] db-murphy commented on #24302
nice

[2022-04-09 04:58] tranvansang commented on #15074
https://github.com/facebook/react/issues/15074#issuecomment-675779361

Now, with the new `StrictMode`'s behavior in react 18,
the second render always renders with the cleaned state and it causes hydration failing.

My data fetching library works as follows:
- place SSR data in store
- when `useData()` hook is called, I increase the `subscriptionCount` by one.
- when `useData()` hook is destroyed,

[2022-04-09 11:03] girishsontakke commented on #22656
Hi @sophiebits, I would like to work on this issue.

[2022-04-09 12:36] gaearon commented on #15074
Can you post a minimal runnable code example?

[2022-04-09 14:25] gaearon commented on #22656
Sure, please feel free to. The first step would be to investigate why this is happening and post a comment here explaining the difference in behavior. Then we can look at the implementation.

[2022-04-09 15:35] sylvesterAdewale commented on #22656
The input tag should be a self closing tag

[2022-04-09 16:00] gaearon commented on #22656
@sylvesterAdewale This is not what the issue is about. The issue is about the ordering of the messages. @sophiebits already responded to this in https://github.com/facebook/react/issues/22656#issuecomment-956729030.

[2022-04-09 16:34] MustafaEminn commented on #22656
Oops. I have worked for a while on the issue. I guess I understand why messages are ordering like that. But I didn't know issues can be take.

[2022-04-09 16:40] girishsontakke commented on #22656
Hi @MustafaEminn, If you already have worked on this issue then you can surely write a patch for this, I will try to learn from your patch.

[2022-04-09 17:06] MustafaEminn commented on #22656
We can't run console methods after throwing the error. "The above error occurred..." error is logging by console.error method and the second error "... is a void element..." is throw a new error. If I want to tell in order.
assertValidProps method throw an error --> renderRootSync catch the error --> commitUpdateQueue call callCallback method and print the first error using console.error. Also, th

[2022-04-09 17:36] Gigachad07 opened #24328 "Bug: onaginani"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-09 19:28] #24328 closed

[2022-04-10 00:44] horuskol commented on #9230
I think you'll find that `booleanAttr={condition ? true : ""}` won't pass - even setting the attribute to an empty string will leave the attribute in the markup.

I found that `booleanAttr={condition ? '' : null}` is the way.

[2022-04-10 00:58] chlbri commented on #24304
It works very well, thanks

[2022-04-10 04:32] CaptainJon opened #24329 "Bug: tsconfig file keep being reset while excuting running start"
I am using typescript in one of my existed react project. I installed necessary deps as what official site says , including typescript@4.6.3, @types/node@17.0.23 and so on. Of course, I also use craco to rewrite cra's default configurations. I was told to run tsc --init to generate a tsconfig file, it was fine, everything ok, but when i tried to add some custom configurations in it,  the whole fil

[2022-04-10 04:32] CaptainJon opened #24330 "Bug: tsconfig file keep being reset while excuting running start"
I am using typescript in one of my existed react project. I installed necessary deps as what official site says , including typescript@4.6.3, @types/node@17.0.23 and so on. Of course, I also use craco to rewrite cra's default configurations. I was told to run tsc --init to generate a tsconfig file, it was fine, everything ok, but when i tried to add some custom configurations in it,  the whole fil

[2022-04-10 04:33] #24330 closed

[2022-04-10 04:33] CaptainJon commented on #24330
duplicate post

[2022-04-10 10:24] guillaumebrunerie opened #24331 "Bug: State updates in ResizeObserver callbacks are applied after paint and cause visual glitches"
React version: 18

When a state value gets updated in a `ResizeObserver` callback, I believe that React should make sure that the DOM is up-to-date before the next paint. Otherwise, if we are using `ResizeObserver` to do some visual changes to some part(s) of the app as soon as some element resizes (which seems like a reasonable assumption), it can create visual glitches.

It worked fine in React

[2022-04-10 12:26] gaearon commented on #24331
I don’t think there’s a way for us to detect this so flushSync is the right answer. Unless we get a lot more aggressive and start overriding built-ins.

[2022-04-10 13:34] gaearon commented on #9230
Has this been fixed in the `@experimental` releases? Can somebody check please?

[2022-04-10 13:37] gaearon commented on #22656
I don’t think it sounds right to me that it’s not possible to fix this without changing the message. Why can’t we delay the console.error call until we know for sure the error has been logged? We could change where we log it from the updater callback to some other place.

[2022-04-10 13:51] selsamman opened #24333 "Suggestion: Process higher priority renders after each useEffect callback"
## React Version: 18
## Steps to Reproduce:
Using the classic useDeferredValue demo which shows how an input can be responsive even when components have a slow render,  place the delay (loop) in a useEffect callback rather than in the render itself.  This can be demonstrated in this [sandbox](https://codesandbox.io/s/quirky-hofstadter-h8yvu1?file=/src/App.js).  When you check the box to make the d

[2022-04-10 14:37] csr632 commented on #18652
Found another explanation from dan (with reference link):
https://github.com/reactjs/rfcs/pull/188#issuecomment-753502950

[2022-04-10 14:38] LK-Champ commented on #24231
I have the same problem, but I have upgraded to react 18.

-    "react": "^16.13.0",
+    "react": "^18.0.0",
-    "react-dom": "^16.13.0",
+    "react-dom": "^18.0.0",
-    "@types/react-dom": "^16.9.5",
+    "@types/react-dom": "^18.0.0",

ERROR in ./src/index.tsx
Module not found: Error: Can't resolve 'react-dom/client'

[2022-04-10 14:40] gaearon commented on #24333
In the original demo, the app stays responsive because rendering can be interrupted in the middle of the list and thrown away. We can do this for rendering because rendering by itself is pure — so discarding the result and not running rendering for the rest of the list items is safe to do and unobservable to the rest of the program. We can’t do the same for effects because they (by nature) contain

[2022-04-10 14:58] gaearon commented on #24231
We can’t help without a reproducing project. The module is definitely there.

[2022-04-10 15:25] MustafaEminn commented on #22656
We can change the throw statement position.

We can throw the error here (here is logCapturedError method)
![image](https://user-images.githubusercontent.com/63938499/162626106-99e21b20-06f5-46e2-b46d-3585beb54aaf.png)

instead of here. I assume we had changed the throw statement to console.error.
![image](https://user-images.githubusercontent.com/63938499/162626043-1b065d80-f67f-4d75-9afc-4e04c14

[2022-04-10 15:41] selsamman commented on #24333
Thanks for the explanation. I suppose that while the renders are done in the "background" and can can be interrupted and aborted,  useEffect is run after everything has been written to the actual DOM and visible on the screen.

In the fractal example the time consuming part is in the actual creation of the paths rather than something that could be pre-computed.   You would need true offscreen rend

[2022-04-10 15:42] gaearon commented on #24333
What type are these paths? Can you show some sample code?

[2022-04-10 15:52] gaearon commented on #24333
It looks like react-art (https://github.com/facebook/react/tree/main/packages/react-art) has a canvas mode and supports paths. We haven’t enabled concurrent rendering for it yet but that shouldn’t be difficult to add. I’m not sure if this would actually help your use case (since your canvas manipulation is manual) but it would be interesting to try.

[2022-04-10 15:53] gaearon commented on #24333
A minimal example with actual canvas code would be great.

[2022-04-10 16:14] zh-lx opened #24334 "Bug: Batching Updates of Promise"
React version: 18.0.0

## Steps To Reproduce
1. use `createRoot` to render the code as follows:

Link to code example:

## The current behavior

When I use batching update about setState, there are some problems.

If I first execute `setState` in promise and then use `setState` normally as follow, it will render once:
[code]

But if I first execute `setState` normally and then use `setState`  in p

[2022-04-10 18:38] MustafaEminn commented on #22656
We can delay the console.error with setTimeout but it does not seem an efficient way. If we log the error with console.error instead of throwing a new Error then we can change the order without setTimeout. Because we should log the first "is a void element" message and If we throw an error instantly (assume renderRootSync does not catch the error), execution will be interrupted. That's why I can't

[2022-04-10 19:00] KutnerUri commented on #24304
This breaks everything! 😭
I have a React 15 project that's happy with not upgrading to React 18 right away.
Because a LOT of packages depend on `"@types/react": "*"`, version 18 is getting installed without anyone using it!

How long are you going to release this outdated `@types/react` which falls out of sync with the `react` package?
can you include built in types like other modern libraries?

[2022-04-10 19:51] gaearon commented on #24304
Please file an issue in those packages. I’m not sure I understand why a library would need to include React types in its dependencies at all.

[2022-04-10 20:01] snawaz commented on #16362
I wish I could do something like this:

[code]

That is, disable strict-mode for a tiny subtree and enable everywhere else.

[2022-04-10 21:01] gaearon commented on #16362
Yeah. We considered adding this, but there’s too high a risk that some third-party dependency will include it in its tree and then _everything_ below (whether from that library or not) will lose strictness.

[2022-04-10 21:06] Tobbe commented on #24304
@testing-library/react does this. Here's the Issue (links to PR) describing why they had to do that https://github.com/testing-library/react-testing-library/issues/1000

[2022-04-10 23:03] gaearon commented on #24304
Interesting. This does seem like a potential pitfall when new versions come out. Shouldn't it be a peerDependency? Maybe @eps1lon knows more about how this is supposed to work.

[2022-04-11 00:13] markerikson commented on #24304
@gaearon This is sorta necessary for libraries that ship TS types.  TS compiles app source, which refers to LibA types, which point to React types.  So, either you explicitly say "LibA depends on `@types/react`" to ensure that they get installed, or you `peerDep` them.

I was actually just debating this with @Andarist for React-Redux v8, and what we settled on was an optional peer dep:

[code]

so

[2022-04-11 01:05] Methuselah96 commented on #24304
Agreed that an optional peer dependency is the best option at the moment for library maintainers. This way users are more in control of which version is installed.

However `@types` packages hosted by DefinitelyTyped currently put `@types/react` in dependencies, so users will somehow have to make sure they have a single copy of the right `@types/react` version (either through Yarn resolutions, `np

[2022-04-11 02:31] zh-lx commented on #24334
Oh, his is the problem with `queueMicrotask`.

[2022-04-11 03:19] gaearon commented on #24304
I agree all of this sounds sad. However, in principle we need to be able to make breaking changes in major versions of types. I wonder what are the best practices around this in the TypeScript ecosystem, given that we are unlikely to be the first library that's a common peer and that made a breaking change in the type definition to fix an earlier mistake? One thing we could've done better on our s

[2022-04-11 03:35] gtwebsite commented on #24304
Issue is developers placing * for deps. Thats just bad practice

[2022-04-11 04:03] Methuselah96 commented on #24304
@gtwebsite I don't believe that's actually the problem. Many of these types are in fact compatible with React 16, 17, and 18 types. The equivalent problem would still exist if they declared the dependency as `@types/react@^16 || ^17 || ^18`.

The issue is that package installation will always default to installing the latest version. I think the most helpful thing would be for DefinitelyTyped to m

[2022-04-11 04:24] #24334 closed

[2022-04-11 04:59] wangly19 commented on #24304
`resolutions`  is a temporary solution

[code]

[2022-04-11 05:23] eps1lon commented on #24304
Incompatible versions of `@types/react` being installed is a recurring problem. We didn't release breaking changes in the types for quite some time now so I forgot this issue existed. This is an oversight on my part that we should've prepared for before releasing.

Declaring `@types/react` as an (optional) peer dependency is the correct solution. We've been doing this in MUI for a while now.

The

[2022-04-11 05:31] atomiks opened #24335 "Bug: React 18 commits to DOM too early before microtask runs"
React version: 18.0.0

## Steps To Reproduce

1. Visit https://codesandbox.io/s/recursing-cherry-5ih4qf?file=/src/App.js
2. Refresh the CodeSandbox iframe window

## The current behavior

The tooltip should not render before it gets positioned.

In React 17 this does not occur.

## The expected behavior

There's a jump.

## Context

Here's the relevant code:

https://github.com/floating-ui/floatin

[2022-04-11 07:43] snawaz commented on #16362
@gaearon

But that is what the authors of the library want. So why not allow it? The whole purpose of adding such a feature is to disable warnings from code which the devs cannot fix because:

- either the warnings are coming from third-party libraries,
-  or from some code which the authors do not want to touch _at the moment_.

Also, as per the docs: **Strict mode checks are run in development m

[2022-04-11 08:43] atomiks commented on #24335
I made an even simpler reproduction here: https://codesandbox.io/s/spring-dew-9kyfx1?file=/src/App.js

It looks like it's related to setting state in the callback ref when that state update happens in a microtask.

- microtask + state update inside callback ref = browser paints before the state update happens
- no microtask + state update inside callback ref = browser paints after the state update

[2022-04-11 08:58] atomiks commented on #24335
I just saw this issue got opened. It's the same thing I'm pretty sure https://github.com/facebook/react/issues/24331

[2022-04-11 08:58] #24335 closed

[2022-04-11 11:41] snawaz commented on #16362
Hmm. Sounds reasonable. So how do we have both without comprising? I guess introducing another mode would help, like `<PartiallyStrictModeOn>` and `<PartiallyStrictModeOff>`.

Anyway, the warnings from the third-party libraries are highly irritating &mdash; if there are too many of them, then the developers might miss the other important warnings that they can actually fix. That is a problem that

[2022-04-11 12:05] gaearon commented on #16362
Hmm. When talking about Strict Mode I primarily mean the double-rendering behavior. It seems like your primary issue is warning spam. Can you clarify _which specifically_ warnings you are seeing most often? And how many do you get?

[2022-04-11 12:18] bvaughn commented on #16362
Just want to chime in and say that it's very understandable how frustrating it must be to see a bunch of warnings for things that you can't directly fix (because they're things in third party code). It can also be frustrating if the warnings are deprecation warnings, and you're not planning to upgrade in the near future.

The React team has a pretty high bar for adding warnings though– only things

[2022-04-11 12:38] alisher0209 opened #24336 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-11 12:41] #24336 closed

[2022-04-11 12:46] gaearon commented on #16362
These warnings seem important to fix because we will be removing these features (legacy context and findDOMNode) in a future major release completely. They have been deprecated inside of strict mode for several years by now, so we don’t see this very often in the ecosystem. The warnings are doing their job here because eventually, if you keep using libraries relying on these features, you will not

[2022-04-11 12:54] snawaz commented on #16362
Not suppressing them isn't useful either. It _can be_ harmful instead.

Also, it's not about a particular warning. I'm talking about things in general. These are merely examples which demonstrate the idea that the devs cannot do anything here, as these are coming from third-party libraries and libraries like all softwares take some time to fix warnings, some could even be there in many new version

[2022-04-11 14:42] umuralpay opened #24337 "Bug: useEffect is not getting triggered from an outside component's redux dispatch action"
React version: 18.0.0-rc.3

[code]

## The current behavior

My application was working quite fine on version 17, the redux state changes are reflected if that state item is added to useEffect dependency list.

## The expected behavior

useEffect should be listening to redux state changes

[2022-04-11 15:08] rickhanlonii commented on #24337
@umuralpay this is likely to be an issue with your Redux version, but if you're using the version compatible with React 18, please file an issue with Redux with a full reproduction.

[2022-04-11 15:08] #24337 closed, assigned to nobody

[2022-04-11 15:24] pkellner commented on #23045
# (TL;DR)

It seems that using Suspense with a simple data list-detail problem **adds significant complexity** to the required React app to achieve the same results as without using Suspense.

Here is the before and after code sandboxes for the app built [with](https://codesandbox.io/s/github/pkellner/react-suspense-promise-issue-23045?file=/src/cityStuff/CityListAndDetail.js) and [without](https:

[2022-04-11 15:57] gaearon commented on #16362
They’re actionable in the sense that — if you heed the warnings — you need to upgrade and/or replace the packages emitting them. Or, alternatively, remove the checks.

If you feel strongly about this, you can override console.error and filter out the messages manually. It’s crude but it works.

[2022-04-11 16:06] snawaz commented on #16362
Sometimes none works. That is my case.

ah, that's a very nice hack. Looks like it'll work in my case. 🤔  Thanks for the advice.

[2022-04-11 16:40] gaearon commented on #23045
I'll try to write a longer answer later.

The short answer is I would *not* recommend including a library like useSWR with its Suspense mode in a course. As [noted](https://reactjs.org/blog/2022/03/29/react-v18.html#suspense-in-data-frameworks) in the release post, we only support opinionated frameworks at this point rather than ad-hoc component-level data fetching. Relay is the one we're aware of

[2022-04-11 17:35] gaearon commented on #24095
We've had a discussion about this.

React 18 is out, so at least this is out of the way. Classic JSX runtime is supported in both versions (and doesn't warn) so it should not be a blocker per se for libraries wanting to support both 17 and 18.

This originally broke because environments have gotten more restrictive (to follow Node.js). E.g. if I recall correctly, it used to work with webpack 4 but

[2022-04-11 17:37] gaearon commented on #20235
This is fixed in React 18.

[2022-04-11 17:37] #20235 closed

[2022-04-11 17:40] nstepien commented on #20235
@gaearon Are React 17 and 16 not supported anymore?

[2022-04-11 17:42] gaearon commented on #20235
What do you mean by “supported”? If there is a security issue, we release a fix for all majors. For other cases, we don’t typically release updates to non-current majors. In this particular case, we don’t believe backporting would even be safe — ESM configurations and setups are very fragile — so we don’t think it’s safe to do in 17 even if it was actively released.

[2022-04-11 17:48] selsamman commented on #24333
The paths are rather simple and are in the Tree.tsx file in this [sandbox](https://codesandbox.io/s/damp-river-e4woit?file=/src/App.tsx).  Thanks  for pointing me to react-art.  When it gets support for concurrent rendering I will have a look at using it.

My goal for the moment was to provide a realistic example for a future article on how my [Proxily](https://sam-elsamman.medium.com/managing-rea

[2022-04-11 17:54] gaearon commented on #19925
Hmmm. This is very strange but I can't reproduce this even with the original version and example that you added. And the new PR is meant to address this case further. I think we can close this, but if it's still reproducible with the `@next` builds, let me know.

[2022-04-11 17:54] #19925 closed

[2022-04-11 18:02] Thisisjuke commented on #23126
Updated dependencies to React 18.

[2022-04-11 18:32] gaearon commented on #23126
I don't think there is a bug in React here. Styled Components would need to add support for Server Components — I don't think it's expected to "just work" with the current approach. It would be good to file an issue in the styled-components repo for this discussion. I think the React 18 streaming guides like https://github.com/reactwg/react-18/discussions/110 and https://github.com/reactwg/react-1

[2022-04-11 18:35] sebmarkbage commented on #20235
"Safe" as in it will be a breaking change for someone else.

[2022-04-11 19:41] gaearon commented on #24232
The initial set of fixes are in `18.1.0-next-df5d32f23-20220411` so you can give that a try.
Here's my results with your benchmark.

### 17

[code]

### 18+legacy

#### Before

[code]

#### After

[code]

### 18+buffering

#### Before

[code]

#### After

[code]

### 18+stream

#### Before

[code]

#### After

[code]

[2022-04-11 20:10] SuperOleg39 commented on #24232
Impressive work, thanks!

Is there any issues / PR with upcoming related improvements, which I can subscribe for?

[2022-04-11 20:12] gaearon commented on #24232
I'm not sure if there are any particular ones planned but @gnoff might be able to provide more details. I think it would make sense to track them in this issue as well.

[2022-04-11 20:22] SuperOleg39 commented on #24232
Good idea 👍

If we can reach (in perspective) the same perf for streaming render, without this "penalty", it will be bright future for HTML streaming in general :)

[2022-04-11 20:40] gnoff commented on #24232
I'm going to continue working on this and will likely have future PRs but can't say exactly when. If you look for titles with `[Fizz]` in the title that's likely where they will be. If I remember I'll ping you here or tag you in the future work

[2022-04-11 20:43] #24268 closed

[2022-04-11 21:52] folt opened #24345 "Bug: TS7016: Could not find a declaration file for module 'react-dom/client'"
After updating react, I started getting messages in the logs

`ReactDOM.render is no longer supported in React 18. Use createRoot instead. Until you switch to the new API, your app will behave as if it's running React 17. Learn more: https://reactjs.org/link/switch-to-createroot`

I followed the instructions and copied the following code to my project
[code]

However, I am getting an error.
`TS701

[2022-04-11 21:58] gaearon commented on #24345
The issue is here:

[code]

You need to update the types to 18 too.

See also:

https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-typescript-definitions

[2022-04-11 21:58] #24345 closed

[2022-04-11 22:30] andrelmchaves commented on #16258
@theKashey, Could you confirm this is still an issue?

[2022-04-11 22:47] gaearon commented on #24280
The `componentWillUnmount` issue prompted a significant refactor and was fixed in https://github.com/facebook/react/pull/24308. We'll be testing this internally.

For future googlers, I want to reiterate that double-firing effects is _not_ related to this issue. See https://github.com/facebook/react/issues/24280#issuecomment-1090203298 for explanation of that behavior.

[2022-04-11 22:47] #24280 closed

[2022-04-11 23:08] mikedidomizio commented on #24246
After more time thinking about this, I feel it's only the `React` namespace that bugs me, I use `jest` but am fine with `jest.SpyInstance`.  I think in the end I'm looking for consistency within the files I'm looking at.  I'm closing this at this time.

[2022-04-11 23:08] #24246 closed

[2022-04-12 03:33] NMinhNguyen commented on #24095
I understand the hesitancy and I don't know what it takes to cut a React release for non-main branches (perhaps it is very manual and time-consuming), but to play devil's advocate, there shouldn't be _that_ much harm in cutting 17.0.3 and then 17.0.4 in case there are any issues? If there turn out to be no issues, then a lot of users would be happy.

[2022-04-12 05:08] bearow commented on #24283
I'd like to take it, if it's possible.

[2022-04-12 05:47] eps1lon commented on #16258
Note that this matches how radio buttons work with just using the DOM: https://codesandbox.io/s/quiet-rain-j7rvq1?file=/public/index.html

This doesn't seem like a regression but intended behavior. Unless we explicitly want to have different behavior here.

[2022-04-12 07:49] zombieJ opened #24347 "Compatible issue about createRoot between 17 & 18"
Hi,
Our component lib [Ant Design](https://ant.design/components/modal/#components-modal-demo-confirm) modal component provides static function to simplify developer code logic. It use `ReactDOM.render` for tmp content render and destroy when modal closed.

For React 18, we want to use `createRoot` to avoid render warning:

But `createRoot` comes from `react-dom/client` module which not exist in p

[2022-04-12 08:37] KutnerUri commented on #24304
this is a really inconvenient solution that only works in monolith projects.
It also makes it really difficult to use React 17 and React 18 together in the same site, which was the promise of React 18. :/

[2022-04-12 08:55] nihgwu commented on #24347
I think you can use `ReactDOM.version` to decide which api to use

[2022-04-12 09:00] eps1lon commented on #22518
Closing in favor of https://github.com/gregberge/svgr/issues/558#issuecomment-1063557878 since this is not caused by React itself.

[2022-04-12 09:19] KutnerUri commented on #24304
this is not such a good solution, and it mostly works in monolith projects.
wasn't React 18 supposed to work side by side with previous versions of React, allowing smoother gradual upgrades?

because right now it seems like we are forced to use either v18 or v17

[2022-04-12 09:49] zombieJ commented on #24347
We've already done this. But webpack will warning `react-dom/client` not exist even we do not use this by version detect.

[2022-04-12 12:41] gaearon commented on #24347
This seems similar to https://github.com/chakra-ui/chakra-ui/issues/5795.

We don’t recommend an API where the library creates an extra root under the hood. Instead, portals are preferred.

[2022-04-12 12:55] gaearon commented on #24304
@KutnerUri

I understand the frustration, but this is the tradeoff you’re opting into by using TypeScript. We need to be able to fix bugs in definitions. Ultimately, if upgrading types is too much of a burden, it might be worth questioning whether TypeScript is really beneficial for your project.

Regarding gradual upgrades, 17 makes it _possible_ by fixing the event system quirks. This doesn’t me

[2022-04-12 13:33] Andarist commented on #24304
Also if this bothers anyone then you really don't have to upgrade right away - let the ecosystem figure the final way forward first and only attempt to upgrade later on. React 18 has been released just two weeks ago.

[2022-04-12 13:43] #16258 closed

[2022-04-12 13:51] gaearon commented on #24095
It is often tempting to do something like this. But it’s hard to predict what will happen. Maybe you release one version and it breaks some people. Some people work around it. Eventually someone reports it. You have to determine how common the issue is. Eventually maybe you decide to revert. But then you can break people who have already fixed their code to work with the previous patch. And people

[2022-04-12 14:20] antonybudianto commented on #24304
For [pnpm](https://pnpm.io/) users:

[code]

[2022-04-12 14:21] SuperOleg39 commented on #24232
Nice, thanks you!

[2022-04-12 14:33] ehahn9 opened #24349 "[eslint-plugin-react-hooks] exhaustive-deps incorrect handling of ...rest params in dependency lists"
`exhaustive-deps` seems to have the wrong behavior for rest parameters and rest destructing. The follow will *never* memoize because rest values are new array instances on each call:
[code]

although likely correct, `exhaustive-deps` complains about this:
[code]

similarly, destructing rest also has questionable behavior:
[code]

[2022-04-12 15:27] zh-lx opened #24350 "Bug: Some transition updates haven't been rendered"
React version: 18.0.0

## Steps To Reproduce

1. Write a react component with the following code:

[code]
2. input content in the `<input />` at a very fast speed.
3. As shown in the figure below, all the contents I entered for the first time have been rendered. But the second time I input `216948261894`, only `216948` is rendered, and the following characters are not rendered.
![img](https://s1.a

[2022-04-12 15:36] gaearon commented on #24350
I can reproduce this if I type very very very fast. It's worth noting that the input is uncontrolled, so there's nothing wrong with the `startTransition` call here. It's just that we seem to drop some state updates.

[2022-04-12 15:48] gaearon commented on #23381
The supported solutions are:

- Render all variants and let all effects fire.
- Or patch up the HTML tree to prune the invisible branches before starting hydration.

I understand the frustration here, but the previous solution printed errors in the console. This means it was not supported. We always considered mismatches bugs in the application code that need to be fixed.

There may be some sort o

[2022-04-12 15:48] #23381 closed

[2022-04-12 15:59] Sattorov-npm opened #24351 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-12 16:00] #24351 closed

[2022-04-12 16:00] Sattorov-npm commented on #24351
efe

[2022-04-12 16:01] vkurchatkin commented on #24349
`exhaustive-deps` simply doesn't support deps with potentially dynamic length, since it's most likely a mistake in a normally situation. There are obviously  use cases for this, for example when you want your hook to have its own deps:

[code]

`exhaustive-deps` won't allow this, but it is perfectly fine to disable this rule locally. Such cases should be very rare in practice, though.

In your cas

[2022-04-12 16:11] zh-lx commented on #24350
I have debugged the react source code for a long time. What I can confirm is that all `onChange` events and `setState` are executed normally, and the corresponding update is created for each input.

[2022-04-12 16:16] gaearon commented on #24350
I think we want to see if that’s the case of an update getting “dropped” from the update queue somehow, or if it’s the case of “forgetting” to commit it.

[2022-04-12 16:21] gaearon commented on #24283
Sure!

[2022-04-12 16:26] zh-lx commented on #24350
All updates have executed `enqueueUpdate` api, I guess that’s the case of an update getting “dropped” from the update queue somehow. By printing the log in `enqueueUpdate`, I found that after the `interleavedUpdate` was fully executed, the pending update was not rendered.

The [code](https://github.com/facebook/react/blob/main/packages/react-reconciler/src/ReactFiberHooks.old.js#L2333-L2363) of my

[2022-04-12 16:52] greenpau commented on #19416
@eps1lon, do you know if there a way to suppress these particular warning during tests?

[2022-04-12 17:33] acdlite commented on #24350
My hunch is that it's a bug with the "interleaved updates" check causing the updates to be enqueued in the wrong order

[2022-04-12 17:37] acdlite commented on #24350
I suspect if you add a `enqueueInterleavedUpdates` call at the top of the `else` block it would fix it. Do you mind trying that and see if you're still able to reproduce?
[code]

[2022-04-12 17:39] acdlite commented on #24350
^ that's not an appropriate fix, btw, because it has other consequences, but if it works that tells us what the issue is

[2022-04-12 18:46] kouayip opened #24352 "Bug: URIError: Failed to decode param '//%PUBLIC_URL%/favicon.ico'"
I get a console error when I add '//' to the end of my address

React version: 17.0.2

## Steps To Reproduce

1. add '//' to the end of the url

Adress: http://localhost:3000//

Code console error:

GET http://localhost:3000//%PUBLIC_URL%/favicon.ico 400 (Bad Request)

manifest.json:1          GET http://localhost:3000//%PUBLIC_URL%/manifest.json 400 (Bad Request)

manifest.json:1 Manifest: Line:

[2022-04-12 18:54] alloy commented on #23381
@gaearon Thanks for the follow-up 👍 Since originally working on Fresnel I’ve been a little out of the loop of using latest React; could you link to/elaborate on why library code shouldn’t introduce Suspense boundaries? Is it because you can’t be specific about what throw to suspend for?

[2022-04-12 19:04] acdlite commented on #24350
I believe this will fix it. Going to a meeting but will check after: https://github.com/facebook/react/pull/24353

[2022-04-12 19:05] kouayip commented on #24352
the error is only displayed in **developer** mode

[2022-04-12 19:39] acdlite commented on #24350
Confirmed that #24353 fixes this: https://codesandbox.io/s/react18-starttransition-forked-dzyyzb?file=/package.json

Thanks so much for the bug report!

[2022-04-12 19:39] #24350 closed

[2022-04-12 19:45] gaearon commented on #23381
Suspense boundaries let the user specify a fallback UI. A library can’t know what fallback to specify since it’s part of the user’s visual design. A library also can’t make assumptions about the correct granularity of Suspense boundaries. They’re really a visual design concept and need to be intentionally designed. So they belong in the application code.

[2022-04-12 21:07] alloy commented on #23381
Gotcha, makes sense. Thanks

[2022-04-12 23:52] sannajammeh commented on #24304
Here you go
[code]

[2022-04-13 01:35] jbroomer opened #24358 "Bug: beforeInput event doesn't fire when input is replacing previous text"
There is a strange React bug where the `beforeinput` event does not fire but only on Firefox (v99).

React version: 17.0.2

## Steps To Reproduce

There are two ways I have found to reproduce this bug and both involve a scenario where the `beforeInput` event is replacing the previous text and both are only problematic on Firefox when the events are triggered via React rendered input.

### MacOS Po

[2022-04-13 01:48] jlordi70 commented on #23226
I am also having this issue.  Steps I used to reproduce:
1.  npx react-native init ReactNativeDebuggerTest
2.  npm i react-native-port-patcher
3.  Add following line to package.json files under scripts: "postinstall": "react-native-port-patcher --new-port 8088",
4.  npx react-native run-android --verbose --port 8088
5.  Change Debug server host & port for device to: localhost:8088
6. Turn on Debug

[2022-04-13 02:59] talmax1124 opened #24359 "Bug: Routes do not match"
Hello, I was updating a project to the latest version of react. I have this in my Appjs, but it says no routes matched.

[code]

Any help?

[2022-04-13 03:22] gaearon commented on #24359
Sorry, we don't provide support for React Router in this repo. (It's a different project.) Even if we did, it's impossible to guess what's wrong from an incomplete code snippet that isn't runnable. If you think there is a bug in React, please narrow it down to a React-only example and make a CodeSandbox we can run. Thanks!

[2022-04-13 03:22] #24359 closed

[2022-04-13 08:20] huhaixiao opened #24360 "Bug: JSON.stringify React touched element TypeError"
React version:

17.0.2

## Steps To Reproduce

1. create a plain object
[code]
2. but if bar references to an element that is created by React or the React root element
[code]
3. TypeError detail
[code]

Link to code example:

https://codesandbox.io/s/demo-react-forked-zxnwvk

## The current behavior

Seems `JSON.stringify` fails on React touched elements

## The expected behavior

No breaking err

[2022-04-13 08:57] zombieJ commented on #24347
Static function like `Modal.confirm` is not React way but really useful before hooks come. Since we can not do break change in a major version. Please reconsider this. Thx.

[2022-04-13 09:02] huhaixiao commented on #24360
Cause of bug found

with `console.dir(ReactCreatedElement)`, get a object with two deletable properties

[code]

if `__reactFiber$qr6bijpnym` property is deleted, `JSON.stringify` will be working again.

with error shown

let's say `$0 `is the HtmlElement created by React.

We have `$0.__reactFiber$qr6bijpnym.stateNode === $0` always true, here comes the loop.

[2022-04-13 09:07] huhaixiao commented on #24360
Suggestion

override the toJSON function on __reactFiber$qr6bijpnym seems ok, or just
[code]

[2022-04-13 09:22] huhaixiao commented on #24360
Q: Why this happened to me? Is JSer supposed to stringify HTMLElement?

A: I dont do `JSON.stringify({ bar: HTMLElement})` myself, but the library I'm using is doing so, and that I cannot change, and more importantly JSON.stringify Native HTMLElement works fine and does not throw breaking error.

What's more

1. The bug above also causes the error of cross origin, which I believe is correct.
2. I

[2022-04-13 12:00] sedlaceks commented on #13991
Hi, is it possible to call functional component from class component? I have a class component that has fluentui@react functional components in render() method and I encountered this error. Thank you

[2022-04-13 12:05] Namankataria01 opened #24362 "Bug: Api Not working in react and having the issue data.map or even the blank white page"
![Screenshot 2022-04-13 130813](https://user-images.githubusercontent.com/77058598/163176143-bf12aaa6-071e-45f0-82d4-ff438d00d155.jpg)
![Screenshot 2022-04-13 131737](https://user-images.githubusercontent.com/77058598/163176155-ae7f5903-7ce9-427c-a7be-ba74368e277a.jpg)
![Screenshot 2022-04-13 131803](https://user-images.githubusercontent.com/77058598/163176157-c4befecd-eea4-4022-b3cb-93355f337281.

[2022-04-13 12:06] Namankataria01 commented on #24362
here's my code
import React,{useState , useEffect} from 'react';

export default function Blog() {
  const [error, setError] = useState(null);
  const [isLoaded, setIsLoaded] = useState(false);
  const [items, setItems] = useState([]);

  useEffect(() => {
    fetch("https://newsapi.org/v2/everything?q=tesla&from=2022-03-13&sortBy=publishedAt&apiKey=123")
      .then(res => res.json())
      .then

[2022-04-13 12:08] Namankataria01 commented on #24362
![Uploading Screenshot 2022-04-13 173810.jpg…]()

[2022-04-13 12:19] harish-sethuraman commented on #24362
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific questio

[2022-04-13 12:23] Namankataria01 commented on #24362
its not working i tried there so i created an issue here

[2022-04-13 12:36] Mischa-bc opened #24363 "Doesn't recognize local react app"
Tested it on another website and it works, but on my [local ](http://localhost:3000/) it doesn't recognize the default react page.

I have allowed "Allow access to file URLs" setting.

[2022-04-13 14:05] gaearon commented on #24362
Sorry, it's not clear what is not working, and which particular issue you have. It sounds like you're asking for help rather than showcasing a bug. Please use StackOverflow for questions like this — we don't provide support in issues unless you can demonstrate a bug with a runnable example.

[2022-04-13 14:08] #24360 closed

[2022-04-13 14:35] ehahn9 commented on #24349
Thanks. @vkurchatkin ! I hadn't considered the dynamic-length deps problem (in my case, the args *happened* to be fixed length). Makes perfect sense. Much appreciated!

ps: I wonder if eslint might warn us about using rest params in deps arrays, since the "auto-fix" seems bogus, too?

[2022-04-13 14:35] #24349 closed

[2022-04-13 17:15] zh-lx opened #24365 "Bug: update in a microTask inside native events sometimes won't be batch"
React version: 18.0.0

## Steps To Reproduce

1. Look the code as follows. When I click the button, `count` will become `1` finally, because `No.B` and `No.C` are batched inside native event.

[code]

2. But when add a `setState` (No.A) before the `Promise`, `count` will become `2` finally. This is because `No.A` and `No.C` are batched, but `No.B` is not batched. I think when the code is executed

[2022-04-13 18:46] lunaruan commented on #24302
@billyjanitsch Are you still working on this PR? If not, I can take it over (giving you credit of course!)

[2022-04-13 19:42] abybaddi009 opened #24370 "[DevTools Bug] Cannot add child "foo" to parent "bar" because parent node was not found in the Store."
### Website or app

https://github.com/abybaddi009/react-bug-report

### Repro steps

Steps to reproduce:

1. Install all dependencies
2. Run the project with `npm start`
3. Navigate to http://localhost:3000/login
4. Enter any number into _phone number_ and click on **GET OTP**.
5. Enter any number into the text boxes and click on **SIGN IN**.
6. Allow access to location.
7. Check the Dev Tools fo

[2022-04-13 19:56] jeremyscatigna commented on #24358
👋  Could have a look on this one if possible

[2022-04-13 20:05] muratx10 commented on #14257
@jerrygreen thanks dude. You saved us. Works like a charm!

[2022-04-13 20:21] KutnerUri commented on #24304
the odd thing about the types is that they are global somehow. I have a React15 project with a react 17 sub project in a folder inside it. The react18 types from the sub folder somehow cause errors in the main project 🤔

[2022-04-13 22:31] Ilesanmi-Erioluwa opened #24371 "Bug:"
ERROR BUG FOUND ON INSTALLING REACT 18..
Below is the throw back error i get on  running React 18 on my Code editor..

Error in ./src/reportWebVitals.js
Syntax error: 'import' and 'export' may only appear at the top level (3:4)

  1 | const reportWebVitals = onPerfEntry => {
  2 |   if (onPerfEntry && onPerfEntry instanceof Function) {

    |     ^
![Bug](https://user-images.githubusercontent.com/

[2022-04-13 22:37] nihgwu commented on #24347
@zombieJ not recommended but I believe [this](https://github.com/facebook/react/blob/main/packages/react-dom/client.js#L30) could be used to suppress warning in dev env if you import `createRoot` from `react-dom` directly

[2022-04-13 22:42] gaearon commented on #24358
Sure.

[2022-04-13 23:10] MikeRippon commented on #13991
@RobTF
For us users of create-react-app that don't have access to the webpack config, I managed to create an absolutely disgraceful workaround that works with hot-reloading of changed library code that basically relies on just deleting the nested `react` folder from `node_modules` inside the library project. Some caveats:

* I couldn't get this to work with yarn.
* This won't work if your library

[2022-04-13 23:27] kentcdodds opened #24372 "Bug: Can't use createRoot with UMD without "react-dom/client" warning"
React version: v18.0.0

## Steps To Reproduce

Run this:

[code]

Link to code example: https://jsbin.com/hucetewebu/edit?html,js,console,output

## The current behavior

Getting a console error:

However, there's no UMD version of `react-dom/client` so the error is not actionable.

I am able to work around this by adding this to the top of the script:

[code]

But obviously that's not a great sol

[2022-04-13 23:40] andrelmchaves commented on #17494
@oliviertassinari @ernestostifano Could you confirm this is still an issue?

[2022-04-13 23:49] andrelmchaves commented on #22471
@phil-r Could you confirm this is still and issue?

[2022-04-13 23:51] andrelmchaves commented on #20628
@dmtrKovalenko Could you confirm this is still an issue?

[2022-04-13 23:53] adipascu commented on #23226
This is happening to me while having `import 'react-devtools'` in the app and running it in Google Chrome while it has the React Dev Tools extension installed.

Seems like having two devtool instances attached to the same app is also causing this bug.

[2022-04-14 00:22] billyjanitsch commented on #24302
@lunaruan that sounds great, thanks! Sorry I didn't wrap up the work, caught a cold over the weekend. 🙂

[2022-04-14 00:43] billyjanitsch commented on #24372
Is this a duplicate of https://github.com/facebook/react/issues/24221? If so, it was fixed by https://github.com/facebook/react/pull/24274 (but not released yet).

[2022-04-14 00:53] gaearon commented on #24372
Yes, this is a fixed bug. We're hoping to release next week if everything goes well.

[2022-04-14 00:53] #24372 closed

[2022-04-14 01:04] marcelchelo commented on #10119
This is confusing, reopen and fix it plz

[2022-04-14 01:07] kentcdodds commented on #24372
Good news! Thanks!

[2022-04-14 01:41] zopelee commented on #14257
Yes. Works like a charm, currently.

But someday, when you `rm -rf node_modules` or move the folder,

you will find, wow, something is screwed like a ****!

[2022-04-14 01:53] dapabe opened #24374 "Bug: Possible solution to: unstable_flushDiscreteUpdates"
This is the exact message:
_Warning: unstable_flushDiscreteUpdates: Cannot flush updates when React is already rendering._

Being relatively new to ReactJS I've encountered this warning when I was using **focus** events, people say there is no problem on _production_ to. This comment offers a possible solution https://github.com/Availity/react-block-ui/issues/40#issuecomment-595438654 and so I rep

[2022-04-14 03:48] melaneon commented on #16239
You saved me!!

[2022-04-14 04:20] harish-sethuraman commented on #24363
Sorry, it's not clear what is not working, and which particular issue you have. It sounds like you're asking for help rather than showcasing a bug. Please use StackOverflow for questions like this.

[2022-04-14 05:03] fahadashiq12 opened #24375 "React 18 does have support with Material UI Data-Grid & Data-Grid-Generator?"
Hi team React, I am wondering some feature of compatibility of React 17 are not being able to integrate in version 18, when it will be fixed Looking forward to your response?

[2022-04-14 06:13] eps1lon commented on #24375
You should [file an issue against mui/mui-x](https://github.com/mui/mui-x/issues/new/choose) from which these packages are released.

[2022-04-14 06:13] #24375 closed

[2022-04-14 08:14] phil-r commented on #22471
@andrelmchaves yea, just updated my example to react 18 and tested again - it's still happening

[2022-04-14 09:33] tarlankarimli commented on #24304
I got more errors after applying this method

[2022-04-14 12:04] ericgruss commented on #24304
### npm 6
Edit the package-lock.json file to remove the "*" in the types to the version you are using then use "npm ci" which will use your package-lock file to do the install. If you add other dependencies you may just need to update the lock file again, but you can have a stable build.

[2022-04-14 15:22] rickhanlonii commented on #24374
Yeah, you should not be calling focus in render so using `useEffect` is correct. There are many reasons for this, but the most practical is that the DOM element may not have committed to the screen yet, so there's no way to focus it on a new mount. It's also a side-effect in render, which is problematic to depend on because if the tree suspends we will re-run that side effect when we retry renderi

[2022-04-14 15:22] #24374 closed

[2022-04-14 15:27] rickhanlonii commented on #24347
The recommendation in this case is to release a new major that depends on React 18.

[2022-04-14 15:27] #24347 closed

[2022-04-14 15:52] phil-r commented on #22471
Hey @gaearon, no but I can try and see if it happens without React.

[2022-04-14 16:21] lunaruan commented on #24370
Hey! I tried your repro steps but was unable to reproduce the error.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/2735514/163431525-d680f6c5-0a25-450b-aec5-dcb5cf5b5f1f.png">

This could be because you have duplicate DevTools installations. Could you check how many React Component tabs show up in your chrome developer panel?

[2022-04-14 16:30] #24302 closed

[2022-04-14 16:55] MrAugMyo opened #24379 "Facebook"
https://www.facebook.com/profile.php?id=100016695042794

_Originally posted by @MrAugMyo in https://github.com/facebook/facebook-android-sdk/issues/1061#issuecomment-1099403015_

[2022-04-14 16:58] #24379 closed

[2022-04-14 16:59] gaearon commented on #22471
We should probably close this and report to Chrome (if it's a bug).

[2022-04-14 16:59] #22471 closed

[2022-04-14 17:01] gaearon commented on #24374
I also believe that the warning itself is gone in 18.

[2022-04-14 17:32] abybaddi009 commented on #24370
Hey @lunaruan,

I am using Firefox 99.0.1 x64 on Windows 10 with only one installation of the React Dev Tools (v4.24.3).
I created another repository with react 17.0.2 and react-leaflet 3.2.5 and the error is not appearing anymore.
Apparently the react-leaflet doesn't support React 18 yet.

We can close this issue.

Regards,
Abhishek Baddi

[2022-04-14 17:32] #24370 closed

[2022-04-14 17:45] Orivoir opened #24380 "Bug: React18 createRoot multiple rendered"
React version: 18.0.0

Root Component `App.tsx`

[code]

config webpack:
[code]
I've try render root component from `index.tsx` with:
[code]

I've get error at browser console:

Also i've read [switch-to-createroot](https://reactjs.org/link/switch-to-createroot) and i've try render root component with:

[code]
 This work but in my browser console for my `App.tsx` component now i get two times log

[2022-04-14 17:49] lunaruan commented on #23226
For those of you on React Native with this issue, this could be because your DevTools backend in React Native (`react-devtools-core`) is incompatible with the React DevTools front end. Could you upgrade (or downgrade) the two so that the versions match and see if you can reproduce this issue?

We have a PR out that warns if the DevTools backend and front end versions mismatch, but it's only availa

[2022-04-14 18:08] #24380 closed

[2022-04-14 18:59] gaearon commented on #24363
I am guessing this is about React DevTools. We can't help without a reproducing project though.

[2022-04-14 20:55] matthew-dean commented on #11565
@cardamo For your solution, or others doing this:
[code]
Where are `ReactDOM` and `ReactPortal` being imported from? No one seems to say.

[2022-04-14 21:28] matthew-dean commented on #11565
Note: this worked based on a [Stack Overflow](https://stackoverflow.com/questions/49738822/mock-react-dom-jest) answer:
[code]

[2022-04-14 23:06] sebmarkbage commented on #23063
@sophiebits I found this little tidbit while reading the spec. https://github.com/w3c/html/issues/1617

I'm not sure you can use that to inject new scripts but you can certainly cover up future scripts and break the page.

[2022-04-15 00:18] sebmarkbage commented on #23063
This API only really promises to encode valid JS into HTML. It doesn't promises to turn JSON into JS. In practice anyone using this to inject JSON will need to use another tool to escape JSON into valid JS since we can't parse out the JSON parts from arbitrary JS anyway.

So it's not super critical that we cover all cases because they'll be covered by that encoding anyway. Our escaping is more of

[2022-04-15 01:43] sebmarkbage commented on #23063
I think we're just going to deprecate XHTML support therefore I don't think `]]>` is a sequence of concern. Correct me if I'm wrong.

Additionally, some escape `` in JSON because they [can switch the parsing modes](https://github.com/OWASP/json-sanitizer/pull/20). However, since we escape the entire script and not just the JSON part of it, I don't think that concern applies here.

The reason we wo

[2022-04-15 03:11] QMSFish opened #24382 "Bug: The forwardRef has disabled the defaulProps property of the function component"
The function component does not have a ref instance and forwardRef can add a ref instance to the function component but after wrapping with forwardRef the defaulProps property setting of the function component fails

React version: 17.0.2

1.
import XYTextArea from 'XYTextArea.jsx'
const XYTextAreaNew = forwardRef((props, myRef) => XYTextArea(props, myRef))

2.
/* -------  file:  XYTextArea.jsx --

[2022-04-15 03:29] SnowBDRy opened #24383 "Bug: Error using setInterval in React18"
React version:18

## Steps To Reproduce

1. use setInterval() in componentDidMount

[code]

## The current behavior
SUM:0
SUM:2
SUM:4
...

## The expected behavior
SUM:0
SUM:1
SUM:2
...

[2022-04-15 05:50] Omar-Trigui commented on #24383
I think you should disable the strict Mode in your index.js

[2022-04-15 06:09] SnowBDRy commented on #24383
However, the use of StrictMode in react is recommended, so this should not be the best solution😁

[2022-04-15 07:31] vkurchatkin commented on #24383
Not really. What you should do is implement `componentWillUnmount` method where you call `clearInterval`

[2022-04-15 10:34] madhur89 commented on #16239
I think your custom hook is not returning something make sure to return the required function and states.

[2022-04-15 11:22] fahadashiq12 commented on #24375
Okay Thanks!

[2022-04-15 14:00] gaearon commented on #24383
Quite the opposite, this is an example of Strict Mode catching an actual bug in the component.

Here's how to fix it:

[code]

[2022-04-15 14:00] #24383 closed

[2022-04-15 15:34] hamlim commented on #24382
You're calling the `XYTextArea` component as a function here:

[code]
Which will bypass the logic that React uses to apply defaultProps. Instead if you call createElement with it / use it within JSX, then React should apply the default props for you:

[code]

[2022-04-15 16:19] rbk commented on #17800
Hi @looweb. Did you ever solve this issue?

[2022-04-15 16:28] xiel opened #24384 "Bug: Incorrect Hydration Mismatch Detection during Suspense - "Hydration failed because the initial UI does not match what was rendered on the server.""
React version: 18.0.0

## Steps To Reproduce

1. Add a Suspense Boundary
2. Add a **component that will suspend** to load some data (faked).
3. Render at least one **sibling component** _after_ the suspending component.
3. Render server-side using renderToPipeableStream()
4. Render client-side using hydrateRoot()

__Reproductions in CodeSandbox:__

- [Reproduction 1](https://yt3148.sse.codesandbox

[2022-04-15 17:42] gaearon commented on #24384
Small repro: https://codesandbox.io/s/sleepy-dan-ghlh1u?file=/pages/_app.js

[2022-04-15 18:02] gaearon commented on #24384
Minimal repro without Next.js: https://codesandbox.io/s/compassionate-night-uzyxv1?file=/src/App.js

[2022-04-15 18:16] gaearon commented on #24384
Seems like a bug. Weird that I can't repro this in tests.

[2022-04-15 18:54] looweb commented on #17800
Not really.

[2022-04-15 19:24] gaearon commented on #17800
This is not a question about React. It's a question about how you generate HTML, and so it depends on *what you're using* to generate HTML. Depending on the tool you use (CRA, Next.js, some custom setup), the answers will be different. I am locking the thread to prevent further confused discussion because there can be no concrete answer in this repository.

[2022-04-15 19:46] brillout opened #24386 "Bug: `useId()` not consistent between server and client"
Problem: the value returned by the `useId()` hook is different between client and server.

[code]

Context: I'm trying to use `useId()` to map SSR data between server and client during a SSR Suspense Stream. (The reproduction doesn't use a stream, but it's the same issue.)

React version: `18.0.0`

## Steps To Reproduce

Reproduction with Vite + vite-plugin-ssr:

Online demo: https://stackblitz.co

[2022-04-15 19:51] gaearon commented on #24386
You're calling `createRoot` rather than `hydrateRoot`, so there is no hydration.

Here is a fixed version:

https://stackblitz.com/edit/github-3qdjks-bfxhjg?file=renderer%2F_default.page.client.jsx

[2022-04-15 19:51] #24386 closed

[2022-04-16 04:47] tranvansang commented on #15074
It is hard to mimic the hydration behavior with client-only code, I tried my best to reproduce the error here:

https://codesandbox.io/s/react-18-strict-mode-with-subscription-pattern-zfrfss?file=%2Fsrc%2FApp.js

Note about the demo: the error is actually different in the real SSR app (my app).

In my app (real SSR), error is `"Warning: Did not expect server HTML to contain a <div> in <main>."` er

[2022-04-16 08:30] Kb43551 opened #24387 "Bug: const Hr = () => { return <hr className="hr" />;};"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-16 08:31] #24387 closed

[2022-04-16 13:38] gaearon commented on #15074
@tranvansang This sounds like some specific new issue. Please file a new one so we can track it? This issue is from 2019 and is about a different topic.

[2022-04-16 16:04] tranvansang opened #24388 "Bug: React 18 hydration mismatch with sync external store"
The issue was brought from here https://github.com/facebook/react/issues/15074#issuecomment-1100568596

React version: 18.0.0

It is hard to mimic the hydration behavior with client-only code, I tried my best to reproduce the error here:

https://codesandbox.io/s/react-18-strict-mode-with-subscription-pattern-zfrfss?file=%2Fsrc%2FApp.js

Note about the demo: the error is actually different in the

[2022-04-16 16:44] tranvansang commented on #24388
Can I have additional questions here?

With the current design, my data library can be easily converted to the immutable pattern, using `useReducer`/`useState` + `useContext`, and get rid of useSyncExternalStore.

However, every time the store gets a change, it notifies all listening `useContext`s.

My questions are:

1. Regarding the performance, should I go with this pattern?
2. Is it possible t

[2022-04-16 17:47] #23063 closed

[2022-04-16 20:31] gnoff commented on #23063
@calebmer should be available in the next minor

[2022-04-17 01:23] valen214 commented on #24042
replacing the "Router.replace" line with `window.history.pushState(
      {},
      "",
      window.location.href + "?status=" + newStatus
    );
` like so
![image](https://user-images.githubusercontent.com/17940784/163696269-2b76c93b-060d-43df-9415-6150270d117e.png)

can also trigger the the bug and the re-render, but this time the re-render is only triggered once

[2022-04-17 01:59] zhangsenhua commented on #23226
I'm also having the same problem.

[2022-04-17 02:17] valen214 commented on #24042
replicated this behavior without `useRef` and Next
https://codesandbox.io/s/pedantic-bogdan-97rb2m?file=/src/App.tsx
![react-pushState-bug](https://user-images.githubusercontent.com/17940784/163697204-f5487c74-d294-4db0-ab93-aa5911d9879b.gif)

let me re-describe the problem:
the combination of `setState({}); setState(<old state>); history.pushState` (exactly like the function `onChangeStatus`) tri

[2022-04-17 06:22] unicast158 commented on #24165
Use defaultValue in a optional option tag

⬇︎⬇︎⬇︎⬇︎

<select>
        <option defaultValue hidden>
           default
        </option>
        <option value="banana">Banana</option>
        <option value="orange">Orange</option>
        <option value="apple">Apple</option>
      </select>

if you want to hide the value from the menu, use hidden:

[2022-04-17 06:29] unicast158 commented on #24165
**Use defaultValue in a optional option tag**

⬇︎⬇︎⬇︎

[code]

If you want to hide the value from the menu, use hidden:

[2022-04-17 08:29] aleppos commented on #24161
I am getting the same error when using Immutable map.

[2022-04-17 08:53] Developer-Nijat opened #24391 "Bug: Internal React error: Expected static flag was missing"
React version: V18.0.0
React router DOM: V5.2.1

## Steps To Reproduce

1. Going to profile page
2. Warning: Internal React error: Expected static flag was missing. Please notify the React team.

Link to code example:
![Screenshot 2022-04-17 124859](https://user-images.githubusercontent.com/51002164/163707500-3ee1ca51-9695-4e2e-b3c4-3f5e8f7a98b3.png)
DynamicFilter.js component
![Screenshot 2022-04

[2022-04-17 17:39] gaearon commented on #24161
If you have an issue please file a new issue. We don’t track reports in closed issues.

[2022-04-17 17:40] gaearon commented on #24391
Please provide a reproducible example. Either on GitHub or a sandbox. Otherwise we can’t really fix this. Thanks!

[2022-04-17 19:05] Developer-Nijat commented on #24391
Probably it is not possible. Because this is the large project and totally code sharing is prohibited. It is understandable, React v18 is not good for old projects.

[2022-04-17 19:25] andrelmchaves commented on #17003
@bvaughn Could you confirm this is still an issue?

[2022-04-17 19:27] andrelmchaves commented on #22731
@bvaughn Could you confirm this is still and issue?

[2022-04-17 20:58] gaearon commented on #24391
That's absolutely not correct. We're running huge codebases from 2013-2014 with almost no changes on React 18. The error is just a bug in React that will be easy to fix as soon as somebody gives us a reproducible example.

Usually the way you can do this is by deleting code until you're left with a small example that doesn't contain any app-specific logic.

[2022-04-18 01:22] erquhart commented on #23226
Guessing a lot of folks are commenting without a repro because the debugger is linking to this issue with instructions to add a comment in large bold font, easy to miss the rest about providing a repro case and it's a confusing bug.

For React Native npm users that can't use the resolutions workaround mentioned elsewhere (only works for yarn), try installing the devtools and core direct in your pr

[2022-04-18 01:28] #24382 closed

[2022-04-18 02:32] yuwanlin opened #24392 "Bug: time slice not work in react 18"
in react@16.8.0, a long task will be sliced multi short task, demo: https://stackblitz.com/edit/react-ts-aqwejz
![image](https://user-images.githubusercontent.com/18443683/163744795-3abfb632-961f-4ea7-a669-f37e65d59f4c.png)

but in react@18.0.0, it will be only a long task, demo: https://stackblitz.com/edit/react-ts-ezgtzn
![image](https://user-images.githubusercontent.com/18443683/163745038-dbf8b

[2022-04-18 07:34] moisesrj97 commented on #23202
I am having the same issue when trying to switch the component rendered inside a Suspense.

Demo: https://codesandbox.io/s/amazing-blackburn-k2iql8?file=/src/App.js

[2022-04-18 09:59] wasurocks commented on #24304
Still not fixed.

[2022-04-18 10:26] freewind commented on #19034
2 years

[2022-04-18 11:57] MustafaEminn commented on #10389
Also, the audio element has the same issue.

[2022-04-18 12:13] Nehal333 opened #24394 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-18 13:20] Holybasil opened #24395 "Bug: nested react instances failed in Safari"
In a nutshell, I need to have a nested tertiary structure, like:
[code]
Then, mount them in order.
As stated [here](https://github.com/reactwg/react-18/discussions/5),
[code]
It is ok in Chrome but failed in Safari. I thought ChannelMessage and setTimeout work differently between Chrome and Safari after debugging. Has anyone had the same problem？

React version: 18.0.0

## Steps To Reproduce

1. j

[2022-04-18 15:35] niemyjski commented on #24372
@gaearon is this tracked by any specific issue or what release this will go out in? Currently hitting [this](https://stackoverflow.com/questions/71748077/typeerror-cannot-set-property-usingcliententrypoint-of-undefined) in CRA app.

[2022-04-18 19:46] jlordi70 commented on #23226
I tried that and it still did not work.

I provided a repo above: https://github.com/jlordi70/ReactNativeDebuggerIssue.git

![ReactNative Debugger](https://user-images.githubusercontent.com/73319310/163867220-f32f452c-6fb8-4eee-abd3-f60a94b076a9.PNG)

Package,json file
...
    "devDependencies": {
    "@babel/core": "^7.12.9",
    "@babel/runtime": "^7.12.5",
    "@react-native-community/eslint-co

[2022-04-18 20:01] jlordi70 commented on #23226
@lunaruan
There is a repo that I was getting the issue on.  I am hoping you can look at this.  Thanks In Advance.

https://github.com/jlordi70/ReactNativeDebuggerIssue.git

[2022-04-18 20:22] bvaughn commented on #24394
This seems to have been opened by mistake.

[2022-04-18 20:22] #24394 closed

[2022-04-18 21:43] MatanYemini commented on #10389
Bump

[2022-04-18 23:41] pkellner commented on #23045
I'm holding off on courses for now that include Suspense and data, based on my understanding and [comments here from @gaearon ](https://github.com/vercel/swr/issues/1906#issuecomment-1099481998).

Pluralsight has asked me to both create a **"What's New in React 18 Course"**, as well as create a **blog post explaining what is going on with React 18**, Suspense and Data at the moment. Most of Plural

[2022-04-19 01:41] gaearon commented on #24304
There’s nothing to be fixed here. Please read the discussion.

I’ll close this issue to make it clearer.

[2022-04-19 01:41] #24304 closed

[2022-04-19 01:47] gaearon commented on #24392
Interesting. I thought adding startTransition would make it work, but it doesn't: https://stackblitz.com/edit/react-ts-f7zkug?file=index.tsx

We'll have a look.

[2022-04-19 02:19] yuwanlin commented on #24392
In my attempt, use React.startTransition make it work, see video record. In my opinion, default update lane is SyncLane, so it has the Highest priority, and is uninterruptible?

https://user-images.githubusercontent.com/18443683/163906889-eac541a3-9514-47e2-9159-625ff24bcd2e.mp4

.

[2022-04-19 09:25] emadbaqeri commented on #5484
I'm getting the same error `Warning: validateDOMNesting(...): <body> cannot appear as a child of <div>.`.
I used inspect elements to see if I'm rendering the `body` inside any `div` tags, but everything was fine and in the right way.
The question is why should I get the error then

[2022-04-19 11:42] Luncher opened #24397 "when to use useCallback and useMemo"
I am a fan of React/hooks. As the usage scenarios in business projects gradually increase, I find the useCallback/useMemo hooks are a bit annoying. Whenever I use components developed by others, when I need to pass function props, I will wrap it with useCallback first. But it might work fine without the wrapping.

This can be divided into two cases, one is to avoid unnecessary re-render, and the o

[2022-04-19 12:03] MustafaEminn commented on #24165
The input is not changing after you input a value. This behavior may be good for also select element.

[2022-04-19 12:19] ginger-kang opened #24398 "Bug: Can't type Korean when using input with useTransition."
Korean is broken if i use `useTransition` together in controlled mode.
[docs example](https://ko.reactjs.org/docs/concurrent-mode-patterns.html#splitting-high-and-low-priority-state) If you look at this, it looks like a general use case, but if it doesn't work, it seems to be a bug.

I checked that Japanese is not working in the same way, and it is probably not possible for Chinese as well.
If I u

[2022-04-19 13:29] gaearon commented on #24398
You can’t use transitions for updating a controlled input’s value. Controlled updates should be synchronous. So if you use a transition, you need two separate pieces of state, like in the docs examples.

[2022-04-19 13:29] #24398 closed

[2022-04-19 14:43] dfernandez79 opened #24399 "Bug: react-dom@18.0.0 renders dialog with open attribute"
The HTML `<dialog>` element is rendered with the `open` attribute, preventing the use of the `showModal` API.

React version: 18.0.0
React DOM version: 18.0.0

## Steps To Reproduce

1. Render a `<dialog>` component and assign a `ref` to it.
2. In an effect call `showModal` to display a modal dialog.

The browser (tested on Chrome and Firefox) will throw an `InvalidStateError` because you can't ca

[2022-04-19 16:03] derwaldgeist commented on #10389
This is really ridiculous. So many years, and still no solution for mobile backdrop video?

[2022-04-19 18:15] jsarelas commented on #24304
I was able to resolve this issue with two package.json changes:

1. Specified the latest React 17 version: according to my build server 17.0.44 was the last successful build.
2. Added optionalDependencies anything greater than 17.0.44 is optional.  This setting help resolved the typescript build issues.

"devDependencies": {
        "@types/react": "17.0.44"
 },
 "optionalDependencies": {

[2022-04-19 20:37] johnryan opened #24403 "React diffing broken when mixing margin and marginTop"
React version: 16/17/18

## Steps To Reproduce

1. Apply an inline style with both `margin` and `marginTop`
2. Observe that `margin` overrides `marginTop`
3. Unset `margin`
4. Observe that `marginTop` is never applied

Link to code example:

https://codesandbox.io/s/unruffled-wind-c0k8q4?file=/src/App.js

## The current behavior

`marginTop`/ `marginBottom` is never applied

## The expected behavi

[2022-04-19 21:04] gaearon commented on #24403
This is not supported. If you open the console after toggling you will see an error:

[2022-04-19 21:04] #24403 closed

[2022-04-19 21:36] johnryan commented on #24403
Ah thanks - codebase is still on v16 so missed this warning.

[2022-04-19 21:41] shamilovtim commented on #23202
Seeing this on React Native. Not sure what to do. It started happening after I tried to remote debug just one time, now it's stuck that way.

[2022-04-19 22:18] shamilovtim commented on #24397
It depends on the codebase and how large the app is but in general if something is passed into props and is referentially unstable it needs useCallback and useMemo. React bloggers who advise against stabilizing props because "React is fast" and therefore "why not just let it rerender?" work on hobby apps and don't understand the performance problems that large React and React Native apps experienc

[2022-04-19 23:15] andrelmchaves commented on #20186
@jasonwilliams Could you confirm this is still an issue?

[2022-04-19 23:45] jasonwilliams commented on #20186
Yes it’s still an issue

[2022-04-20 00:06] shamilovtim commented on #23202
Hello @lunaruan @bvaughn sorry for the tag but I thought I'd comment that I've isolated this issue to a specific DevTools release where it got introduced: between 4.13.0...4.13.1. I'll list our stack and see attached screengrabs for evidence.

4.13.1:
<img width="1782" alt="Screen Shot 2022-04-19 at 7 51 28 PM" src="https://user-images.githubusercontent.com/3495974/164120227-6825d18c-a4c8-4a1d-a87

[2022-04-20 00:11] bvaughn commented on #23202
Thanks for the follow up info. I suspect 4.13.1 is maybe a bad lead though, in terms of when the bug was "introduced" – because that version included #21426 (which basically made DevTools stop silently swallowing certain types of Store errors). In other words, 4.13.0 (and older) were probably also broken but in a less obvious way.

[2022-04-20 00:55] shamilovtim commented on #23202
You're right @bvaughn it was just swallowing the error and neither the profiler tab nor the component tab were working. I've now isolated to no errors whatsoever. I did it by locking react native's transitive `react-devtools-core` to `4.7.0` (rather than ^4.7.0) and installed global devtools with `yarn global add react-devtools@4.7.0.` The break happens between `react-devtools` 4.7.0...4.8.0. I su

[2022-04-20 02:53] samline commented on #24399
For now I fixed it by removing the [open] attribute on first load, it seems a bit dirty to me, but it's only temporary.

`import { useEffect, useRef } from 'react'

export const Dialog = () => {
  const dialog = useRef(null)

  useEffect(() => {
    dialog.current.removeAttribute('open')
    dialog.current.showModal()
  }, [])

  return <dialog ref={dialog}>:3</dialog>
}`

[2022-04-20 02:55] samline commented on #24399
For now I fixed it by removing the [open] attribute on first load, it seems a bit dirty to me, but it's only temporary.

[code]

[2022-04-20 03:21] ginger-kang commented on #24398
Thanks. I missed [this discussion](https://github.com/reactwg/react-18/discussions/100).

[2022-04-20 06:18] bearow commented on #24283
just an fyi that this issue is not forgotten, I'll look at it this/next week, got sick just after I said I want to take it :-/

[2022-04-20 06:45] Luncher commented on #24397
If performance problems are caused by re-render, some optimizations must be considered. What I want to express is whether we can consider delaying the packaging (optimization) process. In the development process, an effective convention can effectively improve the development experience and reduce the mental burden.

[2022-04-20 06:55] johnmangam opened #24408 "Bug: checkboxes with check all checkbox"
Checkall/uncheckall checkbox works but upon clicking the individual checkboxes the behavior isn't as expected

**Code:**

**Grid.cs**

[code]
## The current behavior

Checkall/uncheckall checkbox works but upon clicking the individual checkboxes the behavior isn't as expected

## The expected behavior

Individual checkboxes should be checked upon clicking it

[2022-04-20 07:12] B3nten opened #24409 "useEffect running before DOM is painted *without* useLayoutEffect"
### Came across strange behavior while building a simple modal with a fade-in CSS animation.

Component's default state is to render null.

When component is mounted, `useEffect(()=>setMounted(true),[])` should trigger a re-render. My understanding is that effects run after the DOM is painted, so the component should now exist in the dom with opacity = 0. Now `useEffect(()=>mounted && setIsOpen(tr

[2022-04-20 09:48] rravithejareddy commented on #24409
Yes UseEffect will run after DOM painted, but you kept condition mounted? for return that's why it's calling after UseEffect.

[2022-04-20 10:09] rravithejareddy commented on #24409
Since you have kept condition for return, first time it's not loading. That's the reason it's not working as expected.

[2022-04-20 10:20] CodeFromAnywhere commented on #20662
How can I do this in Next.js?

[2022-04-20 11:01] eps1lon commented on #24388
The `getServerSnapshot` in `useSyncExternalStore` needs to return the original data that was used for rendering on the server not the current data:

[code]

Prior discussion with the same underlying issue: https://github.com/facebook/react/issues/22361

[2022-04-20 11:40] Kais3rP commented on #20863
Yes, the behaviour looks fixed now with *react@18* [stackblitz](https://stackblitz.com/edit/react-3jsceq) . The button click gets disabled immediately now, even though it doesn't get visually greyed out.

There's also another discussion on SO, with the weird effect showed here: [codesanbox](https://codesandbox.io/s/frosty-cohen-8rq544?file=/src/App.js). Not sure if related though, but react@18 doe

[2022-04-20 11:57] enepomnyaschih commented on #13991
I suggest a change to the expected behaviour for a case when `npm link` is being used for local library development. The error *should not happen to begin with*.

There's no technical reason for this error to happen. From NodeJS point of view, only `myapp/node_modules/react` matters when building and running `myapp`. `mylib/node_modules/react` shouldn't matter. It should only matter when building

[2022-04-20 13:11] gaearon commented on #20863
What is the "weird effect" here, could you please clarify?

[2022-04-20 13:13] gaearon commented on #24409
Previously, useEffect would *sometimes* flush synchronously but it was inconsistent. In React 18, it always flushes synchronously if the effect is caused by an intentional user event like click, typing, and so on. So this works as intended.

`useEffect` is generally used for non-visual things that can either be delayed or right away. If you need to do something with transitions, rAF might be a goo

[2022-04-20 13:13] #24409 closed

[2022-04-20 13:14] gaearon commented on #20863
I think we can close this because 18 behavior is consistent. Unless I'm missing something.

[2022-04-20 13:14] #20863 closed

[2022-04-20 13:15] gaearon commented on #20662
You should ask this in the Next.js repo.

[2022-04-20 14:41] tranvansang commented on #24388
![image](https://user-images.githubusercontent.com/13043196/164256434-2de2b86a-02b8-4615-8408-8bddf961d064.png)

The issue still isn't fixed.

[2022-04-20 14:58] Kais3rP commented on #20863
I tried to change the *opacity* imperatively inside the ref callback and it has the same issue with transition, so I think you are right, this is not React related.

[2022-04-20 16:38] akhilbellam95 commented on #23226
I am also facing the same issue

[2022-04-20 17:06] #24399 closed

[2022-04-20 17:32] gaearon commented on #24395
As a workaround, you can use `flushSync` to force the element to be available immediately:

https://codesandbox.io/s/parent-child-react-forked-hezlbp?file=/index.js

In general, this is a non-idiomatic way to create a React tree. Idiomatically, you would pass the child components as props to the parent (or put them into context) so that they're rendered naturally as a single tree instead of impera

[2022-04-20 17:32] #24395 closed

[2022-04-20 17:38] dfernandez79 commented on #24399
@gaearon Thanks for looking into the issue! I was aware of the new strict behavior but I didn't know that `showModal` is not idempotent... so I got bite by it.

[2022-04-20 17:48] DaviDevMod commented on #14257
What about a `postinstall` script that creates the links? So that once you delete node_modules and run `npm install` you get you links back?

[2022-04-20 18:33] shizuo-x commented on #13578
bro thanks you saved me

[2022-04-20 18:44] DaviDevMod commented on #14257
I had the same problem in a Next.js app and solved the issue with the approach suggested by [dcecile](https://github.com/facebook/react/issues/14257#issuecomment-508808246). I added this entry in `next.config.js`:

[code]

Here are the [docs](https://nextjs.org/docs/api-reference/next.config.js/custom-webpack-config) for modifying Next.js webpack configuration.

[2022-04-20 18:47] gaearon commented on #13578
I'll lock this thread because this discussion is not relevant to the React repository. (It's about Create React App, which has a different repo.) This discussion is also a bit confused, and the solutions being discussed are just working around the actual issue — likely in an inefficient way. What the actual issue is unclear because there was no reproducing project.

[2022-04-20 19:23] gaearon commented on #24408
Sorry, it's very hard to read unformatted code, it's not runnable (you have not provided a sandbox), and it's not clear what doesn't work because you haven't specified what the *expected* behavior is. Please use StackOverflow for questions about using React. If you think you found a bug in React, please provide a runnable example.

[2022-04-20 19:23] #24408 closed

[2022-04-20 19:45] gaearon commented on #24042
Thanks @valen214 for a compact repro.

There is no bug in React here. The issue is that this code is **reading a mutable value during rendering**. This makes the behavior unpredictable because the rendering result depends on the moment you read it. When it changes, React won't know to re-render the component. And from React's perspective, if the state has not changed, it's safe to bail out of the

[2022-04-20 19:45] #24042 closed

[2022-04-20 20:03] gaearon commented on #23045
One thing I want to flag early is that we've basically dropped the term "concurrent mode" completely because there is no "mode" now. It's just a set of features which are opt-in. See https://github.com/reactwg/react-18/discussions/64 for historical context. Our "modern" messaging is what you can see in the release blog posts (https://reactjs.org/blog/2022/03/29/react-v18.html) and ReactConf keynot

[2022-04-20 20:05] gaearon commented on #23045
As for the framing of the post, I think the important note to convey is that Suspense will likely come to _frameworks_ first. Relay is one, but you will likely see Suspense support in Next.js/Remix/Gatsby etc before you see it in “libraries” like useSWR etc.

[2022-04-20 21:06] jacob-ebey commented on #22833
I believe this is related to the issues people are seeing around hydration when 3rd party browser extension modifies the DOM. Here is a reproduction case: https://github.com/jacob-ebey/react-18-hydration-bug

[2022-04-20 23:19] ericclemmons commented on #24399
TIL!  I just started using https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog and this thread was super helpful (and already showed up on Google :)

I did notice that the error (for me) happened with `useEffect(...)` and `useEffect(..., [])`, but _not_ with explicit dependencies:

[code]

[2022-04-20 23:30] gaearon commented on #24399
This code example seems potentially buggy to me because if you’re putting DOM element itself in dependencies, it must mean that you are reading `ref.current` earlier during render. This makes the code non-deterministic because render result and effects depend on the exact moment the render runs. Render shouldn’t read mutable values (including ref.current) to avoid timing bugs and other issues.

[2022-04-21 02:37] Lxylona commented on #19732
Still seeing the same thing in Version 4.24.3 (4/21/2022). Incorrect reporting of 'The parent component rendered' when it didn't.
![image](https://user-images.githubusercontent.com/30256809/164360561-0b5829ef-6ce1-423b-a343-ae90f2f57839.png)

[2022-04-21 04:03] yh4922 opened #24414 "Bug: Exception using both input and useState"
### Reproduction link

[![Edit on CodeSandbox](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/dai-sou-suo-kuang-antd-4-20-0-alpha-1-forked-s7gyfc?file=/demo.js:16-24)

### Steps to reproduce

Use `const [val, setVal] = useState("");` to bind the input value After calling the `setVal` method in the `onChange` callback, the `val` value cannot be obtained by printin

[2022-04-21 04:04] khareyash05 commented on #24414
i would like to work on this one @yh4922

[2022-04-21 05:35] yh4922 commented on #24414
@khareyash05 I have the codesandbox minimal reproduction code above

[2022-04-21 07:10] webcarrot commented on #24414
It's expected behavior.
https://github.com/reactjs/rfcs/pull/201

[2022-04-21 07:16] xiel commented on #24384
Please see my comment in the PR: https://github.com/facebook/react/pull/24404#issuecomment-1104798773

[2022-04-21 09:02] gurkerl83 commented on #23381
@gaearon @salazarm I need your assistance to figure out what is wrong with the interpretation I have.

I understand that when a ticket is closed the problem seems to be fixed or followed up in another ticket.

To solve the problem after all I follow Dan's second suggestion.

Or patch up the HTML tree to prune the invisible branches **before** starting hydration.

It seems it is **impossible to pru

[2022-04-21 09:07] 2239559319 opened #24415 "Bug: why v17.0.2 react version is 17.0.0"
[version](https://github.com/facebook/react/blob/v17.0.2/packages/react/package.json#L7)
React version:

why react version in tag v17.0.2 is 17.0.0, Which commit is the source code of version 17.0.2 react

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-21 09:20] maohui66661 opened #24416 "Bug: useEffect(() =>{},[]) in React18，execute twice"
width React18,the callback of useEffect is executed twice,when the dependency array is empty.but width react17.0.2 ,execute once.

React version:18.0.0

## Steps To Reproduce
React18 demo:[https://codesandbox.io/s/happy-leakey-nc6d6u](url)
![image](https://user-images.githubusercontent.com/7902405/164422489-1ed3a53f-3769-4eab-8bca-df42153f2ee2.png)

React17 demo: [https://codesandbox.io/s/aged-dus

[2022-04-21 09:28] JE-lee commented on #24416
I have same problem in 18.0.0

[2022-04-21 10:07] SimsonEnduro commented on #17298
👍

[2022-04-21 11:12] nd0ut commented on #15830
Any updates on this?

[2022-04-21 11:19] gx0408 commented on #24416
I had same problem in 18.0.0

[2022-04-21 11:36] edvinerikson commented on #24416
I think it is expected behaviour in dev mode when using strict mode. Can you confirm if it executes twice in production mode too?

[2022-04-21 11:36] Himnashu commented on #13991
Use the alias in your main project. Then for your library, it will use the alias of your main project.

`      react : path.resolve(__dirname, './node_modules/react')
`

[2022-04-21 11:36] webcarrot commented on #24215
I'm closing this issue as this is the expected behaviour.

[2022-04-21 13:06] kanogithub commented on #24416
I have some issues, and it was running normally in production mode.

[2022-04-21 13:34] gaearon commented on #24416
This is expected development-only behavior in Strict Mode.

We are planning to add a feature to React that would let you reuse state between component unmounts. To verify your components are resilient to this feature, in development we mount them, immediately unmount, and then mount again while reusing state and the DOM.

https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-s

[2022-04-21 13:34] #24416 closed

[2022-04-21 14:05] himankpathak opened #24417 "[DevTools Bug]: Error in event handler: Error: Attempting to use a disconnected port object"
### Website or app

https://codesandbox.io/s/blissful-raman-2on7k2

### Repro steps

1. Create a react app
[code]
2. Create `.env.development` file in root.
[code]
3. Visit https://localhost:4100/ in Chrome v100.0.4896.127
4. Open React Devtools by inspecting page, some times it shows `Components` tab but in large application it does not show the `Components` tab. If it shows the tab the error mes

[2022-04-21 14:08] himankpathak opened #24418 "[DevTools Bug]: Error in event handler: Error: Attempting to use a disconnected port object"
### Website or app

https://codesandbox.io/s/blissful-raman-2on7k2

### Repro steps

1. Create a react app
[code]
2. Create `.env.development` file in root.
[code]
3. Visit https://localhost:4100/ in Chrome v100.0.4896.127
4. Open React Devtools by inspecting page, some times it shows `Components` tab but in large application it does not show the `Components` tab. If it shows the tab the error mes

[2022-04-21 14:08] himankpathak commented on #24418
Duplicate issue.

[2022-04-21 14:08] #24418 closed

[2022-04-21 14:50] gaearon commented on #24215
I think we were planning to change this in 18.1.

[2022-04-21 15:29] artola opened #24420 "Bug: ERR_PACKAGE_PATH_NOT_EXPORTED"
React version: 18

## Steps To Reproduce

1. Execute in NodeJS the following script:

[code]

This happens for React and the same for ReactDOM.

## The current behavior

[code]

## The expected behavior

If the `umd` artifacts are properly declared in `exports` they should lead to resolve the absolute of them.

**NOTE**: This was properly working before the upgrade to v18.

## Solution

Add to `ex

[2022-04-21 17:13] gaearon commented on #24420
It is not supported to directly import UMD bundles. Moreover, we will likely remove the UMD bundles in a future major release in favor of ESM ones. Why do you need this?

[2022-04-21 18:34] tonnyESP commented on #24304
We had the same problem today.
In our stack we are using NextJS with React 17. One dependency in the project is using `"@types/react": "*"` so it was resolving to v18.

I have forced to use version 17 of the package with:
[code]
and it stopped resolving to version 18, so it is now working again.

Maybe it will help you

[2022-04-21 18:57] artola commented on #24420
We use the UMD versions because of AMD. If the package provides UMD/AMD then we just copy over, when it does not we must bundle it as AMD.

Until v18 it was not a problem, just adding them to the `exports` would keep working for us.

We just deprecated **ie 11** a week ago ... surely in the future we can consider to consume ESM directly.

[2022-04-21 20:44] fabb commented on #24042
Thanks for the explanation. I was aware that ref value changes don‘t cause rerenders, but not that accessing a ref during rendering could be problematic.

So to get it right - when react bails out of the update, then `useEffect`s that had changed dependencies will also not be executed? Wouldn‘t it be safer if the previous dependency array would be restored in a `useEffect` when react bails out of

[2022-04-21 21:21] gaearon commented on #24042
It’s similar to reading `window.something` during rendering. Either it’s always the same and there’s no need to read it from a mutable field every time. Or it’s sometimes different, which means rendering is not predictable.

Yes.

I’ll ask the team about this. But I wouldn’t count on something so fragile anyway. This should be fixed in the user code.

It’s hard to have a “forgiving” behavior here

[2022-04-21 22:02] pignax opened #24423 "Bug: destroy is not function"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-04-21 22:10] gaearon commented on #24423
We can’t help without a reproducing case. But what’s happening likely is that you’re returning something that’s not a function from your useEffect.

[2022-04-21 22:10] #24423 closed

[2022-04-21 22:13] Raul140298 commented on #1159
@loburets Thank you so much! your solution has saved me.

[2022-04-21 22:34] gaearon commented on #24420
What do you do with the path after you require.resolve it? Do you load it in the Node environment? Do you bundle it?

[2022-04-22 05:01] fabb commented on #24042
Thanks a lot for the detailed explanation!

[2022-04-22 05:12] artola commented on #24420
I use some `webpack` with plugins (e.g., copy, manifest) to create a list of externals that will be available in the AMD environment. Artifacts that are ready for use (AMD/UMD and minified) I just need to hash by content and check that we have also any required dependency.

Mainly I have a config, where `require.resolve` is used to find the absolute path of the dependency within the monorepo.

Bef

[2022-04-22 07:15] ly01112020 opened #24424 "Bug:"
React version: 17.0.0

React.Fragment Why not  dangerouslySetInnerHTML property

[2022-04-22 07:31] mankeheaven opened #24425 "Bug: confused with react 18 render twice"
React version:18.0.0

with 18
[code]

with 17
[code]

and my app demo
[code]
![image](https://user-images.githubusercontent.com/17426397/164627876-14341d6e-b50d-424b-b410-653b89f3c0e6.png)
![image](https://user-images.githubusercontent.com/17426397/164628050-b6723bf4-9109-4a0f-bbf6-0c31d4ca903d.png)

code is ok with react17

I'm very confused, may I get your help?

[2022-04-22 07:34] orangecoding commented on #24391
@gaearon Here's a small test repo, that will reproduce the bug.
https://github.com/orangecoding/react-static-flag-exception

[2022-04-22 07:35] mankeheaven commented on #24425
how to create a xterm once if render twice?

[2022-04-22 07:40] ritwaldev commented on #24425
React 18 renders your component twice in development mode. This is done to detect problems with purity. Your component has to be pure. You shouldn't change any variables that were created before your component.

See react docs: https://beta.reactjs.org/learn/keeping-components-pure#purity-components-as-formulas

In your case, you defined `chunk `outside the scope of the component and changed it in

[2022-04-22 08:26] mankeheaven commented on #24425
Get it. thanks, but it's difficult for most people to write absolutely pure components in a large application.

It's a strongly mental burden.

And can i have much more demos with your best practices or faq?

I think it's a long way to write pure components with most people.

I rewrite my code and I sure it's more rigorous, here it's my resolution, render twice but create one terminal with useRef.

[2022-04-22 08:35] #24425 closed

[2022-04-22 08:50] mankeheaven commented on #24425
https://github.com/reactwg/react-18/discussions/19

https://github.com/reactwg/react-18/discussions/18

someone else can see this to solve your problem

[2022-04-22 09:54] gurkerl83 commented on #24384
@gnoff @gaearon

In my opinion, when a suspender alike component is involved, it is similar if you take direct action patching the DOM on the client-side, within your own code, because React does not do this anymore.

[code]

- **1st render on the server**
[code]

- **1st render on the client**
If the suspense boundary does not resolve on the server completely producing the final tree, client-side

[2022-04-22 10:43] manny0328 opened #24426 "When i create a react app i have an issue"
Installing template dependencies using npm...

npm MAIN deprecated source-map-resolve@0.6.0: See https://github.com/lydel1/source-map-resolve@deprecated

added 39 packages in 22s

174 packages are looking for funding run npm fund for details Removing template package using npm...

removed 1 package, and audited 1393 packages in 9s

174 packages are looking for funding run npm fund for details

6 m

[2022-04-22 11:13] gaearon commented on #24391
Thank you! This example seems to use a Hook conditionally — `it (data) useStyles()`. This is not supported in React. If you use Hooks you need to either follow rules or use the linter rule which forbids this.

[2022-04-22 11:25] gaearon commented on #24425
To be clear, this behavior only happens in development in Strict Mode. But we recommend to keep it on because it tests whether your component is resilient to remounting with existing state.

We plan to add a feature to React that would let a component preserve state between unmounts. So to verify that your component works with it, we mount it, unmount and immediately remount with existing state. T

[2022-04-22 11:59] orangecoding commented on #24391
Yeah I know this. Unfortunatelly lot's of ppl doesn't seem to know this and this is a common thing that I'm seeing throughout a lot of libs. I copied this particular issue from here: https://github.com/farahat80/react-open-weather/blob/master/src/js/components/ReactWeather.js#L20

Going back to react 17, these things work without any issues...

[2022-04-22 12:25] gaearon commented on #24426
What is the problem you’re running into? These noisy messages are from npm. You can usually ignore them.

[2022-04-22 18:03] orangecoding commented on #24391
I fear that when this is going to be thrown as an error (which it actually is, no discussion here), a lot of external libs will be broken.
However not sure if this is the only case where such an error occures. Maybe @Developer-Nijat can check this with his code as well?

[2022-04-22 18:10] Developer-Nijat commented on #24391
First of all, let's say this is not understandable error.  We can't figure out where the error is.  Again there is a high risk of errors in the next days.  Currently v18 is risk for large projects. I will check this error again but

[2022-04-23 03:11] ritwaldev commented on #24408
As @gaearon mentioned, its quite hard to read this code because its unformatted and incomplete.

At any rate, what is this supposed to do exactly ?

[code]

There are multiple things that are wrong with this code:
1- you don't have a decaled array variable called "`data`" in the code,  but you are still doing `data.forEach `you are are receiving a prob that's called `Data `with capital D.
2- Your

[2022-04-23 05:59] thientran1707 commented on #11503
may I know if we have any status for the ESM module support from React?

[2022-04-23 13:36] bvaughn commented on #24424
The [`dangerouslySetInnerHTML` property](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml) is something the React DOM renderer supports, specifically for the DOM elements it creates. It's not a general React pattern, and it's not supported by environment-agnostic component types like `Fragment`.

The `dangerouslySetInnerHTML` prop tells React what to set an elements `innerHTML` v

[2022-04-23 13:36] #24424 closed

[2022-04-23 14:29] xxxxue commented on #24304
![image](https://user-images.githubusercontent.com/32764266/164910195-68dfadd1-b39d-4cb2-9666-26d16374051d.png)

## Finish

Delete the `node_modules` folder and execute `yarn`

[2022-04-23 15:58] waynebloss commented on #24304
@xxxxue This is what yarn `resolutions` does for you - https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2022-04-23 16:16] eps1lon commented on #24414
This is expected behavior that's currently not explicitly documented. However, the beta docs have a dedicated section for this behavior:

-- https://beta.reactjs.org/apis/usestate#adding-state-to-a-component

[2022-04-23 16:16] #24414 closed

[2022-04-23 16:30] eps1lon commented on #19732
It would help a lot if someone could provide a minimal reproduction. In a large codebase start removing code until you can no longer reproduce the problem. Either share this reproduciton via https://react.new or a cloneable GitHub repository.

A context change has it's own message so it's likely not the cause of this issue: https://codesandbox.io/s/floral-moon-lpdk4t?file=/src/index.js
Tested with

[2022-04-23 16:38] eps1lon opened #24428 "[DevTools Bug]: forwardRef components not marked as "rendered" if context changed"
### Website or app

https://codesandbox.io/s/forwardref-context-change-did-not-render-lpdk4t?file=/src/index.js

### Repro steps

1. Goto https://lpdk4t.csb.app/
1. Start profiling
3. Enter "a" into the input
4. Stop profiling
![forwardRef-did-not-render](https://user-images.githubusercontent.com/12292047/164915101-f28f305a-2c51-4b89-8515-da073e5551c9.png)

### How often does this bug happen?

Eve

[2022-04-23 21:50] JayKaku commented on #24428
Hey, I tried the steps you mentioned with the same version of Dev Tools and it works for me (image attached) on Chrome (Version 100.0.4896.127 (Official Build) (64-bit)), could you also mention the browser and its version along with your operating system and version.

![image](https://user-images.githubusercontent.com/61429929/164946919-f9714fa5-3061-4349-aa11-b7fe158cfb71.png)

[2022-04-23 22:50] SKrind0 opened #24429 "Bug: useEffect Error"
React version: 18.0.0

## Steps To Reproduce

1.When I put useEffect and add the empty array it is executed 2 times, in the previous version that was v17.0.2 it did not happen

Link to code example:
https://codesandbox.io/s/useeffect-error-react-v-18-t75zf4?file=/src/App.js

## The current behavior
because it is running 2 times

## The expected behavior
so it runs only once

[2022-04-24 02:16] yongdamsh opened #24430 "Bug: Hydration mismatch error due to plugins generating script tag on top"
React version: 18.0.0, 18.1.0-next-fc47cb1b6-20220404 (latest version in codesandbox)

## Steps To Reproduce

1. Install a plugin that creates a script tag at the top(ex: [Apollo Client Devtools](https://chrome.google.com/webstore/detail/apollo-client-devtools/jdkknkkbebbapilgoeccciglkfbmbnfm))
2. Go to the [demo](https://codesandbox.io/s/kind-sammet-j56ro?file=/src/App.js) in the [new SSR suspens

[2022-04-24 02:53] gaearon commented on #24430
Might be related to (or same as) https://github.com/facebook/react/issues/22833, but let's keep both open for now

[2022-04-24 04:33] tianhuil opened #24431 "Bug: React 18 + useEffect cleanup runs immediately after render"
React version: 19

## Steps To Reproduce

Here is a bare-bones react app with one `useEffect`: https://github.com/tianhuil/use-effect-demo/

In [this one](https://github.com/tianhuil/use-effect-demo/commit/b899bb6dad00607b694ab9835b0f2d1868dbf069), we log the cleanup side effect to console in v18, which you can verify by running `pnpm dev` and inspecting the console.

In [the next commit](https://

[2022-04-24 04:40] thepuzzlemaster commented on #15281
I have a ReactContext which stores whether or not the size of the browser window is below a certain size. It tracks that with an `isMobile` boolean. This ReactContext is at the root of my app. Because my app includes both server-side and client-side rendering, I put the calculation in a `useEffect` call, to ensure it only ever fires client-side.

The problem is that some of my pages need access to

[2022-04-24 07:03] eps1lon commented on #24428
I linked the wrong codesandbox. Let me update it. If you wrap ValueReader in forwardRef you should be able to reproduce

[2022-04-24 07:11] vkurchatkin commented on #24431
In React 18 effects runs effects twice in strict mode (i.e. effect -> cleanup -> effect), so this is totally expected

[2022-04-24 07:36] bentongxyz commented on #24429
Seems to be related to #24431

[2022-04-24 07:36] bentongxyz commented on #24429
Seems to be related to #24431

[2022-04-24 08:58] eps1lon commented on #24428
@JayKaku Updated codesandbox. https://lpdk4t.csb.app/ should reproduce

[2022-04-24 09:02] inspiraller commented on #20377
I have same issue using react-refresh.
Thankyou - @mecirmartin
this solves my problem:

My babel file:
[code]

My index file
[code]

My webpack file:
[code]

[2022-04-24 09:04] firoz2580 commented on #24391
The issue is exactly as what @gaearon said.
In my case, the very first line of the component was checking a prop 'hidden' and returning a fragment if it is true.
That was causing this error. Though it was not a best practice, V17 was OK with this.

`// SidebarItem.tsx
// Issue
interface SidebarItemProps {
  hidden: boolean
}
const SidebarItem: FC<SidebarItemProps> = ({ hidden }) => {
  if (hidden)

[2022-04-24 09:13] eps1lon commented on #24431
As was mentioned, this is expected behavior that got introduced in React 18: https://reactjs.org/blog/2022/03/29/react-v18.html#new-strict-mode-behaviors

[2022-04-24 09:13] #24431 closed

[2022-04-24 09:14] eps1lon commented on #24429
This is expected behavior that got introduced in React 18: https://reactjs.org/blog/2022/03/29/react-v18.html#new-strict-mode-behaviors

[2022-04-24 09:14] #24429 closed

[2022-04-24 09:29] eps1lon commented on #24391
Reproducible if an additional `useEffect` was called: https://codesandbox.io/s/conditional-useeffect-static-flag-was-missing-gg94qy

An additional `useState` will throw the expected "rendered more hooks than expected" error.

[2022-04-24 09:42] eps1lon commented on #24415
Duplicate of  https://github.com/facebook/react/issues/24079

[2022-04-24 09:42] #24415 closed

[2022-04-24 11:25] #24397 closed

[2022-04-24 12:31] tianhuil commented on #24431
Thanks @vkurchatkin, @eps1lon

[2022-04-24 18:00] gaearon commented on #24391
I want to make it clear that it worked accidentally and in a narrow range of circumstances. You should absolutely not rely on this. For example, any person who adds state to the corresponding custom Hook would break every component relying on this even in 17.

I agree it’s a problem that the error is unclear and removed from the actual case. That has to be fixed.

But this has nothing to do with 1

[2022-04-24 20:05] tetsuharuohzeki commented on #24226
I seem that at least following tests for `renderToReadableStream()` works well if I applied the below patch to use Node.js builtin DOM Stream implementation and run the test on Node.js v18.

**`packages/react-dom/src/__tests__/ReactDOMFizzServerBrowser-test.js`**
[code]

**`packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js`**
[code]

[2022-04-24 21:01] marcusthelin commented on #24430
Is the `hydrateRoot` function expecting the whole html document to be exactly what gets rendered by `renderToPipeableStream`? The best would be to just try to hydrate the React root element where the app is rendered?

It does seem that to use `renderToPipeableStream` i need to render the whole HTML document with a React component, but this is not ideal when e.g. using Vite with SSR in development,

[2022-04-24 23:07] lucasaugustscode opened #24432 "[DevTools Bug]: Type '{}' is not assignable to type 'ReactNode'"
### Website or app

https://github.com/devnautas/happy-app

### Repro steps

Creating a custom component with styled-components

![image](https://user-images.githubusercontent.com/71651661/165000428-8eded19a-8a61-4078-8ec7-da6c98f54b75.png)

### How often does this bug happen?

Every time

### DevTools package (automated)

_No response_

### DevTools version (automated)

dwdw

### Error message (a

[2022-04-25 04:15] hrgui commented on #24430
From my understanding, if anything else other than document was passed in into hydrateRoot, it doesn't seem to crash when I have chrome extensions that modify the DOM installed (e.g. Dark Reader / Apollo DevTools).

In the above example, I changed the following:

Html.js
[code]

App.js

[code]

index.js:
[code]

---
I don't know if this crashes with Cypress though.

[2022-04-25 05:47] eps1lon commented on #24432
You probably have multiple versions of `@types/react` installed. See https://github.com/facebook/react/issues/24304#issuecomment-1094565891 for more information on how to fix this.

If this doesn't help, please [open a new issue in the DefinitelyTyped/DefinitelyTyped repository](https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/new?category=issues-with-a-types-package) which hosts the

[2022-04-25 05:47] #24432 closed

[2022-04-25 06:41] orangecoding commented on #24391
As I said, I saw these things in at least 2 external debts (one of which is semantic-ui-react which has millions of downloads). So yeah, I agree it kinda has to be fixed by the vendor, however I guess this deserves some major communication efforts, coz otherwise ppl will most likely not update their libs (I guess)

[2022-04-25 09:00] fahadashiq12 opened #24433 "Use createRoot instead. Until you switch to the new API, your app will behave as if it's running React 17?"
My browser constantly throws this text in the console screen react-dom.development.js:86 Warning: ReactDOM.render is no longer supported in React 18. Use create root instead. Until you switch to the new API, your app will behave as if it's running React 17. Learn more: https://reactjs.org/link/switch-to-createroot

[2022-04-25 12:20] gaearon commented on #24430
I don’t think the “stricter” behavior here is intentional. I’ll be checking with the team but my current understanding is that this is a bug.

[2022-04-25 13:40] #24433 closed

[2022-04-25 16:02] emilienak commented on #16362
My 2 cents to temporary silence known warnings from 3rd party libs.
Just concatenate some regex in your console Filter to exclude the offending warnings:
`-/Warning.*findDOMNode.*withBoundingRects/`
Tested in chromium based browsers.

[2022-04-25 19:40] edavetisyan opened #24437 "[DevTools Bug] Cannot add node "1" because a node with that id is already in the Store."
### Website or app

https://github.com/edavetisyan/Recipes

### Repro steps

running react-native debugger

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-core

### DevTools version (automated)

4.14.0-d0ec283819

### Error message (automated)

Cannot add node "1" because a node with that id is already in the Store.

### Error call stack (automate

[2022-04-25 20:40] stefanylaforest opened #24439 "Bug: Checked attribute does not update in the dom"
React version:

## Steps To Reproduce

1. Go to React's [code pen example ](https://codepen.io/gaearon/pen/wgedvV?editors=0010) you can find the link in the documentation [here](https://reactjs.org/docs/forms.html#handling-multiple-inputs)
2. Inspect " is going " checkbox element
3. uncheck the checkbox

<img width="1565" alt="Screen Shot 2022-04-25 at 4 39 52 PM" src="https://user-images.githubus

[2022-04-25 20:53] gaearon commented on #24439
The current behavior is correct.

The confusion stems from the browser reporting the _attribute_ values. However, React sets the checked _property_ on the DOM node. Setting a property is the correct way to update something — attributes are primarily meant to reflect the initial HTML that was loaded in the browser.

React does update attribute in some cases, notably for inputs `value`. However, thi

[2022-04-25 20:53] #24439 closed

[2022-04-25 21:10] eps1lon commented on #24439
For CSS selectors you'd want to use [`:checked`](https://developer.mozilla.org/en-US/docs/Web/CSS/:checked) since `[checked]` wouldn't work for uncontrolled components with plain HTML anyway.

[2022-04-26 03:00] ablajievschii commented on #21809
Safari 15.4, React v16.13.1 - Sometimes lazy loaded components not  rendered, sometimes styles are not correctly loaded, so UI is broken.

[2022-04-26 10:40] KutnerUri commented on #24304
(just for reference)
I think I found the main incompatibility:

in a typical component you will have a mix of "native" react elements and custom react components, like:
[code]

The problem actually comes because the type of `<div/>` is global:
[code]

So while `Comp` is using `ReactNode` directly from `import { ReactNode } from 'react'`, the children type of `<div>` is **global**, and comes from w

[2022-04-26 12:25] penx commented on #23287
This isn't a solution, but perhaps of interest, Jotai has a concept of 'scope' that is passed to the `Provider` and the `useAtom` hook:

https://jotai.org/docs/api/core#type-script
https://github.com/pmndrs/jotai/blob/main/src/core/Provider.ts
https://github.com/pmndrs/jotai/blob/main/src/core/useAtom.ts

[2022-04-26 13:04] dginovker commented on #11488
Generic method for changing input in React (Shamelessly taken from [here](https://stackoverflow.com/questions/23892547/what-is-the-best-way-to-trigger-onchange-event-in-react-js#46012210))

[code]

Answers in this thread weren't working for me when editing a TextArea, but this does!

[2022-04-26 14:07] bvaughn opened #24441 "[DevTools Bug]: TreeContext error: Can't access property "id" in undefined"
### Website or app

https://app.replay.io/

### Repro steps

Unfortunately I don't know how to reproduce this bug. It was just logged to Sentry.

It seems like there's a logic bug here though:
https://github.com/facebook/react/blob/bd4784c8f8c6b17cf45c712db8ed8ed19a622b26/packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js#L386-L416

If `selectedElementIndex` is null or `el

[2022-04-26 15:39] KutnerUri commented on #24304
ok I think I found the breaking change:
[code]

which is used in
[code]

I'm trying to see if I create a compatibility layer, like `react.compat.d.ts`, or force typescript to use `@types/react 18` even thought it's spanning two projects

[2022-04-26 16:52] BrandonWilliamsCS commented on #18402
@astoilkov It looks like you'll need to consider "remounting" behavior before upgrading to React 18 (at least when using strict mode). [Related blog section](https://reactjs.org/blog/2022/03/29/react-v18.html#new-strict-mode-behaviors).

In particular, I suppose you'd need to set `isUnmountedRef.current = false` in the body of that first `useLayoutEffect`?

[2022-04-26 17:50] laurent22 commented on #16265
It doesn't seem the PR will ever be merged unfortunately. Has anyone created a custom rule that could be used as an alternative to `react-hooks/exhaustive-deps`?

[2022-04-26 18:39] NeoSithole commented on #16265
Not yet.

[2022-04-27 00:09] gaearon commented on #24270
Fix out in 18.1.0.

[2022-04-27 00:09] gaearon commented on #24221
Fix out in 18.1.0.

[2022-04-27 00:10] gaearon commented on #24280
Thank you for reporting this. This should be fixed in 18.1.0.

[2022-04-27 00:11] gaearon commented on #19925
18.1.0 should include the fix.

[2022-04-27 00:12] gaearon commented on #24350
Fix out in 18.1.0. Thanks again for a great report.

[2022-04-27 00:13] gaearon commented on #24232
The initial fix is in 18.1.0.

[2022-04-27 00:13] gaearon commented on #23063
Fixed in 18.1.0.

[2022-04-27 00:13] gaearon commented on #24279
Fixed in 18.1.0.

[2022-04-27 05:37] yume-chan commented on #22636
I still sometimes see `Unable to find React on the page`. DevTools of DevTools print this error message when this happens:

[code]

Switching between Components and Profiler tabs multiple times sometimes mitigates this problem.

Microsoft Edge	102.0.1227.0 (Official build) dev (64-bit)
React Developer Tools : 4.24.3 (3/30/2022)

[2022-04-27 07:59] zombieJ opened #24450 "Bug: Reconsider of #24439 with checked attribute update"
As #24439
Since `enzyme` not support React 18 and we use `testing lib` instead. The `jest` `toMatchSnapshot` on `testing lib` only possible to compare html instead of node props compare. Which means when replace `enzyme` with `testing lib`, the snapshot will always be wrong on re-render.
`toMatchSnapshot` will not preset current state is hard to figure out only when developer find it not work as e

[2022-04-27 08:45] kh-viewar commented on #24365
Also having the same issue with setState and useReducer's dispatch. We use a lot of async functions so definitely a reason to downgrade back to react v17.

[2022-04-27 09:06] astoilkov commented on #18402
Yep. You are right. I will need to make some changes in order to support React 18. I've started working on a general-purpose solution as well. However, I haven't tested it in React 18 which is something that I'm planning when we decide to upgrade to React 18.

[2022-04-27 09:09] eps1lon commented on #24450
In this case you would want to implement a custom snapshot serializer that uses properties instead. In any case, it's not an issue with React but your testing strategy.

[2022-04-27 09:20] #24450 closed

[2022-04-27 09:52] BonBonSlick commented on #11488
Just a note to everyone else, I was using a lib, thats it. Because too many cases cant be covered by all snippets above

[2022-04-27 14:08] BiancaArtola opened #24451 "Bug: Using Strict mode outside Router breaks my app"
React version:
[code]

## Steps To Reproduce

I am trying to add the StrictMode on my code to avoid issues, but when I put it outside the <Router history={history}> tag the routes changes as expected but the component does not render. When I moved the StrictMode tag inside the Router tag, the application works as expected.

## Code example:

If I put the `StrictMode` outside the Router, the compon

[2022-04-27 15:37] guimard opened #24453 "Bug: where are create-react-class sources"
Hi,

react documentation mentions that _"`React.createClass` is now available as create-react-class"_, but I cant' find create-react-class outside of npmjs, and it looks like a webpack. Where can I find its sources ?

Cheers,

[2022-04-27 16:07] KutnerUri commented on #24304
I managed a workaround using typescript's `paths` option:
[code]

This tells Typescript to always resolve "react" from this location. It works better than resolutions because it forces typescript to use this single instance, solving my complicated use-case with two linked workspaces.

Looking deeper into the breaking changes, and fixing errors as I upgrade to v18, I see they are really important.

[2022-04-27 16:12] ctjlewis commented on #24304
Candidate for worst design choice of the year. Nothing better than being locked into this ecosystem.

Now every `FC` definition now broken, and you'll have to manually specify props already inherent to a component like `children`. What possible benefit is received in exchange for all of this?

[2022-04-27 17:46] gaearon commented on #24451
We'd need a reproducing example (sandbox or a GH project) to know what's happening. It's hard to guess otherwise.

[2022-04-27 17:56] gaearon commented on #24304
The workarounds in https://github.com/facebook/react/issues/24304#issuecomment-1094565891 address this. It sucks that there need to be workarounds, but ultimately we need to be able to make breaking changes to types in major versions. If you dislike the experience, the TypeScript and/or DefinitelyTyped tooling repositories are the right place to complain, since the practice of using `*` for versio

[2022-04-27 18:24] Eameija commented on #24280
Yep can confirm, that after upgrading to 18.1.0 we're no longer able to reproduce the problem. Thanks again 🙏

[2022-04-27 19:10] gaearon commented on #24215
Fixed in 18.1

[2022-04-27 19:10] #24215 closed

[2022-04-27 19:10] gaearon commented on #24372
Fixed in 18.1

[2022-04-27 20:45] enoh-barbu commented on #24365
I'm having issues with useEffect in Strict mode calling twice my endpoints. Don't know what the heck react team did with this release.

[2022-04-27 20:51] DanielRosenwasser commented on #24304
Hey all, I want to provide some context from the TypeScript/DT side.

First, the current state of the world doesn't have an immediate fix that makes everything good and easy again. I don't think we can feasibly do anything without breaking other existing users. I'm sorry that things have ended up rocky here.

If you're dealing with duplicate installations of `@types/react`, the best guidance I can

[2022-04-27 20:53] enoh-barbu opened #24455 "Bug: v18 - How to deal with useEffect being called twice in Strict Mode?"
Runnig this code will execute twice the API call

[code]

Is there any workaround for preventing this behaviour while still keeping the `<StrictMode />` on?

[2022-04-27 21:58] enoh-barbu commented on #24304
well, we should then complain to "@types/react" ? :)

[2022-04-27 22:34] gaearon commented on #24455
Usually you’d want to have some kind of cleanup for your effect. It should either cancel your fetch or make sure you ignore its result by setting a variable inside your effect. Once you do this, there should be no actual difference in behavior.

If you cancel your fetch in effect cleanup, only one request will complete in development. However, it also doesn’t matter if another request fires. It’s

[2022-04-27 22:41] enoh-barbu commented on #24455
I do have a cleanup for my effect, but I still see my request in a canceled state in dev tools, so if I fire many more APIs on page load (from different components), I get twice the number of requests, making dev tools cluttered, half of them being canceled.

I understand the fetch won't hit the BE, and this is impactic only dev mode in strict mode, but this makes harder to debug on dev tools (loo

[2022-04-27 22:55] gaearon commented on #24455
If this is causing a lot of trouble, I would suggest to either disable strict mode or to use a data fetching method that deduplicates requests. (It shouldn’t be hard to do that with axios, either.)

[2022-04-27 22:57] enoh-barbu commented on #24455
I can try something with interceptors, thanks for help thought. I guess this behaviour won't be changed in the upcoming major releases.

[2022-04-27 23:01] gaearon commented on #24304
No because the problem isn’t with the React typings. It’s with the way typing dependencies are expressed in the TS ecosystem. You could argue that the problem is with every package that specifies version `*` as a dependency. But as noted by @DanielRosenwasser, there is no immediate universal fix on their side either at this moment.

The longer-term solution to this is being discussed in https://gi

[2022-04-28 01:37] gaearon commented on #24455
There is no plan to change it. The behavior is described here: https://reactjs.org/blog/2022/03/29/react-v18.html#new-strict-mode-behaviors

[2022-04-28 01:37] #24455 closed

[2022-04-28 01:37] gaearon commented on #24365
I've responded in https://github.com/facebook/react/issues/24455#issuecomment-1111644955 — we can discuss there but it's not related to the issue so let's keep this one on topic.

[2022-04-28 01:38] gaearon commented on #24365
@kh-viewar

In order to be able to help you

[2022-04-28 01:41] gaearon commented on #24365
@kh-viewar

In order to be able to help you, we need to know more. Can you post an example of how the current behavior *actually breaks* your code? It's not obvious how what you're describing is related to this issue, or even what you are describing exactly. A small sandbox that shows what exactly the breakage is would be very helpful.

In this issue, @zh-lx documented an inconsistency in when bat

[2022-04-28 02:02] hzd1219809916 commented on #24365
I don't think so. The existing model is logical.

[2022-04-28 02:04] hzd1219809916 commented on #24090
18版本是不可能了，慢慢等吧

[2022-04-28 06:40] kh-viewar commented on #24365
The main problem is that I'm dispatching actions with useReducer (inside an async callback) and the reducer code is never executed. Will try to create a basic sample.

[2022-04-28 09:37] adamsp70 commented on #24231
I'm getting exactly the same after following the upgrade instructions.

No warning in my IDE but cannot build or run the project:

`yarn build
Creating an optimized production build...
Failed to compile.

Module not found: Error: Can't resolve 'react-dom/client' in '/Users/paul.rousou-adams/Documents/tms-rule-builder-ui/src'`

I have....
    "react": "^18.1.0",
    "react-dom": "^18.1.0",
    "rea

[2022-04-28 10:32] hlysine opened #24457 "Bug: Inconsistent error when violating rules of hooks with `useContext`"
React version: 18.0.0

## The current behavior

The following code throws a warning `React has detected a change in the order of Hooks called by HookTest` when the button is pressed 3 times:
[code]

While the following code throws no warning/error at all, even though the order of hooks does change:
[code]

If this test is repeated with other hooks, such as `useState` and `useRef`, it will crash wi

[2022-04-28 10:46] gunaygultekin commented on #24280
unfortunately, the problem exists. Here is my package.json
{
  "name": "app",
  "version": "0.1.0",
  "private": true,
  "homepage": ".",
  "dependencies": {
    "@heroicons/react": "^1.0.6",
    "@reduxjs/toolkit": "^1.8.1",
    "axios": "^0.27.2",
    "i18next": "^21.6.16",
    "moment": "^2.29.2",
    "react": "^18.1.0",
    "react-dom": "^18.1.0",
    "react-i18next": "^11.16.6",
    "react-re

[2022-04-28 11:43] kh-viewar commented on #24365
Ok found out the issue, maybe it's not related to the initial bug described in this ticket. We run the react app inside a native app's WebView on mobile devices. To communicate between the native app and JavaScript Coherent UI is used. For this a new iframe is created and destroyed again. Somehow the batched state changes are not flushed if the promise inside changes the DOM (= attaching an iframe

[2022-04-28 13:33] gaearon commented on #24365
Would you mind filing a separate issue for this with a runnable example?

[2022-04-28 13:35] gaearon commented on #24280
@gunaygultekin

Please read https://github.com/facebook/react/issues/24280#issuecomment-1090203298. I suspect the problem you’re facing is not related to this issue which has been fixed.

I will lock this issue because I expect more people to be confused in a similar way.

[2022-04-28 14:16] zh-lx commented on #24365
I'd love to. You can compare the two working examples below.

In this case, clicking the button once increases the value of count by one: [Promise isn't batched example](https://codesandbox.io/s/batch-update-in-native-xpwz33-xpwz33?file=/src/App.js)

In this case, clicking the button once increases the value of count by two: [Promise is batched example](https://codesandbox.io/s/batch-update-in-nat

[2022-04-28 14:39] kh-viewar opened #24458 "Bug: setState is not flushed if an iframe is added in the same tick in Safari"
Batched state changes are not flushed if the promise code changes the DOM (= attaching an iframe). Reproduceable with Safari.

React version: 18.1.0

## Steps To Reproduce

1. Open [codepen](https://codepen.io/kh-viewar/pen/wvpVLxM) with Safari.
2. Click "Upload"
3. => "Spinner" text does not render while Promise is in pending

Link to code example:

https://codepen.io/kh-viewar/pen/wvpVLxM

## Th

[2022-04-28 14:41] gaearon commented on #24458
I suspect this might be https://github.com/facebook/react/issues/22459#issuecomment-1013362245 showing its head again. Can you check the issue repros in desktop Safari as well?

[2022-04-28 14:45] kh-viewar commented on #24458
Yes, same on Safari Desktop. Will update issue description.

[2022-04-28 15:01] #14878 closed

[2022-04-28 15:41] gaearon commented on #24458
Minimal repro.

[code]

Only repros in Safari and only when served over http(s).

[2022-04-28 16:50] gaearon commented on #24231
We can't help without a reproducing project, sorry.

[2022-04-28 16:51] gaearon commented on #24231
I'm locking the thread because the comments without reproducing projects are not helpful. `react-dom/client` definitely exists so something is wrong with your setup. We can't guess what's wrong without a project you can share.

[2022-04-28 19:44] BiancaArtola commented on #24451
It's related to this issue: https://stackoverflow.com/questions/71832720/link-tag-inside-browserrouter-changes-only-the-url-but-doesnt-render-the-compo

Looks like the strict mode on _React v18_ is not compatible with _react-router-dom v5_. Is this a known issue? Are you going to fix that or you expected users to have react-router-dom on version 6 to use strict mode?

[2022-04-28 19:49] gaearon commented on #24451
The new behavior of Strict Mode in React 18 is intentional. As always with behavior changes, it is documented in the release notes: https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-strict-mode

If the previous version of React Router is not compatible with the Strict Mode in React 18, then indeed, you’d need to upgrade React Router.

I don’t see what is there to fix. If y

[2022-04-28 19:49] #24451 closed

[2022-04-28 19:54] tarrga opened #24461 "Bug: Chrome devtools does not shows the warnings, only the vscode terminal"
Hi!

So, for example when I create some state, like const [name, setName] = useState(''), and If I don't use it in the component, then the chrome devtools should this log on the console, but it does not show up the message like 'Line 14:17:  'name' is assigned a value but never used'.  It shows up only in the terminal in vscode. How can I enable these warnings in chrome devtools?

[2022-04-29 05:44] iDerekLi commented on #24380
I had the same problem.

This is React v17.
![G_AN%H@_103 E)3Z2A)U1~F](https://user-images.githubusercontent.com/24502299/165890369-400b321c-385a-436a-998f-cc50c894fbfe.png)
![@X38~0E1MCCF%USBO}BO@}E](https://user-images.githubusercontent.com/24502299/165890373-823b03e0-e8e6-41e9-944d-2788c0f78b04.png)
![~(8B3_9{5HV}V6TN0_X%EOH](https://user-images.githubusercontent.com/24502299/165890357-f2759d6b

[2022-04-29 07:40] smartpuffindev opened #24465 "Bug: Page becomes empty when an input is displayed in a "popup" in Chrome on Android"
Description: Page becomes empty when an input is displayed in a "popup"; works on desktop, doesn't work in Android Chrome. This is a very specific scenario, please see the example repo and steps below. I must say, I'm not 100% sure this is a react problem, and I have already opened [an issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1320017) with Chrome just in case; and, of course, i

[2022-04-29 09:20] eps1lon commented on #22709
Closing since this is more of a usage question that should be covered better in the new docs once they're out.

In the meantime I would suggest using other support channels if you have usage questions.

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using Reac

[2022-04-29 09:20] #22709 closed

[2022-04-29 09:27] eps1lon commented on #23398
Closing since this is how the reconciler is supposed to work. Function names wouldn't necessarily be unique across an entire codebase.

It's a recurring mistake that's easy to make. `react/no-unstable-nested-components` from `eslint-plugin-react` should help catching these earlier.

[2022-04-29 09:27] #23398 closed

[2022-04-29 10:23] SKrind0 commented on #24429
thanks for the answer it's already solved

[2022-04-29 10:54] zhuchuji opened #24466 "Bug: Differences between "cjs/react.production.min.js" file and "umd/react.production.min.js": "Scheduler" property is missing in object "React. __SECRET_INTERNALS_DO_NOT_USE_OR_YOU_WILL_BE_FIRED" in "cjs/react.production.min.js""
The production file inside "cjs/react.production.min.js" does not contain the code of assigning "Scheduler" to the object "React.__SECRET_INTERNALS_DO_NOT_USE_OR_YOU_WILL_BE_FIRED", which lost the "Scheduler" property. But inside "umd/react.production.min.js" file, such codes exist and the "Scheduler" property is assigned correctly. Can anyone explain whye and how to make such differences between

[2022-04-29 11:19] zhuchuji commented on #24466
We do not use access "Scheduler" directly. But we got an error "Scheduler" is undefined  when using "umd/react-dom.production.min.js" with "cjs/react.production.min.js". Because we bundle the common "react" package with webpack(which use cjs file), and use the "umd" react-dom.production.min.js for rendering. We know it's incorrect, but just want to figure out why the cjs file and umd file are diff

[2022-04-29 12:28] hamlim commented on #24466
I'll let one of the maintainers speak to the difference there, but I don't think this is a supported setup. Could you also bundle react-dom or alternatively treat react the same way you treat react-dom?

[2022-04-29 12:36] voiceu-zuixin opened #24467 "Bug: Page renders twice when use "ReactDOM.createRoot" in the index.tsx in React 18"
React version:18.1.0

## Steps To Reproduce

1. create-react-app test-render --template typescript
2. go to  src/App.tsx write useEffect( ) in the function before return, such as "console.log('app') " in the callback
3. npm run start
4. checkout the console, you will find this function runs two times
5. if I use the React 17 ,there will be only once print

Link to code example:
https://github.com/

[2022-04-29 12:37] zhuchuji commented on #24466
Yes, we resolve the problem by bundling react-dom(rebuild a lot of module and projects). If we could know the difference between cjs and umd production package, we could avoid the issue before running into mistakes. Many thanks for explanations from maintainers, and also for your reply.

[2022-04-29 12:48] hamlim commented on #24467
This is expected behavior in React 18 with StrictMode (and will only happen in dev), you can read more about the change to StrictMode here: https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-strict-mode

[2022-04-29 13:39] #24467 closed

[2022-04-29 13:46] eps1lon commented on #23347
Closing since the underlying issue was fixed in Parcel. After running `yarn upgrade parcel` in the repro, children render as expected:
![localhost_1234_](https://user-images.githubusercontent.com/12292047/165957071-ad6515f8-a277-46b1-80b8-91634dd6f4cb.png)

<details>
<summary>fix.patch</summary>

[code]

</details>

[2022-04-29 13:46] #23347 closed

[2022-04-29 13:49] eps1lon commented on #23296
This is very likely caused by duplicate versions of React. You have a `base-project` and `base-components` folder each with their own version of React installed. You need to tell your bundler to ensure a single version of React is installed.

Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Ta

[2022-04-29 13:49] #23296 closed

[2022-04-29 14:03] bushblade opened #24468 "Bug: React 18 doesn't show memory leak warnings"
In React 17 if you tried to update state of a component that had been
removed/unmounted then you would get a warning about it letting you know you had
a memory leak.

![Screenshot_2022-04-29_14-47-45](https://user-images.githubusercontent.com/21976188/165959928-c1a6d608-0808-414e-98c3-90a1c90a23e5.png)

In React 18 this no longer happens.

I can't find out if this is intended or not.
If it is inte

[2022-04-29 14:13] smartpuffindev commented on #24465
It's the most curious thing! Regarding the "tweak" with adding 2 or more input fields to the main screen. As I wrote in the description, if there are 2+ input fields present, the bug "goes away" (like on the second screenshot). I have just figured out that the input fields must not only be _present_ on the main screen, but be _visible_ and _have values_.

- If the value in one of the inputs (`inpu

[2022-04-29 14:22] eps1lon opened #24469 "Bug: `<select size value>` with `value` not matching any `option` results in first option being selected"
React version: 18.1.0, 17.0.2

## Steps To Reproduce

1. render `<select value="not-an-option" size="2"><option value="an-option">one</option></select>`

Link to code example: https://codesandbox.io/s/react-18-select-value-with-value-not-matching-option-wopmt9?file=/src/index.js

## The current behavior

The first option will be marked as selected

## The expected behavior

No option should be sel

[2022-04-29 14:23] eps1lon commented on #23305
Repro: https://codesandbox.io/s/bug-controlled-listbox-style-select-elements-fail-to-keep-their-value-prop-in-sync-pvg9tg
Note that `onChange` not being fired when the selected value is removed, is how the DOM behaves. Your repro already illustrates that since the `<select>` with plain HTML +  DOM does not fire a change event either.

For the first render marking `"0"` as selected while the value

[2022-04-29 14:23] #23305 closed

[2022-04-29 14:49] gaearon commented on #24380
There is no problem here. Strict Mode intentionally double-renders your components in development to help find mistakes in them. React 17 was suppressing the second log which made things confusing. React 18 doesn't suppress the logs.

[2022-04-29 14:54] eps1lon commented on #23090
The effect is firing with 18.1: https://codesandbox.io/s/react-bug-version-3-forked-dofmh8?file=/src/example.js

@dmitryKochergin Could you confirm that this is now fixed?

[2022-04-29 14:56] eps1lon commented on #23002
Closing since we haven't gotten any requested information since the issue was opened.

[2022-04-29 14:56] #23002 closed

[2022-04-29 14:59] eps1lon commented on #23026
This is intended behavior.

`someData` might not change referential equality, thus not firing the effect while `someData.someProperty` might have changed.

The solution is to destructure the properties and list them in the dependency array explicity.

[2022-04-29 14:59] #23026 closed

[2022-04-29 15:04] eps1lon commented on #22650
Still reproduces with 18.1: https://codesandbox.io/s/test-renderer-throwing-in-cleanup-causes-internal-react-error-novhj2

[2022-04-29 15:08] #22133 closed

[2022-04-29 15:10] eps1lon commented on #23179
Closing since this is out of scope for a lint rule. Either disable the rule for a particular effect if you don't want it to re-fire when certain dependencies change, or include it even if you think it'll never change.

[2022-04-29 15:10] #23179 closed

[2022-04-29 15:15] eps1lon commented on #21624
Duplicate of https://github.com/facebook/react/issues/16265

[2022-04-29 15:15] #21624 closed

[2022-04-29 15:25] parkhojeong commented on #23398
`Function names wouldn't necessarily be unique across an entire codebase`.
what do you mean `function name`?

function name is same in this example
https://github.com/facebook/react/issues/23398#issuecomment-1061906678

[2022-04-29 15:38] eps1lon commented on #23114
Fixed in https://github.com/facebook/react/pull/24189 which is live in 4.24.3

[2022-04-29 15:38] #23114 closed

[2022-04-29 15:41] eps1lon commented on #23025
The error in the screenshot shows a different error. Specifically, you're accessing a property on a value that is null in some place. Check the error overlay carefully and try to find the origin of the error. It's unlikely that React has an issue with `!object.property` but rather that `object` is `null`.

In the future, please include a minimal Codesandbox or cloneable repository for reproduction

[2022-04-29 15:41] #23025 closed

[2022-04-29 15:50] eps1lon commented on #21801
I don't think restoring state by duplicating a tab is generally supported. It should just start from the original value if it's controlled.

I can't reproduce this in Chrome though probably because committing is too slow: https://csb-cvtl4b-jm7ac1y85-eps1lon.vercel.app/ (https://codesandbox.io/s/bug-radio-and-checkbox-controlled-checked-property-is-not-updated-when-browser-restores-form-state-cvtl

[2022-04-29 15:53] eps1lon commented on #20755
Closing in favor of https://github.com/facebook/react/issues/16265. https://github.com/facebook/react/issues/16265 talks about the general issue. It's not settled that the lint rule should have an option.

[2022-04-29 15:53] #20755 closed

[2022-04-29 15:54] eps1lon commented on #22305
Closing in favor of https://github.com/facebook/react/issues/16265. https://github.com/facebook/react/issues/16265 talks about the general issue. It's not settled that this needs adressing and if it should, it's better to discuss a potential API in a single place.

[2022-04-29 15:58] eps1lon commented on #21693
Closing since this seems to be fixed in https://github.com/rehypejs/rehype-react/issues/28.

[2022-04-29 16:34] gaearon commented on #22305
It would most definitely not be safe to do. A function can close over props or state, so you'd keep "seeing" their old versions.

We have a different solution in mind for this.

[2022-04-29 16:42] gaearon commented on #22078
I would not suggest ever disabling the rule. The solution with ref is correct if that's what's needed.

[2022-04-29 16:44] TheCloudlessSky commented on #21801
@eps1lon I'm still able to reproduce on Chrome (version 100.0.4896.127) -- it took a few attempts:

https://user-images.githubusercontent.com/613788/165986976-31a0e506-2efb-49d1-a112-62d481c0e8d0.mp4

[2022-04-29 16:52] eps1lon commented on #23398
It sounded like you were suggesting using `fn.name` as a key for reconciliation as opposed to using `fn` itself. However, it's not guaranteed that different implementations have a different `name`:

[code]

-- https://codesandbox.io/s/function-prototype-name-is-not-unique-7kcqlt

[2022-04-29 17:13] Markos-Th09 commented on #23179
I understand that Dan. Although I remember if I added it to one of them it kinda broke

[2022-04-29 17:14] eps1lon commented on #23083
@michaelCHU95 Please ask questions related to fixing this in https://github.com/facebook/react/issues/11734 instead. Otherwise this will likely remain unsanswered.

[2022-04-29 17:14] #23083 closed

[2022-04-29 17:17] eps1lon commented on #21709
Was solved according to https://github.com/facebook/react/issues/21709#issuecomment-864584063

[2022-04-29 17:20] eps1lon commented on #23075
You probably have your component wrapped in [`<React.StrictMode>`](https://reactjs.org/docs/strict-mode.html) which executes various functions (such as state updaters) twice.

[2022-04-29 17:20] #23075 closed

[2022-04-29 17:21] eps1lon commented on #23007
Closing in favor of https://github.com/tailwindlabs/headlessui/issues/681.

[2022-04-29 17:28] eps1lon commented on #22964
Could you update the issue title to reflect that is specifically about an API to explicitly suspend a component?

[2022-04-29 17:30] eps1lon commented on #22974
I remember that there were some initial issues with earlier versions of the transform related to the file extension. I would suggest updating React and Babel related packages to see if this is fixed.

If not, please provide a CodeSandbox (https://react.new), or a link to a repository on GitHub and we'll reopen this issue.

Here are some tips for providing a minimal example: https://stackoverflow.c

[2022-04-29 17:30] #22974 closed

[2022-04-29 17:37] incepter commented on #22964
Done.

This issue is about detecting whether the used react's version supports concurrent features that the library offers, like suspending components.

[2022-04-29 17:46] eps1lon commented on #22964
Since the API about how to suspend (e.g. throw promise) it's really about a specific API to suspend.

The reason why "API how to detect concurrent features" is not actionable is that the next question will always be "what do you want to do?". So it's better to make the issue about the what and not the how.

[2022-04-29 18:30] dgattey commented on #19742
I'm on `eslint-plugin-react-hooks@4.4.0` and I'm still seeing this when using a generic value inside a callback. Why might that be? I'm getting `React Hook useCallback has a missing dependency: 'Value'. Either include it or remove the dependency array  react-hooks/exhaustive-deps` with `const data: Value = JSON.parse(decompressedValue);` as the line that causes the error.

[2022-04-29 19:24] gaearon commented on #22964
I don't quite understand what is being asked.

The "throw Promise" API is not "officially" supported and will likely be deprecated in favor of a stable API for that once one exists. A stable API for this feature does not currently exist.

However, "throw Promise" has worked since some React 16.x version. It's not new in React 18. So I'm not sure why detecting React 18 is relevant.

[2022-04-29 20:54] stevemk14ebr commented on #21693
please re-open! That solution was a workaround, the root cause is that react doesn't allow customization of this warning, this is valid HTML!

[2022-04-29 21:05] eps1lon commented on #15446
There was back and forth what events were being replayed when hydrating in React 18. @gaearon is there still work planned or should we close with a summary?

[2022-04-29 21:11] eps1lon commented on #14980
On the flip side, it still mentions function components which `<input />` isn't.

[2022-04-29 21:13] #14980 closed

[2022-04-29 21:15] eps1lon commented on #21549
Duplicate of https://github.com/facebook/react/issues/18610

[2022-04-29 21:15] #21549 closed

[2022-04-29 21:19] eps1lon commented on #20111
Yes. [StrictMode](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects) already tests this by invoking updater functions twice.

@832bb9  Could you create a codesandbox illustrating the concrete use case for a getter function? I think your feature request is already covered by https://github.com/facebook/react/issues/14543. If not, could you clarify what the difference to ht

[2022-04-29 21:35] eps1lon commented on #20464
@matheushf Is this still a problem in the latest commit in `main`? If so, please run `npx envinfo` and post the results.

[2022-04-29 21:39] eps1lon commented on #21693
There is no guarantee that valid HTML is also valid JSX. There are plenty of examples where valid HTML would not be valid JSX (e.g. `<input class="foo">`.

Instead of customising this validation, why not write a helper function that converts HTML to valid JSX?

[2022-04-30 01:00] incepter commented on #22964
My original question was if there is a way to detect the react current version capabilities like component suspending to have a consistent behavior in some designed api.

Ok. This settles it. Hopefully it will be something more useful then.

But, aren't we supposed to throw promises to suspend in react 18 ?

I didn't know of any support for it in react (except through experimental releases).

It i

[2022-04-30 01:35] gaearon commented on #22964
Yes, but the API is in an awkward grey area. In 18.0, the support for Suspense for data fetching is [mostly for opinionated frameworks](https://reactjs.org/blog/2022/03/29/react-v18.html#suspense-in-data-frameworks). We think there's a few more things we need to provide before we'd recommend to use it more broadly than in frameworks. I understand it’s not a satisfying answer, but we just don’t hav

[2022-04-30 02:26] hrgui commented on #24430
Something I've noticed is that when React does encounter a hydration mismatch, it attempts to fallback to client side rendering.

Which does show up in the example codesandbox (the one where we are hydrating the document):
[code]

[code]

However, it results in an application crash because of the next error:

[code]

which is from the call stack:
appendChildToContainer <- insertOrAppendPlacementNo

[2022-04-30 02:37] incepter commented on #22964
On the opposite. I understand better now. Let's keep track of how things will evolve then.

Thanks for the explanations Dan.

[2022-04-30 10:00] FabrizioArmango commented on #24391
I had the same warning migrating from v17 to v18:

#### Before
[code]

#### After
[code]
The above change solved.

Thanks.

[2022-04-30 13:42] gaearon commented on #24430
Yes, that issue is https://github.com/facebook/react/issues/22833. I believe the fix we wanted to do is changing which top-level element we modify. (Maybe body instead of html?) It would be nice not to have to introduce a separate “host config” method (which we’d have to do if we added a call to “replace”). So ideally the fix should use the methods we already use.

[2022-04-30 14:07] stevemk14ebr commented on #21693
I opened this issue because this warning assumes user written code shouldn't be formatted like this, to avoid bugs. I'm asking that the assumption that formatted code is user written be removed, so that otherwise valid JSX can work without errors printing. The snippet I showed is valid JSX, other than it's pretty printed, I don't think it's unreasonable to ask that this not require extra work.

[2022-04-30 14:26] gaearon commented on #21693
The error in question is not related to validity of JSX. The error described at the top is from our DOM structure validation. The goal of that validation is to prevent patterns like nested `<p>` tags that the browser recovers from by changing the DOM structure. When that happens, code becomes incompatible with server rendering because the result from a server render produces a different DOM struct

[2022-04-30 14:33] gaearon commented on #21693
https://github.com/facebook/react/pull/3516 is where the current rules were introduced. The relevant reference is https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-intable. @sophiebits does it seem like text in table is allowed? I think it is from the spec but maybe I'm misreading it?

[2022-04-30 15:06] eps1lon commented on #21693
@stevemk14ebr Could you include some concrete examples that don't use remark or any other 3rd party libraries so that we can asses the impact if we treat this as valid DOM?

[2022-04-30 15:20] eps1lon commented on #21693
The warning for whitespace as a child of table only appears for client-side rendering (render and createRoot) but not when server-side rendering + hydrateRoot: https://codesandbox.io/s/whitespace-as-child-of-table-qfrvzz?file=/src/index.js

Nesting of `<p>` does warn both for client-side rendering and hydration.

[2022-04-30 15:26] stevemk14ebr commented on #21693
Sure, here's the equivalent client side example https://codesandbox.io/s/rehypereact-bug-forked-47kfb5

[2022-04-30 17:13] NKolva opened #24472 "Bug: BrowserRouter does not work in new render function"
React version: 18.1.0

## Steps To Reproduce

1. Install react-router-dom (v. 5.3.0);
2. In root index.tsx(jsx) file, wrap App with BrowserRouter
3. Implement routes in your application
4. Try navigate via pages

## You can try it in my current project:
https://github.com/NKolva/react-ts-starter-kit/tree/bug/react-18.1.0-browser-router

## IMPORTANT - BUG CONTAINS IN THIS BRANCH react-18.1.0-brows

[2022-05-01 01:31] incepter commented on #24472
At first sight, i suspected on of the following (or both) - since you are using `root.render`-:

- The used `react-router-dom` version isn't `concurrent-feautures-compatible`
- `StrictMode` being more strict.

Then I suggest the following:

- Update `react-router-dom` to latest version
- Try toggling StrictMode
- Put the issue in `react-router`'s repo if none of the above works.

[2022-05-01 02:14] gaearon commented on #24472
Yes, you'd need to either upgrade `react-router-dom` to the latest version or temporarily remove StrictMode until you can upgrade `react-router-dom`.

[2022-05-01 02:14] #24472 closed

[2022-05-01 09:36] voiceu-zuixin commented on #24467
![image](https://user-images.githubusercontent.com/77840482/166140246-c0f0237d-6b5b-48a0-a71d-a0ca772c1ea6.png)

thanks，here is another qusetion, the componentDidMount is not in the list , but when I test class component, it also runs two times, Is it missing or I wrong

[2022-05-01 09:43] voiceu-zuixin commented on #24467
![image](https://user-images.githubusercontent.com/77840482/166140449-4fd0b33b-e659-491a-96db-57df6cdf96b7.png)

thanks，here is another qusetion, the componentDidMount is not in the list , but when I test class component, it also runs two times, Is it missing or I wrong, however the componentDidUpdate only invok once

`
import React, { Component } from 'react'

let number_outside = 1

export defau

[2022-05-01 09:47] eps1lon commented on #24467
@voiceu-zuixin Mind the link to the upgrade guide not StrictMode:

-- https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-strict-mode

Though I agree that we should also add this to the StrictMode docs.

[2022-05-01 10:00] eps1lon commented on #24467
@voiceu-zuixin StrictMode docs already mention this implicitly:

-- https://reactjs.org/docs/strict-mode.html#ensuring-reusable-state

But we can explicitly list what APIs are included in this to help discoverability (e.g. by using STRG+F "componentDidMount"). Opened https://github.com/reactjs/reactjs.org/pull/4618 for that.

[2022-05-01 14:02] NKolva commented on #24472
Thank You!

[2022-05-01 21:31] kalda341 commented on #14540
Bump. It would be great to have a solution to this.

[2022-05-02 07:02] eps1lon commented on #14540
I think this is still relevant so re-opening.

I've seen the recommendation to use `Node.contains` a couple of times and this recommendation is problematic since in the DOM we (always?) have the guarantee that a bubbled event means that the `event.currentTarget.contains(event.target)`. But this guarantee is definitely broken if we have a `ReactDOM.createPortal` in between.

Would be interesting to

[2022-05-02 07:10] eps1lon commented on #22470
So the question is if portaling a form-associated element outside of a `<form />` is intended to not associate that element to the form or not.

I don't think it's clear that you do want it associated.

Let's say we start associating portaled form-related elements with their react-parent `<form />`. What should we tell people that specifically portaled a form-related element to avoid associating i

[2022-05-02 07:14] liuyenwei opened #24476 "Bug: Context provider updates forcing Suspense fallback on hydration"
React version: 18.1.0

## Steps To Reproduce

1.  Set up a ContextProvider and pass object as value (not-memoized)
2. Wrap the ContextProvider around a Suspense boundary
3. In a component, outside of the Suspense boundary, update the context value inside of a useEffect
4. Notice that the de-hydrated suspense content rendered by the server now switches back to the fallback on the client

Link to co

[2022-05-02 17:07] rileyhemp commented on #24437
@edavetisyan I was having the same issue and it turns out I had two instances of React Dev Tools running concurrently.

What I think happened is that when I turned on Sync in Edge, it had installed a second instance of Dev Tools. Notice I have 'components' and 'profiler' showing up twice here. Removing one fixed it for me.
![image](https://user-images.githubusercontent.com/49452876/166292288-c6635

[2022-05-02 18:29] bentongxyz commented on #24469
👋 May I work on this if possible as a first issue

[2022-05-02 19:47] PachVerb commented on #2250
it's work for me

[2022-05-03 09:54] Shellanmonk opened #24481 "Fix bug"
https://github.com/facebook/react/blob/f7cf077cca6524877cb837adb9a8ff54242672b1/packages/react-devtools-shared/src/inspectedElementMutableSource.js#L102-L107

[2022-05-03 10:53] eps1lon commented on #24481
Fixed by https://github.com/facebook/react/pull/24477 which hasn't been released yet.

[2022-05-03 10:53] #24481 closed

[2022-05-03 19:11] gnoff commented on #24384
@xiel can you confirm the fix in #24480 addresses your concern. Here is a slightly modified version of the original repro on codesandbox using the build from that PR and I believe it is doing what you expect: https://codesandbox.io/s/trusting-buck-2j21to?file=/package.json

[2022-05-03 19:31] xiel commented on #24384
@gnoff Looks good, thanks so much for working on this! 🤟

[2022-05-03 19:31] #24384 closed

[2022-05-03 20:11] marcuszierke commented on #11734
Can we close this issue?

[2022-05-04 06:06] singhdilip1007 opened #24492 "Bug: Getting Invalid Hook Call Error"
This is the code I've written to call square web payments SDK with **.Net wit reactJs application**:
[code]

This is the way I'm calling this component on button click from another react component:
[code]
Here's some dependency detail:
[code]

Please help me on it while its most prioritized task for me, thanks in advance

[2022-05-04 06:38] romadryud commented on #24461
Hi @tarrga , this warning are showed by eslint, so if you want to see this warning/errors in devtools you need to figure out how to setup showing eslint errors in browser. So it's not related to React and propose to close the issue.

[2022-05-04 07:59] dmitryKochergin commented on #23090
@eps1lon Yes, with the new root API it works fine.
With the old root API the bug still occurs, though.
Since the old root API is unsupported we could probably close this issue.

[2022-05-04 09:35] #24461 closed

[2022-05-04 10:08] eps1lon commented on #23090
I don't understand what the bug with the old root API is? Could you point me again to a CodeSandbox with the latest version of React and the old root API and explain what you see and what you expected instead?

[2022-05-04 16:51] ssmkhrj opened #24493 "Bug: Updaters are NOT called twice for the first time when in Strict Mode"
React version: v18 & v17

## Steps To Reproduce

Consider the `App` component below that runs in **Strict Mode**:

[code]
Link to codesandbox: https://codesandbox.io/s/react-bug-24493-snippet-1-6mrnyg?file=/src/App.js

Following things to note from the above example (_Similar behavior with both React 17 & 18_):
- Click the button once, `Clicked` log is only printed once--which means the updater ra

[2022-05-04 16:59] gaearon commented on #14092
We've submitted an alternative proposal to solve this. Would appreciate your input!

https://github.com/reactjs/rfcs/pull/220

[2022-05-04 16:59] gaearon commented on #14066
We've submitted a proposal to solve this. Would appreciate your input!

https://github.com/reactjs/rfcs/pull/220

[2022-05-04 17:00] gaearon commented on #14253
We've submitted a proposal to solve this. Would appreciate your input!

https://github.com/reactjs/rfcs/pull/220

[2022-05-04 17:09] gaearon commented on #16956
We've submitted a proposal to solve this. Would appreciate your input!

https://github.com/reactjs/rfcs/pull/220

[2022-05-04 17:14] gaearon commented on #15240
We've posted an RFC that is relevant to (at least some of) this discussion.

Would appreciate your input: https://github.com/reactjs/rfcs/pull/220

[2022-05-04 18:27] lgenzelis commented on #23090
@eps1lon here's a [codesandbox with react 18.1](https://codesandbox.io/s/react-bug-version-4-i07iuy?file=/src/example.js:1046-1051) which still shows the bug. **Bug:** `useEffect` doesn't run when the component re-renders, even though its dependency array (`[value]`) changes. You need to open the console to actually see the `console.log` coming from `useEffect` not being printed.

If you go to `in

[2022-05-04 18:50] lunaruan commented on #24417
Hey! Thanks for reporting. This is a known Chrome issue that is targeted to be fixed in v102. Check out #24093 for a list of potential workarounds. Closing this because it's a duplicate.

[2022-05-04 20:25] #24428 closed

[2022-05-04 20:59] lunaruan commented on #23226
@jlordi70 I tried to reproduce the issue with your repro case but I couldn't. Could you manually upgrade both your `react-devtools` package as well as the `react-devtools-core` dependency to `4.24.0` and see if this fixes your issue?

[2022-05-04 21:18] lunaruan commented on #24437
Hey! It seems like you might be having a DevTools version mismatch. The DevTools version in your react native app seems to be `v4.14.0`, but your have a local `react-devtools` dependency that's `v4.23.0`. Could you check to make sure the `react-devtools-core` version that `react-native` is using matches the `react-devtools` version?

[2022-05-04 21:40] caseychoiniere commented on #20210
Another common cause of this is dependency mismatches between `react` and `react-dom`

[2022-05-04 21:57] Andrei0872 commented on #24493
Hi @ssmkhrj,

I'd like to share my perspective as to why those behaviours take place. In all cases, I've simply added a `debugger;` statement and then opened the _Sources_ tab in the Dev Tools. Note that all the following links to CodeSandbox are forked versions with a `debugger;` added.

---

Let's see what happens in the first [CodeSandbox app](https://codesandbox.io/s/react-bug-24493-snippet-1-

[2022-05-04 21:59] lunaruan commented on #24441
Not sure if #24495 will fix your issue. Let me know if you can get a repro!

[2022-05-05 02:15] gaearon commented on #24493
Wow, nice investigation! Thanks @Andrei0872.

Maybe it would make sense to make the "eager" update run twice in Strict Mode. (We removed eager bailouts from `useReducer` in 18, which is why it doesn't repro there.) Though if it doesn't bail out, then you have three renders which feels a tad much.

[2022-05-05 04:05] zhuchuji commented on #24466
Hi. I found the explanation in source code about the differences on "React.Scheduler" between cjs package and umd package. It tells that cjs package use the shared "Scheduler" package while the umd package can't do it in this way therefore re-export the "Scheduler" and add it to React prototype. Below is the related lines:
![image](https://user-images.githubusercontent.com/12730487/166861869-7a00f

[2022-05-05 06:11] vijay-immanent opened #24497 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2022-05-05 06:33] XHFkindergarten opened #24498 "Bug: react-refresh@13 package.json's exports field change leads to an adapting mistake"
React version: 18.0.0
*react-refresh version: 13.0.0

## Background
We are running a build tool such like vite, in our code, we need to read `react-refresh/cjs/react-refresh-runtime.development.js`'s contents and insert into the final html output in dev mode.

but lately we attempt to update `react-refresh` from version 11.0.0 to 13.0.0, we met a mistake that out code cannot work as expect before.

[2022-05-05 06:43] abner81 commented on #11565
it really worked!
Simple and more efficient solution.
Thank you very much!

[2022-05-05 08:38] Andrei0872 commented on #24493
Thank you, @gaearon!

I'm not sure why that would lead to three renders :thinking:, wouldn't there be only two unnecessary renders([in case it doesn't bail out, when it actually should](https://codesandbox.io/s/react-bug-24493-snippet-2-forked-qb2sde?file=/src/App.js))?

[2022-05-05 09:38] eric-burel commented on #22132
I wonder if the new `useEvent` hook could mitigate this issue, at least for callback dependencies: https://github.com/reactjs/rfcs/pull/220
@Sangrene

[2022-05-05 10:11] Himanxu1 commented on #10389
I want to work on this issue . Can anyone explain me in detail what is the issue?

[2022-05-05 10:19] gfox1984 commented on #22132
@voliva's example would then look something like this wouldn't it?

[code]

I find this pretty neat.

[2022-05-05 12:13] holloway opened #24500 "Suggestion: allow bailing out of setState updater functions"
My understanding is that React will _always_ trigger a rerender when a value is set in a setState _updater function_. If this is wrong please ignore this suggestion.

-----------------------------------

A useState's setState can take an _updater function_ and it would be useful to conditionally avoid causing a rerender in some situations. E.g.

[code]
In this example it would be desirable to avoi

[2022-05-05 15:38] cytrowski opened #24502 "Bug: useEffect runs twice on component mount (StrictMode, NODE_ENV=development)"
React version: 18.0.x, 18.1.x, 18.2.x

## Steps To Reproduce

1. Visit provided sandbox
2. Open console and observe logs displayed twice.
3. Click the button and observe the rendering log happens twice, the effect log happens once.

Link to code example: https://codesandbox.io/s/react-18-use-effect-bug-iqn1fx

## The current behavior

The useEffect callback runs twice for initial render, probably

[2022-05-05 15:42] Runeii commented on #14099
This is great, but my immediate thought was "the useEvent name is a bit confusing". Is there a reason this couldn't be something more obvious like `useFunction`? `useCallback` always took some initial explanation to newcomers, though it made sense.

[2022-05-05 15:46] #24441 closed

[2022-05-05 16:11] #24502 closed, assigned to nobody

[2022-05-05 16:21] cytrowski commented on #24502
Also: I see no mention of this breaking change in the changelog: https://github.com/facebook/react/blob/main/CHANGELOG.md#1800-march-29-2022

[2022-05-05 16:39] sean-clayton commented on #24502
@cytrowski https://github.com/facebook/react/blob/main/CHANGELOG.md#react-1 <- In the "stricter strict mode" bullet

[2022-05-05 16:44] cytrowski commented on #24502
@sean-clayton this does not explain why I see the rendering log twice after state change (not only initial render). However I believe there is already an issue for that.

Anyway I still believe this should be something announced in the console warnings (similar way you do with encouraging React Dev Tools installation)

[2022-05-05 16:56] OliverJAsh opened #24504 "Ad hoc data fetching with Suspense"
.@aaronabramov suggested that I file an issue for this: https://twitter.com/dan_abramov/status/1522207779984793601

---

👋 I have a question about React 18 + Suspense. From the [docs](https://reactjs.org/blog/2022/03/29/react-v18.html):

When can I find more information about how to do this?

The reason I ask is because at [Unsplash](https://twitter.com/unsplash) we have basically created our own

[2022-05-05 17:36] gaearon commented on #24502
The "best" advice is not to fetch from `useEffect` at all. There are many reasons not to (fetch on render leads to waterfalls, you start fetching too late which is inefficient, you don't have a good place to cache the result between components, there is no deduplication between requests, etc). So I'd recommend a library like React Query or similar instead.

If you fetch from effects, you can do so

[2022-05-05 17:45] vijay-immanent commented on #24497
react version: 18.0.0
It precisely because of the early return statement.

[2022-05-05 18:04] parkerault commented on #18235
Sorry to necropost, but one thing that I haven't seen discussed in this thread: the autofix will overwrite any dependencies already in place, so if you have one that isn't used in the effect, but you're using to trigger the effect, you'll lose it. This is kind of a weird example, but:

[code]

[2022-05-05 18:13] cytrowski commented on #24502
**For posterity:**

Just out of curiosity I went and check how `react-query` handles this problem and it's impressive juggling of observers by their manager: https://github.com/tannerlinsley/react-query/blob/09a375badc27f42c1eb4263e1e01570f267fb7c1/docs/src/components/blog/intersection-observer/manager.js.

To prove the problem doesn't occur I created this sandbox: https://codesandbox.io/s/react-q

[2022-05-05 18:31] OliverJAsh commented on #24504
No, once the data has been fetched, we never attempt to fetch it again.

[2022-05-05 22:29] lunaruan commented on #23202
@shamilovtim Wow nice find! I tried reproducing with my local React Native app on v4.8, but I couldn't reproduce the bug. Do you have a link to your app that I can take a look at to see if I can repro on my side?

[2022-05-05 22:57] shamilovtim commented on #23202
Ah sorry @lunaruan but Shipt is closed source. I wonder, did you test on the react native version that was experiencing this problem? We're on 0.65.x. I  assume this isn't worth hotfixing, you can probably just have this ticket serve as the solution for people still on older versions.

[2022-05-06 00:17] #24096 closed

[2022-05-06 05:23] ahmadaafaq commented on #24492
I think you are missing some rule to call hooks, please go through https://reactjs.org/docs/hooks-rules.html

[2022-05-06 05:36] singhdilip1007 commented on #24492
I've followed the details with link shared by you, all things are fine as per above. Thanks @ahmadaafaq

[2022-05-06 06:38] Jack-Works opened #24508 "Bug: Breaking change of use-subscription from 1.6.0 to 1.7.0"
React version: 18.1.0

It looks like use-subscription has changed the internal implementation to `useSyncExternalStore`.

It is causing the following error in our application:

React should bump the major version for use-subscription instead of the minor version!

[2022-05-06 10:19] ItsLhun opened #24509 "Bug: Chrome. Controlled and *required* input type="date" - onChange not triggered by pressing clear"
React version: 18.1 (and prior, also tested on 16.9)

## Steps To Reproduce

1. Create a controlled component of type date, and **set the _required_ attribute**.
2. Set any date.
3. Press 'clear' and confirm nothing happens.

Link to code example: https://jsfiddle.net/q8cb7v3j/

This example includes both a required and non-required input to showcase that the 'clear' button behaves correctly when

[2022-05-06 14:28] gaearon commented on #24500
This doesn’t sound right. React has to *call* your component function (that’s how your updaters are executed! they run during the next render), but it will not use the *result* of that function and won’t descend into child components if the state ends up being the same.

[2022-05-06 17:35] bvaughn commented on #24492
@singhdilip1007 Were you able to resolve the issue then or is it still occurring? If you're still having troubles, you'll need to share more of your code (preferably a Code Sandbox that we can run and reproduce the error).

[2022-05-07 00:26] ComaBerenices opened #24511 "[DevTools Bug]: I believe that UI and UX from React DevTools is a big bug"
### Website or app

https://all.apllications.com

### Repro steps

Hello, community! ✌

I have an big question about the React DevTools, why is so different in comparasion with Vue DevTools ? all is more hard...

See the context, indentify the state's, the components.... 😒

In comparasion with Vue DevTools, the React DevToosl don't have a pretty and functional UI and UX. The context's, state's and

[2022-05-07 02:26] adri1wald commented on #19637
Hey all, here's a usecase where I think Portals should **not** bubble events:

Name: "reverse-portal"

https://github.com/httptoolkit/react-reverse-portal/issues/13

[2022-05-07 08:12] antonybudianto commented on #24384
Hi, will the fix be on 18.1.1 ? I see the issue still persist on 18.1.0
however I tried `https://react-builds.vercel.app/api/prs/24480/packages/react` and it solved on my repo.

[2022-05-07 09:06] fweth opened #24514 "Bug: Select Element Not Always Resetting To The First Available Option After State Change"
If the option set of an select element is dependent on a state, and there are overlappings between the option sets, then changing to a state such that the new option set contains the currently selected option sometimes resets the select element to the first option and sometimes not.  I describe four cases where two of them reset and the others don't.  Maybe the behaviour is intended, but I found i

[2022-05-07 09:53] roti opened #24515 "classes prop instead of className"
It is often the case that multiple CSS classes are used for an element, and sometimes they are dynamically generated. In such situations the client code needs to concatenate them into a string
[code]

I always felt the need to be able to pass the classes as an array:
[code]

In addition to the convenience of such a property, maybe it could help with performance, in the sense that equality could be

[2022-05-07 12:57] gaearon commented on #24384
The plan is to release it in 18.2.

[2022-05-07 15:04] singhdilip1007 commented on #24492
@bvaughn Please see this link, I've added here my requirement:
https://codesandbox.io/s/laughing-hooks-itsehd?file=/src/App.js

I've a class component like **app.js** and in this component, there is a button. Once click on that button I'm trying to call **Paymentform.js** component which is showing above hook call error message

@ahmadaafaq FYI

[2022-05-07 15:49] bvaughn commented on #24492
I don't see any errors or warnings in the console on the Code Sandbox you linked, @singhdilip1007.

[2022-05-07 16:14] steelx commented on #16696
same here. I was using 16.13.2, moved to node 17 and issue got resolved.

[2022-05-07 16:15] singhdilip1007 commented on #24492
@bvaughn Yes, here's its not showing any error but in our application its showing error as `Invalid Hook Call Error` like above I"ve mentioned in description

[2022-05-07 16:43] bvaughn commented on #24492
It sounds like a problem with your application configuration. I suggest checking out this page for common causes and fixes:
https://reactjs.org/warnings/invalid-hook-call-warning.html

I'm going to close this issue because I'm fairly confident the link above contains the cause, and also because there isn't much that we can do without a repro case.