[2021-05-04 20:36] albseb511 commented on #13635
I know this is a closed issue, but just want to highlight that this issue pops up on google for many people.
I want to mention that this is not the case since React 17.
it listens at the root level.

https://github.com/facebook/react/blob/master/CHANGELOG.md#react-dom-2

[2021-05-04 21:41] bvaughn commented on #21429
Hi @imatheus-lucas! Sorry that you ran into an error. Unfortunately it doesn't look like this bug report has enough info for one of us to reproduce it.

Could you please provide a CodeSandbox (https://codesandbox.io/s/new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem. Screenshots or videos can also be helpful if they help provide context on how t

[2021-05-04 23:45] aud commented on #14257
@jaguardo in my experience Yalc removed a ton of the complexity that you would otherwise have to manage with symlinks yourself. Have been using it for a year or so now and the quality is very high. Worth giving it a shot for your use case.

[2021-05-05 00:55] nloding commented on #16547
This issue is affecting my work on some performance issues for a client. I'm gonna start taking a look, but I've never built a browser extension before. If anyone has any tips, let me know! 😃

[2021-05-05 02:26] bvaughn commented on #16547
Here is a high level overview of the architecture:
https://github.com/facebook/react/blob/master/packages/react-devtools/OVERVIEW.md

And here is how to build and test the extension:
https://github.com/facebook/react/tree/master/packages/react-devtools-extensions#local-development

[2021-05-05 02:28] #18859 closed

[2021-05-05 02:57] JustinCarmony commented on #19582
Yay, this solved a problem for me! Adding some context for future google searchers.

This solved a problem for me while working with building a custom reconciler. I had a stub for `prepareForCommit` that didn't return anything:

[code]

Adding a `return null;` solved it for me:

[code]

[code]

Now, I was using TypeScript, I didn't have time to debug if how it transpiled affected to the issue. But

[2021-05-05 03:16] dabocla commented on #16295
Thank you so much for the understanding.  I read your comment, and was able to resolve my issue.  The state can't be tinkered with.  I kept seeing references to 'pure', but had no idea what it meant.  You rock!

[2021-05-05 09:44] SimonChaumet commented on #21412
Like I said memoization is good but a bit overkill for keeping in memory a long list for almost nothing

[2021-05-05 11:06] lucaserly opened #21433 "Error: "Commit tree does not contain fiber "1100". This is a bug in React DevTools.""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.13.0-2a7bb41548

Call stack: at updateTree (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:20430:21)
    at getCommitTree (chrome-extension://fmkadmapgofadopljb

[2021-05-05 11:07] #21433 closed

[2021-05-05 11:09] rdehuyss commented on #20342
I also was able to use this before and it offered me a nice way to subscribe on ServerSentEvents using only one connection:

[code]

In my components, I then just did the following:
` const stats = statsState.useStatsState(Sidebar);`

Is there a better way to do this?

[2021-05-05 13:14] mattgperry commented on #20068
I've been taking another look at this as layout thrashing has become a huge problem in Framer.

I've setup this Sandbox which is a simplified example of some batching code I'm trying to implement in Framer Motion: https://codesandbox.io/s/pensive-shadow-wnt8l?file=/src/Layout.js

This illustrates the use-case. I reiterate, I'm attempting to batch two lifecycle methods across the React tree, `getSn

[2021-05-05 13:42] nathggns commented on #15069
This is resulting in double errors in our logging system (ErrorBoundary logs it but we also capture console.error) – extremely frustrating.

[2021-05-05 13:54] bvaughn commented on #21412
I believe that going forward, function components are the primary way for writing React components. The class component API is still around, but I don't see us adding a new API like the one described here to class components (particularly given there's an existing way to implement this via memoization).

You could create a new base class that implements this functionality if you'd like.

Or you co

[2021-05-05 13:54] #21412 closed

[2021-05-05 14:29] SimonChaumet commented on #21412
@bvaughn How do you see this being covered in function components ? The memoization would be computed every time the function is called, in the documentation it seems obvious to use a class component

[2021-05-05 14:40] bvaughn commented on #21412
I don't understand what you mean by "_memoization would be computed_". Memoization _prevents_ computation unless an input changes.

Something, somewhere, needs to do this comparison (have props changed) – even if it's React :)

[2021-05-05 15:02] santiagoidu opened #21435 "Bug:"

[2021-05-05 15:08] #21435 closed

[2021-05-05 15:14] SimonChaumet commented on #21412
@bvaughn with memoize-one you pass a function, isn't this function recreated every time a prop changes ?

[2021-05-05 15:18] bvaughn commented on #21412
No. The function is _re-run_ only when the prop changes.

[2021-05-05 15:21] bvaughn commented on #21402
This bug fix has been released as 4.13.1

https://github.com/facebook/react/blob/master/packages/react-devtools/CHANGELOG.md#4131-april-28-2021

[2021-05-05 15:21] bvaughn commented on #18859
This bug fix has been released as 4.13.1

https://github.com/facebook/react/blob/master/packages/react-devtools/CHANGELOG.md#4131-april-28-2021

[2021-05-05 15:28] SimonChaumet commented on #21412
@bvaughn you don't have a constructor in a function component

[2021-05-05 16:31] bvaughn commented on #21412
I thought we were talking about class components?

The Hooks API docs talk about the constructor equivalent of hooks (`useState` initializer): https://reactjs.org/docs/hooks-faq.html#how-do-lifecycle-methods-correspond-to-hooks

You could also use a ref (`useRef`) to initialize the memoization function, and even wrap it in a custom hook:
[code]

[2021-05-05 16:35] SimonChaumet commented on #21412
Okay, I'm gonna go for the hooks so

[2021-05-05 17:40] nmain commented on #21376
I have no idea what is going on here, except that it's not at all React related.  Using the devtools console, you can see the same thing with raw DOM access, even on a page without React at all:

[code]

[2021-05-05 17:50] eric-burel commented on #14257
For googlers, this issue can also be encountered for project using Webpack 4 and transitionning to Webpack 5. If I sum it up, `yalc link` does the reverse of `yarn link` regarding `node_modules`, favouring those of the project that rely on the package to avoid duplicates? By the way Meteor works this way when using `METEOR_PACKAGE_DIRS`, which has always been extremely more intuitive than `link`.

[2021-05-05 17:58] dharapx opened #21436 "Error: "Cannot add node "1" because a node with that id is already in the Store.""
### Which website or app were you using when the bug happened?

Please provide a link to the URL of the website (if it is public), a CodeSandbox (https://codesandbox.io/s/new) example that reproduces the bug, or a project on GitHub that we can checkout and run locally.

### What were you doing on the website or app when the bug happened?

If possible, please describe how to reproduce this bug on t

[2021-05-05 17:59] bvaughn commented on #21436
@dharapx Sorry you hit this problem

Unfortunately though, it doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://codesandbox.io/s/new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem. Screenshots or videos can also be helpful if they help provide context on how to repro the bug.

H

[2021-05-05 18:38] #21429 closed

[2021-05-05 20:08] rafgraph commented on #13956
The `onMouseEnter` event also isn't dispatched when a new element replaces an old element (this also applies to `onPointerEnter` too). See this codesandbox and check the console: https://codesandbox.io/s/react-mouseenter-bug-vq1zg?file=/src/App.js

Note that the `onMouseOver` (and `onPointerOver`) event dispatches correctly, so one solution is to use `onMouseOver` instead of `onMouseEnter` and mak

[2021-05-05 21:01] gaearon commented on #21376
This is how regular browser DOM works.

[2021-05-05 21:01] #21376 closed

[2021-05-05 22:25] tylerkneidl commented on #21287
This is an amazing idea, I'm just trying to think of some more concepts that could be tested here.  How would one even make the decision around how slow is too slow?  Would we need to conduct research?  Compare it to other components of similar types?  Suggest when to use context and reducers?  Really fun to think about!

[2021-05-06 06:57] KevinGhadyani-CityZenith opened #21440 "Bug:"
When calling `unmountComponentAtNode(document.getElementById('react-root'))`, it returns `false`.

This would normally happen because I'm trying to unmount something that's not a React node, but that's not the case.

I'm using `unstable_createRoot`. If I use `render` instead, it works fine.

React version: `0.0.0-experimental-79740da4c`

## Steps To Reproduce

1. Render component with `unstable_cr

[2021-05-06 06:57] #21440 closed

[2021-05-06 06:57] Sawtaytoes opened #21441 "Bug: Unable to use `unmountComponentAtNode` with `unstable_createRoot`"
When calling `unmountComponentAtNode(document.getElementById('react-root'))`, it returns `false`.

This would normally happen because I'm trying to unmount something that's not a React node, but that's not the case.

I'm using `unstable_createRoot`. If I use `render` instead, it works fine.

React version: `0.0.0-experimental-79740da4c`

## Steps To Reproduce

1. Render component with `unstable_cr

[2021-05-06 07:05] ErnestBrandi commented on #21423
I didn't think React was working that way but that kind of make sense now. Thanks for clarifying :)

[2021-05-06 07:05] #21423 closed

[2021-05-06 07:29] eps1lon commented on #21441
`unmountComponentAtNode` only works with legacy roots i.e. `ReactDOM.render`.

For the new roots you have the method directly on the root:

[code]

Does this work for you?

[2021-05-06 07:44] Sawtaytoes commented on #21441
Yes, something like that would've saved me 2 hours tonight :). Definitely a reasonable compromise.

Although, I'd also say it should be on Reactjs.org:
![image](https://user-images.githubusercontent.com/3948069/117260634-e507ba80-ae14-11eb-838b-d5d567d79175.png)

This is the other place I checked:
https://reactjs.org/docs/concurrent-mode-adoption.html

[2021-05-06 07:55] eps1lon commented on #21441
Documentation for `experimental` is not updated frequently and not viable considering the nature of these release channels.

[2021-05-06 08:37] neerajverma101 opened #21442 "Error: "Cannot remove node "2626" because no matching node was found in the Store.""
### Which website or app were you using when the bug happened?

Please provide a link to the URL of the website (if it is public), a CodeSandbox (https://codesandbox.io/s/new) example that reproduces the bug, or a project on GitHub that we can checkout and run locally.

### What were you doing on the website or app when the bug happened?

If possible, please describe how to reproduce this bug on t

[2021-05-06 09:40] iamfazal opened #21443 "useEffect memory leak when setting state in callback"
I know the [Issue #15006](https://github.com/facebook/react/issues/15006) is still open but the described problem is not fit in my case.
I have to check the User is Login? using AWS Cognito function in the private route. I can't use the cleanup function because before the callback executes I redirect to my login page.

here is some of the code
**Privateroute.js** (problem in this code)

[code]
if

[2021-05-06 10:31] alkairis opened #21444 "Error: "Node "103" was removed before its children.""
### Which website or app were you using when the bug happened?

Please provide a link to the URL of the website (if it is public), a CodeSandbox (https://codesandbox.io/s/new) example that reproduces the bug, or a project on GitHub that we can checkout and run locally.

### What were you doing on the website or app when the bug happened?

If possible, please describe how to reproduce this bug on t

[2021-05-06 12:06] atulSuperman opened #21445 "Error: "Cannot add child "18903" to parent "18774" because parent node was not found in the Store.""
### Which website or app were you using when the bug happened?

Please provide a link to the URL of the website (if it is public), a CodeSandbox (https://codesandbox.io/s/new) example that reproduces the bug, or a project on GitHub that we can checkout and run locally.

### What were you doing on the website or app when the bug happened?

If possible, please describe how to reproduce this bug on t

[2021-05-06 13:10] bvaughn commented on #21442
Hi @neerajverma101!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots

[2021-05-06 13:11] bvaughn commented on #21444
Hi @alkairis!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or vid

[2021-05-06 13:11] bvaughn commented on #21445
Hi @atulSuperman!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or

[2021-05-06 13:39] ohmyhusky opened #21446 "Renaming `getComponentName` to `getComponentNameFromType` in the error log"
https://github.com/facebook/react/blob/bd070eb2c489a1f758e4a55b193820af7346fa15/packages/shared/getComponentNameFromType.js#L56

A very small thing, would it be better to change the `getComponentName` to `getComponentNameFromType` in the error log since we separated the original logic into two functions (`getComponentNameFromType`, `getComponentNameFromFiber`)? Although it wouldn't be an issue for

[2021-05-06 13:48] ZackeryBayle commented on #21436
Project: https://github.com/ZackeryBayle/TrollyReactJS
Back end: https://github.com/ZackeryBayle/TrollyCRM

While working on the project doing some code splitting.

`
Update existing issue:
Error: "Cannot add node "1" because a node with that id is already in the Store."
Uncaught Error: Cannot add node "1" because a node with that id is already in the Store.`
I am pretty new so please forgive the

[2021-05-06 13:50] bvaughn commented on #21436
Hey @ZackeryBayle! This is a great help.

Can you elaborate a little more on what I'd need to do to reproduce the error myself beyond running these two projects locally?

[2021-05-06 13:57] ZackeryBayle commented on #21436
@bvaughn - I was working on just rendering some props on the home screen after splitting my form code into its own component.
On render throws error
Page still renders

I hope that helps, let me know if there is anything else I can provide.

[2021-05-06 14:00] eps1lon commented on #21443
Sounds like there is no issue with the posted code then? Could you provide a repro that does have an issue?

[2021-05-06 14:05] ashitoshk46 opened #21447 "Error: "Cannot remove node "1182" because no matching node was found in the Store.""
### Which website or app were you using when the bug happened?

Please provide a link to the URL of the website (if it is public), a CodeSandbox (https://codesandbox.io/s/new) example that reproduces the bug, or a project on GitHub that we can checkout and run locally.

### What were you doing on the website or app when the bug happened?

If possible, please describe how to reproduce this bug on t

[2021-05-06 14:34] johncmunson opened #21448 "Feature Request: ESLint hooks rule for accessing previous state when deriving new state"
A very common mistake and source of bugs in React applications is not using the updater function when deriving new state from old state.

When using class components, there is a handy [lint rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-access-state-in-setstate.md) for this in the eslint-plugin-react project.

However, their rule does not work for functional compo

[2021-05-06 15:28] reza-boroushaki commented on #21429
hello

[2021-05-06 15:53] ZackeryBayle commented on #21436
I have simply removed everything from the rendering page (home.js) and the error still happens. The only thing being rendered is my navBar and footer. Nothing has changed on these components for weeks. I haven't done any updates to dependence.

![image](https://user-images.githubusercontent.com/8448004/117327908-f61def00-ae47-11eb-91e1-6e67aa064a5d.png)

[2021-05-06 15:56] bvaughn commented on #21436
Oh that's excellent. Can you push a branch and point me at it so I can check it out and repro?

I got stuck having to install mongodb this morning to run the backend and then I had meetings.

[2021-05-06 16:10] ZackeryBayle commented on #21436
Here is the new branch  `https://github.com/ZackeryBayle/TrollyReactJS/tree/staging-issues`

[2021-05-06 16:38] bvaughn commented on #21436
Thanks!

[2021-05-06 20:27] jwandekoken commented on #21445
I am also having this bug

[2021-05-06 20:30] bvaughn commented on #21445
@jwandekoken See the comment above please :) Repro is needed.

[2021-05-06 20:36] bvaughn commented on #21436
@ZackeryBayle So you just load the page and see the error?

I can't repro that. (Now that Mongo is installed.)

[2021-05-06 20:48] bvaughn commented on #21447
Hi @ashitoshk46!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or

[2021-05-06 20:49] #21447 closed

[2021-05-06 21:49] ZackeryBayle commented on #21436
correct Just loading the page produces that error. Nothing about the mongo should any effect on this atm because all the components have been removed from the  pages/home.js

I don't know what a component filter is sorry I'm really new at this. This is actually my capstone project for bootcamp.

[2021-05-06 21:51] bvaughn commented on #21436
Ah ok that's interesting. I wonder why I'm not able to reproduce the bug using the same branch/app.

Any chance you'd be up for a quick Zoom call tomorrow to look at it together? No problem if you're not, but if you are– shoot me an email (brian.david.vaughn at gmail) or a DM on twitter (@ brian_d_vaughn)

[2021-05-07 01:03] #21446 closed

[2021-05-07 04:32] ohmyhusky commented on #21446
Thanks!

[2021-05-07 05:58] reno1211 opened #21454 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-05-07 05:58] #21454 closed

[2021-05-07 05:59] reno1211 opened #21455 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-05-07 06:04] sreekanthBharatham opened #21456 "Error: "Cannot add node "1" because a node with that id is already in the Store.""
### Which website or app were you using when the bug happened?

Please provide a link to the URL of the website (if it is public), a CodeSandbox (https://codesandbox.io/s/new) example that reproduces the bug, or a project on GitHub that we can checkout and run locally.

### What were you doing on the website or app when the bug happened?

If possible, please describe how to reproduce this bug on t

[2021-05-07 06:17] iamfazal commented on #21443
@eps1lon there is a logical error. my user is login and before the promise resolved the status hook is false so I redirect to "/" page.

[2021-05-07 07:42] mattgperry commented on #20068
Here's a kind of minimal reproduction about the kind of contracts I need https://gist.github.com/mattgperry/c44b573dc16444b5e9a0e3e60604cba5

[2021-05-07 08:32] #21455 closed

[2021-05-07 09:18] Gautam-Arora24 commented on #14285
Can I work on this issue?

[2021-05-07 09:21] Gautam-Arora24 commented on #17953
Seems like no one is working on this one. Can I work on this issue?

[2021-05-07 09:48] hulyo-firmansyah opened #21457 "Error: "Cannot add node "1" because a node with that id is already in the Store.""
### Which website or app were you using when the bug happened?

Please provide a link to the URL of the website (if it is public), a CodeSandbox (https://codesandbox.io/s/new) example that reproduces the bug, or a project on GitHub that we can checkout and run locally.

### What were you doing on the website or app when the bug happened?

If possible, please describe how to reproduce this bug on t

[2021-05-07 10:23] mrhut10 commented on #21444
I'm having the same problem, but like about I don't have a minimal example to reproduce. just a huge private code base and no clue why its doing it.

I'm going to try do a git blame next week to see when it started

[2021-05-07 12:26] bvaughn commented on #21444
Thanks @mrhut10. Once we get a repro, we can try to fix. Without it though I can only guess.

[2021-05-07 12:44] bvaughn commented on #21456
I'm sorry you experienced this bug @sreekanthBharatham! 🙇

Looks like this problem was already reported though (#21436) so I'm going to mark this issue as a duplicate and close it.

**If you have additional context that might help us repro this problem, please leave a comment on the other issue!** We can't fix the bug without knowing how to reproduce it.

Thank you~

[2021-05-07 12:44] #21456 closed

[2021-05-07 12:47] bvaughn opened #21458 "[DevTools Error] This error is intentional"
### Website or app

localhost:8080

### Repro steps

1. This is just
2. A test

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-inline

### DevTools version (automated)

4.13.1-bd070eb2c4

### Error message (automated)

This error is intentional

### Error call stack (automated)

[code]

### Error component stack (automated)

[code]

### GitHub que

[2021-05-07 12:48] #21458 closed

[2021-05-07 13:10] vain0x opened #21459 "Bug: input value and hook state mismatch after reload (SSR)"
With server-side rendering (SSR), after page reload, `input` element preserves its content but `useState` clears its state.
The value of input element (in DOM, visible to user) and internal state are different in this situation.
In the view of user, application looks inconsistent.

I searched Internet for the issue but couldn't find someone who mentioned this. Sorry if duplicated.

React version:

[2021-05-07 13:47] KadenBiel commented on #13991
I'm having this issue too, I've tried everything mentioned above and still can't figure it out. I've replicated the issue in a smaller example, hosted [here](https://github.com/KadenBiel/Electron-React-Test). I'm not sure where the other copy of react is coming from, and I've checked to make sure that none of the other issues are casing the error. I wouldn't consider myself a pro at typescript, so

[2021-05-07 13:50] bvaughn commented on #21436
Thank you for the update, @ZackeryBayle

[2021-05-07 13:57] ZackeryBayle commented on #21436
Okay all components are loaded back in and rendering... no more error. I'm at a loss on this one.

Only thing I can say is I was trying to figure out how to raise state so I could update a a parent state from a child when this happened. Let me know if there is anything else I can do to provide any more info or help.

[2021-05-07 14:26] TSMMark commented on #13991
@KadenBiel I took a quick look at your repo and didn't see anything too obviously out of place, other than you have some `@types/react` packages in the lock file for react v 16 instead of 17

https://github.com/KadenBiel/Electron-React-Test/blob/d2ca41fee05080769bee7ddb3d12a97dfd4d0763/yarn.lock#L1163-L1183

but afaik that shouldn't affect runtime?

[2021-05-07 14:51] kenticomartinh commented on #15739
Same problem here

[2021-05-07 15:35] bvaughn commented on #21436
@yrambler2001 Need a repro case. Can you share one?

[2021-05-07 18:12] devich2 opened #21464 "[DevTools Error] Cannot add node "3709" because a node with that id is already in the Store."
### Website or app

http://localhost:3001/

### Repro steps

http://localhost:3001/

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.2-e468072e17

### Error message (automated)

Cannot add node "3709" because a node with that id is already in the Store.

### Error call stack (automated)

_No respon

[2021-05-07 19:41] bvaughn commented on #21464
@devich2
http://localhost:3001 isn't a public URL. This repro step isn't something any of us can follow. Going to close this issue for now. If you provide more details, I'll be happy to reopen it though.

[2021-05-07 19:41] #21464 closed

[2021-05-07 19:55] kartikv11 commented on #21444
Facing the same issue, only since yesterday though.

[2021-05-07 20:33] #21411 closed

[2021-05-07 20:44] bvaughn commented on #21444
@kartikv11 Check out all of the comments above asking for repro information.

[2021-05-08 06:02] AbbasZeynalov opened #21467 "Positive !"

[2021-05-08 06:43] AnthonyJRay opened #21468 "Error: "Children cannot be added or removed during a reorder operation.""
### Which website or app were you using when the bug happened?
Working in a React application in VSCode on Local Host.

### What were you doing on the website or app when the bug happened?
Adding functionality to an icon on a card to display or hide it through a click event in React changing a state property with setState.

[code]

### Generated information

DevTools version: 4.13.1-93782cfed2

Ca

[2021-05-08 08:22] #21467 closed

[2021-05-08 14:25] bvaughn commented on #21436
Understood. If you're able to narrow it down, even to something that happens once and a while, repro steps would be helpful.

[2021-05-08 14:27] bvaughn commented on #21468
Hey @AnthonyJRay, any chance you can reproduce this bug? (Or did it only happen once?) If you _can_ reproduce it, can you share a little more info on how? I don't think the code you've shared above is enough for us to see the bug happening (so that we can fix it)

[2021-05-08 15:40] eps1lon commented on #21436
Repro: https://github.com/eps1lon/react-devtools-repro-no-matching-node/tree/main
React devtools version: 4.13.2 (e468072e17)
Steps included in repro.

https://user-images.githubusercontent.com/12292047/117544707-e6a6cd80-b022-11eb-9f8f-bb8cfd9f7743.mp4

[2021-05-08 15:43] eps1lon opened #21469 "[DevTools Bug]: Children list grows indefinitely when adding/removing useEffect"
### Website or app

Please checkout the linked branch not `main`
https://github.com/eps1lon/react-devtools-repro-no-matching-node/tree/repro/elements-leaking
Repro steps and screen recording included in the repro

### Repro steps

1. Clone repro
1. yarn
1. yarn start
1. Open app page
1. open devtools
1. Uncomment the `useEffect` block i.e. add an effect
1. inspect `Component` element
1. comment `u

[2021-05-08 18:31] HarshitJoshi9152 commented on #19927
i take it you couldn't reproduce the issue so check this [react codebase](https://github.com/HarshitJoshi9152/showerthoughts)

Steps to reproduce.

1. install dependencies and run the code with `npm run start`
2. go to localhost:3000 and click on any post.
3. hit reload.
4. open dev tools and we have the same error.

[2021-05-08 18:33] HarshitJoshi9152 commented on #19927
![isCollapsedBug](https://user-images.githubusercontent.com/37842304/117549783-f1308980-b059-11eb-9d4b-7c72c6418b51.PNG)

[2021-05-08 18:44] Muhammad-Sarfaraz commented on #14473
I encountered this error while working with react using cdn. Below code will help you to generate the errors.

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Playground</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"></script>
    <scrip

[2021-05-08 18:44] Muhammad-Sarfaraz commented on #14473
I encountered this error while working with react using cdn. Below code will help you to generate the errors.

`<title>Playground</title> <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"></script> <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<div i

[2021-05-08 21:06] coder-mike commented on #12333
I was also getting this error. It turned out I accidentally had `@rollup/plugin-commonjs` running twice in my `rollup.config.js`.

[2021-05-08 21:28] regalstreak commented on #14257
Nothing worked but yalc for me

[2021-05-09 03:59] PupoSDC commented on #21443
The posted code looks correct to me as well. With promises, you always need to do some sort of check to make sure its still safe to update the state on your component.

This shouldn't be true. When you go to `"/"` your component will still call the `PrivateRoute` useEffect cleanup. You can test this by adding a breakpoint, to that particular line (or a `debugger`/`console.log` call).

[2021-05-09 13:05] bvaughn commented on #21436
Thanks for the repro, @eps1lon!

My first guess is that this has to do with Fast Refresh and force-remounting. I'll have to dig in.

[2021-05-09 17:33] rahulsharmamt opened #21478 "Error: "Cannot remove node "1105" because no matching node was found in the Store.""
### Which website or app were you using when the bug happened?

Please provide a link to the URL of the website (if it is public), a CodeSandbox (https://codesandbox.io/s/new) example that reproduces the bug, or a project on GitHub that we can checkout and run locally.

### What were you doing on the website or app when the bug happened?

If possible, please describe how to reproduce this bug on t

[2021-05-09 17:54] numan-hussain opened #21479 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-05-09 17:54] #21479 closed

[2021-05-10 00:34] bvaughn commented on #21478
@rahulsharmamt This bug report doesn't have any repro steps so I'm going to close it. If you could fill in the required repro section, I will reopen it. :) Thanks!

[2021-05-10 00:34] #21478 closed

[2021-05-10 06:24] drfbwilliams commented on #20830
Just popping in here - I haven't seen this issue before, but after Windows and Edge decided to upgrade themselves last night (thanks for that mess MSFT....) - I am trying to debug a REACT solution being developed in VSCODE. When I installed the react developer extension (because the upgrade removed everything.....) I recorded a profile session and this error is the result - the link provided in th

[2021-05-10 08:32] 832bb9 commented on #20111
Still the question: should state updater be pure function? For example here https://github.com/mantinedev/mantine/blob/master/src/mantine-hooks/src/use-local-storage-value/use-local-storage-value.ts. We can’t set state to local storage before we can calculate it based on previous value, but can we do something in updater or we should use effect after component rerender?

[2021-05-10 08:53] mrsilver256 commented on #20770
Hi there,
React will refocus an element after it applied effect mutation. However, since your button is disabled, React can not perform refocus. Actually, it has tried to refocus but unsuccessfully. The process of refocusing blocks the scroll run smoothly. And sure, this happened with all elements having disabled attribute. React also acknowledges (comments on the code of `restoreSelection`) that

[2021-05-10 09:07] vain0x commented on #21459
Thank you for feed back and I'm sorry for lack of information.
I (now) tried with these browsers, on Windows, secret/private mode enabled. Results:

- Firefox (88.0.1): **reproduced**
- Chrome, Edge: not reproduced

[2021-05-10 11:08] JakeGinnivan commented on #21442
FWIW I just got this error and clicked on the link in dev tools to this issue. HMR got a 500 loading the new module from Vite, then renders failed. This happened when i saved a file I was editing with invalid syntax so it couldn't be transformed.

[2021-05-10 13:53] bvaughn commented on #21442
@JakeGinnivan Are you able to reliably reproduce this? (If so, can you share an example file before/after so I can try as well?)

[2021-05-10 16:43] mastorm commented on #21442
Funnily, i also run into this issue. I am running vite, just like @JakeGinnivan

[2021-05-10 17:08] bvaughn commented on #21442
@mastorm Repro?

[2021-05-10 18:06] gaearon commented on #21442
I wonder if it has something to do with Fast Refresh's restore mechanism where it remounts previously failed roots. Maybe those don't get registered somehow?

[2021-05-10 19:00] drcmda opened #21486 "How can we deal with suspense in mixed mode (multiple renderers)"
React does not currently support context, error-bounds and suspense across multiple renderers, for reference we have a longstanding open ticket for context: https://github.com/facebook/react/issues/17275

This is about suspense. I need to be able to await a custom renderer. In my case the `<Canvas />` component is part of the react-dom tree, but renders into its custom-renderer in a LayoutEffect.

[2021-05-10 22:15] samwightt commented on #10021
Really could use this being a thing. CDNs like JSDelivr's new ESM CDN are really cool, but they're not able to load React. As far as I know the only ESM CDN I know of that's able to work properly with React is the Skypack. Every other view library I know of works properly across the major CDN providers except for React :(

[2021-05-10 23:28] diegohaz commented on #11211
@masayuki-nakano Does it mean if I set `dom.input_events.conform_to_level_1` to `false` I'll get Firefox working with Input Events level 2? I'm trying to do this, but input types such as `insertFromComposition` are still not fired. In fact, I didn't see any difference.

[2021-05-11 00:21] craigkovatch commented on #13104
Turns out my workaround breaks the ability to call `stopPropagation` on the synthetic change event later.

[2021-05-11 01:44] ewdaimonia commented on #21444
I encountered this issue today and created a small sandbox with all the components that I was working on when it occurred, but I cannot reproduce it, even though I tried for several hours. If this is not helpful and only an actual reproduction will help, I'd be happy to delete this comment, just let me know.

### **What were you doing on the website or app when the bug happened?**
1. Updating line

[2021-05-11 01:55] LXSMNSYC commented on #21486
Does this work? I assume error boundaries are able to catch all kinds of throwable values (includes Promises).

[code]

[2021-05-11 06:47] neerajverma101 commented on #21442
I'm working on a project based on nextjs and when trying to locate a component through the extension it is getting crashed.

![Screenshot from 2021-05-11 12-16-02](https://user-images.githubusercontent.com/13080807/117770608-c0677480-b252-11eb-93d4-dce2eb982050.png)

[2021-05-11 07:29] L0rdH4x0r commented on #14257
Nothing from the above was needed! I got mine fixed by **just keeping react and react-dom only as peerDependencies** and delete all other occurrences. After that **delete node_modules and package-lock.json and install again**. Then in should work.

[2021-05-11 08:35] eric-burel commented on #14257
Most often, you cannot do this during development though, as you may need React for unit testing or 3rd party tools like Storybook. In a mono-repo, even if React is a peer-dependency of your package, it will fetch the "closest" version, so from your monorepo main `node_modules` instead of those from the app.
I've tested Yalc, with some success at the moment, though I am still not sure of the preci

[2021-05-11 11:27] bawa opened #21490 "Bug: Memory leak in simple dialog interaction"
Hi,

I recently encountered a memory leak in our app. Trying to isolate the problem I ended up with a simple create-react app, where
it also seems to appear. The app consists of a simple button opening a dialog. Dialog has a text field (for simplification not connected to anything, state changes etc) and a list of strings rendered as divs. Dialog can be opened any number of times and then closed.

[2021-05-11 14:17] Ostefanini commented on #21442
Hello, quick fix for users here: on firefox I've rollbacked to version 4.13.0.
Go to about:addons and remove the extension.
Then click here: https://addons.mozilla.org/firefox/downloads/file/3767928/react_developer_tools-4.13.0-fx.xpi
(it's the direct link to install a specific version from this page: https://addons.mozilla.org/fr/firefox/addon/react-devtools/versions/?utm_content=search&utm_mediu

[2021-05-11 14:22] bvaughn commented on #21442
@Ostefanini @neerajverma101 @mastorm @JakeGinnivan A repro for this bug would be hugely helpful. So far we've gotten reports but no steps to reproduce it (so we can fix it).

Temporarily rolling back the extension is fine to work around the immediate problem but it's not a long term solution 😄

[2021-05-11 14:24] bvaughn commented on #21444
@ewdaimonia Thank you! This looks _very_ helpful

[2021-05-11 16:16] sulenchy commented on #21468
@AnthonyJRay  I had this same error earlier this morning and I was able to resolve it by adding a unique key to the element wrapping the items.

So it looks like you have many of the cards displaying that react was unable to distinguish.  Hope this helps.

[2021-05-11 16:25] bvaughn commented on #21468
@sulenchy Can you share a repro of your project _before_ you made that change? Still looking for a way to reproduce this bug.

[2021-05-11 17:26] pauldewilson commented on #21442
Also getting this error on a project I've been working on for two months without issue. I'd like to offer up the repo but it's private with sensitive info. If there's anything I can do to help that isn't divulging the repo then I'm happy to do so. Sorry I can't be of more help, but this is very much a problem for me so keen to help where I can. Thanks.

<img width="961" alt="Screenshot 2021-05-11

[2021-05-11 17:28] bvaughn commented on #21442
Unfortunately we really just need a repro. The stack trace is going ot be the same, so screenshots of the error don't give us any additional information. :) Thanks though.

[2021-05-11 18:18] pauldewilson commented on #21442
I'm sorry, tried and failed (sort of). Too much of the project depends upon connections that must remain private. FWIW, trying to trim the fat somehow solved the problem. I removed some connections to a Parse server hosted on back4app, and also removed a google maps JS API. Specifically, I get this problem with material UI dialog onClose after opening a dialog on a @react-google-maps/api map. Oddl

[2021-05-12 08:43] eertl opened #21496 "When will the other features of suspend be released?"

[2021-05-12 10:28] minimalknave127 commented on #21442
I fixed this issue with **hard reload** (ctrl +f5) in chrome

[2021-05-12 12:59] mrfambo commented on #17488
@ryan-gray @jiangyh1024 Did the suggested solution worked?

[2021-05-12 14:38] niwinz opened #21497 "Bug: ReactDOM ignores invalid styles (e.g. unquoted font-family)"
React version: 17.0.2

## Steps To Reproduce

1. Just try to set `fontFamily: "Exo 2"` on styles.

https://codesandbox.io/s/react-exo-2-font-b80ij

- If you chage it to "Exo", the hot reload correctly sets "Exo" fontFamily on the dom.
- If you next change again to "Exo 2", it just leaves the dom with the previous value: "Exo"

This happens on latest Firefox, Chrome and Brave

[2021-05-12 14:55] Abhishek150190 commented on #17196
This might be a temporary solution but it will not help in longterm .Is there any longterm solution?

[2021-05-12 15:24] bvaughn commented on #21496
We'll post on the React blog, Twitter, and documentation websites when additional Suspense features are released, but we try to avoid making predictions about release timelines because it's often hard to foresee things that might cause delays.

[2021-05-12 15:24] #21496 closed

[2021-05-12 17:39] bvaughn opened #21499 "DevTools: Standalone should support multiple connected clients"
The standalone DevTools uses a `WebSocket` to communicate with the backend (which is embedded within an application like a React Native app or a webpage running in Safari). It was reported that currently only one application can connect to the standalone DevTools at a time, but this limitation is unnecessary. A Node `Server` server can accept connections from multiple clients, and the DevTools arc

[2021-05-12 17:57] AndrewLeedham opened #21500 "Feature Request: Support `componentDidCatch` in `renderToStaticMarkup`"
It is mentioned in https://github.com/facebook/react/issues/10442 that `renderToString` and `renderToNodeStream` are not supported due to streaming limitations which makes sense. However, `renderToStaticMarkup` is listed in the docs as being for static page generation.

Therefore, would it be possible to support `componentDidCatch`/Error Boundaries when using `renderToStaticMarkup`.

My use-case i

[2021-05-12 18:17] NullPainter2 opened #21501 "Bug: NVDA reads element as "clickable" because onClick is not removed (but replaced with noop())"
**Fact:**

NVDA, and possibly other screen readers, read element as "clickable ..." when element has onClick event handler set.

**Problem:**

React 16.13.1 replaces onClick handler with a `noop()` when onClick becomes either undefined or unset, but this still makes screen reader read "clickable ..."

**Reproduction:**

-  JSX should have a conditional onClick like this
[code]
or this
[code]
- cha

[2021-05-12 18:33] eps1lon commented on #21501
Duplicate of https://github.com/facebook/react/issues/20895

[2021-05-12 20:46] bvaughn commented on #21436
I _think_ I've captured the bug in a unit test:
https://github.com/bvaughn/react/blob/d49ba6b598522e4a5c0d93e215d7e3c7c51fef2c/packages/react-devtools-shared/src/__tests__/FastRefreshDevToolsIntegration-test.js#L164-L254

[2021-05-12 23:36] bvaughn commented on #21436
I'm not sure of the best way to handle this. DevTools can read the `_debugNeedsRemount` field during unmount to detect what's happened, but at this point– how does it get from id 4 back to id 1? I think I'd have to add a lot of metadata tracking to be able to map from type-to-id.

I think the best approach might be to add a hook to React to inform DevTools of when a forced clone+remount has happen

[2021-05-13 00:57] rggaoxin opened #21502 "I can build on the windows but can't build on the ubuntu"
I build the project on the windows.When  I build on the ubuntu,it report some errors.I don't konw how to resolve it.
The log is:
[web.log](https://github.com/facebook/react/files/6469753/web.log)

The debug log is:
[debug.log](https://github.com/facebook/react/files/6469754/debug.log)

Please help.

[2021-05-13 02:02] bvaughn commented on #21502
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2021-05-13 02:02] #21502 closed

[2021-05-13 02:24] amabelleS commented on #21442
I also run into this issue, working with react. Its not my repo to share.. so unfortunately I cant. But I got very strange behavior with the state, trying to update after fetching data from the server, it does not reach the state, most of the times... it does when I update the code on VSC on the first render after the save, but then when I refresh the page the data disappears from the state. I add

[2021-05-13 02:54] st-vinguyen commented on #10389
I'm working on audio/video autoplay and I face the problem with `muted` attr.
https://developer.mozilla.org/en-US/docs/Web/Media/Autoplay_guide#autoplay_availability
It would be easy to pass the policy when doing autoplay with muted=true.

[2021-05-13 05:01] Sawtaytoes commented on #13991
I have an issue with yarn workspaces when running `create-react-app` for who knows what reason.

## App Structure
I have 3 apps in this monorepo:
- `appA` (uses React 17.0.2).
- `appB` (uses React Experimental for Concurrent mode).
- `component-library` (uses React 17.0.2 and exports a single hook).

Other than `package.json`, `appA` and `appB` are identical. I'm not using Concurrent mode to minim

[2021-05-13 07:02] hardikshah197 commented on #21490
@bawa May I take this issue? if it is open...

[2021-05-13 07:06] bawa commented on #21490
Sure, I really appreciate any feedback here. Thanks :)

[2021-05-13 08:03] stefanwuthrich commented on #21406
I can not send code here, but I got the same error after updating react@17.0.2, react-dom@17.0.2 from 17.0.1

`
Uncaught Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rules of Hooks
3.

[2021-05-13 08:06] stefanwuthrich commented on #21406
![Screenshot from 2021-05-13 13-35-38](https://user-images.githubusercontent.com/8337826/118097318-276e6000-b3f0-11eb-9ab8-6d3c146334ca.png)

Last line missing on screenshot: dispatchDiscreteEvent self-hosted:1334

[2021-05-13 08:34] NullPainter2 commented on #20895
@eps1lon If I do not specify `onClick` handler in JSX, but React adds event handler like `noop()`, then it is a bug in React. And not in NVDA.

[2021-05-13 09:04] gaearon commented on #21406
@mahmoudraad Have you looked at this? This is where you should start. Share what you tried.

[2021-05-13 10:41] AlexRAV commented on #21497
Hi @niwinz. Are you sure that this is related to ReactDOM?

I've tried to assign new fontFamily value using style property and it doesn't work even for the native JS solution.
![image](https://user-images.githubusercontent.com/13298791/118114836-54336f00-b412-11eb-9220-d10116c4ce69.png)

[2021-05-13 11:04] AlexRAV commented on #21497
It's also will ignore the new value if it contains `8`

[2021-05-13 11:06] soundharrajan89 opened #21503 "https://reactjs.org/docs/getting-started.html(React.org docs page right side bottom menu not able see the options )"
React.org docs page right side bottom menu not able see the options
Solution: Please update below CSS properties
.css-1d35tl3{
    overflow-y: scroll;
    height: 85%;
}

[2021-05-13 11:18] niwinz commented on #21497
I didn't specified ReactDOM, is @bvaughn who changed the title.

[2021-05-13 11:29] niwinz commented on #21497
But yes, you are right it happens using native dom api...

[2021-05-13 11:36] niwinz commented on #21497
![image](https://user-images.githubusercontent.com/843689/118120409-22111580-b3f0-11eb-9c0f-be3fd72d1f6e.png)
But if you quote the fontFamily string, it works.

[2021-05-13 11:43] antialias commented on #16265
@cbdeveloper the reason is that when calling a function as a property of an object, the object exposed inside the function as [`this`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this), so the object is also a dependency in that case.

[2021-05-13 11:53] eps1lon commented on #20895
Even if React wouldn't add a noop in your specific case, it would still add actual onclick handlers in other cases. So while React might be able to fix that specific case, NVDA is in a way better position to not consider this an author error. Authors should be able to explicitly tell NVDA that an element is clickable. Just because an element has a click handler, does not mean clicking that element

[2021-05-13 11:56] seiyab commented on #16265
I think this issue should be closed.
The reason why lint rule complains is already described in https://github.com/facebook/react/issues/16265#issuecomment-517518539 .
A solution for people who feel inconvenient is already suggested in https://github.com/facebook/react/issues/20755 .

[2021-05-13 13:18] AlexRAV commented on #21497
Hmm, looks like this is specification-described behavior
https://www.w3.org/TR/2018/REC-css-fonts-3-20180920/#propdef-font-family

[2021-05-13 13:30] bvaughn commented on #21406
Just re-noticed this issue :) and I'm going to close it since it seems like we haven't gotten a response back from my question 10 days ago.

[2021-05-13 13:30] #21406 closed

[2021-05-13 13:32] bvaughn commented on #21503
The documentation and source for [reactjs.org](https://reactjs.org/) are in a different GitHub repository.

Please open a new issue in that repository:
[https://github.com/reactjs/reactjs.org](https://github.com/reactjs/reactjs.org/issues/new)

Sorry for the inconvenience! 🙂

[2021-05-13 13:32] #21503 closed

[2021-05-13 13:59] NullPainter2 commented on #20895
@eps1lon Well, my problem is not the other cases ;) .

I have React 16.x (but 17.x has same error as 16.x).

I have different problem than OP here.

My problem is not with **first** element inside of react root which NVDA reports as "clickable" (which OP has), but with element which is deep down into the React tree. Also when I do not specify `onClick()`, then NVDA does not read element as "clicka

[2021-05-13 18:59] greglittlefield-wf commented on #17581
Related, I found this other text input leaking bug in Chrome related to autofill, which they've said will be picked up "later this summer": https://bugs.chromium.org/p/chromium/issues/detail?id=1144739#c18.

It looks like the original UndoRedoStack issue has been marked as fixed, but [this comment](https://bugs.chromium.org/p/chromium/issues/detail?id=961494#c41) makes it seem like it may not have

[2021-05-13 18:59] greglittlefield-wf commented on #16087
Sorry to make the same comment again, but are there any updates on when the first "Actionable" item, around detaching backpointers on DOM nodes, might be implemented?

I know the root cause of memory leaks my team is seeing is DOM node memory leaks in Chrome, but unfortunately it's unclear when exactly those will get fixed (see also https://github.com/facebook/react/issues/17581#issuecomment-84076

[2021-05-13 20:02] bvaughn commented on #21436
This test captures the bug:
[code]

In the third snapshot, there should not be a duplicate `<Component>`.

[2021-05-13 20:09] bvaughn commented on #21469
I think this might be the same issue I've captured in a test:
https://github.com/facebook/react/issues/21436#issuecomment-840799858

[2021-05-13 20:55] bvaughn commented on #21469
I _think_ #21506 might be one way to fix this issue.

[2021-05-13 20:55] bvaughn commented on #21436
I _think_ #21506 might be one way to fix this issue.

[2021-05-13 20:55] bvaughn commented on #21442
I _think_ #21506 might be one way to fix this issue.

[2021-05-13 22:39] adjenks commented on #13991
This issue sure has a lot of comments...

[2021-05-14 02:36] timothyallan commented on #2055
@AustinSpinazze If you start a new issue, can you link this one? I've also started getting client complaints saying that they can't click things on iPhone 6's running iOS 12.2... Just tested it, and sure enough, onClick doesn't fire at all the iOS simulator 12.2 with React 17.0.2

[2021-05-14 07:02] Shen120 opened #21507 "After "react developer tools" is opened, the "message" event of window.addeventlistener will be triggered frequently"
- React: 15.5.4
- React-dom: 15.5.4
- React Developer Tools: 4.13.2

1、open the tools
2、window.addEventListener('message', event => {
      // code...
    });

[2021-05-14 09:19] eps1lon commented on #21497
Seems like the correct answer. The following diff solves the problem:

[code]

[2021-05-14 09:46] niwinz commented on #21497
yeah, the question here is, this is expected behavior and is **the user responsibility* to properly quote the fontFamily, or **react responsibility** to abstract this browser very strange behavior... (because if  you put `const style = {fontFamily: "Exo Other"};` it works as expected)

[2021-05-14 10:58] skorotkiewicz opened #21508 "Error: "Cannot read property 'length' of undefined""
Describe what you were doing when the bug occurred:
1. Profiler button clicked
2. Profiler used for 5 sec
3. Profiler button stop clicked and immediately this error

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.12.4-7becb2ff1b

Call stack: at ec (/Applications/React Native Debugger.app

[2021-05-14 11:24] bawa commented on #21490
@hardikshah197 Did You perhaps try reproducing this issue?

[2021-05-14 11:34] maomy1992 opened #21509 "How to debug while learning the source code?"
How to debug while learning the source code?

[2021-05-14 13:09] wintercounter commented on #14856
I might be "out of league" and I'm probably not seeing the big picture here, but can't we just have an API change? `onWheel` is not the only event where we want to have more control, but `scroll` also as well sometimes.

A general support for `addEventListeners`'s `options` param would solve this problem once and for all.

My idea would be to add support to accept arrays for event props.

[code]

[2021-05-14 14:01] bvaughn commented on #21497
Was about to say this.

[2021-05-14 14:09] bvaughn commented on #21507
This is expected. React DevTools uses `postMessage` to communicate between the Chrome extension itself and the script running in the webpage alongside of React.

[2021-05-14 14:09] #21507 closed

[2021-05-14 14:10] bvaughn commented on #21508
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can al

[2021-05-14 14:11] bvaughn commented on #21508
Please also try updating to the latest version of React DevTools (4.13) to rule out any possible bugs that have already been fixed.

[2021-05-14 14:23] bvaughn commented on #21509
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2021-05-14 14:23] #21509 closed

[2021-05-14 14:37] chriserickson opened #21510 "Bug: Effects are run on parents of suspending components"
With a component hierarchy like:

[code]

If the child throws to suspense, neither the parent nor child are in the DOM. However, the parents effects are still run. This breaks classes of layout effects, e.g. measuring text etc.

React version: 17.0.2

## Steps To Reproduce

1. Open code sandbox
2. Look at console

Link to code example: https://codesandbox.io/s/parent-effects-suspense-m2k4q?file=/s

[2021-05-14 14:40] chriserickson commented on #21510
For context, we ran into this with Relay - a `useFragment` block suspended sometimes, causing a parent component's layout effects to make incorrect measurements. It is worked around with an intermediate suspense boundary, but that may not be desirable if you want the entire screen to wait to load until the sub-components are able to load.

[2021-05-14 18:43] mweststrate commented on #21499
Currently the unconfirmed but observed behavior is that a newer connection will replace the old connection and reset the state of the devtools, but they do keep working correctly as far as I could tell.

An MVP would probably have a dropdown to select one of the connections. Do the devtools backend know the identifier of the application? (I can imagine that is quite context dependent, thinking pri

[2021-05-14 21:20] vincentlaucsb commented on #13991
If anybody is using **npm link** on a **Webpack UMD module**, this post might be helpful.

I have a CRA app (myapp) that references a custom React component library (mylib). The React component library was built from the ground up and uses Webpack to create a UMD module. Mylib was then **npm link**'d from myapp for development purposes. I had a functional component that was working until I added a

[2021-05-14 23:08] gaearon commented on #13206
This is in progress. We've tweaked and unprefixed some APIs (for the experimental channel only). https://github.com/facebook/react/pull/21488

[2021-05-14 23:17] ntucker commented on #13206
@gaearon That's awesome! Does that mean a stable release with these things is coming soon? Will this be React 17.1?

[2021-05-15 01:17] gaearon commented on #13206
We are getting closer to the first release that would have an actual number version on it. It will be tagged as an alpha. Like always, we’ll announce it on the blog. A stable release is going to take place at least several months after that since we’re going to work closely with the ecosystem and it will take some more time to fill in the gaps. Sorry this is brief, preparing the communication for

[2021-05-15 01:29] bvaughn commented on #21499
I think the way we would do this would be...to establish a unique id per client connection on the server, then send that id back and forth when communicating (kind of like the "renderer id" works already). Then when a connection closes for a given id, we'd need to clear out its store entries.

[2021-05-15 06:32] eps1lon commented on #21497
The question is what "expected behavior" is in this context. Because it works if you have platform expectations. `Exo Other` working without quotes but `Exo 2` requiring quotes is [specified behaivor](https://www.w3.org/TR/2018/REC-css-fonts-3-20180920/#propdef-font-family) as shown by @AlexRAV.

React could not just add quotes but also need to check that quotes aren't already in place. And then i

[2021-05-15 06:38] eps1lon commented on #21510
Thanks for the report.

This is similar to https://github.com/facebook/react/issues/14536 and https://github.com/facebook/react/issues/18141

Unfortunately, it is not possible to fix with `ReactDOM.render`:

-- https://github.com/facebook/react/issues/18141

Note that "Blocking Mode" is no longer availabe in the latest experimental releases.

[2021-05-15 06:38] #21510 closed

[2021-05-15 08:28] AlexRAV commented on #21497
@eps1lon maybe we should add just info message for dev mode for this case? I thing it should be nothing more than reminded for developer.

[2021-05-15 11:06] ahmadawais commented on #13863
Tried everything and nothing works for me either.

[code]

Send help! 😇

[2021-05-15 11:51] mweststrate commented on #21499
Yeah my comment was mostly wondering how to represent the id meaningfully to the user? If he has connections a34b, 4fs5 and c34d available in the devtools, (or even "facebook - 1", "facebook - 2", "facebook - 3") how to tell which one belongs to which running app/device? If we'd communicate the id as known on the app back through the Flipper SDK to Flipper, we'd solve it in the Flipper case, but s

[2021-05-15 16:07] gaearon commented on #21510
Yeah, this is exactly the kind of thing that Concurrent Mode solves. We can't solve it outside of that because it would violate the constraints that non-CM-compatible code assumes.

[2021-05-15 21:55] pindjur commented on #15278
We also use function returned from useCallback as dependency to useEffect for data fetching. Memoized function often comes from another custom hook. Cache busting will cause state to be overwriten.

[2021-05-15 22:20] Amosss commented on #15344
+1

[2021-05-16 06:40] liyatang commented on #21508
React Developer Tools  still stay in version at 4.13.2 (5/7/2021) ?
Is there a plan to update

[2021-05-16 08:20] niwinz commented on #21497
The main problem here is the surprise and the long time of debugging when finally you realize that is a browser expected and documented behavior. A simple warning in dev mode probably will help save the developer time.

[2021-05-16 13:15] lishoulong commented on #18026
Hi, This bug is not fixed in your codesandbox.

[2021-05-16 13:29] sebuelias commented on #11734
Can I take this issue up?

[2021-05-16 14:59] TobyMellor commented on #21445
This happened to me, the node wasn't appearing in the Components tree and I was getting this error. The problem was that my `key` attribute was way too long

[2021-05-16 15:27] bvaughn commented on #21508
Don't understand the question. It's May 16. The last release was only a few days ago.

[2021-05-16 16:57] AlexRAV commented on #21497
I'm not sure about the info message content, because it's still pretty unclear for me, so feel free to share your thoughts about it.

[2021-05-17 09:39] niwinz commented on #21497
It looks nice for me ;)

[2021-05-17 10:26] jasongi opened #21514 "Bug: Applying an invalid style will use property from previous render"
Applying an invalid style will use property from previous render. This can cause some hard to pin down bugs since you may inadvertently be applying invalid styles but not notice because the style on the previous render was fine. But then rendering later on with the same props/state will cause a different style to be applied, because of what happened on the previous render.

React version: 17.0.2

[2021-05-17 13:56] bvaughn commented on #21514
I think this is, essentially, the same as issue #21497

[2021-05-17 13:58] bvaughn commented on #21514
The repro above is nice (thanks for sharing) but I'm going to close this as a duplicate and we can continue the discussion on #21497

[2021-05-17 13:58] #21514 closed

[2021-05-17 14:08] jasongi commented on #21497
Given this isn't just an issue affecting font Family ( see #21514 ) I think maybe a more generic message that a style wasn't applied because it is invalid would be helpful.

[2021-05-17 14:10] goldhand commented on #17636
Can anyone explain what is the purpose of identifying hooks with a `"use*"` prefix? Is it just for linting and coding conventions? I've read the docs a bit and it seems that it is the only reason. If so, I'm surprised that this was the solution that was decided... not that its a good place or time to debate that approach now—I'll just keep wondering how that happened. Maybe add a third Rule of Hoo

[2021-05-17 14:14] AlexRAV commented on #21497
Sure, I can extend the validation rule

[2021-05-17 15:09] #20176 closed

[2021-05-17 15:09] #20356 closed

[2021-05-17 15:14] bvaughn commented on #21442
@pauldewilson Would you be interested in trying a build of DevTools (that I can attach to this issue) to see if I've fixed the problem with some changes I've made locally?

[2021-05-17 15:14] bvaughn commented on #21436
To anyone above who can reproduce this bug but _can't share source code_ – would you be interested in trying a build of DevTools (I can attach to this issue) to see if I've fixed the problem with some changes I've made locally?

[2021-05-17 15:18] pauldewilson commented on #21442
Hi @bvaughn yes very happy to try that. Thank you!

[2021-05-17 15:21] mntnoe commented on #20387
I am experiencing the same issue, and I think it may actually be an issue with React Devtools.

![Screenshot from 2021-05-17 17-14-01](https://user-images.githubusercontent.com/705340/118512800-6a536f00-b733-11eb-95f1-9c55613b2860.png)

My component hierarchy is missing as well. Setting a breakpoint shows the following:

![Screenshot from 2021-05-17 17-12-55](https://user-images.githubusercontent.

[2021-05-17 15:53] AlexRAV commented on #21497
Hmmm, the algorithm I used for fontFamily property doesn't work properly for every style property. I just compare value from `node.style.fontFamily` with value passed from react. It worked well with `fontFamily` but for example, if I'll pass something like that `{ left: 0 }` it won't work as the value from `node.style.left` will be equal to `0px`. Do you guys have any ideas on how to implement thi

[2021-05-17 17:12] mntnoe commented on #20387
@bvaughn Hmm, looking at the source code, there is only one place where `React::DevTools::lastSelection` is set in sessionStorage, and it's always an object:

https://github.com/facebook/react/blob/master/packages/react-devtools-shared/src/backend/agent.js#L749

Maybe it is an issue from Firefox Sync?

I was able to fix the problem locally by removing the item:

    sessionStorage.removeItem('Reac

[2021-05-17 17:38] bvaughn commented on #20387
Yeah, it's not clear how it go corrupted but it seems unfortunate that we don't recover gracefully. So catching and logging a warning (and also clearing the corrupt storage) would be good.

[2021-05-17 17:41] a-c-sreedhar-reddy commented on #21416
same as https://github.com/facebook/react/issues/17953

[2021-05-17 18:21] gtp-m3 commented on #21508
Hey @bvaughn Hope you are good I'm looking for my first open source contribution please help

[2021-05-18 00:43] alpgokcek commented on #11565
bump

[2021-05-18 01:07] emileber commented on #15908
Possibly related to https://github.com/facebook/react/issues/20074 which is, roughly, where `useEffect` are synchronous when triggered during a discrete event and that some component is using `useLayoutEffect`.

[2021-05-18 02:07] haydar9 commented on #11387
This worked for me.

[2021-05-18 02:54] dcsan commented on #13991
I got this error after installing and trying to use material-ui
I do have a nested component

[code]

and the inner item has some code.
I realize this is not quite a JSXy way to do this, but components are just functions right?
Could this be breaking one of the "rules of hooks"?
everything was working fine until I tried to import material-ui and use one of its components inside the inner item.

[2021-05-18 03:51] bvaughn commented on #21442
@pauldewilson Thank you! Here's a build that fixes the problem for me (in unit tests and my local repro).

[ReactDevTools.zip](https://github.com/facebook/react/files/6498247/ReactDevTools.zip)

[2021-05-18 04:03] joshuaobrien commented on #16469
Hey @baopham, are you still working on this? I will have bandwidth soon to pick it up.

[2021-05-18 04:04] bvaughn commented on #16469
@baopham is actively working on this 😄 We chatted just a few days ago about it.

There may be other first issues that interest you?
https://github.com/facebook/react/labels/good%20first%20issue

[2021-05-18 04:12] joshuaobrien commented on #16469
Great to hear! Looking forward to this feature 👍 .

I'll take a look @bvaughn, thankyou!

[2021-05-18 06:18] hardikshah197 commented on #21490
@bawa yes, I reproduced it and analyzing the code as well

[2021-05-18 08:09] leidegre opened #21518 "[DevTools Bug]: console.log throws type error if one of the arguments is symbol"
### Website or app

https://github.com/facebook/react/blob/0e100ed00fb52cfd107db1d1081ef18fe4b9167f/packages/react-devtools-shared/src/backend/utils.js#L199

### Repro steps

This function will throw this error if one of the arguments is type of `symbol`.

The error is swallowed [here](https://github.com/facebook/react/blob/22ab39be681251f1c0f257af7e636cb8debf31c4/packages/react-devtools-shared/sr

[2021-05-18 11:02] jollytoad commented on #10021
I've been experimenting recently with import-maps aided by the JSPM CDN and import-map generator, and am surprised and disappointed to find that react doesn't have a pure ESM build in its package (just cjs and umd). This is not about tree-shaking, bundling, or optimisation ... it's about choice, the choice to progress the state of JS in the browser, the choice to experiment with and embrace these

[2021-05-18 11:30] pauldewilson commented on #21442
Thanks, tried but still getting the error I'm afraid.
<img width="642" alt="error" src="https://user-images.githubusercontent.com/61115269/118643686-cae6b880-b7d4-11eb-949f-ca99ae883c74.png">

[2021-05-18 11:56] FlashJonas commented on #21508
I am getting the same error. Using profiler for 5-10 seconds, start/stop. Click in my app. Then stop and I get this error as well.

Using: expo-cli
Local connection
Emulator: Pixel4
SDK: 41.0.0
react-native-cli: 2.0.1
react-native: 0.63.2
React Native Debugger 0.11.8
DevTools 4.12.4-7becb2ff1b

`Uncaught Error: Cannot read property 'length' of undefined
The error was thrown at ec (/Applications/Re

[2021-05-18 12:18] FlashJonas commented on #21508
I have tried upgrading DevTools to 4.13, but either locally or globally for my RN-project, it still says 4.12 in React Native Debugger. And before the update, I had 4.10 globally but it said 4.12 in the debugger. So please advice on this if you want me to rule out the previous version.

[2021-05-18 12:29] FlashJonas commented on #21508
Used the downloaded .dmg from the release page, version 11.8.
(16 days old as of today.)

[2021-05-18 14:07] bvaughn commented on #21442
Bummer. :( What happens if you dismiss the error dialog?

[2021-05-18 14:13] bvaughn commented on #21442
Thanks for trying it, @pauldewilson. I'm curious, what happens if you dismiss the error dialog?

I guess at this point, I'd really like to get my hands on a repro from you. I could sign an NDA or something if that would be helpful?

[2021-05-18 14:35] bvaughn commented on #21508
@FlashJonas Can you share a repro with me? This issue is still blocked on needing a repro case.

[2021-05-18 14:45] koto commented on #19587
Friendly ping, cc @gaearon. This would probably need rebasing, but the open question is whether we should go with:

* the changes here - These practically unblock using react-DOM with Trusted Types interpolated into attributes without requiring `enableTrustedTypesIntegration` feature flag. I feel the change is also bw-compatible, as reasoned in the PR description, OR
* `enableTrustedTypesIntegrati

[2021-05-18 15:14] bvaughn commented on #21436
@eps1lon, @ZackeryBayle Would either of you be willing to try this build and let me know if it fixes your issue?

[ReactDevTools.zip](https://github.com/facebook/react/files/6502363/ReactDevTools.zip)

[2021-05-18 15:43] bvaughn commented on #21469
Resolved by #21516

[2021-05-18 15:43] #21469 closed

[2021-05-18 15:44] bvaughn commented on #21444
I think #21516 should resolve this issue (once released). If you see another repro though, please keep me posted.

[2021-05-18 15:45] bvaughn commented on #21436
#21516 _might_ fix this problem but without a repro I can't be sure. I'm going to close this issue for now though and we can re-open (with a repro) if that's not the case.

[2021-05-18 15:46] #21518 closed

[2021-05-18 15:47] bvaughn commented on #21442
This issue is now blocked by not having a repro. #21516 should _improve_ the situation but apparently not fix it entirely. That being said, I'm not sure how to proceed until I get a repro from someone, so I'm tagging all of the folks above who have commented that they're seeing this in hopes that one of them can share something with me.

[2021-05-18 16:00] roydukkey commented on #1643
Margins collapse differently that whitespace. I think that is the reason for downvotes.

[2021-05-18 16:46] eps1lon commented on #21436
@bvaughn I can still reproduce my repro (https://github.com/facebook/react/issues/21436#issuecomment-835406075) with
 the devtools version in your zip (4.13.2-723f44a088).

[2021-05-18 16:52] lazcanocode opened #21522 "[DevTools Error] Cannot remove node "771" because no matching node was found in the Store."
### Website or app

https://soshace.com/react-user-login-authentication-using-usecontext-and-usereducer/

### Repro steps

I'm using a context to manage app global state like in [Website](https://soshace.com/react-user-login-authentication-using-usecontext-and-usereducer/) when get that error

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensi

[2021-05-18 16:57] bvaughn commented on #21522
@lazcanocode Can you tell me exactly what you need to do on the website you linked in order to cause the bug to happen?

[2021-05-18 18:04] bvaughn commented on #21436
That's so interesting. I tested a variation of your repro (without the error logged _inside the effect_). My change fixes that repro in the browser, or both cases in a unit test, but...sure enough, I can see the error you're referring to in the Store now too :(

My bad! Let me dig further.

[2021-05-18 18:26] jawwadzafar commented on #2956
Thanks. This actually worked. Thought I'll share here even if it's a close issue.
I was getthing this error:
**React.cloneElement(...): The argument must be a React element, but you passed null.**
When I had this:
[code]
So, I checked for null via this and it worked:
[code]

Now it doesn't give me the error.

[2021-05-18 18:52] bvaughn commented on #21436
I see a difference, but I'm not sure I understand it. Based on logging...

[code]

[2021-05-18 19:17] bvaughn commented on #21436
@eps1lon Can you try this build? 😬

[ReactDevTools.zip](https://github.com/facebook/react/files/6503746/ReactDevTools.zip)

[2021-05-18 19:18] bvaughn commented on #21442
@pauldewilson Can you try this build? 😬

[ReactDevTools.zip](https://github.com/facebook/react/files/6503746/ReactDevTools.zip)

[2021-05-18 19:22] TusharShahi commented on #14882
I have the same issue as @apieceofbart. I do not have any props and am even returning true.
Although it is showing correctly that the component is re rendering, I feel the reason "The parent component rendered." is not correct.

[2021-05-18 20:11] nikglavin commented on #21522
[code]

Here's a stack that I got when encountering the same error, not sure if its helpful though, its been happening for a while with me and its also not happening all the time.

[code]

[2021-05-18 20:22] bvaughn commented on #21522
@nikglavin Call stack isn't really helpful. A repro case is what's needed for this bug.

[2021-05-18 21:19] alex1a commented on #13445
If you are using styled components (from _styled-components_) make sure you export styles.

```const HomeSection = ...``` to ```export const HomeSection = ...```

style.js:
[code]

index.js:
[code]

[2021-05-18 22:14] pauldewilson commented on #21442
Seems to have fixed it! Thank you! And no NDA required after all!

[2021-05-18 22:23] canozgen9 commented on #13991
Just move react to peerDependencies. see [this](https://fathomtech.io/blog/create-a-react-component-library-using-create-react-app/) or [this](https://fathomtech.io/blog/understanding-peer-dependencies-in-npm/)

[code]

[2021-05-19 01:15] bvaughn commented on #21442
Thanks for confirming

[2021-05-19 02:44] #21436 closed

[2021-05-19 02:45] bvaughn commented on #21436
Should be fixed by #21523.

If you'd like to verify, download this build:
[ReactDevTools.zip](https://github.com/facebook/react/files/6505445/ReactDevTools.zip)

And follow these steps to install it:
https://user-images.githubusercontent.com/29597/118749019-b6cda600-b82a-11eb-9449-ef56f41eced5.mp4

[2021-05-19 02:45] bvaughn commented on #21442
Should be fixed by #21523.

If you'd like to verify, download this build:
[ReactDevTools.zip](https://github.com/facebook/react/files/6505445/ReactDevTools.zip)

And follow these steps to install it:
https://user-images.githubusercontent.com/29597/118749019-b6cda600-b82a-11eb-9449-ef56f41eced5.mp4

[2021-05-19 02:45] #21442 closed

[2021-05-19 02:46] bvaughn commented on #21522
I think this issue might be fixed by #21523.

If you'd like to verify, download this build:
[ReactDevTools.zip](https://github.com/facebook/react/files/6505445/ReactDevTools.zip)

And follow these steps to install it:
https://user-images.githubusercontent.com/29597/118749019-b6cda600-b82a-11eb-9449-ef56f41eced5.mp4

Going to close for now.

[2021-05-19 02:46] #21522 closed

[2021-05-19 03:45] singharpit94 opened #21525 "Experimental createRoot method not available in React 17"
I am using react and react-dom v17.0.2 and I was trying to use the unstable_createRoot method to render my app but looks like that method is not even present in react v17.0.2.

Can someone comment if this is expected or not.

Thanks,
Arpit

[2021-05-19 03:49] samcooke98 commented on #21285
Sorry for the ping, @bvaughn, what do you think of removing the interactions tab from the react-devtools? I'd be willing to submit a PR if you're open for it.

I was just about to start using `unstable_trace` to help diagnose some issues, and nearly started using it before realising it was removed

[2021-05-19 03:58] lazcanocode commented on #21522
Thank you, the new version fix my problem!!!

[2021-05-19 04:03] bvaughn commented on #21522
That's great! Thanks

[2021-05-19 04:03] bvaughn commented on #21285
@samcooke98 That tab was already removed (as part of #20037).

[2021-05-19 04:07] samcooke98 commented on #21285
Oh my bad, it seems I was running an old development version 🤦 - sorry!

[2021-05-19 04:08] bvaughn commented on #21285
Haha no problem! :D

[2021-05-19 04:27] bvaughn commented on #21525
This is expected. That API has not been released yet.

If you want to try it, you can install `react-dom@experimental` but note that the experimental release channel is not meant to be used in production apps.

[2021-05-19 04:27] #21525 closed

[2021-05-19 04:51] singharpit94 commented on #21525
Any timelines on when these experimental API will be available as part of stable builds.

[2021-05-19 07:21] daisy11100 commented on #18866
I use the `ReactDOM.unstable_createRoot` have the same error

[2021-05-19 08:32] eps1lon commented on #21436
Still the same issue with DevTools version 4.13.3-0f72f7361f, Chrome Version 90.0.4430.212 (Official Build) (64-bit) on Windows 10 and react-dom 17.0.2.

Let me check if this also reproduces on Linux.

[2021-05-19 10:07] jacty commented on #21525
It seems createRoot() is available now without the unstable prefix?

[2021-05-19 10:22] singharpit94 commented on #21525
I don't think so, ReactDOM does not have any method named createRoot

[2021-05-19 10:22] FlashJonas commented on #21508
Hi, the app is nothing more than a standard Expo-cli init with two buttons. Nothing to check-in really.

[2021-05-19 10:27] AhmedSarhan opened #21526 "Bug: Where did the components tree go in the new version?"
### Website or app

https://localhost:3000

### Repro steps

in this image below I can't seem to find the old components tree, it used to be in this empty upper half, now all I can see it rendered by, so was it removed or is there something wrong with my extension ?
![image](https://user-images.githubusercontent.com/20737908/118797969-693e5100-b89d-11eb-8bea-95ef73052e36.png)

### How often does t

[2021-05-19 13:03] LXSMNSYC commented on #21500
I believe `getDerivedStateFromError` is a better workaround, specially since it works in SSR. However, there's a lack of component stack info.

[2021-05-19 13:51] gaearon commented on #21525
This year seems very likely. You can track progress in https://github.com/facebook/react/issues/13206.

Yes, but only in the `@experimental` releases.

[2021-05-19 14:12] khairmuhammadLU opened #21527 "[DevTools Error] Cannot remove node "527" because no matching node was found in the Store."
### Website or app

localhost

### Repro steps

The error was thrown at chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:21477:43
    at bridge_Bridge.emit (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:19585:22)
    at chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:19745:12
    at listener (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi

[2021-05-19 14:24] bvaughn commented on #18866
@AbrarShahriar @daisy11100 This is expected. The `createRoot` API has not been released yet.

If you want to try it, you can install `react-dom@experimental` but note that the experimental release channel is not meant to be used in production apps.

[2021-05-19 14:25] bvaughn commented on #21436
@eps1lon Wait, you still see this with the repro above? Are you sure you're running the latest unpacked extension? I'm able to repro it 100% of the time without the fix and 0% with the fix.

Maybe we could VC and look at it together if you're still reproing?

[2021-05-19 14:36] bvaughn commented on #21527
Hi @khairmuhammadLU.

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots

[2021-05-19 14:37] bvaughn commented on #21527
Also, it is possible that this issue was already fixed by #21523.

If you'd like to verify, download this build:
[ReactDevTools.zip](https://github.com/facebook/react/files/6505445/ReactDevTools.zip)

And follow these steps to install it:
https://user-images.githubusercontent.com/29597/118749019-b6cda600-b82a-11eb-9449-ef56f41eced5.mp4

[2021-05-19 14:38] bvaughn commented on #21526
Hi @AhmedSarhan!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or

[2021-05-19 14:56] AhmedSarhan commented on #21526
Hello Brian, Thank you for your response

I would like to clarify this is not a one time thing, I have been running to this issue since the latest update of the React Dev tools
as I can't find the components tree of the current page which wasn't the case before
and it's happening with different React projects, projects that I have used the Dev tools on without running to any issues, small to mediu

[2021-05-19 15:05] bvaughn commented on #21526
Gotcha. Have you tried removing and re-installing the extension? (I'd try that first.)

What is this? Is this a bleeding edge version of Chrome?

Chrome stable is, I believe, 90.0.4430.212. Stable is the only version that the extension supports.

Chrome Canary (for example) or other pre-release/preview releases often cause bugs in extensions due to changes in the browser itself.

[2021-05-19 15:08] bvaughn commented on #21527
I just released version 4.13.3 (to NPM and Chrome/Firefox/Edge). Please give your browser a couple of hours to update to this version, and then try again. I believe it should fix this issue.

If not, please re-open this issue **with steps on how I can reproduce the problem you're seeing** and I would be happy to take a look! :smile:

[2021-05-19 15:08] #21527 closed

[2021-05-19 15:10] bvaughn commented on #21500
`componentDidCatch` is a method called during React's _commit phase_. There's no commit phase on the server. (The commit phase is when it's safe to e.g. read layout or adjust DOM elements.) Since there's no actual DOM to read from with `renderToStaticMarkup`, calling commit phase methods would likely lead to lots of errors.

`getDerivedStateFromError` is called during React's _render phase_ so it

[2021-05-19 15:15] skorotkiewicz commented on #21508
@FlashJonas I use without Expo and also have the same problem.

I haven't updated to the latest version yet, so I don't know if this problem occurs on the new version.

[2021-05-19 15:17] bvaughn commented on #21508
@skorotkiewicz This sounds like an important first step.

DevTools is now on 4.13.3 but it looks like you're running 4.12.4. Updating to rule out a bug that's already be fixed would be nice.

[2021-05-19 15:18] bvaughn commented on #21508
@FlashJonas Sounds like it should be easy to share the code and repro steps then? Would be helpful to us.

[2021-05-19 15:19] skorotkiewicz commented on #21508
@bvaughn Okay, I will build a new version of React Native Debugger with a new version of DevTools right away.
I will let you know if the problem still occurs.

[2021-05-19 15:20] bvaughn commented on #21508
Thanks @skorotkiewicz!

[2021-05-19 15:50] bvaughn opened #21528 "[DevTools Bug]: Fast Refresh + DevTools breaks component inspection"
### Website or app

https://github.com/eps1lon/react-devtools-repro-no-matching-node/

### Repro steps

1. `yarn start`
2. Open `App.js`
3. Uncomment the `useEffect` block
4. Click to inspect "Component" in DevTools
5. Error: "_Could not inspect element with id 5_"

Originally reported in https://github.com/facebook/react/issues/21436#issuecomment-835406075

---

https://user-images.githubusercont

[2021-05-19 16:09] marzouk2002 opened #21529 "[DevTools Error] Cannot remove node "145" because no matching node was found in the Store."
### Website or app

https://github.com/marzouk2002/GetItDone/blob/master/client/src/components/Login.js

### Repro steps

After login with email and password, and the validation from the server. This happen when I tried to redirect to the home page

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.2

[2021-05-19 16:34] bvaughn commented on #21529
This issue has been fixed in version 4.13.3 which is currently in-review in Chrome, Firefox, and Edge stores :)

Sorry for the trouble! Give it a few for the update to roll out, then this should be fixed.

[2021-05-19 16:34] #21529 closed

[2021-05-19 16:37] jacty opened #21530 "Optimization: Remove else branch will never be reachable."
https://github.com/facebook/react/blob/3f8f4675d499ebf8f20cf02ee34aa16045a648b6/packages/react-reconciler/src/ReactFiberHooks.new.js#L614

I assume this part will never be reached during hook mount phase, workInProgressHook will be reset to null in RenderWithHooks() and get and updated in updateWorkInProgressHook(). Even if the Fiber has been deleted and rebuilt again, the workInProgressHook shoul

[2021-05-19 16:49] marzouk2002 commented on #21529
Ohh I see, thanks.

[2021-05-19 16:58] bvaughn commented on #21530
`mountWorkInProgressHook` can be called multiple times for a given component. When it's called, it either initializes the hooks queue (stored in `memoizedState`) or adds another hook to the linked list (aka `previousHook.next = nextHook`)

[2021-05-19 16:58] #21530 closed

[2021-05-19 18:05] #21526 closed

[2021-05-19 19:43] rohankeskar19 opened #21533 "Bug: onClick handler not called on mobile Safari / iPhone"
React version: 17.0.2

## Steps To Reproduce

1. Add onClick event to any element
2. Test that onClick is working on mobile device

Link to code example:

## The current behavior
onClick event is not firing on mobile devices, I already tried the cursor: pointer fix, But it is still not working

## The expected behavior
onClick event should get fired on all devices

[2021-05-19 19:49] bvaughn commented on #21533
@rohankeskar19 Please share a Code Sandbox (or a GitHub project) that shows the broken behavior _and_ please specify which types of devices you've tested and seen this behavior on.

For example, I just tried this sandbox on my Pixel (Android) and it worked fine:
https://codesandbox.io/s/nice-margulis-zlmxh?file=/src/App.js

[2021-05-19 20:21] rohankeskar19 commented on #21533
https://codesandbox.io/s/ancient-wood-76y53, This is the code sandbox, and the device I'm trying is iphone, It is also not working in the dev tools of chrome

[2021-05-19 20:31] AsheshL opened #21534 "[DevTools Error] Cannot remove node "2315" because no matching node was found in the Store."
### Website or app

Website

### Repro steps

Not sure

### How often does this bug happen?

Often

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.2-e468072e17

### Error message (automated)

Cannot remove node "2315" because no matching node was found in the Store.

### Error call stack (automated)

_No response_

### Error component stack (aut

[2021-05-19 21:19] bvaughn commented on #21534
Hi!

I'm sorry you ran into this problem.

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can also be helpful if they help provide context on how to repro the

[2021-05-19 21:25] jlaflash95 commented on #21534
I've had this same issue, it happens when the DOM removes previously rendered components that are conditionally rendered using ternary operators and Context API state.

It's not bothersome enough for me to include all the code etc, but it does make it a littler harder to debug since I have to use console.log instead of viewing the current state of a component.

[2021-05-20 00:15] cpojer commented on #21328
I'm running into the exact same issue, also with optional chaining in a large component.

[2021-05-20 00:59] vincentlaucsb commented on #13991
@canozgen9  This solution is insufficient for Webpack builds. Both Rob Kendal (article linked) and I have failed to resolve the issue simply by moving React to peerDependencies.

[2021-05-20 01:07] Sawtaytoes commented on #13991
@vincentlaucsb

How are you modifying the Webpack config for a Create-React-App project? I wasn't getting hooks errors when building with a custom Webpack production JS file. I was only getting the errors when running create-react-app using react-scripts.

[2021-05-20 01:08] skorotkiewicz commented on #21508
@bvaughn @FlashJonas I regret to say that on 4.13.3 this bug does not occur.

![Screenshot 2021-05-20 at 03 04 32](https://user-images.githubusercontent.com/899351/118903630-78aeb000-b918-11eb-9ec0-01ab0ca3ffcf.png)

@FlashJonas Update to the latest version (4.13.3) and it will work nicely.

[2021-05-20 01:09] #21508 closed

[2021-05-20 01:54] skorotkiewicz commented on #21508
@bvaughn PS. Thank you for a great web development tool!

[2021-05-20 01:58] bvaughn commented on #21508
That's great. Thanks for the update!

[2021-05-20 02:15] bvaughn commented on #21528
@eps1lon Here's another Chrome extension build with the fix from #21536:
[ReactDevTools.zip](https://github.com/facebook/react/files/6512398/ReactDevTools.zip)

[2021-05-20 02:18] bvaughn commented on #21534
@AsheshL Without a repro, there's nothing I can do with this issue.

Here's an updated build of DevTools though that _might_ fix the problem you're seeing, if you'd like to test it out:
[ReactDevTools.zip](https://github.com/facebook/react/files/6512405/ReactDevTools.zip)

You can follow these steps to install it:
https://user-images.githubusercontent.com/29597/118749019-b6cda600-b82a-11eb-9449-ef

[2021-05-20 02:18] bvaughn commented on #21468
Closing this issue since there's still no repro.

[2021-05-20 02:18] #21468 closed

[2021-05-20 02:18] bvaughn commented on #20830
Closing this issue since there's still no repro.

[2021-05-20 02:18] #20830 closed

[2021-05-20 02:18] bvaughn commented on #21410
Closing this issue since there's still no repro.

[2021-05-20 02:18] #21410 closed

[2021-05-20 02:25] daisy11100 commented on #18866
But I have installed  `react-dom@experimental` ，still have the error

[2021-05-20 02:28] bvaughn commented on #18866
I'm looking at the latest release of `react-dom@experimental`:
https://unpkg.com/react-dom@experimental/cjs/react-dom.development.js

It exports `createRoot`.

[2021-05-20 02:37] daisy11100 commented on #18866
thank you very much ,i have not try  to use `createRoot` because someone said use it have error on stackoverflow yesterday

[2021-05-20 08:46] davidBar-On commented on #20819
The difference between the first and second examples is that in the first example `TestReactComponent` holds a reference to `example`.  As @tsairinius explained, this prevents removing `example` when it is set to null. In the second example, there is no such reference to `example ` and `example 2`, so when they are set to null they can be removed.

[2021-05-20 11:29] eps1lon commented on #21528
Everything fixed. Awesome :+1:

[2021-05-20 12:25] frawa commented on #13212
The same sample, https://codepen.io/nhunzaker/pen/qybxmz,
misbehaves with Firefox 88.0.1.
It is impossible to change the selected option.

Things work as expected using Chrome.

[2021-05-20 12:46] raveclassic commented on #15069
The errors are also unconditionally logged during tests where I expect components to throw and catch the errors myself with error boundaries. This is frustrating and pollutes test output.

[2021-05-20 13:20] vain0x commented on #21459
I investigated again and the cause seemed Firefox's Form Autofill feature (not an extension). A workaround is putting `autoComplete=off` on the input element. (Or just changing to an uncontrolled input element.)

I have no idea whether React can/should support this situation. If not, feel free to close this issue.

[2021-05-20 15:24] #21528 closed

[2021-05-20 16:41] theschubinator opened #21538 "[DevTools Bug]: React.memo causing DevTools to fail to render the entire DOM tree."
### Website or app

Companies Website

### Repro steps

1. The DevTools failed to render the entire tree; therefore, I could not find any elements to debug within the DevTools.
2. We targeted it down to the use of React.memo to wrapped one of our components.
3. When removing the React.memo logic everything worked as expected.

### How often does this bug happen?

Every time

### DevTools package (

[2021-05-20 17:12] ravithejappl commented on #15873
This is very basic for any library, you can add this, why are feeling shame getting good suggestions from community!

[2021-05-20 17:44] CodingWalaOfficial commented on #12511
Ohhhhhhhh Thank You Soo much it Saved me May God Make a Microsoft CEO my wish

[2021-05-20 18:49] bvaughn commented on #21538
This isn't a repro case that we can access. Please share code (or a public website) that we can run to reproduce this problem.

[2021-05-20 19:35] bvaughn commented on #21538
For example, this Code Sandbox uses `React.memo` and the app renders fine in DevTools:
https://codesandbox.io/s/serene-goodall-7u5k3?file=/src/App.js

[code]

[2021-05-20 20:42] bvaughn commented on #21538
Going to close this issue for now since there's no repro and it seems to work as expected from my own testing. Will happily re-open it and investigate if a repro is provided.

[2021-05-20 20:42] #21538 closed

[2021-05-20 20:51] bvaughn opened #21541 "Create GitHub actions to auto verify DevTools issues have repro steps"
Many of the issues created with the with the [`devtools_bug_report.yml`](https://github.com/facebook/react/blob/master/.github/ISSUE_TEMPLATE/devtools_bug_report.yml) template are missing repro information (e.g. a "localhost" or otherwise invalid URL, missing or no repro description). I usually have to review, label, comment, and close this by hand.

It would be nice if we had an automated action

[2021-05-20 21:09] bvaughn commented on #21541
Related action: https://github.com/react-navigation/react-navigation/blob/main/.github/workflows/check-repro.yml

[2021-05-20 21:10] bvaughn commented on #21528
FYI @eps1lon just published as 4.13.4

[2021-05-20 21:54] bvaughn commented on #21541
Going to play with this idea here:
https://github.com/bvaughn/test-github-issue-template

[2021-05-21 00:57] mindreframer opened #21543 "Bug: HTML snippet with spans is rendered vastly different in React than in plain HTML"
A list of span elements in combination with Tailwind.css styles (any version, CDN / NPM / etc) is rendered very differently in plain HTML vs. React.js code.

## Links to code examples:

- https://github.com/mindreframer/select-text-react-bug
- https://codesandbox.io/s/trusting-tdd-f0qbi?file=/public/index.html

## The current behavior
There are no spaces, the word-wrapping is broken and selecting

[2021-05-21 02:06] josemorista opened #21544 "Bug: e+-. as first character of numeric input results in uncontrolled state."
Scenario: Creating a input with type numeric; assigning a value using a react state with an initial empty string value; assigning onChange event to modify the state;
Typing the following characters 'e+-.,' first, results in an uncontrolled state scenario where the onChange function is never called.

[code]

Sample form input to reproduce the bug:

"e1111111111111111111111"

Obs: My workaround was

[2021-05-21 02:11] JoelBrenstrum commented on #21534
@bvaughn That unpacked extension worked for me! Thansk

[2021-05-21 03:30] maomy1992 commented on #14361
mark

[2021-05-21 06:48] eps1lon commented on #21543
Thanks for the report.

This is intentional behavior of JSX. Though in your particular case undesired. https://github.com/facebook/react/issues/1643 and https://github.com/facebook/react/issues/4134 should give you an overview on why this is intended by React.

Ultimately, you can reproduce the HTML behavior with

[code]

[2021-05-21 06:48] #21543 closed

[2021-05-21 07:49] vdgodse commented on #14099
I ran into a different problem but the workaround should help in your case as well.
Let's assume **navigateToNextPage** depends on state **currentPage** in the closure. You could modify navigateToNextPage to read currentPage from an argument rather than the state in the closure.

The drawback is navigateToNextPage is now inside an callback which is called **asynchronously**

[2021-05-21 08:28] ashiktm opened #21545 "[DevTools Bug] Cannot read property 'isCollapsed' of undefined"
### Website or app

CHROME

### Repro steps

1. Open React Devtool
2. Select the Component tab
3. Got below error

### How often does this bug happen?

Only once

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.3-d6604ac031

### Error message (automated)

Cannot read property 'isCollapsed' of undefined

### Error call stack (automated)

[code]

#

[2021-05-21 09:43] domotisas commented on #15865
Hi, a solution is to simule class constructor like this: https://dev.to/bytebodger/constructors-in-functional-components-with-hooks-280m

[2021-05-21 10:33] janesssa commented on #13991
I'm still stuck with this problem

### What am I trying to do?
I'm running a next app in docker and try to use custom hooks to fetch data from an API

### What have I tried?
I want to say everything, but that's not clear enough so here's a short list:
- Deleted node_modules and .next
- Changed webpack config in multiple ways ([WithTM](https://www.npmjs.com/package/next-transpile-modules#i-have-tro

[2021-05-21 11:28] muhfs94 commented on #21445
![image](https://user-images.githubusercontent.com/42837306/119129892-b834e380-ba61-11eb-9f94-4b42ae0bc76d.png)

suddenly having this issue right now. I thought it was because of my commits, but changing to another old branch just give the same errors.

it was working just fine yesterday, don't know why. maybe due to the devtools update or something?

btw I'm on react 16.8.6, react devtools 4.13.3

[2021-05-21 12:33] mindreframer commented on #21543
@eps1lon Interesting... Thanks for the quick response and the provided workaround!

[2021-05-21 14:19] bvaughn commented on #21534
Thanks!

I'm going to go ahead and close this since we still don't have any repro info. Hopefully the updated extension fixes the problem, but if not- we can re-open the issue later.

[2021-05-21 14:19] #21534 closed

[2021-05-21 14:20] bvaughn commented on #21445
@muhfs94 Try updating to the latest release (4.13.4) just to rule anything out. But if you're still seeing the issue, then we still need a repro case.

[2021-05-21 14:37] bvaughn commented on #21545
Hi @ashiktm 👋🏼

Sorry to hear that you ran into this bug. Unfortunately it doesn't look like you shared any way for us to reproduce it, so it's not something we can help fix. Please update the issue description with instructions (and either code or an app that we can run) telling us how to reproduce the problem.

We generally recommend providing a link to a CodeSandbox (https://codesandbox.io/s/ne

[2021-05-21 17:45] muhfs94 commented on #21445
at first the bug still persists. with same error log. then I retried close the devtools and opened it again (I think I actually have done this as well before) then somehow it works now.

the error log still shows up but at least now all components are showing on the devtools, and that's all I need.

in addition, I found this
![image](https://user-images.githubusercontent.com/42837306/119177584-b63

[2021-05-21 17:53] Karolis92 commented on #19778
I use to have this issue and now I have opposite... Memoized compoents are not market even tho they are re-rendered, because props changed.

[2021-05-21 17:53] NullPainter2 commented on #21501
@eps1lon

I have React 16.x (but 17.x has same error as 16.x).

I have different problem than OP from duplicate  #20895 .

My problem is not with **first** element inside of react root which NVDA reports as "clickable" (which OP has), but with element which is deep down into the React tree. Also when I do not specify `onClick()`, then NVDA does not read element as "clickable". NVDA reads element a

[2021-05-21 17:54] bvaughn commented on #21445
@muhfs94 I appreciate the extra information, but this isn't a description that I can use to reproduce (and fix) the bug. I need an actual website (or code) that I can run along with instructions (like "do this, then this") so I can see the bug.

[2021-05-21 19:48] #21541 closed

[2021-05-21 19:54] HillLiu commented on #21445
@bvaughn
There are some simple code could help reproduce.

You could try following code sandbox link.
https://jkk1y.csb.app/

The reproduce steps are:
1. "Do not" open develop panel.
2. Go to https://jkk1y.csb.app/
3. Open develop panel and go to react dev tab.
4.  Errors was shown.

I guess it's kind of race condition.
When I change the component order such as
[code]
It will work perfect.

[code]

[2021-05-21 20:02] bvaughn commented on #21445
Excellent! Thank you, @HillLiu

[2021-05-21 20:24] HillLiu commented on #21445
I think it is because only have two components, I have two sites, one it will always happen, another will random happen.

[2021-05-21 20:42] bvaughn commented on #21445
This is interesting. The reason DevTools throws is that the `Progress` Fiber's _owner_ (the `_debugOwner` attribute) points to a `Body` Fiber that hasn't been mounted yet. That seems unexpected.

This repro is just a wrapper around two NPM packages. Where's the source code for these packages? :D

[2021-05-21 20:49] HillLiu commented on #21445
PopupPool:
https://github.com/react-atomic/react-atomic-organism/blob/master/packages/organism-react-popup/ui/organisms/PopupPool.jsx

PageLoadProgressHandler:
https://github.com/react-atomic/react-atomic-organism/blob/master/packages/organism-react-progress/ui/organisms/PageLoadProgressHandler.jsx

[2021-05-21 20:50] bvaughn commented on #21445
Yeah that's fair. That loads `reshow-return` which loads `reshow-flux` etc though 😆 it's a lot to step through.

[2021-05-22 03:14] nemoDreamer commented on #5867
Tangential to this thread, if anyone is interested, I wrote a lil' context/hook that returns an RNG seeded by the value you pass into its provider, and it's served me well in keeping random values between server and client:

[code]

In your parent component:
[code]

Then, in your nested components:
[code]

Hope it's useful to someone! 😄

[2021-05-22 05:31] csr632 commented on #17953
I have created a simpler codesandbox to reproduce this bug:
https://codesandbox.io/s/reducer-trigger-unnecessary-lhqnc?file=/src/index.js

[2021-05-22 13:44] sbland opened #21547 "[DevTools Bug] Cannot add node "1" because a node with that id is already in the Store."
### Website or app

-

### Repro steps

1. Using React storybook
2. Right clicked element in website.
2. Clicked inspect.
3. Went to React dev tools Components tab
4. Tab is blank then error appears

### How often does this bug happen?

Often

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.4-51ebccc374

### Error message (automated)

Cannot add

[2021-05-22 13:44] #21547 closed

[2021-05-23 07:34] JustalK opened #21549 "Bug: Yarn test not working after fresh installation"
Hello,

Following [your documentation](https://reactjs.org/docs/how-to-contribute.html#sending-a-pull-request)

I made a fresh install and the test are failing even before doing any modification to the repository

React version:

The one on master branch
commit: https://github.com/facebook/react/commit/a731a51696239a69a6cd89cdd34f23ce2fc39099
Ubuntu LTS
Node v14.16.1

## Steps To Reproduce

1. git

[2021-05-23 10:50] uddeh007 opened #21550 "fix"

[2021-05-24 00:00] KZ-Lucas commented on #21550
use `useState`

setState is use only class component

[2021-05-24 02:17] EduardoAraujoB commented on #21381
@arietrouw this is a by design behavior, and you really shouldn't do this, `useEffect` functions are expected do be syncronous by React, if you need to handle async code on a `useEffect` use an async function inside it, but do not turn your `useEffect` function async

[2021-05-24 09:29] eps1lon commented on #21550
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-05-24 12:30] actualchao opened #21554 "Bug: Events bug"
Why the disabled button cannot trigger the mouse leave, mouseEnter, and mouseMove events of the parent container div
React version:
17.0.2

## Steps To Reproduce

The reproduction steps are very simple, the code is in codesanbox

Link to code example:
https://codesandbox.io/s/focused-firefly-cd9nf?file=/src/App.tsx

## The current behavior
disabled button cannot trigger the mouse leave, mouseEnter

[2021-05-24 12:38] #21550 closed

[2021-05-24 15:00] bvaughn commented on #21445
Interestingly, if I copy the `PopupPool`, `popupStore`, and `popupDispatcher` source files into the sandbox (and only change the import statement in `App`) the bug goes away. That's surprising.

[2021-05-24 15:05] bvaughn commented on #21445
I wonder if I'm running a slightly different version? The debug log shows a slightly different tree structure.

[2021-05-24 19:03] HillLiu commented on #21445
@bvaughn I change two main components to hook style then get better performance, it reduce the error happen, but I still could get error.  Some error is happen after component render done and open the panel same behavior with pervious.

PageLoadProgressHandler.jsx
https://github.com/react-atomic/react-atomic-organism/commit/49b1c6eea8a2908c3480ebfacfa7a1a8ed1ec8da#diff-d039b6298f0db5bc41a63cde66ce

[2021-05-24 22:05] ewotring commented on #21529
This appears to be persisting. I'm up to version 4.13.4.

[2021-05-25 01:52] bvaughn commented on #21445
Would be nice to get a smaller reproduction of this issue (all of the code in one project, rather than spread across many NPM packages). That's what I was trying to do with moving the source but then the bug went away.

I noticed one potential difference being the `"reshow-runtime/helpers/interopRequireDefault"` indirection but I'm not sure how likely that is to be related.

[2021-05-25 01:53] bvaughn commented on #21529
@ewotring Comments on closed issues are generally ignored. If you're seeing this bug on 4.13.4, please [open an issue](https://github.com/facebook/react/issues/new?assignees=&labels=Component%3A+Developer+Tools%2CType%3A+Bug%2CStatus%3A+Unconfirmed&template=devtools_bug_report.yml&title=%5BDevTools+Bug%5D%3A+) that includes source code and steps for how to trigger the bug and I'll be happy to look

[2021-05-25 07:40] mythz commented on #16592
This change is unnecessarily user hostile.

What's the rationale for not whitelisting `href="javascript:"` or `href="javascript:void(0)"` so everyone can have a minimally disruptive uncompromising solution?

[2021-05-25 09:27] yume-chan commented on #21526
I think it's this issue: https://bugs.chromium.org/p/chromium/issues/detail?id=958475

[2021-05-25 11:18] gondolio commented on #5143
I think this is incorrect as per the [docs](https://reactjs.org/docs/typechecking-with-proptypes.html) node is something else:
[code]

It looks like the correct PropType for react components is `PropTypes.element`:
[code]

[2021-05-25 12:31] wwog opened #21557 "Optimize data transfer between components by exposing state"
The advantage of this is the idea of modularity.While declaring a component, you can optionally expose component data methods, which can be obtained and set externally only by introducing this method.You can also call the returned hook method to render the view of that data as if it were state.

I implemented a prototype of this functionality using hook and hoc.I suggest attaching an object to man

[2021-05-25 12:31] anchi20 commented on #15344
May the force be with` this ticket`.

[2021-05-25 14:29] AndrewLeedham commented on #21500
My example uses `getDerivedStateFromError` but the `renderToStaticMarkup` call still fails? Is the suggestion that the feature request should be for `getDerivedStateFromError` to work in `renderToStaticMarkup`, or are you saying it should currently be working?

[2021-05-25 14:37] bvaughn commented on #21500
No. I don't believe `renderToStaticMarkup` supports error boundaries (including `getDerivedStateFromError`) but that method would be the more appropriate API to use since there's no commit phase when rendering static markup.

[2021-05-25 15:10] bvaughn opened #21558 "Remove _debugID field from Fiber"
This DEV-only field was added in 836331ba5f69f2cc53b273ec073fae116db14302 by @sebmarkbage but it's not being used anymore to my knowledge.

[2021-05-25 15:17] SimonChaumet opened #21559 "Bug: Firefox and react-dom causing null access property"
React version: 17.0.2

## Steps To Reproduce

1. create a component with a state
2. add elements added conditionally from state
3. add a (complex ?) component like input, textarea, select, iframe etc inside the elements added conditionnaly
4. open firefox and drag a file above the zone fast enough and then come back to the complex element (it might be really hard to trigger so I suggest to drag ar

[2021-05-25 16:17] myckhel opened #21560 "[Feature Request]: Add array of updated deps indices to `useEffect` hooks arg"
I would like to request adding the indices of updated dependencies of `useEffect`, `useLayoutEffect` as arg of the callback.

## For example:

if `dep1` and `dep3` changes, then indices of the dependencies that triggers the update should be passed to the callback as argument.

[code]

I think this feature will be useful for most of us all.

[2021-05-25 16:21] Fox4148 opened #21561 "[Feature Request] Conditional functions within jsx"
Being able to conditionally render functions inside jsx like so;

[code]

**Edited** for formatting by @bvaughn

[2021-05-25 16:39] LXSMNSYC commented on #21561
Why not

[code]

[2021-05-25 16:41] LXSMNSYC commented on #21560
any example scenarios of why this would be useful?

[2021-05-25 17:12] eps1lon commented on #21559
Thanks for the report.

I was able to reproduce this twice with Firefox 88.0.1 but it's very unreliable to repro.

[2021-05-25 17:14] myckhel commented on #21560
### This is just one example use case
*Allow component modify prop internally*
### Good

[code]
### Can improve
[code]

### Bad
[code]

My actual use case would be too complicated to show here.

[2021-05-25 17:17] wwog commented on #21557
Machine turn English。It may not be very clear

[2021-05-25 18:48] bvaughn commented on #19927
Thanks for the repro case, @HarshitJoshi9152 😄

I just tested this with 4.13 (on NPM and in Chrome/Firefox/Edge) and I can no longer reproduce the bug with your test case, so I'm going to close this issue.

If you still see the issue, please open a new bug (with updated repro steps). Please make sure you're running the latest version of React DevTools before opening this bug. :)

[2021-05-25 18:48] #19927 closed

[2021-05-25 18:49] #21445 closed

[2021-05-25 18:49] bvaughn commented on #21545
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-05-25 18:49] #21545 closed

[2021-05-25 18:49] bvaughn commented on #21408
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-05-25 18:49] #21408 closed

[2021-05-25 18:50] bvaughn commented on #21393
Since the original question was answered and no additional info was provided, I'm going to close this issue.

[2021-05-25 18:50] #21393 closed

[2021-05-25 18:53] ewotring opened #21563 "[DevTools Bug] Cannot remove node "96" because no matching node was found in the Store."
### Website or app

Not sure I can share work code here

### Repro steps

This seems to happen when hiding a "Loading" component after a successful API request.

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.4-51ebccc374

### Error message (automated)

Cannot remove node "96" because no matching

[2021-05-25 18:55] bvaughn commented on #21563
@ewotring: We're sorry you've seen this error. ❤️

It looks like you forgot to specify a valid URL. (This means that we will not be able to reproduce the problem you're reporting.)

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can also be helpful if they help

[2021-05-25 18:55] #21563 closed

[2021-05-25 19:21] Pulkit3234 commented on #21558
@bvaughn sir, can I work upon this issue?

[2021-05-25 19:22] bvaughn commented on #21445
Bugfix released as [version 4.13.5](https://github.com/facebook/react/blob/master/packages/react-devtools/CHANGELOG.md#4135-may-25-2021)

[2021-05-25 19:25] CutieCat6778 opened #21564 "Bug: React is not importing ".css" file"
I was trying to import a `.css` file in a `.jsx` file

`index.jsx`
![image](https://user-images.githubusercontent.com/51492960/119556424-44ffda00-bd9f-11eb-9eff-5630a3a762bf.png)

`index.module.css`
![image](https://user-images.githubusercontent.com/51492960/119556513-6b257a00-bd9f-11eb-8c40-67d20c90f8ed.png)

`chrome dev tools`
![image](https://user-images.githubusercontent.com/51492960/119556558

[2021-05-25 19:27] bvaughn commented on #21558
This issue is all yours @Pulkit3234  😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2021-05-25 19:29] bvaughn commented on #21564
React doesn't have anything to do with `import` statements or building bundles and generating JS from CSS. This is the job of Webpack and its bundles. You might want to try asking this question on Stack Overflow though!

[2021-05-25 19:29] #21564 closed

[2021-05-25 19:29] Pulkit3234 commented on #21558
Thanks sir, hope this time I make a successful PR, haha!

[2021-05-25 19:31] bvaughn commented on #21561
You can also do:
[code]

I don't think the change proposed seems like it adds enough value to justify an update to JSX syntax, but if you'd like to champion one– I suggest going through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

The RFC process is a great opportunity to get more eyeballs on your proposal before it becomes a part of a released version of React. Quite often, even p

[2021-05-25 19:31] #21561 closed

[2021-05-25 19:31] bvaughn commented on #21560
This looks like a substantial change being proposed. :smile: Changes like this should go through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

The RFC process is a great opportunity to get more eyeballs on your proposal before it becomes a part of a released version of React. Quite often, even proposals that seem "obvious" can be significantly improved once a wider group of interest

[2021-05-25 19:31] #21560 closed

[2021-05-26 00:40] jacty commented on #21558
I am currently using _debugID to tell which Fiber node get issues. It is quite useful for me to find the dirty Fiber when there are many similar Fibers going through reconciler phase. As you said they are not used anymore, if we have any other better solutions to target a dirty Fiber ?

[2021-05-26 06:02] Pulkit3234 commented on #21558
@bvaughn sir, I am not able to find the fiber file in the scripts folder, so can you kindly guide me on how do I proceed with working upon this issue?

[2021-05-26 08:06] SimonChaumet commented on #21559
I think that the crash happens when an update is triggered just after another one while the DOM was updating because in Firefox when you spin your cursor around there is some lag which does not appear with chromium.

[2021-05-26 08:39] GGWebProject opened #21568 "[DevTools Bug] Cannot remove node "47636" because no matching node was found in the Store."
### Website or app

development server localhost:3000

### Repro steps

1) Open `Components tab`
2) Update node tree

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Cannot remove node "47636" because no matching node was found in the Store.

### Error c

[2021-05-26 09:23] PawelGIX commented on #21568
I have similar problems with react-konva, some time ago everything was fine. The bugs appear in their codesandbox demos

https://github.com/konvajs/react-konva/issues/586

https://ox106pyo65.csb.app/
https://codesandbox.io/s/github/konvajs/site/tree/master/react-demos/images?from-embed

[2021-05-26 09:59] Alef5750 commented on #17997
Hi - I'm new to open source. Is this issue already being dealt with or can I take a shot at it?

[2021-05-26 12:59] 18613109040 opened #21569 "Bug: hooks"
[code]

After changing the value, the `<RenderText/>` writing method will execute the destruction function, and `RenderText()` will not.

**Edited** by @bvaughn to fix formatting/syntax.

[2021-05-26 13:26] daniloab commented on #21569
please, provide a better code and information about your possible bug

[2021-05-26 14:07] bvaughn commented on #21568
@GGWebProject: We're sorry you've seen this error. ❤️

It looks like you forgot to specify an accessible URL though. (This means that we will not be able to reproduce the problem you're reporting.)

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can also be hel

[2021-05-26 14:07] #21568 closed

[2021-05-26 14:07] bvaughn commented on #21568
@PawelGIX If you are able to provide a repro, I can re-open with that too!

[2021-05-26 14:13] bvaughn commented on #21558
@jacty Fibers are an internal data structure and aren't meant to be accessed or used by non-React code. Can you explain more about what you're doing and how?

@Pulkit3234 React source code isn't in the "scripts" folder. It's in the "packages" folder. I suggest searching the project for `_debugID` to see which places need to be updated. 😄

[2021-05-26 14:27] bvaughn commented on #21569
Calling `RenderText` directly as a regular function (e.g. `{RenderText()}`) is not supported. It will often cause errors to be thrown when those components use hooks. **Components must only be called by React itself** (e.g. `<RenderText />`).

[2021-05-26 14:27] #21569 closed

[2021-05-26 15:45] jacty commented on #21558
Sometimes, it is hard to figure out where the property is. Take an example, if I want to get a state in children components but failed, I will go to Fiber to check why and which Fiber failed to get the state by setting breakpoint based on debugID one by one instead of basing on the complicated state object.

[2021-05-26 15:54] bvaughn commented on #21558
@jacty Okay, so long as you aren't writing+releasing code that uses Fibers (or this field) then that sounds fine :) You could set a conditional breakpoint based on `type` maybe (e.g. `fiber.type === SomeFunctionComponent`).

[2021-05-26 16:13] Pulkit3234 commented on #21558
@bvaughn sir, I made the changes and submitted the pr as well, can you please have a look at it 😄.

[2021-05-26 17:33] axtk opened #21571 "Minor inconsistency: charSet JSX attribute won't get lowercased in the HTML output"
Unlike other JSX attributes (e.g. `contentEditable`), `charSet` remains unchanged in the HTML output produced by the ReactDOMServer's render methods, which results in a minor inconsistency.

[code]

Looks like adding `['charSet', 'charset']` to [`packages/react-dom/src/shared/DOMProperty.js`](https://github.com/facebook/react/blob/5890e0e692d1c39eddde0110bd0d123409f31dd3/packages/react-dom/src/sha

[2021-05-26 19:11] bvaughn commented on #21571
Seems like this is actually expected behavior 😄

See #10863 and https://github.com/facebook/react/issues/11492#issuecomment-342953964

[2021-05-26 19:11] #21571 closed

[2021-05-26 20:02] axtk commented on #21571
oh, thanks for the links :)

not a bug indeed, but maybe the sheer number of such reports calling for the aesthetic consistency could justify such a fix though :)

[2021-05-26 20:53] #21558 closed

[2021-05-26 21:21] robbecker-wf commented on #17581
@gaearon Do you have any more info as to when Google might get to fixing these? Maybe you have the ability to encourage them to prioritize them sooner?
https://bugs.chromium.org/p/chromium/issues/detail?id=1144739
https://bugs.chromium.org/p/chromium/issues/detail?id=961494

[2021-05-27 01:27] 18613109040 commented on #21569
I don't understand why I use <RenderText /> every time the value changes, the <RenderText /> component will be destroyed and then created

[2021-05-27 01:29] 18613109040 commented on #21569
I don't understand why I use every time the value changes, the component will be destroyed and then created

[2021-05-27 02:55] muhfs94 commented on #21445
thank you @bvaughn fixed on version 4.13.5 👍

[2021-05-27 03:17] 18613109040 commented on #21569
I don't understand why I use <RenderText /> every time the value changes, the <RenderText /> component will be destroyed and then created

[2021-05-27 03:17] 18613109040 commented on #21569
I don't understand why I use ``` <RenderText />``` every time the value changes, the``` <RenderText />``` component will be destroyed and then created

[2021-05-27 03:30] luifo opened #21573 "[DevTools Bug] Could not inspect element with id 9"
### Website or app

https://github.com/academind/react-complete-guide-code/tree/07-debugging

### Repro steps

Developing a simple react app in a course on udemy
1- this is the link address
2- https://github.com/academind/react-complete-guide-code/tree/07-debugging

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (a

[2021-05-27 06:29] nahomjc commented on #13991
please somebody help me, where can i find the wepback.config.js file so that i can edit the external

[2021-05-27 09:48] Ajeetmisra commented on #21564
@CutieCat6778  just try to use style-loader instead miniCssExtractPlugin.loader

[2021-05-27 09:50] Alef5750 commented on #17997
Will do! Thanks!

On Wed, May 26, 2021 at 5:09 PM Brian Vaughn ***@***.***>
wrote:

[2021-05-27 10:48] Omrilu-ma commented on #14257
Those who still struggling with the issue and work with react-scripts without eject do the following to solve the issue:
1. `yarn add @craco/craco`
2. Change the package.json `start` script

**From:**
[code]
**To**
[code]

3. Add `craco.config.js` file to your root application with the following content:
[code]

[2021-05-27 13:17] KadenBiel commented on #13991
you have to create it, it goes in the main directory where your package.json and other config files go. You can find an example [here](https://github.com/KadenBiel/DVD-TS/tree/nightly).

[2021-05-27 13:37] bvaughn commented on #21569
The code shown above has two problems:

### Don't call a React component as a function
Calling `RenderText` directly as a regular function (e.g. `{RenderText()}`) will often cause errors when those components use hooks. **Components must only be called by React itself** (e.g. `<RenderText />`).

### Don't define a React component inline
Defining a component (like `RenderText`) within the body of a

[2021-05-27 14:29] bvaughn commented on #21573
@luifo I think this issue needs more repro instructions. I checked out the repo you linked, installed and ran the "finished" code example, and interacted with it a bit and DevTools doesn't throw any errors that I see.

Can you describe _exactly_ what you're doing? (Maybe even share a small screen recording?)

[2021-05-27 16:35] victor-homyakov opened #21579 "[DevTools Bug] Could not inspect element with id 10"
### Website or app

https://github.com/jacob-ebey/hooks-todo

### Repro steps

1. `git clone https://github.com/jacob-ebey/hooks-todo && cd hooks-todo/`
2. `npm i && npm run dev`
3. Open http://localhost:3000/ in Chrome, if it wasn't opened automatically
4. Open DevTools
5. Go to Source tab and enable the "Pause on exceptions" icon
6. Go to Components tab (the tab of React DevTools)
7. Click in th

[2021-05-27 19:09] bvaughn commented on #21573
Closing this issue in favor of #21579 which has repro steps.

[2021-05-27 19:09] #21573 closed

[2021-05-27 19:20] bvaughn commented on #21579
This is interesting. The `useMemo` hook's internal `memoizedState` looks like it's in an unexpected format. Not sure why this is yet.

[2021-05-27 19:55] bvaughn commented on #21579
Ah, I think this bug is because you're running an older version of React (16.8). This looks to be the same problem that I fixed previously in #14940.

I verified that upgrading react and react-dom in your example project fixes this problem.

[2021-05-27 19:55] #21579 closed

[2021-05-28 02:21] Ninja-Saket commented on #12615
Hey, I am new to open source. Can I take this issue?

[2021-05-28 04:16] HillLiu commented on #21445
@bvaughn Thanks your effort.

Your fixed also be success from my side.

[2021-05-28 09:12] tarjei commented on #15691
It would be very useful to get some information about which user-space function failed when this failure mode occurs. Is that possible? If not, maybe something like this could be added to react-dom.development.js:

[code]

This will notify the user about the error - i.e. not hide it -  but it will not crash the whole app.

[2021-05-28 12:11] successdevop opened #21581 "react developer tool chrome extension"
pls am new to react  and i need your help.  After adding react to my google chrome extension, my components in the react dev tools are not showing. am unable to view my react components. i.e app.js, header, etc

[2021-05-28 18:30] devongovett commented on #19637
We're now doing this check on all of our events in React Aria:

[code]

See https://github.com/adobe/react-spectrum/pull/1840.

This fixed issues we had with dialogs where something outside the dialog handled an event and called `preventDefault` on it, which would prevent the default for the event inside the dialog. For example, a text field inside a dialog that's mounted within a table row. Norma

[2021-05-28 21:26] bvaughn commented on #21581
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2021-05-28 21:26] #21581 closed

[2021-05-29 00:28] bitworking commented on #15486
To mimic the default behavior I did the following:

[code]

[2021-05-29 15:49] evayde opened #21582 "Bug: React takes considerably longer to update an empty list than rendering it initially"
React version: 17.0.2

## Steps To Reproduce

Note this simple Component, it does work as intended.
[code]

List is as simple as this:
[code]

So far, so good. It also loads within 3 seconds, regardless of the 100k elements rendered.
However, this loads considerably longer (even minutes), it will get there eventually. But why is this a problem? Is it a bug or by design?

[code]

Note that the only

[2021-05-30 05:12] ShroXd commented on #21533
it works fine on my Safair/iPhone11 (14.4.2), maybe it's a bug on iPhone

[2021-05-30 06:47] rohankeskar19 commented on #21533
Can you try this site - https://www.notealy.com and click on the nav buttons then try it on desktop, those buttons are supposed to scroll to the section

[2021-05-30 08:34] waynon commented on #9657
Any update on this issue?

[2021-05-31 03:06] knolcoder opened #21586 "Bug:"
npm update check failed                    │
│             Try running with sudo or get access              │
│             to the local update config store via             │
│ sudo chown -R $USER:$(id -gn $USER) C:\Users\Windows\.config

React version: Latest Version

[2021-05-31 03:59] bvaughn commented on #21586
Not sure what this issue is about. There's not enough info here though for one of us to help.

[2021-05-31 04:01] bvaughn commented on #21533
Have you confirmed that they're not scrolling specifically _because the click handler isn't called_? Or could it be something else (CSS or animation code)

[2021-05-31 04:06] rohankeskar19 commented on #21533
I have confirmed that the scrolling is working, It works on desktop as well as the mobile mode in the browser but when I try it on actual device it doesn't work

[2021-05-31 04:42] wslp12 commented on #7136
Why is it possible in Willmount, not in a constructor?

Why does an error occur in the constructor?

[2021-05-31 05:22] SahilSunda commented on #16416
Is this issue is resolved. @gaearon can you confirm??
Else if not then I can take it and start from now...

[2021-05-31 05:36] Jack-Works opened #21587 "Regression in experimental version: TypeError: Cannot read property 'useContext' of null"
In `useContext`.

[code]

React version: `0.0.0-experimental-2d8d133e1` is good and `0.0.0-experimental-bb1c82155` is bad.

## The current behavior

[code]

[2021-05-31 05:43] Jack-Works commented on #21587
In our production, https://github.com/DimensionDev/Maskbook/commit/4f90d108477a98209620826609c745d89e495b84 with version `=0.0.0-experimental-d75105fa9` is bad, and https://github.com/DimensionDev/Maskbook/commit/2887c0e1700bf123e9ed03ca8cad22a09f31ea52 with version `=0.0.0-experimental-2d8d133e1` is good

[2021-05-31 07:00] eps1lon commented on #21587
Thanks for the report.

Could you elaborate more on the steps to reproduce? E.g. is this on mount, update, some interaction? Also reproducing the codebase as much as possible would help a lot here.

[2021-05-31 07:05] knolcoder commented on #21586
When i command to create-react-app and then after this error comes ,
npm update check failed │
│ Try running with sudo or get access │
│ to the local update config store via │
│ sudo chown -R $USER:$(id -gn $USER) C:\Users\Windows.config

React version: Latest Version

[2021-05-31 08:47] whiskyJack11 opened #21588 "[DevTools Bug] Could not inspect element with id 4"
### Website or app

react

### Repro steps

just working on a side project in react using redux and middleware.

### How often does this bug happen?

Only once

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could not inspect element with id 4

### Error call stack (automated)

_No response_

### Erro

[2021-05-31 08:47] #21588 closed

[2021-05-31 12:04] chaya-blau opened #21589 "Settings Extensions"
where do i change the  definition
allow acces to file url
i dont find this definition
thanks

[2021-05-31 14:36] Jack-Works commented on #21587
Oh, strange. I cannot reproduce this even in our application. I guess the problem is in one of pnpm or webpack (we enabled webpack cache). It might use a mismatched version of react and react-dom then cause this problem.

[2021-05-31 14:39] Jack-Works commented on #21587
Yes, this reflected in the error log above, sorry this is a wrong report.

[code]

For some unknown reason, react is using `0.0.0-experimental-2d8d133e1` but react-dom is using `react-dom@0.0.0-experimental-bb1c82155`

[2021-05-31 14:39] #21587 closed

[2021-05-31 14:55] bvaughn commented on #21589
@chaya-blau I'm not sure what you're asking, but I assume you're asking about how to enable the setting for a Chrome extension.

If you open the extension details in your browser: chrome://extensions/?id=fmkadmapgofadopljbjfkapdkoienihi

You should see this option as one of the settings:
![Screen Shot 2021-05-31 at 10 54 54 AM](https://user-images.githubusercontent.com/29597/120211233-b1933280-c1f

[2021-05-31 14:55] #21589 closed

[2021-05-31 15:00] bvaughn commented on #21586
This error is unrelated to react. Sounds like your NPM client is trying to update itself but was installed in such a way so that you are not running it with the correct permissions.

I suggest posting about this somewhere like Stack Overflow. (You can probably find existing posts about this already though to be honest.)

[2021-05-31 15:00] #21586 closed

[2021-05-31 15:00] bvaughn commented on #21533
How have you confirmed that the click handler is not being called? (Considering a small repro like I posted above shows that click handlers do get called on mobile.)

[2021-06-01 03:51] Alecell commented on #20343
I'm currently facing that error too and the case is the same that when the hook is empty, am I doing something wrong?

 "eslint": "^7.27.0",
 "eslint-plugin-react": "^7.24.0",
 "eslint-plugin-react-hooks": "^4.2.0",

[2021-06-01 06:18] MiH0N commented on #12511
You are a real hero who saved me from trouble (❁´◡`❁)

[2021-06-01 08:30] gauravverma029 commented on #21589
hi

[2021-06-01 08:41] Cyberhan123 commented on #21582
emmm，It's may case js engine out of range,or use match time with gc,but the reason unknow.
![image](https://user-images.githubusercontent.com/38837039/120293546-f353d400-c2f7-11eb-9c76-3003ea6af307.png)

[2021-06-01 12:21] nabinbhusal80 commented on #20325
Faced the same issue works with the addition of `{ capture: true }` .
To be precise
`window.addEventListener('click', this.clickHandler, { capture: true })` while adding event
`window.removeEventListener('click', this.clickHandler, { capture: true })` while removing the event.

**why does this work?**
understand the bubbling principle, here is how it works
[https://javascript.info/bubbling-and-cap

[2021-06-01 12:41] dcastil commented on #20343
@Alecell eslint-plugin-react-hooks did not release a new version since this PR was merged. We need to wait until a new version of it gets releases (I'm waiting for the release too 😄).

You can use the same workaround as me in the meantime, a code snippet for `useEffect`:

[code]

Then you can create effects by typing `ue` in a js/ts file.

You can read more about how to create snippets in VS Code

[2021-06-01 15:58] karlhorky opened #21595 "[eslint-plugin-react-hooks] New Rule Proposal: `no-unnecessary-setstate `"
Hi there!

First of all, again want to extend thanks for your tireless work on creating this amazing library and supporting the ecosystem! Really big up to everyone involved! 💯 🙌

I wanted to see if the `eslint-plugin-react-hooks` project would accept a new rule: `no-unnecessary-setstate`.

I have the feeling that this may be too opinionated for the plugin, but I was sent here by ljharb from `esli

[2021-06-01 19:33] OleksiiMarchenk0 commented on #21533
Hello, @rohankeskar19 .
Please share your problematic code (maybe link etc.)?
In the meantime please see my code here [Implementing onClick in React](https://github.com/OleksiiMarchenk0/Todo-App/blob/5aea5342241b498823e6e1467dd4a06ac8a4631b/src/components/Todo.jsx#L44) which implements onClick in React.
I checked it and on my iPhone 8 this code works. :)

[2021-06-02 06:59] XiaoJiuDYS commented on #19240
this would not waring. what's diffent about useMemo and useCallBack in this seceniro?
[code]

[2021-06-02 09:40] zhangchao828 commented on #13206
https://github.com/mobxjs/mobx-react-lite/issues/53

[2021-06-02 10:14] JokerSora opened #21599 "Bug: when use custom hooks in App.js,an error of Invalid hook call happened"
I created the app by npx create-app order //not this problem Mismatching Versions of React and React DOM  and not this Duplicate React

here is my code
First,I created a hook usePre.js which is copied from https://reactjs.org/docs/hooks-faq.html#how-to-get-the-previous-props-or-state
`
import React,{useRef,useEffect} from "react";
export default function useTest(value) {
    const ref=useRef();

[2021-06-02 10:15] JokerSora opened #21600 "Bug: when use custom hooks in App.js,an error of Invalid hook call happened"
I created the app by npx create-app order //not this problem Mismatching Versions of React and React DOM  and not this Duplicate React

here is my code
First,I created a hook usePre.js which is copied from https://reactjs.org/docs/hooks-faq.html#how-to-get-the-previous-props-or-state
`
import React,{useRef,useEffect} from "react";
export default function useTest(value) {
    const ref=useRef();

[2021-06-02 10:17] #21600 closed

[2021-06-02 10:43] crizzis opened #21601 "JSX parser should support XML-style comments"
It would be a nice feature if the JSX parser could recognize XML-style comments (``), either by ignoring them completely or by passing the comments through to the output HTML.

Right now, using XML-style comments results in compilation errors.

[2021-06-02 10:52] eps1lon commented on #21599
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-06-02 13:58] julianfssen commented on #17355
Hi, guys!

I ran into this problem on my app and thankfully, this issue is already raised here.

I tried to debug the issue locally but I'm unable to reproduce the issue in my local build. Here's what I did:

1) I included the code sample mentioned [here](https://github.com/facebook/react/issues/17355#issuecomment-738236244) by @mooflu in my `App.js` file in `fixtures/dom/src/components`.
2) I sta

[2021-06-02 14:20] jdarshan5 commented on #14620
well I have a problem with context, this is my code
`
<AContext.Provider value={this.alpha}>
<BContext.Provider value={this.beta}>
{...children}
</BContext.Provider>
</AContext.Provider>
`
Problem is that if I try to access the context value of the AContext then it gives me the values of the BContext and I have access them in my class component.
consumption of AContext in child component is as bel

[2021-06-02 17:01] aweary opened #21603 "Bug: unable to render to document when using createRoot"
With `react@next` and `react-dom@next` trying to create a root with `document`:

[code]

Throws the error:

[code]

https://codesandbox.io/s/infallible-resonance-gqu0j?file=/src/index.js

[2021-06-02 18:01] hopkins199 opened #21604 "react dev tools installed but not working"
I have installed it several times but react dev tools are not working on my chrome browser

[2021-06-02 18:19] gaearon commented on #21603
I think you want `{hydrate: true}` on the `createRoot` call. Not the individual `render` call.

[2021-06-02 19:22] aweary commented on #21603
@gaearon ah yeah, you're right. though the error does occur without `hydrate` https://codesandbox.io/s/tender-gauss-8cvm0?file=/src/index.js though rendering to `document` when not hydrating is probably less common

[2021-06-02 19:35] gaearon commented on #21603
Is that something we previously supported?

[2021-06-02 19:37] Jarred-Sumner commented on #21601
Fun fact: HTML-style comments are valid ECMAScript comments when the host is a web browser (excluding modules)

From the spec: https://tc39.es/ecma262/#sec-html-like-comments (you might have to search "HTML" for the section to appear)

[2021-06-02 20:45] Edgarmejiav opened #21606 "[DevTools Bug] Could not inspect element with id 2"
### Website or app

.

### Repro steps

.

### How often does this bug happen?

Often

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could not inspect element with id 2

### Error call stack (automated)

_No response_

### Error component stack (automated)

[code]

### GitHub query string (automated)

[2021-06-02 20:45] #21606 closed

[2021-06-02 21:53] bvaughn commented on #21604
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

With a bug report like this it's important to provide details like the following:
* Which version of Chrome are you using?
* What operating system?
* Which website(s) are you trying to use Dev

[2021-06-02 22:10] aweary commented on #21603
It does work with `ReactDOM.render` https://codesandbox.io/s/zen-currying-r0ewz?file=/src/index.js

[2021-06-03 02:26] JokerSora commented on #21599
thanks for your advise,here is my code in sandbox https://codesandbox.io/embed/intelligent-moore-yl6kz?fontsize=14&hidenavigation=1&theme=dark

[2021-06-03 03:13] bvaughn commented on #21599
The reason the code you shared is failing is because you're calling `App` like a regular function instead of passing it to React as an element.:
[code]

Instead, you should be doing this:
[code]

[2021-06-03 03:13] #21599 closed

[2021-06-03 03:36] JokerSora opened #21609 "Bug: when use functional component and custom hooks in App.js to init react at the root element,an error of Invalid hook call happened"
e,my last bug report was closed,but that wasn't the bug I had met
here look at my code https://codesandbox.io/embed/intelligent-moore-yl6kz?fontsize=14&hidenavigation=1&theme=dark
look at the index.js  (clear the App.js line4), when I use a functional component and use the function to return a component to render the root element,it works well
however,when I added the hooks (the App.js line4),It w

[2021-06-03 03:43] JokerSora commented on #21599
could you see my new bug report? https://github.com/facebook/react/issues/21609
init react by function returned React.createElement() works well without hooks using in components

[2021-06-03 04:49] mobilerndev commented on #7489
pls recheck

[2021-06-03 05:00] bvaughn commented on #21609
React components cannot be invoked as regular functions. Hooks _will not work_ in this case. React components are meant to be passed as elements to React for it to manage when they are called.

I'm going to close this issue (like #21599).

[2021-06-03 05:00] #21609 closed

[2021-06-03 05:17] 1337-ishaan commented on #21595
[code]

Doesn't this cause error? Like variable already declared?

[2021-06-03 05:39] JokerSora commented on #21609
could you reply me after you see my code?
I said it worked well using regular functions to init react at root element.
open this https://codesandbox.io/embed/intelligent-moore-yl6kz?fontsize=14&hidenavigation=1&theme=dark and then ensure it,OK?

[2021-06-03 06:57] karlhorky commented on #21595
Nope, it's a different scope - this is called "shadowing". I personally don't like this pattern, but it doesn't technically cause problems.

[2021-06-03 07:24] julianfssen commented on #17355
Hey @mdaj06 ! Sorry for the slow reply. I apologize as I didn't see your comment about taking the issue up, in that case I will help you take a look at this and see what I can do. Thanks!

[2021-06-03 11:14] 1337-ishaan commented on #21595
Maybe because, shadowing makes the code difficult to read.

[2021-06-03 12:09] jordease opened #21612 "Bug: component is rendered before it should."
Hi,

I am a bit confused about the example below, where I expect the state to be set before a render.

[code]

[2021-06-03 13:40] penx commented on #19732
the PR with the fix isn't merged yet and I'm seeing this issue today - I have:

[code]

In dev tools (4.13.5-0ae5290b54) I can see that MyComponentMemo does not render, but MyComponent does render. The reason given is "The parent component rendered".

[2021-06-03 13:50] RacketyWater7 commented on #15865
Well then put those attributes into the dependency array, and as for avoiding the eslint warning: also put the eslint line (below added) at the end of the useEffect to not let it call warning and work as expected hopefully.
// eslint-disable-next-line react-hooks/exhaustive-deps

[2021-06-03 15:15] 447166939 opened #21614 "Error: "Commit tree already contains fiber "480". This is a bug in React DevTools.""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.12.3-8f202a7c8d

Component stack: CommitFlamegraphAutoSizer@moz-extension://4e6aa136-7cd8-4b97-8dff-0f154b4e34f0/build/main.js:38393:34
div
div
div
SettingsModalContextController@

[2021-06-03 15:17] mecirmartin commented on #20377
@feimosi @Himself65
My solution works perfect in google chrome, but i just realized that it doesn't work in Safari. Did you implement fast-refresh with react-inline-devtools? Did you have any problems running in Safari?
Firefox works great FYI

[2021-06-03 15:38] andres-j commented on #21328
Having this same issue, a large functional component passing query data to child components. Many ternary operators/null checks to handle cases of missing data. False positives appear when making changes exactly as @camhux describes.

[2021-06-03 17:03] bvaughn commented on #21614
Hi @447166939. For some reason, you're running an older version of DevTools (4.12.3)

Please update to the [latest version in the Firefox store](https://addons.mozilla.org/en-US/firefox/addon/react-devtools/) which is ([4.13.5](https://github.com/facebook/react/blob/master/packages/react-devtools/CHANGELOG.md#4135-may-25-2021)). This issue should have been fixed in either 4.13.3 or 4.13.4.

[2021-06-03 17:03] #21614 closed

[2021-06-03 18:35] bvaughn commented on #20377
I advise against a fix that relies on listening to internal DevTools messages and inferring things about the timing. These messages, or the ordering of them, could change at any point in a minor update b'c they aren't considered part of the public API (so no semver).

[2021-06-03 18:44] bvaughn commented on #21604
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-06-03 18:44] #21604 closed

[2021-06-03 20:39] feimosi commented on #20377
@mecirmartin I later encountered some other issues so I gave up on this. When I have more time I'll give it another try.

[2021-06-03 22:14] richseviora commented on #5479
I agree this explanation is incorrect. I ran into this issue where a nested `p` tag was being dropped shortly after initial page render in production mode only. This issue does not appear to have been fixed as of v17.0.2.

[2021-06-04 00:54] joshudson opened #21619 "Difference between controlled and uncontrolled components should not be value={null|non null}"
On working with React we keep on having strange almost non-debuggable and non-bisectable issues that eventually turn out to be a null got where it shouldn't have been despite programming in typescript. We have no idea why JSX/TSX components work this way, but it's completely non-intuitive and troublesome.

We're tired of debugging this repeatedly, and really would insist that it must be dependent

[2021-06-04 02:44] markerikson commented on #21619
I'm not on the React team, but tbh I'm having trouble trying to understand what situation or behavior you're even describing here. Can you provide some kind of a CodeSandbox or code example that demonstrates the concerns you're trying to discuss?

[2021-06-04 03:08] mecirmartin commented on #20377
@bvaughn So is there another way, to get fast refresh and inline-devtools working togetheer?

[2021-06-04 03:35] joshudson commented on #21619
@markerikson: `<textarea value={''} />` and `<textarea value={null} />` have radically different behaviors and we are fed up with the bugs due to it.

[2021-06-04 04:25] markerikson commented on #21619
For the benefit of myself and anyone else reading: could you recap _what_ the different behaviors are?  What "bugs" are you referring to here - are you saying that React itself is broken somehow, or that your own app has issues when you accidentally let a null through?

[2021-06-04 04:39] joshudson commented on #21619
@markerikson When a null gets through the control's type is initialized as uncontrolled. If you expect a controlled component and get an uncontrolled component, the internal state desyncs. And if the component would become controlled later because the variable inside `{}` changes to have a non-null value, strange behavior persists as the component never really becomes controlled.

I'm not really a

[2021-06-04 07:13] boy-techy opened #21620 "Bug: Context is not working well in Lazy Load Class-Based Components."
Context is not working well in Lazy Load Class-Based Components.

React version: 17.0.2

## Steps To Reproduce

1. Create Context in Lazy Load Component for e.g. UsersList Component
2. Attach the Context where you want to access that by User.contextType = UserContext
3. Try to access this.context in User component, it will be a blank Object. And if you just console UserContext also it will give yo

[2021-06-04 10:19] bertho-zero commented on #12615
My sidebar appears on the client after everything else, this flash is ugly.

[2021-06-04 13:25] KenHuffman opened #21622 "[DevTools Bug] Could not inspect element with id 2"
### Website or app

private code

### Repro steps

Not interacting with browser

### How often does this bug happen?

Only once

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could not inspect element with id 2

### Error call stack (automated)

_No response_

### Error component stack (automated)

[

[2021-06-04 14:41] bvaughn commented on #21622
@KenHuffman: We're sorry you've seen this error. ❤️

It looks like you forgot to specify a valid URL. (This means that we will not be able to reproduce the problem you're reporting.)

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can also be helpful if they he

[2021-06-04 14:41] #21622 closed

[2021-06-04 14:45] bvaughn commented on #21619
@joshudson I'm sorry you and your team have had a frustrating experience.

Unfortunately, it doesn't look like this issue has enough info for one of us to understand what you're reporting, or to reproduce it.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can

[2021-06-04 14:47] gaearon commented on #21619
To be clear I don't think there's a known difference between `value={null}` and `value={''}`, both should be treated as empty and controlled. The only uncontrolled one is `value={undefined}`.

[2021-06-04 14:49] bvaughn commented on #20377
@mecirmartin I have not had a chance to dig into this issue, so I can't say. But I did want to caution against depending on a solution like the one mentioned above.

[2021-06-04 14:49] joshudson commented on #21619
And I think the only uncontrolled one should be "didn't set `value=` at all".

[2021-06-04 14:52] gaearon commented on #21619
That could be one way to do it, though many people don't realize the difference between not having a property and having that property being set to `undefined`. I don't think we currently have any APIs that distinguish presence of a property from it being non-`undefined` so it would create a new precedent. At the same time, plenty of people want to work it in the opposite way, and have `null` be t

[2021-06-04 14:54] joshudson commented on #21619
What about the other idea; an explicit boolean property that when provided sets controlled or uncontrolled? We could easily have a quality control rule of always set this property.

[2021-06-04 14:59] nmain commented on #21619
You might consider rolling your own input components that encapsulate the logic that you feel is important to your projects.  You can easily have any logic you want for what is and isn't controlled in it, and pass the appropriate `undefined` to the native DOM input in one small piece of easily auditable code.

[2021-06-04 15:02] gaearon commented on #21619
Yeah I'd say using your own components is best practice either way.

[2021-06-04 15:02] joshudson commented on #21619
Hmmm that is a real possibility.

[2021-06-04 15:07] joshudson commented on #21619
Incidentally, this page https://reactjs.org/docs/forms.html contains the unfortunate text "If you’ve specified a value but the input is still editable, you may have accidentally set value to undefined or null"

[2021-06-04 15:13] cglacet commented on #14010
Not sure if that's a good strategy, but in a similar case we used the following idea:

[code]

In our case that's more practical than using a ref to the state as suggested before, mainly because our state is quite large.

[2021-06-04 15:39] bvaughn commented on #21619
Thanks for the feedback, Josh. I'm going to close this issue now because it doesn't seem like this is a _bug_ so much as a discussion about why the API works the way it does. Like Sophie said [back in 2019](https://github.com/facebook/react/issues/11417#issuecomment-473368945), it's unlikely that we'll make changes to this API since the changes would likely just have different positive and negativ

[2021-06-04 15:39] #21619 closed

[2021-06-04 15:46] joealden opened #21624 "Bug: `react-hooks/exhaustive-deps` false positive with direct function calls on an object?"
**`eslint-plugin-react-hooks` version: `4.2.0`**

---

When calling a function within `useEffect` where the function exists directly on an object and the function is included in the effect's dependency array, the `react-hooks/exhaustive-dep` ESLint rule is triggered. I'm wondering whether this is a false positive, or if there is actually a valid reason for this ESLint rule to be triggered in this

[2021-06-04 15:52] joealden commented on #21612
@jordease, `setState` is asynchronous, which means that `Component3` throws an error because `state` hasn't yet been "set" to the value passed in `Component2`. The reasoning to why `setState` is asynchronous can be found here: https://github.com/facebook/react/issues/11527#issuecomment-360199710.

[2021-06-04 16:39] nmain commented on #21624
This is because of the `this` parameter.  If `test` is replaced with a new object that has the same `fn` value as the old one, then a deps list of `[test.fn]` won't trigger an effect rerun, but because `fn` is called with the `test` object in the `this` parameter, `fn` could have different behavior depending on other changed contents of `test`.

[2021-06-04 20:51] avairain opened #21626 "Bug: setState run twice with own hooks"
React version: 17.0.2

## Steps To Reproduce

1. click .App
2.

Link to code example:
[code]

Why  log twice

**Edited** by @bvaughn to fix formatting.

[2021-06-04 21:02] bvaughn commented on #21626
Why is one state updater function calling another one? This looks like an odd pattern to me:
[code]

Anyway React runs certain things twice in DEV mode to help flush out any unsafe side effects. This includes state updater functions, like the one shown above.

You can read more about why we do this here:
https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects

It's only done in

[2021-06-04 21:03] bvaughn commented on #21626
Going to close this question because I think it's been answered. If not, let me know.

[2021-06-04 21:03] #21626 closed

[2021-06-04 21:15] avairain commented on #21626
got The latest data

[2021-06-04 21:17] avairain commented on #21626
got The latest data

[2021-06-04 21:23] avairain commented on #21626
like a tab
I will get some data from serice;
before xhr response, change the tab
I need the latest current tab to set the response data

[2021-06-04 23:15] kevduc commented on #21601
I'm currently looking for a way to add HTML comments to my page (for attributions and other comments potentially useful for whoever reads the HTML source) but as @crizzis said, it's not supported by the JSX parser.

I've found some workarounds here and there, like [Stack Overflow: How to render a HTML comment in React?](https://stackoverflow.com/questions/40015336/how-to-render-a-html-comment-in-r

[2021-06-05 01:35] billyjanitsch commented on #21612
@joealden, that's not correct. When `setState` is called during render, the update is flushed before React descends into the subtree. For example, as @jordease's comment mentions, the following works correctly:

[code]

@jordease, the issue is that calling `setState` during render is only allowed in the special case where the state is owned by the component being rendered. Your snippet results in

[2021-06-05 04:17] bvaughn commented on #21612
@billyjanitsch's comment looks correct. Thanks!

Going to close this issue.

[2021-06-05 04:17] #21612 closed

[2021-06-05 08:50] joealden commented on #21612
@billyjanitsch thanks for correcting the record! I overlooked that last part of the code comment, and I learnt something new  today about React! :smiley:

[2021-06-05 11:37] todortotev commented on #21533
Works on iPhone 12 pro as well.

[2021-06-05 11:52] LXSMNSYC commented on #21620
It must be because of circular dependency:

![image](https://user-images.githubusercontent.com/4783372/120890756-51095880-c637-11eb-87dd-34628443c7e3.png)

I moved `UserContext` into a separate file: https://codesandbox.io/s/context-is-not-working-well-in-lazy-load-class-based-components-forked-06g9h and it worked.

Take note that the problem isn't React-centric but rather how modules work in gene

[2021-06-05 15:56] Marcoo09 commented on #13991
In my case I was developing a library and by mistake I added react on dependencies, so it fails because we have two different versions of react.

[2021-06-05 18:31] prsmahajan commented on #18945
Hi, I want to work on this issue, can you suggest me ways to get started?

[2021-06-05 19:41] bvaughn commented on #18945
@prsmahajan You can find an architecture overview doc about how DevTools works here:
https://github.com/facebook/react/blob/master/packages/react-devtools/OVERVIEW.md

And instructions for how to build and test the extension here:
https://github.com/facebook/react/tree/master/packages/react-devtools-extensions#local-development

Beyond that, this would likely be an unguided task because we're all

[2021-06-06 01:44] felipemullen commented on #13991
I ran into this issue in the same way as @Marcoo09, so for anyone coming from a websearch, if you're developing a typescript library, you can just use the types library instead of installing the actual `react` package, like this

[code]

[2021-06-06 08:41] xingxiaobei opened #21632 "[DevTools Bug] Could not inspect element with id 5"
### Website or app

react create app example

### Repro steps

1、"react": "^17.0.2","react-dom": "^17.0.2"
2、code example
import React, { Component, Fragment } from 'react'

class TodoList extends Component {
    constructor(props) {
        super(props)
        this.state = {
            value: '',
            list: []
        }
    }
    handleClickBtn = () => {
        this.setState({

[2021-06-06 08:44] #21632 closed

[2021-06-06 11:01] prsmahajan commented on #18945
What is the main problem you all are facing?

[2021-06-06 13:06] knolcoder opened #21633 "Failed Compile"
React version: Latest Version

When i compile it say's this  : -

./src/App.css (./node_modules/css-loader/dist/cjs.js??ref--5-oneOf-4-1!./node_modules/postcss-loader/src??postcss!./src/App.css)
Error: Can't resolve '../img/01.jpg' in 'F:\portfolio\src'

[2021-06-06 14:29] Janlay884181317 commented on #21633
Seem like the problem form your bundle builder......

[2021-06-06 14:59] #21633 closed

[2021-06-06 14:59] knolcoder commented on #21633
solved

[2021-06-06 16:02] joealden commented on #21624
@nmain good point, and thanks for explaining that, but I'm now wondering the following:

1. Is this actually intentional (as in, has the ESLint rule be written to explicitly trigger in this case)? If so, like I mentioned above, I personally think it might help to have more detailed messaging for these kinds of JS "edge cases".
2. I personally don't directly use `this` in any of the code I write (d

[2021-06-06 23:44] DedaDev commented on #21581
Same for me,
![](https://i.imgur.com/wJJ4cZ3.gif)

[2021-06-07 03:17] bvaughn commented on #21581
DevTools extension only appears when you're viewing a website built with React. It won't show up if you're at a page like "about:blank" @DedaDev

[2021-06-07 04:43] successdevop commented on #21581
thank you Brian, I appreciate you

On Mon, Jun 7, 2021 at 4:17 AM Brian Vaughn ***@***.***>
wrote:

[2021-06-07 05:19] quick007 opened #21634 "Better click away"
I'm proposing an [easier way](https://stackoverflow.com/questions/32553158/detect-click-outside-react-component) to detect if someone clicks outside of something (super great for models that appear on top of something), using `onClickAway={}`. If you add it to an element, whenever you click outside that element it will fire. Heres some examples:
[code]
Lets dive a bit deeper. As you can tell, it h

[2021-06-07 06:52] Bodyhealer opened #21636 "[DevTools Bug] Cannot add node "476" because a node with that id is already in the Store."
### Website or app

https://zhivika.ru/product/26406103_plastyr_perc_bperf_10smh18sm_n

### Repro steps

1. Load page.
2. Open react components.
3. Click button "Смотреть все аптеки" for unfold all list.

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

C

[2021-06-07 07:44] boy-techy commented on #21620
Thank you @LXSMNSYC. It was because of circular dependency. Actually, on my machine, there was no hint like yours so I missed that.

[2021-06-07 07:44] #21620 closed

[2021-06-07 08:45] nanxiaobei commented on #14620
`**react-easy-contexts**` is made to solve this. https://github.com/nanxiaobei/react-easy-contexts

Introduction article: https://nanxiaobei.medium.com/react-easy-contexts-add-multiple-react-contexts-in-the-simplest-way-915d15cca5ca

[2021-06-07 08:59] nanxiaobei commented on #14520
**react-easy-contexts**, A simple tool to add multiple React contexts easily.

[code]

https://github.com/nanxiaobei/react-easy-contexts

[2021-06-07 09:10] DedaDev commented on #21581
Its not about:blank.

[2021-06-07 09:25] mardiansn opened #21638 "[DevTools Bug] Cannot add node "1" because a node with that id is already in the Store."
### Website or app

localshost

### Repro steps

Load react app in development mode using webpack, the redux devtools shown error message as above

### How often does this bug happen?

Often

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Cannot add node "1" because a node with that id is already in t

[2021-06-07 12:54] bvaughn commented on #21638
@mardiansn: We're sorry you've seen this error. ❤️

It looks like you forgot to specify a valid URL. (This means that we will not be able to reproduce the problem you're reporting.)

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can also be helpful if they hel

[2021-06-07 12:54] #21638 closed

[2021-06-07 12:57] bvaughn commented on #21636
Hi @Bodyhealer. I'm no table to reproduce the error following the steps you've described.

https://user-images.githubusercontent.com/29597/121020334-47ced780-c76e-11eb-8004-093dddedea3b.mp4

Any suggstion?

[2021-06-07 13:01] bvaughn commented on #21634
If you'd like to wrap modal dismissal logic up in a way that can be shared and reused between components, I suggest using a custom hook. The Stack Overflow post you linked to has an accepted answer that shows a [hooks-based approach to this](https://codesandbox.io/s/outside-alerter-hooks-lmr2y?module=%2Fsrc%2FOutsideAlerter.js).

I think it's unlikely we'll add a new, non-standard event type to Re

[2021-06-07 13:14] venik2007 commented on #15691
In my case switching between node versions (with nvm) helps me:
Now using `node v12.18.0 (64-bit)` vs Now using `node v14.17.0 (32-bit)`
![image](https://user-images.githubusercontent.com/52424112/121022781-5687af80-c7ab-11eb-9038-b3b62c64c080.png)
![image](https://user-images.githubusercontent.com/52424112/121022857-6901e900-c7ab-11eb-84a1-448f1d841b7e.png)

[2021-06-07 15:23] bvaughn commented on #21634
I'm going to close this issue for now. Our recommendation for encapsulating this kind of reusable logic is to use a custom hook (like shown above).

If you think it's still worth discussing the custom event route, that proposal should go through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

Thanks!

[2021-06-07 15:23] #21634 closed

[2021-06-07 15:48] ttous commented on #11163
This also works, and is recommended by React if you need to know when the element changes:

[code]

[2021-06-07 17:33] RFlintstone opened #21640 "Bug: Button onClick event doesn't trigger function (React + Express)"
## Dependency versions:

    "react": "^17.0.2",
    "react-dom": "^17.0.2",
    "react-router-dom": "^5.2.0"

## Steps To Reproduce

1. Setup express.js (with router)
2. Setup react as view engine
3. Use `<button onClick={() =&gt; sayHello("Test")} style={{ position: "absolute", top: "40%" }}</button>` and a function called sayHello.
4. When express is running and the button is clicked the functi

[2021-06-07 21:47] #18768 closed

[2021-06-08 05:31] LandonSchropp opened #21644 "Request for Package Release"
I'm sorry if this is the wrong place to file this, but I wasn't sure how else to get ahold of the React team. The #21392 by @bvaughn fixes an issue that was causing MobX components to display components in stack traces as `wrappedComponent`, making it very hard to debug issues. This PR was merged back in April, but there hasn't been a React release since March. Is there any chance you guys would b

[2021-06-08 09:57] evoL opened #21645 "Backport releases on GitHub have incorrect tarballs"
This is not really a React bug, but more of a bug in the release process. The tarballs releases for following React versions all contain version 17.0.0-alpha.0:

- 0.14.10
- 15.7.0
- 16.14.0

You can see on the [Releases page](https://github.com/facebook/react/releases) that they all point to commit 4337c1c. Releases on npm are not affected.

**How to verify:**

1. Download tarballs for any of the

[2021-06-08 12:30] nmain commented on #21624
I believe this is intentional.  See it here mentioned as an aside in a comment:  https://github.com/facebook/react/blob/master/packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js#L890

I agree that `this` is not commonly used in the style of programming that functional components use.  And in your specific case, `fn` is an arrow function so the lint rule is being overly cautious and there is

[2021-06-08 13:38] xuandexion opened #21646 "https://github.com/facebook/react/blob/12adaffef7105e2714f82651ea51936c563fe15c/packages/react-devtools-extensions/.circleci/config.yml#L1.2710527148265152e+24"
https://github.com/facebook/react/blob/12adaffef7105e2714f82651ea51936c563fe15c/packages/react-devtools-extensions/.circleci/config.yml#L1.2710527148265152e+24

[2021-06-08 13:47] Rodanus commented on #21533
@rohankeskar19  What causes this problem is CSS. I've recorded this video to show you what's happening. I hope it explains the reason behind this behavior well.

https://user-images.githubusercontent.com/40541141/121196304-0840e200-c879-11eb-8ee8-25578541b6bb.mp4

[2021-06-08 14:06] joealden commented on #21624
Nice find! I looks like that block of code is specifically targeting `props` access, which means that an `extraWarning` doesn't get set in the case I've outlined in this issue (which as I've suggested, better messaging could make this a lot less confusing for those that don't think about the potential implications of `this` usage).

Good point, I think it'd be great if rule could be improved so th

[2021-06-08 14:23] joealden commented on #21612
@jordease that is because `useEffect` calls run after render, meaning that `state` will still be `undefined` on initial render, hence why the error occurs in that case.

@jordease I personally wouldn't advise doing this; why can you not just set a default state value in your case?

If you really can't set a default value where you define the state, I guess instead of manually mutating `state` as y

[2021-06-08 14:30] #21533 closed

[2021-06-08 14:48] bvaughn commented on #21644
I'm going to close this issue since it's a question and Dan has answered it. As Dan mentioned, we probably aren't going to put out a 17 patch release just for this fix because those require a lot of testing and extra processes. If we need to do one for other reasons (bug fixes) we will consider this as well though.

[2021-06-08 14:48] #21644 closed

[2021-06-08 15:37] RobIsHere commented on #5479
@bvaughn Please consider reopening this issue. We have 5 devs here confirming that there is a huge problem.

Actually the bug is severe because it can break your react app in production while it's looking totally alright in dev mode. My case: customer told me that there are random paragraphs of a long text missing!

So you possibly cannot assume that CI-tests would catch this either, except you're

[2021-06-08 19:36] marcianosr commented on #15620
I had the same issue and found this thread. I applied (also unnecessary) <Fragments> just to remove the warning, but I don't understand why this is needed since I'm passing the `key` prop to the closest element in my loops already.

Does someone knows how this works?

[2021-06-08 19:41] hnordt opened #21649 "Question: startTransition behavior"
I'm very sorry that I'm using the issue tracker to ask this question, but I think others might ask the same question after reading https://github.com/reactwg/react-18/discussions/41 (I don't have commenting rights).

[code]

What happens if the user types "ab"? i.e.:

[code]

From my understanding `setInputValue("a")` and `setInputValue("ab")` will batch generating a single rerender, the callback

[2021-06-08 19:54] TimvdLippe commented on #11347
Per https://reactjs.org/blog/2021/06/08/the-plan-for-react-18.html I think we are going to have to update the issue title here to "React 19"

[2021-06-08 20:45] LandonSchropp commented on #21644
That's understandable. I didn't think about using the `@next` flag. That should meet my debugging needs. Thanks for the response!

[2021-06-08 21:48] jedwards1211 commented on #14099
Hoping there will be some solution to this in React 18.

What if we had some kind of ref hook that safely keeps track of the last commited value on any given render thread?

[code]

Maybe it could have a `current` property with getters/setters just like `useRef`; I just used `setCurrent`/`getCurrent` in my example to illustrate that magic would be happening under the hood.

[2021-06-08 22:12] gaearon commented on #21649
I think there's a bit of a confusion here — `setTransition` does not "schedule" a callback inside of it, so there's nothing to be cancelled. Let me illustrate this:

[code]

This logs: 1, 2, 3.

The function you run to `startTransition` does not get scheduled for later. It executes immediately. It's the *state updates* scheduled during `startTransition` that get handled differently. React "marks"

[2021-06-08 23:05] avkonst commented on #20613
Hi guys. What is the plan for this issue? There was some pull request, but it is unclear where it is gone...

[2021-06-09 00:48] hnordt commented on #21649
Thank you for the great explanation @gaearon!

[2021-06-09 00:48] #21649 closed

[2021-06-09 04:31] kevireilly commented on #18705
Closing the affected tab and/or opening a new tab worked for me.

[2021-06-09 05:31] Rashik4567 commented on #17355
My site is working in Chrome fine.. not even a warning.
but in Firefox, it says **Error: Should not already be working**. The error is on my **app.js** file where i used class component and used component did mount.
![image](https://user-images.githubusercontent.com/58215479/121298790-47714080-c916-11eb-985b-ac37facf58df.png)

[2021-06-09 05:37] julianfssen commented on #17355
Yup! This seems to only trigger in Firefox, I've investigated the issue and I think I may have found the cause, will post a writeup here on it in awhile to be verified by the team. In the meantime, you can wrap the alert() call in a setTimeout() block e.g:

setTimeout(() => console.log('your message'), 0)

to 'fix' it.

[2021-06-09 07:25] gretchelin commented on #21209
Can you reopen this issue @bvaughn ?

I'm laso facing this problem. I use NextJS, but this happens both in new CRA and NextJS project I created since the beginning of this year. It just shows white screen and an error in console (attached). Fresh project from CRA will show this problem.

I don't have React Devtool installed anywhere, and this problem happened both in incognito-mode and normal, in

[2021-06-09 08:07] jordease commented on #21612
Because in this case Component3 will be rendered 2 times... it is solvable though if I dont use setState() and simply use the default value.

Thanks for the help!

[2021-06-09 14:13] julianfssen commented on #17355
**TL;DR:** Firefox does not block WebSockets execution for `alert` and `debugger` calls, causing the scheduler to `performWorkOnDeadline` incorrectly and setting the wrong `executionContext` when calling `performSyncWorkOnRoot`. Microtasks solve this problem, but flushing via `flushSyncCallbackQueue` still causes the same issue.

I had a look at this issue and made a few observations about why thi

[2021-06-09 14:32] gaearon commented on #17355
@julianfssen, massive thanks for getting to the bottom of this.

[2021-06-09 14:56] gaearon commented on #17355
We're a bit overloaded with other things right now so I don't know if we'll take a detailed look. You already gathered a lot of context for this issue — do you have a proposed fix in mind?

[2021-06-09 15:14] acdlite commented on #17355
@julianfssen Thanks for the detailed write up!

So based on your description, Firefox has a bug where `alert` and `debugger` will pause the current event but will still spin the event loop to fire the next pending event, including `message` events which React uses to flush scheduled work. Then React throws an error because it detects  that the previous render (the one with the `debugger`) hasn't f

[2021-06-09 15:25] alexandcote commented on #17355
I would be curious to know if the `prompt` triggered by `beforeunload` causes the same issue because we don't use `alert` in production but we see some occurrence of this error.

[2021-06-09 15:27] gaearon commented on #17355
Yea that's the one that got me worried. Confirm is pretty common for "do you want to stay on this page?" flows.

[2021-06-09 15:33] acdlite commented on #17355
Right, `prompt` seems legit.

So the fix for this would be pretty simple, I think — instead of throwing an error, we'd exit from the function. I think this would  work because when the paused event continues and eventually finishes, it will re-schedule a new render to replace the one that we exited from.

But this is a bit fragile, and I'd rather not commit to supporting this workaround long term.

[2021-06-09 17:25] subhero24 commented on #18595
I think maybe this can be closed, as useTransition in the React 18 alpha does not seem to support things like timeoutMs or minBusyMs.

@gaearon I was wondering what the reasoning is for changing this. Does this mean it is now impossible to do a transition with skeleton states? Can such transitions be done in any other way now? Or did it just not have any use cases to do it like that?

[2021-06-09 19:24] NickCis commented on #16201
I came across this old issue, no intention on bumping it up but as google sends people to this link I'll leave the solution to this problem. Apparently `React.MouseEvent` is a generic which parameter is the type of the `currentTarget` property (**note:** the type cast isn't applied to the `target` property but rather to the `currentTarget`).

[code]

[2021-06-09 21:21] gaearon commented on #18595
I'm not sure. Maybe it still makes sense to automatically delay setting `isPending` to `true` until some very little time passes (not configurable)? Or maybe this already happens? It would be good to check.

Please see the reasoning in https://github.com/facebook/react/pull/19703.

[2021-06-09 22:46] gaearon commented on #13306
Yesterday, we announced [the plan for React 18](https://reactjs.org/blog/2021/06/08/the-plan-for-react-18.html).

In React 18, time slicing will be opt-in rather than on by default. The way you opt into it is with [`startTransition`](https://github.com/reactwg/react-18/discussions/41) (and its Hook cousin `useTransition`). Here is the [original time slicing demo](https://react-beta-seven.vercel.ap

[2021-06-09 22:46] #13306 closed

[2021-06-09 23:43] gaearon commented on #13206
Yesterday, we published [The Plan for React 18](https://reactjs.org/blog/2021/06/08/the-plan-for-react-18.html).

tldr:

* We’ve started work on the React 18 release, which will be our next major version.
* We’ve created a [Working Group](https://github.com/reactwg/react-18/) to prepare the community for gradual adoption of new features in React 18.
* We’ve published a React 18 Alpha so that libra

[2021-06-09 23:55] gaearon commented on #1739
Yesterday, we published [The Plan for React 18](https://reactjs.org/blog/2021/06/08/the-plan-for-react-18.html).

tldr:

* We’ve started work on the React 18 release, which will be our next major version.
* We’ve created a [Working Group](https://github.com/reactwg/react-18/) to prepare the community for gradual adoption of new features in React 18.
* We’ve published a React 18 Alpha so that libra

[2021-06-10 00:02] gaearon commented on #13206
Additionally, I'd like to share [this thread](https://twitter.com/rickhanlonii/status/1402771549808214016) from @rickhanlonii reflecting on the journey to React 18 alpha. I hope it provides some insight on why these things are taking time and we could not get this Alpha out earlier.

[2021-06-10 03:29] hronro commented on #11503
The [plan for React 18](https://reactjs.org/blog/2021/06/08/the-plan-for-react-18.html) is finally announced, but I'm a little disappointed that there is no mention of ES module support at all.
ES module support is a feature request for a long time, and even this issue has been opened for about 4 years, I really hope the new major release (React 18) could have the feature implemented.

[2021-06-10 04:05] myteax commented on #21582
May I understand what you are trying to achieve with this, I will like to help ?

[2021-06-10 04:59] julianfssen commented on #17355
@acdlite thanks for explanation! That makes sense, and I agree that altering logic to cater for a specific browser bug does not seem 'right'. However, the event loop bug in Firefox has been there for over a decade now so I'm not sure if it's going to be fixed anytime soon. Based on my tests, the microtasks implementation works correctly for the behavior above. Since most modern browsers support mi

[2021-06-10 05:13] asirhameem opened #21653 "[DevTools Bug] Cannot remove node "5" because no matching node was found in the Store."
### Website or app

https://github.com/facebook/react-devtools

### Repro steps

This bug is shown when I am reloading the page. It will be very helpful if someone provide me with a solution.

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Cannot remove

[2021-06-10 05:20] Jack-Works commented on #13206
Hi! I'm trying to upgrade from the nightly version to alpha but I found `unstable_getCacheForType` wasn't included in the alpha version

[2021-06-10 07:42] gaearon commented on #13206
Yes, the Cache API is still more experimental than the rest so you’ll need an `@experimental` release to use that.

[2021-06-10 11:04] larskinn opened #21654 "[DevTools Bug] Crash when inspecting component using a hook that returns a Proxy"
### Website or app

https://codesandbox.io/s/react-devtools-crash-with-proxy-in-hook-dxd32?file=/src/App.tsx

### Repro steps

Provided is a code sandbox with a very simplified version of the code which triggered this bug.

1. Open the code sandbox app in a new window
2. Open developer tools
3. Select the "Components" tab
4. Click on the "App" component

Observe that devtools crashed, and the cons

[2021-06-10 13:01] bennettdams commented on #21059
Usings React's `startTransition` with v18.x makes this issue irrelevant:
[https://codesandbox.io/s/react-nondeterministic-rendering-react-18xx-pi6kq?file=/src/App.tsx](https://codesandbox.io/s/react-nondeterministic-rendering-react-18xx-pi6kq?file=/src/App.tsx)

As you can see, the render is no longer blocking when beginning the state update (aka. re-rendering the chart). Only the real painting bl

[2021-06-10 13:33] ShahirZain commented on #21554
this is not a bug .. . . you are disabling the first button but the rest are enabled and they all are in parent tag. When you enter the in the parent tag from the enable button , its log in console . . . so the issue is in your code

[2021-06-10 14:02] ShahirZain commented on #21298
this will work like this, you call a function as a component . . . and one thing you passed an element inside option tag. .  option tag work on a single value . .  if you pass any other tag it will behave not as expected. ..  chill

![image](https://user-images.githubusercontent.com/30791669/121538353-28f66c80-ca1e-11eb-8046-b15bdde624e4.png)

[2021-06-10 14:20] koba04 commented on #13206
I know that removing `componentWillMount`, `componentWillReceiveProps`, and `componentWillUpdate` was postponed at the v17. Will these APIs be still kept in v18, or be only kept `UNSAFE_` prefixed lifecycle methods like the migration plan?
https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#gradual-migration-path

[2021-06-10 14:22] gaearon commented on #21298
FWIW we fixed this whole thing in React 18 alpha.
It works again.

https://codesandbox.io/s/component-inside-option-forked-gk1yd

[2021-06-10 14:22] #21298 closed

[2021-06-10 14:24] gaearon commented on #15513
This is fixed in 18 Alpha.
https://codesandbox.io/s/thirsty-austin-yzgyg?file=/src/index.js

[2021-06-10 14:25] gaearon commented on #13586
This is fixed in 18 Alpha.
https://codesandbox.io/s/thirsty-austin-yzgyg?file=/src/index.js

[2021-06-10 14:26] gaearon commented on #13699
This is fixed in 18 Alpha.
https://codesandbox.io/s/thirsty-austin-yzgyg?file=/src/index.js

[2021-06-10 14:28] gaearon commented on #13206
We have not made a decision on this yet. We will include information about any deprecations or removals in future blog posts.

[2021-06-10 17:14] bvaughn commented on #21653
@asirhameem: We're sorry you've seen this error. ❤️

It looks like you forgot to specify a valid URL. (This means that we will not be able to reproduce the problem you're reporting.)

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can also be helpful if they he

[2021-06-10 17:31] bvaughn commented on #11503
One of our main goals for the 18.0 release is to remove as many upgrade obstacles as possible so that people can migrate and began taking advantage of the new features and fixes. ES modules would be a breaking change (so they would compete with this goal). They are still _important_ to us though, and we hope to make the change sometime in the near future, just not as part of 18. :smile:

[2021-06-11 03:30] notsidney commented on #13838
I’ve spent the last little while trying to figure out this issue since the encoded URLs cause LinkedIn to not see Open Graph images.

I’ve come up with a workaround for our Gatsby site that uses `ReactDOMServer.renderToStaticMarkup`, replacing `&amp;` to `&` in the string, then rendering using `dangerouslySetInnerHTML`:

[code]

And here’s the full html.js for a Gatsby project: https://github.com/

[2021-06-11 04:00] zachbryant commented on #21632
Why was this closed? What was the resolution?

[2021-06-11 04:54] bvaughn commented on #21654
I see a slightly different error than the one reported:
[code]

I can repro this though so that's good. I can fix this.

[2021-06-11 05:52] Ayc0 commented on #13206
What would happen if a library uses the new APIs like `startTransition` but its users still uses `ReactDOM.render` instead of the new `ReactDOM.createRoot`? Will it crash?

[2021-06-11 08:39] gaearon commented on #13206
It won’t crash but it also won’t get treated as a transition. Just a regular state update.

[2021-06-11 09:01] polco-gelato commented on #14035
Hello! I just spent few hours trying to find out why some of my requests for images were failing with CORS. And that was the reason. Maybe that needs to be somehow mentioned in the documents: order of attributes matters ? or `crossOrigin`, if present, needs to be set before `src` ?
Especially what was happening to me was: React would do the request first without the `crossOrigin` param set, then l

[2021-06-11 09:32] rybon opened #21662 "Concurrency / time-slicing by default"
Will concurrency / time-slicing ever become the default behavior? Or will it always require a startTransition block to opt-in?
If it will become the default at some point, will that become part of the React 18 timeline or a later major release?

[2021-06-11 09:33] wereHamster commented on #11503
There is currently much confusion about whether to `import React from` or `import * as React from`. Both work, currently, but that's only accidental due to how ESM imports of CommonJS modules are treated by bundlers.

I'd really appreciate an official stance by the React developers as to which form will be supported once React starts providing native ESM, so that we can start educating people now,

[2021-06-11 09:35] Link631 opened #21663 "Bug: Functional component and conditional rendering resulting in "Cannot update a component while rendering a different component" warning"
React version: 17.02

## Steps To Reproduce

1. Create an react app
2.install latest fluent ui
3. createa functional component with following code:

[code]

## The current behavior

When the component sets isLoading to false, then the warning appears in the log:
[code]
The same happens when I put everything into one return statement with && ()...

## The expected behavior
When isLoading is being s

[2021-06-11 10:15] vkurchatkin commented on #21663
This doesn't seem to be an issue with React. It could be a problem _fluentui_.

Also, _loadTheme_ call in the component looks suspicious. It probably shouldn't be there.

[2021-06-11 11:08] gaearon commented on #21662
For updates caused by [discrete](https://github.com/reactwg/react-18/discussions/46#discussioncomment-847382) user interactions like click/typing, it won’t ever be the default because those must execute sequentially and usually require immediate feedback.

For updates originating outside of such events — for example, from a fetch callback — it’s possible that we’ll make time slicing default in a f

[2021-06-11 11:11] Link631 commented on #21663
So do you think that the code, expect of the loadTheme is OK regarding the setIsLoading with the conditional rendering?

[2021-06-11 12:54] tlgimenes commented on #21662
Hello. I'm testing React 18 features and I would like to test the time slicing feature. I've seen that [this PR](https://github.com/facebook/react/pull/21227) adds an option to createRoot for using time slicing. The problem I'm having is that this options seems to be behind a flag called `allowConcurrentByDefault` that is not enabled for `@experimental` or `@alpha` releases of React. Is it possibl

[2021-06-11 13:10] gaearon commented on #21662
The way you opt into time slicing in React 18 is per-update. You do that by wrapping that update into `startTransition`.

Explanation: https://github.com/reactwg/react-18/discussions/41
Demo: https://github.com/facebook/react/tree/master/fixtures/concurrent/time-slicing

[2021-06-11 14:15] #21654 closed

[2021-06-11 14:15] bvaughn commented on #21654
Fix will go out with the next release.

[2021-06-11 15:19] rybon commented on #21662
@gaearon makes sense. Thank you for the explanation.

Yeah, making a distinction between updates that require immediate feedback versus ones that don't and thus are eligible for time-slicing is something that requires an explicit API such as startTransition I suppose. Was wondering if it would also be generally beneficial on first render, but I guess the Suspense boundaries take care of that per s

[2021-06-11 15:26] rybon commented on #21662
Other question, does the implementation of the scheduler still make use of requestIdleCallback? I believe WebKit is the only holdout for that one.

[2021-06-11 15:42] stefanhamburger opened #21664 "Feedback on startTransition/useTransition syntax"
As recommended on the React 18 blog post, I'd like to give feedback on [startTransition](https://github.com/reactwg/react-18/discussions/41) as I don't have access to the working group.

I have two concerns regarding the `startTransition` callback syntax:
1. If I want to dynamically use or not use the transition behavior, I'd have to use complicated code like:
[code]
2. It is not intuitive that `s

[2021-06-11 15:45] gaearon commented on #21662
No, it fired to late and we'd waste CPU time. It's really important for our use case that we utilize CPU to full extent rather than only after some idle period. So instead we rewrote to have our own loop that yields every 5ms.

[2021-06-11 15:58] gaearon commented on #21664
Can you clarify the use case for this? We use this feature quite a bit and haven't seen a pattern like this.

Yes, it's something you'd learn when you get familiar with the feature. However, it is a very important capability. In particular, it lets you do something like this:

[code]

or:

[code]

This is especially useful for `useTransition` because it lets a button deep in the tree provide visua

[2021-06-11 16:12] qmg-akara commented on #17029
Thanks @bvaughn
At least, would it be possible to have a history of the changed props? Something similar to [WebStorm debug tool](https://www.jetbrains.com/help/webstorm/debug-tool-window.html), the changed variables are highlighted when a breakpoint is hit for the second time. Something similar to the following table, first row is the component data at initial render and the second row is for the

[2021-06-11 16:35] AnwarHemdene opened #21665 "[DevTools Bug] Could not inspect element with id 649"
### Website or app

My localhost

### Repro steps

1. inspected the page
2. selected column of the displayed tabled
3. Clicked on Empty cache and hard reload

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could not inspect element with id 649

### Erro

[2021-06-11 16:35] #21665 closed

[2021-06-11 17:44] milesj commented on #11503
Pretty sure the path forward is named imports only, so `import { useState } from 'react';`. The default import is _no longer required_ if you are using the new automatic JSX transform.

[2021-06-11 17:47] bvaughn commented on #11503
@milesj is correct. The "React" import is no longer required for JSX usage, thanks to the efforts of @lunaruan last year (via #18484, #18299, #18023, etc)

[2021-06-11 20:49] Link631 commented on #21663
I will close this Issue. I found out, that the setTheme call causes some unexpected behaviour within my component. I moved this part outside of my Components closer to the App and for now the warnings do not appear.

Thanks for the hint with the theme setting.

[2021-06-11 20:49] #21663 closed

[2021-06-11 21:15] yuthikasagarage commented on #20330
same issue

[2021-06-11 23:13] gaearon commented on #21043
To give some extra context. I don't know the team's current consensus on this. We would probably need to have a few meetings just about this to reach some conclusion that's worthy of writing. Right now we're not able to prioritize this because we're in the process of wrapping up several years of existing work. So we didn't write a good response because we can't commit to diving dep into it at this

[2021-06-11 23:24] gaearon commented on #21043
Note: I meant we specifically decided against supporting async functions. Not necessarily against signal itself.

[2021-06-12 00:16] elyobo commented on #16919
Another use case for this is when you'd like to implement your own comparison function for `React.memo`, but fall back to the default behaviour in some cases. My specific case right now is a for components that will never rerender while off screen, but while on screen _might_ rerender; I'd implement this with a comparison function that returns `true` whenever the component is off screen but uses t

[2021-06-12 10:25] Ephem opened #21668 "Question: Transition starvation in React 18?"
Main question:

Subquestion:

I've seen discussions around the starvation problem now and then (can't remember where) so I'm curious about if you have ended up with a specific approach in React 18 or if this is yet undecided? It struck me that since interrupted work is no longer reused, maybe this has the potential for happening more often now?

The heuristics is an internal detail that can be twe

[2021-06-12 16:58] mmnoo commented on #15344
Im curious on the reasoning for the react team not prioritizing this.

Using a `useEffect` with state in the dependency array wont work for me. Not with maintainable or clean code anyway.  I have added a new record to my state collection which results in a bunch of inputs being created/recreated from that collection. I want to focus on the new input from the record I created without tracking it by

[2021-06-12 18:54] llaenowyd commented on #15344
Why does it matter when an action was delivered? What's that mean - it was applied to the store by the reducer? The effect of the action is an updated store. The only event a component should be interested in, due to an action, is that the store was updated, and it can use a selector to react to that event.

[2021-06-12 19:47] mmnoo commented on #15344
Sometimes responding to changes on the entire store will make sense. Other times it wont.

In my case, I want to know when the store is updated with my item in a very specific scenario so I can do a thing related to the updated item. I want my code to be declarative and read nicely. So `dispatch({ type: 'doVeryVerySpecificThingEdgeCase', payload: id}}).then(respondAndDoSomething(id))` or using a c

[2021-06-12 22:32] anilanar commented on #15069
I suppose this is still not fixed in React 18 alpha. We still have hopes for stable 18 release.

[2021-06-12 23:58] markerikson commented on #15344
I'm not on the React team, but I can think of at least a few possible reasons off the top of my head:

- The team is small (only a handful of engineers)
- The team has been focused on the changes that _are_ planned for React 18, which center around Concurrent Rendering and Suspense (per [Introducing React 18](https://github.com/reactwg/react-18/discussions/4) and the other threads in that discussi

[2021-06-13 04:13] rdcavanha commented on #21636
I've got this error today as well on Firefox 89.
Adding to OP's report, this happens when refreshing the page while the dev console is open with the `Components` tab shown:
![image](https://user-images.githubusercontent.com/15946186/121795165-8cca9200-cbe4-11eb-9f71-972ae97ee0b7.png)

[2021-06-13 10:46] benjamingr commented on #21043
Thanks for the response.

That decision probably made sense - now (or soon) might be a good time to reconsider that decision since the web APIs themselves changed. Note that in the past `AbortSignal` was used only for `fetch` but right now it's supported in a lot more areas. See the other event example for one.

In Node.js all the APIs converged around cancellation with signals too. Data fetching

[2021-06-13 10:49] benjamingr commented on #21043
As a second alternative - if react threw an error (at least in developer builds) if a function isn't returned from `useEffect` that would also be a nice change.

Though I think doing the standard web thing is probably(?) good

[2021-06-13 11:16] beqakhelidze opened #21669 "[DevTools Bug] Could not inspect element with id 38"
### Website or app

i was using local host

### Repro steps

i was adding redux devtools

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could not inspect element with id 38

### Error call stack (automated)

_No response_

### Error component stack (au

[2021-06-13 11:56] gaearon commented on #21043
Hmm. I thought we are throwing an error if what you return is neither undefined nor a function.

[2021-06-13 12:02] benjamingr commented on #21043
Yes, it's the `undefined` that's the problem for the cleanup case :)

I suspect it'll be even more so when concurrent mode becomes "the norm".

Though really - between "force everyone to return a function" and "take an AbortSignal argument like web APIs" I'd pick the latter as it makes for a much nicer API that "throws you to the pit of success" more often.