[2020-01-09 23:52] bvaughn commented on #17352
@MicahZoltu Any interest in picking this up and submitting a PR? :)

[2020-01-10 00:21] Aghassi commented on #16948
@acdlite anything you wanted to add to this? I don’t want it to go stale and would like guidance on how I may be able to help contribute to this.

[2020-01-10 00:26] necolas commented on #15722
Added in the above commit

[2020-01-10 00:26] #15722 closed

[2020-01-10 01:56] MicahZoltu commented on #17352
@bvaughn PR created, though it has some errors that I don't understand.

[2020-01-10 03:47] MicahZoltu commented on #17352
Turns out, the issue is actually with an old version of rollup, not babel.  Rollup fixed the bug back in December 2018 with https://github.com/rollup/rollup/pull/2594 (though, that contained a bug that was then rectified in https://github.com/rollup/rollup/pull/2600).

I believe the fix for this is included in all versions of Rollup after 0.68.1, so to resolve this issue React needs to upgrade its

[2020-01-10 05:38] zhangyu0218 commented on #17258
I found a similar problem in ios 13 WKWebview. I wrote a function that listens for the number of onclicks (increment the value of each click, starting at 0), and when I first click the value becomes 2 instead of 1.

[2020-01-10 06:01] kambleaa007 commented on #16817
I have `function RenderComments(){return...}`, warning says `render method of RenderComments` (which is not), I dont even have `render method anywhere`, then why warning says so, is my point

[2020-01-10 07:14] vishwa3 commented on #7136
Facing the same issue .
**TypeError: Cannot add property value, object is not extensible**
Code -
[code]

[2020-01-10 07:25] denis-sokolov commented on #15893
The feature is presented very thoroughly and I believe is valuable to push forward, whether here on in the RFC repository. Please, stalebot, hold off. :-)

[2020-01-10 07:35] dehghani-mehdi commented on #13938
I'll provided requested info, is there anything else you want me to do?!

[2020-01-10 07:42] rchrdnsh commented on #16053
i'll close this for now, as i'm not concerned with this at the moment. I hope that you are happy bot! XD

[2020-01-10 07:42] #16053 closed

[2020-01-10 08:08] #16096 closed

[2020-01-10 08:09] FredyC commented on #16096
Thanks @Lokeh, your idea has worked out nicely.

[2020-01-10 08:10] ljharb commented on #13970
Still relevant (stale bots are user hostile)

[2020-01-10 08:10] ljharb commented on #13097
Still relevant (stale bots are user hostile)

[2020-01-10 08:24] sujitwarrier11 commented on #15555
what do you mean by that. My statement is correct. Event bubbling doesn't work properly inside component which is hydrated inside a editable div. the editable div is not recognized as the parent. so we need to add event handlers using the old javascript way using addEventListener

[2020-01-10 09:00] kambleaa007 commented on #15513
Yeh, Thanks

[2020-01-10 09:04] imtmh commented on #6779
In my case, the `checked` value was passed as `undefined` when the component is loaded. I have passed `false` when it is `undefined`.

 I used the following code, the warning disappeared.

`
function CheckboxButton({checked, onChange, textComponent} = {}) {
    return (
        <label className='checkbox-button'>
            <input
                type='checkbox'
                checked={checked |

[2020-01-10 09:40] just-boris commented on #13044
The issue is still valid. There are a few workarounds posted above, but they have performance issues, because the portals content is being passed via `setState` causing extra render and reconcile loops

[2020-01-10 09:56] Hypnosphi commented on #7249
Sorry, I have no other choice:

+1

[2020-01-10 09:56] JofBigHealth commented on #16174
Bump for stalebot.

[2020-01-10 09:59] Jack-Works commented on #15759
Wait. This bug is not fixed yet. Don't close it.

[2020-01-10 10:00] #16605 closed

[2020-01-10 10:02] brainkim commented on #14057
Would be interested to see if/when this issue resolved without it being resolved.

[2020-01-10 10:03] brainkim commented on #16954
Would like to see this issue replied to before it’s marked as stale and locked, maybe with an update by the original author with an update for this issue.

[2020-01-10 10:46] davifantasia commented on #13991
Hi everyone,

I'm trying to use a hook in a component, this component is to be exported from [gatsby-browser.js](https://www.gatsbyjs.org/docs/browser-apis) but I am getting this error:

This is a sample code:

[code]

Versions of the react and react-dom depencies are 16.12.0

[2020-01-10 10:52] gaearon commented on #17807
You can’t enable it for 16.

Peer dependency warnings (which I guess is what you’re referring to) are only that — warnings. You can ignore them and it will work anyway.

I understand warnings are annoying. Maybe you can bring it up with your npm client of choice that it would be valuable to have a way to suppress them for specific packages or versions.

[2020-01-10 10:52] #17807 closed

[2020-01-10 11:15] vflash commented on #14975
up

[2020-01-10 11:22] cameron-martin commented on #7552
Is there any info available on why call return was scrapped?

[2020-01-10 11:25] lakhpatm commented on #15006
Facing same issue
[code]

[code]

[2020-01-10 11:28] ValentinH commented on #14574
It does not happen anymore on the new devtool.

[2020-01-10 11:28] #14574 closed

[2020-01-10 11:31] MichaelOstrovsky opened #17819 "Error: "f.hasOwnProperty is not a function""
Describe what you were doing when the bug occurred:
1. Opened components tree
2. Clicked Context.Provider
3. Clicked "SomeProvider" component right above that Context.Provider

This issue does not happen if I click "SomeProvider" first. only after clicking Context.Provider within this "SomeProvider" wrapper component.

---------------------------------------------
Please do not remove the text bel

[2020-01-10 11:34] satya164 commented on #7136
@vishwa3 you need to use `this.query.current.value`, not `this.query.value`

[2020-01-10 11:39] spudly commented on #11369
please don't close

[2020-01-10 12:10] bpierre commented on #16009
@trueadm is any other solution being explored, regarding focus management?

[2020-01-10 12:12] JoshuaKGoldberg commented on #15194
Will do this thing soon!

[2020-01-10 12:38] TrySound commented on #13272
Not stale.

[2020-01-10 13:19] TrySound commented on #10021
not sale

[2020-01-10 13:56] trueadm commented on #16009
@bpierre The focus management stuff was pulled out of React Flare earlier on and they're here:

https://github.com/facebook/react/tree/master/packages/react-interactions/accessibility/src

[2020-01-10 14:01] bpierre commented on #16009
@trueadm Thanks!

[2020-01-10 14:59] denis-sokolov commented on #14406
This is a thorough suggestion and I would appreciate hearing an opinion and guidance from the core team. Please, stalebot.

[2020-01-10 15:43] amiralies commented on #16443
Although using JSON.stringify is an option and this is not the way how react works you can consider using alternatives like [use-deep-compare-effect](https://github.com/kentcdodds/use-deep-compare-effect) and [use-custom-compare-effect](https://github.com/sanjagh/use-custom-compare-effect)

[2020-01-10 16:26] mgol commented on #13499
This is still an issue.

[2020-01-10 16:32] malerba118 commented on #15674
There is a valid concern here. It kind of stinks that the consumer can break `useRef` in the first place by assigning ref.current to a variable. Though this is simply how javascript works, I think it could be nice if refs returned a getter and setter to make it harder for the consumer to break the ref.

[code]

https://codesandbox.io/s/reactissues15674-qd2ds

[2020-01-10 16:34] jakeNiemiec commented on #7122
Not stale, please fix 🙏

[2020-01-10 16:42] ljharb commented on #15556
Nothing is stale before it’s gotten some attention from maintainers. Please don’t use user-hostile stale bots.

[2020-01-10 16:42] ljharb commented on #10020
Bump.

[2020-01-10 16:42] ljharb commented on #10051
Bump.

[2020-01-10 17:01] icfantv commented on #14337
As an update to this (given the bot comment), we've simply incorporated the same KB event mapping used by React into our keyboard shortcut handling logic (which we have to have anyway) and added the dash character to the map to properly support this in our application.

I'm not suggesting it doesn't still require further investigation, but we do have a work-around and I would probably consider thi

[2020-01-10 17:20] zachbharris commented on #17387
@bvaughn I'm not quite sure how to reproduce it, and it hasn't happened since November, so I'm pretty sure this issue could have been moreso (if not solely) on my react components somehow throwing the devtools off. If you would like to close this, go ahead. If I figure out how to reproduce it, I'll throw it in here.

[2020-01-10 17:46] sebmarkbage commented on #7091
This is something we actually should do soon as part of deprecations work. If we first get rid of these edge cases then it will allow us to write a codemod for string refs.

[2020-01-10 17:49] mike-marcacci commented on #15435
This kind of repeatable, stable ID continues to be impossible without a solution that is aware of a components position in the tree. As concurrent moves towards stability, this is increasingly important, as it breaks the hacks that are currently in use.

[2020-01-10 18:12] joeldenning commented on #15436
I'm still interested in this and would like to hear thoughts from maintainers on it.

[2020-01-10 18:16] joeldenning commented on #15452
Still would like to hear thoughts from maintainers on this.

[2020-01-10 18:25] lunaruan commented on #17819
Hello! Thanks for reporting this issue. This bug was most likely fixed in  #17768 for v4.4.0. Fortunately that version went live in the Chrome store a couple of days ago, so it should be deployed to your browser soon!

I'm going to close this issue since it's been fixed on our end. If you're still able to reproduce it with version 4.4.0 please let us know and we'll reopen the issue.
cc: @bvaughn

[2020-01-10 18:25] #17819 closed

[2020-01-10 18:25] jeremy-hunter commented on #14484
Wow - thank you - I did the same thing 🤦

[2020-01-10 18:39] bvaughn commented on #17819
Thanks for the tag, Luna!

Try restarting your browser to see if it picks up the new version of the extension, @MichaelOstrovsky. Worst case, you could always uninstall and reinstall.

[2020-01-10 18:40] bvaughn commented on #17387
Sounds reasonable! :smile: Let's re-open if you see it again and we'll go from there. Thanks for the update!

[2020-01-10 18:40] #17387 closed

[2020-01-10 18:41] bvaughn commented on #17352
Thanks for the update!

Unfortunately, upgrading certain dependencies (Rollup, Flow) are a little trickier than others. Not sure when we'll get to them, but it is something we discuss from time to time as something we want to get to.

[2020-01-10 19:03] jquense commented on #15435
this is being handled in #17322 I believe @mike-marcacci

[2020-01-10 19:38] mike-marcacci commented on #15435
@jquense very interesting; that does indeed address the same use-case, albeit in a way that requires re-rendering on mismatch. I see these as competing approaches that address the same problem, so if that route is chosen, this can be closed. However, I believe this may be a superior approach.

[2020-01-10 19:43] mike-marcacci commented on #15435
If there is an interest in this approach and I can get a nod from someone on the react team that it's a direction that would be considered, I can go ahead and implement it.

[2020-01-10 20:01] ianstormtaylor commented on #5785
Not stale!

This is still a pain point that's lacking in React's API. I'm not sure what the solution is since it seems like no new events are being added to React despite them being standardized?

[2020-01-10 20:02] ianstormtaylor commented on #11211
Not stale. This is still frustrating to have to work around.

[2020-01-10 20:13] TrySound commented on #5785
This will probably be a solution
https://github.com/facebook/react/pull/17651

[2020-01-10 20:56] oliversturm opened #17820 "Bug: setState triggers render but doesn't update state"
React version: 16.12.0

## Steps To Reproduce

1. Run example application
2. Click "Doit" button
3. Observe browser console and state rendered by component

Link to code example: https://github.com/oliversturm/react-render-without-state-change

## The current behavior

The button click event handler triggers a lengthy operation that periodically calls `setState` to update the state label in the UI

[2020-01-10 22:44] mgenev commented on #15156
honestly, this makes me think that the framework just isn't ready to go fully into functions and hooks like we're being encouraged. With classes and lifecycle methods you had a tidy way of controlling these things and now with hooks it's a much worse less readable syntax

[2020-01-10 23:05] mgenev commented on #15156
Option 3 doesn't seem to work. Am I doing anything wrong?  https://stackblitz.com/edit/react-w8gr8z

[2020-01-10 23:07] fuleinist commented on #15156
@Martin, I do not agree with that.

The hook pattern can be readable with well-organized documentation and code
structure and React classes and lifecycle are all replaceable by functional
equivalent ones.

Unfortunately, the reactive pattern can not be achieved by React along via
either React classes or hooks.

On Sat, Jan 11, 2020 at 9:44 AM Martin Genev <notifications@github.com>
wrote:

[2020-01-10 23:21] Hypnosphi commented on #15156
@mgenev Option 3 prevents re-render of the child (`<ExpensiveTree />`, name speaks for itself)

[2020-01-10 23:55] tofikabdullayev opened #17821 "Error: "Could not find node with id "350" in commit tree""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.3.0-3e0967783

Call stack: at chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:159833
    at Map.forEach (<anonymous>)
    at commitIndex (chrome-extension://f

[2020-01-11 00:10] mgenev commented on #15156
@Hypnosphi thanks, that was correct.
https://stackblitz.com/edit/react-ycfyye

I rewrote and now the actual rendering (display) components don't re-render, but all the containers (context connected) do render on any change of prop on the context, no matter if it's in use in them. Now the only option that I can see is to start splitting the contexts, but some things are truly global and wrap at the

[2020-01-11 01:03] Hypnosphi commented on #15156
You can try my option 4, which is basically what react-redux does internally
https://github.com/facebook/react/issues/15156#issuecomment-546703046

To implement `subscribe` function, you can use something like Observables or EventEmitter, or just write a basic subscription logic yourself:

[code]

[2020-01-11 01:59] dai-shi commented on #15156
For those who may have interests, here's the comparison of various libraries somewhat related to this topic.
https://github.com/dai-shi/will-this-react-global-state-work-in-concurrent-mode

My latest effort is to check the support of state branching with `useTransition` that would be important in the upcoming Concurrent Mode.
Basically, if we use React state and context in a normal way, it's OK. (

[2020-01-11 03:50] pbuzzo commented on #12511
mrmadhat's solution worked for me- thanks a ton!

[2020-01-11 06:09] lw-sassy commented on #3468
It's Working

[2020-01-11 08:52] zhao545432854 commented on #17820
![3S(TVM6~@OGYEU8M`7N %EP](https://user-images.githubusercontent.com/43113657/72201811-bf71d780-3492-11ea-95ad-0b38aad150b5.png)
Is that so?

[2020-01-11 08:54] zhao545432854 commented on #17820
![@FET C3T}$HFJQWOGLUZFDQ](https://user-images.githubusercontent.com/43113657/72201833-0069ec00-3493-11ea-95a6-b5eb21c86e68.png)
是这样吗

[2020-01-11 10:27] JKCooper2 commented on #17820
I think you may need to request an animation frame to allow the JS thread to perform the re-render (https://css-tricks.com/using-requestanimationframe-with-react-hooks/). JS is single threaded so while you're looping and adding calls to the event queue you're never actually allowing anything in the event queue to run until you're entire call is complete.

In that case its not a React specific issu

[2020-01-11 11:41] O4epegb commented on #15723
This behavior is still reproducible with current react 16.12.0

I am still not sure if this is expected or not

[2020-01-11 11:52] dai-shi commented on #17028
Hey, you might want to try with the latest experimental channel.
In [my tool](https://github.com/dai-shi/will-this-react-global-state-work-in-concurrent-mode), `0.0.0-experimental-f42431abe` fixes some cases. But not all.

[2020-01-11 12:27] oliversturm commented on #17820
@zhao545432854 I'm afraid I don't understand what you mean. Your code looks like it would run through the entire busy loop before establishing the interval meant to push updates to the UI.

@JKCooper2 Thanks for the link, this is a useful idea that may help me solve my actual problem in a more elegant way. However, I'm not sure I agree with the conclusion about the event queue - clearly I can see

[2020-01-11 15:59] bvaughn opened #17822 "DevTools: Refactor Overlay to remove "reactInternal" hack"
See #17798

[2020-01-11 16:01] bvaughn commented on #17821
This is a duplicate of #16446, which we think was fixed via #17771.

This fix rolled out to the Chrome store as v4.4 earlier this week. Maybe try restarting your browser to make sure it picks up the newest extension version.

[2020-01-11 16:01] #17821 closed

[2020-01-11 16:15] bvaughn commented on #17785
Closing for now since I can't reproduce the broken behavior. I'd love to fix this though so if @MrOrgani adds repro steps, I'll re-open!

[2020-01-11 16:15] #17785 closed

[2020-01-11 16:36] Fabbok1x commented on #14057
@brainkim This was closed at the same time: https://github.com/facebook/react/pull/15157

[2020-01-11 17:39] kitten commented on #15317
We've had to find a solution to this for `urql`. It's a similar problem to what MobX has in that we're using streams that start a GraphQL operation when subscribed to which then yields either synchronous or asynchronous results (cached or fetching).

The solution to this can be found here: https://github.com/kitten/react-wonka/blob/master/src/index.ts
We're essentially dealing with 1) synchronous

[2020-01-11 18:06] bisubus commented on #14043
The issue is still relevant.

[2020-01-11 18:49] Andarist commented on #14878
I still believe the issue is sound, and unless closed by React team member it shouldn't be treated as stale.

[2020-01-11 20:02] vkurchatkin commented on #17820
@JKCooper2 is right, it has nothing to do with React. You just can't report the progress of a synchronous computation. You need to break into pieces by calling `setTimeout(0)` or something similar.

React calls render logic synchronously when you call `setState`. It is ready to update the DOM after that, but it just doesn't have the chance until the loop is over.

[2020-01-11 20:19] oliversturm commented on #17820
Okay, I guess I was just not getting this - unfortunately nobody pointed out that I can see the changed state by simply logging it to the console in the render function. But it's true, there it is - so the DOM update is really what's missing, not the state change. I have to take this back to my real code and try to remember why this didn't cross my mind previously (or actually I know it did, but I

[2020-01-11 20:19] #17820 closed

[2020-01-11 21:10] vkurchatkin commented on #17820
Promises are interesting this way: `then` callbacks are executed asynchronously but they still prevent browser logic from running. It goes like this:

|---- synchronous JS running ----|---- promise callbacks running ----|---- browser repaints ---- |

So, for example, this blocks the browser just the same:

[code]

While this works fine:

[code]

[2020-01-11 21:13] JKCooper2 commented on #17820
One thing you can do is setup a ref to a textinput. Then set the ref.current.value to be the text you want and set that. I believe that is outside the react tlifecycle and useful for things like timers.

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Vladimir Kurchatkin <notifications@github.com>
Date: 12/1/20 8:10 am (GMT+10:00)
To: facebook/react <react@noreply

[2020-01-11 22:53] vkurchatkin commented on #17820
No, that won't work either

[2020-01-11 23:02] oliversturm commented on #17820
Based on your helpful hints I have several ideas that I want to try out, but I can't do it right now.

Meanwhile I'm wondering if there are any guidelines for this scenario? I couldn't find anything like that when I searched.

To summarize, the problem is really quite simple and (I would think) common:

[2020-01-11 23:59] vkurchatkin commented on #17820
If your long running process is pure computation, then using a web-worker seems to be the best option. In your case it would look something like this:

[code]

[2020-01-12 05:04] amitbaral opened #17823 "Error: "Could not find node with id "32" in commit tree""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.3.0-3e0967783

Call stack: at chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:159833
    at Map.forEach (<anonymous>)
    at commitIndex (chrome-extension://f

[2020-01-12 08:20] theKashey commented on #14540
With the React.Flare deprecation this issue is still very valuable.

[2020-01-12 09:28] vishwa3 commented on #7136
@satya164 :Thanks

[2020-01-12 15:58] victorkane commented on #17719
I have this problem and don't understand concretely what to do as per @swrobel's recommendation. The inability to search components in the component view (which is happening to me in Mozilla but not in Chrome) is tantamount to not using the dev tools at all in Mozilla. Please take this report seriously, instead of snidely asking for PR's like @bvaughn

[2020-01-12 16:30] pushpinder107 commented on #14102
You can access the native event using `event.nativeEvent` so  event code is available at `event.nativeEvent.code`

[2020-01-12 17:22] bvaughn commented on #17719
I'm not sure which part of my response above struck you as "snide", @victorkane :smile:

Literally millions of people use React DevTools and literally only one person (me) regularly contributes code to it. I can't keep up with bug reports and feature requests, and in some cases I rely on people who have more context to chip in and help fix/test things.

Encouraging users to submit PRs is a healthy

[2020-01-12 17:35] victorkane commented on #17719
@bvaughn "Encouraging users to submit PRs is a healthy part of open source." Absolutely, absolutely, but in the appropriate context. If millions of people use react dev tools perhaps more should be done to encourage the formation of a community of developers... What I'm saying is that the bug (or lack of configuration) mentioned here should also be taken seriously, and perhaps an effort should be

[2020-01-12 19:22] necolas commented on #17823
This is not an actionable issue report and does not provide the details we request in the issue template, so it is being closed

[2020-01-12 19:22] #17823 closed

[2020-01-12 19:28] necolas commented on #14043
I don't think anyone on the core team will work on adding this as longer term we're moving away from classes altogether. It's likely this issue will be closed as if there's no community PR for this by the time this it's marked again as stale

[2020-01-12 19:43] necolas commented on #15452
We're not adding any new features to this API as it is being replaced in concurrent mode. You can also use an error boundary around the app

[2020-01-12 19:43] #15452 closed

[2020-01-12 19:46] necolas commented on #15436
This isn't likely to be something we do, and given the apparent lack of interest from others and no PR, I'm going to close this to keep our backlog focused on more actionable tasks. Thanks for the suggestion!

[2020-01-12 19:46] #15436 closed

[2020-01-12 19:48] necolas commented on #15674
As you mentioned, this is expected because the current value is being assigned to a variable outside the useEffect closure. Read it from within the effect to get the latest value

[2020-01-12 19:48] #15674 closed

[2020-01-12 20:16] bvaughn commented on #17719
I wouldn't characterize the impact of this bug quite that strongly. I'm under the impression that it only affects users who have enabled the "*Search for text when you start typing*" option. (It's disabled by default.)

I've added the "good first issue" tag just now to let folks know that we'd accept PRs for this. Beyond that, I'm not sure what more to do to encourage folks to look at this. I don'

[2020-01-12 20:23] mweststrate commented on #15317
@FredyC At a quick glance, the above might be cleaner than the current approach in lite 2. Thoughts? (Probably better to discuss further in the repo, just wanted to cc you in!)

[2020-01-12 20:29] victorkane commented on #17719
@bvaughn So:

* What about the users who want to enable "Search for text when you start typing" option??
* How would users, especially beginners, even know this???

[2020-01-12 20:38] bvaughn commented on #17823
This looks like a duplicate of #16446, hopefully fixed via #17771. The fix rolled out to the Chrome store this week but it seems like it hasn't yet been installed on your browser. Try restarting Chrome to see if that pulls in the latest version (v4.4) and hopefully that will fix things for you.

[2020-01-12 20:44] bvaughn commented on #17719
I'm not sure how to respond to this thread, @victorkane. Would you be interested in contributing a PR for this? I'd be happy to review it promptly. Thoroughly testing it is the thing I'd need the most help with to be honest.

For some insight into how I (internally) prioritize bugs like this: React DevTools has a couple million active users, but the Firefox extension accounts for < 5% of them. And

[2020-01-12 20:51] M-Izadmehr commented on #17719
I would like to take a look at this issue, if possible:)
 @bvaughn

[2020-01-12 20:59] bvaughn commented on #17719
This issue is all yours, @M-Izadmehr 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2020-01-13 00:03] dai-shi commented on #15317
It's really interesting.

Let me give a quick trial in TS:

[code]

[2020-01-13 02:48] j-sen opened #17826 "Bug: <select> element with static value but async options may have unexpected behavior."
React version:  16.12.0

I'm not sure if this is a bug or an acceptable behavior.

## Steps To Reproduce

1. Render a &lt;select&gt; element.
2. Pass a value or defaultValue to it.
3. Render it's &lt;option&gt; elements  asynchronously.

Link to code example: https://codesandbox.io/s/select-element-with-static-value-but-async-options-l3hns

## The current behavior

&lt;select&gt; element with stat

[2020-01-13 05:17] CaptainN commented on #15317
@dai-shi How does that scheduleCallback function work? Does it use a timeout?

[2020-01-13 05:48] ZeroDarkThirty commented on #11565
Anybody getting the following error `TypeError: Cannot read property 'Events' of undefined` on @luillyfe's solution can try the following:

`
jest.mock("react-dom", () => {
    const original = jest.requireActual("react-dom");
    return {
        ...original,
        createPortal: (node: any) => node,
    };
});
`

[2020-01-13 06:26] dai-shi commented on #15317
@CaptainN I re-organized what @kitten described in a general way. I haven't tested it (at least yet).
Having said that, my understanding is that
1) scheduleCallback registers a callback into a queue,
2) useLayoutEffect runs in a higher priority (or the same but somehow before it?),
3) thus cancels the registered callback in the queue before executing.

setTimeout would be [used in `scheduler`](htt

[2020-01-13 06:51] Here21 opened #17827 "help~When I use React.createElement directly and How to pack the component?"
hello all.

I was met a problem when I published a react component, I need to help and discuss with you all
I am going to write a component to load `React Component from CDN` and make it like a wrapper component.

[code]

and then, I do it just like do a normal react component that I was set the webpack config like below:

[code]

and then, I run the `npm run build && npm publish` to publish it.

[2020-01-13 09:09] dsblv commented on #16961
This is not an issue with intended APIs `useTransition`/`useDeferredValue`, so I'm going to close, thank you 😌

[2020-01-13 09:09] #16961 closed

[2020-01-13 09:15] vishwa3 commented on #15865
Facing the same error -

**React Hook useEffect has a missing dependency: 'props'. Either include it or remove the dependency array. However, 'props' will change when *any* prop changes, so the preferred fix is to destructure the 'props' object outside of the useEffect call and refer to those specific props inside useEffect  react-hooks/exhaustive-deps**

Code -

[code]

[2020-01-13 09:30] OZZlE opened #17828 "Bug: Custom postMessage breaks in Safari"
If you implement your own custom post message in a component it seems like `react-dom.development.js` picks this up and throws errors.

    SyntaxError: The string did not match the expected pattern.  react-dom.development.js:469

React version: 16.12.0

## Steps To Reproduce

1. Open Safari version 13.0.2 (OsX Mojave) or iPhone with mobile Safari iOs 12.4
2. Using this code when you press the but

[2020-01-13 10:00] vishwa3 commented on #16265
@cbdeveloper @GeoMarkou  : Facing the same error  -

Error -
**React Hook useEffect has a missing dependency: 'props'. Either include it or remove the dependency array. However, 'props' will change when *any* prop changes, so the preferred fix is to destructure the 'props' object outside of the useEffect call and refer to those specific props inside useEffect  react-hooks/exhaustive-deps**

Code -

[2020-01-13 10:36] NAVEENND commented on #17355
How to solve this issue , i am facing this issue in windows 10. can anyone please share the solution?

[2020-01-13 10:58] DKastani commented on #14139
This is still happening

[2020-01-13 11:34] threepointone commented on #17828
I don't see how this is a React issue, I can reproduce it with plain js https://jsfiddle.net/g7qzfeyh/ . I'd debugyour message handler's implementation, that's likely where the bug is.

[2020-01-13 11:34] #17828 closed

[2020-01-13 11:37] threepointone commented on #17827
This isn't a bug or feature request for React, so I'm going to close this issue. This seems like an issue with your webpack config, and I'd file a bug with them, or ask on stack overflow about the same.

(I'd recommend not using webpack at all for your libs/dependencies. Use babel to compile it to consumable javascript, and ship it to npm.)

[2020-01-13 11:37] #17827 closed

[2020-01-13 11:43] Here21 commented on #17827
yes, that isn't a bug, I come to wrong place, SORRY~

Thank you for your reply~

[2020-01-13 12:59] rpl commented on #17681
@bvaughn @jasonLaster [Bug 1605597](https://bugzilla.mozilla.org/show_bug.cgi?id=1605597) has been landed on Firefox 74 and so it should now be available in the Firefox nightly builds (and the "jump to definition" should work as expected once re-enabled).

(@jasonLaster would you mind to update the TODO list in this issue's description comment accordingly? we can also remove or strikeout jump to `

[2020-01-13 13:47] kunukn commented on #17826
I think the shown code and behaviour is as expected.

The documentation about `defaultValue` says

https://reactjs.org/docs/uncontrolled-components.html#default-values

[code]

The `options` starts by being empty and the defaultValue `cherry` can't be set.
When the options is async loaded, then the first from the item is displayed.

---

[code]

The `options` starts by being empty and the value `c

[2020-01-13 16:36] CaptainN commented on #15317
@dai-shi That's why I asked it was timeout based. In the Meteor hook we implemented, we just use a timeout. I found that a full 1000ms was needed in order for the subscription (computation in our case) to be preserved in some large percentage of cases (at least on my machine). We had to do a couple of other things though - we also will destroy the computation if an update comes in before the rende

[2020-01-13 18:51] FredyC commented on #15317
I wonder is the take on this from the React team. Apparently, the use cases are pilling up and with Concurrent more getting more attention it would be silly to expect everyone implementing some hacky workarounds.

Just a wild idea, but what about Suspense? Can we, in theory, suspend rendering until any sort of "rendering setup" is ready? I am not really sure what would be the implications. Would i

[2020-01-13 19:01] CaptainN commented on #15317
@FredyC Suspense is similarly unintuitive. It doesn't "suspend" execution, and then later commit. After you throw a promise, later on a fresh render runs again from scratch. But that doesn't give us the info we need anyway. Suspense is great for when *our* resource is not yet ready. But if our resource is ready (and it almost always is in Meteor) during the first render, concurrent mode will run i

[2020-01-13 19:23] necolas commented on #16736
Yes I believe this is fixed by #17689

[2020-01-13 19:23] #16736 closed

[2020-01-13 19:24] necolas commented on #10468
Putting this back up for grabs

[2020-01-13 19:34] bvaughn commented on #17681
Nice! Thanks for the update @rpl.

[2020-01-13 19:51] brainkim commented on #15221
😭 stale bot why are you like this.

[2020-01-13 19:54] jasonLaster commented on #17681
Thanks @rpl!

[2020-01-13 20:41] Jemt commented on #14962
Here is a bug report on the Chromium Issue tracker related to this problem:
https://bugs.chromium.org/p/chromium/issues/detail?id=967438
Quite clearly this is a bug in Chrome/Blink/WebKit.
It can easily be reproduced with vanilly JavaScript - e.g. using https://jsfiddle.net/vkqfmr4b/
Steps that do _not_ result in memory leak:
1) Click Add Input and enter "text" when prompted
2) Click Remove All In

[2020-01-13 20:45] Jemt commented on #14284
There is a bug in Chrome (and most likely other Blink and WebKit powered browsers) that results in memory leaks for certain types of input elements:
https://bugs.chromium.org/p/chromium/issues/detail?id=967438
It can easily be reproduced with vanilly JavaScript - e.g. using https://jsfiddle.net/vkqfmr4b/
Steps to test:

- Click Add Input and enter text when prompted
- Click Remove All Inputs.
- No

[2020-01-13 21:12] #17236 closed

[2020-01-13 22:58] jamiebuilds commented on #10020
Not suggesting that this API needs to be in React, but what about flipping the API around to validate it from the parent?

[code]

[2020-01-13 23:39] dai-shi commented on #15317
While waiting for the official answer, which I think is "won't support", here's another suggestion. Coming from the basics, we make render function side effect free.

[code]

One caveat as you see is that developers who use this hook has to provide `initialValue`.
But, end users won't see the initialValue rendered because it's the layout effect.

I'm pretty sure many of us already tried such an ap

[2020-01-13 23:52] heath-freenome opened #17830 "Bug: React.forwardRef() wrapped component does not have it's static "displayName set by default"
I was am using `enzyme` and `jest-enzyme

React version:
16.12.0
## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2020-01-14 00:32] mgenev commented on #15156
Thanks @dai-shi  I really like your packages and I'm looking into adopting them.

[2020-01-14 01:35] j-sen commented on #17826
@kunukn Thanks for the reply. I think this issue can be closed now.

[2020-01-14 01:35] #17826 closed

[2020-01-14 02:43] markerikson commented on #17069
definitely not stale - #17390 is in progress.

[2020-01-14 03:27] nhunzaker opened #17831 "Bug: I shouldn't own the DOM fixtures website"
Some folks at Google are helping us to think through some ideas to help our input code be more sane, and we discovered that our DOM Text Fixtures site (http://react-dom-fixtures.surge.sh/number-inputs) was both:

- _Very_ out of date
- Owned by me

Both seem fixable. However I think a good first start is to figure out a way to publicly host the fixtures that where I am not a bottleneck.

What do y

[2020-01-14 03:28] nhunzaker commented on #17831
Sorry @gaearon if this is more noise, but you're the common thread between us DOM folks and the core team :)

[2020-01-14 06:50] OZZlE commented on #17828
@threepointone Sorry you are correct! I did not expect that just assumed that `postMessage` was working in Safari with valid syntax..

It seems like it doesn't really work in Safari at all currently (unless there is an iframe involved and some special syntax? need it investigate more) .. I can define a onMessage handler that does nothing with the result but it still an error.. I can't see that I a

[2020-01-14 07:29] FredyC commented on #15317
The `useLayoutEffect` even though it runs almost immediately, it's still after the first render happens. For MobX purposes, it's useless as we need to watch over that first render.

The global cache might be almost good only if there would be some reliable identity of the component _instance_. We cannot expect users to pass that identity there. Generating something out of thin air and storing with

[2020-01-14 08:26] rufioTR commented on #14087
minor tweak:

[code]

just for useEffects to dont go crazy ^^

[2020-01-14 09:43] ivan-aksamentov opened #17832 "[react-devtools-extensions] Bug: Uncaught TypeError: Cannot read property 'sub' of undefined when navigating to plain-text pages"
React Developer Tools: 4.4.0 f749045a5 (1/3/2020) from chrome webstore
Chromium: 81.0.4024.0 snapshot
Ubuntu: 18.04

## Steps To Reproduce

1. Open chrome with React Developer Tools installed
2. Open developer console
3. In console settings (cogwheel in console's top right corner)  check "Preserve log" checkbox (to make sure that the log is not overwritten on navigation)
4. Navigate to a React-ena

[2020-01-14 11:59] dai-shi commented on #15317
@FredyC
For the MobX case, it would be ideal to work with dual-phased subscriptions.
It would be nice if MobX provides such capabilities. As I look at the mobx code, unfortunately not. (Now, I understand where your concerns are coming from.)

Totally right about that. I forgot that useCallback is also reset.

[2020-01-14 12:00] vkuba opened #17833 "Bug: "NotFoundError" when removeChildFromContainer -> container.removeChild(child) is called"
React throw an unhandled exception  "NotFoundError" when removeChildFromContainer -> container.removeChild(child) is called on a node that doesn't contains the child anymore.
This only occurs in IE 11.

React version: v16.12.0

## Steps To Reproduce

1. Detach the Portal DOM element by an external library.
2. In my scenario element where the portal is attached to is removed by asp POST back  (part

[2020-01-14 12:05] threepointone commented on #17831
Is there a reason these fixtures have to be hosted at all? Could you tell me what role this deployment served?

If it's super important, we could probably host it on reactjs.org, but I'm not sure what this is used for atm

[2020-01-14 14:59] oliversturm commented on #17820
Thank you for your ideas. I guess I was viewing the issue with too much of a focus on React itself. I have implemented an update mechanism that works pretty well on the basis of a web worker.

For some reason, Chrome shows a strange behavior where it only updates the DOM when I interact with the browser somehow (like click the mouse), while everything works perfectly in Firefox. But I'll investiga

[2020-01-14 15:28] oliversturm commented on #17820
And a final note: my Chrome problem went away when I debounced the state update function. This was necessary anyway because state updates were slowing down the whole mechanism enormously due to their frequency - and apparently Chrome gets fed up with this more easily than Firefox does.

[2020-01-14 16:30] ZeldaYuan commented on #15315
I solved this problem yesterday, it bothered me for half month.Yesterday I short the code to very little (just add <Provider store={store}>)and still got this invalid hook call problem.And it made me suddenly realized what mistake I did here, I didn't install the react-redux software in that folder. I have installed this software in the other project folder,so I didn't realized this one also need

[2020-01-14 16:40] vcarl commented on #17069
#17070 as well

[2020-01-14 16:43] kmurgic commented on #17185
Actually, there are some distinctions between useDebounce and useDeferredValue.  From the React Docs:

In order to demonstrate this difference I took take this example from the React Docs: https://codesandbox.io/s/infallible-dewdney-9fkv9, forked it, and changed the performance lag from 3ms to 1ms.  Then I made one example with useDeferredValue and one with useDebounce.
useDeferredValue:  https://

[2020-01-14 16:43] bvaughn commented on #17833
This doesn't really look like a repro case :smile: Can you share some code where this happens?

[2020-01-14 16:50] barucAlmaguer opened #17836 "Bug: state not changing inside function declared in functional component"
I have a stateful component (using react hooks) and a stateless layout component.
The state behaves unexpectedly, as in 2 functions defined inside the stateful component, one gets the current value of the state and the other one gets the default value of the state.

React version: 16.12.0

## Steps To Reproduce

1. Open Console log
2. Click on any cyan item (should log item index and editMode valu

[2020-01-14 17:11] AjaxSolutions commented on #17185
Did you try the useDebounce maxWait option?  It's similar to maxWait used by lodash debounce?

[2020-01-14 17:48] LucasDachman commented on #14168
I'm still getting this bug on React 16.12.0

[2020-01-14 17:50] Bnaya commented on #17185
Dan wrote it's looks like not the expected behaviour, and probably a bug
I've wait for his updates
anyhow, it's still persists on recent experimental react
https://codesandbox.io/s/usedeferredvalue-issue-iteration-i7tkm

[2020-01-14 17:56] kmurgic commented on #17185
I had not until just now.  Using maxWait helps and useDebounce could be the right solution for many or even most applications, but even with maxWait there will still be uses where useDeferredValue can be more responsive.

I am using a maxWait of 1000ms in these examples.   In the case of a fast list, the text underneath the input lags noticeably.  In the case of a slow list, the input stutters.

S

[2020-01-14 18:20] barucAlmaguer commented on #17836
Solved here:
https://stackoverflow.com/questions/59738540/why-is-the-state-not-updating-inside-this-react-hooks-component

[2020-01-14 18:20] #17836 closed

[2020-01-14 18:23] barucAlmaguer commented on #17836
The bug was happening in a file inside a library (Flowpoints.js)
and not inside the Main component (Map.js)
Is there a way to debug this behaviors?
I think it's a react principle to be able to think in the current component only.
This can easily turn into an hard to track/solve bug if the File causing the bug is not mine to edit/fix

[2020-01-14 18:36] heath-freenome commented on #17830
Interestingly, when you look at the following code sandbox I created an instance of the component automatically has the name `ForwardRef(${component})`.  I was simply hoping to get the same behavior on the static Object being created.

https://codesandbox.io/s/vigorous-chatelet-qgwwd

[2020-01-14 18:43] bvaughn commented on #17830
What is giving you this impression? (Where are you seeing the name?)

[2020-01-14 18:44] heath-freenome commented on #17830
@bvaughn Please look at the output of the `Simple.test.js` file in the codesandbox I've attached

[2020-01-14 18:49] heath-freenome commented on #17830
And sorry, my original bug description was incomplete... I didn't realize I had submitted it.  Had to run out of the office before it was done and just updated it.

[2020-01-14 19:04] bvaughn commented on #17830
Yes. This sounds like Enzyme logic.

Here is what [React does](https://github.com/facebook/react/blob/7c21bf72ace77094fd1910cc350a548287ef8350/packages/shared/getComponentName.js#L27-L37) and what [React DevTools does](https://github.com/facebook/react/blob/64aae7b06fa47e126b0ba9c0ba9896caa803528e/packages/react-devtools-shared/src/backend/renderer.js#L366-L371). Essentially:

1. If the forward re

[2020-01-14 19:15] bvaughn commented on #17832
Thanks for the detailed bug report!

I think this may have been an unintentional side effect of #17739 😓

[2020-01-14 19:40] ccarnivore commented on #13991
After hours and hours of research I've found this solution.
I just changed `inject: true` to `inject: 'head'` in HtmlWebpackPlugin config and the minified react errors are gone. Thanks a lot dude!

[2020-01-14 19:42] heath-freenome commented on #17830
Got it... ok, I am adding explicit `.displayName` properties to my `React.forwardRef()` components.  Thanks for the feedback.

[2020-01-14 19:42] ccarnivore commented on #13991
@leejh3224 thanks a lot dude! after hours of searching I found this answer, It solved my problem.
Just changed the HtmlWebpackPlugin config from
`inject: true` to `inject: 'head'` and the minified react errors are gone.

[2020-01-14 20:15] mrkev commented on #12553
bump

[2020-01-14 21:03] bvaughn commented on #17830
Yup no problme.

[2020-01-14 21:17] bvaughn commented on #16507
v4 declares the property as `renderers` (no underscore). Things shouldn't really be monkeying with this hook thoguh

[2020-01-14 21:34] bvaughn commented on #17681
@rpl I tried re-enabling locally and testing against version 74.0a1 (2020-01-14) (64-bit)

Overall it seems to be working now which is nice 👍

In many cases though, it points to the first line of a mangled file, so that's not *ideal*.

There are still some cases in which I'm seeing the following error though:

For example:
1. Visit https://reactjs.org/
2. Select the `Anonymous` component inside of

[2020-01-14 23:38] #17822 closed

[2020-01-15 00:31] MaherAlshaar opened #17843 "the worst arabic translation"
language and translation
i'm sure that you translated your react site by google
the worst result at all
i hope you correct it

https://github.com/reactjs/rfcs

[2020-01-15 00:47] gaearon commented on #17843
You’re welcome to contribute and file issues about low quality pages in the repository for the Arabic translation: https://github.com/reactjs/ar.reactjs.org/issues

[2020-01-15 00:47] #17843 closed

[2020-01-15 00:53] sunny-mittal commented on #14508
A guy on my team wrote a simple little thing to help with this:

[code]
It returns the provider and a hook and throws an error if there's no provider. It's saved us a bunch of times.

[2020-01-15 02:59] nhunzaker commented on #17831
The fixtures are getting shared around a bit to document edge cases we've found in the DOM as the Chrome team tests out some of their ideas.

Ideas like `input.rawValue`, which would report back an unsanitized version of `input.value`, letting us make smarter value comparisons when figuring out if a value changed, or if we need to modify the DOM and risk side-effects.

If this change or any other

[2020-01-15 03:23] hahabazinga opened #17844 "Question: why cann't I set echarts instance using useState?"
## Coding Questions
i try to store the echart instance using useState, but after `setInstance`, `instance` is always undefined
[code]

[2020-01-15 03:56] bethanyaconnor opened #17845 "Bug: Uncaught TypeError: Cannot read property 'nextSibling' of null"
I am using [react-rehype](https://github.com/rehypejs/rehype-react) (latest version) to parse and format Markdown content that is continuously updating based on user input. On certain changes, particularly the creation of list items, I get an error message `Uncaught TypeError: Cannot read property 'nextSibling' of null`.

Before I see the error message in the console, I see an unclosed comment tag

[2020-01-15 05:01] hardikmodha commented on #17832
@bvaughn I would like to give it a try.

[2020-01-15 06:53] kuworking commented on #5040
In my case, for a stateless component that received the ref with forwardRef, I had to do what it is said here https://itnext.io/reusing-the-ref-from-forwardref-with-react-hooks-4ce9df693dd

From this (onClick doesn't have access to the equivalent of 'this')

[code]

To this (it works)

[code]

[2020-01-15 07:05] #17844 closed

[2020-01-15 07:53] qtwwyl commented on #15315
It does work for me, but I dont know why either.

[2020-01-15 11:22] rpl commented on #17681
I took a quick look into this, starting from double-checking what is the behavior when `inspect` is called from the webconsole on that `innRef` bound function (e.g. by using the "Store as a global variable" action from the context menu and then call `inspect($reactTemp1)` from the webconsole panel) and I can definitely trigger the same issue from the webconsole:

![image](https://user-images.githu

[2020-01-15 11:40] bisubus commented on #14043
After some research it seems that making `props` a descriptor will cause more problems than it will solve. It's a downer that `super()` without args has been already allowed, so disallowing it would result in breaking changes. For anyone having mistakes described in the issue, they can be prevented by enforcing the use of `super(props)` with TypeScript or Flow.

[2020-01-15 11:40] #14043 closed

[2020-01-15 15:41] Arlen22 opened #17846 "Warning: Did not expect server HTML to contain the [first prerendered] text node "[chinese characters]""
I don't even know where to start with this. When I inspect the source of this error, it is a very well-written section of code, but I can find almost no documentation on this problem anywhere. I don't know what causes it and short of spending the next two weeks stepping through React and Next.js, I have no way of know where to start. I thought I had fixed the problem by making FontAwesome a dynami

[2020-01-15 16:26] aboudi619 opened #17847 "Bug: Type Error:undefined is not an object (evaluating'_expo.default.fileSystem')"
![ERROR](https://user-images.githubusercontent.com/58271750/72451076-4e446400-37b3-11ea-991f-fd2ea391510a.PNG)

React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2020-01-15 16:27] aboudi619 commented on #17847
im using react native to run my app. but i keep getting this error [see image attached] . plx someone help me.
{ expo-file-system folder is already installed.}

[2020-01-15 17:03] bvaughn commented on #17681
You can just "store as global variable" (also using the context menu) and then interact with them. (Am I misunderstanding what you're asking?)

[2020-01-15 17:07] bvaughn commented on #17832
@hardikmodha This issue is all yours! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2020-01-15 17:11] rpl commented on #17681
hehe, sorry, I wasn't very clean :-)

I was asking if there is a particular component that I could use to trigger the issue where "the debugger panel points it to a mangled file"
("Select the `Anonymous` component inside of the "Tutorial" menu link" is how I reproduced the "objectGrip.location is undefined" TypeError locally, and so I was wondering if you could point me to another component that w

[2020-01-15 17:11] wfnuser commented on #17832
@bvaughn Hi. I am new to react and also would like to have a try. And actually I thought I have just finished the code and started to creating a PR... So may I take this? I have been struggling for it all night since I'm from the Eastern Hemisphere.

[2020-01-15 17:13] bvaughn commented on #17832
@wfnuser If you have already done work on this, sure. No harm in also sharing what you've done. @hardikmodha and you and collaborate. (Feel free to tag me on a PR too.)

[2020-01-15 17:36] wfnuser commented on #17832
This will my first time trying pull request to React. I hope it will work correctly. 😄😄
However I met some problem during developing with chrome. After I run the following code in Terminal.
`yarn run test:chrome # Test Chrome extension`

Chrome alerts

I'm wondering how to solve it correctly. And finally I only debugged and tested my code in Firefox, but I think it will work in Chrome too.

[2020-01-15 17:37] wfnuser commented on #17832
![image](https://user-images.githubusercontent.com/8191686/72456997-b1101c80-3800-11ea-9335-d2ad818b6607.png)

[2020-01-15 17:41] necolas commented on #9154
We're working on something related to this feature

[2020-01-15 17:44] bvaughn commented on #17832
Did you run `yarn build` (or `yarn build:chrome`) before running `yarn test:chrome`?

If you only ran `yarn build:firefox` then this would not have built the Chrome extension.

Otherwise, I don't know :smile:

[2020-01-15 18:44] hardikmodha commented on #17832
@wfnuser It's all yours. 😃

[2020-01-15 18:57] dev-akshat opened #17850 "React documentation is the worst documentation I have ever seen. I couldn't even create the app while going through documentation. Take some learning from documentation of Django, Flutter, Vue, Angular, etc"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-01-15 18:59] dev-akshat opened #17851 "Docs: React documentation is the documentation I have ever seen. It dosent even properly tell how to get started and create new app. Take some inspiration from documentation of Django, Flutter, Vue, Angular, etc"
🚨 This issue tracker is not for documentation issues. 🚨

The React website is hosted on a separate repository. You may let the
team know about any issues with the documentation by opening an issue there:
- https://github.com/reactjs/reactjs.org/issues/new

[2020-01-15 19:04] gaearon commented on #17851
You already filed https://github.com/facebook/react/issues/17850. Please don't file two issues at once.

[2020-01-15 19:04] #17851 closed

[2020-01-15 19:05] ecreeth commented on #17850
:-1:  nani.... :rofl:

[2020-01-15 19:07] gaearon commented on #17850
Sorry to hear you feel this way!

Our documentation is mostly oriented towards teaching you how to use *React itself* — not how to build web apps in general. If you were a bit more concrete about which topics you'd like to hear about (e.g. what kind of app you're building), maybe I could suggest some links.

In either case, https://github.com/reactjs/reactjs.org/issues/new would be the right place

[2020-01-15 19:07] #17850 closed

[2020-01-15 19:18] gaearon commented on #17847
This doesn't appear to have something to do with React. I suggest you to contact Expo for help.

[2020-01-15 19:18] #17847 closed

[2020-01-15 19:18] gaearon commented on #17846
It's very unlikely we'd be able to help you without a reduced reproducing case.

[2020-01-15 20:03] Arlen22 commented on #17846
I don't know how to narrow it down to a reproducible use case. Basically there is no way to reliably get it to happen because I don't know why it's happening. I don't know what the situations are that can cause the error. The only reason I posted it here was because the error is in ReactDOM and I think it's connected with React DOM Server. I've got it to happen with almost no code, and yet I can't

[2020-01-15 20:20] Arlen22 commented on #17846
Here is my next.config.js.

[code]

[2020-01-15 20:34] Arlen22 commented on #17846
The code is so well written that it really looks like it should be a well-understood problem. It's obviously a sanity check, though, because most things seem to still work. At first I thought it was breaking my Javascript, but I was able to figure out that it is just a regular warning, not an exception.

[2020-01-15 22:33] Arlen22 commented on #17846
This is my render tree. The problem randomly appears and disappears, and even deleting the `.next` and `.expo` folders does nothing.

This is my render tree.

[code]

createContextChain just uses a recursive function to set the Providers in the first array and then sets the second array as the children of the last one.

[2020-01-15 22:44] dvineyardUPD commented on #17355
I had this same issue. Was not a problem in Chrome however I received a blank screen and the error. Error: Should not already be working.
React 16.12.0
I had two(2) this.setState calls in conditional if statements in componentDidMount. This should have been ok however I removed them and figured a way to set them a little later and the error stopped. this.setState should have been ok to run in comp

[2020-01-15 23:42] bvaughn commented on #17681
@rpl Gotcha.

1. Open [reactjs.org](https://reactjs.org/).
1. Select the `Anonymous (ForwardRef)` component that renders the "Docs" navigation button.
1. Click "<> Go to definition" for the `onClick` prop.

In Chrome, this jumps you to the specific line (with pretty formatted source):
![Viewing source of `onClick` prop in Chrome](https://user-images.githubusercontent.com/29597/72480827-8052c780-37

[2020-01-15 23:54] bvaughn commented on #17846
This looks related to the following other issues:
* #14843 - no repro case; cause unclear.
* #10879 - caused by HTML pretty formatting and differing whitespace.

As Dan said, I don't think we have the bandwidth to look into this at the moment without at least a repro case. (Then it would be a matter of prioritizing.)

[2020-01-16 02:12] wfnuser commented on #17832
Thanks. 😄

[2020-01-16 02:15] wfnuser commented on #17832
Yep, I ran `yarn build: chrome` first. I'll try to figure the real problem there later.

[2020-01-16 10:02] janryWang opened #17853 "Bug: useRef can not return a persist ref object"
React version:

16.12.0

## Steps To Reproduce

1. Click Button，View print data
2. Click Button，View print data

Link to code example:
https://codesandbox.io/s/kind-fog-mce7w

## The current behavior
Every time you click the button, the printed data will change

## The expected behavior
Every time I click the button, the printed data should be an empty object

[2020-01-16 10:08] dmytro-lymarenko commented on #17853
It happens because you mount `Inner` component and unmount which cases all hooks inside `Inner` to reinitialize.

[2020-01-16 10:10] janryWang commented on #17853
@dmytro-lymarenko Is there a way to ensure that the reference object is not refreshed?

[2020-01-16 10:12] dmytro-lymarenko commented on #17853
@janryWang you can either move the reference object up to the parent or keep the component rendered by hiding it with css rather than unmounting.

[2020-01-16 10:33] TomPradat opened #17854 "Question: react lib context overrides app context"
Hi, I believe that this can potentially be an issue, though I'm not sure.

I was wondering about good patterns concerning the react context.

Let's get a public library, for example `react-intl` that exposes a Provider (IntlProvider).
Let's create a library `barLib` that uses `react-intl` to manage translations internally and that also exposes a `Provider`.
Now let's imagine I create a web app and

[2020-01-16 11:16] inoyakaigor commented on #14347
@gaeron I don't want write something like «+1» for previous question but it is still actual and not only for me but for all devs who will find that thread

[2020-01-16 11:17] VanTanev commented on #16873
This seems like a really great addition, would love to see it in react-hooks

[2020-01-16 13:48] rpl commented on #17681
@bvaughn :+1: Thanks! The STR was really helpful to track it down quickly!

@jasonLaster @bvaughn it looks that I may have tracked both these new "`inspect` binding" issues, I've just filed the following new bugzilla issues:

- [Bug 1609671 - toolbox viewSourceInDebugger should try to get the sourcemapped location](https://bugzilla.mozilla.org/show_bug.cgi?id=1609671), this one covers the issue wh

[2020-01-16 14:23] PatrickCavalcanti commented on #15865
same error

[2020-01-16 15:45] Arlen22 commented on #17846
I don't even know where the documentation is and this time I am refusing to read the source code to figure out the problem (because I don't have time). The code is so well written that it should have a documentation page with the known reasons this can happen. Am I missing something?

[2020-01-16 16:44] bvaughn commented on #17854
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2020-01-16 16:44] #17854 closed

[2020-01-16 16:44] bvaughn commented on #17854
Seems like you'd definitely want to merge values in this case, FWIW.

[2020-01-16 16:46] bvaughn commented on #17853
@dmytro-lymarenko is correct. When you unmount a component, its state goes away. When you mount a component, new state is initialized. If your app has state that needs to outlive a particular component, then it should not live in that component (but in one that's higher up in the tree).

[2020-01-16 16:46] #17853 closed

[2020-01-16 16:49] bvaughn commented on #17846
@Arlen22 No one has asked you to read source code or diagnose the cause of this issue. We have asked for you to share some code that reproduces the problem with us, so that one of us can take a look. Without being able to reproduce the problem, we can't really help.

I'm going to flag this issue as needing more info (a repro case). If you find time to create one for us, great! If not, the issue wi

[2020-01-16 16:52] bvaughn commented on #17832
Just to clarify, the command is `yarn build:chrome` (no space after the ":"). If you ran `yarn build: chrome` it would have failed.

[2020-01-16 16:59] bvaughn commented on #17681
Excellent. Thanks for the update @rpl!

I've updated the description for you to link to the new issues.

[2020-01-16 16:59] Arlen22 commented on #17846
I'm sorry. I didn't mean to be rude. I don't know how to reproduce it because I don't know what is causing the problem and I can't find any documentation on hydration errors.

[2020-01-16 17:05] bvaughn commented on #14843
I am going to close this issue since it has no repro case, we have been unable to reproduce it using the information reported, and question it raised (about pseudo elements) has been answered.

[2020-01-16 17:05] #14843 closed

[2020-01-16 17:08] bvaughn commented on #17846
It's okay. :smile:

The fact that the code is well written doesn't actually mean that we understand all potential sources of errors. (We definitely don't!) So we rely on folks to help us by letting us know *how* they're running into errors. In many cases, while putting together a repro, someone might realize that the cause of a bug is in application code, or another library (not React). So repros

[2020-01-16 17:16] gaearon opened #17855 "Bug: DevTools DOM highlighting gets stuck after a prolonged hover"
## Steps To Reproduce

1. Hover a component in DevTools
2. *Keep hovering it for a second or so*
3. Quickly move the cursor out of the DevTools without hovering anything else

Expected: DOM highlighting goes away.
Actual: DOM highlighting gets stuck.

![](https://d1sz9tkli0lfjq.cloudfront.net/items/2o2r240l0o3i1B0d1n3J/Screen%20Recording%202020-01-16%20at%2005.14%20PM.gif?v=e1a91e13)

[2020-01-16 17:27] pPanda-beta opened #17856 "Bug: strict equality operator for comparison of oldProps and newProps and/or old & new context will not work since THOSE ARE OBJECTS"
In React Fiber implementation everywhere prop objects are checked using "===" operator, which in case of object doesn’t verify using deep equality check, and works like a reference equality.
See below for the code mentions.

React version:
16.12.0
React-Dom version:
16.11.0

## Steps To Reproduce

1. Write the following code to test it.
2. Check in the console.

[code]

Link to code example:

http

[2020-01-16 17:39] Aryk commented on #14882
Hey guys, I read through this thread. I'm having the same issues with React. How exactly are we supposed to garantee a component doesn't rerender if the below doesn't even work?

[code]

I notice that even with useCallback(() => {}, []) still runs on every time the component re-renders.

Is this all normal? If so what's the point of passing in `[]` to useCallback or even using memo?

[2020-01-16 18:08] calebdwilliams commented on #7901
Is there any interest from the React team in implementing a feature like this (never mind one of the options above)? This issue has been open since 2016 and there hasn't been a lot of engagement here.

[2020-01-16 18:26] sebmarkbage commented on #7901
There's active work on various ways of approaching this but turns out there are a lot of considerations. For example, how coordination of touch events needs to work for complex gestures and how this interacts with the bubbling, how this works with SSR selective hydration, how you add concepts like scheduling priority to events, how you separate discrete events from continuous events in a concurren

[2020-01-16 19:02] calebdwilliams commented on #7901
@sebmarkbage Thank you so much for the info, really appreciate the thought and hard work going in to making it the best it can be. While I might be really happy with having to worry about all of those issues, I understand that I'm an outlier in that regard.

 Is there a place where these discussions are being documented so we can follow along and maybe contribute?

[2020-01-16 20:10] TomPradat commented on #17854
I'll try stackoverflow, thanks you for your time :)

[2020-01-16 20:21] Lexicality commented on #13989
This issue is still relevant, unless class components are being deprecated?

[2020-01-16 20:59] #15730 closed

[2020-01-16 20:59] #14817 closed

[2020-01-16 20:59] #15548 closed

[2020-01-16 20:59] #16908 closed

[2020-01-16 20:59] #16919 closed

[2020-01-16 20:59] #16946 closed

[2020-01-16 20:59] #15527 closed

[2020-01-16 20:59] #16962 closed

[2020-01-16 20:59] #16854 closed

[2020-01-16 20:59] #16985 closed

[2020-01-16 20:59] #16977 closed

[2020-01-16 20:59] #17024 closed

[2020-01-16 20:59] #17025 closed

[2020-01-16 20:59] #17031 closed

[2020-01-16 20:59] #14254 closed

[2020-01-16 20:59] #16924 closed

[2020-01-16 20:59] #17037 closed

[2020-01-16 20:59] #17043 closed

[2020-01-17 04:04] hassan-alam commented on #10468
Hey guys, would it be alright if I picked this up? I understand this issue has open since 2017, so I'm not sure if it's still valid/open.

[2020-01-17 05:59] #16031 closed

[2020-01-17 05:59] #15884 closed

[2020-01-17 05:59] #16514 closed

[2020-01-17 05:59] #15951 closed

[2020-01-17 05:59] #16548 closed

[2020-01-17 05:59] #16611 closed

[2020-01-17 05:59] #16273 closed

[2020-01-17 05:59] #15881 closed

[2020-01-17 06:00] #16541 closed

[2020-01-17 06:00] #14199 closed

[2020-01-17 06:00] #15742 closed

[2020-01-17 06:00] #16518 closed

[2020-01-17 06:00] #16698 closed

[2020-01-17 06:00] #15880 closed

[2020-01-17 06:00] #16742 closed

[2020-01-17 06:00] #13381 closed

[2020-01-17 06:00] #15376 closed

[2020-01-17 06:00] #16793 closed

[2020-01-17 06:00] #16841 closed

[2020-01-17 06:59] #15897 closed

[2020-01-17 06:59] #15900 closed

[2020-01-17 06:59] #15830 closed

[2020-01-17 06:59] #15864 closed

[2020-01-17 06:59] #16020 closed

[2020-01-17 07:00] #16073 closed

[2020-01-17 07:00] #10711 closed

[2020-01-17 07:00] #13690 closed

[2020-01-17 07:00] #14248 closed

[2020-01-17 07:00] #16124 closed

[2020-01-17 07:00] #15032 closed

[2020-01-17 07:00] #16177 closed

[2020-01-17 07:00] #15338 closed

[2020-01-17 07:00] #16327 closed

[2020-01-17 07:00] #14380 closed

[2020-01-17 07:00] #16317 closed

[2020-01-17 07:00] #16344 closed

[2020-01-17 07:00] #13739 closed

[2020-01-17 07:00] #16305 closed

[2020-01-17 07:59] #13456 closed

[2020-01-17 07:59] #15447 closed

[2020-01-17 07:59] #15557 closed

[2020-01-17 07:59] #12947 closed

[2020-01-17 07:59] #14272 closed

[2020-01-17 08:00] #15208 closed

[2020-01-17 08:00] #15675 closed

[2020-01-17 08:00] #15696 closed

[2020-01-17 08:00] #15705 closed

[2020-01-17 08:00] #15670 closed

[2020-01-17 08:00] #15676 closed

[2020-01-17 08:00] #15818 closed

[2020-01-17 08:00] #15828 closed

[2020-01-17 08:00] #15850 closed

[2020-01-17 08:00] #14630 closed

[2020-01-17 08:59] #15280 closed

[2020-01-17 08:59] #15259 closed

[2020-01-17 09:00] #14886 closed

[2020-01-17 09:00] #15329 closed

[2020-01-17 09:00] #15320 closed

[2020-01-17 09:00] #15336 closed

[2020-01-17 09:00] #15359 closed

[2020-01-17 09:00] #14088 closed

[2020-01-17 09:00] #15409 closed

[2020-01-17 09:00] #15434 closed

[2020-01-17 09:00] #15465 closed

[2020-01-17 09:00] #15461 closed

[2020-01-17 09:00] #15467 closed

[2020-01-17 09:00] #14935 closed

[2020-01-17 09:00] #15175 closed

[2020-01-17 09:00] #11893 closed

[2020-01-17 09:00] #12762 closed

[2020-01-17 09:00] #15542 closed

[2020-01-17 09:38] iamstarkov commented on #14248
@gaearon

Should the issue be reopened?

[2020-01-17 09:59] #14446 closed

[2020-01-17 09:59] #14179 closed

[2020-01-17 09:59] #14857 closed

[2020-01-17 09:59] #11547 closed

[2020-01-17 09:59] #14897 closed

[2020-01-17 09:59] #14945 closed

[2020-01-17 09:59] #14881 closed

[2020-01-17 09:59] #14942 closed

[2020-01-17 09:59] #12951 closed

[2020-01-17 09:59] #15051 closed

[2020-01-17 09:59] #15042 closed

[2020-01-17 09:59] #13411 closed

[2020-01-17 09:59] #12309 closed

[2020-01-17 09:59] #13704 closed

[2020-01-17 09:59] #15164 closed

[2020-01-17 09:59] #14635 closed

[2020-01-17 09:59] #15210 closed

[2020-01-17 09:59] #15225 closed

[2020-01-17 09:59] #15114 closed

[2020-01-17 09:59] #14953 closed

[2020-01-17 09:59] #14780 closed

[2020-01-17 09:59] #15304 closed

[2020-01-17 10:13] o-alexandrov commented on #15447
Not stale. The issue could save tremendous bundling time as mostly 80% of a typical list of dependencies on the frontend of a react developer are related to this issue.

Since hooks break on prebundling, the developers have to avoid prebundling on react related dependencies.

Please be clear, if you plan to support it.

[2020-01-17 10:43] madly0894 opened #17858 "I used a class component before this. But I liked the hooks more. It’s very comfortable to work with him and it’s not difficult to understand. Thanks to your team for this !"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-01-17 10:59] #14136 closed

[2020-01-17 10:59] #14071 closed

[2020-01-17 10:59] #13673 closed

[2020-01-17 10:59] #14221 closed

[2020-01-17 10:59] #14256 closed

[2020-01-17 10:59] #14263 closed

[2020-01-17 10:59] #12882 closed

[2020-01-17 10:59] #13978 closed

[2020-01-17 10:59] #14377 closed

[2020-01-17 10:59] #14321 closed

[2020-01-17 10:59] #14445 closed

[2020-01-17 10:59] #9483 closed

[2020-01-17 10:59] #14459 closed

[2020-01-17 10:59] #14252 closed

[2020-01-17 10:59] #11013 closed

[2020-01-17 10:59] #14039 closed

[2020-01-17 10:59] #14619 closed

[2020-01-17 10:59] #14611 closed

[2020-01-17 10:59] #14539 closed

[2020-01-17 10:59] #14483 closed

[2020-01-17 10:59] #14641 closed

[2020-01-17 10:59] #9446 closed

[2020-01-17 10:59] #14693 closed

[2020-01-17 10:59] threepointone commented on #17858
Appreciate the sentiment, thank you!

[2020-01-17 10:59] #17858 closed

[2020-01-17 11:18] elertan commented on #13956
I'm facing a similar problem. I have a list with elements that represent entities, on hover I want to show actions for these entities, such as a delete action. When I delete an entity, the list moves up to fill the 'gap' that it would have created, placing the cursor on top of the next element, however this does not trigger the `onMouseEnter` event on that element, thus not showing the actions.

A

[2020-01-17 11:52] o-alexandrov commented on #14319
Not stale. If possible, please reopen as currently we have to wrap in custom display name helpers that infer name of the module from the Webpack API

[2020-01-17 12:17] kainbacher opened #17860 "Question: I have a lot of very nice and smart vuejs components. is there a way to use it in an react project?"
🚨 This issue tracker is not for questions. 🚨

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek. Please take a look at the following resources.

## Coding Questions

If you have a coding question related to CLOSE THIS PAGE - NOW and CLOSE THIS PAGE - NOW DOM, it might be better suited for Stack Overflow.

[2020-01-17 12:27] eps1lon commented on #14319
I just clicked read all since stale bot just spammed my notifications (watching full repo). Maybe I missed some announcement regarding how open source is viewed in this repository but letting stale bot loose is a clear push back against outside contributions. If the core team does not handle outside contributions who is supposed to? We're just expected to spam the threads to keep them alive?

[2020-01-17 12:29] eps1lon opened #17862 "API for display name on forwardRef, memo and potential future exotic components"
Continuation of #14319 which was closed by a bot. I would hope that a maintainer takes the time and reopens the original issue and closes this one, thanks.

TL;DR: Can you expose [shared/getComponentName](https://github.com/facebook/react/blob/master/packages/shared/getComponentName.js)?

**Do you want to request a *feature* or report a *bug*?**
Expose an API to get the display name of every compo

[2020-01-17 16:35] bvaughn commented on #17846
Sounds like a use case that the API we call "Suspense" could help with once it's finished.

It's a little hard to answer a generic question like this, but it seems to me like you Would want to just wait to call `hydrate` until the data has loaded?

[2020-01-17 16:44] kasperpeulen commented on #17256
@aweary I was able to reproduce this in this codesandbox:
https://vt25p.csb.app/

[2020-01-17 16:57] threepointone commented on #17860
This isn’t a bug or feature request for React, so I’m going to close this issue. I recommend asking on one of the community resources like stack overflow.

[2020-01-17 16:57] #17860 closed

[2020-01-17 17:56] LukePetruzzi commented on #16477
Really craving this feature right now attempting to diagnose rerenders in a large component - is this currently prioritized?

[2020-01-17 18:02] OZZlE commented on #17828
@threepointone seems like this issue was somehow only present when you use

[sentry.io](https://sentry.io/) + React in development mode + chrome + custom post message

:) In production we don't use React development mode and locally I don't need sentry.io so problem solved :)

[2020-01-17 18:20] #17121 closed

[2020-01-17 18:23] kitten commented on #15317
@dai-shi I mean, to get this out of the way, this issue is explicitly _not_ about "dual-phased subscriptions" (let's just say subscriptions via/in `useEffect` to keep things simple), so I do think we all know that that does work, but we'd like our subscriptions to be represented as values in React 1:1 and not _eventually_ match up 😅

[2020-01-17 19:13] dmikester1 commented on #7779
Came here from Google with the exact same issue.  I have an input that I want to be numbers only and I have my PropType set to a number.  But of couse I don't want the input box initialized with a zero.  I can't figure out a way around it, so I will have to switch my PropType to a string.  Not a huge deal, but it'd be nice if there could be a way to enforce it to a number using my PropType and sti

[2020-01-17 19:25] sebmarkbage commented on #15317
Re: connecting to an external store.

There are a lot of implementation details of current systems. That might make upgrading hard but that doesn't say whether it's a good idea longer term. I think ultimately this problem bottoms out in reading a mutable value in a newly created component (already mounted components can use snapshots in their state). Depending on if your system also wants to suppo

[2020-01-17 20:17] dmikester1 commented on #7779
For anyone else who comes here wondering, I posted my question on Stack Overflow and got a good answer that worked for me.  https://stackoverflow.com/questions/59793685/reactjs-number-only-input-with-proptype-set-to-number-but-gets-initialized-to

[2020-01-17 20:47] Arlen22 commented on #17846
I'm using Next.js, but if it's that simple I'm sure there's a way. I'll ask that separately.

[2020-01-17 21:41] FredyC commented on #15317
I am probably misunderstanding something, but having a hook to deopt rendering won't work well for MobX case. It would mean to _slow down_ most of the components that work with observables on purpose, right? Or to be precise it would be same performance as without Concurrent mode. That sounds more like a foot gun and not a solution.

With the current solution based on timers, it's ugly, but there

[2020-01-17 22:04] bvaughn commented on #14319
@stale bot gives a full week to allow anyone to comment on an issue so that it considers it no longer stale. In this case, no one commented and so the issue was closed.

I understand why this bot could seem a little frustrating to external contributors, especially combined with the fact that PRs often wait for a long time before someone on the core team reviews them. Unfortunately the PR issue is

[2020-01-17 22:05] #17862 closed

[2020-01-17 22:21] bvaughn commented on #17855
An easier way to trigger this:
1. Click to select an element in the Components tree
2. Move your mouse outside of the DevTools
3. Click up or down arrow

The highlight will now "stick" until you focus on something else in DevTools.

TBH this is expected behavior in my mind, because it matches what the browser's Elements panel does so long as a native element is either hovered or focused.

If we wa

[2020-01-18 01:11] KevinKelbie commented on #17719
Hi @bvaughn, there hasn't been much activity here in a few days and I was wondering if I could take on this issue. I have implemented a fix for it and tested it in Firefox and it seems to be working. One thing I'm not sure about is how I would go about adding a test for this because it requires enabling a setting in firefox.

[2020-01-18 02:51] KevinKelbie commented on #17855
Whether its expected behavior or not the behavior between Firefox and Chrome is inconsistent since the highlighting doesn't get stuck on Firefox.

[2020-01-18 03:30] nhunzaker commented on #10468
Hey @hassan-alam, sure thing! Let me know if there's anything I can help with.

[2020-01-18 12:08] design-principles commented on #2925
@Brain2000, it will be magic! No one loves magic in programming! But I love this idea.

[2020-01-18 13:06] M-Izadmehr commented on #17719
@bvaughn,
Hey, Thanks for the opportunity.
I am working on the issue right now, I got familiar with the code base, and @swrobel is right the issue is probably caused by the lack of `event.preventDefault`.
I was able to run the standalone electron devtools for debugging, I still don't know how I can use my own local devtools directly on firefox.
Is there any docs that I can follow?:)

[2020-01-18 13:51] hsluoyz opened #17866 "Bug: Error: EMFILE: too many open files, open 'C:\xxx\web\build\static\js\main.b1a04325.chunk.js'"
I use `serve` to serve my React app because this docs said so: https://create-react-app.dev/docs/deployment/

React version: 16.12.0
OS: Win 10 x64

## Steps To Reproduce

1. Create a React app.
2. Let a lot of users use it.

## The current behavior

After dozens of minutes of access (~ 20 requests/second), I always encounter such error. It seems that too many people are reading the static files.

[2020-01-18 20:42] bvaughn commented on #17866
This isn't a React bug :smile:

The doc you linked to mentions `serve` as "the easiest" option, but looking at [`serve`'s own documentation](https://www.npmjs.com/package/serve) it says:

Anyway it looks like you also opened an issue on `serve`'s GitHub page (https://github.com/zeit/serve/issues/575) so I'm closing this one.

[2020-01-18 20:42] #17866 closed

[2020-01-18 21:52] IHCoding commented on #16741
you have forgotten to add the second argument in the burgerBuilder.js at last line.
export default withErrorHandler(BurgerBuilder, axios);

[2020-01-19 00:48] #6826 closed

[2020-01-19 00:48] #6959 closed

[2020-01-19 00:48] #1350 closed

[2020-01-19 00:48] #1964 closed

[2020-01-19 00:48] #3951 closed

[2020-01-19 00:48] #4126 closed

[2020-01-19 00:48] #4293 closed

[2020-01-19 00:48] #4557 closed

[2020-01-19 00:48] #5090 closed

[2020-01-19 00:48] #6559 closed

[2020-01-19 00:48] #7612 closed

[2020-01-19 00:48] #7720 closed

[2020-01-19 00:48] #8800 closed

[2020-01-19 00:48] #8533 closed

[2020-01-19 00:48] #9505 closed

[2020-01-19 00:48] #9620 closed

[2020-01-19 00:48] #10338 closed

[2020-01-19 00:48] #10736 closed

[2020-01-19 00:48] #11131 closed

[2020-01-19 00:49] #9559 closed

[2020-01-19 00:49] #11328 closed

[2020-01-19 00:49] #11231 closed

[2020-01-19 00:49] #3059 closed

[2020-01-19 00:49] #11549 closed

[2020-01-19 00:49] #11735 closed

[2020-01-19 00:49] #11560 closed

[2020-01-19 00:49] #2548 closed

[2020-01-19 01:43] PixelMooort opened #17867 "Question: React apollo hooks fails after adding react-native to monorepo"
I am trying to create a React web app and React-native app with monorepo by using yarn workspaces. So I created web and controllers and it works fine. I was able to make graphql queries to my apollo-express server. But, after adding react-native application I see this:
[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/KbvYG.png

I am 100% that I am not breaking any react ho

[2020-01-19 01:48] #4448 closed

[2020-01-19 01:48] #3218 closed

[2020-01-19 01:48] #11985 closed

[2020-01-19 01:48] #11596 closed

[2020-01-19 01:48] #11997 closed

[2020-01-19 01:48] #6749 closed

[2020-01-19 01:48] #3789 closed

[2020-01-19 01:48] #10691 closed

[2020-01-19 01:48] #6397 closed

[2020-01-19 01:48] #12687 closed

[2020-01-19 01:48] #13111 closed

[2020-01-19 01:48] #13288 closed

[2020-01-19 01:48] #13223 closed

[2020-01-19 01:48] #13036 closed

[2020-01-19 01:48] #12955 closed

[2020-01-19 01:48] #12827 closed

[2020-01-19 01:48] #12753 closed

[2020-01-19 01:48] #12536 closed

[2020-01-19 01:48] #12012 closed

[2020-01-19 01:48] #11306 closed

[2020-01-19 01:48] #13439 closed

[2020-01-19 01:48] #11598 closed

[2020-01-19 01:49] #13355 closed

[2020-01-19 01:49] #13554 closed

[2020-01-19 01:49] #13469 closed

[2020-01-19 01:49] #13555 closed

[2020-01-19 01:49] #13563 closed

[2020-01-19 01:49] #11079 closed

[2020-01-19 02:48] #13626 closed

[2020-01-19 02:48] #13569 closed

[2020-01-19 02:48] #7412 closed

[2020-01-19 02:48] #13459 closed

[2020-01-19 02:48] #11971 closed

[2020-01-19 02:48] #4302 closed

[2020-01-19 02:48] #13624 closed

[2020-01-19 02:48] #13645 closed

[2020-01-19 02:48] #13701 closed

[2020-01-19 02:48] #13702 closed

[2020-01-19 02:48] #13863 closed

[2020-01-19 02:48] #13985 closed

[2020-01-19 03:35] ali41f commented on #13969
Exporting/importing removes circular dependency. This answer explains it perfectly [https://stackoverflow.com/questions/56384761/cannot-access-class-contexttype-within-a-child-component](https://stackoverflow.com/questions/56384761/cannot-access-class-contexttype-within-a-child-component)

[2020-01-19 08:42] wfnuser commented on #17845
@bvaughn Hi. May I take this issue? I would like to have a try.

[2020-01-19 09:32] grncdr commented on #16873
@VanTanev have you tried my fork? I've been using it since my last comment and haven't had any issues, but positive experience from others would presumably be interesting to the maintainers.

[2020-01-19 11:05] RajeshDundurthi opened #17868 "I was getting an issue about React Devtools and i had downloaded that and as per the instructions"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-01-19 11:08] RajeshDundurthi opened #17869 "Hi i got an error while compaling by code , and i had downloaded my React Devtools and added to the extensions now i can see in console (HMR) waiting for the update from WDS , i am not aware wat to do can you please help me out with these issues"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-01-19 14:03] M-Izadmehr commented on #17719
@bvaughn I did dig a little bit about this issue.
It seems to be an internal bug in firefox itself, it bocks inputs (just in devtool extensions) to receive the following events/cases:
1. onchange
2. oninput
3. contenteditable elements

However, the following events are working fine:
1. onclick
2. oncut/onpaste
3. onKey events

Also, adding `event.preventDefault` does not solve the issue because th

[2020-01-19 14:05] LXSMNSYC opened #17870 "Bug: useState and useReducer dispatcher should return the same reference."
Not really a bug but something that bothered/concerned me when writing hooks. Initially, I thought the dispatcher functions for `useState` and `useReducer` retained the same reference, but it wasn't until today when the dispatcher functions caused my `useEffect` hooks to re-run.

I was expecting this:

[code]
Not to log "Dispatcher changed!"

I think these dispatcher functions should really retain

[2020-01-19 17:35] darwin commented on #16505
I just want to add that there is currently a workaround via "Store as global variable". This delegates value to Chrome DevTools which causes the value to be re-rendered with custom formatters applied (if enabled).

But I agree that this is doable and would be a great improvement in React Devtools not only for ClojureScript developers - but anyone who relies on custom formatters for debugging (e.g.

[2020-01-19 17:48] #17078 closed

[2020-01-19 18:06] bvaughn commented on #17845
I would not have tagged this one a "good first issue" - but you're welcome to have a look @wfnuser :smile:

[2020-01-19 18:08] bvaughn commented on #17719
Thank you for the detailed follow up @M-Izadmehr! and thanks for filing an issue on bugzilla! 🙇

Given what you said, let's wait and see what the Firefox folks say about this before making any changes on our end.

[2020-01-19 18:12] bvaughn commented on #17870
Both dispatch and state updater functions are stable. 😄 They do not change between renders.

Your above code would log "Dispatcher changed!" once, because that's how the dependencies array works. (Your effect is run with the *initial* value, then not run again unless one of the dependencies change.)

If you think you're seeing something different, please provide a full repro that we can run and co

[2020-01-19 18:12] #17870 closed

[2020-01-19 18:14] bvaughn commented on #17869
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2020-01-19 18:14] #17869 closed

[2020-01-19 18:14] bvaughn commented on #17868
Duplicate of #17869

[2020-01-19 18:14] #17868 closed

[2020-01-19 18:15] bvaughn commented on #17867
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2020-01-19 18:16] bvaughn commented on #17867
FWIW it sounds like you've installed two copies of React (different versions) and you're importing/running hooks from a different copy than you're rendering.

Try running:
[code]

It will probably show two versions. You can tell Yarn which one you want it to actually install:
https://yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2020-01-19 19:30] ypresto opened #17871 "Bug: React.Node should not have `true`, or PropTypes.node warns it"
React version: 16.8.6

## Steps To Reproduce

[code]

## The current behavior

Flow does not emit error (as React.Node accepts `true`), but PropTypes.node emits below runtime error in browser's console.

[code]

## The expected behavior

Flow emits type error.

----

[According to a maintainer of prop-types](https://github.com/facebook/prop-types/issues/310#issuecomment-574986751), formerly React

[2020-01-19 20:16] ljharb commented on #17871
Note; I’m not claiming that, I’m suggesting it as a possible history. Clarification would be appreciated.

[2020-01-19 20:34] tonix-tuft commented on #17256
I can reproduce your error too.

[2020-01-19 21:48] #17087 closed

[2020-01-19 21:49] bvaughn commented on #17871
Why is this the expected behavior?

[The React docs say](https://reactjs.org/docs/jsx-in-depth.html#booleans-null-and-undefined-are-ignored):
[code]

[2020-01-19 22:07] ljharb commented on #17871
I’m wondering if perhaps true was invalid prior to react 15?

[2020-01-20 00:03] PixelMooort commented on #17867
@bvaughn Thx for your answer! I check workspaces with this command and i really had 2 versions of React. Then I upgrade the react package in react-native package.json and it works. Thank you!

[2020-01-20 00:03] #17867 closed

[2020-01-20 00:21] hassan-alam commented on #10468
@nhunzaker  Thanks man, is there any way you could change the label to `good first issue: taken`. I don't believe I can change labels on issues.

[2020-01-20 00:29] LXSMNSYC commented on #17870
Oh right, sorry, I thought I am a bit off yesterday and I forgot that it works that way 😅, thanks for taking the time to reply 😅

[2020-01-20 04:37] nhunzaker commented on #10468
Yep. It's all yours!

[2020-01-20 05:12] thincamel commented on #15958
...same issue ， react 15.5.4

[2020-01-20 09:09] cristinamarin22 opened #17872 "Error: "Could not find node with id "2153" in commit tree""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.4.0-f749045a5

Call stack: at chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:159909
    at Map.forEach (<anonymous>)
    at commitIndex (chrome-extension://f

[2020-01-20 09:16] #17041 closed

[2020-01-20 09:22] sbusch commented on #13525
@gaearon now that [Flare has gone out](https://github.com/facebook/react/issues/15257#issuecomment-565408356) (SCNR), is there an updated plan (regarding the [June 5th, 2019 update](https://github.com/facebook/react/issues/13525#issuecomment-499196939)) how to proceed?

And like @trusktr, I also would like to get #11347 addressed here.

[2020-01-20 10:59] kohut-denis commented on #10879
In my case, I've just removed `mode: 'development',` from my webpack config.

[2020-01-20 15:07] n8io commented on #7711
Here's a [codesandbox](https://codesandbox.io/s/hidden-dawn-jch81?fontsize=14&hidenavigation=1&module=%2Fsrc%2FApp.js&theme=dark) illustrating the bug. You can easily toggle between the React versions to troubleshoot. I have also confirmed that @FezVrasta's suggestion ☝️ does patch the bug for anyone looking for an interim solution.

[![image](https://user-images.githubusercontent.com/2074517/7273

[2020-01-20 15:08] kasperpeulen commented on #11538
@gaearon
As far as I can see, this workaround only solves part of the issue, it makes sure that no errors are thrown. It doesn't make sure that React actually updates the dom in a correct way. In our case this is quite unacceptable, our clients would not be able to see what they actually are going to pay for when google translate is enabled.

Wrapping your react component in a `<div className='not

[2020-01-20 16:19] ecreeth commented on #17872
https://github.com/facebook/react/issues/17802#issuecomment-572681518

[2020-01-20 17:55] bvaughn commented on #17871
Not sure! I wasn't on the team before v15. 🙂

I don't think that would change my stance on this issue though. I don't think this is a bug or requires any change from React.

[2020-01-20 17:56] bvaughn commented on #17872
4.4.0-f749045a5 should have the fix mentioned in that comment. So it seems like this bug is still around, just firing less frequently.

@cristinamarin22 Can you fill in the details on this part of the issue template?

[2020-01-20 18:36] ljharb commented on #17871
It requires a change in prop-types, however, (which i maintain) so it’d be useful to determine exactly when it changed. That said, there’s probably nothing actionable for react to do at this point and the issue can be closed.

[2020-01-20 21:47] lidoravitan commented on #17564
@bvaughn is it still  relevant? can I help with that?

[2020-01-21 00:02] hassan-alam commented on #10468
@nhunzaker  So if I understand it correctly, I need to create an iframe referencing an html document in `/public`, but how do I push a React form into that iframe? Do I just set up the iframe as a form from the beginning?

Also, for the auto-complete test-case, I understand that this is super browser dependant, but I was able to create a fixture that worked for me (using Chrome autofill in incogni

[2020-01-21 00:09] IsTheJack commented on #13991
After that, I'm getting: `Module not found: Error: Can't resolve 'react'`

[2020-01-21 00:11] bvaughn commented on #17871
Right, my comment was only meant for React. Looks like there's a separate issue filed against `prop-types` (https://github.com/facebook/prop-types/issues/310). I'm going to go ahead and close this issue down.

[2020-01-21 00:11] #17871 closed

[2020-01-21 00:14] bvaughn commented on #17564
Not sure what the right solution is to this. Maybe there's a reason Dan decided against handling the case this issue mentions (or maybe he just didn't think about it or get to it).

I'd be happy to have you pick up the issue but you'd probably want to coordinate with him about getting it landed.

[2020-01-21 01:01] ljharb commented on #17871
Did some testing; looks like React 15 disallowed `true`; React 16 allows it. I'll update the `prop-types` package.

[2020-01-21 03:53] jwongnz opened #17876 "Bug: Devtools shows Anonymous for memoized function components"
![image](https://user-images.githubusercontent.com/34125384/72774268-0794b500-3c5e-11ea-9840-93620f87dbe5.png)

React version: 16.12.0
React dev tools version: 4.4.0

## Steps To Reproduce

1. create-react-app
2. Render memoized function component
3. Inspect the component with latest React dev tools chrome extension

## The current behavior
Component's name in devtools is Anonymous, I've seen addi

[2020-01-21 04:35] #17106 closed

[2020-01-21 07:23] AlanSl commented on #15520
An ugly workaround while waiting for a proper fix here is to temporarily replace `console.error` with a no-op in expected error tests.

A snippet like this works for both this issue and another issue of coverage not being counted in `expect(render(<>)).toThrow()`:

[code]

[2020-01-21 07:25] kasperpeulen commented on #17256
Ah, yeah this is actually a different issue. Transover does not mutate the dom like google translate does.

[2020-01-21 08:33] Meberem commented on #13991
I have created a [stackoverflow question](https://stackoverflow.com/questions/59785539/using-one-webpack-project-inside-another-with-react-hooks-causes-an-error) with my experience of trying to get this to work. Would it be possible, for those who have managed to get this to work, to give it a look and offer some advice?

[2020-01-21 08:59] michalak111 opened #17877 "Bug: Child event listener is called after parent's one when rendered conditionally"
React version: 16.12.0

## Steps To Reproduce

If we have some `Parent` component which has event listener `document.addEventListener('mousedown', cb)` in `useEffect` or `cDM` and `Children` component which is rendered conditionally with element which has a listener on `onMouseDown` too then after Child is rendered callback action on `Parent` listener is called first.

Link to code example: https:

[2020-01-21 09:00] slorber commented on #16956
Hi @sebmarkbage

I've just read about the "zombie children" problem that react-redux has to deal with (cc @markerikson @dai-shi). A nice explanation is here: https://kaihao.dev/posts/Stale-props-and-zombie-children-in-Redux

![image](https://user-images.githubusercontent.com/749374/72789224-99d39380-3c33-11ea-9f49-c35a7944b16a.png)

To me, it seems like if we had a `useMutationEffect` / `useCaptur

[2020-01-21 09:35] michael-ecb commented on #15275
Hi,
is it an active issue ?

[2020-01-21 10:03] alikadir commented on #17876
I have similar issue,
default exported component shows anonymous in devtool

![Screen Shot 2020-01-21 at 1 01 00 PM](https://user-images.githubusercontent.com/11225437/72795168-3571fd80-3c4e-11ea-8897-7bbd6d5d81d9.png)

[2020-01-21 10:58] KevinKelbie commented on #17876
I think I found a workaround. If you do `SomeComponent.type.displayName = "SomeComponent"` it works. Here is a codesandbox for reference: https://codesandbox.io/s/laughing-rgb-v0puv

[2020-01-21 12:02] Pixelatex opened #17879 "Bug: Hooks fail with renderToString"
So I'm loading a precompiled react file into my server.js and using that to rendertostring.
(there is a very good reason why I'm doing it like this, don't ask about it, that's no part of the issue here)

This actually works but the moment you introduce hooks... it all goes to hell. I've tried setting react/react-dom as externals and such. Nothing works. It keeps throwing the same issue.

1. There

[2020-01-21 14:03] tonix-tuft commented on #17256
Don't you think they are related?

[2020-01-21 14:19] n8io commented on #7711
@brillout can you update the title of this issue so that it might get more exposure? I am thinking it has been ignored due to its cryptic title.

[2020-01-21 14:39] Pixelatex commented on #17879
Ok, seems like it was a duplicate React issue. UMD modules reinitiated React so changing the build output to a "commonjs-module" fixed it.

I'll leave this issue here just in case anyone ever encounters something similar. (also updated the fix in the repo)

[2020-01-21 14:39] #17879 closed

[2020-01-21 15:00] smaudd commented on #15344
Any updates? It could be really helpful to await dispatchs to perform any given task without using a lot of useEffect that doesn't really trigger on any order in particular.

[2020-01-21 15:01] threepointone commented on #17876
I would not recommend mutating `type.` A 'proper' fix for this, is to use a named function with `React.memo`, like so -
[code]
forking your example - https://codesandbox.io/s/laughing-rgb-v0puv-c0nc5

This could be enforced with an eslint rule (similarly for `forwardRef`, imo)

Closing since this is expected behaviour.

[2020-01-21 15:01] #17876 closed

[2020-01-21 15:03] threepointone commented on #17856
This is expected behaviour, React does not do shallow comparison by default (otherwise, every component would be memoized). This is also why `shouldComponentUpdate`/`.memo` are provided.

Closing since this is expected behaviour.

[2020-01-21 15:03] #17856 closed

[2020-01-21 15:37] lidoravitan commented on #17564
@bvaughn thanks for response, maybe next time :)

[2020-01-21 15:43] lidoravitan commented on #17564
@bvaughn  thanks for response :), @gaearon Is there a way I can help with this?

[2020-01-21 16:50] tjx666 opened #17881 "Bug: standalone react devtools can't save settings"
I don’t know if save settings are not supported in standalone react devtools, but I think it's a very basic function.
I use it to debug react project in electron, the repository is [coo](https://github.com/tjx666/coo). You may need to fallback the code to commit id: 44726520aa417b82712b5a4d91e14100048f23c3

React version: 16.12.0

## Steps To Reproduce

1.start standalone react devtools and set th

[2020-01-21 16:53] rsshilli commented on #13278
@mjhoffm2 I'm not convinced there's anything to fix in React.  I got this error too and it turned out that it was my fault: https://stackoverflow.com/a/59845764/491553

[2020-01-21 18:19] tommedema opened #17883 "Bug: onPointerEnterCapture and onPointerLeaveCapture result in `unknown event handler property`"
React version: v16.12.0 from https://unpkg.com/react/umd/react.development.js

## Steps To Reproduce

1. attach onPointerEnterCapture to a JSX element
2. observe `unknown event handler property` error in console

Link to code example: https://jsfiddle.net/tommedema/1uqoemxs/2/

## The current behavior

It displays a `unknown event handler property` warning

## The expected behavior

The capturing

[2020-01-21 18:24] patrickroberts opened #17884 "Bug: ReturnType<EffectCallback> prevents optional chaining sugar"
React version: 16.12.0

## Steps To Reproduce

[code]

## The current behavior

  Not all constituents of type 'void | (() => void | undefined)' are callable.
    Type 'void' has no call signatures.

The error makes sense, because `void` does not mean `undefined`, it means the type could be anything, and should not be observed. However, it is inconvenient because this is contrary to the contract e

[2020-01-21 18:25] bvaughn commented on #17881
I can't reproduce the behavior described using the latest version of `react-devtools` from NPM with either React Native *or* with a `create-react-app` application.

[2020-01-21 19:07] sebmarkbage opened #17885 "Enable a lint rule not to define after return and fix existing callsites"
https://twitter.com/therealyashsriv/status/1219691914523545601

We shouldn't generate code that might cause browser or linting to complain.

https://github.com/facebook/react/blob/0cf22a56a18790ef34c71bef14f64695c0498619/packages/legacy-events/SyntheticEvent.js#L259

It's also just a confusing pattern at best.

[2020-01-21 19:10] M-Izadmehr commented on #17885
Hey,
If possible I would like to take a look into this issue:)

[2020-01-21 19:17] bvaughn commented on #17885
@M-Izadmehr This issue is all yours! 😄

We've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let us know so that we can remove the label and free it up for someone else to claim.

Cheers!

[2020-01-21 19:17] sebmarkbage commented on #17885
@M-Izadmehr Great! Thanks for taking a look. I think the first step is to look at our es-lint config and enable a canonical lint rule that already exists upstream.

After that you should be able to open a PR which should fail the lint rule. After that you could do a separate commit that contains the code fixes. I wouldn't start by fixing the code though as that risks rebase issues.

[2020-01-21 19:19] hagaigold opened #17886 "Bug: state is not stable for local component"
React version: 16.12.0
Don't know if this the intended behavior or a bug... if not a bug it should be documented somewhere.

## Steps To Reproduce

[link to code example](https://codepen.io/hagaigold/pen/xxbmqoR)

## The current behavior

a local (to a function) component is destroyed every render, while an expression is not.

## The expected behavior

both local components and the JSX expression

[2020-01-21 19:24] TrySound commented on #17886
@hagaigold You render new component on every render. You should define all components in module scope. Not in another component render.

[2020-01-21 19:36] hagaigold commented on #17886
I would expect some warning if this is not allowed.
you can write easily a stateless "local component" that will look like it is working, while actually it recreates every time, (I actually saw this pattern elsewhere).
later on, someone else or you will try to change it to a stateful component...

[2020-01-21 21:04] bvaughn commented on #17886
@TrySound is correct.

@hagaigold Your example looks to be defining the `TempLine` component/function *inline* which means that every time the parent `ToDoList` component renders, it will create *a new* `TempLine`  component (a new function). React sees this new function as a completely new component type, so it will unmount the previous `TempLine` (and anything it renders- **all of its children**

[2020-01-21 21:04] #17886 closed

[2020-01-21 21:12] bvaughn commented on #17884
This issue looks to be entirely TypeScript related. The React team doesn't maintain the React TypeScript definitions. Those live in the DefinitelyTyped repo and are managed by the community.

The React source uses Flow for type checking, so our syntax (the commit you linked to) has a lot of subtle differences with TypeScript. I think that with Flow, `void` and `undefined` are the same thing as far

[2020-01-21 21:12] #17884 closed

[2020-01-21 23:56] jsdevel commented on #14620
this is definitely something that happens in applications all the time.  `useContext` is great for _consuming_ the contextual data in a component, but it isn't so great when you need to _provide_ context in an app with multiple providers.

[2020-01-22 04:04] KevinKelbie commented on #17883
There is support for pointer-events in v16.4.0:
https://reactjs.org/blog/2018/05/23/react-v-16-4.html

[2020-01-22 04:10] ijxsid commented on #16416
Hi @bvaughn, this issue still exists. I can try this one unless someone else is not actively working on it.

[2020-01-22 04:50] tjx666 commented on #17881
@bvaughn I made a minimal reproduce repository [react-devtools-example](https://github.com/tjx666/react-devtools-example), you can test with it.

[2020-01-22 15:25] dev-ahmed opened #17890 "Bug: ref object always return null with hooks"
the issue only happen with flatList

![image](https://user-images.githubusercontent.com/15056155/72907003-d4285800-3d3b-11ea-9d87-5f84ce22cea6.png)

[code]

[2020-01-22 15:31] threepointone commented on #17890
There's not enough information here to understand what's going on. Further, this doesn't seem to be a bug with React, I'd recommend filing it https://github.com/software-mansion/react-native-reanimated/issues. I'd also suggest including a repo with a runnable example when you do so.

My best guess, you're trying to use the same ref on multiple items (ie, every child of the flatlist.) That doesn't

[2020-01-22 15:31] #17890 closed

[2020-01-22 16:49] bvaughn commented on #17846
Just following up on this issue. Were you able to find out anything from Next.js? I'm wondering if we should close this issue (since it's not really actionable) and just continue to chat here if there are follow up questions.

[2020-01-22 16:49] bvaughn commented on #17833
Closing due to lack of info.

[2020-01-22 16:49] #17833 closed

[2020-01-22 16:50] bvaughn commented on #17649
Just following up on this issue since it's still in a state that's not very actionable for anyone on the team here. Any updates?

[2020-01-22 17:01] maxrothman commented on #17649
Sorry for the radio silence! I'm still planning on poking around in the
files you mentioned to see if I can make progress on this error, I just
haven't had the time yet.

On Wed, Jan 22, 2020 at 11:50 AM Brian Vaughn <notifications@github.com>
wrote:

[2020-01-22 17:03] ahmehri opened #17891 "Bug: Cannot download experimental React build from CI"
Following the [instructions](https://github.com/facebook/react/tree/master/packages/react-devtools#download-from-ci) for local development of react-devtools, it's not possible to download the experimental build from CI.

## Steps To Reproduce

1. Run the `./scripts/release/download-experimental-build.js` command from the root of the repository.
2. The following error will be thrown
[code]

[2020-01-22 17:15] bvaughn commented on #17891
I think this is a transient error that means that none of the recent CI builds were experimental builds.

Looking at the list of recently completed tasks, they look to all be our "fuzzy test" target that runs once every so often:
https://circleci.com/gh/facebook/react

The metadata that's returned (at least at the moment) is all full of "fuzzy test" jobs too:
https://circleci.com/api/v1.1/project/

[2020-01-22 22:31] sahibjotsaggu opened #17893 "[react-test-renderer]: Cannot read property 'current' of undefined"
Searched online and the only solution was to keep react, react-dom, and react-test-renderer packages the same version. I have those three packages as the same version (^16.8.6) but I'm still getting the error.

React version: 16.8.6
React DOM version: 16.8.6
React Test Renderer: 16.8.6

My test script is `jest --env=jsdom`

Using Babel v7.

<img width="866" alt="Screen Shot 2020-01-22 at 5 28 39 P

[2020-01-22 22:52] bvaughn commented on #17893
@sahibjotsaggu Can you share something that we can actually run? Pictures of code requires a lot of work for someone (like me) to recreate your project setup, and there's always a chance that some important detail is missing from one of the pictures that will prevent me from being able to reproduce the problem. (Like you may actually have different React versions installed. The info above doesn't

[2020-01-23 03:50] hsluoyz commented on #12014
I don't like the <div></div> wrapper. Any update?

[2020-01-23 05:16] PezCoder commented on #16265
I think the explanation the @gaearon https://github.com/facebook/react/issues/16265#issuecomment-517518539 mentioned totally makes sense & the plugin is completely right on throwing the error. But for cases where we know the function isn't working with `this` & that it won't change, this just executes the effect more than what is required.

Keeping the warnings open isn't an option in such cases,

[2020-01-23 05:30] fyodore82 opened #17894 "Bug: button onFocus not called when focus() called from useEffect cleanup"
React version: 16.12.0

## Steps To Reproduce

1. Have a `<button/>` HTML element with `onFocus` event handler defined
[code]
2. Have another component with `useEffect` cleanup code which will call `focus()`
[code]

When the cleanup code from `useEffect` is called, `onFocus` event handler of the `button` is not called. The `button` is rendered in a component which is mounted when `useEffect` clean

[2020-01-23 05:49] Siddhchakra commented on #9607
Hi emilwikstrom,
Could you please share the workaround?

It would be very helpful.

[2020-01-23 07:55] jkiss commented on #1159
You could set [autocomplete="off"](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete) attribute(HTML5), or record input value in url hash.

[2020-01-23 11:42] ramiel commented on #16873
Any news on this. It's very annoying now because you cannot use reliably this lint rule when you use custom hook, so you have to disable the rule leading to potential dangerous situations

[2020-01-23 11:58] kravets-levko commented on #16873
IMHO it would be great if this rule could detect some common "static" patterns in custom hook, for example if custom hook returns result of `useRef()`/`useCallback(..., [])`/`useMemo(..., [])` etc.

[2020-01-23 11:59] leidegre opened #17895 "Bug: fix BigInt in copyElementPath in react-devtools"
This is a continuation of an previous issue to add support for the BigInt data type in React DevTools.

Original PR https://github.com/facebook/react/pull/17233 (merged)

This happens when you try to copy a BigInt value to clipboard via React DevTools.

![](https://image.prntscr.com/image/c4SnNIPXR1GlSXIt49FOlw.png)

Would @nutboltu mind taking a look?

[code]

[2020-01-23 12:00] vkurchatkin commented on #17894
It also seems that this is only broken when the effect is unmounting, but works fine when it is updating:

[code]

In this example the input isn't even focused at all, but if you change `key={state}` to `k={state}` it works fine, although there is seemingly no reason for such a discrepancy.

[2020-01-23 12:28] dhiahassen commented on #12324
Same here still doesnt work

[2020-01-23 14:20] ramiel commented on #16873
Indeed. Still there may be ambiguous situations  and so having the ability to set it up through options could still be needed

[2020-01-23 14:38] malixsys commented on #14066
include `inc` in array and use React.useRef to check if count has changed, if it has, destroy the previous interval and recreate it...?

[2020-01-23 15:58] joaomoleiro opened #17899 "Bug: styles object using css variables and both a shorthand and a specific property renders incorrectly"
React does not produce the correct css inline styles when using css variables for both the shorthand property and another specific one (like `padding` and `paddingRight`).

The styles object:

[code]
produces the following styles:

![image](https://user-images.githubusercontent.com/23476208/72995030-1d39e400-3df0-11ea-9235-0e6ad00718b2.png)

and the following html:
[code]

even though the computed

[2020-01-23 16:42] ayal commented on #14066
@AyWa 's solution worked for me (i.e using a reducer)

However I was able to solve a similar issue (subscribing once in useEffect and updating state in callback) while still using useState(), alongside with the "function updater" option of the state update function

as mentioned here:
https://reactjs.org/docs/hooks-reference.html#functional-updates

[2020-01-23 16:44] ayal commented on #14042
@AyWa 's solution worked for me (i.e using a reducer)

However I was able to solve a similar issue (subscribing once in useEffect and updating state in callback) while still using useState(), alongside with the "function updater" option of the state update function

as mentioned here:
https://reactjs.org/docs/hooks-reference.html#functional-updates

[2020-01-23 16:56] bvaughn commented on #17899
I reported this some time back (#8689) but it didn't get much traction at the time. The [response](https://github.com/facebook/react/issues/8689#issuecomment-270587020) I got was that supporting the expected behavior would be too costly, but maybe React could have a DEV warning.

[2020-01-23 17:06] burnmaniac commented on #17645
@bvaughn Sorry for my absence.

I can't reproduce it on CodeSandbox for some reason. Is it okay if I create a project using create-react-app and try to reproduce it there?

[2020-01-23 17:07] bvaughn commented on #17645
Yes.

[2020-01-23 17:29] albertxing commented on #16087
Regarding

In #17581 I suggest that most if not all input nodes are retained by the browser; in which case React might wish to detach fibers from all input nodes, not just nodes with refs. These leaks are occurring automatically and are not necessarily caused by developer error.

Do we think this should be prioritized? I'd be happy to contribute, though I'm not familiar at all with the unmounting/

[2020-01-23 17:32] leonascimento commented on #17895
@bvaughn could I work on this issue?

[2020-01-23 17:34] joaomoleiro commented on #17899
In this case it seems that it works OK if I do not use a css variable.

This:
[code]
translates to:
[code]

But this:
[code]
translates to:
[code]

Nevertheless a DEV warning would be nice (if supporting the expected behavior is too costly).

[2020-01-23 17:38] bvaughn commented on #17899
I don't know the history of this particular part of ReactDOM, so I'm not sure what thought has gone into this before and if there are any good reasons for the current behavior (and lack of warning) other than "no one has got around to building it"

I agree though that a warning would be nice.

[2020-01-23 17:49] bvaughn commented on #17899
cc @syranide in case you can share any more background context.

[2020-01-23 19:18] william0bra commented on #16477
up

[2020-01-23 21:19] syranide commented on #17899
@bvaughn Hey! I can't speak for the CSS-variable part of this question. But not supporting overlapping styles is simply put a performance/complexity problem. If React does not support overlapping styles it can naively iterate the prev/next and apply any changes as a property, very quick and simple. If overlapping styles are supported then React must have knowledge of how shorthand properties are d

[2020-01-23 21:24] nutboltu commented on #17895
@leidegre I will take a look.

[2020-01-23 21:26] syranide commented on #17899
Just to illustrate; it used to be, and I assume it still is, that setting a shorthand property incurs the same cost as if you individually set all the properties it decomposes into. So if you have e.g. `font` + `font-size` and change either of them, it would effectively incur something like 1+7 property updates instead of just 1, on-top of that you have the additional non-trivial cost of having Re

[2020-01-23 21:59] bvaughn commented on #17895
@nutboltu: This issue is all yours! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2020-01-23 22:00] bvaughn commented on #17899
Understood RE: the performance benefits. Was more curious to know if the DEV warning had been investigated previously and determined to also be too expensive.

[2020-01-23 23:18] tommedema commented on #17883
@KevinKelbie thanks but that blog post does not list `onPointerEnterCapture`, only `onPointerEnter`. Do you know if this is a mistake? I specifically need the capturing phase

[2020-01-24 03:01] #16872 closed

[2020-01-24 09:36] Praveencena88 commented on #13399
@PhoenixRe32  have you resolved this issue?

[2020-01-24 10:08] bobrosoft commented on #15156
@dai-shi hi, I just found your `react-tracked` lib and it looks really good if it solves performance issues as it promises. Is it still actual or better to use something else? Here I see good example of its use also it showcases how to make middleware level with `use-reducer-async` https://github.com/dai-shi/react-tracked/blob/master/examples/12_async/src/store.ts  Thanks for it. Currently I've do

[2020-01-24 11:03] dai-shi commented on #15156
@bobrosoft `react-tracked` is pretty stable, I'd say (as one developer product for sure). Feedback is very welcome and that's how a library would get improved. Currently, it internally uses an undocumented feature of React, and I hope we would be able to replace it with a better primitive in the future. `use-reducer-async` is almost like a simple syntax sugar which would never go wrong.

[2020-01-24 11:14] Praveencena88 commented on #13182
@gaearon  i'm also facing the same issue after updating all the babel, jest & react-native dependencies

[2020-01-24 14:22] #16443 closed

[2020-01-24 16:25] inoyakaigor commented on #16474
So, what's the decision? Are there any hook names in the plans, and if so, what way will be chosen and is there a specific date or version number?

[2020-01-24 16:29] bvaughn commented on #16474
There is no decision on this. If there were, that info would be on the issue.

[2020-01-24 16:50] tuxedo007 opened #17905 "installed but not showing up on dev tools menu"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-01-24 17:00] rsshilli commented on #16382
I can't figure out how to use `dangerouslySetInnerHTML` to add an `href="javascript:void(0)"` but not allow an XSS attack by accident with something else.  Does somebody have a code sample of the correct way to use `dangerouslySetInnerHTML` to solve this problem?

[2020-01-24 17:20] #17905 closed

[2020-01-24 17:58] YassienW commented on #16382
I started using `e.preventDefault()` since it seems like the easier option

[2020-01-25 11:35] MatthijsMud opened #17909 "Bug: Events from an <input> in the <legend> of a disabled <fieldset> get supressed"
The closest related issue I could, is somewhat of the inverse of this one: #7711

React version: 16.12 (older versions as well)

## Steps To Reproduce

1. Create a component
2. Add state indicating whether it is enabled or disabled (advised to start as enabled)
3. On render, let the component return a `<fieldset>` with: a `<legend>` containing an `<input>` (checkbox) element, and another form elem

[2020-01-25 12:12] BruceSuperProgramer commented on #8672
You didn't see shouldComponentUpdate triggered that is because the screen you had shouldComponentUpdate on it already unmounted. Make sure your app didn't navigate to another screen when you test update life cycles.

[2020-01-25 19:24] arackaf opened #17911 "Bug: startTransition suspends immediately when useLayoutEffect is present"
React version: 0.0.0-experimental-f42431abe

Please note that I do realize my repro steps are poor at best. I'm *not* filing this issue in hopes of support; I'm only filing this issue to provide one more datum point to help diagnose what I believe to be a bug, which I'm assuming you'll see more reports of.

## Steps To Reproduce

tl;dr - there are some circumstances when a thrown promise inside a

[2020-01-25 22:35] ideffix commented on #17909
I've checked that on:

- Edge 79 Beta
- Edge 18
- Chrome 79
- Opera 66
- Safari 13
- Firefox 72

It looks like described bug only appears on **Firefox**. In addition when you uncheck checkbox on **Edge 18** it becomes disabled and you cannot change its state again.
@bvaughn If you think it is a ReactJS bug and it could be good first issue then I would be glad if I could take it :)

[2020-01-26 01:04] #17147 closed

[2020-01-26 01:04] #17022 closed

[2020-01-26 06:17] SteveMellross commented on #16728
I think this should also apply to effects within a single component since you may have exactly the same dependencies between effects.

I'd also prefer it to be the default behavior since it seems like, if there are dependencies between effects, the cleanup would be much more likely to be stack-like than queue-like.

[2020-01-26 12:30] AjaxSolutions opened #17912 "Question: Can the useContext hook be used without a provider?"
Is it a correct form to use the useContext hook without the enclosing provider?

See this simple [sandbox](https://codesandbox.io/s/3q2x15l4rm) which uses  the JediContext.Provider.

In this modified [sandbox](https://codesandbox.io/s/react-hooks-usecontext-z2ryh) I removed the provider and the useContext hook still works.

What are the consequences of using the useContext hook without a provider?

[2020-01-26 13:01] vilmes21 commented on #1649
I had the same problem. So I programmatically set a `react ref for my video tag`, then wrote         `this.videoRef.current.play();`

[2020-01-26 13:29] Attrash-Islam commented on #8873
Interesting how we can do such a solution that you suggested @gaearon but also works for both: _ref functions_ and _useRef_ 🙂 Child can pass ref as a function and pass the useRef object and it works as expected with the parent being use _useRef_.

[2020-01-26 14:52] exapsy commented on #6006
Why is it not a bug?
Your reply requested a different solution. Which might not even fit in others cases. There wasn't any discussion over whether this is a bug or not. React.cloneElement purpose is to add additional properties, and onClick is one of them. So, probably it should work I think.

[2020-01-26 15:00] ramsunvtech commented on #13493
@gaearon, How about adding [DOMPurify](https://github.com/cure53/DOMPurify) to sanitise the HTML before inserting it in the DOM via dangerouslySetInnerHTML

[2020-01-26 15:59] bvaughn commented on #17909
I don't know enough about this part of React DOM to say whether it's something that React DOM should smooth over or just a browser bug. (Have you tried to see if this behavior can be reproduced in Firefox without React?)

[2020-01-26 16:33] bvaughn commented on #17912
I don't think this is a question about the `useContext` hook so much as it is a question about the Context API and it's default value behavior. For that I suggest checking out the Context page:
https://reactjs.org/docs/context.html

Specifically, this section:

In addition to being useful for testing, default value can also be useful for shared components that want to implement a default behavior

[2020-01-26 16:33] #17912 closed

[2020-01-26 18:49] EsTharian commented on #17590
I'm sorry but it's not seem to be a bug. Because, undefined is parallel with null or empty string while rendering. Issue should be opened as requesting new feature and, I think, it will be a good feature for all props.

[2020-01-26 19:07] ideffix commented on #17909
[Here](https://codesandbox.io/s/romantic-keller-1ljub?fontsize=14&hidenavigation=1&theme=dark) I've created example that use pure Javascript and it works. As @MatthijsMud said - after second click on checkbox it doesn't execute onChange method and consequence of this is that **enabled** stays **false** so fieldset is always set to **false** after first checkbox click.

[2020-01-26 21:05] bvaughn commented on #17909
Seems like a bug then. Help yourself if you'd be interested in digging in, @ideffix :smile:

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2020-01-27 01:47] bvaughn commented on #17812
I will be posting an RFC sometime this week. (I've already written it, just haven't shared it broadly yet.) It won't be find-by-name, rather find-by-component (the function/class itself), and there will be a couple of other constraints- but I think there's a good path forward for e2e.

I'm going to close this issue because this sort of API should be an RFC anyway, but I'll leave a comment here to

[2020-01-27 01:48] #17812 closed

[2020-01-27 07:21] Praveencena88 opened #17913 "TyperError: this._instance.render is not a function"
After updating all the react-native and jest dependencies for app, test is not running its throwing error like this,

Error :

[code]

Package.json :

[code]

babel.config.js :

[code]

[2020-01-27 10:22] hristo-kanchev commented on #17389
Hey @bvaughn !

Are we still looking at adding this feature?

Maybe we can have a checkbox in Settings -> General that will allows the user to dock the Component State/Props/.. to the bottom instead of supporting resizing for that pane?

What do you think?

[2020-01-27 10:50] serzmerz commented on #16263
Any ideas on how to fix it in gitkraken?

[2020-01-27 12:28] FibreFoX commented on #12014
There is some RFC open (it even is linked): https://github.com/reactjs/rfcs/pull/129

[2020-01-27 13:09] Matthew-Goldberg commented on #14125
OK the `jsdom` issue is now fixed: https://github.com/jsdom/jsdom/pull/2799
When that is released we can upgrade the `jsdom` version to pick up the fix, and re-implement the test which should now be useful.

[2020-01-27 13:44] jamesknelson commented on #17201
Would still love an answer on this one!

[2020-01-27 15:39] bvaughn commented on #17389
Resizability, yes. Would still be open to adding that behavior in.

A checkbox to force a bottom docking position- not really a fan of that.

[2020-01-27 15:51] bvaughn commented on #17913
It doesn't look like this bug report has enough info for one of us to reproduce it. Bugs without repro info may be closed.

Please provide either a link to a repository on GitHub or a minimal code example that reproduces the problem. Screenshots or videos can also be helpful if they help provide context on how to repro the bug.

Here are some tips for providing a minimal example: https://stackover

[2020-01-27 16:18] satya164 commented on #17913
Seems you're using enzyme. Isn't this related to enzyme and not React?

[2020-01-27 16:23] Lexicality commented on #14398
This issue is also still relevant, unless class components are being deprecated?

[2020-01-27 16:25] bvaughn commented on #17913
I'm closing this issue. Looks like it's been reported on Enzyme's repo too :
https://github.com/airbnb/enzyme/issues/2319

[2020-01-27 16:25] #17913 closed

[2020-01-27 16:46] JoshClose commented on #14398
I sure hope not. I went full in on hooks and found I really don't like them. Class components with typescript are so much better IMO.

[2020-01-27 21:20] thehappycoder opened #17917 "Bug: Stale state state with combination of a closure fn and memo"
Before I create a working code example demonstrating the problem, please let me know if it's a known issue (afaik, it's not reported but I am not sure).

I am experiencing a stale state issue with combination of hooks, closure fn and memo.

Parent component:
[code]

Child component:
[code]

As soon as I remove memo from the Child component, selectLeftPart in the parent component console logs curre

[2020-01-27 23:11] bvaughn commented on #17201
The wording of the README isn't super accurate for `useSubscription`. I kind of copy-pasted that READ (with some tweaks) from `createSubscription`.

That being said, `useSubscription()` still has some downsides (both deopts and potential tearing). The decision to use a passive effect instead of an active one was a tradeoff between lesser bad options essentially.

I took the time this afternoon to

[2020-01-27 23:11] #17201 closed

[2020-01-27 23:17] bvaughn commented on #17917
What is `selectLeftPart`? The Parent passes it to the Child but the Child never uses it. Presumably you actually meant `selectSentencePart`? (or the other way around)?

If _that's_ the case, (which I assume it is), then the code above has a bug. 🙂

It is intentionally excluding `props. selectSentencePart` from the memo check, so React won't re-render if that's the only prop that's change. This mea

[2020-01-27 23:17] #17917 closed

[2020-01-28 05:00] sahibjotsaggu commented on #17893
This was for a private project that isn't too big, so I started making a standalone project as a demo that didn't include any confidential information and I figured out that my problem was I hadn't updated all my babel packages to be compatible with babel v7. Specifically, it was the `babel-polyfill` package that still needed to be updated.

[2020-01-28 05:00] #17893 closed

[2020-01-28 07:34] thehappycoder commented on #17917
@bvaughn Yes, I meant to pass the fn as `selectSentencePart` to the child. I'll update the code.

Sorry, what I meant to say in this issue is that in my case, there is no way to define a callback in a stateful functional component and at the same time keep Child optimised. Yes, I could wrap `selectLeftPart` in `useCallback` and pass `[selectedLeftPart]` to it as a 2nd parameter but, in the real co

[2020-01-28 08:00] dubzzz commented on #17515
Closing the issue as the originally reported issue is an expected behaviour due to a lack of key in my code snippet.

I might re-open another issue concerning the second problem as it does not seem to be expected. But I first need to check if it is still the case with the latest version.

[2020-01-28 08:00] #17515 closed

[2020-01-28 08:30] angry-dan commented on #11996
Say I want to make the simplest todo list (no storage, items stored in state only)
I have a state object holding an array of todos (strings): ```
['buy milk', 'book appointment']```

Now I want to render that list, I could use the string as a key, but my list is user generated content, and for some reason I might well create the same todo twice. So I could use `key={Symbol(str)}` and as long as I

[2020-01-28 09:49] gangeshRoy commented on #3163
I am getting  error.
 how to fix.

 WARNING in ./~/prop-types/prop-types.js                                                                                 Critical dependencies:                                                                                                  1:482-489 This seems to be a pre-built javascript file. Though this is possible, it's not recommended. Try to require the or

[2020-01-28 12:43] OliverJAsh commented on #16481
This would be really useful. Right now I'm investigating why there are 30 separate commits during page load when there really only needs to be a handful. The issue is that my selector's are not memoized correctly, but without seeing the props at each commit, it's impossible for me to understand which selectors are "broken" (i.e. not memoized correctly).

[2020-01-28 13:06] OrKoN opened #17918 "Bug: infinite loop when a set state hook is called in a global handler"
To be honest, I am not 100% sure it's a bug. Perhaps my code is badly written but I don't know why it's not working or how to rewrite it in the proper way.

React version: 16.12.0

## Steps To Reproduce

[code]

1. Open this jsfiddle https://jsfiddle.net/z4ku39t2/2 or try the code above
2. Click Print button and cancel the print dialog

Link to code example: https://jsfiddle.net/z4ku39t2/2

## The

[2020-01-28 14:30] gaearon commented on #17855
I'm not sure I understand — this is exactly what I filed the issue about. :-) So yes, I think it is an important difference. I'm hitting this issue every day.

[2020-01-28 14:32] gaearon commented on #17855
That sounds like it would *always* remove the highlighting after a few seconds. That sounds like it would solve this issue by making the other case worse.

Ideally, all I want is for highlighting to reliably be removed the very moment I put my cursor outside the DevTools. Just like the native one does.

I understand there are edge cases like "what if I keep using the keyboard" but I'm not hitting

[2020-01-28 15:07] thecodrr commented on #17918
I can confirm and reproduce this bug.

[2020-01-28 15:25] gaearon commented on #17855
I spent half an hour here and I don't have even a remote idea for why the event doesn't fire. Let's ask twitter. https://twitter.com/dan_abramov/status/1222178476817633282

[2020-01-28 15:56] bvaughn commented on #17917
There is a hook specifically for this, `useCallback`.

Stale closures would affect class components too.

[2020-01-28 16:22] garetmckinley commented on #16873
Commenting to bump this thread and show my interest. Working on a large codebase with lots of custom hooks means that this would allow us to more reliably use the hooks linter. I understand that the reason they might not want to allow this, is because it could enable people to introduce dangerous bugs into their apps. So maybe it's a feature that should be added with a large disclaimer.

It's pret

[2020-01-28 16:39] bvaughn commented on #17918
Interesting. Looks like this has been reported before for people using the `react-to-print` package (but not in this repository):
* https://stackoverflow.com/questions/56381941/react-to-print-how-to-change-state-in-onafterprint-when-closing-print-window
* https://www.gitmemory.com/issue/gregnb/react-to-print/132/497451538

Looks like that library just calls `props.onAfterPrint` synchronously right

[2020-01-28 16:45] OrKoN commented on #17918
The print function is still sync in Chrome but not in Safari and that was our workaround for this (use case: modify some state for printing and revert after printing). It seems like the following mitigates the problem:

[code]

[2020-01-28 16:47] bvaughn commented on #17918
This does not match my testing a few minutes ago.

[2020-01-28 16:58] thedanchez commented on #17321
@gaearon I have to say I'm very discouraged by the lack of activity on what I think to be a very important topic of discussion here. When will the React Core Team revisit this?

[2020-01-28 17:34] grncdr commented on #16873
This is way beyond the scope of what ESLint can do (it would require whole-program taint-tracking) so definitely not going to happen here.

I would totally understand this point of view, but until somebody from the React team replies, I'll keep hoping (and using my fork 😉).

[2020-01-28 19:17] crisscrosskao commented on #17813
I'm actually still having this bug on version 4.4.0. It works for me in Chrome, but not for me in Electron.

![Screenshot from 2020-01-28 11-17-26](https://user-images.githubusercontent.com/5176026/73297113-d1a48300-41bf-11ea-9d98-84711b90973c.png)
![Screenshot from 2020-01-28 11-16-54](https://user-images.githubusercontent.com/5176026/73297114-d23d1980-41bf-11ea-8ab2-28d8d9d7c98e.png)

[2020-01-28 19:21] bvaughn commented on #17813
@crisscrosskao Going to need a repro.

[2020-01-28 20:21] thehappycoder commented on #17917
I'll create a working example to demonstrate that `useCallback` doesn't help.

[2020-01-28 20:47] ideffix commented on #17909
I've done some digging and I ended up in **EventListener.js** and **addEventBubbleListener** function. It adds for **document** click event listener. However when HTML element(fieldset, input) is disabled it doesn't fire click event on Firefox. Please check this example both in Chrome and Firefox [here](https://codesandbox.io/s/boring-jepsen-ty2eh?fontsize=14&hidenavigation=1&theme=dark). So it lo

[2020-01-28 20:51] bvaughn commented on #17909
Nice follow up work, @ideffix!

Seems like maybe we should close this issue then and file one over on https://bugzilla.mozilla.org ?

Looks like this one is related, so maybe you could just add the info above to it?
https://bugzilla.mozilla.org/show_bug.cgi?id=1428838

[2020-01-28 20:52] Sin9k commented on #9851
Hello guys, a lot of colleagues asked me to clarify them the difference between classic method and arrow function method in ES6 class and I created a short video where i explain the differences. May be it will be usefull for you too:

EN: https://youtu.be/19teBd3lrpk
RU: https://youtu.be/sJ4zRZ4fOdc

[2020-01-28 21:09] thehappycoder commented on #17917
@bvaughn The following example demonstrates that `useCallback` doesn't help whereas class component saves the day https://codesandbox.io/s/intelligent-bird-wvbdb?fontsize=14&hidenavigation=1&theme=dark

[2020-01-28 21:13] ideffix commented on #17909
Yes sure - I think we can close this :)

[2020-01-28 22:58] bvaughn commented on #17909
Thanks for the investigation then! 🙇

[2020-01-28 22:58] #17909 closed

[2020-01-28 23:44] bvaughn commented on #17917
Why does your `useCallback` example declare the `selectedItem` as a dependency? It isn't actually used. The thing that *is* used, `setSelectedItem`, is stable between renders (so it wouldn't recreate the callback).

It's not clear from your example above why the outer component needs to "*accesses selectedLeftPart*", but if it *does*, this is why the state updaters let you pass an updater function

[2020-01-29 00:23] dotproto commented on #17855
I mentioned this [on Twitter][1], but I dug through devtools source to figure out how they were handling mouse movement & highlighting DOM elements.

It looks like the main place devtools updates the hover state is in their [_onmousemove][2] handler. This function in turn calls [_highlightTreeElement][3] which, interestingly, isn't referenced by any other event handler.

A few other methods (`_onf

[2020-01-29 00:51] gaearon commented on #17321
@thedanchez

As far as I'm aware, there is nothing that prevents you from creating a repository, moving the code there, and releasing a package. Shallow renderer has no dependencies on the actual React implementation, so you shouldn't need our permission or assistance to start working on this.

I'm sorry I haven't replied to you earlier — as you can see, there are 476 other open issues, and notifi

[2020-01-29 00:52] gaearon commented on #17321
cc @NMinhNguyen who also expressed interest in setting up the repository and a package. He has a good understanding of how these are set up in general, so he can help you out if you're blocked on figuring this out.

[2020-01-29 00:55] NMinhNguyen commented on #17321
@gaearon I’ll start a new repo tomorrow (ish)

[2020-01-29 01:08] ljharb commented on #17321
@gaearon it's not just about setting up a package tho; is there any interest from the react team in https://github.com/facebook/react/issues/17321#issuecomment-569324476 ?

[2020-01-29 01:11] NMinhNguyen commented on #17321
@ljharb https://github.com/facebook/react/pull/16168#issuecomment-518634232

[2020-01-29 01:13] ljharb commented on #17321
Specifically, this part:

[2020-01-29 01:13] ljharb commented on #17321
With that commitment, I'll make a repo for it this week, and start moving towards using it in enzyme.

[2020-01-29 03:44] thehappycoder commented on #17917
@bvaughn  Thank you. I haven't thought about using a setter like this. In my app, it's slightly more complicated because I use 2 states, so it's going to be a bit more messy..

To clean it up a bit, I should probably combine 2 states into 1 of type. However, it's still more involved and not straight-forward approach to me, so I'd use class in this case.

[code]

[2020-01-29 03:58] bvaughn commented on #17917
Sounds like a good case for `useReducer`. Its `dispatch` function is stable (so you wouldn't even need a callback) and the reducer function always gets passed the current/latest state.

[2020-01-29 09:50] kornfleks commented on #14620
Here is a closure alternative of @alesmenzelsocialbakers solution:
[code]

Downside is that you have to write each specific Provider component.
*Example:*
[code]

[2020-01-29 14:34] magnetnation commented on #17355
We also experience this issue.
React 16.12.0
OS: IOS 13.3
Browser: Safari

We have tons of cases were we call one or multiple 'setState' in 'componentDidMount'. It has never been an issue. Moving this calls to other places is not an option.

[2020-01-29 14:53] gaearon commented on #17321
I'm not sure I understand what this means. How would a React release be able to break the shallow renderer if the shallow renderer doesn't depend on React internals?

[2020-01-29 14:55] gaearon commented on #17321
Does this sound reasonable? We already publish `@next` builds so you can use them in the integration tests. If something breaks, you can let us know here. https://reactjs.org/blog/2019/10/22/react-release-channels.html#using-the-next-channel-for-integration-testing

[2020-01-29 14:58] NMinhNguyen commented on #17321
FYI I've begun work on extracting the shallow renderer and got all tests passing locally: https://github.com/NMinhNguyen/react-shallow-renderer. Will work on setting up builds and CI etc. later this week

[2020-01-29 15:35] malishahi commented on #15006
I have the similar issue, I have canceled the axios request, but I get this Warning only on the first unmount of a component. This warning does not happen on the next umount of a component.

See below codes:

import React, { useEffect } from "react";
import CurrentOperatingStatus from "./current-operating-status"
import { useDataApi } from './lib/data-api'
import Controllers from './cos-table'

ex

[2020-01-29 16:15] maciekgrzybek commented on #14721
Not sure if that will help anyone, but what worked for me was:
 - in rollup.config.js setting up externals, just like @adraeth mentioned before, so:
[code]
- remove `react` and `react-dom` from the dependencies and move them to `peerDependencies`
- and (I can't stress this enough) remove and reinstall node_modules

Hope that helps 🤞

[2020-01-29 16:31] dai-shi commented on #15317
Please forgive me, @kitten. I was wrong.
I just stumbled upon this issue [while I was developing a new library](https://github.com/dai-shi/react-suspense-router/blob/c325f28c6fd40779f9ca6c3e69dc07a8e7ec6ad2/src/Route.tsx#L62).

I may misunderstand something either for suspense support. Still figuring out best practices.

----

Just found https://github.com/FormidableLabs/urql/pull/514, so you coul

[2020-01-29 16:36] timkindberg commented on #13991
I'm porting a jquery application to React. I have a utility to expose React components within jQuery called `asJqueryPlugin`. Here is the file:
[code]

The app has many entry points in Webpack, and about 3-4 components are using this technique now. When components are bundled into different entrypoint bundles, I believe that's when the issue happens.

So if I have two entrypoints in Webpack:
[code

[2020-01-29 16:37] benlinton commented on #15315
If you're coming here because you're using a HOC + `makeStyles` from Material UI,
here is your answer:  https://stackoverflow.com/questions/56329992/invalid-hook-call-hooks-can-only-be-called-inside-of-the-body-of-a-function-com

[2020-01-29 16:46] sebmarkbage commented on #15317
@FredyC The issue with the subscription based approach is what you do when the subscription fires after we’ve rendered that component but before we’ve committed it onto the screen and we get an update. React can do two things with that information. If React doesn’t immediately stop then the rest of the tree will get the new state and it will be inconsistent and cause tearing problems. If React doe

[2020-01-29 18:25] Abdulwahab-dev commented on #12511
I solved the same issue with the help of this link

https://support.google.com/chrome/answer/95669?co=GENIE.Platform%3DDesktop&hl=en

[2020-01-29 18:42] kitten commented on #15317
@dai-shi Yes, but our solution is only possible because we can subscribe on mount and unsubscribe immediately which is our implementation for `getCurrentValue`, so we’re side-stepping the problem in our new approach.

We essentially stop listening between the first render (mount) and the commit phase. So this only works in our case because we can stop all side-effects in-between both phases.

[2020-01-29 18:58] davidalekna opened #17924 "Bug: useEffect async try catch block with state updater from useReducer."
I'm not sure if this is a bug, but it's an unexpected behaviour to me. I have an async function in useEffect, that function has try catch block. Before try catch state updater function is not being called. If I call state updater function within try {} with 2 different parameters only last one gets called.

React version: 16.12

## Steps To Reproduce

1.
2.

Link to code example: https://codesandb

[2020-01-29 19:37] ljharb commented on #17321
@gaearon by changing what "rendering" means such that the shallow renderer's output no longer mirrors the React's output (for the first level, ofc).

[2020-01-29 20:31] robin-drexler opened #17927 "Bug: Autocomplete not working for controlled input"
React version: 16.12.0

## Steps To Reproduce
1. Have a form with controlled input (i.e. value is set through `onChange` handler)
1. Type `cheese` into the input
1. Submit the form
1. Reload the page
1. Focus the input, type `c`
1. `cheese` is *not* suggested

https://codesandbox.io/s/ancient-currying-oqgt6

It works when a uncontrolled input is used (i.e. value is not set by react `onChange` hand

[2020-01-29 21:01] bvaughn commented on #17924
This looks like some confusion. Your reducer does get run with both values (2 and 7) but your component only re-renders once with the latest value (7) because React batches the two updates scheduled during the passive effect together into a single render pass for better performance.

You can see this if you add some additional logging:
https://codesandbox.io/s/nameless-leftpad-cxzt1

[2020-01-29 21:01] #17924 closed

[2020-01-29 21:21] bvaughn opened #17928 "Profiler should highlight host components (e.g. DOM elements) on mouseover"
Feature request from a DevTools user at Faceook:

[2020-01-29 22:22] hammadj commented on #15221
I hacked around this by using `useMemo` since that runs the code before the render. For example, to trigger LayoutAnimation in react native:
[code]

[2020-01-29 23:19] neaumusic commented on #9654
It doesn't make sense to re-use setState in a different context, not sure why it's a static method.

[2020-01-29 23:36] bvaughn commented on #17895
Hey @nutboltu how's this task coming along? :)

[2020-01-29 23:37] dai-shi commented on #17201
https://github.com/facebook/react/issues/15317#issuecomment-579900797
@kitten Have you seen this issue?

[2020-01-29 23:49] rag4214 opened #17930 "Bug: React with Typescript => void / boolean is not assignable to type 'FC<{}'"
[code]

React version: 16.12.0
Typescript version: 3.7.3
@types/react version: 16.9.19

## Steps To Reproduce

1. Create new FC
2. Try to desctructure children

Link to code example:

https://codesandbox.io/s/objective-herschel-y0myn

## The current behavior
Errors out on compile

## The expected behavior
Should be able to destrcture children just find

[2020-01-30 00:41] nutboltu commented on #17895
@bvaughn Raised a PR. https://github.com/facebook/react/pull/17931 . I need to test it in local properly. currently having issue with the `devtools-extension` in my local machine.

[2020-01-30 02:37] #17114 closed

[2020-01-30 02:37] BestOreo opened #17932 "Question: Just for my app test. Thanks."
🚨 This issue tracker is not for questions. 🚨

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek. Please take a look at the following resources.

## Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse thr

[2020-01-30 02:38] #17932 closed

[2020-01-30 02:53] markerikson commented on #15317
@sebmarkbage : can we get a definition of what "deopt" _specifically_ means in this context?  The React team has thrown that phrase around a lot, and it would help to know exactly what you're referring to.

Is it simply "a synchronous re-render during the commit phase", or something more specialized than that?

[2020-01-30 04:01] M-Izadmehr commented on #17928
Hi @bvaughn,
I really liked to check this issue, and I was able to create a PR to add highlighting for both FlameGraph and RankedList charts. (#17934 )

[2020-01-30 04:09] kitten commented on #15317
As @dai-shi pointed out in the other issue, this gist by @bvaughn clears things up in terms of what “deopt” means, when it happens, and what may cause tearing https://gist.github.com/bvaughn/054b82781bec875345bd85a5b1344698

If I’m not mistaking this, it simply means that all updates by `useSubscription` in the same tick will be batched and all changes will be committed and flushed immediately alt

[2020-01-30 04:33] sebmarkbage commented on #15317
@markerikson It can mean slightly different things in different implementation details. For example, it might not need to be in the "commit" phase. We can do it before the commit phase if we know it's going to happen earlier. It always means switching to synchronous rendering though.

It may also mean including more things in the batch than is necessary. E.g. normally React concurrent can work wit

[2020-01-30 04:38] CaptainN commented on #15317
Being able to deopt would be great for Meteor's legacy container and what should become the legacy hook, which can do a bunch of unknowable things in its general tracker. It will always create a computation, but might also fetch data, and or set up subscriptions. If there is a way to opt out of concurrency (deopting), that'd actually be ideal. We could create a separate set of specialized hooks wh

[2020-01-30 04:40] oknoorap commented on #17930
Your code should be `const MyComponent React.FC<{}> = ({ children }) => ....` you're missing type argument here `<{}>`

[2020-01-30 04:46] rag4214 commented on #17930
If you look at the typing of FC its
[code]
The `<{}>` is inferred by default if you don't include a type. Even doing what you said, I still get the same error. I'm still thinking this is a bug.

[2020-01-30 05:34] #17930 closed

[2020-01-30 05:37] VishalGulati commented on #15275
Any update on this please?

[2020-01-30 08:29] maciekgrzybek commented on #13991
That helped me - https://github.com/facebook/react/issues/13991#issuecomment-554928373
But I also had to remove `react` and `react-dom` from the dependencies and move them to peer dependencies and uninstall and reinstall node modules.

[2020-01-30 08:59] davidalekna commented on #17924
Thanks mate. I was trying to replicate my problem, in the end I found out that I had to use `useLayoutEffect` as my dispatcher is not being send on the first load. 😄

[2020-01-30 09:01] abdullahsari commented on #13332
Well, I hope this gains some traction at some point as it's a huge pain point for me right now.

[2020-01-30 09:31] pluma commented on #15315
The "component" prop expects a React component, the "render" prop expects a function that will be invoked as a function. Function components are components, invoking them as normal functions doesn't work if they use hooks and generally isn't a good idea.

[2020-01-30 10:19] myshov opened #17935 "Bug: Excessive cpu usage of the page when react-devtools is active"
When option "Highlight updates when components render" is activated the whole page repaints in rapid succession after the components state has been changed. It causes 100% CPU usage by the browser and unpleasant DX due low fps.

React version: 16.12.0
DevTools version 4.4.0-f749045a5

The sequance of actions is important:
1. Open react application
2. Open react-devtools
3. Check option "Highlight

[2020-01-30 13:30] danrot commented on #11935
I was just wondering: Wouldn't it be ok, if only one of the passed values is `undefined`?

[2020-01-30 16:36] gaearon opened #17938 "Bug: Render-phase update to another root causes an over-rendering loop"
[code]

Expected: `Root2` renders twice.
Actual: `Root2` renders a non-deterministic number of times.

This bisects to https://github.com/facebook/react/pull/15755, which removed the `5000` clamping. Without it, we get updates that have a slightly larger timeout than `5000`, and so the loop doesn't stop until we get to `5000`.

[2020-01-30 16:41] bvaughn commented on #17895
You should be able to test this using the testing harness app:
https://github.com/facebook/react/tree/master/packages/react-devtools-shell

Might be easier.

[2020-01-30 16:46] sebmarkbage commented on #17938
I think I can't to close this as "by design" because it's ultimately about if higher pri work on another root is allowed to interrupt this root.

[2020-01-30 16:48] hugomallet commented on #15306
Hi,

Any news about this eventual hook or rfc ?

[2020-01-30 16:49] bvaughn commented on #17928
This issue is all yours! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2020-01-30 16:57] gaearon commented on #17938
Can you explain why it leads to a loop though? I'm not following.

[2020-01-30 17:08] sebmarkbage commented on #17938
It might help the explanation if you consider this:

[code]

Assuming there's other work that takes longer than the timeout to complete.

Let's say I'm rendering Root1 at low pri. Then I call `_setX` on something, it will now be Normal pri. Which is higher pri. So React switches to rendering that and throws out the work it had started. Since we've given up on that. When that completes we try the o

[2020-01-30 18:50] kossel opened #17940 "Bug: ComponentDidMount gives different ref vs useEffect(()=>{}, [])"
React version: 16.12

I know `useEffect` works different than `componentDidMount/Update` it's in the docs. however, in many places states that

[code]
is a replacement of
[code]

However in the following code, `useEffect` retuns the expected ref but not `componentDidMount`, I expect them to work differently but didn't expect they give different result. (actual dom vs undefined)

Wrapper.js
[code]

[2020-01-30 21:46] ideffix commented on #17935
I can take a look on this :)

[2020-01-31 03:15] juanmartinzzz commented on #15865
same problem. I want to imitate the behaviour of componentDidMount; I'm  not interested on the warning; I don't want to re-run the hook when anything changes

[2020-01-31 04:24] #17940 closed

[2020-01-31 04:58] asumaran commented on #15865
@juanmartinzzz maybe this is what you need https://reactjs.org/docs/hooks-reference.html#conditionally-firing-an-effect

[2020-01-31 11:20] kasiaosinska commented on #6544
Same problem here.
React 16.8.6.

[2020-01-31 12:36] nutboltu commented on #17895
[react-devtools-shell](https://github.com/facebook/react/tree/master/packages/react-devtools-shell) is really handy to test :)

[2020-01-31 15:42] marceloadsj opened #17944 "Bug: Prop with name "is" breaks the className prop on tag"
If you add a prop named "is" together with a "className" prop, on a html tag component
(e.g. `<div is="p" className="text-red">`) it "breaks" the markup and render an attribute "classname" instead of "class".

React & React DOM version: 16.12.0

## Steps To Reproduce

1. Write a simple component that render a html tag
2. Add a prop named "is" and a "className"
3. Check the rendered markup

Link to

[2020-01-31 15:57] #17163 closed

[2020-01-31 16:35] Wgil commented on #16428
@bvaughn Hi,

Is there any way to access to this variable from your source code directly? It would be amazing if I could send this component tree to an error reporting library

[2020-01-31 16:49] bvaughn commented on #17895
Yes. It's what I typically use when building a new feature. Then I just do a final test in the actual extension.

[2020-01-31 16:50] bvaughn commented on #16428
The value is stored on the `window`, so anything can access it. However there is no API for JavaScript code to talk to DevTools to ask it to store the value, so you wouldn't be able to build a reporting library on top of it.

[2020-01-31 17:01] MHA15 commented on #17495
@sebmarkbage

Is this issue has forgotten ?
Can I do anything to help fix it early?

[2020-01-31 17:19] jeromelegrand commented on #13991
Hi,
I read the conversation and many posts on the web and I m still stuck with the error multiple instances of react.
I push this repo for reproduce the bug : https://github.com/jeromelegrand/dooliz-lib
I hope someone can help me.
Thanks.

[2020-01-31 18:49] bvaughn opened #17945 "Passive effect destroy and create functions are interleaved"
We currently run all passive destroy functions for an individual Fiber before running passive create functions. What we *should* be doing is running all passive destroy functions for *all* fibers before running *any* passive create functions (like we do for layout effects).

The reason this is important is that interleaving destroy/create effects between sibling components might cause components t

[2020-01-31 22:36] #17895 closed

[2020-01-31 23:07] northkevin commented on #17125
Thank you so much @bowencool !

[2020-02-01 02:31] hassan-alam commented on #10468
Created PR for half of the ticket: https://github.com/facebook/react/pull/17951

[2020-02-01 05:56] nhunzaker commented on #10468
Hey @hassan-alam, sorry to go quiet.

I owe you a response, and I'll take a look at the PR. Thank you for your time figuring this out; this looks promising for a problem that is otherwise difficult to demonstrate. I'll dive in.

[2020-02-01 06:05] hassan-alam commented on #10468
@nhunzaker  Hey man, don't worry about it. The PR is also only for the autofilled form-state portion of this issue (since I had trouble understanding the best way to do restored form state).

[2020-02-01 07:58] a-c-sreedhar-reddy opened #17953 "Bug: Calculating eager state from a reducer and not re rendering if the state does not change causes bug in this example."
React version: 16.8.0

## Steps To Reproduce

Link to code example:
https://codesandbox.io/s/usereducer-wfcmq Link to codesandbox.

## The current behavior
Initially step is 0. So for every step react does not rerender due to this https://github.com/facebook/react/blob/master/packages/react-reconciler/src/ReactFiberHooks.js#L1347. But state updates are queued. So when `step` changes all the state

[2020-02-01 08:49] peterjuras commented on #14738
@gaearon I understand that this pattern is discouraged, but I think it becomes vital if you want to write hooks and components and that react to updates while being mounted in the correct way. All hooks provide a smooth way to react to updates after being mounted - except `useState` - since it does not allow for a declarative state reset when it would be needed. While it is possible to work around

[2020-02-01 12:56] sashasochka opened #17954 "Bug: DevTools failed to parse SourceMap of extensions"
I am getting a lot of these errors/warnings in my console. Why is DevTools trying to get source maps for extensions?
Using the latest React Dev Tools extension (2.17.0) and React (16.9.12)
![image](https://user-images.githubusercontent.com/822771/73592378-62ea6100-4502-11ea-8b43-d82e8d2c054c.png)

## The current behavior
Getting lots of unrelated warnings

## The expected behavior
No warnings rela

[2020-02-01 14:27] vkurchatkin commented on #17953
I’m not 100% sure, but I think that reducer is supposed to be pure, i.e. you can’t use props, otherwise no guarantees are provided

[2020-02-01 14:52] a-c-sreedhar-reddy commented on #17953
I think since prop is a constant it can be used and reducer will be pure.

[2020-02-01 16:03] tlisiewi commented on #1649
I check in Jan2020 with Chrome and autoPlay works fine HOWEVER check your browser notification (in the adress bar) regarding 'blocking auto play on this website' - this was turned on in my browser, so I couldn't get auto play work :P

[2020-02-01 20:42] arackaf commented on #17911
Just FYI same behavior on the `241c4467e` build

[2020-02-01 22:19] ideffix commented on #17935
@myshov Have you tried it on another machine? It works fine in my Chrome

[2020-02-01 23:21] eps1lon opened #17955 "Bug(devtools): complex types ignored sometimes in useDebugValue"
React version: 0.0.0-241c4467e (current `next`) and 16.12.0
Devtools: 4.4.0 (1/3/2020). [...] Created from revision f749045a5 on 1/3/2020.

## Steps To Reproduce

1. Visit https://codesandbox.io/s/usedebugvalue-complex-types-3x877
2. Inspect `App` Component
3. `NoHooksAtAll` displays no hooks at all
4. `IgnoredComplexValue` displayes the custom hook but without a value
5. `NoHooksAtAll` displays t

[2020-02-01 23:26] jeswin commented on #15344
@pelotom I may be missing something, but wouldn't the nextState() promise in your example get triggered by any state change? It need not necessarily be due to the effect of the action 'DISPATCH_DATA' on the state.

[code]

[2020-02-02 02:54] michalczaplinski commented on #17944
If you set an `is` prop on a react component, react treats it as a [Custom Element](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements).

https://github.com/facebook/react/blob/master/packages/react-dom/src/shared/isCustomComponent.js#L12

Because of this, props like `className` or `htmlFor` are not translated to `class` and `for` because you might have an attribute

[2020-02-02 07:11] #17199 closed

[2020-02-02 07:24] vzaidman commented on #14099
Just to make sure-
Does binding functions in class components to avoid any invalidation of a callback we pass would work fine in concurrent mode?

f.e:
[code]

[2020-02-02 11:32] gurmeetsinghmalhotra opened #17956 "Bug: Portal not working with dynamic domnode"
React version:
"react": "^16.12.0",
"react-dom": "^16.12.0"

[code]
I have some HTML string response from an API that I render on the page using "dangerouslySetInnerHTML". Now this HTML has some empty div tags with a class of "js-lead-in-content" .

I want to show a custom component inside these divs. I am using the react portal for this purpose and I am able to render my custom component inside t

[2020-02-02 14:44] myshov commented on #17935
@ideffix I don't have another machine. But I posted that issue in local chat and at least one more person confirmed the issue

[2020-02-02 14:52] gaearon commented on #17911
Can you create a reduced one-file example with no libraries?

[2020-02-02 17:32] arackaf commented on #17911
I can try to find some more time to put into this but no promises.

I have to believe there’s something going wrong in how my useQuery hook is sharing the updateState function with the queryManager. I’m most interested in hearing if that’s violating any React constraints which might be causing this.

[2020-02-02 19:27] pelotom commented on #15344
Yes, it would resolve in response to any change to that particular piece of state. It's all around not a great solution, hence this issue.

[2020-02-02 20:04] #17832 closed

[2020-02-02 21:36] NMinhNguyen commented on #17321
Hey @davidmarkclements, I've now set up a [new repo](https://github.com/NMinhNguyen/react-shallow-renderer) for `react-shallow-renderer`, would you be able to transfer the npm package to my username, `minh.nguyen`?

[2020-02-03 00:37] bvaughn commented on #17944
@michalczaplinski is correct! The `is` attribute is an HTML standard thing:

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/is

In this case, I think React DOM is behaving reasonably (although I understand why it could be a bit surprising too)

[2020-02-03 00:41] bvaughn commented on #17944
This issue has come up a few times in the past:
* #12810
* #8419
* #7200

Dan's comment seems inline with ours above:
https://github.com/facebook/react/issues/7200#issuecomment-230780250

There's also been some extensive discussion about the `className` property on web components here: #4933

Our web component docs suggest using a `class` attribute in such cases, as confirmed by [this comment](htt

[2020-02-03 00:41] #17944 closed

[2020-02-03 00:44] bvaughn commented on #17954
I don't know why you're seeing that 🙂but it doesn't have anything to do with React or the React DevTools (since our extension's id is [fmkadmapgofadopljbjfkapdkoienihi](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi)).

From your screenshot, it looks like the extensions you're getting errors for are [Ad Block (gighmmpiobklfepjocnamgkkbiglidom)](htt

[2020-02-03 00:44] #17954 closed

[2020-02-03 01:49] burnmaniac commented on #17645
@bvaughn Sorry, I finally caught some time to test this a bit more.

I've tried to reproduce the issue in a sample app made by create-react-app without success. It works well if I import it as `import {ReactComponent as SomeSVG} from 'some.svg'`.

We're using svg-sprite-loader and svgo in our app, so I'm just assuming that the issue lies somewhere in svg-sprite-loader, as the SVG is still not disp

[2020-02-03 03:43] wfnuser commented on #17955
I would like to take a look. 😄

[2020-02-03 05:00] ljharb commented on #17321
@NMinhNguyen if you're interested in making it work for enzyme, please add me on github and npm as well.

[2020-02-03 06:18] marceloadsj commented on #17944
Maybe would be good to have a section on docs saying about this. What do you think?

It's hard to search because of the word "is", so, if we add a FAQ explaining, it will avoid that kind of issues being opened.

I just opened because I didn't find anything on docs or github issues, searching for keywords like "prop html tag is className attribute".

:)

[2020-02-03 06:30] JerryWisdom opened #17957 "Docs:"
🚨 This issue tracker is not for documentation issues. 🚨

The React website is hosted on a separate repository. You may let the
team know about any issues with the documentation by opening an issue there:
- https://github.com/reactjs/reactjs.org/issues/new

[2020-02-03 06:31] #17957 closed

[2020-02-03 06:37] franciscop-sc commented on #15774
For this code and statement:

[code]

Isn't it creating two *instances*, and then rendering each of them independently? AFAIK this is not two renderings of the same, but instead two different elements.

If I have a component rendered in different places those are independent of each other. They keep the same callback between re-renders, but not across all the instances.

[2020-02-03 07:45] Stexxe commented on #9999
When function `createClass` is executed and there is `getDefaultProps` in the spec and we are not in production mode, then we approve that `getDefaultProps` is intentional. As was mentioned before we approve react class only in development mode, because of performance reasons, so we cannot approve it in any environment.

I think the problem is not in mixing development and production versions, but

[2020-02-03 09:30] jukben opened #17958 "[eslint-plugin-react-hooks] Better check against misuse in classical class components"
We have run into issue coming from calling hooks from class component, I was surprised that eslint rules doesn't provide any check for that. Is there any reason for that? Am I missing something? I willing to contribute in case this feature request will be approved. 🙌

eslint-plugin-react-hooks version: 2.3.0

## Steps To Reproduce

1. Create class Component and try to use hook within it
2. Not war

[2020-02-03 10:23] #17109 closed

[2020-02-03 10:26] likern commented on #14387
@gaearon  I think this is not always true. `useRef` represents two different concepts: instance-like variable for functional component and reference to mounted component itself.

For example, I have this custom hook:
[code]

Here I'm using `useRef` as instance variable and it's  different from reference to mounted component.

1. **It's never get assigned null value**
2. We need to use `useRef` to

[2020-02-03 12:31] Misiu commented on #14254
This issue (feature request) is still valid. I think that retrying should have first-class support.

[2020-02-03 13:54] lsnch opened #17960 "Bug: react-devtools profiler doesn't show props"
According to docs, it's possible to see props and state of a component at each commit.
https://reactjs.org/blog/2018/09/10/introducing-the-react-profiler.html#browsing-commits

Yet, in every project I've tried all I see is the names of changed props, but not their values, like the gif from docs claims.

React version: 16.12.0
extension: 4.4.0 (1/3/2020) ... Created from revision f749045a5 on 1/3/2

[2020-02-03 14:29] RevanthGovindan opened #17961 "While using useRef , some data has been updated by context value from reducers, when the context value was updated from some other user event, variable used with useRef also updated, then how to use instance variables in hooks?"
const CreateNotificationBase = (props) => {
const [state, dispatch] = useContext(Store);
 const draftData = useRef({});
useEffect(() => {
        if (state.notificationDetails.draftId) {
            draftData.current = state.notificationDetails;
        }
    }, []);
useEffect(() => {
debugger
},[draftData.current])
}

when value in store context changes useEffect of draftData.current also called.

[2020-02-03 14:42] svsool opened #17962 "Question: Can useMemo be used instead of useRef?"
Hi, just out of curiosity can `useMemo` be used instead of `useRef` when doing it as following:

Example:

[code]

It looks to me that both refs will be working just fine as DOM ref and as mutable value similar to instance fields in classes. Why then `useRef` is implemented differently comparing to `useMemo` considering [ReactFiberHooks.js](https://github.com/facebook/react/blob/master/packages/re

[2020-02-03 14:45] Hacksore opened #17963 "[react-devtools] add maxConnectionAttempts config option"
From time to time I am not actively running react-devtools but my application still wants to connect indefinitely every 2 seconds.

What I am suggesting is an optional parameter so that if it tries x amount of times it can just give up once it meets the max threshold.

`maxConnectionAttempts` - Would allow a developer to override/control the number of connections attempts the react-devtools will t

[2020-02-03 14:47] 5knnbdwm opened #17964 "Bug: Opens Google chrome automatically"
When starting the react app browserosaurus should appear with a window that lets me select the browser I want to open a link with. However when Google chrome is running, there doesnt have to be an active window, the react process simply opens a new chrome window.
When Google chrome is not running react opens browserosaurus and lets me decide what browser to use to open the link

React version: ^16

[2020-02-03 15:29] rotimi-best commented on #11538
Can someone please explain the performance issue of the code suggested by @gaearon? It would be helpful to know before suggesting this solution to my team lead. I don't buy the idea of disabling google translate, as that is good for DX but very bad for UX cause it limits who can use my app. And disabling google translate doesn't mean that any other extension can't mutate the dom just as google tra

[2020-02-03 15:46] bvaughn commented on #17944
Sure, if you have ideas for how to improve the docs page send them our way.

This page:
https://reactjs.org/docs/web-components.html

Is here:
https://github.com/reactjs/reactjs.org/blob/master/content/docs/web-components.md

[2020-02-03 15:47] bvaughn commented on #17645
It happens.

At this point it seems unlikely to me that it's a React issue, so I hope you're able to get a response on the other repo!

[2020-02-03 15:53] bvaughn commented on #17964
Sorry @5knnbdwm, but please file issues with create-react-app on its repo:
https://github.com/facebook/create-react-app

Different people maintain that one, typically.

Thanks!

[2020-02-03 15:53] #17964 closed

[2020-02-03 15:58] bvaughn commented on #17960
The blog post you linked to was for a previous version of DevTools. That version created immutable copies of all props and state values (using [`immutable`](https://www.npmjs.com/package/immutable)) which allowed the Profiler UI to show past values. However this came with the cost of introducing *a lot of overhead* for large apps.

Last year, I rewrote DevTools primarily to make it a lot faster (a

[2020-02-03 15:58] #17960 closed

[2020-02-03 16:34] bvaughn commented on #17962
You *could* create a ref object this way, but it would be less efficient since `useMemo` also tracks and compares dependencies. (Even if you specify an empty dependency array, the underlying data structure for a memo hook has space for the extra value.)

To illustrate this, you can compare the implementation of `useRef`:
https://github.com/facebook/react/blob/434770c3b4b94315c789234c27ed9dc2ec8a78

[2020-02-03 16:34] #17962 closed

[2020-02-03 18:05] zaqqaz opened #17965 "Bug: onRender of parent <Profiler> called for each child update"
With Profiler API it's not possible (or at least not clear) how to measure commit time for parent components which renders child which is also should be profiled.

Example from the documentation:
[code]

In this case, we can't measure separately updates only for Panel component as the same callback will be called for updates in Content or PreviewPane.

React version: 16.9.0

I prepared a simplifie

[2020-02-03 18:19] bvaughn commented on #17963
What kind of app are you talking about? Can you tell me more about your use case?

[2020-02-03 18:21] bvaughn commented on #17965
The behavior you have described how the API was intentionally designed. Profiler reports times for any/ever update within its subtree. (This enables you to provide an entire application, while also collecting times for certain subtrees.)

If you're interested in the Profiler API's design, you can find the RFC here:
https://github.com/reactjs/rfcs/blob/master/text/0051-profiler.md

[2020-02-03 18:21] #17965 closed

[2020-02-03 18:22] bvaughn commented on #17955
This issue is all yours! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2020-02-03 18:33] tomwayson commented on #15865
I would propose to **not** show this warning when the second argument to `useEffect()` is `[]`, b/c in that case the developer knows that this effect is only going to run once and therefore _wants_ to use the initial prop values and doesn't care if the prop changes on subsequent renders.

[2020-02-03 19:22] EduVencovsky opened #17966 "Bug: When throwing an error on component render, the component rerenders and throws twice, but componentDidCatch runs only once."
This [question](https://stackoverflow.com/questions/60044579/why-is-this-component-being-rendered-after-throwing-an-error/60044809#60044809) on stack overflow was made and while trying to solve it, I realized something.

I found out that on version `16.12.0` of react, when you throw an error on the render method, it render and throws the error twice, but `componentDidCatch` runs only once.

I vers

[2020-02-03 19:27] EduVencovsky commented on #16130
I'm not sure in what version this change happened but if you change the react version to `16.0.0`, it will render only once.

[2020-02-03 20:53] ayershov777 commented on #17966
After a little testing, it seems this issue was introduced in 16.3

[2020-02-03 21:23] bgergen commented on #4595
Have there been any further thoughts regarding this over the past year and a half?

[2020-02-03 21:32] zaqqaz commented on #17965
@bvaughn, fair enough, thank you for the prompt reply!

In this case, maybe you can advise me (or just provide ref where to look in dev-tools implementation) how to trace updates on the component level? (to be able to get the same picture as in react-dev-tools (amount of re-renders of the component/duration) to be able to automate check of unexpected re-renders.

[2020-02-03 21:43] bvaughn commented on #17965
That use case (per-component profiling) is not something the user-facing API is meant to support.

The only way to accomplish this with the public API would be to wrap a `Profiler` around every individual component (which is **not** something we would recommend).

[2020-02-03 22:03] ayershov777 commented on #17966
If the error is thrown from componentDidUpdate instead of render, then the component is not rendered twice. (16.12.0)

[code]

[2020-02-03 23:17] M-Izadmehr commented on #17885
@sebmarkbage @bvaughn
I tried to check this issue and here are my findings:
First of all, we are never violating `no-unreachable` linting rule.
Based on [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Stmt_after_return) firefox never shows a warning, if a function declaration statement is following return. Also, based on [ESLint](https://github.com/eslint/eslint/blob

[2020-02-03 23:26] Hacksore commented on #17963
@bvaughn It's an electron-based application that I'm programmatically invoking `connectToDevTools` to allow it to connect.

Basically just trying to stop the console log from piling up, even though they stack.

[2020-02-03 23:29] M-Izadmehr commented on #17935
@myshov I tried to replicate this issue, however it worked perfectly fine in both chrome/firefox devtools, on Mac laptop.

[2020-02-03 23:34] zaqqaz commented on #17965
The goal is to have tooling which is able to provide information about re-renders based on user interaction as a plugin to some performance tests(kinda e2e), to be able to set expected values for some components and monitor amount and duration of re-renders as a part of the pipeline to make dx a bit better.

I started with such an idea, that's actually why this issue created, but as Profiler desig

[2020-02-03 23:57] bvaughn commented on #17965
Right. I understood what you were asking for. That's just not how the Profiler API was designed to work. :smile:

Implicit in my previous comment was that you would need to subtract subtree durations from a Profiler to determine the duration only for the single component in between, but again- we don't recommend using the API that way.

[2020-02-04 03:28] arackaf commented on #17911
@gaearon - I managed to get this reproduced! :D

https://codesandbox.io/s/priceless-shirley-o6sfg

If you click pretty much any of the buttons, you'll often see things suspend.

Note the call to `useLayoutEffect` on line 83. That's the cause of this. Comment that out, and everything is perfect.

Sorry for all the extra crap in the sandbox - I chased down a ton of false leads here, and honestly don

[2020-02-04 03:30] arackaf commented on #17911
Also - h/t to Daishi Kato for helping to get this sandbox started :D

https://twitter.com/dai_shi/status/1223746342289231877

[2020-02-04 03:52] dai-shi commented on #17911
So, the layout effect runs when a child component throws a promise. Is it a bug or a behavior.

(Note, my first comment in the twitter thread was pointless.)

[2020-02-04 05:49] jayenashar commented on #17281
Hi there, I am trying to use react-refresh on a react-dom project and I'm hitting a very similar issue where my component js looks like this:

[code]

and it is also not being picked up as a component because it doesn't have a name that starts with an upper case letter, but the name in this case is `_default`.  That is, `isLikelyComponentType` returns `false` with default exports.

Is this a case

[2020-02-04 08:58] burnmaniac commented on #17645
Yeah, I agree. I opened the issue on their repo. Hopefully, it'll be resolved.

For now, I'm just loading the SVG in CSS using background-image.

Thanks again!

[2020-02-04 11:06] #16955 closed

[2020-02-04 13:12] kushalmahajan opened #17969 "Feature/Discussion: functional setState was a better version"
In React hooks, to produce an effect similar to functional `setState` version we will use `React.useEffect`. However, there is a situation which hooks don't cover.  Let's say I have a `handleChange` function as following

[code]

Now if I would want to call one function `handleError(rules: Rule[], name: string, value: any)` with the same arguments from parent function ( in this case `handleChange`

[2020-02-04 13:17] rpl commented on #17681
@bvaughn both [Bug 1609671](https://bugzilla.mozilla.org/show_bug.cgi?id=1609671) and [Bug 1609677](https://bugzilla.mozilla.org/show_bug.cgi?id=1609677) have been landed on Firefox 74 and should be available in the Nightly builds.

[2020-02-04 15:02] wfnuser commented on #17955
Thanks. I'm working on it.

[2020-02-04 15:40] arackaf commented on #17911
I cleaned up the sandbox for you guys. Offending useLayoutEffect is line 58 now

https://codesandbox.io/s/damp-glade-zn8d4

[2020-02-04 15:46] salvoravida opened #17970 "Bug: Nested setState and unstable_batchedUpdates (are they ignored?)"
Nested setState and unstable_batchedUpdates (are them ignored?)

React version: 16.12

## Steps To Reproduce
https://codesandbox.io/s/batchedupdates-uselayouteffect-evj8s

open profile after click, you will see 3 commit.

it seems that even if we use unstable_batchedUpdates, nested setStates called on
didUpdate/layouteffect do not get batched.

[2020-02-04 16:01] rdsedmundo commented on #16393
@gaeron it seems that the bot automatically closed the issue, but this still needs action.

I took a time to investigate it, and I realized that the work the Sophie has done covers this case, but there's just one problem: it's disabled under a [feature flag](https://github.com/facebook/react/blob/3e9251d605692e6db6103e4fca9771ac30a62247/packages/shared/ReactFeatureFlags.js#L51). I built it locally

[2020-02-04 16:33] markerikson commented on #17970
The sandbox isn't actually testing the behavior you think it is.

First, React already wraps all event handlers in `unstable_batchedUpdates()`.  That's why multiple queued state updates in a single handler result in one re-render.  So, the manual call to `unstable_batchedUpdates()` does nothing there.

Second, either way, that button click event handler is only queueing one state update, not multi

[2020-02-04 16:40] stuart-clark-45 commented on #14035
This is still an issue please reopen

[2020-02-04 16:51] salvoravida commented on #17970
Sorry I do not think so. React redux call notifynestedsub under uselayouteffecct that is exact the problem of this issue. Open profile of this original nested redux update with connect.

Anyway it would be useful to know from react core team if this is an expected behavior, setStates sync in uselayouteffecct does not get batched, and there are many commit even if user will not see them due to sync

[2020-02-04 17:09] bvaughn commented on #17681
Thanks for the update, @rpl! I think it should be safe to close this issue then :smile:

Pleasure working with both of you.

[2020-02-04 17:09] #17681 closed

[2020-02-04 17:14] bvaughn commented on #17963
@Hacksore I don't think I have the bandwidth to tackle this right now.

I started thinking about it a little bit but I don't have time to test and think through the edge cases. want to finish it?

https://github.com/facebook/react/compare/master...bvaughn:devtools-connect-retry-options

[2020-02-04 18:23] markerikson commented on #17953
My understanding is that this is both a result of how the reducer function is being defined and capturing local values, _and_ actually entirely intentional behavior.

[2020-02-04 18:49] bvaughn commented on #17969
This is certainly not a bug.

[2020-02-04 18:54] kushalmahajan commented on #17969
@bvaughn You are right. I will have to change that to the "feature/discussion" category maybe.

[2020-02-04 18:58] bvaughn commented on #17969
The hooks documentation has an example for how to track previous props/state values:
https://reactjs.org/docs/hooks-faq.html#how-to-get-the-previous-props-or-state

In your case that might look something like:
[code]

If you also needed to track the most recently changed name/value/rules you could add those into the state object as well (so you could inspect them in the effect).

FWIW the docs als

[2020-02-04 19:01] bvaughn commented on #17970
Mark is right that `unstable_batchedUpdates` only groups state updates that are scheduled within the callback you pass it. (Once the updates are processed, you're no longer in the scope of `unstable_batchedUpdates` and normal batching behavior is applied.)

[2020-02-04 19:06] #16061 closed

[2020-02-04 19:23] markerikson commented on #17970
@bvaughn: just to confirm something:

If a component tree has something like this:

[code]

I would expect that when the parent component re-renders, all nested children would queue updates due to the event emitter triggering.  But, because the calls to `forceUpdate()` are all within the parent's `batchedUpdates()`, all of those will get batched into a single re-render, which then happens synchron

[2020-02-04 20:05] MongolShudan opened #17973 "REACT extenstion doesn;t work"
👉 Please follow one of these issue templates:
- https://github.com/facebook/react/issues/new/choose

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-02-04 20:13] ecreeth commented on #17973
Please, provide a better description for this issue and if possible, a way of how to reproduce it.

[2020-02-04 21:08] bvaughn commented on #17973
This issue is not actionable, so I'm going to close it.

If you provide info on what issue you're seeing and how we can reproduce it- we can reopen it.

[2020-02-04 21:08] #17973 closed

[2020-02-04 21:14] nidhisridhar opened #17974 "Bug: Unable to share context to ReactDOM.render from the element's parent component in React?"
Hi,
I posted this question on stackoverflow. The solution recommended doesn't work for our application and so does using portals. Is there a way to share context from the ckeditor component to the counter component in this case?
https://stackoverflow.com/questions/59904871/how-to-share-context-to-reactdom-render-from-the-elements-parent-component-in-r?noredirect=1#comment106035238_59904871

React

[2020-02-04 21:21] sophiebits commented on #16393
@acdlite @gaearon Can we unflag this?

[2020-02-04 21:33] StephenHaney commented on #16313
Just checking in on this - if #17385 gets held up for a while waiting on vscode-eslint, are there any options right now to disable autofixing for this rule besides turning the rule off?

I checked around in eslint docs and I don't see a way to just turn off autofix for one rule other than disabling the rule completely. Appreciate any pointers.

[2020-02-04 22:15] kunukn commented on #17969
[code]

Maybe we can "rebuild" the callback functionality in setState using custom hooks?

Here is a quick prototype.

Usage:
[code]

Prototype Implementation:
[code]

Demo:
https://codesandbox.io/s/reactjs-usestatewithcallback-prototype-fkub9

I don't know whether this implementation guarantees that the correct callbacks are executed for the given setState usage, in case the user spam-clicks the

[2020-02-04 23:05] bvaughn commented on #17969
The [implementation](https://github.com/the-road-to-learn-react/use-state-with-callback/blob/a8ffe4b32e04a552d37dcb80c0c5181504d4acc1/src/index.js#L3-L9) of the other hook you reference (`use-state-with-callback`) is very naive:
[code]

I think an implementation of what you're describing could look something like what I've written below, but there are a **some potential problems** which I want to

[2020-02-05 00:47] hassan-alam commented on #10468
@nhunzaker  The PR was merged, so the `Autocomplete state` portion of the ticket should be done.

I'm not sure the best way to proceed for the `Restored form state` portion. If possible (and if you or someone else is willing), I'd love to go through and collab to solve it :D

[2020-02-05 02:03] gaearon commented on #16313
I don't think there's any way, no.

[2020-02-05 03:34] muescha commented on #16474
FYI:

i found an workaround for state with label at stack overflow  https://stackoverflow.com/a/58579953/1930509
but i also would prefer an included solution

[code]

[code]

[2020-02-05 08:44] chapl commented on #6544
I'm also having this problem although only on safari on iphone. It's working on windows, android and mac in all the browsers I've tried. Stripping the audio track didn't work either.
If there's a reasonable work around beyond not using react please let me know.
Cheers

[2020-02-05 08:48] julienw commented on #15486
This "stale" bot thing is painful. It shouldn't close bugs without someone checks it doesn't happen anymore...

[2020-02-05 09:01] salvoravida commented on #17970
just to confirm the call stack of this issue:
[code]

so the batches are interrupted @ first useLayoutEffect?  (even if next calls are sync) ?

[2020-02-05 10:07] kushalmahajan commented on #17969
@bvaughn @kunukn Yes I had thought of ref and even doing naive custom functional setState hook.

However, I'm trying to do validations on the action of `onChange` event. It was a last resort and ideally won't want to do that.  I'm facing a bottleneck to have a common `handleError` function which reacts to `onBlur` of all form control elements of a form. Since my `Select` is custom i.e. constructed

[2020-02-05 11:05] maximilianschmitt opened #17979 "Bug: React does not clean up old elements when reusing keys (memory leak)"
I've stumbled upon this issue where React does not seem to clean up old elements from the DOM when reusing a key for different elements.

Please take a look at the following screen recording to see the memory leak in action: https://imgur.com/21ZJ5DL

To reproduce, check out the following two components (or view the [code sandbox](https://codesandbox.io/s/mystifying-liskov-2ird6)):

**App.js**

[c

[2020-02-05 11:15] maximilianschmitt commented on #17979
With this simplified example, there is no memory leak:

[code]

Code sandbox: https://codesandbox.io/s/runtime-wood-1p3qx

[2020-02-05 12:22] khanhhua opened #17980 "Error: "Could not find commit data for root "1069" and commit 4""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.4.0-f749045a5

Call stack: at n.value (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:166027)
    at m (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/b

[2020-02-05 13:05] giorgi-m opened #17981 "Bug: Strange situation when I create react element outside react class"
Here is link for reproduction:https://codesandbox.io/s/friendly-wind-oli5k

My question is can code below

[code]

produce this screenshot??

![Screenshot from 2020-02-05 17-02-06](https://user-images.githubusercontent.com/41240312/73843906-00ae9a80-4839-11ea-8a74-7f6375897744.jpg)

**See how in one case type is undefined, and in another case type is BorderCrossDetails.**

Strange thing is in my p

[2020-02-05 13:16] threepointone commented on #17981
My guess is there's a circular dependency at play here, resulting in an undefined import before all the modules have had a chance to settle. That said, it's hard to comment without a code sample, either as a codesandbox link, or as a git repo. Further, this doesn't seem like a React bug/feature request, so I'm going to close the issue, but I'm happy to have a look if if you have a reproducible exa

[2020-02-05 13:16] #17981 closed

[2020-02-05 13:19] giorgi-m commented on #17981
@threepointone The reproducible example was in the question, sandbox link

[2020-02-05 13:25] threepointone commented on #17981
I missed that sorry! As I suspected, BorderCrossDetails depends on PersonCrossesGrid which depends on BorderCrossDetails. That seems wrong.

In general, you shouldn't have to hoist element trees like this, there isn't much of a win to be had, and React is efficient about rendering these trees. So you could keep `config` inside the component definition. Hard for me to say further because I'm not su

[2020-02-05 13:30] giorgi-m commented on #17981
So you suggest I use this.config?
Can you explain why that would work?

I will try that, but it is also strange similar thing works in my project see Note 2 on my question.

[2020-02-05 13:36] JoshuaAmaju commented on #17877
@michalak111 It's not a bug, mouse events always fire before click events.

[2020-02-05 13:48] threepointone commented on #17981
either on this.config, or as a local variable in render() should be fine. Because it evaluates it "late", the import would have resolved correctly, and it'll use the right definition.

I don't know what elsewhere in your project looks like, but I assume you don't have a circular dependency  like this there.

Consider your example again. If you do render BorderCrossDetails inside PersonCrossesGrid,

[2020-02-05 13:56] giorgi-m commented on #17981
It works fine it's not that I am rendering them straightaway, when user clicks a row in PersonCrossesGrid I open BorderCrossDetails in a separate class where I have some modal dialogs.

Anyway, yeah I know that sounds strange but believe me I have almost same situation in my project with other classes where I don't have such a problem. Because I have similar structure everywhere some grid gets a d

[2020-02-05 13:58] msolwecki opened #17982 "Error: "Could not find commit data for root "14544" and commit 13""
Describe what you were doing when the bug occurred:
1.
2.
3.

---------------------------------------------
Please do not remove the text below this line
---------------------------------------------

DevTools version: 4.4.0-f749045a5

Call stack: at n.value (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:40:166027)
    at m (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/b

[2020-02-05 14:38] antonstjernquist commented on #15275
I want this :-)

[2020-02-05 16:16] bvaughn commented on #17982
Can you provide a little more info on this than the default template? Are you able to reproduce it? If so, can you share how?

[2020-02-05 16:16] bvaughn commented on #17980
Can you provide a little more info on this than the default template? Are you able to reproduce it? If so, can you share how?

[2020-02-05 16:31] bvaughn commented on #17970
@markerikson Yes.

@salvoravida That is not the call stack. The function you pass to `useLayoutEffect` won't be called under the render has finished, and the render won't even *start* until the function you pass to `unstable_batchedUpdates` has finished running. (That's how updates are batched. React waits until that callback is done so that it knows no more updates are pending.)

[2020-02-05 16:43] albseb511 commented on #17736
can I work on the issue?
Its been ~30+ days.

@yadejo
Also to be clear:

- This looks to me like I need to change the RulesOfHooks.js and the corresponding test for that.

I have made some changes already in that case. ran the test cases as well.

[2020-02-05 16:45] bvaughn commented on #17736
@albseb511 There's an open PR for this (#17744) it just hasn't been reviewed.

[2020-02-05 17:13] salvoravida commented on #17970
@bvaughn so there is no way to batch all updates from an external source emitted in top down in a single commit.

[2020-02-05 17:19] markerikson commented on #17970
@salvoravida : The issue for React-Redux specifically is that we _can't_ run the `mapState` functions for nested connected components until their parents have completed rendering, because we need the latest props to pass to `mapState`, and parent components might stop rendering a connected child (aka, the ["zombie child" and "stale props" issues](https://react-redux.js.org/api/hooks#stale-props-an

[2020-02-05 17:30] salvoravida commented on #17970
@markerikson yes i know the issues, and i agree with you.

What i exspected is that using LayoutEffects handlers that are sync with renders, and batched updates, multiple sync commit where merged to one.

Maybe we see 4 commit into Profiler, but as they are sync, they are de-facto merged as browser will (not paint/user will not see) them until render-sync will finish.

@bvaughn is correct?

[2020-02-05 17:33] markerikson commented on #17970
Yeah.  In our case, they're separate render passes, all run synchronously during the commit phase.  Because they're run sync, the browser won't repaint until after the commit phase is complete.

[2020-02-05 18:02] albseb511 commented on #17736
thanks. yea I think mine looks pretty much the same. :P

[2020-02-05 18:18] albseb511 commented on #17958
As per es-lint-rules-hooks
[code]

[2020-02-05 18:23] bvaughn commented on #17970
This sounds misleading :smile: If the Profiler reports 4 commits, there were 4 commits- (which means e.g. 4 DOM mutations)- even if there was no painting between them.

I'm going to go ahead and close this issue since I think the original question has been answered!

[2020-02-05 18:23] #17970 closed

[2020-02-05 18:23] robtry commented on #17954
Same bug, I do not have the extensions you said.
This warning started yesterday, after a Google Chrome update.
![bug](https://user-images.githubusercontent.com/21108496/73870830-57ed4480-4812-11ea-9c89-a312250d32bb.png)

[2020-02-05 18:37] robtry commented on #17954
It is about extensions, for me it started yesterday after a Google Chrome update. You can uninstall the extensions or just disable soruce maps:
https://stackoverflow.com/questions/36051891/esri-failed-to-parse-source-map

It solved the problem for me. No more warnings about that.