[2016-09-22 07:16] easga commented on #1169
@spicyj Thanks Ben. My customer was seeing this problem on iphone 4, but once i realized i could simulate that device and check the logs, i realized that my production js was having problems due the reason mentioned in this article (http://lukecod.es/2016/03/14/react-invariant-violation-minified-exception-ios8-webpack-babel/). Then i made it work. Sorry that i forgot to update it here, everything

[2016-09-22 08:30] chigan commented on #6081
eagfr

[2016-09-22 08:30] chigan commented on #6081
eagfr

[2016-09-22 08:30] chigan commented on #6081
eagfr

[2016-09-22 11:46] windyGex opened #7791 "onChange events can't stopPropagation under IE9&IE10."
**Do you want to request a _feature_ or report a _bug_?**

_bug_

**What is the current behavior?**

onChange events can't stopPropagation under IE9, IE10. It will throw a error and then trigger change events.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net**

https://jsfiddle.net/69z2wepo/57337/

[co

[2016-09-22 11:48] syranide commented on #7791
This is fixed in master, not sure if released.

[2016-09-22 11:49] syranide commented on #7791
That is not a bug though, that is how the HTML DOM works.

[2016-09-22 13:00] fibo opened #7792 "SVG switch tag"
This is a feature request

Are there plans and dows it make sense to add the SVG `switch` tag? See https://developer.mozilla.org/en/docs/Web/SVG/Element/foreignObject for an example usage.

My use case is the following: I have [this script](https://github.com/fibo/flow-view/blob/master/examples/render/serverside.js) that thanks to ReactDOM renders svg server side, but in image context foreignobjec

[2016-09-22 17:56] mrscobbler opened #7794 "Documentation inconsistencies around Parent/Child vs Owner/Ownee"
**Do you want to request a *feature* or report a *bug*?**
Bug

Looking at the documentation here: https://facebook.github.io/react/docs/multiple-components.html#ownership it describes the difference between a parent/child relationship compared to an owner/ownee relationship.

In the tutorial here: https://facebook.github.io/react/docs/tutorial.html#using-props It talks about the parent/child relat

[2016-09-22 19:23] gaearon commented on #7794
I think the biggest issue here is that owner/ownee almost never matters, but is awkward to mention in the introductory text. Maybe we can figure out how to remove these words from that text altogether while preserving the meaning. @mrscobbler Would you like to give that a try?

[2016-09-22 22:41] philipp-spiess opened #7795 "Receive outside events, without leaving React's system"
This is a feature request.

Right now, the only way to respond to "outside world" events is to leave the React's event system and add a native DOM listener. This is bad, since it will require more mental overhead when you have to work with this (you need to think about your event listener receiving a native event, or a react synthetic event). It will also simply not be possible for computed `Synth

[2016-09-22 23:21] Aweary commented on #7795
Thanks for the writeup @philipp-spiess, I agree that there may be some utility in providing such an API. We've had discussion about this in the past, see https://github.com/facebook/react/issues/285. Would you mind posting there instead?

I'm going to close this so we don't fragment the discussion, but I encourage you to check out #285 and post your proposal there!

[2016-09-22 23:21] #7795 closed

[2016-09-23 03:01] mrscobbler commented on #7794
Yes! I will work on the wording and submit a pull request.

[2016-09-23 08:00] jvorcak opened #7797 "Manipulating DOM in componentDidUpdate"
Hi, this is more like a question, I'd like to open a discussion regarding DOM manipulation in `componentDidUpdate`.

I'm creating a React plugin. It has to do some DOM calculations, because CSS is not powerful enough to cover everything this plugin needs to do. The problem is **I need to adjust some CSS properties depending on the return value of getBoundingClientRect() of some other DOM element r

[2016-09-23 08:51] karczk commented on #7797
Each solution (component lifecycle method) is proper for concrete situation, but DOM manipulation is wrong. Use state and re-render component. Example for my last use case "fixed header for table + virtual scrolling for table body".

1. Component constructor: initial state value: bodyHeight = 0 (or null, as you like).
2. First render, renders table header but empty table body (0 rows).
3. componen

[2016-09-23 10:45] pudgereyem commented on #6221
Totally agree @appsforartists.

However, while `onClick` is working fine (meaning; without 350ms delay) in modern iOS Safari, it does not work with Cordova. Anyone that has encountered the same issue, and know why that is the case?

[2016-09-23 11:26] jochenberger commented on #7295
I have a similar problem. If I select the same file twice, `onChange` is only called once in Chrome but twice in Firefox. Given that the file's content may have changed, I feel the latter is correct.
Should I resort to using `onInput`?

[2016-09-23 14:51] valentina09 opened #7798 "Amazon Seve Your Money."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-09-23 17:19] martin-svk opened #7799 "Problems when changing value of uncontrolled number input in Chrome"
**Do you want to request a *feature* or report a *bug*?**

BUG.

**What is the current behavior?**

Here is [JSFiddle](https://jsfiddle.net/martinsvk/69z2wepo/57522/), just try to edit the default value `2.34` to something else, like `3.45`. As soon as i insert dot, cursor stars to jump in input.

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previo

[2016-09-23 17:27] martin-svk commented on #7799
I just noticed it is duplicate of https://github.com/facebook/react/issues/7253

[2016-09-23 17:27] #7799 closed

[2016-09-23 18:04] crgwbr commented on #7655
Slight update to @tappleby's patch below. The original didn't work if the select only contained a single option. The below code detects that case and temporarily adds an additional option element, runs the option toggle to fix the edge bug, then remove the transient option.

[code]

[2016-09-23 18:35] ChBernat commented on #7755
I'm on it.

[2016-09-23 18:52] jimfb commented on #7755
:/

This would be a breaking change anywhere that people check the event type:

[code]

cc @gaearon @spicyj My intuition is that this is not worth the churn.  It's going to break too many things and I don't see a good migration path.

[2016-09-23 18:54] spicyj commented on #7755
Same. I don't think we'll do this, sorry.

[2016-09-23 18:54] #7755 closed

[2016-09-23 19:13] ChBernat commented on #7755
I'm not react proffesionalist but I was on this issue for like 30 or even more minutes and to be honest in my opinion it's not that difficult to be accomplished.

I think that there's only one, last thing that keeps me away from achieving a result.

I have added a new property on a syntheticEvent object called cameCasedType and it's pretty much okay with all the examples except a JQuery one and th

[2016-09-23 19:18] spicyj commented on #7755
Sorry, we don't want to make any change here. We don't want both `.type` and `.camelCaseType`, and the advantages of camel case here are too few in my opinion. To solve the original use case, you can write

[code]

or similar in your component code.

[2016-09-23 19:20] ChBernat commented on #7755
Okay, sounds fair to me. Just wanted to help. :)

[2016-09-23 19:23] spicyj commented on #7755
Yup, thank you!

[2016-09-23 19:23] lacker commented on #7768
I think ideally you have some sort of selector that lets you pick different versions of the docs for different versions of the library. That probably wouldn't catch the "React warnings" pages which are a separate sort of system from all the other docs. Do you know what version of React introduced this specific warning for unknown props? - that would be a useful one line to add to this text, I just

[2016-09-23 19:23] spicyj commented on #7755
It can be tricky to work on issues if you don't know that a fix is wanted – you often end up wasting effort.

[2016-09-23 19:38] #7798 closed

[2016-09-23 21:53] troydemonbreun commented on #7767
@jimfb Is this an acceptable fix? (tests to follow)

[2016-09-23 23:30] quassnoi opened #7801 "JSX Spread tag proposal"
This is a feature request.

It is a common request from developers to allow returning multiple elements from inline expressions in JSX.

http://stackoverflow.com/questions/23840997/how-to-return-multiple-lines-jsx-in-another-return-statement-in-react

A use case for this would be this pseudocode:
[code]

which would have React generate either `<Parent><Child/></Parent>` or `<Parent><Sibling1/><Sib

[2016-09-24 04:51] jimfb commented on #7767
At a higher level, I'm not even convinced that the existing behavior is wrong.  It actually seems perfectly consistent to me.  You can fix the fiddle by adding an initial state, as demonstrated here: https://jsfiddle.net/qnea33eg/

The controlledness of a component is defined by the value prop.  If you're using controlled components, the value prop should be specified for the lifetime of the compo

[2016-09-24 04:51] #7767 closed

[2016-09-24 08:22] syranide commented on #7767
@jimfb 👍 I thought `value` was actually defined initially.

[2016-09-24 08:31] syranide commented on #7801
`React.createFragment` exists and is not in addons anymore, it just doesn't have a JSX-syntax yet. Nothing has really been decided yet, but people seem to like `<>`, that's what E4X uses as well. Personally I'm using a hack that wraps `React.createElement` with code that replaces `<frag>` with actual fragments at runtime for the time being.

Side-note, using `...` for this would not be accurate. T

[2016-09-24 11:32] cristian-sima commented on #5272
`toArray` is a costly operation as it is `toJS()`.

I agree with @jareware that React should have build in support for `KeyedIterable`.

It is really painful when you start to [normalize data](https://github.com/paularmstrong/normalizr), store it as Maps and then every time you get that warning in your log.

![image](https://cloud.githubusercontent.com/assets/12199042/18808179/c775a9d2-8263-11e6-8

[2016-09-24 14:38] jimfb commented on #7784
Yeah, the slot attribute can exist on virtually any element.

Related to #140

[2016-09-24 14:43] jimfb commented on #7792
@gaearon SVG whitelist.

[2016-09-24 15:14] joetidee commented on #7349
Hope you don't mind me asking, but this error appears in my application sporadically and is accompanied by an error that suggests that `options` of `thing[0]` is undefined. When I refresh the page the error does not appear (although as mentioned the error appears infrequently). This suggests that it is a timing issue, so could I ask if I need to and how to wait for `thing` to be populated?

[code]

[2016-09-24 17:13] kentor commented on #5272
Then use valueSeq instead of toArray

[2016-09-24 20:09] ccoffey opened #7803 "Upgrading to React v15.2.0 causes my development build to crash IE9"
My application crashes IE9 when I upgrade to React v15.2.0! It works fine with v15.1.0 and all earlier versions.

My diff looks like this

[code]

Below is a GIF of the crash, I recorded this using BrowserStack (Win7, IE9). I start the recording with Google loaded and dev tools open, I then navigated to my apps URL. As you can see IE9 just crashes hard with nothing logged to console. All other bro

[2016-09-24 20:44] Aweary commented on #7803
Support for IE9 was not dropped as far as I know, but unfortunately we can't really help without an idea of what code is causing the issue. Have you tried identifying which part of your application is causing the issue, and if so can you share some of the code that you believe is causing this?

[2016-09-24 20:47] gaearon commented on #7349
[code]

?

[2016-09-24 20:50] ccoffey commented on #7803
I have also tried with the latest version of React (v15.3.2) and it still crashes.

I currently have no idea what is causing this. It boots in IE9 with React v15.1.0 and all earlier versions of React. It crashes IE9 hard with no error information (console logs, etc) when I use React v15.2.0 or any later version.

I was hoping you guys could point me in the right direction. What did you change in v

[2016-09-25 01:04] f0rr0 opened #7805 "enter, leave timeout on CSSTranstionGroup"
**Do you want to request a *feature* or report a *bug*?**
*bug*
**What is the current behavior?**
Everything works, only there is a warning in the console.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**
Using cssTransitionGroup for appe

[2016-09-25 11:08] ccoffey commented on #7803
I've managed to narrow this a little further. My application crashes IE9 if I use React & React-DOM v15.2.0-rc.1.

Am I correct in saying that 1 of the 5 commits below must be the culprit? [Taken from here](https://github.com/facebook/react/commits/15.0.2-dev)

1. [Merge pull request #6553 from zpao/cleanuppkg](https://github.com/facebook/react/commit/c81c29ae58eda387dc464dad66d86dd08761074f)
2. [

[2016-09-25 12:04] gaearon commented on #7803
Does 15.3.1 have the same problem?

[2016-09-25 12:14] waleedarshad-vf commented on #3599
props is undefined in constructor. any reason?

[2016-09-25 13:08] gaearon commented on #3599
@waleedarshad-vf Please see the comment above: https://github.com/facebook/react/issues/3599#issuecomment-90079947.

[2016-09-25 13:35] drcmda commented on #7678
I think having these would confuse the hell out of beginners, at least if they're named like this. I think React is already quite verbose and shorter terms like mounted, unmounted, served, rendered, etc. would be easier to understand. But adding even more verbose calls with semantic differences like "was" and "did" that covey no message but have major impact behind the scenes ... React wouldn't be

[2016-09-25 14:42] ccoffey commented on #7803
I paired my application back to a minimal example which reproduces this issue: https://github.com/ccoffey/react-ie9-crash

[2016-09-25 14:45] ccoffey commented on #7803
@gaearon I just tried 15.3.1 with my minimal example and it crashes too.

[2016-09-25 16:39] gaearon commented on #7803
That’s weird. I can reproduce this with your example (even without the iframe).

I noticed that UMD builds seem to work. If I replace `require('react')` and `require('react-dom')` with globals and include their scripts on the page, it doesn’t crash.

[2016-09-25 16:43] gaearon commented on #7803
For the reference, here is a minimal bundle causing the crash: https://gist.githubusercontent.com/gaearon/e1cae3b92c41bf6a284a09f7e69eb38b/raw/da3a7dbfc93499d7245035bbf0c9f39f32579f73/bundle.js. I produced it by compiling

[code]

with Webpack and your configuration.

[2016-09-25 17:14] ccoffey commented on #7803
@gaearon thank you for validating and reproducing this issue. What are the next steps? Do you guys prioritise these types of regressions?

[2016-09-25 17:23] gaearon commented on #7803
I’m not sure it’s a regression yet. As I said, UMD builds seem fine, so this is something I can only reproduce with Webpack build so far. Even more weirdly, replacing [this line](https://github.com/facebook/react/blob/b7c70b67af77fa8611d4b13315bf57df15c4d35b/src/renderers/dom/client/ReactDOMComponentTree.js#L45) with `var hostInst = inst;` fixes it for me. Merely the act of calling that function (

[2016-09-25 17:35] ccoffey commented on #7803
@gaearon any idea why this only became a problem in 15.2.0-rc.1? Also how is this not affecting alot more people? Seems like this should affect everyone using webpack and React > 15.1.0?

[2016-09-25 17:49] gaearon commented on #7803
If it's a script engine bug it's really random and could occur due to any code change anywhere else in the bundle. We don't know what causes it so even if we know the exact commit, we won't have a way to fix it without a plausible theory about what happened.

I'm not sure why it doesn't affect more people. I haven't checked if there's anything else that could influence it. For example I don't know

[2016-09-25 19:11] ccoffey commented on #7803
@gaearon in case it helps to know, I just bumped
  webpack from 1.12.2 to 1.13.2
  webpack-dev-server from 1.12.0 to 1.16.1

and I am still seeing the same crash! I'm not convinced this is a random script engine bug but I would really love to be proven wrong!

[2016-09-25 20:36] Aweary commented on #7801
Closing, since as @syranide said JSX proposals go in the JSX repo 👍

[2016-09-25 20:36] #7801 closed

[2016-09-25 21:59] gaearon commented on #7803
Does the workaround of using UMD builds help you in the meantime?

[2016-09-25 23:02] shanecav opened #7806 "React.Children.map doesn't work with "Function as Child" Components"
If I create a component that accepts functions as its children, I'm not able to use `React.Children.map` to map through them (it returns nothing). I instead have to just use `props.children.map()` - but that throws an error if there's only one child.

Here's a JS Bin illustrating the issue: http://jsbin.com/fufaga/edit?js,output

I'm not sure if this is a bug, or intended functionality, or if it's

[2016-09-26 04:36] waleedarshad-vf commented on #3599
@gaearon i mean to say prop is undefined here

export default class MessageBox extends React.Component {
    constructor(props) {
        console.log(props) => undefined  // this is coming in particular class otherwise it give atleast       {} elsewhere
         super(props);
         console.log(this.props);
    }
    ...
}

[2016-09-26 07:38] syranide commented on #7806
Functions are not valid React Elements, so they're discarded by `React.Children.map`.

[2016-09-26 08:08] kkav004 opened #7807 "using propTypes"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-09-26 08:30] caub opened #7808 "How to pass inline CSS variables?"
I tried `style={{'--border-color': 'red'}}` or `style={{'--borderColor': 'red'}}` and get warnings

I don't think React support them yet

[2016-09-26 09:14] bretthadley commented on #7803
Hi,

I'm getting the same issue and weirdly if I include the webpack.optimize.UglifyJsPlugin() it works fine as well.

[2016-09-26 09:21] MoeSattler commented on #7512
The problem is, that now every dev must learn that `env === production` doesnt mean production, but might as well be staging. and that just because `env === production`, that doesn't mean we can use production APIs.

It's just another, small leap to madness, imho

[2016-09-26 12:56] slashwhatever opened #7810 "Being warned about manually calling a React.ProptTypes validation function"
I don't think I am though:.

Component:

[code]

But I get a warning about every proptype defined on that component: https://puu.sh/roo3s/b02406c37b.png

[2016-09-26 13:05] slashwhatever commented on #7810
Scratch the above. Tracked down to a child module not importing React correctly.

[2016-09-26 13:05] #7810 closed

[2016-09-26 13:21] Aweary commented on #7808
@caub thanks for the issue!

Correct, this isn't supported at the moment. We have an issue open about it at https://github.com/facebook/react/issues/6411 if you want to track any updates/conversion on the topic 👍

[2016-09-26 13:21] #7808 closed

[2016-09-26 14:54] SpainTrain commented on #1739
@decodeman, FWIW we have been using the double render approach (like what you allude to) successfully in a large production app.  It is inspired by [this redux-saga example](https://github.com/yelouafi/redux-saga/blob/master/examples/real-world/server.js#L72), but the general approach should work well with any type of async loading.  You just need to move loading to `componentWillMount`.  To help

[2016-09-26 14:58] #7807 closed

[2016-09-26 15:06] Aweary commented on #3599
@waleedarshad-vf can you share a code sample reproducing your issue? You can use https://jsfiddle.net/reactjs/69z2wepo/ as a base. `props` should never be `undefined` as far as I know, so there's likely something else going on here.

[2016-09-26 15:41] quasipedia commented on #6467
Hi @gaearon @zpao !

The above quote is from 9 April this year: I was just wondering if after half a year you had some update on this proposal, or if any new consideration has come into play that may affect this issue.

Thank you for your awesome work! :)

[2016-09-26 16:53] satya164 commented on #7512
@MoeSattler Yes, but since your staging environment is supposed to mirror the production environment, why shouldn't you use `env === production`? (and a different env variable for the few things those are different)

[2016-09-26 17:10] jimfb commented on #7806
@syranide @sebmarkbage Somehow this feels like it breaks the abstraction.  Children are anything within the body of the JSX tag.  If I do `<Parent>{myfunction}</Parent>`, I get a single child (no array) and if I do `<Parent>{myfunc1}{myfunc2}</Parent>` then I get an array.  I feel like this is exactly what `React.Children` was intended to fix (the fact that the structure of the children produced b

[2016-09-26 18:43] sebmarkbage commented on #7806
`React.Children` isn't only the top level. It is also handling the recursive case. It should also retains keys properly in that scenario. Since we can't properly retain keys on some terminals, those can't be handled. Perhaps we should have a better warning in this case though.

[2016-09-26 20:05] Vishal0203 commented on #2680
I was able to use animate.css with react.
Look at my answer at [stack overflow](http://stackoverflow.com/questions/30904462/how-to-add-reactjs-animation-library-and-animate-css-to-animate/39711423#39711423)

[2016-09-26 20:14] sebmarkbage commented on #7678
@drcmda I think that's a fair point. I intentionally named them with subtle semantic differences to avoid coming a up with a new naming scheme.

We will also need to leave the existing ones in for a very long time to make upgrading smooth. However, I think that some of the existing ones will become edge cases and can be relegated to "legacy".

I think we'd probably need to come up with a new namin

[2016-09-26 23:32] ide commented on #7512
@MoeSattler If a dev doesn't know that both production and staging are configured with `NODE_ENV === 'production'`, that means all of their code that checks if `NODE_ENV === 'production'` will run identically in staging in production. That's a good thing because simulating production is one of the main reasons to have a staging environment. So by default, people who are unaware that `NODE_ENV ===

[2016-09-27 01:36] huaruiwu commented on #6733
Try `<clipPath>` instead of `<clippath>`. Chrome seems to be case-sensitive about this, which I think goes against html specs.

[2016-09-27 04:30] yaycmyk commented on #7806
@syranide what about SFCs, which are also simple functions?

[2016-09-27 04:34] shanecav commented on #7806
@syranide @sebmarkbage That makes sense. If I use functions as children, I'll just handle their opaque data structure myself. Thanks for clarifying!

@yaycmyk SFCs are still represented as React Elements with the `type` property set to the SFC; functions as children are literally just functions, not Elements.

[2016-09-27 04:37] #7806 closed

[2016-09-27 05:19] waleedarshad-vf commented on #3599
@Aweary i am unable to reproduced. but i got undefined when i put debugger over there. not sure where it has gone :)

[2016-09-27 08:10] ccoffey commented on #7803
@gaearon I'm afraid I don't follow you. Can you please explain how I would configure "UMD builds" with the minimum example react-ie9-crash application that I posted?

[2016-09-27 12:19] gaearon commented on #7803
@ccoffey

You can configure Webpack with [`resolve.alias`](https://webpack.github.io/docs/configuration.html#resolve-alias) option to use UMD bundles (aka precompiled minified files) for React and ReactDOM:

[code]

Then your code will use them instead of CommonJS modules.

However, as @bretthadley reported in the comment above, enabling `UglifyJsPlugin` seems enough to solve the issue, which is s

[2016-09-27 13:45] gaearon commented on #1753
I’m interested in adding this to Create React App in the meantime: https://github.com/facebookincubator/create-react-app/issues/783.
Feedback is welcome.

[2016-09-27 14:15] ccoffey commented on #7803
@gaearon thank you for all of your help! I just verified that enabling the UglifyJsPlugin for our development builds does indeed "fix" this issue! @bretthadley thank you for pointing this out!

Funny enough, we already use the UglifyJsPlugin in our production builds so we would not have been blocked by this issue if we were not so good at testing in development 😄

Fear not tho, this experience wil

[2016-09-27 14:24] iDVB commented on #1368
UPDATE - @gaearon
I narrowed down "where" the issue is for us, but not sure of the "why". So if you recall, our issue was that our Page component (Home) was not firing the hooks. Note: Our Page component is wrapped in two compositions `WindowState(GSAP(Home))`. When I remove `WindowState()` (a custom one I wrote), everything works fine.

Here is the component:
[code]

Any ideas why GSAP is able to

[2016-09-27 15:10] nwikstrand opened #7815 "Shape validation does not recognize deconstructed props attributes"
Bug (?)

Shape validation does not recognize deconstructed props attribute.
`'bar.baz' PropType is defined but prop is never used react/no-unused-prop-types`

Failing example with deconstructed props:
[code]

Working example with non deconstructed props:
[code]

[2016-09-27 15:22] syranide commented on #7815
That's an issue with the hinting-software you're using, specifically a react plugin for it. Not React.

[2016-09-27 15:24] Aweary commented on #7815
Looks like you're using eslint-plugin-react. You're best bet is to direct your question there https://github.com/yannickcr/eslint-plugin-react

[2016-09-27 15:24] #7815 closed

[2016-09-27 15:49] Aweary commented on #7797
@jvorcak using `componentDidUpdate` is the correct place to manipulate the DOM manually after a render. Per [the docs:](https://facebook.github.io/react/docs/component-specs.html#updating-componentdidupdate)

Also, we try to use the issue tracker solely for feature requests and bug reports. Usage questions should be directed elsewhere, like [discuss.reactjs.org](https://discuss.reactjs.org/) or St

[2016-09-27 15:49] #7797 closed

[2016-09-27 16:13] marvinhagemeister commented on #7743
@gaeron Just tried to reproduce this bug with 15.3.1 but it works perfectly fine with the given test-case.

[2016-09-27 16:16] gaearon commented on #7743
I’ll close then. 15.x has been out since April, and we encourage you to update to get the bugfixes. Trying to patch it over there is likely to only introduce more issues.

[2016-09-27 16:16] #7743 closed

[2016-09-27 16:27] adomenech73 opened #7816 "Tests errors when compiling on Linux aarch64"
**Do you want to request a *feature* or report a *bug*?**

bug, but probably on still unsupported arch

**What is the current behavior?**

I'm trying to compile react on linux aarch64, and get this two tests errors:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://

[2016-09-27 19:39] Wilfred commented on #4216
See also https://github.com/facebook/fbjs/pull/183

[2016-09-28 00:01] keyanzhang commented on #7816
This should have been fixed in master (#7670) but we haven't cut a release with this commit yet. Could you try building the master branch instead?

[2016-09-28 06:58] nwikstrand commented on #7815
My bad, thanks for pointing that out :)

[2016-09-28 09:45] Akronix opened #7820 "Don't trigger warnings when a prop is {null}"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When you have an unexpected prop in a component but that prop is not meant to be generated on the HTML DOM so that is set to {null}, React triggers this warning:
[code]

The actual use case is to have a reusable component called `<Anchor>` and it'd be either `<Link activeClassName="'is-active" />` or `

[2016-09-28 10:05] jkomyno commented on #6895
I'm having the same bug. What is strange, though, is that it happens only if I move the subcomponents of my custom Dashboard components from a place to another, in a way that just doesn't make sense to me at all.
The error that I get is:

main.js:2982 Warning: performUpdateIfNecessary: Unexpected batch number (current 7, pending 1)printWarning @ main.js:2982warning @ main.js:3006performUpdateIfNec

[2016-09-28 10:06] jimfb commented on #7820
Duplicate of https://github.com/facebook/react/issues/7266, see discussion there.

[2016-09-28 10:06] #7820 closed

[2016-09-28 10:24] Akronix commented on #7820
really? isn't there any actual difference for react between setting a prop wittingly to `{null}` (suppose to mean  _not use the prop_ ) and accidentally have the prop set to undefined?

[2016-09-28 10:40] jimfb commented on #7820
@Akronix If anything, setting the prop to null implies that "the attribute does exist, and has no value"... which is even worse than setting the prop to undefined.  If undefined is prohibited (which it is, as per the discussion I linked), then null should certainly be prohibited.

So yes, there is a difference, and both values should be prohibited.  The key should not exist on the props object for

[2016-09-28 12:23] stoikerty commented on #4302
Does anybody know of a workaround to get the `--watch` scenario mentioned by @scottnonnenberg working? Unfortunately [@gaearon's workaround](https://github.com/facebook/react/issues/7047#issuecomment-228614964) is not applicable as the warnings are still only triggered once.

[2016-09-28 14:47] adomenech73 commented on #7816
@keyanzhang It worked perfectly as you said! I just had to checkout '00ac179' and all the test where passed.

Thanks

[2016-09-28 14:47] #7816 closed

[2016-09-28 15:26] gztchan commented on #4676
#780

[2016-09-28 15:27] gztchan commented on #4676
b90fdb6

[2016-09-28 15:28] gztchan commented on #4676
v15.3.0 supports `playsInline` 😄

[2016-09-28 18:34] GerardRodes opened #7823 "`context` always empty object"
I'm trying to set a context in my React App, but somehow i can't acces context from childrens. This is the parent class:
[code]
And here is my children class:
[code]
All the console.log's return an empty object, am i doing something wrong?

[2016-09-28 18:40] Aweary commented on #7823
You have to specify `contextTypes` on `MenuBar` for any context properties to be passed to it. See [this working example](https://jsfiddle.net/8ef6vw1h/).

[2016-09-28 18:40] #7823 closed

[2016-09-28 18:49] GerardRodes commented on #7823
omg... thank you!!

[2016-09-28 18:52] gaearon commented on #7293
Hey everyone, thanks for sharing your thoughts.

We still intend to provide the patent grant in addition to the BSD license in Facebook open source projects, including React. However we know the legal wording may sound confusing so we worked with the legal team to publish a small FAQ. It addresses the most common misconceptions we have seen so far.

You can find the FAQ here: **http://code.faceboo

[2016-09-28 20:08] RoboMantis commented on #7823
its the state of the constructor that recursively calls itself

On Wed, Sep 28, 2016 at 11:50 AM, Gerard Rodes <notifications@github.com>
wrote:

[2016-09-28 22:15] mnpenner opened #7824 "React fails to update TextNode in IE8"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

React fails to update text nodes in IE8

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

This is as close as I could get to a reproduction

[2016-09-28 22:20] sergiotapia opened #7825 "DangerouslySetInnerHtml not working properly on simple example."
Using React 15.3.0 latest.

Here's what I tried and how it goes wrong.

This works:

[code]

This doesn't:

[code]

---

The description property is just a normal string of HTML content. However it's rendered as a string, not as HTML for some reason.

[![enter image description here](http://i.stack.imgur.com/cI25q.png)](http://i.stack.imgur.com/cI25q.png)

Any suggestions?

[2016-09-28 22:24] PARAGJYOTI commented on #1649
thanx..camalCase works

[2016-09-28 22:50] jimfb commented on #7825
That would seem unlikely.  Either way, React just gets a string in, so React can't actually tell the difference between those two examples.  If you can demonstrate in a jsfiddle, we can investigate further.

[2016-09-28 22:57] vsiao opened #7827 "Unexpected interleaving of subtree/parent lifecycle methods"
Repro: https://jsfiddle.net/5t5ua47c/
In the example, a click handler in the subtree queues an update for both the the subtree and parent components, with the following ordering of lifecycle methods:

[code]

If the parent component unmounts the subtree in `componentDidUpdate` this will cause the subtree to be unmounted by the time that its `componentDidUpdate` method is called (https://jsfiddle.n

[2016-09-29 00:48] sergiotapia commented on #7825
I had to unescape the HTML for it to work.

`'&lt;h1&gt;Hi there!&lt;/h1&gt;'`

Should react automatically unescape html since we're already calling DangerouslySetInnerHtml?

[2016-09-29 01:33] brigand commented on #7825
@sergiotapia that escaped html is perfectly valid html. Unescaping it could allow for XSS attacks and incorrect rendering.

[2016-09-29 04:23] sergiotapia commented on #7825
I thought that was the point though, **dangerously**SetInnerHtml. Right now I have to create a div set it's html, then extract the html again. Not a good solution.

[code]

There should be a method that tells React to just do it.

[2016-09-29 07:20] syranide commented on #7825
@sergiotapia
`'&lt;h1&gt;Hi there!&lt;/h1&gt;'` renders to the **visible text** `<h1>Hi there!</h1>`.
`'<h1>Hi there!</h1>'` renders to an H1 with the text `Hi there!`, which is what you're expecting.

Both are valid HTML, but if it's the second result you expect then you shouldn't be storing it escaped like in the first example, it is *wrong*. React is working correctly, it's your stored represen

[2016-09-29 07:40] syranide commented on #7824
https://github.com/facebook/react/pull/7826#issuecomment-250393700

[2016-09-29 10:44] gaearon commented on #6335
I published some more information.

[How to Contribute](https://facebook.github.io/react/contributing/how-to-contribute.html) is what we used to have in `CONTRIBUTING.md`, but more up-to-date, and with new tips like [how to test your changes to React locally](https://facebook.github.io/react/contributing/how-to-contribute.html#development-workflow).

[Codebase Overview](https://facebook.github.io/

[2016-09-29 12:26] Cat-sushi commented on #7293
The FAQ doesn't answer my question above and copied below.
What is the additional permission granted under PATENTS?
My understanding is that solo BSD License itself already grants essential claims of React, because BSD License is a royalty free OSS License approved by OSI who requires OSS licenses to be permissive without any additional license.
Consequently, I think no permission is granted under

[2016-09-29 12:36] pilaas commented on #7506
Try not using `dangerouslySetInnerHTML`. It'll work if you change `xlink:href` to `xlinkHref`.

[2016-09-29 12:40] zrosenbauer commented on #6335
👍  [hacktoberfest](https://hacktoberfest.digitalocean.com/) is coming... so timing is perfect. Thanks @gaearon.

[2016-09-29 12:59] valentina09 opened #7829 "Valentina09"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-09-29 14:37] #7829 closed

[2016-09-29 15:12] Aweary commented on #7506
ping @patrickkettner! no rush, but when you get a chance could you take a look at @zpao's follow up questions? Thanks 😄

[2016-09-29 16:04] valentina09 opened #7831 "Amazon Seve Your Money."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-09-29 18:01] mnpenner commented on #7824
Sorry, I made a mess of everything. I think I have a clean commit now: https://github.com/nucleuslabs/react/commit/3e91942fb355b6f855e32a5e04b304625a130f02

I guess I have to submit a new PR.

[2016-09-29 18:04] syranide commented on #7824
@mnpenner FYI, you can always reset a branch and start from scratch without closing the PR. Also yes, that commit looks fine to me 👍

[2016-09-29 18:05] mnpenner commented on #7824
It closed the PR automatically when I did a hard reset. I guess because my commit got wiped in the reset? But we didn't want that commit in the history, right?

[2016-09-29 18:07] patrickkettner commented on #7506
super sorry @zpao @Aweary, last update got lost in my inbox

1. it would have shipped to public versions
2. no, it has not
3. Uptake has been great on new releases, since edge is tied to windows updates

it would be on the order of months, almost certainly less than a year that this would affect Edge users on stable builds

[2016-09-29 18:12] syranide commented on #7824
@mnpenner Oh ok, that must be new GitHub-behavior or something...

[2016-09-29 18:16] #7831 closed

[2016-09-29 18:38] AlexCppns commented on #3279
Is there a workaround? I need ComponentDidReceiveProps

[2016-09-29 18:44] mnpenner commented on #7824
I thought the new PR would automatically link here because I put the issue # in the commit, but I guess not.

[New PR is here](https://github.com/facebook/react/pull/7832)

[2016-09-29 18:59] iammerrick commented on #3279
I made this issue over a year ago and have been using React daily since. I no longer think there is a use case for componentDidReceiveProps that justifies increasing the API.

@AlexCppns what is it you are trying to do?

[2016-09-29 18:59] #3279 closed

[2016-09-29 19:01] shea256 commented on #3279
+1

[2016-09-29 19:02] AlexCppns commented on #3279
@iammerrick, actually it's alright, I just misunderstood how componentWillReceiveProps is used.

[2016-09-29 19:03] Aweary commented on #3279
Related discussion: https://github.com/facebook/react/issues/7678

[2016-09-29 19:09] thymikee opened #7833 "Mobile friendly docs"
I'd like to contribute to make React docs mobile friendly, because I cry every time I need to look up something on a phone 😢.

There had been and attempt to do that some time ago here: #5404 with this PR: #5512, but apparently it was abandoned by an author.

I'd like to wait with sending my PR until you accept the navigation design (the reset is pretty straight-forward I guess).

So, this is prett

[2016-09-29 20:17] nolanlawson commented on #6436
You'll also want to handle arbitrary options, such as `once` which has already landed in Firefox nightly: https://twitter.com/mozhacks/status/758763803991474176. Full list: https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener

[2016-09-29 20:25] sebmarkbage commented on #6436
FWIW, Facebook listens to active wheel events to block scrolling when sidebars or chat windows are scrolled. We can't implement the UI without it. We still want to support this as an option but the problem space is still incomplete so there might evolve alternative solutions to this problem that doesn't involve passive event listeners. So it is still an active design space.

[2016-09-29 20:55] romulof commented on #6436
It's important to keep both active listeners and add support passive ones.
On desktop applications you don't see any difference, but on mobile apps passive scroll listeners give a great speed boost.

Little suggestion:
[code]

[2016-09-29 21:08] brandonaaskov commented on #7824
React discontinued React DOM support for IE8 with v15. In your Fiddle you're using React DOM 15.3.2. Have you tried using an older version, like https://npmcdn.com/react-dom@0.14.8/dist/react-dom.js?

[2016-09-29 22:02] Johnius opened #7835 "Input doesn't fire focus event when it focused programmatically on element…"
So if I assign `onFocus` callback to `<input />` and then call method `focus()` on actual element, react won't fire `onFocus` event and related callback won't be called.

It's a problem of react, not DOM method `focus()`, because with `addEventListener('focus', fn)` it fire such an event.

Version is `15.3.2`

**UPDATE**
I called `this.refs.input.focus()` from `componentWillReceiveProps` which do

[2016-09-29 22:38] TheSharpieOne commented on #7835
Threw together a quick example: https://jsfiddle.net/TheSharpieOne/n78yc0jg/ It seems to be working fine.
If there is something else needed to get the result you are seeing, you should create your own example showcasing the issue.

[2016-09-29 22:51] lacker commented on #7833
I think your vision here is pretty cool! I definitely agree our docs could be nicer on mobile. We were also thinking of altering some details of the overall layout, which might be a little conflicty here, but we have a meeting on Monday to see who's gonna work on that stuff out, so I'll report back to this issue after that.

[2016-09-29 23:05] mnpenner commented on #7824
@brandonaaskov No, I have not tried reproducing this particular issue in React 0.14. Everything else seems to work in v15 though, so I'd rather stick with 15.x for as long as I can. It's only a 3-line fix to make it work.

[2016-09-30 00:36] zpao commented on #7482
I finally came back around to this and [tried a few things](https://github.com/facebook/react/compare/master...zpao:webpack-alias-dist). I hit a bit of a wall though, so not sure how to progress. We *might* need to do our own UMD bundle but that's going to get tedious. My main approach to try to solve this was to bring back the old UMD shims. Bundling seems to work fine BUT they still don't play n

[2016-09-30 05:32] thymikee commented on #7833
👍

[2016-09-30 07:49] radubrehar commented on #6436
@romulof yeah, this is how you register events on the capture phase as well
[code]
so I imagine this would be the proper API to support passive events as well.

Side note: a tricky question is - how would you register passive events for the capture phase? I suppose this is not possible, by the nature of passive events. Since they are even not allowed to call `event.preventDefault()`, so probably t

[2016-09-30 07:55] romulof commented on #6436
@radubrehar, `onScrollCapturePassive` looks like the whole bible in camel-case.

[2016-09-30 07:56] syranide commented on #7824
@brandonaaskov @mnpenner IE8 is unofficially supported but not actively maintained for now, unless it breaks to the point where it's no longer worth the added code complexity.

[2016-09-30 08:06] romulof commented on #3725
Accessing other props to define defaultProps is considered an anti-pattern?

[code]

[2016-09-30 08:06] radubrehar commented on #6436
:) It's not the case, since there are no passive events on the capture phase.

[2016-09-30 08:18] romulof commented on #6436
Sure it doesn't make sense, but I would't count on it. There's also other types event binding, such as `once`.

Another suggestion:
[code]
This way React would have to detect whether the event handler is a function (normal binding), or and object containing binding options and the handler function.

[2016-09-30 12:47] mjntan35 opened #7838 "A group of radio button requires all to have defaultChecked attribute to work properly in Firefox"
https://jsfiddle.net/kwrdf44r/

[2016-09-30 13:17] bochen2014 commented on #7776
Refs don't work on Stateless Components : https://github.com/facebook/react/issues/4936
Non-static methos are not hoisted by @connect:
https://github.com/reactjs/react-redux/pull/270

[2016-09-30 14:13] nmaves opened #7839 "Error with preload attribute on video with IE11 and Windows 7"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
We get an error when using the `preload="auto"` on a video element in react.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**
Here is a scree

[2016-09-30 14:45] syranide commented on #7839
Try setting `video.setAttribute('preload', 'auto');` directly via JS on the video-node and see what happens, because it looks like the node is throwing the error. React itself really shouldn't be throwing any errors there.

[2016-09-30 15:05] olegafx commented on #7506
Got the same issue. @pilaas's advice works as expected, thanks!

[2016-09-30 16:06] duncanfinney commented on #6895
@jkomyno @gaearon: I experienced this issue as well.

What was happening was the `initialValue` I was pulling from state was `undefined`

[code]

Changed one line to:

[code]

and everything worked again.

[2016-09-30 17:19] jkomyno commented on #6895
My issue was pretty similar, same undefined stuff, even though it was a
prop correctly initialized in the reducer. I suppose the only workaround
here would be patching the debugger a little bit to make the developers
realize where the error comes from. Or, even better, find a way to tunnel
the reducer initialization to the component at the first render

Il 30/set/2016 18:08, "Duncan Finney" <notif

[2016-09-30 17:34] zpao commented on #7482
I think this problem probably gets worse when we throw derequire and collapser back in the mix, though haven't tested to see how those play with declaring that 'react' is external...

[2016-09-30 17:38] gaearon commented on #7482
It might. (And in my opinion it would be simpler to do than having a bunch of post-processing plugins but I might be wrong 😄 )

[2016-09-30 19:03] Johnius commented on #7835
Thanks for an example. I figured out the problem. I called `focus()` on `this.refs.input` from `componentWillReceiveProps`. To solve it I moved this call out of current stack using `setTimeout`.

[2016-09-30 19:22] suicide360 commented on #7835
What does this mean some one listening to my calls?

[2016-10-01 02:04] #7824 closed

[2016-10-01 05:38] Cat-sushi commented on #7293
By the way, how can we find the FAQ by means other than the link above?

I can't find navigation path from https://code.facebook.com.
I can't search within code.facebook.com. (https://code.facebook.com/search?q=FAQ)
I can't google it. (https://www.google.com?q=site:code.facebook.com+%22Open+Source+License+FAQ%22)
I can't google web sites linking it. (https://www.google.com?q=link:https://code.face

[2016-10-01 13:22] pnkapadia6 commented on #5061
@jimfb @zpao I have react 15.3.0 and svg issue is still happening in IE 11

[2016-10-01 15:41] brigand commented on #3279
I've ran into this a few times, and what I ended up doing was:

[code]

[2016-10-01 15:42] karczk commented on #7835
@Johnius, you didn't show any example so it is hard to evaluate your solution. `setTimeout` in `componentWillReceiveProps` looks like a hack. DOM operations (like focus()) are valid in `componentDidMount` and `componentDidUpdate` without `setTimeout`.

[2016-10-02 02:19] phyllisstein opened #7844 "React not clearing data-reactid and data-react-checksum attributes from DOM on mount."
**What is the current behavior?**
After rendering a React view on the server, React appears to mount without errors on the client but does not remove the `data-reactid` and `data-react-checksum` attributes from the DOM. So far I've only observed the issue when using React Router v4 (also reported as ReactTraining/react-router#3984), but the RR folks have characterized it as a React issue.

**If th

[2016-10-02 09:24] antitoxic commented on #140
In continuation of what @gaearon [said](#issuecomment-186010590) in Feb this year, if anyone wants to make custom attributes a bit more tidy to write, you can do it with a babel plugin (*or other AST-based transformer if you're not using babel*).

Here's a quick working example (*you can change the `attrs` to what you find appropriate*):

[code]

[code]

Which will generate the required `ref` logi

[2016-10-02 11:47] halt-hammerzeit commented on #5869
@DylanPiercey And what for is the `data-reactid` attribute anyway?

[2016-10-02 16:41] DylanPiercey commented on #5869
@halt-hammerzeit the `data-reactid` attribute was partially removed in `15.x`. Basically it was what was used to link up the dom with react elements. Now it is only used to link up react when you are using server side rendering.

[2016-10-02 16:50] AlexeyFrolov commented on #379
I've spent some sensible time to research on this. As a result I end up with the library which permanently solved this problem for me. Check out, please, would be good to know the impressions and everything https://github.com/AlexeyFrolov/react-layer-stack

[2016-10-02 16:53] me-andre commented on #3279
@brigand , there's no need for a flag - you can compare props within `componentDidUpdate()`:

    componentDidUpdate(prevProps) {
        let needsUpdate = prevProps.foo !== this.props.foo;
        // ...whatever
    }

[2016-10-02 16:55] brigand commented on #3279
Oh cool, thanks!

[2016-10-02 17:08] wallacyyy commented on #6995
Is this still active ? I can give a try if not :)

[2016-10-02 18:34] daukantas commented on #7293
With regard to Cat-sushi , < notifications@github.com>

Neither can I  , I just hold the hard copy acknowledgement that I have duly  registered and I can apply any pull requests with approval from Face Book registration.

For example: My upcoming EVOSTAR Event: https://github.com/AmericanSundown/evostarweb/commit/9fbf72bcde34b09d13e8d5cc439d502a2cb193fa .

By the way, how can we find the FAQ by me

[2016-10-03 02:40] briandeheus opened #7845 "Log a warning if a user is setting DOM properties on a web component"
**What is the current behavior?**
Using web components with React is cumbersome, as properties such as `className` are being copied as attributes without transforming them to `class`. [A lot](https://github.com/facebook/react/issues/4933#issuecomment-145951830) has been said about this, but it can be very confusing for developers who are trying to use web components using React.

**What is the exp

[2016-10-03 05:36] brigand commented on #7845
The reason for class vs className is that both are valid properties on web components. Warnings are intended to be fixed, but in this case it might be impossible to fix since it's already correct. I think this should be solved with custom components that validate their props.

[2016-10-03 05:59] briandeheus commented on #7845
We can either scale down to say `debug` level (although I'm not sure if there is a debug level) or to update the documentation. I'm personally a big fan of web components and although I'm evidently biased, I think that more and more developers will run into this issue.

[2016-10-03 08:07] halt-hammerzeit commented on #5869
@DylanPiercey Well, while I can understand why it could be used on the client (and [this article](https://gcanti.github.io/2014/11/24/understanding-react-and-reimplementing-it-from-scratch-part-2.html) seems to kinda explain it) I don't see a reason why does it exist on the server.
The client gets the markup, without any `data-reactid`s, then it renders the same stuff on the client, without `data-

[2016-10-03 08:55] pmaojo commented on #7833
I think it's so important. I came just for the same.

[2016-10-03 10:40] bloodyowl opened #7846 "React lets access from the DOM to internal instances"
**current behavior?**

In [ReactDOMComponentTree.js ](https://github.com/facebook/react/blob/master/src/renderers/dom/client/ReactDOMComponentTree.js), `internalInstanceKey` gives easy access to React internal instances, even if the property name is randomly generated.

For instance the following piece of code lets access to the redux state, placed in context.

[code]

This might lead to some secu

[2016-10-03 11:34] gaearon commented on #7846
You should not treat any data you keep on the client in JavaScript memory as secure. A third-party script can do any kinds of things, including overriding React global (if you use one), pretending to be React DevTools, or overriding any native object behavior.

React offers no guarantees that its internal structures are not exposed to some third party code. In fact it is impossible (or, perhaps, e

[2016-10-03 11:34] #7846 closed

[2016-10-03 11:54] bloodyowl commented on #7846
Using `Object.create(null)` would do most of the work in fixing the `Object.prototype` issue.

If, or course, no security is guaranteed at all, it would be preferable not to expose the data directly but instead keep it in a closure IMO.

[2016-10-03 12:06] gaearon commented on #7846
Since we don’t offer that guarantee at all (e.g. DevTools *needs* a hook with that information anyway), I don’t see the point in adding half-measures to patch a few places. It’s better in my opinion to not guarantee something than to accept a patch that fixes one of hundreds places where we might rely on something like this. Especially considering that we don’t have any test suite guarding against

[2016-10-03 13:29] iDams opened #7848 "Update unknown props warning page"
**What is the current behavior?**
If I write a JSX component without an upper case, React gives me the [unknown prop warning](https://facebook.github.io/react/warnings/unknown-prop.html)
I finally remember that

But I think it could be useful to remind it in the unknown props warning page as a reason of this warning.
I spent some time debugging and not understanding this warning in this case. And

[2016-10-03 14:02] alisd23 opened #7849 "Windows development issues"
Having issues developing on windows (7) on a fresh install (master).

Running `npm test` causes all 118 test suites to fail with the error:

![image](https://cloud.githubusercontent.com/assets/5804010/19039654/bf3e3736-8978-11e6-9483-babae236e498.png)

Changing `testRegex` in the `package.json from`/**tests**/`to just`**tests**` seems to fix those issues, because the last character is an escape ch

[2016-10-03 14:50] iamdustan opened #7850 "Custom Renderer API Support"
I’m working through upgrading some renderers and documentation to the current master build (installing from http://react.zpao.com/builds/master/latest/).

From following along I knew there were some hard breaking changes I wanted to begin a discussion on what commitments React is willing to make at this time to support this use case.

Rather than trying to figure all of the current APIs needed up

[2016-10-03 14:51] #3248 closed

[2016-10-03 15:02] gaearon commented on #7850
I think the intention is to move towards Fiber (#6170) which has a completely different API that does not use classes, today’s `ReactReconciler`, and friends. [Fiber reconciler](https://github.com/facebook/react/blob/f6fdfd1bf0d13e51098a6009c2c85687b1245c9b/src/renderers/shared/fiber/ReactFiberReconciler.js) is intentionally written with opaque targets in mind so that it’s decoupled from day one a

[2016-10-03 15:10] iamdustan commented on #7850
Yeah, I’m looking for something to maintain through the 15.4/16 release cycle primarily knowing that Fiber will change the world. It sound like you’re saying you’d rather see a hack from the community to sync the React Reconciler code *out of* this codebase (something that React Native can avoid by being in this repo) rather than expose something explicitly between the new build format being relea

[2016-10-03 15:22] gaearon commented on #7850
React Native doesn't plan to avoid it. On the opposite, there is an open diff for React Native to ship a copy of the reconciler that will be manually synced just like I described. This lets RN team experiment with changing the renderer code, and sync it at their own pace.

Exposing the renderer as a package has pitfalls, the most significant one being unintentionally shared state between different

[2016-10-03 15:38] iamdustan commented on #7850
Do you have a link to that open diff by chance? I couldn’t find it in my browsing of https://github.com/facebook/react-native/pulls

[2016-10-03 15:40] gaearon commented on #7850
I don't think it was submitted as a PR, more likely as an internal diff 😞 .
@yungsters Do you have any updates on getting it merged?

[2016-10-03 16:21] DylanPiercey commented on #5869
@halt-hammerzeit there are plenty of virtual doms that don't need these id attributes to bootstrap existing DOM so it is definitely not required. I don't think react puts too much effort into SSR though. They seem to have an "if it works, leave it".

[2016-10-03 16:44] halt-hammerzeit commented on #5869
@DylanPiercey Yeah, I guess that's because facebook is an isolated ecosystem rather than a part of the internet.
So they don't need "Web is documents" concept at all.

I myself was thinking about React server side rendering in terms of caching, and came to conclusion that it would require a rewrite of the current `react-dom/server` package to drop `data-reactid`s and `data-react-checksums` in favo

[2016-10-03 16:58] Aweary commented on #5869
I guess someone will eventually develop such a mixed caching solution, and probably that could be a big company that hits performance issues while rendering React on the server-side.

You might want to check out `react-dom-stream`, which does [some caching with SSR](https://github.com/aickin/react-dom-stream#experimental-feature-component-caching)

[2016-10-03 17:04] halt-hammerzeit commented on #5869
@Aweary Thanks, looks like it's the way to go (in the future)

[2016-10-03 19:39] dotch opened #7852 "SVG with xlinkHref breaks tab-key focus on Safari 10"
**Do you want to request a *feature* or report a *bug*?**

Bug report

**What is the current behavior?**

On Safari 10:
Given a document with 2 `input` fields, separated by an `svg` that uses a `xlinkHref`, when focusing the first and pressing the tab key, the focus is not switched to the second input. Instead the address bar or another browser element gets focused.

I am not sure if this is an is

[2016-10-03 20:57] gaearon commented on #3710
Thanks again to everyone!
I tweaked and rebased almost all PRs in this thread:

https://github.com/facebook/react/commit/f5f1769583d14803f3e74bf522cf28b10b5a1a5c
https://github.com/facebook/react/commit/9174c29acc60a7f2c1de1b729d7b2ff5492391f8
https://github.com/facebook/react/commit/1b02c731ce68c8b2c33c41276892ad7c1a8b53f8
https://github.com/facebook/react/commit/a6445a18f98c9b5c453acee7fb5783b35

[2016-10-03 20:57] #3710 closed

[2016-10-03 21:19] lacker commented on #7833
OK, so the React team is now working on overhauling the docs & the plan is to finish this doc-a-than by October 14. We're doing it in the new-docs branch. If there's a way to get what you want via some not-super-disruptive changes like CSS, feel free to send a pull request to that branch. If you'd rather someone from the React team take a look, @vjeux claims its not gonna be too hard to do it so I

[2016-10-03 22:12] thymikee commented on #7833
The changes are mostly in CSS and are definitely not super-disruptive :D. I'll send a PR later tomorrow.

[2016-10-03 22:49] #7482 closed

[2016-10-03 23:14] spicyj opened #7856 "Show component stack for invalid type warning during element creation"
When you do `<Foo />` but Foo is not a valid string or function, we show an error message:

https://github.com/facebook/react/blob/92c84a6f37245f4fbe3ce5dc50845856201637fa/src/isomorphic/classic/element/ReactElementValidator.js#L196

We include the owner name ("Please check the render method of Bar.") but not the full parent stack which we show for some of our other warnings like key warnings and

[2016-10-04 01:23] briandeheus commented on #7856
Oh! I'm not sure if this the way to do it but I'm calling dibs on this one.

[2016-10-04 02:52] briandeheus commented on #7856
Alright, getting ready to send my PR! After lunch. :pizza:

[2016-10-04 03:45] intoxicated commented on #7856
I'm also trying to fix this to get my hands wet with React. How can I test changes I made ?

[2016-10-04 05:13] gauravbhusare opened #7860 "Unable to add css to react app."
I am making a react js app. I am trying to add bootstrap css to my app. following is my code.

webpack.config.js

            var webpack = require('webpack'),
            contextPath = process.cwd();

            module.exports = {
              devtool: 'inline-source-map',
              entry: [
                'webpack-hot-middleware/client',
                './client/client.js'

[2016-10-04 08:34] gaearon commented on #7860
Hi!

Unfortunately this doesn't look like an issue related to React itself, but more like something is wrong with your build setup. It is hard to guess what exactly from these snippets.

We use the bug tracker for bugs in React so I will have to close this issue. If you need help I would encourage you to create and publish a project reproducing your issue so that you can link to it here, on StackO

[2016-10-04 08:34] #7860 closed

[2016-10-04 13:37] rande commented on #7386
@gaearon look like the 2 issues from your last comment are now fixed. Do you plan a release ? This will help us a lot.

Thanks for your time.

[2016-10-04 13:42] Aweary commented on #7386
@rande we have an open ticket for the next release https://github.com/facebook/react/issues/7770. A RC for 15.4.0 should be out soon based on https://github.com/facebook/react/pull/7840#issuecomment-251249155.

[2016-10-04 14:34] jwietelmann commented on #1137
I would like to throw in on this to lobby for a built-in solution. The roll-your-own counter solution, which I have used for years, requires a manual per-request reset on the server side in order to make isomorphic apps work properly. It feels completely acceptable in the context of writing a full app, if a bit confusing the first time you encounter the issue. But it becomes a huge pain when writi

[2016-10-04 14:38] Aweary commented on #7852
@dotch thanks for the report! I was able to reproduce this outside of React, so it looks like this is an issue with Safari.

[code]

You can verify the issue still occurs here: https://jsfiddle.net/ermtc0tq/3/. I've submitted a bug report to Apple 👍

[2016-10-04 14:38] #7852 closed

[2016-10-04 14:44] LeZuse commented on #7769
Also came here to report this. Prevents a very usual usecase for `focus`/`select`:
[code]

[2016-10-04 15:31] Aweary commented on #6995
@wallacyyy there's an open PR for this at https://github.com/facebook/react/pull/7081

[2016-10-04 17:04] felipeochoa commented on #284
I would like to throw my support for this issue. Here are a couple of other use-cases I've run into:

* Dropdown menu needs to listen for `click`s outside itself to automatically close the menu
* Click-and-drag functionality sometimes needs to listen for `mousemove`/`mouseup` document-wide (e.g., lasso select around elements if the user drags outside the container element)
* Modal window handling

[2016-10-04 17:16] toddself commented on #1881
I literally just lost an hour debugging this. Given the amount of assistance react provides users when they do something unexpected (suggesting camel-case when using hyphenated class names, etc), i would have expected something in the console in this.

It would be awesome to be non-dogmatic and support people doing something unnecessary or at least warning about it.

[2016-10-04 18:03] spicyj commented on #6995
Fixed in https://github.com/facebook/react/pull/7515.

[2016-10-04 18:03] #6995 closed

[2016-10-04 19:07] syranide commented on #7769
@LeZuse You can just use `event.target` as a simpler workaround FYI.

[2016-10-04 19:30] thymikee commented on #7833
@lacker PR is there, you can have a look.

[2016-10-04 20:02] wallacyyy commented on #6995
@Aweary I know, just asked because the last interaction was 2 months ago, so maybe the PR could not been active anymore :) Thx for the reply !

[2016-10-04 21:34] ajainarayanan opened #7872 "Declaring react as"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-10-04 21:34] #7872 closed

[2016-10-04 21:57] ajainarayanan opened #7874 "react-addons-transition-group creates multiple copies of React"
#### Scenario:
- Have a react library & my own code that is using `react-addons-transition-group`
- During webpack build process React gets bundled twice (I am including `react` in my webpack build process and `react-addons-transition-group` which does `require('react/lib/ReactTransitionGroup')`)
- Apart from increased build size this is fine in webpack build process

However when I try to use the

[2016-10-04 23:04] gaearon commented on #7874
If the versions of React and the addon match, after deleting node_modules and running npm install you shouldn't get an extra copy of React. npm should just leave the top level React in the module tree.

Is that not the case for you?

[2016-10-04 23:12] ajainarayanan commented on #7874
@gaearon Yes that is the case but when using webpack to bundle my component I leave React out (as an external) and just bundle `react-addons-transition-group` as part of my lib file. And when using this component in an angular project I load React separately (the same React from the node_modules folder).

The problem however(I am guessing) comes from the fact that `react-addons-transition-group` j

[2016-10-05 03:09] tomchentw commented on #2461
The updated link to `unstable_handleError ` in v15 is here:
https://github.com/facebook/react/blob/15-stable/src/renderers/shared/stack/reconciler/__tests__/ReactErrorBoundaries-test.js

[2016-10-05 05:47] ajainarayanan commented on #7874
### TL;DR -
@gaearon [This issue](https://github.com/webpack/webpack/issues/1275) & [this solution](https://github.com/facebook/react/issues/6343#issuecomment-201584814) seemed to work for me.

### Longer version:
#### Issue:
  The issue is `react-addons-transition-group` and `react-addons-css-transition-group` seemed to be using internal APIs of react and if somebody is using this in writing a cu

[2016-10-05 05:47] #7874 closed

[2016-10-05 06:45] jasanst opened #7880 "ReactTestRenderer 15.4.0-rc.1 missing files"
Installing ReactTestRenderer@15.4.0-rc.1 from npm just brings down an index.js file, the referenced lib folder does not exist.

[2016-10-05 07:56] gaearon commented on #7874
Yeah, we don't have a good story around UMD bundles referencing addons right now. The plan is to decouple addons completely and then perhaps hand them over to the community because we don't actively maintain them anyway.

[2016-10-05 10:56] LeZuse commented on #7769
@syranide ha, true! Thanks!

[2016-10-05 12:35] danburzo commented on #7852
Hi @Aweary, thanks for investigating! Can you link us to the bug report so we can keep track of it? ✌️

[2016-10-05 13:17] eyesofkids commented on #3926
There is a tricky solution. To call the handlechange after `compositionend` is fired.

[code]

check the demo here: [https://jsfiddle.net/eyesofkids/dcxvas28/11/](https://jsfiddle.net/eyesofkids/dcxvas28/11/)

[2016-10-05 15:22] Aweary commented on #7852
@danburzo I submitted the report through the [feedback form](http://www.apple.com/feedback/safari.html) which has a bug report category, and they don't let you track the report 😢

I don't personally have a developer account with Apple so I don't have access to [https://bugreport.apple.com/](https://bugreport.apple.com/), but it might be worth reporting it there too if anyone wants to!

[2016-10-05 15:27] Aweary commented on #7880
/cc @zpao

[2016-10-05 17:01] blairanderson commented on #4026
this is being solved in v15 with `unstable_handleError()`

https://github.com/facebook/react/blob/15-stable/src/renderers/shared/stack/reconciler/__tests__/ReactErrorBoundaries-test.js

[2016-10-05 17:30] kevinSuttle opened #7882 "Docs request: build a React component library"
This is an important section that I think a lot of folks end up piecemealing on their own. It would be super useful in terms of ecosystem support.

[2016-10-05 18:47] hnordt opened #7885 "Thinking in React Tutorial Update"
[Thinking in React](https://facebook.github.io/react/docs/thinking-in-react.html) is one of the most important and well written tutorials for beginners and even for advanced developers.

I would like to update it to ES6 and increase the readability.

Also I would like to replace JSFiddle with the React docs highlighter.

First suggestions:

[code]

[code]

Should I continue or it doesn't worth the

[2016-10-05 19:19] AvaKathrynShaw opened #7886 "Inconsistent State after setState in ComponentDidMount"
I'm working with a library which needs to be initialized in componentDidMount according to their documentation but I am not getting the expected results when I update the state, like so:

[code]

When I view the object in the debugger I find my state was updated on the object ChartContents with the newly created chart but when I try to access it, it returns the empty object it was initialized with

[2016-10-05 20:02] zpao commented on #7880
Thanks for catching that - we need to add `lib/` to package.json `files` field.

[2016-10-05 20:57] mrscobbler commented on #7794
I've submitted a pull request for changes, let me know what you think.

[2016-10-05 21:11] Aweary commented on #7886
`setState` is not guaranteed to update state immediately, state updates are batched. When/where are you accessing state in both cases?

[2016-10-05 21:30] gaearon commented on #7794
Thank you for the PR! I just merged it, and it will appear soon on the website.

We are working on new docs in another PR and we decided the scrap that tutorial completely.

Nevertheless this will be helpful in the meantime.

[2016-10-05 21:30] #7794 closed

[2016-10-05 21:34] mrscobbler commented on #7794
Oh great! Can I help out with the new tutorial in any way? I'd love to contribute more to the documentation. Sometimes it's hard to keep documentation in sync with code changes.

[2016-10-05 21:50] AvaKathrynShaw commented on #7886
@Aweary the console.log statements are currently in the componentDidMount function, however the result is the same in the render function, I can find the state updated on this (the class object) but not this.state

[2016-10-05 21:52] kjs3 opened #7889 "DOM contents not ready after first update in incognito/private window."
**Bug**

**Current behavior:**

I am attempting to load data from an API, display, and then scroll to a URL fragment deep in the document. Window only partially scrolls.

This may have more to do with browser behavior but I can't figure out how to reliably wait for content to be painted before scrolling it into view on the first attempt.

**Here's an example showing the issue:**
1. open a _new_ in

[2016-10-05 23:12] lacker commented on #7885
Hey, I totally agree this should get updated to ES6. We have a bunch of folks working on the React docs this week on the new-docs branch and the format is a little bit different, so I can take this on.

[2016-10-06 00:13] gaearon commented on #7794
We are in a lockdown to rewrite it in #7864 and it’s in a messy state so it’s a bit hard to take outside contributions until it shakes out. However right after that is merged I’m sure there’ll be plenty of work possible around fixing/amending things we screwed up. 😄 I think until it is merged, it would be helpful if you could keep an eye on new PRs against `new-docs` branch and could comment on th

[2016-10-06 02:08] Aweary commented on #7886
There's no guarantee that state updates will complete immediately, since they're batched. See [our docs on `setState`](https://facebook.github.io/react/docs/component-api.html#setstate)

There is no guarantee of synchronous operation of calls to setState and calls may be batched for performance gains.

Logging state immediately after calling `setState` will likely give you the previous state since

[2016-10-06 02:09] Aweary commented on #7880
Closed by https://github.com/facebook/react/pull/7888 :tada:

[2016-10-06 02:09] #7880 closed

[2016-10-06 03:40] lacker commented on #7885
OK this is in the new-docs branch now.

[2016-10-06 03:40] #7885 closed

[2016-10-06 10:20] scrooby commented on #6822
Is there any update on when we can expect this fix to be released?

[2016-10-06 12:37] ProtectedVoid opened #7897 "SyntheticEvent.key property is "unidentified" in Safari on Mac OS X"
# BUG

### Current Behavior
Using a standard `<input type="number" onKeyDown={ this.myKeyDownEvent } />` with an onKeyDown event, the SyntheticEvent.key property is "unidentified" in Safari, for any key pressed.

**FIDDLE: ** https://jsfiddle.net/protectedvoid/u9mtvoyr/

### Expected Behavior
SyntheticEvent.key should provide the proper values for all standard keyboard inputs (letters, numbers, nu

[2016-10-06 13:56] syranide commented on #7897
Not a bug. Safari does not support `key` and does not expose values that could be used to accurately and reliably polyfill it fully either (unless this has changed recently, which I doubt).

However, it should report correct values for most control keys like space, enter, arrows, escape, etc.

[2016-10-06 16:44] AvaKathrynShaw commented on #7886
@Aweary You are correct, I did read the docs on setState and saw state is not guaranteed to be updated right away but when I saw only the state on `this` was updated with the new state but not `this.state` within the same function in the program I thought this strange behavior and I was doing something wrong. Also when I said:

I should have been more specific, the first render give me the same ou

[2016-10-06 18:52] adamgruber opened #7900 "shallowCompare in stateless components"
**Do you want to request a _feature_ or report a _bug_?**
Report a bug / confusion point

**What is the current behavior?**
Implementing `shallowCompare` inside `shouldComponentUpdate` will always return true if you do not pass `nextState` param.

[code]

**What is the expected behavior?**
I would expect the `shallowCompare` method to handle cases where `nextState` is not passed in OR for the docu

[2016-10-06 19:27] staltz opened #7901 "Bypass synthetic event system for Web Component events"
To use a Web Component in React, you must directly attach an event listener to the React ref for that WC. We could change the implementation so that when React detects a custom element (tag names with dashes, like `my-component`), it will bypass the synthetic event system (and the whitelist) and just attach the event listener on the element itself.

Why bypass the synthetic event system? Because *

[2016-10-06 19:55] achugaev93 opened #7902 "Strange second argument passed to event handler (always undefined)"
I've found a bug.

I've attached event listener with `onClick` property like this:

[code]

The event listener called with 2 arguments: synthetic event and strange undefined value.

I think, normal behavior is when handler called with a _single_ param - event object.

Windows 10. Chrome 53. React version - 15.2.0.

[2016-10-06 19:56] mishelashala opened #7903 "data-* not updating."
# data-* atributes not updating

I'm using react + redux, I have some input fields with the data-error atribute.
The data-error property is used to give feedback to the user if some field is not valid.

The inital state looks like this:
[code]

the component looks like this

[code]

and its passed to the component via  `connect`

[code]

When I hit submit a helper validates the data, and if the da

[2016-10-06 22:26] mrscobbler commented on #7794
Will do! I'd love to help out however I can.

[2016-10-06 22:36] paulyoung opened #7905 "Context support for react-test-renderer"
**Do you want to request a *feature* or report a *bug*?**
This is a feature request.

**What is the current behavior?**
There doesn't appear to be a way to pass context when calling `renderer.create`

I'm attempting to use snapshot testing in Jest with a component that uses `react-intl`. If I could provide context, I could create a similar [helper function to those for enzyme](https://github.com/y

[2016-10-07 00:08] gaearon commented on #7905
Technically you can pass context just like you do normally in React, can you not? Wrap the rendered element into an element of the context providing component. The shortcut offered by Enzyme is just that, a shortcut, but you should be able to pass context down using regular React API.

[2016-10-07 01:39] paulyoung commented on #7905
I prefer to use these shortcuts, and in this case I also ran into a problem when trying to use `IntlProvider` (the context-providing component)

`Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-

[2016-10-07 01:53] sebmarkbage opened #7906 "[Fiber] Spill-over from child reconciliation"
This is spill-over from #7707 that I don't plan on doing in the initial batch.

- [ ] Fix text node merging edge case... Search forward to find the next sibling, swap out the end of the text node to the sum of the previous value of the siblings. This trick lets us avoid back-references.
- [ ] Have tag include children updated so that you can recalculate all children if needed. E.g. coroutines. Alt

[2016-10-07 08:18] jansoren opened #7908 "*bug* <select value="NO"> sometimes selects last value in dropdown"
When using <select value="NO"> with same value multiple times the selection differs. Here is a fiddle example of the issue - [https://jsfiddle.net/w77wsgno/](https://jsfiddle.net/w77wsgno/)

In chrome it selects the first option with the value "NO". Testing on iPhone it selects the last option with the value "NO".

Is there a solution to this being consistent and always selecting the first option

[2016-10-07 09:27] gaearon commented on #7905
This looks like you have a duplicate React in the bundle, could that be the case?

[2016-10-07 09:31] Raibaz commented on #7187
I'm still experiencing this on 15.3.2 when running mocha to execute tests :(

[2016-10-07 09:33] syranide commented on #7908
You should not have multiple items with the same name. There's meant to be a warning for it, but it's not trivial to do it efficiently and correctly so it's not currently warned for.

[2016-10-07 09:39] jansoren commented on #7908
@syranide - ok, do you have any suggestions on how to solve the country example in the fiddle, where we want a favorite list at the beginning -> https://jsfiddle.net/w77wsgno/ ?

[2016-10-07 09:45] gaearon commented on #7187
Please file an issue with a test case reproducing it. I'm afraid we can't help otherwise.

(But also run `npm ls react` just to make sure you are on 15.3.2.)

[2016-10-07 09:47] syranide commented on #7908
@jansoren If you want help with your code you'll need to use stackoverflow or the discussion board, we keep GH issues for bugs. But you'll simply need to give them a separate name (prefix or w/e) and use that to differentiate between them.

[2016-10-07 11:20] Lokesh235 opened #7910 "Detect click outside View component in react native"
I want to compress a View component if I clicks outside that View.
Is there any way of doing this?

[2016-10-07 11:38] syranide commented on #7886
@AvaKathrynShaw When you log in Chrome, it's not creating a copy of the object. It actually reads the data from the object when you expand it in the console. Hence, when you expand the object in the console in this case, you're seeing the value it has now, not the value it had when you logged it.

[2016-10-07 11:48] achugaev93 commented on #7902
Can please someone confirm is this a bug or it's by design?

[2016-10-07 12:12] gaearon commented on #7902
I’m not sure if it was intentional (likely not) but this shouldn’t matter in projects (`arguments.length` is the only observable difference).
Is there a reason it matters to you?

[2016-10-07 12:25] syranide commented on #7902
I'm even getting 3 here, `[Proxy, undefined, Event]`.

[2016-10-07 12:31] syranide commented on #7902
Perhaps it's a browser thing, looking at the callstack I don't really see how or why it would be more than 1 argument.

[2016-10-07 12:31] achugaev93 commented on #7902
Yes, it is. I've implemented custom basic component:

[code]

And got a problem with my `eventHandler` method. This method allows to attach event handlers defined in component classes with some extra data binding, but always with first argument is event object:

[code]

[2016-10-07 12:55] syranide commented on #7902
Ok, it's actually React passing it, not sure if it's actually used somewhere. Anyway, I still got a third argument which I can only assume comes from the browser, so it doesn't seem like a safe assumption anyway, unless there's something else I missed.

[2016-10-07 12:55] syranide commented on #7902
Ok, it's actually React passing it, not sure if it's actually used somewhere. Anyway, I still got a third argument which I can only assume comes from the browser, so it doesn't seem like a safe assumption anyway, unless there's something else I missed.

[2016-10-07 13:05] achugaev93 commented on #7902
@syranide May I ask you, what version of React do you use?

[2016-10-07 13:09] juliankrispel commented on #2665
I'm running into this issue using recompose here's an example:

[code]
the above error will is apparently swallowed by the this try finally block...

cc @acdlite

[2016-10-07 13:10] syranide commented on #7889
Have you deferred `ReactDOM.render` until `DOMContentLoaded` (may or may not affect)? Otherwise it should work as is AFAIK, when `componentDidMount` is called everything has been flushed to DOM and there's nothing left for React to do. So intuitively it should work. However, you have to remember that images may not have been downloaded then and later increase the size of the rows, throwing it off.

[2016-10-07 13:24] achugaev93 commented on #7902
At this point I don't see a reason why React should pass it's internal data to event handler. In my opinion it's a "garbage" data that makes event handlers inconsistent. Or I'm wrong?

[2016-10-07 13:26] gaearon commented on #2665
No, try/finally block cannot possibly swallow exceptions. Most likely you have your own try/catch on the calling code, or you catch() React errors in a Promise handler, which is a common mistake.

[2016-10-07 13:29] juliankrispel commented on #2665
@gaearon you're right :) our mistake

[2016-10-07 13:40] ProtectedVoid commented on #7897
The control, space, arrow, etc keys do report correctly, as you say.  So, I'm guessing the solution to this would be to (essentially) roll our own keyMap for KeyDown and KeyUp events that is specific to Safari, since this isn't normalized by default?

On a side note - there should probably be a note on the SytheticEvent documentation for KeyDown, KeyPress, and KeyUp events that React's SyntheticEv

[2016-10-07 14:07] syranide commented on #7897
I doubt they can be reliably polyfilled in Safari, that's why we don't do it. Note that `keyCode` refers to the virtual key code of the users keyboard layout, so you cannot use it to reliably turn it into characters if that's what you're hoping (hence why we don't do it). But in certain circumstances that may be acceptable (say hotkeys).

@ProtectedVoid Yeah perhaps, but that applies to many brows

[2016-10-07 14:12] AvaKathrynShaw commented on #7886
@syranide Thank you! I should have thought to look into how the browser worked as well, I'm new to React and assumed I did something wrong. Will close issue.

[2016-10-07 14:12] #7886 closed

[2016-10-07 14:15] gaearon commented on #7902
I agree it doesn’t make sense to pass garbage. Can you look at the call stack and figure out how to fix this?

[2016-10-07 14:35] achugaev93 commented on #7902
After quick look I can't figure out what caused a problem.
Here is calls stack (first 2 calls are my cusstom methods):
[code]

Also I found (after switched from minified version to regular version) - on regular React build my event handler got **4** params (as @syranide ) said!

[2016-10-07 14:37] Aweary commented on #7902
I believe the problem is in `ReactErrorUtils`. It binds additional arugments to `boundFunc`
https://github.com/facebook/react/blob/v15.3.2/src/renderers/shared/utils/ReactErrorUtils.js#L68

[code]

In my case `a` was the `Proxy` and `b` was `undefined` which is why you get `[Proxy, undefined, Event]`

[2016-10-07 14:45] achugaev93 commented on #7902
So what is the purpose of `a` and `b`? Why not just push only event object to event handler?

[2016-10-07 14:49] achugaev93 commented on #7902
@Aweary, is Proxy a SyntheticEvent?

[2016-10-07 14:51] Aweary commented on #7902
@achugaev93 yes, it seems to be a proxy to the `SyntheticEvent`.

[2016-10-07 14:52] Aweary commented on #7902
@achugaev93 you can see in [SyntheticEvent.js#L207-L231](https://github.com/facebook/react/blob/c78464f8ea9a5b00ec80252d20a71a1482210e57/src/renderers/shared/stack/event/SyntheticEvent.js#L207-L231) that a proxy is used when supported.

[2016-10-07 15:01] achugaev93 commented on #7902
@Aweary, it's a good news. Waiting for a next release.

React team, you should make a serious refactor of that module. It's look like a mess of code ;) Fix params and variables naming...

[2016-10-07 15:01] Aweary commented on #7910
Hey @Lokesh235, we use this issue tracker specifically for bug reports and feature requests. Usage questions should be directed somewhere else like StackOverflow. Thanks!

[2016-10-07 15:01] #7910 closed

[2016-10-07 15:07] gaearon commented on #7902
Thanks for advice. Perhaps you could send a PR to help us?

[2016-10-07 15:08] Aweary commented on #7902
@achugaev93 a PR would be much appreciated! I'd be happy to review.

Kee in mind that `ReactErrorUtils` is meant to be a general purpose module for safely invoking methods, for example we use `invokeGaurdedCallback` [when calling `componentWillUnmount`](https://github.com/facebook/react/blob/30067fa8caa829cc4470925ceb0687c1698ca277/src/renderers/shared/stack/reconciler/ReactCompositeComponent.js#L

[2016-10-07 15:23] achugaev93 commented on #7902
Guys. I do not have a complete picture of how the React works from the inside, so in this situation from me will be of little use.

[2016-10-07 15:29] Aweary commented on #7902
Totally understandable, the codebase can be dense sometimes. But if you *wanted* to give it a try I would be happy to work with you on your PR! Otherwise one of us will try and get to it when we can 👍

I'm going to close this issue out because I think we've identified what those additional arguments are? You should expect to see at least `SyntheticEvent` (or `Proxy`) and `Event` (the native event

[2016-10-07 15:32] Aweary commented on #7908
👍

[2016-10-07 15:32] #7908 closed

[2016-10-07 15:33] gaearon commented on #7902
I don’t understand why that abstraction exists. ¯\_(ツ)_/¯

[2016-10-07 15:44] achugaev93 commented on #7902
@Aweary, I don't understand why it should send native event as second argument? Native event instance _already_ attached as `nativeEvent` property of `SyntheticEvent`, right?

[2016-10-07 15:54] Benjaki2 commented on #1920
Has there been any progress on this ticket? I am dealing with the same issue.

[2016-10-07 16:17] Aweary commented on #7902
@achugaev93 it's a side effect of the current abstraction. Since we're actually dispatching a empty event the function is called as an event handler and gets passed the event from that mock event. The `event` you see there isn't actually the same as `SyntheticEvent.nativeEvent`, its the event that's just used to invoke the event handler. It should have a type of [`react-{type}`](https://github.com

[2016-10-07 16:20] Aweary commented on #1920
@Benjaki2 can you share a JSFiddle reproducing the issue? You can use http://jsfiddle.net/ropbvL3y/ as a starting point.

[2016-10-08 07:41] raghunandangupta1992 commented on #7093
I am facing same issue. I dont have any Style tag in my code, but my external CSS uses pseudo class. Therefore, :before :after are coming as DOM Nodes and invariant violation is being thrown. HOW TO SOLVE THIS ?

[2016-10-08 10:10] karczk commented on #7900
The function expects three parameters, so you should pass all (for me it is documentation). With typescript this code would not compile.

Source of the "problem" comes from element creation `this.state = null` (react code) and missing argument for `shouldComponentUpdate` is `undefined`. Inside shallowCompare, there is shallowEqual, which use strict compare `===`. I use base ES6 class `ComponentWit

[2016-10-08 19:18] sumbad commented on #1035
Hello, I added additional component Head in my server-side to resolve this situation:

[code]

and now I can just use it:

[code]

Maybe this is not perfect solution and requires some additional code. Please, review and say what do you think about it. Thanks.

[2016-10-08 23:34] frandsaw commented on #7379
@raphaguasta @cbengtson85 according to [this code](https://github.com/facebook/react/blob/master/src/renderers/shared/stack/reconciler/ReactCompositeComponent.js#L825-L829) the main difference between PureComponent and StatelessComponent:
- StatelessComponent's shouldUpdate value will be always true
- PureComponent's shouldUpdate value is equal to result of [shallow equality check](https://faceboo

[2016-10-09 00:21] brigand commented on #6998
I'm getting the same error in 15.3.1. Any ideas on how I can narrow it down? Stack:

[code]

[2016-10-09 12:48] oliviertassinari commented on #4864
@andreypopp Side question from you example, does using the *static class option* makes sense for the `getChildContext` method? I.e:
[code]

[2016-10-09 13:53] vincent714 commented on #3926
@chenxsan did you find out the solution?
you can detect the compositionStart and let a variable equal to true.
Then to use the variable, which you set, at onChange to see if it should fire the query

[2016-10-09 15:47] syranide commented on #6998
@brigand It's mostly an indication that the DOM has been modified outside of React's control (parent is null, so when replacing a child it tries to call replaceChild on null), start looking there.

[2016-10-09 18:15] brigand commented on #6998
This was the problem code. `Component` was undefined. There's no warning for React.createElement getting an undefined type for some reason, and this is a development build. I'm unable to reproduce in jsfiddle.

[code]

[2016-10-09 19:08] brigand commented on #4864
@oliviertassinari it needs to be a prototype method (non-static). It can also use state and props.

[2016-10-09 19:19] willdembinski commented on #4839
I can confirm that using the `new` keyword resolved this issue for me.  Any chance there's some progress on this issue?  It looks ugly and my team is totally mess this up and le tests will not get written :(

[2016-10-09 20:17] oliviertassinari commented on #4864
@brigand Right, it doesn't work with the `static`: http://www.webpackbin.com/4JKCVq7Cb. Thanks!

[2016-10-10 00:50] paulyoung commented on #7905
I don't _think_ so, but I found some other issues in which people are saying they've seen this because of `npm link`. That could explain things here, so I'll try without.

[2016-10-10 07:28] wickedrahul opened #7924 "dangerouslySetInnerHTML={someOfMyText} causes Chrome console(developer tool) to freeze. No problem on firefox though"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-10-10 08:04] sebmarkbage opened #7925 "[Fiber] Umbrella for remaining features / bugs"
This is an umbrella issues for remaining fiber issues. More can be found by running the unit tests with the `useFiber` flag in `ReactDOMFeatureFlags` turned on

See #8830 for additional tasks beyond the scope of the initial Fiber release

<details>
<summary>Phases 1–6</summary>

**Phase 1: Infrastructure**
- [x] Set up infra to know which tests are failing @spicyj
- [x] ReactTestUtils features
  -

[2016-10-10 10:07] Sawtaytoes opened #7927 "Changing state too quickly cause error with shallow render"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Running `ReactTestUtils.createRenderer().render()` causes react to throw an exception:
[code]

I have the same issue when using both `Component` and `PureComponent`.
I do *not* see the error when using `ReactTestUtils.renderToDocument()`.

**If the current behavior is a bug, please provide the

[2016-10-10 10:08] shuai-z commented on #7630
#7333 I guess? by moving `ReactDOMInput.updateWrapper(this);` (only set `checked` here) **after** `this._updateDOMProperties(lastProps, nextProps, transaction);` (update `id`, `name`, `checked` *in order*).

~~so another workaround is to put `checked` before `name` property, don't trust me~~ :smile:

[2016-10-10 10:12] jochenberger commented on #7551
I think that the annotation should be removed. It is apparently Closure-Compiler-speific (https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler#nosideeffects-modifies-thisarguments), but it currently serves no other purpose than to break the minification.

[2016-10-10 12:19] gaearon commented on #7905
If you `npm link` to some folder that has own `react` in its `node_modules`, you'll get a duplicate React.

[2016-10-10 13:01] Karthik248 opened #7928 "Page navigates to "/" path when component changes"
I am new to React and I have some which looks like this
[App.js](https://github.com/facebook/react/files/519494/App.txt)
[LoginForm.js](https://github.com/facebook/react/files/520988/LoginForm.txt)

`<App>`
`    { !this.state.login_status && <LoginForm callback={this.setLoginDetails.bind(this)}></LoginForm>}`
`    { this.state.login_status &&  <Header data={headerData}></Header>}</div>`
`</App>`

[2016-10-10 15:14] GautierT commented on #6222
+1

[2016-10-10 15:18] Aweary commented on #7924
@wickedrahul can you please fill out the issue report template and provide steps to reproduce and/or a demo reproducing the issue?

Unfortunately we can't help you without more information.

[2016-10-10 16:34] gaearon commented on #6335
Detailed [Implementation Notes](https://facebook.github.io/react/contributing/implementation-notes.html) are up. They detail (in a somewhat simplified way) how the stack reconciler works.

I believe this, together with [How to Contribute](https://facebook.github.io/react/contributing/how-to-contribute.html), [Codebase Overview](https://facebook.github.io/react/contributing/codebase-overview.html),

[2016-10-10 16:34] #6335 closed

[2016-10-10 16:49] williamboman commented on #7928
Do you submit a tradition HTMLFormElement? In that case you need to [`preventDefault`](https://developer.mozilla.org/en/docs/Web/API/Event/preventDefault) the event passed to your submit handler.

[2016-10-10 18:44] mgadda commented on #7740
@gaearon Can you recommend a workaround prior to the release of React 15.4? In my case, for instance, the component which uses ref is the one being tested, so mocking the entire component (via `jest.mock`) is not meaningful approach.

[2016-10-10 18:45] paulyoung commented on #7905
Thanks for confirming. We're currently using Lerna and webpack, so maybe something is up with our webpack module resolution config.

[2016-10-10 18:47] rektide commented on #1126
Microdata microdata microdata microdata microdata!

Hopefully I can now find this issue when I look for it.

Awh what the heck: rdfa. Even though RDFA is not implemented in React, some kind of useful result  when searching for it would be good too.

Did I mention? Microdata.

[2016-10-10 20:17] kevinSuttle commented on #6411
Having the ability to have `<style>` tags inside a React component that respect CSS Custom Properties would ideal. This is how the Shadow DOM spec currently handles it, and which Polymer 2.0 will support.

https://github.com/polymer/polymer/tree/2.0-preview#scoped-styling
https://github.com/webcomponents/shadycss

This would also solve the issue of missing out on `@-selectors` and pseudo-classes i

[2016-10-10 20:35] gaearon commented on #7740
There is no workaround prior to its release because the workaround is added in that release. 😉
Can you try `react@15.4.0-rc.2` with `react-test-renderer@15.4.0-rc.2`?

[2016-10-10 21:44] mgadda commented on #7740
Fair enough. I'll checkout the release candidate to make sure everything is working and then sit tight until 15.4 is released.

It also occurs to me that I could refactor the component such that imperative interactions associated with `refs` can be pulled out into a separate component which can then be mocked.

[2016-10-10 22:34] yaycmyk opened #7932 "Use ReactDOM.render target as an implicit JSX root"
So currently when rendering, you must provide some top-most wrapper in addition to the node that has been designated as the reactroot. This introduces an unwanted extra layout element and can make styling a little irritating.

It would be nice if the target for `ReactDOM.render(jsx, node)` _is_ the topmost node and you could pass an array as the first children right away.

[2016-10-10 23:43] jribeiro commented on #6985
@spudly Could we render htmlWithoutProps on a server bootstrap step and cache the data-react-checksum for subsequent renders thus avoiding the double rendering. Point #2 is concerning indeed. Any chance you can share your prototype?

Interesting that there doesn't seem to be much on this topic as, to me, some content is static (or really slowly changing) and it seems very wasteful to be sending th

[2016-10-11 01:04] alangpierce commented on #5465
Hey @jimfb, fun running into you on the internet!

Another bug fix in the `makeCancelable` function: it can cause an `UnhandledPromiseRejectionWarning` in recent node versions (particularly when running tests with a new version of node). One of the changes in [node 6.6.0](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V6.md#6.6.0) is that all unhandled promise rejections resul

[2016-10-11 04:53] Karthik248 commented on #7928
Currently I am doing validation using local json file on client side with the event onClick.
I have added links to the components I've used.

[2016-10-11 05:55] Karthik248 commented on #7928
I can't believe how basic that was. I just needed to use the preventDefault.

[2016-10-11 05:55] #7928 closed

[2016-10-11 09:31] caub opened #7937 "Functions passed in props are not updated"
`todos` is an array, `v` is React.createElement, and I render: (It's not in jsx, but you'll understand)

[code]
TodoItems can be [dragged](https://github.com/caub/todo-list/blob/gh-pages/TodoList.js#L67-L85), and their text is updated [onBlur](https://github.com/caub/todo-list/blob/gh-pages/TodoItem.js#L37) (so just clicking anywhere outside the current text)

I was surprised I get this issue: htt

[2016-10-11 10:18] jochenberger commented on #7551
See also #824

[2016-10-11 10:54] gaearon commented on #7551
Can you please send a PR removing all GCC annotations?
I think GCC support was intended at some point but it's been broken for ages.

[2016-10-11 12:20] PepijnSenders opened #7939 "Making the view difference in the reuse markup error configurable."
**Do you want to request a _feature_ or report a _bug_?**

I'm requesting a feature.

**What is the current behavior?**

Currently the way the reuse markup error is displayed the difference is hardcoded to 20 characters of code on each side. This should be a configurable property.

The code can be found here: https://github.com/facebook/react/blob/master/src/renderers/dom/client/ReactMount.js#L677

[2016-10-11 12:29] jochenberger commented on #7551
I'd appreciate if someone else could create the PR, because I don't want to sign the CLA.

[2016-10-11 12:36] Shastel commented on #7551
Probably I can do it

[2016-10-11 13:25] treshugart commented on #7901
https://github.com/webcomponents/react-integration will create a React component from a web component constructor and give you custom event support.

[2016-10-11 19:27] caub commented on #7937
my mistake of using `props.update` in a constructor, instead of `this.props.update`  https://github.com/caub/todo-list/blob/gh-pages/TodoItem.js#L19

[2016-10-11 19:27] #7937 closed

[2016-10-11 19:54] kevinSuttle commented on #6411
Perhaps sanitation via ES2015 tagged template strings could work for parsing styles. A bit more elegant than say, XML CDATA escapes.

[2016-10-11 20:28] gabrielalan commented on #7058
@gaearon I have this same error, but I've checked and dont have duplicated react. Besides this, I've made other test. If I ONLY require ReactCSSTransitionGroup, this error dont shows up, but if I use the component ReactCSSTransitionGroup inside my component, then the error is throwed ...addComponentAsRefTo...

So, what can I do???
Thanks.

[2016-10-11 21:02] sebmarkbage opened #7942 "Fiber Principles: Contributing To Fiber"
I just wanted to document a few unique design patterns that apply to Fiber, but not necessarily anything else. I'll start here.
- You may mutate the fiber that you're working on during `beginWork` and `completeWork` phases but you may not have any other global side-effects. If you need a global side-effect, that have to be moved to the `commitWork` phase.
- Fiber is a fixed data structure. It shar

[2016-10-11 21:50] petermikitsh commented on #6822
As a stopgap, I am hiding the clear input X's:

[code]

[2016-10-11 22:56] gravitypersists commented on #7307
For me, this error is almost always a chore in finding the component that it's referring to. It'd help if the error message did better to identify that component. Maybe it'd help to display everything known about the element? Such as props, or the location of the element in the component hierarchy (perhaps a parent)?

[code]

Is something like that feasible and desirable?

[2016-10-12 00:07] lencioni commented on #6436
I think the object approach with options makes more sense than `onFooPassive`, since there are other options that might be needed. If combined with @sebmarkbage's suggestion that events should be passive by default, this probably wouldn't be too cumbersome.

Another approach that comes to mind would be to attach properties to the event handler to allow them to opt out of passive mode (or toggle ot

[2016-10-12 01:12] #7903 closed

[2016-10-12 02:15] klouskingsley commented on #1029
just use unmountComponentAtNode  before document.body.innerHTML = '<div id="container"></div>'.
fixed in IE

[2016-10-12 04:23] koba04 commented on #2682
@zpao @jimfb Can I take this? Is this no longer valid? This seems to still exist.

[2016-10-12 07:05] syranide commented on #7307
@gravitypersists It just needs to explicitly say that it is undefined (rather than some obscure error) when `React.createElement` is called.

[2016-10-12 09:15] gaearon commented on #7325
Fixed by https://github.com/facebook/react/pull/7911.

[2016-10-12 09:15] #7325 closed

[2016-10-12 09:18] gaearon commented on #7325
@dantman Creating third party renderers was never advertised as a public API. If you want to be safe from changes in ReactDOM your best course of action is to completely fork it rather than substitute some modules. We don't guarantee we won't break third party renderers in the future, especially given that the new reconciler is being implemented in a completely different way.

[2016-10-12 11:20] aszwemin opened #7945 "Props Validation for objects"
**Do you want to request a *feature* or report a *bug*?**

Request a feature

**What is the current behavior?**

After https://github.com/facebook/react/pull/5390/files you can't specify object with different type values, e.g. `PropTypes.objectOf({id: PropTypes.number, name: PropTypes.string})` so either you have to rely on the order of object now and specify it like `PropTypes.objectOf(PropTypes.

[2016-10-12 12:12] manpreetssethi commented on #6731
I'm seeing this again as well, +1 @toonvanacker

[2016-10-12 12:21] gaearon commented on #7945
Hey, thanks for filing an issue!

I don't think this was ever supported.
Aren't you looking for `shape`?

[code]

Does this help?
Cheers.

[2016-10-12 13:22] aszwemin commented on #7945
Hi, it may be that it didn't throw warnings before and we used it wrongly without realising. Will update the codebase to use shape. Thanks.

[2016-10-12 13:22] #7945 closed

[2016-10-12 14:36] Aweary commented on #7924
Closing out since there's no information and no response.

[2016-10-12 14:36] #7924 closed

[2016-10-12 14:55] SBRK commented on #6324
Any update on this ? I'm having the exact same symptoms :
- Firefox
- Input field focused
- Resizing the page, which triggers an update of some of my states and a re-render

[2016-10-12 15:48] gaearon commented on #6324
I can also reproduce this with 15.3.0.
Would you like to dive into it and figure out why this happens?

[2016-10-12 16:41] jcfrancisco opened #7951 "Allow HTML attributes to be dangerously set, without encoding"
**Do you want to request a _feature_ or report a _bug_?**
feature

**What is the current behavior?**
A React element like `<div data-foo={'&bar'} />` renders as `<div data-foo='&amp;bar'></div>`.

**What is the expected behavior?**
The above behavior is expected in the majority of cases; it is [strongly recommended on w3.org](http://www.w3.org/TR/xhtml1/guidelines.html#C_12).

However, in some sce

[2016-10-12 21:48] rickbeerendonk opened #7958 "Documentation: findDOMNode() in title, but not in paragraph"
Documentation "bug".

"Working With the Browser" contains a subheading "Refs and findDOMNode()". The following paragraph however doesn’t contain any information about findDOMNode(). This was removed in commit 5ee8a93280987bf1547687f5d8665be89058f321

[2016-10-12 22:03] lacker commented on #7958
Thanks for pointing this out, you are totally correct! I actually have a PR out totally replacing this doc with an updated one: https://github.com/facebook/react/pull/7952 It fixes the reference to findDOMNode in there, so let's go with that PR. Any comment you have on there is welcome too btw.

[2016-10-12 22:03] #7958 closed

[2016-10-12 22:13] rickbeerendonk commented on #7958
@lacker 👍

[2016-10-12 23:03] GoogleAssistant commented on #7951
Hi, how can I help?

[2016-10-12 23:57] Venryx commented on #1881
I'm having this issue as well.

The reason I need the " !important" override on an inline style is that my project is in a transition state, and still has CSS being applied using classes--one of which is using a css " !important" tag. (originally to override some JQueryUI css, I believe)

Having support for the tag would prevent me from having to use another css class (I'm trying to transition _AW

[2016-10-13 00:52] brigand commented on #1881
For the moment, I wrote a library that should address this use case: [brigand/react-with-important-style](https://github.com/brigand/react-with-important-style).

It uses `this.element.style.setProperty` to set the style with the `important` modifier.

[2016-10-13 07:25] cdxOo commented on #6222
While i can see the point, that this might be a source of bugs. I kind of disagree on the first part.
The value property is part of the props object. Therefor you can use Object.keys() to figure out if that key has been intentionally added to the props object of if it hasn't been. The key will exist if you explicitely set the property even if its value is undefined.
When going with this approach `

[2016-10-13 07:59] Skhoshhal commented on #6222
I found the same problem my code is like so:
<input
                                type="checkbox" className="mdl-checkbox__input" value= undefined
                                checked={self.state.filterValues[col] &&
                                    self.state.filterValues[col][termString(bindings.resource)]}
                                onChange={self.onFilterChange.bind(null, {binding

[2016-10-13 08:05] yezongyang commented on #2127
I create app with Framework7 and React, however the framework7 html format is fixed,

`<div class="page">
<div class="navbar"></div>
<div class="searchbar"></div>
<div class="page-content"></div>
<div class="toolbar"></div>
</div>`

I can not wrap the first level child elements (navbar, searchbar) in other div which not having 'page' class

[2016-10-13 08:12] syranide commented on #7951
Unless I'm missing something this doesn't actually make a lot of sense, browsers perform the same encoding if you try to read `innerHTML` for obvious reasons. The encoding does not take place at run-time on the client either, it ONLY exists on the server to generate raw HTML to be rendered. So it doesn't really have any value other than "dealing with broken parsers".

And there's only so much you

[2016-10-13 08:27] vjau opened #7965 "JSX variables shadowing gotcha"
I think i have discovered a jsx gotcha i see nowhere mentionned.
Let's say we have a component defined like this

[code]

Intended behaviour : in the rendered output, `<OtherComp/>` should be provided with stuff=5, but it receives instead the value of the foo prop provided to Comp, which means variable shadowing does not work.
I suspect this is relative to the template like behaviour of JSX, but s

[2016-10-13 08:37] amiramix commented on #2127
I have a component that returns a list of rows <tr> to be used in a table and I can't wrap them in an additional HTML tag (not allowed by HTML5 standard - I know about tbody but I might have multiple rows returned by multiple child components that may need to be combined into a single tbody). Has the technique mentioned by @Prinzhorn - wrapping those children in an HTML comment - has actually been

[2016-10-13 08:40] xdroidx commented on #7295
Same problem with React 15.3.2 and nw.js environment.

[2016-10-13 11:30] syranide commented on #7965
This is a problem with the specific JSX-transform you're using, I'm testing with babeljs (which is the officially recommended one) and the final code looks just fine with correct shadowing.

What transform/tool are you using?

[2016-10-13 12:37] vjau commented on #7965
If this is not intended behaviour, i have got to investigate more, thanks.

[2016-10-13 12:45] philipp-spiess commented on #285
Right now, the only way to respond to "outside world" events is to leave the React's event system and add a native DOM listener. This is bad, since it will require more mental overhead when you have to work with this (you need to think about your event listener receiving a native event, or a react synthetic event). It will also simply not be possible for computed `SyntheticEvent`s (e.g. `onChange`

[2016-10-13 12:52] #7965 closed

[2016-10-13 15:38] ahmedyahiaalkaff commented on #2461
Hi, I get the following error when I try to use unstable_handleError:
[Error] TypeError: null is not an object (evaluating 'this._renderedComponent.unmountComponent')
	(anonymous function) (comp.js, line 15788)

[2016-10-14 08:16] youngBrain1893 commented on #1819
When I want to pass the property `itemId` to a children Component  as part of it's props, I got the warning in my console:

    Unknown DOM property itemId. Did you mean itemID?

It's just a normal property, should I change it to `itemID` to fix it?

[2016-10-14 11:16] azizhk commented on #7624
Is there any way that I can get ref to the component whose instance has been created (if its a component).
I was actually trying to call a function of a connected component. https://github.com/reactjs/react-redux/pull/270#issuecomment-175217424

My use case is that I have a wrapper which calls a method on the component and the component then it returns what its height going to be (predetermined ba

[2016-10-14 13:05] igor-ribeiro opened #7975 "Docs - Implementation notes - replaceChild args in worng order"
The order of the arguments is wrong
[code]

https://facebook.github.io/react/contributing/implementation-notes.html#updating-composite-components
https://developer.mozilla.org/en/docs/Web/API/Node/replaceChild

[2016-10-14 13:45] grahamvo commented on #7874
@ajainarayanan I've been having this same problem, but adding `react-addons-css-transition-group` to my external dependencies hasn't helped. I'm confused about what `react-with-addons.js` is referencing. I'm probably just overlooking something small, but some help would be appreciated.

[2016-10-14 14:31] Kutsan commented on #6479
@nodeman777 Thanks. Now, I don't see any warnings.

[2016-10-14 16:17] hurrtz commented on #4199
Ok, this was on me. I have found no promises anywhere in my project but after I have completely overhauled my webpack configuration (and also my webpack dev server configuration) everything (including errors) showed up as expected. So, still not really sure where the issue was but obviously it was somewhere in my webpack configs.

[2016-10-14 19:34] gaearon commented on #7770
I just published `15.4.0-rc.3`.

## Installation

[code]

If you use snapshot testing:

[code]

## Please report issues!

There is a big change in how internals are organized. We are continuing to split React from ReactDOM internally, and in this release a bunch of internal modules has moved from `react/lib/*` to `react-dom/lib/*`. They were never a part of the public API so it's valid as a minor

[2016-10-14 21:50] JulianNorton opened #7981 "React should match w3c syntax for 'autofocus'"
# React should match the w3c syntax for 'autofocus'
Autofocus is an attribute that auto focuses inputs, forms, or buttons. **Autofocus should not have the 'true' or 'false' attributes, nor camel case.**

### HTML demo http://codepen.io/JulianNorton/pen/xEJaBz
###  Current situation in React: https://jsfiddle.net/7cdxevyo/6/

#### The following are valid, equivalent and true [w3c]
[code]

#### The

[2016-10-14 22:32] gaearon commented on #7386
You can try `15.4.0-rc.3`. It should have this fix.

[2016-10-14 22:35] gaearon commented on #7975
Yeah I might've messed it up. Please send a PR?

[2016-10-14 23:07] billyjanitsch opened #7982 "15.4.0-rc.4 mistakenly published as latest"
**Bug**

**What is the current behavior?**

`npm view react` yields:
[code]

As a result, `npm install react` installs 15.4.0-rc.4.

**What is the expected behavior?**

This looks like a publish mistake. `next` should point to 15.4.0-rc.4 and `latest` should point to 15.3.0.

[2016-10-15 07:46] syranide commented on #7982
cc @zpao

[2016-10-15 08:11] syranide commented on #7981
React runs in JavaScript and can thus considered to naturally map to the corresponding HTMLDOM JS-properties, not the HTML-attributes. `autofocus="autofocus"` is an artifact of HTML attributes, the HTMLDOM JS-property is a boolean. Also, HTML has a lot of this quirky stuff because of its simplistic design and legacy, the same limitations and legacy don't exist for JS and so intentionally bringing

[2016-10-15 08:51] faalsh commented on #7770
I'm getting:

[code]

[2016-10-15 09:35] gaearon commented on #7982
Thanks for reporting!
Yes, it was a mistake during RC4 publish.
I just retagged 15.3.2 as latest, and it should be fine now.

[2016-10-15 09:35] #7982 closed

[2016-10-15 09:37] gaearon commented on #7770
@faalsh

If you didn't mean to install the RC please run:

[code]

We published RC4 as latest by mistake but it wasn't meant to be installed automatically.

If you are trying out RC on purpose, please look at which library tries to import `react/lib/ReactMount`. It's likely not your code, is it? Then file an issue with that library.

[2016-10-15 11:28] szare opened #7985 "issue with redbox-react"
I'm testing react version **15.4.0-rc.3** on one of my projects and during installing packages (which worked with previous version of react), the **redbox-react** has an issue with react-DOM:

ERROR in ./~/redbox-react/~/react-dom/index.js
Module not found: Error: Cannot resolve module 'react/lib/ReactDOM' in....

[2016-10-15 11:42] gaearon commented on #7985
When you update to RCs you need to update both react and react-dom package.

Judging by the error message, redbox-react has its own (old) copy of react-dom in its node_modules. Delete it, and the issue will be fixed.

You should also bring it up with its maintainers: react-dom needs to be in its peerDependencies rather than dependencies.

I'm closing because it is not something we can fix in React

[2016-10-15 11:42] #7985 closed

[2016-10-15 14:51] faalsh commented on #7770
@gaearon I'm trying out RC on purpose. Thanks for the tip, the error is caused by react-hot-loader.

[2016-10-15 15:45] vanluke commented on #7671
generally I do not agree with **componentDidMount**. React lifecycle is like getDefaultProps, getIniitialState, componentWillMount, render, componentDidMount. And If you set state in componentDidMount you will rerender component, so render is called twice

[2016-10-15 16:48] gaearon commented on #7770
RHL 1.x (which is the one relying on this internal module) has been unsupported for more than a year. Please migrate to 3.x if you'd like to keep using it. There are instructions linked from the first paragraph in its README.

[2016-10-15 18:37] yasirunilan commented on #7981
can I work on this?

[2016-10-15 19:02] JulianNorton commented on #7981
The disabled attribute works as expected in React and matches the w3c. Autofocus should work the same.

[code]

https://jsfiddle.net/2drw2gds/2/

[2016-10-15 19:04] gaearon commented on #7985
This should be fixed with `redbox-react@1.3.2`. You will need to delete `node_modules/redbox-react/node_modules/react-dom` if it's there after updating.

[2016-10-15 21:24] robertknight opened #7986 "Event listeners stop working if container moved to new document"
**Do you want to request a _feature_ or report a _bug_?**

Report a bug

**What is the current behavior?**

In React >= v15.0.0, if a container is moved to a different document and then the component tree is re-rendered, event listeners stop working.

In React <= 0.14.8 it was possible to move a container from one document to another via `document.adoptNode` and have the state of rendered componen

[2016-10-15 22:05] szare commented on #7985
This issue solved by updating to redbox-react@1.3.2 .
Thank you gaearon.

[2016-10-16 14:41] hasangilak commented on #6479
if you do uglify or any things that minify your code in your webpack config in development mode this warning will be showed
for me i have to remove
new webpack.optimize.UglifyJsPlugin({mangle: false, compress: {warnings: false}}),
in my webpack development config to get rid of this warning

[2016-10-17 01:24] krave1986 opened #7988 "Variable refers to new Date() can not be a child element."
I am following a code snippet from the book `React Quickly`.
And I can not run the code after being compiled via babel.
My code is like:
[code]
The error message reported by browser is:
`Uncaught Invariant Violation: Objects are not valid as a React child (found: Mon Oct 17 2016 09:12:00 GMT+0800 (CST)). If you meant to render a collection of children, use an array instead or wrap the object using

[2016-10-17 08:46] colw commented on #7988
The short answer is you need to call a `toString()` method on your dateTimeNow variable, as it is a date *object*. i.e. one of the 'Objects' the error message is referring to.

[code]

That said, the error message is a little initially confusing since it simply renders the date as a string. If for example you replace `{dateTimeNow}` with an object such as `{ {a: 1} }`, the error message makes a li

[2016-10-17 12:04] gaearon commented on #7988
https://github.com/facebook/react/issues/7988#issuecomment-254148427 is correct.
This is because Dates are objects in JS, but your render output may only contain React elements, strings, and numbers.
Formatting a string with any `toString()`-like method will work.
You can find a list of such methods on [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date#Conv

[2016-10-17 12:04] #7988 closed

[2016-10-17 12:57] uxitten opened #7990 "how remove debug info from react.min.js file when publish project"
how remove debug info from react.min.js file when publish project

![reactjsjadsds](https://cloud.githubusercontent.com/assets/1549069/19438372/7bbefb30-9486-11e6-9152-e490323f1c12.PNG)

[2016-10-17 16:19] lencioni commented on #6436
Thinking about this a little more, I think it would be better to add an event options property to the function, instead of individual options. That would allow React to only have to worry about one property instead of potentially many. So, to adjust my example above:

[code]

Another thought that occurred to me is what might this look like if we [modified JSX syntax](https://github.com/facebook/js

[2016-10-17 16:30] cabaji9 commented on #4529
npm test -t cloneWithProps

[2016-10-17 17:35] manidesto commented on #1159
any update on this issue?

[2016-10-17 18:50] gaearon commented on #7990
This is because [these lines](https://github.com/facebook/react/blob/c2d5833e98d4ff232464a1a0ee1706c1ef52bb69/src/renderers/dom/client/ReactMount.js#L429-L444) are the last argument rather than the second "message" argument to `invariant` so they don't get cut out automatically.

If you'd like to fix it, please submit a PR that splits this into several `invariant` calls with different messages, an

[2016-10-17 19:04] uxitten commented on #7990
my proposal use message map in apart js file
message map easy use in debug mode and easy remove when publish
create all message with code for example

[code]

[2016-10-17 19:25] gaearon commented on #7990
We already do exactly what you suggested. It's done automatically when you use `invariant` and pass string as a second argument. A Babel transform extracts second "message" argument. However this doesn't happen for any other arguments, which is why I suggested making multiple `invariant` calls.

[2016-10-17 20:12] uxitten commented on #7990
i change all 'production' to 'p' and change all "development" to "d"
i remove all debug info string
you used 169 'use strict'
i remove all 'use strict' and keep one 'use strict'

[2016-10-17 20:55] romulof commented on #6436
This way is pretty similar to what I proposed earlier, without modifying JSX syntax.

[code]

And documentation would be straightforward:

[code]

[2016-10-17 23:33] hanvyj commented on #7293
I'd love to see a clear response to @adeelzaman's question.

If Facebook was to infringe on a VR patent by Microsoft and Microsoft had to initiate legal action against them, their license to React would be revoked and they would have to stop using it?

[2016-10-17 23:39] spicyj commented on #7293
@Cat-sushi Luckily, Google has caught up. Searching "facebook license faq" brings up the page as the first result.

@hanvyj As @gaearon said above, we're not able to provide any more clarifications right now (sorry!). Even if we were to give our interpretation, the license text is what is actually binding so a court could disagree. If you have questions you should talk to a skilled lawyer who can

[2016-10-18 00:22] eqyiel opened #7998 "Some style props render incorrectly in Safari"
**Do you want to request a *feature* or report a *bug*?**

This is a bug report (or a report of undocumented behaviour).

**What is the current behavior?**

Some style props render incorrectly in Safari.  For example, the following becomes `-webkit-animation: 100s;`.

[code]

Screenshot from the inspector: <img width="560" alt="screen shot 2016-10-18 at 10 22 12" src="https://cloud.githubuserconte

[2016-10-18 00:38] eqyiel commented on #7998
Looks like this problem did not exist until 15.0.0. 0.14.8 does not exhibit this behaviour.

[2016-10-18 01:11] Aweary commented on #7998
@eqyiel thanks for the report! This seems to be a bug with Safari. I was able to reproduce it without using React

[code]

You can test it out for yourself with this JSFiddle: https://jsfiddle.net/gb0u3xLa/

[2016-10-18 01:40] eqyiel commented on #7998
@Aweary welp, thanks for looking into it.  I guess I'll try to find a workaround.

[2016-10-18 01:42] hanvyj commented on #7293
@spicyj Thanks. Off to legal it is. Its a shame, the company I work for is in no way a patent troll but its main business is engineering. I'm reasonably confident the lawyers are going to err on the side of caution when potentially exposing all of the companies IP and tell me to keep well away simply due to the ambiguity. If it's not clear, its a risk.

Most pure software companies probably don't

[2016-10-18 04:19] MarshallOfSound commented on #7357
FWIW even adding those props to an "allowed" object to stop the warnings didn't help the issue.  It appears as through React sets the props after the element is mounted which results in the props not being present when Electron reads them in.

As a hacky workaround I made https://github.com/MarshallOfSound/react-electron-web-view but I would much prefer to see some way to force a react components

[2016-10-18 10:21] mrdulin opened #8002 "`react-addons-perf`, can't find the `Perf.start` function."
[code]

[code]

But when I use `Perf` in chrome,  it give me this:

[code]

where is the `start`, `stop` function?

[2016-10-18 10:28] gaearon commented on #8002
You can't use incompatible versions of react and react-addons-perf.

Please either use 0.13.3 or 15.3.2 for both.

[2016-10-18 10:28] #8002 closed

[2016-10-18 10:59] mrdulin commented on #8002
[code]

[code]

Is there `0.13.3` ? I can not upgrade my `react`.  which one can i use.

[2016-10-18 11:43] gaearon commented on #8002
Oh, you're right. It wasn't a separate package in 0.13.3.
In 0.13.x, you can get it by importing:

[code]

[2016-10-18 12:13] oviava opened #8004 "onChange event not getting triggered via selenium clear()"
**Do you want to request a _feature_ or report a _bug_?**
Possible bug

**What is the current behavior?**
according to selenium spec and based on issues reported the `.clear()` method triggers an DOM onChange event [spec](https://w3c.github.io/webdriver/webdriver-spec.html#element-clear), [issue](https://github.com/SeleniumHQ/selenium/issues/1841)
However, when using clear, my input onChange handl

[2016-10-18 12:29] oviava commented on #8004
furthermore, I've manually attached an onchange event via the reference of the input and this does indeed get triggered

[code]

[2016-10-18 12:37] andreioprisan commented on #7100
Any update on this issue? React.mode would be very useful to toggle specific debug levels.

[2016-10-18 12:53] rande commented on #7386
@gaearon thanks, the jest's tests are now green, which is a good news ;)

The hot reload component does not seem to work anymore: ``Module not found: Error: Cannot resolve module 'react/lib/ReactMount'``, found this https://github.com/gaearon/react-hot-loader/blob/master/docs/README.md#usage-with-external-react

I will check your documentation.

[2016-10-18 13:13] gaearon commented on #7386
React Hot Loader 1.x has been deprecated and unsupported for about a year by now.

[2016-10-18 13:13] gaearon commented on #7100
If there was an update, it would be on this issue. 😉

[2016-10-18 15:18] Aweary commented on #7981
These props are not meant to be a 1:1 mapping to HTML attributes. That is why we use the camel-cased version, to make it clear that these are JavaScript properties and not HTML attributes.

- [React Docs - Dom Differences](https://facebook.github.io/react/docs/dom-differences.html)

When you have something like:

[code]

This corresponds more directly to
[code]

and not:

[code]

It does work the

[2016-10-18 15:18] #7981 closed

[2016-10-18 17:02] JulianNorton commented on #7981
It's weird that `autoFocus` is camel-case but it's a single word. It's not `placeHolder`.

<img width="512" alt="screen shot 2016-10-18 at 1 01 52 pm" src="https://cloud.githubusercontent.com/assets/2412992/19488017/0e1f03d8-9533-11e6-8e81-1ac13dfe4090.png">

[2016-10-18 17:17] Aweary commented on #7981
It's more about consistency than semantics. Making it camel-case makes it consistent with `autoComplete`, `autoPlay`,  `autoCorrect`, and `autoCapitalize` which I think is less confusing.

Either way, at this point it wouldn't be worth introducing a breaking change like this just for semantical reasons.

[2016-10-18 19:58] joearasin opened #8008 "JSX Gotcha: Case Sensitivity"
**Do you want to request a *feature* or report a *bug*?**

Documentation. Add something pertaining to this to the JSX Gotcha's page.

**What is the current behavior?**

[code]

is not equal to

[code]

Which is rather unintuitive, considering that meaning isn't generally attached to case.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of t

[2016-10-18 20:06] Aweary commented on #8008
@joearasin thanks for the issue.

This is currently documented in [JSX in Depth](https://facebook.github.io/react/docs/jsx-in-depth.html), though not much is said about it.

This might also be something that will/can be addressed more clearly in the new docs, cc @lacker @hramos.

[2016-10-18 20:33] hramos commented on #8008
cc @lacker who's updating the JSX in Depth guide.

[2016-10-18 22:58] Cat-sushi commented on #7293
@spicyj We want to hear from facebook.
How can our lawyers answer the real intention of facebook or modification of the license?

[2016-10-18 22:59] spicyj commented on #7293
The intention of Facebook does not matter; what is written in the license matters. Sorry I'm not able to give any more clarification.

[2016-10-18 23:01] maratbn commented on #3582
Dear Facebook JSX Developers,

What goes into ECMAScript is decided by a consensus process inside Ecma International, and you guys are not part of that discussion regarding inclusion of the JSX syntax.  You're partially acting like a parallel standards body, with your own definition of what ECMAScript either is or should be (see next paragraph).  If everybody starts doing that then we will have 10

[2016-10-18 23:04] maratbn commented on #3582
That's like C++ developers saying that C++ is just an extension of C, and therefore it's OK for C++ files to have a .C extension.

[2016-10-18 23:22] Cat-sushi commented on #7293
Obviously, It's not our issue of interpretation.
It's facebook's issue of the language and/or purpose of it.

[2016-10-18 23:37] sebmarkbage commented on #3582
@maratbn I am on the TC39 committee and Facebook is an associate member of Ecma International, involved with the ECMAScript process.

The process involves a multi-stage process which starts out with lots of exploration in user space by various contributors and by champions that aim to propose a concrete proposals. As you can see with ECMAScript 2015 this can take many years and needs a lot of evid

[2016-10-18 23:54] maratbn commented on #3582
@sebmarkbage

If / when it DOES get adopted, then by all means, it will rightfully deserve the `.js` extension, just not at the present time.

The TypeScript people are also on Ecma International committees, but up to now they're happy using a separate extension.

[2016-10-19 00:39] nhunzaker opened #8011 "[RFC] Enabling form.reset() on controlled inputs, make value and defaultValue more transparent"
I would like to make a case for supporting `form.reset()` for controlled inputs, and to make control over value and defaultValue more direct.

### Background

React synchronizes the `value` attribute _and_ the `value` property on inputs. I believe this is for two reasons:

1. It is easy for testing frameworks like Selenium to select on `[value="*"]` when testing
2. `form.reset` reverts an input ba

[2016-10-19 05:13] sebmarkbage opened #8012 "[Fiber] Formalize States"
In Fiber there are a number of states that a component can be in. However, it is not formalized in the code right now. Instead, the state is inferred. This leads to hard to follow code. Instead we can organize the code in terms of explicit states - which is what the original prototype did.

Before componentDidMount (i.e. `current === null`):

- Never begun.
- Have been begun before but never compl

[2016-10-19 06:15] Pomax commented on #3582
Given that this issue was resolved to a close in April of 2015, let's not keep beating a dead horse and instead focus our efforts on making cool stuff on the with JSX and ES6+ instead =).

React is agnostic about the extension, and there is plenty of tooling available now that makes the extension choice purely an aesthetics issue - use `.js` is you like, or use `.jsx` if you feel that'll help your

[2016-10-19 07:00] syranide commented on #8011
If you have controlled inputs you already have a sanctioned way of resetting them, using `.reset()` for that purpose just seems sloppy?

[2016-10-19 07:57] thynson opened #8014 "Warning: validateDOMNesting(...): <metadata> cannot appear as a child of <head>. See head > metadata."
I believe this is a bug of the DOM validator.

I try to render an entire page with `ReactDOMServer.renderToStaticMarkup`, which there are `<metadata>` element inside `<head/>`, I got the above warnings. And the render result put `<metadata>` inside `<body/>`.

The expected behavior is, `ReactDOMServer.renderToStaticMarkup` should not warns about`<metadata>` appears in the `<head/>` and also should

[2016-10-19 11:57] ivank commented on #6731
Yup i think this issue needs to be reopened @jimfb as you can easily reproduce it on the IE11 windows 10. Maybe add a test for it or something? Its the only thing still keeping me on 0.14 ...

[2016-10-19 13:49] scsherwood opened #8017 "Need a way to prevent component render on client side initial load"
For Ad performance in an isomorphic application we need React to avoid rendering an Ad Component containing an ad position div on the client initial load.  Here is the following scenario:

1. React renders the ad position div on the server and sends html to client. This div is an empty div with an id attribute identifying the location to place an ad.
2. Google gpt makes a request for ad before Rea

[2016-10-19 14:35] eoin commented on #7803
`git bisect` indicates that this was introduced in https://github.com/facebook/react/commit/e974383cbace7589501f7c5586c02a9a33124f20.

The change itself isn't problematic, but it does seem to have triggered an IE9 script engine bug of some sort. I've found that a [small refactor](https://github.com/eoin/react/commit/37523db6c07a88fa7668896167fae3a1f1c6f905) of `precacheChildNodes` 'fixes' the issu

[2016-10-19 15:06] mikkelwf commented on #7897
I definitely think there should be added some note to the documentation about this.

I'm struggling with this issue right now, and i implicitly thought the SyntheticEvent actually handled this issue (because SyntheticEvent normalize other browser event quirks).

And that this issue is not only restricted to Safari, but also other browsers, makes it even more important to put in a note. (I guess so

[2016-10-19 15:21] JulianNorton commented on #7981
It wouldn't have to be a breaking change, it could just be updated to allow both ways.

[2016-10-19 15:30] Aweary commented on #7981
That would introduce a new inconsistency since we don't support that for any other attributes currently.

[2016-10-19 15:37] Aweary commented on #6731
I was able to reproduce this using the latest release, https://jsfiddle.net/pfe7yq65/.

I'll reopen this since it's still an issue 👍

[2016-10-19 16:14] keyanzhang commented on #8014
Hi @thynson, thanks for creating this issue. Just making sure I understand your question, did you intend to use `<metadata />` instead of `<meta />`?

[2016-10-19 16:38] geterdunn commented on #8014
I dud not know what i was doing

On Oct 19, 2016 12:16 PM, "Keyan Zhang" <notifications@github.com> wrote:

[2016-10-19 16:57] Aweary commented on #6731
I was able to reproduce the issue outside of React, see https://jsfiddle.net/vovuant7/

[code]

The issue is that we are [calling `setTextContent` on the node](https://github.com/facebook/react/blob/c78464f8ea9a5b00ec80252d20a71a1482210e57/src/renderers/dom/client/utils/DOMLazyTree.js#L55-L57) because the `tree.text` is `''` when it should be `null`.

Setting `textContent` on a `<textarea/>` will

[2016-10-19 21:47] andrerpena opened #8021 ""npm run lint" fails on Windows"
"npm run lint" fails on Windows, at least Windows 7.

Error:

Screenshot:

![image](https://cloud.githubusercontent.com/assets/1581429/19534856/49f6a496-9624-11e6-85ba-2da9d3da803e.png)

I found this ["related" error in mocha](https://github.com/gotwarlost/istanbul/issues/90) but I couldn't fix it anyway.

What might it be?

[2016-10-19 22:24] ProtectedVoid commented on #7897
@syranide The main thing I was looking for in using key / which / keyCode was in implementing a method that restricted input to numeric values only, while allowing for tabs, backspace, delete, shift, home, end, arrow, & meta keys.

In reading the documentation for SyntheticEvent, I was under the mistaken impression that things like key events were already normalized across the modern browsers.  Th

[2016-10-19 23:24] StokeMasterJack opened #8022 "Better support for web components."
It gets old having rebuild the same date picker (or whatever widget) every time we switch frameworks.

It would be nice if React had better support for web components.

[2016-10-19 23:45] nhunzaker commented on #8011
I disagree. It's intuitive that inputs, which already get significant treatment to normalize change event behavior, would trigger a change when a form resets.

My primary motivation is, of course, to address edge cases with special inputs types in Chrome, but this it makes forms more resilient.

Instead of fighting against the browser, it plays nice.

[2016-10-20 00:02] GreenAsJade opened #8023 "Feature Request: react-addons-update operations should accept objects as well as arrays"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

If you pass an object to a react-addons-update update operation that is speced to take an array, it generates an error saying "did you forget to wrap the object in an array".

**What is the expected behavior?**

It should just operate on the single object that is provided.

For example, `{$unshif

[2016-10-20 00:03] sebmarkbage commented on #7901
As long as we only support attributes. I don't see a problem doing this for the heuristic `if (typeof props[propName] === 'function') element.addEventListener(propName, props[propName], false)`. The only concern would be if we should have some heuristic for normalizing the event name. I'm not really a fan of converting things like `onXxx` into `xxx` after doing that in MooTools. The other concern

[2016-10-20 00:04] sebmarkbage commented on #8022
Please report a specific issue, and ideally provide an idea for a solution. For example #7901 is a good role model.

[2016-10-20 00:04] #8022 closed

[2016-10-20 01:19] sebmarkbage commented on #7942
### Aren't you just working around the lack of threads in the language?

Yes and no.

It is true that we don't have a good option in JavaScript to run threads - and that is a huge problem. We tried exploring various options of running in Web Workers, parallel JS, tried to propose shared immutable persistent data structures to the language, experimented with custom VM tweaks etc. JavaScript the lan

[2016-10-20 01:19] GreenAsJade commented on #8023
I see now why this is a bad idea: if it were implemented, you couldn't unshift an array into another one.

[2016-10-20 01:19] #8023 closed

[2016-10-20 01:44] sebmarkbage commented on #7942
Ok, so cooperative scheduling might have some benefits over preemptive threads but...

### Couldn't you just use generator functions like other scheduling frameworks have done?

No.

There's two reasons for this.

1) Generators doesn't just let you yield in the middle of a stack. You have to wrap every single function in a generator. This not only adds a lot of syntactic overhead but also runtime

[2016-10-20 01:57] sebmarkbage commented on #7942
### Ok, but what about OCaml's algebraic effects then? BuckleScript can compile them.

There is some non-trivial overhead in the JS version but assuming that would be ok.

To use algebraic effects in OCaml in this way, I think we would need to clone each fiber so that we can resume it. It is possible that a compiler could reuse an immutable stack without copying but that's not how it works now. Wi

[2016-10-20 02:26] thynson commented on #8014
@keyanzhang You're right! Autocompletion provided a wrong tag name, `<metadata/>` is actually related to SVG. Thanks for your hint.

[2016-10-20 02:26] #8014 closed

[2016-10-20 02:53] Aweary commented on #7897
@syranide can you give an example of where using `keyCode` would be incorrect? Do you know if `keyIdentifier` (which `KeyboardEvent.key` replaced) also refers to the virtual key code?

[2016-10-20 06:12] treshugart commented on #7901
It feels like that statement is clumping all web components into a single bag of poor design, which in many cases they are, but it doesn't mean you can't optimise for the ones that are designed well. A couple paradigms I'm trying to push in the community (and with [SkateJS](http://github.com/skatejs/skatejs)) are:

- events up, props down
- use props as your source of truth, sync attributes to pro

[2016-10-20 06:51] sebmarkbage commented on #7901
@treshugart Most people seem to find this counter-intuitive but my preference would be to effectively just call `Object.assign(element, props)`. It sounds like you'd be a fan of that approach as well? Maybe there is still hope to change the Web Components ecosystem to prefer that - and indeed React promoting that style would perhaps help.

@staltz What do you think about that approach?

[2016-10-20 07:30] syranide commented on #7897
@Aweary KeyboardEvent supports both `keyCode` and `charCode` (mostly for keypress). The reason for the distinction is that there is a difference between the code which represents the button on your keyboard (`keyCode`) and the character code it represents after being translated by your keyboard layout settings in the OS (`charCode`). An important thing to note is that pressing `e` on your keyboard

[2016-10-20 08:01] justinfagnani commented on #7901
I'm not sure what exactly you're referring to, but with Polymer we'd definitely prefer setting properties to setting attributes. Which web components don't handle properties and in what way?

[2016-10-20 08:02] robdodson commented on #7901
@sebmarkbage I think we can definitely encourage folks to write components that support the Object.assign approach you mentioned above. As @treshugart mentioned, I spoke about doing this in my Polymer Summit talk based on our previous twitter discussion. Having easy event support in React would also be great.

[2016-10-20 08:05] robdodson commented on #7901
Talk is here: https://www.youtube.com/shared?ci=256yfQG-abU

I also mentioned the need to dispatch events for state changes so libraries like React can revert those changes (similar to the way React handles the native input checkbook element)

[2016-10-20 08:34] jiyinyiyong commented on #7751
It's okay to me, but the only bad part is the word `component` is too long to write.

[2016-10-20 09:31] gaearon commented on #7751
It is intentionally long so that you use them sparingly, and so that it is easy to search for in giant codebases, safely replace automatically, etc.

[2016-10-20 10:33] nhunzaker commented on #7901
Yes. I think there would be benefits outside of web components too. I wonder if we'd see libraries rely less on the context when they could just emit a custom event.

@sebmarkbage Unless you know if any current work here, I'd be happen to stencil something out.

[2016-10-20 10:38] jackmarchant commented on #7745
Could the solution be for the server to provide an initial state for the client side JavaScript to use for its initial render?
This is a common pattern for server/client react applications where you want the client to "pick up" from the state the server knows about.
For example, you could load the user value into an object in a script tag on the server, then load it into your component via props t

[2016-10-20 10:59] mbrevda commented on #7746
seems this can be closed?

[2016-10-20 11:00] MoeSattler opened #8025 "Chrome 54 throws error: Failed to execute 'insertBefore' on 'Node': parameter 1 is not of type 'Node'.`"
React@0.14.8 throws error messages at certain points in our app with Chrome 54 (Chrome 53 and other browsers work).
I wasn't able to pinpoint the cause.

`DOMChildrenOperations.js?8e2a:41 Uncaught TypeError: Failed to execute 'insertBefore' on 'Node': parameter 1 is not of type 'Node'.`

![screen shot 2016-10-20 at 12 58 41](https://cloud.githubusercontent.com/assets/8615251/19557201/f7110de2-96c4

[2016-10-20 11:08] MoeSattler commented on #8025
Also now ran into this one, exclusively in Chrome 54:

`Uncaught Error: processUpdates(): Unable to find child 1 of element. This probably means the DOM was unexpectedly mutated (e.g., by the browser), usually due to forgetting a <tbody> when using tables, nesting tags like <form>, <p>, or <a>, or using non-SVG elements in an <svg> parent. Try inspecting the child nodes of the element with React I

[2016-10-20 11:21] #7746 closed

[2016-10-20 11:21] gaearon commented on #7746
Yep!

[2016-10-20 15:09] sebmarkbage commented on #7901
@nhunzaker Well I think that what is being discussed here would be an alternate strategy.

We would not support addEventListener('click', fn). We would instead support element.onclick = fn;

[2016-10-20 15:17] staltz commented on #7901
Yeah I think I'm ok with the idea of `Object.assign(element, props)` and `element.onflipend = fn`. Just to understand why you proposed this, is it just to avoid translating `onFoo` to `foo`? Or are there more reasons?

[2016-10-20 15:24] Aweary commented on #8025
Thanks for the issue report @MoeSattler!

Can you test with the latest version of React, or at least something newer? I know this can be hard to do with large applications, but it might be an issue we've already resolved

Unfortunately, there's not a lot we can do without a reproducible test case. If you could share a minimal test case that exhibits the issue, it would be useful. But again, it mig

[2016-10-20 15:49] pfhayes commented on #7745
The problem here is not with the initial state - it's with picking up user input that the user has entered between the HTML being downloaded and between React initializing on the clientside. If we initialize a textbox to be empty, but then the user types something into the textbox before React initializes clientside, then their input will be wiped.

[2016-10-20 16:11] nitish24p opened #8026 "Multiple Copies of react installed"
I am using a few react components made by various libraries like material ui and i get this message

[code]

on doing ```npm ls react``` i can see only one version of react installed. I am using gulp and browserify for my build process. Any idea how i can solve this?

[2016-10-20 16:41] sebmarkbage commented on #7901
A problem with properties, attributes, events and children is that you have to know which one to use so you end up with heuristics or explicit namespaces. I don't think explicit namespaces is very ergonomic.

Properties are more powerful than attributes because:

- Properties can have rich data types. E.g. boolean for `checked` or complex objects like `style`. Typed CSSOM will let us have specific

[2016-10-20 17:13] jakearchibald commented on #3965
Another use-case: a pop-out video. Eg, sits in a specific place in the DOM, but when activated it moves to the root element and becomes `position:fixed`.

This movement shouldn't impact playback.

The generated keys idea in the gist would work I think. As would some kind of `globally-unique-key` attribute.

[2016-10-20 17:26] kloy commented on #8025
This is only impacting dev builds for my app. Is anyone experiencing this in dist builds? Also, any ideas on why this would only impact dev builds?

[2016-10-20 17:40] syranide commented on #3965
@jakearchibald I'm pretty sure it does affect playback, iframes reload and audio stops if you just as much as hint that you're going to move it.

[2016-10-20 18:03] ajainarayanan commented on #7874
@grahamvo react.js comes with react alone and react-with-addons.js packages react along with the necessary add-ons. So if you are packaging react-addons-css-transition-group as external dependency in your library you want to use react-with-addons.js in a project where you are using your library. Hope this helps

[2016-10-20 18:21] jakearchibald commented on #3965
@syranide I'm talking about `<video>` not `<iframe>`. Moving a video causes it to pause, but not reload.

[2016-10-20 18:28] Aweary commented on #7897
@syranide thanks for breaking that down for me. I agree that there doesn't seem to be safe way to polyfill this then. It looks like [work is being done](https://bugs.webkit.org/show_bug.cgi?id=36267) on getting `key` into Safari.

cc @lacker we *might* want to make mention of this in the docs, since this isn't the first time it's tripped people up.

Going to close this since we can't resolve this

[2016-10-20 18:28] #7897 closed

[2016-10-20 18:28] Artur-A commented on #6985
Personally I do not understand why the problem of double loading is so _underestimated_.

There is a video where the Facebook team tries to implement a new engine to enhance rendering for a page, say from 100 ms to 60 ms. It looks like team spends time in an attempt to speed up a cheetah while there are two gigantic hippos behind it and everybody should wait for the hippos. Then we (developers) sp

[2016-10-20 18:40] JoePaulsenSyapse commented on #8025
We are getting the same errors mentioned above. We are trying to upgrade, but the APIs from 0.14 have changed somewhat and that is requiring us to rebuild a lot of our app.

[2016-10-20 18:46] syranide commented on #7897
Documenting all the normalizations we do and the pros/cons sounds like an undeniably beneficial thing, even just knowing which things are normalized is a big win :+1:, if someone is willing to invest the time.

[2016-10-20 18:54] shanSyapse commented on #8025
Yes, we encounter this same issue, the stack trace shows that the markupIndex is NaN in this line
https://github.com/facebook/react/blob/0.14-stable/src/renderers/shared/reconciler/ReactMultiChild.js#L65

Placing a conditional debugger on this line resolve this issue mysteriously, and upgrading react to @15.3.2 fix it, since the ReactMultiChild is changed in @15.3.2.

However, since 0.14.8 is wide

[2016-10-20 19:36] bill-revcascade commented on #8025
My dev team is facing the exact issue. Chrome 54 only, only in dev. Prod/dist works great. I can reproduce it 100% of the time. Seems to have on redraws of components in React. If I take 3 actions that render components, the third one will throw the error every time.

[2016-10-20 19:46] tutts commented on #8026
I've found this is common when modules have React as a dependency rather than a peerDependency in the npm package. If you're using webpack, I've got around this by creating an alias, perhaps you can do something similar in Gulp.

[code]

[2016-10-20 20:33] nitish24p commented on #8026
Awesome that helped.. Just sharing some ref for others
https://www.npmjs.com/package/gulp-resolve-dependencies

Thanks.

[2016-10-20 20:46] #8026 closed

[2016-10-20 21:20] laurinenas commented on #8025
Same for us since chrome upgrade last friday.

[2016-10-21 00:22] thisbejim commented on #7770
Hi, I am currently on react@15.4.0-rc.3 react-dom@15.4.0-rc.3 react-test-renderer@15.4.0-rc.3 and jest@16.0.2 and when testing material-ui components I get the following error:

```Invariant Violation: getNodeFromInstance: Invalid argument.```

[code]

Any insights here? Thanks.

[2016-10-21 03:38] sundbry commented on #7751
REST? You mean HTTP?

[2016-10-21 04:49] fabriciojs commented on #8025
Same here. Using React 0.14.6, error occurs in Chrome 54.

Debugging we see that [here](https://github.com/facebook/react/blob/0.14-stable/src/renderers/dom/client/utils/DOMChildrenOperations.js#L43) we get `childNode` as `NULL` which triggers the error.

Going back the stack trace in this point (manually adding a `try/catch` and also *breakpoints*) I can see that [in here](https://github.com/face

[2016-10-21 06:45] tszymanek commented on #8025
Same here in our company using react with webpack dev server after upgrading to Chrome 54. On production works perfectly fine. Occurs when rerendering components.

[2016-10-21 08:21] andersekdahl opened #8030 "Maximum call stack size exceeded in ReactDOMComponent._updateDOMChildren"
First off, I realize that this likely isn't a problem with React but a problem with our application, but I tought I'd open an issue to see if you think it might be a problem in React, or if you could give any pointers on how to dig deeper. Since the call stack only contains React code, there isn't all that much for us to trouble shoot to see if we've messed up.

**Do you want to request a _feature

[2016-10-21 08:29] Ragnaroek opened #8031 "IE11, findParent fails with 'Unable to get property '__reactInternalInstance$...' of undefined or null reference"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Exception is thrown, rendering stops.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**
Doesn't seem to be determinstic, but it happens only i

[2016-10-21 08:32] Ragnaroek commented on #8031
This PR tries to fix the symptoms: https://github.com/facebook/react/pull/8032

[2016-10-21 12:01] gaearon commented on #7751
I'll close this because it's an intentional design decision.
It is also [documented as such](https://facebook.github.io/react/contributing/design-principles.html#optimized-for-tooling) and [has been discussed before](https://github.com/reactjs/react-future/issues/40#issuecomment-142442124).

The lifecycles themselves *will* likely change to something more declarative after Fiber (#6170) is shipped

[2016-10-21 12:01] #7751 closed

[2016-10-21 12:05] gaearon commented on #7770
@thisbejim It's not a regression though, is it? Did it ever work before?

@Aweary Can you look at https://github.com/facebook/react/issues/7770#issuecomment-255263096 please? My intuition is that we support mock "DOM" refs but not `findDOMNode()` at the moment.

[2016-10-21 12:05] MastroLindus commented on #4950
I am a bit late to the party but I have also problems with this.
I am trying to do something similar to what @hatched  said: I created my own checkbox component and I want to test it.

The checkbox is something similar to this (more or less, details are stripped for simplicity):
`
<div className="whatever>
  <input type="checkbox" onChange={this.onChange} checked={this.props.checked} defaultChecke

[2016-10-21 12:11] gaearon commented on #8026
Also please file issues in such libraries and gently ask them to use `peerDependencies` for `react` instead 😉 .

[2016-10-21 14:05] MacKentoch commented on #7027
How is it possible? IE11 would have a 🐛  (bug)?

Joke apart, I'm now waiting for React 16.x.

[2016-10-21 15:06] AlexReff commented on #554
Why is this closed? This is still a problem - onChange does not fire at all in IE11 in our testing. Forced to use https://github.com/mapbox/react-range

[2016-10-21 15:12] devyn commented on #8025
Having the same issue, chromium on Arch Linux. It seems like it's probably a V8 bug, since the only way I can see `markupIndex` gets set is from the result of `push()`, and if I place a breakpoint around that it doesn't seem to happen (i.e. return NaN), classic Heisenbug. So, probably wonky low-level stuff.

[2016-10-21 15:30] spicyj commented on #4950
You are correct that Simulate.change does not change the state of any inputs; it merely triggers `onChange` event listeners. React relies on the browser to change the input (or follow a link in the case of a click, etc) and anything we did in this avenue would just be reimplementing that behavior in an incompatible way.

My suggestion has been to mutate `.checked` on the actual DOM node, then call

[2016-10-21 15:35] Aweary commented on #8025
I would bet be related to the V8 bug mentioned by @developit [on Twitter](https://twitter.com/_developit/status/788776980829175808) where `push` ends up returning the value pushed instead of the index.

[2016-10-21 15:36] Aweary commented on #8025
If that's the case then [the fix has already been merged](https://bugs.chromium.org/p/chromium/issues/detail?id=656037) and should be pushed in the next stable release, meaning this wouldn't be actionable on our end and we can just wait for the fix to land 👍

[2016-10-21 15:38] developit commented on #8025
Yup. Canary should work fine, decent way to verify you're seeing the Turbofan push issue.

[2016-10-21 15:45] Aweary commented on #7770
@gaearon yupp, `findDOMNode`support was never implemented. This error is technically new since in `15.3.2` you would get the `injectEnvironment()` error before your tests had a chance to even call `findDOMNode`, but it's not technically a regression since it never worked.

I can look into what it would take for implementing `findDOMNode` support 👍

[2016-10-21 20:25] giuseppeg opened #8034 "docs: list and key examples override Number"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

In #8027 some [example](http://react-new-docs-temporary-preview.surge.sh/react/docs/lists-and-keys.html#extracting-components-with-keys)s  use `Number` as component name

[code]

Maybe it is a good idea to rename this component to `NumberItem` or something.

[2016-10-21 20:33] gaearon commented on #8034
Oops. I forgot it's a built-in thing.
I'll take a PR renaming it to `ListItem`.

[2016-10-21 20:41] gaearon opened #8035 "[New Docs] Docs Bugs & Issues"
We just completely rewrote docs in #7864.
They're bound to cause some issues, have some mistakes, etc.
Let's keep this issue as an umbrella for all problems we're discovering after the initial rollout.
- [x] Old links shouldn't be 404! Major issue.
- [x] Topbar points to `https://facebook.github.io/react/index.html` which is ugly URL
- [x] We shouldn't use `Number` as an identifier https://github.

[2016-10-21 20:49] luqmaan commented on #8035
Docs on lifecycle methods are 404ing: https://facebook.github.io/react/docs/component-specs.html#updating-componentwillreceiveprops

[2016-10-21 20:51] gaearon commented on #8035
Yea, something happened to all redirects. @lacker

[2016-10-21 21:03] gaearon commented on #8035
@luqmaan Thanks, fixed. Let us know if you find more broken links.

[2016-10-21 21:03] Aweary commented on #8031
@Ragnaroek thanks for the report!

Can you share a test case that reproduces it nondeterministically? Even if it isn't consistent, it's better than nothing. I would say fixing the symptoms and not the issue isn't a good idea here, as it may just hide a deeper issue or cause hard to debug problems somewhere else in the code path.

[2016-10-21 21:05] mcherz commented on #7349
@gaearon Ran into this state, searched, found myself in this thread. In my case, the error was a result of a copy/paste transposition; passing a container state down into nested components as a prop works better when you don't just paste `this.state.myProp` and leave it like that :-\

In any case, the error was tricky to track down because it appeared BELOW the `componentDidMount timer` error--lea

[2016-10-21 21:15] syranide commented on #8030
IIRC this is often an indication that you're setting state in `componentDIdMount` or some other life-cycle method and for some reason you end up endlessly changing the state (remember that even if you don't actually change any values in state, it will still queue an update unless you have a proper `shouldComponentUpdate`)... until it runs out of stack.

[2016-10-21 21:21] rthor commented on #8034
I'll do it, if that's ok?

[2016-10-21 21:23] hzoo commented on #8035
On Hello World, `https://facebook.github.io/docs/installation.html` should be `https://facebook.github.io/react/docs/installation.html` so the react/ isn't added and redirects to https://code.facebook.com/?

[2016-10-21 21:24] johnbrett commented on #8035
Great job on new docs all, love the live editor with error handling.

Just curious: Any reason why `var` is used on all the homepage tutorials? Curious whether there's a "best practice" on this.. would have thought `const` where possible, otherwise `let`?

[2016-10-21 21:51] hzoo commented on #8035
Another thing I noticed: this might of been an issue with the old docs but *syntax errors* don't have correct formatting of newlines from [babel-code-frame](https://github.com/babel/babel/tree/master/packages/babel-code-frame)

<img width="934" alt="screen shot 2016-10-21 at 5 45 35 pm" src="https://cloud.githubusercontent.com/assets/588473/19612730/4252bd54-97b6-11e6-9aff-bc61a9a53733.png">

Some

[2016-10-21 22:29] gaearon commented on #8035
No reason, feel free to send a PR fixing this.

[2016-10-21 22:51] pythononwheels commented on #8035
If this is the  "new style" I think you should point out the key differences to the "old style".
Just to take people with you.... knowing what key things change and why ...

[2016-10-21 23:23] gaearon commented on #8035
Does it matter at this point? It's not as much style as a lack of cohesion in previous docs.

They weren't really grouped by topic, there was no clear progression from simple to complex, their titles weren't descriptive, there were many random "tips" that didn't fit a cohesive narrative, they were using APIs that aren't used widely in the ecosystem anymore, etc.

New docs are in line with how peop

[2016-10-22 00:01] p-adams commented on #8035
Possible typo in docs: "Consider the ticking clock example from the one of the previous sections."

https://facebook.github.io/react/docs/state-and-lifecycle.html

[2016-10-22 00:14] slivcode opened #8042 "[feature/idea] rename context(types) to implicit props(types), and merge them."
Currently

[code]

Effectively, context is an **implicit props**, i.e. it is _mostly_ equivalent for all Child under Parent, it just expect Child to ask for it.

[code]

Interchangably, my Proposal/idea in mind.

[code]

it also imply, you can **override** the props if needed, for cases like testing/preview/...

[code]

a sample enhancer implementation

[code]

Feel free to point out flaws and edg

[2016-10-22 00:30] goatslacker commented on #7927
Here's an updated fail case with less code and which works in node:

[code]

[2016-10-22 02:56] maratbn commented on #3582
@Pomax

There are a number of newer discussions / pull requests / bug reports related to this issue referencing the arguments made here, and using those to base supporting arguments, so this issue is not a "dead horse".

Since React and javaScript are closely related, this is an appropriate place for the discussion conducted above, as long as it stays on the topic of the React-JavaScript relations

[2016-10-22 03:00] hnordt commented on #8035
@gaearon the uncontrolled form example on https://facebook.github.io/react/docs/forms.html#uncontrolled-components is passing value, so it's actually a controlled example.

The correct example would be something like:

[code]

[2016-10-22 05:25] andersekdahl commented on #8030
Yeah I've looked through most of our code for that but couldn't find any such cases. And if that was the issue, I'd expect our code to be shown in the stack trace and for it to happen a lot more. We have a couple of different stack traces in our logs and our code is never in it.

But it's still the most likely explaination that the error is on our side, so I'll dig more.

[2016-10-22 10:06] aidistan commented on #8025
Guess this issue could be confirmed since lots have met the same situation. Is there anyone who has fixed it by simply upgrading `react`?

[2016-10-22 10:58] fabriciojs commented on #8025
There was a patch release for Chrome 54 (while Windows seems to already have Chrome 55).

That fixed the issue for us.

[2016-10-22 11:14] giuseppeg commented on #8035
is a bit confusing, probably better clarify that we are talking about DOM state instead of React `state`.

[2016-10-22 11:18] MoeSattler commented on #8025
upgrading chrome fixed it

[2016-10-22 11:18] #8025 closed

[2016-10-22 13:48] nitish24p commented on #8026
For those who do not want to install any other packages for resolving. Configure a require key in the browserify object and that will take care of the error

[code]

[2016-10-22 14:55] Aweary commented on #8025
Thanks for verifying @MoeSattler!

[2016-10-22 16:15] jverce commented on #8008
I see it perfectly documented in this section now:
https://facebook.github.io/react/docs/jsx-in-depth.html#specifying-the-react-element-type

[2016-10-22 17:07] joshjg commented on #6436
Are react events passive by default? It seems to be that way for touch events, at least. I am not able to `preventDefault` unless I fall back to native document-level event listeners.

[2016-10-22 17:20] romulof commented on #6436
React is about to implement support for passive event listeners. I posted their issue link on the first post.

I know that touch events have some caveat about "preventDefault". They might be implemented as passive natively. I'll research more about this when I have some time to make the PR.

[2016-10-22 18:39] Pomax commented on #3582
closed issues are not the right place for discussions. If you want to use this thread as reference: great, but don't keep adding comments to it. Add them to those open issues instead.

[2016-10-22 18:47] robdodson commented on #7901
I took a stab at implementing the model discussed above. @sebmarkbage can you let me know if this matches your thinking?

[code]

One concern is that element authors have to opt-in to defining a setter to expose a handler for every event that they dispatch. That may end up bloating the elements, especially if they have a variety of events that they expose. Having React do `element.addEventListener

[2016-10-22 20:23] Andreyco commented on #8035
Why was latest stable removed from landing page?

[2016-10-22 20:31] bayfaal opened #8052 "Wrong Snippet code Uncontrolled Components: (Docs-Forms)"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-10-22 20:36] bayfaal commented on #8052
Need to replace render section of snippet code as it it is in the codepen. Actually it renders an input text instead of the radio buttons (Docs--Forms--Uncontrolled Components)

[2016-10-22 20:38] gaearon commented on #8035
@Andreyco What do you mean? There was a "Download Starter Kit" link that mentioned version but most people didn't find that "starter kit" useful. You can always find the latest version on Releases GH page.

[2016-10-22 20:39] gaearon commented on #8035
Another feedback on "Controlled Components": https://github.com/facebook/react/issues/8052

[2016-10-22 20:44] #8034 closed

[2016-10-22 21:02] Andreyco commented on #8035
@gaearon Yes, I mean link that mentioned version. I don't care about link, I am interested in version information. Anyway, no big deal, I will search for latest in GH releases. TY.

[2016-10-22 21:10] gaearon commented on #8035
Merged a bunch of PRs with fixes. Keep them coming please!

[2016-10-22 21:25] nitish24p opened #8053 "Unable to type in input after adding value prop"
I've made an an input field which makes an api call based on whats typed into it and then returns the results in a list.  On clicking a list element the value in the text input field must get updated. When i add a value prop to the input i am unable to type anything into it. On removing the value prop from the input i am able to type but the set state does not work.

[code]
using
[code]
was also f

[2016-10-22 21:29] gaearon commented on #8053
If you specify `value` the input becomes "controlled". This means you *must* update the corresponding state in `onChange`. In React, `value={something}` literally means "value will always be `something` no matter what".

So you probably want to call

[code]

inside your `onChange` handler.

Alternatively, you can remove the `value` prop altogether and make an input "uncontrolled". Then you won't h

[2016-10-22 21:35] nitish24p commented on #8053
Thanks.. Didn't know that state *had* to be updated in the onchange.

[2016-10-22 21:35] #8053 closed

[2016-10-22 22:06] gaearon commented on #8053
As noted above, alternatively you can use uncontrolled inputs by not specifying the `value` at all. You can use `defaultValue` for an initial value in this case. But you won't be able to control the value then.

[2016-10-22 23:01] nitish24p commented on #8053
Umm just curious what purpose would an uncontrolled input serve.. I mean usually isnt the purpose of an input for taking some for of data..and then processing it in your application

[2016-10-23 02:58] maratbn commented on #3582
@Pomax

Open public forums are not the right place for closed discussions.

[2016-10-23 09:57] gaearon commented on #3582
You may keep discussing it if you'd like for sure. This discussion will not affect anything because React has not been including or maintaining "jsx" compiler for a while now. This compiler's behavior is what this issue was about.

If you'd like to change some behavior in Babel (which we recommend instead), you can file an issue with it. Realistically discussion here will not change anything becau

[2016-10-23 09:59] gaearon commented on #7349
As I mentioned above, this warning doesn't show up since React 15.3.2. Please update React.

[2016-10-23 10:46] gaearon commented on #8035
https://facebook.github.io/react/blog/2016/07/22/create-apps-with-no-configuration.html looks very weird on mobile, with some sort of a broken top bar

[2016-10-23 10:52] gaearon commented on #8035
Feedback on tutorial https://twitter.com/iandavey773/status/789870405389475840
cc @spicyj

[2016-10-23 11:02] gaearon commented on #8035
Figure out if we do redirects correctly https://twitter.com/spiceee/status/789774523549745152

[2016-10-23 12:43] gaearon commented on #3710
The docs have all been updated with ES6 syntax.

[2016-10-23 13:00] gaearon commented on #8053
You can read data from uncontrolled input just as fine in the `onChange` handler.

Use controlled inputs if you want to "control" them, e.g. to reset them, or to "force" them to have certain values e.g. when props change.

Use uncontrolled inputs if you don't care about "controlling" them and only need their current values.

[2016-10-23 13:03] gaearon commented on #498
Many examples in the new docs have CodePen links. I don't think examples in our repo are very valuable by themselves. Closing.

[2016-10-23 13:03] #498 closed

[2016-10-23 13:04] gaearon commented on #676
Closing, as there is still no consensus on many things, and the ecosystem will figure it out eventually.

[2016-10-23 13:04] #676 closed

[2016-10-23 13:05] gaearon commented on #679
Closing as very old. Some of these are still nice to have, but nobody will look at this issue.

[2016-10-23 13:05] #679 closed

[2016-10-23 13:06] gaearon commented on #824
Closing as GCC advanced mode isn't really supported by React at this point.
It might have been supported if we set up any tests around this, but we didn't, and it regressed over time.

[2016-10-23 13:06] #824 closed

[2016-10-23 13:07] gaearon commented on #909
Closing as outdated. If you think this is still relevant, please submit a pull request to new documentation. Thank you!

[2016-10-23 13:07] #909 closed

[2016-10-23 13:12] gaearon opened #8060 "[New Docs] Wanted Guides"
We revamped the docs, but there are a few guides that are missing and that I think are essential.
- [ ] Community section with good resources (e.g. https://github.com/facebook/react/pull/7117)
- [ ] @mrscobbler Glossary (similar to "Virtual DOM Terminology" that is now gone, but more friendly. Check http://redux.js.org/docs/Glossary.html for inspiration.)
- [ ] Troubleshooting (there are ~5 common

[2016-10-23 13:12] gaearon commented on #8060
cc @lacker @hramos @ericnakagawa

[2016-10-23 13:12] gaearon commented on #971
We should do it, but keeping a bunch of old issues around doesn't help visibility.
Putting this as umbrella item in #8060.

[2016-10-23 13:12] #971 closed

[2016-10-23 13:15] gaearon commented on #1669
This was mostly fixed by New Docs (#7864).
https://facebook.github.io/react/

[2016-10-23 13:15] #1669 closed

[2016-10-23 13:17] gaearon commented on #1693
We're in a slightly better position now with [TestUtils](https://facebook.github.io/react/docs/test-utils.html) documentation, and [Enzyme](http://airbnb.io/enzyme/) also has good reference docs.

If something is missing, please send a PR with your suggestions to start a discussion.

[2016-10-23 13:17] #1693 closed

[2016-10-23 13:20] gaearon commented on #2184
[New reference](https://facebook.github.io/react/docs/react-component.html) lists lifecycles by phase:

<img width="849" alt="screen shot 2016-10-23 at 14 18 23" src="https://cloud.githubusercontent.com/assets/810438/19626518/c9c25576-992b-11e6-988f-5e2c83977fb7.png">

I think we can close this.

[2016-10-23 13:20] #2184 closed

[2016-10-23 13:21] gaearon commented on #2644
Closing, as there is still no consensus on this, and the ecosystem will figure it out.

[2016-10-23 13:21] #2644 closed

[2016-10-23 13:23] gaearon commented on #3099
We removed that tutorial so no longer applicable.

[2016-10-23 13:23] #3099 closed

[2016-10-23 13:28] gaearon commented on #6174
Closing in favor of an umbrella issue in https://github.com/facebook/react/issues/8060.

[2016-10-23 13:28] #6174 closed

[2016-10-23 13:35] #6186 closed

[2016-10-23 13:39] gaearon commented on #6320
This doesn't seem like a common confusion so I'm not sure it's worth making the language more complex there.

The docs now say:

If you follow the tip of using `cDU` instead, this wouldn't be a problem.

Still, if you see an elegant way to phrase it without making the sentence very complicated, please feel free to send a PR! Thanks.

[2016-10-23 13:39] #6320 closed

[2016-10-23 13:39] gaearon commented on #6514
I think this is done now.

[2016-10-23 13:39] #6514 closed

[2016-10-23 13:41] gaearon commented on #6586
We have some recommendations in [new lifecycle docs](https://facebook.github.io/react/docs/react-component.html#the-component-lifecycle).
It took a lot of effort to get new docs together, so I don't expect us to spend more effort there soon.
Therefore an issue like this is much more likely to be addressed on a case by case basis by reviewing PRs rather than planning.

[2016-10-23 13:41] #6586 closed

[2016-10-23 13:42] gaearon commented on #7013
We've removed the "starter kit" altogether.
We are also not using `fb.me` CDN anymore.
Closing.

[2016-10-23 13:42] #7013 closed

[2016-10-23 13:43] gaearon commented on #7161
No "taints" anymore.
https://facebook.github.io/react/docs/dom-elements.html#dangerouslysetinnerhtml

[2016-10-23 13:43] #7161 closed

[2016-10-23 13:45] gaearon commented on #7752
These should be better in [New Docs](https://facebook.github.io/react/docs/react-api.html).
If not, please comment what's missing in #8035 and we'll add it.

[2016-10-23 13:45] #7752 closed

[2016-10-23 13:46] gaearon commented on #7833
Done now, thanks so much!

[2016-10-23 13:46] #7833 closed

[2016-10-23 13:47] gaearon commented on #7975
Fixed.

[2016-10-23 13:47] #7975 closed

[2016-10-23 13:50] gaearon commented on #7413
We dropped this section completely in new docs.

[2016-10-23 13:50] #7413 closed

[2016-10-23 13:54] gaearon commented on #4875
It's gone now.

[2016-10-23 13:54] #4875 closed

[2016-10-23 13:57] gaearon commented on #7183
We updated [lifecycle docs](https://facebook.github.io/react/docs/react-component.html#the-component-lifecycle) to be in order.

The schema looks cool, but I'm not sure we want to add it because Fiber (#6170) will make the order much less deterministic. So I'll close for now, but thanks for the suggestion.

[2016-10-23 13:57] #7183 closed

[2016-10-23 13:58] gaearon opened #8063 "[New Docs] Set Up Localization Effort"
We've deleted the old localized content because most of the docs changed too much.
We should set up proper infrastructure for localization because the old process was slow and ineffective.

cc @lacker

[2016-10-23 13:59] gaearon commented on #4614
Let's continue the discussion in #8063.

[2016-10-23 13:59] #4614 closed

[2016-10-23 14:01] gaearon commented on #5810
Whoops, I didn't notice this issue and created #8063.
Since this is becoming more urgent (we deleted all old localized content) let's just track this in #8063 which is more visible than this issue.

[2016-10-23 14:01] #5810 closed

[2016-10-23 14:03] gaearon commented on #6942
Added this to #8060.

[2016-10-23 14:03] #6942 closed

[2016-10-23 14:04] gaearon commented on #7244
Closing. They are documented on the [context page](https://facebook.github.io/react/docs/context.html#referencing-context-in-lifecycle-methods) but they won't be documented on other pages because they are not a part of the stable API.

[2016-10-23 14:04] #7244 closed

[2016-10-23 14:05] gaearon commented on #7379
It is [in the docs](https://facebook.github.io/react/docs/react-api.html#react.purecomponent) now.

[2016-10-23 14:05] #7379 closed

[2016-10-23 14:06] gaearon commented on #7431
Let's track this in #8060.

[2016-10-23 14:06] #7431 closed

[2016-10-23 14:06] gaearon commented on #7479
This experimental proposal is now [mentioned](https://facebook.github.io/react/docs/handling-events.html) in the docs.

@kevinSuttle It doesn't solve the issue for us because it rebinds on every render.

[2016-10-23 14:06] #7479 closed

[2016-10-23 14:07] gaearon commented on #7535
Some of these docs are gone now.
Let's track a separate "Manipulating Children" guide in #8060.
Would you like to work on it?

[2016-10-23 14:07] #7535 closed

[2016-10-23 14:08] gaearon commented on #7758
This tutorial is gone.

[2016-10-23 14:08] #7758 closed

[2016-10-23 14:09] gaearon commented on #7768
We removed outdated content from docs, deemphasized "legacy" practices, and added cautionary notes around them.

Versioning docs would be great but that is tangential to this issue.

[2016-10-23 14:09] #7768 closed

[2016-10-23 14:09] gaearon commented on #7882
Added this to https://github.com/facebook/react/issues/8060 for visibility. Let's track it there. Would you like to write this?

[2016-10-23 14:09] #7882 closed

[2016-10-23 14:10] gaearon commented on #8008
Yeah, this is now documented in a few more places.

[2016-10-23 14:10] #8008 closed

[2016-10-23 15:39] giuseppeg commented on #8035
@gaearon have you considered to replace [redcarpet](https://github.com/vmg/redcarpet/issues/307) with [kramdown](https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0)?

[2016-10-23 16:26] nhunzaker commented on #4645
@sebmarkbage Sort of spurred by https://github.com/facebook/react/issues/7901, but I've been wanting custom events for a while and had some prior work stripping out the attribute whitelist (https://github.com/facebook/react/pull/7311).

So I took a stab:
https://github.com/nhunzaker/react/pull/2

I've PR'ed this to myself (against #7311). I'm hesitant to submit it, but I think I'm happy with it. T

[2016-10-23 16:39] Frazer opened #8065 "Handling events README does not have an example that handles the eventHandler AND takes a parameter"
https://github.com/facebook/react/blob/master/docs/docs/handling-events.md

There are example for eventHandlers that receive e (SyntheticEvents),
but no example of passing any other parameters to an eventHandler.

[2016-10-23 16:43] kutyel commented on #7479
@gaearon great! Nice work with the docs Dan! ;)

[2016-10-23 17:15] jacksonrayhamilton commented on #7161
The language makes sense to me now, thanks.

[2016-10-23 17:31] gaearon commented on #8065
You can't pass any other arguments, as React only passes the event.
Do you mean something like index inside a `map()`?
Perhaps we could add a section on events to "Loops and Conditions".

[2016-10-23 17:46] reznord commented on #1919
Hi there !!, I would like to work on this bug. @spicyj @jgebhardt can anyone point me in right direction for working on this bug?

[2016-10-23 19:45] justinfagnani commented on #7901
@sebmarkbage I get why properties are preferable to attributes, that's why Polymer defaults to setting properties. Since most Web Components these days are Polymer elements, and Polymer automatically supports properties, I think most Web Components handle properties correctly.  Most of the other WC libraries I've seen handle properties correctly as well. If you know of a large set of components th

[2016-10-23 19:54] gaearon commented on #8035
@giuseppeg No idea, want to send a PR so I better understand the difference?

[2016-10-23 20:22] nhunzaker commented on #7440
It looks like this is fixed in 15.4.0-rc.4:
https://jsfiddle.net/7s6mwccu/5/

I _think_ this is because of my work here (at least `git bisect` says so):
https://github.com/facebook/react/commit/2fbe0cd333ae8097c7cb1e4c4532844b0ce1df9f

But I'm not sure specifically why. I only set up a conditional that won't attach click listeners for buttons. So I made a version that just uses divs:

https://jsfi

[2016-10-23 20:26] nhunzaker commented on #7440
Updated my comment, interpreted the history wrong on the comparison feature. I think this one might be resolved.

[2016-10-23 20:58] sebmarkbage commented on #7901
React intentionally went back on that and claims that single event handlers is a better model and the use cases for multiple event listeners is better solved elsewhere since it leads to confusion about where events flow and which order they flow.

Additionally, the string based event system is difficult to type. Both statically for type systems like TypeScript and Flow, and for optimizing adding l

[2016-10-23 21:51] Ore4444 commented on #5052
on how the 2 complement each other: http://webcomponents.org/presentations/complementarity-of-react-and-web-components-at-reactjs-conf/

[2016-10-23 22:08] Ore4444 commented on #5052
https://facebook.github.io/react/docs/web-components.html

[2016-10-23 22:51] Frazer commented on #8065
I was thinking something like this

[code]

[2016-10-23 23:15] gaearon commented on #8035
More feedback: people are used to seeing version number on homepage. Can we add it somewhere and also link to the changelog for good measure?

[2016-10-23 23:58] mrscobbler commented on #8060
I'll take the glossary sections. Is there a list of terms somewhere I can work of off? Or should I come up with some? I don't remember what the virtual DOM terminology page contained.

[2016-10-23 23:59] jamesknelson commented on #8060
I can possibly take routing with HTML5 history

[2016-10-24 00:03] gaearon commented on #8060
Regarding terminology, please assume familiarity with all topics in "Basic Guides". Most of them have relevant terms right in titles (elements, components, props, state, lifecycle, events, keys).

[2016-10-24 00:06] jamesknelson commented on #8060
Does the routing guide even need to use `setState`? I think it should be possible to do with plain props. Also, will hash-based routing be OK? If not, it'll probably need context to make a `<Link>` component work which seems a little complicated.

[2016-10-24 00:10] gaearon commented on #8060
If we do plain props we'll have to make top level render inside a change handler right? I'd like to avoid that because people often don't understand how to compose two such handlers.

I think we should teach HTML5 routing right away. Like here: https://vuejs.org/guide/routing.html. Would you really need context? You can have Link listen to history independently.

[2016-10-24 00:11] jamesknelson commented on #8060
Actually, it shouldn't need context if we're just using plain HTML5 history. I was thinking of using the history package.

[2016-10-24 00:12] thisbejim commented on #7770
@gaearon Yeah my bad, I had been looking through other issues and wrongly assumed this was something that was planned to be fixed for this release.

Thank you for taking a look, @Aweary, I appreciate your time and effort.

[2016-10-24 00:12] gaearon commented on #8065
Oh, I see. Normally you'd create two functions for this, or use partial application with either bind() or arrow functions. This is more in the realm of JavaScript than a React guide but we should probably mention this in some way. Thanks for input.

[2016-10-24 00:13] gaearon commented on #8060
I want to keep it package free so people see the simplicity of doing routing with React, and then go to packages when they actually need their features.

[2016-10-24 00:15] jamesknelson commented on #8060
Yes, that is the definitely ideal. Was a thinking mistake on my part.

So just to confirm, the idea is to add a listener in `componentWillMount` of a `Router` component, use `setState` based on that, then choose what to render based on that? Then create a `Link` component which captures `onClick` and does `pushState`?

[2016-10-24 00:19] gaearon commented on #8060
Maybe not even call it Router, just make a top level App component choose the right thing based on state and a URL => component map object or something like that.

[2016-10-24 00:21] jamesknelson commented on #8060
Ok. Will put a draft together probably this weekend :)

[2016-10-24 01:36] kevinSuttle commented on #7882
I can take a stab. Sure.

[2016-10-24 01:39] kevinSuttle commented on #5052
http://staltz.com/react-could-love-web-components.html
https://www.youtube.com/watch?v=g0TD0efcwVg

[2016-10-24 01:44] maratbn commented on #3582
@gaearon
OK Dan, good insight.

[2016-10-24 03:48] wong2 commented on #8063
Would you consider using something like: https://www.transifex.com/ ?

[2016-10-24 05:12] koba04 commented on #3436
This Issue is outdated, so I'll close this.

[2016-10-24 05:12] #3436 closed

[2016-10-24 06:32] tarjei opened #8068 "Forms documentation should not hide relevant info :)"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
![utvalg_272](https://cloud.githubusercontent.com/assets/211263/19635634/1059f71c-99c4-11e6-9d99-5e4caef4dd88.jpg)

http://react-new-docs-temporary-preview.surge.sh/react/docs/forms.html#examples

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal dem

[2016-10-24 06:37] tarjei commented on #8068
Also IMHO you should consider adding an example of how radiobuttons use the `selected` attribute and not just the defaultSelected attribute :)

[2016-10-24 07:24] kromit commented on #1137
2 years after the issue were closed there obviously still demand for a solution and discussion about it. I do not see any reason why the issue should not be reopened.

[2016-10-24 07:50] MastroLindus commented on #4950
Thank you for the explanation, it makes a lot of sense.

Unfortunately I am actually using Enzyme to write the tests and as far as I know it doesn't allow to mutate the actual dom node.

Even if Simulate doesn't really change the DOM state of inputs, it still allows to pass custom data to the event.target object with Simulate.change(node, {target:{value:"whatever"}}). Wouldn't be possible to allow

[2016-10-24 10:03] gaearon commented on #8063
I heard from @zpao that @thejameskyle was building something for Yarn which we may then reuse.

[2016-10-24 12:17] aaronplanell commented on #8025
Confirmed. I upgraded to Chrome version 54.0.2840.71 (64-bit) and the problem has disappeared.

[2016-10-24 12:35] Taakn opened #8074 "Uncaught Invariant Violation: parentComponent must be a valid React Component"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I am seeing the following error on a page (that used to work). The stack doesn't say anything at all, so debugging is difficult. My request is not for you to help me debug my code, but to improve that error stack so that people who encounter that error can figure out where it's coming from.

Thanks

[c

[2016-10-24 12:36] gaearon commented on #8074
Doesn't the stack point to something called `RenderToLayer.js` (which presumably is your code?)

[code]

[2016-10-24 12:39] gaearon commented on #8068
@ericnakagawa Can you please fix this?

[2016-10-24 13:02] Ragnaroek commented on #8031
I agree that fixing the symptom this way was a bad idea.
As it turned out the problem was not React, but an exception in one of our promise handlers.

[2016-10-24 13:02] #8031 closed

[2016-10-24 13:34] donriver opened #8075 "Add description of {false} caveat to docs/conditional-rendering.md"
**Do you want to request a *feature* or report a *bug*?**
documentation enhancement

We need to describe that if user wants to output string "false" for boolean property that is false, he should convert it to string or else it won't appear in the output.

[2016-10-24 13:41] gaearon commented on #8075
There is a paragraph saying:

We could add something more detailed to "JSX in Depth", would you like to make a PR? The last section in it mentions handling of `false` too.

[2016-10-24 14:05] Dema commented on #8075
Yep, sorry, my fault, I haven't read it yet. I think, yes, that section in JSX In Depth explicitly mentions this.

[2016-10-24 14:42] Aweary commented on #8031
@Ragnaroek thanks for the update, glad you figured it out 👍!

[2016-10-24 14:49] gaearon commented on #8075
Fixed via #8076, it's called out explicitly now.

[2016-10-24 14:49] #8075 closed

[2016-10-24 15:13] simonsmith commented on #8035
Just reading though the "React Without ES6" page:

Perhaps it's worth mentioning that this only applies in event handlers. Otherwise `this` works just fine.

[2016-10-24 15:34] gaearon commented on #8035
@simonsmith Sounds good.

[2016-10-24 15:55] Taakn commented on #8074
I'm so sorry I slept for 4 hours, I'm working too much. Not my code but another package I'm using. Thanks a lot for replying, I'll be closing this issue covered in shame now

[2016-10-24 15:55] #8074 closed

[2016-10-24 16:54] gaearon commented on #8074
Haha no worries. Cheers!

[2016-10-24 17:11] sarbbottam commented on #7852
I have reported the bug `28917455` but I don't think I can share the URL. Please find the screenshot of the report like so:
<img width="1280" alt="screen shot 2016-10-24 at 10 09 52 am" src="https://cloud.githubusercontent.com/assets/949380/19655770/1a7aa13e-99d2-11e6-9ca2-c350ba2f512b.png">

[2016-10-24 17:21] Aweary commented on #7852
Thanks so much @sarbbottam!

[2016-10-24 17:46] Aweary commented on #8035
@simonsmith @gaearon I don't think that's true if I'm understanding you correctly. You need to bind your method anytime it might be executed in a context where `this` does not refer to the component instance it was defined on.

[code]

[2016-10-24 17:48] gaearon commented on #8035
The rule of thumb is that if you access method anywhere without `()` right after it, then you need to bind it.

[2016-10-24 17:56] Aweary commented on #8035
Is that in the docs? If not, it should be 😄

[2016-10-24 17:56] gaearon commented on #8035
If it helps: https://twitter.com/dan_abramov/status/790612782471319553

[2016-10-24 17:56] gaearon commented on #8035
PRs welcome!

[2016-10-24 18:49] simonsmith commented on #8035
@Aweary Yeah, my point was the docs imply you need to use `bind` whenever you want to use an instance method which (as you've demonstrated) is only true some of the time.

I've seen code where every method was bound by hand even if it was just being called normally. I'll put together some changes and we can discuss in a PR 👍

[2016-10-24 19:42] gaearon opened #8080 "Re-add the warning about PropTypes"
After a discussion with @spicyj we decided to keep the warning even though the functions will throw in production. The warning is the only way to learn about that.

We should also document how to pass the secret through in case you know what you're doing.

[2016-10-24 20:06] spicyj commented on #8080
particularly *because* the functions will throw in production

[2016-10-24 23:32] ericnakagawa commented on #8052
Thanks for finding this @bayfaal. The [Codepen] has been updated -- I'll push an edit to the forms.md page so it matches the codepen.

[2016-10-24 23:32] #8052 closed

[2016-10-25 00:03] ericnakagawa commented on #8068
Fixed line breaks.

[2016-10-25 00:03] #8068 closed

[2016-10-25 09:27] mrdulin opened #8087 "react-addons-css-transition-group give me a warning: transitionEnterTimeout wasn't supplied to ReactCSSTransitionGroup"
Failed prop type: transitionEnterTimeout wasn't supplied to ReactCSSTransitionGroup: this can cause unreliable animations and won't be supported in a future version of React. See https://fb.me/react-animation-transition-group-timeout for more information.

How do I solve this warning ? Thanks

[2016-10-25 11:04] Shenlok commented on #8035
No mention of the old string-based refs in the new docs. Should these be mentioned in a "deprecated" notice at least?

[2016-10-25 11:37] gaearon commented on #8087
Hey there!

To solve it, you can do exactly what the warning says.
Add `transitionEnterTimeout` like examples in the link do:

[code]

I hope this helps!

[2016-10-25 11:37] #8087 closed

[2016-10-25 11:43] gaearon commented on #8035
@Shenlok They're technically not deprecated yet, just considered legacy.

[Refs and the DOM](https://facebook.github.io/react/docs/refs-and-the-dom.html) does mention them but too briefly:

I agree we should add a small section at the bottom at least describing how string refs work, with a notice that we don't recommend using them. Could you send a PR for this?

[2016-10-25 13:42] SMHFandA commented on #8035
**Forms docs has mistakes.**
In "Forms" docs i found mistake in "Basic Radio Button" example. Method `render()` do not use `this.state.value`, but `state` has it. According "State and Lifecycle" docs it is bad:

If you don't use something in render(), it shouldn't be in the state.

[2016-10-25 14:02] iiitmanikanta opened #8091 "how to debug Cannot read property '__reactInternal .... of null ?"
is there any good debugging toool for finding the exact line numbers or Component names where we got the error like
`Uncaught TypeError: Cannot read property '__reactInternalInstance$mdm22afavg17ndrawaq8e61or' of null`
is only adding console logs for every file is the solution ????????

[2016-10-25 14:54] hanssaurer opened #8092 "https://fb.me/react-warning-keys is redirected wrongly"
The following Warning is not redirected correctly: (At least from Chrome debugger)

20547 Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `List`. See https://fb.me/react-warning-keys for more information.

leads to:
https://facebook.github.io/react/docs/composition-vs-inheritance.html
instead of:
https://facebook.github.io/react/docs/lists-an

[2016-10-25 15:16] jblok commented on #8017
@scsherwood Can't you just make the Google gpt request in componentDidMount, and then rerender with the results of this call. So react will finish 'rendering' the same markup as was sent from the server, and the ad request can happen separately after initial rendering is complete.

[2016-10-25 15:26] roastlechon commented on #8017
@jblok the reason why we cant make it in componentDidMount is because:
1. its tied up in React lifecycle
2. the script for the component is at the bottom of the page (after server side rendered markup)
3. we need to have ads appear immediately on page load (we already have server side rendered markup, so why delay ads showing up to the client side scripts?)

[2016-10-25 15:34] jblok commented on #8017
1. Yes, but so is your entire app so this shouldn't be a downside really.
2. I'm unclear - do you mean the script is a third party ad script which just runs on page load regardless?
3. Loading the ads on componentDidMount won't slow you down any further. As you stated, the server is sending an empty div anyway.

[2016-10-25 15:39] roastlechon commented on #8017
Visually speaking, the app is present on first byte. The lifecycle on the client side ties up firing the gpt request.

The script is the bundled javascript (react, miscellaneous vendor scripts, app scripts, etc). GPT is loaded in the head of the document.

[2016-10-25 18:13] rthor commented on #8060
I'm writing a guide on using ajax. Is that good with people or is someone already on it?

[2016-10-25 18:22] bayfaal commented on #8052
Thanks for this feedback.
Good job ;)

On Mon, Oct 24, 2016 at 7:34 PM, Eric Nakagawa <notifications@github.com>
wrote:

[2016-10-25 18:54] scsherwood commented on #8017
We are trying to get out in front of the React render to get faster
performance out of the ads.  Waiting on react costs us around 500 to 1000
ms before the ad call is made.

*Steven **Sherwood  *
*w:* 770-226-2527      *e:* steven.sherwood@weather.com
<http://weather.com/apps> <http://weather.com/apps>
<http://weather.com/apps> <http://weather.com/apps>
<http://weather.com/apps> <http://weather.co

[2016-10-25 18:56] zzz6519003 commented on #4529
thanks, what will `npm test -t cloneWithProps` do? XD

2016-10-18 0:32 GMT+08:00 cabaji9 <notifications@github.com>:

--

yours,

正中赵
about.me/zzz6519003
[image: 正中赵 on about.me]
  <http://about.me/zzz6519003>