[2021-07-20 14:22] pmmmwh commented on #17552
As of now, there is no reliable way to make React Refresh work without having the `ReactRefreshRuntime.injectIntoGlobalHook` call execute before any React renderer code is initialised.

Either you would have to internalise React during development, install and use the `react-devtools` extension, or ensure that the injection order is correct.

However - given how much this have been brought up in b

[2021-07-20 14:46] Nefcanto commented on #21920
Yeah @bvaughn , I posted my issue here by mistake. But to my surprise, it didn't have a delete button :). Thank you.

[2021-07-20 14:47] bvaughn commented on #21920
No problem. Good luck!

[2021-07-20 16:22] josepharhar commented on #11347
Could you elaborate on "artificial delays"? Are you saying that we shouldn't wait for the custom element to be upgraded before throwing all JSX attributes into HTML/element attributes, especially when server rendering?

I agree that JSON.stringifying objects to strings for HTML attributes seems like a good addition to the preact behavior, and that custom elements should probably be able to handle

[2021-07-20 17:14] mogzol commented on #21914
I'm aware of the ESLint warning, I know that refs won't cause a re-render. This is still unexpected behaviour because useEffect should trigger if the dependencies have changed since the previous render. I know refs won't trigger a re-render, that's why I use `useState` or `useReducer` to cause the re-render. But when the component re-render, with *new values in the deps array*, the Effect still do

[2021-07-20 17:30] bahrus commented on #11347
Yes, that's what I'm saying.  I don't like blocking attributes from server-side rendering.

UI5 has css selectors that depend on custom attributes.  For example:

[code]

They actually applied this to the native input element (much to some of the React team's displeasure, I'm sure, and which I actually share some of that concern, although they did use dashes, so likely no future conflicts).

The f

[2021-07-21 01:34] cdoremus commented on #7249
Doing my part to foil the stale bot!

IMHO, it's a crime that React is the only major JavaScript framework that does not support Web Components

[2021-07-21 02:32] webb24h commented on #17258
I confirm this is not a react only issue as im using plain javascript and only href works. button and onclick events do not fire at all.

[2021-07-21 02:44] gaearon commented on #7249
There's an active discussion in https://github.com/facebook/react/issues/11347#issuecomment-877327383 that you're welcome to contribute to if you care about this topic.

[2021-07-21 05:34] MaxmaxmaximusAWS commented on #21903
@bvaughn

[code]

[2021-07-21 06:22] ConradSollitt commented on #11347
@robdodson
Is there an overall goal of Web Components for React v18? @gaearon mentioned the site https://custom-elements-everywhere.com/

For example, is a perfect score with that site desirable? I came across that site a while ago during research and testing and was surprised by the React score - when testing React, Vue, and Preact only React worked for Components I initial developed. The main re

[2021-07-21 07:12] reez12g commented on #11734
'm going to work on this issue.
If you are already working on it, please let me know!

[2021-07-21 09:10] Eliav2 opened #21930 "Bug: React.StrictMode breaks component that manage global object to break dependency between 2 related contexts"
I've just released v2.0 of a [react-xarrows](https://github.com/Eliav2/react-xarrows) it breaks on apps that are wrapped with React.StrictMode. the component works perfectly fine on trees that are not wrapped with React.StrictMode

React version: 17.0.0

## Steps To Reproduce

### simple demo

[code sandbox](https://codesandbox.io/s/react-arrows-v2-strictmode-not-work-ko4ju?file=/src/index.jsx)
##

[2021-07-21 09:52] shimondoodkin opened #21931 "feature request: getState, example, const [state, setState, getState] = useState(null);"
feature request:  getState, example, const [state, setState, getState] = useState(null);

it is ok to use the simple variable in a dependent uses effect, but not ok in not a dependant use effect.

the state is a simple variable. which is closure passed into functions, so it is not updated.
and setState with a function argument is asynchronously dispatched.
I suggest adding a synchronous function g

[2021-07-21 09:56] andyrichardson opened #21932 "Bug: Lazy only attempts to retrieve module on first mount"
Currently when lazy retrieval of a module fails during the initial mount, this failed state persists for the lifetime of the lazy component (despite new instantiation).

[code]

Consider the following user experience:
 - user loads webpage
 - network connection goes offline
 - user loads lazy route
 - lazy module retrieval fails
 - network connection goes online
 - user navigates away from lazy el

[2021-07-21 10:02] mrdulin opened #21933 "After the component is unmounted, the component node in the react devtools panel is not removed"
The component node in react devtools is **NOT** removed, but in the DOM, the DOM node corresponding to the component is removed.

A minimal, reproducible example:

`App.tsx`:
[code]

`./components/Message.tsx`:
[code]

`Message` component in react devtools panel:

[![enter image description here][1]][1]

`Message` component in DOM:

[![enter image description here][2]][2]

Now, when I click the cl

[2021-07-21 10:12] kaputadali commented on #21933
I think setVisible not fully defined

[2021-07-21 11:27] gaearon commented on #21930
We disable `console.log` during second render pass so that's likely why you're not seeing it. (We'll change this behavior soon — no need to say it's confusing, we know :)

To work around, do

[code]

and then use `log(...)` and you should see both logs.

---

As for your problem, I haven't looked in detail (there is no reason to suspect a bug in React so you're better off asking on StackOverflow).

[2021-07-21 11:27] #21930 closed

[2021-07-21 11:32] bahrus commented on #11347
Hi @ConradSollitt

Based on the findings of @robdodson, I adopted Preact in a few projects.  We built web component wrappers around api libraries like eCharts.  We are a financial company, so we use lots of grids and charts, so the ability to send objects (not strings) into and out of components (via events) is rather critical for us.  Being able to load the components asynchronously is also quite

[2021-07-21 11:33] gaearon commented on #21930
I would be able to give you a better answer if you made a sandbox with a _much simplified_ version of your actual library code. No need for actual drawing of the arrow, but just enough to understand the data flow you wanted to have.

[2021-07-21 12:11] gaearon commented on #11347
What’s the workaround you want to see documented? I’m happy to take a PR!

I understand why you may see this as a desire for lock-in and I know you probably won’t take my word for it, but there’s no such intent. If it was obvious what the “right” solution is, in a way that works with the whole React feature set (including SSR), we would’ve implemented it years ago. We were hoping that with time, b

[2021-07-21 12:21] gaearon commented on #21903
Yea. This is the same thing as `useEffectRef` we’ve seen people add internally. The current canonical solution to this is callback refs, but it’s a bit awkward that callback refs have a different API from effects.

[2021-07-21 12:29] bahrus commented on #11347
Hi @gaearon, I think this comment from @robdodson would be really helpful:

The documentation does mention refs as far as calling methods, but explicitly stating this as regards to passing objects in would go a long way in convincing me there's no desire for lock-in! Or maybe I missed it? I'm referring to [this page](https://reactjs.org/docs/web-components.html).

[2021-07-21 12:49] Aarbel commented on #17258
I highly recommend using Capacitor for your PWAs or mobile apps, the lib provides polyfills / fixes to build well your react apps, and don't have mobile / desktop environment surprises

[2021-07-21 12:49] matthewp commented on #11347
@josepharhar

Yes, you 100% should not be waiting. When an element upgrades *is not the concern* of a templating library. It's the concern of the application and element author. The element author sets the contract with the application development on when an element needs to be defined. A robust element should be able to respond to being defined late. That means supporting state being set prior to

[2021-07-21 13:59] bvaughn commented on #21903
Just to spell it out a little more explicitly, one way to approach this using a callback ref would be:
[code]

[2021-07-21 14:57] bvaughn commented on #21933
DevTools isn't showing the DOM elements. (Those are hidden because of the ["component filters" setting](https://github.com/facebook/react/blob/main/packages/react-devtools/CHANGELOG.md#component-filters).) It's showing the `Message` component, which is always mounted in the example code you provided.

I'm going to simplify the example a little more to make it clearer:
[code]

The component above s

[2021-07-21 14:57] #21933 closed

[2021-07-21 16:16] #21855 closed

[2021-07-21 16:57] Fahme commented on #21856
Would love to help with this, if no one is working on it ?

[2021-07-21 17:00] bvaughn commented on #21856
You're welcome to take a pass at this, @Fahme.

It's a pretty large task and it would need to be self-guided (minimal support from me), but if you're interested- that's awesome.

[2021-07-21 17:16] Fahme commented on #21856
I've actually commented before going through the previous discussions and the challenges you guys were facing to get this to work so i took my comment out before your reply.

Anyways It would be a really nice feature to have i'll give it a shot and see i can tackle it.

[2021-07-21 17:31] josepharhar commented on #11347
Thanks for this feedback, that knocks out the [third option in my doc](https://docs.google.com/document/d/1PWm94eCKZ9OBe91X-3ZHIBxn_w0E92VrzSImTEmXPZc/edit#heading=h.la0e7vlyik4v).

Does anyone have opinions on the [second option in my doc](https://docs.google.com/document/d/1PWm94eCKZ9OBe91X-3ZHIBxn_w0E92VrzSImTEmXPZc/edit#heading=h.pk97inp68k92)?
The idea is that when a custom element upgrades,

[2021-07-21 17:44] matthewp commented on #11347
@josepharhar You bring up a lot of questions but I'll just focus on the first. I think removing attributes and waiting on whenDefined could result in a FOUC. The element would render twice, once without the attributes (on upgrade) and again when React rerenders post-upgrade. Since it's state is different it can likely result in different render results.

If you leave the attributes alone the eleme

[2021-07-21 17:53] gaearon commented on #11347
Could we do the "remove attributes + attach properties" thing on whenDefined?

[2021-07-21 18:03] josepharhar commented on #11347
Yeah I was proposing waiting until after the custom element has been upgraded, *then* removing the attribute and assigning the same value to the property if our heuristic determines that we should be using object properties.

I could imagine that it could result in something odd happening depending on how the custom element is written, but we would definitely do `element.removeAttribute('myprop')`

[2021-07-21 18:03] matthewp commented on #11347
@gaearon

You could, does this solve some problem I'm not thinking of though? What do you do with builtin elements here? For example `<progress max="50">`, do you remove the attribute and start setting its property? progress will reflect property changes back into its attributes. Would a custom element doing the same mess with diffing or something?

[2021-07-21 18:15] matthewp commented on #11347
@josepharhar

I'd love to hear the reason why to remove the attribute, it's unclear to me. I can't think of a reason why you need to worry aobut the attr/prop being "out of sync". Many elements will reflect property changes back into the attribute, but some won't. In either case the element is the one that is deciding what the source-of-truth is. I'd be worried that by removing the attribute and t

[2021-07-21 18:18] gaearon commented on #11347
This seems like the same kind of custom element could potentially work with one approach or with other approach but not necessarily both. So you'd either see or not see the issue depending on the timing. We generally prefer things to work the same way regardless of timing. It's better for custom element to not work at all (so that you notice the issue and address it) than for it to work sometimes.

[2021-07-21 18:24] josepharhar commented on #11347
I agree, I think this is a good argument against using removeAttribute. The reason for using removeAttribute is that the state is left kind of funny looking when there is old state left in the attribute and new state in the property, but as you said attributes are (hopefully) more used for initial state only.

However, we still need to know if we should respond to upgrades - see the "Preact behavi

[2021-07-21 19:00] bvaughn commented on #21856
Sounds good. Keep me posted!

[2021-07-21 20:28] ConradSollitt commented on #11347
I've checked Web Components I previously wrote and tested with React and found one issue that might make sense to add to a **checklist of best practices** if a topic like that is created in the future.

Basically `attributeChangedCallback()` can be fired at the time the element is created but before being attached to the DOM. This  isn't an issue when using just including a Web Component on a web

[2021-07-21 20:50] chbdetta commented on #13944
Simply untrue. There is no plan deprecating class component.

[2021-07-21 20:52] ko22009 opened #21936 "highlight updates when components render"
### Website or app

-

### Repro steps

I switch on highlight updates when components render.
Use memo with function component, but when main element of component is Fragment, extensions doesn't show highlight. But when I change to another element, for example div, highlight is occurs. But console doesn't show that child component is reload.

### How often does this bug happen?

Every time

### De

[2021-07-21 20:53] #21936 closed

[2021-07-21 21:02] ko22009 opened #21937 "[DevTools Bug]: highlight updates when components render"
### Website or app

https://codesandbox.io/s/admiring-fermi-4cz6p?file=/src/App.js

### Repro steps

I switch on highlight updates when components render.
Use memo with function component, but when main element of component is Fragment, extensions doesn't show highlight. But when I change to another element, for example div, highlight is occurs. But console doesn't show that child component is rel

[2021-07-21 21:03] #21937 closed

[2021-07-21 21:06] majidmadadi commented on #14810
My question is why react doesn't couse any render when we set and initial value to setState() function? Consider the following function:
`function Test() {
    const [id, setId] = useState(1);
    console.log("rendering...");
    return <button onClick={() => setId(1)}>Click</button>;
}
`
It doesn't render when we click the button. According to your answer it should cause a render by the first cli

[2021-07-21 21:06] MaxmaxmaximusAWS commented on #21903
@bvaughn Why don't we increase the level of abstraction and convenience, and not just use a closure to store the variables needed for cleaning, This is my suggestion =)

[2021-07-21 23:12] bahrus commented on #11347
The modified proposal Option 2.SubOption2.NoRemoval does sound better to me than Option 2.SubOption 3.  I agree no to removing  attributes (with a probably wrong caveat below).   It might be a little better than the Preact solution, but...

My concerns are:

- How much of a performance impact does it add by adding all these upgrade listeners?  Why wait for the upgrade?  Why not just pass in the va

[2021-07-22 01:08] josepharhar commented on #11347
I apologize for making this confusing - you're referring to assigning into properties on upgrade or hydration, right?

Great question

We can't use the attribute vs property heuristic until the custom element is upgraded

Could you link to this?

Right, which is why we have determined that we should continue to be setting HTML attributes in SSR and before upgrade

If we pass in properties immediat

[2021-07-22 02:08] mrdulin commented on #21933
@bvaughn Thanks for the reply. Can I understand that React needs to maintain a kind of "virtual" node to maintain the relationship between the component tree nodes, but reflected on the DOM node, the removed node must not exist on the DOM tree .

[2021-07-22 02:28] bahrus commented on #11347
I guess I question the premise for this.

1.  Web components that [follow best practices](https://developers.google.com/web/fundamentals/web-components/best-practices#lazy-properties) do **not** require upgrading before assigning into properties, on the client.  Are we on the same page there?
2. On the client, Preact only has to wait for the upgrade, because Preact doesn't "own" JSX, hence couldn'

[2021-07-22 04:30] execptionerror commented on #20091
[[Solved] DevTools failed to load SourceMap: Could not load content for chrome-extension [ 3 Working Solution ]](https://exerror.com/devtools-failed-to-load-sourcemap-could-not-load-content-for-chrome-extension/)

[2021-07-22 09:48] eps1lon opened #21939 "DevTools: Order of higher-order component badges"
Given

[code]

-- https://codesandbox.io/s/little-sky-y8h1b?file=/src/App.js

I would expect that the badges from the display name are prioritized in the component tree.
However, devtools currently displays the `ForwardRef` badge first:

![Screenshot from 2021-07-22 11-44-32](https://user-images.githubusercontent.com/12292047/126619858-20b3747b-8723-4306-b5b0-13457d8f45e2.png)

Oddly enough, the i

[2021-07-22 09:55] benvds commented on #11488
Thx all!

This is what I ended up using in typescript:

[code]

[2021-07-22 11:33] Terry-Su commented on #14361
@nprasath002 @gaearon @others-who-meet-same-problem  I struggled with this question for long time before, finally approached debugging splitted files in a different way: https://github.com/Terry-Su/debug-react-source-code. Hope this helps.

[2021-07-22 12:24] Findiglay commented on #11996
I think a temporary list of elements is a valid use case here. Symbol would work well for this since it is guaranteed to be unique.

[2021-07-22 15:08] effulgentsia commented on #11347
Sorry if this was discussed already, but I don't see it from a quick skim...

According to https://custom-elements-everywhere.com/, Preact's approach distinguishes between a data value that's an object or array from a data value that's a primitive. For the former, it always passes as a property (so on SSR: not rendered as an attribute and instead hydrated as a property on the client), which means

[2021-07-22 15:21] bahrus commented on #11347
The significant con is for custom elements that are loaded asynchronously, if the component only renders once, and the component hasn't been upgraded yet, the value is passed in as an attribute string.

Option 2.SubOption2.NoRemoval does, I think, improve this (hooray!) by waiting for the upgrade, with few, if any, downsides that I can see.  The only downside might be the performance costs of the

[2021-07-22 16:57] bvaughn commented on #21939
Just an FYI, the `HocBadges` component (the one that displays badges for the inspected component, in the right panel) just iterates over the list of display names:
https://github.com/facebook/react/blob/ae5d26154b1e206774533a8313221d309f273090/packages/react-devtools-shared/src/devtools/views/Components/HocBadges.js#L26-L35

This list of names is calculated using this helper util which first parse

[2021-07-22 17:15] bahrus commented on #11347
Preact (and I think React) works fine with primitive string values.  But imagine working with a chart, that needs either JSON attributes, or object properties passed in.  I think that's what this whole RFC is about.  I should have spelled that out in my brief summary.

[2021-07-22 17:21] biels commented on #20141
Apparently, this issue is still present in React 17.0.2

[2021-07-22 17:32] effulgentsia commented on #11347
On https://custom-elements-everywhere.com/, it says:

Is that incorrect?

[2021-07-22 17:36] bahrus commented on #11347
That statement is correct, but the key word there is "If".  For unknown elements still awaiting the download of the JS needed to register the custom element, Preact seems no property already defined, and assume it is an attribute, and sets that attribute to "[Object object]", so the custom element has no data to work with when it upgrades, at least until the next render.

[2021-07-22 17:44] effulgentsia commented on #11347
I meant the part that says:

[2021-07-22 17:44] BobrImperator commented on #7740
Just stumbled upon this, my solution for this was to not use react-test-renderer, but `render` from `@testing-library/react`

[code]

Shoutout to https://www.leighhalliday.com/introduction-react-testing-library where I was able to find this API for generating snapshots.

[2021-07-22 17:50] bahrus commented on #11347
Yeah, that is definitely not what it did when I worked with it (version 8).  I have not checked version 10, but I assume from the discussions and @josepharhar's findings, that it is still the case, and that that sentence is inaccurate.  Let me review @josepharhar's findings again...

[2021-07-22 17:58] bahrus commented on #11347
Good point @effulgentsia, @josepharhar, can you confirm whether that statement is accurate or not?  Does Preact now always assume anything that isn't a primitive should be assigned as a property, on the client?

[2021-07-22 18:03] bahrus commented on #11347
https://preactjs.com/guide/v10/web-components/

[2021-07-22 18:15] bahrus commented on #11347
Assuming complex objects are properties on the client actually makes good sense.  I do wonder why Preact didn't adopt that rule (which I'm maybe 90% confident now they didn't).

[2021-07-22 18:58] ConradSollitt commented on #11347
@effulgentsia

Here is an example:

https://www.dataformsjs.com/examples/web-components-with-react.htm#/data

Both the data page and image gallery do something similar. A `<json-data>` component asynchronously downloads data from a JSON service after being created from React and then they use a `value` property to pass data from the JSON service to a child Custom Element. In this case a `<data-tab

[2021-07-22 19:42] ConradSollitt commented on #11347
@effulgentsia

Here is another demo for your earlier question:
https://codepen.io/conrad-sollitt/pen/yLbzraj?editors=1000

See comments at top of the HTML. You can switch between React and Preact by commenting/un-commenting the library you want to test.

The `<data-table>` is populated by setting the `value` property. Both React and Preact work when using refs and manually setting the value howeve

[2021-07-22 19:48] itsez opened #21942 "Bug: Conditional rendering issue when using multiple SVGs as ReactComponents"
React version: 16.12.0

## Steps To Reproduce

1. import multiple SVGs as ReactComponents into a component
2. setup conditional rendering of those components via prop value
3. render multiple of the component on a page with different prop values
4. observe the first render of the SVG being repeated

Link to code example:
https://gist.github.com/itsez/9f99ae3f1fd156c9c995b494a4148d48

## The curren

[2021-07-22 20:08] josepharhar commented on #11347
Thanks for the link! Based on [@matthewp’s comment](https://github.com/facebook/react/issues/11347#issuecomment-879911564), it sounds like this is an issue people might still run into…
Also, I still don’t see how we would ever be setting properties instead of attributes before upgrading with what is on the table.

I hear your interest in declaratively differentiating between attributes and propert

[2021-07-22 20:23] ConradSollitt commented on #11347
@effulgentsia Opps, should have paid attention to the **primitives** part.

Just checked my code and from the first demo I have a `<markdown-content>` component. https://www.dataformsjs.com/examples/web-components-with-react.htm#/markdown

It has the following API:

* value: string  **Properties only - not included as an HTML attribute so this matches your condition**
* url: string (both JS Prop a

[2021-07-22 20:27] josepharhar commented on #11347
This sounds promising... assuming the custom element doesn't suffer from this probem: https://github.com/facebook/react/issues/11347#issuecomment-879911564

Let me see if I understand correctly:
condition|assign to attribute or property?
---|---
not upgraded or SSR, value is object/array/function | property (or nothing if SSR)
not upgraded or SSR, value is string/number | attribute
upgraded, value

[2021-07-22 20:33] ConradSollitt commented on #11347
@josepharhar Take a look at the comment right above your last one: https://github.com/facebook/react/issues/11347#issuecomment-885208426

In the example I pass a string/primitive but don't include it as an HTML attribute. Reason being I felt it made more sense to support inline markdown rather than passing it as an HTML property.

Of course though being the author of the component if either React

[2021-07-22 20:44] josepharhar commented on #11347
Unless I missed something someone said, I don't think that *always* using attributes instead of properties for primitive types is on the table...

[2021-07-22 20:45] Ayc0 opened #21943 "Bug: additional outline is added to SVG nodes when used as root node in React 17"
React version: 17.0.2

## Steps To Reproduce

1. Use an SVG as a root node for ReactDOM.render (I managed to reproduce when `<svg>` and `<g>` where used as the root node)
2. Click on the rendered SVG and you'll see that an outline is added to the root node in React 17
3. Try the same thing in React 16 and you won't see any outline

Link to code example with React 17: https://mtpqc.csb.app/
Link to

[2021-07-22 21:01] ConradSollitt commented on #11347
Yeah, looks that way. If it were it would be a someone quick fix for Web Component authors that support React and Preact.

[2021-07-22 22:37] Ayc0 commented on #21931
I agree that this would be nice indeed.

At the moment, when I need to be able to retrieve dynamically the current state, I'm doing things like:

[code]

which isn't safe for concurrent mode, but setting the ref in `useEffect` doesn't work if the callback is called synchronously.

And sometimes, I'm also doing:

[code]

but this is kinda weird and breaks the flow of the code (and can trigger re-re

[2021-07-23 02:16] 0xdevalias commented on #14361
I haven't looked too deeply into this, so not sure if they are covering the same use cases, but for the "Remove 'use strict' from individual source files" I came across the following when googling:

- https://stackoverflow.com/questions/42378674/how-to-remove-use-strict-from-rollup-bundle-processed-by-babel
  - https://rollupjs.org/guide/en/#outputstrict
- https://babeljs.io/docs/en/babel-plugin-t

[2021-07-23 03:04] bahrus commented on #11347
Also, I still don’t see how we would ever be setting properties instead of attributes before upgrading with what is on the table.

I think what @matthewp  was saying wasn't too far off from your summary, but a shade different.  There are somewhat esoteric ways to make web components upgrade properly, but they do upgrade properly if sufficient care is taken, and  that's the responsibility of the we

[2021-07-23 06:46] NishantChandla commented on #21900
@houssemchebeb Is this issue up for grabs?

[2021-07-23 07:07] eps1lon commented on #21943
Thanks for the report.

The outline on click is added because the `svg` is focused on click. This only happens if the browser considers the `svg` focusable. It seems like Chrome considers an `svg` focusable if it has a `focus` handler which is allowed by spec:

-- https://svgwg.org/svg2-draft/single-page.html#interact-Focus

This is an expected change in React 17 where event handlers are now attac

[2021-07-23 07:44] Ayc0 commented on #21943
I cannot change this in the codebase I'm working on 😅

As a workaround, I added `outline: none` to the SVG / SVG node used as the root (it doesn't avoid the element being focusable but it hides the outline)

[2021-07-23 07:56] Ayc0 commented on #21943
I did some other researches and setting both `focusable="false"` and `tabindex="-1"` seems to fix the fact that the element is focusable, but it doesn't remove the outline on click: https://if7q2.csb.app/

[2021-07-23 08:17] eps1lon commented on #21939
I've thought about this more and the order does make sense generally e.g. `styled(connected(fancy(logged(Component))))` should display as `Component Styled Connected Fancy Logged`

I think my issue is more that `ForwardRef` and `memo` are displayed even though I've set an explicit `displayName`. Conceptually in
[code]
the `forwardRef` is part of `styled`. So they're not independent higher-order co

[2021-07-23 08:19] jasonwilliams commented on #20186
That’s great research thanks @0xdevalias
I’ll do a PR of what I have so far and maybe some can jump on that and help.

it’s good news that use strict removal is built in, that’s one plugin that can go. Google closure compiler can go. It’s possible esbuild could replace both Babel and minification but that increases scope by quite a bit so I think for now I’ll keep Babel and use terser. Secondly sp

[2021-07-23 08:19] eps1lon commented on #21943
`tabIndex="-1"` removes it from the tab order. It's still focusable though which is why you see the outline:
![Screenshot from 2021-07-23 10-18-33](https://user-images.githubusercontent.com/12292047/126755341-5c1a77a4-4f44-4e83-9864-b0cd57fd376d.png)

(Notice that `document.activeElement` in the console points to `svg#root`)

[2021-07-23 11:14] houssemchebeb commented on #21900
@NishantChandla I am already working on this issue sorry

[2021-07-23 11:42] Ashwary-Jharbade opened #21944 "[DevTools Bug] Commit tree does not contain fiber "1422". This is a bug in React DevTools."
### Website or app

localhost:3000

### Repro steps

The bug appeared during the usage of react dev profiler tool while calling a route through react-router-dom
[mypwa.zip](https://github.com/facebook/react/files/6868451/mypwa.zip)

### How often does this bug happen?

Sometimes

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.14.0-d0ec283819

### E

[2021-07-23 11:42] #21944 closed

[2021-07-23 12:33] shivamnamdeo0101 commented on #21942
<div> {parseInt(place) === 1 ? ( <h1>1</h1> ) : parseInt(place) === 2 ? ( <h1>2</h1> ) : ( <h1>other</h1> )} </div>

You just have to use parseInt for type conversion try it

[2021-07-23 12:46] Regaddi commented on #18116
Here is a minimal reproduction demonstrating the issue on a `HTMLVideoElement`:

https://codesandbox.io/s/upbeat-butterfly-vchn2?file=/src/App.js

Using react and react-dom 17.0.2.

I was testing in Chrome 92.0.4515.107 on macOS Big Sur 11.4 (20F71).

[2021-07-23 13:26] bvaughn commented on #21939
That's an interesting POV.

Seems like a pretty compelling argument. Want to post a PR?

[2021-07-23 14:02] apenab opened #21945 "[DevTools Bug] Could not inspect element with id "3824""
### Website or app

Local website

### Repro steps

Open some component that use the hook `useQuery` of react-query package.

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.14.0-d0ec283819

### Error message (automated)

Could not inspect element with id "3824"

### Error call stack (automated)

_No

[2021-07-23 14:03] #21945 closed

[2021-07-23 19:01] Ayc0 commented on #21943
Indeed

[2021-07-23 19:35] jasonwilliams commented on #20186
PR added: https://github.com/facebook/react/pull/21946

I feel its close, but one of the plugins `renderChunk` needs looking at. And i don't understand why some production builds have `shouldStayReadable` set. So it gets minified then re-beautified by prettier. This seems odd to me but im sure there's logic to it somewhere. I don't think sourcemaps for these builds are needed if the output is alre

[2021-07-23 21:39] bahrus commented on #11347
It seems to React should be extra motivated to provide a solution that accommodates web components that use dashes in their attribute names -- being that at least one member of the team thinks all non global attributes should have dashes.  Right?

[2021-07-23 23:22] ConradSollitt commented on #11347
@bahrus
Do you know of a scenario where dashes do not work with attribute names for React with Web Components? I am not a team member or employee of FB but since I author Web Components (and React Components) I'm interested in the issue and if there are problems I'm unaware of. The demo from my earlier comment https://github.com/facebook/react/issues/11347#issuecomment-885157069 uses React (Preact

[2021-07-24 05:46] markerikson commented on #21939
Yeah, I'd echo this.  For libs like these, `forwardRef` is an implementation detail of the actual HOC, not a primary aspect by itself.  Checking for a `displayName` seems like a reasonable way to figure that out.

(technically `connect` doesn't actually add a `forwardRef` unless users specifically opt into that by passing an option, but close enough)

[2021-07-24 05:48] Rajan-Savaliya-spt commented on #15156
## This is not working when my context state is global level set, rerender still happed when context change

[2021-07-24 05:49] Rajan-Savaliya-spt commented on #15156
Also In Redux re-render problem not happen, so I change my state management ContextApi to Redux

[2021-07-24 05:50] Rajan-Savaliya-spt commented on #15156
Better Solution: Bigger Application use Redux

[2021-07-24 06:01] tgioer opened #21949 "Bug: When a cloneElement conditionally switches components, the onTouchMove is invalid"
React version: 17.0.2

[code]

Codesandbox：https://codesandbox.io/s/quiet-meadow-rfq1m

## The current behavior

When a cloneElement conditionally switches components, the onTouchMove is invalid

## The expected behavior

When a cloneElement conditionally switches components, the onTouchMove should work

[2021-07-24 06:54] AndrewChernoff commented on #13991
Hello. I got a problem here. Invalid hook call. But I haven't even used hooks. I don't know what to do. Please help me. It happens when I'm importing Provider from 'react-redux' and using connect, mapStateToProps, mapDispatchToProps. If I'm importing Provider from my file storeContext.js and not using connect, mapStateToProps, mapDispatchToProps, everything is fine.
https://github.com/AndrewCherno

[2021-07-24 07:37] eps1lon commented on #21939
That's how I see it as well.

My pleasure.

[2021-07-24 08:39] eps1lon commented on #21949
It doesn't look like this bug report has enough info for one of us to reproduce it.
It's unclear what it means for an event handler to be "invalid" ("the onTouchMove is invalid")

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflo

[2021-07-24 11:12] baalimago opened #21951 "Bug: 'SharedArrayBuffer' is not defined (using v^17.0.2)"
## Issue:

It says `'SharedArrayBuffer' is not defined` when attempting to run project using a shared array buffer

## How to recreate:

1. `npx create-react-app test-project`
2. In App.js, add function `const test = () => { const b = new SharedArrayBuffer(1024); }`
3. Attempt to start app
4. Expect:
![image](https://user-images.githubusercontent.com/21121209/126866551-520287c6-3355-4f28-816b-0a7a

[2021-07-24 11:19] eps1lon commented on #21951
Thanks for the feedback.

This lint error originates from `react-scripts` which is released from [facebook/create-react-app](https://github.com/facebook/create-react-app). You want to [open a new issue in their repository](https://github.com/facebook/create-react-app/issues/new/choose)

[2021-07-24 11:19] #21951 closed

[2021-07-24 17:03] Mtucker89 opened #21954 "Tracking me"
https://github.com/facebook/react/blob/95feb0e701a5ae20996e8cc6c4acd0f504d5985a/.codesandbox/ci.json#L6

[2021-07-24 19:44] Nazeeh21 commented on #20966
If this issue still persists then I would like to work on this.

[2021-07-24 20:13] Nazeeh21 commented on #1355
I have been reading all the comments on this issue. So far, I understood that `onTouchMove`/`onTouchEnd` events should be bind to the `onTouchStart` event.  If I got it correctly I would like to give it a try to fix this issue.

[2021-07-24 21:18] Eliav2 commented on #21930
[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io/#https://github.com/Eliav2/react-xarrows/blob/dev-dev/examples/src/index.jsx)

I've reproduced simple example with logs on special branch. you can see the second render reads the wrong position from dom and overwrite the correct value of the first render. this occurs only on StrictMode and does not even relate to th

[2021-07-24 21:59] anushaNemilidinne commented on #21827
Hello! is anyone working on this issue? Been using React for almost 2 years and I always wanted to contribute to this open source project.

[2021-07-24 22:17] Eliav2 commented on #21930
after repetitive tests, I found out what exactly is the cause, and I still insist this is not expected, please read carefully:

**First I will use the next 2 terms**
- update call - execution of the function body(no effects)
- render cycle - update call and following effects

**2 very important notes:**
 - Calling state hook from effect(like useEffect or useLayoutEffect) will cause React to schedu

[2021-07-24 22:49] Eliav2 opened #21956 "Bug: React StrictMode takes not updated state value from first update on second update of strictmode"
copy and edited from https://github.com/facebook/react/issues/21930#issuecomment-886117564

**I will use the next 2 terms**
- update call - execution of the function body(no effects)
- render cycle - update(s) call and following effects

**2 very important notes:**
 - Calling state hook from effect(like useEffect or useLayoutEffect) will cause React to schedule another render.
- Calling state hook

[2021-07-24 23:51] Izhaki commented on #21912
I'm pretty sure that [the original `userInterval` code](https://overreacted.io/making-setinterval-declarative-with-react-hooks/) is buggy.

The following is ultimately a summary of all the contributions by others in [my SO question](https://stackoverflow.com/q/68407187/1179377).

# Render Phase Callbacks

[code]

`onInterval` in this example will only be the "correct" callback after the DOM has be

[2021-07-25 02:44] Rujal-Duwal opened #21957 "React Hooks"
I am really liking these React Hooks. It is easy and clean as mentioned in Hooks Intro. I like to make sure if I can make a career only on React.

[2021-07-25 03:29] Jack-Works commented on #20417
If anyone using `react-refresh-typescript` (instead of `react-refresh/babel`) and having this problem, please cc me. Thanks!

[2021-07-25 04:22] eps1lon commented on #21949
Duplicate of https://github.com/facebook/react/issues/1355

[2021-07-25 04:22] #21949 closed

[2021-07-25 04:29] #21954 closed

[2021-07-25 11:47] vkurchatkin commented on #21956
This is neither a bug nor a limitation. This block of code violates some important rules:

[code]

1. You read a mutable value during render (ref value)
2. You perform side effects in render (calling state setter and mutating the ref)

StrictMode is just doing its job and highlights these issues

[2021-07-25 11:51] bahrus commented on #11347
@ConradSollitt

I think possibly that where we are at this point, Option2.SubOption2.NoRemove, to some degree we are moving on from "does not work" to the question of  "does it work really well?"

@josepharhar's comment:

...leads me to believe we have an issue, where things may "work", but if you force your browser to throttle things and play things in very slow motion, I think there may be some

[2021-07-25 12:01] bahrus commented on #11347
I should add, it _might_ be possible to solve the issue of compoundName properties pairing with dashes in attribute names with Option2, **if** JSX makes some assumptions, does a little fishing around for the corresponding attribute name, or something.  But that should be spelled out.

[2021-07-25 12:30] Eliav2 commented on #21956
can you please provide a reference to the docs that shows this is a rule violation, and alternative approaches?

[2021-07-25 13:46] Eliav2 commented on #21956
I want to discuss the example on the [docs](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects):

this example talks about inconsistently of event that if you would fire more then once will cause to unexpected results, while in my case the there is no inconsistency because I rely on a constant and consistent lifecycle. My app would work if React.StrictMode would take into

[2021-07-25 13:55] Izhaki commented on #21912
I reckon this issue should move to https://github.com/gaearon/overreacted.io/issues and be re-opened there.

[2021-07-25 14:03] gmoniava commented on #21912
@Izhaki I didn't know that repo existed, yeah it should be moved there. But since this issue is closed maybe it is better you open a new one there?

[2021-07-25 14:57] taejs commented on #16416
A reason
- When renderToString(), renderToStaticMarkup() is triggered, new ReactPartialRenderer is initialized.
- Hooks execute the parameter, if the parameter is a function.

Look at the code that occurs this error, the ReactPartialRenderer is already initialized to render <RichText/>. https://github.com/facebook/react/issues/16416#issue-481517156. But useMemo Hook call processLink() -> renderToS

[2021-07-25 16:12] Aqsa48 commented on #4745
Thankyou it also worked for me with same peolem

[2021-07-25 18:23] effulgentsia commented on #11347
For some background to @bahrus's [comment](#issuecomment-886190333), part of the challenge with respect to whether multiword attribute names have dashes or not comes from inconsistencies within HTML itself as well as across web component helper libraries. For example:

- HTML's attribute for the `contentEditable` property is `contenteditable` while its attribute for the `acceptCharset` property is

[2021-07-25 20:09] pythonmaxi opened #21959 "Bug: Can't render ReactElement in <select> <option>"
I am trying to make my own Locale system in React, locales will be used as `<LocaleComponent l={localeKey} />`.
The problem is that the current locale is set through a `context` named `LocaleContext`, since I can't use that context in each of my components, I created the `<LocaleComponent />` component.
This system works perfectly but I found out that you can't render `<LocaleComponent />` inside

[2021-07-25 20:54] shouravrahman commented on #13991
I cloned a repo and installed all dependencies directly from terminal and everything worked except for useHistory and  useDispatch,it throwed the invalid hook call error.however I re-installed react-router-dom directly from VS code's terminal and now it seems to be working fine.

[2021-07-25 23:52] kevinjuanjacque commented on #17218
I had the same problem deactivating translator, I solve my error

[2021-07-26 07:40] aplaskota commented on #21959
@pythonmaxi I think the quick solution might be to just return `<option>` tag inside component instead of string
`
function TestComponent() {
  return <option>FooBar</option>;
}
`

[2021-07-26 08:09] jordyvandomselaar commented on #20966
@Nazeeh21 have you tried running the tests in https://github.com/facebook/react/pull/20985?

[2021-07-26 08:26] manishsainju opened #21961 "[DevTools Bug] Could not inspect element with id "175""
### Website or app

localhost:4000

### Repro steps

Just simple react app

### How often does this bug happen?

Often

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.14.0-d0ec283819

### Error message (automated)

Could not inspect element with id "175"

### Error call stack (automated)

_No response_

### Error component stack (automated)

[code]

[2021-07-26 08:26] #21961 closed

[2021-07-26 08:28] eps1lon opened #21962 "React 18: Display release date before relase commit in alpha releases"
Using `alpha` as an example the version is generated as `18.0.0-alpha-$COMMIT_SHA-$RELEASE_DATE` (https://github.com/eps1lon/react/blob/355591add41c0f6dad738fdb1b6603e0786b7b4e/scripts/release/utils.js#L78-L80).

Could we display the `$RELASE_DATE` before the `$COMMIT_SHA` so that sorting the versions like SemVer would (every part separated by a dash is sorted alphanumerically) is useful (sorting

[2021-07-26 09:31] gmoniava commented on #21912
@Izhaki Yeah, it should go there. Will you open the new issue, or shall I do it?

[2021-07-26 09:46] Izhaki commented on #21912
Owners of this repo should have an option to "Move issue". Guess if it Ain't done in the next 48 hours we should just open a new one there. I don't mind doing it.

[2021-07-26 10:27] ArmorDarks commented on #14587
Here's a case where it's impacting performance https://github.com/facebook/react/issues/21847

[2021-07-26 10:28] ShahirZain commented on #21959
you can do this @pythonmaxi
![image](https://user-images.githubusercontent.com/30791669/126974727-083cabe5-3006-4d29-b26c-dd6e322b6874.png)

[2021-07-26 10:52] Nazeeh21 commented on #20966
No, I haven't tried that. I have just tried the tests mentioned in this issue.

[2021-07-26 10:56] mustafacanp commented on #13991
Removing the `source` from `package.json` fixed the issue for me.

[2021-07-26 11:28] gaearon commented on #21959
This is fixed in 18 Alpha but there are no plans to backport to 17. Sorry for the trouble! For now you’ll have to work around it.

[2021-07-26 11:28] #21959 closed

[2021-07-26 11:41] Shaegi opened #21963 "Bug: Number increases twice with set-Callback"
When trying to update an Object with a number within, there seems to be a bug where when I first add and then spread I will receive a wrong number.

React version: 17.0.2

## Steps To Reproduce

1. create useState with Object with Number inside
2. create set-Callback
3. mutate prevState directly
4. Spread on return

Link to code example: https://codesandbox.io/s/nice-flower-3783g?file=/src/App.js

[2021-07-26 12:24] vasilev-alex commented on #13991
I tried all of the suggested solutions but none worked for me. I've created a simple library and build using Webpack https://github.com/vasilev-alex/webpack-example

As soon, as I import a React hook in my library and use it in my App I see the following error

[code]

I link my library (`webpack-example`) using  the app's package.json
[code]

I ensure that I have only one copy of React by tweakin

[2021-07-26 13:19] bvaughn commented on #21912
This option only works for other projects within the same org (facebook). The repo you mentioning above is not a part of the facebook org.

[2021-07-26 13:35] bvaughn commented on #21939
I think the linked PR isn't quite what I thought we'd settled on in the discussion above.

I don't think we should change e.g. memo from a badge (`Component [memo]`) to a wrapper string (`Memo(Component)`). I think we should stick with the badge, _except_ for when a `displayName` is specified, in which case we should use it instead.

I think the comparison to `packages/shared/getComponentNameFromT

[2021-07-26 13:47] bvaughn commented on #21827
So far as I know, there is no open PR for this so it's still up for grabs.

[2021-07-26 13:56] eps1lon commented on #21939
That was the goal of the PR. I think it's just not immediately obvious that that's the change. But we can discuss this in the PR.

The problem is that these things can usually be mapped onto another. And how each treats `memo`/`forwardRef` right now makes the mapping harder than it could be.

For library authors maybe but then we could always add the `memo(...)` ourselves.

Though I wouldn't mind

[2021-07-26 13:58] vkurchatkin commented on #21963
Well, you shouldn't "mutate prevState directly". That's what causes the problem

[2021-07-26 13:59] bvaughn commented on #21939
I think it could be useful info for more than just library authors (e.g. a "memo" indicator would explain why a component isn't re-rendering when things around it are). Probably not useful enough to be in the main tree view, but in the inspected panel on the side?

I think we could use the same visual area, but just style the memo/forwardRef badges differently (different color).

[2021-07-26 14:05] bvaughn commented on #21962
I think a goal of this format was for people _not_ to try using ^ for any meaningful purpose wrt version ranges (so the non-linear "sort" was a benefit).

This is a solid point, although shouldn't it just be possible to specify the "alpha" tag and let NPM figure out which is the latest during install?

[2021-07-26 14:13] #21957 closed

[2021-07-26 14:14] bvaughn commented on #21963
This code should not be doing what it's doing:
[code]

State updaters should always return a _new_ state, not mutate the old one.

[2021-07-26 14:15] bvaughn commented on #21963
I'm going to close this issue since it seems like a question that's now been answered

[2021-07-26 14:15] #21963 closed

[2021-07-26 14:22] eps1lon commented on #21962
Yeah, makes sense. Though I do find the reasons more compelling for the `0.0.0` release lines not the ones where we already settled on the major number e.g. `^17.0.0-alpha` or `^18.0.0-alpha`.

This works if you really want to use the latest. But for repros you do want to use an exact version. codesandbox is probably in a better situation to auto-select the exact version when opening the dropdown

[2021-07-26 14:30] eps1lon commented on #21962
Closing in favor of https://github.com/codesandbox/codesandbox-client/issues/5993

[2021-07-26 14:30] #21962 closed

[2021-07-26 14:56] kkragoth commented on #21827
I'm little nervous to start PR, but I found out I have some questions that maybe other joining contributors and someone later assigned to issue might ask.

I'v very new to this project so I thought the best place to start is with KeyValue file (edited in PR).

I have some questions that I think will be useful for anyone starting work with this issue being new to project
- is this the correct place

[2021-07-26 14:58] bvaughn commented on #21827
DevTools already has this feature built-in. Sometimes props can be edited (e.g. if you're using a DEV build of React) and sometimes not. We shouldn't _change_ that for this feature. My point was just that links should not be clickable _when props are editable_ because that would break the editing experience.

[2021-07-26 15:09] Shaegi commented on #21963
In all 3 cases a new object will be returned, it seems pretty weird that the order of creating the new object matters aspecially because all updaters are only called once. So how does the +2 happen instead of +1, which ist still not explained. Even thi i know its indeed bad practise to update the state value it should be an issue do to so IMO and seems to be unintuitive for new users and just stra

[2021-07-26 15:27] Shaegi commented on #21963
Okay, thanks for the explaination. Haven't read concurrent mode up yet, so I didn't know about the second "silent" render.
Even as someone who uses react for the last 3 years this seams quite harsh to understand whats going on.
Still Mystery solved.
I'd still suggest some kind of warning/error beeing thrown in a case like this because it seems like it can be easly overlooked.

[2021-07-26 15:29] bvaughn commented on #21963
We are working on both React and DevTools to make this (double render) more discoverable and less confusing. (See #21889 and #21890)

[2021-07-26 15:40] kkragoth commented on #21827
I understand and never broke editing experience.

I only had no idea how to start devtools where props can't be modified since I've been only using DEV builds, and now after your comment I know I should've been using production builds. The code I supplied works if props can't be modified then display it as link but if it's editable then nothing changes.

[2021-07-26 15:43] gamevnlc opened #21965 "[DevTools Bug] Could not inspect element with id "18""
### Website or app

Localhost

### Repro steps

Enable dev tools and click on components tab

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.14.0-d0ec283819

### Error message (automated)

Could not inspect element with id "18"

### Error call stack (automated)

_No response_

### Error component sta

[2021-07-26 15:44] #21965 closed

[2021-07-26 16:52] jonaldinger commented on #13991
My issue wound up being an old `node_modules` directory installed locally. We had previously moved our `node_modules` dir from a nested directory into the project root. So fresh copies of the repo worked fine, but the hooks error was present for any devs who hadn't manually deleted the original nested `node_modules` directory locally - this was causing two versions of React to be resolved, but thi

[2021-07-26 16:55] bvaughn commented on #21827
That seems right then. (Though I suggest using `color: var(--color-link);` for those styled links to make them fit the theme right.

[2021-07-27 02:15] dknam commented on #12247
thanks

[2021-07-27 10:09] pythonmaxi commented on #21959
OK, thanks for the help and info.

[2021-07-27 11:57] marckassay commented on #20091
Suspicious post, by a suspicious "user": https://github.com/facebook/react/issues/20091#issuecomment-884649559

[2021-07-27 17:36] power-f-GOD commented on #15446
So, here's a workaround that works (for me)!

[code]

[2021-07-27 18:34] rileyjshaw opened #21972 "Bug: `onResize` media event is missing"
Note: I’m happy to make a pull request to fix this, I just wanted to log it first to ensure there’s interest.

---

React’s [synthetic media events](https://reactjs.org/docs/events.html#media-events) contain several [existing media events](https://html.spec.whatwg.org/multipage/media.html#mediaevents), for instance `onLoadedMetadata` and `onVolumeChange`. But there is no `onResize` handler.

[`res

[2021-07-27 21:02] rickhanlonii opened #21974 "[DevTools Bug]: StrictMode not shown in component tree"
### Website or app

https://codesandbox.io/s/objective-lehmann-u2jn4?file=/src/App.js

### Repro steps

- Open React devtools in codesandbox
- See that there's no StrictMode in the tree any more

<img width="1463" alt="Screen Shot 2021-07-27 at 4 56 17 PM" src="https://user-images.githubusercontent.com/2440089/127226919-bad27090-db61-45eb-8133-ed701e411d3b.png">

### How often does this bug happen

[2021-07-27 21:04] rickhanlonii commented on #21974
Verified that the StrictMode component is being rendered to rule out any weirdness:

<img width="1465" alt="Screen Shot 2021-07-27 at 5 04 17 PM" src="https://user-images.githubusercontent.com/2440089/127227263-14ac2b72-be09-4ad6-99b2-8ba8e49e5d49.png">

[2021-07-27 21:09] blwinters commented on #15375
In my case, also for an RN We project, the issue was using `styled()` on an imported component that was already styled. However, doing the inheritance within the same file didn't cause an error. I suspect that when they are in separate files it uses a string to set the style prop or it applies an array of styles, as discussed above.

[2021-07-27 23:03] josepharhar commented on #11347
Thanks for the feedback!

I don't have any feedback about the "valueState" vs "value-state" problem right now.

I'd like to bring up another topic: **custom event listeners**.

Preact currently implements event listeners by [doing this](https://github.com/josepharhar/react/blob/042a322862277becb6bd1f2fea3fd75c04174b7a/packages/react-dom/src/client/DOMPropertyOperations.js#L146-L164):
- Any JSX att

[2021-07-28 04:41] wereHamster commented on #18769
It's really unfortunate that this isn't supported. Sometimes it's not worth it offloading a bit of self-contained logic into a standalone function and naming it. Unfortunately the [«do expression» proposal](https://github.com/tc39/proposal-do-expressions) (which would make this kind of blocks-of-self-contained-logic easily accessible in the language) is not gaining any traction.

And so I'm left w

[2021-07-28 04:54] zoeycj opened #21977 "[DevTools Bug] Could not inspect element with id "333""
### Website or app

http://localhost:3000

### Repro steps

F12

### How often does this bug happen?

Only once

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.14.0-d0ec283819

### Error message (automated)

Could not inspect element with id "333"

### Error call stack (automated)

_No response_

### Error component stack (automated)

[code]

### G

[2021-07-28 04:55] #21977 closed

[2021-07-28 07:26] JustynaOlszewska opened #21978 "[DevTools Bug] Commit tree does not contain fiber "191". This is a bug in React DevTools."
### Website or app

localhost:3000

### Repro steps

when I am in Profiler and then I am clicking.

### How often does this bug happen?

Often

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.14.0-d0ec283819

### Error message (automated)

Commit tree does not contain fiber "191". This is a bug in React DevTools.

### Error call stack (automated)

[

[2021-07-28 07:26] #21978 closed

[2021-07-28 08:18] Rafin31 opened #21979 "Bug: “operable program or batch file. error Command failed. Exit code: 1” while Installing React with yarn"
![Y0YLn](https://user-images.githubusercontent.com/65537019/127288813-298c8b60-3fc2-4777-9e29-8cb3f7721b7d.png)

I was installing react with yarn. but it shows me an error "operable program or batch file. error Command failed. Exit code: 1". I tried yarn upgrade and yarn install. but still, yarn is not installing react. Also, I tried to install react with npm. but still doesn't work

My yarn Versi

[2021-07-28 12:54] sspku-yqLiu opened #21980 "Bug: onclick will not work when i import bundle.js twice"
Hi, I just had an interesting situation. I wrote the index.html like this.

[code]

However, I forget I have used html-webpack-plugin to import bundle.js too. As a result, I import bundle.js twice.

During this time, I find all Javascript doesnt work. For example, if the button should log something, it doesnt.

the bundle.js is the output of webpack, so it contains react.js and react-dom

I just r

[2021-07-28 14:53] enjoy-wind opened #21981 "Question: React supports performance answers。"
React version:
15.7
## Steps To Reproduce
Does React have a performance bottleneck on the CPU 2G GPU 70M virtual machine for building large and complex WEB applications?
And the models of GPU and CPU are before 2010.
If you use React to develop large and complex applications, it is recommended to run it on what machine configuration.

Link to code example:

## The current behavior

## The expected

[2021-07-28 17:41] tokland commented on #20752
Some comment about what @nol13 pointed out? I am also confused with that implementation of `usePrevious`, I thought we were supposed to be returning `ref` (immutable) not `ref.current` (non-immutable).

[2021-07-28 19:56] bvaughn opened #21983 "Named Hooks: Support functionality for inline and standalone targets"
Named hooks is currently only enabled for DevTools browser extensions. This is because the source map parsing library (`'source-map'`) requires a WASM bundle to be supplied at runtime, and DevTools currently loads that using a browser API (`chrome.extension.getURL`):
https://github.com/facebook/react/blob/9f88b5355ba21e06e0a3c4442c5199de354ed1cf/packages/react-devtools-extensions/src/parseHookName

[2021-07-28 20:27] bahrus commented on #11347
My view:

- Name of the event should be the trimmed string between on and the ='s sign.  For example on¯\_(ツ)_/¯ = myEventHandler would do .addEventListener('¯\_(ツ)_/¯',  myEventHandler)
- If the value of the JSX attribute is a function, then treat it as an event handler.
- If the value of the JSX attribute is an array, and the first element of the array is a function, that function should be the

[2021-07-28 21:39] fbartho commented on #21983
I find myself surprised that WASM is at all involved with RN, but that probably just means I don't know how RN works at a deep enough level.

Despite this, I'm super interested in this feature for RN.

[2021-07-29 03:54] sspku-yqLiu commented on #21980
here is a demo for this:
![demo](https://user-images.githubusercontent.com/56879942/127428961-22e76eb6-d5d8-44d5-9ca4-873cb5cc167a.gif)

[2021-07-29 04:52] maraisr opened #21985 "React CM Mode (18) stacking app during hydrateRoot"
React version: 18.0.0-alpha-9f88b5355-20210728

## Steps To Reproduce

See repo https://github.com/maraisr/react-suspense-repro

Link to code example:

https://github.com/maraisr/react-suspense-repro

## The current behavior

react hydrateRoot is stacking dom trees

## The expected behavior

react hydrateRoot to not stack dom trees

[2021-07-29 05:13] subnomo opened #21986 "[DevTools Bug]: Component tree size too small, components can't be selected"
### Website or app

https://reactjs.org/

### Repro steps

1. Visit reactjs.org
2. Open devtools
3. Open "Components" tab

At first the component tree won't appear. Once I'm at the "Components" tab, I then have to also refresh the page to make the tree render. And when it does render, it still doesn't work properly.

As a note, this issue started happening after I had to forcibly restart my comput

[2021-07-29 05:41] eps1lon commented on #21979
Sorry to hear you're having trouble.

This is most likely not an issue with `react` but other packages that run scripts on install. Using powershell or git bash on windows instead might also fix the issue.

Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding

[2021-07-29 05:41] #21979 closed

[2021-07-29 05:45] maraisr commented on #16938
and broke again in v18 alpha — albeit slightly different error (https://github.com/facebook/react/issues/21985)

[2021-07-29 05:48] eps1lon commented on #21985
Thanks for the feedback.

On the server you're just rendering `<App />` (https://github.com/maraisr/react-suspense-repro/blob/main/server.jsx#L24) but on the client you're hydrating a different tree: `<Suspense><App /></Suspense>` (https://github.com/maraisr/react-suspense-repro/blob/4278aaa9d165a5394e70393f534347210a18c245/client.jsx#L12-L19).

This behavior isn't supported in React 16 as well. H

[2021-07-29 05:54] maraisr commented on #21985
the HTML trees is 100% identical, as Suspense on the server would do nothing? I can see there is a test for it here (https://github.com/facebook/react/blob/main/packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js#L417) perhaps the error is just lost?

[2021-07-29 06:21] eps1lon commented on #21985
HTML is not the important part here. The component trees should be the same.

`Suspense` on the server does something. It instructs React how it should orchestrate hydration on the client (e.g. prioritazion). https://github.com/reactwg/react-18/discussions/37 goes into more detail about how Suspense works on the server and affects hydration.

These are quite loaded terms so I wouldn't use them. I

[2021-07-29 06:28] theKashey commented on #21985
So the only way to “use” Suspense on the client after 16.10 is to provide a null fallback, ensuring that nothing will suspend during the initial hydration(ie matching server behaviour), allowing such operations only later.

This is working for 16 and 17, but not for 18 or just for CM. @maraisr can you clarify what constrain - react version or rendering mode - is causing double render?

[2021-07-29 06:32] maraisr commented on #21985
Im not piping, so there is no information being flushed to the client to tell it it had or didnt have a Suspense boundary.

If you Wrap in Suspense or not in the server (in fact if the react trees arre 100% identical as well), the producing HTML is 100% identical that repro repo attached demonstrates this. So still think this is a valid bug.

[2021-07-29 06:34] maraisr commented on #21985
Ah yeah i see;

[code]

There is special $ markings in the html for this. So does this mean that in 18, Suspense do occupy html nodes now as well albeit comments?

[2021-07-29 06:51] eps1lon commented on #21985
I think this is just an implementation detail that you shouldn't need to worry about. As long as you use the appropriate server rendering API and client side API and make sure the trees are the same, everything should work.

[2021-07-29 06:58] maraisr commented on #21985
From my repo above, is the apis appropriate?  Simply just trees not being the same being the issue? Can close this if that's the case? (Maybe just throw some errors in client??)

[2021-07-29 07:59] eps1lon commented on #21985
Yep 👍🏻

I would still like to get some input from a core member whether we still want to silently fail in React 18 or if we should add a dev-only warning similar to how we warn on hydration mismatches for HTML.

[2021-07-29 08:53] maraisr commented on #21985
Ya probably not the best thingy to stack dom in any case 😅

[2021-07-29 09:57] my-illusion commented on #21706
that's because when useEffect is triggered

[2021-07-29 10:15] alliuca commented on #20454
My dirty workaround, things seem to work fine on my M1 machine:

- Install Electron 11 globally `npm i -g electron@11.1.0`
- Install react-devtools without the binary download `ELECTRON_SKIP_BINARY_DOWNLOAD=1 npm i -g react-devtools@"<4.11.0"`
- Remove the existing `dist` folder and `path.txt` in the react-devtools electro module
  - `rm -rf $(dirname $(dirname $(which node)))/lib/node_modules/rea

[2021-07-29 10:37] iambryanhaney commented on #18769
@wereHamster The above example could compose decently with expression chaining...

[code]

If you need more complexity in a self-contained block, you could mimic the `do` expression proposal with your named IIFE...

[code]

I don't feel like that's any clunkier than an anonymous IIFE; it's arguably more self-descriptive.

[2021-07-29 10:38] popuguytheparrot commented on #16475
Tell me, is it fixed or not?

[2021-07-29 10:40] my-illusion commented on #21706
that's because when useEffect is triggered
when  your  setSomeState return false, it can't make component rendered, but in react's alternate Fiber Tree, it keeps references to variables a
function dispatchAction<S, A>(
  fiber: Fiber,
  queue: UpdateQueue<S, A>,
  action: A,
) {
  if (__DEV__) {
    if (typeof arguments[3] === 'function') {
      console.error(
        "State updates from the useS

[2021-07-29 12:48] bvaughn commented on #21983
WASM isn't involved with RN. WASM is used by the 'source-map' module, which DevTools runs internally to parse source maps.

If you'd like to work on this feature, please do! :)

[2021-07-29 13:12] lenzls opened #21987 "Bug: Bundle 16.14.0 does not include expected bugfix"
I was using React version 16.13.1, but wanted to benefit from #18676. The PR was merged in ffb6c6c07b1a6dcabd04b22a6a5afeab96d53ae2. So I upgraded to 16.14.0.

Sadly, the problem was still there for me. I dug a little deeper and realized that the new version does not include the expected changes from the PR.

- The changes are included on the v16.4.0 tag in the repository:  [Line 1030 in `ReactDOM

[2021-07-29 13:15] sebmarkbage commented on #21985
There should be a hydration error in dev mode. Is that not the case? If so that’s a bug.

It’s not a bug that it stacks the DOM node. It’s an unfortunate consequence of us needing some way to inject script tags and other extra nodes that might end up in the root as extra nodes. Currently the plan is to just live with it because it’s such an obvious error and only happens directly at the root so on

[2021-07-29 14:26] eps1lon commented on #21985
Seeing no error message when using `hydrateRoot`: https://codesandbox.io/s/jovial-cherry-2qxn3?file=/src/index.js

[2021-07-29 14:52] jordyvandomselaar commented on #20966
Ah, fair enough. In the PR I linked, I've tried to solve this issue, I'd love to hear your feedback if you have any =)

[2021-07-29 15:21] zorox-1 opened #21988 "Bug: Error: Cannot find module 'node-releases/data/processed/envs.json'"
Upon running `npx create-react-app my-app`, i get the following error:

[code]
any idea?
npm version: 7.20.2
node: v14.17.3

[2021-07-29 17:11] bvaughn commented on #21988
This is the React repo. It sounds like you're reporting an issue with create-react-app. Please report it in the create-react-app repository:
https://github.com/facebook/create-react-app/issues/

That repo is maintained by a different team of people.

Also, please search to see if the issue has already been opened before posting a new one.

[2021-07-29 17:11] #21988 closed

[2021-07-29 18:41] kosciolek opened #21989 "Bug: createPortal anywhere in the tree makes native events be ran too late"
## Summary
Native events added via `useEffect` are called too late (and with improper (new) state, rather than the state during listener attachment) if there's a `ReactDOM.createPortal` anywhere in the tree. First the effect is re-run and a new listener is attached, and only then the native event is called.

React version:
17.0.2

Link to code example:

[CodeSandbox](https://codesandbox.io/s/late-

[2021-07-29 19:04] saperdadsk opened #21991 "Bug: onMouseEnter behavior when mouse does not enter via boundary is inconsistent between browsers"
React version: 17.0.2

## Steps To Reproduce

1. Create two components Foo and Bar inside a parent Component, where Foo is positioned such that it covers Bar.
2. Add a onMouseEnter event handler to Bar
3. Add a click handler to Foo that will cause Foo to be removed when clicked
4. Click Foo
5. Mouse is now hovering over Bar

Link to code example:

https://codesandbox.io/s/tender-sun-i1ccy?file=/pu

[2021-07-29 19:22] kosciolek commented on #21956
@vkurchatkin

Does it mean you cannot do the following?

[code]
This is what I currently use, if I want to be notified of element mounts/unmounts.

[2021-07-29 19:26] kosciolek commented on #21989
Turns out, a portal is not needed.

Adding this to the described component causes the same bug (?)
[code]

[2021-07-29 19:39] kosciolek commented on #21989
However, changing it to `<div ref={setState} > </div>` makes it run just fine, with both the React handler and the native handler showing the same values.

Complete component code:
[code]

[2021-07-29 20:23] gabriel-peracio commented on #21986
Same here:
![image](https://user-images.githubusercontent.com/8999086/127560358-bc4f0599-9045-4ef7-915f-248767934a13.png)

The Profiler tab seems unaffected

Workarounds that don't help:
- Reloading the page
- Docking the devtools on the side/bottom
- Undocking the devtools (a.k.a. open in a window)
- Resizing the window
- Fiddling with the `Expand component tree by default` setting
- Resizing the

[2021-07-29 20:36] gabriel-peracio commented on #21986
Looks like a CSS issue:

https://user-images.githubusercontent.com/8999086/127561843-30f36425-d689-440f-8fda-92bad98188b1.mp4

The nodes in the tree remain **unselectable with the mouse** even after my "workaround", though.

They are selectable, however, if you:
- use the keyboard
- navigate using the "rendered by" box on the right pane (called `Owners` internally)
- use the search bar
- use the e

[2021-07-29 21:19] maraisr commented on #21985
Yup there's no error or messaging in either mode.

I guess that's why I originally thought there's a bug with React. But guess the bug in the end is just no messaging 😅

Thanks for giving this issue the time of day tho folk ❤️

[2021-07-29 22:09] kkragoth commented on #21986
Doesn't seem to occur on mac os for me on extension:
Version
4.14.0 (7/16/2021)

<img width="1674" alt="Screenshot 2021-07-30 at 00 05 56" src="https://user-images.githubusercontent.com/6214896/127572071-5d4048bb-d8ba-431c-abfd-381a77d2d498.png">

[2021-07-30 01:01] tdriley opened #21993 "Bug: "Unsafe assignment to innerHTML" warning from Mozilla addons linter"
Our Browser Extension addon seems to be stuck in review with Mozilla, and their submission service is feeding back (what appear to be ESLint warnings), saying "Unsafe assignment to innerHTML."

I can recreate the warnings by running the Mozilla addons-linter on our extension's dist files and removing `react-dom` prevents the warnings, but then of course there is no `ReactDOM.render` func to render

[2021-07-30 02:19] Krishnag09 opened #21994 "Here's a step-by-step instruction for how to work around it while the fix is pending review:"
This only works for one time at one page, but fails if one has to pause and restart the inspector while navigating to different pages.

Here's a step-by-step instruction for how to work around it while the fix is pending review:

1. Press the Settings gear icon in the upper right corner

<img width="1161" alt="Screenshot 2020-07-10 at 14 39 06" src="https://user-images.githubusercontent.com/810438

[2021-07-30 03:59] su6838354 commented on #19240
no work，differenet function on every time

[2021-07-30 06:27] eps1lon commented on #21989
Thanks for the report.

Could you check if this is similar to https://github.com/facebook/react/issues/20074?

[2021-07-30 06:28] eps1lon commented on #20901
Thanks for the report.

Could you check if this is similar to https://github.com/facebook/react/issues/20074?

[2021-07-30 07:59] sag-tobias-frey commented on #20901
@eps1lon I don't think the issues are related. I'm not adding an even listener based on click events. The listeners are registered once at the beginning and that's it.

[2021-07-30 08:41] kosciolek commented on #21989
Yes, it's the same. If portal is rendered, first the event is re-attached, and only then fired.
![image](https://user-images.githubusercontent.com/45483493/127623115-7f5dae4e-28f1-48e3-b8f6-716c7df50bf6.png)

Though, as above, it's not exclusive to portals. I'd wager anything that triggers another render pass will do that.

First, native events, unless captured, are fired after React's events. Sec

[2021-07-30 08:48] eps1lon commented on #21989
Closing then as per https://github.com/facebook/react/issues/20074#issuecomment-811296789

[2021-07-30 08:48] #21989 closed

[2021-07-30 09:33] dmitry-turing commented on #21986
reproduces for me on:

MacOS X 10.14
Chrome Version 92.0.4515.107 (Official Build) (x86_64) (latest)
DevTools 4.14.0 (7/16/2021)

[2021-07-30 12:54] #21994 closed

[2021-07-30 12:55] bvaughn commented on #21994
Sorry. I'm not really sure why one of Dan's comments has been re-posted as an issue so I'm going to close it. If there's some problem, let me know.

[2021-07-30 13:43] dani-mp commented on #14259
Does anyone know if the new automatic batching feature in React 18 works also with several `useReducer` dispatches?

Usually, I only dispatch once when something happens in my component, but some people also do something like:
[code]
Would these be batched automatically, resulting in a single render?

[2021-07-30 14:08] Eliav2 commented on #21956
Your situation is not related to this issue. @kosciolek

[2021-07-30 14:34] gabriel-peracio commented on #21986
Mine is:

Windows 10 21H1 (OS Build 19043.1110)
Chrome Version 92.0.4515.107 (Official Build) (64-bit)
 DevTools version 4.14.0-d0ec283819

 If any developer is unable to reproduce, let me know and I can get you whatever you need (a snapshot of the dom, the css ruleset, a memory dump, etc)

[2021-07-30 16:14] markerikson commented on #14259
@dani-mp : `useReducer` is just another form of React's one-and-only state update implementation, so yes.

[2021-07-30 19:49] kkragoth commented on #21983
Trying to read about this and starting with: https://github.com/mozilla/source-map#sourcemapconsumerinitializeoptions

points to second option of using ArrayBuffer with contents of 'mappings.wasm'. Not experienced enough but maybe it could be unified that way for both targets. Or if that's not the case I assume this would work something like:

if web then
  use url
else it needs file access
  read

[2021-07-31 11:42] hieuhani opened #21997 "React 18: useEffect calling twice inside a custom hook"
I'm testing React 18.0.0-alpha-dbe3363cc and get this issue, useEffect callback got to be called twice when passing an empty array ([]) to expect to run an effect and clean it up only once.

Check out this code: https://codesandbox.io/s/friendly-firefly-h5noz?file=/src/App.js

[2021-07-31 12:00] Idan-Garay commented on #21997
Try removing the strict mode tag in index.js.

source: https://reactjs.org/docs/strict-mode.html

[2021-07-31 19:41] dustinlacewell commented on #21856
Super excited for this, godspeed @Fahme!

[2021-07-31 19:50] tb47 opened #21999 "Issue (old topic but still not okay): eslint exhaustive deps --> context+axios+db+useEffect"
React version: 17.0.2

## Steps To Reproduce

1. context.js
[code]
2. component
[code]

Please let me know.

[2021-07-31 20:10] vkurchatkin commented on #21997
This specifically is described here https://github.com/reactwg/react-18/discussions/19

[2021-08-01 09:54] Ayc0 commented on #21931
@shimondoodkin shouldn't this issue be moved to https://github.com/reactjs/rfcs?

[2021-08-01 11:35] Amasaabu opened #22000 "Are you allowed to call setState in the function passed into setState hook."

[2021-08-01 12:24] shimondoodkin commented on #21931
@Ayc0 I don't know to answer, nither I think I am suting to implement this.

[2021-08-01 12:43] Ayc0 commented on #21931
Btw, I saw this thread of twitter explaining the reasons behind why getState isn't returned by useState / useReducer:
https://twitter.com/AdamRackis/status/1096863190049345536

[2021-08-01 14:54] #22000 closed

[2021-08-01 16:47] Attrash-Islam opened #22002 "[Question] useRef usage with concurrent mode"
Hi,
I noticed some weird behavior and just want to verify it.

When I wrap my application with `<StrictMode/>` I've some issues were using `useRef` is buggy in one of my hooks (I'm using them only for caching and previous values checks, and there's a state update inside that hook).

Once I replace the `useRef` with `useState` with same logic/purpose it works! (With zero additional changes) - It se

[2021-08-01 18:10] perveen-neha opened #22003 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior
module declaration can only be used in typescript files but all the files in "flow-typed" are .js files
.
![image](https://user-images.githubusercontent.com/84927513/127780995-d9de3e19-a85a-4e2e-806c-e97f80d031d2.png)

[2021-08-01 19:08] yairEO commented on #6889
@syranide - actually what you said (5 years ago) does not makes sense to me and I **do expect** the same as OP expected as the name of the method suggests it it traversing all the children in the tree and returns it flat (as per description).

[2021-08-01 22:38] gaearon commented on #22002
Can you post a complete example?

[2021-08-01 22:50] amerllica commented on #4431
@gaearon, Why ReactJs mouseEvent doesn't have `which`, `offsetX`, `offsetY` and etc?

Why the Facebook developers add them into `e.nativeEvent`?

[2021-08-02 05:02] AbhayVAshokan commented on #19778
This solved my issue. I think under the hood `React.Fragment` makes the child component re-render along with its sibling's rerender. Replacing it with a `div` makes it act as an individual component (expected behavior). Perhaps this should be filed as an issue.

[2021-08-02 06:38] eps1lon commented on #22003
You want to tell VSCode that these files are flow files.

Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about

[2021-08-02 06:38] #22003 closed

[2021-08-02 09:06] sag1v commented on #16291
I'm wondering why `useCallback` deps behave differently than `useEffect`/`useLayoutEffect`.

With `useCallback` we get the warning:

[code]

With `useEffect` we don't get a warning

[code]

I know we can "solve" this by ignoring the rule or just use the `value` e.g:

[code]
Or something similar, but is it valid to include a dependency just for the sake of synchronizing and not actually use it?

--

[2021-08-02 15:20] #21900 closed

[2021-08-02 19:04] davidroeca commented on #3965
Throwing in another use case for reparenting: deeply nested components that need access to a lower-level context, but will be rendered at a higher level in an app.

In my case, I'm referencing two contexts: a sidebar context (that manages whether a [semantic ui sidebar](https://react.semantic-ui.com/modules/sidebar) is visible/rendered with lower-level content, and a context below that, which mana

[2021-08-02 22:15] bev-a-tron opened #22009 "Tutorial does not work on Chrome"
Chrome made an update that prevents Alert pop-up boxes from cross origin iframes. This includes the Alerts that are in the Tic Tac Toe tutorial for React. I didn't know how to update the Tutorial; it's on reactjs.org: https://reactjs.org/tutorial/tutorial.html. So I thought I'd open this issue!

Thanks!

See Chrome update from today (August 2, 2021): https://www.chromestatus.com/feature/5148698084

[2021-08-03 03:49] perveen-neha commented on #22003
Thank you very much for responding . can you please help me get started with open source as I am new to it . Please provide me the good start issues that I can look up to and what should I know to contribute to the project.
please

[2021-08-03 03:49] perveen-neha commented on #22003
@eps1lon
please

[2021-08-03 08:12] MD-Ziauddin commented on #21889
I would like to work on this. If nobody is working on this. I can start working on exposing new debugging preferences as mentioned above. Could you please clarify the second point about adding an API for DevTools and React to communicate.

@bvaughn

[2021-08-03 12:50] bvaughn commented on #21889
Thanks for the offer, @ziauddin-copods, but Luna Ruan is working on this task. (It's assigned to her.)

[2021-08-03 13:00] 7kms opened #22012 "Question: Why `propagateContextChanges` not restore the `workInProgress.child.return` pointer?"
This  is the code from `ReactFiberNewContext.old.js`

https://github.com/facebook/react/blob/19092ac8c354b92c2e0e27b73f391571ad452505/packages/react-reconciler/src/ReactFiberNewContext.old.js#L319-L333

In the function `propagateContextChanges` and `propagateContextChange_eager`, the `workInProgress.child.return` is changed in the beginning, but it is not restore in the end.

In case of `propagate

[2021-08-03 13:51] bvaughn commented on #22009
The documentation and source for [reactjs.org](https://reactjs.org/) are in a different GitHub repository.

Please open a new issue in that repository:
[https://github.com/reactjs/reactjs.org](https://github.com/reactjs/reactjs.org/issues/new)

Sorry for the inconvenience! 🙂

[2021-08-03 13:51] #22009 closed

[2021-08-03 14:49] mohsenParvar opened #22014 "[DevTools Bug] getCommitTree(): Invalid commit "12" for root "1". There are only "12" commits."
### Website or app

website

### Repro steps

multiple clicks on next step

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.14.0-d0ec283819

### Error message (automated)

getCommitTree(): Invalid commit "12" for root "1". There are only "12" commits.

### Error call stack (automated)

[code]

### Err

[2021-08-03 14:49] #22014 closed

[2021-08-03 15:50] #20696 closed

[2021-08-03 16:03] bvaughn opened #22015 "DevTools: Extension should start/stop recording scheduling profiler data"
Wire up the Profiler's start/stop record button for the new scheduling profiler (#21866).

See [this POC by @taneliang](https://github.com/taneliang/react-scheduling-profiler-devtools-integration-poc) as a reference / starting point.

Note that we should probably not add "debugger" as a `permission` in the extension manifest, but as an `optional_permissions` that we [request at runtime](https://de

[2021-08-03 16:22] samuelcolburn commented on #21986
reproduces for me on:

Windows 10 Pro (10.0.19043 Build 19043)
Edge Version 92.0.902.62 (Official Build) (64-bit) (latest)
DevTools 4.14.0 (7/16/2021)

[2021-08-03 17:14] jakekara commented on #16174
I would like to see this feature as well.

[2021-08-03 23:16] craigkovatch commented on #9142
@eps1lon

Is that true? The function identities are stable (no inline ref handlers) and the browser de-dupes identical listener adds, so I think it should be fine.

[2021-08-04 00:24] tiqtok commented on #5682
Struggling with the same problem.

[2021-08-04 05:05] KasiMaru commented on #21986
I also have this problem:

MacOS 11.4
Chrome version: Version 92.0.4515.131 (Official Build) (x86_64)
DevTools version: 4.14.0 (7/16/2021)

Sometimes component tree doesn't show at all, have to reload a page. Even after reloading tree is too narrow and clicks are not coming through.

Tried every sane approach to fix (reinstall, reload etc) — nothing helps.

[2021-08-04 05:53] arshabh-copods commented on #21497
@AlexRAV Are you still working on this ? I do not have any idea on how to implement this validation right now - but can look into it.

[2021-08-04 10:52] wesleyolis opened #22027 "GetDerivedStateFromProps - to be non static member"
I would like to suggest a change that GetDerivedStateFromProps no longer has to be a static member function.
At times one wants to have some private variables that are component scope, however, doesn't really live in
State, they are state, but nothing that any spesific component rendering is tied to.

I found myself having to putting a Generic Class and other formatters for like onChange(toView(us

[2021-08-04 13:13] bvaughn commented on #22027
Our choice to make `getDerivedStateFromProps` a static method was _intentional_ to prevent unsafe access of instance properties and other [side effects](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects) that we saw happening commonly in class component instance methods. (The [RFC for this API](https://github.com/reactjs/rfcs/blob/master/text/0006-static-lifecycle-methods

[2021-08-04 13:27] jwpradm opened #22028 "Bug: React mutates dom when nothing changes because component function was generated dynamically"
Hello, I'm not sure if this is a bug or intentional behavior. In either case can you please explain the following behaviour: when we create a component function `MyComponent` dynamically for each render, the `MyComponent` component will trigger an actual dom mutation even if it returns identical jsx.

[code]

React version: 17.0.2

## Steps To Reproduce

1. Navigate to https://codesandbox.io/s/bli

[2021-08-04 14:18] bvaughn commented on #22028
We recommend that you don't define/create a component during render.

Doing this means that each time React renders the `App` component, the code above returns a _new_ `MyComponent` type. React's diffing algorithm sees this new function _as a new component_, so it unmounts the previous one (and anything beneath it) and mounts the new one. This is unnecessarily expensive _and_ it means that you mig

[2021-08-04 14:38] jwpradm commented on #22028
@bvaughn thanks for the answer! On my side I just moved the component definition to module scope, and that indeed solved the problem. :slightly_smiling_face:

I do find this behaviour pretty unintuitive. My understanding of the reconciliation algorithm was that it should never uncenecssarily mutate dom, since there might be other things outside of react that are dependent on the dom mutations.  Is

[2021-08-04 16:39] bvaughn commented on #22028
It's less about the DOM and more about maintaining state integrity in this case. Two components can produce the same DOM but e.g. have different imperative effect code (subscriptions/event handlers) or different internal state (hooks).

When a component's _type_ changes, React unmounts the old component and mounts the new one, regardless of what kind of subtree is produced. (It would be less effic

[2021-08-04 16:39] bvaughn commented on #22028
I don't think I understand this scenario. Inline components should never really be required, since you can parameterize a component with props. Can you provide a concrete example?

[2021-08-04 18:58] Samuel-Beslogic commented on #21448
+1 on this. Took me a while to realise my state update was wrong just because I forgot to use the function. Could probably even be auto-fixable.

[2021-08-04 23:19] markerikson commented on #22028
@jwpradm You should probably read [the React docs page on "Reconciliation"](https://reactjs.org/docs/reconciliation.html), and the ["Component Types and Reconciliation" section in my post "A Mostly Complete Guide to React Rendering Behavior](https://blog.isquaredsoftware.com/2020/05/blogged-answers-a-mostly-complete-guide-to-react-rendering-behavior/#component-types-and-reconciliation).

To expand

[2021-08-04 23:47] machineghost commented on #9255
Does the React project have a published criteria for what makes it into the library proper, and what should be handled by 3rd party libraries?

This seems like something that'd be better in React, so if there was such criteria I'd love to grok it.

[2021-08-04 23:50] bvaughn commented on #21956
I'm going to close this issue since this isn't a React bug.

[2021-08-04 23:50] #21956 closed

[2021-08-05 03:22] JiangWeian opened #22031 "Bug: It takes a long time from componentdidmount() method to render()"
My React version is 16.8.6.
It took 2 seconds from the componentDidMount() method to the render() method of the OHIFCornerstoneViewport class:
![TIM图片20210805102855](https://user-images.githubusercontent.com/56569509/128285696-85a58f66-e57d-458f-ae10-fa90458a7d01.png)

What causes this problem? Large amount of data?

[2021-08-05 04:54] TomJSmith commented on #15881
This is still an issue and a big annoyance. Seems like eslint will throw the conditional hook usage error if there are a certain number of conditionals (including use of `??`) before the use of a hook

[2021-08-05 06:16] NishantChandla commented on #22015
@bvaughn Can I take up this issue? Also, I am new here can you guide me how can I go about solving this. Thanks!

[2021-08-05 06:31] wesleyolis opened #22032 "Feature: useState performance enhance derivate using modstamp logic instead of destructuring"
I would also like to propose that following potentially improvements for speed and simplicity now that useState is there.

I would like to propose the following variants, which introduce a modstamp and a setItem for state that contains list of items.
Instead of having to destructor arrays and objects and things to cause reference changes, which is havey,
setItem would implicit tick the mostamp for

[2021-08-05 06:37] 7kms commented on #22028
There is the sourcecode  https://github.com/facebook/react/blob/v17.0.2/packages/react-reconciler/src/ReactChildFiber.old.js#L1190 .

`child.elementType === element.type ` is false , so it is faild to reconciler.  React will create a new fiber with out reuse the `oldfiber.stateNode`,  finally ,  the DOM changed.

Why the `child.elementType === element.type ` statement is false?

Because your `<MyC

[2021-08-05 08:13] jwpradm commented on #22028
Ah I see. Indeed. It makes more sense now, thanks all for the explanation!

I thought that react was keeping a deep copy of the entire vdom tree, and in cases like this, it would "execute" the "new" component but would not actually mutate the dom since no dom changes aren't actually needed. But it looks like this is a concious design choice made by React in the name of performance of the diffing a

[2021-08-05 08:13] #22028 closed

[2021-08-05 08:23] JiangWeian commented on #22031
![TIM图片20210805162057](https://user-images.githubusercontent.com/56569509/128317177-1f07acaa-06a2-4f3b-8094-4d02392ec9f2.png)

[2021-08-05 08:31] 7kms commented on #22012
@acdlite , @gnoff  could you give some help?

[2021-08-05 08:50] eps1lon commented on #22031
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-05 12:10] xutong8 opened #22033 "Question: How dispatchAction will update the current fiber in react 17"
useState would return an array，then the second argument is a function that invoking the dispatchAction.bind() returns.
`var dispatch = queue.dispatch = dispatchAction.bind(null, currentlyRenderingFiber$1, queue);`
I have a question. In this case，the first parameter of dispatchAction is always determined. There will be a closure that will shallowly copy its value, if you need to modify it, you have

[2021-08-05 12:44] bvaughn commented on #22015
@NishantChandla You're welcome to work on this task if it interests you, but it would have to be an unguided effort. (I don't have bandwidth to guide anyone through it beyond what the description already states.)

This guide may help you get started:
https://github.com/facebook/react/blob/main/packages/react-devtools/CONTRIBUTING.md

[2021-08-05 13:05] saiyerniakhil opened #22034 "[DevTools Bug]: React Devtools on Firefox initially shows an empty (blank) component tree"
### Website or app

https://reactjs.org/

### Repro steps

1. Go to any site built with React.js
2. Open the React Devtools from the firefox developer tools window.
3. There will be an empty component when **Components** tab is selected
4. Now refresh the page to see the component tree getting populated inside the **Components** tab.

Windows Version - Windows 10 21H1
Firefox Version - v90.0.2 (64

[2021-08-05 14:05] WolvenSpirit commented on #10441
This error is still thrown in React 17.0.2 when calling JSON.parse() twice on a state property, I fail to see how is it related with the actual error.

[2021-08-05 14:16] jhughes982 commented on #20330
I am experiencing the same problem. It would be great if this issue could be sorted.

[2021-08-05 14:58] gaearon commented on #21783
Work on this started in https://github.com/facebook/react/pull/22030.

[2021-08-05 16:10] floriansimon1 commented on #4847
Not having this forces us to have global integer counters in the scope of our Redux reducers, because we don't have identifying data. We don't want to introduce a library for something so silly, or do something overly complex like writing a key function that transforms the whole object to a string. Using Symbol is the best thing we could hope for in this case.

[2021-08-05 22:03] arnonate commented on #14066
To anyone coming to this conversation late (like me). I ended up using `useRef` as suggested above and making a little hook to autosave form data on unmount:

[code]

It can then be used in my form component:
[code]

[2021-08-06 00:26] JiangWeian commented on #22031
This callback is to execute cornerstone.renderToCanvas():
![TIM图片20210806082300](https://user-images.githubusercontent.com/56569509/128437662-e6573203-b843-409c-9a79-417ae9323476.png)

This is a problem found in testing ohif viewer. Please refer to https://github.com/OHIF/Viewers/issues/2502

[2021-08-06 00:57] windmaomao commented on #20661
Just out of curiosity, i wonder how this finding child fiber can be optimized. A fiber can be very deep deep down the branch, the official version traces from the origin of the context to each child, because each fiber has a `dependencies` to hold all contexts.

If we go the opposite way, suppose we store all fibers referencing the context in the context fiber's `contextChilds`. In `readContext`,

[2021-08-06 01:44] #22031 closed

[2021-08-06 05:45] f-ricci commented on #13523
@wise-introvert @LinusU

I have found this solution in another issue on this repository but unfortunately cannot remember the author. I'm sorry for that, all credits belong to the original author.

[code]

[2021-08-06 07:36] #22033 closed

[2021-08-06 07:37] xutong8 commented on #22033
Solved！

[2021-08-06 09:23] debel27 commented on #22002
I think I can provide an example, though it is not really about state updates. Consider the following hook

[code]

The motivation for this hook is to use its return value in a useEffect, so it wouldn't be triggered by irrelevant changes in complex objects/arrays. It is not expected to be used often (you can for instance destructure an object to get only the properties that are relevant to your ho

[2021-08-06 10:09] Attrash-Islam commented on #22002
Not sure I get your example @debel27 but it's not my case for sure.

Thanks for your reply @gaearon ! Will supply an example soon

[2021-08-06 13:10] bvaughn commented on #22032
This looks like a substantial change being proposed. :smile: Changes like this should go through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

The RFC process is a great opportunity to get more eyeballs on your proposal before it becomes a part of a released version of React. Quite often, even proposals that seem "obvious" can be significantly improved once a wider group of interest

[2021-08-06 13:10] #22032 closed

[2021-08-06 13:28] ethanlal04 opened #22039 "Idea: Shorthand Property Initialization"
Hello,

[code]
Above, the value of the `src` property is the `src` variable. In such a case, `Svelte` lets us exclude the repetitive attribute like this...
[code]
I'd like to have the same in React. I think this would make the code more concise. Thank you 😀.

[2021-08-06 13:34] bvaughn commented on #22039
This has been proposed a few times: #9696, #9707, #13967, #15731, #20164, #21236

The place to request/suggest this is the JSX repo though, specifically: https://github.com/facebook/jsx/issues/23

I'm going to close this issue and suggest you join the discussion on that one. 👍🏼

[2021-08-06 13:34] #22039 closed

[2021-08-06 14:03] ethanlal04 commented on #22039
Oops, didn't see that. Thanks.

[2021-08-06 14:23] Attrash-Islam commented on #22002
Here it is -> https://codesandbox.io/s/useref-with-strictmode-jif1j?file=/src/App.js

[2021-08-06 14:48] baalimago commented on #21951
I don't think it's a lint issue.

It's caused by https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin-Opener-Policy and https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin-Embedder-Policy not being set properly in the react development server. It should've been fixed in react >=17.0.2 https://github.com/facebook/react/pull/20831, but it doesn't seem to work for

[2021-08-06 17:05] Borvik commented on #21986
Occurs for me as well:

Ubuntu 20.04.2 LTS
Chrome: 92.0.4515.107
DevTools: 4.14.0

While Chrome is affected for me - FireFox continues to work.

[2021-08-06 18:24] wesleyolis commented on #22032
@bvaughn Thank you you for your feedback.

I manage to get another 20minutes of thought on this or a worrying factor that typing system in c++ sort out for you, but not here, in which have reference issues.
I am still trying to think of a big pattern were I can just create many nested little forms and drive them off a massive API structure response of arrays and objects and primitives'. I jsut hav

[2021-08-07 09:30] wesleyolis commented on #22032
@bvaughn I am wondering if you able to awnser one to question about my checking the behaviours of types below, where I summaries things. Does React.Native deep object.freeze this.state that when updated using this.setState get frozen including classes, such that they ensure copies are made and potentially those which classes, in which class need to not be frozen after copy assignment, just prevent

[2021-08-07 16:02] kevinashworth commented on #22034
I see this problem very frequently. Open and close a handful of times (option-command-I) and eventually I see the component tree.

[2021-08-07 16:11] markerikson commented on #22032
@wesleyolis I think you're making this way too complicated :)  You should probably look at using https://immerjs.github.io/immer/ for immutable updates.

[2021-08-07 16:16] wesleyolis commented on #22027
@bvaughn The one other thing is GetDerivedStateFromProps, Typically also in my mind, that I recall this method only needs to be call when there are property changes, such as first render, I don't see what want call it when state changes, unless one wants derivative state from state, in which case have another method, that is generically hoocked in afterwards. That or LIke aurelia, a event life cyc

[2021-08-07 16:47] wesleyolis commented on #22032
@bvaughn When Working between all languages like C++, which since Pointers(References) and value instance on the stack, allow for the flexiblity that is required, because you can easily through tough out the language differentiate the behavior and do the correct operation that is required. JS it becomes tricky as we know.

On of my thoughts, is mabye just adopted a copy by value operator which is

[2021-08-07 19:31] hosseini44444 commented on #21692
Same as #21416 and #17953

[2021-08-08 02:27] byronluk commented on #21736
@bvaughn mind if I take a stab at this?

Been looking through the code and seems like the right way to get the context for a functional component is off the fiber dependencies. I wasn't able to find a way to obtain the legacy context off a Fiber node of a functional component, so is it okay if we only support the modern context here?

[2021-08-08 08:44] infinite0007 opened #22045 "Bug: HTML <video> doesn't work with muted Attribute"
When trying to embed a Video you can use the <source> HTML tag. For some reason if you put the muted attribute on it, it won't stick to the DOM, which doesn't allow videos to autoplay what makes it difficult with privacy settings of a couple of browsers like Safari on IOS. So here is a proof. I noticed it after a couple of tests on IOS. For me the muted tag wasn't important for playing videos on C

[2021-08-08 18:20] bvaughn commented on #21736
Yes! Please go for it 😄

Yes! That sounds good

[2021-08-08 18:26] ramyNiranjan commented on #14257
This solution worked for me, Thanks a lot

[2021-08-08 21:15] secretpwner commented on #22034
Here's a same problem. I thought it was my own error, but I think it's a bug

[2021-08-09 03:04] byronluk commented on #21736
thanks! I submitted a PR here: https://github.com/facebook/react/pull/22047

Haven't got around to adding tests yet since I couldn't find any existing test cases for this particular behavior, so I still need to look deeper there. But I wanted to get some eyes on the change in the meantime 😅

[2021-08-09 09:09] eps1lon commented on #22045
Duplicate of https://github.com/facebook/react/issues/10389

[2021-08-09 09:09] #22045 closed

[2021-08-09 09:41] b-smets opened #22048 "Bug: Cannot set property 'memoizedState' of null with nested renderToStaticMarkup and hooks"
React version: 17.0.2

## Steps To Reproduce

1. Have a component which memoizes the result of a renderToStaticMarkup.
2. Use renderToStaticMarkup to render the component of 1.

Link to code example:

[code]

https://codesandbox.io/s/lingering-shadow-vyqyd

## The current behavior

The application crashes with a TypeError: Cannot set property 'memoizedState' of null

[code]

## The expected behavi

[2021-08-09 09:47] b-smets commented on #22048
Seems duplicate of https://github.com/facebook/react/issues/16416 so closing in favor of the other one.

[2021-08-09 09:47] #22048 closed

[2021-08-09 09:48] b-smets commented on #16416
Any updates on this ticket?

[2021-08-09 13:48] haojunfu commented on #13445
write like this can be work

import React, { Component } from "react";

const HOC = (InnerComponent) =>
  class extends Component {
    render() {
      return <InnerComponent {...this.props} />;
    }
  };

class App10 extends Component {
  render() {
    return (
      <div>
        <Button>button</Button>
        <hr />
        <LabelHOC>label</LabelHOC>
      </div>
    );
  }
}

const Button

[2021-08-09 14:45] mbonaci commented on #22034
On Chrome too.

[2021-08-09 16:58] hamzahamidi opened #22049 "Bug: "Cannot read property 'length' of undefined" in areHookInputsEqual"
React version: 17.0.2

## Steps To Reproduce
When testing my component where I'm using this usecallback hook. I'm getting the error.
[code]
![image](https://user-images.githubusercontent.com/22576950/128743558-6db90fb6-bafb-4a47-9d4b-d2b8b4bad177.png)

When I dug a little in the callstack I found that it's linked to the code here:

https://github.com/facebook/react/blob/cae635054e17a6f107a39d32864

[2021-08-09 19:09] infinite0007 commented on #10389
5 years now. Hopefully this will be fixed soon.

[2021-08-09 19:45] abetss commented on #15281
I'm facing an issue with this now. I'm abstracting the updating of page title in a component that wraps children with `Route` component from react-router-dom. When I create nested routes with that, the title of the children components updates before its parent, therefore the page title is overridden by its parent page title.

This is an arbitrary example of that

[code]

For this use case the useE

[2021-08-09 19:54] bvaughn commented on #22049
Hooks are expected to define dependencies _unconditionally_, and the code does check if one of the dependencies arrays is undefined:
https://github.com/facebook/react/blob/ecd73e17bcdecc092cb56259999787d832d6510a/packages/react-dom/src/server/ReactPartialRendererHooks.js#L347-L359

Can you share a full repro of your code? Sounds like maybe it's defining dependencies conditionally?

[2021-08-09 20:04] colegillespie commented on #17997
@bvaughn thanks for adding https://github.com/facebook/react/blob/main/packages/react-devtools/CONTRIBUTING.md I am going to see if I can duplicate this issue in firefox

[2021-08-09 20:08] ialexryan commented on #14035
Staying on top of this confusing bug is costing us time and creating tech debt in our codebase. It feels bad to see this issue being closed with the bug remaining unfixed. Can someone with the appropriate permissions please hit the reopen button?

[2021-08-09 21:03] nikparo commented on #15281
@abetss You could use [my idea above](https://github.com/facebook/react/issues/15281#issuecomment-781196823) to get around that. In short, you would end up with something like this:

[code]

[2021-08-09 21:09] bvaughn commented on #17997
@colegillespie Yes. You can replace "chrome" with either "firefox" or "edge" if you wanted to test other browsers 👍🏼

[2021-08-09 21:24] colegillespie commented on #17997
@bvaughn confirmed, was able to repro the error with the tests
![image](https://user-images.githubusercontent.com/745064/128776389-eee6b5a5-e9a4-4de2-baca-448762e6d9d7.png)

will see if i can fix now

[2021-08-09 23:36] kevinashworth commented on #22034
As a workaround, I am using an old version of DevTools, one from early 2021, I think. It works just fine.

[2021-08-10 00:56] colegillespie commented on #17997
@bvaughn I was able to get this working and tests passing. Quite a drastic change in the way the global hook is inserted so please check the PR and make sure I am not doing anything too aggregious.

[2021-08-10 03:19] JeffreyZhao commented on #13991
Want to leave some information regarding how I workaround this issue occurred to me in my environment. I've developing React application using create-react-app on Windows, which uses a case-insensitive file system, and that's exactly the reason that I got two React instances.

I've tried the `window.React1 === window.React2` which returns `false` although I've very sure I have only one copy of Rea

[2021-08-10 09:11] Saranya13 opened #22054 "Bug: "NotFoundError" when removeChildFromContainer -> container.removeChild(child) is called"
React throw an unhandled exception "NotFoundError" when removeChildFromContainer -> container.removeChild(child) is called on a node that doesn't contains the child anymore.
This only occurs in IE 11.

React version: 17.0.2

## Steps To Reproduce

1. open the attached sample and run the application in **ie11**
2. then click the **toggle grid** button
3. Then you can see the script error in console

[2021-08-10 09:12] QuentinLuc commented on #22034
I've got the same issue on Chrome and when the components tree finally shows up, it's cropped on the left:
![image](https://user-images.githubusercontent.com/5237095/128840788-49508780-28fb-44b7-86fa-8ca5a0496e0a.png)

[2021-08-10 09:39] hamzahamidi commented on #22049
@bvaughn Thank you for your quick response. But wouldn't be better to make a proper message when dependencies are defined unconditionally instead of the error "Cannot read property 'length' of undefined"

[2021-08-10 11:13] hejialianghe opened #22055 "Bug: Cannot update a component (`BucketIcon`) while rendering a different component (`Bucket`). To locate the bad setState() call inside `Bucket`, follow the stack trace as described in"
React version:17.0.1

[2021-08-10 13:37] bvaughn commented on #22049
Dependencies can be undefined. The thing they can't do is change from undefined to defined between renders.

It would still be better to have a proper DEV mode warning about this, (if we don't already), but I wanted to clarify that it's not supported.

[2021-08-10 14:46] kkanekii commented on #22055
@hejialianghe please elaborate

[2021-08-10 18:16] #21736 closed

[2021-08-10 18:20] exander77 commented on #16087
Memory leaking is the least of the problems here. This is a huge security issue as inputs provided by the user into the react input fields are held throughout the lifetime of the application and they are not cleared even when the application is refreshed in Chrome. This means all passwords, credentials inputted into those fields etc. can be recovered from browser memory even without a third-party

[2021-08-10 18:57] PaulFidika commented on #11163
The above solutions are good, but you're missing the point:

useEffect fires AFTER the component mounts. That means that (1) the component will mount and display to the user with no video in it at all, (2) then the component run its useEffect method and attach the video-stream.

This will cause a gap / flicker that will be noticeable to the user. That isn't a big deal for the initial page-load, ho

[2021-08-10 20:26] gaearon commented on #16087
@exander77

First of all, the issue with inputs being retained is not related to React. It's an issue in Chrome which is being fixed in Chrome. https://github.com/facebook/react/issues/16087#issuecomment-866994113

Next, I understand that you feel strongly about this, but I don't think your assessment is accurate from the security point of view. By definition, any information in JS heap is availab

[2021-08-10 20:46] exander77 commented on #16087
The issue may originate in Chrome, but it is delivered into production by React. I have not encountered the issue with plain HTML or plain JavaScript operated forms. Only with React.

Sure, but there is no expectation of any developer or of any user that a password will be present in computer memory during the whole lifetime of the application. No standard says otherwise is just misdirection. If t

[2021-08-10 20:56] gaearon commented on #16087
None of the Chrome bug reports I linked to earlier include React.

If your security strategy *depends* on passwords not existing in RAM, your security strategy is open to being compromised because (1) most memory leaks in practice tend to happen in user code, (2) the browser provides no guarantees about the timing of garbage collection, (3) garbage collection does not imply or guarantee eviction o

[2021-08-11 00:10] kentcdodds opened #22065 "[DevTools Bug]:"
### Website or app

https://facebook.com

### Repro steps

I've reproduced this with Brave and Chrome

1. Login with your own facebook account
2. Open the React devtools
3. Notice the scrollable components are squished to one side.

![image](https://user-images.githubusercontent.com/1500684/128950233-d17f4325-0cfe-4a5a-b300-06b3f759367a.png)

Seems to not happen to everyone, but [quite a few other

[2021-08-11 01:15] mrkev commented on #21258
Oops just saw this. Haven't been able to repro consistently in a way where I could build a repo that does. In fact, I'm seeing this error much less now too— I wonder if it's something that changed in our codebase or the tools since.

[2021-08-11 04:35] bvaughn commented on #22065
Hey @kentcdodds. When we chatted earlier, I mentioned that I haven't been able to repro this locally myself. Could you provide some more info about your setup, like your operating system and version, browser version, DevTools version, and whether you're using an external monitor? Anything that might shed light here.

[2021-08-11 05:05] jstejada commented on #22034
@QuentinLuc I think that the issue you are reporting of the component tree being cropped to the left seems like a different issue to the one reported here. The cropping issue seems to be the same as https://github.com/facebook/react/issues/22065 or https://github.com/facebook/react/issues/21986

probably better to continue the conversation about the cropping issue there, and keep this one about th

[2021-08-11 05:06] jstejada commented on #22065
Looks like this is the same issue as https://github.com/facebook/react/issues/21986, should we merge them?

[2021-08-11 05:10] jstejada commented on #22065
I'm going to go ahead and merge this into #21986

[2021-08-11 05:10] #22065 closed

[2021-08-11 05:11] jstejada commented on #21986
Another report in https://github.com/facebook/react/issues/22065

[2021-08-11 05:12] bvaughn commented on #21986
I suspect the bug may be caused by this component (which we use in DevTools to auto-expand the Components tree to fill the width and height of the viewport):
https://github.com/bvaughn/react-virtualized-auto-sizer

[2021-08-11 06:59] Erfan-Motallebi opened #22071 "[DevTools Bug] Could not inspect element with id "7""
### Website or app

localhost

### Repro steps

I'm doing a chat app using GraphQL along with ReactJS.
I used contextAPI to get the user login bearer token throughout the app.
This issue occurs when I want to check the context values to be sure for the token received.

### How often does this bug happen?

Sometimes

### DevTools package (automated)

react-devtools-extensions

### DevTools version

[2021-08-11 06:59] #22071 closed

[2021-08-11 08:31] VincentHyf commented on #20141
The same bug was repeated in version 17.0.0:  Warning: unstable_flushDiscreteUpdates: Cannot flush updates when React is already rendering.

[2021-08-11 08:38] #21997 closed

[2021-08-11 09:05] Freddy-Gong commented on #19940
run `npx browserslist@latest --update-db` can fix it.

[2021-08-11 10:14] mbonaci commented on #21986
Me too.
OSX `10.15.7`
Chrome `92.0.4515.131` (the latest)
ReactDevTools: `4.14.0`

Interestingly, the issue **is not present** in `Chromium: 91.0.4472.114` (Brave ¨1.26.67¨).

[2021-08-11 12:45] eps1lon commented on #19318
Will no longer be relevant for React 18 where even a render needs to be wrapped in `act`. See https://github.com/reactwg/react-18/discussions/23#discussioncomment-1088385

[2021-08-11 12:45] #19318 closed

[2021-08-11 13:44] bvaughn commented on #21986
Tanks @mbonaci.

As another data point:

OS X 11.4 (20F71)
Chrome 92.0.4515.131
DevTools (built from HEAD of `main`)

I've never seen this personally.

Maybe others can share their configurations and we can spot a pattern.

[2021-08-11 16:47] gabriel-peracio commented on #21986
@ bvaughn

So you can't reproduce?

What would be helpful for you to track this down?

[2021-08-11 17:31] pagella42 commented on #17801
http://localhost:3000/mail_validate/pagella42%40gmail.com/6YAAB4

[2021-08-11 17:47] simplecommerce commented on #21986
I have the same issues and also using chrome with latest version `92.0.4515.131` and dev tools version `4.14.0` on windows 10.
Weird thing, is my co-worker with the same versions, it works fine on his end on the same app/site.
So no idea what is causing it to not work on my computer.

[2021-08-11 18:00] bvaughn commented on #21986
@simplecommerce Could be helpful if you and your coworker could try to further narrow down what the difference is between the two of your setups.

[2021-08-11 18:25] samwinslow opened #22074 "[DevTools] Support collapsing the entire component tree"
Similar to #16463, I find myself overwhelmed when trying to navigate the React component tree because everything is expanded by default.

- IMO there should be a simple way to recursively collapse everything and view the tree "top-down" rather than "bottom-up," just as VSCode's [-] button allows you to do.

<img width="116" alt="Screen Shot 2021-08-11 at 2 21 56 PM" src="https://user-images.github

[2021-08-11 18:36] bvaughn commented on #22074
There is. Just click the arrow to the left of the root node, or use the left arrow key.

https://user-images.githubusercontent.com/29597/129084368-289241cf-7576-49d3-85ae-b77cc9b30ac4.mp4

I tried this during the design exploration phase, but didn't end up leaving it in because it looked bad when indentation was small:
https://twitter.com/brian_d_vaughn/status/1134862518420090886

Instead, we high

[2021-08-11 18:46] issacgerges commented on #21986
I have a suspicion at whats going on here. I know react-virtualized shims `ResizeObserver` using scroll event handlers, when it does this, it schedules a `requestAnimationFrame` to be notified after the layout updates. In this case, if I debug this script, I can see that scheduling any raf in `main.html` of the devtool will never fire. I suspect a finch trial is being used by the Chromium team to

[2021-08-11 18:48] gabriel-peracio commented on #21986
@issacgerges Awesome work, this pretty much confirms it.

Changing that flag from `Default` to `Disabled` solves the issue on my end. Changing it to `Enabled` brings the issue back

[2021-08-11 19:06] simplecommerce commented on #21986
Couldn't find the throttle setting mentioned by @issacgerges and where to change it.
But I uninstalled chrome completely and reinstalled it (fresh copy, wiping out all settings) and it fixed it for me.

[2021-08-11 19:11] z27fang commented on #21851
Hi,

I did some call stack trace while the `onClick` event was triggered, it was first captured by the G6 library and handled in a handler defined for the menu plugin.

To elaborate this, I here paste the code I found while doing the trace.
[code]

So as a result, there's no way that the react component can receive the onClick event.

Hope this helps!

[2021-08-11 19:27] issacgerges commented on #21986
Could be worth opening a Chormium ticket, but from similar experience this is likely intentional/by design. Maybe they could exclude devtools here? It might be painful to fix in the short term, so maybe it's best to create a branch off of `react-virtualized-auto-sizer` thats used for the plugin that removes the raf from the scheduler array https://github.com/bvaughn/react-virtualized-auto-sizer/bl

[2021-08-11 19:47] bvaughn commented on #22074
I think we just have different expectations.

The Component tab is more similar to the browser's Elements tab, which functions the same way as DevTools does. (It does not recursively collapse).

[2021-08-11 20:03] bvaughn commented on #21986
Fantastic find, @issacgerges!

Seems like `react-virtualized-auto-sizer` could detect this case (no rAF firing by a certain time) and maybe fallback to using a timer or other debounce technique.

[2021-08-11 20:28] samwinslow commented on #22074
Right, it doesn't recursively collapse by default, but that functionality is available in parallel to the typical collapse behavior via a separate UI element. It's a bit harder to find, but it's super useful once you discover it.

<img width="347" alt="Screen Shot 2021-08-11 at 4 05 46 PM" src="https://user-images.githubusercontent.com/4645779/129098501-1566006e-1bfb-41e9-be96-d10c4928ae23.png">

[2021-08-11 22:56] nghtstr commented on #22034
@saiyerniakhil What was the workaround that you used to see the components finally?

[2021-08-12 03:20] pradeeptakhatoibh opened #22078 "Missing dependency warning while running a React 16 application using hooks"
Hi Team,

Below is a sample React 16 useEffect code

[code]
I want above effect to be called only when **var1** changes but inside that effect I am using **var2** so I am getting the warning missing dependency **var2**. I don't want the effect to be called when **var2** changes.

I want to resolve the warning without injecting the **var2** inside the dependency array.

Any help or input will be ap

[2021-08-12 04:25] saiyerniakhil commented on #22034
@nghtstr I hit refresh as a quick workaround but mostly I use chrome when I need to debug something using react devtools, which is really annoying as my default browser is Firefox.

[2021-08-12 06:55] tofutree23 opened #22079 "Bug: `TypeError: Cannot call a class as a function` when rendering class component inside a functional component"
React version: 17.0.2

## Steps To Reproduce

**It won't reproduce in codesandbox,, etc**

Link to code example: https://codesandbox.io/s/react-playground-forked-inft2

1. Make parents component as functional
2. Make child component as class (and I also add `extends React.Component`)
3. Render child in parents as `prop.child`
4. Error

Here's my codes..

1. child component (class)
<img width="925"

[2021-08-12 07:50] #22079 closed

[2021-08-12 14:47] bvaughn opened #22081 "[DevTools] Split extension bundle to comply with Firefox upload process"
Apparently the release of the [new scheduling profiler](https://github.com/reactwg/react-18/discussions/76) pushed us over some limit the Firefox store implies on extension script size:
![image](https://user-images.githubusercontent.com/29597/129217370-d323b75d-6643-4333-a5e3-aa956e8d07de.png)

Specifically, our `main.js` file is too large:
<img width="648" alt="Screen Shot 2021-08-12 at 7 45 57 A

[2021-08-12 14:54] francoMG commented on #22078
Try 'useRef' if you don't need that side effect:

[code]

[2021-08-12 15:43] kn0ll commented on #21497
RFC:

i thought this looked like an easy first issue to attempt. and, well, i guess nothing is ever that easy. :)

the relevant code is to warn for CSS values here: https://github.com/facebook/react/blob/main/packages/react-dom/src/client/CSSPropertyOperations.js#L59-L85

philosophically speaking, some of the discussion here has been "what is the duty of React here, if any?". it already performs `

[2021-08-12 16:18] kn0ll commented on #21497
@gaearon thank you for your response. totally happy to take no  action here. but i'm afraid we may not be on the same page

does [CSS.supports](https://developer.mozilla.org/en-US/docs/Web/API/CSS/supports) not do exactly this?

[2021-08-12 16:45] bvaughn commented on #21986
If anyone would be interested in making (and testing) this change, I'll be happy to review and release an update to the package and DevTools. I'm a little swamped at the moment but I'll try to get to it eventually.

[2021-08-12 17:52] issacgerges commented on #21986
I saw you just picked this up @bvaughn, if you have issues in development have seen Chromium make timers minute aligned when doing background throttling. If that's the case I know setImmediate polyfills have a trick with self-post messaging that could be used.

[2021-08-12 17:57] bvaughn commented on #21986
Thanks for the pointer, @issacgerges. Happen to have a code pointer?

[2021-08-12 18:04] issacgerges commented on #21986
Sure! Here's the `setImmediate` strategy I was thinking of
https://github.com/YuzuJS/setImmediate/blob/f1ccbfdf09cb93aadf77c4aa749ea554503b9234/setImmediate.js#L99-L122

and here is a reference to the timer alignment I've seen mentioned (not 100% sure it will apply here)
https://www.chromestatus.com/feature/4718288976216064

[2021-08-12 18:05] bvaughn commented on #21986
Super helpful. Thanks!

[2021-08-12 18:16] gaearon commented on #21497
Does it work for this font family use case?

[2021-08-12 18:31] johnstoca opened #22082 "Improve production error stack trace for Invariant #31"
Is it possible to improve the production/minified error stack trace for invariant #31?

We saw this one in production and due to the generic nature it was not of much use. It would be much more useful if the component throwing the error could be identified.

Is this possible given what is available in the minified production bundle?

### How to Reproduce
1. `npx create-react-app my-app`
2. `cd my-

[2021-08-12 18:53] kn0ll commented on #21497
definitely! on the client-side, anyway (naturally).

[code]

it's i think it's a direct hook for the information we need. this can also validate `Infinity` and `NaN` just fine:

[code]

(not exactly related, but worth noting that it can also tell you about the browsers capabilities to parse whitespace or unitless values)

if i can figure out how to reliably convert style property names like `fontS

[2021-08-12 18:56] bvaughn commented on #21986
I'm overlooking some important detail here.

Enabling/disabling the "_Throttle non-visible cross-origin iframes_" flag does indeed trigger/fix the bug, but even when this is disabled– animation frames still get called based on my testing, unlike what @issacgerges reported above:

(So my idea to detect this case and fallback to a timeout doesn't work.)

That being said, just replacing `requestAnima

[2021-08-12 18:57] issacgerges commented on #21986
@bvaughn ah interesting. Just to validate are you registering those `requestAnimationFrame` callbacks from the context of `main.html` or `panel.html`. I believe they will only fail to fire from `main.html` (which is the hidden iframe)

[2021-08-12 19:17] bvaughn commented on #21986
@issacgerges I added logging to the feature detection code I wrote (which runs in the same context as the `detectElementResize` script).

[2021-08-12 19:48] Bruce-Yu2017 commented on #20141
still present in `"react": "^17.0.2", "react-dom": "^17.0.2", "next": "^11.0.1"`

[2021-08-13 00:18] bvaughn commented on #21986
Fixed it by adding a fallback timeout when rAF is used ☹️ Doesn't feel great but...

https://github.com/bvaughn/react-virtualized-auto-sizer/pull/39

[2021-08-13 00:32] bvaughn commented on #21986
Thanks a ton for the info @issacgerges and @gabriel-peracio

[2021-08-13 00:41] #21986 closed

[2021-08-13 00:43] bvaughn commented on #21986
This fix has landed. We'll probably release it next week because we're also waiting on another bugfix to unblock the Firefox release.

[2021-08-13 00:48] bvaughn commented on #22034
I may have fixed this issue too via #22083. Could someone verify?

[2021-08-13 05:02] pradeeptakhatoibh commented on #22078
Make sense but in my case I can't use **useRef**.

[2021-08-13 07:58] xcorp1986 opened #22084 "[DevTools Bug] Could not inspect element with id "3""
### Website or app

code

### Repro steps

pure project with command "npx create-react-app . --use-npm --template typescript",then run and open react devtools,the following message appeard

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.15.0-c6f2188ed

### Error message (automated)

Could not inspect

[2021-08-13 07:58] #22084 closed

[2021-08-13 10:34] sfleiter commented on #21755
Any news?
This is happening quite often in main thread overload scenrios for me.

[2021-08-13 11:40] Braweria opened #22085 "Bug: Should have a queue. This is likely a bug in React. Please file an issue."
This error happened while working locally, and also on the Codesandbox.

Locally I work with Next.js as well.
Codesandbox examples runs without Next.js.

React version: 17.0.2

## Steps To Reproduce

1. open Codesandbox
2. https://codesandbox.io/s/masonry-queue-issue-o27rw?file=/src/MasonryGrid.js
3. If the masonry loaded, scroll down and the error might appear.

It might have something to do with

[2021-08-13 12:18] marekredon opened #22086 "Dev tools react probleme"
Bonjour,
Je viens d'installer React dev Tools, mais il n'est pas actif.
Pourtant, j'ai tout activé.
Je suis sur Windows 10, et j'ai téléchargé l'extension il y a 30 min,
![devtools](https://user-images.githubusercontent.com/67319788/129355926-5d3d8513-483d-423f-a538-305fdb4b1b2b.jpg)
![extensions](https://user-images.githubusercontent.com/67319788/129355934-20a71bb0-fc23-4005-b502-17ce7625b8ec.jpg

[2021-08-13 14:34] bvaughn commented on #21755
If you're able to repro this, @sfleiter, you might be in a good place to potential investigate and share ideas for a fix. In case it's not clear from the thread above, I have not been able to reproduce it myself.

[2021-08-13 14:41] bvaughn commented on #22086
Essayez de redémarrer votre navigateur.

[2021-08-13 15:06] bvaughn commented on #22086
Ce bogue est généralement corrigé par l'un de ceux-ci :
1. Fermez et rouvrez devtools.
2. Rechargez le site Web.
3. Redémarrez votre navigateur.

J'espère que ça aide! Bonne journée.

[2021-08-13 15:06] #22086 closed

[2021-08-13 15:32] ShivamS136 commented on #21755
This and the other bug [21755](https://github.com/facebook/react/issues/21755) seem related as I started to face both together.

[2021-08-13 15:50] NikkiMather opened #22087 "Bug:"
First I just want to preface this by stating that I'm unsure if this is a Google Places API issue or a React issue. The issue I'm having is that React renders `autoComplete="ignore"` as `autoComplete="off"` no matter what I do. I have highlighted the code below that triggers this issue with double asterisks.

    useEffect(() => {
        if (!googleApiReady || typeof onPlaceClicked !== "function"

[2021-08-13 18:12] KamalAman commented on #18235
From Amcsi comment in CRA:

They made it so `react-hooks/exhaustive-deps` does not autofix anymore by default.

To get autofixing to function add the following rule to your eslint
[code]

[2021-08-13 20:11] marekredon commented on #22086
Alors, le point 2 et 3 n'ont pas marché.
Le 1 : comment ferme-t-on devtools ?
Questions subsidiaires : j'ai l'impression que mon React developer tools est pâle (il est gris) alors qu'il devrait être en couleur ? Et RDT devrait marcher sur chaque page si je fais F12 ou seulement sur celles où du React est présent ?

[2021-08-13 21:08] marekredon commented on #22086
Je viens de voir qqchose d'intéressant : seuls qqes sites utilisent react.
Et c'est juste pour ces sites-là que react dev tools s'active ! Je viens de le voir sur facebook et slack !
Et moi qui croyais que tous cette extension s'affichait sur tous les sites !

[2021-08-13 21:19] bvaughn commented on #22086
L'extension ne fonctionne que lorsqu'elle est utilisée sur des sites construits avec React. Désolé pour la confusion.

[2021-08-13 21:57] bvaughn opened #22090 "[DevTools] Scheduling Profiler: Add React Native support"
The [Scheduling Profiler](https://github.com/reactwg/react-18/discussions/76) currently reads data from an exported Chrome performance profile, including [User Timing API](https://developer.mozilla.org/en-US/docs/Web/API/User_Timing_API) marks created by React.

The Chrome profile contains native events (e.g. "click" events), CPU samples that can be used to display a flame graph of what JavaScript

[2021-08-14 06:59] TimNZ commented on #13991
@waweber

Thanks for mentioning webpack resolve.modules, that helped me sort this cleanly.
Hopefully this helps some other people in similar scenario.

ProjectA\source\packages\nextjsapp\
ProjectB\source\packages\library

Both projects are using yarn workspaces/lerna.

Overriding resolve.modules is the tidiest fix for my scenario where using yarn/npm link to another library that is in a different

[2021-08-14 13:10] NORVENDING-CORPORATION opened #22092 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-08-15 01:24] jacty commented on #22087
sorry, cannot see where you have updated `autocomplete`. Perhaps you need to give more detail plz.

[2021-08-15 03:15] mugwhump commented on #15156
For anyone reading this thread now, the context selector functionality was removed from the linked library and put in a [standalone library](https://github.com/fernandoem88/react-context-selector).

[2021-08-15 21:22] #22092 closed

[2021-08-15 21:22] bvaughn commented on #22087
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can al

[2021-08-15 22:41] Yakimych opened #22095 "Bug: Value printed to console is rendered incorrectly in StrictMode"
React version: 17.0.2

## Steps To Reproduce

The following minimal repro sample is used to indicate a props change in a component:

[code]

Clicking the "Test" button prints the value "Changed: yes" to the console, while React renders "no":
<img width="312" alt="yes_no_ref" src="https://user-images.githubusercontent.com/5010901/129494759-c7037df4-7e70-4761-8118-e9fd98f45c61.png">

Note: this work

[2021-08-16 05:08] judeWoo opened #22097 "Question: About the key prop & Image Flickering"
Tested environment:
Latest Chrome

React version:
17.0.2

Recently, I've found that when images get rendered within React components, they tend to flicker or do flickering on re-render and mount/unmount.

I found [this link](https://github.com/facebook/react-native/issues/981#issuecomment-97290760) and assigned a unique id for a key prop on each React component that has images. These ids do not ch

[2021-08-16 05:09] XerDemo commented on #16437
Look , it`s  here.
![image](https://user-images.githubusercontent.com/31557580/129513950-3d30eaa7-2440-4587-bb0b-df407a1287b1.png)

[2021-08-16 05:54] bvaughn commented on #22095
Closing this as a duplicate of #21783. See #21889 for new our new plans here (already implemented as PR #22030)

[2021-08-16 05:54] #22095 closed

[2021-08-16 09:22] Rafe0110 opened #22098 "Bug: Can't resolve 'antd/lib/image'"
React version:'17.0.2'

## Steps To Reproduce

1.            <Upload {...uploadProps} fileList={imgfileList} beforeUpload={this.imgbeforeUpload} disabled={isdetail}>
                                                        <Button>
                                                            <Icon type="upload" />
                                                            {

[2021-08-16 09:38] intellild commented on #20661
@windmaomao  I'm afraid there are some concurrent issues that are very hard to resolve

[2021-08-16 12:07] MidnightDesign commented on #11538
Another workaroud that worked for me was "disabling" Google Translate entirely by using `<html translate="no">`.

[2021-08-16 12:27] NikkiMather commented on #22087
Hi,

I am unable to provide an example since i'd have to expose our Google Maps API key(s), however I have replicated the issue in Codesandbox. I have attached a screenshot showing the `autoComplete` on the input set to `test` but rendered as `off`.

[2021-08-16 13:59] #22085 closed

[2021-08-16 14:26] #22098 closed

[2021-08-16 14:32] bvaughn commented on #22087
Bugs without repros don't get fixed. (Most of the time they don't even get looked into, because of the volume of issues and the limited number of contributors.)

We usually suggest you try to remove as many third party apps as possible when narrowing down the bug (so in this case, maybe removing Google Maps integration entirely). This makes it easier for our team to understand and identify the bug

[2021-08-16 14:36] NikkiMather commented on #22087
Hey Brian,

Removing the Google Maps API code snippet does indeed 'fix' the issue, however I'm unsure if that means that Google Maps API is incorrectly working with React, or React is incorrectly working with the Google Maps API key. I opened a bug report in both React and the Maps API team as I'm unable to figure out essentially who is responsible.

Thanks again.

[2021-08-16 14:39] bvaughn commented on #22087
Realistically, this is something you'll probably need to figure out as part of reporting the bug. Our team doesn't have the bandwidth to dig into potential bug reports when third party libraries are involved.

I suggest trying to narrow the bug (that only you can reproduce at this moment) down by gradually removing non-essential code.

[2021-08-16 14:42] NikkiMather commented on #22087
Okay got it. I've done exactly that in my Codesandbox. Shall I now share the repo with you? How can I send it to you directly so it's not visible in the Issue (I don't wish to share the API keys publicly).

[2021-08-16 14:45] bvaughn commented on #22087
I'm suggesting you continue to reduce the repro case until the bug no longer occurs. Is that possible without Google Maps API? If not, that suggests the bug might be in the API. If it's possible with "just React" then it's either a React bug or (sometimes) a browser compatibility quirk.

If you'd like to email me (brian david vaughn at gmail) I can take a quick look, but I'm not familiar with Goog

[2021-08-16 14:53] lowone9 opened #22099 "[DevTools Bug] Could not inspect element with id "1335""
### Website or app

Web app we are developing for a client.

### Repro steps

Open the components tab - no components will display
Close the components tab
Open the components tab again, this time the the components show but the error shows on the right pane.

### How often does this bug happen?

Often

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

[2021-08-16 15:23] Adecodess commented on #15647
i am having this issue, i am using yarn and installed sheduler version 0.20.2 but the error still persist

[2021-08-16 15:24] bvaughn commented on #22099
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can al

[2021-08-16 15:24] bvaughn commented on #22099
More specifically, this field is asking for a website we can access. Just saying "a website we're developing for a client" doesn't get us any way to reproduce the issue.

[2021-08-16 17:16] nichoth opened #22101 "Bug:"
There is an inappropriate error generated: 'Each child in a list should have a unique "key" prop.' . This is not relevant in this situation because we are not rendering an array at any point in the react tree.

![image](https://user-images.githubusercontent.com/5776508/129602409-bf29fed4-1e4c-48c3-9fe6-f6a5f52bd24a.png)

React version:
"version": "17.0.2"

## Steps To Reproduce
It's easy to reporo

[2021-08-16 18:23] sskorol commented on #22099
@bvaughn just noticed the same issue with the following public app: https://omatsuri.app
I just opened the Components tab, selected an element via inspector, then clicked by the highlighted node in a tree.

![image](https://user-images.githubusercontent.com/6638780/129610830-5d90d858-2441-434b-a094-f2b30539f91f.png)

DevTools version 4.15.0-c6f2188ed

[2021-08-16 18:25] bvaughn commented on #22099
@sskorol Can you repro? I can't (on the website you linked)

[2021-08-16 19:18] sskorol commented on #22099
@bvaughn here's a link on video: https://drive.google.com/file/d/1imp0RKqYHDHtWUUX_92RUzNjFMY6mnCF/view?usp=sharing

[2021-08-16 19:20] SultanKh commented on #21746
thanks for your response,
it is a local internal side that I configured. react dev tool does not seem
to be responsive when i'm trying to inspect 'my elements'
thanks,
Sultan

On Thu, Jun 24, 2021 at 5:45 PM Brian Vaughn ***@***.***>
wrote:

[2021-08-16 20:03] forivall commented on #20162
I'm having this issue too.

[2021-08-16 20:14] bvaughn commented on #22099
A video link doesn't help us unfortunately. We need to be able to reproduce the error (so we can inspect the code and see what/why it's breaking).

[2021-08-16 20:38] sskorol commented on #22099
You can try pulling their source code and run it locally on the same browser / extension version. As I'm able to do that every time.

[2021-08-16 20:46] bvaughn commented on #22099
Unfortunately I already spent some time poking around on the page with DevTools, inspecting things, and was unable to reproduce the error.

[2021-08-16 21:06] bvaughn commented on #22101
The `dashboard` component in your application renders an array:
[code]

That being said, the DEV warning you're reporting does not reproduce when I checked out and run your code locally so it seems like there's something going on that's not committed or pushed to your branch.

[2021-08-16 21:06] bvaughn commented on #22101
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2021-08-16 21:06] #22101 closed

[2021-08-16 21:43] nichoth commented on #22101
Hmmm… confusing. I still get the bug btw after adding a 'key' to the dashboard. https://github.com/nichoth/roo/blob/bug/src/routes/dashboard.js#L94 . And why would you not get it when you run locally? What could be affecting that? I even did `rm -rf node_modules && npm i`.

I think I didn't look at that component because it throws on the `/update/i` route (where the dashboard is not used).

![imag

[2021-08-16 21:49] bvaughn commented on #22101
Unclear. I checked out the project, installed dependencies, started the DEV mode sever, and clicked around some without seeing any warning. That's about all the digging I have time to do.

[2021-08-16 22:01] bvaughn opened #22106 "DevTools: Scheduling Profiler: Better error message when no marks"
The scheduling profiler currently shows "unsupported version" message if you import a performance trace with no marks.

It incorrectly assumes the lack of an explicit version mark indicates an earlier version of the data which didn't include marks, but in the event that there are _no marks at all_ we should infer that a production version of React DOM was being used instead and show a different er

[2021-08-17 09:23] soaple commented on #21942
How about checking the type of 'place'?

[2021-08-17 09:34] adrianhelvik commented on #16873
I'd love to be able to add an annotation when importing the hook like this:

[code]

I would find this pretty useful for implementing stuff dealing with event handling so forth. Defining it when exporting would be even better, but I'd guess that is out of scope for Eslint.

[code]

[2021-08-17 11:54] Aniganesh commented on #22099
@bvaughn I have noticed this happens most often when I'm developing a react app and the app does a hot update because I just updated some code. On production websites it does not happen that often

[2021-08-17 12:36] meftunca opened #22111 "React 18 - object-assign must be removed dependency"
object-assign must be removed dependency

[2021-08-17 13:40] eps1lon commented on #20162
Thanks for the report.

Would you be willing to add a test to https://github.com/facebook/react/blob/bd255700d73ed5fa88f9e32fa4b43623679adf0c/packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js#L7612. Then one could pick up the work and fix the implementation.

[2021-08-17 13:42] eps1lon commented on #22111
Thanks for the feedback.

Could you clarify why the dependency must be removed? It has been a dependency since [15.x](https://www.npmjs.com/package/react/v/15.0.0).

[2021-08-17 13:51] bvaughn commented on #22099
@Aniganesh If you can come up with reliable steps to trigger it (even if they include running a dev server and editing files) I'd love to hear. I'd love to fix this bug.

[2021-08-17 14:23] bvaughn commented on #22111
As @eps1lon mentions, `object-assign` has been a `react-dom` dependency since 15.4.0 (released in November of 2016). It's a [very small](https://unpkg.com/object-assign@4.1.1/index.js) [ponyfill](https://ponyfoo.com/articles/polyfills-or-ponyfills) for [browsers that don't yet support `Object.assign`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#br

[2021-08-17 18:04] josepharhar opened #22113 "react-dom@alpha UMD bundle throws when rendering"
React version: 18.0.0-alpha-bd255700d-20210816 or main branch

## Steps To Reproduce

1. Use ReactDOM development from alpha version or main branch
2. Call ReactDOM.render() or ReactDOM.createRoot(...).render()

Link to code example: https://jsfiddle.net/jarhar/sLz2f5q1/
If you open DevTools you can see the error which is preventing rendering. If you change the scripts from development.js to produ

[2021-08-17 20:46] lunaruan opened #22115 "DevTools: Better Bundle Names for Dynamically Imported Modules"
In the DevTools extension, webpack currently uses an automatically assigned ID as the chunk name for dynamically imported modules (ie. `parseHookNames` and associated code will get bundled into `6.js`).

We've tried adding `chunkFilename: '[name].js'` to `output` in `webpack.config.js` and  magic comments (ie.`/* webpackChunkName: "parseHookNames" */`) to the dynamic import to fix, but neither wor

[2021-08-17 21:20] bvaughn commented on #22113
Looks like you're not loading the `scheduler` module in the linked Fiddle. Here's a repro that includes that module:
[code]
That being said, I see this error when trying the above:
[code]

The same code works fine when using a CJS build:
https://codesandbox.io/s/sad-brown-wcz1n

[2021-08-17 21:33] aditianshu commented on #22115
hey @bvaughn would like to work on this issue.

[2021-08-17 21:44] bvaughn commented on #22113
Inspecting the UMD bundles. Looks like the `ReactSharedInternals` object is different in a way that's unexpected.

React UMD bundle:
[code]

Also React UMD bundle:
[code]

ReactDOM is reading from `exports.__SECRET_INTERNALS_DO_NOT_USE_OR_YOU_WILL_BE_FIRED` but expecting values from `ReactSharedInternals` (specifically `ReactCurrentActQueue`).

[2021-08-17 21:48] bvaughn commented on #22113
So we end up with two "internals" object. One with these keys (which never gets shared outside of the module):
[code]

And one with these keys (which does get shared):
[code]

The difference in keys is that the exported object has `Scheduler` and the non-exported object has `ReactCurrentActQueue`. (Both are expected to be the same.)

[2021-08-17 21:48] bvaughn commented on #22115
@aditianshu This issue is all yours! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2021-08-17 21:50] bvaughn commented on #22113
Merging these two objects fixes the bundle (at least for my simple test app).

[2021-08-17 23:06] bvaughn opened #22116 "Benchmark alternative source-map parsing library"
The "named hooks" feature uses the `source-map` library to parse source maps. We should check out the ['source-map-js'](https://npmjs.com/package/source-map-js) fork. (Supposedly it's [a lot faster](https://github.com/postcss/postcss/pull/1515/).)

Let's benchmark the two and see if it speeds us up too?

[2021-08-17 23:24] bvaughn commented on #22113
Note to self (or anyone else who looks into this): The fastest way to test how a change to source impacts the UMD bundles is:
[code]

[2021-08-17 23:28] bvaughn commented on #22113
Small update:

The first `ReactSharedInternals` object (`ReactSharedInternals` in the bundle) comes from here:
https://github.com/facebook/react/blob/bd255700d73ed5fa88f9e32fa4b43623679adf0c/packages/react/src/ReactSharedInternals.js#L15-L26

The second `ReactSharedInternals` object (`ReactSharedInternals$1` in the bundle) comes from here:
https://github.com/facebook/react/blob/bd255700d73ed5fa88f

[2021-08-18 03:37] usrbowe commented on #22090
This would really helpful addition for React Native! 👍

Would it be possible to specify each needed data point?
I think we could use User Timing API as well, to collect the traces, since its already used for React markers (https://github.com/facebook/react-native/blob/main/Libraries/Performance/Systrace.js#L24).

For hermes, we should also be able to leverage this to gather profiling data: https:/

[2021-08-18 05:40] #22113 closed

[2021-08-18 06:48] Pranav127 opened #22119 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-08-18 06:49] Pranav127 opened #22120 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-08-18 06:49] Pranav127 commented on #22120
React version:

## Steps To Reproduce

1.
2.

Link to code example:

[2021-08-18 08:03] evansrobert opened #22121 "update fbjs to remove the vulnerability"
### Subject of the issue
**react@15.7.0** requires **node-fetch@1.7.3**, which has a security problem (see: [**CVE-2020-15168**](https://snyk.io/vuln/SNYK-JS-NODEFETCH-674311)):
`react@15.7.0 ➔ fbjs@0.8.17 ➔ isomorphic-fetch@2.2.1 ➔ node-fetch@1.7.3`

I do not know if this vulnerability actually affects **react**, but it will show up in security reports about dependencies. Since a large number of

[2021-08-18 08:53] eliyamelamed1 commented on #16416
Mind if I take this?

[2021-08-18 09:21] eps1lon opened #22122 "[DevTools Bug]: Cannot hover/click elements after scrolling"
### Website or app

https://9tdhf.csb.app/

### Repro steps

1. disable any component filter
2. scroll component tree
3. hover any element

https://user-images.githubusercontent.com/12292047/129872819-0e3c06aa-fc24-4c15-84c7-73940eb136b3.mp4

### How often does this bug happen?

Every time

### DevTools package (automated)

1d2528097

### DevTools version (automated)

4.16.0

### Error message (au

[2021-08-18 09:33] eps1lon opened #22123 "[DevTools Bug]: Profiler freezes when navigating through commits"
### Website or app

https://github.com/eps1lon/material-ui/tree/757f6cf571557f8b03a372db5c7cc1cf3837c944

### Repro steps

1. Enable chrome://flags/#enable-throttle-display-none-and-visibility-hidden-cross-origin-iframes
1. goto https://611f52616dca6500083055f2--material-ui.netlify.app/components/slider/#ContinuousSlider
1. record at least 2 commits via Profiler

The larger the component tree the

[2021-08-18 11:46] gaearon commented on #22121
No, it does not. React doesn’t use that module at all, so it’s not in your bundle. (Effectively it’s an unused transitive dependency.)

React 15 is many years old and the vulnerability is not real (it’s a false positive), so no, we won’t be patching this, sorry. Note that React 16 came out *four years* ago.

This is unfortunately the problem with the current design of `npm audit`.

[2021-08-18 11:46] #22121 closed

[2021-08-18 13:15] lin2code commented on #13991
![job1](https://user-images.githubusercontent.com/4160160/129904452-60333497-284c-40ea-a914-9ecbf26473a9.jpg)

[2021-08-18 14:38] mishrajisubhankar opened #22124 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-08-18 14:38] mishrajisubhankar commented on #22124
bug issuse

[2021-08-18 14:51] bvaughn commented on #22116
I took a look at this using some Facebook components and here are the results.

Parsing hooks for component A:
* `source-map`: 1726 ms
* `source-map-js`: 1772.5 ms

Parsing hooks for component B:
* `source-map`: 4627.3 ms
* `source-map-js`: 4198.8 ms

Still warrants more testing as this was very ad hoc, but initially the results don't seem that compelling.

[2021-08-18 14:52] #22124 closed

[2021-08-18 14:53] #22120 closed

[2021-08-18 14:54] #22119 closed

[2021-08-18 14:55] bvaughn commented on #22124
I'm closing this issue because it seems to have been opened by mistake. If you meant to open an issue, please feel in all of the required fields next time (describing the bug and how to reproduce it).

[2021-08-18 14:55] bvaughn commented on #22119
I'm closing this issue because it seems to have been opened by mistake. If you meant to open an issue, please feel in all of the required fields next time (describing the bug and how to reproduce it).

[2021-08-18 14:55] bvaughn commented on #22120
I'm closing this issue because it seems to have been opened by mistake. If you meant to open an issue, please feel in all of the required fields next time (describing the bug and how to reproduce it).

[2021-08-18 14:57] bvaughn commented on #22087
I'm going to close this issue for now. If you are able to reduce it to a repro without the full Google Maps API, please share it with me and I'll re-open and take a look. Thank you for understanding.

[2021-08-18 14:57] #22087 closed

[2021-08-18 15:30] SHROYETA20 opened #22125 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-08-18 15:30] #22125 closed

[2021-08-18 15:33] MikeMatrix commented on #20235
I just ran into this issue with react not specifying exports in `react@17.0.2`, which caused the build to fail using `next@11.1.0` in combination with `react-data-grid@7.0.0-beta.2`.
Issue described further in https://github.com/adazzle/react-data-grid/issues/2568#issuecomment-901165249

By using `yarn patch` to apply the fields described in https://github.com/facebook/react/issues/20235#issuecomm

[2021-08-18 15:53] jayeshmann commented on #20951
Any update on this?

[2021-08-18 16:01] bushblade commented on #20951
@jayeshmann you have the same issue? It still persists for me.

[2021-08-18 16:07] jayeshmann commented on #20951
No I don't have the issue. Did the firefox UI revamp fix it?

[2021-08-18 16:55] bushblade commented on #20951
Sadly not
![Screenshot_2021-08-18_17-52-30](https://user-images.githubusercontent.com/21976188/129940092-0f63b802-72de-4bc7-b7d7-1fb52c0a6374.png)

[2021-08-18 17:19] jayeshmann commented on #20951
Did you try resetting firefox?

[2021-08-18 17:32] bushblade commented on #20951
How do you mean resetting Firefox?

[2021-08-18 18:52] mrkev opened #22127 "DevTools: Standalone should support no connected clients"
Someone in my team shared a profile with me. I've never used the standalone app, but this sounded like a use-case for me. Why open Chrome and be limited by all the quirks of the panel there (by default attached to the frame, even when attached accidentally closing the tab closes the tools, etc) when I can just load it in the standalone app?

I installed it but unfortunately this is the screen I wa

[2021-08-18 20:20] compulim commented on #18098
I have created a minimal repro for this issue.

If `useEffect` was used to call setter of `useState` to set to a different value, on the next setter call, there will be a wasted-render.

[code]

[2021-08-18 21:05] meftunca commented on #22111
Thanks for the feedback.  The reason for removing the plugin is that now object.assign support is supported in all browsers so it doesn't need an additional plugin

[2021-08-18 21:21] bvaughn commented on #22127
The messaging on this splash page is pretty important. Maybe we could keep it, but somehow show it inside of the Components tab– and the Profiler tab could be functional in a read-only (import only) form.

[2021-08-18 21:56] daaasbu commented on #20235
Any chance you could add your whole webpack config?

I have this for my next config and it doesn't appear to work still:
[code]

[2021-08-18 22:33] bvaughn commented on #22111
As mentioned in my comment above (https://github.com/facebook/react/issues/22111#issuecomment-900343677) it's not supported by all browsers React supports (IE 11, Hermes) and so it's still around. We will likely remove this as part of the version 19 release, but probably not before then because we want to minimize unnecessary breaking changes.

I'm going to close this issue since there's no action

[2021-08-18 22:33] #22111 closed

[2021-08-18 22:37] mrkev commented on #22127
That sounds like a good idea, yeah. If the components tab is the one that shows first by default too, people wouldn't miss this information.

[2021-08-18 22:55] grncdr commented on #16873
Yes, at least as far as my ESLint skills go.

---

I'm curious, are you saying you are _only_ interested in solutions where you can annotate the static-ness in your source code? (instead of the ESLint config)

If you are ok with defining it in the ESLint config you would just need to switch to my fork and add this to your config:

[code]

[2021-08-19 04:26] jayeshmann commented on #20951
@bushblade You can try Safe/Troubleshoot Mode, but that probably won't let you run extensions.
Refer to [this link](https://support.mozilla.org/en-US/kb/refresh-firefox-reset-add-ons-and-settings) on Refreshing/Resetting Firefox.
For Additional Troubleshooting, check [this link](https://support.mozilla.org/en-US/kb/diagnose-firefox-issues-using-troubleshoot-mode)

[2021-08-19 05:15] Navaneethan2503 commented on #21416
i would like to work on this issue

[2021-08-19 06:50] ishmum123 opened #22131 "Potential expensive operation optimisation"
This seems to be an expensive operation -
https://github.com/facebook/react/blob/aa25824f3ebbdbbea01be48417f2f99251be1a12/packages/react-reconciler/src/ReactFiberTreeReflection.js#L325

used in loops in -

i) https://github.com/facebook/react/blob/aa25824f3ebbdbbea01be48417f2f99251be1a12/packages/react-reconciler/src/ReactFiberCommitWork.new.js#L322
ii) https://github.com/facebook/react/blob/aa258

[2021-08-19 07:32] eric-burel commented on #22078
I feel like we could benefit from an extend version of `useEffect` : `useEffect(cb, deps, triggers)`. An additional "triggers" array would allow us to run the callback when one of the trigger is changed, while having the correct exhaustive deps to define the callback itself.

[2021-08-19 07:46] eric-burel opened #22132 "Feature request: adding a `triggers` optional array to `useEffect`"
Currently, `useEffect` accepts an array of dependencies as its second parameters. It must be filled with all values used by the effect callback, to make the call consistent.

However, this array of dependencies have itself a side-effect... of triggering the effect.

Therefore, it is not really just a dependency array, but more a `dependenciesAndTriggers` array. This leads to confusion, and makes i

[2021-08-19 07:55] kravets-levko commented on #16873
Just my .02: with a config it's very easy to get code and config out of sync, especially if the team is big. Adding annotations to imports is also not great - if you update your hook you'll have to update all imports accordingly. Ideally the hook itself and its annotations should be in the same file (just as JSDocs for example).

P.S. What if I'll have multiple `useClosure` hooks in different fold

[2021-08-19 08:14] shimondoodkin commented on #21931
about the Twitter thread,

there was no significant reasoning against it. just associated thoughts, summary:

reasonings like 'use reducers instead' are not relevant, sure it is possible to put the value somewhere else anyway, the issue is more about convenience, expressiveness, flexibility.

there is no promise of in-order execution for a getState method, however, it is not expected from it.

[2021-08-19 09:35] roikoren755 commented on #20235
Keep in mind I didn't use next.js, but `webpack@4` directly. Try

[code]

[2021-08-19 10:42] grncdr commented on #16873
This problem already exists with the current eslint plugin:

[code]

I agree, but as explained multiple times in this thread this isn't possible as long as ESLint works on one file at a time. As before, I'd love it if somebody showed up and proved me wrong.

[2021-08-19 11:01] Sangrene commented on #22132
It might be great indeed to have a mechanism to control the ```useEffect``` trigger.
Either by passing a list of "triggers" as @eric-burel suggests or have a ```shouldTrigger``` function as ```useEffect``` last argument that takes the previous and next dependencies state array as argument and returns a boolean indicating wether or not the useEffect callback should trigger. A bit like ```React.memo

[2021-08-19 12:29] iunfixit commented on #22122
cant reproduce on windows, firefox or chrome, filters disabled

[2021-08-19 12:40] Albert-Jokelin commented on #19371
@bvaughn is #21166 still open?

[2021-08-19 12:42] eps1lon commented on #22122
Reproducing on Chrome Version 92.0.4515.131 Ubuntu 20.04. @iunfixit Which version of Chrome are you using?

[2021-08-19 12:47] iunfixit commented on #22122
92.0.4515.159

[2021-08-19 13:07] Madanaa commented on #11734
@bvaughn hi I am new here but I want to solve it.

[2021-08-19 13:10] eps1lon commented on #22122
Can reproduce on 92.0.4515.159 as well.

[2021-08-19 13:12] KutnerUri opened #22133 "refs for function components as first class citizens"
I'm looking everywhere, but I can't seem to find an official answer.

It seems `ref`s are discouraged, and developers are required to use `forwardRef`, or pass ref as a separate prop (i.e. `forwardRef={ref}`).
`ref` are very important when access to the DOM is required, usually when a measurement is needed.
Example usages include **tooltips**, graph nodes, animations, and dom observers.

For examp

[2021-08-19 14:36] bvaughn commented on #19371
Yes.

[2021-08-19 15:17] iunfixit commented on #22122
Chromium 92.0.4515.0 on Windows, I can try on Linux later but here it looks fine unless I'm doing something wrong

![DevTools](https://user-images.githubusercontent.com/89200249/130093869-daf3c6e9-ba2b-405b-a06e-4aa99c0bd1c8.gif)

<details>
  <summary>Completely unrelated and probably irrelevant but I noticed some of the divs show the children undefined prop, while others hide it</summary>

![Rand

[2021-08-19 15:28] bvaughn commented on #22122
@eps1lon and @iunfixit: Can you both check `chrome://flags/#enable-throttle-display-none-and-visibility-hidden-cross-origin-iframes` and see whether enabling/disabling this changes the behavior you're seeing?

[2021-08-19 15:29] bigbigDreamer opened #22135 "[DevTools Bug]: Context & useContext，some child component don‘t rerender，but highlight！"
### Website or app

https://codesandbox.io/embed/confident-kare-lzzko?fontsize=14&hidenavigation=1&theme=dark

### Repro steps

# Bug Desc: Context & useContext，some child component don‘t rerender，but highlight！

1. Open React Devtools
2.
![image](https://user-images.githubusercontent.com/39019913/130096406-39d5e903-b08c-48a0-ae3d-0cbd72ddb83d.png)
open highlight
3. click app button and watch high

[2021-08-19 15:34] iunfixit commented on #22122
Yes, enabling that also enabled the bug

[2021-08-19 15:44] bvaughn commented on #22122
Ugh :( That flag.

[2021-08-19 17:48] eps1lon commented on #22122
Just verified that I can also reproduce on windows

That's probably it. Can only reproduce the problem with the flag enabled.

[2021-08-19 18:29] shogunsea opened #22137 "[DevTools Bug]: Flamegraph section overflows and not resizable"
### Website or app

any site

### Repro steps

I have a page that has lots of component so the component tree is pretty long, when I profile on it, the flamechart just overflows by default and I have to put it fullscreen to see the "why did this render" side bar
![image](https://user-images.githubusercontent.com/2238944/130124388-4dc40efd-b8a0-4a03-aacf-3d8bc6d64990.png)

### How often does this b

[2021-08-19 18:30] #22137 closed

[2021-08-19 18:34] shogunsea opened #22138 "[DevTools Bug]: Flamegraph section overflows and not resizable"
### Website or app

https://stackoverflow.com/help/minimal-reproducible-example

### Repro steps

note: the URL I linked is not relevant and only meant to make the bug report submit pass, previously closed [here](https://github.com/facebook/react/issues/22137) since I couldn't find any production site with a *development* build, so I don't think it makes sense to outright fail bug reports for reac

[2021-08-19 19:02] anshul2807 commented on #22138
I'm Working on this Issue.. Can you explain me in brief about the issue?

[2021-08-19 19:30] Aprillion commented on #20339
The warning was removed in #22114 => closing this issue.

[2021-08-19 19:30] #20339 closed

[2021-08-19 19:41] Albert-Jokelin commented on #19371
I want to work on this.

[2021-08-19 19:43] bvaughn commented on #19371
This issue is all yours, @Albert-Jokelin! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2021-08-19 19:44] streetcredmusicgroup commented on #19371
Ok

On Thu, Aug 19, 2021 at 3:41 PM Albert Jokelin ***@***.***>
wrote:

[2021-08-19 19:45] raix commented on #20235
@nstepien do you know if there are any pull-requests open for backporting the fix to v17 & v16?

[2021-08-19 20:02] nstepien commented on #20235
Not that I know of.

[2021-08-19 20:06] iunfixit commented on #22123
I cannot reproduce this(the crash) but I experience some freeze periods when changing commits, I tried `localhost:3000/components/slider` on Linux with Brave and on Windows with Chromium, both have a little freeze when changing commits, the machines are different and it is worse on the Linux one. The bigger the viewport, and when scrolling down, showing more components, the slower it gets.

[2021-08-19 20:10] iunfixit commented on #22122
When testing on the Windows machine I noticed the same happening on the components tab too, in case its relevant

[2021-08-19 20:56] bvaughn commented on #22122
I have an in-progress fix (#22141) but it is not currently working for Firefox (extension only). Still debugging.

[2021-08-19 21:19] lunaruan commented on #22135
Hey! Thanks for reporting!

 What you're seeing is not actually a bug. In your app, `AppProvider` rerenders in response to count updating as a result of the button click, and it is the parent of `child1` and `child2`, which is why you are seeing both highlighted. Closing this issue but feel free to reopen if that doesn't answer your question!

[2021-08-19 21:19] #22135 closed

[2021-08-19 21:55] bigbigDreamer commented on #22135
no！no！no！It‘s really a bug， @sunny @henrik @wvl @lunaruan
![image](https://user-images.githubusercontent.com/39019913/130149196-3e7442b2-936b-4b73-88ac-a76e8c924bf1.png)

I understand how React Context works. You can watch the changes to the component variable A, the child component A is really not updated, and render. For ContextProvider, props. The same as ever! Your explanation does not convinc

[2021-08-19 21:58] bigbigDreamer commented on #22135
@bvaughn Can you take a look or explain

[2021-08-19 22:07] bvaughn commented on #22135
Please be respectful. Luna's explanation was correct.

DevTools highlights which parts of the page that re-rendered. If only one of he child components re-rendered, only that component would be highlighted. Since the _parent component_ re-rendered, the DOM it (and its descendants) output gets highlighted. (This _includes_ the child components.)

The same is true if you select the parent component

[2021-08-19 22:10] bigbigDreamer commented on #22135
I'm sorry. I was a little overreacting,

But I'm using context to wrap it, and the context rule skips updates, so for Child A, there's no rendering, even if the parent is updated. Can you take a minute to look at my source code on the Code Sandbox

[2021-08-19 22:14] bvaughn commented on #22135
I've looked at your source code. I think you're misunderstanding my explanation though.

Select the `ContextProvider` component in DevTools. You will see this:
<img width="811" alt="Screen Shot 2021-08-19 at 3 11 49 PM" src="https://user-images.githubusercontent.com/29597/130151082-fb176e32-2267-4ba0-b27b-2596192eaf2f.png">

Notice that DOM elements created by both `Child1` and `Child2` are highli

[2021-08-19 22:17] bigbigDreamer commented on #22135
I probably understand your explanation and thank you for your answer, but this behavior is really confusing because it does seem weird (or confusing) to be doing some recent performance tuning to determine if a component is being rerendered based on highlighting.

[2021-08-19 22:18] bigbigDreamer commented on #22135
I probably understand your explanation and thank you for your answer, but this behavior is really confusing because it does seem weird (or confusing) to be doing some recent performance tuning to determine if a component is being rerendered based on highlighting.

[2021-08-19 22:25] bvaughn commented on #22135
To my knowledge, this is how the feature has worked since it was added originally. So it's not a _bug_, although I understand your POV about it being confusing.

I'd be happy to look at a PR that changes this behavior. Would you be interested in working on one?

We have a pretty good getting started guide:
https://github.com/facebook/react/blob/main/packages/react-devtools/CONTRIBUTING.md

[2021-08-19 22:29] bigbigDreamer commented on #22135
I guess I can give it a try.

Although originally designed this way, the value of the tool is really confusing for the way it works, because the presentation and the reality are really different, which inevitably leads to some misdirection

[2021-08-19 22:55] bvaughn commented on #22135
One thing to keep in mind is that even components that don't _directly_ render DOM elements _can be slow_. If we didn't show any highlight for such a component, then it might be confusing in the opposite way. (An app rendered but no highlight was shown.)

[2021-08-19 23:00] lunaruan commented on #22123
Hey! Thanks for reporting!

I followed along with your repro steps but I also can't reproduce this issue. Do you have different repro instructions? Alternatively, you could try to submit a fix if you're up for it! 😊

[2021-08-19 23:01] bigbigDreamer commented on #22135
Yes, I agree with your point of view, I think this kind of scene of mine should belong to the minority, and it is correct to meet the needs of most scenes. This problem should be defined as a need for optimization, and it really does not belong to the category of bugs.

[2021-08-19 23:04] bvaughn opened #22143 "DevTools scroll-to error or warning feature broken"
Not sure when this happened, but the feature got broken:

https://user-images.githubusercontent.com/29597/130155150-18fbca13-42d7-4d7d-831e-8db4a9672d94.mp4

Using the up/down arrows to navigate the list works fine, but jumping to the next/previous component with a warning or error doesn't quite work correctly. (The scroll offset is wrong so the component is often not visible.)

[2021-08-19 23:06] bigbigDreamer commented on #22135
I need to explain that "as always" here refers to component updates, not your answer. My English level is indeed a bit poor, please don't misunderstand, I don't fully understand Luna's answer.

Even so, it is necessary to say sorry to Luna. @lunaruan

At the same time, I am very grateful to both of you for answering in your busy schedule.

[2021-08-19 23:10] bvaughn commented on #22135
🙇🏼

[2021-08-19 23:19] lunaruan commented on #22138
Hey! Thanks for reporting!

I tried profiling an app with a large component tree but unfortunately I can't repro this issue. Could you provide a more concrete repro case?

![image](https://user-images.githubusercontent.com/2735514/130156220-f953dc4c-5842-4eb7-86e5-742348cc0ee1.png)

[2021-08-20 01:22] iunfixit commented on #22143
I cannot reproduce this unless I'm doing something wrong, tested with errors here

![ErrorJump](https://user-images.githubusercontent.com/89200249/130164076-4e9bd9f1-8360-41a2-9743-c363907c9161.gif)

The part where it is selected outside of the view is because of the recording, it never goes behind the console

[2021-08-20 03:40] bvaughn commented on #22143
I wonder if this is related to a Chrome experimental flag? I can repro in both Chrome stable and canary.

[2021-08-20 03:45] bvaughn commented on #22138
@shogunsea Since we can't repro this, it would be helpful for you to provide more details about your system: operating system and version, browser and version, DevTools version.

[2021-08-20 07:08] shogunsea commented on #22138
@bvaughn @lunaruan @anshul2807 thanks for following up!  I think this might be some tricky edge cases 😬  it actually works as expected if I profile on a **development** build, but rather it happens when I enabled the profiler on a production build.

So I have two hypotheses , either 1) this issue happens on a production build with profiler enabled (as instructed by @bvaughn 's [this post](https://

[2021-08-20 07:23] eps1lon commented on #22123
To clarify what I mean with crash: It freezes until Chrome tells me that the (devtools) page is unresponsive. Upon closing, Chrome notifies me that the extension crashed.

May I ask the people who cannot reproduce to include their CPU information? I'm using a Intel(R) Core(TM) i5-9400 CPU @ 2.90GHz which should be sufficient. Maybe throttling locally helps to reproduce the bug.

To reproduce pleas

[2021-08-20 07:24] eps1lon commented on #22123
Ok I just disabled chrome://flags/#enable-throttle-display-none-and-visibility-hidden-cross-origin-iframes and can no longer reproduce the issue.

[2021-08-20 07:41] NoobMaster1999 commented on #22123
I reproduce this issue. Can I solve this issue??

[2021-08-20 07:51] eps1lon commented on #22143
I can reproduce on Version 92.0.4515.159 (Official Build) (64-bit) (with and without our good friend "Throttle non-visible cross-origin iframes" enabled).

Though it does scroll. It just is a bit offset. It also seems to work on upward movement if the current node is already in the frame.

Notice how the scrollbar actually moves:

https://user-images.githubusercontent.com/12292047/130199347-50bf57

[2021-08-20 08:29] eps1lon commented on #22143
I can fix it locally with

[code]

It seems to me that the calculations for the positions are off since `'start'` will keep the current item a bit below the center of the viewport.

[2021-08-20 08:38] voliva commented on #22132
I don't fully understand how this would help though. React doesn't need to know what does that effect depend on. The list of dependencies is just to prevent stale variables to surface up because of how Javascript closures work.

This sentence right here `The callback is still correctly updated whenever a dependency change, but not run` doesn't make sense to me.

How would this work?

[code]

If `i

[2021-08-20 10:22] iunfixit commented on #22143
I only tested with the default instead of enabled, because when it is enabled it freezes everything, I am using Brave 1.28.105 Chromium: 92.0.4515.131, DevTools version 4.16.0-1d2528097
I also notice sometimes the tool doesn't work, unless I change the code and it hot reloads

![ErrorJumpNotShowing](https://user-images.githubusercontent.com/89200249/130218500-4e2e1f55-fbe0-498e-acc7-c23ef33e0a0f.g

[2021-08-20 14:56] bvaughn commented on #22138
@shogunsea You haven't shared your code with us, I think. (So we can't run your custom production build setup.) Can you share it?

[2021-08-20 15:55] #22143 closed

[2021-08-20 16:28] lunaruan commented on #22123
I'm testing on a Mac Big Sur 2.9 GHz 6-Core Intel Core i9 processor on chrome version 92.0.4515.159. I tried throttling and force enabling  `chrome://flags/#enable-throttle-display-none-and-visibility-hidden-cross-origin-iframes` and I still can't reproduce this issue.

What browser version are you on?

[2021-08-20 16:44] eps1lon commented on #22123
That's odd.

Same as yours.

I can't reproduce it on Windows 10 but on Ubuntu 20.04 (same machine).

I'll keep the throttling flag disabled for now. Hopefully this just goes away over time with some Chrome/OS patch.

[2021-08-20 17:14] Pankajadhana97-bit commented on #11734
function App() {
  return (
    <div>
      <textarea defaultValue={() => {}} />
      <textarea value={() => {}} />
      <textarea value={Symbol("test")} />
    </div>
  );
}

[2021-08-20 18:08] lunaruan commented on #22123
Sounds good. We'll keep on the lookout for similar issues 😊

Closing this for now. If you keep seeing the issue and have some time to investigate, we'd really appreciate it!

[2021-08-20 18:08] #22123 closed

[2021-08-20 18:29] lunaruan commented on #21636
I'm able to periodically reproduce this bug, so I can take a look!

[2021-08-20 19:03] Shrugsy commented on #22132
I'm not sure if I'm missing something in the explanation,  but how would this be different to merely omitting dependencies from the dependency array?

e.g.
[code]
where triggers is actually missing some dependencies.

*note: I don't advocate omitting dependencies from the dependency array*

[2021-08-20 19:15] Shrugsy commented on #22002
Do you have a more complete example? `prevCount` isn't used in your example besides being logged, and `color` could be a derived value instead of state, so I can't see a justification for setting state in the render body.

[code]

[2021-08-20 19:23] JoshuaKGoldberg commented on #16366
@threepointone if you'll pardon my forwardness, I really think this issue should be opened and re-considered.

It's reasonable that some components start up asynchronous behavior via a `useEffect` or similar hook when they're first mounted, such as `react-hook-form`. See https://react-hook-form.com/advanced-usage > _ Resolving act warning during test_.

TypeScript's use-before-assign checks by def

[2021-08-20 19:25] Attrash-Islam commented on #22002
The way you're suggesting is legit for this simple example but it's irrelevant for bigger state management solutions.

See `react-wisteria` - A state Management I built on this abstraction where you can connect to this derived state so you need it as a part of the state.

[2021-08-20 19:37] Shrugsy commented on #22002
I'm not seeing the need for it to be 'derived state' as opposed to a 'derived value' still. You can still derive the value from your state high up, then provide it via your context provider value. That allows deeper components to access it via the context.

[2021-08-20 19:42] Shrugsy commented on #21999
I'm having a bit of trouble determining exactly what you're referring to as an issue here; I don't think there is any issue with the library itself related to this.

You can do this for your situation:
- memoize `getData` with `useCallback`
- include `getData` as your dependency

[code]

[2021-08-20 19:56] Attrash-Islam commented on #22002
Yes, but you don't want to calculate it in each render because of that I'm using the prevValue as in the example link above. Also, prevCount is not used only for logging

[2021-08-20 19:58] Shrugsy commented on #22002
I would use `useMemo` in that case. I'll leave it for others to discuss further

[2021-08-20 22:30] shogunsea commented on #22138
@bvaughn sure can do, however the setup is tightly coupled to our prod app (therefore the hack 😅 ), I'll try to build a mini app to reproduce the issue, will ping you once I can share it.

[2021-08-20 22:40] Ontopic opened #22149 "Expecting hasShadowRoot from global scope"
Think hasShadowRoot was added with a debug flag for ```if (CHROME &&  hasShadowRoot)```. This breaks Chromium builds in Chrome and Electron.

For anyone riding the 18 wave;

[code]

To be cleat; those are just temporary quick fixes to keep 18 juices flowing. Not recommended for production.

[2021-08-20 22:56] bvaughn commented on #21986
Related CR bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1241986

[2021-08-20 22:56] bvaughn commented on #22122
Related CR bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1241986

Haven't been able to repro this specific issue yet.

[2021-08-21 05:55] byronluk commented on #22106
Hi @bvaughn, mind if I pick this up?

[2021-08-21 17:11] bvaughn commented on #22106
Sure thing, @byronluk.

[2021-08-21 19:37] campbellgoe commented on #15486
Finally, as the above comments found a solution: to use event.preventDefault() inside an onClick on the summary element, here is the code.
You must also specify the open attribute on the details element, and have no open attribute not even `open={false}` and therefore use `{...(open ? { open: true } : {})}`.

[code]
Usage:
[code]

See working / edit the code: https://codesandbox.io/s/beautiful-bor

[2021-08-21 19:48] ryota-murakami opened #22152 "[Blocks Fixture] Migrate to built-in <Cache> API and regression test"
# Summary
This is task list issue.
"Blocks" fixture app which made by [built-in <Cache> API](https://github.com/reactwg/react-18/discussions/25), 'react-fetch', [Server Component](https://reactjs.org/blog/2020/12/21/data-fetching-with-react-server-components.html) combination that useful to play new features v18 later.

But current one is broken because importing removed older Cache API module.
An

[2021-08-21 20:45] abdoutech93 commented on #15201
I testing react 18 with redux 7 with connect. to improve my app performance I'm trying Suspense but I'm getting some runtime exceptions like : startTransition is not a function.
this is a test with redux and it's getting the same exception I mentioned : https://codesandbox.io/s/test-redux-in-concurrent-mode-with-react-redux-pytbh

[2021-08-21 21:23] byronluk commented on #22106
Thanks!

Regarding your comment-

do you mean no marks that were generated by React? (just want to double check since I'm not too familiar with the devtools profiling 😅).

If so, I'm thinking the best way to check for this is to see if any React-related profiling data was generated in `profilerData`-
https://github.com/facebook/react/blob/f51579fffeac46a783f765786f5287644b1fa7eb/packages/react-dev

[2021-08-22 05:40] bvaughn commented on #22106
Yes. So a browser performance trace was recorded from a site running the React production bundle (no profiling features enabled) or even a website that wasn't using React at all.

[2021-08-22 07:07] Padmanabh82 opened #22153 "React 18 and next.js"
react is so plain.we have to write bunch of code for small things, so i think react should include all functions (code) of next.js, for one or two functionality we have to change whole framework or make a new project and write whole bunch of code for it and there many opensource frameworks like next.js from which we can borrow functionality and improve react.if you are agree with me, its my pleasu

[2021-08-22 09:19] hejialianghe commented on #22055
resolved

[2021-08-22 13:30] garykhong commented on #17997
Hello,
Can I lend a hand with this issue, or is it being looked after?  I don't mind testing the PR as well.

[2021-08-22 13:51] kkanekii commented on #22055
@hejialianghe any issues?

[2021-08-22 14:46] eps1lon commented on #22055
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-22 14:51] hejialianghe commented on #22055
It's been solved . This error is because I'm doing dispatch in useMemo

[2021-08-22 14:51] #22055 closed

[2021-08-22 15:03] tb47 commented on #21999
You cant refer to data comming from the Context without getting Eslint-Exhaust deps error.

[2021-08-22 15:24] mzvast commented on #22097
## render phrase

Since your component's child has no key,  [reconcileSingleElement](https://sourcegraph.com/github.com/facebook/react/-/blob/packages/react-reconciler/src/ReactChildFiber.new.js?L1141:1) will tag your image fiber as DELETION and create a new fiber as return.

When running [beginWork](https://sourcegraph.com/github.com/facebook/react/-/blob/packages/react-reconciler/src/ReactFiberB

[2021-08-22 16:22] markerikson commented on #15201
Answered @abdoutech93 's question over in the React-Redux repo. The issue is the sandbox was not updated to match the recent flipped order of return values from `useTransition`, and has nothing to do with Redux or React-Redux.

[2021-08-22 17:28] bvaughn commented on #17997
@garykhong Feel free to take a look!

[2021-08-23 04:39] byronluk commented on #22106
Thanks for the guidance!

Since `laneToReactMeasureMap` gets pre-initialized with values here:

https://github.com/facebook/react/blob/045156ca6c13cc421f7991a55cdfeb9c1bca6762/packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js#L848-L851

I ended up checking `batchUIDToMeasuresMap` instead. It was simpler this way and I figured it has the same effect since both maps end

[2021-08-23 06:17] Padmanabh82 commented on #22153
Please tell why are people dislike it

[2021-08-23 06:17] Padmanabh82 commented on #22153
If there are any negative point tell me

[2021-08-23 07:22] eric-burel commented on #22132
@Shrugsy I can't tell just from my CodeSandbox. It works as expected. However I guess in some scenarios the latest `lastClick` could be triggered with a stale `onChange`? Also the documentation is against this pattern, even though after reading it a few time it's still not completely clear to me.

@voliva Much thanks for the detailed answer. I think the missing piece here is how `useEffect` work.

[2021-08-23 09:23] grantila opened #22159 "Bug: Allow multiple instance of React (or inject one into the other)"
_FYI; Not sure if this is a bug or a feature request. It's a problem that is surprising when it happens, and there's no workaround I'm aware of._

Now that since 17, React is supposed to more easily be upgradable in that using components from an older/newer React in a different version will still work (and be supported), **the ability to run multiple instances concurrently** should be approached a

[2021-08-23 10:07] vishal5251 commented on #22152
I want to work on this issue could you please explain a bit more about this issue.

[2021-08-23 11:16] grantila commented on #22159
For some extra context, it **is** possible to hack around this, but there's no official "supported" way, which is what I'm after.

In the example above, when fetching React from a `<script>` tag, it'll add itself to `window.React`, so that **is** overwriteable (as long as you overwrite it *after* it's been adding itself to `window` obviously). But is this supported?

When building a web app with w

[2021-08-23 11:47] HonbraDev commented on #22099
I think I just reproduced it with my website.
![image](https://user-images.githubusercontent.com/54026315/130441513-4d7d0584-3ff6-4a99-99a4-df246ea77bcb.png)

Here are the reproduction steps:

1. Go to <https://timetable.honbra.com/>
2. Open React devtools
3. Open the devtool settings and disable the default component filter
4. Select the "b" root element

[Here](https://youtu.be/4lhaT62nmfA) is a

[2021-08-23 14:54] bvaughn commented on #22099
Interestingly, this did not reproduce the error for me when I first tried it. Then I went to record a video showing that it worked and the second time, it _did_ reproduce for me.

[2021-08-23 14:56] bvaughn commented on #22106
Good call

[2021-08-23 15:24] prometheas commented on #18841
Bump, please.

[2021-08-23 16:39] jestrickler commented on #20131
@gaearon I don't understand closing this due to reproducing without a 3rd party library, when the issue is a react 17 project using a react 16 library. Seems like there are multiple examples of this mentioned. I have a homegrown library that I've used in a couple react 16.13.1 projects and it works fine. I just tried to pull it into a new project that is 17.0.2 and hit this error exercising the co

[2021-08-23 17:39] thisRaptori commented on #22153
One of React's strengths is that it provides a relatively small API, and lets you build what you need on top of that.

Take the things you're asking for as an example: for my job, we would not need any of them, so adding them to React would add more weight to the library (more to learn, more code to ship to the client, etc) without providing us any value. The same applies to things which would hel

[2021-08-23 18:34] gaearon commented on #22153
Hi, thanks for the suggestion! Like @thisRaptori says, we see value in people using React in different ways. I suggest you to start your projects with Next.js since it fits your purposes well.

[2021-08-23 18:34] #22153 closed

[2021-08-23 23:01] bvaughn commented on #22099
I believe #22160 fixes this.

[2021-08-23 23:22] #22099 closed

[2021-08-24 02:09] yqz0203 commented on #11527
mark

[2021-08-24 03:26] estebanmino commented on #20454
thanks @alliuca! for me, just the first two steps worked on my M1 machine
- Install Electron 11 globally npm i -g electron@11.1.0
- Install react-devtools without the binary download ELECTRON_SKIP_BINARY_DOWNLOAD=1 npm i -g react-devtools@"<4.11.0"

[2021-08-24 06:27] sdkdeepa opened #22162 "Unable to use React developer tool in Chrome and FireFox"
![Screen Shot 2021-08-23 at 11 26 18 PM](https://user-images.githubusercontent.com/19764585/130566977-2ed9d673-3155-46d3-afed-9129258afd13.png)

![Screen Shot 2021-08-23 at 11 26 43 PM](https://user-images.githubusercontent.com/19764585/130567038-a957f73c-8c87-4549-b057-74a4264b1e72.png)

[2021-08-24 06:32] wwxu99 commented on #20162
Hello, we are a group of researchers developing machine learning techniques to locate issues suitable for newcomers, and our model consider this issue as likely a "good first issue". May we recommend you to label it as "good first issue" so newcomers know where to choose?

Thank you!
@eps1lon

[2021-08-24 10:14] behnammodi opened #22163 "RFC: useStateRef"
Unfortunately, I couldn't find the best place to ask about that:

I start with an example:
[code]

Imagine we have the above code, what is a problem? problem is React runs `useEffect` inside function every time `count` changes, but might we don't need to know updated count's value until `visibilitychange` event happens.

we can have a new hook like this:
[code]

and we can change exmaple code to t

[2021-08-24 11:39] anshul2807 commented on #22163
Is this still an issue?

[2021-08-24 11:42] behnammodi commented on #22163
are you joking?

[2021-08-24 11:43] anshul2807 commented on #22163
I'm Not.

[2021-08-24 11:46] behnammodi commented on #22163
Yes this is an issue

[2021-08-24 11:48] anshul2807 commented on #22163
All right..
Can I work on this issue.. If you don't mine.

[2021-08-24 11:51] behnammodi commented on #22163
I'm not React Core Team member, you should ask React Core Team member

[2021-08-24 11:52] anshul2807 commented on #22163
Alright.

[2021-08-24 12:02] Albert-Jokelin commented on #19371
@bvaughn My account with CircleCI doesn't allow me to test the pipeline completely (get stuck at the paywall), is there anyway where I could use React's pipeline?

[2021-08-24 13:20] sskorol commented on #22099
@bvaughn great news! When do you expect to release a new version?

[2021-08-24 14:26] SRachamim opened #22164 "Bug: Types should not use the `any` type hack"
_React_ types use `any`. For example, `useCallback`:

[code]

The `any` is a workaround to turn-off the type system. I don't expect 3rd party libraries to use it. Even when this type is to the right of `extends`, it ruins the type-inference and could leak to the consumer.

For example, here is a code that will compile even though it has runtime error. It compiles since _TypeScript_ inferes an `any

[2021-08-24 14:41] bvaughn commented on #22099
Planning a release today.

[2021-08-24 14:41] bvaughn commented on #19371
@Albert-Jokelin Creating a PR on this repo (even just a Draft PR) should enable that, no?

[2021-08-24 17:06] jmcreaney opened #22166 "Close my error"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-08-24 17:15] eps1lon commented on #22166
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-08-24 18:57] #22166 closed

[2021-08-24 18:57] bvaughn commented on #22163
There's a separate area for RFCs:
https://github.com/reactjs/rfcs#react-rfcs

Seems like this issue should be opened there?

[2021-08-24 18:59] bvaughn commented on #22162
The "page" in question is a blank tab, right? The React DevTools extension can't run on a blank tab (nor any extension to my knowledge).

[2021-08-24 19:00] anshul2807 commented on #22163
But we also need to PR for this repo also...

[2021-08-24 19:14] behnammodi commented on #22163
Thanks, @bvaughn, I couldn't find it, but anyway  I will open this issue on there

[2021-08-24 19:40] VibhorCodecianGupta commented on #21983
Hi @bvaughn
Has this been addressed in #22126 ? Seems like the runtime dependency on the WASM bundle isn't required anymore with `source-map-js`. If that is so, can RN and Code Sandbox utilise this functionality yet?

[2021-08-24 19:46] johnrom opened #22168 "[Feature Request][eslint-plugin-react-hooks] no-ref-checks, display error when using useRef's return value as condition"
https://github.com/reactjs/rfcs/issues/198
https://github.com/yannickcr/eslint-plugin-react/issues/3042

Not sure whether this belongs in `eslint-plugin-react-hooks` or `eslint-plugin-react`, but a contributor at the latter suggested this to be a more appropriate place. I've opened an issue instead of an RFC to discuss whether this is the appropriate place. https://github.com/yannickcr/eslint-plug

[2021-08-24 19:52] bvaughn commented on #22163
Thanks! I'll close this issue then.

[2021-08-24 19:52] #22163 closed

[2021-08-24 19:54] bvaughn commented on #21983
There are plans to add support for inline and standalone packages soon.

[2021-08-24 21:25] amanmahajan7 commented on #21830
That makes sense. I wanted to confirm if this a bug or expected behavior or if it is a limitation.

[2021-08-24 21:25] #21830 closed

[2021-08-24 22:53] bvaughn commented on #22164
TypeScript types for React are not maintained by the React team. They live in the DefinitelyTyped repository, here: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts

You should probably file this issue in that repository:
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/new

(Or create a Pull Request!)

[2021-08-24 22:53] #22164 closed

[2021-08-24 23:07] garykhong commented on #17997
Thanks Brian.  Something came up, and I will try to look at this on the weekend.  Do you have a guide on how I can debug the react dev tools?

[2021-08-24 23:08] bvaughn commented on #17997
Just the contributing guide:
https://github.com/facebook/react/blob/main/packages/react-devtools/CONTRIBUTING.md

[2021-08-25 04:31] LoganDark commented on #12051
Is this work complete, or where can I hear about it? Because I'm running into a problem where I want to implement a right click menu, but don't want to spam random wrapper elements around, and also don't want to put a handler on the body because that would mean I couldn't use contexts for right click menu items... it's honestly a whole mess

[2021-08-25 06:05] nidhijeena commented on #22054
I opened the above project and i am not able to find any error in console.
![Screenshot (1340)](https://user-images.githubusercontent.com/52296061/130735260-966cdd68-6bb9-4200-8df7-eb76942095d2.png)

[2021-08-25 06:08] nidhijeena commented on #22054
I am not able to found any error on console.
![Screenshot (1342)](https://user-images.githubusercontent.com/52296061/130735570-953b85c3-ed00-4ae0-89c8-aca14078376f.png)

[2021-08-25 06:48] Padmanabh82 commented on #22153
@thisRaptori sir as you tell this will add more weight on react we can use it on import system like we can import any function if we want and we can remove things that we don't want

And I only 1 peace in world

[2021-08-25 07:22] eps1lon commented on #22168
Since you're using TypeScript, have you tried the [`@typescript-eslint/no-unnecessary-condition`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unnecessary-condition.md) rule from `@typescript-eslint/plugin`? This rule should catch the problems you're describing.

[2021-08-25 11:09] Nzent commented on #15187
![image](https://user-images.githubusercontent.com/26079832/130780164-e553663f-3333-4364-b90c-02f45d018dca.png)

Still getting this error on Next.js + Tailwind dark mode 😟

[2021-08-25 13:46] johnrom commented on #22168
I think I use the base recommended settings, so that sounds like a possible solution. The fact that the rule is not enabled by default is a bit concerning, and it doesn't seem like it would be the safest to implement retroactively on every project. The rule itself would require a dev to remove safeguards from their project (or add a bunch of ignores) that may cover incorrect types and may introduc

[2021-08-25 15:44] kwburnett commented on #7711
I'm not sure how performant this is, but one workaround is to add a check somewhere of whether the target element is disabled. For example, `e.target.closest(':disabled')` will return the target itself for the children that still bubble up the event of disabled `fieldset` elements.

I forked @RobinMalfait 's repo to share an example of the workaround.
https://codesandbox.io/s/peaceful-heisenberg-u

[2021-08-26 06:45] theninthsky opened #22178 "[Proposal] useState should return a reset function"
I think useState should return a third parameter (function) that will reset the state value to it's initial state.

[code]

Thanks.

[2021-08-26 13:25] fiskpatte opened #22179 "[Proposal] allow shorthand props"
I do this all the time:

`<ComponentName propA={propA} propB={propB} propC={propC} />`

and would love to do

`<ComponentName propA propB propC />`

It currently only works with boolean values.
Can it be fixed for all?

[2021-08-26 17:50] #22178 closed, assigned to nobody

[2021-08-26 18:13] thuongSyn opened #22183 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-08-26 18:22] #22183 closed, assigned to nobody

[2021-08-26 18:23] #22179 closed, assigned to nobody

[2021-08-27 09:22] wgxh-cli opened #22186 "Bug: Context updated but components doesn't"
React version: Latest

## Steps To Reproduce

1. Create a context and provide it.
[code]
2. Create `Counter` component.
[code]

## The current behavior
After click the add button, it will show 2.

## The expected behavior
It show 1, but context updated.

[2021-08-27 09:39] sanjeevkumarray opened #22187 "Bug: Cannot set property 'memoizedState' of null"
Do you want to request a feature or report a bug?

A bug?

What is the current behavior?

Cannot set property 'memoizedState' of null

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (ht