[2016-06-29 00:27] zpao commented on #2250
`<style>` needs to use `dangerouslySetInnerHTML` (and you probably always needed to if you were putting them inline).

[code]

[2016-06-29 00:31] gaearon commented on #5468
Fixed in #6316

[2016-06-29 00:31] #5468 closed

[2016-06-29 00:31] olalonde commented on #7142
I'm using this as a temporary fix:

[code]

[2016-06-29 00:41] gaearon commented on #6472
This is very helpful info, thanks for sharing! Maybe somebody else will be able to use it to publish a case reproducing on Androids.

[2016-06-29 04:15] ragebiswas commented on #6253
+1 to this proposal. A place where this is incredibly useful is when you're getting some cooked HTML from the server and displaying inside a React component. Right now, I have no clean way of treating links inside such HTML to be caught by react-router, and I wish I could just dangerously-set `<Link>` components.

[2016-06-29 04:47] yihangho opened #7144 "Type of input field is not correctly updated in Safari"
**Do you want to request a *feature* or report a *bug*?**

This is a bug report.

**What is the current behavior?**

In Safari, the type of input field is not updated properly. Consider the example linked below. It is a React component that display a button and an input field. The type of input field will be toggled between file or text by clicking the button. The change of input type is not being

[2016-06-29 07:31] syranide commented on #6253
Now that we are using comment-nodes to delimit text-nodes, perhaps we could use the same principle but simply render raw HTML instead of text. If we replace everything between the comment nodes when the HTML is updated then it should be safe (SSR is always dangerous with malformed HTML, but that's already an issue).

[2016-06-29 07:42] syranide commented on #7144
This affects other browsers too, notably IE8 (and more?) which will actually throw an error if you change the type #2242. IMHO changing type should be equal to changing component type and remount entirely, changing the type but keeping "state" doesn't really make sense. I would even assume that whenever you see this it means you are missing a `key` somewhere.

[2016-06-29 08:49] grassator commented on #7142
@olalonde I would say it's an expected behavior since React batches updates to DOM with RAF.

You can probably use `forceUpdate` for this. A better way probably would be to use `componentDidUpdate` to remove the class there.

[2016-06-29 08:54] sulinixl commented on #2982
@dhruvasagar
Did you use `cloneWithProps` replace all Input components in `render` method?
How did you handle the case like `dynamic Input`, which may display when one `yes radio` checked, and get destroyed when another `no radio` checked.

I want to do something like iterate all `input/radio/checkbox...` when submit a form.
Does there has any way to do this?

For basic component, `Container has a

[2016-06-29 10:00] artemT82 commented on #7113
Looks like I fixed it for my case. Obviously, I shouldn't been creating the issue in this repo, as in my case the problem was not in React itself, but in my absent-mindedness. But I'll share this case anyway. The problem appeared on a page with RadioButton Component from Material-UI lib. As I mentioned before, during a React update, I also updated some dependent libraries, including Material UI. I

[2016-06-29 10:48] dhruvasagar commented on #2982
@sulinixl I didn't try to handle dynamic inputs case. Overall I was disappointed too, Forms are one of the only hard parts of React right now. I tried to build an abstraction on top of it like I described above to try and abstract underlying implementation details (using bootstrap or any other framework). It worked in that specific scenario but always felt too hacky, hence I did not open source it

[2016-06-29 13:20] orioltf commented on #7103
This started happening to me once I added the EventListener. It must have to do with this

[2016-06-29 13:28] michelgotta commented on #6959
I see the problem here but I think it's more a problem with the design of the code itself. Instead of using the `value` attribute of the `<select>` and directly binding it to the value, you could use the `selected` attribute of the `<option>` to set the initial selected value and somehow detach the binding. React can't determine wich of the options is selected just by the value of the `value` attr

[2016-06-29 14:03] arisAlexis commented on #2642
+1 for this. since there is the possibility of a callback then it should be working with a promise. If it's an antipattern then remove the callback too.

[2016-06-29 14:17] orioltf commented on #7103
FYI: updating to `react-router`: v2.5.1 seems to have solved the issue in my case

[2016-06-29 15:13] vinnymac commented on #6472
##### Summary
I stopped seeing it in `Chrome 50+`, and have not been able to reproduce the issue since. I use sentry to track errors in several of my projects. I can see the same audio element issue above occurring for certain users, and have compared the stack traces.

##### Insight
These users were running `Opera 38.0.2220.31` and `IE 11.0`. They were using `Windows 7` at the time. They were all

[2016-06-29 15:48] Aweary commented on #7144
The one use case I've run across is toggling an input between `"text"` and `"password"` for workflows that let the user see the password they're entering. This requires the state to persist between the type change, though that could be resolved by managing the input state in a parent component or somewhere else.

[2016-06-29 15:52] Aweary commented on #7144
But, the above case *does* work if you avoid returning different `<input />` elements for each type. Just return an `<input />` where the `type` prop is set to `this.state.type` and toggle that between "text" and "password"

Working demo here: https://jsfiddle.net/nLqzbmxq/

I don't think switching between a text input and a file input makes any sense though, they should be different components th

[2016-06-29 17:09] sbai opened #7146 "Allow indirect children in ReactTransitionGroup"
`ReactTransitionGroup` calls transition-related lifecycle hooks like `componentWillLeave` on its direct children. This is inconvenient when a child component is wrapped by a third-party decorator such as `@connect` or `@injectIntl`, because the decorators may return their own components, the outermost of which will be the direct child of `ReactTransitionGroup` and receive the lifecycle calls.

Wou

[2016-06-29 18:36] kevinSuttle commented on #2250
@zpao But then it's only static, though, right? Like, you can't eval props in there?

e.g.
[code]

[2016-06-29 18:58] STRML commented on #5138
@shubhamsizzles For now I put this in my browser entrypoint so all libs are using the same `Symbol`.

[code]

[2016-06-29 19:06] josephsavona opened #7148 "Proposals for the ReactTestRenderer API"
**Do you want to request a _feature_ or report a _bug_?**
New feature

**What is the current behavior?**
`ReactTestRenderer` returns an "instance", but this primarily seems to support two things: getting a representation of the "rendered" output and calling methods on the instance (via `instance.getInstance().componentMethod()`).

**What is the expected behavior?**
This is good for testing regular

[2016-06-29 19:34] gaearon commented on #7146
I agree this is painful and one of the reasons I personally don’t recommend `ReactTransitionGroup`. We’re also not using it actively on Facebook so we can’t be good stewards of its future direction. We plan to deprecate it or hand it off to the community.

I think the best you can do at the moment is fork it and implement your proposal. If your fork gains traction we might just point docs to it in

[2016-06-29 19:34] #7146 closed

[2016-06-29 19:36] gaearon commented on #7142
This is not correct. React does not use RAF to delay applying updates.
React only batches `setState` calls that happen while handling the DOM event.

@olalonde Can you create a JSFiddle demonstrating the problem?

[2016-06-29 19:50] gaearon commented on #2250
@kevinSuttle

What you pass is just a string. You can generate the string dynamically—either with template literals or good ol’ concatenation.

[code]

should work fine.

[2016-06-29 20:04] Aweary commented on #2250
Here's a JSFiddle with a working example: https://jsfiddle.net/yp0q6okn/

[2016-06-29 20:16] olalonde commented on #7142
@gaearon here: https://jsfiddle.net/v1qxfqkn/

[2016-06-29 20:33] Aweary commented on #7142
Looks like React is processing the className change so quickly that it doesn't actually register in the DOM. If you add a delay to the second `setState` call it does work like you're describing (though with a minor delay).
[code]

[2016-06-29 21:08] gaearon commented on #7142
I don’t think there is anything actionable for React here. When you call `setState`, React will update the DOM. It might do this asynchronously—if you call `setState` from an event handler or a lifecycle hook—but still during the same tick.

Two DOM changes in the same tick probably don’t trigger the animation. So something like

[code]

doesn’t work for this reason—both DOM changes end up in the

[2016-06-29 21:08] #7142 closed

[2016-06-29 21:25] olalonde commented on #7142
Just found this: https://css-tricks.com/restart-css-animation/

Apparently, this is not related to React (but it'd still be nice if someone could point out the React way to achieve what I'm trying to do).

[2016-06-29 21:31] olalonde commented on #7142
I found the following workaround:

[code]

I guess it forces React's diff algorithm to believe it needs to create a new DOM element each time because the key changes.

Update jsfiddle: https://jsfiddle.net/wd5bm20j/

[2016-06-29 22:40] lgrkvst commented on #6641
Others with this issue will surely end up here, so here's an approach that worked for me:

1. Open the (chrome) debugger's sources pane
2. Set an event listener breakpoint for the event causing the issue
3. Recreate the issue
4. Execution should break into debug. Step forward until you're in d3 (particularly d3_selection_onListener(listener, argumentz)).
5. Enter into console and save a global ref

[2016-06-30 00:07] gaearon commented on #7142
Yes, but in this case you might as well not use React at all 😉 . This is very inefficient and bad for performance.

[2016-06-30 00:11] abritinthebay opened #7151 "Bug: Data Attributes not supported on Script element"
Currently if I do the following:

[code]
then the resulting script element does not have the custom data attribute.

This is problematic because many libraries use this to add data on load (eg, api keys, etc).

Data attributes appear to be supported on other elements - are they being specifically stripped for Scripts? If so... why?

[2016-06-30 00:31] jimfb commented on #7151
AFAIK, we don't strip data from script tags: http://jsfiddle.net/ym5choLh/

Keep in mind that you are rendering a `Script` with a capital `S`, which is a composite component of some sort.  Perhaps something one of your coworkers wrote.  They might not be rendering the data props, but that's not React's fault.

I'm going to close this out.  We can reopen if I'm proven wrong via a jsfiddle that demo

[2016-06-30 00:31] #7151 closed

[2016-06-30 00:37] abritinthebay commented on #7151
oh.. god... damnit.... it's a typo. I've just spent 2 hours on a typo.

Thanks, ignore me. Good god... argh. :(

[2016-06-30 01:03] gaearon opened #7152 "Group warnings for unknown DOM properties"
I just ran [React Bootstrap doc page](http://react-bootstrap.github.io/components.html) on master and saw a ton of warnings from #6800:

![jun 30 2016 01 55](https://cloud.githubusercontent.com/assets/810438/16473598/90585b8e-3e66-11e6-8e9e-7187935937dd.gif)

That page is really long so maybe it’s an edge case, but at the very least I think we should group props from the same element into a single

[2016-06-30 01:05] gaearon commented on #7152
If you’d like to work on this please comment in this thread so others know you’re taking it.
This is relatively high priority so please also comment if you abandon this, so others can pick it up.
Thanks!

[2016-06-30 01:06] gm758 commented on #7152
I'd love to take a crack at this.

[2016-06-30 01:16] gaearon commented on #7152
@gm758 You got it! Let me know if you have any questions. #6800 would be a good reference for the warning we added—we just need to change it to accumulate “bad” props before emitting a single warning outside the loop.

[2016-06-30 01:16] spicyj commented on #7148
As a temporary workaround, alternating between `<div />` and `<div>{this.props.children}</div>` (essentially, adding an extra wrapping div) might fix this error.

[2016-06-30 01:52] gaearon commented on #7151
Curious—how did this typo not lead to an error? Was there really a `Script` component?

[2016-06-30 01:53] gaearon commented on #7113
That’s super useful, thanks!

[2016-06-30 01:56] spicyj commented on #7113
I think this still counts as "exception thrown during render": https://github.com/facebook/react/blob/6cc037bd0d49f1f55cbdd36fbfd395118c64d393/src/renderers/dom/shared/ReactDOMComponent.js#L156. :\

[2016-06-30 02:04] gaearon commented on #7113
Well, we now know that `ReactDOMComponent.mountComponent` throwing can lead to a `null` child in multichild. I wasn’t sure how to repro this before.

[2016-06-30 02:53] yihangho commented on #7144
@syranide, @Aweary - Thanks for your comments!

The example I gave is a contrived one. It is the smallest example I can come up with to demonstrate the problem. Indeed, why would anyone wants to toggle between a text and file input? (Well, one practical use that I can think of is to let the user choose between uploading a file or giving a link to that file.) The problem I encounter in a real appli

[2016-06-30 06:39] emirotin commented on #6698
(sorry, not directly related, but this issue is the first time I've seen proptypes marked as legacy)
@jimfb can you please provide any link / additional info why they're becoming legacy, and what should be used instead of them in the future?
I've just invested some time setting them for our project and find them quite useful, this kind of validations is nice to have in dev.

[2016-06-30 10:04] arnor-ragnarsson opened #7155 "css minus positioning with z-index not working inside a component."
Ok, so I got an img that is inside a component and I want to position it between two component so that where one component end and a new begins should be in the middle of the img, I can position the img but the component that doesn't hold the img is positioned on top of the img and z-index doesn't work to bring the img to front.

Any idea what I can do?

Many thanx
AAR

[2016-06-30 10:37] DaveSauce commented on #7155
This sounds like a straight CSS issue. Make sure all elements that need to have their `z-index` set have either absolute or relative positioning, and that they share the same parent element.

[2016-06-30 14:11] trigun539 commented on #6410
Any status on this?

[2016-06-30 15:08] gaearon commented on #6698
You can keep using them if you like. They’re not going away soon.
But longer term the plan is to use something like [Flow](https://flowtype.org/).
We will emphasize it in docs over PropTypes.

[2016-06-30 16:03] spicyj commented on #7148
Going to use this issue to track other bugs/improvements:

@cpojer said that when replacing the Image.js mock in https://github.com/facebook/react-native/commit/7c53addcd5f05d8bcf42947e3dc1d371d922cd2f with `module.exports = 'Image';`, this error was thrown:

Pretty sure that should work (and if not, give a better error message).

[2016-06-30 16:30] josephsavona commented on #7148
No luck, got this error instead: `ReactComponentEnvironment.processChildrenUpdates is not a function`. I'm working around this for now with `instance.getInstance().componentWillUnmount()` ;-)

[2016-06-30 16:44] zpao commented on #7155
Definitely doesn't sound React specific. Closing out but let me know if you are encountering a bug in React.

[2016-06-30 16:44] #7155 closed

[2016-06-30 17:18] jacehensley-wf opened #7156 "Setting autoFocus on an input warns."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Warns when `autoFocus` is set

**Steps to reproduce**
1. Render an input with the autoFocus prop set
2. See that it spit out a warning

Demo: https://jsfiddle.net/2wgv7ws1/

**What is the expected behavior?**
Setting `autoFocus` should not warn when set on a `<input>`.

**Which versions of React, and w

[2016-06-30 17:23] mrscobbler commented on #6410
So I've spent a few hours figuring out the events code (I've never looked at it before) and I've made some progress. Possibly @cbrwizard could walk me through some of what he's done? I might get a better understanding of what needs to happen. @trigun539 is it something you want to tackle or do you just need/want it finished?

[2016-06-30 17:48] zpao commented on #7156
I think https://github.com/facebook/react/pull/7098 should cover this. I'll make sure that gets into 15.2.0 before releasing. Thanks for testing!

[2016-06-30 17:48] #7156 closed

[2016-06-30 17:51] abritinthebay commented on #7151
*sigh* yes... there's was "script" component (that's used for loading 3rd party scripts) and in this case I was specifically trying to create a script element for our own code (that isn't bundled).

They don't say that naming things is one of the problems of programming for nothing...

That said... it did lead me to being annoyed enough about this to refactor all of the above so everything is now

[2016-06-30 18:20] zpao commented on #7144
#6441 has another variation of this problem with an "easy" workaround (assign a key so we know when you swap types and forcing a node removal and new node insertion)

[2016-06-30 19:32] m4n3z40 opened #7157 "onChange firing on a td element when there's checkbox element inside it"
I don't think this is the expected behavior, so I'll be reporting this as a bug.

I'm creating a data table component for one of my projects, and in this component I decided to implement extensions to the table as different types of columns, but when I was creating a 'CheckableTableColumn' to extend the regular column to support 'toggle' actions (just putting a checkbox inside it) I ran into this

[2016-06-30 22:32] emirotin commented on #6698
Oh, thanks, Dan. That makes total sense. I've been thinking about overlaps of PropTypes and TypeScript validations just recently.

[2016-06-30 23:14] gaearon commented on #7152
Fixed via #7153

[2016-06-30 23:14] #7152 closed

[2016-06-30 23:14] kellyjanderson opened #7158 "Option Labels"
Bug

Clicking on the label associated with a radio button does not trigger onChange.

"react": "15.0.2"
Chrome Version 51.0.2704.103 (64-bit)

[code]

[2016-07-01 01:30] yihangho commented on #7144
@zpao Yup, someone from the IRC channel suggested that too!

[2016-07-01 05:15] alexzherdev commented on #7158
You should be using `htmlFor="filter1"` instead of `for="filter1"`.

[2016-07-01 05:25] olslash commented on #3344
fyi, we found a workaround to this in react-virtualized by using the fn form of ref rather than ref="ref"

https://github.com/bvaughn/react-virtualized/pull/302/commits/7e0f2827d6414fc016f72fde87484a6fc398fbf8

no idea why, but hopefully that helps someone

[2016-07-01 07:53] sungwoncho commented on #7093
@andersekdahl I am getting the same error when I do server side rendering with [redux-conect](https://github.com/makeomatic/redux-connect). But I don't have anything like `React.createElement(tag, props, children);` in my code.

Related issue I opened at redux-connect: https://github.com/makeomatic/redux-connect/issues/36.

It only happens when one of the props updates, causing the component to be

[2016-07-01 09:48] wv1124 opened #7160 "E/MessageQueue-JNI: java.lang.OutOfMemoryError"
ListView JNI has leak issue:

07-01 09:32:48.427 27066-27066/com.qianmi I/dalvikvm-heap: Forcing collection of SoftReferences for 2048-byte allocation
07-01 09:32:48.567 27066-27066/com.qianmi I/dalvikvm-heap: Clamp target GC heap from 65.051MB to 64.000MB
07-01 09:32:48.567 27066-27066/com.qianmi D/dalvikvm: GC_BEFORE_OOM freed 31K, 2% free 64488K/65543K, paused 141ms, total 141ms
07-01 09:32:48.

[2016-07-01 09:48] #7160 closed

[2016-07-01 09:51] mP1 commented on #7128
In addition to what @Aweary describes, ive also had to 'reset' the document as it stashes some state under its unique 'react' key. Without the document reset thing react remains broken after the last unmount, because some state thinks its already added event listeners, that have now been removed during the unmount of the last component.

Im using the simple examples but react seems to correctly re

[2016-07-01 13:42] karczk commented on #7135
Mutating DOM in react components is not allowed, you should render Hello component as child.
https://jsfiddle.net/47sn3j5c/1/

[2016-07-01 14:05] karczk commented on #7157
It should, because you passed onChange to td.

`<TableColumn {...props}>`
This code is equivalent to:

`<TableColumn value={this.props.value} onChange={this.props.onChange} etc >`
onChange is implicitly transferred by spread operator (...), so maybe you didn't notice that. Set attributes explicitly or write sth like that:

[code]

[2016-07-01 14:31] syranide commented on #7157
`onChange` bubbling is intentional (but IMHO weird). Other than that, @karczk is correct and even more so you should **not** rely on components silently dropping unknown properties, it may change in the future.

[2016-07-01 16:43] #7158 closed

[2016-07-01 17:15] jacksonrayhamilton opened #7161 "Language used in "Dangerously Set innerHTML" document is unclear"
The document [Dangerously Set innerHTML](https://facebook.github.io/react/tips/dangerously-set-inner-html.html) states,

What is "type/taint"? Also, I'd like to recommend using language that doesn't rely on understanding this term, or at least to supplement it with a definition. Best not to create an opportunity for misunderstanding when explaining a security measure, lest the user draw his own co

[2016-07-01 17:39] AdamKyle opened #7162 "Potential Issue with How Components are Imported"
So consider the following:

[code]

The issue here, or at least I believe it to be an issue is that `export` isn't being treated properly by React (or maybe babel?) as I get the error:

[code]

and

[code]

Now the second I do:

[code]

Everything works.

Now unless I am not understanding at a fundamental level, export and module.exports are (essentially) the same, so why does react recognize the

[2016-07-01 17:52] alexzherdev commented on #7162
Perhaps you're missing export **default** class ...?

[2016-07-01 17:57] jimfb commented on #7161
Hmm, https://en.wikipedia.org/wiki/Taint_checking

`taint` (and taint tracking/checking) is a super common concept in the security community.  Furthermore, if you don't know what it means, you can just ignore that sentence and follow the practice recommended/described on the page, and you're good-to-go.  So we're not "relying" no a user's understanding of the term, but the term is super helpful an

[2016-07-01 18:07] AdamKyle commented on #7162
Is that a thing? I thought that was only for self contained functions

On Jul 1, 2016, at 11:53 AM, Alex Zherdev <notifications@github.com<mailto:notifications@github.com>> wrote:

Perhaps you're missing export default class ...?

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/facebook/react/issues/7162#issuecomment-2300

[2016-07-01 18:16] zpao commented on #7118
Going to be pushing this out shortly. I'll see if @spicyj can send over a PR to update RN. There are only 2 additional commits since our RC, which are both local to ReactDOM so the final should be perfectly safe to update RN to, even in its RC.

[2016-07-01 18:19] zpao commented on #7162
I think if you leave off the `default` then `SomeComponent` is a named export, which you would need to import like `import {SomeComponent} from './some_component'`

This isn't a React issue, just ES6 modules, so I'm going to close out but since you have some discussion going, feel free to work it out. We can reopen if it turns out to be a React issue.

[2016-07-01 18:19] #7162 closed

[2016-07-01 18:35] dgreisen-cfpb commented on #6822
This is a big bug for us. Do you know when this fix will be released? Need to decide whether to revert to 0.14. Thanks.

[2016-07-01 18:41] gaearon commented on #7162
See also my answer on [default and named imports and exports](http://stackoverflow.com/questions/36795819/react-native-es-6-when-should-i-use-curly-braces-for-import/36796281#36796281).

[2016-07-01 18:47] zpao commented on #7161
We can certainly improve the language. We shouldn't expect everybody reading this to know what it is. Also the first Google result for "taint" is NSFW so let's not rely on people's ability to search correctly either. We can leave the term and clarify the intent.

[2016-07-01 18:50] gaearon commented on #7118
<img src='https://media.giphy.com/media/3oEjHMj0My3ET5XSW4/giphy.gif' width='700'>

[2016-07-01 19:14] zpao commented on #7118
And we're out. Will update the tutorial repo and jsfiddles now.

[2016-07-01 19:14] #7118 closed

[2016-07-01 19:44] batusai513 opened #7163 "Getting a warning using ReactCSSTransitionGroup in react v15.2.0"
**Bug**

**What is the current behavior?**
When using ReactCSSTransitionGroup in react v15.2.0, it warns me about an unknown prop passed to the DOM element created by this component (span)
[code]

[2016-07-01 19:48] gaearon commented on #7163
Yea, looks like #6800 missed this. Would you like to send a PR to fix it?
A `delete` should be added [here](https://github.com/jimfb/react/blob/59263418506d87d670694901889b26bbde876dfa/src/addons/transitions/ReactTransitionGroup.js#L268).

[2016-07-01 19:58] batusai513 commented on #7163
@gaearon sure, i'm working on that ATM

[2016-07-01 20:04] gaearon commented on #2686
This is out in React 15.2.0.

<img width="810" alt="screen shot 2016-07-01 at 21 00 23" src="https://cloud.githubusercontent.com/assets/810438/16533256/58d0b624-3fcf-11e6-95e5-53ff71b48705.png">

<img width="1013" alt="screen shot 2016-07-01 at 21 00 35" src="https://cloud.githubusercontent.com/assets/810438/16533260/5f6ce2a0-3fcf-11e6-88ff-48a2653cfcee.png">

[2016-07-01 20:04] #2686 closed

[2016-07-01 20:13] batusai513 commented on #7163
@gaearon, done in #7165

[2016-07-01 20:15] gaearon commented on #7163
Thanks! Please sign the CLA & it’s good to go.

[2016-07-01 20:16] batusai513 commented on #7163
@gaearon done

[2016-07-01 20:34] mitsuhiko commented on #2686
@gaearon is the error mapping available somewhere? And what's the policy for future changes to it.

[2016-07-01 20:44] gaearon commented on #2686
@mitsuhiko It’s automatically extracted at the built time. I think we plan to treat it as append-only. You can find the latest version [here](https://github.com/facebook/react/blob/master/scripts/error-codes/codes.json). Error messages link you to a page on the website where we decode them, e.g. https://facebook.github.io/react/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7B

[2016-07-01 20:46] keyanzhang commented on #2686
@mitsuhiko [here](https://github.com/facebook/react/blob/master/scripts/error-codes/gulp-extract-errors.js) is the script that extracts errors. As @gaearon mentioned, it's append-only, which means the code that have been there won't be changed.

[2016-07-01 21:53] anthonybarsotti commented on #6410
@mrscobbler @spicyj Was it ever decided that this is something that should still be implemented? Seems like the discussion of whether or not this should be added based on the fact that all events currently bubble kind of ended without a consensus.

[2016-07-01 21:57] zpao commented on #7056
Fix landed

[2016-07-01 21:57] #7056 closed

[2016-07-01 22:27] mitsuhiko commented on #2686
Append only is good.The not so nice thing is that there is no meta information on those exceptions that tools can access. That might be a nice thing to have in the future.

[2016-07-02 02:38] trigun539 commented on #6410
I am working on an app that needs to be 508 compliant, and have a flyout menu where the last inner submenu li element should fire a focusOut event (for the parent li) when you go past it. However, it doesn't fire it. I have added the onBlur event and it doesn't work as expected. I can take a look at this.

[2016-07-02 02:39] trigun539 commented on #6410
Navigation is all done through keyboard.

[2016-07-02 03:17] anthonybarsotti commented on #6410
@trigun539 Can you post a code example by any chance? I just created a basic example with a ul and two li's that each have an inner anchor and after adding onFocus and onBlur events to the li's, the events fire correctly and bubble up from the inner anchors.

[2016-07-02 05:05] dgoldstein0 commented on #2686
question: shouldn't the react version number be in the error urls - at least the major version?  (I don't quite follow what "append only" means in the context of this thread)

[2016-07-02 05:31] keyanzhang commented on #2686
@dgoldstein0 The JSON file and the website will always be the latest release version. "Append-only" means we won't modify or delete an existing error mapping, and a new error (or an existing error that gets newly edited) will be appended to the end of the file and get a new number. Therefore we make sure that old versions are supported.

[2016-07-02 05:48] dgoldstein0 commented on #2686
got it.  But don't think that helps me right now - I'm looking at backporting this to react .12 and doubt that the errors are going to come out in the same order.

[2016-07-02 05:57] spicyj commented on #2686
We don't use the major version in the URLs because the page doesn't need it. We don't have plans to support React 0.12 in the official error decoder page but you could make your own page and error code map if you were very motivated. If you are doing a custom build it may be easier for you to just delete the build code that minifies the error messages.

[2016-07-02 06:44] dsvgit commented on #7135
@karczk This isn't our case, because our application partially uses react and marionette (We migrate to react). So, root layout is rendered by react (App component), next some stuff is rendered by marionette and then marionette renders react component (Hello component). Because of this we have case like in this example - https://jsfiddle.net/47sn3j5c/ .

[2016-07-02 09:16] imasood opened #7169 "run function automatically"
hi guys.
i have a component by which i proceeded to find in the page.
but after render component inner function is called.
where is wrong?
tip: i want search by press enter key.

[code]

[2016-07-02 09:22] mikecao opened #7170 "Range input value not set on initial render in 15.2.0"
**Do you want to request a *feature* or report a *bug*?**

This is a bug.

**What is the current behavior?**

When rendering a range input element, the value of the input isn't set on the initial render. You have to call render again for the value to get picked up.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://j

[2016-07-02 09:25] mxstbr commented on #7169
That happens because you're executing the function in your render method:

[code]

(`this.FindString()`)

Instead of doing that, bind this method in your constructor:

[code]

Then pass the method to input without calling it:

[code]

And in your `FindString` method, get the value from the state:

[code]

[2016-07-02 10:06] imasood commented on #7169
Thanks for your guidance.

[2016-07-02 10:06] #7169 closed

[2016-07-02 12:03] m4n3z40 commented on #7157
I think I failed at expressing the point of the issue, the code is a little misleading, I agree.

@karczk I did know that, and that IS intentional, because I need ```CheckableTableColumn``` to pass down all props for the regular ```TableColumn``` to know what to render with it. What I think is weird, is a ```TD``` element firing a ```onChange``` event, which is not consistent or intuitive at all,

[2016-07-02 12:21] m4n3z40 commented on #7157
Simpler reproduction of the issue: http://jsbin.com/sasecojoke/edit?js,console,output

[2016-07-02 13:02] syranide commented on #7157
You should never rely on it, React in the future or other frontends may render all properties without a whitelist.

The onChange event will not fire, which I think it's right.

Of course `onChange` won't fire for a click event.

I personally think it is a bad feature, but some actively rely on it and there are tangential discussions surrounding it. So it's not a bug.

[2016-07-02 13:25] m4n3z40 commented on #7157
I understand your point. And it is fairly good one. Will keep that in mind for now on. Thanks!

The ```onChange``` in a checkbox element is translated to a ```onClick``` by React, that makes it not so obvious, does it?

Feature? Who relies on a non-editable element firing a ```onChange```, could you please provide use cases for this?

[2016-07-02 14:07] syranide commented on #7157
Huh, there is no checkbox in that source, it's just a td with "click me".

I don't agree with it, but a bunch of people with large number of inputs (building forms) seem to prefer to have one centralized handler for them all and have made themselves heard when various changes have been made that will/have affected them.

Again, personally, I think it's a bad idea for all kinds of reasons, but some

[2016-07-02 14:11] syranide commented on #7170
It works just fine: https://jsfiddle.net/4feqLmmy/

You even log the value yourself in the console and it shows `0 0 0`, then when you press the button value is updated to 50 and thus prints `50 0 100` and it updates the range correctly. I don't see anything wrong here besides your jsfiddle.

[2016-07-02 14:19] syranide commented on #7170
Duplicate of #7099

Basically, range input truncates the value according to min/max but React doesn't consider this and can apply the properties in the wrong order causing it to be truncated first and then the limits updated.

[2016-07-02 14:21] syranide commented on #7170
It's really kind of hacky and a bad idea in some cases, but if you put min+max as a key on the range input it will always show correctly.

[2016-07-02 14:24] Alvarocz commented on #4863
Thank you! it also worked for me

[2016-07-02 18:33] m4n3z40 commented on #7157
I think you're missing the point. How this

[code]
behaving differently than this:

[code]

is consistent? knowing they're are essencially the same code. (Again, knowing how React translate onchange to onclick in checkable elements)

Didn't even know that was possible, but I can see where that can be somewhat useful. And still, this "feature" is not documented anywhere, so I'm assuming this is the

[2016-07-02 18:53] jimbolla commented on #6614
Are the changes in master that should fix this included in the new React 15.2.0 build?

[2016-07-02 19:57] gaearon commented on #4863
@Alvarocz

You should not be using `0.14-rc` anymore. The current version is `15.2.0` (and `react-dom/server` exists there).

[2016-07-02 22:15] salzhrani opened #7176 "SVG xmlns attribute"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
The following error is raised
"Warning: Unknown prop `xmlns` on `svg` tag
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**
create an a componen

[2016-07-02 22:22] brianreavis commented on #7176
This is a duplicate of https://github.com/facebook/react/pull/6471

[2016-07-02 22:28] salzhrani commented on #7176
They are symptoms of the same problem ... but #6471 is not about this warning

[2016-07-02 23:16] gaearon commented on #7176
This is not a bug per se. You see the warning because this attribute is currently unsupported.
I think this should be solved by #6532 (seems closer to what @zpao wanted than #6471).

[2016-07-02 23:55] imasood opened #7177 "setState(...): Cannot update during an existing state transition"
hi guys,
i have a component by which count character, word a `div`.
now, when component will be render i got a lot duplicate warning in chrome console tool => `Warning: setState(...): Cannot update during an existing state transition`
what can i do for fix this problem?
finally, i want return states.
thanks

[code]

[2016-07-03 00:02] maxdeviant commented on #7177
You are using `this.Counter_Callback`, which updates your component state, inside of `render()`.

You should move

[code]

into one of the React lifecycle methods (probably `componentDidMount`).

[2016-07-03 00:06] imasood commented on #7177
Oh, that's right.
thanks.

[2016-07-03 00:06] #7177 closed

[2016-07-03 06:13] Sridatta7 commented on #7163
I am seeing similar errors.

Remove these props from the element.
For details, see https://fb.me/react-unknown-prop

Would the fix resolve this warning as well?

[2016-07-03 09:10] h8rry opened #7179 "Form submit button has empty values in 15.2.0"
**Do you want to request a *feature* or report a *bug*?**

This is a bug

**What is the current behavior?**

![screen shot 2016-07-03 at 4 12 19 pm](https://cloud.githubusercontent.com/assets/1697380/16544656/b3f896b2-4140-11e6-923a-06fc630c92df.png)
![screen shot 2016-07-03 at 4 11 15 pm](https://cloud.githubusercontent.com/assets/1697380/16544657/b3f8f292-4140-11e6-8b03-0ecaa3165460.png)

**If t

[2016-07-03 10:31] dgoldstein0 commented on #2686
already did that.  The problem though is that the error messages add 32kb to react when minified, which was a bit more than I was hoping.  So I'm preceding with backporting it.

I completely understand that react .12 is unsupported now; just unfortunate reality that I still have to deal with it.  And even when I'm done with .12, I'll probably have .13/.14 to deal with for 2-3 months before we fina

[2016-07-03 11:09] simonkberg commented on #7163
@Sridatta7 No. Those properties are not part of `ReactCSSTransitionGroup`'s API, so you're most likely getting the warning from somewhere else.

Either you need to filter them out from the component utilizing them before passing the props to the underlying DOM element, or if it's a third party component you have to raise the issue with that maintainer.

In case you didn't read the link in the warn

[2016-07-03 11:28] kostasmanionis commented on #7179
Uhhh, seems that this was missed on https://github.com/facebook/react/pull/6406? The culprit here is `postMountWrapper` in `ReactDOMInput.js`

`node.value = node.value;` 🙊

[2016-07-03 11:42] franzejr commented on #7179
@h8rry, I think your links for behavior are not saved correctly.

Current behavior(ReactJS 15.2.0):
https://jsfiddle.net/69z2wepo/47613/

ReactJS (15.1.0):
https://jsfiddle.net/69z2wepo/47612/

[2016-07-03 14:58] salzhrani commented on #7176
any would do ...

[2016-07-03 16:30] saiponethaaung commented on #3667
Hi @erudinsky I think we can simply use
`$("select.dynamicclass").on("change")
`
handler. I just fix my problem in this way.

[2016-07-03 22:12] gaearon commented on #7163
This was fixed by #7165 and will be out in 15.2.1 when it ships.
(We might want to wait a few days in case other extra warnings are discovered.)

[2016-07-03 22:12] #7163 closed

[2016-07-03 22:16] gaearon commented on #2686
@dgoldstein0 Just checking—are you aware that some of the deprecations / changes can be automated with https://github.com/reactjs/react-codemod? You don’t have to update all of the code by hand.

[2016-07-04 00:22] dgoldstein0 commented on #2686
Yes I'm aware.  However that doesn't help us much since almost all our code
is coffeescript, and we didn't start using jsx until recently.

On Sun, Jul 3, 2016, 3:18 PM Dan Abramov <notifications@github.com> wrote:

[2016-07-04 03:18] Catlite91 opened #7181 "Error in production but not in devlopment."
I've no idea about this error only occured in production version
Is there anything wrong?
Many thanks!

Here are some of the information:
![image](https://cloud.githubusercontent.com/assets/9129944/16550036/565523ca-41d8-11e6-8de3-ebc1e5c720ad.png)

Uncaught Invariant Violation: Minified React error #119; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=119 for the full mess

[2016-07-04 03:54] kennyhk commented on #7152
hello, please can anyone tell me how to disable this warning? thank you!

[2016-07-04 05:37] perrin4869 opened #7182 "TestUtils shallow renderer triggers componentWillReceiveProps, doesn't trigger componentDidUpdate"
In the following test, I rerender a component with different props using 3 different methods, and I get 3 different results. I am not sure if they are the intended behaviour or not (I think `renderIntoDocument` is behaving like I'd expect):

[code]

`componentDidUpdate` is triggered only by `ReactDOM.render`, `componentWillReceiveProps` is triggered by `ReactDOM.render` and by `TestUtils` shallow

[2016-07-04 07:02] suhaotian commented on #7152
@kennyhk I want to disable this warning..

[2016-07-04 08:13] selvagsz commented on #7157
@m4n3z40 `onChange` is bubbling up the DOM & it is not triggered by the `td` itself. Input elements triggers both the `click` & `change` events. (http://jsbin.com/tosuro/7/edit?html,js,console,output)

[2016-07-04 10:36] bORm commented on #2457
<form ref="form" onSubmit={(e)=>{ // this event not fired if submit form on click button if button not in form }}></form>

<button onClick={e=>{ReactDOM.findDOMNode(this.refs.form).submit()}}>Submit form</button>

[2016-07-04 11:30] selvagsz commented on #2457
@bORm Ideally, browsers do not fire the `onsubmit` event when the form's `submit()` method is called (http://jsbin.com/coluxo/1/edit?html,js,console,output). You can move the onsubmit handler to a method in the component & call it.

[2016-07-04 11:53] gaearon commented on #7152
You can't disable it. We don't add warnings just to make your life harder. It warns about a problematic pattern that will behave unexpectedly in the next major version. You need to fix this. If you use third party libraries and warnings come from them, you need to file issues with those libraries so they get fixed.

Please read about warning and the discussion below: https://gist.github.com/jimfb/

[2016-07-04 12:00] gaearon commented on #7181
Thanks for the report!
I believe your message contains a link.
Have you tried following it?

http://facebook.github.io/react/docs/error-decoder.html?invariant=119

It says:

The link with details links to a gist that explains how to fix it: https://gist.github.com/jimfb/4faa6cbfb1ef476bd105

[2016-07-04 12:00] #7181 closed

[2016-07-04 12:06] fpetitit opened #7183 "Documentation : add a schema to illustrate the component lifecycle ?"
[Peter Beshai](https://twitter.com/pbesh) has created a very good cheatsheet to illustrate the component lifecycle :

![component lifecycle cheatsheet]
(https://pbs.twimg.com/media/Cj3vEl2WUAAfNnL.png:large)

It could be useful to have a similar schema on the React documentation page about components :
https://facebook.github.io/react/docs/component-specs.html

[2016-07-04 12:11] Strato opened #7184 "LinkedIn React users group proposed Angular's jobs on subcription"
Hello,

I just subscribed to the [LinkedIn React users group](https://www.linkedin.com/groups/6519652), and I thought you would like to know that it's currently administered by an Angular guy who proposed to look for Angular jobs on subscription.

Not really what one might expect...

![linkedin react group subscription](https://cloud.githubusercontent.com/assets/662430/16560022/0c455cbe-41f1-11e6-

[2016-07-04 13:13] bORm commented on #2457
@selvagsz any idea how submit form from outside & subscribe it inside form?

[2016-07-04 13:20] gaearon commented on #7184
Hi!

This group is not maintained by us so I don't think we can help with anything. If this is considered spam by LinkedIn, you can report it to them (but maybe it's fine, I don't know their terms).

We use issue tracker for bugs and feature requests. I'll close this as it is not actionable for us.

Cheers!

[2016-07-04 13:20] #7184 closed

[2016-07-04 13:33] gaearon commented on #4431
I’ll close since we decided to not merge #7011.

[2016-07-04 13:33] #4431 closed

[2016-07-04 14:47] #5473 closed

[2016-07-04 19:08] gre commented on #4697
@spicyj at the time of my question I was heavily working on [gl-react](https://github.com/ProjectSeptemberInc/gl-react) but it was not yet public, that's why my question was a bit indirect 😄😄

anyway, gl-react needs to traverse the user's VDOM to retrieve the `GL.Node` VDOM nodes. But more importantly, it deduplicates the nodes of the "GL graph" so only one OpenGL computation is done for shared no

[2016-07-04 19:21] spicyj commented on #4697
Yes. There is a restriction right now that you can't swap the type of element that a composite returns (ex: making render return `<A />` then return `<B />` after a state update breaks) but otherwise it works fully.

Still unsupported, sorry. I have not reviewed it but https://github.com/iamdustan/tiny-react-renderer claims to walk through building your own React rendering backend.

[2016-07-04 19:31] gre commented on #4697
thanks for the answer :)

[2016-07-04 19:33] spicyj commented on #4697
I should add: the react-art restriction is only because it embeds a new type inside a DOM tree and React doesn't really have the logic to support that. Standalone environments like DOM, Native, etc. don't have that problem.

[2016-07-04 20:54] jmeas commented on #5914
Ah, I meant to point out in the docs that Facebook doesn't plan to support the transition group component (i.e.; won't merge PRs to improve it), rather than enumerating the use cases that the component doesn't support. What do ya think?

[2016-07-04 22:13] gaearon commented on #5914
Ah. Well.. We do plan to start moving addons out within a month or two. We will definitely update the docs to reflect that.

[2016-07-05 00:09] trigun539 commented on #6410
@anthonybarsotti the set up is more around the following:

`<ul>
<li>Home</li>
<li>Parent Item with Submenu
<ul>
<li>Submenu item 1</li>
<li>Submenu item 2(last li)</li>
</ul>
</li>
<li>Another test link</li>
</ul>`

If I tab when I am on the "last li" I should go to "Another test" li, but it should fire an onBlur event on the "parent item" li. I'll post a sample after I get it set up.

[2016-07-05 01:36] nathanmarks commented on #6949
@gaearon What's the current status of this in `15.2.0`?

I'm getting results back from `Perf.getWasted(measurements)` but I'm seeing this warning crop up too:

[code]

Here is the code using `ReactPerf`: https://gist.github.com/nathanmarks/a284a8c9a8c926bcd79c7a2a93427dbc

And here is a fiddle which reproduces the warning (same component above converted to `createClass` syntax):
https://jsfiddle.n

[2016-07-05 02:10] gaearon commented on #6949
Interesting. Generally we haven't tested ReactPerf in this scenario much. It is primarily meant to be used from browser console, not from a wrapping component.

We should support this scenario better. If it's not fixed in 15.2.0 it's probably a bug. Can you send a PR that adds similar case as a failing test to `ReactPerf-test`? The test will fall if there is an expected warning so merely triggerin

[2016-07-05 02:43] SalehHindi commented on #6959
@cynicaldevil, @zeel, are you still working on this issue? Could you link the PR? I'd like to work on this bug too. Just let me know how I can help.

[2016-07-05 02:52] SalehHindi commented on #3218
@syranide, @jimfb, @thinkxl, are either of you working on this issue? I'd like to take a crack at it if possible. If you already wrote some code or made a pull request, could you link it here?

[2016-07-05 03:17] Catlite91 commented on #7181
Thanks！

[2016-07-05 03:54] thinkxl commented on #3218
@SalehHindi I haven't had time to work on it yet, go a head, I'm curious on how you would approach this 😄

[2016-07-05 07:14] SimenB commented on #7118
Hiya! Probably the wrong place to ask this, but any particular reason why you've stopped updating the blog? https://facebook.github.io/react/blog/

I know I can read the [release notes](https://github.com/facebook/react/releases), but I like seeing a short summary of the changes (even if it's just "hey, we did a release, nothing special in it").

[2016-07-05 07:36] damianprzygodzki opened #7186 "Why React removes tabindex property?"
Why React removes tabindex property defined like that `<div tabindex="0">` in the component? I found out that this is working `<div tabindex={() => {return 0}}>`.

My misunderstanding or bug?

UPDATE: It is my fault, proper tabindex property is with camelCase: `tabIndex`.

[2016-07-05 07:44] #7186 closed

[2016-07-05 08:31] syranide commented on #3218
@SalehHindi I'm not aware of anyone working on this :+1:. If you're not sure what the best way forward with an implementation is then feel free to "write down your idea" and we can comment on that as well.

[2016-07-05 08:50] satya164 commented on #7118
@SimenB IMO it'll be too much to do a blog post for every minor release.

[2016-07-05 09:25] selvagsz commented on #7118
I second @Simek's thoughts... Ember does a decent job in blogging the releases http://emberjs.com/blog/tags/releases.html. Helpful in subscribing with rss feeders too

[2016-07-05 10:03] JohnWhiteTB commented on #5700
A workaround for when you only need the combination of `effectAllowed` and `dropEffect` to determine whether the drop should be enabled is checking the `effectAllowed` property, which is available in the `dragover` and `drop` events, and call `preventDefault()` when the value of `effectAllowed` is OK, effectively enabling the drop operation.

For example, to only allow finishing a drag-and-drop if

[2016-07-05 10:03] cynicaldevil commented on #6959
@SalehHindi @zeel I am not working on this issue, so I think you two can take it up!

[2016-07-05 10:29] satya164 commented on #7118
@selvagsz You can also subscribe to the feed for releases - https://github.com/facebook/react/releases.atom

[2016-07-05 10:37] yannickcr opened #7187 ""Missing React element for debugID" warning when triggering a render in componentWillMount"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
As reported by @adamryvola in https://github.com/facebook/react/pull/6869#issuecomment-230349514, React is displaying a warning `Warning: ReactComponentTreeDevtool: Missing React element for debugID 2 when building stack` when another component is rendered in `componentWillMount`

**If the current beha

[2016-07-05 10:42] chicoxyzzy commented on #6959
This is a bug in React. We shouldn't warn, we should fix `<select>` behaviour to eliminate inconsistency cc @jimfb

[2016-07-05 12:14] zeel commented on #6959
I am taking up this issue .. How  can I start ?

On Tue, Jul 5, 2016 at 4:13 PM, Sergey Rubanov <notifications@github.com>
wrote:

--
*Zeel Shah*
*Product Engineer, Sprinklr*
*Gurgaon, IN*
*+91-9560935248*
*Blog : http://magnificientzps.blogspot.in/
<http://magnificientzps.blogspot.in/>*
*E-Mail : kshah215@gmail.com <kshah215@gmail.com> *

[2016-07-05 14:24] syranide commented on #6959
@zeel Sadly it's already being worked on #7054

[2016-07-05 16:41] SalehHindi commented on #3218
@syranide, thanks for the quick reply. I'll be sure to work on this tonight and write my idea here. If anyone else wants to help, let me know/

[2016-07-05 17:34] git-richard commented on #6959
@zeel I started working on this about 2 weeks ago. #7054. Sorry, I forgot to mention it in here.

[2016-07-05 18:48] ConAntonakos commented on #6174
Am I missing something? There's no longer `.start()` or `.stop()` it seems?

[2016-07-05 18:52] ffxsam commented on #6174
Nope, works ok here. Make sure you're referencing the correct `Perf` object.

![image](https://cloud.githubusercontent.com/assets/12532733/16596049/fbcc0b4c-42a6-11e6-9f50-4829ae8b2fa5.png)

[2016-07-05 18:54] ffxsam commented on #6174
Oh.. I should mention I'm using version 15.1.0.

[2016-07-05 18:56] gaearon commented on #6174
Make sure you have both `react` and `react-addons-perf` of the same version. You probably see this because you updated only one of the packages.

[2016-07-05 19:02] #7131 closed

[2016-07-05 19:12] pvande opened #7190 "[Bug] "Missing React element for debugID" triggered by ReactDOMServer.renderToStaticMarkup"
As of React v15.2.0, the provided fiddle is throwing the "Missing React element for debugID" warning, which has been described as an internal (i.e. not user-facing) React warning.

https://jsfiddle.net/s4c36s0n/

This warning was not present in React v15.1.0.

(I make no claim that this is a sane usage pattern, only that it exists in [real-world components](https://github.com/zenoamaro/react-quill

[2016-07-05 19:15] gaearon commented on #7190
Thanks! Yes, this is a duplicate of #7187.

[2016-07-05 19:15] #7190 closed

[2016-07-05 19:16] gaearon commented on #7187
Interestingly, also appears triggered by `ReactDOMServer` usage inside `render`: https://github.com/facebook/react/issues/7190

[2016-07-05 19:58] pvande commented on #7190
@gaearon Wasn't sure if you wanted separate issues for different causes or if you just wanted a single issue tracking the symptom.  Cheers!

[2016-07-05 19:58] nigelterry opened #7192 "React strips 'for' property from <label> tag and issues a warning"
**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
React is flagging a warning and stripping the 'for' property from <label> tag
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

https://jsfiddl

[2016-07-05 19:59] gaearon commented on #7190
Yea, thanks for filing! (The issue is the same but it’s good to have several test cases.)

[2016-07-05 20:00] Aweary commented on #7192
@nigelterry as the warning states, you should use `htmlFor` instead of `for`

[2016-07-05 20:02] nigelterry commented on #7192
Duh! Sorry

[2016-07-05 20:02] #7192 closed

[2016-07-05 20:06] gaearon commented on #7187
Okay, #7193 should fix it.

[2016-07-05 22:23] manulourdes opened #7196 "NPM problem"
Hello i am new to react and i am testing it on a project but whne i do the npm install i get this
[code]

when i do the npm update
[code]

i don't know what to do now about the react 15.2.0 on the package.json

[2016-07-05 22:35] zpao commented on #7196
I assume you're talking about https://github.com/VctrySam/SnapChat. If you have issues with the setup they have there you'll want to contact them.

Looks like the version dep for React should be ok and will pick up react@15.2.0, though perhaps react-native@0.26 is still looking for a lower version so that's getting used. `npm ls react` should tell you what versions are getting installed as a resul

[2016-07-05 22:51] zpao commented on #7179
Thanks for catching! I put up something that at least fixes the constant render case. I think we'd always have this problem if you toggled value of these inputs from a real value to undefined so I'm not too worried about trying to handle that.

[2016-07-05 23:23] gaearon commented on #7187
Fixed by #7193.

[2016-07-05 23:23] gaearon commented on #7190
Fixed by #7193.

[2016-07-05 23:39] #7179 closed

[2016-07-06 05:46] manulourdes commented on #7196
Manu$ npm ls react
SnapChat@0.0.1 /Users/Manu/Desktop/SnapChat
└── react@15.0.2
i only getting this? what should i do?

[2016-07-06 06:13] keyanzhang commented on #7196
Hey @manulourdes,

We use the React issue tracker for bugs in React. Since this is not a bug, I recommend you to open an issue on that repo or ask on StackOverflow instead -- the repo owner will have more knowledge about its dependencies. Thanks!

[2016-07-06 06:13] #7196 closed

[2016-07-06 07:58] okonet opened #7198 "Input elements always rendered with `name` attribute"
**Do you want to request a *feature* or report a *bug*?**

This is a bug (I think)

**What is the current behavior?**

When rendering `<input type="..." />` (without name attribute), it will render `<input type="..." name />` to the DOM.

![2016-07-06 at 09 49](https://cloud.githubusercontent.com/assets/11071/16611205/13bcd376-4360-11e6-9ef5-de6bec6eaa4a.png)

**If the current behavior is a bug, p

[2016-07-06 08:09] syranide commented on #7198
Is using React 15.1.0 so it's not showing there, but yes I see the problem as well.

cc @jimfb #6406 https://github.com/facebook/react/pull/6406/files#diff-1b0e3b280991cd0b7cde194b30353b3eR253

[2016-07-06 08:12] syranide commented on #7198
So there are two problems with that #6406.

https://github.com/facebook/react/pull/6406/files#diff-1b0e3b280991cd0b7cde194b30353b3eR250 + https://github.com/facebook/react/pull/6406/files#diff-1b0e3b280991cd0b7cde194b30353b3eR253 should only be set when `name !== ''`.

https://github.com/facebook/react/pull/6406/files#diff-1b0e3b280991cd0b7cde194b30353b3eR250 should set it to `''` and not `undefin

[2016-07-06 08:14] okonet commented on #7198
@syranide I've updated the first gist with proper version. Sorry messed it up a bit.

[2016-07-06 08:22] alexzherdev commented on #7198
If there are no objections, I'd like to try and fix this one.

On Wednesday, 6 July 2016, Andrey Okonetchnikov <notifications@github.com>
wrote:

[2016-07-06 08:23] okonet commented on #7198
I'm already on it.

[2016-07-06 08:40] alexzherdev commented on #7198
k, no problem

[2016-07-06 08:48] adamryvola commented on #7187
Hello,
i created small project. It gives me this warring. Here is link: [small-kit](https://github.com/adamryvola/small-kit)

Please, can you try it, and tell me, where is the problem? I cant find it.

I am very thankful for all your help!

[2016-07-06 08:50] zeel commented on #6959
@michelgotta then it will become uncontrolled component. @git-richard no problem. will go through your code :)

[2016-07-06 10:48] sunnybogawat commented on #4957
If you are using webpack.conf then add the following block there it will solve your issue

[code]

[2016-07-06 11:40] gaearon commented on #4957
Externals are only necessary if you're using a UMD build of React from a separate <script> tag.

[2016-07-06 11:43] gaearon commented on #7187
This is a bug in React and it should be fixed in master.
Please wait for the next release.
If it's not fixed for you in the next release, please file another issue.

[2016-07-06 12:19] amertak opened #7200 "Weird behaviour when 'is' prop is present"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I have this example

[https://jsfiddle.net/69z2wepo/48030/](https://jsfiddle.net/69z2wepo/48030/)
[code]

As you can see, adding the 'is' prop breaks the rendering of `class` prop (maybe other parameters as well)
What is weird, that `is` is not reserved word in JS.

How I got the `is` prop there is ano

[2016-07-06 14:01] gaearon commented on #7200
I don’t know it too well but I think this is by design. `is` prop means you are declaring a [Custom Element](http://webcomponents.org/articles/introduction-to-custom-elements/), for example:

[code]

This is **not** a React feature. Some people wanted better interoperability between React and Custom Elements (part of [Web Components](https://developer.mozilla.org/en-US/docs/Web/Web_Components) spe

[2016-07-06 14:01] #7200 closed

[2016-07-06 14:10] amertak commented on #7200
Thanks, that makes sense :)

[2016-07-06 14:13] pke opened #7201 "[enhancement] HTML/XML comment support for JSX"
# Feature

Support XML `` comments in JSX

## Current status
Currently the only way to insert comments into JSX flow is to wrap them in JS:

`{/**/}`

In context:

[code]

## Proposed extension

XML like comments.

[code]

This would also allow us to quickly temporarily comment out components in the JSX flow like this:

[code]

[2016-07-06 14:17] gaearon commented on #7201
Thanks for the proposal!
https://github.com/facebook/jsx would be the right place to discuss this.
There is an issue on this (https://github.com/facebook/jsx/issues/7) so you can voice support there.

[2016-07-06 14:17] #7201 closed

[2016-07-06 14:21] gaearon commented on #6974
I understand refs a little better now.

[2016-07-06 14:21] #6974 closed

[2016-07-06 14:51] pke commented on #7201
ah you right, sorry

[2016-07-06 15:36] git-richard commented on #6959
#7054 shows a warning the first time it finds a `select` element with a duplicate value. If there is a following `select` that also has duplicate values it will not display a warning. Is this correct behavior? Should it show a warning for all duplicates or just the first one it finds?

[2016-07-06 15:41] gaearon commented on #6949
@nathanmarks Can you please check if your `TimeWaster` works after my change in #7202? You can clone React, run `npm run build` and then copy `build/modules` into your `node_modules/react/lib` to test the effect.

[2016-07-06 15:53] chicoxyzzy opened #7203 "<select> behaviour should be consistent with DOM when <option>s values are identical"
This is created as opposite to #6959.

There is a bug in React and it should be fixed to match DOM behaviour instead of solution proposed in #6959.

See https://github.com/facebook/react/issues/6959#issuecomment-228578350

[2016-07-06 16:19] brunogarcia commented on #2055
@spicyj I've tried the example from jsbin, but doesn't work in Safari 9.0.
By the way on Chrome 51.0.2 works perfectly.
Both tested into an iPad 9.1.

[2016-07-06 16:21] chicoxyzzy commented on #7203
Also there is #7054 which shouldn't be merged for the reasons given above

[2016-07-06 16:33] jimfb commented on #7203
What exactly do you think the desired behavior should be?  As far as I can tell, React currently behaves about as reasonably as could be expected, which is why the proposal was to add a warning.

Given the options:

And the selected `value` specified to be `vegetable`, what SHOULD React do?

[2016-07-06 16:37] chicoxyzzy commented on #7203
@jimfb there is an example in comment I mentioned above https://github.com/facebook/react/issues/6959#issuecomment-228578350

So I think React should do the same — select proper option with value of that option

[2016-07-06 16:38] Aweary commented on #7203
@chicoxyzzy your example shows the behavior when a user selects an option manually. What is React supposed to do if `value` is set to `this.state.value` and someone calls `setState({ value: 'vegetable' }`?
Should it set it to `"broccoli"` or `"tomato"`?

[2016-07-06 16:41] chicoxyzzy commented on #7203
@Aweary why not exactly the same what DOM does?
http://jsbin.com/nevugojayi/edit?html,output

[2016-07-06 16:41] brunogarcia commented on #1169
@spicyj I've tried with React 15.1.0 but still doesn't work in Safari 9.0.
By the way on Chrome 51.0.2 works perfectly.
Both tested into an iPad 9.1

[2016-07-06 16:47] Aweary commented on #7203
So specifically you're asking that it selects the first item from the list of `<options />` with equal values, rather than selecting the last item, which is what [React seems to do](https://jsfiddle.net/ybjyh5om/)?

[2016-07-06 16:51] chicoxyzzy commented on #7203
So you propose to add warning and continue to violate consistency just because React doesn't follow the spec when it can (and should)?

[2016-07-06 16:52] chicoxyzzy commented on #7203
React should select valid options on mouse and keybord events

[2016-07-06 16:53] Aweary commented on #7203
I said it was reasonable for React to select the first item, just like your DOM example does. How would that be inconsistent? Adding a warning about using duplicate values in a controlled component is totally reasonable, `value` should be unique in that case.

[2016-07-06 16:55] chicoxyzzy commented on #7203
@Aweary try to change select by mouse or keyboard in both examples

[2016-07-06 16:56] chicoxyzzy commented on #7203
it shouldn't. It's ok to have non-unique values in markup

[2016-07-06 17:01] Aweary commented on #7203
I'm talking about controlled React components. You can render an uncontrolled `<select />` component with multiple `<option />`s with duplicate `value`s and mouse/button events work.

[2016-07-06 17:02] jimfb commented on #7203
@chicoxyzzy I think you're talking past Aweary, instead of trying to understand what he is saying.

Everyone is in agreement that HTML allows non-unique values for uncontrolled inputs.  The problem occurs when you try to specify one of those values using a controlled component.  As per my comment: https://github.com/facebook/react/issues/7203#issuecomment-230829429

You said:

This does not make s

[2016-07-06 17:10] Aweary commented on #7203
React has to manage the value of the `<select />` element in JavaScript, you have to think about it in that context. Imagine trying to do that in vanilla JS

https://jsfiddle.net/kcbbxdej/

[code]

[code]

How is the `change` event listener supposed to identify which option is the "right" option? If you run that example, you'll see it doesn't work. This is analogous to a React controlled component

[2016-07-06 17:11] #7198 closed

[2016-07-06 17:32] chicoxyzzy commented on #7203
OK. Shouldn't it warn only in case when `<select>` is controlled element (i.e. if it has `value` prop) and it has duplicate options?

Duplicate options _could_ be desired business logic. In some cases warning will be emitted for proper (uncontrolled) select and not emitted for potentially dangerous controlled select (because in #7054 warning will be shown only once)

[2016-07-06 17:37] jimfb commented on #7203
https://github.com/facebook/react/pull/7054/files#diff-66f0da1e178fdfa217ecf74282c8bdf7R40

We don't want to warn for uncontrolled inputs.  I can't think of any desired business logic that involves a controlled input with duplicate values.

[2016-07-06 17:40] chicoxyzzy commented on #7203
OK

this makes sense than. Thank you. I'll close this issue

[2016-07-06 17:40] #7203 closed

[2016-07-06 18:23] ruifortes opened #7204 "Any reason to use "null" instead of "undefined" for default state? Using default would allow using es6 default values"
Not really an issue but...
Any reason to use "null" instead of "undefined" for default state?
Using default would allow using es6 default values

[2016-07-06 18:55] spicyj commented on #1169
@brunogarcia Can you post a jsfiddle or jsbin with this?

[2016-07-06 19:07] zpao opened #7205 "Bot: comment on PRs when build size changes by some threshold"
It would be nice to establish some threshold and have a bot comment on a PR when it adds some number of bytes to the UMD build size. Once that's setup we can potentially add some other metrics we want to track and have some notification about.

[2016-07-06 19:40] keyanzhang commented on #7205
@vjeux do you want me to do this? The server I wrote is pretty similar to this requirement.

[2016-07-06 20:38] gaearon commented on #7204
Can you show the code? It's not clear what you are referring to.

[2016-07-06 21:16] ruifortes commented on #7204
well..it would be nice to write something like

[code]

but of course ...this is definitely not an issue :)

[2016-07-06 21:37] gaearon commented on #7204
The state is either there or not. It can't change during the lifecycle. Is this code inside a mixin? Otherwise I don't understand why you'd need to support both use cases (where it exists and where it doesn't).

[2016-07-06 21:41] nathanmarks commented on #6949
@gaearon Looks good on my end, warning is gone. 👍

[2016-07-06 21:49] Aweary commented on #7204
I **think** what @ruifortes is trying to do is use ES6 defaults which only work if the value is `undefined`. Bad example, but say you want to log some properties on `state` with a general logging function

[code]

[2016-07-06 21:51] ruifortes commented on #7204
I'm kind of embarrassed now for mentioning something like this.
It's just that es6 destructuring assignment default values (at least in babel) regard null as a value.

[2016-07-06 21:52] neutrinonerd3333 opened #7207 "Add "afterBatchUpdate" callback or similar"
**Do you want to request a _feature_ or report a _bug_?**
This is a feature request.

We've discovered that it would be quite useful for us to be able to have React call some user-defined function after every batch of updates. In our case, we would like to ask our datastore to remove unneeded data after every round of updates (say, after a user clicks a button and after the resulting UI changes ar

[2016-07-06 22:00] Aweary commented on #7204
It's a reasonable question, though I imagine changing it now would be potentially breaking for a lot of users using checks like `this.state !== null`

[2016-07-06 22:06] alanmoo commented on #6232
Not sure if this is relevant here, but it might help someone: I solved this on my react-router (non redux) SSR project by switching some `componentWillMount` methods to `componentDidMount`. These made async calls, though the project has other similar components. The difference with these is that the components making the async call aren't necessarily being rendered when ReactDOM serves them up. Th

[2016-07-06 23:13] gaearon commented on #7204
It would be bad to allocate an empty objects for every component that doesn’t have state just in case somebody decides to pass `this.state` to a function with the knowledge that the current component doesn’t have state 😉 . So I’ll close this but feel free to continue the discussion. Please let me know if I missed an important common use case here. (I understand how ES default arguments work, I jus

[2016-07-06 23:13] #7204 closed

[2016-07-06 23:14] gaearon commented on #7207
You can pass a callback as the last argument to `setState()`, `forceUpdate()`, or top-level `ReactDOM.render()`. It will get called when the updates have been flushed. Does this satisfy your use case?

[2016-07-06 23:24] sebmarkbage commented on #7148
It would be nice to be able to traverse the tree.

`TestComponent::getChildren() => Array<TestComponent>`

`TestComponent::getType() : (typeof ReactComponent) | ReactStatelessFunction`

`TestComponent::getInstance() : ReactComponent`

`TestComponent::getProps() : Object`

[2016-07-07 00:41] alexcole commented on #7207
We want a callback that will be called after every round of updates is flushed not just specific ones.

[2016-07-07 04:06] rishirajsurti commented on #6410
@mrscobbler Can we please work on it together? I wish to contribute.

[2016-07-07 09:02] syranide commented on #7207
This sounds like a very bad idea if some component decides to animate and you end up running unrelated clean up code each and every time.

Can't you just queue your clean-up in `componentDidUpdate` for the relevant components?

[2016-07-07 09:26] ruifortes commented on #7204
here goes my contribution to the project :-P

[2016-07-07 11:09] wmertens commented on #2127
Given that there is a working solution in https://github.com/mwiencek/react-packages, is there any chance this will be part of React proper soon? Or are we waiting on the new reconciler?

[2016-07-07 11:17] gaearon commented on #7204
If you’d like to contribute, watch out for [good first bug](https://github.com/facebook/react/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+bug%22) issues!

[2016-07-07 11:19] anggao opened #7211 "onChange not firing properly in React 15.2.0 + IE11 when paste text into textarea"
Hello. On IE11/React 15.2.0 when copy/paste data from keyboard to a textarea, onChange not firing,
this works fine in Chrome and FF

I've included a test link:
 https://jsfiddle.net/wxwawpkn/
(a log msg should happen when you copy/paste data into textarea)

Thanks!

[2016-07-07 11:31] gaearon commented on #2127
Are you using it successfully in real projects?

@mwiencek

Sure, please send a PR!

[2016-07-07 11:37] syranide commented on #7211
cc @jquense @spicyj @jimfb mooore ;)

[2016-07-07 12:03] santiagobasulto opened #7212 "Having this.state in the constructor and this.setState everywhere else is violating the "Uniform access principle""
ES6 style of creating components in React is clearly violating the [Uniform access principle](https://en.wikipedia.org/wiki/Uniform_access_principle). It's a general source of confusion (and bugs) to be able to set state in two different ways:

 * You MUST do `this.state = {}` if you're in the constructor
 * You MUST do `this.setState()` everywhere else.

I believe it'd be much better to have just

[2016-07-07 12:24] gaearon commented on #7212
We definitely won’t be using ES proxies in production builds because they are a new feature and not supported in older browsers.

I generally agree this is confusing. The justification I heard from @sebmarkbage is that while constructor runs, the instance doesn’t exist in `ReactInstanceMap` yet (which makes sense because the constructor has not finished).

I don’t, however, quite see why we couldn

[2016-07-07 12:55] satya164 commented on #7204
@gaearon

I think he meant to allocate `undefined` instead of `null`, not empty object.

[2016-07-07 14:42] gaearon commented on #7204
Ah, sorry, you’re right, I misread one of the comments.
I still don’t see a compelling use case here.

Why would you write `var {state={} } = this` in a class where you know state does not exist?

[2016-07-07 14:50] Aweary commented on #7212
Do you feel that `getInitialState` also violates the UAP? Because `this.state = { ... }` is essentially the equivalent in ES6 classes. Initializing `state` as a property on the class seems much clearer than having to call `setState` in the constructor.

[2016-07-07 14:55] Aweary commented on #7204
You can have a situation where you don't provide an initial state, and `setState` is called in a timeout. If you were passing `this.state` somewhere for, say, logging purposes, it would be `null` until that timeout resolved. If it was `undefined` you could use a default argument for your logger and avoid null checking for property access. Again, this is probably a corner case that is easy to handl

[2016-07-07 15:21] brunogarcia commented on #1169
@spicyj Hi, we've made more testing with Safari (iOS 9.3.2).
We've found that Safari on private browsing doesn't save data into LocalStore.
So, it's not a React bug.
Sorry for my mistake.

[2016-07-07 15:26] sebmarkbage commented on #7212
Technically, the best way to "setState" is initializer `state = 0` and then `this.setState(state => state.counter + 1);` because `setState` should just add a reducer to the queue. Now you have to conditionally pass `undefined` as the initial state there. "setState" is a misnomer because it is really "enqueueStateTransition" but there's nothing to transition from initially. :)

@gaearon That'd be t

[2016-07-07 15:37] mwiencek commented on #2127
About submitting a PR, the last I heard from @spicyj was that they wanted to finish the new core algorithm and do a proper solution with that, since the comment nodes don't really make sense in React Native. I haven't been following the status of that, but I don't think those plans have changed. I'm glad people find the packages useful in the meantime.

[2016-07-07 16:13] gaearon commented on #7204
Oh, I see. For some reason I thought we enforced that you can’t call `setState` unless you also provide initial state but seems like I was wrong!

Let’s keep this closed for now because it seems like benefit is very very minimal, and other issues have much higher priority. If there is enough support behind this and more people ask for this, we can reconsider.

[2016-07-07 16:15] bvella commented on #7212
Could be a stupid suggestion, but could this possibly be mitigated by:
- adding a _constructing property in ReactComponent constructor
- update ReactComponent.prototype.setState() to check this property and set this.state if constructing
- delete the property in ReactCompositeComponent _constructComponentWithoutOwner() (which I think is the only place a component is constructed

This would allow t

[2016-07-07 16:19] papigers commented on #6232
@nossila having the same issue.l,also using react list. Have you found any solution?

[2016-07-07 16:22] gaearon commented on #2127
The new algorithm [is in the works](https://github.com/facebook/react/pulls?q=is%3Apr+fiber+is%3Aclosed) and supports fragments. However I wouldn’t expect it to become production ready for months to come. I wonder if adding this first to React DOM and later to React Native is too bad? The downside is it fragments the ecosystem a little (pun intended!), but it may give us some time to experiment wi

[2016-07-07 16:29] syranide commented on #2127
@gaearon Can I just point out that supporting fragments is super simple, it's just sugar, I'm currently using `<frag>` myself with just a tiny trivial wrapper. Is returning multiple children as the component root really that important?

[2016-07-07 16:31] bvella commented on #2517
I have submitted a pull request for this issue: #7212

(from pull request)

I am using contexts to propagate locale and routing information. My problem is that some pure components stop subtree rendering when the context changes (because pure components only check state and props). This is a problem for many people as per issue #2517.

I reasoned that not filtering the context for intermediate com

[2016-07-07 16:39] DarylCantrell commented on #2517
Hello @bvella, I think you meant this pull request: #7213, not 7212.

[2016-07-07 17:13] cliren opened #7214 "Feature request: merge className prop on the outermost container of a component"
We can use className prop on any HTML element but not an a custom react component. Requesting to support this feature as it simplifies the component usage when there is a need to apply additional styles without having to wrap the component in an external DIV.

[code]

This affect can be achieved by a mixin but non-mounted tests cannot use this.props.className to find the components.

[code]

[2016-07-07 17:20] bvella commented on #2517
@DarylCantrell you're right, thanks

[2016-07-07 17:42] selvagsz commented on #7214
@cliren I feel this can be added directly in the component itself. Or am I missing anything ?

[code]

http://www.webpackbin.com/VJL6WYD8b

[2016-07-07 17:46] zpao commented on #7214
I appreciate the thought but we aren't going to do conditional merging of any props. It's up to each composite component to decide how it wants to handle props in their implementation. A couple examples: `MyComponent` could have an implementation that works on React Native where `className` doesn't mean anything. Or `MyComponent` is some sort of course scheduling component and `className` is actua

[2016-07-07 17:46] #7214 closed

[2016-07-07 17:50] gaearon commented on #7214
(For some historical context, we had a helper called `transferPropsTo` a few years ago that did exactly this thing for `className`. It proved to be confusing and we removed it.)

[2016-07-07 18:21] kevinSuttle opened #7215 "Is there a way to let users know which invalid type was returned?"
This is the error message in question:

[code]

Not very helpful. Is it technically possible to _show_ what was returned?

[2016-07-07 19:15] cliren commented on #7214
Thanks @zpao, good reasons why not use it especially the when `className` needs to be applied to a some other child within the composite. @gaearon I didn't know `transferPropsTo` existed before, thanks for pointing it out. It might be a little confusing initially for the said reasons but for the web react it felt like the perfect JSX convention.

[2016-07-07 19:21] syranide commented on #7215
@kevinSuttle To some extent yes, but if you look at your code I imagine it would be quite obvious where it went wrong. The render function should be rather predictable and simple, especially when it comes to the root.

[2016-07-07 19:30] gaearon commented on #7215
I think we’re open to fixing it to be more specific. Would you like to make a PR?

[2016-07-07 19:41] leecade commented on #6683
👍 +1

[2016-07-07 21:39] Marswang92 opened #7218 "Would like to make sure the lifecycle of React and usage of jQuery datatable with React."
Hey, guys. I'm a freshman of React and facing some problems now. I'd like to fetch some data from server and show them in a table. I create some features to deal with the loading and error statues. I'd like to render a spinner when the data is loading, an error message if there're some error occured, and the datatable if everything works perfectly.

But here's the issue, in which place should I ru

[2016-07-07 22:23] zpao opened #7220 "Ship 15.3.0"
No estimated date yet but wanted to make sure we have something to track non-cherry-picking actions that will be required

- [ ] set up https://fb.me/react-warning-dont-call-proptypes to point to https://facebook.github.io/react/warnings/dont-call-proptypes.html

[2016-07-07 22:29] sebmarkbage opened #7221 "Consider exposing an opaque component path somehow"
This is something I've thought about in regard to focus, hover and selection.

If you implement hover as a top level state value with the currently hovered root component as `hoverID: component` and currently focused component as `focusID: component`.

Now anything in between gets rerendered and can respond to those things changing. However, that also means that everything gets rerendered. Not jus

[2016-07-07 22:33] zpao commented on #7218
Unfortunately we can't really scale providing support via github so we encourage you to make use of other resources like stack overflow. That let's us keep github issues focused on bugs and enhancements to React as much as possible. So I'm going to close out as a result.

Quick read: you might have a typo (`<Table>` instead of `<table>`). Otherwise you may run into some issues as the jquery plugin

[2016-07-07 22:33] #7218 closed

[2016-07-07 22:43] anggao commented on #7211
And I found it seems keyboard copy/paste sometimes trigger the event sometimes not, and right click then select paste always failed to trigger the event

[2016-07-07 23:53] Aweary commented on #7204
That seems like a reasonable assumption. Is there a good reason to possibly require this behavior in future versions of React? I'm not sure.

Either way, I don't think changing from `null` to `undefined` would be worth the breaking change (any check that is checking `state !== null` or `state === null` would break).

[2016-07-08 00:28] jquense commented on #7211
gonna say its the same issue as the rest without looking into it? did it work in 14, and does it work using master?

[2016-07-08 02:19] ianstormtaylor opened #7222 "firefox hack for `onSelect` is leaky without a noop `onKeyUp`"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Right now, React provides a cross-browser workaround for the `onSelect` event. [In Firefox, the `selectionchange` event doesn't fire](https://github.com/facebook/react/blob/master/src/renderers/dom/client/eventPlugins/SelectEventPlugin.js#L198-L211), so React hacks around this by evaluating the sele

[2016-07-08 02:52] chiuc opened #7223 "*feature - Not connection on react view and the RCTBridgeModule"
Not connection on ReactView and the RCTBridgeModule

Since that we want to create a ads just like the canvas ad on Facebook.
But we find out the RCTBridgeModule can not callback to the reactView.

[2016-07-08 04:25] dgoldstein0 opened #7224 "deprecation warnings in production"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

all warnings are stripped out in the production build

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior

[2016-07-08 04:28] dgoldstein0 commented on #7224
btw two motivations for this request:
- existing codemods don't help us much since most of our react code is in coffeescript
- we don't have great test coverage across our frontend, so finding and fixing warnings in prod is our next line of defense.

[2016-07-08 06:30] zpao commented on #7223
Not sure what the issue is exactly but it's clear you're using React Native. You'll want to file an issue in https://github.com/facebook/react-native or use something like Stack Overflow to get some assistance.

[2016-07-08 06:30] #7223 closed

[2016-07-08 07:58] AnshulMalik commented on #6998
I am having a similar issue.
When I try to render english content to my components, it works find. But when I try to load hindi, I get this error: Uncaught(in promise) TypeError: Cannot read property 'replaceChild' of null   DOMLazyTree.js:69.

I am using react 15.1.0

[2016-07-08 08:52] Jaikant commented on #5538
adding  "import React from 'react'" solved it for me. Weird.

[2016-07-08 09:07] optimalisatie commented on #1035
Hi!

I have found a new method to include HTML comments (e.g. conditional IE comments) in JSX and React components using a Web Component.

https://github.com/optimalisatie/react-jsx-html-comments

[code]

[2016-07-08 13:10] mP1 commented on #7128
https://github.com/facebook/react/pull/7209

[2016-07-08 15:40] troydemonbreun commented on #7099
@spicyj I've been trying to do this one, as your suggestion seems a straight forward fix, but ironically I've been struggling with just writing the failing test. Some of it is probably my unfamiliarity with the testing utils.  I tried this (among a ton of other variations) but could not repro the issue:

[code]
Thanks!

[2016-07-08 15:49] gaearon commented on #6998
@AnshulMalik

I’m afraid information is not enough to help you. A small example reproducing the issue would be most helpful.

[2016-07-08 16:29] kevinSuttle commented on #7215
Where would be a good place to start?

[2016-07-08 16:29] SalehHindi commented on #3218
@syranide @Daniel15 @thinkxl , whoops, it looks like I accidentally pushed to facebook/react instead of my local fork! I understand this is a very rookie mistake and I am very very sorry. I tried fixing the commits, but it looks like I pushed the same exact commit instead of reverting to an earlier commit. I even tried deleting my fork to double check if it's on facebook/react. Since this is the m

[2016-07-08 16:42] zpao commented on #7215
I would search for that message (or part of it) and look at the conditions that lead to it (I think all in ReactCompositeComponent.js). It might fire in a couple places. We could probably add a `typeof` in there (not perfect but it's more). Could potentially do an `Object.keys` when it is an object.

It might help to understand the typical cases leading up to this warning so we can lead people in

[2016-07-08 17:52] #6423 closed

[2016-07-08 18:15] kevinSuttle commented on #7215
Yeah, I usually run into this when I do things like return the wrong type in an HOC or forget to `export` a `default` module.

[2016-07-08 18:53] syranide commented on #3218
@SalehHindi We've all made our fair share of git oopsies. But you have nothing to worry about, the changes you have made were most likely to the react-master branch of **your fork**, you do not have the permissions to push to the official repository.

If you want to fix it and keep your changes, the best way is to simply go to the master branch, create a new branch, then reset the master branch ba

[2016-07-08 19:57] krausest opened #7227 "Performance regression for removing rows from large table"
In my javascript frameworks benchmark I ran into a performance regression for react.
To reproduce open [the react.js 15.2 version](http://stefankrause.net/js-frameworks-benchmark2/react-v15.2.0/index.html) and open the console.
Repeat three times the following: Click "Create 10,000" then click "Clear"
You'll get a result like that:
runLots took 1905.0000000000005
clear took **1997.0249999999996**

[2016-07-08 20:17] gaearon commented on #7227
In general we don’t advise you to render 10K items. Use something like https://bvaughn.github.io/react-virtualized/ instead.

However, this indeed seems like a perf regression. It appears that we’re spending a little time in `willDeleteListener` per each item, and it adds up with 10K items.

<img width="703" alt="screen shot 2016-07-08 at 21 10 52" src="https://cloud.githubusercontent.com/assets/8

[2016-07-08 20:23] BrunoQuaresma opened #7228 "Not show"
**Report Bug**

**Not enable the react tab in developer tools**

**React 15.2.0, and Chrome**

![image](https://cloud.githubusercontent.com/assets/3165839/16700485/ac14915a-4530-11e6-8012-d63028a1ca58.png)

[2016-07-08 21:09] gaearon commented on #7227
This is a very simple scenario: we are unmounting 10,000 components.
The bottleneck is somewhere in reconciliation.

React 0.14 is reconciling fast right away:

<img width="762" alt="screen shot 2016-07-08 at 22 06 01" src="https://cloud.githubusercontent.com/assets/810438/16701528/340a4d6c-4558-11e6-97c4-8e98a6a58891.png">

React 15 is reconciling slow at first (notice how long `reconcilerUpdateC

[2016-07-08 21:25] spicyj commented on #7099
@troydemonbreun Thanks. It's possible that jsdom doesn't emulate this range behavior properly. I'm not sure.

[2016-07-08 21:26] spicyj commented on #7099
If that's the case then I'm okay taking this without a unit test as long as you can verify the fix in a browser. Or you could mock out the setters and make sure they're called in the right order.

[2016-07-08 22:22] gaearon commented on #7227
It looks like there is some sort of V8 optimization that doesn’t kick in until you unmount a *lot* of components. I was able to drastically reduce time (from 2 seconds to 300 milliseconds) on React 15 by replacing `delete` statements with `null` assignment in these two places:

* [`SimpleEventPlugin`](https://github.com/facebook/react/blob/b6e1eb27185dd90e74ad8a67f98f6c5b35043c1a/src/renderers/dom

[2016-07-08 22:34] gaearon commented on #7227
Replacing objects with ES6 Maps gives similar performance improvements there.

[2016-07-08 22:46] maxdeviant commented on #7228
Are there any errors in the developer console?

[2016-07-08 22:55] fredguest commented on #7086
It seems to have disappeared again.

[2016-07-08 23:03] keyanzhang commented on #7086
Fixed, thanks.

[2016-07-08 23:14] fredguest commented on #7086
Sweet! Thanks

[2016-07-09 00:10] jakepusateri opened #7231 "Unit test failures on React 15.2.1"
Bug

Unit tests using shallow rendering fail on 'TypeError: Cannot read property 'onSetDisplayName' of null'.

I can't seem to get TestUtils into jsfiddle, but here is the build output and code snippet.
[code]
[code]
**What is the expected behavior?**
Unit test should run normally.

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of

[2016-07-09 00:22] kellycampbell opened #7233 "Date input with defaultValue regression in 15.2"
On Chrome browser or webview on Android, an `<input type="date">` with a defaultValue specified does not show the defaultValue with react 15.2, but it works in 15.1.

I've tested on multiple devices, including tablets and phones. My phone has chrome/51.0.2704.81.

It works ok on Chrome desktop browser.

With React 15.1:
![screenshot_20160708-194606](https://cloud.githubusercontent.com/assets/62599

[2016-07-09 01:18] zpao commented on #7231
I think this is because you are running a prod version of React in your tests. The testutils aren't entirely compatible with that (and generally expect that you're running in dev mode). This case in particular is going to blame to #7189 because we actually removed some dead code that wasn't used in production builds. The way did that removal broke your use case though.

cc @gaearon. The line at is

[2016-07-09 01:32] BrunoQuaresma commented on #7228
@maxdeviant i found the cause to this problem. The webpack-dev-server run the app inside an iframe so, the react dev tools can't load it. Thanks.

[2016-07-09 01:32] #7228 closed

[2016-07-09 05:11] AnshulMalik commented on #6998
My issue if resolved now, I was assuming a variable to be array, It was the case when the variable was undefined, so the component was having issues with rendering.

[2016-07-09 07:26] dhavalsoni2001 commented on #7211
@anggao  I have seen fiddle shared by you. Instead of use onChange() use onInput() function. I have tested it and its working fine for me.

[2016-07-09 09:28] gaearon commented on #7231
Oops, I thought TestUtils are dev-only. Were we technically supporting running them in prod?

[2016-07-09 10:50] gaearon commented on #7227
This was fixed in #7232. Thank you very much for caring and providing specific instructions.

[2016-07-09 10:50] #7227 closed

[2016-07-09 15:36] julienw commented on #7227
As a quick experiment, I ran the benchmarks under Firefox: both versions ran in the same speed as the 15.2 in Chrome (I mean: slow). I surely hope the fix would fix it in Firefox too !

[2016-07-09 15:49] gaearon commented on #7227
Maybe putting these fields on the internal instances instead of global maps will help it in Firefox. Would you like to investigate why it's slow?

[2016-07-09 16:12] gaearon commented on #7227
I have it a look, and Firefox slowness is due to DOM `removeChild` being slow. I don’t think we can fix it.

[2016-07-09 18:06] jakepusateri commented on #7231
They had worked up until now, but it seems reasonable to not have them supported in production. It should be pretty simple to adjust my build to not set `NODE_ENV=production` during the test run.

[2016-07-09 21:13] keyanzhang commented on #7231
Ideally should this be in the `__PROFILE__` build (#6627)?

[2016-07-09 21:49] markblackburn77 opened #7237 "hey"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-07-10 00:27] #7237 closed

[2016-07-10 02:35] angusfretwell commented on #7187
Hey,

I'm still getting this warning (specifically `Warning: ReactComponentTreeDevtool: Missing React element for debugID _n_ when building stack`) when running tests with Jest.

[2016-07-10 04:42] mrscobbler commented on #6410
@rishirajsurti Yes! I'll send you an email.

[2016-07-10 09:05] gaearon commented on #7187
File an issue with the code reproducing it. Thank you!

[2016-07-10 09:48] GaryChangCN opened #7239 "This page is not found"
https://github.com/facebook/react/blob/master/react/docs/getting-started.html
### cannot found
which is in https://github.com/facebook/react/blob/master/docs/docs/02.1-jsx-in-depth.md

If you want to use JSX, the` Getting Started` guide shows how to set up compilation.

[2016-07-10 10:04] gaearon commented on #7239
These are sources for the docs so links won’t work.
You should read them on the website instead:

https://facebook.github.io/react/docs/getting-started.html
https://facebook.github.io/react/docs/jsx-in-depth.html

[2016-07-10 10:04] #7239 closed

[2016-07-10 10:16] titoBouzout commented on #4958
Can you please give a very short example on where to put the setTimeout, is not clear to me.

[2016-07-10 10:24] gaearon commented on #4958
Are you doing this?

If not, the `setTimeout` recommendation is not relevant to you. Please file a new issue with an example reproducing this issue. Thanks!

[2016-07-10 10:25] angusfretwell opened #7240 ""Missing React element for debugID" warning when testing components with Jest"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

When testing components, `Warning: ReactComponentTreeDevtool: Missing React element for debugID 1 when building stack` is shown when calling `TestUtils.renderIntoDocument`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the probl

[2016-07-10 10:27] angusfretwell commented on #7187
@gaearon Here you go: #7240 😸

[2016-07-10 10:29] titoBouzout commented on #4958
I'm using Flash to call into JS Yes. Please give me a example

[2016-07-10 11:00] gaearon commented on #7240
Could this be some sort of a Jest issue (related to mocking?).
In your example, if I put a log in the top level scope of `ReactComponentTreeDevtool.js`, I see it twice.

<img width="576" alt="screen shot 2016-07-10 at 11 54 25" src="https://cloud.githubusercontent.com/assets/810438/16713120/3439755e-4695-11e6-85fb-3d1d82d7a16e.png">

<img width="762" alt="screen shot 2016-07-10 at 11 55 05" src="h

[2016-07-10 11:22] angusfretwell commented on #7240
Thanks for looking into this @gaearon, I will file an issue with Jest.

[2016-07-10 11:25] tjconcept commented on #3918
This is something that have wondered me too.

As a workaround I use another object to store state and use `replaceState` to update React's state. So far it works brilliant and has cleaned up my code considerably.
Especially in situations where I async pull data based on state and when the result comes back, only want to apply the information if the relevant state hasn't changed since (for instance

[2016-07-10 11:58] titoBouzout commented on #4958
You mean I should this:

ActionScript: ExternalInterface.call("someFancyJSFunction")

JavaScript: function someFancyJSFunction() { setTimeout(... , 0) }

?

[2016-07-10 12:35] gaearon commented on #4958
yep!

[2016-07-10 14:40] titoBouzout commented on #4958
Thank you, Ill try it

[2016-07-10 14:40] caseys commented on #2429
TLDR:
        key={key}
        ckey={'c'+key} // react wants you to build keys, but not use them

[2016-07-10 14:40] nippur72 commented on #1387
I would like to add that [preact](https://github.com/developit/preact) already implements this feature. They say it leads to
- easy destructuring
- easy to switch from stateless to stateful component

[2016-07-10 23:26] danielgamage opened #7241 "Custom properties are not set in style objects."
When using [CSS custom properties](https://drafts.csswg.org/css-variables/) as inline styles, React logs the following to the console in dev mode:

Demo: https://jsfiddle.net/69z2wepo/48528/

This is logged in `/lib/CSSPropertyOperations.js` from `warnHyphenatedStyleName()` and `warnValidStyle()` before it. More importantly than the warning, though, the styles are not applied to the elements on th

[2016-07-11 00:03] #7182 closed

[2016-07-11 02:09] zpao commented on #7241
I'm going to close out and point to #6411 which is covering the same topic and has some discussion.

[2016-07-11 02:09] #7241 closed

[2016-07-11 02:33] danielgamage commented on #7241
Whoops blatant oversight on my part. Thanks for the link.

[2016-07-11 03:40] warpig9 opened #7243 "Not to expand 'border' style property"
Current behaviour: passed-in style property
[code]
would be translated to
[code]
I want the shorthand style property remained unexpanded as [Outlook 2007+ dose not support style properties like border-width, border-color etc.](https://www.campaignmonitor.com/css/)

Also I found this expanding operation by React is done [here](react/src/renderers/dom/shared/CSSProperty.js) but it's not configurable

[2016-07-11 04:16] rishirajsurti commented on #7222
I am new here, and I wish to contribute.
Would working around with onChange be a good idea?
I came across [this issue](https://github.com/facebook/react/issues/2722) involving onSelect and onChange in IE.
@spicyj Can you please guide me?

[2016-07-11 05:21] bzbarsky commented on #7227
I'd really appreciate a Firefox bug report with testcase here!

[2016-07-11 06:16] alexf101 opened #7244 "Component specs should document nextContext parameters"
Including contextTypes adds a parameter to the signature of several component lifecycle functions, as documented in these two locations:

https://facebook.github.io/react/docs/context.html
https://facebook.github.io/react/docs/component-specs.html

Anyone attempting to implement a plug-in for React (who hasn't made use of Context) would be unlikely to consider these extra parameters since they are

[2016-07-11 07:22] syranide commented on #7243
It's expanded because of a bug in IE8 (9 also?) that breaks if you unset unexpanded properties. However, this should not affect rendering to static to markup (unless rendering in an old browser). So is this actually an issue for you?

On another note though, I guess the implementation is actually flawed and will cause checksum mismatch for SSR if resuming on a broken browser? cc @spicyj @jimfb

[2016-07-11 08:12] cpojer commented on #7240
Reopening this as this is not a Jest issue. Downgrading React to 15.2.0 makes this warning go away in @angusfretwell's example. @angusfretwell thanks for providing a repo!

@gaearon can you look into this from the React side?

[2016-07-11 08:42] julienw commented on #7227
@bzbarsky I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1285874 with the information of this bug. I don't have the time to do a reduced testcase now though.

[2016-07-11 09:14] gaearon commented on #7240
Hmm, I don't know enough about Jest to solve this in React. The only related change I can think of is that I inlined some requires to this module inside DEV blocks so that it doesn't get bundled to production. Does this cause Jest to execute it twice? Even though it worked before, I can't quite see how module being executed twice can be valid behavior. It doesn't happen in Node or in the browser a

[2016-07-11 09:15] gaearon commented on #7240
(To clarify, yes, I know it's new in React 15.2.1. But it doesn't mean this is a React issue. It just looks like we hit an edge case in Jest that we didn't hit before. But I can try bisecting this if it helps.)

[2016-07-11 09:19] cpojer commented on #7240
Jest resets the module registry before each call to `it`, so it is quite possible that people will end up with two copies of React if they aren't careful. Can you point me to the change in React since the last release?

[2016-07-11 09:33] gaearon commented on #7244
What do you mean by a “plugin to React”?

Those arguments are undocumented because context API is experimental and unstable. What is your use case for it?

[2016-07-11 09:39] cpojer commented on #7240
Oh, I see what is happening here now.

Here is how Jest works in open source:

* We call `jest.resetModuleRegistry()` implicitly in every `beforeEach` call. When doing `require('React')` (or import) on the top-level and then `require('React')` inside of a call to `it`), they will be fresh copies both times. I suspect the debug module is freshly required from an old version of React which will then

[2016-07-11 09:40] cpojer commented on #7240
Oh, I see what is happening here now.

Here is how Jest works in open source:
* We call `jest.resetModuleRegistry()` implicitly in every `beforeEach` call. When doing `require('React')` (or import) on the top-level and then `require('React')` inside of a call to `it`), they will be fresh copies both times. I suspect the debug module is freshly required from an old version of React which will then

[2016-07-11 09:56] gaearon commented on #7240
OK, I think I understand it now.

Seems like we could force those inline requires at the top of the file when `NODE_ENV` is `test`. We could then remove this hack when we start using Rollup and no longer need inline requires.

[2016-07-11 10:41] gaearon commented on #7240
This will either be fixed by #7245 or #7178, depending on which goes first.

[2016-07-11 10:47] vvo commented on #7231
Was using NODE_ENV=production to avoid warnings in my `npm test`. I guess I will have to write better tests and code :)

[2016-07-11 10:49] gaearon commented on #7231
We’ll include a fix in the next version. Sorry I messed it up

[2016-07-11 10:54] gaearon commented on #7231
This will be fixed by #7246.

[2016-07-11 11:10] anggao commented on #7211
@dhavalsoni2001 Thanks ! `onInput()` did work, but according to the React doc:
https://facebook.github.io/react/docs/forms.html

[2016-07-11 11:16] syranide commented on #7233
cc @jimfb

[2016-07-11 11:33] anggao commented on #7211
@jquense I checked with 0.14.8 and it works:
https://jsfiddle.net/w76rqLea/

[2016-07-11 12:22] gaearon commented on #6949
I think all of the cases related to this should be solved in 15.2.1.
If not, please let me know with a case reproducing the issue.

[2016-07-11 12:44] Tom910 commented on #7240
The same problem, wait for the next release?

[2016-07-11 14:53] angusfretwell commented on #7240
Thanks @gaeron!

[2016-07-11 15:00] gaearon commented on #7240
Let’s keep it open until either fix gets in.

[2016-07-11 15:17] gaearon commented on #7233
Jim is on hackamonth now so perhaps @spicyj knows what’s up.

[2016-07-11 16:06] Aweary commented on #6441
Here is a simpler case reproducing the issue: https://jsfiddle.net/97gr5e65/1/

It seems to only happen if changing from `number` to `text`.

[2016-07-11 17:12] troydemonbreun commented on #7099
Sure, I can provide that test.

[2016-07-11 17:20] jeanmichelcote commented on #3725
Seems like I can't get defaultProps to be instantiated with the parent class so that I may pass those props to another child class within.

[2016-07-11 17:51] gaearon commented on #3725
I don’t understand what you mean. Can you show an example?

[2016-07-11 21:03] smaug---- commented on #7227
FWIW, removeChild is slow in Gecko because of layout. No idea whether setting display: none before removal or some such might speed up the process. It might help if done on the element on which removeChild is being called.

[2016-07-11 21:07] bzbarsky commented on #7227
@julienw Thank you for filing!

[2016-07-12 00:06] jeanmichelcote commented on #3725
Of course, sorry about that.

Here is a component:

[code]

When I run the webpack-dev-server, I get this error:
`Uncaught ReferenceError: props is not defined`

There must be something I do wrong...

[2016-07-12 00:09] keyanzhang commented on #3725
`props` is an unbound variable in your `render()` method. It should be `<TimerView {...this.props} />`.

[2016-07-12 00:13] jeanmichelcote commented on #3725
Oh my.
I totally missed this one. I guess since I am using stateless components as much as classes, I just got confused on this one.

Thank you sir.

[2016-07-12 00:24] keyanzhang commented on #3725
no problem @jeanmichelcote! it happens :)

[2016-07-12 03:40] warpig9 commented on #7243
Thx @syranide. I found the expanded border styles can partially works on some tags and it's no longer a problem for me.

[2016-07-12 03:40] #7243 closed

[2016-07-12 03:53] spicyj commented on #7243
@syranide No, since it doesn't affect createMarkupForStyles.

[2016-07-12 10:19] edoardocavazza opened #7249 "Attributes and properties for Custom Components"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
Custom component's properties are always set as attribute.
**What is the expected behavior?**
Maybe React should watch at the static `observedAttributes` property  for custom elements (https://w3c.github.io/webcomponents/spec/custom/) and then decide to set an attribute or an instance property. Othe

[2016-07-12 15:09] akre54 commented on #7152
We load SVG files as react components using the [svg-react-loader](https://github.com/jhamlet/svg-react-loader).

The SVGs come from Illustrator and have an `xmlns` prop, which React doesn't recognize. In your opinion is it the library's responsibility to keep up to date with which props React supports? Is it our responsibility to remove any props React doesn't like? Should React support `xmlns`?

[2016-07-12 15:16] gaearon commented on #7152
I think support for xmlns has been merged just a few days ago. So it'll be out in the next version.

[2016-07-12 15:28] akre54 commented on #7152
Awesome to hear. Thanks.

[2016-07-12 15:31] akre54 commented on #7152
Awesome to hear. Thanks.

For the future, is the right solution to try to keep React's list of accepted props complete and up-to-date?

[2016-07-12 15:56] jquense commented on #6410
if anyone here needs some insight on the event code, feel free to ping me. I've some experience with it, (PR's in the past) and would also like to see this.

ALSO the current mouseEnter/Leave logic is **crazy** I really don't think we should emulate it again for new features if possible. I've already spoken to @jimfb a bit about that though. For insight as well there is this outstanding PR which s

[2016-07-12 16:05] jquense commented on #6410
Wait, are we trying to add focusIn/Out as analogs to mouseEnter/Leave? Personally I rarely want the behavior of native focus/blur events. I do however almost always want for focusEnter/Leave like events...

[2016-07-12 16:12] rafayepes commented on #2686
@keyanzhang I don't see anything indicates the react version in the error URL https://facebook.github.io/react/docs/error-decoder.html?invariant=1&args[]=Foo&args[]=Bar

How is the versioning of codes.json managed?

[2016-07-12 16:14] rafayepes commented on #2686
@keyanzhang how is the versioning of codes.json managed?

I don't see anything in the error URL that indicates the React version https://facebook.github.io/react/docs/error-decoder.html?invariant=1&args[]=Foo&args[]=Bar

[2016-07-12 16:15] mathieumg commented on #2686
@rafayepes https://github.com/facebook/react/issues/2686#issuecomment-230085796

[2016-07-12 16:19] rafayepes commented on #2686
Oh thanks @mathieumg ! I'm totally blind 😅

@spicyj what about future versions of React? So let's say React 16 or React 17 adds/deletes/modifies some errors (totally completely normal). A user of React 15 could go to the error URL and find an error message that is not actually the error he/she had. Are you going to make sure that old error indexes are never removed/modified? How?

Thanks! Love thi

[2016-07-12 16:21] mathieumg commented on #2686
@rafayepes I thought https://github.com/facebook/react/issues/2686#issuecomment-230084902 would have answered that concern! :stuck_out_tongue:

[2016-07-12 16:29] anthonybarsotti commented on #6410
@jquense Yeah I think that's the idea, the bigger question is that since the current onFocus and onBlur events bubble should those events just be renamed and have new events implemented for onFocus and onBlur that don't bubble?

[2016-07-12 16:33] rishirajsurti commented on #6807
I am new here. What I am thinking is that, can we create a new variable which stores on which tag is the mouse over, currently?
As with [#4492](https://github.com/facebook/react/issues/4492), the mouse cannot be over two elements. If we can detect if currently the mouse is over some other element, then it should automatically trigger the onMouseOut event in rest other elements, if the onMouseOver

[2016-07-12 17:10] jquense commented on #6410
Thats where my confusion comes from. mouseEnter and mouseLeave _do not_ bubble; that's much of the point of them, but they also _do not_ behave like native focus/blur, which only fire when a the element that attached the handle gains focus _not_ when it or any of its children gain focus.

 so I'm not sure why we'd need to invert the behavior, unless the goal is to not actually add something like f

[2016-07-12 18:05] zpao commented on #7152
Yes, however we should have pretty much everything from SVG and HTML. Hopefully there isn't much we missed but I fully expect new specs to come out and for us to need to handle that.

[2016-07-12 18:53] #7055 closed

[2016-07-12 22:58] STRML opened #7253 "Bug: Backspace in input type="number" behaves badly in Blink"
This appears to have been introduced in a new Chrome version, but I can't find any reference to where.

Affected/Tested Browsers (OS X):
- Chrome 51.0.2704.106 (64-bit)
- Opera 39.0.2256.15

Unaffected Browsers:
- Safari 9.1
- Firefox 49

Backspacing in an input element with `value` or `defaultValue` set causes some very odd behavior. Once a decimal point is gone, it can't easily be re-added.

Exa

[2016-07-12 23:48] zpao commented on #7253
😢 Thanks for filing. I confirmed 15.2.1 is still broken too. Most likely more fallout from #6406.

[2016-07-13 01:06] caseys commented on #2642
:+ IF it doesn't add too much bloat.

[2016-07-13 03:09] futurefeeling opened #7256 "Can a react state set up to a Set object?"
Like following code:

[code]

so if I want to change the Set, I use following code:

[code]

it will change the state directly!

but by the official note:

![image](https://cloud.githubusercontent.com/assets/9881593/16790594/d62113ee-48e9-11e6-9c9b-b539012d4dfc.png)

[2016-07-13 03:39] alexmcmillan opened #7257 "Error messages omitting relevant components displayName"
Please forgive me if this appears more like a rant than a feature request, but I have searched and can't find any explanation for why some error messages are displayed without any `displayName` from the component responsible - and this is driving me insane.

*Every* component in my project has an explicit `displayName` specified.  I do this for debugging.

I am rendering a bunch of immutable props

[2016-07-13 05:14] keyanzhang commented on #7257
Thanks for catching this! #7260

[2016-07-13 05:22] keyanzhang commented on #7257
By the way, you actually don't need to set `displayName` explicitly if you use JSX: https://facebook.github.io/react/docs/jsx-in-depth.html#the-transform

[2016-07-13 05:40] alexmcmillan commented on #7257
First, Sorry if I sounded... angry.  I was in developer rage at the time.

Anyway, wow!  I didn't realise it would be that easy.  Hopefully this helps avoid future dev rage.

I still think it's a good idea to specify a `displayName` for clarity, and it also avoids `import MyComponent as MyCoolComponent ...` issues (ie: "Check the render method of MyCoolComponent").

Thanks for your help.

[2016-07-13 05:55] keyanzhang commented on #7257
Hey no problem. I recalled that I ran into this issue too so I totally feel your pain.

[2016-07-13 06:35] lukaswelte opened #7261 "Add Dependency CI checks"
[Dependency CI](https://dependencyci.com) is a new service out there.
It checks the status of the projects dependencies post commit.
It is able to read the dependencies from package.json and checks the dependencies for various metrics, e.g. for being deprecated, unmaintained or check the license.

**What is the current behavior?**
Currently when adding or updating dependencies you have to check th

[2016-07-13 07:47] rhoman opened #7262 "React + Redux + Sortable problem"
Hello,

I'm trying to sort list of elements (each with unique key) in aplication based on React and Redux.
For sorting I'm using: https://github.com/RubaXa/Sortable and it works really good until I save my sort order to redux store.
After my store changes it triggers re-rendering elements, which swap them back to previous positions, probalbly because React can'd detect that Sortable already made t

[2016-07-13 07:52] SalehHindi commented on #3218
https://gist.github.com/SalehHindi/f6599739c3d51719d8944bffe10ae6c3#file-reactclass-js-L763

This is my attempt but I am having trouble with a couple of things. I created a `window.startObservation()` function in ReactClass.js because I figured any page that has a react element needs to call `createClass()`. I'd be happy to answer any questions about my implementation.

My biggest problem is that

[2016-07-13 08:44] syranide commented on #3218
@SalehHindi I haven't read your code, but here's some feedback.

Incorrect, there are many different ways to create classes, there are even pure functional components (just functions).

The solution to this will be the same as to the above issue. This needs to move into the "core" of ReactDOM. Essentially, you should wrap and start/stop the observer around DOMChildrenOperations (or something a bit

[2016-07-13 08:46] tuures opened #7263 "support for referrerPolicy attribute"
``Warning: Unknown prop `referrerPolicy` on <a> tag.``

`referrerPolicy` is defined by the WHATWG HTML for e.g. `a` elements (https://html.spec.whatwg.org/multipage/semantics.html#the-a-element). Also see https://w3c.github.io/webappsec-referrer-policy/

[2016-07-13 08:52] syranide commented on #7256
[code]

Something like that if you want to have it immutable (good idea).

What you're doing is *valid* but you then need to call `this.forceUpdate()` after updating it, if you absolutely want to go that way, but there are caveats, so I really recommend sticking with immutable.

[2016-07-13 09:26] jdelafon commented on #6949
I don't know if it is the same issue, but with 15.2.1 I just got

    warning.js:44 Warning: There is an internal error in the React performance measurement code. Did not expect componentDidMount timer to start while render timer is still in progress for another instance.

and I have no idea where it comes from. Minimal code (hopefully without typo):

    import { Component, PropTypes } from 'reac

[2016-07-13 09:49] futurefeeling commented on #7256
@syranide thanks for reply. I got your point, but it has no warning in browser's console in my way. So  I'm confuse that whether the official allow this case.

[2016-07-13 09:56] syranide commented on #7256
@futurefeeling It can't be detected, so it's impossible to warn for. Also, as I said, it is valid. Just not recommended. Your scenario does not match the warning in the documentation, it's different (i.e. don't do `this.state.value = A').

It's allowed, but not recommended. Technically you are not mutating state (not ok), you have a mutable object in state (ok).

[2016-07-13 11:35] amertak commented on #2127
@syranide I am using the custom build with frag in the beta environment, however I would like to use official React build instead. Can you post somewhere your <frag> wrapper? :) Thanks

[2016-07-13 11:39] syranide commented on #2127
@amertak

[code]

[2016-07-13 11:44] gaearon commented on #2127
We talked more about this in the last team meeting. The consensus is that we don’t want to go with this particular implementation. However this feature will be supported in the long term core rewrite (no timeline on this for now).

We will also consider it again as one of the things we could potentially work on for the second half of this year if the rewrite takes too long or doesn’t work out. No

[2016-07-13 11:46] syranide commented on #2127
@gaearon It would be interesting with traction on having an official frag-syntax at least.

[2016-07-13 11:56] syranide opened #7266 "Unknown prop warning, ignore undefined?"
`Warning: Unknown prop ... on ... tag. Remove this prop from the element.`

These are emitted even if the property value is `undefined`. Should `undefined` perhaps be treated as not existing perhaps? That's how it is intended AFAIK.

[2016-07-13 12:24] gaearon commented on #6949
@jdelafon There’s a ton of code there. I would rather avoid spending 15 minutes setting it up just to discover I can’t reproduce the issue. Would you mind extracting the relevant part that produces the warning as a separate GitHub project or a JSFiddle so I could inspect it?

[2016-07-13 13:18] pke opened #7267 "Improve warnings about refs on functional components during runtime and in docs"
I had trouble to get `ref` working on one of my composite components.

This inline ref function

`<MyComp ref={element => this.listElement = element}/>`

will always be called with `element===null` on mount and unmount the like. Thats because `MyComp` is a stateless/functional component.

react should print a warning if one tries to use `ref` with stateless components.

[2016-07-13 13:22] amertak commented on #2127
@syranide Thanks for the code, but unfortunately it seems that I cannot use it as I need the `frag` as the root app component that is being renderer by `ReactDOM.render` method and this method will not accept fragment.

Thanks anyway, It will be useful for other people that don't need the `frag` as app root.

[2016-07-13 13:25] syranide commented on #2127
@amertak Yes it's only for enabling a more reasonable syntax for creating fragments, it doesn't add any new features.

[2016-07-13 13:27] amertak commented on #2127
@syranide
I was thinking If it would be possible to render comment manually and treat is as another component (that might not be necessary)?
Internally comments are handled as `#comment` type so maybe being able to call
`React.createComponent('#comment', { ... }, children)`?
Just an idea. Small workaround.

[2016-07-13 13:28] butchmarshall opened #7269 "Microsoft Edge - Has textInput event fires twice during ctrl-a selection + keypress and crashes Draft-JS"
This issue was discovered while building an editor in Draft-JS (see original issue filed [here](https://github.com/facebook/draft-js/issues/501))

Edge provides a TextEvent - but it's still not useful.  Disabling canUseTextInputEvent in React for Edge fixes the Draft-JS issue.

To reproduce the bug in Draft-JS:

Go to https://facebook.github.io/draft-js
type "a"
hit enter
type ctrl-a to select eve

[2016-07-13 14:39] jimfb commented on #7266
Someone mentioned this a while back.  Dan and I discussed it, and came to the conclusion that the current behavior is good, because the only case we could come up with for having the prop be `undefined` is if the prop was specified on the element and now you are trying to change it to be undefined.  The prop should never have been specified on that element in the first place.

If you're interested

[2016-07-13 14:45] jimfb commented on #7266
Best practice would be:

[code]

Alternate practice would be:

[code]

Bad practice would be to assign the props to be null:

[code]

[2016-07-13 14:57] timhwang21 opened #7271 "Chrome debugger causes some event listeners to be skipped"
**Browser**: Chrome 51, Mac

I have a React component that includes both an `onKeyDown()` and `onChange()` function. The component renders (among other things) an `<input />` with these functions as props.

**Unexpected behavior:** Without breakpoints from Chrome debugger, both functions run correctly. However, when there is a breakpoint introduced into the `onKeyDown()` method, the `onChange()` f

[2016-07-13 15:29] #7257 closed

[2016-07-13 15:34] syranide commented on #7266
[code]

@jimfb That's exactly my use-case, and my reasoning was that `delete` can be quite expensive and it's faster to simply assign `undefined`. I doubt it can be measured in practice, so I don't really care. Just thought it was worth bringing up (as it's generally a good idea), but for React I agree there's probably no real reason to do this. :+1:

[2016-07-13 15:34] #7266 closed

[2016-07-13 16:20] mnpenner commented on #2127
@gaearon A bit sad that this isn't coming soon, but I appreciate the transparency. Good write up!

[2016-07-13 18:56] #7263 closed

[2016-07-13 19:24] joshkel commented on #2686
@rafayepes The error list is automatically maintained via a Gulp task, so forgetting to do it isn't a concern. See bfd1531eca38e4e25a9517a00d5be1283bda6696.

[2016-07-13 20:06] dvoegeli opened #7276 "colors"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**

**What is the expected behavior?**

**Which versions of React, and which browser / OS are affec

[2016-07-13 20:21] #7256 closed

[2016-07-13 20:25] #7276 closed

[2016-07-13 20:28] #7099 closed

[2016-07-13 20:29] zpao commented on #7176
Merged #6471 so closing this out.

[2016-07-13 20:29] #7176 closed

[2016-07-13 20:52] mikecao commented on #7170
@syranide I just saw that #7099 was fixed but the fix only applied to the step parameter. Would this fix also work for min/max values?

[2016-07-14 04:00] futurefeeling commented on #7256
@syranide thanks

[2016-07-14 08:18] syranide commented on #7170
@mikecao Yeah that should work.

[2016-07-14 09:37] faergeek commented on #6949
This warning is also shown when something `throw`s in `render`. I'm pretty sure that it's not intended behavior.

[2016-07-14 09:50] faergeek commented on #6949
Unfortunately I can't reproduce it with minimal case. Probably there's something wrong in my setup :-(

[2016-07-14 10:49] yveslange opened #7279 "TodoApp example (on main page)"
On the main page: https://facebook.github.io/react/ where the `TodoApp` stands.

[code]

Let's look at the `TodoList` element:
[code]

Is there a reason to declare the `createItem` inside the `render` function ?

If no, I would suggest not to declare the `createItem` function inside the `render` function:

Suggestion:
[code]

What do you think ?

*PS: sorry, couldn't find a better place than here

[2016-07-14 11:01] gaearon commented on #6949
Check if you have duplicate React in the bundle (maybe some component contains a copy in its own `node_modules` by mistake).

[2016-07-14 11:02] #7231 closed

[2016-07-14 12:30] gaearon commented on #7262
No, you can’t have both React and another library modify the same DOM element(s).

What you technically *could* do is just render a `<div />` that never changes, and call your custom library from lifecycle hooks such as `componentDidMount` and `componentWillReceiveProps`. However in this case you would be sidestepping React completely.

[2016-07-14 12:30] #7262 closed

[2016-07-14 12:49] tomericco opened #7280 "onInput is not firing on contentEditable div in IE11"
When using `onInput` event on `contentEditable` `div`, the event is not being fired on IE11. It does work on Chrome 51.0.2704.103 (64-bit) and Microsoft Edge. It also reproduces on React 0.14.*, so it doesn't seem to be a regression.

See it being reproduced here: https://jsfiddle.net/dbmu8yps/

Maybe related to #4051 , @jquense?

[2016-07-14 15:54] jmullo opened #7281 "Input onChange not triggered every time in IE11 if e.preventDefault() used"
Input onChange not triggered every time if e.preventDefault() is called in onChange handler.

Occurs when typing fast: some characters are lost.

React 5.0.2 & IE11.

[2016-07-14 17:01] zpao commented on #7279
Thanks for the feedback. It's very common to use `map` and pass it an anonymous function, this is just a slight variation on that. It would still be created inside `render()`.

Honestly I think I'd rather write it using the anonymous function:

[code]

We're not going to change this today. One day in the not-too-distant future we'll likely update these examples to use ES6 classes and we'll refresh

[2016-07-14 17:01] #7279 closed

[2016-07-14 18:52] mikejoseph commented on #7240
Anyway to quiet the warnings in the mean time? I have about 5000 of these warnings in my suite which makes it a bit hard to look at the test output.

[2016-07-14 19:42] gaearon commented on #7240
As a super temporary fix you can put `require('react/lib/ReactComponentTreeDevtool');` at the top level in your tests. I think this should fix the issue. Be sure to remove it when the next version is out 😄 . And only do this in tests.

[2016-07-14 20:22] mikejoseph commented on #7240
Thanks for the suggestion :) . FWIW, it doesn't seem to have helped much.

In the mean time we're just dumping STDOUT to a file and inspecting that. Works quite well since the warnings are dumped to STDERR (for anyone with the same problem).

[2016-07-14 20:26] mthadley commented on #7240
Along the same lines, you could also do something like `npm test 2>/dev/null` if you are in a unix environment.

[2016-07-14 22:32] gaearon commented on #6335
We started something here:

https://facebook.github.io/react/contributing/design-principles.html

I will add more content in the coming days.

[2016-07-14 22:39] cpojer commented on #7240
Also `jest --silent` will silence console messages.

[2016-07-15 00:05] busticated commented on #6798
i'm not 100% on it yet but it would seem `webkit-playsinline` falls into this category as well with the changes around inline & auto playing videos on iOS 10.

[source](https://developer.apple.com/library/prerelease/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_10_0.html#//apple_ref/doc/uid/TP40014305-CH11-DontLinkElementID_12)

[2016-07-15 04:01] cunjieliu opened #7285 "how to pass parameter in click event when I am binding this in the constructor?"
I’m binding this to the class in the constructor
like this:
class Header extends Component{
constructor(props) {
    super(props)
    this.dosometing= this.dosometing.bind(this)
  }
dosometing(id){
 console.log(id)
}
}
and  write code in render
 onClick={() => this.dosometing(id)}

is right?

[2016-07-15 05:18] rhoman commented on #7262
Wpould it be possible if I use react-dnd for sorting/draging elements?

[2016-07-15 05:57] keyanzhang commented on #7285
Your `onClick` event handler will be called with an argument that has the type of `SyntheticEvent` (https://facebook.github.io/react/docs/events.html). If you don't need the value of the click event and only need to call `doSomething` with `id` (which I assume is a bound variable in your `render` function), then yeah `onClick={() => this.doSomething(id)}` should be fine. However if you need to `pr

[2016-07-15 05:57] #7285 closed

[2016-07-15 06:59] alexzherdev commented on #7262
It should be, here is a nice example: https://gaearon.github.io/react-dnd/examples-sortable-simple.html

[2016-07-15 11:35] matteobelfiore commented on #5296
If you are using `setInterval` or `setTimeout` inside those methods to fire the `callback`, it'll be most likely one of those, still running once the Component's instance is already gone (`undefined`). I just had this issue and got rid of it replacing the intervals and timeouts with an alternative.

[2016-07-15 16:03] kevinSuttle commented on #6717
@jimfb Do you have a guide for submitting new elements to support, tests to run, etc.?

[2016-07-15 16:27] kevinSuttle commented on #3596
@Aweary I wonder if the same would be true for Web Components, Brick, Polymer, etc.

[2016-07-15 16:35] Aweary commented on #3596
@kevinSuttle I would guess it would be, there's an issue open for jsdom regarding web components: https://github.com/tmpvar/jsdom/issues/1030

[2016-07-15 16:53] oztune commented on #7266
Along these same lines, is there a way to achieve the same prop deleting behavior with `React.cloneElement`?

[2016-07-15 16:57] jimfb commented on #7266
@oztune Sort of, but it is probably a very bad practice.  In general, the illegal prop should have never been attached to that DOM node in the first place.  That's the thing to fix.

However, If you really need to do this, rather than using cloneElement, you would manually pull the key, props, and ref off the old element and call React.createElement with your new props.

[2016-07-15 17:15] kevinSuttle opened #7287 "Discussion: should state be immutable by default?"
Taking some hard perspective from Redux, should a component's state be immutable by default, or would that be too much overhead for React?

Side note, and possibly previously addressed topic: Shouldn't `setState()` be immutable by default? I realize there are [immutability helpers](https://facebook.github.io/react/docs/update.html), but _man_ that syntax is hard on the eyes.

Not so much "sugar" a

[2016-07-15 17:16] spudly commented on #6985
So I just created a prototype for a solution to this problem. The basic idea is that you render the component twice on the server-side (once to get the html, once to get the checksum). For example, I have a `RawHtml` component that I want to render only on the server-side. I do not want to send the data twice (once as html, once as json).

The solution is this:
* set `shouldComponentUpdate` on `Ra

[2016-07-15 17:25] kevinSuttle opened #7288 "Docs request: adding support for new HTML elements"
e.g. #6717

[2016-07-15 18:51] zpao commented on #7287
Probably too much overhead, the lack of immutability also enables some potential performance improvements so personally I'm inclined to say no. But I haven't thought about it as much as @sebmarkbage so I'll let him chime in.

Generally if you want to make use of immutable-js, we say to store the value in state (eg `setState({data: new Immutable.Record()})`. I realize we don't actually say that exp

[2016-07-15 18:52] tajo opened #7289 "ReactDOMComponentTree.precacheNode triggers render()?"
**React v15.2.0:**

I'm trying to optimize my application with server-side rendering (using `ReactDOMServer.renderToString`). The problem is that React in browser always triggers render() methods for all components even when the root `data-react-checksum` is the same. Since my page is quite big it results in a few seconds lag when JavaScript arrives (scrolling is frozen - interestingly, it happens

[2016-07-15 19:56] shobhitg commented on #6949
I experienced this issue first thing while trying out gaearon/todos:
[code]

[2016-07-15 20:18] sebmarkbage commented on #7287
Do you mean React state should be immutable as in `Object.freeze(this.state)` or do you mean immutable as in an "immutable-js" Record data structure with the update method?

I don't think we can't take on `immutable-js` as a hard dependency. It is unclear if that's the end all way to treat immutable records anyway.

We could make `this.state` immutable since React recreates it whenever you call `t

[2016-07-15 20:38] zpao commented on #7289
In order to determine if the checksum is the same (as well as instantiate each component and set up internal state), we need to render the whole component tree again (even if we don't take any actions on the DOM). So having your `render` methods called on the client will always happen. It looks like when we will reuse the markup, we'll traverse the DOM to populate the cache.

I haven't looked clos

[2016-07-15 20:41] zpao commented on #6717
No written guide. But short guide is to have a test component that you render and (importantly) update the possible attributes. If there are events, then adding some handlers and clicking or whatever to fire those events.

There isn't really an automated process for that. In the past I usually just modify one of the examples and run it with my local build.

[2016-07-15 21:21] Aweary commented on #7288
That would likely be within the scope of a contributor's guide, see https://github.com/facebook/react/issues/6335 for the current discussion.

[2016-07-15 21:29] akre54 opened #7290 "Checkbox attribute unnecessarily removed from DOM on every render"
**Do you want to request a _feature_ or report a _bug_?**

Bug

**What is the current behavior?**

Rendering a list of controlled checkboxes causes the reconciler to unnecessarily update (add or remove) the `checked` attribute on every render, regardless of whether the value has changed.

I have a table with ~300-500 rows that needs to add a "highlighted" class to the rows based on some user inter

[2016-07-16 00:39] kevinSuttle commented on #6717
Yeah, that's what I was thinking as well. Thanks.

[2016-07-16 00:40] kevinSuttle commented on #7288
Ok great. Thanks!

[2016-07-16 00:40] #7288 closed

[2016-07-16 09:13] syranide commented on #7287
@sebmarkbage IMHO it seems `state` could even be considered a component-internal implementation detail, given the right life-cycle methods right? I.e. such that you could implement a MutableStatefulReactComponent/ImmutableJsStatefulReactComponent/etc base class (while ReactComponent does not provide state) yourself and use as you see fit. There's no major reason beyond "(unreasonable?) complexity"

[2016-07-16 14:22] slorber commented on #4213
Hey,

Just want to say that also got this problem when using ReactIntl. Like Redux connect() it did provide a {withRef: true} option to pass to HOC: https://github.com/yahoo/react-intl/wiki/API#injectintl

Sometimes we have to espace from declarative programming for some reasons and provide component imperative API (in my case an image cropper component). It's quite annoying when someone just add

[2016-07-16 16:02] barockok commented on #7290
I just see your jsfiddle, I thought your `Table` component should look like this, isn't it ?
[code]

[2016-07-16 21:01] milesj commented on #7287
@sebmarkbage I believe he's talking about `Object.freeze()`, which doesn't seem like too much overhead.

[2016-07-17 05:13] keyanzhang commented on #7287
@milesj I think the issue is that `Object.freeze(this.state)` is shallow; it doesn't prevent you from doing stuff like `this.state.data.field = ...;`. So we'll need to recursively deep freeze the state object, which doesn't really work (or has too much overhead) when the state contains circular references.

[2016-07-17 13:16] akre54 commented on #7290
Ah yeah good catch. Was in a rush when posting this. Fixed link above.

[2016-07-17 13:58] ashfurrow opened #7293 "License clarification"
Good morning! I came across [this blog post](http://react-etc.net/entry/your-license-to-use-react-js-can-be-revoked-if-you-compete-with-facebook) which says that the BSD license of React is terminated if a React user competes with Facebook, as per the patent clause addition. There seems to be a lot of confusion around what the clause _actually_ means, so I was wondering if you might consider addin

[2016-07-17 15:19] gaearon commented on #7293
The best I can do for now is to link to this post: [Updating Our Open Source Patent Grant](https://code.facebook.com/posts/1639473982937255/updating-our-open-source-patent-grant/). I’ll ask if our lawyers have anything to add to this. Cheers!

[2016-07-17 15:36] Houd1ny opened #7294 "Attributes from html element"
Hi, I`m new with react. I wanted to implement simple feature. But I need to accesses html element properties before it was rendered
for example I have html code
[code]
And I want to access  mydata from myCustomobject and that two instances was rendered with different data. I think it`s possible to set attributes for myCustomobject before replacing div.
I have not found in documentation how to do i

[2016-07-17 15:51] tj commented on #7266
Is there a way to disable this warning entirely? I don't use PropTypes

[2016-07-17 16:09] tj commented on #1587
Please don't! Not everyone uses/likes prop types

[2016-07-17 16:42] ashfurrow commented on #7293
Wonderful, thanks for the quick response!

[2016-07-17 16:52] Aweary commented on #1587
@tj I would assume any implementation would only warn if `propTypes` is defined on the component. So if you don't use `propTypes` at all you would be fine.

[2016-07-17 17:01] tj commented on #1587
True true. I though this was already in 15.x but I was just doing `<varName` instead of `<VarName` which leads to warnings on the props

[2016-07-17 17:13] gaearon commented on #1587
Don’t worry, we don’t like them that much either 😄
Longer term we’ll be encouraging people to use Flow (or TypeScript) instead.

[2016-07-17 17:27] tj commented on #1587
Awesome, I still have to try Flow, definitely would prefer to just use language features, even if they're still transpiled. I haven't been screwed too bad ignoring them so far haha

[2016-07-17 19:30] tribou commented on #285
Is this still being considered?  It would be nice if React could somehow encourage users to do small tasks *optimally* like when changing a header background color based on scroll position.

I encountered this on a project, and my instinct was to use `setState` until I ran across this SO issue/answer relating to `setState` performance: http://stackoverflow.com/a/35467176/1510454

This is the compo

[2016-07-18 01:48] zhouce opened #7295 "In NW.js app, the 'file' type <input> onChange event doesn't fire"
I use react in my node webkit application.
I just update the react and react-dom from 0.14.3 to 15.2.0, I haven't changed my code. But the onChange event not fire now, and there is no error console log.

Any help will be appreciated.

[2016-07-18 02:33] brigand commented on #7294
This bug tracker is for issues with react itself. For usage questions, please ask on StackOverflow or IRC.

The short version is that you should already have the data in js, so there's no need to pull it from the dom.

[2016-07-18 07:22] stephenkingsley commented on #7295
@zhouce can I review your code?

[2016-07-18 10:23] fcamblor commented on #7293
As an additional information, here is [the diff between v1 an v2](https://github.com/facebook/osquery/commit/159899a303d0859eb7c3768561544c48ccea42b3)

[2016-07-18 11:09] gelobelo02 commented on #6949
Experiencing this one too

[code]

[2016-07-18 11:15] gaearon commented on #7293
This claim is false.

I can’t speak to the author’s motives but a simple fact check reveals that Microsoft recently released (and is actively working on) [React Native for Windows](https://github.com/ReactWindows/react-native-windows). It is obviously using React, and is developed by Microsoft employees. And it was [announced on Windows Blog](https://blogs.windows.com/buildingapps/2016/04/13/react

[2016-07-18 11:19] jdelafon commented on #6949
It is hard for us to isolate the problem without knowing where this warning comes from. It seems that ReactDebugTool is catching all kinds of errors, especially in `render`. It happens when there is really an error in my case, but it hides the real message. I don't have react-addons-perf in my package.json.

[2016-07-18 12:47] gaearon commented on #6949
There are no try-catch statements there. What likely happens is that **you might have a Promise polyfill than doesn’t log its unhandled rejections.** Therefore errors thrown inside `render()` get caught by that polyfill, and are never reported. Then React gets into an inconsistent state, and you see that warning (which is a symptom). But the real problem is the error thrown in your `render()` meth

[2016-07-18 12:57] jdubois commented on #7293
There is indeed a lot of stupid things said about this patent grant, but still that doesn't mean that there isn't a couple of big issues here:

- Software patents are awfully complex. I have no idea what would happen in court, and I don't want to know. The best solution to avoid problems with software patents, is to avoid them in the first place.
- As a developer, I have no idea what my clients ar

[2016-07-18 13:29] xiao-hu opened #7297 "<input type='number' defaultValue={someValue}/> is not working correctly in Chrome"
`<input type='number' defaultValue={someValue}/>` does not work correctly in Chrome. When user type in a decimal point `.`, the point will disappear and the caret will be be reset to the beginning of the input. If you keep typing in `.` twice, the value of input will disappear. However, if a input has no defaultValue, it seems to work fine.

I've put together a fiddle page to demo the bug: https:/

[2016-07-18 13:45] nathanmarks commented on #6949
@gaearon I managed to reproduce it in `gaearon/todos`.

in `src/components/VisibleTodoList.js`, create a typo in `mapStateToProps` where `getVisibleTodos()` is called:

[code]

Result:

[code]

[2016-07-18 13:49] nathanmarks commented on #6949
Just as an additional note -- I realise that this isn't hiding the message, but I personally haven't been able to reproduce this in a manner which completely hides the error message.

I haven't got this problem in my own application except when using HMR + react hot loader. In my own app, if I create a reference error in render and let it get hot reloaded, I get this error. But if I do a complete

[2016-07-18 13:51] nathanmarks commented on #6949
Yeah, I'm not sure how to completely mask the error with this. By the way, is the perf tools warning intended to fire under these circumstances?

[2016-07-18 13:59] kafeltz commented on #7297
If you use it without ReactJS the behavior is similar. Type some dots with numbers and press up/down arrow keys. I'm not sure how it should be handle to avoid this since natively it disapears too.

[2016-07-18 14:14] gaearon commented on #6949
This looks like correct behavior to me. The error is printed but it gets React into an inconsistent state.
We should probably rephrase to include something `This might be caused by an error thrown in a component, in which case you should fix that error instead.`

[2016-07-18 14:15] gaearon commented on #6949
Let’s reopen because we should definitely make this more user-friendly.
I’m open to suggestions here.

[2016-07-18 14:39] love4shen opened #7298 "help for getting rid of the use case of TimerMixin in React Native"
**Do you want to request a *feature* or report a *bug*?**
help request

**What is the current behavior?**
I want to replace `TimerMixin` in my React Native with something else. Given that Dan has talked about downsides of using mixins, I still cannot find a solution for my use case.

[2016-07-18 15:03] syranide commented on #7293
@jdubois I'm not part of Facebook and this is my entirely private opinion, nor am I a lawyer.

That's how the industry is, so Facebook needs to cover their asses and they're giving you an assurance that they can't come after you for it, *even if* they have relevant and enforceable patents. If there are actual nefarious side-effects of the extra patent clause, then fine, but please bring something

[2016-07-18 15:06] syranide commented on #7297
#7253 related?

[2016-07-18 15:36] jdubois commented on #7293
`You sue if you believe you end up with a winning hand after tallying up plus and minuses, you don't bite the hand that feeds you`-> you didn't understand my use case, so let me re-phrase.

- I'm a consultant working for a big company, a few days this month. I will have finished this work this week, but my client is supposed to use my work for 10 to 15 years.
- Maybe some part of my client, which

[2016-07-18 16:13] jimfb commented on #7253
Number inputs are broken in React, due to https://github.com/facebook/react/issues/6556, which was filed before #6406 was merged.  You're going to see the same problem with email inputs (as per https://github.com/facebook/react/issues/6368, which is basically the same issue, again filed before #6406 was merged).

It is entirely possible that #6406 exposes that bug for defaultValue, but the bug was

[2016-07-18 16:17] jimfb commented on #7297
Yes, duplicate of #7253, root cause is https://github.com/facebook/react/issues/6556

[2016-07-18 16:17] #7297 closed

[2016-07-18 16:19] STRML commented on #7253
@jimfb Understood, it's very frustrating that there is no way to get the raw value out of an `<input>`. I think, though, that it deserves some investigation into why this bug *does not* manifest in Firefox, as I believe it still follows the spec on that one.

[2016-07-18 16:22] Aweary commented on #7293
Not to be rude, but isn't that your responsibility? The license is clearly outlined in this repo, if you or your client have these concerns it would seem like something you should be discussing with their legal team before starting the project.

I understand that the license can be confusing for developers, but it's not really meant for developers. It's a legal document that should be reviewed by

[2016-07-18 16:29] jdubois commented on #7293
No you are not rude: I perfectly agree with you, it's the developer's responsibility. It's the whole point of my comment.
Please note I'm not a ReactJS user, I just commented on the discussion here because I happened to have retweeted a specific blog post on this matter, and I had like 3 people telling me to read the license. So I did it, and I believe people should do the same.

[2016-07-18 16:30] jimfb commented on #7253
@STRML That's because Firefox doesn't fire an onChange if the input's value is invalid.  It's an interesting way of sidestepping the issue in the common case, since the onChange behavior is presumably undefined when the input is in an illegal state.

[2016-07-18 16:46] roginator commented on #7293
I'm no lawyer but, as far as I can see, this bit of the article is mistaken: "Because of the patent clause you are not allowed to do anything that constitutes as competing with Facebook. ". There also seem to be other inaccuracies.

However, this bit in bold does seem to be true (in relation to a patent assertion): "**If you do take legal actions** or in other ways challenge Facebook, **your licen

[2016-07-18 17:17] zpao commented on #7298
https://github.com/reactjs/react-timer-mixin/issues/4 has some discussion so lets close this out and just keep it there.

[2016-07-18 17:17] #7298 closed

[2016-07-18 17:19] #7294 closed

[2016-07-18 17:22] nhunzaker commented on #3659
I dug into this just now. I can't reproduce the issue on React 15.2.1. I'm going to trace back and see when it was fixed.

[2016-07-18 17:49] gaearon commented on #7293
Do you interpret “the license hereunder” in PATENTS file as referring to a license in another file?

[2016-07-18 18:00] nhunzaker commented on #3659
Yikes. Wrong. This is broken on React 15.2.1. It only appears to have been fixed on master.

[2016-07-18 18:07] spicyj commented on #3659
@nhunzaker Mind bisecting to figure out which commit fixes it and needs to be cherry-picked?

[2016-07-18 18:08] nhunzaker commented on #3659
@spicyj doing it now :)

[2016-07-18 18:12] akre54 commented on #7290
Ok I did some digging. It looks like the [`shouldIgnoreValue`](https://github.com/facebook/react/blob/v15.2.0/src/renderers/dom/shared/DOMPropertyOperations.js#L48-L54) from [`setValueForProperty`](https://github.com/facebook/react/blob/v15.2.0/src/renderers/dom/shared/DOMPropertyOperations.js#L144-L146) is always true when `value` is false, and always false when `value` is true (due to [this line

[2016-07-18 18:29] sassanh commented on #6842
Is it considered fixed? I'm using 15.2.1.

https://www.dropbox.com/s/dqcwnukwokwubsf/Screenshot%202016-07-18%2022.57.18.png?dl=0

This warning repeated 484 times on console and then:

https://www.dropbox.com/s/3ip8vqros8biz8b/Screenshot%202016-07-18%2022.58.08.png?dl=0

this error repeated 484 times on console and page failed to render.

[2016-07-18 18:38] sassanh commented on #6842
The problem was that I was using an undefined variable but the error/warning messages were completely misleading. After defining the variable it works without any warnings nor errors.

[2016-07-18 18:40] gaearon commented on #6842
Can you please provide a sample reproducing this?

[2016-07-18 18:45] gaearon commented on #3710
Just a quick update: this is still very much on our radar, and all PRs are appreciated.
We have many competing priorities so we’ll get back to this when the time allows.

[2016-07-18 18:46] sassanh commented on #6842
Thanks for quick reply. I need to create one as the code is not open source, I'll do it asap.

[2016-07-18 18:56] nhunzaker commented on #3659
This one:

045f1a791c6e17253e9d927ffca70ae5d00b4fe5

Awesome work, @jquense

[2016-07-18 18:57] nhunzaker commented on #3659
Sorry for the double post..

Looks like: 045f1a791c6e17253e9d927ffca70ae5d00b4fe5

Awesome work, @jquense.

[2016-07-18 19:00] gaearon commented on #6842
Thanks.

I’ll reopen so this is on my our radar. To be clear, this is likely not a bug in React (the actual error probably was in the component, and it got React into an inconsistent state). But we should recover from such errors, or at least not to spam you with warnings.

[2016-07-18 19:04] sassanh commented on #6842
Yeah I understand it's not a "bug" in react that produced the problem but as you said I think it could have handled better so that the developer could find the issue easier. Spamming warnings/errors and making the tab unresponsive (I couldn't even refresh or close the chrome tab and I had to kill it.) isn't nice.

[2016-07-18 19:11] gaearon commented on #6842
Yea, totally. At the very least we should make the warning warn at most once. This is enough for us to catch issues in tests but solves the spamming problem. The relevant code is in `ReactDebugTool`. Would you like to send a PR to fix it? You could keep a bool `hasWarned` and use that flag to decide whether to log warning or ignore it silently.

[2016-07-18 19:12] sassanh commented on #6842
Sure, I try to manage to do it at the weekend.

[2016-07-18 19:15] nhunzaker commented on #3659
If it helps, here's my test script to reproduce:

https://gist.github.com/nhunzaker/428f9f1283e790b152254510dd92afbe

I just ran it locally on my Android phone from `examples/date/index.html`.

[2016-07-18 20:27] nadimtuhin commented on #7293
I am a noob in license issues and my assertions might look dumb. But I am crazy for react and the recent license confusions are getting me.

So can I infer
1. if I compete with facebook, it wont terminate my use of react
2. if I initiate a patent assertion against facebook, it will terminate my use of react

Now I am confused about this
3. if I violate a patent of facebook, will it terminate my us

[2016-07-18 20:40] akre54 commented on #7290
It looks like the [behavior changed for the `true` branch](https://github.com/facebook/react/blob/15ae5857f6a86ead4143dc100c61d27736cf29d9/src/renderers/dom/shared/DOMPropertyOperations.js#L150) on master, but is still wrong on the `false` branch.

The original change is here: 77a137adf917c0ab87a6c9b6fec58938b14c38ce, the latest change is #6987. Without investigating too deeply it looks like movin

[2016-07-18 21:40] nathanmarks commented on #6949
Rephrasing is a good option. It's certainly correct behaviour given what happens, but the current message could be confusing to some.

One thing I haven't been able to reproduce is masking the original error. @jdelafon can you shed any light on how to reproduce this?

[2016-07-18 22:23] roginator commented on #7293
@gaearon “the license hereunder” in PATENTS refers to the "Software" which in turn "... means the React software distributed by Facebook, Inc." as stated at https://github.com/facebook/react/blob/master/PATENTS. Not sure if you're suggesting otherwise?

[2016-07-18 22:23] tommoor commented on #6974
@gaearon interested as to what solution you came to for HOC's - in my situation I'm wrapping an Input to provide additional functionality but would like to still be able to do `this.refs.wrappedInput.value` for example.

[2016-07-18 22:24] jdelafon commented on #6949
Apparently I did not notice the real error after the warning (I reproduced my example above and saw `React is not defined` after it). So it is fine, and rephrasing the warning should fix it.

[2016-07-18 22:28] roginator commented on #7293
@nadimtuhin as I mentioned, I'm not a lawyer but, from my understanding, here's my opinion:

1. if I compete with facebook, it wont terminate my use of react
-- Correct
2. if I initiate a patent assertion against facebook, it will terminate my use of react
-- Correct
3. if I violate a patent of facebook, will it terminate my use of react?
-- It doesn't say that anywhere that I have seen. But, if y

[2016-07-18 22:32] gaearon commented on #6974
@tommoor Are you asking about this proposal or workarounds in existing React versions?

[2016-07-18 22:43] tommoor commented on #6974
@gaearon sorry, I got the impression that you understood refs better and therefore this was no longer needed... looking through the other PR's/issues now perhaps this isn't actually the case? Is there a workaround that can seamless expose the wrapped components ref? 😄

[2016-07-18 23:24] zpao commented on #7293
Still not a lawyer some clarifications based on my understanding…

@nadimtuhin:

Terminating the use of React is at your discretion. At that point the patents license would terminate but you still have a completely valid BSD license to use React. At that point though, if there are patents covered by React, you would be exposed to a counterclaim.

Directly from the grant:

My understanding is that

[2016-07-19 01:08] davidgilbertson opened #7300 "Highlight element that failed checksum"
At the moment, when the server-rendered markup doesn't match the client-rendered markup, a big red error is shown, but it can be difficult/impossible to locate the element where this occurred.

Would something that logged the offending element to the console be considered as a pull request?

![react-diff](https://cloud.githubusercontent.com/assets/4443482/16935229/07cc7b20-4da1-11e6-9e30-f5f584d33

[2016-07-19 03:18] stephenkingsley commented on #7267
I think `stateless component` just a tool, so in my options, this is unnecessary.

[2016-07-19 03:19] KCraw commented on #7233
We had a similar issue setting value on controlled inputs of type="date" or type="time". It worked fine on desktop Chrome, but didn't display the value in iOS Chrome or Safari. We were getting events triggered and the value seemed to be set on the input, but not displayed.

Interestingly, when the page was rendered server side using ReactDOMServer, everything worked fine. But being rendered client

[2016-07-19 03:23] zp1112 opened #7301 "After updating to React 15.2, react-flexbox-grid is throwing lots of similar warnings:"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

    in div (created by Col)
    in Col (created by Index)
    in div (created by Row)
    in Row (created by Index)
    in div (created by Index)
    in div (created by Index)
    in Index (created by Connect(Index))
    in Connect(Index) (created by ReactRouterProxy)
    in ReactRouterProxy (created by R

[2016-07-19 03:53] bjrmatos commented on #7293
I think that a blog post (maybe from facebook's lawyers) with some clarifications will help a lot, you know, everyone say "im not a lawyer" but that doesn't help :(

I'm teaching react to some friends and companies and they really love react but when someone ask about react's patents i don't have a good answer, talking about lawyers and patents in a conference or local meetup is just scary. I thin

[2016-07-19 03:55] spicyj commented on #7233
@KCraw Interesting clue. Maybe that means it's https://github.com/facebook/react/pull/6406?

[2016-07-19 07:14] syranide commented on #7301
React 15.2 now warns if there are unknown properties supplied to HTML tags. This is an issue with react-flexbox-grid, I suggest you submit this issue to them instead.

[2016-07-19 07:34] LiuuY commented on #1740
Recently I am reading the source code about batching, this comment really make me confused, until I find this issue, maybe you guys can delete it? I think it may be helpful for others.
https://github.com/facebook/react/blob/1e8156143a6389e2235fa16536bb9161d26a23ce/src/renderers/shared/reconciler/ReactUpdateQueue.js#L140-L144

[2016-07-19 09:23] jdubois commented on #7293
After watching "the Social Network", I'm not sure we should trust Facebook's lawyers :-)

[2016-07-19 09:47] gaearon commented on #7301
Indeed, this is not a bug in React.
You would need to file this issue with `react-flexbox-grid`.

https://fb.me/react-unknown-prop explains how to fix the problem on their side.

Cheers!

[2016-07-19 09:47] #7301 closed

[2016-07-19 09:49] alexzherdev commented on #3710
Thanks @gaearon. I have a bunch of PRs pending but will continue with this if I have time. Will post here if I start working on something.

[2016-07-19 09:58] alexzherdev opened #7302 "PropTypes: More informative warning in createElementTypeChecker"
**Do you want to request a *feature* or report a *bug*?**
Enhancement

**What is the current behavior?**
Element type checker is not as informative as the other ones.

**What is the expected behavior?**
It would be nice to provide the actual type of the prop passed similarly to other type checkers. I.e., instead of

say

**Which versions of React, and which browser / OS are affected by this issue?

[2016-07-19 10:18] gaearon commented on #7302
Sounds good to me.

[2016-07-19 11:24] sassanh commented on #6842
Even though https://github.com/facebook/react/pull/7299 manages to reduce warnings, we still have problem with 484 errors and chrome tab getting unresponsive for around a minute (user can only kill it).

[2016-07-19 11:34] gaearon commented on #6842
What errors are you referring to?

[2016-07-19 12:27] sassanh commented on #6842
https://www.dropbox.com/s/3ip8vqros8biz8b/Screenshot%202016-07-18%2022.58.08.png?dl=0

[2016-07-19 12:49] ashfurrow commented on #7293
@zpao I understand the discussion went off the rails, I certainly apologize for distracting everyone from more productive work, but I disagree that this issue isn't actionable. @gaearon was going to check in with the lawyers about a tl;dr that could be added to the readme to clarify the clause and its motivation, which I think would help dispel a lot of the confusion around the license. Would you

[2016-07-19 12:59] gaearon commented on #7293
I talked with the lawyers, and @zpao’s clarification is the best we can give at the moment.

Facebook has been open sourcing many more projects in the last few years, and having protection against patent trolls is one of the reasons we have been comfortable doing it. Narrowing this protection would make us much more cautious releasing something (e.g. React itself might not have been released if th

[2016-07-19 13:13] gaearon commented on #6842
Those errors appear unrelated to the issue in this thread. In general, we don’t currently support gracefully recovering from errors thrown in components. This may come later (#2461) but it’s not there right now. So yes, you’ll see many errors thrown. We recommend scrolling up to the first one and fixing it (it usually causes all the others).

[2016-07-19 13:46] nhunzaker commented on #3659
@spicyj I went ahead and put in the legwork to backport this in the following PR: https://github.com/facebook/react/pull/7303. Assuming this is viable, I wouldn't mind backporting it to 0.14.x and 0.13.x if possible (or interest)

[2016-07-19 13:48] sassanh commented on #6842
I see, thanks for info. So I guess we can close this.

[2016-07-19 14:03] ashfurrow commented on #7293
@gaearon Thanks for getting back to me – I appreciate it. It's an imperfect world we live in, and it may just be that this is something developers are perennially confused by.

Thanks again for taking my issue seriously, and for the work the entire React team puts into this project and the community.

[2016-07-19 14:36] RaitoBezarius commented on #7302
May I take it, please? @gaearon
Except if @alexzherdev wants to tackle it, of course!

[2016-07-19 14:42] alexzherdev commented on #7302
Yup, I'm on it.

On Tuesday, 19 July 2016, Ryan Lahfa <notifications@github.com> wrote:

[2016-07-19 14:43] RaitoBezarius commented on #7302
@alexzherdev Awesome! :+1:

[2016-07-19 15:12] naoisegolden commented on #2093
If a button is not set to `type="button"` it will default to be of `type="submit"`, making it so that you have more than one submit button. Pressing enter will run the first one defined.

[2016-07-19 15:21] jdubois commented on #7293
@gaearon Joke apart, trusting another company's lawyer isn't a good way to make legal decisions. If you believe lawyers are honest and neutral...

[2016-07-19 18:02] MicronXD commented on #4373
I also hate magic, *but* I think this so obviously should be a feature for the sake of cleanliness that its magic-like behavior could be forgiven.

This muddies otherwise clean jsx markup:
`{ !hideSomeComponent && <SomeComponent /> }`

that could otherwise be handled like:
`<SomeComponent hidden={hideSomeComponent} />`

<hr>

It feels so gross doing this:

[code]

instead of this:

[code]

[2016-07-19 18:43] #6842 closed

[2016-07-19 20:16] gaearon opened #7307 "Make createElement(undefined) warning more descriptive"
**Update: claimed by @jin**

This is what I see when I mistype an import:

<img width="768" alt="screen shot 2016-07-19 at 21 12 01" src="https://cloud.githubusercontent.com/assets/810438/16964870/7392ba8c-4df5-11e6-8af6-7d00181e5089.png">

This is not very useful.

When `type` is `undefined`, we should provide a better message. In 95% of cases it is caused by an invalid import. We should create a

[2016-07-19 20:19] gaearon commented on #7307
If you intend to work on this, please write in a comment here. The change to the code is very small so most of the effort would be spent on creating a good warning page explaining common problems and solutions.

Here is an example of such warning page: https://github.com/facebook/react/blob/master/docs/warnings/legacy-factories.md. This one would be similar (but about a different topic).

[2016-07-19 20:22] jin commented on #7307
Can I look into this?

[2016-07-19 20:22] gaearon commented on #7307
Sure!

[2016-07-19 20:23] gaearon commented on #7307
I’m “assigning” myself so I keep track of this issue but it’s yours.

[2016-07-19 20:32] Pajn commented on #7307
Please include a stacktrace!
This is the worst possible message to get after doing a big merge as there are absolutely nothing to guide you to where the problem can be.

[2016-07-19 20:35] jin commented on #7307
@Pajn Will do! I'm bitten by the lack of information many times too, especially when dealing with HOC.

[2016-07-19 22:18] zpao commented on #7307
Similar: #7215.

[2016-07-20 01:16] finnigantime opened #7310 "request: optional strict validation for valid attributes in React Native renderer"
**Do you want to request a _feature_ or report a _bug_?**
feature request

**What is the current behavior?**
Consider this code from `ReactNativeAttributePayload.diffProperties()`:

[code]

If I pass invalid properties on the node, they are simply skipped over.

**What is the expected behavior?**
I would like a warning that I'm using some illegal property that's not understood. It would make it mu

[2016-07-20 01:58] Feahter opened #7314 "cannot find module 'react/addons',how to solved this issue?"
**Do you want to request a *feature* or report a *bug*?**
I try to use gulp&browserify run a react demo,but get this answer in windows-7.
**What is the current behavior?**
![image](https://cloud.githubusercontent.com/assets/13764431/16972567/2a2729b8-4e5f-11e6-8119-8d4ed230eaf4.png)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pro

[2016-07-20 02:08] cht8687 commented on #7314
I assume that your demo project has module dependency on react-addons module which you didn't install it. Perform a `npm install` might solve  your problem.

I think questions like this shouldn't be asked here as an 'issue'. Better to ask it in other places rather than open a ticket.

[2016-07-20 02:28] Feahter commented on #7314
ok, thanks.I am so sorry ,I will close this issue soon. react/addons this folder is exist in react, i try to npm uninstall react ,npm install react again,even  npm install addons in react,this problem is not besolved.

[2016-07-20 02:30] #7314 closed

[2016-07-20 06:03] krishbhattacharyya opened #7315 "Facing problem with react webpack installation"
I have followed the steps as it is in- https://facebook.github.io/react/docs/package-management.html

npm install --save react react-dom babel-preset-react babel-loader babel-core
webpack main.js bundle.js --module-bind 'js=babel-loader'

But got the error like  the shared screen. Please how can solve this? Or is there any proper installation guide for React, Redux & webpack?

![issue](https://clo

[2016-07-20 06:22] milesj commented on #7315
Have you tried `npm install webpack`?

[2016-07-20 06:23] mxstbr commented on #7315
That means the `main.js` file doesn't exist in the folder you're trying to run the `webpack` command in. Could that be the case?

[2016-07-20 06:33] krishbhattacharyya commented on #7315
Thanks for reply. @milesj & @mxstbr
I have already installed-  npm install -g webpack .

Yes @mxstbr I did not add main.js in folder...

Can you share please the proper way to installed the react+ redux+webpack.

[2016-07-20 06:36] mxstbr commented on #7315
You have got everything installed perfectly fine, add a `main.js` file in that folder with these contents and it _should_ work:

[code]

[2016-07-20 07:06] krishbhattacharyya commented on #7315
Thanks @mxstbr .
Actually you did not get my point.

My steps-

1) npm init
2) give name "package name"
3) npm install react react-dom --save   ( save the dependencys )
4) npm install --save  babel-preset-react babel-loader babel-core babel-preset-es2015

Then I got the error like this-
![last](https://cloud.githubusercontent.com/assets/10433734/16977907/9cc41b0e-4e76-11e6-99cd-253b8c883232.jpg)

[2016-07-20 07:18] usirin commented on #7315
@krishbhattacharyya adding `webpack` as local dependency as well should do the trick.

[code]

[2016-07-20 07:34] krishbhattacharyya commented on #7315
Thanks @usirin

But "npm install webpack --save-dev" not supporting my operating system(Vista). Thanks everybody.

[2016-07-20 08:34] #7315 closed

[2016-07-20 09:12] gaearon commented on #7315
What do you mean by not supporting? Webpack works on Windows.

[2016-07-20 09:43] cpbotha commented on #2753
On our two IOS 9.3 test ipads, doing `width=device-width` as documented at https://developer.apple.com/library/mac/releasenotes/General/WhatsNewInSafari/Articles/Safari_9_1.html#//apple_ref/doc/uid/TP40014305-CH10-SW8 does not work on our two IOS 9.3 test iPads (where it DOES work on Android Chrome).

For this reason, we are still using fastclick.js with our react.js app (see http://stackoverflow.

[2016-07-20 14:15] Peeja opened #7317 "ReactCSSTransitionGroup's transition*Timeout props are required but undocumented"
When a `ReactCSSTransitionGroup` is used without timeout props, it [warns](https://github.com/facebook/react/blob/master/src/addons/transitions/ReactCSSTransitionGroup.js#L28-L33):

for each missing timeout prop. However, that URL simply points to [the Getting Started section of the Animation page](https://facebook.github.io/react/docs/animation.html#getting-started). The code listed there does us

[2016-07-20 14:24] gaearon commented on #7317
Hmm, I think it does:

<img width="516" alt="screen shot 2016-07-20 at 15 23 18" src="https://cloud.githubusercontent.com/assets/810438/16989915/e5f53c38-4e8d-11e6-87f2-b62f0970d9aa.png">

Some line breaks would help there.
There is an entry explaining why they were added in 0.14 release notes:

<img width="717" alt="screen shot 2016-07-20 at 15 24 12" src="https://cloud.githubusercontent.com/asse

[2016-07-20 15:31] mdedys opened #7318 "React and Polymer child not properly rendered in <content></content> of web component"
**Do you want to request a _feature_ or report a _bug_?**
I am looking to report a bug/clarify if the following is a problem. I upgraded to React v15 and found that web components that rely on <content></content> to embed html elements are not working when used in a React Component.

Example:

[code]

Usage in React Component:

[code]

**What is the current behavior?**

The resulting DOM looks as

[2016-07-20 18:10] Peeja commented on #7317
Ah, got it. Yeah, knowing how it works now, I can do that. Thanks!

[2016-07-20 18:16] #7302 closed

[2016-07-20 18:19] zpao commented on #7318
@jimfb - I know you're busy with some other things, but any insight here?

[2016-07-20 20:37] igorushko opened #7320 "IE 10 Member not found."
I catch Member not found exception on react 15.2.1 and ie10

It is on input onChange in SyntheticEvent on event.cancelBubble = true; line

[code]

[2016-07-20 22:10] Elijen commented on #5632
@zpao Why can't `console.warning` be used here? Stack trace is available using `console.trace`

[2016-07-20 23:01] anggao commented on #7211
@dhavalsoni2001 just found `onInput()` won't work in IE9 :(

https://jsfiddle.net/L7vxr7yb/

[2016-07-20 23:56] jimfb commented on #7318
Without having looked into this issue, I assume it is because v0.14 used html markup, so this broke when we switched to createElement.  I expect that `content` is not watching for changes to children, so this was probably always broken/unsupported for updates anyway.

I think the `content` tag was removed from the spec and is deprecated anyway (https://developer.mozilla.org/en-US/docs/Web/API/HTML

[2016-07-21 00:19] mdedys commented on #7318
Thanks for the quick response. Didn't know <content> was deprecated since it is widely used in Polymer Elements.

[2016-07-21 00:21] sebmarkbage opened #7323 "Optimizing Compiler: Component Folding"
This is like the final frontier for React but I never really wrote anything about it so I figured I'd create an issue.

Basically, the idea is to utilize information about how React works to do [constant folding](https://en.wikipedia.org/wiki/Constant_folding) and [inlining](https://en.wikipedia.org/wiki/Inline_expansion) of components under certain conditions.

Example Source:

[code]
[code]
[cod

[2016-07-21 00:32] jimfb commented on #7318
Looks like `content` may have been replaced by `slot`, which may have the same issue.  So maybe we'd want to fix this anyway.

@mdedys Any chance you are using the shady-dom instead of the shadow-dom? https://www.polymer-project.org/1.0/blog/shadydom

If you experience the same issue `slot` and a full ShadowDOM (not ShadyDOM), an jsfiddle would be the next step toward fixing this.

[2016-07-21 00:36] jimfb commented on #7318
We would also need to know if the children that get added to a `slot` can be modified via javascript, such that the shadow nodes get updated.

[2016-07-21 00:42] sebmarkbage opened #7324 "Optimizing Compiler: Compiling to Internals"
This optimization is a renderer specific optimization. It is about knowing how React will process a particular component in its internals and then inlining that internal work into the user code.

It comes in two flavors.

# Known Host Component

[code]

Into this:

[code]

# Composite Components

Similarly, composite components can pick different code branches to imperatively update its children.

[2016-07-21 00:45] mdedys commented on #7318
Yes I am using shady-dom instead of the standard shadow-dom. I will experiment with ```slot```.

[2016-07-21 01:16] jimfb opened #7325 "Warn if someone is using the shady-dom with React"
We should probably emit a warning if someone is using the shady-dom (instead of the shadow-dom) with React, since that will cause things to break subtly.

https://www.polymer-project.org/1.0/blog/shadydom

[2016-07-21 01:16] jimfb commented on #7318
React is not special-cased to support shady-dom, so you're likely to run into a lot of issues with it.  You should use the shadow-dom when using React.  We should probably warn when someone is using shady dom.  https://github.com/facebook/react/issues/7325

[2016-07-21 01:33] Aweary commented on #7325
I'd be happy to give this a try

[2016-07-21 03:51] Hasanul-Hoque2013 commented on #7318
Hasanul Hoque

[2016-07-21 07:17] Munter commented on #7323
Access to other files source code can be established by populating the full dependency graph. Tools like browserify, webpack, systemjs or assetgraph give you that

[2016-07-21 07:41] craig-harvie opened #7327 "SVG in react component is not animating"
I'm seeing an issue with a SVG I have inside a react class. The class is as follows:

[code]
It renders the SVG fine, but the path elements aren't animating as they should.

I'm on React and React Dom 15.2.1

Thanks

[2016-07-21 08:16] keyanzhang commented on #7327
Hey,

In your example I didn't see the part that specifies the animation. Could you explain to me how it would be animated? Thanks!

[2016-07-21 08:42] 2Pacalypse- commented on #7220
Hi, any update on an estimated date yet?

[2016-07-21 11:03] anggao commented on #7211
And this issue seems only occurs in IE11

[2016-07-21 12:26] lPadier opened #7328 "IE 11 and Edge no longer prompt to remember password on controlled form"
**Do you want to request a _feature_ or report a _bug_?**
Bug (regression) IE/Edge

**What is the current behavior?**
On React > v15.2.0, Edge and IE11 do not prompt the user to save the password for the form

**Steps to reproduce**
With react 15.1.0:
https://jsfiddle.net/69z2wepo/49876/
With React 15.2.0:
https://jsfiddle.net/69z2wepo/49877/

**What is the expected behavior?**
The browser prompts

[2016-07-21 15:33] seanrucker commented on #6949
Rephrasing seems like a good idea. I started seeing errors like this after upgrading to 15.2.1:

`warning.js?8a56:44 Warning: There is an internal error in the React performance measurement code. Did not expect componentDidMount timer to start while render timer is still in progress for another instance.`

I see now this is thrown anytime I have an error in one of my components (which happens freq

[2016-07-21 16:08] gaearon commented on #6949
Got it. I think it was my mistake to enable this by default. We should change it to only be active in tests. I’ll get back to this soon.

[2016-07-21 16:19] sebmarkbage commented on #7323
@Munter This is not currently available by default nor set up in people's build systems. At any kind of large code base it is also too slow to just read/parse these files randomly. It needs to be smarter, parallelize and cache info. It's certainly not impossible to build but it just isn't integrated. We'd have to build it and get adoption before this particular transform is possible.

[2016-07-21 16:38] caridy commented on #7323
To illustrate what @sebmarkbage is talking about rollup limitations, here is a pseudo code of the example above:

http://rollupjs.org/#%7B%22options%22%3A%7B%22format%22%3A%22es%22%2C%22moduleName%22%3A%22myBundle%22%2C%22globals%22%3A%7B%7D%7D%2C%22modules%22%3A%5B%7B%22name%22%3A%22main.js%22%2C%22code%22%3A%22import%20Foo%20from%20'.%2Ffoo.js'%3B%5Cnimport%20Classes%20from%20'.%2Fcssclasses.js'

[2016-07-21 18:13] stephenjwatkins commented on #7253
Based on these two codepens, this bug was introduced in 15.2.0.

15.1.0: http://codepen.io/stephenjwatkins/pen/GqxGWJ [works]
15.2.0: http://codepen.io/stephenjwatkins/pen/yJpWQk [doesn't work]

[2016-07-21 18:36] jimfb commented on #7253
Wow, did Chorme just release an update?  I'm 98% positive that codepen would not have worked a week or two ago.

It looks like Chrome will now retain the "." when the user does a `input.value=3`

The fiddles in #6556 are now all behaving in a "nicer" way now.  Looks like the ball is back in our court.

How much you want to bet that Chrome fixed this because of React?

[2016-07-21 19:49] STRML commented on #7253
Still broken in 52.0.2743.82 (64-bit), are you seeing this working with 15.2.0?

[2016-07-21 20:06] zpao commented on #7220
RCs are available on npm. Final probably tomorrow or early next week, need to check if we're getting some React Native coverage.

[2016-07-21 20:10] gaearon commented on #5632
They are coming from React Bootstrap, and next version will fix them.

[2016-07-21 20:18] jimfb commented on #7253
What is still broken?  I'm talking about the fiddles in #6556.  Do those still look broken to you?

[2016-07-21 21:19] STRML commented on #7253
Yes -
![screen shot 2016-07-21 at 4 19 39 pm](https://cloud.githubusercontent.com/assets/1197375/17039207/f1cac70e-4f5e-11e6-96c4-4a639e5001d4.jpg) on Chrome 52

[2016-07-21 22:17] spicyj commented on #4807
@pixelastic Can you take down the reactjs.algolia.com site or add a robots.txt to disallow crawling? It's getting indexed by Google.

[2016-07-22 01:52] nhunzaker commented on #6441
This was an interesting bug to check out, so I did some poking around. My initial thought was just to assign `type` before `value` in the updateWrapper. Is this sane?

https://github.com/facebook/react/compare/master...nhunzaker:nh-input-change-fix?expand=1

It eliminates the bug, but it's too simple. It feels shallow. What do you think?

[2016-07-22 02:23] spicyj commented on #6441
Can we move the `.updateWrapper` calls below the `_updateDOMChildren` call? I think that's the best solution here and looks like it should work.

[2016-07-22 02:48] jacalata opened #7331 "Cannot use TestUtils.Simulate on a component created with TestUtils.renderIntoDocument"
We have just upgraded from react 0.14.7 to 15.2.1 and some of our existing tests have begun failing due to this issue.

Apparent cause: components created with TestUtils.renderIntoDocument do not have a tagName, and therefore TestUtils.Simulate does not recognise them as components and leaves the node null.

jsfiddle repro: http://jsfiddle.net/Jacalata/xu9L0nfo/

[2016-07-22 03:58] appsforartists commented on #7323
This reminds me a bit of @jeffmo's talk about using Flow for tree-shaking at React Europe.

[2016-07-22 05:26] michaelsync commented on #7240
@gaearon

It doesn't work for me. I added this line at the top of all test files. I am still getting the same error.

[2016-07-22 05:37] michaelsync commented on #7240
I am using cmder/powershell on Windows. It look like there are two types of warnings. Ones are in white and another are in red. Please look at the screenshot below.

![image](https://cloud.githubusercontent.com/assets/192911/17047502/08becbf4-5022-11e6-8e0a-20c7e18b3573.png)

If I run "npm test > $null" then it doesn't show the error and the warning messages which are in red color anymore.

[2016-07-22 08:29] harmony7 commented on #1899
Inserting a full working example here for others' reference

[code]

[2016-07-22 10:12] reauv commented on #7240
I'm also running in to this issue with Karma. Running the latest version (15.2.1). The proposed temporary workaround/fix with requiring the ReactComponentTreeDevtool didn't work either.

[2016-07-22 11:11] craig-harvie commented on #7327
Hey Keyan,

I had adapted the svg from http://tympanus.net/Tutorials/SVGLoaderGSAP/index6.html

Looks like I was missing the CSS animations. Good spot. Thanks.

[2016-07-22 11:11] #7327 closed

[2016-07-22 11:55] nhunzaker commented on #6441
Yes. I was also able to get test coverage on this. The value is nullified by the DOM when the type changes such that the the value is no longer valid, or if a new value is assigned that is not valid.

Unrelated, it's pretty cool that JSDOM picks this up.

Done in https://github.com/facebook/react/pull/7333

[2016-07-22 11:59] craig-harvie commented on #7327
Actually @keyanzhang ,

Do keyframe animations work in React?

I have added the following to my sass file:

[code]

But it still doesn't seem to be animating.

[2016-07-22 13:01] jugimaster commented on #1691
For the record, I ran into this problem without doing anything exotic.

I've got a CRUD-style entity list table where each row has an onClick handler to "choose" the entity the row represents. But in one of the row's cells, there are control buttons with their own onClick handlers.

Now when I click on one of the buttons under the table row, the table row's onClick gets triggered before the button

[2016-07-22 14:18] gaearon commented on #7240
The fix will be out in 15.3.0 which will soon be released.

[2016-07-22 14:18] gaearon commented on #7240
Also, 15.3.0 RCs are on npm so you can try using them.
https://github.com/facebook/react/issues/7220#issuecomment-234367952

[2016-07-22 14:39] dmitriy-luch opened #7334 "Documentation - Links in documents text are wrong"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
404 error
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template: https://jsfiddle.net/reactjs/69z2wepo/).**
1) Open a page from docs like this one https://github.com/facebook/react/blob/master

[2016-07-22 14:45] gaearon commented on #7334
Please read the documentation on the website.
http://facebook.github.io/react

You are looking at the source files so the relative links don't work as they are written against the website. It's confusing but unfortunately this is how Jekyll works.

[2016-07-22 14:45] #7334 closed

[2016-07-22 15:35] harmony7 commented on #1881
For the record, since 15.x it no longer works even on initial render (since moving away from innerHTML). All rules with "!important" are now being thrown out.

[2016-07-22 17:20] syranide commented on #1881
For non-IE8 (which we actually don't actively care about anymore) this can technically be solved.

[2016-07-22 18:03] zpao opened #7337 "Stop using imgur for images in blog post"
https://facebook.github.io/react/blog/2016/07/22/create-apps-with-no-configuration.html is using imgur for image hosting. We should just put those on our site, like we have for previous posts.

While making sure we maintain control, it will also ensure that those images are served over HTTPS (which they aren't currently). We could fix that by updating the img srcs but we should probably just host

[2016-07-22 18:14] zpao commented on #7337
Actually, I'll just do this, going to fix up some other links to be https :)

[2016-07-22 18:33] necolas commented on #6352
I took #4303 and have made adjustments to provide initial web support for the Responder system. The work is spread over 3 places – injecting the plugin, normalizing native events, and intercepting events in `View` before original handlers are called. It would be great if there were eventually official DOM support for the Responder system and PanResponder

* [injectResponderEventPlugin](https://git

[2016-07-22 18:49] sebmarkbage commented on #6352
I want.

[2016-07-22 19:00] vjeux commented on #7337
cc @gaearon

[2016-07-22 19:08] gaearon commented on #7337
Oh, sorry, it was 5am and by brain didn’t function well.
Won’t do this in the future.

[2016-07-22 19:29] zpao commented on #7337
Not actually a big deal short-term, just wanted to make sure we didn't lose these things :) (PS, great work on both the tool and the post!)

[2016-07-22 19:38] vjeux commented on #7337
Thanks!

[2016-07-22 19:38] #7337 closed

[2016-07-23 01:38] #6441 closed

[2016-07-23 01:38] #7144 closed

[2016-07-23 02:00] keyanzhang commented on #7327
It should work. Could you provide a jsfiddle (https://jsfiddle.net/reactjs/69z2wepo/ is a good one to start) to demonstrate the issue?

[2016-07-23 02:37] nhunzaker commented on #7211
This works correctly on master.

[2016-07-23 13:28] craig-harvie commented on #7327
Hey @keyanzhang

I got it working!

It was actually just a total user error on my part. I had changed the `opacity` attribute to `fillOpacity` for some bizarre reason lol.

Thanks for you help!

[2016-07-23 15:15] nhunzaker commented on #7320
This isn't an issue on master, but I believe it's because of a change to controlled inputs here: https://github.com/facebook/react/commit/045f1a791c6e17253e9d927ffca70ae5d00b4fe5. I could be wrong, but I think this is because it avoids creating a custom change event (But really, I don't know).

[This occurs when dispatching custom events that don't bubble (I believe) in IE](http://stackoverflow.co

[2016-07-24 01:41] sassanh commented on #613
Well reading above comments I don't know how to tell this. I know you're just against using oop in react applications. Lets forget about oop and go with (quoting @jordwalke) "ES6 classes simply as a better syntax for React component creation". Just to make the syntax better is it possible to support inheritance? I think it'd be much cleaner syntax than wrappers and mixins.

[2016-07-24 11:09] purezen opened #7345 "Higher-Order Components not reacting to change in props."
I am trying to implement basic filtering functionality using Higher-Order Components.

The HOC looks like,

**filter.js**
[code]

However, on typing in the input element, the generateList() method is not being called. I tried using `componentWillReceiveProps` but that does not get triggered as well. Though it is happily passing on the props, `searchTerm` and `setSearchTerm` to the search component

[2016-07-24 11:41] brigand commented on #7345
This bug tracker is for issues with react itself. For usage questions, please ask on StackOverflow or IRC.

[2016-07-24 12:05] gaearon commented on #7345
Indeed. If you can show this is a bug in React itself we can reopen.

[2016-07-24 12:05] #7345 closed

[2016-07-24 20:23] ericelliott commented on #613
This is the kind of thinking you get when you use `class`, because `class` affords `extends` like balls afford throwing and chairs afford sitting, and [this is where that thinking leads](https://medium.com/@cscalfani/goodbye-object-oriented-programming-a59cda4c0e53).

[2016-07-24 23:53] Elijen commented on #5632
@gaearon This is just an example. I know this error should be fixed by React Bootstrap, but what concerns me is the React behavior where _warnings_ are printed as _errors_ which makes debugging and development hard (can't filter these out from JS console).

That's why I think usage of `console.warning` should be considered.

![react](https://cloud.githubusercontent.com/assets/1304054/17087448/887e

[2016-07-25 01:53] sassanh commented on #613
I can't believe that somebody actually written that nonsense and I can't believe that it's being referenced. If he can't use/doesn't know how to use oop paradigms doesn't mean he should write something titled "Goodbye, Object Oriented Programming".

The kind of thinking you mentioned is the kind of thinking that has led to the browser you're using, operating system you're using, and more than one

[2016-07-25 03:04] h87kg commented on #7233
I meet it on the mobile browser also. The default value has already been set, but it couldn't be rendered correctly.

<img width="442" alt="img1" src="https://cloud.githubusercontent.com/assets/1426436/17089226/09ba6f90-5257-11e6-99b2-2a09766924fd.png">

<img width="326" alt="img2" src="https://cloud.githubusercontent.com/assets/1426436/17089250/4048c17e-5257-11e6-957f-872de81f3b3b.png">

[2016-07-25 08:02] sebmarkbage commented on #613
This thread is not about the validity or success of OOP. React classes already support inheritance if you want it, we just don't recommend it after our experience with it.

There's nothing technical to address here so I'd recommend taking the philosophical discussion to Medium, Twitter or a nice Facebook group.

[2016-07-25 09:03] sassanh commented on #613
I'm sorry that discussion happened here.

It'd be great if you support inheritance, currently it works but as you know there are some issues with it. Is it possible to plan to solve these issues and support inheritance officially if it's not taking too much effort? It'd result in much cleaner code if nothing else.

[2016-07-25 09:16] mehdijjz opened #7346 "z-index of interaction"
say we have :

[code]

if we put TargetComponent on top of other components with `position : absoloute`, it will be impossible to interact with it ! but if we change the order of implementation like :
[code]
it will come on top of other components. It's something like **z-index of interaction**! is this a problem ? or it's just the way react works ?

[2016-07-25 09:23] pixelastic commented on #4807
Sure thing. We've added a redirect to the official docs instead.

[2016-07-25 09:54] Sinewyk commented on #7323
I thought about it a lot and there would probably be a need of some sort of cursor to edit what to inline and what to not inline regarding code size no ?

After a lot of folding, there would logically be the original component definition (if we couldn't fold everything ?) + the number of time it was inlined * the size of what was inlined.

Depending on what was done; the bundled size could jump a

[2016-07-25 12:16] jpdevries commented on #6999
In my tests, React 15.x completely breaks IE8. Total white screen of death even when using the prod builds. 😢 This is very alarming because it makes building progressively enhanced web apps cumbersome. All this work to ship initial HTML, and then React destroys it all just by including it on the page.

I can do a separate proof of concept for the issue and would be willing to work on a PR if the i

[2016-07-25 12:45] syranide commented on #7346
That's all browser/HTML behavior, not something React is involved with.

Also, please use GitHub issues only for React bugs/development. Use the forum/StackOverflow for general questions.

[2016-07-25 12:45] #7346 closed

[2016-07-25 14:57] BlockChange opened #7349 "Did not expect componentDidMount timer to start while render timer is still in progress for another instance"
Not sure this should be filed as a bug, or if this is intended behaviour, in which case it would be more of a feature request, for something that we lost since the last few versions.

Which is more specific error logging.

Since the last few version this error shows up too many times, without any usable stack-trace:

`There is an internal error in the React performance measurement code. Did not ex

[2016-07-25 15:01] gaearon commented on #7349
This is on my list, I’ll look at fixing it this week. To be clear, this warning itself is not valuable to you, **you should look for an earlier error in your code instead**. This is just a symptom; the root cause is as you described:

An earlier error occurred in your app, so scroll the console up and look at the original error, not this warning, or `Cannot read property '_currentElement' of null`

[2016-07-25 15:10] BlockChange commented on #7349
@gaearon Scrolling back there is no related error being logged, but React does chock on it, which is both strange and annoying.

[2016-07-25 15:22] ian-speers opened #7350 "babel-node: ReactComponentTreeDevtool.js causes ReactDOMServer.renderToString to fail"
While following a server-side react tutorial, I encountered a runtime error caused by ReactComponentTreeDevtool. Specifically, the purgeDeep function seems to be problematic under certain conditions (react/lib/ReactComponentTreeDevtool.js line 47):

User Code:

<img width="258" alt="screen shot 2016-07-24 at 3 49 40 pm" src="https://cloud.githubusercontent.com/assets/19496802/17106234/73aaee92-523

[2016-07-25 15:23] gaearon commented on #7350
Can you provide a minimal project reproducing this? Thanks.

[2016-07-25 15:24] gaearon commented on #7349
This probably means you are using a Promise polyfill that swallows errors. Could that be the case?

[2016-07-25 15:45] ian-speers commented on #7350
[React_Issue_7350.zip](https://github.com/facebook/react/files/381890/React_Issue_7350.zip)

[2016-07-25 16:19] ericelliott commented on #613
@sebmarkbage My apologies. I'm hopeful that we move toward more functional components in the future so that lots of React users don't have to relearn inheritance pitfalls the hard way.

For those who like classes and want to make the best use of them with React, @gaearon wrote an excellent guide, ["How to Use Classes and Sleep at Night"](https://medium.com/@dan_abramov/how-to-use-classes-and-sleep

[2016-07-25 16:25] GitHub27 opened #7351 "this.transferPropsTo is not a function"
Hi, Can you help me?
Uncaught TypeError: this.transferPropsTo is not a function
React v0.14.7

[code]

[2016-07-25 16:56] gaearon commented on #7351
You are probably following a very old tutorial. `transferPropsTo()` was deprecated [a year and a half ago](https://facebook.github.io/react/blog/2014/10/16/react-v0.12-rc1.html#deprecated-transferpropsto), and has since been removed.

Instead of

[code]

you can write

[code]

[2016-07-25 16:56] #7351 closed

[2016-07-25 17:28] paulwithap opened #7352 "Respect my autocomplete values"
Bug

Currently React transforms any non-"off" value given to the `autoComplete` property to "off".

**Example:**

JSX: `<input type="password" autoComplete="new-password" placeholder="Password" required />`

Rendered HTML: `<input type="password" autocomplete="off" placeholder="Password" required />`

Besides the obvious case of "on", there are also semantic detail values that are a valid part of

[2016-07-25 18:10] zpao commented on #7352
What browser are you experiencing this in? We don't do anything special with that attribute so I'm guessing the browser might be "correcting" your value to something that confirms to [the spec](https://www.w3.org/TR/html5/forms.html#autofilling-form-controls:-the-autocomplete-attribute) (which indicates "on" and "off" are the only valid values).

[2016-07-25 18:10] zpao commented on #7352
Here's a test case that appears to be working as you expect in both Firefox and Chrome: https://jsfiddle.net/em1t93hv/

[2016-07-25 18:13] zpao commented on #6999
We don't actively support IE8 anymore (https://facebook.github.io/react/blog/2016/01/12/discontinuing-ie8-support.html) so we won't be taking any active measures. If you'd like to fix up some places where just including it on a page breaks things we'd consider that.

[2016-07-25 18:14] paulwithap commented on #7352
@zpao it appears you're right. I just realized this myself after noticing that setting `autoComplete="off"` in my JSX resulted in browser behavior that was different than `autoComplete="new-password"`.

I guess Chrome must be accepting, then changing the semantic values for some odd reason? I think this issue can be closed.

[2016-07-25 18:25] jquense commented on #7266
hehe, just bit by this. The logic behind the choice makes sense, however it's not intuitive given that the more widely used heuristic for "provided" prop is `=== undefined` (or `== null` even) throughout the rest of React. TBF tho @syranide's point is valid, `delete` is slower, tho probably not prohibitively, but who could even measure such a thing.

[2016-07-25 18:27] taion commented on #7266
I agree with @syranide's issue. We have this use case in the context of:

[code]

Doing e.g.

[code]

is not ideal here because it doesn't in general pass "unused variables" linting rules.

My preference here would be to do:

[code]

exactly to avoid the deoptimization of the object away from fast mode here. I want to avoid using e.g. Lodash `omit` specifically because that one makes a bunch of ex

[2016-07-25 18:36] syranide commented on #7266
@taion Not agreeing/disagreeing. I think the only real argument for keeping it as-is is that I think you'll find a lot of people taking the easy route and "unintentionally" passing around `undefined` (rather than `null`), so you'd have cases where you've specified an invalid prop but the value is `undefined` and thus not showing a warning (but then again you only need to see the warning once). Is

[2016-07-25 18:38] brigand commented on #6999
@jpdevries You might be able to solve your problem by only calling ReactDOM.render on supported browsers, e.g. by checking the user agent or using IE conditional comments.

[2016-07-25 18:41] jpdevries commented on #6999
@brigand I tried that. Removing my `app.js

[2016-07-25 18:46] jpdevries commented on #6999
@zpao thanks for the info. I'll see if I can whip something up. I understand not support IE8, but to destroy the page completely seems very aggressive. So far, I've been able to do a feature detection to see if it is an old browser and then I just don't load the scripts at all, but that doesn't seem like a process many web developers would follow

[2016-07-25 18:46] brigand commented on #6999
@jpdevries not saying it's a good solution or that this behavior is acceptable, but as a quick fix try wrapping all of the scripts in an IE conditional comment. Strangely, there's no way to say "if IE and not IE less than 9" as far as I can tell, so you might need to use document.write.

[code]

[2016-07-25 18:51] jpdevries commented on #6999
@brigand I would up with something not too much different, but it does use feature detection instead of the userAgent

[code]

I load React and Redux dependencies from CDNs with local fallbacks.

I also tried a trick where you create a global variable, and then use IE conditionals to set that global variable to true (or false). I prefer the feature detection method though.

[2016-07-25 18:54] taion commented on #7266
@syranide

That actually violates the `no-unused-expressions` Lint rule (enabled in Airbnb's config, which we use – though not in `eslint:recommended` or in `eslint-config-fbjs`... though comment there suggests it should be enabled with `allowShortCircuit` set to `true`)

The `delete` isn't the end of the world; just saying I'd rather set to `undefined`, but not by much.