[2018-03-14 13:58] nmain commented on #12369
One example use case where this would help me:
[code]

`ElementSize` uses `React.Children.only` to pick out its child, and then uses a `ref` to attach a `ResizeObserver` to it.  I need to verify that the child element is in fact an HTML element and not something else.

[2018-03-14 14:38] yegao opened #12374 "when use webpack4.0.1 bundle a react App, ERROR like this"
ERROR in ./node_modules/_react@16.2.0@react/cjs/react.production.min.js
Module not found: Error: Can't resolve 'fbjs/lib/emptyFunction' in '/Users/zr/work/react.family.ink/node_modules/_react@16.2.0@react/cjs'
 @ ./node_modules/_react@16.2.0@react/cjs/react.production.min.js 10:80-113
 @ ./node_modules/_react@16.2.0@react/index.js
 @ ./src/app.js
 @ multi ./src/app.js

ERROR in ./node_modules/_rea

[2018-03-14 14:58] jburghardt commented on #12361
This tracker is used for bugs and features,

if you have questiones you can ask have a look here: https://facebook.github.io/react/community/support.html

That being said,
i could not reproduce your error with the code you provided

[2018-03-14 15:52] yangdonglai commented on #12361
I will copy this question in other place.

@jburghardt Otherwise, I dont understand this line.

I have save these two demo in codesandbox. [demo1](https://codesandbox.io/s/8nv081l708) and [demo2](https://codesandbox.io/s/xj4j54lk9z)
they really have different console message.

<img width="479" alt="sync" src="https://user-images.githubusercontent.com/17786362/37413602-63b1e444-27e2-11e8-833f-ea0f5

[2018-03-14 19:55] diegoborda commented on #11593
Hi! I see this issue is taken but it seems still. @veekas Are you taking it? I can finish it if you want.

[2018-03-14 19:59] veekas commented on #11593
Oh wow, completely forgot about this. Thanks for the ping @diegoborda. I'll have it done asap.

[2018-03-14 21:35] aweary commented on #12374
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-03-14 21:35] #12374 closed

[2018-03-14 21:39] Marujah commented on #3163
PropTypes.oneOfType([() => {return null}, PropTypes.string]).isRequired works for me

[2018-03-14 23:40] jharris4 commented on #3163
@Marujah your snippet is not correct.

Try passing null to the component, and you'll see you'll get the warning:

```Warning: Failed prop type: The prop 'theProp' is marked as required in 'TheComponent', but its value is null.```

The touble is that the isRequired gets evaluated FIRST and it will never let null or undefined values through.

The PR to prop-types to fix the issue is linked above if

[2018-03-15 02:10] James2516 opened #12376 "Why setState re-renders even if state stays the same?"
[code]
[![Edit zw28l3ynkm](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/zw28l3ynkm)

I know we can define a `shouldComponentUpdate` to check if `this.state === nextState`, but why not check this by default? Same goes for props.

[2018-03-15 03:17] #12376 closed

[2018-03-15 05:48] unruffledBeaver commented on #12249
I actually have an additional concern similar to this. I often will block re-renders on components that are doing imperative DOM changes, most commonly, canvas elements. Because the only element rendered is `canvas` all my updates happen through a draw method, not the React renders.

A pattern I use a lot is
[code]

So I can still use HOC's to calculate things like mouse movements and drag and pas

[2018-03-15 07:28] dantman commented on #6436
I've proposed an RFC https://github.com/reactjs/rfcs/pull/28 that would allow creating custom ref handlers that work like props (i.e. you use properties like you would `onClick` but instead use computed property syntax and the handler gets ref and prop value info and updates). These can be used to create libraries for just about any advanced use case you have.

- Passive, explicitly non-passive, o

[2018-03-15 09:41] raunofreiberg commented on #12369
What about using the [react-is](https://github.com/facebook/react/tree/master/packages/react-is) package? This is built for exactly your described purpose.

[2018-03-15 09:44] raunofreiberg commented on #12369
The [react-is](https://github.com/facebook/react/tree/master/packages/react-is) package is built specifically to serve that purpose.

Otherwise, I don't see why this API needs to be related to React itself. You could just use the helper function internally in your application instead.

[2018-03-15 10:55] m93a commented on #12369
@raunofreiberg Yes, you could code the helper function yourself. But making a list of all HTML elements isn't exactly what I call “efficient” or “comfort”. And it mostly relies on *undefined behavior* as I needed to look into the source code to make this function, the specs weren't enough. Furthermore the `react-is` package isn't visibly mentioned in the specs and tutorials. If we add `isHTMLEleme

[2018-03-15 11:46] satispunk opened #12378 "Different behavior of updating DOM while using ternary operator vs inline approaches"
**Do you want to request a *feature* or report a *bug*?**
Not sure if this is bug of feature
**What is the current behavior?**

There are 2 very similar cases, often chosen by matter of preferences, but work with DOM is different

In the first case icon is updated in DOM
[code]

In the second case icon is mounted/unmouted
[code]

**If the current behavior is a bug, please provide the steps to repr

[2018-03-15 12:09] linkenneth opened #12381 "async-safe way of reading this.state?"
**Do you want to request a *feature* or report a *bug*?**
feature request / question?

I'm having a problem that I'm sure some people have had, though I feel like it should be much more solvable. Suppose I have a component that receives state updates from many sources. For example,

[code]

Now, somewhere outside of the `render()` method I need to read `this.state`. Since `this.setState` is asynch

[2018-03-15 12:30] gaearon commented on #12381
Can you explain more about the use case? Why do you need to read the pending state rather than the one the user sees on the screen?

[2018-03-15 13:14] linkenneth commented on #12381
Thanks for the quick response. I'm implementing a game. In the longer-term I intend to render the game with something more complex, but in the meantime I've just been wrapping it in a React component. This problem appears to be more general than the particularities of the game though...

The state of the world is represented by a grid: (W represents wall, > represents the player's character, . rep

[2018-03-15 13:24] jquense commented on #12369
I don't think this is a good fit for a React API. ReactDOM is trying harder to have _less_ whitelists like this, and it  generally doesn't even know if something is a valid element type, heck RD will try and render any string type as an element. From what i've gathering from why you'd want this I think it's more than enough to just check if the type is a `string`

[2018-03-15 13:40] gaearon commented on #12381
Where is `move` called from? If it’s a result of calling `setState` then you’ll get the previous state as an argument of the updater function. Can you explain more about why this is not sufficient?

[2018-03-15 13:48] gaearon commented on #12381
In other words

[code]

[2018-03-15 14:41] linkenneth commented on #12381
Thanks again for the response! Hmm, I think this will work but requires some custom transformations of the player's commands to correctly execute in that context and use state. I'll keep this solution in mind as I implement, but right now this seems a bit fragile, so I'm leaning towards keeping state outside of `this.state` instead.

I'm happy to close this issue as there are a few solutions, but

[2018-03-15 14:54] gaearon commented on #12381
This is a bit hard to discuss without a specific full example.

You can force `setState` to be synchronous:

[code]

That’s a bad perf practice though.
There are good reasons why React doesn’t flush state immediately.

I encourage you to check these resources out where I went in depth on it:

https://stackoverflow.com/questions/48563650/does-react-keep-the-order-for-state-updates/48610973#48610973

[2018-03-15 15:04] linkenneth commented on #12381
Thanks! Let me take a look at those resources and see whether these work. The performance hit (haven't tested yet) may not be that bad, since we might want to execute the player's commands one line at a time anyways to "animate" the moves. Do you mind if I continue implementing and get back to you?

[2018-03-15 15:25] gaearon commented on #12381
Sure

[2018-03-15 15:30] hejld commented on #12378
Hey Pavel, in your second second case React is not able to match your component in the original tree with the one in the subsequent tree. You can solve this by using keys.

[2018-03-15 15:40] jquense commented on #12378
Yeah, these cases look similar but aren't the same. In the second case React sees two children: `false` and `icon`, and `icon`/`false` depending on the expanded value. So instead of swapping between the two elements it's unmounted the first and mounting the second. You _could_ tell react these are the same element with a `key` prop, but it'll still end up doing more work than you'd want, e.g. movi

[2018-03-15 15:40] #12378 closed

[2018-03-15 17:22] elektronik2k5 commented on #8359
Any update on this? I've just been bitten by this gotcha in `react@16.2.0`. I know: it's my fault and I should have RTFM, but a warning sure would have helped in this case. :smile:

[2018-03-15 18:23] satispunk commented on #12378
@jquense @hejld  Thanks for answers guys!

[2018-03-15 19:35] Marujah commented on #3163
Oh indeed! retested again you'r right

[2018-03-15 19:50] gaearon commented on #6974
This is addressed now by https://github.com/reactjs/rfcs/pull/30

[2018-03-15 23:29] reywright commented on #6622
@gaearon I have a use case.

I want to render a full page component, but there are a couple of id's within that page that we inject into from a 3rd party. We can obviously break up this page component into like 6 different disparate components we inject separately, but it's a much worse experience.

[code]

So essentially the server pre-renders the react and gives this to us, and then 3rd party ja

[2018-03-15 23:38] reywright commented on #8017
@roastlechon wait can you elaborate? Hydration should blow everything away, no? If your ad renders after server side render but before client render, why would the client hydration honor the ad and keep it there?

[2018-03-16 00:41] eliseumds commented on #8017
@reywright it will keep it there if you render exactly the same thing on both sides (same thing on the React tree but different things in the actual DOM tree). For example:

[code]

Browser renders the ad even before this code loads, client-render-phase happens but doesn't touch the previously-created DOM nodes since that DIV has the same properties.

[2018-03-16 06:11] ghulamhussain opened #12388 "Gitter Room"
please make a react room on gitter

[2018-03-16 06:18] TrySound commented on #12388
https://reactjs.org/community/support.html#reactiflux-chat

[2018-03-16 06:28] ghulamhussain commented on #12388
i know but a gitter room would also be better . it doest cost a thing .

[2018-03-16 11:25] grahammendick opened #12389 "propagateContextChange Stuck in an Infinite Loop"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

In the process of converting [my Navigation router](https://grahammendick.github.io/navigation/) to the new context API I found that `propagateContextChange` sometimes gets stuck in an infinite loop. I’ve created a [JsFiddle of the problem](https://jsfiddle.net/pxzo0foq/42/). If you click the 'Name' s

[2018-03-16 12:16] NE-SmallTown opened #12390 "Could we get more friendly error stack from ErrorBoudary?"
**Do you want to request a *feature* or report a *bug*?**

Maybe a feature?

**What is the current behavior?**

Currently the error Component Stack(i.e. `arguments[0]` of `componentDidCatch`) is something like:
[code]
But in production, they would be formatted to:
[code]
This is almost **useless for our debugging.**

**What is the expected behavior?**

I want to request a feature which allow us to

[2018-03-16 12:40] quanganhtran commented on #4847
Flattened composite keys for example?
For example if the key could be `parentName1$childName1` we might end up with
[code]
We will have key collision at `abc$def$gh`. Sure the example is very specific so I cannot argue how common is this use case, but if the names come for the user then it might happen no matter what delimiter you use

[2018-03-16 13:34] jquense commented on #12390
I think your concern there is probably unfounded. Anyone can already do that by looking at the js code, and any added name field will necessarily be visible in the source code, since the stack traces are built running runtime. Not to mention the _name_ you give the component is far less interesting to anyone than what the component does, which is already out in the open in the code.

[2018-03-16 15:06] NE-SmallTown commented on #12390
Thanks for you response.

As I said:

I agree this is like we are deceiving ourselves, but you have to acknowledge that it make **more less people** to get the results directly which we don't want them to look

[2018-03-16 15:23] jquense commented on #12390
I don't think I agree with that. It's already _very_ easy to do this, and adding another property doesn't improve the situation substantially. Hit f12 in a browser and click the `pretty print` button, all your components are already there to see from the identifier names, where they are used. More to the heart of the issue tho, knowing the component names isn't a security risk, so effort to obfusc

[2018-03-16 15:35] AlexGalays commented on #8669
@ackvf

The <Children/> instance reference changed but its type (and key) is still the same, so the underlying DOM Element needs no update and the same component remains mounted.

[2018-03-16 15:37] raunofreiberg commented on #11734
What's the status on this one? It seems like this isn't resolved since there are no warnings on assigning symbols or functions to the `defaultValue` prop.

[2018-03-16 20:31] Orelc opened #12393 "Keep the children mounted but replace the parent"
Hi,

I'm trying to do something like this:

[code]

Basically what I want is a situation where App is rerendering on a changing boolean prop (Imagine someCondition has an actual changing value), and a different container will render depending on its value, while maintaining the same children inside. Problem is, that those children are doing async fetches (on DidMount), but they re-mount and lose t

[2018-03-16 20:50] gaearon commented on #12389
Can you try to turn it into a test, similar to other tests here?
https://github.com/facebook/react/blob/master/packages/react-reconciler/src/__tests__/ReactNewContext-test.internal.js

[2018-03-17 01:37] yegao commented on #12374
OK,sorry and thank you！

[2018-03-17 03:30] NE-SmallTown commented on #12390
See, you have to do **so many things** to get the answer, if there is not a lib to do this automatically, you have to look through the whole src code or write a lib by yourself. On the other hand, many people open the react-devtools and if they don't see the correct component name, **they won't think** they can get them in the src code or even search/write a lib to do this.

I know, I just want **

[2018-03-17 04:20] elimisteve commented on #5878
@sophiebits

Unfortunately that would make our React-powered sites vulnerable to clever attacks/injections, such as this CSS-only keylogger: https://no-csp-css-keylogger.badsite.io/

Do you believe that [@xkr47's proposed solution above](https://github.com/facebook/react/issues/5878#issuecomment-362250145) a good one, as it seems to be?  Thanks.

[2018-03-17 12:10] thisizkp commented on #11306
the above PR #11325 is stale and closed; should I pick this up? planning to replicate the same and follow the PR suggestions; any tips or idea?

[2018-03-17 12:24] jquense commented on #12390
The core problem is still not clear, why do you want to prevent people from seeing component names?

It's unclear what problem this would solve, since it doesn't seem (to me) that anyone seeing component names via development tooling is a problem

[2018-03-17 12:59] grahammendick commented on #12389
Ok, here’s a dependency-free JsFiddle of the bug, https://jsfiddle.net/cgkhsxhd/2/

[2018-03-17 13:25] k1r0s opened #12395 "why im getting key iterator warnings?"
If I put back the keys then my form stops working

please refer to https://github.com/facebook/react/issues/12364

[2018-03-17 13:40] ackvf commented on #8669
So, the instance reference changes, but not a single lifecycle method is called on the new object, not even the constructor. What am I missing? _(I haven't gone through the code yet - I find that difficult to start with.)_

[2018-03-17 15:25] jburghardt commented on #12395
As already stated, the issue tracker is for bug reports and feature requests.
If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

I can recommend the reactjs IRC channel.

if you want to look deeper into react keys: https://reactjs.org/docs/lists-and-keys.html

[2018-03-17 16:03] k1r0s commented on #12395
nice!

[2018-03-17 16:03] #12395 closed

[2018-03-17 16:05] yannvanhalewyn commented on #285
Actually, none of the solutions mentioned above were sufficient for me, and I thought I had a pretty general case. I needed some simple global hotkeys. Binding them natively on document in `component-did-mount` worked of course, like other solutions using mousetrap or keymaster. The problem is, like @philipp-spiess illustrated, any other input field receiving synthetic keydowns and on which `stopP

[2018-03-17 19:46] AlexGalays commented on #8669
@ackvf Not even the constructor, no. Since react works with lightweight nodes that just points to which function/tag/class should be invoked/newed... SHOULD the diffing decide it's a new element.

[2018-03-18 05:27] dxprog opened #12396 "PROPOSAL: Allow void elements to have children with override property"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

When creating one of the whitelisted void elements, an error is thrown:

[code]

This is a correct assumption to make for 100% of all browser front-ends.

**What is the proposed new behavior?**

In the exceptional case of generating SGML-like code (likely server rendered), it may become necessar

[2018-03-18 12:06] grillorafael opened #12397 "Is there a way to access new context api within ComponentDidMount?"
We are building a react mapbox gl module and we use clone and inject props today.

We were looking into using the 16.2.0 context api but I saw that it will have a new one on 16.3.0 but I can’t seem to find a way to read context details
On componentDidMount lifecycle (which makes sense for me to use on the map implementation).

Is there a way around this ?

[2018-03-18 12:33] Axnyff commented on #12360
Why do you want to remove the event listener? If you try to add an event listener that was already there, nothing happens, you can't attach twice the same function for a given event type.

    let a = 0;
    const func = () => { a = a +1; console.log(a)};
    document.addEventListener("click", func);
    document.addEventListener("click", func);
    document.addEventListener("click", func);

In he

[2018-03-18 12:47] benwiley4000 commented on #12360
@Axnyff because the event handler's behavior may have changed when the props updated.

[2018-03-18 12:48] Axnyff commented on #12360
Either it's the same function and you can't add it multiple times, either it's a different function and you can't remove it that way.

[2018-03-18 12:59] benwiley4000 commented on #12360
@Axnyff please re-read the code snippet in the description. On each prop update we remove the listener from the previous props and add the listener from the new props. This could possibly be optimized by only adding/removing if the function identity changed. Does it make sense to you now? :)

[2018-03-18 13:29] grillorafael commented on #12397
Adding a example that I'm trying to have this working: https://codesandbox.io/s/l20yn296w7

[2018-03-18 14:14] Axnyff commented on #12360
My bad, I read too fast, sorry.

I had a look and it's a bit tricky, I don't know if it is really a React bug or something normal. It looks like you're removing your event listener before it can listen to the event and adding a new one after the firing of the event.

I think if you'd only remove the old event listeners instead of replacing the listener it should work.

[2018-03-18 14:34] TrySound commented on #12397
This is how it can be achieved with new api.

[code]

[2018-03-18 14:38] grillorafael commented on #12397
So the only way to access through the Component's life cycle is to redirect into Props?

[2018-03-18 14:55] jquense commented on #12397
The higher order component that redirecs to props is a good pattern,but for cases where don't want the  extra component usually wat I do is store the context value on the component instance like: `this.contextValue = value` then access it in the life cycle hooks. It's a bit ugly but that's ok generally I think since your opting out of the nicer, hoc, pattern as an optimization

[2018-03-18 17:14] Eparrita opened #12398 "Unhandled Rejection (SyntaxError): Unexpected token < in JSON at position 0"
Hello all, I'm new with react. I want import some datas of my file data.json. The code is:

**Portfolio.js**

[code]

**data.json**

[code]

**This is the error**

[code]
Please I need your help

[2018-03-18 17:38] aweary commented on #12398
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-03-18 17:38] #12398 closed

[2018-03-18 17:48] aweary commented on #12396
`ReactDOM` and `ReactDOMServer` aren't meant to be a generic SGML/XML-like renderers, their sole purpose is rendering to the DOM and outputting HTML, respectively. Adding escape hatches to get around this would run contrary to the intended purpose of the renderers, and open up a can of worms for all the other XML-like formats that users might want to output.

If you want to use React to render som

[2018-03-18 17:48] #12396 closed

[2018-03-18 18:07] aweary commented on #12388
Thanks for the request, but I think the existing community chat support groups listed on the website are sufficient. They're great resources for support, driven by a strong community.

Opening a Gitter channel would potentially weaken the community by fragmenting it further (nobody wants to sit in a bunch of different chat services), and it would also imply some level of official support, which th

[2018-03-18 18:07] #12388 closed

[2018-03-18 18:15] aweary commented on #12369
As @jquense said, we want less whitelisting. Using `react-is` along with a package like [`html-tags`](https://www.npmjs.com/package/html-tags) is likely a sufficient user-space solution, though I'm inclined to think that inspecting `type` on a ReactElement at runtime isn't a good idea anways.

[2018-03-18 18:15] #12369 closed

[2018-03-18 18:16] aweary commented on #12366
No response or reproduction, closing out.

[2018-03-18 18:16] #12366 closed

[2018-03-18 19:14] dxprog commented on #12396
I had a hunch that might be the case. Thanks for reviewing and the heads up on `react-reconciler`!

[2018-03-18 22:54] aweary commented on #12390
Expanding the API surface just for some very minor security through obscurity isn't a great trade-off. I agree with everything @jquense said as well. If the name is defined anywhere on the component then it's accessible to anyone who can inspect the page. Also, if the security of your application depends on access to your component's names then you may want to re-consider whatever security archite

[2018-03-18 22:54] #12390 closed

[2018-03-18 22:59] aweary commented on #12261
@nihartrivedi810 without an actual reproduction it's going to be difficult for us to help you.

[2018-03-19 09:44] VishalGulati opened #12400 "React not able to get the application environment at UI with DefinePlugin?"
I am working on a React application. In there I have to showcase different functionality based on whether app is running in dev mode or production. My query is how do I get this application environment in my React code?

I tried below code but it did not work:

    // webpack.config.js
      plugins: [
        new webpack.DefinePlugin({
          appenv: JSON.stringify('dev')
        })
      ]

[2018-03-19 15:29] raunofreiberg commented on #12400
Where are you trying to access the variable?

Have you tried assigning it to a variable beforehand, like:

[code]

And used that one instead?

[2018-03-19 16:00] gaearon commented on #12389
I made a reduced case.

[code]

Seems like "oops" node is essential to reproduce.

[2018-03-19 16:04] jquense commented on #12389
I may have run into a similar case with `forwardRef` but haven't been able to reproduce it specifically yet (All I know is it goes away when i remove `forwardRef`). I don't have reason to think it's related to this, but I figured i'd at least share quickly in case it provides any context (ha) for folks who understand how it works :P

[2018-03-19 16:05] gaearon commented on #12389
@jquense Do you mean in combination with new context?

[2018-03-19 16:14] jquense commented on #12389
no, not directly at least. Like i said i don't have a sense that they're related, but in case the maybe share a common internal path or something i'm mentioning it. I'll open a separate issue if I can reproduce it simply!

[2018-03-19 16:15] gaearon commented on #12389
Probably unrelated, the problem in this issue is localized to a loop that happens inside the context path.

[2018-03-19 16:45] aweary commented on #12400
If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-03-19 16:45] #12400 closed

[2018-03-19 17:50] webcarrot opened #12403 "server side react-dom render hrefLang as hrefLang"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
react-dom/server render "hrefLang" as "hrefLang"

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem:**
https://codesandbox.io/s/3x09moz93q

**What is the expected behavior?**
Render "hrefLang" attribute as "hreflang" on server-side.

[2018-03-19 19:37] gaearon commented on #12403
HTML is case-insensitive. I agree it can be a bit surprising but there is no practical difference to the browser, and it might be a bit faster for us to avoid lowercasing it.

[2018-03-19 19:37] #12403 closed

[2018-03-19 19:56] jquense commented on #12047
Not sure where to stick this, but we've been playing with gDSFP in react-bootstrap and one thing that tripped us up was that you shouldn't just spread through `prevState` if you have state not derived from props. Otherwise you can drop state updates inadvertantly.

Worth mention in the docs (or if it's not intended i can provided a PR)

[2018-03-19 20:06] bvaughn commented on #12047
Could you provide a repro? I don't think I understand why spreading `prevState` would _drop_ updates.

[2018-03-19 20:27] jquense commented on #12047
sure :) https://codesandbox.io/s/1y8ryl39vl

[2018-03-19 20:31] gaearon commented on #12389
https://github.com/facebook/react/pull/12402

[2018-03-19 20:32] jquense commented on #12047
(it's not so much that they are dropped as overridden)

[2018-03-19 20:37] bvaughn commented on #12047
Cool, thanks for the repro 👍

[2018-03-19 20:49] gaearon commented on #12047
I think you're saying you'd expect it to work like

[code]

but it works more like

[code]

?

[2018-03-19 20:55] bvaughn commented on #12047
Jason's sandbox looks like a bug to me. I haven't had a chance to dig in yet (in the middle of something) but it's in my queue to look into soonish.

[2018-03-19 21:00] jquense commented on #12047
@gaearon yeah, provided its not a bug, it's less intuitive (to me anyway) that `prevState` could be stale, and I actually thought I **had** to return prevState, the signature of the method feels more like a straight reducer to state, my assumption was i'd lose the `local` if it wasn't spread through

[2018-03-19 21:02] gaearon commented on #12047
@jquense Fair enough—aside from the bug discussion, the part about this not being obvious is unfortunate, but that's already the case for `setState` API. People were taught to spread there by Redux and can't give up the habit now :-)

[2018-03-19 21:02] bvaughn commented on #12047
This isn't the case- and I'd welcome suggestions to the in-progress docs to make this more clear. (I realize I haven't yet pushed the `React.Component` reference API page yet though heh.)

[2018-03-19 21:51] bvaughn commented on #12047
Looks like this behavior is specific to updates triggered within a React event. My initial test (below) worked as expected.

[code]

[2018-03-20 00:51] tomlla commented on #11553
I created simple select-option html file and clicked select box on following browsers(no chrome extensions).
but I got a warning message about non-passive event listener at all versions

- chrome
  - 64.0.3282.186(Official Build) (64bit)
  - 65.0.3325.162(Official Build) (64bit)
- chrome canary
  - 67.0.3374.0(Official Build) (64bit)
  - 67.0.3375.0(Official Build) (64bit)
- chromium
  - 65.0.3325

[2018-03-20 09:17] piotr-cz commented on #4806
For me the this was caused by defining default class props as:
[code]

[2018-03-20 10:00] linkenneth commented on #12381
I was able to solve my issue via other means so closing this for now.

For the record, I realized that for my specific use case it was necessary to separate the "rendered" state of the world and the "calculated" state of the world. Player scripts should be able to run immediately on the "calculated" state of the world, but the "rendered" state of the world should be updated at a delay afterwards.

[2018-03-20 10:00] #12381 closed

[2018-03-20 11:46] JoeCortopassi opened #12406 "Circle Ci failing test"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Broken build process due to invalid response from http://react.zpao.com/

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than Reac

[2018-03-20 12:49] grahammendick commented on #12389
Thanks @gaearon I'll give it a retest with the next alpha/beta release

[2018-03-20 13:07] #12389 closed

[2018-03-20 13:07] grahammendick commented on #12389
@gaearon I like [your test](https://github.com/facebook/react/pull/12402/files#diff-0ec201d2f87127ead696e6f5681e6830R766). Now you know what the bug is, it might be worth renaming the test and adding an assert?  Something like `it('should set the child fiber of the top level parent')`?

[2018-03-20 14:57] gaearon commented on #12389
I thought a bit but I can't really come up with a good name. Any name like this would be too tied to implementation details. We just want to have a regression test. If we add more similar tests I can rename it to something like `Regression #12389` but for now I think what we have there is fine.

[2018-03-20 14:59] gaearon commented on #12406
I think it should be fine if you rebase now. There were a few broken builds on master which caused the upload to fail.

[2018-03-20 14:59] #12406 closed

[2018-03-20 15:01] gaearon commented on #12047
The second example doesn't batch updates. Therefore, two `setState` calls are treated separately and each is synchronous. We don't encounter the issue because the issue is specific to what happens when there are *multiple updates in the queue* (which there can't be without batching).

[2018-03-20 15:39] grahammendick commented on #12389
You got me, I shouldn't've put the work fiber in the test name 😄 How about `Re-render consumer and sibling`?

[2018-03-20 16:07] gaearon commented on #12389
I don't care about test names strongly. The issue link will be more useful anyway.

[2018-03-20 16:30] hyperknot opened #12409 "Passing elements to a function requires manual keys to be present"
**Do you want to request a *feature* or report a *bug*?**
Bug/feature

**What is the current behavior?**
React requires manual keys present on each tag when passing an element via a function to render. If not, it gives a key warning.

I'm passing an element created from JSX via a mobx store. This element requires manual keys to be present on each child tag. Even for simple example this is incredib

[2018-03-20 17:02] aweary commented on #12409
Hey @hyperknot, React doesn't require keys when rendering constant elements like this. The problem here is that MobX is wrapping the children in an `ObservableArray`, which I assume is some internal MobX class.

![screen shot 2018-03-20 at 10 00 56 am](https://user-images.githubusercontent.com/6886061/37670092-ae7f5ce4-2c25-11e8-9b28-273f87ac7386.png)

That means that what's returned from render i

[2018-03-20 17:02] #12409 closed

[2018-03-20 17:19] hyperknot commented on #12409
OK, I'll bring this to mobx issue.

On the React side, one workaround I found is to just renderToString + dangerouslySetInnerHTML, as in:

[code]

I guess this looks super ugly but is at least making React handle that element as a static node, and not something it should worry about. One question with this though: is this safe? I mean is renderToString doing the needed sanitisations, etc. so that

[2018-03-20 17:23] joetidee commented on #10713
Just to clarify, if you were to do this:

[code]

1) would `toast-container` contain both `ToastFoo` and `ToastBar`, or
2) would `ToastBar` replace `ToastFoo`, or
3) would React throw an error saying that `toast-container` already exists?

[2018-03-20 17:52] rodgobbi opened #12410 "Controlling radio input with checked and onClick props gives warning"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
In any `input` of type `radio`, if I control it with the `checked` props and a handler to the `onClick` event, I still receive a warning that the form field needs a `onChange` handler. To suppress this warning, I pass an useless inline function to the `onChange` props.
**What is the expected behavior?**

[2018-03-20 17:56] jquense commented on #12410
That is expected. the controlling handler for inputs is `onChange` not `onClick`, you can use that one, or provide a noop (`()=>{}`) function to onChange to silence the warning.

As an side tho, react's onChange for radio/checkbox uses onClick internally so you don't really gain anything from using onClick in your own code. Admittedly though, that behavior is likely to change in future versions

[2018-03-20 17:56] #12410 closed

[2018-03-20 19:29] bvaughn commented on #12047
I'm going to go ahead and close this issue since reactjs/reactjs.org/pull/596/ and reactjs/reactjs.org/pull/587 pretty well cover it (even though we can't merge them yet).

[2018-03-20 19:29] #12047 closed

[2018-03-20 20:14] jquense opened #12411 "UNSAFE_* Lifecycle hooks don't run if getDerivedStateFromProps is present"
https://codesandbox.io/s/xl7k7j1k6w

Not sure if this is intended or not, the longer term existence of these hooks suggested to me that they have their purposes still, so might be needed in conjunction with gDSFP. The particular use-case that caused me to discover this was a migrating: https://github.com/react-bootstrap/react-bootstrap/blob/master/src/Dropdown.js#L137 where document focus needs to

[2018-03-20 21:24] aweary commented on #12411
@jquense I believe this is intentional and related to the `react-lifecycles-compat` package:

https://github.com/facebook/react/blob/9d484edc4b64160cb335a23a2cb21667fb2cdf4c/packages/react-reconciler/src/ReactFiberClassComponent.js#L639-L646

[2018-03-20 21:26] aweary commented on #12411
@jquense I believe this is intentional, to support the `react-lifecycles-compat` package:

https://github.com/facebook/react/blob/9d484edc4b64160cb335a23a2cb21667fb2cdf4c/packages/react-reconciler/src/ReactFiberClassComponent.js#L639-L646

Though maybe the intention was to just avoid calling the un-prefixed versions? It does seem like the `UNSAFE_` methods should still be called.

[2018-03-21 00:05] jmz7v commented on #12393
Hi Orelc,

For me this could be solved in two different ways:
The data that the children will receive could be placed on the parent component, and passed down via props to the children, then you can make changes and still keep the data available
or
Have the data from those components stored in a completely different way, like Redux.

[2018-03-21 01:47] gaearon commented on #12411
Sounds like use case for https://github.com/reactjs/rfcs/pull/33, cc @bvaughn

[2018-03-21 01:58] bvaughn commented on #12411
Thanks for the CC @gaearon!

FWIW @jquense, checking in `componentWillUpdate` (or `UNSAFE_ componentWillUpdate`) is not really any better or different than checking in `render` as far as timing goes. Both are problematic for async though, which is why reactjs/rfcs/pull/33 has been created. I'd love to know your thoughts about this- (although I think I'll probably be changing it slightly soon to ho

[2018-03-21 02:18] aweary commented on #12411
It makes sense to me to not call the un-prefixed versions, but if the  `UNSAFE_*` methods are permanent it seems like they should be called regardless of other new lifecycle methods. What's the rationale behind not calling them in components that use `getDerivedStateFromProps`?

It feels like this might force users who still rely on some `UNSAFE_` method to just avoid using `getDerivedStateFromPro

[2018-03-21 03:15] jquense commented on #12411
I just read through and yes it seems like exactly the right thing :P ya'll one step ahead.

This was my intuition. For the cases where they are appropriate it's not ideal to have to opt into UNSAFE for everything, when I feel like i can scope the `componentWill*` work to specific things that feel safeish? All that being said tho the getSnapshot case is the only one I can think of or have encounter

[2018-03-21 05:27] bvaughn commented on #12411
Hm. I guess.

Anyone object to this change?

[2018-03-21 05:29] bvaughn commented on #12411
Hm. I guess.

Still seems weird to me though that you could have a component with e.g. `componentWillMount` and `getDerivedStateFromProps` - in which case only `getDerivedStateFromProps` would be called - then you could run our lifecycle codemod so you have `UNSAFE_componentWillMount` and `getDerivedStateFromProps`- and now both get called.

Anyone else object to this change?

[2018-03-21 05:57] bvaughn commented on #12411
I think the two versions (legacy and unsafe) should be consistent, one way or another. If we decide to change the current behavior, maybe I'll change it back to the approach I used before where I only skip the will-lifecycle if the special _surpress attribute is set on it.

[2018-03-21 09:42] gaearon commented on #12299
Fixed by https://github.com/facebook/react/pull/12407

[2018-03-21 09:42] #12299 closed

[2018-03-21 09:44] gaearon commented on #12411
I don't quite agree. I think presence of an UNSAFE method works like an opt into legacy mode (but turns off the new hooks). But I can see how this can be surprising or confusing. We do warn though.

[2018-03-21 10:20] xkr47 commented on #5878
The problem with my solution is it does not work in all browsers; probably need different CSP configs based on user agent.. But at least it worked great in Firefox :)

[2018-03-21 11:24] wzup opened #12413 "Why refs are immutable? "object is not extensible""
Why I cannot set `this.refs`? Why `refs` are immutable?

[code]

Why this works well in JS, but in React it doesn't work?
[code]

[2018-03-21 11:43] JoeCortopassi commented on #12413
`this.refs` is reserved for the api that stores stuff like `<Foo ref="bar" />`, and [is no longer used/recommended](https://reactjs.org/docs/refs-and-the-dom.html#legacy-api-string-refs). What you likely want to do is
[code]

[2018-03-21 11:51] gaearon commented on #12413
Yep, it's intentional because it's an existing React API. Just put refs on the instance itself instead.

[2018-03-21 11:51] #12413 closed

[2018-03-21 12:06] jquense commented on #12411
So I've only seen a warning for gDSFP mixed with cWRP. Actually the current behavior is nice for folks supporting all of v16 you can right both hooks and let react ignore gDSFP in new old versions...

[2018-03-21 12:08] wzup commented on #12413
@gaearon

But they are stored top-level.
And I want to have my `refs` under a namespace. Is it possible? Before all `refs` were placed to `this.refs.inputNode`. Now they are placed top-level `this.inputNode`.

Thanks

[2018-03-21 13:15] jamiewinder commented on #12413
You could add them to something like `myRefs` instead, if you don't like having them on the instance for whatever reason.

[2018-03-21 14:02] gaearon commented on #12411
You mean we don't warn for other combinations? That sounds like a bug.

It's very easy to mess up. We intentionally [wrote a polyfill](https://github.com/reactjs/react-lifecycles-compat) and that's what we suggest using instead of trying to implement the correct semantics in every library.

[2018-03-21 14:07] powah commented on #9023
No progress with this one? I'm using React v16.2 and the behaviour is the same - onChange is triggered first time and subsequent clicks doesn't trigger it. I would say quite high priority issue here..

[2018-03-21 14:17] bvaughn commented on #12411
The way this should be done is using the [react-lifecycles-compat polyfill](https://github.com/reactjs/react-lifecycles-compat). Not by defining both old and new lifecycles. The latter approach is problematic for a couple of reasons:
1. You're doing twice as much work to update state, since you would have to have the same logic in `componentWillReceiveProps` and `getDerivedStateFromProps`.
2. The

[2018-03-21 14:39] TimoRuetten opened #12415 "dangerouslySetInnerHTML will wrap on SSR but not client and both are editing invalid HTML"
Currently we need to use the dangerouslySetInnerHTML tag in a special case. In this case we need to split our string into several and then we need to render them. This could look like this:

[code]

This looks dirty - and yes, it is - but in our case we need to do smth like this until we've found a better solution. The Problem is that the SSR does not match with the client. This is the error:

[co

[2018-03-21 15:29] gaearon commented on #12411
This makes sense to me. The warning should fire whenever some of the methods don't get called, and it should explain that by using new APIs you lose the ability to use the old ones.

[2018-03-21 15:34] gaearon commented on #12415
Can you turn this into a failing test in `ReactDOMServerIntegration*` suite?

[2018-03-21 15:49] bvaughn commented on #12411
How about a warning like this?

&nbsp; componentWillMount
&nbsp; componentWillReceiveProps
&nbsp; componentWillUpdate.

[2018-03-21 15:49] bvaughn commented on #12411
(Where the specific list is dynamic, based on the legacy lifecycles the component actually contains)

[2018-03-21 15:59] aweary commented on #12411
I think the messaging around `UNSAFE_*` methods will need to be explained carefully, because it's not intuitive to introduce lifecycle methods that are both new and legacy. Especially since there's no precedence for conditional lifecycle method calls. This behavior also wasn't mentioned in the RFC.

This is reasonable for the 17 release, but in a minor I would expect that these new `UNSAFE_*` meth

[2018-03-21 16:04] bvaughn commented on #12411
Some form of conditional lifecycle is necessary in order for the polyfill to work- whether it's being driven off of the presence of the new `getDerivedStateFromProps` or `__suppressDeprecationWarning`.

The polyfill discussions happened after the RFC was closed. Generally, it's probably not possible to encompass all aspects of a feature in an RFC. A best effort attempt is made.

To be honest, I th

[2018-03-21 16:08] nhunzaker commented on #9402
Just checking in! No rush in progress, but anything I can do to help move things along?

[2018-03-21 16:16] aweary commented on #12411
Definitely! I'm just saying that most people who have participated in discussions around this feature aren't aware of this behavior since it wasn't part of the public feedback process.

Y'all have probably thought this through more than I have, but I think the behavior should look like:

**16.3**: call both deprecated and `UNSAFE_` methods (except when a component defines both, call `UNSAFE_` only

[2018-03-21 16:18] bvaughn commented on #12411
Regarding the 16.4 note above- we won't get rid of deprecated lifecyles in a 16.x release since that would be backwards breaking.

[2018-03-21 16:20] aweary commented on #12411
Oh yeah, I should have just put that in 17, woops.

[2018-03-21 16:20] antoaravinth commented on #9402
@nhuzaker: Hey, here is the update:

1. Create a DOM test fixture
2. Do browser testing. If it turns out browser behavior is consistent, we can probably remove the manual fixture.

For the above two points, I guess its taken care. After the change, I ran a sample app against the build and the issue is fixed (tested in chrome and firefox). I will write a unit test case for the same, so that we have

[2018-03-21 17:04] gfelot opened #12417 "Change on <i> ag isn't enough to make my component re-render"
***Bug* && *Question***

**What is the current behavior?**

It's was a bug on my code and thanks to SO I find a way to fix it. But I would like an explanation why I had this behavior.

I made a form with redux-form (using Bulma for the CSS).
I wanted to add an icon to the right of the input, in a `<i>` tag  like Bulma's doc show us, after a focus to have a visual validation.

Green FontAwesome ico

[2018-03-21 17:08] nhunzaker commented on #9402
No need to apologize! Thanks for the update!

[2018-03-21 17:16] BrodaNoel opened #12418 "Wrong `backgroundColor` value after changing from valid to invalid color"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When changing the backgroundColor from a valid color to `null`, the valid color persists.

**Steps to reproduce:**
https://codesandbox.io/s/56j748w8l

**What is the expected behavior?**
After changing the backgroundColor to an invalid format, the backgroundColor should be set to `null`, so then CSS is

[2018-03-21 17:25] BrodaNoel commented on #12418
Related: https://github.com/facebook/react/issues/6749

[2018-03-21 17:28] BrodaNoel commented on #6749
@syranide CSS is not ignoring the color because the color is not updated.
Please, check this issue: https://github.com/facebook/react/issues/12418

If I change the backgroundColor from `red` to `blablabla`, the color still `red` in the DOM. React is not updating the color to `blablabla`.

[2018-03-21 17:32] #12418 closed

[2018-03-21 17:34] BrodaNoel commented on #12418
I just realized that this is the JavaScript behavior.

<img src="https://memegenerator.net/img/instances/55359284/javascript.jpg">

[2018-03-21 21:13] dcodus opened #12420 "Password field causes memory leak in production builds"
**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
We're noticing that password-type input fields  (as well as their wrapping parents) remain as detached DOM elements when conditionally being rendered and removed from the DOM.

This issue seems to be occurring across several applications using React 16, include a newly created app from `Create React

[2018-03-21 21:42] JoeCortopassi commented on #12415
@TimoRuetten I think he's asking if the existing tests (ReactDOMServerIntegration*) can be updated to fail by accurately testing what _should_ be happening (server/client having identical behavior).

@gaearon I can update the tests for that. Do you want a pr for just that before the fix?

[2018-03-22 08:34] wzup opened #12422 "Why I can't set value for selects programatically in React? How to do it?"
Here is how I can set selects using pure JS. Plain, simple and effective:
[code]

Not with React. This approach for some reason doesn't work in React. Select values are not updated. Why? How can I do in React?

I have a usual DOM `<form>` with a `[reset]` button. On click `reset` the default browser behavior is to clear all form fields. Why I can't set select after it?
[code]

Don't advice me to u

[2018-03-22 09:05] rayeeskm commented on #12301
Here it goes, the very last two lines, i have commented out the part were state change is done directly in td, if the state changes were not done correctly then it should have behaved the same way in both the cases. May be react does not keep a track of td elements while updating state?

`calcPrice(e,id) {`
`        let price;`
`        priceList.has(id) ? price = priceList.get(id) : price = new P

[2018-03-22 09:45] liximomo commented on #12422
[code]
You can't even without react!

[2018-03-22 09:58] wzup commented on #12422
@liximomo LOL)
That's not an option unfortunately.

[2018-03-22 10:18] jburghardt commented on #12422
`$("#mySelect").value = '1'`
this is not pure JS, this is JQuery.

what version are you using ? i cant find the onReset event in the synthetic events docs from react.
And whats wrong with using "onChange" to select an a selecte value ?

[2018-03-22 10:24] liximomo commented on #12422
@wzup Callback is not equal to asynchronous! Actually, you did have changed the value.  It just then get reset by reset event. Same as the above no-react demo. You can make it work this way:
[code]

[2018-03-22 10:43] wzup commented on #12422
@jburghardt

Are you serious? In Chrome console test this on any page that doesn't have jQuery. You'll be surprised.
Actually that was pseudo code, though it works in Chrome w/o jQuery.

I have quite a big form with heavy data iterations and it is ineffective to re-render my form on every state update. And I don't use Redux, because I've inherited code from other developer who didn't care about pr

[2018-03-22 10:50] wzup commented on #12422
@liximomo
You are genius! Thanks for clarification. It works. And that sound logical indeed.

[2018-03-22 11:12] nhunzaker commented on #12422
Hey! Just catching up here. @wzup were you able to sort everything out?

[2018-03-22 11:30] nhunzaker commented on #12301
Hey @rayeeskm, could you reproduce the issue using our JSFiddle template (https://jsfiddle.net/Luktwrdm/)? That would make it a lot easier for us to debug on our end. Thanks!

[2018-03-22 11:51] nhunzaker commented on #12420
Interesting! I wonder what's going on. Do you know if this holds true for Firefox or another browser?

To my knowledge, password inputs do not receive any special treatment:

https://github.com/facebook/react/search?utf8=%E2%9C%93&q=password&type=

@aweary or @jquense can you think of anything?

[2018-03-22 11:58] jburghardt commented on #12422
@wzup thats because $ is a reference to document.querySelector()

[2018-03-22 12:39] thyforhtian opened #12423 "react-test-renderr"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2018-03-22 12:42] #12423 closed

[2018-03-22 13:58] dcodus commented on #12420
@nhunzaker unfortunately i did not fid a way to check for detached dom nodes in firefox or safari 😞

[2018-03-22 16:50] gaearon opened #12427 "jestDiff() call in toWarnDev() returns null, making test failure confusing"
<img width="953" alt="screen shot 2018-03-22 at 4 47 40 pm" src="https://user-images.githubusercontent.com/810438/37785026-037d0788-2df1-11e8-9cbd-5b9e2b2d10db.png">

Caused by this line:

https://github.com/facebook/react/blob/40fa6160534e2bc67b0c43f0b32dcdd1d214068b/scripts/jest/matchers/toWarnDev.js#L52

Calling `jestDiff` with two different strings returns `null`.

[2018-03-22 16:57] gaearon opened #12428 "We don't assert on warnings for tests that throw"
I think this shouldn't pass:

[code]

but it does.

[2018-03-22 18:04] monfera commented on #1649
What @andreypopp said ⏫ and the [doc](https://reactjs.org/docs/dom-elements.html) says

| In React, all DOM properties and attributes (including event handlers) should be camelCased.

[2018-03-22 18:04] gaearon commented on #12420
Have you tried a similar test without React?

[2018-03-22 18:08] bvaughn opened #12432 "Remove DEV-only warnings from shallow renderer"
For consideration.

These warnings are already covered by renderers based on react-reconciler. Maybe we don't gain that much by mirroring them in the shallow renderer? Maybe it's not worth the added complexity? Particularly with more complicated warnings like the ones being added for #12419 and #12404.

[2018-03-22 18:16] #12411 closed

[2018-03-22 18:32] #12432 closed

[2018-03-22 19:43] PhilNorfleet opened #12434 "Minified React error #[object Object]"
Building locally produces no errors, whereas our production build serves the following:

[code]

I am unsure how to debug this, as there does not seem to be precedent for receiving an error code that is an object. Any ideas on how to proceed?

[2018-03-22 19:51] gaearon commented on #12434
Looks odd. Can you figure out a minimal reproducing case?

[2018-03-22 20:19] Josema opened #12436 "Functional components with lifecycle methods and state"
What about if we could have functional components that can be turned into components with state.

The problem:
[code]
If our needs changes and we need to apply local state we must change this function into a class
[code]

If we use the prototype of the function we can reuse our function.

[code]

The benefits of this approach are that we educate people to use functional components in the first pla

[2018-03-22 20:24] testerez commented on #12420
Here is a similar vanilla example. I can't see any detached element in the memory snapshot:
[code]

[2018-03-22 20:54] aithashi commented on #11277
@gaearon hey can you pls tel me, here <path> refers which path?

[2018-03-22 21:13] aweary commented on #12436
Hey @Josema, this is something that's been considered before (https://github.com/facebook/react/issues/9513#issuecomment-297059274) and may or may not make it's way into a future API. Right now there's no concrete answer whether this will happen, but there are other component API changes being considered.

Since this is a feature request that the team is aware of, and there's nothing actionable ri

[2018-03-22 21:13] #12436 closed

[2018-03-22 22:02] porfirioribeiro commented on #12397
I'm facing the same dilemma.
There should be a easy way to access or call context in life-cycle methods.
We might need to initialize stuff, check and fetch data or even clean-up on unmount.
People are doing it now with the current supposedly broken context.
Yes it can be solved by wrapping our component in another component! But feels like a workaround more than a solution.

[2018-03-22 22:11] gaearon commented on #12397
I’m pretty sure this is unsafe in async mode. Please don’t do this. cc @acdlite

[2018-03-22 22:45] jquense commented on #12397
How would this be unsafe (and in what way)? It's really unclear in all this talk about async mode, what "unsafe" even means. It's starting to feel like a boogyman who behavior is irrational and unpredictable, which doesn't fill folks with a lot of assurance in a system that is generally liked for it's straightforward, easily understandable, data flow model. I feels like components are back in pre

[2018-03-22 22:58] aweary commented on #12420
I've tried debugging this a little bit, and I don't see any problems with password inputs specifically. Using the example posted, there are a few detached nodes that are referenced from the Fiber instance.

For example, the Fiber for the `App` component references an old fiber for a div element through `lastEffect`, and that fiber's `stateNode` is a div that is no longer in the document. I suspect

[2018-03-22 23:03] Drillan767 opened #12437 "Bad cohabitation between a ref and a state in a same component"
**Do you want to request a *feature* or report a *bug*?**

I want to report what looks like a bug.

**What is the current behavior?**

For an unknown reason, a `ref` attribute doesn't seem to get well together with a `state`.
For a bit of background, I'm trying to recreate the following [Codepen](https://codepen.io/j_holtslander/pen/KQrWVy?page=1&).

I managed to recreate the "bug", here is the [C

[2018-03-22 23:07] jquense commented on #12397
sorry ^ if the above sounds annoyed/angry, i didn't intend that tone! on a phhhhooone

[2018-03-22 23:17] grillorafael commented on #12397
It did sound angry haha but I get your point and I share your questions about how/why it will be unsafe

[2018-03-22 23:21] aweary commented on #12437
@Drillan767 the problem is that you're only rendering the element which sets the ref when `this.state.json` is non-null. So when your component first renders, the `Landing` component isn't rendered, and the ref is never set. That's why it's undefined in `componentDidMount`.  If you refactor your component to return the fragment even if `json` is `null` you'll see that the ref is set correctly.

Th

[2018-03-22 23:21] #12437 closed

[2018-03-22 23:54] jquense commented on #12437
I'm not gonna lie i stared at that for a while wondering what was wrong...

[2018-03-23 00:27] gaearon commented on #12397
I’m sorry, but we’ve been working on a guidance with specific suggestions for over a month now. Please give us time to collect and publish them as a blog post. It is also difficult to discuss without actual alphas to play with, which is also something we’ve been working hard on.

So we have to either not say anything at all, or warn in advance about things that won’t work well. We err on the side

[2018-03-23 00:33] gaearon commented on #12397
I understand it *feels* like it’s an extra wrapper, but it’s what *makes the new context fast*. If we didn’t have explicit wrapper nodes in the tree we wouldn’t be able to quickly “find” components that need to update.

If you need to access context in lifecycle, take it as a prop.

[code]

This is almost the same amount of lines as a `contextTypes` definition.

[2018-03-23 01:05] bvaughn commented on #12397
Just wanted to second what Dan said that this is the child function / render prop approach is the official API for the new context- so please use it and let React worry about making sure it's fast. (It should be!)

The draft [Strict Mode docs](https://deploy-preview-587--reactjs.netlify.com/docs/strict-mode.html#detecting-unexpected-side-effects) also touch on some of why mutating the instance (wh

[2018-03-23 08:33] Drillan767 commented on #12437
Thank you a lot for taking time to answer me, it's a lot clearer now!

[2018-03-23 08:46] chbdetta commented on #4936
@mnpenner If preserving original html structure matters, wrapping a `span` around the children is not desired.

I figured another uglier way to do this:

[code]

wish they give stateless component refs, it will be really useful when imperative API needs to be invoked on arbitrary children.

[2018-03-23 09:51] z810276431 opened #12438 "iphone right sliding function"
when iphone right back to the last page,the Screen flickered.It first skip to now page and then back to the last page

[2018-03-23 10:14] artemxgruden opened #12439 "next context api: why rerender children?"
**npm node modules versions:**
"react": "^16.4.0-alpha.0911da3",
"react-dom": "^16.4.0-alpha.0911da3",

## **Question: Why is the component Z  being rerendered every time we click the button in component B?**

**MainContainer.js**
[code]
**ButtonContainer.js**
[code]

**log:**
[code]

[2018-03-23 10:47] grahammendick commented on #12389
Works in the latest alpha. Thanks again for the fix 👍

[2018-03-23 12:13] Grsmto commented on #12310
Hey,

As I see more and more that

 I'm wondering why one would use the new `getDerivedStateFromProps` instead of `componentDidUpdate`?

Imagine this example:
[code]

versus

[code]

The later seems simpler just because it's using only existing API and looks just like what we used to do in `componentWillReceiveProps` so I don't see why users would go for `getDerivedStateFromProps`? What's the bene

[2018-03-23 12:57] jquense commented on #12438
Hey there! We try to keep the issue tracker focused on bugs. For support try one of the many other available avenues thanks! https://reactjs.org/community/support.html

[2018-03-23 12:57] #12438 closed

[2018-03-23 12:57] wzup commented on #12422
@nhunzaker
I used @liximomo 's suggestion https://github.com/facebook/react/issues/12422#issuecomment-375248407. Works well so far.

[2018-03-23 13:13] yashkawadkar commented on #4950
@sophiebits  Bhabi hai tumhari
@MastroLindus

[2018-03-23 13:56] gaearon commented on #12439
I think it’s likely because 16.4.0 alpha is buggy and unstable. Did you mean to try the latest 16.3.0 alpha instead?

[2018-03-23 15:16] mikesamuel opened #12441 "Dangerous strings can reach browser builtins"
**Do you want to request a *feature* or report a *bug*?**

A bug, but a well known and worked-around one.

**What is the current behavior?**

[code]

produces a link that alerts.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other

[2018-03-23 15:24] nhunzaker commented on #12422
Sounds good!

[2018-03-23 15:24] #12422 closed

[2018-03-23 16:32] gaearon commented on #12441
Some past discussion on this:

https://github.com/facebook/react/issues/3473#issuecomment-90594748
https://github.com/facebook/react/issues/3473#issuecomment-91349525

[2018-03-23 16:47] milesj commented on #12441
If you're looking for safe HTML parsing and XSS protection, I offer up https://github.com/milesj/interweave

[2018-03-23 17:14] mikesamuel commented on #12441
@gaearon Thanks for the pointers.

To summarize,
https://github.com/facebook/react/issues/3473#issuecomment-85976306 mentions a similar mechanism for explicit
[code]
This is similar to Perl untaint.   Like tainting, it's a binary decision, not a decision to trust in a specific set of contexts a la https://github.com/WICG/trusted-types

Other themes in that thread:
*  Proposed new syntax to allow a

[2018-03-23 17:16] gaearon commented on #12441
To be clear, the conclusion from #3473 was that we implemented brand-checking for elements so `<div>{userContent}</div>` can’t cause an XSS. But that doesn’t solve the `href` scenario.

[2018-03-23 17:16] aweary commented on #8531
Is this still an issue with React 16?

[2018-03-23 17:44] mikesamuel commented on #12441
@gaearon Thanks for explaining.  IIUC, that change prevented crafted JSON and objects that are mass-assigned from getting the same level of trust as the output of a JSX expression that produces a component.

[2018-03-23 18:22] milesj commented on #12441
@mikesamuel Sorry, got a bit ahead of myself. You're right, as the markup would need to be a string, which is then safely parsed and filtered with Interweave, like so.

[code]

That being said, I could possibly bubble up the XSS filter functions for easy reuse.

[2018-03-23 19:19] malinga91 opened #12443 "this.setState not a function : componentDidMount"
[code]

I can't assign the value return from FB.api to the **this.state.loggedUser**. I'm getting an error this.setState is not a function. I tried bind(this) too.

How to solve this?

[2018-03-23 19:25] malinga91 commented on #12443
@milesj what did u mean by anonymous functions? Instead of closed functions? I'm new to React. This is my first application using React..

[2018-03-23 19:34] gaearon commented on #12443
Hi! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-03-23 19:34] #12443 closed

[2018-03-23 22:47] OliverJAsh commented on #11189
Using the patch I mentioned for React v15 in https://github.com/facebook/react/issues/11189#issuecomment-367752926, we've been able to identity many different checksum errors in production that we wouldn't have been able to otherwise. Usually these are checksum errors in browsers we can't test locally, or they happen under some edge case that we just didn't catch when testing locally.

For example

[2018-03-24 00:43] grillorafael commented on #12397
We have a experimental branch following the guidelines proposed here. Can anyone have a look to see if it make sense? https://github.com/commodityvectors/react-mapbox-gl/pull/11

[2018-03-24 10:35] NeekSandhu opened #12447 "[Feature] Add ReactDOM.renderSync(...) method"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
`ReactDOM.render(...)` is an async operation

**What is the expected behavior?**
Would be very nice if there was something like `ReactDOM.renderSync` method that would interrupt all pending operations and render the `Element` and put it in `DOM` immediately.

Very critical for my current use case (

[2018-03-24 10:43] TrySound commented on #12447
Yep, use case should be described.

[2018-03-24 11:41] NeekSandhu commented on #12447
I'm currently working on text editor like vscode but for chrome devtools as a nicer replacement for `Sources` panel.

The editor allows custom file handlers (they register themselves for file extensions), and when matching file is opened they return object like:

[code]

Now imagine three tabs are open, `<TextEditor ... />`, `<ImageEditor ... />`, `<TextEditor ... />`

If the editor workspace host

[2018-03-24 11:44] NeekSandhu commented on #12447
Honorable mentions:

https://redd.it/4pdnvv

https://stackoverflow.com/questions/40319092/how-do-i-do-a-synchronous-reactdom-render

[2018-03-24 13:46] gaearon commented on #12447
Can you please create a small reproducing example that shows what you're trying to do (in a simplified way)? It's still not quite clear to me what your constraints are. Is there any reason you're not using portals instead of top-level `render` calls? Portals would be flushed together with the rest of the update.

[2018-03-24 13:49] artemxgruden commented on #12439
@gaearon Thank you, with 16.3.0-alpha.3 - all is ok

[2018-03-24 14:11] #12439 closed

[2018-03-24 15:54] bvaughn commented on #12397
I'm not familiar with this library, so I don't know if people ever make use of refs with its components- but if they did, the `withContext` mixin on that PR might be a good use case for the [new `forwardRef` API](https://deploy-preview-587--reactjs.netlify.com/blog/2018/03/20/react-v-16-3.html#forwardref-api).

[2018-03-24 19:24] jquense opened #12449 "Cannot read property 'return' of null"
Running into a strange issue that i cannot reproduce, it happens when running tests in Karma using `16.3.0-alpha.3`

![image](https://user-images.githubusercontent.com/339286/37868035-ee7c67a2-2f76-11e8-9568-2149d81907d5.png)

The issue is here:

https://github.com/facebook/react/blob/208b490ed907346ae3e37159535299899f74312d/packages/react-reconciler/src/ReactFiberScheduler.js#L864-L877

My test i

[2018-03-24 19:55] acdlite commented on #12449
Hmm, I was concerned this might happen. We assume that `replayUnitOfWork` will be idempotent but looks like you've found a case where it's not. I'll take a look at this.

[2018-03-24 20:00] acdlite commented on #12449
Changing line 877 to

[code]

isn't a sufficient fix because if it's not equal to `nextUnitOfWork`, that means the stack is misaligned.

One option is to add an invariant that throws if `nextUnitOfWork !== failedUnitOfWork`. Usually we avoid DEV-only invariants, but since this should only be possible in an error case, anyway, maybe we can get away with it.

[2018-03-25 02:32] redonkulus commented on #11189
@OliverJAsh If the checksum attribute is present then we know the DOM was reused (<= React 15). If its gone, then we know the client re-rendered the whole app. Its simple, but has worked well for us for a few years now.

We too have seen issues in IE based on locale strings, video autoplaying that starts on server rendered markup but then gets re-inited once React on the client starts up (if there

[2018-03-25 07:19] NeekSandhu commented on #12447
### Introduction
I'm developing an all-in-one editor for web devs, which means being able to open/edit many kinds of files. Each kind of file requires a unique component to view that file.

Example: `<TextEditor ... />` for text files, `<ImageEditor ... />` for image files, and so on.

So the keyword here is "many components at play"

___

### Implementation
`Editor` renders a `Pane`, and `Pane` h

[2018-03-25 09:34] faremax1992 opened #12450 "A mistake has been found in the Docs"
![image](https://user-images.githubusercontent.com/9269277/37873576-0e71df3e-3052-11e8-9217-4ee0c2844a00.png)

In chapter ‘JSX In Depth’, pic. 2, the first parameter of `React.createElement` should be a string with a peer of quotation marks.

[2018-03-25 10:38] NeekSandhu commented on #12447
More issues with similar issues:
[ReactDOM.render no longer works synchronously in a nested rendering context](https://github.com/facebook/react/issues/12227)
[ReactDOM.render return null](https://github.com/facebook/react/issues/12315)

#BringBackSynchronousRender :P

[2018-03-25 11:27] jacoahmad commented on #12450
I see nothing wrong here, as MyButton is a React Component. JSX compiles them to React.createElement if you read the docs carefully. So If you import a component named `MyButton` and use `MyButton` in different component, it will be compiled into something like that picture. #cmiiw

[2018-03-25 12:44] grillorafael commented on #12397
That make sense. Thanks for the reference. I'm going to close this issue for now.

[2018-03-25 12:44] #12397 closed

[2018-03-25 17:01] jquense commented on #12447
It seems like createPortal is exactly what you want?

[2018-03-25 17:47] gaearon commented on #12447
Yes, this is why I asked for a small isolated code example. It sounds like portal would solve your problem but it’s hard to say 100% without running the code.

[2018-03-25 17:58] NeekSandhu commented on #12447
As far as I understand Portals, I guess they just re-route React's output.

React's reconciler still applies diffing on them as usual, which means mounting, unmounting and re-mounting.

Even if I use two different DOM nodes for two different components.

Minimal repro:

https://codesandbox.io/s/4qy0mkz714

Open Devtools console and then click on `Image`, then `Text`, `Image`, `Text` and so on. You

[2018-03-25 18:04] NeekSandhu commented on #12447
Once again, I'm not rendering those components outside of hierarchical DOM tree, something that Portals solve.

I just don't want them to get unmounted (just temporarily taken off of DOM when switching tabs)

[2018-03-25 18:08] jquense commented on #12447
This is the bit that is confusing, it not clear how using `ReactDOM.render` achieves this, can you put together an example using your current approach so it's clearer what you are trying to do and how you'r currently accomplishing it? My intuition here is that you don't need `.render` to achieve what you're trying to do, but it's hard to recommend anything without seeing what you _are_ doing

[2018-03-25 18:18] gaearon commented on #12447
I think your approach is flawed.

The "React-friendly" solution to this is to keep them *all* mounted, and toggle the visibility of the current one with something like `style={{ display: isCurrentTab ? 'block' : 'none' }}`.

I strongly recommend against a solution like this. It's pretty hard to implement correctly, doesn't propagate context, and in general doesn't buy you anything over the "React-

[2018-03-25 18:32] #12450 closed

[2018-03-25 19:43] NeekSandhu commented on #12447
@jquense With `ReactDOM.render` I can allocate a fresh/dedicated `HTMLElement` node for each component. That way that isolated React VDom tree will never encounter any other component type.

Then I will manually do `el.replaceChild()` to show active view.

@gaeron The problem might become apparent when there will be 20+ tabs open, imagine all the (extra) DOM nodes in the document. Performance hit

[2018-03-25 20:04] jquense commented on #12447
Have you tried it? Browsers are pretty smart, I'd imagine that the performance you'd see from having hidden DOM nodes is going to be about the same as detached ones, if only because most of the "perf" concern there would be around layout calculation, something that doesn't need to be done on hidden nodes.

It's unclear why you can't do the same thing (if it's really necessary) with createPortal. A

[2018-03-25 20:36] jrylan commented on #12447
@NeekSandhu I agree with @gaearon and @jquense  here, browsers are pretty smart and can probably handle this pretty efficiently if you just toggle visibility. You'd also like get a better user experience out of the result as the hidden nodes would naturally retain inner container scroll positions and such.

[2018-03-25 21:38] gaearon commented on #12447
If you’ve verified that removing them from the document actually gives performance improvements (which is not a given) then a viable strategy is to create divs on demand and then render a bunch of portals that direct output into them. Then use refs to add and remove those divs as necessary. Hope this helps!

[2018-03-25 22:38] suhailnaw commented on #8531
I am attempting to look into this, but need some help! @aweary

What's the best practices for debugging older versions of IE?  I'm currently running a VM on my Mac with Parallels and have IE11 up.  However, JSFiddle won't load the React debugging starter code (https://jsfiddle.net/Luktwrdm) in IE11.  I keep on getting "SCRIPT002: Syntax error" on the first line of the html, which is <!DOCTYPE html

[2018-03-26 00:49] jamesreggio opened #12453 "`typeof React.forwardRef(...)` is not a 'function', breaking third-party libs"
**Do you want to request a *feature* or report a *bug*?**

**Bug**, possibly

**What is the current behavior?**

The new `React.forwardRef` feature returns an object, not a function.

To this point, the `typeof` both stateless components and class components was `'function'`.

React does not expose a utility to check whether a given value is valid to be passed to `React.createElement`. As a result

[2018-03-26 01:17] gaearon commented on #12453
I don’t think we’re opposed to exposing a utility like this. We’re already releasing a package called `react-is` with some brand checking utilities along with 16.3, and I think we could add something like `isValidElementType` to it.

Then we’d have to look for a “special” field on every single function/class pass to React. I don’t think we’d want to go with that strategy since it introduces an ext

[2018-03-26 01:25] gaearon commented on #12453
As an aside, I’d prefer if we reserved this terminology for its original meaning: “ship something that breaks existing websites without any direct action on their behalf”. For example, Chrome’s “interventions”, Array.prototype.contains, etc.

Using this phrase to refer to a change where you opt in (by bumping the version of React, and later bumping the version of some library that starts using for

[2018-03-26 01:57] bvaughn commented on #12453
We will be releasing the package Dan mentioned (`react-is`) along with 16.3. It exposes a function called `isForwardRef`, which could be used here. Although this function expects React elements (the return type of `React.createElement`) rather than a naked `Component` type, as the [next.js validation check](https://github.com/zeit/next.js/blob/01f05d8cbc0333dd629f3c6bb180d73c41fed968/lib/app.js#L3

[2018-03-26 01:58] jamesreggio commented on #12453
That sounds like the perfect solution. I wasn't aware of the creation of [`react-is`](https://github.com/facebook/react/blob/41b8c65f1e81ba48192fbb65fd5c742638ef4f82/packages/react-is/README.md), but it's a great idea!

Sure thing — sorry for the hyperbole. What I meant to express is that React is fully within its rights to add the `forwardRef` behavior in a minor change, but it may cause constern

[2018-03-26 02:13] NeekSandhu commented on #12447
I might have to take my "performance" claim/argument back. I tested it and I agree with you guys.

The premise of my argument was the fact that most perf centered libs/apps use removing/adding elements approach. If you guys look into internals of any text editor like CodeMirror or Monaco editor (vscode), you won't see them rendering all 3000 lines in the DOM (and set the ones outside of viewport t

[2018-03-26 02:27] jamesreggio commented on #12453
@bvaughn

Checking the type _after_ element instantiation seems like a fairly awkward developer experience. It's unintuitive to me because I would reasonably expect React to throw upon an invalid element type in the `createElement()` call itself (even though, as of today, it appears that that check is deferred until the rendering begins mounting the element).

I realize that HOCs are going 'out of

[2018-03-26 04:46] suhailnaw commented on #8531
I tried another approach where I put the bug in an empty React app made with create-react-app, ran the server on my Mac, and logged onto it through my Parallels VM in IE11.  I used IE11's emulation feature to emulate IE10 and couldn't replicate the bug for React 16 or 15.4.1.

I will investigate further on actual IE10 when I have access to more disk space for all these VMs, but so far no luck repl

[2018-03-26 05:23] alexreardon opened #12454 "Elements loose focus when moving to or from a portal"
**Do you want to request a *feature* or report a *bug*?**

Perhaps a bug, but could also be seen as a feature

**What is the current behavior?**

When you move an element to a portal through `ReactDOM.createPortal` the element looses focus if it had focus. If the element gains focus while in a portal, when moving out of the portal it looses focus.

**What is the expected behavior?**

I would have

[2018-03-26 05:47] justinyueh commented on #12208
I have the same issure too.

[2018-03-26 06:35] dfrankland opened #12455 "Custom property names containing "[" or "]" get removed from custom components"
This could be considered a bug or a feature request. I say this because I know that React is checking for [W3C valid attribute property names](https://www.w3.org/TR/xml/#NT-NameStartChar), but the check is run inconsistently between normal components and custom components which makes its behavior confusing. That means this could be feature to be more explicit about its behavior.

For my particular

[2018-03-26 09:45] HugoGiraudel commented on #6212
Hey there. It seems that `focusable` needs to be passed `false` as a string and not a boolean so React (16) renders it in the DOM. Is that expected behaviour?

[code]

I find it rather surprising considering other boolean attributes such as `aria-hidden` appear to behave differently (passing `false` as a boolean properly renders it in the DOM).

Maybe I missed something?

[2018-03-26 10:59] gaearon commented on #12453
It intentionally doesn’t throw so that we can easily inline this function or replace it with a compiler output.

I agree this is useful to HOCs.

[2018-03-26 11:12] gaearon commented on #7678
RFC for something equivalent to `componentWillUpdateNow` has landed.
https://github.com/reactjs/rfcs/blob/master/text/0033-new-commit-phase-lifecycles.md

[2018-03-26 12:26] asmockler commented on #12301
I think the issue is that when you set state for your prices, you are only setting for a single id. Your code looks like this:

`this.setState({price: {[id] : Number(price.price.toFixed(2))}});`

but needs to look something like this:

[code]

That way it doesn't wipe away the state of the other cells when setting state for the cell you want updated.

[2018-03-26 12:41] nhunzaker commented on #6212
Yes. I can't remember if we achieved consensus on the best way to handle boolean attributes but, from what I remember, it follows:

- Attributes that require string html attribute values (like `focusable="true"`) should be passed as strings
- Attributes that should either be present or absent (like `disabled` or `novalidate`) accept `true` and `false`. React adds/removes the attribute based on the

[2018-03-26 12:41] NE-SmallTown commented on #12390
If it don't be prevented. Everyone can analyze to get the whole project structure, how you fetch data, how you do ssr, how you use redux, they can write posts and criticize you. I don't mean I need everyone can't see the component name, this is just like form verification on front-end, developers can directly do fetch(i.e. bypass the verification), but this is not the reason we don't do verificati

[2018-03-26 12:42] nhunzaker commented on #6212
Looks like we have a "boolean-ish" section for some SVG:
https://github.com/facebook/react/blob/master/packages/react-dom/src/shared/DOMProperty.js#L255-L267

Does it make sense to add focusable here?

[2018-03-26 13:21] HugoGiraudel commented on #6212
That makes sense. I’m not sure accepting both a string or a boolean would be dramatically better. It would certainly make things less confusing from an authoring stand point, but introduces a bit of a code smell (expecting multiple types).

This is what confused me: `aria-hidden` doesn’t work this way for instance. As per the specifications, it should be passed as `true` or `false` (string), not j

[2018-03-26 15:01] gaearon commented on #6212
I think we're open to changes to this in case you want to write up a proposal.

[2018-03-26 15:07] gaearon commented on #12447
Sure, but do you expect to have thousands of tabs open? In that case the optimization is indeed relevant. In other cases, it's less clear. You can still implement your own logic that only keeps the last N opened files truly "open", but unmounts older nodes. That would still require rendering them from scratch next time they open.

Again, as the ultimate optimization you can do what I described wit

[2018-03-26 15:07] #12447 closed

[2018-03-26 15:23] bvaughn commented on #12453
Fair enough. I was just pointing out a difference between what Next is doing and how `react-is` works.

[2018-03-26 16:46] bvaughn commented on #12427
[Documentation for `jest-diff`](https://github.com/facebook/jest/blob/3c65b72d88744a24d1eb985f147707b5d1c532dd/packages/jest-diff/src/index.js#L52-L53) says:

And the [Flow return type for the method](https://github.com/facebook/jest/blob/3c65b72d88744a24d1eb985f147707b5d1c532dd/packages/jest-diff/src/index.js#L54) is `?string`.

The problem we seem to be hitting is [this line](https://github.com/

[2018-03-26 16:48] bvaughn commented on #12427
Related Jest issue https://github.com/facebook/jest/issues/5657

[2018-03-26 16:54] aweary commented on #12455
Hey @dfrankland, this is a duplicate of #10064.

[2018-03-26 16:54] #12455 closed

[2018-03-26 17:48] #12427 closed

[2018-03-26 18:26] dfrankland commented on #10064
Just to add to the confusion, you can still add attributes with square brackets to non-custom components:

Example:

*   JS
[code]

*   JSX
[code]

*   Resulting HTML
[code]

This throws a warning only for the `<custom-component />`.

[2018-03-26 23:06] jamesreggio commented on #12453
Cool — I'll open a PR to add a element type validity check to `react-is`.

[2018-03-26 23:45] wuweiweiwu commented on #12209
@gaearon @aweary Seems that the PR has stalled... Can I pick this up? :)

[2018-03-26 23:53] wuweiweiwu commented on #10691
@jquense @gaearon can I pick this up? :)

[2018-03-27 00:20] orhanberamus commented on #5131
@syranide  can you tell how can i store the ref

[2018-03-27 02:16] SunCe1 opened #12460 "A BUG of React website"
When i learned react at react website ,Using google translate page( ../tutorial/tutorial.html) in Chinese, i pull-down , it broken .
    It may be a small problem for your company.But for some learners in China who with inadequate English , the problem is sharp.
    I hope to get the feedback from your company and hope that the problem can be modified.

[2018-03-27 03:00] hoozi commented on #11527
I think that if the code under React management is asynchronous, it is not synchronized under React management.

[2018-03-27 03:03] suhailnaw commented on #12454
I'm going to attempt to replicate the issue in a JSFiddle.  I'm looking to make my first contribution so if it's an actual bug, I'd like to take a try at a fix.

[2018-03-27 03:56] danibram commented on #11940
Thanks!

[2018-03-27 04:24] techhtml commented on #12460
Google Translate changes Markup structure when they translate Reactjs.org sites.
Maybe this issue happens React site can't find right DOM in Translations.

[2018-03-27 06:09] alexreardon opened #12461 "Change in unmounting timing from React 15"
**Do you want to request a *feature* or report a *bug*?**

*Question* (could be a *bug*)

**What is the current behavior?**

In React 15 if you replace a component with another one, the old component has `componentWillUnmount` called **before** the new component has `componentWillMount` called. However, this has changed in React 16. Now the new component has `componentWillMount` called before the

[2018-03-27 06:27] alexreardon commented on #12461
This was pointed out to me:

- https://reactjs.org/blog/2017/09/26/react-v16.0.html#breaking-changes

This explains what I am seeing. However, I would not have expected it: that the new descendant is rendered before the old one is unmounted.

[2018-03-27 07:27] codrin-bytex commented on #12461
According to the React 16.0 docs indeed this is not considered a bug.
I've made a few changes on your initial `React 16 example`
https://codesandbox.io/s/n3x14rr7yl

You can see that `B.componentDidMount` will be called after `A.componentWillUnmount`, which make sense... before mounting a new component React will "prepare" the new one.

[2018-03-27 08:14] alexreardon commented on #12461
Cheers

[2018-03-27 08:14] #12461 closed

[2018-03-27 10:55] ahumeau opened #12462 "itemProp and itemType incorrectly rendered using react-dom/server"
**Do you want to request a *feature* or report a *bug*?**
A bug.

**What is the current behavior?**
When "server side" rendering elements with the [microdata](https://www.w3.org/TR/microdata/) props `itemProp` or `itemType`, the outputed HTML attributes remain in camel case.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Yo

[2018-03-27 12:11] webcarrot commented on #12462
not a bug - same as https://github.com/facebook/react/issues/12403

[2018-03-27 12:35] gaearon commented on #12461
Check out my talk about [the future of React](https://reactjs.org/blog/2018/03/01/sneak-peek-beyond-react-16.html). I think this behavior will make more sense if you consider that there's no way we can start rendering an update "in background" if we can't create a new tree before we unmount the old one.

[2018-03-27 12:37] gaearon commented on #12460
Same issue as https://github.com/facebook/react/issues/11538.

[2018-03-27 12:37] #12460 closed

[2018-03-27 12:39] gaearon commented on #11527
By the way I gave a talk about the future of React and its async features, in case you missed it:
https://reactjs.org/blog/2018/03/01/sneak-peek-beyond-react-16.html

[2018-03-27 15:18] thiagommedeiros opened #12463 "Self-closing component isn't considered a children?"
**Do you want to request a *feature* or report a *bug*?**

Bug, possibly.

**What is the current behavior?**

I have a `Form` component that validates all inputs inside him. Like this:

[code]

It works fine. The `Form` will go through his children (the inputs) and validate it.

Now, let's see another case, inserting a self-closing component inside the `Form`:

[code]
The `Form` lib implementation

[2018-03-27 15:22] TrySound commented on #12463
Show Form implementation.

[2018-03-27 15:26] jquense commented on #12463
This doesn't look like an issue with self closing inputs, but with how `children` work. Presuming the Form is inspecting `props.children` in the first case children is an `input` in the second case it's a `ComponentWithInputs` where the Form can't see any of those inputs.

In any case, I don't think this is a bug with React, i'd try one of the many support avenues for further help https://reactjs.

[2018-03-27 15:26] #12463 closed

[2018-03-27 16:21] #12462 closed

[2018-03-27 18:26] Voronar opened #12465 "What is the future of React prop-types?"
What is the future of React `prop-types` dynamic (runtime) type checker?

1) Will it be shifted by static type checkers like TypeScript or Flow and will be deprecated in future?
2) Do I need to migrate my actual React projects to TypeScript or Flow for long-term perspective?

[2018-03-27 18:28] gaearon commented on #12465
There are no plans to deprecate PropTypes. We’re not actively promoting them because Flow/TS usually do a better job at these use cases but you should choose what better fits your project and team.

[2018-03-27 18:28] #12465 closed

[2018-03-27 18:40] wuweiweiwu commented on #10468
@aweary @nhunzaker can I work on this?

[2018-03-27 18:56] wuweiweiwu commented on #7769
@aweary @gaearon seems like a good first deep dive. Can I pick this up?

[2018-03-27 20:54] waynebloss opened #12467 "Backspacing over word boundary causes cursor jump when input type is email."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The input cursor jumps to the beginning upon backspacing over the final character or word that follows a space, when the input type is `email`.

[Reproduced on JSFiddle](https://jsfiddle.net/rnrL751h/); the steps the end-user must take are repeated here:

- Enter a word + space + character (e.g. 'tes

[2018-03-27 21:55] aweary commented on #12467
Hey @waynebloss, this is a known issue. Please see https://github.com/facebook/react/issues/11881. Thanks!

[2018-03-27 21:55] #12467 closed

[2018-03-27 22:00] aweary commented on #12363
I suspect this is a result of how React handles events that occur during reconciliation. Currently, React [disables the synthetic event system before committing](https://github.com/facebook/react/blob/33eddbc0c80652f5a2e7307345f998828ed5a267/packages/react-dom/src/client/ReactDOM.js#L563). That means events like that occur as a result of node removal aren't actually handled.

We've talked about ha

[2018-03-27 22:04] aweary commented on #12417
React should re-render all element types if their props change. Is it possible that you weren't passing the correct icon to the `i` element? If you can provide an example reproducing your issue, we can investigate it, but I suspect this isn't a bug at all.

If you have further questions, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-03-27 22:04] #12417 closed

[2018-03-27 22:21] aweary commented on #12362
I think most applications run minification after bundling, so specifying React or ReactDOM wouldn't make a difference. Is that not the case for you? There's a [new error now for this](https://github.com/facebook/react/commit/34092a0f242c8059fd4cec4970f72d9326f2824d), do you think the new wording and link are helpful enough?

[2018-03-27 22:25] aweary commented on #12361
As mentioned, please refer to the [Community Support](https://facebook.github.io/react/community/support.html) resources for usage questions. Thanks!

[2018-03-27 22:25] #12361 closed

[2018-03-27 22:28] aweary commented on #12360
@benwiley4000 if you add some logging within the `for..in` loops, is the code running for the expected handlers? Can you please try using both the latest alpha, and the latest stable 16 release? Thanks!

[2018-03-27 22:36] aweary commented on #12334
Thanks for the report @andyboyne. The problem stems from the fact that we don't update the `value` attribute on number inputs until the field is blurred. We do this to avoid a bunch of unwanted behavior related to browser validation. cc @nhunzaker.

This should be resolved once we finally stop syncing the `value` attribute for controlled inputs https://github.com/facebook/react/issues/11896.

[2018-03-27 22:44] aweary commented on #12328
Here's a PR for adding a note about this to the official docs, feedback welcome! https://github.com/reactjs/reactjs.org/pull/717

[2018-03-27 22:44] #12328 closed

[2018-03-27 22:46] aweary commented on #12321
Yeah, this is expected behavior. If you're going to use a component recursively, there needs to be a base case to halt the recursion, just like with any other recursive function.

[2018-03-27 22:46] #12321 closed

[2018-03-27 22:48] aweary commented on #12367
@alopezsanchez we don't have any directed efforts for increasing code coverage, but if you find an opportunity to add some useful tests, feel free to open a PR.

[2018-03-27 22:48] #12367 closed

[2018-03-27 22:56] aweary commented on #12308
You should make sure to call `unmountComponentAtNode` before detaching the root node from the document. When you set `innerHTML` it doesn't actually destroy the node, it just detaches it. If you store a reference to the node before setting `innerHTML` you can still use `unmountComponentAtNode`

[code]

Hope that helps!

[2018-03-27 22:56] #12308 closed

[2018-03-27 22:57] aweary commented on #12301
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-03-27 22:57] #12301 closed

[2018-03-27 22:59] aweary commented on #12261
Since there's been no follow up, and we're enable to reproduce, I'm going to go ahead and close this out.

[2018-03-27 22:59] #12261 closed

[2018-03-27 23:00] aweary commented on #12255
Since there's been no follow up or reproducible example, I'm going to go ahead and close this out.

[2018-03-27 23:00] #12255 closed

[2018-03-27 23:01] aweary commented on #12203
Done in https://github.com/facebook/react/pull/12358

[2018-03-27 23:01] #12203 closed

[2018-03-27 23:17] nhunzaker commented on #12334
Yes. Actually I wonder if we should get a timeline together on this.

[2018-03-27 23:25] aweary commented on #12209
@wuweiweiwu it stalled because we didn't provide any feedback. I just requested some changes, so let's give @Swieckowski some time to address those requests before handing it off :)

[2018-03-28 00:35] alexreardon commented on #12461
Cheers @gaearon. It makes sense when looking at it like that. My intuition led me to expect otherwise.

[2018-03-28 00:36] alexreardon commented on #12247
We are also hitting against this issue in `react-beautiful-dnd`: https://github.com/atlassian/react-beautiful-dnd/issues/192

[2018-03-28 00:38] alexreardon commented on #12247
We have found that moving a component to a portal, especially with lots of children, has a significant performance penalty

[2018-03-28 01:14] kedromelon commented on #5785
came across this PR and noticed it hadn't been linked here yet -- for documentation's sake, it looks like a attempt at this was made in #10746. @gaearon mentioned that it may be best to expose the event, but not add a polyfill.

[2018-03-28 01:15] gaearon commented on #12247
@alexreardon Can you describe in more detail what you're trying to do with moving portals? It's not entirely clear to me. Maybe some examples of the tree before and after?

[2018-03-28 01:30] dantman commented on #12247
This sounds like the same issue React has in general with when you want to move things from one parent to another. The presence of portals makes this novelly interesting, the DOM element is not one React created but one the user gave to react. In fact this sounds the exact same, because the portal interface isn't one you do something like `new Portal` but `ReactDOM.createPortal(child, container)`

[2018-03-28 02:29] GeraltK opened #12472 "Allow call of onChange callback even with not-a-valid-date values"
**Do you want to request a *feature* or report a *bug*?**
Feature request.
For a use case when we want to show custom validation message, or use Material-ui style of floating label , it's necessary to know that there is an actual value in the input

**What is the current behavior?**
Currently, if the manual date entry is incorrect, the onChange is called with a 'null'
https://github.com/airbnb/rea

[2018-03-28 03:01] alexreardon commented on #12247
I will give a bit more context @gaearon.

When a user starts a drag interaction we use `position:fixed` on the dragging item to control its position. Currently we leave the element in the same spot in the component tree. However, this has style issues as `position:fixed` does not play well with parents that have a `transform` on them.

As a part of our React 16 upgrade we are hoping to move the dr

[2018-03-28 03:05] alexreardon commented on #12247
I think #12454 is a related concern to your reparenting discussion @dantman

[2018-03-28 03:28] jquense commented on #12472
I think your in the wrong repo! You want the Airbnb react-dates one

[2018-03-28 03:28] #12472 closed

[2018-03-28 03:38] GeraltK commented on #12472
@jquense , long day :) sorry for confusion :)

[2018-03-28 03:52] rawpixel-vincent commented on #1118
Why don't convert this warning to a yellow notice, since not having onChange on every input is valid when you rely on event bubbling.
This warning end up hiding other warnings, since he's always appear it makes other warnings less visible.

[2018-03-28 07:49] cari69 commented on #12415
Yes fix

[2018-03-28 09:22] dantman commented on #12454
Focus loss is not a bug in react, nor is this currently being cased by a focus loss bug.

Firstly, React does not currently have the ability to move something rendered by react from one parent to another, even involving Portals (unless you move the portal container itself). As a result what you are currently experiencing is not your element losing focus, it is your element being destroyed complete

[2018-03-28 09:53] alexreardon commented on #12454
Thanks for the detail @dantman. Agreed that it is not a bug. However, it could be a feature of react to maintain focus across a portal. My guess is that it would be extremely common to retain focus during a portal transition - even if the underlying DOM operations cause a focus lost. It feels like a similar concern to how react maintains scroll position even after DOM updates

Thanks for looking i

[2018-03-28 10:35] thysultan commented on #12247
If i'm not mistaken the `createPortal` has a third optional argument `key` that can be used for this – `createPortal(element, container, key)`.

The only reason i understand that react does this is the same reason that two elements with differing types i.e `<A/>` and `<B/>` replace each other.

The behavior suggested by @danielran looks like a reasonable way to solve this pattern, albeit it might

[2018-03-28 11:48] HugoGiraudel commented on #6212
Yes, my colleagues and I can surely come up with something. Is there a specific format you’re expecting for this or shall it just be what we think would be a good improvement on the current implementation?

[2018-03-28 11:49] dantman commented on #12247
Correct, there is a (not well documented) key argument to createPortal, this is simply passed as the key prop to the resulting React element. This is likely just so that you can use it in an array. i.e. `dialogs.map(dialog => React.createPortal(<Dialog {...dialog} />, getDialogContainerFor(dialog.id), dialog.id))`. I should've used a term other than key to refer to the globally unique identity by

[2018-03-28 12:53] gaearon commented on #6212
Just file an issue with a free form description of how it should work and why

[2018-03-28 13:37] nhunzaker commented on #9402
@antoaravinth's fix in #12451 definitely addresses the concern of this issue. However I didn't fully understand the ramifications of this change until I tried it for myself:

### Change in behavior

#### Before

![before](https://user-images.githubusercontent.com/590904/38031617-9937ba4e-3269-11e8-8310-65477b91ec8c.gif)

Number inputs respect values if they parse to the same numeric value. So `000

[2018-03-28 15:03] gaearon opened #12474 "Uncaught Error: Should be working on a root. This error is likely caused by a bug in React."
Got this debugging another error. Filing here for reference. Original code: https://phabricator.intern.facebook.com/P59317705

[2018-03-28 17:33] aweary commented on #6212
It's kind of a messy situation, since we're dealing with three separate specifications (HTML, SVG, ARIA) and they don't always use consistent terms when describing attribute behavior.

Ideally, every specification would define the attributes as either [boolean attributes](https://html.spec.whatwg.org/#boolean-attributes) or [enumerated attributes](https://html.spec.whatwg.org/#keywords-and-enumera

[2018-03-28 20:26] silvenon opened #12476 "event.button sent by TestUtils.Simulate.click() is undefined by default"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

By default `Simulate.click()` sends an event with an undefined `event.button`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependenci

[2018-03-28 20:54] lukescott opened #12477 "Issues with ReactControlledValuePropTypes"
**Do you want to request a *feature* or report a *bug*?**

See below.

**What is the current behavior?**

1. (Bug / Inconsistency)
[code]
No Warning.

2. (Feature Request)
[code]
`Warning: Failed prop type: You provided a 'checked' prop to a form field without an 'onChange' handler. This will render a read-only field. If the field should be mutable use 'defaultChecked'. Otherwise, set either 'onCh

[2018-03-28 21:25] gaearon commented on #12477
Can you please compare behavior in 15 and 16.3.0 (`next` tag for `react` and `react-dom` on npm)?
Has this changed at some point?

[2018-03-28 21:39] wuweiweiwu commented on #12209
Sounds good! Thanks for letting me know!

[2018-03-28 22:14] lukescott commented on #12477
Just checked both 15 and 16.3 - Same behavior for both.

I didn't discover this until I hit a field that had an initial truthy state (radios, select boxes). We have an application where a user builds a form and we use a stateless render function for preview and then call that function within a class component for the usable field. I would like to avoid using readOnly because it would only be valid

[2018-03-29 00:44] #12246 closed

[2018-03-29 00:47] acdlite commented on #12246
Fixed by https://github.com/facebook/react/pull/12478

[2018-03-29 00:49] gaearon commented on #12246
@acdlite Wrong link?

[2018-03-29 01:18] #12474 closed

[2018-03-29 03:33] acdlite commented on #12246
Oops, sorry. Meant https://github.com/facebook/react/pull/12254.

[2018-03-29 08:23] HugoGiraudel commented on #6212
## Situation

The [`focusable` attribute](https://www.w3.org/TR/SVGTiny12/interact.html#focusable-attr) from the SVG specifications is an [enumerated attribute](https://html.spec.whatwg.org/#keywords-and-enumerated-attributes) accepting values `"true"`, `"false"` and `"auto"`. Because it is technically not a boolean attribute (although it certainly somehow looks like it), React expects the value t

[2018-03-29 08:35] HugoGiraudel opened #12481 "[SVG] Enable focusable to accept boolean values"
Moved discussion from https://github.com/facebook/react/issues/6212.

## Situation

The [`focusable` attribute](https://www.w3.org/TR/SVGTiny12/interact.html#focusable-attr) from the SVG specifications is an [enumerated attribute](https://html.spec.whatwg.org/#keywords-and-enumerated-attributes) accepting values `"true"`, `"false"` and `"auto"`. Because it is technically not a boolean attribute (a

[2018-03-29 08:39] rayeeskm commented on #12301
@nhunzaker Thanks a lot for the suggestion. Have updated the fiddle https://jsfiddle.net/Luktwrdm/230/. you can see the price column displays only for the current row that is being updated.

[2018-03-29 09:43] li2go opened #12482 "Request Feature: Add API afterSetState"
I want to request a feature.

Could we add an API named `afterSetState` on class `Component`.

[code]
Then ,sometimes we can do something after update state.
I do this in my codes .
if we use `async/await`,it's  a better API.

etc:

[code]

i wish it can be added into react.js in future version.

`Promise` is not the question.

[2018-03-29 10:53] TrySound commented on #12482
[See here](https://github.com/facebook/react/pull/9989)

[2018-03-29 10:55] raunofreiberg commented on #12482
`setState` accepts a callback function so you could just do

[code]

[2018-03-29 12:32] li2go commented on #12482
why `setState` didn't return a `Promise`.

I just meaning why not make our API promisify ,why does it just callback mode.

[2018-03-29 12:35] li2go commented on #12482
I just think setState is an async Function,maybe it can be promisify.

I think it will be more awsome.

okay.....

awsome React.

awsome Contributor.

[2018-03-29 12:44] idanbeker commented on #12482
I never ran into synchronization problems with setState.
But as the algorithm of rendering is changing , I'm not sure it will stay this way, this is what I use to synchronize my actions.

I really don't see a good reason to hide the fact that setState is async.
`
setStateAsync(state) {
        return new Promise((resolve) => {
            this.setState(state, resolve)
        });
    }
`

[2018-03-29 15:43] asmockler commented on #12301
@rayeeskm Here is the fiddle updated with the solution I suggested before:

https://jsfiddle.net/Luktwrdm/257/

[2018-03-29 16:40] consultwithmike commented on #12482
I could see how `afterSetState` could be a useful class function. Though it might require some context as to what state change occurred depending on what you're doing in `afterSetState`. You might even have to tag your state update operations with a `type` like you do actions so you can check the `type` of state change being performed.

So potentially the definition looks something like this:

[co

[2018-03-29 17:32] jamesreggio commented on #12453
I've opened a PR here: #12483

[2018-03-29 18:16] reznikGit opened #12484 "Problem with multi instance of component"
Hello, i have some problem:

In my app i have parent component Tables, this component have children's components Game, for example i have two component Game (number of components - dynamic value)
Each component Game have state property test and children component GameUI. Test value i transfer to GameUI -  `<GameUI test={this.state.test} />`

In my mind each components (with it children's) isolated

[2018-03-29 18:46] bvaughn commented on #12453
This new method has been added to `react-is` and will go out with the upcoming release. Thanks!

[2018-03-29 19:02] reznikGit commented on #12484
U can try write u example (from my description) https://jsfiddle.net/boilerplate/react-jsx/
I want to see u code, possibly i'm wrong somewhere.

[2018-03-29 19:15] leighhalliday opened #12485 "Error still logged to console when caught by error boundary in testing"
**Do you want to request a *feature* or report a *bug*?**

I'm not quite sure if feature/bug... I have an error boundary, and I want to test that it works correctly, but it produces a big `console.error` and there doesn't seem a great way to get around it.

**What is the current behavior?**

When an error is captured by the error boundary, it still logs to console during tests, making it look like

[2018-03-29 19:42] aweary commented on #12484
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-03-29 19:42] #12484 closed

[2018-03-29 21:43] rayeeskm commented on #12301
Hey @asmockler thanks for that. `<td>` state gives the expected output when using prevState.

But am still wondering why react behaves differently for `<td>` and `<input>`. `<input>` did not require to use prevState whereas `<td>` requires.

[2018-03-29 22:50] Hypnosphi opened #12489 "Can `create-subpscription` use `react-lifecycles-compat`?"
I would like to use `create-subscription` to remove `componentWillReceiveProps` usage in [`react-komposer` library](https://github.com/storybooks/react-komposer/blob/master/src/compose.js#L33). Unfortunately, `create-subscription` has `react@16.3` as peer dependency, as it uses `getDerivedStateFromProps`. I wonder if it can use `react-lifecycles-compat` and specify a wider range as react peer depe

[2018-03-30 00:58] sunil-sandhu commented on #5591
So so late to the party here but @sophiebits's comment about componentDidMount has just brought an end to 3 hours of debugging - thank you!

[2018-03-30 01:11] sophiebits commented on #4213
An API for this has been added in React 16.3 released today: https://reactjs.org/blog/2018/03/29/react-v-16-3.html#forwardref-api.

[2018-03-30 01:11] #4213 closed

[2018-03-30 03:27] 55555azhe opened #12490 "how can i use hook to Intercept dom from ref and e.target Because the safety"
how can i use hook to Intercept dom from ref and e.target Because the tripartite safety，and i want check the style if someone write position:fixed
how i can do? or Do you have plans to do these things?

[2018-03-30 05:17] li2go commented on #12482
@consultwithmike there  already has  `componentDidUpdate`

[2018-03-30 06:21] grantCHG opened #12491 "Provide a better error on React.cloneElement(null/undefined)"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSa

[2018-03-30 06:50] 13Yuan commented on #11609
I also faced this issue. do you fix it now?

[2018-03-30 07:10] aljones15 commented on #4173
just for future refenrce you can also get this error if a PropType is left uncomplete ie.

county: PropTypes

[2018-03-30 10:57] regou opened #12492 "New ref API on react-reconciler?"
How to implement or use new Ref API on a custom renderer?
eg.
[code]
My reconciler is almost simple as nothing
[code]

Any tutorial ? Thanks

[2018-03-30 11:20] consultwithmike commented on #12482
@li2go that's a good point. However, I'm thinking it's fundamentally different. For example, it can be canceled by `shouldComponentUpdate` and so isn't guaranteed to run. Furthermore, diving further into "typing" your state changes, if we embedded that idea even more (i.e. the consumer didn't have to add the `type` to the `partialState`, but it was native to `setState`) then the `afterSetState` co

[2018-03-30 11:47] TrySound commented on #12482
@consultwithmike So do you want to make a reducer from current state model? This can be implemented in user land without any effort

[code]

[2018-03-30 11:59] consultwithmike commented on #12482
@TrySound the abstract answer is  yes. However, if I thought this was a one off use case I wouldn't have provided a potential React-based framework for it. The more I think about this request, and the components I've built in the past, and how I had to respond to state changes; I think this has a broader use case.

Further, the **reducer** model is loose right? You add the `type` to the action obj

[2018-03-30 12:07] gaearon commented on #12492
Update the reconciler package to the latest version and it should just work.

[2018-03-30 12:07] #12492 closed

[2018-03-30 14:39] bvaughn commented on #12489
Hi @Hypnosphi 😄

I had anticipated `create-subscription` being used primarily by application code. I assumed library authors would either fork it or manually implement the subscription techniques described [here](https://gist.github.com/bvaughn/d569177d70b50b58bff69c3c4a5353f3) within their libraries since that would offer finer-grained control. Since your library seems to be specifically aimed at

[2018-03-30 14:43] pmunin opened #12493 "[Bug] New Context API does not work with ReactDOM.unstable_renderSubtreeIntoContainer"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
Consumer rendered by invokes ReactDOM.unstable_renderSubtreeIntoContainer, invokes render function with DEFAULT context value ignoring value of Provider

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much

[2018-03-30 14:48] gaearon commented on #12493
I don’t think we’ll implement new context API support for `unstable_renderSubtreeIntoContainer`. Effectively `unstable_renderSubtreeIntoContainer` has been superseded by Portals in React 16, and I encourage you to migrate to using a portal (which will propagate both new and legacy context correctly). We will deprecate `unstable_renderSubtreeIntoContainer` in a future minor release.

[2018-03-30 14:48] #12493 closed

[2018-03-30 14:51] Hypnosphi commented on #12489
Ok I think I got the idea

[2018-03-30 14:51] #12489 closed

[2018-03-30 15:07] pmunin commented on #12493
I see. Unfortunately there are some cool 3rd party components that still use it, like [golden-layout](http://golden-layout.com). It's javascript (not React) component, but they have integration with react, which triggers each docking panel to rendering through react the following way:
[code]
Not sure how to migrate it to createPortal approach, since it's the javascript component who triggers the r

[2018-03-30 15:15] bvaughn commented on #12482
Apologies if I'm just missing or misunderstanding what's being proposed, but I don't think the proposed feature adds anything to the component API that isn't already achievable using either [`componentDidUpdate`](https://reactjs.org/docs/react-component.html#componentdidupdate) or the [`setState` callback](https://reactjs.org/docs/react-component.html#setstate).

[code]

[2018-03-30 15:28] bvaughn commented on #12482
What you're describing sounds like a candidate for the `setState` callback (also shown in my above example).

Either way, as I mentioned in my previous comment- the [RFCs repo](https://github.com/reactjs/rfcs) is a more appropriate place to discuss proposals like this. 😄

[2018-03-30 15:34] consultwithmike commented on #12482
Oh @bvaughn I missed that reference to RFCs repo in your previous comment apparently. Furthermore, I didn't even know that existed, so please excuse my ignorance. I will likely migrate my last proposal into a post in the RFCs repo sir.

Again, my apologies. I'm just trying to get into the community and make some meaningful change.

[2018-03-30 15:40] bvaughn commented on #12482
No problem. 😄

I'm going to close this issue. Personally I'm not convinced this is a necessary addition or that it solves any problems not already solved by [`componentDidUpdate`](https://reactjs.org/docs/react-component.html#componentdidupdate) or the [`setState` callback](https://reactjs.org/docs/react-component.html#setstate)- but if anyone would like to make a case for that- please open a PR i

[2018-03-30 15:40] #12482 closed

[2018-03-30 16:57] milesj commented on #12491
Can you please provide more information and answer the questions?

[2018-03-30 17:35] JozefCipa opened #12494 "Invalid DOM property `frameborder`. Did you mean `frameBorder`?"
I'm using [react-safe-html](https://github.com/brigand/react-safe-html) to render HTML from editor on website. The thing is that when it renders `iframe` it causes **Invalid DOM property `frameborder`. Did you mean `frameBorder`?** error. But when I use `frameBorder` in component it **DOESN'T** affect rendered iframe's border. However `frameborder` does (but it throws this warning).

[2018-03-30 19:19] budarin opened #12495 "React 16.3 deprecated componentWillMount and SSR?"
Hi!

Help me understand how to do refactoring:
deprecated componentWillMount is recommended to replace with componentDidMount (this method is not called on the server-side) or with static getDerivedStateFromProps which has no access to a particular instance.

so where to put the code which must be running on both sides after initialization of an instance?

[2018-03-30 19:31] TrySound commented on #12495
@budarin There is mention in `Note` in blog post
https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#fetching-external-data

[2018-03-30 19:43] budarin commented on #12495
I'm sorry - I don't need to fetch data )

Imagine component like a Loadable: after initialization it has to check for loading component and initialize its loading on both sides: browser and server.

Constructor is not suitable place for this - there is no access for the components instance.
And componentDidMount is not called on server side

[2018-03-30 19:47] TrySound commented on #12495
But constructor has an access to instance. What do you mean?

[2018-03-30 19:51] budarin commented on #12495
@TrySound
thanks for pointing )
I'm sorry - I was mistaken !
I have a bug in my code...

[2018-03-30 19:51] #12495 closed

[2018-03-30 21:45] thysultan opened #12497 "Error boundary bug"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

An internal error is raised when the error tries to propagate.

<details>
<summary>Uncaught TypeError: Cannot read property 'return' of null</summary>
<pre>Uncaught TypeError: Cannot read property 'return' of null
    at renderRoot (react-dom.development.js:12223)
    at performWorkOnRoot (react-dom.

[2018-03-30 22:23] pedroteixeira opened #12498 "Uncaught Error: Unexpected object passed to ReactTestInstance constructor (tag: 13). This is probably a bug in React."
Hello,

I'm testing v16.3.0 and I'm getting this warning:
[code]

 My use case is that I wanted to render React Test Renderer (for ex) from a Component in an another (ReactDOM) renderer but it does not seem to work - I wanted to use same Provider in both containers.

I thought `React.createContext` create objects with no state and could be shared across renderers / Fiber containers.. Is there work

[2018-03-30 23:50] jquense commented on #12497
yeeesss. This should be a repro of https://github.com/facebook/react/issues/12449

[2018-03-31 01:15] suhailnaw commented on #11768
I'm looking to make my first contribution and can take a look at this issue!

[2018-03-31 01:57] cvlab commented on #11911
I have the same problem with this code
[code]
or
[code]
because React try to delete each node from `option`

@kevinzwhuang my workaround is to use unique keys
https://jsfiddle.net/qkc4eyqe/5/ or https://jsfiddle.net/qkc4eyqe/8/

[2018-03-31 02:17] oyeanuj commented on #12495
@TrySound Given this change, should the docs be updated for [the React API here](https://reactjs.org/docs/react-component.html#constructor) where it essentially says not to have any side-effects in the constructor? Anything for developers to watch out for?

cc: @bvaughn

[2018-03-31 02:45] steida opened #12499 "How exactly is a new context API Flow typed?"
![screen shot 2018-03-31 at 04 44 30](https://user-images.githubusercontent.com/66249/38158929-39e95160-349e-11e8-9e34-061b0ed80fde.png)

[2018-03-31 02:50] Zarel commented on #285
(Wow, no progress in five years? Doesn't Facebook itself support keyboard shortcuts and dismissing popups by clicking outside them?)

I got bitten by this today, when I refactored something from listening to keypresses on an `<input>` (in a React event) to using `document.addEventListener` (in a native event) – I was calling `setState` a lot, and suddenly not batching them made everything a lot la

[2018-03-31 06:19] catamphetamine commented on #12188
Not having `prevProps` in the new `getDerivedStateFromProps()` function is really weird. I see no reasons for not passing `prevProps` argument to `getDerivedStateFromProps()`, nor I'd find it "confusing" in any way.

Well, whatever, I'll just store all `prevProps` inside state, something like `this.state.previousProps`.

[2018-03-31 08:42] TrySound commented on #12499
@steida Take a look [here](https://github.com/facebook/flow/pull/5920)

[2018-03-31 08:50] TrySound commented on #12188
@catamphetamine What is verbose there? Previous props are not past for the same reason as you have to pass props to state in constructor. Actually your way won't work for the first call. Countries will be equal.

I usually just use "default" values

[code]

Yep, this is a bit verbose but with this you have more simple code with less conditions. You don't need to do null checks for prevProps, which

[2018-03-31 09:05] catamphetamine commented on #12188
@TrySound

This part is verbose.

[code]

Have the library authors given it some more thought they would have added `prevProps` argument to `getDerivedStateFromProps()` and everyone wouldn't have to add that bulky constructor state hack to work around that inconvenience.

No, it will work for the first call.

And so it will simply not enter the `if` condition which is completely fine.

How this ne

[2018-03-31 09:17] TrySound commented on #12188
Yep, this was considered.

https://github.com/reactjs/rfcs/pull/6/files#r156668036

[2018-03-31 09:44] catamphetamine commented on #12188
@TrySound Ok, I take your word for it. Didn't read that thread.

I mean, yeah, that would be a perfectly sane approach given that even the official docs [explicitly state](https://reactjs.org/docs/react-component.html#static-getderivedstatefromprops):

I.e. it says that the new props aren't neccessarily different from the old ones, so doing `getDerivedStateFromProps(this.props, this.state, this.pr

[2018-03-31 11:00] heikkilamarko opened #12500 "Warning in IE 11 when using React.Fragment"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

With React 16.3.0, when using `<React.Fragment>` IE 11 gives the following warning:

[code]

Steps to reproduce:
1. Use `create-react-app` to create a new React app.
2. Add `<React.Fragment>` to `App.js`. For example:

[code]

3. Open the app in IE 11.
4. Open IE dev tools and refresh the browser.
5.

[2018-03-31 11:10] gaearon commented on #12500
Want to look into why this happens?

[2018-03-31 11:22] neoziro opened #12502 "Possible regression in dev mode in v16.3"
[This example](https://codesandbox.io/s/1zn2o513pq) presents a huge performance drop between React 16.2 and React 16.3.

In investigated it and noticed several things:

- Perfomance drop is only visible using development bundle
- This is not related to styled-components (a simple div presents the same problem)
- I tried to investigate in performance tab of Chrome dev tools and I noticed that I get

[2018-03-31 11:27] alexreardon commented on #6436
All touch events are now passive by default in iOS 11.3. Thus calling event.preventDefault in any touch events is non-effective

https://codesandbox.io/s/l4kpy569ol

[2018-03-31 11:45] gaearon commented on #12502
Can you turn this into a smaller self-contained example without third party libs?

[2018-03-31 11:46] alexreardon commented on #6436
Without being able to force non-passive event handlers we are having a hard time working around the iOS 11.3 changes https://github.com/atlassian/react-beautiful-dnd/issues/413

[2018-03-31 12:38] jquense commented on #12500
How are you polyfilling Map? This seems like maybe the same issue as [on a phone can't find the other issue], where the problem was ie11's Map is broken for ctor arguments like this

[2018-03-31 12:39] gaearon commented on #12500
Ugh right. Not our first time bumping into this, maybe it’s time to add an internal rule against Map/Set constructor argument.

Do you want to send a fix?

[2018-03-31 12:39] gaearon commented on #12500
The thing is, we don’t require Map to be polyfilled on IE11 because it already exists there. We just need to avoid constructor arguments in our code.

[2018-03-31 12:41] gaearon commented on #12495
Setting the initial state is not a side effect.

[2018-03-31 12:45] jquense commented on #12500
Could also do a quick test when check for map for broken Map implementations. Avoiding the ctor argument is easy enough for React, too. It might nicer for the ecosystem to insist on a valid Map, since libraries will be using Map/Set more assuming the React env baseline.

[2018-03-31 12:45] heikkilamarko commented on #12500
Browser compatibility table shows that `new Map(iterable)` is not supported in IE 11.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map

I tried the following code and it makes the warning go away.

[code]

[2018-03-31 12:48] gaearon commented on #12500
Let’s just replace this with two string literal comparisons. I don’t see why the Map here is useful.

[2018-03-31 13:49] neoziro commented on #12502
I will try to do it but right now I don’t have time, I think doing a setState every 16ms on 20 components in parallel should be sufficient to make it slow.

[2018-03-31 13:57] nhunzaker commented on #11609
Hey! Nope, and it looks like it's still an issue. I sent out a PR here:
https://github.com/facebook/react/pull/12505

[2018-03-31 13:58] heikkilamarko commented on #12500
#12504

[2018-03-31 14:45] nhunzaker opened #12506 "Possible incorrect event.target on number inputs in IE9?"
Since React 16.0.0, it looks like there might be a case where `event.target` on a change event in IE9 reports as the window, but I can't reproduce it outside of the DOM test fixtures.

*Steps to reproduce*

1. Open this build of the fixtures: http://react-ie-9-target-issues.surge.sh in IE9
2. Enter text into an input
3. Observe that the `event.target.value` is the window, as recorded by the fixtur

[2018-03-31 15:03] bvaughn commented on #12188
I'm going to lock this issue because it doesn't seem like re-hashing this discussion is very productive at this point. 😄

The RFC has a lot of useful info on it. If there's uncertainty on why a decision was made, I'd suggest reading through it. (I know it's lengthy, but this was a big change.)

[2018-03-31 15:46] oyeanuj commented on #12495
@gaearon To clarify, I was suggesting clarifying the answer to the following question: _What lifecycle method should one use on the server to fetch data (say from Redux action or XHR), given that `componentWillMount` is going away and `componentDidMount` doesn't execute on the server?

[2018-03-31 17:28] steida commented on #12499
I see, thank you.

[2018-03-31 19:33] ryanmeisters commented on #7553
problem for me was that I had `value="Upload..."` on the input. removing the `value` prop fixed it

[2018-03-31 21:35] #12499 closed

[2018-03-31 22:15] sebmarkbage commented on #12502
Note that if you’re using the StrictMode component, this is expected since it double renders. If you’re not, then it is not expected and probably a bug.

[2018-03-31 22:25] aweary commented on #12500
This brings up a broader question on how to handle bad native implementations. These cases are easy enough to refactor, but what happens when we really want to use a Map/Set/etc. feature that isn't available in some native implementations? Does it make sense to ask users to polyfill for bad native behavior too?

[2018-03-31 22:50] alshakero commented on #12502
Here is a fairly simple comparision. Exactly the same code with different react version.

- 16.3: https://codesandbox.io/s/px9ny4v50 | 201.82ms per frame
- 16.2: https://codesandbox.io/s/m369j7jomp | 54.76ms per frame

[2018-03-31 23:13] mlazowik commented on #12502
* 16.2: <img width="1281" alt="16 2" src="https://user-images.githubusercontent.com/1978721/38168349-c402a1fc-3549-11e8-8ac8-0e976a916943.png">
 * 16.3: <img width="1118" alt="16 3" src="https://user-images.githubusercontent.com/1978721/38168350-c6089b5a-3549-11e8-9b3f-020b4b28f62e.png">

Looks like scheduling is somehow off and leaves idle gaps?

[2018-03-31 23:15] gaearon commented on #12502
We're spending *quite* a bit more time in `performUnitOfWork` (which is the hottest path).
I think [this](https://github.com/facebook/react/blob/fa8e67893fca1b3902637129972032bca248a584/packages/react-reconciler/src/ReactFiberScheduler.js#L849) might be the culprit.

Want to try commenting that line out in the bundle and see if it helps?

[2018-03-31 23:36] mlazowik commented on #12502
@gaearon yep, this is it.

[2018-03-31 23:39] gaearon commented on #12502
Good. I wonder why. Is it the allocation, the enumeration over a fiber, or changing hidden class of the target itself.

Can you try

[code]

instead and see if it’s still as bad?

[2018-03-31 23:49] shepmaster commented on #4936
React 16.3 introduces [`React.forwardRef`](https://reactjs.org/docs/forwarding-refs.html). You can use this to transfer a ref to a prop of the stateless component, which can then use it as appropriate.

[code]

[2018-03-31 23:56] mlazowik commented on #12502
`stashedWorkInProgressProperties` is undefined there, so this errors out.

[2018-04-01 00:03] mlazowik commented on #12502
@gaearon

[code]

<img width="1095" alt="zrzut ekranu 2018-04-01 o 02 02 49" src="https://user-images.githubusercontent.com/1978721/38168584-d458f1a8-3550-11e8-9239-1f6e33f13602.png">

[2018-04-01 00:04] gaearon commented on #12502
Seems like it's still quite a lot. I bet we need to preserve the hidden class and explicitly write out all assignments.

[2018-04-01 00:08] mlazowik commented on #12502
Hm, maybe you could write a generic function to do that based on type annotations?

[2018-04-01 00:13] gaearon commented on #12500
We generally decide this on a case by case basis. In case of Map/Set we're happy with IE11 feature set (afaik), we just keep forgetting about it.

[2018-04-01 00:14] #12500 closed

[2018-04-01 00:15] gaearon commented on #12498
@acdlite What was the main reason it was stateful?

[2018-04-01 00:35] gaearon commented on #12449
Repro case from https://github.com/facebook/react/issues/12497: https://jsfiddle.net/thysultan/Luktwrdm/264/

[2018-04-01 00:35] gaearon commented on #12497
Closing in favor of https://github.com/facebook/react/issues/12449. This is very helpful, thanks.

[2018-04-01 00:35] #12497 closed

[2018-04-01 00:36] gaearon commented on #12449
Btw, there's another potentially related bug that happens if you remove [this feature flag override](https://github.com/facebook/react/blob/0c80977061ba576cee9ae0891245be233929d2ed/packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js#L24) that manifests as an `Unexpected pop` warning. Maybe we should change this test suite to use the feature flag that people use i

[2018-04-01 00:42] mlazowik commented on #12502
@gaearon an ad-hoc confirmation that hidden class is the issue:

[code]

<img width="849" alt="zrzut ekranu 2018-04-01 o 02 39 15" src="https://user-images.githubusercontent.com/1978721/38168737-19ed7522-3556-11e8-9e25-0f825d537172.png">

[2018-04-01 00:50] gaearon commented on #12449
Added failing tests in https://github.com/facebook/react/pull/12508.

[2018-04-01 00:53] gaearon opened #12509 "React 16.3.1 Umbrella"
- [x] IE11 Fragment false positive warning fix (https://github.com/facebook/react/issues/12500, fixed in https://github.com/facebook/react/pull/12504)
- [x] Big DEV mode performance regression (https://github.com/facebook/react/issues/12502, fixed in https://github.com/facebook/react/pull/12510)
- [x] Error handling bugs related to replaying (https://github.com/facebook/react/issues/12449, fixed i

[2018-04-01 01:08] gaearon commented on #12494
Seems to work fine in React itself: https://jsfiddle.net/fn4fv2jf/

[code]

It ends up in the DOM and prints to warnings:

<img width="292" alt="screen shot 2018-04-01 at 02 06 49" src="https://user-images.githubusercontent.com/810438/38168870-60b67530-3551-11e8-85f5-36993f2fccd5.png">

So I don't think it's a React issue and I encourage you to see if `react-safe-html` skips the attribute somewher

[2018-04-01 01:08] #12494 closed

[2018-04-01 01:09] gaearon commented on #12491
You can't call `cloneElement` on `undefined`. This is intentional. You can check `isValidElement()` before cloning if you'd like to be safe.

That said we should probably throw a better error.

[2018-04-01 01:10] gaearon commented on #12490
Hi! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-04-01 01:10] #12490 closed

[2018-04-01 01:11] gaearon commented on #12485
Seems like a duplicate of https://github.com/facebook/react/issues/11098?

[2018-04-01 01:11] #12485 closed

[2018-04-01 01:12] gaearon commented on #12481
Are there any other similar attributes? I think it's not very likely we'll add one-off exceptions like this.

[2018-04-01 01:18] mlazowik commented on #12502
I forgot to actually copy.
[code]

This is still slow, but faster than with `stashedWorkInProgressProperties = {}`.

[2018-04-01 01:25] framerate commented on #6575
@zpao Could you let me know if this is related? This has been driving me bonkers:

[code]

But it's broken and renders:
![image](https://user-images.githubusercontent.com/74291/38168938-93d4e942-3510-11e8-998a-33e93b3a9418.png)

Note: This behavior *ONLY* happens on windows.

Originally I thought it was an Electron bug (https://github.com/electron/electron/issues/12102) but now I'm starting to thi

[2018-04-01 01:29] gaearon commented on #6575
React doesn't have a parser. We're literally passing a string you gave to the browser. I encourage you to create a reproduction case without React (i.e. just DOM API) and ask in Electron support forums).

[2018-04-01 01:30] gaearon commented on #12502
I tried locally and handwritten version seems pretty fast.

[2018-04-01 01:34] framerate commented on #6575
Thanks @gaearon. I'll continue down that path!

[2018-04-01 02:15] gaearon commented on #12502
https://github.com/facebook/react/pull/12510

[2018-04-01 02:30] bvaughn commented on #12495
We're still working on a good story for server-side data fetching (dubbed "suspense").

`componentWillMount` is going away, but `UNSAFE_ componentWillMount` is still here (and won't be going anywhere). There's also the constructor, which is the same (equally bad) as `componentWillMount` was.

[2018-04-01 04:40] abdulazizasiri opened #12511 "When running npm start to run react app, the browser shows page unresponsive"
**Do you want to request a *feature* or report a *bug*?**
Yes
**What is the current behavior?**

When I start create-react-app by running npm start, the browser gives me "Aw -snap, something went wrong". Although, I do not get any error. It is running on chrome very slowly, and it does not show anything.

**What is the expected behavior?**
I should see the main page.

**Which versions of React, an

[2018-04-01 06:45] neoziro commented on #12502
Tested on the original example and it is much better, thanks!

[2018-04-01 06:56] chrisdrackett opened #12512 "createRef missing in flow typings"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

when using `React.createRef()` flow complains that `createRef` is missing in react.

https://flow.org/try/#0PTAEAEDMBsHsHcBQiCWBbADrATgF1AFSgCGAzqAEoCmxAxvpNrGqAOTY32vLV24B0tDsVxVqkABQBKANxA

**What is the expected behavior?**

flow does not complain.

**Which versions of React, and which browser / O

[2018-04-01 07:50] gaearon commented on #12512
React Flow typings live in Flow repo rather than React.

https://github.com/facebook/flow/pull/5920

[2018-04-01 07:50] #12512 closed

[2018-04-01 07:55] turcuciprian commented on #12511
What builder are you using? Webpack? Gulp? Grunt? Can you share it's configuration for data?

[2018-04-01 07:59] gaearon commented on #12511
Could you share the minimal code example that reproduces it? I can’t reproduce on a newly created app.

[2018-04-01 08:07] gaearon commented on #12495
To be extra clear `componentWillMount` was never very helpful on the server for data fetching since it executes once.

So you had to render in two passes (once to start the fetch and then another time after it’s resolved). It’s not an optimal architecture but while you depend on it you can keep using `UNSAFE_componentWillMount` for the same purpose. (Or constructor, I guess.)

When “suspense” API

[2018-04-01 10:04] kumarranjansingh opened #12513 "SetState() method clarification."
Is render method called for every number of properties I set using setState()?and why can't we get a parameter to pass in setState saying that don't re-render my component for this setState() method call.
I have a callback function for setState() which again setting some state so re render will be called twice?(I found it to be calling twice but can it be optimized)

[2018-04-01 10:14] TrySound commented on #12513
@kumarranjansingh Just use `setState` only once. You just want something contradict: set state, but not set state. Show that part of the code.

[2018-04-01 10:20] kumarranjansingh commented on #12513
_handleDropDownChange = e => {
    const centerId = e.target.value;
    const activeFilter = Object.assign({}, this.state.activeFilter, {
      centerId: centerId
    });
    this.setState({
      activeFilter: activeFilter
    },this.filterData);
  };
filterData = () => {
    let filteredData = this.state.List;
    let centerId = this.state.activeFilter.centerId;
    let depId = this.state.active

[2018-04-01 10:32] malinga91 opened #12514 "How to get <img /> width & height?"
I need to get width & height of image.
I tried this way,

[code]
[code]
I need to get dimentions after mount and when browser resizing.

[2018-04-01 10:49] TrySound commented on #12513
Wrap the code with
[code]

[2018-04-01 10:55] TrySound commented on #12514
@malinga91
[code]

[2018-04-01 11:16] #12514 closed

[2018-04-01 12:33] vorillaz commented on #1137
We have found a lovely workaround using a HOC.

[code]

[2018-04-01 12:35] TrySound commented on #12513
Just reconsider how you structure your code.

[code]

[2018-04-01 12:39] gaearon commented on #12513
It is unnecessary to split setting state in two operations like you did. Use the functional form of `setState`:

[code]

[2018-04-01 12:39] #12513 closed

[2018-04-01 16:31] budarin commented on #12495
@gaearon

I have a problem with new lifecycle
I have a HOC to add/remove styleSheets from components module:
[code]

when I move code from componentWillMount to constructor a bug: styles doesn't manages correctly as before

[2018-04-01 17:43] gaearon commented on #12495
Don’t keep a timer like this. That’s not the intended migration strategy. If it’s nowhere in our blog post it’s probably not the recommended way. 🙂

You should move code with side effects (like your example) into `componentDidMount`.

[2018-04-01 17:45] bvaughn commented on #12495
What do `styles.use()` and `styles.unuse()` do? Can you call `styles.use` from `componentDidMount` / `componentDidUpdate` instead?

What happens if you call `styles.use()` more times than `styles.unuse()`? Because as long as you're doing this from the a lifecycle like the constructor or `componentWillMount`- this is possible.

[2018-04-01 17:56] budarin commented on #12495
@bvaughn

styles.use() - add styles onto head <style> tag, unuse() - remove particular style tag from head

of course I can move code to componentDidMount, but there appears a blinking effect.

I suspect that the problem in an unequal numbers use() and unuse() in case of code in constructor

[2018-04-01 18:06] bvaughn commented on #12495
Hm...this sounds unexpected, if we're talking only about client-side rendered React. Adding the style in `componentWillMount` should really be no different than adding it in `componentDidMount` (assuming sync rendering- since both are called in the same tick).

If you're talking about server rendering too, then it would make sense- since `componentDidMount` isn't invoked on the server. (So I guess

[2018-04-01 18:10] gaearon commented on #12495
Please share a reproducing example.

[2018-04-01 18:10] #12502 closed

[2018-04-01 18:20] budarin commented on #12495
@gaearon
I'm sorry - moving code from componentWillMount to componentDidMount does not cause blinking effect - it's my debugging logging code brings delay

problem still with server rendering

[2018-04-01 18:24] bvaughn commented on #12495
@budarin Can you clarify why using `UNSAFE_componentWillMount` for server rendering (as mentioned above) does not work for you?

[2018-04-01 18:26] budarin commented on #12495
@bvaughn
as I understood UNSAFE_componentWillMount is a temporary solution and dirty hack - it will be removed in the future )

[2018-04-01 18:30] gaearon commented on #12495
What exactly do you need to do on the server? You can’t attach a stylesheet there because there is no DOM. Can you provide a complete example we can discuss?

[2018-04-01 18:42] budarin commented on #12495
On the server side use() call dispatch behind the scene and put styles into the store where we can collect them and form critical css.
Moving code to a constructor does not cause problems on server side.
The only problem on client's side - possibly inconsistent count of call use() and unuse() with moving code to constructor

[2018-04-01 18:46] s7dhansh commented on #1118
How about using `defaultValue` with a random `key` prop, eg:
`<input defaultValue={props.value} key={Math.random()}/>`

What are the pitfalls? Will the performance drain be noticeable for a large form?

[2018-04-01 19:13] gaearon commented on #12495
So `use` does different things on client and server side? That helps, thanks.

I think for now the best solution would be to call it in `componentDidMount()` unconditionally, and call it in the constructor but behind a server-only check.

Longer term we may provide a separate server-only hook that you can replace constructor with: https://github.com/reactjs/rfcs/pull/8

[2018-04-01 19:20] budarin commented on #12495
@gaearon

thanks, that solved my problem.

[2018-04-01 20:04] budarin commented on #12495
@gaearon

May I ask you in this thread to not create another one for a new lifecycle?

Where to move code from componentWillReceiveProps when I need to access to the instance and call a method for computing next state on basis of a some instance props?

For an example:
[code]
move code to a new method ```getDerivedStateFromProps``` is an impossible due to the presence of mandatory of context which

[2018-04-01 20:18] awnigharbia opened #12515 "Provide a better error for circular Context Consumer"
**Do you want to request a *feature* or report a *bug*?**
Requesting a Feature

**What is the current behavior?**
When I named the Consumer Child  Component as the same name of the Parent Component it will go through an infinite loop. but when I change the name of the child component it will render it without problems.

**If the current behavior is a bug, please provide the steps to reproduce and

[2018-04-01 21:02] gaearon commented on #12495
You can fix the infinite loop by comparing `this.props` to `prevProps` (first argument) and only calling `setState` when particular props you’re interested in have changed.

Alternatively you can move the context reading code into a component above this one, and pass context as a prop to it. Then you would be able to access it in the static lifecycle.

[2018-04-01 22:18] budarin commented on #12495
@gaearon
Unfortunately, any prop is interested - so this check will not take needed effect.
the only suited way - to move context. Thanks for the idea!

[2018-04-01 22:19] dalimian commented on #11838
@nitish24p doesn't this mean you are delaying when page is interactive?

ideally the above fold critical content should become interactive sooner, then lazy loaded (typically below fold less important) stuff download, then rehydrate.

[2018-04-01 22:59] budarin commented on #12495
@gaearon
one more thing with transition to a new lifecycle - moving from ```componentWillReceiveProps``` to ```componentDidUpdate``` doubled render cycle - after changing any props and rendering we force component to render again in ```componentDidUpdate``` if needed props are changed or should call an instance method and render.

It should be mentioned in transition guide.

[2018-04-02 03:23] eldeni opened #12516 "Warning `Unsafe legacy lifecycles will not be called for components ...` keeps appearing"
**Do you want to request a *feature* or report a *bug*?**
Might be a bug?

**What is the current behavior?**
Replaced componentWillReceiveProps() with a newly added getDerivedStateFromProps() but the warning keeps appearing in the console.

I doubted the higher order component at first sight, so removed all the coupling with this component's higher order wrapper. I also removed `children` in rende

[2018-04-02 03:52] KO527 opened #12517 "Why does a Userlist Component show up in the browser with an ul children element when there is no such thing in the components folder"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

   import SC from 'soundcloud';
    import React from 'react';
    import ReactDOM from "react-dom";
    import {Provider} from 'react-redux';
    import {createStore, applyMiddleware} from 'redux';
    import {syncHistoryWithStore} from 'react-router-redux'
    import {combineForms, createForms} from

[2018-04-02 04:07] aweary commented on #12517
Hey there! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-04-02 04:07] #12517 closed

[2018-04-02 04:11] aweary commented on #12516
@eldeni can you please share an example reproducing your issue? [I'm not able to reproduce the problem with your example](https://codesandbox.io/s/pp279ow83q). I suspect there's another HOC/component in your app that's causing the problem.

[2018-04-02 04:53] banga commented on #12206
(Finally caught up to this after a long vacation) This sounds really interesting. I was a little surprised that GCC wasn't inlining at least some of these functions. I tried a minimal example [here](https://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520Elem%2520%257B%250A%2520%2520%2520%2520constructor()%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520this.children%2520%253D%2520

[2018-04-02 06:10] nitish24p commented on #11838
@dalimian possible.. i haven't put perf markers on my app so wont be able to comment. Will try it out though.. :)

[2018-04-02 07:37] VincentBel opened #12518 "Event listener attached to `document` will still be called after calling `event.stopPropagation()`"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

Event listener attached to `document` will still be called after calling `event.stopPropagation()` on target.

Example: ([codesandbox link](https://codesandbox.io/s/v1m3o069j7))

[code]

console will log:

[code]

**What is the expected behavior?**

`handleClickOnDocument` won't be called and no l

[2018-04-02 07:52] gaearon commented on #12495
Again, it’s hard to discuss without specific examples. The primary transition path *when you need to change state in response to new props* is to use `getDerivedStateFromProps`. It won’t cause double rendering. If, for some reason, you need to access instance variables, there is most likely a way to restructure your code so you don’t need to. But I can’t say for sure without seeing it. Finally, *s

[2018-04-02 07:57] gaearon commented on #12516
Do you use some library that monkeypatches `React.Component.prototype`? Maybe for logging or something. What do you see when you `console.log(this.componentWillReceiveProps)`?

We’d need to see a reproducing example. We can’t turn off the warning: it’s intentionally there to tell you something is wrong. You need to figure out what is wrong because otherwise the code will behave in a weird way.

[2018-04-02 10:33] budarin commented on #12495
Thanks for the explanation

[2018-04-02 15:04] diegoborda commented on #11768
It seems that this can be closed per https://github.com/facebook/react/pull/11870#issuecomment-377915743

[2018-04-02 15:05] #11768 closed

[2018-04-02 15:07] kentcdodds commented on #2043
Just FYI, this effort may get new life due to: https://github.com/kentcdodds/react-testing-library/issues/35

If I can't push this along myself, I'll try to encourage others to do so. Thanks!

[2018-04-02 15:14] gaearon commented on #12420
My understanding is that we maintain a reference to detached tree for one more update after it's been removed. On the next update the old node should get cleared. Does that help?

https://github.com/facebook/react/blob/6b99c6f9d376bacbb769264d743c405b495b03ad/packages/react-reconciler/src/ReactFiberCommitWork.js#L494-L498

[2018-04-02 15:22] gaearon commented on #12518
`e` is a React synthetic event. You're stopping its propagation through the React hierarchy, but for performance reasons it's technically implemented as an event listener on the document. So calling `e.stopPropagation()` doesn't affect the browser event and doesn't prevent it from reaching the document.

If you need to forbid it from reaching the document, you could put a [ref](https://reactjs.org

[2018-04-02 15:22] #12518 closed

[2018-04-02 15:28] bvaughn commented on #12495
To clarify, this is incorrect. As the release blog post states explicitly, `UNSAFE_componentWillMount` will continue to be supported in version 17.

[2018-04-02 15:52] 29er opened #12519 "React 16.3.0. Property 'createRef' does not exist on type 'typeof React'."
According to new docs on creating Refs in https://reactjs.org/docs/refs-and-the-dom.html.

[code]
I upgraded to 16.3.0 but get errors on *React.createRef()*

*Property 'createRef' does not exist on type 'typeof React'.*

[2018-04-02 15:59] gaearon commented on #12519
This is a TypeScript error, not a React error. We don't maintain React TS definitions. You'll need to reach out to the maintainers of TS definitions for React and wait for them to release updated typings for React 16.3.

[2018-04-02 15:59] #12519 closed

[2018-04-02 16:01] VincentBel commented on #12518
Thanks for your reply.

I know that `e` inside `<div onClick>` is an React synthetic event. But it is still somehow  weird that React can't stop propagate event to `document`. As far as I can see, attaching event to `document` is still commonly used, like [react-click-outside](https://github.com/tj/react-click-outside/blob/7568a29705e0f06136c89cb30cc9dbfc0455b8fb/index.js#L26).

By the way, will t

[2018-04-02 16:03] markelog opened #12520 "Whitelist <noindex> from unknown tag warning"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Warning

**What is the expected behavior?**
To not show the warning

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

react - 16.3.0

--

\<noindex\> is non-standard tag and probably never will be, but it's being used in -

[2018-04-02 16:08] gaearon commented on #12520
Please see my reply in https://github.com/facebook/react/pull/11533#issuecomment-343738838.

[2018-04-02 16:08] #12520 closed

[2018-04-02 16:09] markelog commented on #12520
Cool, missed that issue, thanks for fast reply!

[2018-04-02 16:10] aweary commented on #12518
@VincentBel this is because React's own listener is registered on the document as well, not on the element where the event originated from. [Here's an example that explains what's happening](https://jsfiddle.net/a4eheer0/).

[2018-04-02 17:03] aweary commented on #12420
Thanks @gaearon. @dcodus can you verify if this is what you're seeing? A few detached nodes is expected, but they should be GC'd. Can you verify whether there's actually a memory leak by profiling memory over time in the Performance tab?

[2018-04-02 17:22] gaearon commented on #12420
That's not quite accurate. What I'm saying is that the nodes that were detached *during previous update* **won't** be GC'd until the next update.

So as user interacts with the app, eventually all detached nodes get GC'd but it happens on *next* update rather than on the update that caused them to unmount.

[2018-04-02 17:27] aweary commented on #12420
Right, that's what I'm saying. I should have been clearer: they should be GC'd _eventually_, assuming an update is processed. Meaning that there shouldn't be a memory leak, since there should be some constant number of detached nodes that get GC'd as the application updates.

[2018-04-02 18:27] tyscorp commented on #12516
@eldeni are you using react-hot-loader? https://github.com/gaearon/react-hot-loader/issues/918

[2018-04-02 20:27] hyperknot commented on #11538
I've just run into this issue as well, which was really hard to figure out. The only clue was that all the strings in Sentry reports were non-english.

How is this not causing problems across all major websites using React 16? Any extension modifying the DOM (which there are a **lot**, translators, password managers, etc.) can totally break a React website.

The only workaround I found right now i

[2018-04-03 02:49] morlay opened #12522 "React@16.3 constructor trigger twice in strict mode"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
constructor trigger twice in strict mode

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to your JSFi

[2018-04-03 02:57] koba04 commented on #12522
@morlay  It is an expected behavior.

https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects

[2018-04-03 03:02] morlay commented on #12522
@koba04 Got it.
Thanks.

[2018-04-03 03:02] #12522 closed

[2018-04-03 07:47] Kovensky opened #12523 "Should getDerivedStateFromProps suppress 'state not initialized' warning?"
**Do you want to request a *feature* or report a *bug*?**

Either a bug or a feature, depending on how the team sees it 🤷‍♀️

**What is the current behavior?**

The presence of `static getDerivedStateFromProps` does not suppress the warning about `state` not being initialized, even if it is always called, even on first render.

[code]

**What is the expected behavior?**
`getDerivedStateFromProps`

[2018-04-03 09:18] TrySound commented on #12523
@Kovensky Yep, that's the case. The idea is to have the second argument always available what is not possible with passing previous props. So you should always initialize state and it will be passed to gDSFP so you could add only necessary check without checking existence. Also gDSFP can return `null` so the state can be uninitialized in this case.

[2018-04-03 09:35] Kovensky commented on #12523
It's unfortunate if you are using types; especially if the initialization logic is the same as the `getDerivedStateFromProps`. You end up having to execute it twice on the initial mount, the first time for the initial value of props.

It's logically fine because it's supposed to be a pure method, at least.

[2018-04-03 09:44] TrySound commented on #12523
@Kovensky Not quite. Initial state can usually contain empty values which will be "filled" with gDSFP
[code]

[2018-04-03 10:35] wnr opened #12524 "unmount/mount console warning. Changed behaviour from React 15.6"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When migrating our very large codebase from React 15.6 to 16, the following messages started showing in the console:

[code]

We do not fully understand why, but have tracked this to unmounting/mounting components during an event (such as click). See https://jsfiddle.net/rv9jtfy4/ in order to reproduce

[2018-04-03 12:03] jquense commented on #12524
Can I ask why you're doing this like this at all vs rendering conditionally returning the elements you want mounted or unmounted. In render(). The looks like a misuse of the top level render that react is now correctly warning about

[2018-04-03 12:35] wnr commented on #12524
Sure. We build view modules that have a rendering framework agnostic API (we have our own `render` and `remove` functions that in turn call React). This enables us to build applications and modules by using many different frameworks (we have Backbone legacy modules/apps for example).

Some applications want to reload all views for certain events, which results in views getting unmounted/mounted in

[2018-04-03 13:02] jquense commented on #12524
thanks for explaining. I'm asking because the jsfiddle example demonstrates a pattern i don't think was really supported. It's hard to see how the example necessitates this approach, since you could rewrite it without using render and with very little code changes. I'm guessing tho it looks like that because you aren't demonstrating the "rendering agnostic" bits? Is there some way of having your c

[2018-04-03 13:19] wnr commented on #12524
That's correct. I wanted to provide a minimal example for you. If you like I could provide a more fleshed out example?

Not that I can think of. I understand, but we happily sacrifice performance to reduce complexity. Our apps are so big and modular that our largest threat is system complexity and framework entanglement.

Okay thank you. We will try out the new API. However, I'm afraid we will run

[2018-04-03 13:34] jquense commented on #12524
It's not just performance here, you're getting almost zero benefit from using React this way. In fact you're actively thwarting React's declarative component model, and using it very against the grain. It seems like you've built n imperative component system on top of React, which really isn't the intent of the api's it provides. That works ok at the boundaries of React and some other framework, b

[2018-04-03 15:00] aashish-chaubey commented on #4806
Hey, this can as well be done like this

Human.js

[code]

Person.js

[code]

Please let me know if I have misunderstood the concept!

Thanks :)

[2018-04-03 15:04] gaearon commented on #12523
Yep, that's what I'd recommend. 👍

[2018-04-03 15:04] #12523 closed

[2018-04-03 15:08] gaearon commented on #4806
Our recommendation is to **not** use inheritance for React components.
https://reactjs.org/docs/composition-vs-inheritance.html

There are many pitfalls, and if you disagree with this recommendation, you’re mostly on your own.

[2018-04-03 16:04] josh-degraw opened #12525 "Provide a way to detect infinite component rendering recursion in development"
**Do you want to request a *feature* or report a *bug*?**
- Feature (possibly bug?)

**What is the current behavior?**

I've been trying out the new Context API in my project and it's awesome. However, in my haste to start using it, I managed to stumble into a situation where every time I would try and render a certain component which was making use of a few different contexts, the app would compl

[2018-04-03 16:16] gaearon commented on #12525
Is there something specific to context here? I guess you'd have a similar problem if you rendered a component that recursively renders itself?

[2018-04-03 16:38] pedroteixeira commented on #12498
I tried to make a reproducible case here, but it worked :)
https://runkit.com/pedroteixeira/testing-react

I'll close this issue for now, and when I managed to create a reproducible snippet fort the case I have, I'll share it again.

But it would be good to hear more about if Contexts can be safely used without any hidden state impliciations.

thanks for the great library!

[2018-04-03 16:38] #12498 closed

[2018-04-03 16:45] awnigharbia commented on #12525
@gaearon  Is the same issue I post it before two days? here?

[2018-04-03 16:51] skarunakar commented on #1152
@dahlke  How did you solve this. I have raised a similar question in stackover flow
https://stackoverflow.com/questions/49632220/unable-to-dispatch-onchange-which-is-a-handler-of-input-in-a-react-component

[2018-04-03 16:58] josh-degraw commented on #12525
Yeah that's basically what was going on, it was just a recursive call with no end condition, and I just didn't realize as I was writing it.

It's probably more that I was using HOC functions to do this, and those functions were recursively calling each other without me realizing.

I had set up a few different functions like this to combine common contexts:

[code]
with matching HOC functions for t

[2018-04-03 18:08] gaearon commented on #12511
I'll close for lack of information.

[2018-04-03 18:08] #12511 closed

[2018-04-03 18:28] nickmccurdy opened #12527 "Improve ReactDOM's uppercase HTML warning"
**Do you want to request a *feature* or report a *bug*?**
Improvement request/discussion.

**What is the current behavior?**
`fooBar is using uppercase HTML. Always use lowercase HTML tags in React.`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't hav

[2018-04-03 18:30] gaearon commented on #12527
Sure, send a PR?

[2018-04-03 21:54] nickmccurdy commented on #12525
This does seem to be a duplicate of #12515, though it's been a helpful discussion so far.

[2018-04-03 22:33] pke commented on #12523
However in my code, `state` is `null` on the first call of gDSFP. How can that be?
State is initialised like in your example, yet its `null`.

[2018-04-03 23:36] gaearon commented on #12449
Fixed in https://github.com/facebook/react/pull/12508

[2018-04-03 23:36] #12449 closed

[2018-04-03 23:37] gaearon commented on #12497
Fixed in https://github.com/facebook/react/pull/12508

[2018-04-03 23:58] nicolevy commented on #12527
I jumped on this one since it was quick, PR here: #12533

[2018-04-04 00:11] Noyabronok commented on #9783
I just came to the same conclusion but wasted an hour of my time.  I was working on a demo to demonstrate how events work in react, and I wanted to use the `eventPhase` property to log the phase.  Mine is not a mission critical scenario, but it would be nice to have this fixed so that people don't spin wheels debugging in the future.

[2018-04-04 00:12] gaearon commented on #12524
A React-friendly way to do it is to pass a different key when you want to force remounting.

[code]

[2018-04-04 00:12] #12524 closed

[2018-04-04 00:40] josh-degraw commented on #12525
Honestly I think it really is effictively just a more oundabout format of your second example. It's easy to see when it's like that, but it gets more difficult to diagnose when you have used 3 or 4 HOCs on top of otherwise unrelated components that then happen to call each other.

I guess what I'm requesting here is really just some sort of measure to detect this and throw an error, and break out

[2018-04-04 00:50] gaearon commented on #12502
Fixed in 16.3.1.

[2018-04-04 00:52] gaearon commented on #12500
Fixed in 16.3.1

[2018-04-04 00:58] nhunzaker commented on #10468
@wuweiweiwu Hey! Sorry, just catching up on issues! That would be wonderful!

[2018-04-04 02:46] nicolevy commented on #12491
Is this PR all that’s really needed for this? #12534

[2018-04-04 03:28] nickmccurdy commented on #12525
I think the issue is technically unrelated to context, though it seems to be easier to run into with the new context API. Is there any built in safeguard to prevent too much recursion or would a check for this be easy to add at least for debugging purposes?

[2018-04-04 06:10] MoOx commented on #11916
0.10.2 as just been published https://www.npmjs.com/package/art

[2018-04-04 06:13] MoOx commented on #11916
I guess semver will do its work and we can probably close this issue as `"art": "^0.10.1"`(used in the package.json) should pick the latest.

[2018-04-04 06:48] wereHamster commented on #10098
Should the documentation be updated to use style 2? For example https://reactjs.org/tutorial/tutorial.html still uses `import React from …`. It will take a while until all tools and libraries are updated to use the more correct form, and it would make sense to teach users as soon as possible.

[2018-04-04 10:18] #11916 closed

[2018-04-04 12:06] pke commented on #12523
Can't provide a case (closed source) just my observations in that code:

![image](https://user-images.githubusercontent.com/164625/38306466-e655f0dc-3810-11e8-9f2d-c80beba8fc2a.png)

First I have to slightly correct myself, the initial state handed into gDSFP is not `null` but an empty object.
The gDSFP function is called, before the ctor.
The state should be initialised as you can see in the scre

[2018-04-04 12:19] 1234abhishekjoshi opened #12535 "build of reactjs not working"
react js project working when i run with npm start command, but when i create build and upload to server its not working , i have also set the path of homepage in package.json file.
[build.zip](https://github.com/facebook/react/files/1875629/build.zip)
this is a build folder.
and
[src.zip](https://github.com/facebook/react/files/1875636/src.zip)
this is a src folder of my project
i am unable to fi

[2018-04-04 12:41] gaearon commented on #12535
Hi! We use the issue tracker for bug reports and feature requests.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-04-04 12:41] #12535 closed

[2018-04-04 12:43] gaearon commented on #12523
It would really help if you could reduce this to a minimal example and file a new issue. Thanks!

[2018-04-04 14:13] EnoahNetzach opened #12536 "Support hydration after HTML minification"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
`React.hydrate` replaces the DOM after a SSR page is served, and two sibling links in the page have the `href` attributes wrongly set.

I did a little repl to replicate this behaviour [here](https://repl.it/@EnoahNetzach/SSR-whitespace-mismatch).

When the server responds, the HTML is correct:

[2018-04-04 14:29] necolas commented on #11916
Great! Thank you

[2018-04-04 14:34] gaearon commented on #12536
Can you turn this into a failing test case for one of `ReactDOMServerIntegration*` suites?

[2018-04-04 14:41] pke commented on #12523
Set up a repo to reproduce this but couldn't. Need to figure it out in my main project.

[2018-04-04 15:00] pke commented on #12523
Found the problem. React told it all the time in the console:

![image](https://user-images.githubusercontent.com/164625/38315663-383193c6-3829-11e8-9502-0509ea519b5f.png)

React-Router and styled-components `ThemeProvider` and `withTheme` don't use the new API yet and this screws everything up. I guess I have to wait for those to catch up. And it might be a good time to get rid of react-router an

[2018-04-04 15:14] gaearon commented on #12523
Hmm. I think the issue is not that they screw it up for you, but rather that they might be *copying `getDerivedStateFromProps()` onto their wrapper components because it's static*, and that causes the weird behavior. We had a similar issue in React Redux: https://github.com/reactjs/react-redux/issues/879. The fix is for these packages to update their `hoist-non-react-statics` dependency (or equiva

[2018-04-04 15:46] OleksandrBudik commented on #12516
I have the same problem.
![screen shot 2018-04-04 at 6 39 48 pm](https://user-images.githubusercontent.com/10237283/38318300-ade51cb0-3837-11e8-8b4b-212697d5b7e4.png)
I have disabled react-hot-loader but it didn't help. Our project uses Redux-Saga

[code]

[2018-04-04 15:47] NicolasPoirierB commented on #10389
@aweary Same question here, we need the muted attribute to be passed to the video tag to allow autoplaying on mobile devices. Has there been any progress in this direction?

Thank you!

[2018-04-04 15:53] gaearon commented on #12516
@OleksandrBudik Make sure you use the latest `react-redux` (there are updates available both for 4.x and 5.c branches). Most likely you’re using an older version that copies all static methods (including the new lifecycle) to the wrapping component, causing this warning. The newer version skips this lifecycle.

[2018-04-04 15:58] Deraen commented on #12368
This was fixed by Closure-compiler release v20180319: https://github.com/google/closure-compiler/commit/c13cf48b98477e44409dba6359246bffa95b1c7b

[2018-04-04 15:58] #12368 closed

[2018-04-04 16:09] jquense commented on #10389
folks progress on an Issue is generally visible and takes the form of a PR. If you don't see a linked PR or  updates on an issue assume there is no more progress.

It's unclear what the path forward is for this to me. We don't really have way of saying "sync the attribute once and then use the property" and I don't know that adding said logic is even a good idea...

[2018-04-04 17:01] wKovacs64 opened #12540 "react-dom development bundle uses Array.from"
**Do you want to request a *feature* or report a *bug*?**

Bug (?)

**What is the current behavior?**

Currently, the 16.3.x versions of `react-dom` ship [`react-dom.development.js`](https://unpkg.com/react-dom@16.3.1/cjs/react-dom.development.js) containing usage of `Array.from` which is not available in certain React-supported browsers like IE11. It causes breakage if those particular code paths

[2018-04-04 17:02] syranide commented on #10389
@jquense I think I understand your point, but inputs have both `value` and `defaultValue`. This is exactly the same thing, there should probably be a `defaultMuted` and `muted`. It's a "live" value and needs to be special-cased in the same way, that or otherwise just have `muted` prop which sets the attribute but that means users need to manually access the `muted` property if they want to control

[2018-04-04 17:06] wuweiweiwu commented on #10468
Awesome! I'll get started asap! I'll definitely reach out if I have any questions

[2018-04-04 17:17] aweary commented on #10389
I'm hesitant to change `muted` to act like `value`; we want to get away from that special-cased behavior, since it's caused a number of problems. Of course, `muted` would likely be much less problematic since it's just a boolean value.

`defaultMuted` is the spec'd solution for this. It sets the initial muted value by reflecting the `muted` attribute, which can then be controlled using the `muted`

[2018-04-04 17:25] aweary commented on #12516
Since this doesn't appear to be an issue with React, I'll go ahead and close this out 🙂

[2018-04-04 17:25] #12516 closed

[2018-04-04 17:30] jquense commented on #10389
yeah the controlling behavior ends up causing so many headaches i wouldn't want to do it again, though i agree that it's the right behavior generally.

I like that idea, tho It's always a slippery slope, what would the SSR behavior if someone specifies `defaultMuted` but no `muted`, ? I suppose we already handle this with value and checked...

[2018-04-04 17:41] aweary commented on #10389
Yeah, I imagine it would behavior [just like `defaultValue` does for SSR](https://codesandbox.io/s/ym0oqo11qj), by rendering the `value` attribute with the provided value.

[2018-04-04 17:47] jquense commented on #10389
ya my concern is just that most of the value/defaultValue is special cased through the codebase sort of assuming the pattern will be used just for inputs. I should probably go see how it works tho before worrying about that...

[2018-04-04 18:06] aweary commented on #10389
My assumption is that the one use case for `defaultMuted` is to handle the use case where the `muted` attribute should be present when the video is first rendered. Since it has no dynamic behavior, per the spec, I think just defining it as a boolean attribute that must set the property (easy to do with `PropertyInfoRecord`) would be good enough? I hope at least 😅

[2018-04-04 18:33] benwiley4000 commented on #12360
Sorry for not following up quickly - I've been on vacation. I'll try to get to this soon.

[2018-04-04 20:05] zhujinxuan commented on #12540
Perhaps I am saying something stupid, why not use `babel-preset-env` and let users to polyfill with `babel-runtime` or `babel-polyfill`?
Because `Array.from` is not an instance method, then users can easily polyfill at their side with `babel-runtime`

[2018-04-04 20:08] gaearon commented on #12540
We definitely should not have been using `Array.from` there. 😞

[2018-04-04 20:27] bvaughn commented on #12540
Sorry 'bout that folks~

[2018-04-04 20:31] gaearon commented on #12540
![thanks](https://media2.giphy.com/media/xULW8v7LtZrgcaGvC0/giphy.gif)

[2018-04-04 20:33] sophiebits commented on #12540
Why shouldn't we have been using Array.from?

[2018-04-04 20:34] bvaughn commented on #12540
No IE support.

[2018-04-04 20:35] gaearon commented on #12540
We used to run in IE11 with Map/Set/rAF polyfills so IMO adding dependencies on other builtins is a breaking change.

[2018-04-04 20:37] sophiebits commented on #12540
OK. Maybe in the future. We shouldn't get in the habit of inlining implementations of ES6 builtins if we can avoid it because it bloats bundle size and is also less maintainable.

[2018-04-04 20:38] gaearon commented on #12540
Agree! This one is DEV-only. Maybe we can require full ES6 env with 17.

[2018-04-04 20:43] blling commented on #12540
Sounds good! :+1:

[2018-04-04 20:47] DanZeuss commented on #12540
@gaearon you mean, new implementations from 17 should be accepting ES6?

[2018-04-04 20:49] gaearon commented on #12540
I'm saying that in React 17 we can bump the runtime requirement to assume ES6 environment.

[2018-04-04 20:53] DanZeuss commented on #12540
Uhm... gotcha. I was just concerned about many applications (from DoD) using React that still runs under IE11 that isn't compatible with many ES6 functions.

[2018-04-04 20:54] #12540 closed

[2018-04-04 20:55] gaearon commented on #12540
If we bump minimal requirement to ES6 this will only require polyfilling some functions. It doesn't necessarily mean dropping IE support.

[2018-04-04 20:57] blling commented on #12509
Should close this, 16.3.1 has released:)

[2018-04-04 20:58] #12509 closed

[2018-04-04 21:06] wKovacs64 commented on #12540
Thanks all.

[2018-04-04 21:09] dagrooms52 opened #12547 "Broken Link on React JSX Tag Descriptions"
**What is the current behavior?**
The link address `https://react-cn.github.io/react/docs/special-non-dom-attributes.html` linked from this page `https://react-cn.github.io/react/docs/tags-and-attributes.html` regarding the React-specific tag `dangerouslySetInnerHTML` leads to a 404 page.

The link is in the following paragraph:

[2018-04-04 21:12] gaearon commented on #12547
We don't manage `react-cn.github.io`. It's a fork somebody else maintains.

React docs are at https://reactjs.org/, as mentioned on the React GitHub page.

[2018-04-04 21:12] #12547 closed

[2018-04-04 21:15] aweary commented on #12547
Do we know who maintains that fork? It's pretty out of date, and may show up in search results. @dagrooms52 how did you find that page?

[2018-04-04 22:09] dagrooms52 commented on #12547
It was the first result for a google search similar to [this one](https://www.google.com/search?q=tags+and+attributes+react&oq=tags+and+attributes+react&aqs=chrome.0.69i59j69i60j0.3711j1j7&sourceid=chrome&ie=UTF-8). I was trying to find more information about the accepted component tags usable in JSX, which for some reason I am having trouble learning about on the official [react website](https://

[2018-04-04 22:13] dagrooms52 commented on #12547
Actually, here's the [original google search](https://www.google.com/search?q=legal+tags+in+jsx) I did to find the page from my search history.

[2018-04-04 22:16] aweary commented on #12547
That's what I feared, the first two results are outdated Chinese translations.

@gaearon is there anything we can do about this?

@dagrooms52 the most relevant page on the official React docs would be [DOM Elements](https://reactjs.org/docs/dom-elements.html). To answer your question, you can use any valid HTML element, SVG element, or a [custom element](https://developer.mozilla.org/en-US/docs/We

[2018-04-04 23:26] acdlite opened #12548 "Upgrade to Babel 7"
Babel 7 is still in beta, but presumably it will be released soon. We should get a head start on upgrading. Perhaps it's stable enough for us to upgrade even before the final release.

One benefit is we could use JSX fragment syntax in tests. Yay!

@reznord has volunteered to pick this up.

[2018-04-05 06:45] ivan-kleshnin commented on #12014
There is nothing hacky in injecting HTML you generated from markdown for example. `dangerouslySetInnerHTML` was always a wonky name. False "danger" alarms hurt security as well.

I second @gaearon's proposition of adding `RawHtml` tag – I would even say it's long overdue.

[2018-04-05 07:25] wnr commented on #12524
@gaearon Thank you for the input. Forcing a remount by changing the key solves the issue for us.

[2018-04-05 08:08] OleksandrBudik commented on #12516
@gaearon I've upgraded to react-redux 5.0.7, but it didn't help too. It's obvious there is some 3rd party lib causing the issue, now need to check them all

[2018-04-05 08:30] ilabacheuski opened #12550 "Feature: Portals in virtual dom"
I like the idea of Portals and have a proposal to extend it

The idea, in short, is to have a special element in React to allow connect Portal to that element without real id in DOM element, that we have now. Something like:

[code]

So the idea is that we have Portal(region) anywhere in virtual DOM, that will be rendered asynchronously
when it is needed.

Currently, I am working on a project that

[2018-04-05 08:47] TrySound commented on #12550
This repo is used for proposals
https://github.com/reactjs/rfcs

[2018-04-05 08:51] ilabacheuski commented on #12550
Close in favour of https://github.com/reactjs/rfcs/issues/39

[2018-04-05 08:51] #12550 closed

[2018-04-05 09:18] Kovensky opened #12551 "New Context Provider may block Old context propagation if children are constant"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

It seems that, if the children of a new-style `React.createContext()` context `Provider` are constant, the `Provider` can block updates from old-style `this.context` context providers from propagating to `this.context` consumers.

This sandbox demonstrates the issue. Clicking the button with a number

[2018-04-05 09:28] EnoahNetzach commented on #12536
This issue arises from the minification process (we specifically use [html-minifier](https://www.npmjs.com/package/html-minifier)), where extra white spaces and comments are removed from the HTML source.

Until v15 we were able to not remove react specific comments (e.g. `ignoreCustomComments: [/react/]`), but now it's a weaker option.

[2018-04-05 12:50] nmain commented on #12551
This is a weakness in the old context API.  While you're seeing the problem manifest when combined with the new context API, it's not specific to that.  In general, distant children can have updates using the old context API blocked if more immediate children decline to rerender.  More about the issue in the old context API docs:  https://reactjs.org/docs/legacy-context.html#updating-context

The

[2018-04-05 13:04] Kovensky commented on #12551
This was actually encountered when using react-router; `Route`s were not updating anymore after I updated one of my custom context providers that sit between `Router` and the app core to the new API.

[2018-04-05 14:26] jshado1 commented on #6653
@gaearon I think throwing this warning is not appropriate, since it really amounts to a false alert, and setting the default prop would mask a real problem.

It seems like `cloneElement` is a downstream solution to an upstream problem: The original element/component that gets created is just garbage that will immediately get thrown out, so why waste the resources creating it in the first place? It

[2018-04-05 16:12] werne2j opened #12552 "React 16.3.1 Context API - TypeError: Cannot set property '_currentValue' of undefined"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using the new Context api i am getting an error
`TypeError: Cannot set property '_currentValue' of undefined`

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**
16.3.1

MyContext
`const MyContext = React.createContext({});`

Pro

[2018-04-05 16:24] gaearon commented on #12552
Could you please provide a full reproducing example?

[2018-04-05 16:25] gaearon commented on #12552
Also please make sure both `react` and `react-dom` are 16.3.1.

[2018-04-05 17:32] werne2j commented on #12552
I am using both `react` and` react-dom` 16.3.1 for my Provider and Consumer but i think the problem i am seeing is that i am bundling those together with react 16.3.1 using webpack as a library. And the app that is consuming the library is not using `react` 16.3.1. So i am seeing some problems.

Is what i am describing not possible? I guess that would probably be more of a webpack question then a

[2018-04-05 17:48] gaearon commented on #12552
In general libraries shouldn't include their own copies of React (if that happens it's probably a bug).
Hard to say more without seeing an example.

[2018-04-05 19:06] billyjanitsch opened #12553 "[meta] Bringing Flow types in line with 16.3 APIs"
Hi!

I realize that the React team doesn't work on Flow directly, and that the React typings live there. However, there are currently some large gaps in Flow support for the new 16.2/16.3 APIs, and I thought it might be good to raise/track them here, for the benefit of people searching the React tracker.

I filed issues in the Flow repo for missing typings that didn't have outstanding PRs.

- [x]

[2018-04-05 19:57] Nes-si opened #12554 ""setState()" always triggers "componentWillReceiveProps()""
Hi there.
Since React v16.3.0 every `this.setState()` triggers `componentWillReceiveProps()`. Before v16.3.0 there is no such behavior.
It is a very breaking change for my project, it causes a lot of problems.
Is it a normal behavior or a bug?

Also,  `this.setState()` triggers new method `getDerivedStateFromProps()` too.

[2018-04-05 20:00] gaearon commented on #12554
Can you please create an isolated example demonstrating this?
I can't reproduce: https://jsfiddle.net/1pubppp0/

[2018-04-05 20:01] gaearon commented on #12554
I can't reproduce this:
https://jsfiddle.net/b2x3a82k/

Can you please create a reproducing example?

[2018-04-05 20:52] tadjohnston commented on #12552
I'm getting the same issue.  The code i'm testing works fine in `16.3.0`. Here is a code example:

[code]

[2018-04-05 21:29] gaearon commented on #12552
I'm going to assume that if you have this, you're running a mix of different React versions.

Try deleting `node_modules`, triple-checking you have the right version in `package.json` (all versions should be 16.3.1), and that you don't have a lockfile that somehow overrides it, then `npm install` or `yarn`.

If you still have this please create and publish a reproducing project or a fiddle.

[2018-04-05 21:29] #12552 closed

[2018-04-05 22:33] Nes-si commented on #12554
I haven't exactly find out the problem, but I understand that it is concerned with _react-css-modules_. When I remove its decorator, the problem disappears. Sorry to trouble.

[2018-04-05 22:37] #12554 closed

[2018-04-05 23:38] onpaws commented on #12449
Cheers, this PR just saved us from what would have been a confusing day!

[2018-04-05 23:42] plinehan commented on #3298
For any other n00bs, Fiber is React v16.

[2018-04-06 01:00] Kovensky commented on #12551
I am just guessing, but I assume that this is using a similar bailout logic as `PureComponent` that also bails out if `children` is constant.

Maybe this actually will be the right thing to do once the old context API is gone.

[2018-04-06 01:07] Kovensky commented on #12553
I am curious to see how/if Flow will deal with `getDerivedStateFromProps`. It's not currently possible to safely type it in TypeScript's definition because `static` methods are not allowed to reference instance generic parameters.

[code]

[2018-04-06 01:08] dreamthen opened #12555 "Webpack 4.5.0 package react 16.3.1 development mode popProvider error"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
hi,I used webpack 4.5.0 to package react 16.3.1 and react-dom 16.3.1. There was no problem with compiling, but there was a react-dom.development.js problem with the browser:
[code]
Opened the react-dom.development.js file and there was a problem with this sentence:
[code]
in ReactFiberScheduler Function

[2018-04-06 01:25] gaearon commented on #12555
Please provide a full isolated example reproducing this. My guess is you have a mix of 16.3.0 and 16.3.1 (perhaps because of the DLL config). Try deleting `node_modules` and any caches, and then rebuilding.

[2018-04-06 01:26] gaearon commented on #12551
I suggested a fix in the comment above. This probably won't be a priority for us but if you send a PR we with tests can take it.

[2018-04-06 01:28] gaearon commented on #12553
In Flow, it's defined as

[code]

[2018-04-06 02:56] dreamthen commented on #12555
I've tried the way you said, and it doesn't work.
Here is an example:
https://github.com/dreamthen/service_set_sail/tree/20180406_service
command:
git clone https://github.com/dreamthen/service_set_sail.git -b 20180406_service
npm i
npm run dll
npm start
**Run in the local development environment**
**port 9997**

[2018-04-06 05:34] rcwestlake opened #12558 "Unexpected warning when I use getDerivedStateFromProps"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

In v. 16.3.1, when I use the `getDerivedStateFromProps` method and I have a controlled component where the value of input field is `this.state.{thefieldname}`, I get a warning/error that says I am switching from controlled to uncontrolled or vice versa. If I remove the `getDerivedStateFromProps`, the

[2018-04-06 06:45] Uter1007 commented on #1159
https://chromium.googlesource.com/chromium/src/+/55518e17850cac0bdc6fca7b24092bea479e34db

https://storage.googleapis.com/chromium-find-releases-static/555.html#55518e17850cac0bdc6fca7b24092bea479e34db

it should be already in the newest chrome. I am still facing this issue (Angular 5).

[2018-04-06 10:09] NithishReddy opened #12560 "react onClick event is not firing in Samsung Native Browser"
[code]

Above click is not firing in Samsung native browser ??

[2018-04-06 10:42] dziamid commented on #7094
Any specific reason why the root listener cannot sit on app's root node, rather than the document? That would IMO make react more self-contained and easier embeddable into contexts that already have document listeners, e.g. aggressive jQuery based CMSes)

[2018-04-06 10:45] Andarist opened #12561 "ReactDOM.render calls rerender context Consumers unnecessarily"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Subsequent `ReactDOM.render` calls with **the same** tree are causing Consumers to rerender even if provided value is static & has the same reference (or is static primitive type) - whereas normal rerender (caused i.e. by `setState`) doesn't cause this.

Situation occurs when there is an update block

[2018-04-06 11:35] gaearon commented on #12561
Can you please build from master and check if it’s fixed there? I recently made a related bug fix which might have also fixed this.

[2018-04-06 11:36] gaearon commented on #12561
Hmm never mind. Mine was for a different code path.

[2018-04-06 11:41] catamphetamine opened #12562 "Warning: getDerivedStateFromProps(): A valid state object (or null) must be returned. You have returned undefined."
**Do you want to request a *feature* or report a *bug*?**

Depends on how you look at it. Sure looks like a bug to me.

**What is the current behavior?**

When `getDerivedStateFromProps()` doesn't explicitly return anything a warning is being output to the console:

**What is the expected behavior?**

Treat `undefined` as `null`.

It's really inconvenient to add an extra unneeded `return null` sta

[2018-04-06 13:01] Andarist commented on #12561
This is good to know though, Im facing other issue which I cannot track down yet (ive double checked everything and imho rerendering shouldnt happen, cant locate why it does but cannot yet reproduce outside of our project). Gonna test with your latest fix later to see if it helps - although my other issue happens also with legacy context.

[2018-04-06 13:29] jquense commented on #12562
Hey there, the intent (as far as i understand) is to be explicit about ones intent. `undefined` can mean "forgot to do anything" (e.g. no `return`), whereas returning `null` is an explicit action on the dev to opt out of making any changes. This is also consistent with how the function version of setState works: `this.setState(state => null)`.

[2018-04-06 13:29] #12562 closed

[2018-04-06 14:01] gaearon commented on #12562
Yes, in general we prefer explicit APIs in React, and this was an intentional decision. I don't agree writing four characters more makes the code "less clean".

[2018-04-06 14:06] catamphetamine commented on #12562
@gaearon Not four, more like fifteen.

[code]

[2018-04-06 14:07] diegoborda commented on #12062
Somebody working on this? The PR is quiet. If you want i can take it! @aweary @spirosikmd

[2018-04-06 14:12] nareshbhatia commented on #9962
I am running into this issue with my app created with create-react-app. I am pulling in a library that uses react and also using Storybook from tests. I eliminated react from both those and I am down to one copy as indicated by `npm ls react`:

[code]

Is there a way to figure out where react thinks the second copy is being loaded from?

[2018-04-06 14:18] gaearon commented on #12558
Can you provide a complete example I could run please? On CodeSandbox or JSFiddle. The issue template includes links to those services.

[2018-04-06 14:43] gaearon commented on #12555
This looks like an Uglify bug. If I remove Uglify from the config, it works.

[Original code in the development version of react-dom which you use](https://unpkg.com/react-dom@16.3.1/cjs/react-dom.development.js):

[code]

It's clear you're using this development version because your bundle has this comment (which doesn't exist in [production version](https://unpkg.com/react-dom@16.3.1/cjs/react-d

[2018-04-06 14:43] #12555 closed

[2018-04-06 14:54] gaearon commented on #12561
I don't understand what you consider to be a bug here.

If I change `Indirection` to return `false` from `shouldComponentUpdate` then I don't see a re-render (as expected).

If it returns `true` then update follows a normal flow. You're passing different children every time so it re-renders every time. If you didn't have context provider/consumer in the tree, it would work the same way.

I think i

[2018-04-06 15:05] thysultan commented on #12561
I figured this might be the [case](https://twitter.com/thysultan/status/982201066212081668)

Which raises the question of in what context does a Provider does bail out of propagating updates to consumers if the `value` has not changed.

[2018-04-06 15:08] gaearon commented on #12561
You're not seeing a re-render because Provider “propagates context”. You're seeing a re-render because the tree just renders normally and doesn’t encounter something that would prevent rendering in the middle. So it gets to the leaves.

Provider/Consumer aren’t supposed to make rendering more restrictive than regular divs.

[2018-04-06 15:08] #12561 closed

[2018-04-06 16:47] gaearon commented on #12561
No problem, thanks for taking the time anyway!

[2018-04-06 18:01] spirosikmd commented on #12062
Hi @diegoborda! I am still waiting for an answer from @aweary on #12135. It should be ready to merge.

[2018-04-06 21:47] nareshbhatia commented on #9962
Well, after a full day of trial-and-error, I figured it out. The second copy was coming from Storybook. The moment I removed it, everything started working. Wish React just told me where the second copy was coming from!

[2018-04-06 23:38] aweary commented on #12560
@NithishReddy can you please provide more information about what device you're using, the specific app you're using (is it called "Samsung native browser"?) and the version of the app you're using.

Also, the code you provided isn't valid; I assume you were just trying to include an example of a simple click handler, but it would be helpful if you could share the exact code you're having trouble w

[2018-04-06 23:39] aweary commented on #12515
Since there's already some discussion in #12525, I'm going to close this in favor of #12525.

[2018-04-06 23:39] #12515 closed

[2018-04-07 00:01] aweary commented on #12141
@frehner are you still experiencing this issue with the latest 16.3.1 release?

[2018-04-07 00:04] aweary commented on #12048
This is done! 🎉

[2018-04-07 00:04] #12048 closed

[2018-04-07 00:07] aweary commented on #12038
Closing, since this API exists in `react-is`

[2018-04-07 00:07] #12038 closed

[2018-04-07 00:51] bvaughn commented on #12048
❤️

[2018-04-07 00:57] blling commented on #12048
Blog link? :)

[2018-04-07 03:48] zheeeng opened #12566 "Add isStatelessFunctionComponent to ReactIs package."
**Do you want to request a *feature* or report a *bug*?**

I want to request a feature.

**What is the current behavior?**

No such an API.

**What is the expected behavior?**

I'm writing a HOC which could forward ref to the wrapped component. According to the React specification, 'ref' is not allowed to be given to a stateless function component. Need an API to tells whether a component is SFC.

[2018-04-07 04:09] nareshbhatia commented on #9962
To resolve the issue, I tried to restructure my repo and move storybook to a dev dependency - hoping that it will prevent the second copy from being loaded. Unfortunately it did not solve the issue. I have created a reproducible example here: https://github.com/nareshbhatia/react-multiple-copies-issue. It contains my library in one package and an app in another package (created with create-react-a

[2018-04-07 05:47] apoorvtomar2222 commented on #12560
Yes, Although Information is not sufficient.

But for reference

To bind call ay onClick event you need to bind it to class.

Modifying your example:

class Clicked extends React.Component{
// Using fat arrow function
mark=()=>{
  console.log('clicked');
}
render()
{
return (
    <Button onClick ={this.mark()}>Click</Button>
 )
}
}
Hopefully this might solve your problem.

Still more data needed f

[2018-04-07 09:17] danneu opened #12567 "Silence noisy missing-key warning when it doesn't apply"
I'd like to request a feature that would enable us to silence the missing-key warning (https://fb.me/react-warning-keys) since it doesn't apply to server-side applications.

For example, I have a library for using React for server-side templating (https://github.com/danneu/react-template-render) and I'm using it in this demo app: https://github.com/danneu/koa-skeleton

Ideally I'd be able to set a

[2018-04-07 14:20] #12567 closed, assigned to nobody

[2018-04-07 15:58] bvaughn commented on #12048
https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

[2018-04-07 16:14] danneu commented on #12567
Fair enough, thanks.

[2018-04-07 20:00] NithishReddy commented on #12560
Hi @aweary, In Samsung grand mobile , samsung native browser click event is not fired  and in all other devices it is working fine including samsung grand chrome browser also.

[2018-04-07 21:36] dfrankland commented on #10064
I've opened #12568 to add the ability to, at the very least, server-render non-standard components with non-standard attributes (like AMP).

[2018-04-08 00:00] rainwater11 opened #12570 "ReactJS Logo License"
I have been unable to find out what the license for the React logo is. Does anyone know under which license it is?

[2018-04-08 01:55] apoorvtomar2222 commented on #12570
I believe it is also under the same license that React is and will be because it is related to same.

[2018-04-08 02:37] srb101 opened #12572 "Feature Request: UMD version of react-test-renderer"
react and react-dom have both cjs and umd versions available.

Is it possible to create a umd version of react-test-renderer as well?

[2018-04-08 05:41] maxjf1 commented on #10867
@Kovensky not  necessarily, this is an development choice. I could for instance cache the request if i didn't need to redownload it

[2018-04-08 08:07] MunMunMiao opened #12576 "this's what????"
https://github.com/facebook/react/blob/181747a6cc25f3020b8561f475eca4ad2824256b/packages/react/src/React.js#L62

![http://wx4.sinaimg.cn/large/6cf34e3dly1fq5b9dogycj20jg0xfaxq.jpg](http://wx4.sinaimg.cn/large/6cf34e3dly1fq5b9dogycj20jg0xfaxq.jpg)

[2018-04-08 08:13] TrySound commented on #12576
It's `SECRET_INTERNALS` which shouldn't care you.

[2018-04-08 09:37] cvlmtg opened #12577 "a question about getDerivedStateFromProps and previous props"
I've read the article on [Update on Async Rendering](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#updating-state-based-on-props) and I have a little doubt about `getDerivedStateFromProps`, i.e. why it does't receive prevProps as one of its arguments?

There are situations where it is useful to compare prevProps with nextProps, and what the article suggests (i.e. *You may noti

[2018-04-08 10:06] TrySound commented on #12577
@cvlmtg DRY doesn't mean write less code.

https://github.com/reactjs/rfcs/pull/40

[2018-04-08 10:42] cvlmtg commented on #12577
@TrySound I'm not talking about writing code, I'm talking about duplicating data

[2018-04-08 11:30] jquense commented on #12577
There is a lot of discussion already about this and why the choice was made. If you want weigh in on changing it please read through the rfcs and add in there thanks!

[2018-04-08 11:30] #12577 closed

[2018-04-08 14:38] TrySound commented on #12577
@cvlmtg Also data is not actually duplicated. You pass to state only references to reuse them later. According your logic `prevProps` has the same problem.

[2018-04-08 14:59] gaearon commented on #12576
Internals that have to be exposed but don’t follow semantic versioning because they’re not public API. Don’t use them.

[2018-04-08 14:59] #12576 closed

[2018-04-08 14:59] gaearon commented on #10867
This is exactly what we’re doing with Suspense. Please see second part of my talk: https://reactjs.org/blog/2018/03/01/sneak-peek-beyond-react-16.html.