[2017-12-16 09:46] milesj commented on #11809
Why does this need to be part of React? Just put some shared state in some module and import that in the files that need it?

[code]

Not everything needs to be complicated or part of some library/framework.

[2017-12-16 13:48] mannanali413 commented on #11805
@gaearon please have a look at the PR and let me know if the randomisation introduced would meet the requirement.
Cheers :)

[2017-12-16 17:08] johnnysprinkles commented on #11809
Totally, for things non request specific that works fine. The issue is request specific data, how to share among all components? Things like "is user authenticated," "what are the current route params," etc. No way I'm aware of to do that on the server-side, aside from the current context api.

[2017-12-16 17:14] nazihahmed commented on #11570
another 2 weeks and the issue is still going, can anyone review the proposed solution?
if not I can fix it if there's anything wrong with his.

[2017-12-16 18:28] yiytan92 opened #11869 "Unexpected token 'function' in jest test if my component has async function expressions"
BUG

**What is the current behavior?**
If my React component has async function calls like:
 var getParameter = async function getParameter() { ...
}

I receive an error:

SyntaxError: Unexpected token function

      at ScriptTransformer._transformAndBuildScript (node_modules/jest-runtime/build/script_transformer.js:305:17)

And the error resolves only if i remove async.

my .babelrc file looks l

[2017-12-17 00:03] mmiller42 commented on #7552
Another use case is to create non-enumerable props.

Take, for instance, a component that is wrapped in a container that injects additional props in (`dispatch` from react-redux is a good example).

A common React convention is to use the spread operator to select specific props and pass the rest down, like so:

[code]

This would inadvertently pass `dispatch` down to `ChildComponent`, something t

[2017-12-17 03:30] M-ZubairAhmed commented on #11768
@gaearon  I have reproduced that and tried to solve it to, can you check the pr to see if the implementation is what you are expecting

[2017-12-17 07:08] jake-daniels commented on #11836
I found it. I wanted to be able use Immutable in console, so I exported Immutable to window, but as I experimented with it, I assigned `window['Map'] = Immutable.Map` and forgot it there. It seems to cause this bug. I know it's entirely my fault but I would have expected some kind of warning message to not override built-in objects though.

[2017-12-17 07:08] #11836 closed

[2017-12-17 12:02] gaearon commented on #11836
Oh I see. Thanks for explaining.

We can’t really warn about this: you might intentionally be using a polyfill.

[2017-12-17 18:03] mueedc commented on #11570
Adding *Props are often declared as objects, later read or transformed, before passing down to DOM* would provide a little more clarity as to why camelCase is preferred, rather than just ensuring JS reserved words are not being used.

[2017-12-17 23:41] singular1ty94 commented on #1881
@bootrino's solution is still the best to date, coupled with React's fragment syntax you can embed styles side-along tags you need edited, and cobble together some kind of solution - particularly useful if you're fighting Semantic-UI which uses `!important` _everywhere_:

[code]

[2017-12-18 05:03] Venryx commented on #4101
My solution is to add a wrapper component around an element, which uses local state when user is editing value, and only triggers the `onChange` function once focus is lossed (or equivalent).

Here's an example, for the npm "rc-slider" component:
[code]

[2017-12-18 09:53] sergeysova opened #11874 "Move to .js.org"
Maybe move docs to https://react.js.org?

[2017-12-18 09:58] seriouslyfluffy commented on #11874
why?

[2017-12-18 10:02] sergeysova commented on #11874
to be consistent with other js lib (redux.js.org)

[2017-12-18 10:08] jbbn commented on #11874
It makes sense.

[2017-12-18 10:32] giorgim opened #11875 "Checkbox not updating"
In below example after three seconds the check box is not being un-checked.
Why?

[code]

[2017-12-18 10:39] seriouslyfluffy commented on #11874
but may to confuse people in the future

[2017-12-18 10:42] sergeysova commented on #11874
@seriouslyfluffy why?

[2017-12-18 10:42] sergeysova commented on #11874
facebook.github.io/react already have redirect to reactjs.org

[2017-12-18 10:52] blling commented on #11874
Really a good idea :)

[2017-12-18 10:56] giorgim commented on #11875
I think I understand why the warning was not generated(second part of my question), because that input component wasn't written directly inside render, rather was generated dynamically... and maybe that is why there was no warning.

[2017-12-18 11:02] seriouslyfluffy commented on #11874
oh, I've forgot about redirect)

[2017-12-18 11:10] giorgim commented on #11875
ok there is a warning for this, apparently that is the cause.

[2017-12-18 11:10] #11875 closed

[2017-12-18 11:22] AlexanderLukin opened #11876 "Problem with `window.matchMedia` API and `window.print`"
I encountered a problem when I try to conditionally render content for "screen" and "print" media types using `matchMedia` API
https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia

In the latest Google Chrome for Windows 10, the content intended for "print" media type is displayed incorrectly in printout preview.

I created a minimal demo that shows the issue
https://codesandbox.io/s

[2017-12-18 11:28] AlexanderLukin commented on #11876
https://github.com/contra/react-responsive/issues/137

[2017-12-18 11:29] Hilzu opened #11877 "Number input gets cleared when typing period as decimal mark"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
My OS and browser are configured to a locale that uses comma as the decimal mark (Finland for those interested). In the codepen below when I accidentally type a period after some number the whole input gets cleared. This is somehow related to the parent component's state being updated because if the `d

[2017-12-18 11:33] AlexanderLukin commented on #11876
contra/react-responsive#137

[2017-12-18 11:37] AlexanderLukin commented on #11876
#11877

[2017-12-18 11:38] AlexanderLukin commented on #11876
This also associated with this issue
https://github.com/contra/react-responsive/issues/137

[2017-12-18 11:55] gaearon commented on #11876
We use the issue tracker for bugs in React itself. What makes you think this is a React problem? It doesn’t use either of these APIs itself.

[2017-12-18 11:56] gaearon commented on #11877
cc @nhunzaker

[2017-12-18 11:57] gaearon commented on #11877
Can you check if older React versions also had this problem?

[2017-12-18 12:03] AlexanderLukin commented on #11876
@gaearon Please, look at my first example
https://codesandbox.io/s/q96rvrx2z9

There are no any side dependencies there, only React itself.
I posted the link to `react-responsive` repo just to document out where this issue appeared the first time.

[2017-12-18 12:08] gaearon commented on #11876
Still, I don’t understand what the example is meant to demonstrate.

If the issue is specific to `matchMedia` API I can assure you React doesn’t do anything special that would break it. So your question would be easier to answer *without* React. Can you create a React-less example that demonstrates the same?

On the other hand if the question is about React itself (eg lifecycle order) then can you

[2017-12-18 12:10] gaearon commented on #11874
Thanks, we’re happy with our top-level domain and I don’t really see us moving to a different one.

[2017-12-18 12:10] #11874 closed

[2017-12-18 12:22] raphamorim commented on #11703
@gaearon I forget to ref this issue to close.

[2017-12-18 12:26] #11703 closed

[2017-12-18 12:39] Hilzu commented on #11877
Ported the example to the React 15 fiddle and the behaviour seems identical in Chrome, Safari and Firefox https://jsfiddle.net/hmbg7e9w/2/

[2017-12-18 13:10] gaearon commented on #11876
I took another look. The problem you're having is that `forceUpdate()` isn't guaranteed to flush synchronously.

When you're inside a React event handler (such as the button click event), React waits for all components to handle the event, and then processes the updates together in a single pass. In most cases this is a good performance optimization because usually it doesn't matter *when exactly*

[2017-12-18 13:10] #11876 closed

[2017-12-18 13:13] nhunzaker commented on #11877
Ah this is super fun...  What is the best way to compare the equality of a number when one is sourced as a string and the other a floating point number?

**For some background:**

Number inputs do not support the text selection API. We try to avoid touching the `value` property of number inputs as much as possible because setting a new value means the cursor jumps to the end while someone is typin

[2017-12-18 13:15] nhunzaker commented on #11877
@aweary @jquense I wonder what the best way to test this is. Can we simulate locales in a unit test, or should there be steps for manually testing this in the fixtures?

[2017-12-18 13:23] AlexanderLukin commented on #11876
Great! Thank you so much, @gaearon!

[2017-12-18 14:54] hannujaakkola opened #11878 "onClick doesn't fire on components that change position"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I have a list of components that change their height based on their internal state (open/close) and close after the user clicks outside that component (so only one is open at a time). It's possible to toggle other component's onClicks that are above the currently open component but not the ones below i

[2017-12-18 15:01] jquense commented on #11878
I'm not sure this is bug, The outside mousedown is moving everything around before the item click happens, the item you mousedown on isn't the up that is mouseup'd on and so the click event doesn't fire. I could definitely be wrong but my hunch is that the same thing would happen if you implemented this behavior natively as well

[2017-12-18 15:15] OverseePublic commented on #11857
happens only on jenkins. I cannot reproduce it locally. Any clues? I am so puzzled.

[2017-12-18 15:59] hannujaakkola commented on #11878
You are correct, it hides on mousedown and click happens only on mouseup. If the event listener is on mouseup everything works correctly. Thanks for helping, I feel stupid now lol.

[2017-12-18 15:59] #11878 closed

[2017-12-18 18:21] codeangler opened #11881 "backspace fails to clear values on input type='email'"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
email input doesn't control for whitespace // possible variation on [Issue 6368](https://github.com/facebook/react/issues/6368); however, 6368 shows up at 15.0.0 this bug shows up at 15.2

**If the current behavior is a bug, demo**

no bug on React 15.0.0
no bug on React 15.1.0
bug on React 15.2
[React

[2017-12-18 19:05] iseeyou911 commented on #10756
Hi, i make codemod for the issue https://github.com/iseeyou911/jscodemodes/tree/master . May be it would help for someone.

[2017-12-18 19:45] binygal commented on #11881
@gaearon Is this a bug that a newbie to React contributing can take? If so, I would like to take it.

[2017-12-18 19:53] jquense commented on #11881
@binygal its probably not a very newbie friendly bug (if it's a bug) :/ you are welcome to take a look but lets identify what's going on first before we try and fix anything

[2017-12-18 19:55] tconroy commented on #1159
Still seeing some unusual behavior here with autofill on iOS. The above react-autofill decorator seems to work well with simple autofill but not the autofill shortcuts provided by the keyboard.

[2017-12-18 20:51] aweary commented on #11881
So the reason it worked in `15.1.0` is that we used to use `DOMPropertyOperations.setValueForProperty` which [didn't update the `value` property unless the value has changed](https://github.com/facebook/react/blob/15.1.0-dev/src/renderers/dom/shared/DOMPropertyOperations.js#L151-L155). Since email inputs always trim the input value `"foo bar "` would be reported as `"foo bar"`, which would be upda

[2017-12-18 21:39] gaearon commented on #11881
We could also stop trying to have `value` attribute match the properties in 17. Would that solve this issue?

[2017-12-18 21:45] aweary commented on #11881
Yeah, I believe we've talked about doing it in the next major a few times. We should probably open an issue to centralize the discussion.

[2017-12-19 02:13] nhunzaker commented on #11869
Hey! This repo is focused on issues purely related to React, but I think it might be because `async` is in a later standard of JavaScript ([E2017](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)). Jest uses Babel to transform JavaScript code into a format NodeJS understands.

Instead of the `es2015` preset, I recommend giving the [`babel-preset-env` pre

[2017-12-19 02:13] #11869 closed

[2017-12-19 02:34] nhunzaker commented on #11062
It is curious to me that adding `onFocus` would fix the issue. Is it a no-operation handler?

Only reason I ask is that focus and blur get attached at the same time:
https://github.com/facebook/react/blob/master/packages/react-dom/src/events/ReactBrowserEventEmitter.js#L128-L135

I think it's important to know what is different when the onFocus handler is applied.

[2017-12-19 03:17] nhunzaker opened #11886 "Do we still need to check for Opera in BeforeInputPlugin?"
This came up in https://github.com/facebook/react/pull/11854. We have a specific browser check for Opera, but Opera has used Blink for a _while_.

Is a version of Opera that uses Presto still in our browser support matrix? Could we remove this check?

We don't have an "official" (as official as it can be) guideline for Opera in https://github.com/facebook/react/issues/9301#issuecomment-334274439.

[2017-12-19 03:29] nhunzaker commented on #8838
Nice! Sorry, I kept meaning to respond here. DOM parsing/serialization is really neat stuff!

Still, I'm not sure how much steam there would be behind adding something like that, but I don't want to kill anyones enthusiasm! If anyone is particularly interested in making a case for it, [React now has a formal RFC repo](https://github.com/reactjs/rfcs). Personally, I'd want to know:

1. What advanta

[2017-12-19 04:47] qtuan commented on #7094
Second the question: Is it possible to attach a synthetic event handler to document.body?
Or is it possible to create a synthetic event from a native event?

I want to make use of its "cross-browser wrapper around the browser’s native event" benefit. My use case is related to keyboard shortcuts handling. I originally use `onKeyDown` on specific containers, but need to move up higher the DOM tree t

[2017-12-19 04:48] aweary commented on #11853
Closed by https://github.com/facebook/react/pull/11854/files

[2017-12-19 04:48] #11853 closed

[2017-12-19 07:19] skiritsis commented on #11886
I could remove the checks for Presto and verify that it works as expected with the latest Opera version(or is there a list of supported versions?). Considering Opera 12(which included the 'TextEvent' in window) was released in 2012 I believe it is safe to remove it.

[2017-12-19 07:22] sophiebits commented on #11886
Fine to remove as long as you can verify it doesn't affect Opera Mini. I don't anticipate bugs in current Opera that don't also exist in current Chrome so let's make a decision on those as a one-off if they ever come up.

[2017-12-19 10:50] sapegin commented on #10441
I’ve noticed that I have this issue when Chrome DevTools are open, `crossOriginLoading` and `devtool` = `cheap-module-source-map` doesn’t change anything.

[2017-12-19 12:42] hampusohlsson commented on #11409
@idhard I'd be happy to assist writing up an RFC

[2017-12-19 14:58] akhilaudable opened #11887 "Uncaught TypeError: Super expression must either be null or a function, not undefined"
Hi, I am getting this error in the browser.
[code]
Here is my
package.json

[code]
App.js
[code]
.babelrc
[code]
I believe it's not because of Relay, but react.js. Getting the same error even if I install the beta version from alpha. And I tried commenting Relay code also.
Any idea what's wrong?

[2017-12-19 15:28] jquense commented on #11887
Hey there, thanks for stopping by! We try and keep the React repo focused on bugs and feature requests. For support requests the place place to get prompt help is one of the support avenues noted here: https://reactjs.org/community/support.html

If you think, this may be a react bug please put together a reproduction according to the issue template, but from a quick glance at your issue it's mostl

[2017-12-19 15:28] #11887 closed

[2017-12-19 16:06] michal-lipski opened #11888 "React.children do not take Functions as Children under consideration"
My component can have multiple children components. They can be of different types: Strings, JSX Components and functions.
[code]

I wanted to render them using React.children.map helper function that unwraps the children opaque data structure. The problem is that children defined as functions seem to be ignored by React.children.map, React.children.count and other helper functions. See the exampl

[2017-12-19 16:46] lar248 commented on #11023
We updated our `react`, `react-dom` and `react-test-renderer` as suggested. We still have the issue for `tspan` and `text` - where can we find the tags that are silenced?

[2017-12-19 16:49] hombergsmith commented on #11888
@sunny

[2017-12-19 16:55] gaearon commented on #11888
I think this is intentional, `React.Children` is intended to work with the children actually renderable by React rather than arbitrary objects (or functions). Can you explain the use case in more detail?

[2017-12-19 18:51] bradenhs commented on #11527
I've personally had and seen in other developers confusion on this subject. @gaearon it'd be great to get an explanation for this when you have some time :)

[2017-12-19 19:01] gaearon commented on #11527
Sorry, it's the end of the year and we've been a bit behind on GitHub etc trying to wrap up everything we've been working on before the holidays.

I do intend to come back to this thread and discuss it. But it's also a bit of a moving target because we're currently working on async React features that directly relate to how and when `this.state` is updated. I don't want to spend a lot of time writ

[2017-12-19 19:11] zachberry opened #11890 "fb.me CDN links redirecting to Facebook's home page"
It seems the fb.me CDN links have been changed. The links on this page - https://reactjs.org/blog/2016/04/07/react-v15.html#installation (such as https://fb.me/react-15.0.0.js ) - seem to simply redirect to facebook.com. Previously these were loading the react library. Noticed this because our app suddenly started giving us this error:

[code]

[2017-12-19 19:29] gaearon commented on #11890
Sorry about this. Not sure what's happening but we'll find out.

For now, I'd just suggest using unpkg, for example:

https://unpkg.com/react-dom@15.0.0/dist/react-dom.js (development)
https://unpkg.com/react-dom@15.0.0/dist/react-dom.min.js (production)

[2017-12-19 19:56] sophiebits commented on #11890
Should be fixed now, sorry for the trouble.

[2017-12-19 19:56] #11890 closed

[2017-12-19 21:39] gaearon commented on #11023
Please provide a reproducing example. Maybe you're accidentally rendering them outside of SVG?

[2017-12-19 21:39] gaearon commented on #11023
Also, we don't track closed issues. If you have a problem please create a new one.

[2017-12-20 00:21] aphorism44 opened #11891 "Cannot render Quora embedded links in React"
The site Quora offers an easy way to embed links. For instance, it offers a quick code snippet, which works on a normal HTML page:

`<span class='quora-content-embed' data-name='What’s-the-most-morally-disgusting-thing-you’ve-ever-seen-someone-do/answer/Haily-Cramer'>Read <a class='quora-content-link' data-width='559' data-height='250' href='https://www.quora.com/What’s-the-most-morally-disgusting

[2017-12-20 00:26] gaearon commented on #11891
JSX is not HTML.
Please read this: https://reactjs.org/docs/dom-elements.html

Moreover this script probably mutates the DOM so you can’t use React for it anyway.

I would suggest using `dangerouslySetInnerHTML` and putting all the static markup there. Just be careful to not include any user content into it as that can produce a security hole.

[2017-12-20 00:26] #11891 closed

[2017-12-20 00:27] gaearon commented on #11891
In particular I mean:

[code]

But again, be careful the HTML is always trusted and not dynamic.

[2017-12-20 01:15] aphorism44 commented on #11891
I'm afraid that leads to the same problem.

Plugging in those embedded tags from existing and well-known social media sites is a very good feature, and simply dismissing it only tells me to use a different framework.

[2017-12-20 02:52] enyyongyang opened #11892 "Why do you write this"
react/packages/react/src/ReactCurrentOwner.js:23
  current: (null: null | Fiber)
  react/packages/react/src/ReactDebugCurrentFrame.js:14
  ReactDebugCurrentFrame.getCurrentStack = (null: null | (() => string | null));

  use flow .   null?

[2017-12-20 02:55] jquense commented on #11892
? Sorry what?

[2017-12-20 02:58] enyyongyang commented on #11892
I don't understand why these two lines of code write this. What is the meaning

[2017-12-20 03:08] jquense commented on #11892
Those are setting values to null while casting it to a specific type.

In general the issuer tracker isn't the place the ask general questions about the code base, but reserved for bug reports or Features. Thanks!

[2017-12-20 03:08] #11892 closed

[2017-12-20 04:38] XaveScor opened #11893 "Include component props into the stack from componentDidCatch()"
Second argument of `componentDidCatch` contains componentStack like this:
[code]
This data don't contain any helpful error data if user send me ticket to bugtracker. Can info contain props of every component?

[2017-12-20 07:52] gaearon commented on #11892
I think it is appropriate to ask questions about the codebase if one is looking to contribute. :-)
But that's better done in specific issues you're working on.

[2017-12-20 07:55] gaearon commented on #11891
I wouldn't say React has a problem with popularity.

There are good technical reasons why we don't allow DOM mutation: React can't keep track of which DOM nodes need to be updated and when if DOM changes under its nose.

Again, the escape hatch above should be sufficient for the cases where you really need it.

[2017-12-20 08:41] michal-lipski commented on #11888
Fair enough, although it was not clear for me why my child component was not rendered. Maybe there should be some warning from React.Children that this child component was omitted?

In my use case I had function as child component to render table that needed size. And it works fine like it is:
[code]
and somewere in Widget render method:
[code]
Now i wanted to add additional child component to wid

[2017-12-20 12:33] betalb commented on #2568
Considering that props are passed to ES6 constructors, you could do merging there before calling `super` and apply whatever logic is desirable.

If relying on PropTypes looks good approach, implementing this functionality separate library looks more reasonable than putting this into core.

[2017-12-20 13:33] d07RiV commented on #8873
Surely you meant `const {ref} = child.props;`?

[2017-12-20 14:37] jquense commented on #11892
yes, sorry if that come of dismissive, i wrote it on my phone!

[2017-12-20 14:54] gaearon commented on #8873
Because it doesn't behave like a prop. A component can't read its own ref (by design). Just like `key`, it's a React-specific property and doesn't become a part of the props.

Yes.

[2017-12-20 16:19] codeuniquely opened #11895 "TypeError: CSS2Properties doesn’t have an indexed property setter for ‘0’ - Firefox Quantum"
React v16.2.0
ReactDom V 16.2.0

Report a *bug*

Any component that uses inline styles, fails in Firefox Quantum 57.0.1 (64 Bit)

[code]

If you only use classNames - then everything works as expected - (even wrapping the styles in an Object.assign - as shown above, does not fix this issue)

The code fails in React.Dom in the following function:

[code]

If you inspect the line
[code]
then style n

[2017-12-20 18:09] aweary commented on #11895
@codeuniquely I tried reproducing this with [this JSFiddle](https://jsfiddle.net/635xL825/) in Firefox 57.0.1 on macOS but it seems to work fine? Could you please provide a runnable example that reproduces the error? You can use [this JSFiddle](https://jsfiddle.net/Luktwrdm/) as a template.

Assuming the error is reproducible, it would be better to report this as a bug in Bugzilla.

[2017-12-20 18:21] aweary opened #11896 "Stop syncing value attribute for controlled inputs"
Opening this as a follow up to some quick discussions in https://github.com/facebook/react/issues/11881. Syncing the `value` attribute has been a consistent source of bugs for us, and the benefits of doing so seem minimal. There's some previous discussion on the topic in https://github.com/facebook/react/pull/7359 and in other issues, I can't remember right now 😄

This would be a breaking change,

[2017-12-20 18:56] jquense commented on #11896
I think we should really try and make this happen. Do any other frameworks try and keep them in sync? It seems like something React does out of a sense that it wouldn't be too hard for some benefit (which isn't the case it's hard).

I don't think we've been able to verify that this is the case? even so tho i'd say that's the extensions's problem (which they should fix). I'll admit tho that stance

[2017-12-20 19:35] maierson commented on #9214
A quick gotcha here on what was happening on our side. The Routes were inside a blocking `App` component ([see here why this happens](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/guides/blocked-updates.md))

[code]
Its container in turn was a child of the Router. Since the AppContainer is not inside a route it wouldn't re-render when the url changed.
[code]

[2017-12-20 20:10] chandlerprall opened #11897 "reconciler's tryToClaimNextHydratableInstance next-nextInstance heuristic creating duplicative elements"
**Do you want to request a *feature* or report a *bug*?**
bug (though the React code is working as intended)

**What is the current behavior?**
When hydrating from server-rendered DOM, if [react-reconciler encounters an unexpected node](https://github.com/facebook/react/blob/v16.2.0/packages/react-reconciler/src/ReactFiberHydrationContext.js#L229) it will peek ahead to the next DOM node and test i

[2017-12-20 20:22] M-ZubairAhmed commented on #11866
@sebmarkbage can i try looking into this?

[2017-12-20 21:50] lar248 opened #11899 "'tspan' and 'text' tags not working"
**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?** In Chrome, we see the following errors:
[code]

Traced that this issue has persisted as seen in [#11023](https://github.com/facebook/react/issues/11023#issuecomment-352894291)

We have these tags capitalized already and rendered inside of the SVG, so not sure what else to do. We're using the `recharts`

[2017-12-21 01:29] jmrog commented on #11781
I seem to be encountering something like this issue (I'm not _entirely_ sure that they're exactly the same issue, though, or whether they might just have the same root cause, etc.). Unfortunately, it is _very_ hard to reproduce, and I haven't yet got any very good idea about the cause (though I have _some_ weak suspicion that it is related to things that are Fiber-specific, such as a component's h

[2017-12-21 02:24] jmrog commented on #11781
As a quick way of trying to confirm that something with React 16 is going on in my case, I downgraded to React 15 and rebuilt my application. The issue persists, so I think my comment is likely a distraction from the current issue. Apologies for that. (I now suspect my issue may be related to the interaction of some other parts of my stack -- possibly react-redux and react-router or something else

[2017-12-21 04:36] aweary commented on #11899
@lar248 as mentioned in #11023, can you verify if you're possibly rendering the `tspan` and `text` tag outside of a parent `svg` element? I tried [reproducing your issue](https://jsfiddle.net/wn67mj23/) and it appears to be working fine.

Could you please provide a reduced test case that reproduces the issue? Thanks!

[2017-12-21 05:15] aweary commented on #8642
Thanks for the report @felipeochoa.

This is a duplicate of https://github.com/facebook/react/issues/10232. See [my comment in that thread](https://github.com/facebook/react/issues/10232#issuecomment-329911313), this is a known issue in Firefox with capture listeners.

The reason this works is because not using a capture listener, while React's synthetic event system does.

Since this is a known i

[2017-12-21 05:15] #8642 closed

[2017-12-21 07:07] banga commented on #11092
Quick update from my attempts so far:
- The approach of using externs works pretty well in preventing property renaming. The exact contents of the externs have to vary across bundles because they expose and expect different things.
- GCC still complains about a couple of things:
  - `__REACT_DEVTOOLS_GLOBAL_HOOK__` is not defined in the clsjs externs file, but something was looking for it so I add

[2017-12-21 08:43] codeuniquely commented on #11895
@aweary. I looked at the JSFiddle you set up. There are a couple of things about it that i don't understand -

* The fiddle does not use React 16.2.0 (It seems to be a version of 0.14.3 and using styles directly on elements prior to 16.2 work (because our app works before we update)
* The JSFiddle does not at any point assign a style object to any DOM /JSX element so does not test the error descri

[2017-12-21 10:59] borm commented on #11843
up

[2017-12-21 11:16] MMeent commented on #11781
Your behaviour seems very much like what I'm experiencing. My description may not be perfect, but I too am experiencing that an `onClick={() => setState(() => ({}))}` reports the component being unmounted. Next week I'll probably have some time to put up a minimal breaking project.

[2017-12-21 11:32] jmrog commented on #11781
@MMeent I agree that the issues do sound similar. In my case, I've also discovered that the issue only seems to happen in development builds (all works in production), so my best guess is that my problem is actually related to something I'm using only in development (possibly react-hot-loader). My situation is complicated further still by the fact that my own case involves an Electron application

[2017-12-21 12:02] RaedsLab commented on #11852
You're right it just takes longer.

[2017-12-21 12:59] idhard commented on #11409
@hampusohlsson yeah sure ! , i have done the first steps of RFC  creation , here is the fork : https://github.com/idhard/rfcs ,  i haven't had much time to fill it up . I think that if users are passing async functions to the event handlers , it shouldn't be very complicated to wrap them in try/catch blocks inside React and bubble up the error , if they are passing normal functions and doing async

[2017-12-21 14:55] lukasborawski opened #11902 "Provide a better message when component type is undefined with SSR"
This might be a reference to this one: https://github.com/facebook/react/issues/10212#issuecomment-346302374

The problem still exist.

So, trying to render with server side and got this error. I don't have this notation in my code but this might be a problem with dependencies.

[code]

[code]

Thx for help.

[2017-12-21 17:08] aweary commented on #11895
@codeuniquely I'm not sure what you're looking at, but both of those JSFiddles are running 16.2.0.

The [first link I posted](https://jsfiddle.net/635xL825/) does exactly that.

JSFiddle attempting to reproduce this issue: https://jsfiddle.net/635xL825/
Empty JSFiddle you can use as a starting point:  https://jsfiddle.net/Luktwrdm/

[2017-12-21 17:11] aweary commented on #11902
@lukasborawski you should be running the same versions of `react` and `react-dom`. Using two different versions (especially minor or major versions) can lead to unexpected behavior. Can you try updating `react` to `16.2.0` and see if your issue persists?

Otherwise, we'll need an example that reproduces the issue so we can investigate it.

Thanks!

[2017-12-21 18:06] ztanner opened #11903 "Caret position for onChange event in iOS Safari is incorrect"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
![ezgif-4-2e3028f85a](https://user-images.githubusercontent.com/1939140/34268406-6da97d16-e635-11e7-8d30-9ff0c67d6d27.gif)

A simple controlled input with an onChange event that also renders the output in a span has consistently reproducible caret positioning problems.

**If the current behavior is a b

[2017-12-21 18:28] jvitoroc opened #11904 "Feature - Append component"
Is there a way of appending components like we [append nodes](https://developer.mozilla.org/pt-BR/docs/Web/API/Node/appendChild):
[code]
I know that it can be easily handled by state.

[2017-12-21 18:51] aweary commented on #11903
Can you expand on what you found?

[2017-12-21 18:58] ztanner commented on #11903
Yeah, sorry for the vagueness. A simple pure JS example is here using just the `input` event: https://codesandbox.io/s/q7olwz5p0q

[2017-12-21 20:33] wregis commented on #11904
Why not update the state and render the item if needed?

[2017-12-21 20:44] jvitoroc commented on #11904
I think that some components don't need to reflect the state, notifications for instance.

[2017-12-21 22:02] TrySound commented on #11904
@jvitoroc Notification is state driven with event and timeout.

[2017-12-21 22:56] marcelosegovia opened #11905 "Lol"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-12-21 23:08] #11904 closed

[2017-12-21 23:13] wregis commented on #11904
@jvitoroc The state can hold data to be rendered or simple structures (maybe a boolean) that can be used just to decide what to render.

[code]

[2017-12-22 00:23] #11905 closed

[2017-12-22 00:51] yasuf opened #11906 "Proposal to destructure prop-types on import statement as a standard"
I'd  like to propose the following when importing `prop-types` to components

Instead of doing i.e.
[code]
We could be more concise using destructuring
[code]

Small improvement that makes it easier to see the type of each prop on a component at a glance.

Is there any reason this hasn't been chosen as the standard? Please give your opinion and reasoning on this.

[2017-12-22 02:29] Kovensky commented on #11906
The main reason is that `prop-types` is written and published as a commonjs module (`module.exports = ...`).

It is not yet certain whether you will be able to do a named import from a commonjs module with real, native modules -- it is overwhelmingly likely that you cannot; but it is already guaranteed that you will be able to import a commonjs module as a default export.

One common point of conf

[2017-12-22 02:32] Kovensky commented on #11896
If you are using controlled components, that means the state is kept somewhere, such as your form controller component. If you do want to be able to use form.reset(), then your form controller component should listen to `onReset` and reset its own state.

Stopping the syncing of `value` does not seem to do anything but enable anti-patterns.

[2017-12-22 02:54] Kovensky commented on #10474
No matter how React handles the error (printing to console, calling error boundary, re-throwing a top level exception, etc), the main DX causality I'm feeling with this system is that I can't have access to the stack and environment conditions that caused an exception to be originally thrown.

I'd really appreciate if my "pause on uncaught exception" debugger flag would pause exactly on the origin

[2017-12-22 05:16] kouhin opened #11907 "renderToStaticMarkup escapes '&' to '&amp;'"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

[code]

Output:

[code]

Here ,`&` is encoded to `&amp;`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https:/

[2017-12-22 06:05] nicewahson opened #11908 "html tag <a> property download can't work on firefox"
[here](https://jsfiddle.net/crazyMax/kus3kxm4/) is my jsfiddle
OS: windows 7
browser: Firefox Quantum 57.0

i want to use property download to download image but this can't work, but it can work on chrome

[2017-12-22 06:34] dblate commented on #11589
I’m afraid I have a different opinion in

I have a [case](https://codepen.io/dblate/pen/ZvpXqR) shows that in iphone ios11, even if you create a video in navtive HTML, and bind events by addEventListener, the "click" event will not fire. If you tap the video,  the detail is:

- In ios11, a series of touch event will be fired

- In ios11, a click event will not be fired, except that you tap a long

[2017-12-22 07:58] nanomosfet opened #11909 "Accessing TestInstance.state for react-test-renderer package"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The behavior that is listed in [the docs](https://reactjs.org/docs/test-renderer.html)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/,

[2017-12-22 09:46] 438198602 opened #11910 "QQ Browers is not show"
I have a webapp with creat-react-app，it not work on QQ Browers, but it is ok in other browers.

"react": "^16.2.0",
"react-dom": "^16.2.0",

who can help me, please....

[2017-12-22 10:37] ngyikp commented on #11908
Not a React issue, reproducible on plain HTML as well: https://jsfiddle.net/mg4bb7gy/

Firefox does not allow download attribute for cross-origin links, see https://stackoverflow.com/a/24781946

[2017-12-22 12:10] ZhangYiJiang opened #11911 "React DOM crashes when <option> contains three interpolated value if one is a conditional."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

React DOM crashes when `<option>` contains three interpolated value if one is a conditional.

Reproduction: https://jsfiddle.net/0opjvycp/

1. Change the value of the `<select>`
2. React crashes with `NotFoundError: Node was not found`

From what I can tell, the conditional value is necessary, and it

[2017-12-22 12:38] syranide commented on #11907
That is correct behavior. Attributes values are HTML-decoded by the browser and not escaping is a security issue.

[2017-12-22 13:03] #11907 closed

[2017-12-22 13:05] gaearon commented on #11911
Tagging as good first issue.

[2017-12-22 13:07] gaearon commented on #11910
I don’t know what runtime environment is provided by QQ browser. Most likely you need to add some polyfills.

Check React requirements here: https://reactjs.org/docs/javascript-environment-requirements.html

React also assumes the browser supports ES5 so you might need ES5 shim if QQ browser doesn’t have full support. Hope this helps!

[2017-12-22 13:07] #11910 closed

[2017-12-22 13:07] #11908 closed

[2017-12-22 13:12] gaearon commented on #11909
`testInstance.instance.setState({on: true})`

[2017-12-22 13:12] #11909 closed

[2017-12-22 13:17] codeuniquely commented on #11895
Issue was being caused by a react.CloneComponent() call in another class file (not related to the progress bar in any way at all - and never rendered on the same page as a progress bar)

I rewrote the other glass (GridTile) and this removed the issues with setting styles={} in Quantum ....

[2017-12-22 13:17] #11895 closed

[2017-12-22 13:20] gaearon commented on #11896
I think the original justification for that was that a lot of people felt that mismatch between value attribute and property was counter-intuitive. By that time many people learned React *before* the DOM APIs and weren’t aware of the distinction. So it “felt wrong” to them that the attribute in the browser DevTools (looks like HTML!) doesn’t match the “attribute” they see in JSX (looks like HTML t

[2017-12-22 13:25] gaearon commented on #11906
The above sounds right.

We can revisit this after Node supports ESM, but for now either choice is broken in some way. I think ideally we'd switch to named exports there eventually.

Either way, the right place to file this would be https://github.com/facebook/prop-types.

[2017-12-22 13:25] #11906 closed

[2017-12-22 13:28] gaearon commented on #11897
Can you insert those scripts after hydration? Or can you render them on the server too?

[2017-12-22 13:29] trebushuk commented on #11902
Have a same issue.
[code]
In the first argument of `renderDOM` is passed this kind object:
[code]
Versions of `react` and `react-dom` was same. I have updated both of it and nothing changed.
[code]

[2017-12-22 13:30] gaearon commented on #11888
Why not do this instead?

[code]

Then you don't need to count the children.

[2017-12-22 13:37] mannanali413 commented on #11911
@gaearon i can take this up :)

[2017-12-22 14:03] gaearon commented on #11902
Please provide a reproducing project. We can’t help otherwise.

[2017-12-22 14:04] gaearon commented on #11902
(My best guess is you imported a component incorrectly and thus ended up with `undefined` as a type. We should change to throw a better error when this happens.)

[2017-12-22 15:36] nhunzaker commented on #11896
I think we could do some neat stuff here. If the value attribute is not synchronized, we could allow controlled inputs to both control `value` and `defaultValue`. Then, on form reset, we could fire a synthetic change event on all of the associated inputs matching the `defaultValue`. Effectively controlling `form.reset`.

It's possible I've forgotten already, but I feel like, every time this comes

[2017-12-22 18:18] #11858 closed

[2017-12-22 18:33] webmobiles commented on #11229
@chenshuai2144  I've just removed antd library, and my build js decrease from 2.9 Megas to 1.7  definitely I advise do'nt use antd library , it's too much big

[2017-12-22 18:57] modosc commented on #11858
thanks!

[2017-12-22 19:09] gaearon commented on #11229
A lot of folks reported being happy with https://github.com/jaredpalmer/formik so you might want to check that out.

[2017-12-22 19:15] webmobiles commented on #11229
@gaearon  thanks; i've complete already my project with redux-form; i like his fieldarray , but i'm going to try formik ,  your advise is very important, thanks

[2017-12-22 20:16] chandlerprall commented on #11897
These scripts are from 3rd parties, injected by the Google Tag Manager script (that one is SSRed). Because the initial GTM script is part of the SSR DOM there's a race condition between the script injection and our application's startup.

Small addendum: this is also affecting our elements in <head> (we update HEAD via React as page navigation happens). Some 3rd party scripts inject into the top o

[2017-12-22 20:36] gaearon commented on #11897
With these constraints, would it not be easier to only hydrate an element inside the body, and use a regular template for the parts outside?

[2017-12-22 20:37] david-jam opened #11913 "props read only?"
React docs say props are read only but how come [mobx ](https://mobx.js.org/getting-started.html) directly modifies them e.g. as in
[code]

[2017-12-22 20:42] gaearon commented on #11913
The *props object* is readonly.
You can't do

[code]

or

[code]

Mobx lets you modify individual objects passed in props. This is different, and is currently supported although it’s very hard to do right manually so you should avoid it unless you’re using a well-maintained library like Mobx.

[2017-12-22 20:42] #11913 closed

[2017-12-22 22:26] chandlerprall commented on #11897
:) I'm very aware we are relying on an edge case that isn't well supported (mostly due to browser differences and this case of 3rd party scripts) and causes the React team headaches. It's on our roadmap to move the application into a single container in body and figure out something different for updating head, but difficult to justify the time to modify our systems to change something that "alrea

[2017-12-23 00:27] nicewahson commented on #11908
thanks..

[2017-12-23 01:05] Daniel15 commented on #1159
This should be fixed in Chrome for iOS now: https://chromium.googlesource.com/chromium/src/+/55518e17850cac0bdc6fca7b24092bea479e34db. I'm not sure when this will be included in a released version though.

[2017-12-23 10:00] necolas opened #11916 "React ART crashes with SSR"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

React ART crashes when components are rendered with Node.

**What is the expected behavior?**

No crash.

The issue lies upstream in the art fork, and there is a proposed fix, but the PR needs attention so I'm cross posting here. Hope that's ok

https://github.com/sebmarkbage/art/pull/16

[2017-12-24 01:22] iansu commented on #11826
This bug does seem to exist in Chrome 63.0.3239.108 as well. However, it only happens when you press enter while the field is focused. Focusing the field and then clicking outside the field correctly triggers both the React and native blur events. In Firefox and Safari pressing enter while the field is focused doesn't trigger either of the blur events. I'm not sure if this is a bug in Chrome or ho

[2017-12-24 05:57] ka7iu opened #11917 "według projektu"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-12-24 06:23] #11917 closed

[2017-12-24 13:29] jorrit commented on #11911
Could this be related to #11602 ?

[2017-12-24 17:20] zebulonj opened #11918 "Click events don't bubble from Portal content on mobile Safari"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In mobile Safari, DOM events originating from elements rendered through a Portal do **not** bubble (propagate) up the React component tree.

**If the current behavior is a bug, please provide the steps to reproduce....**
Please see the following JSFiddle: https://jsfiddle.net/zebulonj/wf7orwan/

In thi

[2017-12-24 20:32] zebulonj commented on #11918
A clue: the issue can be resolved with a hack—adding a no-op click handler to the containing DOM element:

`this.el.onclick = () => null;`

See: https://jsfiddle.net/zebulonj/02p6x5kk/

[2017-12-24 21:07] aweary commented on #11918
We [already attach empty listeners to elements with click handlers](https://github.com/facebook/react/blob/4c3470eef832d64e03d18c19a70f2501f9becbfd/packages/react-dom/src/client/ReactDOMFiberComponent.js#L253-L264) because of this behavior in iOS Safari. We could do the same for the element passed to `ReactDOM.createPortal`.

[2017-12-24 21:11] aweary commented on #11857
@OverseePublic could you please share the test case that is randomly failing, and the component its testing (preferably a simplified example). If there's a bug, it's probably an issue with Enzyme.

[2017-12-24 22:15] Connorelsea opened #11919 "Existing state transition warning message clarity"
**Do you want to request a *feature* or report a *bug*?**
Bug / error message improvement

**What is the expected behavior?**
Show what component/line caused the state change that generated the warning, currently the warning is shown without indicating what component caused this problem.

**What is the current behavior?**

The "existing state transition" error message is useful, but it is not alwa

[2017-12-24 22:16] #11919 closed

[2017-12-24 22:33] renatoalencar commented on #11570
HTML is not case sensitive so `tabindex` and `tabIndex`, right? The point is that it is JSX not HTML. I think the message could include something like "The JSX standard (different from the HTML standard) is case sensitive".

[2017-12-25 06:50] aweary opened #11920 "Namespace constants being inlined in production build"
I was poking through the UMD `react-dom.production.min.js` build and noticed that the namespaces exported from [`DOMNamespaces`](https://github.com/facebook/react/blob/master/packages/react-dom/src/shared/DOMNamespaces.js) are being inlined as string literals.

[First Example](https://gist.github.com/aweary/da7ed93a94b7c8ddf65c569be61e8356#file-react-dom-min-js-L1779-L1794)
[Second Example](https:

[2017-12-25 09:08] mikeevstropov commented on #8598
How to prevent unnecessary re-render of one of child components? If we are define "key" property it must be used to detect changes. So static value in this property `key="1"` must be meaning "never update!", but it working not as expected. I mean not working.

[2017-12-25 17:15] trebushuk commented on #11902
@gaearon This project that should reproduce the issue
https://github.com/trebushuk/test-react-project
I tryed on the versions of node `v6.12.2` & `v9.3.0`

[2017-12-25 21:16] M-ZubairAhmed commented on #11918
Hey @aweary would you like to take this and add empty listener to element passed to `ReactDOM.createPortal` as well?

[2017-12-26 22:16] dargue3 commented on #11354
Am running into this error with a `<linearGradient>` tag inside an SVG. This should be fixed by now (running React v 16.2.0), correct?

 Let me know if you need any more information.

[2017-12-27 00:38] eddyw opened #11923 "FeatReq: render method could receive currentState and currentProps as arguments"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The `render` method doesn't receive `currentState` and `currentProps`.

**What is the expected behavior?**
The `render` method when called would receive `currentState` and `currentProps` as arguments. For instance:
[code]
This could allow destructure the arguments to get only the needed properties,

[2017-12-27 01:11] koba04 commented on #11923
@eddyw Here is a proposal for this.
* https://github.com/reactjs/rfcs/pull/4

[2017-12-27 01:28] eddyw commented on #11923
Oh, cool.
I have used the search box not to duplicate but I haven't found that one.

[2017-12-27 06:26] vikramcse commented on #11806
Is someone working on this issue? If not then I would love to work on this issue :)

[2017-12-27 09:49] Sathiyamm opened #11925 "How to auto refresh in another taps in react js?"
I'm open the login page in two tabs in the same browser the login click after another tab also refresh or reload. How to do that in react js? Does anyone help this?

[2017-12-27 10:22] lnwu opened #11926 "How to enable fiber in stable version?"
I searched a lot, but can't find any messages to enable this feature in stable version.

[2017-12-27 10:34] vikramcse commented on #11926
@lnwu React Fiber reconciler is already enabled in react version 16 and above. You do not need to specify any flag to enable it.

[2017-12-27 11:52] lukasborawski commented on #11902
@aweary @gaearon @trebushuk I've updated the react version to 16.2 and still have this issue. Looked up for components imports and all looks fine, typical and normal. Can't share the project bc this one is customers private. Any other ideas?

[2017-12-27 19:13] joshjg commented on #6410
@awreccan For the time being, you might be able to use the following workaround for `relatedTarget`:
[code]

[2017-12-27 19:56] aweary commented on #11926
@vikramcse is correct, Fiber is not something that is enabled or disabled, it's a description of how the reconciler is architectured.

[2017-12-27 19:56] #11926 closed

[2017-12-27 19:59] aweary commented on #11925
Hey @Sathiyamm, we try to use this issue tracker for bug reports and feature requests only. I recommend checking out the list of great support resources listed on the doc page, [Where to Get Support](https://reactjs.org/community/support.html).

In this case, there's nothing React specific about sending messages between tabs. I recommend referring to StackOverflow or other general resources. [Comm

[2017-12-27 19:59] #11925 closed

[2017-12-28 01:16] lnwu commented on #11926
I mean async rendering actually, i did not see any change in the way of rendering in version 16.2.0.

[2017-12-28 02:10] aweary commented on #11926
@lnwu async rendering is still a work in progress!

[2017-12-28 02:11] aweary commented on #11923
There was https://github.com/facebook/react/issues/1387, but it's a little hard to find via search :)

Please direct any feedback to the RFC. Thanks!

[2017-12-28 02:11] #11923 closed

[2017-12-28 02:46] brickspert commented on #2477
this work for me

[code]

[2017-12-28 04:47] levinit commented on #3725
I meet the same problem, you sholud install [babel-plugin-transform-class-properties](https://babeljs.io/docs/plugins/transform-class-properties/)，
[code]
then add `"transform-class-properties"` in .babelrc
[code]

[2017-12-28 16:49] yerlanyr commented on #11902
That project should reproduce the issue. https://github.com/yerlanyr/reactrouterserver
[code]

[2017-12-28 16:52] billyjanitsch opened #11928 "Point production build at un-minified file?"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

When `NODE_ENV === 'production'`, [react](https://github.com/facebook/react/blob/master/packages/react/npm/index.js#L4) and [react-dom](https://github.com/facebook/react/blob/master/packages/react-dom/npm/index.js#L35) both point to their respective _minified_ production builds.

In the context o

[2017-12-29 03:52] JackieLs commented on #1159
为什么一定要用 onChange?
Why You Guys MUST use 'onChange' but not the 'change event'
[code]

[2017-12-29 11:25] BlackySoul opened #11929 "Default value for an <select> element"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
 JSFiddle: https://jsfiddle.net/7sj4890z/1/

When "reset" button is clicked input value is _test_, select value is _Grapefruit_

**What is the expected behavior?**

When "reset" button is clicked input value is _test_, select value is _Lime_

[2017-12-29 11:50] #11929 closed

[2017-12-29 12:54] gaearon commented on #11928
Can you explain why? I’m not sure I’m following. Technically your bundler will make another renaming pass anyway so I don’t see why it matters.

[2017-12-29 15:11] ka7iu opened #11931 "r"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2017-12-29 16:02] waquidvp commented on #11931
Doesn't look like an actual issue/bug? If this was an accident, can you please close this issue...

[2017-12-29 16:12] nhunzaker commented on #11931
Looks like spam. @ka7iu  I'm going to close this out, but feel free to clarify later and we can reopen.

[2017-12-29 16:12] #11931 closed

[2017-12-29 16:43] vikramcse commented on #11299
Hi @gaearon, Can I take `ReactErrorUtils-test.js` for my first contribution?

[2017-12-29 18:07] photonite commented on #11570
I would like to work on it.

[2017-12-29 20:22] lukasborawski commented on #11902
For me this was a problem with `ServerRouter`, changed to the `StaticRouter` and everything is fine now.

[2017-12-29 23:51] jvitoroc opened #11932 "Why Marko.js is faster than React? Can React become as fast as Marko.js?"
Resources
[Marko vs React: An In-depth Look](https://hackernoon.com/marko-vs-react-an-in-depth-look-767de0a5f9a6)
[isomorphic-ui-benchmarks](https://github.com/marko-js/isomorphic-ui-benchmarks)

[2017-12-30 08:31] guru9 opened #11933 "issue with create-react-app"
os: windows 8, 64 bit

C:\Users\Bharat Moger\react>node -v
v8.9.3

C:\Users\Bharat Moger\react>npm -v
5.6.0

C:\Users\Bharat Moger\react>create-react-app --version
1.4.3

*---------issue with create-react-app my-app-----------*

C:\Users\Bharat Moger\react>create-react-app my-apps

Creating a new React app in C:\Users\Bharat Moger\react\my-apps.

Installing packages. This might take a couple of mi

[2017-12-30 08:33] guru9 commented on #11933
Means can't start reactjs!!

[2017-12-30 08:54] ryota-murakami commented on #11933
@guru9

It's looks like create-react-app probrem,
so you would be better create issue to the [create-react-app issues](https://github.com/facebookincubator/create-react-app/issues/new).

[2017-12-30 09:22] guru9 commented on #11933
but I know somebody were using create-react-app and works properly.
how to overcome by this....may this is an os issue? or how to solve this. bcoz I need to start react app!

[2017-12-30 09:42] bochen2014 commented on #7776
ref with stateless componenents. use function scope variables as the storage of `refs`

[code]

[2017-12-30 10:10] guru9 commented on #11933
*------no bro - still  same issue going on------------*

C:\Users\Bharat Moger\react>npm cache clean --force
npm WARN using --force I sure hope you know what you are doing.

C:\Users\Bharat Moger\react>create-react-app my-app

Creating a new React app in C:\Users\Bharat Moger\react\my-app.

Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts...

[2017-12-30 10:45] jorrit commented on #10352
I am receiving these errors from a production build. Is this expected? If so, can I configure react such that it doesn't emit these warnings?

[2017-12-30 10:51] guru9 commented on #11933
*---when it will be resolved------*

C:\Users\Bharat Moger\react>npm cache clean --force
npm WARN using --force I sure hope you know what you are doing.

C:\Users\Bharat Moger\react>npm cache clean --force
npm WARN using --force I sure hope you know what you are doing.

C:\Users\Bharat Moger\react>npm cache clean --force
npm WARN using --force I sure hope you know what you are doing.

C:\Users\Bha

[2017-12-30 11:10] ryota-murakami commented on #11933
@guru9

yeah, try switch to `yarn`.

[2017-12-30 13:03] dnl228 commented on #11570
I am trying to get into the open source community and would like to find a simple issue to fix to get me started. Is anyone still working on this issue? If not I would like to work on it.

[2017-12-30 13:07] guru9 commented on #11933
*---yep! seems solved by yarn. thanks  [ryota-murakami](https://github.com/ryota-murakami)   --meet u again-----*

*-----instructions---*

npm install -g yarn

yarn global add create-react-app

create-react-app my-app

*------solved----*

[2017-12-30 13:07] #11933 closed

[2017-12-30 14:22] rfyiamcool opened #11934 "React does not call onBlur callback"
See title，thank u

[2017-12-30 14:22] rfyiamcool commented on #11934
Yes ，I know

[2017-12-30 14:22] #11934 closed

[2017-12-30 16:52] gaearon commented on #11932
From a quick glance, it seems like they're using development build of React for measurements. It's going to be pretty slow as we state many times in the documentation.

We don't think it's productive for us to spend time reaching out to authors of other libraries that publish inaccurate benchmarks. If they were interested in correct measurements rather than promoting their library they would surel

[2017-12-30 16:52] #11932 closed

[2017-12-30 16:56] gaearon commented on #11932
We also made some improvements to SSR performance in React 16, and added the streaming mode. So some of the article content is also outdated.

https://hackernoon.com/whats-new-with-server-side-rendering-in-react-16-9b0d78585d67

[2017-12-30 16:59] gaearon commented on #11920
This is intentional:

https://github.com/google/closure-compiler/wiki/FAQ#closure-compiler-inlined-all-my-strings-which-made-my-code-size-bigger-why-did-it-do-that

[2017-12-30 16:59] #11920 closed

[2017-12-30 17:00] gaearon opened #11935 "Consider a more specific warning for key={undefined}"
Proposed in [this comment](https://dev.to/k1sul1/comment/1o68):

I think it might make sense to give a more specific warning in this case. Open to suggestions about specific wording and in which case it would be used.

[2017-12-30 19:09] onstash commented on #11935
Hi @gaearon. I would like to take this issue as my first pull request if it is not too complex 😅. I will until discussions about specific wording have come to a conclusion.

[2017-12-30 19:47] onstash opened #11936 "Remove legacy TODOs in ReactElement.createFactory() and ReactElementValidator.createFactoryWithValidation()"
I came across this line -
 https://github.com/facebook/react/blob/dd8b387b69d73f9e8ed4f995ccb3cd927c0d33e3/packages/react/src/ReactElement.js#L269

I am interested in taking this up as my first pull-request. Please let me know what is required for adding a warning and it's related test/s. Thank you. 😅

[2017-12-31 00:45] gaearon commented on #11935
Feel free to propose the behavior you think would be reasonable.

[2017-12-31 03:55] aweary commented on #11920
@gaearon interestingly enough, I manually removed each inlined namespace string and aliased it. The resulting file size was 30755 bytes, compared to the original 30770 bytes according to `gzip-size`. It's not a huge difference, but I wonder why it's not compressing better?

Out of curiosity I also aliased a few of the inlined strings that appear most often (`"function"`, `"return"` for example) an

[2017-12-31 04:15] aweary commented on #11936
Hey @onstash! I believe this is actually already implemented `ReactElementValidator`, which is used in place of `ReactElement` in the development build
https://github.com/facebook/react/blob/dd8b387b69d73f9e8ed4f995ccb3cd927c0d33e3/packages/react/src/ReactElementValidator.js#L354-L369

That TODO comment in `ReactElement` and `ReactElementValidator` should probably be removed since it's out of date

[2017-12-31 09:09] onstash commented on #11936
I think I'll probably raise a tiny pull-request removing those TODOs as they're outdated. Thanks for the quick update, @aweary.

[2017-12-31 09:15] onstash commented on #11936
I have a doubt - is `createFactory()` directly accessible for a user? If yes, then we might need to replicate the same warning that's present in the snippet you have linked to. That's probably why the TODOs are present in `ReactElement`module. If no, then we might need to remove the TODOs that are outdated. Have I missed anything?

[2017-12-31 09:55] landvibe opened #11937 "fiber-triangle fixture is not working"
I cannot see any difference between async on/off.
I am using Chrome v63 on MacBook Pro.

[2017-12-31 11:38] onstash commented on #11935
Here is my approach:

This warning

[code]

could be modified as

[code]

if `element.key` is present but `undefined`.

I am not sure if this is a foolproof solution or a hack. Please let me know your thoughts about this. 😅

[2017-12-31 12:52] k1sul1 commented on #11935
How about the other values, that are simply wrong? Objects, empty strings, booleans, null, undefined, did I miss some?

[2017-12-31 13:00] onstash commented on #11935
Ah. I didn't think of other invalid values. Thanks for pointing that out @k1sul1. I'll wait for @gaearon to reply to our comments.

[2017-12-31 14:44] gaearon commented on #11937
Yeah it’s not really useful right now. People also started making clones of it with other libraries without really understanding how it works or what it demonstrates. So we’ll probably fix it or better, replace it by examples that are easier to understand, in the future.

For now it doesn’t matter because **async rendering is not ready**. So it wouldn’t show anything useful anyway. The demos we ha

[2017-12-31 15:35] landvibe commented on #11937
I think it would be better to display some comments in the html (with red color)
Anyway I close this issue.

[2017-12-31 15:35] #11937 closed

[2017-12-31 15:42] govindrai commented on #11826
This bug exists in chrome Version 62.0.3202.94 (Official Build) (64-bit) as well.

[2017-12-31 19:20] gaearon commented on #10352
If you see warnings, you are *not* using a production build.

How to verify that you use the production build: https://reactjs.org/docs/optimizing-performance.html#use-the-production-build

[2017-12-31 19:45] aweary commented on #11936
@onstash `createFactory` is exposed as `React.createFactory` here:

https://github.com/facebook/react/blob/dd8b387b69d73f9e8ed4f995ccb3cd927c0d33e3/packages/react/src/React.js#L45

Looking back through the git history, this TODO comment was added in https://github.com/facebook/react/commit/199a7d6903ed2e7c28fb32c6a28ed7f26148e13d, before the current warning was implemented, so I think it's just an

[2017-12-31 22:06] gabegreenberg opened #11940 "Facebook Engineers - Thank You For 2017"
To all the Facebook Engineers working on [open source](https://code.facebook.com/projects/),

Like [last year](https://github.com/facebook/react/issues/8663#issue-198212596), we at [Reactiflux](http://www.reactiflux.com/) just wanted to take a moment to thank you for all your hard work in 2017. It’s been another big year! After much anticipation React 16 was [released](https://facebook.github.io/r

[2017-12-31 22:13] arthurdenner commented on #11940
Thank you! Not only the React team, but to all the open-source contributors. 🎉💓

[2017-12-31 22:13] kingdaro commented on #11940
Thanks a bunch. Keep being awesome, everyone.

[2017-12-31 22:14] NoiSek commented on #11940
Thanks to all of your hard work out there, fellows, you make my life a hell of a lot easier. 👍

[2017-12-31 22:14] JoeBanks13 commented on #11940
Thank you! React was one of the first JavaScript frameworks I looked at! It was incredibly helpful and let me learn. Stay cool :)

[2017-12-31 22:14] Nufflee commented on #11940
Thank you!! Keep up the good job! 🎉💓🎉💓

[2017-12-31 22:14] ckknight commented on #11940
Thank you all. You've fostered a community I'm happy to be a part of. Keep it up!

[2017-12-31 22:14] Izitable commented on #11940
Thank you very much for all your work

[2017-12-31 22:14] filipenevola commented on #11940
Keep up :)

[2017-12-31 22:14] wilsonrivera commented on #11940
Thank you for the hard work! Keep it up!

[2017-12-31 22:14] tducasse commented on #11940
Thank you :)

[2017-12-31 22:14] VictorJozwicki commented on #11940
Thank you and keep it up !
As an IT student in France, learning something else than PHP was great ! And it allowed me to grow a little bit more as a dev. I even have my own ideas on what to make with it !

[2017-12-31 22:14] pfreema1 commented on #11940
🎉 🎉 🎉

[2017-12-31 22:14] cem2ran commented on #11940
Thank you! You have changed the way I view UI programming and Open Source <3

[2017-12-31 22:15] ermik commented on #11940
I am starting a company in part because of Facebook's hard work in Open Source. Thank you!

[2017-12-31 22:15] slice commented on #11940
[code]

[2017-12-31 22:15] mrscobbler commented on #11940
Thank you for all you do!

[2017-12-31 22:15] speedDeveloper commented on #11940
Thank you very much! React has provided me the ability to built the best webapps on the web! Keep going!

[2017-12-31 22:15] asgvard commented on #11940
Thank you for everything you’ve done, keep it up :D

[2017-12-31 22:15] hueyjj commented on #11940
Thank you! React has been a great success!

[2017-12-31 22:16] gujral1997 commented on #11940
Thanks a lot , it's been such a great honour to use react native!

[2017-12-31 22:16] ifeanyidavid commented on #11940
Thank you for all the effort you've put in to make React awesome!

[2017-12-31 22:17] thangngoc89 commented on #11940
Thank you for all of your works.

[2017-12-31 22:17] Kureev commented on #11940
Thank you 🙏

[2017-12-31 22:17] matiasmagni commented on #11940
Thank you very much!

[2017-12-31 22:18] wesleycho commented on #11940
I appreciate the investment FB and its engineers have made in React and the ecosystem. Thank you all who have contributed/maintained projects in the ecosystem! I understand from first hand prior experience that open source can be very difficult/stressful/time consuming, and so I have a deep appreciation for those who have maintained the passion for what they do and keep on the effort.

[2017-12-31 22:18] cristhiandas commented on #11940
Thank you guys, I'm new on react but I can tell you that it helps me a lot building new stuff :)

[2017-12-31 22:18] aweary commented on #11940
❤️ The React repo and documentation has seen so many great improvements in 2017. A huge thanks to the team at Facebook and everyone else who has contributed this year, it's been fun! Here's to even more great work in 2018 :clinking_glasses:

[2017-12-31 22:19] quicksnap commented on #11940
<3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3

[2017-12-31 22:19] CamelSpit commented on #11940
Thank you so much! I hope you all have a great new year!

[2017-12-31 22:19] gregorskii commented on #11940
Thank you! 😎

[2017-12-31 22:20] klequis opened #11941 "love React"
Thank you!

[2017-12-31 22:20] antoligy commented on #11940
Thank-you!

[2017-12-31 22:20] housseindjirdeh commented on #11940
A lot of us would probably not even have our jobs if it wasn't for the amazing open source projects built by amazing developers like yourselves.

To the Facebook team, thank you ❤️

[2017-12-31 22:20] #11941 closed

[2017-12-31 22:21] aweary commented on #11941
We really appreciate it 😄 let's keep all the great vibes in https://github.com/facebook/react/issues/11940 ❤️

[2017-12-31 22:21] jMoulis commented on #11940
U changed my life guys!!! Thank you so much

[2017-12-31 22:22] klequis commented on #11940
Love React
Thank you!
Happy New Year

[2017-12-31 22:22] ifeanyidavid commented on #11940
import React from 'react';
import ReactDOM from 'react-dom';

const thankYouMessage = ['Thank', 'you', 'for', 'all', 'the', 'effort', 'you', 'have', 'put', 'into', 'making', 'React', 'awesome'];
thankYouMessage.map(message => <Message text={message} />);

const Message = (message) => {
<div>
<p>{message}</p>
</div>
}

ReactDOM.render(<Message />, document.getElementById('root'));

[2017-12-31 22:22] ifeanyidavid commented on #11940
`import React from 'react';
import ReactDOM from 'react-dom';

const thankYouMessage = ['Thank', 'you', 'for', 'all', 'the', 'effort', 'you', 'have', 'put', 'into', 'making', 'React', 'awesome'];
thankYouMessage.map(message => );

const Message = (message) => {

{message}
}

ReactDOM.render(, document.getElementById('root'));`

[2017-12-31 22:23] kdichev commented on #11940
Thank you :*

[2017-12-31 22:23] Hum4n01d commented on #11940
Thank you!

[2017-12-31 22:23] jagretz commented on #11940
I've used many frameworks & libraries in the past. I really appreciate the thought and design put into react! I love using this tool and find it great for teaching good JavaScript design skills.

[2017-12-31 22:25] atrauzzi commented on #11940
Thank you!

[2017-12-31 22:27] john-d-pelingo commented on #11940
Thank you for making the web development world a better place!

[2017-12-31 22:28] dejanr commented on #11940
Thank you! For making web/native development such a joy!

[2017-12-31 22:29] nhunzaker commented on #11940
Amazing work! I can't wait to see what 2018 has in store for React!

[2017-12-31 22:30] miguelcjalmeida commented on #11940
Thank you all for putting so much love and efforts in this wonderful library which React is! I wish you all a great new year!

[2017-12-31 22:30] MrLoh commented on #11940
🙏

[2017-12-31 22:30] LodeKennes commented on #11940
Thanks to the team for making web and mobile development a lot more fun! <3

[2017-12-31 22:33] konekoya commented on #11940
Big thank to the React team and devs who have contributed to it! 💯

[2017-12-31 22:35] ConnorBryan commented on #11940
Thanks for creating (what I perceive as) the best front-end solution for adaptive view management!

Stay frosty!

[2017-12-31 22:35] zyzski commented on #11940
thanks for a great year of development with react! onward and upward 🙂

[2017-12-31 22:36] vicapow commented on #11940
Thank you! 🙏

[2017-12-31 22:36] stefcharle commented on #11940
Thank you very much guys. Very appreciative of people who dedicate their time to open source. Much success in the new year!

[2017-12-31 22:39] blling commented on #11940
Thanks guys, thanks Dan!

[2017-12-31 22:39] lucianolucianoluciano commented on #11940
Thank you guys! Your work is impressive

[2017-12-31 22:40] Gh05d commented on #11940
Thx for supporting the community.

[2017-12-31 22:40] pmonty commented on #11940
Thank you team! Been using React for well over a year now constantly ever day at work and now landed a job dedicated to React apps. Looks forward to further development!

[2017-12-31 22:40] coreyflynn commented on #11940
Thanks folks!  Keep up the great work!

[2017-12-31 22:41] Essential commented on #11940
Thank you 🐒❤️

[2017-12-31 22:42] danmcatee commented on #11940
Thank you keep the Great work Up ❤️

[2017-12-31 22:42] Anveio commented on #11940
Thanks for the impeccable 16.0.0 release and the decision to re-license React under MIT. I use React, React-DOM, Immutable.js, and Jest on a daily basis and they make my open-source work possible. 💟

[2017-12-31 22:43] awojtczyk commented on #11940
Tank you guys! <3

[2017-12-31 22:44] jorisvddonk commented on #11940
Thanks for all your work! Looking forward to the future of React!

[2017-12-31 22:46] coding-saints commented on #11940
Thank you to all the maintainers and contributors that make this possible!

[2017-12-31 22:46] madhums commented on #11940
Thank you to all open source contributors! 🙏 ❤️

[2017-12-31 22:46] nathaniadis commented on #11940
Thank you!

[2017-12-31 22:48] gtodd876 commented on #11940
Thank you so much for all the hard work to make our web development experience so enjoyable!

[2017-12-31 22:48] quentin-sommer commented on #11940
Keep up the good work!

[2017-12-31 22:55] CSMarco commented on #11940
Thank you guys! Keep it up :)

[2017-12-31 22:55] fokusferit commented on #11940
Thank you! And keep the great work!

[2017-12-31 22:56] retrixe commented on #11940
React is extremely amazing, and with its abundant ecosystem, it is a breeze to develop with React. Yarn with its lock files ensure the same packages throughout the board, but while npm 5 wants to bring that to npm, yarn is so fast that I never think of using npm. I sincerely thank the developers at Facebook for maintaining these libraries and appreciate their efforts. Keep up the good work!

[2017-12-31 22:57] p1xelHer0 commented on #11940
👏 ❤️ 🎉 ⚛️ 🃏

[2017-12-31 22:59] magician11 commented on #11940
The React framework has been key in keeping me really excited about being a front end developer. So thank you for helping make my development days so pleasant 😊

[2017-12-31 23:00] jamonholmgren commented on #11940
Thank you from the team at Infinite Red! A large chunk of the software we built this year was enabled by your work, and we are grateful. ❤️

[2017-12-31 23:01] excalliburbd commented on #11940
Thank you so much!

[2017-12-31 23:03] gbozee commented on #11940
Thanks for making me love frontend development.

[2017-12-31 23:09] josenaves commented on #11940
Thanks for awesome code !

[2017-12-31 23:13] EthanC commented on #11940
Thank you to everybody at the React Team! ❤️

[2017-12-31 23:17] viankakrisna commented on #11940
Thank you!

[2017-12-31 23:18] popo63301 commented on #11940
Thank you guys for making programming so accessible. 6 months ago I couldn't make anything. Now I can build web apps, android apps, iOS apps, desktop apps thanks to React. Love from Paris 🇫🇷 !!!!!!

[2017-12-31 23:23] hisapy commented on #11940
Gracias totales desde Paraguay 🍻 🍾 🎆

[2017-12-31 23:24] alecperkey commented on #11940
GraphQL, Flow, React Native are all great stuff!

[2017-12-31 23:28] madiodio commented on #11940
Thanks to everyone at FB Open Source, ❤ from Senegal!

[2017-12-31 23:34] sachinjha1 commented on #11940
Thank you! React has changed my life :)

[2017-12-31 23:40] JMontagu commented on #11940
Thank you from London!

[2017-12-31 23:45] hzbrz commented on #11940
Thanks to you and your awesome work this year guys felizz navidad and a happy new year from the boddom of my hearth

[2017-12-31 23:45] BoilingOil commented on #11940
Thank You So Much!

[2017-12-31 23:45] aTaQu commented on #11940
Thank you guys, your work is amazing thank you for making developing a fun thing instead of a boring
 chore❤

[2017-12-31 23:48] peterpme commented on #11940
Thank you! <3 <3 <3 <3

[2017-12-31 23:52] Daniel15 commented on #11940
Thank you to all the open source teams at Facebook! Not just the large projects (React, Jest, Yarn, Buck) but also the smaller projects that don't get quite as much recognition :)

[2017-12-31 23:53] timmfin commented on #11940
Thanks to all!

[2017-12-31 23:56] markus-willems commented on #11940
Thank you and happy new year everyone! Much health and good code!

[2018-01-01 00:01] gaearon commented on #11940
Thanks :-). This is very sweet.

[2018-01-01 00:03] PeterPanen commented on #11940
Thanks to everyone involved! Makes my every day life so much better :)

[2018-01-01 00:04] ahylton19 commented on #11940
Thank you 🤗❤️

[2018-01-01 00:11] goto1 commented on #11940
Thank you. I've been using React for some time now and I am enjoying it! Your hard work is very much appreciated.

[2018-01-01 00:11] Tetheta commented on #11940
Yes many thanks! I use so many of Facebook's excellent tools and frameworks every day and it's made my development experience immeasurably more enjoyable. Keep on doing what you're doing!

[2018-01-01 00:12] khanh2003 commented on #11940
Thank you, you made web development fun again. I used jQuery in the past and it was a nightmare to synchronize the UI with my app's internal state. With React and Redux, the UI is automatically synchronized with the state, so my code is less cluttered with "synchronization code". Before using React, I had all my code in a single JS file. When I was introduced to React, I learned to split my code i

[2018-01-01 00:12] emretekince commented on #11940
Thank you!!

[2018-01-01 00:13] NiksonX commented on #11940
I thank all of you! 🕛🎈🙌🎊🎇

[2018-01-01 00:15] jimmybaker commented on #11940
Thank you!

[2018-01-01 00:15] FacundoGFlores commented on #11940
Thank you very much! It's a pleasure to work with this environment!

[2018-01-01 00:47] MmtBkn commented on #11940
Thanks for making them happen!

[2018-01-01 00:48] dudeinthemirror commented on #11940
you guys did the unthinkable: made me convert from an iOS native die-hard into a platform agnostic, react-native evangelist. To everybody behind react, react-native, flow, jest: kudos, thank you and keep up the good work in 2018 and beyond!

[2018-01-01 00:48] TigleyM commented on #11940
Thank you!

[2018-01-01 00:54] EmaSuriano commented on #11940
Thank you and happy new year! 🎉

[2018-01-01 01:00] Rud156 commented on #11940
React was one of the first JavaScript Frameworks I looked at but I didn't get it at that time. But now when I understand it properly. I've fallen in love with it. So a huge Thank You. Also a Happy New Year

[2018-01-01 01:09] brentertz commented on #11940
Thank you!!

[2018-01-01 01:10] avesus commented on #3009
Yay, lovely! Thank you all for the great work!

[2018-01-01 01:18] tharakawj commented on #11940
Thank you and happy new year to all! ❤️
I learned a lot from this amazing community!

[2018-01-01 01:21] sdarmaputra commented on #11940
Thank you to all of your hard works. You guys inspired me a lot.  Keep being awesome! :clap: :tada:

[2018-01-01 01:30] sompylasar commented on #11940
Thank you for all the hard work! Happy New Year, more Open Source to come! 🎆🎇🎉

[2018-01-01 02:02] jandrell-formoso commented on #11940
Thank you! You're all an inspiration. Happy New Year! 🎉 🎉 🎆

[2018-01-01 02:04] byronanderson commented on #11940
Thank you so much for everything you do! ❤️❤️❤️❤️

[2018-01-01 02:13] email2vimalraj commented on #11940
Thank you everyone who made the React and made open source. One of my resolution of this year is to atleast raise one PR in react and merged.

[2018-01-01 02:25] gattigaga commented on #11940
Thanks for Facebook to make React ecosystem open source... 👏👏👏

Thanks for contributors to make React ecosystem better... 💪💪💪

[2018-01-01 02:46] monkindey commented on #11940
Thank you!  Learn a lot from you.

[2018-01-01 03:02] SKarajic commented on #11940
Thank you guys for making one of the most intuitive and gamechanging libraries since jQuery. Massive respect for all the work you guys do and have it be Open Source for the community. It is mindboggling how much it has advanced webdevelopment as a whole. Sure angular might have been the first around and Vue might be simpler in some cases, but in my opinion React really hits the sweetspot for the a

[2018-01-01 03:07] MurshidMac commented on #11940
Thanks a lot  @gabegreenberg  for the awesome work @reactjs . Wish you the same :)

[2018-01-01 03:26] sandiprb commented on #11940
Thank you Team React!

[2018-01-01 03:46] itsmebins commented on #11940
Thank you Facebook ReactTeam! For making web/native development such a joy! ❤️❤❤❤👌👍

[2018-01-01 03:50] buoyantair commented on #11940
Thank you React Team!

[2018-01-01 04:02] broerjuang commented on #11940
Thank you React Team! 🎉😍 love your awesomeness!

[2018-01-01 04:14] ThisIzKp commented on #11940
Thank you react team :-)

[2018-01-01 04:15] senthilbalajiganesan commented on #11940
Thank you react team!! coming years will great for all!!

[2018-01-01 04:19] lulato commented on #11940
Muchas Gracias!

[2018-01-01 04:26] quincycs commented on #11940
Thank you for providing a platform that is so productive that it’s fun.  Made my job 1000% better every day for years

[2018-01-01 04:29] kbuechner commented on #11940
Thank you so much! Your hard work is very appreciated. Looking forward to what 2018 brings!

[2018-01-01 04:40] michaelgichia commented on #11940
Thank you everyone on @react team.

[2018-01-01 04:54] Zephir77167 commented on #11940
Thank you a lot for your hard work!

[2018-01-01 05:01] blackxored commented on #11940
Thank you!!!

[2018-01-01 05:29] lrn2prgrm commented on #11940
Thank's guys you are awesome =)

[2018-01-01 05:48] tataton commented on #11940
Thanks for an amazing 2017, and here's to an incredible 2018 to come!

[2018-01-01 05:49] M-ZubairAhmed commented on #11940
Thank you Facebook

[2018-01-01 06:01] onstash commented on #11936
Happy New Year, @aweary! Thank you for helping me out with this issue. 😃

[2018-01-01 06:04] prometheansacrifice commented on #11940
I'm really grateful for Prepack. Partial evaluation, Symbolic Execution, Abstract Interpretation: These advanced concepts can only be learnt in theory. Seeing them in action in a an open source project has made these program specialisation techniques accessible to everyone: specially those without formal education. Thank you very much for it.

Ofcourse, thank you for React and it new direction too

[2018-01-01 06:07] kapilgorve commented on #11940
🙏🙏🙏

[2018-01-01 06:23] sdelrio0 commented on #11940
Thank you! 🙏

[2018-01-01 06:56] jk-gan commented on #11940
Thank you React Team! 😃 I really love what you guys doing. Your hard work is very much appreciated.

[2018-01-01 07:44] meetzaveri commented on #11940
Thank You React team and Facebook Open-Source team for making React Ecosystem.

[2018-01-01 07:48] shirazz commented on #11940
Thanks to all the open source developers out there 👍

[2018-01-01 08:26] antonybudianto commented on #11940
Thank you React team! 👍

[2018-01-01 09:13] kaloudiyi commented on #11940
Thank you guys for such great tools. I wish you the best for this new year :-)

[2018-01-01 09:14] cdimitroulas commented on #11940
Thank you so much!

[2018-01-01 09:26] khalid283 commented on #11940
Thank You React Team and all the open-source contributors. 🎉

[2018-01-01 10:40] nguyenmanh1507 commented on #11940
Thank you!!!!

[2018-01-01 10:52] ndelangen commented on #11940
A huge thanks from the entire [Storybook team](https://github.com/orgs/storybooks/people) for the awesome software and the support 👏 🙇 🙏 👍

[2018-01-01 11:05] AhmedAbdulrahman commented on #11940
I want to thank this great team for making Amazing work! Keep the great work up
:heart_eyes: :heart_eyes:

[2018-01-01 11:07] anil26 commented on #11940
Thank you React team for making learning so easy !!

[2018-01-01 11:09] infu commented on #11940
Thanks, you rock, react is awesome!

[2018-01-01 11:21] energydrink9 commented on #11940
Thank you! You rock!

[2018-01-01 11:22] AAGSICON commented on #11940
Thank you

[2018-01-01 12:08] therealchiko commented on #11940
Thank you!

[2018-01-01 12:15] santhosh77h commented on #11940
Thank you for making development easier and effective....to all the contributors have a great years ahead.

[2018-01-01 12:18] superherointj commented on #11940
Thanks for all the hard work!

[2018-01-01 12:18] fidellr commented on #11940
Thanks a lot for making this framework to help our development easier and we're from Indonesia very grateful for your (react team and all contributors) hard works!

[2018-01-01 13:28] sbaudray commented on #11940
Thanks for your awesome work !

[2018-01-01 13:33] Havret commented on #3005
Is it still true that under the hood React uses onClick to trigger onChange event? I'm struggling with checkbox implementation for edge and it seems it does not fire onChange event if checkbox in in indeterminate mode. I have made a workaround using using onClick event handler but it shouldn't be necessary.

[2018-01-01 13:38] pandaiolo commented on #11940
Thank you guys for open sourcing all the tools that makes my everyday job more more pleasant (and efficient) !

[2018-01-01 14:04] preco21 commented on #11940
Thank you all react guys! Keep up the awesome work :heart: :sparkles: :fire: :tada: :metal: !

[2018-01-01 14:09] candy901122 opened #11943 "<button className="square" onClick={()=>props.onClick()}> works, props.onClick doesn't."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar (template for React 16: https://jsfiddle.net/Luktwrdm/, template for React 15: https://jsfiddle.net/hmbg7e9w/).**

**What is the expected behavior?**

[2018-01-01 14:51] eharango commented on #11940
Thanks for everything guys! happy new year from Perú!

[2018-01-01 14:55] xeno commented on #11940
Thanks everyone!

[2018-01-01 14:59] landvibe commented on #11940
Thank you!
React changed my career and I love it.

[2018-01-01 15:24] jquense commented on #11943
Can you provide a working reproduction please, thanks

[2018-01-01 15:34] gaurav-pantelwar commented on #11940
Thanks for Everything you guys do such hard work for us.

[2018-01-01 17:01] rodrigopivi commented on #11940
w00t w00t, thank you all!

[2018-01-01 17:04] AlexandreCarlos commented on #11940
Thank you! 👍

[2018-01-01 17:14] sapetti commented on #11940
Thanks!!

[2018-01-01 17:57] codyspate commented on #11940
Thanks for working hard!!!

[2018-01-01 18:45] Negan1911 commented on #11940
Thanks a lot, i really enjoy working with this technologies every day and can't see working without them

[2018-01-01 18:59] leomoreno commented on #11940
Really a great and very inspiring work folks, keep it coming 👏👏👏👏

[2018-01-01 19:04] PhilipDavis commented on #11940
Thanks for everything!

[2018-01-01 19:20] aqumus commented on #11940
Thanks to each one of you 👍

[2018-01-01 19:27] checkmatez commented on #11940
Thank you!

[2018-01-01 19:53] ryota-murakami commented on #11940
Thank you:smile:

[2018-01-01 19:58] t-adedotun commented on #11940
Thanks for the far-reaching good work!

[2018-01-01 20:02] shergin commented on #11940
❤️

[2018-01-01 20:50] lannify commented on #11940
Thank you for making development a lot more fun! Keep up the awesome work!!

[2018-01-01 21:09] iamclaytonray commented on #11940
Thank you to everyone from Facebook and every contributor, across all of Facebook's OSS!

[2018-01-01 21:25] cbfranca commented on #11940
Thank you!!!

[2018-01-01 21:32] jonathaningram commented on #11940
Onya team!

[2018-01-01 21:50] jeremy-donson commented on #11940
MANY Thanks! 👍

[2018-01-01 22:51] du5rte commented on #11940
Thank you 🙏

[2018-01-01 23:14] cr0cK commented on #11940
Spending 8h per day on React since 3 years, still enjoying it. Thanks you and looking forward future evolutions ! 🙏

[2018-01-01 23:59] spadin commented on #11940
Thank you!

[2018-01-02 01:08] flppv commented on #11940
Thanks!

[2018-01-02 01:25] lucasterra commented on #11940
Thank you for all your hard work on React! ❤️

[2018-01-02 01:34] devisscher commented on #11940
Thank you!

[2018-01-02 01:38] adcar commented on #11940
Thanks for being open source!

[2018-01-02 02:34] jonmajorc commented on #11940
Thank you all for all the work! 🔥❤️😃

[2018-01-02 02:59] SureshUnnikrishnanFL commented on #11940
Thank you for the fantastic open source frameworks👏👏 and all the hard work to keep it that way ❤️😃👍

[2018-01-02 03:07] ogwh opened #11944 "Curly braces are pointless and ugly"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Curly braces are required to delimit Javascript expressions in JSX attributes.

<MyComponent foo={bar(1, 2, 3)} />

**What is the desired behavior?**
All Javascript expressions can be expressed without the need for {}.

<MyComponent foo=bar(1, 2, 3) baz="quirk" life=42 pi=3.1415 sum=(x + y) fancy=`

[2018-01-02 03:21] jishaal commented on #11940
Thanks a lot team! 🙏💯

[2018-01-02 03:35] petercr commented on #11940
Thanks Team Facebook for all the hard work that you've put into React 😻 🥇 You have a great way of tying THML/CSS/JS together in a beautiful looking and functioning system :shipit: 💯

[2018-01-02 04:13] abbiecat commented on #11940
Thanks team! Happy New Year 😄

[2018-01-02 04:13] tororudy commented on #11940
Thanks a lot facebook team!

[2018-01-02 04:16] inlightmedia commented on #11940
You guys are an inspiration, thank you!

[2018-01-02 04:36] aLIEzsss4 commented on #11940
hello world!

[2018-01-02 05:36] ranjeetsingh12 opened #11945 "How to get response from CustomTabs in react-native"
I have created button to open CustonTabs to use external url into React-native app. external url have some forms that are submitted and return array as a response into another page i.e success page. I want  to get response from success page into app and  CustomTabs would be close automatically.  code for custom tab:-

[code]

how can i get response from CustomTabs into my app  and close CustomTabs

[2018-01-02 06:06] kaynz commented on #11940
Thank you very much for all your work!

[2018-01-02 06:19] MitulIslam commented on #11940
Thank you very much for all your work!

[2018-01-02 06:23] rockieroshan commented on #11940
Happy new year!! lets rock again!!

[2018-01-02 07:27] haraldrudell commented on #11005
Hey you,

Here’s what @facebook should be using:

https://github.com/haraldrudell/ECMAScript2049/tree/master/packages/es2049scripts

It’s my stuffs that on-the-fly transpiles build scripts right when you issue a scripts command. I spent five years doing everything that ended up in the wrong. That there on github is best evidence as of 2018.

That’s what I have been using for all these years. Baffl

[2018-01-02 07:53] xuanheScript commented on #11940
Thank you! 👍

[2018-01-02 08:17] Miralo commented on #11940
Thank you for your amazing work! :-)

[2018-01-02 08:38] nellochen commented on #11940
Thank you for the hard work! Keep it up!

[2018-01-02 09:18] gzhappysky commented on #11940
Thanks guys, thanks Dan!

[2018-01-02 09:42] Kiwka commented on #11940
thanks for all work that was done to make such cool products - not only React, but also Jest and Immutable available for everyone

[2018-01-02 10:22] opr commented on #11940
Thanks facebook team, you've made something amazing <3

[2018-01-02 10:33] Eranikid opened #11946 "React+Webpack+Typescript: fine with react v15, but fails to resolve 'react-dom' with react v16"
tsconfig.json:
[code]
webpack.config.js
[code]
app.tsx:
[code]
With Reqct 15:
[code]
Everything is fine:
[code]
But with React 16:
[code]
It fails to resolve 'react-dom':
[code]
What is the cause for such behavior?
[code]

[2018-01-02 10:49] gaearon commented on #11946
Please provide a full project reproducing this.

Unfortunately typically when people post separate files and instructions to reproduce, the issue ends up being unreproducible. So we ask that you publish a complete project on GitHub (and verify that following your instructions still reproduces it). Thanks!

[2018-01-02 10:51] gaearon commented on #11944
This is not a React issue, but a JSX one. Let’s keep track of it in the right repository.

https://github.com/facebook/jsx/issues/25
https://github.com/facebook/jsx/issues/51
https://github.com/facebook/jsx/issues/64

[2018-01-02 10:51] #11944 closed

[2018-01-02 11:33] Eranikid commented on #11946
[code]

[2018-01-02 12:03] ranjeetsingh12 opened #11947 "react-native-custom-tabs not return response"
I have created button to open CustonTabs to use external url into React-native app. external url have some forms that are submitted and return array as a response into another page i.e success page. I want to get response from success page into app and CustomTabs would be close automatically. code for custom tab:-

[code]

[2018-01-02 12:10] dimooze commented on #11940
Thaaaaaaaanks !!!

[2018-01-02 12:33] safaorhan commented on #11940
Thank you for contributing to the open source universe. Your hardwork is appreciated all over the globe 🤗

[2018-01-02 13:04] blling commented on #11940
How long is the Christmas holiday?

[2018-01-02 13:05] gaearon commented on #11940
Some of us are back today so I think we can close this.
Thanks again, and hoping we won’t disappoint you this year either!

[2018-01-02 13:05] #11940 closed

[2018-01-02 13:06] gaearon commented on #11947
Hi! We use the issue tracker for bug reports and feature requests for React itself.

If you have a question, please check our community support resources:
https://facebook.github.io/react/community/support.html

[2018-01-02 13:06] #11947 closed

[2018-01-02 13:10] gaearon commented on #7071
Our headers look like this.

[code]

so that should be enough.

[2018-01-02 13:10] #7071 closed

[2018-01-02 13:12] blling commented on #11940
Nice to see you Dan, miss all of you a lot :)

[2018-01-02 13:12] gaearon commented on #8898
@zpao Still wanna do it?

[2018-01-02 13:13] gaearon commented on #9834
I don’t really see this issue progressing without an RFC.
So if someone feels strongly about this, please create one:
https://github.com/reactjs/rfcs

Thanks!

[2018-01-02 13:13] #9834 closed

[2018-01-02 13:16] gaearon commented on #3528
I believe Enzyme probably provides this: http://airbnb.io/enzyme/

I'd encourage everyone to check it out. I don't see us expanding the current TestUtils APIs since they're a pain to work with and people tend to prefer Enzyme.

[2018-01-02 13:16] #3528 closed

[2018-01-02 13:19] vikramcse commented on #11299
hi, @gaearon  is there something that I can do in `ReactErrorUtils-test.js`

[2018-01-02 13:19] gaearon commented on #3213
I’m closing because it appears like the issue doesn’t affect the vast majority of users. If you have a strong opinion about fixing it, you’re welcome to propose a plan for how we should change our usage of `window`. The link you used no longer works so I’m finding it difficult to guess what you meant. Thanks!

[2018-01-02 13:19] #3213 closed

[2018-01-02 13:20] rockieroshan commented on #11940
i am learning React and redux since a while.
i would like to contribute and learn more things.
is there any way to do that?
sorry if this sounds dumb..

[2018-01-02 13:22] gaearon commented on #3557
React doesn’t have a notion of current mode anymore so this shouldn’t be an issue.
If you still see this with React 16 please provide a reproducing project.

[2018-01-02 13:22] #3557 closed

[2018-01-02 13:26] gaearon commented on #4019
We have a bunch of tests using `setState` with shallow renderer now. Also the new shallow renderer doesn't use `getActiveElement()` anyway.

[2018-01-02 13:26] #4019 closed

[2018-01-02 13:58] gaearon commented on #4302
I'd suggest just using `PropTypes.checkPropTypes()` in unit tests instead these days.

[2018-01-02 13:59] gaearon commented on #4302
Never mind my last comment, it's wrong. `checkPropTypes()` doesn't *return* the failures (and it also deduplicates them). Maybe we should expose something there that doesn't.

[2018-01-02 14:01] nicastelo commented on #11940
Thank you for all your effort and hard work guys! You all are amazing.
Happy new year!

[2018-01-02 14:04] gaearon commented on #5138
Meh. I don’t see us fixing this. We rely on `Symbol.for()` in more places. Even if provided `elementFromObject()` those cases would still be broken. So arguably it’s even worse as it would further narrow down the cases where it breaks (but not completely fix it).

Our suggestion is: if you use a Symbol polyfill, it is on you to ensure it’s the same one used globally throughout your code. We’re hap

[2018-01-02 14:04] #5138 closed

[2018-01-02 14:06] gaearon commented on #5472
I don’t see this happening any time soon. The way React typings are implemented in Flow have more to do with Flow than with React. In practice keeping the typedefs located here won’t change this constraint, but will make it harder for Flow folks to iterate on them.

[2018-01-02 14:06] #5472 closed

[2018-01-02 14:14] gaearon commented on #5867
I don’t see what kind of IDs could be provided by React that can’t be determined by the user code.

That sounds like the crux of the problem? Rendering different things on the client and on the server is not supported, at least *during the first client-side render*. Nothing prevents you, however, from first rendering a subset of the app that is the same between client and server, and then do a `se

[2018-01-02 14:14] #5867 closed

[2018-01-02 14:15] gaearon commented on #6263
If you’re still interested in this, I think we’ll need an RFC to continue the discussion.
https://github.com/reactjs/rfcs

[2018-01-02 14:15] #6263 closed

[2018-01-02 14:17] gaearon commented on #6489
Closing per lack of response.

[2018-01-02 14:17] #6489 closed

[2018-01-02 14:19] gaearon commented on #6541
Please don‘t +1. If you’d like to see this fixed, please help figure out why this happens and/or contribute a fix.

[2018-01-02 14:25] jquense commented on #5867
@gaearon I don't know that the issue is that it _can't_ be solved outside of react, but the React implementing it can go a long way towards improving the ergonomics of implementing a11y in React apps. For instance if there was a react API, we could use it in react-bootstrap, and not have to require a user to add a seemingly-to-them unnecessary umpteenth Provider component to their root, to use RB'

[2018-01-02 14:25] gaearon commented on #6622
In React 16 we now actually diff against the DOM.
Since 16.1.0, we also provide an attribute to mark intentional differences.

https://reactjs.org/docs/dom-elements.html#suppresshydrationwarning

That’s a bit different from what you’re describing though. It’s hard to answer your specific question without seeing a very small example that reproduces exactly the case you are seeing. I’ll close this b

[2018-01-02 14:25] #6622 closed

[2018-01-02 14:30] gaearon commented on #7128
I think the right solution to this is to attach event listeners per root.
That solves both this and other issues.

https://github.com/facebook/react/issues/2043

[2018-01-02 14:30] #7128 closed

[2018-01-02 14:36] ogwh commented on #11944
Thanks for the pointer.

[2018-01-02 14:45] gaearon commented on #6467
I don’t see us investing effort into supporting this.

For the past few years, browser vendors have been avoiding using prefixes for new features.
So I understand this is still a bit of a pain, but eventually it will go away:

— Blink (https://www.chromium.org/blink#vendor-prefixes)

— WebKit (https://webkit.org/blog/6131/updating-our-prefixing-policy/)

— Firefox (http://lists.w3.org/Archives/Pub

[2018-01-02 14:45] #6467 closed

[2018-01-02 14:51] gaearon commented on #7552
It sounds to me like this is just trying to work around the real problem (HOC pattern pollutes props) with a solution that further obscures it.

We are looking at revamping the context API in a way that doesn’t present this problem. Would this help you?
https://github.com/reactjs/rfcs/pull/2

[2018-01-02 14:52] gaearon commented on #7759
Seems like we went with this as an alternative. https://github.com/reactjs/rfcs/pull/2

[2018-01-02 14:52] #7759 closed

[2018-01-02 14:53] gaearon commented on #8344
Seems like we don't need this now. We enforce `'use strict'` in ES5 files, and don't need it in files using ESM. This is correctly enforced too.

[2018-01-02 14:53] #8344 closed

[2018-01-02 15:00] gaearon commented on #5867
I think to progress further this would need to be an RFC.
It's kind of vague right now so it's hard to discuss.

https://github.com/reactjs/rfcs

If someone who's directly motivated to fix it (e.g. a RB maintainer :-) could think through the API, we could discuss it and maybe even find other use cases as well. (I agree it's annoying to have many providers, @acdlite also mentioned this in other con

[2018-01-02 15:03] gaearon commented on #9266
The proposed context API solves this (https://github.com/reactjs/rfcs/pull/2) and we don't plan changes to the existing one so I think this is not relevant anymore.

[2018-01-02 15:03] #9266 closed

[2018-01-02 15:06] gaearon commented on #9866
Sorry, we've been pretty busy wrapping things up before the holidays. I'll try to do a pass through PRs in the next few days.

[2018-01-02 15:09] gaearon commented on #10176
Not a problem anymore.

[code]

I probably fixed it in https://github.com/facebook/react/pull/11389, specifically in https://github.com/facebook/react/pull/11389/commits/1bd389f32936faa90ebf7830939d090b0a3b0765.

[2018-01-02 15:09] #10176 closed

[2018-01-02 15:17] #10620 closed

[2018-01-02 15:20] gaearon commented on #10774
There was no complete reproducing example or a fiddle so I’m closing.

It takes a lot of time to investigate reports so unfortunately we can’t focus on the ones that don’t provide the reproducing code ready to run.

[2018-01-02 15:20] #10774 closed

[2018-01-02 15:23] gaearon commented on #11027
It seems like practically there’s not enough demand for this. So we’ll leave it as is.

[2018-01-02 15:23] #11027 closed

[2018-01-02 15:24] gaearon commented on #11067
Seems like we consider this an error in user code and don’t plan to fix.

[2018-01-02 15:24] #11067 closed

[2018-01-02 15:25] gaearon commented on #11092
All of this sounds great. Do you think you could start a PR to get things rolling?

[2018-01-02 15:26] gaearon commented on #11189
Seems like this is the best we can offer:

[2018-01-02 15:26] #11189 closed

[2018-01-02 15:29] gaearon commented on #11233
Closing in favor of https://github.com/facebook/react/issues/11233.
To be honest I'm not sure this release will happen given we're dedicating all effort to 16.x.

But if you can persuade @nhunzaker or @jquense to do this, maybe it will. :-)

If licensing is the only issue you're running into, you can rebuild `dist/react.js` and `dist/react.min.js` yourself from 15.6.2. The underlying npm modules h

[2018-01-02 15:29] #11233 closed

[2018-01-02 15:30] gaearon commented on #11275
Meh on other things in the checklist. If they come up again we might do it.

[2018-01-02 15:30] #11275 closed

[2018-01-02 15:33] gaearon commented on #11313
Since you're creating a higher level wrapper, you might as well provide your own `createFactory()` that provides these semantics.

[2018-01-02 15:33] anthuswilliams commented on #10774
Sorry mate, I had forgotten about this. I'll try to put together a fiddle when I can find the time and reopen later.

[2018-01-02 15:33] gaearon commented on #11322
This is a bit vague and hard to address.
These kinds of suggestions are best submitted as RFCs which require you to think through it in more detail.

You're welcome to submit one:
https://github.com/reactjs/rfcs

Thanks!

[2018-01-02 15:33] #11322 closed

[2018-01-02 15:35] gaearon commented on #11344
I’ll close since there is very little activity on this issue, and nobody created a small React-only example that demonstrates it’s indeed an issue with React itself.

[2018-01-02 15:35] #11344 closed

[2018-01-02 15:38] polco commented on #11946
don't know if that will help but your react types are based on the previous major version
[code]

[2018-01-02 15:38] gaearon commented on #11344
I've also just run your example and I can't understand from your description which exactly steps I was supposed to perform to demonstrate the issue. The screenshot of DevTools did not help me (what exactly was I supposed to see in it?)

[2018-01-02 15:41] gaearon commented on #11554
I’ll close this. I think in general we’d be happy to take PRs to our docs FAQ section for different tools.

[2018-01-02 15:41] #11554 closed

[2018-01-02 15:42] gaearon commented on #11586
I'm going to close this in favor of https://github.com/facebook/react/issues/10711.

[2018-01-02 15:42] #11586 closed

[2018-01-02 15:43] gaearon commented on #11601
Please re-file this in https://github.com/reactjs/reactjs.org if it's still a problem. Thanks.

[2018-01-02 15:43] #11601 closed

[2018-01-02 15:45] gaearon commented on #11640
I'm struggling to understand what exactly you want.

For questions about React, I encourage you to check out community support resources:
https://reactjs.org/community/support.html

`setState()` inside `componentWillReceiveProps()` will only produce one re-render. This is intentional. It’s not clear to me why (and whether) you’d want two renders instead. A more practical example would probably hel

[2018-01-02 15:45] #11640 closed

[2018-01-02 15:47] gaearon commented on #11645
The truth is we don’t really have a long-term roadmap.

Watching and participating in https://github.com/reactjs/rfcs is probably the best way to stay informed on changes we’re making in the next months.

[2018-01-02 15:47] #11645 closed

[2018-01-02 15:48] gaearon commented on #11670
Could you please turn this into an RFC?
https://github.com/reactjs/rfcs

[2018-01-02 15:48] gaearon commented on #11679
Closing per lack of response.

[2018-01-02 15:48] #11679 closed

[2018-01-02 15:48] j-f1 commented on #11586
How are these related @gaearon?

[2018-01-02 15:49] gaearon commented on #10181
Doesn't seem like there's anything for us to do here.
I'll close again, but if it's our fault let us know.

[2018-01-02 15:49] #10181 closed

[2018-01-02 15:50] gaearon commented on #11781
`react-hot-loader` is not an officially supported or endorsed project. If you're using it, you're taking on experimental tech and everything that comes with that.

[2018-01-02 15:50] #11781 closed

[2018-01-02 15:51] gaearon commented on #11838
Sure, if it reproduces the problem and doesn't have third party dependencies.

[2018-01-02 15:54] gaearon commented on #11843
You are reporting a problem with *hot reloading*. It's not a supported feature of React itself. The package you're using with it has been deprecated. I recommend removing `react-transform-hmr` from your Webpack config and waiting until there's an official hot reloading solution, or working on your own.

[2018-01-02 15:54] #11843 closed

[2018-01-02 15:57] gaearon commented on #11855
I think `scryRenderedComponentsWithType()` accepts a *component instance* as first argument, not a div.

I agree the API is confusing there. In practice most people are using Enzyme (https://airbnb.io/enzyme/) these days so I don't think we'll invest much work into fixing this. I encourage you to try Enzyme.

[2018-01-02 15:59] gaearon commented on #11857
I'm going to close because it's likely not a React bug *and* it probably only affects 15.x which we aren't actively working on anymore. You're welcome to try updating to React 16 and see if the issue persists.

[2018-01-02 15:59] #11857 closed

[2018-01-02 16:00] gaearon commented on #11899
Closing as we couldn't reproduce. If this us a problem please provide a full reproducing example.

[2018-01-02 16:00] #11899 closed

[2018-01-02 16:00] gaearon commented on #11902
We should probably provide a better error message if component type is undefined.

[2018-01-02 16:02] #11808 closed

[2018-01-02 16:04] gaearon commented on #11817
Can you point me to where exactly does it say that those events don’t work? An example fiddle would also help.

[2018-01-02 16:08] STRML commented on #5138
This action would still be relevant:

Simply return true from ReactElement.isValidElement() if there is no global Symbol and the input is an object with a `$$typeof` property. There will be no real security here in ES5 environments without a global polyfill unless we're willing to claim Infinity, and even then it doesn't save us from structured cloning vectors.

The magicnum can be trivially bypas

[2018-01-02 16:25] mihir478 commented on #11940
Thank you! Happy 2018!

[2018-01-02 16:40] jquense commented on #5867
that's fair! I'll see if i can get some time to put a proper RFC together

[2018-01-02 16:42] n8mellis commented on #5867
@jquense I'd love to be involved in the RFC as well. I (obviously) have a vested interest in seeing something like this come to fruition.

[2018-01-02 16:44] jquense commented on #5867
@n8mellis if you want to take the lead on it, i'd be happy to contribute. I'm not particularly rich in time at the moment, but i'd be happy to help out :)

[2018-01-02 16:44] maurocolella commented on #11817
My bad, it doesn't. For Chrome 55, a blog post about changes mentions this:
https://developers.google.com/web/updates/2016/11/nic55#pointer-events

I am not able to reproduce the issue if I attach the handler to the target element using vanilla javascript. But I _have_ distinctly observed `MouseDown` and `MouseUp` not firing properly under some circumstances, and there are open bug reports (in unr

[2018-01-02 16:46] mmiller42 commented on #7552
Ah, yeah, this is cool. I didn't want to use context because the current API didn't really seem much better than props, since it still deals with context collisions and such. Nice proposal! :+1:

[2018-01-02 16:54] gaearon commented on #5138
That would technically not be right, would it? We use other `$$typeof` values too, not just the one for the elements.

[2018-01-02 16:57] gaearon commented on #11826
Can somebody search for (or file) a Chrome bug report please?

[2018-01-02 16:58] #11842 closed

[2018-01-02 16:59] gaearon commented on #11859
Also @clemmy might have context on why this behavior was chosen.

[2018-01-02 17:05] bzhr commented on #11940
Thank you for your great work! Happy 2018!

[2018-01-02 17:08] HeroProtagonist commented on #11902
If no one is working on this I can do it today or tomorrow also happy new year!

[2018-01-02 17:09] gaearon commented on #11902
Sure!

[2018-01-02 17:15] gaearon commented on #11943
It looks like `onClick={props.onClick}` works:

https://codepen.io/gaearon/pen/QvvJOv?editors=0010

Maybe you accidentally wrote `onClick={props.onClick()}`? That won't work:

<img width="907" alt="screen shot 2018-01-02 at 5 15 07 pm" src="https://user-images.githubusercontent.com/810438/34492644-815599d0-efe0-11e7-92b2-e663983307bc.png">

I'll close but if you can provide more info about what do

[2018-01-02 17:15] #11943 closed

[2018-01-02 17:16] gaearon commented on #11945
Please see https://github.com/facebook/react/issues/11947#issuecomment-354762610.

[2018-01-02 17:16] #11945 closed

[2018-01-02 17:18] gaearon commented on #11946
It works for me:

<img width="625" alt="screen shot 2018-01-02 at 5 17 45 pm" src="https://user-images.githubusercontent.com/810438/34492733-e128ea42-efe0-11e7-9836-b647ba940465.png">

[2018-01-02 17:20] gaearon commented on #11946
Did you figure it out?

[2018-01-02 17:24] STRML commented on #5138
Perhaps another way we can duck-type it? The point is, XSS detection without `Symbol` or a polyfill is broken, and we shouldn't fail-closed on a mismatch.

[2018-01-02 17:37] DavidCurtis321 commented on #11940
Get Outlook for iOS
	_____________________________
From: Jishaal <notifications@github.com>
Sent: Monday, January 1, 2018 10:21 PM
Subject: Re: [facebook/react] Facebook Engineers - Thank You For 2017 (#11940)
To: facebook/react <react@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>

Thanks a lot team! 🙏💯

—
You are receiving this because you are subscribed to this thread.
Reply

[2018-01-02 17:41] gaearon commented on #11586
From my reply above:

https://github.com/facebook/react/issues/10711 is the issue tracking "isomorphic" portals (at which point we might as well make them more ergonomic to use).

[2018-01-02 17:45] gaearon commented on #10711
Related: when we do this we might also want to consider renaming it to `<React.Portal>`.
https://github.com/facebook/react/issues/11586

[2018-01-02 17:45] gaearon commented on #10774
Thanks!

[2018-01-02 17:50] jcmnunes commented on #11940
Thank you 🙇‍♂️

[2018-01-02 18:03] Eranikid commented on #11946
Look what I discovered:
[code]

For some strange reason, for react-dom 16, the 'node_modules/react-dom' contains just package.json. What should I try?

[2018-01-02 18:07] haderman commented on #11940
thanks!!!!

[2018-01-02 18:08] sophiebits opened #11949 "Output JUnit XML test metadata for CircleCI"
# @benbraou has claimed this issue. Please give them a chance to work on this.

---

Here's a screenshot of a CircleCI build for another (private) project I'm a part of:

![image](https://user-images.githubusercontent.com/6820/34494194-1d3d3f70-efa4-11e7-87b7-0ca9961b2934.png)

It clearly highlights the parts of the build that failed.

In contrast, see one of our builds: https://circleci.com/gh/fa

[2018-01-02 18:15] gaearon commented on #11946
It definitely exists:

https://unpkg.com/react-dom@16.2.0/

Most likely it's either an npm bug or you're behind a bad npm proxy.

Try updating npm or using Yarn instead.

[2018-01-02 18:15] #11946 closed

[2018-01-02 18:18] Eranikid commented on #11946
`npm cache clean --force` helped me. Thank you for your enthusiasm to help!

[2018-01-02 18:20] gaearon commented on #11946
Awesome, cc @zkat in case that isn't normal (I've heard cleaning the cache should never be necessary as a fix in 5.x)

[2018-01-02 18:25] gaearon commented on #3005
Yes I think that's still true.

[2018-01-02 18:33] robbiemilejczak opened #11950 "setTimeout not working on initial render"
**Do you want to request a *feature* or report a *bug*?**
Bug, I think unless this behavior is intentional.

**What is the current behavior?**

You can see it here: https://jsfiddle.net/wunmrhcj/

Basically I am trying to batch a set of ajax calls by wrapping them in a promise that calls setTimeout.  I've replaced actually ajax calls with calls to console.log() but the affect is the same. The firs

[2018-01-02 18:35] gaearon commented on #11950
Why do you think this is related to React? It doesn't override globals like `setTimeout`.

[2018-01-02 18:40] gaearon commented on #11950
I don't understand from your description what the expected behavior is.

"Delayed" how? I see 10 calls within a few ms the first time, then another 10 calls within a few ms the second time, etc. Which is exactly what I'd expect from the code too. You don't explain *what* is unexpected about it. It's not obvious.

What does "work" mean? There's definitely a 1 second pause between `update()` itself

[2018-01-02 18:42] #4592 closed

[2018-01-02 18:55] robbiemilejczak commented on #11950
@gaearon

I am just assuming it has something to do with React because I'm not sure what else would be causing this.

 In production what I expect to happen is essentially

[code]

so wait 1 second, then make an API call. When my component renders, this doesn't happen and I get rate limited. After 3 minutes this happens again and there is 1 call per second and I am not rate limited.

To clarify, I

[2018-01-02 18:55] zkat commented on #11946
It's reasonable: there were some issues with hash picking for http caches and clearing the cache and using the latest npm after that is probably the easiest solution 😅

[2018-01-02 18:56] dusi commented on #11940
🇨🇿 Děkuji 🇨🇿

[2018-01-02 19:00] gaearon commented on #11950
I think your mental model of how `await` works is slightly wrong. Try to mentally translate it into callbacks and you’ll probably see the mistake.

If you make the *outer* function async and replace `forEach` with a regular `for` loop you’ll get the desired behavior.

[2018-01-02 19:00] #11950 closed

[2018-01-02 19:02] gaearon commented on #11950
This might help:

https://github.com/babel/babel/issues/909#issuecomment-76468515

https://codeburst.io/javascript-async-await-with-foreach-b6ba62bbf404

[2018-01-02 19:03] gaearon commented on #11950
Btw I would’ve understood your original issue if you wrote you expect a one second interval *between* each of the items (rather than once before them all).

[2018-01-02 19:09] thetrompf commented on #11940
Thank you guys!

[2018-01-02 19:11] flarnie commented on #11806
Discussing in the comments we determined that `contenteditable` containers need this polyfill, and it should not be removed after all at this time. I'm closing this issue, but if there are further action items we can open a new issue.

[2018-01-02 19:11] #11806 closed

[2018-01-02 19:19] narek11 commented on #11940
Thanks for your hard work.

[2018-01-02 19:56] sophiebits commented on #11806
The issue may be specific to Draft. If someone wants to investigate and determine exactly what the problem is, maybe we can remove this code from React.

[2018-01-02 20:38] STRML commented on #5138
Only because of ES5 browsers, and only because of the `isValidElement()` check. It will work completely fine in any modern browser (which practically all devs are using for work), so it will go unnoticed unless we do something drastic like *require* the global shim (with an opt-out option in the transform) or create a very loud warning. I don't love either mitigation when `isValidElement()` is not

[2018-01-02 20:44] flarnie commented on #11806
It's an issue with any `contenteditable` div, so anyone using that type of input would need this polyfill, not just Draft.js. My example above is just a div with `contenteditable`. https://codepen.io/anon/pen/ZagBrx?editors=1111

If we really want to remove it, to avoid a 'gotcha' for users we would want a dev-only warning when they use `contenteditable`, and we would want to provide examples of h

[2018-01-02 20:48] sophiebits commented on #11806
Yes, selectionStart does not exist, but we only need it in order to restore selection, which we may not need for Draft. If we moved that logic into Draft then we could skip the selection restoration logic for contenteditable.

We already have a warning against contenteditable saying it's unsupported.

[2018-01-02 21:43] benbraou commented on #11949
I would like to work on this issue!

[2018-01-02 21:45] sophiebits commented on #11949
@benbraou, it's yours!

[2018-01-02 21:47] gaearon commented on #5138
We use `Symbol.for` in more places, and not just for `isValidElement` alone. So those would still be broken. I think you’re looking at the issue from a point of view of a particular transform that depends on the logic. Whereas I’m looking at it from the perspective of being able to use `Symbol.for()` in the codebase in general.

If you mean the Babel plugin in particular, IMO it is expected that p

[2018-01-02 23:20] karthikiyengar commented on #11940
Thank you so much.

+1 for this feature 😋

[2018-01-03 00:06] ryanbelke commented on #11940
Great work!!

[2018-01-03 01:48] artburkart commented on #11940
:+1:

[2018-01-03 01:55] acroyear commented on #11233
We worked around it by adapting our npm "shrinkwrap" (the npm 4.x predecessor to package-lock.json) to explicitly pull in the MIT-licensed fbjs. Using npm means we're not using the contents of dist but rather the contents of each one's lib folder and webpack packages it from there.

[2018-01-03 02:28] lcoder commented on #11940
Thank you!I love React,Great work.

[2018-01-03 03:04] FateRiddle commented on #11640
@gaearon
I took sometime make this [codesandbox demo](https://codesandbox.io/s/ypx8p5q7w1) to illustrate what I mean.

Yesterday I was coding complex js animation into React project, and finding "watcher" will be helpful in so many cases.

Why I want watcher?

[code]
this is vue watcher. I love React more, but two things that I think vue does better is watcher and animation.

1. Essentially, react

[2018-01-03 03:47] craigkovatch commented on #11387
@gaearon I would suggest this is more of a bug than a feature request. We have a number of new bugs caused by mouse events bubbling up through portals (where we were previously using `unstable_rendersubtreeintocontainer`). Is there a way to workaround this before this is addressed in a future release?

[2018-01-03 03:59] zhangenming opened #11953 "is there a Syntactic sugar"
is there a  Syntactic sugar such as
`<FilterableProductTable products={products} />`
to be like
`<FilterableProductTable products />`
?
tks

[2018-01-03 04:12] watadarkstar commented on #11940
Thank you to the best open source community!

[2018-01-03 04:32] jquense commented on #11953
There isn't in jsx at the moment, though there was some discussion around adding it in the jsx spec repo (sorry I'm on a phone otherwise I'd link to it). In any case this is less about react and more about jsx features :)

[2018-01-03 04:32] #11953 closed

[2018-01-03 04:37] jquense commented on #11387
I think it's being called a feature request, because the current bubble behavior of portals is both expected and intended. The goal is that subtree act like real child of their parents.

What would be helpful is additional use cases or situations (like the ones you're seeing) that you don't feel are served by the current implementation, or are difficult to workaround

[2018-01-03 04:41] craigkovatch commented on #11387
I understand that this behavior is intended, but I think it's a significant bug that it's not disable-able.

[2018-01-03 04:56] raybooysen commented on #7711
I'm seeing this in 16.2.0, I assume not fixed.

[2018-01-03 06:41] ihtml5 commented on #11940
Thank you! React is great!

[2018-01-03 06:48] nhducit commented on #11940
thank you!

[2018-01-03 06:51] grabbou commented on #11940
Thanks to Facebook engineers working hard within the open source. Met many great people this year and looking forward working with you again next year!

[2018-01-03 06:55] mehrdaad commented on #11940
I humbly thank and appreciate all of you engineers on Facebook.
SO many great projects wouldn't be possible without your endless efforts!
Thank you

[2018-01-03 09:03] neytema commented on #11387
In my mind library working with DOM should preserve DOM implementation behavior not break it.

For example:

[code]

When I work with DOM, I expect to receive events like DOM implementation does it. In my example events are propagated through **Portal**, working around it's DOM parents, and this can be considered as a **bug**.

[2018-01-03 09:43] VishalGulati commented on #7211
By any chance is that possible to fix this in 15.1.0. I cant update the version unfortunately.

[2018-01-03 09:44] xfcdxg commented on #11940
💪

[2018-01-03 11:36] felipesabino commented on #11940
Thanks! 👏

[2018-01-03 12:39] jquense commented on #11387
Folks thanks, for the discussion but I don't think it's all that helpful to argue whether something is a bug or not. Instead i'd be more productive to discuss the use cases and examples that are not met by the current behavior, so we can better understand if the current way is the best way for the future.

In general we want the API to handle a diverse set of use-cases while hopefully not overly l

[2018-01-03 12:45] gaearon commented on #11640
So, in React you use `componentDidUpdate` for this.

[code]

You can compare `this.props` with `prevProps` in it, and `this.state` with `prevState` and do anything you like.

I don’t agree with you that having a separate “watcher” declaration for a specific value is better:

* “Watchers” have to be created for individual values. But what if your logic is more complex? For example if you want to fi

[2018-01-03 12:47] gaearon commented on #11233
Yep, fair enough!

[2018-01-03 13:53] nhunzaker commented on #3005
Yep! It's using a click event:
https://github.com/facebook/react/blob/master/packages/react-dom/src/events/ChangeEventPlugin.js#L201-L211

Maybe we should revisit this. Looks like this is for IE8. That might also eliminate some issues with #11541 (but not all).

I'll make an issue for it.

[2018-01-03 14:08] Havret commented on #3005
It's kind of strange, that this does not fix the issue with checkboxes in indeterminate mode.

[2018-01-03 14:28] mcjazzyfunky commented on #11313
Thanks @gaearon for your answer.
But unfortunately "createFactory" will not do the job:
The desired logic (to support all the three cases: Component class constructor, simple component function and component factory)  has to be in the "createElement" function and nowhere else.
Of course there will be a "createElement" wrapper that will do that that job (besides a bunch of other stuff).
But if you

[2018-01-03 14:59] gaearon commented on #11098
Answering my own question: jsdom *does* show these errors now. Updating to Jest 22 surfaced them in our test suite.

It turns out that you can `e.preventDefault()` in the `error` event handler for the `window` object to prevent the browser (or jsdom) from logging the error. I didn’t know that.

I think it would make sense to me if React did the same. Here is a minimal patch to React that would do

[2018-01-03 15:16] rmhartog opened #11955 "`react-call-return`: Expected to find a host parent."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
A specific order of unmounting and remounting `unstable_createReturn`s from `react-call-return` causes an invariant violation in `unmountHostComponents`.

**Reproduce**
The following sandbox example crashes with an invariant violation when both the `min` and `cycle` props are *odd* numbers greater than

[2018-01-03 15:41] gaearon commented on #11899
One other possible cause would be if `svg` tags were created outside of React, and were mistakingly created using `document.createElement('svg')` rather than `document.createElementNS('http://www.w3.org/2000/svg', 'svg')`.

[2018-01-03 15:49] gaearon commented on #11899
I misunderstood @aweary’s comment: I thought he couldn’t repro with your original example.
So I decided to try that.

I spent a few minutes spinning up a new React project to try your original code. Unfortunately only after that I realized that the code you provided is not actually runnable as-is. You didn’t wrap the component into a Recharts container, didn’t provide the expected props, etc. I tr

[2018-01-03 16:23] bvaughn commented on #11098
I like the idea of replacing `suppressReactErrorLogging` with `e. defaultPrevented` 👍

[2018-01-03 16:26] craigkovatch commented on #11387
Here's two examples that are broken for us in our migration to React 16.

First, we have a draggable dialog which is launched by a button. I attempted to add a "filtering" element on our Portal use which called StopPropagation on any mouse* an key* events. However, we rely on being able to bind a mousemove event to the document in order to implement the dragging functionality -- this is common bec

[2018-01-03 16:39] shubsengupta commented on #11940
Thank you for being awesome! Cheers to a better internet :) ❤️

[2018-01-03 16:57] gaearon commented on #11098
Tagging as a good issue to look into. Not promising we'll merge a solution, but worth investigating.
Proposed implementation plan: https://github.com/facebook/react/issues/11098#issuecomment-355032539.

[2018-01-03 17:13] iansu commented on #11826
I couldn't find a related issue so I created a new one: https://bugs.chromium.org/p/chromium/issues/detail?id=798762

[2018-01-03 17:56] styfle commented on #11940
![Thank You](https://media1.tenor.com/images/9dac8192b4b475477730e2e00bbcabef/tenor.gif)

[2018-01-03 18:51] samarpanda commented on #11940
Thanks a lot!

[2018-01-03 19:02] iansu commented on #11826
Someone from the Chrome team responded and it sounds like this is an intentional change introduced in this commit: https://chromium.googlesource.com/chromium/src/+/40ccb2581137efc2fc7d2a1041073fa00caed75a

I'd like to investigate this more and see if there's a way we can work around it in React.

[2018-01-03 20:35] walea3 commented on #11940
A massive thank you for your time, energy & passion ... 🌟

[2018-01-03 21:22] banga commented on #11092
Sure. I got a little stuck trying to get the node bundles working because GCC seems to be stripping out the `module.exports = ` part. I was planning to fix that and run some of the build-prod tests to determine how much more work is needed, but if it would be useful to see my progress so far, I can start a PR.

[2018-01-03 22:00] gaearon commented on #11092
I think PR would be helpful even if incomplete.

[2018-01-03 22:08] mueedc commented on #11570
If this issue is still available I'd love to tackle it and contribute to an open source project I use every day

"Adding Props are often declared as objects, later read or transformed, before passing down to DOM would provide a little more clarity as to why camelCase is preferred, rather than just ensuring JS reserved words are not being used."

[2018-01-03 22:08] banga commented on #11092
Alright, I'll start one tonight.

[2018-01-03 22:24] craigkovatch commented on #11387
And to be clear: my request that this be considered a bug is mostly so that it gets prioritized for a fix sooner rather than later.

[2018-01-03 23:56] ruyasan commented on #7552
It's a lovely proposal (I am 👍 for the proposal itself), but not all uses of Symbol props translate to  using contexts instead.  Sometimes you want the locality actual props provide.  Most use cases here have something to do with components that are intentionally coupled with each-other and meant to be used together as a coherent set. Sometimes this works best with contexts (e.g. forms and their f

[2018-01-04 02:49] jonathanchrisp commented on #11573
Hey @aweary, Apologies I appreciate that you only self assigned this a day ago but do you have any timeframe as to when 15.6.3 could be released?

[2018-01-04 03:09] madeinfree commented on #11299
Hi, Does anyone can help me to continue the ReactBrowserEventEmitter-test.js test ? Because I'll busy on my working now no time to keep going, the PR is https://github.com/facebook/react/pull/11713, thank you so much !!

[2018-01-04 03:29] vikramcse commented on #11299
@madeinfree I will take `ReactBrowserEventEmitter-test.js`.

[2018-01-04 04:45] wzup opened #11959 "Is render() pure or not pure?"
[Here you write](https://reactjs.org/docs/react-component.html#render) that `render()` has to return the same result every time:

The very [next part you write](https://reactjs.org/docs/reconciliation.html#motivation) that `render()` can never return the same result:

So is `render()` pure or not pure?

[2018-01-04 04:56] vikramcse commented on #11098
Can I take this issue for my first contribution?

[2018-01-04 05:12] Kovensky commented on #11959
It returns the same result each time it's invoked _if_ you do not change its inputs, which is the props and the state. If you change the input, then it is possible that it returns a different result.

That is still a pure function, for a somewhat loose definition of pure. Pure functions are not allowed to use any state from outside of the function... such as `this.props` or `this.state`, but React

[2018-01-04 08:17] zhangenming opened #11960 "is there a Syntactic sugar like this?"
[code]
so that we can easy to access those Attributes
I want to know is there any problem with this?
new reacter , tks

[2018-01-04 08:37] milesj commented on #11960
This is currently not possible but is under discussion: https://github.com/reactjs/rfcs/pull/4

[2018-01-04 09:26] candy901122 commented on #11943
Thanks for looking into this.

That's right , onClick={props.onClick} works.
My bad, that I use onClick={()=>props.onClick}, which is not work. It should be onClick={()=>props.onClick()}.

We can close this.

[2018-01-04 10:03] sebmarkbage commented on #11387
My mental model of a Portal is that it behaves as if it is on the same place in the tree, but avoids problems such as "overflow: hidden" and avoids scrolling for drawing/layout purposes.

There are many similar "popup" solutions that happen inline without a Portal. E.g. a button that expands a box right next to it.

Take as an example the "Pick your reaction" dialog here on GitHub. That is impleme

[2018-01-04 10:20] zhangenming commented on #11960
@milesj OK, cool, thanks.
And, is there any trap in the trick I'm writing now?

and according to https://github.com/facebook/react/issues/1387#issuecomment-41931037

[code]
thats i think now
I do not know if I understand the mistake
thanks

@sebmarkbage sorry for bothering

[2018-01-04 11:17] johanobergman commented on #11508
@iamdustan Did you find a solution to your problem?

@gaearon I made a simple reproduction of the issue here https://github.com/johanobergman/react-context-render-bug/blob/master/src/index.js.

It seems like updates from a top level container that are blocked by an intermediate `shouldComponentUpdate` still continues down the hierarchy - if and only if a child somewhere deeper sets its state based

[2018-01-04 11:19] methyl commented on #11387
The workaround that worked for me is calling `stopPropagation` directly under portal rendering:
[code]

That works great for me since I have single abstraction component that uses portals, otherwise you will need to fix up all your `createPortal` calls.

[2018-01-04 12:27] AlonBe opened #11961 "setState callback is being called even if the state hasn't been changed"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
As to React 16 [breaking changes](https://reactjs.org/blog/2017/09/26/react-v16.0.html#breaking-changes):

and setState [documentation](https://reactjs.org/docs/react-component.html#setstate)

So I assume that if the component isn't re-rendered, the setState callback won't be called as well.

**If th

[2018-01-04 12:34] jquense commented on #11960
Hey there, we try and keep the issue tracker for bug reports and feature requests. Please check out some of support resources: https://reactjs.org/community/support.html for general questions about react thanks!

[2018-01-04 12:34] #11960 closed

[2018-01-04 13:13] gaearon commented on #11098
Sure.

[2018-01-04 13:29] nhunzaker commented on #11886
Closed by https://github.com/facebook/react/pull/11921

[2018-01-04 13:29] #11886 closed

[2018-01-04 13:31] gaearon commented on #11508
Can you turn this into a failing unit test for the React repo?

[2018-01-04 13:36] johanobergman commented on #11508
I could try. I've further narrowed it down and it seems like it happens when a child and parent component are updated within the same tick, *and* the parent defines `childContextTypes`.

[2018-01-04 14:24] johanobergman commented on #11508
I've added a failing test in my repo: https://github.com/johanobergman/react-context-render-bug/blob/master/src/index.test.js, but I'm not sure where I'd put it in the React repo. Would you mind having a look?

[2018-01-04 15:36] gaearon commented on #11508
You can search for files ending with `-test.js` that contain `getChildContext` :-)

[2018-01-04 15:47] craigkovatch commented on #11387
I'm not sure this question makes sense. If I had this problem inlining the component, I wouldn't inline it.

[2018-01-04 16:22] jquense commented on #11387
I think some of problem here is the some use cases of `renderSubtreeIntoContainer` are being ported to `createPortal` when the tools are doing conceptually different things. The concept of Portal was being overloaded I think.

I agree that in the Modal dialog case, you almost never want the modal to act like a child of the button that opened it. I think tho it's a mistake to say that the portal im

[2018-01-04 16:32] craigkovatch commented on #11387
`renderSubtreeIntoContainer` can't be called from inside of `render` or lifecycle methods in React 16. Portals are the official recommendation: https://reactjs.org/blog/2017/09/26/react-v16.0.html#breaking-changes

I agree that the concept of Portals might have ended up overloaded. Not sure I love the solution of a global component and context for it, though. It seems like this could be easily sol

[2018-01-04 19:06] vladiiancu commented on #11940
Cheers to all! Thank you and have a great 2018.

[2018-01-04 19:09] anil26 opened #11963 "On running yarn start or npm start for fixtures is throwing error."
![yarnerror-1](https://user-images.githubusercontent.com/5938110/34579825-a04d453c-f1b0-11e7-85d1-458e6a9001f2.jpg)

**Do you want to request a *feature* or report a *bug*?**
A bug
**What is the current behavior?**
on running npm start or yarn start in "react/fixtures/dom is throwing errors in terminal.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a mi

[2018-01-04 19:42] #11936 closed

[2018-01-04 20:54] kib357 commented on #11387
I will try to clarify our use-case of the portals and why we would love to see an option for stopping events propagation. In ManyChat app, we are using portals to create a 'layers'. We have the layer system for the whole app that used by several types of components: popovers, dropdowns, menus, modals. Every layer can expose a new layer, e.g. button on a second level of menu can trigger the modal w

[2018-01-04 21:16] alexwolfe commented on #7142
@gaearon Do you have a suggestion for better performance? I have the same problem. Imagine an email application that needs to temporarily highlight the number of unread emails as they come in. You could also see something like this in an application with notifications as they increment (some small animation to draw attention).

Other than using a plugin/library to achieve this, how do you recommen

[2018-01-04 21:27] jquense commented on #7142
The issue here is specific to any css transition and there are plenty of work around. I'd suggest checking out how libraries handle it (zepto is good reference lib). Basically tho you don't need changes to happen on separate ticks but you need to reflow the browser between changes

[2018-01-04 21:37] alexwolfe commented on #7142
@jquense Thanks Jason, I'm looking for the specific/suggested react way to do this which I think would be helpful for those on the thread (or new visitors). I've searched for this quite a bit and haven't seen many good solutions, they all just key off of other libraries. React is opinionated about this behavior since it impacts performance, I would love to see examples of how developers should app

[2018-01-04 22:38] jwbay opened #11964 "State initialization disparity between shallow renderer and ReactDOM"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The shallow renderer defaults a class component's state to empty object if it's not set. "Real" renderers don't seem to do this, so a component can render successfully in the shallow renderer, but fail at runtime in the browser with a null reference error.

**If the current behavior is a bug, please pr

[2018-01-04 22:56] fsahlen commented on #7142
This might not be an optimal solution but I solved it by having duplicate elements (divs) where I assign the css class (flash) alternately. E.g.

[code]

[2018-01-04 23:23] gaearon commented on #11964
This is a bug in the shallow renderer. Want to send a fix?

[2018-01-05 00:06] jquense commented on #7142
the only thing that affects performance here is intentionally destroying and remounting elements via a `key` change.

My point above is that the correct solution is the same regardless of whether its React, Angular or Backbone, you need to deal with the idiosyncrasies of css animation from js.

here is the original example above working: https://codesandbox.io/s/2496rpxlkj

[2018-01-05 00:35] gaearon commented on #10384
If someone comes here looking for a solution for jsdom, a few related links:

https://github.com/facebook/jest/issues/5223#issuecomment-355440432
https://github.com/facebook/react/issues/11098#issuecomment-355032539

[2018-01-05 05:05] sw-yx commented on #9866
no worries at all, i know you've had a ton of stuff on your plate. i briefly chatted with @nhunzaker on twitter about this and am happy to carry on working on this under his guidance.

[2018-01-05 09:19] abilash13 commented on #11940
Thanks for making what React what it is today! We all owe you guys one :P

[2018-01-05 09:28] 1484082125 opened #11968 "Can you add this to this?"
[code]

[2018-01-05 09:31] fipo commented on #11940
Respect guys! Thank you for the hard work, energy and passion. Wish you an awesome 2018!

[2018-01-05 10:22] AnderssonChristian opened #11969 "Add method to remount component"
**Do you want to request a *feature* or report a *bug*?**
A feature

I imagine this might've been brought up before, but I couldn't find any discussions on this after extensive searching...

**What is the current behavior?**

Working with certain (non-react) 3rd party libraries sometimes require you to remount a dom-node, i.e dumping it and creating it from scratch. Currently, the only way seems t

[2018-01-05 12:30] vikramcse commented on #11098
Hi,
I am able to re-produce the issue. [(code)](https://github.com/vikramcse/react-issues/blob/master/11098-suppressing-error-boundary-logs/src/Card.test.js#L15).

**Output**

    console.error node_modules/react-dom/cjs/react-dom.development.js:9747
    The above error occurred in the <Card> component:
        in Card (at Card.test.js:16)

    Consider adding an error boundary to your tree to cus

[2018-01-05 12:36] jquense commented on #11968
Please follow the issue template it's not clear what you are asking

[2018-01-05 12:36] #11968 closed

[2018-01-05 13:53] gaearon commented on #10070
Our latest thinking on this is here: https://github.com/facebook/react/issues/11347#issuecomment-339830484.
I'll close this as outdated but we'd review a PR that does what's described there.

[2018-01-05 13:53] #10070 closed

[2018-01-05 13:56] gaearon commented on #3218
We might still want to do it, but an implementation proposal should clearly explain which mutations are dangerous, and how to detect them and avoid false positives. I closed https://github.com/facebook/react/pull/8829 since it didn't attempt that.

[2018-01-05 14:18] rmhartog commented on #11955
Performing the same sequence of mounts and unmounts with `react-test-renderer` causes the same error, so it appears that the bug occurs in the reconciler.

[2018-01-05 15:10] nhunzaker opened #11971 "Do we need to listen for click on change events?"
Presently, we listen to click events to detect changes on radio buttons and checkboxes. Do we still need to do this?

https://github.com/facebook/react/blob/master/packages/react-dom/src/events/ChangeEventPlugin.js#L198-L211

It looks as though we only do this for IE8. I'm curious about:

- [ ] Can we remove the click dependency from change events?
- [ ] If not, we should update the comments to be

[2018-01-05 15:11] nhunzaker commented on #11971
@jquense do you think this qualifies as a good first issue? For someone interested in picking this up, they would have to:

1. Remove the click event
2. Verify correctness in all browsers using the DOM test fixtures
3. Possibly remove some click event related code in ChangeEventPlugin

[2018-01-05 15:28] gaearon commented on #11098
This sounds like a good first step but then you'll need to use `event.defaultPrevented` in `invokeGuardedCallbackDev` to decided whether the error should be suppressed, and expose this information to the scheduler. In my comment above I outlined a strategy for doing this.

[2018-01-05 15:31] jquense commented on #11971
Our past selves are way a head of us :P https://github.com/facebook/react/pull/10830

[2018-01-05 15:36] nhunzaker commented on #11971
Dang, haha. Fair enough. I'll take another look at that PR.

[2018-01-05 15:55] gaearon commented on #10109
@jquense Does the fix in https://github.com/facebook/react/pull/10149 make sense to you?

[2018-01-05 15:57] gaearon commented on #11896
If I get it right, https://github.com/facebook/react/pull/10150 is an implementation. I'll close it as stale but reference this issue.

[2018-01-05 16:00] gaearon opened #11972 "Remove mouseenter/mouseleave polyfill"
As suggested in https://github.com/facebook/react/pull/10247.
Not sure we want to do it, but I decided to create an issue to track future attempts (the PR is stale).

[2018-01-05 16:01] gaearon commented on #11972
Also related: https://github.com/facebook/react/pull/10269

[2018-01-05 16:14] jquense commented on #11972
The main difficulty with removing the polyfill is the portal support. Unlike all other events, it doesn't fall out naturally from the synthetic event system. #10269 has (i think) the minimum basic code to add portal support back in. The question is whether it's better than the current polyfill /shrug

[2018-01-05 16:21] gaearon commented on #9783
Not convinced this is important. The abstraction is a bit leaky anyway. I don't think we necessarily have to normalize this because I'm not sure in which real world scenarios you actually care about `eventPhase`. And adding bytes to support this doesn't seem worth it.

[2018-01-05 16:21] #9783 closed

[2018-01-05 16:26] gaearon commented on #10085
The last attempt at this was https://github.com/facebook/react/pull/10737 but we didn't review it in time and it grew stale. https://github.com/facebook/react/issues/7300 is a much simpler solution and maybe we should do something like this instead.

If somebody wants to pick this up, let me know. **It's not the easiest task** so you should be relatively comfortable with working on your own, and d

[2018-01-05 16:32] rakeshmenon commented on #11940
A BIG "**### Thank You**" to the entire team @ Facebook...

@gaearon @acdlite @sophiebits @bvaughn @sebmarkbage @tomocchino

...for their tireless efforts towards making React the most loved library!! 🥇 💯

[2018-01-05 16:38] gaearon commented on #10863
I decided not to fix this. Again, it's not a bug: technically HTML allows attributes to have any casing. We're strictly doing less work on React side, and it doesn't make sense to me to do more work to make the output more aesthetically consistent.

If you feel strongly about you're welcome to provide real-world benchmarks from sites heavily using SSR that demonstrate https://github.com/facebook/r

[2018-01-05 16:38] #10863 closed

[2018-01-05 16:39] gaearon commented on #11160
@michaelBenin React should still use the correct attribute names. (In your example, it should emit `http-equiv`.) If you see that it doesn't please file a separate issue.

[2018-01-05 17:04] gaearon opened #11973 "Add React.createRef() as the migration path for string refs"
Creating this issue to track https://github.com/facebook/react/pull/11555. I intend to close the PR as it's outdated, but we probably want to turn it into a real RFC and potentially get it in during 16.x.

[2018-01-05 17:18] gaearon commented on #11570
Sorry, it was the end of the year and we were scrambling to finish the current projects and then went on holidays. That's why the issue got no attention.

I filed https://github.com/reactjs/reactjs.org/issues/484 which I think is a pre-requisite to really fixing this. If you want to help, please chime in there (but it's not a very easy task).

[2018-01-05 17:23] gaearon commented on #11396
We decided to do the opposite: the fix would be to completely disable this patterns since it was never intentionally supported. Iterable functions should be treated as functions, not iterables.

[2018-01-05 17:23] gaearon commented on #11396
So the action item here is to send a PR that completely disables this functionality.

[2018-01-05 17:25] gaearon commented on #11602
Do you want to work on a fix?

That ensures objects have the same shape which helps performance.

[2018-01-05 17:25] gaearon commented on #11911
@mannanali413 Any progress?

[2018-01-05 17:44] gaearon commented on #11955
Wanna try digging into where the bug is?

[2018-01-05 18:08] gaearon commented on #11761
https://github.com/facebook/react/pull/11782

[2018-01-05 18:08] #11761 closed

[2018-01-05 18:26] gaearon commented on #11768
Can you prepare a React-less reproduction of this so we can file a bug against Edge? Or has this been solved in the latest Edge?

[2018-01-05 18:33] gaearon commented on #11768
Fixed in https://github.com/facebook/react/pull/11870 but I'll keep it open. The next action item is to prepare a minimal reproduction that doesn't involve React.

[2018-01-05 18:44] #11964 closed

[2018-01-05 18:49] #11862 closed

[2018-01-05 18:52] dereklieu commented on #11759
Glad this is fixed. Any way this can make it into a release soon?

[2018-01-05 18:54] gaearon commented on #11969
For additions to API, please create a new RFC: https://github.com/reactjs/rfcs
Thanks!

[2018-01-05 18:54] #11969 closed

[2018-01-05 19:00] gaearon opened #11975 "Re-enable coverage"
See https://github.com/facebook/react/pull/11974, https://github.com/facebook/jest/issues/5239.
Jest OOM’d so I disabled it.

[2018-01-05 19:01] gaearon commented on #11759
We'll likely cut a release in a week or so.

[2018-01-05 19:01] gaearon commented on #11759
In the meantime if this is blocking you, you can `yarn build -- dom` from master and grab the builds from `build/dist`.

[2018-01-05 19:14] trusktr commented on #11347
Option 3 is the best option so far, and it can work with SSR, I'll explain an idea of how.

So far all options by themselves, except for 3,

- either create high maintenance burden for everyone outside of React source
- or they force all custom element authors in the entire universe to abide by React-specific rules.

Here's universal rules we all agree on:

- setting attributes with `setAttribute`

[2018-01-05 19:17] gaearon commented on #7552
We have some [very rough ideas](https://cdb.reacttraining.com/react-call-return-what-and-why-7e7761f81843) about solving these use cases too without the notion of private props.

[2018-01-05 19:18] gaearon commented on #7552
We have some [very rough ideas](https://cdb.reacttraining.com/react-call-return-what-and-why-7e7761f81843) about solving these use cases too without the notion of private props.

[2018-01-05 19:18] gaearon commented on #7211
No, we can't fix something in an older minor.

[2018-01-05 19:19] gaearon commented on #11920
Eh, I don't know.

[2018-01-05 19:20] gaearon commented on #11354
Please file a new issue. Maintainers almost never read old issues because they're hard to track and it's not clear if this is a real problem or a misunderstanding.

[2018-01-05 19:21] gaearon commented on #8598
Nowhere does it say that in the documentation. Please check out the docs to see what keys do.

[2018-01-05 19:21] gaearon commented on #8598
Nowhere does it say that in the documentation. Please check out the docs to see what keys do.

[2018-01-05 19:24] gaearon commented on #11963
I don't know why. Any ideas?

[2018-01-05 19:24] gaearon commented on #11961
I think that's intentional behavior. The docs are not correct (or, rather, aren't detailed enough and imply the wrong thing).

[2018-01-05 19:25] gaearon commented on #11961
I'll close this but please feel free to file an issue with the docs instead: https://github.com/reactjs/reactjs.org

[2018-01-05 19:25] #11961 closed

[2018-01-05 19:25] gaearon commented on #11959
Hope the above helps.

[2018-01-05 19:25] #11959 closed

[2018-01-05 19:44] gaearon commented on #11928
I'll close because it's not clear to me what this would accomplish, and there was no reply. Happy to continue the discussion!

[2018-01-05 19:44] #11928 closed

[2018-01-05 20:04] ruyasan commented on #7552
Oh heck yeah, that would be _much_ better.

Between the context proposal and the `createReturn` one, yeah, I believe that covers every use case I've ran into.

[2018-01-05 20:13] clemmy commented on #11859
As you mentioned, the children traversal semantics for `<Fragment></Fragment>` treats it as an element. The `<></>` syntax was created to be shorthand for `<Fragment></Fragment>`, so with that as the pretext, the same semantics exist for `<></>` since it’s simply de-sugaring to `<Fragment></Fragment>`. With your proposed changes to the semantics, switching from `<></>` to `<Fragment></Fragment>` w

[2018-01-05 20:17] benmonro opened #11976 "warning on stateless functional high order component."
**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
warning on Stateless Functional High Order Component.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than React. Paste the link to

[2018-01-05 20:24] gaearon commented on #11859
I think changing behavior for *both* might be reasonable.
But we won't get much further in an issue here.
Please submit an RFC with your proposal: https://github.com/reactjs/rfcs

[2018-01-05 20:24] #11859 closed

[2018-01-05 20:25] gaearon commented on #11976
Please provide a *complete* example that reproduces the issue.
So far what you wrote there is not enough.

[2018-01-05 20:29] benmonro commented on #11976
yeah I tried reproducing this in a codepen and using create-react-app but was unable to do so.  Was hoping for some more insight.

[2018-01-05 20:39] avinashdvv commented on #11911
Hay
I wanted to solve this issue. but the problem is, **i am kind of new to this**
when i try to test the current test cases of ReactDOMOptions ``react/packages/react-dom/src/__tests__$ jest ReactDOMOption-test.js ``
i am getting this error.
[code]

[2018-01-05 20:55] gaearon commented on #11976
Judging by the warning it somehow gets a `render` method attached.
So you probably have some code (maybe a bad HOC) that does something like

[code]

[2018-01-05 20:55] #11976 closed

[2018-01-05 21:05] gaearon commented on #11423
@nubunto Still interested?

[2018-01-05 21:05] gaearon commented on #11423
@clemmy If you still want to do it lmk :-) Not sure how long your backlog was.

[2018-01-05 21:06] gaearon commented on #11955
Tagging as a good issue to get into, but it's not an easy one.

[2018-01-05 21:09] gaearon commented on #11532
Closing as a browser issue per the above discussion. If someone finds it related to React please file a new one with two examples (React and non-React ones) so we can see what React is doing wrong.

[2018-01-05 21:09] #11532 closed

[2018-01-05 21:10] gaearon commented on #10515
Fixed in https://github.com/facebook/react/pull/10514.

[2018-01-05 21:10] #10515 closed

[2018-01-05 21:12] clemmy commented on #11423
@gaearon I will be prioritizing studies for the next few months. Please feel free to assign the task to someone else. 😄

[2018-01-05 21:12] gaearon commented on #9999
The action item here is to:

1. Reproduce the false positive when mixing development and production versions as described below.
2. Figure out why it happens. You can check `create-react-class` source code on `15-stable` branch. As described above it probably happens because we set some flag only in development.
3. Figure out a fix.

[2018-01-05 21:14] gaearon commented on #7769
Not sure what the right fix would be. Tagging as good first issue for somebody to investigate.

[2018-01-05 21:14] gaearon commented on #7489
Is this also an issue in React 16?

[2018-01-05 21:19] gaearon commented on #5848
I can't reproduce this with React 16.

[2018-01-05 21:19] #5848 closed

[2018-01-05 21:21] gaearon commented on #5739
Tagging as good first issue. I don't know if it's a bug: you'd need to investigate what happens and whether it's still reproducible with React 16.

[2018-01-05 21:23] gaearon commented on #5739
It does seem to still repro in 16: https://jsfiddle.net/bwmreymj/.

So the question is whether it's a bug or not. I don't know :-) If you have questions on this issue please post them here!

[2018-01-05 21:24] #4316 closed

[2018-01-05 21:29] gaearon commented on #11423
Sounds good, @clemmy good luck with the studies!

[2018-01-05 21:41] jgentes commented on #10384
@gaearon could you clarify what you mean by `The duplication only happens in development mode.`  I'm running my app in production mode, with webpack, etc, and I see duplicate errors in my console (and sent to Bugsnag).

My app config specifies the boundary above Provider:

[code]

[2018-01-05 21:48] kevinzwhuang commented on #11911
@gaearon I experienced this regression myself yesterday when upgrading from 15.4.2 to 16.2.0.
Here's a simple repro of the problem I was seeing:
https://jsfiddle.net/qkc4eyqe/1/

Same issue - different error message:
`Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

I'm not sure if @mannanali413 is still working on a fix for th

[2018-01-05 21:50] XaveScor commented on #11759
@dereklieu You can use https://www.npmjs.com/package/@xavescor/react package while new version is not released.

[2018-01-05 22:44] rmhartog commented on #11955
Yes, I'd love to dig into it further!

[2018-01-06 00:22] Heitor01 opened #11978 "Drawer in react/material-ui"
I am a beginner in react, and I am having problems applying the drawer in my project, in case I have an appbar and I configured the drawer to open with it, but it is not working and presenting the following errors.

"React.createElement: type is invalid - expected to string (for built - in components) or a class / function (for composite components) but got: undefined. you might have mixed up defa

[2018-01-06 00:28] jquense commented on #11978
Hey there, welcome to React :)

We try to keep the React issue tracker focused on react bugs and feature requests, for general support try one of many avenues of support noted in the docs! https://reactjs.org/community/support.html

[2018-01-06 00:28] #11978 closed

[2018-01-06 00:50] gaearon commented on #11978
Check the line on which it happens. You probably forgot to import that component, or imported it the wrong way (just like the error message tries to tell you).

[2018-01-06 01:01] gaearon commented on #11955
Sounds good. You'll probably want to look at BeginWork, CompleteWork, and ChildFiber, and how those handle Calls and Returns. Let me know if some aspects are confusing and I can try to explain.

[2018-01-06 01:03] gaearon commented on #10384
@jgentes "The above error..." stuff is only logged in development.

If you're seeing some other symptoms please file a new issue with an example.

[2018-01-06 01:03] gaearon commented on #11911
@kevinzwhuang Would you like to work on figuring out the fix?

[2018-01-06 01:17] gaearon commented on #11838
I'll close since we don't have a full repro. If you create one, please reopen or file a new issue. Thanks!

[2018-01-06 01:17] #11838 closed

[2018-01-06 01:18] gaearon commented on #11888
I think the above should be a better solution.
If you disagree and would like to change the API behavior I suggest you to file an RFC: https://github.com/reactjs/rfcs
It's not obvious to me how it should behave e.g. for objects if we start making those exceptions, and an RFC would let you expand on that.

[2018-01-06 01:18] #11888 closed

[2018-01-06 01:25] gaearon commented on #11847
We're working on enabling asynchronous rendering which will likely change some assumptions about how `componentWill*` lifecycles work. In particular if we want to be able to "abort" and "rebase" rendering work, it might fire multiple times. So that's why mutations in it can be problematic. In fact we're trying to soft-deprecate `*Will*` methods in favor of alternatives that are safe for async: htt

[2018-01-06 01:27] gaearon commented on #11847
I'd say that we're unlikely to remove the existing warning about `this.state`.

We might consider adding a separate method to declare the initial state, but it would need to be an RFC so we can review a detailed design proposal. Please create one if you're interested: https://github.com/reactjs/rfcs

I'm sorry I couldn't be of more help.

[2018-01-06 01:27] #11847 closed

[2018-01-06 01:27] gaearon commented on #11817
I'll close this issue but if you have a reproducing case where it's React's fault, or React is doing something that it shouldn't, please reopen (or file a new issue) and we'll look at it. Thanks!

[2018-01-06 01:27] #11817 closed

[2018-01-06 01:44] brandonrninefive commented on #5739
Hello, I'd love to make this my first contribution! I'll begin looking into this ASAP.

[2018-01-06 01:45] aweary commented on #11971
I'm ashamed to admit how many times I've searched the repo only to find that I've tried to solve the same problem before 😆

[2018-01-06 01:54] kevinzwhuang commented on #11911
Sure @gaearon I can work on finding a fix.

Did some digging in devtools
Here's some of my findings:

------------------------------

`parentInstance`: Note the childNodes is a single element of the flattened text
![image](https://user-images.githubusercontent.com/7256178/34635153-5e11e3fe-f240-11e7-9f24-9f465427cc38.png)

`child` to be removed - Since there's a mismatch with the flattened childNo

[2018-01-06 02:27] maurocolella commented on #11817
You're welcome. Last I checked, react doesn't implement/use `pointerevents`.

It might be worth mapping mouse and touch events to the seemingly better-supported "modern way" in that case.

[2018-01-06 02:33] gaearon commented on #5739
Sounds great!

[2018-01-06 03:02] gaearon commented on #11626
Fixed in https://github.com/facebook/react/pull/11786.

[2018-01-06 03:02] #11626 closed

[2018-01-06 03:05] gaearon commented on #11263
Your suggestion is extremely fragile so I really hope you’re not using it in practice. It will also give you wrong values in some cases.

We set up an RFC process for proposed API changes like this. You’re welcome to participate: https://github.com/reactjs/rfcs.

I’ll close this issue but we’d be very glad to see an RFC from you!

[2018-01-06 03:05] #11263 closed

[2018-01-06 03:07] gaearon commented on #11809
Please create an RFC:
https://github.com/reactjs/rfcs

Otherwise it’s hard to progress on an issue like this.

Thanks!

[2018-01-06 03:07] #11809 closed

[2018-01-06 03:10] gaearon commented on #11710
How do you encounter this in practice? In which cases does it matter?

Are there any speed downsides to your prooosal?

[2018-01-06 03:12] gaearon commented on #11773
If it works for you then sounds like you’ve already solved it in userland. Not sure what React could do better but given the focus on the bundle size I don’t see us adding more utilities to ReactDOM.

If you have an API proposal please file it here: https://github.com/reactjs/rfcs. Then we can discuss it in detail.

Otherwise it’s not very actionable so I’m closing.

[2018-01-06 03:12] #11773 closed

[2018-01-06 03:13] gaearon commented on #11670
I’ll close this issue because we’re trying to funnel all specific API proposals to the RFC repo. Please open one there if you’re interested! Thanks.

[2018-01-06 03:13] #11670 closed

[2018-01-06 03:21] gaearon commented on #11313
I’m sorry if I’m being frustrating. I’m skeptical of your goal of completely agnostic components. There are still React-specific concepts like refs and keys that may not directly map to how Vue and others work. So I think you’ll still want more control over time.

The custom pragma doesn’t have to “feel alien”. It can be specified once as a Babel plugin option. Or you can even tell your users to “

[2018-01-06 03:21] #11313 closed

[2018-01-06 03:22] gaearon commented on #11163
Please see my reply in https://github.com/facebook/react/pull/9146#issuecomment-355584767 for why we’re not doing this.

[2018-01-06 03:22] #11163 closed

[2018-01-06 03:23] gaearon commented on #11224
I’ll close this but please feel free to file a more detailed RFC about what you want: https://github.com/reactjs/rfcs

[2018-01-06 03:23] #11224 closed

[2018-01-06 03:25] gaearon commented on #10900
We’re trying to funnel API proposals into our RFC repo so please feel free to create a pull request there and we’ll review it: https://github.com/reactjs/rfcs

I’ll close this one but we appreciate the discussion!

[2018-01-06 03:25] #10900 closed

[2018-01-06 03:27] gaearon commented on #10826
It seems like the use case was not really supported in the past either and led to errors.

So I think we can’t say this is a “missing feature” of the portal API. It just isn’t as easily broken as the existing old API.

If you have specific API suggestions around this problem please create an RFC: https://github.com/reactjs/rfcs

Thanks!

[2018-01-06 03:27] #10826 closed

[2018-01-06 03:27] gaearon commented on #10776
I’ll close this as stale. I’d say it’s very unlikely we’ll work on a fix for this so unless you can dig into what happened, there won’t be progress. Closing.

[2018-01-06 03:27] #10776 closed

[2018-01-06 03:33] gaearon commented on #6253
If you’re interested in this please create an RFC so we can review a specific proposal: https://github.com/reactjs/rfcs

I’ll close the issue as it’s unlikely to progress without an RFC.

[2018-01-06 03:33] #6253 closed

[2018-01-06 03:34] gaearon commented on #4972
Seems like most people are pretty happy with Enzyme. I think we can close this.

If you have specific API proposals for React itself please create an RFC: https://github.com/reactjs/rfcs

[2018-01-06 03:34] #4972 closed

[2018-01-06 03:36] gaearon commented on #3858
I’ll close since this discussion is pretty stale. For people who like this approach Mobx does a good job 🙂

[2018-01-06 03:36] #3858 closed

[2018-01-06 03:38] gaearon commented on #1979
I outlined a possible solution that works today above.

I’ll close this issue but if you feel strongly this needs a separate API or a change in behavior please file an RFC and describe how you think it should work: https://github.com/reactjs/rfcs

Thanks!

[2018-01-06 03:38] #1979 closed

[2018-01-06 04:33] colinjeanne commented on #8876
This does not repro in Edge/16.16299

[2018-01-06 05:22] avinashdvv commented on #11911
while running ``yarn build`` i am getting below error while trying to do work on this issue
[code]
sorry for the trouble i am pretty much new this

[2018-01-06 08:28] jorrit commented on #11602
Of course I tried, but I failed on the following point: currently the code concats the strings and leaves out any other children of `<option>` tags, in effect babysitting the developer a bit. When the child of an option tag is a single string a special code path is followed that isn't followed when the child is an array of strings. I could not get some client tests in react-dom working because of

[2018-01-06 08:34] jorrit commented on #11602
BTW: thanks for the performance explanation.

[2018-01-06 08:56] benmonro commented on #11976
Turns out it was because we had a roll our own react Redbox lingering around that was causing the problem.  Removed that and we're good now.

[2018-01-06 09:14] avinashdvv commented on #11911
@kevinzwhuang can you make a video or a blog post about how did u solve this issue once u solved this.
try to make a video if possible

[2018-01-06 09:53] chicoxyzzy commented on #11710
It does matter only for cases when I need to (a) just to print `-0` in my component (b) or change `0` to `-0`.

Case a:
I propagate value `-0` to my component and I get `0`. Is it expected?
(personally I don't care much but it's more like unexpected behavior)

Case b:
I change `0` to `-0` in my `PureComponent` or any component using `shallowEqual` comparison.
- If behavior in case a is expected (`

[2018-01-06 12:05] benbraou commented on #11949
I am working on this issue this weekend

[2018-01-06 13:09] gaearon commented on #11710
I mean, how do you end up with 0 or -0 in a sequence for the same prop in practice? I’m just curious about the real world use case.

[2018-01-06 13:11] gaearon commented on #11602
If you have some work in progress, send a PR and we can try to take it from there.

[2018-01-06 13:12] gaearon commented on #8876
Thanks for letting us know. We’ll close then.

[2018-01-06 13:12] #8876 closed

[2018-01-06 13:15] chicoxyzzy commented on #11710
For example x/y, where x equals 0 and y is negative number

[2018-01-06 13:17] gaearon commented on #11710
Where does this happen?

[2018-01-06 13:22] chicoxyzzy commented on #11710
IDK yet. Let me check.

[2018-01-06 13:30] highskillzz commented on #11734
Is it resolved or can I start working on it?

[2018-01-06 13:32] gaearon commented on #11734
I think the issue still exists, it’s just more consistent now

[2018-01-06 13:34] highskillzz commented on #11734
just for reference how do you call dibs on a bug

[2018-01-06 14:07] jorrit commented on #11602
Done, thanks!

[2018-01-06 14:14] chicoxyzzy commented on #11710
It turns out that it's not inside React and `-0` evaluates to `'0'` before injecting to DOM (because `String(-0) === '0'`). So I think it's better to keep things as is, and if someone whants to render `'-0'`, than that should be done in userland:
[code]

So it seems that we should just prevent rerendering changing `Object.is` polyfill to SameValueZero in  fbjs's `shallowEqual`. But if we'll do thi

[2018-01-06 14:24] chicoxyzzy commented on #11710
Now I think that everything works as expected 😄

It was great dive into spec and React. I enjoyed it! Sorry for bothering you

[2018-01-06 14:24] #11710 closed

[2018-01-06 14:32] gaearon commented on #11734
You got it

[2018-01-06 17:05] rmhartog commented on #11955
It seems like a minor mistake when reconciling the children, causing duplicate deletions in some cases. Opened a pull request for the changes.

[2018-01-06 18:57] cubiccompass commented on #4373
For boolean properties, I tend to use the truthy, optimistic use case:

`{this.props.isVisible ? <SomeComponent/> : null }`

Then map isVisible to Redux state, like `store.currentView`.

[2018-01-06 19:27] M-ZubairAhmed commented on #11768
@gaearon sure i will do that.

[2018-01-06 22:04] streamich commented on #4373
@cubiccompass You can simplify it to this:

[code]

[2018-01-07 04:52] brandonrninefive commented on #5577
I just encountered this bug myself on Chrome Version 63.0.3239.108 on Debian 9, kernel version 4.9.0-amd64. The events are only firing when the mouse is clicked, and not on enter/exit of an element with a mouse enter/leave listener. This happens to me on the jsfiddle in the previous comment as well. I noticed that the Chromium issue posted above has been closed too, but I can confirm this issue st

[2018-01-07 09:06] amangeot commented on #11940
Thank you!

[2018-01-07 12:37] gaearon commented on #5577
Please file a new issue.

[2018-01-07 12:39] gaearon commented on #4373
I'm locking because we're just making circles here now. :-)

The above solution works, and we don't think it's necessary to add a magic prop when you can use a JS expression you already know and can use everywhere else in the code.

[2018-01-07 14:45] taion commented on #11401
What's the current thinking here?

Would it make sense to make this an RFC?

[2018-01-07 14:53] trueadm commented on #11401
It would, maybe merge with the createRef RFC maybe. I’m not sure if I’ll get the time to start another RFC to do such things right now, I’m pretty busy working on the compilation work. Maybe someone else would like to push this through.

[2018-01-07 15:37] taion commented on #11973
As an alternative to adding new React API, could this just be moved into userspace?

In the OP from https://github.com/facebook/react/pull/11555, we could amend the example as:

[code]

As a really dumb implementation:

[code]

This may not literally work as-is given that I think touching `this.refs` is weird, but it still seems like this API could live outside of React core.

It would even be pos

[2018-01-07 15:41] taion commented on #11401
I can write this up as an RFC. I'm going to follow along on https://github.com/facebook/react/issues/11973 for a bit first, though.

Does the OP here still reflect your thinking on this matter?

[2018-01-07 16:06] taion commented on #11973
Alternatively:

[code]

I don't know if the edge cases exactly match https://github.com/facebook/react/pull/11555, but this can live in userspace, and doesn't require any changes to the reconciler.

Unless per https://github.com/facebook/react/pull/11555#issuecomment-344389679 and https://github.com/facebook/react/pull/11555#issuecomment-355027152, the intention is for users of "vanilla" function

[2018-01-07 16:18] benbraou commented on #11949
# Overview of changes
I will be updating this comment as subtasks of this issue get implemented.

## Subtasks

- [x] Handle Jest JUnit reports generation
- b88d010
- jest-junit reporter is used to output JUnit report reports in /junit/jest-results.xml
- An example of CircleCI Build insight based on the generated JUnit report can be found [here](https://circleci.com/gh/benbraou/react/41)
- test_ent

[2018-01-07 16:18] gaearon commented on #11973
What is the benefit of moving it out? File size? (Presumably it would be small enough and the vast majority of libs would need it anyway.)

[2018-01-07 16:29] taion commented on #11973
I'm not sure. I didn't quite follow the conclusion from https://github.com/facebook/react/pull/11555#issuecomment-344384871.

Is the idea that, going forward, most ref users will use `createRef` rather than attaching a callback ref? Or is this a convenience thing for people currently using string refs, but that going forward people should still mostly use callback refs?

If it's a convenience thin

[2018-01-07 16:35] gaearon commented on #11973
I think the idea is that most people will use `createRef`, and callback refs are relegated to being a power user feature since they’re more cumbersome and harder to explain.

[2018-01-07 16:41] taion commented on #11973
That makes sense. Thanks!

[2018-01-07 16:47] trueadm commented on #11401
It does, although we need to incrementally move to a better ref system rather do we’re not surprising users. I believe adding createRef() and deprecated string refs is a good first step towards getting to that point.

[2018-01-07 17:26] jpsierens commented on #11940
Thanks to the Open Source team at Facebook, keep up the great work! Front End changed so much with React in a good way.

[2018-01-07 19:53] M-ZubairAhmed commented on #11963
can you try to split it into two i.e
`cp ../../build/dist/react.evelopment.js public/` and similarly for react Dom and `&&` _and_ them together.

[2018-01-07 20:15] gaearon commented on #11955
Fixed in https://github.com/facebook/react/pull/11979.

There are likely more bugs with call/return. If you can try to stress-test this feature and find them, that would be great!

[2018-01-07 20:15] #11955 closed

[2018-01-07 20:28] gaearon commented on #11963
That sounds good to me, wanna do it?

[2018-01-07 20:31] M-ZubairAhmed commented on #11963
sure

[2018-01-07 20:37] TrySound commented on #11401
@trueadm I believe just copying PR can be a good RFC. I got it purpose.

[2018-01-07 21:16] M-ZubairAhmed commented on #11963
@gaearon done :-)

[2018-01-07 21:51] chrisdieckhaus commented on #11827
I'd be interested in taking a stab at this. It seems like `ReactDOMFiberInput.js` is a good place to start, yes?

[2018-01-08 00:38] aweary commented on #11211
@ianstormtaylor do you know if there's any reliable way to detect if `beforeinput` is natively supported? It looks like [logic we currently use for event support detection](https://github.com/facebook/react/blob/master/packages/react-dom/src/events/isEventSupported.js#L24-L42) won't work in this case.

How hard do you think it would be to polyfill those spec'd properties for other browsers? We usu

[2018-01-08 01:49] brandonrninefive opened #11984 "(Debian 9 64-bit) onMouseMove, onMouseEnter, and onMouseLeave not Firing in Chrome"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**

In Google Chrome, an element with the onMouseMove and onMouseEnter listeners will not fire the events unless clicked. Likewise, onMouseLeave will not fire unless the mouse is clicked on an area not occupied by the listening element.

**If the current behavior is a bug, please provide the ste

[2018-01-08 01:51] brandonrninefive commented on #5577
Created the following issue: https://github.com/facebook/react/issues/11984.

[2018-01-08 02:13] jamesknelson opened #11985 "Lifecycle methods for ReactDOM.hydrate"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

There is no way to distinguish if a `componentDidMount` or `componentWillMount` lifecycle method was called in response to a call to `ReactDOM.hydrate`.

**What is the expected behavior?**

I have a component that scrolls to the top of the page in componentDidMount. This makes sense when the comp

[2018-01-08 02:27] #11975 closed

[2018-01-08 05:38] Hillsie commented on #11940
Thank you for your contribution to the community. We all stand on the shoulders of many giants.

[2018-01-08 05:46] rockieroshan commented on #11985
Hello,

Im a rookie. i would like to contribute and learn something.

How do i do that?
it would be great if you could help me out.

Thanks

[2018-01-08 06:05] Nokecy opened #11987 "React 16 : componentDidUpdate Warning: Scheduled a cascading update"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

React 16 : componentDidUpdate Warning: Scheduled a cascading update
[same question](https://github.com/reactjs/react-redux/issues/834)
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can

[2018-01-08 07:36] kevinzwhuang commented on #11911
Getting closer to finding the root of the problem by running this code with v15 - it looks like what changed from 15/stack to 16/fiber for this operation is that:
in v15, it would execute `setTextContent` to update the `<option>` text for all cases.
in v16, it executes 'removeChild` or `insertBefore`, or whatever variation of the operation where ReactDOM assumes text nodes should be added or remov

[2018-01-08 08:44] markuspelnens opened #11988 "Forked props not being isolated"
When I fork a prop like this

[code]

and then proceed to update state such as this:

[code]

it mutates the original prop (or more specifically, the state of the component passing the prop orderForm). Mutations to state forked from a prop should be isolated

[2018-01-08 09:19] giorgim opened #11989 "grabbing pending state value"
Assume I write this

`this.setState({ctr:1});
`
Now, assume **state hasn't been updated yet** as a result of above call, and I write:

`this.setState((ps)=>{console.log(ps.ctr)})
`
Will I see value "1"?

Basically question is about if there is a _pending state update_ from a "_Normal_" (not functional) setState, will the previousState that I receive in _functional setState,_ capture that pending v

[2018-01-08 09:24] Arm7107 commented on #3725
static get defaultProps() {
      return {
           car: "Mercedes"
      }

[2018-01-08 10:44] maxviewup commented on #11532
@gaearon maybe this is really an chrome issue, but maybe react is using something that leads to this...

[2018-01-08 11:46] gaearon commented on #11989
Yes. Conceptually `setState(obj)` is equivalent to `setState(() => obj)`.

[2018-01-08 11:46] #11989 closed

[2018-01-08 12:27] gaearon commented on #11988
This is not how objects work in JavaScript. React doesn’t do anything magic. If you mutate an object then this object changes. You are sharing the same object between two parts of the code so mutations to it are seen in both.

Our suggested solution is to avoid mutation. For example:

[code]

Hope this helps!
[code]

[2018-01-08 12:27] #11988 closed

[2018-01-08 13:22] gaearon commented on #11532
We don't keep issues forever open because *maybe* something is wrong :-)

If you want to investigate why this happens, please help. So far people investigated and couldn't find anything in React, but *did* find browser issues. I don't see a reason to keep the issue open unless you see a specific thing we're doing wrong in React (in which case we'd be happy to take a fix).

[2018-01-08 13:24] gaearon commented on #3725
@Arm7107 This is inefficient because it creates a new object every time an element is created. I strongly advise *not* to use this. Either assign a property:

[code]

or use *experimental* static class properties syntax:

[code]

(for which you'll need a Babel plugin)

I'll lock this issue to prevent further incorrect suggestions that will show up in Google results.

[2018-01-08 13:28] gaearon commented on #11911
Sounds good. I really haven't dug into that code but happy to review a PR once you have something that works.

[2018-01-08 13:30] gaearon commented on #11987
It's not a bug, it's a warning telling you that you scheduled an update in `componentDidUpdate`. Sometimes this is unavoidable (e.g. for layout measurement) but in many cases it is completely avoidable and causes performance issues.

Unfortunately React Redux is currently written in a way that triggers this warning. There's nothing we can do on our side. The plan is to update React Redux to not ha

[2018-01-08 13:30] #11987 closed

[2018-01-08 13:32] AndreiCalazans commented on #11940
You guys are amazing, thanks to this project many people's life have changed.

[2018-01-08 13:33] gaearon commented on #11985
@rockieroshan Watch issues tagged with "good first bug" label. Please don't post unrelated questions in other issues so we keep the discussion focused.

[2018-01-08 13:35] gaearon commented on #11984
It doesn't run for me, are you sure the URL is correct?

[2018-01-08 14:43] markuspelnens commented on #11988
Got it! Thanks!

[2018-01-08 15:18] SadPandaBear commented on #11935
@k1sul1 function!

[2018-01-08 15:29] gaearon opened #11991 "Warn in server renderer if class doesn't extend React.Component but has a render() method"
Same as https://github.com/facebook/react/issues/10103, but for the server renderer. You can look at implementation in https://github.com/facebook/react/pull/11168 and do something very similar in `ReactPartialRenderer.js`.

[2018-01-08 15:41] giorgim commented on #11989
@gaearon ah so it means with functional setState you can really get the latest state (including if there is a pending one). the doc don't say that explicitly though (as in my question).

[2018-01-08 16:00] wyze commented on #11991
Hi Dan, I'd like to take this up. Do you have some more direction on where to put the check to determine if the component is not extended correctly? I tried putting it here: [ReactPartialRenderer.js#L394](https://github.com/facebook/react/blob/master/packages/react-dom/src/server/ReactPartialRenderer.js#L394) but then all the server tests threw the warning, so I don't think that was right.

[2018-01-08 16:47] gaearon commented on #11991
Maybe you want to do it right before [this line](https://github.com/facebook/react/blob/master/packages/react-dom/src/server/ReactPartialRenderer.js#L422)?

[2018-01-08 16:49] gaearon commented on #11989
Open to rewordings in docs, feel free to send PRs. The important tradeoff is keep the docs readable for people who don't care about these details as much.

[2018-01-08 16:52] gaearon commented on #11935
Maybe:

[2018-01-08 17:04] wyze commented on #11991
Thanks! I think I got it. You pointed me in the right direction, but ended up being in the `else` case of that branch. PR incoming shortly.

[2018-01-08 18:02] SadPandaBear commented on #11984
Using the same settings on a VM, not working either.

https://jsfiddle.net/69z2wepo/97542/

[2018-01-08 18:04] suark commented on #11940
Thank you!

[2018-01-08 19:23] benbraou commented on #11949
@sophiebits I would like to check with you my proposal for Flow JUnit report generation before I start the implementation.

Flow only supports JSON output.
So what I propose when flow script is run is:
1. In normal dev mode, the normal output is logged in console
1. In case of circleci build, flow is run with `--json` option. The json output is provided to a transformer (that I will implement) tha

[2018-01-08 19:28] sophiebits commented on #11949
I think for flow it is fine to treat it as a single "test" that has a single output and just use the formatted output. Not sure if there is much advantage to try to split flow into multiple "tests".

[2018-01-08 19:35] benbraou commented on #11949
I see. Thank you!

[2018-01-08 20:09] mhelvens commented on #6653
@gaearon I'm running into this problem too.

I don't have access to the child components to make their props optional or give them defaults. Its whole point is that it accepts any children that work through `value` and `onChange`.

(It's a `<Form>` component that dynamically puts `value` and `onChange` props on its children so it can provide access to a composition of its children's values through

[2018-01-08 20:11] skybrandevs opened #11994 "i need to learn this"
what do i need to learn to get started with react js

[2018-01-08 20:13] jquense commented on #11994
Hi there, and welcome. Glad you want to learn React! There are lots of resources around for doing that and maybe a good place to start is the documentation and the support avenues:

https://reactjs.org/docs/hello-world.html
https://reactjs.org/community/support.html

We want to keep the issue tracker clear for bugs and feature requests so i'll close this. Good luck!

[2018-01-08 20:13] #11994 closed

[2018-01-08 20:36] gaearon commented on #6653
I'm not sure how I can help you.

[2018-01-08 21:47] Ephem commented on #11423
I've been tracking this issue since #1252 and #6204 so I'll chime in with our current use-case and some thoughts (long post but some background is necessary I think).

We use this mainly for A/B-testing for cases where we want to determine the bucket on the client and render a component only after that. Often we still want to provide a default variant (in a noscript-tag) for people without JS, or

[2018-01-08 21:48] Ephem commented on #11423
About the issue at hand though, I’ve been trying to start digging into and investigating the codebase. Supressing the hydration warning does not seem that hard at a glance, but I can’t quite figure out where the best place would be to ignore the subtree of noscripts?

I guess this should live in react-dom, but we would also like to make sure the reconciler doesn’t waste time on these subtrees, is

[2018-01-08 21:58] Ephem commented on #11423
Oh, and just to be clear, what I'm saying is that there is a valid usecase for using noscript content even when JS is turned on, manually simulating "noscript". We currently do this both for graceful degradation and in cases where we choose not to load the React-application for performance reasons on older devices.

One should only ever have to use the content that was provided from the server in

[2018-01-08 22:12] ianstormtaylor commented on #11211
@aweary why is it that the current logic doesn't work? We use what seems like a [similar detection method](https://github.com/ianstormtaylor/slate/pull/1232/files#diff-2124a3c530b44e8f572b20fc8602ed0aR20) for it right now. (Although I have to be honest, I'm not sure if it's as reliable as needed by React with it's much broader browser targets.)

As for polyfilling the spec'd properties. I'm not su

[2018-01-08 23:12] brandonrninefive commented on #11984
My apologies, it appears I messed up something in the fiddle before sending it. The one @SadPandaBear sent accurately reproduces the bug.

[2018-01-08 23:49] kanalasumant commented on #11940
Thanks a ton for this wonderful library. Highly appreciate it!

[2018-01-09 00:56] ignatiusreza commented on #1979
We managed to solve it by using es2015 `import()` via webpack.. basically, the main idea is to load non-critical components only on the client side lazily.. we do this by having a decorator which looks like

[code]

and then use it to make any component async by doing

[code]

which then can be imported by:

[code]

the key here is, not all components need to be rendered in its full glory on SSR,

[2018-01-09 02:50] aweary commented on #11211
@ianstormtaylor I tested `isEventSupported` and your detection method and both return `false` in the latest Chrome (63.0.3239.132). It seems like `beforeinput` events _are_ being triggered though, so I'm not sure why it doesn't work.

https://jsfiddle.net/t4dsqLj9/

That seems fine to me until it has better browser support.

If it doesn't implement the spec'd behavior we could potentionally see if

[2018-01-09 09:08] locomotif commented on #5737
@JadSayegh I may not be correct, but you could use `componentWillMount` to set state on a prop that can be persisted to your child component. e.g `<ChildComponent active={this.state.active} />`; then I assume your child can just return `null` when not active.  Once you parent is mounted and render, then update the active state to true.

[2018-01-09 10:35] vectorsize opened #11996 "Symbols as keys in children as arrays or iterators"
**Do you want to request a *feature* or report a *bug*?**

I want to request a feature

**What is the current behavior?**

Using `Symbols` as element keys throws a type error.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other tha

[2018-01-09 10:41] misterfresh commented on #10021
Congrats on switching React to ES modules!

[2018-01-09 15:54] leodsgn commented on #11940
Thank you all for the hard work. Really appreciate it React and it's community. ❤️

[2018-01-09 16:24] #11991 closed

[2018-01-09 16:31] rohan-paul opened #11997 "npm test fails - using expect.createSpy and ReactTestUtils.Simulate.submit"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
npm test fails - using expect.createSpy and ReactTestUtils.Simulate.submit

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo**

In my App, have a CountdownForm component as below. The component creates an input form, where I input a numb

[2018-01-09 16:47] gaearon commented on #11997
Can you provide a complete example we can run please?

[2018-01-09 16:56] Chudesnov opened #11998 "React copies default checkbox value to attributes"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
React sets `value="on"` (via attributes / defaultValue) on all inputs with `type=checkbox` and no value.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it

[2018-01-09 17:59] gaearon commented on #11998
cc @nhunzaker @aweary

[2018-01-09 18:28] ianstormtaylor commented on #11211
@aweary ah gotcha, it might be because Chrome doesn't implement the spec fully yet? Not sure on that one.

Updating could be good! I don't know enough about the internals to be able to suggest things there I think. The issue is that right now it's text input only, whereas the newer specs result it in being used for events that aren't necessarily character-inserting.

[2018-01-09 19:18] SkylarPhx commented on #11940
Thank you for your astonishing work! :)

[2018-01-09 22:44] nitish24p commented on #11838
Alright so i solved this last week, just thought i should  post the solution incase someone else is stuck.

I was attempting code splitting at a route level eg, bundles for `HOME`, `ABOUT_US`, as all these bundles were being dynamically imported (async nature) for a brief moment when you call `ReactDOM.hydrate` the screen would flicker / go blank. This is what caused the warning, cause the warning

[2018-01-09 23:19] nhunzaker commented on #11998
I think this happens because the default value reported by checkboxes and radios is "on", in absence of a value property/attribute. Unfortunately, in the 16.2.0 release our controlled text input code "detatches" value by assigning it over:

https://github.com/facebook/react/blob/edb2b3d3a70bbb6a26670673ac805df34ac23382/packages/react-dom/src/client/ReactDOMFiberInput.js#L264

We have some updates

[2018-01-09 23:26] nhunzaker commented on #11998
Sent with https://github.com/facebook/react/pull/12000. Lucky number 12000.

[2018-01-09 23:49] redonkulus commented on #11189
@gaearon this would only work in development since the `console.error` messages are not displayed in production builds of React.

@lingyan [opened an issue](https://github.com/facebook/react/issues/10016) last summer requesting the ability to do this in production but was subsequently closed before the React 16 release.

I believe this feature is still warranted given the scenarios I mentioned in

[2018-01-10 00:07] dominikwilkowski commented on #1035
For everyone still finding this issue and wondering just how to use `dangerouslySetInnerHTML` in your code, have a look at this article: https://nemisj.com/conditional-ie-comments-in-react-js/

TL;DR:
[code]

[2018-01-10 01:23] gaearon commented on #11189
Yes, but as explained above we don’t even know some mismatch cases in production because we don’t do extra work (e.g. comparing attributes). So even if some hook existed it wouldn’t be consistent.

[2018-01-10 02:01] lingyan commented on #11189
@gaearon Do you mean the extra work is done in development?  If that is the case, can we allow applications to enable the "extra work" in production and configure a hook to report?  Applications enabling this should understand the performance impact.
If React does not know all the "mismatches" at all even in development, yes I agree there wont be reliable way to detect the mismatch.

[2018-01-10 07:35] rohan-paul commented on #11997
@gaearon   -  Here's the [github repo of the project](https://github.com/rohan-paul/ReactCountdownTimer)

And the test file that's failing is - https://github.com/rohan-paul/ReactCountdownTimer/blob/master/app/tests/components/CountdownForm.test.jsx

[2018-01-10 07:49] j13l commented on #11940
Thanks a ton for everyone who's pushing React to be such an awesome tool. ❤️
Very happy user here!

[2018-01-10 14:07] piotr-cz commented on #4963
I started having problems with Edge since I've upgraded to Edge 41 (EdgeHTML 16).
See this [jQuery issue](https://github.com/jquery/jquery/issues/3877)

[2018-01-10 14:12] towfiqi commented on #11940
Thank you for making React MIT! :)

[2018-01-10 15:04] shablenko opened #12001 "dangerouslySetInnerHTML"
dangerouslySetInnerHTML currently uses `document.write`, according to googles recommendations it is better to be replaces with something like `innerHTML = 'some html <br />'`, because `document.write` can affect performance.

Could it be done?

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**

React: 16.02

OS: Ubuntu 16.0

[2018-01-10 15:20] gaearon commented on #12001
`dangerouslySetInnerHTML` [does not](https://github.com/facebook/react/blob/982a82884493c39f3cf322734ada175b6fb6bf22/packages/react-dom/src/client/setInnerHTML.js#L38) use `document.write`.

[2018-01-10 15:20] #12001 closed

[2018-01-10 15:23] gaearon commented on #4963
If you have some problem with React and you're sure it's not a browser problem, please file a new issue. We don't read or act on closed issues.

[2018-01-10 15:26] gaearon commented on #11189
Yes.

I don't really see us adding global configuration options like this. We avoided the need for them for years, and it seems odd for this to be the first one. Ideally we'd want a sane behavior for everyone.

If you feel strongly about it please create an RFC: https://github.com/reactjs/rfcs. If it gets enough support we can consider this.

[2018-01-10 15:47] jacobp100 commented on #7094
I use global events a lot, but there is always hacks required to get the two event systems to sync up. As a suggestion of API, what about,

[code]

I had an experiment with attaching events to a root react node, but you have to keep the root node focused. You can see it [here](https://stackblitz.com/edit/react-bfsb2f?file=index.js), but would definitely like to try something less hacky.

[2018-01-10 16:05] ngub opened #12002 "Add React.Children.isRenderable"
**Do you want to request a *feature* or report a *bug*?**
A feature

**Motivation:**
Given a component which gets props from `context` (e.g. it accepts props from Redux store via `connect` HoC) and renders either `null` or some React node by condition based on data from context it would be helpful to know outside the component whether it renders any markup or not. It would let us render wrappers f

[2018-01-10 16:12] frankwallis commented on #11781
Just to add to this - I had the same issue and removing react-hot-loader resolved it. In addition the issue only happened when outputting the react components as ES6 classes, downcompiling classes to ES5 functions also resolved the issue.

[2018-01-10 16:55] gaearon commented on #11781
Please file these issues against `react-hot-loader`. Its maintainers won't know about them if you don't let them know.

[2018-01-10 16:56] gaearon commented on #12002
Please create [an RFC](https://github.com/reactjs/rfcs), thanks!

[2018-01-10 16:56] #12002 closed

[2018-01-10 19:06] ngub commented on #12002
Ok, thank you

[2018-01-10 21:00] AlexEscalante commented on #11940
These last two years have been all about React, and more is coming! So… thanks a lot!! 😛 ❤️

[2018-01-10 22:40] Ephem commented on #11423
A very naive way to solve this issue:

[code]

This solves the hydration warning, makes the reconciler ignore everything inside `<noscript>` but keeps the content in the DOM (since it's already there) and all current tests are passing.

Not sure if there are any side effects to this, I did notice the React devtools acting a bit weird. It didn't show any content in the `<noscript>` (since React doe