[2021-06-13 12:19] gaearon commented on #21043
What’s the idiomatic way to do cleanup for things that aren’t async, but just require disposal?

[2021-06-13 12:22] gaearon commented on #21043
I think conceptually it doesn’t feel like the right fit to me because (in .NET terms) effect cleanup is more like `IDisposable` than `CancellationToken`. But that’s just my hunch so I would need to see more comparisons to understand if there’s a real problem or I’m making it up.

[2021-06-13 12:41] benjamingr commented on #21043
@gaearon that's a good point, if you look carefully you'll see a bunch of the other APIs we have are more `IDisposable` than `CancellationToken`. The `addEventListener` example above is a good example.

Given the web converged on "disinterest semantics" for cancellation (cancellation is a request rather than an error) - the line between "cancellation" and "disposing a resource" is hair-thin (dispo

[2021-06-13 12:43] benjamingr commented on #21043
Here is one example above (I like it and go back to it because I know it well - but it's similar for other sync APIs going forward):

[code]

[2021-06-13 16:35] mmnoo commented on #15344
@markerikson that is a very useful explanation, thanks for taking the time to write it.

I think I have another solution to my specific problem that is less convoluted than a useEffect. (Munging ui (focus) state with data state as a tradeoff).

If I were to pollute my reducer with a side effect and there was no downside to redundant calls to that side effect, is there still a risk of issues with y

[2021-06-13 18:23] pradeep-mishra opened #21670 "React 18"
Just a suggestion

In React 18 , React should accept extra params to setState function so dev can specify what changed in more general terms that he/she can use in `React.memo()` to determine if that changes should re-render the specific component with the new data

it should be something like this

[code]

the broadcast can be any arbitrary data

and then  in the User component, we can catch that

[2021-06-13 18:48] nibmz7 commented on #11387
Hi. I just published a library and it contains a wrapper around Portals and it dodges this event bubbling behaviour by portal-ling the portal itself. I didn't really test the implementation but feel free to check it out.

![image](https://user-images.githubusercontent.com/14259666/121818551-70992480-ccba-11eb-83d7-e8c1f539dd3c.png)

Portal Renderer code - https://github.com/nibmz7/nimz-app/blob/ma

[2021-06-13 20:41] markerikson commented on #15344
@mmnoo that's sort of what I was saying. Think of it is less as "rules", and think of it as "how is this going to potentially change behavior in my application?".

I can't give specifics, because I don't know your app and I don't know what side effects you're considering doing here.

If the "side effect" is logging to the console or writing to localStorage, then while it's technically "breaking th

[2021-06-14 02:37] okmttdhr commented on #14980
This issue seems to be solved by https://github.com/facebook/react/pull/18031

[2021-06-14 03:43] Jack-Works opened #21674 "React 18: react-router@v5 is breaking in the Strict Mode (strict effects)"
https://github.com/ReactTraining/react-router/issues/7870

I do not have permission to post https://github.com/reactwg/react-18/discussions. Please open and pin a new issue in that repo to list all widely-used library that does not work with React 18 or need special handling.

[2021-06-14 05:05] gaearon commented on #21674
Hi! Can you clarify what would be the purpose of an issue like this? We’re not yet asking application authors to try the release.

The Alpha is focused on the library maintainers, and there will be a several months period before the Beta. It’s expected things would need adjustment early on, and I’m worried making a list of popular libraries before the authors even got a chance to try the release m

[2021-06-14 05:06] christian-schulze opened #21675 "Bug: Scroll position reset when inserting items at the beginning of a list"
React version: 17.0.2

## Steps To Reproduce

1. Render a button and a scrollable list with a height of 150px. The list should contain an array of 15 items, making sure to set the `key` prop of each item to unique values.
2. Observe that you can see around 8 of the original 15 list items in view.
3. On clicking the button, insert 15 more items into the _**beginning**_ of the list, once again makin

[2021-06-14 06:29] Jack-Works commented on #21674
People won't listen (like me).

For example, TikTok has upgraded to React 18 already (https://twitter.com/Brooooook_lyn/status/1402632529270632456?s=20)

Since people want to try out fresh things immediately, I think a list of what is blocking people from upgrading is helpful and can reduce other one's time-wasting.

[2021-06-14 09:25] eps1lon commented on #21674
This looks like they're just testing integration, not pushing React 18 to production.

I personally don't see any issue with app devs trying the alpha already. From how I understood it, this isn't generally recommended because most apps use at least one library. So it might be frustrating if you want to try it out, but upstream isn't ready. So right now the goal is to work the problem bottom up so

[2021-06-14 11:16] gaearon commented on #21674
Yup — the issue isn't with trying, but with expectations. It is *expected* things might be broken (especially in Strict Mode, since it's gotten stricter), so we don't want people to create negative pressure on maintainers.

Exactly.

[2021-06-14 14:25] pythonmaxi commented on #21675
I don't think it is not a bug, neither a react problem, it is just how the DOM behaves when you prepend elements to a scrollable area.

[2021-06-14 15:13] Jack-Works commented on #21674
Sorry for my word choice. I'm not mean to use the negative meaning word. What I mean is, if any app dev wants to try out, and they found the library they're using is currently not working, they can give up the upgrading so they'll not go through & resolve the problem that previous people did.

Yes, I agree this will give pressure on the library authors...

[2021-06-14 15:19] gaearon opened #21676 "Bug: Layout effects don't re-fire in 18 on Suspense re-showing"
Intended behavior: https://github.com/reactwg/react-18/discussions/31

Sandbox: https://codesandbox.io/s/react-18-layouteffect-semantics-forked-m02w5

Expected: when suspended content is hidden and then shown, we get layout cleanup followed by layout setup.
Actual: only layout cleanup happens.

[2021-06-14 15:37] XtremePwnership opened #21678 "Bug: Focus shift on click is delayed/laggy"
I've noticed a bug in apps built with React, & am able to reproduce it even on WhatsApp Web.

If i click on another field/element _very quickly_ after entering some text in a certain field, the focus doesn’t shift to the field/element i clicked on. Also, if i click on some other field/element while continuing to type in a certain field, the focus never shift. The focus shifts only if i click 1 who

[2021-06-14 15:41] christian-schulze commented on #21675
@pythonmaxi that would be unfortunate if true. I will do some pure DOM testing to see if this is the case.

[2021-06-14 15:43] #21678 closed

[2021-06-14 15:44] XtremePwnership commented on #21678
Woops seems like this is just the behaviour of DOM or smthg, not exclusive to React.

[2021-06-14 16:43] bvaughn commented on #21669
@beqakhelidze: We're sorry you've seen this error. ❤️

Unfortunately the URL you provided ("localhost") is not publicly accessible. (This means that we will not be able to reproduce the problem you're reporting.)

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos

[2021-06-14 16:43] #21669 closed

[2021-06-14 16:44] bvaughn commented on #21636
@rdcavanha You're seeing this bug using OP's codebase? Or a different app?

[2021-06-14 16:44] bvaughn commented on #21670
This looks like a substantial change being proposed. :smile: Changes like this should go through our RFC process:
https://github.com/reactjs/rfcs#react-rfcs

The RFC process is a great opportunity to get more eyeballs on your proposal before it becomes a part of a released version of React. Quite often, even proposals that seem "obvious" can be significantly improved once a wider group of interest

[2021-06-14 16:44] #21670 closed

[2021-06-14 16:45] bvaughn commented on #21670
I'm going to close this issue because I think it's out of scope for a version 18 discussion thread. RFC with a more in-depth proposal and analysis of the pros and cons would probably be the only way for a feature like this to potentially move forward.

[2021-06-14 19:19] gaearon commented on #16087
Heads-up that we've added slightly more aggressive cleanup in https://github.com/facebook/react/pull/21679. This doesn't mean we guarantee to keep it, but we've seen it help with some of the memory issues we saw in our apps. You can try building from main or wait for this change to hit the `@next` npm tag in a few days.

[2021-06-14 23:20] rdcavanha commented on #21636
Completely different app.

[2021-06-15 07:43] deadcoder0904 commented on #15187
I am trying to use it in my `DarkMode.tsx` with Next.js & I face the same error:

    at path
    at svg
    at MoonIcon
    at button
    at div
    at DarkMode

# DarkMode.tsx

[code]

[2021-06-15 08:27] christian-schulze commented on #21675
@bvaughn I've created another codesandbox here https://codesandbox.io/s/lively-browser-shpit?file=/src/index.js. Pure DOM behaves the same way, so this is not a React issue. Closing this issue.

[2021-06-15 08:27] #21675 closed

[2021-06-15 10:57] gaearon commented on #19587
From https://github.com/facebook/react/pull/19588:

It's ok to drop IE9 by this point. If you have a fix that only breaks something in IE9 without adding extra logic let's merge it.

[2021-06-15 12:21] koto commented on #19587
Just done in #19588, it's ready for review.

[2021-06-15 14:32] bvaughn commented on #21675
Thank you for the update!

[2021-06-15 14:33] bvaughn commented on #21636
@rdcavanha Could you share your code then? I'm still looking for a repro of this issue that I can trigger.

[2021-06-15 17:07] gaearon opened #21685 "Bug: Webpack process and setImmediate polyfill interferes with time slicing"
Here's the copy paste of the polyfill: https://gist.github.com/gaearon/5d2f7bedf76d7bbec2b5c1ee04861ce3

This reproes with old CRA (e.g. `react-scripts@0.7.0`). I saw this on this branch: https://github.com/Swizec/react-fractals/pull/16

The result is concurrent renders get grouped into a huge blocking task:

<img width="815" alt="Screenshot 2021-06-15 at 18 01 27" src="https://user-images.githubu

[2021-06-15 21:15] nstepien commented on #20235
The alphas of React 18 have the `exports` field, so at least this issue will be fixed when 18.0.0 is released.

[2021-06-15 22:06] misterlocations commented on #11565
bump

[2021-06-15 22:48] streetcredmusicgroup opened #21689 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-06-15 22:58] streetcredmusicgroup opened #21690 "React 18"

[2021-06-15 23:19] #21690 closed

[2021-06-15 23:19] #21689 closed

[2021-06-16 00:08] rdcavanha commented on #21636
@bvaughn Sorry, I can't share the code as it is a private repo.

However, I've noticed that after I refreshed my Firefox profile the issue seems to be gone. I've tried using the React extension on the same app as before and was unable to reproduce the bug again.

This leads me to believe that it's probably some sort of conflict with another extension (just a guess). Unfortunately I can't say which

[2021-06-16 00:45] Cheng007 commented on #14536
Is there a way to use `Suspense` as global loading without its children `display: none`?
because toggle display will cause flash,
other words, no `display: none` while loading.
Thanks

[2021-06-16 01:30] DennisHuallanca commented on #18705
Same issue with Microsoft Edge, Versión 91.0.864.48

[2021-06-16 01:53] gaearon commented on #14536
Please create a new issue and add some more details about what you're asking. It's not clear what behavior you want.

[2021-06-16 01:56] gaearon commented on #21510
React 18 alpha with `createRoot` fixes this.
https://codesandbox.io/s/parent-effects-suspense-forked-t9r2m?file=/src/App.tsx

[2021-06-16 02:08] gaearon commented on #14536
Small update.

We [released](https://reactjs.org/blog/2021/06/08/the-plan-for-react-18.html) 18 alpha for libraries authors to start testing. Notably, there is no concurrent "mode" anymore, instead you opt into features as you use them. So it's much easier to adopt.

The new behavior is to delay effects from firing until the tree unsuspends, which solves a bunch of issues like in this thread. See

[2021-06-16 02:46] christopherrobin commented on #21640
I am seeing this work as intended using the dependencies you listed. The code snippet used to test is below. This is not an issue with React; however, it could relate to your other dependencies. What does your `package.json` look like?

[code]

[2021-06-16 08:33] happylolonly commented on #17298
https://github.com/facebook/react/pull/17473#issuecomment-760298266

[2021-06-16 08:54] chriserickson commented on #21510
👍🏻 Thank you!

[2021-06-16 11:24] Pokerky opened #21691 "App become slower after build"
Hi, I'm using React+Konva+Typescript to draw some shapes, one job is to refresh the content when drag the scroll-bar. every thing is good when i developing( start the app with "yarn start"), but when i "yarn build" and run it, the app get slower, whether there are some setting need to be configured?  Here is my package.json:
[package.txt](https://github.com/facebook/react/files/6662574/package.txt

[2021-06-16 12:33] eps1lon commented on #21691
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific questio

[2021-06-16 12:33] #21691 closed

[2021-06-16 15:02] PoByBolek commented on #16087
Glad to see that something is happening here 😄
But does this mean that I'd have to check every new react release for whether you'd changed the `deletedTreeCleanUpLevel` from now on? ([Your comment](https://github.com/facebook/react/pull/21679#issuecomment-860977979) suggests that I do.) Would this be mentioned in the release notes? Are you planning on making this configurable from the client side

[2021-06-16 16:11] onnlucky opened #21692 "Bug: memory leak in useReducer"
React version: 17.0.2

When using `React.useReducer()` and a new action is pushed, but the reducer returns the current state, the operation is queued in a pending queue. But if the component isn't re-rendered for other reasons, it will never start work on that pending queue. This can potentially rack up a huge list of `pending.next.next.next.next...`

## Steps To Reproduce

1. https://codesandbox.

[2021-06-16 16:39] bvaughn commented on #21636
Thanks for the extra info.

[2021-06-16 16:40] bvaughn commented on #21640
Going to close this issue for now.

[2021-06-16 16:40] #21640 closed

[2021-06-16 16:47] gaearon commented on #16087
All I'm saying is we can't make hard guarantees because there are several planned refactors of the internal data model. Some may create more memory pressure, some may relieve it. Yes, if this issue is very significant to you, it would make sense to check some particular scenario for regressions when upgrading versions. Note that the leaks we're aware of are not created _by_ React, it's just that R

[2021-06-16 17:27] stevemk14ebr opened #21693 "Don't warn about whitespace inside <table>"
Hello, in some cases the warnings emmitted by React about the Dom layout are not necessary, and create issues. An example of this is the errors thrown when whitespace is used around table elements.
[code]

There is an assumption in this rule that the JSX is created by the user and hand-written source code and therefore the rule tries to guard against accidental layout bugs when you format your JSX

[2021-06-16 17:30] Romej commented on #21636
[Win10 64-bit] [Firefox 89.0]
Got the issue today, you may be able to replicate it with the following steps :
1. If the React dev tools extension is installed, uninstall it
2. Go on a web page that uses React and open the Firefox dev tools
3. In a new/different tab, install the React dev tools extension
4. Keep the Firefox devtools opened and refresh your page (CTRL + F5)
5. Go to the Components t

[2021-06-16 17:39] bvaughn commented on #21676
I think this is a `subtreeFlags` issue. In commit work, where we check the Offscreen tree `fiber.subtreeFlags & LayoutMask`, the test you added shows no layout flags so we skip the subtree.

We intentionally removed the `subtreeFlags` checks for most places, since the values aren't 100% reliable and the check is just an optimization, but it looks like @acdlite added this one in #21386.

[2021-06-16 20:57] MinimumViablePerson opened #21695 "[DevTools Bug]: Long keys overlap"
### Website or app

https://05cdc.csb.app/

### Repro steps

![image](https://user-images.githubusercontent.com/16916098/122292219-a540f200-ceed-11eb-8799-211fcd4b7399.png)

### How often does this bug happen?

Every time

### DevTools package (automated)

_No response_

### DevTools version (automated)

_No response_

### Error message (automated)

_No response_

### Error call stack (automated)

[2021-06-16 22:48] bvaughn commented on #21695
This doesn't repro for me:
<img width="298" alt="Screen Shot 2021-06-16 at 3 47 36 PM" src="https://user-images.githubusercontent.com/29597/122304525-5dad6c80-ced3-11eb-8fce-263b9252857b.png">

I think more information is needed. For instance, which operating system (and version) and browser (and version) are you using?

[2021-06-16 23:19] ksaldana1 opened #21696 "React 18 : Possible Transition use case? Rendering large table with filtered tabs"
Apologies if this is an inappropriate place to ask this type of question. When reading about React 18, in particular the startTransition API, I started thinking of problems I've run into in the past where I had to do lots of manual management of renders to provide good UX. I tried to recreate the original problem (at least a contrived version of it) in a CodeSandbox:

https://codesandbox.io/s/uset

[2021-06-16 23:44] #21676 closed

[2021-06-17 00:06] ksaldana1 commented on #21696
Playing around more I landed on this solution:

https://codesandbox.io/s/usetransition-tab-test-forked-mjvvz?file=/src/App.js

This seems to cover my use case. I'd be curious to hear if you this is how you would approach this problem with this API, but feel free to close this issue, as it seems I might have figured it out on my own.

[2021-06-17 01:07] #21696 closed

[2021-06-17 08:44] onnlucky commented on #21692
For a second example that doesn't have any side effects, thus doesn't trigger https://github.com/facebook/react/pull/15198, but still has the memory leak, see here: https://codesandbox.io/s/bold-sun-k5nig?file=/src/App.js

[2021-06-17 12:24] gaearon commented on #21696
So there's multiple ways to approach this depending on what UX you want.

The canonical case where you'd use `startTransition` is if you want to keep old data on the screen. In that case you'd want to slightly dim it or give some other visual appearance that it's out of sync with the data. You can do it like this: https://codesandbox.io/s/usetransition-tab-test-forked-41mvy?file=/src/App.js. Note

[2021-06-17 14:00] ksaldana1 commented on #21696
Thanks for the additional info, I really appreciate it! I was curious if there was a "delay" or "load time" prop for that specific use case, because that starts getting into functionality that is very hard (not even sure if possible) to replicate in user code.

Looking through the codebase, it seems that, [at least at some point](https://github.com/facebook/react/blob/0e100ed00fb52cfd107db1d1081ef

[2021-06-17 16:23] BrodaNoel commented on #8483
Absolutely agree with @monicatie.
I'm not sure if there is already some trick to do it, or if we still have to "manually" increase that `id` in the component

[2021-06-17 17:38] lassemon commented on #4497
I'm having the exact same issue, what was the mistake? how did you fix this @jasonvillalon ?

[2021-06-17 18:41] arhtudormorar commented on #15156
Hi!
  I made a proof of concept on how to benefit from `React.Context`, but avoid re-rendering children that consume the context object. The solution makes use of `React.useRef` and `CustomEvent`. Whenever you change `count` or `lang`, only the component consuming the specific proprety gets updated.

Check it out below, or try the [CodeSandbox](https://codesandbox.io/s/context-memo-irs5m?file=/src

[2021-06-17 19:18] gaearon commented on #13306
Some more examples: https://github.com/reactwg/react-18/discussions/58#discussioncomment-883026

[2021-06-18 01:03] windmaomao commented on #14099
I smell useRef here. Either you want to manage the update or not.

[2021-06-18 03:41] omarabid commented on #18402
How do you prevent batching for Redux props updates?

[2021-06-18 08:28] larskinn commented on #21654
Not sure what your release cycle is, but I'm using the extension built from source in the meantime. Works fine now, thanks!

[2021-06-18 10:05] rybon opened #21701 "React 18 data fetching network call cancellation"
I understood from various discussions online that for Suspense for data fetching to work properly React needs to be more directly involved in the mechanics of fetching data from the network. How will that work in practice? Would it take care of XHR cancellation in case a Suspense subtree is no longer needed or changes props? What will it mean for using libraries like Axios?

[2021-06-18 12:18] gaearon commented on #21701
I'm not quite sure what this means. (More involved compared to which approach?) Suspense is a mechanism for a part of the tree to say it's not ready, and to notify React when it's time to retry. When React retries, it expects any fetched result to be resolved form the cache. There is a contract for how it should happen. But React itself is not involved with fetching or network.

No. Fetches fill t

[2021-06-18 17:48] bvaughn commented on #21695
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-06-18 17:48] #21695 closed

[2021-06-18 19:36] gaearon commented on #15344
Sorry, I know this is frustrating. (It's a known pain point with Hooks.) The truth is we don't know what a good solution looks like for this problem. We don't think the proposed solutions we've seen so far (here and in many other places) solve the issue very well.

There are several problems with the proposed solution.

Something like `await` for a dispatch result does not work great because it en

[2021-06-18 20:46] VirendraArekar opened #21704 "Bug: Npm run build issue configure with webpack"
I configure react project  with webpack. It totally work with npm start/yarn start but when run npm run build it show me following result
Hash: 936e2ff60804281b39df
Version: webpack 4.46.0
Time: 315431ms
Built at: 06/19/2021 1:53:21 AM
                               Asset      Size  Chunks                                Chunk Names
                        ./index.html  22.9 KiB          [emitted]

[2021-06-18 20:49] eps1lon commented on #21704
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific questio

[2021-06-18 20:49] #21704 closed

[2021-06-19 05:14] isumix commented on #13059
Take a look at https://github.com/sgtpep/csstag
It is framework agnostic and can be compiled to css in production.
It is also based on https://github.com/css-modules/css-modules which is all I need these days)

[2021-06-19 11:00] 1337-ishaan commented on #21559
Can possible add conditional checking (&&) at the place of null event.

[2021-06-19 11:15] nikparo commented on #15344
**flushSync** is not a solution I had considered or was aware of, thanks for the pointer! I think it will serve my needs well enough, though it seems a bit heavy-handed to force the update to happen synchronously. Would an async version be possible? I reckon that on its own would cover most of the need, since the tools available for selecting and passing around state are already pretty good.

[cod

[2021-06-19 11:44] hoseingp commented on #8483
I think Facebook need to handle this and generate GUID under the hood , cause they changed for to htmlFor so it means do it in react way

[2021-06-19 12:16] flydge commented on #18945
Solution above works partly, only with deactivated CORS (**for me**)
Do u have any ideas, how to allow using of devtools with enabled CORS?
![photo_2021-06-19 14 49 30](https://user-images.githubusercontent.com/28603471/122642026-21ffe600-d111-11eb-8987-82f0dfd40044.jpeg)

[2021-06-19 16:44] thecircleoflifefree opened #21705 "Where is the React Dev Tools extension official guide found?"
Does a React Dev Tools guide exist with examples for different scenarios, when the wrapping colored box appears, the colors meaning, why it seems to always wrap the entire APP and also the specifics ?

Found this but it's back from 2014:
https://reactjs.org/blog/2014/01/02/react-chrome-developer-tools.html

Also:
https://github.com/facebook/react/blob/master/packages/react-devtools/CHANGELOG.md

W

[2021-06-19 17:48] johtso commented on #20707
The main situation where I'm bumping up against this limitation is when using `Map` and `Set` data structures for my state, and using something like `iter-tools` to iterate over `Map.entries()` to generate my elements. Having to materialise all of my Iterables into Arrays makes the JSX quite a bit more cluttered.

[2021-06-19 19:31] Haemoglobin opened #21706 "Bug: Memory leak with setState lambda setting to previous state"
Hi,

It seems that there is a memory leak issue when using the set state hook lambda syntax, and setting the state to the previous state. The set state lambda in this scenario seems to be retained and never garbage collected.

Please ignore the contrived example, it's intentionally whittled down to the exact issue. It's quite a common requirement in our application to subscribe to an rxjs observab

[2021-06-19 19:38] vaish567 opened #21707 "React 18 : Project dependency tree issue."
[code]

[2021-06-19 20:13] eps1lon commented on #21707
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

Coding Questions
If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific questio

[2021-06-20 07:58] todortotev commented on #21559
@bvaughn Mind If I take this issue?

[2021-06-20 08:12] vclau-1996 commented on #21064
I think you can use the img tag to show the svg that has lineartGradient.

like below codes:

[code]

you can try the method.

[2021-06-20 13:48] gaearon commented on #21707
The message says you should delete `C:\Users\UNION\node_modules\`. Please read the message.

[2021-06-20 13:48] #21707 closed

[2021-06-20 14:53] maxim-engr opened #21708 "Some way to fuzz setState timing/usage"
One of the more common problems people have with setState is stale refs or other timing and concurrency mistakes. For native code, we have things like Application Verifier's concurrency fuzzer, which can randomly delay some APIs to see if user code correctly handle uncommon timing issues.

So, why don't we have something like that for React APIs like setState? Randomly delay them for a set time? I

[2021-06-20 15:17] abbaszaid opened #21709 "Codesplit using Router gives 'init is not a function' error"
I want to execute React Codesplit. I have followed the documentation given by React, but there seems to be showing a 'init is not a function' error.

`import React, {lazy, Suspense} from 'react';
import {BrowserRouter as Router, Switch, Route} from 'react-router-dom';

const Privacy = lazy(() => import('./pages/PrivacyPolicies'));
const Home = lazy(() => import('./pages'));

const App = () => (
<R

[2021-06-20 15:56] gaearon commented on #21708
Can you provide some examples of the specific issues you've encountered? Even as pseudocode. I don't think we've seen a lot of situations where user-level code would benefit from fuzzing so I'm curious what you're running into with regards to `setState`.

[2021-06-20 16:49] gaearon commented on #21709
Can you make a sandbox demonstrating the issue?

[2021-06-20 17:07] abbaszaid commented on #21709
I solved it by matching the versions of both react dom and react

On Sun, Jun 20, 2021 at 8:49 PM Dan Abramov ***@***.***>
wrote:

[2021-06-20 18:24] #21708 closed

[2021-06-20 19:12] TimvdLippe commented on #11347
Today I saw that articles such as https://dev.to/bennypowers/what-s-not-new-in-react-18-45c7 are making the rounds. I understand that this issue has a long history of back and forth discussions, including a lot of assumptions from various people in the web community on multiple sides of this issue. To avoid further proliferation on assumptions on both the priorities and approach of the React core

[2021-06-20 21:44] just-boris commented on #11347
I think, this comment https://github.com/facebook/react/issues/11347#issuecomment-715382207 sums up the current point of the React team and why this topic has low priority in their plans.

[2021-06-21 00:01] gaearon commented on #21708
Examples would still be helpful :) I didn't mean to shut down the suggestion!

We've been considering some kind of a "chaos mode" but real use cases would help understand this space.

[2021-06-21 01:28] joego2124 opened #21711 "[DevTools Bug]: Where's the error stack trace?"
### Website or app

There's no error stack trace when there's an error

### Repro steps

There's no error stack trace when there's an error

### How often does this bug happen?

Every time

### DevTools package (automated)

_No response_

### DevTools version (automated)

_No response_

### Error message (automated)

_No response_

### Error call stack (automated)

_No response_

### Error compone

[2021-06-21 10:20] gaearon commented on #11347
React 18 is still at least several months away from general availability. We’re wrapping up several years of work in it so finishing that has been our primary focus. But we have a list of things to revisit when we get closer to a Beta, and revising this issue is on that list together with revisiting other breaking changes that we need to make a decision on.

There’s been some work on this issue ar

[2021-06-21 10:43] eps1lon opened #21712 "React 18: Error boundaries actually catches errors in effects"
Given
[code]

In React 17 this error got logged to the console (and triggered the error overlay in create-react-app) regardless of whether `ThrowInEffect` was a child of an Error Boundary or not.

In React 18 (`createRoot` and legacy root API) an Error Boundary will prevent logging that error to the console (and not trigger the error overlay in create-react-app).

Errors during render work like th

[2021-06-21 19:34] Aslam119 commented on #21497
you could use , useState hook

import "./styles.css";
import { useState } from "react";

export default function App() {
  const [style, setStyle] = useState({
    fontFamily: "Exo"
// CHANGE THE VALUE HERE  TO WHICH EVER FONT
  });

  return (
    <div className="App">
      <h1 style={style}>Hello CodeSandbox</h1>
      <h2>Start editing to see some magic happen!</h2>
    </div>
  );
}

[2021-06-22 00:23] bvaughn commented on #21559
@todortotev Please feel free to take a look into this.

[2021-06-22 07:41] priyapri14 commented on #21707
SKIP_PREFLIGHT_CHECK=true
Add this in your .env folder.

[2021-06-22 07:43] vaish567 commented on #21707
Hello @priyapri14 I did added .env folder and it's perfectly working https://github.com/vaish567/todo-app-react-hooks.git

[2021-06-22 07:56] Stardust101 opened #21716 "Bug:"
Test <b>1234<b/>
<img src="http://img.alicdn.com/tfs/TB1sdP.Q8LoK1RjSZFuXXXn0XXa-48-48.png">
hello

[2021-06-22 08:50] eps1lon commented on #21716
Great to see you trying to get into open source.

Please experiment with markdown (e.g. https://dillinger.io/) or pull requests (see https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request for further documentation) on a personal repository. Opening Pull Requests or issues creates notifications for maintainers and everyone watching this repository.

[2021-06-22 08:50] #21716 closed

[2021-06-22 09:34] DieserMerlin commented on #5632
This is so annoying, why is this still the case?
Just print warnings as warnings and errors as errors... 😅

This is especially uncomfortable if the warnings come from a library you depend on (in my case material-ui). In this case you can't do anything about the actual warning but always think there's an error in your code as react shows the warnings as errors.

[2021-06-22 09:39] thany opened #21717 "[DevTools Bug]: Indentation broken for Components tab"
### Website or app

https://www.enexis.nl/

### Repro steps

1. Make sure the devtools is narrow, but still wide enough that its panels remain side by side.
2. Drag the splitter between the panels
3. Observe the indentation changing with the width of the components tree panel

The effect is not super effective on the given website, but on the development version, the component names are quite a bi

[2021-06-22 09:42] thany opened #21718 "[DevTools Bug]: Settings panel layout broken"
### Website or app

https://www.enexis.nl/

### Repro steps

Website is actually irrelevant, but required.

1. Open the devtools
2. Press the settings button.
3. Observe the layout being broken (causing horizontal scrollbar).

Screenshot
![image](https://user-images.githubusercontent.com/152227/122902511-cb7feb00-d34e-11eb-9656-29f5c9c62194.png)

### How often does this bug happen?

Every time

##

[2021-06-22 09:45] thany commented on #21717
Pretty sure this has been done intentionally, to "make it fit" even for narrow inspectors, but for (like I said) long enough component names, and a narrow enough devtools, this can actually **cause indentation to become 0**, making it unneccesarily difficult to find my way around the component tree.

[2021-06-22 09:51] Knuds1 commented on #5632
I agree with @DieserMerlin. These are often errors which I cannot fix or that are unrelated to my assigned tasks in a project. It becomes hard to spot when a real error occurs.

Showing warnings as errors is very unconventional and should at least be configurable.

[2021-06-22 15:11] eps1lon commented on #21712
Update: React 18 behaved as 17 in dbe3363cc but changed in 7ec4c5597. Looking at dbe3363cc...7ec4c5597 I suspect https://github.com/facebook/react/pull/21666 changed the behavior. The error is no longer logged when I try the [codesandbox build](https://ci.codesandbox.io/status/facebook/react/pr/21666/builds/139750) from https://github.com/facebook/react/pull/21666

[2021-06-22 17:16] idnoble33 commented on #21544
The reason you are getting e or R is because input accepts floating point numbers , including negative symbols and e or E character(where the exponential is the number after the e or E.

Floating point number comprise of the following order:

  1st  is " - " character
  2nd  range " 0-9 " which is one or more characters
 3rd  character is optionally is in exactly following order:
        1.  " e "

[2021-06-22 22:29] bvaughn commented on #21717
I realize this feature is not ideal for every width and component name combination, but it's an intentional decision / trade off:
https://github.com/facebook/react/blob/master/packages/react-devtools/CHANGELOG.md#no-more-horizontal-scrolling

Going to close this since it's not a feature I have intentions of changing for the time being. Thanks for understanding!

[2021-06-22 22:29] #21717 closed

[2021-06-22 22:29] bvaughn commented on #21711
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-06-22 22:29] #21711 closed

[2021-06-22 22:30] bvaughn commented on #21718
@thany Can you provide some more information? Browser (and version), operating system (and version), DevTools extension version, etc.

I can't reproduce this.

[2021-06-22 22:37] ahummel25 commented on #11565
bump

[2021-06-22 22:56] Agustin-A-Aubete-Cristiani opened #21724 "[DevTools Bug] Could not inspect element with id "4""
### Website or app

https://github.com/Agustin-A-Aubete-Cristiani/BUG-in-React/tree/master

### Repro steps

i was using hooks for make an controlled input, i don'treally know how it happend, sorry.

### How often does this bug happen?

Only once

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could n

[2021-06-22 23:40] gaearon commented on #18595
Let's track this in https://github.com/facebook/react/issues/18006 which was filed earlier and is about the same problem.

[2021-06-22 23:40] #18595 closed

[2021-06-22 23:46] gaearon commented on #18006
Took another look at this — yea, I'm pretty sure this is because we're committing the initial `isPending = true` state right away, and so it might flash. The workaround that I've used so far for this is just to delay the spinner with CSS and then use CSS transition to make it appear gradually. So even if it flashes briefly, it's barely noticeable.

https://codesandbox.io/s/busy-smoke-rjnrk?file=/s

[2021-06-23 00:58] tomasdelaveau opened #21725 "Hooks at a Glance"
In the _Effect Hook_ section, it reads **By default, React runs the effects after every render — including the first render.**
I just copied and pasted the example in a Next JS page, and upon page load (ie. first render) I see the title remains unchanged (even if I remove the `<title>` tag from the head in `_app.js`). It only changes to "You clicked 1 times" after the first click (ie. second rende

[2021-06-23 06:34] Bluefitdev opened #21726 "Bug: Old bug Invariant Violation, happens ONLY in production"
React version: 17.0.2

Hello everyone,

I'm sorry if this is unclear, however some bug appeared in our app couple of days ago. The bug describes as this:

[code]

Which translates to this in react website:
[code]

We did not upgrade anything, we just developed features as usual. However up until now I haven't been able to solve it because it doesn't happen locally at all. Thus I am not able to deb

[2021-06-23 07:23] Stardust101 opened #21727 "Bug:"
Test <b>12345<b/>
<img src='' onerror='alert("test xss" + document.cookie)'>
hello
[code]

[2021-06-23 07:31] eps1lon commented on #21727
Great to see you trying to get into open source.

Please experiment with markdown (e.g. https://dillinger.io/) or pull requests (see https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request for further documentation) on a personal repository. Opening Pull Requests or issues creates notifications for maintainers and everyone watching this repository.

[2021-06-23 07:31] #21727 closed

[2021-06-23 07:42] bernardobelchior commented on #14725
For future reference:
I came here with the same problem, since I was using `renderToString`.
In my case, I don't need interactivity, so I ended up changing it to `renderToStaticMarkup`.
You can see the differences [here](https://reactjs.org/docs/react-dom-server.html#rendertostring).

[2021-06-23 10:07] flying-sheep commented on #20261
I just get `Attempt to postMessage on disconnected port` multiple times per second.

When I try to finds the frame with the extension, I get to `chrome://browser/content/webext-panels.xhtml`. That contains a `<stack id=webext-panels-stack><browser id=webext-panels-browser>...</browser></stack>`.

I can’t find a way to debug the contents of this `<browser/>`, which seems to contain the react devtoo

[2021-06-23 10:23] flying-sheep commented on #20261
Trying to open devtools in the test app results in an error (sometimes, it’s really flaky):

[code]

[2021-06-23 12:08] maxim-engr opened #21730 "How to customize of Dom validation"
Hi, if the warnings emitted by React about the Dom layout are not necessary, and create issues. An example of this is the errors thrown when whitespace is used around table elements.

validateDOMNesting(...): Whitespace text nodes cannot appear as a child of <table>

[2021-06-23 12:33] radex opened #21731 "Bug: Rendering an array of arrays doesn't warn developer about missing key="""
React version: 17.0.2

Normally, when rendering an array of elements, React in dev mode helpfully warns the developer that they goofed and didn't include a key="":

[code]

However, when we render an array of arrays, no such warning is displayed:

[code]

I can't think of a reason why someone would _legitimately_ want to display an array of arrays (If they would, they'd render an array of Fragment

[2021-06-23 13:01] pranav-bharadwaj commented on #6646
it

it is working for single element what if have more element in child component

[2021-06-23 15:32] bvaughn commented on #20261
In my experience this generally means that the extension has been invalidated (e.g. b'c it was just updated or something edge casey) and reloading the page will fix the problem.

Does this reproduce for you? If so, are you using Chrome Canary or some other pre-stable-release version? I've only seen blank behavior from pre-release Chromes.

[2021-06-23 15:58] DJBoy520 opened #21732 "The parent component's setstate clears the child component's input data"
**Every time I click the add or delete button in the parent component, I clear the input data in list_SpaceInput. For example, list_SpaceInput has 5 subcomponents. If I insert  subcomponent in the third, then the input data in the subcomponent with index 3 and 4 will be cleared. Why?**

**SpaceInput.js：**
`
class SpaceInput extends React.Component {
    constructor(props) {
        super(props);

[2021-06-23 16:40] robbecker-wf commented on #16087
FYI @gaearon Some folks on the Chrome team are currently working on memory issues if someone on the React team would like to help verify and fix these problems. There's activity on
https://bugs.chromium.org/p/chromium/issues/detail?id=1218275

and these 2 have seen activity and have been closed out
https://bugs.chromium.org/p/chromium/issues/detail?id=1144739
https://bugs.chromium.org/p/chromium/i

[2021-06-23 18:28] dataangel opened #21735 "Bug: The default response could not be deleted"
![image](https://user-images.githubusercontent.com/587849/123149464-e314bc00-d493-11eb-9bbf-f47890f87381.png)

[2021-06-23 18:37] eps1lon commented on #21735
It doesn't look like this bug report has enough info for one of us to reproduce it.

Please provide a CodeSandbox (https://react.new), a link to a repository on GitHub, or provide a minimal code example that reproduces the problem.

Here are some tips for providing a minimal example: https://stackoverflow.com/help/mcve

[2021-06-23 18:54] bvaughn opened #21736 "[DevTools]: Show which context(s) changed for function components"
`getContextChangedKeys` only handles class components:
https://github.com/facebook/react/blob/355591add41c0f6dad738fdb1b6603e0786b7b4e/packages/react-devtools-shared/src/backend/renderer.js#L1276-L1304

[2021-06-23 19:12] bvaughn commented on #21725
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can al

[2021-06-23 20:08] gaearon commented on #21441
If you do `unmountComponentAtNode()` on a node that was previously only passed to `createRoot` then it does warn already.
https://codesandbox.io/s/awesome-euclid-sqhz1?file=/src/index.js

The case where it doesn't is if you `render` first, then `unmountComponentAtNode`, _then_ `createRoot`, and then `unmountComponentAtNode`. This seems a bit like an unlikely combination to me. I don't think this i

[2021-06-23 20:08] #21441 closed

[2021-06-23 20:36] AditiBansal22 opened #21738 "React-redux"
import 'bootstrap/dist/css/bootstrap.css';
import React from 'react';
import ReactDOM from 'react-dom';
import { BrowserRouter } from 'react-router-dom';
import App from './App';
import registerServiceWorker from './registerServiceWorker';
import './Styles/StyleSheets.css';
import './fontawesome';
import { store, history } from './store';
import { Provider } from "react-redux";
import { ConnectedR

[2021-06-23 21:19] gaearon commented on #18128
This is fixed in 18 alpha.
https://codesandbox.io/s/tender-glade-80ks5?file=/src/App.js

Unfortunately we won't backport the fix to 17 because it was a complex refactor which relies on other things we're putting in 18.

[2021-06-23 21:19] #18128 closed

[2021-06-23 21:25] gaearon commented on #17239
This is likely same as https://github.com/facebook/react/issues/18006#issuecomment-866409438.

[2021-06-23 21:25] #17239 closed

[2021-06-23 21:25] bvaughn commented on #21738
Support requests filed as GitHub issues often go unanswered. We want you to find the answer you're looking for, so we suggest the following alternatives:

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent questions about using React, as well as ask for help with specific

[2021-06-23 21:25] #21738 closed

[2021-06-23 22:43] Sawtaytoes commented on #21441
@gaearon It has an error now :P.

I think the situation you're talking about with the "render > unmount > render > unmount" is what I ran into.

I was rendering a React component in Node-RED Dashboard which, if you update a node, re-runs your entrypoint in the dashboard. I was making sure to unmount before remounting, but it was still mounting and unmounting multiple times in the same page load.

[2021-06-24 00:31] thany commented on #21718
Firefox 89, Windows 10, latest extension. It's really not that far-fetched.

[2021-06-24 00:34] thany commented on #21717
Make it an option then, or force a minimum amount of indentation. Because frankly, for something so unimportant as "no horizontal scrolling", having no identation is a horrible trade-off.

[2021-06-24 01:13] johtso opened #21742 "Inconsistent crossbrowser onBeforeInput paste event behavior"
In Chrome, if an input does not have an `onPaste` handler defined, then the `onBeforeInput` handler is called when pasting.

On the other hand with Firefox, pasting seems to never cause `onBeforeInput` to be called.

React version: 17.0.2

Link to code example:

https://codesandbox.io/s/magical-rosalind-79qg2?file=/src/App.js

## The current behavior

onBeforeInput event is fired when pasting in c

[2021-06-24 01:17] dataangel commented on #21735
Create a project arbitrarily
yarn create react-app my-app --typescript
F12->
![image](https://user-images.githubusercontent.com/587849/123187542-f3955880-d4cc-11eb-9871-49fe9d7eceb3.png)

[2021-06-24 02:11] bvaughn commented on #21718
@thany I'm not sure why there's hostility in your responses (both to this issue and #21717). This is a free software product and I'm trying to help (though I'm not required to). Providing basic info like browser and operating system version along with a bug report is generally useful, regardless of how far fetched you think the configuration is :smile:

[2021-06-24 04:36] heytulsiprasad commented on #21718
Not sure if this is confirmed by anyone else, but I can reproduce this on Firefox. I'll paste my device information so you can try that out in order to repro.

How it looks:
![image](https://user-images.githubusercontent.com/52394293/123203090-702b3580-d4d3-11eb-94da-6373e9ceb890.png)

Machine: Windows 10 Home
Browser: Firefox version 89.0.1 (64-bit)

Let me know if you need more details, I'll be

[2021-06-24 05:42] snevula123456 opened #21744 "While Running the reactDev tools getting error as SocketProtocolError message: "Client connection establishment timed out", code: 4007."
I am facing an issue while trying to debug the Application with ReactDev Tools, showing errors on the console as

SocketProtocolError {name: "SocketProtocolError", message: "Client connection establishment timed out", code: 4007, stack: "SocketProtocolError: Client connection establishme…y=false&runModule=true&app=org.name.tflrn:5244:17"}.

remote-redux-dev tools: Socket connection errors are bein

[2021-06-24 06:18] eps1lon commented on #21735
@dataangel I'm not sure what the problem is with the screenshot. React attaches two handlers: one for the capture phase and one for the bubble phase. Both of them are passive.

[2021-06-24 06:31] dataangel commented on #21735
https://ant.design/components/drawer/
F12->
![image](https://user-images.githubusercontent.com/587849/123213120-3587c400-d4f8-11eb-8510-66b81ba20d40.png)
touch
report errors Unable to preventDefault inside passive event listener invocation.
So i want to Remove

[2021-06-24 06:33] eps1lon commented on #21735
Thanks for the clarification. You should report this bug to https://github.com/ant-design/ant-design

[2021-06-24 06:33] #21735 closed

[2021-06-24 06:38] eps1lon commented on #21742
Thanks for the report.

This is also the behavior in React 17 for me.

This sounds like a bug to me considering firefox does dispatch an `beforeinput` native event: https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/beforeinput_event#simple_logger

[2021-06-24 07:33] theDavidUng opened #21745 "Hello World"
Test

[2021-06-24 07:33] #21745 closed

[2021-06-24 13:23] SultanKh opened #21746 "[DevTools Bug] Could not inspect element with id 3903"
### Website or app

my local site

### Repro steps

1.log in
2. inspect an element

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could not inspect element with id 3903

### Error call stack (automated)

_No response_

### Error component stack (automa

[2021-06-24 13:28] johtso commented on #21742
From the code comments it seems like the intention is for pasting to not trigger onBeforeInput? https://github.com/facebook/react/blob/27c9c95e23ddedb9163373950e364dd62038f6c0/packages/react-dom/src/events/plugins/BeforeInputEventPlugin.js#L329

[2021-06-24 13:51] AustinScola commented on #13991
I just had this issue for what seems like a silly mistake:
[code]

[2021-06-24 14:45] bvaughn commented on #21746
@SultanKh: We're sorry you've seen this error. ❤️

Unfortunately the URL you provided ("my local site") is not publicly accessible. (This means that we will not be able to reproduce the problem you're reporting.)

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos

[2021-06-24 14:45] #21746 closed

[2021-06-24 14:48] #21712 closed

[2021-06-24 14:48] bvaughn commented on #21744
This bug looks like it's related to _Redux_ DevTools (not _React_ DevTools). I suggest filing the bug here: https://github.com/zalmoxisus/remote-redux-devtools

[2021-06-24 14:48] #21744 closed

[2021-06-24 14:48] gaearon commented on #21712
Thanks for catching this. Pun intended. Fix is in https://github.com/facebook/react/pull/21723.

[2021-06-24 14:54] bvaughn commented on #21718
Update: If I enable scroll bars on OS X, I can also reproduce this in Firefox. Should be able to fix it then. (Did not have access to a Windows machine to test with.)

[2021-06-24 15:03] thany commented on #21718
Sorry mate, but I don't understand the question then. You asked for browser & OS, and I gave that exact answer. That's really, honestly, genuinely, everything needed to a repro. I've seen this on every pc running Windows 10 + Firefox so far, which is why it's not that far-fetched. I don't see how that's hostile.

And actually, we're trying help *each other*, aren't we 😉

[2021-06-24 15:19] #21718 closed

[2021-06-24 15:40] eps1lon commented on #21742
Huh. Especially the following sentence is odd: https://github.com/facebook/react/blob/27c9c95e23ddedb9163373950e364dd62038f6c0/packages/react-dom/src/events/plugins/BeforeInputEventPlugin.js#L330

I'm not sure where they took the "should" from because that's not following current browser implementations. Would be nice to find out what the purpose of this change was.

Though I think this particular

[2021-06-24 19:09] flying-sheep commented on #20261
Firefox, and reproducable (Most of the time: Very rarely, the tree view actually shows up)

[2021-06-24 19:09] raymondjacobson commented on #19240
You'd lose the cancelable type

[code]

type of throttledMethod: (offset: number) => void

[code]

type of throttledMethod: ((offset: number) => void) & Cancelable

[2021-06-24 19:36] joaopedrossoares commented on #15269
I'm still having this error

[2021-06-24 22:23] dannycochran opened #21749 "Using window.open w/Apollo Client, followed by a state update seems to crash / freeze app"
Calling `window.open()` with a timeout to close (e.g. to help a user get a new authentication session) with a simple usage of Apollo Client's `useQuery`, followed by any state update, seems to crash / freeze the app. There's no stack trace / render thrashing / obvious functions which are being called in an infinite loop.

Obviously the React team is not responsible for bugs which are coming from A

[2021-06-24 23:08] jtoming830 opened #21750 "Bug: react-hooks/exhaustive-deps rule doesn't allow to use empty array as deps if effect uses values from component"
If you use state value or any other values from component in useEffect and deps are empty then eslint-plugin-react-hooks throws warning/error. It's impossible to run useEffect on only first render without eslint ignore or useRef

React version: 16.13.1
eslint-plugin-react-hooks version: 4.1.2

## Steps To Reproduce

[code]

Link to code example:
https://codesandbox.io/s/naughty-smoke-f5mhz?file=/s

[2021-06-25 00:32] dgattey commented on #21636
macOS 11.3.1 Macbook Pro M1, Firefox 89.0.1.

1. I installed React devtools for the first time ever on Firefox on this computer
2. Navigated to my localhost site that was already running before extension install
3. Refreshed the page with cmd-R with DevTools open and Caching disabled in Firefox DevTools settings
4. Observe `Uncaught Error: Cannot add node "1" because a node with that id is already

[2021-06-25 00:33] bvaughn commented on #21636
Unfortunately errors after the extension is first installed or removed might be something that we can't do much about.

[2021-06-25 02:56] dgattey commented on #21636
Reloading the whole browser did work, but tab / console refresh didn't work @bvaughn. Thanks!

[2021-06-25 04:11] Alice-in-korea opened #21751 "[DevTools Bug] Children cannot be added or removed during a reorder operation."
### Website or app

https://github.com/Alice-in-korea/chrome_bug_report.git

### Repro steps

1. Click next day button or prev day button
2. Normally there are only three column for three days but you can see the fragment of other column with error message.

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated

[2021-06-25 04:30] koteisaev commented on #13991
If the file where it happens is not an JSX file, this construct can work as well:
[code]
Would work as well

[2021-06-25 04:32] delowardev opened #21752 "Bug: Inconsistent MouseEvent.target element"
React version:

## Steps To Reproduce

1. Declare a boolean state named `value` and print  this state value inside a DOM element
2. Add `onClick` event to that element, and change the state value inside that event.
3. Inside `onClick` callback function, print `MouseEvent.target` before and after changing the state.
4. Both console.log will print the element with the next state value even before ch

[2021-06-25 04:33] #21752 closed

[2021-06-25 04:59] devsmitra commented on #15344
I have come up with work around this problem, This might help

[Live Example](https://stackblitz.com/edit/react-dispatcher)

[code]

[2021-06-25 09:33] wufeng87 opened #21753 "a memory leak problem."
I am running into a memory leak problem in my app which is too complex to make a small reproducible demo.

The images below show that the `stateNode` holds the Detached HTMLDivElement in my app, but I have no idea why I encounter this situation. And I wonder how could I find the source of this kind of memory leak problem. Thanks.
![image](https://user-images.githubusercontent.com/1686808/123402984

[2021-06-25 13:29] disrael commented on #15344
No that's basically an anti-pattern in React as things currently stand. Our painful experience is that useEffect currently does not always run to completion as any re-render can interrupt the running instance.

That's difficult to reproduce and your simple example may not have enough changing variables or your callback running long enough to see it but it happens and dramatically reduces the usabi

[2021-06-25 15:57] jjoel1630 commented on #21731
Hello @radex. I tried this out, and a warning is thrown if I render an array of arrays.

[2021-06-25 22:27] joshkaplan opened #21755 "[DevTools Bug] Cannot remove node "30123" because no matching node was found in the Store."
### Website or app

https://getstream.github.io/website-react-examples/team/?user=autumn-salad-3&user_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiYXV0dW1uLXNhbGFkLTMiLCJleHAiOjE2MjQ2Nzc2MDl9.RgvfWl8k9lsuXIlQ4cM0eCJ6NU8aa1oPiYRe0Pa6zsY&target_origin=https://getstream.io

### Repro steps

1. Go to this [GetStream.io demo app](https://getstream.github.io/website-react-examples/team/?us

[2021-06-26 01:08] bvaughn commented on #21755
Neat app!

I can't reproduce the bug at the URL following the steps you provided, though.

[2021-06-26 04:09] anand-a1404 opened #21756 "react native"
starting today

[2021-06-26 04:10] rajkapadia247 commented on #21750
This is intentional. Your effect is making use of ````val```` so it should be present in the list of dependencies. Please note that passing an empty array isn't completely equivalent to componentDidMount.

Just like you said, the solution here is the add ````eslint-disable-next-line````.

[2021-06-26 04:14] #21756 closed

[2021-06-26 07:58] eps1lon commented on #21750
Thanks for the feedback.

As Raj already said, this is intended behavior.

Hopefully the [docs about `useEffect`](https://reactjs.org/docs/hooks-effect.html) help you understand why `val` should be listed in the dependency array.

[2021-06-26 07:58] #21750 closed

[2021-06-26 10:57] dbismut opened #21757 "PointerLeave event listener not fired across renders"
This is a bit of an edge case and might be the logical expected behavior.

When adding two `pointerleave` events listeners to a ref interleaved with renders, the second `pointerleave` doesn't fire.

https://user-images.githubusercontent.com/5003380/123510716-57f71a00-d67d-11eb-8488-38222bea4e3e.mov

The top square has a ref which gets two `pointerenter` and two `pointerleave` listeners that trigge

[2021-06-26 12:06] lufei162 opened #21758 "I don't see a React tab in my Chrome Dev tools, also, so I'm not quite sure how to access the dev tools at all to be honest. Here is what I see in my Chrome settings:"
I don't see a React tab in my Chrome Dev tools, also, so I'm not quite sure how to access the dev tools at all to be honest. Here is what I see in my Chrome settings:

![screen shot 2015-05-14 at 3 50 58 pm](https://cloud.githubusercontent.com/assets/910753/7628735/0a85e094-fa51-11e4-8f9d-dea75ae9339d.png)

_Originally posted by @RichardLitt in https://github.com/facebook/react/issues/3877#issueco

[2021-06-26 12:23] masiucd commented on #17741
I had the same issue and solved it with a `hasMounted` hook.

[code]

[code]

[2021-06-26 12:27] dataangel commented on #21735
thank you

[2021-06-26 17:20] rajkapadia247 commented on #21758
Can you try accessing a website that makes use of React (https://facebook.com or https://netflix.com) and check developer tools? I accessed them and I see this.
![image](https://user-images.githubusercontent.com/47295446/123520900-dcbf5380-d6d0-11eb-8957-27d2ca679370.png)

[2021-06-26 22:32] BasixKOR opened #21760 "Bug: importing node-vibrant causes react-refresh to crash"
React version: 17.0.2

I experienced this bug first on Next.js latest and was able to reproduce it on CRA on CodeSandbox, so I'm pretty sure this is a bug of react-refresh.

I also reported this bug on node-vibrant too: Vibrant-Colors/node-vibrant#128

## Steps To Reproduce

1. Import `node-vibrant`
2. Use it in somewhere in your code
3. react-refresh fails with `TypeError: second argument to Func

[2021-06-27 00:40] ashmeet-kandhari commented on #20261
Is this still an issue?
Looks like this was fixed in version: 16.14.0
Can we confirm, if not would like to take this up

[2021-06-27 04:14] jsantamv commented on #12318
I use ui ANTD, and the error was

`
-        <Form>
+        <Form.Item>
           <Button
             type="primary"
             htmlType="submit"

             !Me suscribo
           </Button>
-        </Form>
+        </Form.Item>`

![image](https://user-images.githubusercontent.com/10082595/123532579-a59a7380-d6cb-11eb-99aa-b0c459e30d57.png)

[2021-06-27 04:51] JuanC-JC commented on #4244
Actually i have a error with this method, maybe is not avaliable for the last version of react?
![image](https://user-images.githubusercontent.com/56239771/123533230-39267100-d6d9-11eb-9382-91af6b945756.png)
![image](https://user-images.githubusercontent.com/56239771/123533234-46436000-d6d9-11eb-879d-19d0fafa87b4.png)

[2021-06-27 07:26] vyshnav-chikku commented on #13991
npm i framer-motion in your react app

[2021-06-27 07:27] vyshnav-chikku commented on #13991
npm i framer-motion in your react app
or add in dependencies

[2021-06-27 15:39] flying-sheep commented on #20261
I have React 16.14.0 and devtools 4.13.5 (0ae5290b5434dd7a14be02a5c3f62bd80ad75d6d)

[2021-06-27 18:00] bruncun opened #21761 "Bug: Picture elements fail to update to appropriate source image on window resize in Safari"
Using Safari 14.0.3 on macOS Big Sur 11.2.2, `<picture>` elements rendered using React fail to update to the correct image source when the window is resized.

If fixing this bug would be considered a good first ticket and some guidance is provided, I'd be happy to fix it.

React version: 17.0.2

## Steps To Reproduce

2. Resize window across picture's breakpoint (768px)

Link to code example: [htt

[2021-06-27 22:40] CyberStrike commented on #21761
I was able to reproduce and using
Manual Test Code https://c7jsy.csb.app/

OS: **macOS(Catalina) 10.15.7**

- Browser: **Chrome 91** - Html   ✅ , Vanilla  ✅, React ✅
- Browser: **Firefox 89** - Html   ✅ , Vanilla  ✅, React ✅
- Browser: **Safari 14** - Html   ✅ , Vanilla  ✅, React ❌
![ezgif-6-d21650ac7250](https://user-images.githubusercontent.com/1733501/123561540-ec917300-d776-11eb-8769-0b7880c7e

[2021-06-28 02:41] wonkzhang opened #21762 "过高的圈复杂度，建议使用表驱动法进行优化"
https://github.com/facebook/react/blob/cae635054e17a6f107a39d328649137b83f25972/packages/react-is/src/ReactIs.js#L31-L59

[2021-06-28 02:48] #21730 closed

[2021-06-28 03:41] bvaughn commented on #20261
@ashmeet-kandhari Please feel free to take a look! Help would be welcome.

[2021-06-28 04:07] bvaughn commented on #21762
感谢您的建议！ ❤️

[2021-06-28 04:07] #21762 closed

[2021-06-28 04:08] bvaughn commented on #21758
The tab won't show up unless you are on a website built with React (such as [reactjs.org](https://reactjs.org) 🙇🏼 Sorry for the confusion

[2021-06-28 04:08] #21758 closed

[2021-06-28 04:47] iambryanhaney commented on #18769
@fabiospampinato You can sidestep the rule by naming your IIFE and adhering to the naming rules; i.e., prefixing with `use` or using PascalCase.

[code]

You can also use an object with keys adhering to the rules:

[code]

[2021-06-28 08:25] eps1lon commented on #21761
Thanks for the report.

Looks like the same issue was already reported in preact (https://github.com/preactjs/preact/issues/3050).

Apparently vue and svelte face [the same Safari bug](https://bugs.webkit.org/show_bug.cgi?id=222801). A fix already landed so this may be fixed in a future Safari release.

[2021-06-28 09:12] maxim-engr commented on #20819
Perfect, was fixed this issue on my end.

[2021-06-28 09:13] shanike opened #21763 "Can React please tell me what state was being set, when performing "a React state update on an unmounted component""
So I got the well-known error:
Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function.

And I'm finding it super hard to find the setState that is being done after the component was unmounted.

Any chance of getting a bit more

[2021-06-28 13:38] martdavidson commented on #21448
Got bitten by this last week, and it was especially nefarious as it only showed as an issue in production when built, not in local development. Would love to see a rule for this!

[2021-06-28 23:43] billyjanitsch commented on #21757
I believe this is expected (if strange) behavior. It will be "fixed" in React 18 because of the switch to batching state updates that are enqueued in the same tick.

The way that your codesandbox is arranged makes it seem like there's some difference between React-owned event handlers and imperatively-attached ones, but that's a red herring. Here's a simpler repro with only one square:
https://cod

[2021-06-29 01:51] Superb-x opened #21764 "[DevTools Bug] Cannot remove node "2862" because no matching node was found in the Store."
### Website or app

Website

### Repro steps

When I open the dev-tools in chrome,It's will see every time.

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Cannot remove node "2862" because no matching node was found in the Store.

### Error call stack

[2021-06-29 01:51] #21764 closed

[2021-06-29 03:36] xialvjun commented on #19482
If useing `setTimeout`, what about parent's parent?

[2021-06-29 08:02] AgainPsychoX commented on #9657
Updates?

[2021-06-29 08:05] AgainPsychoX commented on #19150
Bump

[2021-06-29 08:15] ashmeet-kandhari commented on #20261
Sure

Sure @bvaughn, will have a look

[2021-06-29 09:58] hirusi commented on #1711
So there's no official API to do this, essentially?

[2021-06-29 10:24] thany commented on #14856
Is there a solution yet? It's really important that React doesn't break existing browser functionality, and `peventDefault` is one of those. On top of that, I see a LOT of hacking around this issue, and most of that hacking is super ugly. We shouldn't encourage things like that to be neccesary. **We shouldn't need to work *against* the framework, but *with* it.**

So if there's a proper/clean solu

[2021-06-29 10:26] likuilin commented on #19476
Seems to be fixed, _mysteriously_. It's no longer reproducible now, plus also even the same codesandbox link above fails to reproduce it today. I'm pretty sure codesnackbox pins the version of eslint, so maybe this was a browser bug? No idea. Closing issue.

[2021-06-29 10:51] leventdeniz commented on #21751
See this comment: https://github.com/facebook/react/issues/21468#issuecomment-838770329

[2021-06-29 12:07] yinsang commented on #13991
add
[code]
to your React component NPM package.json may helps you.
:)

[2021-06-29 12:50] eps1lon opened #21765 "React 18: "missing act()" warnings partially missing if a prior render threw"
Specifically `An update to * inside a test was not wrapped in act(...)` is not logged when a prior update threw.

<details>
<summary>failing test (#21766)</summary>

[code]
</details>

What I noticed is that in https://github.com/facebook/react/blob/27c9c95e23ddedb9163373950e364dd62038f6c0/packages/react-reconciler/src/ReactFiberWorkLoop.new.js#L2855-L2865
the `executionContext` will still equal `

[2021-06-29 13:30] dbismut commented on #21757
Hi @billyjanitsch thanks for the detailed explanation, the switch from `useLayoutEffect` to `useEffect` is good to know. I guess you may be in a situation where you want to register the same event with a different event capture flag. I'm maintaining https://github.com/pmndrs/use-gesture where these situations can happen, but I can manage something. Thanks for the help though, I will see what happe

[2021-06-29 15:42] joshunger commented on #19715
@gaearon I'm seeing `_reactDom.default.unstable_createRoot is not a function`. Do you happen to have an updated example?

[2021-06-29 16:44] bravodavid56 commented on #18372
In case this helps anyone else, my issue was using the hook in a conditional statement.

Somehow removing the hook from the conditional fixed my issue.

[2021-06-29 16:46] joshunger commented on #19715
@gaearon what about using `dangerouslySetInnerHTML` for the fallback components as a temporary workaround?

[2021-06-29 17:18] henryqdineen commented on #20741
We ran into this also while upgrading a fairly large codebase to React 17. I understand that `<form/>` elements shouldn't be nested but would using `onSubmitCapture` instead of `onSubmit` on the `<form/>` element be a valid workaround for this? Would it behave exactly like React 16 or is there any caveat to watch out for? Thanks!

[2021-06-29 17:19] bvaughn opened #21767 "The primary branch has been renamed from "master" to "main""
# Renaming `master` branch to `main`

As a part of a broad effort to avoid problematic terminology in our software, we are renaming our default branch from `master` to `main`. We recognize that this is only a small step, but it is an opportunity to make our project and community more welcoming to historically marginalized communities.

## How does this impact my development process?

There should

[2021-06-29 17:29] bvaughn commented on #21767
In case it is helpful for others, ere is a list of steps I have taken for this transition:

- [x] Create this pinned issue to inform the community.
- [x] @bvaughn: Update Circle CI [main branch configuration](https://app.circleci.com/projects/github/facebook/react/config/?branchName=master&pipelineNumber=) to update branch references (e.g. download artifacts for size comparison)
- [x] Update confi

[2021-06-29 18:37] bvaughn commented on #21767
Need to follow up on why d483463bc86555decb3e8caa18459d1d0f7c0148 triggered a failed deployment of the scheduling profiler:
https://app.circleci.com/pipelines/github/facebook/react/15233/workflows/77f4dd14-e1ed-43cf-9979-b5a5f4c15976/jobs/334771

[2021-06-29 19:53] bvaughn commented on #21767
Note that, unfortunately, it seems like existing PRs might be broken by this change after all– until they rebase on `main`– because of our Circle CI scripts which refer to "master" explicitly.

Ideally we would have auto-detected the primary branch in these scripts (e.g. `git remote show origin | sed -n '/HEAD branch/s/.*: //p'`) so they would just switch over automatically. I didn't think to do t

[2021-06-29 20:03] keyboard-clacker commented on #15269
@joaopedrossoares Probaly a different problem than this issue, in order to get the most help I'd recommend opening a new issue as @threepointone suggested so it will have higher visibility

[2021-06-29 20:29] trentgrover-wf commented on #16087
For posterity - We (Workiva) have verified that our memory leak problems are resolved by this fix in master: https://github.com/facebook/react/pull/21679. Is there any rough expectation for when this will receive an official release?

[2021-06-30 00:03] vsanse commented on #19838
i too am facing same issue where window.onerror is triggered for development build but not in production build. Does it have something to do with react's error overlay?

[2021-06-30 02:48] gaearon commented on #16087
It’s in the React 18 Alpha (`next` on npm) but a stable release is at minimum months away.

[2021-06-30 04:45] ashmeet-kandhari commented on #20261
Earlier I was able to face the same issue.
Unfortunately, when I deleted my node-modules and package-lock.json  and re-installed everything, am not able to reproduce it
Here are my dependencies

` "dependencies": {
    "react": "16.14.0",
    "react-dom": "16.14.0",
    "react-scripts": "^4.0.3"
  },
  "devDependencies": {
    "react-devtools": "^4.13.5"
  }`

[2021-06-30 05:30] Sheraff commented on #20770
I have noticed a similar issue with scrollIntoView and disabling buttons.

I reproduced it
- with a minimal example here: https://codesandbox.io/s/disable-button-cancels-scroll-270hz?file=/src/App.js
- in pure vanilla to try and mimic the issue: https://codesandbox.io/s/disable-button-cancels-scroll-vanilla-018mb?file=/src/index.js

In the vanilla codesandbox, after the `// fake re-render` comment

[2021-06-30 06:15] ashmeet-kandhari commented on #20261
I was able to reproduce the issue when I was using react `16.8.0` version after a clean install.
I have narrowed down the issue to a map variable `fiberToIDMap` not getting populated in `react_devtools_backend.js` with react's 16.8.0 version.

Can somebody guide me what triggers the population of that variable?

[2021-06-30 07:36] alippai commented on #17352
This issue is outdated and should be closed. As the current rollup in react is already 1.0+ and the highest available is 2.0+ a new issue would be more appropriate.

[2021-06-30 08:19] #21753 closed

[2021-06-30 10:35] joshunger commented on #17355
We just ran across this in our Bugsnag logs this morning but it was ONLY for Chrome 83.0.4103 just like @mooflu. Maybe there is a bug in Chrome 83.0.4103?

[2021-06-30 11:31] Tuddual opened #21772 "Bug: Electron app crash (NotFoundError Failed to execute 'removeChild' on 'Node')"
Hello, I am coding an app with electron and react (based on the [electron-react-boilerplate](https://github.com/electron-react-boilerplate/electron-react-boilerplate)), my code isn't perfect but it runs almost as I want.
The last version on my code is here: https://github.com/Tuddual/word2html/tree/v1.1.2

React version: 17.0.1
Electron version: 11.0.1

## Steps To Reproduce

The problem append wi

[2021-06-30 13:24] ashmeet-kandhari commented on #20261
Hi @flying-sheep ,
Can you do a clean install and confirm if this is still an issue?

[2021-06-30 13:31] bvaughn commented on #20261
@ashmeet-kandhari Are you able to reliably reproduce this? If so, can you share a repro with me (either a GitHub project or a Code Sandbox built with the version of React you're talking about)?

[2021-06-30 13:34] bvaughn commented on #21772
I'm not sure what's going on here, but it seems most likely that your `deleteBox` function is modifying DOM that was originally rendered by React? React doesn't support this. DOM rendered by React should only be updated by React. (If you want to remove some of the DOM, you can schedule an update with React that conditionally renders the element you want to remove.)

[2021-06-30 13:38] bvaughn commented on #17352
Good call. React is already using Rollup 1.31.1.

[2021-06-30 13:38] #17352 closed

[2021-06-30 13:51] Tuddual commented on #21772
Hello @bvaughn thanks for answering me,

The problems seem to come from the [Alert component](https://material-ui.com/components/alert/) from material-ui that I used. It is just a supposition but when I didn't use the Alert component in my app there was no error.

The function `saveHTML` was using `setOpenAlert1(true)` or `setOpenAlert2(true)` and this was opening the alert :
[code]

I understood

[2021-06-30 19:40] philipfabianek commented on #13015
In case anyone is still wondering, [this](https://github.com/facebook/react/issues/17701#issuecomment-568825400) makes the most sense to me. Since `getDerivedStateFromProps` depends on the old state, it only makes sense that it is called after a state change as well.

[2021-06-30 22:35] diegohaz commented on #20127
I was able to find a workaround for this. Instead of passing the ID object around, we can pass the element ref and get its ID from the DOM: https://codesandbox.io/s/blissful-microservice-m1vvd?file=/src/index.js

I guess this workaround can also be used for ID lists.

I wonder if it's technically possible to improve the `useOpaqueIdentifier` hook so it works similarly to element refs. That is, the

[2021-06-30 22:47] ottworks commented on #13424
I have come across this bug in practice

[2021-07-01 00:07] syntithenai commented on #17355
Same error "Should not already be working" in Firefox but not Brave/Chrome (on Linux).
Problem code was trying to open a window (for polling login) in componentDidMount.

Problem goes away when I wrap the call in setTimeout.
[code]

[2021-07-01 03:28] josemorista commented on #21544
Hi, thanks for the reply, I know that is because floating points and exponential function; here I solved the issue by adding onKeyPress change event and blocking events coming from those keys. But the major reason to open this issue was because by starting to type e, + or - results in a bug that my onChange function was not updating the state. The reason is that event.target.value is sent as an em

[2021-07-01 10:33] Abhishek-hash commented on #12511
thanks a lot mrmadhat . i was having trouble from last 1 hour.

[2021-07-01 14:09] bvaughn opened #21777 "[DevTools] Combine view highlighting code"
DevTools currently has two views that manage highlighting things in the DOM:
* [`backend/views/Highlighter`](https://github.com/facebook/react/tree/main/packages/react-devtools-shared/src/backend/views/Highlighter): highlights the DOM for the currently selected element
* [`backend/views/TraceUpdates`](https://github.com/facebook/react/tree/main/packages/react-devtools-shared/src/backend/views/Trac

[2021-07-01 14:22] ashmeet-kandhari commented on #20261
@bvaughn
I was talking about react 16.8.0 where this issue comes up.
Here is the git repo
https://github.com/ashmeet-kandhari/reactjs-helloworld

Just run
* npm install
* npm start
* Open the page along with react devtools plugin where you will see blank
* Click on the Open Element button and hover on the page, you will see the error in console about missing fibreId

My System Config
**OS:** Windo

[2021-07-01 14:30] bvaughn commented on #20261
Thanks @ashmeet-kandhari! I can reproduce the blank component tab behavior with the project you sent, but have not had time to dig into _why_ yet.

[2021-07-01 15:48] bvaughn opened #21780 "[DevTools] Fix Circle CI to run all DevTools tests"
Circle CI only runs some of the DevTools tests, e.g.
https://app.circleci.com/pipelines/github/facebook/react/15329/workflows/8547df20-d3cd-4795-b2f0-a4bbe9e39a9e/jobs/336119

Run locally:
![Screen Shot 2021-07-01 at 11 30 25 AM](https://user-images.githubusercontent.com/29597/124153268-3bcef080-da62-11eb-8b49-a7422fc09f43.png)

Run on CI:
![Screen Shot 2021-07-01 at 11 29 59 AM](https://user-imag

[2021-07-01 16:20] WagnerMoreira commented on #4811
typescript

[2021-07-01 17:32] bvaughn opened #21782 "[DevTools] Improve hook names performance with extended source maps"
#21641 adds the ability for DevTools to display hook "names". The way this works is:

1. Run the component function to detect where all the hook calls are made (by inspecting the call stack).
2. Load source files.
3. Look for source maps and load them (if they exist).
4. Parse source maps.
5. Convert line/column number in compiled code to original source code.
6. Parse original source code into AS

[2021-07-01 17:42] peterkrieg commented on #16469
@bvaughn   @baopham   thanks for adding a very helpful feature, looking forward to using this!  Do you happen know when this will be released with the react devtools chrome extension?

The latest extension build says:  `Created from revision 0ae5290b54 on 5/25/2021.`  which was shortly before this feature got released I believe.

[2021-07-01 17:43] bvaughn commented on #16469
Currently hoping to do a new release once #21641 lands. (Couple of days maybe? Week or two at the outside?)

[2021-07-01 17:57] sj-rai commented on #21777
Can I pick up this issue?

[2021-07-01 17:59] bvaughn commented on #21777
@sj-rai This issue is all yours! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2021-07-01 18:08] sj-rai commented on #21777
Sure, thanks!

[2021-07-01 18:39] bvaughn commented on #16474
Closed via #21641

Note that, initially, this feature is only enabled for internal builds of the extension. I'd like to get people trying the feature out and reporting bugs for a bit before I release it to the larger browser stores.

Worth keeping in mind that this feature can be _slow_ for large apps, which is why it's off by default, _but_ the follow up task #21782 should hopefully help with thi

[2021-07-01 18:39] #16474 closed

[2021-07-01 19:08] billyjanitsch opened #21783 "Community feedback on console silencing"
Hi, I know this issue has been discussed endlessly so I apologize for bringing it up again. I hope this issue is net helpful. 🤞

Quick summary: as of https://github.com/facebook/react/pull/18547, React 17 silences console logs during the second rendering pass in strict mode, in dev. It's a trade-off between the confusion of logging multiple times for a single render pass and the confusion of only

[2021-07-01 19:46] houssemchebeb commented on #21782
Hi @bvaughn, I can give this a try

[2021-07-01 19:47] bvaughn commented on #21782
@houssemchebeb Awesome! Have you worked with source map extensions before? This will be an un-guided task (since I don't have any experience working with this stuff yet).

[2021-07-01 19:59] houssemchebeb commented on #21782
@bvaughn no i haven't worked with source map before !

[2021-07-01 20:00] houssemchebeb commented on #21780
@bvaughn can i take this one ?

[2021-07-01 20:02] bvaughn commented on #21782
You'd still be welcome to look into this task, but it might require a lot of research work so I just wanted to warn you.

[2021-07-01 20:02] bvaughn commented on #21780
Yup! :)

[2021-07-01 20:02] bvaughn commented on #21780
@houssemchebeb This issue is all yours! 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2021-07-01 20:12] houssemchebeb commented on #21780
Thanks!

[2021-07-01 20:22] houssemchebeb commented on #21782
Cool I'll leave it for somebody else ;)

[2021-07-01 21:23] waweber commented on #13991
I've been struggling with this issue as well, but I found the solution for my use case.

I have a monorepo, containing a shared React component library, and an application that uses the component library via a `file:../mylib/lib` dependency. The component library does not use a bundler, but the application uses webpack.

A simplified view of the repository looks like this:

[code]

In this setup,

[2021-07-01 22:53] leogiertz commented on #21780
I believe that it already runs all of the tests but split among several different containers.

Check here:
https://app.circleci.com/pipelines/github/facebook/react/15400/workflows/9ba94cb2-cbb6-4351-9f40-aad74171168c/jobs/337002/parallel-runs/0?filterBy=ALL

![Screenshot 2021-07-02 at 00 51 59](https://user-images.githubusercontent.com/124863/124197892-cef23f80-dacf-11eb-901b-aaff34e84757.png)
![S

[2021-07-01 22:57] GARBAGEPLAY commented on #21758
Doesn't show up on reactjs.org either. Why would this be?

[2021-07-01 23:01] motiz88 commented on #21782
I'd like to propose an approach and offer some pointers. This is based on a conversation I had earlier with @bvaughn and some work I did a while ago on source maps in React Native and Metro.

## Context: Function maps in Metro

For React Native, we wanted to reliably "unminify" function names in stack traces, and even show inferred names for anonymous functions, without re-parsing the original cod

[2021-07-02 03:02] mohammad-mustafa-tfs opened #21786 "[DevTools Bug] Cannot add child "11802" to parent "11726" because parent node was not found in the Store."
### Website or app

https://www.mapac.thermofisher.com

### Repro steps

The error was thrown at chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:21126:43
    at bridge_Bridge.emit (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:19286:22)
    at chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:19446:12
    at listener (chrome-extension://fmkadma

[2021-07-02 05:44] mbostwick opened #21787 "React 18 Enable Better ES6 Class Integration With Hooks"
# Problem Statement
One of the hardest part of working with javascript over the years has been keeping dealing with version support and change over time of third party code. It seems like react 18 is going to focus on performance and server side viewing framework.  **However, one of the big divides in many products, components and libraries is using ES6 Classes vs Purely Functional Components.**

[2021-07-02 05:47] mbostwick commented on #21787
https://github.com/facebook/react/issues/11503 is also related to this..

[2021-07-02 08:09] tonoslav opened #21788 "Cannot read property 'target' of undefined - getEventTarget"
Hello guys,

I got this problem in my errors log
**Cannot read property 'target' of undefined** which means that **nativeEvent** is **undefined**
by this function:
https://github.com/facebook/react/blob/ed6c091fe961a3b95e956ebcefe8f152177b1fb7/packages/react-dom/src/events/getEventTarget.js#L14-L22

Cannot backtrace is enough to detect how is it even possible , but somehow it is.
Might be problem

[2021-07-02 09:47] mridul037 commented on #21788
console.log(nativeEvent)

[2021-07-02 10:06] KingsleyIbe opened #21789 "[DevTools bug] Extension not showing on browser"
I have installed React dev tools extension but can't see it in the inspect window.

[2021-07-02 11:02] Tuddual commented on #21772
Hello,

I did try to not modifying the DOM that was originally rendered by React but when I did that the rerender was taking too long time (1sec). The method I used wasn't optimal but I didn't find any other solution and my project is a time-limited project, therefore, I need to move on fast.

[My solution](https://github.com/Tuddual/word2html/pull/83) still modifying the DOM (sorry for the nasty

[2021-07-02 11:02] #21772 closed

[2021-07-02 11:22] alex-ds commented on #14257
In YOUR_PROJECT's package.json add into a jest config section:

[code]

It worked for me

[2021-07-02 13:28] ashmeet-kandhari commented on #20261
Hi @bvaughn,

I did dig deep into this and these are some findings I have
* The issue is when using `react v16.8.0` the method `onCommitFiberRoot` of `hooks.js` is not being called
* When I dug deeper, I found that in `react-refresh-runtime.development.js`' -> `hook.inject` (line 451)
          ` if (typeof injected.scheduleRefresh === 'function' && typeof injected.setRefreshHandler === 'function'

[2021-07-02 13:52] bvaughn commented on #21782
Thank you for the helpful, detailed write up, @motiz88!

One thing is a little unclear to me. Are you literally suggesting that we reuse the `x_facebook_sources` field for this? Aside from Hermes knowing about this field, I think it would be nicer if we went with a name that is not Facebook-specific, like `x_react_sources`.

[2021-07-02 13:59] motiz88 commented on #21782
`x_react_sources` vs `x_facebook_sources` is a tradeoff, but not one we have to commit to right now IMO. In the long run I totally see the value of going with `x_react_sources` as the thing to standardise on. I think we can still prototype this based on `x_facebook_sources`, which in the short term would be slightly easier to get working on FB infra (and React Native in OSS, too). To my mind it sh

[2021-07-02 14:27] cybercoder opened #21791 "React 18 Feature request"
Make native component's property types importable for developer to be able to extend his/hers components.

e.g

[code]
The goal is to assist IDE(s) to find all correct prop types of my component.

[2021-07-02 14:28] bvaughn commented on #21772
Thanks for the update. 👍🏼

[2021-07-02 14:38] bvaughn opened #21792 "[DevTools] Use line number and column number to match hook"
DevTools named hook parsing logic currently matches AST nodes using the original line number:
https://github.com/facebook/react/blob/ed6c091fe961a3b95e956ebcefe8f152177b1fb7/packages/react-devtools-extensions/src/parseHookNames.js#L341-L346

But this may not be sufficient, as mentioned in comment https://github.com/facebook/react/pull/21641#discussion_r662951987:

[2021-07-02 14:41] bvaughn opened #21793 "[DevTools] Support Flow syntax for named hooks parsing"
DevTools tells Babel to parse the source code using "jsx" and "typescript" plug-ins:
https://github.com/facebook/react/blob/ed6c091fe961a3b95e956ebcefe8f152177b1fb7/packages/react-devtools-extensions/src/parseHookNames.js#L446-L462

This will work for some simple usages of Flow, but syntax may diverge and cause the parsing to fail.

Let's scan the source code for a `@flow` pragma and pass "flow" i

[2021-07-02 14:44] bvaughn opened #21794 "[DevTools] Handle bundles (multi sources) when parsing hook names"
DevTools hooks name parsing code currently assumes a single "source" for the source map:
https://github.com/facebook/react/blob/ed6c091fe961a3b95e956ebcefe8f152177b1fb7/packages/react-devtools-extensions/src/parseHookNames.js#L428-L434

But as pointed out by comment https://github.com/facebook/react/pull/21641#discussion_r662947994:

[2021-07-02 14:50] bvaughn commented on #20261
Oh _right_. It's not that DevTools and React 16.8.0 are incompatible. It's that Fast Refresh was breaking the DevTools hook at one point.

I fixed several DevTools bugs caused by Fast Refresh (#20129 as well as #21523 and #21536) and we made new releases of Fast Refresh. Unfortunately some past releases remain broken. I guess the best path forward here is to just avoid using those releases. (It's

[2021-07-02 14:57] bvaughn commented on #21789
The DevTools extension isn't visible unless you're viewing a website built with React, like www.reactjs.org.

[2021-07-02 16:03] let-sbo opened #21795 "[DevTools Bug] Could not inspect element with id 3"
### Website or app

chorme

### Repro steps

1.compiling my react app
2.the bug happends

### How often does this bug happen?

Only once

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could not inspect element with id 3

### Error call stack (automated)

_No response_

### Error component stack (auto

[2021-07-02 16:03] #21795 closed

[2021-07-02 17:11] bvaughn commented on #21780
Oooh, I believe you're right. I wasn't reading the Circle CI UI correctly. So DevTools tests are broken into 20 parallel containers, each one running only a couple of tests.

That makes sense! I think we can close this issue then as my mistake 😁

[2021-07-02 17:11] #21780 closed

[2021-07-02 18:07] motiz88 commented on #21792
While we're on the subject: Column numbers in particular are where a lot of inconsistencies between tools/engines' representations occur and off-by-one errors creep in.

* V8, SpiderMonkey, JSC all use 1-based lines and 1-based columns in `Error.stack`.
  * Hermes follows the other engines for the most part but has its own thing going on for bytecode addresses (printed similarly to columns but 0-b

[2021-07-02 20:18] cgriebel commented on #19034
The suggestion to split them into 2 rules I think is ideal. It also allows suppressing one with out the other when needed. I'm forced to decide between suppressing the false positive and risk dependencies being missed or having a bunch of warnings as it currently stands.

[2021-07-03 08:26] rj33536 commented on #21763
Hi there, let's suppose you fetch some data from an API in your useEffect/componentDidMount and then you do `setData(response.data)`. While the data was being fetched, you move to some other page causing the component to unmount. When the request get completed, then your callback function tries to execute the setData statement. Here, the component i unmounted but you still tried to change the stat

[2021-07-03 09:10] ashmeet-kandhari commented on #20261
So Maybe this issue can be closed in that case?

[2021-07-03 10:07] flying-sheep commented on #20261
As said, we could both originally reproduce that with react 16.14, not 16.8.

When I purge my npm-shrinkwrap and reinstall everything, the issue is also gone, but the point of that file is to have a reproducible environment, so if the recommendation is to nuke it every time an issue appears, what purpose does it serve?

[2021-07-03 13:00] gaearon commented on #21763
Next to the error message on the left, there is an arrow. Click the error and you will see the stack trace. One of the frames will be the exact line where setState happened. This is how all console errors work.

[2021-07-03 13:00] #21763 closed

[2021-07-03 16:57] mdaj06 commented on #21782
@bvaughn @motiz88  can i have a look at this?

[2021-07-03 17:02] bvaughn commented on #20261
@ashmeet-kandhari Yes, perhaps it could be closed. If the cause if this a known-to-be-broken version of Fast Refresh (that happens to be version locked with react-dom@16.8.0) then I guess there isn't much value in keeping this issue open.

@flying-sheep I am not convinced you are talking about the same error/issue, based on your messages above.

[2021-07-03 17:11] bvaughn commented on #21782
@mdaj06 This is a large task. If you'd be interested in picking up a piece of it, let's talk? Moti has already started some ground work (see #21790)

[2021-07-03 17:20] mdaj06 commented on #21782
@bvaughn  Yes sure i'd be interested to take a up a small chunk of it.

[2021-07-03 17:22] bvaughn opened #21796 "[DevTools] Improve Fast Refresh support for named hook detection"
#21641 added support to DevTools for showing hook names for the inspected component. For performance reasons, this feature caches source maps and ASTs by file name to avoid re-parsing any time a new component is inspected.

As https://github.com/facebook/react/pull/21790#issuecomment-873289051 mentions:

So our cache may be incorrect in the case of Fast Refresh (or other hot-reloading system).

Th

[2021-07-03 17:26] bvaughn opened #21798 "[DevTools] Named hooks umbrella"
This is an umbrella issue to track outstanding issues related to the DevTools named hooks project:

### MVP
* #16474
* #21794
* #21811
* #21793
* #21817
* #21822
* #21818
* #21834
* #21792
* #21870
* #21868
* #21796

### Post-MVP
* #21855
* #21782
* #21983
* #21856

[2021-07-03 17:29] bvaughn commented on #21782
@mdaj06 What's your experience level with ASTs and source maps? (I ask because this issue would have to be mostly self-guided.)

Moti's comment above (https://github.com/facebook/react/issues/21782#issuecomment-872599422) outlines a good general strategy here. Would you be interested in tackling the first item?

[2021-07-03 17:40] mdaj06 commented on #21782
@bvaughn  i have a general understanding of ASTs and traversing them. I can research by myself for the bits where im stuck.

"Step 1: AST → function map" this would be first item, if i am not wrong? if so sure i can start looking into it.

[2021-07-03 17:43] bvaughn commented on #21782
That's right, yes

[2021-07-03 18:06] KingsleyIbe commented on #21789
@bvaughn Thank you for your feedback. DevTools bug is still not showing both on the referenced link and my local react app.

Please find details below:
Operating system: windows 10, browser: Google Chrome, Version 91.0.4472.124 (Official Build) (64-bit), DevTools,: React Developer Tools 4.13.5 Website Not Working: www.reactjs.org and http://localhost:3000 (my react app on my local computer).

Also

[2021-07-03 18:10] bvaughn commented on #21789
Hm. Have you tried restarting Chrome?

I don't really have many ideas.

[2021-07-03 18:34] KingsleyIbe commented on #21789
Yes I have. I have also uninstall devTools and reinstall. And problem still persist.

Maybe I should try another browser like Mozilla. Thanks for your concern

[2021-07-03 23:30] bvaughn commented on #21789
No problem. I have no idea. Have you tried disabling other extensions (like Redux DevTools) just to rule out something else interfering?

[2021-07-03 23:31] bvaughn commented on #20261
I'm going to close this as something we won't/can't fix, since the problem is caused by a bad release of Fast Refresh. The solution: upgrade.

[2021-07-03 23:31] #20261 closed

[2021-07-03 23:35] bvaughn commented on #21791
There isn't a single set of "native component types". It varies, based on the native component type (e.g. `HTMLButtonElement` would have different supported attributes than `HTMLInputElement` or `HTMLDivElement`). In addition to that, `propTypes` as a concept are deprecated (and have been moved out of React into a separate package). Our recommendation instead is to use static type checking (e.g. F

[2021-07-03 23:35] #21791 closed

[2021-07-03 23:43] bvaughn commented on #21787
I don't think #11503 seems related to this.

[We do not currently have any plans to stop supporting class components](https://reactjs.org/docs/hooks-intro.html#gradual-adoption-strategy) but our advice has generally been:
1. Write new code using function components and hooks.
2. Don't rewrite existing code that uses class components.

The class component APIs are old, have many deprecated methods,

[2021-07-03 23:45] bvaughn commented on #21788
Without a repro (or even any application source code) there is nothing the core team can do to help investigate this.

[2021-07-03 23:46] bvaughn commented on #21786
at bridge_Bridge.emit (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:19286:22)
    at chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:19446:12
    at listener (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/main.js:37413:39)

These aren't repro steps 😄  and the website listed (mapac.thermofisher.com) is not accessible to me ("_This site can’t be rea

[2021-07-04 03:08] shivamgoswami2711 opened #21799 "[DevTools Bug] Commit tree does not contain fiber "266". This is a bug in React DevTools."
### Website or app

https://github.com/shivamgoswami2711/kishanPro.git

### Repro steps

1 login with number

### How often does this bug happen?

Sometimes

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Commit tree does not contain fiber "266". This is a bug in React DevTools.

### Error call stack

[2021-07-04 03:08] #21799 closed

[2021-07-04 04:01] butchler commented on #15486
The title of this issue is inaccurate: React does keep the `open` attribute in sync with the DOM (as mentioned above https://github.com/facebook/react/issues/15486#issuecomment-486263985). However, this is still a confusing case even though React isn't technically doing anything wrong.

It's confusing because, unlike most other native DOM elements, the `<details>` element has state which it can up

[2021-07-04 04:08] mbostwick commented on #21787
ECMA 2020 has dynamic imports, private fields, and several other new features. The problem with the general recommendation is that in organizations the specific details matter.  So when someone says classes will be supported and there is no value in re-writing code its likely the cost of changing patterns for internal requirements is just not there, so companies that have used classes will likely

[2021-07-04 09:25] shanike commented on #21763
Yes I'm aware to all that. But my app was big enough for me to not know what setState caused the error. The stack was semi-compiled code, so the frame directed me to the wrong place, and I already checked all my useEffects.

I ended up adding ```if (unmounted) return``` in all my set states, then finding that it was a problem with setTimeouts for animation etc.

I'm specifically wondering if React

[2021-07-05 06:54] sj-rai commented on #21636
I faced this issue when I had two devtools frontend open, one in the browser extension and a devtools standalone, closing one stopped giving this error. Maybe that's what is causing this.

[2021-07-05 07:12] IjtihadIslamEmon commented on #21636
The image file is missing

[2021-07-05 10:34] androidjunki3 opened #21800 "Bug:"
React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-07-05 10:59] #21800 closed

[2021-07-05 14:02] ttous commented on #11163
@reconbot I did not need to access the node outside of the callback since my `<video />` component has its `autoPlay` prop set to `true` in my app. However, in order to do so, you can store it in a simple state (there is no need to call `useRef`):

[code]

I created [a CodePen](https://codepen.io/ttous/pen/vYmLXod) in case you would like to try the play/pause buttons 🙂.

[2021-07-05 19:25] TheCloudlessSky opened #21801 "Bug: radio and checkbox controlled checked property is not updated when browser restores form state"
React version: 17.0.2

## Steps To Reproduce

1. Add a textbox, two radio buttons (or checkboxes) controlling the `checked` property with state, and a `button[type=submit]`.
2. Check off the second item ("Bananas").
3. Enter text into the "Your name" textbox.
4. Right click on the tab and duplicate it. Alternative: close + re-open the tab, or navigate away to a different page and go back.

[code]

[2021-07-05 19:27] TheCloudlessSky commented on #21801
I can confirm that both Chrome and Firefox can restore form state and experience this issue.

[2021-07-05 19:32] TheCloudlessSky commented on #21801
There's a few ways I've thought of to workaround this:

1. Partially working: use `autoComplete="off"` on the `input`. This fixes the behavior in Chrome but does not fix Firefox tab duplication (it is fixed when navigating back).
2. Make a custom controlled radio component that waits for the right moment to sync the state during the `window.load` event.

[code]

[2021-07-05 21:41] flybayer opened #21802 "[React 18] Possible Suspense Bug - Thrown error causes corrupted page"
I've found what I think to be a React bug, although it could be something we are doing wrong inside Blitz.js

`React 18.0.0-alpha-ed6c091fe-20210701`

## Basic Explanation

The position of a top level, unneeded `<Suspense>` component next to an `<ErrorBoundary>` causes odd UI rendering or totally corrupted page.

Following are different variations of [this code](https://github.com/flybayer/blitz-r

[2021-07-06 10:17] gaearon commented on #21802
Is there a chance you could reduce this to a minimal isolated sandbox with no dependencies? This usually helps a lot.

[2021-07-06 12:17] Can-Sahin commented on #21055
If you forget to upgrade `react-dom` package to v17 this error would show up. I had it as well. FYI

[2021-07-06 12:25] aplaskota commented on #21801
@TheCloudlessSky checked attribute is one of the HTML boolean attributes I guess that's the problem here. Here you have some explanation
https://html.spec.whatwg.org/#boolean-attribute

[2021-07-06 13:02] TheCloudlessSky commented on #21801
@aplaskota React supports JavaScript booleans for the value as it updates the `checked` property -- this is the idiomatic way of writing this. See [the docs for an example](https://reactjs.org/docs/forms.html#handling-multiple-inputs). What does this have to do with this issue?

[2021-07-06 15:56] erwinpra opened #21803 "[DevTools Bug] Could not inspect element with id 192"
### Website or app

website for development

### Repro steps

Uncaught Error: Could not inspect element with id 192

### How often does this bug happen?

Every time

### DevTools package (automated)

react-devtools-extensions

### DevTools version (automated)

4.13.5-0ae5290b54

### Error message (automated)

Could not inspect element with id 192

### Error call stack (automated)

_No response_

#

[2021-07-06 15:59] tholman opened #21804 "[react 17] Bug: Click event being picked up by component rendered by the click"
React version: 17.2

## Steps To Reproduce

1. Using a class component, if a click event changes some state, which renders a new component, and the new component adds an event listener on its `componentDidMount` checking for clicks, the new component will trigger that event

Link to code example: https://codepen.io/tholman/pen/87c661f0c893a2f8727db927c48d6d12

(this does not happen if the created

[2021-07-06 17:04] bvaughn commented on #21803
Hi @erwinpra!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though.

This isn't a website we can access. Please share either a project (on GitHub) or a publicly accessible URL.

Repro steps should be a list of steps someone (like me) can follow to reproduce the bug. This is the error message, which we also have

[2021-07-06 17:05] bvaughn commented on #21786
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-07-06 17:05] #21786 closed

[2021-07-06 17:05] bvaughn commented on #21788
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-07-06 17:05] #21788 closed

[2021-07-06 17:06] arackaf commented on #18006
Thanks @gaearon I appreciate you looking, and keeping the issue open. I'm relieved to hear you say it's a hack, which of course is more than good enough for something that's still pre-beta. Care-free spinner state was always one of the most loudly touted features of Suspense, so I really hope this gets buttoned up before it ships.

Take care!

[2021-07-06 18:35] gitwikc opened #21805 "State updated properly, DOM not updated accordingly"
### Why is the last sibling component being deleted instead of the desired one?

I created a component called `Node` which has a state with two properties: `name` and `children`. `name` stores the `Node`'s name and `children` stores the child `Node`s. You can add children and nest them, but when you try to delete one, it always deletes the last *sibling* `Node` instead.

#### NOTE

### Screenshots

[2021-07-06 19:05] #16469 closed

[2021-07-06 19:06] bvaughn commented on #21777
How's it going, @sj-rai? Making any progress? Any questions?

[2021-07-06 19:31] bvaughn commented on #21805
At a glance, I'd guess this is because your test app is specifying the array index as the item key:
[code]

Deleting an item from the array then removes the last child (with the formerly highest index).

[2021-07-06 19:48] aplaskota commented on #21801
@TheCloudlessSky you end up with HTML code and the browser interprets all those 3 inputs as those with checked status. That was my initial thought but I guess the problem lays somewhere else.
`<input type=checkbox checked/>`
`<input type=checkbox checked="false"/>`
`<input type=checkbox checked="true"/>`

[2021-07-06 20:59] lifeiscontent opened #21806 "React 17/18 custom Synthetic Events"
The Previous solution in #10135 no longer works for React 17 or React 18.

It would be really convenient to be able to craft events that react handles for custom inputs.

e.g. I have an accordion component and would like to add the ability to use it as an input, when the user clicks a button I'd like to dispatch a change event so their handlers get called.

[2021-07-06 23:13] Ark-kun commented on #20050
I've checked the code and I do not see any escaping of space characters. Are you sure the library works correctly?

[2021-07-07 05:09] joshuaobrien commented on #16469
Thanks again for this!!

[2021-07-07 05:39] Ark-kun commented on #2469
What about the `x`, `y`, `offsetX`, `offsetY`?

[2021-07-07 07:26] sompodsign commented on #17280
put a default value. It's good option.

[2021-07-07 08:26] krishnadevz opened #21807 "React's JSX doesn't support namespace tags How do I set `throwIfNamespace: false`"
Error

React version:18

## Steps To Reproduce

1.I am importing a Figma file as an SVG and then I saving it in class-based react component and then export and using it in other components and that file is throwing an error.

Link to code example:https://codesandbox.io/s/traveller-9q5qy

## The current behavior
Throwing error React's JSX doesn't support namespace tags

## The expected behavior
It

[2021-07-07 09:38] kuzn5298 opened #21808 "useEffect in React 18 (StrictMode) gets called twice."
Why is useEffect called twice in React 18 with StrictMode (if I set deps to be an empty array)?

Expected behavior:
![image](https://user-images.githubusercontent.com/84848052/124736513-bfd01f00-df1f-11eb-9212-847d74acdf18.png)

Strange behavior:
![image](https://user-images.githubusercontent.com/84848052/124736688-eb530980-df1f-11eb-9e7d-fe17d91d8a98.png)

Examples:
Expected behavior in React 17:

[2021-07-07 09:53] gitwikc commented on #21805
@bvaughn Thank you for pointing out the problem; Thank you thank you so much!!! :smiley: It worked!!! I assigned random id's to children using `nanoid` and used it to delete them from the children array. You're a lifesaver :heart:

[2021-07-07 10:14] albseb511 commented on #21808
https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects

[code]

[2021-07-07 10:22] dimooze commented on #21808
Yes that's what the doc are pointing out and specially :
[code]

[2021-07-07 10:32] gaearon commented on #21808
The comments above are a bit misleading so let me clarify. The behavior _is_ new in React 18 specifically. **In React 18, Strict Mode also includes Strict Effects.** This means that React will simulate mount->unmount->mount during mount in order to test that your code is resilient to that sequence. This will help you check compatibility with upcoming features that let you preserve state of the tre

[2021-07-07 11:12] kuzn5298 commented on #21808
Thanks for the answer.

[2021-07-07 11:12] #21808 closed

[2021-07-07 12:29] KingsleyIbe commented on #21789
Hi @bvaughn

DevTools is working fine now. I have to uninstall and reinstall, and then reboot pc.

Thanks for the help.

[2021-07-07 13:10] ksendra opened #21809 "Bug: Safari does not load lazy-imported components when re-entering site"
On the iOS version of Safari lazy load of components (with React.lazy) does not always work correctly. If you enter the website everything works fine, but if you then close Safari through the app drawer and open it up again - the website does not load the components again and the site is stuck in Suspense fallback. The only way to get it to work again is to click refresh in the browser. Then all t

[2021-07-07 13:29] sj-rai commented on #21777
@bvaughn Had some issue implementing the "inspect" using canvas, got it somewhat working now. That was what you meant by "canvas-based solution" right?. Also working on moving the 2 directories into 1. And also, to test my changes, I'm building the standalone devtools and using it in my react app.. Is this how I'm supposed to test my changes? because standalone devtools does not have updates highl

[2021-07-07 13:44] bvaughn commented on #21789
Thanks for the update.

[2021-07-07 13:44] #21789 closed

[2021-07-07 13:44] bvaughn commented on #21805
You're welcome!

[2021-07-07 13:44] #21805 closed

[2021-07-07 13:46] bvaughn commented on #21777
No, I'd test using the extension version. Instructions can be found [here](https://github.com/facebook/react/tree/main/packages/react-devtools-extensions#download-from-ci):

### Install dependencies
[code]

### Build and test the extension:
[code]

[2021-07-07 14:59] reaktivo opened #21810 "Bug: unstable_flushDiscreteUpdates when rendering <video muted />"
React version: 17.0.2

## Steps To Reproduce

1. Rendering `<video muted />` triggers "Warning: unstable_flushDiscreteUpdates: Cannot flush updates when React is already rendering"

[code]

Link to code example:

https://codesandbox.io/s/sad-waterfall-ks59l?file=/index.test.js:0-384

## The current behavior
Calls `console.error` with un-actionable error

## The expected behavior
Doesn't call `cons

[2021-07-07 15:15] alk-mandrianarijaona commented on #21803
It seems to be a duplicate of https://github.com/facebook/react/issues/21724

[2021-07-07 15:18] bvaughn opened #21811 "[DevTools] Don't serialize hook source fileNames (URLs)"
This can cause long file names (URLs) to be truncated which in turn will break named hooks code (since it needs to load those file names).

[2021-07-07 15:21] bvaughn commented on #21803
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-07-07 15:21] #21803 closed

[2021-07-07 15:35] KingsleyIbe commented on #21789
You're welcome

[2021-07-07 15:48] bvaughn commented on #21793
I think something as basic as this should work:

[code]

[2021-07-07 16:27] robatwilliams opened #21812 "Bug: onContextMenu not fired in iOS 13 and later"
From v13 onwards, iOS doesn't fire `contextmenu` events on long-press. It only displays the "touch callout".

This inconsistency with all other browser seems, like something [synthetic events](https://reactjs.org/docs/events.html) could handle:

React version: 17.0.2

## Steps To Reproduce

1. Long-press an element with an `onContextMenu` listener

Link to code example: https://www.quirksmode.org/

[2021-07-07 17:07] #21794 closed

[2021-07-07 18:24] #21811 closed

[2021-07-07 18:29] #21793 closed

[2021-07-07 19:23] bvaughn opened #21817 "[DevTools] Named hooks error badge"
The named hooks cache returns `Array<string | null> | null` The first (mixed array of string and null) indicates an overall success, even if some names couldn't be inferred. The second indicates an error (e.g. couldn't locate or load source map).

In the event of the 2nd response type, the UI currently does nothing (falls back to default) but we _should_ show an error badge (maybe a disabled but r

[2021-07-07 19:24] bvaughn opened #21818 "[DevTools] Named hooks transient errors"
Sometimes named hooks inspection will seemingly fail the first time then work the second time. (e.g. using a DEV build of Facebook.com, the `<CometTheme>` component currently does this).

I _think_ this might indicate a timeout during inspection? (So the retry is fast because everything is cached.)

[2021-07-07 19:27] bvaughn opened #21819 "[DevTools] Improve "retry" function for inspected component props/state/hooks"
Currently if an error occurs when inspecting a component, an error overlay is shown in the right hand side of DevTools along with a "dismiss" button to allow the inspection to be retried. However, currently this "retry" does not clear the entry from the cache and so it will immediately fail again if the same component is re-selected. We should clear the cache entry so that we actually retry when t

[2021-07-07 19:38] bvaughn commented on #21818
`<CometPressable>` is another example that (silently) fails to parse any names.

[2021-07-07 19:49] bvaughn commented on #21819
`<CometPressable>` is good example of a component that currently fails silently due to a parsing error. (Not sure why the error itself is happening but for now, it's a good repro)

[2021-07-07 20:27] #21817 closed

[2021-07-07 20:47] f1ames0ff commented on #3324
Хуета уродливая ваш BEM 🤢

[2021-07-07 22:19] bvaughn opened #21822 "[DevTools] Make sure named hooks Suspense cache is persisting between elements"
It currently looks like the `map.get(element)` returns `undefined` even for previously-loaded elements. Are we evicting from the cache prematurely? Why?

Our second level caching (inside of `parseHookNames`) is working but this is still resulting in a lot of unnecessary work.

[2021-07-07 22:23] flybayer commented on #21802
@gaearon yes, I just updated the issue to have a minimal codesandbox. Sorry, I should have done that the first time around.

[2021-07-07 23:54] gaearon commented on #21802
To clarify, I'm asking if it's possible to make an isolated sandbox with no dependencies. E.g. just error boundary + Suspense + react. No frameworks or routers or other stuff. One file.

[2021-07-08 04:02] otakustay opened #21827 "[Devtools] Make link style value clickable"
I didn't find a suitable place to open feature request of react devtools.

We're developing a babel plugin to inject a `useDebugValue` into every component so that developers can immediately see the source file path of inspecting component like:

![image](https://user-images.githubusercontent.com/639549/124860336-0f781e80-dfe4-11eb-875f-d8715b625dba.png)

We are expecting this `file://` url clicka

[2021-07-08 05:19] otakustay opened #21828 "[Devtools] Indicate or print which element causes suspense fallback"
In a deep component tree, we sometimes modify a deeply nested component to use suspense but failed to wrap `Suspense` at a suitable place, this causes the root `Suspense` into fallback and is hard to location where this fallback is introduced.

"Whether a component is throwing Promise" is an implicit convention of component, this is not detectable by any static analyzer, so in a complex app this m

[2021-07-08 06:13] badal897 commented on #20454
Can someone please tell how to use resolutions ? I am macbook pro m1 and when I hit the command ->
`npm i -g react-devtools@"<4.11.0"`

It gives the following error
`HTTPError: Response code 404 (Not Found) for https://github.com/electron/electron/releases/download/v9.4.4/electron-v9.4.4-darwin-arm64.zip`

What I tried is I downloaded the react devtools 4.10.1 in my local system and tried install

[2021-07-08 06:24] sj-rai commented on #21777
@bvaughn Thanks!. This is much better!

[2021-07-08 07:43] ntoka commented on #21809
Update: same behavior occurs on macOS Safari (14.1.1 for Big Sur). Although this does not occur on Safari Technology Preview version.

[2021-07-08 12:54] StevenHoppinger24K commented on #21724
I got this problem as well.
[code]

The stack traces are exactly the same, so could be a bug indeed.

[2021-07-08 14:15] bvaughn commented on #21822
Update: I am seeing what looks items getting evicted from the Suspense cache unexpectedly.

I added logging and verified that the elements are referentially equal between selections, but the cache is `returning` undefined – (the `WeakMap` has fewer items in it than it should). I changed from a `WeakMap` to a `Map` (even though the objects aren't being released so I wouldn't expect a difference) an

[2021-07-08 14:48] kkragoth commented on #21827
Hello,

I am very interested in starting to contribute to this project and I would like to grab this issue since it seems quite easy to start but I've never set up this devtools project so I am little nervous. If I could be pointed in right direction with docs (I saw architecture and dev workflow from issue Combine view highlighting code but all links would be useful!) and starting place for this

[2021-07-08 15:31] amanmahajan7 opened #21830 "Bug: [eslint-plugin-react-hooks] Functions returning new dates should be flagged as missing dependencies"
React version: 17.0.1

## Steps To Reproduce

[code]
Link to code example:
https://codesandbox.io/s/unruffled-wiles-cfiig?file=/src/App.js

## The current behavior
No warning appears for `getCurrentDate`. It returns a new date everytime it is called

## The expected behavior
Should flag `getCurrentDate` as missing dependency.

I am not sure if this a limitation.

[2021-07-08 15:54] bvaughn commented on #21822
This is caused by `useCacheRefresh` blowing away _all_ caches, not just the one being reset. Apparently it is a known limitation of the current API.

I have a repro here: https://codesandbox.io/s/fragrant-wood-n7vx4?file=/src/caches.js

[2021-07-08 15:57] Minsoo-web commented on #15315
Hello, everyone.
I hope no one makes the same mistake as me and leave this issue.

[code]

By writing the code like this, I got into the same issue.
In my case, the problem was not the version issue of react, but the incorrect way Hooks called.

solving like this

[code]

If you encounter the error code as above, I recommend you to check how to use Hooks again. 🙇

[2021-07-08 17:38] bvaughn commented on #21818
I think this was actually because the hooks objects get recreated between inspections. Switch to keying them by stable fileName+lineNumber+columnNumber string instead

[2021-07-08 17:41] vkurchatkin commented on #21830
And what that dependency would be?

[2021-07-08 17:54] #21822 closed

[2021-07-08 17:56] #21818 closed

[2021-07-08 18:01] bvaughn commented on #21827
@kkragoth Feel free to work on this issue!

To get started, run the following:
[code]

Now open two terminals to run DevTools in DEV watch mode:
[code]
[code]

Now any changes you make to DevTools will automatically reload in the test app at http://localhost:8080

[2021-07-08 18:01] bvaughn commented on #21827
Please also keep in mind that links should not be clickable when props are editable, (since this would interfere with editing), only when they're read-only

[2021-07-08 18:06] bvaughn opened #21832 "Bug:"
Intrested in contributing to [React DevTools](https://github.com/facebook/react), but not sure where to start? This gist should hopefully get you going.

# Install project dependencies
To get started, check out the React repo:
[code]
Next install dependencies:
[code]

# Build React and React DOM
Next, check out (or build) the local version of React that DevTools uses:

### Option 1 (fastest): Chec

[2021-07-08 18:07] #21819 closed

[2021-07-08 18:07] #21832 closed

[2021-07-08 18:35] bvaughn commented on #21782
@mdaj06 I posted a [DevTools contributing guide](https://github.com/facebook/react/blob/main/packages/react-devtools/CONTRIBUTING.md) this afternoon, in case it would be helpful to you.

[2021-07-08 20:11] bvaughn opened #21834 "[DevTools]: Skip loading and parsing source for unnamed built-in hooks"
Hooks like `useEffect` or `useLayoutEffect` will _never_ have names, so if a the only hooks for a given source file are these "unnamed" built-in hooks, we should skip loading the source code.

[2021-07-08 20:46] #21834 closed

[2021-07-08 21:12] bvaughn commented on #21724
I'd like to help find and fix this issue, but "not sure how it happened" and "only saw it once" aren't a lot to go on. I think I'm going to need more repro steps here.

[2021-07-08 22:41] harrisonlo commented on #11972
Just wanted to chime in here to express the need for the native `onmouseleave` event. From my understanding, React's `onMouseLeave` maps to the native `onmouseout` event, which behaves differently when hovering through a child element. I ended up having to access the native `onmouseleave` via a ref, but that's not ideal.

[2021-07-09 01:38] amanmahajan7 commented on #21830
`getCurrentDate` as it used inside `useMemo`

[2021-07-09 07:29] StevenHoppinger24K commented on #21724
@bvaughn, it might happen when you have to deal with a big state. It happend to me when I opened a big nested object to 5 or 6 levels deep.

[2021-07-09 08:31] vkurchatkin commented on #21830
Well, `getCurrentDate` doesn't actually capture any local variables, hence this behaviour. What you propose would basically disable `useMemo` in this case (since `getCurrentDate` is a new reference in every render). But what should be done if `new Date` is used in `useMemo` directly?

[code]

Behaviour is exactly the same, but there is nothing you can add to dependencies.

[2021-07-09 10:06] exaucae commented on #11565
Bump!

[2021-07-09 13:57] otakustay opened #21844 "Strict effects and unmounted ref flag"
Posting this issue to share a common phenomenon related to strict effect, I have created a sandbox to demonstrate this issue: https://codesandbox.io/s/unmount-guard-in-strict-effect-5eneb?file=/src/App.js

Previously this is a common practice to have a `unmounted` ref indicating whether current component is unmounted, and to prevent calls to `setState` after unmount in order to get rid of those ug

[2021-07-09 14:07] bvaughn commented on #21724
@StevenHoppinger24K Knowing the underlying code, I don't think that sounds likely to be related. But if you were able to share steps to repro, that would be very useful.

[2021-07-09 14:22] bvaughn commented on #21844
The [react-use implement](https://github.com/streamich/react-use/blob/90e72a5340460816e2159b2c461254661b00e1d3/src/useMountedState.ts) looks like what we recommend: set to true in the create function and set to false in the destroy function. This symmetry usually makes a component robust to unmounting and remounting, [as we mention in our Working Group post](https://github.com/reactwg/react-18/dis

[2021-07-09 14:31] bvaughn commented on #21792
Reopening to address this follow up comment from @motiz88:
https://github.com/facebook/react/pull/21833#discussion_r666831276

[2021-07-09 14:32] mdaj06 commented on #21782
@bvaughn  Sure thanks will have a look at it!

[2021-07-09 15:49] otakustay commented on #21844
Although it may be finally unmounted, it also can be remounted in a very short time. In most cases we don't want a network fetch being started in mount effect, canceled immediately and re-triggered again in - for example - 1 second, we just want to reuse that request.

A fetched response, like any other state, is a simple state. Since the concurrent mode say "unmount and remount with all state pre

[2021-07-09 15:53] PrinceRajRoy commented on #21827
@bvaughn I was trying this out, any suggestion how to use/open the default code editor? It works fine with vscode

https://user-images.githubusercontent.com/47452572/125105072-af749b80-e0fb-11eb-8e2f-a1a5490ed4e3.mp4

[2021-07-09 15:57] otakustay commented on #21827
Default editor should be registered system wide, I think it is enough to just open the `file://` protocol url and leave OS to decide which app to handle this

[2021-07-09 16:33] bvaughn commented on #21844
Ideally, you should be writing your code for the production case– not the strict effects mode DEV case. The cost of cancelling and re-initializing a fetch in DEV is probably small.

It's not really "state" until it's part of React state. Until then, it's just another external mutable store. So the "change in state" wouldn't be detectable (and an argument could be made for using the _latest_ value

[2021-07-09 16:56] kkragoth commented on #21827
@otakustay I thought the same but I started working in parallel and file:/// seems to be intercepted by Chrome and that's the issue that @PrinceRajRoy might be talking about...

https://user-images.githubusercontent.com/6214896/125112263-379c7600-e0e7-11eb-94c3-92723372b8a2.mov

[2021-07-09 17:02] josepharhar commented on #11347
Hey everyone! I'm an engineer of the DOM team in Chrome.

As Dan mentioned above, I've been working on getting "option 2" implemented in React. One of the outstanding issues we still need to figure out is what to do when the custom element hasn't been upgraded yet, and what to do in response to the custom element becoming upgraded - the heuristic of looking at the custom element's object propertie

[2021-07-09 17:27] PrinceRajRoy commented on #21827
@kkragoth indeed, I tried with firefox too, same security issue.

[2021-07-09 21:01] TalalYousif commented on #13991
I've spent more than an hour on this issue and no comment here solved my issue until I came across this: https://stackoverflow.com/questions/62387392/react-native-invalid-hook-call-for-flat-list-render-item

Basically I was using a hook inside of a component that is used to render a flat list item

[2021-07-10 04:28] zxh19890103 commented on #21706
mark

[2021-07-10 04:37] andyzys opened #21845 "Bug: import preact component with hooks in React Page"
## Background
I want to use a preact component in react page. So I'm compiled preact component and mount it onto react component via ref. But it will throw an hooks error when I write some preact hooks in preact component.

error message:
[code]

## Code
- react component
[code]

- preact component
[code]

So, How can I fix it?

[2021-07-10 05:00] zxh19890103 commented on #17953
mark.

[2021-07-10 06:07] 0xdevalias commented on #20186
This would definitely be useful for me. I actually just went looking to see if I could find sourcemaps for React (specifically we're using the minified production profiling versions of `react`, `react-dom`, etc.

[2021-07-10 09:24] otakustay commented on #21827
This is not a problem, the displayed string is fully controlled by developers, they can change it to `vscode://` if their default editor is vscode, for devtools it just renders a link and all behavior should comply with browser.

[2021-07-10 09:27] otakustay commented on #21844
Thanks for the "external mutable store" thing, this is reasonable and helped me to design a more resilient fetch hook.

[2021-07-10 09:27] #21844 closed

[2021-07-10 10:04] #21845 closed

[2021-07-10 10:04] andyzys commented on #21845
fixed

[2021-07-10 17:36] nickmanning214 commented on #14904
In your example if you make a change, the Input component will be rendered once with outdated values. This is because the new value isn't set until useEffect. So whatever you typed will be erased for one frame, then put back after useEffect. This is enough to make the cursor position ambiguous to the browser.

[2021-07-10 19:30] CaninoDev commented on #20811
I don't believe the merged issue is related to this. For one, the merged issue has a higher specificity (using redux and occurs during execution of `injectGlobalHook`. I currently have this issue and am not using Redux nor do I get that particular error.

Using:
Google Chrome -- Version 91.0.4472.114 (Official Build) (64-bit)
React Developer Tools: 4.13.5 (5/25/2021)
Manjaro: Stable Branch (recent

[2021-07-10 20:15] Bessonov commented on #21783
I was confused myself and asked [this](https://stackoverflow.com/questions/68291908/why-is-promise-then-called-twice-in-a-react-component-but-not-the-console-log) question. Despite it was only 3 days ago, **the question** got 27 upvotes.

[2021-07-10 20:21] bvaughn commented on #21844
Happy to hear! :)

[2021-07-11 15:58] taejs commented on #11734
I'll investigate on it.

[2021-07-11 16:53] kirkhla commented on #21726
Are you updating state in findDOMNode ?

[2021-07-11 22:37] ArmorDarks opened #21847 "Bug: video and audio elements invoking wasteful dispatches when there are no related handlers declared"
React version: 17.0.2

## Steps To Reproduce

1. Render video or audio element with auto played source using React
2. Do not declare any `on*` handlers on the element
3. Run performance recording while not touching anything on the page

Link to code example: https://jsfiddle.net/ArmorDarks/2ugd80tm/2/

## The current behavior

Performance recording will show that React constantly triggers event di

[2021-07-11 23:43] abriginets commented on #6006
Wow I'm so surprised this issue existed for so long without a clear explanation. Let me fill this gap for those who are going to search for it in the future. **TLDR, it invokes props directly on your component, not the JSX you render**

Let's say we have a parent component:

[code]
And a child component:
[code]
And then we render it as following:
[code]
What's happening with child component is tha

[2021-07-12 01:11] dipankar08 commented on #15315
just delete the node_module/react from your lib and try again.

[2021-07-12 07:22] julia-dizhak opened #21848 "React 18: having Invalid hook call problem with rendering app wrapped by React.StrictMode"
I have a problem with rendering app after migrating to 18 version

[code]

`
I have Invalid hook call warning in console
`
node is V14.16.1
installed react alpha via `yarn add react@alpha react-dom@alpha`

Dependencies
[code]

[2021-07-12 07:30] yairEO commented on #17407
@bvaughn - it does ***not*** look correct at all.

@bpas247 wrote:
[code]

Which should be the other way around:

[code]

[2021-07-12 09:42] eps1lon commented on #21848
Thanks for the feedback.

I suspect that your package manager installed both React 18 and 17. Multiple React versions is one of the reasons for the "invalid hook call" error message.

This might be due to dependencies requiring React 17 via peer dependencies.

What package manager are you using?

[2021-07-12 11:57] aanarkulov opened #21849 "Should have a queue. This is likely a bug in React. Please file an issue.Bug:"
https://sentry.io/share/issue/9b4a3b588cd34fcea5f2d461516afd2b/

[2021-07-12 13:28] bvaughn commented on #17407
There was a small typo in the comment. That doesn't make it "not correct at all". 😄  We're all just trying to help each other here. Be calm. :)

[2021-07-12 13:40] bvaughn commented on #21849
Hi @aanarkulov

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or vi

[2021-07-12 13:42] bvaughn commented on #21848
Hi @julia-dizhak :wave:

Can you help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem? The info provided isn't sufficient to rule out something like what @eps1lon mentions above.

[2021-07-12 13:59] DiegoHerrera262 opened #21850 "React 18 : useState 'sharing' state value between components of the same type"
I created a custom table component that has pagination, search bar and export to excel button. The main usage of the component is as follows:

[code]

To enable pagination, global filter and dataset download, I used state variables using `useState` hook, as follows.

[code]

Rendering only one table component in an app view works just fine. However, rendering two or more implies that React uses th

[2021-07-12 14:21] bvaughn commented on #21850
Unless I'm misreading, you just need to add a `key` to your tables so that React knows they are _different_. (Otherwise React has no way of knowing you want them to be different "instances")

This pattern is kind of mentioned in a blog post:
https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html#recommendation-fully-uncontrolled-component-with-a-key

[2021-07-12 14:22] bvaughn commented on #21850
This isn't a question about React 18, so I'm going to tweak the tags. I also think the question has bee answered and so I'm going to close it. We can re-open if my answer is off base though.

[2021-07-12 14:22] #21850 closed

[2021-07-12 14:40] AChaoZJU opened #21851 "Bug: event Handler on React Component not invoked when React Component is rendered inside a Web Component"
React version: 17.0.2

## Steps To Reproduce
I wrap the react component with an HTMLDivElemnt to match the reponse type of the function `getContent`. The onClick event on the react component, `<div>` is not triggered.
[code]

_Note:  you may need to open chrome devtool or codesandbox React devtool to render the graph._
For details, please refer to the gif below.
![Kapture 2021-07-12 at 22 36 57](h

[2021-07-12 15:16] molimat commented on #13944
but actually almost the whole class component concept is deprecated. lol

[2021-07-12 15:20] julia-dizhak commented on #21848
hi @bvaughn  thanks for taking care
here is the sandbox  https://codesandbox.io/s/b52q1

[2021-07-12 15:23] julia-dizhak commented on #21848
hi @eps1lon  thanks for support
I installed react alpha via `yarn add react@alpha react-dom@alpha`, node is V14.16.1
As well I deleted node-modules and re-installed peer dependencies

[2021-07-12 15:28] bvaughn commented on #21848
Thanks for the repro!

[2021-07-12 16:03] eps1lon commented on #21848
here is the sandbox codesandbox.io/s/b52q1

That looks like it's caused by a dev-only logic from styled-components (https://github.com/styled-components/styled-components/issues/3394, https://github.com/styled-components/styled-components/issues/3409) since the reported issue is already reproducible with

[code]

Closing since it's caused by a 3rd party library. The issue is already fixed in https

[2021-07-12 16:10] gaearon commented on #21848
Hmm, wait, something isn't right here.

The comments in https://github.com/styled-components/styled-components/pull/3521 claim:

[code]

I don't remember a change like this. I expect we still have a production invariant/error in cases of invalid Hook call.

Can we investigate what the difference is?

[2021-07-12 16:14] gaearon commented on #21848
We throw here:

https://github.com/facebook/react/blob/cae635054e17a6f107a39d328649137b83f25972/packages/react-reconciler/src/ReactFiberHooks.new.js#L293-L301

There is a DEV-only console.error here:

https://github.com/facebook/react/blob/cae635054e17a6f107a39d328649137b83f25972/packages/react/src/ReactHooks.js#L26-L40

But it's supposed to throw right afterwards with null access (essentially, `n

[2021-07-12 16:22] eps1lon commented on #21848
I'm pretty sure this was changed in https://github.com/facebook/react/pull/20604 since I saw the errors shortly after in integration tests with `react@next`.

It does throw but it's no longer clear why without also listening to the console. So the claim is a bit inaccurate but sufficient for what we're trying to do: Checking if we're called from inside a function component requires different imple

[2021-07-12 16:27] gaearon commented on #21848
Ah ok.

[2021-07-12 16:27] #21848 closed

[2021-07-12 21:04] bvaughn opened #21855 "[DevTools] Parse named source AST in a worker"
Hooks are the preferred way for writing stateful React components, but there are a few things about them that still lag behind the class component API: inspecting state in DevTools (since hooks aren’t “named”). Even now that this feature has been released, it remains disabled by default because the size of DEV bundles in larger apps (e.g. Facebook) makes parsing the AST very slow.

To alleviate th

[2021-07-12 21:06] bvaughn opened #21856 "[DevTools] Show which hooks (names) changed in the Profiler"
Hooks are the preferred way for writing stateful React components, but there are a few things about them that still lag behind the class component API: profiling (since DevTools just shows “hooks changed” rather than which ones changed).

Building on top of the initial named hooks release _and_ the experimental `enableProfilerChangedHookIndices` feature flag, the Profiler should show the “names” o

[2021-07-12 21:09] emileber commented on #21783
The old behaviour was confusing to anyone new to React, until they learned about it.

The new behaviour is now confusing even to veteran users of React, even if they knew about `StrictMode` and even after learning about the new silencing.

In my opinion, it's now a trap anyone could fall into.

[2021-07-12 21:39] gaearon commented on #21783
The problem with the old behavior wasn't just that it was confusing — it was that it's actively interfering with product code debugging. The duplication was creating a lot of noise.

The problem with the new behavior is that it's also interfering with debugging — but specifically for double rendering issues (since if that's not what you're debugging, the new behavior is more convenient). But it's

[2021-07-12 22:22] bahrus commented on #11347
Although I am still rooting for option 3, on the grounds that, as a developer, I like to allow the developer to be in the driver's seat as much as possible, I would certainly welcome option 2 as a step forward.

It may be that today, "no one" [with the exception of me,  under my breath :-)] is complaining about the asynchronous issue with preact, because most everyone uses out-of-the-box bundling,

[2021-07-12 22:32] ondrejhanslik commented on #21783
Frankly, everytime developers thinks that they can improve something by changing the behavior of a system method, then they should return to school.
Javascript is a bad language, full of traps. There is no need to come and create another trap by changing the expected behavior of a method. If you have troubles with with logging, come with a custom logging system and use that instead.
Also, I think

[2021-07-12 22:35] gaearon commented on #11347
Since it was posted just before the weekend, I want to call some extra attention to the questions about hydration that @josepharhar has raised in https://github.com/facebook/react/issues/11347#issuecomment-877327383. Since lots of people appear to be in favor of Preact behavior (custom-elements-everywhere gives it a solid 100% score), is there any feedback on the inconsistencies in its hydration a

[2021-07-12 22:44] gaearon commented on #21783
Let's keep this conversation polite; there is no need to tell people to "go back to school" and so on. Your point is well-understood without that.

That to me speaks _in favor_ of silencing because _unless_ you're debugging double-rendering issues specifically, seeing the logs without duplication is more convenient. It's only when you're debugging double-rendering issues that this distinction star

[2021-07-12 23:08] morewry commented on #11347
I'm (production lol) dabbling in it with Next.js. Using its
client-side-only dynamic imports for importing the custom element modules.

I've managed SSG & SSR (and general React compatibility) by implementing my
custom elements so that all custom elements inputs can be serialized as
plain HTML. Inputs are HTML attribute strings/booleans and children only.
No inputs that need DOM properties: no obj

[2021-07-12 23:13] billyjanitsch commented on #21783
@gaearon Thanks for explaining your perspective. I don't think my opinion has changed but this helps me understand a different way to see the trade-off. I wonder if the scale/structure of FB product eng makes the common case more common than it is elsewhere? Anecdotally, folks at my company put console logs in render to understand render cycles about as often as they do to inspect values, so in th

[2021-07-12 23:17] bvaughn commented on #21783
Unfortunately, the PR you linked to wouldn't implement the functionality you're describing. The shared patching methods it override in the DevTools build are compiled into the react-dom bundle (separate copy, like everything else in `packages/shared`).

Implementing this functionality would require adding an additional interface between react-dom (and other renderers) and React DevTools

[2021-07-12 23:41] billyjanitsch commented on #21783
@bvaughn Thanks for the context. If you have the time to dive in:

My understanding of the PR implementation was that toggling the setting in DevTools would set a global variable on the app page, which would then be read by react-dom (or other renderer) while deciding whether to patch the console on a given render. So I don't immediately see why the separate copy is a problem, or why an interface

[2021-07-13 00:15] gaearon commented on #21783
Can you clarify a bit more what you mean about understanding render cycles? Since double rendering is "shallow" (it happens at each leaf call), it seems like it is easier to understand the actual render cycle _with_ silencing. Since then the noise is reduced and you see the actual order in which React walks the components.

That is also how I interpreted it! I'm probably missing something @bvaughn

[2021-07-13 00:58] bvaughn commented on #21783
@billyjanitsch @gaearon My bad for not taking more time when writing my response. The PR would work _kind of_ but not in the way I think it should.

You're right that the code in `packages/shared` would check for a global variable, but the check is done during module init
[code]

That means your setting wouldn't take place unless you change dit in DevTools and then reloaded the page. Other, simila

[2021-07-13 03:10] emileber commented on #21783
For what it's worth, people commented on the SO question with the following suggestions:

Sorry if this was already discussed/considered! 😅

[2021-07-13 03:40] bvaughn commented on #21783
React double-renders components as it goes along. (It doesn't re-traverse the whole tree.) Such a message would be printed _a lot of times_ (which would be really noisy).

[2021-07-13 03:54] emileber commented on #21783
Good point!

Maybe prefixing/suffixing duplicate renders logs would reduce the noise, coupled with an option to opt-out of logging (silencing), as discussed above, would help minimize any surprise and/or confusion? _Though I'm not of fan of hijacking the console._

If the option is ever added, I feel it would be great to have it mentioned in the console log for discoverability when strict mode is

[2021-07-13 04:44] DJBoy520 commented on #21732
This seems to be a problem, antd component < Space > element in the label as long as the mobile location, will be initialized, even when he set up the key. Use another layout tag, such as <div>。

[2021-07-13 04:54] rameshirreplaceable commented on #15050
**[Component composition issue react](https://pretagteam.com/question/component-composition-issue-react.html)**

check this site has detailed info

[2021-07-13 06:06] y-nk opened #21858 "Bug: (hooks, ts) useEffect return type"
React version: 17

## Steps To Reproduce

[code]

## The current behavior

Breaks because type returned by the create function must be of `void | () => void`

## The expected behavior

We should relax and allow `type Destroyer = () => void | undefined | null | false` since i expect there's something _in the vibe of_

[code]

...although the codebase is so thick i couldn't even find the line where

[2021-07-13 06:36] eps1lon commented on #21858
Thanks for the feedback.

The types aren't hosted in this repo. For TypeScript you want to file this against https://github.com/DefinitelyTyped/DefinitelyTyped/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc.

Though I don't think we do want to relax the types since I suspect that most returns would be a mistake. In the end you can always rewrite the effect so that you're sure you only return a

[2021-07-13 06:37] #21858 closed

[2021-07-13 08:14] somethingelseentirely commented on #14856
So we changed from "make it correct, make it fast, make it pretty", to "make it fast, make it correct, make it pretty" now?

Urgh...

[2021-07-13 11:05] DJBoy520 commented on #21732
thanks for your answer,i have resolved the problem.&nbsp; &nbsp; &nbsp;&nbsp;
it is antd's&nbsp; component cause this problem,&nbsp; replace <Space＞&nbsp; will&nbsp; work.

thanks for your suggestion.
非常感谢！

---Original---
From: "Dan ***@***.***&gt;
Date: Tue, Jul 13, 2021 18:35 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [facebook/react] The parent component's setstate cl

[2021-07-13 13:14] artginzburg commented on #3138
[git.io/gh-pages-with-react-router](https://git.io/gh-pages-with-react-router) looks like the best we've got for now...

[2021-07-13 13:15] artginzburg commented on #3138
[toClassNames.js](https://gist.github.com/artginzburg/ff6575ae9d27e9bdffb93300b8ba8f9a) gist looks like the best we've got for now...

[2021-07-13 13:53] gaearon commented on #21783
My proposal here would be that we show a message until you explicitly pick a preference in DevTools. So you can "shut up" the message by making a choice in the settings. So it's a bit noisy but it shows once per session and you can make it disappear forever by installing DevTools and choosing a preference.

[2021-07-13 13:56] bvaughn commented on #21783
I'm concerned that this feels heavy handed. We're essentially _forcing_ people to install a browser extension (that _may_ have performance implications) and to _leave it enabled_ to opt out of otherwise annoying console spamming.

[2021-07-13 14:00] gaearon commented on #21783
That's already the case though. We show a console message at the start every time if you don't have DevTools installed. So it's not that different from what we already do.

[2021-07-13 14:02] gaearon commented on #21783
Oooh. Actually this got broken due to Fast Refresh. Fast Refresh integrations are being detected as DevTools hook so we're not actually showing that log anymore.

[2021-07-13 14:08] bvaughn commented on #21783
I forgot we did that 😂

I guess we could expand that message then? (I don't think we should log something every time we double render, regardless.)

[2021-07-13 14:20] gaearon commented on #21783
Yeah. Maybe the message could be different depending on:

1. Whether you run in StrictMode
2. Whether you have DevTools
3. Whether you picked an explicit preference in DevTools

And then there is no message if you _have_ extension, and either are _not_ in StrictMode, or you _are_ in StrictMode but _have_ picked a preference in DevTools.

[2021-07-13 14:23] yairEO commented on #17407
I have eyes but most people copy-paste blindly. edited my comment to leave only relevant parts :)

[2021-07-13 14:27] bvaughn commented on #21783
Something like that seems reasonable, yeah.

[2021-07-13 17:25] bvaughn opened #21866 "[DevTools] Scheduling Profiler umbrella task"
The [Scheduling Profiler](https://github.com/facebook/react/tree/main/packages/react-devtools-scheduling-profiler) is currently only accessible at [react-scheduling-profiler.vercel.app](https://react-scheduling-profiler.vercel.app/) and very few people know about it. Furthermore, the User Timing API marks that power this profiler are only enabled in the experimental release channel, which almost n

[2021-07-13 17:25] bvaughn commented on #21866
Note some prerequisite was done in #19892

[2021-07-13 17:28] #21792 closed

[2021-07-13 17:38] bvaughn opened #21868 "[DevTools] Named hooks compatibility for create-react-app DEV mode"
Something about the source maps config causes problems for a simple create-react-app running in DEV mode. Column numbers are always reported as 0 (by 'source-maps') which causes the AST node matching to fail so hook names can't be located. We should really fix this, since a lot of people use create-react-app for prototyping.

Note that source maps work correctly in production builds.

Repro: https

[2021-07-13 19:21] bvaughn commented on #21868
Digging into this further and one thing I notice that seems unexpected is that the `fileName` from the parsed stack for a CRA app is something like `"static/js/main.chunk.js"` where as the 'source-map' "source" is e.g. `"App.js"`.

I can create a test app (using CRA) that has a file `error.js`:
[code]

I can import and run the `getError` function and see a line and column number (kind of arbitrary

[2021-07-13 19:33] bvaughn commented on #21782
Removing myself from the Assignees list since I won't be actively working on this.

@mdaj06, if you are still working on (or interested in working on) this issue, I suggest you and Juan ( @jstejada) find some time to chat and catch up 😄 He's going pick it up this half.

[2021-07-13 19:35] bvaughn commented on #21868
Interestingly though, the 'source-map' parsing and line/column mapping works correctly for the production build of my repro CRA app.

[2021-07-13 19:52] bvaughn opened #21870 "[DevTools] Handle sources that contain the string "sourceMappingURL=""
It's possible that a source file may contain the string "sourceMappingURL=" _in the source_ (not part of the source map). For example, if we were to parse the source code for `parseHookNames`, the regex `/ ?sourceMappingURL=([^\s'"]+)/gm` would match itself.

We should have some logic in place for filtering out invalid matches like this. I think the rule should be:
1. Multiple inline source maps m

[2021-07-13 20:39] #21870 closed

[2021-07-13 20:45] bvaughn commented on #21868
Here's my source, compiled bundle, and source map:

## `error.js`
[code]

## `/static/js/main.chunk.js`
[code]

## `/static/js/main.chunk.js.map`
[code]

[2021-07-13 21:31] bvaughn commented on #21868
It looks like one way to "fix" this is to eject create-react-app:
[code]

Then modify `config/webpack.config.js` to replace `'cheap-module-source-map'` with `'source-map'` (for both DEV and PROD bundles).

[2021-07-13 21:34] bvaughn commented on #21868
Maybe I can relax DevTools to detect column == 0 case and do line-only mapping.

It's probably not common for there to be more than one hook ID node per line anyway so maybe it's okay?

This kind of pattern would break:
[code]

But maybe DevTools could account for that by detecting if there was more than one matching node for a given line and just giving up in that case?

[2021-07-13 21:38] #21765 closed

[2021-07-13 22:02] billyjanitsch commented on #21783
@bvaughn I noticed this too and agree that it's undesirable, but it seemed simple to fix (by reading the variable in `disableLogs` and `reenableLogs` instead). But...

...that totally makes sense. Thanks for linking those implementation examples. 🙂

Let me know how the sync goes. Happy to help if you're willing to accept the change but don't have time to work on it.

@gaearon I like this approach

[2021-07-13 22:38] markerikson commented on #21783
Just to toss in a couple more cents:

Agreed that this is a constant source of confusion, especially at the beginner/learner level.

I think that the suggestions for altering behavior and the messages based on setup and DevTools config options sounds like an excellent idea and a very good candidate for improving this situation.

And I really appreciate the quality discussion in this thread from bo

[2021-07-14 02:32] Daniel15 commented on #21755
I hit this issue internally at Facebook too. I can repro in Chrome but not in Firefox.

[2021-07-14 03:49] devinrhode2 commented on #5618
For anyone else noticing this issue. When using next.js v11.0.1 (latest) and react 17.0.2 (latest),  using this style will give you proper component name inside react devtools:
[code]
<img width="1176" alt="Screen Shot 2021-07-13 at 10 43 18 PM" src="https://user-images.githubusercontent.com/539816/125557930-6019dc70-8954-4e78-9af8-1f384bbeda81.png">

Therefore, this issue is solved by some combin

[2021-07-14 10:31] robatwilliams commented on #21812
They're not fired in iOS 12 either

[2021-07-14 11:58] enisdenjo opened #21876 "[React 18] Bug: `Maximum update depth exceeded` on the `ref` prop when suspending"
Functional `ref` prop throws a `Maximum update depth exceeded` error when suspending.

React version: `18.0.0-alpha-464f27572-20210713`

## Steps To Reproduce

1. Click on the `suspend` button: https://codesandbox.io/s/ref-set-too-many-times-jm0c3?file=/src/App.js.

## The current behavior

Clicking on the `suspend` button throws a `Maximum update depth exceeded` error.

## The expected behavior

[2021-07-14 12:21] Annu2013 opened #21877 "Bug: Error should have queue. this is likely a bug in react."
![image](https://user-images.githubusercontent.com/40827668/125621023-d8117c6b-47f8-464c-9ae2-184018cd91e3.png)

React version:

## Steps To Reproduce

1.
2.

Link to code example:

## The current behavior

## The expected behavior

[2021-07-14 13:27] pirelenito opened #21878 "[Proposal] Add extra props argument when calling getChildHostContext"
Hi 👋

We are building a custom React renderer using the `react-reconciler` package and we ran in a situation where we would need to have access to the props of a instance in the call to `getChildHostContext`.

In short, here is the pseudo-code of what we need:

[code]

We saw that [in the implementation of the function](https://github.com/facebook/react/blob/main/packages/react-reconciler/src/Reac

[2021-07-14 13:52] matthewp commented on #11347
@josepharhar @gaearon I don't think this is a problem that React is responsible for solving. There's a related known issue with custom elements where if their properties are set before the element is upgraded, any setters you have on the prototype will not run.

Here's a codepen demonstrating that issue: https://codepen.io/matthewp/pen/rNmjoLW?editors=1010. You can fix it by uncommenting the defin

[2021-07-14 13:55] gaearon commented on #21876
I wonder if https://github.com/facebook/react/pull/21875 fixes this.

[2021-07-14 14:39] bvaughn commented on #21877
Hi!

I'm sorry you ran into this problem 😦

Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can al

[2021-07-14 15:34] gaearon commented on #21876
Yeah it does.
https://codesandbox.io/s/ref-set-too-many-times-forked-jl54z?file=/package.json

[2021-07-14 15:54] bvaughn commented on #21755
@Daniel15 Sharing repro steps with me would be helpful.

[2021-07-14 16:37] Daniel15 commented on #21755
@bvaughn I posted in the Workplace group with a repro :)
--
Regards,
Daniel Lo Nigro
https://d.sb[https://d.sb/]

Sent from my phone

Jul 14, 2021 8:54:43 AM Brian Vaughn ***@***.***>:

[2021-07-14 16:42] mdaj06 commented on #21782
Yes @bvaughn  im definitely interested to take it up! was held up with work  in the last few days. Sure will have a chat with @jstejada over the next few days!

[2021-07-14 17:01] 0xorial commented on #21763
Is it supposed to show exact line where it was called? I am using dev mode with create-react-app with TypeScript, and it shows the component, but not the specific line.

[2021-07-14 17:33] bvaughn commented on #21782
I'll let you two chat then.

[2021-07-14 17:37] #21876 closed

[2021-07-14 18:37] #21868 closed

[2021-07-14 19:10] iamfotx commented on #21674
It took me 3 hours today to figure out why React Router wasn't updating the view with React@experimental though Link was updating the URL. And in the end, it was the Strict Mode. So, no complaints. I was expecting it this way.

[2021-07-14 20:10] gaurav5430 commented on #15282
This looks like a specific solution to a specific problem, is there a general pattern for this?

From hooks faq, it seems one of the correct ways / last resort is to memoize the function at the point it is defined, which means it is somehow the responsibility of the parent to do the memoization and the child has no explicit control over it. There is no easy way for the parent to even know that the

[2021-07-14 22:46] fbaura opened #21882 "view components tree"

[2021-07-14 22:53] bvaughn commented on #21882
@fbaura What's this issue about?

[2021-07-14 22:54] bvaughn commented on #21849
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-07-14 22:54] #21849 closed

[2021-07-14 22:54] bvaughn commented on #21724
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-07-14 22:54] #21724 closed

[2021-07-14 22:55] bvaughn commented on #21725
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-07-14 22:55] #21725 closed

[2021-07-14 23:21] bahrus commented on #11347
I think it would be great if all web components did exactly what @matthewp  is talking about -- I think maybe the web component community should adopt some checklist to give a "passing grade" on that basis.  I suspect most do, as most are built using a high quality library, but it could certainly be something one of them missed.  I agree that's not on React to fix or even work around really (excep

[2021-07-14 23:52] #16472 closed

[2021-07-15 00:03] Jurgen-i-m opened #21883 "START"

[2021-07-15 00:19] morewry commented on #11347
I keep seeing people say this, but it really doesn't make sense to me. Why is it "not React's job" as a DOM abstraction layer to provide adequate support for new DOM features?

[2021-07-15 00:38] #21883 closed

[2021-07-15 00:50] bahrus commented on #11347
Oh, I most definitely do think it is their job, or at least I would like for them to think so.  I believe option 3 would be the way to go, but it appears to be off the table. In the option 2 world, where they've failed their job ( :-) maybe that's too harsh ), we have to choose between two not so great options, I think. We either forcibly wait for each custom element to upgrade before passing most

[2021-07-15 03:02] justingrant commented on #16472
Did this feature get implemented?  Both linked PRs were closed not merged, but is this merged somewhere else?  If so, yay! 🎉

[2021-07-15 03:12] iamyoki commented on #4244
It's because you can pass ref to built-in DOM elements but you can't pass ref to your components directly.
[Here is how to pass ref to a child component.](https://reactjs.org/docs/forwarding-refs.html#gatsby-focus-wrapper)

[2021-07-15 03:33] ry596384086 opened #21884 "Bug: useState set the same value, trigger the render"
In React Hooks, useState set the same value, trigger the render

React version:17.0.2

## Steps To Reproduce
[code]

1.click Load[setLoading(true)], do not trigger the render, not console.log
2.click test[setCount(pre => pre + 1)], trigger the render, console.log('log: ', 1);
3.click Load[setLoading(true)], trigger the render, console.log('log: ', 1);

why did this trigger the render when I clicke

[2021-07-15 07:54] uragirii commented on #21877
This usually happens when the order of hooks in which they are initialised is changed.

[2021-07-15 12:20] ShahirZain commented on #21884
hi dear. .  this is not a bug , this is expected behavior of useState because when the value of useState is not change it will not create new memory pointer and will not rerender the component because nothing is changed. .  when you click on Test button it will change the memory pointer of the object where useState save the data so that is the reason behind this

[2021-07-15 13:07] grncdr commented on #16873
I actually needed this for the first time yesterday, so I implemented it in my fork. Available now as `@grncdr/eslint-plugin-react-hooks@4.2.0-fix2`

[2021-07-15 14:37] rhagigi commented on #21783
TIL about this, and I agree it's really confusing (both before and after the silencing). The silencing here makes it really difficult to debug double-rendering issues and causes confusion when I'm trying to explain that constructors/renders run twice in StrictMode.

I think I agree that a console message that at least *tells* you that react has silenced a double-rendered console.log even one time

[2021-07-15 14:45] bvaughn commented on #16472
No. I decided against landing it, as per the comments I left here: https://github.com/facebook/react/pull/18746#issuecomment-880274363

[2021-07-15 14:55] bvaughn commented on #21783
Yeah, we'd only print such a message once (per session) if we added it. (Similar to how we only print other DEV messages once to avoid clogging the console.) My comment above was more meant to point out that we _really wouldn't want to_ print a message before _every time_ we silenced the console.

I think we could go further still than the code example shown above, and only print the message if a

[2021-07-15 14:56] rhagigi commented on #21783
That is exactly what I just suggested @bvaughn... 😄

[2021-07-15 14:57] bvaughn commented on #21783
I misread your suggestion as logging the first time right before we started double render. My bad.

[2021-07-15 16:30] bvaughn commented on #21882
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-07-15 16:30] #21882 closed

[2021-07-15 16:49] bvaughn commented on #21796
To repro this case...

1. Use `create-react-app` to create a new app
2. Start the DEV mode server (`yarn start`)
3. Add the following content to the `App.js` file:
[code]
4. Open DevTools, select the component, and load hook names
5. Now edit the content:
[code]
6. Re-select the component after Fast Refresh updates the page
7. DevTools will now show two hooks: the first one (incorrectly) named as

[2021-07-15 18:22] gaearon commented on #21796
Fast Refresh Runtime [calls](https://github.com/facebook/react/blob/682bbd0e7212df0bfe1d8017284e2822d281f7ea/packages/react-refresh/src/ReactFreshRuntime.js#L288) `scheduleRefresh` on the injected renderer interface. Can DevTools wrap/intercept that?

[2021-07-15 19:16] pappyJ opened #21888 "Bug: Useeffect Dependency List Dosent Recorgnise optional chaining"
React version:

## Steps To Reproduce

1.Write code with side effects inside the useeffect block

2. list out the side effects using optional chaining to refer nested deps.

 code example

 useEffect(() => {
    getProfessionalWorkImages(myProfession?._id);
  }, [getProfessionalWorkImages, myProfession?._id]);

## The current behavior

React still complains about missing dependencies on console

#

[2021-07-15 19:54] bvaughn opened #21889 "[DevTools] Console logging and StrictMode double rendering"
React currently suppress all console logs during while rendering (or double invoking render phase lifecycles) to reduce console noise. Unfortunately this often causes confusion and leads to complaints (see the discussion on #21783). We could leverage DevTools to improve the default experience and give developers control over this behavior.

- [ ] Disable console suppression by default in React.
-

[2021-07-15 19:55] bvaughn commented on #21783
See #21889 for a proposed solution for this, based on community feedback and discussion with the core team.

[2021-07-15 20:01] bvaughn opened #21890 "[DevTools] Global console log"
Builds on top of #21889.

Console logs are currently scattered and confusing (e.g. double rendering may show logs twice, logs printed before a component suspends may appear to be truncated unexpected and then later printed again when retrying). Overall the sequence of logs in the console can be confusing.

The DevTools backend should collect logs during render (and double render) store them until

[2021-07-15 20:03] bvaughn commented on #21796
That's an interesting idea!

Let me look into that. 😄

[2021-07-15 20:13] bvaughn commented on #21796
I think I might just remove `key` and combine the `ref` and HOC badges into a single panel up top:
![Screen Shot 2021-07-15 at 4 12 12 PM](https://user-images.githubusercontent.com/29597/125851464-9885ed83-f3fe-400c-becc-dde48ae7d82f.png)

![Screen Shot 2021-07-15 at 4 12 28 PM](https://user-images.githubusercontent.com/29597/125851469-e5223c29-b31d-4f92-ac75-35a9be9996b6.png)

[2021-07-15 20:27] jasonwilliams commented on #14361
@tsangint did you ever figure out how to get around this issue?

[2021-07-15 20:34] gaearon commented on #21796
"hocs" are kind of unfortunate as the concept is already confusing enough, and here we have an abbreviation. I was kind of liking that we don't give it an explicit name and just show a badge.

[2021-07-15 20:40] bvaughn commented on #21796
This was my reservation too, although I also really disliked seeing a HOC strip _and_ a "ref" strip as separate panels. This mock/POC was trying to combine them a little.

I think the concern about showing "hocs" like as a props-like-named-key is good though :( Hmmm.

[2021-07-15 20:42] bvaughn commented on #21796
Also LOL I just discussed that I left my previous comment on the wrong issue. I am so bad at context switching.

[2021-07-15 20:48] justingrant commented on #14361
Hi Jase!  BTW, the URL above has been moved. New URL is this: https://rollupjs.org/guide/en/#warning-sourcemap-is-likely-to-be-incorrect

[2021-07-15 20:53] gaearon commented on #21796
HOCs are kind of fading away though? I don't know if they're even that common in practice in modern codebases.

[2021-07-15 21:02] bvaughn commented on #21796
Let's move this chat to the right thread 😅 #21879

[2021-07-15 22:47] jasonwilliams commented on #14361
Hey @justingrant thanks for the link.

I got this working somewhat, I updated Rollup and all of the plugins, set sourcemaps to true and `SourceMaps: true` in the babel config. Then worked through the plugins.

Some I had to comment out though as i don't know how to add mapping support to some of these [internal plugins](https://github.com/facebook/react/tree/main/scripts/rollup/plugins) I think `c

[2021-07-15 22:48] jasonwilliams commented on #20186
I got this working somewhat, I updated Rollup and all of the plugins, set sourcemaps to true and `SourceMaps: true` in the babel config. Then worked through the plugins.

Some I had to comment out though as i don't know how to add mapping support to some of these [internal plugins](https://github.com/facebook/react/tree/main/scripts/rollup/plugins) I think `closure` and ` strip-unused-imports` can

[2021-07-15 22:51] bvaughn commented on #20186
@jasonwilliams Could you push your work somewhere so anyone else who's interested could look at it?

[2021-07-15 22:56] jasonwilliams commented on #20186
Comparison: https://github.com/facebook/react/compare/main...jasonwilliams:addSourcMaps?expand=1
Branch (build file):  https://github.com/jasonwilliams/react/blob/addSourcMaps/scripts/rollup/build.js

[2021-07-15 23:42] marianadev commented on #15706
I had a similar issue but with react-router and I was able to fix it using `peerDependencies` instead of `npm link`.
Here is the package.json from the library
[code]
And here is the package.json of the app that is consuming the library:
[code]

[2021-07-16 03:35] execptionerror commented on #16045
[[Solved] Uncaught TypeError: Cannot read property ‘ContentContainer’ of undefined [2 working Solution]](https://exerror.com/uncaught-typeerror-cannot-read-property-contentcontainer-of-undefined/)

[2021-07-16 03:39] #21796 closed

[2021-07-16 04:26] vassadia opened #21895 "react developer tools"
I successfully installed the extensions but i am not able to see the the news tabs ( components and react

[2021-07-16 07:44] ConradSollitt commented on #11347
@matthewp Great demo on your CodePen, I didn't even know (or forgot) that attempting to set an attribute before the element is defined results in it not working. I'm used to making sure all my code runs `customElements.whenDefined` to avoid that issue but you demonstrate how it's easy to break.

**All,**
The is one condition condition (likely edge case) I'm aware of when using Option 2. Basically

[2021-07-16 07:59] ry596384086 commented on #21884
thanks!  but I did not find the relevant source code, could you tell me which file it is in ?

[2021-07-16 11:53] bilalebi commented on #20446
I had the same issue and used [dangerously-set-html-content](https://github.com/christo-pr/dangerously-set-html-content) package which does exactly what you want.

I hope React team will alter `dangerouslySetInnerHTML` behaviour to support `<script>` tags in the futur.

[2021-07-16 13:55] Elias-Graf commented on #20568
@Vadorequest were you able to solve this? I'm facing this issue right now and my poor console buffer is not happy about it.

`package.json`
[code]

[2021-07-16 13:58] bvaughn commented on #21895
The Components and Profiler tabs will only be visible when you're viewing a website that uses React. Try opening [reactjs.org](https://www.reactjs.org) as an example.

[2021-07-16 13:58] #21895 closed

[2021-07-16 14:10] mbostwick commented on #21787
@bvaughn did that help clear up the confusion ? I'm happy to move this over to https://github.com/reactjs/rfcs if its clear what the approach should be for classes with hooks, my impression of 18 is that many libraries and components are going to have to be adjusted to work as expected, I understand that may be hasty. It just seems like a problem that would be easily understood, and would be talke

[2021-07-16 15:31] AbrahamLopez10 commented on #21783
In principle, just because something can be done doesn't mean it should be done.

If JavaScript didn't allow monkeypatching or React had been made in a language not allowing you to override/disable logging... what other approach could have been taken?

[2021-07-16 17:55] gaearon commented on #21783
As the previous comment says we’re already planning a different strategy. There is no need to reiterate a point that has been made multiple times in this thread. :-)

[2021-07-16 18:38] l-monninger opened #21899 "Bug: Transactions with React Context data store are aggregated when called within same function"
I've made a SO post about this [here](https://stackoverflow.com/questions/68412614/react-context-updates-in-same-function-body-are-aggregated-as-a-single-transacti). I'm not sure that this is a bug, as it is something I can work around. I am more interested in understanding why this should or shouldn't be expected behavior.

React version: 17.0.2

## Steps To Reproduce

1. Open Sandbox.

The examp

[2021-07-16 20:31] bvaughn opened #21900 "[DevTools] Refactor imperative theme code"
DevTools defaults a "light" and a "dark" theme in a root-level CSS file:
https://github.com/facebook/react/blob/310187264d01a31bc3079358f13662d31a079d9e/packages/react-devtools-shared/src/devtools/views/root.css#L1-L188

The current theme value ("light", "dark", or "auto") is stored in the [`ThemeContext`](https://github.com/facebook/react/blob/main/fixtures/nesting/src/shared/ThemeContext.js) and

[2021-07-16 20:50] houssemchebeb commented on #21900
Hi @bvaughn,  can i take this ?

[2021-07-16 22:29] jstejada commented on #21782
hey @mdaj06! just wanted to check in on this issue. I'm out next week, but I'm planning to start working on this pretty much full-time starting on July 26.

I was wondering if you already got started on this task or made any progress on any of the items above? happy to connect and sync up to figure out  how best we could approach collaborating on this, if you are still interested.

thanks!

[2021-07-16 23:05] markerikson commented on #21899
The code in the PasteBin is formatted a bit awkwardly.  But as far as I can tell, this is entirely standard React batching behavior.  Multiple state updates queued in a single event handler will all be batched into one render pass:

https://blog.isquaredsoftware.com/2020/05/blogged-answers-a-mostly-complete-guide-to-react-rendering-behavior/#render-batching-and-timing

That said, your code also lo

[2021-07-16 23:14] markerikson commented on #21787
I'm going to echo Brian here and say that it's still very unclear what you're asking for here.

I'll give a slightly more blunt take than the React team probably will:

Classes are never going to be given access to hooks. It goes against everything they're trying to work on right now.

Classes aren't being truly "deprecated", because the React team isn't going to force the entire React ecosystem t

[2021-07-17 00:55] bvaughn commented on #21900
This issue is all yours @houssemchebeb 😄

I've added the **"good first issue (taken)"** label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Cheers!

[2021-07-17 01:01] bvaughn commented on #16477
Note that a combination of #20998 and #21856 will eventually enable this feature to work the way everyone wants it to.

[2021-07-17 02:40] mbostwick89 commented on #21787
Given your relationship to redux, and your [sentiment](https://en.wikipedia.org/wiki/Carrot_and_stick) likely being shared, I think its clear people should avoid es6 classes in the final export at this point (also as to how the core team is thinking about change over time in ECMA, it seems its not being considered or at the least not being talked about ?)...as to exactly what I was looking for in

[2021-07-17 02:52] markerikson commented on #21787
The React team has done a great job of providing codemods for syntax changes like `componentWillReceiveProps` -> `UNSAFE_componentWillReceiveProps`.  But, those are fairly straightforward mechanical transformations.

There's obvious parallels between class components and function components, but it's exactly the kind of nuance and potential bugs you're pointing to that makes it hard if not impossi

[2021-07-17 03:18] rainealexander commented on #21827
It looks like it may be possible to use `process.env.EDITOR` to check the user's default text editor, but it's not guaranteed to be a coding environment

[2021-07-17 03:52] mbostwick commented on #21787
The problem is most features that react 18 adds makes it so you don't get the performance boosts with out the usage of hooks..i.e. I don't actually think there's a huge value converting DateEditor, but something like react-virtualized and google maps would actually benefit from certain things using hooks, but who in there right mind would want to get near that kind of pr, hence the reason why allo

[2021-07-17 03:54] mbostwick commented on #21787
...Please forgive, the mistake, used the wrong username to post to this ticket..reposting under the proper user name..

Given your relationship to redux, and your [sentiment](https://en.wikipedia.org/wiki/Carrot_and_stick) likely being shared, I think its clear people should avoid es6 classes in the final export at this point (also as to how the core team is thinking about change over time in ECMA

[2021-07-17 03:55] mbostwick commented on #21787
The problem is most features that react 18 adds makes it so you don't get the performance boosts with out the usage of hooks..i.e. I don't actually think there's a huge value converting DateEditor, but something like react-virtualized and google maps would actually benefit from certain things using hooks, but who in there right mind would want to get near that kind of pr, hence the reason why allo

[2021-07-17 03:55] #21787 closed

[2021-07-17 04:00] mbostwick commented on #21787
Closing this though, since it seems like, its a situation where it is what it is..feel free to open it up though(if you have permissions) and think there's value in doing so.. I think using 18 is going to be really hard given the way es6 classes are, and it pains me to move things to a new style, when classes were the pattern not that long ago..but that just feels like I'm cranky about change.. ho

[2021-07-17 04:08] l-monninger commented on #21899
Hi, @markerikson ! Thanks for the response and the link on batching! Could you possibly point me to where the batching that's affecting my method is in the React source?

On the pattern: I'll try to provide a code sandbox sometime tomorrow. I don't really see the difference between adding dispatch to state and making setters that use the dispatch (or similar) which is a pretty widely used pattern

[2021-07-17 04:41] l-monninger commented on #21899
@markerikson One thing I would be curious about is whether you think some kind forceUpdate called in between should ideally trigger a render sequence that respects the order of the pre-compiled calls. I've also included this in the sandbox: https://codesandbox.io/s/vigorous-butterfly-8nlns?file=/src/Example.tsx

While I get that this a rather imperative pattern for react. In my eyes, forcing an up

[2021-07-17 05:20] 0xdevalias commented on #14361
I was deep diving into this the other week as well.. was writing up notes/observations as I went.. but then got sidetracked and never completed it. Will include the notes I do have in an expandable below in case it helps anyone else:

<details><summary>Click to expand</summary>

In case it's of use for anyone else that stumbles across this issue:

This is where I changed the rollup build script to

[2021-07-17 05:25] 0xdevalias commented on #20186
My notes/main area of focus in https://github.com/facebook/react/issues/20186#issuecomment-881832260 was on the closure compiler. It has the ability to generate sourcemaps already, just needs to be configured to do so.

Here's the diff I have locally, I had this working the other day for this part, but haven't tested again since if I modified this diff further.. so it might not be perfectly workin

[2021-07-17 06:53] elzup commented on #15188
I love react, but I'm melting Firebase quota all the time in this pit.

[2021-07-17 07:31] houssemchebeb commented on #21900
Thanks :)

[2021-07-17 08:30] mdaj06 commented on #21782
Hey @jstejada i have started looking into the first item will update you on the progress soon! Let me know how we can collaborate on this task.

[2021-07-17 10:39] jasonwilliams commented on #14361
You can give each plugin a name, the instead of saying “position 6” it will say “use strict” for example. In my branch I did this

[2021-07-17 11:56] PutziSan commented on #15188
I would recommend to use  https://github.com/kentcdodds/stop-runaway-react-effects nowadays. It is basically my proposed solution from above, but overwrites the useEffect hook directly during development.

[2021-07-17 11:56] #15188 closed

[2021-07-17 14:39] MaxmaxmaximusAWS opened #21903 "React 18 let's make ref.currant to be reactive value"
Let's add this hook as part of the core. Since this is a common need, many people often ask the question "Why does useEffect not sense ref.current changes?"

[code]

[2021-07-17 14:56] #21899 closed

[2021-07-17 15:12] markerikson commented on #21899
Okay, so best as I can tell from that sandbox, you're calling `makeCapiProcess` inside of a `useEffect`.

As I understand it, React handles state updates queued in `useEffects` by batching them together and running them all at the end of the "passive effect" phase, ie, after all `useEffect`s are done executing, per that post I linked earlier.

The "dispatch in a state object" thing is really about

[2021-07-17 15:38] l-monninger commented on #21899
@markerikson makeCapiProcess doesn't actually run the logic of the function, it just makes a function with the updated value of the state; it's a factory pattern. In this case, the most relevant updated value is that of dispatch. Glad I could be a little unique haha. But, yeah, I can see how it would negatively affect understandability.

Very good to know about the setTimeout. Still would love to

[2021-07-17 15:47] markerikson commented on #21899
Ah, you're right - I misread the signature of that function, and thought it was running the body of that logic immediately instead of returning a function. My bad.

Re-reading the source, it looks like `runCapiProcess` does still get called in a `useEffect`, though, so my prior comment about how the state updates will get batched still stands.

Really, there's two aspects happening here:

- You've

[2021-07-17 16:46] kkanekii commented on #21903
Hey that's a pretty good idea! There's a tiny typo in the usage example, In my view it should be const! Make sure to change that, I'll find out someone to tag and help out here.

[2021-07-18 00:03] jplindgren commented on #18945
I believe I have the same problem as @flydge .
![image](https://user-images.githubusercontent.com/3172397/126051919-b64f2109-8e77-4bdd-8e89-393a4958995c.png)

[2021-07-18 10:29] RayLuxembourg opened #21909 "typescript Missing multi forward ref ability"
**Description:**
Allow passing multiple refs using forward ref or new function that accepts refs as object containing multiple refs

Currently typescript will throw errors but it works.
Seems like only a type issue.

[2021-07-18 15:01] RusmiselE-lattice commented on #21909
@RayLuxembourg The typedefs for react are in the [`@types/react`](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react) package, so that repo may be a better place for this issue. Also, a code example would make it easier to understand the problem

[2021-07-18 15:36] bvaughn commented on #21909
The React team doesn't maintain the TypeScript React definitions, so I'm going to close this issue.

[2021-07-18 15:36] #21909 closed

[2021-07-18 15:39] bvaughn commented on #21903
Making refs "reactive" as you say would essentially make them the same as the `useState` hook. If you want a value that ensures a re-render on change, use the state hook. Can you explain why that would not be sufficient?

[2021-07-18 16:20] qpwo commented on #15156
FYI to future readers, there is an open PR for context selectors, so it might happen sometime: https://github.com/reactjs/rfcs/pull/119

[2021-07-18 19:24] bvaughn commented on #20186
Switching to the Java one was done intentionally to address memory and speed problems with the JS compiler. (See #12800)

[2021-07-19 09:32] n0ruSh opened #21910 "Discussion: break up `import()` that are NOT doing ES import work ?"
# Background information

I have been developing a [fimga](https://www.figma.com/) plugin and recently get an exact error as described in https://github.com/figma/plugin-typings/issues/36. The root cause is that the [Secure ECMAScript (SES)](https://github.com/endojs/endo/tree/master/packages/ses) in figma tries to block any instances of the `dynamic import expression` in the code being evaluated.

[2021-07-19 11:52] enjoy-wind opened #21911 "Bug: The high CPU in the React GPU rendering process causes the page to freeze。"
React version: 15.3

## Steps To Reproduce

CONIF: CPU：2G  Browser: Chrome/91.0.4472.164.  System: Windows NT 10.0.17763 GPU: 2G VENDOR= 0x1414, DEVICE=0x008c, LUID={0,16455}

Link to code example:

## The current behavior
Current : Browser full screen and 15+form object ,, the page will freeze.（About 10s to delay）
Other:Not full screen or open the console, the page will not freeze.

## The expect

[2021-07-19 13:06] gmoniava opened #21912 "Bug: Potential bug in “official” useInterval example"
I know this maybe not react related but it is related to a blog post by react team member.
The bug is explained here: https://stackoverflow.com/questions/68407187/potential-bug-in-official-useinterval-example
I think feedback from react team would be useful.

[2021-07-19 13:44] bvaughn commented on #21912
The report on Stack Overflow doesn't look like a bug to me.

The answer that suggests updating the ref during render would be a side effect, which [should be avoided because it will cause problems](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects).

The "correct" one is the one that has been committed. For one reason, committed effects are the only ones that are guarante

[2021-07-19 13:55] gmoniava commented on #21912
@bvaughn AFAIK the answer doesn't suggest to update the ref during render, the author was just contemplating; he states that he knows it is a bad idea to update it in render because of async rendering (bottom of question). Regardless, the custom `useInterval` still seems to be buggy.

[2021-07-19 13:59] bvaughn commented on #21912
I think that thinking of it as an "old" callback is maybe the wrong mental model. At some point in the future, after an application updates, any callback is an "old" callback.

[2021-07-19 14:09] gmoniava commented on #21912
@bvaughn FYI another developer similarly reported similar issue as a bug: https://stackoverflow.com/questions/61999810/store-a-callback-in-useref/68104782#68104782. I understand them, because AFAIK the goal of that approach Dan did in that code, was that, if someone passed a new callback to `useInterval` during render, then that callback was supposed to be executed instead of a one from previous r

[2021-07-19 14:10] bvaughn commented on #21912
The new callback prop should only be executed _if it was committed_.

[2021-07-19 14:15] bvaughn commented on #21911
Unfortunately, it doesn't look like this issue has enough info for one of us to reproduce it though. This means that **it's going to be very hard for us to fix**.

Please help us by providing a link to a CodeSandbox (https://codesandbox.io/s/new), a repository on GitHub, or a minimal code example that reproduces the problem. (Screenshots or videos can also be helpful if they help provide context o

[2021-07-19 14:16] bvaughn commented on #21877
I'm going to close this issue because it doesn't have enough info for one of us to reproduce it.

[2021-07-19 14:16] #21877 closed

[2021-07-19 14:17] gmoniava commented on #21912
@bvaughn Quote from Dan's blog:

How about this?

[2021-07-19 14:18] bvaughn commented on #21912
How about what? I'm not sure I understand.

When Dan says, "_after the last render_", he literally means "after the render, in an effect" (as is shown in the code example right below that)

[2021-07-19 14:21] gmoniava commented on #21912
@bvaughn Ok, it seems confusion comes from the fact, which callback do we consider the _latest_.

I am also not sure with the terminology you used above _committed_, as I haven't started using React 17. Anyway, if there is something more to say I think we better do it on Stack Overflow thread, there is more visibility.

What I am trying to say you can see there are at least three developers who go

[2021-07-19 14:25] bvaughn commented on #21903
To be clear, the issue is not that a change in ref value won't re-run an effect. It's that a change in ref value won't re-render a component. (If something else happens to re-render the component, and a ref value is passed in as a dependency– the effect would re-run. The reason we advise _against_ using refs in the dependencies array is that changes to refs don't cause a component to re-render in

[2021-07-19 14:26] gmoniava commented on #21912
@bvaughn Ok, it seems confusion comes from the fact, which callback do we consider the latest. I am calling latest the one which was updated as a result of latest render (before useEffect was run).

I am also not very familiar with the concept you used above committed, as I haven't started using React 17.

What I am trying to say you can see there are at least three developers who got confused abo

[2021-07-19 14:29] bvaughn commented on #21912
I think our conversation is kind of going in a circle.

Originally, you asked if this was a bug and I responded and said it wasn't, and tried to explain why. I also responded to the Stack Overflow as well.

I'm not sure what we're talking about now. It seems like you're concerned that the article is a little confusing, and maybe it is. Maybe it could have been clearer. That's not something I can a

[2021-07-19 14:30] gmoniava commented on #21912
@bvaughn Ok, my point is if I was a consumer of `useInterval` custom hook, I would expect it to run the latest callback - latest, in the sense of the one which I passed during last render, isn't it?

[2021-07-19 14:33] bvaughn commented on #21912
I think you'd have to take this up with Dan. I'm not sure what else to add. The way it's written seems intentional (no side effects during render).

[2021-07-19 14:34] gmoniava commented on #21912
@bvaughn I don't know how to reach him I don't have twitter, maybe you can show him the stack overflow question. At least you can see I am not the only one confused.

[2021-07-19 14:43] gmoniava commented on #21912
@bvaughn There is also a related question: https://stackoverflow.com/questions/61999810/store-a-callback-in-useref, in case you will be interested to write an answer for on SO. It doesn't have a official answer. And seems popular question.

[2021-07-19 15:25] taejs commented on #16416
I'll investigate it.

[2021-07-19 16:40] jacty commented on #21910
`import()` is a ES6 feature has been widely supported. https://caniuse.com/?search=import()
And React.lazy() uses it to support Suspense Component, which is a core part of React Concurrent. If you don't use Suspense, I guess, the block of it won't give rise to any issue in your case.

[2021-07-19 16:49] bvaughn commented on #21910
I _think_ the request here is to break the _string_ "import()" up to avoid a false positive in the external code:
https://github.com/facebook/react/blob/9b76d2d7b3a86ffde945f88b758a0537aeca027a/packages/react/src/ReactLazy.js#L90-L93

e.g.
[code]

I'm not sure what others will think of this request (to modify React source b'c of the way an external project _happens to work_) but we can leave the r

[2021-07-20 01:50] mogzol opened #21914 "Bug: useEffect not running with back-to-back renders despite dependencies changing"
React version: 17.0.2

## Steps To Reproduce

Please see the example linked below. I have a `useEffect` with a dependency on some value within a ref, and I'm relying on other `useState` updates to trigger re-renders. If I change the ref value, then call a `useState` setter and also queue an immediate re-render with `setTimeout(..., 0)`, then there will be two back-to-back renders, but the Effect n

[2021-07-20 02:44] n0ruSh commented on #21910
Yep, I'm not sure either whether this should be done in React so I raised it as a discussion. Also I saw React seems to have done some similar work before.

https://github.com/facebook/react/blob/9b76d2d7b3a86ffde945f88b758a0537aeca027a/packages/react/src/ReactLazy.js#L93-L95

Sure. [PR](https://github.com/facebook/react/pull/21918) here :-)

[2021-07-20 03:22] Sorgrum opened #21919 "Bug: React component library with dependency that has a React dependency gets Error: Invalid hook call when using npm link"
React version: 16.3.1

## Steps To Reproduce

1. Create a react project `npx create-react-app app`
2. Create a react library `npx create-react-library library`
3. Add a dependency to `library` that has a dependency on React `cd library && yarn add @material-ui/core`
4. Link between the two `cd library && npm link`, `cd library && npm link library`
5. In the `library` project, make a component usin

[2021-07-20 04:20] bvaughn commented on #21919
This error indicates that your project is pulling in more than one copy of React.

That being said, questions about Webpack/Babel configurations or Yarn/NPM resolutions are generally better directed to Stack Overflow 😄

##### Coding Questions

If you have a coding question related to React and React DOM, it might be better suited for Stack Overflow. It's a great place to browse through frequent qu

[2021-07-20 04:20] #21919 closed

[2021-07-20 06:35] eps1lon commented on #21914
Thanks for the feedback.

The ESLint warning from `react-hooks/exhaustive-deps` already mentions this problem:

If you want to "make a ref reactive" you can read and write the value with `useState` instead.

[2021-07-20 06:35] #21914 closed

[2021-07-20 07:35] josepharhar commented on #11347
Thanks for the feedback everyone! This is very helpful!

@bahrus

I see - we could explicitly not support the case where you are trying to render JSX attributes onto a custom element which hasn’t been upgraded yet by doing nothing until the custom element has been upgraded - it does sound like this isn’t a case people are running into often…
This line of thinking would suggest that we shouldn’t re

[2021-07-20 08:14] ConradSollitt commented on #11347
@josepharhar
Thanks for reviewing the issue and considering it. I like your idea of having a "checklist" of compatible custom element behavior. I wouldn't expect this to break many component libraries for React (if any); if it did break something it would be a quick fix on the authors part. I've authored some Web Components and that's how I found the issue (basically the Components worked with Rea

[2021-07-20 08:56] Nefcanto opened #21920 "Bug: Not enough information in stack trace"
When I want to build my website, I see this error:

[code]

This has no reference to **my code**. I can't understand what the problem is.

A typical website can have pages that can have at least 500 lines of code. This stack trace does nothing in troubleshooting the error.

And when I go to the URL you have provided, all I see is this:

It's a little help. But where should I find this? What file?

[2021-07-20 11:47] MaxmaxmaximusAWS commented on #21903
useCallback is sugar on top of useMemo, but why did we add useCallback when there is already useMemo? Because useCallback is a common use case. useState is sugar on top of useReducer, but we just added useState. People often mistakenly try to specify ref.current as dependencies of other hooks. And they often make a mistake, because ref.current is not a reactive value. To make ref.current reactive,

[2021-07-20 11:58] gaearon commented on #21903
Can you share some examples of how you'd use it? Meaning concrete examples where you want `.current` to be a dependency. I'd like to better understand the scenarios you're describing.

[2021-07-20 12:01] MaxmaxmaximusAWS commented on #21903
[code]

[2021-07-20 12:47] bahrus commented on #11347
Yes, @ConradSollitt, in the most imperfect world option 2 forces us into (why is JSX so ossified? (sigh)), I think Preact's solution is the better one.  I have confirmed that there are some high quality web component libraries, such as those from SAP (UI5) which use attributes as key "state expressions" on which styling is based, so artificial delays in being able to set those attributes seems lik

[2021-07-20 12:50] kkanekii opened #21921 "Dark Mode"
Does The React Website have a nice and clean Dark Mode?
if so please make it more clearer where it is

incase it does not have dark mode, Please Make it a Feature, which would attract people to the website

[2021-07-20 12:55] sj-rai commented on #21777
@bvaughn I have created a PR, pls let me know if any changes are needed.

[2021-07-20 13:25] bvaughn commented on #21903
The example above already works without anything in the dependencies array:
[code]

Since `<div>` isn't conditionally rendered, and the effect runs whenever the component is mounted/shown, then the two already align. If `<div>` _was_ conditionally rendered, then the prop or state that determined the render could be used instead. For example:
[code]

Could you maybe provide another example that _do

[2021-07-20 13:38] bvaughn commented on #21921
The documentation and source for [reactjs.org](https://reactjs.org/) are in a different GitHub repository.

Please open a new issue in that repository:
[https://github.com/reactjs/reactjs.org](https://github.com/reactjs/reactjs.org/issues/new)

Sorry for the inconvenience! 🙂

[2021-07-20 13:38] #21921 closed

[2021-07-20 13:43] bvaughn commented on #21920
If you're seeing a build error from Next, you'll need to search their documentation (or perhaps reach out to their support for help).

It looks like you already opened an issue with Next: https://github.com/vercel/next.js/issues/27330

[2021-07-20 13:43] #21920 closed

[2021-07-20 13:56] kkanekii commented on #21921
ohh im so sorry i wasnt sure, thank you!

[2021-07-20 13:59] bvaughn commented on #21921
No problem!

[2021-07-20 13:59] nordfjord commented on #17552
We're having the same issue as thetrime.

We're using the development builds of react and react-dom and dynamically loading applications via SystemJS.

This means react-dom always loads before react-refresh in our scenario.

A workaround for now seems to be to install the react-devtools chrome extension as that makes the `__REACT_DEVTOOLS_GLOBAL_HOOK__` available